[2018-01-08 11:38] alykhantejani commented on #386
hmm, not so sure about this as another common use for a pre-trained network is to continue to train it (finetune)

[2018-01-08 11:54] alykhantejani commented on #387
Hi @lpuglia,

This seems to be from deep down in PIL [here](https://github.com/python-pillow/Pillow/blob/81c88b1ead5343d9778a82977c9c6c1150fd9738/src/libImaging/Blend.c#L29)

You can only perform these operations of images of type uint8 (8-bit pixels).

Perhaps we should add a check in torchvision as the PIL errors are not very helpful in this case

[2018-01-08 11:58] alykhantejani commented on #385
hmm strange. The install of pillow should in turn install zlip. Can you install zlib with `apt-get install zlib` and try again

[2018-01-08 12:03] lpuglia commented on #387
well, sounds weird, if I do:

[code]

I get:

`TypeError: Input type int8 is not supported`

I tried multiple types and no way to augment my dataset with torchvision, can you write me an example?

[2018-01-08 13:50] alykhantejani commented on #387
Hi @lpuglia,

The input must be 8-bit **unsigned** ints. So this will work:
[code]

[2018-01-09 04:33] gauss-clb commented on #385
I try to use `pip install torchvision`, it works.

[2018-01-09 04:33] #385 closed

[2018-01-09 12:20] alykhantejani commented on #387
Closing as this should be the solution. If you're still running into issues feel free to comment on the issue @lpuglia

[2018-01-09 12:20] #387 closed

[2018-01-09 14:08] Coolnesss opened #388 "Dataset target datatypes vary between Datasets"
For example, when using `torchvision.datasets.MNIST`, the targets are returned as type `int`:
[code]

But when using the SVHN dataset, they are returned as `numpy.int64`:

[code]

A minor issue, I'm sure, but one nevertheless. This is because it's possible to turn a list of `int` into `torch.LongTensor`, but not `numpy.int64`:

[code]

[2018-01-10 07:40] muzi-8 commented on #352
@CharlesxrWu
I faced the same problem.
my pytorch is installed by offline. so how i to change the transforms.py? or Any suggestions?
Thanks!

[2018-01-10 07:43] CharlesxrWu commented on #352
@muzi-8
You can find where is your transforms.py file now. Download the right copy of transforms.py from Github, then replace the old one with the new one. It can work.

[2018-01-10 09:03] muzi-8 commented on #352
@CharlesxrWu
Thanks for your detailed reply. It has solved my problem.

[2018-01-11 14:06] vishwakftw commented on #388
For the issue with different datatypes in different datasets, MNIST is a pickled object when downloaded from source, whereas SVHN is stored as a `.mat` file, and uses `scipy.io` to load it. `scipy` uses `numpy` and hence the returned value is of type `numpy.int64`.

[2018-01-11 14:44] Coolnesss commented on #388
@vishwakftw You're probably correct, but I still think the torchvision API should be consistent in the returned datatype.

[2018-01-11 15:06] alykhantejani commented on #388
we could probably cast the numpy.int64's into regular ints cc @fmassa wdyt?

[2018-01-12 09:18] Coolnesss commented on #388
I could draft a PR if you're interested. Could have a look at the other datasets as well, make sure they're consistent.

[2018-01-12 10:19] alykhantejani commented on #388
@Coolnesss that'd be great - thanks!

[2018-01-12 14:42] Coolnesss commented on #388
@alykhantejani Please have a look at https://github.com/pytorch/vision/pull/389 :)

[2018-01-13 02:40] lucidfrontier45 opened #390 "possibly wrong dependency of conda pkg"
When I tried to install CPU-only version of pytorch and torchvision with conda by the following cmd

[code]

conda also tried to install cuda80 version of pytorch as well.

[code]

I know `pytorch-cpu` pkg was only published very recently. Maybe torchvision's conda pkg metadata is out of date.

FYI, installing torchvision through pip works correctly after pytorch-cpu was installed.

[2018-01-17 08:40] haofanwang opened #391 "Version of densenet"
May I ask what's the version of densenet in torchivision.models ? The original or [efficient_densenet_pytorch](), as the original is memory hungry. If it's the original version, would pytorch team consider add the efficient version into model zoo ?

[2018-01-17 16:56] soumith commented on #391
we plan to add a memory efficient version soon via https://github.com/pytorch/pytorch/pull/4594

[2018-01-17 22:32] dssa56 opened #392 "Non-Maximum Supression on the GPU"
Is there any interest in an NMS layer that runs on the GPU for torchvision? I have one implemented; it gives a 1-2 order of magnitude speedup over a naive version composed from pytorch ops. Would be happy to contribute it if anyone's interested.

[2018-01-17 22:38] soumith commented on #392
that's definitely interesting. We should add it into pytorch, until we figure out ATen extensions.
For example like how we added ROIPooling: https://github.com/pytorch/pytorch/pull/3672

[2018-01-17 22:46] dssa56 commented on #392
Great, I'll read over that PR for starters.

[2018-01-18 11:24] lanpa commented on #386
How about
[code]
?

[2018-01-18 11:47] elanmart commented on #386
Oh, sorry for not following up on your response @alykhantejani . I wanted to say that I see your point, but perhaps we could have something like @lanpa proposed, or an explicit flag `mode='train'`?

[2018-01-19 07:41] SunnerLi opened #393 "Is there something wrong in normalization"
[code]
Sorry to bother.
Today I try to use normalization function to normalize my data.
However, I cannot get the right result eventually.
As the result, I do the experiment.
The above code shows that I use official `transforms.Normalize` to deal with the generated data.
The following shows the result:
[code]
However, after the conduction of the function, the max value of tensor didn't change.
Nex

[2018-01-19 08:13] SunnerLi commented on #393
Sorry to bother............
I know what I'm wrong.
The format of tensor should be transform as BCHW,
or the correct result cannot be gained.

[2018-01-19 08:13] #393 closed

[2018-01-19 19:55] stites commented on #81
I'm working with datasets (like in the face poses tutorial) where the labels exist in a file alongside the images and it would be useful to have a simple `ImageFolder`-like abstraction which just says "treat these columns as our labels."

I'd imagine that if one column is given, the data is using a simple regression or classification label and if multiple columns are given, the output is a numpy a

[2018-01-20 22:13] rohan-varma opened #395 "Support for slices in datasets/cifar.py"
Hi! I'm relatively new to pytorch and I've been playing around with the CIFAR-10 dataset.
I've noticed that when I load my data into a `torchvision.datasets.cifar.CIFAR10` object, I can access (image, label) pairs by indexing, but not by slicing. The following code sample illustrates my point:

[code]

I'd like to be able to slice data directly from the `torchvision.datasets.cifar.CIFAR10` object

[2018-01-21 01:42] siva69 opened #396 "Input size mismatch error when retraining inceptionV3 model"
I'm facing trouble when training a model using pre-trained inceptionV3 for my own image data set.

I'm loading images using data.Dataset loader and 'transforms' for image transformation.

Here's my inceptionV3 model

`inceptionV3 = torchvision.models.inception_v3(pretrained=True)`
  `pretrained_model = nn.Sequential(*list(inceptionV3.children()))`
  `pretrained_model = nn.Sequential(*list(pretrain

[2018-01-21 16:22] arti32lehtonen commented on #348
I have the same problem too. Does any solution of this problem exist?

[2018-01-22 19:54] sniklaus opened #397 "division by zero in make_grid"
I occasionally see a division by zero from the following line.

https://github.com/pytorch/vision/blob/704404928d7ec610add4ea40f36bb1e74f899d91/torchvision/utils.py#L55

This is actually not surprising since `min` can be equal to `max` if all values are the same. However, what is surprising that it only seems to happen with CUDA tensors.

[code]

Are divisions by zero handled differently depending

[2018-01-22 20:03] sniklaus commented on #397
I just noticed hat while the non-CUDA version does not throw an exception, it ends up having `nan` in the result.

[2018-01-24 03:18] jiqiujia opened #398 "cannot import module torchvision.transforms.TenCrop"
I use python2 and torchvision=0.2.0

[2018-01-24 14:17] kresle opened #399 "It seems that transforming PIL.Image to tensor by transforms.ToTensor is not working correctly?"
I had problems when using transforms.ToTensor() to a float PIL Image.
And then I checked the codes, which are:
[code]
In the float mode, 4 bytes are required for each pixel. Thus the buffer would return a bytes array whose size is HxWxCx4.
The code `img = img.view(pic.size[1], pic.size[0], nchannel)` should be only capable of handling the HxWxC size.

It is right?

[2018-01-27 14:53] szagoruyko opened #400 "Padding with reflection [feature request]"
Not sure to add this, as it is not supported by PIL. I've been using opencv, but it has all sorts of problems, from installation issues to initializing cuda every multiprocessing thread and protobuf, and I have to copy [this file](https://github.com/szagoruyko/wide-residual-networks/blob/master/pytorch/cvtransforms.py) in every project.

[2018-01-29 08:06] AkhilPunia commented on #398
Same problem here. I beleive they have renamed it now. Similar problem with .Resize earlier it was .Scale

[2018-01-30 05:35] fmassa commented on #398
That is weird, `TenCrop` is present in torchvision 0.2.0, and has not been renamed. Can you verify that you are indeed using `torchvision` 0.2.0 by printing `torchvision.__version__`?

[2018-01-30 05:48] jiqiujia commented on #398
I think it's weird too. I change to python3.5 and now it's ok. For python2, one computer work while another doesn't. I really use torchvision of 0.2.0

[2018-01-30 05:52] jiqiujia commented on #398
It's ok now. I just found I use 0.1.9 actually. Sorry for wasting your time.

[2018-01-30 05:52] #397 closed

[2018-01-30 05:52] #398 closed

[2018-01-30 05:53] sniklaus commented on #397
Thank you!

[2018-01-30 05:56] fmassa commented on #397
Thanks for reporting the issue!

[2018-01-30 06:03] #388 closed

[2018-01-30 06:09] fmassa commented on #386
@elanmart how do you serialize your model, by saving the `state_dict` or the whole `nn.Module`?
I agree that it can be easy to miss that point, but except if we save the training state of each module inside the `state_dict`, I'm not sure how we could store that information.

Sure, we could try to propose a richer serialization format, but that might be trickier than it seems.

[2018-01-30 06:16] fmassa commented on #396
The problem might be that `inception` does not follow exactly a `Sequential` module because of the [`AuxLogits` classifier](https://github.com/pytorch/vision/blob/master/torchvision/models/inception.py#L109), which makes your model not match the original inception.
I think it might be easier in your case to just modify the `fc` layer to be of the dimension you want.

[code]

[2018-01-30 06:16] #396 closed

[2018-01-30 06:30] #399 closed

[2018-01-30 06:30] fmassa commented on #399
Yes, seems that you are right.
I've sent a fix in https://github.com/pytorch/vision/commit/9b526dbc8adb091b4c588ef1599f7c3f2e040cdc , thanks for opening the issue!

[2018-01-30 06:33] fmassa commented on #400
Yeah, the fact that PIL doesn't support this makes it a bit annoying.
But a workaround (which works in the GPU as well) is to use `F.pad` as the first operation in your network.
What do you think about that?

[2018-01-30 08:52] szagoruyko commented on #400
@fmassa the way augmentation works is you first pad with reflection, then do random crops from the padded image.

forgot to mention, there is [np.pad](https://docs.scipy.org/doc/numpy/reference/generated/numpy.pad.html) which supports various padding including reflection

[2018-01-30 17:47] fmassa commented on #400
Yeah, I realized after I commented that one might want to add random crops after padding, but I'm not sure what's the real use-case because one usually pads the input to remove the effect of size reduction in convolutions, but well.

But yes, be could convert to numpy, add `np.pad`. There is btw a pending PR that does exactly that, maybe someone could finish it? https://github.com/pytorch/vision/p

[2018-01-31 06:19] #395 closed

[2018-01-31 07:24] lanpa commented on #390
+1 for removing the dependency.

[2018-02-01 20:43] fmassa commented on #390
I think this should be fixed. @alykhantejani do you know how to update the conda package to reflect that?

[2018-02-01 22:21] evcu opened #404 "Torchvision.utils make_grid does not normalize"
[`discuss.thread`](https://discuss.pytorch.org/t/torchvision-utils-make-grid-does-not-normalize/11885
)
Am I missing something? When I provide a single image it doesn't normalize
[code]

[2018-02-02 02:56] wisdomdeng commented on #131
@felixgwu Thanks for your code. Could you please check line85 of your code? I think the last transition block before upsampling should have only_new set to false.

[2018-02-02 16:18] leftthomas opened #406 "Bug of DataLoader and FashionMNIST"
I used torchnet to train my model with six datasets, the data load is implemented with PyTorch API torch.utils.data.DataLoader and torchvision.datasets.
When I train with FashionMNIST, I found the test data is the MNIST test datas, not the FashionMNIST test datas, why this happen?
below is  my code:
[code]
then I run
<img width="1272" alt="qq20180202-234737 2x" src="https://user-images.githubuserc

[2018-02-03 13:03] #329 closed

[2018-02-04 11:52] vishwakftw commented on #406
The file names are the same for both MNIST and FashionMNIST. Could you try storing these datasets in different directories?

[2018-02-04 12:18] leftthomas commented on #406
@vishwakftw  the downloaded url is different, and I store them on different root directories, that can be inferenced from my code, it’s “data/datatype” which datatype comed from console input.

[2018-02-05 18:27] alykhantejani commented on #390
@fmassa I'm not too familiar with how to set this in the conda metadata but it is located [here](https://github.com/pytorch/builder/blob/master/conda/torchvision-0.2.0/meta.yaml)

[2018-02-06 09:57] stepanveret commented on #252
This helped for me
1. `conda install -c peterjc123 pytorch`
2. `pip install torchvision`

[2018-02-06 14:08] dshahrokhian opened #408 "transforms.ToPILImage(): pic should be Tensor or ndarray"
I am trying to convert a torch.FloatTensor, representing a 8-bit greyscale, to a PIL image (I am fairly new to pytorch). Whenever I do this, I get the following error:

[code]

I don't understand why is this an issue, since FloatTensor is a type of Tensor.

Best,
Dani

[2018-02-06 18:04] alykhantejani commented on #404
Hi @evcu,

This has been fixed in master (see [here](https://github.com/pytorch/vision/pull/360)) but there has not been a release since

[2018-02-06 18:04] #404 closed

[2018-02-06 18:09] alykhantejani commented on #386
@fmassa maybe a `mode` flag set to `train` by default in the load functions? this way we always set the mode of a loaded model (to either `train` (default) or `eval`) and it's clearer for the user from the signature that it will be in a mode?

[2018-02-06 18:13] alykhantejani commented on #408
Hi @dshahrokhian,

All images in torchvision have to be represented as 3-dimensional tensors of the form [Channel, Height, Width]. I'm guessing your float tensor is a 2d tensor (height x width). For example, this works:

[code]

(i.e. yours needs to be a [1, Height, Width] shaped tensor).

Although this error message sucks, I will open a ticket to improve that

[2018-02-06 18:13] #408 closed

[2018-02-06 18:14] alykhantejani opened #409 "Improve error message for _is_tensor_img"
For example passing in a 2d FloatTensor we get this message:

[code]

See [here](https://github.com/pytorch/vision/issues/408) for more

[2018-02-06 18:15] alykhantejani commented on #408
Issue opened in #409

[2018-02-09 15:27] ducha-aiki opened #413 "Local feature CNNs in models?"
Hi,

Are the state-of-the-art local patch descriptors welcomed in models? E.g. HardNet  https://github.com/DagnyT/hardnet
They are trained in pytorch + torchvision and are potentially useful for low-level vision tasks. However, I understand that they are less transferable than ImageNet-trained ones.

[2018-02-09 15:39] alykhantejani commented on #413
If they were trained in pytorch from scratch and an example script could also be provided I think this would be useful. Also this could be useful for more classical vision tasks. However, @fmassa might have an opinion on this

[2018-02-09 15:44] ducha-aiki commented on #413
They were trained from scratch in pytorch. Regarding example script, do use mean training or usage?

[2018-02-09 15:45] alykhantejani commented on #413
training - to reproduce the pre-trained model

[2018-02-09 15:50] ducha-aiki commented on #413
Sure, it is here https://github.com/DagnyT/hardnet/blob/master/code/HardNet.py
If all maintainers agree, is there a guidelines how to add such model, given that model should be somehow uploaded to pytorch.org ?

[2018-02-10 16:05] vishwakftw commented on #406
Sorry about that. I am not able to reproduce the error.

[2018-02-11 00:30] versatran01 commented on #230
Is there a reason why transforms are part of a dataset but not part of the loader? To me it makes more sense to pass transforms into loaders. Could someone explain the design choice here?

[2018-02-11 00:32] soumith commented on #230
the loader is agnostic of the dataset type that it is handling.

[2018-02-11 00:55] versatran01 commented on #230
Say I have a dataset that I wish to split to train and test. I do this by creating 2 loaders each with a subset sampler of some disjoint indices. And I also have 2 transforms, the one for training has some random data augmentation, and one for testing has none. But with the current design, the dataset can only take in one transform. That's why I thought it would be nice for the loader to take the

[2018-02-11 17:55] vfdev-5 opened #414 "RandomHorizontalFlip and RandomHorizontalFlip with configurable probability"
Hi,

just wondering whether it could be better to make flip probability configurable [here](https://github.com/pytorch/vision/blob/master/torchvision/transforms/transforms.py#L334) and [here](https://github.com/pytorch/vision/blob/master/torchvision/transforms/transforms.py#L353) ?

Thanks

[2018-02-12 08:41] NaJaeMin7 opened #416 "size mismatch at Vgg16 in torchvision"
[code]
-----------------------------------------------------------------------------
 When I run this codes.. this error occured.

 When I print(model) , There is a 25088 input size of FC layer...
 I tried to change this parameter from 25088 to 512, there is no error but training is not works well.
So I think this input size of FC layer is the problem..
 What can I do in this situation?
 Thanks in

[2018-02-12 08:52] fmassa commented on #414
Yes, I believe this can be an option that can be added, with default value 0.5.

[2018-02-12 09:02] fmassa commented on #416
The models in torchvision are configured for training on ImageNet images, so they expect large image sizes (224 x 224) and thus the fully-connected layers are not adapted for cifar images.

You need to change at least one other thing in the model for it to work with cifar10, which is the number of output classes, which should be 10 instead of 1000.

For reference on model implementations that work

[2018-02-12 09:02] #416 closed

[2018-02-12 09:21] fmassa commented on #406
@leftthomas I have also just downloaded the datasets from a fresh install and everything was working fine.
I suspect that at some point you downloaded the files in the same folder, and the `test.pt` file that was degenerated got overwritten.

Please try deleting those files and downloading them again, by putting since the beginning them in different folders.

I'm closing the issue, but please let

[2018-02-12 09:21] #406 closed

[2018-02-12 10:39] alykhantejani commented on #230
Hi @versatran01,

In your example you could create two instances of the Dataset one with your training transform(s) and one with the testing ones.

[2018-02-12 11:24] NaJaeMin7 commented on #416
Thank you for your comment.
but I actually changed output class 1000 to 10 for CIFAR10.
Here are my codes.
`
class Vgg16(nn.Module):
    def __init__(self, num_classes=10):
        super(Vgg16, self).__init__()
        self.features = nn.Sequential(
            nn.Conv2d(3, 64, kernel_size=3, padding=1),
            nn.ReLU(True),
            nn.Conv2d(64, 64, kernel_size=3, padding=1),

[2018-02-12 11:37] leftthomas commented on #406
@fmassa, I have tried to delete the files and download again, but it still behaves like that, I debug that for a long time, but I can't figure out why that happened.  And according to my code I have posted, the folder is  inferred from the console input `data_type `, it is different for MNIST and FashionMNIST.
The  MNIST and FashionMNIST class is instanced on run time, maybe the problem happen bec

[2018-02-12 11:48] alykhantejani commented on #414
Closing as this was merged in #417

[2018-02-12 11:48] #414 closed

[2018-02-12 12:04] fmassa commented on #416
Now the model looks fine (the print that you sent in the first message had 1000 as the number of classes). This model takes some time to get to good performances, if it doesn't work well try checking the link I sent you in the first message, as the authors claim good results with their model (which is a bit smaller than the model that you are using)

[2018-02-12 12:13] fmassa commented on #406
I still suspect that the files are wrong.
Can you check if the sizes of `MNIST/test.pt` and `FashionMNIST/test.pt` are the same? If yes, then there is your problem. The `download=True` flag only downloads the file again [if it doesn't exist already](https://github.com/pytorch/vision/blob/master/torchvision/datasets/mnist.py#L99-L100).

If the files are indeed different, then there is a bug in your

[2018-02-12 12:49] vishwakftw opened #418 "Update __repr__ for transforms"
PR https://github.com/pytorch/vision/pull/380 adds `__repr__` for existing transforms. However, optional parameters have been missed out in the process.

By resolving this issue, I would like to add those optional parameters in the `__repr__` definitions.

For `Normalize`, I noticed that we have to give a sequence. In case we gave a `Number` for either `mean` or `std`, we could effectively elongat

[2018-02-12 13:00] fmassa commented on #418
Yes, let's fix the `__repr__`, thanks for catching that!

About extending the behaviour of `Normalize`, I currently like the way it's implemented because it is very explicit what the parameters are. I'm not sure that the case where the same value is present for all channels is that common (but I might be wrong), and having it explicit might save people from bugs (say they wanted to have channel-wi

[2018-02-12 13:02] leftthomas commented on #406
@fmassa , I have checked the size of `test.pt`, whenever the download files is right or wrong, they are all equal to 7,920,424 bytes.

[2018-02-12 13:42] fmassa commented on #406
Sorry, I should have mentioned that you should also check if the hash of the files are the same or different (because the sizes in this case can be the same because they have the same number of images and sizes).

Something like
[code]

If those are the same, then you should try downloading the original files again, maybe from your browser?

[2018-02-12 14:11] alykhantejani commented on #418
@vishwakftw nice catch with the `__repr__`! LGTM

I agree with @fmassa about the explicitness of `Normalize`, sometimes auto-broadcasting can create subtle bugs in your code that can take hours to find.

[2018-02-12 14:14] vishwakftw commented on #418
Thanks @fmassa and @alykhantejani . I think I will work on updating `__repr__` for transforms then.

[2018-02-12 14:22] leftthomas commented on #406
@fmassa I downloaded the fashionmnist dataset from browser to work with my experiment, but it’s a temporary solution, I can’t figure out why the download code didn’t work, I have debugged for that, and the url is right.

[2018-02-12 14:37] fmassa commented on #406
Did you also delete the downloaded files from the folder (and not only `test.pt`)?
I think that was the problem.
To make sure that the problem was indeed in there, you could try running your code but adding the source directory to a newly created one
[code]

[2018-02-12 22:50] #418 closed

[2018-02-12 23:48] leftthomas commented on #406
@fmassa I have deleted all the downloaded files, not just the `test.pt` file, and I also run the code on three computer, but it's odd when I run the code on my Mac, it wouldn't encounter the problem, when I run the code on my Ubuntu, it encounters the problem.

[2018-02-13 03:04] NaJaeMin7 commented on #416
Thanks for your help.
I checked the link you sent me, so I found that the only difference between two codes is input size of the first FC layer ( nn.Linear(512*7*7, 4096) )
Most of  the vgg codes take 512*7*7 as input but when I tried to take this parameter, there is 'size mismatch error' .
nn.Linear(512,4096) doesn`t make any error ,but not works fine.

[2018-02-13 10:48] fmassa commented on #416
Most of VGG takes 512 * 7 * 7 because they expect the input size to be 224x224, but cifar images are much smaller. Try scaling the cifar images so that they are 224x224 and you'll see that standard VGG16 will work fine.

[2018-02-13 10:53] fmassa commented on #406
I have no idea what might be wrong there. I have run the code on an Ubuntu and it worked fine, so there might be something fishy going on on your machine.

[2018-02-13 13:50] juneoh opened #420 "Feature proposal: Cutout"
[Improved Regularization of Convolutional Neural Networks with Cutout](https://arxiv.org/abs/1708.04552) proposes a simple and effective method for regularization. I think it would fit greatly in the `torchvision.transforms` toolbox, and am willing to contribute an implementation with a proper test, if that's okay.

[2018-02-13 14:37] alykhantejani commented on #420
@juneoh is this a similar proposal to the one in #226?

[2018-02-14 00:58] juneoh commented on #420
@alykhantejani It is indeed similar, but the key difference is that the cited Cutout paper has successfully parameterized effective random occlusions: e.g. the shape, be it polygons to free shapes, matters less than the size, so square patches are sufficient; allowing portions of the occlusion to lie outside the image is critical to good performance; etc. There need only be two hyperparameters for

[2018-02-14 01:01] juneoh commented on #420
Oh, but the paper is cited in #226. Perhaps I should have requested a reopen of that issue instead. I thought I've searched thoroughly enough to avoid a duplicate.

[2018-02-14 12:00] alykhantejani commented on #420
cc @fmassa who closed out the previous issue - who might have some other thoughts on this

[2018-02-14 22:33] vfdev-5 commented on #382
@alykhantejani may be torchvision should report something else than `IndexError: tuple index out of range` ?
[code]
for example, check `npimg.ndim == 3` [here](https://github.com/pytorch/vision/blob/master/torchvision/transforms/functional.py#L100) and raise about what kind of input we need.

[2018-02-15 00:26] rajarsheem commented on #252
@stepanveret Does it have any cons?

[2018-02-15 06:59] oya163 commented on #372
I believe yes you can use CrossEntropyLoss. I followed this tutorial and its pretty easy.
http://pytorch.org/tutorials/beginner/transfer_learning_tutorial.html
It is classifying bees and ants images.

[2018-02-15 11:23] vfdev-5 opened #422 "[Feature] Extend transformations to handle mutli-band non-uint8 images"
Here I would like to discuss how to extend `ToPILImage`, `ToTensor` and transformations taking pil image as input to work with mutli-band non-uint8 images. Today, to following code does not work:
[code]
The error is `TypeError: Input type float32 is not supported` from `ToPILImage`, because PIL does not have a mode multi-band image with depth `float32`.

As PIL documentation suggests ([ref](http:/

[2018-02-15 17:13] achainan opened #423 "MNIST target_transform"
In the MNIST dataset the target is a label (not a PIL image). Hence trying to do a `target_transform` wouldn't really work right?

https://github.com/pytorch/vision/blob/13d1a6cc955ca9a49f240a99b44ddcc8a685efbc/torchvision/datasets/mnist.py#L67-L82

Shouldn't we get rid of the `target_transform` input?
Alternatively we could do the following if there is a `target_transform`:

[code]

[2018-02-15 18:14] hendrycks commented on #420
Both Cutout and Random Erasure are highly similar. If I recall correctly, random Erasure has more parameters, though these parameters can be left to the default setting as is done in the paper. In contrast, Cutout has fewer parameters and is easier to describe, and contrariwise Cutout often requires more tuning.

[2018-02-16 08:03] vfdev-5 commented on #422
[Here](https://github.com/vfdev-5/vision/tree/feature_nbands_nonuint8) is a way to implement the above idea

[2018-02-16 17:57] glemaitre opened #424 "Extend the scope of ImageFolder for segmentation data"
I am starting to work on segmentation problem.

[ImageFolder](http://pytorch.org/docs/master/torchvision/datasets.html#imagefolder) is great but seems to be dedicated for classification.

Would it make sense to modify it such that we can load input/target which can be both list of images as in the case of CamVid dataset?
It is also true that segmentation can also be organized with a list of images

[2018-02-16 17:57] glemaitre commented on #424
NB: the idea is to propose a potential PR if we can come to a proper design.

[2018-02-16 18:02] glemaitre opened #425 "[RFC] Model for segmentation/detection problem"
Currently, torchvision offers state-of-the-art pretrained/architecture networks mainly for classification.

I was wondering if there is any interest to add segmentation models such as:

* mask R-CNN
* RetinaNet
* Fast R-CNN
* SegNet
* etc ...

which can actually reusing the available architecture (Resnet, VGG, etc.)

[2018-02-17 10:49] Nachwa opened #426 "[feature request] include top for models"
Any plans to add (include top) option while loading models in torchvision?

[2018-02-17 14:37] vfdev-5 commented on #425
Maybe there is something interesting to share from this [repo](https://github.com/kuangliu/torchcv)

[2018-02-17 15:27] glemaitre commented on #425
@vfdev-5 Yep there is quite a lot of repo around:

* https://github.com/mrgloom/awesome-semantic-segmentation

So basically, I am thinking if it would not be worth to actually upstream to torchvision the state-of-the-art networks. And having already the encoder, we can actually get `model.features` to plug in the decoder of each segmentation net.

[2018-02-17 15:55] vfdev-5 commented on #425
Yes, that's a good idea!

In some unet-like networks as they use bridges, any idea how to get these from `model.features`?

[2018-02-20 22:31] dssa56 commented on #392
This is all ready now. Where in the Python API would you like it go? I actually have two implementations ready; one is quicker in principle but it requires allocating global memory to store intermediate results, and freeing the memory at the end of each call completely kills performance. Is there anything one can do about this? If not, the other implementation (which doesn't allocate any intermedi

[2018-02-20 23:44] vfdev-5 opened #428 "Transformation deserialization from a config file"
I would like to know your opinion about the following code to add to torchvision.
Suppose I have a configuration yaml file:
[code]
that I would like to deserialize into `torchvision.transforms.transforms.Compose`.

The following can be done like this:
[code]
with the output:
[code]
Any feedback is highly apreciated :)
Thanks

[2018-02-25 01:15] deepaksharma36 opened #431 "Attribute for size of classes in vision/torchvision/datasets/folder.py"
It would be great if you can provide one method inside ImageFolder class or Dataset class which can provide number of samples for each loaded class/label.

Though we can do this outside ImageFolder class, but as we always use ImageFolder for loading image dataset hence a class_size attribute will quickly tell us how many samples of each class/label are loaded.
   from collections import Counter
Co

[2018-02-25 16:31] bottydim opened #432 "VGG output layer must be softmax"
I am still a beginner with pytorch, but it seems to me that the classifier part of the VGG model should have one extra line:

        self.classifier = nn.Sequential(
            nn.Linear(512 * 7 * 7, 4096),
            nn.ReLU(True),
            nn.Dropout(),
            nn.Linear(4096, 4096),
            nn.ReLU(True),
            nn.Dropout(),
            nn.Linear(4096, num_classes),

[2018-02-25 18:10] fmassa commented on #432
The softmax is not necessary in the main model, because we use a loss layer during training called [`cross_entropy`](http://pytorch.org/docs/0.3.1/nn.html?highlight=cross_entropy#torch.nn.functional.cross_entropy) that combines the log soft max with then negative log likelihood (more stable than using softmax straightaway).

For inference you can add a `F.softmax` in the output of your model.

[2018-02-25 18:10] #432 closed

[2018-02-26 08:09] junting opened #433 "Pretrained VGG-19 Model"
Hi,

I have been using the pretrained ResNet model which works fine, however when I switched to the pretrained VGG-19 at the master branch, I found that the output of the the pytorch verison is very different from the caffe version.  The first predicted class for this [https://github.com/BVLC/caffe/blob/master/examples/images/cat.jpg](url) is 644 which is wrong.
The preprocessing that I used is wh

[2018-02-26 13:11] fmassa commented on #431
While I think there might be value in having such a functionality, for consistency we might want to add a similar functionality to other datasets in torchvision as well.

Also, as you have pointed out, this is fairly easy to do using standard python, so I'm unsure about what would be the best thing to do here.

What are the use-cases of having the number of samples for each class? I can think of a

[2018-02-26 13:23] fmassa commented on #433
The preprocessing for vgg is the same as for resnet.

What I think is happening is that `skimage.io.imread` returns a numpy array in the range 0-255, and I see that you are not using the `ToTensor()` transform (which converts the PIL Image to be in the 0-1 range).
Also, make sure that your image has float type before you perform `Normalize`, if not you'll have wrong results as well.

I'm closing t

[2018-02-26 13:23] #433 closed

[2018-02-26 14:15] junting commented on #433
Hi,

Thanks for your quick response, the problem comes from image image which should be between 0-1.
Thank you,

[2018-02-26 19:06] deepaksharma36 commented on #431
Most of the time while dealing with unbalanced datasets we go for a weighed loss function, where weights are decided based on number of samples for the class. We assign higher weights to the rare class so that model don't get biased toward the class with higher samples.

class_weights = [1-(float(class_counts['train'][class_id])/(dataset_sizes['train'])) for class_id in range(NUM_CLASSES)]
criteri

[2018-02-27 12:56] Randl commented on #230
It might be more convenient to have `training_transform` and `validation_transform` in dataset, allowing to use a single instance of `Dataset`

[2018-02-28 16:29] Bing1002 opened #436 "ImportError: DLL load failed: The specified module could not be found."
Hi,

I have installed pytorch with GPU in my computer. It works now for pytorch.  When I installed torchvision and it said I installed successfully. But when I tested it using import torchvision, it has following error. I don't why it this? I tried pip, conda and source install method. The results are same.

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "C:\Users\

[2018-02-28 18:16] thesemicolonguy opened #437 "Improve documentation for torchvision.models"
Every model's architecture (as implemented in pytorch), number and names of layers (in the implementation of models done in pytorch, not the original model from the paper), and other important details that might help users (devs) should be included in documentation. Right now, the [docs](http://pytorch.org/docs/master/torchvision/models.html) only list names of available models.

[2018-03-01 18:39] lanpa commented on #436
Look like PIL is failed.
maybe you need to `pip install pillow` first.

[2018-03-02 02:33] niuqun opened #438 "Original Implementation of the GoogLeNet"
Dear all, do you have the original GoogLeNet trained on ImageNet? I think I need the original one in the 2015 paper rather than latter improved versions. Thanks!

[2018-03-02 08:50] iacolippo commented on #348
This issue is solved, it can be closed.

[2018-03-02 10:12] #348 closed

[2018-03-02 13:54] ducha-aiki commented on #413
@fmassa Could you please answer, if we should prepare PR with HardNet or not?

[2018-03-02 14:23] fmassa commented on #436
yes, looks like importing PIL failed. Did it work for you with @lanpa suggestion of uninstalling and installing again?

[2018-03-02 20:12] Bestiplays commented on #252
@Sudhakar17
Hi, I have the same problem then you. Did you could solve it?! It would be very nice if anyone could help me. I have installed pytorch successfully using anaconda, but can't install torchvision.

Thank you.

[2018-03-05 09:08] dongzhuoyao commented on #364
any advance?

[2018-03-05 10:27] fmassa commented on #364
We currently only provide pre-trained models for image classification in pytorch (which are trained using `examples/imagenet`.
It would be great to extend that for other vision tasks as well.

For reproducibility, it would be necessary to have a reference implementation that is open source and used to train the models that we add.

I'm still figuring out if we want to add those mode specific model

[2018-03-05 10:45] fmassa commented on #413
Hi @ducha-aiki
Sorry for the delay in replying.

I think extending the scope of the models in torchvision is good, but I have a few remarks about that that I'd like to share:
- having the training code used to obtain the model is important. You already open-sourced your implementation, so this is not a problem. But
  - given that the code is in a repo that does not live under pytorch org, I wonder

[2018-03-05 11:00] fmassa commented on #252
@Bestiplays I don't have experience with Windows, but torchvision is a python-only package, if you can't install it via pip, you could clone the repo and do something like
[code]
from the cloned torchvision folder (with the proper translation to Windows commands, that I unfortunately don't know)

[2018-03-05 11:09] fmassa commented on #230
@Randl I don't think this is necessary. We can do as @alykhantejani said and use two datasets, one for training and one for testing. There is a simple functionality that allows us to split a dataset: [`Subset` and `random_split`](https://github.com/pytorch/pytorch/blob/master/torch/utils/data/dataset.py#L93-L118)
So that's what you'd need to do
[code]

And if you need different transforms for trai

[2018-03-05 12:50] fmassa commented on #425
Yes, I agree that it would be good to extend torchvision to also have other domains (not only classification on imagenet). But I'm unsure if we should be hosting the models in here, because it would probably require training code for the models as well.
So here are my thoughts:
- we have all the reusable/generic components in torchvision
- training code with pre-trained models live in a separate r

[2018-03-05 16:11] fmassa commented on #437
While I think it might be generally useful to have such information, for non-sequential models (resnets, densenets, and many others) it gets very tricky to represent in a clear way all those details.
On the other hand, looking at the source code that implement those models is generally simpler and more effective.
How would you represent such information, with something like a print of the model? T

[2018-03-05 16:15] thesemicolonguy commented on #437
@fmassa Documentation for sequential models is not needed by most developers. As such, they are pretty straight forward. I found working with non-sequential models a little diificult (specially the inception model). Going through the source code took up quite some time. It'd be very helpful if such models can be represented in the documentation.

[2018-03-05 22:35] ducha-aiki commented on #413
I would start with second point. I like a lot an idea of task-based model zoo and torchvision already has a ground for this: datasets.  As end-user I would really appreciate if can do something like this:

     from datasets import MSCOCO
     from models import vgg19, segnet
     model = segnet;
     model.initialize_from(vgg19)
     train(model, dataset)

And the same for each task, which can be

[2018-03-06 13:28] vadimkantorov commented on #437
A print would be great, since it also provides names of sub-modules

[2018-03-06 14:15] fmassa commented on #437
The thing is there is nothing that enforces in the print that the order printed corresponds to the execution order (but only on the order modules have been added). Plus, for models like Inception, I'm not sure how useful such a large blob is in the documentation, and it can be easily obtained by the user with a `print(model)`.

[code]

But I'm open to suggestions

[2018-03-06 15:06] fmassa commented on #437
The easiest way I believe to represent the forward pass execution is to have the graph plotted, but for such a large model it will be difficult to inspect as well.

Given that we have a link in the documentation to the paper that explains the architecture, I think that the curious reader might find the information he wants there?

[2018-03-06 15:41] lemairecarl opened #440 "Add SSD in models"
I've been working with PyTorch for several months, and with SSD for a few months. I'd like to add SSD to torchvision's "model zoo".

I will combine the good parts of https://github.com/amdegroot/ssd.pytorch and https://github.com/kuangliu/torchcv. Both implementation have some problems and refactoring will be needed to come to the level of refinement expected from torchvision.

I will begin in the

[2018-03-06 16:01] fmassa commented on #440
Hi,

Thanks!
Yes, having training / evaluation code is definitely necessary for object detection, as the models are not enough.

I'm still figuring out the right balance between having things in torchvision and in external repos. I think everything that is quite generic and reusable should come here.
So if the training code doesn't live here, then I'm unsure if the models should be here as well or

[2018-03-06 16:16] lemairecarl commented on #440
1. I would add a COCO/VOC example that would contain the training procedure, just like for classification nets. I think it's a good practice.
2. Could you tell me a bit more how you added support for bounding boxes? And how far would you like to go with bounding box support? Do you mean add utils like Jaccard overlap and that kind of stuff? Or maybe you're thinking about transforms?

# TODO
- [ ]

[2018-03-06 16:36] fmassa commented on #440
The thing I noticed while writing an initial version of Faster R-CNN in 2016 was that it requires a lot of code. This made me unsure if the `examples` repo was the good place to put it.

About bounding box, I was mostly thinking about basic transforms, but other functionality (like intersection over union) might be worth considering.

[2018-03-06 16:49] lemairecarl commented on #440
There is clearly code that is not part of the model but that is needed to use it. With SSD there is the box encoding/decoding procedure which is specific to this model, and that is quite heavy. There is the prior box management, the non-max suppression in the decoding... Do you think we could have a `ssd` folder in torchvision/models instead of only one script?

Something like:

[code]

I think th

[2018-03-06 17:13] vadimkantorov opened #441 "[proposal] Move dataset download / integrity functions to utils.py"
Datasets such as CIFAR / MNIST / etc have download / integrity logic that is useful for reimplementing custom user datasets (such as https://github.com/vadimkantorov/metriclearningbench/blob/master/cars196.py, https://github.com/vadimkantorov/metriclearningbench/blob/master/cub2011.py, https://github.com/vadimkantorov/metriclearningbench/blob/master/stanford_online_products.py)

I propose moving i

[2018-03-06 17:28] fmassa commented on #441
I agree with this.
I think the only reason why we haven't done this yet is that each dataset has its own particularity. But a clean and concise function that handles all the above cases would be awesome to have!

[2018-03-06 17:56] lemairecarl commented on #425
There are many parts in detection models indeed. I'm working with the Single-Shot multibox Detector, and planning to add it to torchvision. (see #440)

I'm thinking about adding this folder to torchvision/models:

[code]

Then, we could add the data augmentation code in torchvision/transforms and the dataset management in torchvision/datasets. In my opinion, the training/evaluation code would beco

[2018-03-07 09:52] fmassa commented on #425
@lemairecarl I think this looks reasonable.
We might want to reorganize the models in tasks though, because we would be mixing classification models with detection / segmentation models, so a hierarchy might be clearer.

Also, will the standard be to have the models trained on COCO instead of Pascal? I think this is reasonable, and should be enforced.

[2018-03-07 11:24] fmassa commented on #413
Yes, there is a lot of demand for extending `torchvision` to have pre-trained models from other domains than imagenet classification, and that's something I'm actively working on now.

I'm not sure it's the responsibility of `torchvision` to provide the `train` method in your previous message. Except if we extend the scope of `torchvision` to also contain training code for different classes of pro

[2018-03-07 16:01] lemairecarl commented on #425
I agree.

I've discussed with Max deGroot (https://github.com/amdegroot), maintainer of the ssd.pytorch repo. They already had plans to integrate their implementation in torchvision. Thus I will work with them to accelerate and facilitate the process.

I'll keep you posted.

[2018-03-07 20:56] amdegroot commented on #440
Hi guys,
Just read [#425](https://github.com/pytorch/vision/issues/425).  I think it would be awesome if segmentation and detection could be included in torchvision.

In ssd.pytorch I've tried to avoid modifying the current torchvision datasets (COCO, Pascal) and transformations as much as possible, but I think there would still need to be some slight modifications made to the current torchvision

[2018-03-09 15:29] omair-kg commented on #167
For this you could use the subsetrandomsampler.

[code]
That should do it

[2018-03-09 16:42] fmassa commented on #167
While we can use the subset approach from @omair-kg , I believe we should add the folds as as option for STL-10.

[2018-03-11 02:55] leftthomas opened #445 "Bug of FashionMNIST"
I have installed PyTorch 0.3.1, torchvision 0.2.0, torchnet 0.0.1, visdom 0.1.7, CUDA9.0, CUDNN 7.0. I wrote some code by using torchnet to train my model, but I found the `FashionMNIST` val images are wrong, and the GPU memory leakage problem, I can't figure out why, I think it maybe a bug of `FashionMNIST` or `DataLoader`.
1.  Run train from terminal, from this screenshot you could see the fashi

[2018-03-12 09:55] leftthomas commented on #445
@fmassa , I have reinstalled my Ubuntu16.04 system and reinstall the PyTorch and tested it, the bug is still there! I have checked the md5sum of downloaded FashionMNIST dataset by using the FashionMNIST class, and I found the md5sum is different with the [office FashionMNIST dataset](https://github.com/zalandoresearch/fashion-mnist) !

| Name  | MD5 Checksum | Office MD5 Checksum |
| --- | --- |--

[2018-03-13 06:08] vadimkantorov opened #446 "ImageFolder to support *.JPEG (in capital letters)"
[code]

[2018-03-13 06:12] vadimkantorov commented on #446
My bad, it complains about absence of images in *sub*-directories

[2018-03-13 06:12] #446 closed

[2018-03-13 07:01] leftthomas commented on #445
@fmassa , I have figure out the dataset issues, it is solved on [here](https://github.com/zalandoresearch/fashion-mnist/issues/107), but the memory leaky problem still there, I have tried on CUDA9.0, CUDA9.1.

[2018-03-13 09:01] aosokin commented on #392
Hi, is this going to be added now?

[2018-03-14 14:10] fmassa commented on #445
Great that you have found the solution to the downloading problem!
About the memory leak that you mentioned, does it continuously increase over time or is it just during the first evaluation part that the memory gets bumped? If that's the case, it's probably because the reference of your loss during your last iteration during training is still kept alive when you start testing your network, requir

[2018-03-14 14:12] fmassa commented on #392
Yes, I think we should add efficient NMS in here, following the Cpp extensions that were recently added.
Because Cpp extensions are only present in master, I'd wait until 0.4.0 is released before merging any C++ code into torchvision.
How does that sound?

[2018-03-14 14:14] aosokin commented on #392
@fmassa That's fine anyway.
Btw, is 0.4 coming soon? :-)

[2018-03-14 14:14] fmassa commented on #392
Yes, once https://github.com/pytorch/pytorch/issues/5673 is addressed

[2018-03-14 14:16] aosokin commented on #392
Thanks!

[2018-03-14 14:58] leftthomas commented on #445
@fmassa , yes, it just during the first evaluation part that the memory gets bumped, I also tested the example of `torchnet`, but I can't find where is different between my code and the example, I tried comment my test apart, and the problem is gone.

[2018-03-14 15:09] fmassa commented on #445
you probably need to remove all references to `output`/`loss` etc from your state before performing evaluation.
This is a torchnet specific question though, and I'm not super familiar with it so it might be better asking there.

[2018-03-14 15:47] vfdev-5 commented on #440
@lemairecarl what are your thoughts on how to

Do you want to merge the current `transforms.py` with [ssd.pytorch augmentations](https://github.com/amdegroot/ssd.pytorch/blob/master/utils/augmentations.py) or create a separate a file with similar classes like `Compose`, `RandomCrop` etc ?

[2018-03-14 19:01] lemairecarl commented on #440
I think we'll see in the process if we need to break things into multiple files. I'll rely on the pull request comments. I want to start working on this next week.

[2018-03-14 19:10] fmassa commented on #440
Yes. I'm still thinking on how to integrate the transforms in a way that it fits nicely with torchvision, while not requiring much boilerplate and being generic.

[2018-03-14 20:31] fmassa commented on #424
Hi,

Sorry for the delay in replying.

We will be extending the datasets to better support detection / segmentation tasks.
This will also involve having transforms that nicely plug in them.
This is something I'm looking into now.

About CamVid, we could probably add support for it as a separate dataset? I'm not familiar on how the data is organized though.

[2018-03-14 20:35] fmassa commented on #428
Hi,

While this is an interesting idea, I wonder if it wouldn't be in some sense easier to have your configuration file be a python file, where you directly define the transform that you want? This reminds me of Lua, which was originally developed for that :)

This has the benefit of having better error reporting if you have a typo in one of your functions/names for example

What do you think?

[2018-03-14 20:39] fmassa commented on #426
Could you expand on your question?
I think the current best way of having the output of different layers of your model can be found in https://github.com/pytorch/vision/pull/310#issuecomment-373055230

[2018-03-14 23:41] vfdev-5 commented on #428
Yes, maybe a python file will be easier to code and less error prone, but probably less obvious what is configuration and what is working script.
An example use-case I see behind such deserialization:  let's say there is a script `train.py` that takes a `train_config.yaml` as a single argument:
[code]
Such `train_config.yaml`  can be something like:
[code]
and the script `train.py` deserializes  a

[2018-03-15 09:48] Nachwa commented on #426
I thought about an easy way to load the model without its classifier. as in keras applications
model = VGG16(weights='imagenet', include_top=False).

Example:

`
class VGG(nn.Module):

    def __init__(self, features, num_classes=1000, init_weights=True, include_top=False):
        super(VGG, self).__init__()
        self.features = features
        self.include_top = include_top
        self.clas

[2018-03-15 11:03] fmassa commented on #428
I understand your point, and that is something that I have already seen in the past being done (with YAMLs for configuration as well).
It turned out that, if you want to define your whole training/testing pipeline as a YAML file, the user basically has a terrible experience when wanting to extend/modify the YAML to suit his needs, with error messages being very obscure and it's usually very diffic

[2018-03-15 11:06] fmassa commented on #426
What if the user want to remove only the final classifier layer, but not the whole `self.classifier` part?
In your snippet, you can obtain the same result just by doing `model.features(x).view(x.size(0), -1)`.
I think we might want to advertise subclassing the model to remove / add layers that you want. I think this will be the cleanest and most extensible solution.

[2018-03-15 11:34] leftthomas commented on #445
@fmassa , I have found the reason, it is a bug of nn.conv2d(), I have tested if the model use nn.conv2d(512,512, ...) then it will encounter the memory problem.

[2018-03-15 12:32] vfdev-5 commented on #428
Yeah, this is true with identations 😃 . User can look for a longtime the origin of the error if yaml becomes complex.

I understand your point on additional meta-language on top of Python, and probably this can be more useful in *ignite* than *vision*...

For me pros of yaml is too simplify configuration description: avoid imports, brackets etc... Say we adopt user-provided config in python, so th

[2018-03-15 12:55] fmassa commented on #428
The library I had in mind that is not open-source.
But I know of one case that uses YAML for configurations and people are usually happy with it: [Detectron](https://github.com/facebookresearch/Detectron/blob/master/lib/core/config.py) (even though the configuration restricts itself to numeric parameters and *some* functions).

I think that having to import a few modules might not be that bad. One

[2018-03-15 13:04] fmassa commented on #445
This is probably a bug in either how you are using `tnt` or in `tnt` itself, so I'm closing the issue as it is not related to `torchvision`.

[2018-03-15 13:04] #445 closed

[2018-03-15 13:17] vfdev-5 commented on #428
@fmassa thank you for the link ! I like the idea of model builders from yaml (for example, [here](https://github.com/facebookresearch/Detectron/blob/228de4eacf5d5bd821fc5d063e8c632ef11252e8/lib/modeling/model_builder.py)).

[2018-03-15 13:36] vfdev-5 commented on #440
We can inspire from [tensorpack](https://github.com/ppwwyyxx/tensorpack/blob/master/tensorpack/dataflow/image.py#L165).

For example, there is a proxy dataset that applies transformations on a dataset according to the indices:
[code]

A base class for transformations:
[code]
such that all other classes from torchvision derive  from it. For example, `Compose`
[code]
and another example:
[code]

Her

[2018-03-16 14:19] reynoldscem opened #447 "STL dataset returns test fold if fold is misspecified"
If you miss-spell, or otherwise pass an invalid fold to the STL dataset it will set the data and labels to that of the test set.

Can be seen here:

https://github.com/pytorch/vision/blob/fa377c47d0f444f9497678b6641b360cb665f8f9/torchvision/datasets/stl10.py#L75

Other datasets appear to raise a `ValueError` in their constructor when passed an invalid fold:
https://github.com/pytorch/vision/blob/f

[2018-03-16 14:34] fmassa commented on #447
Agree, it would be good to improve that. Would you mind sending a PR?

[2018-03-19 09:57] reynoldscem commented on #447
Will do!

[2018-03-19 14:46] mathski opened #448 "Bug: torchvision/transforms/functional/to_pil_image always converts 1-channel (gray) FloatTensor images to 8-bit unsigned int"
- OS: Ubuntu 16.04.4 LTS x64
- PyTorch version: 0.3.0
- Torchvision version: 0.2.0
- How you installed PyTorch (conda, pip, source): conda
- Python version: 3
- CUDA/cuDNN version: 8.0
- GPU models and configuration: Titan X (Maxwell)

ERROR:
**ValueError: Incorrect mode (<class 'float'>) supplied for input type <class 'numpy.dtype'>. Should be L**

The *torchvision* transform **ToPILImage(mode=fl

[2018-03-19 16:42] mathski commented on #448
Small correction; change to:
tform = transforms.Compose([transforms.ToPILImage(mode='F')])

[2018-03-20 09:41] reynoldscem commented on #447
@fmassa PR here:

https://github.com/pytorch/vision/pull/449

[2018-03-20 13:38] soumith commented on #447
fixed via https://github.com/pytorch/vision/pull/449

[2018-03-20 13:38] #447 closed

[2018-03-21 09:25] reynoldscem commented on #441
I think it would be good to come up with a fixed list of functionality which should be factored out into utils so this can be tackled as a fixed-scope piece of work rather than a general refactor. Happy to do so once it's established.

[2018-03-21 15:02] fmassa commented on #441
I had a quick look at it, and I have the impression that most of the basic functionality is already present under `.utils.py`: downloading and integrity checking.

The current integrity checking/downloading code that we have in each dataset is very minimal and specific to each dataset, so it's unclear to me if we can further factor it out without making these functions overly complex.

[2018-03-21 15:25] vadimkantorov commented on #441
Currently `utils.py`, does not include functionality to extract a tarball or a zip archive and to check integrity of multiple files as routinely done in datasets (boiler-plate loops needed).

[2018-03-21 15:32] fmassa commented on #441
I'm not sure it's worth the added complexity. But I'm happy to see a proposal that keeps the simplicity of the current functions while allowing those cases to be handled.

[2018-03-21 15:49] fmassa commented on #448
Yes, it looks like we currently don't handle this case properly.
I'm not even sure what is the expected range in PIL for `float32` images, so I don't even know if we should multiply by 255.

One workaround for the moment seems to be to convert the torch tensor to a numpy array, but it would be better to fix this case.

[2018-03-21 17:19] mathski commented on #448
Thank you very much for your response.

My workaround has been to use local copies of a few of the Torchvision functions, such as `ToPILImage()`, so I can edit them directly. I changed `if isinstance(pic, torch.FloatTensor)` to `if isinstance(pic, torch.ByteTensor)` on line 104 (in the version on https://github.com/pytorch/vision/blob/master/torchvision/transforms/functional.py) and removed the sc

[2018-03-21 19:44] veronikayurchuk opened #454 "NASNet-Mobile is ported"
Hi!
NASNet-A-Mobile has been successfully ported to PyTorch!
https://github.com/veronikayurchuk/pretrained-models.pytorch
The results are:
**Acc@1 74.080, acc@5 91.740**

Hope, it would be useful!

[2018-03-23 23:40] tomekkorbak opened #456 "[feature proposal] Composing transformations with __add__ magic method"
TLDR: `transform = Resize((299, 299)) + ToTensor()`

## Motivation

Consider the common use case of building an overall-common-but-differing-at-one-point transformation pipeline for train and test sets, for instance applying augmentation transforms only to train set:
[code]

A way of expressing of `train_transform` builds upon `test_transform` would be handy. What you could do now is to recursivel

[2018-03-24 08:02] Randl commented on #230
So after we got https://github.com/pytorch/vision/pull/240 what are the steps/interface for joint transformations? I'd love to refactor COCO dataloader.

Should i first introduce joint transformations that take iterable of inputs and transforms them?

cc @fmassa

[2018-03-24 11:21] PanXiebit opened #457 "the layer1's stride should be set to 2?"
https://github.com/pytorch/vision/blob/5b75a277423dd455df05b9789689c5414b334daf/torchvision/models/resnet.py#L106

I think the layer1's step size should be set to 2, the original feature map size changed from 112 to 56, and if set to 1, then there is no shrtcut in layer1, because the options of the shortcut: if stride != 1 or self.inplanes != planes * block.expansion:

[2018-03-24 20:56] fmassa commented on #457
There is indeed a difference between the implementations in the original resnet paper and the one in torchvision, but it's not at the place you mentioned.
Indeed, the original resnet model has the varying stride in the 1x1 convolution, while our [implementation has it in the 3x3 convolution](https://github.com/pytorch/vision/blob/mase/torchvision/models/resnet.py#L64), see discussion in https://gi

[2018-03-24 20:56] #457 closed

[2018-03-24 20:58] fmassa commented on #230
@Randl I'm working on a detectron implementation that uses COCO, and I'm thinking about some possible extra extensions of the transforms, that I'll be pushing here soon.

[2018-03-24 21:06] fmassa commented on #456
While I think such a functionality might be somewhat useful (but a bit less efficient than an iterator on a list), I didn't quite get the drawbacks that you pointed in your message.
You could still have something like
[code]
which is still fairly ok, and a bit more efficient than having a long concatenation of composes (that will happen due to the `+` always creating a new `T.Compose`).

But I'm n

[2018-03-24 21:13] fmassa commented on #454
Nice! Great work!
At some point it might be good to have those in torchvision, if we manage to retrain them from scratch (in order to keep the normalizations and preprocessing consistent with the other models in torchvision), but that might require quite some work to get those working as the official ones.

[2018-03-25 12:48] Randl commented on #230
@fmassa If you're open for contributions, I'd be happy to participate

[2018-03-25 17:03] tomekkorbak commented on #456
@fmassa, thanks for your feedback. I understand your reservations: this proposal does not extend existing functionality, but only provides a nicer syntax. As for advantages of the proposed API over your code snippet:
* I find chaining is slightly conceptually simpler than nesting
* In more complex cases (i.e. validation over several similar-but-different transformation pipelines) it'd be more conc

[2018-03-26 15:13] alykhantejani commented on #456
I think this functionality would be welcome, especially as it's just adding syntactic sugar on top of existing functionality - as @fmassa showed, it can be achieved by nesting composes.

I think the `__repr__` of this would be much nicer than a nested set of `Compose`s.

As for speed, I think we should do some benchmarking before we try to optimize this as simple code is generally my preferred rou

[2018-03-27 06:11] acgtyrant opened #458 "TORCHVISION REFERENCE disappeared in http://pytorch.org/docs/0.3.1"
Even the master version has the TORCHVISION REFERENCE.

[2018-03-28 08:59] fmassa commented on #458
Thanks for the report. @chsasank do you know what happened here?

[2018-03-28 09:17] chsasank commented on #458
To diagnose this, we need to see jenkin build logs. But I can't somehow open http://build.pytorch.org.

[2018-03-29 15:02] utkuozbulak commented on #400
We recently needed this feature in a project and ended up using opencv. I see that there is a PR #213 but it is still waiting response from the author since Jul 2017. I would like to finish it. Is it better to send a new PR with the requested changes of @fmassa and @alykhantejani or how should I proceed?

[2018-04-03 12:49] fmassa commented on #400
@utkuozbulak sending a new PR is perfect. Thanks a lot!

[2018-04-03 13:30] fmassa commented on #456
Sounds good. @tomekkorbak , if you are willing to a PR, it would be most welcome! :)

[2018-04-04 15:15] vadimkantorov commented on #438
i have one at https://github.com/vadimkantorov/metriclearningbench (without additional branch)

[2018-04-05 00:41] niuqun commented on #438
@vadimkantorov Thank you! I will check it later.

[2018-04-05 00:41] #438 closed

[2018-04-05 17:08] karandwivedi42 commented on #456
From an outsider's perspective:

Learning and adopting a library becomes difficult if there are 3 ways of doing the same thing. There is already a `Compose` based API and a functional API (which should become default IMHO because it is more feature-rich and similar to pytorch than the Class-based one). We can already use the functional API to compose transforms which achieves the same purpose as t

[2018-04-06 10:36] fmassa commented on #456
@karandwivedi42 the `+` operator is meant to be a syntactic sugar for the `Compose` API, and not to extend on the functional API.

But I agree that we should ideally have only one way of doing something.

[2018-04-07 10:15] Oktai15 opened #466 "Improve transforms"
Hi there!

At this moment, ```torchvision``` is so poor; in particular, transforms. It really restricts our ability for data augmentation. However, people have already done a few nice libraries for it. For instance:
https://github.com/mdbloice/Augmentor (already has compatibility with PyTorch)
https://github.com/aleju/imgaug

What about contact with authors and merged these great jobs to ```torchv

[2018-04-07 10:39] Oktai15 commented on #466
@fmassa, okay, thanks, it will cool :) Actually, I strongly recommend to look at this libraries instead of write new code, but, of course, you know better :)

By the way, don't forget about segmentation!

[2018-04-07 10:39] #466 closed

[2018-04-07 11:52] fmassa commented on #466
Don't worry, I won't forget about instance segmentation :-)

[2018-04-07 12:37] #346 closed

[2018-04-07 14:30] Oktai15 commented on #466
@fmassa sorry for offtop: I would like to notice that first provided library uses excellent way to transform two or more images. All transforms take list of images rather than just one image like transform in ```torchvision```. For example:

[code]
I suppose it's great idea ^^

[2018-04-07 15:09] fmassa commented on #466
It's indeed much simpler in some cases, but also more restrictive in more general setups.

For the record, this is something that has been bugging me for a long time, see https://github.com/pytorch/vision/issues/9 and https://github.com/pytorch/vision/issues/230 for some context.

In many cases, you don't want to pass all transforms to all data (no color augmentation for segmentation masks for exa

[2018-04-10 05:05] AKABBOKSIL commented on #252
@Bestiplays stepanveret's method does work!
you should do it on Anaconda prompt

[2018-04-10 16:09] jhostetler opened #468 "Document the default data proprocessing"
For example, torchvision MNIST is scaled to [0,1], whereas the standard MNIST dataset is in [0, 255]. This is not mentioned in the documentation, which instead just links to the original MNIST page, suggesting that the dataset is in the format described on that page. Similarly, standard CIFAR is in [0, 255] but torchvision CIFAR is in [-1, 1].

[2018-04-11 17:05] fmassa commented on #468
All the datasets in torchvision that you mentioned do not have any pre-processing.
Both the datasets you have mentioned are in the range 0-255, and the dataset returns them as PIL Images.
What might be different is the pre-processing that is specific to an example that you have seen, which is independent of torchvision.

For the pre-trained models that we provide, we specify the pre-processing tha

[2018-04-11 17:05] #468 closed

[2018-04-12 10:03] 0phoff commented on #456
I wanted similar behaviour and ended up creating my own `Compose` class for this:
[code]

My `Compose` is basically a callable list... Not sure if it has any drawbacks (it probably has), but this has the advantage of being familiar to most people, as it has all the methods lists have!
A few things you can do with it:
[code]

As you can see, it doesn't allow you to add a function to a compose like

[2018-04-13 02:54] ToTheBeginning opened #470 "why transforms.RandomRotation is not working?"
I install torchvision through conda, the version is 0.2, and the pytorch vision is 0.4

When i apply transforms.RandomRotation operation on image, then the errors occur
`
---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
<ipython-input-13-8c2081e16199> in <module>()
----> 1 img = trans_rot(img)

/

[2018-04-13 11:14] #470 closed

[2018-04-13 14:53] fmassa commented on #470
For posteriority, `rotate` requires PIL 4.0 or greater. We might want to enforce that in our setup.py.

[2018-04-14 01:27] arturml commented on #371
I'm dealing with this issue working with masks for semantic segmentation. For some reason, some of the masks opened by `Image.open` are mode '1'. These are 1-bit images, so this line doesn't work:
[code]
Since there's no 1-bit tensor, the only solution I can think of is adding another `elif` for mode '1' with a convert to mode 'L':
[code]
I'll try to make this change and adjust the tests.

[2018-04-16 14:11] fmassa commented on #371
Fixed via https://github.com/pytorch/vision/pull/471

[2018-04-16 14:11] #371 closed

[2018-04-21 07:55] TangKun1234 opened #473 "error accuracy"
I want to reproduce the accuracy result with AlexNet model, but the accuracy very low, why?  The model really pretrained?

[2018-04-23 13:02] jramapuram opened #475 "Standardize provided dataset label and data members"
This is in related to: https://discuss.pytorch.org/t/solved-simplest-way-to-increment-multiple-dataset-labels-using-the-operator/16809/5

Summary:  There is no consistent way to access members such as the dataset labels across the provided datasets, eg:

MNIST: uses self.train_labels here: https://github.com/pytorch/vision/blob/master/torchvision/datasets/mnist.py#L53
SVHN : uses self.labels here:

[2018-04-23 22:02] karandwivedi42 opened #476 "Missing docs for functional transforms"
Couldn't find them in pytorch docs (http://pytorch.org/docs/master/torchvision/transforms.html).

[2018-04-24 14:14] vfdev-5 commented on #440
@fmassa any updates on this ?

[2018-04-24 14:31] fmassa commented on #440
@vfdev-5 Yes, I have some proof-of-concept implementations.

I'm holding on on making a PR yet because I want to see how well they fit the object detection framework I'm writing (I have Fast R-CNN, Faster R-CNN, and FPN working for training and evaluation, I'm now implementing Mask R-CNN).

If I'm happy with how they mix with the framework, I'll be pushing them as is to torchvision.

[2018-04-24 14:35] vfdev-5 commented on #440
@fmassa that's super!
For impatient as me, can we take a look on your work to make an idea, please, if it is opensourced somewhere ?

[2018-04-24 14:37] fmassa commented on #440
It's not yet open-source, but it will be open-sourced. Stay tuned!

[2018-04-24 17:44] fmassa commented on #476
Indeed, looks like the link is not present in https://github.com/pytorch/vision/blob/master/docs/source/transforms.rst

[2018-04-24 22:08] varunagrawal opened #477 "[feature request] ROI Pooling layers"
It would be great to have support for various ROI Pooling operations as easy to add layers to facilitate research in object detection and semantic/instance segmentation.

Here is a live checklist:

- [x] ROI Pooling
- [ ] Position Specific ROI Pooling
- [x] ROI Align

[2018-04-24 22:10] fmassa commented on #477
I agree. I've started sketching the structure of it in https://github.com/pytorch/vision/tree/layers?files=1 .
I'll look into opening a PR tomorrow with a few layers

[2018-04-25 13:09] moskomule opened #479 "Some models warn about `nn.init.kaiming_normal`"
Hi, some models such as DenseNet warn because they use `nn.init.kaiming_normal` etc.  If you don't care about the backward compatibility, I can send a PR soon.

[2018-04-25 23:06] ruotianluo commented on #392
Whats the current status of this issue?

[2018-04-26 09:01] fmassa commented on #392
@ruotianluo I'm drafting the layers part of torchvision in https://github.com/pytorch/vision/tree/layers
I've added a CPU version of NMS, and I'll look into porting one of the following versions: [from py-faster-rcnn](https://github.com/rbgirshick/py-faster-rcnn/blob/master/lib/nms/nms_kernel.cu), from [this PR](https://github.com/pytorch/pytorch/pull/5404/files) and a few others.
Have you tried a

[2018-04-26 12:43] gpleiss commented on #391
Now that PyTorch 0.4 is officially out, I'm making the [efficient_densenet_pytorch](http://github.com/gpleiss/efficient_densenet_pytorch) code use the checkpointing feature. I can make a PR to this repo once I get it working!

[2018-04-26 12:56] fmassa commented on #391
@gpleiss that would be a nice addition! Maybe by specifying a constructor argument that dispatches to `checkpoint`? The only thing we need to keep in mind is that `checkpoint` currently requires the input to have `requires_grad=True`, which is suboptimal in cases where we don't checkpoint.

[2018-04-26 13:41] gpleiss commented on #391
@fmassa I'm thinking something like this?

[code]

[2018-04-26 13:58] fmassa commented on #391
That sounds good!

[2018-04-26 17:50] DSLituiev opened #480 "Error while loading pretrained Inception (v 0.2.1)"
Dimension mismatch error while loading a pretrained Inception v3

### Environment
0.2.1 with Anaconda, python3.6, Ubuntu 16

### code
    from torchvision.models.inception import Inception3, inception_v3
    model = inception_v3(num_classes=1, pretrained=True, aux_logits=False)

### error

[code]

[2018-04-26 22:08] ruotianluo commented on #392
When I build my faster-rcnn project, I port the nms from py-faster-rcnn; the main reason is I'm not familiar with cuda code and it's simpler to just copy.
With regard to https://github.com/pytorch/pytorch/pull/5404/files, it's using a full byte to save a boolean value(mask), while py-faster-rcnn uses each bit. (I can't comment on anything else.)

[2018-04-27 05:26] moskomule commented on #480
It's because you specify `num_classes=1`. Try `inception_v3(num_classes=1000, pretrained=True)` instead. Then, if you like 1 class output, replace the `model.fc`.

[2018-04-27 09:42] fmassa commented on #480
@moskomule 's answer will solve your issue. Closing as not a bug

[2018-04-27 09:42] #480 closed

[2018-04-27 09:43] fmassa commented on #392
Thanks, I'll take that into account when porting NMS to GPU.

[2018-04-27 09:44] fmassa commented on #479
Hey,
Yes, please, send a PR. There is no problem with backwards compatibility, because both the `nn.init.kaiming_normal` and `nn.init_kaiming_normal_` are exactly the same functions

[2018-04-27 09:46] fmassa commented on #475
If the user wants to concatenate both datasets, why not use [`torch.utils.data.ConcatDataset`](http://pytorch.org/docs/stable/data.html#torch.utils.data.ConcatDataset)?

[2018-04-27 09:50] jramapuram commented on #475
@fmassa : this doesn't have logic to change the labels of the second dataset. Eg:

1. dataset0 :  labels 0-9
2. dataset1 : labels 0-9

`ConcatDataset` here will not change the labels of dataset1. What I want is something like `ConcatDatasetExtendLabels` to ensure that dataset1's labels to be shifted from 10-19

[2018-04-27 09:56] fmassa commented on #475
I think you can do this in a simple manner: add a `target_transform` to one of your datasets that shifts the labels, and then use `ConcatDataset`
What do you think?

[2018-04-27 10:05] jramapuram commented on #475
Good point! Didn't actually think of this. This is probably the most appropriate way to get access to the underlying members

[2018-04-27 10:05] #475 closed

[2018-04-27 10:34] dssa56 commented on #392
On the other hand, the py-faster-rcnn version throws data back and fourth
between gpu and cpu, which may not be ideal.

On Fri, Apr 27, 2018 at 10:43 AM, Francisco Massa <notifications@github.com>
wrote:

[2018-04-27 12:38] fmassa commented on #392
We can use the PyTorch caching allocator to handle memory allocation (which will save us from the sync points from freeing the memory).
I'll have a closer look at both implementations this weekend, but thanks for the feedbacks!

[2018-04-27 13:08] dssa56 commented on #392
Cool, in that case you might also be interested in the implementation here, https://github.com/dssa56/projects/tree/master/nms under cuda_nms_workspace.cu. That uses the same technique as py-faster-rcnn, but keeps all data on the GPU. I didn't use it in the PR because of the workspace, but if that's a non-issue then it's potentially worth a look.

[2018-04-27 17:41] fmassa commented on #480
You mean a PR in `examples`? Or a PR in torchvision mentioning that `inception` requires a different input size? I'd vote for the second option

[2018-04-27 17:47] fmassa commented on #480
I think a PR for torchvision would be great actually!

[2018-05-01 17:09] felipecode opened #483 "Image Augmentations on GPU Tests"
Hello Pytorch vision people !

I am currently working on a project that requires lots of image augmentations
to perform better.  And I believe this is not only my case. When reading
about topics such a domain randomization, we see that big variations on images
leads to much more generalization.

I saw that pytorch does not seem to provide a way to perform
any image augmentation on GPU as comment i

[2018-05-01 20:42] #428 closed

[2018-05-02 07:23] imkzh opened #484 "What is the relationship between the output label of pretrained model in model zoo and wordnet synset id?"
we can easily access pytorch pre-trained model like VGG, AlexNet and SqueezeNet by

    import torchvision
    torchvision.models.vgg16(pretrained=True)

can anyone point out what's the relationship between the output label(index of maximum output value) and the actual category?

i downloaded ILSVRC2012_devkit_t12 and got the imagenet id and other metainfo provided by meta.mat, however it seems pr

[2018-05-02 15:09] Cadene commented on #484
You can find an example [here](https://github.com/Cadene/pretrained-models.pytorch/blob/master/examples/imagenet_logits.py).

You will need two files:
- [imagenet_classes.txt](https://github.com/Cadene/pretrained-models.pytorch/blob/master/data/imagenet_classes.txt)
- [imagenet_synsets.txt](https://github.com/Cadene/pretrained-models.pytorch/blob/master/data/imagenet_synsets.txt)

[2018-05-03 12:17] medakk opened #485 "[feature request] show name of damaged file in FolderDataset"
I am using DataLoader with FolderDataset to get some images from a dataset with a few bad images. It would be nice if the FolderDataset mentioned the path to the damaged image in the exception thrown:
[code]

cc @pmeier

[2018-05-04 12:12] vfdev-5 commented on #205
Any feedbacks on this ?

At least this could be good to implement BasicBlockV2 and BottleneckV2 as it is done in [mxnet](https://github.com/apache/incubator-mxnet/blob/master/python/mxnet/gluon/model_zoo/vision/resnet.py#L135)...

[2018-05-05 07:40] imkzh commented on #484
Thank you for your help, they are exactly what i need.

[2018-05-06 07:55] KovenYu opened #488 "bug in RandomCrop when accepting a tuple as padding using python 3"
when RandomCrop accepts a tuple of integers as **padding**, it simply absorbs this argument:
[code]
then, when it is called, this argument is compared with 0:
[code]
this is okay in python 2 where this comparison **always** returns True. but in python 3, comparison between tuple and int is illegal, and thus it will raise an type error.

P.S. there is another confusing feature. when I use `RandomCr

[2018-05-07 08:32] wanghan0501 opened #490 "Add Inception V2, Inception V4, Inception Resnet V2 in models"
Why not add Inception V2, Inception V4, Inception Resnet V2 in models？？

[2018-05-09 02:34] soulslicer opened #494 "VGG Models in Pytorch"
Good day,

I note that Pytorch has the VGG models from the paper here:

https://github.com/pytorch/vision/blob/master/torchvision/models/vgg.py

Can I ask on what dataset were these trained on..or if they were gotten from the original authors? This is because the VGG11 model for example was not released, yet there exists a model here?

[2018-05-09 08:51] fmassa commented on #494
All the VGG models were trained on ImageNet using the the scripts provided in https://github.com/pytorch/examples/tree/master/imagenet

[2018-05-09 08:51] #494 closed

[2018-05-09 08:52] fmassa commented on #484
I think we should provide somewhere the mapping between the class names and the indices. Not sure if it should be in `pytorch/examples` or in torchvision. What do you think?

[2018-05-09 08:58] imkzh commented on #484
That's great! i think it will be torchvision to provide those mapping, and `pytorch/examples` to have some example on it. :grinning: am i too greedy?

[2018-05-09 20:28] davidlmorton commented on #423
My understanding is that transforms are just callables and not restricted in their input/output types.  So `target_transform` on the MNIST dataset could be something that takes in an integer and outputs a onehot tensor or something like that.  I think it is nice symmetry, and they just haven't included any transforms (in torchvision.transforms) that aren't image related.

[2018-05-10 02:52] karandwivedi42 opened #495 "[minor feature] move tranforms.RandomCrop.get_params to functional"
For uniformity.
[code]
or
[code]
I can PR if it's a go-ahead from any maintainer.

[2018-05-10 07:05] maruthgoyal opened #496 "[minor feature] Add a progress bar to download_url"
When downloading datasets like CIFAR and such, the process can be very slow and it's hard to tell if the download is progressing. It would be nice to have a progress bar. I could submit a PR if that's fine?

[2018-05-10 19:00] soumith commented on #496
@maruthgoyal sure!

[2018-05-11 00:37] vosilov commented on #436
I, too, have the error:

[code]

I tried uninstalling and reinstalling pillow, but it didn't help.

[2018-05-14 03:38] #496 closed

[2018-05-14 15:40] vfdev-5 commented on #495
@karandwivedi42 can you explain more, please, what kind of uniformity you speak ?

[2018-05-14 16:26] Randl commented on #230
Are there any updates? @fmassa

[2018-05-14 16:34] karandwivedi42 commented on #495
Disclaimer: It's a very nit-picking issue and I am fine closing this issue.

Current code:
[code]

What I would like:
[code]

[2018-05-15 07:32] vishwakftw commented on #476
I have found a fix for this, and will issue a PR soon. @fmassa

[2018-05-15 21:34] #476 closed

[2018-05-15 21:37] wadimkehl commented on #477
Any movement on this?

[2018-05-15 21:39] fmassa commented on #477
Hey Wadim,
ROIPool and ROIAlign are implemented in the layers branch. I'm holding on merging them as is because I might want to change a few things, but feel free to use them as is (they are working)

[2018-05-15 21:48] wadimkehl commented on #477
Great, will have a look! Thanks :)

[2018-05-16 21:31] mathmanu opened #503 "Default scale argument for RandomResizedCrop"
The default scale argument for the transform RandomResizedCrop is defined as scale=(0.08, 1.0)

RandomResizedCrop  is doing a crop first and then scale to the desired size. What could be the logic in in setting the lower limit of crop to as low as 0.08? 0.08 would corresponds to a very small portion of the image.

I have seen (in my limited experimentation) that this is the reason for very slow tr

[2018-05-16 21:34] mathmanu commented on #503
I think I will close this issue here and file an issue in the examples repository, as this argument can be passed from the calling function.

[2018-05-16 21:34] #503 closed

[2018-05-17 09:03] morawi opened #505 "Different data and label names in torchvision.datasets"
I gave Cifar10, Cifar100, and SVHN torchvision.datasets a go, and after loading the train_set and test_set, the data labels’ identifiers are different across datasets:

To get the labels in Cifar10 and Cifar100
test_set.test_labels
train_set.train_labels
also, the data is called
test_set.test_data
train_set.train_data

In SVHN, the situation is different (and I think more accurate)
test_set.labels

[2018-05-17 09:13] mathmanu commented on #503
https://github.com/pytorch/examples/issues/355

[2018-05-22 05:59] SsnL opened #509 "to_tensor doesn't respect default dtype"

[2018-05-22 14:41] gchanan commented on #509
what's to_tensor?

[2018-05-22 15:10] SsnL commented on #509
@gchanan Here https://github.com/pytorch/vision/blob/master/torchvision/transforms/functional.py#L32-L85

[2018-05-22 16:35] SsnL opened #510 "transforms.Pad doc broken"
https://pytorch.org/docs/master/torchvision/transforms.html#torchvision.transforms.Pad
![screenshot 2018-05-22 12 35 05](https://user-images.githubusercontent.com/5674597/40376538-955720c6-5dbc-11e8-9879-358677c6fa7e.png)

[2018-05-23 17:56] NoaKel opened #513 "FashionMNIST dataset"

[2018-05-23 18:09] #513 closed

[2018-05-23 22:43] gpleiss commented on #391
So sorry for the late response this...

The efficient densenet code seems to work great on a single GPU. However, on multiple GPUs with nn.DataParallel, @wandering007 points out that the checkpointing feature is quite slow (see https://github.com/gpleiss/efficient_densenet_pytorch/issues/36). I think this is because checkpointing requires some sort of inter-GPU synchronization.

I'm opening up an

[2018-05-24 03:27] YubinXie opened #514 "Support for customized channel TIF input image"
I am currently working on medical image, where one field of view could have more than 3 channel (up to 50+ channel). Current loader does not support customized channel input. If you give it a stacked TIF image, it use convert 'RGB' function to make it something else. If I change the loader and make it output the n-d array of the input image, it gives future error because it assumes PIL image forma

[2018-05-24 07:09] SoloyT commented on #59
Hi
I want to load SHVN in python for training and testing. how can I use such this code for SVHN. ?
def load_mnist():
    # the data, shuffled and split between train and test sets
    from keras.datasets import mnist
    (x_train, y_train), (x_test, y_test) = mnist.load_data()
    x_train = x_train.reshape(-1, 28, 28, 1).astype('float32') / 255.
    x_test = x_test.reshape(-1, 28, 28, 1).astype('

[2018-05-24 08:14] fmassa commented on #59
@SoloyT it looks like you want to use keras?

[2018-05-24 08:15] fmassa commented on #391
Sounds good, thanks @gpleiss !

[2018-05-24 08:19] fmassa commented on #509
This is a bit of a mess actually, as it tries to handle several use-cases but it can break in others.

A possible patch for this to support the default dtype is to replace explicit `.float()` calls with something like
[code]

[2018-05-24 08:31] fmassa commented on #510
Fixed via #511

[2018-05-24 08:31] #510 closed

[2018-05-24 08:35] fmassa commented on #514
I think in order to properly support this it would be better to refactor our `to_tensor` / `to_pil_image` to be more generic.

As a workaround, do you need to perform any data augmentations in your code (rotation, flip, etc)?
If not, you can just use the `LambdaTransform` to convert your array into a torch tensor.

Also, do you want to normalize the image to be in a specific range?

It would be gr

[2018-05-24 08:46] fmassa commented on #495
I see your point @karandwivedi42 .
We have tried keeping all randomness outside of the functional interface.
While being a bit more verbose, I think it still gives a bit more flexibility to have the result of random transforms being a separate entity, specially if you are planning on applying the same random transforms to different inputs.

Thus, I'm not sure we would be adding a functional versio

[2018-05-24 08:46] #495 closed

[2018-05-24 08:53] fmassa commented on #483
I think that if we want to use GPU preprocessing in the data loader we would be restraining our users to use Python 2, which might be a bit too much.

Also, I'm not 100% convinced that in the setup that you showed it would be better to perform operations on the GPU.

The reason why I'm not convinced is that if we perform all the data augmentation on the CPU, then the GPU is free to run (asynchrono

[2018-05-24 08:54] SoloyT commented on #59
@fmassa Yes I prefer to use Keras, however I couldn't find keras code for that.

[2018-05-24 09:31] fmassa commented on #59
I have no idea if keras support torch datasets, sorry.
Might be better asking in the Keras forums

[2018-05-24 11:07] SoloyT commented on #59
ok, but it seems there is no solution via Keras. so would you please help me to load SVHN dataset without using keras?
Thanks

[2018-05-24 11:10] fmassa commented on #59
I can't say it will work with keras, but here is how you'd do it for pytorch-like dataloaders:
[code]
to load the `train` split. More info can be [found in the documentation](https://pytorch.org/docs/stable/torchvision/datasets.html#svhn).
I won't be able to help you though if keras dataloader does not expect this format. Sorry

[2018-05-24 11:12] SoloyT commented on #59
thank you so much @fmassa

[2018-05-24 17:31] agaldran commented on #230
Hi!

It's the first time I write in the forum, sorry if make any mistake, or this is not the appropriate place.

I am working on image segmentation, and I found this thread; If i'm right, the recommended approach atm is the one proposed by @alykhantejani [here](https://github.com/pytorch/vision/releases/tag/v0.2.0). I took the idea, and re-implemented `torchvision.transforms` in such a way that it

[2018-05-25 01:30] YubinXie commented on #514
It worked if I have no transformation. I do need transformation and normalization.

One thing I felt weird is that, current transformation is done via PIL, that is the reason PIL format is required. I think it would make more sense if you can do transformation on the np.array or tensor format.

[2018-05-25 08:51] #488 closed

[2018-05-25 14:21] fmassa commented on #514
Yes, requiring the image to be a PIL image has some limitations.
That's why I'm thinking about modifying the existing transforms and create a wrapper `Image` class, that could hold other formats as well.

But for that to work, we would need to know a bit better how the other formats are structured, and what is the representation that is used. Could you give us some pointers?

[2018-05-25 14:23] Robin-des-Bois opened #516 "Pillow 5.1 is broken on OS X"
When installing `torch` and `torchvision` in a clean virtualenv with `python3.6` and the corresponding `pip` on `OS X`

[code]

leads to

[code]

This is a known bug see [Pillow Issue 3068](https://github.com/python-pillow/Pillow/issues/3068)

As a pytorch user it  can be fixed by specifying the Pillow version in your `requirements.txt`

[code]

The `setup.py` should get updated with something lik

[2018-05-25 14:46] vfdev-5 commented on #516
@Robin-des-Bois if I understand correctly the problem is with Pillow on OSX, I mean that if you install another version with pip before installing torchvision it should work ?

[2018-05-25 14:55] Robin-des-Bois commented on #516
Exactly.

As long as the current version of `Pillow` is broken, it might make sense to make sure that `torchvision`'s `setup.py` installs another version if on `OS X` so that a potential user does not have to experience a crash when importing torchvision.

[2018-05-25 14:58] vfdev-5 commented on #516
I see, maybe if maintainers are OK with what you propose as a change in setup.py and if it is working correctly you could send a PR :
[code]

[2018-05-25 17:13] vishwakftw commented on #347
I believe this can be closed due to the patch https://github.com/pytorch/vision/pull/499

[2018-05-26 10:50] keunhong opened #517 "Normalize() transform has undocumented side effect"
It seems like [F.normalize()](https://github.com/pytorch/vision/blob/master/torchvision/transforms/functional.py#L168) does all of its operations in-place.

I feel like this should either be very clearly documented or be hidden behind a flag.

This really bit me when I was just sending some batch images to Visdom but my denormalization function was silently denormalizing my batch before doing a fo

[2018-05-26 13:58] vfdev-5 commented on #516
@Robin-des-Bois I think the issue with MacOSX is also related to the OSX version. I just tested on OSX 10.13.2 the following :
[code]
So, I can not reproduce the issue.

Following the discussion from Pillow, they are almost done with [5.1.1 release](https://github.com/python-pillow/Pillow/releases/tag/v5.1.1.post0)

I'm not very sure that we need to change the master now to temporary fix the probl

[2018-05-27 04:03] #347 closed

[2018-05-27 04:15] #517 closed

[2018-05-27 22:38] Robin-des-Bois commented on #516
sounds reasonable. especially since the fix as a user is so simple...

[2018-05-30 10:57] Randl commented on #230
@fmassa Can you send me invite, I'm not in pytorch slack yet?

[2018-06-03 17:29] Naman-ntc opened #523 "[Feature Request] Target Transforms for keypoints in Image"
Torchvision's functional API allows user to explicitly specify angles to rotate the image or points to crop the image. Thus one can apply sane augmentation on target masks or bounding boxes.
But in cases where we have the output as keypoints in the image, for example say human body joint coordinates in given image, if I rotate the image I'll have to find corresponding joint locations in image (via

[2018-06-03 22:54] kohr-h opened #525 "LambdaDataset?"
I'm wondering if this is of interest to the torchvision community: a dataset defined with two functions. It would look like this:

[code]

It could be super-handy to combine datasets, switch out the target like above, etc., without having to write a separate class.

[2018-06-04 12:35] vfdev-5 commented on #525
@kohr-h actually, as I understand a `Dataset` is just an iterable with length, so a dataset corresponding to your `LambdaDataset` is just
[code]
So, the 👍  of `LambdaDataset` is that it is already an instance of `Dataset`.
Could you please provide more use-cases where it can be used ?

[2018-06-04 18:49] Choco31415 commented on #145
Edit, I found a workaround. Submitting a new PR now.

[2018-06-05 00:46] lucasb-eyer commented on #145
These really ought to be methods of the class such that they can individually be overwritten in a user's child-class IMO.

[2018-06-05 13:37] varagrawal opened #528 "[Feature Request] Un-Normalize Image Tensor"
Basically the inverse of `transforms.Normalize` as this will allow us to visualize tensors during training more easily.

[2018-06-05 16:09] karandwivedi42 commented on #528
https://github.com/pytorch/vision/issues/281

[2018-06-05 21:45] VibAltekar commented on #490
I'd love to give this a shot! Is anybody already working on this?

[2018-06-05 21:53] karandwivedi42 commented on #490
@VibAltekar do go through the discussion here if you want to add a new model: https://github.com/pytorch/vision/issues/321#issuecomment-341820560

[2018-06-06 13:54] jianwu585218 opened #529 "I can't download the densenet pre-train models by the link"
I got some trouble in load pre-train models.
I can't download the densenet  pre-train models by the link,such as:
model_urls = {
    'densenet121': 'https://download.pytorch.org/models/densenet121-a639ec97.pth',
    'densenet169': 'https://download.pytorch.org/models/densenet169-b2777c0a.pth',
    'densenet201': 'https://download.pytorch.org/models/densenet201-c1103571.pth',
    'densenet161': 'ht

[2018-06-06 14:05] vfdev-5 commented on #529
Just checked the first file:
[code]
-> Remote file exists

[2018-06-06 16:30] fmassa commented on #145
Fixed via #145.

[2018-06-06 16:30] #145 closed

[2018-06-06 16:36] fmassa commented on #528
I agree with @karandwivedi42 and the comment that he linked to.

If you want to reverse the normalization, all you need to do is to use a new normalization, with slight modifications:
[code]

[2018-06-06 16:36] #528 closed

[2018-06-06 16:45] fmassa commented on #525
I'm not sure we would want to add it to `torchvision` though, as it is not really specific to image data.

Also, while it might look that it is sort of generic, it also imposes a restriction that there are only two objects that are returned (which can be tuples or dict, but still).

In the end, I'm not sure that the benefits it brings compensate the extra complexity.

I'm closing this, but please

[2018-06-06 16:45] #525 closed

[2018-06-06 16:49] fmassa commented on #490
Contributions are welcome!
Ideally, we would like the models to be trained on PyTorch using the `examples/imagenet` script.

[2018-06-06 16:51] fmassa commented on #523
Yes, this is useful will be included in torchvision in the next release.
If you have any code examples, it would be great if you could share.

[2018-06-06 16:55] fmassa commented on #230
Thanks @agaldran for sharing the code, we are thinking of ways of making it even easier to add joint transforms in torchvision, but the current recommended way is indeed to do as you did.

@Randl can you request an invite in https://pytorch.org/support/ ?

[2018-06-06 16:58] fmassa commented on #516
I'm not sure there is any action that needs to be taken here from our end.
Closing this, but feel free to comment if you disagree.

[2018-06-06 16:58] #516 closed

[2018-06-06 17:00] fmassa commented on #529
You are probably blocked by the chinese firewall.

[2018-06-06 17:00] #529 closed

[2018-06-06 20:12] Choco31415 commented on #424
To be honest, DatasetFolder seems like a weird name given its purpose. Maybe a better name would be ClassificationFolder? (Also why is DatasetFolder in vision when it's not restricted to images?)

Anyway, I have a generalized suggestion. What if PyTorch got a new class that could be given multiple Datasets? The class would then load in tuples of data by using the same index for __getitem__ on all

[2018-06-06 22:11] karandwivedi42 commented on #528
Slight mistake, last line should be:
[code]

[2018-06-07 01:38] utkuozbulak commented on #473
Hey, are you trying to get predictions based directly on the resized images? I ask this because I was as surprised as you are due to low accuracy.

 If so, you are doing it wrong. AlexNet test phase is a bit different than other models. Quoting from the paper:

There is also an additional step (right after above quote in the paper) that includes adding certain values obtained with eigenvectors/val

[2018-06-07 06:11] kohr-h commented on #525
It's not specific to to images, that's true.

Good point there. It would be better to have just one function `draw` or so which returns the tuple or whatever you like.

I'm thinking mainly of on-the-fly sample generation. The list approach by @vfdev-5 works as well, of course, but you may not want to have all the data lying around at once. A generator fixes that but misses the `__len__` attribute.

[2018-06-07 10:16] Naman-ntc commented on #523
Hi
[code]
[Function Padding Transforms Link](https://pytorch.org/docs/master/torchvision/transforms.html#torchvision.transforms.functional.pad)
)
This is a rough code made for padding (pretty trivial I guess) need to work through all cases though. Similarly for crop as well as resize and rotate can be done
(PS : Did the simplest one :P others are also trivial but easy to get wrong so did this )

[2018-06-07 13:28] fmassa commented on #528
Thanks @karandwivedi42 , my bad!
I'll fix my comment!

[2018-06-07 13:30] Naman-ntc commented on #523
Great! Would have loved to contribute but have some major commitments right now!
Thanks !

[2018-06-07 13:31] fmassa commented on #473
Another thing, did you do the right preprocessing of the image, and also set the model to `.eval()` mode?

Closing as this is probably an user error

[2018-06-07 13:31] #473 closed

[2018-06-07 21:32] kohr-h commented on #525
Yeah, I tried to bring forth the best arguments, but they're not really that strong. And I understand the reasons against it.

[2018-06-08 12:36] fmassa commented on #525
Thanks for the understanding @kohr-h
But there might be other places that such a functionality might be desired, for example as a third-party package?

[2018-06-13 03:40] peterjc123 commented on #252
@GANESHKUMAR7860 Can you post the full traceback here? I guess the problem is on PIL, not torchvision.

[2018-06-14 02:37] csukuangfj opened #530 "Dead link in ToPILImage"
- master branch

See the code
https://github.com/pytorch/vision/blob/50b2f910490a731c4cd50db5813b291860f02237/torchvision/transforms/transforms.py#L96

http://pillow.readthedocs.io/en/3.4.x/handbook/concepts.html#modes
is not a valid address any longer.

[2018-06-14 11:39] #530 closed

[2018-06-18 13:21] vadimkantorov commented on #514
@fmassa It would be nice if PyTorch supported running without Pillow(-SIMD which can have installation issues, since it requires to uninstall pillow package which some other pip packages can reinstall).

With `nn.functional.upsample`  and `.flip` in core, is image file loading the only thing that PIL is indispensable?

[2018-06-18 17:21] Ridhwanluthra commented on #523
Hi, I would like to work on this if someone is not working.
from what I understand basically, we want to create a way to apply a particular transform to multiple points?

[2018-06-18 18:49] varunagrawal commented on #477
@fmassa any updates on this? I'm sure a lot of people would benefit from having a master branch version of this available soon.

[2018-06-19 10:53] botcs commented on #477
It would be super convenient to have this installed automatically with torch/torchvision

[2018-06-19 11:43] Ridhwanluthra commented on #523
@fmassa I can help with building that representation as well. Please let me know if that is something I can contribute to

[2018-06-19 12:20] kevinlu1211 commented on #477
Just wondering if the ROI pooling/align could theoretically be done in pure Pytorch (even if it will be slow?)

[2018-06-19 12:51] botcs commented on #477
Was thinking about the same...
ROI pooling: Adaptive MaxPools exist, if you can efficiently crop out all the tensors you need from each image in a batch and concat them in the batch dimension, maybe it could work, however I have a bad feeling about the efficiency of this naive approach

[2018-06-19 13:43] fmassa commented on #477
@kevinlu1211 it is possible to implement it using pure PyTorch, and performance is OK.
An (old, badly tested) implementation can be found in https://github.com/pytorch/examples/pull/21/files#diff-7573d025c4128229f8efa3ff042e09d1R38

[2018-06-19 13:45] kevinlu1211 commented on #477
You are a life saver! I’m just writing a tutorial to explain mask rcnn
thanks a lot!

On Tue, 19 Jun 2018 at 11:44 pm, Francisco Massa <notifications@github.com>
wrote:

[2018-06-19 18:53] varunagrawal commented on #477
@fmassa I find it surprising this is not higher priority. The fact that every other major deep learning framework supports ROI Pooling and there is no easy way to write a Pytorch version of Detectron for research purposes despite the deep integration between Pytorch and Caffe2 is bewildering.

Is there some other way we can push this forward if you're too busy? I'm sure we can find volunteers to p

[2018-06-20 06:58] Constannnnnt opened #532 "[Explanation] Why do we need this condition in the ResNet?"
In the ResNet model, I see this conditional statement "self.inplanes != planes * block.expansion", referenced in the following image.

<img width="520" alt="screen shot 2018-06-20 at 14 37 39" src="https://user-images.githubusercontent.com/11689533/41641429-d6c569ae-7497-11e8-866f-f9c14b9a189b.png">

I am confused with this statement. From the original paper, it tells that in `Conv3_1, Conv4_1, Co

[2018-06-20 09:11] Constannnnnt commented on #532
I

[2018-06-20 12:32] alyato commented on #168
@fmassa
im trying the pytorch firstly.
i used to use the keras and the dataset has 3 parts , train,valid,test.
but when i check the https://github.com/pytorch/examples/blob/master/mnist/main.py, it has train function and test function .
I cannot find the valid_dataset,only the train_loader and test_loader
As what @gagb say, doesn't the valid_dataset need to exist.
Im using to classify task.
So my

[2018-06-20 12:40] vfdev-5 commented on #168
@alyato the example :  https://github.com/pytorch/examples/blob/master/mnist/main.py you are citing it is just an example.
Yes, you still need train/valid/test
and you can split train dataset into two with a random splitting, for example like this:
[code]
and go on with training on train dataset, validate on `val_ds` and finally test of testing dataset

HTH

[2018-06-20 15:44] GANESHKUMAR7860 commented on #252
@peterjc123 please give some solutions for this error. Thank you
Traceback (most recent call last):
  File "<pyshell#3>", line 1, in <module>
    import torchvision
  File "C:\Users\A.GANESH KUMAR\Anaconda3\lib\site-packages\torchvision\__init__.py", line 2, in <module>
    from torchvision import datasets
  File "C:\Users\A.GANESH KUMAR\Anaconda3\lib\site-packages\torchvision\datasets\__init__.py

[2018-06-20 17:47] skief opened #533 "[Feature Request] Pass multiple images to randomCrop, randomFlip, etc."
Recently I've worked with some semantic segmentation algorithms and there I've needed to randomly crop the images and apply the same crop to the mask/label image(to make sure that they are still aligned) and I couldn't do this with the current torchvision transformations.
Therefore I wanted to ask if anybody else would be interested in an implementation of these transforms for multiple images. If

[2018-06-21 00:51] alyato commented on #168
@vfdev-5
thanks.
yes. I do split the dataset as what you say.
Then, how can i use this train_dataset,valid_dataset,test_dataset.
i check the [https://github.com/pytorch/examples/blob/master/mnist/main.py](url),it present an example include the `train` `function` and `test` `function`.But it doesn't present the `valid_dataset`.
Is there one example show me that the train_dataset using for training,

[2018-06-21 14:40] fmassa commented on #523
@Ridhwanluthra thanks for the offer!
I've just started working on keypoints, I'll keep you posted!

[2018-06-22 14:48] GANESHKUMAR7860 commented on #252
@peterjc123
When i import the torchvision in jupyter notebook . It shows some error and i have installed the pillow also.  solutions please?
ImportError                               Traceback (most recent call last)
<ipython-input-1-6dd351122000> in <module>()
----> 1 import torchvision

~\Anaconda3\lib\site-packages\torchvision\__init__.py in <module>()
      1 from torchvision import models
---

[2018-06-22 18:26] tonyf opened #534 "[layers] Layers branch building fails due to CPP extensions"
Building the layers branch is failing.

[2018-06-23 02:46] Ankita-Das commented on #59
Is using the format 2 of the dataset(SVHN) as efficient as using the format 1,
The images in format 2 contain cropped images,but a single image(which should actually contain just 1 digit) contains portions of other digits too.

Also,is deskewing necessary for the format 2 dataset?

[2018-06-25 09:52] vfdev-5 commented on #168
@alyato sorry do not really get your question, but if you would like to have different transformation for valid dataset from train dataset, you can do like this:
[code]
HTH

[2018-06-26 11:45] GANESHKUMAR7860 commented on #252
Excuse me any solution for the above error please.

[2018-06-26 11:49] peterjc123 commented on #252
@GANESHKUMAR7860 Would you please uninstall `torchvision` and `Pillow` and then reinstall them?

[2018-06-26 16:42] GANESHKUMAR7860 commented on #252
@peterjc123
I did it but nothing works. Thank's.

[2018-06-27 07:00] Naman-ntc commented on #533
Why don't you just use [functional transforms](https://pytorch.org/docs/master/torchvision/transforms.html#module-torchvision.transforms.functional)? In my opinion it gives you better control as well for augmenting targets instead of passing to transforms.

[2018-06-27 07:05] Naman-ntc opened #536 "torchvision stable documentation doesn't contain functional transforms"
Why aren't functional transforms presents in the `stable docs`. They are present in current stable release 0.4 but not in docs..?

[2018-06-27 07:06] Naman-ntc commented on #536
Okay they were added to docs after the release as [auto module entry](https://github.com/pytorch/vision/blob/8a4786a2e26400abeb95f4c302c765487f68a13b/docs/source/transforms.rst)

Closing this

[2018-06-27 07:06] #536 closed

[2018-06-27 07:10] Naman-ntc opened #537 "[Pretrained model request] Inception v1 pretrained model in pytorch"
In torchvision pretrained models there are a few (impactful) models that are absent from package like inception v1 and etc.

For my work I specifically need a inception v1 as the base model.

Is it possible to add it to the package. I believe for research purposes it is still important for comparing performances etc.

[2018-06-27 08:08] Naman-ntc opened #538 "Provided pretrained feature extractors also (removing final pooling and fully connected layers)"
It would be very helpful if apart from providing pretrained networks torchvision packages also provide pretrained feature extractors (that is the learnt convolutions but not the pooling and fully connected layer).

For transfer learning one only needs the convolution maps and it is [somewhat cumbersome](https://discuss.pytorch.org/t/given-vgg16-how-to-remove-pool5-layer-and-all-the-classify-layers

[2018-06-27 08:37] vfdev-5 commented on #538
@Naman-ntc maybe you can just replace `avgpool` by AdaptiveAveragePooling:
[code]

HTH

[2018-06-27 15:34] emilmelnikov commented on #441
I'd like to make a somewhat similar proposal: implement dataset downloading through command line, something like the following:

[code]

[2018-07-01 12:14] ahkarami commented on #392
Has the current version of **Torchvision** the GPU-based NMS?

[2018-07-02 09:34] shaibagon opened #539 "ImageFolder dataset: "too many open files" error"
Hi,
I am using `ImageFolder` dataset to train on imagenet.
I repeatedly get "too many open files" OSError after training for several hours.
I suspect the issue comes from [here][1]:
[code]
The `return` is inside `with ...` clause, thus (I suspect) the file handle `f` is not closed properly when the function returns.
Shouldn't the function be
[code]

Thanks,
-Shai
[1]: https://github.com/pytorch/vi

[2018-07-02 10:28] vfdev-5 commented on #539
@shaibagon could you tested this modification on imagenet again and see if problem disappears ?

[2018-07-02 10:33] shaibagon commented on #539
@vfdev-5 I'm afraid this is not so easy to do the way pycharm is installed on my machine. I'll try and report back. (this is why I opened an "issue" rather than a PR...)

[2018-07-02 11:46] vfdev-5 commented on #539
@shaibagon could you provide a traceback please if you still have it ?

[2018-07-02 11:55] shaibagon commented on #539
@vfdev-5 I am sorry, but because of the remote environment I am working at it is very difficult to provide additional information. I am also suspecting I have not located to problem correctly.

Bottom line:

running for long time (day+) using `ImageFolder` data results with OSError "too many open files".

I will do my best to shed more light on this issue. meanwhile, I don't think there's much to

[2018-07-02 17:31] ahirner commented on #534
This is related to a `PYBIND11_MODULE` [issue](https://github.com/pytorch/extension-cpp/issues/13), fixed in pytorch master.
FWIW, the current layer branch compiled for me after #540.

[2018-07-03 09:08] fmassa commented on #534
Closing after #540
Note that you might need PyTorch compiled from master

[2018-07-03 09:08] #534 closed

[2018-07-03 09:08] fmassa commented on #392
No, it doesn't.
I have it implemented locally (based on the implementations that were shared previously), but I haven't pushed it yet.

[2018-07-03 11:42] vfdev-5 commented on #539
@shaibagon I tested the following and no error found:
[code]

[2018-07-03 14:01] shaibagon commented on #539
@vfdev-5 okay. that means I failed to spot the origin of this annoying OSError. However, it still occurs occasionally. Is it possible to leave this issue open hoping other user will be able to help reproduce it?

[2018-07-03 14:13] vfdev-5 commented on #539
@shaibagon could you post some of your code that produces the problem ?

Sure, that it can be kept open for a while until mantainers decide something on it.

Actually, there is another option to not to use PIL to open images - replace default loader, see [here](https://github.com/pytorch/vision/blob/master/torchvision/datasets/folder.py#L200)
You can try other libraries like opencv or skimage just

[2018-07-03 17:05] ahkarami commented on #392
@fmassa,
Ok. Thank you for your reply. I hope the PyTorch team push it as soon as possible.

[2018-07-05 07:51] Maratyszcza opened #541 "Downloading MNIST is broken"
1fb0ccf71620d113cb72696b2eb8317b3e252cbb broke downloading MNIST: downloaded MNIST files are zero-size and throw on decoding. The parent commit (0bbb1aa3faa2d3d75064b0c6d050fb1174d7dfe7) works.

Environment:
- Ubuntu 16.04 LTS
- Python 2.7:

Repro:
[code]

[2018-07-05 11:03] fmassa commented on #541
It works for me on both Python 2.7 and Python 3.6.

I got a warning message on Python 2.7 though, but the files are there:
[code]

cc @vishwakftw

[2018-07-05 13:19] fmassa commented on #514
@vadimkantorov almost.
Note that for the moment, upsample only works on floating point data, but I'd expect that we would add support for other data types in the near future.
Also, there are a few other operations that require a bit of work to get running (like rotations), even if that could be implemented using `grid_sample` (for floating point types only).

One thing I was thinking was to eventu

[2018-07-05 13:47] vishwakftw commented on #541
@Maratyszcza @fmassa what are your versions of `tqdm`? I think there is a problem with 4.23.4. I downgraded to 4.19.9, and it works fine.

[2018-07-05 13:59] fmassa commented on #541
The version I used was `'4.19.4'`, and worked fine

[2018-07-05 14:03] vishwakftw commented on #541
So, were there no warnings in 2.7? I can send in a patch accordingly.

[2018-07-05 14:35] fmassa commented on #541
Sorry for not being clear. On Python 2, I was using `'4.23.4'` and I got those warnings

[2018-07-05 15:00] vishwakftw commented on #541
In Python 2.7, with `'4.23.4'` the warnings occur but the files are saved. I wanted to know if with `'4.19'`, the warnings occurred at all, because they didn't occur for me.

[2018-07-05 15:16] fmassa commented on #541
4.19.4 didn't have any warnings on Python3.6

[2018-07-05 15:16] fmassa commented on #541
But I'm not sure the warnings are the problem here. @Maratyszcza was mentioning that the files didn't manage to download properly

[2018-07-05 19:09] Maratyszcza commented on #541
No, there were no warnings. Complete output dump:
[code]

[2018-07-05 19:15] Maratyszcza commented on #541
`tqdm` was at 4.8.4, and no longer reproes after I updated to 4.23.4

[2018-07-05 19:15] #541 closed

[2018-07-05 19:15] vishwakftw commented on #541
@Maratyszcza what is your `tqdm` version? Also, can you try `FashionMNIST` to check if it is actually a problem with `tqdm`?

[2018-07-05 19:15] vishwakftw commented on #541
Oh oops, sorry.

[2018-07-05 19:16] vishwakftw commented on #541
@fmassa do you want me to send in a patch for downgraded version of `tqdm` ?

[2018-07-10 05:04] jianchao-li commented on #39
Updates for easy reference
[code]

[2018-07-11 02:27] Naruto-Sasuke opened #543 "How about adding more advanced models (mobile net, DPN, etc) in vision ?"
Mobile net, DPN, SE-ResNeXt are useful in image classification.  I wonder whether you guys have a plan adding these models.

[2018-07-11 07:58] vfdev-5 commented on #543
There is also a [repository with pretrained recent architecture models](https://github.com/Cadene/pretrained-models.pytorch) which contains DPN, SE-ResNeXt.
HTH

[2018-07-11 11:34] patricio-astudillo commented on #230
Hi everyone, imgaug has a nice solution for this problem: the abstracted the transformation function where the random parameters are set into one function called 'to_deterministic'. This returns a function without random parameters which you can then apply to any number of images. One requirement to this solution is that you call to_deterministic each time you need a new sample otherwise it will t

[2018-07-11 14:05] SsnL opened #544 "torchvision sets multiprocessing start_method"
[code]

I used builtin `mp`. Same thing happens for `torch.mp`.

[2018-07-12 11:20] neherh opened #545 "[feature request]- torchvision.transforms.ColorJitter Enhancement"
Currently, the ColorJitter function only takes in a single float value for the parameters brightness, contrast, saturation and hue. The value is chosen uniformly from [max(0, 1 - brightness), 1 + brightness] (minus hue). What would improve this function is to be able to set your min and max bounds by inputting a tuple for each parameter.

[2018-07-12 22:37] vfdev-5 commented on #477
Yeah, captain @fmassa you have almost an army of volunteers that wait for your orders :)

[2018-07-13 00:36] varunagrawal commented on #477
@fmassa I guess I've figured out how to get the CppExtension module to work for me and I should be able to finish this feature.

I see you have TODOs to pull some common CUDA utilities out into a common file. Any other things you'd like to do before I make a PR?

[2018-07-13 17:19] InnovArul opened #546 "transforms.ToTensor() for numpy float array in the range of [0.0, 255.0]"
I had come across a debugging scenario where the ToTensor() didn't convert the numpy float array in the range of [0.0, 255.0] to the range [0.0 to 1.0] due to following lines:
https://github.com/pytorch/vision/blob/master/torchvision/transforms/functional.py#L50-L53

Basically, this API assumes that all the float arrays will already be in range [0.0 to 1.0].
Do you think we have to change this beh

[2018-07-13 17:22] fmassa commented on #546
I think I'll be creating an `Image` class that can hold a few different types (PIL images, numpy arrays, tensors), and during the constructor it will know what types of data it expects, so that we can cover all those use-cases.

[2018-07-13 17:31] fmassa commented on #477
Hey guys, sorry for the delay here.

So, there are a number of things that should be done in order to be able to put this in torchvision:
- package wheels with CPU / CUDA compiled code
- add proper unit tests
- documentation
- code clean-up

I've been doing some great progress on Detectron, and I've currently moved all those layers to the detectron repo for the moment. I'm currently hesitating if

[2018-07-13 17:41] fmassa commented on #544
This is very weird!

I did some debugging, and this is actually a problem with `tqdm`
[code]
raises
[code]

If this is a blocker we might want to consider removing `tqdm` from torchvision

[2018-07-13 17:51] SsnL commented on #544
Actually joblib and sklearn also sets the start method so this is probably
happening with a lot of libs. Users can use mp.get_context so it shouldn’t
be blocking. But it is annoying indeed.

On Fri, Jul 13, 2018 at 19:41 Francisco Massa <notifications@github.com>
wrote:

[2018-07-13 19:15] wadimkehl commented on #477
Is the last issue a constantly persisting one? All the other I do not perceive to be big problems for a WIP branch, really. But it would enable everyone to have a working, if temporary, in-house pytorch solution.

[2018-07-13 19:19] varunagrawal commented on #477
@fmassa I believe I can take care of everything else except Wheel generation since I'm not familiar with the python packaging pipeline at FB.

As @wadimkehl mentioned, is there a checkpoint we can use for CppExtension and ATen? I used the latest master of PyTorch as of yesterday and your branch compiles fine as is.

[2018-07-13 20:10] vfdev-5 commented on #477
@varunagrawal concerning wheels and packaging you can take a look at [pytorch/builder](https://github.com/pytorch/builder/tree/master/conda#building-pytorch--torchvision-etc)

@fmassa I think torchvision can have a scope to provide models/datasets/transforms for tasks like
- classification (as it is today)
- segmentation (need new models and transforms that takes care of masks)
- detection (at lea

[2018-07-14 21:46] vfdev-5 commented on #205
Implemented ResNetV2 in [this PR](https://github.com/pytorch/vision/pull/491) but not yet trained.

[2018-07-16 09:48] yaox12 commented on #545
I'm working on it

[2018-07-16 10:09] yaox12 opened #549 "BUG: The torchvision.models.alexnet is incorrect"
In [self.classifier](https://github.com/pytorch/vision/blob/master/torchvision/models/alexnet.py#L32), the correct order of layers should be fc6-relu-dropout-fc7-relu-dropout-fc8, which means that dropout layer should be after the fc and relu layers.

This does not matter when inference. However, when you fine tune AlexNet model on other datasets, the incorrect layer sequence will result in an acc

[2018-07-16 12:11] fmassa commented on #549
I had a quick look and it seems that you might be right.
Following @soumith comment on https://github.com/pytorch/vision/pull/463 , I think we will be living with this mistake, as people have already built models and got results based on the models that we provided, and changing that now would not be great.

Thanks for catching this issue though!

[2018-07-16 14:55] yaox12 commented on #549
Adjusting the order of layers won't break the pre-trained models much, we only need to change some symbol links. For example, move `classifier.1.weights` to `classifier.0.weights`. We don't need to re-train the model. We load the previous model, adjust the order of layers and save it to checkpoint file. The forward inference will not change.
As PyTorch has not reach version 1.0, I think making som

[2018-07-16 15:09] soumith commented on #549
yea, this seems worth fixing, esp. if the forward inference doesn't change.
The other issue was around changing the model from 256 to 384 channels on a particular layer, so it's quite a drastic change.

We're open to a PR.

[2018-07-18 03:20] cuixing158 opened #551 "请问支持Windows吗？"
有没有适合Windows版本的，谢谢！

[2018-07-20 01:53] isalirezag opened #552 "small bug in torchvision.datasets.ImageFolder #9612"
This is not a huge bug, but it is kinda a bug.
In linux sometimes the names are like img.JPEG instead of img.jpeg, and apparently torchvision.datasets.ImageFolder is not happy with that and throw an error that it just likes the jpeg not JPEG.
If you guys can consider that that would be nice.
Thanks

[code]

[2018-07-20 02:22] #552 closed

[2018-07-20 04:21] sunnydps32 commented on #252
**conda install pytorch-cpu -c pytorch
pip3 install torchvision**

I was facing a similar problem earlier. The first command was running fine. But the second one was showing error.
There were two installations of pip. One was inside the installation directory of python and the other was inside Miniconda. This was causing the conflict.
I removed the pip from the installation directory of python usi

[2018-07-20 15:06] soumith commented on #552
we do a "lower-case" of extension check, so this should already be covered: https://github.com/pytorch/vision/blob/master/torchvision/datasets/folder.py#L20

[2018-07-20 22:41] jramapuram commented on #505
Had the same query earlier, however it technically shouldn't matter as you can permute the data or the labels with `transforms` or `target_transforms` whatever the underlying members are.

[2018-07-22 14:17] vmirly opened #553 "Documentation for torchvision.RandomAffine() refers to a wrong URL"
The doc for the **resample** option in `torchvision.RandomAffine()` refers to Pillow docs version 3.4.x but this link gives **Permission Denied**. However, the links for version 5.2.0 and the stable version work, so I think it will be good to update the link.

Documentation Page for `torchvision.RandomAffine()`:
https://pytorch.org/docs/stable/torchvision/transforms.html#torchvision.transforms.Ran

[2018-07-22 20:55] isalirezag opened #555 "Dataloader does not work with inputs of different size (possible bug?)"
I am not sure if this is a bug or it is build on purpose like this, but i notice if i have data with size of BxCxAxWxH, where A  can be different from sample to sample the dataloader through an error.

Example:

[code]
works fine.

but if i have:

[code]
it does not work and throw an error

 the error itself is saying that: `Sizes of tensors must match except in dimension 0`, meaning i can have pe

[2018-07-23 02:22] #553 closed

[2018-07-23 17:13] fmassa commented on #555
That's right.
You need to write your own `collate_fn` and pass it to `DataLoader` so that you can have batches of different sizes (for example, by padding the images with zero so that they have the same size and can be concatenated).

It should be fairly easy to write your own collate_fn for handling your use-case. Let me know if it isn't the case.

[2018-07-23 17:13] #555 closed

[2018-07-23 18:22] isalirezag commented on #555
Is there any example for that so i can take a look at it?

[2018-07-23 19:14] varunagrawal commented on #477
@vfdev-5 your suggestion would turn this into a Chicken & Egg problem since we need ROI Pooling to implement even a basic RCNN model.

Given that Detectron supports Faster RCNN, Caffe2 is now intrinsically linked to Pytorch, and 2 stage detectors are still highly looked into in research (e.g. Light Head RCNN) and industry, having a ROI pooling/align layer would be beneficial for torchvision overal

[2018-07-25 07:29] da-wad opened #557 "_find_classes() underperforming for large numbers of classes"
When training with large (>10^5) numbers of classes (Ref. https://arxiv.org/abs/1805.01978) the _find_classes() method is sloooow. Replacing the first line with: `classes = [d.name for d in os.scandir(dir) if d.is_dir()]` works correctly for me and is a lot faster (see Python docs: https://docs.python.org/3/library/os.html#os.listdir ). Thought others might appreciate this...

[2018-07-27 04:17] soumith commented on #557
thanks a lot. would you be kind enough to open a PR for this (with a if python3 guard)

[2018-07-27 04:30] fmassa commented on #392
I have a version of it that I adapted from  https://github.com/rbgirshick/py-faster-rcnn/blob/master/lib/nms/nms_kernel.cu
But because pytorch is so rapidly evolving, it has already been broken by pytorch refactoring at least 3 times.
I'll hold on before pushing it to torchvision  because I expect those breakage to still happen.
I can push the current version I have in a gist though, if you want t

[2018-07-27 06:37] xiexu666 opened #558 "How to calculate the parameters in torchvision.transforms.Normalize(mean, std)"
I have load my own image dataset , but don't know how to calculate the mean and std
`train_data=torchvision.datasets.ImageFolder('F:/trainData',transform=transforms.Compose(
                                                                        [
                                                                            transforms.Scale(256),

[2018-07-27 07:06] Sucran commented on #392
@fmassa Thank you. Actually, I prefer to try it out, then consider how to fix the breakage in my production env. Hope the gist version.

[2018-07-27 07:10] xiexu666 commented on #558
I find the result in [http://forums.fast.ai/t/image-normalization-in-pytorch/7534/7](url)

[2018-07-27 10:33] youkaichao commented on #39
is it better that we can keep the mean and std inside the torchvision models? It is annoying to keep some magic numbers inside the code.

[2018-07-27 14:36] soumith commented on #558
you can simply run some of the dataset you have through computing mean and standard deviation.

[2018-07-27 15:35] soumith commented on #557
closed via #559

[2018-07-27 15:35] #557 closed

[2018-07-27 18:56] fmassa commented on #392
@Sucran here is the implementation https://gist.github.com/fmassa/cf9ab87e4bd71e849655d5abb8cfd6c6
It was working, but I'm not sure anymore.

[2018-07-28 02:44] #558 closed

[2018-07-28 18:47] sauercrowd opened #560 "doc-models.inception_v3: Add information about expected input size"
While using the pretrained inception v3 model I wasnt aware that the input size has to be 299x299, as I figured out after a little bit of try and error and searching.

I hope I didn't miss something in the docs, but if not it might make sense to add a small note in the models.inception_v3 doc that the expected tensor size is different for this model.

[2018-07-30 12:09] fmassa commented on #39
@youkaichao this is a good point, and the pre-trained models should have something like that.
But that's not all of it, as there are other underlying assumptions that are made as well that should be known (image is RGB in 0-1 range, even though that's the current default in PyTorch).
But I'm open to suggestions. I'm not sure where we should include such information: should it be in the `state_dict

[2018-07-30 12:22] fmassa commented on #477
Sorry for the delay in replying.

@wadimkehl @varunagrawal as of today, my branch doesn't compile anymore on latest PyTorch because of https://github.com/pytorch/pytorch/pull/9435, and patches such as https://github.com/ngimel/pytorch/commit/ae176af8feb546b70eabed68e260d897bc4f7627 should be applied to `ROIAlign` (and maybe other functions as well)

This has been the case at least 3-4 times for me

[2018-07-30 12:25] fmassa commented on #560
This is currently "documented" in https://github.com/pytorch/vision/blob/master/torchvision/models/inception.py#L77, but I agree that it would be better to have it more visible in the official documentations.
Could you send a PR improving the documentation?

[2018-07-30 12:30] fmassa commented on #505
So, what happens is that the `DataSet` API only specifies that `__getitem__` and `__len__` should be implemented, and all the rest is up to the user.
Thus, while we could try to enforce that for some particular datasets that will hold true (for those that can be fully loaded in memory and that are split in two tensors, for example), that's not going to be the case everywhere.

Changing the naming

[2018-07-30 12:30] #505 closed

[2018-07-30 12:38] youkaichao commented on #39
@fmassa how about registering mean and std as a buffer?
As for the input range, I think you can print out a line that says "accepted images are in range [0, 1]" at initialization.

[2018-07-30 12:39] fmassa commented on #551
torchvision works on windows out of the box, and you can install it either via pip or conda.
Related issue https://github.com/pytorch/vision/issues/252#issuecomment-398798394

[2018-07-30 12:39] #551 closed

[2018-07-30 12:41] fmassa commented on #39
Registering them as a buffer is an option, but that also means that we would either need to change the way we do image normalization (which is currently handled in a transform) and do it in the model, or find a way of loading the state dict into a transform.

Both solutions are backwards-incompatible, so I'm not very happy with them...

[2018-07-30 12:42] ryanpeach opened #561 "ImageFolder Image mode."
`ImageFolder`'s `pil_loader` converts to RGB. This may be a standard for images, but I recently needed RGBA and was confused as to why it wasn't opening correctly (its not in the documentation that it does this, and there isnt an argument that makes it obvious or allows you to overwrite this behavior, you need to make your own loader). I propose we add an option to `ImageFolder` called `image_mode

[2018-07-30 12:47] ryanpeach opened #562 "Crop or Pad transform."
So, tensorflow has a transform function called [resize_image_with_crop_or_pad](https://www.tensorflow.org/api_docs/python/tf/image/resize_image_with_crop_or_pad). I recently needed this function for my own work. Moreover, it'd be nice to have all of the following:

* RandomPad - Makes an image a certain size by padding but performs random offset on the padding.
* CenterCropOrPad - Replicates Tenso

[2018-07-30 12:50] fmassa commented on #561
I'd say that it's fairly easy to write a new loader, and also more generic, because this format conversion is specific to PIL.

We can improve the documentation of the `loader` to make it explicit that it users PIL and converts the image to 'RGB' format, but I don't think it's necessary to pass yet another argument to the constructor of the `ImageFolder`.

For reference, here is how I'd write a lo

[2018-07-30 12:50] #561 closed

[2018-07-30 12:53] fmassa commented on #562
Isn't [`RandomCrop` what you want](https://github.com/pytorch/vision/blob/master/torchvision/transforms/transforms.py#L373-L401)?

[2018-07-30 12:54] ryanpeach commented on #561
True it's a small change. I can understand the rationale since no other torchvision transform takes RGBA. Let's just explicitly mention it in the Documentation then.

[2018-07-30 12:55] fmassa commented on #561
Could you send a PR to improve the docs?

[2018-07-30 12:55] ryanpeach commented on #562
I tried RandomCrop and it threw an error when the desired size was bigger than the source. Is it supposed to be able to pad also?

[2018-07-30 12:56] youkaichao commented on #39
@fmassa  you can add a parameter at ``__init__`` like ``pre_process=False``, the default value for backwards compatibility, and if ``pre_process==True``, use the registered buffer. this way, users can use pre-defined preprocessing just by setting a boolean flag, which seems much better than searching for the exact mean and std value everywhere

[2018-07-30 12:57] fmassa commented on #562
Yes, latest version of `torchvision` supports padding as well, check the link I sent you. There is an option for optionally adding padding if the input is too small

[2018-07-30 12:58] ryanpeach commented on #562
Oh I see in the documentation it is, never mind, maybe the bug was something else then. Maybe there's a way to change the description of this method in the list of transforms so that it mentions padding as well? (Maybe that's the case and I missed it as well).

Sorry, just now learning the library. I'll try to be more careful before making issues next time.

[2018-07-30 12:59] fmassa commented on #39
well, the good thing about torchvision models is that (almost) all of them have the same pre-processing values.

Also, it's a bit more involved than that, because before one could just load the model using `load_state_dict`, but now if we add extra buffers, old users might need to load it using `strict=False`, or else their loading part will crash.

[2018-07-30 13:00] fmassa commented on #562
No worries.
We can definitely improve the documentation. Could you please send a PR?

[2018-07-30 13:02] ryanpeach commented on #562
Yes I'll look into it.

[2018-07-30 14:00] sauercrowd commented on #560
Sure, I take that!

[2018-07-30 15:46] varunagrawal commented on #477
@fmassa the good news is I have forked your branch and already made all the fixes. As of 07/27/2018, the ROI Pooling layer compiles successfully on my branch and I have also added a whole bunch of tests to check for correctness.

I can submit the PR and continue to maintain ROI Pooling (and ROI Align hopefully soon) until we get more stability from ATen and checkpoint at either PyTorch v0.5 or v1.

[2018-07-30 15:49] fmassa commented on #477
Sure, if you send a PR to the `layers` branch, I will merge it ,thanks!
But I'm not going to be merging the `layers` branch into `master` before things stabilize, which might be before v1.0

[2018-07-30 17:03] varunagrawal commented on #477
That works! For now let's point people towards the `layers` branch until we get the desired stability.

[2018-08-01 00:09] ryanpeach commented on #562
So I also learned that RandomCrop when you set `pad_if_needed` to True does not RandomPad. AKA, whereas random crop applies a crop at a random offset to the image, `pad_if_needed` performs a centered padding, which does not randomly place the image in the padded image. The goal for padding should be that the image is in a random spot. Imagine the following:

Imagine the image, whatever size, on an

[2018-08-01 00:11] ryanpeach commented on #562
The easy fix for this over-pad the image in RandomCrop.

[2018-08-02 14:44] fmassa commented on #562
The random crop behavior was fixed by #564. @ryanpeach could you also send a PR improving the documentation?

[2018-08-03 01:59] isalirezag opened #565 "[enhancement] computer vision and bounding box detection"
it would be really useful to have some functions like this:
http://chainercv.readthedocs.io/en/stable/reference/visualizations.html

[2018-08-03 04:55] ryanpeach commented on #562
Yes sorry, I have limited time for that but next time I work on my project I'll get to it!

[2018-08-03 08:48] noeagles opened #566 "Rotation transformation"
I noticed that RandomRotation  range only from (min, max); however it is more realistic to rotate from the set (angle1, angle2, angle3) randomly?

[2018-08-03 14:03] fmassa commented on #565
I'm working on a Object Detection and Instance Segmentation library that will be open-sourced, and will contain functionalities like those that you mentioned.

I'm closing this issue as it's being tracked by https://github.com/pytorch/vision/issues/425 and https://github.com/pytorch/vision/issues/440

Thanks!

[2018-08-03 14:03] #565 closed

[2018-08-03 14:06] fmassa commented on #566
Could you be a bit more clear on what you mean by those three angles?

[2018-08-03 14:21] asanakoy opened #567 "[docs] transforms.ToTensor() doesn't rescale pixels of floating-point images"
I noticed that ToTensor() only rescales  pixels of integer-valued images.
If `PIL.mode` corresponds to the image with the floating-point representation - no scaling to pixel values will be applied.

I think this should be documented in https://pytorch.org/docs/stable/torchvision/transforms.html?highlight=totensor#torchvision.transforms.ToTensor. Otherwise it's too confusing.

Related to: https://g

[2018-08-03 14:39] fmassa commented on #567
Yes, it should definitely be documented.
As I've mentioned in #546, I think we should do something to mitigate this inconsistency.

Could you send a PR improving the documentation?

[2018-08-03 14:46] fmassa commented on #532
This is just a way of factoring out the structure of resnet in a simple way.

In ResNet, every conv3x3 layer in block has the same number of channels. If we change the number of channels, that's because we are going to a new block, so it requires downsampling.

[2018-08-03 14:46] #532 closed

[2018-08-03 14:48] fmassa commented on #484
I think this totally make sense to provide this mapping.
I'll think about a good way of doing it, maybe making a base class `TorchvisionModel`, that contains the basic pre-processing parameters that are used for all the models, as well as the image synset.

[2018-08-03 14:50] asanakoy commented on #567
Yes, sure. I will send a PR.

[2018-08-03 15:01] fmassa commented on #479
This has been fixed by #481

[2018-08-03 15:01] #479 closed

[2018-08-03 15:02] fmassa commented on #436
This is an error in PIL, and not in torchvision, so closing this.

[2018-08-03 15:02] #436 closed

[2018-08-03 15:37] buaaswf opened #568 "densenet concatenate layer"
Why this version of descent does not have the concatenate layer in the transition moule?

[2018-08-03 15:37] buaaswf commented on #568
@smartkiwi @kashif @pietern @ezyang @ericnakagawa

[2018-08-03 15:44] #568 closed

[2018-08-05 07:52] Randl commented on #533
I believe joint transformation of input and target is pretty common, and thus probably worth inclusion in vision

[2018-08-08 12:19] shaibagon commented on #539
Is [this](https://stackoverflow.com/q/51741046/1714410) related?

[2018-08-08 18:37] qbilius opened #570 "transforms.Lambda fails on class functions"
`transforms.Lambda` appears to fail when a function that is passed to it is a class function:

[code]
Output:
[code]

My understanding it that `isinstance(lambd, types.LambdaType)` is not the best way to check if something is a function or not. Rather, `callable` or `__call__` [should be used](https://stackoverflow.com/a/624939).

I could submit a quick PR if that seems like a good solution.

[2018-08-08 21:10] vfdev-5 commented on #570
@qbilius Just wonder if you use a class to define a transformation, why not to use it directly:
[code]
where your class defines `__call__` method to execute a transformation on the input like it is done for other transformation...

[2018-08-08 21:52] vfdev-5 commented on #570
IMO, it would be better to have modularity instead of a single class that can make everything...
otherwise, you can use it like this too:
[code]
I think the change of `torchvision.transforms.Lambda` to check if it is a callable does not make sense, because a transform is a callable, so call it directly:
[code]

What do you think ?

[2018-08-08 23:41] vfdev-5 commented on #570
Glad that you can adopt a more simple solution :)

Concerning lambdas, I think the idea is similar to pythonic lambda expressions:
[code]
More realistic example, can be found even in torchvision with ColorJitter, where lambdas allows to wrap a function with initialization:
[code]
I agree with you that this can look artificial.

PS. if you think that there is an answer to your question you can clos

[2018-08-09 00:04] qbilius commented on #570
Thanks for your kind help!

[2018-08-09 00:04] #570 closed

[2018-08-10 01:43] eulerreich opened #3393 "`DataLoader` doesn't respond to `set_default_tensor_type`"
If you have a question or would like help and support, please ask at our
[forums](https://discuss.pytorch.org/).

If you are submitting a feature request, please preface the title with [feature request].
If you are submitting a bug report, please fill in the following details.

## Issue description

If I set default tensor to double, `DataLoader` still yields float tensors.

## Code example

[code

[2018-08-11 02:28] setuc commented on #490
We are working on developing the models for pytorch. we will make a pull request when done. Is there a need for pre-trained weights as well for such networks?

[2018-08-11 22:38] Eric-mingjie opened #571 "Training schedule of the VGG16 with no BN."
Hi. I am trying to train the vgg-16 model without batch normalization.
I notice that the official model has a top1 accuracy above 70%. Can I know what is the training schedule of the vgg? For example, the learning rate, batch size and weight decay.

[2018-08-12 04:05] iamSubhoK opened #572 "[windows/py3.6/cuda9.2] torchvision installation error - [HELP]"
- system - windows
- python - 3.6
- cuda - 9.2
- package manager tried - conda/pip/source

[2018-08-13 13:46] PabloRR100 opened #573 "These ResNets are not for CIFAR 10"
The ResNets from the authors on the original paper change the sizes when applied to CIFAR10. It just don't match the dimensions you specified here:

ResNets for CIFAR10 are 2+6n layers leading to architectures:
ResNet20, ResNet32, ResNet44, ResNet56, ResNet110, ResNet1202.

This is mixed up with ResNets for ImageNet datasets but the models should not be the same

[2018-08-13 13:46] #573 closed

[2018-08-13 16:21] jayanthkoushik opened #574 "No py37 builds on conda"
Though the website states torchvision, and torchvision-cpu can be installed on python 3.7 with conda, the actual builds do not exist, and trying to install triggers a python downgrade.

    $ conda info  # output filtered
     active environment : None
          conda version : 4.5.9
         python version : 3.7.0.final.0
               platform : linux-64
             user-agent : conda/4.5.9 re

[2018-08-13 18:03] soumith commented on #574
thanks for the report. I've fixed this for torchvision now. Fixing it for torchvision-cpu in an hour or so.

[2018-08-13 20:03] fmassa commented on #539
@shaibagon I don't think it's related.
What's happening is that for some reason PIL is not properly closing the files.
I'm not 100% sure of what the fix is, because there has already been 2 PRs trying to fix related behavior, see https://github.com/pytorch/vision/pull/357 and https://github.com/pytorch/vision/pull/176

I'll have a closer look at this.

[2018-08-13 21:33] soumith commented on #574
fixed now for both `torchvision` and `torchvision-cpu`

[2018-08-13 21:33] #574 closed

[2018-08-13 21:45] fmassa commented on #566
If I understand correctly, you are saying that we should propose the rotations to be randomly sampled from a discrete subset, instead of having them being sampled from a continuous interval, is that right?

If that's the case, I'd say that having it being sampled from an interval is more generic, and should probably be kept.

[2018-08-13 21:49] fmassa commented on #533
Indeed, they are very common and would deserve a place here.

Unfortunately, all the alternatives I've seem / came up with were not generic nor good enough to so that I could add it to `torchvision`.

In the end, it just seemed easier to have the transforms be written by the user, leveraging the functional interface. That's the most generic way, even though it is a bit more verbose.

[2018-08-13 22:36] Eric-mingjie commented on #571
@fmassa Hi! Thanks for the information.

[2018-08-14 17:05] jayurbain opened #575 "Has Fashion-MNIST been removed?"
Has Fashion-MNIST been removed? I'm using torchvision 0.2.0

# Download and load the training data
trainset = datasets.FashionMNIST('F_MNIST_data/', download=True, train=True, transform=transform)
trainloader = torch.utils.data.DataLoader(trainset, batch_size=64, shuffle=True)

---------------------------------------------------------------------------
AttributeError                            Tra

[2018-08-14 17:09] soumith commented on #575
it's still there, and it's definitely part of `0.2.0`. https://github.com/pytorch/vision/blob/v0.2.0/torchvision/datasets/__init__.py#L15

Maybe you have a botched install? Try reinstalling `torchvision`?

[2018-08-14 17:58] jayurbain commented on #575
Thank you. My error. I was using the wrong envirpnment

[2018-08-14 17:58] #575 closed

[2018-08-15 17:50] YHRen opened #576 "over padding in RandomCrop when pad_if_needed"
in random_crop, pad_if_needed, this seems over padded the image with 2* delta_w

https://github.com/pytorch/vision/blob/fe973ceed96da733ec0ae61c525b2f886ccfba21/torchvision/transforms/transforms.py#L448

[2018-08-16 06:37] dizcza opened #577 "MNIST loader odd implementation"
Wouldn't it be better to change
[code]
to
[code]
Apart from boling down the code complexity, it's not a good practice to have dynamic field names depending on the passed arguments. Benefits are clear for both users and developers who want to subclass MNIST.

torchvision==0.2.1 (same in master)

[2018-08-16 10:14] iamSubhoK commented on #572
Oh Thank You. It's working now.

[2018-08-16 14:04] #572 closed

[2018-08-16 14:08] fmassa commented on #577
Hi,

Thanks for opening this issue.

I totally agree with you that your proposal is better.
I'd be ok with merging such change, even though some people might depend on that particular behavior (but they shouldn't).

Would you be willing to send a PR?

[2018-08-16 14:12] fmassa commented on #576
This has been recently merged in https://github.com/pytorch/vision/pull/564

The logic is that if the original image is smaller than the requested crop size, there are multiple possible ways of filling it with the padding value so that the full original image is inside the crop.

By adding such padding value, we guarantee that the whole image will be inside the crop, but we give the possibility of

[2018-08-16 14:12] #576 closed

[2018-08-16 14:27] YHRen commented on #576
Hi Frank,

I see. Thank you for the explanation.
Now I understand.

Bests,
Ray

On Thu, Aug 16, 2018 at 10:13 AM, Francisco Massa <notifications@github.com>
wrote:

[2018-08-16 15:11] PkuRainBow commented on #260
@aazzolini @alykhantejani @daavoo I am wondering  whether anyone could share the SENet of pytorch version?

[2018-08-16 15:14] dizcza commented on #577
Yeap. You can close the issue once https://github.com/pytorch/vision/pull/578 is merged.

[2018-08-16 16:08] #577 closed

[2018-08-17 11:01] soumendukrg opened #580 "Error in loading pretrained SqueezeNet Model"
I recently installed the latest stable releases of pytorch 0.4.1 and torchvision 0.2.1 through anaconda. I tried running squeezenet1_0 and 1_1, however loading the pretrained network **(torchvision.models.squeezenet1_1(pretrained=True))** always failed with the following error.

[code]
Its works fine with **torchvision.models.squeezenet1_1(pretrained=False)**

I have another version of torchvision

[2018-08-18 13:39] 22shivangi opened #582 "Feature Request : Calculation of hog on RGB images"
Hi Team,

Is it possible for you to implement the histogram of oriented gradients to extract features from RGB images?
Currently, I am loading data using torchvision data loaders and doing these calculations in python. This slows down things a bit. It would be great if you could add this as a feature in torchvision itelf. It would save a lot of compute time. :)

[2018-08-21 11:44] themightyoarfish opened #583 "torchvision.transforms cannot handle certain transformations"
I'm trying to replicate the ResNet paper, so I need the following transforms

- Subtract per-pixel-mean from all pixels in all channels (this can lead to negative values)
- `Pad(4)`
- `RandomHorizontalFlip()`
- `RandomCrop([32, 32])`
- `ToTensor()`

The problem is that transforms 2-4 only work on `PIL.Image`, while transform 1 must happen on `np.array` or `torch.Tensor` because of the negative val

[2018-08-21 13:25] soumith commented on #583
you can re-order (1) to the end, and that'll be the same result.

[2018-08-21 14:18] themightyoarfish commented on #583
I don't see how this is possible, since at the end I'll have a random crop from the padded image instead of the original, hence the mean will not be valid for this image. Same with the flip. The way I see it, I have to subtract the mean before flipping, padding, and random cropping.

I should have been more explicit: The mean is computed before over the entire dataset, not the individual image.

[2018-08-22 03:59] vishwakftw commented on #545
I think this can be closed now.

[2018-08-22 23:54] marii-moe commented on #448
Fairly new to coding/deep learning/pytorch/vision, so hope I am doing this right. Here is what I found:

1. 650eb322c91ee65a8f487d12beb3e5fc6a41223f
ToPILImage was originally added for testing purposes. Only requirement at the time was ToTensor(ToPILImage(tensor)) returned the identity, because it was used in testing other transformations. Originally took a FloatTensor, converted to byte array, an

[2018-08-23 22:11] #545 closed

[2018-08-24 15:03] nader93k opened #586 "denseNet: wrong number of parameters?"
this should be deleted!

[2018-08-24 15:09] nader93k commented on #586
seriously, I should be able to delete sth 2 minutes after posting it.

[2018-08-24 15:28] vfdev-5 commented on #586
@nader93k actually I can just close it and it will be OK

[2018-08-24 16:07] #586 closed

[2018-08-28 14:53] fmassa commented on #448
My current thinking to solve this issue is to have a wrapper `Image` class that knows what are the expected ranges, and performs the conversion as expected. This means that the user can specify what is the ranges for their data if he wants.
I'm sketching an API for that to see what it would look like, to see if it would a number of problems that have been mentioned here already.

[2018-08-28 15:06] fmassa commented on #583
For the moment, I believe you'll need to have custom versions of `RandomHorizontalFlip` and `RandomCrop` to be able to achieve what you want.

I think that once (if) we introduce a `Image` class (that is a wrapper around a `torch.Tensor` that introduces a few extra functionalities), this would be possible to be made more generic.

I'm looking into sketching the `Image` class to see if it brings an

[2018-08-29 16:36] swigicat opened #589 "transform.Normalize floating point error for uniform images"
If a uniform image (e.g. all zeros, from a faulty loading operation) is fed to the normalize transform, the program will just output a "Floating point error (core dumped)" message with no debug trace. It would be nice that the standard deviation is checked against zero before attempting to divide by it, would save many debugging hours...

[2018-08-30 05:26] vishwakftw commented on #589
Could you please provide a code-example?

[2018-08-30 06:28] themightyoarfish opened #590 "conda install installs PyTorch even if already present"
Running `conda install torchvision -c pytorch` results in PyTorch  `0.4.1-py36_py35_py27__9.0.176_7.1.2_2` being installed for me, although I have a newer version compiled from source installed.

The requirements should be configured in a way that newer PyTorch versions are also accepted.
At a minimum, a note should be added to the Readme to install PyTorch _after_ installing `torchvision`.

[2018-08-30 18:05] varunagrawal commented on #582
Why not do this in OpenCV? They have an efficient implementation that you can then convert to a Tensor object from numpy.

[2018-09-02 14:26] frgfm opened #593 "[Feature Request] Add standardization/normalization information into torchvision.datasets"
Hi,

I was trying to get myself a very clean training pipeline using torchvision datasets and PyTorch dataloader. In order to test this quickly, I've been working on MNIST.

So, I downloaded the dataset using the usual command specifying a transform:
`train_set = torchvision.datasets.MNIST(root='./data', train=True, download=True, transform=transform)`

I found on GitHub the mean and std of the se

[2018-09-04 04:42] wgchang opened #595 "DataLoader Error with ConcatDataset of MNIST and SVHN"
https://github.com/pytorch/vision/blob/152c2b3a9403811198beb8fffc5070fc80d1273c/torchvision/datasets/mnist.py#L70
### Discription
Hello.
I tried to concatenate two datasets MNIST and SVHN.
Here, I found an error.
Example code:
[code]
### Error Message
TypeError: expected Tensor as element 16 in argument 0, but got tuple

I simply put int() at line 70 for the target and solve this issue.
[code]

[2018-09-04 17:14] varunagrawal opened #596 "[Feature Request] Return bool to indicate if image has been flipped."
When using the `HorizontalFlip` transform, it can be useful to know via a boolean if the image has been flipped or no. This is in the case of, say, object detection, where the bounding boxes would need to be flipped as well.

We can either define a new function, or add an argument `indicator` that sets the flag whether to return the boolean or not, thus maintaining backwards compatibility.

[2018-09-09 10:49] sotte commented on #596
I think you might want to have a look at the functional transforms: https://pytorch.org/docs/stable/torchvision/transforms.html#module-torchvision.transforms.functional

The problem you describe is common for object detection and segmentation. It's not specific to `HorizontalFlip` but applies to all transforms. You want to use the transformation with the *same* parameters to the image and the labe

[2018-09-09 10:56] sotte commented on #566
I agree with @fmassa. That being said, @noeagles, you could use the [functional transforms](https://pytorch.org/docs/stable/torchvision/transforms.html#module-torchvision.transforms.functional) and build that functionality yourself.
[code]

[2018-09-09 11:02] sotte commented on #533
This feature request keeps popping up. I think we should improve the docs and the tutorial (especially the [data loader tutorial](https://pytorch.org/tutorials/beginner/data_loading_tutorial.html)) to cover this case better.

[2018-09-10 05:35] Miladiouss opened #598 "[feature request] Image Histogram Transformation"
It is often useful (especially in the field of astronomy) to transform the histogram of images. I would like to suggest an image histogram transformation function (under torchvision.transforms) that transforms the histogram of an image to match that of a template image as closely as possible. For instance, consider the following function:

[code]

The function above is not optimal since it has to

[2018-09-10 11:23] dizcza opened #599 "MNIST and FashionMNIST raw and processed folders point to the same localtion"
FashionMNIST inherits `raw_folder` and `processed_folder` from MNIST without a change. If you download MNIST and then try to download FashionMNIST in the same root folder, it'll say it's already downloaded while, in fact, it's not. After that FashionMNIST just uses MNIST data.

For a quick fix, make them as properties that depend on `__class__.__name__`. A better change would create parent folder

[2018-09-10 15:07] hyperfraise commented on #483
I have the same ideas. In my experiences, I have a multithreading pipeline to train my model, and the training thread (or process) is always waiting for the preprocessing to be over (which includes augmentations). This is especially true on model that have relatively low numbers of computations per image like in video deep learning.

I'm looking into augmentations on gpu. I just found out that ope

[2018-09-11 13:33] fmassa commented on #599
Nice catch!
Could you send a PR fixing this? I think I have already seen this error pointed out before, but I couldn't reproduce it. Now I know where it comes from :-)

[2018-09-11 13:42] fmassa commented on #598
Thanks for the issue!

I think we could provide a histogram transformation functionality in torchvision.
Maybe one possibility would be to allow the user to pass in directly the target histogram, instead of passing the image, and provide a simple functionality to compute the histogram of an image.

Also, apart from `np.interp`, all the other functions have `torch` equivalents, so maybe we could ma

[2018-09-11 13:46] fmassa commented on #595
Thanks for catching this bug!
This is a bug in MNIST that happened when tensors and variables got merged and we started supporting scalar tensors.
Can you send a PR fixing this?

[2018-09-11 13:51] fmassa commented on #596
I think I'd rather follow the functional interface for that use-case, as pointed out by @sotte.
If one adds a return parameter to `HorizontalFlip` we would also need somewhere to read the returned value to decide if we want to flip or not, which would make the whole API more complex.

I tried out a number of different APIs for taking a number of different input data, but in the end, using the func

[2018-09-11 13:51] #596 closed

[2018-09-11 13:53] fmassa commented on #533
@sotte that's a great point! Would you be willing to improve the documentation?
Maybe not in the beginner's tutorial, but maybe in an intermediate tutorial?

[2018-09-11 14:01] fmassa commented on #483
@hyperfraise what kinds of augmentation are you looking for?
Now that we have `grid_sample`, it's possible to perform rotation/warping/scaling/etc on both the CPU and the GPU in a very efficient manner, and could cover a number of use-cases.

[2018-09-11 14:26] fmassa commented on #589
This happens only if your image is in an integer type. Cast your torch tensor to `.float()` and this segmentation fault will not happen. Also, dividing integer-valued images by its variance is generally not a good idea, as you lose a lot of information due to rounding.

There is not much we can do in torchvision about this, and I'm not sure that this will be fixed anytime soon in PyTorch either.

[2018-09-11 14:26] #589 closed

[2018-09-11 14:28] fmassa commented on #582
I agree with @varunagrawal , it is very efficient to convert torch tensors to numpy arrays and back, so that you can use OpenCV or any other library to perform that.

That being said, HOG images usually lose a lot of information that is very useful to have for deep networks.

[2018-09-11 14:28] #582 closed

[2018-09-11 14:36] hyperfraise commented on #483
Well of course I use a little bit more but even that would be very appreciable.I wonder though if it would be that much more efficient for say 720p images, or even 224,224,3 like I use (since there is the transfer to take into account, and maybe python would be slower even on gpu than the optimized code of opencv that has C underlying).

Anyways I'm using :+1:
-flipping
-cropping
-padding
-pixel v

[2018-09-11 14:41] fmassa commented on #483
BTW, have you looked at https://github.com/NVIDIA/nvvl ?

Note that you can combine flipping / cropping / padding / resizing as a single kernel launch using `grid_sample`, so I'd recommend you having a look at that.

[2018-09-11 14:44] sotte commented on #533
@fmassa sure, I'll try to do it on the weekend.

Maybe I would add a few words to the [api docs of functional transforms](https://pytorch.org/docs/stable/torchvision/transforms.html#module-torchvision.transforms.functional) along the lines "functional transforms give you fine grained control...yada yada") plus a **short** tutorial for for functional transforms. Sounds good?

[2018-09-11 15:13] fmassa commented on #533
@sotte yes, please!

[2018-09-12 23:38] justinkterry opened #603 "Strange behavior trying to install in conda with PyTorch built from source"
I'm running on a machine where I built PyTorch from source on CUDA 9.2 cuDNN 7.2.1, with Ubuntu 18.04. I built PyTorch from source exactly following directions, but when I went to install conda vision (`conda install torchvision`) I got this message:

[code]

The fact that torchvision is trying to install pytorch again seems to imply that the instructions to build from source don't properly integr

[2018-09-13 01:13] Miladiouss commented on #598
Thank you @fmassa  for your reply. The function above was written outside the context of PyTorch. That's why it's all NumPy. If you are going to integrate my code, I need some time (~ 1 month) to write it properly. As you said, I will use `torch` functions whenever possible and pass a target histogram instead. That's easy.
But the user should be able to

- feed different histograms for different c

[2018-09-13 07:52] vishwakftw commented on #603
This seems to be a duplicate of #590.

cc: @fmassa @soumith

[2018-09-13 13:57] fmassa commented on #598
About points 1-2:
what about the following: if the user provides a 1d histogram, it performs the same equalization for all channels (as if it was broadcast for all channels), and if it is a 2d histogram, then each channel uses one of the provided histograms. One of the limitations of this approach is that the number of elements of all histograms should be the same, but this is usually fine for uin

[2018-09-13 14:29] justinkterry commented on #603
Without knowing what's causing #590 it doesn't seem like it's gauranteed to
be the same.

I do have a small hypothesis as to the origin of the bug though (which
would mean it is a duplicate): torchvision says it depends on pytorch,
except in conda pytorch is an alias of torch, and I'm 51% sure that conda
doesn't resolve aliases when looking for met dependencies.

Also, could you please comment on

[2018-09-14 13:15] TheZino opened #604 "hvision git"

[2018-09-14 13:15] #604 closed

[2018-09-16 05:40] luyao777 commented on #480
When I let aux_logits=True, it gives me

Calculated padded input size per channel: (3 x 3). Kernel size: (5 x 140707423584261). Kernel size can't greater than actual input size at /Users/soumith/code/builder/wheel/pytorch-src/aten/src/THNN/generic/SpatialConvolutionMM.c:48

when I let aux_logit=False, it gives me

Error(s) in loading state_dict for Inception3:   Unexpected key(s) in state_dict: "A

[2018-09-17 06:31] CalinTimbusLucian commented on #408
Hello.
While implementing a CustomDataset, I realised I was getting this error because in the transform list, Transform.ToTensor() was the first. Make sure that other transformations(such as rescale) are done on the PIL image, not on the tensor(you do this by setting the ToTensor() transformations the last in the transformations list).

[2018-09-17 09:15] fmassa commented on #595
Fixed via #605

[2018-09-17 09:28] fmassa commented on #408
@CalinTimbusLucian yes, [in the documentation](https://pytorch.org/docs/stable/torchvision/transforms.html) we split the transforms in those that operate on `Tensors` and those that operate on `PIL Image`, and `Rescale` is one that operates on `PIL Image`.

[2018-09-17 15:00] zhydong opened #606 "Difference from KaimingHe's bottleneck implementation"
I found the `strike` parameter of a `Bottleneck` was on the conv1 layer in KaimingHe's version of ResNet. Here is the `Bottleneck` that is implemented on `pytorch/vision`.
[code]
Codes below is from [KaimingHe's ResNet github](https://github.com/KaimingHe/deep-residual-networks/blob/master/prototxt/ResNet-50-deploy.prototxt)
[code]
In ResNet paper, the author said:

Therefore, the first `1×1` conv

[2018-09-17 18:44] vfdev-5 commented on #606
Maybe related to #191

[2018-09-17 19:27] vfdev-5 commented on #599
Can be closed

[2018-09-17 19:35] soumith commented on #599
closed via #601

[2018-09-17 19:35] #599 closed

[2018-09-18 05:14] arpitvw opened #607 "getting Hash Error while dowloading resent model"
code--> model_ft = models.resnet50(pretrained=True)
error  message --> RuntimeError: invalid hash value (expected "19c8e357", got "0c160fe3aca6a7808c727f78cbb125a2162611023bbde7d9c8df33e2ec23c8ed")

 ######################### Full error : ########################################

Downloading: "https://download.pytorch.org/models/resnet50-19c8e357.pth" to C:\Users\arpit14276/.torch\models\resnet50-

[2018-09-19 06:40] devforfu commented on #440
@vfdev-5 One can find an SSD implementation in the [fast.ai course lectures](http://course.fast.ai/lessons/lesson9.html) also. However, it is a bit hidden under the hood of author's wrappers.

[2018-09-20 02:32] moskomule opened #608 "DALI support"
Hi, any plan to integrate DALI (https://docs.nvidia.com/deeplearning/sdk/dali-developer-guide/docs/index.html) to `torchvision` for faster preprocessing? I found `chainer` tries to integrate it (https://github.com/chainer/chainer/pull/5067).

[2018-09-20 21:44] mathski commented on #448
I'd be interested to see this.
As you suggest, I imagine an `Image` class would be most useful for those looking seeking flexibility in range and data type for image processing.

Please let me know if there is anything I can contribute here.
Thanks.

[2018-09-21 11:40] fmassa commented on #448
Hi @mathski ,

I'm currently looking for datasets from other domains, like medical imagery, astronomy / etc, which do have images but which are in specialized formats.
I've never worked with those kinds of data, so having an idea of what's out there will definitely help.

[2018-09-21 11:42] fmassa commented on #608
Hi,
Thanks for opening the issue. I'll have a look at this

[2018-09-21 11:53] fmassa commented on #606
This is indeed the same as #191, so I'm closing this in favor of the other issue.

[2018-09-21 11:53] #606 closed

[2018-09-21 11:57] fmassa commented on #607
I have just run the exact same command as you, but everything worked fine.
I suspect that your download failed in the middle.
Can you try deleting the downloaded file (which should be in `~/.torch/models`) and try again?

[2018-09-21 11:58] fmassa commented on #440
@devforfu yes, it is going to be similar to Detectron.

[2018-09-22 09:05] moskomule commented on #608
Thank you. These days I found image preprocessing parts are the bottlenecks. I'll try DALI by myself and report how it will make the processing fast.

[2018-09-23 23:15] mathski commented on #448
Hey @fmassa ,

I've worked with multi-spectral satellite and medical image data previously, but those datasets are not publicly available.
Instead, I asked some colleagues to provide me with public analogues, and they referred me to an IARPA satellite database with 8-band multispectral TIFF images (downloaded through Amazon AWS):
https://www.iarpa.gov/challenges/fmow.html

I actually opened this i

[2018-09-24 11:52] quantummole opened #610 "torchvision transforms to take list of PIL images instead of a single PIL image"
For some problems like segmentation we would like the same random transform to be applied on the input and the masks.
Is it possible to add a check inside the __call__ method to check if the input is a list then apply the same transformation(with same values) for each element of the list

[2018-09-24 15:48] fmassa commented on #448
I see.
In those cases, I think it might have been better for you to leverage functions that support backprop, like `interpolate` (for image resizing), `conv2d` for blurring and `grid_sample` for generic warpings on the image.

I think we might want to make torchvision support backpropagation, and possibly avoid the need of converting back and forth to PIL images or numpy arrays. I think we are get

[2018-09-24 17:04] mathski commented on #448
Just so I understand, functions like `conv2d` and `grid_sample` allow the user to define the function values?
For example, if I want to define and apply my own blurring kernel rather than _learning_ a blurring kernel, `conv2d` allows me to do that?

[2018-09-24 18:30] fmassa commented on #448
yes, definitely! If you want your kernel to be fixed, you can do something like
[code]

[2018-09-24 18:41] mathski commented on #448
Excellent. Thank you very much.

[2018-10-01 09:08] msamogh opened #614 "How to apply multiple transforms on a dataset without recreating the dataset every time?"
I have a custom dataset that loads data from a bunch of text files. The dataset resembles a standard multi-class supervised classification problem.

However, instead of directly training it to classify into one of N classes, I am trying to train N binary classifiers (one classifier for each class). For this, I am transforming the original dataset into a one-vs-all format (where my target class has

[2018-10-02 05:12] arnaghizadeh opened #615 "Access to torchvision models training files?"
Hi, In the torchvision models https://github.com/pytorch/vision/tree/master/torchvision/models, we can see the models, we also have the option to download pretrained models, however, what is missing (if I'm not mistaken) is the training files that uses those models. I would really want to have access to those files (specially densenet) so I can reproduce pretrained models myself. Is it possible to

[2018-10-02 14:58] sotte commented on #615
I also think that it would be great if the training procedure was part of the repository. Here are a few advantages I see:
- people could learn from that code,
- the training procedure would be transparent, and
- it's easy to add new models reusing the training procedure (pytorch is starting to lag behind with the models they offer compared to TF and especially TensorFlow Hub).

[2018-10-02 15:57] sotte commented on #610
[Functional transforms](https://pytorch.org/docs/master/torchvision/transforms.html#functional-transforms) can be reused. It's easy to create transform pipelines for segmentation tasks:
[code]
Maybe not quite as convenient as `Compose` but very flexible. You could write a little function that maps through multiple inputs:
[code]

[2018-10-02 16:01] sotte commented on #608
[albumentations](https://albumentations.readthedocs.io/en/latest/) is also a contender for faster image augmentation.

In my experience IO is actually worse than a "slow pre-processing" library. SSDs and NVMes(!) help a lot.

[2018-10-03 12:47] soumith commented on #615
the training file is https://github.com/pytorch/examples/tree/master/imagenet

[2018-10-03 13:29] gokriznastic opened #616 "[feature request] Add optional 'directory/path' parameter to save available pretrained models."
I may be wrong but I could not find any simple way of specifying where the pre-trained models from **torchvision.models** are saved.

By default, they are saved in the `...\.torch\models\` directory.
It would be very helpful to have an optional parameter to set the download path for the pre-trained models. (something like `model_dir` parameter in `torch.utils.model_zoo.load_url()`)

If there is an

[2018-10-03 18:07] soumith commented on #615
@arnaghizadeh we dont provide cifar10/100 pre-trained models

[2018-10-03 18:36] arnaghizadeh commented on #615
@soumith oh I see based on your comment in the code "If True, returns a model pre-trained on ImageNet" the option is only for imagenet. However, your documentation I think should be a little more clear and emphasize that this feature is exclusive for imagenet, I automatically supposed that this feature supports all major datasets. https://pytorch.org/docs/0.4.0/torchvision/models.html?highlight=de

[2018-10-04 01:31] hendrycks opened #617 "[Feature Request] Optionally save ImageFolder information"
Currently ImageFolder indexes a directory when the object is created. For some datasets (e.g., Places365, ImageNet, etc.) this can take several minutes. In the case of ImageNet-22K, this can take over 30 minutes on an SSD. Torch saved this information, but PyTorch requires re-indexing every run. I request the option to save and restore the indexing information.

[2018-10-05 03:09] kouyoumin opened #618 "incorrect aspect ratio in RandomResizedCrop"
https://github.com/pytorch/vision/blob/86001a871d3335046e2dca7715d9babf73e6956f/torchvision/transforms/transforms.py#L565
Inverted aspect ratio may be out of the range specified.
For example, RandomResizedCrop.get_params(img, ratio=(0.75,0.75)) can return something like (41, 17, 153, 204) where aspect ratio is 1.33.

[2018-10-05 06:50] kouyoumin commented on #618
How about
[code]

[2018-10-07 16:39] jprellberg opened #619 "Memory leak using LSUN dataset"
I believe the LSUN dataset leaks memory. I expect the memory usage of a process that is simply iterating over a dataset using a DataLoader to be constant. This is the case when using FakeData or CIFAR10. However, with LSUN the memory usage is steadily increasing. This was causing me problems during training of a GAN because the I always ran out of host memory at some point during the training.

I

[2018-10-07 19:41] bkahn-github opened #620 "[Feature Request] Adding the UNet model to torchvision"
Hi,

I was interested in adding the UNet semantic segmentation model architecture to this repository. Are you accepting new models into the repository?

[2018-10-09 03:10] Miladiouss commented on #598
Hello @fmassa again. So I finished polishing and testing the code as we discussed. It is very inconvenient to switch back and forth between torch.tensor and numpy.ndarray, so I decided to do everything in numpy.
I am very new to git and GitHub and I don't know how properly do a pull request. If you can help me with that, I'll appreciate it. In the next message, I will include my code which include

[2018-10-09 03:10] Miladiouss commented on #598
`import numpy as np
from matplotlib import pyplot as plt
import torch

# Core of the computation
def histogram_transform_1D(tensor, template_histogram, noise_range = 0):
    """
    Transforms the distribution of the input tensor to match that
    of the template histogram.

    Input tensor will be flattened, transformed, and rearranged
    to the original shape.

    Arguments:
    -----------

[2018-10-09 05:02] crazysal opened #622 "How to load indexed images (color maps) using dataset loader"
The dataset loader returns image loaded as rgb. Which is great for all other purposes, but loading an indexed image for example segmentation mask is a pain.

This is the line :
https://github.com/pytorch/vision/blob/master/torchvision/datasets/folder.py#L161

The PIL module does load images by default if they are just color maps, can we not just return without conversion to rgb or pass a flag to c

[2018-10-09 05:10] fmassa commented on #622
The `ImageFolder` Dataset class is mostly suitable for classification problems. Indeed, you'll see that the `target` in that case is a number, and not an image.

You can very easily write your own dataset class that satisfies the constraints of your dataset. It's very simple, something like
[code]

[2018-10-09 05:29] crazysal commented on #622
I can write my own loader yes. But essentially, segmentation is classification of each pixel.
Then, why the redundancy. For all my projects till now, I used to write my own pipelines, this was the first using the ImageFolder dataset.

So essentially, at this moment there are no in-built methods to load segmentation maps, yes (Also transforms on color maps, such that pixel values are maintained and

[2018-10-09 05:44] fmassa commented on #622
Hey,

There have been a number of requests for adding support for masks or segmentation data in torchvision.
The reason why we haven't added anything "off-the-box" yet is because every use-case is slightly different, and writing your own dataset for a particular case is usually faster than converting some new dataset to a pre-defined format (imagine converting from Pascal VOC format to COCO format

[2018-10-09 06:08] crazysal commented on #622
I am working on a domain adaptation task, with source domains as [GTA](https://download.visinf.tu-darmstadt.de/data/from_games/) and [synthia](http://synthia-dataset.net/) and target domain as the [cityscapes dataset](https://www.cityscapes-dataset.com).

It's basically an improvement to [this paper](https://weixianghong.github.io/publications/papers/CVPR_18.pdf)

I understand your point of divers

[2018-10-09 06:18] fmassa commented on #622
I think COCO, VOC and potentially Cityscapes could be added. I haven't heard of mapilliary before.

At some point we should decide if we want **all** possible datasets in torchvision, or only the most used ones.
This is something I'm going to be deciding very soon.

In one hand, providing all possible datasets might make the user not realize that, if a dataset is not present in torchvision, he can

[2018-10-10 16:21] fadel commented on #616
The documentation is a bit confusing in this regard, to be honest. As documented [here](https://pytorch.org/docs/stable/model_zoo.html#torch.utils.model_zoo.load_url) (the same function you mentioned), the `TORCH_HOME` environment variable can be used for this. Since `torchvision` uses this function (e.g., [here](https://github.com/pytorch/vision/blob/86001a871d3335046e2dca7715d9babf73e6956f/torch

[2018-10-11 18:09] soumith commented on #619
I've looked into this a long time ago, in 2015.
When I did, I couldn't find ANY way for lmdb to have an upper bound on it's memory cache (and I looked over a couple of days).

There isn't a way (afaik) to make the kernel reclaim "clean" pages from a particular process either

[2018-10-11 18:13] fmassa commented on #616
Thanks for the feedback,
I agree that having a better documentation for `TORCH_MODEL_ZOO` env var would be great. Could you send a PR improving the doc?

Thanks!

[2018-10-11 18:34] rowanz opened #623 "[layers branch] ATen/cuda/CUDAContext.h doesn't seem to exist"
Hi there,

I'm looking to get Roi Pooling set up, using this commit: https://github.com/pytorch/vision/commit/ede93b290f844a4fdfd4a11fb870eec0c07b9497

When I try to install it, e.g. by running `pip install git+git://github.com/pytorch/vision.git@ede93b290f844a4fdfd4a11fb870eec0c07b9497` I get the following error:

`
/tmp/pip-req-build-g0m24tlv/torchvision/csrc/cuda/ROIPool_cuda.cu:2:35: fatal err

[2018-10-12 06:14] jprellberg commented on #619
That's very unfortunate. Thanks for letting me know.

[2018-10-12 06:14] #619 closed

[2018-10-12 15:01] tonylins opened #625 "Add MobileNetV2 to torchvision"
Hi,

I have implemented MobileNetV2 with PyTorch and successfully reproduced the results here: https://github.com/tonylins/pytorch-mobilenet-v2

The repo has received more than 300 stars right now. I'm wondering if it is possible to merge the model into torchvision so that more people can benefit from it.

Thanks so much!

[2018-10-12 16:52] gokriznastic commented on #616
Thanks a lot @fadel.
This is exactly what I was looking for.

Also, the changes made to the docs in the above pull request aren't reflected in the documentations webiste YET: [https://pytorch.org/docs/stable/torchvision/models.html](https://pytorch.org/docs/stable/torchvision/models.html)

@fmassa Could you please tell me if having `model_dir` directly as a parameter in `torchvision.models` alongs

[2018-10-14 01:31] Naruto-Sasuke commented on #620
UNet has many variants,  it just means "Encoder-Decoder"+"Skip connections between corresponding layers". Maybe it is not a good idea to add it.

[2018-10-14 02:53] #620 closed

[2018-10-15 17:35] varunagrawal commented on #440
@fmassa I've built a generic bounding box library for both 2D and 3D bounding boxes. I need to get some legal stuff taken care of before I can release it, but I believe it has everything you would need for object detection in general (including IoU computation).

[2018-10-16 09:50] frgfm commented on #593
I forgot to answer back, thanks for your reply @fmassa ! Apologies

I have been taking similar approach to your implementation suggestion so far, I was looking for further support by the the library but I now understand better why it wouldnt be possible for torchvision to include it directly

Consistency & user expectations are indeed big counterarguments, thanks again!

[2018-10-16 11:36] fmassa commented on #440
@varunagrawal we will be releasing a library for object detection which will contain bounding box abstractions, and once it gets a bit more mature we might move it to torchvision.

[2018-10-16 22:03] varunagrawal commented on #477
Added support for ROIAlign with #630.

[2018-10-17 14:10] mingruimingrui opened #631 "Pretrained Group Normalization Models"
Hi, would there be any plans to be making pretrained group normalization models?

[2018-10-17 22:20] boleszek opened #633 "Hard coded nn.AvgPool2d in ResNet class should be nn.AdaptiveAvgPool2d(1)"
Hello pytorch vision maintainers,

I tried to run a simple test of the pytorch implementation of Resnet50 on randomly generated arrays (using 3x244x244, which is the standard image size for resnet), but got the following error:
[code]

After some searching I found [this forum](https://discuss.pytorch.org/t/why-torchvision-models-can-not-forward-the-input-which-has-size-of-larger-than-430-430/2067/

[2018-10-17 22:20] varunagrawal commented on #623
Hi @rowanz. That particular file was added recently and should be available in the v1-rc version of PyTorch.

I have written all the layers to be compatible with v1 since there is significant change in ATen (the C++ backend for PyTorch) from v0.4 to v1 and it made sense to have forward compatibility.

If you wish to play with the ROI Pooling layers in the `layers` branch, my recommendation is to i

[2018-10-18 03:19] soumith commented on #633
the standard input size for resnet50 / imagenet is 3 x 224 x 224 (not 3 x 244 x 244)

[2018-10-18 03:43] boleszek commented on #633
Wow, I must be dyslexic! Thanks for pointing that out. It works without the adaptive avg pool when I use the correct image size. In that case I'll close the issue.

[2018-10-18 03:43] #633 closed

[2018-10-18 14:59] fmassa commented on #623
Closing via @varunagrawal comment

[2018-10-18 14:59] #623 closed

[2018-10-19 08:41] bermanmaxim commented on #157
Note that you can also design a custom collate function that does the necessary transformations on your batch after collating it, e.g.

[code]
I find this strategy useful to add information in the batch (such as batch statistics, or complementary images in the dataset), and making the workers do the necessary computation.

[2018-10-19 15:17] truskovskiyk opened #634 "Add flake8 check for the project"
There are several syntax errors and types in the project
For example here
https://github.com/pytorch/vision/blob/master/torchvision/datasets/mnist.py#L287
[code]
Images variable is not used.
It would be great if we add flake8 syntax check and fix all errors.

I can send PR with this changes.

[2018-10-19 15:17] truskovskiyk commented on #634
@soumith @fmassa

[2018-10-22 16:07] themightyoarfish commented on #590
This is still an issue, is this a difficult thing to fix? Maybe I could take a look?

[2018-10-22 18:43] soumith commented on #590
we need to find out if `meta.yaml` of `pytorch` allows to mark installing other packages as well.

[2018-10-22 18:58] vfdev-5 commented on #590
@soumith is the problem just with [version compare](https://github.com/pytorch/builder/blob/ceaacf8a927f84f5458808a41af456958d72abd7/conda/torchvision-0.2.1/meta.yaml#L14
):
[code]
and as soon as pytorch version is something "1.0.0a4" which can not be compared with 0.4 ?

[2018-10-22 19:06] fmassa commented on #634
Yes, we have flake8, not sure why it's not working there. Can you send a PR fixing the `images = []` which is unused?

[2018-10-22 19:09] soumith commented on #590
@vfdev-5 I dont think it's version compare. 1.0.0a4 will be comparable to 0.4.

[2018-10-23 08:44] truskovskiyk commented on #634
@fmassa here is PR with fix https://github.com/pytorch/vision/pull/635

[2018-10-23 11:29] SallyKAN opened #636 "RuntimeError: Error(s) in loading state_dict for VGG"
I am having an issue loading the trained checkpoint for vgg13 , vgg19 model.

The way I save and load model is as follows:
[code]
[code]
The error information:
[code]
when I load checkpoint model for vgg11,vgg16, it works just fine. I have checked this [related issue](https://github.com/jcjohnson/pytorch-vgg/issues/3), but this seems something with `features` weight.

Also I am using
[code]

[2018-10-24 17:57] danielhauagge opened #638 "Optional random number generation for get_params methods in image transforms"
In order to make the process of mini batch generation more deterministic, it would be nice if the `get_params` method could take as an optional parameter a random number generator.

[2018-10-25 12:35] fmassa commented on #477
FYI, we have released our implementation of {Faster, Mask} R-CNN in https://github.com/facebookresearch/maskrcnn-benchmark , which contains the implementations for ROI Pooling and ROI Align. It currently doesn't have all the nice improvements that @varunagrawal has pushed to the `layers` branch here (like backwards for a few layers).

I suggest we move this discussion there for now.

[2018-10-25 12:35] #477 closed

[2018-10-25 12:36] fmassa commented on #392
FYI, we have released our implementation of {Faster, Mask} R-CNN in https://github.com/facebookresearch/maskrcnn-benchmark , which contains a CPU and CUDA implementation for Non Maximum suppression.

I suggest we move this discussion there for now.

[2018-10-25 20:16] 0phoff commented on #392
Why close this issue though?
Many people use torchvision, but do not care about or need the maskrcnn repository.
I still think having a pure cuda implementation of NMS in torch/torchvision would be highly appreciated by lots of people!

[2018-10-25 20:43] fmassa commented on #392
I'm curious in which cases do people use NMS outside of object detection?
But at some point we might indeed add layers to torchvision, it's just that packaging torchvision with those is a bit more involved so I'll let it for when the Cpp extensions API is more stabilized.

But I'm opening it anyway as a reminder

[2018-10-25 21:54] macaodha commented on #392
Similar use case, but I've been using it for detecting events in audio.

[2018-10-26 13:06] fmassa commented on #392
@0phoff there are still several corner cases for users when compiling extension libraries, see for example https://github.com/facebookresearch/maskrcnn-benchmark/blob/master/TROUBLESHOOTING.md for a gist.

So we will be adding C++ extensions to torchvision once we start shipping pre-compiled binaries for it, or else it will introduce a lot of friction to the users.

[2018-10-28 19:10] eric435 opened #642 "torchvision.transforms.Normalize returning incorrect data"
torchvision.transforms.Normalize is not returning the expected mean or std data.

[code]

returns:
Mean: 1.7498891182031873
STD: 0.8045230472500627
Mean: 1.8374540507305848
STD: 0.8500865676496933
Mean: 1.9036868254619304
STD: 0.836965250131352

I've triple checked the input data, in fact:

[code]

returns:
Mean: 0.8857246291297787
STD: 0.18423577883089282
Mean: 0.8675897274610334
STD: 0.190419398

[2018-10-28 20:42] eric435 commented on #642
Ok, I believe this is my mistake. Mean and STD passed in should correspond to my input tensor, and Normalize will give me a tensor with a 0 mean and std of 1. The arguments are not target mean and std, but input mean and std.

[2018-10-29 01:55] anmolsjoshi commented on #110
@soumith @fmassa is there still an interest in this? I would like to give this a try.

[2018-10-29 05:37] gursimar commented on #39
Hi, I want to extract features from pre-trained resnet pool5 and res5c layer.
I'm using extracted frames (RGB values) from the TGIF-QA dataset (gifs).

1. Should I transform my image using the values specified above?
2. I'm using the following preprocessing. Does this okay for my purpose?

[code]

[2018-10-30 03:29] soumith commented on #642
yep, you are correct. If that wasn't clear from the docs we really apologize. Do consider sending a patch to improve the docs if that's the case.

[2018-10-30 03:29] #642 closed

[2018-10-30 08:36] hongyiyu opened #644 "How to train Inceptionv3 model with high-resolution images (ex. 512x512, 2048x2048)?"
I'd like to train the Inceptionv3 model with high-resolution images like 512x512.
As I know, the Inceptionv3 is designed to work with variable size of images.
However, if I train it with images which is not 299x299 size, it return with errors like:
`size mismatch, m1: [8 x 19200], m2: [768 x 1000]`

It's looks like have some problem with this line.

if self.training and self.aux_logits:
    aux =

[2018-10-30 10:06] fmassa commented on #644
Hi,

The issue is that we have a fixed `avg_pool2d` in https://github.com/pytorch/vision/blob/master/torchvision/models/inception.py#L117 instead of a global avg pooling.

The solution for now is to copy-paste the implementation and modify that line to use a `F.adaptive_avg_pool2d(x, (1, 1))`.

[2018-10-30 10:10] fmassa commented on #39
@gursimar yes, it should be fine

[2018-10-30 10:11] fmassa commented on #638
@danielhauagge I think this is a reasonable request.
But at the same time, we can also set the random seed in our implementation, which makes it also deterministic, so I'm not sure it would be worth the trouble.

Thoughts?

[2018-10-30 10:13] fmassa commented on #631
Yes, thats a good feature request.
We will be adding more models in torchvision soon. I'll open a master issue to keep track of them

[2018-10-30 10:16] fmassa commented on #625
Yes, it will be a great contribution to torchvision.

Did you train your model using the standard `pytorch/examples/imagenet` codebase? What were the modifications that you did?

[2018-10-30 10:27] fmassa opened #645 "[Master Issue] Add more models to torchvision"
This is a master issue to track requests for adding new pre-trained models to torchvision.

Here is the (potentially incomplete) list I compiled:
- [x] ResNext https://github.com/pytorch/vision/issues/154 https://github.com/pytorch/vision/issues/543 https://github.com/pytorch/vision/issues/154
- [x] ResNet / ResNext with Group Norm https://github.com/pytorch/vision/issues/631
- [x] mobilenet https

[2018-10-30 10:28] fmassa commented on #110
@anmolsjoshi yes, please!

[2018-10-30 10:37] fmassa commented on #615
@sotte I agree with you that all models should have a clearly specified training procedure.
We will be adding more models into torchvision very soon, see https://github.com/pytorch/vision/issues/645 , and I'm starting to wonder if the default training schedules / procedures from `examples/imagenet` will be enough to reproduce all the results.

Any suggestions on how to include this training inform

[2018-10-30 12:48] hongyiyu commented on #644
@fmassa
Thank you for your reply.
It seems like also need to modify the class InceptionAux
https://github.com/pytorch/vision/blob/master/torchvision/models/inception.py#L297
I want to make the kernel_size of conv1 adatively to output 1x1x768 size. However, I tried several ways, all give me errors.
Do you have any ideas?

[2018-10-30 15:05] jinfagang opened #647 "[Enchancement] Provide some API of generate unique color by class id"
My situation we need generate a color for visualization. But it is very unconvenient to write that helper function every time. If it can be provide into torch vision, that would be very helper.

If there already exist such api, pls let me know

[2018-10-30 15:19] fmassa commented on #644
No, it looks like you'd need to change https://github.com/pytorch/vision/blob/master/torchvision/models/inception.py#L304 to be `F.adaptive_avg_pool2d(x, (5, 5))`, or something like that.

[2018-10-30 17:17] sotte commented on #615
@fmassa Great, I'm very happy to see #645!

**Option 1**
Assuming you want to stick to the `examples/imagenet` schema to create weights for models just having simple bash scripts that specify the train parameters would be great:
`examples/imagenet/train_resnet18.sh`, `examples/iamgenet/train_resnet50.sh`, and so on. I actually would be very interested in the train parameters :)

**Option 2**
Assum

[2018-10-30 18:59] bermanmaxim commented on #615
@fmassa I agree, in fact I was myself recently wondering about the training specifications of the pretrained models. I think following `yaml` configs is a good idea. As we improve the training and reproductibility, we can think about serializing other information that is not shipped with the models currently but would be useful or important to have (like the optimizer state_dict at the end of the

[2018-10-30 21:33] danielhauagge commented on #638
@fmassa not exactly sure what you mean. Are you talking about having some function that takes as input a random seed and creates a random number generator that is shared by all transforms? If so, then I think that would achieve the same effect for my purposes.

[2018-10-31 00:14] tonylins commented on #625
Thanks! Yes, I used the standard pytorch ImageNet example codebase.

[2018-10-31 02:00] hongyiyu commented on #644
@fmassa

I saw someone change the auxlogits part as the following line to make the inception available for variable image size.
https://github.com/ncoudray/DeepPATH/blob/master/DeepPATH_code/01_training/xClasses/inception/slim/inception_model.py#L257
https://github.com/ncoudray/DeepPATH/blob/master/DeepPATH_code/01_training/xClasses/inception/slim/inception_model.py#L321

I think there are three a

[2018-10-31 13:41] fmassa commented on #644
I think I'd follow option 1.

[2018-10-31 13:42] fmassa commented on #625
What about the learning rate schedules / number of epochs, was it the same?

[2018-11-01 04:06] ypw-cortex opened #648 "InceptionV3's Conv2d_2a_3x3.bn.running_var is too small."
https://gist.github.com/ypw-cortex/a1ae92d7bcdedd274f6490b582edf8fe

The running_var of batchnorm should not be so small。
[code]

The equivalent weight of batchnorm should not be so large.
[code]
[code]

The weight of the convolutional layer should not be so small too.
[code]

The other layer is the correct equivalent weight.

[code]

[2018-11-01 06:05] anmolsjoshi commented on #110
@fmassa this might be a dumb question, but do you have an example of comparing an image transform with a known result? I guess what I'm asking is, how is the known result computed?

[2018-11-02 01:14] PantherYan commented on #81
Yes, I also facing this problem, have you has any idea solve this?
If you solved, please share with us. Many Thanks

[2018-11-02 01:41] hyojinie commented on #81
Unfortunately, I have not...

On Thu, Nov 1, 2018 at 6:15 PM, PantherGSU <notifications@github.com> wrote:

[2018-11-02 04:07] tonylins commented on #625
No, I followed the training protocol in the paper. The initial learning rate was 0.045, and decayed by 0.94 every 2 epochs.

[2018-11-02 05:40] lixiangchun opened #650 "How to do multi-label classification with torchvision?"

[2018-11-02 16:10] mellou01 opened #651 "Issue when Testing ResNet on own dataset"
I have changed the number of classes from 1000 to 19 which is the number of classes of my data set and I am getting the error RuntimeError: size mismatch at /opt/conda/conda-bld/libtorch-gpu_1493847960390/work/pytorch-0.1.12/torch/lib/THC/generic/THCTensorMathBlas.cu:243

Training crop size : 224
I have resized my images to 512*512
any Ideas in order to adapt the already provided model ResNet to m

[2018-11-02 16:10] mellou01 commented on #651
from argparse import ArgumentParser
import os
import random
from matplotlib import pyplot as plt
import torch
from torch import optim
from torch import nn
from torch.nn import functional as F
from torch.autograd import Variable
from torch.utils.data import DataLoader
from torchvision import models
from torchvision.utils import save_image
from PIL import Image

from dataset_load import DroneDataset

[2018-11-03 10:24] nodegin opened #652 "transforms.ColorJitter is producing different results every time run the program"
Hello, here is my small program:

[code]

First run:
<img width="752" alt="screenshot 2018-11-03 at 6 21 52 pm" src="https://user-images.githubusercontent.com/8536244/47950965-5ee53180-df95-11e8-921d-3796a8c372d4.png">

Second run:
<img width="752" alt="screenshot 2018-11-03 at 6 21 56 pm" src="https://user-images.githubusercontent.com/8536244/47950967-63114f00-df95-11e8-97fd-a12a2cabd977.png">

T

[2018-11-03 10:31] nodegin commented on #652
How can I set the probability for ColorJitter transform? Or is there any way to change the brightness in transforms.Compose chain

[2018-11-04 12:50] lucygan commented on #480
@moskomule  sorry but how to modify the model.fc to avoid those mistakes? I've already changed the num_classes to 8, see as model = inception_v3(pretrained=True, num_classes=8, aux_logits=False), but still get the same mistakes.

[2018-11-04 20:06] gokriznastic commented on #645
@fmassa  Hey I would like to try some of these models. Can you tell me which ones of these you need help with?

[2018-11-05 11:10] Nurfen opened #654 "[enhancement] Replacement nn.AvgPool2d by nn.AdaptiveAvgPool"
Hello,

Thanks for creating the Resnet in pytorch.
The network could be made more flexible towards different inputsizes when the avgpool2d layer is replaced by the AdaptiveAvgPool layer.

`
self.avgpool = nn.AvgPool2d(7, stride=1)
`
could be replaced by

`
self.avgpool = nn.AdaptiveAvgPool2d(1)
`

[2018-11-06 09:41] fmassa commented on #654
Hi,

This has been implemented in https://github.com/pytorch/vision/pull/643

Thanks for opening the issue!

[2018-11-06 09:41] #654 closed

[2018-11-06 09:42] fmassa commented on #625
Sounds good.

Would you be willing to send a PR with the model? And also with a link to the pre-trained weights and the script that you used to train it (in a gist for example) would be awesome!

[2018-11-06 09:44] fmassa commented on #351
With https://github.com/pytorch/vision/pull/643, squeezenet now uses `nn.AdaptiveAvgPool2d`, so this can be closed, as it now supports arbitrary input sizes.

[2018-11-06 09:44] #351 closed

[2018-11-06 09:45] fmassa commented on #140
This has been implemented in https://github.com/pytorch/vision/pull/643

[2018-11-06 09:45] #140 closed