[2022-01-31 17:17] vadimkantorov opened #5324 "Support `transforms` argument for ImageNet / ImageFolder / DatasetFolder"
### 🚀 The feature

Currently they seem to only support old style `transform=`, `target_transform=`. Joint transforms are needed for augmentations. I guess these datasets just need to pass in `transforms=` argument to the base `VisionDataset` class

### Motivation, pitch

N/A

### Alternatives

_No response_

### Additional context

_No response_

cc @pmeier

[2022-01-31 18:10] pmeier commented on #5324
What joint transformation do you want to use with a classification dataset? I know there is `MixUp`, `CutMix`, and other variants, but these can only applied after some batching happened.

[2022-01-31 18:24] vadimkantorov commented on #5324
I'm augmenting it with ImageNet provided bboxes: https://github.com/pytorch/vision/issues/5318

This is useful for evaluating localization.

I'm currently just setting `.transforms` in the resulting dataset object, and it works because the base class VisionDataets indeed supports `.transforms`, but it would be better for consistency if it supported the same arguments.

[2022-01-31 18:45] pmeier commented on #5324
For `ImageNet` there is indeed a use case here. If we add support for bounding boxes, we will of course also add a `transforms` parameter. Thus, let's keep the discussion about this in #5318.

For `ImageFolder` I don't see a viable way forward to support this. The premise of these kind of datasets is that you only have the image and use its folder as category. Thus, there won't be support for any

[2022-01-31 18:47] pmeier commented on #5318
This sounds like a viable addition to the dataset implementation. Unless someone volunteers to implement this on the current API, I would push this request until the new API is ready. cc @NicolasHug @datumbox

[2022-01-31 18:56] vadimkantorov commented on #5324
A very easy way forward is to just add a constructor argument `transforms=` and pass it onto DatasetFolder and VisionDataset. VisionDataset already knows how to handle all these arguments. I consider it quite viable. In any case, please feel free to close this issue if introducing such consistency would actually hurt some other aspects.

I think consistency with other dataset classes is important.

[2022-01-31 23:59] revorg7 commented on #5274
@vfdev-5 , Sure for high resolution images, it doesn't have much affect, but that may not be the only use case. Consider language models or 2D structured gene sequence as input, one never knows. Regardless, an undefined(hidden) code behaviour is never good. For BC-compatibility, I concur to the idea of using lambda function.
Finally, one may still be missing the point that function composition int

[2022-02-01 00:41] vfdev-5 commented on #5274
For a fixed feature map size the center crop will be the same. On the other hand, if feature map crop uses parameters such that the difference is even, then top-left corner will be simply integer, e.g. round((32 - 8) / 2) = round(12) = 12
On the other hand, I do not understand why if using your numbers like round((7 - 2) / 2) = round(5/2) = round(2.5) can't be 2 and should be 3 ?

I'd say you have

[2022-02-01 01:45] trevoravant commented on #5313
@NicolasHug @pmeier Thank you for the suggestions. I uninstalled the Arch Linux package that I used to install torch. I also uninstalled CUDA just to eliminate another variable. I tried to install both the stable and nightly CPU-only versions of torch and torchvision from pytorch.org. The stable version produces the error:
[code]
the nightly version doesn't produce an error, but still only install

[2022-02-01 01:55] revorg7 commented on #5274
You are simply diverting attention to use cases where the issue doesn't arise. Its not rocket science to see that it won't happen for arguments divisible by two.

I didn't, because it can simply be avoided by not using round() anymore, unless ofcourse you insist on using it anyways.

Again, You are simply repeating what we both know, and when I said earlier that round(11/2)=6 and round(9/2)=4. I w

[2022-02-01 07:07] pmeier commented on #5313
Yes. There is currently no version of PyTorch that supports Python 3.10. The next release in late February / early March will.

[2022-02-01 07:08] #5313 closed

[2022-02-01 07:29] pmeier commented on #5324
This is indeed an easy solution, but that is not what I meant with "viable". I meant "viable" in the sense that the change should make sense. See below why I think it doesn't.

Agreed, but this is an argument against adding it. We currently only use `transforms` for detection or segmentation datasets. Since `ImageFolder` is a classification dataset, adding `transforms` would make the API more inco

[2022-02-01 07:46] #5324 closed

[2022-02-01 07:50] vadimkantorov commented on #5324
My point is that what is originally thought as classification dataset, can very well be cast or augmented as something else entirely by the users, library authors or anyone can't predict all valid usecases. Such inconsistencies are hurting user experience as require more custom classes that otherwise could have been implemented as a function (so force more object orientation and worse support of f

[2022-02-01 09:22] Quintulius opened #5325 "Pass losses as callables when building detection models"
### 🚀 The feature

Some models currently accept normalization strategies as callables (```mobilenet_backbone``` accepts a ```norm_layer``` argument for example) but loss functions are currently hardcoded (```F.cross_entropy``` for ```fastercnn.roi_heads``` for example).

Following what has been done on normalization strategies loss function could be passed as callables in the modules constructor.

[2022-02-01 15:04] datumbox commented on #5322
@nlgranger Thanks for raising it.

I agree that we should have removed assertions prior merging.Would you like to send a PR to remove them?

[2022-02-01 15:54] datumbox commented on #4500
Sounds good, it's yours @HeungwooLee.

[2022-02-01 18:53] datumbox commented on #5274
@revorg7 Thanks for the feedback.

We had a discussion with the team and unfortuntaely for BC reasons we can't change the `round()` to `floor()/ceil()` (this will have downstream effects on pretrained models and existing pipelines). As discussed above, for the most common cases the 1 pixel difference shouldn't matter much and for those that it is critical (such as the ones you mentioned above), we

[2022-02-01 18:53] #5274 closed

[2022-02-01 19:57] Quintulius commented on #5325
OK ! Modifying the detection models without breaking too much the backward compatibility seems indeed quite a challenge. I'm looking forward to seeing how these models evolve and become more flexible !

[2022-02-02 09:11] datumbox opened #5333 "CodeQL CI job fails on main branch"
### 🐛 Describe the bug

The CodeQL [fails](https://github.com/pytorch/vision/runs/5026465386?check_suite_focus=true) on the latest main branch with the following error:
[code]

I've traced this back to a bug on the setuptools: https://github.com/pypa/setuptools/issues/3063

There is already a fix about it at https://github.com/pypa/setuptools/pull/3070

The issue exists on the latest version, poss

[2022-02-02 09:45] NicolasHug commented on #5333
We've had `CodeQL` for a while now. Has it ever proven useful? From my experience, it has only added noise. Same with `bandit`.

I wouldn't be against removing them

[2022-02-02 09:56] datumbox commented on #5333
I have yet to find a case where it gave me a useful signal since it's been added at #3625 about a year ago. I would be OK not having those 2 signals as I doubt that they add any value given the amount of scrutiny we put on PR reviews. One might argue that it's there in case someone sneaks in something and we don't notice, but I would say that's equally possible to happen anyway because a failing C

[2022-02-02 11:38] datumbox commented on #5333
The team at setuptools just pushed a new version (v60.7.0) which fixes the problem. Closing the issue.

[2022-02-02 11:38] #5333 closed

[2022-02-02 11:41] #5204 closed

[2022-02-02 12:37] monsieurpooh commented on #1899
This would've worked perfeclty if not for the fact that it completely eliminates the ability to use CUDA and forces CPU.

[2022-02-03 03:06] BowenBao commented on #5303
hi @datumbox, I'm seeing this most recently with both master/main branch on pytorch and vision. Just now I tried again with both latest branch, pytorch @ 31b348411afa608639a2f7353060974c849829dd and vision @ 435eddf7a8200cc26338036a0a5f7db067ac7b0c. The below short script results in segfault:
[code]

Removing `print(model)`, I would get arbitrary results of the following
[code]
or
[code]
or
[code]

[2022-02-03 09:12] pmeier opened #5336 "port datasets from the old to the new API"
The new dataset API is now stable enough to start porting more datasets from the old API. For the `0.13.0` release planned for 2022H2 we want to achieve at least feature parity for the new API. If you want to help out, please comment on the respective issue so we can assign it to you.

The process of adding a dataset to the new API is described [here](https://github.com/pytorch/vision/blob/main/to

[2022-02-03 09:12] pmeier opened #5337 "Country211"
cc @pmeier @bjuncek

[2022-02-03 09:12] pmeier opened #5338 "EuroSAT"
cc @pmeier @bjuncek

[2022-02-03 09:12] pmeier opened #5339 "Flickr8k"
cc @pmeier @bjuncek

[2022-02-03 09:13] pmeier opened #5340 "Flickr30k 1"

[2022-02-03 09:13] pmeier opened #5341 "Flowers102"

[2022-02-03 09:13] pmeier opened #5342 "Food101"

[2022-02-03 09:13] pmeier opened #5343 "INaturalist"

[2022-02-03 09:13] pmeier opened #5344 "LFWPeople 1"

[2022-02-03 09:13] pmeier opened #5345 "LSUN"

[2022-02-03 09:13] pmeier opened #5346 "Omniglot"

[2022-02-03 09:13] pmeier opened #5347 "Places365"

[2022-02-03 09:13] pmeier opened #5348 "RenderedSST2"

[2022-02-03 09:13] pmeier opened #5349 "SBU 1"

[2022-02-03 09:13] pmeier opened #5350 "STL10"

[2022-02-03 09:13] pmeier opened #5351 "SUN397"

[2022-02-03 09:13] pmeier opened #5352 "USPS"
cc @pmeier @bjuncek

[2022-02-03 09:13] pmeier opened #5353 "Cityscapes"

[2022-02-03 09:13] pmeier opened #5354 "FGVCAircraft 1"

[2022-02-03 09:13] pmeier opened #5355 "Kitti 12"

[2022-02-03 09:14] pmeier opened #5356 "StanfordCars"
cc @pmeier @bjuncek

[2022-02-03 09:14] pmeier opened #5357 "LFWPairs"

[2022-02-03 09:14] pmeier opened #5358 "PhotoTour"

[2022-02-03 09:14] pmeier opened #5359 "HMDB51"

[2022-02-03 09:14] pmeier opened #5360 "Kinetics"

[2022-02-03 09:14] pmeier opened #5361 "UCF101"

[2022-02-03 09:14] pmeier opened #5362 "KittiFlow 1"

[2022-02-03 09:14] pmeier opened #5363 "Sintel"

[2022-02-03 09:14] pmeier opened #5364 "FlyingChairs"

[2022-02-03 09:14] pmeier opened #5365 "FlyingThings3D"

[2022-02-03 09:14] pmeier opened #5366 "HD1k"

[2022-02-03 09:22] Dbhasin1 commented on #5336
Hi!
I would like to work on #5337, #5338, #5339 for starting out, thanks!

[2022-02-03 09:23] datumbox commented on #5306
The problem [persists](https://app.circleci.com/pipelines/github/pytorch/vision/14557/workflows/7ddee975-34c9-4e15-8996-af2adb66e3cc/jobs/1171771) on latest main 435eddf7a8200cc26338036a0a5f7db067ac7b0c

[2022-02-03 09:26] pmeier opened #5367 "WIDERFace"

[2022-02-03 09:28] pmeier commented on #5336
Hey @Dbhasin1, thanks a lot for the interest. I can only assign you to an issue if you comment on it. Could you please do so on the three you picked?

[2022-02-03 09:31] Dbhasin1 commented on #5337
Hi! I'd like to pick this up, thanks!

[2022-02-03 09:32] Dbhasin1 commented on #5338
Hi! I'd like to pick this up, thanks!

[2022-02-03 09:32] Dbhasin1 commented on #5339
Hi! I'd like to pick this up, thanks!

[2022-02-03 09:49] vballoli commented on #5346
Hey @pmeier , I'd like to take this up.

[2022-02-03 10:18] datumbox commented on #5303
@BowenBao Thanks for keep looking at it.

@jerryzh168 this might be related to the changes done at https://github.com/pytorch/pytorch/pull/71956

Unfortunately I still can not reproduce the problem using the latest TorchVision main and `pytorch                   1.11.0.dev20220202 py3.9_cuda11.1_cudnn8.0.5_0    pytorch-nightly`. Running the above script on a linux dev-server yields the results as

[2022-02-03 11:29] #4528 closed

[2022-02-03 12:16] #5321 closed

[2022-02-03 12:32] abhi-glitchhg commented on #5336
I could try for STL10

[2022-02-03 12:39] abhi-glitchhg commented on #5356
Can i work on this?

[2022-02-03 12:39] abhi-glitchhg commented on #5350
can i work on this?

[2022-02-03 12:46] pmeier commented on #5350
Sure, go ahead.

[2022-02-03 12:46] pmeier commented on #5356
Sure, go ahead.

[2022-02-03 13:54] pmeier opened #5370 "Remove option for specific interpolation mode and antialias for segmentation kernels"
We typically use nearest interp mode for segmenation masks resize and there is no antialias option for nearest mode. I think we can remove `antialias` argument.

_Originally posted by @vfdev-5 in https://github.com/pytorch/vision/pull/5323#discussion_r796574572_

cc @vfdev-5 @datumbox @bjuncek

[2022-02-03 14:45] vfdev-5 commented on #5353
In cityscapes we have splits and modes and split names depends on mode value.

https://github.com/pytorch/vision/blob/44e93beb0833ff51ffe75d994fe660434335b53d/torchvision/datasets/cityscapes.py#L123-L127

How can we do that in the prototype ?

[2022-02-03 14:59] NicolasHug commented on #5353
You can take inspiration from VOC:

https://github.com/pytorch/vision/blob/44e93beb0833ff51ffe75d994fe660434335b53d/torchvision/prototype/datasets/_builtin/voc.py#L41-L46

But the exact way we handle this might slightly change with https://github.com/pytorch/vision/pull/5369

[2022-02-03 15:29] marcobevih2o commented on #5277
I'm facing the same error with same configuration:

- libtorch: 1.10.2
- torchvision: 0.11.2
- cuda: 11.2
- visual studio 2017 (msvc 15)

C2672	'c10::KernelFunction::call': no matching overloaded function found   C:\libtorch\include\ATen\core\boxing\KernelFunction_impl.h	75

C2039	'call': is not a member of 'c10::impl::BoxedKernelWrapper<Return (const at::Tensor &,c10::IntArrayRef,bool),void>'	C:\

[2022-02-03 17:17] malfet commented on #5306
Cause of the problem is that PyTorch nightly builds persisting on CircleCI are exceeding flaky and we hadn't had a successful build in last 8 days, and at the time of the writing [pytorch-nightly](https://anaconda.org/pytorch-nightly/pytorch/files) MacOS files looks as follows:
conda	73.8[ ](https://anaconda.org/pytorch-nightly/pytorch/files/modal/info/61f05f8046456342393e4548)MB	 | [osx-64/pytorc

[2022-02-03 17:21] malfet commented on #5277
@marcobevih2o PyTorch is not compatible with VS2017, as this compiler have a lots of known bugs in C++14 standard implementation. Please update to VS2019 or later

[2022-02-03 17:44] jerryzh168 commented on #5303
looks like a problem with version control fuse_modules_qat is introduced in the most recent master, maybe it's not picked up by the nightlies yet?

[2022-02-03 17:55] BowenBao commented on #5303
@datumbox created a fresh conda environment and tried similar nightly branch, I could still repro ...

Could it be due to different pretrained model checkpoint?

Logs
[code]

Env:
[code]

[2022-02-03 20:07] jerryzh168 commented on #5303
the api change won't cause segfault I think, could you wait one day to make sure the change is in nightlies? or can we check now?

[2022-02-03 21:57] classner opened #5371 "Installation fails using PDM"
### 🐛 Describe the bug

Within a pdm project, running `pdm add torchvision` results in:

[code]

It seems the pip RECORD file is not correctly built for torchvision. Similar issues are being detected for other packages, too, for example: https://github.com/microsoft/playwright-python/issues/518 .

### Versions

Currently tested with 0.11.2+cu113-cp39-cp39 .

[2022-02-04 02:55] zhiqwang commented on #5341
Hi @pmeier , I'd like to take this up.

[2022-02-04 06:38] jiannanWang opened #5376 "Pre-trained model inception_v3 has different results after saving and loading"
### 🐛 Describe the bug

The pre-trained model inception_v3 produces different results when predicting the same input after saving and loading. I attached the input file I used below. Please unzip it before use.

[code]
The outputs are:
False
4.062112

[inputs.zip](https://github.com/pytorch/pytorch/files/8000670/inputs.zip)

### Versions

Collecting environment information...
PyTorch version: 1.10

[2022-02-04 09:58] kadereub opened #5374 "old version is installed for arm64 based conda"
### 🐛 Describe the bug

I installed `miniforge` for *apple silicon* with the following specs:

[code]

I then created a `conda` environment and then install `pytorch` and `torchvision`,

[code]

When trying to run [this] `main.py` script I get the following **error**:

[code]

Looking at the `torchvision` package version it installed a very old version in-spite of the new `pillow` and `pytorch` ve

[2022-02-04 11:16] datumbox commented on #5306
@malfet Thanks for the detailed answer.

The macOS problems are now solved on latest main branch but unfortunately since the Windows builds [failed](https://app.circleci.com/pipelines/github/pytorch/pytorch/450381/workflows/568b586b-de4d-41e9-87b8-3b510c1142f0) in the above job, we got [new issues](https://app.circleci.com/pipelines/github/pytorch/vision/14584/workflows/463c5440-5fce-486e-95d4-e43

[2022-02-04 13:42] datumbox commented on #5376
@jiannanWang Try passing `transform_input=True` to the model builder and the output should match.

InceptionV3 is an old model which used the weights ported directly from the paper. Since the standardization used by their team was from TensorFlow, the input needs to be normalized accordingly. This was pushed in the architecture (an idiom we no longer use):
https://github.com/pytorch/vision/blob/ea

[2022-02-04 14:33] billy800413 commented on #5277
@marcobevih2o For your reference, now I can create the dll in the following way. It still requires python. I changed Visual Studio to 2019 and Torchvision branch is nightly.
[code]

[2022-02-04 15:22] zhiqwang commented on #5277
Seems that that's a known issue before https://github.com/pytorch/vision/issues/2692#issuecomment-1009783544 .

[2022-02-04 15:36] dagitses commented on #5376
Thanks Vasili for clarification and removing high priority.

[2022-02-04 17:14] xuzhao9 opened #5378 "Torchvision models don't run with Torch-TensorRT"
### 🐛 Describe the bug

I am trying to enable Nvidia's Torch-TensorRT(https://github.com/NVIDIA/Torch-TensorRT) on torchvision models. The script I use for benchmarking is as below:

[code]

And I get the following error:

[code]

### Versions

Output of `collect_env.py`:
[code]

I don't use the latest nightly version because Torch-TensorRT only builds on the latest stable version (0.11.1).

[2022-02-04 17:41] MatthieuTPHR commented on #5378
You probably need to set the dtype in your inputs. `torch_tensorrt.Input(shape=(1, 3, 224, 224), dtype=torch.half)`

[2022-02-04 17:55] xuzhao9 commented on #5378
It works! Thanks so much!

[2022-02-04 17:55] #5378 closed

[2022-02-04 18:23] datumbox commented on #5319
I've pinned the issue for now but we should consider making use of the Wiki pages, which are better suited for this kind of content. PyTorch core uses them extensively, so it might be worth aligning.

[2022-02-05 08:26] Lee-JH-KR commented on #5374
[code]
When I tried to install torchvision through the command above,
I also had the same issue with the old version (0.2.2) being installed.

I don’t know why the old version is installed, but I was able to solve it simply through the **conda package update**.

[code]
After update the all conda package through the above commands, I was able to get the correct version of torchvision.

[code]

Addi

[2022-02-05 08:50] Amapocho commented on #5349
Can I take this up?

[2022-02-05 08:51] Amapocho commented on #5347
Can I take this up?

[2022-02-05 10:14] pmeier commented on #5347
Sure, go ahead.

[2022-02-05 19:03] Amapocho commented on #5347
The Places365-**Challenge** dataset is way too big for me to download and find the sha256 code, is there any other way to find it?

[2022-02-06 17:14] Amapocho commented on #5347
I'm sorry but I just realized I will need to download the entire dataset to build the data pipe and I cannot do that for such a huge dataset.  Please do unassign this issue, I will look into the other datasets that I will be able to download and try to go forward with them.

Regret any inconvenience caused.

Should I make a PR with resources that I have updated or should I just let it be?

[2022-02-06 17:22] Amapocho commented on #5347
I'm sorry but I just realized I will need to download the entire dataset to build the data pipe and I cannot do that for such a huge dataset. Please do unassign this issue, I will look into the other datasets that I will be able to download and try to go forward with them.

Regret any inconvenience caused.

Should I make a PR with resources that I have updated or should I just let it be?

[2022-02-07 07:08] pmeier commented on #5347
No worries, I could have told you before you got started and this is on me. Still, before I unassign you, would you be willing to implement this for the small variant of the dataset. This limits the download size for all files to about 30GB. IIRC, they have exactly the same structure as their larger "sisters". So the only thing I would have to do after your PR is checking if the implementation sti

[2022-02-07 08:15] pmeier commented on #5374
The reason it installs this really old version, is that `0.2.2` was the last pure Python version and thus works on every architecture. Since the installation works fine for `torch` it seems there is something off on our side.

[2022-02-07 10:09] NicolasHug commented on #5319
Are we expecting these guidelines to change often?
Otherwise we might also consider just having this as a `.md` file in the repo?

[2022-02-07 10:29] jdsgomes commented on #5319
That is a good point, and has been discussed previously with @datumbox and also during this [PR review](https://github.com/pytorch/vision/pull/5315#discussion_r795151631). In short I think is fair so say that there are no strong feelings either way, but there were two main arguments to keep it in a ticket for now. First we didn't want to make the contribution guidelines too long, second the conten

[2022-02-07 11:25] datumbox commented on #5319
Things will eventually become stable. I think the biggest changes on this documentation will come from the following:
- The Multi-weight support API rollout
- The Model documentation revamping
- Potentially by the model testing revamping work

Once things stabilise we can move to `md` if you prefer.

[2022-02-07 11:58] Amapocho commented on #5347
I only have 25GB on the drive which has PyTorch so I won't be able to run it on my device sadly. I have added all the links for the resource download, image type, and all the other links so I'll add a PR as it'll help start off whoever picks up the issue next.

In the meanwhile, I have looked into the RenderedSST2 and I would be able to take that up. Is there any quirk to that dataset I should be

[2022-02-07 12:17] vfdev-5 commented on #2651
Let's close this issue and if needed open a specific one for new dataset addition

[2022-02-07 12:17] #2651 closed

[2022-02-07 13:22] pmeier commented on #5347
No, I don't think so. Go ahead, I can assign you there.

[2022-02-07 13:28] Amapocho commented on #5348
I'd like to take this up. Also, I'd like to clarify before starting that this dataset seemingly does not have a homepage as it is an OpenAI internal dataset.

[2022-02-07 13:30] pmeier commented on #5348
You can use

https://github.com/pytorch/vision/blob/dad6e6a44d63272459b54175c92ed22955eb4207/torchvision/datasets/rendered_sst2.py#L12

as homepage.

[2022-02-07 19:16] pmeier commented on #5347
For anyone who wants to pick this up: you can find the skeleton for the implementation in #5383.

[2022-02-08 07:40] pmeier opened #5388 "Building docs with `make html-noplot` ignores sphinx options"
The command currently looks like this:

https://github.com/pytorch/vision/blob/97eddc5d6a83a9bf620070075ef1e1864c9a68ac/docs/Makefile#L26-L27

Not that `ASPHINXOPTS` is non-existent and thus we build without any options. Replacing this with `SPHINXOPTS`

https://github.com/pytorch/vision/blob/97eddc5d6a83a9bf620070075ef1e1864c9a68ac/docs/Makefile#L9

leads to a warning of sphinx gallery (see sphin

[2022-02-08 09:23] NicolasHug commented on #5388
I think I made a typo with this `ASPHINXOPTS`, happy to remove.

A  temporary workaround to have a fast build while still erroring on warnings is to do

[code]

which will just build the transforms example, causing the images to be present and removing the offending warning.

But the CI will build with the plots as a last resort.

[2022-02-08 09:28] pmeier commented on #5388
Remove `$(ASPHINXOPTS)` or remove the `A`?

[2022-02-08 09:38] NicolasHug commented on #5388
remove `ASPHINXOPTS`

[2022-02-08 11:09] #5388 closed

[2022-02-08 17:38] AdeelH commented on #1945
@chenliu0831, any update on this?

[2022-02-08 20:15] #5322 closed

[2022-02-09 01:55] jiannanWang commented on #5376
Thank you for your response! I tried your suggestion with ```transform_input=True``` and the difference disappears. I'll close this issue since it's solved now.

[2022-02-09 01:55] #5376 closed

[2022-02-09 08:42] iamhatesz opened #5393 "CPU version of torchvision requires non-CPU version of torch"
### 🐛 Describe the bug

Hi!

The `+cpu` wheels from [here](https://download.pytorch.org/whl/cpu/torch_stable.html) requires `torch` instead of `torch+cpu`. This works fine when installing with pip:

[code]

but fails with more advanced dependency managers like Poetry:

[code]

[code]

And when you look into [this](https://download.pytorch.org/whl/cpu/torchvision-0.11.3%2Bcpu-cp39-cp39-linux_x86_64

[2022-02-09 09:55] #5309 closed

[2022-02-09 11:07] nairbv commented on #5045
re the name "Feature," aside from being an overloaded term, is it also incorrect? Usually a label is not a feature -- I would think a Label subclassing Feature would imply self-supervision.

I want to suggest "example," but aside from also being overloaded, I think that only works if it's a feature _and_ label. Here I think we need a term that can refer to either a feature or label, but not both.

[2022-02-09 11:34] jdsgomes opened #5396 "[v0.12] Release Tracker"
We cut a [release branch](https://github.com/pytorch/vision/tree/release/0.12) for the 0.12 release.

This issue is for tracking cherry-picks to the release branch.
The POC for the TorchVision team is @jdsgomes

## Cherry-Pick Criteria

**Phase 1 (until 02/17/22):**

Only low-risk changes may be cherry-picked from master:

1. Fixes to regressions against the most recent minor release (e.g. 0.11 fo

[2022-02-09 11:41] NicolasHug commented on #5396
First one!

Link to landed master PR : https://github.com/pytorch/vision/pull/5391

Link to release branch PR: https://github.com/pytorch/vision/pull/5397

Criteria Category:  2 - critical fix for BC

[2022-02-09 12:38] datumbox commented on #1945
@AdeelH The detection models require custom C++ ops that need compilation. TorchHub can't import models with such dependencies. Right now there is no way to add support. We might look on the future for options but this is quite a sizeable work and it's not going to be done just by adding them on the hubconf.py.

[2022-02-09 14:26] datumbox commented on #1945
I believe what you describe is expected. The specific version that you have installed will work because the binaries contain the compiled C++/CUDA ops.

I'm not an expert on the internals of TorchHub. @NicolasHug do you know if the point 2 on the Observation section above is expected?

[2022-02-09 14:50] NicolasHug commented on #1945
As @datumbox mentioned in general one should not expect models with compiled extensions to work with torchhub.

However, since you already have torchvision 0.11 installed, these compiled extensions have been compiled already and are present **somewhere** on your machine.

`import torch` and `import torchvision` do quite a bit of magic under the hood, resolving dynamic lib symbols, and all sorts of

[2022-02-09 15:21] Parskatt opened #5398 "Allow for arbitrary sequences in torchvision/transforms/functional"
### 🚀 The feature

Replace all checks for (list,tuple) in functional with Iterable.

### Motivation, pitch

There are about 8 checks in functional right now which requires the argument to be either list or tuple, e.g.
https://github.com/pytorch/vision/blob/main/torchvision/transforms/functional.py#L1059
Instead of performing these checks, simply checking for Iterable allows to use e.g. numpy array

[2022-02-09 15:51] datumbox commented on #5398
Sounds reasonable but note we are limited due to JIT compatibility. We wound't be able to add for example numpy arrays in the check because that won't be JIT-scritable. We need to review what exactly is supported by JIT and what's the common denominator/type for iterable objects.

@pmeier @vfdev-5 Good feedback for the new API. Perhaps we could push all these checks on the non-JIT-scriptable high-

[2022-02-09 18:32] gerdm opened #5403 "EMNIST - HTTP Error 503"
### 🐛 Describe the bug

It appears that the url torchvision considers to download the EMNIST dataset is broken.

[code]

The traceback at the bottom is the following:

[code]

<details><summary>Here's the full traceback</summary>
<p>

[code]

</p>
</details>

Perhaps we need to update the url?

### Versions

[code]

cc @pmeier

[2022-02-09 20:03] datumbox commented on #5306
Fixed on latest main branch.

[2022-02-09 20:03] #5306 closed

[2022-02-10 10:51] datumbox commented on #5370
Yes correct. masks are a geographical positioning of class Ids. We can't do any math operation that includes averaging or numeric functions on these pixel values. We can do only nearest-interpolation logic.

[2022-02-10 11:16] nairbv commented on #5045
some other thoughts:

* IIUC the proposed class hierarchy is Image/Label/BoundingBox/Video/etc extend Feature, and Feature extends Tensor. I'm having trouble understanding what `Feature` adds or what functionality it should generically provide vs if each type directly extended Tensor?
* If other domains try to solve similar issues in similar ways (e.g. an audio tensor), what are the implications o

[2022-02-10 11:34] datumbox commented on #5045
@nairbv Thanks for the feedback.

I'll only touch a few points from what you discuss and leave the rest to @pmeier to provide his thoughts as he is more familiar with why some of the choices were originally made:
- The code you see on main branch is not the most up-to-date. The best branch for this work is available [here](https://github.com/pytorch/vision/blob/revamp-prototype-features-transforms

[2022-02-10 12:07] vadimkantorov commented on #5045
Maybe you already did it, but it would be very nice to have a public workshop / seminar on vision framework design / architecture. It would be very interesting to hear what authors of mmdetection / detectron2 / kornia / albumentations are thinking about their architecture choices and standing problems (especially related to augmentations). Microsoft's .NET community is doing a lot of streaming of

[2022-02-10 12:35] vadimkantorov commented on #5045
That's why I'm not very keen of subclassing approach - especialy in the core library and especially wrt core stuff like images, videos, bboxes, masks.  I think the upstreaming of plumbing primitives (as started by box_convert function and with transforms.functional) should be done first, it's easier to design (and to deprecate if needed) and it's simpler to get feedback on these purely functional

[2022-02-10 15:20] rydenisbak commented on #4378
same problem:
ubuntu 20.04
Driver Version: 470.82.00
CUDA Version: 11.4
torch version '1.10.2+cu113'
torchvision version '0.11.3+cu113'

[2022-02-10 18:57] igolan89 opened #5405 "Resize ignores `max_size` when short side equals to target size"
### 🐛 Describe the bug

When using the `resize` function, if the target size equals to the smaller side of the image, the image is returned as-is, even if the longer side exceeds the given `max_size`. This can be seen at https://github.com/pytorch/vision/blob/main/torchvision/transforms/functional_pil.py#L244

[code]

### Versions

PyTorch version: 1.10.2+cu102
Is debug build: False
CUDA used to b

[2022-02-11 07:47] abhi-glitchhg commented on #1164
https://github.com/elliotwaite/pytorch-hooks-tutorial

This is a nice resource if someone wants to learn the basics of hooks.

[2022-02-11 08:51] NicolasHug commented on #5405
Thanks for the report @igolan89

What exactly are you trying to do here?

It isn't natural to ask for a given smaller edge size (`size`) while asking for the same larger edge size (`max_size`). That's asking for a square image, which would be more naturally achieved with `resize(img, (H, H))`.

Because of this, later in the code we raise an error if `max_size <= size`:

https://github.com/pytorch/

[2022-02-11 10:48] datumbox commented on #5045
@vadimkantorov Naming is HARD and we can use some good ideas. :)

We are trying to prototype and iterate as quickly as possible to have an initial good proposal. Many of the things you mentioned here should be addressed on the final plan. Once we have a bit more complete solution, we will create a Feedback issue and ask for input from the community. We've done this before (see the Multi-weights AP

[2022-02-11 11:33] igolan89 commented on #5405
Thanks for the reply @NicolasHug.
The fact that `max_size=size` is just for the illustration. The same thing will happen regardless of the value of `max_size` (i.e., it can be `H+1`)

[2022-02-11 13:14] NicolasHug commented on #5405
Thanks for the details @igolan89 , I think you're right!

https://github.com/pytorch/vision/pull/5409 should fix the issue.

[2022-02-11 15:45] datumbox opened #5410 "[RFC] Batteries Included - Phase 2"
### 🚀 The feature

*Note: To track the progress of the project check out [this board](https://github.com/pytorch/vision/projects/4).*

This is the 2nd phase of TorchVision's modernization project (see [phase 1](https://github.com/pytorch/vision/issues/3911)). We aim to keep TorchVision relevant by ensuring it provides off-the-shelf all the necessary primitives, model architectures and recipe utili

[2022-02-11 17:56] NicolasHug commented on #4378
Thanks all for the reports.

I took a look a this today. I can reproduce the leak. I do see the memory usage going up constantly with `nvidia-smi`. But printing the allocated and reserved cuda memory with `torch.cuda.memory_stats()` shows no leak: I always get

[code]

I thought the leak might come from the fact that we don't free the nvjpeg handle (we literally leak it for convenience)

https://g

[2022-02-11 18:19] NicolasHug commented on #4378
I'll try to look into that

Update: this still leaks 🥲

[code]

[2022-02-12 16:29] alanyoungCN commented on #5137
The warning seems to be still there. When I use pip to install torch=1.10.2, torchvision=0.11.3, the import statement
[code]
throws out the similar warning:
[code]
I use MacBook Pro with M1 Max and there is not a image.so in torchvision directory.🤔
I notice that it has been talked in https://discuss.pytorch.org/t/failed-to-load-image-python-extension-could-not-find-module/140278/21 by Andrade.
@ma

[2022-02-12 17:19] alanyoungCN opened #5413 "image.so on Apple Silicon can't load libpng16.16.dylib and libjpeg.9.dylib"
### 🐛 Describe the bug

code:
[code]
UserWarning:
[code]
on M1 Max.
In https://github.com/pytorch/vision/issues/5137#issuecomment-1023708994, it is said to be fixed but I don't think so.

Therefore you can't use torchvision.io.read_img().
[code]

[code]
In https://discuss.pytorch.org/t/failed-to-load-image-python-extension-could-not-find-module/140278/20, Andrade has the same problem.

### Version

[2022-02-13 07:59] alanyoungCN commented on #5413
BTW, I use pip to install the packages above. I didn't try conda.

[2022-02-13 12:07] datumbox opened #5414 "[RFC] New Ops in TorchVision"
### 🚀 The feature

Consider adding the following operators in TorchVision:

## Layers
- [ ] [DropBlock Layer](https://arxiv.org/abs/1810.12890)
- [ ] [AutoDropout Layer](https://arxiv.org/abs/2101.01761)
- [ ] [DropConnect Layer](http://yann.lecun.com/exdb/publis/pdf/wan-icml-13.pdf)
- [ ] [ShakeDrop Layer](https://arxiv.org/abs/1802.02375)

## Operators
- [ ] [SoftNMS](https://arxiv.org/pdf/1704.

[2022-02-13 12:11] datumbox commented on #5266
Can you confirm you still face the problem on the latest main branch?

[2022-02-13 12:58] datumbox commented on #5414
@xiaohu2015 wow, I literally just slacked you to see if you are interested 😄

Great! If you want to send a PR for `DropBlock` it would be awesome. Let me create a ticket for it so that people know you are working on it already.

[2022-02-13 14:01] danieltudosiu commented on #528
Hey,

This does not seem to work for me at all. I am using the following code:

[code]

Could you please tell me what am I doing wrong :(

[2022-02-13 14:50] danieltudosiu commented on #528
For future reference this is the correct answer:

[code]

[2022-02-13 16:31] vballoli commented on #5346
Sorry for the delay, the PR should be up in 2-3 days.

[2022-02-13 16:57] varunagrawal commented on #528
Your solution is pretty much what @fmassa laid out. If you look at his unnormalize method, he is computing the negative mean divided by the standard deviation.

[2022-02-13 19:45] mnslarcher commented on #5413
Same here, I also used pip, I cannot use conda at work

[2022-02-14 01:18] zhiqwang commented on #5413
I've tried Miniconda on M1, but failed with `UnsatisfiableError`

[code]

[2022-02-14 07:19] alanyoungCN commented on #5413
@zhiqwang
You can try reinstalling pillow==6.1(6.x could be okay), which is mentioned at https://github.com/python-pillow/Pillow/issues/4130#issuecomment-570452778. Installing torchvision by conda will automatically use the latest pillow(7.0). I met this problem when I used conda to install torch. But `UnsatisfiableError` is weird.

[2022-02-14 10:04] NicolasHug commented on #5413
Pinging @jdsgomes: we should try to triple check with the release engineers that M1 will be properly supported in the upcoming release.

[2022-02-14 11:17] jdsgomes commented on #5413
@alanyoungCN would you be able to try the latest RC build (torchvision==0.12 and pytorch=1.11) for the upcoming release:

`conda install -c pytorch-test torchvision pytorch`

or

`pip install --pre torch torchvision -f https://download.pytorch.org/whl/nightly/cpu/torch_nightly.html`

[2022-02-14 13:19] prabhat00155 opened #5419 "new video reading API crash"
### 🐛 Describe the bug

I get `malloc(): memory corruption` when running the following code with a video file.
[code]
[code]

On debugging, it points at this line as the culprit: https://github.com/pytorch/vision/blob/0db67d857d612b8b5f196d1b9e1314d07b8a7a29/torchvision/csrc/io/video/video.cpp#L314

### Versions

Collecting environment information...
PyTorch version: 1.11.0.dev20220203+cu111
Is de

[2022-02-14 15:15] malfet commented on #5137
@alanyoungCN thank you for reporting, but as you can see from the signature, issue is a bit different: image.so is present, but missing one of the dependent libraries. `conda install libpng` would undoubtedly solve this

[2022-02-14 15:39] alanyoungCN commented on #5413
@jdsgomes  @malfet cc plz
After thinking it for a long while, I find the key is `libpng` and `libjpeg`.

The `image.so` is indeed in `torchvision/` even when torchvision=0.11.3, I only checked the `torchvision/io/` folder before. So sorry for the title.

Then I take a deep look at the warning(same as the top):
[code]

I think the missing of `@rpath/libpng16.16.dylib` is the key. And the warning on

[2022-02-14 16:11] alanyoungCN commented on #5137
@malfet Sorry for the title, I mention it in https://github.com/pytorch/vision/issues/5413#issuecomment-1039234856. But I use pip to install torch and torchvision, I can't install libpng by pip.

Besides, when I install libpng in conda base env, the warning becomes `Library not loaded: @rpath/libjpeg.9.dylib`. It's very confusing.

cc plz🙏

[2022-02-15 02:51] alanyoungCN commented on #5137
@malfet
It works, thank you.

For now, the solution is installing the missing dylib by `conda install libpng` and `conda install jpeg` in conda base env, and it seems every python env will be okay.

But there is a little remaining question, how to install them in a pip-only environment?

[2022-02-15 08:07] pmeier commented on #5403
We can't really do anything about a 503 HTTP error other then changing the URL. I've just checked and https://www.itl.nist.gov/iaui/vip/cs_links/EMNIST/gzip.zip seems to be working fine. IIRC, we had some trouble in the past with EMNISTs download server being a little unstable. Our CI is testing the URLs on a daily basis and so far nothing has come up about permanently broken links. Could you retr

[2022-02-15 08:08] pmeier commented on #5370
Closed in #5407.

[2022-02-15 08:08] #5370 closed

[2022-02-15 08:13] pmeier commented on #5336
Hey @Dbhasin1 @abhi-glitchhg @vballoli @Amapocho @vfdev-5. We recently merged #5407, which included some changes to the prototype datasets. I believe the only touching point for you is the removal of the `decoder`. This means, `_make_datapipe` no longer gets passed a `decoder`. Instead you can `from torchvision.prototype.features import EncodedImage` and just use `image = EncodedImage.from_file(bu

[2022-02-15 08:41] KimSangYeon-DGU commented on #4222
In my case, the workaround is to uninstall `torchvision` and reinstall it. After that, the version of `PyTorch` was also upgraded from `1.9.0` to `1.10.2` (torchvision: `0.11.3`).
[code]

[2022-02-15 09:38] pmeier commented on #5398
Given that we do not plan to make the transforms (objects not kernels) JIT scriptable, I think we should be able to fix the annotations on the transforms.

[2022-02-15 09:42] datumbox commented on #5137
@alanyoungCN It depends on the environment/operating system etc. You can install the libraries separately (for example using `apt` if you are on a debian system). Conda takes care of that.

[2022-02-15 10:58] InCogNiTo124 opened #5423 "PascalVOC 2009 wrong hash"
### 🐛 Describe the bug

There is a wrong checksum defined for PascalVOC year 2009

[code]

However, that's not a hash that is defined in a PascalVOC dataset file
https://github.com/pytorch/vision/blob/0db67d857d612b8b5f196d1b9e1314d07b8a7a29/torchvision/datasets/voc.py#L37-L42

This can be tested with:
[code]

### Versions

[code]

[2022-02-15 11:18] alanyoungCN commented on #5137
@dimart
I do have installed it by `brew install libpng`, but it locates in `/opt/homebrew/Cellar/libpng/` which is not in the `@rpath` lists(please see the full warning in https://github.com/pytorch/vision/issues/5413#issuecomment-1039234856), therefore leading the `Library not loaded: @rpath/libpng16.16.dylib` warning.

I wonder if you can bundle them all in .whl file, it may work.

[2022-02-15 14:45] DuyHuynhLe commented on #4271
Hi, Do you have any advancement on this issue?
I faced the same problem but with the detection models in torchvision. `torch.jit.trace` produces an error when exporting due to output format. `torch.jit.script` exports the model successfully but the c++ lib fails to load it.

[2022-02-15 14:50] #5405 closed

[2022-02-15 16:33] #5423 closed

[2022-02-16 06:24] mxahan commented on #4076
Recently, I faced a similar annoying issue (Anaconda, Ubuntu 20.04).

I fixed the issue by getting 'ffmpeg' version 4.2.2 (please check the version by "ffmpeg -version").

Further, I had to specify the version during conda installation of Pytorch, and torchvision.

[2022-02-16 06:26] init27 commented on #4076
After much fighting with my scares of learning Docker, I have started using the NGC images-I would highly recommend the same for making installations easier compared to conda

[2022-02-16 07:53] ZhiyanWXZ commented on #4274
thanks, I get it!

[2022-02-16 11:52] NicolasHug commented on #5396
Another one!

Link to landed master PR : https://github.com/pytorch/vision/pull/5428
Link to release branch PR: https://github.com/pytorch/vision/pull/5429

Criteria Category: 2 and 4 - Fix for documentation

[2022-02-16 13:15] jdsgomes opened #5430 "ConvNormActivation block for 3D convolutions"
### 🚀 The feature

I suggest we add a `Conv3d` equivalent for the  `ConvNormActivation` block

### Motivation, pitch

This will be used in the upcoming ResNext3d implementation.

### Alternatives

I see two possible alternatives:

1. We can re-purpose the existing method in a BC way  by adding an extra named parameter `conv layer` with default value of `Conv2D`.

2. We can explicitly add a new cla

[2022-02-16 13:30] smivv opened #5431 "Error building torchvision from source"
### 🐛 Describe the bug

Hello, I am trying to build custom docker image with torch & torchvision built from sources and getting this error:

[code]

### Versions

Here is my Dockerfile for custom image:

[code]

[2022-02-16 18:21] oke-aditya commented on #5430
In my opinion 2nd one is better.

I can give a shot at this :)

[2022-02-17 08:42] coolteemf commented on #5431
I encounter an error that may be related (with ninja):
`Building wheel torchvision-0.13.0a0+e13206d
PNG found: True
libpng version: 1.6.37
Building torchvision with PNG image support
libpng include path: /usr/include/libpng16
Running build on conda-build: False
Running build on conda: True
JPEG found: True
Building torchvision with JPEG image support
NVJPEG found: True
Building torchvision with NV

[2022-02-17 09:27] smivv commented on #5431
wow, interesting! could you please tell me how you were able to see this error?
maybe you know how to fix it?
thanks!

[2022-02-17 12:53] coolteemf commented on #5431
This was the output of `python setup.py install` when building from source.
I didn't fix it, I just did a `git checkout tags/v0.11.3` (latest release) and could compile.

[2022-02-17 13:30] smivv commented on #5431
Did you compile it with `USE_CUDA=ON` flag?

[2022-02-17 13:51] jdsgomes commented on #5396
Another one:

Link to landed master PR: https://github.com/pytorch/vision/pull/5433
Link to release branch PR: https://github.com/pytorch/vision/pull/5437

Criteria Category: 5

[2022-02-17 16:09] pmeier commented on #5403
Thanks for confirming.

[2022-02-17 16:09] #5403 closed

[2022-02-18 09:34] datumbox commented on #5431
@smivv FYI the official supported way for installing TorchVision from source is to install the latest PyTorch core nightly and then do `python setup.py install`. See our [contributing guide](https://github.com/pytorch/vision/blob/main/CONTRIBUTING.md#install-torchvision).

[2022-02-18 10:43] rgkannan676 opened #5439 "Torch Script C++ : Mask_RCNN module.forward() operation works with CPU but Fails on GPU(Cuda) in Windows"
### 🐛 Describe the bug

Hi,

I am trying to do inference on Mask_RCNN model in Torch Script C++. model.forward() works correctly for CPU but fails after moving both model and input to gpu. CAn you please advise what can be the issue?

Below is the code I used for CPU

Python code to create model script file 'maskrcnn_ts.pt'
[code]
C++ Code
[code]
output::
[code]
The above code for CPU works fine.

[2022-02-18 10:48] jdsgomes commented on #5430
Thanks for the feedback @oke-aditya!

I was thinking and discussing with @datumbox offline, and I'm inclined to the following solution:

1. Create an Alias for the existing `ConvNormActivation` and call it `Conv2dNormActivation`. (this will be done in a separate PR. I would also add a deprecation warning for the ConvNormActivation in this case.
2. Create a new method for 3D convolutions named `Con

[2022-02-18 10:50] jdsgomes commented on #5430
Also, thank you for offering to give it a shot, let's just wait for some more feedback and then would be great if you wish to work on it!

[2022-02-18 11:18] smivv commented on #5431
Hi @datumbox, I tried it and still getting the same error.

My Dockerfile now:

[code]

[2022-02-18 11:53] datumbox commented on #5431
Have you tried replacing all your `pip install` with `python setup.py install`?

[2022-02-18 14:58] jdsgomes commented on #5430
@oke-aditya I kicked off by renaming the `ConvNormActivation` as we all seem to be aligned. Looking forward to your contribution for step 2.

[2022-02-18 15:39] oke-aditya commented on #5430
Nice will do this over the weekend :smile:

[2022-02-19 13:36] rydenisbak commented on #4378
Hello @NicolasHug thanks for answer! I reinstalled CUDA, now I have this version
NVIDIA-SMI 510.47.03
Driver Version: 510.47.03
CUDA Version: 11.6
torch version '1.10.2+cu113'
torchvision version '0.11.3+cu113'

But problem does not disappear.  Should I rebuild torch with cuda 11.6 from source?

[2022-02-19 14:12] NicolasHug commented on #4378
What does `ldd <path_to_your_python_env>/site-packages/torchvision/image.so` say regarding libnvjpeg? It's possible that it's still being linked to an 11.3 version, or that your .so file isn't as up to date as the I linked to above (11.6.0.55-1).

[2022-02-19 19:14] ahirner commented on #4218
@bjuncek did you mean this https://github.com/pytorch/builder/pull/554? What I glean from the current repo is that custom builds for windows/mac may never return.

[2022-02-19 21:59] vadimkantorov commented on #4665
Another instance is at https://github.com/pytorch/vision/issues/5374

I think it would help a lot of debugging time to simply remove version 0.2.2 from all package managers, it is massively outdated and hides other dependency issues

[2022-02-20 06:16] ld213Lin-Duan commented on #1982
Hi, I also face the problem of calculating the second derivative for ROIAlign. Have you got the way to do double backward for RoIAlign?

[2022-02-21 06:18] rgkannan676 commented on #5439
I think its some issue with enabling cuda in touchvision library(c++). I tried debugging but was not able to find any concrete reason for the issue. Please advise. Thanks. @fmassa

[2022-02-21 09:34] chenjiangniao opened #5449 "fatal error: ATen/autocast_mode.h: No such file or directory compilation terminated."
### 🐛 Describe the bug

error information:

Building wheel torchvision-0.13.0a0+7bb5e41
PNG found: True
libpng version: 1.6.37
Building torchvision with PNG image support
libpng include path: /home/chy/anaconda3/envs/maskrcnn_benchmark/include/libpng16
Running build on conda-build: False
Running build on conda: True
JPEG found: True
Building torchvision with JPEG image support
NVJPEG found: False

[2022-02-21 10:26] rgkannan676 commented on #5439
- I also faced the same issue with fasterrcnn_resnet50_fpn also which needs "torchvision/vision.h".

- On other hand, models like resnet18, fcn_resnet50 works fine as they don't need "torchvision/vision.h" to load and infer the models.

[2022-02-21 10:36] zhiqwang commented on #5439
Seems that we should add `cmake -DWITH_CUDA=on -DUSE_PYTHON=on ..` on Windows environment.

[2022-02-21 10:38] rgkannan676 commented on #5439
Hi @zhiqwang , thank you for the reply. I have made those changes directly in the CMakeLists.txt
[code]

[2022-02-21 10:41] rgkannan676 commented on #5439
- C:\Users\vision\build>cmake -DCMAKE_PREFIX_PATH="C:\libtorch-win-shared-with-deps-1.10.2+cu113\libtorch;C:\Users\pybind11" -DCMAKE_BUILD_TYPE=Release ..
-- Building for: Visual Studio 16 2019
-- Selecting Windows SDK version 10.0.19041.0 to target Windows 10.0.19044.
-- The C compiler identification is MSVC 19.29.30138.0
-- The CXX compiler identification is MSVC 19.29.30138.0
-- Detecting C com

[2022-02-21 11:16] zhiqwang commented on #5439
Hi @rgkannan676

There is one more thing that should be added here. Did you checkout to release/0.11 to use the proper version of TorchVision?

[code]

[2022-02-21 11:22] zhiqwang commented on #5439
And seems that we should also copy the data the GPU, add something like the following to your example

[code]

[2022-02-21 11:30] rgkannan676 commented on #5439
I haven’t done the checkout. I have only cloned the repository. Can you please tell what is the significance of this checkout?

[2022-02-21 11:35] zhiqwang commented on #5439
The main branch is paired with the nightly version of PyTorch nightly, the branch release/0.11 is paired with PyTorch 1.10.2. And there is a faster-rcnn example https://github.com/pytorch/vision/blob/main/test/tracing/frcnn/test_frcnn_tracing.cpp , maybe you can try this first.

[2022-02-22 00:07] prabhat00155 commented on #5419
On kinetics dataset: `kinetics/070618/train_avi-480p/knitting/q2sqyxhLiDU_000031_000041.avi`, I get the following error:
[code]

[2022-02-22 00:10] prabhat00155 commented on #5419
On kinetics dataset: `kinetics/070618/600/train/visiting_the_zoo/KgVpMUp4KmM_000000_000010.mp4`, I get the following crashes(on different runs):
[code]
and
[code]

[2022-02-22 04:13] rgkannan676 commented on #5439
Hi @zhiqwang, Thank you for the reply.
-  I tried with both 'release/0.11' and 'release/0.12' as you suggested. But got the same issue for both versions.

-  I also tried the example https://github.com/pytorch/vision/blob/release/0.12/test/tracing/frcnn/test_frcnn_tracing.cpp using the below steps :
  -- Created "fasterrcnn_resnet50_fpn.pt" using trace_model.py.
  -- cd vision\test\tracing\frcnn\

[2022-02-22 04:22] rgkannan676 commented on #5439
I have a doubt, for Installation, is the step "python setup.py install" required even if I have done installation using pip  (pip install torch==1.10.2+cu113 torchvision==0.11.3+cu113 torchaudio===0.10.2+cu113 -f https://download.pytorch.org/whl/cu113/torch_stable.html) ?

[2022-02-22 04:46] zhiqwang commented on #5439
It's a little weird here. Did you add these options as well?

[code]

`USE_PYTHON` is introduced in 0.12. In addition, it is necessary to pay attention to pybind and the libjpeg/png packages. (JPEG and PNG can be found in your cmake log)

[2022-02-22 06:13] rgkannan676 commented on #5439
Yes. Below is the cmake commad used.
- cmake -DWITH_CUDA=on -DUSE_PYTHON=on -DCMAKE_PREFIX_PATH="C:\libtorch-win-shared-with-deps-1.10.2+cu113\libtorch;C:\Users\pybind11" -DCMAKE_BUILD_TYPE=Release ..

One other change made in cmake is "enable_language(CUDA)" is not correctly finding the cuda, so replaced it with "find_package(CUDA)". Also commented out the if check since I am using Cuda version -

[2022-02-22 06:20] rgkannan676 commented on #5439
Checked the logs and found below entries:

//Path to a library.
JPEG_LIBRARY_RELEASE:FILEPATH=C:/Users/anaconda3/envs/py_env/Library/lib/jpeg.lib

//Path to a library.
PNG_LIBRARY_RELEASE:FILEPATH=C:/Users/anaconda3/envs/py_env/Library/lib/libpng.lib

//Details about finding JPEG
FIND_PACKAGE_MESSAGE_DETAILS_JPEG:INTERNAL=[C:/Users/anaconda3/envs/py_env/Library/lib/jpeg.lib][C:/Users/anaconda3/env

[2022-02-22 06:46] rgkannan676 commented on #5439
- Please note that the forward() works correctly with cpu, but fails only in cuda.
- One other doubt is that,  the "fasterrcnn_resnet50_fpn.pt" created using in vision/test/tracing/frcnn/trace_model.py, is used for both cpu and cuda, Is this ok? Do we need to run 'model.to("cuda")' to create .pt file for running in cuda?

[2022-02-22 06:48] zhiqwang commented on #5439
Nope, the following method can also solve the device mismatch problem:

[code]

[2022-02-22 06:52] rgkannan676 commented on #5439
Hi, @zhiqwang, Thank you for the reply. Is "https://github.com/pytorch/vision/blob/release/0.12/test/tracing/frcnn/test_frcnn_tracing.cpp" working in your side on Windows?

[2022-02-22 07:08] zhiqwang commented on #5439
As you can see, TorchVision run these scripts in CI. I didn't have the Windows environment to test this, but as I known, it works on Windows.

https://github.com/pytorch/vision/blob/98a5f3add761b228e2ac83a24c9b84c6fe7309f9/packaging/build_cmake.sh#L86-L106

[2022-02-22 09:17] rgkannan676 commented on #5439
I am not sure what I have missed. Is there any step by step documentation so that I can double check?

[2022-02-22 09:48] seanxhughes opened #5453 "Segfault on unloading a model"
Hi,
I'm using pytorch compiled from source and with this very simple program which successfully loads a pre-trained model, then terminates I get a segfault in the sequence of destructors - anyone seen this before?

Code

[code]
Stack trace

#0  0x000055555555a27a in c10::IValue::isTensor (this=0x80) at /usr/local/libtorch/include/ATen/core/ivalue.h:394
#1  0x000055555555ac77 in c10::IValue::destro

[2022-02-22 09:50] Kavan72 commented on #5393
@iamhatesz Yep, you are right. I'm getting the same error, the only thing is how PyTorch team is managing release and packaging for vision.

[2022-02-22 18:41] etetteh opened #5456 "AttributeError: module 'torchvision.ops._utils' has no attribute 'split_normalization_params'"
### 🐛 Describe the bug

Currently using `torchvision==0.11.3, and following the training recipe [here](https://github.com/pytorch/vision/blob/main/references/classification/train.py). I get the following error, and by looking at the methods in the version of torchvision  I have, it isn't available. The `Nightly` version doesn't contain it either.
[code]

### Versions

Collecting environment inform

[2022-02-22 19:13] datumbox commented on #5456
The problem is you are using the latest training scripts on main branch with and old torchvision version (0.11.3). This method [does not exist](https://github.com/pytorch/vision/blob/v0.11.3/torchvision/ops/_utils.py) on 0.11.3. I've added it in late October last year which was past the branch cut for v0.11 (see #4493). I'm pretty sure you will find it on the latest nightly of torchvision because

[2022-02-22 19:13] #5456 closed

[2022-02-22 22:18] motjuste opened #5458 "[mamba] Installing cpuonly PyTorch and torchvision from conda channel should not require cudatoolkit"
### 🐛 Describe the bug

When installing CPU-only version of PyTorch 1.10 using the official guidelines from the website for using `conda` as package manager, the package `cudatoolkit` is also installed.  The `cudatoolkit` package is very large to download (1 GB) and even larger after getting installed.  The large size is concern especially in building Docker images.

Basic reproduction steps:

1.

[2022-02-23 08:58] IvanYashchuk commented on #5458
I have just tried to run the specified steps and the problem is not reproduced on my end.
Listing packages installed from the pytorch channel also shows that the correct CPU variants were installed (inspecting the content of `dry-run.txt`):
[code]

[2022-02-23 09:25] vadimkantorov opened #5461 "Move torchvision.utils.save_image -> torchvision.io.save_image (or introduce this function from scratch) + support of batches / parallelization"
### 🚀 The feature

I think the `io` namespace makes more sense, and it's where `torchvision.io.read_image` is located...

### Motivation, pitch

N/A

### Alternatives

_No response_

### Additional context

_No response_

[2022-02-23 09:41] datumbox commented on #5461
Yes, I agree. Not sure why it was added on utils but I agree it makes sense to be within io. As this is BC, we should rollout our new deprecation policy and then investigate impact and whether it's worth moving it.

[2022-02-23 09:43] IvanYashchuk commented on #5458
I do see the problem when trying to install with `mamba` instead of `conda`:
[code]
[code]
PyTorch variant is correctly `cpu`, but mamba picks up the cuda variant of `torchvision`.
Even though the recipe specifies the constraint on `pytorch-mutex`: https://github.com/pytorch/vision/blob/c6b447b740b9153bab185b2da39bd321c5b619b1/packaging/torchvision/meta.yaml#L32
packages that are uploaded to the p

[2022-02-23 09:45] oke-aditya commented on #5461
`utils.save_image` is a very old function (since 0,4 I suppose much before `io.write_jpeg`), i had pointed this to @NicolasHug too in offline discussion of deprecating it use `io.write_jpeg`. or `io.write_png`

They small difference is utils.,save_image saves an image tensor. Whereas io does over PIIL images. (Anyways the image tensor can be converted to PIL with transforms.toPILImage)

[2022-02-23 09:55] #4936 closed

[2022-02-23 09:56] NicolasHug commented on #5461
I don't think we should move `save_image`, in fact I think we should deprecate it. It's not working as users would expect it to work. It adds padding pixels by default, and it relies on `make_grid` which has a bad API. It's causing confusion to users, see e.g. https://github.com/pytorch/vision/issues/5211 and my reply there.

[2022-02-23 10:22] vadimkantorov commented on #5461
I don't mind creating of a completely new function with this functionality, and it could redirect the call to write_jpg / write_png accordingly to its arguments / file extension, just like opencv does. A usefsul feature could be supporting batches of images to parallelize image encoding and waiting for file system to complete saving.

[2022-02-23 10:24] #4150 closed

[2022-02-23 10:27] #3264 closed

[2022-02-23 10:28] #3795 closed

[2022-02-23 10:46] #4071 closed

[2022-02-23 10:47] #3138 closed

[2022-02-23 13:48] jdsgomes opened #5463 "Upstream Resnext3d from classivision"
### 🚀 The feature

- [ ] Upstream resnext3d from [classyvision](https://github.com/facebookresearch/ClassyVision/blob/309d4f12431c6b4d8540010a781dc2aa25fe88e7/classy_vision/models/resnext3d.py)
- [ ] Replace conv3d + norm + activation blocks with the new [Conv3dNormAct](https://github.com/pytorch/vision/pull/5445) block
- [ ] Run tests and make sure the performance is in line with the original imp

[2022-02-23 15:16] etetteh commented on #5456
@datumbox Thank you for your response. I installed the latest nightly, and also the installation from [dev](https://github.com/pytorch/vision/blob/main/CONTRIBUTING.md#development-installation) but still not available. Anyways, I have created a utils file and referenced the main branch.

When following the recipe in Phase 1 (classification), when implementing one of the recipes, say `long training

[2022-02-23 15:16] pmeier commented on #5458
cc @malfet

[2022-02-23 16:52] #4006 closed

[2022-02-23 16:53] NicolasHug commented on #5413
@malfet looks like the linker is trying to link against paths on your laptop :p

[2022-02-23 18:21] etetteh commented on #5456
@datumbox okay, I guess maybe my environment is not using the installed nightly version.

My question was whether the models are initialized with the weights of the previous item on the [recipe](https://pytorch.org/blog/how-to-train-state-of-the-art-models-using-torchvision-latest-primitives/). For example, there are
1. LR optimizations
2. TrivialAugment
3. Long Training
4. Random Erasing
.
.
.

1

[2022-02-23 18:28] datumbox commented on #5456
The article does not describe a step by step process on how to train the models but rather explains on high level how the recipe was discovered. If you want to use the recipe, just use the command available on the article and you are good to go.

[2022-02-23 18:37] etetteh commented on #5456
Okay. Thank you so much. I was following the article, because I am using the recipe for research and wanted to know how the various parts contribute to the overall metric just as in the article.

[2022-02-23 19:54] prabhat00155 commented on #5453
Are you using a torchvision model? If this is a pytorch related problem, perhaps file an issue [here](https://github.com/pytorch/pytorch/issues).

[2022-02-23 20:06] prabhat00155 commented on #5449
Pytorch 1.1.0 is an older version. Could you try with the latest nightly building of pytorch and see if you still get this error when building torchvision?

[2022-02-23 20:08] prabhat00155 commented on #5449
For instructions on building from source, please refer to: https://github.com/pytorch/vision/blob/main/CONTRIBUTING.md#development-installation.

[2022-02-24 06:16] xiaohu2015 commented on #5284
I'm interested in this work.

[2022-02-24 07:10] malfet opened #5464 "Single GaussianBlur over 23x23 kernels fails on Windows"
### 🐛 Describe the bug

See https://app.circleci.com/pipelines/github/pytorch/vision/14951/workflows/dd6ed737-f31d-4baa-8f42-9e69d55650aa/jobs/1205316

For some reason the same code works with CUDA-11.1, but fails with 11.3, which makes me highly suspicious of bug in cuDNN side

### Versions

Nightly

[2022-02-24 09:13] datumbox commented on #5464
@malfet Thanks for your investigation at https://github.com/pytorch/vision/pull/5451#issuecomment-1049549925. The gaussianblur uses conv2d so this bug has the potential of being quite significant. I saw that on your analysis you seemed to be familiar with similar previous bugs, could you link to some of them to get more context of what you suspect?

@NicolasHug @jdsgomes @vfdev-5 FYI Nikita [disab

[2022-02-24 09:15] github-actions[bot] opened #5465 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow tests/download.
Please look into it:

https://github.com/pytorch/vision/actions/runs/1892103982

Feel free to close this if this was just a one-off error.

cc @pmeier

[2022-02-24 09:25] datumbox opened #5466 "CI job `binary_win_conda_py3.10_cu111` fails due to unavailable PyTorch binaries"
### 🐛 Describe the bug

The CI job is currently failing due to lack of available PyTorch binaries for the specific configuration:
https://app.circleci.com/pipelines/github/pytorch/vision/15022/workflows/4d44e20a-4a9d-4aae-b368-53fe54bd6f4d/jobs/1210824

Recently the Windows GPU tests were updated to use CUDA 11.3 (from 11.1): https://github.com/pytorch/vision/pull/5451

Do we plan to offer support

[2022-02-24 09:35] seanxhughes commented on #5453
Sorry, didn't realise I posted it in the wrong forum

[2022-02-24 09:35] #5453 closed

[2022-02-24 09:41] datumbox commented on #5284
@xiaohu2015 It's yours. :)

It should be really straight forward as we basically want to reuse what we upstream to Core. We will need to do a couple of dummy training runs with very little data to confirm that the EMA utility works as expected but nothing as large-scale as training models.

[2022-02-24 09:44] jdsgomes commented on #5396
New cherrypick

landed master PR: https://github.com/pytorch/vision/pull/5451
release branch PR: https://github.com/pytorch/vision/pull/5467

[2022-02-24 10:45] prabhat00155 commented on #5284
Should we wait for Pytorch's release with the related changes?

[2022-02-24 11:04] xiaohu2015 commented on #5284
Pytorch 1.11 version?

[2022-02-24 11:10] datumbox commented on #5284
We can use the nightly of PyTorch that contains the change. Our release branch for the upcoming release is already cut so your changes won't affect it.

[2022-02-24 13:57] motjuste commented on #5458
That's a great catch.  I had forgotten that I had aliased `conda` to mean `mamba` on my machine, and I do see that the problem does not exist when I use the real `conda`.

Nevertheless, I stumbled upon something by mistake.

For some background, one can set `channel_priority` as `strict` in the Conda configuration:  by running `conda config --set channel_priority strict`; check by running `conda c

[2022-02-24 14:51] datumbox commented on #5396
Link to landed main PR: https://github.com/pytorch/vision/pull/5470
Link to release branch PR: https://github.com/pytorch/vision/pull/5471

Criteria Category: 4 fix for CI tests

[2022-02-24 16:44] jdsgomes commented on #5396
Link to landed main PR: https://github.com/pytorch/vision/pull/5472
Link to release branch PR: https://github.com/pytorch/vision/pull/5474/files

Criteria Category: 2 Critical fix (class should not be exposed at package level)

[2022-02-24 17:22] malfet commented on #5464
@datumbox move just exposed the bug that existed in a while, but indeed the test code indicates that problem is somewhere in pytorch core, as test simply calls torch.nn.conv2d
@ptrblck , @ngimel do you recall something of the nature?

[2022-02-24 17:50] ptrblck commented on #5464
Based on the `compute-sanitizer` output it's clearly an illegal memory access. I haven't seen one in this kernel so far, but will try to repro and forward to cuDNN.

[2022-02-25 00:33] #5466 closed

[2022-02-25 06:44] xiaohu2015 commented on #5307
Hi, I run the expriment of RetinaNet with new ResNet50, with the new weights, we can get 41.9 mAP (+about 3.6 compared 38.3 )

[2022-02-25 09:28] NicolasHug commented on #5103
Thanks for the report @lincchenl , I think this is a duplicate of https://github.com/pytorch/vision/issues/4378 so I'll close this one. From https://github.com/pytorch/vision/issues/4378#issuecomment-1044957322 , the bug comes from nvjpeg directly, and it seems that it was fixed in CUDA 11.6.

[2022-02-25 09:28] #5103 closed

[2022-02-25 10:16] #5430 closed

[2022-02-25 15:46] xiaohu2015 commented on #5410
@datumbox I think [Swin Transformer](https://arxiv.org/pdf/2103.14030.pdf) is a very popular model, so I am planing to add it to torchvsion.

[2022-02-25 15:57] datumbox commented on #5410
Sounds great @xiaohu2015, thanks for the help!

Can you open an "empty" PR similar to what you did for Dropblock initiatilly? It will help us mark the item as in-progress and avoid others trying to do the same.

[2022-02-26 02:48] jramapuram commented on #1884
Still seeing this error.

[2022-02-26 16:04] smivv commented on #5431
Does someone have other proposals? I tried almost everything I had in mind.

[2022-02-26 23:08] prabhat00155 commented on #1884
@jramapuram Could you please confirm if https://github.com/pytorch/vision/pull/5489 fixes your error?

[2022-02-27 09:15] xkszltl opened #5490 "Cannot find libQt5Core.so.5 during build"
### 🐛 Describe the bug

Error log:

[code]

Based on my understanding, this is due to a special combination of environment.
We build on CentOS 7 host but inside a Debian 11 docker.
Debian11 ships Qt 5.15.2, while CentOS 7 uses 3.10 kernel.
From a certain version of Qt5, it starts to use a new kernel feature (renameat2) only available a few versions later.
So even the .so is there, it'll be ignored

[2022-02-28 11:07] KOLANICH opened #5493 "Separate autoaugment into an own library loosely coupled to torchvision"
### 🚀 The feature

Separate autoaugment into an own library loosely coupled to `torchvision`.

Instead define
* a unified interface for specifying augmentations in a declarative way, covering the features of all major image augmentation libs:
    * an aug pipeline specification in form of YAML, which is to be transformed into ...
    * an aug pipeline specification in a form of python objects

[2022-02-28 11:09] jdsgomes opened #5494 "Replace asserts with exceptions"
### 🚀 The feature

I propose to replace most asserts that we find in TorchVision with an if-statement -> exception clause.

There are two patterns that I think could be modified:

### Checking input types
[code]
can be replaced by

[code]

### Checking for input values

[code]
can be replaced by

[code]

These changes should be done in cases where it is important to stop the normal flow and perhap

[2022-02-28 11:14] #5465 closed

[2022-02-28 12:59] datumbox commented on #5493
@KOLANICH Thanks for the proposal.

You are right to say, TorchVision is closely tied to PyTorch. This is because it is its specialization to Computer Vision. By being very closely coupled, we are able to use GPU acceleration, JIT scriptability for mobile deployment and other PyTorch features.

Though I understand your use-case is valid, decoupling TorchVision from PyTorch is not a direction we wa

[2022-02-28 12:59] #5493 closed

[2022-02-28 13:22] datumbox commented on #5494
I'm only commenting because you marked with "needs discussion". I think it's a good idea as it will make the error messages more actionable by providing context on what went wrong.

Moreover `assert` is not supported by Torch-FX, so your proposal will effectively makes the entire code-base of TorchVision FX-friendly.

[2022-02-28 17:24] KOLANICH commented on #5493
`kornia` is a GPU-accelerated library of transforms above pytorch.
 So GPU acceleration and differentiability.

Yeah, I currently do this, but I think it'd be cool to have all the augmentations available in other frameworks, the full set of them. I also don't think that making pytorch mandatory is a good thing, ideally we should be able to specify augmentation pipeline once and use the predefinee

[2022-03-01 10:35] vfdev-5 opened #5502 "Update low-level functional transforms with value_range"
Following https://github.com/pytorch/vision/pull/5500#discussion_r816599553 we may want to update low-level functional transforms with `value_range` argument to avoid implicit hard-coded max range definition:
- 255 for uint8
- 1.0 for float

Today this is done for
- adjust_hue
https://github.com/pytorch/vision/blob/95d418970e6dbf2e4d928a204c4e620da7bccdc0/torchvision/transforms/functional_tensor.p

[2022-03-01 10:42] powlook commented on #2360
I have got the same problem when I tried to run setup.py for mmdetection.
Below are the snippets of the error trace :
=========================
/home/plyap/anaconda3/envs/wda2/lib/python3.7/site-packages/torch/include/ATen/core/TensorBody.h:194:30: note: declared here
  194 |   DeprecatedTypeProperties & type() const {
      |                              ^~~~
/home/plyap/data/wda_tracker/detector

[2022-03-01 11:13] datumbox commented on #5502
I agree with the idea of passing `value_range` on our existing kernels. When `None` we can estimate the `bound` using our existing approach.

Concerning using single values vs single MinMax vs Multi MinMax, I think all boils down to what is our target. Do we see TorchVision offering native support for Transforms for more exotic non-RGB/Grayscale spaces? Perhaps that could be useful for medical or

[2022-03-01 11:44] NicolasHug commented on #5502
Apart from making the implicit ranges more explicit, what are other problems that having `value_range`  would address?

I agree that the way we currently handle ranges isn't nice (read: not documented enough). But from my non-informed POV, it looks like adding `value_range` would add a lot of extra complexity for something that might be solved with better docs / user awareness?

[2022-03-01 11:59] datumbox commented on #5502
@NicolasHug Thanks for the feedback, I think we have a description/context gap on this issue. Instead of jumping directly to the problem, we should provide info on what we try to solve and why.

The current API uses ToTensor and PILToTensor to not only convert the image to Tensor but also scale it to [0,1]. This is somehow problematic because the ToTensor does too many things. As a result of this

[2022-03-01 15:28] steczol commented on #5431
Hi @smivv I just tried to compile the latest torchvision from source and encountered the same error:
[code]
The way I fixed it was to checkout torchvision tag v.0.11.3-rc1 and link against python 3.9, not python 3.10.2 which is my system-wide default version.
I am using CUDA 10.2 and CUDNN 8.3.

[2022-03-01 15:34] smivv commented on #5431
Hi @steczol, actually I have different error:

[code]

[2022-03-01 23:34] #5146 closed

[2022-03-01 23:43] #5205 closed

[2022-03-02 01:38] Alokia opened #5508 "`create_feature_extractor` V.S. `_utils.IntermediateLayerGetter`"
### 🐛 Describe the bug

When I used `resnet50` in `torchvision.models`, I replaced `BatchNorm2d` with `FrozenBatchNorm2d`. Then I needed to extract the output of `layer4`, but I found that `create_feature_extractor` does not display `FrozenBatchNorm2d`. Then I used `IntermediateLayerGetter` and it displayed it properly.
As shown below:

[code]

The partial output of `create_feature_extractor` is a

[2022-03-02 08:44] datumbox commented on #5508
@Alokia Thanks for reporting.

This is because FX removes all class information from modules. This is also the reason why we have not migrated yet the existing models to use the util. See https://github.com/pytorch/vision/issues/4540#issuecomment-994920254 for more info.

[2022-03-02 08:50] Alokia commented on #5508
Thank you for your reply, I will look into it

[2022-03-02 08:50] Alokia commented on #5508
Thank you for your reply, I will look into it

[2022-03-02 08:50] Alokia commented on #5508
Thank you for your reply, I will look into it

[2022-03-02 09:05] datumbox commented on #5508
@Alokia I think one of the reasons the FX trace is giving you grief is because the specific definition of `FrozenBatchNorm2d` is custom (not TorchVision's) and thus is not automatically considered a leaf node by:
https://github.com/pytorch/vision/blob/a7a3675678cce66751050619d0c86c2ceafd7295/torchvision/models/feature_extraction.py#L229-L236

Try doing the following and it should be maintained:
[c

[2022-03-02 09:43] pmeier opened #5510 "[RFC] How do we want to deal with images that include alpha channels?"
This discussion started in https://github.com/pytorch/vision/pull/5500#discussion_r816503203 and @vfdev-5 and I continued offline.

PIL as well as our image reading functions support RGBA images

https://github.com/pytorch/vision/blob/95d418970e6dbf2e4d928a204c4e620da7bccdc0/torchvision/io/image.py#L16-L31

but our color transformations currently only support RGB images ignoring an extra alpha cha

[2022-03-02 10:14] datumbox opened #5511 "[FEEDBACK] Documentation revamping"
### 📚 The doc issue

This issue is dedicated for collecting community feedback on the Documentation revamping efforts. Here are some highlighted changes:
- **New documentation layout:** Each function / class is now documented in a separate page, clearing up some space in the per-module pages, and easing the discovery of the proposed APIs. Compare e.g. our [previous docs](https://pytorch.org/vision

[2022-03-02 10:44] yashrathi-git commented on #39
Hey @Atcold the link no longer works. I still cannot find the documentation for the pre-processing transforms used for various pre-trained models in torchvision. I think the transforms should be included with the model.
Would I get better performance if while fine-tuning I use the same transforms or it doesn't matters?

[2022-03-02 10:47] you74674 commented on #4894
I also have this problem, and I fix it by manually add cuda path using os.add_dll_directory.
I think it's related to #4787? Although #4893 claimed to fix it.
Looks like the problem is _get_extension_path only add the package folder as dll directory but not any other path, but adding all path to dll directory doesn't seem to be the right way.

[2022-03-02 10:47] jdsgomes commented on #5508
@datumbox I think we touched on this topic when this change was introduced and unfortunately I cannot think of an elegant solution.

From one side  I don't like the idea of adding stuff to the parameters provided (adding ops and math), this might be misleading to the user. But on the other side I agree that this is the expected behaviour in most cases and would simplify things for most users, so I

[2022-03-02 11:02] datumbox commented on #5508
@jdsgomes I remember... It's quite ugly situation... :(

Do you think there is a valid reason why someone would want to skip the default autowraps? Does it make sense to make them "mandatory"? From memory PyTorch core puts all the build-in `nn.Module` in the list and I believe that's hardcoded (though we need to check). If that's true, then we might have a valid reason to do the same and always ap

[2022-03-02 13:39] yassineAlouini commented on #5511
@NicolasHug Thanks for the quick response, it makes sense that these are built from a commit and not from a released version. :ok_hand:

What is the best feedback format that will help you in your investigation?

[2022-03-02 14:07] jdsgomes commented on #5508
@datumbox  That is a good point, I can see that is [indeed the case ]( https://github.com/pytorch/pytorch/blob/master/torch/fx/_symbolic_trace.py#L313) in Pytorch core, so we can align our approach and make it mandatory by always.
I don't see a good reason for skipping the default auto-wraps.

[2022-03-02 15:00] vfdev-5 commented on #5502
no, neither `torch.iinfo` nor `torch.finfo` is scriptable, https://github.com/pytorch/pytorch/issues/41492

[2022-03-02 15:09] datumbox commented on #5510
I don't think that's the focus right now. Maybe on the long long future but definitely not something we plan to do anytime soon.

+1 on that. Given that our existing functional transforms have fill=0, does it make sense to go with black?

[2022-03-02 15:28] datumbox commented on #5508
@jdsgomes is it on your radar to add it or shall we create an issue?

[2022-03-02 16:11] pmeier commented on #5510
@vfdev-5

I might be pedantic here, but I want to be sure we are all on the same page: we cannot simply strip the alpha channel unless the alpha channel is all ones or 255s depending on the input type. If that is not the case, stripping the alpha channel has an effect on the actual color of the image as can be seen in the equation above.

How would this approach know which image needs the special

[2022-03-02 16:27] vfdev-5 commented on #5510
Maybe, I'm missing something important, but for me, everything could just follow the same logic as actual API does with Pillow images: when image is read and decoded you'll have a color space. Prior info is that for imagenet we provide RGB only images. So, all images with non `RGB` space should be converted to `RGB`.

[2022-03-02 16:28] yassineAlouini commented on #5342
I am new to the torchvision code base and want to get started so this issue might be interesting maybe?
If so, I would be happy to help.
Is this a good starting point @pmeier?

[2022-03-02 16:44] vfdev-5 opened #5514 "[RFC] Implement transforms primitives for Bounding Boxes"
Related tracker issue: https://github.com/pytorch/vision/issues/5754

## Functional transforms for bboxes

The idea is to implement the following low-level functional transforms for bounding boxes:
https://github.com/pytorch/vision/blob/main/torchvision/prototype/transforms/functional/_geometry.py
- [x] affine_bounding_box (@vfdev-5) #5597
- [x] rotate_bounding_box (@vfdev-5) #5638
- [x] perspecti

[2022-03-02 19:29] pmeier commented on #5342
Hey @yassineAlouini and welcome to `torchvision`. Thanks a lot that you want to contribute!

Yes, this might be a good starting point given that Food101 is a fairly straightforward dataset. You can find the old implementation [here](https://github.com/pytorch/vision/blob/main/torchvision/datasets/food101.py). The datasets use a different paradigm, so you won't be able to copy-paste everything. You

[2022-03-02 20:00] pmeier commented on #5510
That is the crucial point I was touching on in this issue. How are we going to implement the conversion from RGBA to RGB? Not all image files carry information about the background color in the first place. The image above is one of them. In such a case [PIL falls back](https://github.com/python-pillow/Pillow/blob/92c26a77ca53a2bfbd8804f009c6c8755d0e5a43/src/PIL/Image.py#L1056-L1061) to [Floyd-Ste

[2022-03-02 22:08] malfet commented on #4222
I can not reproduce the problem using [1.10.0-cuda11.3-cudnn8-runtime](https://hub.docker.com/layers/pytorch/pytorch/1.10.0-cuda11.3-cudnn8-runtime/images/sha256-cf9197f9321ac3f49276633b4e78c79aa55f22578de3b650b3158ce6e3481f61?context=explore)
[code]

Also, please note, that torchvision is already pre-installed in the container, so running something like
[code]
Produces the same result. Closing. P

[2022-03-02 22:08] #4222 closed

[2022-03-02 22:45] aja9675 opened #5516 "No module named 'torchvision.models.optical_flow'"
### 🐛 Describe the bug

Attempting to follow: [https://pytorch.org/vision/master/auto_examples/plot_optical_flow.html#estimating-optical-flow-using-raft]( https://pytorch.org/vision/master/auto_examples/plot_optical_flow.html#estimating-optical-flow-using-raft)

Results in:
AttributeError: module 'torchvision.models' has no attribute 'optical_flow'

### Versions

Collecting environment information

[2022-03-03 00:41] norabelrose opened #5517 "draw_bounding_boxes should check that (W, H) >= (xmax, ymax) >= (xmin, ymin) >= (0, 0)"
### 🚀 The feature

Currently, `draw_bounding_boxes` does not sanity check the input bounding boxes to ensure that `(xmax, ymax) >= (xmin, ymin)`. This can lead to unexpected output that can be difficult to debug if the user, say, inputs boxes in cxcywh format.

I could make a PR for this if needed but would prefer if someone else did it since I have my hands full with a PR I'm working on for PyTor

[2022-03-03 07:55] plateau1 opened #5519 "xavier（arm64）"
### 🐛 Describe the bug

My  platform is xavier(arm64).
I want to  using sourse code to build torchvision.
I find that the current compilation is x86.
Can torchvision be compiled  on arm64?

### Versions

My  platform is xavier(arm64).
I want to  using sourse code to build torchvision.
I find that the current compilation is x86.
Can torchvision be compiled  on arm64?

[2022-03-03 08:07] pmeier commented on #5517
I agree with the overall sentiment here. My question is how you got to the situation. Did you know that you had "cxcywh" bounding boxes and missed that `draw_bounding_boxes` requires "xyxy" or did you not know the format before and only started to look into it after you got wrong results?

In the former case, we also could have a `format="xyxy"` parameter on the function, since we know how to conv

[2022-03-03 08:15] pmeier commented on #5516
This module is only present in `torchvision >= 0.12.*`, for which don't have a stable release yet. You are viewing the "master" documentation, which corresponds to our `main` branch. Two possible ways out here:

1. Build `torch` and `torchvision` from source or install them from our nightly releases.
2. Wait for another week, since `torchvision == 0.12.0` is tentatively scheduled to be released on

[2022-03-03 08:15] #5516 closed

[2022-03-03 08:17] norabelrose commented on #5517
@pmeier I knew that `draw_bounding_boxes` requires "xyxy", but I got confused about which format my bounding boxes were at that particular point in the code, since I'm using a DETR model where cxcywh is used for the L1 loss but xyxy is used for the GIOU.

The class abstraction definitely sounds like a good idea. I still think though that it would be a good idea to add this check to the "functional

[2022-03-03 08:25] alexander-soare commented on #5508
@datumbox @jdsgomes for PyTorch core, the idea is that the user should make their own custom tracer with an override to `is_leaf_module` (citing this [section in the documentation](https://pytorch.org/docs/stable/fx.html#leaf-modules)). So, although it is "mandatory", there is a recommended way to override it for the hardcore users. I think it would be really ugly to do something similar here but

[2022-03-03 08:32] #5337 closed

[2022-03-03 08:32] #5338 closed

[2022-03-03 08:37] yassineAlouini commented on #5342
Thanks @pmeier, I will let you know for sure if I find hurdles. :ok_hand:

[2022-03-03 10:32] NicolasHug commented on #5517
@norabelrose thanks for the suggestion, we'd be happy to review a PR that adds these checks

[2022-03-03 11:11] pmeier opened #5520 "port transforms from the old to the new API"
We are currently in the process of revamping the `transforms` module, but there is still a lot of porting left. The design is now stable enough that the porting process should be manageable for someone not intimately familiar with the new design. Thus, we are actively looking for contributions helping us finishing this.

Here is the list of transformations that still need to be ported to achieve f

[2022-03-03 11:11] pmeier opened #5521 "Port `transforms.Pad` to `prototype.transforms`"
cc @vfdev-5 @datumbox @bjuncek

[2022-03-03 11:12] pmeier opened #5522 "Port `transforms.RandomCrop` to `prototype.transforms`"
cc @vfdev-5 @datumbox @bjuncek

[2022-03-03 11:12] pmeier opened #5523 "Port `transforms.RandomHorizontalFlip` to `prototype.transforms`"
cc @vfdev-5 @datumbox @bjuncek

[2022-03-03 11:12] pmeier opened #5524 "Port `transforms.RandomVerticalFlip` to `prototype.transforms`"
cc @vfdev-5 @datumbox @bjuncek

[2022-03-03 11:12] pmeier opened #5525 "Port `transforms.RandomPerspective` to `prototype.transforms`"
cc @vfdev-5 @datumbox @bjuncek

[2022-03-03 11:12] pmeier opened #5526 "Port `transforms.FiveCrop` to `prototype.transforms`"
cc @vfdev-5 @datumbox @bjuncek

[2022-03-03 11:12] pmeier opened #5527 "Port `transforms.TenCrop` to `prototype.transforms`"
cc @vfdev-5 @datumbox @bjuncek

[2022-03-03 11:12] pmeier opened #5528 "Port `transforms.ColorJitter` to `prototype.transforms`"
cc @vfdev-5 @datumbox @bjuncek

[2022-03-03 11:12] pmeier opened #5529 "Port `transforms.RandomRotation` to `prototype.transforms`"
cc @vfdev-5 @datumbox @bjuncek

[2022-03-03 11:12] pmeier opened #5530 "Port `transforms.RandomAffine` to `prototype.transforms`"
cc @vfdev-5 @datumbox @bjuncek

[2022-03-03 11:12] pmeier opened #5531 "Port `transforms.GaussianBlur` to `prototype.transforms`"

[2022-03-03 11:12] pmeier opened #5532 "Port `transforms.RandomInvert` to `prototype.transforms`"
cc @vfdev-5 @datumbox @bjuncek

[2022-03-03 11:12] pmeier opened #5533 "Port `transforms.RandomPosterize` to `prototype.transforms`"
cc @vfdev-5 @datumbox @bjuncek

[2022-03-03 11:12] pmeier opened #5534 "Port `transforms.RandomSolarize` to `prototype.transforms`"
cc @vfdev-5 @datumbox @bjuncek

[2022-03-03 11:12] pmeier opened #5535 "Port `transforms.RandomAdjustSharpness` to `prototype.transforms`"
cc @vfdev-5 @datumbox @bjuncek

[2022-03-03 11:12] pmeier opened #5536 "Port `transforms.RandomAutocontrast` to `prototype.transforms`"
cc @vfdev-5 @datumbox @bjuncek

[2022-03-03 11:13] pmeier opened #5537 "Port `transforms.RandomEqualize` to `prototype.transforms`"
cc @vfdev-5 @datumbox @bjuncek

[2022-03-03 11:13] pmeier opened #5538 "Port `transforms.LinearTransformation` to `prototype.transforms`"
cc @vfdev-5 @datumbox @bjuncek

[2022-03-03 11:13] jdsgomes commented on #5508
It is indeed in my radar @datumbox.
@alexander-soare thanks for the clarification. I am still leaning towards making it mandatory, and if we later decide otherwise   (people come up with use cases for that), we can change the behaviour in a non BC-breaking way by introducing a default flag for instance.

[2022-03-03 11:52] oke-aditya commented on #5517
To avoid code duplication and for convenience.

I suggest we create a small util _check_box_fmt. We need these is multiple places. `box_iou`, `generalized_box_iou`, `nms` and `draw_bounding_boxes`.

With this single util we could check all places and raise ValueError suggesting to either check the input or use `box_convert` to change the format.

cc @NicolasHug @norabelrose
Let me know if you didn

[2022-03-03 13:03] NicolasHug commented on #5517
There was some discussions before about adding these checks in the ops (box_iou, nms etc.). We don't do it because this would require adding a synchronization point of the CUDA streams. It's probably best to ignore the ops for now and stick to `draw_bounding_boxes`

[2022-03-03 14:08] aja9675 commented on #5516
Got it. Thank you.

[2022-03-03 14:32] prabhat00155 commented on #2439
@bryandeng We added GPU video decoder recently. Detailed installation instructions can be found [here](https://github.com/pytorch/vision/tree/main/torchvision/csrc/io/decoder/gpu). It would be very helpful if you gave it a try and report any feedback you may have.

[2022-03-03 15:10] prabhat00155 opened #5541 "accimage not installed in CI skipping a number of tests"
Context: Internal tests are failing on `test_transforms.py::TestAccImage::test_accimage_crop` with the following error:
[code]
It points to the following function:
[code]
from `functional_pil.py` which was added in this https://github.com/pytorch/vision/pull/5487.

cc @pmeier

[2022-03-03 15:19] pmeier opened #5542 "Migrate detection reference transforms to `torchvision.prototype.transforms`"
In our detection references we have a couple of transformations that can handle images and bounding boxes simultaneously:

- [x] [`RandomPhotometricDistort`](https://github.com/pytorch/vision/blob/e836b3d8baf8cbfdd18fcc872631962345a65689/references/detection/transforms.py#L227) #5663
- [x] [`RandomZoomOut`](https://github.com/pytorch/vision/blob/e836b3d8baf8cbfdd18fcc872631962345a65689/references/

[2022-03-03 15:24] pmeier commented on #5528
This is needed for `RandomPhotometricDistort` in #5542.

[2022-03-03 15:29] pmeier commented on #5541
Could you link a CI run so I can see where we need to install it?

[2022-03-03 15:38] prabhat00155 commented on #5541
@pmeier Added some context to this issue. This error was not caught by our CI. Also, looks like `conda install -c conda-forge accimage` from https://github.com/pytorch/accimage#installation doesn't work, so not sure how we would add this to CI.

[2022-03-03 15:40] pmeier commented on #5541
I'll have a look.

[2022-03-03 16:30] NicolasHug commented on #5541
This [comment](https://github.com/pytorch/vision/issues/268#issuecomment-775158609) from @fmassa seems to suggest that we actually don't support accimage anymore

That being said, we still claim on our README that accimage is part of the supported backends. Let's wait for @fmassa 's insights before we decide to fully remove it, or actually tests against it.

[2022-03-03 22:20] bjuncek commented on #5419
Documenting current debugging:

- [x] verify if the segfaults are caught in the test suite -- Feb 28th
- [x] update test suite to check for the problematic video (#5543) -- March 2nd

Note:
Upon env re-creation and re-install (caused by a server crash due to power outage), I can't reproduce this error.
Having said that, the video is producing wrong results in both `video_reader` and `VideoReader`

[2022-03-04 03:47] nepeta2o commented on #4222
@malfet This issue still exists in `pytorch/pytorch:1.9.0-cuda10.2-cudnn7-runtime`
I'm not able to use any newer image because the nvidia driver on my machine is compatible only up to cuda 10.2. Could you please provide any suggestions?

To reproduce:
Running
[code]
Produce error messages:
[code]

[2022-03-04 09:23] pmeier opened #5550 "Run prototype datasets test also on Windows and macOS?"
There are now three separate occasions of bugs in the prototype datasets that were not picked up by our CI.

- #4980
- #5227
- #5549

We didn't notice them, because they happen on Windows on macOS, but we only run the prototype tests on Linux. Given that the prototypes work with files and the path handling is different on all platforms, this can be problematic.

The torchdata team brought the fail

[2022-03-04 10:48] datumbox commented on #5519
@seemethere Any thoughts on whether we plan to add supports on CI and binary builds?

[2022-03-04 12:49] datumbox commented on #5510
So the two key approaches discussed here are:
1. Handle RGBA to RGB conversion exactly like PIL using Floyd-Steinberg
2. Use the formula provided by Philip and assume white background

What is the approach used by CV2?

[2022-03-04 12:53] datumbox commented on #5502
@vfdev-5 Thanks for checking. Is it possible to simplify the `_max_value()` ? Is there are reason why we don't have these pre-estimated and stored in mapping for all the supported types?

[2022-03-04 13:37] pmeier commented on #5510
I'll dig in what PIL is exactly doing, because what I failed to realize is that they also seem to assume a white background for the dithering.

[2022-03-04 17:46] yassineAlouini commented on #5342
Made some progress and have a first working POC:

![food101_poc_new_api](https://user-images.githubusercontent.com/8986994/156814963-1bce9cd2-7288-4706-8ff5-61628bd38e6e.png)

Still need to polish few things, check the tests, and so on but I think I understood the main idea behind the new design.
The new design is quite good and the documentation is clear enough, well done to the team. :tada:

[2022-03-04 19:01] #5541 closed

[2022-03-04 19:01] seemethere commented on #5413
I think this would probably be resolved if we were building these in CI rather than on a local laptop. Maybe related to https://github.com/pytorch/vision/issues/5171 ?

[2022-03-04 19:03] seemethere commented on #5458
Removing this from the Dev Infra backlog since this is related to mamba and mamba is not an officially supported package manager for PyTorch projects as of now

[2022-03-05 11:19] lezwon commented on #5431
I was trying building from source and got the following error:
[code]

I installed cython and it seemed to work fine then. My question is that shouldn't the cython dependency be mentioned in `setup.py` or somewhere?

[2022-03-05 15:31] NicolasHug commented on #5431
@lezwon Cython isn't a build dependency of torchvision. Looks like for some reason your system tried to build numpy from source, and building numpy from source requires Cython. But you shouldn't need to build numpy from source to install torchvision.

[2022-03-06 02:48] lezwon commented on #4282
hi @oke-aditya I see the type annotations do not match here too: https://github.com/pytorch/vision/blob/97385df0f675b805d974994389a6ea2f0de51a19/torchvision/prototype/transforms/functional/_geometry.py#L235-L241

I could make a PR to fix this.

[2022-03-06 09:05] datumbox commented on #4282
@lezwon I believe this might be intentional to support JIT. :(

[2022-03-06 09:23] smivv commented on #5431
Cython wasn't reason of my issue too since I've installed it previously.

[2022-03-06 10:15] lezwon commented on #5522
hi @pmeier, I'd like to work on this issue.

[2022-03-06 11:03] joshivinod opened #5561 "Perceptual Hashing (pHash) support in torchvision to identify duplicate images"
### 🚀 The feature, motivation and pitch

## Context
Any machine learning problem starts with data cleansing and pre-processing and so does for computer vision as well. One of the initial tasks during image processing is to validate the quality of input images. One aspect of checking the quality is "finding duplicate images in the data"

This is where [perceptual Hashing ](http://www.phash.org/down

[2022-03-06 12:46] bryandeng commented on #2439
@prabhat00155 Thanks a lot! I will have a try.

[2022-03-06 20:57] amirhesamyazdi commented on #1598
Thank you all for support. Can anyone unequivocally confirm the following?

1- Can we explicitly empty images (no object) to Faster R-CNN family and DETR by simply adding the empty images in our coco format json file (so we have many extra entries in images) but then NO entry in annotations. Meaning there is nothing added with those image_id s.

2- I was thinking of adding an empty annotation cove

[2022-03-06 21:09] pmeier commented on #5522
Sure, go ahead!

[2022-03-07 09:48] NicolasHug opened #5558 "repr of `_Feature` attribute will print the entire underlying tensor"
The repr of `_Feature` attributes also prints the underlying tensor data, which causes very long outputs:

[code]

In contrast

[code]

cc @bjuncek

[2022-03-07 11:21] pmeier commented on #5558
That has something to do how we are defining methods on the `_Feature` class:

[code]

[code]

The repr is only printed if you look at a regular method of an instance. We are not doing anything special here

https://github.com/pytorch/vision/blob/b4cb352c586ee6104a79b2d367d019ca480759b3/torchvision/prototype/features/_image.py#L89

I'm guessing, PyTorch is doing something "weird" to be able to map

[2022-03-07 11:27] pmeier commented on #5510
PIL [assumes a white background](https://github.com/python-pillow/Pillow/blob/c58d2817bc891c26e6b8098b8909c0eb2e7ce61b/src/libImaging/Convert.c#L421-L431).

[2022-03-07 11:59] datumbox commented on #5510
@pmeier Can you check also CV2? If they do the same, I think it would make sense to make the same assumption on TorchVision.

@vfdev-5 Thoughts?

[2022-03-07 13:23] #5526 closed

[2022-03-07 13:23] #5527 closed

[2022-03-07 15:00] pmeier commented on #5510
### CV2

I'm not 100% sure, but my best guess is that white is also assumed. I've tracked it to this [OpenCL call](https://github.com/opencv/opencv/blob/17234f82d025e3bbfbf611089637e5aa2038e7b8/modules/imgproc/src/color_rgb.dispatch.cpp#L426-L437). There are multiple issues on the OpenCV repo such as opencv/opencv#13135 that report that the conversion does not take alpha into account. I think the

[2022-03-07 19:20] Atcold commented on #39
The new link -> https://pytorch.org/vision/stable/models.html

[2022-03-07 19:24] datumbox commented on #39
They are on the new Multi-weights API. Currently on prototype and you can read more [here](https://pytorch.org/blog/introducing-torchvision-new-multi-weight-support-api/):
https://github.com/pytorch/vision/blob/d8654bb0d84fd2ba8b42cd58d881523821a6214c/torchvision/prototype/models/resnet.py#L113

We plan to roll it out within the next couple of weeks on main TorchVision. We have dedicated issue for

[2022-03-07 19:42] federicopozzi33 commented on #5523
Hi @pmeier,

I'd like to work on this issue.

[2022-03-07 21:59] sanealytics commented on #4386
+1
Getting the same issue en route to converting to onnx/coreml.

[2022-03-07 22:13] palozano commented on #5403
I had a similar problem and maybe it helps.
On my local machine (Ubuntu 21.10) I see that the link it tries to contact is https://cloudstor.aarnet.edu.au/plus/index.php/s/54h3OuGJhFLwAlQ/download
and it fails; whereas in a G Colab machine, it connects to
https://www.itl.nist.gov/iaui/vip/cs_links/EMNIST/gzip.zip
and succeeds.

[2022-03-08 04:36] joshivinod commented on #5561
Thanks @datumbox. Actually that thought crossed my mind and the more I think I feel you are right, it doesn't really fit here. Probably creating an external library that does all basic image analysis e.g. (pandas_profiling) may be a right place to do this. Appreciate your prompt response.

@pmeier: What you say makes a lot more sense, since we wouldn't have the overhead of managing pHash when it i

[2022-03-08 07:37] sahilg06 opened #5564 "Downloading the kinetics dataset"
### 🐛 Describe the bug

Not able to download the kinetics dataset through **torchvision.datasets.Kinetics** class.

I used the following command
`ds = torchvision.datasets.Kinetics(root='ktest',frames_per_clip=100, num_classes='600', split='val', download=True, num_download_workers=1000, num_workers=2)`

it shows the following error after sometime
<img width="969" alt="Screenshot 2022-03-07 at 21

[2022-03-08 08:07] pmeier commented on #5561
Could you elaborate what you mean with "parallel" here? Assuming `item` or if it is a container the part of it you want to check is a tensor I don't see why you can't use a GPU. If the hashing algorithm can be implemented using PyTorch operators, you can just do so in `_compute_hash()` and it will automatically performed on the GPU given that the tensor is already on the GPU.

To make the snippet

[2022-03-08 08:32] pmeier commented on #5510
After some offline discussion, we decided to align with PIL for now. The only difference should be that we should fail the transformation if the alpha channel is not the max value everywhere. This way we can implement the correct conversion as detailed in my top comment later without worrying about BC.

[2022-03-08 08:45] sahilg06 commented on #5564
@pmeier @bjuncek I think we can add
`line = str(line).replace(" ", "%20")` after this [line](https://github.com/pytorch/vision/blob/d8654bb0d84fd2ba8b42cd58d881523821a6214c/torchvision/datasets/kinetics.py#L183)  to get rid of the above bug.
May I initiate a pull request doing that?
Thanks!

[2022-03-08 08:56] sahilg06 commented on #5564
Also, according to the code of [_make_ds_structure](https://github.com/pytorch/vision/blob/d8654bb0d84fd2ba8b42cd58d881523821a6214c/torchvision/datasets/kinetics.py#L191-L224) class
[This](https://github.com/pytorch/vision/blob/d8654bb0d84fd2ba8b42cd58d881523821a6214c/torchvision/datasets/kinetics.py#L84) url should be of CSV file containing all the details but instead its a txt file, which produc

[2022-03-08 10:08] vfdev-5 commented on #5502
I think the reason is that torch script does not support global. We could do however something like:
[code]

@datumbox do you think it worth a change ?

[2022-03-08 10:41] vfdev-5 commented on #5510
You mean rgba2rgb method: https://github.com/python-pillow/Pillow/blob/c58d2817bc891c26e6b8098b8909c0eb2e7ce61b/src/libImaging/Convert.c#L443-L453 right ?

How do you see that it assumes white background ?
From the implementation we can say that pointers `in` and `out` has 4 values per pixel. By the last `in++` we ignore the forth value and by `*out++ = 255;` we set output forth value as 255.

Pix

[2022-03-08 10:56] datumbox commented on #5502
I think that makes sense. There is typo on the first record for `torch.uint8`, it should be `255` right?

[2022-03-08 11:20] pmeier commented on #5502
For the integer types, there is a `-1` missing:

[code]

[2022-03-08 13:39] pmeier commented on #5510
You are right. PIL also seems to only "strip" the alpha channel by setting it to 255 everywhere:

[code]

Thus, the behavior is aligned with OpenCV. This doesn't change the plan from https://github.com/pytorch/vision/issues/5510#issuecomment-1061529561.

[2022-03-08 14:29] lezwon commented on #5521
@pmeier I'd like to take up this issue.

[2022-03-08 14:44] datumbox commented on #5521
@lezwon Give us a bit more time to iron out some final changes on the API? This is mainly to avoid requiring too many change from you on the PR. Happy to ping you once we are done, what you think?

@pmeier Could you please mark the tracked issues as blocked until we finalize the aforementioned changes? For any PR that is outstanding, we should try and merge. Happy to chat offline too to see what's

[2022-03-08 15:46] pmeier commented on #5520
Following https://github.com/pytorch/vision/issues/5521#issuecomment-1061853048, I've removed the "help wanted" label for now. Unfortunately, the design isn't as finished as we originally thought. If you have already started, we'll try to merge the PR, but please do not start a new task until we add the "help wanted" label again.

[2022-03-09 10:18] ntakouris opened #5571 "Add quantization support for BackboneWithFPN"
### 🚀 The feature

Add quantization support for `BackboneWithFPN`.

### Motivation, pitch

Currently, it is possible to use `from torchvision.models.detection.backbone_utils.resnet_fpn_backbone/BackboneWithFPN` in order to produce a backbone fpn network, given some sort of network that can produce features.

While the original resnet/other base networks you want to use (ex. efficientnet), have qua

[2022-03-09 10:30] datumbox commented on #5571
@ntakouris Thanks for the recommendation. Yes that's true, we should provide better support for it.

The PyTorch core team has recently changed the API for quantization (FX-based see [here](https://pytorch.org/tutorials/prototype/fx_graph_mode_quant_guide.html)). The feature is still new, so hopefully on the near future once it becomes more stable we can dedicate time to investigate and provide a

[2022-03-09 12:54] datumbox commented on #4970
Unfortunately switching to stable sort is not enough to defeat the flakiness of the tests. The flakiness will be resolved by avoiding initializing the models from random weights and using noise as input. These will be addressed later in the half.

My investigation at https://github.com/pytorch/vision/pull/5573#issuecomment-1062890652 shows that we can't remove the workarounds at the moment, so I'l

[2022-03-09 12:54] #4970 closed

[2022-03-09 13:34] ntakouris commented on #5571
The other thing that would be good to have, would be to ensure that those new quantized models can actually be exported to ONNX/TensorRT efficiently (with int8 weights).

I am not sure if this is out of scope/too much to ask, as this functionality would be dependent on any possible breaking change at onnx/nvidia's side.

[2022-03-09 15:02] bjuncek commented on #5564
Hi @sahilg06 -- the above URL fix seams reasonable to me.
If you can send a PR with the fix, I can review it and test it out on Friday (I'm off due to ECCV :)).

Regarding the `.csv` vs `.txt`, I don't know how this issue creeped in, but if I'm not mistaken [this](https://github.com/pytorch/vision/blob/d8654bb0d84fd2ba8b42cd58d881523821a6214c/torchvision/datasets/kinetics.py#L84) should just be ch

[2022-03-09 15:43] #5510 closed

[2022-03-09 16:51] dizcza commented on #1841
Building docker images with torchvision does require setting the `TORCH_CUDA_ARCH_LIST` flag. And more hacks to avoid the error the author has shown in the issue topic.

In case others still find archaic sm_30 capability cards useful (GTX 760 has been my workhorse for many years), I've set up a repository with the latest PyTorch and Torchvision for CUDA capability 3.0 cards: https://github.com/diz

[2022-03-09 17:53] sahilg06 commented on #5564
Hi @bjuncek,
Sure, I will send the PR.
But for the 2nd issue(.csv vs .txt), https://s3.amazonaws.com/kinetics/600/annotations/train.csv or https://s3.amazonaws.com/kinetics/600/annotations/test.csv doesn't work, perhaps just changing .txt with .csv will not work

[2022-03-09 18:35] Scass0807 commented on #4378
@NicolasHug Mine is showing /site-packages/torchvision/../torchvision.libs/libnvjpeg.90286a3c.so.11 How do I fix this to use system cuda?

[2022-03-10 02:00] xwang233 opened #5580 "Seeing maskrcnn_resnet50_fpn + FP32 performance drop by 15% after #5443"
### 🐛 Describe the bug

Seeing maskrcnn_resnet50_fpn + FP32 performance drop by 15% after #5443

We're running benchmarks for torchvision maskrcnn_resnet50_fpn + FP32 model with `pretrained = False, pretrained_backbone = False`. After the PR, we saw training throughput drops by ~15% on various GPU models (A100, V100, 3090).

### Versions

commit: after #5443

GPU: Nvidia A100, V100, 3090
Library:

[2022-03-10 07:32] bjuncek commented on #5564
So train and val are .txt but the test is .csv

I’ll try to send a PR to upstream CVDF to see if we can change that — otherwise we can just have an annoying special case for test I guess.

[2022-03-10 08:07] sahilg06 commented on #5564
Actually, I didn't know that **split** argument supports '**test**' before you told me because in the [docs ](https://pytorch.org/vision/main/generated/torchvision.datasets.Kinetics.html#torchvision.datasets.Kinetics) its mentioned that **split** supports only **train** and **val**. So I guess '**test**' should also be added there.

And according to the [code](https://github.com/pytorch/vision/blo

[2022-03-10 08:48] datumbox commented on #5580
Thanks for reporting.

Prior the #5443, when `pretrained=False` and `pretrained_backbone = False` the network's BNs basically didn't work.  They were frozen in place to their initial values and the network wouldn't update them (no gradient, no mini-batch statistics updates). After the PR, this bug is fixed, the BN layers do what they are supposed to be doing and thus the perceived performance decr

[2022-03-10 08:59] datumbox commented on #5502
I think we should close this for now.

[2022-03-10 08:59] #5502 closed

[2022-03-10 09:06] pmeier opened #5581 "RandomGrayscale fails for grayscale tensor inputs"
#1505 added `rgb_to_grayscale` to tensor images and #2586 aligned it with the PIL op. It was missed that the PIL op is a no-op if the input is already grayscale, whereas the tensor op fails:

[code]

As the name as well as the docstring

https://github.com/pytorch/vision/blob/d0dede0e09d6d72253080cb366742a270f0ea8cd/torchvision/transforms/functional.py#L1231-L1232

imply, this transform should onl

[2022-03-10 09:06] NicolasHug opened #5582 "Extra dot in 0.12 docs"
Looks like something similar to the previous release happened https://github.com/pytorch/vision/issues/4754

The newly pushed docs are https://pytorch.org/vision/0.12./ instead of https://pytorch.org/vision/0.12 (extra dot at the end), and the version tag shows a lot of extra info:

![image](https://user-images.githubusercontent.com/1190450/157628238-5e10b9ce-3e7f-4364-8822-ac838023bbab.png)

@mat

[2022-03-10 09:11] datumbox commented on #5581
@pmeier I agree that's a problem. I think we should update `rgb_to_grayscale` for tensors to be no-op if a grayscale image is provided. Are we going to copy or not?

[2022-03-10 09:14] mattip commented on #5582
I wonder how this happened. Do you have the build log from the ci run kicked off by tagging the repo?

[2022-03-10 09:17] NicolasHug commented on #5582
CC @brianjo

[2022-03-10 09:20] vfdev-5 commented on #5581
PIL does a copy as well if modes are same:
https://github.com/python-pillow/Pillow/blob/92c26a77ca53a2bfbd8804f009c6c8755d0e5a43/src/PIL/Image.py#L945-L946

[2022-03-10 09:44] mattip commented on #5582
There are two problems: the version should not be `main (0.12.0a0+9b5a3fe)` and the directory should not be `1.12.` (with a dot).

The first problem:
----------------
[here](https://app.circleci.com/pipelines/github/pytorch/vision/15537/workflows/079b1836-52a8-494a-bfd8-08bd0b32e4e3/jobs/1255738) is the run, with `VERSION=0.12.0`. But this is not used to change the version from `main (0.12.0a0+9b5

[2022-03-10 09:52] JuanFMontesinos commented on #2439
Hi, I just remembered there is an Nvidia Toolkit
https://github.com/NVIDIA/VideoProcessingFramework

Just pasting the description:

Best

[2022-03-10 09:53] pmeier commented on #5581
The PIL op is even more permissive:

https://github.com/pytorch/vision/blob/d0dede0e09d6d72253080cb366742a270f0ea8cd/torchvision/transforms/functional_pil.py#L361-L362

For `num_output_channels == 1`, it converts an arbitrary color space to grayscale. Maybe this is why the names of the ops are also not aligned:

https://github.com/pytorch/vision/blob/d0dede0e09d6d72253080cb366742a270f0ea8cd/torchv

[2022-03-10 10:22] joshivinod commented on #5561
Thanks @pmeier, @datumbox. I feel good about this conversation and hence closing the thread here. 🎉

[2022-03-10 10:22] #5561 closed

[2022-03-10 11:59] datumbox commented on #5581
I think fixing `rgb_to_grayscale` is more inlined with the way the new API works. Thoughts?

[2022-03-10 12:29] datumbox commented on #5561
@joshivinod Thanks for the suggestion. Please stick around and contribute more. :)

[2022-03-10 15:36] Scass0807 commented on #4378
There's two of them.
[code]

[2022-03-10 16:08] #5356 closed

[2022-03-10 16:27] Scass0807 commented on #4378
@NicolasHug I added a symlink   libnvjpeg.90286a3c.so.11 -> /usr/local/cuda-11.6/lib64/libnvjpeg.so.11. Now there is only 1 nvjpeg but the memory leak persists. I wonder if this is because even though I am using 11.6 my driver version is 495.23 which is technically for 11.5. I am using GCP Compute Engine and unfortunately they do not yet support 511.

[2022-03-10 16:39] NicolasHug commented on #5582
Reopening since https://github.com/pytorch/vision/pull/5583 fixes the issue for the next releases, but the current docs are still https://pytorch.org/vision/0.12./

[2022-03-10 20:15] mattip commented on #5582
The docs were moved in #5588. But there is still a problem with the `<title>` in all the pages. It should be
[code]

[2022-03-10 20:30] jwdunn1 commented on #4894
Same problem. Thanks to @puyebu, I was able to figure out a temporary solution. The complete command I used (running as administrator) was:
&gt; `mklink /H nvjpeg64_10.dll "c:\Program Files\NVIDIA GPU Computing Toolkit\CUDA\v10.2\bin\nvjpeg64_10.dll"`

[2022-03-10 22:00] adamjstewart opened #5589 "Python 3.10 wheels"
### 🚀 The feature

Apologies if this is currently a work in progress, but I noticed that the recent 0.12.0 release has Python 3.10 wheels for ARM Linux but not for x86_64 Linux, macOS, or Windows. Is this something that can be added?

### Motivation, pitch

[My library](https://github.com/microsoft/torchgeo) depends on torchvision, and I would like to test in on Python 3.10 for all platforms.

###

[2022-03-10 23:24] malfet commented on #5589
There was a small mishap, but I believe we should have all binaries published right now

[2022-03-10 23:32] seemethere commented on #5589
Yup, appears as though this was an oversight in our original scripts for promoting binaries to pypi. These have been available on `download.pytorch.org` since this morning and should now be available on pypi as well.

[code]

[2022-03-10 23:42] datumbox commented on #5589
Thanks for the ultra fast response, sounds good. :)

[2022-03-11 00:14] malfet commented on #5589
Should we close it? @adamjstewart can you please check if it works?

[2022-03-11 00:17] adamjstewart commented on #5589
Thank you!

[2022-03-11 00:17] #5589 closed

[2022-03-11 05:52] manza-ari opened #5591 "module 'torchvision.models' has no attribute 'to'"
### 🐛 Describe the bug

module 'torchvision.models' has no attribute 'to'

I am trying to implement data-parallel but this is my error.

models = torch.nn.DataParallel(models)
  File "/home/kanza/anaconda3/envs/withgpus/lib/python3.6/site-packages/torch/nn/parallel/data_parallel.py", line 145, in __init__
    self.module.to(self.src_device_obj)
AttributeError: module 'torchvision.models' has no at

[2022-03-11 06:09] ShiyangZhang commented on #4378
Hi, Would you mind telling where do you get this information? i could not find it in the cuda 11.6 [release note](https://docs.nvidia.com/cuda/cuda-toolkit-release-notes/index.html). And I cannot reproduce this memory leak in my envirenment. It would be great if there is some more information.

[2022-03-11 08:04] NicolasHug commented on #4378
I basically tried all versions I could find from https://pkgs.org/search/?q=libnvjpeg-devel

[2022-03-11 08:53] Ezra-Yu opened #5593 "Cannot reproduce the accuracy of ResNet"
I have run the baseline of the  resnet in [this blog](https://pytorch.org/blog/how-to-train-state-of-the-art-models-using-torchvision-latest-primitives/) . The reported accuracy of the baseline is 76.16 .But I can not get the reported accuracy. here is my result:
Acc@1 75.878 Acc@5 92.856
 Acc@1 75.382 Acc@5 92.574
 Acc@1 75.490 Acc@5 92.714

my environment is :
cuda 11.3
pyroch 1.10.2
torchvision

[2022-03-11 09:11] NicolasHug commented on #5591
Hi @manza-ari , it's fairly difficult to help since most of the code is missing. But judging by the error message and the code, it looks like you passed `torchvision.models` to `torch.nn.DataParallel`. That cannot possibly work, `torchvision.models` is a module, not a specific model.

You might be interested in this tutorial for how to use the DataLoader: https://pytorch.org/tutorials/beginner/bli

[2022-03-11 09:11] #5591 closed

[2022-03-11 09:26] datumbox commented on #5593
@Ezra-Yu Thanks for reporting.

The baseline accuracy reported on the blogpost is for the [previously released](https://github.com/pytorch/vision/blob/eac3dc7bab436725b0ba65e556d3a6ffd43c24e1/torchvision/models/resnet.py#L28) pretrained model of TorchVision. I verified its accuracy by:
[code]

Note that minor differences on the 2nd decimal are expected (see #4559), but the accuracy of the released

[2022-03-11 09:26] #5593 closed

[2022-03-11 09:42] Ezra-Yu commented on #5593
Thank you for your quick reply.

So,  do you mean that from `LR optimizations` step in the blog, I can fully reproduce the reported result?

[2022-03-11 10:04] robinhesse opened #5594 "DeformConv2d with zero offsets deviates from Conv2d"
### 🐛 Describe the bug

Hi,

when using torchvision.ops.DeformConv2d with an offset of all zeros, the result derivates from the result that I get from torch.nn.Conv2d. Since the offsets are all zeros, I would expect the outputs to be equal. When having only a few input and output channels the difference is quite small (but still unexpected) but for a larger network the difference can get quite sig

[2022-03-11 10:17] manza-ari commented on #5591
Can you please help where to add exactly data_parallel? I am little confused about the following code
https://github.com/razvancaramalau/Sequential-GCN-for-Active-Learning/blob/master/main.py

I have added here whereas CUDA_VISIBLE_DEVICES is set as 0
`
with torch.cuda.device(CUDA_VISIBLE_DEVICES):
                    if args.dataset == "fashionmnist":
                        resnet18    = resnet.

[2022-03-11 10:39] pmeier opened #5595 "`adjust_brightness` gives different results for batched vs single transform for small, grayscale images"
[code]

[code]

This bug is currently hidden by our test suite, since https://github.com/pytorch/vision/pull/4480/commits/33ff26590ac973f4a682e3d7a13c4044991ac118 in #4480 introduced a **global** `atol` on our equality checks:

https://github.com/pytorch/vision/blob/090d8237d30befeb2326aad628ca80757adfea81/test/common_utils.py#L140

With that,

https://github.com/pytorch/vision/blob/a8bde78130fd8c

[2022-03-11 12:30] yuzhms commented on #4392
Which version of ffmpeg should be used? I try ffmpeg4.2.3 from conda, but there is no bsf.h. Using ffmpeg 4.3
.x encounter segmentation fault.  https://github.com/pytorch/vision/issues/3367#issue-805041843

[2022-03-11 12:51] datumbox commented on #5593
If you run this command, you should be able to fully reproduce the updates result:
[code]

People from the community already have successfully reproduced it and actually improved upon it. See #5201

[2022-03-11 13:12] datumbox commented on #5595
Thanks for documenting. Do we need to use `atol=0`? I'm trying to understand if the difference matters of it's a rounding error. Why `rtol=0, atol=1e-6` is not enough?

[2022-03-11 13:12] datumbox commented on #5595
Thanks for documenting. Do we need to use `atol=0`? I'm trying to understand if the difference matters of it's a rounding error. Why `rtol=0, atol=1e-6` is not enough?

[2022-03-11 13:45] NicolasHug commented on #5595
I've also observed the batch size to result in differences in model outputs when working on RAFT, which in turn **significantly** affected the reported epe.

Here the `~e-7` error isn't really significant for float32, so there's probably not much we can (or should) do about it.

But as we discussed offline, we should bring back `assert_equal` to `rtol=0, atol=0`.  If we need more tolerance, we sho

[2022-03-11 14:14] pmeier commented on #5595
@datumbox

Depends what you mean:

- "Do we need to use `atol=0` in `assert_equal`?"

Yes. `assert_equal` was specifically added to have an equality check. If we want to allow tolerances, we should use `torch.testing.assert_close` directly.

- "Do we need to use `atol=0` in the test?"

Nope. I don't know what tolerances are acceptable here, but I agree with @NicolasHug that `atol=1e-6` is probably

[2022-03-11 14:19] NicolasHug commented on #5595
Yes :)

[2022-03-11 14:28] Scass0807 commented on #4378
@NicolasHug  should installing 11.6 and using the one that CUDA was built with it work? Do I have to install the RPM I’m on Ubuntu? Based on the LDD results from above I’m not sure if there’s anything else I can do?

[2022-03-11 15:32] #5595 closed

[2022-03-11 15:53] jaaabir commented on #1952
Hi, can someone help me with this too, I am trying object detection using faster rcnn and I used pre-trained model to fine tune it for my custom dataset. I've check all my labels and all are correct labels : [1,2,3] for 3 classes + background which is 0, whenever i log the summed losses, they are above 1e+25, and even when i use model.eval get the detection on the test set , i get no output other

[2022-03-11 16:17] datumbox commented on #5595
@pmeier Apologies, I should have been clearer. My was suggesting that using an `atol=1e-6` should be enough for our use-case and we don't really need to set it to 0.

It seems we are all in agreement here.

[2022-03-12 16:56] vadimkantorov opened #5600 "Strange RoIPool docs"
### 🐛 Describe the bug

https://pytorch.org/vision/stable/generated/torchvision.ops.RoIPool.html#torchvision.ops.RoIPool

Seems that parent class information got copied:
![image](https://user-images.githubusercontent.com/1041752/158027163-66a87863-8744-4cec-acc2-fb652dd1e4ba.png)

And also the docs miss any RoIPool-related info or links

### Versions

N/A

[2022-03-12 17:43] vadimkantorov commented on #5582
Also, currently the drop-down has `v.12` as opposed to `v0.12` for older versions:
![image](https://user-images.githubusercontent.com/1041752/158028765-b2222359-0714-4196-8d98-70dcdebe7dd0.png)

[2022-03-12 20:04] pmeier commented on #5600
I'm guessing this happens because we include all defined regular members of the class in the documentation

https://github.com/pytorch/vision/blob/27745e5be086ecdf2a8e609d65c13969cb5201f7/docs/source/_templates/class.rst?plain=1#L8-L9

but the `forward` does not have a docstring

https://github.com/pytorch/vision/blob/27745e5be086ecdf2a8e609d65c13969cb5201f7/torchvision/ops/roi_pool.py#L65-L66

so

[2022-03-12 21:15] 0x00b1 opened #5601 "Return only images from `torchvision.dataset` datasets"
### 🚀 The feature

`torchvision.dataset` datasets should provide an option (e.g., a constructor argument) to return only the image (i.e., rather than an image and target pair).

### Motivation, pitch

I work on compression research and would like to use `torchvision.dataset` datasets but, as of now, they are too cumbersome to use because they provide more input than what is needed by my models (i.

[2022-03-13 00:48] SriniMaiya commented on #3213
``from torchvision.models.detection import MaskRCNN
from torchvision.models.detection.backbone_utils import resnet_fpn_backbone

backbone  = resnet_fpn_backbone("resnet101", pretrained=True, trainable_layers=3)
print(backbone.eval())
model = MaskRCNN(backbone=backbone, num_classes=2)´´

I was able to create the model using this approach. I checked the documentation of resnet_fpn_backbone and modif

[2022-03-13 06:36] sahilg06 commented on #5564
@bjuncek May you please review the above PR and merge it?

[2022-03-14 00:13] prabhat00155 commented on #4392
Are you using GPU decoding? If not, you don't really need `bfs.h`.
Also, last time I tried, I was able to build with latest ffmpeg from conda-forge: `conda install -c conda-forge ffmpeg` with Python 3.8, without any issues.

[2022-03-14 01:57] yuzhms commented on #4392
Thanks for your reply. I want to use GPU decoding, so I need `bfs.h` .  I try the same `conda install -c conda-forge ffmpeg` with Python 3.8, but it has segmentation fault.
Could you share the full building script or a Docker image which has already installed the gpu decoding version of torchvision?

Many thanks!

[2022-03-14 05:32] yuzhms commented on #4392
It works well when using single worker. and the segmentation fault only happens when the number of workers > 0. Have you done such testing?

[2022-03-14 08:46] NicolasHug commented on #5601
Thanks for the proposal @0x00b1

We are currently in the process of re-designing our datasets, and in the new design you would be able to get only the images (or any other info that you care about) without having to handle the targets.

But for now unfortunately that is not possible. Perhaps a workaround for you for now would be to wrap our datasets into some custom class that removes the targets

[2022-03-14 09:30] datumbox commented on #5601
In addition to Nicolas' proposal, you could also create a "transform" that receives inputs, unpacks it and returns only the images. This transform should be the first applied to your data.

[2022-03-14 10:38] prabhat00155 commented on #4392
@yuzhms GPU decoding would only work with worker = 0. By the way, I am curious to know how are you testing this.

[2022-03-14 13:22] datumbox opened #5605 "CI `cmake_macos_cpu` fails with `UnsatisfiableError`"
### 🐛 Describe the bug

The latest main branch [fails](https://app.circleci.com/pipelines/github/pytorch/vision/15672/workflows/ccc5ff46-9fd1-4b95-84d6-a576dec45015/jobs/1266821) on `cmake_macos_cpu` with:
[code]

### Versions

Latest main branch 05b5e8c

[2022-03-14 13:41] talkdirty opened #5606 "transforms.{RandomAdjustSharpness,RandomPosterize}: `p` parameter"
### 📚 The doc issue

The docstring of parameter `p` for [RandomAdjustSharpness](https://pytorch.org/vision/stable/generated/torchvision.transforms.RandomAdjustSharpness.html#torchvision.transforms.RandomAdjustSharpness) says:

### Suggest a potential alternative/fix

Also for RandomPosterize, RandomSolarize, but RandomSolarize actually performs a color inversion so it's OK there.

[2022-03-14 13:47] datumbox commented on #5606
Thanks this is probably due to copy-pasting the docstring. Would you be interested in sending a PR to fix it?

[2022-03-14 13:49] yuzhms commented on #4392
So me build is fine. I got it.

But worker =0 with GPU decoding is slower than worker=16 with CPU decoding. What is the meaning of this new feature? Do you have plan to extend GPU decoding to worker>0?

I do not test this separately. Actually, I am using pyslowfast (https://github.com/facebookresearch/SlowFast) doing some action recognition research, and I write a decoder using the new VideoReader

[2022-03-14 14:05] vfdev-5 opened #5608 "[RFC] Different menaning of angle parameter in affine and rotate ops"
In Torchvision stable API, there are 2 ops: affine and rotate that has `angle` as parameter.

However, positive `angle` parameter in `F.affine` op performs clockwise rotation.

https://github.com/pytorch/vision/blob/8aadef5f55a8a0098de943dbf0480a796022e825/torchvision/transforms/functional.py#L1092

while in `F.rotate` it is an opposite meaning, it does counter clockwise rotation:

https://github.

[2022-03-14 14:07] talkdirty commented on #5606
Sure, #5609

[2022-03-14 14:28] prabhat00155 commented on #4392
Yes, you are right. I had compared CPU decoding with worker=10 vs GPU decoding with worker=0 and CPU decoding was faster. GPU decoding would need to support multiple workers to improve the speed. You are welcome to contribute.

[2022-03-14 14:39] yuzhms commented on #4392
Thanks anyway. Perhaps you should mention this point in the documentation, otherwise people will expect it works for multiple workers.

[2022-03-14 15:07] datumbox commented on #5608
This is ugly. As we discussed offline, we could take the approach of aligning the two AND on the layer that will ensures BC between new and old API, we could add a method that does the conversion and a deprecation warning. I would probably leave this for after the API is completed.

@pmeier any thoughts on this?

[2022-03-14 17:52] malfet commented on #5605
Hmm, something tells me this problem is broader than just python-3.9... trying to debug right now

[2022-03-14 17:58] #5605 closed

[2022-03-14 18:19] prabhat00155 commented on #4392
We haven't yet added a reference script that uses the new API. Once we do that, we should definitely add this information in the documentation for the reference script.

[2022-03-14 22:11] #5523 closed

[2022-03-14 22:32] josh-gleason opened #5615 "`zipfile.BadZipFile` exception when downloading WIDERFace (traced to `download_file_from_google_drive` function)"
### 🐛 Describe the bug

While trying to download the WIDERFace dataset using the following code:

[code]

I ran into the following error

[code]

Stepping through the code I found that when it reaches [torchvision/datasets/utils.py:243](https://github.com/pytorch/vision/blob/60132302b5db75477325e8fdbd33f5a33b8cf0a5/torchvision/datasets/utils.py#L243):

[code]

the value of `first_chunk` contains:

[2022-03-14 22:38] xuzhao9 opened #5616 "Torchvision doesn't compile against ffmpeg-5"
### 🐛 Describe the bug

Steps to reproduce:
1. Install torchvision nightly from conda: `conda install -y -c pytorch-nightly torchvision`. This will also install [ffmpeg-5](https://anaconda.org/conda-forge/ffmpeg) from conda
2. Compile torchvision from source: `python setup.py install`
3. The compile fails with the following error:
[code]

The error doesn't happen with an older version of ffmpeg e.

[2022-03-14 22:45] datumbox commented on #5616
@xuzhao9 thanks fore reporting.

@bjuncek could you please have a look?

[2022-03-14 22:59] federicopozzi33 commented on #5524
Hi @pmeier,

I'd like to work on this issue.

[2022-03-15 09:41] pmeier commented on #5524
Go ahead!

Just as a heads-up: in the light of https://github.com/pytorch/vision/issues/5520#issuecomment-1061920594 we want to put a hold on community contributions for now. We agreed we can special case this port, since you already did #5523 and this is very similar. If you are up for it, we will happily ping you when the hold is lifted for other transforms.

[2022-03-15 10:03] #5396 closed

[2022-03-15 10:20] NicolasHug commented on #5056
I beleieve all the remaining points have been addressed by @YosuaMichael in https://github.com/pytorch/vision/pull/5590. Thanks Yosua!

[2022-03-15 10:20] #5056 closed

[2022-03-15 10:52] nursenaaksu commented on #1598
hi

hi ı have same issue, can anyone have an idea for this situation

[2022-03-15 13:51] yassineAlouini commented on #5520
@pmeier I would like to work on the `RandomAffine` one if it is still for grabs. :ok_hand:

[2022-03-15 13:57] tgandor commented on #5616
The `setup.py` detects the `ffmpeg` binary and from there takes the paths to include and library directories. A temporary workaround, for me, was:
[code]
(this may only work for GCC, though)

[2022-03-15 14:02] pmeier commented on #5520
Thanks a lot for the interest @yassineAlouini! Unfortunately, the API is not ready again for significant community contributions. Still you can comment on the issue so we don't forget to ping you when we are ready to go.

[2022-03-15 14:06] yassineAlouini commented on #5530
@pmeier would like to work on this once the API design is stable, thanks. :)

[2022-03-15 16:46] amirhesamyazdi commented on #1598
Dear @fmassa , Could you please verify that this also fixed for DETR? Can we add negative samples with no annotation in DETR? I have asked this question in detail in the bottom of this thread and someone else seconded my question so We really appreciate your reply and as always. Thank you.

[2022-03-15 17:15] sahilg06 commented on #5564
@bjuncek these are the required files for kinetics 600 I guess
[train.csv](https://github.com/pytorch/vision/files/8255695/train.csv)
[validate.csv](https://github.com/pytorch/vision/files/8255698/validate.csv)

[2022-03-15 18:00] datumbox commented on #4959
@FrozenWolf-Cyber Can you please try the latest TorchVision and PyTorch? This should be patched.

[2022-03-15 18:13] #5494 closed

[2022-03-15 19:04] FrozenWolf-Cyber commented on #4959
Thanks, it works now

[2022-03-15 21:53] matthias-k opened #5634 "Can't download torch vision models for older versions via torch.hub.load: "multiple choices""

[2022-03-16 00:49] singhularAdi commented on #5517
I could look into this if no one else is.

[2022-03-16 07:14] pmeier commented on #5517
Sure, go ahead!

[2022-03-16 07:16] oke-aditya commented on #5517
Go ahead @singhularAdi Feel free to ping Nicolas for review :)
Note that you should throw a ValueError if the above case occurs

[2022-03-16 09:16] #5521 closed

[2022-03-16 09:22] pmeier opened #5626 "Clean up prototype transforms before migration"
The transforms in `torchvision.transforms` are fully JIT scriptable. To achieve this we needed a lot of helper methods and unnecessary strict or plain wrong annotations.

The revamped transforms in `torchvision.prototype.transforms` will no longer be JIT scriptable due to their ability to handle more complex inputs. Thus, we should clean-up our code removing everything that was just added to appea

[2022-03-16 10:13] pmeier opened #5627 "`F.pad` is broken for PIL images and `fill: str`"
On the surface `F.pad` for PIL images seems to support str arguments for `fill`:

https://github.com/pytorch/vision/blob/053e7ebd1b50b7a506cfd6e2389043ec05414b1c/torchvision/transforms/functional_pil.py#L157-L158

Internally though, it calls `_parse_fill`

https://github.com/pytorch/vision/blob/053e7ebd1b50b7a506cfd6e2389043ec05414b1c/torchvision/transforms/functional_pil.py#L304-L308

which in mo

[2022-03-16 10:26] datumbox commented on #5627
That's indeed a very convenient bug. We should remove it rather than fix it, I agree. Nevertheless we should consider removing/deprecating string colours from the transforms not only for pad but also for all other transforms as these won't be compatible with the new API for non-PIL images.

[2022-03-16 10:43] pmeier commented on #5627
In total are two mentions of `fill: str` in `transforms`

https://github.com/pytorch/vision/blob/053e7ebd1b50b7a506cfd6e2389043ec05414b1c/torchvision/transforms/transforms.py#L403

https://github.com/pytorch/vision/blob/053e7ebd1b50b7a506cfd6e2389043ec05414b1c/torchvision/transforms/transforms.py#L598

https://github.com/pytorch/vision/blob/9edd22c8a07a8c99324a73ec4dd6c553e2c8d410/torchvision/tran

[2022-03-16 10:47] datumbox commented on #5627
How about random erasing's value?
https://github.com/pytorch/vision/blob/9edd22c8a07a8c99324a73ec4dd6c553e2c8d410/torchvision/transforms/transforms.py#L1653-L1654

I suspect that string is not really supported there so worth checking.

There might be more like this. Worth having a deep check on the code to config these are the only references.

[2022-03-16 10:53] pmeier commented on #5627
Good catch. I only looked for `fill`. I'll have another look.

[2022-03-16 11:04] pmeier commented on #5627
Looking again for all `str` mentions, the only additional mention of a `str` representing a numeric value is `RandomErasing` as you found. Still, `value: str` is actually not correct here. It should be `value: Literal["random"]`:

https://github.com/pytorch/vision/blob/9edd22c8a07a8c99324a73ec4dd6c553e2c8d410/torchvision/transforms/transforms.py#L1653-L1656

[2022-03-16 19:35] #4601 closed

[2022-03-17 06:40] Rusteam commented on #2707
Hi there,

I'm doing few-shot classification and similarity learning, and currently [dino deit backbone](https://github.com/facebookresearch/dino) is a top-performing one on my datasets. Can we add it to `torchvision.models`?
I'm willing to submit a PR with some guidance.

[2022-03-17 08:28] xiaohu2015 commented on #2707
If you only want to add the pretrained weights, I think it is very easy, as torchvision support mult-weights.

[2022-03-17 09:47] yassineAlouini commented on #5336
@pmeier Since food101 is almost done (waiting for the CLA from my employer), I can work on another dataset. Is Kitti available?

[2022-03-17 10:04] pmeier commented on #5336
@yassineAlouini Yes, Kitti is still open. Please comment on #5355 so I can assign you. That being said, the CLA is a hard requirement and we can't accept contributions without it. So if this just a matter of time you can go ahead, but if there is change the CLA is not approved by your employerr, you might want to wait until the process is finished. Otherwise you might end up with a lot of wasted w

[2022-03-17 10:07] yassineAlouini commented on #5336
@pmeier Should be a formality by now, I will just check the old API while waiting for the document. :ok_hand:

[2022-03-17 10:08] yassineAlouini commented on #5355
Would love to work on this. :+1:

[2022-03-17 10:54] datumbox commented on #2707
@Rusteam Thanks for the proposal.

Our [Model contribution](https://github.com/pytorch/vision/blob/main/CONTRIBUTING_MODELS.md) guidelines are still a work in progress. One of the things we need to figure out is how do we deal with contributions that are produced without our reference scripts. Right now, we require all of the weights to be reproducible with our references. There is one exception t

[2022-03-17 11:04] #5524 closed

[2022-03-17 11:05] #5627 closed

[2022-03-17 11:13] datumbox opened #5635 "ImportError: libcupti.so.10.2: cannot open shared object file: No such file or directory"
### 🐛 Describe the bug

Multiple `binary_linux_conda_*_cu*` jobs are currently [failing](https://app.circleci.com/pipelines/github/pytorch/vision/15843/workflows/88805119-e3fc-4009-9ff2-5344feb6d36c/jobs/1281404) on the latest main with the following error:
[code]

Seems like a missing dependency problem. Same applies for `libcupti.so.11.3` [here](https://app.circleci.com/pipelines/github/pytorch/

[2022-03-17 12:37] Rusteam commented on #2707
well yeah i guess you're right. Before you have some kind of contrib section, I can use hub to use that model.

[2022-03-17 12:47] oke-aditya commented on #2707
Not exactly contrib section. But you could create a repo and a `hubconf.py` file. So that the model is accessible by `torch.hub`

[2022-03-17 17:41] bjuncek commented on #5564
As for the K600 files, I'm double checking with Joao what's the deal about the different file format.
Thanks for generating these -- we might need to use them after all

[2022-03-17 17:50] bjuncek commented on #5616
@datumbox sorry for the delay -- it is on my list for tomorrow

[2022-03-17 18:24] bjuncek commented on #3388
Closed via #3389

[2022-03-17 18:24] #3388 closed

[2022-03-17 18:25] bjuncek commented on #3014
closed via #3179

[2022-03-17 18:25] #3014 closed

[2022-03-18 09:39] pmeier commented on #5564
Just to clear some confusion for someone else reading this thread: When @bjuncek talks about "Joao", he doesn't mean @jdsgomes, but rather Joao Carreira operating under @kinetics-cvdf. The links were updated in https://github.com/cvdfoundation/kinetics-dataset/commit/48a523ea10ad9d286e4f6f2895910fc4737e1ac5.

[2022-03-18 10:03] bjuncek commented on #5616
Hi there,
so I'm having an issue reproducing this, as conda command from above pulls 4.3.2 on my system.

@datumbox let's fix the version for 4.x for now; swapping the API to 5.0 should be an easy fix, but I don't have the system that supports it atm.

[2022-03-18 11:12] pmeier opened #5642 "`test/test_models::test_mobile_net_norm_layer` is broken"
https://github.com/pytorch/vision/blob/297e2b8746d32b46d20b0e6a6f867fde65e50e8d/test/test_models.py#L403-L413

[fails on `main`](https://app.circleci.com/pipelines/github/pytorch/vision/15869/workflows/f81e239f-f520-45b5-b663-8d71a1aa90d3/jobs/1283688) due to pytorch/pytorch#74293.

cc @datumbox @pmeier

[2022-03-18 13:14] pmeier commented on #5615
Thanks for the report @josh-gleason. GDrive is just a pain in the behind to deal with. Since they don't have a proper API, we need to manually parse the response to find if anything is going wrong. For example, we have a proper error in case the daily quota for a file is exceeded:

https://github.com/pytorch/vision/blob/297e2b8746d32b46d20b0e6a6f867fde65e50e8d/torchvision/datasets/utils.py#L187-L1

[2022-03-18 14:32] vadimkantorov commented on #4260
Another instance is: https://github.com/pytorch/vision/issues/5616

It would be nice to have a nightly test of conda/pip installs of torchvision + opencv + ffmpeg -> this is a very common scenario, and even if it doesn't work, it'd be nice to have a "badge" indicating working or not working install. At the very least, there needs to exist known/tested conda+pip recipes of installation of these lib

[2022-03-18 15:30] josh-gleason commented on #5615
Yeah I've run into my own problems automating Google drive downloads. Thanks for looking into this.

Unrelated, but how do you post those nice code blocks in github markdown?

[2022-03-18 15:54] talregev commented on #2707
Please pin this issue.

[2022-03-18 15:55] talregev commented on #2707
@datumbox

[2022-03-18 17:06] rgommers commented on #5458
This seems to have been fixed in the `0.12.0` release made 8 days ago. All conda packages now have a dependency on `pytorch-mutex 1.0` (click the `(i)` icon on https://anaconda.org/pytorch/torchvision/files to verify):

![image](https://user-images.githubusercontent.com/98330/159049637-fd1ff260-136f-433e-91a1-9ed52112c53f.png)

@motjuste does it work for you now?

[2022-03-18 19:07] Esraanageh22 commented on #2740
i have the same error
![ask51](https://user-images.githubusercontent.com/73080410/159068420-b08640fa-6de8-4875-be7f-5a1a1ee210af.PNG)
and i have checked the data
![ask1](https://user-images.githubusercontent.com/73080410/159068505-7c54f65a-6246-4798-a77c-a24214d3bc60.PNG)
![ask2](https://user-images.githubusercontent.com/73080410/159068508-c3d4de3e-702f-44fa-bc03-098cffd9a7dd.PNG)

[2022-03-18 19:20] pmeier commented on #5615
Go to any file, select one or more lines, click the dots on the left and select "Copy permalink". If you paste this into an issue or PR in the same repo, GitHub will automatically render the code for you. For example, the block above is just `https://github.com/pytorch/vision/blob/297e2b8746d32b46d20b0e6a6f867fde65e50e8d/torchvision/datasets/utils.py#L187-L191`.

[2022-03-18 22:32] FeryET opened #5646 "Some of torchvision transforms have very limiting argument checks"
### 🐛 Describe the bug

I am trying to write a pytorch script that is configurable by Hydra. Hydra uses OmegaConf config objects, such as `ListConfig` and `DictConfig`. One of the benefits of using these types of configurations is that I can easily make templates and share them, alongside them being very readable.

[code]
[code]

By running `python -m main` given the configuration, this error will

[2022-03-18 22:42] FeryET commented on #5646
BTW if color jitter needs a revamp per #5528  I can do this + that if needed.

[2022-03-19 10:43] tugcekeskin commented on #1598
We are definitely at the same point. I am trying to do Fracture/Non-fracture bone detection in my project. There are 4 different classes for Fracture case and they have annotations. For Non-fracture case, there is no annonation and consists of "jpg" files. I don't know how to include Non-fracture case in dataset. Any ideas?

[2022-03-19 10:45] tugcekeskin commented on #1598
We are definitely at the same point. I am trying to do Fracture/Non-fracture bone detection in my project. There are 4 different classes for Fracture case and they have annotations. For Non-fracture case, there is no annonation and consists of "jpg" files. I don't know how to include Non-fracture case in dataset. Any ideas?

[2022-03-19 10:46] tugcekeskin commented on #1598
We are definitely at the same point. I am trying to do Fracture/Non-fracture bone detection in my project. There are 4 different classes for Fracture case and they have annotations. For Non-fracture case, there is no annonation and consists of "jpg" files. I don't know how to include Non-fracture case in my dataset. Any ideas?

[2022-03-19 11:26] lezwon commented on #5352
@pmeier I'd like to take up this issue.

[2022-03-19 11:53] lezwon commented on #5352
@pmeier I have a minor blocker I'm confused about. I'm considering using `from torchdata.datapipes.iter.Decompressor` to decompress the dataset. But I get an `ImportError` while trying to use it. I see it is used in the MNIST dataset [here](https://github.com/pytorch/vision/blob/297e2b8746d32b46d20b0e6a6f867fde65e50e8d/torchvision/prototype/datasets/_builtin/mnist.py#L9) . Any idea how to import i

[2022-03-20 00:29] malfet commented on #5635
Thank you for reporting. Likely caused by the change that makes cupti a dynamic dependency.
cc: @ezyang

[2022-03-20 04:27] ezyang commented on #5635
We can switch back to statically linking cupti as well, I just need to do what malfet suggested when I changed the defaults anyway!

[2022-03-20 06:06] r-barnes commented on #5616
ffmpeg 4.1 under LLVM-12 has instances of undefined behaviour due to null pointer arithmetic which cause failures under address sanitizer testing, so having ffmpeg 5 compatibility is pretty important.

[2022-03-20 10:25] #5642 closed

[2022-03-21 03:36] tstandley opened #5650 "imagenet22k trained model weights"
### 🚀 The feature

Add an argument to make loading imagenet22k weights as painless as loading imagenet1k pretrained weights.

### Motivation, pitch

Since most people using pretrained models will just use a torchvision.models model, it'd be great if it were easy to specify to use an imagenet22k or at least greater than 1k model when such weights are available. Features obtained from models trained

[2022-03-21 07:57] pmeier commented on #5646
I agree this is a problem in the current transforms, but I'm afraid we can't solve it there. The transforms need to be fully `@torch.jit-script`'able and only a subset of Python language is supported. In particular, generic `Sequence`'s and `Mapping`'s are [not supported](https://pytorch.org/docs/stable/jit_language_reference.html#unsupported-typing-constructs).

On the bright side as you already

[2022-03-21 08:00] h-vetinari commented on #4731
Trying to package torchvision 0.12 for conda-forge, all the test failures I see are:
[code]

Is there like a secret switch to allow these to pass - because (from what I can tell) it seems the respective images are there in the sources...

[2022-03-21 08:18] FeryET commented on #5528
If there was a chance, I'd like to see this through.

[2022-03-21 09:02] datumbox commented on #5650
@tstandley Thanks for the proposal.

This should already be supported by the upcoming [Multi-weight support API](https://pytorch.org/blog/introducing-torchvision-new-multi-weight-support-api/). Among other things, it will allow us to make available weights trained on different datasets.

The work to migrate to main TorchVision is currently on-going and you can keep track of its progress at #5618.

[2022-03-21 09:02] #5650 closed

[2022-03-21 09:03] h-vetinari commented on #4731
For context, in the so-called feedstock for conda-forge (latest [PR](https://github.com/conda-forge/tokenizers-feedstock/pull/40)), we're running the full torchvision test suite based on the github sources. So AFAIU, running into these "private" tests will be unavoidable, unless we skip/delete them, or there's a secret switch (I presume that's how the CI here does it, but haven't investigated yet.

[2022-03-21 10:17] NicolasHug commented on #4731
Thanks for the report @h-vetinari . The secret switch is just

https://github.com/pytorch/vision/blob/fc63f82890651bb19f27e33eefb52465aeb1c25d/torchvision/csrc/io/image/cpu/decode_png.h#L12:L12

and the offending test calls `decode_image`

https://github.com/pytorch/vision/blob/fc63f82890651bb19f27e33eefb52465aeb1c25d/torchvision/io/image.py#L227:L227

which itself will call `decode_png()` with th

[2022-03-21 11:34] h-vetinari commented on #4731
That was a great guess:
[code]

That would be wonderful, thanks a lot! 🙃

[2022-03-21 14:39] EmanuelAlogna commented on #2311
Is there an ETA for support of dynamic batch size > 1 ?

[2022-03-21 16:25] malfet commented on #5635
@ezyang imo we should just bundle cupti into the conda package

[2022-03-21 17:58] #5635 closed

[2022-03-22 12:42] xiaoyu-work opened #5658 "Does torchvision nightly support rocm 5.0 Linux?"
### 🚀 The feature

I couldn't find Linux version torchvision in https://download.pytorch.org/whl/nightly/rocm5.0/torch_nightly.html. Does vision nightly support rocm 5.0 Linux? If not, any reason it doesn't? Can we add support for this?

### Motivation, pitch

Our image needs torchvision on Linux for ROCM 5.0

### Alternatives

_No response_

### Additional context

_No response_

cc @jeffdaily @j

[2022-03-22 13:40] #5564 closed

[2022-03-22 16:37] datumbox commented on #5088
We've merged the prototype API into main TorchVision. The target was to do this as early as possible before the next release to leave enough time for tests. Please keep sharing your feedback to help us iron out the rough edges. Issues/PRs are very welcome.

[2022-03-22 17:38] jithunnair-amd commented on #5658
Thanks for reporting this issue @xiaoyu-work ... we will be filing a PR for this shortly, stay tuned!

[2022-03-23 03:52] lezwon commented on #5352
@pmeier mind having a look at this?

[2022-03-23 08:31] #5528 closed

[2022-03-23 08:31] #5646 closed

[2022-03-23 09:10] github-actions[bot] opened #5662 "EMNIST download link is broken"
Oh no, something went wrong in the scheduled workflow tests/download.
Please look into it:

https://github.com/pytorch/vision/actions/runs/2027366886

Feel free to close this if this was just a one-off error.

cc @pmeier

[2022-03-23 09:50] Kavan72 commented on #5393
@iamhatesz check this https://github.com/python-poetry/poetry/issues/4231#issuecomment-1076160254

[2022-03-23 10:37] vfdev-5 opened #5664 "Let's enable ND support for images/masks"
_Originally posted by @vfdev-5 in https://github.com/pytorch/vision/pull/5613#discussion_r828077791_

[2022-03-23 11:07] vfdev-5 opened #5665 "[RFC] Add `expand` option to `affine` transformation"
We would like to ask for some feedback about adding `expand` argument to affine image/mask transformations.

Currently, [rotate op](https://pytorch.org/vision/stable/generated/torchvision.transforms.functional.rotate.html#torchvision.transforms.functional.rotate) has `extend` argument which does the following:

<img width=512 src="https://user-images.githubusercontent.com/2459423/158867251-666728e

[2022-03-23 18:32] malfet commented on #4260
cc: @janeyx99

[2022-03-24 09:11] github-actions[bot] opened #5670 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow tests/download.
Please look into it:

https://github.com/pytorch/vision/actions/runs/2033247305

Feel free to close this if this was just a one-off error.

cc @pmeier

[2022-03-24 09:18] pmeier commented on #5670
Duplicate of #5662.

[2022-03-24 09:18] #5670 closed

[2022-03-24 09:19] pmeier commented on #5662
This has happened before and was fixed on their end after a few days. Let's give them a little more time to fix before we act.

[2022-03-24 14:04] puhuk commented on #5354
Can I take this

[2022-03-24 14:37] pmeier commented on #5354
Sure, go ahead!

[2022-03-24 15:40] pmeier opened #5673 "`Jinja2==3.1.0` breaks build workflow"
We use

https://github.com/pytorch/vision/blob/56fb0bf5796ac374d4e353032e418236cd73c554/docs/requirements.txt#L5

Internally, they only restrict [`Jinja2>=2.3`](https://github.com/sphinx-doc/sphinx/blob/f6a839ff0fed5fa32428f9a6909023ee299067ac/setup.py#L24). [`Jinja2==3.1.0`](https://pypi.org/project/Jinja2/3.1.0/), which was released about an hour ago, [removes](https://jinja.palletsprojects.com/

[2022-03-24 16:10] GanyuWang opened #5681 "SSL: CERTIFICATE_VERIFY_FAILED when trying to download EMNIST from torchvision."
### 🐛 Describe the bug

2022/3/23 around 10 pm.

I am trying to download the EMNIST using torch vision. Certificate expired.

training_set = torchvision.datasets.EMNIST('./data', split="byclass", train=True, download=True)

The error raise.
    raise URLError(err)
urllib.error.URLError: <urlopen error [SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed: certificate has expired (_ssl.c:1131)

[2022-03-24 16:12] #5673 closed

[2022-03-25 05:03] xiaoyu-work commented on #5658
Hi @jithunnair-amd, any update on this?

[2022-03-25 09:12] github-actions[bot] opened #5676 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow tests/download.
Please look into it:

https://github.com/pytorch/vision/actions/runs/2039082887

Feel free to close this if this was just a one-off error.

cc @pmeier @YosuaMichael

[2022-03-25 09:15] pmeier commented on #5676
Duplicate of #5662.

[2022-03-25 09:15] #5676 closed

[2022-03-25 12:31] datumbox opened #5678 "`cmake_linux_gpu` fails with libcudnn.so.8: cannot open shared object file: No such file or directory"
### 🐛 Describe the bug

The `cmake_linux_gpu` job is currently [failing](https://app.circleci.com/pipelines/github/pytorch/vision/16056/workflows/6211a9c5-772a-4cc9-97e7-e61ce888c388/jobs/1299847) with the following error message:
[code]

Looks like a dependency issue on CUDA. The issue first appeared couple of days ago and persists across nightlies.

### Versions

latest main

cc @seemethere

[2022-03-25 12:53] #5352 closed

[2022-03-25 17:25] lezwon commented on #5349
@pmeier I'd like to take this one up.

[2022-03-25 19:54] pmeier commented on #5349
Sure, go ahead!

[2022-03-25 21:44] tstandley opened #5682 "Code to convert model weights from facebookresearch/ConvNeXt"
### 🚀 The feature

Can you share the code used to convert model weights from the original author's convnext code to the torchvision version?

### Motivation, pitch

I guess this isn't actually a request to modify torchvision, but I assume code was used to convert model weights from facebookresearch/ConvNeXt to the torchvision verstion. Can I get access to this code somehow? I have some weights tha

[2022-03-26 10:26] datumbox commented on #5682
@tstandley thanks for the request.

We did not concert the weights from `facebookresearch/ConvNeXt`. We trained the models from scratch using our [new recipe](https://pytorch.org/blog/how-to-train-state-of-the-art-models-using-torchvision-latest-primitives/) and that's why the accuracies offered by TorchVision are higher than the original paper.

Still I believe you should be able to convert the w

[2022-03-26 10:26] #5682 closed

[2022-03-27 11:06] dogeplusplus commented on #5681
I have just tried this now and had no issues downloading. I also had SSL certificate errors in the past week when downloading datasets and I believe this to be not related to pytorch but with the certificates that come with Python (or the lack of). You can verify this by trying to similarly download datasets using `tensorflow_datasets`, or doing a HTTPS request with `requests`/ `urllib`. Depending

[2022-03-27 14:53] anantgupta129 commented on #1899
can you share the full spec file i am not sure where to add it

[2022-03-27 16:51] GanyuWang commented on #5681
The torch team fixed this issue several days later.

[2022-03-27 16:51] #5681 closed

[2022-03-28 06:05] kcs6568 opened #5686 "Question on segmentation code"
### 🚀 The feature

Hello.
I want to ask you a simple question.
I'm not sure if it's right to post a question in this 'Feature request' category.

In train.py code in the reference/segmentation, the get_dataset function is set the coco dataset classes 21.
Why the number of classes is 21?
Is it wrong to set the number of classes to 91 which is the number of classes in the coco dataset?

Here is the

[2022-03-28 07:29] pmeier commented on #5686
To align it with the VOC categories. The COCO dataset uses a subset that has a 1-to-1 correspondence with VOC categories:

https://github.com/pytorch/vision/blob/da03f51a0c94917b6a905d58974243a2b458e075/references/segmentation/coco_utils.py#L95

[code]

[code]

No it is not wrong, it just makes harder to compare the performance to models trained on VOC. If you don't need that, you can also train w

[2022-03-28 07:29] #5686 closed

[2022-03-28 08:15] datumbox opened #5688 "Add tests for `sigmoid_focal_loss` and `generalized_box_iou_loss`"
### 🚀 The feature

The `sigmoid_focal_loss` and `generalized_box_iou_loss` ops are not currently tested. We should create the necessary unit-tests that check the validity for multiple input types.

[2022-03-28 12:25] pmeier commented on #5336
Hey everyone. We decided to remove the help "wanted label" for now. Reviewing the PRs takes more time out of my schedule than I anticipated. This is not comment on the quality of the PRs, but rather a late acknowledgement that due to their diverse nature datasets are hard to review. We very much appreciate ever contribution towards closing this issue.

@yassineAlouini @puhuk @abhi-glitchhg @Dbhasi

[2022-03-28 12:37] yassineAlouini commented on #5336
@pmeier I have started working on the Kitti one but I can pause the work for now and work on something else in the meantime (any suggestion is welcome). And thanks again for your time and guidance, it takes a lot of effort but is very appreicated. 🥰

[2022-03-28 13:07] drbeh opened #5694 "ColorJitter> adjust_hue>_rgb2hsv lack of proper documentation."
### 📚 The doc issue

Following up on #3110, it seems that lack of proper documentation on `ColorJitter`, and specifically its underlying transform `adjust_hue` which uses `_rgb2hsv` is causing issues for more and more people. https://github.com/pytorch/vision/issues/3110#issuecomment-1009688670 https://github.com/pytorch/vision/issues/3110#issuecomment-1064918900

I remember back in 2020, it took

[2022-03-28 14:13] puhuk commented on #5336
@pmeier I'm supposed to send PR within this week and I also can pause the work :)
If you want me to stop sending PR, I can stop, or let me send it by this weekend.

[2022-03-28 16:15] aurelien-m opened #5697 "MIssing torchvision::nms error in the C++ CUDA TorchVision API"
### 🐛 Describe the bug

I'm unable to load a my trained MaskRCNN model (using the one from the `torchvision` Python module). I'm converting it to TorchScript using `torch.jit.script`, saving it as a `.pt` file and finally using the `torch::jit::load` from LibTorch:

[code]

Nothing fancy, but I'm getting the following error:

[code]

I tried running [this project](https://github.com/pytorch/vision

[2022-03-28 16:51] pmeier commented on #5336
@puhuk if you already have some code, you can go ahead and send a PR to not let your work go to waste. Otherwise, pausing development for some time would also be appreciated.

[2022-03-29 06:08] mostafarohani opened #5702 "GPU VideoReader not working"
### 🐛 Describe the bug

[code]
<img width="423" alt="Screen Shot 2022-03-28 at 10 59 44 PM" src="https://user-images.githubusercontent.com/8623092/160543628-000de7d3-a23c-4a3d-8757-229c457f0392.png">
<img width="466" alt="Screen Shot 2022-03-28 at 10 59 56 PM" src="https://user-images.githubusercontent.com/8623092/160543634-07632a8d-0b56-462f-9bc1-fe2e2fc93bf3.png">

When seeking to specific times

[2022-03-29 11:57] lezwon opened #5700 "Add mypy to pre-commit"
### 🚀 The feature

I'm not sure if this issue has already been discussed, but I'd like to propose adding mypy static checker to precommit config.

### Motivation, pitch

Often times I miss adding type hints and I commit and push my code only to see the type check test failing in CI. It would be nice if pre commit checked this on my system itself before committing.

### Alternatives

_No response_

[2022-03-29 14:58] bnascimento commented on #885
same question.

[2022-03-29 15:11] bnascimento commented on #2950
how can we use vision transforms resize on c++?

[2022-03-29 15:59] datumbox commented on #885
We don't currently have plans for providing a C++ API for Transforms. For users who want to access the inference transforms from C++, we recommend JIT-scripting the transforms that are attached to the pre-trained weights. This is part now of the multi-weight API; for more info see [here](https://pytorch.org/blog/introducing-torchvision-new-multi-weight-support-api/).

[2022-03-29 16:41] marzmesas commented on #2262
This issue is still persisting, is there a way to get the dataset and load it just like we would through `torchvision.datasets`

[2022-03-29 16:42] vfdev-5 commented on #2950
@bnascimento there is no C++ API for vision transforms, but you can use pytorch C++ API which can do a similar resizing: https://pytorch.org/cppdocs/api/function_namespacetorch_1_1nn_1_1functional_1afb8b9cd051ced01899b6d3142ac2f47c.html#exhale-function-namespacetorch-1-1nn-1-1functional-1afb8b9cd051ced01899b6d3142ac2f47c

HTH

[2022-03-29 16:56] oke-aditya commented on #5700
Bit on edge here. Mypy is the last thing someone usually fixes in a PR. There are lot of cases, where we want to push the code to see how it runs and performs over CI,

mypy pre-commit hook will not allow to commit code unless mypy issues are resolved which are sometimes not very obvious and hard for new developers.

Checking before commiting is nice, but mypy will make it hard to produce claener

[2022-03-30 02:42] ohhhYang commented on #2921
that works for me !
thank a lot!

[2022-03-30 05:39] carsumptive commented on #1598
Hi, I'm working through the same issue more or less. I think that I'm just uncertain if the codebase was updated since the PR mentioned earlier -- running FasterRCNN gives me an error thrown by GeneralizedRCNN calling my [0,0,0,0] box "degenerate" because it does not have positive dimensions. Does anyone know the workaround for this that the PR was proposing?

[2022-03-30 07:20] jgerlach93 opened #5703 "remove inplace"
https://github.com/pytorch/vision/blob/aa21197462591a89f527ded3938ffe62f7d8cb8f/torchvision/models/resnet.py#L81

the inplace = True is not actually needed, is it?

i dont really see self.relu being used as inplace anywhere; rather x = self.relu(x), everywhere.

[2022-03-30 08:12] pmeier opened #5705 "CelebA download is broken"
The download of all CelebA files except `identity_CelebA.txt` is broken. For example, the URL to download `img_align_celeba.zip` resolves to https://drive.google.com/uc?id=0B7EVK8r0v71pZjFTYXZWM3FlRnM&export=download. This link is publicly accessible, but you have to be logged into Google. Otherwise you'll see a 404 page.

I'll have a look if it is possible to get a general download link from the

[2022-03-30 08:26] pmeier commented on #5705
It seems the author has intentionally restricted the visibility for these files for some reason. If that is true, I think there is no way for us to provide an automatic download.

[2022-03-30 10:53] datumbox commented on #5703
This has to do with how the operation is performed and whether the returned x is a new block of memory or not. The code as-is, applies the relu operation on the same x value instead of copying it. So it does work.

I'm going to close this issue as I believe I've answered your question. If you have more comments, feel free to reopen.

[2022-03-30 10:53] #5703 closed

[2022-03-30 11:24] pmeier commented on #5700
The problem with having `mypy` as a `pre-commit` hook is that it will be installed in a separate environment. This means we have two options:

1. Install `torchvision` and all our dependencies in this environment as well. I'm not sure if this even works for the nightly releases of PyTorch we need to check against. In any case this will be quite a hefty environment.
2. Don't install anything extra.

[2022-03-30 14:53] yassineAlouini commented on #2980
I guess this issue still needs discussion and there is no point in wanting to contribute a loss for now? :thinking:

[2022-03-30 15:29] yassineAlouini commented on #5538
@pmeier Out-of-curiosity, is any help needed for this feature or does it require too much knowledge/not advised for new contributors? :thinking:

[2022-03-30 15:35] datumbox opened #5708 "Add the SWAG pre-trained weights in TorchVision"
### 🚀 The feature

It would be great to add support of the pre-trained weights from the Supervised Weakly from hashtAGs ([SWAG](https://github.com/facebookresearch/SWAG)) to TorchVision. There are two sets of weights to add for each model variant:
1. The original frozen trunk SWAG weights with a linear classifier learnt on ImageNet1K
2. The end-to-end fine-tuned weights on ImageNet1K

We will focu

[2022-03-30 17:50] datumbox commented on #2980
@yassineAlouini Wow what a coincidence! Today I was working on something related. :)

At #5444, I have an [experimental private function](https://github.com/pytorch/vision/pull/5444/files#diff-5288f1a12d4cbc77afac42d57b75796da3c8734c0fa4cda80e5c07ac5d16212dR513) that makes it possible to switch between losses. There are no plans for it to become public any time soon but I was thinking of implement

[2022-03-30 18:39] oke-aditya commented on #2980
Adding cIoU and dIoU should be staight forward. It's been a while in my mind too.

Let me know if you need help. Or I can pick it up as well :) @yassineAlouini

[2022-03-30 18:59] datumbox commented on #2980
@oke-aditya @yassineAlouini It would be awesome if you could help on the development and review of these 2 losses. For now will put them flat on the ops package similar to `giou`.

[2022-03-30 19:00] oke-aditya commented on #2980
Sure 😃

[2022-03-30 19:21] esarf opened #5709 "increasing ResNet output size by changing block.expansion does not work"
Hello,

I am working with ResNet-18 and actually, after discarding the last self.fc layer, we obtain an output tensor of shape [1,512]. For my research, I would like to obtain different sizes such as [1,1024] or [1,2048] for instances.

## **What works**

Inside the ResNet, changing the final output channel sizes works perfectly, namely:

[code]

I just added the * 2 factor and everything behaves

[2022-03-30 19:27] yassineAlouini commented on #2980
Yes, it works for me, thanks @datumbox. 👌
Which one should I pick?

[2022-03-30 19:29] oke-aditya commented on #2980
Pick Anything you like :)

[2022-03-30 19:43] yassineAlouini commented on #2980
Thanks @oke-aditya. Let me give dIoU a try and see if I can also do the cIoU next. I guess you can help me with review since you know better this part of the repo. I can work on this around 1 day per week. 👌

[2022-03-30 21:13] janeyx99 opened #5710 "[Feedback] Warn Developers Regarding Major Code Changes"
### 🚀 The feature

Flag parts of the repo that are undergoing major changes (breaking changes between two releases) + have a bot post on PRs that touch these high traffic files.

### Motivation, pitch

**TL;DR:** torchvision moves pretty fast and external developers want to know if they are developing on something that may change very soon.

Imagine you are an interested developer and you would lo

[2022-03-30 21:18] abhi-glitchhg commented on #2980
@oke-aditya, Have you started working on CioU? If not can I take CioU?
Thanks.

[2022-03-30 22:02] oke-aditya commented on #2980
Sure @abhi-glitchhg feel free to take it. I'm happy reviewing the PR.

[2022-03-31 02:55] ShiyangZhang commented on #4378
I think I found a memory leak here :
https://github.com/pytorch/vision/blob/82f9a187681dade1620bc06b85f317a11aea40dc/torchvision/csrc/io/image/cuda/decode_jpeg_cuda.cpp#L74

the _nvjpeg_handle_creation_flag_ should be global, not local. the _nvjpeg_handle_ has been lost.

[2022-03-31 07:26] oke-aditya commented on #5688
This will also help folks working on Ciou ad Diou loss. @YosuaMichael I can work on this if you like :)

Reference tests fvcore
https://github.com/facebookresearch/fvcore/blob/main/tests/test_giou_loss.py

[2022-03-31 07:28] yassineAlouini commented on #5688
Thanks @oke-aditya for the link.

[2022-03-31 07:34] oke-aditya commented on #2980
In case you didn't know here is detectron 2 implementation of both of these
https://github.com/facebookresearch/detectron2/blob/main/detectron2/layers/losses.py#L66

[2022-03-31 08:06] datumbox commented on #5710
@janeyx99 Thanks for the feedback!

Finding more ways to warn developers for upcoming major code changes sounds a reasonable proposal.

Note that this is something we currently already do in a degree. For example we notify users via [blogposts](https://pytorch.org/blog/introducing-torchvision-new-multi-weight-support-api/) several months prior actually landing the feature on main branch, include n

[2022-03-31 08:16] pmeier commented on #5662
Seems to be fixed again as there were no more failures in the last 6 days.

[2022-03-31 08:16] #5662 closed

[2022-03-31 08:24] pmeier commented on #5538
The removal of the "help wanted" label is explained in https://github.com/pytorch/vision/issues/5520#issuecomment-1061920594. In addition, https://github.com/pytorch/vision/issues/5336#issuecomment-1080586735 also applies. Thus, at this time, it is probably not a good idea to start. This has nothing to do with the knowledge / experience though. I'm happy to assign you as soon we have ironed out th

[2022-03-31 08:28] yassineAlouini commented on #5538
Thanks for the details and the pointers @pmeier.
I think I found something to contribute in the meantime.
Please let me know once things are a bit "lighter" on your side and you have more time. :ok_hand:

[2022-03-31 08:48] pmeier commented on #5678
Seems no longer to be the case: https://app.circleci.com/pipelines/github/pytorch/vision/16195/workflows/16ec8058-6884-4aab-90ff-6c6a8a111017/jobs/1312141

[2022-03-31 08:48] #5678 closed

[2022-03-31 09:32] yassineAlouini commented on #2980
Logistics question: Should I create an issue and add some details or is it enough to start a branch from my work and then do a PR later? @datumbox

[2022-03-31 09:37] oke-aditya commented on #2980
This issue tracks it, You can create a fresh branch from main and raise a PR :)

[2022-03-31 09:49] YosuaMichael commented on #5688
Hi @oke-aditya thanks for the offer! Is there anything urgent that need this test?

Currently I actually do this task for the sake of learning (since I am new and it would be good to touch as many part of the code as possible), hence I would like to do this issues myself if possible, however it would take more times.

[2022-03-31 10:10] datumbox commented on #2980
@yassineAlouini What Aditya said ^. :)

No need for a separate ticket, we got plainly that mention it already. When you bring the PR, I'll tag it accordingly. Just make sure you mark is as draft until you are ready for review.

[2022-03-31 10:30] datumbox commented on #5709
@esarf Thanks for reporting this.

Could you please provide a snippet that fully reproduces this and the patch/diff of what you try to modify on the TorchVision code? This will help us investigate.

[2022-03-31 20:18] ellisbrown opened #5716 "`Caltech101`, `Caltech256` downloads are broken due to Google Drive redirect "scan for viruses" popup"
### 🐛 Describe the bug

It seems that `Caltech101` and `Caltech256` both fail to be downloaded currently using `torchvision==0.12.0`. The tarfile download links both redirect to Google Drive links. Unfortunately, both links download the following HTML popup instead of the actual tarfile:
<img width="547" alt="image" src="https://user-images.githubusercontent.com/5157986/161139989-a3685be6-bf5c-473

[2022-03-31 20:20] mikeseven commented on #4595
There are 2 centernet in the literature.
The most used I think is [centernet objects as point](https://github.com/xingyizhou/CenterNet) that is the basis for many applications.

The nice thing about this model is that it is a generic architecture and many other models already in torchvision can be used for backbone, neck, and head.

[2022-04-01 06:21] pmeier commented on #5716
There is a PR for this in #5645.

[2022-04-01 08:09] DavidTorpey opened #5718 "Feature extraction in torchvision.models.vit_b_16"
### 🐛 Describe the bug

Hi

It’s easy enough to obtain output features from the CNNs in torchvision.models by doing this:

[code]

However, when I attempt to do this with torchvision.models.vit_b_16:
[code]
I get the following error:
[code]

Any help would be greatly appreciated.

### Versions

Torch version: 1.11.0+cu102
Torchvision version: 0.12.0+cu102

[2022-04-01 09:24] motjuste commented on #5458
Yes, with torchvision `0.12.0`, it works as expected --- no `cudatoolkit` is installed, and only the cpu versions are installed when asked for `cpuonly`.  Unfortunately, one does have to update to pytorch `1.11.0`, but that does not seem to be a breaking change for me at least.  Thanks a lot for your work!

[2022-04-01 09:24] #5458 closed

[2022-04-01 09:52] bjuncek commented on #5616
closed via #5644

[2022-04-01 09:52] #5616 closed

[2022-04-01 09:54] #4191 closed

[2022-04-01 10:48] bjuncek commented on #2941
Closed as it is a part of documentation #3460

[2022-04-01 10:48] #2941 closed

[2022-04-01 10:50] bjuncek commented on #2920
Sadly, we're not adding additional features at the moment.
We'll add this to list of feature requests, but have no ETA -- added to the larger tracking issue

[2022-04-01 10:50] #2920 closed

[2022-04-01 10:51] bjuncek commented on #2681
Closed as it's fixed in subsequent bug fixes

[2022-04-01 10:51] #2681 closed

[2022-04-01 10:54] bjuncek commented on #1791
Closing as inactive, added to a tracker for future reference

[2022-04-01 10:54] #1791 closed

[2022-04-01 10:54] #1550 closed

[2022-04-01 10:55] bjuncek commented on #1357
Closed; this was done several PRs ago

[2022-04-01 10:55] #1357 closed

[2022-04-01 10:59] bjuncek opened #5720 "2022: state of video IO in torchvision"
There have been many developments over the last couple of months with a big push in 2022H1 to get things closed up (mainly by @prabhat00155 and @datumbox). Here I'll try to summarize what is the current state of things.

## Features (current, in-dev)

At the moment, `torchvision` has **two API's** one can use for video-reading.
1. `read_video` video API (stable) -- this is a legacy video-reading s

[2022-04-01 10:59] bjuncek commented on #4459
Closed, superseeded by #5720

[2022-04-01 10:59] #4459 closed

[2022-04-01 11:46] datumbox commented on #5718
@DavidTorpey thanks a lot for reporting!

@alexander-soare I wonder if you have the bandwidth to have a look?

[2022-04-01 14:23] aurelien-m commented on #4395
Hello @julienripoche, would you mind explaining how you bypassed these steps, if you remember? I'm very interested into knowing how you did it as I'm trying to achieve the same goal :smile: With these bypasses, where you able to achieve some interesting performance gains?

[2022-04-01 15:43] alexander-soare commented on #5718
@DavidTorpey the problem is that not all of what goes on in the `forward` method of the VIT model is implemented with submodules. There are some functional transformations.

Specifically in your case, that assertion error is being raised within this call: https://github.com/pytorch/vision/blob/3925946f994a4b779ab9286654e7011bb175a70a/torchvision/models/vision_transformer.py#L267

But if you look a

[2022-04-01 16:05] DavidTorpey commented on #5718
@alexander-soare
Thanks a lot for your comprehensive answer. However, I did attempt to do this with `create_feature_extractor` as you've done, but the resulting size from your example is `torch.Size([1, 197, 768])`, but I would expect it to be `torch.Size([1, 768])`, since the final layer that feeds into the final prediction MLP (`heads`) as `in_features=768`.

Are you able to shed some light on w

[2022-04-01 16:14] #1884 closed

[2022-04-01 16:21] datumbox commented on #5718
@alexander-soare Thanks for dedicating the time to do a deep dive. I understand that [all the preprocessing](https://github.com/pytorch/vision/blob/3925946f994a4b779ab9286654e7011bb175a70a/torchvision/models/vision_transformer.py#L260-L265) that happens on forward() outside of a module is the problem here. Perhaps it's worth adopting on the future the approach of structuring the top-level models a

[2022-04-01 17:30] #5615 closed

[2022-04-01 17:30] #5716 closed

[2022-04-01 19:04] alexander-soare commented on #5718
@DavidTorpey if you look at the output of `get_graph_node_names` you will find the last 3 nodes are `'encoder.ln', 'getitem_5', 'heads.head']`. You want the `getitem_5` node which does this https://github.com/pytorch/vision/blob/3925946f994a4b779ab9286654e7011bb175a70a/torchvision/models/vision_transformer.py#L270. It's selecting the first of the 197 you mentioned.

[2022-04-01 19:17] alexander-soare commented on #5718
@datumbox before working on FX I was trying to structure things that way in some timm models and found myself making weird modules that only made sense in a particular context. For instance, in the VIT example you would end up wrapping the [final slice operation](https://github.com/pytorch/vision/blob/3925946f994a4b779ab9286654e7011bb175a70a/torchvision/models/vision_transformer.py#L270) in a modu

[2022-04-01 19:59] DavidTorpey commented on #5718
@alexander-soare Thank you! Makes sense

[2022-04-01 21:08] janeyx99 commented on #5710
Yes, this is something I think torchvision does better than core torch, though torchvision also moves a lot faster on the whole.

Core does not have a solution like this just yet--but core also could do better in this regard as well. This suggestion was derived from talking with @oke-aditya and @frgfm.

I'll get back to you if I gather any specific examples--feel free to deprioritize as this doesn

[2022-04-01 21:14] datumbox commented on #5710
Sounds great, if core adopts such a solution I would be happy to try it out here.

No rush about the specific examples. I'm still interested to get them as a learning exercise and to improve. I'm sure we can definitely do better :)

[2022-04-02 02:06] #4932 closed

[2022-04-02 02:44] haozhihang123 opened #5725 "torchvision.utils.draw_bounding_boxes set font_size"
### 🚀 The feature

font_ The size setting must be specified at the same time as the font to be valid, otherwise it is invalid.
I think utils.py in torchvision Line 239 can be improved.Make font settings and font size settings separate.
utils.py Line 239:
"txt_font = ImageFont.load_default() if **font is None** else ImageFont.truetype(font=font, size=font_size)"

### Motivation, pitch

Improve the

[2022-04-02 06:02] oke-aditya commented on #5725
If I understand correctly, You want `font_size` to work for default font right?
But I believe the PIL Does not have this functionality to load default font with a given font size

See https://github.com/python-pillow/Pillow/issues/2695

[2022-04-02 06:21] haozhihang123 commented on #5725
Thank you. I see.

[2022-04-02 06:59] datumbox commented on #4932
@xiaohu2015 I don't know if you saw but #5444 investigates your proposal. If we merge it, GN and GIoU will be possible to use.

[2022-04-02 08:40] xiaohu2015 commented on #4932
yes, I think this issue will be solved in the PR https://github.com/pytorch/vision/pull/5444, so I close this issue.

[2022-04-02 14:07] puhuk commented on #5336
@pmeier Sorry for late reply. Let me pause the development and stop this issue.

[2022-04-02 15:06] julienripoche commented on #4395
Hi @aurelien-m, of course ;)

Basically what I did is replacing some part of the code by the identity.
Here is the code that I used to achieve that.

[code]

The resulting ONNX should almost only contain the network itself, plus some anchor treatment.
This ONNX should be compilable by tensorRT.

That said, maybe a simpler way to achieve this would have been to simply replace the forward method by

[2022-04-02 23:28] Ilyabasharov opened #5726 "Segmentation masks IoU support"
### 🚀 The feature

pairwise distance on segmentation masks like (torchvision.ops.box_iou)

### Motivation, pitch

motivation: cost matrix construction in object tracking

### Alternatives

_No response_

### Additional context

_No response_

[2022-04-03 00:56] Imraj commented on #1876
I'm trying to get the faster-rcnn model in google colab, but I'm unable to due to
`Downloading: "https://download.pytorch.org/models/fasterrcnn_resnet50_fpn_coco-258fb6c6.pth" to /root/.cache/torch/hub/checkpoints/fasterrcnn_resnet50_fpn_coco-258fb6c6.pth
---------------------------------------------------------------------------
SSLCertVerificationError                  Traceback (most recent cal

[2022-04-03 01:31] datumbox commented on #1876
@Imraj Thanks for letting us know! We are aware of the issue and we are looking into it.

[2022-04-03 01:42] LinxiFan commented on #5702
This seems to be a very serious bug, as many video learning code relies on the GPU decoding. Could someone please help?

@mostafarohani I'm also curious, how do you manage to compile torchvision with GPU video decoding support? I installed `ffmpeg` with GPU support and also tried `conda install -c conda-forge ffmpeg`, but it keeps saying ffmpeg is missing bfs.h and skips installing the GPU decoder

[2022-04-03 02:57] taesiri opened #5727 "Can not download pre-trained models because SSL certificate has expired"
### 🐛 Describe the bug

The SSL certificate of the [download.pytorch.org](https://download.pytorch.org/) domain has expired, and it is no longer possible to download the pre-trained models.

Code:

[code]

Error message:

[code]

### Versions

[code]

[2022-04-03 03:00] RahulBhalley opened #5728 "Certificate has expired. Unable to download pre-trained (download) torchvision models."
### 🐛 Describe the bug

Unable trying to download (and load) pre-trained `torchvision` models. An error related to certification expiration is thrown. I have tried to update `certifi` with `pip install -U certifi` but no fix.

I tried to load AlexNet but it doesn't load any torchvision model at all:

[code]

The following error is thrown:

[code]

### Versions

[code]

[2022-04-03 03:12] taesiri commented on #5727
The easiest workaround for this is downloading the weights manually and placing them in the ` ~/.cache/torch/hub/checkpoints` directory

[code]

[2022-04-03 03:52] RahulBhalley commented on #5727
I have the same issue https://github.com/pytorch/vision/issues/5728. It seems to be related to `torchvision` itself, right?

[2022-04-03 04:15] #5728 closed

[2022-04-03 04:16] RahulBhalley commented on #5727
@taesiri Btw where can I find these model URLs?

[2022-04-03 04:24] taesiri commented on #5727
@RahulBhalley Check the error message, and you will see the full URL of the model.

In your case (your issue):

[code]

[2022-04-03 04:25] RahulBhalley commented on #5727
Thank you! :)

[2022-04-03 06:19] MaxVanDijck commented on #5727
Yes getting the same error here, assume it will be fixed in good time 😄

[2022-04-03 08:42] datumbox commented on #1876
@Imraj The problem should now be resolved, closing the issue but let me know if you still face problems.

[2022-04-03 08:42] #1876 closed

[2022-04-03 08:43] datumbox commented on #5727
Thanks for reporting. We confirm there was an issue with the certificate but this is now fixed. I'm going to close the issue but if you keep facing problems please feel free to reopen.

[2022-04-03 08:43] #5727 closed

[2022-04-03 10:57] horizon86 opened #5729 "torchvision: Segmentation fault (core dumped)"
### 🐛 Describe the bug

[code]

If it is `import torch`, there is no problem

### Versions

[code]
[code]

[2022-04-03 10:59] horizon86 commented on #5729
[code]

[2022-04-03 11:41] sl1pkn07 opened #5730 "video codec sources is here but setup build set as false"
### 🐛 Describe the bug

message:

[code]

builded with:

[code]

in the `setup.py` file

[code]

then:

[code]

### Versions

[code]

[2022-04-03 14:57] sl1pkn07 commented on #5730
seems need also set `TORCHVISION_LIBRARY` :/

my fault

greetings

[2022-04-03 14:57] #5730 closed

[2022-04-04 07:59] pmeier commented on #5729
The last time we build against CUDA 10.0 was `torchvision==0.5.0`. Thus, I'm not surprised about a segfault in `torchvision==0.12.0`. I'm a little confused that `conda` actually pulls in `0.12` if `cudatoolkit=10.0` is specified.

[2022-04-04 08:00] pmeier commented on #5729
Just as hint, you want to use `python=3.7` over `python==3.7`. The former is equivalent to `python==3.7.*` and so you get the latest release, whereas the latter is equivalent to `python==3.7.0`.

[2022-04-04 08:16] pmeier commented on #5729
`conda` correctly pulls the CPU versions of the packages, since no version for `cudatoolkit=10.0` is available:

[code]

Are you bound to `10.0`? Otherwise, we still have stable releases for `10.2`. Specifying `cudatoolkit=10` will give you the binaries of the latest release with CUDA support.

Still, I cannot reproduce the segfault. Given that the release is out for a couple of weeks now and we h

[2022-04-04 08:43] pmeier commented on #5725
Given that this is just a small utility that we provide and `PIL` does not have this option, I don't think there is much that we can do for now. Still, thanks for the request @haozhihang123 and @oke-aditya for linking the relevant issue!

[2022-04-04 09:16] esarf commented on #5709
@datumbox Thanks for your answer. Here is the full code with my modifications:

[code]

And got this immediately:

[code]

As you can see we just have tensors with different shapes between out and identity due to the downsample operation. So I do not really know how to solve it. I must miss something in the deep understanding of ResNet, however I thought it was clear for me.

Thank you!
Emma

[2022-04-04 09:33] oke-aditya commented on #5725
Although one way is to Have a default font from torchvision side and not rely on OS. Which would allow to set `font_size`

I won't recommend this fix. As the current API works.

It might be wiser to throw a warning if user supplies `font_size` without specifying font.

[2022-04-04 09:45] pmeier commented on #5725
Yes, that is indeed a good change. Whenever user input gets ignore for any reason, we should warn about it. @oke-aditya do you want to send a PR?

[2022-04-04 09:47] oke-aditya commented on #5725
I believe some new contributor could take this. As it's a good first issue :)

(Of course I can submit a PR. But will feel more happy to see a new contributor)

[2022-04-04 10:56] horizon86 commented on #5729
yes, but even if I create an environment with `python=3.7` and install with `cudatoolkit=10.2`, it still report an error like this.

[2022-04-04 11:00] horizon86 commented on #5729
# `python==3.7` and `cudatoolkit=10.0` `conda list` output
[code]

# cudatoolkit=10.2 python=3.7 conda list output
[code]

[2022-04-04 11:25] datumbox commented on #5709
@esarf Thanks for the info.

I looked into this and I believe that the `expansion` property is not meant to be overwritten like that. It's a read-only internal property used by the private `_make_layer` method so that it figure out the number of channels. Note that modifying the expansion is also the wrong thing to do here as it will have global effect (it's a class-level property). Moreover the `

[2022-04-04 11:25] #5709 closed

[2022-04-04 11:39] datumbox commented on #5726
@Ilyabasharov thanks for the recommendation.

I think it's an operator we could consider adding in TorchVision. If you send a PR that adds it, I'll be happy to review it.

[2022-04-04 13:13] bjuncek commented on #5702
@mostafarohani @LinxiFan we're currently assigning all GPU decoding issues as low-pri as there was a shift in priorities and we're a bit short on people. I'll definitely look at this but probably not before the end of the month. Sorry about that :(

@prabhat00155 do you perhaps know what this could be about? If so, maybe I can take a look at it sooner if I have a decent starting point?

@LinxiFan

[2022-04-04 13:26] NicolasHug commented on #5702
Is our CI actually running the tests for the GPU decoder? Looking at [recent CI runs](https://app.circleci.com/pipelines/github/pytorch/vision/16356/workflows/411e343e-1625-4e35-b757-ecfbff9d595f/jobs/1326060) it seems like the tests are always skipped.

[2022-04-04 14:15] horizon86 commented on #5729
I install latest python and torch, there is no error. Thanks.

[2022-04-04 15:54] bjuncek commented on #5702
@NicolasHug nope: see #5147

[2022-04-04 15:55] aurelien-m commented on #4395
@julienripoche Thanks man, it really helped me out!

However, if I understand correctly, this only works for a batch of size 1? Do you know if I can make it work for a higher batch size? I was able to convert it to TensorRT and do some inference, but I'm getting slower inferences than the original PyTorch model.

[2022-04-04 15:59] #5729 closed

[2022-04-04 16:46] oke-aditya commented on #5726
I had a thought over this. `Masks` are always interpreted very differently.
If we see pycocotools. They actually support rle masks #4415 .

Also I'm not sure what IoU in segmentation would actually refer to?
If the masks are represented as bit masks (or boolean masks) Say
[code]
[code]

Then I think IoU is simply jaccard index between these two? This isn't the case if masks are represented as rle

[2022-04-04 17:09] aurelien-m commented on #4395
Nevermind, I found out how to infer a batch of multiple images. I used:

[code]

It seems to work from what I can see, I'll do some more testing and look at the performance that I get with a higher batch size. Thanks again!

[2022-04-04 18:14] florisdf opened #5735 "Ground-truth bounding boxes included in RPN proposals?"
Hi,

I am training a Faster-RCNN-like architecture and wanted to log the detection losses on the validation dataset. To obtain these losses, I passed in the `targets` of the validation data to the `forward()` method of `GeneralizedRCNN`. When investigating the results, however, I noticed that each ground-truth bounding box had a near-exact match with a predicted bounding box. When passing `targets

[2022-04-04 18:26] prabhat00155 commented on #5702
The current implementation of GPU decoder enables you to seek once in the video and read frames from there. If you seek multiple times, the subsequent outputs may be frames closely related to the first seek. The reason being that multiple frames could have been decoded and queued up for return, after seek and demuxing.
The numerical values between CPU and GPU decoders are slightly different due to

[2022-04-05 07:18] fmassa commented on #5702
@prabhat00155 in this case, I would propose to drop all enqueued frames after a seek. Seeking multiple times on the same file is a very common operation, and in its current state the decoder is indeed not really working as expected

[2022-04-05 09:00] hhaAndroid commented on #5088
Hi, This feature is very nice. But how to know training information through prototype, such as epoch, aug, etc. I think this information is directly tied to mAP.

[code]

Is it possible to attach a link to indicate these key pieces of information？ Currently through https://pytorch.org/vision/stable/models.html#runtime-characteristics, I still cannot know the training strategy.  Was it trained by [

[2022-04-05 09:03] divideconcept commented on #5088
It's right there in your code snippet:
`"recipe": "https://github.com/pytorch/vision/tree/main/references/detection#retinanet"`
The link has all the informations you need.

[2022-04-05 09:15] github-actions[bot] opened #5737 "Caltech download is broken"
Oh no, something went wrong in the scheduled workflow tests/download.
Please look into it:

https://github.com/pytorch/vision/actions/runs/2095101012

Feel free to close this if this was just a one-off error.

cc @pmeier @YosuaMichael

[2022-04-05 09:24] xiaohu2015 commented on #5088
you can find the training setting (traing command) in the url of `recipe`,

[2022-04-05 09:40] datumbox commented on #5088
@hhaAndroid This is **very** fair feedback; we must fix our documentation.

The exact training details should be already there (else it's a bug and we need to fix ASAP) but it's a bit of a mess right now because we literally just released the Multi-weight support API. I confirm that what @divideconcept and @xiaohu2015 told you is correct. The `recipe` URL that exists in every weight meta-data shou

[2022-04-05 11:36] NicolasHug opened #5740 "isinstance(VGG11_Weights, WeightsEnum) returns False"
Not sure if I'm doing something wrong but since

[code]

I would expect `isinstance(VGG11_Weights, WeightsEnum)` to be True.

[code]

CC @pmeier @datumbox

[2022-04-05 11:38] NicolasHug commented on #5740
This is False too `isinstance(VGG11_Weights, type(enum))`

[2022-04-05 12:12] abhi-glitchhg commented on #2980
Should I also add a test for CIOU loss? I did not find any test for generalised iou loss,

I tried finding a test for generalised iou in `test_ops.py` but did not find any. So just want to confirm.

[2022-04-05 12:20] oke-aditya commented on #2980
Yeah the tests are not present as of yet see #5688. We can add it along with the PR, mostly you can check cases such as overlapping boxes, side by side boxes, etc.
Something on lines of https://github.com/facebookresearch/fvcore/blob/main/tests/test_giou_loss.py

But first we could have look at the implementation?

[2022-04-05 12:23] yassineAlouini commented on #2980
@oke-aditya @abhi-glitchhg I think we need to keep our codes synched otherwise we might end up implementing something that is quite different for cIoU and dIoU. I will try to push a draft of my MR as soon as possible (around the end of this week or start of next week).

[2022-04-05 12:24] pmeier commented on #5740
This is just the standard behavior of enums in Python:

[code]

The correct checks for your example would be

[code]

[2022-04-05 12:35] NicolasHug commented on #5740
Ah, yes, I mixed up classes and instances. Sorry for the noise, thanks for checking @pmeier

[2022-04-05 12:35] #5740 closed

[2022-04-05 12:37] oke-aditya commented on #2980
hey don't worry @yassineAlouini code reviews will make sure we are consistent :) We will sync it up. Feel free to work independently.

[2022-04-05 12:54] datumbox commented on #2980
Agreed. Might be worth to start with the implementations and by then the test should be in. I'll keep an eye for your PRs as I'm currently keeping track of all related work at #5410.

[2022-04-05 15:56] deepanshu650 opened #5747 "Kernel Dies while using conv2d layer / function"
### 🐛 Describe the bug

Kernel dies and restarts automatically as soon as model having conv2d is used.
It happens for both - conv2d layer (torch.nn.Conv2d) and conv2d function (torch.nn.functional.conv2d), while i am able to use linear layer model in my system.
Here is a minimal example code

[code]

<img width="751" alt="Screenshot 2022-04-05 at 9 12 31 PM" src="https://user-images.githubusercont

[2022-04-05 17:07] datumbox commented on #5747
@deepanshu650 Thanks for reporting. Your code doesn't seem to be using any TorchVision components but rather pure PyTorch code. I think it would be best to open the ticket directly there as you will get more targeted help. Here is how to start: https://github.com/pytorch/pytorch/issues/new/choose

[2022-04-05 17:07] #5747 closed

[2022-04-06 02:33] fonnesbeck opened #5748 "MNIST import fails: cannot import name 'OpOverloadPacket' from 'torch._ops'"
### 🐛 Describe the bug

Trying to import the MNIST dataset on Linux as follows:

[code]

fails with an ImportError:

[code]

### Versions

PyTorch version: 1.11.0+cu102
Is debug build: False
CUDA used to build PyTorch: 10.2
ROCM used to build PyTorch: N/A

OS: Debian GNU/Linux 11 (bullseye) (x86_64)
GCC version: (Debian 10.2.1-6) 10.2.1 20210110
Clang version: Could not collect
CMake version: Coul

[2022-04-06 06:04] pmeier commented on #5748
This seems to have nothing to do with the datasets, but rather with `torch.fx` that will be imported along the way. Could you confirm by

[code]

in your environment?

[2022-04-06 08:56] pmeier opened #5754 "[RFC] `torchvision.transforms` revamp"
### 🚀 The feature

*Note: To track the progress of the project check out [this board](https://github.com/pytorch/vision/projects/5).*

The current transforms in the `torchvision.transforms` name space are limited to images. This makes it hard to use them for tasks that require the transform to be applied not only to the input image, but also to the target. For example, in object detection, resizin

[2022-04-06 11:54] ori-kishony opened #5762 "FocalLoss without logits and as class"
### 🚀 The feature

Making the focal loss api similar to BCE api. In which the difference between BCELoss and BCELossWithLogits is clear and is made as a class as well as a function.

### Motivation, pitch

When using a model that explicitly uses the sigmoid activation at the end it is useful to be able to simply use focal loss without injecting the loss before this activation. The use of focal los

[2022-04-06 12:44] datumbox commented on #5762
@ori-kishony Thanks for the proposal. It's a good argument.

As you know, right now we offer a `sigmoid_focal_loss` method that does an explicit sigmoid call inside the method. One approach could be adding another `focal_loss` method does doesn't make this call. They should both share code to avoid duplication but not do the same logging calls.

An alternative approach is really mimic the BCE para

[2022-04-06 13:02] YEthYuan opened #5766 "Wrong label mapping in vision/torchvision/datasets/flowers102.py"
### 🐛 Describe the bug

from line 70 in the file vision/torchvision/datasets/flowers102.py
[code]

### Versions

PyTorch version: 1.11.0
Is debug build: False
CUDA used to build PyTorch: 11.3
ROCM used to build PyTorch: N/A

OS: Ubuntu 20.04.4 LTS (x86_64)
GCC version: (Ubuntu 9.4.0-1ubuntu1~20.04.1) 9.4.0
Clang version: Could not collect
CMake version: version 3.16.3
Libc version: glibc-2.31

Pyt