[2019-09-03 09:05] fmassa commented on #1292
@jinyuan30 there is no `_mask.py`in torchvision, it is in [`pycocotools`](https://github.com/cocodataset/cocoapi/tree/master/PythonAPI/pycocotools), so I think your installation of pycocotools is not working properly.

Given that this is not a problem with torchvision per se, I'm closing this issue. I'd recommend trying to uninstall and reinstall pycocotools, and see if you can import it.

Install

[2019-09-03 09:05] #1292 closed

[2019-09-03 09:07] fmassa commented on #1278
You might need to remove your previous installation of PyTorch and try installing it again, you might have some conflicts in there.

[2019-09-04 00:33] machine52vision opened #1294 "transforms.Resize()"
transforms.Resize(()) is based python image library(PIL)，But PIL's resize and opencv's resize results are inconsistent,Experiments show that there are bugs in resize of PIL.

[2019-09-04 03:22] weihaosky commented on #9
It does not work for me. The colorjitter still performs different for multiple images. why?

[2019-09-04 03:23] weihaosky commented on #9
It does not work for me. The colorjitter still performs different for multiple images. why?

[2019-09-04 06:31] weihaosky commented on #9
Figured it out. Another random also seed need to be set.

`random.seed(RANDOM_SEED)
 torch.manual_seed(RANDOM_SEED)`

[2019-09-04 09:30] bjuncek commented on #1265
All right - for now, I won't change the models as they are, because they actually yield better performance, if it's ok with you, I'll just send a PR to document the issue, and close it?

[2019-09-04 09:46] nik-hil commented on #9
I find this helpful in image segmentation,

https://github.com/albu/albumentations/blob/master/notebooks/example_kaggle_salt.ipynb

[2019-09-04 14:58] cortical-iv commented on #1116
I have a new annotated dataset and have used tensorflow for faster-rcnn transfer learning and it works well, but am sick of tensorflow. This thread, unfortunately has me thinking it isn't quite out of the box yet with pytorch to do simple transfer learning with pytorch/faster-rcnn? Am I wrong, and if so is there some tutorial/treatment specifically of faster-rcnn transfer learning? Sorry to add no

[2019-09-04 16:50] fmassa commented on #1265
Sounds good to me

[2019-09-04 20:54] 17sarf commented on #1245
@fmassa Thank you for advice. I now have the model working.

[2019-09-05 01:02] jtlee90 commented on #1150
@fmassa I am still waiting your response

[2019-09-05 03:15] AFutureD commented on #1116
@lpuglia  Thanks for your code. :)

[2019-09-05 06:06] C-nit opened #1296 "EMNIST download url changed"
https://github.com/pytorch/vision/blob/26c9630bc7add88685400e54457203816c06e750/torchvision/datasets/mnist.py#L230

EMNIST url changed to
`https://cloudstor.aarnet.edu.au/plus/s/ZNmuFiuQTqZlu9W/download`

[2019-09-05 15:24] kracwarlock opened #1299 "allow utils.save_image to write to a file object"
Currently, the `torchvision.utils.save_image` function only allows to save to a file on disk.
https://github.com/pytorch/vision/blob/26c9630bc7add88685400e54457203816c06e750/torchvision/utils.py#L90-L105

It cannot write to file objects as that requires the [`format` parameter](https://pillow.readthedocs.io/en/stable/reference/Image.html#PIL.Image.Image.save) to be passed which `torchvision.utils.

[2019-09-06 06:00] Manoj404667 commented on #940
I am also getting the problem in 'import _C' inside the 'import torchvision' in colab. I have tried to upgrade the version for the torch and also run the command 'pip install -e'. You can see the error in the figure below:
![Screenshot from 2019-09-06 11-29-17](https://user-images.githubusercontent.com/41113976/64404488-b2cf1400-d099-11e9-8ec1-4445f7326c85.png)
Can somebody help me?

[2019-09-06 07:30] pmeier commented on #1294
If that is the case you should address them directly in the [`pillow` project](https://github.com/python-pillow/Pillow). We are not part of this development and simply _use_ `PIL` for the image I/O interface in python.

There is a motion to replace `PIL` (#1225, #1226), but its still in its infancy.

---

I've never worked with `opencv`, but I imagine it shouldn't be hard to create your own custom

[2019-09-06 07:31] xuzhongyou opened #1302 "One question about pretrained model of vgg19"
I used the model vgg19 without norm or dropout and load  official state_dict. When i test one image, it returns the different label。However, when i set model.eval(), it return one result. I want to know the explaination hehind it.
![image](https://user-images.githubusercontent.com/16487416/64409304-39e0b400-d0bb-11e9-9599-e07674dafe6c.png)

[2019-09-06 07:54] #1302 closed

[2019-09-06 07:55] xuzhongyou commented on #1302
i find the drpout in classifier,cry,cry

[2019-09-06 22:54] kirk86 commented on #1080
This standardization will make writing code so much cleaner, now it's like every constructor of every dataset has its own params and makes things so unflexible during development. For instance cifar10 has the train param indicating which subset is used while svhn has split.

[2019-09-06 23:01] PingoLH opened #1304 "New model request: Harmonic DenseNet (ICCV 2019)"
Hello,
I'd like to introduce our research in efficient CNN model to torchvision.models
Please see our repo:
https://github.com/PingoLH/Pytorch-HarDNet

The new model is 25~35% faster than ResNet running on GPU for both training and inferencing. When being used in object detection such as SSD, Harmonic DenseNet (HarDNet) can further gain accuracy by its enhanced local feature extraction that deploy

[2019-09-07 00:27] kirk86 opened #1305 "standardize dataset naming conventions"
Please standardize at least the naming convention for all datasets when using DataLoader so that data are in `loader.dataset.data` and labels in `loader.dataset.targets`.
MWE:
[code]
This can be really confusing and error prone when developing code to run on multiple datasets.

[2019-09-07 08:42] ekosman opened #1307 "num_workers in VideoClips initialization"
I've been trying to create a VideoClips object from a very large dataset, however during the process my system restarts for some unknown reason.
After looking in [here](https://github.com/pytorch/vision/blob/master/torchvision/datasets/video_utils.py) I figured out that I never get into the loop (line 85).
Running ```torch.get_num_threads()``` gives me 44, so I changed this to 16 manually and it w

[2019-09-07 09:13] pmeier commented on #1305
See #1080.

[2019-09-07 11:24] kirk86 commented on #1305
Thanks, where are we with that? Any progress?
I've already added my two cents on that issue as well.

[2019-09-07 19:21] 17sarf opened #1308 "Change anchor sizes"
I would like to you the to use the following with `fasterrcnn_resnet50_fpn`:

[code]

But I get this error while attempting to train the model:

[code]

This is my implementation:

[code]

These anchors scales and and aspect ratios are based on this paper: [https://arxiv.org/abs/1506.01497](url)

Any advice would be greatly appreciated.

[2019-09-07 19:46] 17sarf opened #1309 "Too many boxes being proposed"
I have trained a model using the KAIST dataset. I am using a subset of the full dataset (approximately 2000 samples). I have trained it for over 150 epochs. The loss values etc are quite low:

`Epoch: [156]  [160/515]  eta: 0:13:50  lr: 0.000000  loss: 0.0630 (0.0905)  loss_classifier: 0.0341 (0.0499)  loss_box_reg: 0.0240 (0.0327)  loss_objectness: 0.0007 (0.0018)  loss_rpn_box_reg: 0.0045 (0.006

[2019-09-08 21:59] ppwwyyxx opened #1311 "Space/time complexity of batched_nms grows quadratically with batch size"
`batched_nms` now performs a regular NMS for all boxes combined together. Since NMS takes O(n^2) space and time, the complexity of `batch_nms` grows quadratically with batch size.

Ideally the complexity should grow linearly with batch size.

[2019-09-09 04:39] jtiscione commented on #1296
Neither of these URLs is correct.

[2019-09-09 11:41] fmassa commented on #1296
@pmeier can you have a look?

The link in https://www.nist.gov/node/1298471/emnist-dataset doesn't work anymore (i.e., http://www.itl.nist.gov/iaui/vip/cs_links/EMNIST/gzip.zip) ?

[2019-09-09 11:43] fmassa commented on #1311
Indeed, we should have a custom implementation which is linear with the batch size.

I believe a naive for-loop implementation in C++ for CPU would be enough, but for CUDA it will probably not be very easy to write.

[2019-09-09 11:52] fmassa commented on #1308
See section `2 - Modifying the model to add a different backbone` of https://colab.research.google.com/github/pytorch/vision/blob/temp-tutorial/tutorials/torchvision_finetuning_instance_segmentation.ipynb , where we create a new anchor generator.

In this particular case, you'll need to get a different backbone for your model, which currently expects a single layer, but you are instead giving it 5

[2019-09-09 11:52] #1308 closed

[2019-09-09 11:55] fmassa commented on #1309
Your model is not learning properly. It might be due to several reasons:
- you are not starting from a pre-trained backbone
- 2000 images are not enough if you don't do transfer learning

I'd recommend you start with the tutorial in https://pytorch.org/tutorials/intermediate/torchvision_tutorial.html , without modifying the model, and just applying it to your own dataset. This will give you some u

[2019-09-09 11:55] #1309 closed

[2019-09-09 12:29] pmeier commented on #1296
This is weird. At the time of creating the PR the link was working. Even the [official website of EMNIST](https://www.westernsydney.edu.au/bens/home/reproducible_research/emnist) lists this link. I'll look into it.

[2019-09-09 18:20] #1296 closed

[2019-09-09 18:39] rowanz commented on #1278
hey all! so I found the same compilation issue when trying to install maskrcnn-benchmark from its provided [dockerfile](https://github.com/facebookresearch/maskrcnn-benchmark/blob/master/docker/Dockerfile). It automatically installs pytorch 1.0 nightly, and then torchvision master (the latter of which is where the error occurs).

I was able to get it to work (at least so far!!) with the following

[2019-09-10 05:51] C-nit commented on #1296
I contacted the owner of the data and they are frustrated with their storage provider since the links broke twice now. He's looking for a better solution, so there might be a working official link in a few days again.

[2019-09-10 06:13] pmeier commented on #1296
@C-nit Please reopen this, if you get the new and official download link.

[2019-09-10 09:51] fmassa commented on #1169
Hi @Noiredd

Thanks for the proposal, the PR in #1315 and the discussion, and sorry for not getting back to you before.

I believe the problem mentioned in https://github.com/pytorch/vision/pull/611#issuecomment-424004523 is still valid in here.

Another example: we add a `ColorAugmentation` transform in the pipeline. This will now augment (and mess with) the segmentation masks, which is not at al

[2019-09-10 10:20] Noiredd commented on #1169
Just as you were writing this comment, I was working on a solution to this very issue :)

My idea: there are basically three cases with augmentations for segmentation:
* both transforms work the same for image and mask (e.g. `RandomCrop`),
* transform operates only on the image, leaving mask intact (e.g. `Grayscale`),
* transform uses interpolation (e.g. `RandomRotation`).

The new version of `Seg

[2019-09-10 11:49] fmassa opened #1322 "Remove C++ extensions in favor of torch operators"
Now that https://github.com/pytorch/vision/pull/1314 has been merged, there is no more need to use C++ extensions based on pybind11, we can use TorchScript-compatible extensions instead.

[2019-09-10 12:13] fmassa commented on #1304
Hi,

Thanks for opening the issue!

I think it might be better for now to add those models to TorchHub https://pytorch.org/hub .
TorchHub has been built exactly for that, to serve as a place to share newest research models in order to make it easily accessible to everyone.

The models in torchvision are a meant to be references, and we generally wait some time after the paper has been published to

[2019-09-10 12:20] fmassa commented on #1288
Hi,

We generally wait some time before adding a new model to torchvision, following what PyTorch does for new layers https://github.com/pytorch/pytorch/pull/23513

torchvision models are meant to be references, which means we can be slightly behind state-of-art, which is fine.

But I believe that having those models be present in TorchHub would be great https://pytorch.org/hub.

[2019-09-10 12:26] fmassa commented on #1247
Hi,

Thanks for opening the issue!

This is something that I believe should be handled by the dataset itself though.

Indeed, what would we want to do in this case?
- Clamp the box to be within the image?
- Discard the box?
- Raise an error and stop training?
- Something else?

For example, in the COCO dataset in https://github.com/pytorch/vision/blob/a91fe7221b55c55dbbc23c23aecf33d470a5c08e/refer

[2019-09-10 12:26] #1247 closed

[2019-09-10 12:57] fmassa commented on #1169
@Noiredd I've replied in the PR now, let's maybe keep the discussion there now? https://github.com/pytorch/vision/pull/1315#pullrequestreview-286122820

[2019-09-10 14:08] 17sarf commented on #1309
Thank you for you reply. I have done as you suggested and I am getting much better results.

[2019-09-10 14:14] 17sarf commented on #1308
Sorry, I am a bit confused. If I use the ` 2 - Modifying the model to add a different backbone` approach, I would not need to adjust
[code]

Since I am not using  the `Method 1 - fasterrcnn_resnet50_fpn` approach?  Is that correct or am I mistaken?

[2019-09-10 15:06] fmassa commented on #1308
What happens is that you are trying to pass a model which returns features for many layers, but the AnchorGenerator is expecting a single layer.
This needs to be changed.

[2019-09-11 08:46] fmassa opened #1326 "Add ONNX tests to CircleCI"
They are currently only being run in Travis. We should add something like https://github.com/pytorch/vision/blob/a91fe7221b55c55dbbc23c23aecf33d470a5c08e/.travis.yml#L51-L53 to CircleCI tests as well

[2019-09-11 13:50] #1277 closed

[2019-09-11 13:53] fmassa commented on #1307
Yes, I agree that this option should be exposed, but I was not very convinced that it should be an argument to `VideoClips` constructor.

But I don't see any better solution than that, so exposing it to the constructor might be the best thing we can do, with a default value of 1 maybe?

[2019-09-11 15:12] bjuncek opened #1327 "[fyi][video] Video clip creation fails on YFCC"
# Culprit:
known bug in H264 decoding

For certain filetypes - specifically some related to YFCC100m dataset - there is an error whilst creating the `VideoClips` object. Not 100% sure what is the best way of fixing the issue (other than try-catch in `read_video_timestamps`.

Even if the fix is not critical, we should make sure that is caught in C++ or future versions.

---

## Sample YFCC video in

[2019-09-11 16:49] shapovalov opened #1328 "Mask R-CNN example does not terminate on pytorch 1.2 and tv 0.4"
For my setup (pytorch 1.2 and tv 0.4), the default example for Mask R-CNN prediction does not terminate:
[code]
Does not matter pretrained or not, CPU or GPU.
I have traced the problem to this function call: https://github.com/pytorch/vision/blob/master/torchvision/ops/poolers.py#L134
Any thoughts why it can be the case?

[2019-09-11 19:06] kimishpatel commented on #1268
@fmassa, it seems to be an issue on some of the py3 builds also (pytorch_linux_xenial_cuda9_cudnn7_py3_NO_AVX2_test , pytorch_linux_xenial_cuda9_cudnn7_py3_NO_AVX_NO_AVX2_test). Any suggestions?

[2019-09-11 19:48] fmassa commented on #1268
@kimishpatel those seem like PyTorch builds? I think they relate to torchhub, and maybe not torchhub? Could you point to those issues?
cc @ailzhang

[2019-09-11 19:52] fmassa commented on #1328
This is weird.

I've just tried running the aforementioned script with PyTorch nightly (from today) and torchvision master and it run fine.

I don't currently have any ideas on why this is hanging. Can you try this snippet on colab and see if it works?

[2019-09-12 00:16] 17sarf commented on #1308
Thank you for your reply. I see what you mean, I misread/misunderstood your reply initially. I have made the changes you suggested and I get the following error:

[code]
Does that mean I would need to change the size of the output of `layer4` to match the 114336 size?

[2019-09-12 03:15] ganleiboy commented on #940
You can have a look at this.
https://github.com/pytorch/pytorch/issues/23585

[2019-09-12 07:37] ekosman commented on #1307
@fmassa Another option is to use ```torch.set_num_workers()```, but I don't know how this would affect the behavior of other functions. Therefore I think the best thing to do is exposing it to the constructor with the default value as you suggested.

[2019-09-12 18:19] bryanyzhu opened #1332 "Training bash for the video models"
Hi, the adoption of video in release 0.4.0 is very helpful. I was wondering will the traning bash (I mean the training recipe be made available as well)? Because right now, I can only find the `train.py` and the pre-trained models. If I want to train one myself, especially distributed training across multiple machines, the performance is not good. Maybe something is wrong with my warmup setup or l

[2019-09-13 08:56] luciagan commented on #480
Dear Shirley,

Thanks for your reply.

Best,
Lei Gan

On Sep 1, 2019, at 16:24, ShirleyLuo <notifications@github.com<mailto:notifications@github.com>> wrote:

You should not modify the "model = models.inception_v3(pretrained=True)", because if you change the code here, it will have errors in "load_state_dict".
Try:
"model = models.inception_v3(pretrained=True)
model.aux_logits = False
num_ftrs = m

[2019-09-13 15:01] fmassa commented on #1308
You'll need to change the number of input channels to the RPN as well.

[2019-09-13 16:58] fmassa commented on #1234
The non-determinism is a real complication, and I believe @fbbradheintz has hit some of those non-determinisms with a few models.

[2019-09-13 17:01] fbbradheintz commented on #1234
I've seen it with the Inception v3 model for sure. The rest seem well behaved when using default constructors and a seeded PRNG.

Once I have the deterministic models sorted out, I'll circle back to Inception and any others that need attention.

[2019-09-13 21:48] eellison commented on #1273
Would it be possible to make a decision on this ?

[2019-09-14 14:23] Anjum48 opened #1335 "MultiScaleRoIAlign creates a type mismatch when using mixed precision training with Apex"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1. Use this tutorial https://pytorch.org/tutorials/intermediate/torchvision_tutorial.html
2. Initialize the model & optimizer using `model, optimizer = apex.amp.initialize(model, optimizer, opt_level="O1")`
3. Modify `engine.py` to use a scaled loss:
[code]

## Expected behavior
There is a type mismatch here: https://github.com/pytorch/v

[2019-09-14 16:32] ShahriarSS commented on #1322
@fmassa What about the extension for tests for C++ side?

[2019-09-14 19:28] 17sarf commented on #1308
Thank you again. I have made the amendments. However, I get the following error:

[code]
It seems to work if I don't implement this change:

[code]

This is the method I am using to make the changes:

[code]

However, when I set:

[code]

It attempts to run and then after some time it will output this error: `Process finished with exit code 137 (interrupted by signal 9: SIGKILL)`

[2019-09-15 01:19] 17sarf commented on #1308
Sorry, I am also a bit confused as to what you mean by

Are you referring to this? If so, how would I change the input channels that you are referring to?

`model.rpn.head = RPNHead(256, anchor_generator.num_anchors_per_location()[0])
`

[2019-09-15 11:25] vedaldi opened #1336 "VOCDetection test set"
Hi, `VOCDetection` does not appear to allow loading the test set. It was used to be possible in v0.3.0, but now the option is explicitly rejected. Patching the option check to accept "test" as a possibility still works.

I realise that the test set should be used with care, but it is standard practice in the literature to use the VOC 2007 test set. Test sets are also needed to submit to the evalua

[2019-09-15 15:14] tczhangzhi commented on #440
I look forward to this project going on, as I always love torchvision's elegant implementation.
But for a NewBee, I think `torch.hub` works well:
[code]

[2019-09-15 23:35] ptrblck opened #1337 "save_image manipulates input tensor inplace"
Reported in forum: [topic](https://discuss.pytorch.org/t/why-do-i-get-washedout-images-when-displaying-make-grid-output/55972/2) by [Shisho_Sama](https://discuss.pytorch.org/u/Shisho_Sama).

Reason:
`save_image` manipulates the input tensor inplace in [this line of code](https://github.com/pytorch/vision/blob/6de158c473b83cf43344a0651d7c01128c7850e6/torchvision/utils.py#L104).

Code snippet to rep

[2019-09-16 06:08] pmeier commented on #1337
This was already fixed in #1244.

[2019-09-16 06:10] pmeier commented on #1336
Related to #1238.

[2019-09-16 08:17] ekosman opened #1338 "Inconsistent channels dimensions with VideoClip"
When trying to retrieve a clip using:
```video, audio, info, video_idx = self.video_clips.get_clip(idx)```

sometimes the output i get is "channels last" and sometimes it's "channels first". Ofcourse, I could verify that by checking ```video.shape[-1] == 3``` and permute the dimensions if needed, but it can cause bugs for others so I think it should be consistent and use "channels first".

[2019-09-16 10:13] ptrblck commented on #1337
Thanks for the information and sorry for not being able to find the PR :/

[2019-09-16 10:13] #1337 closed

[2019-09-16 13:05] fmassa commented on #1336
I agree with @vedaldi , and we should fix it.
There was an attempt to fix it in #1238 as pointed out by @pmeier , but it hasn't been merged yet.

I'd be happy to merge a PR fixing this behavior

[2019-09-16 13:42] fmassa commented on #1335
@Anjum48 I've sent a PR in https://github.com/pytorch/vision/pull/1341 to try to fix this, can you let me know if it works for you?

[2019-09-16 13:48] fmassa commented on #1338
This is not actually the case.

The output of `read_video` (and thus `VideoClips` is supposed to always be channels last.
We do have a transform to convert from channels first to channels last, see https://github.com/pytorch/vision/blob/6de158c473b83cf43344a0651d7c01128c7850e6/references/video_classification/transforms.py#L42-L43 and https://github.com/pytorch/vision/blob/6de158c473b83cf43344a0651

[2019-09-16 13:48] #1338 closed

[2019-09-16 13:52] fmassa commented on #1307
Yes, I agree. I'd be happy to accept a PR adding the constructor argument to `VideoClips`

[2019-09-16 13:59] #1336 closed

[2019-09-16 14:21] Anjum48 commented on #1335
Thanks for the quick PR! I'm still getting a similar error to before:

[code]
Adding my workaround above helps it get working again.

[2019-09-16 14:27] Anjum48 commented on #1335
Does this tensor need it's `dtype` set in the same manner? https://github.com/pytorch/vision/blob/master/torchvision/ops/poolers.py#L101

[2019-09-16 14:54] fmassa commented on #1335
@Anjum48 that part doesn't need a dtype I think, because we convert it to a python number just afterwards.

I'll try debugging it further then, but thanks for the heads up that this wasn't enough

[2019-09-16 15:42] fmassa commented on #1335
Found a fix, will be pushing it to that PR shortly

[2019-09-17 05:15] MitraTj commented on #477
Hi all,
I need to extract different scales of ROIs to have 7x7, 5x6, 1x1
Any help please?

[2019-09-17 11:19] fmassa commented on #477
@MitraTj just add different RoIPool layers with different output sizes.

[2019-09-18 08:19] SebastienEske commented on #424
Like [this](https://github.com/pytorch/vision/pull/1345) ?

[2019-09-18 17:38] #1335 closed

[2019-09-18 20:44] RuiWang1998 commented on #286
Did you guys use seed

Did you guys use —seed?

[2019-09-18 21:20] #1322 closed

[2019-09-19 12:13] ibtingzon opened #1350 "Mask R-CNN: Dictionary of losses for the validation set"
Based on `mask_rcnn.py`:
https://github.com/pytorch/vision/blob/master/torchvision/models/detection/mask_rcnn.py
it seems like you can track the training loss by setting `model.train()` and getting the dictionary of losses: `loss_dict = model(images, targets)`.

However, I'm interested in getting the validation loss.
When I set `model.eval()`, instead of returning a dictionary of losses, it return

[2019-09-19 16:25] fmassa commented on #1273
Given that there is no way of have a soft transition period, we will not have the hard BC-breaking change that this issue proposes.

Instead, in order to support torchscript, we might need have a different behavior for those models depending on torchscript or not.
This is not ideal, but would be a compromise.

[2019-09-20 09:16] SebastienEske commented on #9
Hello, I would really think that if each transform had its own RNG object, we could provide it with a seed and that would solve the problem. Something along the lines of
[code]
Here is a more complete code [example](https://gist.github.com/SebastienEske/1f6a280caa2b348a25210a0de303d8f2)

[2019-09-20 19:30] tgkul opened #1355 "MaskRCNN: ValueError: Does not understand character buffer dtype format string ('?')"
I was trying to train MaskRCNN on my own dataset but I get this error every time during evaluation. Even if I try to train the model on PennFudanDataset from this [link,](https://pytorch.org/tutorials/intermediate/torchvision_tutorial.html) the same error occurs. Though the code works on provided [Colab](https://colab.research.google.com/github/pytorch/vision/blob/temp-tutorial/tutorials/torchvisi

[2019-09-20 20:03] fmassa opened #1357 "Make C++-based video reader use seconds instead of pts"
The current C++ video reader takes both the video and the audio pts in the stream reference as input for decoding.
We should instead use a single global measure if possible (like seconds).

cc @stephenyan1231

[2019-09-20 20:43] fmassa commented on #1355
This is an error in `pycocotools`.

I suspect it's a problem with you environment locale.

Try checking the `locale` in colab and in your system, it might be relevant.

Given that this is not a problem with torchvision, I'm closing this issue, but let me know if you think otherwise

[2019-09-20 20:43] #1355 closed

[2019-09-20 20:46] fmassa commented on #1332
Hi,

I've used a custom training script for launching the jobs on many machines, and the scripts are not yet open source.

For information, I trained those models on 8 machines, 64 GPUs. You might need to adapt the learning rates if you change the number of GPUs.

[2019-09-20 20:50] bryanyzhu commented on #1332
Thank you for your reply. So just adapt the learning rates, do I need to do something more? Because right now, I tried linear scaling of learning rates (e.g., 8 machines, then multiply lr by 8) and warm up. But the performance is worse than single machine results (the gap is about 3 percent accuracy).  Do you have any suggestions or comments? Thank you.

[2019-09-23 02:11] I3orn2FLY opened #1360 "Finetuning Object Detection Faster R-CNN model with num_classes=1 gets me 0 predictions."
I am trying to finetune single class object detection model without segmentation (just predict boxes/scores). I was following [this tutorial](https://pytorch.org/tutorials/intermediate/torchvision_tutorial.html).

So, I create model like this:
[code]
Then, when I test on some random image:
[code]
I get following output:

[code]
What should I do? Should I proceed with num_classes=2? If yes, then ho

[2019-09-23 13:08] fmassa commented on #1360
You should add 2 classes, one for background (which should always be present) and one for the foreground object.

All the objects that you have in your dataset should have a label of 1.

[2019-09-23 13:08] #1360 closed

[2019-09-23 13:13] fmassa commented on #1350
You would need to modify the implementation to always compute the predictions, even during training.

Basically, you'll need to remove the `else` and instead always compute the predictions, so unindent this block
https://github.com/pytorch/vision/blob/367e8514c5d5e8528330081f25efeb17dd5e7ebd/torchvision/models/detection/roi_heads.py#L550-L560

If you want to do the same for Mask R-CNN (or Keypoint

[2019-09-23 13:13] #1350 closed

[2019-09-23 13:30] fmassa commented on #1332
Hey,

Sorry for the misleading information. The current implementation already multiplies by the number of GPUs in https://github.com/pytorch/vision/blob/367e8514c5d5e8528330081f25efeb17dd5e7ebd/references/video_classification/train.py#L211
so you don't need to perform learning-rate scaling yourself. Plus, warmup is already implemented as well.

Here are the arguments that I used for training (all

[2019-09-23 13:45] #1299 closed

[2019-09-23 18:38] bryanyzhu commented on #1332
Thanks a lot for the detailed answer, I will try the training gain using your recipe.

My multi-machine result is about 2% worse than the single-machine result.

[2019-09-23 18:51] fmassa commented on #1332
And how much worse is it compared to the reference models that we provided?

[2019-09-23 18:54] fmassa commented on #1307
Fixed in https://github.com/pytorch/vision/pull/1359

[2019-09-23 18:54] #1307 closed

[2019-09-23 20:00] fmassa commented on #1327
Can you see if with the new video reader from @stephenyan1231 this is still an issue?

[2019-09-23 23:11] zhanghang1989 commented on #1196
Any plan to release the search pipeline for ProxlessNAS?

[2019-09-23 23:23] ibtingzon commented on #1350
Great! If I wanted the model to return both detections and losses during both train and eval mode, would I need to comment out `if self.training` and unindent this part of the code: https://github.com/pytorch/vision/blob/367e8514c5d5e8528330081f25efeb17dd5e7ebd/torchvision/models/detection/roi_heads.py#L564-572

[2019-09-24 01:40] ibtingzon opened #1364 "Change and visualize bounding boxes for Mask R-CNN"
I'm interested in implementing rotated Mask R-CNN similar to https://github.com/mrlooi/rotated_maskrcnn.

How would I go about accessing and visualizing the bounding boxes? Any help regarding this would be highly appreciated!

[2019-09-24 03:28] ibtingzon opened #1365 "error: command 'gcc' failed with exit status 1"
I get the following error when I try to compile from source using `python setup.py install`. Any ideas on how to fix it?

running install_lib
running build_py
copying torchvision/version.py -> build/lib.linux-x86_64-3.7/torchvision
running build_ext
building 'torchvision._C' extension
gcc -pthread -B /home/issa/anaconda3/compiler_compat -Wl,--sysroot=/ -Wsign-compare -DNDEBUG -g -fwrapv -O3 -Wall

[2019-09-24 08:25] t-vi commented on #1234
Just in case: For the forwards (which seems most relevant for tracing, `nll_loss2d` and `scatter_*` are the prime suspects for non-determinism).

[2019-09-24 12:49] fmassa commented on #1365
What are your GCC version and PyTorch versions? TorchVision requires a recent-enough PyTorch (newer than 1.2)

[2019-09-24 13:38] ibtingzon commented on #1365
GCC version is:

Copyright (C) 2017 Free Software Foundation, Inc.

Pytorch version:

Version: 1.2.0
Summary: Tensors and Dynamic neural networks in Python with strong GPU acceleration
Home-page: https://pytorch.org/
Author: PyTorch Team
Author-email: packages@pytorch.org
License: BSD-3
Location: /home/issa/geoai-nbig/env/lib/python3.7/site-packages
Requires: numpy
Required-by: torchvision

[2019-09-24 14:05] fmassa commented on #1365
Yes, if you want to use torchvision from master you'll need a `nightly` release of PyTorch.

Alternatively, you can also install a binary from torchvision from version 0.4.0, which is compatible with PyTorch 1.2.

I'm closing this issue as it's expected to happen: torchvision master requires PyTorch newer than 1.2.

[2019-09-24 14:05] #1365 closed

[2019-09-24 15:01] bjuncek commented on #1332
@bryanyzhu Sorry for the delayed response.
Do you change any training parameters on multi-machine vs single machine training?

---
also for reference, training procedure in the reference implementation closely follows [the reference implementation](https://arxiv.org/abs/1711.11248), but you would have to tune the hyperparameters a bit based on a) total batch size (across all machines) and b) total

[2019-09-24 15:03] lzp0916 commented on #1002
@fmassa  dear fmassa, I am using torch.jit.trace to encounter an error as follows:
 "RuntimeError: Tried to trace <__torch__.torchvision.ops.misc.FrozenBatchNorm2d object at 0000029EB0B365E0> but it is not part of the active trace. Modules that are called during a trace must be registered as submodules of the thing being traced."
How can I solve this problem?
windows
pytorch:1.3.0.dev20190920
torc

[2019-09-24 20:11] fmassa commented on #1350
This part of the code is for masks, but yeah, you would need to remove those conditions

[2019-09-24 21:39] bryanyzhu commented on #1332
Thank you very much for your comments.

@fmassa My multi-machine result is 2.6% worse than the reference models. But I used 4 machines with 32 GPUs, maybe I need to tune some hyperparameters.

@bjuncek Yes, I have changed the total batch size and total epoch size. I also changed learning rate before. I will check these params again.

[2019-09-26 14:02] bjuncek commented on #1327
Yup - using 'video-reader' backend solves the issue.
Let me know if we want to close this or keep it open until the new backend is rolled out by default

[2019-09-26 15:09] fmassa commented on #855
Initial set of transforms for video have been added in https://github.com/pytorch/vision/pull/1353
There will still be some refactoring happening, so it shouldn't be considered to be used in its current state, but it will soon be ready for consumption.

[2019-09-26 15:17] fmassa commented on #1304
HardNet has been added to TorchHub in https://github.com/pytorch/hub/pull/54
I'm closing it for now, let's revisit adding it to torchvision in 6 months

[2019-09-26 15:17] #1304 closed

[2019-09-26 15:25] fmassa commented on #543
We have added resnext and mobilenet. I'm closing this issue and concentrating the discussion in #645

[2019-09-26 15:25] #543 closed

[2019-09-26 15:50] bjuncek commented on #1265
After more thorough examination, and help from Du et al, it seems like there is a conceptual misunderstanding of the equation regarding calculation of midplanes in their paper. Here I propose a solution (BC breaking unfortunately), and more thorough discussion:

---
### Background
In order to match the number of parameters of a "vanilla" 3D resnet, R2+1D models actually increase the number of feat

[2019-09-26 16:24] fmassa commented on #1332
@bryanyzhu one question, what do you mean by

Do you mean that, for the same model, running the evaluation on 1 machine or 4 machines gives different results?

If that's the case, then I know what the issue might be.

We perform some padding on the dataset so that the number of clips is evenly-divisible by the number of GPUs, so that results should be slightly different.

But I wouldn't expect it

[2019-09-26 18:12] fmassa commented on #1328
Ok, thanks for letting me know! So it was probably a bad interaction somewhere.
I'm closing this issue then, as it seems it's fixed with an update.

[2019-09-26 18:12] #1328 closed

[2019-09-26 18:14] fmassa commented on #940
This is an issue with incompatibility between versions of PyTorch and TorchVision. This error in particular should have disappeared in the latest version of TorchVision.

As such, I'm closing this issue, but let me know if you still face issues

[2019-09-26 18:14] #940 closed

[2019-09-26 18:20] fmassa commented on #1308
You can't use the all the pre-trained weights if you change the model architecture.

From the torchvision colab tutorial I pointed just above, you can do something like

You can build and pass the `rpn` to the constructor of `FasterRCNN`, see
https://github.com/pytorch/vision/blob/09823951fec09215f9efc5d5d31456763da5ae04/torchvision/models/detection/faster_rcnn.py#L187-L189

This error is weird, a

[2019-09-26 19:14] fmassa opened #1375 "[RFC] Add scriptable transforms"
## TL;DR

I propose that we have a separate set of functional transforms that takes a tensors as input, and returns tensors, and it should be torchscript-able.

## Background

TorchVision currently relies on PIL for most of its transforms.
While reasonably fast and widely adopted, the use of an external library it makes our transforms impossible to be traceable / scriptable.

One of the biggest dr

[2019-09-26 20:31] VesninEN commented on #566
How it can be used inside the  transforms.Compose([...])?

[2019-09-26 23:30] ekagra-ranjan opened #1380 "Possible inversion of x-axis and y-axis in crop transform"
I just realized that the crop transform in `transform/functional.py` with arguments `i`, `j`, `w` and `h` (using PIL.crop function) actually crops a rectangular portion of `w` width and `h` height, having the top left coordinate as `(j, i)`. Wouldn't it be intuitive to have the top left corner coordinates as `(i, j)`?

[2019-09-27 00:03] bryanyzhu commented on #1332
@fmassa Thank you for the heads up. But what I mean is two models: one is trained in single-machine, the other is trained using multiple machines. The model trained using multiple machines gives worse results than model trained using a single machine.

For evaluation, I only use 1 machine, so should be ok.

[2019-09-27 06:15] pmeier commented on #1380
Related to #1323

[2019-09-27 07:07] pmeier commented on #1375
@fmassa  for a [project of mine](https://github.com/pmeier/pystiche/tree/master/pystiche/image/transforms), I've implemented some transformations. From your list this includes:

- resize
- affine
- rotate
- grayscale

Take a look at it, ff you have time. Maybe we can adopt my implementation here.

[2019-09-27 08:06] ekagra-ranjan commented on #1380
Hi @pmeier ! As pointed out by @fmassa, Pillow has different ordering for width and height but I think the position of `i` and `j` are still reversed. Please check out: https://github.com/python-pillow/Pillow/issues/2729#issuecomment-425388850 for the syntax for crop in Pillow. The first 2 arguments are for the `(x, y)` coordinates for the top left corner.

If the user input `(i, j)` is in the com

[2019-09-27 08:54] sotte commented on #566
Something like this would work:

[code]

[2019-09-27 09:43] pmeier commented on #1380
IMO the current implementation is correct. I did the following to verify it:

[code]

However, we should definitely change the signature and docstring to avoid further confusion. I propose the following:

[code]

[2019-09-27 15:10] ekagra-ranjan commented on #1380
If we follow the convention of `(top, left, height, width)` then the current implementation is indeed fine. However, we have 2 choices for the naming conventions:
1)  `(top, left, height, width)`
2)  `(x, y, height, width)`

Since `top` and `left` correspond to coordinates in y-axis  and x-axis respectively, both of them are equivalent. So the only question remaining is what convention do we follo

[2019-09-27 16:01] Spandan-Madan opened #1382 "FCN Semantic Segmentation google colab not working"
When I try to run FCN semantic segmentation from Pytorch hub on the google colab link given on the page, I get an error in the first cell itself -

[code]

[2019-09-28 11:14] Huangxt57 opened #1383 "Faced AttributeError: module 'torch.jit' has no attribute 'unused' when running GoogleNet"
When I run the following code
[code]
There are some mistakes and I encounter:
`AttributeError: module 'torch.jit' has no attribute 'unused'`
And in `inception.py` line 168, there is `@torch.jit.unused`.
How can I solve this problem if I want to use your official implementation GoogleNet?

[2019-09-29 09:52] PL-96 opened #1384 "How to test my trained model on my data set"

[2019-09-29 15:51] pmeier commented on #1380
If we use `x` and `y` we need to state in which direction the box is expanding. This is clear for `top` and `left`. Thus, even for the amount of documentation both are equivalent. I think this comes down to preference.

If we go with option 2. the signature should be

`(y, x, height, width)`

to keep BC.

[2019-09-29 15:59] pmeier commented on #1384
You need to provide more information so we can help you. Do you simply want the accuracy on the test set?

- If you are a beginner, have a lookat [this official tutorial](https://pytorch.org/tutorials/beginner/blitz/cifar10_tutorial.html#) and in particular at [this section](https://pytorch.org/tutorials/beginner/blitz/cifar10_tutorial.html#test-the-network-on-the-test-data)
- If you are familiar

[2019-09-29 17:51] ekosman opened #1385 "Error while using RandomResizedCropVideo"
I started using the new video transformations by downloading the video transformations source code (seems like it doesn't appear when trying to upgrade via pip).

The transformation I'm trying to use is:
[code]
This composition raises an error while trying to transform a video clip (It doesn't happen if I remove  transforms_video.RandomResizedCropVideo(224)):

[code]

[2019-09-29 19:20] ekosman commented on #1385
Ok, ended up implementing my own RandomResizedCropVideo transform and now it works, I'll try looking for the problem tommorrow

[2019-09-29 20:44] ekagra-ranjan commented on #1380
I guess we can leave it as it. You may proceed to change the documentation as you mentioned earlier or if you want I can do it in case you are busy at the moment.

[2019-09-29 21:28] vinayhpandya opened #1386 "for training on custom dataset"
for training on custom dataset do i need to change its format which resembles like that of COCO or
pascal

[2019-09-30 06:11] pmeier commented on #1380
I can send a PR, if the documentation change is OK for @fmassa

[2019-09-30 08:52] pmeier commented on #1386
Please provide more information so we can help you:

- Is it an image dataset?
- Is it an image detection dataset?
- Do you store the individual images on your drive or are they wrapped in some container?
- How does your training loop look like?

A good start is [this official tutorial](https://pytorch.org/tutorials/beginner/data_loading_tutorial.html).

[2019-09-30 09:06] fmassa commented on #1382
Hi,

If you use PyTorch Hub, you'll need to install a nightly version of PyTorch for the models to work.

Alternatively, torchvision supports FCN for segmentation with pre-trained weights, so you can use just it without needing torchhub.

This issue is discussed in https://github.com/pytorch/hub/issues/55 , so I'm closing it in favor of the issue in torchhub

[2019-09-30 09:06] #1382 closed

[2019-09-30 09:25] fmassa commented on #1380
@pmeier the doc improvements that you proposed in https://github.com/pytorch/vision/issues/1380#issuecomment-535871094 are great, it would be great if you could send a PR improving it

[2019-09-30 09:48] fmassa commented on #1385
Note that `RandomResizedCropVideo` is not yet officially supported, and there will be BC-breaking changes with it before the next release.

[2019-09-30 12:22] fmassa opened #1389 "RoiPoolTester.test_roi_pool_gradcheck_cpu is flaky"
See https://circleci.com/gh/pytorch/vision/18970?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

[code]

[2019-09-30 12:25] #1380 closed

[2019-09-30 12:28] fmassa commented on #1375
@pmeier that looks like a great starting point, yes, we can use yours as a starting point!

cc @xiuyanni for awareness

[2019-09-30 12:31] fmassa commented on #1383
Hi,

TorchVision master now requires a recent enough version of PyTorch.
One thing you can do is to use `torchvision.models.googlenet`, or update your PyTorch installation.

Also, see https://github.com/pytorch/hub/issues/55 for more discussion about this problem (which is in TorchHub, and not in torchvision).

As such, I'm closing this issue, but feel free to continue the discussion at that issue

[2019-09-30 12:31] #1383 closed

[2019-09-30 12:35] fmassa commented on #1384
Closing following the comments from @pmeier .

[2019-09-30 12:35] #1384 closed

[2019-09-30 12:52] Laowai01 opened #1390 "Error during the compilation of torchvision from source, i have compiled pytorch 1.1 version from source even upgraded the gcc version 6. yet unsuccessful. looking forward to the solution. thanks."
[code]

[2019-09-30 13:01] fmassa commented on #1390
Hi,

Just FYI TorchVision from master requires PyTorch from a nightly version, so it will not work with PyTorch 1.1 (nor 1.2).

This error is different though, and it seems that your GCC doesn't support C++14.

@stephenyan1231 is C++14 a requirement to your extension, or can it be removed?

[2019-09-30 13:38] fmassa commented on #1221
Fixed via https://github.com/pytorch/vision/pull/1331

[2019-09-30 13:38] #1221 closed

[2019-09-30 13:40] fmassa commented on #566
@sotte do you think this snippet could be added somewhere in torchvision? Maybe in the documentation of `rotate`?

[2019-09-30 13:42] fmassa commented on #1332
Ok, thanks for the info.

So from your previous messages it seems that the single-machine training gives 0.6% lower results than the reference models, is that right?

@bjuncek would this be considered within error or not?

[2019-09-30 13:44] fmassa commented on #1386
Another great tutorial is https://pytorch.org/tutorials/intermediate/torchvision_tutorial.html , which shows you how to adapt a custom dataset to instance segmentation, finetuning from a model pre-trained on COCO.

If you have further questions, please open a new issue with the information that @pmeier has outlined in his message.

[2019-09-30 13:44] #1386 closed

[2019-09-30 13:46] fmassa commented on #286
@RuiWang1998 for newer models, they have implemented using the training scripts from https://github.com/pytorch/vision/tree/master/references , and we do not fix the random seed by default.

[2019-09-30 13:50] fmassa commented on #1364
Hi @ibtingzon,

Can you give some more details on what you mean by accessing and visualizing the bounding boxes? Without further information on what you are looking into doing, it's a bit complicated to help you.

Also, it looks that from the repository you linked everything you need is already implemented, so why not start with it?

[2019-09-30 13:58] sotte commented on #566
@fmassa Um, if you think it's helpful, sure :)

If we add this we should maybe just document the general procedure how you can use `TF` to build your own transform classes (and use the example from above).

I guess I could add it to https://pytorch.org/docs/stable/torchvision/transforms.html#functional-transforms.

I can create a PR (let me know if want something specific), but you can also just a

[2019-09-30 14:22] fmassa commented on #1265
Removing `midplanes` sounds good to me (although it's a BC-breaking change). This is how the original model is meant to be implemented, right?

I didn't quite understand why the proposed solution would change the model anyhow though.
Wouldn't this be just moving
https://github.com/pytorch/vision/blob/17e355f70267e0e01f7c4355a75d46b76f55b5aa/torchvision/models/video/resnet.py#L87
to https://github.

[2019-09-30 14:23] fmassa commented on #566
I think a note in the documentation of the functional interface, explaining that it gives full flexibility sounds like best thing to do, with an example for a particular case, like the rotation that you proposed just above

[2019-09-30 14:26] qwerty-dotcom opened #1391 "The detection accuracy of the R-50-FPN Mask R-CNN is lower than reference"
Hi @fmassa , thanks for all the super helpful code.
I am trying to use the detection script in: https://github.com/pytorch/vision/tree/master/references/detection to train R-50-FPN Mask R-CNN.
When I re-train the detection AP is only 35.5, which should be 36.8 according to the reference model zoo.

I am using:
python 3.6.8
torch version 1.2.0
torchvision version 0.4.0
CUDA version 10.0.130

I have

[2019-09-30 14:27] fmassa commented on #1327
Let's keep this open, we can probably fix it on the PyAV-based `read_video`. I think it might just require adding a proper `try: except` there. Could you have a look at it and see if we can catch it nicely?

[2019-09-30 14:39] bjuncek commented on #1265
Yes. Or at least that's how it is implemented in the repo of the original paper.

---

Because if you define it as it is now you have the same midplanes value for every convolution in every block, but in reality (i.e. their implementation) that's not the case.

Since example is worth a thousand words, imagine a fictional r25d that has multiple simpleblocks in first res block. `mp_ours` defines the

[2019-09-30 14:41] bjuncek commented on #1265
Yes, but up to the 3rd significant digit (the num parameters in caffe2 is given as 33.8M), which allows for quite a lot of variation. This is not a "major" difference in num of parameters, but enough to not make it compatible with Caffe2 pretrained models

[2019-09-30 14:42] fmassa commented on #1391
This is weird.

I've reproduced the results using the commands from https://github.com/pytorch/vision/issues/1140#issuecomment-513386987

[code]
and took the best model (which was at epoch 22)

I also noted that you changed the global batch size, as you are using 6 imgs per GPU for 6 GPUs (total batch size of 36), while we trained our models on 2 imgs per GPU on 8 GPUs, which is a batch size of 16

[2019-09-30 14:46] bjuncek commented on #1332
This is possible - multiple machines allow for larger batch sizes and there is some loss of precision in gradient averaging. It could probably be solved with much finer HP tuning (like separate params for BN, ...) which we never really explored too much.

I'd say that this is within the tolerance for all practical purposes.

[2019-09-30 14:48] fmassa commented on #1265
Ok, sounds good.

As this is a BC-breaking change, I believe we should do something similar to what we did for MNasNet in https://github.com/pytorch/vision/pull/1224, with the `_version` attribute, if it's not too much of a trouble.

[2019-09-30 14:48] bjuncek commented on #1327
S.G.

@fmassa yeah, but probably not before Wednesday :|

[2019-09-30 14:48] fmassa commented on #1327
no worries

[2019-09-30 14:51] bjuncek commented on #1265
Yeah, I'll take a stab at that

[2019-09-30 17:28] bryanyzhu commented on #1332
@fmassa Yes, you are right. Single-machine training gives 0.6% lower results than the reference models.

[2019-09-30 18:59] ekosman commented on #1385
Ok
BTW, I think more transformation should be added (e.g. RandomRotation, Affine etc...).
Another cool idea for video transformation would be slow-motion (or speed up). However, I think it would be too complicated

[2019-09-30 20:35] praveenkumarchandaliya opened #1395 "How to Crop single image before calling torchvision.utils.save_image, If I am using PIL lib Image.crop(....) method then image quality degrade."
vutils.save_image(fixed_fake.data,outputpath , normalize=True)

    print("output path",outputpath)
    img = Image.open(outputpath)
    noOfRow = 5
    noOfColumn = 8
    x1 = 2
    y1 = 2
    x2 = 130
    y2 = 130
    folder = file_batch

    for i in range(0, noOfColumn):
        dest_dir = file_batch[i].split("/")[7]
        if not os.path.exists(outf+"/"+dest_dir):
            os.mkdir(outf+"

[2019-10-01 06:03] sotte commented on #566
I'll send the PR later today.

[2019-10-01 07:02] pmeier commented on #1395
What does degrade mean for you? Are you seeing compression artifacts for example from saving the image as `.jpg`? If that is the case try to save it in a format without compression:

[code]

If that does not solve your problem you need to provide more information for us to help you.

[2019-10-01 08:06] LukasBommes opened #1397 "CPU implementation for Position-sensitive ROI Pool/Align (#1259)"
I'm working on the CPU fallback for Position-sensitive ROI Pool/Align layers as in PR #1259.

The current version can be found here: https://github.com/LukasBommes/vision/tree/ps_roi_align_cpu

The CPU version of PSROIPool works already fine. All tests in test/test_ops.py run smoothly, including newly added tests for the CPU version.

However, with the PSROIAlign I encounter the problem that alway

[2019-10-01 08:10] danFromTelAviv opened #1398 "when is 0.5.0 expected to be released ?"
I would like to use the imagenet dataset.
When I try to install using setup.py I get the following error:
[code]

It seems like 0.5.0 has been in the oven for a few months now and I would rather wait for a stable pip install if it's coming soon.

Thanks for all your hard work on behalf of the community.

[2019-10-01 08:54] fmassa commented on #1397
Hi,

First question: did you try cleaning (i.e., removing the build folder) and trying installing again? Maybe there is some artifact from a previous install?

[2019-10-01 09:20] danFromTelAviv commented on #1398
i have 0.4.0 installed
i get the following error
"'module \'torchvision.datasets\' has no attribute \'Imagenet\''"

[2019-10-01 09:22] LukasBommes commented on #1397
Hey fmassa,

thanks for your reply!
I am building with `pip install -v .` in the 'vision' root directory inside a docker container. The code is mapped via docker volumes into the container and the changes to the code are visible inside the container immediately. I deleted all elements from previous builds. So, there are no files and directories such as `build`, `torchvision.egg-info`, `*.so`, `ver

[2019-10-01 09:44] pmeier commented on #1398
That is because it is titled `ImageNet` with a capital `N`. See the [official documentation](https://pytorch.org/docs/stable/torchvision/datasets.html#imagenet) or the [implementation in v.0.4.0](https://github.com/pytorch/vision/blob/v0.4.0/torchvision/datasets/imagenet.py):

https://github.com/pytorch/vision/blob/a1ed206ff422f7e9a49c63d4b507ec3aa5fb770d/torchvision/datasets/imagenet.py#L26-L27

[2019-10-01 09:57] AlexLabram commented on #1018
Contra @fmassa's comment, I'm not seeing any windows binaries for torchvision 0.4.0.  As of time of posting, the [webpage](https://pypi.org/project/torchvision/0.4.0/#files) has wheels for macosx and manylinux only, not win_amd64 (my system), and pip is not having any more luck.  So I'm still SOL when it comes to using torchvision.

Apologies if this bug report is the wrong place to raise this; I'

[2019-10-01 10:03] danFromTelAviv commented on #1398
perfect - that works! Thank you very much!

[2019-10-01 10:04] AlexLabram opened #1399 "Torchvision 0.4.0 has no wheels for win_amd64"
Configuration:
- Windows 10 Enterprise (64-bit)
- python 3.7.4
- pip 19.2.3

I'm trying to resolve issue #1018 on my system by upgrading from Torchvision 0.3.0 to 0.4.0.  However, attempting to run `pip install torchvision` in an admin console just leaves me with v0.3.0.

On investigation, PyPI currently only has `macosx` and `manylinux` wheels for this version (see page [here](https://pypi.org/pr

[2019-10-01 10:13] fmassa commented on #1398
FYI, the next release of torchvision should be out by the end of the month, but it might be named 0.4.1 instead of 0.5, TBD.

I'm closing the issue, but let us know if you have further questions

[2019-10-01 10:13] #1398 closed

[2019-10-01 11:05] peterjc123 commented on #1399
They are able to be installed using the steps on pytorch.org.
As for the reason why they are not hosted on PyPI, maybe @soumith can tell you more details.

[2019-10-01 11:08] peterjc123 commented on #1399
I am going to close this because the statement on the topic is not true.

[2019-10-01 11:08] #1399 closed

[2019-10-01 11:34] AlexLabram commented on #1399
Hi @peterjc123.  Thanks, the more detailed `pip install` command given on the PyTorch page worked.  Apologies for not picking up on this myself; I've never had to use pip's `--find-links` option before.

I'd be interested to hear (e.g. from @soumith) if there's a reason the wheels didn't make it as far as PyPI, but that's no longer a blocking issue for me.

[2019-10-01 13:31] fmassa commented on #1397
Here is my hint: change the name of [`PSROIAlignForward`](https://github.com/LukasBommes/vision/blob/5b87e623aba632500fc881a84b1ddf4be161eb45/torchvision/csrc/cpu/PSROIAlign_cpu.cpp#L65) so that they differ for [CPU](https://github.com/LukasBommes/vision/blob/5b87e623aba632500fc881a84b1ddf4be161eb45/torchvision/csrc/cpu/PSROIAlign_cpu.cpp#L65) and [CUDA](https://github.com/LukasBommes/vision/blob/

[2019-10-01 13:36] fmassa commented on #1018
@AlexLabram wheels are available for windows according to the comments in #1399

[2019-10-01 15:45] LukasBommes commented on #1397
Thanks for the tip. I'll try it out tomorrow and report if it worked.

[2019-10-01 22:51] Lyken17 commented on #1196
@zhanghang1989 Sure, we love open source. The searching code is now released on the same [git repo](https://github.com/mit-han-lab/ProxylessNAS).

@fmassa Sorry for coming back late, was rushing for ICLR in last few weeks .

As for the training settings, we are using

1. The standard data preprocessing (color jitter, random crop, random flip)
2. Learning rate warmup for first 5 epochs (to better f

[2019-10-02 00:13] praveenkumarchandaliya commented on #1395
![ImageQualityQuestion](https://user-images.githubusercontent.com/27194129/66009308-f85be280-e487-11e9-850a-b018de1eb6b4.png)

[2019-10-02 00:31] praveenkumarchandaliya opened #1403 "GAN + Pytorch Data Loader relatedQuestion Train and Test Time different data loader methdo use the quality of image is not same."
Training Time :  GAN base model I have train using **PyTorch data loader Directory(class)** structure use. Out put is save using vutil.save_grid(-,-,-) method of PyTorch lib. and save result of generated faces in  grid(8*5). or 40 face images in (8*5).  Generated Quality of images is very good.

Test Time :  I am **Not using  PyTorch data loader Directory(class)**  concept. I have load image using

[2019-10-02 01:28] LukasBommes commented on #1397
@fmassa: That was indeed the solution. I changed the function names in csrc/cpu/PSROIPool_cpu.cpp and csrc/cuda/PSROIPool_cuda.cu and now it works. I'll finalize the code and create a new PR.

[2019-10-02 01:59] LukasBommes commented on #1389
I encountered the same error message when implementing the PSROIPool for CPU. It occured when the implementation of the forward method was faulty. Once the forward method was correct this error disappeared. But not sure if it applies here since you probably didn't touch the forward function of the RoIPool, isn't it?

[2019-10-02 02:32] Huangxt57 commented on #1383
Thank you very much~

[2019-10-02 05:39] #1332 closed

[2019-10-02 07:07] pmeier commented on #1395
So you have a mini-batched tensor `BxCxHxW`, for example `B == 5` for 5 `images`, and you want to save each image individually? In that case I would simply [`split`](https://pytorch.org/docs/stable/torch.html#torch.split) the tensor instead the grid of images:

[code]

[2019-10-02 07:10] pmeier commented on #1403
I'm not sure if this is different than #1395. Lets fix the other issue first and see if it resolves this as well.

[2019-10-02 08:30] qwerty-dotcom commented on #1391
Thx for the help! It was indeed a problem regarding the number of GPU and the batch size ^^'.  Training with 4 GPU and 4 images per GPU worked.

[2019-10-02 08:30] #1391 closed

[2019-10-02 08:45] soldierofhell opened #1405 "No such operator torchvision::nms"
Hi,

I'm get an error when I try to use new torch.ops, e.g.
[code]
results in
[code]

No matter if I use nightly build or master clone, e.g.
`pip install --pre torch torchvision -f https://download.pytorch.org/whl/nightly/cu100/torch_nightly.html`

How to debug setup.py to track where comilation/loading fails?

[2019-10-02 11:07] fmassa commented on #1405
Hi,

There is currently a problem with the torchvision wheels for the nightlies, they haven't been updated in more than 10 days.

The error you are getting indicates that you haven't compiled the new torchvision extensions.
For that, you should clone the repo, uninstall torchvision, remove any potential pre-built version (via `python setup.py clean`), and then re-install it with `python setup.py i

[2019-10-02 11:08] fmassa commented on #1391
Cool, glad it worked

[2019-10-02 11:09] fmassa commented on #1389
The offending PR didn't touch RoIPool, so I think this might be due to some flakiness somewhere.

[2019-10-02 12:10] fmassa commented on #1196
@Lyken17 sounds good, thanks a lot for the information!

Can you first send a PR to torchhub https://github.com/pytorch/hub adding your models? I think it would be a better fit for now, and then we can reconsider adding ProxylessNAS into torchvision in a few months.

[2019-10-02 12:12] fmassa commented on #1385
@ekosman more spatial transformations (like rotation, affine etc) will be added.
Temporal transforms (slow-motion e.g.,) have not yet been considered, but it might deserve a separate issue for discussion.

[2019-10-02 14:12] fmassa opened #1406 "[RFC] Abstractions for segmentation / detection transforms"
This is a proposal. I'm not sure yet it's the best way to achieve this, so I'm putting this up for discussion.

## tl;dr

Have specific tensor subclasses for `BoxList` / `SegmentationMask`, `CombinedObjects` , etc, which inherits from `torch.Tensor` and overrides methods to properly dispatch to the relevant implementations. Depends on `__torch_function__` from https://github.com/pytorch/pytorch/is

[2019-10-02 15:36] soldierofhell commented on #1405
@fmassa, unfortunatelly it still doesn't work even on clean simple install path
[code]
I don't see any signs of errors during compilation process

[2019-10-02 15:48] soldierofhell commented on #1405
Ok, I see a problem in
https://github.com/pytorch/vision/blob/bf8595798eaccbaffb6c04db11406426eb1b3800/torchvision/ops/boxes.py#L31
Should there be `return torchvision.ops.nms(boxes, scores, iou_threshold)`?

[2019-10-03 04:06] SebastienEske commented on #1406
Hello,
If I understand correctly, this proposal implies to

- Create the class `CombinedObject`
- port all transforms so they can apply to several inputs contained in the `CombinedObject` class
- implement new classes for specific tensor types (`SegmentationMask`, etc)
- these new classes should also contain the implementation for basic transforms

I am not sure that combining transforms and the o

[2019-10-03 07:30] soldierofhell commented on #1405
Sorry, I messed up sematics. torch.ops.torchvision.nms is internal for loaded op and torchvision.ops.nms is external for python wrapper

[2019-10-03 08:35] sotte opened #1409 "Add examples of transformation to docs"
# Problem
`torchvision` has quite a few transforms, but I often find myself using the wrong one because the I misread/just skimmed the doc strings.

# Solution
I'm suggesting to add examples / visualizations for each transform. This way it's easier to know what a given transform does.

After this improvement there should be an example (maybe a few where it makes sense) for each transform in the do

[2019-10-03 09:46] XuYunqiu commented on #477
Hi all, I would ask is there any implementation of an average version of ROI Pooling?
I find existing ROI Pool is only implemented with max pool.

[2019-10-03 09:48] fmassa commented on #477
@XuYunqiu there is `RoIAlign`, which performs bilinear interpolation (instead of max).
Would that be ok for your use-case?

[2019-10-03 09:56] SebastienEske commented on #1406
PS: if you absolutely want to have one transform taking several inputs, we could have a `BundleTransform` with the above proposed transforms
[code]

[2019-10-03 13:21] fmassa commented on #1409
I think this is a great idea!

[2019-10-03 17:11] a-maci opened #1412 "Train inception v3 to 77.45 Top-1"
For Inception_v3, the model provided by torchvision has top-1 accuracy of 77.45%. However, accuracy using the training scripts (in classification folder) barely reaches 77% top-1 (+-0.1% with different seeds).
Is the pre-trained model provided on the website trained from scratch using the torchvision training script? If not, any idea what changes need to be done to model and/or hyper-params to get

[2019-10-03 18:07] colesbury commented on #1412
No, inception_v3 uses the weights from Google's pre-trained model.

A few possible sources of differences:

1) Train for longer. Maybe 120 epochs instead of 90 (if that's what you're doing).

2) We might be incorrectly scaling inputs. See https://github.com/pytorch/vision/issues/926. Although, I'd expect this to be more of a difference for evaluating a pre-trained model than one trained from scrat

[2019-10-03 18:12] fmassa commented on #1412
As @colesbury mentioned, inception v3 weights have been ported from Google's pre-trained model.
IIRC, they also use auxiliary classifiers to improve training of the model.

I haven't tried myself to reproduce the training of their models, but the hints from @colesbury would definitely bring you closer.

[2019-10-03 18:16] colesbury commented on #1412
@a-maci I think it would be valuable for the community to have the knowledge/code to train Inception v3 from scratch. So if you figure out more, please post.

[2019-10-03 18:29] sotte commented on #1409
Just a few comments:
We could use the`"matplotlib.sphinxext.plot_directive"` extension from [here](https://matplotlib.org/3.1.1/devel/plot_directive.html).
Then for each transform something like this would do the trick and render a nice little plot:
[code]

[2019-10-04 06:22] XuYunqiu commented on #477
@fmassa Thanks for your quick reply. Actually, I just want to get the mean values of each ROIs.
So can I use ROI Align like this `roi_align(conv_feat, rois, 1, spatial_scale=1.0/stride, sampling_ratio=-1)` ?

[2019-10-04 06:43] varunagrawal commented on #477
I've actually been considering adding average pooling as an option to the ROI operations. It's not hard and allows for some nice generalization.

[2019-10-04 07:14] XuYunqiu commented on #477
Exactly, it will be helpful.

[2019-10-04 11:45] fmassa commented on #477
@XuYunqiu yes, that is going to be doing roughly what you are looking for

[2019-10-04 11:49] swathipai13 opened #1414 "from torchvision.models.detection.faster_rcnn import FastRCNNPredictor builtins.ModuleNotFoundError: No module named 'torchvision.models'; 'torchvision' is not a package"
Have tried all of the methods. The torch vision is installed successfully.Some attachments that say.
![Screenshot from 2019-10-04 17-09-49](https://user-images.githubusercontent.com/28557076/66204998-dd78b080-e6c9-11e9-943a-cc8efbe7cd55.png)
Need help. Any other way only torch vision models can be installed?

[2019-10-04 11:51] fmassa commented on #1414
Hi,

You are following the wrong installation instructions. You installed a very old version of torchvision (0.1.8), which doesn't have those models (and uninstalled 0.4 on the way)

I'd recommend doing
[code]
and then follow the instructions in https://pytorch.org/get-started/locally/
[code]

[2019-10-04 11:54] fmassa commented on #1409
This seems pretty clean and extensible! And also, updating the function behavior would be very simple.

I'd recommend fixing the random seed for each plot, to avoid regenerating a new image every time the docs are generated.

[2019-10-04 11:55] swathipai13 commented on #1414
Hi,

tried that. Still the same error!

"from torchvision.models.detection.faster_rcnn import FastRCNNPredictor
builtins.ModuleNotFoundError: No module named 'torchvision.models';
'torchvision' is not a package"

On Fri, Oct 4, 2019 at 5:22 PM Francisco Massa <notifications@github.com>
wrote:

[2019-10-04 11:57] swathipai13 commented on #1414
Hi,

tried that. Still the same error!

"from torchvision.models.detection.faster_rcnn import FastRCNNPredictor
builtins.ModuleNotFoundError: No module named 'torchvision.models';
'torchvision' is not a package"

On Fri, Oct 4, 2019 at 5:22 PM Francisco Massa <notifications@github.com>
wrote:

[2019-10-04 11:58] swathipai13 commented on #1414
open #1414

[2019-10-04 12:02] swathipai13 commented on #1414
Even tried for the latest torch vision.

pip install torchvision==0.4

[2019-10-04 12:22] XuYunqiu commented on #477
But it might not work well with ROIs with a large area. I think the  output using bilinear interpolation only relevant to a quite local context of the sample location (i.e., the center of ROIs in my case).

[2019-10-04 13:19] fmassa commented on #1414
Can you do `torchvision.__version__`? This will probably indicate that you are using an older version.

You probably have a conflict in your system, and the solution is to remove all instances of torchvision that you currently have, and re-install.

[2019-10-04 13:20] fmassa commented on #1409
It will probably regenerate the images, but they might be almost identical, so the diff size would be fairly small?

[2019-10-04 14:51] swathipai13 commented on #1414
so here is an attachment. I am using latest version of torch vision
![Screenshot from 2019-10-04 20-21-10](https://user-images.githubusercontent.com/28557076/66217229-89c79080-e6e4-11e9-9a80-61729da87a3a.png)
, under packages.

[2019-10-04 14:51] swathipai13 commented on #1414
Reopened #1414

[2019-10-04 15:07] Noiredd commented on #1406
Previously the transform objects were responsible for actually performing the transformation. You propose to move this logic to the objects that hold data. In your pipeline, `Compose` executes a `Transform` on some object representing data; `Transform`, instead of directly executing a function from `tv.transforms.functional`, now calls a member function of the received object. If that object happe

[2019-10-04 15:46] fmassa commented on #1414
This doesn't mean that your installation is using the latest version of torchvision.

Can you do
[code]
and try installing again? That is most probably a conflict with your install.

I'll keep the issue open due to your request, but I've just now re-compiled torchvision and everything works fine

[2019-10-04 17:45] fmassa commented on #1406
Thanks @SebastienEske and @Noiredd for your feedback!

I agree with @Noiredd points about the master-worker approach proposed by @SebastienEske (and the param-based approach) , in particular

To answer @Noiredd questions

Great question, and I see two different cases here.

If you live out-of-tree (i.e., not modifying torchvision), I would imagine that the user would implement a new transform by h

[2019-10-04 18:31] swathipai13 commented on #1414
This worked! Thank you! I guess I myself had to close it!
![upload](https://user-images.githubusercontent.com/28557076/66230914-dae67d00-e702-11e9-941d-663610df19cb.png)

[2019-10-04 18:31] swathipai13 commented on #1414
-

[2019-10-04 18:31] #1414 closed

[2019-10-05 07:10] sotte commented on #1409
I'll run a bunch of experiments and get back to you.

[2019-10-05 11:40] le1nux opened #1415 "Found possible security issue. How should I report it?"
I found a possible security issue in this repository.
How would you like me to share it with you?

Best regards
Max

[2019-10-05 12:07] PyExtreme commented on #1409
@sotte , Can I please pick this up? I am interested to contribute to PyRorch and this could be a good starting point.

Thanks

[2019-10-05 12:12] fmassa commented on #1415
Thanks for opening this issue.

Let me discuss with @soumith first and then I'll get back to you.

[2019-10-05 14:24] fmassa commented on #1415
Can you send me an e-mail to `[my-github-username]@fb.com`, where you replace `[my-github-username]` with my user name?

[2019-10-05 15:02] le1nux commented on #1415
Sure. I just sent you the email.

[2019-10-05 15:06] sotte commented on #1409
**Proposal:**
In order to reduce boilerplate code in the examples for the transforms add two helper functions:
- Add `example_image()` helper function to `torchvision.utils` that loads the Grace Hopper image which is already used in tests.
- Add `plot_images()` helper function to `torchvision.utils` similar to make_grid().

With the helpers in place it's quite easy to add interesting examples for

[2019-10-05 15:09] sotte commented on #1409
@PyExtreme sorry, I just saw your comment. I'm already in the process of implementing this :( I'm sure we can find you another ticket to get you started contributing to pytorch.

[2019-10-05 16:16] fmassa opened #1416 "Implement Deformable Convolutions"
Discussion in https://github.com/pytorch/pytorch/issues/15864

The operator should have both CPU and CUDA implementations.

[2019-10-05 17:26] PyExtreme commented on #1409
@sotte , please do let me know so that I can get started with it.

[2019-10-06 03:12] XuYunqiu commented on #477
@fmassa Hi, sorry to bother you again. Would you mind to tell me which mode (average or max pool) is selected in `RoIAlign` calculating the output based on the value of several sampled pointes?
I find there are `RoIAlignAvg` and `RoIAlignMax` in former implementation. But I don't find any information about this in the documents of torchvision version `RoIAlign`.

[2019-10-06 04:03] XuYunqiu commented on #477
I‘ve gotten my answer from the source code.
https://github.com/pytorch/vision/blob/76702a03d6cc2e4f431bfd1914d5e301c07bd489/torchvision/csrc/cuda/ROIAlign_cuda.cu#L108

I really hope `RoIPool` and `RoIAlign` in torchvision could keep both `average` and `max` mode for convenient usage.

[2019-10-06 14:35] Ridhwanluthra commented on #1416
I am familiar with the DCN implementation in mmdetection and I would be happy to include that in torchvision. Please let me know if no one else is working on it.

[2019-10-06 16:42] fengliu90 opened #1419 "Found an issue of save_image if the type of input is torch.unit8"
I found that save_image will not give normal image if the type of input is torch.unit8.

# Data source
"cifar10.1_v4_data.npy" in https://github.com/modestyachts/CIFAR-10.1/tree/master/datasets

# Load data code

from torchvision.utils import save_image
import numpy as np
import torch
data_new = np.load('./data/cifar10.1_v4_data.npy') # the range of data_new is 0-255
data_T = np.transpose(data_new

[2019-10-07 05:18] fmassa commented on #1416
@Ridhwanluthra no one else is currently working on it, so contributions are more than welcome!

Note that it should now ideally follow the approaches that we have in torchvision for custom operators, which allow them to be part of torchscript graph, see https://github.com/pytorch/vision/pull/1348 for an example

[2019-10-07 05:21] fmassa commented on #1415
Discussed this on e-mail.

[2019-10-07 05:21] #1415 closed

[2019-10-07 05:34] fmassa commented on #1409
@sotte that's a great proposal!

Here are my thoughts:

### `example_image()` and `plot_images()` in `torchvision.utils`

What about naming them with an underscore in the beginning to indicate that they are private? Also, the Grace Hopper image is available under `test/assets` I believe, which is not installed with torchvision, so this would mean that we would need to move the image somewhere else

[2019-10-07 06:59] pmeier commented on #1419
Right now `torchvision` supports only `torch.FloatTensor` within the interval `[0, 1]`. You can use [`torchvision.transforms.functional.to_tensor()` ](https://github.com/pytorch/vision/blob/a141363fb699c6c3b70e6f5a683761bc18d3dcd6/torchvision/transforms/functional.py#L42) to convert your `numpy` image into a tensor that represents an image. This automatically handles the conversion form `uint8` to

[2019-10-07 07:09] batman-far opened #1422 "please add other detectors"
Please add other detectors like SSD.

[2019-10-07 07:20] pmeier commented on #1406
Sorry for the late reply, but at this point I don't have much to add. Also, I think my understandig of the bigger picture is not clear enough to give reasonable suggestions. However, if you need help implementing (even for experimenting) anything, feel free to CC me again.

[2019-10-07 11:12] SebastienEske commented on #1406
Hello,

I am ok with whatever approach you choose to use but, considering the amount of change, it's probably good to be aware of the limitations that the one your are proposing has. Allow me to play the devil's advocate one more time ;-):
- currently one can combine transforms in any way one wishes, if the transform implementation lies in the transformed/content class, then combining them is rest

[2019-10-07 12:24] nikhilchh commented on #1062
Even though downgrading to torchvision 0.2.2 solved that issue. But in my case i need mobilenet which is only available in version 0.3.0.
Can someone please help me solving this issue ?
torch version 1.1.0
torchvision 0.3.0
OS: WINDOWS

Importing torchvision leads to the issue:
**from torchvision import _C
ImportError: DLL load failed: The specified module could not be found.**

[2019-10-07 12:54] peterjc123 commented on #1062
@nikhilchh Are you using the nightly one or the stable one? If you are using the nightly one, please use torchvision 0.4.0 instead. Or, you could just update to pytorch 1.2.0 and torchvision 0.4.0.

[2019-10-07 13:20] nikhilchh commented on #1062
As conda installation was unsuccessful so I had to download whl file manually for pytorch. And I could not find for 1.2 pytorch whl file. So I ended up with 1.1 pytorch cp36 cpu.
After that I tried to install torchvision (pip install torchvision). And to me it seems like 0.4.0 is not available for windows. So I had to settle with 0.3.0.

[2019-10-07 13:39] peterjc123 commented on #1062
Please use the commands on https://pytorch.org. We didn't host the Windows wheels on PyPI.

[2019-10-07 13:46] nikhilchh commented on #1062
It is not working with pip or conda commands that I get from that website. (Tried both stable and nightly)
This is the error I get:
Collecting package metadata (current_repodata.json): failed

CondaHTTPError: HTTP 000 CONNECTION FAILED for url <https://conda.anaconda.org/pytorch/win-64/current_repodata.json>
Elapsed: -

An HTTP error occurred when trying to retrieve this URL.
HTTP errors are often

[2019-10-07 13:58] peterjc123 commented on #1062
@nikhilchh Maybe your HTTPS connection gets interrupted due to some unknown reasons. Would you please download the following two wheels and then `pip install ...`?
1. https://download.pytorch.org/whl/cpu/torch-1.2.0%2Bcpu-cp36-cp36m-win_amd64.whl
2. https://download.pytorch.org/whl/cpu/torchvision-0.4.0%2Bcpu-cp36-cp36m-win_amd64.whl

[2019-10-07 14:35] nikhilchh commented on #1062
@peterjc123  Thanks a lot. That was really helpful :) Solved my problem.

[2019-10-07 19:08] arcrank opened #1425 "Add ability to train on negative segmentation examples"
Most use cases for training segmentation networks require both an instance of a _positive_ and _negative_ class. However, certain problems such as a binary detection and segmentation of multiple instances of the same class would benefit from the ability to feed network negative examples so it knows what not to select.  For the mask rcnn torchvision implementation I cannot find way to do this.  Sim

[2019-10-07 19:45] sotte commented on #1409
I created the PR #1426.

[2019-10-08 03:40] SebastienEske commented on #1406
Well... I may have a better solution than the master/slave. Only I am surprised that it was not proposed before. Maybe it was and there is something wrong with it. I guess you'll tell me. Why not allow a transform to take lists of parameters and inputs?

[code]
If a parameter is already a list we can simply test if it has become a list of lists.

And we don't need to rewrite `transforms.Compose`.

[2019-10-08 10:43] SebastienEske commented on #1406
Doing some extra thinking. There are at least two ways to resize coordinates: return the exact float values and return the rounded integer values. The first one is akin to bilinear/bicubic interpolation and the second one to nearest neighbor.

So maybe we also want to have the `input_type` parameter for the `RandomResizeCrop`...

[2019-10-08 20:24] ezyang opened #1435 "Fix nightlies"
see https://github.com/pytorch/pytorch/issues/26817

[2019-10-09 03:58] SebastienEske commented on #1395
Hello,
How about slicing? You need to do a bit of math but then you can be sure that there are no artifacts.
1. Crop of 128 with padding of 2 -> `step_size = 128+2`
2. Make sure that your image+2 (no need to pad the right of the rightmost crop) is a multiple of the step size:
[code]
3. And then you can just slice it:
[code]
Simple and really no problem. I didn't test the code so there may be a few

[2019-10-09 06:17] pmeier commented on #1395
@SebastienEske If I understand @praveenkumarchandaliya correctly he just wants to save each image in a batch individually. He used `utils.save_image()`, which if given a batch creates a grid of images. Instead of creating a grid that you don't want and slicing / cropping / ... it afterwards, it is far easier to just save the images one by one.

[2019-10-09 06:23] SebastienEske commented on #1395
Oh! Ok. Sorry for my misunderstanding then.

[2019-10-09 07:48] akram-nejati opened #1438 "How trained this code on data set fer2013?"
I trained resnet on data set fer2013 with resnet  in tensor flow, but how training in code on pytorch and resnet?

[2019-10-09 08:06] pmeier commented on #1438
If you are unfamiliar with PyTorch (`torch`), I suggest you start with the [official tutorials](https://pytorch.org/tutorials/) to get a feel for it. Afterwards you can find the scripts that are used to train the models included in the `torchvision` package here:

https://github.com/pytorch/vision/tree/master/references

Since FER2013 is a classification dataset you can adopt

https://github.com/p

[2019-10-09 08:58] pmeier opened #1439 "Origin of the means and stds used for preprocessing?"
Does anyone remember how exactly we came about the channel `mean`s and `std`s we use for the preprocessing?

[code]

I think the first mention of the preprocessing in this repo is in #39. In that issue @soumith points to https://github.com/pytorch/examples/tree/master/imagenet for reference. If you look at the history of [main.py](https://github.com/pytorch/examples/commits/master/imagenet/main.py

[2019-10-09 19:33] a-maci opened #1443 "command line to train FCN and DeepLab"
What are the command lines to train the segmentation (`FCN` and `DeepLabV3`) networks to accuracy mentioned in torchvision website (63.7 and 67.4 IoU).

[2019-10-09 19:48] a-maci commented on #1443
Also, when running the training script with default parameters, I get this error:
[code]

[2019-10-09 21:50] fbbradheintz commented on #1234
Just to follow up on the non-determinism thread: The culprit was the numpy PRNG. This is sorted out in the draft PR.

[2019-10-10 06:12] pmeier commented on #1234
#1424 for cross reference.

[2019-10-10 08:20] daydayfun opened #1445 "Question and help ??"
**Discuss:**
If  want to push Bert models and weights  into a ptytorch repository, which is best,  pytorch/text ??

[2019-10-10 12:07] pmeier commented on #1445
Since BERT is a model for natural language processing (NLP) tasks you could head over to [`torchtext`](https://github.com/pytorch/text). I'm not familiar with their guidelines for contributing models and weights, so it is best you ask your question there.

[2019-10-10 17:54] anandijain opened #1446 "torchvision.io.read_video() giving memory error"
I have a video file that is 480 x 640, 20 fps, and 20400 frames.

I get a memory error trying to read the video using no endpoints.
I was wondering if there was a way of using `io.read_video()` that returns a DataLoader or is able to work without loading everything into tensors at once.

Ideally, I can load in as much as possible each time I `read_video()`.
It seems a little cumbersome to have to

[2019-10-10 21:53] nizhib commented on #1439
You need to go deeper ;)

https://github.com/facebook/fb.resnet.torch/blob/master/datasets/imagenet.lua

[code]

[2019-10-11 07:41] gyeongin commented on #1196
@Lyken17 Do you have any plan for releasing the trained CIFAR-10 models as well?

[2019-10-11 09:40] pmeier commented on #1439
For my project I need to know the covariances between the channels. Since they are not part of the current implementation, my hope was that I can calculate them myself if I know the necessary images and processing. Unfortunately

gives me little hope that I'm able to do that. I suppose no one remembers how this random subset was selected?

Should we investigate this further? I'm a little anxious t

[2019-10-11 13:09] daydayfun commented on #1445
thanks for youe help

[2019-10-11 13:09] #1445 closed

[2019-10-12 09:25] jinfagang opened #1451 "ffmpeg error"
[code]

[2019-10-12 18:21] mobassir94 opened #1452 "AttributeError: 'collections.OrderedDict' object has no attribute 'parameters"
i was trying to use deeplabv3_resnet50, this model is producing ordereddictionary which is state file and not model that stores weight,so i don't understand how to solve this issue,i saw this stackoverflow post : https://stackoverflow.com/questions/49941426/attributeerror-collections-ordereddict-object-has-no-attribute-eval but it doesn't help much,anyone please help,thanks

[2019-10-12 22:40] awwong1 opened #1453 "ImageNet Dataset 404 Not Found ARCHIVE_DICT URLs"
All three URLs listed in the ARCHIVE_DICT are returning 404 not found errors.

[code]

Current ImageNet dataset class is no longer functioning as expected.

[2019-10-13 02:01] CarnoZhao opened #1454 "Number of input channels of DenseNets"
Hi all, I'm using data with only 2 channels, instead of common RGB 3 channels.

By default, the number of input channel of DenseNets is 3 in torchvision. What is the best way to modify #input_channels or can we add a new arg like `num_input_channels` to it?

[2019-10-13 22:55] d-colwell opened #1455 "Conda pytorch channel package verison is 0.2.2"
When running the command

`conda install torchvision -c pytorch`

on windows 10, python 3.7.3, i get the following notification.

`The following NEW packages will be INSTALLED:
  torchvision        pytorch/noarch::torchvision-0.2.2-py_3`

I previously had version 0.4 installed, but was trying to upgrade to make use of pytorch 1.3

[2019-10-13 23:04] soumith commented on #1455
can you try `conda install torchvision -c pytorch -c conda-forge`.

@peterjc123 reports that I need to fix the install commands

[2019-10-13 23:07] d-colwell commented on #1455
That worked. Also managed to finally get pytorch 1.3 updated. Thanks @soumith

[2019-10-13 23:12] soumith commented on #1455
fixed via https://github.com/pytorch/pytorch.github.io/commit/7491668f14ce6def1e882b091a3c597de92c4bf1

[2019-10-13 23:12] #1455 closed

[2019-10-14 06:58] pmeier commented on #1453
From the [ImageNet blog](http://image-net.org/update-sep-17-2019):

Thus, we should be able to download. Maybe they closed the links since they were accessible without their authorization. I'm not sure how to proceed here, @fmassa?

[2019-10-14 07:24] pmeier commented on #1454
Since all our models where trained on RGB images, I'm almost certain you won't get meaningful results with the pretrained weights. So you need to train from scratch.

For example, you can swap the input layer like this:

[code]

[code]

[2019-10-14 07:28] CarnoZhao commented on #1454
It works. Thanks a lot!

[2019-10-14 07:28] #1454 closed

[2019-10-14 07:32] pmeier commented on #1452
Actually, the answer over at StackOverflow explains it fairly well.

You need to do something like this

[code]

where `state_dict` is the `OrderedDict` with the stored weights.

[2019-10-14 09:14] fmassa commented on #1452
Following @pmeier comment, one more thing is that the output of `deeplabv3_resnet` is an `OrderedDict`, so you can just extract the output that you want
[code]

[2019-10-14 09:14] #1452 closed

[2019-10-14 09:24] fmassa commented on #1453
Yes, they seem to have removed download access without filling the form http://image-net.org/download-images.

In this case, I think there is no better alternative than removing the download link and the download functionality, and requesting the user to download the images themselves.

cc @soumith for awareness

[2019-10-14 09:29] fmassa commented on #1451
How did you install `ffmpeg`? What version are you using?

We currently have CI working with `ffmpeg`, so this is most probably a version incompatibility issue.

FYI, `ffmpeg version 4.0.2` works for me

cc @stephenyan1231

[2019-10-14 09:32] pmeier commented on #1453
I'll send a PR later.

[2019-10-14 09:43] fmassa commented on #1443
Hi,

Sorry for the delay in replying.

Here are the commands I used
[code]
for `fcn_resnet101` and
[code]
for `deeplabv3_resnet101`.

About your error, it looks like you are not using a recent enough version of PyTorch? What's your PyTorch version? It should be at least 1.2.

[2019-10-14 09:43] #1443 closed

[2019-10-14 09:44] #1438 closed

[2019-10-14 09:45] PyExtreme commented on #1375
@fmassa , I would like to pick a few of the mentioned ones and see if I can work out those since I haven't contributed before to `pytorch/vision`. Maybe, this can be a good starting point.

Thank you

[2019-10-14 09:51] fmassa commented on #1439
@colesbury do you have more information here to clarify on the mean / std for imagenet that we use?

[2019-10-14 09:59] fmassa commented on #1446
@anandijain you are trying to load a big video in memory, and it doesn't fit your CPU memory.

You can try using `VideoClips` to return non-overlapping clips of fixed size https://github.com/pytorch/vision/blob/ed5b2dc3a5e7411d8b40cc7e526e151983e99cf9/torchvision/datasets/video_utils.py#L45-L69 here is an example:
[code]
This is what is used internally in the video datasets to return a Dataset com

[2019-10-14 09:59] #1446 closed

[2019-10-14 11:49] #1451 closed

[2019-10-14 11:56] XuShoweR commented on #1355
Did you resolve the problem, i also met this error.

[2019-10-14 12:08] astronstar commented on #1355
i meet now

[2019-10-14 12:44] daniel-j-h opened #1458 "Missing 0.4.1 release for provided wheels"
Hey folks I just upgraded my pytorch installation to 1.3 and had a look at torchvision, too.

I can find 0.4.1 releases on

https://download.pytorch.org/whl/cpu/torch_stable.html

e.g. https://download.pytorch.org/whl/cpu/torchvision-0.4.1%2Bcpu-cp36-cp36m-linux_x86_64.whl

but I can neither find a release here on Github releases, nor a proper git tag for v0.4.1.

Could you create a push a v0.4.1

[2019-10-14 13:58] daisuke834 opened #1459 "module 'torchvision' has no attribute '__version__' at torchvision 0.4.1"
Module 'torchvision' has no attribute '__version__' at torchvision 0.4.1
[code]

[2019-10-14 14:12] pmeier commented on #1459
How did you install `torchvision`? Via the [official instructions](https://pytorch.org/get-started/locally/) works fine for me. Also note that `torch == 1.3.0` is the curretn stable version.

[2019-10-14 14:20] daisuke834 commented on #1459
@pmeier
Thank you for your replying. I installed torchvision via dockerfile including:
[code]
I am using Torch 1.2.0 intentionally due to a compatibility issue of Torch 1.3 to my applications.

[2019-10-14 14:23] daisuke834 commented on #1459
Humm. When I installed torch 1.3.0 and torchvision 0.4.1 in my Macbook without docker, this issue didn't happen as well.
I am not sure which of docker, hardware difference or Torch version (1.2.0 vs 1.3.0) is causing this issue.

[2019-10-14 15:10] fmassa commented on #1459
@daisuke834 note that the only reason why we have torchvision 0.4.1 is to make it compatible with PyTorch 1.3, so if you want to use PyTorch 1.2, I'd recommend installing torchvision 0.4.0

So I believe you have a version incompatibility problem here.

[2019-10-14 15:17] fmassa commented on #1458
@daniel-j-h The 0.4.1 release is a dummy release for torchvision binaries to be compatible with PyTorch 1.3.
It doesn't actually bring any of the new features from torchvision master (except for a single bugfix).

We are planning on cutting a new release of torchvision in the next few weeks.

cc @soumith if we should cut a dummy release on GitHub.

[2019-10-14 15:20] fmassa commented on #1458
Discussed with @soumith about it, we will be publishing a new torchvision GitHub release

[2019-10-14 15:22] daisuke834 commented on #1459
@fmassa
Thank you for your reply.
Okay, I will keep using torchvision 0.4.0 as far as I use PyTorch 1.3.

[2019-10-14 15:23] fmassa commented on #1459
Ok, I'm closing the issue then, let me know if you have other questions

[2019-10-14 15:23] #1459 closed

[2019-10-14 15:25] daisuke834 commented on #1459
@fmassa
Thank you!

[2019-10-14 18:09] fmassa commented on #1375
@PyExtreme sure, go for it!

Note that there are already two open PRs adding functionality for `crop` and `adjust_hue`, so I'd recommend checking them before sending your PR

[2019-10-14 22:32] soumith commented on #1439
afaik we calculated the mean / std to use by running one pass on the training set of Imagenet

[2019-10-14 22:33] soumith commented on #1439
that being said, i see that `std` is not matching. possibly a bug of the past or some detail that we completely forgot about :-/

[2019-10-15 01:32] hhbyyh commented on #1002
The issue is critical for putting the model into production system. Thanks for working on this.

[2019-10-15 04:40] auroua opened #1462 "setup error"
I am using `pytorch v1.1`. Clone the `vision repo` and checkout v0.2.2 branch, running `python setup.py  install`. I get the following error:
[code]

The error is same as #1398 .
How to fix this error?

[2019-10-15 08:05] fmassa commented on #1271
Thanks for the video example @ekosman !

I'll try to debug the issue and fix it

[2019-10-15 10:41] surgan12 commented on #1375
@fmassa, what do you think,  right now should we do it like `transforms.Tensor<Transform>`  for existing PIL transforms or entirely replace the previous.
I think by the time we don't have all as pytorch ops, we could this way. Let me know what you think.

[2019-10-15 13:06] fmassa commented on #1375
@surgan12 I think it would be better to have a separate file, `functional_tensor.py`, with the implementations for the functional transforms using tensors, with the same name as in `functional.py`. Let's not worry about the class-based `transforms` for now.

[2019-10-15 13:10] fmassa commented on #1462
You are probably doing something wrong with the checkout.
The v0.2.2 branch doesn't have any C++ code, and the error that you are showing here is actually only present in torchvision master.

I'd recommend installing torchvision from a pre-built binary, or make sure that you are really in the v0.2.2 branch.

[2019-10-15 13:10] #1462 closed

[2019-10-15 18:50] #1271 closed

[2019-10-15 21:23] zou3519 opened #1469 "Docs makefile doesn't build"
Repro:
[code]
fails with:
[code]

But my real question is, should it work?

[2019-10-15 21:55] Lucas-Steinmann opened #1470 "Memory Leak when creating custom VideoClips based Dataset"
I'm trying to create a VideoClips-based dataset.
My implementation follows the implementations of the included datasets (e.g. HMDB51).
My data however has a resolution of 375x1242, and consists of 12 clips with a total of 4169 frames.

When I'm training my RAM fills up pretty fast, even if no model is executed.
When the RAM is full, the programm obviously crashes.

The following script is a minima

[2019-10-16 05:19] PyExtreme commented on #1375
@fmassa , I would be starting with `center crop`, `resized crop` and `five crop`

[2019-10-16 09:54] Exlsunshine opened #1473 "Cannot load torchvision pretrained model"
* Error
Got error message `urlopen error 11001` when trying to load torchvision model which hasn't been downloaded before.

* Environment
torch==1.3.0+cpu
torchvision==0.4.1+cpu
Python 3.6.6
Windows 10

* Issue diagnose
I can run the following code successfully, `a.py`:
[code]
But I cannot execute the following, `test_b.py`:
[code]
it keeps telling me openurl error 11001, but if I import the `open

[2019-10-16 11:54] ekosman commented on #1271
Thanks @fmassa ! :)

[2019-10-16 12:30] fmassa commented on #1271
Thanks for the report!

[2019-10-16 12:56] fmassa commented on #1473
Thanks for the report!

@Exlsunshine can you try doing something like
[code]
and report back if it works as expected? You might need to delete the downloaded file.

This seems weird, @ailzhang it looks like there might be something unexpected happening with hub download function.

[2019-10-16 13:30] fmassa commented on #1469
Thanks for the report!

Building the docs work for me with with Sphinx v1.7.3, so it might be an incompatibility with a newer version.

Maybe we might need to pin those versions? I'm using
[code]

[2019-10-16 14:29] PyExtreme commented on #1375
@fmassa , could you please provide me a good starting point?
Would be of great help to me.

Thank you

[2019-10-16 17:57] ailzhang commented on #1473
@fmassa the command works for me on pytorch/torchvision master on a linux machine. I don't have a windows machine now so we'll wait for @Exlsunshine's reply to see whether that works.
I don't recall any changes with download function recently except we make it a public API.

[2019-10-16 18:41] manoja328 opened #1477 "Use your own proposal method for object detection?"
Hi all,

Is there an easy way to use your own proposal methods like **egeboxes or selective search for Object Detection.** If  it can be easily plugged in the whole object detection pipeline that would be awesome. Thanks. @fmassa

[2019-10-16 18:55] #1469 closed

[2019-10-17 02:13] PyExtreme commented on #1375
@fmassa  ,
Are there any guidelines for setting up the environment at local? For eg, In PyTorch, we have to install in develop mode.

Also, what are the commands for testing the changes?

Would be of great help to me.

Thank you

[2019-10-17 02:14] matthew-jurewicz opened #1480 "Faster rcnn model has bad predictions"
After training the model until the sum of the losses is less than 0.1 for both the training and validation set, I save the models state dict. After loading the same models state dict and setting the model to eval mode, predictions on the test set have scores around 0.05 and are completely incorrect. The test set images aren't significantly different from the training or validation sets, and the te

[2019-10-17 02:21] matthew-jurewicz commented on #1480
torch.save(model.state_dict(), 'faster_rcnn.pt.tar')

model.load_state_dict(torch.load('faster_rcnn.pt.tar'))
model.eval()

[2019-10-17 02:29] roblewis1237 opened #1481 "GPU memory requirements of ResNet(2+1) model"
Hi there,

I'm trying to run some youtube videos (~3-5 mins in length) through the newly released pretrained ResNet(2+1) model.

However, after batching these videos up into segments and trying to perform a forward pass I'm getting memory errors on my GPU.

What roughly are the GPU memory requirements to perform a forward pass with this model?

I'm passing batches of shape (1, 3, 500, 224, 224) to

[2019-10-17 05:35] matthew-jurewicz commented on #1480
I found a similar issue that was never resolved https://github.com/pytorch/vision/issues/1097#issue-464835069 . Following the mobilenet example in the docs, my model converges but the predictions are bogus.

[2019-10-17 06:23] surgan12 opened #1483 "Changing all the raw asserts to self.assert in tests"
As pointed out by @fmassa here in #1465. We could switch the existing asserts to the self.assert version of it.

This could be a simple first issue for people to start with.

[2019-10-17 07:09] pmeier commented on #1375
@fmassa

I thought about that while I've implemented it for my project. I came up with three options.

1. We implement a custom tensor class for images and subclass it for different color spaces. Each subclass could for example have methods to extract the different channels. This might be a little over-the-top for RGB images, but I think something like `torchvision.YUVImage.luminance()` or `torchv

[2019-10-17 07:51] peterjc123 opened #1484 "Windows nightly build failure"
[code]

[2019-10-17 07:52] peterjc123 commented on #1484
related pr: https://github.com/pytorch/vision/pull/1410

[2019-10-17 08:33] fmassa commented on #1484
Fixed by #1485

[2019-10-17 08:33] #1484 closed

[2019-10-17 09:48] fmassa commented on #1480
Hi,

I would recommend you testing your trained model in the training set. I believe that you have either:
- not trained the model for long enough
- do not have enough training data to generalize well enough

The detection models generally take a lot of iterations to get good performances. If you are training your model from scratch, you might just need to train it for longer.
I'd recommend you tr

[2019-10-17 09:48] #1480 closed

[2019-10-17 09:57] fmassa commented on #1481
Hi,

The video models have been trained on clip lengths of 16 frames, with a `frame_rate` of 15 frames / s.
Given that, the temporal receptive field of those models will not exploit longer sequences, so I think there is not really any benefit if passing a 500-sized clip length to the model. I think it's better to compute the predictions in chunks of 16 frames, as how it was trained..

For complete

[2019-10-17 09:57] #1481 closed

[2019-10-17 10:00] fmassa commented on #1483
I would recommend sending small-sized PRs, changing a single file / a few hundred lines at a time, to make reviewing easier.

[2019-10-17 11:54] Lyken17 commented on #1196
@fmassa How does the [hubconf.py](https://github.com/mit-han-lab/ProxylessNAS/blob/master/hubconf.py) look for you? I have tested it locally and can load normally.

PS: hub is indeed a cool feature. Love it!

[2019-10-17 11:56] Lyken17 commented on #1196
Hi @gyeongin , we have no plan to clean the CIFAR codebase and release it. If you are interested, you can have a look at [Path-level ENAS](https://github.com/han-cai/EAS), from which our CIFAR experiment settings are adapted from.

[2019-10-17 13:16] PyExtreme commented on #1375
Thanks @fmassa , I am starting to work on it.

[2019-10-17 15:44] ekagra-ranjan commented on #1483
@PyExtreme this could also be a good starting point for you :)

[2019-10-17 15:51] korabelnikov commented on #1365
@fmassa
I'm trying to build torchvision  version 0.4.0 against torch 1.2 and got same errror

gcc 5.4
arm64 (no possible binary packages)

[2019-10-17 16:05] ekagra-ranjan commented on #1389
@fmassa How can I recreate this flakiness? I have a hunch where this might be going wrong and would like to try it. How do I go about it?

[2019-10-17 16:31] PyExtreme commented on #1483
Hi @ekagra-ranjan , would love to take it. Also, I have started to work on Adding Scriptable Transforms issue mentioned here at #1375 . Specifically, I am working on Grayscale Part and hopeful to complete by this week(Parallely understanding the codebase as well).

I will start on working it as soon as I finish the above mentioned task.

[2019-10-17 17:13] PyExtreme commented on #1483
Hi @ekagra-ranjan , this issue has already been picked. Thanks for letting me about it. I have started working on #1375 and that also looks very interesting.

Thank you

[2019-10-17 18:08] roblewis1237 commented on #1481
ok thanks @fmassa- that's good to know.

That's quite an arbitrary number of frames per clip.. was this treated as a hyperparameter?

Also is an example of how to use c3d networks like this provided anywhere in the docs/repository?

[2019-10-17 23:26] ppwwyyxx opened #1489 "RuntimeError: No such operator torchvision::nms"
Similar to #1405, but I'm seeing this issue in the nightly builds.

What I did:

I download two nightly wheels from https://download.pytorch.org/whl/nightly/cu100/torch_nightly.html, and installed them with:
[code]

Then, I recompile detectron2; Running a simple detectron2 evaluation raises this error:
[code]

an example stack trace:
[code]
another stack trace: https://github.com/facebookresearch/

[2019-10-18 00:36] ppwwyyxx opened #1490 "Deprecate PILLOW_VERSION"
torchvision now uses PILLOW_VERSION
https://github.com/pytorch/vision/blob/1e857d93c8de081e61695dd43e6f06e3e7c2b0a2/torchvision/transforms/functional.py#L5

However, this constant is deprecated in Pillow 5.2, and soon to be removed completely: https://github.com/python-pillow/Pillow/blob/master/CHANGES.rst#700-unreleased

[2019-10-18 02:44] ychnh opened #1491 "Issue with models/segmentation/deeplabv3"
Not sure if this class was finished implementing or not. (I see that the main class DeepLabV3 just has pass for the implementation)
However, the pyramid pooling submodule is almost functional, save for an issue with (ASPPPooling).

https://github.com/pytorch/vision/blob/1e857d93c8de081e61695dd43e6f06e3e7c2b0a2/torchvision/models/segmentation/deeplabv3.py#L53

nn.AdaptiveAvgPool2d() output size is

[2019-10-18 07:25] macimovic commented on #1405
Hi I am getting the same error. Can you please help me?

[2019-10-18 08:25] soldierofhell commented on #1405
I must say I didn't managed to fix it (didn't had enough time to dig into torchscript custom ops naming rules). I think there's indeed a problem and I think the tests should fail on this issue. @fmassa as this is observed by other people, please take a look at it

[2019-10-18 08:29] fmassa commented on #1405
Hi,

Can you print `torch.__version__` and `torchvision.__version__`?

What is a bit confusing now is that `torchvision` nightly requires torch 1.3.0, and NOT a torch nightly, so this might be the reason

[2019-10-18 08:32] fmassa commented on #1489
Thanks for the detailed report!

I think the issue is that since https://github.com/pytorch/vision/pull/1467 we now build torchvision nightlies against PyTorch 1.3, and not PyTorch master.

The reason why I changed it to PyTorch 1.3 was because I was planning on cutting a new release of torchvision in the next few days, so it should be cut against PyTorch 1.3 and we needed to test that CI is worki

[2019-10-18 08:37] macimovic commented on #1405
torch: 1.4.0.dev20191016+cu100
torchvision: 0.5.0.dev20191017+cu100
I am using CUDA 10.0

[2019-10-18 08:38] soldierofhell commented on #1405
I'll check 1.3.0, because I used torch nightly, but I reported this error before 1.3.0 release

[2019-10-18 08:48] macimovic commented on #1405
Hi, I managed to find a compatible (working) pair of torchvision and torch.
torch: 1.3.0
torchvision: 0.4.1

[2019-10-18 08:50] fmassa commented on #1405
The error indicates that there is an uncompatibility between the version of PyTorch that was used to build torchvision and the version of PyTorch that you are using (it's not clear from the message unfortunately)

I'm fixing things now so that torchvision nightly depend on PyTorch nightly, and I'll regenerate the binaries.

[2019-10-18 09:43] fmassa commented on #1491
The implementation for DeepLabV3 is finished and the pre-trained models yield similar accuracies (within a few %) as the ones reported in the original paper, and I believe the implementation is correct as it stands (but I'm happy to be proven wrong here).

From https://arxiv.org/pdf/1706.05587.pdf section 3.3

The paper mentions "global average pooling", which is in fact pooling over all the eleme

[2019-10-18 09:43] #1491 closed

[2019-10-18 09:54] fmassa commented on #1481
@roblewis1237 to answer your questions

this is explained in the original paper https://arxiv.org/pdf/1711.11248.pdf , section 4.1

(L = 8) and 16-frame clips (L = 16)

And for your second question

We currently provide training / evaluation scripts in https://github.com/pytorch/vision/tree/master/references/video_classification , but we only report clip-level accuracy, and not video level accurac

[2019-10-18 10:06] fmassa commented on #1196
ProxylessNAS is now available via TorchHub, and can be found in https://pytorch.org/hub/pytorch_vision_proxylessnas/

Closing this issue for now, will revisit it in 6 months.

Thanks for the discussion!

[2019-10-18 10:06] #1196 closed

[2019-10-18 10:36] frgfm commented on #1483
The last PRs should cover all the remaining bare `assert` in the tests!

[2019-10-18 11:21] fmassa commented on #1477
Hi,

You'll need to write your own version of the `RPN` and replace `model.rpn` with it.
Here is a quick example on how you could do it (warning: untested):
[code]

[2019-10-18 11:21] #1477 closed

[2019-10-18 11:24] fmassa commented on #1365
@korabelnikov what error did you get, if you got an error message containing something like
[code]
then this means that you are using torchvision from master, and not from 0.4.0. I'd recommend you double-checking which version of torchvision you have cloned, and if you have checkout the 0.4.0 branch

[2019-10-18 13:09] fmassa commented on #1470
This is not expected. How much RAM do you have?
Also, can you print `torchvision.__version__`?

[2019-10-18 13:12] shrubb commented on #1451
Bumped into the exact same error. Moreover, I think I started seeing this only recently (I build torchvision from source every so often).
I have Ubuntu 16.04 and a standard ffmpeg 2.8.15 from the repositories (`sudo apt-get install ffmpeg`), I believe @jinfagang is on a similar system.

Well...I usually advocate for enforcing cutting-edge versions, but right now I can't switch to other OS, and `ap

[2019-10-18 13:59] jinfagang commented on #1451
Upgrade to ffmpeg 4.0+ works but that not easy to

[2019-10-18 14:18] fmassa commented on #1451
Note that `ffmpeg` is available on `conda`, so you can do
[code]
and it will install a fairly recent version of ffmpeg

[2019-10-18 14:36] creotiv commented on #1002
can someone explain why here if approx_scale < 1 it doesnt got rounded to integer? It's some hack or normal behavior?

[2019-10-18 14:40] fmassa commented on #1002
@creotiv it's an approximation, that avoids us having to manually specify what's the downscaling for layer `n`.

[2019-10-18 14:42] creotiv commented on #1002
@fmassa no i understand that. i mean why function round() not rounding 0.123 for example to zero(only after log function)?

[2019-10-18 14:46] creotiv commented on #1002
And also torch.log2(2**torch.tensor(0.123,dtype=torch.float64)).round() return 0.

[2019-10-18 14:58] fmassa commented on #1002
@creotiv FYI this is unrelated to the issue (which is that maskrcnn_resnet50_fpn is not yet scriptable), but I don't understand your point.

Can you open a new issue describing with an example what you think is the problem?

[2019-10-18 15:01] creotiv commented on #1002
@fmassa already https://github.com/pytorch/pytorch/issues/28284

[2019-10-18 15:16] manoja328 commented on #1477
Thanks. BTW, I  basically did the same thing just before you replied.

[2019-10-18 15:30] ychnh commented on #1491
Thank you for the reply.

You are right. I wasn't familiar with global average pooling and thought it was some type of resolution reduction pooling. But now I understand. (global avg pooling is trying to locate the logits related to num_classes)

When I was testing a model I was building, I created an input with just 1 batch, creating an error at batchnorm.
.`ValueError: Expected more than 1 value

[2019-10-18 17:36] manoja328 commented on #1477
Hi. Thanks for taking time to write the demo code. I have a related question. I kept everything else same and only change the RPN and use the official object detection tutorial ( I  verified the official version on the  code gave around 65% mAP). I used edgeboxes to get the proposals as follows. But I am not getting even comparable mAP. Mine is around 3-4 percent  for VOC 2007.  Do you have any id

[2019-10-18 17:39] Lucas-Steinmann commented on #1470
16 GB

[code]

[2019-10-18 20:02] fmassa commented on #1477
Maybe you might need to perform some fine-tuning before, because the offsets from fast r-cnn expect proposals from the RPN, which have different distribution than the proposals from edge box?

[2019-10-18 20:04] fmassa commented on #1470
16GB of CPU RAM might not be enough unfortunately depending on the situation.
Can you try seeing if using HMDB51 still runs out of memory? This way I can compare on a setup that I have already setup.

[2019-10-18 20:09] #1490 closed

[2019-10-18 20:12] fmassa commented on #1491
The problem you had is that the model contains BatchNorm, which expects at least 2 elements during training for the stats to be properly computed.

[2019-10-19 04:12] Hou9612 opened #1504 "What's the advantage of torchvision.datasets.ImageNet?"
Hi I use torchvision==0.2.2 now and I'm hesitant to update torchvision. I am worried that updating torchvision may bring some unexpected problems. so I want to know what's the advantage of torchvision.datasets.ImageNet comparing with torchvision.datasets.ImageFolder?  Will it be faster when reading and processing ImageNet?

[2019-10-20 03:28] gzz5566 opened #1507 "Cannot load KMNIST"
<img width="569" alt="Screen Shot 2019-10-20 at 1 57 04 pm" src="https://user-images.githubusercontent.com/56779675/67154301-a0f1b980-f345-11e9-84e0-66c51932689f.png">

Hi the torchvision 0.5.0 that I installed manually from the setup.py file does not include KMNIST dataset. Has this been removed? appreciated your help

[2019-10-20 06:00] samarthsarin commented on #288
Why is there a need of , after 0.5 in Normalize?

[2019-10-20 08:52] apple2373 commented on #1439
Can we put batch normalization layer before input so that mean/std will be computed automatically in the training time?

[2019-10-20 09:22] Lucas-Steinmann commented on #1470
Ah yes, I didn't try HMDB51 before. The same issue arises.
Now my memory even fills up during `compute_pts` during initialization of VideoClips.

I now don't think it is an issue in torchvision. I checked and it seems that all objects relating VideoFrames, Tensors etc.. are garbage collected.
But some memory is not released.
I guess that's an indicator that the underlying libav is holding onto som

[2019-10-20 12:13] #1507 closed

[2019-10-20 13:21] surgan12 commented on #1504
Have a look here #713 specifically https://github.com/pytorch/vision/issues/713#issuecomment-456430169.

[2019-10-21 06:45] pmeier commented on #1504
By using the `ImageNet` dataset you will have the following advantages:

- After the download of the archives you don't need to manually prepare them for usage, i. e. you don't have to move the validation images in the appropriate folders
- The `ImageNet` object has the functionality of `ImageFolder.classes` and `ImageFolder.class_to_idx` implemented under `ImageNet.wnids` and `ImageNet.wnid_to_id

[2019-10-21 07:32] Hou9612 commented on #1504
Thanks, I'll have a look at it.

[2019-10-21 07:33] Hou9612 commented on #1504
Thanks, I think maybe I don't need to update it.

[2019-10-21 08:30] Lucas-Steinmann commented on #1470
Problem solved by installing an newer version (4.2) of ffmpeg.
The PyAV documentation [suggested](http://docs.mikeboers.com/pyav/develop/installation.html#id1) 3.2. I will add a pull request to their documentation.

Sorry for the inconvenience.
But hopefully other torchvision users with Ubuntu 16.04, which followed that installation guide, find this thread useful.

[2019-10-21 08:37] fmassa commented on #1470
@Lucas-Steinmann thanks a lot for getting back with the solution!

Indeed, there are a few reference cycles in previous versions of PyAV, that got fixed some time ago.
Maybe we can improve the import error message if PyAV is not found? https://github.com/pytorch/vision/blob/d194082c067d8635370e6fce7345aa03cbb32e86/torchvision/io/video.py#L13-L17

[2019-10-21 08:40] fmassa commented on #1504
Closing following @pmeier and @surgan12 comment

[2019-10-21 08:40] #1504 closed

[2019-10-21 10:56] fmassa commented on #1405
Fixed via #1492

[2019-10-21 10:56] #1405 closed

[2019-10-21 11:19] pmeier commented on #1439
@fmassa @soumith

Any update on this? Do we investigate further or keep it as is?

[2019-10-21 11:57] pmeier commented on #1453
This is closed by #1457

[2019-10-21 12:01] #1453 closed

[2019-10-21 12:02] fmassa commented on #1453
Thanks for fixing it @pmeier !

[2019-10-21 13:46] fmassa commented on #1439
@pmeier I don't know if we will ever be able to get back those numbers, given that they seem to have been computed on a randomly-sampled part of the dataset.

If we really want to see if this has any impact, we would run multiple runs of end-to-end training with the new mean/std and see if it brings any noticeable improvement.

[2019-10-21 14:26] fmassa commented on #1439
I agree. But given the scale of how things would break with such a change, I think we should just live with it for now, and maybe document somewhere the findings you have shown in here.

[2019-10-21 15:24] Delaunay opened #1510 "ImageNet Downloader - Dead Links"
The imagenet downloader seems to use dead links.

Test Script:

[code]

Output:

[code]

[2019-10-21 15:33] fmassa commented on #1510
Duplicate of https://github.com/pytorch/vision/issues/1453

[2019-10-21 15:33] #1510 closed

[2019-10-21 18:41] manoja328 commented on #1477
I still dont understand what you are trying to say here.
[code]
Should it not just work if i replace the line 3 and use boxes from edgeboxes?

[2019-10-21 18:43] manoja328 commented on #1477
I think I know why the model was not working. Its because of the scaling. our edgeboxes have co-ordinates from original images but  before line 3 internally each images are resscaled. So now the features position and box co-ordinates do not match. I suppose if i scale boxes accordingly then it should work just fine.

[2019-10-21 21:21] colesbury commented on #1439
It's been almost four years, so I don't remember, but I probably just used the mean / std from the previous Lua ImageNet training script:

https://github.com/soumith/imagenet-multiGPU.torch/blob/deb5466a16e54ec7a69fe027e5fbcd3c1bfb49cc/donkey.lua#L161-L187

It uses the average standard deviation of an individual image's channel instead of the an estimate of the standard deviation across the entire

[2019-10-22 09:20] gemmit commented on #1002
@XushengLee how did you get rid of the error "RuntimeError: Only tensors or tuples of tensors can be output from traced functions"? I am currently having the same issue when trying to trace Maskrcnn model from trochvision with the following script

`import torch
import torchvision
model = torchvision.models.detection.maskrcnn_resnet50_fpn(pretrained=True)
model.eval()
test_data = torch.rand(1, 3,

[2019-10-22 09:32] fmassa commented on #1002
@gemmit support for tracing / scripting maskrcnn is coming soon, check https://github.com/pytorch/vision/pull/1407 and https://github.com/pytorch/vision/pull/1461

[2019-10-22 09:34] fmassa commented on #1477
Yes, the boxes should be in the same format as what we consider in the RPN

[2019-10-22 13:04] nicolasCruzW21 commented on #1355
in coco_eval
Use this
[code]
instead of
[code]

[2019-10-22 14:29] Lucas-Steinmann commented on #1470
So I'm using pip, which maybe makes it quite difficult for us to compare package/binary versions, if you use conda.
Conda does probably include ffmpeg or (atleast I heard this should be one of its virtues)?
So you are right, checking the version with conda would be the best solution. But I can't give you any more information on that.

With pip it uses the system ffmpeg library.
The current version

[2019-10-22 17:50] fmassa commented on #1470
@Lucas-Steinmann sounds good, thanks for the feedback!

[2019-10-23 00:49] dishank-b commented on #392
@varunagrawal @fmassa Can anyone help me what should be used now to run NMS (cuda) in batch mode while training? The NMS implementation provided by torchvision.ops is not in Batch mode and will be slow to use at training time.

[2019-10-23 10:22] muna-cs opened #1520 "DeepLabV3: segment only person"
How can I segment person only and skip the other classes by using DeepLabV3?

[2019-10-23 11:32] nizhib commented on #1439
These numbers have become a standard for most neural networks created so far, it's not just a lot of work — one need to retrain hundreds of neural networks (approx. 2 gpu x week each for a model like resnet50) and create pull requests for all the pretrainedmodels/dpn/wide resnets/etc. repos all over the github just to adjust normalizing std by 0.05. What the future can justify this?

[2019-10-23 13:00] fmassa commented on #1520
Just take the full output from `DeepLabV3`, apply a softmax over the classes, and then remove the classes you are not interested in.

[code]

[2019-10-23 13:00] #1520 closed

[2019-10-23 14:39] fmassa commented on #392
@dishank-b what do you mean by batch mode?

Also note that we have a `batched_nms` implementation in `torch.ops.batched_nms`.

[2019-10-23 15:58] manoja328 opened #1521 "per class mAP in coco_eval script?"
Hi,
I was looking around the eval code and did not find function to calculate **per class mAP**? Is there an easy work around to include that. Thanks. @fmassa

[2019-10-23 21:38] tangorn commented on #1489
building from source, torchvision latest master, pytorch from tag v1.3.0, see every test in `test_ops.py` fail with the similar error... Here is the tail of the log, the rest is similar
[code]
might be not related to the original issue, I am pretty new to pytorch, could have messed up something in my installation.

[2019-10-23 22:02] dishank-b commented on #392
@fmassa By batch mode, I mean taking input in the form of `[batch_size, N, 4]`. The current `torchvision.ops.nms` takes the boxes in form `[N,4]` where N is the number of boxes in single Image. Whereas let's say during training Faster RCNN if your `batch_size is 16`, then we would like the NMS to run for those 16 images in a batch. Although there is a problem that `N` may not be the same for all 1

[2019-10-23 22:10] dashesy commented on #392
[ONNX implementation of NMS](https://github.com/onnx/onnx/blob/master/docs/Operators.md#NonMaxSuppression) is generic enough, I wish torchvision had something similar.
There is the batched-nms as described by @dishank-b and there is per-class NMS that is what `torch.ops.batched_nms` seems to do. ONNX implementation supports both cases using one API.

[2019-10-24 08:35] fmassa commented on #392
@dishank-b @dashesy `torchvision.ops.batched_nms` can be used to perform NMS in a batch, but it doesn't matter if it is per class or per image actually. It just performs NMS independently "per category", which can mean image, class, etc.

The limitation with having NMS taking `[batch_size, N, 4]` inputs is that you need to set a max number of boxes, and pad the images that do not have enough boxes

[2019-10-24 08:37] fmassa commented on #1489
Hi @tangorn

I think there was a problem with your compilation of torchvision.
Can you do a clean install (removing all previously installed version of torchvision that you had), doing
[code]
and report back? This should fix your issues

[2019-10-24 08:38] fmassa commented on #1489
Also, @tangorn another option is to use PyTorch nightly and torchvision nightly, as we provide pre-built binaries for both.

[2019-10-24 17:09] pedrofreire commented on #1375
@fmassa,
I'd be happy to work on adjust_brightness, adjust_contrast and adjust_saturation!

[2019-10-24 18:48] tangorn commented on #1489
did full clean rebuild of both pytorch and vision. Same issue. Other tests like `test_transforms` etc run fine. `test_models` fails only for models that use `nms` op. I have a feeling that the ops somehow do not register properly. Working from binary is not an attractive option for me as i am planning to add a few ops of my own...

[2019-10-24 21:24] tangorn commented on #1489
rolling back to your 0.4.0 branch fixed it.

[2019-10-24 22:04] dishank-b commented on #392
@fmassa Thanks, this seems to work with batch either in images or class. However what if we have both the cases i.e do the image batching as well as classes?
I can think of a possible solution that we create `indices = torch.arange(batch_size*classes)` where each element of the `indices` will represent each class in each image of the batch.
But this seems quite naive to me, do you have any other w

[2019-10-24 22:09] dashesy commented on #392
@dishank-b in that case you can squash the 2 dimensions together with view

[code]
Since they are independent, it would not matter if they are from different batch, or different class then.

Still would be nice if nms had a `max_boxes_per_batch` parameter to avoid the zero padding.

[2019-10-24 22:14] dishank-b commented on #392
@dashesy  I am not sure that would work because let's say there are two boxes in two different images but of the same category, now if they are overlapping then they would be merged using above method, which should not be the case as they are from different images.

Let me know if I am wrong somewhere.

[2019-10-24 22:23] dashesy commented on #392
I think they will not be merged.
`N` is the maximum number of boxes per-image-per-batch. Now lets say you have 2 classes and 3 images then you have boxes with shape `3x2xNx4` after doing the view you will have `6xNx4` and first dimension will be done independently.

[2019-10-25 04:36] dishank-b commented on #392
@dashesy Yeah, you are right, I get it. I was kind of doing the same but using the indices. Thanks your's way is easier.

[2019-10-25 06:22] Exlsunshine commented on #1473
it seems find, I got the following output:
[code]

[2019-10-25 07:28] rsomani95 opened #1523 "Unable to pass `extensions` when creating custom `Kinetics400` Video Dataset"
Thank you for the video support!

When imported using `from torchvision.datasets.kinetics import *`, the `Kinetics400` class doesn't accept an `extensions` argument:
[code]

However, if I copy-paste the code from `kinetics.py` in my script/notebook, I have the option to pass in an `extensions` argument and it works fine for a dataset with, say, `.mp4` videos.

Why does this happen?

I'm using `pyt

[2019-10-25 07:48] rsomani95 commented on #1523
I just realised that when the `git clone` and `pip install` versions of this directory are not the same. In the `git clone` version, I see the `extensions` as an argument to the `Kinetics400` class, but in the pip installed directory @ `~/anaconda3/lib/python3.7/site-packages/torchvision` it's defined as:

[code]

I seem to have installed an older version? Do I need to install from source to circu

[2019-10-25 08:07] rsomani95 commented on #1523
This was resolved after I installed the developer version. Sorry for the mess.

[2019-10-25 09:47] #1523 closed

[2019-10-25 09:50] fmassa commented on #1473
@Exlsunshine if using `torch.hub.load` worked for you, I'm puzzled, because it uses the same underlying download function as torchvision. Not sure where the issue might be :-/

[2019-10-25 09:55] fmassa commented on #392
@dashesy

This makes a few assumptions though, which might not always be desired. We need to either remove some boxes via a criterion (low scores? small boxes? something else?) or pad with zeros to the maximum size, which is not very convenient.

I considered those cases when implementing `batched_nms` and Faster R-CNN, and I came up with what we currently have, which seems like a good compromise

[2019-10-25 10:00] fmassa commented on #1489
@tangorn can you paste the build logs from TorchVision? I'm fairly confident that there has been a compilation issue somewhere, just need to find out where, and I'd love to get this fixed with master.

[2019-10-25 10:47] stmax82 commented on #483
Here is me trying to make my computer tell cats from dogs using a simple CNN and image augmentation using PIL transfomers:

![image](https://user-images.githubusercontent.com/6381927/67564933-695b8680-f724-11e9-846f-cd299b07d3f9.png)

If I use image augmentation CPU usage is almost 100%, while GPU is bored..
If I remove the image augmentation, GPU usage goes up to almost 100%.

Also it makes almos

[2019-10-25 10:57] hyperfraise commented on #483
OpenCV 4 provides the possibility to do augmentations on the GPU in python, I was told. I haven't tested it.

[2019-10-25 13:38] fmassa commented on #1375
@pedrofreire go for it!

[2019-10-25 14:26] fmassa commented on #1483
Fixed by @frgfm , thanks a lot!

[2019-10-25 14:26] #1483 closed

[2019-10-25 14:36] fmassa commented on #1397
This has been implemented and merged in master thanks to @LukasBommes and @sampepose

[2019-10-25 14:42] fmassa commented on #1521
You can probably do a for loop on the evaluator, passing one category at a time.
I'm not sure if there is an easier way of doing this though.

[2019-10-25 14:42] #1521 closed

[2019-10-25 15:32] fmassa commented on #1439
Following the discussion that we had in here, I agree with @colesbury and @nizhib points above.

@pmeier would you like to send a PR adding some summary of the discussion that we had here, including @colesbury comment on how those numbers were obtained?

[2019-10-25 16:47] tangorn commented on #1489
Here you go:
[torchvision-0.5.0-build.log](https://github.com/pytorch/vision/files/3772983/torchvision-0.5.0-build.log)
using `python3 setup.py install`, the beginning got cut due to excessive warnings, let me know if you need it too

[2019-10-25 17:08] fmassa commented on #1489
@tangorn thanks for the log.

One more question: did you use the same PyTorch install to both compile torchvision and to run it?
If you could go to the torchvision folder, and do
[code]
and print the error message, it will be very helpful as well.
There is probably an incompatibility between the PyTorch version used to compile torchvision and the one you are using during runtime

[2019-10-25 17:48] tangorn commented on #1489
`OSError: /home/tangorn/src/torchvision-my/_C.so: cannot open shared object file: No such file or directory`
which is understandable as
[code]
it is built but not installed in the pytorch tree. But even copying it there by hand does not seem to work:

[code]

incompatibility I doubt as i run the test right after running `setup.py install` and i did not touch the pytorch since the clean rebuild yes

[2019-10-26 10:33] fmassa commented on #1489
@tangorn thanks for trying this out. The second error message still doesn't give us the info I was looking for, can you pass the full path to the `_C.so` lib?

[2019-10-26 16:32] tangorn commented on #1489
recreated the whole setup on my home box from scratch. Same result: 0.4.0 works, 0.5.0 does not. The only path I can find `_C.so` is in the build directory:
[code]
after running the test with 0.4.0 i can also see one in cache:
[code]

[2019-10-26 18:28] fmassa commented on #1489
@tangorn sorry, I meant to pass the full path to `_C.so` to `torch.ops.load_library`

[2019-10-27 13:35] sbelharbi commented on #1257
hi,
i am installing `pytorch 1.3.0` using `pip install torch torchvision`
i am getting `ERROR: torchvision 0.4.0 has requirement torch==1.2.0, but you'll have torch 1.3.0 which is incompatible.`

but,

it succeeds to install!
`Successfully installed torch-1.3.0 torchvision-0.4.0`
[code]
in the [release note](https://github.com/pytorch/vision/releases/tag/v0.4.0) it says `Note: torchvision 0.4 requ

[2019-10-28 09:08] fmassa commented on #1257
@soumith do you know how we update the pypi readme?

@sbelharbi if you install PyTorch 1.3.0, you need torchvision 0.4.1, or else you'll face import errors.
torchvision 0.4.0 works with PyTorch 1.2.0

[2019-10-28 10:50] sbelharbi commented on #1257
for now, quick import didn't raise an issue.
i'll try it out this week and see.
in case of issues, i'll downgrade to torch.1.2.0 and wait for torchvision.0.4.1.
thanks

[code]

[code]

[2019-10-28 11:54] sbelharbi commented on #1257
first try leads to cuda incompatibility (requires cuda 10.1, i have 10.0). my fault.
i get torch.1.3.0 and torchvision.0.4.1 from [wheels](https://download.pytorch.org/whl/cu100/torch_stable.html).
thanks for the heads up.
[code]

[2019-10-28 12:52] fmassa commented on #1176
Closing due to inactivity and because there is nothing actionable we can do

[2019-10-28 12:52] #1176 closed

[2019-10-28 14:12] pmeier commented on #1439
I'm covered for the next weeks. This will take some time.

[2019-10-28 14:12] #1439 closed

[2019-10-28 18:09] fmassa opened #1528 "Simplify / improve test_ops"
[`test_ops.py`](https://github.com/pytorch/vision/blob/master/test/test_ops.py) implements tests for the C++ operators in torchvision.
Given that `torchvision.ops` contain dedicated CPU / CUDA implementations, they need to test for correctness on both CPU and GPU, comparing that the outputs are the same. Plus, they also implement backward computation for most ops (except NMS, which is fine as is),

[2019-10-28 18:12] pedrofreire commented on #1528
I'd be happy to have a look on this :)

[2019-10-28 18:19] elepherai commented on #1054
@fmassa Hi, do you have any idea to make full use of GPU memory and speed up inference?

[2019-10-28 18:21] fmassa commented on #1528
@pedrofreire go for it!

[2019-10-28 18:24] fmassa commented on #1054
@elepherai You can get some small speedups if using larger batch size, but as I mentioned in https://github.com/pytorch/vision/issues/1054#issuecomment-505791311, the original images are already pretty big, so increasing batch size won't improve much the inference speed because the GPU is already being fully-utilized

[2019-10-28 18:42] elepherai commented on #1054
@fmassa But even the min size is 800, there are still more than half of memories left in 12GB GPU. So I’m not clear about

Could you explain that? Thanks~

[2019-10-28 18:45] abhuse commented on #980
May I suggest my implementation of EfficientNet: [abhuse/pytorch-efficientnet
](https://github.com/abhuse/pytorch-efficientnet). It is a pythonic implementation that utilizes the notion of pytorch modules (i.e. nn.Module). I provide pretrained weights which are converted from those in [official tensorflow repository](https://github.com/tensorflow/tpu/tree/master/models/official/efficientnet) and a

[2019-10-28 18:55] elepherai commented on #1054
BTW, I have tested maskrcnn-benchmark batch inference lately and found that the time of rpn increased linearly while backbones were almost identical.

Batch 3 vs. Batch 1

![PNG图像](https://user-images.githubusercontent.com/43477405/67708022-76af9400-f9f6-11e9-9c95-82ee6d7d6b32.png)

[2019-10-28 20:10] fsavard-eai opened #1530 "Minor problem with convert_to_coco_api in coco_utils.py (ann_id initialization)"
Hi,

I think `ann_id` should be initialized to 1, not 0, in `convert_to_coco_api`:

https://github.com/pytorch/vision/blob/f052c53f512d7076f5415faa0ae65981d355eb90/references/detection/coco_utils.py#L148

That's because pycocotools assumes IDs are greater than 1 when evaluating. More precisely it creates a list of matches per detection box, and uses IDs as entries in that list:

https://github.com

[2019-10-28 20:31] fbbradheintz commented on #1234
@fmassa - my last PR covered the classification models. Do we want to handle video, detection, and segmentation as well before we call this complete?

[2019-10-28 22:33] fsavard-eai commented on #1530
Looking into this a bit more, I realized `loadRes()` is later called and changes those IDs. I'm not quite sure how it turned out the IDs still started at 0 in our case (since we also were calling `loadRes` through `update`), but I'll close the issue for now and reopen it / open another one if I can produce a piece of code that gives an actual error (without our full codebase).

Sorry for the false

[2019-10-28 22:52] rwightman commented on #980
@abhuse I don't think there is a lack of pythonic, nn.Module based EfficientNet implementations, it's that there is not a set of pretrained weights that don't require the extra assymetric padding like the Tensorflow native ones, and no PyTorch native reproduction of training from B0-B7 to matching accuracy without the padding.

[2019-10-29 01:23] soumith commented on #1257
@fmassa you upload a source distribution `python setup.py sdist`  and then `twine upload` the created file, then it will use the description etc. from setup.py to populate the README. If I remember correctly.

[2019-10-29 02:03] Multihuntr commented on #1257
It uses the `long_description` field from the `setup.py`, which uses your `README.rst`: https://github.com/pytorch/vision/blob/master/setup.py#L203

But I can see that that should have been updated as of v0.4.1? But it still says "TorchVision requires PyTorch 1.1 or newer." on pypi for `v0.4.1.post2`? Something weird is going on.

Btw; I looked this up when I came across this before (I was curious

[2019-10-29 10:04] fmassa commented on #1054
@elepherai can you try the detection models in torchvision instead? I've optimized a few things (by fusing a few operations) which should make inference on torchvision faster than in maskrcnn-benchmark.
Plus, if you paste a minimal script which reproduces the behavior it would make it much easier to debug.

[2019-10-29 10:25] elepherai commented on #1054
@fmassa Thanks, I will try torchvision first.

[2019-10-29 12:27] fmassa commented on #1185
Fixed by @pedrofreire in https://github.com/pytorch/vision/pull/1529

[2019-10-29 12:27] #1185 closed

[2019-10-29 12:45] fsavard-eai commented on #1530
Here's a very minimal script that illustrates the behavior on a one-image one-box mock dataset, mimicking what happens in `detection/engine.py`:

[code]

I ran this with torchvision 0.4.0. The torchvision reference scripts are made importable by adding `__init__.py` files in the relevant directories.

If I run this with initialization `ann_id = 0` in `convert_to_coco_api`, I get the following outp

[2019-10-29 12:58] bhack commented on #980
Pycls seems to have EfficientNet  https://github.com/facebookresearch/pycls

[2019-10-29 13:11] fmassa commented on #1530
Hi,

Thanks for the bug report and nice catch!

There has recently been a discussion about this in https://github.com/cocodataset/cocoapi/pull/332. I think we should fix it in torchvision by making `ann_id` start with 1 as you proposed, but we should keep in mind that this behavior might be changed in a future version of pycocotools.

Can you send a PR fixing it?

[2019-10-29 13:30] fsavard-eai commented on #1530
Sure, here you go:

https://github.com/pytorch/vision/pull/1531

I haven't run the test suite myself but I think it's being done automatically through circleci.

The issue you linked to concerns cocoapi itself. For sure it would be best if they avoided interpreting IDs as booleans, but until they do I think the fix is simple enough.

Thanks for the prompt follow-up!

[2019-10-29 14:19] pedrofreire commented on #1416
@Ridhwanluthra
Are you working on it? I was considering having a look at it otherwise :)

[2019-10-29 14:35] fmassa commented on #1530
Fixed via https://github.com/pytorch/vision/pull/1531

[2019-10-29 14:35] #1530 closed

[2019-10-29 16:33] fmassa commented on #1489
@tangorn so your torchvision install might be picking the wrong `_C.so` file.

I'd recommend removing the `try:` in https://github.com/pytorch/vision/blob/13b35ffaa5167f3713ea7a53c43395d90b3a7cbc/torchvision/extension.py#L15-L19
so that you can further debug the issue. It's probably related to the fact that in your setup https://github.com/pytorch/vision/blob/13b35ffaa5167f3713ea7a53c43395d90b3a7c

[2019-10-29 17:00] tangorn commented on #1489
hmm, i did the above and added print statements to print `lib_dir` and `path`, then did `setup.py clean`, `setup.py install`, saved the whole log, and did not see the printouts. As if `extension.py` was never ran.

[2019-10-29 17:02] tangorn commented on #1489
oh, see it, it's runtime stuff

[2019-10-29 18:15] fmassa commented on #1489
@tangorn can you try running the same code but on an interpreter, to see if it finds the module?
So something like
[code]
The `imp` package is deprecated in newer versions of Python, but it's kept there for compatibility with Python2. I'm trying to understand why it's not picking the right lib for you. I think your system might be encapsulating the python code separately from the `.so` lib that is

[2019-10-29 19:13] tangorn commented on #1489
same error in interpreter

[2019-10-29 19:21] tangorn commented on #1489
maybe. the difference with 0.4.0 that I see is that it has also `_C.cpython-36m-x86_64-linux-gnu.so` and `_C.py` refers to it rather than `_C.so`

[2019-10-29 19:26] tangorn commented on #1489
oh, and the same code in interpreter fails for 0.4.0 the same way it does for 0.5.0

[2019-10-29 20:11] fmassa commented on #1489
I did a quick google search and the closest I found was https://github.com/tensorflow/tensorflow/issues/8107, which pointed to a compilation error, but that's not the case in here. I'm running out of ideas for now, and as I cant reproduce the error it's very hard to try to find a solution without more details

[2019-10-29 20:35] sclarkson commented on #1458
Any update here? Even just tagging the release without adding release notes would be helpful.

[2019-10-30 00:03] jph00 commented on #1453
FYI the Imagenet competition dataset is also available thru Kaggle.

[2019-10-30 02:44] shenlinyao opened #1534 "The output of features is 512*7*7,why we still need AdaptiveAvgPool2d here to make the output size 7*7 output diamension"
https://github.com/pytorch/vision/blob/13b35ffaa5167f3713ea7a53c43395d90b3a7cbc/torchvision/models/vgg.py#L44

[2019-10-30 10:01] pedrofreire commented on #1489
I'm on torch 1.3.0 and building torchvision from master, and I am also getting the errors on running test_ops.py :

[code]

Removing the try block in extension.py gives me the same error `ImportError: No module named '_C'`.

I was wondering if was an issue related to the library being a zipped egg file (related to https://github.com/pytorch/pytorch/issues/20781 ?), so I unzipped it, and then I'm n

[2019-10-30 10:04] fmassa commented on #1534
Because some times you might want to pass images of different sizes, but still want the final classifier to work.
See https://github.com/pytorch/vision/pull/643 and linked issues for more context

[2019-10-30 10:04] #1534 closed

[2019-10-30 10:27] fmassa commented on #1489
Ok, I could reproduce the problem thanks to @pedrofreire snippet.
It seems to be due to installing the package with `python setup.py install`, while I've always used `python setup.py build develop` in order to be able to modify the library without reinstalling it.

I'm looking into a fix

[2019-10-30 11:14] feipeng-wang commented on #1308
@fmassa
I came across the similar situation.
keeping the rest intact, , I tried different anchor_sizes:
` anchor_sizes = ((8,), (12,), (16,))` ----error
` anchor_sizes = ((8,), (12,), (16,), (24,))`----error
` anchor_sizes = ((8,), (12,), (16,), (24,), (32,))`----ok
` anchor_sizes = ((8,), (12,), (16,), (24,), (32,),(64,))`----ok
It seems like only when anchor_sizes is smaller than 5, it spills th

[2019-10-30 15:10] Denlar2 opened #1538 "Problem train/finetuning segmentation (fcn_resnet101) on voc data"
Hi
Thanks for a great api.

I am trying to train/finetuning the trained fcn_resnet101 trained on coco dataset, but it seems like after 1. epoch it is way worse on voc data, than it is before.

If i test the already trained fcn_resnet101 on the voc data i get  mean IoU: 73.3.

Then i train the fcn_resnet101 on the voc data and after 1. epoch i get mean IoU: 3.8.
Why is it so much worse after traini

[2019-10-30 15:19] fmassa commented on #1458
Just created a new release tag in https://github.com/pytorch/vision/releases/tag/v0.4.1

[2019-10-30 15:19] #1458 closed

[2019-10-30 15:31] fmassa opened #1539 "Improve error message when number of anchors mismatch"
See discussion in https://github.com/pytorch/vision/issues/1308#issuecomment-547964507

We should add checks in https://github.com/pytorch/vision/blob/067704986d92a3dff4ccf4a686080b3d31390402/torchvision/models/detection/rpn.py#L440 so that it's clearer to users what they need to change if they face such an error in the future.

[2019-10-30 15:33] #1489 closed

[2019-10-30 15:40] fmassa commented on #1489
@tangorn this should be fixed in master, let me know if you still face the same issue.

Note that once you install torchvision with `python setup.py install`, you'll need to change directories afterwards, or else you'll have the same issue.

[2019-10-30 15:41] fmassa commented on #1002
@gemmit tracing should already be supported for maskrcnn. Using `torch.jit.script` will be supported in the coming weeks

[2019-10-30 16:21] jph00 commented on #1453
I don't know what your guidelines are for that @fmassa . It's officially shared with Kaggle by the Imagenet consortium AFAIK, and it certainly has the same contents (I've checked).

[2019-10-30 21:06] tangorn commented on #1489
Looks like it is past the `_register_extensions()` (removing `try` does not lead to error any more) and fails in the `_check_cuda_version()` of extension.py now:
[code]

[2019-10-30 21:13] fmassa commented on #1489
@tangorn can you make sure you do a clean build? I think this is due to a binary from 0.4.0 being picked

[2019-10-30 22:28] rwightman commented on #980
Doesn't help with the weights situation though... and looking at the included h-param config for training B0, don't think it'll match the paper or AutoAug/RandAug results

[2019-10-31 05:32] rsomani95 opened #1540 "Generalising Video Classification Training Script (references/video_classification/train.py)"
The `references/video_classification/train.py` script can be generalised for finetuning on any dataset with just a few changes.

3 additional arguments would be needed:

[code]

Some minimal changes to the script:

Modifying lines 119-120
[code]

One additional line after line 205:
[code]

If this makes sense to you guys, I'll be happy to put in a PR for it.

[2019-10-31 08:41] Denlar2 commented on #1538
Thanks @fmassa for the fast help.
Yes i am only finetuning on one GPU
A lower learning-rate make sense, since it is just finetuning.

[2019-10-31 09:03] YongWookHa commented on #1048
The problem seems still there.
I've made a little trick of detouring this `unsupported namedtuple` problem.

It's a kind of mixed solution of @fmassa 's option 1 and 2.
It doesn't change `inception_v3` of `torchvision.models` but change `namedtuple`  to `dict` at the parallel parts.

Change `gether` function in `scatter_gather.py` file to below.

[code]

And you can get the result of `inception_v3

[2019-10-31 09:16] AyazSaiyed commented on #940
This is because of pytorch version incompatibility ,

**pip install torch==1.3.0**

[2019-10-31 10:51] ThomAub opened #1541 "DeprecationWarning in torchvision/datasets/lsun.py with python 3.8"
With the new release of python 3.8 some new DeprecationWarning are poping. `DeprecationWarning: Using or importing the ABCs from 'collections' instead of from 'collections.abc' is deprecated, and in 3.8 it will stop working`

Is it resonable to submit a PR to fix it ?

[2019-10-31 11:10] fmassa commented on #1541
I believe this has been fixed in latest torchvision by https://github.com/pytorch/vision/pull/1417

Can you double-check?

[2019-10-31 12:14] rsomani95 commented on #1540
I sent in a PR (#1544) since it's easier to see the changes there

[2019-10-31 12:36] ThomAub commented on #1541
Yes it is fixed with this PR :)
Sorry for the inconvenience.

[2019-10-31 12:36] #1541 closed

[2019-10-31 13:03] feipeng-wang commented on #1308
After spent  a few hours, I finally got what you mean:  Initially, I was confused by the connection between feature maps and anchor sizes. Finally, I found out the 'why':
[code]
where len(grid_sizes), len(strides) equals the number of feature maps, while len(cell_anchors) equals
the number of base achor-size.
  However, I still don't understand why it has to be writen this way.
Thanks.

[2019-10-31 13:37] fmassa commented on #1308
@feipeng-wang if you have a better way of representing this, I'd love to hear your thoughts on how to simplify / improve things.

[2019-10-31 13:39] fmassa commented on #1541
No worries, thanks for opening the issue!

[2019-10-31 14:20] fmassa opened #1545 "[v0.4.2] Release Tracker"
We will be cutting a 0.4.2 release on top of the 0.4.1 branch.

It will contain the new C++ video reader backend, which improves the speed for decoding videos significantly. Due to packaging issues of ffmpeg, for users to be able to benefit from this faster version they will need to compile torchvision from source (and they need to have ffmpeg available in their system).

By comparing all the PRs

[2019-10-31 15:08] fmassa commented on #1545
Here is the cherry-picked branch for the aforementioned commits: https://github.com/pytorch/vision/tree/v0.4.2

I had to fix a few minor conflicts on the way. Here is the list of commits that had conflicts:
- [video reader] inception commit (#1303) 31fad34
- add _backend argument to init() of class VideoClips (#1363) 7874374
- Temporary fix to remove ffmpeg from build time (#1475) ed04dee
- Unify

[2019-10-31 15:19] Denlar2 commented on #1538
Thanks again @fmassa
After i have trained my model, and i stay around the same IoU almost 70 on the voc data.

I am trying to evaluate my model on one image, and trying to show this image, it looks like the model is way worse.
I am using this to load my model (it works fine with the pretrained model on voc, but not my own model after one epoch):
[code]

and is following this example to show the se

[2019-10-31 19:30] tangorn commented on #1489
tried it, did not work. on the other hand if i do `setup.py build develop` it works just fine, so you are probably right, i just did not clean out something, maybe cache...

[2019-11-01 02:25] chifredhong opened #1548 "Scripting torchvision.models.detection.maskrcnn_resnet50_fpn failed"
When I convert mask rcnn in torchvision,
[code]
then,get errors bellow
[code]
my torch and torchvision verison is **1.4.0.dev20191031+cpu, 0.5.0.dev20191031+cpu**

[2019-11-01 07:30] SebastienEske commented on #1406
Hello, it's been a while and since this has not moved on I feel like maybe I voiced my concerns a bit too much. If that's the case, I'm sorry about it.

In any case, my point was to make sure that all concerns and alternatives are presented. The above is all I got so @fmassa whatever you decide to go with will be good for me.

[2019-11-01 08:37] Denlar2 commented on #1538
@fmassa thanks for the fast answer.
Yes, i put it in evaluation mode, this is my script:
[code]
Then the segment function is the one in the previous comment.

Figured out my mistake was i needed to change the way i load the model till this instead:
[code]
 Thanks for you help again

[2019-11-02 16:12] jc-hou opened #1550 "Stuck when training video model with multi-node training"
I'm trying to train the video model in https://github.com/pytorch/vision/blob/master/references/video_classification/train.py
with multi-node training (2 nodes, 4 gpu each).
I got socket timeout error on node 1 (node 0 is the master node) so I added three flag msg in the code to see where I got stuck:
(in the train_one_epoch method)
[code]
The output log on node 0 is here
[issue_output_node0.txt](

[2019-11-04 09:43] fmassa commented on #1406
Hi @SebastienEske

No worries at all, thanks for sharing your thoughts!

I've been slow to respond on this one because I've been busy working on other parts of torchvision. I'm going to be getting back to segmentation / detection transforms most probably in January

[2019-11-04 09:47] fmassa commented on #1540
Replied in the PR, thanks for the PR!

[2019-11-04 09:51] fmassa commented on #1548
Hi,

This will be fixed once https://github.com/pytorch/vision/pull/1407 gets merged. In the meantime, let's keep the discussion in https://github.com/pytorch/vision/issues/1002

[2019-11-04 09:51] #1548 closed

[2019-11-04 15:56] maxfrei750 opened #1552 "Best practice to run Mask R-CNN in parallel"
What ist the best practice to run Mask R-CNN in parallel?

@fmassa wrote in #1255

Is this information up-to-date?

[2019-11-04 21:07] tolgaakar commented on #1355
@nicolasCruzW21  I changed this line in coco_eval but i am still getting the same error. I am using Google Colab (python version 3.6.8), and I tried it with both PyTorch 1.2 and 1.3.

[2019-11-05 03:08] JasperShian opened #1553 "Trained Mask RCNN without ground truth bounding boxes"
Hi all,

Is acceptable to train mask rcnn without bounding boxes? I want to generate only negative samples after RPN model in order to lower false positive cases.

[2019-11-05 10:42] fmassa commented on #1552
We use 1 GPU per python process, but that doesn't mean that we can't use more than 1 GPU for training / inference.

Best practice is to run the training code via
[code]

[2019-11-05 10:42] #1552 closed

[2019-11-05 10:48] fmassa commented on #1553
The current implementation does not support training without positive boxes.
But you'll need at least some positive boxes for training to make sense.

[2019-11-05 10:48] #1553 closed

[2019-11-05 10:52] fmassa commented on #1355
@nicolasCruzW21 this fix is BTW present in torchvision since https://github.com/pytorch/vision/pull/1413 , and is available in a nightly release

[2019-11-06 00:26] anuar12 opened #1557 "Can KeypointRCNN also detect objects that do not need to be predicted with keypoints?"
As far as I understand keypoints would be computed for all the box classes (apart from background) in Keypoint-RCNN. I need to do object detection and keypoint prediction at the same time, however keypoints should only be predicted for one class. Does current version support this?

If not, I would need to modify some of the code in FasterRCNN and KeypointRCNN as far as I understand but in principl

[2019-11-06 01:45] JasperShian commented on #1557
Your keypoint rcnn just inferences predicted boxed rather than keypoints? if true, why don't you use faster rcnn instead of keypoint rcnn?

[2019-11-06 06:38] Exlsunshine commented on #1473
Actually it's even more stranger, the code is not always failed to execute, sometimes it works, and sometimes not:
[code]

[2019-11-06 09:28] fmassa commented on #1528
Fixed via https://github.com/pytorch/vision/pull/1551

[2019-11-06 09:28] #1528 closed

[2019-11-06 09:54] fmassa commented on #1473
@Exlsunshine I'm not sure how to debug this further. Maybe it was a connection issue?

[2019-11-06 09:55] fmassa commented on #1557
Hi,

`KeypointRCNN` only has the person class. Thus, it only computes keypoints for the person class as well.

If you want to detect multiple objects and keypoints for a single object, then you'll need to either pass two detectors, or modify keypoint rcnn to handle this situation.

[2019-11-06 09:55] #1557 closed

[2019-11-06 10:17] fmassa commented on #1550
Hi @jc-hou

How are you running the training script for each one of the machines? I suspect that it might be a problem with the configuration of the distributed setup on the different machines.

[2019-11-07 00:56] d-colwell commented on #1455
@soumith this behavior seems to be reasserting itself. Install from pytorch and conda-forge channels are now back at version 0.2.2

[2019-11-07 01:06] d-colwell commented on #1455
Ignore the above, it was to do with having python version 3.7 installed, which doesnt work with torchvision0.4.1

[2019-11-07 03:37] Exlsunshine commented on #1473
Maybe, I am in a company network. But anyway, I find a workaround by adding `from urllib.request import urlopen` manually.

[2019-11-07 10:08] fmassa commented on #1473
Ok. Given that we can't reproduce the problem and there is a workaround solution, I'll consider that there is no follow-up required on our side.
If you manage to nail down the problem a bit more, please let us know

[2019-11-07 12:41] fmassa commented on #1455
@d-colwell we will be releasing a new version of torchvision today or tomorrow.
@peterjc123 do we need to fix something for the Windows binaries?

[2019-11-07 12:43] peterjc123 commented on #1455
No, I don't think so.

[2019-11-07 20:46] jc-hou commented on #1550
Hi @fmassa  thank you for the comment.
On node 0, I run it with:
[code]
On node 1:
[code]

[2019-11-08 06:12] soumith commented on #1455
@d-colwell afaik we have torchvision binaries for python 3.7 + Windows. So something else is going on.

[2019-11-08 08:23] z-a-f opened #1563 "ImageNet link dead"
This is an issue similar to #1453, #151, and is supposed to be closed by #1457, but still broken (as of pytorch==1.3.0, vision==0.4.1)

[code]

throws an error

[code]

The download link itself is dead:
![image](https://user-images.githubusercontent.com/4216323/68460750-7913aa00-01bd-11ea-9da6-82993ac933f2.png)

## Environment

[code]

[2019-11-08 14:34] pmeier commented on #1563
This was indeed fixed by #1457 on the master branch:

https://github.com/pytorch/vision/blob/95131de394543a7c34bd51932bdfce21dae516c1/torchvision/datasets/imagenet.py#L40-L49

Unfortunately, this commit did not make it into the recent releases and this is why you still get the error. You have to ask @fmassa why this is the case.

[2019-11-11 01:07] Tabrizian commented on #1296
EMNIST url still not working.

[2019-11-11 16:21] pedrofreire commented on #1416
I am working on this :)

[2019-11-11 17:11] iarspider opened #1566 "No longer able to build in Docker"
Hi!

We were able to build torchvision 0.3.0 w/cuda in docker container, which doesn't have access to NVidia GPU. However when building 0.4.1 we get the following error:
[code]

Is there a way to build torchvision without "NVidia driver"?

[2019-11-12 05:57] #631 closed

[2019-11-12 08:33] iarspider commented on #1566
This is how we build Torch:
[code]

This is how we build Torchvision:
[code]

[2019-11-12 09:49] fortunex3000 commented on #392
@fmassa Is or will there be any implementation of Soft-NMS in pytorch too?

[2019-11-12 10:24] mattans opened #1568 "MaskRCNN crashes when reshaping an empty tensor rel_codes"
torchvision '0.4.0+cu92'

Traceback:

[code]

It appears that during a forward pass rel_codes is empty which crashes the reshape operator.

[2019-11-12 11:14] zhiqwang commented on #1416
Hi,

https://github.com/facebookresearch/detectron2/blob/d01c8617dc88dcc2157f456870c95d6be40f3f3d/detectron2/layers/deform_conv.py#L15

I saw there have `DCN` implementation in detectron2, is there any plan to merge this implementation here?

[2019-11-12 11:59] pedrofreire commented on #1416
Cool, thanks for letting us know! Yeah, so it seems the detectron2 incorporated the code from mmdetection, which is the implementation I'm also basing myself on, so in some sense I'm already merging it! I'm also planning to add testing, a CPU version, and improve code readability a bit :)

[2019-11-12 14:10] mattans commented on #1568
This is a repr of the `image`, if that helps:

[code]

[2019-11-12 21:46] z-a-f opened #1569 "quantized fuse_model should have an inplace argument"
Currently if the user wants to have the fused model while preserving the original, they have to do

[code]

Given that the quantization API provides an inplace variant for the `torch.quantization.fuse_modules`, we need to have an option for inplace in the model methods as well.

[2019-11-12 22:45] fbbradheintz commented on #1234
@fmassa - There are currently multiple test failures (mostly related to scriptability) for segmentation, detection and video models. I'll watch for those to clear up before I start building on them (unless you have a suggestion for a branch besides master to build on).

There are some other passing tests that still need correctness tests added, I'll address them in the meantime.

[2019-11-13 14:49] nshaud opened #1570 "Adding "narrow" ResNet models for CIFAR-10"
In the original [Residual Network paper](https://arxiv.org/pdf/1512.03385v1.pdf), the authors use a different layout for ImageNet and CIFAR-10 (see section 4.2). This makes it difficult to reproduce the results since torchvision only include built-in ResNets designed for ImageNet. [Some users](https://discuss.pytorch.org/t/reproducing-resnet-cifar-10-test-error/56558) have been confused by this (s

[2019-11-13 18:21] fmassa commented on #1563
Hi,

We have only cut a minor release for 0.4.2, which contained only the necessary for an improved video reading.

Next release of torchvision will have the fixes from @pmeier .

[2019-11-13 18:21] #1563 closed

[2019-11-13 18:23] fmassa commented on #1296
@Tabrizian this has been fixed in master, and the fix is present in a nightly.

Note that the fix didn't get in the 0.4.2 release

[2019-11-13 18:39] fmassa commented on #1566
Hi,

I don't have much experience with docker, and I'm not what has changed that could break things for you compared to 0.3.0.

Can you try building torchvision from master branch?

[2019-11-13 18:41] fmassa commented on #392
@fortunex3000

it's not in the plans for torchvision in the near future

[2019-11-13 19:11] varunagrawal commented on #392
Soft-NMS is pretty straightforward. I might add it once academic winter break starts.

[2019-11-13 20:37] fmassa commented on #1569
This sounds ok to me, as it will only be exposed in he `fuse_model` method from quantized models

[2019-11-13 21:42] rohit-gupta commented on #483
@stmax82 Maybe you could look into Nvidia's Dali framework

[2019-11-14 06:10] jinyu121 opened #1573 "Pad if needed when using TenCrop and FiveCrop"
When using TenCrop and FiveCrop, if the source image is smaller than the aimed crop size, there will be an error like `ValueError: Requested crop size (256, 256) is bigger than input size (320, 240)`.

Can you pad the image if needed, just as what `torchvision.transforms.RandomCrop` do?

[2019-11-14 13:31] iarspider commented on #1566
Hi,

same problem with "master" (commit 681c6c1) version of torchvision.

[2019-11-14 16:50] Delaunay opened #1574 "Add an option for Dection Models to return cost in eval mode as well (validation, test loss)"
We need to get the model cost in eval mode when we compute validation accuracy for hyper parameter search.

At the moment eval mode only returns the detection without the cost.
Which mean it is used as inference mode which is different than what people might want.

We can not use training mode to compute validation because of batchnorm and dropout.

The solution with the least code modification wo

[2019-11-14 21:37] Yumin-Sun-00 opened #1578 "pilImage convert to tensor, than convert back to pilimage is not the same to the original"
I convert a PILImage to tensor and than convert it back to PILImage. Saving the result, and compare to the original PILImage I loaded, they are not the same.

Why it is so?

[2019-11-14 21:47] #1578 closed

[2019-11-15 03:09] iantimmis commented on #1563
Why is imagenet so much harder to download now?

[2019-11-15 06:50] pmeier commented on #1563
As far as I know, there were never _official_ public download links. They required the users to [register with them](http://image-net.org/download-images) and provided download links afterwards. Still, the archives were publicly accessible, which are now closed. You have to ask the ImageNet staff why they did this.

[2019-11-15 09:34] zetyquickly commented on #1489
@fmassa Should we expect `torchvision::nms` to work on pytorch-nightly built from source?
There's an issue with it.
[code]
Note: I use pytorch_android_torchvision-1.4.0-SNAPSHOT.aar library

[2019-11-15 15:25] TengdaHan opened #1582 "VideoClips object needs documentation"
The recent 0.4.2 update on VideoClips seems to bring lots of new functionality with `video_reader` backend without many explanations.

I think VideoClips need documentation, it's a very useful tool. Thanks!

[2019-11-15 18:52] soumendukrg commented on #1048
I tried out your solution @YongWookHa, however, now I am getting an error to calculate loss function
Error:

`File "/home/min/a/ghosh37/distiller/distiller/apputils/image_classifier.py", line 588, in train
    loss = criterion(output, target)  File "/home/min/a/ghosh37/distiller/env/lib64/python3.6/site-packages/torch/nn/modules/module.py", line 541, in __call__
    result = self.forward(*input, *

[2019-11-15 19:48] soumith commented on #1399
we have an issue with binary sizes on pypi. The pypi team has generously given us an increment to ship our wheels, but out windows wheels are larger than that limit.

[2019-11-15 20:01] fmassa commented on #1489
@zetyquickly hi,

This operator should work on pytorch-nightly. Maybe the issue is that you are trying to run on a mobile, and the mobile export hasn't registered those operators?

@dreiss is there a way of letting 3rd-party extensions to be linked against a mobile build of pytorch?

[2019-11-15 20:07] dreiss commented on #1489
Not right now (for OSS builds).  We'll look into it, but it is *much* easier to get a small app size if you're able to bring all of the code into a single library.

[2019-11-16 08:30] zhu2014yi opened #1588 "pretrained model"
Anybody know how to train a pretrain model(etc mobile net v2 in pysot ) ?

[2019-11-16 16:24] AghiadHaloul opened #1589 "EMNIST dataset download links both invalid"
Using
`EMNIST_train = torchvision.datasets.EMNIST(root='./data/datasets/EMNIST',
            split='balanced',
            train=True,
            download=True)`

returns the following errors:

The data sources need updating.  Alternative links [(here)](https://discuss.pytorch.org/t/emnist-in-torchvision-datasets-returning-http-error-503-service-unavailable/61177/2?u=aghiadhaloul) were provided o

[2019-11-16 18:17] surgan12 commented on #1589
The link has been fixed
Please refer [https://github.com/pytorch/vision/issues/1296#issuecomment-553536079](this)

[2019-11-17 04:31] NathanDrakeHat opened #1596 "torchvision.datasets ImageNet and EMNIST url invalid"
url outdated!

[2019-11-17 05:01] z-a-f opened #1590 "Error(s) in loading state_dict for QuantizableShuffleNetV2"
When loading the quantized shufflenet, an error pops up:

[code]

[2019-11-17 09:01] pantheon5100 opened #1591 "Training data set for pretrained resnet18"
Anybody knows what the training data set of pretrained resnet18 is .
I cannot find the official information of training data set used for pretrained models in torchvision.models.

[2019-11-17 11:30] pmeier commented on #1591
The classification models, such as `resnet18`, models provided by PyTorch are trained with this script:

https://github.com/pytorch/vision/blob/master/references/classification/train.py

If not noted otherwise, all models are trained on the [`ImageNet` dataset](https://github.com/pytorch/vision/blob/4b2f8daba9cca3d7cf003833c2e690d05afa2bf5/torchvision/datasets/imagenet.py#L19). For flexibility the

[2019-11-17 12:35] pantheon5100 commented on #1591
@pmeier Thank you for your help.

[2019-11-18 07:30] richesh09 opened #1592 "unable to load inception model. Or any other architect other than alexnet"
import torchvision.models.inception

# works fine
arch = torchMd.alexnet(pretrained=True)

# gives error, also tried vgg, densenet
arch = torchMd.inception(pretrained=True)

AttributeError                            Traceback (most recent call last)
<ipython-input-43-3882461a2f37> in <module>
----> 1 print(torchvision.__version__)

AttributeError: module 'torchvision' has no attribute '__version__

[2019-11-18 07:49] richesh09 commented on #1592
# on trying inception_v3
arch = torchMd.inception_v3(pretrained=True)

---------------------------------------------------------------------------
RuntimeError                              Traceback (most recent call last)
<ipython-input-55-2cf9d6b9f771> in <module>
----> 1 arch = torchMd.inception_v3(pretrained=True)

~/anaconda3/envs/fastai/lib/python3.6/site-packages/torchvision/models/inceptio

[2019-11-18 08:43] YongWookHa commented on #1048
I think you forgot to add `.values()` when you get outputs from your inception model.
So, have you solved the problem?

[2019-11-18 10:44] pmeier commented on #1592
Without any information about what versions you are using, it is hard to help you. Could you please paste the following snippet into your python console and post the output here:

[code]

[2019-11-18 12:07] richesh09 commented on #1592
1.3.1

---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
<ipython-input-75-387f9cd332b1> in <module>
      2 print(torch.__version__)
      3 import torchvision
----> 4 print(torchvision.__version__)

AttributeError: module 'torchvision' has no attribute '__version__'

However, I have installed de

[2019-11-18 14:35] fmassa commented on #1588
@zhu2014yi commands for training a mobilenet v2 in PyTorch on ImageNet can be found in https://github.com/pytorch/vision/tree/master/references/classification#mobilenetv2

This is the exact same code that we used to obtain the pre-trained weights for MobileNetV2 that are available in the modelzoo

[2019-11-18 14:35] #1588 closed

[2019-11-18 14:35] fmassa commented on #1589
Closing following @surgan12 comment

[2019-11-18 14:35] #1589 closed

[2019-11-18 14:37] fmassa commented on #1590
There seems to be a backwards-incompatible change that was made in PyTorch recently.

This is bad and should be reverted in PyTorch in order to keep backwards-compatibility

[2019-11-18 14:37] fmassa commented on #1591
Closing following @pmeier comment. Thanks Philip!

[2019-11-18 14:37] #1591 closed

[2019-11-18 15:07] richesh09 commented on #1592
Hi,
Regarding version detail, I might have made an error so will check it tomorrow. However regarding model, my concern is mainly for inception model as I intend to train my data on it. Can you please share your insights for the same.

[2019-11-18 15:34] pmeier commented on #1592
This is the same case as 2. in my previous comment:

[code]

is not going to work, since `torchMd.inception` points to module (that means an actual file with a .py extension) rather than a function, which is of course not callable. Thus, the error reads:

[code]

This is working for `alexnet`, because the function to load `AlexNet` has the same name as the module. This is not working for the other

[2019-11-18 16:07] fmassa commented on #1592
I believe @pmeier has addressed all the concerns from @richesh09 .

As such, I'm closing this issue, but please let me know if this isn't the case.

[2019-11-18 16:07] #1592 closed

[2019-11-18 16:07] fmassa commented on #1592
And thanks @pmeier for all the help!

[2019-11-18 16:18] fmassa commented on #1582
Hey,

A few of those things are still a bit experimental. In particular, I would like to remove if possible all the arguments starting with an `_` from `VideoClips`, https://github.com/pytorch/vision/blob/8aec85deb447d415abc0788d8dc301a727cc69fb/torchvision/datasets/video_utils.py#L73-L74
They are currently there for performance reasons.

I think we do have code documentation for the `VideoClips`,

[2019-11-18 16:26] richesh09 commented on #1592
Hi
I got your point. Anyhow for case of arch= torchMd.inception_v3() is throwing me error with error message mentioned in my comment 2. Can you please have a look at it too

[2019-11-18 16:30] pmeier commented on #1592
Without knowing the exact `torch` and `torchvision` versions, further help is nothing more than guessing. Please provide this information first. Otherwise we are unable to help you. As I mentioned before, this working on my setup with the current stable releases.

[2019-11-18 20:01] fmassa commented on #1234
@fbbradheintz CI should be green now

[2019-11-18 21:00] RylanSchaeffer commented on #1453
@pmeier , is there a way to download the 1000-class subset through PyTorch?

[2019-11-18 21:00] RylanSchaeffer commented on #1453
@fmassa , do you know?

[2019-11-19 05:32] richesh09 commented on #1592
Hi @pmeier ,
Please note that I just retired and the error message for torchvision remains same.

import torch
print(torch.__version__)
import torchvision
print(torchvision.__version__)

1.3.1

---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
<ipython-input-4-387f9cd332b1> in <module>
      2 pri

[2019-11-19 07:46] pmeier commented on #1453
No, there isn't. As the disclaimer states:

IMO we were already in a grey area before, since we were hosting download links that should have not been publicly accessible. Since the authors decided to close these links, there is nothing we can do.

[2019-11-19 07:51] pmeier commented on #1592
`torchvision==0.1.9` is a very old release. The last commit was in August 2017. Thus, this is not compatible with the current `torch==1.3.1` release. Updating to `torchvision==0.4.2` should solve your problem.

[2019-11-19 09:14] richesh09 commented on #1592
Thanks. It worked on updating.

[2019-11-19 09:23] pmeier commented on #1592
Without being snarky:

Please just follow the instructions we are giving you, if you want us to help you. This whole issue could have been resolved far earlier, if you simply posted your versions in the first place or at least after I asked you too.

For the future:

Since the models are an integral part of `torchvision`, if a bug like you described existed, most likely you are not alone reporting

[2019-11-19 10:13] TengdaHan commented on #1582
Hi, yes the code is great. What I mean is the website documentation plus some examples. They would be helpful.

[2019-11-19 12:35] r-zenine opened #1595 "Allow for transforms.ToTensor to return a Tensor of type torch.uint8"
Hi Everyone,

This is my first issue in the project. Please forgive me if I overstep.

I would like to have the ability when I transform PIL images using Torchvision to get back a uint8 Tensor.

I am reimplementing a flavor of DQN with experience replay where I have to store frames of an atari game in a big buffer. Storing these tensors as uint8 as opposed to floats allows me to save some memory a

[2019-11-19 13:00] pmeier commented on #1595
Hi @r-zenine

as of now images in `torchvision` are always `torch.FloatTensor` and it is assumed that the values lie in the interval between 0 and 1. Thus, I think, having it as a parameter in `transforms.ToTensor` is not useful at the moment. However, there is a movement to also support `torch.ByteTensor` (uint8) images in the future. (I think I read that proposal somewhere, but I don't find the

[2019-11-19 14:03] r-zenine commented on #1595
Hi @pmeier,

I wanted to be as respectful as possible in my comment as not to overstep. Since I am fairly new to Torchvision, I assumed I might not be aware of some design decisions taken by the project and I did not want to be rude!

What is the rationale behind wanting only `torch.FloatTensor` in `Torchvision` ? Of course, there is the fact that convnets expect that an input. But am I missing so

[2019-11-19 16:00] pmeier commented on #1596
Duplicate of #1296.

[2019-11-19 16:01] #1596 closed

[2019-11-19 21:44] soumendukrg commented on #1048
Yes, I did add values, but I was copying `model.values `only to single output instead of `output, aux_output`, and so when computing loss function on dict instead of a tensor, I got the error.

Thanks, but your method solved me hours of training time. Earlier, I had to train inception only one a single GPU, not modifying pytorch file using your code, I am able to train on more than 1 GPU.

[2019-11-20 08:58] yueruchen opened #1597 "torchvision build from source failed"
Environment:
python3.7
cuda-10.0
pytorch successfully build from source on latest version
ffmpeg
[code]
when run `python setup.py install` in `vision` directory:
[code]

[2019-11-20 12:15] kkirtac opened #1598 "How to feed negative samples during Faster R-CNN training"
Hi all,
I have lots of non-annotated images in my training set, where there is no object of interest but there are couple other objects that should be interpreted as part of background. Is there any way I can provide background (negative) samples explicitly in my dataloder?
I tried to set a single fake bounding box with label zero for those non-annotated images, and set my num_classes as 3, i.e.,

[2019-11-20 12:39] Abolfazl-Mehranian opened #1599 "ResNet identity (line 55) mustn't be mutable"
The identity variable in line 55 is mutable
    def forward(self, x):
        identity = x

It must be immutable as follows:

    def forward(self, x):
        identity = 1*x

[2019-11-20 20:19] fmassa commented on #1582
I see, yeah, we can expose it in the website documentation.
We would need to modify one of the files in https://github.com/pytorch/vision/tree/master/docs/source (maybe `datasets`?) to add this entry.

Contributions are welcome!

[2019-11-20 20:21] #1545 closed

[2019-11-20 20:26] fmassa commented on #1595
Hi @r-zenine ,

Thanks for opening the issue!

As @pmeier pointed out, we currently always return float tensors between 0 and 1. This is good for consistency: all images are float in 0-1.
We could have other conventions, as native uint8 (in 0-255), or float in 0-255 for example.
We use float 0-1 for legacy reasons (Lua Torch used images in float 0-1), but it generally works ok.

The discussion tha

[2019-11-21 10:28] pmeier commented on #1599
Why do you think so? If I'm not mistaken no inplace operation is performed on `identity` and thus `x` is never changed inplace:

https://github.com/pytorch/vision/blob/8aec85deb447d415abc0788d8dc301a727cc69fb/torchvision/models/resnet.py#L57-L73

Additionally, if we go through with your proposal, it would be clearer to do

[code]

than a multiplication by one.

[2019-11-21 10:38] Abolfazl-Mehranian commented on #1599
Oh, my mistake, you are right. x is never changed. it was another implementation, with similar residual conenction that x was getting changed hence identitiy.

[2019-11-21 10:38] #1599 closed

[2019-11-21 11:50] omedivad opened #1600 "Cannot achieve ResNet (2+1)D accuracy scores"
Hi, I'm using code inside vision/references to evaluate r2plus1d_18 model. However I'm not able to reach @TOP1 and @TOP5 accuracy scores shown in [torchvision website](https://pytorch.org/docs/stable/torchvision/models.html#video-classification).

I have 19761 validation video, one of which is corrupted and other 2 are not long enough to extract one clip 16x112x112.
I'm using tensor dimension 16x1

[2019-11-21 12:39] aminsabetsarvestani opened #1601 "Quantization"
How can I wrap quantized operation cat in the following code from rpn.py? I am replacing torch.cat  with
cat =nn.quantized.FloatFunctional()
cat.cat(box_cls_flattened, dim=1).reshape(-1, C)
 but I get the kernel didn't find dispatch to for operator error

def concat_box_prediction_layers(box_cls, box_regression):
    box_cls_flattened = []
    box_regression_flattened = []
    # for each feature l

[2019-11-21 13:49] #1601 closed

[2019-11-21 13:51] bjuncek commented on #1582
@TengdaHan I'll sync up with fmassa and try to write these up in a next few weeks. Please let me know of particular examples for things you'd like to see in there (I'll stop by O.U. on Thu as well so that can happen offline as well).

[2019-11-21 13:53] fmassa commented on #1599
Thanks for helping out @pmeier !

[2019-11-21 13:56] fmassa commented on #1600
@omedivad how many GPUs are you using for training? If I remember correctly, we used 64 GPUs.
You might need to adapt the learning rate if you change the number of GPUs.

Also, ccing @bjuncek if he has any more insights

[2019-11-21 14:12] omedivad commented on #1600
@fmassa I'm not training, I'm just using the torchvision pretrained model.

[2019-11-21 14:23] bjuncek opened #1602 "[dicussion] VideoClips should support arbitrary length video retrieval"
So here is a scenario - you have a kinetics dataset, and for some reason you'd really want to retrieve a clip of arbitrary length (let's say from 3rd to 8.4th second, or the entire video) at every training step.

In principle, `VideoClips` and `video_io` provide that functionality already through `_read_video_from_file` function, but it's cumbersome to get that. Would you be opposed adding a `get_

[2019-11-21 15:10] bjuncek commented on #1600
@omedivad this could be to dataset snapshot and dataset preparation. We evaluated on 19271 videos, rescaled to 480p on the shorter side at 15 fps single crop center transform at evaluation stage. I evaluated the same model on data that was downsampled to 140p along the shorter side and performance of that was much lower?

How do you process your dataset?

[2019-11-21 15:38] fmassa commented on #1597
What's your gcc version? Are you also using gcc 5.4.0, as ffmpeg that you are using was compiled for?

[2019-11-21 16:08] omedivad commented on #1600
@bjuncek found it! I've rescaled videos to 128x171 as implemented in the vision/references/train.py code and described in the [paper](https://arxiv.org/abs/1711.11248) linked in torchvision video classification page. The resampling to 15 fps, and the centered single crop 112x112 are the same. Thank you very much! Did you rescale to 480p on the shorter side in training too?

[2019-11-21 19:27] r-zenine commented on #1595
Hi @fmassa,

Thank you very much for your response.

I am sorry, I would've liked to look at it now. Unfortunatly, I am a bit short on time today and tomorrow. If it's okay for you ? I will take a look at everything this week-end and share my thoughts.

Thanks,

[2019-11-22 01:21] yueruchen commented on #1597
@fmassa yes

[2019-11-22 04:23] elangovana commented on #1574
I would be interested in this feature too.

[2019-11-22 10:51] bjuncek commented on #1600
No, so what I meant is that the raw videos (before the training ever begins) were stored in "higher" resolution then normally (I believe official Kinetics script squashes them to 256 on the shorter side).

Sorry for the confusion.

[2019-11-22 13:37] omedivad commented on #1600
Yes, the videos in my data snapshot have the shorter side 256 long.
The problem could be this one. Thank you.

[2019-11-22 13:37] #1600 closed

[2019-11-23 00:13] yoshitomo-matsubara opened #1606 "Cannot reproduce performance of Keypoint R-CNN with ResNet-50"
I tried two approaches for reproducing [the performance of Keypoint R-CNN with ResNet-50](https://pytorch.org/blog/torchvision03/#detection-models), box AP = 54.6, keypoint AP = 65.0:
a) use pretrained Keypoint R-CNN with [train.py](https://github.com/pytorch/vision/blob/master/references/detection/train.py)
b) train Keypoint R-CNN by myself with [train.py](https://github.com/pytorch/vision/blob/m

[2019-11-23 04:48] moskomule opened #1607 "DeprecationWarning of imp"
Hi, I got the following DeprecationWarning. [`imp`](https://docs.python.org/3/library/imp.html) is now deprecated and is recommended to move to `importlib` instead.

[code]

[2019-11-24 07:34] r-zenine commented on #1179
Hi everyone,

I am the author of ticket #1595 that seems to as for a subset of what you are discussing here and therefore is redundant.

I mostly agree with @fmassa  and @jguerin-fb  comments on the issue regarding separating `decode` and `read` functions and keeping the native format.

I would also suggest that we have the layout format of the `read/decode` match the `pytorch` default . So I sugg

[2019-11-24 13:38] PyExtreme commented on #1375
Hi @fmassa , I would love to work on center_crop, five_crop and ten_crop.
Please feel free to let me know anything I may need and might be important for it.

Thank you

[2019-11-24 14:25] ShahriarSS commented on #1179
Since this is reopened I should mention the related PR. [This](https://github.com/pytorch/vision/pull/1225) is the PR for this discussion that implements png format. It has been a long time since I worked on TorchVision.

[2019-11-24 19:44] rmcavoy commented on #392
Is the documentation/code for torchvision.ops.boxes.batched_nms correct? The documentation suggests that the nms iou threshold discards boxes with iou < iou threshold (i.e. it only discards boxes that don't overlap which would normally be considered unique). My own testing of the function showed that the function does give fewer boxes with a smaller threshold (0.0 gave 1 box per image) and gives a

[2019-11-24 22:36] stereomatchingkiss commented on #1002
Any progress about support the detection models by JIT?Thanks

[2019-11-25 10:28] fmassa commented on #1002
@stereomatchingkiss Yes, it's almost ready, just need to fix some unrelated ONNX issues and it will be merged this week

[2019-11-25 10:42] fmassa commented on #1607
Thanks for opening the issue!

We can change it to `importlib`, but probably after Jan 2020, when we will be dropping support for Python 2.

PRs welcome!

[2019-11-25 10:54] fmassa commented on #1606
Hi @yoshitomo-matsubara

Thanks a lot for opening this issue!
I just tried myself running the pre-trained model, and I obtained the same performance as you.
This indicates that there is a regression either in torchvision or in PyTorch (or both).

I'm having a look at it

[2019-11-25 12:03] moskomule commented on #1607
I understand. Thanks.

[2019-11-25 12:20] kangkang59812 opened #1608 "What's the input format of the fasterrcnn_resnet50_fpn? I mean RGB or BGR."
### pytorch>=1.1

I notice that both the RGB and BGR input of `[n,c,h,w]`  can get a good result(BGR is slightly higher).
[code]
It seems that `predictions2` is better. So, should I use the BGR format to fine-tuning and eval ?  I can't find this information in the code and I only know the size is `[n,c,h,w]`. In the config of the detectron2 of facebook, it says
[code]
So BGR is the one we should c

[2019-11-25 12:48] fmassa commented on #1606
Some follow-up information: both `fasterrcnn_resnet50_fpn` and `maskrcnn_resnet50_fpn` reproduces the expected results, so it's a problem only with the `keypointrcnn_resnet50_fpn` codepath.

[2019-11-25 12:52] fmassa commented on #1608
The code expects images in `RGB` format, in 0-1 range, as the other models in the torchvision modelzoo. This is the setup where the models were trained, and I would expect that in general it would give best performances.

[2019-11-25 12:52] #1608 closed

[2019-11-25 12:52] fmassa commented on #1607
Let's keep the issue open, as this is something that we will be doing anyway very soon

[2019-11-25 13:02] fmassa commented on #1606
Ok, I think I found the issue.

I have mistakenly took the wrong model checkpoint when uploading the model for keypoint rcnn. I took the checkpoint for epoch 29, instead of the one for epoch 45...

Because the number of images is smaller in the person keypoint subset of COCO, the number of epochs should be adapted so that we have the same number of iterations.

I'll upload the correct weights soon

[2019-11-25 14:47] fmassa commented on #1606
@yoshitomo-matsubara should be fixed in #1609

[2019-11-25 15:09] fmassa commented on #1179
Hi @r-zenine

@ShahriarSS has indeed sent a PR with PNG decoding, which he pointed out in the comment (thanks again @ShahriarSS for the PR).

I didn't have enough bandwidth to properly review the PR and get it merged, also because I wanted to get some extra feedback on people working on production to decide on convention.

I agree with everything @jguerin-fb said.

## Next steps

### Merge PNG PR

[2019-11-25 15:41] isalirezag opened #1610 "code for visualization in the object detection tutorial"
At the end of the [object detection tutorial ](https://pytorch.org/tutorials/intermediate/torchvision_tutorial.html#torchvision-object-detection-finetuning-tutorial) it  visualizes the masks.
can you please provide the code for that task? or guide how to do it?

[2019-11-25 18:14] yoshitomo-matsubara commented on #1606
Hi @fmassa
Thank you so much for the quick responses and updates!
I just tried to use your updated weights, and it gave me box AP = 0.546 and keypoint AP = 0.650 :)

One more quick quick question about **case b** of mine above before you close this issue:
To achieve [this performance](https://pytorch.org/blog/torchvision03/#detection-models), did you set --epoch 29 for keypoint rcnn, and --epoch 4

[2019-11-25 18:17] jguerin-fb commented on #1179
NHWC is now the recommended format for cuDNN performance (https://docs.nvidia.com/deeplearning/sdk/pdf/Deep-Learning-Performance-Guide.pdf).  Regardless, I agree there should be a memory_format option.  For example, NCHW used to be the optimal format for cuDNN and was the default for Caffe2.

I also agree that decoding should be its own operator.  For example, it's not uncommon to be given encoded

[2019-11-25 19:24] fmassa commented on #1606
@yoshitomo-matsubara I'll open a PR with the training hyperparameters for training.
In the meantime, here are the ones I used, which corresponds roughly to the 2x schedule:
## Faster R-CNN
[code]
## Mask R-CNN
[code]
## Keypoint R-CNN
[code]

Also, if you could send a PR with those schedules it would be great!

[2019-11-25 19:34] r-zenine commented on #1179
Hi Everyone,
Sounds like a good plan.

@fmassa , @jguerin-fb I could start working on the `jpeg` support while taking into account your remarks regarding the `png` PR.

### I propose the following :

* Link against `libjpeg-turbo`. I am not an expert in any way so correct me if I am wrong. I read that it leverages SIMD Ops which might result in better performance. I could also link against `libjpe

[2019-11-25 19:53] fmassa commented on #1568
Hi,

This is weird, as this indicates that the RPN doesn't have any proposal (which I'm not sure it should happen).

Do you have a repro that I can use?

[2019-11-25 19:56] fmassa commented on #1179
Hi @r-zenine ,

I think this is fine, but I would start with the PNG support, so finishing on top of the PR from @ShahriarSS would be best. We would need to make some tests to ensure that no memory leaks are present, and figure out how to get the binaries shipped with libpng.

[2019-11-25 20:07] yoshitomo-matsubara commented on #1606
Sure! I just sent a PR with the schedules #1611
Thanks!

[2019-11-25 20:14] r-zenine commented on #1179
Hi @fmassa,

I'll do that.  @ShahriarSS can I add to your PR ?

[2019-11-25 21:44] r-zenine commented on #1179
Hi @fmassa,

I'll do that.  I'll start working on PNG support tomorrow.

[2019-11-26 01:58] zhu2014yi commented on #1588
thanks

[2019-11-26 05:52] ShahriarSS commented on #1179
I don't know what adding means in this context but right now if the PR gets reviewed I won't have the time to finish it (I'm very busy right now) so feel free to build on top of it. Let me know if you have any problems or maybe I can review the PR (if @fmassa agrees).

[2019-11-26 06:39] r-zenine commented on #1179
@ShahriarSS  That's what I meant. Thanks.

[2019-11-26 10:26] fmassa commented on #1179
Sure, we will be reviewing the PR, and if @ShahriarSS could also help reviewing it it would be great.

One thing that was missing in the original PR which is absolutely needed is python bindings and tests (correctness and memory tests).

[2019-11-26 10:30] fmassa commented on #1598
We currently do not support feeding images without annotations during training.
A workaround for that is to filter beforehand all the training images that do not have annotations, like we do in
https://github.com/pytorch/vision/blob/537f0df79c464983dc1f32b8697dbc42d3f4872b/references/detection/coco_utils.py#L106-L143

[2019-11-26 10:55] fmassa commented on #392
@rmcavoy there is an error in the documentation.
https://github.com/pytorch/vision/blob/c05da2a84c1239a9d57431cec7e9ed83931d478b/torchvision/ops/boxes.py#L27
should read
[code]
can you send a PR fixing the documentation?

[2019-11-26 11:00] fmassa commented on #1375
@PyExtreme sure, go for it.

One thing to keep in mind is that the implementation of those functions rely on the implementation of `crop`, so the functions will be very similar to the equivalent implementation for PIL Images.

[2019-11-26 11:17] fmassa commented on #1597
I had a look at this, your FFmpeg doesn't seem to have codecpar in AVStream. This seems to be a similar issue as in https://github.com/LibVNC/libvncserver/issues/231

For info, this is the version of ffmpeg I got from installing `pyav` from conda forge (which installs FFmpeg as well)
[code]

I would recommend uninstalling your ffmpeg and installing the one that comes from conda, this might be the

[2019-11-26 11:29] r-zenine commented on #1179
Hi @fmassa,

I just read the PR and I think I will build on top of it. Just to summarize, here is my understanding of the main items to do ( ordered by priority ) :

1. Generate Python Bindings for the read_png function.
2. Write a test suite in python to compare with PIL and fix implementation if necessary.
3. Once implementation is compliant with PIL. Check code to ensure memory safety.
4. Figur

[2019-11-26 12:24] fmassa commented on #1179
@r-zenine this sounds good to me.
In order to generate the python bindings, you can have a look at https://github.com/pytorch/vision/blob/2e8bcf8ba48ea94e30a362e1a57e5e3de8dbd2d0/torchvision/csrc/vision.cpp#L42-L50
you can either directly add support for it in the torchvision ops namespace, or create your own registry, like we did for video in https://github.com/pytorch/vision/blob/2e8bcf8ba48ea94

[2019-11-26 13:33] fmassa commented on #631
@qiulesun we have added pre-trained DeepLabV3 in torchvision with the 0.3 release, together with object detection, instance segmentation and person keypoint detection models

[2019-11-26 13:39] fmassa commented on #1570
Hi,

Thanks for the detailed issue with references, and sorry for the delay in replying.

One thing that we currently don't have in torchvision is pre-trained models for different datasets than ImageNet / COCO / Kinetics.
If we were to provide models for other datasets (like Cifar), we would need to make it clear where the model was trained on. One thing which complicates things even further is th

[2019-11-26 13:39] #1570 closed

[2019-11-26 15:15] nshaud commented on #1570
Thanks for the feedback. I see where you'r'e coming from but I'd like to argue one last time before I drop the matter :smile:.

Just to be clear, I'm not asking for full support for CIFAR-10 with pretrained models and everything. I am mostly arguing that it would be nice to include both ResNet variants (including the "less useful" one) in Pytorch.

My point is that (for ResNet, at least) we don't

[2019-11-26 17:04] EduardoABarrera opened #1616 "torchvision.utils.save_image modifies the input tensor"
The issue and example is described in detail here: https://stackoverflow.com/questions/59054886/use-of-torchvision-utils-save-image-twice-on-the-same-image-tensor-makes-the-sec

It seems that when the input tensor to `torch.utils.save_image` is defined as the sum of two tensors (final_tensor = tensor_1 + tensor_2), save_image modifies the input tensor. This means that when you call save_image agai

[2019-11-26 17:23] fmassa commented on #1616
Thanks for the report! This has been fixed in TorchVision master in https://github.com/pytorch/vision/pull/1244, and will be available in the next release.

[2019-11-26 17:23] #1616 closed

[2019-11-26 17:46] stephenyan1231 commented on #1597
@fmassa `codecpar` in `AVStream` class was introduced in ffmpeg 3.1.  For video reader in torchvision, I only tested >=ffmpeg v4.0, although within fb, I also found it can work with ffmpeg 3.x.
I recommend users to upgrade ffmpeg to at least v4.0, which is the version I have fully tested. It is not safe to use older versions because it is not fully tested.

[2019-11-26 20:32] fmassa commented on #1570
I think one point that is important to keep in mind is consistency: you can take one model (for classification), feed the same input after the same transforms / normalization (or almost, see InceptionV3), and it will work, given you the predictions as expected. Adding models for CIFAR kind of breaks this consistency, because now inputs should have a different size / normalization.

Replicating ori

[2019-11-27 03:22] kangkang59812 opened #1617 "Question about converting custom dataset to coco api"
https://github.com/pytorch/vision/blob/a44d55d87ba3628ac79292fdcaead7fb98fc130b/references/detection/coco_utils.py#L163

If the box is [3,10,6,20](xyxy format),the converted box should be [3,10,4,11]. I think this code should be added 1. Because there are 4 pixels between [3,6] and 11 pixels between [10,20]. It actually computes the pixels in grid.
May be the original computation of the area need

[2019-11-27 06:32] dao-kun opened #1618 "is faster rcnn scriptable？I tried，but failed~"

[2019-11-27 10:03] fmassa commented on #1618
It is since a couple of days ago. If you install the latest master it should work

[2019-11-27 10:03] #1618 closed

[2019-11-27 21:36] #1597 closed

[2019-11-28 05:38] jinfagang opened #1620 "NMS ONNX convert to tensorrt engine error"
I have found that, torchvision::nms does not support batchsize, but onnx definition had definite a batchsize dim,

that is to say, we have to introduce several unsqueeze op when export.

this is impossible to convert to tensorrt engine, since we will got error like this:

[code]

Which means, onnx-tensorrt doesn't support any operation on the first dimension (batch dimension).

Does there any way

[2019-11-28 07:30] dao-kun commented on #1618
There still is an error, when I tried to load the scripted fasterrcnn_resnet50_fpn model
environment:
    python : 3.7
    pytorch : '1.4.0a0+829499e',
    torchvision : '0.5.0a0+a44d55d'

code:
[code]
    traced_model = torch.jit.script(fasterrcnn_resnet50_fpn(pretrained=True).eval())
    torch.jit.save(traced_model, r'./rcnn.pt')
    load_model = torch.jit.load(r'./rcnn.pt')   # error here

Trac

[2019-11-29 10:39] dao-kun opened #1622 "There is an error, when I tried to load the scripted fasterrcnn_resnet50_fpn model"
There still is an error, when I tried to load the scripted fasterrcnn_resnet50_fpn model
environment:
    python : 3.7
    pytorch : '1.4.0a0+829499e',
    torchvision : '0.5.0a0+a44d55d'

code:
[code]

Traceback (most recent call last):
  File "/home/imc/anaconda3/envs/pytorch_source/lib/python3.7/runpy.py", line 193, in _run_module_as_main
    "__main__", mod_spec)
  File "/home/imc/anaconda3/en

[2019-11-30 10:51] eecn opened #1623 "Video dataset can't instantiate correctly on windows."
When I use the UCF101 class to instantiate the ucf-101 dataset, I get an error, the platform is Windows10,and the code is
 `ucf101_train = UCF101(root="./Datasets/UCF-101", annotation_path="./Datasets/UCF101TrainTestSplits-RecognitionTask/ucfTrainTestlist", frames_per_clip=16, train=True)`
return
`AttributeError: Can't pickle local object 'VideoClips._compute_frame_pts.<locals>.DS'`
Looking forwar

[2019-11-30 15:24] fmassa commented on #1618
@dao-kun can you try again with master? I've fixed this issue in https://github.com/pytorch/vision/pull/1430, more precisely in https://github.com/pytorch/vision/pull/1430/commits/6e7bc18ead7af3eeaed732e32982eef95537d191

[2019-11-30 15:28] fmassa commented on #1620
@lara-hdr do you know where the issue is?

[2019-11-30 15:29] fmassa commented on #1622
Hi,

Can you try again with master from today? I've just fixed an issue with in https://github.com/pytorch/vision/pull/1430/commits/6e7bc18ead7af3eeaed732e32982eef95537d191 which should fix this error

[2019-11-30 15:47] r-zenine commented on #1179
Hi @fmassa,

Sorry for the delay. I could not manage to spare as much time as I wanted to work on this.
I made some progress here. I am struggling to register the C++ ops and access them from python.
[code]

What I am currently trying to do is to compile the `c++` code. Then run `python setup.py build` then `python setup.py install` in a fresh virtualenv.

Then run this snippet:
[code]
I get the f

[2019-11-30 15:49] r-zenine commented on #1179
Hi @fmassa ,

On another topic, the `libpng` project seems to be using `cmake` ( see [here](https://github.com/glennrp/libpng) ).

We could add it as a sub-module and use the same strategy that is used in `torch` the ship `libpng` with the package.

What do you think ?

[2019-11-30 16:16] r-zenine commented on #1179
Hi @fmassa ,

On another topic, the `libpng` project seems to be using `cmake` ( see [here](https://github.com/glennrp/libpng) ).

We could add it as a sub-module and use the same strategy that is used in `torch` the ship `libpng` with the package.

What do you think ?