[2021-11-14 14:27] xiaohu2015 commented on #4932
@oke-aditya GroupNorm

[2021-11-14 14:30] xiaohu2015 commented on #4932
@oke-aditya I think the pr is more about performance enhancement for retiannet model.

[2021-11-14 14:33] oke-aditya commented on #4932
Yes I think it would be great to improve the model. Do you have some statistics of the new mAP possible with GroupNorm and gIoU? I'm asking to so that I could give a read 😅

[2021-11-14 14:49] xiaohu2015 commented on #4932
@oke-aditya I think the mAP can increase about 1~2 point if use GN and GIoU loss.

[2021-11-14 19:05] frgfm opened #4934 "[transforms] Troubles with padding for PIL image in mode P"
### 🐛 Describe the bug

Hello there :wave:

I was running some training for semantic segmentation using the implementation of `RandomCrop` provided in the [references](https://github.com/pytorch/vision/blob/main/references/segmentation/transforms.py#L9) folder. And apparently there is an issue with the padding function for PIL images. Please note that this was not happening a few months back.

The

[2021-11-14 19:16] frgfm commented on #4934
I can confirm this comes from Pillow:
- any version `>=8.3.0,<8.4.0` has this issue
- installing `>=8.4.0` fixes the problem (cf. https://github.com/python-pillow/Pillow/blob/8.4.0/src/PIL/ImageOps.py#L384-L408)

I suggest to update the version constraints on PIL in torchvision :+1:

[2021-11-15 05:24] oke-aditya commented on #4934
torchvision has excluded some Pillow versions before because of issues. Probably we need to edit

https://github.com/pytorch/vision/blob/main/setup.py#L66

[2021-11-15 08:55] xiaohu2015 commented on #4932
@oke-aditya I want to add a new model retinanet_gn_resnet50_fpn which uses GN on head.

[2021-11-15 09:31] gal-star opened #4935 "torchvision.roi_align peformance optimization with omp"
### 🚀 The feature

Looking at the implementation of roi_align_kernel, it seems as if this can be further optimized using openmp parallelization

https://github.com/pytorch/vision/blob/840ad8abd60b76d340ae0bde33e2230fad38e95a/torchvision/csrc/ops/cpu/roi_align_kernel.cpp#L27

Here's what can be done to get performance boost:
1. Added `#pragma omp parallel for` to the kernel (line 27)
2. Added -fope

[2021-11-15 09:58] datumbox commented on #4932
@xiaohu2015 Thanks for the proposal.

What other changes do you propose to make to the standard retinanet+resnet50 model builder other than passing GroupNorm? If the only thing needed is to pass GN, I'm not sure it's worth adding another model. This is something that users of TorchVision can do easily on their own. Let me know what you think, thanks!

[2021-11-15 10:09] fmassa commented on #4935
Hi,

Thanks for the proposal!

This is something we would like to get done in the future (probably using `at::parallel_for` from PyTorch), but it might be slightly more difficult to get right.

Indeed, we've tried adding `-fopenmp` in torchvision in the past, but we reverted it because linking against the same OpenMP that PyTorch was using required more work, see https://github.com/pytorch/vision/

[2021-11-15 10:22] MalteEbner commented on #4925
@pmeier @NicolasHug
Could you decide on one of the possible solutions to this issue? I don't want to work on anything until this is unclear.
I see the following solutions:
1. Do nothing,  as proposed by @NicolasHug
2. Implement a parameter `ignore_empty`, as proposed by @pmeier and @MalteEbner
3. Change the `FileNotFoundError` to a simple warning (`e.g.SubfoldersWithoutImagesWarning`), but don't b

[2021-11-15 10:33] prabhat00155 commented on #4392
@bjuncek The last two tables only measure the time taken in decoding operation. The tables I reported previously measured the time taken by the C++ program to execute which includes the time taken to read the input file, cuda initialisation, copy from system memory to cuda memory, etc.

[2021-11-15 10:47] NicolasHug commented on #4925
Apart from 1, I would be OK with

4. Allow sub-directories that do not contain images, without warning, and properly filter-out these folders to avoid the "label gap" issue that @pmeier mentioned https://github.com/pytorch/vision/issues/4925#issuecomment-966994668

This allows more flexibility for the user while maintaining BC, and does not add any new API surface.

[2021-11-15 10:58] xiaohu2015 commented on #4932
I want to the follow changes:
- add a argument `norm_layer` for  `RetinaNetClassificationHead` and `RetinaNetRegressionHead`
- add a argument `box_reg_loss_type` for `RetinaNet` to support GIoU loss for compute regresion loss.

do you think it valuable？

[2021-11-15 11:00] frgfm commented on #4934
Hi @oke-aditya :wave:

Yes I saw that it excluded 8.3.0, but as mentioned in my previous comment, this issue is present for all `8.3.*` :sweat_smile:  Here is the implementation (with the bug) in 8.3.2: https://github.com/python-pillow/Pillow/blob/8.3.2/src/PIL/ImageOps.py#L384-L407

which is in every point identical to the one in 8.3.0: https://github.com/python-pillow/Pillow/blob/8.3.0/src/PIL/I

[2021-11-15 11:02] oke-aditya commented on #4934
Nice catch @frgfm can you send a PR to patch it as you suggested?

[2021-11-15 11:42] datumbox commented on #4932
@xiaohu2015 Thanks for the clarifications and for checking in before making changes.

Neither of the two subnetworks actually uses norm_layers. The original paper of retinanet ([page 5](https://arxiv.org/pdf/1708.02002.pdf)) describes the classification and regressions as simple CNNs composed of Conv and ReLU layers. This is why the two subclasses don't receive such an argument. Networks that use

[2021-11-15 12:21] xiaohu2015 commented on #4932
@datumbox I understand, but I still think we can do some changes to support the two functions, which will be very helpful to users.
By the way, I also want to add FCOS to torchvision. But I don't know if anyone has a plan for that work?

[2021-11-15 12:40] datumbox commented on #4932
We will need more time to discuss this in detail and see how it fits to our plans of revamping the detection models. If the revamp work enables the users in some other way, we should minimize introducing new parameters on the API to avoid Breaking changes.

Thanks for the suggestion. The FCOS model wasn't in the list of proposed models maintained at #2707 so I just added it. It's certainly quite p

[2021-11-15 12:44] datumbox commented on #4932
@xiaohu2015 Just to clarify one part. You have submitted quite a few proposals that require training models. I was just wondering if we do decide to move forwards with one of them, do you have access to the necessary hardware to provide pre-trained weights? This is usually too much to ask from contributors but if you have access to such a cluster, it does simplify things and can help us unblock so

[2021-11-15 12:47] bjfranks opened #4936 "Pretrained Efficientnet B1 - B7 apparent performance missmatch"
### 🐛 Describe the bug

Hi,

a hopefully minimal working example of my issue:

[code]

I dont seem to be able to reproduce the performance of Efficientnet B1 - B7. For B0 I am close, but B1-B7 are nowhere near what they should be according to [torchvision.models](https://pytorch.org/vision/0.11/models.html) .

B0 0.77684 0.93594
B1 0.77610 0.93596
B2 0.77776 0.9374
B3 0.78544 0.94366
B4 0.79272 0.

[2021-11-15 12:53] xiaohu2015 commented on #4932
@datumbox Although FCOS is anchor-free, it can be implemented using anchor_generator (1 anchor per cell or position) just like detectron2.

[2021-11-15 13:27] MalteEbner commented on #4925
I like the solution 4. @NicolasHug proposed, what do you think about it @pmeier ?

[2021-11-15 13:32] datumbox commented on #4936
This is likely because you are not using the right interpolation and validation resize/crop-size. Have a look [here](https://github.com/pytorch/vision/tree/1de53bef2d04c34544655b0c1b6c55a25e4739fe/references/classification#efficientnet) on how you need to run the model using our reference scripts to reproduce the accuracies.

[2021-11-15 13:44] bjfranks commented on #4936
Ahh, that worked better, B7 with 0.83916 0.96758. That is certainly alot closer and might just be some minor local variability. Perhaps this should be added to the documentation on EfficientNet like it has been for Inception. Thanks in any case.

[2021-11-15 15:37] pmeier commented on #4925
I'm ok with that.

[2021-11-15 16:12] vfdev-5 commented on #4880
Some info and benchmarks on this issue:

1) Upsampling and downsampling are slow if using the tensor coming from `read_image`:
[code]
- "read_image tensor -> Resize (32->224)" measures upsampling resize on the tensor returned by read_image. This tensor is 3D (3, 32, 32) and could be seen as channels last.
- "read_image tensor + contiguous -> Resize (32->224)" measures upsampling resize on the tens

[2021-11-15 21:41] pmeier commented on #4925
On a second thought: I think we can only get away with silently filling the label gaps, if `class_to_idx` is generated from the directory structure and not passed explicitly. Otherwise we might introduce subtle bugs, because the predefined categories no longer match the ones used in the dataset.

[2021-11-15 23:11] MalteEbner commented on #4925
After giving it a little more though it seems to me that there are 3 kinds of subdirectories:
A) empty
B) with files, but without valid files (e.g. a `.git` folder)
C) with valid files (e.g. with `img1.jpg`, `img2.jpg` ...)

Solution 4 proposes to
- raise the `FileNotFoundError` if any subdirectory of type a) exists.
- ignore all subdirectories of type B
- create the dataset with the `class_to_idx

[2021-11-16 07:26] JohannesZahn commented on #3188
In the Readme it says that ffmpeg can be installed with conda. If I do so and then install tochvision from sources with `python setup.py install` I still get:
FFmpeg found: False

[2021-11-16 09:40] frgfm commented on #4934
Sure thing @oke-aditya :)

[2021-11-16 09:49] pmeier commented on #4925
I understand it fits your use case, but I currently see no good reason to separate type A) from type B). For `make_dataset` the only thing that should matter if there are any valid files in a directory. If that is not the case, IMO it should be irrelevant if the offending folder was empty or not.

[2021-11-16 09:54] NicolasHug commented on #4925
Yes, in proposed solution 4. empty folders are part of the "sub-directories that do not contain images" terminology.

Also, maybe I should have made this explicit: if implementing 4 requires more than trivial and short changes, then it's not worth implementing either. Again, users can always use the `find_classes` method.

[2021-11-16 10:00] pmeier commented on #4925
@NicolasHug Overwriting `find_classes` will only work automatically if you are dealing with actually empty directories. If the folder is not empty but has no valid files, one needs to overwrite and rewrite `make_dataset`, since there is no hook to get around the error.

Of course if the names of the offending directories are known, overwriting `find_classes` and ignoring them "manually" is suffici

[2021-11-16 10:09] fmassa commented on #4917
If the only use of `requests` is in that function, I think I would go with @malfet suggestion of re-implementing that function instead using `urllib`. We already use `urllib` in most of that file.

About the dependencies on `scipy` / `pycocotools` / `lmdb` / etc, they are all dataset-dependent and in some sense fair requirements for the user to manually install those libraries if they want to use

[2021-11-16 10:15] RanACohen commented on #4935
Hi, I am working with Gal.
Two questions:
1. Have you tried or willing to use TBB? This would require you to integrate the TBB lib as a 3rd part lib.
2. I did not follow in the issues you linked, what was the torchaudio seg-fault caused by OpenMP, can you elaborate?

Thanks,
Ran.

[2021-11-16 10:18] NicolasHug commented on #4925
Can't the user filter out the empty dirs *and* the dirs without images in the `find_classes` function?

[2021-11-16 10:24] pmeier commented on #4925
Sure, but in order to filter all directories that do not contain valid files, you need to traverse them and look at each file. And this 95% of the work that `make_dataset` does.

[2021-11-16 11:22] datumbox commented on #4917
@pmeier Could you have a look if it makes sense replacing `requests` with `urllib`? I assume you are using `requests.Session` to handle the cookies for you. I wonder how much extra code we need to maintain to replace it.

Concerning the original question at hand, do we want to declare the optional dependencies somehow? The benefit of tracking them explicitly is that we don't have to scan the code-

[2021-11-16 11:42] datumbox commented on #4925
Though I understand that there are cases where a dataset might contain empty and non-image folders (Python Environments, Version control, OS specific meta-files/folders, Python notebook checkpoints etc), having these folders in there violates the basic assumption of the API which is that we can scan the existing folders to fetch the labels. Yes it's possible to create a complex solution such as th

[2021-11-16 12:19] #4934 closed

[2021-11-16 12:32] pmeier commented on #4917
If you look at the linked StackOverflow thread

https://github.com/pytorch/vision/blob/30f4d108319b0cd28ae5662947e300aad98c32e9/torchvision/datasets/utils.py#L202

you see that this is almost a 1-to-1 copy. I'm fairly certain it wouldn't be hard to replicate using only `urllib`.

I would prefer option 2. Going from `pip install torchvision scipy pycocotools` to `pip install torchvision[scipy, pyco

[2021-11-16 13:30] xiaohu2015 commented on #2707
I am aming at adding FCOS to torchvision. https://github.com/xiaohu2015/vision/blob/main/torchvision/models/detection/fcos.py

[2021-11-16 14:03] MalteEbner commented on #4925
You have convinced me that I should think of an `ImageFolder` differently: It should not be any folder containing some subdirectories with images, but rather a curated folder with exactly one subdirectory for each class and at least one valid file for each class. Thanks for making this more clear to me.

[2021-11-16 14:28] datumbox commented on #4925
@MalteEbner Thanks for submitting such a detailed proposal and for being keeping an open-mind throughout the discussion. :)

[2021-11-16 14:35] datumbox commented on #4917
Sounds great, would you mind creating a low priority issue to fix this? Until then, we could add this `requests` as an optional dependency.

No strong opinions. My motivation for adding them there, is to keep an explicit list of all dependencies, because now we need to scan the code-base fo figure them out. @fmassa thoughts?

[2021-11-16 14:45] pmeier opened #4941 "Replace `requests` by `urllib`"
### 🚀 The feature

See title.

### Motivation, pitch

The `requests` library is currently an optional dependency. It is used only for downloading from GDrive:

https://github.com/pytorch/vision/blob/30f4d108319b0cd28ae5662947e300aad98c32e9/torchvision/datasets/utils.py#L193-L203

It would be nice to refactor this to use `urllib` and drop a "hidden" dependency. From skimming the the linked StackOve

[2021-11-16 14:45] datumbox commented on #2707
@xiaohu2015 Nice work, have you managed to reproduce the accuracies of the paper?

@fmassa Any thoughts on FCOS?

[2021-11-16 16:03] noreen-walker opened #4943 "conversion to coco format changes bboxes in dataset"
### 🐛 Describe the bug

I'm following the object detection tutorial [here](https://pytorch.org/tutorials/intermediate/torchvision_tutorial.html) which uses the coco evaluation metrics.

It uses `convert_to_coco_api` in  https://github.com/pytorch/vision/blob/main/references/detection/coco_utils.py to convert a dataset to coco format.

But when the bounding boxes are preloaded into memory in a data

[2021-11-16 16:45] frgfm commented on #4360
@oke-aditya https://github.com/pytorch/pytorch/pull/68435 should fix that :+1:

[2021-11-16 16:46] oke-aditya commented on #4360
So nice of you @frgfm Francois. Merci beaucoup!!

[2021-11-16 17:30] mhubii commented on #1884
I still run into this issue

[2021-11-16 17:53] prabhat00155 opened #4947 "Flaky video test"
https://app.circleci.com/pipelines/github/pytorch/vision/12610/workflows/9ab703cc-7277-4f05-9079-d2ace1dc94b4/jobs/998680

https://app.circleci.com/pipelines/github/pytorch/vision/13889/workflows/62bf350f-c0a9-4506-a09f-9dbc56b7cf1b/jobs/1117960

[code]

cc @pmeier @seemethere

[2021-11-16 19:43] shv07 opened #4949 "GPU usage keeps increasing marginally with each inference request"
### 🐛 Describe the bug

I have been trying to deploy the RetinaNet pre-trained model available in torchvision. However, after every inference request with exactly same image, the gpu usage keeps increasing marginally (by roughly 10 MiB, as visible in nvidia-smi). (Same behavior is noticed if I try the same with other Object Detection models like fasterrcnn_resnet50_fpn, fasterrcnn_mobilenet_v3_lar

[2021-11-17 01:20] xiaohu2015 commented on #2707
@datumbox Yes, I am working to implement it and reproduce the peformance. But I think that some time is need.

[2021-11-17 10:06] fmassa commented on #2707
I think FCOS would be a good addition. It is one of the top methods in https://paperswithcode.com/methods/category/object-detection-models that we don't yet have in torchvision, and @xiaohu2015 implementation seems very nice.

[2021-11-17 18:11] paluchasz commented on #1943
I had the same problem when using the `from_pretrained` method from Huggingface transformers and installing latest transformers (4.12.4) and torch (1.10.0) seems to have worked for me.

[2021-11-17 20:26] datumbox opened #4953 "Move TorchVision App Demo to `pytorch_android_lite`"
### 🚀 The feature

Currently we depend our Android Demo app depends on `pytorch_android`. It's recommended to switch to `pytorch_android_lite`.

Transitioning to the lite version requires us to update the following things:
- Change the exported file from `frcnn_mnetv3.pt` to `frcnn_mnetv3.ptl`
- Export the `fasterrcnn_mobilenet_v3_large_320_fpn` model using `_save_for_lite_interpreter()`
- Update

[2021-11-17 20:40] datumbox opened #4955 "Add `_log_api_usage_once()` calls on remaining endpoints"
### 🚀 The feature

Add `_log_api_usage_once()` calls to:
- [x] The constructors of all Segmentation model constructors. The implementation should be identical to what was done for the other models. See #4735
- [ ] All the Transforms. For those that have [functional equivalent](https://github.com/pytorch/vision/blob/main/torchvision/transforms/functional.py) the call should be placed directly in th

[2021-11-17 22:34] vadimkantorov opened #4957 "What's purpose of logging?"
### 🐛 Describe the bug

What is the purpose of logging? Is it going to auto-upload usage statistics somewhere?

Regarding implementation, what is the reason for not just doing it in a separate file or at least with a decorator? Currently it pollutes the library code during code browsing, especially for simple small functions. It also hurts copy-pasteability, as one needs to delete all this logging

[2021-11-18 02:24] SungmanHong commented on #1943
Use PyTorch 1.4 and torchvision 0.5.0, it solves some cases.

[2021-11-18 08:16] kazhang commented on #4957
Hi @vadimkantorov , thanks for reporting! The purpose of logging is that when PyTorch is used in a custom build environment (e.g. Meta), it's useful to track usage of various APIs centrally. For users outside of the organization, this is [a no-op](https://github.com/pytorch/pytorch/blob/eb3b9fe719b21fae13c7a7cf3253f970290a573e/c10/util/Logging.cpp#L104). The API was introduced to PyTorch core in h

[2021-11-18 09:09] NicolasHug commented on #4957
You can use the blank template instead:

![image](https://user-images.githubusercontent.com/1190450/142385126-bf54ed13-4555-47f7-b0e2-7c7f900a0d5f.png)

Bug reports almost always require a version, and we do this to avoid low quality or low efforts posts. Pytorch core will likely follow soon BTW.

[2021-11-18 09:47] vadimkantorov commented on #4957
Maybe it could be added by having in some file

[code]

This way pure functional code rests clean

[2021-11-18 09:53] NicolasHug commented on #4957
I agree with you that a decorator could do the job and be less intrusive for classes and functions.

Could be a decent first issue @fmassa @datumbox ?

[2021-11-18 09:55] shv07 commented on #4949
Update: The above behavior disappears if I send large number of request concurrently (say around 5k, leading to OOM for some requests). After doing this, the gpu usage is restored back to exact same value after each inference request is complete. Noticed this behavior in multiple pytorch deployed models.

[2021-11-18 10:13] owlwang opened #4959 "QuantizableMobileNetV3 Can not load pretrained model"
### 🐛 Describe the bug

[code]
It will occur
[code]

### Versions

PyTorch version: 1.10.0+cu113
Is debug build: False
CUDA used to build PyTorch: 11.3
ROCM used to build PyTorch: N/A

OS: Ubuntu 20.04.1 LTS (x86_64)
GCC version: (Ubuntu 9.3.0-17ubuntu1~20.04) 9.3.0
Clang version: Could not collect
CMake version: version 3.19.4
Libc version: glibc-2.31

Python version: 3.8.5 (default, Sep  4 2020,

[2021-11-18 12:45] fmassa commented on #4935
Hi @RanACohen

1 - My current take is that we won't be using TBB except [if through PyTorch abstractions](https://github.com/pytorch/pytorch/blob/0cad2c061555123f5ce08553388f6cf79a2f80ea/aten/src/ATen/ParallelNativeTBB.cpp).
2 - The issue was because of conflicting dependencies between what PyTorch was using for parallelization vs what torchaudio was picking.

[2021-11-18 12:52] fmassa commented on #4957
I don't have any concerns of adding those loggings in separate files, as long as it doesn't break torchscript.

We could even keep it private to only be logged within fbcode.

[2021-11-18 12:55] #4949 closed

[2021-11-18 13:03] fmassa commented on #1884
This is still an issue that was recently re-introduced.

[2021-11-18 13:05] fmassa commented on #4902
@vfdev-5 can you have a look?

[2021-11-18 13:13] RanACohen commented on #4935
so I take it that if we use at::parallel_for instead of OpenMP, we are good, right?

[2021-11-18 13:25] vadimkantorov commented on #4957
About forcing to report versions, snippets for learning versions are not documented in core: https://github.com/pytorch/pytorch/issues/32864

[2021-11-18 14:44] fmassa commented on #4935
Yes.

But the problem still remains that we need to enable somehow OpenMP (or alike) during compilation time, and the errors that torchaudio were facing will remain.

[2021-11-18 15:56] vfdev-5 commented on #4902
Looks like trace does not work on center crop and we only check `torch.jit.script` on our CI
[code]

@JonathanWoollett-Light I tried to script your model to see if everything works but got an issue with upsampling part
[code]

[code]

I think if you can make it jit scriptable then everything should work

[2021-11-18 16:28] RanACohen commented on #4935
can you elaborate on how to reconstruct the torchaudio issue?
we would like to solve this. We need to enable the parallelizaion in Torch, it is a waste of CPU resources to ignore it.

[2021-11-18 16:54] vfdev-5 commented on #4902
@JonathanWoollett-Light torchvision transforms supports only torch jit script, so I suggest to use `torch.jit.script` instead of tracing. If I modify your forward pass as below to make the model scriptable then we can save the model and reload it and things seem to work. I close issue as resolved. Feel free to reopen if you think we need to discuss more. Thanks!

<details>

<summary>
test.py
</sum

[2021-11-18 16:54] #4902 closed

[2021-11-18 17:32] shv07 commented on #4949
Thanks for your response @fmassa.

Usinng ```torch.cuda.max_memory_allocated()``` indeed deosen't show any residual increase in GPU memory usage. Even the values in ```nvidia_smi``` start showing results as expected but only after a large no. of inference requests have been made.

[2021-11-19 02:55] Brightlcz commented on #4887
The same as me.

[2021-11-19 12:59] captainst commented on #3250
I think that for multi-class classification task, [this](https://github.com/AdeelH/pytorch-multi-class-focal-loss/blob/master/focal_loss.py) implementation looks like the correct one.
Practically, for multi-class (categorical) classification task, the focal loss should address the multi-class imblance problem. For example, given 3 classes: **[man,women,cat]**, the model is supposed to have confide

[2021-11-19 13:59] xiaohu2015 commented on #2707
@datumbox @fmassa Hi, we have pulled the FCOS code (https://github.com/pytorch/vision/pull/4961), Could you review it and give some advice?

[2021-11-20 09:11] github-actions[bot] opened #4965 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow tests/download.
Please look into it:

https://github.com/pytorch/vision/actions/runs/1484154366

Feel free to close this if this was just a one-off error.

cc @pmeier

[2021-11-20 11:30] datumbox commented on #4959
@owlwang Thanks for reporting, we just issued a fix at #4966.

[2021-11-20 16:06] FirefoxMetzger opened #4968 "ImageIO as an Image (and Video) backend"
I have a fairly small question: Has ImageIO been considered as a potential backend for torchvision? If so, what is the current consensus on that? If not, would it be a cool thing to have?

I'm using ImageIO for most of my computer vision related work and so are others in my lab. This made me wonder if this is done elsewhere too and - if so - if it would make sense to integrate ImageIO into the exi

[2021-11-21 21:34] #4959 closed

[2021-11-22 07:24] #4965 closed

[2021-11-22 09:11] datumbox commented on #4968
@FirefoxMetzger Thanks for the proposal.

TorchVision offers its own IO methods because it enables us to achieve speed optimizations and support endpoints that can be used outside of Python. The users can use IO libraries of their choice though. For example you could read the image using ImageIO and then create a Tensor from the numpy array using `to_tensor()`.

[2021-11-22 10:42] jdsgomes opened #4970 "Remove workarounds in tests that are no longer flaky due to stable sort"
In the #4767 PR we enabled stable sort in the NMS op kernel. This can potentially resolve some of  the flakiness seen in the tests can be resolved, for instance:

https://github.com/pytorch/vision/blob/f093d0821194ed55f80f4764cf56e744f9217533/test/test_models.py#L658-L672

We should investigate if this is the case, and potentially adjust the the expected values of the tests if required.

cc @Nicol

[2021-11-22 19:20] vadimkantorov opened #4975 "Move image loading logic to _load_image in VOC datasets (similar to COCO)"
### 🚀 The feature

This would allow simple stubbing out image loading if needed for fast dataset transformed metadata access (when image reading is not needed) by `dataset._load_image = lambda _: None` and also make API more consistent across datasets.

### Motivation, pitch

N/A

### Alternatives

_No response_

### Additional context

_No response_

[2021-11-23 02:09] KrabbeJing commented on #2921
for centos 7,
1. yum install -y xz-devel
2. compile python3 again

[2021-11-23 07:52] #4941 closed

[2021-11-23 09:29] take2rohit commented on #4593
I believe that having ViT/DeiT in torchvision library would be really useful!
So is anyone else working with the implementation or should I go ahead and create a PR?

[2021-11-23 09:32] datumbox commented on #4593
@take2rohit Thanks. @sallysyw is working on it at PR #4594.

[2021-11-23 10:04] NicolasHug commented on #4917
I would go with option 2 as well

[2021-11-23 10:11] NicolasHug commented on #4975
I would recommend to inherit from the class, and override `__getitem__` instead then, it should only be a few more lines of code.
If you submit a PR for this I think we would merge it, but keep in mind the `_load_image` function is private API, so while I know you know what you're doing, we don't offer any guarantee w.r.t. BC or consistency across datasets here.

[2021-11-23 10:17] vadimkantorov commented on #4975
Here's what I do now: `dataset.__getitem__ = lambda index: dataset.transforms(None, dataset.parse_voc_xml(torchvision.datasets.voc.ET_parse(dataset.annotations[index]).getroot()))`

Overriding getitem would entail to the same thing - having to copy-paste the even less standard / error-prone annotation parsing line.

Not wanting the dataset to load images for metadata purposes is a valid and freque

[2021-11-23 10:31] take2rohit opened #4981 "Feature Request: RandAugment support for Data Augmentation"
## 🚀 Feature

Need [RandAugment](https://arxiv.org/pdf/1909.13719.pdf) module inside `torchvision.transforms` for augmenting images before training. This would ease the implementation of RandAugment.

## Motivation

RandAugment is currently being used excessively in fields of representation learning and unsupervised domain adaptation. There are many papers this year itself that uses RandAugment ho

[2021-11-23 11:14] datumbox commented on #4917
@pmeier Would you be interested in sending a PR that fixes this? Perhaps taking the time to update the CI scripts from installing the dependencies separately?

[2021-11-23 21:54] vfdev-5 commented on #4981
@take2rohit there is already RandAugment implemented in torchvision. Please check [the docs](https://pytorch.org/vision/stable/transforms.html?highlight=randaugment#torchvision.transforms.RandAugment).

[2021-11-23 21:54] #4981 closed

[2021-11-24 00:17] kazhang commented on #4957
Using decorator to log function API usage seems to be a dead end 😩: JIT doesn't like decorator (more specifically `**kwargs`).

We can apply decorator on models/transforms/datasets but not ops/io. I'm leaning towards using two methods in torchvision: decorator and log API, until we find a better solution (or not going to support TorchScript)

[2021-11-24 09:29] datumbox commented on #4981
And concerning Cutmix and Mixup, implementations already exist in [References](https://github.com/pytorch/vision/blob/main/references/classification/transforms.py) and we will move them soon on TorchVision once the new Transforms API is adopted.

[2021-11-24 09:33] datumbox commented on #4957
I agree that ideally a decorator would have been nicer, but I'm not convinced that having 2 separate implementations or sacrificing JIT scriptability is worth it. IMO the current solution is a one-liner and it's clean enough.

[2021-11-24 14:01] NicolasHug opened #4985 "`cmake_windows_gpu` and `cmake_windows_cpu` failures"
These have been failing on PRs recently

- https://app.circleci.com/pipelines/github/pytorch/vision/12828/workflows/7495fce3-b084-4e7b-83a8-32cd5dc888a2/jobs/1019628
- https://app.circleci.com/pipelines/github/pytorch/vision/12828/workflows/7495fce3-b084-4e7b-83a8-32cd5dc888a2/jobs/1019604

Both with

[code]

@seemethere @malfet  should we put an upper bound on numpy (e.g. 1.21), or is it fine to

[2021-11-24 17:09] kazhang commented on #4957
I found a way to inspect caller's module and function name, we could further simplify the log function to be like
[code]
https://stackoverflow.com/questions/1095543/get-name-of-calling-functions-module-in-python

[2021-11-24 18:24] datumbox commented on #4957
Indeed you can capture the caller without passing parameters but I think we are very likely to still get issues with JIT. Plus the performance issues you noted.

Something that I want to make more crisp is what we try to optimize by this change. Does omitting the string in the function call make the code better or easier to read?

I would argue that since the method call can't be removed, the lack

[2021-11-24 18:51] malfet commented on #4985
Hmm, looks like setup tools will try to pull latest development, which is as of yesterday is numpy-1.22-rc1: https://pypi.org/project/numpy/#history
`conda install numpy` or `pip install numpy` clearly solves the issues

[2021-11-24 19:47] #4985 closed

[2021-11-24 20:32] vadimkantorov opened #4988 "[feature request] Batched encode_jpeg"
### 🚀 The feature

If it can leverage parallelism, will be useful for speeding-up preparing HTML-encoded visualizations with many embedded jpegs

### Motivation, pitch

N/A

### Alternatives

_No response_

### Additional context

_No response_

[2021-11-24 21:59] FirefoxMetzger commented on #4968
Thanks for the reply @datumbox

Does that mean I can write a C program that uses torch and have it use pillow to load images? I didn't know that was possible, but it sounds pretty cool.

I second that. I mainly wanted to ask if there is interest in adding ImageIO as a backend alongside pillow, libpng, etc. I didn't find any previous discussions on this, so I thought I simply start a new issue and

[2021-11-25 09:19] datumbox commented on #4968
Not pillow but you can use the C++ native image IO methods. Note that the API is not considered public/stable so there are no BC guarantees.

I get it and you are right. The thing TorchVision offers GPU accelerated decoding and other goodies that we couldn't find easily elsewhere. Moreover by having our own IO, we get the option to apply optimizations that normally we couldn't do. We still build u

[2021-11-25 09:21] #4968 closed

[2021-11-25 15:59] vadimkantorov opened #4991 "[feature request] Allow passing in image reading/loading function to old-style datasets constructors"
### 🚀 The feature

This makes more sense now that torchvision is compiled with its own image reading functions (`read_image`), so easier way to test pipelines without PIL would be nice

In addition, this would allow easy stubbing out image loading when wanted and solving https://github.com/pytorch/vision/issues/4975

### Motivation, pitch

N/A

### Alternatives

_No response_

### Additional conte

[2021-11-25 16:17] datumbox commented on #4991
@vadimkantorov Thanks for the proposal.

It's unlikely that we will add many new features on the old-style datasets but this is certainly good feedback for those in prototype. As far as I understand the new API has a mechanism (`decoder`) for using different readers, but it seems that now [only PIL](https://github.com/pytorch/vision/blob/main/torchvision/prototype/datasets/decoder.py) is supported

[2021-11-25 16:49] pmeier commented on #4991
Yes, the new datasets will use the `decoder` parameter to do just that. You can pass any callable to `datasets.load(..., decoder=)` that takes an open file handle and returns a tensor. `torchvision.io.read_image` currently takes a path, so we are using `PIL` by default now.

There are still some design choices to be made what a decoder is and what it should return. For example, how do we handle th

[2021-11-25 17:59] oke-aditya opened #4992 "Documentation and examples for prototype torchvision"
### 📚 The doc issue

First of all, hats off to all the maintainers @fmassa @datumbox @NicolasHug @pmeier  It's been a great revamp, and I think all the new features being added are great!
If software engineering is an art then torchvision is Picaso!

Any thoughts or ideas on how to effectively use the new prototype torchvision? The new models, datasets and transforms.
As an end user perspective

I

[2021-11-25 18:11] datumbox commented on #4992
@oke-aditya Thanks for bringing this up!

Concerning the multi-weight support and the models prototype, I plan to write a blogpost once the API is cleaned up. You can see at #4652 some of the issues we still want to discuss before introducing it properly to the community. Any feedback related to the open issues or the API would be awesome.

You can make contributions to any part of the code-base.

[2021-11-25 18:35] pmeier commented on #4992
The lack on documentation is somewhat intentionally (at least from my side). We are currently moving really fast and there are a lot of moving parts so having a documentation will only slow us down, because it will become outdated often. From my side the most "stable" submodule is `datasets`. There is one more major issue I need to tackle before I can start to promote and document it. That should

[2021-11-25 18:55] oke-aditya commented on #4992
I understand your thoughts Philip, as documenting such modules having lot of friction is hard, and would slow down development.

That's great. It would be really nice to hear during the PyTorch developer day.
It would be indeed a great chance to get an opportunity to interact with developers :pray:

[2021-11-25 21:50] miladm opened #4993 "Error in the Example code of MaskRCNN class"
### 🐛 Describe the bug

The Example code in the MaskRCNN class (`mack_rcnn.py`) throws an unexpected error. Any ideas what has changed in the underlying code to cause this failure?

ERROR:
[code]

CODE:
[code]

### Versions

[code]

[2021-11-26 09:11] datumbox commented on #4993
@miladm Thanks for reporting.

The problem is the value of `featmap_names=['0']`. It should be a list of strings not numbers.

I had a look on our code-base and it seems that all of our examples are correct, so I'm not sure where that snippet came from. If it's from us let us know to correct it. I'll close the ticket since I think I've answered your question, feel free to reopen if you face more i

[2021-11-26 09:11] #4993 closed

[2021-11-26 10:29] Force1ess opened #4996 "Adding a list of model's param size( MB ) and layernum of models in torchvision with a standard input shape like 3,224,224"
### 📚 The doc issue

Torchvision is lacking a table of models' size and layernum

### Suggest a potential alternative/fix

Recently, I'm working on choosing some models from torchvision.
And as we all know, a model's size and layers are critical to many aspects.
Especially for beginners who don't familiar with these models, this table can help a lot.
If you think this is necessary, I'm glad to hel

[2021-11-26 10:48] datumbox commented on #4996
Thanks for the proposal. I agree.

@NicolasHug We should consider adding the model size in the meta-data of the new model API and expose it via the documentation.

[2021-11-28 02:00] ugirc commented on #1920
Thank you, it works for me.

[2021-11-28 21:32] xtsm commented on #1844
What about nn.Flatten/nn.Unflatten?
Not exactly the same but works well for my use case, might fit you as well.

[2021-11-28 22:24] ain-soph opened #5000 "[feature request] Make `transforms.functional_tensor` functions differential w.r.t. their parameters"
### 🚀 The feature

Make operations in `torchvision.transforms.functional_tensor` differential w.r.t. hyper-parameters, which is helpful for Faster AutoAugment search (hyper-parameters are learnable parameters via backward).

Some operations are not differential (e.g., Posterize), which might require users to write their own implementations.

### Motivation, pitch

The main motivation is for resear

[2021-11-29 09:52] datumbox commented on #5000
Probably the biggest issue will face here is JIT scriptability. If we manage to achieve it without BC breaking changes, we could implement this.

[2021-11-29 12:05] robertodessi opened #5002 "read_image from torchvision.io failing"
### 🐛 Describe the bug

Following [this guide](https://pytorch.org/vision/master/auto_examples/plot_visualization_utils.html) I get an error when using the torchvision read_image method.

[code]

[code]

### Versions

[code]

[2021-11-29 12:19] NicolasHug commented on #5002
Thanks for the report @robertodessi , it looks like you're using an old version of torchvision. Could you please update to the latest 0.11 version and try again? Thanks

[2021-11-29 12:23] zhiqwang commented on #5002
And seems the versions of torch and torchvision are inconsistent, if you want to use torchvision 0.9.x, you could install torch 1.8.x.

[2021-11-29 12:25] datumbox commented on #4652
I had an offline discussion with @NicolasHug and we discussed the following optimizations:

1. For the Weights classes, keep using necessary capitalzation to help readability such as Res**N**e**X**t to be aligned with bibliography but ensure this is consistent across the codebase (for example `VisionTransformer_B_32Weights` => `ViT_B_32Weights`)
2. Use underscore where they are on the builder. For

[2021-11-29 14:54] robertodessi commented on #5002
Upgrading to the latest pytorch and torchvision worked. Thanks!

[2021-11-29 14:54] #5002 closed

[2021-11-29 15:34] datumbox opened #5005 "Quantization Reference Broken"
### 🐛 Describe the bug

The quantization reference on TorchVision seems broken after an upstream change on PyTorch.

The details of this are documented at https://github.com/pytorch/vision/pull/4997#discussion_r757434190

This issue is here just to track the problem. The equivalent ticket on PyTorch Core is https://github.com/pytorch/pytorch/issues/69235

### Versions

Latest TorchVision main bca7

[2021-11-30 11:57] datumbox opened #5010 "CI binary_libtorchvision_ops_ios job broken"
### 🐛 Describe the bug

The CI jobs for libtorchvision_ops on IOS started [failing](https://app.circleci.com/pipelines/github/pytorch/vision/12996/workflows/660c9572-9bf9-4ab7-8543-9dd16ae22cc8/jobs/1035541) with:
[code]

cc @seemethere @husthyc @tao

### Versions

Latest main 65cdaeaba83366381b8e7b9fd9850b7c0ca5e636

[2021-11-30 12:56] #4652 closed

[2021-11-30 14:53] #4818 closed

[2021-11-30 17:59] datumbox commented on #5010
Related to https://github.com/pytorch/pytorch/issues/69065#issue-1066773545

[2021-11-30 19:15] datumbox opened #5015 "[RFC] Use `pretrained=True` to load the best available pre-trained weights"
### 🚀 RFC

# Background Info

To access pre-trained models in TorchVision, one needs to pass `pretrained=True` on the model builders. Example:
[code]

Unfortunately the above API does not allow us to support multiple pre-trained weights. This feature is necessary when we want to provide improved weights on the same dataset (for example better Acc@1 on ImageNet) or additional weights trained on a d

[2021-11-30 19:37] malfet commented on #5010
Re-run should fix it, but we probably should get rid of Homebrew update step altogether

[2021-11-30 20:13] datumbox commented on #5010
Thanks, I confirm it's [fixed](https://app.circleci.com/pipelines/github/pytorch/vision/12996/workflows/660c9572-9bf9-4ab7-8543-9dd16ae22cc8/jobs/1037993) now.

[2021-11-30 20:13] #5010 closed

[2021-11-30 20:42] #4777 closed

[2021-11-30 21:36] zjorgensenbits opened #5016 "r2plus1d - strange relationship with inference batch size and inference speed"
I'm seeing a weird relationship between inference batch size and inference speed that I can't explain.  I have an r2plus1d resnet18 model that I trained.  Input size is 8x32x32x3. I've been running some tests with fake data (random arrays) to measure inference speed as a function of batch size. For some reason, when the batch size increases from 6 to 7, the throughput suddenly drops significantly.

[2021-11-30 21:38] xhxhxh11 commented on #904
I have the same problem, could you please send it to me by email? Thank you。 sshxhjnu@163.com

[2021-11-30 22:51] prabhat00155 opened #5017 "unittest_onnx test failure"
https://app.circleci.com/pipelines/github/pytorch/vision/12995/workflows/31211a7c-01cc-4675-99b1-4d1bd0c0d5f0/jobs/1035420

Issue seen in https://github.com/pytorch/vision/pull/4983 and perhaps introduced by https://github.com/pytorch/vision/pull/4692.

cc @pmeier @neginraoof

[2021-12-01 05:17] fibbonnaci commented on #5015
I like option #2 and is inline with common user experience. As long as we inform the user that we have upgraded the weights to reflect the latest ones and document how they could use the old weights if needed, this is the preferred approach.

[2021-12-01 10:46] fmassa commented on #5015
I lean towards option 1.

The reason being that paper implementations don't generally get updated once they are released to the public. Reproducing research is fundamental, and option 2 provides a silent breakage in BC that can make reproducing the results of the paper not possible, without any warnings to the user of why (and raising warnings all the time is very annoying).

In the same way, if a

[2021-12-01 11:24] yassersouri commented on #5015
Since the `pretrained=True` is getting deprecated, I suggest giving some hints regarding v2 weights in the deprecation message and going with option 1.
Mainly the reason is reproducibility.

[2021-12-01 11:25] lkskstlr commented on #5015
I lean towards option 1 for similar reasons as @fmassa. I would maybe propose the following two additions:

* Consider adding a warning for `pretrained=True`, which states that the weights are legacy with suboptimal performance and how to use current ones. Also, add an option to silence this warning (switching to `weights=ResNet50_Weights.ImageNet1K_V1`). I also agree with the problem of the const

[2021-12-01 15:00] jamt9000 commented on #5015
I have quite often needed to precompute features using the torchvision resnets (such as for indexing with FAISS) and relied on being able to get a comparable feature for new images by just creating a new `resnet18(pretrained=True)` so this sort of use case would break quite badly if the weights changed. (I would at least want loud warnings so that incompatible features aren't silently added to an

[2021-12-01 15:49] kbozas commented on #4509
I am interested in the Video Classification bit.

[2021-12-01 16:26] datumbox commented on #4509
Sounds good @kbozas. Feel free to add me as a Reviewer on your upcoming PR.

[2021-12-02 09:02] cainiaoup commented on #4738
you can use opencv to load your image .

1. pip install opencv-python
2. let cv.imread(img_path)  instand of read_image(img_path)

[2021-12-02 17:03] datumbox commented on #1191
@fmassa Give the deprecation of the C++ model classes, does it make sense to close the issue?

[2021-12-02 17:39] #4509 closed

[2021-12-02 20:10] ameroueh commented on #1191
I was able to reproduce this issue on a linux box as well

[2021-12-02 20:11] ameroueh commented on #1191
I was able to reproduce the same tests failing on a linux box as well

[2021-12-02 20:41] kylevedder commented on #4076
This fix impacted PyTorch 1.10, but not earlier versions. For those who want a work-around for earlier versions, e.g. `opencv` 3 and `pytorch` 1.8.1, this worked for me:

[code]

If you want a different version of PyTorch this should work, but make sure you update the `torchvision` version to correspond to the new `pytorch` version and double check the dependency versions.
NB: be very careful that

[2021-12-04 15:32] xkszltl commented on #4542
Here's another victim.
I was aware of similar issues previously so it only waste me ~1h to figure out what's going on.
The error msg wasn't clear for sure.

Since torchvision is introducing pyproject.toml, how about simply make it complete?

Even more surprisingly, the issue only exists in a CentOS 7 docker, but Ubuntu 18.04 and Debian 11 with similar setup doesn't have the issue at all.

[2021-12-04 15:36] xkszltl commented on #4542
Adding `--no-build-isolation` or use setup.py directly isn't always possible, especially if it's in a big pipeline that's hard to expose every details to be configurable for each project.
My workaround is to clone the repo, rm -f pyproject.toml, and pip install from local.

[2021-12-05 01:06] 453606803 opened #5036 "Can you add the inception-resnetv2？"
## 🚀 Feature

## Motivation

inception-resnetv2 is also a network with high accuracy, but there is no pytorch version

## Can you add a network

## Alternatives

## Additional context

[2021-12-05 09:12] github-actions[bot] opened #5030 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow tests/download.
Please look into it:

https://github.com/pytorch/vision/actions/runs/1540897762

Feel free to close this if this was just a one-off error.

cc @pmeier

[2021-12-05 12:15] #5017 closed

[2021-12-05 17:42] ProGamerGov commented on #598
@Miladiouss I created this function that essentially matches the histogram of one image to another that should hopefully help astronomers, and those performing tasks like neural style transfer. I wrote the code for a different PyTorch project, but Torchvision is free to use it as well! @fmassa

[code]

The inner functions can be eliminated easily for TorchScript / JIT compatibility, and it's fully

[2021-12-06 02:40] voldemortX commented on #5015
I'd suggest using the legacy weights. Reproducibility and BC is crucial for research. Of course the new weights are also important for people to move forward, so maybe just keep the legacy weights as default and throw a warning for the existence of much better weights.

[2021-12-06 10:04] #1191 closed

[2021-12-06 16:01] mjack3-tkh opened #5034 "To do GeneralizedRCNNTrasnform.py similar to Detectron2"
### 🚀 The feature

Now with GeneralizedRCNN.py in faster_rcnn.py and retinanet.py you can to specify

MIN_SIZE_TRAIN
MIN_SIZE_TRAIN_SAMPLING = [choice, range]
MAX_SIZE_TRAIN
MIN_SIZE_TEST
MAX_SIZE_TEST

where

- MIN_SIZE_TRAIN: Size of the smallest side of the image during training
- MIN_SIZE_TRAIN_SAMPLING: Sample size of smallest side by choice or random selection from range give by INPUT.MIN_SI

[2021-12-06 16:57] datumbox commented on #5034
@mjack3-tkh Thanks for the proposal.

I think with the introduction of the [prototype transforms](https://github.com/pytorch/vision/tree/main/torchvision/prototype/transforms), it might be interesting to investigate if moving the `GeneralizedRCNNTransform` transforms out of the model makes sense. Currently detection is the only family of models that does the resizing internally. Though this has be

[2021-12-06 18:19] BenjaminPoole opened #5039 "Trying to CIFAR-10 from torchvision.datasets and receiving URLError: <urlopen error [SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed: certificate has expired (_ssl.c:1129)>"
## 🐛 Bug

Trying to download CIFAR-10 from torchvision.datasets and receiving `URLError:<urlopen error [SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed: certificate has expired (_ssl.c:1129)> when downloading` Download fails

## To Reproduce

Steps to reproduce the behavior:

`dataset = torchvision.datasets.CIFAR10(root='dataset/',train=True,transform=transform,download=True)`

## Expect

[2021-12-06 19:57] datumbox commented on #5036
Thanks @453606803. The inception-resnet family has been proposed again in the past at #3899. Given you ask for the V2 version, I've updated our list at #2707 where we keep track of the requested models.

I'm going to close this ticket to avoid duplicates, let's continue our discussion on the #2707.

[2021-12-06 19:57] #5036 closed

[2021-12-07 03:04] malfet commented on #5039
Moving issue to https://github.com/pytorch/vision

[2021-12-07 07:33] ingbeeedd commented on #2677
@peterjc123
What does it mean "with_cuda" in torchvision?
I think can attach cuda on the model without with_cuda compile?!

[2021-12-07 08:29] #5030 closed

[2021-12-07 08:41] pmeier opened #5040 "Legacy interface for prototype datasets?"
The prototype datasets change the interface in two ways:

1. The input parameters are a little different in some cases. For example in the current API the MNIST dataset would be instantiated with `datasets.MNIST(..., train=True)` whereas now it looks like `datasets.load("mnist", split="train")`.
2. The output is completely different. Before we returned a tuple (sometimes of varying length) whereas

[2021-12-07 12:58] peterjc123 commented on #2677
@ingbeeedd `WITH_CUDA` refers to the option whether you want the CUDA kernels of the torchvision ops (https://github.com/pytorch/vision/tree/main/torchvision/csrc/ops/cuda) or not. If your model doesn't rely on them, you can set it to `OFF`.

[2021-12-07 13:17] pmeier opened #5045 "[Discussion] How do we want to handle `torchvision.prototype.features.Feature`'s?"
This issue should spark a discussion about how we want to handle `Feature`'s in the future. There are a lot of open questions I'm trying to summarize. I'll give my opinion to each of them. You can find the current implementation under `torchvision.prototype.features`.

## What are `Feature`'s?

`Feature`'s are subclasses of `torch.Tensor` and their purpose is threefold:

1. With their type, e.g. `

[2021-12-07 13:29] NicolasHug opened #5046 "Type annotations of normalize() are incorrect"
I'm seeing the following typing error:

[code]

This is incorrect, passing single numbers is explicitly supported by `noramlize()`

https://github.com/pytorch/vision/blob/47bd962069ba03f753e7ba711cb825317be0b00a/torchvision/transforms/functional.py#L340-L345

[2021-12-07 13:33] datumbox commented on #5046
Probably a limitation from the days that JIT didn't support Union? Worth checking if a `Union[float, List[float]]` fixes the situation.

[2021-12-07 13:35] pmeier commented on #5040
Correct. For the legacy example `datasets` comes from `from torchvision import datasets`, whereas for the prototype example it comes from `from torchvision.prototype import datasets`.

There is a difference between supporting legacy datasets and supporting the interface of the legacy datasets. The former will not be possible, while the second is the subject of this discussion.

Let's say the curre

[2021-12-07 13:48] datumbox commented on #5040
Sounds reasonable. Are there any other hidden differences that we need to highlight here before assessing the proposal? For example how about the return types of input and target. Are they going to be the same?

[2021-12-07 14:37] pmeier commented on #5040
From https://github.com/pytorch/vision/pull/5041#issue-1073120040

I think this is a reasonable tradeoff. To use the data with on of our models, the data has to be converted to a tensor at some point any way. This usually happened with `transform=ToTensor()` or the like.

So yes, if the user needs the return types to also be exact, the proposed approach is not sufficient.

[2021-12-07 15:08] fmassa opened #5048 "`remove_finished` is not used if `archive_type` is not None in `extract_archive`"
### 🐛 Describe the bug

The title is self-explanatory.

If the code gets in https://github.com/pytorch/vision/blob/47bd962069ba03f753e7ba711cb825317be0b00a/torchvision/datasets/utils.py#L387-L390 , `remove_finished` doesn't seem to be used.

### Versions

torchvision main branch

[2021-12-07 15:46] datumbox commented on #5040
Yeah I think this is a critical detail that needs to be highlighted here. If what we get from the dataset is different, the user still needs to make a bunch of changes on their code to handle this. It's not just the X part of the pair, there might be necessary handling on the Y as well.

Given the above, I'm not sure if writing extra code to make things look different is worth it, given that the A

[2021-12-07 15:59] pmeier commented on #5040
It depends. In most cases everything gets converted into a tensor anyway. From our references:

https://github.com/pytorch/vision/blob/47bd962069ba03f753e7ba711cb825317be0b00a/references/classification/presets.py#L58

https://github.com/pytorch/vision/blob/47bd962069ba03f753e7ba711cb825317be0b00a/references/classification/presets.py#L30

https://github.com/pytorch/vision/blob/47bd962069ba03f753e7b

[2021-12-07 16:02] NicolasHug commented on #5040
Overall I share @datumbox points.

I don't think it's worth the hassle and extra complexity of maintaining 2 sets of API. If anything, I feel like this would actually hurt the migration, because some users would just do half of it instead of doing it all. and if/when we remove support for the legacy, they would have to apply a second set of change.

I was going to comment something along these lin

[2021-12-07 19:37] NicolasHug opened #5050 "Pytest can't collect TestWeights"
[code]

I think we just need to rename TestWeights into something that doesn't start with `Test` so that pytest doesn't mistake it for a test class

CC @pmeier

cc @pmeier

[2021-12-07 21:25] vadimkantorov commented on #5045
about naming: Feature is a very loaded term and will also be hard to google

[2021-12-08 00:22] kazhang opened #5052 "API usage logging within TorchVision"
# Goal

To understand TorchVision usage within an organization(e.g. Meta).

The events give insights into torchvision usage with regards to individual callsites, workflows etc. The organization could also learn the trending APIs, which could be used to guide component development/deprecation etc.

# Policy
* Usage should be recorded only once for the same API within a process;
* We should record e

[2021-12-08 00:38] ingbeeedd commented on #2677
@peterjc123
It's a cuda operation related to object detection. Thank you

[2021-12-08 07:47] pmeier commented on #5045
@vadimkantorov

I agree 100%, but so far no one (including me) was able to come up with a better name. Do you have one?

Could you elaborate on that? What functions are you talking about? The prototype transforms will accept vanilla tensors as inputs and treat them as `Image`'s for BC.

[2021-12-08 08:33] vadimkantorov commented on #5045
any name even more obscure will be better than "feature", even VisionFeature in one word, VisionTrait, VisionModality, anything is better than features.feature.

I mean that to_colorspace and functions for working with masks, bboxes etc should also exist as free functions taking raw tensors

[2021-12-08 08:55] pmeier commented on #5045
@vadimkantorov

In the current design these are not functions, but rather methods on the new classes. Since the method has access to the meta data, there is no point to allow it to be passed as additional keyword argument.

One solution to support this use case is to always have a method / function pair. For example:

[code]

[2021-12-08 09:36] datumbox commented on #5052
Thanks for the write up @kazhang. I agree with the direction of the proposal. As discussed at https://github.com/pytorch/vision/pull/5038#discussion_r763934980, adopting a straightforward, easy to implement and review solution will help us ensure that logging will be added on new endpoints and models. Already we've missed it in a couple of places (see #5044, admittedly I was involved on the review

[2021-12-08 09:36] NicolasHug opened #5056 "Follow-up improvements to RAFT training reference"
This issue is to keep track of the progress on some minor improvements related to the RAFT training reference, as a follow up to https://github.com/pytorch/vision/issues/4644

- [x] support `--weights` param to support the prototype API, once pre-trained weights are available
- [x] support `--model` instead of the `--small` flag
- [x] support `--epochs` param instead of `--num-steps`, for consiste

[2021-12-08 10:00] vadimkantorov commented on #5045
Yep, in my opinion it's best to always have a free function even as `torchvision.functional.convert_colorspace`, same for bboxes and masks. IMO the field is still moving fast and there are many representations for the same concepts that would break the design (also, nested tensors or any other quasi-type extensions for core PyTorch tensors like carrying some meta-information hints along with a ten

[2021-12-08 10:56] #5050 closed

[2021-12-08 14:19] NicolasHug opened #5058 "handle_legacy_interface raises warning when passing weights=SomeString"
`handle_legacy_interface` raises a warning when passing weights as strings. This leads to warnings in the training references which all rely on strings rather than weight instances.

[code]

The warning is

[code]

CC @pmeier @datumbox

[2021-12-08 14:23] datumbox opened #5059 "[v0.11.2] Release Tracker"
This is a main issue to track which PRs should be cherry-picked for the 0.11.2 release, and follows PyTorch's criteria https://github.com/pytorch/pytorch/issues/58518.

## Cherry-Pick Criteria

Only low-risk changes may be cherry-picked from main:

- Fixes to regressions against the most recent minor release (e.g. 1.8 for 1.9 release; see module: regression issue list)
- Critical fixes for: silent

[2021-12-08 15:05] datumbox commented on #5059
- Link to merged main PR: https://github.com/pytorch/vision/pull/4931
- Link to release branch PR: https://github.com/pytorch/vision/pull/5061
- Criteria Category: Test/CI fixes

[2021-12-08 15:30] vadimkantorov opened #5064 "[feature request] Connected components labeling and some morphological operations in general"
### 🚀 The feature

Some useful morphological operations would be nice to have in the core:
- Connected components labeling (hard to do with existing primitives)
- Labeled component areas (related to batched bincount/histc)
- Batched retrieval of unique labels count
- Dilation / erosion (can be modeled with max/min pooling)

### Motivation, pitch

N/A

### Alternatives

_No response_

### Additiona

[2021-12-08 15:34] datumbox commented on #5059
- Link to merged main PR: https://github.com/pytorch/vision/pull/4926
- Link to release branch PR: https://github.com/pytorch/vision/pull/5062
- Criteria Category: Test/CI fixes

[2021-12-08 15:44] vadimkantorov commented on #4991
The proposed change is simple, low risk and is immediately useful to hundreds of people working with existing dataset APIs, it will take some time until the new ones are adopted by the community.

[2021-12-08 16:18] #5058 closed

[2021-12-08 16:47] datumbox commented on #5059
- Link to merged main PR: https://github.com/pytorch/vision/pull/4987
- Link to release branch PR: https://github.com/pytorch/vision/pull/5065
- Criteria Category: Test/CI fixes

[2021-12-08 16:56] datumbox commented on #5059
- Link to merged main PR: https://github.com/pytorch/vision/pull/4966
- Link to release branch PR: https://github.com/pytorch/vision/pull/5066
- Criteria Category: Critical fixes

[2021-12-08 16:56] datumbox commented on #5059
- Link to merged main PR: https://github.com/pytorch/vision/pull/4806
- Link to release branch PR: https://github.com/pytorch/vision/pull/5067
- Criteria Category: Critical fixes

[2021-12-08 17:18] datumbox commented on #5059
- Link to merged main PR: https://github.com/pytorch/vision/pull/4649
- Link to release branch PR: https://github.com/pytorch/vision/pull/5068
- Criteria Category: Critical fixes

[2021-12-08 18:20] kazhang commented on #5052
In terms of format, I personally prefer `torchvision.{ models | transforms | ops | io | util}.{function | class}` too, we'd need to update [the format string here](https://github.com/pytorch/vision/blob/d416b2c22f7e4a28548a89a5b575ed02893e7304/torchvision/utils.py#L387) though. In this case, I recommend to change to logging API to
[code]
So that the API is consistent across module and function(as

[2021-12-09 07:25] kazhang opened #5073 "Update API usage log calls in ops"
As we discuss in API usage logging policy, `torchvision.ops` needs to be updated to include calls in all class constructors. Currently there are calls on all methods.
For example, logging is triggered for [roi_align](https://github.com/pytorch/vision/blob/4cacf5a19f68f6b6483c758e3ac95d1dd9b6194c/torchvision/ops/roi_align.py#L53), but we also need log call for [RoIAlign](https://github.com/pytorch/

[2021-12-09 07:28] kazhang opened #5074 "Add API usage calls to utils"
As discussed in API usage logging policy(#5052), we would like to track usage of utils as well. We need to call _log_api_usage_once in all public methods in [utils.py](https://github.com/pytorch/vision/blob/main/torchvision/utils.py)

[2021-12-09 09:20] pmeier opened #5075 "[RFC] How should datasets handle decoding of files?"
It is a common feature request (for example #4991) to be able to disable the decoding when loading a dataset. To solve this we added a `decoder` keyword argument to the load mechanism (`torchvision.prototype.datasets.load(..., decoder=...)`). It takes an `Optional[Callable]` with the following signature:

[code]

If it is a callable, it will be passed a buffer from the dataset and the result will

[2021-12-09 09:24] datumbox commented on #5005
This is fixed on the latest main branch of PyTorch core. It's unclear what fixed it.

[2021-12-09 09:24] #5005 closed

[2021-12-09 09:32] pmeier commented on #4991
I don't think it is as simple as you think. It will suffer the same issues I detailed in #5075. While we will find a solution for them for the new-style datasets I'm not eager to also maintain the same functionality in the old-style ones.

From your request I get that you only want to disable it and not use custom decoding. If don't care about the actual data and only use it for testing, can't you

[2021-12-09 09:33] datumbox commented on #5073
@kazhang Thanks for raising issues. If you add more info here to make the ticket self-explanatory without requiring reading other issues and potentially provide an example of how to fix RoiAlign in code, we will be able to tag it as "good first issue" and ask for the help of the community. Usually it takes a bit more effort to write detailed descriptions so that new contributors with no context on

[2021-12-09 10:00] oke-aditya commented on #5064
Hi @vadimkantorov I guess kornia has these applications. https://kornia.readthedocs.io/en/latest/morphology.html

Just for my knowledge, How does this fit into torchvision's perspective? If yes, then how should these be added?

[2021-12-09 10:30] frgfm commented on #5073
Happy to help :+1:
But I would need some clarification if possible:
- in the example of `RoIAlign`, considering it calls `roi_align` (cf. https://github.com/pytorch/vision/blob/4cacf5a19f68f6b6483c758e3ac95d1dd9b6194c/torchvision/ops/roi_align.py#L84), do we want to only add an additional log call when `RoIAlign.forward` is used?
- or we want to disable the underlying call from the functional API,

[2021-12-09 10:49] zhiqwang commented on #5074
Hi @kazhang and @datumbox ,

I can help to add the public methods calls in utils.

[2021-12-09 10:56] vadimkantorov commented on #4991
Yes, I have ways around it of course as mentioned above, but it's cumbersome.

What kind of troubles could it be if one just accepts a lambda that reads an image by path? or at least makes it semi-standard private methods that are elementary to patch?

[2021-12-09 11:00] vadimkantorov commented on #5064
For connected components labeling, kornia contrib solution works by running max pooling 100 times (this number depends on the size of the largest component) which works as a simple solution for small inputs but is inefficient.

About general torchvision's perspective and how image processing stuff fits in, I personally have no insights :)

[2021-12-09 11:25] xiaohu2015 commented on #5034
@datumbox I think it is a very good proposal. The resize and normalization are included in `GeneralizedRCNNTransform`, which is not friendly to users.

[2021-12-09 11:28] mjack3-tkh commented on #5034
Thanks for you answer @datumbox

[2021-12-09 11:38] xiaohu2015 commented on #5073
@frgfm I think he want to include logging calls in all class constructors for `torchvision.ops`.

[2021-12-09 11:39] pmeier commented on #4991
As detailed in #5075:

[2021-12-09 11:40] datumbox commented on #5034
Thanks @xiaohu2015 for the input.

Agreed. The biggest concern for deprecating the `GeneralizedRCNNTransform`, is that it will be a massive breaking change. The detection models currently receive variable sized images. By removing the above transform and moving it out of the model, we effectively do something like what you describe; all transforms are applied prior to the model. This aligns the be

[2021-12-09 11:44] xiaohu2015 commented on #5034
@datumbox Thanks. If possible, I would like to take part in the refactoring work.

[2021-12-09 11:49] vadimkantorov commented on #4991
About (1), in context of old-style dataset, one can start with accepting `image_loader` in constructor or using `_image_loader` function, this already speeds up a lot the scenario of iterating/indexing a dataset without image loading.

Aobut (2): old-style dataset may have a suitable default loading function if None is passed or if `_image_loader` isn't redefined, there's no assumption that the sa

[2021-12-09 11:49] datumbox commented on #5073
Thanks a lot for your support :)

That is correct. The original idea was why include a call on `RoIAlign` if a call exists on `roi_align`? This is a fair point but it leads to a complicated policy where one needs to check if a functional method exists before adding the call on the constructor. So we propose to simplify this by adding always calls in both the Class and the functional ops. Note that

[2021-12-09 11:54] xiaohu2015 commented on #5073
I am sorry that I don't read the discussion https://github.com/pytorch/vision/issues/5052.

[2021-12-09 12:09] oke-aditya commented on #5045
My thought was naming `Feature` as `Structure`. In this way we match the detectron2 names. https://github.com/facebookresearch/detectron2/tree/main/detectron2/structures

[2021-12-09 12:10] mjack3-tkh commented on #5034
same for me

[2021-12-09 13:22] datumbox commented on #1946
This information is now available on the prototype API. Hence I'll close the ticket.

[2021-12-09 13:22] #1946 closed

[2021-12-09 13:45] xiaohu2015 opened #5080 "A question about the RandZoomOut"
a question about the augmention (https://github.com/pytorch/vision/blob/main/references/detection/transforms.py) of SSD:

[code]
since the operation of F.pad has pad the image, why you do another fill operation for torch.Tensor?

cc @datumbox

[2021-12-09 14:20] pmeier commented on #4991
Our datasets are map-style datasets. Thus, they are fully indexed as soon as their are instantiated. What kind of information do you want to extract that is not available at that stage?

My point is that this solution will not work for all datasets as detailed in the other issue. I don't want one-off solutions for a problem that already has a workaround will be solved in a more general way in the

[2021-12-09 16:03] vadimkantorov commented on #4991
The vast majority of code and packages and projects in development use old-style datasets. It's your call of course, but adding such small features, even if not "solving the data loading" is useful and helpful for a lot of people.

[2021-12-09 16:09] pmeier commented on #4991
What exactly is the use case? As stated above, the datasets are already indexed after they are instantiated. What kind of data of information do you want to extract?

[2021-12-09 17:20] vadimkantorov commented on #4991
E.g. I want to access only instance annotations, without spending time on loading and decoding the image, e.g. I need an indexable dataset instance that's fast. Currently I hack around, but it would be much better if the datasets were more amenable to this scenario (e.g. accepter image loader as argument in constructor or used a private `_load_image` methods that are not hard to patch out)

[2021-12-09 22:10] datumbox commented on #5073
@frgfm FYI it's now merged. :)

[2021-12-10 07:08] #5074 closed

[2021-12-10 08:29] pmeier commented on #4991
If you regularly do this, wouldn't it a lot better to simply store the annotations in an indexable way and simply compute everything you need based on that? That would also save you instantiating the dataset and decoding the annotations:

[code]

True, and this is why the new-style datasets will solve this.

If you are ok with patching a private method at runtime, I fail to see why my workaround f

[2021-12-10 10:14] frgfm commented on #5073
Thanks, I'm checking right now @datumbox!
I have one last question: for classes, do we want to place the log call in the constructor, or forward method? I was about to go for the second option but I saw this https://github.com/pytorch/vision/blob/d716c4263044bd8fa5c9fe3fe1641ebfe26c6c42/torchvision/models/alexnet.py#L21

So I'm not entirely sure :sweat_smile:

[2021-12-10 10:31] vadimkantorov commented on #4991
Introducing a whole new mock concept just to disable image loading is overkill IMO instead of providing a super-simple extension point (method override/patch). It also requires knowing of this mock framework to do this simple task. Of course, it's a matter of personal preferences.

All existing code and projects use old datasets and will continue to do so for a long time.

Caching around always co

[2021-12-10 10:49] datumbox commented on #5052
@kazhang After reviewing some of the PRs, I noticed that:
- On C++ (see pr #5038) the `torchvision/csrc/io/image/cpu/decode_jpeg.cpp` records to the logger `torchvision.csrc.io.decode_jpeg`. Strictly speaking, this method doesn't really exist and might conflict with other methods within the io namespace (perhaps the gpu equivalents if on the future manage to use the dispatcher).
- On Python (see p

[2021-12-10 11:14] NicolasHug commented on #5052
Regarding Python, I think we could try to record the up-most suubpackage (with an `__init__.py` file) where the function is available. This reflects how we expect our users to import these functions / methods.

For example we explicitly expose `batched_nms` in `torchvision.ops.__init__.py`, so it makes sense to log `torchvision.ops.batched_nms`.

Similarly, since `RetinaNet` is not available in `t

[2021-12-10 12:16] datumbox commented on #5052
For Python, recording the most compact valid name path of the method/class is reasonable. If that was the case, would you make `_log_api_usage_once` receive 2 params as is now or a single string as before? Both are possible aka:
[code]

Also how about the C++ side? Using the fully qualified name such as `torchvision.csrc.io.image.cpu.decode_jpeg.decode_jpeg` sounds like an overkill. An alternative

[2021-12-10 12:19] datumbox commented on #5073
@frgfm For classes the intention is to put it on the constructor not the forward method. Nevertheless, there is some additional on going discussion at #5052. Let us get back to you once we finalize this to minimize changes. Thanks for the help! :)

[2021-12-10 12:26] NicolasHug commented on #5052
Agree with this *if* we're sure to only ever log functions that we register through the dispatcher. Otherwise, we still need a convention for logging the non-registered functions, in which case I would go with this:

It's a bit cumbersome I agree. But it also seems to be the most straightforward, dumb simple, and name-clash free strategy.

[2021-12-10 13:15] pmeier commented on #4991
The mock stays in place until you exit the context manager. Afterwards you'll have the normal behavior again. You can also start and stop it without a context manager:

[code]

Current plan is to remove the old datasets as soon as the new ones are stable plus one deprecation release. Thus, if users want to use the latest releases, they will have to move eventually.

If you want to have such a meth

[2021-12-10 13:15] #4991 closed

[2021-12-10 13:16] pmeier commented on #4975
As discussed in #4991, I'm ok with moving the functionality into a private method on the dataset as long as it is a 1-to-1 copy of the current behavior. Still, the BC part of https://github.com/pytorch/vision/issues/4975#issuecomment-976365004 applies.

[2021-12-10 18:40] kazhang commented on #5052
@NicolasHug @datumbox
Yes, I agree that the drawback of using flat namespace is name collision despite its simplicity.
With regards to the Python API, one consideration is model inheritance for modules, we can't simply use
[code]
Because the model inherit from this class won't be tracked properly, instead, we should use
[code]
Now, if we want to record the up-most subpackage, we can do
[code]
But

[2021-12-10 18:53] kazhang commented on #5052
I want to propose this:
Let's use the fully qualified names, such as `torchvision.csrc.io.image.cpu.decode_jpeg.decode_jpeg`
For Python module, we simply call:
[code]
For Python methods, we call:
[code]
Pros:
* simple policy that everyone could easily follow
* no naming collision
* correctly log events to corresponding top level module(e.g. "torchvision")
Cons:
* it's too long to write
@NicolasHug

[2021-12-10 22:56] anamariaUIC opened #5087 "AttributeError: module 'torchvision.models' has no attribute 'mnasnet'"
### 🐛 Describe the bug

I installed pytorch via:
conda install  pytorch==1.7.0 torchvision==0.8.0 torchaudio==0.7.0 cudatoolkit=9.2 -c pytorch

associated python version is: Python 3.7.4 (default, Aug 13 2019, 20:35:49)
[GCC 7.3.0] :: Anaconda, Inc. on linux

I am running this script: https://github.com/ryujaehun/pytorch-gpu-benchmark/blob/main/benchmark_models.py

and I am getting this Error:
Tra

[2021-12-11 08:50] oke-aditya commented on #5087
I think your pytorch and torchvision versions don't match. Also see #2912

[code]

[2021-12-11 08:52] datumbox commented on #5052
Thanks to both of you for their input.

As @kazhang  mentioned, some models (like Quantized) use inheritance and hardcoding the module name or the class name won't work. So I agree the following should work for classes:
[code]

For methods, we can use the same approach but instead of `self`, use the actual name of the method. For example for `nms` this would be:
[code]
As far as I can tell, this w

[2021-12-11 09:53] datumbox opened #5088 "[FEEDBACK] Multi-weight support prototype API"
### 🚀 The feature

-

### Motivation, pitch

-

### Alternatives

_No response_

### Additional context

_No response_

[2021-12-11 12:15] montenegrina commented on #5087
I installed pytorch following version installations for CUDA 9.2 and Linux from here https://pytorch.org/get-started/previous-versions/. Can you please tell me how to install this so that the script I am planning to use actually runs? Can you test it?

[2021-12-11 12:30] oke-aditya commented on #5087
You should try
[code]

[2021-12-11 13:33] anamariaUIC commented on #5087
@oke-aditya Thanks how do I uninstall the previous version that I installed? Or I don't need to do anything just run that command that you provided?

[2021-12-11 13:39] oke-aditya commented on #5087
You can either create a fresh environment using conda and install again. (easy way)

Or uninstall packages using pip and conda then install

[2021-12-11 13:44] anamariaUIC commented on #5087
@oke-aditya can you please send me command how do I uninstall it using pip in order to remove all files?
Do I only do:
pip uninstall torch

Please send me all commands for the complete uninstallation

[2021-12-11 14:01] oke-aditya commented on #5087
I would suggest to remove all the packages.

[code]

(Press y to say yes and remove stuff)

Then cleanup the conda environment. (Coz your device is CUDA 10. 2 and you have CUDA 9.2 installed so pytorch won't run)

This will activate the base environment

[code]

Beware!! The below command will completely remove the environment.

[code]

Now you can create a fresh environment

[code]

And proceed w

[2021-12-11 22:09] anamariaUIC commented on #5087
@oke-aditya Thank you so much for your help. I tried installing with the command you gave me:
conda install pytorch==1.7.1 torchvision==0.8.2 torchaudio==0.7.2 cudatoolkit=9.2 -c pytorch

but when I run [this](https://github.com/ryujaehun/pytorch-gpu-benchmark/blob/main/benchmark_models.py)

I get this:
Traceback (most recent call last):
  File "python_test_GPU.py", line 22, in <module>
    models

[2021-12-13 09:02] NicolasHug commented on #5052
I'm not sure I fully understand the inheritance problem. IIUC if B inherits from A, and if we log in both `__init__`(), the logger will be called twice when `B` is instantiated?

But then logging `self.__class__.__name__` vs `"RetinaNet"` is just a matter of which class will be recorded twice instead of once, right? Does that mean we should divide all logging metrics by 2 when we look at `B`?

[2021-12-13 09:05] pmeier commented on #5087
@anamariaUIC It should be one of

- `mnasnet0_5`
- `mnasnet0_75`
- `mnasnet1_0`
- `mnasnet1_3`

[2021-12-13 14:27] anamariaUIC commented on #5087
@pmeier @oke-aditya thank you for getting back to me. @pmeier How should I use the information from your comment to either install or run pytorch, given I want to run [this](https://github.com/ryujaehun/pytorch-gpu-benchmark/blob/main/benchmark_models.py) script

[2021-12-13 14:34] NicolasHug commented on #5087
@anamariaUIC please follow the latest pytorch version following the official instructions https://pytorch.org/get-started/locally/

FYI this works fine (from the script you linked) with the latest version:

[code]

Since this is a usage question more than a bug or an issue related to torchvision, I'll close the issue.

[2021-12-13 14:34] #5087 closed

[2021-12-13 14:34] pmeier commented on #5087
That is a question you should ask the author of the script. You can import the `MNASNet` models like this:

[code]

[2021-12-13 14:39] anamariaUIC commented on #5087
@NicolasHug does the latest version of pytorch works with CUDA 9.2? Because if it doesn't I can't use it. I am doing this on a cluster where drivers are version 396 and only Cuda 9.2 can be used...

[2021-12-13 14:51] NicolasHug commented on #5087
@anamariaUIC please see https://pytorch.org/get-started/previous-versions/ for cuda / pytroch compatibility and our readme for torch / torchvision compatibility.

There's a chance that not all models will be available in torchvision if you need to rely on such an old CUDA version, unfortunately

[2021-12-13 14:51] pmeier commented on #5087
Nope. The last release that supports CUDA 9.2 is `torch==1.7.1` / `torchvision==0.8.2`.

[2021-12-13 15:00] anamariaUIC commented on #5087
ok, So I did install the latest version of pytorch that works with CUDA 9.2 via:

conda install pytorch==1.7.1 torchvision==0.8.2 torchaudio==0.7.2 cudatoolkit=9.2 -c pytorch

And for example models.mnasnet doesn't work with it as invoked in [this](https://github.com/ryujaehun/pytorch-gpu-benchmark/blob/main/benchmark_models.py) script:
models.mnasnet: models.mnasnet.__all__[1:]

Is this only the

[2021-12-13 15:43] datumbox commented on #5052
@NicolasHug I don't think there is an inheritance problem. I think that Kai just wanted to warn against hardcoding class names in favour of using `self.__class__.__name__`. I agree with this statement. I think what triggered his response was my earlier [example](https://github.com/pytorch/vision/issues/5052#issuecomment-990924742) where I quoted full strings, but this was for illustration purposes

[2021-12-13 15:59] #4644 closed

[2021-12-13 16:19] NicolasHug opened #5091 "Add `flow_to_image()` visualization util"
Now that RAFT is done, it'd be nice to have a conversion util from a 2xHxW `flow` to a 3xHxW RGB image. I think the implementation of the original RAFT paper follows a standard color map, so we could do something similar (trimmed down to the minimal parts, e.g. no BRG etc.) https://github.com/princeton-vl/RAFT/blob/master/core/utils/flow_viz.py

Note: this is a visualization util meant to land in

[2021-12-13 16:37] oke-aditya commented on #5091
I can take this :smile:

[2021-12-13 16:45] NicolasHug commented on #5091
Thanks @oke-aditya ! Looking forward to your PR!

[2021-12-13 16:57] NicolasHug commented on #5091
I'll be on holidays the last 2 weeks of Dec, so there's absolutely no rush on our side ;)

Just FYI, you don't really need to be familiar with optical flow models or with RAFT for this task, since it's just about converting a flow into an RGB image.

But if you want to play around with RAFT, I've been using this (hacky) script to apply our model to videos:

<details>

[code]

</details>

(adapted

[2021-12-13 17:05] #4278 closed

[2021-12-13 18:13] kazhang commented on #5052
@NicolasHug @datumbox

ah, thanks for the clarification! my apologies for the confusions

If everyone agree, let's move ahead with logging **the fully qualified name**:
* C++
[code]
* Python Class
  * call at the beginning of constructor (after `super().__init__` if applicable);
  * even if the class inherit from another tracked class, we still want to add this call for simplicity;
[code]
* Python

[2021-12-13 18:25] kazhang commented on #5052
I also want to clarify another point, whether we should track modules that inherit from torchvision but don't live in torchvision, for example, classy vision could inherit from the `torchvision.models.RegNet`, with our current implementation, this will trigger a event like "classy_vision.models.regnet.RegNet".

I personally prefer **not** to log that kind of events because we can't really make use

[2021-12-13 21:58] #4787 closed

[2021-12-13 22:26] malfet commented on #5059
- Link to merged main PR: https://github.com/pytorch/vision/pull/4893
- Link to release branch PR: https://github.com/pytorch/vision/pull/5094
- Criteria Category: Regressions from previous release

[2021-12-14 00:37] kazhang commented on #5052
For the completeness, I also considered a simplified logging API
[code]
The API call would be as simple as
[code]
However, TorchScript doesn't like the idea

see #5095

[2021-12-14 06:46] kazhang commented on #5052
In [3c97c20e3bfa34](https://github.com/pytorch/vision/pull/5096/commits/3c97c20e3bfa344d6b120cf13942e515e17bc669), I found out that TorchScript doesn't allow to access `__module__` of a function :(
We have to write the full qualified name for methods, e.g.
[code]

In this case, I would rather we use single string as the param for `_log_api_usage_once`
[code]
For class, it could be
[code]

[2021-12-14 09:26] github-actions[bot] opened #5097 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow tests/download.
Please look into it:

https://github.com/pytorch/vision/actions/runs/1576991216

Feel free to close this if this was just a one-off error.

cc @pmeier

[2021-12-14 09:35] datumbox commented on #5052
I modified slightly your code at #5095:
[code]

JIT tests seem to pass.

[2021-12-14 09:43] fmassa commented on #5075
Controversial thought: remove `decoder` from the datasets, and let the user handle the decoding themselves.

We can have a custom type that represents `RawImage`, `RawVideo` or something like that.

The user can then select whatever type of `decoder` they want and pass it in a `.map` call.

[2021-12-14 09:56] fmassa commented on #5045
Thanks for raising this discussion.

Here are my thoughts on the questions:

I wouldn't overload the constructor to support things like `Image(PIL.Image(...))`. At best I would provide a `classmethod` `Image.from_pil_image`, but this can be very well as well a free function.

We are considering redesigning the transforms to use the dispatch from PyTorch, and to support torchscript we would need to

[2021-12-14 10:07] vadimkantorov commented on #5045
Two other arguments to consider: there are already similar abstractions in mmdetection, detectron2 and other frameworks. They're unlikely to migrate to new abstractions, but probably can still reuse and call the "plumbing" functions accepting raw tensors with some format arguments.

For masks etc, there may be many representations, e.g. if bit tensors are implemented or some sort of primitive base

[2021-12-14 10:33] naeunhub opened #5098 "Faster R-CNN training with negative images(non-object image)"
### 📚 The doc issue

I'm using torchvision.models.detection.fasterrcnn to train my custom dataset.
For annotations that do not have any bounding box, I use target [0, 0, 0, 0], label 0.
But it return ValueError(All bounding boxes should have positive height and width).

And when I use target [0, 0, 0.5, 0.5], label 0.
But it returns nan Loss..

Is there any solution for this problem?

### Suggest

[2021-12-14 12:58] pmeier commented on #5075
I think this is a good approach as long as we can make it work as seamless as what I proposed above. I currently see one issue:

If we separate the decoder from the dataset, how do we use dataset specific handlers (keeping the same terminology as in my comment above) in a non-verbose way?

With my proposal, this can be handled internally and so the dataset construction looks like this:

[code]

Wi

[2021-12-14 15:25] oke-aditya commented on #5091
Happy Holidays Nicolas. :)

I will have a look at the script and try to implement a minimalist version.
I will ping you back in a PR hopefully soon.

[2021-12-14 17:16] kazhang commented on #5052
Thanks @datumbox , basically we would need to check if is torchscripting for every function that needs to be complaint with TorchScript. Maybe it's better than writing the full qualified name like #5096
If everyone agrees, I will modify and reopen #5095
@NicolasHug ?

[2021-12-15 04:01] kingjuno commented on #4540
@datumbox can i work on this issue?

[2021-12-15 09:05] datumbox commented on #4540
@kingjuno There are a few limitations of using the FX-based approach (losing class info) which means replacing the SSD ones might not work. I'm currently OOO, but I can look into if this still makes sense once I'm back.

[2021-12-15 09:51] kingjuno commented on #4540
ok

[2021-12-15 11:17] abhishekstha98 commented on #3093
@sirtris can you explain how you fixed the issue, i am also stuck in the same problem.

[2021-12-15 12:04] mega-optimus commented on #4894
Hi,
I just installed `torchvision==0.11.1+cu102` on Windows 7 and get this "nvjpeg64_10.dll is missing" error window. Where can I find this dll manually and fix the blocking problem? Thank you!

[2021-12-15 12:42] ashnair1 commented on #2761
Are there plans to port the rotated ops from detectron2 to torchvision?

[2021-12-15 12:43] pmeier commented on #5075
One possible solution that came to mind, is to attach the default decoder to `RawImage` or other custom types. That way we could have a `Decoder` datapipe that we could use like this:

[code]

Optionally we could also use the `.decode()` functional call, which is currently occupied by the [`RoutedDecoder`](https://github.com/pytorch/pytorch/blob/43b8e833e9d13c08eac4876c90a1952d95cd2516/torch/utils

[2021-12-15 15:50] datumbox commented on #4540
Backbones that have been passed through FX won't have class information in the submodules (see https://github.com/pytorch/pytorch/issues/66335). As a result we might no longer be able to do `isinstance()` to check for specific blocks. This idiom is often used in detection and segmentation for the weight initialization. So prior replacing the feature extractors we must check that none of the models

[2021-12-15 16:16] kingjuno commented on #4540
@vfdev-5 Should I proceed with this issue?

[2021-12-15 16:17] kingjuno commented on #4540
@vfdev-5 Should I proceed with this issue?

[2021-12-15 18:01] pmeier commented on #5075
Is there any use case that a single video file (handle) would be decoded several times to achieve getting part of frames from the video? Like decode a sliding window over videos.
Or, we are going to decode the whole video and then do the sliding window on the decoded video frames.

cc @bjuncek

We need to. Some datasets use either non-standard files or formats with sub-par support by the default d

[2021-12-15 18:05] ejguan commented on #5075
Let us discuss it over the team meeting then. I think we can release it to you. Let domains to handle corresponding decoders makes more sense to me.

[2021-12-15 18:18] malfet commented on #4894
nvjpeg64_10.dll can be downloaded from https://developer.nvidia.com/cuda-10.2-download-archive

[2021-12-15 20:52] sirtris commented on #3093
sorry that i didn't clarify that in the last answer. Unfortunately I can't remember what the problem was and how I solved it exactly.
I would guess that I used one of the transforms  provided by the links above. Probably `PILToTensor()` instead of `transforms.ToTensor()`

[2021-12-16 01:48] mega-optimus commented on #4894
Thanks!
A bit curious, I've installed CUDA 10.2 already.

[2021-12-16 02:54] lincchenl opened #5103 "torchvison.io.decode_jpeg memory leaks on GPU while file on CPU"
### 🐛 Describe the bug

When I know torchvision starts to support decoing jpegs with nvjpeg, I was happy to try it but found memory leak when decoding with GPU. Here is my code below:

[code]
here self.device='cuda:0'
But I found the usage of graphic card memory increased non-stopping and finally caused an OOM.
I tried the cpu version with:
[code]
It worked flawlessly without any abnormal memory u

[2021-12-16 04:15] saulzar opened #5104 "Model from create_feature_descriptor AssertionError: expected 4D input (got 4D input)"
### 🐛 Describe the bug

Using the new torch fx feature extractor produces a model which fails an assertion giving the message `AssertionError: expected 4D input (got 4D input)` with the torchvision resnet18, different models have other variations. Using the 'regnetx_004'
 from the timm repository will assert `AssertionError: expected 4D input (got Proxy(dim_1)D input)` for example

[code]

[code]

[2021-12-16 10:11] #5059 closed

[2021-12-16 10:46] abhishekstha98 commented on #3093
@sirtris i am not understanding the solution, i am using transform.compose, for resize() and totensor() where and how should i use the piltotensor() it would be really helpful if you could elaborate

[2021-12-17 13:24] NicolasHug opened #5108 "New classification datasets support for FLAVA"
To support our colleagues' work on the [FLAVA](https://arxiv.org/abs/2112.04482) paper, and to foster collaborations in the multi-modal space, we would like to implement a few new datasets. Almost all of them are classification datasets but some also support other tasks like segmentation.

- [x] [Food 101](https://data.vision.ee.ethz.ch/cvl/datasets_extra/food-101/) @jdsgomes #5119
- [x] [Stanford

[2021-12-17 13:52] pmeier commented on #5108
I'm going to take DTD and Oxford Pets.

Nope. Downloads from Kaggle are currently not supported, since they require login. For now I would simply not add a `download` flag. Later in the new style datasets, we can provide them as

https://github.com/pytorch/vision/blob/eac3dc7bab436725b0ba65e556d3a6ffd43c24e1/torchvision/prototype/datasets/utils/_resource.py#L168

[2021-12-17 14:58] abhi-glitchhg commented on #5108
Can I try the Stanford cars dataset?

[2021-12-17 15:05] jdsgomes commented on #5108
I am taking the Food 101 now now.

[2021-12-17 15:05] fibbonnaci commented on #5108
I was planning on taking the Stanford Cars dataset. @abhi-glitchhg if you're taking it, then I'll try the Food101 dataset

[2021-12-17 15:08] fibbonnaci commented on #5108
Dang, I'm a few seconds late. I'll try PCAM then.

[2021-12-17 15:20] zhiqwang commented on #5108
I was planning on taking the Flowers-102.

[2021-12-17 15:35] oke-aditya commented on #5108
I am planning to take SUN dataset.
I'm unsure of my time and bandwidth as I would be working in office from next month.
Any contributor can supersede me :smile:

[2021-12-17 16:08] sirtris commented on #3093
Kind of hard for me to tell I haven't work with this for over a year now.
I would guess that you can replace the `resize()` and `toTensor()` with the `PILToTensor()` class.
[Here](https://github.com/pytorch/vision/blob/main/references/segmentation/presets.py) is an example of how it can be done.
Just make sure to import the right classes.

[2021-12-17 17:33] sumukhaithal6 commented on #5108
I am planning to work on the GSTRB dataset.

[2021-12-17 18:32] frgfm commented on #5108
Coming late to the party, but I'd be keen to take care of EuroSAT :+1:
Glad to hear the dataset zoo is extending :smile:

[2021-12-17 18:39] pmeier commented on #5108
@ everyone who volunteered to take a dataset: thanks a lot! @NicolasHug will be out until next year, so feel free to ping me on PRs.

[2021-12-17 20:17] Shanks0465 commented on #2235
Try normalizing the image pixels.

# open the input image

img = Image.open(os.path.join(self.root, path)).convert("RGB")
img = np.asarray(img).astype(np.float32)
img /= 255.0

This did the trick for me, Probably the model is unable to compute high numerical values

[2021-12-18 02:51] mega-optimus commented on #4894
Hi, which directory do I place this dll? As I previously have cuda-10.2 installed and its directory does already contain this dll.  Thank you!

[2021-12-18 13:04] puyebu commented on #4894
I had the same problem and this is the only page I found,

Python/Pytorch does not search the path ``Program Files\NVIDIA GPU Computing Toolkit\CUDA\v10.2\bin`` for some reason, despite the path being specified in the environment, therefore causing dll error.
I couldn't find a proper solution and instead made hardlinks to the missing dlls in the ``Python\Lib\site-packages\torch\lib`` folder using

[2021-12-20 10:16] bfialkoff commented on #1574
I think Union types are now supported see [here](https://github.com/pytorch/pytorch/pull/64234)].

Also wouldn't it be simpler to just adjust the relevant `forward` methods to return losses if `targets` is provided. Then we could avoid discussions of `inference_mode` and just compute the losses if the targets are provided and return the detections always.

[2021-12-20 12:24] prabhat00155 commented on #5104
I don't see `layer1` in `regnetx_004` model. You can try printing the model after you create it to see the different layers and their names.

[2021-12-20 12:42] oliver-batchelor commented on #5104
Yes you are right - I edited the report, initially I had resnet18 (which has layer1) and then realized resnet18 didn't trigger the problem, but forgot to update the layer name. Sorry!  It should be "s1" for the regnetx model.

[2021-12-20 13:46] prabhat00155 commented on #5104
Is this specific to timm models? I see the same error as above when trying to list the node names.
[code]

I am able to use regnet models from torchvision though:
[code]

[2021-12-20 13:53] oliver-batchelor commented on #5104
Yes you are right, I don't see any problem with the torchvision regnet_x either.

[2021-12-20 15:31] gkowarzyk commented on #4329
Hello @malfet ,
I just checked to see if the tag 0.9.2 has been added to `torchvision`, but it doesn't seem to be added yet (I only see the `0.9.2-rc1` and `0.9.2-rc2` tags). Would it be possible to add them please? Thanks in advance!

[2021-12-20 17:54] sallysyw commented on #5108
I'll take FGVC-Aircraft :)

[2021-12-20 19:51] kazhang commented on #5052
#5007 and #5038 have been updated to reflect the changes in API and policy.
According to the new policy, we're supposed to add logging to quantization models and segmentation models even though they're being tracked via inheritance. Would like to get some help from the community.

[2021-12-21 00:22] datumbox commented on #5052
@kazhang Thanks for the changes. Given that on the #5007 we didn't add calls for transforms such as `RandomSizedCrop` that use inheritance, I would be OK omitting the extra calls on Quantization and Segmentation. Iif we do add them, we need them also on transforms that inherit. No strong opinions, but I'm leaning towards omitting them, thoughts?

[2021-12-21 04:00] puhuk commented on #5108
I'll take Country211 :)

[2021-12-21 05:35] #4955 closed

[2021-12-21 05:35] #5052 closed

[2021-12-21 10:18] LuigiSimeone commented on #4685
I have the same issue with:
python 3.8.10
torch version 1.10.1
torchvision 0.11.2

[2021-12-21 11:23] netw0rkf10w commented on #4238
@datumbox @fmassa @NicolasHug Congratulations and thank you for your awesome work on the [TorchVision with Batteries Included](https://pytorch.org/blog/how-to-train-state-of-the-art-models-using-torchvision-latest-primitives/) project!

Would it be possible for you to share the training logs for the new weights? I would like to reproduce the results using the exact same configurations as yours. Th

[2021-12-21 11:59] datumbox commented on #4238
@netw0rkf10w Glad you find it useful! :)

You are right at the moment we don't provide the logs. For full transparency here are some reasons:
1. We currently don't have a good place to put them.
2. We don't have the logs for very old models (like AlexNet) and some of those that were trained by the community (like Shufflenet v2).
3. The raw logs can be noisy, they might be split in multiple files d

[2021-12-21 12:12] netw0rkf10w commented on #4238
@datumbox Thank you so much for the detailed response and for your transparency! In the [issue](https://github.com/pytorch/vision/issues/3995) that you mentioned, there appear to have enough information to reproduce the results (may except one detail, let me post a question there).

[2021-12-21 12:14] netw0rkf10w commented on #3995
@datumbox For the commands that start with `torchrun --nproc_per_node=8 train.py`, could you tell me how many nodes were used for the trainings? Thanks.

[2021-12-21 15:54] vadimkantorov commented on #4415
`paste_masks_in_images` in detectron2 has slightly different API, e..g supports float `threshold` arg: https://github.com/facebookresearch/detectron2/blob/c85f21fd9e64620a30eff57f4185374a1f9ace7b/detectron2/layers/mask_ops.py#L74

If they are equivalent, it would be best if detectron2 migrated to torchvision version for avoiding confusion between their functionality

[2021-12-21 15:58] vadimkantorov commented on #4415
It's probably also worth to promote it to a higher-level namespace for more visibility and supportability

[2021-12-21 18:49] flyforward2016 commented on #4157
I have the same issue, what is the fix here?

[2021-12-22 13:11] XianyuanLiu commented on #4112
Hi guys, I have the same problem loading ucf101 with `frames_per_clip=16`. May I know if it is resolved now, please?

[2021-12-22 15:34] pmeier commented on #5075
After some more discussion, we realized there is another requirement: even without decoding, the sample dictionary should be serializable. This eliminates the possibility of using custom file wrappers as originally thought up in https://github.com/pytorch/vision/issues/5075#issuecomment-994756308.

Our current idea is to always read each file and store the encoded bytes in an uint8 tensor. This ha

[2021-12-22 18:52] saswatpp commented on #5108
@oke-aditya Mind if I take the SUN dataset task, please ?

[2021-12-23 04:26] oke-aditya commented on #5108
Sure.

[2021-12-23 08:39] XianyuanLiu opened #5123 "Mismatching path in Windows when loading UCF101"
### 🐛 Describe the bug

I tried to load UCF-101 by `torchvision.datasets.UCF101` on my Windows laptop. However, I cannot get correct indices by [`_select_fold`](https://github.com/pytorch/vision/blob/main/torchvision/datasets/ucf101.py#L113). Line 113 may go wrong in Windows.

Variable i is 'path_to_video/ApplyEyeMakeup\\\v_ApplyEyeMakeup_g01_c01.avi', while
selected_files is 'path_to_video/ApplyE

[2021-12-23 09:32] cceyda commented on #5088
I was looking at the example in the article and the one thing that jumped out at me as a potential source of confusion (especially for newcomers) was `weights.transforms()`. Although `weights` is just the variable name here, and I understand the need to associate the specific model('s weights) and its transform.
I think maybe what I don't like is using the word "weights" for the whole "model" abst

[2021-12-23 16:42] datumbox commented on #5088
@cceyda Thanks for taking the time to provide detailed feedback. 😄

Originally we considered going with a proposal similar to what you suggested as it would lead to less verbose names. Unfortunately the name `ResNet50` is too close to the name `ResNet` which is used for the main class of the model. This could confuse users to believe that it's an `nn.Module` model rather than an `Enum`. Other opti

[2021-12-25 12:37] JunzheJosephZhu opened #5126 "Bug in keypoint_rcnn initializer"
### 🐛 Describe the bug

Line 1890 in keypoint_rcnn
"
        if num_classes is not None:
            if keypoint_predictor is not None:
                raise ValueError("num_classes should be None when keypoint_predictor is specified")
"
Shouldn't we change num_classes to num_keypoints in this case?

### Versions

Newest

cc @datumbox

[2021-12-25 13:49] XianyuanLiu commented on #5123
This issue has been discussed in [stackoverflow](https://stackoverflow.com/questions/61522539/i-cant-import-the-ucf-101-dataset-torchvision-list-index-out-of-range-error).

[2021-12-26 13:31] qianyizhang commented on #3816
Hi @fmassa, I am experiencing the same issue with  (torch==1.8.1+cu111) on Ubuntu 16.04 with A100 card
`
import torch
# this is fine
idx = torch.randperm(2**14, device="cuda:0", dtype=torch.long)[:2]
print(idx) # tensor([13049,  6236], device='cuda:0')
# this is buggy
idx = torch.randperm(2**15, device="cuda:0", dtype=torch.long)[:2]
print(idx) # tensor([ 336033229560773140, 4114788168274451291],

[2021-12-26 14:11] qianyizhang commented on #3816
this is fking strange, I can't even faithfully reproduce this error every time..,
however this does crash my training in detectron2 from time to time
as a workaround I replace randperm with randint when N is large

[2021-12-27 07:53] pmeier commented on #5123
Hey @XianyuanLiu, thanks a lot for the report. I send a PR that fixes this, but it will only be included in the next release in ~3 months.

Until then, the [answer on SO](https://stackoverflow.com/a/65479006) is spot on. I suggest you follow the first proposal and modify the files in-place.

[code]

Don't forget to make a backup of them to be able to restore them after the patch is released.

[2021-12-27 09:19] XianyuanLiu commented on #5123
Many thanks! I will close this.

[2021-12-27 09:19] #5123 closed

[2021-12-27 16:26] 1chimaruGin opened #5131 "torchvision.io.read_video error"
### 🐛 Describe the bug

torchvison io can't read video. It work fine for images but when reading video it get killed.

Code
[code]

Error
[code]

### Versions

System and Environment
[code]

[2021-12-27 19:34] aisosalo commented on #2707
Would it be possible to have also grey-scale ImageNet weights for the usual models along the lines described in Xie & Richmond?

[2021-12-28 08:53] pmeier commented on #4992
@oke-aditya I just added #5133 that is the starting point for the prototype datasets documentation.

[2021-12-28 08:55] oke-aditya commented on #4992
Great 😃 will have a read.

[2021-12-28 08:56] pmeier commented on #5108
I would be grateful, ff someone is also up to adding their dataset also for the upcoming new style of the datasets. I've just added #5133 that details how this should be done. So far no one besides the core team has worked on that so we are actively looking for feedback on the contributor experience.

[2021-12-29 16:16] borchero opened #5137 "MacOS 11_0 ARM wheel is missing `image.so`"
### 🐛 Describe the bug

The MacOS 11_0 ARM wheel for release `0.11.2` does not provide the `image.so` shared library (this applies to both Python 3.8 and Python 3.9).

Thus, when importing `torchvision` on an Apple Silicon Mac running macOS Monterey, the following warning is raised:

[code]

### Versions

[code]

[2021-12-30 05:58] harshraj22 commented on #1164
@dipam7 Thank you for the code snippet.
Just curious, is there a way to get both bounding box and the corresponding features ?
Say the model has 4 detections, and I want the 4 tuples (bounding box and corresponding features).

[2021-12-30 09:23] #5097 closed

[2021-12-30 18:43] #2439 closed

[2021-12-30 19:32] prabhat00155 opened #5139 "Add seek functionality to GPU decoder"

[2021-12-30 19:34] prabhat00155 opened #5140 "Return pts per frame after video decoding on GPU"

[2021-12-30 19:36] prabhat00155 opened #5141 "Output decoded frames in RGB format"
Currently, GPU decoder returns frames in NV12 format. We need to support RGB to be consistent with CPU decoder.

[2021-12-30 19:37] prabhat00155 opened #5142 "Support reading video from memory"
Add support for reading video from memory in GPU decoding.

[2021-12-30 19:38] prabhat00155 opened #5143 "Add Windows support"
Support GPU decoding on Windows.

[2021-12-30 19:44] prabhat00155 opened #5144 "guard cuCtxPushCurrent / cuCtxPopCurrent with a RAII-style guard"
https://github.com/pytorch/vision/pull/5019#discussion_r776799312

[2021-12-30 19:46] prabhat00155 opened #5145 "Return frames with appropriate shape"
Currently, GPU video decoder returns 1D frames, this needs to be modified to return 3D frames.

[2021-12-30 19:48] prabhat00155 opened #5146 "Explore the possibility of using cuda device instead of device index"
https://github.com/pytorch/vision/pull/5019#discussion_r776813367

[2021-12-30 19:50] prabhat00155 opened #5147 "Run GPU decoding tests in CI"
https://github.com/pytorch/vision/pull/5019#issuecomment-1003133991

[2021-12-30 19:53] prabhat00155 opened #5148 "GPU decoder refactoring"
https://github.com/pytorch/vision/pull/5019#discussion_r776814346
https://github.com/pytorch/vision/pull/5019#discussion_r776807823
https://github.com/pytorch/vision/pull/5019#discussion_r776807411
https://github.com/pytorch/vision/pull/5019#discussion_r776804991
https://github.com/pytorch/vision/pull/5019#discussion_r776802688
https://github.com/pytorch/vision/pull/5019#discussion_r776800733
http

[2021-12-31 09:06] Ezra-Yu opened #5150 "The train config of the models in torchvision"
### 📚 The doc issue

Can you provide the configs of the provided  weights like https://pytorch.org/blog/how-to-train-state-of-the-art-models-using-torchvision-latest-primitives/

for example, how do you train the regnet or shufflenet.

### Suggest a potential alternative/fix

_No response_

[2021-12-31 11:14] NicolasHug commented on #4685
I assume this comes from https://github.com/pytorch/vision/pull/3420. IIUC we now create the "processed" files on the fly.

@le1nux  @LuigiSimeone  could you please detail why you need the `processed` subfolder?

CC @pmeier

[2021-12-31 11:32] NicolasHug commented on #5150
Hi @Ezra-Yu . We're working on providing a more detailed documentation section about our models, and in particular we will try to include details on how each weights were trained. This will hopefully be available in the next release around Feb/March.

Meanwhile our training references are at https://github.com/pytorch/vision/tree/main/references/classification, although I'm personally not too fami

[2021-12-31 11:37] NicolasHug commented on #5137
Thanks for the report @borchero . Our of curiosity do you know if 0.11.1 was working properly on M1?

Perhaps this is something that @malfet can help with?

[2021-12-31 11:54] zhiqwang commented on #5137
Seems that there is no torchvision 0.11.1 wheel released on macOS M1.

[2021-12-31 14:32] NathaneBerrebi commented on #993
Hello everyone, is there a new way to train a pretrained faster RCNN with resnet101 FPN as backbone ?

[2021-12-31 15:00] prabhat00155 commented on #5131
Do you mean your jupyter notebook is killed when you run this? Can you try this in the python terminal and paste the entire error message here?
I see you don't have `pyav` installed which is the default backend. In any case, the code you have above should not crash.

[2022-01-01 10:23] 1chimaruGin commented on #5131
I have installed pyav too.
Full error message is killed.
I ran the snippet in python script too.
Got the same error.

[2022-01-02 10:26] datumbox commented on #5150
@Ezra-Yu As Nicolas said, we are working to improve our documentation prior to the next release.

For now the best way to find out how a specific model has been trained is by looking at the new model prototype API. Each model weight has a `recipe` URL field with a reference on how the weights were produced.

For example here is the V1 of the weights of RegNet_Y_800MF:
https://github.com/pytorch/vi

[2022-01-02 10:26] #5150 closed

[2022-01-02 14:28] divideconcept commented on #5088
If multiple weights are available per model, it'd be nice if we could programmatically scan through all available weights and automatically associate them with their corresponding model function (ie: lowercase "resnet50").
It could be through a weights dictionary similar to the model_urls dictionary for instance, whose keys are exactly the name of the corresponding model's function.

On top of tha

[2022-01-02 14:50] datumbox commented on #5088
@divideconcept Thanks a lot for your feedback.

Your recommendations are indeed spot on. It's very reassuring for us that you identify the same limitations as this is something we want to tackle in our 2022Q1 roadmap. More specifically:
1. Introduce a model registration mechanism similar to the one used in the [prototype dataset](https://github.com/pytorch/vision/blob/main/torchvision/prototype/da

[2022-01-04 06:16] Ezra-Yu commented on #5150
@datumbox, @NicolasHug
Thank you very much for your detailed reply. Look forward to your next version!

[2022-01-04 10:47] vfdev-5 opened #5157 "[RFC] Make `transforms.functional` methods differential w.r.t. their parameters"
This is an RFC that continues the discussion #5000 by @ain-soph and PRs: #4995 and #5110 on updating functional tensor methods from `F.*` to accept learnable parameters (tensors with `requires_grad=True`) and propagating the gradient.

For the motivation and the context, please see https://github.com/pytorch/vision/issues/5000

### Proposal

Torchvision transformations can work on PIL images and t

[2022-01-04 11:38] xiaohu2015 commented on #5088
I think prototype API is wonderful design. Now that you add the data transform of `eval mode` in the weights, is it possble to include the data transform of `train mode`. The data transform of `train mode` is more complicated (eg. mixup, sampler, smmoth label), maybe it is troublesome.

[2022-01-04 11:59] datumbox commented on #5088
@xiaohu2015 Thanks for the feedback!

You are right, currently we don't include the training transforms but instead provide a link to the training recipe. There was originally a lot of debate on whether we should include them and this is still an open question. For full transparency, I will list here the reasons why currently they are not included, so that the community is aware and can provide fe

[2022-01-04 12:20] datumbox commented on #5080
@xiaohu2015 Sorry for the delayed response. I just got back from PTO and trying to get up-to-speed. I don't remember all the details now as it's been over a year since I wrote this but I can have a look on my past notes and come back to you. :)

[2022-01-04 12:26] datumbox commented on #5126
@JunzheJosephZhu You are right, this is a bug. Instead of `num_classes` we should be checking the `num_keypoints`.

The problem now is that the default value of `num_keypoints=17`, so checking for `None` makes no sense. One way to address this is to change the default value to `None` and for BC overwrite the value to 17 after the highlighted-if. Let me know if you would like to send a PR to fix th

[2022-01-04 15:38] pmeier opened #5162 "fix JPEG reference tests"
We are currently skipping JPEG reference tests on Windows, since the Windows wheels of `Pillow` are built against `libjpeg-turbo` while we build `torchvision` against `libjpeg`

https://github.com/pytorch/vision/blob/bbeb32035c0df752a0fe0cd5921de537e7f68d72/test/test_image.py#L481

As of [`Pillow==9.0.0`](https://pillow.readthedocs.io/en/stable/releasenotes/9.0.0.html#switched-to-libjpeg-turbo-in-

[2022-01-04 20:34] ain-soph commented on #5157
I think gaussian_blur, posterize and solarize and not differentiable in mathematics. Maybe we can just ignore them?

[2022-01-05 08:05] mrinath123 commented on #2740
@OrielBanne Yes I found the same error while using this, maybe producing random bboxes( torch.rand(4, 11, 4)) is creating the problem

[2022-01-05 08:09] mrinath123 opened #5163 "Example doesnt work"
### 📚 The doc issue

In this example for fasterrcnn https://github.com/pytorch/vision/blob/e65a857b5487a8493bc8a80a95d64d9f049de347/torchvision/models/detection/faster_rcnn.py#L354
in the # For training part
the output is giving an error
"ValueError: All bounding boxes should have positive height and width. Found invalid box [0.45278316736221313, 0.678650438785553, 1.0717594623565674, 0.4161004126

[2022-01-05 08:59] #4593 closed

[2022-01-05 09:25] datumbox commented on #5163
@mrinath123 Thanks, you are right. Executing the following:

[code]

Leads to the above exception because some of the bottom right coordinates of the boxes have larger values than the ones of top left. As you correctly pointed out, to fix this we need to ensure that `boxes[:, :, 2:4] > boxes[:, :, 0:2]`.

We could add something like the following right after the initialization of `boxes` to fix it

[2022-01-05 09:48] mrinath123 commented on #5163
I will love to send you a PR, would be my 1st contribution to this awesome framework!

[2022-01-05 10:26] datumbox commented on #5163
Sounds great! Feel free to add me as a reviewer once you send the PR. Looking forward to your contribution. :)

[2022-01-05 16:01] mrinath123 commented on #5163
Hi! I tried to make a PR https://github.com/pytorch/vision/pull/5165 it's my first time contributing, if I make some mistake do tell me.
Thanks

[2022-01-05 17:50] #5163 closed

[2022-01-05 20:01] brifordwylie commented on #5137
Anyone know a workaround for this? I tried downgrading versions and didn't have any luck

[2022-01-06 00:36] frgfm commented on #5108
Oh nice, I read about those prototypes and was curious to play around with it :grin:
Just to make sure I understand this: do you mean adding a second implementation of one of those datasets using the prototypes? or do you mean changing already implemented ones to use the prototypes?

[2022-01-06 00:39] frgfm commented on #993
@NathaneBerrebi not exactly sure what you mean by "new way":
- the team is gradually adding new pretrained weights for classification architectures. So you can use those are pretrained backbone to build your faster rcnn architecture.
- however, there is no plan yet to provide a faster rcnn with resnet101 as backbone, pretrained on COCO to the best of my knowledge

Also, you might be glad to know t

[2022-01-06 07:09] pmeier commented on #5108
Exactly. Let me know if you hit any roadblocks as I'm eager to get feedback.

[2022-01-06 09:22] pmeier opened #5167 "Split autoformatters and linters into different workflows and CI jobs"
## Status quo

Currently we mix formatters and linters with `pre-commit`:

### formatters

https://github.com/pytorch/vision/blob/578c1546c328c68e601bfd2e2309ed175ee343d9/.pre-commit-config.yaml#L9-L11

https://github.com/pytorch/vision/blob/578c1546c328c68e601bfd2e2309ed175ee343d9/.pre-commit-config.yaml#L23-L26

### linters

https://github.com/pytorch/vision/blob/578c1546c328c68e601bfd2e2309ed17

[2022-01-06 09:36] pmeier opened #5168 "Streamline contributing experience"
Related to #5167.

---

The largest part of our [contribution guidelines](https://github.com/pytorch/vision/blob/main/CONTRIBUTING.md) explain contributors how to work on `torchvision`. Due to sheer amount of techniques and tools that can be quite overwhelming for a new contributor.

I'm going to use `$TOOL` as a placeholder for what I imagine:

- `$TOOL install`: Installs `torch` from nightlies a

[2022-01-06 11:11] jdsgomes commented on #5108
Hello @zhiqwang 👋
Are you still planning to work on the  Flowers-102?
If you are no longer interested or don't have time thats obviously ok, but we can put it up for grabs since we are aiming to finish this month.

[2022-01-06 11:13] pmeier commented on #5108
Same for @fibbonnaci and the PCAM dataset.

[2022-01-06 11:22] zhiqwang commented on #5108
Hi @jdsgomes , I'm working on this now, and hope to submit the PR today.

[2022-01-06 17:44] malfet opened #5171 "Cross compile TorchVision for Apple M1"
### 🚀 The feature

PyTorch cross-compiles nightly binaries for M1 for a while now, it's a pity that torchvision for M1 is not available in nightlies yet

### Motivation, pitch

It should be pretty simple - just add a CI workflow that downloads M1 package (actually even x86_64 one will do, as symbols should be identical) and compiles it by passing "-arch arm64" option, i.e. something along those li

[2022-01-07 09:09] datumbox commented on #5167
Does it mean that the linters will run only via pre-commit instead of manually?

What I liked in the original proposal when you introduced formatting was the fact that you didn't force upon users a specific workflow aka using pre-commit. I personally prefer submitting these commands manually, after I'm done and committed my code changes and then review independently any automatic changes done by f

[2022-01-07 09:13] datumbox commented on #5168
Abstracting these details away from contributors might lead to less understanding of how pieces fit together. Perhaps improving our contribution guidelines documentation can make things clearer while not requiring users to use a specific tool that hides the details away. Thoughts?

[2022-01-07 09:22] pmeier commented on #5167
Partially yes, but this is already true today. The following hooks cannot be run without `pre-commit`:

https://github.com/pytorch/vision/blob/8c546f60612b7e25dc62e0cc658036ae4774e2bc/.pre-commit-config.yaml#L2-L11

For everything else, you can of course also run manually. It gets a little trickier if you have formatters that cannot be installed by `pip`. For example `prettier` in #5158 needs a JS

[2022-01-07 09:27] datumbox commented on #5167
`flake8` often picks up import problems that `black` doesnt. I'm pretty use there are other things that are not covered by black, but don't remember specifics.

I'm skeptical about forcing upon developers `pre-commit`. I personally don't use it and I don't like the idea of having changes automatically done on my code silently without the ability to review them. We had issues in the past with tools

[2022-01-07 09:33] pmeier commented on #5168
Let me reverse the question and ask "Does a contributor need to know for example how to run all linters manually?".

Let's split the "contributor" role into inexperienced and experienced contributor with respect to `torchvision`.

- inexperienced contributors: I don't feel like someone who wants to submit a small patch needs know what exactly happens under the hood.
- experienced contributors: Dep

[2022-01-07 09:42] pmeier commented on #5167
That is not true. Especially in combination with `usort`, there are very few things that are left for it to pick up. Quoting from our [contribution guidelines](https://github.com/pytorch/vision/blob/main/CONTRIBUTING.md#formatting):

It basically comes down to stuff that cannot be fixed automatically, e.g. `from foo import *`.

That can't happen. If you have the hooks installed, `git commit` somet

[2022-01-07 09:44] datumbox commented on #5168
Do you plan to add this tool on this repo? Will this mean we will need to maintain additional code/configs? If the answer is yes then I would like to avoid it. Our CI scripts/config are already complicated enough and hard to maintain.

Having said that, you still have the option to creating a separate repo with the tool and adding a reference to it from TorchVision as a completely optional alterna

[2022-01-07 10:18] pmeier commented on #5168
Yes, I would need to the configuration of the selected tool the repo. That being said, it wouldn't be much configuration apart from mapping the tool command the actual commands, e.g. mapping `$TOOL lint` to `flake8 && mypy`. The actual commands and how they are invoked are already present (or at least should be) in our contribution guide.

In addition, tools like the ones mentioned above can simpl

[2022-01-07 10:21] NicolasHug commented on #5167
From personal experience the one thing that black doesn't pick up is `xyz imported but not used`. This happens often  when refactoring (or just writing) code.

I see value in allowing pre-commits, but I wouldn't make this mandatory either. It's just sugar on top of the more low-level tools, and I think it's important to keep them. To answer a question from @pmeier from another thread  https://gith

[2022-01-07 11:11] vfdev-5 commented on #5168
Maybe, a bash/bat scripts could be sufficient instead of writing machinery with pydoit or others similar.

[2022-01-07 11:48] NicolasHug commented on #5162
Thanks a lot for the summary and for opening this issue @pmeier

In #5169 I temporarily skipped the offending tests unconditionally, for the CI to go back to green.

Paraphrasing what you mentioned about option 1: there's the risk that PIL releases a new version, and that we also release torchvision shortly after, *before* the conda-forge PIL channel gets updated with PIL's latest. In this case, w

[2022-01-07 13:04] NicolasHug commented on #5108
Thanks a lot of offering to help with the prototypes @frgfm . Let me know which one(s) you're trying to implement so we don't overlap :) . On my side I'll give try to GTSRB.

[2022-01-07 13:22] #4392 closed

[2022-01-07 14:16] pmeier commented on #5168
We would only have to parametrize the tools whereas we would need to implement the scripts ourselves. Plus, I see two more downsides:
1. Instead of having one config, we would effectively need to maintain 2 scripts
2. My bash and bat scripting experience is minimal and practically non-existent, respectively. The tools that I mentioned are declaritive, so they should be a lot easier to pick up.

[2022-01-07 14:57] pmeier commented on #5162
Unfortunately, yes. All CI jobs use `.circleci/unittest/{linux, windows}/environment.yml` as base. It would be a lot easier to add a one-off job as explained in my top comment:

[2022-01-07 15:01] NicolasHug commented on #5162
Thanks for the feedback, ok then, I'm happy to try and see what a dedicated job would look like. Would you be interested in submitting a PR?

[2022-01-07 15:45] prabhat00155 commented on #5131
Do you get this on any video or one particular video? Also, I see that you are on older version of pytorch and torchvision. Could you try with the latest and see if you still get the crash.

[2022-01-07 16:59] 1chimaruGin commented on #5131
@prabhat00155 With latest version, the problem is fixed.

[2022-01-07 16:59] #5131 closed

[2022-01-07 18:45] netw0rkf10w commented on #3995
Hi @datumbox. I have tried your **New Recipe (without FixRes mitigations)** on ResNet101 and obtained only a peak top-1 accuracy of 81.328 (at epoch 418), which is 0.558 behind your result (81.886).

I launched the following command on 64 GPUs:

[code]

I only used a batch size of 64 because 128 led to out of memory (on 16GB GPUs). Thus the effective batch size in my training is 64*64 = 4096. Coul

[2022-01-09 12:52] pmeier commented on #5108
Hey @fibbonnaci, PCAM is the last dataset that does not have a PR up yet. Are you working on that? If yes please push a PR even if you are not done, so we can help out and accelerate this. Otherwise, I'll send one myself.

[2022-01-10 07:39] themendu commented on #5126
Hi @datumbox, I have created a [pull request](https://github.com/pytorch/vision/pull/5180) solving the above issue. Please review and comment on it.

[2022-01-10 11:38] #5126 closed

[2022-01-10 16:29] pmeier opened #5185 "Relax `split="train"` requirement for prototype datasets"
Given that `split` is by far the most common option on the datasets, we opted to enforce it for every prototype dataset:

https://github.com/pytorch/vision/blob/ffd0d2375d02cb55e746414aa8db2b4252cd6c42/torchvision/prototype/datasets/utils/_dataset.py#L63-L72

This lead to the separation of `split` and `**options`

https://github.com/pytorch/vision/blob/ffd0d2375d02cb55e746414aa8db2b4252cd6c42/torc

[2022-01-11 01:29] dfalbel commented on #2692
Hi!

Thanks very much for this project! We built a port of torchvision for the R language: https://github.com/mlverse/torchvision and now we want to work on supporting the C++ operations. For that, it would be great if we didn't require users to install Python in order to use our package.

Would you consider a PR avoiding the Python requirement in the builds?

I can successfully build without Pyth

[2022-01-11 08:03] adam-kral commented on #3110
I just got this bug (and had to tediously trace it to _rgb2hsv or _hsv2rgb) when using ColorJitter.

I also had to inspect, why my image contained negative values. I did normalization after ColorJitter, so that was not that. However, I used bicubic interpolation, which can produce negative values (values outside its input range).

[2022-01-11 09:46] prabhat00155 commented on #4947
@bjuncek Do you have time to take a look at this?

[2022-01-11 10:02] fmassa commented on #2692
Hi @dfalbel ,

Thanks for the proposal!

We can accept such a proposal in the CMakeLists (we can actually by default set `USE_PYTHON` to be false in CMakeLists). But note that ideally we wouldn't change the `MOBILE` macro name (otherwise we would need to change a few things elsewhere as well, including our internal mobile builds)

This is something that we would like to get fixed for a while now,

[2022-01-11 11:22] netw0rkf10w commented on #3995
@datumbox Great, thanks a lot for your reply! I'll try again and keep you informed about the results.

[2022-01-11 13:56] dfalbel commented on #2692
Obrigado @fmassa ! Just created a PR in #5190 .

[2022-01-12 11:31] Aquapisces commented on #3349
Maybe I accidently find out a solution. I came across a similar problem like yours.
orginal code:
`    auto InputTensor = torch::from_blob(mGlobalCam_P.data, {1, mGlobalCam_P.rows, mGlobalCam_P.cols, 3 }, torch::kFloat);
    InputTensor = InputTensor.permute({ 0,3,1,2 });`

the fine code:
`    auto InputTensor = torch::from_blob(mGlobalCam_P.data, {1, mGlobalCam_P.rows, mGlobalCam_P.cols, 3 }, tor

[2022-01-12 22:18] yoshitomo-matsubara opened #5193 "Forward hook is not called when using FX-based feature extractor"
### 🐛 Describe the bug

This is an issue I talked to @datumbox

According to #4540, it looks like IntermediateLayerGetter will be replaced with FX-based feature extractor.
My ML OSS, [torchdistill](https://github.com/yoshitomo-matsubara/torchdistill), is built on PyTorch / torchvision and heavily dependent on forward hook in PyTorch for knowledge distillation without modifying a model implementati

[2022-01-13 14:54] vadimkantorov opened #5194 "F.gaussian_blur should specify relation of kernel_size / sigma to PIL's sigma"
### 📚 The doc issue

A lot of legacy GaussianBlur augmentations like in https://github.com/facebookresearch/dino/blob/d2f3156/utils.py#L36 and in https://github.com/facebookresearch/unbiased-teacher/blob/main/ubteacher/data/transforms/augmentation_impl.py#L20 have used PIL's GaussianBlur which has only a single `radius` parameter. New torchvision's `GaussianBlur` has two parameters: hard `kernel_s

[2022-01-14 18:45] kumar-akshay324 commented on #2912
If the torchvision version has been updated, can the website be updated to reflect these changes please - https://pytorch.org/get-started/previous-versions/#linux-and-windows-9

[2022-01-14 21:37] datumbox opened #5198 "Quantized MobileNetV3 potentially broken on latest PyTorch nightly"
### 🐛 Describe the bug

The following test [fails](https://app.circleci.com/pipelines/github/pytorch/vision/13965/workflows/03d622b3-fa8a-4672-b49d-a67ac29ce4b5/jobs/1124089):
[code]

This is similar to the issue of https://github.com/pytorch/vision/pull/4997/files#r757434190 where new fields were introduced  and broke old pretrained models. I believe the issue is now linked to stuff added in `Dro

[2022-01-14 22:00] yoshitomo-matsubara commented on #5193
Thank you @datumbox for the response.

- Probably the biggest problem is that the use of FX changes the model interface (input-output) while we can use forward hook without any change in the interface For instance, when you train FX-wrapped models in end-to-end manner, you need to register the final layer as a key and extract the output from dict `y_hat = model(x)['fc'] # if resnet` whereas the cl

[2022-01-16 11:10] datumbox opened #5199 "Add minimum input image size to the model meta-data"
### 🚀 The feature

Related to issues #4462 and #3921. It would be great to add the minimum supported input size in the model's meta-data, so that it's programmatically accessible.

Here is what needs to be done:
1. Add a `min_size` attribute to the Image Classification (quanitzed and non-quantized) and Video Classification [model meta-data](https://github.com/pytorch/vision/blob/b5aa0915fe16e82ee4

[2022-01-16 12:17] datumbox opened #5200 "Add the ADE20K dataset in TorchVision"
### 🚀 The feature

[ADE20K](https://groups.csail.mit.edu/vision/datasets/ADE20K/) is a dataset introduced in 2017 for Object Detection and Segmentation (code [here](https://github.com/CSAILVision/ADE20K)). It has [371 citations](https://paperswithcode.com/dataset/ade20k) and it's become more and more popular as a benchmark.

We should consider adding it to TorchVision using the new Dataset API.

#

[2022-01-16 14:05] f-parfenov commented on #5199
Hello,
Week 2 Meta Camper here. I wondered whether I could do this task as a level 3 task as I would like to discover more about this project?

[2022-01-16 14:22] datumbox commented on #5199
@f-parfenov Welcome! You got it! Let's catch up on the details. There are a few thing you need to setup on your environment before tackling it but it's doable.

[2022-01-16 16:26] tbennun commented on #3995
@datumbox As per the discussion in #5084, below is a recipe that achieved the following result on ResNet-50 and ImageNet:
`Acc@1 80.858 Acc@5 95.434`

[code]

Overview of changes to the current recipe (New Recipe + FixRes mitigations):
* Repeated Augmentation (`--ra-sampler --ra-reps=4`): In each batch, we sample 1/4 of the original batch size and reuse each sample 4 times with different data augm

[2022-01-16 21:36] netw0rkf10w commented on #3995
@tbennun Great contributions. I guess increasing the number of repetitions also leads to slower training. Could you tell me how much slower it was for your training?

I am about to launch a few trainings and if `--ra-reps=4` would not make them much slower I would go for it and skip the default option.

Thanks in advance for your reply.

[2022-01-16 21:42] tbennun commented on #3995
@netw0rkf10w Actually, this didn't slow down training at all. The current version of RA in the classifier example uses the DeiT scheme, in which the epoch length is also `1/reps` long. I'm assuming this will have diminishing returns, though, but would be really cool to know!

[2022-01-16 21:56] netw0rkf10w commented on #3995
@tbennun I see, thanks. Let me try `--ra-reps=4` and see what will happen.

[2022-01-17 07:15] pmeier commented on #5200
This might be a good onboarding task for the new datasets.

[2022-01-17 08:02] #1654 closed

[2022-01-17 08:03] pmeier opened #5202 "Add tests for prototype utilities"
Perhaps we should add tests for `sequence_to_str`, so as to ensure that our error message are properly formatted ?

Also nit but if we're going to have such a helper, we could handle the case `a, and b` -> `a and b` (i.e. remove the comma if len == 2

_Originally posted by @NicolasHug in https://github.com/pytorch/vision/pull/5187#discussion_r784852697_

cc @bjuncek

[2022-01-17 08:08] #5185 closed

[2022-01-17 09:29] NicolasHug commented on #5200
I'll do it

[2022-01-17 11:12] NicolasHug commented on #5108
As discussed with @fibbonnaci offline, I'll take over the PCAM dataset.

[2022-01-17 12:13] #2692 closed

[2022-01-17 13:58] vadimkantorov commented on #4029
rgb2hsv / hsv2rgb is also useful for interpolating between two colors: https://stackoverflow.com/questions/13488957/interpolate-from-one-color-to-another, this is useful for visualizations

[2022-01-17 14:47] datumbox commented on #5198
This is probably caused by https://github.com/pytorch/pytorch/pull/71043

[2022-01-17 17:21] SamuelGabriel opened #5204 "There is a Difference between Torchvsion Shear and PIL Shear"
### 🐛 Describe the bug

As @agaldran pointed out in the TrivialAugment repo (https://github.com/automl/trivialaugment/issues/6), there seems to be difference between the behavior of a shear implemented with the PIL and the TorchVision affine transform.

This is an issue for the autoaugment algorithms, as this might yield to different results compared to other implementations of these algorithms. I

[2022-01-17 17:58] datumbox commented on #5204
@SamuelGabriel Thanks for reporting. I agree that's important to investigate.

@vfdev-5 I think you might be the original author of affine (#2444). Do you have the bandwidth to have a look?

[2022-01-17 18:28] vfdev-5 commented on #5204
@SamuelGabriel thanks for asking that. I'd say the answer would be more like a convention made. IMO, rotational part inside affine makes sense if the pivot point is in center. So, thus everything follows the same convention.
Maybe, we can consider this issue as a feature request to introduce `center` arg, as it is done for `F.rotate`.

Here is how affine matrix is defined: https://github.com/pytor

[2022-01-17 20:53] senarvi commented on #3026
I support the idea of adding CIoU and DIoU. I agree with @HamsterHuey that a simpler API is better than every function doing also format conversion.

There's also one thing that I don't like with the current box_iou / generalized_box_iou interface: They take two input arguments, `boxes1` and `boxes2` and return a matrix of output values for every possible pair (box1, box2), where box1 is from the

[2022-01-18 01:55] xiaohu2015 commented on #2707
Another CNN: https://github.com/facebookresearch/deit/blob/main/patchconvnet_models.py

[2022-01-18 04:26] yoshitomo-matsubara commented on #5088
@datumbox
For naming conventions, it would be better to stick to Python naming convention specifically for class name, which should be [CapWords](https://www.python.org/dev/peps/pep-0008/#descriptive-naming-styles) per [PEP 8](https://www.python.org/dev/peps/pep-0008/#class-names).

I found some new class names in new API contain `_` such as model weight config classes e.g., [Wide_ResNet50_2_Weigh

[2022-01-18 10:01] datumbox commented on #5088
@yoshitomo-matsubara Thanks for the feedback.

You are right. We are not happy with the current naming situation. This is why I was eager to discuss this here on Github, summarize the challenges and reasons we adopted the specific naming convention and, if possible, find alternatives.

The issue is that TorchVision has already extremely long model builder names that contain `_`. Here are a few pro

[2022-01-18 11:13] vadimkantorov commented on #5194
Similar explicit comments would be very useful for migration away from PIL's usages of ImageOps / ImageEnhance found in many codebases (e.g. recent https://github.com/microsoft/SoftTeacher/blob/main/ssod/datasets/pipelines/rand_aug.py)

[2022-01-18 11:20] vadimkantorov commented on #5204
Related: https://github.com/pytorch/vision/issues/5194

[2022-01-18 11:21] vadimkantorov commented on #5194
Recent example of related PIL <> torchvision transforms confusion: https://github.com/pytorch/vision/issues/5204

[2022-01-18 11:23] vadimkantorov commented on #5194
Ideally, there should be tests and image examples of PIL vs torchvision calls of same transforms

[2022-01-18 11:32] vfdev-5 commented on #5194
@vadimkantorov researchers have a freedom to use any kind of implementation an coin a name to it. When GaussianBlur was introduced to torchvision (https://github.com/pytorch/vision/issues/2635), the reference was swav project and https://github.com/facebookresearch/swav/blob/d4970c83791c8bd9928ec4efcc25d4fd788c405f/src/multicropdataset.py#L65 where they use opencv, fixed kernel size and sigma. swa

[2022-01-18 11:39] vadimkantorov commented on #5194
My point is that there are plenty of code using legacy non-tensor ops implemented in PIL and OpenCV. For building upon this code, modernization of using more modern torchvision impls is considered. It would be nice to document differences of torchvision versions from other existing versions in PIL / OpenCV.

I think this should not be a reason for inviting everyone to re-duplicate effort of testin

[2022-01-18 11:46] vfdev-5 commented on #5194
This is very large question :)
For instance, resize op with all its options is not implemented identically in PyTorch, TF, Opencv, PIL, Scikit-Image. OpenCV was a reference for PyTorch implementations but OpenCV nearest resize has a bug which is "fixed" with another option (to keep BC). For example, https://gist.github.com/vfdev-5/a5bd5b1477b1c82a87a0f9e25c727664
And imagine doing that for all oth

[2022-01-18 11:53] vadimkantorov commented on #5194
Well, that's the problem :) It would be nice to start collecting a battery of test examples and small code snippets evaluating these functions with different options (or at least default options?) with different libraries. Otherwise, users do this duplicate effort or just abandon it and have some hard-to-detect bugs in all these teacher-student self-supervised models that are relying on very parti

[2022-01-18 12:04] vfdev-5 commented on #5194
Yeah, implementation details (and bugs) could be as you say the dark knowledge to pass. Like why deeplab models have input of size 513 pixels, https://ppwwyyxx.com/blog/2021/Where-are-Pixels/#Libraries

[2022-01-18 12:08] vadimkantorov commented on #5194
Yeah, I'm a big fan of specifying in the docs (also of box_ops) of exactly what the impl is doing and exactly what format of coordinates is expected under big influence of this blog post :)

[2022-01-18 12:35] prabhat00155 opened #5205 "GPU decoder code cleanup"
https://github.com/pytorch/vision/pull/5191#issuecomment-1015359878

[2022-01-18 14:42] prabhat00155 opened #5206 "Failing unittest: test_prototype_models"
test_prototype_models seems to be consistently failing in CI.

https://app.circleci.com/pipelines/github/pytorch/vision/14040/workflows/b052ae83-1f09-4189-a097-bda313c9dff1/jobs/1130213
https://app.circleci.com/pipelines/github/pytorch/vision/14006/workflows/cafe1607-1db0-48c0-a142-37de687ee0ea/jobs/1127544
https://app.circleci.com/pipelines/github/pytorch/vision/13999/workflows/92f5cb2e-818d-4046

[2022-01-18 14:44] NicolasHug commented on #5206
I think this might be a duplicate of https://github.com/pytorch/vision/issues/5198 ?

[2022-01-18 15:25] vfdev-5 commented on #1185
A bit more info on shear:
- "Shearing a plane figure does not change its area", https://mathworld.wolfram.com/Shear.html  <==> det(ShearMatrix) = 1
- Matplotlib implements shear in a similar way: https://github.com/matplotlib/matplotlib/blob/710fce3df95e22701bd68bf6af2c8adbc9d67a79/lib/matplotlib/transforms.py#L2080-L2097
- Scikit-Image does it differently: https://thomasaarholt.github.io/affine_t

[2022-01-18 19:17] yoshitomo-matsubara commented on #5088
Thank you @datumbox for the clarification.
Now the adoption of enum sounds more convincing to me.

In terms of grouping information by enums,

1. I feel many of the long name issues are from modules using classifiers as backbones like detection and segmentation. What about using a hierarchical structure so that we could avoid redundancy and use of `_` ?
2. it seems that the attribute names don't h

[2022-01-18 19:55] mohrez86 opened #5209 "Bug in package models: `TypeError: __init__() got an unexpected keyword argument 'pretrained'`"
### 🐛 Describe the bug

# Bug
I was going through the vision source code and I found a bug in function [resnet_fpn_backbone](https://github.com/pytorch/vision/blob/v0.11.2/torchvision/models/detection/backbone_utils.py#L49) in the module `torchvision/models/detection/backbone_utils.py`.

According to the [docstring](https://github.com/pytorch/vision/blob/v0.11.2/torchvision/models/detection/backbo

[2022-01-19 06:05] oke-aditya commented on #5209
I believe you are passing a wrong param to `backbone_name`. See https://github.com/pytorch/vision/blob/v0.11.2/torchvision/models/detection/backbone_utils.py#L77

[code]

I think it should be good to throw a `ValueError` if a wrong string is passed, which would lead to a better error message.

[2022-01-19 07:41] w4nderlust opened #5211 "save_image does not specify the format of the images to be saved"
### 📚 The doc issue

By looking at the code, it seems like the `save_image` function expects floats tensors with values between 0 and 1, but in the docs that is nowhere to be found. A very reasonable alternative for the user (which is actually what I was initially providing, and what is expected by `sklearn.io.imsave` for instance) is a tensor of uint8 with values between 0 and 255 (which is actua

[2022-01-19 08:49] datumbox commented on #5198
Fix issues locally at D33640816

[2022-01-19 09:21] datumbox commented on #5088
@yoshitomo-matsubara Thanks for the proposal and for including an example to clarify what you mean.

Yes that is correct, it comes from this existing convention of TorchVision. Using Hierarchical structures is a viable solution with the benefit that it groups together weights that are on the same family. I'm not sure it addresses the length aspect as `FasterRCNNWeights.mobilenet_v3_large_fpn_backb

[2022-01-19 09:41] NicolasHug commented on #5211
Thanks for the report @w4nderlust , you're right, `save_image` could benefit from more detailed docs.

It's also probably not what most users are looking for, considering that it internally relies on `make_grid()` which will add padding pixels by default (and it has a fairly unconventional API: its `nrow` parameter specifies... a number of columns).

I think we should deprecate both eventually, bu

[2022-01-19 09:41] pmeier commented on #5088
Given that [PEP8 states](https://www.python.org/dev/peps/pep-0008/#constants):

and enum fields are very much constants, I would prefer to also use this naming scheme for them.

[2022-01-19 10:36] CharlesGaydon commented on #3250
@hgaiser Thanks a lot for this explanation that really clarifies everything.

I think one additional thing to be aware of when sigmoids are used in the loss is that it should be reflected during inference. This would not be necessary if we just predict the class with the max logit. But it would be needed in situations where we want to exploit the value of probabilities e.g. being able to not decid

[2022-01-19 11:19] hgaiser commented on #3250
Hmm I'm not sure I'm following. If you use a sigmoid you can still interpret the classification as a confidence probability (as its values are between 0 and 1), just not w.r.t. the other classes.

[2022-01-19 12:18] prabhat00155 opened #5216 "Find a better way to compare GPU decoder results with pyav results"
https://github.com/pytorch/vision/pull/5191#discussion_r787632380

[2022-01-19 12:21] CharlesGaydon commented on #3250
Oh yes of course. I just meant that whatever is used in the loss calculation must also be used to get the probabilities.

[2022-01-19 12:22] hgaiser commented on #3250
Ah like that. Yeah, then I absolutely agree :).

[2022-01-19 12:28] #5141 closed

[2022-01-19 12:29] #5145 closed

[2022-01-19 12:39] wuhanstudio opened #5217 "Unable to get gradients from pretrained models due to inplace modification"
### 🐛 Describe the bug

Hi,
Recently, I use pretrained models from torchvision for my research, but I'm unable to get gradients from pretrained models due to inplace modification `copy_`

Code to reproduce the error:

[code]

Error traceback in torchvision v0.10.1+cpu:
[code]

Error traceback in torchvision v0.11.2+cpu
[code]

### Versions

PyTorch version: 1.10.1+cpu
Is debug build: False
CUDA us

[2022-01-19 14:12] netw0rkf10w commented on #3995
I was able to reach `Acc@1 81.901 Acc@5 95.772` for ResNet101 with

`--batch-size 64 --lr 2.0 --ra-sampler --ra-reps 4` on 64 GPUs.

The effective batch size is `64*64 = 4096` thus I scaled the learning rate to `2.0`, which seems to work, though I am not sure how much `--ra-sampler --ra-reps 4` contributed.

@datumbox You said in #5084 that you were about to launch a new set of trainings with `--r

[2022-01-19 14:25] rvandeghen opened #5221 "Strange behavior in detection reference code"
### 🐛 Describe the bug

Hi,

I am using your training procedure for object detection `https://github.com/pytorch/vision/blob/main/references/detection/train.py` with a custom dataset. When I evaluate my model, the output seems correct for the very first epoch but for the following epochs, the metrics fall to 0.
However, this is not related to the model performance as I can use a checkpoint and eva

[2022-01-19 17:48] yoshitomo-matsubara commented on #5088
@pmeier

I agree that it the enum fields like `Coco_V1` are constants and should be all capital letters with underscores like `COCO_V1`

@datumbox

I think the main problem in the current naming is `_` in class names and having hierarchical structure enables us to keep the **class names** short e.g., `FasterRCNNWeights`, and then lengthy parts will be **field (attribute) names**, thus we can use `

[2022-01-19 17:53] w4nderlust commented on #5211
@NicolasHug thanks for the pointer, those functions are indeed much closer to what i was looking for!

[2022-01-19 19:14] datumbox commented on #5088
The current implementation uses the class information to verify that the provided `weights` is of the same type. See the code [here](https://github.com/pytorch/vision/blob/main/torchvision/prototype/models/_api.py#L51-L59).

Frankly I'm still not convinced that `FasterRCNNWeights.MOBILENET_V3_LARGE_FPN_BACKBONE.COCO_V1` is much of an improvement from the existing one. It's longer and even if you r

[2022-01-19 19:18] datumbox commented on #3995
@netw0rkf10w Thanks for confirming, good to know you matched the accuracy.

No plans to retrain all the models for now. It's very expensive and time consuming to train everything from scratch and not sure it makes sense to do this as the improvement is expected to be in the scale of 0.1-0.2 points.

[2022-01-19 19:31] #5202 closed

[2022-01-19 20:02] yoshitomo-matsubara commented on #5088
@datumbox

Does it mean these two functions (`verify` and `from_str`) will not work with the hierarchical structure?
If so, because `ResNetWeights.RESNET18` in the above example is still `WeightsEnum`, the following one should work
[code]

https://github.com/pytorch/vision/blob/main/torchvision/prototype/models/_api.py#L50-L66

---

If the hierarchical structure is not something torchvision wants

[2022-01-19 20:52] datumbox commented on #5088
@yoshitomo-matsubara Thanks for the ideas. I think for now we are can move forwards with the capitalization of the enum values. The rest of the ideas require more careful thought.

Feel free to add me as reviewer on the PR so that we can discuss any potential name changes.

[2022-01-19 21:06] datumbox commented on #5209
@mohrez86 Thanks for reporting.

The problem is on the documentation. The `ResNet` should not have been included in the list. The intention is for model builders to be provided, all of which support the `pretrained` parameter. Could you send a PR to fix it?

[2022-01-20 05:50] oke-aditya commented on #5209
Also there are couple of asserts
https://github.com/pytorch/vision/blob/main/torchvision/models/detection/backbone_utils.py#L114
https://github.com/pytorch/vision/blob/main/torchvision/models/detection/backbone_utils.py#L127

I guess it would be better to throw ValueErorr with a nicer message suggestion?

[2022-01-20 09:23] v-iashin commented on #2474
Currently on Google Colab I get:
[code]
and
[code]
Here is the environment
<details>
  <summary>Colab packages</summary>

[code]

</details>

---

Strangely the number of audio samples in the clips are not equal to the audio frame rate given we have 30 frames in a clip which is equal to video fps. Moreover, the audio clips are inconsistent in size. I would expect to have 48000 and 44100 respective

[2022-01-20 09:31] v-iashin commented on #2474
Also, loading some videos results in a 1024 (one batch) difference in the number of audio samples from `torchvision.io.read_video` and `torchvision.io.VideoReader`

[code]
[code]
vs
[code]
[code]

[2022-01-20 09:33] datumbox commented on #5209
@oke-aditya indeed but this is unrelated to this issue. We should create a new issue for them and potentially mark it as "good first issue". :)

[2022-01-20 09:36] oke-aditya commented on #5209
Yes indeed. Will open an issue for it. A good first for folks ☺️

[2022-01-20 09:48] abhi-glitchhg commented on #5209
@oke-aditya
 is it okay if I take the issue?

[2022-01-20 10:01] mohrez86 commented on #5209
@datumbox @oke-aditya thanks for clarifying the problem.

Sure. I'll send a PR to fix the docstring.

[2022-01-20 10:08] oke-aditya commented on #5209
@abhi-glitchhg feel free to raise a PR :) Contributions are always welcome.

[2022-01-20 10:21] datumbox commented on #5209
@mohrez86 @abhi-glitchhg Thanks to both of you for offering your help!

To avoid having duplicate PRs for the same issue, shall I suggest that Mohammad fixes this issue since he reported it and Abhijit to help us with the assertion improvements that @oke-aditya proposed (Oke could you create a ticket)?

[2022-01-20 10:24] oke-aditya commented on #5209
Yeah. I meant the same thing that Vasilis said. Will open an ticket.

[2022-01-20 10:45] oke-aditya opened #5228 "Replace plain asserts with ValueErros in Resnet"
As noted in https://github.com/pytorch/vision/issues/5209#issuecomment-1017281755

It would be great if these can be replaced by ValueErrors.

https://github.com/pytorch/vision/blob/main/torchvision/models/detection/backbone_utils.py#L114
https://github.com/pytorch/vision/blob/main/torchvision/models/detection/backbone_utils.py#L127

Maybe these too?
https://github.com/pytorch/vision/blob/main/tor

[2022-01-20 12:22] NicolasHug commented on #5108
Looks like we're all done

Thank you so much everyone who submitted a dataset, your help is much appreciated!

Tons of thanks to @pmeier in particular for all your help with submissions and the reviews!!

[2022-01-20 12:22] #5108 closed

[2022-01-20 12:38] rvandeghen commented on #5221
Solved it by adding a copy of the inital dataset object in the `convert_to_coco_api` function, which gives the following:

[code]

@datumbox do you think it is useful to make a PR with this change to solve this issue ?

[2022-01-20 12:47] #5199 closed

[2022-01-20 13:54] #4343 closed

[2022-01-20 13:54] #4329 closed

[2022-01-20 13:56] datumbox opened #5231 "[v0.11.3] Release Tracker"
This is a main issue to track which PRs should be cherry-picked for the 0.11.3 release, and follows PyTorch's criteria.

## Cherry-Pick Criteria

Only low-risk changes may be cherry-picked from main:

- Fixes to regressions against the most recent minor release (e.g. 1.8 for 1.9 release; see module: regression issue list)
- Critical fixes for: silent correctness, backwards compatibility, crashes,

[2022-01-20 14:37] datumbox commented on #5231
- Link to merged main PR: https://github.com/pytorch/vision/pull/5169
- Link to release branch PR: https://github.com/pytorch/vision/pull/5232
- Criteria Category: Test/CI fixes

[2022-01-20 14:49] datumbox opened #5235 "Dependency issues on TorchVision v0.11 release branch"
### 🐛 Describe the bug

Rerunning the CI tests on top of the `release/0.11` branch leads to the following failures (see #5234):
- All the `cmake_*` jobs fail with `PackagesNotFoundError: pytorch=1.10.1`: [example](https://app.circleci.com/pipelines/github/pytorch/vision/14157/workflows/d1597a5d-acc7-4adf-b4ac-8bc31ad9a9bd/jobs/1139308)
- All the `unittest_*_py3.6` jobs fail with `Failed building w

[2022-01-20 15:46] vadimkantorov opened #5236 "[feature request] Derive all transforms classes from nn.Module?"
### 🚀 The feature

Currently it's already the case for most transform classes, except T.Compose / T.RandomChoice (these could probably be derived from nn.Sequential / nn.ModuleList). This also would not break any compat, and improve consistency and composability (sometimes only nn.Modules are accepted as parts of other existing models)

### Motivation, pitch

N/A

### Alternatives

_No response_

[2022-01-20 15:59] datumbox commented on #5236
@vadimkantorov You are right to say that. There is a handful of them that don't derive from it and the reason is mainly that they might not be JIT-scriptable and that might break BC. I think there is a lot of merit to make all classes inherit from nn.Module. The new Transforms API is the place to address it (see [here](https://github.com/pytorch/vision/blob/main/torchvision/prototype/transforms/_t

[2022-01-20 16:21] vadimkantorov commented on #5236
T.Compose probably is scriptable, the rest probably too if we migrate from `random.` to using torch random functions?

[2022-01-20 19:07] seemethere commented on #5235
These make sense considering we prune versions of torch on conda when we release new release candidates

[2022-01-20 19:10] seemethere commented on #5235
cmake issues are most likely resolved by https://github.com/pytorch/vision/pull/5239

[2022-01-20 19:16] seemethere commented on #5235
Looks like av issues are related to a release that was done at the end of the year that no longer has support for python 3.6.

Pinning the AV dependency to `8.0.3` should resolve this.

[2022-01-20 19:19] seemethere commented on #5235
Resolved by https://github.com/pytorch/vision/pull/5240

[2022-01-21 10:25] vfdev-5 commented on #5236
@vadimkantorov have you seen discussion from this PR (https://github.com/pytorch/vision/pull/2645), why classes like `T.Compose` were not derived from nn.Module etc ? TLDR, keep BC with previous versions.

[2022-01-21 10:48] vadimkantorov commented on #5236
Thanks for the reference! I tried to understand why deriving from nn.Sequential would existing some code, but I couldn't since the discussion is quite dispersed there.

[2022-01-21 11:07] vfdev-5 commented on #5236
First point is that we can not do basic thing like: `T.Compose([T.Resize(200), lambda x: x * 0.5, my_transform_plain_function])` as lambda functions are not `nn.Module` and then `T.Compose` being inherited from `nn.Module` or `nn.Sequential` wont accept that.
To solve this we have to wrap all callables non-nn-modules with something from torchvision.

Next, if we wrap these custom functions by some

[2022-01-21 11:22] vadimkantorov commented on #5236
Thanks for explaining! Now I see!

My proposal would be:
* support https://github.com/pytorch/pytorch/issues/51782 for core
* support https://github.com/pytorch/pytorch/issues/55457 or introduce a separate TupleSequential (hopefully in core :))
* update examples / docs for old-style examples to use TupleSequential instead of Compose
* deprecate Compose at the same time of when new-style data pipes

[2022-01-21 11:24] vadimkantorov commented on #5236
Maybe RandomChoice is more safe for conversion to nn.ModuleList, as it's not as old class

[2022-01-21 11:38] vadimkantorov opened #5241 "Allow more consistent degrees=None in RandomAffine constructor"
### 🐛 Describe the bug

All other arguments allow for setting None to desactivate, except degrees. For the cases of when only some of these arguments are set, allowing same values for desactivation is a bit better.

### Versions

N/A

[2022-01-21 11:40] NicolasHug opened #5242 "Doc pages are too long and it's hard to figure out which functions are supported"
Opening (and closing) this issue retroactively explain why the changes in https://github.com/pytorch/vision/pull/4783 were needed, as requested by @fibbonnaci  :

- The current doc pages are extremely long and each function/class docstring in inlined https://pytorch.org/vision/0.11/transforms.html.
- This makes the docs hard to parse
- This makes it very hard to figure out which are the available

[2022-01-21 11:40] #5242 closed

[2022-01-21 13:27] datumbox commented on #5235
@seemethere Thanks for the patches. I confirm that all the CI issues are now addressed by your 2 PRs and the cherrypick we brought. All tests pass, see #5243.

[2022-01-21 13:27] #5235 closed

[2022-01-21 13:54] datumbox commented on #5241
Thanks for the proposal. This is probably a feature request/enhancement rather than a bug.

cc @vfdev-5 as I know you've been looking into affine recently.

[2022-01-21 14:00] vfdev-5 commented on #5241
Basically, the proposal is about
[code]

It is possible to implement that, while thinking about raising an error for `RandomAffine()`.

[2022-01-21 14:09] vadimkantorov commented on #5241
I would even say that `RandomAffine()` should not raise an error and just be equivalent to Identity

[2022-01-21 14:12] vfdev-5 commented on #5241
`RandomAffine() == Identity` I'm not sure about such API.

@vadimkantorov would you like to send a PR with this feature ?

[2022-01-21 14:17] vadimkantorov commented on #5241
I think no-one would use RandomAffine() in place of identity, but it may simplify error handling in user code that just pass through the arguments to RandomAffine (e.g. optional affine transform as part of more complex augmentation pipeline), and then it's better to have simpler error handling and ideally avoid it altogether (just like it's meaningful to sometimes support zero batch size / empty t

[2022-01-21 14:45] prabhat00155 opened #5245 "Change CPU decoder output frames to use ITU709 colour space"
GPU decoder outputs frame with ITU709 colour space, whereas CPU decoder uses the default colour space. We need to change the CPU decoder frames to use ITU709 colour space to match the GPU decoder output.
For verification, we could use pyav like this:
[code]
and compare the CPU decoded frames against `av_frames`.

[2022-01-21 15:00] jdsgomes opened #5247 "Vectorize box decoding in FCOS model"
### 🚀 The feature

The for loop in `torchvision/models/detection/fcos.py:80` can probably be vetorized.

[code]

### Motivation, pitch

Simplify/speedup the execution

### Alternatives

_No response_

### Additional context

_No response_

[2022-01-21 17:44] prabhat00155 opened #5249 "Add support for get_metadata() in GPU decoder"

[2022-01-21 17:47] prabhat00155 opened #5250 "Add kinetics dataset to use new video reading API"
Currently, kinetics video dataset uses the old video reading API. Adding support for new video reading API would enable users to choose between CPU and GPU decoding functionality.

[2022-01-21 17:48] prabhat00155 opened #5251 "video classification reference script with GPU decoder support"

[2022-01-21 17:51] prabhat00155 opened #5252 "video classification experiments using GPU decoder"
Run video classification experiments using GPU decoder and compare the results with CPU decoder.

[2022-01-21 18:27] Scass0807 commented on #4378
@NicolasHug @fmassa Also having this issue. Tried loading images on loop using `decode_jpeg` directly to GPU. Was able to run a number of images but GPU memory keeps going until it runs out and fails. Memory is fine on CPU. Was wondering if there is a timeline for when this will be fixed. Hoping it will be fixed ASAP as loading directly to GPU is crucial to getting speeds fast enough to run in rea

[2022-01-21 19:29] datumbox opened #5254 "Fix flaky `test_classification_model[cuda-vit_h_14]` test"
### 🐛 Describe the bug

After the addition of `vit_h_14` (#5210) we started receiving memory issues in some of our tests. Unfortunately the don't fail consistently but rather occasionally. Examples [1](https://app.circleci.com/pipelines/github/pytorch/vision/14208/workflows/be78ecf7-48b2-4c9a-be99-505930f86e35/jobs/1143437) and [2](https://app.circleci.com/pipelines/github/pytorch/vision/14208/wor

[2022-01-21 21:43] mohrez86 opened #5255 "Bug in package torchvision.models.quantization: `TypeError: __init__() missing 2 required positional arguments: 'inplanes' and 'planes'`"
### 🐛 Describe the bug

The constructor of the class [QuantizableBasicBlock](https://github.com/pytorch/vision/blob/main/torchvision/models/quantization/resnet.py#L23) in the module `torchvision/models/quantization/resnet.py` only has the two parameters `*args` and `**kwargs`. Thus, instantiating an object of `QuantizableBasicBlock` by passing no inputs should be possible. However, making an objec

[2022-01-22 09:47] datumbox commented on #5255
@mohrez86 Thanks for reporting.

I don't think this is a bug but rather an expected behaviour of the idiom we use. The current quantization approach (possibly is going to change on the near future) requires wrapping existing modules with extra bits necessary for quantization. Instead of redefining all arguments in the constructors and duplicating code, the `*args` shortcut is used.

Though not the

[2022-01-22 09:47] #5255 closed

[2022-01-23 09:48] oke-aditya commented on #4187
Guess we should now look at 2022 H1 ? :smiley:  cc @datumbox @NicolasHug

[2022-01-23 10:40] datumbox commented on #4187
@oke-aditya Thanks for the ping. Yes, we need to finalize and draft a roadmap proposal for 2022H1. We'll do it soon.

[2022-01-23 10:58] #5254 closed

[2022-01-23 11:04] datumbox commented on #5198
The issue is not [fixed](https://app.circleci.com/pipelines/github/pytorch/vision/14225/workflows/6c2298e2-1fea-4475-a3b5-77e52ca9aba8/jobs/1144856) on the latest main branch by upstream patches.

[2022-01-23 11:04] #5198 closed

[2022-01-23 14:28] shuosure commented on #1899
next

then next,I encounter “ File "torch\_ops.py", line 61, in __getattr__
    op = torch._C._jit_get_operation(qualified_op_name)
RuntimeError: No such operator torchvision::_cuda_version”
can have any idear？

[2022-01-23 22:36] suo opened #5263 "test issue please ignore"
cc @peterjc123 @nbcsm @guyang3532 @maxluk @gunandrose4u @mszhanyi

[2022-01-23 22:37] #5263 closed

[2022-01-24 04:26] revorg7 opened #5274 "Use of Python round() inbuilt function inside Functional.CenterCrop() NonDeterministic"
### 🐛 Describe the bug

Barring the padding process, CenterCrop is implemented with these lines:
crop_top = int(round((image_height - crop_height) / 2.0))
crop_left = int(round((image_width - crop_width) / 2.0))
return crop(img, crop_top, crop_left, crop_height, crop_width)

Note that round(11/2)=6 and round(9/2)=4, i.e., python round() selects floor() sometimes, and sometimes ceil(). This causes

[2022-01-24 05:53] oke-aditya commented on #5228
Hi! I see there are 2 PRs. @piyush01123 and @abhi-glitchhg can you guys sync a bit so that we can avoid duplication? Maybe work together and come up with tests?

[2022-01-24 09:36] abhi-glitchhg commented on #5228
yes Sure, @piyush01123 what is your thought?
I have added tests for resnet_backbone, and am yet to add for the mobilenet_backbone; if you want to do that part let me know; we can merge our work in a single pr later.

[2022-01-24 11:58] barschiiii opened #5266 "FCOS empty box images"
### 🐛 Describe the bug

I am playing around with new FCOS models (thanks for that) and am encountering issues when providing images without box annotations. This is a common use case in object detection, and also works for other detector models in torchvision.

A simple example to replicate:

[code]

An indexing error happens in `FCOSHead` when running `compute_loss` in this part:

[code]

A worka

[2022-01-24 12:02] xiaohu2015 commented on #5266
@barschiiii I also found this issue, we plan to add another PR to handle this.

[2022-01-24 12:10] barschiiii commented on #5266
@xiaohu2015 that's great to hear, hope I will be able to try it soon :)

[2022-01-24 12:28] xiaohu2015 commented on #5266
@hi, we fix this bug in https://github.com/pytorch/vision/pull/5267

[2022-01-24 13:40] #5249 closed

[2022-01-24 14:43] vfdev-5 commented on #5241
For me it is a bit different. I'd compare that to configuring `Conv2d()` without any params and say that it should behave as Identity in this case. A use-case where `RandomAffine` configuration can be a sort of input (as you talk about zero batch tensors etc) is when user does some search on dataaug and reconfigure `RandomAffine` differently during the search and would like to provide an empty con

[2022-01-24 14:51] vadimkantorov commented on #5241
Yeah, my argument was about your second paragraph. Imagine a complex augmentation pipeline that reads affine params from config (or constructor arguments) - this happens in practice quite a lot. In this complex pipeline RandomAffine is just one component. For this setting, disabling Affine transform by letting the final user to set all affine params None / zero is a valid usecase, and no error (id

[2022-01-24 14:53] datumbox commented on #5266
Thanks for providing this info, it helps the debugging. Could you try @xiaohu2015 patch without them and let us know if it's fixed? Thanks!

[2022-01-24 14:56] barschiiii commented on #5266
@datumbox this is after applying the patch - do you mean running it without AMP?

[2022-01-24 14:57] #5139 closed

[2022-01-24 15:57] NicolasHug opened #5269 "Potential simplifications to the prototype dataset testing"
As discussed offline with @pmeier, there are a few potential simplification / improvements we could make to the prototype datasets tests.

- The tests currently create a tmp dir, but this tmp dir isn't cleaned up after the tests are run.
- The tests are currently designed such that the mocked dataset root is the same across all tests. Is this worth enforcing? We might be able to simplify the code

[2022-01-24 16:28] barschiiii commented on #5266
SGD with AMP, and Adam without AMP seem to both run fine. Adam with AMP and gradient clipping runs into instability (NaN) issues, also with different learning rates.

[2022-01-24 17:10] terrychenism commented on #5198
@datumbox the PR fixed the mobilenet v3 on my side:
[code]

[2022-01-24 17:36] yoshitomo-matsubara commented on #5193
Hi @jamesr66a
Could you please take a look at this issue?

[2022-01-24 17:36] datumbox commented on #5198
@terrychenism Apologies. I made probably the worst typo ever. Instead of "the issue is noW fixed", I wrote "the issue is noT fixed". I confirm all is good and that's why I closed the ticket. Sorry for the confusion.

[2022-01-24 18:14] jamesr66a commented on #5193
Hi @yoshitomo-matsubara,

`torch.fx` tracing only supports recording functional code that contributes data dependencies to the ultimate function outputs. `print` statements are side-effectful and are thus not recorded during tracing. If you'd like to preserve such side-effectful code, I recommend using [torch.fx.wrap](https://pytorch.org/docs/stable/fx.html#torch.fx.wrap) to create a function that

[2022-01-24 18:17] terrychenism commented on #5198
thanks for confirming

[2022-01-24 19:29] yoshitomo-matsubara commented on #5193
Thank you @jamesr66a for the clarification.

In your example, can't we do that by adding [`@torch.fx.wrap` decorator to `here` function](https://gist.github.com/jamesr66a/5d4e22e1008f76c8fc97d350b0dddceb#file-fx_hooks-py-L23-L24) instead of having one more hop from the hook function to a function with the decorator ([`print_here` function](https://gist.github.com/jamesr66a/5d4e22e1008f76c8fc97d350

[2022-01-24 19:30] barschiiii commented on #5266
It might be related to the default initialization of anchor boxes:

[code]

From my understanding, this should be lower if it should match the strides for e.g. a resnet50.
Actually if I lower it, I am avoiding nan losses.

[2022-01-24 19:39] jamesr66a commented on #5193
I think it's possible that you can `@wrap` the forward hook directly, but I used an indirection to be more safe

@yoshitomo-matsubara in general, it's pretty dangerous to be working with mutable, global data structures in conjunction with staging transforms (i.e. `torch.fx`). During symbolic tracing, the program is run with symbolic values (`Proxy`) solely for the purpose of capturing the program

[2022-01-24 19:52] yoshitomo-matsubara commented on #5193
@jamesr66a Thank you for the advice.

Actually, wrapping the forward hook function (i.e., `here`) with `@torch.fx.wrap` like the above example didn't work. The dictionary `d` still gets `1: Proxy(relu)` )

If having the indirection in the original forward hook function resolves all the issues above, are there any side-effect or potential issues caused by wrapping the hook functions with `@torch.fx

[2022-01-24 21:36] achalhoubmeaa opened #5272 "'NotImplementedError: The following operators are not implemented:' errors when converting PyTorch Object Detection models"
### 🐛 Describe the bug

I am trying to work with the SSD300_VGG16 object detection model and convert it to a serialized and optimized format to eventually run on an embedded system. The script that I use to create and save the traced model from TorchScript is the following:

[code]

After that I would like to convert the saved model to another format that I am working with, but I am getting the er

[2022-01-24 23:30] jamesr66a commented on #5193
I don't believe so, `@wrap` simply registers the function in a dictionary for further modification during the tracing process: https://github.com/pytorch/pytorch/blob/8ba1ee6aa724f01736652c851e1a734e933f85ed/torch/fx/_symbolic_trace.py#L803. Outside of tracing, the original function is called directly and should be unaffected by the `@wrap` decorator

Right, they wont affect computation, but it's

[2022-01-25 01:40] xiaohu2015 commented on #5266
@barschiiii there is no anchors in FCOS actually, but we borrow the anchor from retinanet. here, the anchor equal the cell or grid in the feature map, so the anchor size equals to strides of multi-level feature map.

[2022-01-25 03:32] yoshitomo-matsubara commented on #5193
Thank you @jamesr66a for the answers.

One last question/request; Can the tracing paradigm be updated to allow direct-wrap the forward hook? As mentioned above, it looks like the current implementation requires the indirection to get actual tensor instead of `Proxy(...)`

[2022-01-25 07:31] piyush01123 commented on #5228
Sure @abhi-glitchhg .  I'll add the test for mobilenet backbone in `test_backbone_utils` and `test_models_detection_utils`.
Also @oke-aditya, `mobilenet_backbone` function is missing docstring similar to this in`resnet_fpn_backbone` https://github.com/pytorch/vision/blob/59c723cb45d0f8ab897cc7836d408e9fdde4b552/torchvision/models/detection/backbone_utils.py#L67-L101
Should I add it?

[2022-01-25 07:45] barschiiii commented on #5266
But shouldn't the anchor size then be adjusted manually from the multi-level feature map stride? I can see in detectron2 implementation, that they are calculating the stride each time for a backbone that is passed.
Here in this case the anchor size is hardcoded, and I am wondering how these hard-coded values have been decided, the default ones seem not right to me.

[2022-01-25 08:24] pmeier commented on #5269
Yes, I see no point in removing it. What is debatable is if we want to keep the `split="test10k"` and `split="test50k"` variants. The latter is the offender for the slow tests since it needs to generate at least 50k + 1 samples.

QMNIST was generated from the same source as MNIST with the goal of having more test samples while trying to match the processing of the original MNIST data. In the [word

[2022-01-25 09:04] barschiiii commented on #5266
I might have been wrong, stability issues still happen. Will explore further but if anyone has an idea from where it could come, please let me know.

[2022-01-25 09:40] datumbox commented on #5272
The detection models are not traceable. They are JIT scriptable though, so I recommend using this instead.

[2022-01-25 09:48] xiaohu2015 commented on #5266
yes, the anchor size shouldn't be adjusted manually. as you see, we can get the strides of multi-level feature maps in backbone from the method `output_shape`. but torchvision does not  implement the interface, so the default anchor size is hardcoded.

[2022-01-25 09:49] xiaohu2015 commented on #5266
Do you also test you datasests with detectron2?

[2022-01-25 09:50] vfdev-5 commented on #5274
@revorg7 python round is a deterministic operation as `round(value)` always gives the same output.
Concerning your point about that round(5.5) -> 6 and round(4.5) -> 4 is related to how floating point works. See https://docs.python.org/3/library/functions.html#round

Your suggestion to remove `round` would introduce a backward incompatibility.

Can you please give more details on what is your exac

[2022-01-25 10:48] billy800413 opened #5277 "Can't build windows torchVsion C++ API library"
# 🐛 Describe the bug
* I try to use TorchVision c++ API in windows10. I follow https://github.com/pytorch/vision Using the models on C++. I download libtorch1.10.1-cu102 and unzip it at D:\thirdpartyforwindows_for_ai\libtorch\libtorch1.10.1-cu102.
[code]
* After Build, I get some error message
[code]
* Is my Libtorch version wrong? Is there anything wrong with my build steps?
# Versions
* Torch 1.

[2022-01-25 11:04] datumbox commented on #5277
@billy800413 The latest version of TorchVision requires the nightly of libtorch not v1.10. Download the right version by going to [PyTorch.org](https://pytorch.org/get-started/locally/) and selecting LibTorch + Windows + Cuda version.

[2022-01-25 13:36] #5080 closed

[2022-01-25 13:37] datumbox commented on #5080
Apologies for the delayed response. It is needed, the reply is here: https://github.com/pytorch/vision/pull/5278#issuecomment-1021188624

[2022-01-25 17:10] achalhoubmeaa commented on #5272
I have tried scripting object detection models, but the issue is that the conversion of the saved scripted model to the end format that I need is not supported - I get similar errors to the one I posted here but with many more ops. Any recommendations?

[2022-01-25 18:27] abhi-glitchhg commented on #5209
I think we can close this issue.
@datumbox

[2022-01-25 18:59] addisonklinke commented on #3960
Could this be generalized to allow for the possibility of multiple, discrete boxes per mask, or would that be better suited for a separate function? The following example demonstrates the current vs. desired behavior

[code]

Note in this case the return tensor should have rank 3 instead of 2 to represent `[num_masks, num_boxes, 4]`

[2022-01-25 19:33] #5209 closed

[2022-01-25 21:55] giangnguyen2412 commented on #4925
Hey @NicolasHug @datumbox @pmeier @MalteEbner @smartkiwi
What is the solution for this now? I am having the same problem.

[2022-01-26 06:50] billy800413 commented on #5277
@datumbox Thanks for your reply. But I still get the error using the following combination
* Libtorch (https://download.pytorch.org/libtorch/nightly/cu102/libtorch-win-shared-with-deps-latest.zip)
* TorchVision checkout v0.11.2
### error message
[code]
Is there any documentation for version combination? (c++ Libtorch, TorchVision in windows)
Do you need me to upload the total build log?

[2022-01-26 08:46] #4957 closed

[2022-01-26 09:22] NicolasHug commented on #4925
@giangnguyen2412 IIRC, we went with the status quo: you can define a custom the class discovery logic by overriding the  `find_classes()` method of the dataset class: https://pytorch.org/vision/stable/datasets.html#torchvision.datasets.DatasetFolder.find_classes

[2022-01-26 09:33] datumbox commented on #5277
Sorry I missed you were checking out `v0.11.2` and not working on the latest main branch. For that, the right TorchLib version is 1.10.1 (https://download.pytorch.org/libtorch/cu102/libtorch-win-shared-with-deps-1.10.1%2Bcu102.zip)

Afterwards to build TorchVision, do (details [here](https://github.com/pytorch/vision/blob/main/CONTRIBUTING.md#development-installation)):
`python setup.py develop`

[2022-01-26 10:58] jdsgomes commented on #5272
Hi @achalhoubmeaa you can find the torchvision models source code under [here](https://github.com/pytorch/vision/blob/main/torchvision/models). In particular, the SSD300_VGG16 can be found [here](https://github.com/pytorch/vision/blob/main/torchvision/modelsdetection/ssd.py).

[2022-01-26 11:38] NicolasHug opened #5281 "Potential improvements to the prototype dataset implementation #5269"
Keeping track of a meeting we just had with @pmeier , here are a few things we can try:

- Instead of having a separate `DatasetInfo` class, we could try having all these fields be part of the `Dataset` class itself. Then `_make_info()` would become `Dataset.__init__()`, and we could expose an `info()` method / property which would expose the relevant fields to the user (currently, this is the `in

[2022-01-26 12:09] datumbox commented on #5217
@wuhanstudio I can't reproduce on the latest main of TorchVision. Could you please check?

[2022-01-26 12:20] datumbox commented on #5221
@rvandeghen Thanks for raising this.

It is very difficult to tell what's the problem given that I can't reproduce the issue without having your custom dataset. What's unclear to me is why you need to deep-copy the `ds` given you don't modify it.

The reference script works fine with Coco which is its intended use-case. Moreover the script serves as a starting point for how one can build their own

[2022-01-26 13:28] rvandeghen commented on #5221
@datumbox I tested it with fake data and it produces the same behavior. You can try it by yourself.

[code]

As you can see, the last 2 values of the boxes are changed in place with respect to the `Dataset` data. Maybe something is wrong with my `Dataset` class but I still managed to counter this issue with the deepcopy.

I totally agree that the reference script is a starting point but I suppose

[2022-01-26 14:10] prabhat00155 opened #5284 "Simplify EMA to use Pytorch's update_parameters"
Pytorch's AveragedModel handles buffer properly after https://github.com/pytorch/pytorch/pull/71763. This can be used now instead of having a custom update_parameters() [here](https://github.com/pytorch/vision/blob/c8e3b2a5925e7b7ed21662e86a7e9553170a5633/references/classification/utils.py#L175-L184).

[2022-01-26 14:54] datumbox commented on #5221
@rvandeghen Thanks for providing an example that reproduces clearly the problem. This helps a lot.

The problem seems to be due to the inplace modification that happens at:
`bboxes[:, 2:] -= bboxes[:, :2]`

To avoid this we should clone that target boxes to avoid modifying the original dataset:
`bboxes = targets["boxes"].clone()`

From what I see, no other record is modified inplace but it's worth

[2022-01-26 15:13] #4151 closed

[2022-01-26 15:13] #4259 closed

[2022-01-26 15:13] #4265 closed

[2022-01-26 15:13] #4826 closed

[2022-01-26 16:02] datumbox commented on #4500
The ticket is up for grabs!

[2022-01-26 16:07] #4947 closed

[2022-01-26 16:50] wuhanstudio commented on #5217
Hi, @datumbox,

Thanks for your kindly help.

I just installed both `torch` and `torchvision` from source. Indeed, this issue has been resolved in the `main` branch by:

https://github.com/pytorch/vision/blob/aef9964e73992268839943caa526c7525be13027/torchvision/models/detection/transform.py#L202-L209

But I notice that this is resolved by a **workaround for another onnx issue**. If the following l

[2022-01-26 17:08] datumbox commented on #5217
We plan to refactor this code on the near future, so we can resolve it there. I'm going to close the issue as I believe the matter is resolved, nevertheless if you still have concerns feel free to reopen. Thanks!

[2022-01-26 17:08] #5217 closed

[2022-01-26 17:25] rvandeghen commented on #5221
@datumbox Indeed the problem comes from `bboxes[:, 2:] -= bboxes[:, :2]` and is solved by cloning it. I also checked that the `masks` were not changed with the current version and it works fine.

[2022-01-26 18:24] oke-aditya opened #5290 "Automate closing of scheduled workflows"
### 🚀 The feature

We need to currently close the Issues raised by our automated tests for datasets manually.

 https://github.com/pytorch/vision/issues?q=is%3Aissue+is%3Aopen+Scheduled+workflow+failed ?

Sometimes they get bunched up or we forget to close them.

### Motivation, pitch

The cronjob runs *daily*. So ideally we should be closing the issue the next day if it doesn't fail. (If it does

[2022-01-26 20:04] mohrez86 opened #5292 "Runtime error in clip_sampler.py: RuntimeError: Default process group has not been initialized."
### 🐛 Describe the bug

Creating an object of the class [DistributedSampler](https://github.com/pytorch/vision/blob/main/torchvision/datasets/samplers/clip_sampler.py#L10) while not passing anything to either of the two parameters `num_replicas` or `rank` results in the following runtime error. However, passing values other than `None` (e.g., `num_replicas=2` and `rank=0`) does not result in the f

[2022-01-27 00:23] vadimkantorov opened #5294 "[docs] Table of accepted image tensor dtypes for all transforms"
### 📚 The doc issue

Many transforms support equally float32 and uint8, but it seems not documented. Or sometimes some image formats aren't supported but it's not clear why so: e.g. torchvision.transforms.functional.normalize throws when given a uint8 image, but there seems no big reason why it can't autocast uint8 inputs to float32 (just as most pytorch core ops do now).

Sometimes uint8 can be m

[2022-01-27 02:58] billy800413 commented on #5277
@datumbox Thanks for your reply. But I still get some errors. At first, it seems to find "...HostX86\x64\cl.exe" successfully(log1). But after a while, it shows log2 error.
## My env
### Microsoft Visual Studio2017
### python anaconda env - name webv2
[code]
### Cuda
[code]
### System Path
[code]
## Build command
[code]
## Log1
[code]
### log2
[code]

[2022-01-27 07:33] pmeier commented on #5290
This seems like a cool idea. Given that they currently only spamming me, I don't think this is urgent. But if you (or someone else) wants to look into this, I would be happy to review a PR.

[2022-01-27 08:34] #5221 closed

[2022-01-27 08:58] datumbox commented on #5292
@mohrez86 Thanks for bringing this up.

We use the specific pattern because that's the recommended way from PyTorch Core. See their [DistributedSampler](https://pytorch.org/docs/master/_modules/torch/utils/data/distributed.html#DistributedSampler) for example. As mentioned in the tutorial you linked, the process group needs to be initialized prior using any distributed features. Since the specific

[2022-01-27 08:58] #5292 closed

[2022-01-27 09:02] datumbox commented on #5294
Good proposal. We will be revamping our documentation this half for models, so next we can definitely look into doing it for Transforms.

cc @NicolasHug @pmeier

[2022-01-27 09:18] NicolasHug commented on #5290
Good idea, thanks @oke-aditya

Alternatively, if we have a lot of one-off, we can also decide to only open an issue if the download fails twice (or thrice) in a row

[2022-01-27 11:07] oke-aditya commented on #5290
It's actually rare to have lot of one-off. Also, while downloading and testing we do 5 retries I think?

[2022-01-27 12:14] syed-javed commented on #3960
Hello @addisonklinke , Do you have a solution that gives the desired output as you mentioned?

[2022-01-27 12:25] #5091 closed

[2022-01-27 13:13] vadimkantorov commented on #5284
A related issue to propose a EMA optimizer / functional optimizer into core: https://github.com/pytorch/pytorch/issues/71683

[2022-01-27 14:01] vadimkantorov opened #5297 "pil_to_tensor / to_tensor fails when converting zero-sized PIL images"
### 🐛 Describe the bug

[code]

torchvision could special-case conversion of zero-sized PIL images while the upstream bug is getting fixed. zero-sized images can sometimes occur as result of not super-well guarded cropping (that's how I hit this bug, the above is just a minimally reproducing example). IMO it's much better to propagate zero-sized images at least through these basic conversion funct

[2022-01-27 16:34] addisonklinke commented on #3960
@syed-javed Yes I've got one working now. The strategy is to iterate through each `(x, y)` location where there's a positive (i.e confidence > threshold) prediction. From those locations, iteratively expand outwards as long as each boundary edge has an average confidence greater than the threshold. Ignore points that overlap with a previously created box to speed up the iteration

With the functio

[2022-01-27 19:58] BowenBao opened #5303 "Segfault after tracing quantized mobilenet v3 using nightly version"
### 🐛 Describe the bug

Sample code to reproduce:

[code]

Output:
[code]

The segfault happens randomly. When I tried to debug using pdb, the segfault happens at different lines each time (original code tried to do other stuff after tracing, the above `print` code seems to be the simplest repro I could create), and they all happen after `torch.jit.trace` is called.

### Versions

Collecting envir

[2022-01-27 21:37] ngam commented on #4738
This issue has been resolved in 0.11.2, I believe.

[2022-01-27 22:42] malfet commented on #5137
Should be solved by 0.11.3 release, see https://pypi.org/project/torchvision/

[2022-01-27 22:43] #5137 closed

[2022-01-28 08:42] #5231 closed

[2022-01-28 08:59] datumbox opened #5306 "CI fails on `cmake_macos_cpu` due to UnsatisfiableError on PyTorch"
### 🐛 Describe the bug

Our latest main branch [fails](https://app.circleci.com/pipelines/github/pytorch/vision/14442/workflows/a31d8fdc-6c1c-461c-8a94-1c333e592106/jobs/1161731) with an UnsatisfiableError:
[code]

### Versions

Latest main

cc @seemethere

[2022-01-28 09:59] vict0rsch commented on #2962
Any news on this front?`

[2022-01-28 10:04] datumbox commented on #5303
I am unable to reproduce on my side. How long have you been facing this? I wonder if this could be related to the rework at https://github.com/pytorch/pytorch/pull/70009. There is an outstanding PR https://github.com/pytorch/vision/pull/5299 to address the changes.

[2022-01-28 11:51] datumbox commented on #3995
I have modified the scope of the ticket to focus on Classification so that we can conclude the phase 1 of our Batteries Included project. We will focus on Detection and Segmentation on our phase 2.

Big thanks to everyone involved to this project for helping us keep TorchVision fresh!

[2022-01-28 11:51] #3995 closed

[2022-01-28 11:56] datumbox commented on #3911
Batteries Included - Phase 1 is now concluded! I believe we have successfully refreshed TorchVision library to support the Classification use-case and we have managed to refresh all of the popular pre-trained models of the library.

I'm going to close this ticket and start scoping Phase 2, which will focus on the Detection and Segmentation use-cases. Massive thanks to all of the people who contrib

[2022-01-28 11:56] #3911 closed

[2022-01-28 12:09] datumbox opened #5307 "Improve the accuracy of Detection models by using SOTA recipes and primitives"
### 🚀 The feature

Similar to #3995 but focus on Object Detection.

Here is the accuracy of `fasterrcnn_resnet50_fpn` on latest main:
[code]

Some of the recent ML techniques added for the SSD work can immediately improve the accuracy of the FasterRCNN models without any additional changes. Obviously much bigger improvements can be achieved by carefully tuning our training recipes to the needs of

[2022-01-28 16:09] NicolasHug opened #5309 "Sphinx-gallery example for RAFT model"
Now that we have a `flow_to_image()` util https://github.com/pytorch/vision/issues/5091, we can write a sphinx-gallery example to illustrate how to use the RAFT model.

Ideally, the example would look like something like this:

- Briefly explain what optical flow is: predicting movement from 2 consecutive frames
- load the model with pre-trained weights
- load a video (from our `assets` folder), o

[2022-01-28 16:46] datumbox commented on #5309
Using one of the assets included in our repo sounds like a good choice.

The multi-weight API is still in prototype because the community has been providing feedback (https://github.com/pytorch/vision/issues/5088) and making changes up until last week. That's why it's probably hard to have it moved on main TorchVision area in this release. This means that you can't depend on it from examples becau

[2022-01-28 20:33] pevogam opened #5311 "[SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed: unable to get local issuer certificate (_ssl.c:1122)"
### 🐛 Describe the bug

When downloading weights data from the PyTorch hub we get the following:
[code]
whereby checks of the certificate validity passed and this issue only happens on Windows (tested the same code on Linux without any problem). Downloading the same data file from a browser works fine (don't mind the loaded page, I loaded `download.pytorch.org` at first):

![image](https://user-im

[2022-01-29 06:42] trevoravant opened #5313 "can't install latest version of torchvision using pip, even though I have the latest dependencies"
### 🐛 Describe the bug

First of all, the issue I'm about to describe is similar to [#4076](https://github.com/pytorch/vision/issues/4076), but I don't have opencv installed and I'm using pip. Also, I'm not sure if I should create this issue on torchvision or pip's Github page.

I'm trying to install torchvision with pip. I use Arch Linux, and I have a recent version of torch (`1.10.2`) installed

[2022-01-29 06:45] aryanraj2713 commented on #5313
add a requirement.txt file for to install libs.

[2022-01-29 06:49] aryanraj2713 opened #5314 "add a requirement.txt file to install libs"
### 🐛 Describe the bug

[code]
this will add a requirements.txt file

[code]
for users to install dependents mentioned in file

### Versions

wget https://raw.githubusercontent.com/pytorch/pytorch/master/torch/utils/collect_env.py
# For security purposes, please check the contents of collect_env.py before running it.
python collect_env.py

[2022-01-29 06:54] oke-aditya commented on #5314
Hi ! @aryanraj2713 I think creating `requirements.txt` is not the best option for packages such as torchvision.
One major reason is it depends on pytorch and cuda configuration. Binaries are different for cuda, rocm and cpuonly. Also requirements is not flexible enough to handle all such use-cases.

Also installation instructions are very clear over the docs page `https://pytorch.org/`
And for peo

[2022-01-29 06:58] aryanraj2713 commented on #5314
Is there a conda install package possible for the issue @oke-aditya

[2022-01-29 06:59] oke-aditya commented on #5313
Aah this issue of torchvision collection 0.2.2 is very redundant. See #4273 #4665 #4648

Also CUDA 11.5 is not supported currently.

You can try with CUDA 11.3 as per instructions from docs https://pytorch.org/

[code]

[2022-01-29 07:01] oke-aditya commented on #5314
Yes you can install torchvision with conda. Also conda is recommended way of installing torchvision .
Instructions are available over https://pytorch.org/

E.g. for CUDA 11.3
[code]

[2022-01-29 07:02] aryanraj2713 commented on #5314
ohh thanks

[2022-01-29 07:04] RangiLyu commented on #5307
We recently did some experiments on the pre-trained backbone and found that using TIMM's ResNet training method as pretrain
can boost Faster R-CNN from 37.4 to 40.8 mAP (+3.4 mAP).
[code]

More details can be found in https://github.com/open-mmlab/mmdetection/pull/7001

And I learned that torchvision also updated a new resnet pre-training method recently in https://github.com/pytorch/vision/pull/5

[2022-01-29 10:55] datumbox commented on #5311
Similar SSL verification problems have been popping up for a while now. Unfortunately that is not related to TorchVision but rather caused by issues on the S3 side where we store the weights. It's also something we can reproduce consistently as it depends on the region from which you try to access the weights.

[2022-01-29 16:13] besmaGuesmi commented on #1916
Install Python 3.7 instead of 3.8 will solve the problem

[2022-01-29 21:19] trevoravant commented on #5313
@oke-aditya Thanks but I don't think CUDA is the culprit because (as I mentioned in the original post) I get the same problem without CUDA. I've looked at the issues you linked to, but still can't make sense of this.

[2022-01-29 23:48] revorg7 commented on #5274
@vfdev-5 , OK, Let me "correct" my terminology, its a "input dependent deterministic function". In general, "input dependent" functions are not desirable. E.g. Take:

import torch
from torchvision.transforms import CenterCrop

a=torch.Tensor(range(25)).view(5,5)
b=torch.Tensor(range(49)).view(7,7)
c=torch.Tensor(range(81)).view(9,9)

CC= CenterCrop((2,2))

CC(a)
CC(b)
CC(c)

You will notice that t

[2022-01-30 10:07] pevogam commented on #5311
The surprising thing is that I don't have this problem on Linux from the same region, only on a Windows machine.

[2022-01-31 09:03] datumbox commented on #5307
@RangiLyu I don't have yet these numbers but we plan to do such experiments soon after we add some new primitives for detection. I'm currently scoping which techniques should be added (see [here](https://github.com/pytorch/vision/projects/4) for some early work). The metrics that appear on this issue were moved from #3995 and was written prior doing any work on ResNet50. BTW I wouldn't be surprise

[2022-01-31 09:42] pmeier commented on #5314
Hey @aryanraj2713, I think your question was answered by @oke-aditya. Thus, I'm closing this issue. Feel free to re-open if you don't think this is the case.

[2022-01-31 09:42] #5314 closed

[2022-01-31 09:42] NicolasHug commented on #5313
@trevoravant could you please try using the official instructions  at https://pytorch.org/get-started/locally/ ?

[2022-01-31 09:44] pmeier commented on #5313
There are no stable binaries for Python 3.10 yet. However, there are nightlies available.

[2022-01-31 10:18] vadimkantorov opened #5318 "[feature request] ImageNet dataset to (optionally) return detections"
### 🚀 The feature

ImageNet dataset features extra annotated bounding box detections for some classes: https://image-net.org/download-bboxes.php. It would be nice if torchvision supported parsing this `bboxes_annotations.tar.gz` tarball and returning these detections (e.g. as a transform).

### Motivation, pitch

N/A

### Alternatives

_No response_

### Additional context

_No response_

[2022-01-31 10:29] sushant097 commented on #4231
@NicolasHug I think LSUN dataset is not supported by PyTorch Dataset. Would I directly download LSUN bedroom train data just as CIFAR10 dataset with PyTorch? Thanks in advance.

[2022-01-31 10:42] jdsgomes opened #5319 "New Model Architectures - Implementation and Documentation Details"
### 🚀 The feature

When adding a new model architecture there are some design/implementation details and documentation requirements that need to be taken into account. This issue intents to track such details in a dynamic manner, as it is possible to change over time.

### Motivation, pitch

## New Model Architectures - Implementation Details

### Model development and training steps

When develop

[2022-01-31 12:20] jdsgomes commented on #2707
In part informed by the discussions in this ticket I am proposing a new model contribution guidelines [here](https://github.com/pytorch/vision/pull/5315). Your feedback/suggestions would be very valuable.

[2022-01-31 12:37] NicolasHug opened #5321 "More details to the dataset documentation page"
Our current [dataset documentation page](https://pytorch.org/vision/main/datasets.html#caltech) just lists the available datasets alphabetically.

Let's try to organize this page into subsections like

- Classification datasets
- Segmentation dataset
- Detection dataset
- Optical Flow dataset
- Video dataset
- etc.

Some datasets may belong to more than one category. As a first step, let's list th

[2022-01-31 14:50] pmeier commented on #5321
The list above is mixing two concepts: task and data type. While classification, segmentation, detection, and optical flow are tasks, video datasets describe the data type while being classification datasets.

I don't have a better way to structure them and TensorFlow is structuring them in a [similar way](https://www.tensorflow.org/datasets/catalog/overview).

[2022-01-31 15:46] nlgranger opened #5322 "generalized_box_iou_loss input checks raise on nan values"
### 🐛 Describe the bug

The assert:
https://github.com/pytorch/vision/blob/abdae5a1ea8ad8ce0b155a8bda090683c34d3551/torchvision/ops/giou_loss.py#L40-L41
crashes on nan inputs instead of just forwarding the nan values to the output.

It can be resolved by using this test instead:

[code]

Not sure there should be any tests at all though. It costs a GPU->CPU synchronization.

### Versions

PyTorch v

[2022-01-31 17:15] vfdev-5 commented on #5274
@revorg7 I understand what you say but I'm not sure if this is something really matters.
For example, I have an image of size 500, 323 that I'd like to center crop to 223, 224. Then, the i'll have the following:
[code]
to determine crop_top, crop_left. Python round will produce: 50, 138. Comparing that with 49, 138 on large image, visually there is no quite difference.
![image](https://user-images