[2020-09-25 16:03] pmeier commented on #2709
@vfdev-5 Your hunch is correct. As of `torchvision==0.3` the provided binaries are precompiled for a few selected platforms. Thus, if you try to install with an unsupported platform it falls back to the last version without platform requirements, i. e. `torchvision==0.2.2`.

[2020-09-25 16:09] fmassa commented on #2687
Hi,

I think this could be an useful addition. For reference, some related (but not exactly equal) functions [can be found in DETR](https://github.com/facebookresearch/detr/blob/699bf53f3e3ecd4f000007b8473eda6a08a8bed6/util/box_ops.py#L9-L20)

[2020-09-25 16:40] oke-aditya commented on #2687
I saw the Detr implementation. It takes center x, center y, w, h and then converts to x1y1,x2 y2 (xmin, ymin, xmax, ymax) format.

So maybe we can add that as well.

x1y1,x2 y2 (xmin, ymin, xmax, ymax) is the format that models FRCNN and upcoming RetinaNet take, so maybe provide utilities that can covert the following format to this and vice-versa. I'm re-using the names from Detr for consistency.

[2020-09-25 17:12] lanking520 commented on #2692
@mthrok do you have any plan to fix this? Or can I presume it is okay to temporaily applied the fix I mentioned and will have no side effects?

[2020-09-25 17:36] xkszltl commented on #2701
That's probably not the root cause.
CMake side found their regex bug in 3.18.3.

[2020-09-25 17:36] xkszltl commented on #2701
I tried their patch and works.

[2020-09-25 17:39] xkszltl commented on #2701
Meanwhile there's a hack to make it work in 3.18.3 without patching cmake.
The issue is there's `\.` which should be `\\.` instead.
Could you change this line to 3.1?
https://github.com/pytorch/vision/blob/662373f6057bb0d39eaf6e5fde3083639ed93af3/CMakeLists.txt#L1

That will set `CMP0053=New`, which makes the `\.` recognizable as `.` (escaped `.`), and matches everything in regex, including a dot

[2020-09-25 21:03] stu1130 commented on #2692
Could it be a CMake option like USE_PYTHON? When it is disabled, we skip including `<torch/extension.h>` with macro.

[2020-09-25 21:36] mthrok commented on #2692
I do not have a plan to fix this yet. My work is still proposal phase, and torchvision is more complicated than torchtext or torchaudio.

However if @fmassa's comment

is correct, then I think changing `<torch/extension.h>` to `<torch/torch.h>` or `<torch/script.h>` should suffice.

Searching `"pybind11"` reveals there is one test code that relies on PyBind11, and that code should include `<torch/

[2020-09-25 21:38] mthrok commented on #2692
That's what I am working on, but in the case of torchvision, `<torch/extension.h>` should not be needed, I presume.

[2020-09-25 21:57] mthrok commented on #2349
I would remove `Parallel compilation` from the list.
With CMake and Ninja, you can do the pretty much same thing, so there is no difference.

[2020-09-26 20:56] DoubleJ9279 commented on #2330
it works~ for me

[2020-09-26 21:00] jekriske-lilly commented on #2330
@DoubleJ9279 yes the changes were merged.

[2020-09-27 07:45] pmeier commented on #2687
@oke-aditya Go for it! Ping me when you are done.

[2020-09-27 09:15] oke-aditya commented on #2687
Sure, will make a PR very soon on this. 👍

[2020-09-27 16:26] jiaerfei opened #2711 "Test the model with an image"
Hello
I compressed Mask R-CNN and finished the training,  but the checkpoint (.pth) is different from the regular one, what can I do if I want to load the checkpoint to Mask R-CNN to test its speed with a new image? Thank you!

[2020-09-27 19:13] mikeseven opened #2712 "quantized models googlenet and shufflenet not JIT scriptable"
Using torchvision 0.7.0 and pytorch 1.6.0 from conda.

#1949 doesn't solve the issue of aux=None in googlenet quantized model.
A solution is to add ```if submodule is not None:``` in line 2234 of ```torch.jit.__init__.py```

shufflenet_v2 JITing crashes with
```Comparison exception: promoteTypes with quantized numbers is not handled yet; figure out what the correct rules should be, offending types

[2020-09-28 02:57] twoertwein opened #2713 "Torchvision cuda version should match torch's cuda version"
## 🐛 Bug

Torchvision 0.7.0+cu101 requires pytorch 1.6.0, but it should require 1.6.0+cu101 (or this is a poetry bug/feature).

## To Reproduce

[code]

[2020-09-28 09:23] fmassa commented on #2599
I think it might be time to think about changing the default in `FrozenBatchNorm2d` to more closely align with what BatchNorm in PyTorch does, we should just check that this change doesn't affect the performance of the currently trained models in any way.

[2020-09-28 09:26] fmassa commented on #2712
@mikeseven could you send a PR fixing the bug you mentioned?

[2020-09-28 09:29] fmassa commented on #2713
Hi,

I believe this is a duplicate of https://github.com/pytorch/vision/issues/2310 .
It is not yet clear if this is a problem that should be fixed in torchvision.

Given that we already have a lot of useful points mentioned in #2310, I propose we continue the discussion there.

[2020-09-28 09:29] #2713 closed

[2020-09-28 09:59] fmassa commented on #2711
Hi,

You can use the `references/detection/train.py` to load a checkpoint and perform evaluation.
Here is the relevant code
https://github.com/pytorch/vision/blob/81d764877523e491af03d3e37f6b295f9d8a6cbb/references/detection/train.py#L112-L121

Let us know if you have further questions!

[2020-09-28 09:59] #2711 closed

[2020-09-28 10:20] github-actions[bot] opened #2715 "Scheduled workflow tests/download failed"
Oh no, something went wrong in the scheduled workflow tests/download.
Please look into it:

https://github.com/pytorch/vision/actions/runs/276447349

Feel free to close this if this was just a one-off error.

cc @pmeier

[2020-09-28 10:27] fmassa commented on #2715
This worked, closing it

[2020-09-28 10:27] #2715 closed

[2020-09-28 12:00] XinyuLyu opened #2717 "What's the pretrained_settings for r2plus1d_18?"
## ❓ Questions and Help

### Please note that this issue tracker is not a help form and this issue will be closed.

We have a set of [listed resources available on the website](https://pytorch.org/resources). Our primary means of support is our discussion forum:

- [Discussion Forum](https://discuss.pytorch.org/)
Hi,
I want to know the pretrained_settings for r2plus1d_18, which has not been implem

[2020-09-28 13:11] dang-qi opened #2719 "I think the Anchor generator have some problem when generate the anchors"
I think the code here has some problem

            grid_sizes, strides, cell_anchors
        ):
https://github.com/pytorch/vision/blob/505cd6957711af790211896d32b40291bea1bc21/torchvision/models/detection/rpn.py#L124

It should be:

` for size, stride, base_anchors in zip(
            grid_sizes, strides, cell_anchors
        ):`
    `for base_anchors in cell_anchors:`
           `         do oth

[2020-09-28 13:37] sheromon opened #2720 "CocoDetection dataset incompatible with Faster R-CNN model"
## 🐛 Bug
Before I report my issue, I'd like to say that the TorchVision Object Detection Finetuning tutorial is excellent! I've found the code to be easy to work with, but the tutorial made it even more accessible -- it got me training on my custom dataset in just a few hours (including making my own Docker image with GPU support).

The CocoDetection dataset appears to be incompatible with the Fas

[2020-09-28 14:34] fmassa commented on #2720
Hi,

Thanks for opening this issue. Your assessment is correct: the current implementation for COCODataset is not compatible with the one that the training code expects.
In our reference scripts, we perform the conversion needed so that you can use it, see
https://github.com/pytorch/vision/blob/898802fe41fa060328649ae0a60cbd72110b4633/references/detection/coco_utils.py#L209-L220
where we add an ex

[2020-09-28 14:43] dang-qi commented on #2719
The code was correct. I just used it wrong. Sorry

[2020-09-28 14:43] #2719 closed

[2020-09-28 15:33] sheromon commented on #2720
Thanks for your quick response! Your explanation makes sense, and the additional code that you referenced is very helpful.

I feel like you'd agree that what feels intuitive/natural is for the output of CocoDetection to match the current expectation of the object detection model training. I agree that making the change would break backward compatibility. Might the current behavior potentially be d

[2020-09-28 15:41] fmassa commented on #2692
Good catch. This is actually an artifact of testing  that should be changed -- we wrapped the C++ models in Python so that we could compare the outputs of the model. But torchvision library itself only uses `torch/script.h`.

[2020-09-28 15:45] fmassa commented on #2719
@dang-qi yes, I agree that the default can be misleading. I would be happy accept a PR improving the comments / changing the default in a BC-compatible way

[2020-09-28 17:03] bjuncek commented on #2717
Hi @XinyuLyu, the parameters were as follows:
[code]

I will add README.md to the video classification models to make this clear :)

Thanks for your question,
Bruno

[2020-09-28 18:40] zcain117 opened #2724 "fatal error: 'jpeglib.h' file not found"
## 🐛 Bug

@andfoy @fmassa
My team builds torch and torchvision from source using Google Cloud Build running `debian:stretch` base docker image. After #2696 was submitted, our builds started to fail with:
[code]

Is there something we should do now that #2696 was submitted to be able to build?
E.g. is it expected we should have to run `apt-get install libjpeg` or something similar?
And is there any

[2020-09-28 19:20] #2686 closed

[2020-09-28 19:39] andfoy commented on #2724
Hi @zcain117, thanks for opening this issue, this is a problem indeed with `jpegcommon.cpp`, I forgot to check for the `JPEG_FOUND` guard there

[2020-09-28 19:54] andfoy commented on #2724
@zcain117, does https://github.com/pytorch/vision/pull/2725 fixes this issue?

[2020-09-28 20:12] zcain117 commented on #2724
Thanks for taking a look!
I think that would fix it. I'm looking into how I can force Google Cloud Build to check out pending code to try it, but the build takes over an hour to reach the failing point so it will be a while until I can tell if it works

[2020-09-28 21:49] zcain117 commented on #2724
@andfoy LGTM! The build is still running but it's past the torchvision step so I think #2725 is a good fix

[2020-09-28 21:55] andfoy commented on #2724
@zcain117, great to hear that it works now!

[2020-09-29 00:37] mikeseven commented on #2712
I'm not sure I did it correctly because it's only one line change but tons of lines against pytorch master
PR is #45472 in pytorch repo

[2020-09-29 01:57] XinyuLyu commented on #2717
Thank you so much!!!

[2020-09-29 07:14] #2724 closed

[2020-09-29 07:16] fmassa commented on #2724
Thanks for raising this issue @zcain117 ! Should be fixed now, and we should add one CI in torchvision to catch those regressions in the future.

[2020-09-29 12:20] fmassa commented on #2717
Also note that those models were trained on 64 GPUs. Further details are in #2723

[2020-09-29 12:20] #2717 closed

[2020-09-29 13:05] fmassa commented on #2720
We could potentially change the output format (and have a deprecation cycle for a few releases to let users fix their code), but I'm always wary of breaking changes as there are many tutorials / code out there that uses the current behavior.

We have been very careful in the past with breaking changes like this one, so this is something that deserves further discussion.

cc @dongreenberg let's dis

[2020-09-29 16:43] jamt9000 commented on #2365
What implications will this and #2596 have for users of the conda-forge version of ffmpeg with libx264? Would they be ABI compatible or not?

For example, a research project might include a conda environment.yml with torchvision and conda-forge::ffmpeg intended to be used for some pre-processing scripts, which would break if the pytorch ffmpeg can't open the same files.

Will the plan be to autodo

[2020-09-29 17:24] andfoy commented on #2365
Hi @jamt9000, thanks for posting these questions. Right now we require a LGPL-licensed version of FFmpeg, so that torchvision can link against it, since this project has a BSD3 license, different from the version found in conda-forge (GPL). Here are some answers to your questions

With respect to the versions, we had to build FFmpeg 4.2, due to some SSE/MMX errors (#2650) on `libswscale` that were

[2020-09-29 17:51] andfoy commented on #2365
@jamt9000, I was looking at the FFmpeg documentation, and it states:

So, basically my assessment is completely wrong, so there shouldn't be any problem if you install ffmpeg/av from conda-forge.

[2020-09-30 09:18] fmassa commented on #2712
@mikeseven I think it would just be simpler / easier to send a PR to torchvision changing the implementation of GoogleNet / Inception quantized models to implement the patches from #1949 there.
The PR you sent to PyTorch targets branch 1.6.0, and we will most probably not be cutting a new release on top of the 1.6.0 branch.

[2020-09-30 09:22] #2702 closed

[2020-09-30 09:36] fmassa commented on #2590
Hi,

I'm closing this issue following @bmanga comment that you might need to update CMake. Let us know if you have further issues.

[2020-09-30 09:36] #2590 closed

[2020-09-30 09:37] fmassa commented on #2701
@xkszltl can you send a PR with the proposed fix, linking to this issue?

[2020-09-30 09:41] fmassa commented on #2132
FYI this issue should have been fixed in torchvision 0.7.0

[2020-09-30 12:18] jamt9000 commented on #2365
Ok, I think I understand.

So the three potential versions of ffmpeg one is likely to have installed through conda are:

<details>
<summary>anaconda (4.2.2, SONAME=libavcodec.so.58, GPL)</summary>
<code>ffmpeg version 4.2.2 Copyright (c) 2000-2019 the FFmpeg developers
  built with gcc 7.3.0 (crosstool-NG 1.23.0.449-a04d0)
  configuration: --prefix=/home/ubuntu/anaconda3/envs/ffmpegtest --cc=/tmp/

[2020-09-30 13:42] gujralsanyam22 opened #2733 "Isssue reagading documentattion"
## 📚 Documentation

[2020-09-30 13:42] gujralsanyam22 commented on #2733
UpdateReadme.md

[2020-09-30 14:15] vfdev-5 commented on #2733
@gujralsanyam22 could you detail the issue with the documentation ?

[2020-09-30 14:19] fmassa commented on #2733
This is related to https://github.com/pytorch/vision/pull/2732

[2020-09-30 16:44] andfoy commented on #2365
Just for the record, this one also segfaults

[2020-09-30 17:36] sheromon commented on #2720
Thanks for your consideration.

At the very least, if someone is confused like I was, they can find this issue!

[2020-09-30 18:02] gujralsanyam22 commented on #2733
Yes

On Wed, Sep 30, 2020, 7:49 PM Francisco Massa <notifications@github.com>
wrote:

[2020-10-01 10:20] fmassa commented on #2733
Closing following https://github.com/pytorch/vision/pull/2732#issuecomment-702021731

[2020-10-01 10:20] #2733 closed

[2020-10-01 11:21] #2687 closed

[2020-10-01 11:40] lysukhin opened #2736 "Cannot load scripted Keypoint-RCNN model in C++"
## 🐛 Bug

Hello!

I am trying to load a Keypoint-RCNN model into C++ via TorchScript scripting.
Scripting in python itself works ok (with no errors), however loading to C++ throws an error:

[code]

And yes, I am using nightly builds (`torch ver. 1.7.0.dev20200929`, `torchvision ver. 0.8.0.dev20200929`) (as offered here: https://discuss.pytorch.org/t/torchvision-ops-nms-in-torchscript/89286/2).
##

[2020-10-01 11:46] vfdev-5 commented on #2736
Thanks for the report! Recently, faster rcnn resnet50 tracing test was added: https://github.com/pytorch/vision/tree/master/test/tracing/frcnn

 Could you please check if it works for you with faster rcnn like in the test and if it fails with keypoint rcnn ?

cc @andfoy

[2020-10-01 11:49] lysukhin commented on #2736
@vfdev-5 Hello!
Tried to change model to `torchvision.models.detection.fasterrcnn_resnet50_fpn` as you proposed, and it worked just fine (no errors thrown).

[2020-10-01 12:26] fmassa commented on #2736
@lysukhin Can you try compiling the example in https://github.com/pytorch/vision/tree/master/test/tracing/frcnn (using the CMakeLists from there) and report back?
We run that test on CI, so this is working on our side.

Also, looks like the example had to include `RoIAlign` and `NMS` as well, could you try that as well?
https://github.com/pytorch/vision/blob/e70c91a9ff9b8a20e05c133aec6ec3ed538c32f

[2020-10-01 12:29] vfdev-5 opened #2738 "Fix incorrect layout in transforms docs"
## 📚 Documentation

Fix this incorrect layout of sections/subsections:
<img width="857" alt="Screen Shot 2020-10-01 at 14 28 43" src="https://user-images.githubusercontent.com/2459423/94809140-74b63800-03f2-11eb-91d8-731e475fe75d.png">

[code]

[2020-10-01 12:35] xkszltl commented on #2701
Sure, I thought you guys would just put it in whatever PR that comes next.

[2020-10-01 13:53] #2701 closed

[2020-10-01 14:23] lysukhin commented on #2736
@fmassa Sure, but I'm not able to locate `TorchVisionConfig.cmake` that seems to be required for compiling. Does it come with `conda` installation?

[2020-10-01 14:30] vfdev-5 commented on #2736
@lysukhin I think you have to build torchvision C++ API as here : https://github.com/pytorch/vision#c-api

[2020-10-01 14:57] jamt9000 commented on #2381
I could try this.

Potential ways to make it work for PIL are

* Use slicing to "unpad" the ndarray for the negative values https://stackoverflow.com/a/24806313
* The same but use PIL .crop() once it has become an Image again
* Convert to tensor instead of ndarray and re-use the tensor implementation

Any reasons to prefer either one?

[2020-10-01 16:48] jamt9000 commented on #2381
These verbose but hopefully correct changes would make it work for the slicing approach:

[code]

<details><summary>Modified test script</summary>

[code]

</details>

[2020-10-01 16:53] lysukhin commented on #2736
@vfdev-5 @fmassa Well, I was able to build torchvision C++ API from source (after a couple of rows of re-installing `cmake` and so).

But using provided code for CMakeLists.txt and so from here as you suggested (https://github.com/pytorch/vision/tree/master/test/tracing/frcnn) still results in a `Unknown builtin op: torchvision::nms` error :(

There might be something that I'm missing here!

[2020-10-01 18:19] fmassa commented on #2736
@lysukhin here is what our CI does:
https://github.com/pytorch/vision/blob/a98e17e50146529cdfadb590ba063e6bbee71de2/.circleci/config.yml.in#L603-L606

The env setup is in [this file](https://github.com/pytorch/vision/blob/master/.circleci/unittest/linux/scripts/setup_env.sh), which basically setups conda and install the dependencies.

The rest of the CI exports include paths and generates the CMak

[2020-10-01 19:11] andfoy commented on #2736
@lysukhin, don't forget also to install libtorchvision via `make install`, otherwise you'll get the TorchVisionConfig.cmake error

https://github.com/pytorch/vision/blob/a98e17e50146529cdfadb590ba063e6bbee71de2/packaging/build_cmake.sh#L48

[2020-10-01 19:25] fmassa commented on #2736
@andfoy might be good to better document how to get Faster R-CNN to run on torchscript C++. Maybe an example or tutorial would be helpful to consider?

[2020-10-01 19:39] andfoy commented on #2736
We should definitely add a tutorial so that it is more easier for users to use

[2020-10-02 02:43] chinglamchoi commented on #1943
I'm having the same issues on `torch=1.4.0` and torchvision=`0.5.0`. Here's my error message:

  File "train.py", line 15, in <module>
    model.setup(opt)
  File "/home/cchoi/n2d/models/base_model.py", line 29, in setup
    self.load_networks(opt.epoch)
  File "/home/cchoi/n2d/models/base_model.py", line 129, in load_networks
    state_dict = torch.load(load_path, map_location=str(self.device))

[2020-10-02 05:58] kashf99 commented on #2154
ValueError: All bounding boxes should have positive height and width. Found invaid box [500.728515625, 533.3333129882812, 231.10546875, 255.2083282470703] for target at index 0.
i am getting this error using detecto for object detection

[2020-10-02 06:11] kashf99 opened #2740 "ValueError: All bounding boxes should have positive height and width. Found invaid box [500.728515625, 533.3333129882812, 231.10546875, 255.2083282470703] for target at index 0."
i am training detecto for custom object detection. anyone who can help me as soon as possible. i will be very grateful to you.
here is the code.
     from detecto import core, utils, visualize
    dataset = core.Dataset('content/sample_data/newdataset/car/images/')
    model = core.Model(['car'])
    model.fit(dataset)

here is the output:

ValueError                                Traceback (most

[2020-10-02 07:32] oke-aditya commented on #2740
I guess you have a degenerate box case. The boxes should be of format (xmin, ymin, xmax, ymax) for FRCNN to work.
You are having exactly opposite bounding box (degenerate case).

[2020-10-02 08:55] fmassa commented on #2740
Hi,

The answer from @oke-aditya is correct. You are probably passing to the model bounding boxes in the format `[xmin, ymin, width, height]`, while Faster R-CNN expects boxes to be in `[xmin, ymin, xmax, ymax]` format.

Changing this should fix the issue.

We have btw recently added box conversion utilities to torchvision (thanks to @oke-aditya ), they can be found in https://github.com/pytorch/v

[2020-10-02 08:55] #2740 closed

[2020-10-02 08:57] fmassa commented on #2154
@kashf99 this is the same as https://github.com/pytorch/vision/issues/2740.

[2020-10-02 09:42] kashf99 commented on #2740
So should I change my xml file format.

[2020-10-02 09:48] fmassa commented on #2740
@kashf99 this question is better suited to the detecto repo, and this is part of their API. https://github.com/alankbi/detecto

[2020-10-02 09:49] kashf99 commented on #2740
Ok thank you

[2020-10-02 12:00] vfdev-5 commented on #2381
@jamt9000 thanks for the suggestions and sorry for late reply. Can we just use PIL `.crop` for negative values as a preprocessing before padding (if any positive value provided) for PIL input ?
Something like, in 3 steps, 1) we crop for negative values if there are, 2) set negative to 0 and 3) pad for positive values as it is currently implemented. What do you think ?

[2020-10-02 12:12] lysukhin commented on #2736
@fmassa
Thanks for your advice. I've tried to follow the scripts that you provided. Now I come up with the following sequence (NB: I removed my previous `conda` installation to exclude option of some crazy under-the-hood envs interference):

[code]

But still I'm getting this annoying thing:

[code]

[2020-10-02 12:16] fmassa opened #2742 "Implement JPEG decoding via nvjpeg"
## 🚀 Feature

We currently provide CPU image decoding functions for PNG and JPEG. It could be interesting to consider using nvjpeg to perform decoding directly on the GPU, as it could benefit certain workloads.

## Motivation

With CUDA 10.0, nvjpeg is [part of the CUDA toolkit](https://developer.nvidia.com/nvjpeg), which means that it would be easily accessible for us to use it.

The API for the

[2020-10-02 12:36] fmassa commented on #2736
@andfoy can you help @lysukhin solve this issue? We definitely need better instructions on how to get torchvision custom ops running in torchscript on C++

[2020-10-02 12:41] fmassa opened #2743 "Figure out a way to use tempfile.NamedTemporaryFile on Windows"
Using `tempfile.NamedTemporaryFile` or `TemporaryDirectory` on Windows is very brittle, and a Google search returns multiple users facing similar issues.

We obtain errors on Windows such as
[code]
and from there it was a rabbithole.

The latest example of it was in https://github.com/pytorch/vision/pull/2728#issuecomment-700853538, where in the end I gave up on using `tempfile` and instead went f

[2020-10-02 13:02] pmeier commented on #2743
I always use

[code]

from [here](http://www.voidspace.org.uk/downloads/pathutils.py). Could you try this and see if it works for your tests?

[2020-10-02 13:13] fmassa commented on #2743
I tried that in the past, see https://github.com/pytorch/vision/pull/2728/commits/3038c2103fb40c7f78cff388862fc6dfe8d38c7b

I have a guess of why this wasn't working now -- I didn't add a file extension, and maybe that's what was breaking it all on Windows.

I'll report back if this is indeed the case, and then close this issue if that fixes it

[2020-10-02 13:39] peterjc123 commented on #2743
@fmassa According tp my experience, the message "permission failed" here doesn't actually refer to a problem related to acess/rights. Instead, it is complaining about sth else like you couldn't delete a file/directory if it is still in use, or you couldn't open a file twice with different acess rights, which makes tempfile not so useful under Windows.
@fmassa Do you think it is a good ideat

[2020-10-02 14:16] fmassa commented on #2743
@peterjc123 it looks like the issue is in our code, either the `stat` call in C++ or on `from_buffer`, following https://github.com/pytorch/vision/pull/2728/commits/2d60d28d80a7a7bbd46f7b176928c0ff56b50808

Do you have any idea on what this might be?

[2020-10-02 14:56] kashf99 commented on #2740
Yeah thank you . It worked. But its very slow. Overload of nonzero is deprecated.

[2020-10-02 15:04] fmassa commented on #2740
This has been fixed in torchvision master since https://github.com/pytorch/vision/pull/2705

[2020-10-02 15:21] bwesen commented on #2194
FYI this happens with "normal" loading as well like opening a png with PIL Image, as luminance image for example, and then doing tvt.functional.pil_to_tensor warns this warning. Doesn't have to be a float image.

 pic = Image.open(fn).convert(mode='L')
tensor = tvt.functional.pil_to_tensor(img).type(torch.ByteTensor)

=> the warning, ending with:
(Triggered internally at  /pytorch/torch/csrc/utils

[2020-10-02 16:46] AniTho opened #2746 "LSUN bedroom_train data load error"
## 🐛 Bug

I am trying to load the lsun bedroom_train data from torchvision.dataset but it's returning an error.

## To Reproduce

Steps to reproduce the behavior:

1. import torch
2. from torchvision import transforms
3. from torchvision import datasets
4. import os
5. path = os.getcwd()
6. train_transform = transforms.Compose([
7.    transforms.ToTensor(),
8.   transforms.Normalize((0.5,0.5,0.5),

[2020-10-02 17:36] pmeier commented on #2746
Hey @AniTho. The error you are facing is expected, since currently no download logic is implemented for the `LSUN` dataset. That being said, we are happy to accept PRs that change this.

[2020-10-02 17:52] AniTho commented on #2746
@pmeier I will take the task if needed?

[2020-10-02 18:09] pmeier commented on #2746
@AniTho Sure, go ahead and open a PR. Ping me when you are done and I will review it.

[2020-10-02 18:20] AniTho commented on #2746
Okay I will start working on it.

[2020-10-02 18:48] jamt9000 commented on #2743
Related: https://github.com/pytorch/vision/pull/1662

[2020-10-03 05:59] AniTho commented on #2746
I want to ask one thing that the downloading site of lsun doesn't have test data. It only have train and valid data. So should I consider valid data as test or should I remove the option of test data?

[2020-10-03 07:57] AniTho commented on #2746
@pmeier Only downloading and extracting logic has to be implemented, right? I think loading logic is implemented with lmdb

[2020-10-03 08:05] pmeier commented on #2746
Only the download logic needed. Everything is already implemented.

[2020-10-03 11:04] AniTho commented on #2746
@pmeier I have opened a PR after implementation

[2020-10-03 19:53] ijelliti commented on #1876
adding `hub/` in the path after `/.cache/torch/` worked for me

[2020-10-04 01:25] whatdhack opened #2750 "Improve Pytorch script model inference performance by (ah) 2500 times !"
## 🚀 Feature
Pytorch scritp model takes 347s for inference vs regular Pytorch that takes 0.14 s.

## Motivation

## Pitch

It is an unacceptable level of performance.

## Alternatives

None

## Additional context

[2020-10-04 01:31] #2750 closed

[2020-10-04 13:53] thisisi3 opened #2752 "Has anyone successfully compiled the C++ API on Windows, including the cuda code?"
I have tried many versions of torchvision, none seems to work for me. (on Windows)
1, The old version 0.5.0 simply does not include cuda code into the build.
2, Then I tried 0.6.0, it has the "-openmp" not support error. After a lot of searching and trying, I solved it by deleting one line in the torchvision.vcxproj.
3, 0.6.0 finally gets to compile, but it gives "unresolved external symbol" error

[2020-10-04 15:33] peterjc123 commented on #2677
Hi @fmassa, sorry for missing the message. I'll look into it soon.

[2020-10-04 20:20] harsh2ai opened #2753 "High Level API for OCR tasks"
## 🚀 Feature

Pytorch vision library has many high-level API for performing the tasks under the hood seamlessly if there can be a high-level API for OCR tasks then downloading lots of third party libraries could be avoided.

## Motivation

When I was building one such ocr system I found that there is no generalized way to recognize and text from various image/document formats even due to slight ch

[2020-10-04 20:31] vfdev-5 commented on #2753
@harsh2ai could you please detail your feature request with a concret examples or API suggestions. Thanks !

[2020-10-04 21:53] harsh2ai commented on #2753
@vfdev-5 ocr is used for many wide variety of tasks, some of which include.
1. Invoice ocr
2. Passport OCR
3.Number Plate OCR
4. Text extraction from images
6. OCR for Digital and analogue metres

Having an API which can cover all these tasks would be really handy.

What I propose is something like this

[code]

The above example is for extracting invoices from different data formats and saving th

[2020-10-04 22:00] vfdev-5 commented on #2753
@harsh2ai thanks for the details. IMO, it is a bit out of the scope of torchvision as a very specific high-level application.
Anyway, let's see what @fmassa think.

[2020-10-05 03:17] oke-aditya commented on #2753
Adding a few points. OCR is another task in computer vision (quite common since bank cheque processing was the first thing that used CV). A few papers that are good in OCR

1. [EAST](https://arxiv.org/abs/1704.03155): CVPR 2017 Cited by 594
2. [CRAFT](https://arxiv.org/abs/1904.01941): CVPR 2019 Cited by 86

These two are new offer good SOTA. But they differ as text detection in wild scenes vs tex

[2020-10-05 06:31] peterjc123 commented on #2677
I managed to get it working by replacing `CMakeList.txt` to the content below for 1.6.0.
[code]

BTW, I'll try to cherry-pick the changes and make a pr.

[2020-10-05 07:12] peterjc123 commented on #2752
Sorry for not making it work. Please see me answer in https://github.com/pytorch/vision/issues/2677#issuecomment-703427649. And it will work out of box once https://github.com/pytorch/vision/pull/2754 is merged.

[2020-10-05 12:00] square-1111 opened #2756 "Bad zipfile error while downloading CelebA dataset"
## 🐛 Bug

I am working with CelebA dataset with `download = True`. I am getting an error
```BadZipFile: File is not a zip file```

## To Reproduce
[code]

## Environment
I am working on Google Colab
[code]

[2020-10-05 12:19] fmassa commented on #2756
This is a duplicate of https://github.com/pytorch/vision/issues/2387 and https://github.com/pytorch/vision/issues/2317, and a "fix" is done in https://github.com/pytorch/vision/pull/2321

The issue is that CelebA is stored in Google Drive, and it has exceeded the download quota for the day.
Try again in a different moment and it should work

[2020-10-05 12:19] #2756 closed

[2020-10-05 12:42] #2677 closed

[2020-10-05 12:42] #2752 closed

[2020-10-05 12:45] fmassa commented on #2677
Thanks @peterjc123 !

[2020-10-05 13:54] #2738 closed

[2020-10-05 15:56] francisco-simoes commented on #980
@lukemelas Hi, thanks for the great port.
Any idea when it will be ready to port it torchvision?

[2020-10-05 18:37] oke-aditya opened #2758 "Clean up Assert Statements."
2nd Follow-up of #2710.
As we discussed there, we use `Unittest` framework and not `pytest` though tests run via `pytest`.
We have some places in files [test_onnx.py](https://github.com/pytorch/vision/blob/master/test/test_onnx.py#L414)
and [test_ops.py](https://github.com/pytorch/vision/blob/master/test/test_ops.py#L436) (my bad tests as well).

Most were cleaned previously #1483

I guess I can c

[2020-10-05 18:43] jamt9000 commented on #2743
If you `del` the returned tensor before unlinking does that work?

Since `CloseHandle(handle_);` may be called in the THMapAllocator destructor (although that wouldn't make sense with the expected values of the flags...)

https://github.com/pytorch/pytorch/blob/235f62417d9d66b8f0bd62db385e8eba14a6c1ed/aten/src/TH/THAllocator.cpp#L361

[2020-10-05 22:11] vfdev-5 commented on #2381
Closed via #2749 and #2744

[2020-10-05 22:11] #2381 closed

[2020-10-05 22:39] jamt9000 commented on #2742
It looks like it requires a host pointer and does some preprocessing on the cpu

so passing gpu data directly wouldn't work

[2020-10-06 08:25] oke-aditya opened #2761 "Rotated Bounding Boxes"
## 🚀 Feature
A bit unsure about this feature.

Support Rotated Bounding Boxes in Torchvision.

## Motivation

There is recent research on Rotated Bounding boxes which provides better detection results. I am not able to find highly cited results but a few of them are
1. [Rotation Invariant Detector](https://arxiv.org/pdf/1711.09405v1.pdf)
2. [SCRDET](https://openaccess.thecvf.com/content_ICCV_2019/

[2020-10-06 09:13] fmassa commented on #2742
Yes, that was my understanding as well. We would need to see what potential speed benefits single-image decoding could bring compared to say turbo-jpeg, and if the speed improvements are there what would be a good API for using it. Passing a `device` flag to `decode_jpeg`?

[2020-10-06 09:42] fmassa commented on #2743
Thanks a lot @jamt9000 , your comment was spot on!

Deleting the tensor fixes the [issue on Windows](https://app.circleci.com/pipelines/github/pytorch/vision/4209/workflows/850ead58-ac16-478f-9a78-7cf57e9ceda7/jobs/247948).
[code]

[2020-10-06 10:26] fmassa commented on #2758
Hi @oke-aditya

I think we don't have many more asserts left in the testing code, so a single PR should be fine (as long as there are not 100s of occurrences, if that's the case it's better to split in multiple PRs).

We currently work on both pytest and unittest, and that has traditionally been the case (except for maybe latest tests from @pmeier in https://github.com/pytorch/vision/blob/master/t

[2020-10-06 10:42] square-1111 commented on #2756
Thank You for the leads.

[2020-10-06 10:50] shehroz010 opened #2762 "Mask-rcnn torchscript doesn't load in Android: Unknown builtin op: torchvision::_new_empty_tensor_op"
I have trained a faster rcnn model on a custom dataset but, when I try to take trace of the model using jit.trace() it throws some errors. So I tried jit.script(). It works but when I try to load it into an android module it fails and throws and error
**"could not find a similar ops to torchvision: :_new_empty_tensor_op .This op may not exist or may not be currently supported in TorchScript".**

*

[2020-10-06 11:20] fmassa commented on #2743
The root cause of the issue that sparkled this issue was fixed via https://github.com/pytorch/vision/issues/2743#issuecomment-703817293 , so this is less of a priority for now. Using `get_tmp_dir` (or `TemporaryDirectory` probably works as well) should be fine.

[2020-10-06 12:22] fmassa commented on #2762
cc @dreiss

[2020-10-06 12:40] fmassa commented on #2761
Hi,

This is a good thing to consider adding to torchvision, but as you mentioned it might involve quite a few changes so it won't be easy to do.

If you are interested in having support for rotated bounding boxes, please "tumbs up" the main post.

[2020-10-06 12:43] pmeier commented on #2758
The only thing `self.assertEqual()` and all the others methods do, is improving the error message of a plain `assert` when run from `unittest`. Since we are not doing that and instead run the test with `pytest`, they might even be detrimental: if `pytest` detects an `AssertionError` without custom message it provides a detailed introspection why the `assert` failed. Since the `unittest` methods us

[2020-10-06 12:43] shehroz010 commented on #2762
@fmassa does the above point is also true for faster rcnn model too? As I am using a pretrained faster rcnn model which is trained on custom a dataset.

[2020-10-06 12:55] fmassa commented on #2762
@shehroz010 yes, this is true for all R-CNN models in torchvision (Faster R-CNN, Mask R-CNN and Keypoint R-CNN), you should use `torch.jit.script` instead of `torch.jit.trace`.

[2020-10-06 12:58] fmassa commented on #2758
@pmeier in torchvision we will follow whatever PyTorch uses, and PyTorch currently uses `self.assertEqual` and such.

[2020-10-06 13:02] shehroz010 commented on #2762
Ok, I switched to `jit.script()` but in that I got another issue regarding "new_empty_tensor_op" which you have already seen. And thanks for clearing this as I can focus on `jit.script()` issue only. One more thing, is there will be any support going to be added to RCNN models for `jit.trace()` ?

[2020-10-06 13:07] fmassa commented on #2762
@shehroz010 we will not be supporting `torch.jit.trace` for Mask R-CNN, as it's less robust / flexible than `torch.jit.script`. If you want to export your model to ONNX you can, via `torch.onnx.export`.

The issue with `new_empty_tensor_op` is a known problem, and @dreiss is aware of it and will be working on a solution in the future.

[2020-10-06 13:33] shehroz010 commented on #2762
@fmassa thankyou so much for the info.

[2020-10-06 13:33] zhangguanheng66 commented on #2758
For torchtext, we use `self.assertEqual`, which is from `torch.testing._internal.common_utils` as pointed out above.

[2020-10-06 13:52] mthrok commented on #2758
@cpuhrsch once told me that PyTorch's `asserEqual` does more than giving a better error message, but also check other stuff (contiguous?) and there was some release related issue that PyTorch's`asserEqual` could have caught on PyTorch core. I forgot the detail but that convinced me to use PyTorch's `assertEqual`.

[2020-10-06 14:09] peterjc123 commented on #2743
It seems that I have looked into this before and made the PR [here](https://github.com/pytorch/pytorch/blob/235f62417d9d66b8f0bd62db385e8eba14a6c1ed/aten/src/TH/THAllocator.cpp#L361) for PyTorch but it gets rejected. Actually, it is okay to delete the file while it's open if all file read/write requests are opened with `FILE_SHARE_DELETE`.

[2020-10-06 14:14] peterjc123 commented on #2743
@fmassa @jamt9000 If you have any good suggestion for this, please don't hesitate to tell me. If we got a good idea, we should send the patch to PyTorch.

[2020-10-06 15:14] fmassa commented on #2743
@peterjc123 I might be missing something, but given that `from_file` doesnt' lazily load the contents of the file in memory (contrary to `numpy.memmap`, could we close all references to the file upon returning it?

A quick test in https://github.com/pytorch/vision/pull/2763 seems to indicate that [numpy handles this case correctly](https://github.com/numpy/numpy/blob/e6b8b19ee832ae89289721301a4f5a

[2020-10-06 15:35] pmeier commented on #2758
Since this discussion "escalated" beyond `torchvision`, some clarifications: within our test suite we are **not** using [`torch.testing._internal.common_utils.TestCase`](https://github.com/pytorch/pytorch/blob/b1373a74e052ba482f021ce60a6b381fd0d40423/torch/testing/_internal/common_utils.py#L767) but rather plain [unittest.TestCase](https://docs.python.org/3/library/unittest.html#unittest.TestCase)

[2020-10-06 16:14] fmassa commented on #2381
Thanks a lot for the help @jamt9000 and @vfdev-5 !

[2020-10-06 17:08] peterjc123 commented on #2743
@fmassa The problem is that `torch::from_file` is using `THMapAllocator` which uses `CreateFileMapping` & `MapViewOfFile`. We should not automatically release those resources unless the allocator is destroyed because we don't know when we finish reading the file. I guess to implement what you want, we should use `ReadFile` instead.

[2020-10-06 18:26] #2365 closed

[2020-10-06 19:20] bjuncek commented on #2660
Adding the feature request tracker:

- [ ] performance upgrade - at the moment there is a constant overhead for tensor allocation
- [ ] lack of support for random byte, CC, and SUB streams
- [ ] exposing the operator through `torchvision.io`

[2020-10-06 20:08] vincentqb commented on #2758
(same for torchaudio)

[2020-10-07 11:26] fmassa commented on #2758
I think we would like to use `torch.testing._internal.common_utils.TestCase` in torchvision. This was [not exposed in PyTorch lib the past](https://github.com/pytorch/pytorch/pull/30445), and thus we had to copy [our own variants in `common_utils.py`](https://github.com/pytorch/vision/blob/87c7864122e693948fee87c1a936c5b674c8a9b9/test/common_utils.py#L86-L87), which has a few copy-paste from [`com

[2020-10-07 11:42] jamt9000 commented on #2743
I guess a workaround would be for the torchvision `read_file` wrapper to clone the tensor from `torch::from_file()` and delete the original (at the expense of an extra copy).

[2020-10-07 12:07] fmassa commented on #2743
@jamt9000 yes, I considered that as a workaround as well. It would be a bit slower and double the amount of memory used, but might be better.
We could even add an `#ifdef _WIN32` so that this only affects Windows, I would be ok with that.

Would you be willing to send a PR with this workaround?

[2020-10-07 12:28] peterjc123 commented on #2743
@jamt9000 Yes, that should work. But acutally, you don't have to copy. Creating a new tensor and swapping the data pointers in it seems to be better.

[2020-10-07 12:30] peterjc123 commented on #2743
Another workground is mentioned in https://github.com/pytorch/pytorch/issues/45962, that is, to create a context manager to delete the tensors automatically.

[2020-10-07 13:20] fmassa commented on #2743
@peterjc123 I would prefer to avoid the extra context manager, as it might have some weird side effects (does it delete all tensors created within the context managers, or only those created via `from_file` ?)

I wonder what would be the drawbacks of not using file mapping, and instead reading the content of the file in memory, if `shared=False` ?

[2020-10-07 13:37] peterjc123 commented on #2743
File mapping is great for random IO. Also, it is more efficient because all the data are mapped to a virtual address so it is benefiting from the system caching. But if you just read a file from head to tail, I don't see too many differences it would make.

[2020-10-07 14:23] fmassa commented on #2743
@peterjc123 Hum, ok, so maybe the system caching could be beneficial.

My first thought was that given that we don't expose anything in PyTorch similar to [`numpy.memmap`](https://numpy.org/doc/stable/reference/generated/numpy.memmap.html), which allows us to benefit from only reading partially the file, there wouldn't be much benefits from file mapping, but I missed what you just mentioned about

[2020-10-07 15:34] oke-aditya commented on #2556
I'have slight different thoughts towards the API of bounding box implementations.

Allow user to pass Bboxes which are outputs of our detection models. This will make it easier to plot and process, as most probably people are using this function for detection models in torchvision
.
BBoxes can hence be a tensor, thus this utlity will come in hand when we are using detection models.

Also then user

[2020-10-07 17:28] #2743 closed

[2020-10-07 17:52] oke-aditya opened #2771 "Add a .gitattributes file to fix line count of Jupyter notebook"
## 🚀 Feature

Not exactly a Feature Request.
Jupyter notebooks lead to a lot of line count since GitHub does not render them properly.
Adding new Jupyter notebooks will soon make this library with primary langauge of Jupyter very high.
While this library is in python. This creates a misconception in first sight.

A neat workaround is to have a `.gitattributes` file as follows. Remove `#` Where sui

[2020-10-07 18:08] fmassa commented on #2771
That sounds like a good addition to me. Can you open a PR adding this?

[2020-10-07 18:39] #2771 closed

[2020-10-08 07:22] huang229 opened #2774 "I hope you can provide 3D align-pooling layer directly. Pray."
I see that 2D align-pooling has been implemented, but there is no 3D one. I do target detection of 3D voxels. The input data format is (batch, channel, depth, height, w). I customized a 3D align-pooling Op.  However, there is a big problem in the deployment. The custom OP needs to be registered in the torchscript. In this way, the model can be exported normally, and finally the model can be loaded

[2020-10-08 08:51] lysukhin commented on #2736
Any updates on this? @andfoy

[2020-10-08 08:53] vfdev-5 commented on #2635
Closed via #2658

[2020-10-08 08:53] #2635 closed

[2020-10-08 09:00] square-1111 commented on #2756
`AttributeError: 'tqdm' object has no attribute 'close'` -- I am getting this error on local machine. Is this error associated with exceeding download quota or something else?

[2020-10-08 09:02] vfdev-5 commented on #2756
@square-1111 could you please provide a minimal code snippet and list of installed packages to reproduce the issue. Thanks

[2020-10-08 09:03] fmassa commented on #2756
This error is different -- can you check if you have tqdm installed? If not, might be that the helper implementation of tqdm that we provide doesn't have the close method

[2020-10-08 09:13] zhiqwang commented on #2736
I changed this line

https://github.com/pytorch/vision/blob/6756ed0292315e7dcae19e03362840c22c9034fb/test/tracing/frcnn/test_frcnn_tracing.cpp#L4

to `#include <torchvision/ROIPool.h>` can addresses this issue, but as
@fmassa mentioned here https://github.com/pytorch/vision/pull/2679#pullrequestreview-492399090, the `faster rcnn` model uses `ROIAlign` instead, it's weird. Maybe you can try this?

[2020-10-08 09:44] square-1111 commented on #2756
@vfdev-5 I am trying to run
[code]

and getting this error `AttributeError: 'tqdm' object has no attribute 'close'`

[2020-10-08 13:21] fmassa opened #2776 "CI tests only run on conda"
## 🚀 Feature

Run CI tests on pip as well.

## Motivation

We have traditionally built torchvision via both conda and pip, but we only perform tests on conda.

This has been generally fine because there was nothing which was specific to pip that could affect runtime and wouldn't be catch by a conda test.

This is not true anymore since the addition of libpng / libjpeg / ffmpeg as dependencies to t

[2020-10-08 13:33] fmassa commented on #2756
@square-1111 can you try doing in a new interpreter
[code]
and report back? You probably don't have tqdm installed, and the [PyTorch fallback doesn't implement `close`](https://github.com/pytorch/pytorch/blob/acca11b89808c8d57e914057a6c0e60cb66cea46/torch/hub.py#L22-L49)

@pmeier we should probably fix this somehow, either by removing the need of a `close` in our offending function or by adding a

[2020-10-08 13:35] pmeier commented on #2756
I'll look into it.

[2020-10-08 17:27] pmeier commented on #2756
pytorch/pytorch#46040 will fix the `tqdm` mock.

[2020-10-08 19:01] fmassa commented on #2776
Yes, better smoke tests could also be a possibility. This is the [type of smoke test I would add](https://github.com/pytorch/vision/pull/2775/files#diff-6871d4685a3833d2b675915aad544bfc) in addition to importing torchvision.

One thing to take into account though is that smoke tests generally only run on a schedule, but while implementing / debugging a new feature that has different handling for p

[2020-10-09 02:44] peterjc123 commented on #2688
@andfoy What extra work is needed here?

[2020-10-09 04:13] andfoy commented on #2688
I've just opened a PR on builder, it is only missing some minor details regarding the conda recipe, however I've been progressing slow on that since I don't have SSH permission there

[2020-10-09 04:14] andfoy commented on #2688
@peterjc123 https://github.com/pytorch/builder/pull/544

[2020-10-09 09:48] eric4note commented on #1943
I ran into the same problem with pytorch 1.4

[2020-10-09 10:50] #2148 closed

[2020-10-09 11:06] thisisi3 opened #2779 "Error handling for operators, C++ library."
When I try to use roi_align, it exits without printing any message. The error is not caught as std::exception &/* but caught in catch(...). But I can not find any message about the error, std::current_exception() won't do the job either. Note that I am windows, do not know if it matters. Thanks.

cc @peterjc123 @nbcsm @guyang3532 @maxluk @gunandrose4u @smartcat2010 @mszhanyi

[2020-10-09 11:09] vfdev-5 commented on #2779
@thisisi3 could you please provide details on your environment: compiler version, pytorch version, torchvision version and a code snippet to reproduce your issue. Thanks

[2020-10-09 14:30] AdeelH opened #2780 "The ASPP layer has a hard-coded value that only works if the atrous_rates param is of length 3"
## 🐛 Bug

The ASPP layer has a hard-coded value that only works if the list of atrous rates provided is of length 3. The hard-coded value in question is the `5` on line 83 here:
https://github.com/pytorch/vision/blob/master/torchvision/models/segmentation/deeplabv3.py#L82-L86

## To Reproduce

[code]
Results in
[code]

## Expected behavior

It should work with different number of atrous rates. Thi

[2020-10-09 14:43] vfdev-5 commented on #2780
@AdeelH thanks for the report! As you correctly pointed out that 5 is due to the number of submodules `len(self.convs)` = 1 conv + len(atrous_rates) + 1 ASPPPooling. I agree that `ASPP` being a public class and publicly exposing `atrous_rates` should not hard-code the number of modules.

If you would like to fix that, feel free to send a PR.

[2020-10-09 15:35] fmassa commented on #2780
Yes please ! A PR fixing this would be great!

[2020-10-09 18:21] harsh2ai commented on #2753
@oke-aditya  some of the datasets include
1. ICDAR 2011
2. ICDAR 2013
3. ICDAR 2015
4. [MSRA Dataset](http://tc11.cvc.uab.es/datasets/MSRA-TD500_1)
5. [Synth Text in the Wild](http://www.robots.ox.ac.uk/~vgg/data/scenetext/)

there are many others as well including

## printed
|dataset|year|
|---|---:|
|[Born-Digital Images (Web and Email)](http://rrc.cvc.uab.es/?ch=1&com=introduction)| 2011-2015

[2020-10-09 18:30] oke-aditya commented on #2753
I well let @fmassa  and @pmeier think over this.

[2020-10-10 06:23] xkszltl opened #2783 "warning: ignoring #pragma omp parallel"
## 🐛 Bug

I'm seeing a lot of `warning: ignoring #pragma omp parallel` like this:
<img width="1085" alt="image" src="https://user-images.githubusercontent.com/5203025/95647645-b5553600-0b03-11eb-94e1-4ad6caf7215d.png">

Maybe there should be a `-fopenmp`?

## Environment

 - PyTorch / torchvision Version (e.g., 1.0 / 0.4.0): master/master
 - OS (e.g., Linux): Ubuntu 18.04
 - How you installed PyTo

[2020-10-10 08:43] pmeier commented on #2753
I agree with @vfdev-5 and @oke-aditya here. `torchvision` only includes basic building blocks for CV tasks as classification, detection and so on. OCR is a higher level application and thus should be in a separate package which might depend on `torchvision`.

@harsh2ai Additional to the points made above by the others, adding OCR to `torchvision` would open it to a lot more applications. Nothing i

[2020-10-10 08:46] pmeier commented on #2556
@oke-aditya Very good points! We didn't consider the detection API before, but I think you are right that `draw_bounding_boxes` should be compatible. You can go ahead and implement this.

[2020-10-10 09:27] oke-aditya commented on #2556
Great Then, I probably need a fresh PR for this. Since I have to rewrite the logic :-) I will cite @sumanthratna in the code

[2020-10-10 09:43] XtianCarlosQ commented on #1707
Hi, to solved this issue is requiered to list the images too:

[code]

[2020-10-10 15:36] harsh2ai commented on #2753
@pmeier should I start working on it then?

[2020-10-10 16:30] pmeier commented on #2753
Not sure I understand you: start with what?

[2020-10-11 04:37] neeraj-j commented on #1943
The model you are trying to load is trained on PyTorch V1.6 or above. Upgrade your PyTorch version to 1.6.

[2020-10-11 09:15] oke-aditya opened #2787 "Warning while generating Docs"
## 🐛 Bug

When we generate docs (locally) there are small warnings.

## To Reproduce

Build the docs by doing following

1. `cd docs`
2. `make html`

![image](https://user-images.githubusercontent.com/47158509/95674764-22360200-0bd0-11eb-9d7b-6acc52f120bf.png)

## Expected behavior

Can we avoid these warnings? They look very minor fixes.

## Environment

 - PyTorch / torchvision Version: 1.6.0 /

[2020-10-11 09:51] oke-aditya opened #2788 "Error with torchvision.io.read_image with models"
## 🐛 Bug

![image](https://user-images.githubusercontent.com/47158509/95675524-87d8bd00-0bd5-11eb-8e50-8fe1ddad0aa0.png)

## To Reproduce

Steps to reproduce the behaviour:

Here is simple code to reproduce the error.
Notice that I'm not passing any transforms to image. Since `torchvision.io.read_image` will read normalized images only.

[code]

## Expected behavior

We should get output. This wor

[2020-10-11 10:34] fmassa commented on #2788
Hi,

The issue is that `read_image` returns a `uint8` tensor, and this tensor needs to be converted to `float32` if you want to perform most operations with CNNs. That's why we have `transforms.ConvertImageDType`

I recommend having a look into our new tutorial in  https://github.com/pytorch/vision/blob/master/examples/python/tensor_transforms.ipynb and let us know if this isn't clear.

[2020-10-11 10:37] fmassa commented on #2787
Yes, please! A PR fixing those would be great. We currently don't have CI to test documentation building, but we should have one.

[2020-10-11 10:39] fmassa opened #2789 "Add CI for documentation building"
Our documentation is not tested in CI, meaning that it can get broken and we will only notice it occasionally, see https://github.com/pytorch/vision/issues/2787 for the latest example.

We should add a CI that builds the documentation together with each PR.

cc @seemethere

[2020-10-11 11:01] oke-aditya commented on #2788
Thanks, fmassa. I thought that `read_image` does read in `float32` format as it was drop in replacement for `PIL`.

The tutorial makes this point clear. Maybe we should add this short note in docs of `read_imge` that it needs this op to pass into CNNs ?

Most will feel `read_image` was replacement to
[code]

While it isn't exactly so.

Thanks for clarification. Feel free to close this 👍

[2020-10-11 11:01] #2788 closed

[2020-10-11 13:11] fmassa commented on #2788
Thanks for the feedback @oke-aditya . @vfdev-5 let's think about a way of making this clearer for the user to avoid confusion. The documentation of `read_image` already states that it returns a uint8 Tensor in 0-255, but maybe having a `example` in the documentation would remove any further confusions?

[2020-10-11 13:21] oke-aditya commented on #2788
Yes it would 👍 .

[2020-10-11 13:32] fmassa opened #2790 "python_type_check CI is broken"
This looks like an upstream change that broke CI, see https://app.circleci.com/pipelines/github/pytorch/vision/4305/workflows/9ae30f70-6fa0-419f-966b-8db2e249a12b/jobs/254769 for an example

The error we get is
[code]

cc @seemethere @pmeier

[2020-10-11 15:36] fmassa commented on #2293
Fixed by https://github.com/pytorch/vision/pull/2782

[2020-10-11 15:36] #2293 closed

[2020-10-11 16:54] pmeier commented on #2790
I'm on it.

[2020-10-11 17:12] pmeier commented on #2790
This is caused by [`mypy==0.790`](https://mypy-lang.blogspot.com/2020/10/mypy-0790-released.html) released two days ago. It includes python/typeshed@846d922df238d307a99347f74d91ccb362f876ad which amongst others makes the return types of the `gzip` module more precise.

[2020-10-12 02:54] thisisi3 commented on #2779
nvcc: release 10.1, V10.1.105
cl: 19.16.27043
libtorch: cu101-debug-1.5.0
torchvision: 0.6.0

-----------------below is the code---------------------

#include <torch/torch.h>
#include <iostream>
#include <exception>
#include <stdexcept>
#include <torchvision/nms.h>
#include <torchvision/ROIAlign.h>

void test_roi_align() {
  torch::Tensor input = torch::rand({12, 256, 100, 100});
  torch::Tensor

[2020-10-12 07:21] Vincentyua commented on #2624
I encountered the same problem, but because my sample is in map format, my solution is to use the collate_fn parameter in the DataLoader to solve this problem
data_loader = torch.utils.data.DataLoader( batch_size=batch_size, dataset=data, shuffle=shuffle, num_workers=0, collate_fn=lambda x: x )

[2020-10-12 08:22] #2790 closed

[2020-10-12 08:53] #2780 closed

[2020-10-12 10:52] fmassa commented on #2790
@pmeier so does this mean that using an older mypy will give type checking errors?

[2020-10-12 10:58] pmeier commented on #2790
It shouldn't, but I'm not sure. I'll check and get back to you.

[2020-10-12 11:00] vfdev-5 commented on #2790
Just checked with mypy 0.780 on the master -> no issues
[code]

[2020-10-12 11:03] fmassa commented on #2790
awesome, thanks for checking!

[2020-10-12 11:39] fmassa commented on #2779
Hi,

The issue is that the C++ function expects `rois` to be a `Nx5` tensor. We need to add a better shape check to the C++ side, as we currently only have it on python, see https://github.com/pytorch/vision/pull/1968 for more details.

@vfdev-5 will be working on adding checks on C++ / CUDA as well, so that those types of errors are easily catched.

[2020-10-12 12:53] fmassa commented on #2783
Thanks for the report. We don't directly use omp parallel in nms_cpu, so this might be somewhere else.

We will have a look.

[2020-10-12 15:16] thisisi3 commented on #2779
thanks for clearing it up, i guess the c++ impl is more raw and needs more attention to the potential uncatchable errors.

[2020-10-12 15:36] fmassa commented on #2779
@thisisi3 that's correct, our C++ implementations are a bit more raw and we have been traditionally focusing most on the Python API. But with time we will be improving the C++ API as well.

[2020-10-13 02:06] jhacsonmeza opened #2795 "libopencv_imgcodecs: undefined reference to `LIBTIFF_4.0'"
## 🐛 Bug

After building TorchVision, I've tried to run the [C++ example](https://github.com/pytorch/vision/tree/master/examples/cpp/hello_world) and I get the following error:

[code]

## To Reproduce

Steps to reproduce the behavior:

1. `cmake -DCMAKE_PREFIX_PATH="${HOME}/pytorch/torch;${HOME}/vision/torchvision" ..`
2. `cmake --build .`

In `CMakeLitsts.txt` I have:

[code]

It is necessary fo

[2020-10-13 07:23] fmassa commented on #2795
Hi,

I'm not sure why your OpenCV install is not picking libtiff.

We have CI that compiles and run the example, which was added in https://github.com/pytorch/vision/pull/2678, and you can see in `build_cmake.sh` the commands we used to compile and install torchvision example.

@andfoy do you happen to know what might be the issue?

[2020-10-13 07:52] fmassa opened #2796 "Port all C++ ops to use the dispatcher"
## 🚀 Feature

We currently manually handle CPU / CUDA / autograd dispatches in our wrapper function. We should instead use the dispatcher from PyTorch, which was built to do exactly that.

The work should closely follow the PR from @ezyang in https://github.com/pytorch/vision/pull/2366

## Motivation

The dispatcher is a new mechanism in PyTorch that selects which kernel to run depending on proper

[2020-10-13 07:57] bmanga commented on #2796
With the current master, it now seems that the torchvision ops are no longer registered when building/using the c++ side of torchvision. I think it's related to these dispatcher changes. Is this expected?

My current fix is to manually add `torch::RegisterOperators().op(...)` back into my client code.

[2020-10-13 08:01] fmassa opened #2797 "Enable autocast for all ops"
## 🚀 Feature

Currently only NMS and RoIAlign support autocast (introduced in PyTorch 1.6.0). We should extend support for autocast to all C++ ops in torchvision.

## Motivation

Mixed precision training is PyTorch is obtained via support for autocast (automatically casting between fp16 -> fp32 depending on the operation).

The work should follow what was done for the RoIAlign function in https://

[2020-10-13 08:05] fmassa commented on #2796
Hi @bmanga

I was just chatting with @vfdev-5 about this. Indeed it seems that once we started using the dispatcher for NMS and RoIAlign `libtorchvision` is not linked anymore.

I don't think this is expected, and we should fix it.

@ezyang it looks like since we added the Dispatcher to RoIAlign, C++ users of torchvision started having issues using RoIAlign, as it wouldn't be linked to the binary

[2020-10-13 08:49] bmanga commented on #2796
@fmassa the problem seems to be that the macro
`TORCH_LIBRARY(torchvision, m) {...}`
creates a static variable `TORCH_LIBRARY_static_init_torchvision`, which as usual gets discarded :/
I have a solution that seems to work for me based on my old weak symbols approach (PR #2253), I can put it up as a PR if you'd like.

[2020-10-13 08:53] fmassa commented on #2796
A PR for this would be great!

I would also love @ezyang and @vfdev-5  to review this, and they have more experience on this than I do

[2020-10-13 09:12] vfdev-5 commented on #2796
@bmanga could you please detail your solution, does it still use `TORCH_LIBRARY` and `TORCH_LIBRARY_IMPL` approach ?

[2020-10-13 09:16] bmanga commented on #2796
@vfdev-5 yes those are kept. I just make sure that `TORCH_LIBRARY_static_init_torchvision` is referenced in the code.
Admittedly that breaks the TORCH_LIBRARY macro abstraction, but at least the C++ side is working again.

[2020-10-13 11:10] fmassa opened #2799 "Optimize RetinaNet inference time"
## 🚀 Feature

The postprocessing step in RetinaNet is slow, and the whole inference time for RetinaNet is almost twice slower than Faster R-CNN as of today.
In particular, https://github.com/pytorch/vision/blob/5bb81c8e008c601237e2ffd5cbea7192775130bd/torchvision/models/detection/retinanet.py#L442-L471 does a for loop over the number of classes. This for loop can be parallelized by batching operat

[2020-10-13 11:12] fmassa opened #2800 "Add support for image with no annotations in RetinaNet"
## 🚀 Feature

RetinaNet currently doesn't support training with images that do not have object annotations.
This has been disabled due to potential issues with distributed training.

We should enable this back.

For more context on what issues might be present, see https://github.com/pytorch/vision/pull/2784#discussion_r503816099

[2020-10-13 13:09] bryandeng commented on #2660
Hi, @bjuncek

Regarding the `seek` function, in the case that I set `any_frame=False` and call it several times to get a sequence of frames, if the target frames are between the same pair of key frames, is it true that the same key frame is being repeatedly decoded?

BTW, any plans for supporting compressed visual features without decoding?

[2020-10-13 16:34] ezyang commented on #2796
To reference the issue from last time directly, it was https://github.com/pytorch/vision/issues/2134

[2020-10-14 02:09] harsh2ai commented on #2753
@pmeier By task I meant, working on this high level api

[2020-10-14 02:41] oke-aditya commented on #2753
Hey @harsh2ai . I am quite unsure if you make PR for OCR might go into torchvision. Can you elaborate a little bit on more on what you plan to do?

CRAFT can be built from the building blocks that torchvision provides. (VGG backbone, with some modifications)
EAST needs a really separate and specific CNN architecture that torchvision does not support. (It's really not possible to support all the ar

[2020-10-14 06:19] wangshihuang opened #2804 "loss后面括号是什么Epoch: [0] [ 440/3560] eta: 0:22:22 lr: 0.00997769948251307 loss: 0.5050 (0.8583)"
## ❓ Questions and Help

### Please note that this issue tracker is not a help form and this issue will be closed.

We have a set of [listed resources available on the website](https://pytorch.org/resources). Our primary means of support is our discussion forum:

- [Discussion Forum](https://discuss.pytorch.org/)
请问有谁知道loss后面括号里的是什么吗，也是loss吗，那是什么loss

[2020-10-14 06:40] zhiqwang commented on #2804
It represent for the average loss (in the current epoch)

[2020-10-14 06:42] wangshihuang commented on #2804
got it. thank you very much!

[2020-10-14 06:42] wangshihuang commented on #2804
got it. thank you very much!

[2020-10-14 06:52] pmeier commented on #2804
@wangshihuang Is this solved then? For the future, please use English as basis for the communication. Otherwise we can't offer you support.

[2020-10-14 07:25] wangshihuang commented on #2804
Got it.

[2020-10-14 14:20] vfdev-5 opened #2809 "Improve error message for RandomCrop"
## 🚀 Feature

In case if we apply `RandomCrop(256)` on images smaller than 256, current error message does not provide the information about size mismatch
[code]

It would be nice to have a more user-friendly error message if `h - th + 1 < 0` saying that  we have a size mismatch.

cc @vfdev-5

[2020-10-14 14:23] datumbox opened #2810 "Empty expected values on test_retinanet_resnet50_fpn"
## 🐛 Bug

The Unit-test expected values of RetinaNet are empty and thus the test does not protect us from breaking the code.

## To Reproduce

Steps to reproduce the behavior:
[code]

## Expected behavior

Ensure we have some non-trivial expected values so that we detect it when the code breaks. @fmassa advised to try and find a way that does not involve download pretrained weights.

[2020-10-14 16:01] vfdev-5 commented on #2810
@datumbox I wonder if this issue is exclusively for retinanet ?

[2020-10-14 16:14] datumbox opened #2814 "Simplify logic on TestCase.assertExpected()"
## 🐛 Bug

My IDE spotted a tiny bug/readability issue on the TestCase.assertExpected() method:
https://github.com/pytorch/vision/blob/fdca30739b01a6dfb732f23289701d0e9860d39f/test/common_utils.py#L153-L159

The method `TestCase.assertEqual()` does not return a value, hence if successful the variable `equal` will be `None`. The code still work but it can be simplified to improve readability:
[code]

[2020-10-14 16:19] datumbox commented on #2810
@vfdev-5 yes it is! Every other model is fine. :)

[2020-10-14 17:56] #2809 closed

[2020-10-14 18:12] dongreenberg commented on #2597
Hi @ternaus - sorry for the delay on this. The short answer is that licenses for the underlying data are generally pretty generous about this type of derivative use, but they occasionally vary. Our legal team have said that this is entirely a matter of your own or your legal team's comfort with the use you have in mind and the underlying license, so there really isn't a boxed answer here unfortuna

[2020-10-14 18:31] ternaus commented on #2597
@dongreenberg Thank you for looking at this issue.

Not really.

Most of the models at https://pytorch.org/docs/stable/torchvision/models.html are trained on [ImageNet](http://image-net.org/download-faq) that was scrapped from the internet.

For the database of the image URLs: `Researcher shall use the Database only for non-commercial research and educational purposes.`

Images at these URLs could

[2020-10-14 18:36] #2814 closed

[2020-10-14 19:18] vfdev-5 commented on #2817
@datumbox could you please reproduce this : https://github.com/pytorch/vision/issues/2817#issuecomment-708593829 ?
Most probably, it was already fixed in master...

[2020-10-14 19:51] fmassa commented on #2817
We have fixed DeformableConv2d support for batches larger than 32 in https://github.com/pytorch/vision/pull/2040

For @happywu message, please open a new issue with a self-contained minimal example that reproduces the error. You might just be facing memory issues while trying to allocate that tensor.

[2020-10-14 19:51] #2817 closed

[2020-10-14 20:17] datumbox commented on #2817
@vfdev-5 My laptop's GPU can't fit all the data. Nevertheless the following runs fine against 0.7.0:
[code]

[2020-10-14 20:20] vfdev-5 commented on #2817
@datumbox thanks a lot !

[2020-10-14 21:05] dongreenberg commented on #2597
Sorry, to be clear:
1. I know absolutely nothing about this, just relaying our legal team's guidance.
2. The license for use of the _datasets_ may not be generous, but the "generosity" I've been told is in the interpretation that weights of a model trained on that data may be considered derivative enough to be ok for commercial use. Again, this is a subjective matter of person comfort. There is no

[2020-10-15 04:30] jhacsonmeza commented on #2795
I think I found the problem. When I installed TorchVision I used a conda environment as Python3-dev is needed for built the library. But I found that I have `libtiff.so` in `/usr/lib/x86_64-linux-gnu` and also in `~/anaconda3/envs/myenv/lib`. Perhaps OpenCV and TorchVision are linking `libtiff.so` from different locations and that caused the problem.

I rebuilt TorchVision from another clean Anaco

[2020-10-15 05:14] zhiqwang commented on #2795
[code]

Hi @jhacsonmeza , this problem may be caused by missing of libs in `ldd` , you can check for this method as mentioned in [#2609](https://github.com/pytorch/vision/issues/2609#issuecomment-682380995)

[2020-10-15 11:54] Morpheus3000 commented on #1712
This might be late, but for fellow travelers led to this by Google, a simpler workaround for this, instead of downgrading can be done by patching the torchvision/transforms/functional.py file. If you remove the PILLOW_VERSION import from the import and then replace PILLOW_VERSION with PIL.__version__ in line 727, then it works without a downgrade. Official PIL docs recommends using __version__ ins

[2020-10-15 17:26] ylmzkaan opened #2822 "Setting number of cores for python3 setup.py install"
Hi,

I am trying to build torchvision from source but when I run python3 setup.py install, it starts to use all 6 cores by default and eventually my machine goes out of memory.

How can I limit the number of cores used during the build so that it consumes less RAM?

[2020-10-15 17:26] bjuncek commented on #2650
Given that this was a known issue from ffmpeg, and is fixed by using a different version, I'm closing this issue

[2020-10-15 17:26] #2650 closed

[2020-10-15 17:27] bjuncek commented on #855
@fmassa I believe these have been closed by @vfdev-5 s tensor transform PRs.

Do you think it's safe to close this?

[2020-10-15 18:04] vfdev-5 commented on #2822
Can you try to set `MAX_JOBS=X` to control that ?

[2020-10-15 18:13] ylmzkaan commented on #2822
I tried that but it didnt help. Still builds with all cores.

[2020-10-15 18:45] vfdev-5 commented on #2822
Can you confirm that if you do
[code]
You see `Using envvar MAX_JOBS (1) as the number of workers...` message while building C++ extensions ?

[2020-10-15 18:54] ylmzkaan commented on #2822
I guess we got something. It says `Allowing ninja to set a default number of workers... (overridable by setting the environment variable MAX_JOBS=N)`

Any idea on how to not allow ninja to do that?

[2020-10-15 19:09] vfdev-5 commented on #2822
Can please detail which torchvision version you build: master, a tag; what is your OS and full command to build it ?

[2020-10-15 19:12] ylmzkaan commented on #2822
I pulled the master branch and when I run python3 setup.py install to build it builds version torchvision-0.8.0a0+072d8b2 . I have python 3.6 installed. OS is ubuntu 16 running on nvidia drive px 2.

[2020-10-15 19:15] vfdev-5 commented on #2822
OK, and if you run `export MAX_JOBS=1 && python3 setup.py install` you still see your above message ?

[2020-10-15 19:19] ylmzkaan commented on #2822
That is correct

[2020-10-16 09:58] #2810 closed

[2020-10-16 10:02] vfdev-5 opened #2823 "Support paletted images for io.image.read_image"
## 🚀 Feature

The following code raises an error for mask images
[code]

The problem is related to paletted type images.

It would be nice to support those images and return a single channel tensor.

[2020-10-16 10:06] datumbox opened #2824 "Re-enable GPU assertions on RetinaNet unit-tests"
## 🚀 Feature
Improve RetinaNet unit-test coverage and reenable all GPU assertions.

## Motivation

There is numerical/sort instability on the unit-tests of RetinaNet across platforms. PR #2812 disabled some of the checks on GPU as a workaround but this needs to be addressed.

## Pitch

Investigate the source of instability, fix it and re-enable all unit-tests in all platforms.

[2020-10-16 13:39] vfdev-5 commented on #2822
The messages like "Using envvar MAX_JOBS (1) as the number of workers..." or "Allowing ninja to set a default number of workers... (overridable by setting the environment variable MAX_JOBS=N)" are printed in pytorch:

https://github.com/pytorch/pytorch/blob/ecf63351bcdbba612bd3bd4b525c5ac105c12493/torch/utils/cpp_extension.py#L1479

And this should provide `-jN` cmd line arg to ninja. It worth to

[2020-10-16 15:00] #2824 closed

[2020-10-16 17:40] jhacsonmeza commented on #2795
Hi @zhiqwang, thank you so much, it worked. Also, as you pointed in https://github.com/pytorch/vision/issues/2609#issuecomment-681911111 copying `libtorchvision.so` from `build` to `${CMAKE_INSTALL_PREFIX}/lib` works. Thank you again.

[2020-10-16 17:40] #2795 closed

[2020-10-17 12:36] ManiadisG opened #2829 "PascalVOC dataset download urllib error - [Errno 113] No route to host"
## 🐛 Bug

Trying to download the PascalVOC Detection dataset returns the following error message.
This was tested both locally and in Google Colab.

[code]
## To Reproduce

Steps to reproduce the behavior:

[code]

## Expected behavior

The dataset should be downloaded.

## Environment

The information below relates to the local configuration. For Google Colab I did not examine the environment, I

[2020-10-17 13:45] jamt9000 commented on #2829
@albanie Can someone reboot the VOC server? :smile:

[2020-10-17 20:00] ConradBitt commented on #2829
I have the same problem, I downloaded this dataset in kaggle because I don't know when it will be available again

https://www.kaggle.com/huanghanchina/pascal-voc-2012

[2020-10-18 10:32] fepegar opened #2830 "Add verbosity kwarg to downloading functions"
## 🚀 Feature

Add a kwarg to controle verbosity of downloading functions.

## Motivation

For different reasons, I would like to control whether my code is allowed to print stuff. At the moment, functions such as `torchvision.datasets.utils.download_url` have multiple calls to `print`:

https://github.com/pytorch/vision/blob/a9c78f1b017d912fa9583ae6d93bff0a3807c29b/torchvision/datasets/utils.py#L4

[2020-10-18 12:53] harsh2ai commented on #2753
@oke-aditya I get you now, I will build a separate package on top of torchvision  instead

[2020-10-18 23:11] cynthia-rempel opened #2831 "Could you please make it more obvious when imagefolder is loading hidden folders?"
Thanks for making this dataloader! I was using imagefolder as part of a dataloader, then I was trying to use the dcgan example on the same folder with the images, and I started getting mysterious errors about the last index number on my cnn... It turned out that something made .ipynb_checkpoints folders in the imagefolder (I suspect the dcgan example). While this is clearly an example of user erro

[2020-10-19 01:53] wangshihuang opened #2832 "About the segmentation."
In the reference, I replaced the cross entropy in the semantic segmentation module with weighted cross entropy. The result was worse. The weight is calculated based on the training set. If the cross entropy is replaced by focal loss, the effect is also poor. Why is this? Still, the best loss function for semantic segmentation is cross entropy.
I sincerely need your help!

[2020-10-19 01:55] wangshihuang commented on #2832
How should i analyze.

[2020-10-19 07:19] vfdev-5 commented on #2832
@wangshihuang please, use https://discuss.pytorch.org/ forum which is more appropriate for questions like that.

[2020-10-19 07:19] #2832 closed

[2020-10-19 07:25] vfdev-5 commented on #2832
Otherwise, there is nothing "wrong" to use cross entropy as loss.

Check per class performances, check the computed weights.

There are various resources online to help with how to analyze the training. For example
http://karpathy.github.io/2019/04/25/recipe/

[2020-10-19 08:12] Greeser commented on #855
What is a current state with video transformation?

What I've understood so far is that there was a [plan](https://github.com/pytorch/vision/issues/1385#issuecomment-537463973) to add transformation. Currently [_transforms_video.py](https://github.com/pytorch/vision/blob/master/torchvision/transforms/_transforms_video.py) and [_functional_video.py](https://github.com/pytorch/vision/blob/master/tor

[2020-10-19 10:39] vfdev-5 commented on #855
@Greeser with the upcoming release, almost all torchvision transformations will work on tensors of shape `(B, C, H, W)` which should cover the scope of `_transforms_video.py`. See https://github.com/pytorch/vision/tree/master/examples/python and keep in mind that these examples are subject to a minor changes before the official release.

[2020-10-19 12:46] paapu88 opened #2833 "fp16 for deform_conv2d missing?"
## 🐛 Bug

## To Reproduce
This example below is copy pasted from https://pytorch.org/docs/stable/torchvision/ops.html
except dtypes are added.
The first part with float32 runs fine, but the second part with float16
produces error:

Terveisin, Markus

[code]

## Environment

(pytorch) hu-mka@humkaLenovo:~/Downloads$ python collect_env.py
Collecting environment information...
PyTorch version: 1.6.0

[2020-10-19 17:51] pmeier commented on #2829
There is nothing we can do at the moment since the problem is on their side. We'll have to wait and see if they get they servers up and running again. If this persists, we probably could change to a different mirror, but I would postpone that for now.

[2020-10-19 18:26] pmeier commented on #2831
@vfdev-5 I don't think this is a bug since the documentation doesn't state that hidden directories are excluded.

@cynthia-rempel Nevertheless, IMO this is a reasonable assumption for the future. We could introduce a `is_valid_dir` parameter (similar to [`is_valid_file`](https://github.com/pytorch/vision/blob/a9c78f1b017d912fa9583ae6d93bff0a3807c29b/torchvision/datasets/folder.py#L209-L210)) that

[2020-10-19 18:45] fmassa commented on #2833
Thanks for opening the issue!

That's correct, for now we don't yet have mixed precision for `deform_conv2d`, but we should be adding support for it soon (together with the remaining ops that don't support it yet).

[2020-10-19 19:06] mthrok commented on #2830
I do not think it is a good idea to introduce a new argument for non-mission critical one. Instead, the library should use the proper logging mechanism that users can turn off on their side.

[2020-10-20 09:21] github-actions[bot] opened #2839 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow tests/download.
Please look into it:

https://github.com/pytorch/vision/actions/runs/317304847

Feel free to close this if this was just a one-off error.

cc @pmeier

[2020-10-20 10:03] vfdev-5 commented on #2831
@pmeier if it is intended behaviour with hidden folders, than docs should clearly state about that, same as for symlinks.

[2020-10-20 10:21] vfdev-5 commented on #2571
@neginraoof could you please update ort-nightly version in another PR as CI is failing now : https://travis-ci.org/github/pytorch/vision/jobs/737360863#L561 . Thanks !

[2020-10-20 10:28] vfdev-5 opened #2841 "Missing docstring for make_dataset method"
## 📚 Documentation

Public method `make_dataset` does not have a docsting:
https://github.com/pytorch/vision/blob/0467c9d74c9b34f91df905ed8cf8433de48d7fa5/torchvision/datasets/folder.py#L35-L42

It would be nice to add one.

cc @pmeier

[2020-10-20 11:27] bjuncek commented on #2841
I'm willing to pick that up if needed?

[2020-10-20 11:40] bjuncek opened #2842 "Enhanced testing of video decoders using videos from FFMPEGs fate suite"
## 🚀 Feature
Updating video decoding tests to use videos from FFMPEG's FATE (automated testing env) suite.

## Motivation

We are currently using videos from some of the more popular datasets as test cases, however, it would be
useful to have examples of non-standard encoding, multiple streams, and even corrupted files as a part of the test
suite.

## Pitch

Add these videos to the testing suite a

[2020-10-20 12:55] pmeier commented on #2831
@vfdev-5 I don't know (but I can't imagine) that it is intended behavior. Still, some people might use it that way and thus we can't simply change it. That is why I propose to add `is_valid_dir` and phase out default support for hidden directories.

[2020-10-20 14:22] frgfm commented on #1775
Very sorry, I thought I would have come up with a PR by now @fmassa @FrostByteGER

First, I do believe that slashing down the training time by default would be an issue.

The current behaviour is the following (to the best of my knowledge):
training | targets | returned loss_dict | returned detections
-- | -- | -- | --
True | Y | Y | N
False | Y | N | Y
True | N | Not supported | Not supported
Fal

[2020-10-20 16:46] pmeier commented on #2839
The server for the `Places365` dataset [seems to be unreachable](http://places2.csail.mit.edu/). Lets wait and see if they get the server back up and running. If that is not the case in a reasonable time frame, we should find another mirror or remove the download functionality entirely.

[2020-10-20 17:49] jgbradley1 commented on #1627
I second this request. Whether or not a dataset can be downloaded automatically, there is still a lot of value to standardizing access to the dataset. People can still pass in a `root` path directory to a local copy.

[2020-10-21 02:55] zacurr opened #2849 "Bad Performance with default_observer for quantization"
## ❓ Questions and Help

### Please note that this issue tracker is not a help form and this issue will be closed.

We have a set of [listed resources available on the website](https://pytorch.org/resources). Our primary means of support is our discussion forum:

- [Discussion Forum](https://discuss.pytorch.org/)

I tried to quantize mobilenet v2 from float model file.
I found defaut_observer is u

[2020-10-21 04:45] Frank-Dz opened #2850 "Can pretrained resnet-50 extract feature from a higher resolution picture?"
Can pre-trained ResNet-50 extract feature from a higher resolution picture?

Typically, when we use Resnet to extract features, we need to crop the image into  224 x 224 then pass the image to ResNet.

I want to know if we want a larger image( e.g. 720 x 720) to be processed, we have to modify the network and re-train the network? Can we directly use the original pre-train network? Is the quality

[2020-10-21 07:41] #2571 closed

[2020-10-21 07:47] fmassa commented on #2839
The server seems to be back to normal now?

[2020-10-21 07:49] pmeier commented on #2839
Lets wait for today's tests and close this afterwards if everything works out.

[2020-10-21 08:09] fmassa commented on #2583
@vfdev-5 I believe this can be closed now?

[2020-10-21 08:11] vfdev-5 commented on #2583
@fmassa I thought to close it once we updated video classification ref example. But as you wish, otherwise I can create another one for that update.

[2020-10-21 08:12] fmassa commented on #2376
Now all transforms work on Tensor as well, so that I believe this issue should be fixed if you convert the PIL image to Tensor and apply the transforms directly on Tensor. @vfdev-5 can you double-check and close the issue if that's the case?

[2020-10-21 08:15] fmassa commented on #2239
This has been fixed in #2759 with a warning.

[2020-10-21 08:15] #2239 closed

[2020-10-21 08:16] fmassa commented on #2222
This has been added in the 0.7.0 release of torchvision in https://github.com/pytorch/vision/pull/2384

[2020-10-21 08:16] #2222 closed

[2020-10-21 08:17] fmassa commented on #2172
R-CNN models in torchvision now natively support autocast since the 0.7.0 release, see https://github.com/pytorch/vision/pull/2384 and https://github.com/pytorch/vision/releases/tag/v0.7.0

[2020-10-21 08:17] #2172 closed

[2020-10-21 08:18] fmassa commented on #2164
This has been fixed with #2160 and https://github.com/pytorch/vision/pull/2242

[2020-10-21 08:18] #2164 closed

[2020-10-21 08:22] fmassa commented on #2123
ONNX tests in torchvision repo pass for Faster R-CNN with current master.

If you are still having issues with latest nightlies please open a new issue.

[2020-10-21 08:22] #2123 closed

[2020-10-21 08:23] fmassa commented on #2109
This work has been finished with the help from @vfdev-5 , and will be present in the next release of torchvision.

[2020-10-21 08:23] #2109 closed

[2020-10-21 08:25] fmassa commented on #1944
Closing following inactivity. If you still face the same issues please let us know.

[2020-10-21 08:25] #1944 closed

[2020-10-21 09:03] fmassa commented on #2799
This has been implemented by @datumbox in #2828

[2020-10-21 09:03] #2799 closed

[2020-10-21 09:16] fmassa commented on #2583
Ok, let's wait until we update the reference examples then before closing this one

[2020-10-21 09:39] zacurr commented on #2648
This is related to the following issue that i opened
https://github.com/pytorch/vision/issues/2849

If i change activation of QConfig from default min/max to histogram observer,
performance is fine.
Res-101: 75.6

[2020-10-21 09:39] #2648 closed

[2020-10-21 10:26] vfdev-5 commented on #2376
Currently, if we pass input to torch tensor and apply a rotation it gives the following result
[code]
![image](https://user-images.githubusercontent.com/2459423/96707491-3a5c0d00-1398-11eb-8b47-6f5a0a439a22.png)

vs PIL

![image](https://user-images.githubusercontent.com/2459423/96707537-4ba51980-1398-11eb-967e-ebfc8ef04e4c.png)

So, the image data with alpha = 0 inside the image remains present i

[2020-10-21 10:26] #2376 closed

[2020-10-21 10:44] frgfm commented on #993
@tazu786 I can confirm that I've been using this to get around the absence of pretrained resnet101 backbone, and it's working :ok_hand:

[2020-10-21 11:21] frgfm commented on #2357
Hi @SsnL & @fmassa,

I just opened a fix suggestion in #2851 to close this issue!

[2020-10-21 11:57] frgfm commented on #2599
Hi @fmassa, I just opened #2852 to tackle this!

[2020-10-21 12:30] fmassa commented on #2599
Hi @frgfm

We still need to make sure that the current pre-trained models still give correct results with the new value.

@datumbox is going to be working on ensuring that this is the case.

[2020-10-21 13:13] frgfm commented on #2599
No worries @fmassa ! Should I split the PR (one added eps to `__repr__` to avoid silent differences, and the other changing the default eps value)?

[2020-10-21 13:24] igygi opened #2853 "How to get corresponding feature regions of final detections from feature map of backbone?"
Hi,

For every output detection [x1, y1, x2, y2], I would like to extract its corresponding region in the feature map output of the backbone. Can you point me to how this should be done? Thank you.

[2020-10-21 14:05] fmassa commented on #2599
Yes please, if you could only make the `__repr__` changes in your PR it would be great.

[2020-10-21 14:43] frgfm commented on #2599
@fmassa done!

[2020-10-21 14:58] pmeier commented on #2839
[Today's tests](https://github.com/pytorch/vision/actions/runs/319511958) ran without issues.

[2020-10-21 14:59] #2839 closed

[2020-10-21 15:20] #2357 closed

[2020-10-21 16:37] datumbox commented on #2372
Thanks for reporting this @ezyang. I stumbled upon this problem myself and I agree that we need to fix it. :)

First a summary of the situation:
- **PyTorch**: As Edward pointed out, we use the [clang_format_all.py](https://github.com/pytorch/pytorch/blob/master/tools/clang_format_all.py) script to check the formatting. The script is responsible for downloading the right version of clang-format ba

[2020-10-21 18:18] SplitInfinity commented on #2372
`clang_format_all.py` was introduced when there was semi-automatic formatting internally at Facebook as part of pre-commit hooks. Shortly after, Facebook began automatically formatting code internally (in allowlisted directories) every day with an automated job that runs `clang-format` and commits the result. Does `torchvision` use the same development model as `pytorch` (i.e. source of truth is i

[2020-10-21 18:30] andfoy opened #2866 "Relocate and package binary dependencies in conda distributions"
## 🚀 Feature
We should relocate all the binary dependencies of torchvision on the conda recipes. That means that all torchvision conda distributions should package the extension binaries, as well as their own dependencies (i.e., libpng, libjpeg-turbo, ffmpeg), similar to what is done for wheel packaging.

## Motivation
After PR https://github.com/pytorch/vision/pull/2777, we found that it is possi

[2020-10-21 18:54] pmeier commented on #2829
Server seems to be back [up and running](https://github.com/pytorch/vision/runs/1288405606).

[2020-10-21 18:54] #2829 closed

[2020-10-21 20:44] colesbury opened #2867 "Mismatch in build_vision.sh environment variables"
The if-statement is checking **TORCHVISION**_BUILD_VERSION but the body uses **PYTORCH**_BUILD_VERSION. Same issue with `BUILD_NUMBER`.

https://github.com/pytorch/vision/blob/d1e134c71b94a5975dcbf16927ed608dac54fdfe/packaging/conda/build_vision.sh#L19-L22

[2020-10-22 06:58] pmeier opened #2868 "Make the resize anchor edge variable if size is scalar"
## 🚀 Feature

Make the resize anchor edge variable if size is scalar.

## Motivation

Right now `torchvision.transforms.Resize()` assumes that the smaller edge of the image should be resized to size if its an `int`.

https://github.com/pytorch/vision/blob/d1e134c71b94a5975dcbf16927ed608dac54fdfe/torchvision/transforms/transforms.py#L239-L240

That can be cumbersome if the user wants for example an

[2020-10-22 08:15] fmassa commented on #2868
An alternative to this, with is widely used in detection models and is present already in Faster R-CNN in torchvision https://github.com/pytorch/vision/blob/d1e134c71b94a5975dcbf16927ed608dac54fdfe/torchvision/models/detection/transform.py#L36
is to provide additionally a `max_size` argument, with the criteria that, if after rescaling the max size is larger than `max_size`, then the image will be

[2020-10-22 08:24] pmeier commented on #2868
That covers the two (most-important) cases (`"short"` and `"long"`) but falls flat if I want a specific edge to be that size (`"vert"` and `"horz"`).

[2020-10-22 08:24] datumbox commented on #2372
@SplitInfinity Currently for TorchVision it's the opposite. GitHub is the source of truth.

[2020-10-22 09:05] fmassa commented on #2867
Thanks for opening the issue Sam!

I believe this only affects Windows builds, as the OSX / Linux codepaths don't use this file, and the README under `packaging` is most probably stale.

cc @peterjc123 @seemethere

[2020-10-22 09:57] peterjc123 commented on #2867
@fmassa It doesn' affect Windows build. We already switched to use https://github.com/pytorch/vision/blob/master/packaging/build_conda.sh for conda builds on Windows.

[2020-10-22 09:59] peterjc123 commented on #2867
Related PR: https://github.com/pytorch/vision/pull/2264/files

[2020-10-22 10:46] fmassa commented on #2372
To complement @datumbox point, torchvision now is in a mixed state where most of the development happens in GitHub, but we do have an internal sync via ShipIt but on a separate branch than master (named `fbsync`).
This means that for now we are both out of sync (commits added on both sides), and we might as well have lint differences due to the automatic formatting within FB.

[2020-10-22 11:46] fmassa commented on #2867
@peterjc123 can we then remove `build_vision.sh` and do some extra cleanup in `packaging`?

[2020-10-22 11:49] fmassa commented on #1375
@vfdev-5 I believe we can close this?

[2020-10-22 11:52] vfdev-5 commented on #1375
OK for me to close it

[2020-10-22 11:52] #1375 closed

[2020-10-22 11:56] peterjc123 commented on #2867
Sure. Will do that when I have time.

[2020-10-22 12:04] vfdev-5 commented on #1595
@r-zenine there can be also an option to use a custom `ToTensor` transform like it is done for targets in segmentation task:

https://github.com/pytorch/vision/blob/1aef87d01eec2c0989458387fa04baebcc86ea7b/references/segmentation/transforms.py#L78-L82

Let me close the issue as stale, @r-zenine feel free to reopen if you need more help on that. Thanks !

[2020-10-22 12:04] #1595 closed

[2020-10-22 12:05] vfdev-5 commented on #1179
@fmassa can we close this too ?

[2020-10-22 13:06] fmassa commented on #1179
Yes. We have implemented JPEG and PNG, so I believe we can be closing this. For requests for other formats we can track it in different issues.

[2020-10-22 13:06] #1179 closed

[2020-10-22 14:21] mthrok commented on #1375
Congrats on hitting a huge milestone! 🎉

[2020-10-22 16:46] fmassa commented on #2372
Fixed in #2872

[2020-10-22 16:46] #2372 closed

[2020-10-22 19:58] seyeeet opened #2882 "Building Autoencoders"
## 📚 Documentation
can we have a toturial like this in pytorch
https://blog.keras.io/building-autoencoders-in-keras.html

[2020-10-22 21:54] AlexTS1980 opened #2877 "COVID-19 library in torchvision"
## 🚀 Feature
Library of models and dataset interfaces for COVID-19 models

## Motivation

There are quite a few models (feature extractors, mask segmentation, classifiers) for COVID-19, both in pytorch and tensorflow. They use different datasets, making it hard to scientists to compare results and extend their findings. It would be good to (re-implement) at least some models and dataset interfaces

[2020-10-22 22:14] vfdev-5 commented on #2877
@AlexTS1980 thanks for proposing this Feature Request. For instance, project maintainers/owners are working on defining the rules of what can be added as model or dataset. This detailed information will be exposed in CONTRIBUTING guide (https://github.com/pytorch/vision/pull/2663). cc @fmassa

As alternatives, I can think of MONAI: https://github.com/Project-MONAI/MONAI
nevertheless handling medic

[2020-10-22 23:32] AlexTS1980 commented on #2877
What I mean is for example take [this ](https://github.com/UCSD-AI4H/COVID-CT/blob/master/baseline%20methods/DenseNet169/DenseNet_predict.py) or [this](https://github.com/haydengunraj/COVIDNet-CT/blob/master/run_covidnet_ct.py) model and implement them as a part of torchvision library, so that they could be instantiated like VGG or ResNet, e.g. through `covid_models` package, with pretrained weigh

[2020-10-23 03:16] oke-aditya commented on #2877
I guess an easy way cold be to publish weights to `torch hub`. People can simply instantiatie `alexnet` or `vgg` from torchvision and load the weights using `torch.hub.load()`.

[2020-10-23 04:59] jgbradley1 commented on #1627
I have written and tested a WIDERFace Dataset [here](https://github.com/jgbradley1/vision/blob/add-widerface-dataset/torchvision/datasets/widerface.py). Nearly ready to open a PR for review.

[2020-10-23 10:18] akashprakas opened #2878 "Hello , i found a mismatch between the implemented torchvision.models.detection.backbone_utils.resnet_fpn_backbone() in github and what we get by installing via pip, the one in github is having returned_layer and extra_blocks as parameters but one we get by installign doesnt have any of these parameters,"
## ❓ Questions and Help

### Please note that this issue tracker is not a help form and this issue will be closed.

We have a set of [listed resources available on the website](https://pytorch.org/resources). Our primary means of support is our discussion forum:

- [Discussion Forum](https://discuss.pytorch.org/)

[2020-10-23 10:23] akashprakas commented on #2878
The one in github
def resnet_fpn_backbone(
    backbone_name,
    pretrained,
    norm_layer=misc_nn_ops.FrozenBatchNorm2d,
    trainable_layers=3,
    returned_layers=None,
    extra_blocks=None
):

The one i got after installation in ubuntu20.04,cuda10.2 is
def resnet_fpn_backbone(backbone_name, pretrained,
norm_layer=misc_nn_ops.FrozenBatchNorm2d, trainable_layers=3):

i needed the returned lay

[2020-10-23 10:29] fmassa commented on #2878
Hi,

You need to install torchvision from a nightly version to be able to get the latest features from GitHub.

Check the installation instructions from https://pytorch.org/get-started/locally/ to install a nightly from pytorch and torchvision.

[2020-10-23 10:29] #2878 closed

[2020-10-23 10:38] akashprakas commented on #2878
Thank you :)

[2020-10-23 10:50] vfdev-5 opened #2880 "MacOSX CI is broken for cmake job"
## 🐛 Bug

https://app.circleci.com/pipelines/github/pytorch/vision/4611/workflows/8a33ad19-6fa2-4c0a-b494-d4dd2860048e/jobs/277747

-> https://discuss.circleci.com/t/macos-catalina-xcode-11-2-beta-xcode-9-2-eol/32914
-> https://circleci.com/docs/2.0/testing-ios/#supported-xcode-versions

cc @seemethere

[2020-10-23 12:17] #2630 closed

[2020-10-23 12:25] akashprakas commented on #2853
I am not sure the if the below is right,but you can look into it

[code]

[code]

[code]

1. If you look at the forward method of FasterRCNN you can see that the features are first passed through the rpn and proposals from the rpn to the roi_heads.
2. Inside the forward of roi_heads `box_features` is the roi pooled or aligned features, the forward of roi_heads only returns results and losses, if y

[2020-10-23 17:23] vfdev-5 opened #2881 "[RFC] Improve Transforms testing codebase"
## 🚀 Feature

Current way of transformations testing is not satisfactory due random configurations, duplicated code and unclear structure (test_functional_tensor.py, test_transforms.py, test_transforms_tensor.py). This feature request proposes to rewrite transforms tests in order to takle these problems.

## Motivation

Structured approach for transforms tests provides :
- better coverage
- simple

[2020-10-23 19:11] zhangguanheng66 commented on #2882
Transfer the issue here since this repo is more relevant.

[2020-10-24 07:48] erickim555 opened #2884 "GroupedBatchSampler related bug in vision/references/detection/train.py"
I strongly suspect that there is a bug in the detection trainer code that uses `GroupedBatchSampler` to group images by aspect ratio.

[code]
https://github.com/pytorch/vision/blob/cffac640d703196ea9a369166fa8ae587cb5e64d/references/detection/train.py#L80

Due to the random shuffle done by `DistributedSampler` and `RandomSampler`, there is an inconsistency between `train_sampler` and `group_ids`.

[2020-10-24 07:57] erickim555 commented on #2884
Nevermind, this is correct, I misunderstood things. Sorry about that!

[2020-10-24 07:57] #2884 closed

[2020-10-24 08:58] voldemortX commented on #2292
Hi! Very exciting codes! Wondering whether future commits will support fill color other than 0 for tensor affine transformations? It is kind of important for tasks like semantic segmentation when transforming labels. @vfdev-5

[2020-10-25 14:35] vfdev-5 commented on #2292
@voldemortX thanks for the feedback !

Could you please open an issue for that such we could track this feature request and see what could be possible to do.
Currently, the blocker is with pytorch [`grid_sample`](https://pytorch.org/docs/stable/nn.functional.html#torch.nn.functional.grid_sample) which has

[2020-10-25 15:02] voldemortX opened #2887 "Fill colors for tensor affine transforms"
## 🚀 Feature
Support fill color other than 0 for tensor affine transforms (rotate, affine).

## Motivation

It is important for pixel-wise tasks (e.g. segmentation) to have different fill color for ignored label (e.g. 255).

## Pitch

Different fill colors are supported for tensors like already supported for PIL images in affine transformations.
Specifically, for **rotate()** and **affine()** in t

[2020-10-25 15:05] voldemortX commented on #2292
New issue opened #2887

[2020-10-26 02:02] wangshihuang opened #2888 "About aux loss."
## ❓ Questions and Help

### Please note that this issue tracker is not a help form and this issue will be closed.

We have a set of [listed resources available on the website](https://pytorch.org/resources). Our primary means of support is our discussion forum:

- [Discussion Forum](https://discuss.pytorch.org/)

Why add aux loss in deeplabv3 in the segmentation. What is the effect.

[2020-10-26 07:50] omeryasar opened #2889 "can't download libtorch 1.4"
Hi I want to download libtorch 1.4 but there is no download link for it in official page and I can't find it when I search it on google. How can I download this specific version.

[2020-10-26 09:19] vfdev-5 commented on #2889
@omeryasar try this : https://download.pytorch.org/libtorch/cu101/libtorch-cxx11-abi-shared-with-deps-1.4.0.zip

I close the issue as it is unrelated to torchvision project but more a question to pytorch.

[2020-10-26 09:19] #2889 closed

[2020-10-26 09:20] vfdev-5 commented on #2888
Please, post this question to the discussion forum. Thanks.

[2020-10-26 09:20] #2888 closed

[2020-10-26 09:22] github-actions[bot] opened #2890 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow tests/download.
Please look into it:

https://github.com/pytorch/vision/actions/runs/328721442

Feel free to close this if this was just a one-off error.

cc @pmeier

[2020-10-26 09:33] pmeier commented on #2890
The VOC server [seem to be unreachable](http://host.robots.ox.ac.uk/pascal/VOC/) again. Lets wait and see if this persists.

[2020-10-26 11:34] AlexTS1980 opened #2894 "Activation function for object proposals in RoI (test time)"
## 🚀 Feature
Replace softmax with sigmoid in `postprocess_detections `method in `roi_heads`:
https://github.com/pytorch/vision/blob/5cb77a20c3c65ca6199fdf1c1bc642af7447d311/torchvision/models/detection/roi_heads.py#L677

## Motivation
In the current implementation, score is class-dependent (softmax), but NMS is class-independent. So the question is, can/should one RoI output more than 1 prediction

[2020-10-26 12:35] fmassa commented on #2887
FYI it is possible to let torchvision implementation support different fill colors than 0 despite `grid_sample` limitations, by performing grid_sample twice (first on the image, second on a dummy mask), so that we can mask out the fill values and replace them with the user-input.

[2020-10-26 12:45] voldemortX commented on #2887
Yeah, it could be a good enough workaround for now.

[2020-10-26 12:47] vfdev-5 commented on #2887
@voldemortX following @fmassa 's idea, it could be also possible to append this data mask to the image as additional channel and apply grid_sample once. We think that such solution can be added to torchvision. If you would like to work on that, it would be helpful 👍 .

[2020-10-26 12:48] fmassa commented on #2894
Hi,

The current implementation follows what Faster R-CNN originally does, and as such we will be this as is in torchvision for consistency.

The R-CNN family of models is trained such that each region has only one label to it. As such, if two objects are highly overlapping, Faster R-CNN by construction is not able to handle them properly.

The current scheme for NMS is inherited from R-CNN (and m

[2020-10-26 12:48] #2894 closed

[2020-10-26 12:54] voldemortX commented on #2887
I can try it out, but thinking more on it i'm a bit confused right now. shouldn't the easiest way be replacing the 0 afterwards?

[2020-10-26 12:56] vfdev-5 commented on #2887
What do you mean by replacing the 0 ?

[2020-10-26 12:57] voldemortX commented on #2887
Oh right, I understand now, the original image could have 0.

[2020-10-26 12:58] fmassa commented on #2850
Hi,

You can feed larger resolution images to resnets, and it should work ok without finetuning (although fine-tuning on higher resolution images will work even better).

This is what we generally do for the semantic segmentation and object detection models in torchvision, although they are fine-tuned.

[2020-10-26 12:58] #2850 closed

[2020-10-26 13:00] voldemortX commented on #2887
I can try it tomorrow or something (UTC-8), but I have not contributed any code before, is unit tests required for a patch like this?

[2020-10-26 13:03] vfdev-5 commented on #2887
Sounds good ! Let me describe how I'd do that and put some links on the code to modify. Yes, tests are required. To start contributing, please read this [draft CONTRIBUTING guide](https://github.com/pytorch/vision/pull/2663/files).
Btw, if something is unclear in the guide feel free to comment out the PR. Thanks

[2020-10-26 13:04] voldemortX commented on #2887
Ok, thanks.

[2020-10-26 13:39] #2880 closed

[2020-10-26 14:45] datumbox commented on #1191
I recently tried running the tests on macOS. All pass except:
- MNASNet0_5
- MNASNet0_75
- MNASNet1_3

Error message:
[code]

[2020-10-26 16:25] seyeeet commented on #2882
just curious what kinda help is needed?

[2020-10-26 18:13] vfdev-5 commented on #2882
@seyeeet which part of keras blog post you think to have as tutorial in pytorch ?

[2020-10-26 19:36] seyeeet commented on #2882
The whole page is useful, but I am specifically more interested in the representation parts and visualizations, I think there is already a lot of repos that cover the VAE part, but the visualization and representation (toward the end) can be really useful to have.

[2020-10-27 08:46] 972461099 commented on #2562
RuntimeError: Error(s) in loading state_dict for BMNet:
	Unexpected key(s) in state_dict: "conv1a.0.scale", "conv1a.0.zero_point", "conv1aa.0.scale", "conv1aa.0.zero_point", "conv1b.0.scale", "conv1b.0.zero_point", "conv2a.0.scale", "conv2a.0.zero_point", "conv2aa.0.scale", "conv2aa.0.zero_point", "conv2b.0.scale", "conv2b.0.zero_point", "conv3a.0.scale", "conv3a.0.zero_point", "conv3aa.0.scale",

[2020-10-27 10:19] vfdev-5 commented on #2882
@seyeeet there is also a tutorial on visualization with TensorBoard : https://pytorch.org/tutorials/intermediate/tensorboard_tutorial.html
Is it something like that you'd like to see ?

[2020-10-27 10:29] fmassa commented on #2881
Thanks for the detailed issue!

A few thoughts:

For correctness check, I think it would be preferable if possible to avoid having stored files with expected results, as this is very opaque and might make it more difficult to make modifications or improvements.
My first idea would be to have have some simple constructed images that we can test for correctness. For example, if we have a function li

[2020-10-27 11:40] vfdev-5 opened #2903 "Raise an error if Kinetics400 dataset is empty"
## 🚀 Feature

Currently, if we construct a dataset on empty folder, it would be nice to have an error. Testing the length of the dataset is failing:
[code]

## Additional context

Without any errors related to empty dataset, reference video_classification example is failing inside the random sampler with misleading error:
[code]

cc @pmeier @bjuncek

[2020-10-27 12:09] igygi commented on #2853
Oh, will try this out. Thanks!

[2020-10-27 13:17] datumbox commented on #2881
+1 on using parameterized or a similar solution that supports annotations.

Right now we often use complex loops/if-statements in unit-testing. This is generally considered a bad practice and it makes it very difficult for us to debug/pinpoint problems.

Here is an example of a test that I wrote in the past that has this issue:
https://github.com/pytorch/vision/blob/005355bd6fdc3a45f4d54f8d8dfd035

[2020-10-27 15:04] mthrok commented on #2881
I love the direction this RFC is going.

One thing to note regarding the split of devices. The reason why I have decided to split GPU/CUDA tests of torchaudio into separate files is fbcode. CUDA tests cannot run in fbcode, and skipping them constantly will trigger alerts. There is no way in fbcode to disable such alarm because from the viewpoint of fbcode, there is no point of having a test that i

[2020-10-27 16:25] adamjstewart commented on #882
According to the v0.8.0 release notes, multi-channel images are now natively supported! Thanks so much for everyone's hard work!!!

[2020-10-27 16:25] #882 closed

[2020-10-27 19:18] seyeeet commented on #2882
not really, the tsne part was my main focus tbh and how to change the parameters in vae to visualize the different latent space in the vae.

[2020-10-27 19:23] #2833 closed

[2020-10-27 19:31] fmassa commented on #882
Thanks @adamjstewart !

Let us know if you find any issues with it

[2020-10-27 19:32] adamjstewart commented on #882
I actually just started a new research project using drone-based hyperspectral imagery (128+ spectral bands), so I'll definitely be testing this feature to the extreme!

[2020-10-27 19:43] paapu88 commented on #2833
Thank you guys!!! Perfect timing!

[2020-10-27 19:57] rsdmse opened #2912 "Cannot pip install torchvision==0.8.0+cu110"
## 🐛 Bug

Cannot pip install torchvision==0.8.0+cu110

## To Reproduce

Steps to reproduce the behavior:

1. Copy command from pytorch website.
1. `pip install torch==1.7.0+cu110 torchvision==0.8.0+cu110 torchaudio===0.7.0 -f https://download.pytorch.org/whl/torch_stable.html`
1. Error message as follows

[code]

## Expected behavior

0.8.0+cu110 should be listed in https://download.pytorch.org/wh

[2020-10-27 20:14] seemethere commented on #2912
Transferred this issue to `pytorch/vision` since it has to do with `pytorch/vision`

[2020-10-27 20:29] wvalcke opened #2915 "Serious problem !!! C++ torchvision does not register nms in Torchscript"
Numerous people have reported this already, but i've nowhere seen a solution.
When loading a torch script (which works in Python) the loading fails in a C++ program.
Unknown builtin op: torchvision::nms.
Could not find any similar ops to torchvision::nms. This op may not exist or may not be currently supported in TorchScript.
Torch version is 1.6.0, Torchvision is 0.7.0.
I tried to compile the mas

[2020-10-27 20:35] seemethere commented on #2912
Currently working on this, will have to issue a `v0.8.1` to resolve this though.

[2020-10-27 20:38] rsdmse commented on #2912
Thanks for your help. Just wanted to check - would it be ok to install the default torchvision 0.8.0 with torch 1.7.0+cu110?

[2020-10-27 20:45] seemethere commented on #2912
Yes you can install with `pip install -f https://download.pytorch.org/whl/cu110/torch_stable.html torch==1.7.0+cu110 torchvision==0.8.0`

[2020-10-27 20:50] vfdev-5 commented on #2915
@wvalcke thanks for reporting.

Could you please detail what you try to compile and it does not work? Which error do you have ?

In project's CI we compile every time tracing faster rcnn C++ example which work fine:
- https://github.com/pytorch/vision/tree/master/test/tracing/frcnn

[2020-10-27 21:20] seemethere commented on #2912
This should be resolved now, you can use:
[code]

[2020-10-27 21:24] tooHotSpot commented on #1568
If you encounter exploding grads even with lower learning rates you give a try for Adagrad with non-standard 0.001. In general, training that way is not OK since RPN is trained usually with higher learning rate than box / classifier heads

[2020-10-28 04:51] zhiqwang commented on #2915
I think this problem is the same as #2736 and #2796

[2020-10-28 05:08] S-aiueo32 opened #2917 "read_file() is not importable from torchvision.io"
## 🐛 Bug
I tried to import the read_file along with [this blog post](https://pytorch.org/blog/pytorch-1.7-released/), but it was impossible. Either the blog or the code should be fixed.

## To Reproduce
[code]

## Expected behavior

The above import should work.

## Environment
 - PyTorch / torchvision Version (e.g., 1.0 / 0.4.0): 1.7/0.8
 - OS (e.g., Linux): Ubuntu 18.04
 - How you installed PyTo

[2020-10-28 07:32] wvalcke commented on #2915
@vfdev-5 , thanks for your reply.
Under you see the compile error for 0.8.0-rc4 (same problem with master branch)
The used compiler : gcc version 7.5.0 (Ubuntu 7.5.0-3ubuntu1~18.04)

`[  3%] Building CXX object CMakeFiles/torchvision.dir/torchvision/csrc/cpu/image/image.cpp.o
In file included from /mnt/DataVolume/dumbo/DeepLearning/PyTorchCPP/libtorch/include/ATen/core/boxing/KernelFunction_impl.h

[2020-10-28 07:37] wvalcke commented on #2915
@zhiqwang , thanks for your reply. What has been exactly done (maybe a code sample) in the user code to get the linker to forece to link with libtorchvision.so ?
At this moment i got it working by forcing the linker to include libtorchvision.so by using the linker option --no-as-needed

`g++ -o MySoftwareBinary -Wl,--no-as-needed file1.o file2.o -lc10 -ltorch_cuda -ltorch_cpu -ltorch -ltorchvision

[2020-10-28 07:43] SunJJ1996 opened #2919 "How to change the num_classes from 1000 in vgg?"
I use
        model = vgg.vgg16(pretrained=True, progress = True, num_classes=10)
and use pretrained model     'vgg16': 'https://download.pytorch.org/models/vgg16-397923af.pth',
then, the error happend:
RuntimeError: Error(s) in loading state_dict for VGG:
	size mismatch for classifier.6.weight: copying a param with shape torch.Size([1000, 4096]) from checkpoint, the shape in current model is torc

[2020-10-28 08:22] #2917 closed

[2020-10-28 08:34] fmassa commented on #2915
We were supposed to have fixed it in https://github.com/pytorch/vision/pull/2798 to so that the linker doesn't prune this.

Can you double-check that you have indeed the latest master version that contains that patch?

cc @bmanga as well for thoughts

[2020-10-28 08:56] vfdev-5 commented on #2919
@SunJJ1996 the error says that you can not use pretrained weights for the last fully-connected layer as they do not have same sizes:
- pretrained weights are for ImageNet with 1000 classes : size = 1000, 4096
- your layer has weights with size = 10, 4096

You can define a model with 1000 classes, load pretrained weights for 1000 classes and manually remplace the last layer:
[code]

[2020-10-28 09:12] zhiqwang commented on #2915
Hi @wvalcke , sorry, I didn't have enough coding experience in the linker (and in Windows) ;(

[2020-10-28 09:14] SunJJ1996 commented on #2919
thank you for helping! but cuda also out of memory.
RuntimeError: CUDA out of memory. Tried to allocate 12.20 GiB (GPU 0; 10.92 GiB total capacity; 800.47 MiB already allocated; 9.47 GiB free; 804.00 MiB reserved in total by PyTorch)
besides, i have two nvidia 1080ti, but it seems just use gpu0.
i add this code above all :os.environ['CUDA_VISIBLE_DEVICES'] = '0,1'
but it does not work

[2020-10-28 09:27] edgarriba opened #2920 "[Feat] Camera Stream API proposal"
## 🚀 Feature

An API that interfaces directly with video camera streams.

## Motivation

After including encoder/decoders for image and video would be to also great to have native support for accessing to video cameras e.g for robotics or real-time applications possibly making use of hardware acceleration.

## Pitch

I would expect to have a simple API where you could pass a video file path, camer

[2020-10-28 09:33] vfdev-5 commented on #2919
@SunJJ1996 try to use smaller images

You have to use DP/DDP for that:
- https://pytorch.org/docs/stable/nn.html#dataparallel-layers-multi-gpu-distributed

[2020-10-28 09:53] vfdev-5 commented on #2915
@wvalcke try to include `#include "torchvision/vision.h"` in your code. This should solve the issue with the linker.

[2020-10-28 10:22] bmanga commented on #2915
@wvalcke It should work in master, following @vfdev-5 's advice. I am not sure why you can't compile current torchvision though. Which version of libtorch are you using?

[2020-10-28 13:33] ZoranPandovski opened #2921 "ModuleNotFoundError: No module named '_lzma'"
## 🐛 Bug

Importing the latest version of torchvision==0.8.1 throws following error:

[code]

## To Reproduce

Steps to reproduce the behavior:

1. pip install torchvision
2. import torchvision

## Environment

[code]

 - PyTorch / torchvision Version (1.7.0 / 0.8.1):
 - OS : Linux Ubuntu
 - How you installed PyTorch / torchvision (`conda`, `pip`, source): pip
 - Python version: 3.7.3

cc @pmeier

[2020-10-28 13:46] vfdev-5 commented on #2921
@ZoranPandovski lzma is part of python standard libs: https://docs.python.org/3.7/library/lzma.html
I'd say there can be a problem with your python. See here if it can help you : https://github.com/pandas-dev/pandas/issues/27532#issuecomment-514044754

[2020-10-28 13:46] pmeier commented on #2921
Cannot confirm. In f9c4fdf956ba55dd893f8f4a37d986845cdd52b8 we changed this from a lazy import. Given that `lzma` is [part of the standard library since Python `3.5`](https://docs.python.org/3.5/library/lzma.html) this should not be a problem.

[2020-10-28 13:48] ZoranPandovski commented on #2921
Yes. The strange thing is that the torchvision==0.7.0 version works fine.

[2020-10-28 13:53] pmeier commented on #2921
@ZoranPandovski

As I said:

Thus, whereas `lzma` was only imported before if it was needed, it now is imported if you import `torchvision`.

[2020-10-28 13:58] ZoranPandovski commented on #2921
Got it. Thanks, @pmeier. Closing this one.

[2020-10-28 13:58] #2921 closed

[2020-10-28 14:10] SunJJ1996 commented on #2919
really thanks for reply. I change the I'mg_size from 640 to 320, then a new error occur
IndexError: too many indices for tensor of dimension 2
I don't know how to fix it

[2020-10-28 14:26] Stehsegler opened #2923 "Cannot use Inception3 model created in previous version in PyTorch 1.6+ (Vision 0.7+)"
## 🐛 Bug

I am completely new to PyTorch and currently familiarizing myself with a project someone else created (and which unfortunately is not open source so I cannot share any code or exported model). With this background, I hope my report is concise enough for you to reproduce my problem.

As far as I understand, model loading in PyTorch should be backwards compatible, i.e. I can use models cre

[2020-10-28 14:45] vfdev-5 commented on #2923
@Stehsegler what do you load with `torch.load`, complete model and not its `state_dict`, right ?
As maxpool does not contain any parameters, so the change introduced in #2287 should not impact stored weights.

[2020-10-28 14:53] vfdev-5 commented on #2919
@SunJJ1996 you have to check the shape of your `outputs` (File "/data2/sunjunjiao/CRAFT_scale/train.py", line 134, in train)
The error says that it is not 4D as it is required in the code `outputs[:, 0, :, :]`.

Another option to keep your image size as 640 but able to put everything into 1 GPU is to reduce the batch size.

Let me close the issue as answered to the main question. For debugging que

[2020-10-28 14:53] #2919 closed

[2020-10-28 16:49] Stehsegler commented on #2923
Thank you very much for your quick response! Yes, I was loading the complete model. Indeed, I got it up and running by exporting the `state_dict` from PyTorch 1.5.1 and importing that into PyTorch 1.7.0.

So does that mean backwards compatibility for model loading is only given for `state_dicts`, but not for complete models? Is that documented somewhere?

Comparing the `print()`ed models, it becom

[2020-10-28 16:58] vfdev-5 commented on #2923
@Stehsegler please see here : https://pytorch.org/docs/stable/notes/serialization.html

Those added layers should not influence the behaviour in any way between versions. They are NOT additional as corresponding operations were present in previous version:
https://github.com/pytorch/vision/pull/2287/files#diff-092b74a41e40a59ea3e31d8341e753664c7edf3b45b2c75b7de3772b4ebd0157L139

[2020-10-28 18:18] #2830 closed

[2020-10-28 18:53] Stehsegler commented on #2923
Thank you once again for your helpful support!

Well, that just says using `state_dict` is recommended for compatibility reasons, which is a rather general statement. Maybe the docs could be improved by adding something more specific with regard to inter-version/backwards compatibility.

Thank you for the clarification. I was already aware of the restrictions with regard to reproducibility and jus

[2020-10-28 18:53] #2923 closed

[2020-10-28 19:25] wvalcke commented on #2915
First of all, thank you for all your reactions,

@bmanga : I used 1.6.0 for pytorch. As recently 1.7.0 came out i tried this version, with this version torchvision 1.8.1 compiles fine. So this problem is solved, probably the reason was using 1.6.0.
But unfortunately the problem remains with the nms not being registered in Torchscript. I have to use the linker flag to force linking with torchvision

[2020-10-28 19:43] bjuncek commented on #2920
To follow up on this, it would technically be possible to deal with arbitrary memory stream (e.g. buffer), interfacing with a camera is something we'd have to research.

I'll try to research a bit on how does OpenCV do that and get back to you later next week if that's ok?

[2020-10-28 21:03] xvjiarui opened #2929 "Support same_on_batch option for transforms"
## 🚀 Feature

In the latest torchvison, transforms support tensor input (very nice feature, cheers!).

## Motivation

As titled, `same_on_batch` option is not available for torchvision transforms. For example, `RandomResizedCrop` will crop at the same location for all images in the batch (which is ideal for video, but not for batched images).

## Pitch

[Korina](https://kornia.readthedocs.io/en/la

[2020-10-28 21:14] vfdev-5 commented on #2929
@xvjiarui thanks for the feature request ! Yes, we are also thinking about applying random transformations on each image in the batch.

[2020-10-28 22:14] asemic-horizon opened #2930 "ImageFolder work-a-like for regression tasks"
## 🚀 Feature

The requested/proposed feature is a close analog of `torchvision.datasets.ImageFolder` for regression tasks. The target values could be in a dict or an external JSON file.

## Motivation

Thanks to `torchvision.models` and `torchvision.datasets`, the workflow for using transfer learning from alexnet, resnet, etc. to custom image classification tasks is very streamlined and polished.

[2020-10-28 22:21] bmanga commented on #2915
@wvalcke I assume you built the latest release tag. I don't think the `#include <torchvision/vision.h>` solution made it into any release yet (it's only available on master), so your solution is reasonable if you are unwilling to use the master branch.

I guess this can be closed?

[2020-10-29 00:29] m-k-moriya opened #2931 "torchvision.io.read_image : [Errno 42] Illegal byte sequence"
The image cannot be loaded if the path contains multibyte strings.

## To Reproduce
[code]

## Environment
PyTorch / torchvision Version (e.g., 1.0 / 0.4.0): 1.7.0/0.8.1
OS (e.g., Linux): Windows 10
How you installed PyTorch / torchvision (conda, pip, source): pip
Build command you used (if compiling from source):
Python version: 3.7.9
CUDA/cuDNN version: 10.1
GPU models and configuration: Geforce

[2020-10-29 06:23] choidongyeon opened #2932 "Unable to build wheel for 0.8.1"
## 🐛 Bug

I am unable to create a wheel from the v0.8.1 tag. I already have pytorch 1.7 installed.

## To Reproduce

Steps to reproduce the behavior:

1. `git checkout tags/v0.8.1 -b v0.8.1`
1. `python setup.py clean`
1. `python setup.py bdist_wheel --universal --plat-name=manylinux1_x86_64` or `python setup.py install`

The last few couple lines are:
[code]
A full log can be viewed here: [output_

[2020-10-29 07:16] wvalcke commented on #2915
@bmanga: Thanks for your reply. Sorry but i thought that the new release contained that fix already. I will try again with the master branch. So yes, this issue can be closed.
Thanks to everybody for all reactions, and many thanks to all developers making PyTorch/Torchvision available for C++ developers.

[2020-10-29 07:16] #2915 closed

[2020-10-29 09:44] pmeier commented on #2890
[Yesterdays](https://github.com/pytorch/vision/actions/runs/333250529) and [today's](https://github.com/pytorch/vision/actions/runs/335474214) tests passed.

[2020-10-29 09:44] #2890 closed

[2020-10-29 09:46] vfdev-5 commented on #2932
@choidongyeon thanks for the report. I could reproduce your issue inside docker container with Ubuntu 16.04 and gcc 5.4.0.

This should be related to gcc version as according to [C++ ref](https://en.cppreference.com/w/cpp/utility/tuple)
[code]

If we manually replace
[code]
we can build the package.

[2020-10-29 09:48] pmeier commented on #2930
Hey @asemic-horizon.

What would that dictionary look like? Mapping file names to a score?

[2020-10-29 13:28] asemic-horizon commented on #2930
That's the simplest thing that occurs to me.

Ideally (in my view) one would be able to use existing the existing data-loading and transforming pipeline to maximize code reuse between classification and regression workflows; this would include ignoring the existing filesystem structure where subfolders are category names should be ignored.

But, to think of it: I have the habit of renaming image f

[2020-10-29 14:36] pmeier commented on #2930
If you want to have the same functionality as `ImageFolder` this could be as easy as

[code]

Did I miss something?

[2020-10-29 14:45] caddyless opened #2934 ""RuntimeError: Not compiled with video_reader support" raises when I use the new fine-grained VideoReader API"
## 🐛 Bug

I wanna compare the performance of the new fine-grained video read API in pytorch 1.7 to that in opencv, thus I do a experiment.
When I wanna to read a MP4 format video with the new VideoReader API in the torchvision.io.video, a "RuntimeError: Not compiled with video_reader support"  raised. Referring to the source code, I found it's caused by the _HAS_VIDEO_OPT variable is False. More p

[2020-10-29 15:35] vfdev-5 commented on #2934
@caddyless VideoReader API is still in beta and we suggest :

Please, see the release note : https://github.com/pytorch/vision/releases/tag/v0.8.0

[2020-10-29 18:54] oke-aditya opened #2936 "Preprocessing helper for Normalized and Denormalized Boxes"
## 🚀 Feature

We recently had `box_convert` function which helps interconversions of boxes.
I missed the cases where bounding boxes are normalized.
People would like to Denormalize them as well as Normalize them back.

## Motivation

Motivation was same as `box_convert`. We need these quick helper functions which are often used through Albumentations, etc. This is boiler plate of most object detec

[2020-10-30 04:39] andfoy commented on #2931
Hi @m-k-moriya, thanks for opening this issue, what happens if the image only has ascii characters?

[2020-10-30 09:05] fmassa commented on #2929
Hi,

Thanks for opening this issue, this is indeed something we should plan to do at some point in the future.

But I think it might take some time before we get into it, because I think for a full-fleshed experience this will require `torch.vmap` and `NestedTensor`, both of which are currently prototypes in PyTorch.

I think we should be in close touch with @cpuhrsch (who is working on NestedTens

[2020-10-30 09:10] fmassa commented on #2915
@bmanga is correct, the fix from https://github.com/pytorch/vision/pull/2798 is not present in the 0.8.1 release of torchvision, so you need to compile from master for now.

[2020-10-30 09:11] fmassa commented on #2736
I believe this has been fixed with https://github.com/pytorch/vision/pull/2798 which is available in torchvision from master (but not in the 0.8.1 release).

Please let us know if this still doesn't work for you even if you are using torchvision from master.

[2020-10-30 09:11] #2736 closed

[2020-10-30 10:47] #2932 closed

[2020-10-30 10:49] vfdev-5 commented on #2932
@choidongyeon recently merged PR #2937 should fix the problem on the master. Please build torchvision from master instead of the tag 0.8.1 and feel free to reopen this issue if it still does not work for you. Thanks

[2020-10-30 11:12] #2599 closed

[2020-10-30 11:32] fmassa commented on #2932
I think we will be building a 1.7.1 release for PyTorch in December, so we might as well have this fix be pushed to the new torchvision release being built (0.8.2).

cc @seemethere the process would be to send cherry-pick PRs to `release/0.8.0` branch?

[2020-10-30 11:37] fmassa commented on #2931
To complement @andfoy message, could you also try doing
[code]
so that we can try to identify more easily if the issue is with `read_file` or with `decode_image`?

[2020-10-30 11:52] wvalcke commented on #2915
@fmassa, indeed i checked the git logs and the fix is on master but not yet on 0.8.1 release. I had expectations that with the new release all reported (and fixed problems) were taken into that release.
Thanks for your replies on the topic.

P.S. I can also confirm that the 0.8.1 versions works with VS2019 under Windows 10, both using CPU & CUDA version 10.1
Keep in mind that CUDA 10.1 has a bug p

[2020-10-30 13:39] fmassa commented on #2915
@wvalcke do you think this is something that we should fix on torchvision side?

[2020-10-30 15:09] yustiks commented on #1916
Thank you, it worked for me the same way!

[2020-10-30 15:42] yustiks commented on #1405
yes, I changed to 0.7.0, and it worked

[2020-10-30 15:43] yustiks commented on #1916
I get another error that add_dll_directory is not an implemented function of os module.

[2020-10-30 16:02] vfdev-5 commented on #2881
FYI: Using `torch.testing._internal` to support PIL and configurations would require to recode existing classes and methods:
- To enable PIL modes support in addition to existing tensor device dtype.
  - We need to introduce a class `vision_dtypes derived` from `torch.testing._internal.common_device_type.dtypes`

<summary>
code and usage
<details>

[code]
and this can be used as
[code]

</details>

[2020-10-30 16:09] fmassa commented on #1916
@yustiks `add_dll_directory` is only present in Python 3.8+.

In torchvision we have a guard for this see https://github.com/pytorch/vision/blob/b93d5ee2ddcf2a9876b5871cbb958016e263336b/torchvision/extension.py#L27-L34

Please open a new issue if you hit an issue with torchvision

[2020-10-30 16:15] #2796 closed

[2020-10-30 16:15] fmassa commented on #2797
Fixed via referenced issues, with last PR in https://github.com/pytorch/vision/pull/2938

[2020-10-30 16:15] #2797 closed

[2020-10-30 16:19] fmassa commented on #2923
@vfdev-5 I think it would be useful to add a note in the models documentation pointing to https://pytorch.org/docs/stable/notes/serialization.html and saying that we guarantee compatibility with serialized state-dict, but not if the model is entirely serialized.

[2020-10-30 16:25] choidongyeon commented on #2932
Thanks @vfdev-5 !

[2020-10-30 16:27] vfdev-5 opened #2939 "Add notes about serialization to models docs"
## 📚 Documentation

Following https://github.com/pytorch/vision/issues/2923#issuecomment-719650811

[2020-10-30 17:12] fmassa opened #2941 "Provide speed benchmarks for the new video reader API"
## 📚 Documentation

It would be useful to provide some speed benchmarks of the `VideoReader` API somewhere in the documentation.
This has been requested twice already (once in https://github.com/pytorch/vision/issues/2934 and once by @takatosp1 ).

cc @bjuncek

[2020-10-30 18:27] datumbox commented on #2349
Adding support of CMake would be awesome. Not only it will simplify our build process but also it will allow IDE users to do easier full-remote development and debugging.

[2020-10-30 18:35] Emmanuel12345678 commented on #1943
Does anyone know how I can reshape Tensor object on android?

[2020-10-30 18:54] bmanga commented on #2349
I think a good start would be to list what the cmake and python sides do differently at the moment.

[2020-10-30 19:18] wvalcke commented on #2915
@fmassa : No not at all, the problem is an Nvidia one, i did not had to touch anything in torchvision sources or Cmake files. If the CUDA 10.1 extension is correctly installed, things compile out of the box under Windows (assuming jpeg, png & bzip2 is found). If not, it is clearly mentioned by cmake which variables are needed to be set, so Cmake can find the include files and libs.

[2020-10-30 19:30] andfoy commented on #2349
Right now CMake is not generating neither the image and video_reader extensions

[2020-10-30 20:37] bmanga commented on #2349
Also from a cursory look, python also has:
* rocm/hipify logic
* option to build tests
* torchvision_EXPORTS macro definition unconditionally for windows (shouldn't matter too much)
* Optional PNG and JPEG libs (they are required in cmake)

@fmassa maybe you could edit the issue comment to add a checklist to track what needs done to bring the cmake side on par with the python one?

[2020-10-30 22:08] seyeeet commented on #2882
I am going to close this issue, I found that I can combine a vae code with the explanation that is provided [here](https://pytorch.org/tutorials/intermediate/tensorboard_tutorial.html)
thanks

[2020-10-30 22:08] #2882 closed

[2020-10-31 02:26] m-k-moriya commented on #2931
@andfoy , @fmassa, thank you for reply.

The code below works fine.

[code]

[2020-10-31 02:39] m-k-moriya commented on #2931
@andfoy , The code below that only has ascii characters works fine.

[code]

[2020-10-31 07:58] fanjunkai-code opened #2943 "the divide mistake of positive and negative samples"
## ❓ Questions and Help

### Please note that this issue tracker is not a help form and this issue will be closed.

We have a set of [listed resources available on the website](https://pytorch.org/resources). Our primary means of support is our discussion forum:

- [Discussion Forum](https://discuss.pytorch.org/)
When dividing positive and negative samples, the gt_boxes index that anchor matches t

[2020-10-31 16:47] fmassa commented on #2931
Thanks a lot for confirming @m-k-moriya !

This means there is an issue in `read_file` (at least on Windows) for non-ascii characters. We will be investigating it.

[2020-11-01 10:38] m-k-moriya commented on #2931
@fmassa , Thank you for your investigation.
I would appreciate your continuous support.

[2020-11-01 22:56] dvolgyes commented on #2877
Alexnet, VGG are proven architectures, and e.g. VGG is very frequently used in transfer learning.
There are hundreds of new networks, but as long as they don't provide a clear reusable architecture,
i don't see any point to incorporate it into a core library. Torch hub is perfect for this.
As these covid networks trained on very specific dataset, often not even too diverse dataset,
i don't see tha

[2020-11-02 09:55] fmassa commented on #2349
About the option to build tests: those are only tests for the C++ models, and the way it was tested might not be ideal. Additionally, the C++ model tests were disabled in CI last time I saw it, so we can treat this separately.

Good idea, let me do this. I'll start with what you proposed and then we can update it

[2020-11-02 14:19] fmassa commented on #2931
I've looked a bit into it, and this looks like an issue that only happens on Windows, see https://github.com/pytorch/vision/pull/2946

@peterjc123 do you have an idea of what we might need to change in `read_file` and `write_file`?

[2020-11-02 16:09] vfdev-5 commented on #2479
Similar things with Transforms module and classes:
- RandomRotation: fill/resample
- RandomAffine: fillcolor/resample
- RandomPerspective: fill/interpolation
- RandomResizedCrop: interpolation
- Pad: fill
- RandomCrop: fill
- Resize: interpolation

[2020-11-02 16:14] peterjc123 commented on #2931
@fmassa Yeah, but the problem is not so simple. Since the implemention of `read_file` relies on `THMapAllocator`, we'll need to replace all the ascii variants of Windows API with the unicode ones in all the related codepaths. And that's a lot work to do.

[2020-11-02 16:24] fmassa commented on #2931
@peterjc123 so you are saying that the problem is within `torch.from_file`, and not the file size reading?
If that's the case then I'd say it's a pretty serious bug in `torch.from_file` that should be fixed in PyTorch core.

[2020-11-02 17:17] peterjc123 commented on #2931
@fmassa I mean both. File size reading is easy to fix comparing with the one related to PyTorch.

Yeah, maybe you can create a new issue in PyTorch.

[2020-11-02 18:28] oke-aditya opened #2947 "Replace assert with ValueError in AnchorGenerator"
## 🐛 Bug

I think with the Retina Net PR, there was an update to anchor utils.
My old code still works fine on torchvision 0.7 and pytorch 1.6. But on upgrading to 0.8 it doesn't.
I am not sure if this was BC Breaking change.

## To Reproduce

Steps to reproduce the behavior:

1. Following is the code block to create FRCNN
[code]
2. When I do These three function sequeantially
[code]

I get an ass

[2020-11-02 20:23] rwightman opened #2948 "Support specifying output channels (RGB vs grayscale) for io.image.read_image"
## 🚀 Feature
Similar to `channels` argument for `tf.io.decode_image` or `PIL.Image.open(..).convert('format')` allow specifying the output channel 'format' and have a sensible conversion performed for you when decoding an image if set.

## Motivation

Prevent the need to manually check and do color conversion from RGB -> grayscale or grayscale -> RGB when datasets often have mixes of RGB and grays

[2020-11-03 05:08] hjinlee88 opened #2950 "In transforms.Resize, tensor interpolate is not the same as PIL resize."
## 🐛 Bug

Resize supports tensors by F.interpolate, but the behavior is not the same as Pillow resize.
https://github.com/pytorch/vision/blob/f95b0533243dfbc901b5ed5f5db28a5a46bdb699/torchvision/transforms/functional.py#L309-L312

## To Reproduce

Steps to reproduce the behavior:

[code]
![image](https://user-images.githubusercontent.com/30526247/97950992-f6c3c300-1ddb-11eb-85d4-a511d58e3b50.png)

[2020-11-03 05:15] zhiqwang commented on #2950
The interpolation method between `F.interpolate` and `PIL.resize` are not consistent, so the inference results will be a little different.

[2020-11-03 06:58] NaifahNurya opened #2951 "Imagenet Pre-trained model for other Depth Multiplier"
On the mnasnet model under mnasnet.py file, the link provided for imagenet pretrained model is only for two depth multiplier, as shown in the code below:

_MODEL_URLS = {
    "mnasnet0_5":
    "https://download.pytorch.org/models/mnasnet0.5_top1_67.823-3ffadce67e.pth",
    "mnasnet0_75": None,
    "mnasnet1_0":
    "https://download.pytorch.org/models/mnasnet1.0_top1_73.512-f206786ef8.pth",
    "m

[2020-11-03 07:22] wj1017090777 commented on #544
After the update, I still have this problem

[2020-11-03 09:19] github-actions[bot] opened #2953 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow tests/download.
Please look into it:

https://github.com/pytorch/vision/actions/runs/343267118

Feel free to close this if this was just a one-off error.

cc @pmeier

[2020-11-03 09:29] vfdev-5 commented on #2950
@hjinlee88 thanks for the report. Currently, interpolation method is only consistent for "nearest" option:
[code]
![image](https://user-images.githubusercontent.com/2459423/97965663-054db280-1dbb-11eb-8950-3109535ded66.png)

[2020-11-03 09:33] pmeier commented on #2953
VOC servers seem to be unstable. Not sure on how to move forward on this. @fmassa ?

[2020-11-03 09:55] fmassa commented on #2931
@peterjc123 you are right, the second commit in #2946 adds a new test to see if `torch.from_file` also suffers from this issue, and that is indeed the case.
So the solution is more complicated than I originally thought if we want to use the `from_file` from PyTorch.

I think a workaround would be to dispatch to a custom reading implementation on Windows, so that we don't do through `torch.from_fil

[2020-11-03 11:19] fmassa commented on #2947
Hi,

Thanks for opening this issue.

I believe the code snippet that you included is not supposed to work, and it only worked before by accident (although potentially leading to worse results)

Indeed, you need to pass a custom `AnchorGenerator` that will only return one feature map, as your backbone is only returning one feature map.

The assert was added in https://github.com/pytorch/vision/pull

[2020-11-03 11:55] peterjc123 commented on #2931
@fmassa That sounds good to me. BTW, do you have a reference implementation for it?

[2020-11-03 12:10] datumbox opened #2955 "[RFC] How to handle BC breaking changes on Model weights or hyper-parameters"
## 🚀 Feature
In order to fix bugs we are sometimes forced to introduce BC breaking changes. While the process of such introductions is clear when it comes to code changes, it's not when it comes to model weights or hyper-parameters. Thus we should define when, why and how to introduce BC-breaking changes when it comes to model weights or model hyper-parameters.

## Motivation

We have recently bum

[2020-11-03 12:27] oke-aditya commented on #2947
Hi, Thank you for answering this.
Yes definitely. I will send PR removing assert.

[2020-11-03 15:15] datumbox commented on #2948
@rwightman Thanks for reporting.

This is also related to #2823.

[2020-11-03 16:46] xkszltl commented on #2783
Any news so far?

[2020-11-03 16:53] vfdev-5 commented on #2783
@xkszltl i'll try to take a look at this issue this week.

[2020-11-03 16:58] andfoy commented on #2931
I think we could use ctypes and calls to ReadFileW

![imagen](https://user-images.githubusercontent.com/1878982/98016333-d55adb00-1dcb-11eb-9ba6-091495dd3642.png)

[2020-11-03 17:31] datumbox opened #2956 "[RFC] Encapsulate and standardize C++ Ops methods"
## 🚀 Feature
Currently all the internal methods of the C++ Ops are public and this can lead to signature conflicts. To avoid the problem, we often use slightly different names for the same functionality across devices (`nms_cpu_kernel` vs `nms_kernel`). A better approach would be to encapsulate the methods and standardize the naming conventions across operators. Doing so will enforce good engineer

[2020-11-03 18:38] bjuncek commented on #2941
Hi @fmassa,
do you have a suggestion to where I should be putting this in the docs (and which format - graphs, tables)?

Please find the attached per-frame decoding speed comparison (averaged over 100 decoding runs) in two scenarios:
1) Reading the entire video

a) averaged over all videos in our test suit
![reader_pervideo](https://user-images.githubusercontent.com/6318056/98025735-00f8b800-1e02-

[2020-11-03 19:06] fmassa commented on #2931
@andfoy this implementation wouldn't allow for torchscript support, so we need to keep it entirely in C++ for now.

@peterjc123 not right now, I was thinking about doing something very basic that involves reading into a vector via `ifstream` and then converting to a Tensor via `from_blob`, which is btw very similar to what you did in your PR

[2020-11-03 20:24] mthrok commented on #2956
I agree with the general direction that the proposal is going. I do not have enough context to fully evaluate the pitches, (because I am not familiar with vision's C++ codebase), but here are my thoughts

Having a standard sounds good. When it comes to picking one, looking at [PyTorch codebase](https://github.com/pytorch/pytorch/tree/master/aten/src/ATen), they use CamelCase for headers and classe

[2020-11-03 23:44] batrlatom opened #2958 "Support for compute capability 8.6"
Hi, I have tried to compile torchvision for rtx3070 and cuda 11.0, but without any luck. The code I am using is:
```USE_CUDA=1 USE_CUDNN=1 USE_MKLDNN=1 TORCH_CUDA_ARCH_LIST="8.6" python setup.py install```

But I am getting error that this compute capability is not supported. How can I make it compile? Thanks

[2020-11-04 03:56] jgbradley1 opened #2959 "Allow torchvision.io to pass through ToTensor()"
## 🚀 Ensure torchvision.io is a drop-in replacement with current workflows

The following snippet will fail.
[code]

## Pitch
Consider making native io compatible with existing transform workflows by allowing the tensor type to pass through `ToTensor()`. This would still scale down tensor values to the range 0-1 and not impact downstream transformations.

[2020-11-04 05:03] hjinlee88 commented on #2950
I did a little research on this.

The easiest solution for downscale is to downsample as much as possible and then interpolate.
Images are downsampled using convolution with normal (or uniform) weight and stride.
For upscale, transpose convolution maybe works.
Of course, upsample or downsample should not apply to NEAREST.
Inspired by tfg.image.pyramid._upsample and tfg.image.pyramid._downsample.

[2020-11-04 08:34] vfdev-5 commented on #2959
@jgbradley1 `img = torchvision.io.read_image()` gives a tensor, right ? Why would you like to transform tensor to tensor ?
If you would like to scale values, please use `ConvertImageDtype`. What do you think ?

[2020-11-04 08:45] vfdev-5 commented on #2950
@hjinlee88 thanks for investigating this. Results of resampling with convolutions look neat. Let me check and decide if what can be done with this issue.

[2020-11-04 09:08] ptrblck commented on #2958
Compute capability 8.6 is supported in CUDA>=11.1, so you would need to update your local CUDA toolkit or compile with 8.0+PTX.

[2020-11-04 09:11] fmassa commented on #2958
@ptrblck does it mean that we don't need to do anything in particular in torchvision? Would you say we can close this issue?

[2020-11-04 09:14] ptrblck commented on #2958
@fmassa I don't think you need to change anything in `torchvision` to build with 8.6, as we are doing it in our containers with CUDA11.1 and 8.6 without any changes.
I think we can close this issue.

[2020-11-04 09:17] batrlatom commented on #2958
ok, thanks for the clarification

[2020-11-04 09:17] #2958 closed

[2020-11-04 09:19] fmassa commented on #2953
@pmeier if VOC servers are unstable and goes on and off, I would say we should either disable VOC tests or run them on a longer schedule (say once every 2-3 days).
We can do this by skipping the test if the day is not a multiple of 2 or 3 for example. If we keep getting open issues about VOC, I would say we disable the test and make a note to ourselves in a form of an issue that their server is un

[2020-11-04 09:23] #2931 closed

[2020-11-04 09:28] datumbox commented on #2956
CameCase for header and classes is indeed a very common choice. @fmassa proposed in the past to prefer snake_case in order to keep Python and C++ consistent. Personally I just advocate consistent naming, I don't have a preference over what we use.

This is not "must have" to adopt the dispatcher. It's the latter.

On my final cleanups during the dispatcher work, I tried to align some of the functi

[2020-11-04 09:28] vfdev-5 commented on #2958
@batrlatom as @ptrblck told me, to compile with `8.0+PTX`, you can set `TORCH_CUDA_ARCH_LIST="8.0+PTX"` with your current cuda 11.0

[2020-11-04 09:29] fmassa commented on #2931
@m-k-moriya This issue has been fixed by @peterjc123 in #2949, and will be present in the next torchvision nightly, as well as in the next minor release which will be out in December.

Thanks for flagging this bug!

[2020-11-04 09:47] pmeier commented on #2953
I don't think this is a good solution. Assuming the failures of the servers are uniformly distributed, we will get 2-3 times fewer issues about this, but the problem still persists.

Although it is not ideal, IMO this the sensible way forward. The test failures right now carry no information, since the servers are up and running in a matter of hours. Thus, we don't need to do anything. We should k

[2020-11-04 10:12] fmassa commented on #2953
Sounds good, can you disable the VOC tests and link them to this issue? We can rename the issue title and add more information about the problem here.

[2020-11-04 11:57] m-k-moriya commented on #2931
@fmassa , @peterjc123, @andfoy, Thank you for your prompt response!
I'm looking forward to the next release.

[2020-11-04 13:39] pmeier commented on #2953
The download server of  `datasets.VOCSegementation` and `datasets.VOCDetection`

http://host.robots.ox.ac.uk/pascal/VOC

is unstable and sometimes unreachable. This issue is not the first reporting the same problem (#2890).

[2020-11-04 15:05] vfdev-5 commented on #2881
After discussing with @fmassa, we can propose a change to `torch.testing._internal` in order to enable a more flexible approach: a) user can easily add "custom" dtypes (e.g. like cpu PIL modes for torchvision), b) user can easily create decorators (something like `@ops`) to insert a parameterization/configuration as arg to the test.
Next step is to create a prototype of new `common_device_type.py

[2020-11-04 17:12] jgbradley1 commented on #2959
`ConvertImageDtype` would work. The actual issue that I am referring to in this post is a conflict with the design choice and the impact it will have going forward. The first question I should ask, for clarification, is whether or not you all want `torchvision.io` to be treated as a drop-in replacement for PIL image loading?

A long time ago, someone decided that `ToTensor` would convert `PIL` to

[2020-11-04 17:36] mruberry commented on #2881
@vfdev-5 Would you just like an @variants(iterable of (str, obj) pairs) decorator?

[2020-11-04 17:52] Yura52 opened #2962 "Add pathlib.Path support to read_image"
When I try to pass an object of `pathlib.Path` to `torchvision.io.read_image`, I get:
[code]

Casting the object to `str` fixes the problem. It would be nice to support the usual set of "path-like" types as input (str, bytes, pathlib.Path, ...)

[code]

[2020-11-04 18:09] vfdev-5 commented on #2962
@Yura52 thanks for the feature request. This seems reasonable, however there could be a blocker if we would like to use it with torchscript. We have to check.

[2020-11-04 18:23] jgbradley1 commented on #2959
Perhaps I'm just way off-base with this line of thinking. `ToTensor` is documented as a conversion transform so I might be over-stating how often people depend on `ToTensor` for value scaling purposes.

I'm okay if the decision is

*people should read the documentation and make necessary changes to use `torchvision.io` correctly*

[2020-11-04 18:25] fmassa commented on #2959
Hi,

Thanks for sparkling this discussion.

Even though the current default is to rely on `ToTensor`, it has multiple issues with it due to its implicit conversion to 0-1 range.
This is even more pronounced when using numpy arrays internally, and has led to a number of issues, see https://github.com/pytorch/vision/issues/546 and https://github.com/pytorch/vision/issues/1595 for some examples.
I be

[2020-11-04 18:27] #2953 closed

[2020-11-04 18:46] fmassa commented on #2941
Does this mean that those numbers aren't comparable?

[2020-11-04 19:06] jgbradley1 commented on #2941
Was implementing [Decord](https://github.com/dmlc/decord) ever considered as a video loader option? It reports speeds that are around 2x faster than OpenCV or pyav.

[2020-11-04 21:42] vfdev-5 commented on #2881
@mruberry yes, something like that would be perfect. The usage will be like that
[code]

[2020-11-04 22:16] mruberry commented on #2881
Instead of being passed in "config" how do you feel about taking kwargs so the variant params can get splatted?

[2020-11-04 22:26] vfdev-5 commented on #2881
I think this could also work.

Actually, I've been thinking that it would be nice that something generic like `variants` could be used for any "cross-product" combinations (without restrictions on using variants decorator only once):
[code]
what do you think ?

[2020-11-04 22:49] gaussiangit opened #2963 "detector as feature extractor"
Hello,

I am using mask rcnn for detection. So basically fine tuning. However I want extract feature for each object that is being detected.
So possibly extracting feature vector just before last layer. How can I do that ? forward hooks ?

I was also looking into https://github.com/pytorch/vision/blob/master/torchvision/models/_utils.py ? could not get it working.

Any leads would be helpful.

Che

[2020-11-05 01:37] hjinlee88 commented on #2950
The below also works.
[code]
The problem could be in this line
https://github.com/pytorch/vision/blob/8088cc94f2155403f6b09cd54edadafa68daa977/torchvision/transforms/functional.py#L197
for the following reasons:
[code]
[code]

[2020-11-05 09:28] fmassa commented on #2948
Thanks for the feature request @rwightman !

I think this is a nice addition to have, and we will be looking into adding support for this feature in torchvision.
We are already planning a few improvements to PNG support as @datumbox mentioned, so we could go one step further and also allow for a finer-grained control on the output format for `read_image`.

[2020-11-05 09:44] fmassa commented on #2962
As @vfdev-5 mentioned, we would like to support `pathlib.Path`,  but it wouldn't support torchscript for `pathlib.Path`.

As you mentioned, this could be probably easily done by casting internally to `str` in

https://github.com/pytorch/vision/blob/32e57007d479c3b38e2e4d11ab216c49090a6eb3/torchvision/io/image.py#L61 and
https://github.com/pytorch/vision/blob/32e57007d479c3b38e2e4d11ab216c49090a6eb

[2020-11-05 12:58] batrlatom commented on #2958
I was able to compile pytorch witch cuda 11.1 and everything works as it should. Thanks!

[2020-11-05 14:44] Yonggie commented on #978
i'm just reading you guys discussion and solved my problem...
just wanna thank github community.
thank you guys all!

[2020-11-06 00:56] NaifahNurya commented on #2951
Any help/updates on this request @vfdev-5

[2020-11-06 05:18] mruberry commented on #2881
I agree that would be nice. I'm going to propose updates to PyTorch's test tools soon and they'll include a decorator like `parameterize` or `variants` or subtest functionality. Note that a workaround today is just to write a for loop that enumerates the cross-product of these arguments in the test itself.

[2020-11-06 09:25] vfdev-5 commented on #2881
@mruberry sounds great ! Also, it would be nice to have related classes and methods more configurable. For example, if we would like to derive from `dtypes`, it would be nice to refactor type verification and have a possibility to override it:
[code]

I was also thinking to propose certain changes for `dtypes`, `DeviceTypeTestBase` and `instantiate_device_type_tests`. Let me know if it could overl

[2020-11-06 09:39] mruberry commented on #2881
Changes like that don't need to go through a special planning process, although I am curious if `@dtypes` is really the best place for a change like that and how to use the new functionality would need to be documented. It's too bad that subclassing torch.dtype isn't possible.

[2020-11-06 09:45] fmassa commented on #544
As Simon mentioned above, many libraries set the multiprocessing start method.
torchvision doesn't directly use any of those, and if you are facing this problem it might be good to isolate which library is doing this in torchvision.

[2020-11-06 09:48] #2947 closed

[2020-11-06 10:12] fmassa commented on #2841
Fixed via https://github.com/pytorch/vision/pull/2879

[2020-11-06 10:12] #2841 closed

[2020-11-06 10:20] ForrestPi commented on #1943
The model trained with PyTorch 1.7 and  the backbone is resnet50 ,  but PyTorch version 1.4 loading the model occurred the same error

[2020-11-06 10:28] fmassa commented on #2943
Hi,

Thanks for raising this question, it's a good question indeed.

The input to `BalancedPositiveNegativeSampler` is not actually the indices of the GT, but the labels themselves (with 0 being the background label), see https://github.com/pytorch/vision/blob/5b61a5c8f89348b14a63deb95d5ee7aea9507051/torchvision/models/detection/roi_heads.py#L585-L586
As such, the code properly takes into account

[2020-11-06 10:28] #2943 closed

[2020-11-06 10:41] hjinlee88 commented on #2950
@vfdev-5  I investigated the code I wrote earlier https://github.com/pytorch/vision/issues/2950#issuecomment-721513454.

I studied transpose convolution and found it useless here. Because, in here, this is just like copying the pixels closer together. Therefore, it must be removed.

conv2d with weights and strides looks good because it is essentially the same as blur (mean blur or gaussian blur) a

[2020-11-06 11:45] fmassa commented on #2950
@hjinlee88 interpolate in PyTorch implements interpolation following the standard approaches from OpenCV (for float values).
For bilinear interpolation, each output value is computed as a weighted sum of 4 input pixels, which are determined via the input-output shapes.

For a python-based implementation of interpolate that gives the exact same result as torchvision, see https://gist.github.com/fma

[2020-11-06 13:53] fmassa commented on #2941
@jgbradley1 we would like to keep as a requirement that the operators are torchscriptable, so that they can easily be sent from Python to C++.

For us to be able to use Decord, we would have needed to rely on their internal C++ implementations, which they don't expose as a library, and modify them so that they can be torchscripted.

[2020-11-06 21:06] ruotaozhang commented on #2144
Is there a particular reason to set image_id = 4? Or is this arbitrary?

[2020-11-07 10:20] oke-aditya opened #2970 "[DOC] Documentation for sigmoid focal loss"
## 📚 Documentation

Sigmoid focal loss was added to torchvision, but I think docs are not generated for it

It was initalized in `init` as well [here](https://github.com/pytorch/vision/blob/v0.8.0/torchvision/ops/__init__.py#L11)

I think it's really minor fix, we might need `..autodoc::sigmoid_focal_loss` and it should be fine.

[2020-11-08 06:51] hjinlee88 commented on #2950
@fmassa Thank you for the explanation. I find that OpenCV already knows that CV resize is not same as Pillow resize. https://github.com/opencv/opencv/pull/17068#issuecomment-613866220

I also tested resize bilinear in GIMP, the famous GNU graphics editor, and the result is different for both CV resize and Pillow resize. This result means that resize can be different for each program.

However, I t

[2020-11-08 10:21] Licht-T opened #2972 "GPU CI fails since Python 3.9 installed"
## 🐛 Bug
GPU CI is expected running on Python 3.8, but the latest Miniconda installer tries to utilize Python 3.9.

https://app.circleci.com/pipelines/github/pytorch/vision/4931/workflows/9e04b107-a5c0-4b85-b3e3-43ffa7a040b0/jobs/302026

## To Reproduce

Steps to reproduce the behavior:

1. Make PR and run CI

## Expected behavior

GPU CI passed

## Environment
None

## Additional context
None

cc

[2020-11-09 03:36] jgbradley1 commented on #2959
I like the suggestion to add a warning. While this request is not really a technical bug, it would help the community evolve and push everyone in the right direction away from using `ToTensor`. This will only happen as people stop using a PIL/numpy image loader and `torchvision.io` matures as the defacto standard.

Just summarizing what this request involves then. `ToTensor` shall:
1. accept the o

[2020-11-09 10:34] #1788 closed

[2020-11-09 10:36] fmassa opened #2974 "[CI] Add back caching to CircleCI"
## 🚀 Feature

Caching was disabled in https://github.com/pytorch/vision/pull/2791, we should enable it back)

cc @seemethere

[2020-11-09 10:38] fmassa opened #2975 "[DOC] Mention that DeformConv2d now supports modulation"
## 📚 Documentation

With https://github.com/pytorch/vision/pull/2791, DeformConv2d now supports modulation, also known as DeformConv v2 from https://arxiv.org/abs/1811.11168

It might be good to cite this paper in the documentation of DeformConv2d and mention DeformConv v2 as well.

[2020-11-09 10:46] #2326 closed

[2020-11-09 13:13] bryandeng commented on #2660
Hi @bjuncek ,

Sorry for the late reply. Thanks for your clear explanation.

Regarding my previous question 1, will a "higher level" multiple-frame read function based on this new video API be provided, which takes a list of frame indices or pts' as input and hides the details of key frames, seeking and caching from the user? This resembles how the `decord` library is designed.

And for question 2

[2020-11-09 13:23] 0x12woo opened #2977 "torchvision/csrc/cpu/decoder/stream.h line:52 error"
I pulled v0.7.0 from the Jetson nano and encountered problems during the building;

install the package
sudo apt install libavcodec-dev
sudo apt install libavformat-dev
sudo apt install libswscale-dev

and
git clone --branch v0.7.0 https://github.com/pytorch/vision
cd vision
sudo python3 setup.py install

![image](https://user-images.githubusercontent.com/23329819/98546345-b380bd00-22d1-11eb-8fd4-

[2020-11-09 13:49] datumbox commented on #2712
Fixed by #1974

[2020-11-09 13:49] #2712 closed

[2020-11-09 14:20] fmassa commented on #2660
@bryandeng Hi,

The idea is to replace the current implementation of `torchvision.io.read_video`, which takes a start_pts / end_pts and returns the frames between two two timestamps, to use `VideoReader`.

There is unfortunately no generic and reliable way of figuring out the number of frames in an arbitrary video extension. So the approach taken by Decord, which proposes a `__getitem__` based API

[2020-11-09 14:23] #2100 closed

[2020-11-09 14:33] fmassa commented on #2970
A PR adding it would be great!

[2020-11-09 15:10] mthrok commented on #2956
So my understanding is that the top level functions that are called by dispatcher will be public and have different names (like `XXX_forwad_CPU` and `XXX_forward_CUDA`), and the helper functions used by these top level will go into anonymous namespace, possibly with the same function name. I think that's a fair approach. One thing I wonder is if it is a good idea to pose a constraint of having the

[2020-11-09 15:22] mthrok commented on #2955
I think the future proof way of handing is the option 3. and having a factory function for versioning. I think we need at least two versioning for them, one for code (model version) and one for parameter (param version).

Model version can be added when there is significant change on the code, which is BC-breaking for the previous model.
Then, the question is narrowed down to what we want to do wh

[2020-11-09 17:28] datumbox commented on #2955
Here is an example of parameters we don't currently store in state and it's unclear whether they should be considered part of the code or part of the params:
[code]

It's worth discussing whether it makes sense to store these inside the state of the module.

[2020-11-10 08:08] #2977 closed

[2020-11-10 09:22] oke-aditya opened #2980 "[RFC] Loss Functions in Torchvision"
## 🚀 Feature

A loss functions API in torchvision.

## Motivation

The request is simple, we have loss functions available in torchvision
E.g. `sigmoid_focal_loss` , `l1_loss`. But these are quite scattered and we have to use `torchvision.ops.sigmoid_focal_loss` etc.

In future we might need to include further loss functions. E.g. `dice_loss`

Since loss functions are differentiable we can put the

[2020-11-10 09:41] fmassa commented on #2655
Let's keep this issue open for now to track RegNets

[2020-11-10 10:20] bjuncek opened #2981 "[discussion needed] [videoAPI][bc-breaking] custom class for video frames"
## 🚀 Feature
Design and implement a custom class to hold the return of a video frame.

## Motivation

At the moment the new [VideoReader API](https://github.com/pytorch/vision/issues/2660) returns a dictionary with a byte tensor "data" and a "pts" value. This works well for numerical data (such as audio and video), however, it may cause issues with CC and SUB streams that return strings.

## Pitch

[2020-11-10 10:33] #2970 closed

[2020-11-10 14:05] #2823 closed

[2020-11-10 21:51] yechengxi commented on #1943
There could be other serious bugs inside.

[2020-11-11 09:09] github-actions[bot] opened #2986 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow tests/download.
Please look into it:

https://github.com/pytorch/vision/actions/runs/357446596

Feel free to close this if this was just a one-off error.

cc @pmeier

[2020-11-11 09:33] pmeier commented on #2986
Probably just a fluke. Both failed links

- https://data.csail.mit.edu/places/places365/filelist_places365-challenge.tar
- https://data.csail.mit.edu/places/places365/train_large_places365challenge.tar

Are up and running.

[2020-11-11 09:33] #2986 closed

[2020-11-11 10:31] datumbox commented on #2948
Since we now support palette, we need to adapt slightly the pitch:

- channels=0 - leave as original (grayscale, palette, grayscale with alpha, rgb, rgb with alpha)
- channels=1 - grayscale out
- channels=2 - grayscale with alpha out
- channels=3 - RGB out
- channels=4 - RGBA out (PNG or formats that support alpha, not valid for jpeg)

[2020-11-11 11:22] RunningLeon opened #2987 "RuntimeError: Only tuples, lists and Variables supported as JIT inputs/outputs. Dictionaries and strings are also accepted but their usage is not recommended."
Hi, I have issue with exporting pytorch models to onnx with output of List[Dict[str, tensor]], just like some detection models in torchvision.
[code]
Any ideas?
Thanks in advance.

[2020-11-11 12:51] zhiqwang commented on #2987
Hi @RunningLeon , I think that the `test_onnx.py` unittest

https://github.com/pytorch/vision/blob/78159d61b966ec32ac330c28bea32e9e12fe6eb4/test/test_onnx.py#L37

would probably be a good start

[2020-11-11 13:31] RunningLeon commented on #2987
Thanks. @zhiqwang
I mean, the output of onnxruntime are not same data structure as output of pytorch:
Output names are also different.:
[code]

[2020-11-11 13:36] zhuhonglinX opened #2989 "About PIL image convert to pytorch tensor"
## About converting PIL Image to PyTorch Tensor

I use PIL open an image:

[code]
Then I want to convert it to tensor, I have read `torchvision.transforms.functional`, the function `to_tensor` use the following way：

[code]

Why not use the following method directly:

[code]

I want to know what is the difference, is it because of the difference in efficiency？

The following is the code snippet fo

[2020-11-11 14:54] zhiqwang commented on #2987
Hi @RunningLeon , One option to use `desired_list, _ = torch.jit._flatten(desired)` to set the outputs of pytorch as a list as in

https://github.com/pytorch/vision/blob/78159d61b966ec32ac330c28bea32e9e12fe6eb4/test/test_onnx.py#L54

[2020-11-11 18:14] bryandeng commented on #2439
Updated description after the release of torchscriptable transforms.

[2020-11-11 18:19] bryandeng commented on #2439
We may first
- [ ] discuss which hardware platforms to support
- [ ] find out the constraints on input video formats and output pixel formats, etc.

[2020-11-11 20:38] Dyst opened #2991 "Error building torchvision from source. CalledProcessError: Command '['ninja', '-v']' returned non-zero exit status 1."
Hi, dear support team. I've faced the issue during installation process of torchvision from source on my Jetson Nano.
I followed instructions from official Nvidia site and succeeded in installation Torch v1.7.0. I build it from source cause i have python3.8.

The log file with the error could be found [here](https://github.com/Dyst/public/blob/main/torchvision_issue)

Here is the output of your en

[2020-11-11 23:13] jgbradley1 opened #2992 "Flaky behavior when downloading Google drive files"
## 🐛 Bug

This is a rather difficult bug to diagnose because certain internet activity must be present. The issue is with `torhvision.datasets.utils.download_file_from_google_drive()`. It does not gracefully handle large files that have exceeded their daily download quota.

## To Reproduce
The following two prerequisites must be met in order to detect this issue.

* the quota for a google drive fi

[2020-11-12 01:48] RunningLeon commented on #2987
@zhiqwang Thanks again.

[2020-11-12 01:48] #2987 closed

[2020-11-12 06:32] pmeier commented on #2992
IMO, this could be the offender. If I remember correctly, the `"Google Drive - Quota exceeded"` string is at the beginning of the the payload. Thus, we should switch to something like `response.iter_content` and check if the string is present.

@jgbradley1 Right now, https://docs.google.com/uc?export=download&id=0B6eKvaijfFUDQUUwd21EckhUbWs&confirm=o7Z2 (the URL we request from you sample above),

[2020-11-12 09:09] github-actions[bot] opened #2993 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow tests/download.
Please look into it:

https://github.com/pytorch/vision/actions/runs/359332646

Feel free to close this if this was just a one-off error.

cc @pmeier

[2020-11-12 09:13] pmeier commented on #2993
Already back up https://www.cs.toronto.edu/~kriz/cifar-10-python.tar.gz .

[2020-11-12 09:13] #2993 closed

[2020-11-12 13:27] RunningLeon opened #2994 "How to dynamically split tensor"
##  How to split a tensor dynamically by split_sizes, not by constant shape
Trying to convert mask-rcnn to onnx and run on onnxruntime.
Following code try to split mask_pred by num_mask_roi_per_img
However, while run in onnxruntime, num_mask_roi_per_img becomes constant value, for instance (68,) which is number of boxes while tracing.

[code]
It got this error while run in onnxruntime with another

[2020-11-12 14:29] ValerianGonnot commented on #2050
@lothlorien13 No, it is still not supported in Pytorch 1.7.0

[2020-11-12 14:46] datumbox commented on #2549
Thanks for reporting this @jinfagang.

I had a look on this and it seems that the current recommended way of handling this is to pass the `returned_layers` argument with the layers you want to return, instead of putting zeros directly in the `in_channels_list` argument.

Here are two examples of this approach in the repo:

**RetinaNet:**
https://github.com/pytorch/vision/blob/80f41f8d32b1fcb380d5d

[2020-11-12 14:46] #2549 closed

[2020-11-12 15:04] fmassa commented on #2050
@ValerianGonnot note that once we merge (which should be soon) https://github.com/pytorch/vision/pull/2897 torchvision detection models will be supporting Android

[2020-11-12 15:42] mthrok commented on #2980
cc. @dongreenberg @cpuhrsch I think this is very reasonable, there is a similar work going for torchaudio too. We should resume the library naming convention discussion and wrap it up to provide a comprehensive solution for loss/metrics.

[2020-11-12 16:09] ndrplz opened #2996 "COCO evaluation can fail for custom datasets which inherit from `torchvision.datasets.CocoDetection`"
## 🐛 Bug

The COCO evaluation pipeline in [references/detection](https://github.com/pytorch/vision/tree/master/references/detection) (also used in the object detection finetuning tutorial [here](https://pytorch.org/tutorials/intermediate/torchvision_tutorial.html)) can fail if the custom dataset provided inherits from `torchvision.datasets.CocoDetection`.

## To Reproduce

In the evaluation functi

[2020-11-12 19:16] datumbox commented on #2996
Hi @ndrplz, thanks for reporting the issue.

I understand that this can be limiting for your use case. Unfortunately changing
[code]
 to
[code]
is going to break things because the `torchvision.datasets.CocoDetection` class is inherited by other classes within the repo (for example [here](https://github.com/pytorch/vision/blob/80f41f8d32b1fcb380d5df2116063af7034ff29a/references/detection/coco_util

[2020-11-13 09:30] zhiqwang commented on #2994
Hi @RunningLeon , It's difficult to reproduce your bugs for the information you have supplied.

TorchVision's have similar ops when exporting the object detection models:

https://github.com/pytorch/vision/blob/80f41f8d32b1fcb380d5df2116063af7034ff29a/torchvision/models/detection/roi_heads.py#L77-L81

[2020-11-13 09:47] fortianyou opened #2999 "CMake build failed with error: 'class c10::OperatorHandle' has no member named 'typed'"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:
1. Install PyTorch that was built myself, with build information:
[code]
2. Resolve similar problem with the solution: https://github.com/pytorch/vision/issues/2001#issuecomment-611923412

3. Build vision with following commands:
[code]

## Expected behavior

[code]
## Environment

PyTorch version: 1.6.0a0+9bfb91b
Is debug build: False
CU

[2020-11-13 10:14] datumbox commented on #2999
hi @fortianyou,

We are currently discussing supporting CMake to build the library but this is still in progress (see #2349). For now we recommend using `python setup.py install` to install from source or `python setup.py build develop` if you plan to do development and modify the python files in-place. You can read more information on installing TorchVision from source [here](https://github.com/p

[2020-11-13 10:38] bmanga commented on #2999
@datumbox The library should build fine with cmake already.

@fortianyou Which version of torchvision are you trying to build? With pytorch 1.6 you should be using 0.7.0.

[2020-11-13 11:09] fortianyou commented on #2999
@bmanga I built with vision git commit 78ed10c that tagged v0.7.0

[2020-11-13 11:13] fortianyou commented on #2999
Actually, I want to built something like libvision.so, that could be linked to libtorch. So that I could deploy a TorchScript Module with torchvision ops in C++.

And I have built with `python setup.py install` successfully. But it would produce python module _C.so, that is not expected.

[2020-11-13 11:19] fortianyou commented on #2999
@datumbox Could you please fix this bug first or propose some solution for this error? Do you have the clear timeline when to release the support of CMake ( #2349)?

[2020-11-13 11:27] datumbox commented on #2999
@fortianyou It would be useful if you could add details of your use-case and explain what it will allow you to achieve on the linked RFC. We are always on the look out for adding features that add value to the community. At the moment there is no clear timeline for this feature but following the discussion on the RFC will keep you up-to-date on the progress.

[2020-11-13 11:32] bmanga commented on #2999
@fortianyou what is the commit hash of the pytorch version that you built? It seems that it predates the addition of typed<> to the Dispatcher.

[2020-11-13 11:36] fortianyou commented on #2999
It's 9bfb91b. More compilation informations:
[code]

[2020-11-13 11:37] zhiqwang commented on #2761
Hi @fmassa , @oke-aditya , I have noticed that detectron2 have implemented `nms_rotated` [here](https://github.com/facebookresearch/detectron2/blob/6176a25b017b92dbe833d49987526d6e339d1d8a/detectron2/layers/nms.py#L33) and `ROIAlignRotated` [here](https://github.com/facebookresearch/detectron2/blob/6176a25b017b92dbe833d49987526d6e339d1d8a/detectron2/layers/roi_align_rotated.py#L50). And the auther

[2020-11-13 11:42] bmanga commented on #2999
@fortianyou Whops, didn't notice you already posted that, sorry.
That commit hash predates the 1.6 release and doesn't contain the required changes to successfully build torchvision.
Given your use case, I suggest you upgrade your torch version to the latest release and use torchvision master, as it has changes to make your use case work (eg. you can `#include<torchvision/vision.h>` in your projec

[2020-11-13 11:50] fortianyou commented on #2999
Great, that works for me after I changed to 1.6 release. Thanks a lot.

[2020-11-13 11:51] ndrplz commented on #2996
Hi @datumbox thanks you for your answer.

On my side I fixed it exactly in the way you mentioned.

It just took me a while to understand what was going wrong at the beginning, because there were no errors and all results were simply zero. If that is something that is not easily fixable, fine. At least there will be this discussion for posterity. I see that is kind of an edge case

[2020-11-13 11:56] datumbox commented on #2996
Awesome, thanks for confirming, glad it worked!

@pmeier are you happy to close this or you want to leave open and have a look on the future?

[2020-11-13 12:50] oke-aditya commented on #2761
Let's discuss this @zhiqwang

There are a few points about this what I think.
1. Detectron has a class for [Boxes ](https://github.com/facebookresearch/detectron2/blob/6176a25b017b92dbe833d49987526d6e339d1d8a/detectron2/structures/boxes.py#L133) as well as for [rotated bounding boxes](https://github.com/facebookresearch/detectron2/blob/6176a25b017b92dbe833d49987526d6e339d1d8a/detectron2/structures

[2020-11-13 13:18] #2999 closed

[2020-11-13 15:40] datumbox opened #3002 "Refactor tests in test_image.py to avoid writes inside assets"
Currently some of the tests in `test_image.py` write inside the assets folder. Example:

https://github.com/pytorch/vision/blob/78159d61b966ec32ac330c28bea32e9e12fe6eb4/test/test_image.py#L113-L125

As per discussion [here](https://github.com/pytorch/vision/pull/2988#discussion_r521576927),  all tests that write to files should write to temporary locations via tempfile or similar solutions. It's w

[2020-11-13 16:42] vfdev-5 commented on #2989
@zhuhonglinX thanks for the report! This part of the code `img = torch.ByteTensor(torch.ByteStorage.from_buffer(pic.tobytes()))` is rather old and may require a refresh. Why not using `img = torch.from_numpy(np.array(pic))`, this is a good question and should be carefully checked if there is no unwanted auto dtype promotion.

[2020-11-13 16:49] datumbox opened #3003 "Standardize Python Documentation styles"
## 📚 Documentation

~Currently~ TorchVision uses different styles for documenting functions. Here are a few:

https://github.com/pytorch/vision/blob/973db14523d338fa4e772574fe4d49763fb25245/torchvision/io/image.py#L116-L130

https://github.com/pytorch/vision/blob/973db14523d338fa4e772574fe4d49763fb25245/torchvision/io/image.py#L135-L144

https://github.com/pytorch/vision/blob/973db14523d338fa4e772

[2020-11-14 08:40] zhiqwang commented on #2761
Hi @oke-aditya , the points you highlight (#2710) makes me clear of the implementation of boxes conversion in `torchvison`.

I think that one reason both `torchvision` and `detectron2` uses the `(x1, y1, x2, y2)` format to represent the rectangle bounding box is associated to the utilization of COCO datasets. But for rotated bounding boxes datasets, there are not a standard/benchmark datasets now?

[2020-11-14 09:29] oke-aditya commented on #2761
Let's have more thoughts from @fmassa

[2020-11-14 15:29] klvnptr commented on #2783
@vfdev-5 any update? :) I'm having the same problem

[2020-11-14 15:32] vfdev-5 commented on #2783
@klvnptr Sorry, seems like I missed this issue in my task list. Let me check this on monday. Thanks.

[2020-11-14 15:35] klvnptr commented on #2783
thanks for getting back @vfdev-5
for me this solved the problem:
$ apt-get install libopenmpi-dev
$ CFLAGS="-fopenmp" python3 setup.py bdist_wheel

[2020-11-16 09:49] vfdev-5 commented on #2583
Close the issue as #2935 has been merged.

[2020-11-16 09:49] #2583 closed

[2020-11-16 09:54] pmeier commented on #2996
IMO, we can close it. The use-case described by @ndrplz while valid is uncommon. Given that this has an easy fix, I don't think we need to act on it. We can always re-open this, if this comes up again.

[2020-11-16 09:54] #2996 closed

[2020-11-16 10:00] #2975 closed

[2020-11-16 10:58] vfdev-5 opened #3007 "Travis CI broken - ONNX"
## 🐛 Bug

Currently, Travis CI is broken and crashes on  `test/test_onnx.py .Fatal Python error: Aborted`

https://travis-ci.org/github/pytorch/vision/jobs/743793912#L722

cc @seemethere @neginraoof

[2020-11-16 13:51] fmassa commented on #3003
Good catch!

We should follow the documentation style from PyTorch, [which uses `Args:`](https://github.com/pytorch/pytorch/blob/013e6a3d9d0d3ebe8283bf9af0f3b666ba4d96b7/torch/nn/functional.py#L33), although even [PyTorch is not consistent there](https://github.com/pytorch/pytorch/blob/013e6a3d9d0d3ebe8283bf9af0f3b666ba4d96b7/torch/nn/functional.py#L1433)

[2020-11-16 15:08] fmassa commented on #2994
@neginraoof could you have a look?

[2020-11-16 15:11] fmassa commented on #2989
Hi,

That's a good question. As @vfdev-5 mentioned, the `torch.ByteTensor(torch.ByteStorage.from_buffer(pic.tobytes()))` uses a lot of legacy API from PyTorch, and was there because before we didn't have an explicit dependency on `numpy` in torchvision, so we couldn't use `np.array(pic)`. Now that we require numpy in some torchvision functions, I believe it would be ok to replace this code (althou

[2020-11-16 15:18] RunningLeon commented on #2994
@zhiqwang Thanks. I would provide a sample code if possible.

[2020-11-16 15:23] fmassa commented on #2987
Thanks a lot for the help @zhiqwang !

[2020-11-16 17:11] cpuhrsch commented on #3003
cc @brianjo

[2020-11-16 17:18] brianjo commented on #3003
I'll see if I can find any guidance we have for this and I'll write some up, if I can't find anything. Thanks!

[2020-11-16 17:38] datumbox opened #3012 "Investigate why PIL and LibJPEG pixel values don't match for CMYK images"
Loading a CMYK image using libJpeg seems to yield different results than loading it with PIL.

More specifically the pixel values of `img_ljpeg == 255 - img_pil`:
https://github.com/pytorch/vision/blob/ada56a2442282752ccb83c935e10cb4fbbc0c8d5/test/test_image.py#L55-L69

We should investigate if that discrepancy is a bug on the way we use libjpeg.

[2020-11-16 18:03] cpuhrsch commented on #2955
On a general note I also agree with option 3: Since the weights affect the behavior of the model, you could, for the purposes of this discussion, think of them as code. With Python code we use versioning (git), so why not also with model weights? From that perspective we should rigorously version every model (whether a change is planned or not) and tag it with the version of the code that was used

[2020-11-16 19:53] xkszltl commented on #2783
@vfdev-5
I don't think that's the right way.
- It should be done in CMake, not `setup.py`, or the issue is still there when calling cmake directly.
- When adding openmp, you should use `find_package(OpenMP)` and link to it.
- Blindly adding `-fopenmp` may cause inconsistent result with pytorch's openmp. There're many openmp implementations, not just the default one.
- This could be an issue in pyt

[2020-11-16 19:59] xkszltl commented on #2783
Bring up issue in upstream as well: https://github.com/pytorch/pytorch/issues/48033

[2020-11-16 20:04] vfdev-5 commented on #2783
@xkszltl the warning `warning: ignoring #pragma omp parallel` is seen when we build torchvision with `python setup.py build` and more precisely when C++ extensions are built:
https://github.com/pytorch/vision/blob/74de51d6d478e289135d9274e6af550a9bfba137/setup.py#L423

As far as I understand this process, there is no CMake associated with that.

Could you please detail this point.

[2020-11-16 21:03] xkszltl commented on #2783
@vfdev-5
You're right, it only shows up in pip build, not pure cmake build.
Didn't notice that before.

That could be `-fopenmp-simd`; could be choices of iomp/gomp; could be iomp from llvm or from intel; or even a mix of these.
OpenMP can have many incompatible configurations.

[2020-11-17 00:16] andfoy commented on #2991
Hi @Dyst, by looking at the log, it seems that your compiler is crashing for some reason. Does your machine runs out of memory when compiling torchvision?

https://stackoverflow.com/questions/30887143/make-j-8-g-internal-compiler-error-killed-program-cc1plus

[code]

[2020-11-17 11:26] bjuncek opened #3014 "[videoAPI] fast seek implementation"
## 🚀 Feature

Seek that seeks to the closest keyframe before requested timestamp

## Motivation

At the moment, seek function is restricted to a precise seek which under the hood finds the closest keyframe, and decodes frames until we reach our targeted frame. This is a convenient, however potentially slower operation. We want users to be able to decide if they want to seek to keyframes only (for

[2020-11-17 11:37] bjuncek commented on #2941
No, that means that the functionality had to be implemented in python. This is the way to get the same results from pyav that you'd get from VideoReader

[2020-11-17 12:51] SliMM opened #3016 "FFmpeg-based rescaling and frame rate"
## 🚀 Feature
Add support for (basic) FFmpeg filters for faster video pre-processing. In particular, rescaling and changing the frame rate would be useful when feeding in-the-wild videos through a trained model.

## Motivation

I am working on a video loader to feed video frames to a model trained on the Kinetics 400 dataset and obtain predictions. The model is trained at a fixed resolution, on vid

[2020-11-17 13:53] fmassa commented on #3016
Hi,

Thanks for bringing up this issue!

Our current thinking is that most (if not all?) filters in ffmpeg can be implemented with basic python / PyTorch / torchvision operators without too much loss of speed efficiency, and as such there would be limited benefit in packaging the filter logic from ffmpeg in PyTorch (as we would not have GPU / gradient support out of the box).

Your points about th

[2020-11-17 14:01] fmassa commented on #2991
One possibility is that you are running out of memory while compiling torchvision? Maybe setting less compiler threads would help there?

[2020-11-17 14:18] cyyever commented on #1574
I need this feature

[2020-11-17 14:52] vfdev-5 commented on #2771
Even with the PR merged, library is dominated by Jupyter notebook.

<img width="253" alt="Screen Shot 2020-11-17 at 15 50 26" src="https://user-images.githubusercontent.com/2459423/99405132-b3457a80-28ec-11eb-942d-1146b710d1f0.png">

[2020-11-17 15:03] oke-aditya commented on #2771
Probably that's because this keeps track of `git history`.
It actually works and is reduces the line count significantly.

[2020-11-17 15:38] filoliufei commented on #1904
Hello, I'm learning densenet121on Imagenet, the test accuracy after importing the pre training parameters is about 0. Are you referring to the pre training weight parameters in the article?

[2020-11-17 16:16] laizewei opened #3017 "Please complete torchvision for libtorch c++"
Please complete torchvision for libtorch c++.
like torchvision.ops ,torchvision.models.detection
It is best to provide a compiled torchvision.lib for libtorch.

cc @yf225 @glaringlee @fmassa

[2020-11-17 16:50] glaringlee commented on #3017
@glaringee tag to myself

[2020-11-17 19:46] SliMM commented on #3016
Hi @fmassa,

Thanks for your reply! I put the relevant code into a [Colab MWE](https://colab.research.google.com/drive/1RHvH8syoYZYxvFjTuxNPCWLGBgwviT6I). The numbers are different are different compared to the plots above, but they tell more or less the same story.

I agree that the framerate results are a bit strange. The behaviour I would expect is more like the Torchvision curve – a constant t

[2020-11-18 02:49] TingsongYu opened #3025 "torchvision/utils.py modify grad_fn of the tensor, throw exception "Output X of UnbindBackward is a view and is being modified inplace""
## 🐛 Bug

In pytorch1.7,  Lib/site-packages/torchvision/utils.py **line 74** ( for t in tensor ) ， this code will modify the grad_fn  of the tensor and become UnbindBackward， and then, it will be throw exception by "RuntimeError: Output 0 of UnbindBackward is a view and is being modified inplace. This view is the output of a function that returns multiple views. Such functions do not allow the out

[2020-11-18 10:39] #2948 closed

[2020-11-18 10:41] fmassa commented on #2771
@oke-aditya let's ignore notebooks for this statistic counting, can you send a PR for that?

[2020-11-18 11:06] fmassa commented on #2950
I agree that having a slightly different output for the function depending if it's using PIL Images or torch Tensors is not ideal, but fixing this would be complicated.

The trade-off here is that in C++, most users would rely on OpenCV or PyTorch to perform the resizing, so it would make sense for torchvision to be compatible with both. Plus we get the benefit that those ops are already implement

[2020-11-18 11:11] fmassa commented on #2959
@jgbradley1 I think I would be fine with what you propose, but let's hear what @vfdev-5 and @datumbox think as well.

[2020-11-18 11:20] oke-aditya commented on #2771
Sure

[2020-11-18 11:51] fmassa commented on #2783
@xkszltl  do you think we should we revert #3006 due to potential conflicts with the OpenMP used by PyTorch?

[2020-11-18 13:06] datumbox opened #3021 "Improved format conversion in io.image.read_image"
## 🚀 Feature

Replace the `channels` parameter of the `read_image()`, `decode_image()`, `decode_png()` and `decode_jpeg()` methods with a `mode` parameter that gives users better control on image conversions.

## Motivation

Issue #2948 proposed specifying the number of output channels when loading images and PR #2988 introduced the change on the above methods. Though the API provides similar func

[2020-11-18 13:28] xkszltl commented on #2783
Once fixed in pytorch, it should definitely be reverted.

Before that, it could be either kept as short-term workaround, or could be removed so that at least it's possible to provide only the correct flag when there's conflict.
I slightly lean toward the later, but no strong opinion.

[2020-11-18 13:30] fmassa commented on #3021
The proposal sounds great to me.
One thing we should decide is what to do if the original input format doesn't support one specific configuration. For example, if the user passes `RGB_ALPHA` to a `JPEG` image, should we return a `RGB_ALPHA` with a all-ones (or zeros) alpha channel, or error out?

[2020-11-18 13:46] datumbox commented on #3021
Thanks for the feedback Francisco.

I had in mind to raise an error. This is exactly what we currently do if someone passes `channels=4` for a JPEG:
https://github.com/pytorch/vision/blob/8c281757a0daf3a8e92cbb4bded0e5e6b389a375/torchvision/csrc/cpu/image/readjpeg_cpu.cpp#L108-L123

If on the future we decide that RGB_ALPHA is one of the supported conversion formats for jpeg images, we will simply

[2020-11-18 14:22] fmassa commented on #2783
@vfdev-5 I think having the warning for not using openmp (but still working fine in cases where there could be clashes) is better, so I would be ok reverting the PR.

[2020-11-18 14:29] vfdev-5 commented on #2783
@fmassa sounds good!

[2020-11-18 15:23] gatordevin opened #3022 "MaskRCNN Training on Images with no Annotations"
Hi all,
I am working on a little MaskRCNN training program and ran into an issue. I know it is common practice to remove any images from the dataset that lack annotations upon initializing the dataset which I am doing. However, I am running a series of transforms using albumentations on my image and my mask. One of these transforms is a random crop and sometimes the resulting mask image no longer

[2020-11-18 16:23] vfdev-5 commented on #3022
@gatordevin please take a look at reference example here : https://github.com/pytorch/vision/tree/master/references/detection
and https://github.com/pytorch/vision/blob/8c281757a0daf3a8e92cbb4bded0e5e6b389a375/references/detection/coco_utils.py#L244

[2020-11-18 17:01] gatordevin commented on #3022
Okay, so my understanding of this code is that the transforms are applied once to the dataset upon initialization. Then any images that had annotations removed from the transforms are then removed from the dataset. Thats all fine but what if I would like to apply the randomized transforms to the images every batch.

[2020-11-18 17:21] vfdev-5 commented on #3022
During the training random horizontal flip is applied on the images and targets:
https://github.com/pytorch/vision/blob/8c281757a0daf3a8e92cbb4bded0e5e6b389a375/references/detection/train.py#L55

[2020-11-18 17:38] gatordevin commented on #3022
Oh alright, I see that now. In that case, how would I include a random crop transformation in my dataset since it introduces the chance of removing annotations? From what I have seen the images are only removed when the dataset is initialized not after transform meaning if a random crop is applied and annotations are gone this won't be recognized.

[2020-11-18 17:51] vfdev-5 commented on #3022
If you are using albumentations, as far as I remember they have transformations aware of target's geometry such that for example random crop will reduce image such that target still present. If you'd like to use torchvision's transforms, I'd suggest to use [functional part](https://github.com/pytorch/vision/blob/master/torchvision/transforms/functional.py) to perform image transforms. As for trans

[2020-11-18 21:16] HamsterHuey opened #3026 "[RFC] Interest in box-IoU implementation that supports distance-IoU (DIoU) and complete-IoU (CIoU)?"
## 🚀 Feature
Implement Distance and Complete IoU within torchvision to complement the current supported implementations of IoU and GIoU

## Motivation
Distance and Complete IoU have been published about in the literature (Nov, 2019): https://arxiv.org/abs/1911.08287

They have been shown to be very effective when utilized as loss-terms in box-regression for object detectors in comparison to conven

[2020-11-18 21:24] albanD commented on #3025
That is linked to the change to `for el in tensor` behavior wrt to inplace ops.
In particular, this line https://github.com/pytorch/vision/blob/8c281757a0daf3a8e92cbb4bded0e5e6b389a375/torchvision/utils.py#L74 should be changed to
[code]

[2020-11-18 21:34] fmassa commented on #3025
We can fix this in torchvision following @albanD comment, but note that you are backpropagating through visualization code, which is probably not what you want to do, and you should instead do a `with torch.no_grad()` in your visualization code otherwise you could have unexpected behaviors

[2020-11-18 21:38] albanD commented on #3025
Wrapping the whole function in `torch.no_grad()` will fix the issue as well.
I assumed it could be differentiated throw since I didn't saw one.

[2020-11-19 05:53] lutzroeder opened #3027 "#2860 regressed torch.jit.script(densenet161).save"
## 🐛 Bug

[code]

## To Reproduce

Steps to reproduce the behavior:

1. Install nightly build `pip install --upgrade --pre torchvision -f https://download.pytorch.org/whl/nightly/cpu/torch_nightly.html`
2. Run:
[code]

## Environment

Collecting environment information...
PyTorch version: 1.8.0.dev20201118
Is debug build: False
OS: Mac OSX 11.0.1 (x86_64)
GCC version: Could not collect
Clang versi

[2020-11-19 06:45] pmeier commented on #3027
The offenders are the `type: ignore` comments in the following three lines:

https://github.com/pytorch/vision/blob/8c281757a0daf3a8e92cbb4bded0e5e6b389a375/torchvision/models/densenet.py#L74

https://github.com/pytorch/vision/blob/8c281757a0daf3a8e92cbb4bded0e5e6b389a375/torchvision/models/densenet.py#L80

https://github.com/pytorch/vision/blob/8c281757a0daf3a8e92cbb4bded0e5e6b389a375/torchvision

[2020-11-19 07:31] oke-aditya commented on #3026
Hmm, orignally while adding gIoU Issue #2545 also proposed to add CIoU and DIoU.

`fmt` parameter I think would need to be implemented for other ops too for consistency.
I think adding optional `fmt` parameter won't cause a breaking change.

E.g. `box_area`, `clip_boxes_to_image` etc. too don't take this parameter.

For all torchvision ops the format used is XYXY.
To convert into XYXY from YOLO /

[2020-11-19 08:13] RunningLeon commented on #2994
With sample code, the error cannot be reproduced. Will reopen it if necessary.
[code]
Thanks.

[2020-11-19 08:13] #2994 closed

[2020-11-19 09:13] frgfm commented on #3027
@pmeier let me know if you need to remove or adapt the typing ignore from densenet or the other similar PRs!

[2020-11-19 10:13] fmassa commented on #3027
The breakage is directly with the torchscript convertion, not even `save`.

@frgfm for now, could you please send a PR removing the `ignore` types for mypy? If you are busy today it's ok, and I'll revert the PR.

I'll investigate why the tests didn't fail here for torchscript, they might be skipped for some reason

[2020-11-19 10:14] fmassa commented on #3027
Also, we have `type: ignore` in many models, we should remove them all for now.

[2020-11-19 10:17] datumbox commented on #2959
I'm on the fence on this one. On one hand, the proposal looks good and seeks to extend an existing functionality that could be useful to the users. On the other hand, implementing the improvement might reinforce using this problematic function. Since we are actively talking about moving users off the specific method, is it worth considering just adding a warning on the existing code and avoid addi

[2020-11-19 10:21] fmassa opened #3028 "torchscript model tests have blind spots"
## 🐛 Bug

https://github.com/pytorch/vision/issues/3027 uncovered that some models in torchvision are not being tested on CI for torchscript compatibility.

I believe the main reason was that scripting a model in the past could take a significant amount of time, which could make the  CI timeout, so only models added in https://github.com/pytorch/vision/blob/8c281757a0daf3a8e92cbb4bded0e5e6b389a375

[2020-11-19 10:24] pmeier commented on #3027
We should only remove these comments on methods that are called from `forward`. I think for now "not forward" and "__init__" are the same, but this does not have to be the case.

[2020-11-19 10:30] fmassa commented on #3027
@pmeier we should remove all that are not in a torchscript codepath actually.

So `__init__` and functions marked with `@torch.jit.unused` can have it, but not functions called from `forward` which are not marked with `torch.jit.unused` or `torch.jit.ignore`.

So https://github.com/pytorch/vision/blob/8c281757a0daf3a8e92cbb4bded0e5e6b389a375/torchvision/models/googlenet.py#L204 and https://github.

[2020-11-19 10:35] fmassa commented on #3021
I think raising an error is ok for now, but in this case we should document that this is only supported for some input format types.

In the future, we might want to make it support all formats, as this will give best user experience.

[2020-11-19 10:37] frgfm commented on #3027
@fmassa @pmeier Alright, I'm on it!
So, for now, the PR should only remove the typing exception in DenseNet (line 74 + all  ̀forward` with `# type: ignore`), correct?

[2020-11-19 12:13] vfdev-5 commented on #2959
I also think passing uint8 tensor into `ToTensor` in order to convert it to float and rescale is somewhat unexpected from `ToTensor` method name.

[2020-11-19 14:22] #3027 closed

[2020-11-19 14:22] SlowMonk opened #3030 "randomroate by some change"
[code]
this is my mapper for augmentation.
is T.RandomRotation([10,15]) happen every image? or by some change.
if it apply to every images. how should I apply it by only some percentage?

[2020-11-19 16:42] datumbox commented on #3022
@gatordevin I hit a potentially similar issue as you did. Would it be possible to update the ticket to include the full error message?

[2020-11-19 16:48] HamsterHuey commented on #3026
I'd personally vote for a simpler API and removing `fmt` from here. Like you said, `box_convert` exists for this reason. It's probably best for all the other methods to work only on XYXY format, otherwise you end up with a bunch of format handling overhead in each new method that operates on boxes.

[2020-11-19 16:52] KhabarlakKonstantin commented on #2992
@pmeier on MiniImageNet I have this issue reproduced every time on my environment (Google Drive Daily quota shouldn't be exceeded)
Code:
[code]

This code downloads MiniImageNet dataset (the dataset itself is ~1Gb worth of data).
With `_quota_exceeded` as is currently implemented all the download is done in `"Google Drive - Quota exceeded" in response.text` line and no progress bar is shown. Then

[2020-11-19 17:14] fmassa commented on #3022
Thanks for opening this issue!

I believe https://github.com/pytorch/vision/pull/3031 could fix this error, which should only happen in some very specific corner cases.

Following @datumbox comment, can you post the full error message so that we know if there is somewhere else that we should look into?

[2020-11-19 17:43] oke-aditya commented on #3026
Hmm, it introduces just 2 extra lines.

[code]

will change to

[code]

`box_convert` will not modify in place. We have taken that care. Even if you pass `xyxy`. It will stay the same.