[2019-12-01 03:52] stereomatchingkiss commented on #1002
Thanks, glad to hear that, could we convert the model to onnx format after this merged?

[2019-12-01 12:54] TeeyoHuang opened #1625 "Why does the rpn use the L1_Loss?"
https://github.com/pytorch/vision/blob/master/torchvision/models/detection/rpn.py#L426

the code in the rpn.py , line 426 as follows:

**box_loss = F.l1_loss(
            pred_bbox_deltas[sampled_pos_inds],
            regression_targets[sampled_pos_inds],
            reduction="sum",
        ) / (sampled_inds.numel())**

However, as said in the paper of Faster RCNN, the loss funtion used in the r

[2019-12-01 13:17] #1620 closed

[2019-12-02 04:59] dao-kun commented on #1622
It works，thank you for your work. And I want to use scripted code on mobile  Android. Is that possible?

[2019-12-02 07:20] r-zenine commented on #1179
Hi everyone,

Just a quick update message.

I had some time to work on the issue this week-end. The code is available [here](https://github.com/r-zenine/vision/tree/readimage-png).

I've build upon @ShahriarSS initial code. I changed the decode_png function to take a Tensor and I've added a read_png_from_file function.  I registered the ops and wrote python bindings in `torchvision.ops`.

I need t

[2019-12-02 07:49] fmassa commented on #1620
@jinfagang did you solve the issue? What was it?

[2019-12-02 07:52] gtamba opened #1627 "Addition of WIDER Face Dataset to Datasets"
I was wondering if there were any plans on adding the WIDER Face dataset (since it's certainly a better standard than CelebA) or any interest in having one contributed. The privatization of ImageNet URLs definitely makes the future of fetching data via Dataset a bit murky but it is definitely a handy bit of code to have when you aren't working on the same machine/instance.

The images are hosted p

[2019-12-02 09:26] nshaud commented on #1570
@fmassa I was assuming that consistency was mostly important for pretrained models but maybe I'm wrong. You can already define weird ResNets using the existing class that are not available as pretrained models. I don't see the harm (from a user standpoint) of adding the missing variant from the original paper.

Anyway, to keep things separate, we could:
1. Add the missing variant to the torch.mode

[2019-12-02 10:35] fmassa commented on #1179
Hi @r-zenine

Adding `libpng` as a submodule is one option, but I would prefer if we could avoid it if possible (or else the users will have to build our own version of `libpng`). My thinking was to maybe use an approach similar to what Pillow do (for example https://pillow.readthedocs.io/en/latest/installation.html#building-from-source , I haven't looked in details yet).

Yes, you can use torch e

[2019-12-02 10:44] r-zenine commented on #1179
Hi @fmassa,

Thanks for the reply. I'll finish the PR, ask for an initial review then look at how `Pillow` is integrating `libpng`.

Have a good day!

[2019-12-02 10:47] fmassa commented on #1625
Hi,

Great question. It turns out that using `smooth_l1_loss` actually gave slightly worse results for COCO for detection and instance segmentation, and has also been replaced by `l1_loss` in detectron2, see https://github.com/facebookresearch/detectron2/blob/61c15d20f804c0393d412fb3467649ea8e50fb57/detectron2/config/defaults.py#L212 and https://github.com/facebookresearch/detectron2/blob/61c15d20

[2019-12-02 10:47] #1625 closed

[2019-12-02 10:48] fmassa commented on #1179
Thanks a lot @r-zenine !

[2019-12-02 10:54] fmassa commented on #1610
Hi,

The code I used for the masks uses OpenCV (which torchvision doesn't use as a dependency), and that's one of the reasons why I didn't share that code yet.

Here are the scripts: https://gist.github.com/fmassa/d802c684512bcc99f54b714f10c96872

I used something like the following to visualize

[code]

Let me know if you have questions. I think it makes sense to add those functions somewhere in

[2019-12-02 10:54] #1610 closed

[2019-12-02 12:14] TeeyoHuang commented on #1625
Thank you for your reply!
I also found that the smooth_l1_loss could cause slightly worse results and I just want to confirm my idea.
Thank you very much!

[2019-12-02 12:22] fmassa commented on #1002
@stereomatchingkiss ONNX and JIT support for Mask R-CNN in torchvision has been merged into master, and is available if you compile from source.

[2019-12-02 12:22] #1002 closed

[2019-12-02 12:26] fmassa commented on #1617
Hi,

This has been discussed in https://github.com/pytorch/vision/pull/826#issuecomment-481714113 , and the addition of `+1` was removed from torchvision, and we consider box coordinates in terms of continuous coordinates, in which case the `+1` is not necessary.

Let me know if you have further questions

[2019-12-02 12:26] #1617 closed

[2019-12-02 12:28] fmassa commented on #1574
Hi,

I think adding a new argument to the constructor might be a good way of handling this.
But given that this would be a breaking change, we will be doing it after the next release of torchvision, which will happen in January.

[2019-12-02 12:30] fmassa commented on #1622
@dao-kun exporting it to mobile is in the plans, but I'm afraid this is not yet supported, as discussed in https://github.com/pytorch/vision/issues/1489#issuecomment-554509386

@dreiss would there be a recommended way (as of today) of allowing users to export Mask R-CNN operators to mobile?

[2019-12-02 14:35] dao-kun commented on #1622
It's not very urgent for me, anyway, thank you again for your wonderful work!

[2019-12-02 21:34] dreiss commented on #1622
Not yet, but we're looking at it.

[2019-12-03 04:58] #1622 closed

[2019-12-03 12:11] gaussiangit opened #1629 "Reference detection script image sizes help"
Hi @fmassa ,
Somehow the reference detection script does not handle big images of size  > 3000.
Always throw me cuda out of memory error.
Any suggestions on that ?

[2019-12-03 12:30] fmassa commented on #1629
Big images are generally going to be a problem, because we forward through a batch of those images (generally 2 images per batch), and it is very memory intensive.

I don't think there is a magical fix for this -- I'd either recommend reducing the image size or passing crops of the image to the model.

[2019-12-03 12:30] #1629 closed

[2019-12-03 18:22] cted18 commented on #1002
I still cannot trace the Maskrcnn model from the latest branch.

I get this error out of the box:

`
scale = 2 ** float(torch.tensor(approx_scale).log2().round())
RuntimeError: log2_vml_cpu not implemented for 'Long'
`
Then I make changes suggested by @soumith

Now I have this:

`
File "/../python3.6/site-packages/torchvision-0.5.0a0+5b1716a-py3.6-linux-x86_64.egg/torchvision/ops/poolers.py", line

[2019-12-03 19:13] fmassa commented on #1002
@cted18 can you print `torchvision.__version__`? I suspect you are in an old version

[2019-12-03 19:22] cted18 commented on #1002
Sure.

`
torchvision.__version__
'0.5.0a0+5b1716a'
`

I just built it from the master.

[2019-12-04 00:53] ZhiangChen opened #1630 "GeneralizedRCNNTransform doesn't work with four-channel inputs"
When I modify the input channel of FasterRCNN from 3 to 4, GeneralizedRCNNTransform doesn't work.
[code]

[2019-12-04 02:23] ZhiangChen commented on #1630
I solved this problem by setting the same dimension for `image_std` and `image_mean`.

[2019-12-04 02:23] #1630 closed

[2019-12-04 05:10] bjliuzp opened #1631 "loss is nan"
I run the official routine "TorchVision Object Detection Finetuning Tutorial". The data used is also provided by the routine, but the training process will encounter the following errors. I can confirm that the boxes information is correct. How can I solve this problem?
torch - 1.4.0.dev20191124
torchvision - 0.5.0.dev20191129
Epoch: [0]  [ 0/60]  eta: 0:02:14  lr: 0.000359  loss: 3.0239 (3.0239)

[2019-12-04 12:58] fmassa commented on #1630
That's indeed the correct solution. Let us know if you have further issues

[2019-12-04 12:59] fmassa commented on #1002
@cted18 can you share a script that reproduces the error you have?

[2019-12-04 13:01] fmassa commented on #1631
Hi,

Just to understand the problem you are facing, you run the finetuning tutorial with no modification whatsoever, and you get nan's, is that right?

[2019-12-04 13:11] bjliuzp commented on #1631
@fmassa Yes, at the beginning I encountered this problem by training my own data. Later, running the routine directly also had this problem.

[2019-12-04 13:25] scut-salmon opened #1633 "how can I use ROI align in torch version 1.0"

[2019-12-04 14:51] fmassa commented on #1633
Hi,

As discussed in the release notes for torchvision 0.3 https://github.com/pytorch/vision/releases/tag/v0.3.0 (which adds support for the `RoIAlign` operator), you need at least PyTorch 1.1.

[2019-12-04 14:51] #1633 closed

[2019-12-04 15:01] fmassa commented on #1631
Can you try running the colab notebook from https://pytorch.org/tutorials/intermediate/torchvision_tutorial.html , which uses PyTorch 1.3.1 and torchvision 0.4.2? This worked fine on my colab, I just tried it.

Now I should just double-check to see if this is due to some version mismatch between PyTorch torchvision (your nightlies are not from the same day, maybe you should try updating them?), or

[2019-12-04 18:05] cted18 commented on #1002
Yes. It is the exact same script as from @rbrigden

[2019-12-04 22:01] xkszltl opened #1634 "Get C++14 required error when compiling with latest pytorch"
Since yesterday, when compiling upon the latest master of pytorch, we could C++14 error:
![image](https://user-images.githubusercontent.com/5203025/70185338-6eeea980-169e-11ea-963e-84332593bf93.png)

See this discussion:
https://github.com/pytorch/pytorch/issues/30722

[2019-12-05 06:14] jinfagang commented on #1620
@fmassa  It was supported in ONNX 11.

However I thought torchvision does nms slightly different from onnx definition?
onnx definition used score_threshold, does torchvision have a default score_threshold?

The model trace out to onnx inference on onnxruntime have different output than original pytorch

[2019-12-05 08:14] XuVision opened #1636 "load voc dataset fail in windows"
can't find file or directory.
i think it is caused by path join:
offical:
`os.path.join('D:\datasets','VOCdevkit/VOC2012')`
will get 'D:\\datasets\\VOCdevkit/VOC2012'
this one below will be ok:
`os.path.join('D:\datasets','VOCdevkit','VOC2012')`

[2019-12-05 13:50] gslotman opened #1638 "Mask-rcnn torchscript doesn't load in c++: Unknown builtin op: torchvision::_new_empty_tensor_op."
I was trying to load a torchscript version of mask-rcnn into c++ but unfortunately this failed. Here is the error message / stacktrace I got:

[code]

All the details:
I tried it with the latest versions of pytorch/libtorch

[code]
The export (and import) in python works:
[code]

After which I followed the basic steps of importing a torchscript module into c++ from  https://pytorch.org/tutorials/a

[2019-12-05 14:21] fmassa commented on #1620
Torchvision version of nms has a score threshold. There are unit tests comparing the output of ONNX and torchvision, so they should match. If that's not the case, please give us a minimum reproducible example illustrating the problem

[2019-12-05 14:28] jinfagang commented on #1620
Yeah, sure. actually when I implement a tensorrt nms plugin which parses nms node traced from torchvision I found even definition slight different than onnx.

onnx have inputs scores with num_classes dim, and returns cls_indices, box_indices, batch_indices, while seems torchvision directly using a box: [98, 4], score: [98] as input (say 98 is num boxes).

[2019-12-05 14:46] Ridhwanluthra commented on #1416
@pedrofreire Thanks so much for picking this up.

[2019-12-05 14:49] fmassa commented on #1620
The implementation should still functionally perform the same thing. So the indices should still match.

[2019-12-05 14:49] fmassa commented on #1620
FYI, here is the NMS test that checks that the outputs are the same: https://github.com/pytorch/vision/blob/cec7ea727ab5905ee6d7039a4f1b980124684879/test/test_onnx.py#L77-L86

[2019-12-05 15:11] fmassa commented on #1416
Fixed by @pedrofreire in #1586

[2019-12-05 15:11] #1416 closed

[2019-12-05 15:16] fmassa commented on #1638
Hi,

For this particular error, I think you can follow the comments in https://github.com/pytorch/vision/pull/1407#issuecomment-562096191 to fix this issue

[2019-12-05 15:21] fmassa commented on #1002
@cted18 this should be fixed when https://github.com/pytorch/vision/pull/1639 get's merged

[2019-12-05 15:47] gslotman commented on #1638
Thanks! I missed that one.

[2019-12-05 15:53] fmassa commented on #1638
Let me know if this is enough to fix your issue, and if you manage to fix the `List[Tensor]` issue, can you comment in there as well?

[2019-12-05 16:10] fmassa commented on #1636
Oh, good catch!

This should be fixed by #1641

[2019-12-05 16:35] #1636 closed

[2019-12-05 16:46] #1606 closed

[2019-12-05 18:49] #1634 closed

[2019-12-05 18:53] develooper1994 opened #1642 "datasets.FashionMNIST function is broken in nightly"
Hello I am using torchvision==0.5.0.dev20191205
If i use datasets.FashionMNIST downloads but whenever iterates throws an error. FashionMNIST also doesn't responde after rerun the code. I can't see "Files already downloaded and verified".
Note: I have tried CIFAR10 and it works fine.
That is traceback;
TypeError                                 Traceback (most recent call last)
<ipython-input-8-c1d1

[2019-12-05 19:01] develooper1994 commented on #1642
I am returning to stable

[2019-12-05 19:11] develooper1994 commented on #1642
Also MNIST throws an error. What is going on?

[2019-12-06 08:23] kangkang59812 opened #1643 "process.wait(0) when traing faster_rcnn"
<img width="575" alt="662FE0EB-CD0B-4FED-B036-CB5964218D31" src="https://user-images.githubusercontent.com/12228641/70307513-51f3db00-1844-11ea-98ae-a814d527d4b1.png">
the program always stops at epoch 27(just stop, no more output), and when I use `ctrl+c` to interrupt the program, the content is as shown in the pic.

[2019-12-06 09:03] hgaiser commented on #1151
Apologies if this is hijacking the issue, but I would like to work on implementing retinanet in torchvision. I have been the main contributor on [keras-retinanet](https://github.com/fizyr/keras-retinanet) and for a new project I am looking into using pytorch. I would like to spend time implementing retinanet using torchvision. Is this still a requested feature? Is there any progress or constraints

[2019-12-06 11:14] fmassa commented on #1642
@develooper1994 this error is thrown from inside Pillow, so I would expect that you might have to update Pillow to a newer version.

Can you tell us the results of `import PIL; print(PIL.__version__)` that you have?

[2019-12-06 11:41] develooper1994 commented on #1642
I am using lastest version of pillow currently.
pillow==6.2.1.
I back to stable.
I know it is not releated to this topic but I should say. PLEASE CHANGE the background of torchvision from pillow to torch. Whenever use mnist with gpu, it is extremly slow. Lots of people struggling with that. Make it fast and simple. I tried Pytorch/example and it is still slow.

[2019-12-06 12:06] fmassa commented on #1642
Do you have a snippet that can reproduce this error? I would like to understand where the problem is

This is already happening and is in the works, but let's not go off-topic

[2019-12-06 12:15] fmassa commented on #1643
Hi,

This is weird. I'm not sure if you are facing a deadlock (which could be due to several reasons), or if something else is happening.

When your program stopped, were the GPUs running at 100% utilization?

[2019-12-06 12:27] kangkang59812 commented on #1643
@fmassa yes, 100%. I didn't change the setting about thread in train.py, just making a custom dataset using h5py.

[2019-12-06 13:05] develooper1994 commented on #1642
Unfortunately I changed the version to stable and I have started the long run.
"This is already happening and is in the works, but let's not go off-topic" -> Thanks. It is good to know.

[2019-12-06 13:32] gslotman commented on #1638
Thanks! I after some (cmake) issues I managed to get the loading of the networks running with the code in https://github.com/pytorch/vision/pull/1407#issuecomment-562096191 . Not yet tried forward passing or anything

I had to fix some headers though: https://github.com/pytorch/vision/pull/1644

[2019-12-06 15:44] fmassa commented on #1638
Thanks for the fix in https://github.com/pytorch/vision/pull/1644!

I'm assuming that this issue can be closed now. Let me know if you still face issues

[2019-12-06 15:44] #1638 closed

[2019-12-06 15:52] fmassa commented on #1643
This makes me think that you should check if your install of `h5py` is thread-safe.
If not, then it might cause issues with dataloading.

Also, if that's not the case, then debugging a CUDA deadlock is very annoying. Some information about it can be found in https://github.com/pytorch/vision/issues/1148

Just to cross this out, does the code deadlock if running on the standard COCO dataset?

[2019-12-07 07:54] Esaada opened #1645 "Meta file not found or corrupted."
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:
[code]

Gives error:

  File "test_imagenet.py", line 4, in <module>
    imagenet = datasets.ImageNet("path2imagenet", split="val", transform=input_transform, target_transform=None, download=False)
  File "/usr/local/lib/python3.6/dist-packages/torchvision/datasets/imagenet.py", line 56, in __init__
    wnid_to_classes = self._load_meta_f

[2019-12-07 08:28] stereomatchingkiss commented on #1002
Still cannot convert fasterrcnn_resnet50_fpn

Version(print(torchvision.__version__)) :

0.5.0.dev20191206

Codes:

[code]

OS : windows 10 64bits
installed by anaconda :

conda create --name pytorch_n python=3.7
conda activate pytorch_n
conda install pytorch torchvision cudatoolkit=10.1 -c pytorch-nightly -c defaults -c conda-forge

[2019-12-07 11:10] fmassa commented on #1002
@stereomatchingkiss use `torch.jit.script` instead of `torch.jit.trace`, and it should work.
[code]

[2019-12-07 12:30] pmeier opened #1646 "What is the meta.bin file used by the ImageNet dataset?"
[Comment from @kanonjz in #1457](https://github.com/pytorch/vision/pull/1457#issuecomment-562807954)

[2019-12-07 12:37] pmeier commented on #1646
`meta.bin` is a binary file which holds 2 things:

1. A `dict` with a mapping from the WordNet IDs (wnids) to human-readable classes.
2. A list of the `wnid` of each validation image.

The `meta.bin` file is created by executing the `parse_devkit_archive` function:

https://github.com/pytorch/vision/blob/598b61d93357139cec558af6eff38a77ac60cabc/torchvision/datasets/imagenet.py#L105-L113

Note that

[2019-12-07 12:44] pmeier commented on #1645
For a description of what the `meta.bin` file is, see my [comment in #1646]()

To create it in `torchvision==0.4.0` you need to place the devkit archive in the root folder and set `download=True` when instantiating the `ImageNet` dataset. Basically this section of the download code has to be executed:

https://github.com/pytorch/vision/blob/a263704079d9d35db8b0966a65ec628d28998bce/torchvision/data

[2019-12-07 12:50] pmeier opened #1647 "Provide the mea.bin file of the ImageNet dataset together with torchvision?"
@fmassa In the light of recent problems with the `meta.bin` file of the ImageNet dataset (#1645 #1646 ), I think it is reasonable to ask, if we can provide it together with `torchvision`. Especially now without official download links for the archives, I think it would be beneficial. With it users that switch to `torchvision` and only have the image archives do not need to download the devkit.

[2019-12-07 18:56] stereomatchingkiss commented on #1002
Thanks, this work, but fail to load the model of fasterrcnn_resnet50_fpn by the c++ api.
OS : ubuntu18.0.4.3 LTS 64bits
libtorch : [nightly](https://download.pytorch.org/libtorch/nightly/cpu/libtorch-shared-with-deps-latest.zip)

main.cpp

[code]

CMakeLists.txt

[code]

Error message:

**terminate called after throwing an instance of 'torch::jit::script::ErrorReport'
  what():
Unknown builtin op:

[2019-12-07 23:42] vadimkantorov opened #1648 "Support *.tgz archive extension in torchvision.datasets.utils.extract_archive"
I was updating my old code for CUB2011 dataset and found that now torchvision breaks when extracting a tgz file: https://github.com/vadimkantorov/metriclearningbench/blob/master/cub2011.py#L11

[code]

[2019-12-07 23:52] vadimkantorov commented on #1406
One issue when I stumbled on long ago when reading PASCAL segmentation multiclass masks: https://github.com/pytorch/pytorch/issues/5436

[2019-12-08 01:05] jamt9000 commented on #1623
This happens because ForkingPickler is used on Windows when launching a DataLoader with multiple workers. A dummy dataset is passed to a `DataLoader` inside `VideoClips`, which is an instance of the `DS` class defined in `_compute_frame_pts`, and instances of locally-defined classes cannot be pickled.

This was also the cause of some test failures in #1229

[2019-12-08 01:55] jamt9000 commented on #1623
Should be fixed by #1649 but I have not tested on Windows. The video_utils tests are currently disabled on Windows so there could be other issues.

[2019-12-08 04:35] surgan12 commented on #1648
@vadimkantorov, .tar.gz and .tgz seem to be identical and we have that support already but anyhow for preventing the code from breaking, we could add this.

[2019-12-08 05:50] stereomatchingkiss commented on #1002
I found a solution from issue #1407, but I have another question, how could I know which op I need to register? Or I should not care about this part because in the future these op would not need to register by the end users?

[code]

[2019-12-08 07:59] kanonjz commented on #1646
Thanks!!

[2019-12-08 08:39] pmeier commented on #1646
@kanonjz Is your problem resolved? If yes, I'm going to close this issue.

[2019-12-08 09:49] fmassa commented on #1002
@stereomatchingkiss

that's a good question. I don't yet have a good answer for that, I'll discuss with @eellison to see if we can find a good solution to it

[2019-12-08 10:51] stereomatchingkiss commented on #1002
When I copy the codes, I find another question, where could I find following headers

[code]
Are they generated when I compiled from source?

[2019-12-08 11:04] develooper1994 commented on #1642
I don't know how but it working now. I installed lasted version to debug butnow working. There isn't error. Also it it faster on cpu 16.74s/it i7-5960x
torch.__version__ == '1.4.0.dev20191206'
torchvision.__version__ == '0.5.0.dev20191207'

[2019-12-08 11:13] #1642 closed

[2019-12-08 12:32] kanonjz commented on #1646
@pmeier Yes!

[2019-12-08 16:27] #1646 closed

[2019-12-08 16:35] vadimkantorov commented on #1648
@fmassa Are there any guidelines on contributing dataset classes, e.g. are file hash values necessary for enclosing, if yes - how many?

[2019-12-09 07:17] zhangyizhong17 commented on #1645
The same error occurred in my code.

[2019-12-09 07:23] zhangyizhong17 commented on #1645
The same error occurred in my code. I was trying to use the torchvision to load the imagenet datasets downloaded by myself. The key problem is that the format of the self downloaded datasets do not match the given datasets. We have to make our own meta.bin by ourselves just like the one provided in the package.

[2019-12-09 09:09] kangkang59812 opened #1652 "a MemoryError and subprocess.CalledProcessError during eval in object-dection"
![F52DF77A-83B1-4AEB-A7BD-A35EE2EBFAF0](https://user-images.githubusercontent.com/12228641/70422131-30922980-1aa6-11ea-9865-b31ba097555b.png)

I use the [provided code](https://github.com/pytorch/vision/blob/master/references/detection/train.py) to train my datasets. When I evaluate, the MemoryError and subprocess.CalledProcessError happened.

When I use the below command
`python -m torch.distribu

[2019-12-09 12:17] eecn commented on #1623
@jamt9000 Thank you for the explanation. I hope the project can be adapted to the windows system as soon as possible.

[2019-12-10 03:25] stereomatchingkiss commented on #1002
Check issue #1407 again, looks like I need to change the make file and compile it by myself in order to generate the files.
Any good news of using the models by c++ api?

[2019-12-10 10:32] fmassa commented on #1002
@stereomatchingkiss

We will be improving the experience of using the torchvision models with the C++ API over time. We have just enabled support for Mask R-CNN models to be torchscripted, and will be refining the C++ export over time

[2019-12-10 12:17] fmassa commented on #1648
Fixed via #1650

@vadimkantorov

I would recommend first opening an issue discussing the dataset that you are thinking about adding. General guidelines are: it should have tests (with dummy data), if it download data from the internet, it should perform md5 checks, and it should be a dataset which is widely used for research.

[2019-12-10 12:17] #1648 closed

[2019-12-10 12:51] fmassa commented on #1642
Thanks for letting us know.

[2019-12-10 12:53] fmassa commented on #1645
We will be soon releasing a new version of torchvision, which will fix this error for you.

Alternatively, you can install torchvision from a nightly release.

[2019-12-10 13:00] fmassa commented on #1647
I'm not sure if we can distribute the `meta.bin` ourselves.

But there might be a way of getting the same information from the imagenet website, without having to download the full dataset.

For example, looking a bit around, I was able to find the synsets in http://www.image-net.org/api/text/imagenet.synset.obtain_synset_list

Maybe having a closer look at http://image-net.org/download-API might

[2019-12-10 13:01] #1623 closed

[2019-12-10 13:02] fmassa commented on #1623
#1649 was merged (thanks @jamt9000 !) and this should be fixed now.

[2019-12-10 13:07] fmassa commented on #1646
Thanks @pmeier for helping out with this issue!

[2019-12-10 13:09] fmassa commented on #1652
I think you might be running out of CPU memory. When we use two GPUs for evaluating, we also require twice as much CPU memory for some internal things (namely transferring the evaluation results).

Can you check if this is the case?

[2019-12-10 13:29] vadimkantorov opened #1654 "[proposal] CUB 200-2011 dataset"
This is a very widely used dataset in metric learning research and fine-grained recognition ("Birds dataset"): http://www.vision.caltech.edu/visipedia/CUB-200-2011.html

At few years ago I abused ImageFolder and CIFAR10 multiple inheritance classes to add this dataset:

[code]

I extended this class for a metric learning task like this:
[code]

@fmassa I would appreciate advice on how to make this

[2019-12-10 13:59] r-zenine commented on #1179
Hi everyone,

I am struggling a bit with the CI pipeline ( for Conda and windows ) on the Pr #1632.
Could anyone help me figure out how to fix it ?

Thanks

[2019-12-10 14:08] fmassa commented on #1179
@r-zenine I'll have a look now

[2019-12-10 14:18] pmeier commented on #1647
You mean due to licensing issues or something else? The content `meta.bin` is twofold:

1. Mapping from WordNet IDs to human-readable classes: Maybe we could obtain this information directly. I'll look into the API link you posted. Since this is only for convenience, we could simply make this optional for users that simply want to train on the images rather than debug individual classes.
2. WordNe

[2019-12-10 14:28] r-zenine commented on #1179
@fmassa Thanks !

[2019-12-10 16:07] fmassa commented on #1647
@pmeier yes, this might be a problem due to licensing issues.

Maybe there is a way of getting the `meta.bin` from the official ImageNet website, without requiring to download the full dataset (and thus skipping the registration)?

[2019-12-10 19:20] cted18 commented on #1002
@stereomatchingkiss You would have to update the `CMakeLists.txt` to find them.
[CMakeLists.txt](https://github.com/pytorch/vision/files/3946721/CMakeLists.txt)
This is what I use currently, works for me. I have still not been able to run the scripted models on cpp, it complains about a version mismatch with the latest `libtorch`

`terminate called after throwing an instance of 'c10::Error'
  what

[2019-12-11 02:23] kangkang59812 commented on #1652
It costs about 27G memory when evaluating using distributing , while 32G is my ability..

[2019-12-11 02:23] #1652 closed

[2019-12-11 08:35] hgaiser commented on #1151
@fmassa any objection if I start working on this?

[2019-12-12 00:50] GerardMaggiolino opened #1659 "Multiple GPU Mask R-CNN and Faster R-CNN error with torch.nn.DataParallel [Solution Found]"
**The current torchvision Mask R-CNN model does not work with multiple GPUs through torch.nn.DataParallel.**

The bug, along with some offered solutions that are ineffective, [are found in this thread](https://discuss.pytorch.org/t/mask-rcnn-nn-dataparallel-possible/53265/5). As this is an issue with the RPN implementation, Faster R-CNN must also be impacted (although I did not test this explicitl

[2019-12-12 16:03] fmassa commented on #1659
You'll be facing other problems down the road by trying to use `nn.DataParallel` with Faster R-CNN. The first being that the input is a list of tensors, and the list will not be splitted correctly.
As such, and because `DataParallel` is significantly slower than `DistributedDataParallel`, we don't have plans to modify the current implementation to support `DataParallel` (the implementation would n

[2019-12-12 16:03] #1659 closed

[2019-12-12 22:51] ProGamerGov commented on #598
Support for histogram matching on GPU with tensors would be extremely useful for style transfer tasks as well. https://github.com/ProGamerGov/neural-style-pt/issues/46#issuecomment-563005587

[2019-12-12 23:00] ProGamerGov commented on #598
@gheaeckkseqrz's proposal would also really help with style transfer and potentially GAN related tasks as well. Support for histogram matching on GPU with tensors can be extremely useful for style transfer. https://github.com/ProGamerGov/neural-style-pt/issues/46#issuecomment-563005587

[2019-12-13 16:05] smudap opened #1663 "BalancedPositiveNegativeSampler generates wrong samples indexes?"
Hi. I have a question about usage of `zeros_like()` function used in `BalancedPositiveNegativeSampler`: https://github.com/pytorch/vision/blob/2d7c0667a5b1f4827a9bed828df20218af2a9081/torchvision/models/detection/_utils.py#L74

If I am right `zeros_like()` function doesn't return tensor with zeros (empty mask), so observations aren't sampled correctly for RPN learning.

I came across a situation w

[2019-12-14 15:16] creotiv opened #1664 "What this code for? Seems like doing nothing."
Hi

Found these calls:
https://github.com/pytorch/vision/blob/d88d8961ae51507d0cb680329d985b1488b1b76b/torchvision/models/detection/roi_heads.py#L486
https://github.com/pytorch/vision/blob/d88d8961ae51507d0cb680329d985b1488b1b76b/torchvision/models/detection/roi_heads.py#L487
which add 1x1 padding to masks and resize boxes

why is it needed? looks like some manual tweaks to increase dataset test a

[2019-12-14 15:30] #1664 closed

[2019-12-15 06:53] InternetMaster1 opened #1665 "Automatic Background Removal technology"
I am looking for a deep learning library/sdk which can be used to remove the background from any image automatically (with quality as good as www.remove.bg).

I tried some image segmentation SDKs with pre-trained models such as Tensorflow Lite & Fritz AI, but the accuracy of the cutout mask was very low, amongst other issues.

Criteria :-

1) Background Removal rather than just Human/Portrait Segm

[2019-12-16 14:23] gaussiangit opened #1668 "Bbox annotations"
``
What if there are only bbox annotations and no polygons ?!

[2019-12-16 14:23] #1668 closed

[2019-12-16 14:24] gaussiangit opened #1669 "Question regarding only bbox"
https://github.com/pytorch/vision/blob/bce17fddd4da744e23512b8e224d085818e6d921/references/detection/coco_utils.py#L231
``
What if there are only bbox annotations and no segmentation available at all?!

[2019-12-16 14:27] fmassa commented on #1663
Oh, thanks a lot for the bug report, this was a bug introduced in https://github.com/pytorch/vision/pull/1407 , I'm fixing this right away

[2019-12-16 14:52] fmassa commented on #1663
Should be fixed in #1670

[2019-12-16 14:54] fmassa commented on #1669
Just create your own instance of a dataset, which only contains the bounding boxes, and use it instead.

Here is an example on how to change the dataset to your own needs https://github.com/pytorch/vision/issues/1097#issuecomment-508917489

[2019-12-16 14:54] #1669 closed

[2019-12-16 14:58] fmassa commented on #1665
Hi,

You could try using `DeepLabV3` or Mask R-CNN, both are implemented in torchvision.
Check https://pytorch.org/blog/torchvision03/ to see if you'd need one model type or the other.

Regardless of the model used, you might probably need to test them to see if they fit your needs, but most probably you'll need to combine them with other techniques for getting the fine-grained details to work.

[2019-12-16 14:58] #1665 closed

[2019-12-16 16:44] InternetMaster1 commented on #1665
Could you advice about the additional techniques that might help with the
fine grained details. That is a struggle for me.

Thanks.

On Mon, 16 Dec, 2019, 8:28 PM Francisco Massa, <notifications@github.com>
wrote:

[2019-12-16 18:07] fmassa commented on #1665
Approaches leveraging alpha mating, for example https://arxiv.org/pdf/1703.03872.pdf or http://xiaoyongshen.me/papers/deepmatting.pdf

[2019-12-16 19:27] #1663 closed

[2019-12-16 20:21] Daemonhost opened #1674 "[proposal] Add ability to reorder classes for ImageFolder and DatasetFolder"
This ability would be very useful to me. Here's an example:
[code]
Currently the only way to do this is to rename the corresponding class folders, which isn't always convenient.

I could add a pull request if you think that this is a good feature.

[2019-12-17 07:14] marting87 opened #1675 "RuntimeError: builtin cannot be used as a value"
On commit c7c2085ec686ccc55e1df85736b240b2405d1179 I'm receiving the following error whenever i call `import torchvision.models as models:`

[code]

[2019-12-17 11:57] EliasVansteenkiste opened #1676 "[Feature Request] Add MobileNet v3 to torchvision"
A new version (V3) of MobileNet is already out since a while now:
["Searching for MobileNetV3" on ArXiv](https://arxiv.org/pdf/1905.02244.pdf)

Public pytorch implementations are already available here:
https://github.com/d-li14/mobilenetv3.pytorch
https://github.com/kuan-wang/pytorch-mobilenet-v3

However they don't achieve accuracies on the level as the ones mentioned in the paper but the follow

[2019-12-17 14:49] fmassa commented on #1675
What's your PyTorch version?

We might need to make a backwards-compatible fix for version PyTorch 1.4 if this isn't supported there.

@eellison do know you if `tensor.layout` is supported in the 1.4 branch?

[2019-12-17 14:50] marting87 commented on #1675
My PyTorch version = 1.3.1 (latest from pip)

[2019-12-17 18:30] fmassa commented on #1675
Yeah, that's expected -- you'll need a more recent version of PyTorch (at least from September, containing https://github.com/pytorch/pytorch/commit/6a4ca9abec1c18184635881c08628737c8ed2497)

@eellison told me that this patch is going to be present in the 1.4 release, so the solution here is just to update PyTorch to a nightly, or wait for 1.4 to be released in early January.

Thanks for the heads

[2019-12-17 18:30] #1675 closed

[2019-12-18 02:17] huang229 opened #1678 "I hope you can provide 3D align-pooling layer directly. Pray."
I see that 2D align-pooling has been implemented, but there is no 3D one. I do target detection of 3D voxels. The input data format is (batch, channel, depth, height, w). I customized a 3D align-pooling Op. However, there is a big problem in the deployment. The custom OP needs to be registered in the torchscript. In this way, the model can be exported normally, and finally the model can be loaded

[2019-12-18 07:02] marting87 commented on #1675
@fmassa Thanks! I'll switch to nigthly for now

[2019-12-18 09:10] prajjwal1 opened #1688 "Adding train sample code to detection models"
This is an addition to existing documentation provided by torchvision docs.
For instance, only the inference sample code has been provided
[code]
It would be better if the docs also contains sample code for what model would expect in train mode, for example,
[code]
This would give the user a decent idea what `GeneralizedRCNNTransform` would expect in case of batch size>1.

@fmassa I can open a PR

[2019-12-18 11:01] MichelHalmes opened #1689 "Memory leak in forward pass on FasterRCNN with varying aspect ratio"
Thank you for pytorch!

My object detector is running out of CPU memory after a few iterations.
I traced down the issue to the fact that I use varying aspect ratios at the input.
(My dataset has varying aspect ratios and I want to train the network to handle this properly. Since  my training is distributed, I use batch size 1, making this possible.)

The memory keeps increasing on the forward pass

[2019-12-18 12:11] songyuc opened #2054 "Program quit exceptionally after executing the function of transforms.Normalize((0.5,), (0.5,))"
## 🐛 Bug

Program quit exceptionally at executing  the function of transforms.Normalize((0.5,), (0.5,))

## To Reproduce
Reproducing it needs my data.

Steps to reproduce the behavior:

1. Loaded my data into im0 as np.ndarray [28,28]
2. Expanding the dimensions of im0 as `im1 = np.expand_dims(im0, axis=2)`
3. Getting a deep copy as `a = im1.copy()`
4. Transformed it into a torch.Tensor as
[code]

[2019-12-19 14:08] gm-spacagna commented on #970
I recommend using alluxio and fuse to mount s3 buckets locally.

[2019-12-19 15:01] fmassa commented on #1689
Hi,

I believe this is fixed in https://github.com/pytorch/vision/pull/1657

Can you try with a latest PyTorch / torchvision nightly and report back if this hasn't been fixed?

[2019-12-19 15:01] #1689 closed

[2019-12-19 15:03] fmassa commented on #1688
Sure, improving the documentation would be great!

Maybe pointing out to the tutorial in https://pytorch.org/tutorials/intermediate/torchvision_tutorial.html would also be helpful?

[2019-12-19 16:44] MichelHalmes commented on #1689
Indeed, it's fixed on the nightly. 👍
Much appreciated!

[2019-12-19 20:05] fmassa commented on #1674
Can't you have a `target_transform` which performs the remapping for you? I don't think that this needs a special argument in the class constructor for that.

[2019-12-19 20:08] fmassa commented on #1678
There is currently no plans to add support for this operator, but that doesn't mean we wouldn't be willing to add it. Do you have references for it being used in some research papers already?

[2019-12-19 20:18] fmassa commented on #1654
I think if most of the functionality for downloading the file and extracting it are shared, there might be no need of inheriting from CIFAR10. All you use from it is the `download` function, which today just calls into `download_and_extract` and `check_integrity` basically.

I think just inheriting from `ImageFolder` might be enough.

And yes, we would gladly accept a PR adding support for CUB200

[2019-12-19 20:23] fmassa commented on #1676
I think having a MobileNetV3 or FBNet as more accurate mobile models would be useful to have in torchvision. I'm not sure yet which variant would be most relevant though, and that might require some more research.

[2019-12-19 20:27] fmassa commented on #1151
@hgaiser sorry for the delay in replying.

The only constraint for now is that torchvision models are torchscript-compatible, and we would love to keep this still the case for future models. This might add some extra complexity while training the models.

Apart from that, adding a RetinaNet version in torchvision is definitely a welcome feature. You might want to have a look at in the implementati

[2019-12-19 20:57] vadimkantorov commented on #1654
If I remember well, in this dataset there is also some extra information (like the instance bounding box), but I hope a PR can be accepted first even without them parsed.

[2019-12-19 22:09] hgaiser commented on #1151
I will look into this, but I aim to first have a running version. As a rough outline, what would it mean to be torchscript-compatible?

I see. This is an outdated implementation of retinanet I take it?

For now I think I got my hands full. I have an advantage of knowing the retinanet network well, but I'm still getting accustomed to pytorch and torchvision :). When I have something to share I will

[2019-12-20 01:51] huang229 commented on #1678
@fmassa  I don't like writing papers.Other authors have related papers, such as:
http://openaccess.thecvf.com/content_CVPR_2019/papers/Cui_ToothNet_Automatic_Tooth_Instance_Segmentation_and_Identification_From_Cone_Beam_CVPR_2019_paper.pdf
In addition, a lot of medical image processing is volume data. I see a lot of papers on medical imaging. When they detect 3D objects, they all use the incomplet

[2019-12-20 02:03] huang229 commented on #1678
The following code is the 3Dalign-pooling OP that I customized under pytorch, but only the forward part is shown here. Because of the limited code level, it takes a lot of time to train. When I deploy to the C++ side, I need to register to torchscript. I tried to deploy for several months, but failed to register all the time.
#include <ATen/ATen.h>
#include <ATen/cuda/CUDAContext.h>
#include<torch

[2019-12-20 05:15] prajjwal1 commented on #1688
Yes, should I add the proposes change to the docstrings of the code [here](https://github.com/pytorch/vision/blob/master/torchvision/models/detection/faster_rcnn.py) or just make changes to the tutorial or both ?

[2019-12-20 09:57] Daemonhost commented on #1674
Yes, and then you could change `class_to_idx` attribute, if it is used later in the code, though then it wouldn't be consistent with class indices in `samples` and `targets` attributes. You could also manually change `samples`, `targets`, and `class_to_idx` attributes, but, I think, having a constructor argument would be better.

[2019-12-20 10:01] fmassa commented on #1674
The way I see this, if we have a `target_transform` that remaps the indices, we should also use the `target_transform` to get back the `class_to_idx`.
[code]

One of the reasons why I would rather not have a `class_to_idx` argument in the constructor is that it enforces that you know beforehand what are the classes in your dataset, which for now is discovered automatically by the folders in your p

[2019-12-20 10:02] fmassa commented on #1688
Improving the docstring adding a few links to the tutorials would be great!

[2019-12-20 10:08] fmassa commented on #1151
@hgaiser

being torchscript-compatible means that it can be converted to run on C++ (and mobile) devices without having to modify the code. But this also means that not all Python constructs are supported.

The implementation in `maskrcnn-benchmark` can be used as a reference, and is not maintained anymore. Parts of the implementation in torchvision of RPN are similar to RetinaNet, and I think tha

[2019-12-20 10:18] Daemonhost commented on #1674
I meant that this should be an addition, not a replacement for the current behavior, i.e. it should still discover classes automatically if `class_to_idx=None` (which would be the default value).

I see your point about using the transform to get class names. Maybe it is best to keep things as is.

[2019-12-20 10:26] hgaiser commented on #1151
I feel I will cross this bridge once the python implementation is done ;D

I'm currently trying to re-use as much of the existing code as I can (extending `GeneralizedRCNN` for example), but I'm doubting a bit if it makes sense in some parts. I am planning to make a proposal for what design I feel makes sense and then open a PR as a platform for discussion. I hope to have that done today. My goal

[2019-12-20 10:35] fmassa commented on #1151
FYI, there is no need to change `GeneralizedRCNN` nor `RPN` in most places, and we will just need to change (hopefully) very few lines of code.

[2019-12-20 10:52] fmassa commented on #1674
I think we can achieve the similar behavior (and probably more, if we want to fuse classes together) with a custom `target_transform`. As such, I'm closing the issue but let me know if you disagree.

[2019-12-20 10:52] #1674 closed

[2019-12-20 12:50] prajjwal1 commented on #1688
I've opened PRs in [vision](https://github.com/pytorch/vision/pull/1695) and [tutorials](https://github.com/pytorch/tutorials/pull/796). Please review them and let me know, if any modification is required.

[2019-12-20 21:12] shankar-agarwal commented on #1164
Hi, faster-rcnn (and mask-rcnn) gives the bounding box + classes as output. Is there a way to extract the feature vectors of these objects? For example, how can I get the activations before the last classifier?

Regards -Shankar

[2019-12-21 04:25] prajjwal1 commented on #1688
For some reason, some checks are not passing. What can I do to fix it ?

[2019-12-21 07:39] radenmuaz commented on #45
so any plans for GPU data-augmentations or do we still stick to cpu PIL?

[2019-12-21 08:17] edgarriba commented on #45
@radenmuaz in [kornia.org](www.kornia.org) we recently introduced an API for that. Not only GPU support but also differentiablility. Please check the [`kornia.augmentation`](https://kornia.readthedocs.io/en/latest/augmentation.html) module.

[2019-12-24 04:10] Hellcat1005 commented on #1678
I hope too. I am doing medical image detection in a medical image company. Medical images are usually 3d images. We really need 3d operations like nms_3d, roi_align_3d and so on.

[2019-12-24 05:40] huang229 commented on #1678
@Hellcat1005 Adding a custom OP is simple, but it may not be efficient, resulting in time-consuming training, and deployment will also have an impact. I think you can try adding custom OP first.
https://github.com/pytorch/extension-script

[2019-12-24 08:06] Banyueqin opened #1698 "The complie problem of torchvision 0.5"
![image](https://user-images.githubusercontent.com/32731721/71402185-36bc0480-2667-11ea-9e2a-9d83a6f254b0.png)
After complie torchvision 0.5,when import torchvision, it will cause the problem of the above picture.

[2019-12-24 22:49] muna-cs commented on #1520
I get a black image as output. I do not know where is the mistake?
This is my code:

[code]

[2019-12-25 10:15] madiltalay opened #1699 "'train_one_epoch' gives error while using COCO annotations"
I am using the COCO dataset for training with annotations available at the COCO website.
While using the code from: [https://github.com/pytorch/vision/blob/master/references/detection/engine.py](url), I get an error:

for the code snippet:
`targets = [{k: v.to(device) for k, v in t.items()} for t in targets]`

Further digging into the issue, I find that the 'targets' I receive from the 'for loop':

[2019-12-26 22:22] CDahmsCellarEye opened #1700 "PyTorch object detection - evaluate function call - object of type <class 'numpy.float64'> cannot be safely interpreted as an integer"
I recently made this post on SO:

https://stackoverflow.com/questions/59493606/pytorch-object-detection-evaluate-function-call-object-of-type-class-numpy

I'm not sure if I should have posted on SO or here first, so I figured I'd ask here as well.

I'm attempting to get this PyTorch person detection example running:

https://pytorch.org/tutorials/intermediate/torchvision_tutorial.html

I'm using U

[2019-12-27 07:17] madiltalay opened #1701 "Errors with COCO targets"
I am using the COCO dataset for training with annotations available at the COCO website.
I use this dataloader:
`train_dataloader = torch.utils.data.DataLoader(train_dataset, batch_size=1, shuffle=True, num_workers=4, collate_fn=collate_fn)
`

Running one iteration:
`image, target = next(iter(train_dataloader))`
gives 'image' and 'target' of type 'tuple'

To convert the 'target' into the desired t

[2019-12-27 16:28] frgfm commented on #1676
Happy to take a look at this one @fmassa as I have been using the implementation of rwightman for some time now.

Are there any specific requirements for PR regarding new model implementations? (I suppose, having the reference script and the trained weights available and at least on par with the original paper)

[2019-12-27 19:02] CDahmsCellarEye commented on #1700
After quite a bit of troubleshooting I found there is a change is numpy 1.18.0 which causes this.  The fix is:

`sudo -H pip3 install numpy==1.17.4`

A few things I can also mention:

-numpy 1.17.4 was released on November 10th, 2019 and therefore should still be good for quite some time

-There is now a pip package for pycocotools, so instead of the above procedure (cloning and building) you can

[2019-12-27 19:02] #1700 closed

[2019-12-28 16:09] KaiHoo commented on #157
Hello, I am doing video tasks where each video is 32 frames of images. Then I need to resize and crop the 32 images by loops. A batch operation may be helpful or (faster?).

[2019-12-29 07:19] 1e100 commented on #1676
@fmassa I have my implementation of MobileNet V3 (including segmentation variants with dilated convs), and I have used it in practical applications (note to folks: the currently published version on my github has bugs, don't use it, I'll soon upload a corrected version and the checkpoints for it).

The problem is I'm not able to train it to the same accuracy as in the paper. The best I got is 73.8

[2019-12-29 07:29] 1e100 commented on #1676
It's also somewhat tricky, BTW, to extract features for object detection or segmentation out of this arch (which is what I use it for). Paper suggests that they should be extracted immediately before the subsequent downsampling dwconv, which happens to be _inside_ the block, and not at the block boundary. In TF that's not an issue, you can just get an output tensor directly, but in PyTorch this is

[2019-12-29 10:55] adizhol opened #1705 "Runtime error in torchvision nms in Linux. Windows works fine"
Hi,

I'm getting an runtime error when running torchvision\ops\boxes.nms.
torchvision 0.4.0
pytorch 1.2.0 (GPU)

RuntimeError: Trying to create tensor with negative dimension -532064992: [-532064992] (check_size_nonnegative at /pytorch/aten/src/ATen/native/TensorFactories.h:64)
frame #0: c10::Error::Error(c10::SourceLocation, std::string const&) + 0x33 (0x7fd8e1d79273 in /opt/conda/lib/python3.6/s

[2019-12-30 08:41] mattans commented on #980
Hi @rwightman , is it possible to use your impl as a backbone to torchvision's segmentation models? Similar to how ResNet is used today.

[2019-12-30 09:10] Finniu opened #1706 "FasterRCNN to ONNX model"
Hi there,
I tried to convert a fasterrcnn model to onnx format, and followed the instruction from test/test_onnx.py [https://github.com/pytorch/vision/blob/master/test/test_onnx.py](url).

Here is my code:
`model=models.detection.faster_rcnn.fasterrcnn_resnet50_fpn(pretrained=True,min_size=800,max_size=1333)`
`image=cv2.imread("test.jpg")  `
`image=cv2.resize(image,(1333,800)) `
`image1 = Image.fr

[2019-12-30 10:32] madiltalay opened #1707 "'loss_dict' error from 'train_one_epoch'"
Navigating through the code in 'train_one_epoch', running this line:
`loss_dict = model(image,targets)`
gives the error:

--> 398         features = list(features.values())
    399         objectness, pred_bbox_deltas = self.head(features)
    400         anchors = self.anchor_generator(images, features)
AttributeError: 'tuple' object has no attribute 'values'

Can anyone help?

[2019-12-30 11:52] voldemortX opened #1708 "[Question] Isn't setting align_corners=True a more popular choice in segmentation models?"
In DeepLabV3 codes, when an upsampling layer is used, the **align_corners** argument is set as **False** :
https://github.com/pytorch/vision/blob/d2c763e14efe57e4bf3ebf916ec243ce8ce3315c/torchvision/models/segmentation/_utils.py#L25
https://github.com/pytorch/vision/blob/d2c763e14efe57e4bf3ebf916ec243ce8ce3315c/torchvision/models/segmentation/_utils.py#L31
https://github.com/pytorch/vision/blob/d2

[2019-12-30 20:17] rwightman commented on #980
@mattans Yes, it should be possible. I have been slowly working on having a module backbone instantiation that will work with various repos like torcvision, detectron2, mmdetection. The WIP for this is in my [pytorch-image-models](https://github.com/rwightman/pytorch-image-models/blob/master/timm/models/efficientnet.py#L291) (not in the gen-efficientnet version)

Note that it's not trivial getting

[2019-12-30 20:23] rwightman commented on #980
An update on EfficientNet training. Last month I managed to reproduce EfficientNet-B2 training from scratch using RandAugment I hit 80.4% top-1 with (https://github.com/rwightman/pytorch-image-models). I tried similar with EfficientNet-B3 but fell a bit short at 81.5% (only hits > 81.8% when I bump the resolution and crop factor at test time).

I feel confident I could reproduce training eventuall

[2019-12-30 20:30] rwightman commented on #1676
As mentioned in #980, I'm open to adding my impl and TF ported or PyTorch trained (no weird padding) weights I have so far with guidance from @fmassa as to what is wanted.

I reproduced MobileNetV3 training for an early interpretation of the paper that had a few details wrong (head conv bias, rounding of SE channels, SE act fn). I've since fixed my implementation so it's exact to the TF Slim offic

[2019-12-30 20:35] rwightman commented on #1676
@1e100 I've implemented a hook based feature extractor for these networks, see comment in #980. Goal is to get it hooked up in an EfficientDet and integrated with other obj/seg frameworks at some point.

[2019-12-30 23:05] 1e100 commented on #1676
That'd be a very worthwhile addition IMO, especially if coupled with training know-how. These architectures are pretty drastically overfitted to the specific implementations of optimizers, regularization, augmentation, etc. All of which is different in PyTorch by default.

[2019-12-31 01:19] arm-buster commented on #1568
I have encountered this issue too.
https://github.com/pytorch/vision/blob/d2c763e14efe57e4bf3ebf916ec243ce8ce3315c/torchvision/models/detection/generalized_rcnn.py#L66-L72
Specifically during evaluation of the model, for some training examples, on line 67 the call to self.backbone (which in my case is a FPN) returns a feature pyramid with all NaNs, this seems to be what is causing the problem.

[2019-12-31 09:11] sdfs1231 commented on #1383
but i install latest version of pytorch and torchvision, this still happend

[2019-12-31 22:41] lxywizard opened #1709 "Inconsistency in inception_v3 'transform_input' default value"
In the comments of `inception_v3` it is said that the default value of `transform_input` is `False`:
https://github.com/pytorch/vision/blob/d2c763e14efe57e4bf3ebf916ec243ce8ce3315c/torchvision/models/inception.py#L42-L43
However, the default value is actually set to be `True` when `pretrained` is true:
https://github.com/pytorch/vision/blob/d2c763e14efe57e4bf3ebf916ec243ce8ce3315c/torchvision/mode

[2020-01-01 14:45] stormchasingg opened #1710 "finetuning inception_v3"
finetuning resnet18 as
train: `models.resnet18(pretrained=True)`
val:   `models.resnet18()`
But while finetuning inception_v3 as above, I got poor result. The valuation must be
val:   `models.inception_v3(pretrained=True)`
I spent much time stucking here..

[2020-01-02 15:19] parsing-science opened #1712 "New Pillow version (7.0.0) breaks torchvision (ImportError: cannot import name 'PILLOW_VERSION' from 'PIL')"
Hi, it looks like Pillow released version 7.0.0 so I can no longer import torchvision without getting this error: ```ImportError: cannot import name 'PILLOW_VERSION' from 'PIL'```

Pinning to Pillow 6.2.1 fixes the issue.

I see that you fixed this for a future torchvision release (https://github.com/pytorch/vision/pull/1501). Do you know when this will be released? If it will be awhile, could the

[2020-01-02 17:53] fmassa commented on #1712
Hi,

Thanks for the report!

We will be releasing a new version of PyTorch and torchvision early next week, so this should be soon fixed.

As such, I'm closing the issue, but let me know if you have further questions.

[2020-01-02 17:53] #1712 closed

[2020-01-02 18:19] fmassa commented on #1708
Hi,

Using `align_corners=False` actually make the results of the interpolation match the results of OpenCV and TensorFlow, so I would expect that using `align_corners=False` would be expected.

Do you have any references of researchers setting it to `True` elsewhere?

[2020-01-02 18:25] oteph opened #1714 "torchvision transforms broken by Pillow 7.0 release"
## 🐛 Bug

Pillow just released 7.0.0. This breaks torchvision.transforms as the import fails:

[code]
https://github.com/python-pillow/Pillow/releases

## To Reproduce
run
`from torchvision.transforms import Compose`

## Environment

torch==1.3.1
torchvision==0.4.2
torchvision==7.0.0

## Fix

I pinned pillow to version 6.2.2. After this the import works again

[2020-01-02 21:19] rhristov commented on #1714
I can confirm this issue when installing https://download.pytorch.org/whl/cpu/torchvision-0.4.2%2Bcpu-cp36-cp36m-linux_x86_64.whl

[2020-01-02 23:50] dharmeshkakadia commented on #516
@vfdev-5 I can reproduce with the exact same commands you posted. Is there a suggestion on how to fix it? Happy to provide more debugging info if needed as well.

[2020-01-03 01:05] sachinparyani commented on #1714
I still get version 7.0.0 when I install using the following command

pip3 install torch===1.3.1 torchvision===0.4.2 -f https://download.pytorch.org/whl/torch_stable.html

or even using the following command

pip3 install torch===1.3.1 torchvision===0.4.2 -f https://download.pytorch.org/whl/torch_stable.html

[2020-01-03 01:51] sachinparyani commented on #1712
Is there a workaround until then? Is there a version that does not depend on pillow 7.0.0?

[2020-01-03 05:54] jsmodic commented on #1714
It seems like it was fixed here a few months ago: https://github.com/pytorch/vision/commit/b8ef5322b5aea611a6aca2c876578d012b9a890a

But there hasn't been a release that includes it.

[2020-01-03 07:15] netw0rkf10w commented on #1072
@fmassa Could you tell me how to instantiate a model with GroupNorm? The following doesn't work:

[code]

Thanks.

[2020-01-03 07:23] voldemortX commented on #1708
Well, it's more like an insider trick that is used by lots of people to get better performance at corners, and it is becoming a norm.
e.g.
https://github.com/jfzhang95/pytorch-deeplab-xception/blob/9135e104a7a51ea9effa9c6676a2fcffe6a6a2e6/modeling/deeplab.py#L31

https://github.com/speedinghzl/pytorch-segmentation-toolbox/blob/765941f8ce61390f78ecd94f155a121539be5108/networks/deeplabv3.py#L92

htt

[2020-01-03 07:32] netw0rkf10w commented on #1072
Solved:
[code]

[2020-01-03 09:55] fmassa opened #1716 "EMNIST classes attribute is wrong"
Reported by @mickypaganini

The `classes` attribute of EMNIST dataset does not take into account the `split` argument. From the original EMNIST dataset https://www.nist.gov/itl/products-and-services/emnist-dataset

As of now, `classes` always returns the default for MNIST
[code]

We need to make `classes` depend on `split`, and return the correct class names for each split.

[2020-01-03 10:04] fmassa commented on #1688
@prajjwal1 I fixed the tests in a follow-up PR (lint was failing), but can you do the same for the tutorials? I've just commented in the PR

[2020-01-03 10:11] fmassa commented on #1708
I wonder if this is done on purpose or is just an artifact that the error message, which reads
[code]

We would need to run some trainings with both `align_corners=False` and `align_corners=True` in order to see if there is any significant performance difference, before we consider making any changes.

[2020-01-03 10:38] hugovk commented on #1712
Until the new torchvision release is out, the workaround is either to use the master version of torchvision (eg. `pip install -U git+https://github.com/pytorch/vision`), or Pillow<7 (eg. `pip install "pillow<7"`).

[2020-01-03 10:42] hugovk commented on #1714
Duplicate of https://github.com/pytorch/vision/issues/1712:

[2020-01-03 10:44] hugovk commented on #516
@dharmeshkakadia That's a duplicate of https://github.com/pytorch/vision/issues/1712:

[2020-01-03 10:50] voldemortX commented on #1708
I agree more trainings are necessary.
As I really don't have much resources myself, I only conducted training 3 times on each setup with mixed precision training and without COCO pretraining on [this](https://github.com/voldemortX/DeeplabV3_PyTorch1.3_Codebase), and the average mIoU for `align_corners=False` & `align_corners=True` is 76.45% & 76.69% respectively, but it still could be just a coinc

[2020-01-03 10:58] fmassa commented on #1708
Thanks for the numbers you reported! A 0.2% mIoU difference is very probably just within noise, so I wouldn't expect it to really make that much of a difference. But as you said, I should still run a few trainings just to make sure

[2020-01-03 11:00] fmassa commented on #1714
As @hugovk mentioned in https://github.com/pytorch/vision/issues/1714#issuecomment-570536493, we will be releasing a new version of torchvision early next week, so I believe this can be closed.

Thanks for the reports!

[2020-01-03 11:00] #1714 closed

[2020-01-03 11:02] fmassa commented on #1712
@sachinparyani you can also install torchvision from a nightly, which also requires a pytorch from a nightly version, or wait until the next release next week

[2020-01-03 13:36] fmassa commented on #1383
@sdfs1231 You need to install a nightly version of PyTorch and torchvision.
Alternatively, next week we will be releasing a new stable version of both.

[2020-01-03 14:03] MichaelX99 commented on #1714
@fmassa thank you for being so responsive!

[2020-01-03 14:51] Gijs-Koot opened #1718 "pillow 7.0.0 has removed `PILLOW_VERSION`"
In the newest version of `pillow`, the attribute `PILLOW_VERSION` is removed in favor of `PIL.__version__`. `torchvision` relies on the old behaviour and breaks on import with

[code]

See for reference this issue in Pillow https://github.com/python-pillow/Pillow/issues/4130.

I don't know if version 7 of Pillow breaks `torchvision`  in other ways. Instead of resolving this directly, the `<7.0` de

[2020-01-03 15:54] fmassa commented on #1718
Thanks for opening the issue!

This is a duplicate of https://github.com/pytorch/vision/issues/1712, and has been fixed in torchvision master already. We will be releasing a new version of torchvision early next week, which contains the fix.

[2020-01-03 15:54] #1718 closed

[2020-01-03 18:06] fmassa commented on #1705
Thanks for the bug report!

I believe the issue is because we use `int` in https://github.com/pytorch/vision/blob/07cbb46aba8569f0fac95667d57421391e6d36e9/torchvision/csrc/cuda/nms_cuda.cu#L82-L84 instead of `long`. I'll send a PR fixing it

[2020-01-04 08:29] prajjwal1 commented on #1688
I've done it. Please see the updated PR.

[2020-01-04 23:18] mattans opened #1719 "[bug] trying to save a tensor to image, changes its content"
I have a float tensor in range 0-1 that I want to save as binary image.
I get this stack trace:

[code]
Notice how the maximum value of the tensor is 1 before trying to save it, then it changes to 255.
It somehow scaled from 0:1 to the 127:255 range.

Latest PyTorch + TorchVision, on Python 3.7, Windows.

[2020-01-04 23:21] mattans commented on #1719
I see now that the saving function operates on the tensor in place:

`    ndarr = grid.mul_(255).add_(0.5).clamp_(0, 255).permute(1, 2, 0).to('cpu', torch.uint8).numpy()
`
Why?

[2020-01-05 11:04] riven314 opened #1720 "Enquiry on Implementation of RandomHorizontalFlip (in transforms.py from references folder)"
I am a bit confused by the implementation RandomHorizontalFlip defined [here](https://github.com/pytorch/vision/blob/master/references/detection/transforms.py). Note the following snippet extracted:
[code]

should ```bbox[:, [0, 2]] = width - bbox[:, [2, 0]]``` be ```bbox[:, [1, 3]] = width - bbox[:, [3, 1]]``` instead?
Let original bounding box be ```[xmin, ymin, xmax, ymax]``` and image have siz

[2020-01-05 21:32] ahirner commented on #1566
Solved by supplying `TORCH_CUDA_ARCH_LIST`, otherwise `cpp_extension.py` tries to dynamically determine ARCH. See [trace](https://github.com/pytorch/vision/files/4023917/tv_trace.txt) if `TORCH_CUDA_ARCH_LIST` is not supplied for 0.4.2 and pytorch 1.3.1.

You may want to check out our custom builds [here](https://github.com/MoonVision/moonbox-docker).

[2020-01-06 01:47] lutzroeder opened #1721 "UserWarning: 'layers' was found in ScriptModule constants"
## 🐛 Bug

Creating `torchvision.models.densenet161` shows `UserWarning`.

## To Reproduce

[code]
[code]
[code]

## Environment

Collecting environment information...
PyTorch version: 1.4.0
Is debug build: No
CUDA used to build PyTorch: None

OS: Mac OSX 10.15.2
GCC version: Could not collect
CMake version: version 3.15.3

Python version: 3.7
Is CUDA available: No
CUDA runtime version: No CUDA
GPU

[2020-01-06 07:45] pmeier commented on #1719
Duplicate of #1206. This was fixed in #1244 and will be included in the upcoming release.

[2020-01-06 14:21] fmassa commented on #1590
Fixed via https://github.com/pytorch/vision/pull/1715

[2020-01-06 14:21] #1590 closed

[2020-01-06 18:54] cted18 commented on #1002
@fmassa
I can script Maskrcnn parts and load them in cpp using this

[code]

but when I add a wrapper around the attributes (backbone eg.) and load it on cpp, it cannot find torchvision operators.
Why might this happen?

[code]
Error:
[code]

[2020-01-06 22:11] a-maci opened #1722 "Command lines to train video classification networks"
There are 3 video classification networks in torchvision (ResNet 3D 18, ResNet MC 18 and Res 2+1 D). _What are the command lines to train each of these networks?_

_Also, any pointers on how to prepare the Kinetics-400 dataset?_
Link to Kinetics 400 in https://deepmind.com/research/open-source/kinetics leads to few csv files -- what to do with these files and prep the data to feed the training scr

[2020-01-07 02:24] Edwardmark commented on #392
@fmassa how can I flatten back the indices_flat to [batch_size, N] if each image has different number of valid boxes after nms.

[2020-01-07 06:34] Lucas-Steinmann commented on #1720
After horizontal flip, the bounding box location should be ``[width - xmax, ymin, width - xmin, ymax]``.

The x-axis corresponds to the width of the image, while the y-axis corresponds to its height.
Maybe the confusion arises from the issue that the shape of the image is in a different order (height/y first) than the box coordinates (x first).

[2020-01-07 09:23] dihuangdh opened #1723 "torchvision fail to use GPU."
While I am using [detectron2](https://github.com/facebookresearch/detectron2), I meet the problem that some function in torchvision can't use GPU.

The details are here: https://github.com/facebookresearch/detectron2/issues/469

It seems an install problem. Directly using conda to install torchvision should be ok for most situations, but I am not sure whether this will lead to cuda usage error.

C

[2020-01-07 09:30] eduidl opened #1724 "wrong description about torchvision.ops.nms"
This issue is about https://pytorch.org/docs/stable/torchvision/ops.html.
In above page, parameters of `torchvision.ops.nms` is described as follows, which is not correct, I think.

Should be

Regards.

[2020-01-07 10:11] eduidl commented on #1724
this is already fixed. #1682

[2020-01-07 10:12] #1724 closed

[2020-01-07 12:28] cl2227619761 opened #1725 "resnet_fpn_backbone("resnext101_32x8d", True) error"
when using resnet_fpn_backbone("resnext101_32x8d", True), there is error in loading stat_dict for ResNet

[2020-01-08 00:40] fritzo opened #1726 "Bug: Import fails because PILLOW_VERSION no longer exists"
`PIL.PILLOW_VERSION` appears to have been removed in Pillow 7.

Traceback:
[code]
Pip freeze

<details>

[code]

</details>

[2020-01-08 01:55] cl2227619761 commented on #1726
use pillow==0.6.1 is ok

[2020-01-08 10:08] fmassa commented on #1726
Hi,

Thanks for the report.

This is a duplicate of https://github.com/pytorch/vision/issues/1712 which has been fixed in torchvision master / nightly, and the fix will be available in the next stable release next week.

[2020-01-08 10:08] #1726 closed

[2020-01-08 10:15] fmassa commented on #1723
Hi,

I believe the issue is that you might have compiled torchvision on a different machine than the one that is executing the code.

One potential way of fixing it on your side would be to specify the GPU architectures that you want to compile torchvision.

From the torchvision cloned repo:
[code]

My recommended fix though is to use a conda installation for torchvision. You can install a nightly

[2020-01-08 10:15] #1723 closed

[2020-01-08 10:17] fmassa commented on #392
@Edwardmark can you open a new issue describing what you are trying to do?

[2020-01-08 10:19] fmassa commented on #1002
@cted18 I believe the solution you are looking for can be found in https://github.com/pytorch/vision/issues/1002#issuecomment-562915463

[2020-01-08 10:23] fmassa commented on #1688
@prajjwal1 I've approved it, but I don't have merge rights to that repository

[2020-01-08 10:26] fmassa commented on #1568
@arm-buster if your FPN returns all NaNs, this means that your model or your input is corrupted. My guess is that your input data is corrupted, because if it was a problem with the model training would have aborted before this error happens.
Can you double-check that all your inputs are well-formed?

[2020-01-08 10:28] fmassa commented on #1720
@Lucas-Steinmann answer is correct, thanks Lucas for the help!

[2020-01-08 10:28] #1720 closed

[2020-01-08 10:34] fmassa commented on #1700
Thanks for the heads up and through investigation! This has been fixed in pycocotools already https://github.com/cocodataset/cocoapi/pull/354

[2020-01-08 10:39] fmassa commented on #1699
Hi,

The `targets` should be a list of dictionaries, which is what is returned by the DataLoader after using this `collate_fn` https://github.com/pytorch/vision/blob/07cbb46aba8569f0fac95667d57421391e6d36e9/references/detection/utils.py#L237-L238 for the dataset https://github.com/pytorch/vision/blob/07cbb46aba8569f0fac95667d57421391e6d36e9/references/detection/coco_utils.py#L89-L101

So I suppose

[2020-01-08 10:39] #1699 closed

[2020-01-08 10:44] fmassa commented on #1701
Hi,

I think this error is related to https://github.com/pytorch/vision/issues/1699#issuecomment-571991699

You shouldn't convert the target via
[code]
Instead, the target is already in the correct format in the code, and shouldn't be changed, so just do
[code]

[2020-01-08 10:44] #1701 closed

[2020-01-08 10:51] fmassa commented on #1707
Related to https://github.com/pytorch/vision/issues/1699 and https://github.com/pytorch/vision/issues/1701

Sorry for the delay in replying, I was on holidays.

[2020-01-08 10:51] #1707 closed

[2020-01-08 10:54] fmassa commented on #1710
Hi,

I have never been able to train / finetune inceptionV3, nor do transfer learning with it.

The pre-trained weights have been converted from TensorFlow, and might have required external data / intermediate classifiers to be able to train it properly.

I would recommend using ResNet / ResNeXt models, which are well understood and give good results.

[2020-01-08 10:54] #1710 closed

[2020-01-08 11:01] fmassa commented on #1520
@muna-cs your problem is when computing the argmax.

You should just do
[code]

[2020-01-08 12:52] fmassa commented on #1721
Thanks for the report!

Should be fixed with https://github.com/pytorch/vision/pull/1727

[2020-01-08 12:59] fmassa commented on #1709
Hi,

PRs are welcome to improve the documentation.

Inception and GoogleNet are unfortunately special cases, which were trained with different preprocessing.

If I were to do this again today, I would have removed `transform_input` altogether, and instead would have modified the pre-trained weights for the first convolutional layer so that it takes inputs with the same pre-processing as the others

[2020-01-08 13:04] fmassa commented on #1706
Hi,

Sorry for the delay in replying.

My advise would be to make sure you convert your inputs and model to CUDA before exporting to ONNX, this is the safest way.

So it would look something like:
[code]

Let me know if you still have issues.

[2020-01-08 13:18] fmassa commented on #1698
Hi,

Thanks for the report.

I can't reproduce this so I believe this has been fixed with the latest master version of PyTorch and torchvision.

Can you try updating them and re-opening the issue if the problem still persists?

[2020-01-08 13:18] #1698 closed

[2020-01-08 13:45] robotcator opened #1729 "quantization-aware training in classification"
Hi, I want to reproduce the result of the quantization awareness training of mobilenet_v2 using this [script](https://github.com/pytorch/vision/blob/master/references/classification/train_quantization.py).

1: It seems that the script will raise launch error when using multi GPU. Do we support multi-GPU when quantization awareness training?
2: Also the readme says that 'Training converges at about

[2020-01-08 16:04] cted18 opened #1730 "Scripting Maskrcnn with wrapper code"
I can script Maskrcnn parts (as is) using this:

[code]
and load it in cpp using this:
[code]

And,
When I add a wrapper around the parts like this:
[code]

It does save the model without errors in python, but when I try to load it in cpp:
[code]
I get this error:
[code]

It looks like Torchscript is somehow messing up the save when I use a wrapper (the directory structure also looks different for

[2020-01-08 16:12] Banyueqin commented on #1698
Thanks, when updating with the latest master version torchvision, there is no problem.

[2020-01-08 16:13] cted18 commented on #1002
@fmassa
I used the comments from #1407, but the problem still exists.
Opened a new issue #1730
Thanks

[2020-01-08 16:18] fmassa commented on #1730
@cted18 can you also post the gcc / compilation arguments you used to compile and run the model on C++?

[2020-01-08 16:49] cted18 commented on #1730
Sure.

Pytorch, torchvision and libtorch install:
[code]
Following this https://pytorch.org/tutorials/advanced/cpp_export.html

sample.cpp:
[code]
CMakeLists.txt:
[code]

Build commands:
[code]

[2020-01-08 19:36] fmassa commented on #1730
Hi,

So looks like you didn't follow the instructions in https://github.com/pytorch/vision/pull/1407#issuecomment-563048240

You need to add
[code]
in your `sample.cpp` file, and link it properly in your CMakeLists.

[2020-01-08 20:57] dishank-b commented on #392
@fmassa, I think @Edwardmark wants to ask how to unflatten the `indices` in above reply, so that you get the detections for each image, given you don't know the number of final detections in each image.

[2020-01-08 21:58] cted18 commented on #1730
Oh yes.
I failed to incorporate some other changes.
Thanks for looking into this.

[2020-01-08 21:58] #1730 closed

[2020-01-09 04:46] SidShenoy commented on #1573
I found a nice workaround for this issue, if you need to simply resize the images having smaller size < 256 and leave the rest of the images as is (which is basically what you want to do), we can do it using lambda functions.

For example,

`transforms_to_apply = transforms.Compose([transforms.FiveCrop((256,256)), transforms.Lambda(lambda crops: torch.stack([transforms.ToTensor()(crop) for crop in

[2020-01-09 08:50] Edwardmark commented on #392
@fmassa @dishank-b Yes, and I figure it out. We can unflatten the indices based on the returned indices range. For example, indices within range(0, N) belongs to img1, and indices within range(N, 2N) belongs to img2. Thank you all very much.

[2020-01-09 09:22] PhilWallace opened #1732 "How to use Resnet to deal with one channel input through pytorch.hub ?"
I did this to load the Resnet model, and since my input contains only one channel, the model does not work.

`model = torch.hub.load('pytorch/vision:v0.4.2', 'resnet18', pretrained=True)`

I know how to modify the 'resnet.py' file to satisfy my demands, but that means I must include the modified 'resnet.py' file in my project, which may be unnecessary. It will be a lot better if the model can be l

[2020-01-09 14:07] janstrohbeck commented on #1706
I also get this error with both FasterRCNN and MaskRCNN, and I'm sure that the model and input tensor are on the GPU. I also run the model once before exporting. Exporting with `device = 'cpu'` works.

[code]

[code]

[code]

[2020-01-09 17:40] zemarx commented on #1730
@cted18 can you share the final CMakeLists.txt content that worked for you?

[2020-01-09 20:22] fmassa commented on #1732
Hi,

The current best solution is to convert your input image to have 3 channels.

This can be accomplished with something like
[code]
and then feed it directly to your model.

Given it's very simple to adapt a pipeline for 1-channels images, we won't currently be adding support for configuring the number of input channels in the input.

[2020-01-09 20:22] #1732 closed

[2020-01-09 21:14] kmario23 commented on #1712
I downgraded pillow version to `6.2.1` which seems to work without any issues. If you're using anaconda distrib, then use the below command for downgrading pillow version:

    $ conda install -c conda-forge pillow==6.2.1

[2020-01-09 21:23] hugovk commented on #1712
Rather use 6.2.2, which is a security update:

[code]

Or:

[code]

[2020-01-09 22:18] dlazerka commented on #1712
The fact that Torchvision accepts incompatible Pillow versions is a bug in Torchvision requirements, isn't it?

[2020-01-10 03:48] ramcandrews commented on #1712
You can also manually remove PILLOW_VERSION from python3.7/site-packages/torchvision/transforms/functional.py
`
from __future__ import division
import torch
import sys
import math
from PIL import Image, ImageOps, ImageEnhance, **PILLOW_VERSION**
try:
`

[2020-01-10 05:32] HaFred commented on #1712
Hi, with 6.2.2, it prompted PackageNotFoundError. Would you show your channel for 6.2.2? Thanks

[2020-01-10 06:28] hugovk commented on #1712
Ah sorry, I guess conda doesn't have 6.2.2 yet, only pip. Use the `<7` option.

[2020-01-10 06:29] robotcator commented on #1729
cc @fmassa

[2020-01-10 09:27] dihuangdh commented on #1723
Hi,

Actually I did use conda installation for torchvision, but not work.

Also, I tried following command, but met the same problem.
[code]

[2020-01-10 09:29] dihuangdh commented on #1723
Is there any function to check the building cuda environment and running cuda environment of torchvision ?

[2020-01-10 10:05] GeondoPark opened #1734 "ImageNet dataset duplicated label"
In the imagenet dataset, there is a duplicated label "crane".
The same wording is used, but one mean a bird and the other mean a crane used in construction.
When I observe the imagenet.py code, it seems that the two labels are unintentionally merged into one. Because class_to_idx is made into a dictionary, and the class is str.

However when we use ImageFolder dataset, the labels are made with fol

[2020-01-10 10:20] #1734 closed

[2020-01-10 10:41] fmassa commented on #1734
Hi,

Thanks for opening the issue! Is this still an issue, in which case we should re-open the issue?

[2020-01-10 11:06] dihuangdh commented on #1723
I have fixed the problem, by using matching version pytorch and torchvision. Thx !

[2020-01-10 14:44] Gokkulnath commented on #1716
Hi @fmassa
I tried fixing the bug and have sent a PR. Request you to review when you get some free time.
Thanks :)

[2020-01-10 15:44] MitraTj opened #1737 "Pyramid layer"
I want to extract the third layer of feature pyramid from

features = self.backbone(images.tensors) in generalized_rcnn.py

any help please?

[2020-01-10 16:20] fmassa commented on #1737
Can't you just do something like
[code]
?

[2020-01-10 16:29] MitraTj commented on #1737
Yes, but the problem is the error happens for this line:
detections, detector_losses = self.roi_heads(feat, proposals, images.image_sizes, targets)

[2020-01-11 04:53] ynebula commented on #1712
If you want to use pillow of latest version, you do following

open following file.
C:\User\{admin}\Anaconda3\envs\pytorch\Lib\site-packages\torchvision\transforms\functional.py
After do comment , you should change from PILLOW_VERSION to __version__
#from PIL import Image, ImageOps, ImageEnhance, PILLOW_VERSION
from PIL import Image, ImageOps, ImageEnhance, __version__

Error caused:
# VERSION was

[2020-01-11 21:15] anhydrous99 opened #1738 "RuntimeError after moving fasterrcnn_resnet50_fpn to CPU from GPU"
Hello, when using the fasterrcnn_resnet50_fpn model, I noticed I got an error when training on the GPU then running it, in eval mode, on the CPU.
[code]
Here is some code to replicate it:
[code]
A quick workaround I found is to move the cell_anchors in the anchor generator to the CPU.
[code]
I am using the master branch for both torchvision & pytorch on linux.
Thank you.

[2020-01-12 01:00] ramcandrews commented on #1712
I am still learning, so for next time I have a similar problem can you share how you figured out that PILLOW_VERSION had been replaced by version?

[2020-01-12 01:10] peasant98 opened #1740 "MaskRCNN Issue Export to ONNX"
When I try to to export a torchvision MaskRCNN model to RCNN, I get,
`/usr/local/lib/python3.7/dist-packages/torch/onnx/utils.py:769: UserWarning: ONNX export failed on custom operator torchvision::_new_empty_tensor_op because torch.onnx.symbolic_opset11._new_empty_tensor_op does not exist. Have you registered your symbolic function with torch.onnx.register_custom_op_symbolic(symbolic_name, symbol

[2020-01-12 01:46] robotcator commented on #1729
https://github.com/pytorch/pytorch/issues/32082

[2020-01-12 05:39] ynebula commented on #1712
I modified the "Anaconda3\envs\pytorch\Lib\site-packages\torchvision\transforms\functional.py" file

line 5
#from PIL import Image, ImageOps, ImageEnhance, PILLOW_VERSION
from PIL import Image, ImageOps, ImageEnhance, version

Thank you, dear

[2020-01-13 03:32] collinmccarthy commented on #1647
@fmassa @pmeier I'm assuming the goal here is simply to be able to instantiate an `ImageNet` instance without the `meta.bin` file initially being available? Assuming the user has downloaded the devkit tar.gz into the root dir, can't the `ImageNet` constructor call `parse_devkit_archive()` if the `meta.bin` file doesn't exist? I'm pretty sure that would create it and then everything else would just

[2020-01-13 05:53] shaoboc-lmf opened #1741 "The exported Mask-RCNN onnx model is not correct"
### Bugs in the exported onnx model
I was thinking that Mask-RCNN to onnx is already pipe cleaned according to the [comments](https://github.com/pytorch/pytorch/issues/22960#issuecomment-566170464).  Also, I saw torchvision has test code in [here](https://github.com/pytorch/vision/blob/master/test/test_onnx.py#L263) that covers different parts of mrcnn . But when I try exporting the model myself,

[2020-01-13 08:55] parrykhai commented on #607
yeah, I got the same error, but when I ran the command again it worked...

[2020-01-13 12:00] pmeier commented on #1647
@collinmccarthy

The functionality you describe is already implemented

https://github.com/pytorch/vision/blob/61763fa955ef74077a1d3e1aa5da36f7c606943a/torchvision/datasets/imagenet.py#L40-L54

I think these problems arise because the users don't know that there is a `devkit` and thus don't download it or know there is a `devkit` but think they don't need it. This was no issue when we could downlo

[2020-01-13 12:21] fmassa commented on #607
This error is probably due to a corrupted download, deleting the old file and running the code again should fix it.

As there has been no more activity for more than 1 year, I'm closing this issue.

[2020-01-13 12:21] #607 closed

[2020-01-13 13:46] shaoboc-lmf commented on #1741
Okay, The clip bbox bug turns to be more funny. It turns out that the `torch.clamp` 's `min`, `max` argument are always traced as contant, even if I passed a tensor to it.

The script I used to test the `clamp` function
[code]
If we use `torch.clamp`, the `upper_bound` will not be traced, the result `onnx session` only have the `input` input.
If we use `torch.min`, we'll get 2 inputs: `input`, `up

[2020-01-13 13:47] fmassa commented on #1706
@janstrohbeck Thanks for the detailed report!

After digging a bit further, there seems to be a couple of issues. The first one is [that `torch.onnx.operators.shape_as_tensor` doesn't take the device of the original tensor into account](https://github.com/pytorch/pytorch/blob/bcb0bb7e0e03b386ad837015faba6b4b16e3bfb9/aten/src/ATen/native/TensorShape.cpp#L31), so that https://github.com/pytorch/visi

[2020-01-13 13:48] #1721 closed

[2020-01-13 14:01] fmassa commented on #1741
Thanks a lot for the very detailed bug report!

Let me have a closer look at the issues you are pointing out and get back to you.

cc @lara-hdr for visibility

[2020-01-13 16:20] fmassa commented on #1738
Thanks for the bug report!

This should be fixed in https://github.com/pytorch/vision/pull/1745

[2020-01-13 16:25] fmassa commented on #1740
Hi,

This will be fixed in https://github.com/pytorch/vision/pull/1733

But note that it might be preferable to pass an input which is valid to the ONNX exporter, as there are still some rough edges with the ONNX exporter for Mask R-CNN, see https://github.com/pytorch/vision/issues/1741

[2020-01-13 17:31] #1738 closed

[2020-01-13 17:37] muna-cs commented on #1520
it is working well now
Thank you

[2020-01-13 19:25] jerryzh168 commented on #1729
cc @raghuramank100

[2020-01-13 22:48] 1e100 commented on #1676
Another tidbit for someone interested in practical applications of MNV3: it looks like disabling biases on convolutions in SE block improves detection mAP a bit. That is probably why Google's own detection model they've released does not have biases there. I've discovered this accidentally, and then confirmed by viewing the "official" detection model in Netron.

Classifiers benefit quite heavily f

[2020-01-13 23:05] neginraoof commented on #1741
cc @fmassa
I've created the PR for ONNX to address the issue with split:
https://github.com/onnx/onnx/pull/2544

[2020-01-14 00:42] shaoboc-lmf commented on #1741
Sorry, I'm not sure I understand the PR correctly, why the "zero length split" could fix the "constant length split issue" I mentioned in this thread?

[2020-01-14 05:11] ramcandrews commented on #1712
I see your error message has more information than mine did.

I didn't have this bit #Use version instead.
version = _version.version

[2020-01-14 08:32] shaoboc-lmf commented on #1741
Hi, I found ways to WAR the issues in the region proposal netowrk(rpn.py). Currently I only focus the batch size = 1 case, so the `dynamic_axes` is set to `height` and `weight`, `batch_size` is not considered. But I saw unscripted for loop which depends on the # of images in the batch. So we need more efforts to enable the `dynamic_axes` on `batch_size` case.

These are just quick ugly WARs, I'm s

[2020-01-14 12:07] fmassa commented on #1741
@shaoboc-lmf thanks for the patches!

They look generally good, but some work would still be needed to ensure that torchscript is supported as well.
This would involve separating out ONNX-specific imports into functions and annotating them with `@torch.jit.unused`.

Would you be able to send an initial PR? It would be very helpful!

[2020-01-14 14:08] #1716 closed

[2020-01-14 14:10] fmassa commented on #1716
Thanks a lot for the PR @Gokkulnath !

[2020-01-14 14:50] fmassa commented on #1676
Hi all,

Sorry for the delay in replying, was on holidays and then was busy with a few other things.

I think a hook-based implementation for detection, as mentioned by @rwightman would be a good way of doing it, but that should be done independently on adding the classification model.
Another thing that could be done in the future is what I've proposed in https://github.com/pytorch/pytorch/issues

[2020-01-14 18:25] neginraoof commented on #1741
Sorry, my bad. This is the wrong thread.

[2020-01-15 06:32] shaoboc-lmf commented on #1741
Hi, @fmassa

I have created an initial PR for the mrcnn's region proposal network. See #1749.

[2020-01-15 08:13] digantamisra98 commented on #1712
When will the new TorchVision version containing the fix for Pillow dependency be out. My build via CircleCI is failing due to the same? Can I force solve this for the time being?

[2020-01-15 09:08] hugovk commented on #1712
@digantamisra98 https://github.com/pytorch/vision/issues/1712#issuecomment-570535277

[2020-01-15 10:32] fmassa commented on #1712
@digantamisra98 expected release date is tonight

[2020-01-15 10:41] freaky1310 commented on #1712
I'm having the same issue with Pillow < 7.0.0 as well (I've tried 6.2.1, 6.2.0 and 6.0.0). Torchvision has been installed via pip (version 0.4.2)

[2020-01-15 10:44] fmassa commented on #1712
@freaky1310 for now, you can install a nightly version of torchvision following the information in https://pytorch.org/get-started/locally/ , but I would make sure that you are indeed using PILLOW 6, because my thinking is that Pillow 7 is the one being picked.

[2020-01-15 10:48] freaky1310 commented on #1712
@fmassa Yeah, you're right, I thought my libraries were read from the virtual env, but the were read from the base environment instead (where I had installed the 7.00 version). My bad, thanks!

[2020-01-15 11:42] fmassa commented on #1729
@robotcator can you clarify a few things:
- how many GPUs do you use for training the quantized model?
- We should support multi-gpu training, how do you launch it?
- about the convergence, @raghuramank100 might be better suited to explain

[2020-01-15 14:06] robotcator commented on #1729
@fmassa  Thank you for your response.
1: I use 8 GPUs on a single node.
2: I use torch.distributed.launch method to launch the training script.
3: About the convergence, I am not sure the result trains with multi-GPU or not, so I don't know whether the different training script will result in different convergence.

Here, I have some facts about my experiment.
1: I download the imagenet_1k dataset

[2020-01-15 15:01] omizonly opened #1751 "module 'torchvision' has no attribute 'ops'"
torchvision. ops implements operators that are specific for Computer Vision. Those operators currently do not support TorchScript. Performs non-maximum suppression (NMS) on the boxes according to their intersection-over-union (IoU)

output[image_i] = pred[torchvision.ops.boxes.batched_nms(pred[:, :4], pred[:, 4], c, iou_thres)]

AttributeError: module 'torchvision' has no attribute 'ops'

[https:/

[2020-01-15 18:45] fmassa commented on #1751
Hi,

You are using an old version of torchvision. `ops` is available since version 0.3.0.
You can check your version by doing `torchvision.__version__`.

You can update to a newer version of torchvision (and PyTorch) following the instructions in https://pytorch.org/get-started/locally/

[2020-01-15 18:45] #1751 closed

[2020-01-15 19:11] prasadheeramani commented on #1712
I have solved by modifying `functional.py` and `__init__.py` which are mentioned in error message.[Error][1].

Modify `from PIL import Image, ImageOps, ImageEnhance, PILLOW_VERSION` to `from PIL import Image, ImageOps, ImageEnhance, __version__` in `functional.py` approx line number 5.

Modify `PILLOW_VERSION = __version__ = _version.__version__` to `__version__ = __version__ = _version.__version_

[2020-01-15 19:21] fmassa commented on #1725
I believe this has been fixed in latest nightly with https://github.com/pytorch/vision/pull/1728.

Please let us know if you still face this error

[2020-01-15 19:21] #1725 closed

[2020-01-16 06:39] MrGrayCode opened #1754 "Misplaced function description"
The description of the function arguments seem to be misplaced in the MaskRCNNHeads implementation.
https://github.com/pytorch/vision/blob/add2ecc75121d324a037435700b5236821831b75/torchvision/models/detection/mask_rcnn.py#L220-L227

[2020-01-16 08:12] digantamisra98 commented on #1712
@fmassa is the release out yet?

[2020-01-16 08:18] hugovk commented on #1712
Yes, [torchvision v0.5.0](https://github.com/pytorch/vision/releases/tag/v0.5.0) has been released with the fix:

1. Require `torchvision>=0.5.0`
2. If Pillow was temporarily pinned, remove the pin

[2020-01-16 08:39] yashnv opened #1755 "[Update Request] Release v0.5.0 still versioned as v0.5.0a0"
[Here](https://github.com/pytorch/vision/blob/v0.5.0/setup.py#L33)

[2020-01-16 08:51] peterjc123 opened #1756 "Nightly build failure on Windows"
Starting from Jan.11, the nightly build started to fail. (commit: 61763fa)
See https://dev.azure.com/pytorch/778b86d3-09b9-4636-a34b-315646862684/_apis/build/builds/18418/logs/122.

[2020-01-16 09:43] Esaada opened #1757 "Torchvision Resnet 50 accuracy"
Hey, Pytorch’s (torchvision) Resnet 50 accuracy is declared to be 76.15.
But when I’m using the training script from PyTorch’s repo, which is mentioned in the official torchvision website(https://pytorch.org/docs/stable/torchvision/models.html#classification):
[https://github.com/pytorch/examples/blob/master/imagenet/main.py]
and the Resnet50 from torchvision:
[https://github.com/pytorch/vision/bl

[2020-01-16 10:43] frgfm opened #1758 "[jit] torch.jit.script RuntimeError on modified MaskRCNN"
## 🐛 Bug

Hello,

Apparently modifying a scriptable architecture (modifications working perfectly both for inference and training), in this case `maskrcnn_resnet50_fpn`, makes it unscriptable.

Initially, I tried this, since in script mode, `GeneralizedRCNN` returns both the loss_dict and detections, which I was after. But in the process, I ran into this `torch.jit.script` error.

I understand thi

[2020-01-16 15:08] Jarei002 opened #1759 "..functional.rotate() arguments broke with 0.5 update"
Hey, I just did a fresh install of Pytorch and torchvision on a clean ubuntu 18.04 os.

When I run my code, I get the following Error message
`TypeError: function takes exactly 1 argument (3 given)`
even though i did not change my code.
`torchvision.__version__`= 0.5.0
`pytorch.__version__`=1.4.0

Running the same code on an older machine (0.4.2 and 1.3.1 respectively) works without an issue, I gu

[2020-01-16 16:08] pmeier commented on #1759
Thanks for the report. Indeed

https://github.com/pytorch/vision/blob/add2ecc75121d324a037435700b5236821831b75/torchvision/transforms/functional.py#L726-L729

causes the error. I will investigate this tomorrow and send a fix.

---

For your next bug report, please post the full stack trace. That makes it easier for us to investigate where the error might originate from.

[2020-01-16 16:22] fmassa commented on #1759
Hi,

This error happens because you have an old version of Pillow. If you update pillow, this should work.

@pmeier we should add a compatibility fix for older versions of PIL, and add a test (which was missing before)

[2020-01-16 16:25] fmassa commented on #1759
FYI, `fillcolor` is present in Pillow 6, but not in Pillow 5

[2020-01-16 17:06] fmassa commented on #1757
Hi,

Can you share the code you are using to train the model? I suspect that you are passing the `--pretrained` flag to the training code, which starts the model from pre-trained weights

[2020-01-16 17:10] fmassa commented on #1758
Thanks for the bug report!

cc @eellison this error seems unexpected as an error, as the model should be equivalent to `faster_rcnn`, which works in torchscript.

[2020-01-16 17:16] eellison commented on #1758
Yea, looks like a bug. I'll take a look

[2020-01-16 17:16] fmassa commented on #1755
This should have been fixed in https://github.com/pytorch/vision/pull/1717

@soumith did you build the binaries from the branch in #1717 ?

[2020-01-16 17:18] soumith commented on #1755
yes that's how i built it

[2020-01-16 17:32] soumith commented on #1755
that line is irrelevant, as we reset the version here: https://github.com/pytorch/vision/blob/v0.5.0/setup.py#L44

[2020-01-16 17:51] #1755 closed

[2020-01-16 19:19] BattashB commented on #1757
I tried multiple ways, but the straight way is exactly the same as the script I mentioned:
https://github.com/pytorch/examples/blob/master/imagenet/main.py

You asled about the pretrained part:
`   if args.pretrained:
        print("=> using pre-trained model '{}'".format(args.arch))
        model = models.__dict__[args.arch](pretrained=True)
    else:
        print("=> creating model '{}'".format

[2020-01-16 19:24] Esaada commented on #1757
I tried multiple ways, but the straight way is exactly the same as the script I mentioned:
https://github.com/pytorch/examples/blob/master/imagenet/main.py

You asled about the pretrained part:
`   if args.pretrained:
        print("=> using pre-trained model '{}'".format(args.arch))
        model = models.__dict__[args.arch](pretrained=True)
    else:
        print("=> creating model '{}'".format

[2020-01-16 19:29] pmeier commented on #1759
@fmassa

I don't think this is the issue here. The problem is that we always convert a scalar into a tuple of 3. From the [official documentation](https://pillow.readthedocs.io/en/stable/releasenotes/5.0.0.html#api-additions):

The [documentation of `Image.new`](https://pillow.readthedocs.io/en/stable/reference/Image.html#PIL.Image.new) states:

Apart from that I agree that we should add a compati

[2020-01-16 20:04] dataframing opened #1762 "README out of date re: torch compatibility"
Under the README's [Installation section](https://github.com/pytorch/vision#installation) it states:

This doesn't seem to be true as of 0.5.0. In a clean environment:

[code]

This seems related to https://github.com/pytorch/vision/issues/1257. Is this intended? Thanks.

**Update:** it seems like this is intended as per https://github.com/pytorch/vision/pull/1717. Maybe that PR should also update

[2020-01-16 21:18] Jarei002 commented on #1759
Okay, here is the complete stack trace:
[code]

The current PIL version is 7.0.0.

As seen from the stack trace, `fill=(0),` did not fix the issue.

Thanks for the quick responses so far.

[2020-01-16 21:22] pmeier commented on #1759
You missed a comma there. It should be  `fill=(0,)` and not `fill=(0)`. With that comma you create tuple with a single element. This circumvents the buggy code. Without it the parentheses are just used for priority and simply removed (`0 == (0)`)

[2020-01-16 21:34] Jarei002 commented on #1759
Astonishing that things work when they are done right. Somehow the comma moved outside the parantheses, works now. Thanks again.

As a general question, should I close this issue now, or is this done by someone else at later stages once the actual fix is implemented?

[2020-01-16 21:41] pmeier commented on #1759
You don't need to close it manually. If the PR I send gets merged, this issue will be closed automatically. Until then its good to be open so others know that this is still worked on.

[2020-01-17 10:13] hgaiser opened #1765 "Incorrect anchor computations"
While working on https://github.com/pytorch/vision/pull/1697 I was checking the anchor generation and noticed an error in the computation. The centers of the anchors should be at half the size of the stride of the anchors, but the centers are currently at the top left corner.

An example makes this more clear. I have generated anchors for an imaginary image of size `(512, 512)`. The top left ancho

[2020-01-17 10:29] rronan commented on #1598
Hi,
Do you plan to support these negative samples during training? By filtering the images beforehand, I get  a lot of false positive detections during inference, when the input image in empty.
Without this feature I need a second model to classify empty images, sharing the same backbone (or you think of another workaround?).
Thanks

[2020-01-17 10:32] fmassa commented on #1765
Hi,

Thanks for opening the issue, this is a great question!

The anchors, while not exactly equal to the original ones from Detectron, yields statistically identical results compared to the ones from Detectron.
Indeed, the anchors in Detectron are more complicated than they should be, and for no real good reason.
In order to simplify and make as clean as possible the current implementation in tor

[2020-01-17 10:39] fmassa commented on #1757
There can be slight variations of the model accuracy during training, and this could be due to that.
Plus, if I remember correctly, when the resnet models were trained (not by me), there was a post-process step that was done to recompute the batch norm statistics. This means that doing some extra fine-tuning steps could potentially change the results a bit.

Given the above, I'm closing this issue

[2020-01-17 10:39] #1757 closed

[2020-01-17 10:41] hgaiser commented on #1765
Agreed, I assume the network will learn to compensate for any incorrect creation of anchors (plus, deep learning regression values are a bit fuzzy anyway ;) ).

Hmm I don't necessarily agree that the current implementation makes the anchor generation simpler. It's still pretty complex in my opinion.

Heh cool, didn't know that issue got referenced in the Detectron code :)

To be honest I completel

[2020-01-17 10:46] fmassa commented on #1762
Yes, the README is outdated, it now requires PyTorch 1.4 or newer. Can you send a PR improving the README?

[2020-01-17 10:50] fmassa commented on #1765
Well, [comparing the previous implementation](https://github.com/facebookresearch/maskrcnn-benchmark/blob/57eec25b75144d9fb1a6857f32553e1574177daf/maskrcnn_benchmark/modeling/rpn/anchor_generator.py#L220-L289) with the current one https://github.com/pytorch/vision/blob/c5e972a6ba839d7bbd1154f8047b48fc8bbb7e7d/torchvision/models/detection/rpn.py#L77-L88 seems to me that just for generating the base

[2020-01-17 10:50] #1765 closed

[2020-01-17 10:52] fmassa commented on #1754
Oh, good catch!
Could you send a PR fixing the documentation?

[2020-01-17 10:57] fmassa commented on #1756
I suspect the failure in torchvision is due to a change somewhere in PyTorch, because there has been no changes in torchvision C++ files since then that could potentially be the culprit.

[2020-01-17 13:31] hgaiser commented on #1765
Hah yes, fair enough. What I had in mind was the current implementation compared to what it would be with adjustments to correctly compute the anchors. It is definitely a lot better (cleaner) than the old implementation!

[2020-01-17 18:17] dataframing commented on #1762
@fmassa Sure thing! I've opened #1767. Thanks 👍

[2020-01-17 18:53] zou3519 opened #1769 "When building with CUDA, parts of the codebase are built with -O0"
Please correct me if I'm wrong, but I was reading the setup.py for torchvision and it looks like when it is compiling with CUDA on, any cpu code is compiled with -O0
https://github.com/pytorch/vision/blob/f922916091dcc2cd71135681d1ddc1a530a872e6/setup.py#L106-L118 .

Why is this the case?

[2020-01-17 20:31] fmassa commented on #1769
@zou3519 great question! I've asked myself the same question in https://github.com/pytorch/vision/commit/684c064c237da67ba24a24ac7e1212a56fd4a9fe#r33631158
@soumith any thoughts?

[2020-01-17 22:02] soumith commented on #1769
seems like a bug, please remove

[2020-01-17 22:15] zou3519 commented on #1769
https://github.com/pytorch/vision/pull/1770 fixes this

[2020-01-18 04:41] Dustray opened #1771 "I need torchvision.layer (0.2.0, branch layers), but '_C' not found"
There is no '\_C' in torchvision\\\_\_init___.py
How to run it?
# Error:
 File "C:\Users\Vivinia\Desktop\vision\torchvision\layers\nms.py", line 2, in <module>
    from torchvision import \_C
ImportError: cannot import name '\_C' from 'torchvision' (C:\Users\Vivinia\Desktop\vision\torchvision\\\_\_init___.py)

[2020-01-18 05:26] peterjc123 commented on #1756
https://github.com/pytorch/vision/blob/master/torchvision/csrc/vision.cpp#L20 Maybe we should add a `PyInit__C` function here?

[2020-01-18 09:41] fmassa commented on #1771
`_C` has been replaced by a PyTorch custom op. Update your torchvision install to 0.5.0 and things should work fine

[2020-01-18 09:43] fmassa commented on #1769
Fixed via https://github.com/pytorch/vision/pull/1770, tha is Richard for sending the fix!

[2020-01-18 09:43] #1769 closed

[2020-01-18 10:49] fmassa commented on #1756
Maybe, but I wonder what has changed since https://github.com/pytorch/vision/pull/1348 , so because CI was passing back then.
Could you try sending a PR to see if it fixes it?

[2020-01-19 15:23] talcs opened #1773 "MobileNet's `x = x.mean([2, 3])` operation should be replaced by `nn.AdaptiveAvgPool2d((1,1))`"
Hello,

I've recently dealt with exporting trained MobileNet-V2 models from Pytorch to ONNX (and then to Keras).

Background:

* `x = x.mean([2, 3])` is actually a `GlobalAveragePooling2D` operation.
* It is performed in the MobileNet-V2 `forward()` method.
* The abstract  `GlobalAveragePooling2D` operation exists in ONNX and in Keras.
* `nn.AdaptiveAvgPool2d((1,1))` is a way to mimic this operati

[2020-01-19 16:24] asears commented on #1756
Doesn't look like Windows version has been published to pypi?  https://pypi.org/project/torchvision/0.5.0/#files

Last release appears to be
https://pypi.org/project/torchvision/0.4.1/#files

[2020-01-19 16:42] peterjc123 commented on #1756
@asears Your issue doesn't seem to be related to mine. Would you please open a new one?

[2020-01-19 18:01] prajjwal1 commented on #1688
Closing this, both the PRs got merged. Thanks @fmassa for your support.

[2020-01-19 18:01] #1688 closed

[2020-01-19 18:32] asears opened #1774 "Pytorchvision 0.5.0 not published to pypi or Conda for Windows"
The integration with PIL 7.0 VERSION API change is breaking some dependencies. I can see these are fixed in Linux / Mac releases.

Doesn't look like Windows version has been published to pypi? https://pypi.org/project/torchvision/0.5.0/#files

Last release appears to be
https://pypi.org/project/torchvision/0.4.1/#files

References #1759 #1712 #1718 #1726

[2020-01-19 18:33] asears commented on #1756
Added #1774

[2020-01-19 21:52] frgfm opened #1775 "[models] Suggestion of GeneralizedRCNN forward output"
## 🚀 Loss computation in eval mode

Even in `eval` mode, if the user passes targets to the `forward` method, return (or store) the loss dictionary in addition to the detections.

## Motivation

Recently, I made a quick training script for MaskRCNN on a different dataset. And since I usually look at training and validation loss evolution over epochs to spot potential overfit, I check how I could ge

[2020-01-20 03:22] qfgaohao opened #1776 "transforms.functional.rotate doesn't work for grayscale images"
When applying the function on grayscale images, it throws the following error:

 packages/torchvision/transforms/functional.py", line 729, in rotate
    return img.rotate(angle, resample, expand, center, fillcolor=fill)
  File "/home/xxx/local/anaconda3/envs/th/lib/python3.7/site-packages/PIL/Image.py", line 2023, in rotate
return self.transform((w, h), AFFINE, matrix, resample, fillcolor=fillcolo

[2020-01-20 03:23] peterjc123 commented on #1774
cc @soumith

[2020-01-20 03:27] peterjc123 commented on #1774
It is published to Anaconda Cloud, but not PYPI.
https://anaconda.org/pytorch/torchvision
https://pypi.org/project/torchvision/0.5.0/#files

[2020-01-20 06:12] SiewLinYap commented on #1712
@hugovk Initially having the ImportError: cannot import name 'PILLOW_VERSION' from 'PIL', after update with Pytorchvision 0.5.0 as mentioned above, another error occurs as ImportError: cannot import name '_HAS_OPS' from 'torchvision.extension', any suggestion how to fix that..?

<img width="1036" alt="Screenshot 2020-01-20 at 2 10 21 PM" src="https://user-images.githubusercontent.com/35646492/7270

[2020-01-20 10:28] pmeier commented on #1776
Duplicate of #1759

[2020-01-20 18:59] soumith commented on #1774
The windows version of torchvision (and pytorch) were never uploaded to PyPI. The Windows PyTorch version exceeds the binary size limits, and hence we cant upload it.
Because torchvision depends on the pytorch package, it wont make sense to upload just the torchvision Windows package to PyPI, as a `pip install` will surely fail.

I suggest that in your requirements.txt you add something like this:

[2020-01-20 18:59] #1774 closed

[2020-01-20 21:10] asears commented on #1774
@soumith can someone request a package increase and deploy to pip?  Could this issue be reopened as it's still not published to PyPI.

It was previously deployed to pip so size limitation shouldn't be an issue.

[2020-01-20 23:08] soumith commented on #1774
Okay, I am wrong in the sense that, I didn't notice that we pushed 0.4.1 Windows binaries to torchvision pip -- we shouldn't have.
If we shouldn't have, but we did, might as well do 0.5.0.

I've uploaded torchvision 0.5.0 to PyPI now, and updated our release runbook to do so in the future.

the `torch` package which `torchvision` depends on will not be uploaded for Windows, until if and when we fi

[2020-01-21 15:14] asears commented on #1774
What's the current size / limit?  How many people do you need working on Windows? 👎

The size request can be done here.
https://github.com/pypa/warehouse/issues

See
https://github.com/pypa/packaging-problems/issues/245
https://github.com/pypa/packaging-problems/issues/86

Thanks for fixing up torchvision!

[2020-01-21 15:50] PHDPeter commented on #1338
Hi
So to be clear if I have a len(video.shape)=4 then the output is "channels last" correct?
if so which of the two functions above should I use to change the size to len(video.shape)=3 ?
(i.e. should I used ToFloatTensorInZeroOne(object) or to_normalized_float_tensor(vid) 0
Sorry if this a very new question, I am just starting out with pytorch ect
Thanks

[2020-01-21 18:56] soumith commented on #1774
the size limit right now is 750MB, and we already asked for way too much, compared to everyone else. If you see pypa/packaging-problems, you will find issues that I filed. The windows binaries are larger than 750MB

[2020-01-21 23:42] eellison commented on #1758
Follow https://github.com/pytorch/pytorch/issues/32469 for progress

[2020-01-22 04:08] peterjc123 commented on #1774
Actually, when I inspected the package carefully, most of the size is taken up by the CUDA DLLs, which is nearly 400M. So if pypi provides a global package for cudatoolkit like conda, then the size of our Windows package can be greatly decreased. Alternatively, we may do it on our own and create a new package called `torch-deps` and move all the dependencies (like CUDA) into it. What do you think?

[2020-01-22 05:09] peterjc123 commented on #1756
Well, I think I figured out what happened here. It was caused by the removal of the static library `_C.lib` at the PyTorch side in https://github.com/pytorch/pytorch/pull/31161. Before that change is merged, building `torchvision._C` uses the init function `PyInit__C` from PyTorch, which is actually not correct. We should define our own version of that.

[2020-01-22 09:14] barrh opened #1780 "Python 3.8 compatibility"
I've noticed that when `pip install torch torchvision` with Python v3.8, the following is installed: torch v1.4, torchvision v0.2.2.post3.
Trying to install v0.5 of torchvision specifically fails for no matching distribution found.
"ERROR: Could not find a version that satisfies the requirement torchvision==0.5 (from versions: 0.1.6, 0.1.7, 0.1.8, 0.1.9, 0.2.0, 0.2.1, 0.2.2, 0.2.2.post2, 0.2.2.pos

[2020-01-22 11:13] emericit opened #1782 "Illegal instruction (core dumped) with some pretrained models (but not all)"
Hello,

I have a strange issue when loading some pretrained models. On loading, some models abort and give an "illegal instruction" message, like below:
[code]

But with other models, everything runs smoothly. The following code
[code]
outputs a nicely loaded model:
[code]

Running Python 3.7.5 on a CPU only Ubuntu machine with the following versions:
PyTorch Version:  1.4.0+cpu
Torchvision Versio

[2020-01-22 12:03] bmanga opened #1783 "[bug?] Failed to script mask-rcnn model"
Hi, when I try to script the model I get the following traceback (pytorch 1.4.0, torchvision 0.5.0):
[code]

Not sure if this is helpful, but trying to script it a second time instead results in the following:
[code]

[2020-01-22 13:13] pmeier commented on #1780
From the list of available versions, it seems we stopped supporting `python3.8` last year (somewhere between `torchvision==0.2.2` in Feb 2019 and `torchvision==0.3.0` in May 2019). I don't think there is anything special about `torchvision==0.5.0` not supporting it. If you have a look at the [official installation instructions](https://pytorch.org/get-started/locally/) `python3.8` is not listed as

[2020-01-22 15:39] soumith commented on #1774
yes, CUDA and NVIDIA refuse to provide one, I asked them several times.

[2020-01-22 15:40] soumith commented on #1774
`torch-deps` which only includes our DLLs is not okay. We dont have license to redistribute DLLs separately, we can only redistributed them with our package's binary bits.

[2020-01-22 15:41] soumith commented on #1774
the third way is not possible, as it's not clear that we will have a user-writeable folder available after the wheel is installed

[2020-01-22 16:05] peterjc123 commented on #1774
That's so sad. I think that's the best option for this problem. CUDA itself is free and public. I don't see the reason why they don't want to do this. DLL-only Libraries like MKL are already available, so it is also acceptable at the PyPI side.

[2020-01-22 17:37] a-maci commented on #1722
Any update on this?

[2020-01-22 19:20] apollack-novetta commented on #1712
This worked for me. Was having the issue with `pillow==6.1`, `torchvision==0.4.2`.

[2020-01-22 20:43] #1759 closed

[2020-01-22 20:46] fmassa commented on #1782
Hi,

Can you run the code under gdb and paste the output?
So, it would consist of writing the following file
[code]
and then run from the command line
[code]
once it starts, run
[code]
and when you get the segfault, do
[code]
and paste the result here. It will help us identify the problem

[2020-01-22 20:47] #1756 closed

[2020-01-22 20:48] fmassa commented on #1756
Thanks a lot for the investigation and the fix @peterjc123 !

[2020-01-22 20:51] fmassa commented on #1780
We still have some build issues with Python 3.8, which haven't been fixed yet, but once they are we will provide packages for those, see https://github.com/pytorch/vision/pull/1731

[2020-01-22 20:53] fmassa commented on #1762
Fixed via https://github.com/pytorch/vision/pull/1767 , thanks @dataframing for the fix!

[2020-01-22 20:53] #1762 closed

[2020-01-22 20:56] fmassa commented on #1773
Hi,

Thanks for opening the issue and for the discussion!

Among the points you mentioned, I think that the one that convinced me the most is the dimension ordering NHWC <-> NCHW. We are still working on supporting other memory layouts in PyTorch, but I think this is a fair point.

Can you send a PR changing the `x.mean([2, 3])` with `AdaptiveAvgPool2d(1)`?

[2020-01-22 22:28] talcs commented on #1773
Thank you for the response!

If additional memory layouts are going to be available, then using the abstract operation is definitely the correct choice over explicit, hardcoded dimension indices.

I'm not very familiar with the issue system. How can I open a PR as you're asking?

[2020-01-23 08:45] bmanga commented on #1782
Hi, I had the same problem, and I solved it by compiling torch and torchvision myself.
This happened running on an older cpu without avx support. Was avx enabled by default recently?

[2020-01-23 12:19] IvonaTau commented on #1759
I still get the error with `transforms.RandomRotation(10, fill=(0,)),`:

[code]

`torchvision.__version__ == 0.5.0`
`PIL.__version__ == 7.0.0`

[2020-01-23 15:02] pmeier commented on #1759
Could you please post your complete code? A quick test by me run without any error

[code]

[2020-01-23 17:01] frgfm opened #1786 "[models] Add __repr__ attribute to GeneralizedRCNNTransform"
## 🚀 Feature
Adding a `__repr__` attribute would allow the user to check resize and normalize parameter easily.

## Motivation
During a training using `FasterRCNN`, I forgot to set the `min_size` and `max_size` argument in the constructor. Unfortunately, my training set only has squared images and with lower dimensions than the default values. When I printed the model for debugging, `GeneralizedRC

[2020-01-24 02:04] sachinparyani commented on #1714
Thank you!

[2020-01-24 12:02] breznak opened #1788 "Add deformable convolution DCNv2 support"
Recently there was a great PR :+1: adding deformable convolution support DCN (v1) support to this repo. Meanwhile improved version DCNv2 appeared, so I'd like to support that.

- The original DCN PR could be used as a referemce https://github.com/pytorch/vision/pull/1586  https://github.com/pytorch/vision/pull/1586#issuecomment-578097642
- port code from `mmdetection` or https://github.com/pytorch

[2020-01-24 19:54] eellison commented on #1758
@frgfm this has been fixed on master

[2020-01-24 19:54] #1758 closed

[2020-01-25 01:18] ginobilinie commented on #9
Yes, the main issue is if you use transforms.compose, then the __call__ function of your transform operation can only take two positional arguments, one is self, another can be a tuple, for example, (img, gt). But it seems it can accept more than 1 returns.

[2020-01-25 10:00] dvolkhonskiy opened #1791 "Contribution: select classes in UCF101 dataset"
Hello.

I would like to contribute to your repository. I want to add the opportunity to select classes to load for the UCF101 dataset.

What do you think of this feature?

cc @pmeier @bjuncek

[2020-01-25 12:19] cl2227619761 commented on #1725
Fixed! thank you so much!

[2020-01-25 21:30] nikhilshinday commented on #1706
Unsure of whether or not this is coincidental, but I successfully exported the model to ONNX while the model was on the CPU. When serving the ONNX model in a TensorRT server, the model mostly evaluates on the CPU even though the server supposedly loads the model onto the GPU. I know this because, while evaluating, my CPU goes to almost 100% while my GPU utilization remains below 10%.

Could this b

[2020-01-26 09:22] fmassa commented on #1566
@ahirner can you send a PR fixing the docker in torchvision?

Also, cc @seemethere for awareness

[2020-01-26 18:27] frgfm commented on #1758
Thanks a lot @eellison!

[2020-01-27 05:38] nCheck commented on #1712
This was enough!, thanks

[2020-01-27 10:54] fmassa commented on #1775
Hi,

Thanks for the feedback, I agree that this is something that should be improved.

I like your proposal, and I believe this is not a BC-breaking change, right?

In the future, I would go one step further: I think that we should always return `loss, detections`, in the model, at least some point in the future. This will be a BC-breaking change, so I'd like to think twice about it before committ

[2020-01-27 10:57] fmassa commented on #1786
Totally agree, could you send a PR implementing this?

The other things that i does do not have parameters (at least not exposed to the user, like `size_divisible`), so I'd say that a `__repr__` like you propose is enough

[2020-01-27 11:02] fmassa commented on #1783
Hi,

Could you double-check that you have the correct versions of PyTorch and torchvision installed?

Also, could you please copy and paste the output from our
[environment collection script](https://raw.githubusercontent.com/pytorch/pytorch/master/torch/utils/collect_env.py)
(or fill out the checklist below manually).

You can get the script and run it with:
[code]

 - PyTorch Version (e.g., 1.0)

[2020-01-27 12:58] emericit commented on #1782
Hello,

thank you for your response. I compiled torch and torchvision, disabling SSE4 support with -DENABLE_SSE4=0. But the problem remains.

The backtrace is below:

Thread 1 "python" received signal SIGILL, Illegal instruction.
0x00007ffff0772fcc in THFloatVector_normal_fill_AVX2 () from /opt/conda/lib/python3.7/site-packages/torch/lib/libtorch_cpu.so
(gdb) bt
#0  0x00007ffff0772fcc in THFloatVe

[2020-01-27 13:23] fmassa commented on #1782
Hi @emericit

Thanks for the backtrace, this seems to be a problem with PyTorch itself, and not with torchvision.
Seems like your machine doesn't have the necessary set of instructions to run the PyTorch build that you are using.

Indeed, it seems that if you do something like

[code]
you might have the segfault as well.

This is actually very close to be a duplicate of https://github.com/pytorch/

[2020-01-27 13:23] #1782 closed

[2020-01-27 13:35] fmassa commented on #1706
@nikhilshinday I don't know the answer to your question, maybe @lara-hdr knows it?

[2020-01-27 13:48] emericit commented on #1782
Hello @fmassa !
Thank you for your quick answer. It seems to be an issue with torch, you are right.
torch.randn works fine, though... (see screenshot below)
I suspect my processor doesn't support AVX. Do you know how to disable AVX when compiling Torch?

![image](https://user-images.githubusercontent.com/14910890/73179402-93518a00-4113-11ea-9906-364a52a928d0.png)

[2020-01-27 14:28] fmassa commented on #1782
The randn codepath for AVX might only get activated for large-enough inputs, see https://github.com/pytorch/pytorch/blob/c2c835dd95f192d1397877b94e615d13258126d9/aten/src/TH/vector/AVX2.cpp#L79 and https://github.com/pytorch/pytorch/blob/64de93d8e7c6ba085997b18bcf85681b330d9afb/aten/src/TH/generic/THTensorRandom.cpp#L88-L90, so maybe try with something like
[code]
I think this should crash this ti

[2020-01-27 14:29] fmassa commented on #1782
And about compiling without AVX2, I'm not sure, might be best to ask in the PyTorch issue I linked

[2020-01-27 15:57] emericit commented on #1782
You're right, it crashes with size 1024.
Thank you very much; I will ask on the PyTorch issue directly.

[2020-01-27 19:12] lara-hdr commented on #1706
@nikhilshinday, torch.onnx.export() does not track if the model was on CPU/GPU when exported, and the exported ONNX model should run on the device you specify regardless of if it was running on CPU/GPU when exported.
I am not sure why CPU utilization goes up when you load the ONNX model on GPU; do you know if the engine you are using the run the ONNX model fully supports running it on GPU?

[2020-01-28 00:21] os-gabe opened #1797 "Excessively long initialization time for Inception3"
Creating an instance of the `Inception3` class via `torchvision.models.inception_v3(pretrained=False)` or `torchvision.models.Inception3()` takes several minutes to complete.

It appears that all of the time is being spent here [here](https://github.com/pytorch/vision/blob/28b7f8ae219ede3cef93100251bfff75a9a53644/torchvision/models/inception.py#L111).

I believe this may be related to some change

[2020-01-28 00:43] os-gabe commented on #1797
I confirmed that rolling scipy from `1.4.1` back to `1.3.1` causes the issue to go away.

So this is not strictly a torchvision bug but it does mean that `Inception3` becomes somewhat unusable for people who upgrade scipy or install the current version from pip.

[2020-01-28 09:42] fmassa commented on #1797
@os-gabe one alternative, given that we don't really train inception from scratch, would be to remove the custom initialization based on scipy.

That would be a breaking change though.

[2020-01-28 15:59] os-gabe commented on #1797
Here is the scipy issue for reference https://github.com/scipy/scipy/issues/11299

[2020-01-28 17:28] h6197627 opened #1827 "Failed to register operator torchvision::_new_empty_tensor_op"
Trying to import
`import torchvision`
results in exception:

Torchvision version (built from source): 0.6.0a0+28b7f8a
PyTorch version (built from source): 1.4.0a0+7f73f1d

[2020-01-28 17:56] os-gabe commented on #1797
@fmassa what if the `Inception3` constructor took in an keyword argument to skip the random initialization? If the flag defaulted to `False` wouldn't this maintain backwards compatibility? This seems like a fairly nice solution in general since the random initialization is not needed when we just plan to load weights anyway.

[2020-01-28 19:06] fmassa commented on #1797
Yeah, we could do something similar to what we do in VGG https://github.com/pytorch/vision/blob/e130c6cca88160b6bf7fea9b8bc251601a1a75c5/torchvision/models/vgg.py#L26
with `init_weights`. Can you send a PR for inception?

[2020-01-28 19:07] fmassa commented on #1827
Hi,

You need a newer version of PyTorch to be able to compile latest torchvision (I had myself the same issue yesterday and an upgrade of PyTorch fixed it)

[2020-01-28 19:07] #1827 closed

[2020-01-29 10:06] fmassa commented on #1780
We now have CI support for Python 3.8 in #1731 and binaries as well thanks to https://github.com/pytorch/vision/pull/1717

[2020-01-29 13:51] peterjc123 opened #1830 "Windows nightly wheels build failed"
Error text:
[code]

[2020-01-29 18:04] fmassa commented on #1830
Thanks for the heads up @peterjc123 , I need to enable the builds of video_reader in the Windows CI machines as well.

cc @putivsky

[2020-01-29 18:21] fmassa commented on #1830
Temporarily reverting the offending PR in OSS master in https://github.com/pytorch/vision/pull/1833 in order to unbreak Windows builds.

Will get it merged again once we fix Windows issues

[2020-01-29 21:50] hartb opened #1835 "torchvision 0.4.2: test_adjust_saturation fails with pillow 7.0.0"
Test `test_adjust_saturation` creates an image from a small array and calls `torchvision.transorms.functional.adjust_saturation` to adjust the saturation to a couple different levels (0.5 and 2), and then compares the result to some hard-coded expected values.

Torchvision's `adjust_saturation` routine relies on `PIL.ImageEnhance` to do the actual work.

The results from `pillow`'s implementation

[2020-01-30 01:20] vinhngx opened #1836 "Contributor license agreement"
per title, do we have one?

[2020-01-30 03:48] peterjc123 commented on #1830
It uses the ffmpeg 4.1.3 package in the conda-forge channel.

[2020-01-30 15:59] daniel-j-h opened #1839 "Pre-built wheels unexpectedly changed their hashes in the last days"
When using pip to install the pre-build torchvision wheels you can specify a `--hash` option to let pip verify the wheel's integrity. The hash can be computed e.g. via `pip hash *.whl`.

I noticed the cpu and gpu wheel hashes for torchvision 0.5.0 on Python 3.6 changing in the last days.

https://download.pytorch.org/whl/cpu/torchvision-0.5.0%2Bcpu-cp36-cp36m-linux_x86_64.whl

[code]

https://down

[2020-01-30 18:58] #1797 closed

[2020-01-30 18:58] fmassa commented on #1797
Fixed with https://github.com/pytorch/vision/pull/1832

[2020-01-31 05:29] RafayAK opened #1841 "Building Torchvision for CUDA compute architecture 3.0."
I have successfully built PyTorch from source for my legacy hardware using the following build parameters:
`export USE_CUDA=1 USE_CUDNN=1 USE_MKLDNN=1 TORCH_CUDA_ARCH_LIST="3.0"`

Now when I try to build TorchVision `~/vision$ python setup.py install` I get the following error:
[code]

So, is there a way to build Torchvision for GPUs with CUDA compute 3.0 or can a simple pip install save me from t

[2020-01-31 08:19] LetsGoFir commented on #1263
how to use it?
`
import torchvision.references.segmentation.transforms
`
not work

[2020-01-31 08:47] pmeier commented on #1263
@LetsGoFir This cannot work since `references` is not part of the `torchvision` package. What @fmassa meant is that you can find examples on how to use the joint transforms in the file [`transforms.py`](https://github.com/pytorch/vision/blob/master/references/detection/transforms.py) which is located in the `references/detection` relative to the project root but not the package root.

If you have

[2020-01-31 14:22] IRDonch opened #1842 "Document the "scipy" extra"
Torchvision's `setup.py` defines a `scipy` extra that pulls in the `scipy` dependency that is needed by some of Torchvision's modules. This lets you use `torchvision[scipy]` as an argument to `pip install`, which is good, since it's a way to explicitly state that you're installing SciPy as a dependency of Torchvision.

However, this extra doesn't seem to be documented anywhere, so it's unclear whe

[2020-01-31 15:08] LetsGoFir commented on #1263
Thanks, I just copy it to my code and it works!

[2020-01-31 16:39] YoussefSaadYoussef commented on #1001
Hi @fmassa
How can I get the output of the roi_pool?

[2020-02-01 01:00] makeyourownneuralnetwork commented on #720
did this nn.View() ever get implemented upstream?

[2020-02-01 12:00] iromeo commented on #1712
`pytorch  1.4.0`, `pillow 7.0.0`, `torchvision 0.5.0` works ok for me, so instead of `pillow` downgrading to 6.x you could update `torchvision`:
[code]

[2020-02-02 02:15] makeyourownneuralnetwork opened #1844 "View for use inside Sequential"
The previous suggestion to have an official View(shape) for use inside nn.Sequential was closed without explanation or sufficient discussion.

https://github.com/pytorch/vision/issues/720

I believe there are good reasons implement this upstream, including:
- it avoids users implementing their own and making errors
- being able to see the shapes of tensor inside the nn..Sequential list which defin

[2020-02-02 10:02] peterjc123 opened #1845 "CMake scripts not working on Windows"
It reports that `python37.lib` is not found during linking. Maybe we need to do sth like `find_package(python)` to find out the path of the python library.

[2020-02-02 10:30] peterjc123 commented on #1841
Does adding `3.0` in this [line](https://github.com/pytorch/pytorch/blob/master/torch/utils/cpp_extension.py#L1010) helps?

[2020-02-02 12:48] RafayAK commented on #1841
@peterjc123 seems like that's where the problem is, but would I need to build Pytorch from source again for this to work correctly?

[2020-02-02 13:08] peterjc123 commented on #1841
No, you don't need to do that. Just apply the changes to /home/rafay/anaconda3/envs/pytorch-build/lib/python3.7/site-packages/torch/utils/cpp_extension.py.

[2020-02-02 14:41] makeyourownneuralnetwork commented on #720
@varunagrawal  I made a slight variation by adding a comma so it can cope with both tuples and simple integers as shapes. Seems to work in my limited testing  - feedback welcome.

[code]

[2020-02-02 16:41] clkotnik opened #1846 "Pillow Version 7.0.0 ValueError image is wrong mode"
I had a program running for awhile that used Image.resize(size) with defaults for other parms.  I installed the program on a new system with Pillow installed as default version 7.0.0.  The resize failed with Value Error image is wrong mode.

I removed Pillow and forced version 6.2.1 to install and the program works as before.

[2020-02-02 17:22] RafayAK commented on #1841
@peterjc123 Thanks a bunch it worked! Probably will also have to do something similar for Torchaudio

[2020-02-02 17:22] #1841 closed

[2020-02-03 10:07] pmeier commented on #1846
What version of `torchvision` are you using. The release of `pillow=7.0.0` broke `torchvision==0.4.2` (#1714), but it should be fine for the latest release (`torchvision==0.5.0`). If that is not the case, please post a small example how to reproduce your error.

[2020-02-03 16:12] fmassa commented on #1842
I agree. We haven't documented scipy (or `pycocotools`) because they are not hard-requirements, and only a few functions of torchvision depends on them.

But it might be good to document that somewhere, maybe in the functions that use them?

Can you send a PR improving the documentation?

[2020-02-03 16:16] fmassa commented on #1001
@YoussefSaadYoussef one easy way is to add a hook to get the output
[code]

[2020-02-03 16:17] fmassa commented on #1845
@bmanga could you have a look at this?

[2020-02-03 18:01] clkotnik commented on #1846
I do not use torchvision.

Here is a simplified example:

[2020-02-03 18:12] bmanga commented on #1845
@fmassa sure, I'll look into it.
@peterjc123 can you list the steps you executed? Did it happen when you were using the cmake config file?

[2020-02-03 18:13] clkotnik commented on #1846
Sorry, I seem to have drifted from Pillow to pytorch within github.  Please disregards, I posted this to Pillow.

[2020-02-03 18:13] #1846 closed

[2020-02-03 19:48] fmassa commented on #1839
@soumith do you know what might have happened?

[2020-02-03 22:14] frgfm commented on #1775
Happy that you are onboard @fmassa!

I can come up with a PR next week! Just to be sure, for the time being, what are you advising to output with the `GeneralizedRCNN.forward` method if the condition is met?

I agree that both the `loss` and `detections` should be returned, and here without changing the number of outputs, even if the `RoiHeads` and `RegionProposalNetwork` compute and return the lo

[2020-02-03 22:17] makeyourownneuralnetwork commented on #1844
this is my own adaption the one on issue 720 which adds a "comma" so it can take both integers as well as shape tuples

[code]

[2020-02-04 00:25] saareliad commented on #1827
By newer you mean the nightly version?
He already uses 1.4 (And I got the same problem with v1.4.0)

Which torchvision should we use with pytorch v1.4.0?

[2020-02-04 01:00] soumith commented on #1839
@daniel-j-h this is expected but accidental. We were building Python 3.8 binaries a few days after 1.4.0 release, and we inadvertently triggered all builds. Our build system is non-deterministic, and hence the hashes changed. The functionality in the wheel didn't actually change.

@seemethere and I will make sure this doesn't happen again, by making sure if we have any post-release builds, they ha

[2020-02-04 01:00] #1839 closed

[2020-02-04 01:00] soumith commented on #1839
to be clear, the hashes only changed for the wheels in https://download.pytorch.org/whl/ and not for the wheels on https://pypi.org/project/torch/

[2020-02-04 01:19] ferna11i commented on #1598
Hi @fmassa ,

Thanks for pointing out the code which we can use to filter the images that do not contain the object of interest.
Out of curiosity does this mean, the images in the test/validation sets that have only negative samples i.e. no objects will also be elimiated from the test/validation set?

[2020-02-04 03:20] peterjc123 commented on #1845
@bmanga https://discuss.pytorch.org/t/building-torchvision-c-api-from-source/68281/2?u=peterjc123

[2020-02-04 06:13] #1754 closed

[2020-02-04 07:47] chinglamchoi opened #1847 "Required range is confusing in torchvision.utils.save_image"
https://discuss.pytorch.org/t/float-vs-int-in-torchvision-utils-save-image/68596

[2020-02-04 10:57] bmanga commented on #1845
I have set up the project on windows and I also found another problem: Some cmake script, somewhere, sets`cudart_static.lib` to be in the non-existent `...\CUDA\v10.1\...` directory, while I have v10.2 installed. I had to manually adjust that in the generated msvc solution, but I'm not sure yet what the fix should be.

The python issues comes from [pybind11](https://github.com/pybind/pybind11/blob

[2020-02-04 12:16] daniel-j-h commented on #1839
Thanks for the explanation! :bow:

[2020-02-04 12:36] pmeier commented on #1847
From the [referenced community](https://discuss.pytorch.org/t/float-vs-int-in-torchvision-utils-save-image/68596) post by @chinglamchoi:

[code]

[code]

[2020-02-04 12:36] pmeier commented on #1847
The native "image data type" for `torchvision` is a `torch.FloatTensor` within the range `[0.0, 1.0]`. In your example this means you can eliminate the casting you performed and simply cast it to `torch.float`.

[code]

Here is a minimal working example:

[code]

[2020-02-04 19:34] isalirezag opened #1848 "training FCN and DeepLab for segmentation"
does PyTorch provide steps on how to use the deeplab or fcn for training a segmentation task?
if it already exists, where I can find it?

[2020-02-05 03:38] ljd16 opened #1849 "Failed to load fasterrcnn_resnet50_fpn by libtorch"
There is no detailed documentation on loading fasterrcnn_resnet50_fpn by libtorch.
I change the c++ code by following [[1407]](https://github.com/pytorch/vision/pull/1407#issuecomment-562096191)
[code]

- errors

[code]

- *.h files

[code]

These *.h files are copied from https://github.com/pytorch/vision/tree/v0.5.0/torchvision/csrc

- model saved code

[code]

- CMakeLists.txt

[code]

- envs

[2020-02-05 06:52] voldemortX commented on #1848
I believe you'll probably find what you need in the reference folder of this repo [here](https://github.com/pytorch/vision/tree/master/references/segmentation).

[2020-02-05 08:54] bjliuzp commented on #1845
@peterjc123
Hello, I can successfully compile the cpu version by following the above steps, but the following error is displayed when compiling the CUDA version. What should I do?
win10 + VS2017 + Libtorch1.4.0 + TorchVision0.5.0

严重性	代码	说明	项目	文件	行	禁止显示状态
错误	MSB3721	命令“"C:\Program Files\NVIDIA GPU Computing Toolkit\CUDA\v10.1\bin\nvcc.exe" -gencode=arch=compute_30,code=\"sm_30,compute_30\" -gencod

[2020-02-05 09:32] bmanga commented on #1845
@peterjc123 can you check if #1850 fixes your issue with `python37.lib`?

[2020-02-05 10:39] bmanga commented on #1849
@ljd16 have you tried installing the library and using the config package? You shouldn't need to copy the header files manually.

Here's a list of commands that should work (on linux):
* Ensure you have python development libraries (eg. `sudo apt install python3-dev`)
* Install [pybind11](https://github.com/pybind/pybind11) (not needed after #1850)
* Build and install torchvision:
[code]
* In your

[2020-02-05 10:42] bmanga commented on #1783
Sorry for the delay, here's the output:
[code]

[2020-02-05 11:23] #1847 closed

[2020-02-06 01:43] #1848 closed

[2020-02-06 02:17] isalirezag commented on #1443
@a-maci can you know with what code you're going to use that command line? which dataset? where is the file for train.py?

[2020-02-06 02:38] a-maci commented on #1443
Coco dataset with train.py in references/segmentation folder.

[2020-02-06 03:59] Santiago810 commented on #689
this issue also appear in linux,  the reason is the opened lmdb env can not be pickled

[2020-02-06 22:09] joefutrelle commented on #1827
I'm using PyTorch 1.4.0. During building torchvision (0.6.0a0+e2573a7) from source (using pip3) I see this message:

[code]

So it looks to me like torchvision depends on 1.4.0. Is that dependency not correct?

[2020-02-07 01:45] isalirezag opened #1853 "pretrain models for FCN and DeepLabV3"
Is it possible to provide the pretrain weight for deeplabv3 and FCN?
right now when i do:
`model = torchvision.models.segmentation.fcn_resnet50(pretrained=True)`
I receive this:

[2020-02-07 03:28] ljd16 commented on #1849
Thanks for you reply.
This is works on cpu, but still exists error on gpu.
[code]

- torchvision's CMakeLists.txt and `cmake version 3.13.0`

[code]
- Build and install torchvision:
[code]
- project's CMakeLists.txt:
[code]
- envs:
[code]

[2020-02-07 04:50] kentaroy47 opened #1854 "Clarify the quantization bits in the pretrained models?"
Thanks for the great work, and quantized pretrained models had been added in torchvision 0.5.
https://github.com/pytorch/vision/releases

torchvision now provides quantized models for ResNet, ResNext, MobileNetV2, GoogleNet, InceptionV3 and ShuffleNetV2, as well as reference scripts for quantizing your own model in references/classification/train_quantization.py (https://github.com/pytorch/vision/

[2020-02-07 08:15] bmanga commented on #1849
@ljd16 can you try adding `add_compile_definitions(WITH_CUDA)` to your project's cmake?

[2020-02-07 08:34] ljd16 commented on #1849
Great, it works!

[2020-02-07 08:34] #1849 closed

[2020-02-07 12:55] Robylyon93 opened #1856 "FasterRCNN ground truth boxes reference system"
Hi,
I'm trying to train a FasterRCNN on a custom dataset.
I have the ground truth bounding boxes in the [x1, y1, x2, y2] format, where:
- 0 <= x1 <= x2 <= H
- 0 <= y1 <= y2 <= W
- `H, W = img.shape` with img being loaded with cv2
With numpy, if I extract `img[x1:x2, y1:y2]`, it's the correct portion of the image.
Now, this seems to me the right way of formatting the boxes, since the documentation

[2020-02-07 13:30] YoussefSaadYoussef commented on #1001
Thanks a lot for your response @fmassa
the hook returned 1000 region proposals but  I would like to return the features only for the regions or boxes which selected at the end. specifically the mean-pooled convolutional features from these regions which have dimension D of 2048

[2020-02-07 15:40] joefutrelle commented on #1827
5ac5ab9ee83837faa81e7a104f5bd86b330c9fe6 seems to have introduced `_new_empty_tensor_op` which is the identifier that torch is complaining about.

[2020-02-07 23:50] seemethere opened #1857 "test_quantized_models.py times out within Nightly CI"
Currently the nightly pipelines are failing when running `pytest .` on the `test/test_ops.py` tests.

Example CircleCI Logs:
https://app.circleci.com/jobs/github/pytorch/vision/85108

Log Excerpt:
[code]

This is what is currently effecting https://github.com/pytorch/pytorch/issues/33103

Also this may be related to https://github.com/pytorch/vision/issues/1528

cc @fmassa

[2020-02-09 07:05] chinglamchoi commented on #1759
I had the same problem with torchvision v0.5.0 & PIL v7.0.0. Downgrading to torchvision 0.4.0 & PIL v6.2.0 solved the problem for me.

[2020-02-09 10:04] pmeier commented on #1759
@chinglamchoi

This is a bug in `torchvision==0.5.0`. As long as you have `pillow>=5.2.0`, the actual version is irrelevant.

If you are bound to `torchvision==0.5.0` you can add `fill=[filler] * num_bands` to your rotation parameters. Here `filler = 0.0 if img.mode.startswith("F") else 0` and `num_bands = len(img.getbands())` where `img` is an `PIL.Image.Image`.

If you can use an older version,

[2020-02-10 07:24] songyuc opened #1859 "Is there an implementation of Deeplabv3+?"
Hi, guys,
I want to know if there is an implementation of Deeplabv3+?

Any answer will be appreciated!

[2020-02-10 10:06] songyuc opened #1860 "Is there a backbone implementation of Xception?"
Hi, guys,
I want to know if there is a backbone implementation of Xception?

Any answer or idea will be appreciated!

[2020-02-10 11:11] bjuncek commented on #1791
Is there a strict need for this?
My understanding is that we're trying to maintain only baseline popular datasets here.

This seems like something which might be more suited for (an example) a few-shot dataset library?

cc @fmassa thoughts?

[2020-02-10 11:17] bjuncek opened #1861 "Video IO (pyav) container reading issue"
TV version: 0.6.0a0+e2573a7
AV version: '6.1.0'
---
when reading video using "read_video" function and pyav backend, I'm getting the following error:
[code]

the same command with video `reader_backend` works fine.
---
Minimal repro example:
[code]
and similarly,
[code]

works without any issues.

Any thoughts?

[2020-02-10 11:18] bjuncek commented on #1861
(note, I can provide video in question if needed)

[2020-02-10 13:24] fmassa commented on #1857
Thanks for the report!

I think this might be due to @zou3519 changes in https://github.com/pytorch/pytorch/pull/32495, which also caused nested tensors CI to fail, see https://github.com/pytorch/pytorch/issues/33091

[2020-02-10 13:29] AdilZouitine opened #1862 "[Feature proposal] RandomCrop without the borders of the image."
Hello everyone, I thank you for your efforts for this beautiful library.

For a project I came to use a  RandomCrop without the borders of the image.
I know it's possible to do it in two steps like this:

[code]
![compose](https://user-images.githubusercontent.com/24889239/74153156-40e29400-4c10-11ea-97b0-35c7267e2f6f.png)

However it is possible to do it in one step by slightly modifying the Rand

[2020-02-10 13:39] fmassa commented on #1853
Hi,

We do provide pre-trained weights, but for now only for ResNet 101 backbone.

Could you try that one instead?

[2020-02-10 13:43] fmassa commented on #1849
@bmanga @ljd16 could you send a PR to torchvision adding instructions on how to compile the code which uses faster rcnn such that it works on libtorch?

[2020-02-10 13:46] fmassa commented on #1860
Hi,

torchvision does not provide an Xception implementation, but we do provide other models that perform comparably (or even better), like ResNeXt.

You can find an implementation of Xception in https://github.com/Cadene/pretrained-models.pytorch/tree/master/pretrainedmodels/models

[2020-02-10 13:46] #1860 closed

[2020-02-10 13:54] fmassa commented on #1001
In this case, I would recommend adding the hook in the `model.backbone`, and then computing the pooling yourself. Something like
[code]

[2020-02-10 14:10] fmassa commented on #1859
Hi,

torchvision provides an implementation of DeepLabV3, but not DeepLabV3+. We currently have no plans to add DeepLabV3+.

Let us know if you have further questions.

[2020-02-10 14:10] #1859 closed

[2020-02-10 14:10] bmanga commented on #1849
@fmassa I can volunteer to update the README. Maybe it makes sense to wait until #1850 and #1843 are merged before doing that though?

[2020-02-10 14:35] JoOkuma opened #1863 "[proposal] Add `instance` option to SBD dataset."
Hello,

Currently, the `SBDataset` does not have the option to return boundaries or segments of instances available on the original dataset, the function is fixed to class-specific only.

More info about the instances from the dataset README.

[code]

Is this suggestion adequate?
I have already done these changes locally, if approved I will open a PR.

[2020-02-10 14:41] fmassa commented on #1849
@bmanga sounds good, I think indeed that updating the README once we merge those PRs is better

[2020-02-10 14:45] fmassa commented on #1856
From your message:

Note that `x` should be between 0 and width, and `y` between 0 and height. It seem that you have switched the coordinates.

Indeed, from your message

which means that actually, your `x` corresponds to what we note as `y`, and vice versa. We generally do `img[y1:y2, x1:x2]` instead..

Let me know if you have further questions

[2020-02-10 14:45] #1856 closed

[2020-02-10 15:13] Robylyon93 commented on #1856
Thanks for the answer!
But isn't it counterintuitive to have the coordinated formatted that way?
I mean, you access the portion of the image using `img[y1:y2, x1,x2]`, with `0 <= y1 <= y2 <= H (rows)` and `0 <= x1 <= x2 <= W (columns)`, so you first have rows, then the columns.
I cannot understand why bounding box format should be `[col0, row0, col1, row1]`, which is ordered the opposite way.
Also

[2020-02-10 15:49] isalirezag commented on #1853
@fmassa
Thanks for your reply.
I tried it. Resnet101 works fine, however, I cannot use it due to memory limitation.
Do you think that it would be possible to provide the weights for resnet 50 as well?

[2020-02-10 15:58] fmassa commented on #1853
I could look into it after ECCV deadline, but I won't have bandwidth before that unfortunately :-/

[2020-02-10 16:18] fmassa commented on #1856
we can change the way it's phrased in the documentation to read

if it makes things clearer to you. Could you send a PR?

[2020-02-10 16:19] isalirezag commented on #1853
I understand. Thank you @fmassa

[2020-02-10 16:26] fmassa commented on #1854
Hi,

Thanks for the issue.

We have added INT8 quantized models to the release, following the (experimental) quantization support added in PyTorch 1.3, see https://github.com/pytorch/pytorch/releases/tag/v1.3.0

I'm not sure if it's ok to update the release notes after they have been published, but we can definitely make a more explicit mention in the README in https://github.com/pytorch/vision/tr

[2020-02-10 16:26] #1854 closed

[2020-02-10 16:31] fmassa commented on #1443
Thanks for raising this up again @isalirezag , I'm updating the README in https://github.com/pytorch/vision/pull/1864 with the commands for training the model

[2020-02-10 17:32] fmigneault opened #1865 "CUDA incorrectly parsed and invalid options forwarded by cmake"
I am trying to build the C++ API on Windows 10 with CUDA 10.1 for Visual Studio 2019.

Part of cmake seems to indicate that it uses CUDA 10.2, then counter indicates it uses CUDA 10.1
(I am targeting 10.1, all my env is configured to point to it)
Output from cmake:

[code]

Resulting Visual Studio 2019 solution doesn't have the proper options forwarded :
(for example, I should have `compute_61;sm_

[2020-02-10 19:50] fmigneault commented on #1845
Funny enough, I'm having the opposite behaviour  on my side (such that I got 10.1 installed and 10.2 somehow finds its way to the generated solution) (see #1865).

I also question if `pybind11` actually needs to be enforced at all?
I'm looking into using *only* the C++ API and having to compile and "plug" `pybind11` just so that the dependencies are fulfilled even though I won't even use them is n

[2020-02-11 03:56] fmigneault commented on #1865
For anyone who would encounter a similar issue, I have found that, although the employed `enable_language(CUDA)` is the new official method to find CUDA dependencies, it always failed detecting the right installation.
Simply using the *deprecated* `find_package(CUDA)` method worked, as it has always been...

[2020-02-11 07:54] Robylyon93 commented on #1856
I think it's clearer, thanks a lot!
I'll send a PR. :)

[2020-02-11 08:13] AlexTS1980 opened #1867 "Two CUDA memory issues with Faster/Mask R-CNN"
1) When using CUDA10:
`RuntimeError: /pytorch/torch/csrc/jit/fuser/cuda/fused_kernel.cpp:202: a PTX JIT compilation failed
`
I solved it by switching to CUDA9.0, but then another one pops up:
2) `RuntimeError: CUDA out of memory. Tried to allocate 54.00 MiB (GPU 0; 14.73 GiB total capacity; 13.64 GiB already allocated; 27.88 MiB free; 279.23 MiB cached)

`
The don't point to a specific error, so I

[2020-02-11 08:57] bmanga commented on #1845
That's very strange, but at least now I'm more confident it's not a setup issue on my part.

@fmigneault That's what  #1850 implements. It is currently marked as WIP because I was waiting on independent confirmation that it indeed fixes the problem on windows. If you don't mind giving it a try, please let me know if it works for you :)

[2020-02-11 09:24] peterjc123 commented on #1845
According to @fmigneault, it should be working with this PR.

[2020-02-11 09:37] bmanga commented on #1845
@peterjc123 Thanks!

[2020-02-11 10:12] peterjc123 commented on #1865
Yes, we used `find_package(CUDA)` in PyTorch. It may need some other configuration to make it work.

[2020-02-11 11:12] songyuc opened #1869 "It seems there is no upsampling operations in the implementation of Deeplabv3?"
Hi, guys,
I am learning about the the implementation of Deeplabv3 today,
and I find that it seems, there is no upsampling operations in deeplabv3.py,
so where is the upsampling operations of Deeplabv3 model?

Any answer or idea will be appreciated!

[2020-02-11 12:09] viniciusarruda opened #1870 "Unexpected behavior of torchvision.ops.nms"
Following the example below and looking the nms [source code](https://github.com/pytorch/vision/blob/e2a8b4185e2b668b50039c91cdcf81eb4175d765/torchvision/csrc/cpu/nms_cpu.cpp), I expected a `NaN` error, as the intersection and union will be zero.

    import torchvision  # torchvision==0.5.0+cpu
    import torch        # torch==1.4.0+cpu

    boxes = [[0.0, 0.0, 1.0, 1.0],
             [2.0, 1.0,

[2020-02-11 14:37] zsef123 opened #1871 "`aligned` flag in ROIAlign"
In [Detectron2](https://github.com/facebookresearch/detectron2), they got the `alignd` flag in ROIAlign.

It's about pixel shift, More details in [docstring](https://github.com/facebookresearch/detectron2/blob/master/detectron2/layers/roi_align.py#L51)

Are you planning on going forward about this flag?
Or can I PR?

[2020-02-11 15:11] viniciusarruda opened #1872 "Shouldn't have a `+1` in the NMS implementation for the boxes width/height computation ?"
The standard is to have a bounding box defined as quoted [here](https://github.com/facebookresearch/Detectron/blob/master/detectron/utils/boxes.py#L23).

But in the NMS [source code](https://github.com/pytorch/vision/blob/e2a8b4185e2b668b50039c91cdcf81eb4175d765/torchvision/csrc/cpu/nms_cpu.cpp), there is no `+1` when computing the areas and intersection values. This also leaves a bug in the case

[2020-02-11 15:20] IsaacBerman commented on #689
@Santiago810 Do you know how to diagnose the issue of an un-pickleable lmdb env?

[2020-02-11 16:01] zou3519 commented on #1857
@fmassa does test_ops.py run c++ extensions?

[2020-02-11 16:03] zou3519 commented on #1857
I don't think pytorch/pytorch#32495 is related because `test_ops.py` doesn't run c++ extensions directly. However, there's an easy way to test, assuming the CI runs on each PR (send a PR that disables building with ninja). I'll do that and see what happens

[2020-02-11 21:06] coderAddy opened #1875 "[Bug?] roialign operation returning incorrect numerics"
torchvision.ops.roialign is returning incorrect results for a simple test case-

[code]

returns z as -
[code]

shouldn't this be
[code]

[2020-02-11 23:10] mcleonard opened #1876 "Downloading pretrained models with torchvision gives HTTP Error 403"
I'm getting a 403 error when I try to download pre-trained weights with torchvision 0.5.

`torchvision.models.mobilenet_v2(pretrained=True)` results in `HTTPError: HTTP Error 403: Forbidden`. I've tried multiple models on multiple machines on multiple networks, always get a 403 error.

I can download the model directly from the URL with `wget`. But for some reason downloading it through torchvisio

[2020-02-11 23:37] CMobley7 commented on #1876
I can confirm. This issue started happening this afternoon. I don't think it has anything to do with the library but rather with where the models are hosted.

[2020-02-12 00:12] uloma07 commented on #1876
Also having this is issue, when trying to download a pretrained vgg model. I am using Google colab.

Downloading: "https://download.pytorch.org/models/vgg19-dcbb9e9d.pth" to /root/.cache/torch/checkpoints/vgg19-dcbb9e9d.pth
---------------------------------------------------------------------------
HTTPError                                 Traceback (most recent call last)
<ipython-input-21-e5c348

[2020-02-12 01:44] qiminchen commented on #1876
Having the same issue here when trying to download pretrained vgg16 model

[2020-02-12 03:30] xta0 commented on #1876
Same here. Any solutions?

[2020-02-12 03:50] kawashimaken commented on #1876
same here
`
  File "vgg19.py", line 54, in _step1_load_model
    self.model = models.vgg19(pretrained=True)
  File "/opt/anaconda3/lib/python3.7/site-packages/torchvision/models/vgg.py", line 172, in vgg19
    return _vgg('vgg19', 'E', False, pretrained, progress, **kwargs)
  File "/opt/anaconda3/lib/python3.7/site-packages/torchvision/models/vgg.py", line 93, in _vgg
    progress=progress)
  File

[2020-02-12 04:53] reiinakano commented on #1876
Also happens in  torch hub.

This is the official notebook example
https://colab.research.google.com/github/pytorch/pytorch.github.io/blob/master/assets/hub/pytorch_vision_googlenet.ipynb#scrollTo=QjN0iFB8vAjw

[2020-02-12 05:17] vdantu commented on #1876
+1 .. I see the same issue

[2020-02-12 06:09] MrGrayCode commented on #1876
https://github.com/pytorch/vision/blob/0156d58ec867590b1c78fe1bc834c7da9afdf46a/torchvision/models/resnet.py#L11-L21
A temporary workaround would be to update the ```model_urls``` prefixes from `https://download.pytorch.org/models/` to `https://s3.amazonaws.com/pytorch/models/`

[2020-02-12 06:18] dsp0 opened #1877 "avcodec-58.dll not found"
I just Installed torch and torchvision with the following command:

pip install torch===1.4.0 torchvision===0.5.0 -f https://download.pytorch.org/whl/torch_stable.html

system:
OS: win 7, python 3.6.8, with cuda

when I do:
import torchvision

I get a pop up "python.exe - System Error" "The program can't start because avcodec-58.dll is missing from your computer..."

I have torch/torchvision runni

[2020-02-12 08:13] bmanga commented on #1872
Same in the [cuda implementation](https://github.com/pytorch/vision/blob/e2a8b4185e2b668b50039c91cdcf81eb4175d765/torchvision/csrc/cuda/nms_cuda.cu#L17).

[2020-02-12 09:45] songyuc opened #1878 "So, what is the meaning for DeepLabHead in deeplabv3.py"
Hi guys,
I am implementing the deeplabv3+, imitating the pattern of deeplabv3.py,
but I don't quite understand the meaning for DeepLabHead,
so do I need to put the upsampling operations in the DeepLabHead?

Any answer and idea will be appreciated!

[2020-02-12 10:07] jonasrauber commented on #1876
For me, this only fails on the CI server (GitHub actions); locally the download works

[2020-02-12 11:59] lopuhin commented on #1876
Looks like it started working again.

[2020-02-12 12:02] danielmccluskey commented on #1876
Working again for me as well now.

[2020-02-12 14:07] peterjc123 commented on #1877
`av` is installed before building wheels on Windows, so `ffmpeg` is actually a required component. It can be seen here. https://github.com/pytorch/vision/blob/winbuild/v0.5.0/packaging/windows/build_vision.bat
If you use Anaconda, you can use `conda install -c conda-forge av` to install that. Otherwise, you'll need to do that manually. You can refer to http://blog.gregzaal.com/how-to-install-ffmpe

[2020-02-12 20:56] dsp0 commented on #1877
Thank you, peterjc123 for your reply.

I installed ffmpeg with chocolatey, but still get the same error.  What's odd is that I did not have to deal with any of this on my win 10 laptop and torch / torchvision worked fine (it is cpu only and python 3.7).

I should mention that I started with torch breaking on this machine at first that I addressed by upgrading python from 3.6.0 to 3.6.8.  Perhaps s

[2020-02-12 22:51] skudekar commented on #1712
Hi,

Firstly, thanks a lot for some great advice above to resolve the PILLOW_VERSION problem.
However, I'm still unable to resolve the issue with the torchvision==0.5.0, because I can't seem to install torchvision version 0.5.0.

I tried to install torchvision==0.5.0 with conda. But everytime the version installed is torchvision==0.3.0. I tried to uninstall and conda install -c 'torchvision>=0.5.0

[2020-02-12 22:57] kawashimaken commented on #1876
It is working now.

[2020-02-12 23:51] seemethere commented on #1857
Do we have any other leads on why this is happening? Perhaps adding some debugging information to the `pytest` run would provide some insight into what test it's actually timing out on

[2020-02-13 01:18] kentaroy47 commented on #1854
@fmassa
Thank you for the quick reply.
Yes I will make a PR to document this in the weekends

[2020-02-13 02:05] seemethere commented on #1857
After submitting https://github.com/pytorch/vision/pull/1880 I now believe the culprit we should be looking at is something that runs after `test/test_quantized_models.py::ModelTester::test_googlenet`.

From these [logs](https://app.circleci.com/jobs/github/pytorch/vision/87565):
[code]

[2020-02-13 13:11] lopuhin commented on #1876
And now it's failing with ``URLError: <urlopen error [SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed (_ssl.c:852)>`` (again multiple locations, Python 3.6.9)

[2020-02-13 13:23] Michael-J98 opened #1882 "How to modify the loss function of models in torchvison?"
Excuse me if this question is a little stupid, for I just recently got access to this extraordinary field and cannot find the answer after some researching.
I invoked the pretrained mrcnn model in torchvison however its output wasn't so ideal. So I wonder if I can modify the loss function to improve its performance without rewriting the whole framework?
Thanks a lot for any advice.

[2020-02-13 13:32] uloma07 commented on #1876
It's started failing again now:

Downloading: "https://download.pytorch.org/models/vgg19-dcbb9e9d.pth" to /root/.cache/torch/checkpoints/vgg19-dcbb9e9d.pth
---------------------------------------------------------------------------
SSLError                                  Traceback (most recent call last)
/usr/lib/python3.6/urllib/request.py in do_open(self, http_class, req, **http_conn_args)

[2020-02-13 14:53] sharifza opened #1883 "Torchvision NMS description"
I think here should be  `boxes with IoU >= iou_threshold`. Is this only a documentation typo and the cuda function called here is actually correctly implemented?

https://github.com/pytorch/vision/blob/bf8595798eaccbaffb6c04db11406426eb1b3800/torchvision/ops/boxes.py#L22

[2020-02-13 15:25] sharifza commented on #1883
I just noted that this was not the master branch. My bad.

[2020-02-13 15:25] #1883 closed

[2020-02-13 15:27] ajuric commented on #1876
If you try to open the link for some model (eg. for resenet18 [https://download.pytorch.org/models/resnet18-5c106cde.pth](https://download.pytorch.org/models/resnet18-5c106cde.pth)) in the browser, you will see an error with "https certificate expired" ...

Please fix this ...

[2020-02-13 16:02] zou3519 commented on #1857
Is this reproducible locally?

[2020-02-13 16:17] albanD commented on #1876
As a temporary workaround, you can use `http://` instead of `https://` to download the model.

[2020-02-13 16:18] seemethere commented on #1857
I think it’s highly dependent on performance. If the test takes longer than 10 min to run then it’ll time out like this. Were there any tests within that file that were changed recently?

[2020-02-13 16:44] uloma07 commented on #1876
Works for me.

[2020-02-13 16:51] soumith commented on #1876
The SSL Certificate issue is fixed now. The Cert was expired for ~4 hours, and we root-caused the auto-renewal problem, it wont happen again.

[2020-02-13 17:50] fmassa commented on #1848
Sending a PR improving the documentation so that the reference training scripts are more visible would be great!

[2020-02-13 17:53] fmassa commented on #1773
Fixed via #1838

[2020-02-13 17:53] #1773 closed

[2020-02-13 18:03] mjunyent opened #1884 "VideoClips Assertion Error"
Hello,

I'm trying to load a big video. Following https://github.com/pytorch/vision/issues/1446 I used a VideoClips object, but it's crashing when trying to get clips with certain ids with this error:

The code I use is just this:
[code]

`video_clips.num_clips()` is much bigger than the ids that are failing. Changing the clipt_length or frames_between doesn't help.

Checking the code I see [0,1,1

[2020-02-13 18:03] fmassa commented on #1883
Yes, this has been fixed in https://github.com/pytorch/vision/pull/1614 , thanks for the report!

[2020-02-13 18:11] fmassa commented on #1872
Hi,

Great questions!

We have answered those questions in https://github.com/pytorch/vision/pull/826#issuecomment-481714113 .

We handle `NaN` in the implementation by not clamping the area to zero, but if you do find an example where this fails please let us know!

Let us know if you have further questions!

[2020-02-13 18:11] #1872 closed

[2020-02-13 18:14] fmassa commented on #1871
I think adding a `aligned` flag to `RoIAlign` makes sense and would be a good contribution.

Also, ccing @ppwwyyxx and @rbgirshick as they might be interested in having those available in torchvision

[2020-02-13 18:17] fmassa commented on #1878
Hi,

In current implementation, the upsampling is done outside of `DeepLabHead`, see https://github.com/pytorch/vision/blob/819b2e9f39648711ab06562fc8f03ad001cf10be/torchvision/models/segmentation/_utils.py#L25

Let us know if you have further questions~

[2020-02-13 18:17] #1878 closed

[2020-02-13 18:21] fmassa commented on #1870
Hi,

Why would you expect a NaN in the implementation (which I would consider as a problem in the implementation)? Note that we don't clamp the area to be > 0, which makes it robust to degenerate boxes like in your case, see https://github.com/pytorch/vision/blob/e2a8b4185e2b668b50039c91cdcf81eb4175d765/torchvision/csrc/cpu/nms_cpu.cpp#L21

I'm closing the issue as such, but let me know if you hav

[2020-02-13 18:21] #1870 closed

[2020-02-13 18:23] fmassa commented on #1869
Hi,

The upsampling is present in the base class, see https://github.com/pytorch/vision/blob/819b2e9f39648711ab06562fc8f03ad001cf10be/torchvision/models/segmentation/_utils.py#L25

Let us know if you have further questions!

[2020-02-13 18:23] #1869 closed

[2020-02-13 18:23] rbgirshick commented on #1871
I think it would be great to add this feature to torchvision. Then I think we should be able to switch to using it in D2 instead of a custom implementation.

[2020-02-13 18:33] martinlightmatter commented on #1675
I just ran into this when using `torch==1.4.0` and `torchvision==0.5.0`. Rolling back to `torch==1.3.1` and `torchvision==0.4.2" seems to fix the issue for me.

**python environment details:**
  Python 3.7.5
  torchvision 0.5.0
  torch 1.4.0

**host details:**
    Virtualization: microsoft
  Operating System: Ubuntu 18.04.3 LTS
            Kernel: Linux 5.0.0-1031-azure
      Architecture: x86-64

[2020-02-13 18:46] Quetzalcohuatl commented on #696
This is annoying and I experience the same problem when using 64x64 image size. Replacing with AdaptiveAvgPool2d fixed it.

[2020-02-13 19:04] fmassa commented on #1857
`test_ops.py` does call C++ extensions, but as you mentioned it might not be `test_ops` the culprit.

If the issue is in `test_quantized_models`, I'd recommend checking with @raghuramank100 to see if anything has changed on the quantization side

[2020-02-13 20:52] gebrahimi91 commented on #689
I have the same issue with dataloader when I do not use lmdb dataset.

[2020-02-13 21:02] bmanga commented on #1872
@fmassa I think it would make sense to specify in the documentation (or somewhere) that (x1, y1) is inclusive and (x2, y2) is not. That would be simpler than trying to pin it as working with continuous coordinates IMO (that's what OpenCV also does).

[2020-02-13 21:21] viniciusarruda commented on #1870
Hi,

Thanks for the reply, unfortunately I still have my doubt.
Let's track my doubt:

https://github.com/pytorch/vision/blob/e2a8b4185e2b668b50039c91cdcf81eb4175d765/torchvision/csrc/cpu/nms_cpu.cpp#L21

considering the boxes provided when I opened the issue, after the above line:

    (1.0 - 0.0) * (1.0 - 0.0) -> areas[0] == 1.0    (next, instanced as iarea)
    (1.0 - 2.0) * (2.0 - 1.0) -> area

[2020-02-13 21:50] seemethere commented on #1857
From my local testing the test that takes the longest is `Test Inception V3`  from the `test_quantized_models.py` file, which takes about `846s` on a devserver

Got this result from running on my branch that outputs junit logs
[code]

<img width="1404" alt="Screen Shot 2020-02-13 at 1 46 01 PM" src="https://user-images.githubusercontent.com/1700823/74481305-58678a00-4e67-11ea-9cbb-4750f9f1d4d4.png

[2020-02-13 21:56] chiragraman commented on #1780
This still seems to be an issue on MacOS (10.15.1):

Running `conda install torchvision=0.5.0 -c pytorch -c conda-forge` yields the following :

[code]
I believe that the 3.8.0 binaries were released on the pytorch channel for all platforms, is that not so?

[2020-02-14 04:06] peterjc123 commented on #1877
Sorry for confusion, I mean av is installed in our build environment. It leads to ffmpeg component being built and thus the DLLs of them are required at the user's side.

[2020-02-14 05:57] songyuc commented on #1878
@fmassa , hi, Fancisco.
Thanks sincerely for your guides!

[2020-02-14 08:25] dsp0 commented on #1877
Thank you, though I probably still do not or even have to understand the finer points of your explanation for the reasons why. However I did just find the critical bit of information that was missing to resolve the error.  Apparently there are two versions of ffmpeg static and shared.  Apparently chocolatey installs the static one and the shared one is needed as it is the one with the dlls includi

[2020-02-14 08:44] peterjc123 commented on #1877
Maybe you could download them here. https://ffmpeg.zeranoe.com/builds/

[2020-02-14 09:46] dsp0 commented on #1877
Thanks, that is what I did this time.  This is how I figured out that there is a ffmpeg build with the dlls and a build without.

[2020-02-14 12:38] fmassa commented on #1872
@bmanga I think we can reference in the documentation the discussion thread in the attached link I sent, this way users have the full picture.

[2020-02-14 12:39] fmassa commented on #696
@Quetzalcohuatl we already use `AdaptiveAvgPool2d` in resnet, so this shouldn't be a problem with torchvision 0.4 or 0.5

[2020-02-14 12:42] fmassa commented on #1867
Hi,

Is this when using the torchscripted version of maskrcnn?

The models in faster rcnn use a lot of memory, specially during training, so it would be good to know what you are trying to do (training / inference) so that we know a bit more what the problem is.

[2020-02-14 12:48] fmassa commented on #1882
Hi,

The loss for Mask R-CNN can be found in https://github.com/pytorch/vision/blob/master/torchvision/models/detection/roi_heads.py

torchvision contains reference implementations, and it should be easy to modify some parts of it to adapt it to your need.

For the losses in particular, you could hack around it in your code by doing something like (warning: it's a bit hacky and untested)
[code]

T

[2020-02-14 12:48] #1882 closed

[2020-02-14 13:03] fmassa commented on #1870
Thanks for the detailed example.

Indeed, the IoU between those boxes is `nan`. In C++, `0.f / 0.f` is a well-defined operation for floating points, and it doesn't raise an error (nor warning, it would be too expensive).
As such, in the following part, `nan > threshold` is always `False`, and the code continues.

There are a few options here:
- raise an error if the user pass degenerate boxes -- c

[2020-02-14 13:24] fmassa commented on #1875
Hi,

It looks like your box is degenerate, as it's `y2` coordinate is smaller than the `y1` coordinate (it's `[roi, x1, y1, x2, y2]`.
In this case, the current implementation just clamps the box so that the dimension has at least a size of 1.

In `detectron2`, they implemented [an `aligned` version](https://github.com/facebookresearch/detectron2/blob/7fb05ed0f644214f1d631540ae7b6dffdb3c92e2/detect

[2020-02-14 13:24] #1875 closed

[2020-02-14 13:33] #1845 closed

[2020-02-14 13:35] fmassa commented on #1865
@fmigneault we have merged https://github.com/pytorch/vision/pull/1850, does this fix your issues?

[2020-02-14 13:40] fmassa commented on #1675
@martinlightmatter this is weird, my first guess would be that you have a conflict of libraries in your system and it's picking the wrong combination of PyTorch / torchvision.

Indeed, while looking at your stacktrace, it points to
[code]
which, in PyTorch version 1.4.0, doesn't correspond to the same function, see https://github.com/pytorch/pytorch/blob/7f73f1d591afba823daa4a99a939217fb54d7688/to

[2020-02-14 13:49] fmassa commented on #1712
Hi @skudekar

We don't provide binaries anymore for CUDA 9.0, only for CUDA 9.2 and CUDA 10.1. That's the reason why you are not being able to update torchvision.

Can you try installing a newer version of the CUDA runtime?

[2020-02-14 13:55] fmassa commented on #1783
This is weird, can you share a minimum script that reproduces the issue on your side?

My guess is that your torchvision installation is corrupted, and it is not picking the right binary file.

[2020-02-14 13:58] bmanga commented on #1872
@fmassa Agreed, a quick explanation + link would be good. I can create a PR if you'd like.

[2020-02-14 13:59] fmassa commented on #1872
Yes please!

[2020-02-14 14:00] fmassa commented on #1827
@saareliad newer means a nightly version of PyTorch and torchvision. Using 1.4.0 and 0.5.0 is not enough.

[2020-02-14 14:02] fmassa commented on #1827
If you want to use torchvision nightly, you need to use PyTorch nightly.

If you want to use a PyTorch from a release (say 1.4.0), you should use a torchvision from a matching release as well (in this case, 0.5.0)

[2020-02-14 14:05] fmassa commented on #1780
@chiragraman thanks for the report, indeed it seems that we are missing OSX builds for Python 3.8.

@seemethere could you have a look? From https://anaconda.org/pytorch/torchvision/files we are missing Python 3.8 binaries for OSX

[2020-02-14 14:06] skudekar commented on #1712
Hi @fmassa
Thanks so much for getting back. I suspected that it must be CUDA 9.0. I didn't update the toolkit and used the workaround mentioned before to remove the PILLOW_VERSION. It seemed to work. But you are right, I should update the CUDA toolkit and then install torchvision 0.5.0. Thanks again for your help!!

[2020-02-14 14:06] fmassa commented on #1712
Let us know if you have further questions!

[2020-02-14 14:09] fmassa commented on #1847
Thanks for the help @pmeier !

[2020-02-14 14:11] fmassa commented on #689
I think this is a limitation of LMDB in python (and LSUN which uses LMDB internally), and I think there is not much we can do on torchvision side unfortunately.

[2020-02-14 14:19] fmassa commented on #1263
Thanks for the help @pmeier !

[2020-02-14 14:29] peterjc123 commented on #1865
@fmassa Actually this is not fixed in #1850.

[2020-02-14 15:59] skudekar commented on #1712
Hi @fmassa

Thanks again for your help. Much appreciated. I updated my CUDA toolkit to 10.1. However, when I re-installed pytorch and torchvision with the command ```conda install pytorch torchvision cudatoolkit=10.1 -c pytorch'''
I got errors ```Solving environment: failed with initial frozen solve. Retrying with flexible solve....Found Conflicts'''.
Since I updated the CUDA toolkit to 10.1, I fi

[2020-02-14 16:10] fmassa commented on #1712
Hi,

I would recommend creating a new conda environment, then performing the installation instructions as described in the website. You might have conflicting libraries in your system maybe?

[2020-02-14 16:15] fmassa commented on #1865
@peterjc123 so I suppose we still need https://github.com/pytorch/vision/pull/1866?

@fmigneault can you rebase your PR on top of master?

[2020-02-14 16:54] bmanga commented on #1865
@fmassa I think #1866 was also trying to fix #1845, so that PR can be closed. This issue seems unrelated.

[2020-02-14 20:37] seemethere commented on #1780
Taking a look right now

[2020-02-14 20:56] Quetzalcohuatl commented on #696
@fmassa I encountered this problem when dealing with `se-resnext`, so maybe these architectures can also be changed.

[2020-02-14 22:54] seemethere commented on #1780
Issue should now be resolved, closing.

[2020-02-14 22:54] #1780 closed

[2020-02-14 23:19] skudekar commented on #1712
Thanks again. I suspected that I'll have to create a new environment. I just resisted doing that since I don't know what all packages I would need in that environment and if it would again create some compatibility issues.

So should I just install pytorch + torchvision in the new environment? I guess I will also need to install, for example, numpy or opencv etc. which I might need inside the envi

[2020-02-15 03:46] viniciusarruda commented on #1870
Now I got the point!

Sure, I agree that gracefully handling degenerate boxes by keeping them is the best solution.

I'm sorry for lengthening this issue, I am already satisfied with the answer, but I found some answers ([here](https://stackoverflow.com/questions/42926763/the-behaviour-of-floating-point-division-by-zero) and [here](https://stackoverflow.com/questions/4745311/c-division-by-0)) that

[2020-02-15 05:14] cl2227619761 opened #1888 "convert_to_coco_api so slow"
i found that it costs about 20min for the convert_to_coco_api to process 670 images when i evaluate my model per epoch. But WHY so slow?

[2020-02-15 08:46] wolterlw commented on #963
Have you reached consensus on how to test contributed datasets yet?

I would like to contribute wrappers for several hand pose estimation datasets, like [RHD](https://lmb.informatik.uni-freiburg.de/resources/datasets/RenderedHandposeDataset.en.html), but haven't found a distinctive guide on how to structure a dataset wrapper or a transform.
In practice I usually structure data access as follows:
1

[2020-02-15 08:59] wolterlw commented on #963
resumed in #1080

[2020-02-15 09:37] bmanga commented on #1865
even with `find_package(CUDA)`, I am still getting the linker error due to `cudart_static.lib` being looked for in v10.1 path instead of v10.2 . I am starting to think that this is pytorch's fault.

[2020-02-15 09:41] wolterlw commented on #1080
Any progress on this topic?
I wanted to add wrappers for several pose estimation datasets (one of the popular tasks not mentioned here) because so far every research team builds them differently and it's quite a nightmare out there.
I support @ahmed-shariff's argument that we need the ability to specify data format for a specific task. This is especially relevant when working with 3d perception of

[2020-02-15 13:26] frgfm commented on #1775
Hi @fmassa,
Could you advise on what you had in mind for the non-breaking option?

[2020-02-16 21:18] Umairali2562 commented on #1712
HI i need some help here please if you could

i am running ubuntu 19 on raspberry pi 3B+

root@ubuntu:~/Training_SSD# uname -a
Linux ubuntu 5.3.0-1017-raspi2 #19-Ubuntu SMP Thu Jan 16 18:25:50 UTC 2020 aarch64 aarch64 aarch64 GNU/Linux

previously i had 71.arm because i had installed raspbeian sketched  and it was so much pain to install  torch and torchvision on it , so i installed ubuntu instead

[2020-02-16 21:19] Umairali2562 opened #1890 "cannot import name 'Basetransform' from 'data' (/root/Training_SSD/data/__init__.py)"
HI i need some help here please if you could

i am running ubuntu 19 on raspberry pi 3B+

root@ubuntu:~/Training_SSD# uname -a
Linux ubuntu 5.3.0-1017-raspi2 #19-Ubuntu SMP Thu Jan 16 18:25:50 UTC 2020 aarch64 aarch64 aarch64 GNU/Linux

previously i had 71.arm because i had installed raspbeian sketched  and it was so much pain to install  torch and torchvision on it , so i installed ubuntu instead

[2020-02-17 00:43] fmigneault commented on #1865
I have tried with both CUDA 10.1 and 10.2.
The correct static lib seems to be found and used in both cases on my side, as long as `find_package` is used and not `enable_language`. The later doesn't work even when explicitly providing `CUDA_ROOT`.

[2020-02-17 03:53] devanshuDesai opened #1891 "Pre-trained segmentation models can't load state dicts"
<img width="1024" alt="Screen Shot 2020-02-16 at 7 51 57 PM" src="https://user-images.githubusercontent.com/37163544/74622526-07b99080-50f6-11ea-8483-bc891aeb5f3a.png">

[2020-02-17 04:36] alareza619 opened #1892 "How to look at bbox predictions after training?"
Hi, I finetuned a pretrained Faster RCNN model.
I used the instance segmentation Mask RCNN pytorch tutorial as a guide.

I finished training and can't figure out how to look at bbox predictions.

For segmentation prediction, the guide used the following to display the mask
Image.fromarray(prediction[0]['masks'][0, 0].mul(255).byte().cpu().numpy())

I tried
Image.fromarray(prediction[0]['boxes'].mu

[2020-02-17 07:16] shuxp opened #1893 "make error when set with_cuda=on"
using master branch, when make with with_cuda=on, problems come out as below:

running scripts:
[code]

outputs:
[code]

[2020-02-17 08:21] savourylie commented on #1876
I'm getting something similar when trying to download `torchvision.models.segmentation.deeplabv3_resnet50()`:

[code]

[2020-02-17 08:54] bmanga commented on #1865
Not sure what the problem could be on my end then.
Could you try specifying `CMAKE_CUDA_COMPILER` to point to the nvcc from v10.1 and see if that solves it for you?

[2020-02-17 10:42] songyuc commented on #834
@fmassa , hi, Francisco,
I am reproducing the DeepLabV3+ model in PyTorch these days.

[2020-02-17 11:33] songyuc opened #1894 "Can I use the IntermediateLayerGetter function for my customized backbone network?"
Hi, guys,
I am reimplementing DeepLabV3+ model these days,
and I need to return some of the intermediate layers from my customized backbone network,
and I found the `IntermediateLayerGetter` function with the similar effect.
So I am wondering if I can use  the `IntermediateLayerGetter` function to get the intermediate layers from my customized backbone?

Any idea or answer will be appreciated!

[2020-02-17 12:02] songyuc opened #1895 "It seems the IntermediateLayerGetter will not use the forward function in the original model"
Hi guys,
I am working on reproducing DeepLabV3+ model these days,
and I need to get some intermediate layers from the backbone.
And I found a class of `IntermediateLayerGetter` with similar effect.
When I read the code, I found that in the `forward` function of `IntermediateLayerGetter`, that the `IntermediateLayerGetter` would do the inference like,
[code]
But this may mean that, the `Intermediat

[2020-02-17 16:05] fmigneault commented on #1865
Seems like there might be something fishy going on after all.
After compiling torch & vision both with CUDA 10.2, my sample app attempts to find `cudart64_101.dll`.

[2020-02-17 17:15] fmigneault commented on #1865
No doesn't work with `CMAKE_CUDA_COMPILER`

[code]

[2020-02-17 19:30] lanking520 commented on #1638
Hi, I am also facing the similar issue by using the latest libtorch. Is there any plan to make the missing torch vision operators available in C++?

[2020-02-18 04:14] songyuc opened #1896 "How can I get the intermediate layers if I used the nn.Sequential to make a Module"
Hi guys,
I am reproducing the DeepLabV3+ these days,
and I write a Module like this,
[code]
and I am wondering if I can get the the intermediate output of inner module "block1" and "block2"?

Any answer or suggestion will be appreciated!

[2020-02-18 07:42] fmigneault commented on #1865
@bmanga
I have managed to build `torch.lib` and torchvision.lib` using CUDA 10.1 without getting any invalid references to mismatching CUDA versions. I would therefore believe that CUDA 10.1 is being enforced somehow for (at least) cudart.

I'm also curious. Have you managed (you or anybody else) to make `torch.lib` work with CUDA 10.1 on Windows?
Although I compile everything just fine, it still

[2020-02-18 07:48] pmeier commented on #1896
No, you can't. That's the whole point of an `nn.Sequential`: perform all operations successively and only return the final result. If you do depend on the intermediate results you should use an `nn.Module` and implement a custom `forward()` method. In your case that might look like this:

[code]

If you construct this with `model = MyModule(return_intermediate=True)` you get a `dict` with all inte

[2020-02-18 10:33] bmanga commented on #1865
@fmigneault I haven't tried running the code on the GPU on windows yet (my primary target is linux), but I could give it a try if you'd like?

[2020-02-18 10:48] ZTZ-99 opened #1897 "Win10 Python2.7 RuntimeError: generic_type: cannot initialize type "TensorProtoDataType": an object with that name is already defined"
我在Win10平台上用MSVC14.20为Python2.7构建了torchvision v0.3.0，但是在执行import torchvision时，出现以下错误：
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "build\bdist.win-amd64\egg\torchvision\__init__.py", line 9, in <module>

  File "build\bdist.win-amd64\egg\torchvision\version.py", line 3, in <module>
  File "build\bdist.win-amd64\egg\torchvision\_C.py", line 7, in <module>
  File "

[2020-02-18 15:13] davidsteinar commented on #1405
Hi @fmassa , I am facing this issue on Windows using the latest stable build.

This is how I installed:
[code]

 Name              |      Version       |            Build  | Channel
 --- | ---| --- | --- |
blas                |      1.0           |              mkl |
ca-certificates     |      2020.1.1      |                0 |
certifi             |      2019.11.28    |           py38_0 |
cudatool

[2020-02-18 15:35] fmigneault commented on #1865
If you can manage to have it working, at least I would get an hint that some configuration is wrong on my side. For the moment, everything compiles, links and runs correctly, without any kind of indication that something didn't work but a message at runtime saying the device is unavailable while it should.

[2020-02-18 21:32] anandijain commented on #1716
Thank you for fixing this.

how can I grab this fix?

pip says im up to date with torchvision 0.5.0

[2020-02-19 03:49] fmigneault commented on #1865
FYI, I have the GPU working now in Windows/CUDA 10.1.
For the moment I still need to patch cmake with `find_package(CUDA)` + adding `pybind11_INCLUDE_DIR`.
The biggest issue remains that `enable_language` doesn't even find which GPU is available, nor even respect the requested CUDA version I specify, whereas `find_package` provides everything correctly down to the compute capabilities of my GPU au

[2020-02-19 04:39] SangbumChoi opened #1899 "pyinstaller interaction with torchvision"
Setting: torchvision 0.5.0
When compile with torchvision 0.5.0 it has an error comming with
File "site-packages \ torchvision \ ops \ misc.py", line 135, in <module>
  
File "site-packages \ torchvision \ ops \ misc.py", line 148, in FrozenBatchNorm2d
  
File "site-packages \ torch \ jit \ __ init__.py ", line 1204, in script_method
  
File" site-packages \ torch \ jit \ frontend.py ", line 156, i

[2020-02-19 04:49] Gokkulnath commented on #1716
@anandijain
Hi
I dont see the changes merged to 0.5 Release [Source](https://github.com/pytorch/vision/blob/build/v0.5.0/torchvision/datasets/mnist.py) but it is available under [master branch](https://github.com/pytorch/vision/blob/master/torchvision/datasets/mnist.py).
I think it will be included in one of the subsequent releases. Meanwhile feel free to replace the mnist.py from the master versi

[2020-02-19 05:30] SangbumChoi commented on #1899
<img width="960" alt="Untitled" src="https://user-images.githubusercontent.com/34004152/74804720-5e0c1680-5324-11ea-8974-ce18e0692b42.png">
this is the exact error that pops up

[2020-02-19 07:59] songyuc commented on #1896
@pmeier , hi, Philip!
Thanks sincerely for your kind reply and detailed suggestions.
And I have a little question why there adds a `raise RuntimeError` in the constructors of the modules?

[2020-02-19 08:03] pmeier commented on #1896
I've simply added these classes to make the example "complete", since you have not given us an implementation for `BNRelu` and `XceptionBlock`. They are `raise`ing the `RuntimeError`s just to remind you that these `class`es need to be implemented. Just use whatever you used before.

[2020-02-19 08:07] songyuc commented on #1896
@pmeier , OK, your codes inspired me a lot,
and I read some more materials yesterday, and I found there is another implementation style of hook, (and I didn't see this style in your suggestions).
So I want to know how do you think about using `register_forward_hook ` to realizing getting intermediate ouputs of the intermediate modules?

[2020-02-19 08:16] pmeier commented on #1896
I don't think `register_forward_hook()` will help you here. The [documentation](https://pytorch.org/docs/stable/nn.html#torch.nn.Module.register_forward_hook) states:

Thus, if you use an `nn.Sequential` the output you get in the hook is only the final result and you have no option the retrieve the intermediate ones. The only option to use a forward hook is to store the intermediate results during

[2020-02-19 08:30] songyuc commented on #1896
@pmeier , I think there is a way to realize my idea, let me describe it below:
1. wrap the the intermediate layers using `nn.Module `and name it with some specific names, so that we can retrieve them, no matter how deep these inner modules inside the top network;
2. In the hook function of the top network, get all the chidren modules using `model.named_children()` and use the specific names to fin

[2020-02-19 08:49] pmeier commented on #1896
Just to be sure: you want to have access to every intermediate result not just the "top level"? If that is the case `named_children()` will not help you as it only yields the immediate children of the `nn.Module`.

---

If I understand your approach correctly, your approach has two major flaws:

1. The input to your model is not the same as the input to the module you want  to know the output from

[2020-02-19 09:26] songyuc commented on #1896
@pmeier , sorry for my mistake, in fact, my idea is to use `model.named_modules()` to get every inner intermediate modules so that we can access every intermediate result.

[2020-02-19 17:56] anandijain commented on #1716
thanks for the quick reply @Gokkulnath
Can I just copy the source `mnist.py` into my local or do i need to clone master and reinstall from source?

[2020-02-19 18:00] anandijain commented on #1716
I tried just copying `mnist.py` and it worked just fine!
Thanks!

[2020-02-20 03:22] yixuanren commented on #288
Same question here. And it indeed does not work if lack of comma

[2020-02-20 06:19] songyuc commented on #807
@fmassa , hi, Fancisco,
So, specifically, it will save the GPU memory if I use CUDA, am I right?

[2020-02-20 06:20] songyuc opened #1900 "Why the inplace in the ReLU in deeplabv3.py is not set True?"
Hi guys,
I am reproducing DeepLabV3+ these days, and I learning about the code of [deeplabv3.py](https://github.com/pytorch/vision/blob/2f64dd90e14fe5463b4e5bd152d56e4a6f0419de/torchvision/models/segmentation/deeplabv3.py).
And I found that some ReLUs in this code don't use "inplace = True", like,
[code]
So what is the consideration of not using "inplace = True" here?

Any answer or idea  will be

[2020-02-20 09:10] #1892 closed

[2020-02-20 12:56] muna-cs opened #1901 "DeeplapV3 accuracy result for person"
Can I know the accuracy of the Deeplap v3-Resnet-101 pre-trained model evaluated on COCO val2017 dataset
for **person** class only?
I searched about it but I did not find the accuracy for each class?

[2020-02-20 14:10] tbung commented on #448
Would it be possible to document this behavior in relevant places until this issue gets resolved?

I encountered this issue when using the `FakeData` dataset and got unexpected results and went on debugging my own code until I stumbled onto this discussion, so it would probably be helpful to others as well to put a warning there.

[2020-02-20 16:15] fmassa commented on #1080
@wolterlw there has been no further progress on this topic for now.

As you point out, each task has its own particularities and there is no single abstraction (more specific than just `Dataset`) that can cover them all.

My current thinking is that there should be not much structure that is imposed by default -- the more structure we add, the less flexible we will be. Worse still, trying to add e

[2020-02-20 16:39] ahmed-shariff commented on #1080
@fmassa I agree with that. The code I had shared before actually was built around that idea (in retrospect, that code is a little wonky because I am trying to do alot of things at the same time). How the data is loaded needs to be decoupled from how the data is used by a pipeline.

[2020-02-20 16:45] ahmed-shariff commented on #1080
Does something along these lines make sense:

[code]

[2020-02-20 19:58] wolterlw commented on #1080
@fmassa I've mentioned in #963 that using a Dataset subclass to simply index all the files and offload the rest of the work to Transforms seems to be reasonably flexible.
Also I want to stress that the problem right now is that most research projects that utilize public datasets write their own wrappers (which vary a lot in readability and speed of execution) as there are no general guidelines on

[2020-02-21 03:28] anmolsjoshi opened #1902 "conda not installing the correct nightly version"
OS: Ubuntu 18.04
Python Version: 3.7

Using the installation instructions found [here](https://pytorch.org/get-started/locally/), conda is installing the wrong version of torchvision despite specifying cpuonly.

[code]

Output of the above command is -

[code]

If you see above cudatoolkit is being installed, along with the cuda versions of pytorch and torchvision.

How should I resolve this?

[2020-02-21 04:15] peterjc123 commented on #1897
It is because a bug that it is accidentally depending on the `_C` function at the PyTorch side. Please try this patch: https://github.com/pytorch/vision/pull/1779/files.

[2020-02-21 05:17] hylrh2008 opened #1903 "windows10 cmake torchvision cuda doesn't work"
windows10+cuda10.1+vs2017
when i cmake torchvision with CUDA but it doesn't work.i change enable_language(CUDA) as find_package(CUDA) but it still only compile cpu file.

[2020-02-21 07:28] ananthpn commented on #1001
Thanks much @fmassa your solution works so well for me. I used this in my application and am posting here your code wrapped as a function for any one who may have a similar requirement:

![Screenshot from 2020-02-21 12-57-14](https://user-images.githubusercontent.com/1320935/75013221-c2a4ae00-54a9-11ea-900f-d22142d5d3bf.png)

[2020-02-21 12:59] iarspider commented on #1566
Worked for me, thanks @ahirner !

[2020-02-21 12:59] #1566 closed

[2020-02-21 15:05] AlexXXEL commented on #1675
It seems that torchvision-0.4 will match pytorch-1.4

[2020-02-21 22:44] zlenyk opened #1904 "DenseNet generated image embeddings have very small variance and are sparse"
I'm working with pretrained DenseNet161 model to learn and generate image embeddings.
I consider output of adaptive_avg_pool2d layer image embedding. I noticed that it's very sparse and has small variance. If we consider a batch of 64 images, variance of the same feature over all images in a batch is ~2e-6. Also the feature values are just very small (~1e-3). This is for pretrained model, if I sta

[2020-02-21 23:28] fmigneault opened #1906 "Deprecation warnings for torch 1.5"
[code]

[2020-02-22 16:53] anmolsjoshi commented on #1902
Closing in favor of https://github.com/pytorch/pytorch/issues/33103

[2020-02-22 16:53] #1902 closed

[2020-02-22 17:55] vbogach commented on #549
There are two more issues for this AlexNet implementation:

1. LocalResponseNorm layers are missing, but present in the original paper.
2. This implementation uses AdaptiveAvgPool2d before first fully connected layer. The paper states that max pooling should be used instead.

[2020-02-23 15:59] engineer1109 opened #1910 "Mask RCNN ONNX export KeyError: '_new_empty_tensor_op'"
System Ubuntu 18.04
Torch 1.4.0
Torchvision 0.5.0  pip installed

I have tried the examples you give in the tutorial:
`import torch`
`import torchvision`
`model = torchvision.models.detection.maskrcnn_resnet50_fpn(pretrained=True)`
`model.eval()`
`model=model.cuda()`
`test_data = torch.rand(1,3,300,400).cuda()`
`traced_model = torch.jit.trace(model, test_data)`

But got this error:

/usr/local/lib

[2020-02-23 16:45] engineer1109 commented on #1910
fastrcnn export onnx is ok.  strange.

[2020-02-23 20:52] fmigneault commented on #1903
Check this issue: https://github.com/pytorch/vision/issues/1865
I'm working with Windows10+cuda10.1+vs2019 and it works for me using specified fixes.
I'm currently running ResNet152 training on GPU.

Patches I applied :  https://github.com/fmigneault/vision/tree/windows-patches
Hope this helps you.

[2020-02-24 03:09] TengFeiHan0 opened #1912 "A weird problem: "No module named 'torchvision.models'; 'torchvision' is not a package""

[2020-02-24 03:21] hylrh2008 commented on #1903
@fmigneault thank you but It doesn't work for me although i change my compiler to vs2019.
this is my vs setting:
![QQ截图20200224111447](https://user-images.githubusercontent.com/18004727/75126995-81a1d900-56f7-11ea-9b82-ba9c54465254.jpg)
it seems like cmake can't find cuda compiler link to vs.could i see your vs setting screenshot? thank you

[2020-02-24 04:36] #1912 closed

[2020-02-24 06:15] fmigneault commented on #1903
Configurations look like this for me:

![image](https://user-images.githubusercontent.com/19194484/75131903-e7b04100-56a2-11ea-9e3a-6fa20de1b0a5.png)

And include directories:
![image](https://user-images.githubusercontent.com/19194484/75131900-e4b55080-56a2-11ea-9f8e-f72e1fc82527.png)

Make sure that `CUDA` and `CUDNN` libraries and include directories can be found adequately. Otherwise I think C

[2020-02-24 08:01] #1419 closed

[2020-02-24 15:20] anhoangphuc commented on #1899
I have the same error in ubuntu 18.04. :'(

[2020-02-24 18:29] cpuhrsch commented on #1893
Hello @shuxp - could you add some more information about your environment such as compiler version etc. - this looks like an issue in stdlib (basic_string), so maybe you're using the wrong compiler.

[2020-02-24 19:07] cpuhrsch commented on #1895
Hello @songyuc - could you link the code snippets you're mentioning?

[2020-02-24 19:50] cpuhrsch commented on #1405
@davidsteinar - if you're still encountering this please create a new issue to gain visibility

[2020-02-24 23:08] cpuhrsch commented on #448
@tbung - I'll flag this for follow-up to make a decision on this

[2020-02-25 07:12] songyuc commented on #1895
@cpuhrsch ，hi,
here is the link of [IntermediateLayerGetter](https://github.com/pytorch/vision/blob/2f64dd90e14fe5463b4e5bd152d56e4a6f0419de/torchvision/models/_utils.py#L7).

[2020-02-25 14:54] fmassa commented on #1910
Hi,

We support exporting the models to torchscript via `torch.jit.script`, but not via `torch.jit.trace`.

Converting the models via ONNX doesn't use the standard `torch.jit.trace` code-path, and should work fine.

Let us know if you have further questions.

[2020-02-25 14:54] #1910 closed

[2020-02-25 14:56] fmassa commented on #448
@tbung I agree, I think we should improve the documentation of `to_pil_image` to make it explicit what are the conversions we do.

Would you mind sending a PR improving the documentation?

[2020-02-25 15:03] fmassa commented on #1895
Hi @songyuc

Indeed, `IntermediateLayerGetter` is a simplistic module that doesn't take the forward of the original module into account. It's because of this limitation that `IntermediateLayerGetter` is present in the private file [`_utils.py`](https://github.com/pytorch/vision/blob/master/torchvision/models/_utils.py), because this means it should be used with care and its API can change at any t

[2020-02-25 15:03] #1895 closed

[2020-02-25 15:06] fmassa commented on #1912
Let us know if you are still facing issues. This probably means that you had some issues installing torchvision, or that you were using the wrong environment, which didn't contain torchvision

[2020-02-25 15:07] fmassa commented on #1906
We will happily accept PRs fixing the deprecation warnings.

[2020-02-25 15:08] engineer1109 commented on #1910
@fmassa,
You mean the tutorials document is fake?
https://pytorch.org/docs/master/torchvision/models.html#object-detection-instance-segmentation-and-person-keypoint-detection

[2020-02-25 15:09] fmassa commented on #1893
Hi @shuxp

PyTorch and torchvision now requires C++14 to compile, can you make sure that your compiler supports C++14?

Alternatively, you can try installing torchvision from a nightly release, which should work fine.

[2020-02-25 15:19] songyuc commented on #1895
Hi, @fmassa Fancisco, thank you for your explanation and the code.
I am so excited to find that I have the same idea with you that the hook is the best way in current PyTorch to obtain the intermediate features from the backbone model.

[2020-02-25 15:20] fmassa commented on #549
@vbogach Hi,

About point 2, that's not exactly correct. We do use `max_pool`, see https://github.com/pytorch/vision/blob/5306635396d1ebd3047d56b16745350cf8c1e2c4/torchvision/models/alexnet.py#L31
but we added the `avg_pool` to make the model support images of different sizes. For images of size 224x224, the `avg_pool` is a no-op.

About point 1, that's correct, we do not have LRN. IIRC, this actu