[2020-07-15 07:11] weijian-sun commented on #2470
oh, sorry for the typo, it's cuda 10.0

[2020-07-15 09:47] harshbafna opened #2473 "Unable to load VGG model's state dict on GPU"
I am trying a generic code to load the state-dict of a model on CPU/GPU. It works fine for other vision type models but fails for VGG models on GPU machines

Here is a sample code I am trying out :

[code]

The above code fails with following error

[code]

I tried this same code with Densenet/Alexnet/Squeezenet models and it works fine on both GPU and CPU machines

Environment information :

OS :

[2020-07-15 10:17] rgommers commented on #1776
This was fixed, closing. Thanks for the report @qfgaohao and for the fix @pmeier.

[2020-07-15 10:17] #1776 closed

[2020-07-15 10:57] pmeier commented on #2473
To narrow this down a little: the error only happens for the `vgg11` and `vgg13 weights`.

[2020-07-15 13:31] fmassa commented on #2433
I think the issue might be that we are performing computations on float32, while numpy and python are doing those in float64?

I think that the best fix for this is to change the test so that it takes into account the fact that the `H` coordinate is cyclic.
So maybe doing the distance computation in this transformed domain.

For example, instead of doing
[code]
we could instead do something like
[

[2020-07-15 14:02] v-iashin opened #2474 "VideoClips: audio clips do not correspond to video clips"
## 🐛 Bug

The audio stream does not correspond to the visual stream when `torchvision.datasets.video_utils.VideoClips` is used.

## To Reproduce

Steps to reproduce the behavior:
1. Here are two videos I tested on [Archive.zip (1.4MB)](https://github.com/pytorch/vision/files/4925436/Archive.zip)
2. The code to reproduce
[code]
3. The output I see
[code]

[code]

## Expected behavior
1. The output

[2020-07-16 09:56] #2433 closed

[2020-07-16 13:15] v-iashin commented on #2474
Ok, after digging into debugging I found out that `The pts_unit 'pts' gives wrong results and will be removed in a follow-up version. Please use pts_unit 'sec'.` actually relates to this bug and it is known (e.g. #1221, #1672, #1931).

[2020-07-16 16:20] vfdev-5 opened #2479 "Harmonize functional transforms arguments"
## 🚀 Feature

Currently, we can observe a certain freedom in argument names and their meaning:

1) Methods `F.resize`, `F.resized_crop`, `F.perspective`

https://github.com/pytorch/vision/blob/ab73b44887eb9d7566b2a80fd45cb5f68b11d643/torchvision/transforms/functional.py#L313

https://github.com/pytorch/vision/blob/ab73b44887eb9d7566b2a80fd45cb5f68b11d643/torchvision/transforms/functional.py#L443-L

[2020-07-16 17:38] jcwchen opened #2480 "Install failing from the master: Failed building wheel"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1.`pip install -q git+https://github.com/pytorch/vision.git`

## Expected behavior
Build successfully without any error message

## Environment

 - PyTorch / torchvision Version (e.g., 1.0 / 0.4.0): master
 - OS (e.g., Linux): ubuntu16.04
 - How you installed PyTorch / torchvision (`conda`, `pip`, source): pip
 - Build command you used (

[2020-07-17 04:57] Huangxt57 opened #2481 "How to use torchvision roi_align?"
I'm confused about the input parameter `boxes` and output of `torchvision.ops.roi_align`. Now I have an input image and one bbox coordinate `[x1, y1, x2, y2]`. Does `roi_align` directly return the region determined by the coordinate?

For exampe, here is my test code:

[code]

And the result is:

[code]
What I want to know is why the returned region is `[15, 16; 21, 22]`?

Thanks for answering!

[2020-07-17 05:11] Huangxt57 commented on #2481
Could you take an example for interpreting?

[2020-07-17 06:49] mhasnat commented on #1116
Hi @manoja328,

I am having same issue of getting AP as 0. Can you please tell me how did you solve it?

Thanks.

[2020-07-17 13:17] pmeier commented on #2480
Hi @jcwchen, you left out the traceback which contains the information you need:

[code]

`torchvision` depends on `torch` which has to available **before** you run the `torchvision` setup. The `master` of `torchvision` requires the `master` of `torch` (see compatibility table in the [README](https://github.com/pytorch/vision/blob/4246abc897aa4547b76bad51357178e5911b803d/README.rst)). You can eith

[2020-07-17 13:18] dddzg opened #2484 "tensor is noncontinuous when passing numpy object to to_tensor"
check #2483 .

[2020-07-17 17:05] jcwchen commented on #2480
Hi @pmeier, Thank you for the fast reply.

I did install torch first, but I still encountered this error. The same build code worked a week ago.
Besides, if I pip install from an older version of torchvision (7/6) like:
`pip install -q git+https://github.com/pytorch/vision.git@86b6c3e22e9d7d8b0fa25d08704e6a31a364973b`
It can work, too. That's why I suppose it might be a bug from master branch.

BT

[2020-07-17 17:43] pmeier commented on #2480
Huh, that is weird. I did a fresh install with

[code]
(remember to adapt the link to your CUDA version) and this is working fine. Could you try this and report your results?

Could you also run

[code]

and post the output? From what you have provided so far the only significant difference between our systems is that I used `gcc` and not `clang`. @fmassa Anything comes to mind that could have cau

[2020-07-17 18:47] oke-aditya opened #2486 "Torchvision Object detection TPU Support"
## ❓ Torchvision models with TPU.

My doubt lies somewhere between feature request and question. hence posting here.

PyTorch supports TPU through torch_xla. It makes it possible to train models over TPU.
I guess most torchvision classification models can be used with transfer learning/training over TPU.

For torchvision object detection models, do they support TPU?
Some operations such as `NMS`,

[2020-07-17 20:30] jcwchen commented on #2480
The output from `collect_env.py` is here:
[code]
Originally, I pip install pytorch from their master branch.
I tried your build code, but it still encountered the same error.

I don't have CUDA in my machine and I saw there are some changes in recent PRs of `pytorch/vision` related to CUDA, will it be an issue?

[2020-07-17 20:49] pmeier commented on #2480
Just to recap:

- You've installed `torch` from source and it is working as expected
- With this setup you can install `86b6c3e22e9d7d8b0fa25d08704e6a31a364973b` without errors
- Installing from the current `master` fails

Did I miss anything?

---

#2388 might be the offender (Cc @andfoy). It added the following to the README:

@jcwchen Could you check if `libpng` and `libjpeg` are available?

[2020-07-17 21:11] andfoy commented on #2480
Hi @jcwchen, could you please try to compile torchvision using `` pip install -vvv git+https://github.com/pytorch/vision.git@86b6c3e22e9d7d8b0fa25d08704e6a31a364973b`` or ``python setup.py develop`` and post the logs here?

[2020-07-17 22:04] jcwchen commented on #2480
The recap is correct. I will check whether libpng and libjpeg are available later. (The machine is a CI)

[2020-07-17 22:05] jcwchen commented on #2480
`pip install -vvv git+https://github.com/pytorch/vision.git@86b6c3e22e9d7d8b0fa25d08704e6a31a364973b` works without any error message.
I am trying `python setup.py develop` now.

[2020-07-17 23:12] jcwchen commented on #2480
@pmeier Here is the result of `apt list --installed | grep -E "lib(png|jpeg)"`:
[code]

Besides, `python setup.py develop` failed. The error log is here:
[log.txt](https://github.com/pytorch/vision/files/4940679/log.txt)

[2020-07-18 06:27] pmeier commented on #2480
Since the error is related is related to `libpng` I think we are on the right track. The log states

[code]

so you can try to upgrade it. `1.6` is the default for Ubuntu 18.04.

[2020-07-19 13:11] JuanFMontesinos opened #2490 "[Bug?] Lack of frames using torchvision.io.video_read"
## 🐛 Bug

Hi,
I’ve realized that torchvision as well as other libraries suck as skvideo and opencv retrieve less amount of frames than ffmpeg.
I found this happens only for some videos.

Context:
I ve a rencoded dataset of videos which are 25.0 FPS. Rencoding has been done via ffmpeg.

Recording (.mkv) contains audio stream and video stream.
Both streams are same duration (according to metadata in

[2020-07-19 18:05] jcwchen commented on #2480
I tried to install libpng `1.6` on my Ubuntu machine first, but it still encountered the same error:
[code]

[2020-07-20 03:34] Alieladi commented on #1568
Sometimes it is an exploding gradient problem where the model outputs very high values (> 10**20) that are considered NaN. In that case you must retrain your model from beginning and try lower learning rate or gradient clipping e.g.
[code]

[2020-07-20 05:47] Dewey1994 commented on #2470
did u solved this problem？

[2020-07-20 06:31] pmeier commented on #2480
@jcwchen this error message is not helpful. Please post the stack trace and yet better the full output when installing with the `-vvv` flag.

[2020-07-20 08:01] weijian-sun commented on #2470
switch to a clean docker image, proglem solved, maybe some environment related issue

[2020-07-20 08:01] #2470 closed

[2020-07-20 11:16] Dewey1994 commented on #2470
sorry, do u means use docker to download the vision?

[2020-07-20 15:13] jcwchen commented on #2480
Error message is here:
[code]
The build log is here:
[build_5310_step_106_container_0.txt](https://github.com/pytorch/vision/files/4948528/build_5310_step_106_container_0.txt)

Hope it helps. Thank you.

[2020-07-20 15:57] ncuxomun commented on #720
I implemented View() as shown above, but instead of the requested data being reshaped, I see that View() was returned. Am I doing something different?

[2020-07-20 22:50] andfoy commented on #2480
@jcwchen, what happens if you install the latest master version?

[2020-07-20 23:13] jcwchen commented on #2480
I just built one from the latest master version, but it still encountered the same error as my previous comment.

[2020-07-21 05:58] pmeier opened #2494 "Migrate ONNX tests to CircleCI"
Currently the ONNX tests run on Travis CI as a last remnant whereas all other checks have been migrated to CircleCI. For the sake of uniformity we should also migrate these tests. I volunteer to have a got at this with a major disclaimer: I have never worked with ONNX and only very little with CircleCI so I'm maybe up for quite a ride.

@fmassa could you tag in the people that might be able to hel

[2020-07-21 12:07] Areiser opened #2497 "Grayscale image mask is transformed in a performance decreasing way with ToTensor()"
## 🐛 Bug

Preface: This is only in the context of my usage, where I use a custom dataset for semantic segmentation. My goal was to train different models on a semantic segmentation dataset and obviously I wanted to use the torchvision transforms.
The dataset does not matter much, but the labels are interesting: The labels are grayscale in a 2d array with values from 0 to NUM_CLASSES). (I mean in f

[2020-07-21 12:32] jiajunhua commented on #1414
import torchvision.optim as optim
ModuleNotFoundError: No module named 'torchvision.optim'

[2020-07-21 12:32] jiajunhua commented on #1414
import torchvision.optim as optim
ModuleNotFoundError: No module named 'torchvision.optim'

[2020-07-21 12:32] jiajunhua commented on #1414
import torchvision.optim as optim
ModuleNotFoundError: No module named 'torchvision.optim'

[2020-07-21 12:32] jiajunhua commented on #1414
import torchvision.optim as optim
ModuleNotFoundError: No module named 'torchvision.optim'

[2020-07-21 12:32] jiajunhua commented on #1414
import torchvision.optim as optim
ModuleNotFoundError: No module named 'torchvision.optim'

[2020-07-21 12:32] jiajunhua commented on #1414
import torchvision.optim as optim
ModuleNotFoundError: No module named 'torchvision.optim'

[2020-07-21 12:32] jiajunhua commented on #1414
import torchvision.optim as optim
ModuleNotFoundError: No module named 'torchvision.optim'

[2020-07-21 12:33] jiajunhua commented on #1414
import torchvision.optim as optim
ModuleNotFoundError: No module named 'torchvision.optim'

[2020-07-21 12:36] jiajunhua commented on #1414
torchvision version is 0.6.1

[2020-07-21 12:40] Tclz commented on #1459
thank you. this method works

[2020-07-21 12:52] jiajunhua commented on #1414
import torchvision.optim as optim
ModuleNotFoundError: No module named 'torchvision.optim'

[2020-07-21 12:52] jiajunhua commented on #1414
import torchvision.optim as optim
ModuleNotFoundError: No module named 'torchvision.optim'

[2020-07-21 12:53] jiajunhua commented on #1414
import torchvision.optim as optim
ModuleNotFoundError: No module named 'torchvision.optim'

[2020-07-21 12:53] jiajunhua commented on #1414
import torchvision.optim as optim
ModuleNotFoundError: No module named 'torchvision.optim'

[2020-07-21 12:53] jiajunhua commented on #1414
import torchvision.optim as optim
ModuleNotFoundError: No module named 'torchvision.optim'

[2020-07-21 12:53] jiajunhua commented on #1414
import torchvision.optim as optim
ModuleNotFoundError: No module named 'torchvision.optim'

[2020-07-21 12:53] jiajunhua commented on #1414
Thanks in advance. how to fix the problem????????????????????????????????????????????????????????????????????????????????????????????

[2020-07-21 12:54] jiajunhua commented on #1414
Need help.

[2020-07-21 12:54] jiajunhua commented on #1414
Need help

[2020-07-21 12:54] jiajunhua commented on #1414
Need help

[2020-07-21 12:54] jiajunhua commented on #1414
Need help

[2020-07-21 13:04] feiyangsuo commented on #1414
```from torch import optim```
since ```torchvision``` has no ```optim``` module.
BTW, pls don't repeat a question for such many times, which may get others hard to find answers to their question

[2020-07-21 14:32] IdoZada commented on #1120
![image](https://user-images.githubusercontent.com/48810056/88067697-fcbccd80-cb77-11ea-89e0-214f5bc260f9.png)
all the values in output dictionary from the model presents nan .
Why its happen?

[2020-07-21 20:01] burhanmudassar opened #2498 "RuntimeError: No such operator torchvision::deform_conv2d"
## 🐛 Bug

Importing the DeformConv2D and running it with a sample input throws the error

## To Reproduce

Steps to reproduce the behavior:

[code]

[code]

## Expected behavior

Output of the deformable convolution is generated

## Environment

PyTorch version: 1.4.0+cu100
Is debug build: No
CUDA used to build PyTorch: 10.0

OS: Ubuntu 16.04.4 LTS
GCC version: (Ubuntu 5.4.0-6ubuntu1~16.04.12) 5.4

[2020-07-21 23:28] jcwchen commented on #2480
Hi @pmeier and @andfoy,
After ` apt install libturbojpeg`, `pip install git+https://github.com/pytorch/vision.git` can be built successfully.
Thank you for your assistance.

[2020-07-22 02:49] jiajunhua commented on #1414
Sorry, thanks. The problem has been fixed in last night.

[2020-07-22 05:19] pmeier commented on #2480
@jcwchen glad it worked out for you, but I think we should still debug the cause of this. The README states that `libjpeg-turbo` can be used as a replacement of `libjpeg`, but this shouldn't be required.

@andfoy Could it be that we need a minimum requirement for `libjpeg` as well? It seems the previously installed versions

[code]

were not enough and they [had to install](https://github.com/onnx

[2020-07-22 08:57] juliwern opened #2500 "Adding more outputs to Faster R-CNN"
## 🚀 Feature
In addition to the current output from the Faster R-CNN model, where only the detections after NMS are given out, adding outputs from before the NMS for deeper insight in class distributions.

## Motivation

After training the network on a custom dataset (with good results actually!), I had found several false positives and wrongly classified objects. It would be useful to me to get a

[2020-07-22 11:28] Dewey1994 opened #2501 "vision executed problem about cuda (warning)"
when i use libtorch=1.5.0  downloaded from pytorch website and vision=0.6.0, both of them compiled with cuda, im using the retinanet to inference with c++.  but , the result of the c++ inference is not correct with warning

[code]

python code for retinanet

[code]

[code]

c++ output
[code]

the mid of the input is normal , the others is abnormal

please, what should i do

[2020-07-22 13:38] dmitrysarov opened #2502 "Why do we need target put .to(device)?"
Consider key points detection task.
The question refers to this line
https://github.com/pytorch/vision/blob/1aef87d01eec2c0989458387fa04baebcc86ea7b/references/detection/engine.py#L86
Seems to be redundant.
In my case, I comment out this line and remove .item() in line 95, and at least evaluation starts.
Moreover, COCO dataset output is a tuple({'image_id': int, 'annotations': list(...)}) and I do

[2020-07-22 16:03] pmeier commented on #2502
Hi @dmitrysarov

https://github.com/pytorch/vision/blob/1aef87d01eec2c0989458387fa04baebcc86ea7b/references/detection/engine.py#L86

You are right, this is not needed for the evaluation since the `targets` are not fed into the `model`. This seems to be a copy & paste error from the trainings loop, where this is needed:

https://github.com/pytorch/vision/blob/1aef87d01eec2c0989458387fa04baebcc86ea7

[2020-07-22 16:08] pmeier commented on #2501
Hi @Dewey1994, could you try to compile a [minimal example](https://en.wikipedia.org/wiki/Minimal_working_example) that shows this behavior? That would make debugging easier for us.

[2020-07-22 17:11] dmitrysarov commented on #2502
Sorry last part was my mistake, I miss understood functionality of https://github.com/pytorch/vision/blob/1aef87d01eec2c0989458387fa04baebcc86ea7b/references/detection/coco_utils.py#L50
It was not clear from the name that this function is mandatory for all tasks (including keypoint detection).

[2020-07-22 17:33] zhiqwang commented on #1422
Hi, I implement a SSD detector based on torchvision's faster-rcnn, named [demonet](https://github.com/vanillapi/demonet). I use similar structure with torchvison's. Currently I use [mobilenet_v2](https://github.com/pytorch/vision/blob/master/torchvision/models/mobilenet.py) as the backbone.

**DEMONET support for torchscript.** Now I focus on model's inference, to make it fully support for torchsc

[2020-07-22 18:59] fepegar commented on #1884
Should I open a new issue for this?

[2020-07-23 10:40] LilySnow commented on #555
Sometimes we want to process images with different sizes. Padding with 0 is not ideal for this case.

[2020-07-23 16:24] bjuncek commented on #2474
Hi @v-iashin - have you been able to resolve this issue when using the 'sec' as a default pts_unit?
I have done some testing of that on TV 0.5/6 but not on the latest master, so if needed let me know and I'll take a look into this :)

[2020-07-23 16:29] bjuncek commented on #2460
Yeah I think this makes sense short term.
Did you think of doing it on the python side? That would be convenient as one could shut them up in one place if they were annoying.

[2020-07-23 16:30] crypdick commented on #566
@fmassa I have a use-case which prohibits the use of  "generic interval" rotations because it destroys information I need in the corners. In particular, I can only use order-4 symmetry transforms (image attached). Using only reflections (RandomHorizontalFlip and RandomVerticalFlip) I can only get 4 of the 8 possible transforms.

![](https://upload.wikimedia.org/wikipedia/commons/thumb/c/cc/Dih4_cy

[2020-07-24 03:26] clemkoa commented on #2440
Hey, I'd be happy to look into this if no else has already started.

[2020-07-24 04:58] v-iashin commented on #2474
Hi @bjuncek there is no `pts_unit` argument in `VideoClips`. `read_video` works as I expect it to work -- reads an entire video.

[2020-07-24 08:38] jiahaosuda opened #2505 "Error when training Resnet with nn.DistributedDataParallel"
When I try to train [Resnet](https://github.com/pytorch/vision/blob/master/torchvision/models/resnet.py) with `nn.DistributedDataParallel` using multi-gpus, the error occurs as below. But when I use only one gpu, it's just ok.

![image](https://user-images.githubusercontent.com/40142236/88374211-ed35c280-cdcb-11ea-8f8b-e452e52c11ce.png)

Some of the code:
[code]

[2020-07-24 11:41] vfdev-5 commented on #2292
@fmassa if ops should also work on tensors on non-cpu devices, a supplementary check of certain geometrical ops will be needed. Should we setup some CI tests for that ?

[2020-07-24 12:40] simonvaj opened #2506 "ROIAlign.h(29,30): error C2039: 'typed': is not a member of 'c10::OperatorHandle'"
Trying to build the source using cmake with Visual Studio 2019 on Windows, pytorch version: 1.5.1, while compiling  I get the error messages below. I have verified that e.g. `typed` is not a member of `c10::OpeationHandle`, am I mixing versions even though I use the latest torch and torchvision?

I used the command `cmake --build . --config Release`

[code]

[2020-07-24 16:18] vfdev-5 commented on #2505
@jiahaosuda actually, what is the purpose of `x = nn.init.normal_(x, mean=0, std=1024 ** -0.5)` in `ResNet.forward` of your code ?

[2020-07-24 16:34] vfdev-5 commented on #2497
@Areiser please, take a look at `references/segmentation` with reference training scripts for semantic segmentation. If you take a look at `ToTensor()` operation adapted for semantic segmentation:
https://github.com/pytorch/vision/blob/1aef87d01eec2c0989458387fa04baebcc86ea7b/references/segmentation/transforms.py#L78-L82

Target is not transformed with `F.to_tensor` operation. Maybe, this could be

[2020-07-24 16:56] Areiser commented on #2497
Yes as described this is exactly the approach I took. It just seemed unintuitive that I could not use the default ToTensor() for this, but I guess it is intended this way. I was not aware of the reference scripts, thanks for that. At least it is well documented both in the reference as well as the default ToTensor so I will close this issue.

[2020-07-24 16:56] #2497 closed

[2020-07-24 18:21] #2458 closed

[2020-07-24 20:19] bjuncek commented on #2474
Ah, I see that it's still set up as "pts" by default.
If you simply replace the default to "sec" on lines [here](https://github.com/pytorch/vision/blob/1aef87d01eec2c0989458387fa04baebcc86ea7b/torchvision/io/video.py#L298) and [here](https://github.com/pytorch/vision/blob/1aef87d01eec2c0989458387fa04baebcc86ea7b/torchvision/io/video.py#L182), does that solve your issue?

If so, I'll send a PR late

[2020-07-24 20:28] bjuncek commented on #2490
Hi @JuanFMontesinos , thanks for raising this!

Are you using the `video_reader` backend or are you using `pyav` backend for this. If it's not that much of a bother, could you try using the former?

From what I see, it seems like libav's probing is for one reason or another missing the timestamp of these frames - it sees 3537 frames so it returns only that. Both `pyav` and `CV2` use libav's probin

[2020-07-24 20:35] bjuncek commented on #2296
hi @DAVEISHAN
This is a bit out of scope for TV, as we only provide benchmarks and minimal reproduction examples.

Please raise this issue in [Facebook's Video Model Zoo](https://github.com/facebookresearch/VMZ) repo - they should have data available (and perhaps even models ready).

[2020-07-24 20:35] #2296 closed

[2020-07-24 21:00] vfdev-5 commented on #2497
@Areiser yes I agree that probably the scope of transforms like `ToTensor()` may seem not be clear. Maybe, a note in the documentation of `ToTensor()` saying that we should not use it to transform targets to tensor can be helpful.

PS. If you would like help to improve the project, feel free to send a PR :)

[2020-07-24 22:37] JuanFMontesinos commented on #2216
Hi, I was digging into video_reader backend and this may be interesting https://github.com/pytorch/vision/issues/2490

[2020-07-24 22:41] JuanFMontesinos commented on #2490
Hi,
BTW I liked you paper Cooperative Learning of Audio and Video Models from Self-Supervised Synchronization.

Soo bit hands on,  according to this post of fmassa https://github.com/pytorch/vision/issues/2216
video_reader backend requires compiling from source
Here there is more info about video_reader
https://github.com/pytorch/vision/releases/tag/v0.4.2
[code]
I've got that wonderful error. Soo

[2020-07-25 00:19] JuanFMontesinos commented on #2460
Do you mean in a PR?
Sooo I don't think such a warning/exception would be annoying. Anyway if you set a wrong timestamp to seek, an error will be eventually thrown due to size mismatching in the dataloader.

[2020-07-25 08:55] v-iashin commented on #2474
Nope, it does not. It fails:
[code]
because now `read_video_timestamps` returns `Fraction` coming from `video_time_base`. To this end, I replaced
https://github.com/pytorch/vision/blob/1aef87d01eec2c0989458387fa04baebcc86ea7b/torchvision/io/video.py#L347
with
[code]
Still this returns me
[code]
`torch.Size([1, 0])` I expect it to be `torch.Size([~<audio_fps>, 0])`

Then, I inspected it a bit and f

[2020-07-25 13:43] Dewey1994 commented on #2501
sorry for three-day delay, when i debug in my environment, i found these code
[code]
caused the problem
[code]

when i remove these code , my code is normal.

i will close this issue

thanks for  your answer! @pmeier

[2020-07-25 13:43] #2501 closed

[2020-07-25 13:59] jiahaosuda commented on #2505
By using `x = nn.init.normal_(x, mean=0, std=1024 ** -0.5)`, i just try to extract the feature of the image to act as the its embedding (as same as word embedding). How can i do instead of this usage?

But when i remove `x = nn.init.normal_(x, mean=0, std=1024 ** -0.5)` from the code, the error still exists. And the error shows something around `out = self.bn3(out)` may get wrong, so i guess maybe

[2020-07-25 16:15] fulkast opened #2508 "Number of anchors VS. number of aspect ratios."
https://github.com/pytorch/vision/blob/1aef87d01eec2c0989458387fa04baebcc86ea7b/torchvision/models/detection/faster_rcnn.py#L188

The line above seems to fetch, for each location, the number of aspect ratios of anchors (not multiplying by the number of different sized anchors).

[2020-07-25 21:29] xunleiwu opened #2509 ""nvcc fatal : A single input file is required..." and "#error C++14 or later compatible compiler is required to use ATen.""
## 🐛 Bug

Build from source failed with "nvcc fatal   : A single input file is required..." error. Build C++ API also failed with "#error C++14 or later compatible compiler is required to use ATen." errors despite explicitly specifying gcc/g++ 7.4.0 toolchain.

## To Reproduce "nvcc fatal   : A single input file is required..." error:

Steps to reproduce the behavior:
1. git clone https://github.c

[2020-07-25 21:36] xunleiwu commented on #2509
My local machine's gcc/g++ are of version 4.8.5. After I symbolic linked to the network gcc/g++ by
1. cd /bin; sudo mv gcc gcc.ori; sudo mv g++ g++.ori
2. sudo ln -s /sas3rd/dev/mva-vbviya/lax/gcc/gcc-7.4.0/bin/gcc gcc
3. sudo ln -s /sas3rd/dev/mva-vbviya/lax/gcc/gcc-7.4.0/bin/g++ g++
I can finish building C++ API successfully. This makes me believe that the vision/CMakefiles.txt has a bug which h

[2020-07-27 04:55] elpz commented on #645
Hi @fmassa

Would it be possible to add the ShuffleNet v2 **x1.5** pretrained model, please? I would really appreciate it.

[2020-07-27 05:28] pmeier commented on #2506
Hi @simonvaj in general the `master` branch from `torchvision` depends on the `master` of `torch`. I'm not in a position to tell if that is the problem here, but could you try to install `torch` from source or the [preview (nightly) version](https://pytorch.org/get-started/locally/) and see if that solves your problem?

[2020-07-27 14:10] SatyamGaba commented on #408
Can we use ToPILImage(object) as the first transformation in a custom dataloader?

[2020-07-27 15:05] bryant1410 opened #2510 "VideoClips fails silently when you don't have at least `clip_length_in_frames` in a video"
## 🐛 Bug

`VideoClips` fails silently when you don't have at least `clip_length_in_frames` in a video.

## To Reproduce

Steps to reproduce the behavior:

1. Create an `HMDB51` instance (with its corresponding data; which uses `VideoClips`):

[code]

2. Iterate the dataset with the dataloader, and there will be missing videos. In particular, you can inspect the attribute `dataset.video_clips.clips

[2020-07-27 22:41] bjuncek commented on #2490
Gotcha, yeah I agree the compilation is annoying to get right, especially outside of the clean env. I really hope the fix for that comes soon :)

The error itself is not necessarily helpful, it's more of a pointer that something has gone wrong. If you have conda installed, can you build this from scratch on the clean env? Just a simple build -  the following worked for me:

[code]

In the meantime

[2020-07-27 23:08] bjuncek commented on #2460
Sorry for being unclear:
1. Yes I agree that would be useful, but, this would only really work post mortem. Getting duration from a video can be very unpredictable before we actually decode it.
2.  Yes in a PR - I just wanted to make sure that the warning is issued in the python part of the VideoReader :)

[2020-07-28 05:10] pmeier commented on #2510
Might be related to / resolved by #2460.

[2020-07-28 05:12] pmeier commented on #2460
@JuanFMontesinos if you create a PR adding this, could you have a look at #2510 and fix this too if applicable?

[2020-07-28 08:56] oke-aditya commented on #2486
I added this to discussion [here](https://discuss.pytorch.org/t/torchvision-object-detection-models-tpu-support/90799). Maybe it will need some time and more thorough thought.

[2020-07-28 12:48] fmassa commented on #2473
This relates to https://github.com/pytorch/vision/issues/2068 although the error message is different, but the root issue is the same (very old serialization format).

The workaround on your side for now could be to avoid using the `map_location` for CUDA, and convert manually the tensors to GPU if needed (or maybe even just pass the weights on CPU to `load_state_dict` while the model is on CUDA,

[2020-07-28 14:38] simonvaj commented on #2506
Hi @pmeier that did help, it was easy to install the nightly version of torch using pip with flag --ignore-installed. Now I know this is the relevant version to use. Thank you very much.

[2020-07-28 14:38] #2506 closed

[2020-07-28 15:33] bryant1410 commented on #2510
I think it's unrelated. #2460 happens when you ask for an out-of-bounds frame. The one I'm saying is about building what clips can you get from a video, which in turn returns an empty clip set because there aren't enough.

[2020-07-28 18:54] bjuncek commented on #2490
Ok, so I've passed on this and it seems like it's a problem with your video, not a reader problem - in any way I check, there are only 3537 frames registered; specifically:

FFPROBE:
[code]

FFMPEG (see last line)
[code]

PYAV and CV2
[code]

Finally TV with video reader backend:
[code]

ImageIO:
Fails on reading this video with your code with
`OSError: [Errno 12] Cannot allocate memory`

I'm goin

[2020-07-28 18:54] #2490 closed

[2020-07-28 18:55] bjuncek commented on #2510
I believe that's a regression comming from TV 0.6 (with new async video reader).
Can you try this with tv0.5?

[2020-07-28 20:47] bryant1410 commented on #2510
@bjuncek I think it's gonna be the same because the code in the `v0.5.0` git tag has the same part of the code that I pointed out above is still there. The `unfold` isn't gonna select any clip and thus not process the corresponding video.

[2020-07-28 21:00] JuanFMontesinos commented on #2490
Hi,
I think it doesn't probe my point. This is a webm video stream (so bad quality) downloaded from youtube (that's why ended up as mkv) and resampled by ffmpeg. This could be a typical DL pipeline. Ofc I imagine there is some "issue" with the video from either the downloader, the container or youtube itself. However I understand that the original aim of torchvision's reader was providing a robust

[2020-07-28 22:36] jph00 opened #2512 "Pad() fails on floating point image with TypeError"
## 🐛 Bug

torchvision.transforms.Pad raises `TypeError: must be real number, not tuple`.

## To Reproduce

[code]

## Expected behavior

`x` should be padded. However, instead, `TypeError: must be real number, not tuple` is raised.

## Environment

[code]

## Additional context

Stack trace:

[code]

[2020-07-28 22:49] bjuncek commented on #2490
The idea of torchvision video reader is to be robust and flexible - it doesn't make assumptions and it reads what can be read from the format if it's supported by ffmpeg (since it uses it in the underlying implementation). In the case of the video which is in one way or another corrupted (like the one you have here), it won't break or ask you to re-encode video in a particular way - it will read w

[2020-07-28 23:00] bjuncek commented on #2510
Ah I see what you mean - there is an issue in 0.6 which has a rounding error so that some clips are skipped, but I see your point - yeah, I think raising a warning there is a good idea. Would you mind sending a PR?

[2020-07-28 23:07] JuanFMontesinos commented on #2490
I see thanks for the clarification. I just was worried about why plain ffmpeg frame extraction can see the 3688 frames but the backend ffmpeg used by these many libraries is reading less. But I imagine, as you said it's a problem of header and metadata.
BTW I didn't know decord.  That's for pointing it out.

Thank you very much for your time.
Juan

[2020-07-29 01:14] bryant1410 commented on #2510
We can add a warning, but what about doing something about it? One thing could be to pad with zeros, another one to pad with a determined value or let the user pass a padding callback. Thoughts?

[2020-07-29 01:14] bryant1410 commented on #2510
Another one could be to repeat the last frame.

[2020-07-29 06:42] pmeier commented on #2512
Thanks for the report @jph00. This is a bug in

https://github.com/pytorch/vision/blob/1aef87d01eec2c0989458387fa04baebcc86ea7b/torchvision/transforms/functional_pil.py#L397-L398

since images with mode `F` do not accept a tuple of fill colors.

@fmassa I have a vague recollection of you fixing this already but I can't find the commit.

[2020-07-29 08:51] gnthibault opened #2514 "AttributeError: module 'torch.jit' has no attribute '_script_if_tracing'"
Dear all, for some reason, I recently started to have problems with torchvision, although it looks like I haven't changed anything recently.

Do you have any idea what happened ?
Thank you in advance for your help

[code]

Which versions am I using:

cc @suo @gmagogsfm

[2020-07-29 08:53] fmassa commented on #2512
@pmeier I think I fixed this for `rotate` in https://github.com/pytorch/vision/pull/1828

[2020-07-29 08:56] fmassa commented on #2514
Hi,

You need a more recent version of PyTorch for this to work. We released yesterday torchvision 0.7.0, which is compatible with PyTorch 1.6.0.

Also, looks like there might be some sort of conflict in your system, as your error message mentions `_script_if_tracing`, which was not present in torchvision 0.5.0, so this might be one of the root causes.

I believe this is an issue of version incomp

[2020-07-29 08:56] #2514 closed

[2020-07-29 08:57] pmeier commented on #2512
I'll send a fix later.

[2020-07-29 08:57] fmassa commented on #2440
Hi,

Please go ahead @clemkoa !

[2020-07-29 09:40] fmassa commented on #2292
Yes, please!

[2020-07-29 09:59] fmassa commented on #2481
Hi,

The `x2, y2` coordinates are inclusive, not exclusive, so the box size that you are considering is of size 3x3, and not 2x2.

So for the first element (which returns 15.5) you are considering elements `(12 + 13 + 18 + 19) / 4` (which is equal to 15.5).

I believe I've answered your question, and as such I'm closing this issue, but let us know if you have further questions

[2020-07-29 09:59] #2481 closed

[2020-07-29 11:35] JuanFMontesinos commented on #2460
Closing issue after PR.

[2020-07-29 11:35] #2460 closed

[2020-07-29 12:22] chiboreache commented on #1405
same on ArchLinux np is 1.19

torch.__version__:  1.6.0rc7
torchvision.__version__:  0.6.0a0

[2020-07-29 14:05] ag14774 opened #2517 "Resize sometimes fails"
https://github.com/pytorch/vision/blob/300ef76d3b6e9c33c58cd124e5f5514a927cadf1/torchvision/transforms/functional_tensor.py#L589

The specific line above will sometimes cause the image to be returned unresized with no warning even when an explicit size (h,w) is given. This will also cause problems to the transform `RandomResizedCrop`.

[2020-07-29 14:40] SmallPigPeppa commented on #215
Thank you a lot!!! very helpful answer

[2020-07-29 17:30] anguelos opened #2519 "setup.py dynamically changes the pytorch version dependency."
## 🐛 Bug

setup.py sets the pytorch dependency version to whatever was available when the package was built.
This changes the behavior (requirements) of the torchvision package depending on the system on which it is being packaged (setup.py runs).
I believe a dictionary with the table in https://pypi.org/project/torchvision/
I am not sure if I am missing something on why this should be dynamic.
Bu

[2020-07-29 17:46] pmeier commented on #2519
This might be related to #2359.

[2020-07-29 18:15] anguelos commented on #2519
I could make a pull request with what I believe is the proper behavior.
But I am not sure how to test it.

[2020-07-30 05:22] pmeier commented on #2519
If I understand you right, a dictionary isn't going to help much. If we patch `setup.py` the change will only effect `torchvision>0.7.0`. Thus, it is enough to pin `torch` to the current or upcoming version. Right now we could pin it to `torch>=1.7` and change that to `torch==1.7` for the next release.

I've wondered this myself. @fmassa any insights?

[2020-07-30 05:27] hkchengrex opened #2520 "Possible BC break by the use of torch.rand()"
I find that `random.random()` was replaced by `torch.rand()` in some of the random transforms (e.g. RandomHorizontalFlip) not in some others (e.g. RandomGrayscale).

I believe a lot of users rely on the previous `random.random()` behavior by manually seeding `random` to apply an identical transform to the image/segmentation/etc. See this highly upvoted (and thus copied and used) comment: https://g

[2020-07-30 07:18] anguelos commented on #2519
I have proposed an equivalent PR in kornia as it uses the same design pattern for setup.py .
https://github.com/kornia/kornia/pull/597/files

I suggest the proper strategy is to set a minimum version either based on evidence (eg passed testcases) or what what was used for development. And set the maximum by default open, and change that once there is evidence something breaks.

The question is sho

[2020-07-30 09:57] fmassa commented on #2520
Hi,

Thanks for opening the issue.

This change is part of a larger change that we haven't yet finished for the 0.7.0 release, and for the next release all classes will use `torch.rand()` instead of `random.random()`.

I agree we should have mentioned it more broadly in the release notes though, will make a note there.

There is unfortunately no way to avoid the change to `random.random()` for now

[2020-07-30 10:02] fmassa commented on #2520
Updated the release notes and the comment in https://github.com/pytorch/vision/issues/9#issuecomment-304224800 , thanks a lot for the feedback @hkchengrex !

[2020-07-30 10:02] #2520 closed

[2020-07-30 10:04] #2512 closed

[2020-07-30 10:07] fmassa commented on #963
@andfoy could you work on this? The first dataset that would be good to have is UCF101 for  https://github.com/pytorch/vision/pull/2475

Let me know if you have questions

[2020-07-30 10:58] fepegar commented on #2490
@bjuncek I'm using the commands you shared in https://github.com/pytorch/vision/issues/2490#issuecomment-664674758 to build, but I'm getting the following error. Do you know what could be wrong?

[code]

[2020-07-30 11:57] fmassa commented on #2519
Hi @anguelos

Unfortunately what you propose is not possible since torchvision 0.3.0, as we introduced compiled elements to torchvision that depend on a specific version of PyTorch, as there are ABI incompatibilities between pretty much every PyTorch version.

We have been having multiple user issues in the past due to incompatible PyTorch / torchvision versions, see https://github.com/pytorch/vis

[2020-07-30 11:57] #2519 closed

[2020-07-30 12:02] fmassa commented on #2326
@gan3sh500 sorry for the delay in replying.

If you change the number of GPUs, you'll need to adapt the learning rate to follow the linear scaling rule -- if you divide the global batch size by 8x, you should divide the learning rate by 8x

[2020-07-30 12:07] fmassa commented on #2498
Hi,

This is indeed related to #1405 and you need to make sure that your pytorch and torchvision versions are compatible.

Can you try uninstalling / re-installing pytorch and torchvision to lastest version, and making sure that `torch.__version__` and `torchvision.__version__` print compatible versions?

I'm closing this as a duplicate of #1405, but let us know if you still have issues after the

[2020-07-30 12:07] #2498 closed

[2020-07-30 12:10] fmassa commented on #2502
Fixed by https://github.com/pytorch/vision/pull/2503

[2020-07-30 12:10] #2502 closed

[2020-07-30 12:12] fmassa commented on #555
@LilySnow that's correct, and the work of NestedTensors by @cpuhrsch https://github.com/pytorch/nestedtensor will give an unified and elegant way to solve this.

[2020-07-30 12:18] fmassa commented on #2490
@fepegar I believe you need to update your PyTorch version and recompile torchvision again.

[2020-07-30 12:19] fmassa commented on #1405
@chiboreache PyTorch 1.6.0 requires torchvision 0.7.0

[2020-07-30 12:30] fmassa commented on #2508
Hi,

In the current implementation, we assume that each feature map has the same number of reference anchors per location.

But we do take into account the number of different sized anchors, see https://github.com/pytorch/vision/blob/1aef87d01eec2c0989458387fa04baebcc86ea7b/torchvision/models/detection/rpn.py#L112

I believe I have answered your question, and as such I'm closing this issue, but le

[2020-07-30 12:30] #2508 closed

[2020-07-30 13:13] fepegar commented on #2490
Thanks. For some reason, `conda` was installing `1.4` so I had to explicitly ask for `pytorch=1.6`.

[2020-07-30 13:29] chiboreache commented on #1405
that really strange

in aur we only has 0.6.1-1

![Screenshot_20200730_162700](https://user-images.githubusercontent.com/16459251/88928701-cb33b880-d281-11ea-800e-acb2af795902.png)

[2020-07-30 13:50] cliffplaysdrums commented on #2514
I encountered this issue today as well. torch 1.5 was already installed, and I installed torchvision 0.7 via PyCharm globally. I later discovered that this method of install did not result in an upgrade of torch. I initially downgraded torchvision to 0.4 as a workaround. Afterwards a simple `pip3 install torchvision` appropriately upgraded torchvision back to 0.7 _and_ upgraded torch to the compat

[2020-07-30 13:50] chiboreache commented on #1405
@fmassa

git version actually was 0.8.0a0+f5bf9d5

it finally works again, thank you!

but i getting warning

[code]

is it torch or detektron2 issue?

[2020-07-30 14:52] Huangxt57 commented on #2481
Thanks for answering, I have understood after your explanation. Best wishes.

[2020-07-30 15:25] fmassa commented on #1405
this warning is expected, and was introduced in the latest release of PyTorch. detectron2 should update its implementation to use `torch.nonzero(x, as_tuple=False).unbind(1)`

[2020-07-30 15:26] fmassa commented on #2514
Cool, let us know if you have further issues

[2020-07-30 16:25] LilySnow commented on #555
Thanks. That would be very helpful.

[2020-07-30 16:43] fmassa commented on #566
@crypdick that is a valid point.

@vfdev-5 thoughts on this?

[2020-07-30 20:39] jxmorris12 commented on #1943
If anyone encounters this, this is what happened to me:

1. Updated torchvision to a version not compatible with torch
2. Run code that loaded a torchvision dataset, then threw an error
3. Downgraded torchvision to proper version
4. Re-ran code that loaded that dataset, which had been downloaded in a newer format, which couldn't be recognized by older torchvision

To fix it, I removed the dataset

[2020-07-31 12:57] fmassa commented on #1229
It would be great if we re-enabled all tests that are currently disabled on Windows. Many failures are OS failures, like those in
`test_datasets.py`, `test_datasets_utils.py`, `test_datasets_video_utils.py`, `test_io.py` and `test_utils.py`

[2020-08-01 17:34] pevogam commented on #2265
Hi @fmassa, could we somehow integrate this `collate` suggestion into the UCF101 dataset/loader classes or at least offer the user to optionally drop the audio from the return arguments? As some UCF101 videos don't have audio and others have one channel resulting in different [1, 0], [1, 11520] or [2, 11520] shapes (from what I have gathered so far) this will always be a part of the UCF101 dataset

[2020-08-01 17:35] pevogam commented on #2265
Probably even just mentioning this in the UCF101 dataset class documentation would be useful.

[2020-08-02 12:13] vfdev-5 commented on #566
@crypdick yes, rotations by 90 degrees as you suggest are definitely make sense for satellite, medical imagery and as data augmentations in torchvision. IMO, the reason why this is not yet built-in in torchvision, probably, due to "photography" type of imagery intended to be processed (like ImageNet) where upside-down rotation does not make much sense...

@fmassa I agree that this can be an enhanc

[2020-08-02 20:52] burhanmudassar commented on #2498
I tried with torch 1.4.0 and torchvision 0.5.0 and it works. The bug that I faced was with the binary compiled for cuda 10.0. Perhaps the operator was not compiled for that particular CUDA

[2020-08-03 07:16] kennyFF92 opened #2545 "Different types of IoU"
## 🚀 Feature

Implementation of 3 other types of IoU metric in torchvision.ops.boxes:
1. Generalized IoU
2. Distance IoU
3. Complete IoU

## Motivation

Since these metrics can lead to better results in some cases (object detection, etc.) it could be useful to have them natively implemented.

## Pitch

Users who need IoU computation can simply choose from 4 different implementation using the same

[2020-08-03 08:08] Shubhammawa opened #2546 "Batch support for torchvision.transforms.functional"
Support for a batch of images in torchvision.transforms.functional.

Currently the torchvision.transforms.functional transformations take only a single image as input. Sometimes after creating the dataloader, I need to transform the images during the training loop, but passing the batch of images to transforms.functional raises an error expecting a 2/3 dimensional input while it gets a 4-dimension

[2020-08-03 09:11] fmassa commented on #2546
Hi,

We are progressively adding support for tensors inputs in the `transforms.functional`, and with this it will have support for batch of images as well.

See
https://github.com/pytorch/vision/blob/62e3fbd82a7e6c9c6455af57cf8c4191035c90d4/torchvision/transforms/functional_tensor.py#L594-L596
which gets dispatched to from `torchvision.transforms.functional.resize` when the input is a tensor https

[2020-08-03 09:11] #2546 closed

[2020-08-03 09:51] fmassa commented on #2498
We stopped providing binaries for CUDA 10.0 starting from torchvision 0.6.0 IIRC, so that would explain it

[2020-08-03 10:49] vfdev-5 commented on #2505
@jiahaosuda sorry for delayed reply !

Normally, DDP training of the origin resnet should work without problems : https://github.com/pytorch/examples/tree/master/imagenet
Without any reproducible code it would be rather difficult to inspect the problem of your ResNet implementation...

`nn.init.normal_` is an operation that fills the input Tensor with values drawn from the normal distribution: htt

[2020-08-03 11:06] vfdev-5 opened #2547 "Add warning to the documentation of F_pil and F_t functions"
## 📚 Documentation

Follow-up of https://github.com/pytorch/vision/pull/2495#discussion_r462161448 to add a warning in the documentation of of each of the functions in `F_pil` and `F_t` about the assumption that all those methods are private and user should not use those functions explicitly.

cc @vfdev-5

[2020-08-03 12:36] fmassa commented on #2545
Hi,

This is a good request. I have seen benefits for Generalized IoU in the past, although for us Distance / Complete IoU didn't show any benefits.

From a number of citations perspective, I would say that we could currently add Generalized IoU to torchvision, and wait a bit more on Distance / Complete IoU to see if more people find it helpful.

[2020-08-03 12:37] fmassa commented on #2545
For information, here is [an implementation for Generalized IoU](https://github.com/facebookresearch/detr/blob/f4cdc542de34de771da8b9189742e5465f5220cd/util/box_ops.py#L40-L61) that fits the same API as the IoU from torchvision

[2020-08-03 12:39] #2517 closed

[2020-08-03 12:40] fmassa commented on #2517
Thanks for the fix @ag14774 !

[2020-08-03 12:45] fmassa commented on #2505
Hi,

The error you are facing is what @vfdev-5 mentioned: you probably don't want to do an in-place operation in your tensor in the forward, as you'll lose the data you had in there.

The other error you are facing is probably because now `fc2` is not used anymore, and as such you are facing an error such as "some parameters are unused" in DDP, which you can fix by either removing the `fc2` from t

[2020-08-03 12:45] #2505 closed

[2020-08-03 13:14] fmassa commented on #2494
@neginraoof is our reference for all ONNX-related changes.

[2020-08-03 13:16] fmassa commented on #2470
@Dewey1994 if you are compiling torchvision from source, you need a compiler that supports C++14

[2020-08-03 16:37] kennyFF92 commented on #2545
I already had an implementation and now I aligned it to the one you mentioned. I'd like to contribute with a pull request but I can't find a guide for contributing and I don't want to create too many problems

[2020-08-04 03:52] jinfagang opened #2549 "File "/usr/local/lib/python3.6/dist-packages/torchvision/ops/feature_pyramid_network.py", line 53, in __init__ raise ValueError("in_channels=0 is currently not supported") ValueError: in_channels=0 is currently not supported"
[code]

How to fix this error in newest vision with older written style which I have a FPN start channel with 0.

[code]

[2020-08-04 07:14] Santiago810 commented on #689
Solution: open lmdb in worker_init_fn of torch.utils.data.DataLoader

[2020-08-04 08:35] Song-Yaming commented on #2139
@laplaceson @LI-Wen-Jiang   I have a same problem with you. Do you slove the problem?

[2020-08-04 09:19] fmassa commented on #2545
For contributing, the standard guidelines apply:
- fork the repo and create a branch for the feature
- add tests and documentation
- send the pull request and make sure that all tests pass (including lint)

[2020-08-04 09:38] Mut1nyJD opened #2551 "Functional affine documentation for Version 1.6.0 on torchvision.functional.transform.affine does not match code"
## 📚 Documentation

If you check the documentation on pytorch.org go to Libraries torchvision/ transforms / functional transforms

https://pytorch.org/docs/stable/torchvision/transforms.html#functional-transforms

Look at torchvision.transforms.functional.affine
the documentation says under parameters:

img (PIL Image or Tensor) – image to be rotated.

But when you actually use a tensor as input u

[2020-08-04 10:11] fmassa commented on #2551
Hi,

I think there might be an issue with the documentation, which is pointing to the master branch and not the 1.6.0 branch.

@jlin27 can you look into this?

[2020-08-04 17:25] anujgupt-github opened #2552 "Add NMS version which can do confidence based thresholding #42370"
## 🚀 Feature
Add NMS version which takes confidence threshold and prunes out low confidence scores from the entire prediction.

## Motivation
Motivation is that if Pytorch NMS requires only boxes which cross confidence threshold, it means that the filtering should be done apriori. This filtering usually results in an ONNX NONZERO operator, and if using GLOW, NONZERO can't be supported, owing to th

[2020-08-04 17:37] fmassa commented on #2552
Hi,

What is the advantage of doing it inside the operator itself, only for easier ONNX conversion so that we avoid potentially having dynamic shapes?

In my opinion, we should try to make the API as self-contained and simple as possible, and there are many ways that one can perform filtering (either before or after NMS).

Additionally, the current formulation for the NMS already has a dynamic sha

[2020-08-05 13:08] bmanga commented on #2509
@xunleiwu It seems like your default cmake is version 3.6.2. Did you try using your 3.15.2 cmake to build?

[2020-08-05 13:09] devarshi16 opened #2555 "Unable to load fasterrcnn state_dict with custom num_classes"
## 🐛 Bug

torchvision.models.detection.fasterrcnn_resnet50_fpn() giving error when the parameter pretrained is set to True and num_classes parameter is also supplied(other than 91).

## To Reproduce

Steps to reproduce the behavior:

[code]
The error that it gives
[code]

## Expected behavior

I was hoping it would load the state_dict on the base model and then change the `model.roi_heads.box_pred

[2020-08-05 15:14] fmassa commented on #2555
Hi,

This is expected and all models in torchvision (including the classification and segmentation models) follow the same behavior.

The reason is that the concept of what should be kept and what should be changed can be ill-defined, and in order to avoid confusion on the user-side we just let it explicit to the user to decide what to keep and what to re-initialize from scratch.

I'm closing this

[2020-08-05 15:14] #2555 closed

[2020-08-05 16:14] fmassa commented on #2549
Hi,

This is currently not supported, since we added torchscript support for faster r-cnn.

Contributions welcome!

[2020-08-05 16:33] fmassa commented on #2500
Hi,

You can attach forward hooks to the model so that you can obtain the intermediate outputs that you want.

Here is an example:

[code]
and you can do your custom processing on this.

I believe this is currently the best way of returning this intermediate outputs, and allows you to get more information than what you have requested (for example, the outputs of the pooled features before passing

[2020-08-05 16:33] #2500 closed

[2020-08-05 17:09] oke-aditya commented on #2486
@pmeier Any thoughts or updates ? I guess it would be important feature addition. This will allow to train future models in object detection, keypoint detection and semantic segmentation over TPU.

[2020-08-05 17:26] fmassa commented on #2486
Hi,

I don't think that we currently support TPUs for the detection models.
I believe part of the difficulty lies in the fact that these models have dynamic shapes, which are not very well-suited for TPUs.
Additionally, we also have custom ops in torchvision for those models, which I don't think have a direct TPU mapping.

@ailzhang can you chime in with more details?

[2020-08-05 18:48] ailzhang commented on #2486
Hi for the custom ops implemented in torchvision with only CPU & CUDA impl (instead of pytorch native ops), we currently support them also as custom ops in pytorch/xla upon request. For example, we added `nms` https://github.com/pytorch/xla/blob/d5b0b4e077496bb5cfaf823cc07f6f371b1a2af6/torch_xla/core/functions.py#L87 support upon user request. Feel free to open feature requests in pytorch/xla for

[2020-08-06 00:48] sumanthratna opened #2556 "bounding boxes in torchvision.utils"
## 🚀 Feature

I'd like to easily be able to draw a bounding box onto an image represented as a torch tensor.

## Motivation

Using YOLO, I get a bunch of bounding boxes in an image. I want to be able to easily draw those onto a torch tensor (created via `torchvision.transforms.ToTensor`). This seems like a reasonable request because other bbox utilities such as NMS exist in torchvision.

## Pitch

[2020-08-06 02:49] oke-aditya commented on #2486
As @fmassa pointed out. It might not be suitable for TPUs, for dynamic shapes.
I have a few doubts though.

Assume that user has fixed size of images, (through transforms or preprocessing) and feeds it as input to detection models.
Will that also not be suited for TPUs?

Is it because torchvision uses GeneralizedRCNNTransform() for detection models?

Will it be advantageous and feasible to support

[2020-08-06 05:26] pmeier commented on #2556
Hey @sumanthratna this sounds like a reasonable request. Lets wait for @fmassa to approve this, but I think we can move forward with this. Would you like to send a PR?

[2020-08-06 09:22] sanka4rea commented on #1048
I tried out your solution @YongWookHa, but got an error as shown below:

`train Loss: 0.9664 Acc: 0.5738

Traceback (most recent call last):
  File "/home/Qilin/anaconda3/envs/torch0721/lib/python3.7/site-packages/IPython/core/interactiveshell.py", line 3343, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "<ipython-input-2-01e31a117c9f>", line 153, in <module>
    num_epo

[2020-08-06 12:43] sumanthratna commented on #2556
Sure @pmeier!

Here are the solutions I'm thinking of:
- converting the torch tensor to a numpy array or PIL Image (see "Alternatives")
    - pro: This will make drawing the actual bbox a job for either cv2 or PIL as opposed to torchvision, which means less maintenance work for you
    - con: if I use a for-loop to call this new torchvision function multiple times on the same image, converting to

[2020-08-06 13:26] vfdev-5 commented on #2292
@nairbv would you be interested in working on unifying `adjust_hue` ?

[2020-08-06 18:21] martinResearch opened #2557 "broken link to documentation in readme"
## 🐛 Bug
 the link to the documentation in the readme file [http://pytorch.org/docs/master/torchvision/](http://pytorch.org/docs/master/torchvision/) is broken. It should be replaced by [https://pytorch.org/docs/stable/torchvision](https://pytorch.org/docs/stable/torchvision) I believe.

[2020-08-06 20:39] vfdev-5 commented on #2557
This issue is probably related to https://github.com/pytorch/vision/issues/2551
Instead of stable docs, master version is shown.

[2020-08-07 07:00] romesco commented on #456
ping =] seems useful to me!

[2020-08-07 10:08] prabhuomkar opened #2559 "Mask R-CNN converted via JIT fails to load in PyTorch Android"
## 🐛 Bug

**ERROR**:
[code]

## To Reproduce

Steps to reproduce the behavior:
Conversion:
[code]
Android:
[code]

## Expected behavior

Shouldn't fail with above error

## Environment

 - PyTorch / torchvision Version (e.g., 1.0 / 0.4.0): 1.6.0 / 0.7.0
 - OS (e.g., Linux): macOS
 - How you installed PyTorch / torchvision (`conda`, `pip`, source): pip
 - Build command you used (if compiling from s

[2020-08-07 11:04] vfdev-5 commented on #2559
@prabhuomkar I maybe wrong, but in your android code seems like the input is a tensor and not a list of tensors https://github.com/pytorch/vision/blob/master/torchvision/models/detection/mask_rcnn.py#L149 ?

[2020-08-07 11:10] prabhuomkar commented on #2559
Hey, I mentioned `#fails` on wrong line of code. It fails when I try `Module.load()`

[2020-08-07 12:57] charlie4284 opened #2560 "DeformConv2d(torchvision.ops) view size is not compatible runtime error with loss.backward"
## 🐛 Bug

Runtime error occurs when `loss.backward()` with `nn.CrossEntropyLoss()` is run.

RuntimeError: view size is not compatible with input tensor's size and stride (at least one dimension spans across two contiguous subspaces). Use .reshape(...) instead. (view at ../aten/src/ATen/native/TensorShape.cpp:1329)

## To Reproduce

Steps to reproduce the behavior:

1. Create any net using torchvis

[2020-08-07 13:22] fmassa commented on #2560
Hi,

Thanks for the report, can you provide a smaller and self-contained example that reproduces the issue? It will make it much easier to spot and fix the issue.

[2020-08-07 13:23] fmassa commented on #2557
cc @jlin27

[2020-08-07 13:25] fmassa commented on #2292
@vfdev-5 go for it!

[2020-08-07 13:28] fmassa commented on #2559
Hi,

We currently don't support Faster / Mask R-CNN on mobile. The main blocker I believe is that we rely on custom operators, which to the best of my knowledge can't be yet exported to mobile.
Your error seems unrelated to this issue though.

cc @dreiss if you have further thoughts on this

[2020-08-07 14:10] charlie4284 commented on #2560
Sorry, accidentally hard coded the out_channels value as 16 in the given snippet above. My apologies for the mistake.
Closing issue.

[2020-08-07 15:01] fmassa commented on #2560
@charlie4284 you mean that this was an user-error? Still, I think it would be good to understand it a bit better so that the error message could be better

[2020-08-07 15:39] jotterbach commented on #2262
Seems this is a known issue, but wanted to raise this again as per @pmeier 's comment. I didn't want to open another ticket on this though.

[2020-08-07 16:38] pmeier commented on #2262
@jotterbach This was fixed in e757d52 but didn't make it in the latest release.

[2020-08-07 17:52] alex96295 opened #2562 "Error(s) in loading state_dict in ..., unexpected keys"
## 🐛 Bug

Hello, I am trying to quantize a model. I have done post training static quantization following the tutorial. During the conversion, I:

- define my model:

mymodel = model(cfg)

- load the state_dict

mymodel = load_state_dict(torch.load('weights.pt'))

- Prepare the model, calibrate it and convert it to its quantized version

- save the quantized version using

torch.save(mymodel_q.sta

[2020-08-07 18:15] fmassa commented on #2562
@raghuramank100 can you have a look?

[2020-08-07 23:05] CristianManta opened #2563 "BUG: ColorJitter in torchvision.transforms"
## 🐛 Bug

ColorJitter is supposed to be called on an image of type PIL or Tensor, but can only be called on images of type PIL.

## To Reproduce

Steps to reproduce the behavior:

1. Load the data by specifically composing a `ToTensor()` transformation followed by a `ColorJitter()` one.
2. Create a DataLoader using that dataset
3. Try to loop through the loader

Code example that reproduces this b

[2020-08-08 03:23] charlie4284 commented on #2560
[code]
I was able to replicate the issue again today, seems like it wasn't a user-error, sorry I was quite tired yesterday after work I wasn't able to provide detailed information!
Woud this code snippet be of any help?

[2020-08-08 08:35] fmassa commented on #2560
@charlie4284 I've tried your snippet on my laptop (CPU) on a very recent torchvision (from master) and didn't managed to reproduce the error.

Can you try updating torchvision and see if you still face the error?

[2020-08-08 11:15] charlie4284 commented on #2560
Works like magic! Thank you!

Some background info:
I was using the official Pytorch image for nvidia-docker from NVIDIA NGC (nvcr.io/nvidia/pytorch:20.07-py3) which contained torchvision version 0.6.0a0(pip).
Inside the container upgraded the torchvision dependency `pip install torchvision --upgrade`.
The current working torchvision version is as follows:
`torchvision==0.7.0`
Works both with CUDA

[2020-08-08 11:15] #2560 closed

[2020-08-08 20:50] firstprayer opened #2564 "Add a new parameter to skip conversion to PIL Image for VisionDataset Loading"
## 🚀 Feature
Add a new parameter to skip conversion to PIL Image for VisionDataset Loading

## Motivation

The original slowness-related issue was brought up in https://github.com/pytorch/pytorch/issues/42405. This SO question: https://stackoverflow.com/questions/63202478/why-pytorch-is-slower-than-tensorflow-in-read-data/63204186#63204186 is a live example.

The investigation (https://github.com/

[2020-08-09 11:57] anujgupt-github commented on #2552
Hi @fmassa -
Indeed the ask is for including filtering based on confidence threshold inside NMS API itself to avoid NonZero like operators.
You are right, the output will still need to be of a fixed shape, possibly padded by zeros in case of less bounding boxes in an inference.
This naturally fits very well with the ONNX NonMaxSuppression which contains conf_threshold also, and does this entire fi

[2020-08-09 13:34] ts19970816 opened #2565 "cmake torchvision出现的问题"
/home/ts/Downloads/vision-master/torchvision/csrc/ROIAlign.h: In function ‘at::Tensor roi_align(const at::Tensor&, const at::Tensor&, double, int64_t, int64_t, int64_t, bool)’:
/home/ts/Downloads/vision-master/torchvision/csrc/ROIAlign.h:29:25: error: ‘class c10::OperatorHandle’ has no member named ‘typed’
                        .typed<decltype(roi_align)>();
                         ^~~~~
/home/

[2020-08-09 18:41] CristianManta commented on #2563
I opened a pull request to attempt to address the reported bug.

[2020-08-09 19:12] beni20 commented on #1409
fyi transformations overview or list section on the top/side menu could be handy too. Examples/Images are the best only its slightly more PR effort... Currently to view all transformation options i had to scroll through the whole page:(
I was only interested in the interface/method spec dont care so much about details params

eg
- RandomJitter
- RandomPerspective
- Compose
...

[2020-08-09 21:29] vfdev-5 commented on #2563
@CristianManta yes, this is known and the progress on unifying inputs of transforms can be found #2292 , `F.adjust_hue` on Tensor is not yet supported even if it is coded in `F_t.adjust_hue`. We have to make sure that the output is almost the same as for PIL, thus few tests are necessary before merging it.

[2020-08-10 02:16] CristianManta commented on #2563
Thanks for mentioning #2292 , I completely missed it.

[2020-08-10 06:14] pmeier commented on #2565
Hey @ts19970816 could you add a little context about you environment? For example you can download and run our [environment collection script](https://raw.githubusercontent.com/pytorch/pytorch/master/torch/utils/collect_env.py) and post the output here.

[2020-08-10 06:19] ts19970816 commented on #2565
pytorch1.5.0
torchvision0.6.0
python3.6.5
cuda10.2
cudnn7.6.5
g++ 7.5

[2020-08-10 06:24] pmeier commented on #2565
1. What platform (Linux, macOS) and which version are you operating on?
2. Your error message suggests that you are building from the `master` branch while in your last comment you said `torchvision==0.6.0`. Which one is correct?

[2020-08-10 06:27] ts19970816 commented on #2565
linux
master
在哪里下载torchvision=0.6.0

[2020-08-10 06:39] pmeier commented on #2565
Sorry, but I don't speak Chinese, so I'm relying on Google Translator here. Do you have a reason to install from source or could you simply install the pre-compiled binaries? If source is not required you could run

[code]

[2020-08-10 06:39] ts19970816 opened #2567 "怎么去链接自己的PYTHON3"
ts@ts:~/opt/vision-master/build$ cmake -DCMAKE_PREFIX_PATH=/opt/libtorch-cxx11-abi-shared-with-deps-1.5.0/libtorch -DCMAKE_INSTALL_PREFIX=/where/to/install/torchvision -DCMAKE_BUILD_TYPE=Release ..
CMake Warning at CMakeLists.txt:13 (find_package):
  By not providing "FindPython3.cmake" in CMAKE_MODULE_PATH this project has
  asked CMake to find a package configuration file provided by "Python3",

[2020-08-10 06:45] ts19970816 commented on #2565
thanks,pip install torch-1.5.0-cp36-cp36m-linux_x86_64.whl
pip install torchvision-0.6.0-cp36-cp36m-linux_x86_64.whl
这是我的安装方式

[2020-08-10 06:50] pmeier commented on #2565
Does this mean, that your problem is resolved or are still facing difficulties of any kind?

[2020-08-10 07:04] ts19970816 commented on #2565
没有解决，我还是面临这
1.git clone https://github.com/pytorch/vision.git
2 cd vision
3 mkdir build && cd build
4 cmake -DCMAKE_PREFIX_PATH=/path/to/libtorch -DCMAKE_INSTALL_PREFIX=/where/to/install/torchvision -DCMAKE_BUILD_TYPE=Release ..
5.make
在进行第5步的时候make时候出现错误
ts@ts:~/opt/vision-master/build$ make
[  4%] Building CXX object CMakeFiles/torchvision.dir/torchvision/csrc/vision.cpp.o
In file included from

[2020-08-10 08:11] fmassa commented on #2564
Hi,

This is a good request, and now with the addition of image reading functions in torchvision we will not need to return PIL images anymore in most of the cases.

Still, this needs to be though a bit more so that we can ensure a smooth experience for the user.

What about the following: we have `torchvision.set_image_backend`, which currently supports `PIL` and `accimage`. Maybe we could add an

[2020-08-10 08:26] fmassa commented on #2552
@anujgupt-github but this NMS implementation wouldn't be used by Faster R-CNN as is, and thus there wouldn't be any benefits to users of Faster / Mask / Keypoint R-CNN, correct? Or is your request to also change the detection models to use this new version of NMS?

IMO, one of the big early advantages of PyTorch was it seamless support for dynamic shapes, which would allow for a very seamless API

[2020-08-10 08:36] fmassa commented on #2567
Hi,

Please describe what you are trying to do and the problem you are facing. Given that there is no information in this issue that is actionable, I'm closing this issue.

For information, we recommend installing torchvision via conda / pypi using the information in https://pytorch.org/get-started/locally/

[2020-08-10 08:36] #2567 closed

[2020-08-10 11:17] vfdev-5 opened #2570 "Circle CI is broken for Windows"
## 🐛 Bug

Currently, CI is failing on `binary_win_conda_py3.8_cu102` test :

https://app.circleci.com/pipelines/github/pytorch/vision/3519/workflows/c73b0f3d-9097-456f-b408-337a278a9c8c/jobs/198662/steps

cc @peterjc123 @nbcsm @guyang3532 @maxluk @gunandrose4u @smartcat2010 @mszhanyi

[2020-08-10 11:20] vfdev-5 opened #2571 "Travis CI is broken on onnx tests"
## 🐛 Bug

Currently, Travis CI is failing on `test_onnx.py`

https://travis-ci.org/github/pytorch/vision/jobs/716516509#L704

[2020-08-10 11:51] jiahaosuda commented on #2505
@vfdev-5 @fmassa Sorry for late reply. You're right. I solved the problems you mentioned and it works now. Thanks.

[2020-08-10 12:15] fmassa commented on #2571
@neginraoof can you have a look?

[2020-08-10 12:21] fmassa commented on #2556
Hi,

We do want to have functions for drawing bounding boxes in images, but we need to come up with requirements and API. If we plot a rectangle, we would probably also want to support plotting text, selecting colors, line width, etc. Additionally, should the API support a single box at a time or a batch of boxes?
All those questions I'm not yet clear about, but would be good to be thought about a

[2020-08-10 12:28] vfdev-5 commented on #2292
According to a discussion with @fmassa , we also have to make sure that all transformations work with a batch of images.

[2020-08-10 12:32] pmeier commented on #2556
If we only go for drawing boxes, I think this can be done straight forward in `torchvision`. We basically only need to calculate slices for the current box and just set the pixels to the given color.

This will be a problem in `torchvision`. If we also want this I suggest we forget doing this natively and use [`ImageDraw`](https://pillow.readthedocs.io/en/stable/reference/ImageDraw.html#) from `PI

[2020-08-10 12:40] pmeier commented on #2565
@ts19970816 You need to clarify what you want to do:

- If you want to install `torchvision==0.6.0` the `pip` command from [my previous comment](https://github.com/pytorch/vision/issues/2565#issuecomment-671188793) is enough.
- If you want to install `torchvision` from source you will **not** get `0.6.0`, but rather the current development version (`>= 0.8`)

[2020-08-10 12:47] ts19970816 commented on #2565
-- Caffe2: CUDA detected: 10.2
-- Caffe2: CUDA nvcc is: /usr/local/cuda/bin/nvcc
-- Caffe2: CUDA toolkit directory: /usr/local/cuda
-- Caffe2: Header version is: 10.2
-- Found cuDNN: v7.6.5  (include: /usr/local/cuda/include, library: /usr/local/cuda/lib64/libcudnn.so)
-- Autodetected CUDA architecture(s):  6.1
-- Added CUDA NVCC flags for: -gencode;arch=compute_61,code=sm_61
CMake Error at CMakeL

[2020-08-10 12:49] ts19970816 commented on #2565
但是我在源码编译安装之前，已经通过pip install torchvision-0.6.0-cp36-cp36m-linux_x86_64.whl这种方式安装过了torchvision

[2020-08-10 13:10] sumanthratna commented on #2556
@fmassa those are good questions that I didn't consider, and I definitely agree with what @pmeier has suggested.

Originally, I thought that we should leave it up to users to decide the color, to avoid any confusing behavior. However, I do think that batch drawing might make for cleaner code on the user-end. All in all, I think we should go with batch drawing. I'm still unsure if we want to deal w

[2020-08-10 16:11] anujgupt-github commented on #2552
Hi @fmassa ,
At the moment, I wasn't alluding to changing the detection models also, but only to add a new version of NMS which can handle the conf threshold also.
It is going to be an added functionality to be exercised in specific cases.
Short of this, the viable options available are only to partition the models such that either the subgraph containing non-zero is separated out or modify the co

[2020-08-10 18:52] helloshuangzi commented on #1568
I met the same problem for torchvision 0.5.0. I was wondering if there is any progress about the fix? @fmassa  @jhultman

[2020-08-10 19:29] fmassa commented on #2565
Hi,

It's very difficult for someone like @pmeier or myself who doesn't speak chinese to understand what you want to achieve.

Do you want to use the C++ API, or just the Python bindings? If it's just the Python bindings, you can install via `setup.py`.

If you want to use the C++ API, what exactly do you want to do, use an operator in C++, run one of the example models, or something else?

One of

[2020-08-10 19:34] zhangguanheng66 commented on #2565
@ts19970816 Could you ask questions in English? For this question, I can translate: Before installed from source code, I have installed torchvision with pip.

[2020-08-10 21:00] jlin27 commented on #2557
Looks like for the last release, the vision docs were pinned to master instead of release/0.7. I'll check if there is any issue reversing that and if not, re-build the docs based off of stable

[2020-08-10 21:03] jlin27 commented on #2551
Looks like for the last release, the vision docs were pinned to master instead of release/0.7. I'll check if there is any issue reversing that and if not, re-build the docs based off of stable

[2020-08-11 02:33] ZhaoyangLi-nju commented on #2565
I got the same error,when I install c++ API in torchvision,
as follows:
(py36) root@d48e90e40b2b:/workspace/vision/build# cmake --build . -j 20
Scanning dependencies of target torchvision
[  4%] Building CXX object CMakeFiles/torchvision.dir/torchvision/csrc/models/alexnet.cpp.o
[  9%] Building CXX object CMakeFiles/torchvision.dir/torchvision/csrc/models/densenet.cpp.o
[ 14%] Building CXX object

[2020-08-11 02:35] siyangbing opened #2572 "How to fill in splits_dir and metadata_file in the video classification, my ufc101 data set only has pictures, how can I get them, if I can provide any help, I would be very grateful"
## ❓ Questions and Help

### Please note that this issue tracker is not a help form and this issue will be closed.

We have a set of [listed resources available on the website](https://pytorch.org/resources). Our primary means of support is our discussion forum:

- [Discussion Forum](https://discuss.pytorch.org/)

[2020-08-11 02:47] ts19970816 commented on #2565
When i cmake -DCMAKE_PREFIX_PATH="/opt/libtorch-cxx11-abi-shared-with-deps-1.5.0/libtorch;/home/ts/opt/torchvision" -DCMAKE_BUILD_TYPE=Release .., I have this problem
CMake Warning at CMakeLists.txt:12 (find_package):
  By not providing "FindPython3.cmake" in CMAKE_MODULE_PATH this project has
  asked CMake to find a package configuration file provided by "Python3", but
  CMake did not find one.

[2020-08-11 02:51] ts19970816 opened #2573 "Python3.6Config.cmake python3.6-config.cmake"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1.cmake -DCMAKE_PREFIX_PATH="/opt/libtorch-cxx11-abi-shared-with-deps-1.5.0/libtorch;/home/ts/opt/torchvision" -DCMAKE_BUILD_TYPE=Release ..
2.CMake Warning at CMakeLists.txt:12 (find_package):
  By not providing "FindPython3.cmake" in CMAKE_MODULE_PATH this project has
  asked CMake to find a package configuration file provided by "Pyth

[2020-08-11 05:18] siyangbing opened #2574 "ValueError: bad value(s) in fds_to_keep"
Traceback (most recent call last):
  File "/home/sucom/hdd_1T/project/video_rec/my_video_rec/self_video_train.py", line 161, in <module>
    trainer.train(task)
  File "/home/sucom/.conda/envs/classy_vision/lib/python3.6/site-packages/classy_vision/trainer/local_trainer.py", line 27, in train
    super().train(task)
  File "/home/sucom/.conda/envs/classy_vision/lib/python3.6/site-packages/classy_v

[2020-08-11 05:19] siyangbing commented on #2574
please help me. I can not find any issues about it

[2020-08-11 05:20] pmeier commented on #2556
@sumanthratna I don't think we should couple this with `make_grid`. Can't we just have `draw_bounding_box` and if you need a grid of images pass the output to `make_grid` afterwards?

[2020-08-11 06:16] #2572 closed

[2020-08-11 11:29] vcarpani opened #2575 "NMS not available with CUDA backend in 0.7.0"
## 🐛 Bug

After converting a maskrcnn model torchscript and loading it in c++, with torchvision version 0.7.0 I get:
[code]

With torchvision 0.7.0-rc2 I do not have this problem, it looks to be related to the new `autocast` functionality.

## Environment

 - PyTorch / torchvision Version (e.g., 1.0 / 0.4.0): 1.6.0 / 0.7.0
 - OS (e.g., Linux): Arch Linux
 - How you installed PyTorch / torchvision

[2020-08-11 12:12] fmassa commented on #2575
Hi,

Can you run it with CUDA on Python? Does this only happen when exporting the model to torchscript and running it in C++?

Maybe we need to change something in our CMake / C++ API so that this gets visible on C++ land.

cc @ezyang @mcarilli for thoughts

[2020-08-11 12:17] vcarpani commented on #2575
Hi, thanks for the quick response, I had the model running in python directly, but I did not try with python torchscript, I will test it later today

[2020-08-11 12:43] vcarpani commented on #2575
The following code works:
[code]

[2020-08-11 12:52] fmassa opened #2576 "Add tests for loading custom ops in C++"
torchvision currently only tests the usage of its operators from Python.

Now that we have support for torchscript for all models, we should make sure that our CMake / C++ facing API for the custom ops are tested in CI, in order to avoid breakages.

Some recent examples that illustrates that we need further testing for our C++ API: https://github.com/pytorch/vision/issues/2575 https://github.com/p

[2020-08-11 17:21] pmeier commented on #2574
Hi @siyangbing

1. This is just the stack trace. Without the code it is nigh impossible to figure out what is wrong. Please compile a [minimal working example](https://en.wikipedia.org/wiki/Minimal_working_example) that leads to this error.
2. This is an issue tracker and not a help form. Our primary means of support is our [discussion forum](https://discuss.pytorch.org/).
3. In the stack trace I

[2020-08-11 17:21] #2574 closed

[2020-08-11 18:50] sumanthratna commented on #2556
That seems reasonable. I initially just copied [`torchvision.utils.save_image `](https://github.com/pytorch/vision/blob/c547e5cbbf25e46870abb2e925b42c67c3367afc/torchvision/utils.py#L103-L130) without paying attention to what it does ")

Is this better? We might not need to unnormalize.
[code]

[2020-08-11 22:30] FrostByteGER opened #2578 "Calculate Training Accuracy on resnet152"
I'm trying to calculate training accuracy on resnet152, however
`loss_dict = model(images, targets)`
only contains loss values.

Usually the model accepts only the images and the outputs are then passed to a loss function as well as used to calculate the accuracy. Calling it without the targets parameter results in:
`ValueError: In training mode, targets should be passed`

Sorry if this is the wro

[2020-08-12 02:53] nbcsm commented on #2570
@guyang3532

[2020-08-12 05:36] pmeier commented on #2556
1. I don't think we should have the `fill` parameter.
2. I would rename `outline` to `color` to make it more expressive.
3. Right now the function is only taking a single bounding box. We need to extend this, but I'm not sure how make this intuitively. Our solution should not only support multiple boxes, but also multiple boxes of the same class.

[2020-08-12 05:45] pmeier commented on #2578
Hi @FrostByteGER

this is an issue tracker and not a help form. Our primary means of support is our [discussion forum](https://discuss.pytorch.org/). As such I'm closing this issue.

---

That is correct:

https://github.com/pytorch/vision/blob/c547e5cbbf25e46870abb2e925b42c67c3367afc/torchvision/models/resnet.py#L219

Thus `loss_dict = model(images, targets)` is not a valid call if `model` is a `

[2020-08-12 05:45] #2578 closed

[2020-08-12 07:57] dongning-ac opened #2580 "Why the supoort inputs of torchvision.transforms.functional.crop() and resize () on Windows is different from docs on website?"
## ❓ Questions and Help

Windows 10:
CUDA version :10.1
torchvision.__version__ is 0.7.0
python: 3.7

The docs on the website: [torchvision.transforms.functional.resize()](https://pytorch.org/docs/stable/torchvision/transforms.html?highlight=resize#torchvision.transforms.functional.resize) and  [torchvision.transforms.functional.crop()](https://pytorch.org/docs/stable/torchvision/transforms.html?h

[2020-08-12 09:50] sdw95927 commented on #1568
Thanks for pointing out where the problem is! I decreased my learning rate from 0.002 to 0.0002 and that seems fixed my problem.

[2020-08-12 09:51] vfdev-5 commented on #2580
This is docs issue, https://github.com/pytorch/vision/issues/2551

Currently, v0.7.0 supports only few ops like hflip, vflip. Nightly version should support more, see #2292 for progress on that.

[2020-08-12 10:31] #2580 closed

[2020-08-12 10:32] bmanga commented on #2565
Last error seems to be due to an old cmake version that doesn't have the Python3 module

[2020-08-12 11:17] hal-314 opened #2581 "Support for torchvision.ops.nms on pytorch mobile"
## ❓ Questions and Help

You can't deploy object detection models like yolo, FastRCNN, etc without nms op. There are several issues in the forum. https://discuss.pytorch.org/t/support-torchvision-ops-nms-on-mobile-cpu/69627 or in this repo https://github.com/pytorch/vision/issues/2050 .

So, there is any eta for this? I want to use [YoloV5](https://github.com/ultralytics/yolov5) to detect objects

[2020-08-12 15:35] sumanthratna commented on #2556
1. Why not? If `PIL.ImageDraw.rectangle` accepts the fill kwarg, why would we not want to use it? IMHO we don't need to limit the functionality of Pillow
2. This makes sense if we remove the fill kwarg.
3. Definitely. It seems that if we want to deal with classes, a dict of `{detection_class: [bbox1, bbox2, ...]}` seems the most intuitive way to deal with this. Alternatively, we could just make ou

[2020-08-12 16:29] ezyang commented on #2575
The most obvious explanation is you didn't actually link against torchvision cuda libraries. You need to make sure you pass `-Wl,--no-as-needed` or something like that

[2020-08-12 17:26] pmeier commented on #2556
As the name implies, `fill` will fill the inside of the rectangle and thus blocking everything within the bounding box from view. I can't think of a scenario where someone wants that.

[2020-08-12 18:18] sumanthratna commented on #2556
In my case, I want to be able to fill in bounding boxes because I want to be able to treat bounding boxes as segmentation masks. That is, by filling in boxes onto a black background, I can use `cv2.findContours` to get the bounding boxes, and locate their centers. I will admit three things about this use-case:
- it's kind of hacky (storing bounding boxes info in a mask image instead of a dataframe

[2020-08-12 21:19] Kshitij09 opened #2582 "`box_iou` doesn't work with unaligned coordinates"
## 🐛 Bug
[torchvision.ops.boxes.box_iou](https://github.com/pytorch/vision/blob/c547e5cbbf25e46870abb2e925b42c67c3367afc/torchvision/ops/boxes.py#L153) works only if (x1,y1) < (x2,y2) and calculates zero IoU otherwise

## To Reproduce

Steps to reproduce the behavior:
1. Consider a hypothetical bbox array:
[code]
[code]
As all the (x1,y1) are less than (x2,y2) in this case, the `box_iou` output wi

[2020-08-13 01:41] guyang3532 commented on #2570
This happened because the nightly build job failed and the packages were not uploaded to conda. It have been fixed by https://github.com/pytorch/builder/pull/487.

[2020-08-13 05:55] pmeier commented on #2556
Yeah, I think your use-case is an edge-case that justifies a custom implementation on the user side.

Two more remarks:

1. I wonder if we should split this into two functions. We could have `draw_bounding_box(image, bbox, color=None, width=None)` that draws only a single bbox with the given color. In addition `draw_bounding_boxes(...)` could handle multiple bboxes per class and later the class ta

[2020-08-13 06:48] vcarpani commented on #2575
This is my CMakeLists.txt right now:

[code]

I also tried adding `--whole-archive` and adding the same linker flags when linking the `server` executable to `${PROJECT_NAME}`

[2020-08-13 08:18] vfdev-5 commented on #2570
@guyang3532 thanks for the info ! Yes, now Circle CI is passing.

I'm closing the issue as resolved.

[2020-08-13 11:16] vfdev-5 opened #2583 "Make transforms work on video tensor inputs or batch of images"
## 🚀 Feature

Following https://github.com/pytorch/vision/issues/2292#issuecomment-671325017 and discussion with @fmassa and @bjuncek , this feature request is to improve the transforms module to support video inputs as `torch.Tensor` of shape `(C, T, H, W)`, where C - number of image channels (e.g. 3 for RGB), T - number of frames, H, W - image dimensions.

Points to discuss:
- Convention for geo

[2020-08-13 21:58] sumanthratna commented on #2556
1. To be honest, I can't think of any cases where a user would only want to draw a *single* bbox. Further, as a user, I wouldn't mind using `draw_bounding_boxes` and passing in a list of a single bbox.
2. Both the matplotlib and elaborate palettes look okay. I'm using torchvision for nuclei detection in a variety of tissue types, which have a pink/purple color. Both matplotlib and elaborate have t

[2020-08-14 05:07] pmeier commented on #2556
1. You are right, I didn't think this through properly. So we basically have two cases:

    1. The user passes the boxes as sequence. In that case we treat each entry as separate class and thus a box of a different color.
    2. The user passes a dictionary with a `str` key and a list of bounding boxes as value. Here we treat the sequence as one class and thus of the same color.

    Do we agree

[2020-08-14 14:05] sumanthratna commented on #2556
Yup!

I'm not a fan of this idea because it feels like 10 is an arbitrary length of the palette (even though it's really not). I think these are our options:
- cycle back to the beginning of the palette and display a Warning. not a fan of this
- raise an Error and tell users to provide a custom palette with sufficient length. better than the other options
- just randomly generate colors (with a se

[2020-08-14 14:21] pmeier commented on #2556
From what we have now, I think this is the best option:

- Cycling back is very dangerous since different classes might be mixed up by an observer. This is especially true if we do not label the bboxes.
- Randomly generating colors might result in colors that are practically indistinguishable and thus having the same problem as above.

 The color palette given in my second link has up to 12 colors

[2020-08-14 15:43] sumanthratna commented on #2556
That's a valid point; let's go with raising an error if the number of classes exceeds the length of the palette *and* there are no custom colors.

I agree with your statement about most people not needing custom colors. However, I'm unsure why the `dict`-with-colors forces** us back into manually defining colors. If a user provides colors in the dict, then hooray, we use those. Otherwise, we simpl

[2020-08-14 17:04] pmeier commented on #2556
The problem I see is that IMO most people will not touch the colors. Thus, if we go for your approach

you are forcing the user to handle the colors manually. If we go for the bbox signature we previously agreed on, the user has not to fiddle with the colors at all.

I think its more convenient to pass

[code]

and maybe having to specify

[code]

instead of always passing

[code]

[2020-08-14 18:42] sumanthratna commented on #2556
That makes sense. I think we should go with a dict for colors then, because dicts don't preserve order so we can't exactly "align" a dict of `{class: bbox}` with a list of colors. I think we've agreed on a signature that looks something like this:
[code]

The docstring is pretty bad, but @pmeier does this signature look okay?

[2020-08-14 19:48] pmeier commented on #2556
Don't forget the option to pass the bboxes as a sequence.

[code]

I think the default behavior of `colors` should be

- if `bboxes` is a sequence align it with `DEFAULT_COLORS`
- if `bboxes` is a dict, sort it alphabetically along the classes (as you proposed earlier) and align this with `DEFAULT_COLORS`

[2020-08-14 20:08] teddykoker opened #2588 "VOCDetection Dataset md5 has changed, no longer will load correctly"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:
[code]

Can be fixed by correcting the md5sum:

[code]

## Expected behavior

Dataset should download and load without error.

## Environment

Please copy and paste the output from our
[environment collection script](https://raw.githubusercontent.com/pytorch/pytorch/master/torch/utils/collect_env.py)
(or fill out the checklist below manua

[2020-08-14 21:56] sumanthratna commented on #2556
I like that, but I think we should add an if-statement or assert to make sure users don't pass in a sequence for `bboxes` and a custom dict for `colors` to avoid any potential confusion. Unfortunately, I don't know if `torch.jit` will be able to treat this if-statement as part of the type-definition when it's type-checking.

[2020-08-15 01:30] firstprayer commented on #2564
@fmassa I like the idea - set/get_image_backend seems a more principled approach to me.

Practically, I think one issue is that get_image_backend is only used for ImageFolder, instead of VisionDataset. We first need to change all sub-class of VisionData which by default uses PIL loader to respect get_image_backend(). This **MIGHT** have some backward compatibility problem, but since get_image_back

[2020-08-15 15:07] pmeier commented on #2556
Since we agree on the signature lets move on to the PR for now! If we hit any blocks down the road. Just ping me when you are ready.

[2020-08-15 20:54] sumanthratna commented on #2556
Great! I'm actually very busy until August 29, but I'll definitely try to get a draft PR in after then. Ping me if I don't do it by September 3!

[2020-08-16 01:25] AbhishekPokala opened #2590 "Torchvision installation in R-pi4 (32bit, armv7l)"
### Installation Command
`sudo -E python3 setup.py install`

### Error Message
This was the error message I received.

### System Details
`**uname -a**`

[2020-08-16 13:57] bmanga commented on #2590
Hi @AbhishekPokala, it seems like you need to upgrade your gcc version, 4.8 is too old.

[2020-08-16 17:15] sumanthratna commented on #2556
Oh—shouldn't we have a bool kwarg for whether class labels should be drawn on the bbox borders (see the image I sent earlier)? That would make the signature:
[code]

[2020-08-16 18:17] adamjstewart opened #2591 "Unable to build with Spack/from source, ffmpeg libraries not found"
## 🐛 Bug

I'm trying to install `torchvision` from source using the [Spack](https://spack.io) package manager, but the build can't find my `ffmpeg` libraries, which are in a non-standard location. There are a couple of reasons for this:

1. Mismatch of compilers. At some points of the build, it is using the compiler I defined in `CXX`, which is a compiler wrapper designed to automatically inject t

[2020-08-16 18:25] adamjstewart commented on #2591
## Workaround

It seems that setting `LIBRARY_PATH` instead of `TORCHVISION_LIBRARY` allows me to build `torchvision`. Maybe we just need to update the README? It would be great to fix the compiler mismatch though, as Spack's compiler wrappers automatically RPATH dependencies so that they can be found at run-time.

[2020-08-17 05:19] pmeier commented on #2556
I think that is a fair point although I would go with `None` is default and than set it to `True` or `False` depending on the type of `bboxes`. Similar to `colors`, we should raise an error if `bboxes` is a sequence and `draw_labels is True`.

[2020-08-19 03:48] datduong commented on #1709
Hi, has this been update? I see that the code is still the same as mentioned by @Xiuyu-Li.

[2020-08-19 16:41] jlin27 commented on #2551
Rebuilt the docs and pushing out the release/0.7 vision docs in this PR: https://github.com/pytorch/pytorch.github.io/pull/458

[2020-08-19 16:41] #2551 closed

[2020-08-19 16:42] jlin27 commented on #2557
Rebuilt the docs and pushing out the release/0.7 vision docs in this PR: pytorch/pytorch.github.io#458

[2020-08-19 16:42] #2557 closed

[2020-08-20 03:27] ternaus opened #2597 "[Legal question] Is it legal to use pre-trained models for commercial purposes?"

[2020-08-20 03:39] ternaus commented on #2597
I see discussions at

* [Reddit](https://www.reddit.com/r/MachineLearning/comments/4eu2vd/can_pretrained_networks_be_used_in_commercial/)
* [Kaggle](https://www.kaggle.com/c/deepfake-detection-challenge/discussion/131121)
* [PyTorch forum](https://discuss.pytorch.org/t/can-i-use-the-pretrained-models-for-commercial-use/54279)
* [Authors Guild, Inc. v. Google, Inc.](https://en.wikipedia.org/wiki/Au

[2020-08-20 04:14] ternaus commented on #2597
Similar question
* to Google https://github.com/tensorflow/models/issues/9131
* to Intel https://github.com/openvinotoolkit/open_model_zoo/issues/1433

[2020-08-20 11:26] fmassa commented on #2588
Hi,

Thanks for opening this issue (and sending a PR)!

I tried to download the VOCDetection dataset now but I couldn't get it to download (it was timing out), so I couldn't verify that the hash has changed yet.

Also, I wonder what happens with users that have downloaded the old tar file, will changing the md5 suddently break for them?

[2020-08-20 11:30] fmassa commented on #2570
Re-opening because this is happening again.

cc @peterjc123 is this because the nightly build job from Windows failed again? We should maybe try to find a way to overcome PyTorch nightlies being broken so that this doesn't affect us

[2020-08-20 11:31] fmassa commented on #2575
Fixed with https://github.com/pytorch/vision/pull/2585

[2020-08-20 11:31] #2575 closed

[2020-08-20 12:07] peterjc123 commented on #2570
@vfdev-5 Yes, but nightly jobs are naturely flaky. You may ask @seemethere to perserve the legacy packages (in Anaconda Cloud) if the new packages fail to generate.

[2020-08-20 12:29] joakimjohnander commented on #2583
The representation `(T, C, H, W)` is convenient when processing one frame at a time, such as in object tracking.

[2020-08-20 13:03] fmassa commented on #2582
Hi,

Thanks for opening the issue! Sorry for the delay in replying, I just came back from holidays.

For my understanding, what do you mean by "unaligned coordinates"? Do you mean something like rotated boxes?

And if that's the case, how would you plan to solve this?

[2020-08-20 13:32] fmassa commented on #2591
Hi,

I'm a bit confused -- not finding ffmpeg would just not compile the video reading extensions, but the rest of the build should still work, so this is probably a red herring, right? Or does that mean that `setup.py` found your `ffmpeg` binary, but the library location was in a non-standard location?

About the failure to build, our CMakeLists is still a work in progress, but we are working tow

[2020-08-20 16:08] Kshitij09 commented on #2582
Sorry if the title isn't relevant. I might have misquoted the issue. I've tried to explain the scenario with an example.

For a given bounding box coordinates (x1,y1,x2,y2) where (x1,y1) being top left corner and (x2,y2) being the bottom right, the `box_iou` op implicitly expect the coordinates to be in the said order (x1 < x2 and y1 < y2). If the given condition doesn't satisfy, the calculations

[2020-08-20 16:28] fmassa commented on #2582
Oh, now I get your point.

I'm not sure if this is something that should be handled by `box_iou` (or `nms` for what is worth, as it also uses a variant of IoU computation). There is an explicit ordering in the box coordinates, and they should be respected. The case you are referring to is what I would call a "degenerate box".

In my view, this is something that should be handled on the user-side.

[2020-08-20 17:28] godspeed1989 opened #2598 "ops.deform_conv2d causes CUDA illegal memory access"
## 🐛 Bug
I try to test the speed of deformable conv2d. But always encountered memory error.

## To Reproduce

[code]

## Environment
PyTorch version: 1.6.0
Is debug build: False
CUDA used to build PyTorch: 11.0

OS: Arch Linux (x86_64)
GCC version: (GCC) 10.1.0
Clang version: 10.0.1
CMake version: version 3.18.1

Python version: 3.8 (64-bit runtime)
Is CUDA available: True
CUDA runtime version: 11

[2020-08-20 17:54] fmassa commented on #2598
Hi,

Thanks for the report.

I just tried your snippet on my machine (using PyTorch 1.7.0.dev20200727 and torchvision from source id 0.8.0a0+1aef87d) and it worked fine.

Can you double-check that the version of PyTorch and torchvision that you are using in your Python interpreter are indeed 1.6.0 and 0.7.0 ? The 0.7.0a0 is a bit suspicious, and is maybe an RC candidate for torchvision.

[2020-08-20 20:09] adamjstewart commented on #2591
I think that's what's going on here. `ffmpeg` should be found in my `PATH` at:
[code]
The libraries are then found in:
[code]
Spack uses it's compiler wrappers to automatically inject that search path into the build, but it seems like Spack's compiler wrappers aren't being used for part of the build.

I've attached the build log and environment variables used if you want to peruse them:

* [spack-

[2020-08-21 02:02] teddykoker commented on #2588
Presumably, this change would render the old dataset "corrupt." I believe @vfdev-5 reached out to the organizers to see why the [change](https://github.com/pytorch/vision/pull/2589#issuecomment-674286784) was made.

Ideally I think the best coarse of action would be to restore the old tar in the repo, or perhaps self host the dataset. I think allowing datasets to change could set a bad precedent a

[2020-08-21 02:58] godspeed1989 commented on #2598
That's weired.
I changed a machine and used a nightly build. But still has the same problem.
[code]

[2020-08-21 03:05] godspeed1989 commented on #2598
However, if i set the Batch size of test data to 1, everything is fine.

[2020-08-21 04:56] juyunsang opened #2599 "Change default value of eps in FrozenBatchNorm to match BatchNorm"
## ❓ Questions and Help
Hello
Loss is nan error occurs when I learn fast rcnn with resnext101 backbone
My code is as follows
[code]

error message
[code]

When i change the backbone to resnet50 and resnet152, no error occrus.
### Please note that this issue tracker is not a help form and this issue will be closed.

We have a set of [listed resources available on the website](https://pytorch.org/re

[2020-08-21 05:19] pmeier commented on #2599
Hi @juyunsang

as our template states:

---

Without knowing your data its hard to tell what is going wrong. I'm assuming your data is not corrupt since the other models are working. Thus, this might be a hyper-parameter problem. The loss in the first step seems fairly large (~ `40e9`). In a first step I would reduce the learning rate and see if this already solves the problem.

[2020-08-21 06:14] ibayramli2001 opened #2602 "Root directory of Fashion MNIST"
## 📚 Documentation

Hi there,

The [docs of FashionMNIST ](https://pytorch.org/docs/stable/torchvision/datasets.html#torchvision.datasets.FashionMNIST) dataset says:

**root** (_string_) – Root directory of dataset where `Fashion-MNIST/processed/training.pt` and `Fashion-MNIST/processed/test.pt` exist.

It should instead be:

**root** (_string_) – Root directory of dataset where `FashionMNIST/proc

[2020-08-21 07:38] vfdev-5 opened #2600 "Improve transforms if input is tensor on CUDA"
## 🚀 Feature

A follow-up issue from the review of #2569 :

- Adapt test_rgb_to_grayscale
- Test and fix if fail perspective grid generation for float16, float64, https://github.com/pytorch/vision/pull/2569#discussion_r473957813 and https://github.com/pytorch/vision/pull/2569#discussion_r473958339

[2020-08-21 07:52] vfdev-5 commented on #2588
@fmassa in my case I have unarchived dataset before data corruption (but no tar file) and I still could create an instance of VOCSegmentation dataset.

[code]

[2020-08-21 07:53] Kshitij09 commented on #2582
Yes. "degenerate boxes" is what it's also referred to as in `generalized_rcnn`. There's a [TODO](https://github.com/pytorch/vision/blob/c2bbefc223be536c3469cd8a66f97e85446a4644/torchvision/models/detection/generalized_rcnn.py#L83) talking exactly about the issue I was concerned. We could extract that [snippet](https://github.com/pytorch/vision/blob/c2bbefc223be536c3469cd8a66f97e85446a4644/torchvis

[2020-08-21 07:55] fmassa commented on #2598
This is what I tried. The only difference was that I set `requires_grad` inside tensor creation (this was an experiment on CPU, I also tried one on CUDA)

[code]

@vfdev-5 can you try seeing if you can reproduce this issue?

[2020-08-21 08:41] vfdev-5 commented on #2598
@fmassa @godspeed1989 I could reproduce the exception on CUDA by calling twice `test()`
[code]

Seems like error is input size dependent (no error with 110x110 input) and if we comment out `out.mean().backward()` code runs without any issue event with `timeit`.

[2020-08-21 21:02] pmeier opened #2605 "Allow hierarchy in ImageFolder dataset"
## 🚀 Feature

Allow hierarchy in `ImageFolder` dataset.

## Motivation

Currently, `ImageFolder` (more specifically [`ImageFolder._find_classes()`](https://github.com/pytorch/vision/blob/5e9ebe8dadc0ea2841a46cfcd82a93b4ce0d4519/torchvision/datasets/folder.py#L124)) only scans for directories directly in `root`. This makes it impossible to use an `ImageFolder` for datasets that use a hierarchy in t

[2020-08-24 07:55] vfdev-5 commented on #2598
@ngimel thanks a lot for the example of how to fetch max grid size !

[2020-08-24 08:03] fmassa commented on #2605
Hi,

I think a `recurse` flag could potentially have some unexpected behavior in `DatasetFolder`, as `make_dataset` recurses inside the class folders itself https://github.com/pytorch/vision/blob/5e9ebe8dadc0ea2841a46cfcd82a93b4ce0d4519/torchvision/datasets/folder.py#L35-L62

Instead of passing a `recurse` argument, I think I would prefer if we subclass `DatasetFolder` and make `_find_classes` of

[2020-08-24 08:45] pmeier commented on #2605
I completely missed the `os.walk` in the top level folders. I was under the impression that only the top level folder is searched.

Given that, I think I'll just implement the functionality I need separately in the dataset instead of using an `ImageFolder`. If some other dataset needs the same in future we can think of generalizing it then.

[2020-08-24 08:45] #2605 closed

[2020-08-24 08:56] InCogNiTo124 opened #2608 "Sorting out the datasets alphabetically"
## 📚 Documentation

The datasets in torchvision documentations are listed in seemingly random order. I'd like to sort the dataset entries alphabetically to improve readability.

[2020-08-24 09:43] fmassa commented on #2608
Thanks for opening the issue!

Please feel free to send a PR sorting the datasets in alphabetical order. This should be changed in https://github.com/pytorch/vision/blob/master/docs/source/datasets.rst

[2020-08-24 09:46] fmassa commented on #2599
@juyunsang My understanding was that you were using
[code]
for ResNet50, and
[code]
for ResNeXt101. Is it the case?

[2020-08-24 09:54] fmassa commented on #2591
Ok, I see what you meant now, thanks.

It looks like we will need to add a `library_dirs` just before https://github.com/pytorch/vision/blob/ba1b22125723f3719a3c38a2fe7cd6fb77657c57/setup.py#L361 similar to what we did in https://github.com/pytorch/vision/blob/ba1b22125723f3719a3c38a2fe7cd6fb77657c57/setup.py#L326

Do you think you could send a PR improving `setup.py`?

`setup.py` will still be th

[2020-08-24 13:04] OblivionStaff opened #2609 "libc10_cuda.so is not found when running the executable file"
## 🐛 Bug

Following the tutorials about running a torchscript model in c++, I can successfully run a faster rcnn model from torchvision. But when running the executable file, it  failed to load a libc10_cuda.so. Currently I set the LD_LIBRARY_PATH as a workaround solution.

By the way, in some header files, like torchvision/nms.h, If I am not wong, a global function was defined in which a static o

[2020-08-24 13:20] vfdev-5 commented on #2571
@neginraoof could you please take a look why it is failling again : https://travis-ci.org/github/pytorch/vision/jobs/720634157#L716
Thanks !

[2020-08-24 14:40] MaverickMeerkat opened #2611 "Can't load multiple classes in LSUN dataset"
`LSUN_data = LSUN("path", classes=["bedroom_val", "classroom_val"], transform=tf)`

Raises the following error:

 - PyTorch / torchvision Version '1.3.0'
 - OS (e.g., Linux): Windows
 - How you installed PyTorch / torchvision (`conda`, `pip`, source): Conda
 - Python version: 3.7.4
 - CUDA/cuDNN version: 10.1

[2020-08-24 15:02] pmeier commented on #2611
Hi @MaverickMeerkat, I can't reproduce this with `torchvision==0.7.0`. Since `torchvision==0.4.1` (corresponds to `torch==1.3.0`) no changes happened that should cause this. If the line you posted above is indeed enough to reproduce the error for you, could please post your `torch` and `torchvision` versions? You can do so by

[code]

[2020-08-24 15:27] adamjstewart commented on #2591
Thanks @fmassa, I submitted a PR with this change. To be fair, it looks like `TORCHVISION_LIBRARY` was added after the 0.7.0 release, which is what I was testing, so I guess I should have expected it not to work yet. It sounds like the mismatched compiler issue will be resolved by the transition to CMake.

Before this gets closed, @fmassa would you (or anyone else) like to be listed as an official

[2020-08-24 16:57] MaverickMeerkat commented on #2611
This is the minimal code:

[code]

torch 1.3.0
torchvision 0.4.1

[2020-08-24 17:09] #2591 closed

[2020-08-24 17:10] fmassa commented on #2591
@adamjstewart do you think you could be the maintainer for this Spack recipe?

[2020-08-24 17:12] adamjstewart commented on #2591
I'm already listed as a maintainer, and I'm happy to continue, but it wouldn't hurt to have more than 1 maintainer 😃

[2020-08-24 17:12] #2598 closed

[2020-08-24 17:42] pmeier commented on #2611
Can confirm, bug is also present in `torchvision==0.7.0`. It was introduced in 59c97d7. It happens because `msg_fmtstr` is overwritten inside the loop body

https://github.com/pytorch/vision/blob/78ed10cc51067f1a6bac9352831ef37a3f842784/torchvision/datasets/lsun.py#L106-L119

The second time it reaches L109, the format fails since it expects three values.

---

Incidentally, this was fixed in ea6b

[2020-08-24 17:42] #2611 closed

[2020-08-24 19:19] andfoy commented on #2597
@ternaus, as far as I'm concerned, this repo has a BSD-3 license, which allows for commercial use, however I don't know if the models are also covered by this license. I guess a somewhat clear answer would be that a model's pretrained weights depend on the dataset licenses and the model code, which in this case allows for commercial usage.

[2020-08-24 19:30] fmassa commented on #2597
I'll leave this to @dongreenberg to answer

[2020-08-25 01:05] juyunsang commented on #2599
@fmassa
Yes!
It works well with the code below.
[code]
However, changing the parameter of resnet_fpn_backbone function to resnext101_32x8d results in a *Loss is Nan error.*

[2020-08-25 08:13] pmeier commented on #2611
@MaverickMeerkat If you are bound to a stable version you can monkeypatch the buggy code, since it is only checking the validity of the input arguments:

[code]

[2020-08-25 08:50] #2602 closed

[2020-08-25 09:26] #2608 closed

[2020-08-25 10:19] MaverickMeerkat commented on #2611
Its ok.
Thanks for your help!

On Tue, Aug 25, 2020, 11:14 Philip Meier <notifications@github.com> wrote:

[2020-08-25 11:21] fmassa commented on #2599
Thanks for confirming.

My first bet would be that it's an issue with the FPN, because we forgot to run the weight initialization, as discussed in https://github.com/pytorch/vision/issues/2326

Could you check if implementing that fix could solve the issue for you?

[2020-08-25 11:24] fmassa commented on #2591
Totally agree :-)

But I currently don't have enough bandwidth to commit to maintain it unfortunately. But please let us know if there is anything in the torchvision side if we ever break Spack build in the future.

[2020-08-25 11:29] fmassa commented on #2582
I would be happy to accept a PR adding some checks to `box_iou` asserting that the boxes are not degenerate.

My only concern is that there might be downstream applications/users leveraging this current behavior (which sets the IoU to zero if the boxes are degeneraet), so adding an assert would break downstream users code.

cc @ppwwyyxx for thoughts if we should add an assert on `box_iou` to ensur

[2020-08-25 11:46] fmassa opened #2616 "Make image reading ops return tensors in CHW"
## 🚀 Feature

## Motivation

All PyTorch operations (and our torchvision transforms) assume that images are in `CHW` format.
Traditionally, images are stored in HWC format, and for now we are returning contiguous tensors in HWC format.

I believe what we should do is to return non-contiguous tensors in CHW format, so that loading is as efficient as possible, and we can utilize `channels_last` form

[2020-08-25 12:41] juyunsang commented on #2599
@fmassa
Thank you for reply
I change code self.children to self.modules
but error still occued..
https://github.com/pytorch/vision/blob/c2e8a00885e68ae1200eb6440f540e181d9125de/torchvision/ops/feature_pyramid_network.py#L59-L63

[2020-08-25 13:28] pmeier opened #2617 "Test dataset downloadability on a schedule"
Currently we rely on user feedback to detect failing dataset downloads. In #2610 I've included a downloadability test by asserting a head request to every URL used in the dataset is successful. We should expand these test for all downloadable datasets.

That being said, I don't think we should run this as part of every PR or push, but rather on a schedule (for example daily). In that case we need

[2020-08-25 13:53] pmeier opened #2618 "Ability to install all optional datasets requirements"
Some of the datasets in `torchvision` require some additional packages installed:

- `scipy`: [`Caltech101`](https://github.com/pytorch/vision/blob/3e0f5a6ff24c4be25cdaa6695bad421c99e257b9/torchvision/datasets/caltech.py#L84), [`ImageNet`](https://github.com/pytorch/vision/blob/3e0f5a6ff24c4be25cdaa6695bad421c99e257b9/torchvision/datasets/imagenet.py#L115), [`SBDataset`](https://github.com/pytorch

[2020-08-25 14:13] fmassa commented on #2617
@seemethere how do you think would be a good way for a scheduled CI job to signal us that a test stopped working (due to an external server going down / stopping to work)? Sending an e-mail is one option, but is there a better one?

[2020-08-25 14:15] fmassa commented on #2618
This seems very reasonable to me, although I'm not sure if something like this is supported for conda.
cc @seemethere any thoughts on this?

[2020-08-25 17:16] ppwwyyxx commented on #2582
Adding the check sounds reasonable to me. However I often tend to not add a lot of them because python-side asserts may affect cuda performance https://github.com/pytorch/pytorch/issues/36853. Addressing this issue would make robust code without perf hit.

[2020-08-25 18:42] yumanets opened #2619 "get_coco_api_from_dataset returns wrong dataset"
## 🐛 Bug

I tried to train a detector on a custom dataset (using https://pytorch.org/tutorials/intermediate/torchvision_tutorial.html) and the training is stuck on 60% of precision. So I started looking at the source code and noticed that get_coco_api_from_dataset() is probably doing the wrong thing. In case the Subset is used for train and test datasets, it returns its original dataset. Problem i

[2020-08-26 03:01] boniek83 opened #2621 "ROCM version doesn't work"
## 🐛 Bug
When trying to run ROCM accelerated version I get the following error:
`RuntimeError: t == DeviceType::HIP INTERNAL ASSERT FAILED at "/root/.local/lib/python3.6/site-packages/torch/include/c10/hip/impl/HIPGuardImpl.h":22, please report a bug to PyTorch.`

## To Reproduce

Steps to reproduce the behavior:

1. Build environment: https://gist.github.com/boniek83/86ea18dfcb557273354fe4fa6e0e2

[2020-08-26 05:39] pmeier commented on #2621
Hi @boniek83, your issue seems a better fit for the [`torch` issue tracker](https://github.com/pytorch/pytorch/issues). @fmassa could you transfer it?

[2020-08-26 09:55] fmassa commented on #2619
Hi,

Thanks for opening the issue. I see that you already closed it, would you like to comment a bit on it?

We could indeed make the `get_coco_api_from_dataset` more generic by only considering the subset, similar to what we do for the aspect ratio computation in https://github.com/pytorch/vision/blob/fc69c22576cbccb59c581ddbaca4dedbdb279688/references/detection/group_by_aspect_ratio.py#L154-L176

[2020-08-26 22:47] vfdev-5 commented on #2609
@OblivionStaff I can not reproduce your issue. Here is my output of `readelf -d ./example-app`
[code]
Programs can be executed but as I do not have example video, there is only "ok" printed in the stdout. Am i missing something ?

[2020-08-26 22:53] vfdev-5 commented on #2573
@ts19970816 what cmake version do you use ? I had a similar issue with cmake 3.10 due to inexistent `FindPython3.cmake` and when installed cmake 3.12, then FindPython3.cmake could be found in `/usr/local/share/cmake-3.12/Modules/` and I could build torchvision C++ library.

[2020-08-27 00:35] AWSNB opened #2622 "none-any.whl doesnt support new versions"
## 🐛 Bug

the https://download.pytorch.org/whl/torch_stable.html  include older version of torchvision with none-any.whl:

torchvision-0.1.6-py2-none-any.whl
torchvision-0.1.6-py3-none-any.whl
torchvision-0.2.0-py2.py3-none-any.whl

these are old and dont match latest torch versions.

the problem that when perfoming pip3 install torchvision  no a cpu that is not supported, the old none-any wheel i

[2020-08-27 02:36] OblivionStaff commented on #2609
@vfdev-5 Did you remove the header files of torchvision?  In your output of ```readelf -d ./example-app```,  It looks like that the libc10_cuda.so is still missing.

[2020-08-27 03:36] OblivionStaff commented on #2609
@vfdev-5  I reinstall my torchvison library. The problem is solved. Thank you.

[2020-08-27 04:33] ts19970816 opened #2623 "CMakeFiles/example-app.dir/example-app.cpp.o：在函数‘ROIAlign_forward(at::Tensor const&, at::Tensor const&, double, long, long, long, bool)’中： example-app.cpp:(.text+0x179c)：对‘ROIAlign_forward_cuda(at::Tensor const&, at::Tensor const&, double, long, long, long, bool)’未定义的引用 CMakeFiles/example-app.dir/example-app.cpp.o：在函数‘ROIAlign_backward(at::Tensor const&, at::Tensor const&, float, int, int, int, int, int, int, int, bool)’中： example-app.cpp:(.text+0x18a7)：对‘ROIAlign_backward_cuda(at::Tensor const&, at::Tensor const&, double, long, long, long, long, long, long, long, bool)’未定义的引用 CMakeFiles/example-app.dir/example-app.cpp.o：在函数‘nms(at::Tensor const&, at::Tensor const&, double)’中： example-app.cpp:(.text+0x1eaa)：对‘nms_cuda(at::Tensor const&, at::Tensor const&, double)’未定义的引用 collect2: error: ld returned 1 exit status CMak"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:
CMakeFiles/example-app.dir/example-app.cpp.o：在函数‘ROIAlign_forward(at::Tensor const&, at::Tensor const&, double, long, long, long, bool)’中：
example-app.cpp:(.text+0x179c)：对‘ROIAlign_forward_cuda(at::Tensor const&, at::Tensor const&, double, long, long, long, bool)’未定义的引用
CMakeFiles/example-app.dir/example-app.cpp.o：在函数‘ROIAlign_backward(at

[2020-08-27 05:53] zyc-ai opened #2624 "RuntimeError: each element in list of batch should be of equal size"
## 🐛 Bug
[code]

## To Reproduce

Steps to reproduce the behavior:

[code]

## Expected behavior
forward

## Environment

Please copy and paste the output from our
[environment collection script](https://raw.githubusercontent.com/pytorch/pytorch/master/torch/utils/collect_env.py)
(or fill out the checklist below manually).

You can get the script and run it with:
[code]

 - PyTorch Version (e.g.,

[2020-08-27 07:22] vfdev-5 commented on #2609
OK, let's close the issue as closed. Feel free to reopen if you need reinvestigate this problem.

[2020-08-27 07:22] #2609 closed

[2020-08-27 08:19] OblivionStaff commented on #2609
@vfdev-5
If I build torchvision use ```cmake --CMAKE_PREFIX_PATH=/absolute/path/to/libtorh -DWITH_CUDA=ON ..```, the error was reproduced.

If I build torchvision use ```cmake --CMAKE_PREFIX_PATH=/absolute/path/to/libtorh  ..```, there will be a runtime error: 'Could not run 'torchvision::nms' with arguments from the 'CUDA' backend'

[2020-08-27 08:27] vfdev-5 commented on #2609
@OblivionStaff in my case `WITH_CUDA=ON` is not used in CMake configuration and there is no error.
Could you please details precisely your CMakeLists.txt, cmake build command and what is the model you are trying to use. Thanks

[2020-08-27 08:49] vfdev-5 commented on #2624
@zyc-ai the problem here is that the targets of COCODetection dataset are not of the same length (as variable number of targets per image) and thus default data loader collate function fails.
You can for example setup the dataloader with a custom collate function like here
[code]
See https://github.com/pytorch/vision/tree/master/references/detection for more complete detection task example.

[2020-08-27 09:24] pmeier commented on #2623
Hey @ts19970816, unfortunately I don't speak Chinese. Thus, it is hard to even know what you were trying to do. Could you please change the title to something more descriptive in English?

[2020-08-27 09:30] pmeier commented on #2622
Possible duplicate of #2359. @AWSNB I'm not sure what you are trying to do. You have a CPU that is not supported by the official binaries, but you want to install from them anyway?

[2020-08-27 12:15] zhiqwang commented on #2609
I faced the same problem, follow the instruction in [Readme](https://github.com/pytorch/vision/blob/master/README.rst#c-api). Use `ldd /usr/local/lib/libtorchvision.so | grep cuda`, its results is below:
[code]

But `ldd` the build `libtorchvision.so` directory, it show:

[code]

And copy the `libtorchvision.so` in `build` to `/usr/local/lib`, it's resolved.

[2020-08-27 15:38] GuoQuanhao opened #2627 "RandomErasing for png file"
[code]
I got error as followed:
[code]

my versions as follwed:
[code]
[code]

platform:Windows 10 and Python3.6

cc @fmassa @vfdev-5

[2020-08-27 21:12] ksnzh commented on #2565
@pmeier I got the same error when I build torchvision c++ api with pytorch built from source.
Bellow is my environment:
[code]

Fisrt, I build pytorch v1.5.0 from source and collected libtorch.

Then, I turned to building torchvision with command `cmake -DWITH_CUDA=ON -DCMAKE_PREFIX_PATH=/opt/pytorch/libtorch/ ..`.

And I got the same error.
[code]

[2020-08-27 21:16] ksnzh commented on #2565
More clearly, I build pytorch from source with dockerfile.
[code]

[2020-08-28 01:47] OblivionStaff commented on #2609
@vfdev-5 My issue is same to @zhiqwang . I followed his method and the problem is solved.

[2020-08-28 05:57] pmeier commented on #2618
@vfdev-5 Just to make this clear: Other than improved error messages, I wouldn't change anything in the actual code base and thus keeping all lazy imports. I'm just looking for a convenient way to install all optional dependencies at once if I'm sure that I need them.

[2020-08-28 07:45] vfdev-5 commented on #2609
Otherwise, if some libs are missing with `ldd`, you can set `export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:/path/to/libtorch/lib/`.

[2020-08-28 08:08] OblivionStaff commented on #2609
@vfdev-5
the CMakeLists.txt of torchvision
[code]

part of the CMakeLists.txt of my project
[code]

[2020-08-28 08:09] ksnzh commented on #1788
Mmdetection has two implementations: 1) deform_conv 2) modulated_deform_conv. The difference between those two is  that modulated_deform_conv one more argument `mask`. Also, they have different implementations in cpu and cuda, and he torchvision's version is the former.

[code]

[2020-08-28 08:18] OblivionStaff commented on #2609
the cmake command:
[code]
the model is a faster rcnn model from torchvision:
[code]

[2020-08-28 08:20] zhiqwang commented on #2609
Hi @OblivionStaff , can the faster rcnn model run normal in `libtorch` with your configuration?

[2020-08-28 08:37] OblivionStaff commented on #2609
@zhiqwang , Yes. In fact, I copied the code about faster rcnn  from torchvision and did some modification for my project. For exporting the model, I add some explicit type annotation and trying different version of PyTorch (PyTorch 1.6.0 may work). It has been a long time and I can not recall many details.

[2020-08-28 08:50] fmassa commented on #2621
Hi,

@pmeier if I understand correctly the issue is that PyTorch with ROCm works, but not torchvision. So I believe this issue should be in torchvision itself.

Tentative ROCm support was added in https://github.com/pytorch/vision/pull/1928, but given that we don't yet have ROCm CI, it might be possible that it is broken already.

ccing @iotamudelta @ashishfarmer who added initial ROCm support for

[2020-08-28 08:58] boniek83 commented on #2621
Learning and serving models with ROCM on pytorch (with torchserve with this fix: https://github.com/pytorch/serve/issues/403) works for me. Now only torchvision is giving me problems.

[2020-08-28 08:58] fmassa commented on #2565
@andfoy is working on adding CMake tests to CI in https://github.com/pytorch/vision/pull/2577, which will hopefully make it easier to catch bugs and will give some hints to user on how to use our CMake.

[2020-08-28 09:09] pmeier commented on #2621
My bad, I misinterpreted this.

[2020-08-28 09:40] vfdev-5 commented on #2627
@GuoQuanhao actually, the problem here is that your image has 4 channels but the fill value you pass to the transform:
`transforms.RandomErasing(..., value=(254/255, 0, 0), ...)` is as you have 3 channels. They should match and the following should work
[code]

[2020-08-28 14:56] GuoQuanhao commented on #2627
Yes.It does worked for me, many thanks.

[2020-08-28 14:56] #2627 closed

[2020-08-28 15:32] fmassa commented on #2609
@zhiqwang we are working on having an end-to-end example of how to use torchvision models in C++ (including faster rcnn).

WIP PR in #2577

[2020-08-28 15:46] zhiqwang commented on #2609
Hi @fmassa , Thanks for your notification. I'll keep an eye on it.

[2020-08-28 16:16] vfdev-5 opened #2629 "MacOSX CI is broken"
## 🐛 Bug

CircleCI tests of binary_macos_conda_py3.X_cpu are not passing :

https://app.circleci.com/pipelines/github/pytorch/vision/3702/workflows/d3d14328-2f3c-40d8-9bf0-74b090867258

cc @seemethere

[2020-08-28 16:56] ashishfarmer commented on #2621
Thank you @boniek83 . From the logs you attached, it does seem like an issue with finding HIP device on ROCm. I will investigate into this.
cc: @sunway513 @jeffdaily

[2020-08-28 23:13] kh-mo opened #2630 "Among emnist dataset splits, there are cases where labels do not match or out of list occurs."
## 🐛 Bug

In the same code,

- 'byclass', 'bymerge', 'balanced' split do not match label & img.
- 'letters' split raises an out of list error.
- 'digits', 'mnist' split work well.

## To Reproduce
[code]
![image](https://user-images.githubusercontent.com/32418835/91621794-5b733380-e9cf-11ea-8344-0a989e0af0cc.png)
---------------
![image](https://user-images.githubusercontent.com/32418835/91621805-

[2020-08-30 12:00] pmeier commented on #2630
HI @kh-mo thanks for the report. I'll look into it, but it might take a while.

[2020-08-31 09:09] shaoming20798 opened #2632 "some problems when install torchvision from source offline"
Hi, I have installed pytorch from source following the instruction in https://github.com/pytorch/pytorch. Then, I installed torchvison also from source, using this instruction "python setup.py install". And I got this message

Processing dependencies for torchvision==0.8.0a0+10d5a55
Searching for torch
Reading https://pypi.org/simple/torch/
Downloading https://files.pythonhosted.org/packages/8c/5d

[2020-08-31 11:55] fmassa commented on #2632
Hi,

I think there might be a conflict of versions with setuptools due to the fact that you installed pytorch from source.

You might be able to pass the environment variable https://github.com/pytorch/vision/blob/497744b9d510ff2df756f479ee5a19fce0d579b6/setup.py#L65-L66
to set to the commit hash that you are using for pytorch, although I'm not sure this is going to solve your issue.

Tagging @see

[2020-08-31 12:12] fmassa commented on #2624
Closing following @vfdev-5 answer

[2020-08-31 12:12] #2624 closed

[2020-08-31 14:08] fmassa commented on #2622
cc @seemethere

[2020-08-31 14:14] fmassa commented on #2599
Ok, I think I know what's going on. The resnext implementation might have weights which are zero in the batch norm, and we might need to set `eps` in https://github.com/pytorch/vision/blob/497744b9d510ff2df756f479ee5a19fce0d579b6/torchvision/ops/misc.py#L54 to be `1e-5` to match the default values in PyTorch.

This can be done by changing the `norm_layer` in https://github.com/pytorch/vision/blob/

[2020-08-31 15:59] seemethere commented on #2632
This shouldn't really be an issue,

If you don't specify a `PYTORCH_VERSION` then the dependency should just be `torch`.

Are you sure you installed torch correctly? What happens when you do `python -c 'import torch'`?

[2020-08-31 16:28] seemethere commented on #2622
I'm also not exactly sure how you get to this point either, can you provide us with a script to reproduce this?

[2020-08-31 17:17] AWSNB commented on #2622
@pmeier pmeier > Possible duplicate of #2359. @AWSNB I'm not sure what you are trying to do. You have a CPU that is not supported by the official binaries, but you want to install from them anyway?

its not just me, many customers have access to processors that don't have official binaries (Arm-based MAC,   AWS Graviton2 processors),   and it is fine that binaries dont support all versions,  but i

[2020-08-31 17:26] AWSNB commented on #2622
@seemethere here's a reproduction on EC2 C6g server, ubuntu 20.04.    as you can see, it is install v 0.2.2 because that's latest none-any.whl

ubuntu@ip-172-31-82-41:~$ uname -a
Linux ip-172-31-82-41 5.4.0-1021-aws #21-Ubuntu SMP Fri Jul 24 09:43:03 UTC 2020 aarch64 aarch64 aarch64 GNU/Linux

ubuntu@ip-172-31-82-41:~$ pip install --pre  torchvision -f https://download.pytorch.org/whl/nightly/cpu/

[2020-08-31 19:15] pmeier commented on #2622
@seemethere

- Specifying a not (yet) supported python version (from #2359)

[code]

- Specifying an unsupported platform

[code]

[2020-08-31 19:27] AWSNB commented on #2622
@pmeier if the platform (like macos_arm, or aarch64) is not yet defined, python will default to none-any.whl and will install old version

was there a downside for having a none-any wheel for every new version?   sounds like the right path for supporting yet to be added platforms

[2020-08-31 22:03] addisonklinke opened #2634 "Pretrained GoogLeNet without batch norm"
## 🚀 Feature
Looking at the [commit history](https://github.com/pytorch/vision/commits/e1a3042792a3f15a8cae8cc563d54d2215a3e201/torchvision/models/googlenet.py) for `torchvision.models.googlenet`, I noticed that the squashed commit messages for the initial PR [#678](https://github.com/pytorch/vision/pull/678/commits/6c0d34d250bbc85a556f58f6aed8190ed14e79eb) mention a plain _and_ batch norm version

[2020-08-31 22:49] vfdev-5 opened #2635 "Add RandomGaussianBlur"
## 🚀 Feature

Idea is to add a random gaussian blur image transform like in [SwAV](https://github.com/facebookresearch/swav/blob/d4970c83791c8bd9928ec4efcc25d4fd788c405f/src/multicropdataset.py#L65)

cc @vfdev-5

[2020-08-31 22:58] vfdev-5 commented on #2634
@addisonklinke thanks for FR.

@TheCodez could you please shed some light why `googlenet_bn` was not retained ?

[2020-08-31 23:55] ashishfarmer commented on #2621
Narrowed down the problem to NMS operator in torchvision on ROCm. It is reproducible with NMS test in torchvision itself. Looking further into it

[2020-09-01 06:51] zyc-ai commented on #2624
The reason why this is an issue is that it will NOT raise such exception in the previous version. And with this issue, current demo on pytorch no longer works.

[2020-09-01 07:48] vfdev-5 commented on #2624
@zyc-ai could you please detail precisely in which versions of pytorch and torchvision [your code](https://github.com/pytorch/vision/issues/2624#issue-686961685) and which exactly

you are talking about ?

[2020-09-01 07:58] zyc-ai commented on #2624
This code works on PyTorch 1.5, and *sometimes* works on PyTorch 1.6. I'm not quite sure about the version of torchvision, I only specify the pytorch version to conda which handle the version of torchvision.

refers to the example on https://pytorch.org/docs/stable/torchvision/datasets.html#coco , I don't have the chance to test it, but since there isn't a `collate_fn` defined in example, it shoul

[2020-09-01 08:07] vfdev-5 commented on #2624
You can fetch torchvision version with `pip list | grep torchvision` or in the code as `import torchvision; print(torchvision.__version__)`. It would be nice to have precise version to reproduce your issue. Thanks !

The example on the link only shows dataset usage only and not the dataloader, that's why there is no `collate_fn`. But I agree that it would suffer from the same problem if dataloader

[2020-09-01 08:27] fmassa commented on #2629
I believe this was fixed with https://github.com/pytorch/vision/pull/2633

[2020-09-01 08:27] #2629 closed

[2020-09-01 08:48] vfdev-5 commented on #2570
@seemethere cuda9.2 support was dropped in pytorch-nightly ?

Probably, the tests here should be adapted to the change.

https://app.circleci.com/pipelines/github/pytorch/vision/3723/workflows/f4de1c00-c5ab-4c59-9942-be823c944d5b

[2020-09-01 08:57] shaoming20798 commented on #2632
Yes, I'm sure I have installed pytorch correctly, because I have trained a model correctly using that installed pytorch and it showed the right version when I do 'import torch; print(torch.__version__)' in my train.py file.
I have installed torchvision successfully from source using `python setup.py install`. But torch-1.6.0 have been forced installed in my computer through downloading torch-1.6.0

[2020-09-01 09:12] fmassa commented on #2632
Could it be that there are multiple python environments and you might be using different ones by chance?

[2020-09-01 09:13] tejank10 commented on #2635
Hi @vfdev-5, first-time contributor here. Can I take this up, if it is okay with you?

I see that `kornia` already has this transform [(link)](https://kornia.readthedocs.io/en/latest/_modules/kornia/filters/gaussian.html#gaussian_blur2d). Is it recommended to design this transform by using `kornia`'s utility or better to have those utilities natively in `torchvision`?

[2020-09-01 09:13] fmassa commented on #2621
@ashishfarmer we have recently changed the registration mechanism in torchvision for a couple of ops, namely NMS and RoIAlign, see https://github.com/pytorch/vision/pull/2366 and https://github.com/pytorch/vision/pull/2384

[2020-09-01 09:23] vfdev-5 commented on #2635
Hi @tejank10 thanks for asking and proposing to work on this issue.

In general it is better to avoid adding new dependencies (like `kornia`) for a single feature. This feature should be implemented for PIL and torch.tensor inputs.

Technically, this feature can be a bit complex for a first-time contributors but I can help to advance and iterate on sent PR etc.

There will be two implementations,

[2020-09-01 13:32] zyc-ai commented on #2624
I know that... It's just I have downgraded from PyTorch 1.6, so the previous env no longer exists (I thought it should be a PyTorch issue
But considering it was PyTorch 1.6, I would assume TorchVision should be 0.7.0?

[2020-09-01 14:19] TheCodez commented on #2634
The original model I send was completely based off the paper and used the same initialization that inception_v3 uses, which is the same the tensorflow implementation uses.
The tensorflow implementation uses batch norm. I'm guessing the original googlenet doesnt work with this initialization without batchnorm.

After those failed training attemps I added the Xavier initialization as that worked for

[2020-09-01 14:57] pmeier commented on #2622
@AWSNB As @fmassa stated before, as of `0.3` `torchvision` contains compiled parts. Thus, if you use an unsupported platform you have to compile it yourself. If you don't need anything complicated

[code]

should already do the trick.

[2020-09-01 15:22] peterjc123 commented on #2570
@vfdev-5 I'll do this.

[2020-09-01 15:33] addisonklinke commented on #2634
@TheCodez So if I understand correctly, your initial work _did_ fully implement the architecture for a non-batch norm GoogeLeNet, but we never had pre-trained weights for it? Since the weights are from Tensorflow, we had to use their batch norm based architecture

[2020-09-01 15:37] TheCodez commented on #2634
@addisonklinke Correct. Given that training Googlenet from scratch is known for being hard, using the Tensorflow weights and architecture was the easier choice.

[2020-09-01 18:11] addisonklinke commented on #2634
@vfdev-5 Since training is the issue, perhaps we could port pre-trained weights for the non-batch norm architecture from the official ONNX model I linked?

[2020-09-01 18:19] #2570 closed

[2020-09-01 21:46] vfdev-5 commented on #2634
@TheCodez could you please add a link on the tensorflow implementation ?

@addisonklinke there are also the weights from BAIR caffe : https://github.com/BVLC/caffe/tree/master/models/bvlc_googlenet which can be also ported. This one is without BN and has conv kernel=5 for branch3 (#906).

I also wonder how would we call this "original" googlenet here keeping current implementation with its name fo

[2020-09-01 21:50] TheCodez commented on #2634
@vfdev-5 https://github.com/tensorflow/models/blob/master/research/slim/nets/inception_v1.py

That's a good question, ideally the current googlenet should be called inception_v1 but this makes backwards compatibility hard.

[2020-09-01 22:10] vfdev-5 commented on #2634
I think it worth to update the docs of https://github.com/pytorch/vision/blob/195c41ee7ae3fff8f64a4fda67632259dd4f7454/torchvision/models/googlenet.py#L26 saying that implementation and weights are from tf-slim.

Maybe, "original" model can be called as `bvlc_googlenet` and implementation's doc should also contain a link on caffe repository and both`bvlc_googlenet` and `googlenet` should note the

[2020-09-01 22:28] vfdev-5 commented on #2571
@neginraoof is something blocking to fix the onnx issues ? Currenlty, it remains Travis CI which is still failing...

[2020-09-01 22:34] chrismaliszewski opened #2638 "Custom input size in VGG"
Hi. I'm quite new to machine learning. After some performance issues with Tensorflow, I'm transferring my code to Pytorch.

The question I want to ask is more of a question about Pytroch itself.
I have images with a different size than 224x224x3. At the moment it's 50x250x1 (or x3 if I decide) but it may change. I'm not sure how to modify the code of https://github.com/pytorch/vision/blob/master/t

[2020-09-02 05:01] chrismaliszewski commented on #2638
I used the below code to calculate pool input size:
[code]

[2020-09-02 05:01] #2638 closed

[2020-09-02 06:40] tejank10 commented on #2635
Thanks for the direction @vfdev-5.

I was comparing PIL's GaussianBlur functionality with the ones from other libraries. This will help in designing the transform for torch.Tensor and mitigate the possible inconsistencies between PIL vs tensor outputs.

PIL's [GaussianBlur](https://pillow.readthedocs.io/en/stable/reference/ImageFilter.html?highlight=Gaussian#PIL.ImageFilter.GaussianBlur) performs

[2020-09-02 07:59] fmassa commented on #2571
I think @neginraoof sent a fix to PyTorch in https://github.com/pytorch/pytorch/pull/43670 but it's pending to be merged

[2020-09-02 10:12] vfdev-5 commented on #2635
@tejank10 for the first version I think PIL's GaussianBlur with a single parameter `radius` is OK. We can not use opencv as dependency neither.

Please, take a look how implemented [`F.rgb_to_grayscale`](https://github.com/pytorch/vision/blob/5f616a2b962cac01b6fcb68096d752a2d8d4050e/torchvision/transforms/functional.py#L981). Idea is to be able to dispatch according to the input type: if input is

[2020-09-02 10:24] tejank10 commented on #2635
@vfdev-5 Yeah I understand that using any other library is not the way. :)
I was trying to contrast the way Gaussian blur actually happens between PIL and OpenCV, and should our Gaussian kernel creation function be as customizable as that of OpenCV, or are we okay with that tradeoff and let the function perform the same as PIL.

[2020-09-02 11:44] vfdev-5 commented on #2635
@tejank10 yes we are OK with that tradeoff and let the function perform the same as PIL.

[2020-09-02 20:21] #2621 closed

[2020-09-02 21:56] tfboyd commented on #1266
I "popularized" the name ResNet v1.5 which was used informally and internally at NVIDIA. I have never attempted to take credit because I did it to help standardize conversations for my own benefit. I believe Facebook was the first to use this tweak but did not give it a name beyond ResNet and implying v1.  http://torch.ch/blog/2016/02/04/resnets.html    I am not a researcher and wanting nothing to

[2020-09-03 04:47] oke-aditya commented on #2545
Hello, @fmassa can I contribute to this issue?
I am new to contributing to torchvision but highly interested.

[2020-09-03 05:24] yaox12 commented on #2635
Glad to see someone is working on this! It would be better for me if the function is to be as controllable as that of OpenCV.
I'm currently doing some research work on image self-supervised learning (SSL), where people usually perform Gaussian blur with fixed `kernel_size` while random `sigma`, for example, [SimCLR](https://github.com/sthalles/SimCLR/blob/master/data_aug/gaussian_blur.py) and [BYO

[2020-09-03 07:37] #2563 closed

[2020-09-03 07:56] vfdev-5 commented on #2292
The issue can be closed as all mentioned transformations now support tensor and pil image as input.

[2020-09-03 07:56] #2292 closed

[2020-09-03 08:16] vfdev-5 opened #2641 "Torch script support for Compose, RandomApply and others"
## 🚀 Feature

Idea is to make sure that a compose of transforms could be scripted. For example, the following should work
[code]

Transforms to support:
- [ ] Normalize
- [ ] Compose
- [ ] RandomApply

cc @vfdev-5

[2020-09-03 08:35] vfdev-5 commented on #2635
@yaox12 thanks for the suggestion, let's see what could we do.

[2020-09-03 11:14] tejank10 commented on #2635
[This](https://github.com/tejank10/vision/commit/e9ece08d666eaf608960f7bf185c7fafe57d41ea) is how it currently looks. It randomly chooses a kernel radius from the given range, creates kernel accordingly, and applies the blurring function.

Following is the error image between PIL vs Tensor versions when I tried it on the hopper image:
![erimg](https://user-images.githubusercontent.com/19868340/921

[2020-09-03 16:36] godspeed1989 commented on #2598
I use the latest torchvision and compliled it as torchvision-0.8.0a0+ac3ba94-cp38-cp38-linux_x86_64.whl.
But I still encounter the illegal memory access problem after several hours of training.
![image](https://user-images.githubusercontent.com/2350713/92142057-ddd37b80-ee45-11ea-8800-45e9b5c12471.png)

The training of my model is fine before I modified several traditional conv layers to deform co

[2020-09-03 17:14] addisonklinke commented on #2634
@vfdev-5 I'm on a rather time-sensitive project, so will likely pursue some alternatives like using a different `torchvision.models` class for the backbone rather than diving down the Caffe to PyTorch rabbit hole. If that doesn't pan out, then I may have more time and effort to invest into porting from another framework

[2020-09-03 18:07] vfdev-5 commented on #2598
@godspeed1989 maybe some Nans appeared... It is difficult to say like that. Can you give more details and maybe a repreducible code snippet ? That would help

[2020-09-04 02:49] godspeed1989 commented on #2598
@vfdev-5 Thanks for replying. I trained the model last night again and encountered the same issues that happened in optimizer.step().
![image](https://user-images.githubusercontent.com/2350713/92193518-223d3680-ee9b-11ea-8b4a-22f4334dfc6c.png)
Here is the code snippet about how i use deform conv
[code]
I think it is hard to reproduce as it happens after several hours of training.
And can you provi

[2020-09-04 06:18] kimdn commented on #696
Just reporting, 64x64 images do not work for AvgPool2d as well.

`    x = self.Avergepool(x)
  File "/people/kimd999/bin/Miniconda3-latest-Linux-x86_64/envs/pytorch/lib/python3.8/site-packages/torch/nn/modules/module.py", line 550, in __call__
    result = self.forward(*input, **kwargs)
  File "/people/kimd999/bin/Miniconda3-latest-Linux-x86_64/envs/pytorch/lib/python3.8/site-packages/torch/nn/mod

[2020-09-04 07:37] vfdev-5 commented on #2598
@godspeed1989 can you provide more info about what model(s) and how you are training with which hyperparameters (lr, lr scheduling etc) ? If I could have this info I could try to launch the training from my side and reproduce the issue ...

What is the purpose of
[code]
According to the images you provided, it looks like the error can happen on 0th or 1st epoch ? So, it could go over the complete

[2020-09-04 08:32] briliantnugraha opened #2644 "[BUG] Pytorch-> Inconsistent conversion torchvision.ops.nms and onnx nonmaxsuppression"
Hi everyone, I encounter a strange issue.

I tried to convert detectron2 RoI Heads, I could convert it to ONNX successfully, but I get this error on inference:
![image](https://user-images.githubusercontent.com/9381132/92217280-16b53400-eeca-11ea-9f67-16bd4edc96d6.png)

When I check the docs of [onnx](https://github.com/onnx/onnx/blob/master/docs/Operators.md#NonMaxSuppression), the input shapes a

[2020-09-04 09:19] godspeed1989 commented on #2598
I sorry I can't provide the model to you as it is related to an unpublished paper and still under development.
The learning_rate is 1e-3, optimizer is Adam, the weight_decay is 0.
It can go over the dataset at my 2nd attempt.
Now, I am trying to detect if the NaN happens to loss by torch.isnan(). It still fine now.

[2020-09-04 09:40] vfdev-5 commented on #2598
@godspeed1989 no worries about that. The dataset is something knowm I assume and there is no corrupted data etc...
Can you check a training mode like overfitting 1-2 batches to see if you model converges etc ?

[2020-09-04 15:26] godspeed1989 commented on #2598
Unfortunately, the program still crashed at the 2nd epoch with the same issue. :(
The evaluation is performed after each epoch on validation set, the model seems converged fine.
May be i should switch to SGD to train it.

[2020-09-04 15:29] vfdev-5 commented on #2598
The evaluation is performed after each epoch on validation set, the model seems converged fine.

@godspeed1989 No, I mean reduce the size of your training dataloader to 1-2 batches and try to overfit the model during ~1000 iterations and let's see if it also crashes somewhere and whether it is related to the data somehow...

[2020-09-05 09:03] godspeed1989 commented on #2598
I reduce the size of your training dataloader to 1 batch and train 20000 iterations. The program has finished fine now.

[2020-09-07 03:34] yelantingfeng opened #2647 "rgb2hsv bug in functional_tensor.py."
https://github.com/pytorch/vision/blob/bb88c4520b835e79d5d3c4423eb7ff7c26fa2043/torchvision/transforms/functional_tensor.py#L429-L442

As stated in the comments, when `r=g=b`, the calculation of `h` is expected to be value `6`. However, in the current implementation, only `hr` will be counted in, because `hg` and `hr` are just ignored with the condition `(maxc != r)`. I think this is not expected

[2020-09-07 06:13] yelantingfeng commented on #2647
Sorry, I just noticed that if `r=g=b`, `hr` alone will be zero, which is just fine. Close this issue now.

[2020-09-07 06:13] #2647 closed

[2020-09-07 07:16] briliantnugraha commented on #2644
Hi @vfdev-5 , according to this [onnx repo](https://github.com/onnx/onnx/issues/2216), it seems that the operation is not supported by default. Because I see that they use custom ops to link the NMS op with Pytorch / make constant NMS node [like this](https://github.com/onnx/onnx/issues/2216#issuecomment-667760885).

Does this mean that this op is still in the developing stage?

[2020-09-07 07:39] vfdev-5 commented on #2644
Hi @briliantnugraha unfortunately, I can not help with your question. The information I know is that in torchvision, there are tests of exporting models like faster, mask rcnn and the ops : [here](https://github.com/pytorch/vision/blob/master/test/test_onnx.py#L31), [here](https://github.com/pytorch/vision/blob/master/test/test_onnx.py#L427). Could you please take a look there and check if this ca

[2020-09-07 08:01] briliantnugraha commented on #2644
Hi @vfdev-5 , are detectron2 and torchvision' mask-rcnn compatible?

Compatibility that I mean here is model structure, so that we could just load detectron2's model to torchvision's model.

I see that from [this discussion](https://github.com/facebookresearch/detectron2/issues/117), they should be compatible fundamentally, but my concern is that if it is different in implementation, because it wi

[2020-09-07 08:08] vfdev-5 commented on #2644
I think @fmassa could explain better about the compatibility between d2 and torchvision. Probably, you can have the answer by tomorrow.

In your case, you have to use a d2's model and can not use a similar model from torchvision ?

[2020-09-07 08:20] briliantnugraha commented on #2644
Great news! I will await @fmassa 's enlightnment on that topic.

Yes, we are now constrained with Detectron2. So, if there is a bridge between those two, it will be really appreciated :)

[2020-09-07 09:44] briliantnugraha commented on #2644
For reference, from my investigation between Detectron2 and Torchvision's state dicts, I find that:

- Resnet 101 layer (1 to 5) is similar
- FPN is similar
- Anchor generators are missing in the torchvision model
- RPN is similar
- RoI Heads bbox_predictor's weight and bias are different (Detectron2: 320, Torchvision: 324)
- RoI Heads mask predictor's weight and bias are different (Detectron2: 80

[2020-09-07 10:45] zacurr opened #2648 "weird behavior of ResNet101 Quantization"
## ❓ Questions and Help

### Please note that this issue tracker is not a help form and this issue will be closed.

We have a set of [listed resources available on the website](https://pytorch.org/resources). Our primary means of support is our discussion forum:

- [Discussion Forum](https://discuss.pytorch.org/)

Following the tutorial (https://pytorch.org/tutorials/advanced/static_quantization_t

[2020-09-07 15:09] vfdev-5 commented on #2644
@briliantnugraha maybe the difference of 81 (324 = 81 * 4) vs 80 (320 = 80 * 4) is related to presence/absense of background class in MS Coco dataset...

[2020-09-07 20:46] niri1360 commented on #1877
I am a new in Julia and after adding the Plots package I tried to use Plots and I got this Error message:

julia> using Plots
[ Info: Precompiling Plots [91a5bcdd-55d7-5caf-9e0b-520d859cae80]
ERROR: LoadError: InitError: could not load library "C:\Users\niri\.julia\artifacts\7350a6401f1c0d38cc3518193083bc4f83adfe99\bin\avcodec-58.dll"
The specified module could not be found.
Stacktrace:
 [1] dlope

[2020-09-07 21:19] beeqwe opened #2652 "Image to Tensor data"
Library: **pytorch_java_only-1.6.0**

I want to convert BufferedImage/File to Tensor data, is there some method or library for this?

Python solution:

[code]

I need something like that for pytorch_java. I'm sorry if my question is stupid i'm newbee

P.S: Thanks for reply

[2020-09-08 01:54] peterjc123 commented on #1877
Closing, as this issue is fixed in 0.6.0. If you are using 0.5.0, please refer to https://github.com/pytorch/vision/issues/1877#issuecomment-586157441 and https://github.com/pytorch/vision/issues/1877#issuecomment-609003986.

[2020-09-08 01:54] #1877 closed

[2020-09-08 02:05] briliantnugraha commented on #2644
Hi @vfdev-5 , yes, for mismatch size is still easy to tackle, where we could **redefine the weight and bias with our desired size**.

However, the **missing layers (i.e. anchor generators)** will be a bigger issue.

[2020-09-08 04:57] oke-aditya opened #2649 "Docs of some functions written are missing"
## 📚 Documentation

A simple issue, Docs are missing on the torchvision website for following functions written in torchvision.

I guess we should add these docs on the webpage, as end-users will benefit from using these functions.

Most people will not look at source code to find these functions but refer to docs.

Missing docs that I found

- [ ] Image reading functions [here](https://github.com

[2020-09-08 09:46] KaiHoo commented on #2623
Just a translation @pmeier

"""
CMakeFiles/example-app.dir/example-app.cpp.o：In function ‘ROIAlign_forward(at::Tensor const&, at::Tensor const&, double, long, long, long, bool)’：
example-app.cpp:(.text+0x179c)：undefined reference to ‘ROIAlign_forward_cuda(at::Tensor const&, at::Tensor const&, double, long, long, long, bool)’
CMakeFiles/example-app.dir/example-app.cpp.o：In function ‘ROIAlign_backwa

[2020-09-08 09:58] bjuncek opened #2650 "VideoReader segfault on SOME videos."
## 🐛 Bug

VideoReader segmentation fault on long videos when using video_reader backend. This issue is a continuation of #2259
Torchvision segfaults when reading entire test video.

I used to believe this was the issue with long videos only, but it happens on the test videos we have provided as well suggesting in might related to the FFMPEG version installed on a system (the fact that test don't c

[2020-09-08 09:58] #2259 closed

[2020-09-08 09:58] bjuncek commented on #2259
Superseeded by the issue above

[2020-09-08 11:18] pmeier commented on #2630
I'm pretty covered right now. Any help on this is appreciated.

[2020-09-08 11:51] vfdev-5 commented on #2649
@oke-aditya thanks for reporting :)

Concerning "Image reading functions", it is only `master` version and does not exist yet in the stable version, right ?

About torchvision ops from boxes.py, yes, seems like some docstrings are missing in https://pytorch.org/docs/stable/torchvision/ops.html which can be easily added.

So, yes, please, send a PR for fixing the docs for boxes.py.

[2020-09-08 11:55] oke-aditya commented on #2649
For image reading functions, docs do not exist for both, master as well as stable.

Please verify once [io.rst](https://github.com/pytorch/vision/blob/master/docs/source/io.rst)

[2020-09-08 11:58] vfdev-5 commented on #2649
Yes, you are right, docs for master version are also missing image reading functions. A PR for that could also help :)

[2020-09-08 12:01] vfdev-5 opened #2651 "Add CONTRIBUTING.md"
## 🚀 Feature

It is a good practice to have CONTRIBUTING.md file to describe some guidelines for open-source contributions.

TODO:
- [x] Version 1
- [x] complete section about how to add a new model
- [ ] complete section about how to add a new dataset

cc @fmassa

[2020-09-08 15:07] martingasser opened #2653 "Cannot build C++ example"
I'm on macOS. After building and installing torchvision, I tried building the C++ example and failed.

`
/Users/martin/devel/vision/examples/cpp/hello_world/main.cpp:3:10: fatal error: 'torchvision/models/resnet.h' file not found
#include <torchvision/models/resnet.h>
         ^~~~~~~~~~~~~~~~~~~~~~~~~~~~~
1 error generated.
make[2]: *** [CMakeFiles/hello-world.dir/main.cpp.o] Error 1
make[1]: ***

[2020-09-08 15:48] oke-aditya commented on #2651
Yes ! I was about to raise this Issue something in lines of [ignite](https://github.com/pytorch/ignite/blob/master/CONTRIBUTING.md) would be nice.

Most might struggle to build docs, format code with linting etc.

[2020-09-08 17:21] blefaudeux opened #2655 "RegNet in torchvision ?"
## 🚀 Feature
Add RegNet trunks in torchvision

## Motivation
RegNets were proposed in this paper https://arxiv.org/pdf/2003.13678.pdf, they're showing very interesting performance and speed. They have been open sourced [already](https://github.com/facebookresearch/pycls), but are not usable in a straightforward way for people used to having reference models in torchvision. Another implementation i

[2020-09-08 19:18] ofekp commented on #2486
I managed to switch box_ops.batched_nms with nms from [torch_xla](http://pytorch.org/xla/release/1.6/index.html#torch_xla.core.functions.nms) but then ran into the roi_align method which also had no support 🤦‍♂️

[2020-09-08 22:01] vfdev-5 commented on #2655
@blefaudeux thanks for the suggestion ! For which tasks you think about for this model: at least classification, right ?

Could you detail which use-cases ClassyVision implementation does not cover ?

Would you like to draft a PR for that ? Otherwise, me or someone else can do that.

[2020-09-08 22:13] blefaudeux commented on #2655
Oh, I just meant that not everyone is using ClassyVision obviously, I for instance came across users telling me that they were sticking to EfficientNets or ResNets because they were only wiling to consider Torchvision.

I'm not sure what there is to know for a model to be supported by torchvision, apart from the raw code (which I can handle indeed, or anybody else, no preference). Are there some l

[2020-09-08 22:32] vfdev-5 commented on #2655
Excellent question. I'd say we have to provide model's implementation and ImageNet pretrained weights. In the docstring we provide some information about the model, link to the paper etc. For example, MNasNet:
https://github.com/pytorch/vision/blob/190a5f8a32f9ae775d4379c55db7e2deb6eada6b/torchvision/models/mnasnet.py#L204-L208

ImageNet pretrained weights are often coming from retraining, but the

[2020-09-08 22:37] blefaudeux commented on #2655
I could provide reference weights from a ClassyVision ImageNet training, fairly easy to reproduce (if we're ok to limit this to some members of the RegNet family, probably not all of them :)). Another option is to translate the weights in the PyCls repo/model zoo, but that's some work because the model definition is not exactly the same (even if the actual underlying architecture is, of course). C

[2020-09-08 22:42] pdollar commented on #2655
Yes, all model weights are available in pycls, not sure how easy it is to convert them to classy vision format. Link: https://github.com/facebookresearch/pycls/blob/master/MODEL_ZOO.md

[2020-09-08 22:55] vfdev-5 commented on #2655
@blefaudeux @pdollar thanks for the details ! So, we prefer to have here certain families of RegNet implemented as in Classy than the ones in pycls format right ? I let you define those families you think the most interesting for the users.
If there are families we would like to include, but you do not have the weights, we can retrain them too.

It would be, probably, helpful for the future to add

[2020-09-08 23:02] blefaudeux commented on #2655
Sorry for the imprecision, I forgot that the context is clearly not trivial, trying to address that :
- the pycls implementation is the original one, straight from FAIR (research), it exposes a lot of features which were mostly there for experimentation (architecture search) but are not useful once the best models in the family were found
- the ClassyVision implementation was tentatively more prod

[2020-09-08 23:12] vfdev-5 commented on #2655
@blefaudeux thanks for the explanation ! I see better the context. Yes, this sounds good !

If you have an idea of which RegNetX, RegNetY it would be good to provide with pretrained weights. Maybe, those from the paper's tables 5 and 6 :
- REGNETX-3.2GF
- REGNETX-6.4GF
- REGNETX-12GF
- REGNETX-4.0GF
- REGNETX-8.0GF
- REGNETY-400MF
- REGNETY-600MF
- REGNETY-800MF
- REGNETY-1.6GF
- REGNETY-4.0GF
- R

[2020-09-08 23:18] blefaudeux commented on #2655
Looks good to me ! Probably worth it writing a small tool to transcribe the weights in between pycls and this more streamlined implementation, it's something I could do. Not sure whether @mannatsingh would have something handy around to help on that ?

[2020-09-08 23:22] vfdev-5 commented on #2635
@tejank10 sorry for delayed reply. Could you please draft a PR based on your branch and we can iterate over the code.

[2020-09-09 00:00] mannatsingh commented on #2655
@blefaudeux I don't have anything available to convert pycls weights to classy, unfortunately.
While you should be able to get similar results by training the models from scratch in Classy (we verified this for a few models), it might be easier to just convert the weights available in pycls.

[2020-09-09 05:31] beeqwe opened #2657 "no pytorch_jni in java.library.path windows"
Hello, i'm trying to load my model using pytorch_java_only but it's reproduce this error:

[code]

How to reproduce the bug:

OS: **Windows**

[code]
pom.xml:

[code]
**LIBTORCH_PATH** this is directory of files which downloaded from [there](https://download.pytorch.org/libtorch/cpu/libtorch-win-shared-with-deps-debug-1.6.0%2Bcpu.zip)

And i noticed one regularity, linux archive contains the libpy

[2020-09-09 05:32] beeqwe commented on #2657
wrong topic, so sorry

[2020-09-09 05:32] #2657 closed

[2020-09-09 09:05] vfdev-5 commented on #2571
Let's close the issue as solved : travis ci passes the failing onnx tests and pytorch/pytorch#43670 was merged.

[2020-09-09 09:37] fmassa commented on #2644
@briliantnugraha the models between D2 and torchvision are different, and trying to port one to the other will be a fairly involved task (starting with the resnet structure which is different -- the stride is in a different location in the resnet blocks).

The 80 / 91 difference in the number of classes is just because we don't perform a class remapping in the COCO ids, and as the ids are not cons

[2020-09-09 09:37] #2644 closed

[2020-09-09 09:46] bjuncek opened #2660 "New video API Proposal"
## 🚀 Feature

We're proposing to add a lower level, more flexible, and equally robust API than the one currently existing in `torchvision`.
It would be implemented in C++ and compatible with torchscript. Following the merge of https://github.com/pytorch/vision/pull/2596 it would also be installable via pip or conda

## Motivation

Currently, our API supports returning a tensor of `(TxCxHxW)` via `

[2020-09-09 11:43] fmassa commented on #2651
Yes, that is a great thing to have.

I think we should clarify what are the criteria for adding new models / layers to torchvision, so that it's clear from the beginning.

@vfdev-5 if you could start with a first, more generic, draft of the CONTRIBUTING file we could iterate on it

Tagging @cpuhrsch @dongreenberg for thoughts.

[2020-09-09 13:14] fmassa commented on #2652
Hi,

We dont provide a java interface for torchvision, and I have no experience with Java so I won't be able to help with this. I think you are in the right direction with `fromBlob`.

[2020-09-09 13:14] #2652 closed

[2020-09-09 16:04] pdollar commented on #2655
What is the motivation for only including a subset of the models? Is it because they have to be retrained?

The reason I ask is that the benefit of RegNets is they give good accuracy models across a wide range of flop regimes, as opposed to say ResNet which typically is only optimized for a narrow range of 4GF-12GF (ResNet50-ResNet152). On the other hand RegNets can be good at very small sizes (20

[2020-09-09 16:22] blefaudeux commented on #2655
@pdollar it's not so much of an issue with Classy actually, it's just that some names have changed in between the pycls and classy implementation of the RegNets, I should be able to fix that by loading/mapping names/saving again. I'm just a bit wary of something really subtle there, but from a distance it should not be too hard indeed and probably the best thing to do

[2020-09-09 16:33] fmassa commented on #2655
Hi,

I'm not sure we would be ready to add RegNet to torchvision yet.

We generally have a requirement of number of citations of the paper containing the model model before we include it in torchvision, similarly to what we do for PyTorch. We can reconsider this decision in 6 months.

Users can obtain RegNet variants by using PyTorch Image Models https://github.com/rwightman/pytorch-image-models ,

[2020-09-09 17:37] seemethere commented on #2617
We could also possibly have it just a send a message in a slack channel as well.

That way community members as well as maintainers can have a way to see the signal in a more public space.

[2020-09-09 17:55] pmeier commented on #2617
I'm currently looking into `probot` to do this. @seemethere Do you know if CircleCI can fire a webhook if it fails?

[2020-09-09 18:46] seemethere commented on #2617
It's entirely possible, but we haven't had much success trying to create an alerting system through CircleCI

[2020-09-09 19:15] mannatsingh commented on #2655
Thanks for the context @fmassa .

@blefaudeux one more thing to clarify, in your original note, you mention -

From what I understand, torchvision's implementations are even more strict (even fewer configurations allowed) - @fmassa can correct me if I'm wrong. Also, you should be able to generate any RegNet using the Classy implementation, so I wouldn't want anyone reading this issue to get the wr

[2020-09-09 21:25] blefaudeux commented on #2655
@mannatsingh ah ok, that's not what I meant with `does not cover all use cases.` I just meant that not every user of torchvision is using classy vision obviously ([MoCo](https://github.com/facebookresearch/moco) randomly comes to mind, they support torchvision out of the box but that's all), so I just meant that _having an implementation in Classy was not enough to make RegNets truly accessible to

[2020-09-10 03:44] cpuhrsch commented on #2651
We could also referece the [pytorch contribution guidelines](https://github.com/pytorch/pytorch/blob/master/CONTRIBUTING.md) with some additional torchvision specific guidance.

[2020-09-10 05:14] oke-aditya commented on #2486
@ofekp

I guess best would be to raise an issue to XLA team regarding this. Maybe they will add these ops to XLA compatibility.

I'm still unsure how much it will benefit while training as fmassa pointed out.

[2020-09-10 05:18] pmeier commented on #2617
A simple solution could be this https://github.com/JasonEtco/create-an-issue. If we test the download as part of a GitHub Actions workflow, this could simply create an issue from a given template if the workflow fails.

@seemethere @fmassa Is GitHub Actions a alternative to CircleCI for this?

[2020-09-10 06:52] pmeier commented on #2617
I've created a [proof of concept repo](https://github.com/pmeier/test-issue-on-fail). With this minimal setup it will create an issue like this https://github.com/pmeier/test-issue-on-fail/issues/9 every time the workflow fails. I think that might already be enough.

[2020-09-10 09:02] briliantnugraha opened #2662 "MaskRCNN Conversion from Pytorch to ONNX failed using vision/test/test_onnx.py script"
Hi everyone, this is a continuation of [this issue](https://github.com/pytorch/vision/issues/2644).

As what @fmassa pointed out, it is better to use torchvision maskrcnn directly.

However, when I am running the vision/test/test_onnx.py script, I get [this error, which is cause by roi_align_aligned](https://github.com/pytorch/vision/files/5200368/roialignerror.txt).

I get it that it might be cau

[2020-09-10 09:46] #2662 closed

[2020-09-10 17:25] fmassa commented on #2655
We try to keep the model implementations fairly simple -- the space of configurations for a model is potentially infinite, and trying to expose too many options can make things very hard to understand for users.

I agree that citations per se is not a perfect metric. But given the amount of research and activity around computer vision nowadays, with 100s of papers every year claiming SOTA, we need

[2020-09-10 18:31] jainrahul1 commented on #2480
Any update on this I am also facing the same issue. Even after installing libjpeg-turbo-2.0.5 from source error is sill present.

[2020-09-10 19:37] ofekp commented on #2486
@oke-aditya I opened and issue in pytorch/xla - https://github.com/pytorch/xla/issues/2487.

[2020-09-11 01:44] briliantnugraha commented on #2662
Hi @fmassa, thanks for your reply. I have updated both packages to torchvision=0.8.0.dev20200910+cu101 and torch=1.7.0.dev20200910+cu101. However, I still get the same error (testRPN error).

Here is [the log of test](https://github.com/pytorch/vision/files/5205448/rpn_stillerror.txt).

Do I missed something here?

[2020-09-11 04:55] SungmanHong opened #2666 "Pytorch mobile app error"
I have created .pt file and i just put input...

E/AndroidRuntime: FATAL EXCEPTION: main
    Process: com.johnolafenwa.pytorchandroid, PID: 3030
    java.lang.RuntimeException: Failure delivering result ResultInfo{who=null, request=1, result=-1, data=Intent { act=inline-data flg=0x1 (has extras) }} to activity {com.johnolafenwa.pytorchandroid/com.johnolafenwa.pytorchandroid.MainActivity}: java.lan

[2020-09-11 04:58] SungmanHong commented on #1943
It just happend to me....so ANNOYING!!

[2020-09-11 22:02] sagadre opened #2669 "transforms.ColorJitter().get_params(...) does not support float inputs"
## 🐛 Bug

The docstring for `transforms.ColorJitter().get_params(...)` states that it accepts float and tuple inputs, just as `ColorJitter`'s `__init__(...)`, however, the current implementation supports tuple inputs only. Unlike the constructor it does not support float inputs.

## To Reproduce

Steps to reproduce the behavior:

`
from torchvision import transforms as T

t = T.ColorJitter()
t = t

[2020-09-12 02:42] AprilXiaoyanLiu opened #2670 "BalancedPositiveNegativeSampler does not work as expected"
## 🐛 Bug

From my understanding, BalancedPositiveNegativeSampler would return the self.batch_size_per_image * self.positive_fraction number of positive labels per image. But when I printed out, the positive labels only account for way less than positive_fraction number of positive labels per image. Is it expected? Am I understanding it wrong?

For example,  with batch_size_per_image as 512, positi

[2020-09-12 02:53] AprilXiaoyanLiu commented on #2670
I think I understand. It's min(positive.numel(), num_pos) that caused this. I will close this issue.

[2020-09-12 02:53] #2670 closed

[2020-09-12 08:49] Jefffish09 commented on #2310
I met the same problem.

Any solution now?

[2020-09-12 09:23] Korijn commented on #2310
No response from maintainers yet on the poetry side, just other people chiming in with the same issue/duplicates.

[2020-09-13 11:37] GotFusion commented on #1405
The problem didn't fixed even though I met the requirement

[2020-09-14 10:27] pmeier commented on #2617
Re-opening this, since #2665 only laid the ground work, but not the actual testing on a schedule.

[2020-09-14 11:49] #2576 closed

[2020-09-14 12:17] fmassa commented on #2617
I think this looks pretty good!

[2020-09-14 12:39] fmassa commented on #2653
@andfoy what do you think about extending your CMake CI job to also test the `hello_world` example from https://github.com/pytorch/vision/tree/master/examples/cpp/hello_world

[2020-09-14 12:39] pmeier commented on #2617
Unfortunately, right now it will. I have more time at the end of September / early October to build a proper bot. Until then, we have stick to close it manually. That being said, with the retry functionality and wait time between the individual requests, I don't think this will fail often. Actual dead links or broken downloads are quite rare.

Should I send a PR for this?

[2020-09-14 12:41] fmassa commented on #1405
@GotFusion I believe the issue is still incompatibility of the versions -- you might be using a different python environment for running the code than the one you used for checking the versions

[2020-09-14 12:43] fmassa commented on #2617
Hum, that would be a bit annoying to be spammed by a known-problem by the bot. But I suppose having an initial PR would be good to have

[2020-09-14 12:45] GotFusion commented on #1405
Thank you for your advice. I have changed the python version to 3.79, and it works now

[2020-09-14 12:46] pmeier commented on #2617
Given that I'm responsible for the datasets, it will mostly spam me :wink:

[2020-09-14 13:27] vfdev-5 commented on #2669
@sagadre thanks for reporting !

Yes, this is a bug for 0.4.0 version, but currently `ColorJitter`'s behaviour in the `master` is such that `ColorJitter.get_params()` is not used inside `__call__/forward` and kept for backward compatibility: https://github.com/pytorch/vision/pull/2298#discussion_r467093034. Getting back `ColorJitter.get_params` is low-priority issue and once it is done, due to tor

[2020-09-14 13:44] #2600 closed

[2020-09-14 14:58] #2547 closed

[2020-09-14 15:31] saeed1262 opened #2676 "toy video datasets for generative models"
## 🚀 Feature
Adding toy video datasets for generative models such as Moving MNIST and Robonet

## Motivation

The currently available video datasets are suitable for recognition and not synthesis. It would be nice if you add simple toy video datasets such as Moving MNIST.

cc @pmeier

[2020-09-14 17:29] andfoy commented on #2653
Sure! We can include it

[2020-09-14 17:46] andfoy opened #2677 "CMake GPU distributions cannot be compiled on Windows"
## 🐛 Bug
CMake distributions of libtorchvision fail when trying to compile on Windows and NVCC, due to some commands that have syntax errors:

[code]

## To Reproduce

Steps to reproduce the behavior:

1. Generate MSVC project with cmake with `cmake .. -DTorch_DIR=%TORCH_PATH%/share/cmake/Torch -DWITH_CUDA=1`
2. Try to compile libtorchvision with `msbuild "-p:Configuration=Release" torchvision.vcx

[2020-09-14 20:30] #2653 closed

[2020-09-14 20:45] fmassa commented on #2677
@peterjc123 could you help with this?

[2020-09-15 04:10] peterjc123 commented on #2677
Where is the corresponding cmake command?

[2020-09-15 05:38] pmeier commented on #2676
Hi @saeed1262, we are currently in the process of defining some guidelines for adding datasets (https://github.com/pytorch/vision/pull/2663). Right now the only metric we use is the number of citations:

- Moving MNIST: [1602](https://scholar.google.com/scholar?cites=6890473943204323716)
- Robonet: [18](https://scholar.google.com/scholar?cites=11745841201248720978)

Based on this I think Robonet i

[2020-09-15 12:10] saeed1262 commented on #2676
Hi @pmeier ,
BAIR (https://sites.google.com/view/sna-visual-mpc/) would be another option.

[2020-09-15 17:13] RSKothari commented on #689
Could you elaborate or give an example @Santiago810 ?

[2020-09-15 17:39] andfoy commented on #2677
@peterjc123, sorry for the incomplete instructions, the complete CMake instructions are the following, from the root of the source of torchvision, %TORCH_PATH% corresponds to the installation location of PyTorch:

1. mkdir build
2. cd build
3. cmake .. -DTorch_DIR=%TORCH_PATH%/share/cmake/Torch -DWITH_CUDA=1

[2020-09-16 02:18] prabhuomkar commented on #2666
Your model->forward expects a `Tensor` but is receiving `Tuple`

Reference:
[#L27](https://github.com/pytorch/pytorch/blob/4daa3dedbe4c2ed19936f55d354438b3048aa514/android/pytorch_android/src/main/java/org/pytorch/IValue.java#L27) and [#L33](https://github.com/pytorch/pytorch/blob/4daa3dedbe4c2ed19936f55d354438b3048aa514/android/pytorch_android/src/main/java/org/pytorch/IValue.java#L33)

Can you c

[2020-09-16 02:24] prabhuomkar commented on #2559
Closing this because of no activity!

[2020-09-16 02:24] #2559 closed

[2020-09-16 02:41] sagadre commented on #2669
I see. Are you suggesting that in the future `ColorJitter.get_params()` could be deprecated?

My use case is that I want to apply the same transform (color jitter) to two images.

Here is a simple workaround for those interested:
[code]

[2020-09-16 04:04] SungmanHong commented on #2666
Yes, it was data type issue! It is confirmed.
So I changed datatype to tuple. and it worked successfully.

[code]

Also thanks for Ref#https://github.com/pytorch/pytorch/blob/4daa3dedbe4c2ed19936f55d354438b3048aa514/android/pytorch_android/src/main/java/org/pytorch/IValue.java

[code]
Above thing may help for other people that has similar type mispo.

[2020-09-16 04:04] #2666 closed

[2020-09-16 17:51] andfoy commented on #2650
More information:

[code]

[2020-09-16 18:23] martingasser commented on #2653
Thanks!

I'm aware that it's a minor issue, but I can see that in `packaging/build_cmake.sh`, torchvision is installed to the standard location (`/usr/local`) and `CPLUS_INCLUDE_PATH` is set to `/usr/local/include` (which is not a standard include directory on macOS, while it is on Linux). Of course, that works for the CI job.

If the include path would be added as an interface dependency to the l

[2020-09-16 23:32] andfoy commented on #2653
Hi @martingasser, thanks for this suggestion, we definitely need a way of installing libtorchvision into a non-standard location (conda environments for instance), please free to open a PR regarding this

[2020-09-17 05:52] jainrahul1 commented on #2480
Yes error was related to libpng. However after re-installing  libpng16-dev resolved it.

[2020-09-17 09:27] bjuncek opened #2681 "`video_reader` and `pyav` video backends producing slightly different results"
## 🐛 Bug

`read_video` and `read_video_timestamps` functions have different returns that depend on the backend.

## To Reproduce

[code]

Returns the following output. Please note that the results are not _different_, but _mismatched_.

[code]

In `read_video_timestamps` there is only a discrepancy between the first value. Specifically:

[code]

on the output, the difference is noly in the first f

[2020-09-17 11:20] boniek83 opened #2682 "ROCM version is slow"
## 🐛 Bug

Inference speed is abysmal - way slower than cpu. It works as expected on NVidia.

## To Reproduce

Steps to reproduce the behavior:

1. Dockerfile: https://gist.github.com/boniek83/0bbf858a24961816557c522007a11c11
2. Lab: https://github.com/timesler/facenet-pytorch/blob/master/examples/infer.ipynb
3. Data for lab: https://github.com/timesler/facenet-pytorch/tree/master/data/test_images

[2020-09-18 11:59] #2616 closed

[2020-09-18 14:15] vfdev-5 commented on #2676
@saeed1262 thanks for the feature request ! After discussing this with @fmassa , we would like to add Moving MNIST dataset. Please, discuss with @pmeier if you would like to help us and send a PR.

Concerning Robonet and BAIR dataset, they seem to be very specific for robotics and probably not yet mature. I wonder if those dataset can't be opened with existing generic dataset classes like [ImageFo

[2020-09-18 14:29] dddzg commented on #2484
merged to the master.

[2020-09-18 14:37] vfdev-5 opened #2686 "Provide generic decode/read image io functions"
## 🚀 Feature

Currently, `torchvision.io.image` module provides `read_png/jpeg` and `decode_png/jpeg` separate functions to read and decode images from files. They are not and will not be exposed publicly and the idea is to provide two generic methods like
`read` and `decode` in order to handle both formats (png and jpeg): call internally `read_png` or `read_jpeg`

Maybe, we can inspire of how doe

[2020-09-18 14:53] fmassa commented on #2650
I believe this issue might be a bug in FFmpeg introduced in https://github.com/FFmpeg/FFmpeg/commit/fc6a5883d6af8cae0e96af84dda0ad74b360a084, and that has been fixed in https://github.com/FFmpeg/FFmpeg/commit/ba3e771a42c29ee02c34e7769cfc1b2dbc5c760a

If that's the case, then recompiling FFmpeg would solve the issue.

[2020-09-18 16:02] oke-aditya commented on #2686
This is PIL Implementation fo `Image.open()` This works for all imags and is generic.
Source code is [here](https://github.com/python-pillow/Pillow/blob/master/src/PIL/Image.py).

[code]

[2020-09-18 16:06] vfdev-5 commented on #2686
@oke-aditya thanks for the info, but I'm not sure if we would like to use PIL for reading and decoding the data. Idea is see how PIL manages its png/jpeg specific readers and try to do something similar here...

[2020-09-18 16:22] oke-aditya commented on #2686
It might be better as you say, allowing native support through tochvision with that.

[2020-09-18 16:31] oke-aditya opened #2687 "Bounding Boxes Conversions"
## 🚀 Feature

Simple feature request, we have a lot of useful bounding box operations, in torchvision.ops.boxes.py.

## Motivation

Most data format come in either these two, VOC and COCO for object detection.
If we can provide a utility to convert it, it might ease the process from the user's side, just like how IoU and NMS did.

## Pitch

Provide 2 functions, (please name them better)
[code]
##

[2020-09-18 18:32] andfoy opened #2688 "Building FFmpeg binaries for Windows"
## Discussion

### Context

Right now, as part of PRs https://github.com/pytorch/vision/pull/2683 and https://github.com/pytorch/vision/pull/2596, we intend to include the FFmpeg binaries on or wheel distributions. Due to the software licensing nature of FFmpeg (GPL), we started to build our own LGPL FFmpeg binaries on the [PyTorch builder repo](https://github.com/pytorch/builder/tree/master/ffmpe

[2020-09-18 18:51] andfoy commented on #2650
Effectively, this issue is directly related to the regression introduced in 4.3 and fixed in https://github.com/FFmpeg/FFmpeg/commit/ba3e771a42c29ee02c34e7769cfc1b2dbc5c760a. On FFmpeg 4.2 video reader tests pass

[2020-09-18 18:57] saeed1262 commented on #2676
Thanks, @vfdev-5 and @pmeier.

I have not worked with BAIT dataset yet. Apparently it's been used for generative and predictive methods (such as this one https://arxiv.org/abs/1903.01434).
But I think starting with Moving MNIST would be a safe start on such datasets.

[2020-09-18 21:01] ashishfarmer commented on #2682
The long time you are seeing here is because of MIOpen initialization overhead. If you run the same example in the same docker multiple times, the times for subsequent runs would look more reasonable. You may set the env variable `export MIOPEN_FIND_MODE=2` in your docker and that will help reduce the initialization time by a bit, however the first run will still be significantly slower.
We do hav

[2020-09-18 22:25] #2649 closed

[2020-09-20 15:56] QuantScientist opened #2691 "Reading PNG/JPG images into a torch::tensor and saving a torch::tensor to PNG/JPG in C++ without OpenCV"
## 🚀 Feature

After integrating Siv3D with Libtorch (https://github.com/QuantScientist/Siv3DTorch) I am now trying to read and write images from and to Siv3D **in C++, not Python**. The way it works is:

## Motivation
In C++ I need to do the following:
1. An image is read from disk (usually using OpenCV which is easy but I am trying to avoid)
2. The image is converted to torch::tensor
3. A DL mode

[2020-09-20 15:57] QuantScientist commented on #2686
What about C++, I would like to have the same in Libtorch.

[2020-09-20 17:17] oke-aditya commented on #2686
@QuantScientist I guess as vfdev-5 said this will be implemented in C++ only. I

[2020-09-20 19:43] stu1130 opened #2692 "Using torchvision C++ API without installing python"
## ❓ Questions and Help
I have followed the document and built the libtorchvsion.dylib but when I ran `otool -L  libtorchvsion.dylib` it showed
[code]
Is there a way to get rid of `libpython3.8.dylib`, I think it is required for using python custom operators and we will only use C++.

[2020-09-20 19:57] lanking520 commented on #2692
I can managed to build the so with the hack:

https://github.com/pytorch/vision/blob/master/torchvision/csrc/cuda/vision_cuda.h#L2 change this line to include torch/torch.h.

Same with CPU. Also disable the unncessary pybind API call.

+ need change cmake to disable all python3 packages.

However I don't feel like this is the right way to do. Is there any side effect if I disabled all python acces

[2020-09-21 08:38] fmassa commented on #2691
Hi,

We have recently introduced a `decode_png` and `decode_jpeg` functions in C++, which are exposed to Python for image decoding.

Those methods take the raw read bytes from the image, pass them as a Tensor and get the returned result back.
So the recommended approach for reading images in C++ would be the C++ equivalent of
https://github.com/pytorch/vision/blob/2801a76dd91a8b5c0f63e74e47b369708

[2020-09-21 08:51] fmassa commented on #2686
@QuantScientist we already have C++ implementation for image decoding functions.

@oke-aditya about using PIL, the idea is being able to have a C++-only implementation that works with torchscript, and PIL's C implementation is very tied to Python.

From the PIL implementation, it seems they [compute a `prefix`](https://github.com/pytorch/vision/blob/2801a76dd91a8b5c0f63e74e47b3697084f3af28/torchvi

[2020-09-21 08:51] fmassa commented on #2484
Thanks for the PR @dddzg !

[2020-09-21 09:03] fmassa commented on #2692
@mthrok has been looking into something like that for torchaudio and torchtext, maybe his findings could apply for torchvision as well? We might need to move away from `cpp_extensions` for building the C++ extensions, and instead use CMake for that.

[2020-09-21 09:09] QuantScientist commented on #2691
See this:
https://github.com/koba-jon/pytorch_cpp/issues/6

The author provided two methods based on png++ that I am going to test.

[code]

[2020-09-21 09:12] QuantScientist commented on #2686
See here:
https://github.com/pytorch/vision/issues/2691

[2020-09-21 10:01] fmassa commented on #2691
We will probably not rely on png++, but only on png, given that it is a very standard library which is present in many distributions.
As I said, we already have loading functionality for jpeg and png, relying on `libjpeg` and `libpng`, and using it from C++ should be straightforward.

[2020-09-21 11:25] QuantScientist commented on #2686
So I wrote a small lib for it:
https://github.com/QuantScientist/PngTorch

[2020-09-21 11:26] QuantScientist commented on #2691
I wrote a small lib for it:
https://github.com/QuantScientist/PngTorch

[2020-09-21 11:42] vfdev-5 commented on #2691
still has OpenCV as dependency and
[code]
https://github.com/QuantScientist/PngTorch/blob/9475c8adc1f2eb1c3eb6534257af65e6b1de5cb0/CMakeLists.txt#L82

[2020-09-21 11:56] QuantScientist commented on #2691
Yes, it evaluated to an empty string, but you are right and I removed it.

[2020-09-21 12:01] fmassa commented on #2682
@ashishfarmer do you think we should close this issue (given that it's initialization time that is being worked on), or should we keep this open?

[2020-09-21 12:06] boniek83 commented on #2682
Help me understand this please. What is the point of running the same example in the same docker again? I want to do inference as a service with unknown, most likely not repeated input. Is initialization performed every time per request?

[2020-09-21 13:01] andfoy commented on #2691
I think we could add encoding support for both jpeg an png directly on our C++ frontend, similar to what we have currently for decoding

[2020-09-21 15:38] fmassa commented on #2677
@peterjc123 do you know what could be the issue?

[2020-09-21 15:55] izdeby opened #2693 "torchvision fails to install via conda if python=3.8"
Error message:

`>>> conda install torchvision`
Collecting package metadata (repodata.json): done
Solving environment: failed with initial frozen solve. Retrying with flexible solve.
Solving environment: /
Found conflicts! Looking for incompatible packages.
This can take several minutes.  Press CTRL-C to abort.
failed

UnsatisfiableError: The following specifications were found
to be incompatible

[2020-09-21 16:12] vfdev-5 commented on #2693
@izdeby thanks for the report. Technically, there are binaries for linux-64, cuda 10.2 and python 3.8 : https://anaconda.org/pytorch/torchvision/files?version=0.7.0

I think the problem is with missing channel `-c pytorch`
[code]

[2020-09-21 16:16] izdeby commented on #2693
@vfdev-5, is there a way to install torchvision without pytorch? i want to build pytorch locally and work on some changes while still using torchvision.

[2020-09-21 16:20] vfdev-5 commented on #2693
In this case, it would be better to build pytorch first and then install torchvision. Otherwise, you should uninstall v1.6.0 pytorch which will be installed with above command.

[2020-09-21 22:19] sunway513 commented on #2682
Hello @boniek83 , thanks for the additional information on your use cases.
The approach @ashishfarmer suggested would help for training use cases. Using MIOPEN_FIND_MODE=2 can certainly help reduce the issue; however, even with that option you'll expect some "warm up" overheads on each and every new input configs.
We have optimizations under development, which would help for your use cases. We'll

[2020-09-22 07:43] vfdev-5 commented on #2693
@izdeby can we close the issue as solved or you still have an issue with installing torchvision ?

[2020-09-22 08:44] fmassa commented on #2693
@izdeby if you want to use a pytorch built from source, you'll need to compile torchvision from source as well.
And every time you recompile pytorch (with some significant changes) you will need to recompile torchvision as well.

I'm closing this issue following the discussion, but let us know if you have further questions

[2020-09-22 08:44] #2693 closed

[2020-09-22 12:22] #2617 closed

[2020-09-22 13:12] fmassa commented on #2480
@andfoy do you think we might be missing some extra checks during compilation to validate that the user has the right versions of libjpeg / libpng?

[2020-09-22 13:35] fmassa commented on #2681
This might be due to pts not being sorted in the `video_reader` backend. Some videos in UCF101 or HMDB51 had this particularity. We perform this sorting in https://github.com/pytorch/vision/blob/8dfcff745a5bd2d4886716bf0deff8dcc8e75fed/torchvision/io/video.py#L165-L168 for the pyav backend

[2020-09-22 13:50] vfdev-5 commented on #2641
We have to go progressively with that. Let's suggest to the user to use `torch.nn.Sequential` in order to torch jit script transformations.

[2020-09-22 13:50] #2641 closed

[2020-09-22 15:52] boniek83 commented on #2682
Lab: https://gist.github.com/boniek83/6cf8fdffa4ac6eef683da3bdc7ab1314
Use the same docker image as above.
Can you explain to me why resnet model inference in lab above behaves as I expect it to behave? First request is way slower (probably due to mentioned initialization) but subsequent ones even with different input images are fast. Not so much with mtcnn where every request is painfully slow on

[2020-09-22 15:57] vfdev-5 commented on #2682
@boniek83 maybe wrapping with `with torch.no_grad()` context manager can be helpful too.
[code]

[2020-09-22 16:09] boniek83 commented on #2682
No dice. Example lab with output cells:
https://gist.github.com/boniek83/7278ddad6f604434681a2f63ae3a77ee

[2020-09-22 23:08] rsomani95 opened #2700 "Pretrained MobileNet-V2 Backbones for Segmentation Tasks"
## 🚀 Feature
Provide a pretrained MobileNet-V2 backbone for
* Instance Segmentation
* Semantic Segmentation

## Motivation

As ecosystems mature and more object detection / segmentation libraries are released, they always leverage Torchvision pretrained models, or use Torchvision as a template for which architectures are supported (at least when they start out).
[Mmdetection](https://github.com/op

[2020-09-22 23:11] vade commented on #2700
Seconded - MobileNet Backbones would be very helpful

[2020-09-23 02:59] oke-aditya commented on #2700
Torchvision provides support for `mobilenetv2`. You can use it as backbone for FRCNN and Mask-RCNN.
I'm not sure of other segmentation models such as DeepLab v3.
I have used them. You need to do the following

[code]

This should give you F-RCNN with MobileNetv2 backbone. You won't get FPN with this though.
I have tried, all the vision models as backbones for FRCNN [here](https://github.com/oke-ad

[2020-09-23 04:55] rsomani95 commented on #2700
@oke-aditya I was under the impression that for max performance, the backbone should be finetuned on the object detection/segmentation dataset as well. Torchvision provides such ResNet backbones.

Besides, the code you provided above would be using a backbone pretrained on ImageNet, but the rest of the network isn't pretrained.

 Am I reading this correctly?
Thanks

[2020-09-23 05:01] oke-aditya commented on #2700
Yes. The backbone is pretrained on ImageNet.
For ResNet FPN models torchvision provides per trained images on COCO datasets.

COCO weights can be obtained by fine tuning these ImageNet weights on COCO Dataset.

You can fine-tune the backbone and FRCNN layers or freeze backbone and fine tune FRCNN layers. Both are possible.

[2020-09-23 05:02] oke-aditya commented on #2700
I'm not sure about max performance which is better. Even the ResNet FPN weights were obtained by fine tuning ImageNet weights over COCO.

[2020-09-23 05:09] haichaoyu commented on #1853
Hi @mthrok , thanks for the pretrained models. What testing script did you use to get mIoU 66.4 with deeplabv3_resnet50? I used [this](https://github.com/pytorch/vision/blob/master/references/segmentation/train.py#L58) and got mIoU 65.3.

[2020-09-23 05:27] rsomani95 commented on #2700
My feature request is precisely that torchvision provide this :)

[2020-09-23 08:07] vfdev-5 commented on #2700
Just a minor precision. Segmentation models in torchvision: FCN and DeepLabV3 can have be initialized with the weights pre-trained on COCO train2017 dataset.

https://pytorch.org/docs/stable/torchvision/models.html#semantic-segmentation

Let us see if we can retrain segmentation and detection models .

[2020-09-23 08:25] QuantScientist commented on #2681
Is there a full equivalent C++ example for reading video frames into torch::tensor and vice versa?

Thanks,

[2020-09-23 08:29] vfdev-5 commented on #2623
I close this issue as it is missing details. @ts19970816 let us know if you have further questions in english. Thanks

[2020-09-23 08:29] #2623 closed

[2020-09-23 08:38] fmassa commented on #2681
@QuantScientist no example in C++ yet, but you can use the `readVideo` function for this https://github.com/pytorch/vision/blob/8dfcff745a5bd2d4886716bf0deff8dcc8e75fed/torchvision/csrc/cpu/video_reader/VideoReader.cpp#L185-L207

[2020-09-23 09:17] QuantScientist commented on #2681
Thanks @fmassa ... a method with 21 parameters? while the python equivalent is `torchvision.io.read_video(filename, start_pts=0, end_pts=None, pts_unit='pts')`

Anyway, AFAIK this method does not return a frame by frame iterator. I do not wish to return 12,000 frames in one Tensor.

Thanks,

[2020-09-23 10:25] fmassa commented on #2681
I agree it's not a great signature, and that's why the python version is private.

If you want to have a frame by frame iterator, you'll need to wait until https://github.com/pytorch/vision/pull/2683 gets merged (which should be soon).

[2020-09-23 10:56] QuantScientist commented on #2681
Thanks,
I am going to try this:
https://github.com/osai-ai/tensor-stream

[2020-09-23 13:14] xkszltl opened #2701 "CMake Error at /usr/local/share/cmake-3.18/Modules/FindPython/Support.cmake:615 (if):"
## 🐛 Bug

This is a recent issue.
[code]

Given 3.18.3 is recently released (we use latest, was 3.18.2), we're not sure whether it's from torchvision or cmake.

## Environment

 - PyTorch / torchvision Version (e.g., 1.0 / 0.4.0): master/master
 - OS (e.g., Linux): CentOS 7 / Ubuntu 18.04
 - How you installed PyTorch / torchvision (`conda`, `pip`, source): source
 - Build command you used (if comp

[2020-09-23 13:35] xkszltl commented on #2701
Note pytorch was built just fine. Only torchvision has the issue.

[2020-09-23 13:44] xkszltl commented on #2701
Also filed the issue here in case it's caused by cmake bug: https://gitlab.kitware.com/cmake/cmake/-/issues/21223

[2020-09-23 14:32] vfdev-5 opened #2702 "RandomErasing to support batch of tensors"
## 🚀 Feature

Idea is to update `RandomErasing` docs and code to support batch of tensors, e.g. input of shape (B, C, H, W).
In addition, we have to add tests on batch of tensors for devices: CPU and GPU.

cc @vfdev-5

[2020-09-23 16:55] willprice opened #2703 "Incorrect types for functional adjust_hue"
## 📚 Documentation

![image](https://user-images.githubusercontent.com/966205/94044363-f0e2c700-fdc5-11ea-8249-e23bffaac103.png)

Method signature says `img` should be a tensor, but method parameters specifies it should be a PIL image. The latter is correct.

[2020-09-23 16:55] rsomani95 commented on #2700
Thanks @vfdev-5, that would be amazing.

[2020-09-23 18:05] mthrok commented on #1853
Hi @haichaoyu

I used the same function/script and the evaluation was performed while I was training the model.

You can see the training logs bellow; (the numbers are at the very bottom)
 -  [FCN](https://gist.github.com/mthrok/ab4f7213dcca8a25ebdc345a7ae36660)
 -  [DeepLabV3](https://gist.github.com/mthrok/afd23e9a5e30b07241cbfff186fe0563)

I used the most recent release version of PyTorch and T

[2020-09-23 20:06] haichaoyu commented on #1853
@mthrok Thanks. I changed DataParallel to single gpu and use batch size 1. The accuracy is 66.4 now.

[2020-09-24 02:18] Abonnen opened #2704 "UserWarning: This overload of nonzero is deprecated"
## 🐛 Bug

[code]
similar issue  #2154

## To Reproduce

Steps to reproduce the behavior:

official example of [faster-rcnn](https://github.com/pytorch/vision/blob/1b41525443f8955487e5432743d346fa5c351ddf/torchvision/models/detection/faster_rcnn.py#L100)

the error occurs in [line 129](https://github.com/pytorch/vision/blob/1b41525443f8955487e5432743d346fa5c351ddf/torchvision/models/detection/faste

[2020-09-24 08:50] fmassa commented on #2704
Hi,

Thanks for re-raising this issue. I've sent a PR trying to fix this in https://github.com/pytorch/vision/pull/2705

[2020-09-24 08:55] fmassa commented on #2703
Hi,

Thanks for opening the issue. This was a transient documentation issue that has been since then fixed in master.

TorchVision master now supports both Tensor and PIL images for its transforms. For torchscriptability reasons, the function signatures will only contain Tensor, while the documentation can state that they support both.

Check the new documentation in https://github.com/pytorch/vis

[2020-09-24 08:55] #2703 closed

[2020-09-24 08:56] willprice commented on #2703
Ah, that's handy to know. Thanks @fmassa for the clear explanation :)

[2020-09-24 09:18] #2704 closed

[2020-09-24 09:19] fmassa commented on #2154
Fixed by https://github.com/pytorch/vision/pull/2705

[2020-09-24 09:19] #2154 closed

[2020-09-24 10:48] fmassa commented on #2701
Could you try seeing if https://github.com/pytorch/vision/pull/2684 is the culprit, and if reverting it makes it work for you?

[2020-09-24 14:53] mthrok commented on #2692
I am working on gathering requirements and specing out cmake build for torchtext and torchaudio, which includes both Python extension module and C++ library. I thought torchvision has already have cmake build so did not look into it but if it's something beneficial to torchvision, I can include that one too.

So as to build C++ library, the source code cannot use things that are related to Python.

[2020-09-24 16:53] fmassa commented on #2692
We already solved the `torch.ops` part in torchvision, and we also depend only on `<torch/script.h>`https://github.com/pytorch/vision/blob/15848edbc3c5282ced487a62192fbc763d052019/torchvision/csrc/vision.cpp#L2, but IIRC we had to also include `<Python.h>` for some magical reasons such as https://github.com/pytorch/vision/blob/15848edbc3c5282ced487a62192fbc763d052019/torchvision/csrc/vision.cpp#L1

[2020-09-24 17:10] mthrok commented on #2692
Yeah, `torchtext` also depends on Python because they bind functions via PyBind alongside with TorchScript for performance reason.

I think if they can separate registration (binding) and implementation, then things could work nicely.
Here is the diagram to illustrate the idea

<img width="943" alt="Screen Shot 2020-09-24 at 13 06 54" src="https://user-images.githubusercontent.com/855818/94177252-

[2020-09-24 18:06] sainimayankmohan commented on #2132
I was facing he same issue so i downgraded the torch version to 0.5 and it worked.

[2020-09-24 18:28] mthrok commented on #2692
At a glance it looks like you can remove Python2 portion at least.

[2020-09-24 20:14] talcs opened #2707 "Are new models planned to be added?"
## 🚀 Feature
Adding new models to the models section.

## Motivation

Many new models have been proposed in the recent years and do not exist in the models module.
For example, the EfficientNets appear to provide with 8 models of different complexities that outperform everything else that exists at each complexity level.

## Pitch

Adding the EfficientNets, MobileNet-v3, SE-ResNet and SE-ResNeXt.

[2020-09-24 20:51] dkadish commented on #2599
I was having a somewhat similar issue and this seems to fix it.
I was trying to load the weights from a pre-trained `torchvision.models.resnet50` model into a `torchvision.models.detection.backbone_utils.resnet_fpn_backbone` for use in a FasterRCNN model. Renaming the state dict keys (`dict([('.'.join(['body'] + k.split('.')[1:]),v) for k,v in checkpoint["state_dict"].items()])`) and loading it wi

[2020-09-24 22:01] #2545 closed

[2020-09-25 02:35] oke-aditya commented on #2707
This request has come often. Just linking all those for reference. #2655. #1697 (this model is coming)
#2689 (hopefully comes in). Also, this had a discussion about Xception.
Efficient Net request #980
Some more backbones #2700.

[2020-09-25 02:55] oke-aditya commented on #2590
[Here](http://mathinf.com/pytorch/arm64/) are the wheels for Pi

[2020-09-25 13:32] #2691 closed

[2020-09-25 14:57] brando90 opened #2709 "Installing torchvision for ppc64le IBM architecture"
I am in a weird scenario were I am forced to use torch `1.3.1` (due to hardware see: https://public.dhe.ibm.com/ibmdl/export/pub/software/server/ibm-ai/conda/#/). I read from the pytorch docs that it's corresponding version of torchvision is `0.4.1` (https://pypi.org/project/torchvision/):

but for some reason I have the wrong version of it:

[code]

is there a way to install the right version of

[2020-09-25 15:06] vfdev-5 commented on #2709
@brando90 interesting issue. I just tried in a clean conda env to install both pytorch and torchvision :
[code]
and it proposes to install:
[code]

Can you try to run the command with `pytorch=1.3.1` which normally shouldn't reinstall existing pytorch ?

[2020-09-25 15:15] fmassa commented on #2707
Hi,

To complement @oke-aditya great answer, we will be adding more models to torchvision, including Efficient Nets and MobileNetV3.

The current limitation is that we would like to ensure that we can reproduce the pretrained model using the training scripts from `references/classification, but those models require a different training recipe than then one present in [`references/classification`](