[2021-09-06 11:00] beniz commented on #4366
Sure, I did patch a fresh clone with `patch -p1 < 4369.patch` then rebuild `torchvision`. I am then forcing the script to load the patched version with `sys.path.insert(0,'/path/to/lib/python/torchvision-0.11.0a0+80d5f50-py3.6-linux-x86_64.egg/')`. I do double-check that the patched version is the one loaded up, with `print(torchvision.__file__)`.
Let me know if this looks wrong.

Don't worry for

[2021-09-06 11:10] datumbox commented on #4366
Thanks for confirming your loading strategy. Could you provide the full error after running your code with the patch?

[2021-09-06 11:24] beniz commented on #4366
Thanks for your attention to this issue @datumbox the error remains identical:
[code]

Let me know if I can help by testing a few more code changes you would suggest, as I have the setup ready and I could report results on a range of changes.

[2021-09-06 11:27] Sri20021 opened #4371 "Error (403:Forbidden error) while downloading the weights of pointpillar model"
I find the 403: Forbidden error when trying to download the weights of the model through the link: https://storage.googleapis.com/open3d-releases/model-zoo/pointpillars_kitti_202012171738utc.pth
I am unable to download the file even through the browser
Request you to take a look and correct it. Thanks

[2021-09-06 11:44] NicolasHug commented on #4371
Could you please indicate where this URL comes from? I don't see any reference to it in torchvision's codebase

[2021-09-06 12:00] Sri20021 commented on #4371
@NicolasHug Sorry, by mistake raised this issue in this forum. I was supposed to raise it in Open3D forum. Sorry!

[2021-09-06 12:05] #4371 closed

[2021-09-06 12:30] datumbox commented on #4366
@beniz I've temporarily modified a similar test that we have at vision [here](https://github.com/pytorch/vision/commit/abab567b793f373c76d1ce7c55bdaf9ea2e80fc9) to export the model on train mode. I then passed data through it and I don't get any errors, [see here](https://app.circleci.com/pipelines/github/pytorch/vision/10179/workflows/d50f8df9-b9bf-49e4-abfb-da3c3390db4b/jobs/768183).

Without be

[2021-09-06 12:34] fmassa commented on #4368
I agree with @vadimkantorov here that we can simplify a bunch of stuff.

For reference, this is what we did in DETR, which was initially copy-pasted from torchvision, but cleaned up to apply those improvements mentioned by Vadim.

https://github.com/facebookresearch/detr/blob/main/datasets/coco_eval.py

[2021-09-06 13:59] beniz commented on #4366
@datumbox Thanks very much. So further tests on our side did reveal that the C++ build was using torch 1.8, while with 1.9 there's no error.
My deepest apologies for the time required on your side, maybe PR #4369 remains useful if only by principle of having properly typed signatures.
I'm closing this issue, thanks again for this and for the excellent work by the torchvision team!

[2021-09-06 13:59] #4366 closed

[2021-09-06 14:04] #4269 closed

[2021-09-06 14:10] vfdev-5 commented on #4269
@Queuecumber we merged a fix for this bug, could you please check it tomorrow (~ in 24h from this message) on your use-case once nightlies are built: `conda install pytorch torchvision cudatoolkit=11.1 -c pytorch-nightly -c nvidia` (https://pytorch.org/get-started/locally/) . Thanks

[2021-09-06 18:35] vadimkantorov commented on #4368
@fmassa Probably even `evaluate` method could go and the original one can be used (with stdout redirects if wanted)

[2021-09-06 18:49] oke-aditya commented on #4360
I think it is supported but the docs haven't updated the change?

https://pytorch.org/docs/master/jit_language_reference.html#supported-type

[2021-09-07 15:15] igrekun opened #4378 "Torchvision decode_jpeg memory leak"
### 🐛 Describe the bug

nvJPEG leaks memory and fails with OOM after ~1-2k images.

[code]

Probably related to first response to https://github.com/pytorch/vision/issues/3848

[code]

is exactly the message you get after OOM.

### Versions

PyTorch version: 1.9.0+cu111
Is debug build: False
CUDA used to build PyTorch: 11.1
ROCM used to build PyTorch: N/A

OS: Arch Linux (x86_64)
GCC version: (GCC

[2021-09-08 06:58] Yasin40 commented on #4271
Yes, I test ``torch.jit.script`` and not affected.

[2021-09-08 07:30] fmassa commented on #4271
@Yasin40 so you mean that `torch.jit.script` works successfully? If that's the case, then I believe we can close this issue, as `torch.jit.script` effectively replaces `torch.jit.trace` whenever the model can be scripted

[2021-09-08 07:34] fmassa commented on #4368
@vadimkantorov there were some slight differences in `evaluate`, see https://github.com/facebookresearch/detr/blob/eb9f7e03ed8e2ed2cd55528989fe7df890bc3fc0/datasets/coco_eval.py#L248-L252

But with proper modifications it could be moved out indeed

[2021-09-08 07:56] fmassa commented on #4217
Hi,

This issue seems to arise from a version incompatibility between your PyTorch and torchvision version. I would ensure that you are indeed using the corresponding matching versions.

Also, if you can use latest PyTorch/torchvision, it would probably be better as well.

Given that this is probably a version incompatibility mismatch, I'm closing this issue, but let us know if you have further qu

[2021-09-08 07:56] #4217 closed

[2021-09-08 07:58] fmassa commented on #4158
Hi,

Detection models won't support tracing, only scripting via `torch.jit.script`. This is not something that we plan to change, due to inherent limitations of tracing wrt the complexity of a model like Mask R-CNN (which has native control flow).

As such, I'm closing this issue. Hopefully `torch.jit.script` is going to be enough for your use-case.

[2021-09-08 07:58] #4158 closed

[2021-09-08 08:01] fmassa commented on #4124
Closing as seems that this has been answered / resolved already.

[2021-09-08 08:01] #4124 closed

[2021-09-08 08:15] fmassa commented on #3841
Hi,

Sorry for missing this.

The underlying issue is that, if you have random transformations in your test dataset, the conversion function https://github.com/pytorch/vision/blob/cadb1681799bab9aa1b53685ccb16ba6fb1cd96c/references/detection/coco_utils.py#L146-L195 will pick one instantiation of the random transforms during the creation of the COCO structure https://github.com/pytorch/vision/blob/

[2021-09-08 08:17] fmassa commented on #3729
Closing due to inactivity

[2021-09-08 08:17] #3729 closed

[2021-09-08 08:24] Yasin40 commented on #4271
No, Doesn't work.

[2021-09-08 08:36] fmassa commented on #3802
While not directly fixed in `IntermediateLayerGetter`, the newly provided feature in https://github.com/pytorch/vision/pull/4302 should handle this case without problems.

As such, I'm closing this issue, but let us know if you face any problems with https://github.com/pytorch/vision/pull/4302

[2021-09-08 08:36] #3802 closed

[2021-09-08 08:42] fmassa commented on #3430
Hi,

Sorry for missing this. The paper is "Mask R-CNN" https://arxiv.org/abs/1703.06870 , see Section 5.

@prabhat00155 can you add an entry to the detection models with the paper references?

[2021-09-08 08:46] fmassa commented on #3331
@vadimkantorov we merged https://github.com/pytorch/vision/pull/4302, which should provide a generic way of performing model surgery.

Could you give this a try and provide us feedback if it is enough for your use-cases?

[2021-09-08 08:47] vadimkantorov commented on #3331
Very simple: remove average pooling, remove the last fc layer. I feel that having to plug generic FX / rewriting for this is an overkill

[2021-09-08 08:48] fmassa commented on #3331
@vadimkantorov the thing you just mentioned can be done in one line
[code]

[2021-09-08 08:53] vadimkantorov commented on #3331
I don't even need the fc layer to run. Will it still run with it? Or will it do DCE?

I mean, I understand that FX is also a way to achieve this, but just being able to `del model.fc` is so much simpler way to achieve this for simple models.

[2021-09-08 08:54] fmassa commented on #3331
The FC layer (and its parameters) will be DCEd from the graph and won't be executed, so this is taken care for you.

[2021-09-08 08:55] vadimkantorov commented on #3331
Then it also probably will be less debuggable. E.g. can I put a breakpoint in transformed code?

I mean it's great to have a generic solution, but having an equivalent much simpler way (when possible) is also a win

[2021-09-08 08:59] fmassa commented on #3331
The transformed code can be printed etc, and is executed as standard Python code, so you can jump to every line of it in a debugger.

For example
[code]
will give you
[code]

[2021-09-08 09:03] vadimkantorov commented on #3331
Well, it's great to have, but compared to just stepping into resnet.py, this is not the same :)

I agree this is a great, powerful feature allowing to use a lot backbones etc, but I don't see reasons for not impoving the basic ResNet by moving flatten into an attribute and maybe transforming the quantized resnet into sequential

[2021-09-08 09:11] fmassa commented on #3331
I think the key idea here is that we are providing a single (generic?) solution that handle many more use-cases than what was possible before. Overriding modules with `nn.Identity()` was a hacky solution that didn't work most of the time (only inside `nn.Sequential`-style models), and can lead to confusion / silent bugs in many cases, specially to newer users I think.

Having the `forward` impleme

[2021-09-08 09:53] vadimkantorov commented on #3331
I was of course not talking of "newer users". Of course these hacks are for someone who already understands the backbone model source code and looks to avoid boiler-plate of copy-pasting the forward. This is no more "advanced" as the recommended individual model component reinitialization (e.g. `model.roi_heads.box_predictor`) as found in https://pytorch.org/tutorials/intermediate/torchvision_tuto

[2021-09-08 12:39] #3430 closed

[2021-09-08 12:51] bjuncek commented on #4364
Can do.

[2021-09-09 16:47] prabhat00155 opened #4385 "Investigate if model_without_ddp is needed"
### 🐛 Describe the bug

Investigate if we need `model_without_ddp` in the training script. https://github.com/pytorch/vision/blob/12fd3a625a044a454cca3dbb2187e78efe1b4596/references/classification/train.py#L201

### Versions

N/A

cc @datumbox

[2021-09-09 16:50] prabhat00155 commented on #4385
While running a fairly limited training experiment for https://github.com/pytorch/vision/pull/4381, it was observed that `model` worked without any issue instead of `model_without_ddp`. Hence, it may be worth investigating if we need `model_without_ddp` at all.

[2021-09-09 17:15] datumbox commented on #4385
@fmassa Prabhat did investigations where he used the `model` instead of `model_without_ddp` on the checkpoint mechanism and it seems that the loading/saving/resuming worked fine. Could you please provide some additional information on why using the non-parallelized version was needed in the first place? What is it expected to fail if we use the `model` instead of `model_without_ddp`? It might be t

[2021-09-10 05:15] vitansoz opened #4386 "maskrcnn_resnet50_fpn use _save_for_lite_interpreter error"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1.
model = torchvision.models.detection.maskrcnn_resnet50_fpn(num_classes=24,pretrained=False).to(device)
model.load_state_dict(checkpoint['model'])
model.eval()
2.
script_model = torch.jit.script(model)
opt_model = optimize_for_mobile(script_model)
opt_model._save_for_lite_interpreter("mask_rcnn_1.pt")
3.
RuntimeError: __torch__ types o

[2021-09-10 09:05] datumbox commented on #4386
I spent a bit of time looking at it.

The issue appears not only in mask_rcnn but also in all *rcnn and ssd models. Those models do include a few classes that inherit from `object` instead of `nn.Module` (`BalancedPositiveNegativeSampler`, `BoxCoder`, `Matcher`, `LevelMapper`, etc). I tried converting them and see if the issue is resolved (see #4389, it's quick and dirty, perhaps I missed somethin

[2021-09-10 10:49] prabhat00155 commented on #4238
I was able to reproduce the results:
[code]
Here is my output log:
[resnext101_32x8d_logs.txt](https://github.com/pytorch/vision/files/7143236/resnext101_32x8d_logs.txt)

Comparing the logs shared above with mine, I see workers and world size being different.
` workers=16, world_size=8 vs workers=10, world_size=64`

What did you pass for `--gpus-per-node`? At the top of the log file, it says `4 GP

[2021-09-10 10:56] datumbox commented on #4238
@prabhat00155 you did better than that. You can get higher accuracy by keeping the checkpoint at epoch 67:
`* Acc@1 79.462 Acc@5 94.614`

[2021-09-10 11:00] prabhat00155 commented on #4238
Yeah, that's right!

[2021-09-10 11:26] netw0rkf10w commented on #4238
Thanks for the results. This confirms that 0.1 is the correct learning rate for 8 GPUs (with batch size 32). If we train on 64 GPUs (as stated in the documentation) without scaling the learning rate, then we would obtain similar results as I posted above. I will soon create a PR to clarify the documentation.

[2021-09-10 13:06] netw0rkf10w commented on #4238
I think something like this would already make it clearer for the users: https://github.com/pytorch/vision/pull/4390.

[2021-09-10 13:41] prabhat00155 opened #4391 "Investigate Exponential Moving Average result in classification script"
### 🐛 Describe the bug

Verify that the EMA added to classification script in https://github.com/pytorch/vision/pull/4381 works as expected.

### Versions

N/A

cc @datumbox

[2021-09-10 15:41] NicolasHug commented on #3992
@fmassa , now that https://github.com/pytorch/vision/pull/4375 is merged and that the cpp API is deprecated, should we just remove the tests altogether? They're always skipped at the moment (and have been for a while)

[2021-09-10 15:42] NicolasHug commented on #4238
I'll close this one since it was resolved in https://github.com/pytorch/vision/pull/4390

[2021-09-10 15:42] #4238 closed

[2021-09-10 16:19] prabhat00155 opened #4392 "Video support in torchvision"
This is to keep track of the major work items for video support in TorchVision in this half.

- [x] Building torchvision with ffmpeg.
- [x] Updating the documentation to clearly state the steps to use video api.
- [x] Benchmarking performance.
- [x] [Video GPU Decoding](https://github.com/pytorch/vision/issues/2439)

[2021-09-10 16:28] #4346 closed

[2021-09-10 16:31] datumbox commented on #4391
The script might not be working as expected in all use-cases. Here is the results I get by running the following:
[code]

Every other line is the EMA model, which seems a bit random. This was run on top of current main branch. Worth investigating if this is related to GPUs/parallelization etc.

[2021-09-10 16:46] NicolasHug commented on #4391
Sorry if I'm missing some context here, this might be a strange question but I'm wondering: was #4381 merged prior to checking whether it was properly working or not? If yes, was there a specific reason for that?

[2021-09-11 16:31] fmassa commented on #4385
Hi,

The reason why we have `model_without_ddp` was to be able to serialize the model weights without the `module.` prefix that gets attached to DDP models. Otherwise, you wouldn't be able to load the checkpoints from the trained model on the CPU or on a model without DDP, or would have to perform checkpoint renaming to manually remove the prefix. The easiest thing to do was to keep around a versi

[2021-09-11 19:26] vadimkantorov commented on #4368
So I think:
https://github.com/facebookresearch/detr/blob/eb9f7e03ed8e2ed2cd55528989fe7df890bc3fc0/datasets/coco_eval.py#L51 :
`img_ids, eval_imgs = evaluate(coco_eval)` could be replaced by `coco_eval.evaluate(); evalImgs = np.asarray(coco_eval.evalImgs).reshape(-1, len(coco_eval.params.areaRng), len(coco_eval.params.imgIds))`

And then custom `evaluate()` could go.

Does it make sense @fmassa?

[2021-09-12 15:54] datumbox commented on #4385
@fmassa Thanks for the info.

Prabhat found that using `model` instead of `model_without_ddp` on the following snippet works fine for EMA. He was able to save/load checkpoints without a problem:
https://github.com/pytorch/vision/blob/12fd3a625a044a454cca3dbb2187e78efe1b4596/references/classification/train.py#L208

We did end up changing it to `model_without_ddp` just to be safe but I wonder if the

[2021-09-13 07:32] MadanMl commented on #3058
That works even for AMD GPU (torch version: 1.8.0 + rocm4.0.1, torchvision  version: 0.9.0) Thank you @basicskywards

[2021-09-13 07:47] xsacha commented on #3058
Is that really a proper solution? It just does the work on the CPU instead.
You can also do boxes.to(torch.Device("cpu")) instead of converting to bumpy and back.

[2021-09-13 09:20] julienripoche opened #4395 "TensorRT compatible retinanet"
### 🚀 The feature

The possibility to compile ONNX exported retinanet model with tensorRT.

### Motivation, pitch

I'm working with the torchvision retinanet implementation and have some production constraints regarding inference time. I think it would be great if the ONNX export of retinanet could be further compiled in tensorRT.

### Alternatives

_No response_

### Additional context

Actually,

[2021-09-13 15:04] NicolasHug commented on #4356
Closing, thanks a lot @oke-aditya for bringing this to our attention!

[2021-09-13 15:04] #4356 closed

[2021-09-13 21:10] vaibhava0 commented on #3911
I recommend adding `Large Scale Jitter` data augmentation as well. It is quite simple and powerful. It has shown promise across many use cases. Here is an implementation in D2:

https://github.com/facebookresearch/detectron2/blob/main/configs/new_baselines/mask_rcnn_R_50_FPN_100ep_LSJ.py#L44

Some benchmark results:
https://github.com/facebookresearch/detectron2/blob/main/MODEL_ZOO.md#new-baseline

[2021-09-14 02:30] malfet opened #4402 "`unittest_macos_cpu` segfault while running test_io.py"
### 🐛 Describe the bug

See https://app.circleci.com/pipelines/github/pytorch/vision/10319/workflows/7e41f9a8-f949-4ae7-ba1b-a3265692426d/jobs/781701 for example

The difference between passing and previously failing cases, is that in passing `torchvisoin` was built without fmmpeg support, which can be seen in https://app.circleci.com/pipelines/github/pytorch/vision/10289/workflows/0b74f684-8ba1-4

[2021-09-14 07:30] NicolasHug commented on #4402
I believe @prabhat00155 is looking into this

[2021-09-14 08:31] datumbox commented on #4395
@julienripoche Thanks for the proposal.

The preprocessing and post-processing steps are quite important and we can't bypass them in the general case. Nevertheless since the proposed modification happens only in the `AnchorGenerator` and only internally, it might be possible, provided it does not have an other side-effects that will affect the accuracy or behaviour of the model. In other words, if

[2021-09-14 08:39] datumbox commented on #4402
It seems that more tests are failing on the specific class. See [here](https://app.circleci.com/pipelines/github/pytorch/vision/10370/workflows/4b1b4027-f34a-4722-a05b-321e1084e43d/jobs/786260):

[code]

[2021-09-14 09:06] vadimkantorov commented on #4392
It would be nice that ffmpeg support features two README items/examples:
1. How to install a working torchvision + ffmpeg combination from conda
2. How to compile torchvision from sources with ffmpeg (with two ffmpeg options: one is installable from conda; another is ffmpeg also built from sources in the most basic variant, for decoding it should be enough)

[2021-09-14 09:29] prabhat00155 commented on #4402
Building torchvision with ffmpeg=4.2 is causing crash. I am going to move torchvision to the latest ffmpeg. This works fine on Linux but is crashing on Mac on [this line](https://github.com/pytorch/vision/blob/bc3f8f6c134e545edb06dd830bba0683797d1a66/torchvision/csrc/io/video/video.cpp#L333.) due to this error: `libc++abi: terminating with uncaught exception of type c10::Error: Type c10::tagged_ca

[2021-09-14 10:03] datumbox commented on #4402
@prabhat00155 Thanks! If you think that's an easy fix, feel free to close #4405. If you think it's going to take a bit, feel free to merge it. I leave this up to you as you know better the video space.

[2021-09-14 10:20] #4391 closed

[2021-09-14 12:16] julienripoche commented on #4395
@datumbox Thanks for your consideration :)

I made the little modifications on `anchor_utils.py` and submitted the [PR](https://github.com/pytorch/vision/pull/4409).

[2021-09-14 14:04] #4402 closed

[2021-09-14 17:23] prabhat00155 commented on #4385
I ran training on resnet18 for 100 epochs, where I cancelled the training around epoch 34 and resumed it again, with and without `model_without_ddp`(I just do `model_without_ddp = model` after the if block).
Here is the diff:
[code]
I didn't see any significant difference in the result.
[training_with_changes1.txt](https://github.com/pytorch/vision/files/7163955/training_with_changes1.txt)
[traini

[2021-09-14 18:10] fmassa commented on #4385
@prabhat00155 what you would have needed would be to try to load the serialized checkpoint from a model that hasn't been wrapped up in DDP yet.

Something as simple as
[code]
would fail due to the added `module.` that gets appended due to DDP, so you would need to use tools like `torch.nn.modules.utils.consume_prefix_in_state_dict_if_present`, which are pretty new and was added to PyTorch less tha

[2021-09-15 11:09] datumbox commented on #4385
@fmassa Thanks for providing background on why this was added.

So basically, this workaround increases user-friendliness on how the weights are handled **after** the training is completed (hence outside of the train.py script).

Two thoughts on eliminating the non-parallelized version:
1. For the users of our library that just take the pre-trained weights this has no effect. It's us the contribut

[2021-09-15 13:54] vadimkantorov opened #4415 "[feature request] [discussion] mask utils in core"
### 🚀 The feature

1. Extracting bounding boxes from label map: https://github.com/pytorch/pytorch/issues/22378#issuecomment-881954924
2. Extracting label maps from RGB maps (https://github.com/pytorch/pytorch/issues/5436)
3. Conversion of RGB uint8 tensors to RGBA (or ARGB) uint32 tensor (https://github.com/pytorch/pytorch/issues/5436#issuecomment-920034956)
4. Compression of masks (relevant for

[2021-09-15 16:43] #3737 closed

[2021-09-15 17:41] oke-aditya commented on #3817
@datumbox is closing this issue intended?

As I understand there is dataset and transforms rework. Which would be a major refactor

Do we plan to migrate all transforms to new ones in near future?

(I had a minor look at the proposal which looks fantastic)

[2021-09-15 18:05] datumbox commented on #3817
Not at all intended; Github just closed it when I merged the PR. We are certainly not done here :D

[2021-09-15 19:07] 0x00b1 commented on #3911
Oof! I feel bad! This is shaping up to be a great release.

[2021-09-15 19:14] prabhat00155 commented on #4385
Thanks @fmassa and @datumbox! I think it makes sense to keep it then. I'll close this issue.

[2021-09-15 19:14] #4385 closed

[2021-09-15 19:45] datumbox commented on #3911
@vaibhava0 Thanks for the proposal. You are right, this is quite important. We have it on the https://github.com/pytorch/vision/issues/3817 but I'll add it here more prominently (I also added the code and the benchmarks links you provided).

@0x00b1 Your contribution can still make it in. tap tap tap ⌨️  🚀

[2021-09-16 07:20] NicolasHug commented on #3367
@prabhat00155 should we reopen this? Or create a new issue?

Looks like  #3460 which was supposed to supersede this one hasn't been addressed yet, and it would be nice to have an issue that tracks the 3.9 problems since we deactivated the builds in https://github.com/pytorch/vision/pull/4417

[2021-09-16 08:27] #4395 closed

[2021-09-16 10:31] datumbox opened #4425 "Requests on Google drive lead to "HTTP Error 429: Too Many Requests" errors"
### 🐛 Describe the bug

I started receiving unrelated errors on test `test_download_url_dispatch_download_from_google_drive`:
[code]

Example: https://app.circleci.com/pipelines/github/pytorch/vision/10460/workflows/7ab4bef5-1768-417f-8bbd-c92d2451fcd8/jobs/794189

### Versions

Latest master https://github.com/pytorch/vision/commit/3380c001c0d5b31ac8558599656404cf4e28ecd1

cc @pmeier

[2021-09-16 10:50] prabhat00155 commented on #4425
I saw this too. Are we making too many requests at once?

[2021-09-16 12:04] datumbox opened #4427 "The android job is failing on main branch"
### 🐛 Describe the bug

We got failures on the [android job](https://app.circleci.com/pipelines/github/pytorch/vision/10460/workflows/c65a1101-d936-4f76-95fe-f3b13a41c914/jobs/794213):

[code]

Closer inspection to the log shows that the first failure was actually:

[code]

Which seems a connection problem with the repo. At the time of writing of this ticket, the [Jcenter](https://jcenter.bintray.

[2021-09-16 13:27] fmassa commented on #4385
Yes, that's the main reason why I'd lean on keeping it. The use-case I had was indeed for a user to run evaluation on a checkpoint in a different machine with a single GPU (or without GPUs), and the current setup allows them to get this seamlessly.

[2021-09-16 13:33] bjuncek commented on #3367
@NicolasHug I think we should either augment the #3460 or start a new issue;
segfault here is 90% due to the broken ffmpeg version. Segfaults we've started seeing now seem altogether different (and am not 100% sure what they're about - I'll be syncing with Prabhat in a bit to double check

[2021-09-16 13:42] bjuncek commented on #4357
Hmmm - it looks to me as if one of the videos are not properly encoded and due to the failure, either on reading or on video side the videoclip generation fails.

Just to clarify, are you using the videos downloaded from the official repo?

[2021-09-16 13:46] bjuncek commented on #4364
@datumbox @pmeier I'll wait with the implementation until the new datapipes as that would require a rework anyways.

[2021-09-16 13:48] pmeier commented on #4425
Probably. We have some rate limitation in our download tests

https://github.com/pytorch/vision/blob/9275cc61fb3c26ce15ced0199ad8b7540d48676c/test/test_datasets_download.py#L26-L48

I can probably port that so this test also uses this. There are two other possible scenarios:

1. We are having particular many CI runs which each hit the server. In this case there is little we can do besides disablin

[2021-09-16 13:48] ekosman commented on #4357
Sure @bjuncek. After debugging through `VideoClips`, I was able to identify the corrupted video file. However, I was wondering if there's any possibility to identify corrupted files automatically during this loading. Right now, the exception is not very informative and it is hard to identify the source of the problem without manually debugging and internals of `VideoClips`.

[2021-09-16 13:57] bjuncek commented on #4357
Yeah, I think that makes sense. Could you attach the video in question? I'll make sure there is some workaround for this :)

Also, there is an official video list provided by Joao at CVDF https://github.com/cvdfoundation/kinetics-dataset which claims to fix _some_ of the corrupted videos. Just FYI

[2021-09-16 14:19] ekosman commented on #4357
Many thanks @bjuncek ! I wasn't aware of that repo.

Regarding the corrupted video, I already replaced it and don't have it anymore :(

[2021-09-16 16:54] datumbox commented on #4425
I no longer see the issue on main branch now. Was the problem solved by itself?

[2021-09-16 17:11] prabhat00155 opened #4429 "video_reader test crashes on Windows"
### 🐛 Describe the bug

User@WinDev2108Eval MINGW64 ~/Documents/repos/vision (main)
$ pytest test/test_video_reader.py

============================= test session starts =============================
platform win32 -- Python 3.8.11, pytest-6.2.5, py-1.10.0, pluggy-1.0.0
rootdir: C:\Users\User\Documents\repos\vision, configfile: pytest.ini
collected 21 items

test\test_video_reader.py sFWindows fat

[2021-09-16 17:12] datumbox commented on #4427
The problem seems to have resolved itself on the latest main branch. Closing.

[2021-09-16 17:15] pmeier commented on #4425
In that case, my guess is option 2. from above.

[2021-09-16 17:19] prabhat00155 opened #4430 "read_video_from_file() causes seg fault with Python 3.9"
### 🐛 Describe the bug

https://app.circleci.com/pipelines/github/pytorch/vision/10411/workflows/5783f083-26e2-4209-b9c6-976de289d637/jobs/791355

[code]

### Versions

N/A

[2021-09-16 17:21] prabhat00155 commented on #3367
@NicolasHug I have created an issue to track it here: https://github.com/pytorch/vision/issues/4430

[2021-09-16 22:18] aftoul opened #4434 "Log polar transformation in torchvision.transforms"
### 🚀 The feature

Log polar transformation for images, which maps an image from the 2D Cartesian coordinate system to the log-polar system.
This transformation each pixel [x, y] to the (ρ, θ) coordinate system, where ρ is the log of the distance from the center and θ is the angle.

### Motivation, pitch

I've been researching ways of making one of my CNNs rotation invariant and happened to find [

[2021-09-17 07:27] NicolasHug commented on #4434
Thanks for the proposal @aftoul ,

Just trying to make sure I understand: you're looking for a transform that would take a H x W tensor as input, and outputs a ρ x θ tensor? With ρ taking a finite and discrete set of values between [0, 1] (or some other range) and  θ taking values between [0, 2 . pi]?

[2021-09-17 08:51] vfdev-5 commented on #4434
Maybe, it is about providing Log-Polar and its inverse transformations. An image from the paper on MNIST:
![image](https://user-images.githubusercontent.com/2459423/133753926-b15cc70d-46cb-4369-8cae-4223906f6be2.png)

[2021-09-17 08:56] datumbox commented on #4434
@NicolasHug The transform will receive a 2D/3D tensor and the output will also be a 2D/3D tensor though of different size depending the sampling configuration. The (ρ, θ) are used to produce the mapping between the locations of the previous pixels and their new locations. You can read more about how the transform works [here](https://digitalcommons.lsu.edu/cgi/viewcontent.cgi?article=5237&context=

[2021-09-17 10:17] aftoul commented on #4434
@datumbox I don't know if it will be used by many people. Maybe it will be useful enough to warrant including it in the library despite having limited use cases.

[2021-09-17 10:26] prabhat00155 opened #4437 "Investigate mAP in retinanet resnet50 model"
### 🐛 Describe the bug

Reference: https://github.com/pytorch/vision/pull/4409#issuecomment-920723588

### Versions

N/A

[2021-09-17 10:54] fmassa opened #4438 "Investigate if lr_scheduler from segmentation can use PyTorch's schedulers"
Back when it was initially implemented in 2019, the LR scheduler in the segmentation reference scripts couldn't be implemented with native PyTorch schedulers, so we had to resort to `LambdaLR`
https://github.com/pytorch/vision/blob/9275cc61fb3c26ce15ced0199ad8b7540d48676c/references/segmentation/train.py#L136-L138

It might be that this is now available in PyTorch natively, and this can be simplif

[2021-09-17 11:02] #4281 closed

[2021-09-17 13:52] vfdev-5 commented on #4434
@aftoul meanwhile you can use the following code as a custom transformation for you use-case. This implementation uses OpenCV to warp the image:

<details>
<summary>
Code
</summary>

[code]

</details>

<details>
<summary>
Usage
</summary>

[code]
</details>

<details>
<summary>
Output
</summary>

Original:
![image](https://user-images.githubusercontent.com/2459423/133793631-861a0727-55b3-4127-a6d

[2021-09-17 13:55] datumbox opened #4440 "cmake_windows_gpu job fails"
### 🐛 Describe the bug

The cmake_windows_gpu job on latest main started [failing](https://app.circleci.com/pipelines/github/pytorch/vision/10521/workflows/d7d80f03-bef3-4e0f-a587-bc274097ed25/jobs/798806) with:
[code]

It seems that despite defining CUDA10.2 below, something setups 10.1 on the paths:
https://github.com/pytorch/vision/blob/c1ddb93c43cd9f620594fdf1a4ba07ff3e518282/.circleci/config.

[2021-09-17 15:29] seemethere commented on #4440
You need to upgrade this job to CUDA 10.2 were no longer supporting CUDA 10.1

[2021-09-17 16:08] datumbox commented on #4440
@seemethere My question was, shouldn't this be using already CUDA 10.2? See below:
https://github.com/pytorch/vision/blob/c1ddb93c43cd9f620594fdf1a4ba07ff3e518282/.circleci/config.yml#L1704-L1707

[2021-09-17 18:51] #4440 closed

[2021-09-17 22:48] logankilpatrick opened #4462 "Add minimum image size to models page"
## 📚 Documentation

I am trying to test a bunch of different models from: https://pytorch.org/vision/stable/models.html. However, it is not clear if there are other changes that need to be made to my code like changing the image size in the transformation. Adding in a note on the image size under each model would be very helpful here!

[2021-09-18 03:58] mszhanyi opened #4443 "CU_VERSION and CUDA_VERSION is confusing on Windows CI."
### 🐛 Describe the bug

It's just a memo for developer to understand some code to get the cuda version.

In unittest_windows_cpu and cmake_windows_gpu
`CU_VERSION is cpu, CUDA_VERION is empty.`
In unitest_windows_gpu,
`CU_VERSION is emtpy, CUDA_VERSION is MAJOR.MINOR (e.g. 10.2)`
In cmake_windows_gpu
`CU_VERSION is something like cu102, CUDA_VERSION is empty`

### Versions

It has existed for a lo

[2021-09-18 14:51] puhuk commented on #4438
Hi, I want to work on this issue.
Could you give me some detail with this.

[2021-09-18 16:08] DungVo1507 opened #4445 "How to use TenCrop and FiveCrop on video"
Hi everyone,
I am wanting to use TenCrop and FiveCrop on video but I have no idea how to do this.
Can you tell me how to do it?
Sorry, I am new to this field.
Thank you very much!

[2021-09-19 11:21] rwmajor2 opened #4446 "Question: FFmpeg dependency"
Sorry, I am little bit of a newbie on this subject.  I notice at Torchvision 0.9+ that ffmpeg >= 4.2 is a hard dependency for Linux conda distributions.  At Torchvision <= 0.8.2, this was not a dependency.  We all know ffmpeg licensing and the other dependencies it pulls in is problematic in some scenarios.

Question 1:  Is it possible to build Torchvision for Linux without ffmpeg?  What breaks?
Q

[2021-09-19 12:29] prabhat00155 commented on #4446
ffmpeg is not a hard dependency. You can build torchvision from source without ffmpeg on any platform. If you wish to use the video APIs with `video_reader` backend, only then do you need to build torchvision with ffmpeg.

[2021-09-19 12:38] rwmajor2 commented on #4446
Thanks @prabhat00155.  That answers a huge question for me.  Follow up question.  I can download the .bz2 file from Anaconda.org and modify the info/index.json to remove the ffmpeg dependency?  Is this effectively the same as building from source without ffmpeg?  Or will I run into stability problems with torchvision?

[code]

[2021-09-19 13:42] ahong007007 opened #4447 "C++ compiling torchvision is too troublesome！！！"
### 🚀 The feature

C++ compiling torchvision is too troublesome. After debugging for 3 days, I haven't found the problem. Since libtorch can solve the C++ installation problem of torch, why does torchvison not provide an interface such as libtorchvison and package compiled code?

### Motivation, pitch

C++ compiling torchvision is too troublesome. After debugging for 3 days, I haven't found the pr

[2021-09-19 14:00] ahong007007 commented on #4447
Can pytoch+torchvision provide a basic C++ image call? The compilation process is too unfriendly to beginners.

[2021-09-19 17:18] oke-aditya commented on #4447
Hmm can you elaborate the trouble?
Maybe [this](https://github.com/pytorch/vision/tree/main/examples/cpp/hello_world) example can help you.
To install torchvision from source please clone the repo and run `python setup.py develop`

[2021-09-20 07:16] vadimkantorov opened #4449 "Confusing: both master and main branches exist"
### 🐛 Describe the bug

N/A

### Versions

N/A

[2021-09-20 07:46] vadimkantorov commented on #4446
Also, hard Python constrain on `<3.8.0a0`. @malfet Seems like recurring problems on not allowing Python3.9? Related: https://github.com/pytorch/vision/issues/4240

[2021-09-20 08:11] NicolasHug commented on #4447
As @oke-aditya suggested, it would be nice to have a bit more details on what the problem is, with the steps you followed / the error message you're getting, etc.

It's not clear to me yet whether you're just trying to compile torchvision from source, or if you are trying to use torchvision from within C++. If that's the latter, please note that we have recently changed the way people are supposed

[2021-09-20 08:23] NicolasHug commented on #4449
Hi @vadimkantorov ,

Would you mind detailing the context in which you found this confusing?

[2021-09-20 08:30] vadimkantorov commented on #4449
In the context of browsing code, e.g. navigating some links to code or changing commit ids to master in the URL bar in the hope of finding the latest code branch

IMO renaming master -> main is good; creating a new branch main and deleting master is good too. Having both is confusing

[2021-09-20 08:38] NicolasHug commented on #4449
Thanks for the details, that makes sense.

There's a way to delete the master branch *and* to have github automatically redirect to main when one changes "something" to "master" in the URL. For example https://github.com/scikit-learn/scikit-learn/tree/master will redirect to https://github.com/scikit-learn/scikit-learn/tree/main.

Unfortunately most of us don't have the access rights to do that. P

[2021-09-20 09:13] NicolasHug opened #4450 "Use torchrun instead of the deprecated torch.distributed.launch"
`torch.distributed.launch` is deprecated in favour of `torchrun`.

We should update the various references README.md to use `torchrun` instead. The migration guide is documented [here](https://pytorch.org/docs/master/elastic/run.html#transitioning-from-torch-distributed-launch-to-torchrun) - since we already read everything from the env variables, all we need to do is to change

[code]

into

[cod

[2021-09-20 09:22] vadimkantorov commented on #4450
With `torchrun`, how does it select the Python distribution? Sometimes there is obsolete system's `python -> python2`

[2021-09-20 09:30] NicolasHug commented on #4450
The same way the distribution gets selected when one does `python`, which is the current way that we call `python -m torch.distributed.launch`: it will pick the first `python` executable file that's in the `$PATH`.

It's related but slightly different. The reason `python -m pip` is recommended over `pip` is because there might be a `pip` executable in the `$PATH` that's related to a different Pyth

[2021-09-20 10:34] prabhat00155 commented on #4446
ffmpeg is not a hard dependency. You can just install torchvision without installing ffmpeg. You just need pytorch and numpy. This is what I need to do to install torchvision using conda:
[code]
If you downloaded the package from anaconda.org, then you could do the following:
[code]

[2021-09-20 10:41] prabhat00155 commented on #4446
This constraint is specific to the file downloaded from anaconda. There are different files for different python versions as you can see [here](https://anaconda.org/pytorch/torchvision/files). The above download seems to be for Python 3.7.
Are you facing any issues installing torchvision for Python 3.9?

[2021-09-20 12:14] malfet commented on #4449
@NicolasHug I don't have admin access to the repo either, so I'm not sure how such redirect is implemented, but this sounds like a good idea.

[2021-09-20 12:29] datumbox commented on #4449
It seems that renaming the branch would have setup a redirection automatically. See https://github.com/github/renaming

[2021-09-20 12:31] NicolasHug commented on #4449
I think the automatic redirection only works if the branch is deleted. I asked internally: https://fb.workplace.com/groups/osssupport/permalink/6734060596642498/

[2021-09-20 13:23] #4450 closed

[2021-09-20 14:13] prabhat00155 commented on #4437
@datumbox
This is the result I got for retinanet_resnet50_fpn model(which seems to match the published result):
[code]
Training logs:
[retinanet_run1.txt](https://github.com/pytorch/vision/files/7196300/retinanet_run1.txt)
[retinanet_run2.txt](https://github.com/pytorch/vision/files/7196301/retinanet_run2.txt)

[2021-09-20 14:25] malfet commented on #4449
@datumbox we have to use internal tool for branch renaming, which does not delete old branch automatically.

[2021-09-20 14:35] malfet commented on #4449
Well, actually it looks like @NicolasHug had all the powers, while I didn't. `master` branch has been deleted. Closing.

[2021-09-20 14:39] datumbox commented on #4437
@prabhat00155 I understand from your logs that you have not validated the pre-trained model using the existing weights but instead you trained a new model. To test if the already published weights work, you pass the ` --pretrained --test-only` flags.

[2021-09-20 14:41] NicolasHug commented on #4449
Looks like the deletion of master caused a bunch of PR to be automatically closed

e.g. https://github.com/pytorch/vision/pull/1711 https://github.com/pytorch/vision/pull/1621, https://github.com/pytorch/vision/pull/1554

I think this is because these PRs correspond to forks (or branches) that have been deleted since then, so I guess it's not a big deal

[2021-09-20 17:49] kazhang commented on #4333
Thanks @oke-aditya for bringing up this topic!
Just sharing my 2 cents. I think there are two kinds of APIs: developer APIs and public APIs. Developers APIs are those helper function/utils that we use within the codebase to improve dev efficiency and avoid code duplication. Public APIs are the products we offer to the community and commit on backward compatibility.

For example, I would treat laye

[2021-09-20 18:04] oke-aditya commented on #4333
Hi @kazhang I agree to your thoughts. We should be exposing only those layers that are referenced in model architectures.

It would be nice to reduce internal code duplication by keeping them under `nn.misc.py` or perhaps naming these classes with `_` or keeping in `_.py` file in layers / nn folder.

I would prefer `nn` as to separate out model building logic from model pre / post processing / hel

[2021-09-21 10:18] #4368 closed

[2021-09-21 10:51] beat-buesser commented on #4153
Hi @NicolasHug and @fmassa What do you think about PR #4327 for this issue?

[2021-09-21 11:01] datumbox commented on #4153
@beat-buesser sorry for the delay. I'm going to merge in a bit.

[2021-09-21 11:08] beat-buesser commented on #4153
Hi @datumbox Thank you very much! And no worries at all, I see you have lot of other pull requests going on in parallel.

[2021-09-21 12:20] #4153 closed

[2021-09-21 12:54] frgfm commented on #3802
Apologies, I left those notifications to make sure I had time investigating the corresponding PR. Thanks a lot @fmassa, that looks exactly like what was needed :pray:

[2021-09-21 13:31] fmassa commented on #4368
@vadimkantorov yes, I think so, and that's what @prabhat00155 did in #4453, thanks for raising this up!

[2021-09-21 14:57] prabhat00155 commented on #4437
I see. Yeah, now I get this:
[code]

[2021-09-21 18:45] vadimkantorov commented on #4378
Is general `torchvision.io.read_image` affected? In general, is `torchvision.io.read_image` ready for being used in dataset classes instead of PIL / OpenCV for reading images from disk?

[2021-09-21 18:54] datumbox commented on #4437
@fmassa This is not it unfortunately. PR #2933 indeed dropped the mAP by 0.1 but then #2940 ensured the issue is addressed for pre-trained models.

In the original issue, I provide reference to the PR #3032 which is later than both aforementioned PRs and reports mAP to 36.4. As you can see the specific PR contains the `eps` patch:
https://github.com/pytorch/vision/blob/4ab46e5f7585b86fb2befdc32d22

[2021-09-21 19:11] datumbox opened #4455 "Replace SqueezeExcitation of MobileNetV3 with the one of EfficientNet"
### 🚀 The feature

Investigate if it's possible to replace the `SqueezeExcitation` of MobileNetV3 in a BC manner and use the one introduced on `EfficientNet` at #pull.

### Motivation, pitch

This will reduce the amount of different SE implementations that we have and open the possibility of moving the layer on a separate area where it can be reused.

### Alternatives

_No response_

### Additiona

[2021-09-21 19:24] #3960 closed

[2021-09-21 20:08] #4425 closed

[2021-09-21 20:37] vadimkantorov commented on #1946
Maybe until then, at least include a copy-pasteable list of categories in some README.md file or docs online?

[2021-09-22 07:22] VinhLoiIT opened #4456 "AutoAugment's document is wrong (or unexpected?)"
### 🐛 Describe the bug

In the document, it is said that:

So, if I understand correctly, the shape `(1,H,W)` still works?

However, when I pass an input tensor whose shape is `(1,H,W)`, it sometimes does the job and sometimes doesn't.

To reproduce:

First, since it is hard to reproduce a randomized transformation that I have just suddenly met, I have to loop through several random seeds using th

[2021-09-22 08:33] datumbox commented on #4456
@VinhLoiIT You are absolutely right, the documentation is wrong. Only RGB images are supported.

The reason this works sometimes is due to the randomness of AA, which leads to choosing transforms that can be applied on non RGB images. But then when a transformation like `adjust_saturation` is sampled that requires RGB, it fails.

The doc string is wrong on all 3 autoaugment methods:
https://github

[2021-09-22 08:39] datumbox commented on #1946
@vadimkantorov I'm literally working on this now.

In the meanwhile, we have added a list with the ImageNet categories on [hub](https://raw.githubusercontent.com/pytorch/hub/master/imagenet_classes.txt).

You can see examples on how to easily use them for all TorchVision models here:
https://github.com/pytorch/hub/blob/4af1efa9e855389917594a62c1e4ff648ac25b61/pytorch_vision_resnet.md

[2021-09-22 08:46] vadimkantorov commented on #4368
Maybe also simplify synchronize_between_processes, create_common_coco_eval and merge into a single
[code]

[2021-09-22 09:11] prabhat00155 commented on #4446
@rwmajor2 Were you able to build torchvision?

[2021-09-22 10:05] mszhanyi opened #4458 "Pytorch with cuda11.1 could't be downloaded in CI."
### 🐛 Describe the bug

@seemethere ,
the PR https://github.com/pytorch/vision/pull/4082 removed the -c conda-forge.
![image](https://user-images.githubusercontent.com/16190118/134324142-9577eba2-20d7-4ced-a4d0-af3710e9eb39.png)

After the change,  I found that torch with cu11.1 couldn't be downloaded via
conda install -y -c "pytorch-${UPLOAD_CHANNEL}" "pytorch-${UPLOAD_CHANNEL}"::pytorch "${cudat

[2021-09-22 12:12] #4456 closed

[2021-09-22 12:16] prabhat00155 opened #4459 "List of issues related to video"
This issue is to track all the video related bugs.
- [ ] https://github.com/pytorch/vision/issues/4430
- [ ] https://github.com/pytorch/vision/issues/4429
- [ ] https://github.com/pytorch/pytorch/issues/65000

[2021-09-22 12:16] prabhat00155 commented on #4459
FYI @bjuncek

[2021-09-22 14:38] NicolasHug commented on #4462
Thanks for reporting the issue @logankilpatrick , you're right, this kind of information would be helpful.

I believe there has been some related discusion recently in https://github.com/pytorch/vision/issues/3921, so I'll close this one to avoid duplicates if you don't mind. You are more than welcome to contribute on the other thread!

[2021-09-22 14:38] #4462 closed

[2021-09-22 14:49] logankilpatrick commented on #3921
Just bumping this discussion to say it would be great to have this, let me know if I can be of any help!

[2021-09-22 15:27] NicolasHug commented on #4449
We just realized we shouldn't delete the master branch until the next Pytorch core version and in particular until  https://github.com/pytorch/pytorch/pull/64364 is released. Otherwise, torchhub will be broken as it wouldn't be able to find the master branch. So I re-created it and we'll delete it again after the next version

[2021-09-22 18:00] VinhLoiIT opened #4466 "Support grayscale image-like tensors for adjust_contrast and adjust_saturation functions"
### 🚀 The feature

The following functions in `functional_tensor.py` should be updated to work with single-channel image-like tensor, i.e. `(1, H, W)`.
1. `adjust_contrast`. Similar implementation in Pillow is:
[code]
2. `adjust_saturation`. Similar implementation in Pillow is:
[code]

### Motivation, pitch

When updating the documentation, I discovered some transform functions that work well on o

[2021-09-22 19:25] cprobert-insitro commented on #4343
Hi @datumbox @fmassa - I noticed that `0.10.1` builds are [showing up in the `pytorch/torchvision` anaconda channel](https://anaconda.org/pytorch/torchvision/files), but looks like they still have the `jpeg <= 9b` requirement:

<img width="926" alt="Screen Shot 2021-09-22 at 12 21 10 PM" src="https://user-images.githubusercontent.com/43685110/134408081-bf38c70a-fc71-4f7a-bb93-c652b031e53f.png">

I

[2021-09-22 19:28] abhimanyuchadha96 opened #4467 "LinearLR can't be imported this way anymore."
https://github.com/pytorch/vision/blob/972ca657416c5896ba6e0f5fe7c0d0f3e99e1087/references/detection/engine.py#L24

[2021-09-22 19:43] oke-aditya commented on #4467
Hi !
I think LinearLR is not available in pytorch 1.9.1 but available over PyTorch master

PyTorch 1.9.1 docs
https://pytorch.org/docs/1.9.1/optim.html#how-to-adjust-learning-rate

these do not have it.

Master docs https://pytorch.org/docs/master/optim.html
You can find LinearLR here.
https://pytorch.org/docs/master/generated/torch.optim.lr_scheduler.LinearLR.html#torch.optim.lr_scheduler.LinearL

[2021-09-22 19:45] abhimanyuchadha96 commented on #4467
I tried downgrading to pytorch 1.8 and the results were the same.

[2021-09-22 19:48] oke-aditya commented on #4467
Well downgrading to torch 1.8 will not help

![image](https://user-images.githubusercontent.com/47158509/134411743-76238f50-bb50-421d-b687-dceb8a4a18aa.png)

As you see LinearLR isn't part of PyTorch 1.8

[2021-09-22 19:48] oke-aditya commented on #4467
You would need to use pytorch nightly / probably wait for PyTorch 1.10

[2021-09-22 19:50] oke-aditya commented on #4467
Here is a screenshot from my Ubuntu machine. It shows that LinearLR can be used in torch 1.10 nightly

![image](https://user-images.githubusercontent.com/47158509/134412054-791678a0-2f68-41cd-9bad-da9c97c5e7fe.png)

[2021-09-22 21:44] prabhat00155 commented on #4458
Are you trying to install pytorch on cuda 11.1? You can try: `conda install pytorch cudatoolkit=11.1 -c pytorch-nightly -c nvidia`

[2021-09-22 23:53] bratao opened #4468 "[Feature Request] Add EfficientNetV2"
### 🚀 The feature

Implement EfficientNetV2

https://arxiv.org/abs/2104.00298

"A new family of convolutional networks that have faster training speed and better parameter efficiency than previous models. Our experiments show that EfficientNetV2 models train much faster than state-of-the-art models while being up to 6.8x smaller. "

### Motivation, pitch

It´s a new version of a popular model that

[2021-09-23 07:32] vadimkantorov commented on #2192
@fmassa  I propose `resize_boxes` to use `dim=-1` instead of `dim=1`. This would allow to use this function for user tensors that are not just Bx4 but also B1xB2x4 and will allow more code reuse. I hope this method would go to a shared box_ops some day (similar to detectron2)

[2021-09-23 07:33] datumbox commented on #4467
As @oke-aditya said, LinearLR is a brand new scheduler that exists only on the latest nighly version of Pytorch. Downgrading won't help. You need to upgrade to the very latest available non-stable nighly version.

[2021-09-23 07:33] #4467 closed

[2021-09-23 08:20] datumbox commented on #4468
Thanks @bratao. I agree it's worth considering adding them. I've added the model on the following issue that tracks all the model additions #2707. I'll close this one to keep things tidy. Let's continue the discussion on the other thread.

[2021-09-23 08:20] #4468 closed

[2021-09-23 08:23] datumbox commented on #3921
@logankilpatrick I believe #3944 already adds this information where necessary. Our documentation describes the training size of all models and for those that have a minimum required image size imposed by the architecture, we have a note on their docstrings. Does this cover it?

[2021-09-23 08:58] m-nasiri commented on #3332
This mode load png as 3 channel
img = torchvision.io.read_image("my_img.png", mode=torchvision.io.image.ImageReadMode.RGB)

[2021-09-23 12:18] Queuecumber commented on #4269
Seems to be working, thanks a lot for the fix and sorry for my late reply

[2021-09-23 18:15] pmeier commented on #2447
@mthrok I took the liberty to auto-cc you every time I label a PR as `prototype` so I don't have to remember to do it manually. For now this will only be the datasets. Feel free to "unsubscribe" if you receive to many notifications.

[2021-09-24 07:13] seafolk-cn opened #4476 ""libtorch.so: error adding symbols: File in wrong format" when trying to compile torchvision on Linux on IBM z machine"
Hello Guys,

I'm getting below error while trying to compile torchvision on linux on IBM z14 machine.
Could anyone help have a look on this?

My env:
-------------------------------------------------------------------------------------------
redhat 8.4 on IBM LinuxONE
gcc (GCC) 8.4.1 20200928 (Red Hat 8.4.1-1)

command sequence to compile:
----------------------------------------------------------

[2021-09-24 07:19] VinhLoiIT commented on #4466
Currently, while scanning through the source code for test cases, I find that the test cases for `adjust_contrast` is defined as follows:

[code]

which is essentially linked to the `check_functional_vs_PIL_vs_scripted` function that it tests only on 3 channels image-like tensors:

[code]

So, I wonder that some functions, which are documented as they support 1 or 3 channels, are tested on 1 chann

[2021-09-24 08:21] datumbox commented on #4466
@VinhLoiIT Thanks for digging into this. Yes you are right, we test only for 3 channels and obviously that's not great.

A PR that improves the situation in this direction is very welcome.

[2021-09-24 08:25] vfdev-5 commented on #4466
@datumbox @VinhLoiIT I can help or guide also with this issue/feature request.

[2021-09-24 09:54] datumbox commented on #4343
@cprobert-insitro Unfortunately the cherrypick was not merged before the release of `0.10.1`. We are triaging to see what we can do. Note a branch new release (`0.11`) will be due in couple of weeks so the patch will definitely be in there.

[2021-09-24 12:11] vfdev-5 commented on #4466
@VinhLoiIT I submitted a draft PR on how to enhance the gray images support for `adjust_contrast`. I think something similar can be done for `adjust_saturation`. Once, we figure out all hidden issues (if there are) with `adjust_contrast` and merged my PR, if you would like to submit another one for  `adjust_contrast` it would be awesome !

[2021-09-24 12:27] VinhLoiIT commented on #4466
Thank you, with a glance through the `functional_tensor.py` file, I have found these two related functions as below:
- `adjust_contrast`
- `adjust_saturation`

I guess that this issue is because of the `rgb_to_grayscale` method calls, which could be done without converting, i.e. broadcasting. However, I think we have to write some test cases for this. I've had some struggles with the tensor-pillow

[2021-09-24 12:32] vfdev-5 commented on #4466
@VinhLoiIT yes, I agree with you about `rgb_to_grayscale` and that we can bypass it if input image is gray.
I think you can checkout this branch: https://github.com/vfdev-5/vision/tree/add-gray-support-adjust_contrast and submit a PR to this repo: pytorch/vision. After the first PR has been merged you can update your branch to `main` and I think we will be good.

[2021-09-24 12:38] VinhLoiIT commented on #4466
Sure I'll do. I'll create a PR soon.

[2021-09-24 12:58] vfdev-5 commented on #4466
@VinhLoiIT the PR was merged you can just fork from pytorch/vision:main and not bother with my fork

[2021-09-24 13:32] VinhLoiIT commented on #4466
I've created a PR, please kindly have a look.

[2021-09-24 15:09] mszhanyi commented on #4458
The link is
https://app.circleci.com/pipelines/github/pytorch/vision/10705/workflows/25d6740c-6c8a-42fd-8cbf-7a54222ebb38/jobs/816118

[code]

[2021-09-24 15:36] prabhat00155 commented on #4458
I see. Looks like you need conda-forge on windows.

[2021-09-24 19:34] prabhat00155 commented on #4458
Closing this issue, PR merged: https://github.com/pytorch/vision/pull/4475.

[2021-09-24 19:34] #4458 closed

[2021-09-24 19:36] prabhat00155 commented on #4446
@rwmajor2 I am closing this issue. Feel free to reopen this if you have any more questions.

[2021-09-24 19:36] #4446 closed

[2021-09-24 19:57] dipam7 commented on #1164
You can use PyTorch hooks to get the input, weights, and outputs of any layer in the Fasterrcnn. For example, after defining the model if you do `model.named_children()` or `model.named_modules()` you can access these individual modules, and then you can attach a hook to them.

[code]

[2021-09-24 21:00] prabhat00155 opened #4483 "Windows CI failing"
https://app.circleci.com/pipelines/github/pytorch/vision/10734/workflows/d1dec21d-0d67-4a8d-8510-94e6a8627228/jobs/819033

Failure seems to be coming from pytorch.
[code]

cc @peterjc123 @nbcsm @guyang3532 @maxluk @gunandrose4u @mszhanyi @seemethere

[2021-09-24 21:18] malfet commented on #4483
Seems to have caused by PyTorch update, I guess we'll see after the next nightly.

[2021-09-25 20:00] malfet commented on #4483
This is a regression caused by https://github.com/pytorch/pytorch/pull/62175 or its reland https://github.com/pytorch/pytorch/pull/65608 (both of the PRs are reverted at the moment), which introduced cudart64_102.dll and cupti64_102.dll dependency to libtorch_cpu.so, see screenshot below:
![image](https://user-images.githubusercontent.com/2453524/134784583-edf1eb2f-28b9-4795-b934-d9ab10c3c6ec.png)

[2021-09-26 01:12] peterjc123 commented on #4483
@malfet Just curious why torch_cpu.dll depends on the CUDA libs? Doesn't this sound a bit weird?

[2021-09-26 03:58] cloudhan commented on #4483
OK, shit happens, AGAIN. The reason is quite simple, conda have seperate (AGAIN) packaging logic.

[2021-09-26 04:15] cloudhan commented on #4483
@malfet You are take the wrong screenshot.

### **My PR is perfectly fine. The problem goes to CI environment. Either your builder or your conda package.**

The https://app.circleci.com/pipelines/github/pytorch/vision/10734/workflows/d1dec21d-0d67-4a8d-8510-94e6a8627228/jobs/819033 mentioned the pytorch package with version `py3.8_cuda11.1_cudnn8_0`

The dependent pacakge `cudatoolkit=11.1`
[code]

[2021-09-26 05:57] cloudhan commented on #4483
The problem boils down to why conda package `cudatoolkit=11.1` package `cupti64_2020.2.1.dll`.

For everyone's information.
![图片](https://user-images.githubusercontent.com/1279292/134795451-8de4941c-25f4-4adb-8a2a-04d4c239560f.png)

[2021-09-26 07:22] cloudhan commented on #4483
Version mismatch comes from https://github.com/conda-forge/cudatoolkit-feedstock/blob/593837933a3e5cdbb5aed422fbea948f29e27f9e/recipe/meta.yaml#L144 and https://github.com/pytorch/builder/blob/3e2535a2b346a00f775140285a07cdf456dda136/windows/internal/cuda_install.bat#L116

[2021-09-26 15:14] you74674 opened #4485 "torch.ops.image.decode_image(called from torchvision.io.read_image) crashes python on this image"
### 🐛 Describe the bug

```torchvision.io.read_image``` crashes python when reading this image(from 300W/lfpw/trainset dataset).
There's no error message, but it looks like the crash happens in ```torch.ops.image.decode_image```.
I have tested it on three different computer(0.10.0, 0.10.1 and 0.10.1+cpu), and all of them crashed.

[code]

![image_0779](https://user-images.githubusercontent.com/145

[2021-09-26 17:29] prabhat00155 commented on #4485
On Mac, this throws the following error:
[code]
Your image has a bit-depth of 16, which is [currently not supported](https://github.com/pytorch/vision/blob/b7c235892332c49a86c4be1b00fb6a672a3f9930/torchvision/csrc/io/image/cpu/decode_png.cpp#L75).
That said, it should not crash your Python. I'll try to reproduce this on Windows.

[2021-09-26 18:02] prabhat00155 commented on #4485
Thanks for reporting the bug. I was able to reproduce this issue with 0.10 on Windows. However, I think this issue is same as https://github.com/pytorch/vision/issues/3613 which was fixed in https://github.com/pytorch/vision/pull/4101. If you try the latest nightly(`conda install pytorch torchvision torchaudio cpuonly -c pytorch-nightly`), you wouldn't see the crash with the correct exception thro

[2021-09-26 19:34] oke-aditya commented on #4415
Can you elaborate a bit, I'm not very experienced to understand the above fully. :smiley:

[2021-09-26 23:15] MaxVanDijck opened #4486 "torchvision.transforms Images are incorrect"
### 📚 The doc issue

All the example astronaut images on https://pytorch.org/vision/stable/transforms.html show the same pad transform as shown:

![image](https://user-images.githubusercontent.com/50382570/134827438-51b4bdc3-d373-47e1-a71b-eb4ec6202340.png)

![image](https://user-images.githubusercontent.com/50382570/134827446-b538d3db-e55b-4a33-becf-b6855e30dd35.png)

![image](https://user-images

[2021-09-27 02:32] you74674 commented on #4485
Oh, searching with read_image didn't give me that issue. I have to search with torchvision.io.read_image.
Thank you for the explanation and solution.

[2021-09-27 02:32] #4485 closed

[2021-09-27 02:38] tothedistance commented on #4076
I seem to encouter the similar problem. I somehow managed to install torchvision=0.10. But when i check it in python interpreter, it shows 0.2.2.
<details>
<summary>

**conda list**
</summary>
<p>

[code]

</p>
</details>

**python output**
[code]

[2021-09-27 03:21] mszhanyi commented on #4483
Theoretically, (Major.Minor.Update) update  change shouldn't change the interface.

[2021-09-27 03:28] cloudhan commented on #4483
@mszhanyi  But what if nvidia release cuda 11.1.2 with `cupti64_2020.2.2.dll` and then conda package update the `cudatoolkit==11.1`

[2021-09-27 03:30] mszhanyi commented on #4483
There isn't 11.1.x after 11.2

[2021-09-27 07:00] NicolasHug commented on #4486
Thanks for the report @MaxVanDijck

The things you're showing aren't supposed to represent the specfic image transformations, they are just thumbnails that link to the example where each transformation is illustrated in more details.

I don't think sphinx-gallery supports having different thumbnails for different backlinks, that would involve a lot of manual work that we would prefer to avoid anyw

[2021-09-27 09:10] vadimkantorov commented on #4415
In semantic/instance segmentation context the segmentations are usually represented using some sort of masks:
1) integer label maps. For every pixel there is some ID of an instance/category ID the object belongs to
2) RGB label maps, Every pixel is assigned an RGB value, each unique RGB tuple stands for an instance/category object ID. This is how Pascal and other datasets represent the ground trut

[2021-09-27 09:14] vfdev-5 commented on #2479
Close this issue as fixed by #2952 and #2904

[2021-09-27 09:14] #2479 closed

[2021-09-27 10:52] datumbox commented on #1406
There is an alternative approach covered here: https://github.com/pmeier/torchvision-datasets-rework/pull/1

[2021-09-27 12:41] shuokay opened #4488 "Use stable sort in nms"
### 🚀 The feature

Please use stable sort in nms since torch1.9 has supported stable sort.

### Motivation, pitch

Why we need stable sort:
In quantization model, many score are equal due to quantization, so when using unstable sort, the result of nms is non-reproducible.

### Alternatives

_No response_

### Additional context

_No response_

[2021-09-27 12:49] datumbox commented on #4488
It's true that the sort component of NMS has been the source of many headaches. The fact that the algorithm is unstable means that we get different order depending on platform/python/system config. This leads to us being unable to properly test those algorithms and we often resort to ugly hacks/workarounds:
https://github.com/pytorch/vision/blob/2e0949e22be6dceef5d91101e49ade1fe8a0689b/test/test_m

[2021-09-27 17:11] oke-aditya commented on #4415
Hi @vadimkantorov

Just like bounding boxes, I think there are multiple formats for segmentation masks as you mentioned.

1. To convert between the representations: -

Unlike boxes, we cannot interchangeably convert to each other types. E.g. from binary (boolean) mask it won't be possible to get same RGB Label maps. Although one way conversion is feasible.
Still it might be useful to provide such

[2021-09-27 19:16] #4466 closed

[2021-09-27 19:28] #4483 closed

[2021-09-27 21:12] vadimkantorov commented on #4415
Honestly, I think the most practical thing would be to have utility functions that allow the maximum flexibility to convert between all these formats: integer label maps, rgb label maps, binary masks (maybe even bit masks), RLE compression (and maybe some other simple compressed representations)

For visualization purposes, it may still make sense to support Boolean -> RGB via letting the user to

[2021-09-28 01:03] MaxVanDijck commented on #4486
Maybe rather than showing one specific transform we can use another image that makes it clearer that it is linking to the gallery? Such as a larger image with multiple different transforms shown for example one like so:

![Untitled](https://user-images.githubusercontent.com/50382570/135005258-5135fe6d-c533-4c22-bc9a-4100406a27e9.png)

Using:
https://sphinx-gallery.github.io/stable/configuration.ht

[2021-09-28 02:55] Myxrf opened #4492 "can torchvision build from source on windows?"
I have got the pt model of mask rcnn, and now I want to use it on C++, does libtoch seem to not support it? This seems to require torchvison build from source, but I failed. Does torchvison build support window? Or do I need to pay attention to something?

I followed the link to do this but failed
[https://discuss.pytorch.org/t/building-torchvision-c-api-from-source/68281](url)

[2021-09-28 08:01] NicolasHug commented on #4492
Building on Windows shouhld be possible.

Could you provide the full list of commands that you ran, with the errors? It's almost impossible to help otherwise.

[2021-09-28 08:19] NicolasHug commented on #4486
That sounds great @MaxVanDijck !

[2021-09-28 08:20] Myxrf commented on #4492
When i run this command
`cmake -DCMAKE_PREFIX_PATH="E:\libtorch\libtorch;E:\pybind11-master\pybind11-master\build" ..`
I get this error
`-- Selecting Windows SDK version 10.0.19041.0 to target Windows 10.0.19042.
-- Caffe2: CUDA detected: 11.1
-- Caffe2: CUDA nvcc is: C:/Program Files/NVIDIA GPU Computing Toolkit/CUDA/v11.1/bin/nvcc.exe
-- Caffe2: CUDA toolkit directory: C:/Program Files/NVIDIA GP

[2021-09-28 08:32] NicolasHug commented on #4492
Sorry I'm not very familiar with windows builds, but I would encourage you to google the error messages like this one

which will hopefully help you resolve the issues eventually.

[2021-09-28 10:27] vfdev-5 commented on #4476
@seafolk-cn most probably libtorch binaries are not suitable for your architecture. As a solution you can try to build pytorch from source and thus build libtorch binaries and finally build vision binaries. Here is a pointer on how to build pytorch from source:
- https://github.com/pytorch/pytorch/blob/master/docs/libtorch.rst
- https://github.com/pytorch/pytorch#from-source

HTH

[2021-09-28 19:42] oke-aditya commented on #4415
Hi @vadimkantorov

1. I agree that there should be flexibility in utility functions and try to adopt many standard conversions used popularly.
2. The visualization utility do allow you to choose a color palette or by default it generates colors. But supporting RGB type masks directly would overload it and complicate. The utilities for visualization are aimed to be minimalist. Also they do the job

[2021-09-28 20:00] vadimkantorov commented on #4415
This already exists in legacy datasets such as Pascal, and I imagine this is the same in many other datasets from that epoch. So this is a very valid format for conversion. Direction integer label maps -> RGB label maps is also well defined even outside of purely visualization context. This conversion is needed to prepare the original "submission" files and use the original evaluation routines.

I

[2021-09-28 20:26] oke-aditya commented on #4415
Great. I agree with you about conversion formats.

So can if I understand correctly. `mask_convert` utility is what we need?

Or there are any other such functions which are beneficial ?

[2021-09-29 02:40] mszhanyi commented on #4492
@Myxrf Surely it can be built on Windows.

1. `git clone https://github.com/pytorch/vision.git
2.  install pytorch nighlty `conda install pytorch torchvision torchaudio cudatoolkit=11.1 -c pytorch-nightly -c conda-forge`
3. `"C:\Program Files (x86)\Microsoft Visual Studio\2019\Community\VC\Auxiliary\Build\vcvarsall.bat" x64 -vcvars_ver=14.29`
4. `python setup.py install`  (if it's not a clean dire

[2021-09-29 07:18] Myxrf commented on #4492
Do you mean that I only need to run the command python setup.py install instead of the cmake command?

 I ran python setup.py install and got this result
`Using d:\programdata\anaconda3\envs\pytorch11.1\lib\site-packages
Finished processing dependencies for torchvision==0.9.0a0`

[2021-09-29 12:19] NicolasHug commented on #4486
@MaxVanDijck just making sure, would you like to submit a PR for this, or are you OK for us to let someone else grab it? We're not in a rush so if you want to do it we can definitely wait a few days if needed

[2021-09-29 12:30] fmassa opened #4500 "Refactor BoxOps tests to use parameterize"
Initially brought in https://github.com/pytorch/vision/pull/4472#pullrequestreview-765726780

`TestBoxArea`, `TestBoxIoU` and `TestGenBoxIoU` are all very related and perform a single test (or two if we consider the newly added JIT test).
We can probably refactor the implementations so that they follow the same base class, and use `pytest.parameterize`, so that each configuration is displayed as a

[2021-09-29 14:23] datumbox commented on #4438
I had a look also when Francisco raised the ticket but couldn't see anything compatible TBH.

[2021-09-29 14:28] fmassa commented on #4438
It might not be implemented yet. I think we should check to see if this type of scheduler has been used in more papers since then, that could justify adding it to PyTorch.

[2021-09-29 14:33] #4455 closed

[2021-09-29 14:37] datumbox opened #4502 "Update our test_quantized_classification_model() test to compare against expected cached values"
### 🚀 The feature

Unlike our `test_classification_model` tests, the `test_quantized_classification_model` doesn't check the model against an expected value. This means that if we break the Quantization model, we won't be able to detect it:

https://github.com/pytorch/vision/blob/2e0949e22be6dceef5d91101e49ade1fe8a0689b/test/test_models.py#L676-L717

We should adapt the tests (add new, modify or r

[2021-09-29 18:54] MaxVanDijck commented on #4486
@NicolasHug You can let anyone grab this issue!

[2021-09-29 20:03] kazhang commented on #2655
Not done yet. I'm still training the rest of the models. I will add the pretrained weights in the following days.

[2021-09-29 21:11] Vladislavo commented on #2262
In the [original Google Drive shared folder](https://drive.google.com/drive/folders/0B7EVK8r0v71pWEZsZE9oNnFzTm8?resourcekey=0-5BR16BdXnb8hVj6CNHKzLg) the dataset files are placed in different directories (Anno, Eval, Img), whereas they appear in celeba.py as isolated files without any path indication. This probably causes the error.

[2021-09-29 23:28] kingyiusuen commented on #4486
I'd like to give this a try!

[2021-09-30 05:14] mszhanyi commented on #4492
@Myxrf
I know your question now.
Before running `cmake -DCMAKE_PREFIX_PATH="E:\libtorch\libtorch;E:\pybind11-master\pybind11-master\build" ..`
Run
`conda install -c conda-forge libjpeg-turbo`
and
`conda install -c anaconda zlib`

[2021-09-30 05:14] pmeier commented on #2262
This was fixed in #4109, but the commit is not yet included in a stable release. It will be in the upcoming one.

[2021-09-30 07:40] #4486 closed

[2021-09-30 08:10] FrancescoSaverioZuppichini commented on #1073
The current solution from @fmassa doesn't work. The python code runs correctly but no train is ever started, just hanging there without doing anything

[2021-09-30 08:12] NicolasHug opened #4506 "Fix flaky tests that are recently popping up"
Since https://github.com/pytorch/vision/pull/4497 was merged, we're observing a few tests that start randomly failing.

Before https://github.com/pytorch/vision/pull/4497, these tests were almost always using the same RNG state, which was set in a test that was run earlier in the test execution suite. Now that all tests are properly independent and that the RNG doesn't leak, these tests run with a

[2021-09-30 09:59] datumbox opened #4508 "pil_to_tensor() raises a "NumPy array is not writeable" warning"
### 🐛 Describe the bug

Steps to reproduce:

[code]

Raises:
[code]

https://github.com/pytorch/vision/blob/f483e71b512e0f9dd5d6eb531fb602581ffb39a6/torchvision/transforms/functional.py#L177

There are a few options including copying the data, suppressing the warnings etc (see discussion below). The person who picks this up can comment on this issue which solution they are going for.

### Versions

[2021-09-30 10:02] NicolasHug commented on #4508
Do we know what caused this? Was there a change made to PIL recently?

[2021-09-30 10:03] datumbox commented on #4508
Could also be from PyTorch. It has happened before: https://github.com/pytorch/pytorch/issues/47160

[2021-09-30 10:07] fmassa commented on #4508
This is a change from PyTorch. This will not be a problem for us except if we perform any in-place operations in the returned tensor (which I think almost never happens). So we could probably just silence this warning if possible.

[2021-09-30 10:09] datumbox commented on #4508
Sounds reasonable. I've updated the ticket to indicate that.

[2021-09-30 10:10] NicolasHug commented on #4508
Do you know which PR / diff caused the change @fmassa ?

I agree it shouldn't be a problem in most cases. That being said, if we almost never make inplace operations that means we almost always make a copy, so we might as well use @datumbox earlier suggestion to use `np.array` instead?

[2021-09-30 10:12] fmassa commented on #4508
It was added in https://github.com/pytorch/pytorch/pull/33615

Another option is to do something like

[code]
but we should ensure that the user doesn't perform any in-place operations, otherwise the underlying PIL image will be modified.

We have the choice here between efficiency (no copy) and being on the safe side (with copy).

I'm ok going for the copy, but we need to keep in mind that we nee

[2021-09-30 10:17] NicolasHug commented on #4508
Alternatively we could implement both with a new `force_copy` flag passed to `pil_to_tensor` or something like that.
No strong opinion on my side, since apparently the warning has been there for a while.

[2021-09-30 10:21] fmassa opened #4509 "Replace uses of `apex.amp` with PyTorch's amp in references"
Some reference scripts have added support for AMP via APEX a couple of years ago, see https://github.com/pytorch/vision/blob/4bf608633f9299aeda61b08ae126961acaadec22/references/classification/train.py#L17 for one example

PyTorch [now natively supports AMP in the `torch.cuda.amp` namespace](https://pytorch.org/docs/stable/amp.html?highlight=amp#module-torch.cuda.amp), so we should use PyTorch's AM

[2021-09-30 10:52] fmassa commented on #1073
@FrancescoSaverioZuppichini what PyTorch version are you using? Note that we are training models with that script right now and it doesn't hang. What is the error message you get when you stop the job? Also, did you make any modifications to the model or training scripts?

cc @datumbox for visibility

[2021-09-30 11:37] FrancescoSaverioZuppichini commented on #1073
@fmassa my bad, I wrongly commented on this one while I meant to comment on a different issue from a different package. This is why you shouldn't keep too many chrome's tab open at the same time. Apologies

[2021-09-30 15:22] fmassa commented on #3965
@prabhat00155 this might be related to the task I've assigned you. At least the part of the extension loading (hopefully we will not need to change the build, but it's not 100% sure)

[2021-09-30 15:51] bjuncek commented on #4392
Regarding benchmarking:
I've done the first steps towards it in this [repo](https://github.com/bjuncek/video_reader_benchmark).

The main for me are that:
1) in straight-up video reading, it is not obviously clear that GPU decoding is actually faster than CPU decoding [1]. In chat with people, it seems like there is benefit of GPU decoding in end-to-end pipelines where decoded frames can be direct

[2021-09-30 15:53] vadimkantorov commented on #4392
(I think there is also a push for more and more transforms supporting GPU and relying on just PyTorch ops)

[2021-09-30 15:56] vadimkantorov commented on #4392
+ from my experience this is a very bad idea of having anything relying on getting exactly kth frame. because this depends heavily on the decoder, its queue implementation, and on its handling of missing frames / pts (some decoder may choose to fill in missing frames, some decoders may not do it). I was bitten by it exacty when dealing with HMDB. From what I understood, the only quasi-reliable add

[2021-09-30 16:00] bjuncek commented on #2439
(copy from #4392)

I'm back after some time and have been doing some [benchmarking](https://github.com/bjuncek/video_reader_benchmark):

<insert funny gif of an animal with lab equipment here>

In straight-up video reading, it is not obviously clear that GPU decoding is actually faster than CPU decoding [1].

In chat with some people that have tried it in their training pipelines, it seems like th

[2021-10-01 07:28] Chandan-h-509 commented on #4500
Hey @fmassa I would like to work on this issue.

[2021-10-01 08:59] calebrob6 opened #4519 "download_file_from_google_drive not working"
### 🐛 Describe the bug

`torchvision.datasets.utils.download_file_from_google_drive` is not behaving as expected.

[code]

The above code should download the dataset, however it fails when checking `_quota_exceeded` and ends up creating a 0 byte file `NWPU-RESISC451.rar` instead.

@adamjstewart

### Versions

Collecting environment information...
PyTorch version: 1.9.0
Is debug build: False
CUDA u

[2021-10-01 09:01] calebrob6 commented on #4519
Looks like this is addressed in #4109, nevermind.

[2021-10-01 09:01] #4519 closed

[2021-10-01 09:51] datumbox commented on #4509
Do you know if manually installing apex from the repo will still be needed? Cause if this step is removed it would be great.

[2021-10-01 09:53] fmassa commented on #4509
We won't need to install apex anymore, and everything will be handled by PyTorch now. We only used apex for amp in the reference scripts

[2021-10-01 10:20] Rohaifa opened #4521 "module 'torch.optim.lr_scheduler' has no attribute 'LinearLR'"
https://github.com/pytorch/vision/blob/972ca657416c5896ba6e0f5fe7c0d0f3e99e1087/references/detection/engine.py#L24

[2021-10-01 10:25] NicolasHug commented on #4521
Thanks for the report @Rohaifa , this was reported in https://github.com/pytorch/vision/issues/4467 already. The LinearLR scheduler is only available on the latest pytorch version which hasn't been released yet, so for now you'll need to use the pytorch-nightly release to try it out:

`conda install pytorch -c pytorch-nightly`

[2021-10-01 10:45] Rohaifa commented on #4521
Thank you so much for your help!

[2021-10-01 10:45] #4521 closed

[2021-10-01 17:58] nivha opened #4526 "torchvision.utils.make_grid pad_value attribute to accept RGB value"
## 🚀 Feature
change torchvision.utils.make_grid pad_value attribute to accept an RGB value (in whatever format, either hex string, or 3-tuple)

## Motivation

This would allow to pad image grids with colors other than just grayscale

## Pitch

I want to be able to pass an RGB value to pad_value of torchvision.utils.make_grid

## Alternatives

changing the padded value manually, that's quite tediou

[2021-10-02 20:04] oke-aditya opened #4528 "Generate colors from random color palette in draw_bounding_boxes"
### 🚀 The feature

The current default white color looks bad. Maybe we can generate colors from palette as we do in drawing masks?

### Motivation, pitch

It should be simple tweak to `_generate_color_palette` to pass num_boxes and get a List of RGB values. Instead of List[Tensor]. The fix is simple and that can be passed to get RGB colors.

### Alternatives

Users can anyway use `color="white"` t

[2021-10-03 06:02] hanmala123 commented on #4273
I delete conda-forge channel in .condarc this time, the problem is fixed.
I wonder why conda-forge channel  can influence installation of torchvision.

[2021-10-03 16:07] theahura opened #4529 "Torchvision transform hangs when using python multiprocessing and model inference"
### 🐛 Describe the bug

Torchvision transforms cause code to hang when using python multiprocessing and a model on inference.

In particular, I'm seeing hangs when using a CLIP model and entirely unrelated torch code running in a multiprocess. An issue was filed against the CLIP repository here (https://github.com/openai/CLIP/issues/130) but I figured this should also be flagged on torchvision bec

[2021-10-03 20:48] gessha commented on #4528
I can take this if that's okay.

[2021-10-03 20:54] oke-aditya commented on #4528
I'm glad that you want to take it.
Just need a green signal from the maintainers @NicolasHug @datumbox

[2021-10-04 07:27] NicolasHug commented on #4526
Thanks for the proposal, this sounds reasonable considering we allow the same type of values for the other plotting utils.

That being said, I feel like `make_grid` should be deprecated as it adds very little value, and is mostly confusing (for example its `nrow` parameter is actually... the number of columns).

May I ask what your use of `make_grid` is? If it's just for plotting in a notebook, we

[2021-10-04 07:50] NicolasHug commented on #4528
Thanks for the proposal @oke-aditya and @gessha for volunteering.

That sounds good to me, we should just make sure that the same color is generated for all boxes with the same label.

[2021-10-04 07:58] oke-aditya commented on #4528
Well I'm not sure how we would ensure that same color is generated for all boxes with same label.
My thoughts were to generate color palette equal to number of boxes. And then we simply pick ith color from the palette.

We don't keep consistency of randomly generating same color for same label in drawing segmentation masks too.

[2021-10-04 08:02] NicolasHug commented on #4528
We can generate num_labels colors and then assign one color per label. Obviously we don't need to do that if `labels` isn't specified

True but `draw_segmentation_masks` doesn't accept a label anyway, as it probably doesn't need one.

[2021-10-04 12:25] oke-aditya commented on #4528
Great, I think it should be feasible with some refactor. As of now we plot each bbox and then the labels separately.

@gessha feel free to send a PR!

[2021-10-04 13:58] #4174 closed

[2021-10-04 14:37] prabhat00155 commented on #4509
The name of the argument is [apex](https://github.com/pytorch/vision/blob/5f0edb97b46e5bff71dc19dedef05c5396eeaea2/references/classification/train.py#L388). Now that we are going to use Pytorch's amp for mixed precision training, should we update this or keep it for BC?

[2021-10-04 16:15] datumbox commented on #4509
@prabhat00155 I don't think it's a problem to change the name. We don't have any models that actually use it for training and BC on the references is not our primary focus anyway. My view is that it's fine to update it.

[2021-10-05 04:46] #2655 closed

[2021-10-05 05:07] blefaudeux commented on #2655
Thank you @kazhang , great work !

[2021-10-05 08:50] fmassa commented on #4509
I second @datumbox comment, let's just change the argument name -- note that the reference scripts are not part of our API

[2021-10-05 09:42] pmeier opened #4539 "Resolving merge conflicts for PRs opened before Oct' 4"
After #4384 was merged on Oct' 4, we now use `ufmt` to format our code base and enforce this code style on every PR. In case you opened a PR before that, you will likely see merge conflicts popping up. Here is what you do:

[code]

This should work for most cases. If you encounter any issues with that, feel free to ping `@pmeier` on your PR to help you fix it.

[2021-10-05 12:11] datumbox opened #4540 "Replace IntermediateLayerGetter with feature_extraction.create_feature_extractor()"
### 🚀 The feature

A new feature extraction utility based on FX was introduced by #4302. It allows us to extract internal outputs of a module in a simpler way and it should be a drop-in replacement of the old `IntermediateLayerGetter` class.

Unfortunately the `create_feature_extractor()` util is not currently used anywhere on vision. We should investigate using it to replace some of the old appro

[2021-10-05 13:55] clarkkent0618 commented on #1001
Hi, how can i get all the proposal region features?  @fmassa

[2021-10-05 13:56] clarkkent0618 commented on #1001
Hi, how you set the value of K? @SilverLiningSL

[2021-10-05 17:21] jdsgomes commented on #4502
Hi @datumbox I am interested in taking this issue.

[2021-10-05 17:36] datumbox commented on #4502
@jdsgomes Awesome, I assigned it to you to ensure nobody else picks it up. Happy to chat offline about the details.

[2021-10-05 20:07] xwang233 opened #4542 "No longer able to build from source with `pip install -v .`"
### 🐛 Describe the bug

After PR https://github.com/pytorch/vision/pull/4384, I'm no longer able to build torchvision with

[code]

, though

[code]
still works.

The `pip install -v .` now reports error message

[code]

### Versions

I'm using the latest pytorch version 1.11.0a0+git458a00b https://github.com/pytorch/pytorch/commit/458a00bacb68998a75a87af153e6ae3690698bc2,

[code]

[2021-10-05 21:14] NicolasHug commented on #4542
We don't recommend using `pip`, but if you prefer `pip` over `setup.py`, you'll now need to use the `--no-build-isolation` flag:

`pip install --no-build-isolation -v .`

The reason this happens is because of the new `pyproject.toml` file introduced in #4384, which is needed to configure `black`.

`pyproject.toml` is a file that is supposed to specify things like build-time dependencies. The exist

[2021-10-06 13:40] JeroenDelcour commented on #3291
I don't know what did it, but this appears to be fixed with the latest version of torchvision :)

[2021-10-06 13:40] #3291 closed

[2021-10-06 16:53] tvelovraf opened #4548 "`trainable_backbone_layers` in `ssd300_vgg16` seems to work wrong"
### 🐛 Describe the bug

I called `torchvision.models.detection.ssd300_vgg16` with different values for `trainable_backbone_layers` and it seems to freeze more layers than expected.

### To Reproduce
I took a part of the script from this #3905 issue:
[code]

Output:
[code]
So we have the same number of trainable parameters when setting `trainable_backbone_layers` to 0 and 1.
And even when we set `t

[2021-10-06 17:38] stwinata commented on #2707
Hey guys, I was wondering if the pytorch team are open for public contributions to these models? 🤔
I assume we can follow similar PR formats to the one [here](https://github.com/pytorch/vision/pull/3252/files) and [here](https://github.com/pytorch/vision/pull/3757/files) along with validation/proof that we can reproduce paper results.

[2021-10-06 18:28] stwinata commented on #2707
@datumbox thanks for the quick reply! I am interested in [DETR](https://github.com/facebookresearch/detr) or EfficientDet. I was thinking for first commit maybe DETR might be easier, since we can use DETR's original repo for referene and may be able try to load weights for preliminary validations.

Perhaps we can also try to determine a canonical pipeline for model contribution through this experi

[2021-10-06 18:48] stwinata commented on #2707
@datumbox Does this come down to lack of GPU resources? Or is it due to pytorch wanting to validate that it can properly train?

[2021-10-06 19:04] datumbox commented on #2707
@stwinata DETR sounds a good addition to me. Since @fmassa is one of the main authors, I will let him have the final say on this.

Contributing models is tricky because:
1. To reproduce the paper it's an iterative process of code + recipe + training. Getting a PR that just adds the implementation is less useful because someone from the maintainers needs to do the heavy lifting of the model reprodu

[2021-10-06 19:20] stwinata commented on #2707
@datumbox These comments makes sense 😃

Yeah I agree, some might even say getting it to models to be "useful" aka reproducing the Paper results are the fun bits 😃
I think in the future model contributions/PRs should include:

- Implementation
- Saved weights
- Proof of Paper's Benchmark reproduction
- documentations

I think this way, we can ease the load on Pytorch/Vision maintainers, make PRs mu

[2021-10-07 07:46] fmassa opened #4552 "Use `torch.frombuffer` instead of `np.frombuffer`"
PyTorch recently introduced a `torch.frombuffer` method https://github.com/pytorch/pytorch/pull/59077
We should use it to simplify our code whenever possible, instead of relying on alternatives like `torch.from_numpy(np.frombuffer))`.

[2021-10-07 08:43] datumbox commented on #2707
@stwinata Thanks for the comments. I think we agree. Below I write few thoughts on the **potential** process we could adopt.

The minimum to merge such a contribution is:
1. The PR must include the code implementation, have documentation and tests.
2. It should also extend the existing reference scripts used to train the model.
3. The weights need to reproduce closely the results of the paper in t

[2021-10-07 09:00] nightlessbaron commented on #1759
Thanks, @pmeier, this works. But I don't understand why.
In my case, `num_bands` was 3, so as you suggested, I replaced `fill=(0,)` with `fill=[0]*3`.
But what's exactly happening?

[2021-10-07 10:54] NicolasHug opened #4559 "Evaluation code of references is slightly off"
There is a subtle known bug in the evaluation code of the classification references (and other references as well, but not all):

https://github.com/pytorch/vision/blob/261cbf7e939a253ea316b74bec8dbba58155ab4e/references/classification/train.py#L65-L66

It deserves some attention, because it's easy to miss and yet can **impact our reported results, and those of research papers.**

As the comment a

[2021-10-07 11:11] pmeier commented on #1759
The error message is telling you what the problem is: by using `fill=(0,)` the implementation will only handle single-channel images. If you want all channels to be filled with `0`, use `fill=0`. Otherwise pass a tuple or list with the same number of elements as you have channels, e.g. `fill=(0, 0.5, 1.0)`.

[2021-10-07 11:15] prabhat00155 opened #4560 "unittest_windows_gpu_py3.8 CI failing"
"torch.cuda.is_available() is False"
[code]

https://app.circleci.com/pipelines/github/pytorch/vision/11101/workflows/fe23d326-ed62-4477-86b6-61432ca4c238/jobs/854690

https://app.circleci.com/pipelines/github/pytorch/vision/11099/workflows/5aaea50a-e67f-4770-9e9e-f212d39733d8/jobs/854513

cc @peterjc123 @nbcsm @guyang3532 @maxluk @gunandrose4u @mszhanyi @seemethere

[2021-10-07 12:13] datumbox commented on #4559
Thanks for raising.

Here are some thoughts:
1. Reporting slightly biased val stats during the training process is less concerning. I agree that this is concerning when we report final results.
2. We could change the batch_size to 1 similar to what we do on detection. If that slows down the epochs too much we can try doing it only when `--test-only` is passed. This way we will be able to report co

[2021-10-07 12:37] pmeier commented on #1759
No, it shouldn't. If it does, this is a bug and you might file an issue so we can investigate.

[2021-10-07 13:13] jdsgomes commented on #4508
I am inclined to add a `force_copy` flag but keep the warning in case the flag is `False`, so it is clear to the caller that the underlying array can be modified. Any thoughts?

[2021-10-07 17:29] #4245 closed

[2021-10-07 17:40] NicolasHug opened #4568 "Put back build_docs job caching"
The caching of the build_docs job was removed in https://github.com/pytorch/vision/pull/4565 in order to fix https://github.com/pytorch/vision/issues/4245

We should put the caching back, while making sure that https://github.com/pytorch/vision/issues/4245 is still fixed, i.e. that the sphinx-gallery backreferences are present in the docs.

[2021-10-07 18:06] kazhang opened #4569 "Base class for models"
### 🚀 The feature

Introduce a base class for all TorchVision models. The base class defines common interfaces and attributes.

### Motivation, pitch

We can track the model instantiation similar to [dataset instantiation](https://github.com/pytorch/vision/blob/5f0edb97b46e5bff71dc19dedef05c5396eeaea2/torchvision/datasets/vision.py#L36).
We can also define a `reset_parameters` interface to address

[2021-10-08 02:40] pluto33 opened #4572 "torchvision.datasets.MNIST with TypeError: expected np.ndarray (got numpy.ndarray)"
Is there something wrong in mnist.py or my environment?
with (torch.version) 1.7.1 (torchvision.version): 0.8.2  in a remote connection jupyter notebook, the following program doesn't work:
**code**
[code]
**the output is**
[code]
**Environment**
Collecting environment information...
PyTorch version: 1.7.1
Is debug build: False
CUDA used to build PyTorch: 10.1
ROCM used to build PyTorch: N/A

OS:

[2021-10-08 08:13] datumbox commented on #4569
I think it's a reasonable idea that will provide structure on the API of models. I assume only the main classes of the models will implement this API, not submodules like `Bottleneck` etc, right? Another thing that might worth clarifying in this RFC is how `reset_parameters` will work for models that contain backbones (such as detection and segmentation).

[2021-10-08 08:15] #4508 closed

[2021-10-08 10:51] NicolasHug commented on #4572
I think the issue is happening in the data loading part before the transforms are called, so it's probably not going to fix the issue - but it's a good point though!

@pluto33 it looks like you're using some old version of pytorch and torchvision. Could you try with the latest stable versions instaed? We have made changes to the data loading since then, so it's possible that this is a bug that has

[2021-10-08 14:16] datumbox opened #4577 "Make Dropout rates configurable on all Model Architectures"
### 🚀 The feature

Introduce an extra `dropout` parameter to all model constructors that contain a Dropout layer on the classifier:
- [x] [AlexNet](https://github.com/pytorch/vision/blob/aaee8ff1f75941dd2be82a180826a052965ce84c/torchvision/models/alexnet.py#L37-L40)
- [x] [GoogleNet](https://github.com/pytorch/vision/blob/aaee8ff1f75941dd2be82a180826a052965ce84c/torchvision/models/googlenet.py#L12

[2021-10-08 21:21] #4552 closed

[2021-10-08 22:33] vadimkantorov commented on #4569
In my opinion, if there's not much functionality that's best inherited (e.g. `reset_parameters` could even be introduced as an empty method on Modules since it's so core and frequent or just be used with duck typing), it's better to keep the inheritance as simple as possible since users are reading this code as example for their own models, so it's best to avoid making it more complex unless absol

[2021-10-10 12:25] oke-aditya opened #4582 "Add typing annotations to models/detection"
### 🚀 The feature

This is an issue to track down all the files in detection module and work up the chain.

- [ ] _utils.py
- [ ] anchor_utils.py
- [ ] backbone_utils.py
- [ ] image_list.py
- [ ] transform.py
- [ ] rpn.py
- [ ] roi_heads.py
- [ ] generalized_rcnn.py
- [ ] faster_rcnn.py
- [ ] mask_rcnn.py
- [ ] keypoint_rcnn.py
- [ ] retinanet.py
- [ ] ssd.py
- [ ] ssdlite.py

### Motivation, pitc

[2021-10-10 14:41] gungui98 opened #4584 "Weird behaviour of draw_segmentation_masks"
### 🐛 Describe the bug

from torchvision.utils import draw_segmentation_masks
import torch
import cv2
import numpy as np

image = np.ones((255, 255, 3), dtype=np.uint8)*255
mask = np.zeros((255, 255), dtype=np.bool)
mask[40:100, 20: 40] = True

image_tensor = torch.from_numpy(image)
h, w, c = image_tensor.shape
image_tensor = image_tensor.view(c, h, w)
mask_tensor = torch.from_numpy(mask)

print(i

[2021-10-11 04:56] ZJUGuoShuai commented on #4156
[PR#62139](https://github.com/pytorch/pytorch/pull/62139) just added an option `skip_validation: bool` when loading a model from GitHub. So just add `skip_validation=True` like
[code]

[2021-10-11 12:01] NicolasHug opened #4587 "Randomness in reference scripts with --test-only"
While running some experiments related to https://github.com/pytorch/vision/issues/4559, I tried the following:

[code]

[code]

I was hoping to get reproducible results across executions, i.e. always the same accuracy, but it seems like I still get a bit of variations across a few runs:

[code]

Does anyone know where this randomness might come from?

[2021-10-11 12:31] #4587 closed, assigned to nobody

[2021-10-11 12:33] NicolasHug commented on #4587
BTW looks like the actual accuracy of resnet18 is a fair bit higher than what we report on the docs: 69.494 | 88.882

[2021-10-11 14:12] fmassa opened #4589 "Add CI uniquely for torchdata prototype and remove torchdata from most CIs"
This has been brought up by @malfet

We should have CI that runs without torchdata in our nightlies, so that we can make sure that torchdata is not a required dependency.

What I would propose is to add another CI job that just for one single OS that just runs tests for the prototype folder.

cc @pmeier @seemethere @bjuncek

[2021-10-11 17:15] datumbox commented on #4548
@tvelovraf Thanks for submitting such a great bug report.

I confirm this is a bug. The issue was caused by a discrepancy on the estimations of the locations of each "layer block" of the VGG backbone. As you correctly said, we were off by 1 block.

I've sent a PR at #4590 to fix this in a BC manner.

[2021-10-11 19:18] datumbox opened #4592 "Improve the test coverage for `trainable_backbone_layers` of object detection models"
### 🚀 The feature

The `trainable_backbone_layers` parameter supported by all the Object Detection factory methods is not covered properly by unit-tests.

We should improve the coverage by testing the various permitted values of each model. One idea would be to test the number of trainable parameters for all possible values:
[code]

Unfortunately the above generates as many models as the number of

[2021-10-11 19:21] #4548 closed

[2021-10-11 22:06] kazhang commented on #4569
I agree that we should avoid unnecessary inheritance so that the implementation is more readable. I open this issue to gather generic functionalities that should be applied to all models.

**should submodules implement the `reset_parameters` method?**
I hope not, the submodules are usually constructed before the main class, even if they implement the `reset_parameters`, their initialization will b

[2021-10-12 00:51] sallysyw opened #4593 "Adding Vision Transformer to torchvision/models"
### 🚀 The feature

1. Adding ViT architecture from this paper: "[An Image is Worth 16x16 Words: Transformers for Image Recognition at Scale](https://arxiv.org/abs/2010.11929)"
2. Adding DeiT architecture from this paper: "[Training data-efficient image transformers & distillation through attention](https://arxiv.org/abs/2012.12877)"

@fmassa @datumbox @mannatsingh @kazhang

### Motivation, pitch

[2021-10-12 02:47] sallysyw commented on #4593
Interesting! I was looking at the implementation here
https://github.com/facebookresearch/deit/blob/main/models.py#L20
and found that DeiT model actually inherits the ViT model class.

Does it make sense if I also do this in torchvision?

[2021-10-12 03:49] chang4869 opened #4595 "Adding CenterNet to Torchvision/detection"
### 🚀 The feature

Add CenterNet to torchvision

### Motivation, pitch

centernet is a better one-stage object detector than SSD and it is also very practical.This anchor-free detector is currently relatively popular.

### Alternatives

_No response_

### Additional context

_No response_

[2021-10-12 04:44] oke-aditya commented on #4582
Go ahead :smile: Just remember that after #4583 is merged you would need to remove that file from `mypy.ini` configuration.

[2021-10-12 12:54] vadimkantorov commented on #4449
@NicolasHug Please consider reopening this issue in the meanwhile to not forget about this

[2021-10-12 16:38] ain-soph opened #4601 "Method to download a folder from Google Drive"
### 🚀 The feature

Currently, we have the method to download a file from google drive using its fileid, but it could not applied to a folder with its folderid.
I think we could add a method to implement this. It would be somehow more complex than downloading files, and requires `google-api-python-client` and `google-auth-oauthlib`, and also requires a credential file manually fetched from Google D

[2021-10-12 17:02] NicolasHug commented on #4559
OK, things are a bit clearer to me now.

As @fmassa's suggested (thanks!) the variance might come from the non-deterministic algorithms that are in use. I set the following:

[code]

and now I'm getting consistent results across batch-sizes. I also patched the code to figure out how many samples are effectively processed. Here are the results for different number of processes, all of them using th

[2021-10-12 21:36] gkowarzyk commented on #4329
I just [commented on this here](https://github.com/pytorch/pytorch.github.io/issues/828#issuecomment-941370876).

This has also been a problem for us.

[2021-10-12 23:20] kazhang commented on #4569
Let's close this issue for now until we find strong enough feature set to be added to a generic top-level class.

[2021-10-12 23:20] #4569 closed

[2021-10-13 08:13] mechaot opened #4607 "torch.onnx.export failes due to missing __round__ function"
### 🐛 Describe the bug

When exporting a trained CNN to onnx file format using torch.onnx.export(), an exception is thrown from torchvision/transforms/functional.py and the model is not saved.

## To Reproduce

Steps to reproduce the behavior:

1. Define a CNN-torch.Model instance similar to a VGG-Network, train it
2. Try to export the trained model to an *.onnx - file using the save_model() funct

[2021-10-13 10:44] #4577 closed, assigned to datumbox

[2021-10-13 13:02] #4559 closed, assigned to nobody

[2021-10-13 17:46] datumbox opened #4611 "Extend TorchVision's existing model builders to support multiple weights"
### 🚀 The feature

_Note: To track the progress of the project check out [this board](https://github.com/pytorch/vision/projects/2)._

The existing model builders support only single pre-trained weights.

To specify if the pretrained weights should be loaded, we pass a boolean `pretrained` parameter. Example:
https://github.com/pytorch/vision/blob/5f0edb97b46e5bff71dc19dedef05c5396eeaea2/torchvisi

[2021-10-13 17:58] prabhat00155 commented on #4392
Yes, that's correct. This includes the time taken to copy frames between gpu and system memory.

To test this, we would need to add a prototype to torchvision. pyAV doesn't support hardware accelerated decoding. I am looking at https://github.com/NVIDIA/VideoProcessingFramework, but haven't managed to successfully build it yet.

[2021-10-14 08:28] oke-aditya commented on #4560
This has occurred once again.

https://app.circleci.com/pipelines/github/pytorch/vision/11304/workflows/14a92f57-9098-4519-abbc-48b5ad8cb8b2/jobs/874287

[2021-10-14 10:19] jdsgomes commented on #4592
hey @datumbox  I can work on this one.

[2021-10-14 15:32] NicolasHug opened #4615 "WIDERFace download fails with zip error"
Originally from https://github.com/pytorch/vision/pull/4614#issuecomment-943468223

[code]

[code]

cc @pmeier

[2021-10-14 15:44] datumbox opened #4616 "test_inception_v3_eval and squeezenet1_0 segmentation fault on latest main"
### 🐛 Describe the bug

After the nightly release of the PyTorch on 20211014, the main branch of TorchVision started [failing](https://app.circleci.com/pipelines/github/pytorch/vision/11316/workflows/44e8662e-cee0-4694-a9cd-ea1f1d583dec/jobs/875547) with segmentation fault errors:
[code]

Skipping the above test, we see that more models [segment fault](https://app.circleci.com/pipelines/github/pyt

[2021-10-14 16:31] malfet commented on #4616
Likely caused by https://github.com/pytorch/pytorch/pull/66273, which is already reverted on pytorch main trunk, but still present in nightly

[2021-10-15 09:37] aoikaneko opened #4623 "ONNX export of Faster R-CNN MobileNet V3 fails in ONNX Runtime"
### 🐛 Describe the bug

Hi, I'm trying to export Faster R-CNN with MobileNet V3 backbone to ONNX, but have encountered several problems.

1. When I feed an image containing only a single object such as [this](https://farm8.staticflickr.com/7178/6859626097_3b561d69bf_z.jpg), ONNX Runtime raises the following error:
[code]

2. Feeding images with multiple objects such as [this](https://farm4.staticf

[2021-10-15 10:59] fmassa opened #4624 "Replace instances of `torch.no_grad()` with `torch.inference_mode()` in evaluation reference scripts"
Since last release of PyTorch, it now provides a new context manager / function decorator that enables faster execution than `torch.no_grad()` https://pytorch.org/docs/stable/generated/torch.inference_mode.html?highlight=inference_mode#torch.inference_mode

We should replace instances of `torch.no_grad()` in our reference scripts whenever `torch.inference_mode()` is the correct candidate (for exam

[2021-10-15 11:28] dreaquil commented on #2212
Is there a way to use StandardTransform with Compose since compose doesn't accept both input and target?

[2021-10-15 12:38] jdsgomes opened #4625 "Split _validate_trainable_layers into validator and num_of_layers selector"
We use  [`_validate_trainable_layers`](https://github.com/pytorch/vision/blob/3d7244b5280301792a6959c59154d4809ad1209a/torchvision/models/detection/backbone_utils.py#L119)  as a validator but also as a way to determine the actual number of trainable layers based on default values, pertained flag etc.

- [ ] It would be clearer to have separate checks for validation and another method to set the ac

[2021-10-15 14:26] #4616 closed

[2021-10-15 16:33] malfet commented on #4616
@NicolasHug debug build would likely be fine, as out-of-boundary element access will likely return null, especially if tests are run in isolation rather than in batch

[2021-10-16 13:53] NicoHambauer opened #4633 "Feature Request for torchvision ImageFolder using/inheriting DatasetFolder"
I came across a feature other users also demanded as may be seen in pytorch forums.
For a detailed problem Description and how to solve it see here in a discussion from users, @ptrblck and me:
https://discuss.pytorch.org/t/how-to-sample-images-belonging-to-particular-classes/43776/9

In short: Using ImageFolder, which inherits from DatasetFolder, is limiting the user to retrieve a whole dataset fr

[2021-10-16 15:56] Queuecumber commented on #2598
Did you check https://github.com/pytorch/vision/issues/4269

Summary is try the nightly and see if it's fixed

[2021-10-16 19:45] ptrblck commented on #4633
Thanks for creating the feature request and discussion here @NicoHambauer!

A quick summary from my point of view:
Filtering out specific classes can be done by e.g.
* creating a new root folder with sym links to the desired folders only
* creating a custom `Dataset` (and using the `DatasetFolder` class as its base)

Adding a the feature into `DatasetFolder` to "filter" out classes, samples, etc.

[2021-10-17 14:13] #4624 closed

[2021-10-17 19:44] oke-aditya commented on #4526
@NicolasHug I am afraid but I do not agree to deprecate `make_grid`.
I do understand that matplotlib / any other plotting library can do this job much better, cleaner and probably more beautiful too.

But here are few statistics about `make_grid`

https://github.com/search?q=torchvision.utils.make_grid&type=code

Used widely by many projects.

https://stackoverflow.com/questions/51329159/how-can-i

[2021-10-17 20:55] equaeghe opened #4634 "Always download MNIST from PyTorch mirror"
### 🐛 Describe the bug

Torchvision by default downloads MNIST [from the original server](http://yann.lecun.com/exdb/mnist/). The owner there explicitly requests

Currently, MNIST is already available on the PyTorch mirror: see https://github.com/pytorch/vision/pull/3544 and https://github.com/pytorch/vision/issues/3549. It seems that the polite thing to do is to never download from the original s

[2021-10-18 00:59] vadimkantorov commented on #3331
One more reason for models to be nn.Sequential whenever possible: https://pytorch.org/docs/stable/checkpoint.html?highlight=checkpoint_sequential#torch.utils.checkpoint.checkpoint_sequential

[2021-10-18 08:33] NicolasHug commented on #4526
This question is 3 years old and if you look at it, it's clear that the poster is confused about how `make_grid` works and what it does.

We may not deprecate `make_grid` (we almost never deprecate stuff for now anyway), but I'm still reluctant to add any new feature to it as there are better alternatives.

Torchvision's core isn't to plot stuff, and while there is value  in providing stuff that d

[2021-10-18 08:55] #4634 closed

[2021-10-18 09:57] ABD-01 commented on #4528
Yes, I can if no one's working on it.

I guess the main change involved will be here
https://github.com/pytorch/vision/blob/a75dc89abbbb233469d1dbe2ee00ee012dd70522/torchvision/utils.py#L203-L204
Just to make the variable `colors` be a list returned from [`_generate_color_palette`](https://github.com/pytorch/vision/blob/a75dc89abbbb233469d1dbe2ee00ee012dd70522/torchvision/utils.py#L303), right?

[2021-10-18 10:10] NicolasHug opened #4644 "RAFT model and training reference"
I'm opening this issue to keep track of the progress made on the [RAFT](https://github.com/princeton-vl/RAFT) implementation. Implementing RAFT is part of our H2 goals: https://github.com/pytorch/vision/issues/4187

- [x] model architecture (normal and "small" one) https://github.com/pytorch/vision/pull/5022
- [x] new datasets
  - [x] Flying Chairs https://github.com/pytorch/vision/pull/4860
  - [

[2021-10-18 10:53] oke-aditya commented on #4528
Yes and use the colors the generated from the palette in draw_bounding_boxes.

Create colors upto num_labels.

Map each label to a color. (This is automatically done)

Since labels is a list and generated color palette is also a list. Both have the same length.
(As we generated colors equal to num_labels)

Use these colors to draw boxes.

[2021-10-18 12:56] NicolasHug commented on #4634
I think this is the key bit here. If we don't have permission to put our mirror first, then there isn't much we can do.

But *if* we're allowed to, I would agree that it would be something good to consider. While we (the torchvision package) "only" downloads such datasets a few times a day, the fact that we're exposing such API will necessarily increase the number of download by a lot, just becaus

[2021-10-19 05:56] soumith opened #4648 "torchvision conda packaging fails to resolve when opencv constraint is present"
### 🐛 Describe the bug

This seems to be somewhat serious to figure out and resolve by the next release.

Here's how the bug manifests.
There's a very common scenario when someone installs `torchvision` and `opencv` within the same `conda` environment.

However, running the following command:

[code]

This results in the `torchvision` resolving as the `cpu` torchvision packge from `conda-forge`, t

[2021-10-19 10:18] jdsgomes opened #4652 "Multi pretrained weights: Cleanups and Refactoring"
Candidates:
- [x] Reduce code duplication on model builders by refactoring. For example potentially push the weigh loading mechanism in the private builder methods currently inherited from `torchvision.models`. Also we could provide a `pretrained` deprecation method.
- [x] Review recipe links and ensure they are accurate for all Community Contributed models. Check if possible for some of them to r

[2021-10-19 10:39] jdsgomes commented on #4652
Just opening the discussion here regarding the naming for `Weights` and `WeightEntry`. As This classes store metadata about weights and how they were generated (recipe + transforms) rather than the actual weights so I think we could try to find a better name.

Having said that I'm struggling to find a much better name, but want to leave some suggestions for discussion:
- PretrainedModelEnum and Pr

[2021-10-19 10:45] jdsgomes commented on #4652
Inside the `Weights` class we have a `verify` method that has some side effects depending on the input parameter. I suggest to change this to `build` or `create` it would be clear that we are trying to build an object from a string or from another object of the same type (in this case it will be an identity function). And this builder would throw an exception if the arguments were invalid.

[2021-10-19 13:33] jdsgomes opened #4654 "Missing model training details in documentation"
### 📚 The doc issue

Under [references](https://github.com/pytorch/vision/tree/main/references/classification) we are missing details of the model training setup for many of our models. The idea here is to fix that by

- [ ] Recovering the commands used to train all missing models (have a look to list them if possible)
- [ ] Add them on the references
- [ ] Update the meta-data on prototype to poi

[2021-10-19 16:09] soumith commented on #4648
I thought it was `ffmpeg`, but `dlib` doesn't have `ffmpeg` dependency.

[2021-10-19 16:26] soumith commented on #4648
this is weird, because I don't see a conflict for `numpy` here. it seems satisfiable.

[2021-10-19 16:48] malfet commented on #4648
Interestingly, changing order of operations works:
[code]

[2021-10-19 17:46] NicolasHug commented on #4107
@saswatpp just FYI I started working on this in #4657

[2021-10-19 19:05] datumbox opened #4660 "The `test_detection_model_trainable_backbone_layers` test shouldn't download the pretrained_backbone weights"
### Feature Improvement

The `test_detection_model_trainable_backbone_layers` test currently downloads the weights of the backbone:
https://github.com/pytorch/vision/blob/6530546080148cd5d9533b50a8258f12cb050c82/test/test_models.py#L786

Setting the value `pretrained_backbone=True` is necessary because the number of trainable layers depends on this value. Unfortunately downloading pre-trained weig

[2021-10-20 01:30] wlj567 commented on #302
`Traceback (most recent call last):
  File "/home/pxg/DAN/DANet/experiments/segmentation/train.py", line 282, in <module>
    trainer.training(epoch)
  File "/home/pxg/DAN/DANet/experiments/segmentation/train.py", line 214, in training
    loss = self.criterion(outputs, target)
  File "/home/pxg/DAN/venv/lib/python3.6/site-packages/torch/nn/modules/module.py", line 489, in __call__
    result = se

[2021-10-20 08:32] datumbox commented on #4660
@NicolasHug thanks for checking. Yes the weights are always added in the manifold so this won't be a problem.

The speed is not as bad on CircleCI. We checked during merge (see [here](https://app.circleci.com/pipelines/github/pytorch/vision/11363/workflows/08b7eb0b-ad87-4417-bf2d-c98c64e833ec/jobs/880044)) and only 1 test appeared on the top slowest with execution time 14-15 secs. All others execu

[2021-10-20 09:04] wlj567 commented on #302
File "/home/pxg/DAN/DANet/experiments/segmentation/train.py", line 283, in <module>
    trainer.training(epoch)
  File "/home/pxg/DAN/DANet/experiments/segmentation/train.py", line 215, in training
    loss = self.criterion(outputs, target)
  File "/home/pxg/DAN/venv/lib/python3.6/site-packages/torch/nn/modules/module.py", line 489, in __call__
    result = self.forward(*input, **kwargs)
  File "/

[2021-10-20 09:44] vadimkantorov opened #4665 "Drop torchvision 0.2.2 from conda-forge as it's often a silent indicator of major package conflicts"
### 🐛 Describe the bug

Running the following triggers install of torchvision 0.2.2.

We need a stable conda install recipes and suggestions that deal with common bugged dependencies such as OpenCV and ffmpeg given all the mess with glibc / python versions etc. At least some known working commands (even if not the latest python).

I understand that it can't be the job of pytorch maintainers to tes

[2021-10-20 10:12] vadimkantorov commented on #4665
Currently it seems that torchvision is not compatible with OpenCV conda package

[2021-10-20 10:14] datumbox commented on #4660
Unfortunately the expected values depend on `pretrained_backbone`. Basically if you pass False, then all weights should be trainable. The option of what to freeze makes sense only when we use pre-trained weights...

Yes. We can easily patch `load_state_dict_from_url` to return `None` because it's a single method of the `Weights` class. Unfortunately for `model`, it's not initialized yet to make th

[2021-10-20 10:55] NicolasHug commented on #4660
I think it should be possible to patch `load_state_dict` at the `nn.Module` level as you suggested, something like:

[code]

I haven't checked, but this shouldn't do any network call -- this can  be verified with pytest-sockets https://github.com/miketheman/pytest-socket

[2021-10-20 12:09] #4589 closed, assigned to pmeier

[2021-10-20 12:30] NicolasHug commented on #4633
I think that's mostly because these discussions predate the 0.10 release which is only a few months old, where we made the overriding of `find_classes()` publicly available.

The current docs for the ImageDataset are here: https://pytorch.org/vision/stable/datasets.html#torchvision.datasets.ImageFolder

where we say

If you think there's a more obvious way to expose this, you're welcome to submit

[2021-10-20 13:59] datumbox opened #4671 "Multi-pretrained weights: Add initial API and basic implementation"
### 🚀 The feature

Part of #4611

Add the initial API mechanism for the Multi-pretrained weights:
- The `WeightEntry` and `Weights` classes.
- The necessary preset transforms.
- The meta information needed for the models.

Moreover provide basic implementations for the following models:
- ResNet50
- FasterRCNN + ResNet50
- Quantized ResNet50

[2021-10-20 14:02] #4615 closed, assigned to pmeier

[2021-10-20 14:02] #4671 closed, assigned to nobody

[2021-10-20 14:06] datumbox opened #4672 "Multi-pretrained weights: Add model builders for Classification"
### 🚀 The feature

Update the model builders for all Classification models:
- [x] AlexNet
- [x] DenseNet
- [x] EfficientNet
- [x] GoogleNet
- [x] InceptionV3
- [x] MNASNet
- [x] MobileNetV2
- [x] MobileNetV3
- [x] RegNet
- [x] ResNet
- [x] ShuffleNetV2
- [x] SqueezeNet
- [x] VGG

cc @datumbox @vfdev-5 @pmeier @bjuncek

[2021-10-20 14:14] datumbox opened #4674 "Multi-pretrained weights: Add model builders for Quantization"
### 🚀 The feature

Update the model builders for all Quantized Classification models:
- [x] GoogleNet
- [x] InceptionV3
- [x] MobileNetV2
- [x] MobileNetV3
- [x] ResNet
- [x] ShuffleNetV2

[2021-10-20 14:17] datumbox opened #4675 "Multi-pretrained weights: Add model builders for Detection"
### 🚀 The feature

Update the model builders for all Detection models:
- [x] FasterRCNN
- [x] KeypointRCNN
- [x] MaskRCNN
- [x] RetinaNet
- [x] SSD
- [x] SSDlite

[2021-10-20 14:25] datumbox opened #4676 "Refactor Models builders to make them reusable on Prototype"
### 🚀 The feature

The current model builders are hard to reuse from the prototype area, leading to large amounts of copy-pasting. It would be good to refactor the space in a BC manner so that we can reuse as many parts as we can:
- [x] Segmentation models:
  - Update them to follow the standard convention of defining the builders on the same file as their class.
  - Make private model builders re

[2021-10-20 14:29] datumbox opened #4677 "Multi-pretrained weights: Add model builders for Segmentation"
### 🚀 The feature

Update the model builders for all Segmentation models:
- [ ] DeepLabV3
- [ ] FCN
- [ ] LRASPP

### Motivation, pitch

a

### Alternatives

_No response_

### Additional context

_No response_

[2021-10-20 14:31] datumbox opened #4678 "Multi-pretrained weights: Add model builders for Video"
### 🚀 The feature

Update the model builders for all Video models:
- [x] ResNet

[2021-10-20 14:42] datumbox opened #4679 "Move new model builders from Prototype to main TorchVision"
### 🚀 The feature

Once all model builders are updated to support multiple pretrained weights, we should replace the old builders with the new ones. This involves the following steps:
1. Replace the code on `torchvision.models` with the updates of `torchvision.prototype.models`.
2. Delete `torchvision.prototype.models` and their prototype tests.
3. Update the existing model tests (`pretrained` =>

[2021-10-21 06:31] oke-aditya commented on #3911
CIoU and DIoU have been added to Detectron2

https://github.com/facebookresearch/detectron2/blob/dfe8d368c8b7cc2be42c5c3faf9bdcc3c08257b1/detectron2/layers/losses.py#L66

[2021-10-21 10:01] NicolasHug opened #4683 "Failures of test_quantized_classification_model[resnet50]"
Looks like `test_quantized_classification_model[resnet50]` is failing in some PRs like https://app.circleci.com/pipelines/github/pytorch/vision/11583/workflows/84517aa3-fa6b-4527-8ee6-8a09ae76199f/jobs/900594

and it's also failing internally: https://www.internalfb.com/intern/tests/search?search_id=757311188293548

It looks like the failure is related to the new expected values checks introduced

[2021-10-21 10:29] NicolasHug commented on #2218
Pillow is kinda bad at reading 16bits grayscale pngs (e.g. https://github.com/python-pillow/Pillow/issues/3011), so I'm not sure this is a torchvision issue, more probably a PIL problem.

I marked this issue to be closed once https://github.com/pytorch/vision/pull/4657 is merged: from that point you'll be able to read 16 bits pngs natively in torchvision with `read_image` or `decode_png`.

[2021-10-21 10:40] le1nux opened #4685 "Fashion MNIST not creating processed directory when downloading"
### 🐛 Describe the bug

Normally, when downloading the fashion-mnist dataset, two folders are created, namely `raw` and `processed`.
In the latest torchvision version (0.10.1), only `raw` is being created and no error is being raised.

Steps to reproduce:

[code]

### Versions

I verified this issue on two  different machines.
Version 0.9.1 provides the two folders, whereas 0.10.1 does not.

[2021-10-21 10:44] #4107 closed

[2021-10-21 11:02] datumbox commented on #4683
@NicolasHug I wonder if this is because these tests are disabled already on FBcode?

@prabhat00155 could you clarify if you are looking into this already?

[2021-10-21 13:46] zpapakipos opened #4689 "`pip install torchvision` started failing"
### 🐛 Describe the bug

We have a GitHub action workflow in our library [AugLy](https://github.com/facebookresearch/AugLy/) which runs automatically when a PR is updated. This workflow suddenly started failing on the line `pip install pyre-check pytest torchvision`. See [here](https://github.com/facebookresearch/AugLy/actions/runs/1358131000) a run of the workflow which succeeded 2 days ago & [her

[2021-10-21 19:33] datumbox opened #4694 "Add the missing ArgumentParser types on Reference Scripts"
### 🚀 The feature

Quite a few arguments on the Reference Scripts are missing the `type` parameter. Most of them seem to be strings.

Examples:

https://github.com/pytorch/vision/blob/e08c9e31d1aac09caa4998220f86912f833f3179/references/classification/train.py#L379-L380

https://github.com/pytorch/vision/blob/e08c9e31d1aac09caa4998220f86912f833f3179/references/detection/train.py#L80

https://github

[2021-10-22 07:10] WZMIAOMIAO opened #4719 "Add some network structure diagrams"
### 🚀 The feature

 Add some network structure diagrams in torchvision repository. I want to contribute some drawn diagrams.

### Motivation, pitch

In order to facilitate everyone to learn the model in the torchvison.

### Alternatives

_No response_

### Additional context

I draw the structure diagram of FCN network, reference [torchvision official FCN model](https://github.com/pytorch/vision/b

[2021-10-22 09:12] github-actions opened #4720 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow tests/download.
Please look into it:

https://github.com/pytorch/vision/actions/runs/1371494567

Feel free to close this if this was just a one-off error.

cc @pmeier

[2021-10-22 20:57] ankitpatnala opened #4727 "Performance problem for custom transformation"
### 🐛 Describe the bug

I wanted to add new transformation to my stochastic transformation pipeline. I am getting a serious bottleneck. Suddenly per epoch time changed for me from 3-4 min to around 13 mins . Below is the image of transformation code snippet.
![image](https://user-images.githubusercontent.com/26856470/138482343-d2fdc29a-4063-42a0-8517-f213e7b4b85c.png)

When i tried to do CPU profi

[2021-10-23 18:03] AndreasKaratzas opened #4728 "Square root in aspect ratio for anchor generator computation."
I have a question regarding this line:

https://github.com/pytorch/vision/blob/b37c8a3ca4c9c626cdac763c6be697231665b0f8/torchvision/models/detection/anchor_utils.py#L69

Why are the `aspect_ratios` rooted with `torch.sqrt()` and not directly used to compute `h_ratios`?

[2021-10-23 20:21] epwalsh opened #4729 "Torch ops unable to load "image.so""
### 🐛 Describe the bug

Torch ops unable to load "image.so".

I'm able to reproduce this within the following Docker image:

[code]

Build and run with:

[code]

This prints out:

[code]

### Versions

Collecting environment information...
PyTorch version: 1.10.0+cu113
Is debug build: False
CUDA used to build PyTorch: 11.3
ROCM used to build PyTorch: N/A

OS: Ubuntu 20.04.3 LTS (x86_64)
GCC versio

[2021-10-24 11:40] #4728 closed, assigned to nobody

[2021-10-25 08:57] #4727 closed, assigned to nobody

[2021-10-25 09:30] NicolasHug opened #4730 "Reduce variance of model evaluation in references"
There can be a bit of variance in the model evaluation, due to different things (see https://github.com/pytorch/vision/issues/4559, although the timeline can be a bit confusing to follow because I was relying on incorrect assumptions).

We addressed it in https://github.com/pytorch/vision/pull/4609 for the classification reference. We should try doing the same for the rest of the references (detec

[2021-10-25 10:21] NicolasHug opened #4731 "16 bits png support and compatibility with current transforms"
We added support for decoding 16 bit pngs in https://github.com/pytorch/vision/pull/4657.

Pytorch doesn't support `uint16` dtype, so we have to return a `int32` tenor instead. However as @nairbv pointed out, this can lead to unexpected behaviour for the [`convert_image_dtype()`](https://github.com/pytorch/vision/blob/main/torchvision/transforms/functional_tensor.py#L58:L58), because this function

[2021-10-25 13:30] drdebmath opened #4738 "torchvision.io.read_image() fails to read image"
### 🐛 Describe the bug

[code]

This minimal example does not work. I have tried many different versions of torch with different versions of python.
It was working previously, and now it fails after doing the update.

Some of the errors that I got are:
RuntimeError: No such operator image::read_file

I also tried the same in python3.7.11 and torchvision 0.8
and got RuntimeError: Non RGB images are

[2021-10-25 14:13] #4738 closed, assigned to nobody

[2021-10-25 18:18] Gladiator07 opened #4741 "Tutorial colab notebook missing for Torchvision Object Detection Finetuning tutorial"
### 📚 The doc issue

Colab notebook of tutorial : [Torchvision Object Detection Finetuning tutorial](https://pytorch.org/tutorials/intermediate/torchvision_tutorial.html) is missing

![image](https://user-images.githubusercontent.com/52319020/138748405-4a6cf285-9cf5-4eff-b397-0defe9d3cc2e.png)

### Suggest a potential alternative/fix

_No response_

[2021-10-26 05:02] npmhung opened #4745 "Inconsistent representation of box in torchvision.ops"
### Feature suggestion

When checking the how the new operations in the torchvision 0.11 work, I found an inconsistency between different function.

[code]

### Suggest a potential alternative/fix

This is not actually an error but could cause confusion.

I suggest to make the box representations between different function more consistent.

[2021-10-26 09:08] WZMIAOMIAO opened #4748 "Changing dilation rate can improve mean IoU for fcn_resnet."
### 🚀 The feature

- First Step
I change the code:
https://github.com/pytorch/vision/blob/main/torchvision/models/resnet.py#L223-L262
to
[code]
only change conv2d dilation rate.

- Second Step
I trained fcn_resnet50 that come from [pytorch official model](https://github.com/pytorch/vision/blob/main/torchvision/models/segmentation/fcn.py) on PASCAL VOC2012 and only load resnet50 pretrain weights. T

[2021-10-26 11:08] e-dorigatti opened #4749 "GeneralizedRCNN - Return detections in training mode"
Currently the forward method returns only losses in training mode and only detections in eval mode. It would be useful to always return both regardless of the mode:

 1. Losses in eval mode are useful to detect overfitting
 2. Detections in training mode are useful to extend the model to perform additional learning tasks

## Connection to other issues
The two issues #1574 and #1775 mention returni

[2021-10-26 11:48] #4749 closed, assigned to nobody

[2021-10-26 15:05] rvandeghen opened #4753 "create_feature_extractor does not track 'if' in forward"
### 🐛 Describe the bug

It looks like `create_feature_extractor` does not track `if` statement in `forward`, for example with the `efficientnet` architecture:

[code]

Is the `StochasticDepth` layer implemented but hidden in the `backbone` or is it missing (due to the `if`) ?

### Versions

Collecting environment information...
PyTorch version: 1.10.0
Is debug build: False
CUDA used to build PyTor

[2021-10-26 15:39] mattip opened #4754 "Somehow, tagging a release is creating "main" docs"
### 📚 The doc issue

In #4687 I needed to change all the page's title and version. It seems tagging the version builds and uploads the docs to the `gh-pages` branch properly, but somehow the tag is not propagated into the doc build.

Also the last tag pushed generated `docs/0.11.` (with a '.' at the end) due to #4693. So that "proves" that the `CIRCLECI_TAG` is properly read in the CI, but somethi

[2021-10-26 18:11] #4729 closed, assigned to nobody

[2021-10-27 12:28] fmassa opened #4760 "Replace `pathlib.Path` with raw strings in `prototype.datasets`"
### 🐛 Describe the bug

We currently use `pathlib.Path` everywhere in the new datasets.
`pathlib.Path` is nice, but doesn't work well at all with URL-like paths. Indeed, it replaces `//` with `/`, so that `http://www` becomes an invalid url `http:/www`.

We should either remove `pathlib.Path` altogether and depend on raw strings, using `os.path.join` (which works without issues), or figure out a w

[2021-10-27 16:13] lfangyu09 opened #4768 "Usage of Efficientnet"
### 📚 The doc issue

Hi,

I saw the website has updated the usage of Efficientnet. But after I updated torchvision, it still shows "module 'torchvision.models' has no attribute 'efficientnet_b0'". How can I use model.efficientnet_b0? Thanks

### Suggest a potential alternative/fix

_No response_

[2021-10-27 16:29] #4741 closed, assigned to nobody

[2021-10-28 03:42] smeet2804 opened #4771 "Makefile not found while installing torchvision c++."
Not able to run `make` command after `cmake ..`. It gives **make: *** No targets specified and no makefile found.  Stop.**.

The output of `cmake ..
` (2nd time run) was
[code]
I tried it on Windows 10 through anaconda prompt.

[2021-10-28 04:21] #4768 closed, assigned to nobody

[2021-10-28 07:57] #4720 closed, assigned to nobody

[2021-10-28 09:47] vadimkantorov opened #4773 "voc.py to report the directory it tried in the error message"
### 🐛 Describe the bug

https://github.com/pytorch/vision/blob/main/torchvision/datasets/voc.py#L113:
[code]

I propose the error message should report `voc_root` as well, it will help debugging wrongly passed dataaset root dirs.

### Versions

N/A

[2021-10-28 10:14] vadimkantorov opened #4774 "[docs] CocoDetection, VOCDetection should specify format of targets"
### 🐛 Describe the bug

And be very clear on the format of bounding boxes: xywh, are x/y zero-based or not and if width do/not include the final pixel

Complications about this are described in:
- https://ppwwyyxx.com/blog/2021/Where-are-Pixels/#Choices-of-Sampling-Grid
- https://bartwronski.com/2021/02/15/bilinear-down-upsampling-pixel-grids-and-that-half-pixel-offset/

COCO seems to have floatin

[2021-10-28 12:48] #4678 closed, assigned to nobody

[2021-10-28 13:26] datumbox opened #4777 "The symbolic tracer of `feature_extraction` should consider all `torchvision.ops` as leaf nodes"
### 🚀 The feature

The `create_feature_extractor` method should by default pass as `leaf_modules` all `torchvision.ops` layers.

https://github.com/pytorch/vision/blob/d367a01a18a3ae6bee13d8be3b63fd6a581ea46f/torchvision/models/feature_extraction.py#L394-L396

### Motivation, pitch

Currently the FX tracers consider all `torch.nn` layers leaf nodes. By doing the same for torchvision we will align

[2021-10-28 15:44] fmassa opened #4780 "`find` is not exposed in `torchvision.prototype.datasets`"
Pretty easy to do, we should expose `find` in https://github.com/pytorch/vision/blob/c786d1244e6ece181c7d1ddf58134de2f4175bc4/torchvision/prototype/datasets/__init__.py#L14

cc @pmeier @bjuncek

[2021-10-28 19:50] IamExperimenting opened #4785 "dataset format missing in readme.md in torchvision detection"
### 📚 The doc issue

Hi Team,

Thanks for the detection example. Would you be able to provide a sample input dataset format as an example for the following repo https://github.com/pytorch/vision/tree/main/references/detection.

Thanks in advance :)

### Suggest a potential alternative/fix

example input sample to the detection python script is required to understand.

[2021-10-29 05:36] malfet opened #4787 "Automated testing discovered that `image::read_png` sometimes can not be initialized on Windows"
### 🐛 Describe the bug

See https://github.com/pytorch/pytorch.github.io/runs/4042987825?check_suite_focus=true
Several Windows configuration tests of torchvision failed with `No such operator image::decode_png`

### Versions

0.11.1

cc @peterjc123 @nbcsm @guyang3532 @maxluk @gunandrose4u @mszhanyi

[2021-10-29 08:48] #4780 closed, assigned to fmassa

[2021-10-29 11:42] vadimkantorov opened #4794 "Let's avoid *.pth extension at least for newer models"
### 🐛 Describe the bug

pth is a special extension for Python related to module search paths

https://github.com/pytorch/pytorch/issues/14864

### Versions

N/A

[2021-10-29 11:50] vadimkantorov opened #4795 "[docs] Pretrained model docs should explain how to specify cache dir and norm_layer"
### 🐛 Describe the bug

https://pytorch.org/vision/stable/models.html?highlight=resnet18#torchvision.models.resnet18

should document:
- how to set cache dir for downloaded models. many university systems have tight quota for home dir that prohibits clogging it with weights. it is explained at the very top of very long document (`TORCH_MODEL_ZOO`) but it would be nice to duplicate it / link to thi

[2021-10-29 18:07] malfet commented on #4787
I've already checked that libjpeg and libpng dlls are included both in variant of the package that succeeded and failed the test:
[code]

[2021-10-29 18:12] fmassa commented on #4787
@andfoy can you try
[code]

and see the error message?

[2021-10-29 21:17] NicolasHug commented on #4795
That's actually outdated, it should be `TORCH_HOME`.

as usual, PR welcome @vadimkantorov :)

[2021-10-30 07:09] wlj567 commented on #302
loss = self.criterion(outputs.logits, target)
AttributeError: 'tuple' object has no attribute 'logits'

Do I modify or report an error according to this method

[2021-10-30 07:22] wlj567 commented on #302
preds, target = tuple(inputs)
        inputs = tuple(list(preds) + [target])
        if not self.se_loss and not self.aux:
            return super(SegmentationLosses, self).forward(*inputs)
        elif not self.se_loss:
            pred1, pred2, target = tuple(inputs)
            loss1 = super(SegmentationLosses, self).forward(pred1, target)
            loss2 = super(SegmentationLosses, self).fo

[2021-10-30 07:31] wlj567 commented on #302
Traceback (most recent call last):
  File "/home/pxg/DAN/DANet/experiments/segmentation/train.py", line 293, in <module>
    trainer.training(epoch)
  File "/home/pxg/DAN/DANet/experiments/segmentation/train.py", line 224, in training
    loss = self.criterion(outputs, target)
  File "/home/pxg/DAN/venv/lib/python3.6/site-packages/torch/nn/modules/module.py", line 493, in __call__
    result = sel

[2021-10-30 12:18] vadimkantorov opened #4801 "Can ResNet18 / BasicBlock support replace_stride_with_dilation = [False, False, True]?"
### 🐛 Describe the bug

Currently, it doesn't work because of https://github.com/pytorch/vision/blob/main/torchvision/models/resnet.py#L77

But I guess, one could just dilate conv1? (just like conv2 is dilated in Bottleneck)

e.g. this is how it's done in [ResNet-WS](https://proceedings.neurips.cc/paper/2020/hash/4e0928de075538c593fbdabb0c5ef2c3-Abstract.html): https://github.com/shenyunhang/UWSOD

[2021-10-30 12:45] IamExperimenting opened #4802 "How to monitor and when to retrain the object detection model in production?"
I recently moved regression model to production and I’m monitoring the model drift and data drift using statistical tests, based on their distributions i retrain the model.

Could you please tell me how to monitoring the object detection model and detect drifts ?

Do you use statistical test to detect drifts? If yes, how do you do that? And which value you as an input to detect?

Please guide me?

[2021-10-30 15:22] mathmanu commented on #2655
Converting an existing model to a lite model seems to be pretty easy. Once the model is created, just search through the model and replace torchvision.ops.misc.SqueezeExcitation with torch.nn.Identity. In addition if we want to replace ReLU6 with ReLU that's also easy by the same method.

It should it should be possible to create a utility function to transform any given model to a "lite" model.

[2021-10-30 17:19] oke-aditya commented on #4802
Can you have a look at [Torchdrift](https://torchdrift.org/)?

[2021-10-30 18:28] Nathberrebi26 opened #4803 "Not possible to torch.jit.trace a faster r cnn caused by : double device found"
### 🐛 Describe the bug

Hi I tried to run this code on google collab and got an error. I don’t understand why this error occurs while I just downloaded a faster r cnn model and called the torh.jit.trace function.

[code]

I got this error :

[code]

### Versions

--2021-10-30 18:27:45--  https://raw.githubusercontent.com/pytorch/pytorch/master/torch/utils/collect_env.py
Resolving raw.githubusercon

[2021-10-30 19:10] jopo666 opened #4804 "InterpolationMode "bicubic" produces values outside of [0, 255] with float tensors."
### 🐛 Describe the bug

So yea as the title says "bicubic" doesn't work as it should if the passed tensor values are floats.

This might happen for example if the user converts their `numpy.ndarray` image to `torch.Tensor` with the functional transform `to_tensor`.

### Here's how to reproduce:

[code]
[code]
[code]
[code]

### How it should work.

Either an error should be raised if the type isn'

[2021-10-30 23:49] IamExperimenting commented on #4802
Can we monitor the object detection model drift using torchdrift?

If yes, which value we should use?

I did a transition from tensorflow to PyTorch and I'm finding bit challenging to get the relevant articles.

[2021-10-31 10:21] datumbox commented on #2655
@mathmanu If you were do something like that, you will have to retrain from scratch. You might be able to get away with a `ReLU6` to `ReLU` conversion with minimal accuracy loss but can't say it's going to be the same for the rest.

Personally I think such model surgeries are best served by writing custom code which meets your exact needs and utilizing PyTorch FX's [replace_pattern](https://pytorc

[2021-10-31 11:50] jopo666 opened #4805 "AutoAugment augmentation space goes over uint8 range."
### 🐛 Describe the bug

Simple error with a simple fix.

https://github.com/pytorch/vision/blob/48ebc0bbdb12089eca557d52a8db7b0674b23486/torchvision/transforms/autoaugment.py#L226

256 is cannot be represented as an `uint8` and the range should start at 255.

## How to reproduce.
[code]
[code]

### Versions

Collecting environment information...
PyTorch version: 1.10.0+cu113
Is debug build: False

[2021-10-31 12:16] vfdev-5 commented on #4804
@jopo666 it is expected result for float dtype. For example, opencv gives the same result:
[code]

Am I missing something ?

[2021-10-31 13:12] oke-aditya commented on #4802
Sorry @IamExperimenting I don't know if it can be applied to object detection. My intuition is that it should be feasible.

Can you ask the maintainers of torchdrift over GitHub https://github.com/TorchDrift/TorchDrift

[2021-10-31 14:12] vadimkantorov commented on #2552
My response to motivation would just be to simplify user code, since confidence thresholding is semi-ubiquitous, but keeping it outside isn't too bad either. Another frequent post-processing is total maximum number of detections per image.

One useful thing would be to have a true batch mode: e.g. batch across images, not only across categories. Yes, there is problem on NMS returning index, but ma

[2021-10-31 14:21] jopo666 commented on #4804
Ahh I had a typo in my cv2.resize function... Maybe there should be a warning if the passed image(s) aren't uint8?

[2021-10-31 14:33] NicolasHug commented on #4802
This :)

Sorry, this is a question that's not directly related to torchvision, the  https://discuss.pytorch.org/ is the preferred channel for that

[2021-10-31 14:33] #4802 closed

[2021-10-31 16:12] vfdev-5 commented on #4804
@jopo666 I think it is still valid to pass float images to resize with bicubic mode.

[2021-11-01 03:50] ngam commented on #4738
@NicolasHug

No you don't, the latest available torchvision for M1 from -c pytorch is 0.2.2. I have filed an issue for this same problem in conda-forge repo (see https://github.com/conda-forge/torchvision-feedstock/issues/32). Interestingly, one will get this error when using the latest NVIDIA pytorch container because... well... it relies on the conda-forge packages!

[2021-11-01 04:10] h-vetinari commented on #4738
This looks like a reappearance of https://github.com/pytorch/vision/issues/4181

[2021-11-01 08:17] Chimchar009 opened #4809 "cant setup"
/home/hw/Downloads/torchvision/torchvision/csrc/ops/cuda/deform_conv2d_kernel.cu:73:10: fatal error: ATen/cuda/Atomic.cuh: No such file or directory
 #include <ATen/cuda/Atomic.cuh>
          ^~~~~~~~~~~~~~~~~~~~~~
this occurs at the end after waiting for a long period of time it closes and fail saying that this is done a jetson xavier nx

[2021-11-01 09:44] datumbox commented on #4803
The FasterRCNN models are not JIT traceable but they are scriptable.

[2021-11-01 12:49] datumbox commented on #4660
Example of [flakiness](https://app.circleci.com/pipelines/github/pytorch/vision/12092/workflows/546b947f-09fe-4ff5-ae3c-5116395fda0f/jobs/948738) caused by downloading the weights.

[2021-11-01 13:43] nateanl opened #4814 "Source code not found on torchvision documentation page."
### 📚 The doc issue

When I click the ``[Source]`` link of the [ImageNet](https://pytorch.org/vision/stable/datasets.html#imagenet) dataset, the webpage shows ``404 File not found``.

![image](https://user-images.githubusercontent.com/8653221/139680634-5f92db6d-e2ad-4aa9-b7e8-22edaca2246f.png)
I checked the link for other methods, such as ``torchvision.io``. It seems all links are not valid.

cc @

[2021-11-01 13:56] NicolasHug commented on #4814
Thanks for the report @nateanl

 Comparing https://github.com/pytorch/vision/tree/gh-pages/0.11/_modules and https://github.com/pytorch/vision/tree/gh-pages/0.10/_modules, it looks like an entire folder is missing

@mattip Do you know what could have gone wrong here?

[2021-11-01 15:18] vadimkantorov opened #4815 "[docs] box_convert seems to support batch-less mode as well, but this is not documented"
### 🐛 Describe the bug

It seems that box_convert does support Tensor[4] arguments as well, but this is not documented. This is a useful mode to support, so would be nice if this was documented

### Versions

N/A

[2021-11-01 15:21] vadimkantorov commented on #4814
Related: https://github.com/pytorch/pytorch/issues/67237

[2021-11-01 15:32] vadimkantorov opened #4816 "[docs] torchvision.ops.roi_pool doesn't mention dtype of boxes tensor"
### 🐛 Describe the bug

Is it integer, some specific integer type or float32? Again, this is related to bbox formats / coordinate frames

Same problem for roi_align

### Versions

N/A

[2021-11-01 15:41] datumbox commented on #4815
@vadimkantorov Thanks, a PR is welcome.

[2021-11-01 15:41] mattip commented on #4814
Not sure. It is only in the `0.11` directory, in `main` (run nightly) the subdirectory exists. I will make a PR to restore them, although I really don't understand how this happened.

[2021-11-01 15:46] mattip commented on #3997
Docs are now being built. There are still some quirks: see #4754

[2021-11-01 15:46] #3997 closed

[2021-11-01 16:13] mattip commented on #4754
Here is what is going on:

## pytorch

1. circleci uses [a script `python_doc_push_script.sh`](https://github.com/pytorch/pytorch/blob/39ad7b670ec7e456fc14da453229905d1a472dab/.circleci/config.yml#L1150) with two arguments. The second is either `main` or a tag like `v1.11.0`.
2. [Inside the script](https://github.com/pytorch/pytorch/blob/39ad7b670ec7e456fc14da453229905d1a472dab/.circleci/scripts/p

[2021-11-01 16:20] oke-aditya commented on #4815
Yep, it is supported :smiley:
Just a note that other ops such as `box_area`, `box_iou`, etc don't support the same.
I'm not sure if this functionality should be extended.

[2021-11-01 16:37] andfoy commented on #4787
I tried to reproduce it locally on my Windows machine, but without success. I installed everything from the pytorch-stable url, just like the CIs did. The only guess is that the path collection used by `LoadLibrary` is being modified somehow that those DLLs are not being picked up?

![imagen](https://user-images.githubusercontent.com/1878982/139707196-34457542-f7be-4865-b26c-d9fce4b6ce1f.png)

[2021-11-01 16:48] datumbox opened #4818 "Verify the threshold input for `solarize()` and add a test"
### 🚀 The feature

The `solarize()` method receives a `threshold` which is currently not asserted based on the image type:
https://github.com/pytorch/vision/blob/d367a01a18a3ae6bee13d8be3b63fd6a581ea46f/torchvision/transforms/functional_tensor.py#L876-L886

Ideally we should assert it. It's upper bound depends on the image type (1.0 for float and 255 for uint8) similar to:
https://github.com/pytor

[2021-11-01 17:05] Giounona opened #4819 "installation dependencies"
### 🚀 The feature

pip install  torchvision==0.8.2+cu101  requires torch==1.7.1 to be installed instead of torch==1.7.1+cu101

this causes poetry package manager crushing during the installation.

Updating dependencies
Resolving dependencies... (1720.5s)

  SolverProblemError

  Because torchvision (0.8.2+cu101) depends on torch (1.7.1)
   and <myenv> depends on torch (1.7.1+cu101), torchvision is

[2021-11-01 17:20] mattip commented on #4814
The problem is [this `torchvision/` directive](https://github.com/pytorch/vision/blob/f1e783e9a29a27507735a723a06ee205c1cf5c32/.gitignore#L7) in the .gitignore file on the gh-pages branch.

[2021-11-01 17:23] #4805 closed

[2021-11-01 18:12] #4672 closed

[2021-11-01 20:39] mattip commented on #4814
When I try to rebuild the 0.11.0 docs, I get this sphinx error and docs are not created. Is that known?
[code]

[2021-11-01 22:42] malfet commented on #4738
@NicolasHug we don't build publish M1 binaries to conda, although we probably should

[2021-11-01 23:42] prabhat00155 commented on #4392
Video decoding benchmarking results using ffmpeg APIs(for CPU decoding) and NVDECODE APIs(for GPU decoding). Please note that the total time includes the time to save the output. This would add extra copy time on GPUs from cuda memory to system memory.
[code]

[2021-11-02 03:30] puhuk commented on #4818
Can I take this

[2021-11-02 05:18] mszhanyi commented on #4787
Interesting!
Py3.8 + cu113 works. I verified it locally
https://github.com/pytorch/pytorch.github.io/runs/4042987908?check_suite_focus=true

[2021-11-02 06:00] pmeier commented on #4818
@puhuk Sure, go ahead! Ping me or @datumbox on the PR for review.

[2021-11-02 06:08] mattip commented on #4814
Nvrmind, I had cruft from a levtover build in my `docs/source` directory

[2021-11-02 06:45] mszhanyi commented on #4787
@andfoy it could be reproduced in windows CPU machine with cudatoolkit installed.
If your  windows machine has GPUs, you might set CUDA_VISIBLE_DEVICES="" or disable it in device manager.

[2021-11-02 09:10] #4804 closed

[2021-11-02 09:11] github-actions[bot] opened #4826 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow tests/download.
Please look into it:

https://github.com/pytorch/vision/actions/runs/1411523633

Feel free to close this if this was just a one-off error.

cc @pmeier

[2021-11-02 10:45] mszhanyi commented on #4560
@prabhat00155 @oke-aditya It has been fixed by #4788
If you came across again, please feel free to reopen it.

[2021-11-02 10:45] #4560 closed

[2021-11-02 11:00] vp211991 commented on #2066
Hi @masamitsu-murase,

Thanks for the contribution. I do not see the repository. Is the link broken?

Thanks

[2021-11-02 11:36] Fkawala opened #4828 "RoIAlign segfaults when ROIS is a "big enough" tensor of shape (K, 5)"
## 🐛 Bug
Applying `RoIAlign` (torchvision.ops.RoIAlign) on `rois` that is a tensor of shape (K, 5) results in a segfault : `Process finished with exit code 139 (interrupted by signal 11: SIGSEGV)`.

The faulty behavior is **not** observed when :

* Applying `RoIAlign` on `rois` that is a list of tensor of shape (4,)
* `RoIAlign` input size is small enough (typically <= 32,10,10)

## To Reproduce

[2021-11-02 12:54] harishsdev opened #4829 "FashionMNIST Download issue"
## 🐛 Bug

Unable to download MNIST Dataset as per pytorch Documentation

https://pytorch.org/tutorials/beginner/basics/quickstart_tutorial.html

## To Reproduce

import torch
from torch import nn
from torch.utils.data import DataLoader
from torchvision import datasets
from torchvision.transforms import ToTensor, Lambda, Compose
import matplotlib.pyplot as plt

training_data = datasets.FashionMNIST

[2021-11-02 12:58] pmeier commented on #4829
Hey @harishsdev, I'm unable to reproduce this locally. Our download tests also succeeded today. Maybe it was just a fluke? Could you retry if it works for you now?

[2021-11-02 13:02] brianjo commented on #4829
@harishsdev Running this on colab seems to succeed without issues. Is this the same for you?

https://colab.research.google.com/github/pytorch/tutorials/blob/gh-pages/_downloads/c30c1dcf2bc20119bcda7e734ce0eb42/quickstart_tutorial.ipynb.

If it is, I would suspect a local issue.

[2021-11-02 13:43] #4694 closed

[2021-11-02 13:49] datumbox commented on #4438
I'm removing the "good first issue" tag because I think there isn't such a scheduler on Core and more thorough investigation would be needed to resolve. Perhaps coordinating with Core to add it is worth it but that's not a great Bootcamp task.

[2021-11-02 14:11] datumbox opened #4832 "Build_docs job broken on main branch"
### 🐛 Describe the bug

The build_docs job [fails](https://app.circleci.com/pipelines/github/pytorch/vision/12149/workflows/ca55b7ea-05b1-41c1-942f-0fbfbae6c0b8/jobs/953861) on the latest main branch with:
[code]

cc @seemethere @NicolasHug @mattip

### Versions

Latest master d24ef4c

[2021-11-02 14:15] NicolasHug commented on #4832
The ` pip install -e git+git://github.com/pytorch/pytorch_sphinx_theme.git#egg=pytorch_sphinx_theme` command also fails locally for me, and it also affects torchaudio (https://app.circleci.com/pipelines/github/pytorch/audio/8154/workflows/8e221b01-4151-4f20-a6b5-6959e88143ef/jobs/413992) and possibly every other libs that rely on the theme (CC @mthrok )

@brianjo do you know if something changed i

[2021-11-02 14:27] brianjo commented on #4832
Looking into this, replacing git with https: seems to fix the issue on my machine. I'm not sure if this is a new github thing.

[code]

[2021-11-02 15:16] brianjo commented on #4754
Looks like the text model is the best option. @malfet Nikita, what do you think?

[2021-11-02 15:18] NicolasHug commented on #4832
Closed by https://github.com/pytorch/vision/pull/4833

[2021-11-02 15:18] #4832 closed

[2021-11-02 15:40] vadimkantorov opened #4834 "[feature request] Batched scale boxes given original reference image size and target image size"
### 🐛 Describe the bug

This is a frequently needed utility to bring back computed detections to a common / original coordinate frame.

### Versions

N/A

[2021-11-02 16:51] nateanl commented on #4814
Resolved by #4825. Thanks @mattip for working on this!

[2021-11-02 16:51] #4814 closed

[2021-11-02 16:53] datumbox commented on #4834
@vadimkantorov we appreciate for proposal.

Could you please resubmit it as a "feature request" as opposed to "bug"? Our Github forms adapt to the type of issue you submit and this one is currently missing the necessary fields that help us triage the request. Please try to include as much information as possible to make the feature request self-explanatory. This can help other open-source contribu

[2021-11-02 16:53] #4834 closed

[2021-11-02 17:02] vadimkantorov opened #4835 "Batched box scale"
### 🚀 The feature

Frequent utility in postprocessing box detections:
[code]

### Motivation, pitch

This is a frequently needed utility to bring back computed detections to a common / original coordinate frame.

cc @vfdev-5 @datumbox

[2021-11-02 17:23] fmassa commented on #4835
Hi @vadimkantorov

This is planned with the revamp of the transforms. The RFC is in https://github.com/pmeier/torchvision-datasets-rework/pull/1 , and we are starting to integrate it in https://github.com/pytorch/vision/pull/4721

Let us know what you think about it

[2021-11-02 17:40] vadimkantorov commented on #4835
What do you mean by transforms? For me, this kind of utilities have nothing to do with augmentations. Probably, I misunderstand the term

[2021-11-02 17:43] prabhat00155 commented on #4392
The following table does not include the time to save the decoding output.
[code]

[2021-11-02 19:19] andfoy commented on #4787
@mszhanyi, was this mixing conda and pip installations?

[2021-11-02 19:24] andfoy commented on #4787
![imagen](https://user-images.githubusercontent.com/1878982/139932574-28b5e727-006a-45d4-a178-8f64fd0c44e1.png)

This was installing PyTorch (CPU) and Torchvision stable using pip:

[code]

[2021-11-02 23:05] mszhanyi commented on #4787
Yes, I reproduced in a conda environment

[2021-11-02 23:08] mszhanyi commented on #4787
@andfoy , You installed a nightly version.
stable version installing command is
`pip install torch torchvision torchaudio`

try installing a cuda version
`pip install torch==1.10.0+cu102 torchvision==0.11.1+cu102 torchaudio===0.10.0+cu102 -f https://download.pytorch.org/whl/cu102/torch_stable.html`

[2021-11-03 02:07] datumbox opened #4839 "Assertion error during kinetics400 validation"
### 🐛 Describe the bug

Running on main:
[code]
throws the following error:
[code]

If we apply the following patch:
[code]

We get an accuracy which is far from the [expected](https://github.com/pytorch/vision/blob/main/docs/source/models.rst#video-classification) one:
[code]

Questions:
- Is this the right dataset for validating the `r2plus1d_18` model?
  - Possibly not, we might have used anoth

[2021-11-03 10:11] mszhanyi commented on #4787
@malfet @fmassa
I think I might find the root cause.
In python3.7, we have to run `conda install libpng`. But it looks  `conda install libpng` isn't necessary in Py38 or Py39 environment.

So far, I couldn't login GHA machine.  I've verified locally and circle machine.
@malfet , could you ssh in it and run 'conda install libpng' to verify it.

@andfoy , could you try to uninstall libpng in you pyt

[2021-11-03 10:21] vadimkantorov commented on #4415
One other util from detectron2 - paste_masks_in_images

[2021-11-03 10:26] fmassa commented on #4839
Thanks for spotting this @datumbox !

To answer your questions:
- yes, this is the right dataset
- This assertion always existed, but this error comes from a bug introduced in https://github.com/pytorch/vision/pull/3791. Using `sec` introduces rounding errors and we end up in some cases with one less frame. I've flagged this in https://github.com/pytorch/vision/issues/4112#issuecomment-867747637 b

[2021-11-03 10:34] oke-aditya commented on #4415
This is already present in torchvision in roi_heads.py

https://github.com/pytorch/vision/blob/main/torchvision/models/detection/roi_heads.py#L401

[2021-11-03 10:46] datumbox commented on #4839
Thanks for the reply Francisco. Given that our reference is basically broken, I bumped the priority.

An alternative that could buy us time is to submit a **temporary patch** to remove the assertion until this is properly investigated and fixed. I'm not particularly fond of this, but it might be worth considering if the actual fix is complex and requires time. I'll leave @prabhat00155 and @bjuncek

[2021-11-03 12:01] malfet commented on #4787
@mszhanyi there are no conda environment when this experiment is run on GHA Windows instances. But why installing lipng is necessary only when python-3.7 or cuda-10.2 is used, as it is bundled with all versions of torchvision?

@andfoy and why do we bundle those libraries as dynamic dependencies instead of compiling them in?

[2021-11-03 12:03] malfet commented on #4787
@andfoy how did you install your python runtime? Via conda or downloaded from Python.org?

[2021-11-03 14:24] mszhanyi commented on #4787
@malfet
For cu102, I think it should be an known issue.
https://github.com/pytorch/vision/pull/4421#issuecomment-926021032

That's why I upgraded the unittest cuda version to 11.1

[2021-11-03 14:58] fmassa commented on #4787
Hi @mszhanyi

This is weird. `libpng` is a dependency for torchvision, so if it's not needed for Py38 or Py39 this means that it was transitively installed by some other dependency (maybe PIL?)

[2021-11-03 15:03] andfoy commented on #4787
It was easier when packaging the wheels, but statically compiling it into the image extension should fix these kind of issues indeed. However, OpenCV and other libraries also opt to dynamically link to libpng and other libraries.

[2021-11-03 15:05] andfoy commented on #4787
The local tests were done creating a Python 3.7 enviroment on conda, but everything installed from pip

[2021-11-03 16:17] gao-1988 commented on #4748
牛逼

[2021-11-03 17:03] vadimkantorov opened #4851 "Check if fused Relu|LeakyRelu + Dropout works and provide recipes / tutorial"
### 🚀 The feature

If it works, check it speed and memory usage compared to just inplace relu + outplace dropout

https://github.com/pytorch/pytorch/issues/30801

Manual version is at https://gist.github.com/vadimkantorov/360ece06de4fd2641fa9ed1085f76d48, but it allocates 1 float copy of input + 2 boolean masks. It would be nice to eliminate these allocations by fusion

### Motivation, pitch

N/A

[2021-11-03 17:13] vadimkantorov commented on #4851
In addition to fusion and being inplace, it theoretically can be made non-allocating at all

[2021-11-03 18:31] datumbox commented on #4839
@bjuncek Thanks for confirming that we were not using the right dataset. Indeed I can see a 480 version called `val_avi-480p`. Unfortunately I don't have the bandwidth to run for you complex investigations but I will run the model on top of the 480 version and let you know if the accuracy matches.

[2021-11-03 19:15] datumbox commented on #4839
I run the following:
[code]

As you can see the results are closer but not identical to the reported numbers. I think this requires additional investigation. Potentially trying all available datasets on DevFAIR to see which one is the right one.

@bjuncek Do you have other information you could share on how the models were trained? Logs? Training paths? Anything can help.

@prabhat00155 I see that

[2021-11-04 07:26] GeJulia commented on #1541
Since this week I'm facing a similar issue when using torchvision/transforms. `DeprecationWarning: Using or importing the ABCs from 'collections' instead of from 'collections.abc' is deprecated since Python 3.3,and in 3.9 it will stop working` Is there already a PR for fixing?

[2021-11-04 08:57] fmassa commented on #1541
@GeJulia what version of torchvision are you using?

[2021-11-04 08:58] GeJulia commented on #1541
I'm using torchvision 0.2.1 with python 3.7.9.

[2021-11-04 09:12] fmassa commented on #4835
I meant this will be handled by
[code]

[2021-11-04 09:47] kyleung271 opened #4853 "ssdlite320_mobilenet_v3_large only have ~ 50% CUDA usage even with large batch size"
### 🐛 Describe the bug

[code]

[code]

The CUDA usage is around 36% during inferencing, one of the CPU usage is 100%

### Versions

Collecting environment information...
PyTorch version: 1.10.0+cu113
Is debug build: False
CUDA used to build PyTorch: 11.3
ROCM used to build PyTorch: N/A

OS: Ubuntu 20.04.3 LTS (x86_64)
GCC version: (Ubuntu 9.3.0-17ubuntu1~20.04) 9.3.0
Clang version: Could not coll

[2021-11-04 10:20] datumbox commented on #4853
Thanks, this would require additional investigation from our side. This is not the first time that the community brings this to our attention. In the past SSDlite was [reported](https://debuggercafe.com/ssdlite-mobilenetv3-backbone-object-detection-with-pytorch-and-torchvision/) to have the same more-or-less FPS as SSD. So definitely worth exploring on the future.

Just a few comments concerning t

[2021-11-04 10:51] mszhanyi commented on #4787
open an issue for pillow
https://github.com/python-pillow/Pillow/issues/5813

[2021-11-04 11:47] vadimkantorov commented on #4835
I only hope that there will also be functions accepting bare tensors - this would be more versatile and not require buying into new abstractions for porting existing code bases

[2021-11-04 12:04] datumbox opened #4855 "Add support of the `test` split on ImageNet"
### 🚀 The feature

The new Dataset API allows returning meta-data about the images. This means that the datasets can also be used for producing predictions. As a result now it makes sense for the `ImageNet` dataset to also support the `test` split which doesn't contain labels but instead is a flat list of files.

### Motivation, pitch

See this discussion for more info: https://github.com/pytorch/

[2021-11-04 13:14] pmeier commented on #4855
Unfortunately, I don't have access to the test data, so I need more information to add this.

- Train and validation split come in archives:
    https://github.com/pytorch/vision/blob/b47ea8340c84bbce8fc3107034fd218751f007a0/torchvision/prototype/datasets/_builtin/imagenet.py#L57-L66
    Following the pattern, is the test archive `ILVSRC2012_img_test.tar`?
- If yes, is it modeled like the validati

[2021-11-04 13:41] ianpegg-bc opened #4857 "RuntimeError: INTERNAL ASSERT FAILED in F.rotate"
## 🐛 Bug

I get an assertion error from native code when trying to run `torchvision.RandomRotate` on a fairly large image (2000x2000)

## To Reproduce

The snippet below *does not* reproduce the bug, but it is the best I could do without delivering the entire code base to you.

[code]
[saved image tensor](https://github.com/pytorch/pytorch/files/7465134/c0d28963-01c4-4b91-add6-3a8edb782610.pt.zip)

[2021-11-04 13:59] datumbox commented on #4855
Yes there is a `ILVSRC2012_img_test.tar`. See these [old instructions](https://blog.artwolf.in/a?ID=d3458c31-985f-4fd6-b07a-f103cb318adf) to get a better understanding on its structure.

You can get access to the archieve by [signing up](https://image-net.org/signup.php) for a research access and then download the data from [here](https://image-net.org/challenges/LSVRC/2012/2012-downloads.php).

N

[2021-11-04 15:09] fmassa commented on #4857
Hi,

Thanks for the report. We would need a repro to be able to pinpoint and fix the issue. As of now it hints to a problem within advanced indexing in PyTorch, although to be sure we would need an example that reproduces the results.

[2021-11-04 16:09] vfdev-5 commented on #4857
I can try to repro from our side.

[2021-11-04 16:26] #4674 closed

[2021-11-05 02:19] VinhLoiIT opened #4865 "Padding transform to a multiple of 2"
### 🚀 The feature

Introduce a new API to pad a tensor, such as `transforms.PadSizeDivisor` (I don't come up with a proper name at the moment so that it could be changed)

Expectation:
[code]

### Motivation, pitch

I think padding with the `size_divisor` argument is widely used in segmentation or U-like network where we apply downsampling followed by upsampling the input tensor. In most cases, th

[2021-11-05 07:22] #4748 closed

[2021-11-05 10:26] fmassa commented on #4835
@vadimkantorov new abstractions with transforms are in #4861

I hope they will be useful and would encourage users to use them

[2021-11-05 10:41] #4835 closed

[2021-11-05 11:48] datumbox commented on #4427
The problem appeared on latest master 1bd131c. CI is failing [here](https://app.circleci.com/pipelines/github/pytorch/vision/12300/workflows/3ad3545f-d4f2-48be-95fc-40473a03d596/jobs/968238).

[2021-11-05 12:54] fmassa commented on #4851
@Chillee I believe you were working on fusing activations + dropout, is that correct?

[2021-11-05 14:17] NicolasHug commented on #4865
Thanks for the proposal @VinhLoiIT , I was actually looking into this today. I think this bit from the RAFT repo could be a starting point https://github.com/princeton-vl/RAFT/blob/aac9dd54726caf2cf81d8661b07663e220c5586d/core/utils/utils.py#L7

Instead of creating a new tranform however, I wonder if could be enough to provide a helper that returns the appropriate `pad` parameter to be passed to `

[2021-11-05 14:29] datumbox commented on #4865
FYI, **SOME** detection models (*RCNN) have something similar:
https://github.com/pytorch/vision/blob/d367a01a18a3ae6bee13d8be3b63fd6a581ea46f/torchvision/models/detection/transform.py#L227-L230

[2021-11-05 14:32] kotchin opened #4871 "Provide complete filepath to is_valid_file in make_dataset rather than only the filename"
### 🚀 The feature

(First issue/feature request, tried my best to follow the guidelines, apologies if I missed something).

In `torchvision.datasets.folder.make_dataset`, we are given the option to use `is_valid_file` (or `extensions`).

My feature request is to allow `is_valid_file` to get the whole path to the file rather than just the filename.

### Motivation, pitch

Currently, if we wish to u

[2021-11-05 14:48] NicolasHug commented on #4871
Thanks for the feedback @kotchin ,

I feel like this might actually be a bug - according to the docstring, `is_valid_file` should receive the entire path, not just a truncated name

@pmeier thoughts?

[2021-11-05 14:55] kotchin commented on #4871
Thank you for the quick response @NicolasHug

Indeed, there's a mismatch between the documentation and the implementation. If the decision ends up being to stick to the documentation with the path, I would be happy to attempt submitting a first PR with the above suggested correction.

[2021-11-05 15:10] NicolasHug commented on #4871
Good catch @kotchin , yes it looks like we should revert #3902

[2021-11-05 17:14] ngam commented on #4738
@NicolasHug + @malfet ---

Are there underlying issues preventing you from building for ARM?

Even the conda-forge builds for Linux are not working... The build by conda-forge team (@h-vetinari is here; conda-forge usually includes builds for all OSs) is still failing for some reason. It would be good to resolve this since a lot of people (including the NVIDIA containers!) rely on the -c conda-for

[2021-11-05 18:17] prabhat00155 opened #4877 "Segmentation fault"
### 🐛 Describe the bug

Building torchvision with latest pytorch nightly causes segmentation fault when importing torchvision.
[code]

### Versions

[code]

[2021-11-06 00:02] parmeet commented on #4794
I am not so strongly opinionated around this. But since we are starting from scratch in torchtext, I am just naturally using .pt as extension for models (and other artifacts that are saved using torch like Vocab). We do have other artifacts like sentencepiece model, which is not serialized through torch but is actually saved through google's sentencepiece library and we are not using any extension

[2021-11-06 07:01] numpee opened #4880 "Bug with transforms.Resize when used with transforms.ConvertImageDtype"
### 🐛 Describe the bug

Recent releases of Torchvision and the documentations that support it seem to  suggest that we can use `io.read_image + transforms.ConvertImageDtype` instead of the traditional `PIL.Image.read_fn + transforms.ToTensor`. However, I have found that there are two issues:

1. `io.read_image + transforms.ConvertImageDtype` do not actually return the same tensor values as `PIL +

[2021-11-06 07:16] vadimkantorov commented on #4794
My only problem with `pth` is that it really is a special file extension for Python interpreter. It reads these files for adding lines to PYTHONPATH. So if `pth` file is placed near the main python script, it can hang if `pth` file is huge and slow to load

[2021-11-06 13:09] pmeier commented on #4871
Thanks @kotchin for the report. I missed that when signing off the PR. Revert seems reasonable given that the perf boost was minimal in the first place.

[2021-11-06 13:27] #4660 closed

[2021-11-06 20:09] prabhat00155 commented on #4877
This was caused by the mismatch in pytorch and torchvision cuda versions.

[2021-11-06 20:09] #4877 closed

[2021-11-08 06:53] kyleung271 commented on #4853
@datumbox

Here are 4 profile runs with two batch sizes and 2 devices.

Some initial observation:

The first part, with the largest Wall time being `aten:conv2d`, have its inference time smaller with cuda, and not scale with batch size.
The second part, with the largest Wall time being `aten:index` and `torchvision:nms`, have its inference time not reduced with cuda, and is linearly scale with bat

[2021-11-08 08:04] #4855 closed

[2021-11-08 11:14] #4675 closed

[2021-11-08 12:08] mszhanyi commented on #4787
It's wizard that in Python3.7, it ignores the libpng16.dll in the torchvision directory.
I run `import torch;import torchvsion` in the 3.7/3.8 environment
![image](https://user-images.githubusercontent.com/16190118/140739347-10b81e13-7f9c-4f0a-b56c-94d7a5d94227.png)

[2021-11-08 12:50] peterjc123 commented on #4787
I think the cause of this problem is quite clear. First, In PyTorch, we use `LoadLibraryEx` and then `LoadLibrary` to load in the dependencies, but in torchvision, it relies on `torch.ops.load_library`, which uses `ctypes.CDLL`. (It uses `LoadLibrary` as the underlying API.) The behavior is inconsistent. Second, in PyTorch, we use `AddDllDirectory` and `PATH` for dependency resolving, but we do no

[2021-11-09 00:40] wmpauli opened #4886 "ModuleNotFoundError: No module named 'torch.fx'"
### 🐛 Describe the bug

I get this import error on
[code]

### Versions

Versions:
torch-1.6.0-cp36-cp36m-manylinux1_x86_64.whl
torchvision-0.11.1-cp36-cp36m-manylinux1_x86_64.whl

I think this happened since upgrading to v11.1. Reverting to v0.10.1 to confirm.

[2021-11-09 00:56] wmpauli commented on #4886
yes, reverting torchvision to v0.10.1, fixed the import error.

[2021-11-09 00:56] #4886 closed

[2021-11-09 01:59] yldu opened #4887 "Torchscript C++ Inference Error"
### 🐛 Describe the bug

I saved a Detectron2 Torchscript model using the following code:
[code]
However, when I tried to load it in C++, I'm getting the following error:
[code]

I've tried to remove the `_is_full_backward_hook` field in `torch_script_module`, but seems like it will still be initialized as "None" when I load the model (in both Python and C++). What's the best way to resolve this is

[2021-11-09 06:17] xiaohu2015 commented on #3995
@datumbox Can you release the training code, maybe the configs of training because the reference training code has already implemented the training tricks.

[2021-11-09 08:34] datumbox commented on #3995
@xiaohu2015 Of course! I'm in the middle of writing a blogpost that will include the configs, the training methodology, detailed ablations etc. It should be out next week. :)

[2021-11-09 10:23] kotchin commented on #4871
Thanks. Could you please advise me on the next step? Is there any action for me to take for the change to be merged and [https://github.com/pytorch/vision/pull/4885](https://github.com/pytorch/vision/pull/4885) and this issue to be closed? Thank you.

[2021-11-09 10:56] #4871 closed

[2021-11-09 10:56] datumbox commented on #4871
@kotchin You are good to go. Just merged. We were all waiting for the final test to run. Sometimes the CI is slow :)

[2021-11-09 13:06] vfdev-5 commented on #4880
@numpee thanks for the report, I'll try to repro your benchmarks and report back.
Transforms on tensor are known to be slower if executed on uint8. For example, here is by benchmark of various transforms PIL vs Tensor by dtype: https://gist.github.com/vfdev-5/229b0a3a7f392d46cae40502e8139fc0

[2021-11-09 13:06] zhiqwang commented on #4887
Seems that your `torch` and `torchvision` versions don't match up. If you have `torch` 1.9.x installed, you should install `torchvision` 0.10.x

[2021-11-09 13:50] #3365 closed

[2021-11-09 14:36] vfdev-5 opened #4891 "`torchvision.io.read_image()` to accept `PosixPath` ?"
### 🚀 The feature

What do you think about supporting `PosixPath` objects while reading the images with `io.read_image` ?

[code]

Today, it fails with the following error:
[code]

### Motivation, pitch

-

### Alternatives

_No response_

### Additional context

_No response_

[2021-11-09 14:37] vfdev-5 commented on #4891
Duplicate : https://github.com/pytorch/vision/issues/2962

[2021-11-09 14:37] #4891 closed

[2021-11-09 14:52] vfdev-5 commented on #4880
@numpee first of all, I should have say that PIL image reader and torchvision.io.read_file do not produce the same results.
For example
![image](https://user-images.githubusercontent.com/2459423/140945650-885c3855-9292-4a89-b191-3630e698eb9a.png)
![image](https://user-images.githubusercontent.com/2459423/140945769-ef885af0-980e-43f6-87b7-5124aaf550b5.png)

And where your issue is pertinent is that

[2021-11-09 15:08] numpee commented on #4880
@vfdev-5 Thanks for the reply!

As you mentioned, upsampling from 64 --> 224 is not a usual case for training, but it was part of the baseline method (not sure why) which is why I was trying to use it as well.

A few follow up questions I have (not necessarily issues, but just out of curiosity):

1. When using `transforms.Resize` on the output of `PIL + transforms.ToTensor`, does the `Resize` func

[2021-11-09 16:13] fmassa commented on #4886
@wmpauli note that torchvision 0.11 requires PyTorch 1.10. So many of the features in torchvision are not guaranteed to work correctly with an older PyTorch (for example, custom operators like `roi_align`).

Also, ccing @datumbox as it was at some point considered to make this a hard failure -- use-cases like this one would fail if we were to enforce loading the libraries to be a hard-requirement.

[2021-11-09 16:45] datumbox commented on #4886
Thanks for the ping. Indeed if @wmpauli was trying to call a C++ op, they would receive an error while using Python operators may or may not lead to an issue. Here the user got an error because the fx namespace doesn't exist in the previous version of PyTorch.

@fmassa What was the reason we didn't make it a hard failure? We could add an assertion on the `torchvision/__init__.py` to cover for that

[2021-11-09 17:41] yldu commented on #4887
I see, thank you! Are there any requirements on the C++ side?

[2021-11-09 21:37] wmpauli commented on #4886
Thanks again @fmassa and @datumbox. Like I mentioned above, reverting torchvision to .10.1 indeed avoids this issue.

This is for the continuous deployment of an older model, which requires an older version of torch, so I had been pinning the version of pytorch to 1.6, relying on pip to resolve the versions of dependencies (including torchvision). I'll be more careful next time.

[2021-11-10 06:40] malfet commented on #4787
@peterjc123 thank you very much for the detailed explanation. Looks like loading bundled DLLs never worked on Windows for python-3.6 and 3.7, and it works on 3.8 thanks to the following call:
https://github.com/pytorch/vision/blob/031e129b5590ec9619962ba44254405fd9ec90c8/torchvision/_internally_replaced_utils.py#L40-L41

[2021-11-10 06:52] malfet opened #4894 "Windowstorchvision-0.11.1 CUDA-11.3 wheel packages are not compiled with nvjpeg acceleration enabled"
### 🐛 Describe the bug

Steps to reproduce:
1) Download TorchVision 0.11.1 windows wheel from https://download.pytorch.org/whl/cu102/torchvision/
2) Unpack the binary
3) Run `dumpbin /dependents image.pyd` to make sure it depends on `nvjpeg64_10.dll`:
[code]
4) Noticesthat `nvjpeg64_10.dll` is missing from the archive

This causes `torchvision.io.read_image`  fail on Windows

### Versions

0.11.1

[2021-11-10 06:53] malfet commented on #4787
Filed a followup issue https://github.com/pytorch/vision/issues/4894 that nvjpeg is not bundled into the windows wheels
Another problem with nvjpeg integration, is that CUDA-11.3 torchvision wheel packages (and perhaps conda ones as well) are compiled without dependency on nvjpeg.

[2021-11-10 09:55] vfdev-5 commented on #4880
Concerning the question 1, the difference is the following:
a) "PIL + transforms.ToTensor" creates a contiguous channel first tensor
b) "torchvision.io.read_image" creates a non-contiguous tensor
torchvision's Resize should call internally `torch.nn.functional.interpolate` which performance depends on contigous/non-contiguous input:
[code]

As for question 2: `torchvision.io.read_image` gives the

[2021-11-10 10:10] vfdev-5 commented on #4880
If I fix locally the issue with with non-contiguous output from `read_image` the results are the following:
[code]
Here is the code used for the benchmarking: https://gist.github.com/vfdev-5/8c26a109d7718035162a6d5d138b5499

To compare with currently non-contiguous output from `read_image`:
[code]

[2021-11-10 10:13] rap1ide opened #4897 "LabelMap not tranformed in tio.Subject when label shape is 1xHxWx1"
### 🐛 Describe the bug

Situation: In a dataloader a tio composition of intensity and spatial augmentation is performed.
When using 3D samples the tio.ScalarImage and tio.LabelMap are transformed fine, when using 2D samples the tio.LabelMap is not spatially transformed. This only happens when within the tio.Compose a intensity transform is applied before spatial transform.

[code]

3D images are t

[2021-11-10 11:25] wduo opened #4899 "RuntimeError: offset output dims: (160, 160) - computed output dims: (80, 80)"
### 🐛 Describe the bug

I run source build pytorch(torch==1.10.0) and torchvision(torchvision==0.12.0).
train code snippet:
[code]
tensor shape below:
[code]

When training(run `out = self.conv2(out, offset, mask)` this line), issue the error below, pls help me, tks.
[code]
tks~

### Versions

Collecting environment information...
PyTorch version: 1.10.0a0+git36449ea
Is debug build: False
CUDA use

[2021-11-10 12:59] datumbox commented on #4897
@rap1ide Should this be raised to the `torchio` repo directly? It seems to me that's probably the best place to kick off the investigation.

[2021-11-10 14:02] JonathanWoollett-Light opened #4902 "JIT not working with `torchvision.transforms.CenterCrop`"
## Bug

[All files here (`model.pth`, `model.zip`, `jit-load-test.py` and `test.py`)](https://drive.google.com/drive/folders/1XyEGzQSQzEu5ED78adkS3rW9UsQUhBZe?usp=sharing)

I have a semantic segmentation model which utilizes a center crop on its output (`test.py`):
[code]
Trying to save this as a JIT model results in the error:
[code]
If I replace `self.crop = torchvision.transforms.CenterCrop(out

[2021-11-10 14:11] numpee commented on #4880
@vfdev-5 thanks for the explanation and the updates. The updated version seems to be a great performance boost (for upsampling)!
Also, did not know `torchvision.io.read_image == cv2.imread != PIL read`.

Once again, thanks for addressing this :+1:

[2021-11-10 14:15] vfdev-5 commented on #4880
@numpee well, the fix I proposed is not correct (see https://github.com/pytorch/vision/pull/4901) as we now lose on reading and decoding:
[code]
We have to support the output format in the transforms themselves...

[2021-11-10 14:21] numpee commented on #4880
I see - I'll have to keep an eye out for updates in the future 😄

[2021-11-10 15:25] fmassa commented on #4880
@vfdev-5 as a temporary workaround, you could probably patch https://github.com/pytorch/pytorch/blob/6011c35a7934a1528c2db02c40752aa3822ccfa6/aten/src/ATen/native/cpu/UpSampleKernel.cpp#L805-L812 (and other function therein) so that if num_channels < 4 you dispatch to the generic kernels.

Some benchmarks would be necessary, but it would probably be good enough for this use-case I believe

[2021-11-10 15:29] oke-aditya opened #4903 "Enhance torchvision's draw_keypoint method"
### 🚀 The feature

Follow up of #4216 . The current utility works fine, but we can make it better :)

### Motivation, pitch

I think the following can be added.

- [ ] Support multiple colors

There were 2 proposals one by @fmassa and one by me. The problem was handling excess colors.
I think that in fmassa's version we can broadcast to bigger dimensions and make it work?

- [ ] Support specifying

[2021-11-10 17:05] lynnporu opened #4904 "Can't work with Caltech101"
### 🐛 Describe the bug

When I try to download and use Caltech101 dataset in Google Colab, I get a following error:

[code]

I use this code:

[code]

### Versions

PyTorch version: 1.9.0+cu111
Is debug build: False
CUDA used to build PyTorch: 11.1
ROCM used to build PyTorch: N/A

OS: Ubuntu 18.04.5 LTS (x86_64)
GCC version: (Ubuntu 7.5.0-3ubuntu1~18.04) 7.5.0
Clang version: 6.0.0-1ubuntu2 (tags/R

[2021-11-10 20:44] ethanwhite opened #4905 "Clarify documentation/defaults for trainable_backbone_layers"
### 📚 The doc issue

The defaults for `trainable_backbone_layers` are currently set to `None` (used in `faster_rcnn`, `keypoint_rcnn`, `mask_rcnn`, and `retinanet`) and the description in `Args:` is a version of:

[code]

This makes it unclear what value is used in the default case. One reasonable reading of this is that none of the backbone layers are trained. The actual value used if this option

[2021-11-11 05:56] wduo commented on #4899
Is anyone here?

[2021-11-11 05:56] wduo commented on #4899
@smartkiwi @kashif @ezyang @djsutherland Can you help me?

[2021-11-11 09:21] lizhi1215 commented on #4271
Maybe the reason is incompatible on torch version.I also encountered this problem because I train the model with torch 1.9.1,and deployment service with torch 1.8.0. But I solved the problem when I changed the torch to 1.10.0.---2021.11.11

[2021-11-11 09:59] datumbox commented on #4899
@wduo Thanks for raising this.

Unfortunately the information included on the bug report is not enough to reproduce the problem. If you submit a snippet that fully reproduces the problem, it would be easier for us to help.

Having said that, it seems to me that either he mask or the offset dimensions don't match the expected ones. Unfortunately it's not possible to tell which one fails because the

[2021-11-11 10:28] datumbox commented on #4905
@ethanwhite Thanks for bringing this up.

This specific parameter has been a source of confusion for quite a few users. There is also a related issue with the proposal of replacing the default `None` values with actual numerics at #4625. Note that this will have to be done in a BC way (continue to support `None`) because it can affect users who make use of this "feature".

Our reference script act

[2021-11-11 10:33] neuralsandwich opened #4909 "Unable to install 0.11.1 on macOS on arm64"
### 🐛 Describe the bug

There are no arm64 builds of 0.11.1 for macOS available on pip.

### Versions

[code]

[2021-11-11 10:56] wduo commented on #4899
@datumbox When I was training, I called [DB/backbones/resnet.py L298](https://github.com/MhLiao/DB/blob/9505b9d8f884a58fe90b884ce239a37f3b1cf404/backbones/resnet.py?_pjax=%23js-repo-pjax-container%2C%20div%5Bitemtype%3D%22http%3A%2F%2Fschema.org%2FSoftwareSourceCode%22%5D%20main%2C%20%5Bdata-pjax-container%5D#L298)，and then replaced L55 and L126 with `from torchvision.ops import DeformConv2d as Mo

[2021-11-11 10:59] wduo commented on #4899
Because the original code in the DB uses the cuda version of dcn and I only have a CPU, I want to use the dcn operator in torchvision.

[2021-11-11 11:13] kotchin commented on #4871
I'm new to public and open github projects; I noticed that the PR includes private information.
How may I avoid this in the future?
And is there a way to remove it from this PR?
Apologies if I just noticed it. Thank you for your help.

[2021-11-11 11:18] datumbox commented on #4899
@wduo Unfortunately, it's hard to help without a minimal snippet with no external dependencies that reproduces the problem. If that's something you can't provide, I recommend ensuring that the offset and mask dimensions you provide to the layer match the expected values of the kernel listed. I posted the snippet that estimates them for the CPU kernel above but the same happens on GPU.

[2021-11-11 13:16] pmeier commented on #4871
When you set up `git` you need to configure a name and and e-mail. They will always be included in a commit.

Set this to some public information.

Nope. The only way to do that would be to `force` push our `main` branch back to before your commit was merged in and apply all the other changes afterwards. This is very destructive and I'm fairly certain that this is not going to happen.

[2021-11-11 14:39] NicolasHug opened #4914 "Bias term in conv layers of Resnet"
The [Basic block class](https://github.com/pytorch/vision/blob/348f75ceb5b971dda7a2695c285bd5f8d4277069/torchvision/models/resnet.py#L57) of the ResNet model creates convolution layers followed by a normalization layer, which is specified by the user with the `norm_layer` parameter.

The bias term of these convolutions layers is hardcoded to False:

https://github.com/pytorch/vision/blob/348f75ceb

[2021-11-11 15:01] #4427 closed

[2021-11-11 15:03] #4905 closed

[2021-11-11 15:16] bglocker opened #4915 "Assumption about bounds in floating point images"
Took me a while to figure out while the [ColorJitter](https://pytorch.org/vision/stable/transforms.html#torchvision.transforms.ColorJitter) transform produced strange results (mostly fully saturated images) until I realized that there is a hard coded assumption that images of type float are bounded to max value 1.0.

Might either need a warning in the doc, or even better, the bound could be provid

[2021-11-11 15:19] NicolasHug commented on #4915
From [our docs](https://pytorch.org/vision/stable/transforms.html):

Maybe we should make this a bit more obvious and link to it from every single `forward()` docstring?

[2021-11-11 15:31] datumbox commented on #4915
Images of uint8 are assumed to have max value of 255 (no surprise). Images encoded as floats have a max value of 1.0. This is a scaling that happens in the following transforms:
- to_tensor (discouraged from being used. use `pil_to_tensor` instead)
- convert_image_dtype
- to_pil_image (does the inverse of the above)

The upper bound assumption is used by a number of transforms, such as `adjust_sha

[2021-11-11 15:35] bglocker commented on #4915
Fair enough, my bad. It's pretty clear in the docs which I missed as I jumped straight to the doc of the ColorJitter transform. Maybe a little reminder about the assumed ranges in the doc of relevant transforms might help.

[2021-11-11 16:45] malfet opened #4917 "torchvision conda package missing requests dependency"
### 🐛 Describe the bug

torchvision depends on requests, but it is not specified as conda package dependency, which results in the following failures:
[code]

### Versions

0.11.1 on MacOS

[2021-11-11 16:54] mahdiabdollahpour commented on #3058
Did you come to a solution?

[2021-11-11 17:04] datumbox commented on #4917
I believe the dependency is on purpose not in the mandatory list. It's considered optional (see old issue at #2618).

The only use of the `requests` is at:
https://github.com/pytorch/vision/blob/d367a01a18a3ae6bee13d8be3b63fd6a581ea46f/torchvision/datasets/utils.py#L203-L217

[2021-11-11 17:08] mahdiabdollahpour commented on #3058
Is is possible with CUDA 10.X ?

[2021-11-11 17:11] malfet commented on #4917
@datumbox in that case it should be add to extra_deps, same as scipy, shouldn't it?

[2021-11-11 17:28] malfet commented on #4904
I can reproduce it using torchvision-0.10, but it has been fixed in 0.11, so adding `!pip install torchvision==0.11.1` cell fixes the problem

[2021-11-11 18:14] oke-aditya opened #4919 "Remove the note of needing scipy in GoogleNet and Inception"
### 📚 The doc issue

I think after merging #4256 We should update the docs to indicate scipy isn't needed. As I see in the code base models/googlenet.py and models/inception.py we use torch and not scipy.

### Suggest a potential alternative/fix

Fix the note by removing the line regarding scipy.

Inception
https://github.com/pytorch/vision/blob/main/docs/source/models.rst#inception-v3

GoogleNet

[2021-11-11 18:36] datumbox commented on #4917
@malfet I've had a quick look to see what other optional dependencies we are using. Here is a list:
- IO:
  - `accimage`
  - `av`
- Datasets:
  - `torchdata` (Prototype-only)
  - `scipy`
  - `pycocotools`
  - `lmdb`
  - `requests`

Judging from the discussion at #2618, it seems that there is consensus on keeping track of the optional dependencies but also maintaining lazy imports. Not sure what's

[2021-11-11 19:10] malfet commented on #4917
Don't know about conda, but we can totally do it for pip. Also, a nicer error message would be great (and perhaps in case of requests, one can use urllib instead)

[2021-11-11 22:33] kotchin commented on #4871
In fact my question was not what I should set it to, but how to remove it completely.
When I look at the exact code changes, I see that there's my account appearing (which is fine) but it also specifies "co-authored by", and when I look at all other commits by all other members, this mention simply does not exist. Could you please help me understand how to achieve that? Thank you for your help.

[2021-11-11 22:42] pmeier commented on #4871
The commit you pushed included this information: https://github.com/pytorch/vision/pull/4885/commits/6f825951964d48b3c247a1f3063da1b9d91ebc27. It seems the email you used for that, was not recognized by GitHub. So when we merged the PR, GitHub assumed that the other of the PR is the main author and all other authors are assumed to be co-authors. To resolve this in the future, you can link your ema

[2021-11-11 23:09] Carlosbogo commented on #4919
Hi, I would be interested in helping with this

[2021-11-11 23:11] datumbox commented on #4919
@Carlosbogo there was already a PR what wasn't linked to this ticket by a different user. :(

[2021-11-11 23:12] Carlosbogo commented on #4919
Oh no problem then, I'm glad that it got solved.

[2021-11-12 00:09] prabhat00155 commented on #4392
The following only measures the time taken in decoding on both CPU and GPU. GPU decoding is much faster across the board.
<img width="1660" alt="Screenshot 2021-11-12 at 00 07 36" src="https://user-images.githubusercontent.com/7043157/141386640-84444419-3f95-455f-8d3e-ca4cb8e22cde.png">

[2021-11-12 03:55] WathikAhmed commented on #4919
Solved? close issue.

[2021-11-12 04:17] oke-aditya commented on #4919
Not yet. Once the linked PR is merged maintainers will.

[2021-11-12 09:07] #4919 closed

[2021-11-12 09:29] datumbox opened #4924 "dummy issue"
### 🐛 Describe the bug

nothing to see here

https://github.com/orgs/pytorch/projects/2

### Versions

none

[2021-11-12 09:36] #4924 closed

[2021-11-12 09:45] MalteEbner opened #4925 "ImageFolder(root) raises error if root contains empty subfolders"
### 🐛 Describe the bug

When using `torchvision.datasets.ImageFolder(root)` on a root with a subfolder not containing images, an error is thrown.

#### Example code (works in google colab):

[code]

#### Output of example code
[code]
#### Source of error
https://github.com/pytorch/vision/blob/22ff44fd14139f2a056ad52b9bd109bd958089f3/torchvision/datasets/folder.py#L97-L102
As this check was introdu

[2021-11-12 09:53] NicolasHug commented on #4914
Discussing this offline with @datumbox : the bias term in the conv layers is made redundant by the **normalization** of the norm layer. Whether the norm layer has its own bias term (affine parameter) is a different thing.
All norm layers normalize the input in such a way that the bias term gets canceled out, so there's no problem here.
Thanks for the discussion @datumbox

[2021-11-12 09:53] #4914 closed

[2021-11-12 10:32] pmeier commented on #4925
Hey @MalteEbner. IIRC, the motivation behind this is to avoid subtle errors. Otherwise you might get a "label gap", because a directory is recognized as category, but has no samples. Take this setup:

[code]

Removing the check and running

[code]

now prints

[code]

Although you have only two categories, the model handling the data now needs to handle three categories.

[2021-11-12 10:42] MalteEbner commented on #4925
Hey @pmeier, thanks for your quick answer!

Would it be possible to add an argument `ignore_subdirs_without_images` (by default false) or similar to the constructor that allows to have additional directories without images without throwing the error? I think that having additional non-image folders is quite common, e.g. for `.git`, `venv`, `.ipynb_checkpoints`, labels, or more. See also https://gi

[2021-11-12 10:45] pmeier commented on #4925
Sure, that would be a good addition. I would prefer something like `ignore_empty` because it is a little shorter. Do you want to send a PR?

[2021-11-12 10:47] MalteEbner commented on #4925
Yes, I will create a PR with `ignore_empty`.

[2021-11-12 10:57] NicolasHug commented on #4925
Instead of adding a new parameter, wouldn't it be possible to simple override the `find_classes()` method to ignore empty dirs?

We made this public precisely to handle such custom use-cases and avoid bloating the API with lots of specific parameter.

[2021-11-12 11:19] pmeier commented on #4925
From an UX perspective, I prefer having a simple switch for general behavior such as this. Overwriting `find_classes` also gives you the freedom to do that, but is less convenient. I would only advocate to do this in one-off use cases.

Plus, in the light of the new datasets, `ImageFolder` will be replaced by a `from_folder` call. There we won't have the ability to overwrite something:

https://gi

[2021-11-12 11:27] NicolasHug commented on #4925
From a UX perspective, having 2 ways of doing similar things can be confusing. On our side it also adds burden as we need to now maintain the cross-product of all of these features. IMHO this use-case *is* a one-off use case.

There probably should then - we can't add a new parameter every time a user asks for a new use-case support

[2021-11-12 14:59] MalteEbner commented on #4925
I disagree here, as before the latest commit adding the check, this use case was already supported.

I fully agree here, implementing this parameter and passing it adds quite some code. Thus I think it would be easier to change the `FileNotFoundError` to some kind of `EmptySubfoldersWarning`.

[2021-11-12 15:05] prabhat00155 commented on #4392
The following measures the time taken in decoding(just measures the time spent in decoding operation) whole videos. GPU again performs much better the CPU.
<img width="1730" alt="Screenshot 2021-11-12 at 15 01 45" src="https://user-images.githubusercontent.com/7043157/141487971-6ecc5ed1-30a9-4e5e-ab25-2549d3f17c0c.png">

*Green colour in the last column shows the GPU is faster than CPU.

[2021-11-12 16:03] datumbox opened #4928 "Clean up `pandas` references from repo"
### 🐛 Describe the bug

Python Pandas are no longer an optional dependency of torchvision's dataset. Still there are a few references of them on configuration and CI files. More specifically it should be removed from:
https://github.com/pytorch/vision/blob/5f0edb97b46e5bff71dc19dedef05c5396eeaea2/.github/workflows/tests-schedule.yml#L35-L36

and
https://github.com/pytorch/vision/blob/5906d5908032f

[2021-11-12 16:48] lynnporu commented on #4904
Well, your comment will be useful for someone with the same trouble :smile:

[2021-11-12 16:48] #4904 closed

[2021-11-12 18:12] Carlosbogo commented on #4928
Hi, I would be glad to help with this

[2021-11-12 18:20] datumbox commented on #4928
You got it @Carlosbogo! :)

[2021-11-12 21:35] bjuncek commented on #4392
These look great; just for clarification, how come are the number on kinetics so much different now than in the tables from 10 days ago. What have changed?
(to clarify, I still get similar numbers to the tables above, i.e. around 20% improvement over single-threaded cpu decoding on h264x-high with decord)

![image](https://user-images.githubusercontent.com/6318056/141537309-f82f0a38-927e-4610-9bb5

[2021-11-13 10:44] abhiagwl4262 commented on #1705
@adizhol

The range of int32 is -2147483648 to 2147483647. Then why the error come even when in your case with 490698 boxes ?

[2021-11-13 21:46] vadimkantorov commented on #4795
Could it also explain the default value of TORCH_HOME? Is it "$HOME/.cache/torch" or "$HOME/.cache"? or "$HOME"?

[2021-11-14 10:06] #4928 closed

[2021-11-14 13:44] xiaohu2015 opened #4932 "add GN and GIoU loss for retinanet"
### 🚀 The feature

- support GroupNorm on retianet head;
- support GIoU loss for regression loss;

### Motivation, pitch

As we know, retinanet should get better mAP if using GN on retianet head and GIoU loss

### Alternatives

_No response_

### Additional context

_No response_

cc @datumbox

[2021-11-14 14:25] oke-aditya commented on #4932
Hi @xiaohu2015 Thanks a lot for the proposal.

Can you please clarify what GN is ?

gIoU is currently supported as `torchvision.ops.generalized_box_iou` (this name was kept for DeTR compatibility)
and I guess creating loss function from the op is straightforward?
I think it is  `1 - ops.generalized_box_iou` ?

For loss functions there is an RFC #2980 and I guess gIoU loss is proposed there.