[2020-02-25 15:22] fmassa commented on #1895
Cool, let us know if you find any other issues!

[2020-02-25 15:24] fmassa commented on #1910
@engineer1109 could you expand on why you think it's fake?

We do support torchscript via `torch.jit.script`, and we do support exporting to ONNX via `torch.onnx.export`.

[2020-02-25 15:39] fmassa commented on #1001
Great @ananthpn let us know if you have further questions

[2020-02-25 15:40] davidsteinar opened #1916 "RuntimeError: No such operator torchvision::nms"
## 🐛 Bug

Ran into this issue when trying to use [Faster R-CCC](https://pytorch.org/docs/stable/torchvision/models.html#faster-r-cnn) example on a Windows machine.
```RuntimeError: No such operator torchvision::nms```

## To Reproduce

Steps to reproduce the behavior:

[code]

and then

[code]

## Expected behavior

To be able to use torchvision.nms ...

## Environment

[code]

and

[code]

[2020-02-25 15:42] fmassa commented on #1902
Thanks for the report!

I'm looking into fixing this

[2020-02-25 15:45] fmassa commented on #1892
Hi,

I hope you have found how to visualize the boxes. The `prediction[0]['boxes']` corresponds to the `[x0, y0, x1, y1]` coordinates of the pixels in the image, so you can use `matplotlib.pyplot.Rectangle` to plot it

[2020-02-25 15:50] fmassa commented on #1901
Hi,

Sorry for the delay in replying. Here is the IoU per class

[code]

So for `'person'`, we have an IoU of 82.9

Let us know if you have further questions.

[2020-02-25 15:50] #1901 closed

[2020-02-25 15:51] fmassa commented on #1900
Hi,

Sorry for the delay in replying.

We could have used in-place ReLU, there is no particular reason why we haven't used it.

Let us know if you have further questions!

[2020-02-25 15:51] #1900 closed

[2020-02-25 15:53] fmassa commented on #1716
Thanks @Gokkulnath for the help!

[2020-02-25 15:54] fmassa commented on #1896
@songyuc  I think the best way without code modification is to use forward hooks as @pmeier mentioned. Another way would be to modify the forward of the module to return the elements that you want, but that requires more code.

Let us know if you have further questions.

[2020-02-25 15:54] #1896 closed

[2020-02-25 15:58] fmassa commented on #1904
Hi,

I have never used DenseNet myself, so I wouldn't know the answer to your question.
I would first check though that your densenet model is outputting correct class predictions -- maybe you are passing the wrong input normalization, which makes almost all the activations go to zero due to ReLU?

[2020-02-25 16:01] fmassa commented on #1916
Hi,

Thanks for the bug report!

There seems to be an issue with our binaries, at least for Windows.

@peterjc123 do you know if this is a known problem?

[2020-02-25 16:03] fmassa commented on #1876
@savourylie is this still an issue?

[2020-02-25 16:03] fmassa commented on #807
@songyuc it will save memory for both CPU and CUDA

[2020-02-25 16:07] fmassa commented on #1890
Hi,

I think that this error that you are getting is not in torchvision, as
[code]
is not present in torchvision

As such, I'm closing the issue but let us know if you have further questions

[2020-02-25 16:07] #1890 closed

[2020-02-25 16:08] fmassa commented on #1712
@Umairali2562 I believe this error is not in torchvision, but in a different library.

[2020-02-25 16:52] davidsteinar commented on #1916
I updated my CUDA Toolkit to 10.1 update2 and matching cuDNN to v7.6.5

[code]

but I still get the same error.

[2020-02-25 17:07] peterjc123 commented on #1916
Sorry, I could not reproduce this error with torch==1.4.0 and torchvision==0.5.0 with python=3.7 and cudatoolkit=10.1.
[code]

[2020-02-25 17:28] davidsteinar commented on #1916
It seems that when I do
[code]
I get `Python 3.6.8`

Then when I do
[code]

I get `Python 3.8.1`. This environment produces the `RuntimeError: No such operator torchvision::nms`

**But**

if I specifically create a python 3.7 environment
[code]
I get `Python 3.7.6`

Then

[code]

I also get `Python 3.7.6`. In this environment I get no error

[code]

So the issue seems to be with `conda install pyt

[2020-02-25 17:31] peterjc123 commented on #1916
You mean it's Python 3.8 only issue, right? I'll check later.

[2020-02-25 17:33] davidsteinar commented on #1916
Yes it seems so.

[2020-02-25 18:24] frgfm commented on #1786
Solved by #1834

[2020-02-25 18:24] #1786 closed

[2020-02-25 18:32] fmassa commented on #1902
This will hopefully be fixed with https://github.com/pytorch/vision/pull/1917

[2020-02-26 00:20] Umairali2562 commented on #1890
it did resolved when updated my ubuntu and restart it .

[2020-02-26 01:14] engineer1109 commented on #1910
@fmassa sorry,  I paste the code wrongly.
It is the "torch.onnx.export(model, x, "mask_rcnn.onnx", opset_version = 11)" failed.
Not matter about trace.

File "test.py", line 9, in
torch.onnx.export(model, x, "mask_rcnn.onnx", opset_version = 11)

model = torchvision.models.detection.keypointrcnn_resnet50_fpn(pretrained=True)
model.eval()
x = [torch.rand(3, 300, 400), torch.rand(3, 500, 400)]
predi

[2020-02-26 01:25] SaschaHornauer commented on #1712
Is there a reason to exclude CUDA 10.0 or is it just an additional effort? I need the workaround as I have control over the user installed packages or a virtual environment but not over the CUDA version, not being an admin. So the newest pytorch version is not an option. Can't imagine I am the only one with that problem.

[2020-02-26 02:48] TengFeiHan0 commented on #1912
@fmassa Hi, I didn't solve above problem, the original problem I posted at [here](https://discuss.pytorch.org/t/no-module-named-torchvision-torchvision-is-not-a-package/70811) , after that, I choose to make image augmentation via opencv.

As for this question, every time I try to solve this problem, I will create a virtual envs and test the versions of pytorch and torchvision. everything was OK.

[2020-02-26 05:04] lartpang commented on #1072
I have found the repo which has some models with groupnorm:

https://github.com/ppwwyyxx/GroupNorm-reproduce

[2020-02-26 05:09] MrGrayCode commented on #1891
You have specified `num_classes=512` in the function whereas the pretrained FCN-Resnet101 model only has 21 classes. This causes the error.

If you wish to use transfer learning on some other dataset you could load the pretrained model first and then modify the last couple of layers according to your task.

[2020-02-26 21:33] amrotork commented on #1916
I have the same issue. I'll try @davidsteinar solution. I'll remove the environment and create a new one for that.

Thanks @davidsteinar.

[2020-02-26 23:38] seemethere commented on #1857
@fmassa @zou3519 Who would be the person to assign this issue to so we can re-add this test back to the nightly matrix?

[2020-02-27 03:49] peterjc123 commented on #1916
I tried and it is actually a DLL loading problem for Python 3.8. The workground is to add the directory of cuda before importing torchvision using the following code.
[code]

[2020-02-27 07:28] SangbumChoi commented on #1899
@anhoangphuc uploading your code status will also help solving this problem

[2020-02-27 15:02] rrmina opened #1920 "Failed to download CelebA dataset using download=True"
## 🐛 Bug

It fails to download the following files
1. img_align_celeba.zip

Rather than the zip file, it downloads a html file **"Google Drive - Quota exceeded"**. Returns badZipFile error

2. list_attr_celeba.txt

Similarly, **"Google Drive - Quota exceeded"**. This time it returns RuntimeError('Dataset not found or corrupted.' + ' You can use download=True to download it')

3. list_landmarks_ali

[2020-02-27 16:10] cijad opened #1921 "Missing new line in the docstring"
## 📚 Documentation

There is a missing new line in the docstring for `torchvision.transforms.functional.crop`.
Source code link: [https://pytorch.org/docs/stable/_modules/torchvision/transforms/functional.html#crop](https://pytorch.org/docs/stable/_modules/torchvision/transforms/functional.html#crop)
![pytorch_before_PR](https://user-images.githubusercontent.com/8884008/75461442-1704cd80-5983-11ea

[2020-02-27 16:27] fmassa commented on #1902
Should be fixed now, let us know if you still have issues

[2020-02-27 18:14] pmeier commented on #1920
The error message

means, that the [traffic of this file (size and number of downloads) exceeds a limit or quota set by Google Drive](https://support.google.com/drive/thread/2035857?hl=en&msgid=2044528). Since we are not hosting the dataset we have no chance to help you with this, since this is not an error on our side. According to the answer in the above link this quota is reset every 24 hours,

[2020-02-27 18:40] fmassa commented on #1921
Fixed with #1922 thanks @cijad!

[2020-02-27 18:40] #1921 closed

[2020-02-27 19:16] fmassa commented on #1920
Thanks @pmeier for the help!

It looks like there is not much we can do, please try again in some time and let us now if the problem persists. As such, I'm closing this issue

[2020-02-27 19:16] #1920 closed

[2020-02-27 19:18] fmassa commented on #1910
@engineer1109 Can you paste what the error message that you get is?

[2020-02-27 19:34] fmassa commented on #1891
Exactly as @MrGrayCode described, thanks @MrGrayCode for the help! This is the standard behavior for all models in torchvision.

Let us know if you have further questions

[2020-02-27 19:34] #1891 closed

[2020-02-27 19:36] fmassa commented on #1712
@SaschaHornauer we follow the CUDA support from PyTorch, which is the last minor version of the two last major versions IIRC

[2020-02-27 19:40] fmassa commented on #1894
Hi,

I believe we have answered your question in https://github.com/pytorch/vision/issues/1895#issuecomment-590911388

Let us know if you have further questions and sorry for the delay in replying!

[2020-02-27 19:40] #1894 closed

[2020-02-27 19:42] fmassa commented on #1888
It is slow because it loads and performs the full transformations in your dataset.

You can make it faster computing it once and then caching it in a file.

[2020-02-27 19:42] #1888 closed

[2020-02-27 19:57] fmassa commented on #1870
Your reasoning seems correct, and looks like the behavior of division-by-zero might not be specified in the C++ standard, but is instead compiler-dependent. Good to know :-)

[2020-02-28 03:55] fmigneault commented on #1906
@fmassa
Not too sure if the failing build steps are related?
If so, guidance would be appreciated as I didn't touch python parts, so I don't know how it leads to this.

[2020-02-28 06:00] #1916 closed

[2020-02-29 09:12] ahirner commented on #1566
I think the error only pertains custom builds not current wheels? We don't use them either so it would be good to repro the case with official builds and open a new issue if it is @fmassa

[2020-03-01 09:37] duskybomb opened #1925 "module 'torchvision' has no attribute '__version__' [0.4.2]"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1. `print("Torchvision Version: ",torchvision.__version__)`

AttributeError: module 'torchvision' has no attribute '__version__'

## Environment

 - PyTorch / torchvision Version (e.g., 1.0 / 0.4.0): pytorch: 1.3.1, torchvision: 0.4.2
 - OS (e.g., Linux): Ubuntu 19.10
 - How you installed PyTorch / torchvision (`conda`, `pip`, source): c

[2020-03-01 11:32] KaiHoo opened #1929 "cannot use group norm in torchvision API"
## 🐛 Bug

Cannot use nn.GroupNorm for "norm_layer" in torchvision.models.resnet50. However, nn.GroupNorm is supposed to be OK since there are codes to initialize the weights of nn.GroupNorm in the resnet50 file.

## To Reproduce
[code]
## Expected behavior

Both nets should be OK, however the second raised an error in torchvision/models/resnet.py line 143. nn.GroupNorm should have two arguments.

[2020-03-01 16:31] FHellmann opened #1926 "Support for different pooling options with Faster R-CNN"
I've been trying to setup a Faster R-CNN network to detect lesions on CT images.

Therefor I wanted to use the FasterRCNN class which is provided by torchvision. However, I've noticed that the framework is very great except for the supported pooling (roi_box_pooling). The pooling only allows a [MultiScaleRoIAlign](https://github.com/pytorch/vision/blob/master/torchvision/models/detection/faster_rc

[2020-03-01 18:46] avalonliberty opened #1927 "The kernel size of third branch of Inception module of GoogLeNet"
Hi - I was reading the model of your GoogLeNet implementation, and I found that third branch of Inception module has a kernel size 3 instead of 5. I believe that this is an typo since the argument is 5x5red and 5x5 as well.

[2020-03-02 20:17] hfaghihi15 commented on #1001
@fmassa how can we transform the result of the selected ROIs to the 2048 vector size using just the first layer of the pre-trained network.

[2020-03-02 21:27] hfaghihi15 commented on #1001
Hi
I am dealing with the same issue and I am trying to get the 2048 vector representations out of this pre-trained model. I used the code you introduced here to get the ROICs but I am wondering how to get the actual representations with this approach.  Can you help me @fmassa?

[2020-03-02 22:30] MLaurenceFournier opened #1930 "Summary of TorchScript and ONNX support"
Hi,
Is there a summary somewhere of the current state of support for TorchScript and ONNX by the models in this repo? A complete summary would include the version of support for both CPU and GPU.

I'm mostly interested in FasterRCNN but I got confused looking around the related issues. I suppose a general summary could save time to other end users.

[2020-03-02 22:45] tmabraham opened #1931 "torchvision.io.video.read_video pts units for video only"
If the `pts_unit='pts'` for the function `torchvision.io.video.read_video` we get a warning:

    The pts_unit 'pts' gives wrong results and will be removed in a follow-up version.
    Please use pts_unit 'sec'.

Looking through an [earlier issue](https://github.com/pytorch/vision/issues/1221) regarding this, the usage of `pts` is only wrong if accurate AV sync is needed. So does that mean if I on

[2020-03-03 07:55] pmeier commented on #1927
Duplicate of #906. @fmassa I'll send a PR with a code comment later, since it appears that has never been done.

[2020-03-03 09:19] buxpeng opened #1933 "error"
Sorry to bother you here,I saw your comment at maskrcnn-benchmark, and I encountered the following error, even using boxlist[[0]] is the same error, can you help me please? Thank you!
![image](https://user-images.githubusercontent.com/53242456/75760743-bc98b200-5d72-11ea-800f-a6cc055db20b.png)

[2020-03-03 11:16] SeniorCtrlPlayer opened #1953 "roi_pool is seem to be different from which in FasterRCNN"
[code]
i expect that out would be [[10 12],[26 28]]
but it's [[26 26],[26 28]]
and, i try more
[code]
out is
[[4.373779945881600000e+15	4.373779945881600000e+15],
[4.373779945881600000e+15	4.373779945881600000e+15]]
that is so werid, i think roi_pool should be like [this](https://deepsense.ai/region-of-interest-pooling-explained/)

cc @fmassa

[2020-03-03 16:40] dsandii opened #1934 "torchvision.models.detection.fasterrcnn_resnet50_fpn has loss_rpn_box_reg exploding to nan after evaluation"
## 🐛 Bug / Misuse?
I'm attempting to use `torchvision.models.detection.fasterrcnn_resnet50_fpn` on a custom dataset, following along with the [Detection Finetuning Tutorial](https://pytorch.org/tutorials/intermediate/torchvision_tutorial.html) where applicable.

However, I consistently have an issue where the loss of `loss_rpn_box_reg` appears to rapidly explode, but _only_ after the first epoch h

[2020-03-03 21:42] cpuhrsch commented on #1927
Closed due to duplicate

[2020-03-03 21:42] #1927 closed

[2020-03-04 02:17] jerryzh168 opened #1936 "googlenet is not scriptable?"
## 🐛 Bug

Looks like googlenet is not scriptable

## To Reproduce

[code]
got:
[code]
## Expected behavior

googlenet should be scriptable

## Environment

Collecting environment information...
PyTorch version: 1.5.0a0+5c30f1f
Is debug build: No
CUDA used to build PyTorch: None

OS: CentOS Linux 7 (Core)
GCC version: (GCC) 7.3.1 20180303 (Red Hat 7.3.1-5)
CMake version: version 3.15.4

Python vers

[2020-03-04 02:17] jerryzh168 commented on #1936
cc @eellison

[2020-03-04 07:04] SohamTamba opened #1937 "Comments for anchor generator class"
## 🚀 Feature
Add comments to the AnchorGenerator class.

## Motivation

Make the code easier to understand through commenting.

## Pitch

I suggest we add comments to the AnchorGenerator class to make the code easier to understand.

## Additional context

I'm trying to train a network for object detection and spent quite a few hours trying to understand the [Anchor Generator Class](https://github.

[2020-03-04 08:15] kradkahaddi commented on #1712
Hello,
Was this issue fixed? I am still getting an error here while importing torchvision. I am using version 0.4.2 (build channel: cuda100py37hecfc37a_0) and getting an Import error.

PIL version is 7.0.0 and build channel is py37hb39fc2d_0

Here are the pytorch versions and build channels
# Name                    Version                   Build  Channel
_pytorch_select           0.2

[2020-03-04 09:31] hugovk commented on #1712
@kradkahaddi It's fixed in [torchvision v0.5.0](https://github.com/pytorch/vision/releases/tag/v0.5.0).

[2020-03-04 10:36] Borda opened #1938 "Downloading MNIST dataset with torchvision gives HTTP Error 403"
## 🐛 Bug

I'm getting a 403 error when I try to download MNIST dataset with `torchvision` 0.4.2.

## To Reproduce

[code]

## Environment

* torch==1.3.1
* torchvision==0.4.2

## Additional context

https://app.circleci.com/jobs/github/PyTorchLightning/pytorch-lightning/6877

[2020-03-04 11:49] fmassa commented on #1925
Hi,

Can you try updating to version 0.5.0, and also update PyTorch to 1.4.0?

This works for me locally.

I'm closing the issue, but let us know if this still persists for you on the last version.

[2020-03-04 11:49] #1925 closed

[2020-03-04 12:01] fmassa commented on #1926
Hi,

You can use `MultiScaleRoIAlign` with a single scale (as in your illustration). There is an example on how to do it in the Object Detection tutorial, check https://pytorch.org/tutorials/intermediate/torchvision_tutorial.html#modifying-the-model-to-add-a-different-backbone

[2020-03-04 12:01] #1926 closed

[2020-03-04 12:11] fmassa commented on #1930
Hi,

TorchScript is supported for all models of torchvision, including Faster R-CNN and Mask R-CNN.

For ONNX, all models are also supported, with the caveat that for Faster R-CNN (and Mask/Keypoint R-CNN) your input shouldn't change the dimensions / batch size after it has been exported. This limitation is currently being worked on.

Let us know if you need any further information.

[2020-03-04 12:11] #1930 closed

[2020-03-04 12:13] fmassa commented on #1933
Hi,

This is an error in `maskrcnn-benchmark`, and not in `torchvision`.

But to answer your question, you can probably workaround this limitation by doing
[code]
instead of
[code]

[2020-03-04 12:13] #1933 closed

[2020-03-04 12:31] fmassa commented on #1936
Thanks for the catch!

This seems to be a problem when pre-trained weights are used, because the pre-trained weights do not have `aux` classifiers in https://github.com/pytorch/vision/blob/3b0b201a0939082477817513036ca4491c191347/torchvision/models/googlenet.py#L99-L101

I tried replacing the `del` in https://github.com/pytorch/vision/blob/3b0b201a0939082477817513036ca4491c191347/torchvision/model

[2020-03-04 12:32] #906 closed

[2020-03-04 12:32] fmassa commented on #1937
Yes please! If you could add more comments it would be great!

[2020-03-04 12:33] fmassa commented on #1712
As @hugovk mentioned, you will need to update torchvision to the latest stable release to fix this.

[2020-03-04 12:40] fmassa commented on #1938
Thanks for reporting! I can reproduce the issue locally, and downloading from the browser works.

I don't yet know what the root cause is though.

[2020-03-04 12:52] fmassa commented on #1938
I think we might need to pass `header` in the download_url` function https://github.com/pytorch/vision/blob/c3e2b018517dedcbda18462f5d3e62e1fd913003/torchvision/datasets/utils.py#L59-L100 according to https://stackoverflow.com/questions/13303449/urllib2-httperror-http-error-403-forbidden

cc @cpuhrsch @vincentqb @zhangguanheng66 for awareness

[2020-03-04 12:53] soumith commented on #1938
this is because the download links for mnist at https://github.com/pytorch/vision/blob/master/torchvision/datasets/mnist.py#L33-L36 are hosted on yann.lecun.com and that server has moved under CloudFlare protection.

@fmassa we need to maybe mirror and change the URLs to maybe the PyTorch S3 bucket or something

[2020-03-04 12:57] fmassa commented on #1929
Hi,

You can do it if you use a lambda for it, as follows:
[code]

[2020-03-04 12:57] #1929 closed

[2020-03-04 12:57] Borda commented on #1938
so could we make a hot-fix somehow?

[2020-03-04 12:59] fmassa commented on #1938
@Borda I haven't tried the current hotfix I mentioned, but I think it might be possible, would you be able to try it and send a PR? Otherwise I'll look into it early next week (I'm working towards ECCV deadline tomorrow)

And I would rather avoid hosting the datasets ourselves, as this would give precedence on us storing the datasets.

[2020-03-04 13:01] #1906 closed

[2020-03-04 13:01] fmassa commented on #1906
@fmigneault the failing tests were unrelated to your change and have been fixed in the current version in master.

[2020-03-04 13:17] kradkahaddi commented on #1712
Thank you @fmassa and @hugovk, its working like a charm now!

[2020-03-04 13:19] dsandii commented on #1934
After further experimenting, this appears to actually only happen after running an evaluation step exactly as outlined in the tutorial.
`engine.evaluate(model, valid_loader, device=device)`
This doesn't make much sense to me, but I'll be looking into it.

[2020-03-04 14:25] eduardo4jesus commented on #1938
Anyway to have a quick fix without using the master?
I am concerned about the potential changes I have to do in my code for going from the version I am using (1.4.0) and the master.

[2020-03-04 14:41] FrancescoSaverioZuppichini commented on #1405
same problem here

[2020-03-04 14:43] dsteinar commented on #1405
@FrancescoSaverioZuppichini  see https://github.com/pytorch/vision/issues/1916

[2020-03-04 14:45] mvelebit commented on #1938
@eduardo4jesus You can explicitly add headers as stated above, something alike:
`opener = urllib.request.URLopener()
            opener.addheader('User-Agent', some_user_agent)
            opener.retrieve(
                url, fpath,
                reporthook=gen_bar_updater()
            )`
Worked for me.

[2020-03-04 16:07] eellison commented on #1936
Yep I’ll submit a fix

[2020-03-04 16:53] FrancescoSaverioZuppichini commented on #1405
Oh thank you, fixed :)

[2020-03-04 16:54] FHellmann commented on #1926
@fmassa thank you!

The implementation does work but the detection of the lesions never reached more than 0.12 for the box score. However, I also experience some trouble with the GPU support of this model. Even though I activate the cuda mode with ‘model.to(cudadevice)’ or ‘model.cuda()’ the call is not passed through to all sub-modules of the Faster R-CNN model. That results in the model running

[2020-03-04 18:05] MLaurenceFournier commented on #1930
Thank you!

Do you know since which version that support is provided? Personally, I'm still using version 0.4.2.

[2020-03-04 18:20] #1871 closed

[2020-03-04 18:44] nvcastet commented on #1938
To make it work for python 2 as well:
[code]

[2020-03-04 19:18] joergsimon commented on #1938
so for python 3 I now use the following snipplet:

`from torchvision import datasets
import torchvision.transforms as transforms
import urllib

num_workers = 0
batch_size = 20
basepath = 'some/base/path'
transform = transforms.ToTensor()

def set_header_for(url, filename):
    opener = urllib.request.URLopener()
    opener.addheader('User-Agent', 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_3) App

[2020-03-04 20:13] fatihbeyhan commented on #1938
I've just got the same problem. Waiting for the answer without changing codes... (ROOKIE ALERT)

[2020-03-05 01:17] knamdar commented on #1938
Clone this to your working dir:
https://github.com/knamdar/data

[2020-03-05 03:09] buxpeng commented on #1933
sorry，I used it wrong，Can you help me？my torch is 1.0 no use cuda ,The code I run is here： https://github.com/facebookresearch/vilbert-multi-task/blob/master/script/extract_features.py
![image](https://user-images.githubusercontent.com/53242456/75943938-5bd3bb80-5ed1-11ea-9c2d-1127162b46c2.png)

[2020-03-05 04:24] n-makarin commented on #1938
I've the same issue when I'm trying to get datasets:
`import torch
import torchvision
from torchvision import transforms, datasets

train = datasets.MNIST("", train=True, download=True,
                       transform=transforms.Compose([transforms.ToTensor()]))

test = datasets.MNIST("", train=False, download=True,
                      transform=transforms.Compose([transforms.ToTensor()]))`

[2020-03-05 04:25] n-makarin commented on #1938
I've the same issue when I'm trying to get datasets:
`
import torch
import torchvision
from torchvision import transforms, datasets

train = datasets.MNIST("", train=True, download=True,
transform=transforms.Compose([transforms.ToTensor()]))

test = datasets.MNIST("", train=False, download=True,
transform=transforms.Compose([transforms.ToTensor()]))
`

[2020-03-05 04:26] n-makarin commented on #1938
I've the same issue when I'm trying to get datasets:
[code]

[2020-03-05 08:29] huyu398 commented on #1033
I'm using cntlm for passing download on proxy env.
I tried above settings to urllib, but torchvision raised HTTPError following.

[code]

My script is following.

[code]

Could you help me?

[2020-03-05 08:39] pmeier commented on #1033
Citing from [here](https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/407):

This error is thrown before you even reach the download server. Thus, the proxy server you are using probably requires credentials, i. e. username and password. I suppose you need to use a [`ProxyBasicAuthHandler`](https://docs.python.org/3.0/library/urllib.request.html#urllib.request.ProxyBasicAuthHandler) instead

[2020-03-05 12:20] robotrovsky commented on #1910
@fmassa i have the same problem following example code from torchvision/models/detection/mask_rcnn.py:

[code]

Results in:

[code]

[2020-03-05 12:34] joergsimon commented on #1938
The problem ist that Yann LeCun’s side changed hoster if I got it right, and this one checks if the HTTP headers are set.

I currently work around with the following code:

from torchvision import datasets
import torchvision.transforms as transforms
import urllib

num_workers = 0
batch_size = 20
basepath = 'some/base/path'
transform = transforms.ToTensor()

def set_header_for(url, filename):
    o

[2020-03-05 12:36] bjuncek commented on #1931
@tmabraham yeah - all the models were trained using `pts` and in principle there is nothing wrong with it if you don't care about seeking into a particular parts of the video and accurate AV sync (and if you do, you're probably using `read_video` function which has `pts_unit` option).

We trained all benchmark models using the `pts` and the results are comparable to the benchmarks.

I believe @fma

[2020-03-05 12:47] bjuncek commented on #1884
Hello and thank you for the thorough analysis.

This issue seems like a corrupted file, but as you say, FFMPEG info looks ok.
Have you tried using a different backend ('video_reader' vs 'pyav')? That saved my ass in one case at least.

Best,
Bruno

[2020-03-05 12:49] #1602 closed

[2020-03-05 13:06] hurricane013 opened #1943 "Attempted to read a PyTorch file with version 3, but the maximum supported version for reading is 2. Your PyTorch installation may be too old. (init at ../caffe2/serialize/inline_container.cc:132)"
I have created .pt file of keypoint_rcnn using torch=1.5 and vision=0.6.0 now trying to integrate it with my android app. The error I am getting is as below.

`E/AndroidRuntime: FATAL EXCEPTION: main
    Process: org.pytorch.helloworld, PID: 15691
    java.lang.RuntimeException: Unable to start activity ComponentInfo{org.pytorch.helloworld/org.pytorch.helloworld.MainActivity}: com.facebook.jni.Cpp

[2020-03-05 13:07] hurricane013 commented on #1943
Process: org.pytorch.helloworld, PID: 15691
    java.lang.RuntimeException: Unable to start activity ComponentInfo{org.pytorch.helloworld/org.pytorch.helloworld.MainActivity}: com.facebook.jni.CppException: version_ <= kMaxSupportedFileFormatVersion INTERNAL ASSERT FAILED at ../caffe2/serialize/inline_container.cc:132, please report a bug to PyTorch. Attempted to read a PyTorch file with version 3

[2020-03-05 14:17] liu-zhenhua opened #1944 "Use the pretrained model of ResNet50 on ImageNet, the val acc is 4% less than reported."
As the title mentioned, anyone have met the same issue?Thx!

[2020-03-05 14:57] dsandii commented on #1934
Could this be some low-level CUDA issue with multiprocessing and/or moving modules between CPU and GPU caused by my environment?

I was able to train a model w/o training-time evaluation and the results look good, so everything otherwise looks right.

[2020-03-05 16:28] eduardo4jesus commented on #1938
@nvcastet, Thank you so much for the clarification. At that point I misunderstood that I would have to go into `Torchvision` library and change one of its internal files.

What would be not a smooth move on Colab/Kaggle.

[2020-03-05 16:51] fmassa commented on #1938
This should have been fixed now, there is no need to update torchvision.
This was fixed on the server hosting the dataset.

As such, I'm closing this issue but let us know if you still face this issue.

[2020-03-05 16:51] #1938 closed

[2020-03-05 17:55] fmassa commented on #1944
Hi,

Did you put the model in `.eval()` mode?
ResNet has batch normalization, which during training changes the statistics of the output and can lead to different reported results.

[2020-03-05 21:24] tmabraham commented on #1931
@bjuncek Thanks for the clarification. To confirm, the 'pts' option will not be removed in a future release?

[2020-03-06 01:04] shuxp commented on #1893
Sorry for replying late. As I am out of work,I lost all envs in the server. I will try to reimplement this issue later...

close this issue...

[2020-03-06 01:04] #1893 closed

[2020-03-06 04:12] chenliu0831 opened #1945 "Pre-trained detection models for PyTorch Hub"
## 🚀 Feature
First of all, thanks for the amazing work.

I noticed currently there's no pre-trained detection models exposed via `hub_conf.py`. It looks like the building blocks are already there. Is there plan to support it?

Thanks

## Motivation

Increase coverage of supported vision tasks via Torch Hub.

## Pitch
- entrypoints for detection models are added to `hub_conf.py`
- some helpers e.g.

[2020-03-06 06:21] trevoravant opened #1946 "include classification labels in pretrained models"
## 🚀 Feature

Include classification labels in pretrained models

## Motivation

Let's say I want to use one of Torchvision's pre-trained classification networks, e.g. `torchvision.models.alexnet(pretrained=True)`.  The AlexNet model has 1,000 outputs which correspond to specific classes (i.e. the ImageNet 1,000 classes). To the best of my knowledge, the class labels (e.g. snail, basketball, banan

[2020-03-06 09:37] liyiwei979621500 commented on #1568
I met the same error
[code]

[2020-03-06 09:43] liyiwei979621500 commented on #1568
@fmassa I have a question.
What do you mean by "corrupted"?
I am manually set some part of my image to 0.
 Is this what you said "corrupted"?
I also notice that in the reply of @mattans there are ares of 1
Many thanks

[2020-03-06 11:36] liu-zhenhua commented on #1944
Thanks for the reply. I have checked the code and I did put the model in '.eval' model. I forgot to mention that I resize the images to 256*256 in local. Do you think this may has an influence on the result? Thanks again.

[2020-03-06 12:43] Dirtybluer commented on #729
@fmassa Sorry to bring it up after this issue is closed.
I also find the name "**downsample**" a bit confusing and misleading. I think it'd probably be better to name it as "**project**" according to descriptions below in Kaiming He's original paper:

And I can't tell why it would be a big breaking change. Shouldn't it be as easy as refactor all "downsample" as "project"? Maybe I miss some key poi

[2020-03-06 20:31] jerryzh168 opened #1948 "InceptionE should use different instances of FloatFunctional"
https://github.com/pytorch/vision/blob/master/torchvision/models/quantization/inception.py#L138-L166
We need to use different instances of FloatFunctional at each invocation of cat

[2020-03-06 20:33] jerryzh168 commented on #1948
need to modify this code and requantize and update the model
cc @raghuramank100 @hx89 @z-a-f

[2020-03-08 13:42] r-zenine commented on #1326
Hi @fmassa ,

Here is a first fix for linux_wheel pipelines.
https://github.com/pytorch/vision/pull/1950

Thanks

[2020-03-09 01:03] kentaroy47 commented on #1854
raised PR 👀

[2020-03-09 09:27] FrancescoSaverioZuppichini opened #1952 "FastRCNNPredictor doesn't return prediction in evaluation"
## 🐛 Bug

Dear all,

I am doing object detection in an image with one class. After training, `FastRCNNPredictor` does not return anything in validation mode. I have followed this official tutorial https://pytorch.org/tutorials/intermediate/torchvision_tutorial.html.

Thanks.

## To Reproduce

Steps to reproduce the behavior:

I have created a custom dataset, this is one of the output:

[code]
To p

[2020-03-09 18:05] isalirezag commented on #1853
@fmassa Just a gentle reminder regarding the pretrained models for FCN50 and Deeplabv3 :)

[2020-03-09 19:32] iantimmis commented on #1598
+1 Would love a solution for this as well.

[2020-03-09 22:42] mknw commented on #1827
I incur in the exact same problem,
both pytorch and torchvision installed with:
`pip install --pre torch torchvision -f https://download.pytorch.org/whl/nightly/cu101/torch_nightly.html`
Any idea why?

[2020-03-09 23:23] gvashishtha commented on #1916
Still having this issue on Windows subsystem for Linux, same repro as the Python 3.8 steps above. The workaround suggested above doesn't work on WSL. Any ideas?

[2020-03-10 01:20] kentaroy47 commented on #1944
@liu-zhenhua
the convolution filters and average pooling will act different if you choose a different size than the trained resolution (224x224).
Can you check if the accuracy change if you resize to 224x224?

[2020-03-10 10:25] mknw commented on #1827
I'm encountering the same problem on a linux server, nightly installed with pip:
`pip install --pre torch torchvision -f https://download.pytorch.org/whl/nightly/cu101/torch_nightly.html`

Solved by switching to python 3.7 (was 3.8 before).

[2020-03-10 10:29] fmassa commented on #1936
Fixed via #1949

[2020-03-10 10:29] #1936 closed

[2020-03-10 10:32] fmassa commented on #1827
@mknw can you open a new issue with the problem you are facing? From the description it seems that Python 3.8 with CUDa 10.1 is not working for our pip binaries, is that correct?

Can you also post when you tried downloading the binaries, and which version they are?

[2020-03-10 10:33] bjuncek commented on #1931
My understanding is that it will remain as is, the only thing to change will be the default option.

[2020-03-10 10:34] fmassa commented on #1948
Fixed via https://github.com/pytorch/vision/pull/1954

[2020-03-10 10:34] #1948 closed

[2020-03-10 10:36] fmassa commented on #1944
@liu-zhenhua Having the images be in 256x256 should not make the final val accuracy to be of only 4%, although it can have some impact.

I suspect it's an user error somewhere, but without more information it is impossible for us to find what the issue is.

Can you use the evaluation code from `references/classification` to test the pre-trained resnet50 model on imagenet?

[2020-03-10 10:39] fmassa commented on #1854
Thanks for the PR @kentaroy47 !

[2020-03-10 10:59] fmassa commented on #729
@Dirtybluer renaming the variables wouldn't be a big change, but imagine that a user was getting the output of the `downsample` layer as follows:
[code]
now this code stops working, and any other checkpoints that all the users have saved based on top of torchvision resnet will also stop working, which constitutes a BC-breaking change.

Given how often resnet is used, and how disruptive it would be

[2020-03-10 11:01] mknw opened #1956 "pytorch-nightly not working with cuda if python==3.7"
I've been trying to install the nightly version of pytorch and torchvision because that seems to fix a [few things](https://github.com/pytorch/pytorch/pull/33073), but only cpu mode works.

Steps
1.a `conda create --name night37 python=3.7` create virtualenv (python 3.7)
1.b `conda activate night37`
1.c load cuda `module load cuda10.1`
2. `conda install pillow==6.2.1 tqdm ipython`
3. `conda instal

[2020-03-10 11:14] Dirtybluer commented on #729
@fmassa Rather clear explanations, thx!

[2020-03-10 12:33] fmassa opened #1957 "Improve error-checking in RoIPool / Align"
Originally reported in https://github.com/pytorch/vision/issues/1953

We should raise an error if the box tensor that is fed to `roi_align` / `roi_pool` is `Nx4`. It should be `Nx5` after conversion. This will make it easier for users to spot misuse.

cc @zhangguanheng66

[2020-03-10 12:34] fmassa commented on #1953
Hi,

Thanks for the report. The issue is that you are wrongly passing `boxes` to `roi_align`: it should either be a `Nx5` tensor or a list of `Nx4` tensors.

You obtain the expected result if you do
[code]
which gives the expected result
[code]

This is something that I believe we should improve in the error checking, so that users have an error if they pass an unexpected input to the model.

I've

[2020-03-10 12:34] #1953 closed

[2020-03-10 12:37] fmassa commented on #1945
Hi,

Adding the detection models in `hub_conf.py` wouldn't be enough in general, because those models require custom C++ / CUDA ops which are only present in torchvision.
Given that TorchHub doesn't compile the repos it clones, we wouldn't have a full-fleshed detection model with the current setup for TorchHub.

ccing @ailzhang to see if there are other options.

[2020-03-10 12:38] fmassa commented on #1956
Thanks for the bug report!

@seemethere do you know what might be the issue?

[2020-03-10 12:57] fmassa commented on #1952
Hi,

I believe you haven't trained for enough iterations to be able to see the model converge, specially because you are not using a pre-trained model but instead are training it from scratch, which requires a lot of iterations.

I would recommend following the fine-tuning steps in the tutorial that you pointed out, as you'll probably see better and faster results on limited data.

I'm closing the

[2020-03-10 12:57] #1952 closed

[2020-03-10 13:00] fmassa commented on #1033
Thanks @pmeier for the help!

[2020-03-10 13:01] #1937 closed

[2020-03-10 13:02] FrancescoSaverioZuppichini commented on #1952
Hi @fmassa,

Thanks :)

The tutorial was followed correctly. The loss is correctly decreasing during training and I see no problem at all. In this case, no output means to bbox. I will use the pre-trained weights and train the model for a longer time.  In the meantime, could you be so kind to have a look at the code I have attached? Maybe I missed something.  One last question, should I resize the

[2020-03-10 14:12] chenliu0831 commented on #1945
Gotcha. Related, I think Fairseq actually is doing some [Cython compilation](https://github.com/pytorch/fairseq/blob/master/hubconf.py#L30) inside their `hubconf.py`.  Might be an option if the custom op compilation is fast.

[2020-03-10 14:18] cnd opened #1958 "Error building C++ backend"
first I get:

[code]

if I fix it by manually changing makefile and replacing `-D_GLIBCXX_USE_CXX11_ABI=` with `_GLIBCXX_USE_CXX11_ABI=1` I get another errors:

[code]

[2020-03-10 14:47] fmassa commented on #1933
You should open an issue in https://github.com/facebookresearch/vilbert-multi-task/ most probably, as it's not related to torchvision, and I'm not sure I'd be able to help you with your question (I've never seen that repo before)

[2020-03-10 14:49] fmassa commented on #1910
@robotrovsky can you try updating pytorch and torchvision to a nightly version, I think there might be a clash somewhere in your environment.

[2020-03-10 14:51] fmassa commented on #1945
@chenliu0831 understood, that could be a solution for it, although I'm not sure if we should be doing any compilation in the torchhub setup, as it would take a long time to run.

[2020-03-10 14:53] fmassa commented on #1952
The code seems correct to me.

You don't need to resize the image to 224, just make sure your images are in 0-1 range in RGB, and the model will rescale them internally for you

[2020-03-10 14:57] fmassa commented on #1926
Hi,

Training Faster R-CNN takes a long time, so maybe you might need more iterations before you can see it working well.

Also, I'm not sure I understand the CPU / CUDA problem you mentioned. If your code was able to run on the CPU, then all its modules were on CPU because PyTorch doesn't do automatic device casting.

[2020-03-10 15:02] FrancescoSaverioZuppichini commented on #1952
The model will internally resize the image and the bboxes to (480, 640, C), COCO format?

[2020-03-10 15:06] FrancescoSaverioZuppichini commented on #1952
Using a pretrained network as follows:

[code]
And trainig the network as showed in the first post I get the following output:

[code]

but still,

[code]

pred is still empty

[code]

Any idea? Thanks .

On my side, I have rechecked the type of the inputs and they are correct. An example of one item in the dataset is:

[code]

I am not sure about `iscrowd`.

[2020-03-10 16:04] fmassa commented on #1943
Hi,

I suppose you are trying to use torchscript to convert the model to mobile, is that correct?

I suspect that this might not work out-of-the-box currently, because PyTorch mobile doesn't yet support using operators registered outside of PyTorch (like `roi_align` in torchvision).

@dreiss is that still the case?

[2020-03-10 16:09] fmassa commented on #1952
@FrancescoSaverioZuppichini I think I see the issue: the label for your object is 0, but Faster R-CNN considers value 0 as background. If you make the label be 1, it should work fine.

This is illustrated in the detection tutorial you mentioned, see the dataset line:

[code]

But I agree it can be a bit tricky to spot this. I would happily accept a PR improving the documentation mentioning that th

[2020-03-10 16:12] fmassa commented on #1930
@MLaurenceFournier this is supported since version 0.5.0, see the release notes https://github.com/pytorch/vision/releases

[2020-03-10 16:12] dreiss commented on #1943
Yes, but I think this issue is unrelated.  It's just due to a change in the serialization format (which I think was reverted).

[2020-03-10 16:16] fmassa commented on #1943
Ok, following @dreiss comment, if you update PyTorch and torchvision this issue should go away, but you'll still have issues exporting keypoint-rcnn to mobile.

[2020-03-10 16:16] shreyaskamathkm opened #2817 "Deformable convolution fails when batch size is more than 32?"
## 🐛 Bug

Deformable convolution fails when batch size is more than 32. To check if this is a regular behavior, it was tested against the implementation provided in [mmdetection](https://github.com/open-mmlab/mmdetection). That implementation works for any batch size.

Trace:

[code]
## Expected behavior

[code]

## Environment Information:

[code]

cc @ngimel @fmassa @vfdev-5

[2020-03-10 16:19] fmassa commented on #1568
@liyiwei979621500 by corrupted I mean that some elements of your input are `NaN`. That's my current best guess

[2020-03-10 16:59] Sstrap commented on #1899
Got the same error in ubuntu 16.04, do you have any update, thoughts or solution on this ?

[2020-03-10 17:08] liyiwei979621500 commented on #1568
@fmassa I have solved my problem. I guess it is caused by broken model pkl file

[2020-03-10 17:21] seemethere commented on #1956
This seems fine to me? I cannot reproduce on my local machine

[code]

Could you print the output of:
[code]

[2020-03-10 17:24] ailzhang commented on #1945
@fmassa IMHO it's worth adding to make the detection models more accessible. Users will build for the first time, but as we cache the build, they should be good until they force a rebuild.

[2020-03-10 19:14] tmabraham commented on #1931
@bjuncek Sounds good. Thanks!

[2020-03-10 19:14] #1931 closed

[2020-03-10 19:37] kirk86 opened #1959 "Allow for torchvision models to pass dropout rate in the constructors"
## 🚀 Feature

The current definition of models in torchvision (e.g. vgg) does not allow the user to pass a dropout rate in the model's constructor. We can pass in arguments like batch_norm, pretrained, etc. but cannot pass in user defined dropout rates.

## Motivation
There's no simple way to modify current torchvision models without copy-pasting the whole definition and changing it.
I'm referring

[2020-03-10 20:13] mknw commented on #1956
Just made a new virtual env, ssh'd in the compute node and loaded cuda10.1 just to make sure everything was in place.
minimal steps pertaining python are:
1. conda create --name testenv python=3.7
2. conda install pytorch torchvision cudatoolkit=10.1 -c pytorch-nightly
3. python -c 'import torch; print(torch.__version__);print(torch.cuda.is_available())'
`out: 1.3.1, False`
(I guess I could have c

[2020-03-10 20:48] seemethere commented on #1956
This looks to be related to the conda uploads failing and our pruner pruning all nightlies available for linux for `torchvision`.

I have submitted #1960 which should resolve the nightly uploads and will solve this issue.

[2020-03-10 22:55] SangbumChoi commented on #1899
@Sstrap Some suggestion on online offers to downgrade torchvision to 0.2.2 however my current version is 0.5.0 and need some utils in order to run my python script so at this moment I couldn't find any solution for this.

[2020-03-11 03:28] KaiHoo commented on #1757
@fmassa Hi, I also found the problem that the reported error rates for ResNet50 and ResNet101 in the official torch vision website(https://pytorch.org/docs/stable/torchvision/models.html#classification) is higher than our re-trained results.  For example, group normalization reported a 22% top 1 error rate of  ResNet101 on ImageNet, which is 0.63% lower (I did the experiments and 22% can be achiev

[2020-03-11 04:49] vainaijr opened #1962 "addition of computer generated reality dataset to torchvision"
## 🚀 Feature

in the current scenario, all the datasets that torchvision has are of physical reality, there is no dataset of computer generated reality, I think a bit more priority needs to be given to computer generated reality dataset.

## Motivation

computer generated reality resolution is doubling, so people spend more and more time in such realities, for example, game reality or watching ani

[2020-03-11 07:50] PKQ1688 opened #1963 "have some problem when make torchvision"
## ❓ Questions and Help

### Please note that this issue tracker is not a help form and this issue will be closed.

We have a set of [listed resources available on the website](https://pytorch.org/resources). Our primary means of support is our discussion forum:

- [Discussion Forum](https://discuss.pytorch.org/)

[2020-03-11 07:51] adolf69 commented on #1963
/vision/torchvision/csrc/cpu/video_reader/FfmpegHeaders.h:4:10: fatal error: libavcodec/avcodec.h: No such file or directory
 #include <libavcodec/avcodec.h>
          ^~~~~~~~~~~~~~~~~~~~~~
compilation terminated.
error: command 'gcc' failed with exit status 1

[2020-03-11 08:23] hurricane013 commented on #1943
Yes @fmassa  you are correct. I used pytorch 1.4 snapshot as a dependency, above error disappeared. But still I am getting build failed that even without showing any error. Now I am confused with what should be exact issue.

[2020-03-11 09:10] borijang commented on #1899
Had the same problem on Windows 10.
I didn't manage to solve it, but I can confirm that it works when downgrading torchvision to 0.2.2.

[2020-03-11 09:40] peterjc123 commented on #1956
@mknw Something unrelated: Looks like you didn't activate the new environment and the packages are install in the base environment.

[2020-03-11 10:37] songyuc opened #1964 "The simplest way to use checkpoint to maximize the GPU memory usage"
## ❓ The simplest way to use checkpoint to maximize the GPU memory usage

Hi, guys,
I am learning about how to use the checkpoint to optimize the GPU memory usage, and I see there is a example in [densenet.py](https://github.com/pytorch/vision/blob/216035315185edec747dca8879d7197e7fb22c7d/torchvision/models/densenet.py#L53) as
[code]
Firstly, I think using checkpoint to maximize the GPU memory usa

[2020-03-11 11:38] mknw commented on #1956
@peterjc123 I don't think that's the case
@seemethere glad I could help!

[2020-03-11 11:38] #1956 closed

[2020-03-11 13:04] fmassa commented on #1757
@KaiHoo the resnet-pretrained models didn't use the zero-initialization trick, and we don't provide pretrained models with group-normalization in torchvision.

[2020-03-11 13:08] fmassa commented on #1945
We could try adding support for it, although it will require users to have a C++ compiler + nvcc (if using GPUs), which might not always be the case, so we would need to give good error messages in those cases.

[2020-03-11 13:09] fmassa commented on #1964
Hi,

We use GitHub to track features / bug requests.
Questions like this are better suited for the discussion forums http://discuss.pytorch.org/, could you post your question there?

Thanks!

[2020-03-11 13:09] #1964 closed

[2020-03-11 13:12] fmassa commented on #1956
Thanks @mknw @peterjc123 and @seemethere for the help!

[2020-03-11 13:13] fmassa commented on #1943
@hurricane013 as I mentioned in the above post, we currently do not support exporting keypoint-rcnn to mobile yet unfortunately, but support for it will be added in future releases.

[2020-03-11 13:17] fmassa commented on #1963
Hi,

It looks like you don't have ffmpeg available in your system, or the include files are not in the expected directory.

Can you give more information about your system?

Also, if you don't need ffmpeg and the video reading functionality, you can just disable this branch https://github.com/pytorch/vision/blob/cca0c77a9ac5aa782b0811d850f246d73b0b4a1b/setup.py#L132
with a `False`, so that the vid

[2020-03-11 13:20] fmassa commented on #1568
@liyiwei979621500 thanks for the information.

I'm closing this issue as I suppose it's due to some corrupted data (either input or weights)
@mattans if you manage to provide a minimum working example that reproduces the error, please let us know.

[2020-03-11 13:25] fmassa commented on #1899
@SangbumChoi since the 0.5.0 release of torchvision, we don't use `@torch.jit.script` in `FrozenBatchNorm` anymore, but other parts of the code still use it.

I don't have any experience with pyinstaller, so I would expect that it might be better to open an issue in pyinstaller reporting the issue. There might be a flag that you can pass to pyinstaller to make it work with torchvision, but I'm not

[2020-03-11 13:31] fmassa commented on #1958
Hi,

What's your current setup? It looks like you are using gcc 9.2.0?

Also, this seems to be an issue in PyTorch compilation with your setup, so I think you might have more chance getting some help if you create an issue there

[2020-03-11 13:32] fmassa commented on #1958
cc @smessmer just in case you happen to know what's happening

[2020-03-11 13:33] fmassa commented on #1001
@hfaghihi15 which 2048 vector representation are you talking about? It all depends on which layer of the model you want to get it from, and with the approach pasted by @ananthpn you can get the output of any layer that you want

[2020-03-11 13:34] cnd commented on #1958
yes, gcc 9.2.0, pytorch itself 1.4.0 compiles fine.

[2020-03-11 13:37] fmassa commented on #1958
Thanks for the information. I'll see if someone with more experience with the dispatcher knows what is going on

[2020-03-11 13:41] Sstrap commented on #1899
FYI, I opened an issue on PyInstaller (https://github.com/pyinstaller/pyinstaller/issues/4740#issue-578771079).
The only workaround I found to make things work was to downgrade to torchvision 0.2.2 and manually add the code I needed. This is clearly a dirty solution, hopefully I will find something better in the future.

[2020-03-11 14:01] fmassa commented on #1959
Hi,

We encourage users to copy-paste and modify the code because the space of possible modifications / configurations is huge, and trying to expose every possible configuration would be hopeless and make the code much harder to understand.
For example, what is each element of `activations` in your case? is it per block? What if we want to change it inside a block?

That being said, it is possible

[2020-03-11 14:01] #1959 closed

[2020-03-11 14:05] fmassa commented on #1675
@AlexXXEL torchvision 0.5 matches PyTorch 1.4, and they should come together otherwise it won't work properly

[2020-03-11 14:30] kirk86 commented on #1959
Thanks for the reply.
I agree with all the scenarios you've raised and I'm in favour of simplicity rather than complexity, but my argument was that it makes it difficult to understand as it is what's the sole purpose of `**kwargs` in the signature definition of the method?

1.) As I understand it `**kwargs` is unpacked in into `init_weights`?
2.) Currently, is only used to unpack `num_classes=10,2

[2020-03-11 15:37] songyuc commented on #1964
Hi, @fmassa  Francisco,
in fact, I don't quite understand "Conv2d has intermediate activations", as far as I know, there is no activation function in Conv2d, which is a linear mapping operation.

[2020-03-11 15:56] pmeier commented on #1962
In general, we only feature datasets (and models) that have established themselves as standard for their specific case and are widely used.

I'm not familiar with the datasets you are describing, which makes it hard to assess if its worth to add them. Please provide some links for such datasets and in the same breath citations for prominent papers of this field that use them.

[2020-03-11 16:52] Dirtybluer commented on #191
I try to summarise:
1. implementation of ResNet in PyTorch does **differ** from the one in Kaiming He's original paper: it transfers the responsibility for downsampling from the first 1x1 convolutional layer to the 3x3 convolutional layer in `Bottleneck`.
2. This kind of variation is also known as "ResNet V1.5" as mentioned in  https://github.com/pytorch/vision/issues/1266, which seems to be defin

[2020-03-11 17:02] alibabadoufu commented on #1712
Work like a charm!

[2020-03-11 19:21] FrancescoSaverioZuppichini commented on #1952
@fmassa Thank you, it works! 🥳🥳

I will definitely create a PR and improve the doc over the weekend

[2020-03-12 01:53] KaiHoo commented on #1757
@fmassa Sorry I did not make myself clear. The reported ResNet101 error rate **with Batch Normalization** in the GN paper is 22.0% (https://arxiv.org/pdf/1803.08494.pdf page 6 _Deeper models_. They use a batch size of 32 per GPU and 8 GPUs. All other training settings are the same as shown in the torchvision training scripts.)

As a reference,  _Mixup: Beyond empirical risk minimization_ also show

[2020-03-12 02:07] nvs-abhilash commented on #1842
@fmassa I have created a PR #1966 for this issue. Please let me know if anything else is required.

[2020-03-12 07:59] ryzalk commented on #1574
This would be a great feature. Looking forward to it :)

[2020-03-12 09:17] adolf69 commented on #1963
thanks , I no need for ffmpeg at this time. I only use for image.

[2020-03-12 13:55] fmassa commented on #1757
Performance of resnet has gradually improved over time. The first officially-reported pre-trained weights for ImageNet for ResNet101 had a top1 error of 23.6, see https://github.com/KaimingHe/deep-residual-networks

So the zero-initialization trick (which was used in the GN paper) can give (on ResNet50) 0.5 top1 accuracy, see https://github.com/pytorch/vision/pull/498#issuecomment-398436396

[2020-03-12 13:59] Sstrap commented on #1899
Here are the workarounds I found to make things work.

### Solution 1: patch torchvision 0.2.2 (dirty and painful)
Pyinstaller works well with torchvision 0.2.2, thus if you do not use too many functionnalities of more recent version of torchvision, you can "patch" old torchvision 0.2.2 by adding the needed new tools. Note that this may need you first use compiled file of torchvision >= 3.0 (_C.so

[2020-03-12 14:04] chenliu0831 commented on #1945
Awesome, I'll take a shot.

[2020-03-12 14:27] #1842 closed

[2020-03-12 14:30] fmassa commented on #1952
Cool, looking forward to the PR improving the documentation!

[2020-03-12 15:57] dsandii commented on #1934
I've encountered what could be a related issue (there seems to be some overlap):

When trying to trace my checkpoint for export using `torch.jit.trace(model, image)` it fails with the following stack trace which seems to indicate some intermediate RPN tensors are on the CPU:

[code]

To be sure, I iterated through my model's named params to ensure none weren't on GPU, and nothing seemed wrong.

[2020-03-12 16:41] fmassa commented on #1326
Thanks for the PR @r-zenine !

I've added some comments, let me know what you think

[2020-03-12 16:42] fmassa commented on #1598
This will be fixed once https://github.com/pytorch/vision/pull/1911 gets merged

[2020-03-12 18:03] fmassa commented on #1964
What I meant by activation is that it has an output, and the output is stored in memory for backpropagation, and thus it is affected by `checkpoint`

[2020-03-13 02:05] WillieMaddox opened #1972 "RandomPerspective needs a fill option"
## 🚀 Feature
torchvision.transforms.RandomPerspective should have a fill option. Pad, RandomCrop, and RandomRotation all have a fill option.

[2020-03-13 07:29] AlexXXEL commented on #1675
ok，thank
---原始邮件---
发件人:"Francisco Massa"<notifications@github.com>
发送时间:2020年3月11日 星期三 下午10:6
收件人:"pytorch/vision"<vision@noreply.github.com>
抄送:"AlexXXEL"<2313294547@qq.com>;"Mention"<mention@noreply.github.com>
主题:Re: [pytorch/vision] RuntimeError: builtin cannot be used as a value(#1675)

@AlexXXELtorchvision 0.5 matches PyTorch 1.4, and they should come together otherwise it won't work proper

[2020-03-13 11:36] cnd commented on #1958
@fmassa was trying different pytorch build and then I get: `no member named 'bias' in 'torch::nn::ConvOptions`

[2020-03-13 12:44] Mercurialzhang opened #1977 "Program stuck when using models.inception_v3()"
When I create the model with `models.inception_v3()`, the program is completely stuck, it's okay with other models like `models.resnet50()`

My torch and torchvison version is 1.4.0 and 0.5.0.

Looking forward to your help.

[2020-03-13 13:06] fmassa commented on #1977
Hi,

Thanks for the bugreport! This is a duplicate of https://github.com/pytorch/vision/issues/1797

This has been fixed in latest version torchvision, via the `init_weights` argument, so one option would be to update torchvision (and pytorch) to a nightly version, or downgrading your scipy install

[2020-03-13 13:06] #1977 closed

[2020-03-13 13:10] fmassa commented on #1958
@cnd you probably hit an incompatibility of versions, as https://github.com/pytorch/vision/pull/1576 replaced `with_bias` by `bias`

[2020-03-13 13:12] fmassa commented on #1959
@kirk86 the `**kwargs` is there to make for a kind of unified API for the models. Its use depend on the models (for example, resnet doesn't have `init_weights` but have other arguments)

[2020-03-13 13:16] cnd commented on #1958
@fmassa it looks strange, I'm on 1.4 version of PyTorch and trying 0.5.0 vision, what versions I need to have compatibility?

[2020-03-13 13:22] fmassa commented on #191
@Dirtybluer a PR adding some comments to the resnet code would be great!

[2020-03-13 16:41] #1957 closed

[2020-03-13 23:01] xieshuqin opened #1982 "Missing second order derivatives for operations like RoIAlign and DeformConv"
## 🐛 Bug

The `RoIAlign` operation and `DeformConv2d` operation do not support second order derivatives right now. Thus when trying to compute higher order derivatives (a common case in meta learning), it raises an error.

A snippet to demonstrate this:
[code]

## Expected behavior

Compute second order derivatives for these ops as well.

## Environment

PyTorch version: 1.4.0
Is debug build: No
C

[2020-03-14 01:22] hx89 commented on #1948
Updated inception quantized model path in #1969 and updated quantized inception accuracy number in README.md via #1975.

[2020-03-14 11:22] nvs-abhilash commented on #1654
Hi @vadimkantorov . I would like to work on this issue, it will give me the opportunity to study datasets in torchvision. Please let me know if you are fine with it or if you are already working on it and would avoid the repetition of work.

cc @fmassa

[2020-03-14 18:44] fmassa commented on #1982
Hi,

Thanks for the bug report.
Indeed, torchvision operators do not currently support second-order derivatives.
It would be great to add support for it, but it would require quite some work, involving implementing things inn C++ / CUDA most probably.

The location for the current C++ kernels are in https://github.com/pytorch/vision/tree/master/torchvision/csrc

We would be happy to accept PRs add

[2020-03-14 21:30] xieshuqin commented on #1982
@fmassa
would you mind also pointing me where the second order derivative is achieved in modules like standard conv and what sort of api do I need to implement to support it? That would be very useful.

[2020-03-14 23:32] nkalavak commented on #1700
Not sure if this is still relevant but I ran into the same issue with numpy version 1.18.1 and the most recent pycocotools.

[2020-03-15 02:17] xieshuqin commented on #1982
I see, so it's basically write the backward call into another Function class that also has a backward function. I will try into implement one and do some test.

[2020-03-15 03:06] SangbumChoi commented on #1899
@Sstrap I will try second one and tell if it is work

[2020-03-15 05:37] soloist97 commented on #1308
@feipeng-wang Sorry to bother you, did you solve this problem? I have the same question with this part.

As the comment in `rpn.py` mentioned:
https://github.com/pytorch/vision/blob/505cd6957711af790211896d32b40291bea1bc21/torchvision/models/detection/rpn.py#L116

So more specifically I think the right logic here is something like below:
[code]

Any ideas? Thanks!

[2020-03-15 09:16] tzm1003306213 opened #1986 "Training scheme of the pretrained imagenet models?"
Hi,

Are the pretrained models reported by torchvision using the same hyper-parameters as https://github.com/pytorch/examples/blob/master/imagenet/main.py? I used the default hyper-parameters to train mobilenet_v2, but the results were much worse than reported.

Thanks

[2020-03-15 13:25] xieshuqin commented on #1982
Never mind, I realized it's basically converting current backward pass into a Function version.

[2020-03-15 17:29] ledinhtri97 commented on #1620
Hello, jinfagang

I run your script export nms_onnx. And output pt model and onnx model are different? Did you fixed and can convert NMS to tensorRT?

[2020-03-16 06:00] palver7 opened #1987 "Deformable convolutions for Equirectangular projected images"
## 🚀 Feature
PyTorch/TorchVision implementation of EquiConvs, a deformable convolution tailored to process [equirectangularly projected images](https://en.wikipedia.org/wiki/Equirectangular_projection), that is images produced by 360 degrees cameras.

## Motivation
With 360 degrees cameras or videos, one can capture a spherical 360 degree view, which then is projected to a 2D screen. One of the pr

[2020-03-16 15:53] fmassa commented on #1982
Hi,

Sorry for the delay. So, I think that for DeformableConv2d, the easiest would be to split it a bit further into the `unfold` / `im2col` and the matmul. The only ops that require custom double-backprop is `im2col`, as all the others already have it supported.
This would make it easier to implement.

[2020-03-17 04:13] feipeng-wang commented on #1308
@

It‘s been a long time. Seems the owner did make an update. So see if I could recall.
How do you set your anchor sizes?

[2020-03-17 09:42] fmassa commented on #1700
@nkalavak this should have been fixed with the latest installation of pycocotools. If you still face those issues, please open a new issue in the pycocotools repo

[2020-03-17 09:50] pmeier commented on #1986
You can find the training scripts for all `torchvision` models [here](https://github.com/pytorch/vision/tree/master/references). For classification this is the script you want

https://github.com/pytorch/vision/blob/master/references/classification/train.py

[2020-03-17 09:57] fmassa commented on #1987
Hi,

Thanks for the nice explanation, it was very clear!

If I understand it correctly, there is no need to change `DeformConv2d` in torchvision to implement this.

All you need is a function that maps the input into the offsets following the distortion rules that you want, and pass this to `DeformConv2d` I believe.

Here is one (toy) example:
[code]

Let me know what you think, but I believe for

[2020-03-17 09:57] #1987 closed

[2020-03-17 10:04] fmassa commented on #1986
As @pmeier mentioned, we also provide the default hyperparameters for the pre-trained models in torchvision under the `references` folder.
For `mobilenet_v2` we used https://github.com/pytorch/vision/tree/master/references/classification#mobilenetv2

[code]

Let us know if you have further questions

[2020-03-17 10:04] #1986 closed

[2020-03-17 10:06] fmassa commented on #1958
@cnd PyTorch 1.4 is compatible with torchvision 0.5.0, except if I missed something for the C++ API during the release.

[2020-03-17 10:45] two-names opened #1992 "Undefined reference to PSROIAlign_forward_cpu"
Hi! I want to achieve Inference of the script mask rcnn model on C++.
Following the instructions "Make maskrcnn scriptable" I've install TorchVision and Torch from source.
In Cmake of my application:
find_package(TorchVision REQUIRED)
find_package(Torch REQUIRED)
In cpp:
#include <torch/script.h>
#include <torch/torch.h>
#include <torchvision/vision.h>
#include <torchvision/PSROIAlign.h>

After th

[2020-03-17 10:48] fmassa commented on #1992
@bmanga do you know what the problem might be?

[2020-03-17 11:05] #1607 closed

[2020-03-17 21:01] bmanga commented on #1992
Hi @two-names, did you also do the following in your CMakeListst.txt?
[code]

[2020-03-17 21:27] two-names commented on #1992
Hi @bmanga !
`
project(custom_ops)
set(OpenCV_DIR /opencv-3.4.5/build/install/share/OpenCV/)
find_package(OpenCV REQUIRED)
set(Torch_DIR /torch_install_dir/share/cmake/Torch/)
find_package(Torch REQUIRED)
set(TorchVision_DIR /vision_install_dir/share/cmake/TorchVision/)
find_package(TorchVision REQUIRED)
find_package(Python3 COMPONENTS Development)
add_executable(example-app example-app.cpp)
targe

[2020-03-17 22:08] bmanga commented on #1992
Can you try changing
[code]
to
[code]
And see if that fixes the fixes the problem?

[2020-03-17 22:27] two-names commented on #1992
It works!!!
@bmanga , thank you for your help!!!

[2020-03-18 08:36] bmanga commented on #1992
@two-names no problem :)
Can you close the issue given that it's fixed?

[2020-03-18 14:12] mgbvox commented on #1712
Currently the following:
`conda install -c pytorch torchvision`
installs the following version of torchvision in my conda env:
`torchvision               0.4.2                  py37_cpu    pytorch`

Notably, this is NOT torchvision 0.5.0, and when I try:
`conda install -c pytorch torchvision==0.5.0`
Nothing happens.

[2020-03-18 14:12] mgbvox commented on #1712
UPDATE:
First downgrading pillow to 6.2.1 allowed conda install -c pytorch torchvision==0.5.0 to run.

[2020-03-18 14:14] mgbvox commented on #1712
UPDATE:
Following that step, upgrading pillow back to the latest version didn't break anything. Might be an issue with the conda SAT solver?

[2020-03-18 16:20] 17sarf commented on #1308
Not sure if this helps, but this is how I set my anchors/aspect ratios:

`anchor_generator = AnchorGenerator(sizes=tuple([(32, 64, 128) for _ in range(5)]), aspect_ratios=tuple([(1.0, 2.0) for _ in range(5)]))`

This method worked for me using a particular dataset, but not another one. Both datasets were for pedestrian detection.

[2020-03-18 16:57] kradkahaddi commented on #1712
From what I remember, I had to use the **pip install** method @mgbvox . For whatever reason, torchvision 0.5.0 wasn't available on conda when I tried and from what you seem to be saying, it still isn't. And be sure to specify the version of torchvision when you do. Hope this helps.

[2020-03-18 17:54] #1992 closed

[2020-03-19 04:32] harshbafna opened #1993 "FasterRCNN and MaskRCNN return different output on different cuda device in multi-GPU environment."
## 🐛 Bug

TorchVision's pre-trained object detection model like FasterRCNN and MaskRCNN return different output on different cuda device in multi-GPU environment.

## To Reproduce

Execute following  python script with different cuda device like "cuda:0", "cuda:1" etc.

[code]

## Expected behavior

These OD models should return similar BB for the detected objects in the input image.

## Environme

[2020-03-19 06:46] vivekdeepquanty opened #1994 "getting loss in nan"
if i am running with PennFudanDataset dataset then it's running but if i am changing dataset then i am getting this error .....

Epoch: [0]  [  0/155]  eta: 0:01:05  lr: 0.000037  loss: 3.9229 (3.9229)  loss_classifier: 0.9148 (0.9148)  loss_box_reg: 0.1397 (0.1397)  loss_mask: 2.8494 (2.8494)  loss_objectness: 0.0084 (0.0084)  loss_rpn_box_reg: 0.0107 (0.0107)  time: 0.4194  data: 0.0865  max mem

[2020-03-19 07:42] pmeier commented on #1994
Hi @vivekdeepquanty

Just from the console output I would say it is impossible to say what is going wrong.

That suggests that there is something wrong with the dataset you switched to. Have you verified that the dataset is behaving like you want it to?

---

Next steps:

1. Strip down every complexity in your code that is not needed to reproduce the error.
2. If you think that the behavior is a b

[2020-03-19 08:21] vivekdeepquanty commented on #1994
Thanks@pmeier

I had not modified any thing in code even no of class is also 2 only change is i am using my custom dataset.
When i am using PennFudanDataset code is working fine.

[2020-03-19 08:30] pmeier commented on #1994
What code are you using?

When i am using PennFudanDataset code is working fine.

This implies that your custom dataset is not working as intended. Please check this first.

[2020-03-19 10:36] magamba commented on #1986
Hello,

I have a similar issue. I am using pretrained AlexNet and VGG models from torchvision for a scientific paper and, in order to interpret my results, I would like to know how the models were trained. I have checked [here](https://github.com/pytorch/vision/tree/master/references/classification) as suggested, but I am unable to find any reference to VGG19, its shallower variants, and AlexNet.

[2020-03-19 10:40] pmeier commented on #1986
I expect these models were trained with the default parameters given in [`train.py`](https://github.com/pytorch/vision/blob/cc43e0a98368055d7a661651a2b9dbf28a19e533/references/classification/train.py#L242-L253), but I can't be sure. @fmassa ?

[2020-03-19 11:28] AakashKumarNain opened #1995 "Unable to export detection model to ONNX"
## 🐛 Bug

I was trying to convert the pretrained `resnet50_fpn` detection model to `onnx` but I got a runtime error while trying it.

## To Reproduce
[code]

## Expected behavior
An onnx format based converted model

## Environment
 - PyTorch / torchvision Version (e.g., 1.0 / 0.4.0): 1.4/0.5
 - OS (e.g., Linux): Linux
 - How you installed PyTorch / torchvision (`conda`, `pip`, source): conda
 - B

[2020-03-19 14:46] fmassa commented on #1993
Hi,

I just tried using your script to reproduce the issue, but I was unable to reproduce the problem.

Everything worked as expected on my side. The only difference compared to your script was the model checkpoint (I used torchvision pretrained weights) and the image (I used the grace hopper image from https://github.com/pytorch/vision/tree/master/test/assets)

Here is the output of two runs of t

[2020-03-19 16:55] InternetMaster1 commented on #1665
Are you aware of any Github libraries which are providing alpha matting ?

[2020-03-19 18:22] fmassa commented on #1986
AlexNet and VGG have been trained a long time ago by @colesbury , I think they might follow the same procedure as ResNet (and thus default parameters), but I'm not 100% sure. Original PR adding those is inn https://github.com/pytorch/vision/pull/23

[2020-03-19 18:25] fmassa commented on #1994
@vivekdeepquanty I think you might have invalid boxes in your dataset (for example, boxes with negative size).

See my comment in https://github.com/pytorch/vision/issues/997#issuecomment-499429297

As I believe this is the same issue, I'm closing this one, but let us know if this isn't the case.

[2020-03-19 18:25] #1994 closed

[2020-03-19 18:26] colesbury commented on #1986
Models with batch normalization were trained with the default parameters. Models without batch normalization were trained with an initial learning rate of 0.01 (i.e. 1/10th the default learning rate).

See https://github.com/pytorch/examples/tree/master/imagenet#training

[2020-03-19 18:29] fmassa commented on #1992
Thanks a lot @bmanga for the help!

What about adding some more documentation on how to build / link projects using torchvision from C++?

[2020-03-19 18:32] pmeier commented on #1986
Should we add this in the [classification reference README](https://github.com/pytorch/vision/blob/master/references/classification/README.md)? If yes, I could send a PR tomorrow.

[2020-03-19 18:43] fmassa commented on #1986
@pmeier yes please, if you could send a PR improving the README it would be great

[2020-03-19 19:13] fmassa commented on #1993
@chauhang this is pending a reproduction. I couldn't reproduce it with latest PyTorch / torchvision

[2020-03-19 19:26] bmanga commented on #1992
@fmassa no worries, I'm happy to help :)
The linking part is covered in the README, but I'm sure a tutorial/self-contained example would help a lot. I can dedicate some time to it this weekend.
Do you have any preferences / ideas on the format?

[2020-03-19 20:57] FiReTiTi commented on #1598
Hi,
I also have the same issue. I've filtered the empty (no object to detect) images, but it's highly problematic as it create an over-segmentation.
Indeed, I have tricky images containing object like patterns that I cannot use for training, and as a result these false object are all detected during testing.
Is there any work-around while waiting for the fix?

[2020-03-20 04:39] harshbafna commented on #1993
@fmassa : I can confirm that this works fine with the nightly build. But fails with the current stable build, installed using following command :

[code]

[2020-03-20 06:04] vivekdeepquanty commented on #1994
Is txt file is required for training??
Because i am using only mask and img folder.
Proble-Loss in nan

[2020-03-20 07:14] pmeier commented on #1994
I've never worked with detection datasets, but from what I understand this following snippet should run without an `AssertionError`.

[code]

Try this and get back if this runs through and you still get `NaN` loss.

[2020-03-20 08:34] finnickniu opened #1999 "Request Mobilenet fpn"
## 🚀 Feature
Hi I want to write mobilenet fpn.
## Motivation

Improve MaskRCNN speed and accuracy.

## Pitch

## Alternatives

## Additional context

## Code:
**/torchvision/models/detection/backbone_utils.py**
[code]
**/torchvision/models/detection/mobilenet_fpn.py**
[code]
**demo.py**
[code]

## Bug:
"RuntimeError: Given groups=1, weight of size 32 3 3 3, expected input[1, 1280, 4, 4] to have 3

[2020-03-20 08:57] fmassa commented on #1993
Ok, thanks for confirming that this works fine with the nightly build.

We will be releasing a new version of PyTorch / torchvision in the next following weeks, so the problem will disappear inn the stable builds.

[2020-03-20 08:57] #1993 closed

[2020-03-20 09:04] fmassa commented on #1598
@FiReTiTi the fix (for Faster R-CNN for now, not for Mask R-CNN, Keypoint R-CNN) has been merged in master

[2020-03-20 09:05] fmassa commented on #1992
I think a self-contained example would be a great starting point, we can think about tutorials afterwards.

[2020-03-20 09:10] fmassa commented on #1857
Assigning this to @raghuramank100 , who leads the quantization efforts

[2020-03-20 10:00] fmassa commented on #1999
Hi,

There are two issues with your implementation:
- `in_channels_list` is not correct, and should follow the number of channels in mobilenet_v2 (which is `[24, 32, 64, 1280]`)
- the current implementation for `_IntermediateLayerGetter` is very simplistic, and doesn't handle some use cases. You should remove `self.features` from `FPNMobileNet`

Here is a working version

[code]

[2020-03-20 10:00] #1999 closed

[2020-03-20 10:47] mrgloom commented on #807
Which cases are not safe?

[2020-03-20 10:53] fmassa commented on #807
@mrgloom if you invert the sum with the relu (for pre-activation ResNets) in https://github.com/pytorch/vision/blob/ae228fef1ce176fa3e3949f5db7b6e87a1e33065/torchvision/models/resnet.py#L69-L70 as follows:
[code]
you have the following error in backward
[code]

[2020-03-20 12:37] soloist97 commented on #1308
@feipeng-wang  @17sarf
sorry for late reply, thanks you so much. I solved my problem by taking a look at the paper [Feature Pyramid Networks for Object Detection](https://arxiv.org/pdf/1612.03144.pdf) :

So 5 types of shapes is required if we want to use the default backbone.

[2020-03-20 13:52] fmassa commented on #691
This was implemented in #797

[2020-03-20 13:52] #691 closed

[2020-03-20 16:21] two-names opened #2001 "nvcc fatal : unknown option 'Wall' during 'make' torchvision with -DWITH_CUDA=ON"
Hey!

I try to make vision with CUDA but I get error during make procedure:
My cuda compilation tools: realease 10.0, V10.0.130

Make error output:
[ 25%] Building CUDA object CMakeFiles/torchvision.dir/torchvision/csrc/cuda/ROIAlign_cuda.cu.o
CMakeFiles/torchvision.dir/build.make:296: recipe for target 'CMakeFiles/torchvision.dir/torchvision/csrc/cuda/PSROIPool_cuda.cu.o' failed
make[2]: *** [CMa

[2020-03-20 16:55] finnickniu commented on #1999
It works, many thanks!

[2020-03-20 17:24] FiReTiTi commented on #1598
@fmassa good to know, thanks.

[2020-03-21 00:19] 17sarf commented on #1308
@soloist97 sorry, do you mean I should be using something like this:

`anchor_generator = AnchorGenerator(sizes=((8), (16), (32), (64), (128))),
aspect_ratios=((1.0, 2.0,)))`

instead of this format:

[2020-03-21 02:04] soloist97 commented on #1308
@17sarf  Yes, I guess.

As long as we guarantee `len(sizes) = 5`(5 tuples in `sizes`), it's ok to use any size and ratio settings. But according to the FPN paper, the first way is the better choice.

So maybe
`anchor_generator = AnchorGenerator(sizes=((8), (16), (32), (64), (128))), aspect_ratios=((1.0, 2.0,)))`
can do faster in computation without performance loss?

[2020-03-21 15:14] circlesun commented on #978
Thanks both of you

[2020-03-21 18:21] mingjunlie commented on #1797
Is this released?

[2020-03-21 21:06] os-gabe commented on #1797
There hasn't been a release since this change was merged. I'm curious to know when the next release is planned for.

[2020-03-21 21:45] mingjunlie commented on #1797
I had very bad time to debug problem related to this issue.

[2020-03-22 14:55] 17sarf commented on #1308
Thank @soloist97! I will play around with it and will let you know if I discover anything.

[2020-03-22 19:09] 17sarf commented on #1308
@fmassa I just realised I never thanked you for all of your help earlier. Please accept my apologies for this and belated thank you.

[2020-03-23 09:26] songyuc opened #2030 "It seems the implementation of ResNet-101 is different from the model in the original paper"
## ❓ It seems the implementation of ResNet-101 is different from the model in the original paper
It seems the implementation of ResNet-101 is different from the model in the original paper.
Here is the information of the first block,
![image](https://user-images.githubusercontent.com/27288110/77301730-23ced400-6d2b-11ea-8467-a7976dcfb1b7.png)
and in the paper, the structure is,
![image](https://us

[2020-03-23 14:00] vivekdeepquanty commented on #1994
still i am getting same error

[2020-03-23 14:02] pmeier commented on #1994
At this point there is nothing we can do without seeing your code. Please strip down every complexity in your code that is not needed to reproduce the error and post your code here afterwards.

[2020-03-23 14:33] fmassa commented on #1797
Next release for torchvision will happen in a couple of weeks. But the underlying problem is with scipy, so the "fix" we use in torchvision is to skip the default initialization if the user specifies it.

[2020-03-23 22:38] FiReTiTi opened #2004 "Suspicious results"
## Questions about suspicious results ❓

I've trained MaskRCNN with a pre-trained ResNet50 to segment nuclei in immunofluorescence images. The results are really good, so thanks again for this terrific implementation.

However, I've noticed in some cases that an object (here a nucleus) might be cut in multiple small parts (see bottom right part of the attached image).

<img width="531" alt="Captur

[2020-03-24 04:26] pratogab commented on #157
If this can help anyone, I implemented a few batch Transforms:
[https://github.com/pratogab/batch-transforms](https://github.com/pratogab/batch-transforms)

[2020-03-24 12:58] fmassa commented on #2004
Hi,

This could happen with Mask R-CNN (and other detection) models. What probably happened is that the object was split in multiple detections at the box prediction step, and the segmentation head did it's best given the splitted boxes. But I might be wrong :-)

Given that there is nothing actionable that we can do here, I'm closing the issue, but let us know if you have further questions

[2020-03-24 12:58] #2004 closed

[2020-03-24 13:01] vivekdeepquanty opened #2007 "Learning rate become 0"
my lr was 0.0001

But after some epoch it become zero.

Epoch: [15]  [  0/209]  eta: 0:03:06  lr: 0.000000  loss: 0.5737 (0.5737)  loss_classifier: 0.0601 (0.0601)  loss_box_reg: 0.0831 (0.0831)  loss_mask: 0.4023 (0.4023)  loss_objectness: 0.0062 (0.0062)  loss_rpn_box_reg: 0.0221 (0.0221)  time: 0.8938  data: 0.2370  max mem: 6450
Epoch: [15]  [ 10/209]  eta: 0:02:13  lr: 0.000000  loss: 0.5818

[2020-03-24 13:10] fmassa commented on #2007
This is probably an artifact of the logging, which only prints up to 6 digits. We do have a lr decay, and you probably set the lr decay by a too large factor.

Closing as this doesn't seem like a bug to me

[2020-03-24 13:10] #2007 closed

[2020-03-24 13:13] fmassa commented on #1665
I'm not aware, but a Google search will probably give you a lot of results

[2020-03-24 14:43] charles-loomai commented on #915
I came across the same problems.. too many small files...
I need to find a way to speed up the dataloading. tried lmdb [lsun.py LMDB example](https://github.com/pytorch/vision/blob/master/torchvision/datasets/lsun.py#L28) not working.
@RicCu could you share more tips of combining TFDS into dataloader?

[2020-03-24 15:33] fmassa commented on #1934
Hi @dsandii,

Sorry for the delay in replying.

So, my first guess would be that the learning rate that you are setting is too high. This doesn't happen for the first epoch because we do learning rate warmup in the first epoch, but the second epoch already sees the full learning rate.

If that's not the issue, and your dataset is properly setup (all boxes are valid), then I don't know what else it

[2020-03-24 15:33] #1934 closed

[2020-03-24 15:43] dsandii commented on #1934
@fmassa Thanks for replying. However, I don't believe it's your first guess is the problem.

As I mentioned above, if I comment out the evaluation I'm able to train the model just fine, and it appears to converge quite beautifully actually. The results look really good.

So I'm not convinced the LR or other hparams are the culprit. The `loss_rpn_box_reg` _only_ seems to start exploding after I all

[2020-03-24 15:44] InternetMaster1 commented on #1665
Thanks :)

On Tue, 24 Mar, 2020, 6:43 PM Francisco Massa, <notifications@github.com>
wrote:

[2020-03-24 17:00] FiReTiTi commented on #2004
Thank you for your answer.
I have single bounding box as a result, not multiple, this is why I was surprised.

[2020-03-24 18:00] fmassa commented on #2004
So, each segmentation mask is associated with a single bounding box, so it would be good to visualize the boxes individually to try to understand what is going on

[2020-03-24 18:18] FiReTiTi commented on #2004
I didn't save the bounding boxes for this example :-(
But the three pieces that represent object 147 were all in the same box.

[2020-03-24 18:59] renesax14 opened #2012 "Support for downloading mini-imagenet automatically"
## 🚀 Feature
I'd be nice to be able to download the mini-imagenet data set for few shot learning easily for pytorch.

## Motivation
Not implemented yet and would be better if the real developers help me implement it.

I already have a partial implementation (although incomplete). It would be nice to have the other features like not downloading it if it's already in existence, have an md5 etc other

[2020-03-24 19:00] renesax14 commented on #1028
Missed this issue, my apologies, here is the other issue I made by accident: https://github.com/pytorch/vision/issues/2012

what I wrote:

🚀 Feature

I'd be nice to be able to download the mini-imagenet data set for few shot learning easily for pytorch.

Motivation

Not implemented yet and would be better if the real developers help me implement it.

I already have a partial implementation (althou

[2020-03-24 19:00] #2012 closed

[2020-03-25 07:26] vivekdeepquanty commented on #2007
You are right but problem is loss is not getting reduced even after 100
epoch. That's why i thought that learning rate become zero.

On Tue, Mar 24, 2020 at 6:40 PM Francisco Massa <notifications@github.com>
wrote:

[2020-03-25 13:32] iamvukasin opened #2013 "Unable to import after installing via Pipenv"
## 🐛 Bug

I have installed `torch` and `torchvision` via Pipenv using wheels provided on the website. Here's `Pipfile`:

[code]

When I try to import `torchvision`, I get an error: `ModuleNotFoundError: No module named six`. It successfully imports the module after adding `six = "*"` in the `Pipfile` and installing everything again.

## To Reproduce

Steps to reproduce the behavior:

1. Install Pi

[2020-03-25 14:28] fmassa commented on #2007
there might be many reasons why the loss is not reducing, but without further information there is no way for us to help.

[2020-03-25 17:02] FrancescoSaverioZuppichini commented on #1952
Hi @fmassa, I hope you are healthy. Sorry for the late reply but I have been very busy these days. Is there a doc contribution guide that I can follow to be sure I am changing the right files?

[2020-03-25 23:53] Azer-ai opened #2014 "torchvision_finetuning_instance_segmentation notebook error"
Hi

When running pytorch fine tuning instance segmentation tutorial on google colab  I get the error below:

TypeError: object of type <class 'numpy.float64'> cannot be safely interpreted as an integer.

--------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
/usr/local/lib/python3.6/dist-packages/numpy/

[2020-03-26 01:14] wk5ovc commented on #2014
Try reinstall pycocotools
[code]

[2020-03-26 08:40] Azer-ai commented on #2014
Hi wk50ovc,

I just ran the tutorial and it worked. Just  a question  were there any changes in the coco repository that caused the issue?

Thanks  for your help : D

[2020-03-26 13:57] fmassa commented on #1952
Hi @FrancescoSaverioZuppichini

All good here, hope everything is good for you as well.

You could maybe add some information in https://github.com/pytorch/vision/blob/master/docs/source/models.rst#object-detection-instance-segmentation-and-person-keypoint-detection or in the tutorials, which are hosted in https://github.com/pytorch/tutorials/blob/master/intermediate_source/torchvision_tutorial.rs

[2020-03-26 13:59] fmassa commented on #2013
Thanks for the bugreport!

This seems to be an issue in Windows. @peterjc123 could you have a look? Maybe now that we are Python3-only we should remove all instances of `six` in the codebase for simplicity?

[2020-03-26 14:03] fmassa opened #2015 "Remove six dependency"
Now that we have transitioned to Python3-only, I believe we can remove the uses of `six` and instead use standard libraries / functions from python3.

We should also remove `six` from CI and builds.

[2020-03-26 14:05] pmeier commented on #2015
I could take that up. As I've never worked with Python2, is there anything that I need to know before I start?

[2020-03-26 14:05] fmassa commented on #2014
Hi @Azer-ai ,

Yes, this was a change in numpy that broke pycocotools, and has been fixed in https://github.com/cocodataset/cocoapi/pull/354 , that's why updating pycocotools fixes it.

[2020-03-26 14:05] #2014 closed

[2020-03-26 14:05] peterjc123 commented on #2013
Sorry, I've never tried this before. But I agree with @fmassa that we could remove the dependency `six` since only python 3 packages are available for Windows.

[2020-03-26 14:05] fmassa commented on #2014
And thanks @wk5ovc for the help!

[2020-03-26 14:07] fmassa commented on #2013
@peterjc123 I think a quick fix for now is just to add `six` as a dependency for the windows packages? IIRC we have those as dependency for the Linux / OSX

[2020-03-26 14:08] peterjc123 commented on #2013
Okay, no problem.

[2020-03-26 14:08] fmassa commented on #2015
Thanks @pmeier !

I think it should pretty much just be replacing things like
[code]
with the corresponding function in Python3. Let me know if you stumble in any specific issue

[2020-03-26 14:10] peterjc123 commented on #2013
@fmassa Looks like six is already added as a requirement during pip install. https://github.com/pytorch/vision/blame/master/setup.py#L72

[2020-03-26 14:27] fmassa commented on #2013
Yeah, that's true.

I don't know precisely why this is happening with Pipenv, I think it should work.
Anyway, we will be soon removing `six` as a dependency, and the fix for now is just to install six as well, so I'd say this will be transitively fixed soon

[2020-03-26 15:19] leglandudu69 opened #2019 "How to plot masks of maskrcnn?"
Hello,

Does someone know how to plot masks of maskrcnn? In the output of maskrcnn_inference in roi_heads.py mask_logits pass through sigmoid to become mask_probs and its output_size is generally very small to correctly see anything (28*28 by default, which is defined in the roi_align parameters). I tried to binarize this mask_probs using cv2.threshold (with threshold value equals to np.median of

[2020-03-26 16:27] 17sarf opened #2021 "IndexError: list index out of range"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1. Run the [TorchVision Object Detection Finetuning Tutorial](https://pytorch.org/tutorials/intermediate/torchvision_tutorial.html).
2. For the model, I used the instructions for

But I keep getting the following error:

`---------------------------------------------------------------------------
IndexError

[2020-03-26 23:01] WillieMaddox commented on #1972
fixed merged closed (#1973)

[2020-03-26 23:01] #1972 closed

[2020-03-27 06:17] pmeier opened #2023 "Use multiple processes when extracting ImageNet training archive"
## 🚀 Feature

Use multiple processes when extracting `ImageNet` training archive.

## Motivation

I recently extracting the `ImageNet` training archive with the code of `torchvision` and was suprised how long it took. I realised that after extracting the main archive, we only extract the subarchives one after another:

https://github.com/pytorch/vision/blob/3c254fb7af5f8af252c24e89949c54a3461ff0be

[2020-03-27 07:37] #1182 closed

[2020-03-27 10:39] hologerry opened #2024 "Update the doc theme to pytorch_sphinx_theme?"
## 📚 Documentation
The Documentation config in `docs` use the sphinx default theme which is not consistent to pytorch.org website, the build output is not as elegant as the website version.

Website version:
<img width="1491" alt="Screen Shot 2020-03-27 at 18 34 48" src="https://user-images.githubusercontent.com/11660168/77747533-cfdd2b80-7059-11ea-89b7-32f117e5053d.png">

Built version(on Dash):

[2020-03-27 18:48] brando90 commented on #1718
what is the minimum version of pytorch and torchvision for this error to stop?

[2020-03-27 20:11] brando90 commented on #1712
what is the latest version of pytorch that does not break with this pillow error?

[2020-03-28 09:38] pmeier opened #2025 "Type annotations"
## 🚀 Feature

Type annotations.

## Motivation

Right now, if a project depends on `torchvision` and you want to static type check it, you have no choice but either ignore it or write your own stubs. `torch` already has partial support for type annotations.

## Pitch

We could add type annotations for `torchvision` as well.

## Additional context

If we want this, I would take that up.

[2020-03-28 11:26] xkszltl opened #2026 "Clean up nvcc arch TODO"
## Bug

https://github.com/pytorch/vision/blob/d45a77d414082bf5ccbf65355354f583d43a40c0/packaging/pkg_helpers.bash#L59-L61

This PR seems landed.
Should we verify and drop TODO?

The current case is, without this line, on non-CUDA machine with `FORCE_CUDA=1`, torchvision will fail to build because torch.cuda.init() will check for cuda device and raise exception.
It can be worked around by setting

[2020-03-28 21:39] brando90 commented on #1718
What is the solution for this issue?

I have pytorch 1.4.0 and it seems to still be a problem:

[code]

[2020-03-28 21:42] brando90 commented on #1712
I have a question. What is the solution to this issue? What is the minimum version of pytorch that doesn't break it? how do I solve this?

I have pytorch 1.4.0 and it seems to still be a problem:

[code]

[2020-03-28 21:44] brando90 commented on #1712
seems this temp soln works:

[code]

[2020-03-28 21:44] brando90 commented on #1718
seems this temp soln works:

[code]

[2020-03-29 04:38] mzy97 commented on #1995
`opset_version=10` if it set to 11, the export will be normal except some warning. but the result seems good

[2020-03-29 06:07] VinhLoiIT commented on #288
Because Python requires comma to make it a 1-tuple. Without comma, Python will understand it as a singular number (0.5). In the code of Normalization, it requires an N-tuple for N channels, such as a 3-tuple for 3 channels

[2020-03-29 17:57] AakashKumarNain commented on #1995
@mzy97 I tried that but ran into some errors. Is it necessary to build `torch` from source for this?

[2020-03-29 18:56] nicolas-gervais commented on #1916
In Python 3.6 the solution will give the error:

So I solved my issue adding this before importing `torch` and `torchvision`:
[code]

[2020-03-29 23:35] peterjc123 commented on #1916
@nicolas-gervais This shouldn't be needed for Python 3.6. Could you please tell me something about your env, like how did you install python, pytorch and torchvision?

[2020-03-30 09:04] mzy97 commented on #1995
I use docker image

[2020-03-30 15:03] fmassa commented on #1972
Thanks @WillieMaddox for the PR!

[2020-03-30 15:03] fmassa commented on #2025
Yes, please! Python-3 type annotations to torchvision would be great!

[2020-03-30 15:20] fmassa commented on #2026
Yes, I think this could probably be cleaned up.

ccing @seemethere for thoughts

[2020-03-30 15:20] pmeier commented on #2025
Two questions:

1. Should I stick to stubs, i.e. create an `.pyi` file for every `.py` file, or do we want the annotations inline?
2. Do you want me to do this in one gigantic PR or should I split it by module or package?

[2020-03-30 15:23] fmassa commented on #2025
@pmeier
1 - let's do the annotations inline. I think the reason PyTorch used the `.pyi` file for the annotations was due to Python2 compatibility (but I might be wrong). @t-vi do you have thoughts on this?
2 - let's split it in smaller chunks which are easier to review. It doesn't even need to be the full module at once, for example `transforms` is very big, can we can send a few functions at a ti

[2020-03-30 15:27] fmassa commented on #2021
Hi,

Make sure that the feature map names returned by your backbone are compatible with the `RoIPooler`, see https://github.com/pytorch/vision/blob/1c7aa0c0910d518971e694620b58485704a006a8/torchvision/models/detection/faster_rcnn.py#L202

I believe there might be a mismatch there (like, strings vs ints?)

[2020-03-30 15:29] fmassa commented on #2024
Thanks for opening the issue!

@jlin27 could you have a look?

[2020-03-30 15:35] fmassa commented on #1995
Hi,

Due to some recent changes in PyTorch, ONNX export for mask r-cnn and keypoint r-cnn will only work with PyTorch 1.4 and torchvision 0.5.0.

Newer versions of PyTorch or torchvision won't work for now, but we are working fixing this.

cc @neginraoof

[2020-03-30 16:36] FrancescoSaverioZuppichini commented on #1952
Hi @fmassa, I hope you are doing well. I have added a couple of sentences and hopefully, it is more understandable now

You can find the PR here https://github.com/pytorch/tutorials/pull/914

[2020-03-30 17:05] 17sarf commented on #2021
@fmassa thank you very much! That seems to have resolved the issue.

[2020-03-30 18:15] fmassa commented on #2021
Cool, closing it then

[2020-03-30 18:15] #2021 closed

[2020-03-30 18:36] fmassa commented on #2030
Hi,

Thanks for the issue!
This is a duplicate of https://github.com/pytorch/vision/issues/191, and as such I'm closing it in favor of https://github.com/pytorch/vision/issues/191

[2020-03-30 18:36] #2030 closed

[2020-03-30 18:41] fmassa commented on #1952
Thanks for the PR @FrancescoSaverioZuppichini !

[2020-03-31 00:52] brianjo commented on #2024
I'll do a branch pr for this in a few minutes. :)

[2020-03-31 01:10] brianjo commented on #2024
Here's my PR. Only tested locally. https://github.com/pytorch/vision/pull/2031

[2020-03-31 06:11] pmeier commented on #2025
# Type annotations ToDo

- [ ] `utils.py` (#2034)
- [ ] `datasets`
- [ ] `transforms`
    - [ ] `functional.py`
    - [ ] `transforms.py`
- [ ] `models`
- [ ] `io`
- [ ] `ops`

[2020-03-31 06:24] pmeier commented on #2025
I don't know if there is already an internal discussion about this, but in the light of inline type annotations I think we really should talk about the code format. With type annotations the signatures get quite big and with in our current style this not only looks ugly but also hinders [legibility](https://github.com/pmeier/vision/blob/693c18a76a9aacba2cd53d93ef73894137b52ad5/torchvision/utils.py

[2020-03-31 06:39] t-vi commented on #2025
I'm probably not the best person to ask because I never liked the pyi files for Python-implemented bits in the first place. That said, my understanding is that think it's fine to do them inline now.

Regarding the formatting: I do agree that cramming as much as possible in each line probably isn't the best way. You might see if PyTorch has a formatting preference in its formatting checks and what'

[2020-03-31 08:31] peterjc123 opened #2035 "test_nms_cuda is flaky"
## 🐛 Bug

https://app.circleci.com/pipelines/github/pytorch/vision/2097/workflows/661fd235-202a-4c88-be4d-f8af378c195f/jobs/110511
[code]

[2020-03-31 08:47] peterjc123 commented on #2035
@fmassa Do you know what happened there?

[2020-03-31 14:46] vainaijr opened #2042 "Animated dataset"
Why do PyTorch add no animated dataset?

[2020-03-31 18:29] fmassa commented on #2024
Fixed by @brianjo in #2031

[2020-03-31 18:29] #2024 closed

[2020-03-31 18:36] #2015 closed

[2020-03-31 18:56] fmassa commented on #2025
Thanks for the input @t-vi!

@pmeier good point about the code getting messy with type annotations. I don't have a good answer now, although indeed the output of `black` does seem more readable.

Let me add @cpuhrsch @vincentqb and @zhangguanheng66 for discussion as well

[2020-03-31 19:00] fmassa commented on #2035
I have seen this error before, and I thought I had fixed it in https://github.com/pytorch/vision/pull/1556 but maybe there is a corner case missing sometimes...

[2020-03-31 19:25] vincentqb commented on #2025
I second the use of `black` for inline type hint formatting.

[2020-03-31 20:27] zhangguanheng66 commented on #2025
Yes. `black` makes sense to me as well.

[2020-03-31 21:40] hartb commented on #2035
Happened to be looking at this today. The mismatch is because sometimes either the CPU or the CUDA result includes either box 0 or box 999 (depending on their relative scores) while the other does not.

I see the problem on both x86 and Power, and can force it consistently across them by seeding the torch RNG with specific values. For example, I'll see a failure with:

[code]

The problem seems to

[2020-03-31 22:10] hartb commented on #2035
And looks like the remaining assert I'm seeing is an ordering problem when two of the boxes which make the cut have very similar scores. So:

- `r_cpu` includes `[...., 554, 788, ...]`
- `r_cuda` includes `[..., 788, 554, ...]`

Where the scores of boxes are seemingly identical:

- `554` -> `0.60010164976119995117`
- `788` -> `0.60010164976119995117`

Not sure of the best way to avoid that. Could

[2020-03-31 22:12] hartb commented on #2035
Oh, and I'm testing on linux on both IBM Power and x86, so this isn't a Windows-specific problem, despite where the CI failure arose.

Testing with the `v0.5.1` branch against pytorch `1.4.0` and `1.5.0-rc`

[2020-04-01 02:24] jhultman commented on #1568
Here's a minimum working example. Obviously this initialization is purposely poor but it would be nice if the inference code didn't crash. Note that none of the weights or inputs are NaN.

[code]

The problem as you know is with [BoxCoder.decode](https://github.com/pytorch/vision/blob/master/torchvision/models/detection/_utils.py#L175). Here's my attempt at a fix (unchanged code omitted):

[code]

[2020-04-01 02:54] peterjc123 commented on #2013
Fixed via #2015.

[2020-04-01 02:54] #2013 closed

[2020-04-01 05:37] pmeier opened #2038 "Reminder: bytes is a valid type for torch._six.string_classes"
This is a reminder for the following (from https://github.com/pytorch/vision/pull/2017#discussion_r400275068):

@fmassa suggested:

---

Shouldn't this be an issue in [`torch`](/pytorch/pytorch) since it directly is related to `torch._six`?

[2020-04-01 05:40] ResByte commented on #1910
Hi @fmassa ,
I am having the same issue but errors have changed, I have update torch and torchvision to nightly.

**versions**
[code]

**code:**
[code]

**error log**:
[code]

[2020-04-01 06:07] pmeier commented on #2025
This would also make reviewing easier. If you have a look at [this review comment](https://github.com/pytorch/vision/pull/2034#discussion_r401138673) is unclear at first glance which parameter is meant since GitHub only allows to review a complete line.

[2020-04-01 08:57] Gijs-Koot commented on #1853
@isalirezag, if you are, like me, using a 4GB card and cannot start training because indeed calculating the gradients for the whole network is too much, you can train only the classifier part or the last layers of the backbone, that will work with 4GB.

[2020-04-01 12:43] fmassa commented on #2038
I think we can't change the behavior in `torch._six`, but if we do some careful inspection in the functions using `torch._six.string_classes` in torchvision, I believe we might need to remove some of those (or maybe all of them). The issue is that those code-paths are probably not tested by CI as of now, so it would make it slightly tricky to be 100% sure we are not breaking a few use-cases.

[2020-04-01 13:23] rmccampbell opened #2043 "One-to-many transforms for image datasets"
## 🚀 Feature
It would be convenient if the standard torchvision datasets could handle one-to-many transforms more seamlessly.

## Motivation

Currently there are two built-in examples of this, FiveCrop and TenCrop, which take in a PIL image and return a tuple of images. The documentation recommends handling these by stacking them with a lambda function, i.e.
[code]
However this makes it more diffi

[2020-04-01 14:26] hartb commented on #2035
Put up a PR that adjusts the 1st/last box IoU construction (to ensure it's slightly over threshold so should be consistently suppressed between CPU and CUDA implementations), and to compare the surving box lists without regard for ordering as sets.

Happy to rework those if other solutions are preferred.

[2020-04-01 14:36] hartb commented on #2035
Hmmm. Occurs to me now that the 2nd issue (ordering of boxes with similar scores) might be caused by the CUDA implementation not using a stable sort

[2020-04-01 16:29] fmassa commented on #2035
@hartb thanks for the PR!

I think we should not try to guarantee that the sorting returns the same results between CPU and CUDA (PyTorch doesn't enforce this), but we should enforce that the number of returned elements is the same.

I commented on the PR, let me know what you think

[2020-04-01 17:18] vainaijr commented on #2042
I created one issue here, https://github.com/pytorch/vision/issues/1962, I mean addition of computer generated avatar, reality, in general, this includes,

1) Animated character faces
2) Avatars from game reality
3) Avatars from animated movie
4) Computer generated reality non animate objects, like furniture, trees

I ask because resolution of computer generated avatar, reality keep doubling (like

[2020-04-02 00:11] seemethere opened #2045 "C++ API Build instructions result in an error"
## 🐛 Bug

## To Reproduce

Following the current instructions in the README to build the C++ API result in an error.

Repro:
[code]

Resulting Error:
[code]

## Expected behavior

Build completes successfully

## Environment

Please copy and paste the output from our
[environment collection script](https://raw.githubusercontent.com/pytorch/pytorch/master/torch/utils/collect_env.py)
(or fill out th

[2020-04-02 03:19] peterjc123 commented on #2045
It seems to be sharing the same root cause with https://github.com/pytorch/vision/issues/1865#issuecomment-584561700.

[2020-04-02 06:05] pmeier commented on #2042
@vainaijr In https://github.com/pytorch/vision/issues/1962#issuecomment-597716435 I've requested

From what I understand from your above comment, is that there is no such dataset and in turn no research papers that can use them. Thus, I now understand your question now as this:

The answer is simple: PyTorch does not create any dataset. We don't even host them. `torchvision` "merely" provides an i

[2020-04-02 07:33] z-a-f opened #2047 "Documentation URL doesn't follow the patter"
## 📚 Documentation

You can get the `torchtext` documentation here: https://pytorch.org/text
`torchaudio` also has a similar URL: https://pytorch.org/audio
However, vision has a completely different URL: https://pytorch.org/docs/stable/torchvision

I think it is better to standardize the addresses, and make a common pattern https://pytorch.org/{package} for any `torch{package}`

[2020-04-02 15:18] hachreak opened #2050 "Faster/Mask R-CNNN works on mobile (Android)?"
## ❓ Questions and Help

Hi everybody,
I was trying understand if I can make object detection on Android but it's not really clear if I can do it.
The most recent comments that I found are these ones:

- https://discuss.pytorch.org/t/support-torchvision-ops-nms-on-mobile-cpu/69627/2

- https://github.com/pytorch/vision/issues/1943#issuecomment-597624674

Can somebody confirm it?
If not, maybe we c

[2020-04-03 06:50] jinuhwang commented on #2045
Check your cmake version.
What you are missing is FindPython3.cmake module.
Upgrading cmake to the latest version fixed my issue.

[2020-04-03 10:51] jinuhwang commented on #1958
@cnd I was able to build one from Pytroch 1.4. You might be linking the old ones.
Check `libtorch` in `/usr`.

[2020-04-03 13:07] vlordier commented on #1987
@fmassa the computation of offsets creates a huge overhead : I am thinking to pre-compute them, using, say a LUT-like approach.
How would you do this ?

[2020-04-03 13:55] pmeier opened #2061 "Syntax error in type annotations"
In the light of [first inline type annotations](/pytorch/vision/pull/2034), a static type check via `mypy` was requested in https://github.com/pytorch/vision/pull/2034#pullrequestreview-385008031.
Running `mypy` on the current `torchvision` results in syntax errors in several type annotations. For example:

[code]

Since syntax errors are [fatal](https://mypy.readthedocs.io/en/stable/error_code_li

[2020-04-03 14:37] RicCu commented on #915
Hi,
I haven't worked that much more on getting tfds to work great with dataloaders, but you might wanna take a look at @vahidk's [tfrecords reader](https://github.com/vahidk/tfrecord). It has nice interop with PyTorch's dataloaders without depending on TF.

[2020-04-03 15:59] fmassa commented on #2061
I've noticed similar issues as well in the past, and I tried to fix some of those in https://github.com/pytorch/vision/pull/1696

We need those type annotations as those functions are being used with TorchScript, so we need to find a way to make them compliant with TorchScript and mypy.

cc @eellison for thoughts.

[2020-04-03 18:14] fmassa commented on #2035
This has been mitigated in https://github.com/pytorch/vision/pull/2044, but it would be great if we could understand more deeply why there are those discrepancies (and fix it if possible)

[2020-04-03 19:57] pmeier commented on #2061
You never merged the PR although @eellison approved it. Does that mean the way you did it does not work with TorchScript? If adding the return type as you did does indeed work with TorchScript could you rebase and merge your PR. I would take up the rest.

[2020-04-04 09:14] ghostly-alt commented on #1877
The ffmepg is installed successfully and the path is added to the environment variable ,
and avcodec-58.dll exists in the bin folder right now, but still I get same error,
any suggestions?

[2020-04-04 09:43] peterjc123 commented on #1877
If you are using Python 3.8, then you may need an additional `os.add_dll_directory` call.

[2020-04-04 11:59] Bralio123 opened #2062 "module 'torchvision.models' has no attribute 'segmentation'"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1. Import segmentation models from torchvision segmentation folders

## Expected behavior

## Environment

Collecting environment information...
PyTorch version: 1.4.0
Is debug build: No
CUDA used to build PyTorch: 10.1

OS: Microsoft Windows 10 Enterprise
GCC version: Could not collect
CMake version: Could not collect

Python version: 3

[2020-04-04 12:01] Bralio123 commented on #2062
Sorry if this is incomplete. I am struggling to simply import models from the torchvision package as the error states. I have removed and downloaded the most up to date packages (both torch and torchvision)

[2020-04-04 15:20] pmeier commented on #2062
I'm guessing you want to load for example `fcn_resnet101` or `deeplabv3_resnet101` as can be seen in the [reference segmentation](https://github.com/pytorch/vision/tree/master/references/segmentation), correct? If that is the case you should do something like this:

[code]

Is that what you wanted to do? If not, could you please share the code that you think contains a bug.

https://github.com/pyt

[2020-04-04 15:37] bhobley commented on #2062
Yes, that's exactly what I was trying to do.

model = torchvision.models.segmentation.deeplabv3_resnet50()

error:
model = torchvision.models.segmentation.deeplabv3_resnet50()
AttributeError: module 'torchvision.models' has no attribute 'segmentation'

[2020-04-04 15:45] pmeier commented on #2062
@Bralio123 @bhobley Are you the same person or am I talking to two individuals here?

---

The snippet you posted works fine for me with `torch==1.4.0` and `torchvision==0.5.0`. I'm guessing you use old versions that do net yet implement the segmentation models. `torchvision.models.segmentation` is available for `torchvision>=0.3.0`.

From your first comment it seems you are using `torchvision==0.

[2020-04-04 15:59] Bralio123 commented on #2062
Yes, both accounts are the same person. No clue how that happened.

Thanks, that worked!

[2020-04-04 15:59] #2062 closed

[2020-04-04 17:56] oscmansan opened #2063 "Wrong lr schedule in semantic segmentation sample?"
Hi! I am using the semantic segmentation reference training scripts and I think I found an issue with the lr scheduler.

In the documentation of [torch.optim.lr_scheduler.LambdaLR](https://pytorch.org/docs/stable/optim.html#torch.optim.lr_scheduler.LambdaLR) it says that the lambda function receives an integer parameter epoch, but in the training reference script it looks that the parameter `x` is

[2020-04-04 19:24] vainaijr commented on #2042
I sorry to not include any link, I create same issue in torchvision, and PyTorch,
so one of them could be closed, I search and found following datasets,
some of these have copyright issues, and require specific permissions to use the dataset,
but I list all that I found, I think atleast one or two computer generated reality dataset
should be added to torchvision in 2020.

Dataset

[2020-04-04 19:58] pmeier commented on #2042
so one of them could be closed,

Please do that.

---

Thanks for the links!

but I list all that I found

As long as they are publicly accessible and the license does not outright forbid the usage, I don't think this is a problem since we only provide an interface.

Since you seem to have more experience than we do in this field, please choose most prominent of them and provide links to research

[2020-04-04 22:51] #1962 closed

[2020-04-04 23:47] vainaijr commented on #2042
I consider these two factor,

1) resolution, or how good dataset look
2) what do computer learn from dataset

I think one dataset, that satisfies both of these criteria is

Cartoon Set | https://google.github.io/cartoonset/, https://google.github.io/cartoonset/download.html
-- | --

it has paper also, https://arxiv.org/pdf/1711.05139.pdf

Computer learn to superimpose an animated avatar over biolo

[2020-04-05 10:16] IlyaOvodov opened #2065 "[JIT] After scripting generator variables affects outer local variables"
## 🐛 Bug

Normally a variable inside a generator expression does not affect a local variable with the same name. But when the code is scripted, it does. It results in a silent improper work of code that seems to be scripted without any problems.

## To Reproduce

[code]

## Expected behavior

Work like in a pure python without scripting, i.e. variables in a generator expression should be considere

[2020-04-05 15:27] cansozbir commented on #1943
Hi, I wrote a simple MNIST classifier with CNN and got the same error on my android project.

`E/AndroidRuntime: FATAL EXCEPTION: main
    Process: com.example.predictor, PID: 7253
    java.lang.RuntimeException: Unable to start activity ComponentInfo{com.example.predictor/com.example.predictor.MainActivity}: com.facebook.jni.CppException: version_ <= kMaxSupportedFileFormatVersion INTERNAL ASSERT

[2020-04-05 23:17] jjbouza commented on #1622
Hello, @dreiss @fmassa, any update on mobile Mask R-CNN? Thanks!

[2020-04-05 23:40] jjbouza commented on #2050
I'm also interested in this

[2020-04-06 04:05] peterjc123 commented on #2065
Looks like this issue is opened in a wrong repo. I'll transfer it to pytorch/pytorch.

[2020-04-06 09:03] jinfagang opened #2066 "does deformable conv support export to onnx?"
Does deformable conv support export to onnx or not?

[2020-04-06 10:28] fmassa commented on #2066
Not at the moment. Contributions welcome

[2020-04-06 10:30] fmassa commented on #2062
Thanks @pmeier for the help!

[2020-04-06 13:06] fmassa commented on #2050
It is not yet supported, but it is in the plans to be supported in follow-up releases of PyTorch

[2020-04-06 13:08] fmassa commented on #1943
@hurricane013 simple CNN models should work with mobile, I would expect this to be a version issue and if you update PyTorch / torchvision and re-save your weights, it should work

[2020-04-06 13:09] fmassa commented on #1622
@jjbouza it's not yet ready, but we are looking into make it work, maybe for the 1.6.0 release of PyTorch (but it's not set to stone and it could slip to follow-up releases)

[2020-04-06 13:21] fmassa commented on #2042
So, I think we should break down exactly what are the things that you are looking to achieve -- the fact that you are interested in cartoon images is an artifact of the problem that you want to solve.

You raised three points: super-resolution (for which datasets can be trivially written for it based on ImageFolder), the second is (if I understand correctly) style transfer (which can also be easil

[2020-04-06 13:21] #2042 closed

[2020-04-06 13:26] fmassa commented on #2063
Hi,

Great question.

So, in https://github.com/pytorch/vision/blob/e61538cba036c42bab23ce8f9d205da9889977ae/references/segmentation/train.py#L164 you see that we pass the `lr_scheduler` to the training function, which in turn calls `step` in the training loop https://github.com/pytorch/vision/blob/e61538cba036c42bab23ce8f9d205da9889977ae/references/segmentation/train.py#L90
This means that we ind

[2020-04-06 13:26] #2063 closed

[2020-04-06 13:28] fmassa commented on #2061
That PR had failing tests, and I never had the chance to get back to it and fix it so that it is compatible with mypy and torchscript.

@zhangguanheng66 are you still looking at fixing type annotations in #1696?

[2020-04-06 13:59] fmassa commented on #2045
@seemethere does updating CMake fixes it for you?

[2020-04-06 14:00] fmassa commented on #1958
@cnd did you have a chance to try @jinuhwang comment?

[2020-04-06 14:01] fmassa commented on #1853
@mthrok could you have a look into this?

[2020-04-06 14:09] fmassa commented on #2025
Although black is a nice formatter, I would be careful with re-formatting the whole codebase at once -- this effectively messes up with `blame` so that we don't know anymore what was added when and by who.

[2020-04-06 14:11] fmassa commented on #1910
@ResByte thanks for the feedback. @neginraoof do you know what this might be?

[2020-04-06 14:12] fmassa commented on #1718
This issue is fixed with PyTorch and TorchVision nightlies. A new stable release of both libraries will be released next week.

[2020-04-06 14:14] fmassa commented on #1712
Additionally, using PyTorch and torchvision from a nightly version fixes this

[2020-04-06 14:17] fmassa commented on #2047
@jlin27 what do you think?

[2020-04-06 14:27] fmassa commented on #2054
@songyuc @gen2020code `Normalize` should be called on float tensors after `ToTensor`. If your tensor is not floating point, then normalizing by `0.5` (which gets rounded to 0) doesn't make sense and you have an issue in your code.

The sigterm is unfortunate, but is outside of the scope of torchvision.

[2020-04-06 14:27] #2054 closed

[2020-04-06 14:33] pmeier commented on #2025
The author talked very briefly about [integrating `black` into an existing codebase](https://www.youtube.com/watch?v=esZLCuWs_2Y&feature=youtu.be&t=2018). I've had no contact with `blame` so its hard for me to asses if `hyper-blame` could work for us. Could you have a look?

[2020-04-06 14:56] zhangguanheng66 commented on #2061
I think the the output annotation `Tuple[Tensor, Tensor]` is not supported by torchscript. @eellison

[2020-04-06 15:42] fmassa commented on #2025
The problem is that most of the users (including Github UI) most probably only uses `git blame`, so asking it to be changed to `hyper-blame` is a bit hard

[2020-04-06 16:00] cansozbir commented on #1943
I see.
These are my package versions:

'1.5.0.dev20200306'

'0.6.0a0+f534fb5'

and this is what I added to dependencies.

implementation 'org.pytorch:pytorch_android:1.4.0'
implementation 'org.pytorch:pytorch_android_torchvision:1.4.0'

Should I install pytorch's 1.4 version or is there any implementation for 1.5?

[2020-04-06 18:22] fmassa commented on #1943
Yes, I think you might want to install PyTorch 1.4 and torchvision 0.5.0.

But I would recommend posting this question on the pytorch discuss forums, as this is outside of the scope of torchvision and I don't have much context to be able to help with android-specific issues

[2020-04-06 18:44] jlin27 commented on #2047
I think standardizing the addresses makes sense, but first I think we'll need to check if there is a historical reason that vision was setup differently from text and audio. Do you know if there are any dependencies?

For background, the reason text and audio sites have that standard url is because they published using the [`gh-pages` method](https://help.github.com/en/github/working-with-github-p

[2020-04-06 21:08] hartb commented on #2035
I looked at this some more...

If `devIoU()` is changed as discussed in https://github.com/pytorch/vision/pull/2044 (use a division while calculating IoU, similar to CPU calculation) then it's possible compare the overlap values calculated by CPU vs CUDA.

With that change, overlap values calculated by CPU vs CUDA _usually_ agree exactly, but they can differ from one another by up to 4 ULP (very r

[2020-04-07 05:44] pmeier commented on #2025
As we will touching every signature while adding annotations we could simply format them with `black` and leave everything as is. This way `git blame` should still work, but we would enhance legibility. If we want to adopt `black` for the complete codebase we could do so by one commit at a time later.

[2020-04-07 08:30] fmassa opened #2068 "Re-upload weights for old model with new serialization"
Some of the oldest models we have (including resnets) have been serialized with a legacy format which, while is mostly compatible with the current code, has some corner cases that do not work as expected anymore, see https://github.com/pytorch/pytorch/issues/31615 (basically, if the data is in a `BytesIO` object it doesn't work).

Here is a snippet to reproduce the problem:

[code]

This fails. We

[2020-04-07 09:12] fmassa commented on #2035
@hartb thanks a lot for getting to the bottom of this!

Your proposal sounds good to me, I agree that disabling `fmad` would not be ideal (we could have unexpected performance hits).
It would be great if you could send the PR to change `devIoU`.

[2020-04-07 09:16] fmassa commented on #2025
@pmeier I think we could adopt the function-signature style of black, but leave the rest of the code-base unchanged? If that's what you proposed, I'm ok with it!

[2020-04-07 09:23] gokriznastic commented on #616
@rsk2327 I had submitted a PR regarding this but as you can see it is still open. Meanwhile, you can save it in the desired directory using the environment variable `TORCH_HOME`.

[2020-04-07 12:37] fmassa commented on #1598
This is fixed now for Mask R-CNN and Keypoint R-CNN, thanks to https://github.com/pytorch/vision/pull/1911 and https://github.com/pytorch/vision/pull/2069, and will be present in the next release of torchvision next week

[2020-04-07 12:37] #1598 closed

[2020-04-07 12:43] fmassa commented on #1568
@jhultman please if you could send a PR (with a test case) it would be great!

[2020-04-07 13:12] hartb commented on #2035
Submitted: https://github.com/pytorch/vision/pull/2072

[2020-04-07 13:56] fmassa commented on #2035
Thanks @hartb ! This has been fixed now

[2020-04-07 13:56] #2035 closed

[2020-04-07 15:52] fmassa commented on #2047
I think this might just be due to historical artifacts, but I'll let @soumith chime in

[2020-04-07 15:55] soumith commented on #2047
it's historical.

I'm okay with harmonizing them in pytorch.org/vision , pytorch.org/text , pytorch.org/audio and providing a link to them in pytorch.org/docs
However, I worry that the people who use the search bar in pytorch.org/docs will start missing the results from before, so thinking that through is important

[2020-04-07 17:02] FiReTiTi commented on #1598
Thank you very much!

[2020-04-07 19:37] z-a-f commented on #2047
Is it possible to setup a redirect?

[2020-04-07 21:06] jlin27 commented on #2047
If we went that route, setup a redirect from pytorch.org/vision to https://pytorch.org/docs/stable/torchvision/ and keep the build as is, would @soumith be able to help with that redirect?

[2020-04-08 03:24] merisgong208 opened #2074 "Hope Yolo model can be added in pretrained models"
## ❓ Questions and Help

### Please note that this issue tracker is not a help form and this issue will be closed.

We have a set of [listed resources available on the website](https://pytorch.org/resources). Our primary means of support is our discussion forum:

- [Discussion Forum](https://discuss.pytorch.org/)

[2020-04-08 08:30] Edwardmark commented on #2001
@two-names I met the same problem, how you solved it?

[2020-04-08 09:13] Edwardmark commented on #2045
@fmassa what if I do not want to updating CMake?

[2020-04-08 10:03] Edwardmark opened #2076 "nvcc fatal : Unknown option 'Wl,--no-as-needed,/app/install/libtorch/lib/libtorch.so'"
nvcc fatal   : Unknown option 'Wl,--no-as-needed,/app/install/libtorch/lib/libtorch.so'
## To Reproduce
docker pull nvcr.io/nvidia/tensorrt:19.02-py3
docker run -ti nvcr.io/nvidia/tensorrt:19.02-py3 bash
mkdir /app
cd /app
git clone https://github.com/pytorch/vision.git
wget https://download.pytorch.org/libtorch/cu92/libtorch-cxx11-abi-shared-with-deps-1.4.0%2Bcu92.zip
unzip libtorch to /app/
Step

[2020-04-08 10:46] fmassa commented on #2045
@Edwardmark good question, and I don't know the answer. @bmanga would you know a solution for this?

[2020-04-08 10:49] fmassa commented on #2076
@bmanga could you have a look?

[2020-04-08 10:50] fmassa commented on #2001
@bmanga could you have a look?

[2020-04-08 11:04] two-names commented on #2001
Hi, @Edwardmark !
I just removed the flags `-Wall -Wextra -Wno-unused-parameter -Wno-missing-field-initializers -Wno-write-strings -Wno-unknown-pragmas -Wno-missing-braces -fopenmp` from flags.make

The compiler call itself comes from build.make
`/usr/local/cuda-10.0/bin/nvcc  $(CUDA_DEFINES) $(CUDA_INCLUDES) $(CUDA_FLAGS) -x cu -c`

nvcc does not support these parameters. These flags are passed t

[2020-04-08 13:12] fmassa commented on #2001
@two-names is this something that could be fixed in the CMakeLists of torchvision?

[2020-04-08 13:15] fmassa commented on #2074
Hi,

We are planning on adding RetinaNet to the models soon, but there is currently no plans for YOLO.
Note that both RetinaNet and YOLO are single-stage methods, but RetinaNet is more accurate so should cover more cases (given a fixed backbone).

The PR adding RetinaNet can be found in https://github.com/pytorch/vision/pull/1697

As such, I'm closing this issue but let me know if you disagree.

[2020-04-08 13:15] #2074 closed

[2020-04-08 13:48] two-names commented on #2001
@fmassa I suppose we should set this properties like:
`if(WITH_CUDA)
set_property(TARGET torch_cuda PROPERTY INTERFACE_COMPILE_OPTIONS "")
endif()
set_property(TARGET torch_cpu PROPERTY INTERFACE_COMPILE_OPTIONS "")`

This works for my app that links to TorchVision:
`find_package(TorchVision REQUIRED)`

Otherwise, non-supported C++ flags are passed to nvcc!

[2020-04-08 15:48] mthrok commented on #1853
I just launched the trainings for both `fcn_resnet50` and `deeplabv3_resnet50`.

[2020-04-08 15:56] fmassa commented on #2001
@two-names Can you send a PR fixing this?

[2020-04-08 18:16] bmanga commented on #2045
It seems that the first cmake release to have the module is cmake 3.12, which is effectively  ahead of what ships in Ubuntu 18.04 LTS (3.10).
The question is whether it whether it is worth supporting 3.10, especially given how easy it is to just upgrade cmake (it has prebuilt binaries on the website, and there are pip and conda packages available). But I also understand that in some circumstances

[2020-04-08 18:57] soumith commented on #2047
@jlin27 push an `index.html` page to vision's `gh-pages` branch that does the redirect.
Something like https://www.tutorialspoint.com/How-to-redirect-from-an-HTML-page

[2020-04-08 19:18] bmanga commented on #2076
Hi @Edwardmark, what is the version of cmake being used there?

[2020-04-08 19:24] bmanga commented on #2001
Hi @two-names, where is the `flags.make` file that you are referring to?
I'm wondering whether the fix should be on the torch side...

[2020-04-08 19:27] dnns92 opened #2079 "batch normalization affects model.eval's prediction"
## 🐛 Bug
I'm not entirely sure if I maybe do not miss something VERY obvious here, feel free to tell me if that is the case, however I think it might be a bug: Batch normalization should only affect the input during training. However, I find with an easy experiment, that this is not the case. Note that dropout is not applied.

## To Reproduce

Steps to reproduce the behavior:

0. generate Input "i

[2020-04-08 19:52] two-names commented on #2001
Hi @bmanga.  File `flags.make` is generated after the command `cmake -DWITH CUDA=on ..`
`build/CMakeFiles/torchvision.dir/flags.make`

[2020-04-09 01:02] Edwardmark commented on #2076
@bmanga cmake 3.12.1

[2020-04-09 02:07] Edwardmark commented on #2076
@bmanga Did you reproduce the error?

[2020-04-09 02:52] phamquiluan opened #2080 "Need to put `norm_layer` as a parameter."
https://github.com/pytorch/vision/blob/684f48db4e6f619389da3a6957b3edebf794ae79/torchvision/models/detection/backbone_utils.py#L47

It works fine with resnet50_fpn, but when I try to use another backbone, for example `resnext101_32x8d`

`norm_layer=misc_nn_ops.FrozenBatchNorm2d` may trouble with Imagenet pretrained  weights, which use BatchNorm

[code]

[2020-04-09 03:23] Edwardmark commented on #2076
@bmanga Upgrading CMake to 3.13.2 works. Closed the issure.

[2020-04-09 03:23] #2076 closed

[2020-04-09 03:29] Edwardmark opened #2082 "Does vision cpp api support half cuda precision ?"
Does vision cpp api support half cuda precision ?
I see that in the CMakelist.txt, it used flags as -D__CUDA_NO_HALF_OPERATORS_.
https://github.com/pytorch/vision/blob/master/CMakeLists.txt#L10

[2020-04-09 03:39] PrasadNR commented on #1877
I just pip installed using Command Prompt and then tried to run torch. I am getting the same error.

[2020-04-09 03:44] potterhsu opened #2083 "COCO AP of FPN with ResNet-50 backbone for object detection"
Hi @fmassa, thanks for the great codes.
I am confused about COCO AP of `Faster R-CNN ResNet-50 FPN`,
from [Document](https://pytorch.org/docs/stable/torchvision/models.html) and #925 and [Source Code](https://github.com/pytorch/vision/blob/master/references/detection/train.py#L156,L173),
I guess that the model `Faster R-CNN ResNet-50 FPN` was trained with following hyperparameters and got AP 37.0,

[2020-04-09 03:53] jinh574 commented on #1741
Any update of this issue? I have the same problem

[2020-04-09 05:50] #2079 closed

[2020-04-09 08:30] SilverLiningSL commented on #1001
Hi @fmassa
How am I supposed to get top-K features from the 1000-feature feature map? Thx

[2020-04-09 09:24] bmanga commented on #2082
Currently the cuda code fails to compile if that flag is not passed. I don't remember the exact reason why though, but I think it had to do with ambiguous overloads.

[2020-04-09 09:38] Edwardmark commented on #2082
@bmanga so could the torchvison cpp code run with fp16 input?

[2020-04-09 09:39] #2080 closed

[2020-04-09 09:41] fmassa commented on #2080
Actually, the error you are facing has been fixed with https://github.com/pytorch/vision/pull/1728

But the PR that you linked is ok with me, I would have exposed `**kwargs` instead, but that's fine

[2020-04-09 09:42] fmassa commented on #1741
@jinh574 this is still being worked on

[2020-04-09 09:56] bmanga opened #2085 "Minimum CMake version required to build."
It seems like there are a sizable number of issues being created where people can't successfully compile the C++ code due to old CMake (#2076, #2001, #2054 ).
#2076 and #2001 are due to cmake forwarding unknown compiler flags to nvcc, and #2054 because a required CMake module (FindPython3) is only available on CMake 3.12+.
#2076 is fixed, accoding to the author, by upgrading to CMake 3.13.2 so I w

[2020-04-09 09:58] fmassa commented on #2083
Hi,

There are a few differences between both implementations that lead to this difference in mAP:
- maskrcnn-benchmark and detectron2 uses ResNet50 Caffe2 pre-trained weights with stride in the 1x1 convolution, while torchvision models uses the torchvision resnet50 models (with stride in the 3x3 convolution)
- we use l1 loss for both regression, instead of smooth_l1 -- this is for simplicity, but

[2020-04-09 10:01] bmanga commented on #2082
If you mean user code, I think the answer is that you can use fp16 in your own code, but the moment you pass the data to torchvision code it will be converted to fp32, so it won't perform native 16bit operations.
I could be very wrong though, I haven't personally tried that.

[2020-04-09 10:03] fmassa commented on #1853
Let's keep the issue open until the new models are uploaded to torchvision

[2020-04-09 10:27] fmassa commented on #2085
That sounds good to me, thanks @bmanga !

[2020-04-09 10:36] two-names commented on #2085
@bmanga
Unfortunately even CMake v 3.15 doesn't solve nvcc problems.

[2020-04-09 10:41] bmanga commented on #2085
@two-names ok, let's try to find a solution to your problem first then!

[2020-04-09 10:42] two-names commented on #2001
Hi @fmassa! Actually I don't know if it's possible to solve the problem by editing torchvision CMakeLists.

[2020-04-09 10:44] bmanga commented on #2001
@two-names can you give me information about the versions of libtorch, nvcc and gcc?
Actually the output of a fresh cmake generation would be good (make sure you delete CMakeCache.txt)

[2020-04-09 11:03] two-names commented on #2001
[CMakeCache.txt](https://github.com/pytorch/vision/files/4455726/CMakeCache.txt)
cmake-3.15.2
gcc -v: gcc 7.4.0
nvcc release 10.0 V10.0.130
pytorch 1.5.0a0

[2020-04-09 11:38] two-names commented on #2001
@bmanga
[CMakeLists.txt](https://github.com/pytorch/vision/files/4455882/CMakeLists.txt)
Works if you add these lines to the end of the CMakeLists.txt
`
set_property(TARGET torch_cuda PROPERTY INTERFACE_COMPILE_OPTIONS "")
set_property(TARGET torch_cpu PROPERTY INTERFACE_COMPILE_OPTIONS "")
`

[2020-04-09 11:38] bmanga commented on #2001
Did you build pytorch yourself or are you using a nightly build? The latest stable is 1.4.
It seems that the only supported prebuilt versions of cuda are 9.2 and 10.1, but you are using 10.0. I have never tried compiling on anything other than 10.1, so maybe try to switch to cuda 10.1.

[2020-04-09 12:52] fmassa commented on #2082
I believe it should work with half types, but please let us know if that isn't the case.

[2020-04-09 12:52] #2082 closed

[2020-04-09 14:59] mthrok commented on #1853
We got the following result;

| Model  | Mean IoU | Global Accuracy |
| ------------- | ------------- | ------------- |
| fcn_resnet50  | 60.5  | 91.4 |
| deeplabv3_resnet50  | 66.4 | 92.4 |

We are preparing for the model release.

[2020-04-09 18:34] ferna11i commented on #1598
Thank you!
Great work!

[2020-04-09 23:17] develooper1994 opened #2088 "TorchVision Object Detection finetuning tutorial"
## 📚 Documentation

I am looking for object detection tutorial colab verison. I am getting error while training. I think error at "`evaluation or update or loadRes or createIndex`". I can't change. You should look at it

[2020-04-10 07:10] Edwardmark commented on #2001
@two-names The CMakelists works.
@bmanga Yes, 1.4 is stable, but to use torch::index, we have to build nightly build.
Anyway, thanks for your all patience and enthusiasm.

[2020-04-10 07:47] bmanga commented on #2001
@Edwardmark Which CMakeLists works? Master's or the one posted by @two-names ?
Happy to help :)

[2020-04-10 07:52] Edwardmark commented on #2001
@bmanga tow-names works.
just add these lines to the end of the CMakeLists.txt
[code]

[2020-04-10 08:02] bmanga commented on #2001
That is not a proper fix though. I am not sure where those two targets (torch_cuda and torch_cpu) are coming from. Indeed, if I try to add those two lines at the end of my CMakeLists.txt I get the following error:
[code]
It could be that master pytorch is broken, I would try to open an issue there...

[2020-04-10 08:10] Edwardmark commented on #2001
@bmanga I am using https://download.pytorch.org/libtorch/nightly/cu92/libtorch-cxx11-abi-shared-with-deps-latest.zip to build vison. You can have a try.

[2020-04-10 08:37] bmanga commented on #2001
Yep. Confirmed also with 1.6.0.dev20200409+cu101
I will open an issue on pytorch.

[2020-04-10 09:57] Edwardmark opened #2089 "How to use torchvision.ops.nms in cpp?"
How to use torchvision.ops.nms in cpp?
What should I include and how to call the funciton? Any doc?

[2020-04-10 10:03] #1853 closed

[2020-04-10 10:33] fmassa commented on #2088
Hi,

Thanks for the heads up. It looks like now Google Colab comes with a pre-installed version of `pycocotools`, which has a bug that has been fixed, see https://github.com/cocodataset/cocoapi/pull/354

In order to fix this issue for you, replace the first cell of the notebook with
[code]
For some reason, installing with `python setup.py build_ext` doesn't seem to work anymore on colab.

I'll be

[2020-04-10 10:33] #2088 closed

[2020-04-10 13:15] fmassa commented on #2088
This PR fixes the tutorial https://github.com/pytorch/vision/pull/2090

[2020-04-11 14:59] dwSun commented on #1674
It is confusing to use **target_transform** to achieve this, especially when I already have a pre-defined order of classes.

[2020-04-11 22:09] Ge0rges commented on #1759
I get this issue as well with torchvision 0.5.0 and Pillow 7.1.1 as well as 7.0.0

[2020-04-12 03:26] kevalmorabia97 opened #2095 "Pre trained Faster RCNN evaluation metrics all zero on pascal voc 2010 for Detection"
Hi Everyone,

I am training the pretrained Faster RCNN model on PASCAL VOC 2010 dataset for Object Detection by following this pytorch finetuning tutorial: [pytorch.org/tutorials/intermediate/torchvision_tutorial.html](https://pytorch.org/tutorials/intermediate/torchvision_tutorial.html)
I am only using RandomHorizontalFlip transformation while training. [Can anyone suggest how to do transforms on

[2020-04-12 07:36] pmeier commented on #1759
@Ge0rges As stated [above](https://github.com/pytorch/vision/issues/1759#issuecomment-583826810):

I've outlined possible workarounds in that comment. If they do not work for you, please open a [new bug report issue](https://github.com/pytorch/vision/issues/new?assignees=&labels=&template=---bug-report.md&title=).

[2020-04-12 13:55] Ge0rges commented on #1759
I was surprised a fix has been pushed for so long but no updates to torch vision stable have been put out yet.

[2020-04-12 13:57] pmeier commented on #1759
I think a new release is just around the corner, but I have no precise information about that.

[2020-04-13 08:18] KaiHoo commented on #2083
@fmassa Thanks for your explanation! Could you give us some hints on how we can improve the mask R-CNN performance with small modification on the vision repo codes?  From my understanding, 1)  using stride in the 3x3 convolution should improve the performance. 2) l1 loss may be better for COCO dataset. 3) MaskRCNNPredictor, MaskRCNNPredictor, etc in vision repo use ```kaiming_normal_```  initializ

[2020-04-13 10:33] ResByte commented on #1910
@fmassa can I suggest to mark this issue open or link it related one?

[2020-04-13 17:57] tgaddair opened #2097 "Unable to automatically install latest torchvision preview release"
## 🐛 Bug

According to the official PyTorch [docs](https://pytorch.org/), the latest preview releases of PyTorch and Torchvision can be installed as follows:

[code]

However, even though there are preview releases of Torchvision published nightly (e.g., [torchvision-0.6.0.dev20200413](https://download.pytorch.org/whl/nightly/cpu/torchvision-0.6.0.dev20200413%2Bcpu-cp35-cp35m-linux_x86_64.whl)), t

[2020-04-14 00:52] zasdfgbnm opened #2098 "Error when installing using official command"
## 🐛 Bug

[code]

## To Reproduce

Go to: https://pytorch.org/get-started/locally/ and copy-paste the command provided:

[code]

[2020-04-14 01:54] jlin27 commented on #2047
@soumith - Maybe I'm misunderstanding, but I don't think vision has a `gh-pages` branch (https://github.com/pytorch/vision) since their docs are built directly inside of pytorch/pytorch docs build process. Would we need to setup a CNAME redirect?

[2020-04-14 03:22] soumith commented on #2047
it doesn't have a gh-pages branch, but you can create one, which will make `pytorch.org/vision` active and point to your created HTML page (in which you will point a redirect to https://pytorch.org/docs/stable/torchvision/index.html), which in turn will redirect users to https://pytorch.org/docs/stable/torchvision/index.html

[2020-04-14 07:49] aksenventwo opened #2100 "Use torch.jit.scripts to save the quantized inception_v3 error"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

[code]

[code]

## Expected behavior

Successfully saved

## Environment

Collecting environment information...
PyTorch version: 1.4.0
Is debug build: No
CUDA used to build PyTorch: 10.1

OS: Ubuntu 18.04.1 LTS
GCC version: (Ubuntu 6.5.0-2ubuntu1~18.04) 6.5.0 20181026
CMake version: version 3.14.7

Python version: 3.6
Versions of relevan

[2020-04-14 07:56] ckqsars commented on #1916
How to show the Environment?

[2020-04-14 09:01] peterjc123 commented on #1916
`python -m torch.utils.collect_env`

[2020-04-14 09:12] 300LiterPropofol opened #2101 "Where to download torchvision0.5.1 .whl files"
Hi,
I would like to download the torchvision 0.5.1 version but I cannot find a source to download the .whl file.
It is not in pypi.org nor in pytorch.org, nor anaconda.org.

I have proxy issues on my computer so I can not use pip command, I need to download the .whl file first.
Can you help me by giving an address of the 0.5.1 version? or some other hint to solve this? Thank you.

[2020-04-14 13:32] fmassa commented on #2101
Hi,

The 0.5.1 version of torchvision (which has been renamed to 0.6.0) has not been officially released yet, and is in testing phase.

It will be made available next week in the official pytorch channels

I'm closing the issue as such, but let us know if you have further questions

[2020-04-14 13:32] #2101 closed

[2020-04-14 13:54] fmassa commented on #2098
Thanks for opening this issue!

This should (hopefully) be fixed with https://github.com/pytorch/vision/pull/2102

[2020-04-14 14:14] fmassa commented on #2095
Hi,

This can be due to a number of factors.
You are training the model from scratch, which might require a lot of training iterations before it starts giving meaningful results, specially because Pascal is small.

I think the key issue here though is that there might be an issue with your dataset implementation, which is not returning things in the format the the evaluation code expects.

I would

[2020-04-14 14:14] #2095 closed

[2020-04-14 14:15] makslevental opened #2103 "size -> size() ?"
traceback

[code]

line with bug

https://github.com/pytorch/vision/blob/master/torchvision/transforms/functional.py#L374

my version numbers

[code]

[2020-04-14 14:18] makslevental commented on #2103
oh wait this is probably because i'm trying to crop a tensor. whoops. sorry!

[2020-04-14 14:18] #2103 closed

[2020-04-14 15:11] fmassa commented on #2097
Hi,

Thanks for opening the issue, this should hopefully be fixed with https://github.com/pytorch/vision/pull/2102

Also, @seemethere we should probably remove the 0.6.0 wheels from the `nightly` folder (same with conda)

[2020-04-14 15:19] fmassa commented on #2083
Hi @KaiHoo

Can you share the difference in mAP that you got?

Also, just by the fact that you are using the torchvision ResNet weights for classification means that there will be differences in the baseline already.

I've recently worked on a research paper on object detection, and the same baseline model from 1 year ago has already been improved by some small tricks. One recent example is the sl

[2020-04-14 16:16] brianjo commented on #2047
Thanks for the input. I'll set that up now.

[2020-04-14 16:23] jlin27 commented on #2047
Thanks Soumith, we'll work on that.

[2020-04-14 16:48] brianjo commented on #2047
I have a PR ready, but the Create Pull Request button isn't enabled for me.
Any ideas for what I need to do to fix?
![Screen Shot 2020-04-14 at 9 45 13 AM](https://user-images.githubusercontent.com/1500149/79251430-f90d0280-7e34-11ea-97b3-e7813489820d.png)

[2020-04-14 16:54] #2098 closed

[2020-04-14 17:05] kevalmorabia97 commented on #2095
Hi @fmassa, I just updated my answer above. I was able to resolve to issue of all metrics to be 0 by changing from mobilenet_v2 backbone to the default backbone, and optimizer from Adam to SGD. I still am getting much worse results then expected (47% vs 70% mAP). Could you please help me out?

[2020-04-14 20:49] brianjo commented on #2047
Figured it out. https://github.com/pytorch/vision/pull/2104

[2020-04-15 06:08] lunasdejavu opened #2106 "I can't load mobilenet under version 0.5.0"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1.a =models.mobilenet()

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
TypeError: 'module' object is not callable
## Expected behavior
load the mobilenet model, but I can find  mobilenet module in dir(torchvision.models)

## Environment
ubuntu16.04
torchvision version 0.5.0
Please copy and paste the output from

[2020-04-15 06:46] Gokkulnath commented on #2106
@lunasdejavu You are trying to call a module as such. The correct way of instantiating a model is

model=MobileNetV2(**params)

[2020-04-15 08:02] lunasdejavu commented on #2106
I want to call mobilenetv1 not mobilenetv2,
the result of `dir(models) `shows there are two different  mobilenet models here.
` ['AlexNet', 'DenseNet', 'GoogLeNet', 'GoogLeNetOutputs', 'Inception3', 'InceptionOutputs', 'MNASNet', 'MobileNetV2', 'ResNet', 'ShuffleNetV2', 'SqueezeNet', 'VGG', '_GoogLeNetOutputs', '_InceptionOutputs', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__',

[2020-04-15 09:32] Gokkulnath commented on #2106
I think we dont have mobilenetv1 in torchvision.models.
P.S:  Also i believe that whatever you see in that list includes all the submodule filenames that are located under the models directory. See here: [Link ](https://github.com/pytorch/vision/tree/1e27b533490d5b375c4656d2dd67961baaa1dced/torchvision/models)

you can also look into the source of mobilenet here:  [mobilenet.py](https://github.com

[2020-04-15 10:03] fmassa commented on #2106
@Gokkulnath is correct, we don't provide MobileNetV1 models, only V2.

Also, the way I would recommend for calling the model would be the following:

[code]

As such, I'm closing the issue but let us know if you have further questions

[2020-04-15 10:03] #2106 closed

[2020-04-15 11:41] vivekdeepquanty opened #2108 "Not getting proper mask as instance."
Hi guys

Use pretrained weights=yes
no. of epoch=400
no. of class=1

At the time of prediction i am not getting individual masks for individual object. i am getting some extra mask but those are empty or partial . what can be the reason?

[2020-04-15 12:05] fmassa commented on #2095
I would say to increase the number of training epochs and the learning rate as a start.
Also, increasing the training set size (by using trainval instead of train) will definitely improve performances.

[2020-04-15 12:06] fmassa commented on #1759
Next release is ready and will be made available early next week

[2020-04-15 14:31] fmassa commented on #2100
Hi,

Thanks for the report!

This has been fixed in for GoogleNet in https://github.com/pytorch/vision/pull/1949, but not for Inception I believe.

cc @eellison

[2020-04-15 14:53] fmassa commented on #1910
@ResByte can you create a new issue? Your error seems unrelated to the original issue

[2020-04-15 15:07] fmassa commented on #2089
We don't yet have full documentation for it, but here are a few links that give information on how to do it https://github.com/pytorch/vision/pull/1407#issuecomment-562734481 https://github.com/pytorch/vision/pull/1407#issuecomment-562096191

It would be great to have it summarized in the `examples/` folder, a PR would be awesome
Also, ccing @chauhang

[2020-04-15 15:11] fmassa commented on #2108
Hi,

There might be many reasons, but without further information it is difficult to be 100% sure.
- Maybe your training dataset is too small
- Maybe there is a bug in the code
- Maybe the annotations in the dataset are too noisy

As this is a very open question, I'm closing it, but please let us know if you find issues with torchvision.

[2020-04-15 15:11] #2108 closed

[2020-04-15 15:24] fmassa commented on #1001
The solution from https://github.com/pytorch/vision/issues/1001#issuecomment-589532923 probably do what you want

[2020-04-15 16:42] edgarriba commented on #1375
hi! just to make a point here. All those listed operators (and more) are already supported by [`kornia.augmentation`](https://github.com/kornia/kornia/tree/master/kornia/augmentation) (without knowing the existence of this work in progress).

In kornia we have been working on the same direction to fully support transforms assuming torch tensors as inputs and PyTorch operators. Would be great to fi

[2020-04-15 17:22] brianjo commented on #2047
https://pytorch.org/vision is working now.
Thanks all for your help on this.

I'll close the issue.

[2020-04-15 17:22] #2047 closed

[2020-04-16 01:27] LiRWZ commented on #1405
I met the same erro:No such operator torchvision::nms.So I change the version of pytoch and torchvision to 1.2.0 and 0.4.0,but the erro is still here.

[2020-04-16 02:10] Nic-Ma opened #2109 "development plan of "functional_tensor""
## ❓ Questions and Help

Hi torchvision team,

This is Nic from NVIDIA, thanks for sharing your great work on data processing solutions!
1. I saw you developed "functional_tensor.py" to support Tensor type data but didn't find where it is used in transforms, may I know the reason?
2. And what's your future plan of transforms for Numpy and Tensor data type?
Actually, I found 2 Tensor only transform

[2020-04-16 03:48] KaiHoo commented on #2083
@fmassa Yes we should report results  on the same base implementation that was used, not all reviewers accept results that are lower than they got used to. Here are the difference:

Mask R-CNN R50-FPN:
box AP 37.9, mask AP 34.6 (vision repo official results)
box AP 38.6, mask AP 34.5 (detectron repo official results)

Mask R-CNN R101-FPN:
box AP 40.3, mask AP 36.2 (vision repo self-training result

[2020-04-16 04:00] KaiHoo opened #2110 "VGG models with BN are not fully trained."
## 🐛 Bug

The models in https://github.com/pytorch/vision/tree/master/references/classification are mostly trained with 90 epochs and the learning rate is reduced 0.1x every 30 epochs. Thus the
learning rate is reduced only twice. This learning rate scheduler works for ResNets, but may not work for VGG models with BN  since the loss landscape may not be so good. Here are parts of my training logs:

[2020-04-16 04:06] potterhsu commented on #2083
Hi @fmassa,
I finally got **37.0 AP** with **1x scheduler** after **beta smooth l1 loss** was applied.

Here are my experiments:

### Hardware

* NVIDIA Tesla V100 32G x 4

### Software
* Python 3.7
* torch 1.4.0
* torchvision 0.5.0

### Script

[code]

### Results

##### 1. Without any modification

| Repo                           | Network    | box AP | scheduler | epochs | lr-steps        | ba

[2020-04-16 04:56] ResByte opened #2111 "Error in exporting Mask-RCNN to onnx format"
## 🐛 ONNX export of Mask-RCNN results in KeyError: '_new_empty_tensor_op'

Following the guide(https://github.com/pytorch/vision/releases) to export Mask-rcnn with resnet-50 backbone, there was error. Details of this as  :

**versions**
[code]

**code:**
[code]

**error log:**

[code]

[2020-04-16 04:57] ResByte commented on #1910
thanks, raised a new issue here #2111 , please have a look.

[2020-04-16 06:14] Edwardmark commented on #2082
@fmassa @bmanga Hi,
I use half tensor in dets and scores to do nms:
cout << c_bboxes << endl;
cout << c_scores << endl;
torch::Tensor keep = nms(c_bboxes, c_scores, 0.3);
But it gives the following output:
 0.4980  0.2432  0.0919  0.1073
 0.4978  0.2426  0.0928  0.1094
 0.4966  0.2424  0.0934  0.1096
 0.4980  0.2428  0.0935  0.1099
 0.4976  0.2430  0.0946  0.1110
 0.4973  0.2441  0.0930  0.1113
 0

[2020-04-16 08:03] SilverLiningSL commented on #1001
Thank you!

[2020-04-16 14:04] LeeHXAlice commented on #1729
@robotcator I meet the same issue.  How did you fix this problem? Is there some advices? Thanks.

[2020-04-16 16:03] fmassa commented on #2109
Hi,

Great questions! The some of the ideas of the existence of `functional_tensor.py` are exposed in https://github.com/pytorch/vision/issues/1375 , and we should consider it as work-in-progress right now.

Once the transforms work in `functional_tensor.py` is finished (i.e., parity with `functional.py`), we will adapt `transforms.py` to support both PIL images and PyTorch tensors, in a way that

[2020-04-16 16:16] fmassa commented on #2047
Thanks @brianjo !

[2020-04-16 17:03] fmassa commented on #2083
Hi all,

Wow, thanks for the investigation @potterhsu !
It seems that given the current implementation of the model, smooth_l1 does have a significant impact on performance! This comes as a surprise for me.

I think given the large difference, it might be worth considering changing the default implementation and use `smooth_l1` instead. I'll retrain all models accordingly to validate that we get s

[2020-04-16 17:06] fmassa commented on #2111
@neginraoof could you have a look?
This type of issues have showed up in the past and have been fixed, but looks like @ResByte is using a recent enough version of PyTorch / TorchVision

[2020-04-16 17:11] neginraoof commented on #2111
Sure. Export for _new_empty_tensor_op has been enabled in: https://github.com/pytorch/vision/pull/1733
@fmassa  Do you know how can I check if this commit is in torchvision 0.6.0a0 ?

[2020-04-17 00:39] Nic-Ma commented on #2109
Hi @fmassa ,

Thanks very much for your detailed explanation!
And glad to see that we are in a similar direction for Tensor transforms.
Actually, we are developing a medical domain-specific AI toolkit [MONAI](https://github.com/Project-MONAI/MONAI) which contains many numpy based transforms for medical images(especially higher dimensions, medical image use cases, etc.): [transforms for array](http

[2020-04-17 02:27] qianxi0617 commented on #2111
@neginraoof Same original issue here. Nightly built torch and torchvision dev20200414 solved  _new_empty_tensor_op. But it occurred a new one: `Exporting the operator prim_Uninitialized to ONNX opset version 11 is not supported. Please open a bug to request ONNX export support for the missing operator. `

[2020-04-17 07:26] potterhsu commented on #2083
Sure, I've sent PR #2113 for this.

[2020-04-18 17:31] netw0rkf10w opened #2116 "Resume in the Segmentation example"
## 🐛 Bug

The segmentation training [script](https://github.com/pytorch/vision/blob/7b60f4db9707d7afdbb87fd4e8ef6906ca014720/references/segmentation/train.py) doesn't seem to allow correct resuming. I think [lines 131-133](https://github.com/pytorch/vision/blob/7b60f4db9707d7afdbb87fd4e8ef6906ca014720/references/segmentation/train.py#L131) should be changed to:

[code]

Then, [line 161](https://gi

[2020-04-20 05:43] lironmo opened #2119 "torchvision latest update(0.5.0) broke CosineAnnealingWarmRestarts: T_cur is not define"
Hello,
maybe i missing something, but my tests failed on  CosineAnnealingWarmRestarts creation,

the problem is:

        super(CosineAnnealingWarmRestarts, self).__init__(optimizer, last_epoch)

        self.T_cur = self.last_epoch

the super class call the override step function that use self.T_cur that is not defined.

[2020-04-20 07:30] FiReTiTi commented on #1598
@fmassa: I haven't seen a new torchvision release. Pip still propose version 0.5.0

[2020-04-20 10:49] WaterKnight1998 opened #2120 "Resnet34 as backbone for segmentation models"
## 🚀 Feature

I would like segmentation models with resnet34 backbone

## Motivation

They have added resnet50 backbone.

[2020-04-20 12:03] WaterKnight1998 opened #2121 "NotImplementedError: Dilation > 1 not supported in BasicBlock on Resnet"
## 🐛 Bug

I tried to obtain a deeplabv3_resnet34 version based on the code that you are using for getting the resnet50 and resnet101 version

## To Reproduce

[code]
---------------------------------------------------------------------------
NotImplementedError                       Traceback (most recent call last)
<ipython-input-21-71ba71ca9be2> in <module>
----> 1 model=deeplabv3_resnet34(pretr

[2020-04-20 17:53] DSLituiev commented on #1712
Can someone update `torchvision-cpu` on conda channel?

`conda install torchvision-cpu -c pytorch` is still version `0.3.0` with this issue

[2020-04-20 18:15] pmeier commented on #2121
Related: #2115

[2020-04-20 18:36] WaterKnight1998 commented on #2121
How can i get pytorch getting updated with that addition???

[2020-04-20 19:06] bmanga commented on #2001
Hey @two-names and @Edwardmark, I have opened a pr against pytorch: https://github.com/pytorch/pytorch/pull/36945

Could you let me know if that indeed fixes the problem?

[2020-04-20 19:47] pmeier commented on #2121
Depends on how you have installed `torchvision` in the first place:

If you have installed from a pre-built binary with `pip` or `conda` you can't get this right now. If #2115 is merged you can install the `nightly` versions.

If you have installed from source you can simply perform the fix yourself locally and built afterwards. You can also clone from the fork / branch the author used for his PR

[2020-04-20 19:59] pmeier commented on #2119
Hi,

1. `CosineAnnealingWarmRestart` is an `lr_scheduler` and implemented in `torch`. Your issue is betterr fitted to "their" [issue tracker](/pytorch/pytorch/issues).
2. Before you open a new issue, please compile a minimal example that clearly shows the problem you are facing. From what you have posted we can't reproduce your problem and thus in turn can't help you.

[2020-04-20 21:19] toto-maru opened #2122 "[proposal] Add an optional arg for specifying classes to load in ImageFolder"
## 🚀 Feature
Add "classes" option to`torchvision.datasets.ImageFolder.__init__()` method, which specify the classes I want to use under "root", not every classes (folders) under "root".

## Motivation

I'd like to specify classes to use under "root" path, but current ImageFolder loads every classes (dirs) under "root" path.
 In Keras' [ImageDataGenerator.flow_from_directory](https://keras.io/prepr

[2020-04-21 07:36] lironmo commented on #2119
1. ok.
2

[2020-04-21 08:01] #2119 closed

[2020-04-21 08:09] pmeier commented on #2119
Is that what you meant?

[code]

If yes you can reduce this to

[code]

[2020-04-21 08:26] lironmo commented on #2119
Hi @pmeier,
Thanks for your response,
I reported a bug in the right place and closed here.

As for upgrading the running example - the problem is not in the model and the size of the model does not really affect, on the other hand if it is easier for people I will try in the future to create leaner examples.

[2020-04-21 08:34] pmeier commented on #2119
For cross reference: pytorch/pytorch/issues/36989

Please do that. By looking at your examples the following questions arose for me:
- Is this only happening for `resnet50`?
- Is the value of `lr` important?
- Are the values for `T_0`, `T_mult`, `eta_min`, and `last_epoch` important?

It turned out that only `last_epoch > -1` has an effect here. That is not all obvious from your example.

[2020-04-21 09:42] lironmo commented on #2119
you are right, but i want to be explicit of the value passed, and it's best to point about the problem if found.

thanks.

[2020-04-21 09:45] ghost opened #2123 "Fasterrcnn_resnet50_fpn fail in Onnxruntime (vision/test/test_onnx.py)"
## 🐛 Bug

I am trying to run the new test_onnx.py added to vision/test folder. More specifically, I am trying to export Fasterrcnn_resnet50_fpn as ONNX but it is not working.

## To Reproduce

Code Steps to reproduce the behavior:

* I am sharing Google Colab notebook .. it generates the same issue:
https://gist.github.com/moured/a18c07f847e63eb4811710e4d702ecdf

1. from vision.test.test_onnx impo

[2020-04-21 13:01] eliahuhorwitz commented on #1712
Same here

[2020-04-21 13:40] fmassa commented on #1712
@DSLituiev I think we don't distribute `torchvision-cpu` packages anymore, but instead everything is under `torchvision`.

cc @soumith @seemethere for thoughts

[2020-04-21 13:44] fmassa commented on #2123
@neginraoof can you have a look?

[2020-04-21 13:44] fmassa commented on #1598
@FiReTiTi the release will be today

[2020-04-21 14:12] hkwei opened #2125 "Keypoints RCNN with 3 keypoints and My Dataset"
## ❓Zero  loss_keypoint ,and zero  loss_classifier:

I defined a  model :
[code]
a script to test the input and output of model in train mode:
[code]
the result is as follows:
[code]
when I train the model,  output is like this:
[code]
after one epoch, the loss of classifier is always 0:
[code]
what is more, in evluation, the issue https://github.com/pytorch/vision/issues/1568#issuecomment-6069890

[2020-04-21 17:18] soumith commented on #1712
we dont distributed torchvision-cpu packges, but we do distributed Conda CPU-only torchvision packages. They are installable via a label: `conda install pytorch torchvision cpuonly -c pytorch`
This is documented on pytorch.org , in the install selector, just select CUDA=None

[2020-04-21 17:26] moured commented on #2123
I am sharing Google Colab notebook .. it generates the same issue:

[https://gist.github.com/moured/a18c07f847e63eb4811710e4d702ecdf](url)

[2020-04-21 22:20] #2110 closed

[2020-04-22 07:46] XinMing0411 opened #2128 "The batchsize of trainset using deform conv"
## ❓ Questions and Help

### In my project, I want to use the deform conv，but there are some questions for us？

The deform conv which I use  is same as [demo](https://github.com/pytorch/vision/releases) .

When the batchsize of trainset <10,I can train the net without any problem.

But the batchsize of trainset>10, the project will raise a runtime error on optimizer [an illegal memory access was e

[2020-04-22 08:07] shuangshuangguo commented on #1705
Hi, @adizhol @fmassa Did you solve the problem?

[2020-04-22 09:22] linghu8812 commented on #1916
Hello, I also encountered this issue with python3.6, here is my environment:
Collecting environment information...
PyTorch version: 1.4.0+cu100
Is debug build: No
CUDA used to build PyTorch: 10.0

OS: Ubuntu 18.04.4 LTS
GCC version: (Ubuntu 7.5.0-3ubuntu1~18.04) 7.5.0
CMake version: Could not collect

Python version: 3.6
Is CUDA available: Yes
CUDA runtime version: Could not collect
GPU models and

[2020-04-22 09:59] fmassa commented on #2110
Hi,

Thanks for the information! Very valuable!

Those models have been trained a long time ago, and I'm unsure if we should change the pre-trained weights now, given that they are used as references for quite some time already.

[2020-04-22 10:10] WaterKnight1998 opened #2129 "Torchvision 0.6 not getting installed in Anaconda Linux"
## 🐛 Bug

Torchvision 0.5 and Pytorch 1.4 is getting installed instead of 0.6 and 1.5 on anaconda linux.

## To Reproduce

Steps to reproduce the behavior:
[code]

[2020-04-22 10:33] #2129 closed

[2020-04-22 11:34] 300LiterPropofol opened #2130 "torchvision 0.6.0 not support windows?"
Hi,

I found you just released torchvision on pypi and anaconda.org, but I didn't find the .whl file for windows.
Are you going to release the file that support windows? since torch 0.5.0 still supports windows.
Or 0.6.0 will not support windows and there will be no further release on it.

It will be great to know since I am working on a only windows environment.
Thank you

[2020-04-22 13:37] pmeier commented on #2128
Hi @XinMing0411

please compile a minimal example, i. e. removing everything that is not needed to reproduce the error. Without seeing what exactly you are doing its almost impossible to help you.

[2020-04-22 13:49] pmeier commented on #2130
You can find all `wheel`s for the stable versions [here](https://download.pytorch.org/whl/torch_stable.html). For windows

- CUDA 9.2: [`py35`](https://download.pytorch.org/whl/cu92/torchvision-0.6.0%2Bcu92-cp35-cp35m-win_amd64.whl), [`py36`](https://download.pytorch.org/whl/cu92/torchvision-0.6.0%2Bcu92-cp36-cp36m-win_amd64.whl), [`py37`](https://download.pytorch.org/whl/cu92/torchvision-0.6.0%2B

[2020-04-22 17:46] netw0rkf10w commented on #2116
As I understand this is a hack to prevent the test data loader from having duplicates as `torch.utils.data.distributed.DistributedSampler` always fills the dataset so that the total number of samples is divisible by `num_gpus*batch_size`. However, if the number of validation samples is not a multiple of `num_gpus` then the results will not be correct even if `batch_size=1`.

[2020-04-23 00:00] jeffhu1 opened #2132 "Torchvision 0.6.0 doesn't work on Ubuntu 16.04.3 with Python 3.5.2"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:
Create a virtual environment
`python -m venv venv`
Activate the virtual environment
`pip install torchvision`
Run the following line:
`import torchvision`

[code]

## Expected behavior
Expected it to import successfully

## Environment

Please copy and paste the output from our
[environment collection script](https://raw.githubusercontent

[2020-04-23 06:07] bibsian commented on #1861
@bjuncek I just ran into this issue myself. Any workarounds you have other than editing the source code?

[2020-04-23 07:58] WaterKnight1998 opened #2133 "Vision 0.6 prerelease gets installes from pytorch channel in Anaconda"
## 🐛 Bug

The release version is not getting installed in linux from anaconda pytorch channel. However, a prerelease version gets installed:

`0.6.0a0+82fd1c8`

[2020-04-23 09:05] bjuncek commented on #1861
Annoyingly, I found that the best/simplest way to sort it out is to force the `video-reader` backend :|

[2020-04-23 10:11] zsef123 opened #2134 "About RegisterOperators in C++"
## 🐛 Bug
I'm testing about jit in C++ ( libtorch )

My test cases
[code]

Expected (I changed some codes in vision)
[code]

In 1st case, seems no jit opeators registry on libtorch.

Is this only occurs my env? or some codes are wrong?

Because I checked expected output when I changed srcs.

## Environment

Install command follows on `reamdme`

torch 1.5.0 and torchvision 0.6.0

[2020-04-23 12:44] 300LiterPropofol commented on #2130
Thank you very much! It is really helpful!
For whoever upcoming, to successfully use the torchvision 0.6.0, torch 1.4.0 is not enough, you need to install the newest version torch 1.5.0 which is released at the same time as torchvision 0.6.0.

refer to this issue: https://github.com/pytorch/vision/issues/1827

[2020-04-23 12:44] #2130 closed

[2020-04-23 14:55] plumtus commented on #1916
I encountered the same issue in pytorch 1.5
I installed pytorch from source (tag v1.5.0), torchvison form source(master), python version is 3.6

op = torch._C._jit_get_operation(qualified_op_name)
RuntimeError: No such operator torchvision::nms

[2020-04-23 15:13] yaw91 commented on #1916
I also encountered the same error with PyTorch-1.5.0 and torchvision-0.5.0. Below are the details of my environment.

Collecting environment information...
PyTorch version: 1.5.0
Is debug build: No
CUDA used to build PyTorch: 10.2

OS: CentOS Linux release 7.7.1908 (Core)
GCC version: (GCC) 7.3.0
CMake version: version 3.8.2

Python version: 3.7
Is CUDA available: Yes
CUDA runtime version: 10.0.13

[2020-04-23 15:35] csmonnier opened #2135 "Anchors not being properly distributed across feature maps?"
https://github.com/pytorch/vision/blob/d6ee8757eca7b74b98e5f0d434a565eb7b1c410b/torchvision/models/detection/rpn.py#L122

This zip statement will result in anchors being split up across each feature map, as opposed to computing all anchors at each feature map. For example, if anchor sizes are defined as ((8,), (16,), (32,), (64,), (128,)), the first feature map will only be processed using anchors

[2020-04-23 16:33] fmassa commented on #2109
Hi @Nic-Ma

We are planning on allowing all transforms in torchvision to have tensor support for next release, which should be in the next 3-4 months. This won't include nested tensor support, but only normal Tensors for now.

I would say that in the future, the tensor APIs might converge and that interoperability will be possible. It's already the case between some operations in PyTorch and numpy

[2020-04-23 16:36] fmassa commented on #2133
Hi,

Thanks for the report. When did you try downloading it? Also, how did you check the version, was it using `torchvision.__version__` or something else?

cc @seemethere maybe the `BUILD_VERSION` in https://github.com/pytorch/vision/blob/c031e2875bafe633cc163fb2bfe6c61f2f23285e/setup.py#L44-L48 is not working properly?

[2020-04-23 16:39] fmassa commented on #2130
Thanks @pmeier for the help!

[2020-04-23 17:20] vincentqb commented on #2116
The point you mention about resuming looks good to me. Do you want to open a pull request to address these? Are there other training script you noticed that had that?

Removing 'args' from the checkpoint is BC breaking though. We could decide not to load it when loading the checkpoint.

[2020-04-23 17:23] vincentqb commented on #2120
resnet34 is available [here](https://github.com/pytorch/vision/blob/master/torchvision/models/resnet.py#L13). I will close this issue, but please feel free to re-open if this doesn't address your issue.

[2020-04-23 17:33] seemethere commented on #2133
So from what I can tell, the wheels produced get the correct version but the conda packages do not.

I think the issue stems from this commit: https://github.com/pytorch/vision/commit/490966f28ea6e11421d684e94cd995d6c53d4698

Particularly these lines:

https://github.com/pytorch/vision/blob/c031e2875bafe633cc163fb2bfe6c61f2f23285e/packaging/conda/build_vision.sh#L185-L214

This is where we overrid

[2020-04-23 17:34] vincentqb commented on #2120
Would you consider opening a pull request for this?

[2020-04-23 17:34] vincentqb commented on #2121
It looks like #2115 would fix this, is that correct?

[2020-04-23 17:39] vincentqb commented on #2122
I can imagine that there would be a lot of different types of exceptions  to take care of. I would err on the side of not having exceptions. The folders are fairly easy to restructure so as to fit the `ImageFolder` format. Thoughts?

[2020-04-23 17:39] peterjc123 commented on #2133
@seemethere But this script is only used for Windows build. I removed all the logic for Mac/Linux so it shouldn't be the case.

[2020-04-23 17:40] ArashJavan opened #2136 "Making ASPP-Layer in DeepLab more generic"
## 🚀 Feature
At the moment in the ASPP-Layer defined [here](https://github.com/pytorch/vision/blob/c031e2875bafe633cc163fb2bfe6c61f2f23285e/torchvision/models/segmentation/deeplabv3.py#L65) the number of output channels is predefined as a constant, which is good for DeepLab but not if someone else - like me ;) , want to use it in another project, where another out-channel Nr. is required.

Also th

[2020-04-23 17:41] vincentqb commented on #2125
This issue is better discussed on the [forum](https://discuss.pytorch.org). I will close this issue, but please feel free to re-open.

[2020-04-23 17:41] #2125 closed

[2020-04-23 17:50] seemethere commented on #2133
You're absolutely right, I think it actually has to do with this

https://github.com/pytorch/vision/pull/1717/files#diff-2eeaed663bd0d25b7e608891384b7298R46-R47

We actually used to edit out the lines that append the SHA for previous versions which is't really the right thing to do.

I think the reason this was necessary is because the `BUILD_VERSION` environment variable doesn't actually get pass

[2020-04-23 17:54] vincentqb commented on #2134
This issue is better discussed on the [forum](https://discuss.pytorch.org). I will close this issue, but please feel free to re-open.

Moreover, if you encounter an issue with jit, I encourage you to open an issue on [pytorch](github.com/pytorch/pytorch) instead.

[2020-04-23 17:57] vincentqb commented on #2132
I cannot reproduce with conda on macos or linux:
[code]

Can you make sure the virtual environment links correctly?

[2020-04-23 17:59] jeffhu1 commented on #2132
How do I check if it's linking correctly? If its not reproducible I can just use 0.5.0 and close this issue

[2020-04-23 18:08] vincentqb commented on #2132
If you could import, I would have checked `torchvision.__file__` but you can't import :)

Have you tried with conda then? Have made sure pip (or conda) are up-to-date?

[2020-04-23 19:27] WaterKnight1998 commented on #2120
I don't know how to make it works? I tried to use the same code as for deeplabv3 resnet50 and it throwed me an error!!

[2020-04-23 19:34] WaterKnight1998 commented on #2133
@fmassa I tried this morning! I checked with torchvision.__version__. However, with pip there was no issues at all!

[2020-04-23 19:37] WaterKnight1998 commented on #2121
I tried installing from his pull and I got the exact same error!

[2020-04-23 21:19] Cing2 opened #2138 "Imagefolder none descriptive error message"
## 🐛 Bug

You get an weird python error:
`TypeError: can only join an iterable`

If you make an Imagefolder dataset with no samples in the directory and a is_valid_file. Because the extensions variable is set to none because is_valid_file which causes the TypeError.

## To Reproduce

Steps to reproduce the behavior:

1. Use Imagefolder in torchvision.datasets with no samples in the directory and a

[2020-04-23 23:08] Nic-Ma commented on #2109
Hi @fmassa ,

Thanks very much for your sharing!
We totally understand your strategy and schedule now.
Will evaluate the solution effort and risk for our MONAI project again.
And looking forward to the next version torchvision!
Thanks.

[2020-04-24 01:55] zsef123 commented on #2134
@vincentqb
This is not pytorch problem.
Pytorch has support good API, the 'registry'

But the problem is registry parts not calling in the custom project includes Torchvision

So I moved registry parts to header, then the project is running registry codes when compile.

Could you check the jit operators in C++?

[2020-04-24 05:20] pmeier commented on #2121
@vincentqb

In the current state probably not. As @fmassa has stated in https://github.com/pytorch/vision/pull/2115#issuecomment-617193790 this will require more work.

[2020-04-24 08:17] Godricly commented on #1893
After upgrading CUDA from 10.1.105 to 10.1.243. my similar issue is fix. FYI.
[code]

[2020-04-24 08:24] WZMIAOMIAO commented on #2095
hi, my personal opinion is that your result is good. The mAP in faster R-CNN is  69.9 when iou = 0.5, not IoU=0.50:0.95. in your result, when iou = 0.5, mAP is 76.8.

[2020-04-24 10:34] qizhen816 opened #2139 "windows maskrcnn error: unresolved external symbol "class at::Tensor __cdecl nms_cpu(class at::Tensor const &,class at::Tensor const &,float)" (?nms_cpu@@YA?AVTensor@at@@AEBV12@0M@Z)"
I built torchvision pulled from master using :
[code]
Then `torch.jit.script(model)` and saved  mask-rcnn model from torchvision.
Errors occured in my C++ project, firstly `Unknown builtin op: torchvision::_new_empty_tensor_op`, then I modified my code according to #1407,  added lines like `#include "torchvision/nms.h"` and `torch::RegisterOperators().op("torchvision::nms", &nms)` , but it won't w

[2020-04-24 11:25] peterjc123 commented on #2139
You need to mark those function as dllexport using this [header](https://github.com/pytorch/vision/blob/master/torchvision/csrc/models/general.h).

[2020-04-24 14:13] vincentqb commented on #2121
I see, thanks for pointing out the comment :)

[2020-04-24 16:47] netw0rkf10w commented on #2116
@vincentqb Thanks. I have checked the other examples and they don't have the issue. I created a PR here: https://github.com/pytorch/vision/pull/2141. The code is more consistent with the other examples than what I proposed above.

[2020-04-24 17:23] netw0rkf10w commented on #2116
@vincentqb @fmassa Regarding the evaluation data loader issue, it seems that there's no easy fix. Currently **the only way to get the validation accuracy right is to use only 1 GPU**. For multiple GPUs, both `DataParallel` and `DistributedDataParallel` create duplicates. Maybe we should clarify this in the README. Note that this issue affects all the examples and not only Segmentation.

[2020-04-24 19:16] #2133 closed

[2020-04-24 21:40] toto-maru commented on #2122
Thank you for your reply. I was thinking just add codes like below to [current class(folder) scan](https://github.com/pytorch/vision/blob/master/torchvision/datasets/folder.py#L121)
[code]
and add a simple method verifying `provided_class_list` is valid by checking
1) the `provided_class_list` is of type list or tuple.
2) each element in `provided_class_list` is of type str.

Am I missing somethin

[2020-04-24 23:00] praneet195 opened #2144 "Negative Samples in Faster RCNN training results in NaN RPN_BOX_REG Loss"
Overview:
I updated torch and torchvision to the latest builds. A cool update was that now negative samples could be included in RCNN training. However, I end up getting  a NaN value for loss_rpn_box_reg when I provide negative samples.

I was training a Pedestrian Detector. Based on my custom dataset input, if a label wasn't provided, I would use it as a negative sample. This is the code snippet

[2020-04-25 00:15] vincentqb commented on #2136
This looks reasonable to me, and is backward compatible. Do you want to open a pull request for this?

[2020-04-25 00:24] vincentqb commented on #2134
If I understand correctly: you have one version that works, and another that doesn't? Can you provide a complete minimal example to run with how you compile so we can reproduce?

cc @fmassa

[2020-04-25 00:24] vincentqb commented on #2134
If I understand correctly: you have one version that works, and another that doesn't? Can you provide a complete minimal example to run with how you compile so we can reproduce?

cc @fmassa

[2020-04-25 00:29] vincentqb commented on #2120
Can you provide a minimal example code to reproduce the error with what you tried?

[2020-04-25 00:31] kevalmorabia97 commented on #2095
Thanks @WZMIAOMIAO for pointing out my mistake!
I was able to get even better results by reducing weight decay to 1e-6 and adding learning rate decay.

After training on ```VOC 2010 train``` for 10 epochs, I got ```mAP[@IoU=0.5] = 79.4``` on ```VOC 2010 val```.
After training on ```VOC 2007 trainval``` for 10 epochs, I got ```mAP[@IoU=0.5] = 86.0``` on ```VOC 2007 test```.

[2020-04-25 00:32] vincentqb commented on #2135
Are you suggesting to rephrase the [documentation](https://github.com/pytorch/vision/blob/d6ee8757eca7b74b98e5f0d434a565eb7b1c410b/torchvision/models/detection/rpn.py#L45)? Do you want to open a pull request to clarify this?

[2020-04-25 01:58] zsef123 commented on #2134
@vincentqb
Basically I just install by cmake and running [hello_world](https://github.com/pytorch/vision/tree/master/examples/cpp/hello_world)
And Now I'm trying to 0.6, but 0.5 has same problem

1. I installed following `README.rst`
[code]

2. collect_env.py
[code]

3. main.cpp
- Just change [examples/cpp/hello_world/main.py](https://github.com/pytorch/vision/blob/master/examples/cpp/hello_world/

[2020-04-25 05:14] ArashJavan commented on #2136
Ok, thank, yes i will open a poll req.

[2020-04-25 06:44] bisakhmondal opened #2145 "Inception_v3 is not working"
## 🐛 Bug

I am dealing with classification tasks using torchvision's predefined models. Whenever I try to load the `inception_v3` API, the runtime gets stalled for infinitely. The problem persists for no matter if  I set `pretrained=True` or ` False`, whereas the other models are loading seamlessly.
** sometimes it gets loaded after a long time.
## To Reproduce

Steps to reproduce the behavior:
[c

[2020-04-25 09:10] hurricane013 commented on #1943
@fmassa  As I mentioned, I used 1.4 snapshot as a dependency in my android app, but i am still getting build failed without any error.

[2020-04-25 22:01] pmdaly commented on #2132
Exact same issue and log.  Ubuntu 16.04.6 and virtualenv here.

[2020-04-26 02:01] qizhen816 commented on #2139
@peterjc123 I use cmake and link torchvision by `target_link_libraries(od PUBLIC TorchVision::TorchVision)`. `_new_empty_tensor_op` can be imported from dll but `torchvision::nms` can't.

[2020-04-26 02:43] LI-Wen-Jiang commented on #2139
@qizhen816 I have a same problem with you. Do you slove the problem?

[2020-04-26 02:49] qizhen816 commented on #2139
@LI-Wen-Jiang Nope. Looked deep into the torchvision.lib, it seems operators are not contained in the dll. Trying to rebuild. 🔢

[2020-04-26 02:53] peterjc123 commented on #2139
Just add the annotation `__declspec(dllexport)` on those functions.

[2020-04-26 03:02] LI-Wen-Jiang commented on #2139
@peterjc123 I don't quite understand what you mean. In where to add ?

[2020-04-26 03:05] peterjc123 commented on #2139
For example, if you want to export nms_cpu in https://github.com/pytorch/vision/blob/master/torchvision/csrc/cpu/vision_cpu.h#L85, then change that line into
[code]

[2020-04-26 03:18] qizhen816 commented on #2139
@peterjc123 It's working, thank you!!! Wondering why have to fix this manually.

[2020-04-26 03:22] peterjc123 commented on #2139
@qizhen816 Functions are not exported by default in MSVC. We haven't done this because we didn't test this on Windows currently. Will try to work on it later.

[2020-04-26 03:25] LI-Wen-Jiang commented on #2139
I also have the problem.
`2>example-app.obj : error LNK2019: 无法解析的外部符号 "class std::tuple<class at::Tensor,class at::Tensor> __cdecl ROIPool_forward_cpu(class at::Tensor const &,class at::Tensor const &,float,int,int)" (?ROIPool_forward_cpu@@YA?AV?$tuple@VTensor@at@@V12@@std@@AEBVTensor@at@@0MHH@Z)，该符号在函数 "class std::tuple<class at::Tensor,class at::Tensor> __cdecl ROIPool_forward(class at::Tensor

[2020-04-26 03:28] peterjc123 commented on #2139
@LI-Wen-Jiang Have you linked your library against `torchvision.lib`?

[2020-04-26 03:32] LI-Wen-Jiang commented on #2139
![image](https://user-images.githubusercontent.com/50292434/80296966-9d863180-87b1-11ea-8ca3-a1fdf9481f43.png)

[2020-04-26 03:37] peterjc123 commented on #2139
@LI-Wen-Jiang First, you'll need to change the header and rebuild torchvision. And then for the headers installed (in `D:\torchvision\include` I suppose), you'll need to remove those annotations in those headers again and link against the library ('D:\torchvision\lib\torchvision.lib').

[2020-04-26 04:02] LI-Wen-Jiang commented on #2139
@peterjc123 The problem still alive. Maybe my method is wrong. Do you know how to use torchvision script to build maskrcnn in windows, thanks.

[2020-04-26 04:26] LI-Wen-Jiang commented on #1903
@fmigneault I am using the same Windows10 + cuda10.1 + vs2019 with you. But I make error. Can you descripe your steps to cmake torchvision, thanks.

[2020-04-26 06:40] qizhen816 commented on #2139
@peterjc123 I fixed  `ROIAlign` and `nms` by adding `__declspec(dllexport)`, but `ROIPool` is not working. I tried
`std::tuple<at::Tensor, at::Tensor> __declspec(dllexport) ROIPool_forward_cpu`
and
` __declspec(dllexport) std::tuple<at::Tensor, at::Tensor> ROIPool_forward_cpu`,
any clue where to add?

[2020-04-26 07:20] peterjc123 commented on #2139
For `ROIPool_forward_cpu`, you should do that [here](https://github.com/pytorch/vision/blob/master/torchvision/csrc/cpu/vision_cpu.h).

[2020-04-26 07:29] qizhen816 commented on #2139
@peterjc123 This is exactly where I modified, it turns out in `ROIPool.h` the code doesn't `#include "cpu/vision_cpu.h" `, add include here can fix the bug.

[2020-04-26 07:31] peterjc123 commented on #2139
Good to know.

[2020-04-26 09:07] LI-Wen-Jiang opened #2147 "nvcc fatal : unknown option 'openmp'"
@peterjc123 In order to use in C++ API of torchvision in Windows , I ran into a problem during my installation. And I am trying to build the C++ API on Windows 10 with CUDA 10.1 for Visual Studio 2019.
### Environment
PyTorch version: 1.4
CUDA : 10.1
OS: Windows10
CMake version: version 3.17.1
Python version: 3.7
libtorch:1.4_cu101_release

When I execute code `cmake -DCMAKE_PREFIX_PATH="D:/vision

[2020-04-26 09:17] qizhen816 commented on #2139
@peterjc123  And `ROIAlign` function parameter is changed, using `    .op("torchvision::roi_align(Tensor input, Tensor rois, float spatial_scale, int pooled_height, int pooled_width, int sampling_ratio, bool aligned) -> Tensor", ` issue solved.
@LI-Wen-Jiang 你用cmake写工程，在VS里打开文件夹配置。

[2020-04-26 11:11] LI-Wen-Jiang commented on #2139
@qizhen816 How do you install C++ API of torchvision ,I met a problem ,can you help me?I open a new issue  #2147

[2020-04-26 13:13] WaterKnight1998 commented on #2120
[code]

[2020-04-26 19:33] z-a-f commented on #2047
Wouldn't it be better to have a redirect from `https://pytorch.org/docs/stable/torchvision` to `https://pytorch.org/vision`?

[2020-04-27 00:59] #2083 closed

[2020-04-27 02:07] LI-Wen-Jiang commented on #1903
@hylrh2008 Did you slove your problem, I have the the same problem with you.

[2020-04-27 02:28] fmigneault commented on #1903
@LI-Wen-Jiang
I did these modifications to make it work:
https://github.com/fmigneault/vision/commit/9983a277f731b76f9c71dd4dbcd93abbc0666b04

[2020-04-27 11:28] fmassa commented on #2047
@z-a-f I think from @soumith point before, that might have consequences with the search engine, but I'll let those with more experience in the documentation system to chime in

[2020-04-27 11:33] fmassa commented on #2139
Maybe we use use `TH_API` (or the new ATen equivalents) in the function signatures so that they get exported on Windows.

PRs fixing this are more than welcome!

[2020-04-27 11:39] fmassa commented on #2132
This could be an issue with torchscript not properly supporting Python 3.5, although I'm not 100% sure about it.

cc @eellison for the torchscript error, and @seemethere for the (potential) issue with binaries.

[2020-04-27 11:43] #2138 closed

[2020-04-27 11:46] fmassa commented on #2135
@csmonnier I propose we improve the documentation.

The current assumption is that we provide the same number of base anchors for each feature map.

[2020-04-27 11:51] fmassa commented on #1916
@yaw91 @plumtus you need to use PyTorch 1.5 together with torchvision 0.6.0, otherwise this won't work.

[2020-04-27 11:54] fmassa opened #2148 "Improve error message when incompatible torchvision / PyTorch are used"
A number of users report errors on the C++ operators when they update either PyTorch or torchvision, see for example https://github.com/pytorch/vision/issues/1916, with errors such as
[code]
We should improve the error message and instead point out that their pytorch / torchvision versions are incompatible.
This will give a better user experience.

[2020-04-27 11:57] fmassa commented on #2134
Thanks for the report @zsef123 !

ccing @suo , as I believe this is currently an issue with the torchscript RegisterOperators (or our use of it), which makes the operators not readily available for the users, who need instead to re-register the ops again in user code.

[2020-04-27 12:02] pmeier commented on #2148
Out of curiosity: does a list of compatible versions exist somewhere?

[2020-04-27 12:13] zsef123 commented on #2134
@fmassa
So the vision lib purposes each user manually register ops in projects not automatically registered by include torch header.

thats right? I think I mis-understood that design

[2020-04-27 12:13] fmassa commented on #2148
Compatibility between PyTorch and torchvision versions is currently as follows:
- latest torchvision stable is compatible with latest pytorch stable
- latest torchvision nightly is compatible with latest pytorch nightly

So for nightlies, we could use the nightly date as a criteria for compatibility, although it should also work for users who are compiling torchvision from source (in which case, t

[2020-04-27 13:33] fmassa commented on #2134
That's currently what's needed, but I don't think this is a desirable setup.
Maybe we just need to move the `RegisterOperator` calls from the C++ file into the headers in torchvision, so that they get registered automatically once the user includes it.

[2020-04-27 13:45] fmassa commented on #2134
Let's keep this issue open until we figure out a better way of handling this

[2020-04-27 15:13] mthrok commented on #1708
Hi @voldemortX

@fmassa and I conducted the experiments regarding this.
We trained 3 models each for `align_corners=True` and `align_corners=False`, and we did not see difference.

## Result

align_corners | True | True | True | | False | False | False
-- | -- | -- | -- | -- | -- | -- | --
Global Correct | 92.5 | 92.5 | 92.8 |   | 92.5 | 92.6 | 92.4
Mean IoU | 67.6 | 67.3 | 67.8 |   | 67.6 | 67.8

[2020-04-27 15:13] #1708 closed

[2020-04-27 15:24] fmassa commented on #2132
Or, another option could be that virtualenv doesn't keep the original `.py` sources but only `.pyc`, but that's a guess that need to be verified.

[2020-04-27 16:40] mthrok commented on #1916
I am also having the same issue on PyTorch nightly build.

[code]

[2020-04-27 16:47] fmassa commented on #2128
Hi,

What version of torchvision are you using?

We have fixed a few bugs in DeformConv2d with latest torchvision release, see https://github.com/pytorch/vision/pull/2027 and https://github.com/pytorch/vision/pull/2040

If the error still persists with torchvision 0.6.0 (released last week), can you please let us know and share a minimal reproducing script?

I'm closing the issue assuming that it

[2020-04-27 16:47] #2128 closed

[2020-04-27 17:17] mthrok commented on #1916
Solved. In my case the error occurred because I used different machines with different GPUs for building torchvision and running training.

Specifying CUDA compute capability such as `TORCH_CUDA_ARCH_LIST="6.0;6.1;7.0"` when building torchvision resolved this.

[2020-04-27 19:15] suo commented on #2134
I think what's happening is that the linker is throwing out the static registration of the operators when linking in the torchvision lib, since the `RegisterOperator` object is never referenced from the main executable. Can you try linking in torchvision with `-Wl,--whole-archive`?

[2020-04-27 23:37] lufol commented on #1678
In general, are there any plans to provide support for 3D data or volumes?
Especially for `torchvision.transforms` this would be really nice. However, I assume the backend e.g. PILLOW needs to support 3D data for that, right?

[2020-04-28 08:02] craftsliu commented on #1712
great job,thank you!!

[2020-04-28 08:18] nitin-rathi commented on #330
You can comment the line that prints the message in file "/miniconda3/envs/pytorch/lib/python3.7/site-packages/torchvision/datasets/cifar.py".  To find the line you can search the string "Files already downloaded and verified" in the file.

[2020-04-28 09:10] vadimkantorov commented on #1654
@fmassa I updated the code in OP (didn't test yet though:) ). I still had to copy `download()` and `_check_integrity()` from CIFAR dataset class.

[2020-04-28 17:05] christian-rauch opened #2151 "Cannot train deeplabv3_resnet50 with batch size of 1"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1. train a `deeplabv3_resnet50`
1. call `forward` with tensor of shape: `torch.Size([1, 3, 240, 320])` (batch with single colour image)
1. receive error message: `ValueError: Expected more than 1 value per channel when training, got input size torch.Size([1, 256, 1, 1])`

## Expected behavior

Training should conduct as with `torch.Size(

[2020-04-28 17:44] fmassa commented on #2151
This is expected, because we use BatchNorm in the backbone, which doesn't work for batch sizes of 1.

If you want to train with batch_size of 1, you should change the backbone (or the normalization in resnet) to not use BatchNorm.

[2020-04-28 17:44] #2151 closed

[2020-04-28 17:47] fmassa commented on #2151
It would be great if we could improve the error message in a more meaningful way though, so I'm open to suggestions

[2020-04-28 23:16] Ingwar opened #2152 "Make number of input channels in classification models configurable"
## 🚀 Feature

Allow users to create classification models (ResNet, VGG, etc) with a number of input channels other than 3.

## Motivation

Classification models from CV are often used as feature extractors in other fields (e.g., ResNet-based architectures sometimes used for speaker recognition tasks). But since data there is not actually an image, it may have different number of channels. So curre

[2020-04-29 06:00] zsef123 commented on #2134
@suo Thanks to comments!!

I'm trying to like under codes.

CMakeLists.txt
[code]
But this errors occurs
[code]

Is this my setup problem?

[code]

[2020-04-29 09:16] LexRillo opened #2154 ""This overload of nonzero is deprecated""
## 🐛 Bug

A change in torch\nn\functional might have change usability of the nonzero function used in fasterrcnn_resnet50_fpn. This produces a warning and slows down processing.
## To Reproduce

Steps to reproduce the behavior:

1. torchvision.models.detection.fasterrcnn_resnet50_fpn(pretrained=True)

Produces the following message
C:\ProgramData\Anaconda3\lib\site-packages\torch\nn\functional.py:

[2020-04-29 10:16] weirdseed opened #2155 "[Newbie Question About fasterrcnn_resnet50_fpn]There are no outputs when evaluating on validation set"
I trained my dataset for several times on training set using pretrained weights, but there are no values in validation outputs. `[{'boxes': tensor([], device='cuda:0', size=(0, 4), grad_fn=<StackBackward>), 'labels': tensor([], device='cuda:0', dtype=torch.int64), 'scores': tensor([], device='cuda:0', grad_fn=<IndexBackward>)}, {'boxes': tensor([], device='cuda:0', size=(0, 4), grad_fn=<StackBackw

[2020-04-29 14:05] alifahrri opened #2157 "NMS returns different results on CPU & CUDA"
## 🐛 Bug

Hi, I noticed that results of `torchvision.ops.nms` in CPU and CUDA have different value

## To Reproduce

Steps to reproduce the behavior:

1. `docker run --runtime=nvidia -it pytorch/pytorch:1.5-cuda10.1-cudnn7-devel bash`
2. run this script :
[code]
3. output
[code]

## Expected behavior

`cpu==gpu True`

## Environment

[code]

## Additional context

testing on pytorch 1.4.0 and torc

[2020-04-29 14:16] fmassa commented on #2157
Hi,

Thanks for opening the issue!

The problem here is that all the values of the scores are the same. In this case, the resulting indices of sorting the scores is arbitrary in PyTorch, and not guaranteed to be the same between CPU and GPU.
TorchVision uses PyTorch sort internally for NMS, and as such we don't guarantee that the results will be the same for CPU and GPU.

It would be great if we c

[2020-04-29 14:27] #2116 closed

[2020-04-29 14:31] fmassa commented on #2116
@netw0rkf10w hi,

Great questions.

About the second one (evaluation of the data loader), indeed this was an approximation that I did for both the classification and the segmentation reference training scripts.
Note that the detection training script handles it correctly, as it keeps the evaluation results for each image in a dict https://github.com/pytorch/vision/blob/9329257beeb51f7855cc765df15b

[2020-04-29 14:37] mthrok commented on #2155
Hi

Could you provide a minimal complete code example so that we can reproduce this?

[2020-04-29 14:44] alifahrri commented on #2157
Thanks for the reply, I've submitted a PR : #2159

[2020-04-29 15:25] mneilly-et opened #2161 "googlenet fires assert for not being an nn.Module with torch.jit.trace()"
## 🐛 Bug

Trying to trace the pretrained googlenet model with torch.jit.trace() fails with an assertion:

## To Reproduce

[code]

## Expected behavior

Model traces successfully.

## Environment

PyTorch version: 1.5.0
Is debug build: No
CUDA used to build PyTorch: 10.2

OS: CentOS Linux release 7.6.1810 (Core)
GCC version: (GCC) 4.8.5 20150623 (Red Hat 4.8.5-39)
CMake version: version 3.15.3

Py

[2020-04-29 15:59] fmassa commented on #2122
Hi,

I agree with @vincentqb . There are multiple possible ways of providing a filter function for the class names, and I'm not sure that specifying it as a list is the most generic way. One could for example pass instead a `filter` function, which could support the case you mentioned, but others as well (for example, filtering via a regex).

This is a common-enough request that has been discussed

[2020-04-29 15:59] #2122 closed

[2020-04-29 17:04] 4knahs commented on #689
I implemented my own LMDB dataset and had the same issue when using LMDB with num_workers > 0 and torch multiprocessing set to spawn.

It is very similar to this project's LSUN implementation, in my case the issue was with this line:

https://github.com/pytorch/vision/blob/master/torchvision/datasets/lsun.py#L18

When set to fork it works fine, but when using spawn it seems to try to pickle the da

[2020-04-29 19:28] fmassa commented on #2154
Thanks for opening the issue!

I would be surprised that the warning would account for such a large slowdown, but changing the code to use the non-deprecated codepaths sounds good to me.

A PR fixing this would be awesome!

[2020-04-29 20:19] fabrizioschiano commented on #2132
I have the same problem on Ubuntu 16.04 and Python 3.5.2 (default, Apr 16 2020, 17:47:17)
[GCC 5.4.0 20160609]. I am running everything in virtualenv and in a jupyter notebook.

[2020-04-29 20:28] surisdi opened #2163 "Cannot import video_reader"
## 🐛 Bug

I cannot import `video_reader` (`io._HAS_VIDEO_OPT` is `False`).

When `torchvision.io` is imported, and `torchvision/io/_video_opt.py` is executed, there is a `OSError` when the library `video_reader` is imported. The library is found properly.

Specifically, the `OSError` is caused in this line: `torch.ops.load_library(ext_specs.origin)`, and it is:

`[...]/site-packages/torchvision-0.

[2020-04-29 21:18] mthrok commented on #2163
Hi @surisdi

To investigate this, could you provide the followings?

1. The result of `python -m torch.utils.collect_env`
2. Stack trace when you get the error.

Also, torchvision in master branch is tested against nightly build of Torch. You may want to try that.

[2020-04-29 21:31] mthrok commented on #2161
@fmassa I can reproduce this.

[2020-04-29 21:48] muaz-urwa opened #2164 "Faster Rcnn construction function freezes backbone layers even for random initialized backbone"
## 🐛 Bug

Currently, fasterrcnn_resnet50_fpn function is used to create a faster rcnn with resnet50 backbone and fpn. resnet_fpn_backbone function is backbone utils is used by this function. This function freezes the backbone layers in resnet apart form layer2, layer3 and layer4. This freezing is hard coded to reflect the faster rcnn paper which frooze the initial layers of pretrained backbone.

I