[2021-02-04 16:08] vfdev-5 opened #3351 "[RFC] Simplify release note creation"
Few ideas on how to simplify the release note creation by structuring PRs.

For example, those projects are using tools to automate some part of the process:
- spyder ide, https://github.com/spyder-ide/loghub/
- sympy, https://github.com/sympy/sympy/pull/19640#issuecomment-649379944
   - https://github.com/sympy/sympy-bot
   - https://github.com/sympy/sympy/wiki/Writing-Release-Notes
- https://pyp

[2021-02-04 16:24] pmeier commented on #1627
Closed in #2883.

[2021-02-04 16:24] #1627 closed

[2021-02-04 16:25] datumbox commented on #3351
Thanks for the write up @vfdev-5, this is very useful.

Here are some thoughts on this:

1. We don't need a "perfect" solution. Anything that helps us organize the majority of PRs and reduce the amount of time we spend on release notes by say 70% is good enough IMO.
2. It does not have to be fully automated or make modifications on the repo. We can adopt a solution that requires some manual editin

[2021-02-05 09:44] datumbox commented on #1049
Closing as this has been implemented at #3119 and #3123.

[2021-02-05 09:44] #1049 closed

[2021-02-05 11:36] #3304 closed

[2021-02-05 18:49] yoshitomo-matsubara commented on #3152
Hi @datumbox
Is there any update for these discrepancies between accuracy in doc and by code?

[2021-02-06 11:07] datumbox commented on #3152
@yoshitomo-matsubara Sorry I did not have time to check this. I'll try to run the too missing models ShuffleNet V2 (x0.5) and MNASNet 0.5 soon. Could you let me know which of the other models that seem incorrect has the biggest discrepancy?

[2021-02-06 17:36] yoshitomo-matsubara commented on #3152
@datumbox Thank you for the response!
For discrepancy,  probably you would like to start with DenseNet models
- DenseNet-161: +0.504 (acc by code - acc in doc)
- DenseNet-169: + 0.372
- DenseNet-201: + 0.268
- DenseNet-121: + 0.178

[2021-02-06 18:11] submagr opened #3356 "maskrcnn_resnet50_fpn forward pass in eval mode is giving error."
## 🐛 Bug
[The example given in the description of maskrcnn_resnet50_fpn](https://github.com/pytorch/vision/blob/master/torchvision/models/detection/mask_rcnn.py#L306) is giving error.

## To Reproduce
[code]

Error:
[code]

## Expected behavior
It should have run properly.

## Environment
[code]

## Additional context
This issue seems to be happening only on macos. I tried on an ubuntu machine wit

[2021-02-06 18:41] submagr commented on #3356
In my local generalized_rcnn.py, there was a check torch.isnan(features) which was giving an error. Removing that seems to have fixed the issue. But still curious what's the proper way to fix this issue.

[code]

[2021-02-06 20:24] makarr opened #3357 "deeplabv3 downloads resnet weights even with pretrained=False"
## 🐛 Bug

When instantiating a new deeplab model, the pretrained resnet weights are downloaded to cache.

## To Reproduce

`deeplab = models.segmentation.deeplabv3_resnet50(pretrained=False)`

Results in the following printed to stdout:

## Expected behavior

The resnet weights should be initialized randomly instead of downloaded, with nothing printed to stdout.

## Environment

PyTorch version: 1

[2021-02-07 10:07] oke-aditya commented on #3357
Hi ! I guess this is fixed with #3322 on master :smile:

On master, instantiating with `pretrained=True` will not download backbone weights, instead it will only download model trained over COCO dataset.

[2021-02-07 11:25] natangold85 commented on #3294
Thanks, I found the problem.
Apparently you need to dynamically load the torchvision symbols you are using in the jit model that you are loading.
Adding this line solved the linking issue to torchvision symbols:

`static auto registry =
            torch::RegisterOperators()
                    .op("torchvision::roi_align(Tensor input, Tensor rois, float spatial_scale, int pooled_height, int poole

[2021-02-07 11:25] #3294 closed

[2021-02-07 21:23] makarr commented on #3357
Hi @oke-aditya thanks for the head's up.  I guess I should have searched whether the issue had already been submitted.  I'll close.

[2021-02-07 21:46] #3357 closed

[2021-02-08 05:58] voldemortX commented on #3281
@duynguyen51 I believe you can use DeepLabV3 or any segmentation models for salient object detection if you treat the SOD task as binary segmentation.

[2021-02-08 06:56] natangold85 opened #3358 "discrepancies between TorchVisionConfigVersion.cmake to git branch"
Hi
I'm compiling torchvision from source for cpp. i want to adjust torchvision to existing libtorch compilation.
My branch is **v0.8.2** but when installing the build directory the TorchVisionConfigVersion.cmake says the package version is 0.7.0.

i see this in the cmake file:

set(PACKAGE_VERSION "0.7.0")`

Any idea why?

[2021-02-08 08:57] 0phoff commented on #456
@fmassa, is there any interest for this feature from the pytorch-vision team ?
I am willing to take the time to properly implement my `class Compose(list)` into this repository, but want to know whether you would be intereseted to merge this if I do... :)

A quick first look tells me that this would not introduce any breaking changes, but just add some extra features in order to make composition o

[2021-02-08 10:51] datumbox commented on #3356
@submagr Thanks for reporting.

I'm having hard time reproducing this. I also checked the lines at question on in the [v0.8.2](https://github.com/pytorch/vision/blob/v0.8.2/torchvision/models/detection/generalized_rcnn.py#L97) and there is no such a check as reported on the exception message. Perhaps you are working with a modified version of TorchVision? Perhaps it's worth checking out the latest

[2021-02-08 12:24] natangold85 opened #3359 "Crash while forwarding model in test_frcnn_tracing from vision/test/tracing/frcnn"
Hi,
I have some problem forwarding the fasterrcnn_resnet50_fpn.pt in test_frcnn_tracing.
I had some problem loading the model, i solved it by adding those lines:

[code]

after solving this problem i'm encountering a segmentation fault in the forward function.
its looking like the segmentation fault is coming from torchvision/nms.h in this call:
[code]

my torchvision is compiled from source in br

[2021-02-08 13:10] fmassa commented on #3129
Merged in #3151

[2021-02-08 13:10] #3129 closed

[2021-02-08 13:19] fmassa commented on #2089
An example is now available in https://github.com/pytorch/vision/blob/master/test/tracing/frcnn/test_frcnn_tracing.cpp

[2021-02-08 13:19] #2089 closed

[2021-02-08 13:21] fmassa commented on #2050
The next release of torchvision (which will be released in ~1 month) will have support for Android for faster rcnn / mask rcnn.

Here is a demo app to show how to do it https://github.com/pytorch/vision/tree/master/android/test_app

[2021-02-08 13:21] #2050 closed

[2021-02-08 13:22] fmassa commented on #2494
Fixed in https://github.com/pytorch/vision/pull/3144

[2021-02-08 13:22] #2494 closed

[2021-02-08 13:23] fmassa commented on #2700
We've added a MobileNetV3-based architecture for segmentation in https://github.com/pytorch/vision/pull/3276

[2021-02-08 13:23] #2700 closed

[2021-02-08 13:25] fmassa commented on #1722
We've added the command-lines in https://github.com/pytorch/vision/tree/master/references/video_classification, on 8 nodes with 8 GPUs each (for a total of 64 GPUs)

[2021-02-08 13:25] #1722 closed

[2021-02-08 13:27] fmassa commented on #1425
We've added support for this in the 0.6.0 release of torchvision, see https://github.com/pytorch/vision/releases/tag/v0.6.0

[2021-02-08 13:27] #1425 closed

[2021-02-08 13:28] fmassa commented on #1326
They have been added in https://github.com/pytorch/vision/pull/3144

[2021-02-08 13:28] #1326 closed

[2021-02-08 13:30] fmassa commented on #1151
RetinaNet is available in torchvision 0.8.0 thanks to the awesome work of @hgaiser https://github.com/pytorch/vision/releases/tag/v0.8.0

[2021-02-08 13:30] #1151 closed

[2021-02-08 13:41] fmassa commented on #268
We don't have Travis (nor accimage) tests anymore, closing this.

[2021-02-08 13:41] #268 closed

[2021-02-08 15:54] dc986 commented on #3349
Same issue with maskrcnn_resnet50_fpn.

Any ideas?

[2021-02-08 15:56] datumbox commented on #3152
@yoshitomo-matsubara Thanks for flagging. I confirmed that there are some discrepancies of the numbers. Especially for DenseNet the reason was that the model was trained with Torch-Lua and later ported to PyTorch (see #116). I've rerun the inference for all the models and you can see the numbers at #3360. Let me know if you see any other issues.

[2021-02-08 16:08] #3152 closed

[2021-02-08 17:08] yoshitomo-matsubara commented on #3152
Thank you @datumbox  for reruning inference for all the models and updating the doc!

[2021-02-08 21:38] nSircombe opened #3362 "TorchVision support for pre-trained, quantised, ResNet50"
## 🚀 Feature
Addition of pre-trained, quantised ResNet50 model to `torchvision.models`

## Motivation

Quantised models have been shown to deliver greater performance than their fp32 equivalents without sacrificing accuracy. Expanding the portfolio of quantised models available to TorchVision users would provide functionality equivalent to what is currently available in other framworks.

## Pitch

[2021-02-09 03:31] oke-aditya commented on #3362
Yes ! Torchvision does provide Quantized models, such as quantized `resnet50`. All the models are `int8` quantized.

Documentation for these is available over master. Visit [here](https://github.com/pytorch/vision/blob/master/docs/source/models.rst#quantized-models)

I think they are not reflected in [current website documentation,](https://pytorch.org/vision/stable/models.html#classification) but

[2021-02-09 08:07] nSircombe commented on #3362
Hi @oke-aditya,

Thanks for your quick response. I'm sorry I should have been clearer in my original query, I'm curious about quantised ResNet50 models and accompanying support for a quantised backend. At present if I use `mobilenet_v2` I'm able to get a quantised model which uses the `QNNpack` backend (on AArch64)...

[code]

However, this doesn't appear to be the case for ResNet50...

[code]

So

[2021-02-09 08:41] oke-aditya commented on #3362
There are two Quantization backend in PyTorch `fbgemm` and `QNNpack`.
As you pointed out `mobilenet_v2` is available with `QNNpack`backend.

For `resne50t` model it is available with `fbgemm` backend. Have a look [here](https://github.com/pytorch/vision/blob/master/torchvision/models/quantization/resnet.py#L116)

I think you are very right that models are not available for both quantization backen

[2021-02-09 10:40] nSircombe commented on #3221
Hi,

I was just wondering if there are any plans to add support for the QNNpack backend to the quantised ResNet50 model? (this would enable quantised ResNet50 for AArch64, which isn't supported by the FBGEMM backend).

[2021-02-09 10:47] nSircombe commented on #3362
Thanks @oke-aditya, I didn't find any details of QNNpack support for ResNet50 in the plans, but have asked in-thread.

I've updated my 'Feature Request' above in light of our discussion, so it's more specific to my use-case (QNNpack backend, on AArch64).

[2021-02-09 13:45] oke-aditya opened #3364 "Improve utilites"
## 🚀 Feature

Our utility section just got a revamp! But there are some rough edges.

We added utilities to plot bounding boxes #2556  #2785 and utility to plot semantic segmentation masks #3272 #3330

## Pitch

- [x] Add Test to check modifications are not in place. Simply assert if the initial image is the same as final after calling the util.
- [x] For all the utils add docs for Returns. In oth

[2021-02-09 14:56] oke-aditya opened #3365 "Add utilites to plot Keypoints"
## 🚀 Feature

We added utilities to plot bounding boxes #2556 #2785 and utility to plot semantic segmentation masks #3272 #3330 #3820
I think this is probably the last plotting utility we need.

## Motivation
Same as before, we need these to make visualization and post-processing easier.
Also Easily support torchvision models.

## Pitch
Use only PIL to draw key points. Also, keep the function sign

[2021-02-09 17:15] ksasso1028 commented on #2632
I am having a similar issue where I cannot pass any env variables to the torchvision setup.py script. I am using a venv and have compiled torch from source using the same venv which works. My CUDA and torch locations are not in the default usr dirs and cannot get torchvision to find my cuda install without directly editing setup.py which still fails for nvcc

[2021-02-10 00:26] seemethere opened #3367 "Segmentation fault for Python 3.9 for video"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

Build torchvision for the latest version using python 3.9 with the latest pytorch nightly, run `pytest -v test/test_video.py`.

Output:
[code]

## Expected behavior

No segmentation fault

## Environment

Please copy and paste the output from our
[environment collection script](https://raw.githubusercontent.com/pytorch/pytorch/master/tor

[2021-02-10 00:31] andfoy commented on #3367
Which FFmpeg did you use?

[2021-02-10 00:42] seemethere commented on #3367
Should be this one:

[code]

[2021-02-10 00:51] ROBOTICSENGINEER opened #3368 "torchvision-0.9.0 wheel for Python3.9, torch 1.8.0, and cuda 11.0"
There is not any compatible torchvision 0.9.0 wheel  for torch 1.8.0, python 3.9, and cuda 11.0 in the following page.

https://download.pytorch.org/whl/nightly/cu110/torch_nightly.html

please upload `torchvision-0.9.0.dev2021mmdd%2Bcu110-cp39-cp39-linux_x86_64.whl`

[2021-02-10 07:55] vadimkantorov commented on #3331
It seems that deriving from nn.Sequential would also be good from DeepSpeed-compat standpoint: https://github.com/pytorch/pytorch/issues/51574

For quantization case, couldn't it just insert quant/dequant modules in the beginning and the end of sequential? then everything should work and no modification of forward would be needed

[2021-02-10 07:57] vadimkantorov commented on #3331
They are already modules:
[code]

One would just be required to modify the constructor and insert them before conv1 and after layer4

[2021-02-10 15:18] fmassa commented on #3367
cc @bjuncek as the segmentation fault happens in the new VideoReader implementation

[2021-02-10 15:28] bmanga commented on #3358
That's my fault for not keeping it up to date, sorry. I will fix it ASAP.

[2021-02-10 16:53] clothme-io commented on #2740
@MALLI7622 how did you resolved the issue? I having similar issue for a custom dataset with 39 classes(including background). Any help will do. Thanks

[2021-02-10 20:53] SiftingSands opened #3371 "NMS behaviour w.r.t. fp16 vs fp32"
## 🐛 Bug

NMS gives significantly different outputs when switching boxes from FP32 to FP16. I couldn't find any related issue here or on the discussion board, and I didn't see an obvious cause from reading the docs.

## To Reproduce
Call `torchvision.ops.nms(boxes, scores, iou_threshold=0.2)`
boxes and scores (FP32) -> [data.zip](https://github.com/pytorch/vision/files/5961462/data.zip)
NMS has on

[2021-02-11 01:59] andfoy commented on #3367
I think @seemethere  installed the faulty 4.3 FFmpeg version

[2021-02-11 04:13] voldemortX commented on #3371
I'm not familiar with the C codes in torchvision, but I think float16 is not supported yet for nms. If you cast the float16 tensors to CPU you'll see an error throw `RuntimeError: "nms" not implemented for 'Half'`.

[2021-02-11 05:01] MALLI7622 commented on #2740
@clothme-io Can you share your sample dataset file and also custom dataset class. I'll try to help you with it.

[2021-02-11 08:30] bjuncek commented on #3367
I think that's the issue - I've just build tv with 3.9 and my legacy 4.2 from and it passes for me.
I'll try the one from pytorch channel as well just to make sure

[2021-02-11 08:40] Olegt0rr commented on #2359
The same

[code]
[code]

Please fix it!

[2021-02-11 08:58] fmassa commented on #3367
@seemethere for reference, in https://github.com/pytorch/vision/issues/2650#issuecomment-694915626 we found out that the 4.3 version of FFmpeg (which was present in conda unfortunately). Using FFmpeg 4.2 fixes the issue.

[2021-02-11 09:15] github-actions[bot] opened #3372 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow tests/download.
Please look into it:

https://github.com/pytorch/vision/actions/runs/557320838

Feel free to close this if this was just a one-off error.

cc @pmeier

[2021-02-11 09:26] pmeier commented on #3372
Server for `Places365` is down.

[2021-02-11 11:27] datumbox commented on #3368
There is currently work at #3341 that adds support of Python 3.9 with CUDA 11.2 on the CI, so after that we should be able to provide the necessary binaries.

[2021-02-11 11:53] pmeier opened #3375 "Improve testing of datasets"
One reason we lag behind with the datasets tests (see https://github.com/pytorch/vision/issues/963#issuecomment-770914668) is that right now writing a test is lengthy and complicated. To overcome this, I'm proposing to add a well-documented `DatasetTestCase` superclass. With minimal user interference it should be able to automatically test
1. if the dataset inherits from `VisionDataset`,
2. if the

[2021-02-11 14:15] SiftingSands commented on #3371
Understood. I would have expected that error to show up on the GPU as well if FP16 is not supported. Is `torchvision.ops.nms` intended to be ran on the CPU only?

Feel free to close this issue if this behavior is expected.

[2021-02-11 14:24] voldemortX commented on #3371
It should be not CPU only, and probably an error throw is indeed needed?  @datumbox

[2021-02-11 14:56] fmassa commented on #3375
I think this is great!

One thing we should always enforce for testing as well is that `__getitem__` works and gives the expected result for mocked data.

[2021-02-11 17:59] datumbox commented on #3371
@SiftingSands thanks for reporting the issue. This is a indeed a bug and it's caused by numeric overflows. I'm going to send a PR to fix this soon.

[2021-02-11 18:13] zhiqwang commented on #3286
It seems that the existing `batch_images` function in `GeneralizedRCNNTransform` plays the same role as the proposal `LetterBox` here.

https://github.com/pytorch/vision/blob/51500c7e067f2f92765734c69e2b082c221a2eae/torchvision/models/detection/transform.py#L199-L217

[2021-02-11 20:49] #3358 closed

[2021-02-12 00:12] ErezYosef commented on #1406
Hi everyone.
I want to suggest a solution for the problem:
similar to @SebastienEske at https://github.com/pytorch/vision/issues/1406#issuecomment-537775978.

I needed this feature a while ago, so I thought to suggest my solution.

### solution:
1. Super simple to use (and implement!).
2. work with a Compose style interface
3. support almost any type of transforms and data types.
4. **Fully backwa

[2021-02-12 08:31] prabhuiitdhn commented on #2132
Please try this. Worked for me.
python3 -m pip install torch==1.5.0+cu92 torchvision==0.6.0+cu92 -f https://download.pytorch.org/whl/torch_stable.html

[2021-02-12 09:25] datumbox commented on #3241
Fixed by #3341

[2021-02-12 09:25] #3241 closed

[2021-02-12 11:32] ErezYosef commented on #1406
Continue of my comment above https://github.com/pytorch/vision/issues/1406#issuecomment-777880616 @ErezYosef
Implementation of Compose:
[code]

Please review this implementation also.
### Conclusion:
**Basically, I aim to change the *naive* transforms implementation to a more powerful and robust form:**
* The transform will record (/track) it's last action.
* we can control the transform and force

[2021-02-12 13:24] bjuncek opened #3388 "[video] multithreaded video decoding"
## 🚀 Feature
At the moment, video decoding is forced to be single threaded, which is limiting the performance to an extent.
We want to enable users to enable multithreaded decoding if they want/need to.

## Motivation

At the moment, video decoding is forced to be single threaded, which is limiting the performance to an extent. Both Decord and OpenCV use multithreaded decoding.

## Pitch

Enabling

[2021-02-12 14:05] mohammad-brdrn commented on #2062
set your torch version to 1.4.0 and then upgrade your torchvision to 0.5.0

[2021-02-12 14:22] bmanga commented on #3349
Are you using the debug versions of libtorch and torchvision?

[2021-02-12 15:30] dc986 commented on #3349
I've tried with both debug and release. same problem.

[2021-02-12 15:40] NicolasHug commented on #3173
According to #3334, vectorizing the histogram computation seems to lead to a slow-down.

[2021-02-12 15:40] #3173 closed

[2021-02-12 15:54] bmanga commented on #3349
Try passing in a list of tensor images(c x h x w) instead of a single tensor that contains a batch of images:
[code]

[2021-02-12 16:05] bmanga commented on #3349
For reference, this is what I use to convert a cv::Mat to a torch tensor:
[code]

[2021-02-12 16:22] dc986 commented on #3349
Thanks for you answer, this is now my code:
[code]
Unfortunately it gives me an assert again.

Looking at the call stack where the exception is thrown:

	torch_cpu.dll!torch::jit::Module::forward(std::vector<c10::IValue,std::allocator<c10::IValue>> inputs)

In file "libtorch-win-shared-with-deps-debug-1.7.1+cpu\libtorch\include\torch\csrc\jit\api\module.h" Line 112
[code]
input.size() = 0

[2021-02-12 17:12] bmanga commented on #3349
Can you verify that you can correctly run the [tracing test ](https://github.com/pytorch/vision/tree/master/test/tracing/frcnn)?

[2021-02-12 17:39] clothme-io commented on #2740
@MALLI7622 sure I can share it here as well as email it to you. And thank you for the help.

How I Generated The Dataset:
1. Annotated the image with labelme (multiple parts in a single image)

2. Generated a mask image (image below) from the annotated image.
![person95](https://user-images.githubusercontent.com/57736523/107798923-c371c800-6d2a-11eb-91ec-5e3df3153d86.png)

3. Then I used the code

[2021-02-12 21:03] brando90 commented on #1675
@fmassa I believe that a comparison with a dict shouldn't cause a bug. Dicts are bultins and are always used to check types. Let me give you my error:

[code]

I am using pytorch 1.7.1 in mac os x cpu only.

[2021-02-12 21:11] brando90 opened #3392 "How to compile arbitrary nn modules with jit pytorch? ( RuntimeError: builtin cannot be used as a value, with a dict)"
## 🐛 Bug

Similar to https://github.com/pytorch/vision/issues/1675.

Simple, I compare my value to a dict and it throws an error.

[code]

## To Reproduce

Simple, any code that has a comparison with a dict:

[code]

## Expected behavior

Jit makes my checkpoint.

## Environment

 - PyTorch / torchvision Version (e.g., 1.0 / 0.4.0): 1.7.1
 - OS (e.g., Linux): mac os x
 - How you installed PyTorch

[2021-02-13 08:44] bmanga commented on #3359
Hi @natangold85 can you try with the latest torchvision master? As I'm guessing you're on windows, did you use the same configuration for all libraries (debug/release) as your final executable?

[2021-02-14 06:32] natangold85 commented on #3359
No, Im on Linux ubuntu 16.
Both torchvision and libtorch was debug.
I will try with latest and report.

Regarding the symbols loading I needed to do to pass model loading, that get me a little suspicious that something is different in the compilation.
I saw this dynamic loading on different location. Do you know why I needed to do it but in the frcnn exmple its not done?

[2021-02-14 13:06] vobecant opened #3394 "ResNet FPN backbone"
## 🐛 Bug

In https://github.com/pytorch/vision/blob/master/torchvision/models/detection/backbone_utils.py#L99, it says

Therefore, if pretrained backbone is NOT used, any layers should be frozen.

But when I run:
[code]
I can see that parameters `bn1.weight, bn1.bias, fc.weight, fc.bias` are frozen on the [line 101](https://github.com/pytorch/vision/blob/master/torchvision/models/detection/backbon

[2021-02-15 09:58] #3371 closed

[2021-02-15 10:54] datumbox commented on #3394
I can reproduce the bug and I confirm that `bn1.weight` and `bn1.bias` get frozen. The fc layers do not matter as they are not used by the FPN.

[2021-02-15 12:24] DemonsHunter opened #3397 "Bug Report: No module named 'torchvision.models.mobilenetv2'"
## ❓ Questions and Help

Hi there, I encounter a bug when running this following line

the error is:

-------------------------------------begin of error info---------------------------------

Using cache found in /root/.cache/torch/hub/pytorch_vision_master
---------------------------------------------------------------------------
ModuleNotFoundError                       Traceback (most recent

[2021-02-15 12:54] datumbox commented on #3397
TorchVision v0.8.2 [does not have a mobilenetv2 module](https://github.com/pytorch/vision/tree/v0.8.2/torchvision/models). This was introduced on the latest master when MobileNetV3 was added. Try installing the latest master.

[2021-02-15 13:23] DemonsHunter commented on #3397
Thank you for your suggestion, and then I try to update torchvision to the latest version 0.8.2.

Requirement already satisfied: torchvision==0.8.2 in /usr/local/lib/python3.6/dist-packages (0.8.2)
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from torchvision==0.8.2) (1.19.5)
Requirement already satisfied: torch==1.7.1 in /usr/local/lib/python3.6/dist-packages (f

[2021-02-15 13:42] datumbox commented on #3397
Could you clarify what does not work? As I explained the change you discuss is NOT available on 0.8.2 but only on the nightly. If you want to access it now you should either install the latest master branch from github or the lats nightly.

[2021-02-15 14:01] #3393 closed

[2021-02-15 14:06] DemonsHunter commented on #3397
Sorry for the unclear. I want to use this command:

to update to the latest version, but it does not work, the version remains the same.

Or how can I install the  latest master branch from github, thanks a lot

[2021-02-15 14:16] fmassa commented on #2981
A few questions:
- will we have different `Frame` classes for each type, or a single one for all types?
- the current proposed API doesn't play well with torchscript on the Python side, as `.data()` will return different types depending on what has been set up. Is the implementation in #3077 up to data wrt this?
- From C++, will we have different functions for getting the data as subtitles or audi

[2021-02-15 14:23] #3394 closed

[2021-02-15 14:35] datumbox commented on #3397
Please check out the [Contributing page](https://github.com/pytorch/vision/blob/master/CONTRIBUTING.md#development-installation) for instructions on how to install the latest branch.

I'll close the ticket since what you are experiencing is not a bug. You are just using the wrong version where the specific feature does not exist. If you have more concerns please let me know.

[2021-02-15 14:35] #3397 closed

[2021-02-15 17:22] NicolasHug commented on #1574
From offline discussions with @fmassa, we need the 3 following features:

- A way for eager and scripted mode to return the same type, i.e. a dict with losses and detections
- A way to return detections during training
- A way to return losses during eval

----

I think the following design might work:

- add new `return_tuples` param `{True, False (default)}`
  - possibly: add a `None` option tha

[2021-02-16 00:52] developer0hye opened #3404 "box_iou function can return nan value"
## 🐛 Bug

box_iou funcition in ops can return nan value. It needs "assert" like generalized_box_iou function.

## To Reproduce

[code]

## Expected behavior

Return 0. or cause assert

## Environment

I tested on Google Colab.

Please copy and paste the output from our
[environment collection script](https://raw.githubusercontent.com/pytorch/pytorch/master/torch/utils/collect_env.py)
(or fill out

[2021-02-16 05:20] kaushikb11 opened #3406 "RetinaNet: TypeError: __init__() got an unexpected keyword argument 'trainable_backbone_layers'"
## 🐛 Bug

`retinanet_resnet50_fpn` throws an error while passing `trainable_backbone_layers` as an argument.

## To Reproduce

Steps to reproduce the behavior:

[code]

[code]

## Expected behavior

## Environment

Please copy and paste the output from our
[environment collection script](https://raw.githubusercontent.com/pytorch/pytorch/master/torch/utils/collect_env.py)
(or fill out the checklist

[2021-02-16 06:50] cyberpedestrian commented on #1706
Hello @fmassa, @lara-hdr.

Thanks you for your work. I was wandering if there a way of exporting faster rcnn model without transformation layers and make 2 static output tensors (boxes and scores)?
Any direction of digging would be appreciated.

Thank you kindly.

[2021-02-16 09:12] voldemortX commented on #3406
@kaushikb11 I ran your code and it is alright on nightly. I think this is just fixed in #3234 last month.

[2021-02-16 09:28] kaushikb11 commented on #3406
Ahh, I see! @voldemortX Is there a pip package for `torchvision-nightly`?

[2021-02-16 09:42] voldemortX commented on #3406
@kaushikb11 You can look clone this repo and build from source like stated in the README.md/install nightly https://pytorch.org/get-started/locally/ or https://github.com/pytorch/vision/blob/master/CONTRIBUTING.md has a more detailed description.

[2021-02-16 09:46] fmassa commented on #3406
@kaushikb11 we do provide nightly binaries for torchvision as @voldemortX mentioned, see https://pytorch.org/get-started/locally/ for more info.

[2021-02-16 09:46] #3406 closed

[2021-02-16 09:49] fmassa commented on #3404
Hi,

This is related to https://github.com/pytorch/vision/issues/2582

Adding an assert is probably the best option here, although as @ppwwyyxx pointed out in https://github.com/pytorch/vision/issues/2582#issuecomment-680158318 an assert will incur a synchronization point and thus make training / evaluation slower.

[2021-02-16 09:55] fmassa commented on #3359
@natangold85 please let us know if you still face the same issue after updating to use latest master from PyTorch and torchvision

[2021-02-16 09:59] pawamoy commented on #2310
I've added a workaround in https://github.com/python-poetry/poetry/issues/2543.

[2021-02-16 10:05] developer0hye commented on #3404
@fmassa

How about adding epsilon to denominator(inter/(union+eps))?
I agree with you, using assert will make training/evaluation slower. But, generalized iou function implemented with assert.

[2021-02-16 10:05] #2974 closed

[2021-02-16 10:07] fmassa commented on #3404
@developer0hye yes, `generalized_iou` has an assert in it, but it is also much less used than `box_iou` (currently no models in torchvision use it).

I think it might be fine to add the assert to the code, but this perf hit is something we need to keep in mind.

[2021-02-16 10:08] natangold85 commented on #3359
Will update. I have some non-related tasks and will get back to it.

[2021-02-16 10:46] bjuncek commented on #2981
There are a few potential solutions:

Ideally, we'd have a single frame class in C++. This class would have different (and extendable) ways of retrieving the data based on the type. In the WIP PR I have implemented  `.data_t()` which returns tensor (video, audio). The idea is that you can follow that with `.data_s()` which would return a string (subtitles, CC). In principle, one can imagine extend

[2021-02-16 10:47] bjuncek commented on #2981
would the move to the API like above help in mitigating this?

[2021-02-16 13:22] dc986 commented on #3349
I've tried to run the tracing test. The output is the same I had with the image.

I've tried to download torchlib-nightly + vision-master and did again the same tracing test.
This time the error is before, when I try to load the model I have the following errors:
![image](https://user-images.githubusercontent.com/78026635/108068377-4ca63900-7062-11eb-8e68-791222520330.png)

[2021-02-16 14:10] bmanga commented on #3349
Did you modify the source code of the test? It seems like it's trying to load a file called `fasterrcnn_resnet50_fpn_1602_nightly.pth`. Files with extension `pth` are not usually the scripted/traced ones.

[2021-02-16 14:15] dc986 commented on #3349
Yes, sorry, I've tried both.
Extension `.pt` gives the same output.
![image](https://user-images.githubusercontent.com/78026635/108074681-c988e100-7069-11eb-870f-3dc90f9c4cfd.png)

[2021-02-16 14:18] bmanga commented on #3349
You shouldn't have to modify the source code. the pt file is generated by the python file in the tracing directory, so make sure you run that one first.

[2021-02-16 15:14] fmassa commented on #1675
@brando90 this seems like a torchscript-specific limitation, and might be better to discuss with the torchscript team in the PyTorch repo

[2021-02-16 17:17] dc986 commented on #3349
I've compiled the test using cmake, it runs, the model is correctly loaded and the forward gives no problem.

When I use the model traced with the test in Visual Studio I am back to the original issue, the inference does not work.
I've set Include Directories, Library Directories and Linked Input. In the post build event the torch and torchvision .dll are copied where the executable files is.

[2021-02-16 22:37] bmanga commented on #3349
Can you share the python code you use to generate the torchscript file?

[2021-02-17 00:45] eellison commented on #1675
@brando90 try `if isinstance(json_data, dict)`

[2021-02-17 16:28] fmassa commented on #3392
Following the answer in the past issue, you can do something like `if isinstance(x, dict):`.

Closing as this is related to torchscript and not torchvision per se.

[2021-02-17 16:28] #3392 closed

[2021-02-17 17:26] vadimkantorov opened #3410 "Create reset_parameters method for ResNet blocks and models"
This would ease re-initialization some blocks that are not meant to be pretrained/frozen:
https://github.com/pytorch/vision/blob/master/torchvision/models/resnet.py#L188-L203

[2021-02-17 21:39] lurenyi233 commented on #555
I have modified my collate_fn, and the data can be in different sizes within my Dataloader. But I met another problem.

1. Now, a batch of training sample data is a large List, and in this List, there are several Tensors (the tensor number is determined by the batch size we set). Here, it needs to be a List as these inside Tensors are in different sizes.
2. The CNN model's input (i.e., this batch

[2021-02-18 07:17] xh-hnu commented on #3149
请问可以分享一下编译好的torchvision的whl文件吗？我自己编译老是出错

[2021-02-18 07:24] xh-hnu commented on #3149
@huwei1024

[2021-02-18 09:56] MohamedAliRashad commented on #1920
it has been nearly a year on this issue and the error still pops up @pmeier

[2021-02-18 10:01] huwei1024 commented on #3149
https://drive.google.com/drive/folders/1NYUNtg9wClimlOAdxrL6r5Nnhtur07ON?usp=sharing

@xh-hnu  你试试可不可以用吧

[2021-02-18 10:02] pmeier commented on #1920
@MohamedAliRashad What do you mean by

? There is no way for us to get around this error, since we are not hosting the dataset. See my previous comment https://github.com/pytorch/vision/issues/1920#issuecomment-592101692 for details.

[2021-02-18 10:53] xh-hnu commented on #3149
@huwei1024 能安装，不过import之后就程序就被kill，不能用。T_T

[2021-02-18 11:02] huwei1024 commented on #3149
@xh-hnu  自己编译吧 比较快的

[2021-02-18 11:20] xh-hnu commented on #3149
@huwei1024 🙏，已经可以了，测试了一下，pytorch同一个程序，v100跑完44s，m1 40s，性能还是可以的，你测试过吗，结果咋样？

[2021-02-18 11:53] MohamedAliRashad commented on #1920
@pmeier
Can't the dataset be hosted by other services ?

[2021-02-18 12:23] huwei1024 commented on #3149
@xh-hnu 还可以，我是非专业的

[2021-02-18 12:28] pmeier commented on #1920
Of course they can, but this is not for us to decide. If you think there is a better hosting solution you need to get in contact with [the authors](http://mmlab.ie.cuhk.edu.hk/projects/CelebA.html). Note our disclaimer at the bottom of our [README](https://github.com/pytorch/vision#disclaimer-on-datasets):

[2021-02-18 12:40] NicolasHug commented on #1311
Here's a benchmark comparing the current `batched_nms` implementation with a manual for loop, as done in [detectron2](https://github.com/facebookresearch/detectron2/blob/d6e8c1309b93068c97f89f28bba09190ccc4da6a/detectron2/layers/nms.py#L32)

<details>
<summary>Benchmark code</summary>

[code]

</details>

Here are the computation time for different number of boxes, averaged over 5 runs:

|

[2021-02-18 12:45] fmassa commented on #1311
@NicolasHug thanks for the benchmark! Can you actually plot the same graph but varying the number of classes? In your example you only have 4 classes, but in many cases we would have much more (up to 80 on COCO for example).
This will give some more representative ideas on how the performance of batched NMS is affected when batching over a larger number of classes

[2021-02-18 13:04] NicolasHug commented on #1311
Thanks for the feedback, here are the benchmarks with different number of classes. I made sure to call `syncrhonize()`:

![image](https://user-images.githubusercontent.com/1190450/108360891-b00ea300-71e9-11eb-8a32-ac326ee6f722.png)

![image](https://user-images.githubusercontent.com/1190450/108360901-b4d35700-71e9-11eb-94f4-46ee176aa0af.png)

![image](https://user-images.githubusercontent.com/1190

[2021-02-18 13:13] 1enn0 commented on #1774
Hello everybody!

Not sure, whether this is the correct place for my question but I'll give it a shot.

I'm wondering about the deployment strategy to PyPI for Windows. I'm aware that the "official" way of installing PyTorch is through [https://download.pytorch.org/whl/torch_stable.html](https://download.pytorch.org/whl/torch_stable.html).

I noticed the wheel for the win/cpu build of the main `to

[2021-02-18 13:25] christian-cahig opened #3414 "Installing torch 1.7.1 installs torchvision 0.2.2 instead of 0.8.2"
## 🐛 Bug

When I install `torch` via `conda` (as instructed [here](https://pytorch.org/get-started/locally/)), `torchvision 0.2.2` is installed instead of `torchvision 0.8.2`.

![torchvision issue](https://user-images.githubusercontent.com/67888758/108363293-b7589f80-722f-11eb-9177-6a2ddf9224dc.png)

## To Reproduce

I ran the following command:

[code]

## Expected behavior

From [this table](htt

[2021-02-18 13:29] dc986 commented on #3349
This is my code

[code]

[2021-02-19 04:05] kaoutar55 commented on #45
Could someone clarify if this piece of code is doing the transformation in CPU or GPU. It is not clear to me if the current torchvision library is supporting GPU transformations or all is done on CPUs at this point.
 train_dataset = \
        datasets.ImageFolder(args.train_dir,
                             transform=transforms.Compose([
                                 transforms.RandomResizedCro

[2021-02-19 11:03] pmeier commented on #3372
Server is back up.

[2021-02-19 11:03] #3372 closed

[2021-02-19 11:07] pmeier commented on #3414
This usually happens if you are on a machine that we do not provide binaries for. See #2622 for more details.

[2021-02-19 11:36] NicolasHug commented on #1311
I'm not sure whether the memory info is relevant for CPU, but for GPU it seems that the for-loop version is consistently cheaper memory-wise.

The for-loop version gets faster than the current version when:

- n_boxes > 4k for CPU
- n_boxes > 20k for GPU

Interestingly [detectron2](https://github.com/facebookresearch/detectron2/blob/d6e8c1309b93068c97f89f28bba09190ccc4da6a/detectron2/layers/nms.py

[2021-02-19 18:36] bmanga commented on #3349
That looks fine. If you can't correctly run your `my_fasterrcnn_resnet50_fpn.pt` in the tracing test, I'm out of ideas :/.

[2021-02-19 19:53] chiboreache opened #3421 "error making: python-torchvision-cuda"
can't make an app from AUR `python-torchvision-cuda` in Arch Linux

[code]

## Environment

[code]

everything is Bleeding Edge

[2021-02-19 20:37] vfdev-5 commented on #3414
@christian-cahig thanks for reporting. I could not repro that on a windows machine
[code]
[code]

If you already installed cudatoolkit or other versions of pytorch, try to remove everything such that your env is clean. If it does not work, try to use pip
[code]

HTH

[2021-02-20 03:03] dlmgary commented on #720
@ncuxomun I think you forgot to add the `super().__init__()` in the `__init__()` method.

[2021-02-20 13:18] Muratoter commented on #1943
Update pytorch latest versions. Follow this link; https://pytorch.org/mobile/android/#using-the-nightly-pytorch-android-libraries

[2021-02-20 13:37] chiboreache commented on #3421
[python-torchvision-0.8.2-1-x86_64-check.log](https://github.com/pytorch/vision/files/6015089/python-torchvision-0.8.2-1-x86_64-check.log)

[2021-02-21 14:10] pmeier commented on #3375
Closed in #3402

[2021-02-21 14:10] #3375 closed

[2021-02-21 15:51] fmassa commented on #1114
This has been fixed in https://github.com/pytorch/vision/pull/3360

[2021-02-21 15:51] #1114 closed

[2021-02-21 15:57] fmassa commented on #2318
Closing as stale and has already been answered.

[2021-02-21 15:57] #2318 closed

[2021-02-21 15:59] fmassa commented on #2276
Closing following @pmeier comment.

[2021-02-21 15:59] #2276 closed

[2021-02-21 16:00] fmassa commented on #1294
We've now provided a tensor-based implementation for `Resize` which matches OpenCV results.

[2021-02-21 16:00] #1294 closed

[2021-02-21 16:01] fmassa commented on #1403
Closing as this seems stale and it's not clear what the problem is.

[2021-02-21 16:01] #1403 closed

[2021-02-21 16:05] fmassa commented on #154
We've added ResNeXt to torchvision, but ResNetv2 didn't really caught up with the community so we won't be adding it

[2021-02-21 16:05] #154 closed

[2021-02-21 16:06] fmassa commented on #173
Closing as I believe it's up to the user to specify which layers to re-use when fine-tuning.

[2021-02-21 16:06] #173 closed

[2021-02-21 16:06] #391 closed

[2021-02-21 16:12] fmassa commented on #3168
Closing as this looks like you are passing the path to the wrong location to your code.

[2021-02-21 16:12] #3168 closed

[2021-02-21 16:16] fmassa commented on #2238
The model doesn't require segmentation maps, but the rest of the training code makes the assumption that it is present, see https://github.com/pytorch/vision/blob/7ffc9520a847bd94a61247f1bdc19a00e4165440/references/detection/coco_utils.py#L71-L72

You can safely remove those for your use-case.

[2021-02-21 16:16] #2238 closed

[2021-02-21 22:59] datumbox commented on #3421
@chiboreache I believe the best place to ask this question would be on the downstream [AUR repo of arch](https://aur.archlinux.org/packages/python-torchvision-cuda/). I am not an Arch user, so take what I'm saying with a grain of salt, but it seems there might be an issue with the way the downstream AUR packaged the project. Also from what I see, the AUR repo has only the released versions availab

[2021-02-21 22:59] #3421 closed

[2021-02-22 01:24] wangg12 commented on #645
Would you like to add [ResNest](https://github.com/zhanghang1989/ResNeSt) models?

[2021-02-22 09:23] pmeier commented on #2271
Hey @kirk86. We are in the process of hashing out requirements that a dataset has to meet for us to add it. Right now we simply go by the number of citations ([111](https://scholar.google.com/scholar?cites=11340721836416182407)) and the ranking of it on [paperswithcode.com](https://paperswithcode.com).

IIRC, we don't have a medical dataset as of now so it would be good to add a high profile one.

[2021-02-22 09:34] pmeier commented on #485
Hey @medakk, I'm not sure if this is still relevant since this has been opened almost three years ago. The `DatasetFolder` and `ImageFolder` datasets have a `loader` argument. This is required for the former and defaults to loading the image with an available image backend for the latter.

Usually, one would not expect corrupt images and this is why there is no error handling implemented. In your

[2021-02-22 09:34] #485 closed

[2021-02-22 09:49] pmeier commented on #60
Hey @souravsingh, as of `torchvision==0.4.0` we support video datasets. Right now we provide `UCF101`, `HMDB51`, and `Kinetics400`.

One could make a case that `CamVid` is a segmentation task while ours are classification only. While `CamVid` is not unpopular, it is not as high profile as the built-in ones. We are currently in the process of hashing out criteria for when it is justified to add a n

[2021-02-22 09:55] pmeier commented on #539
@shaibagon @temerick Is this still relevant?

[2021-02-22 12:02] NicolasHug commented on #1409
May I suggest to use [sphinx-gallery](https://sphinx-gallery.github.io/stable/index.html) for this?

It is used by many mature projects already: scikit-learn, matplotlib, scikit-image...

It allows to have a dedicated [example gallery](https://scikit-learn.org/stable/auto_examples/index.html), and the examples can have plots. The examples can also be written in a [notebook-style](https://scikit-le

[2021-02-22 12:37] fmassa commented on #1311
@NicolasHug I agree, we can do a dispatch similar to `detectron2` but using a different value depending on CPU / CUDA.

[2021-02-22 14:14] NicolasHug commented on #2582
I opened https://github.com/pytorch/vision/pull/3425 to explicitly document the expected coordinate constraints.

I would suggest to wait for  pytorch/pytorch#36853 before introducing `assert` statements. I tend to think that as long as the documentation is good, we can choose to leave it up to the user to ensure that the input format is correct.

[2021-02-22 17:13] pmeier opened #3427 "DatasetTestCase.test_not_found only works by accident"
## 🐛 Bug

`DatasetTestCase.test_not_found` only works by accident.

## To Reproduce

Instead of inheriting from `RuntimeError`

https://github.com/pytorch/vision/blob/0e32a12c47fd22fe1cd100ea56a7f3c3092e4cc0/test/datasets_utils.py#L38-L39

let it inherit from `Exception`.

## Expected behavior

Tests should work fine.

## Additional context

This is a problem in our test infrastructure not in the

[2021-02-22 17:19] pmeier commented on #3427
On a second thought, this might not as easy as I thought. Of course we can simply skip the `inject_fake_data()` branch in `create_dataset()`. Problem is that we handle additional arguments that need to be passed to the dataset in `inject_fake_data`. That means we need to either separate this or scrap the test all together. I'm opting for the latter. @fmassa?

[2021-02-22 17:59] NicolasHug commented on #2868
I might be missing something but it seems that the two proposals are orthogonal and compatible.
Maybe we can implement both, i.e. introduce `edge` *and* `max_size`?

[2021-02-22 22:45] seyeeet commented on #1946
I have the same issue, did you solve it?

[2021-02-22 22:50] seyeeet opened #3429 "Inconsistency between the pretrained models and labels"
I notice that for pretrain models that are provided the labels are not consistent.
For example vgg16 class 1 is different from Resnet50 class 1.
Can you let us know where we can find the corresponding labels for each model?
For vgg i notice that the one that looks like this:
[code]
works, but this one is not the one that we should use for resnets, please let us know what we should do.
Thanks

[2021-02-22 23:21] asberk commented on #1946
Unfortunately, no.

[2021-02-23 07:11] FraPochetti opened #3430 "Paper behind Keypoint R-CNN implementation in torchvision"
## 📚 Documentation

Hi team,
I can't seem to find the paper behind the [Keypoint R-CNN](https://pytorch.org/vision/0.8/models.html#keypoint-r-cnn) implementation in `torchvision`.
I'd like to better understand and study the architecture and I was looking for some support in the literature, please.
Thanks

[2021-02-23 09:52] pmeier commented on #2868
@NicolasHug `max_size=size` would be the same as `size=size, edge="long"`. IMO there is no point of having both other than for minimal convenience.

[2021-02-23 09:56] WZMIAOMIAO opened #3433 "add EfficientNet for torchvision"
## 🚀 Feature
Add EfficientNet models into torchvision module.

## Motivation
I very love this projects.
I noticed that in 2019 it was said that efficientnet models would be added. #980
But up to now, there is no efficientnet models.
I'm looking forward to adding more new models to torchvision.

## Additional context
I refer to the official efficientnet model of tensorflow implemented with keras mo

[2021-02-23 10:10] NicolasHug commented on #2868
My understanding of `max_size` from https://github.com/pytorch/vision/issues/2868#issuecomment-714317705 is that `size` must always be specified, and the `max_size` constraint is only evaluated after the image has been resized according to `size` (and potentially `edge`). Is this not the case?

Basically I think we can do what you proposed in https://github.com/pytorch/vision/issues/2868#issue-727

[2021-02-23 10:51] pmeier commented on #2868
Yeah, I was wrong about that. Basically the two proposals would behave as follows individually:

- Resize this image using a specific edge as anchor.
- Resize this image using the short edge as anchor to the given size unless the new size would violate the limits. In that case, scale the new size accordingly.

The combinations `edge="short", min_size=min_size` and `edge="long", max_size=max_size`

[2021-02-23 11:10] NicolasHug commented on #2868
I agree that `edge="long", max_size=max_size` doesn't make much sense, we could warn or error in this case. Regarding `min_size`, I would also agree that this parameter is not needed (on top of the redundancy, it might be impossible to satisfy both `min_size` and `max_size`).

@fmassa would you mind sharing your thoughts on:

- introducing `edge` only
- introducing `max_size` only
- introducing bo

[2021-02-23 11:29] christian-cahig commented on #3414
I was able to "fix" this after restarting my PC. I'll close this issue now. Thanks, @pmeier and @vfdev-5,

[2021-02-23 11:29] #3414 closed

[2021-02-23 11:54] 1enn0 opened #3436 "Windows CPU build missing on PyPI?"
## 🐛 Bug

Is there a reason the CPU build of `torchvision` is not pushed to PyPI anymore?

## To Reproduce

Steps to reproduce the behavior:

1. `pip install torch==1.7.1 torchvision==0.8.2 torchaudio==0.7.1`

Output:
[code]

## Expected behavior

CPU build of `torchvision` is installed.

## Environment

 - OS: Windows
 - Python version: 3.8.6

## Additional context

`torchvision` used to be pushe

[2021-02-23 12:07] pmeier commented on #2868
If we allow the user to chose an anchor, `min_size` is "needed" in case the selected edge is the longer one. Consider an image of size `(10,2)` that we want to resize to `size=5` with `edge="long"` and `min_size=2`. Without `min_size` the resulting size would be `(5,1)` and with `min_size=2` `(10, 2)`.

[2021-02-23 14:35] vadimkantorov opened #3440 "[docs] torchvision.io.read_video docs do not (but should) specify image scale format"
Is it int8, uint8, float from 0 to 1, -1/1?

[2021-02-23 15:15] fmassa commented on #2868
@NicolasHug I think adding both would hurt readability and understandability of the function, even if the documentation tries to make it clear. It's just going to be too much branching in the function, and it will probably confuse more than one user.

Let's have a look at what some other libraries have done about this:
- `detectron2` implements [two functions](https://github.com/facebookresearch/d

[2021-02-23 15:25] natangold85 commented on #3359
Hi updating that taking nightly torch and nightly torchvision seems to change something but i'm not sure if it improved.
this is an issue i added to pytorch about their nightly.
trying to take torchvision nightly and libtorch 1.7.1 failed on error attached below.
So i can't take working libtorch and nightly torchvision.

You have any suggestion regarding what can I do here?

Thanks

../../../../..

[2021-02-23 15:36] bmanga commented on #3359
Could it be that you used a pre-built libtorch with pre-C++11 ABI?

[2021-02-23 15:38] natangold85 commented on #3359
it just a slightly older version built in the same way.
simple cmake commands

[2021-02-23 15:42] NicolasHug commented on #2868
From what I can tell, detectron2's `ResizeShortestEdge` corresponds to `torchvision`'s current `resize` with the `max_size` parameter.

Regarding the other transforms, they don't  allow `size` to be an int, which is what we're concerned with (`Detectron2.resize` accepts an int but it will output a square size x size image). In tensorflow, `preserve_aspect_ratio=True` makes `size` act as a bounding

[2021-02-23 17:23] pmeier commented on #3436
Also cc @seemethere

[2021-02-23 17:28] pmeier commented on #3433
Hey @WZMIAOMIAO. I've skimmed #980 and as far as I understood the problem is not the implementation, but rather the training. If you have more insights or ressources, I suggest you get in touch with the other participants in the discussion.

Anyway, since there already is an issue for this, lets keep the discussion there.

[2021-02-23 17:28] #3433 closed

[2021-02-23 18:41] bw4sz opened #3442 "Add info on retinanet finetune to docs."
In the object detection [tutorial](https://pytorch.org/tutorials/intermediate/torchvision_tutorial.html
), there is a helpful section on the objects needed to alter the number of classes. Can we confirm the corresponding objects for retinanet and I can submit a PR?

[code]

I think it should go just before the commented section on changing the backbone here: https://pytorch.org/vision/stable/_modu

[2021-02-23 18:42] natangold85 commented on #3359
I used master libtorch to compile torchvision.
so i observed this error when linking torchvision against the version that he wasn't compile with.
when i use libtorch from v1.7.1 to compile updted torchvision i get this error:

**/data2/torchvision/vision/torchvision/csrc/ops/deform_conv2d.cpp:86:23: error: expected constructor, destructor, or type conversion before ‘(’ token
 TORCH_LIBRARY_FRAGMEN

[2021-02-23 19:58] sanketsans commented on #3067
@datumbox I'd like to contribute to this.
I tried to run the code and check. I first removed the line no. 405 :
`result = result.to(dtype) `

and later removed line no. 404 and keeping the line 405:
`result = convert_image_dtype(result, dtype) `

Both the times, the images gets successfully converted to the tensor type. I tried with double tensor, float tensor, uint8 image and float32 image.

Also

[2021-02-23 22:12] bw4sz commented on #3442
ugh. I just noticed that it is documented, directly below the link I pasted. The backbone takes a num_class argument. My apologies.

[code]

[2021-02-23 22:24] bw4sz commented on #3442
@hgaiser reopening, just to confirm intended behavior. I can make a separate issue since this isn't about docs anymore. I actually think my idea above was correct about grabbing the backbone. The num_class argument doesn't work as expected.
[code]

If you set it equal to COCO size.
[code]
it passes

[2021-02-23 22:37] hgaiser commented on #3442
Yeah unfortunately you can't load only a partial state dict. There is a PR for this but it doesn't seem like it will be merged. I posted there how u resolved my issue for now, which should also help with your issue.

https://github.com/pytorch/pytorch/pull/39144#issuecomment-784560497

[2021-02-23 23:42] bw4sz commented on #3442
Yeah that doesn't look like its going to get merged. I appreciate you trying to look out for others. Do you see anything that jumps out at you about

[code]

It seems be training fine, both train and val loss drops fine.
https://www.comet.ml/bw4sz/deepforest-pytorch/fdcbd0b60dae43dca8b135cf08ebe2e0?experiment-tab=chart&showOutliers=true&smoothing=0&transformY=smoothing&xAxis=step

I'm looking at t

[2021-02-24 02:29] WZMIAOMIAO commented on #2707
first, thanks for your great works.
I hope to add Swish activation and NFNets(High-Performance Large-Scale Image Recognition Without Normalization) https://arxiv.org/abs/2102.06171.
In addition, I would like to ask when eficientnet can be added. I found that it was mentioned in 2019, but now it's 2021. I refer to the [mobilenetV3 model](https://github.com/pytorch/vision/blob/master/torchvision/mod

[2021-02-24 03:38] oke-aditya commented on #2707
Hi @WZMIAOMIAO Swish Activation function is added in to PyTorch (not torchvision) as `nn.Silu`.
Mobilenetv3 would be hopefully available in next release.

[2021-02-24 07:10] WZMIAOMIAO commented on #2707
@oke-aditya Thank you for your reply. I've seen MobileNetv3 in the torchvision repository. When will EfficientNet, RegNet and NFNet be added?

[2021-02-24 07:18] hgaiser commented on #3442
That code seems fine to me. Though you can also use `resnet50_fpn` to
create a backbone directly, saves a bit of hassle.

On Wed, 24 Feb 2021, 00:42 Ben Weinstein, <notifications@github.com> wrote:

[2021-02-24 08:32] pmeier opened #3446 "Resource class large for macos is not available"
## 🐛 Bug

Resource class large for macos is not available for your project.

## To Reproduce

Look at the header of any macos unittest run in CI. For example https://app.circleci.com/pipelines/github/pytorch/vision/6486/workflows/38d6e694-c563-4c31-8b31-e42700deab3c/jobs/428080

## Expected behavior

Run without warning.

## Possible Fix

If we don't have access `resource_class: large` we should c

[2021-02-24 12:16] datumbox commented on #3067
@sanketsans I believe only 405 needs to be removed. Line 404 is necessary to convert the image back to its original type (in case someone passed a uint8). @vfdev-5 Could you confirm?

It might be worth sending a PR with all the proposed clean ups. Any simplification of the current logic is useful I think.

[2021-02-24 12:26] sanketsans commented on #3067
@datumbox I tried by sending a uint8 image. But then it is taken care by the line 400.
[code]

That makes it back to a tensor type.

[2021-02-24 12:54] vfdev-5 commented on #3067
Looking again to the code, I'd do the following:
[code]

What do you think @datumbox ?

[2021-02-24 15:37] vadimkantorov opened #3449 "[docs] Usage example missing for torchvision.utils.draw_bounding_boxes"
https://pytorch.org/vision/master/utils.html?highlight=draw_bounding_boxes#torchvision.utils.draw_bounding_boxes

Return type is not described.

Also, it says: ` If filled, Resulting Tensor should be saved as PNG image.`. What does word `filled` refer to? Where would it be `saved`? To some file path? Or encoded into the output tensor?

[2021-02-24 16:28] vadimkantorov opened #3451 "Can't compile master: requires nightly PyTorch?"
I have installed torch 1.7.1 and g++ 7.5.0. Do I need nightly PyTorch version to compile nightly torchvision 0.9.0?

`pip install git+https://github.com/pytorch/vision --no-dependencies`: [log.txt](https://github.com/pytorch/vision/files/6037409/log.txt)

[2021-02-24 16:38] vadimkantorov commented on #3451
If there's CI, it would be good to know if nightly torchvision is buildable against the most recent stable version of PyTorch (then it's much easier to experiment with nighlty torchvision without reinstalling full pytorch from nightly)

[2021-02-24 16:48] kirk86 commented on #2271
Hi @pmeier. Thanks for you reply, I understand that number of citations  and ranking might be a good indicator for capturing datasets that might be of use to a wider audience but might exclude some other nice alternatives, for instance [this dataset](https://github.com/p-lambda/wilds) seems interesting, the only downside is the large size which could be preventive for quick development, that's why

[2021-02-24 17:17] bw4sz commented on #3442
great. closing. If anything comes to mind on the nms, let me know. I'll open an issue if I can make something reproducible.

[2021-02-24 17:17] #3442 closed

[2021-02-24 17:43] fmassa commented on #3451
Hi @vadimkantorov

Yes, you need a nightly PyTorch in order to compile a nightly torchvision. We have added new functionality recently which is only available in master.

[2021-02-24 17:43] #3451 closed

[2021-02-24 18:18] vadimkantorov commented on #3451
Unfortunately, the official conda installation sequence for nightly build of torch and torchvision together also fails: https://github.com/pytorch/pytorch/issues/52751

[2021-02-25 04:42] oke-aditya commented on #3449
Nice points @vadimkantorov . We recently added these utils and they are bit on the rough edge.
We have these TODO points in #3364 . I wanted to add this PR after #3330 . @datumbox  Since it will take time to add segmentation mask utility. Should I quickly patch #3364 ?

[2021-02-25 06:38] pmeier opened #3452 "Add download functionality if available to all datasets"
## 🚀 Feature

Add download functionality if available to all datasets.

## Motivation

Currently, the following datasets have no option to download them directly:

- `Cityscapes`
- `Coco(Detection|Captions)`
- `Flickr(8|30)k`
- `HMDB51`
- `ImageNet`
- `Kinetics400`
- `LSUN`
- `UCF101`

## Pitch

Of those listed above only

- `Cityscapes`
- `Flickr(8|30)k`
- `ImageNet`

require some manual action t

[2021-02-25 06:41] pmeier commented on #3452
Progress tracker:

- [ ] `Coco(Detection|Captions)`
- [ ] `HMDB51`
- [ ] `Kinetics400` @bjuncek
- [ ] `LSUN`
- [ ] `UCF101`

[2021-02-25 06:48] mravunni commented on #1018
same issue Got this problem with pytorch 1.7.1 and torchvision 0.4.1 and 0.3.0.

from torchvision import _C as C
ImportError: DLL load failed: The specified module could not be found.

[2021-02-25 06:53] pmeier commented on #2903
Internally `Kinetics400` uses `datasets.folder.make_dataset()` to collect the samples:

https://github.com/pytorch/vision/blob/fc33c46f109dfd0267cf4034fa9511b77130f81b/torchvision/datasets/kinetics.py#L47-L49

We have an error handling like you propose in `datasets.DatasetFolder`

https://github.com/pytorch/vision/blob/fc33c46f109dfd0267cf4034fa9511b77130f81b/torchvision/datasets/folder.py#L127-L1

[2021-02-25 08:42] tcapelle commented on #2950
I posted this on the pytorch forums, but yesterday I found that my classifier trained with PIL image reading and served with `torchvision.io.read_image` was not working at all (predicting completely flawed results). After digging, the issue comes from the Resize. I had already noticed this with opencv resize, and kinda of fixed using `INTER_AREA`.
But I would expect the new API to be compatible on

[2021-02-25 09:07] fatalfeel commented on #182
os.makedirs('directory', 0o777, exist_ok=True)
==>substutite to
if not os.path.exists(directory):
    os.makedirs(directory)

[2021-02-25 09:43] #3427 closed

[2021-02-25 09:56] bjuncek commented on #3440
Hi @vadimkantorov
Should be uint8 in 0-255 by default; RGB24 pixel space regardless of the input.

feel free to send a PR with the doc modification. I'm technically not working until next week so might not get to it before then.

[2021-02-25 10:04] bjuncek commented on #3340
Yeah, I agree - I think there was an issue regarding this a while back but we decided that a finer grained API would be more useful than this - given that fine-grained API will be in beta for a while (at least one more release) it might be useful to add this

Do you want to send a PR with the changes?
If not, I can take a look into this late next week

[2021-02-25 10:13] bjuncek opened #3460 "README section for video backends"
## 📚 Documentation

Describing the video backends, APIs, installation and requirements in the main README.md.
Specifically targeted to address issues such as #3367 #3440 and have a clearer reference point for the future users.

[2021-02-25 10:15] bjuncek commented on #3367
If everyone agrees, I'll document this in #3460 and close this issue.

[2021-02-25 10:15] #3367 closed

[2021-02-25 10:19] vadimkantorov commented on #3340
busy with the research project :( don't have resources for truthful involvement :(

[2021-02-25 14:13] NicolasHug commented on #1574
From a discussion with @fmassa : there is hope that torchscript will eventually support returning union types. This would allow the scripted mode to return either the losses or the detections, instead of always returning a tuple, and would make eager and scripted versions compatible with a minimum amount of backward incompatibility. It may be preferable to wait until then, as the rest of the issue

[2021-02-25 14:44] natangold85 commented on #3359
Wanted to update that i found the problem in libtorch. So i'm using current master for libtorch and torchvision and i'm able to use torchvision operators on jit.

Thanks !

[2021-02-25 14:44] #3359 closed

[2021-02-26 02:26] jkparuchuri opened #3463 "Can`t export mobilenetv3 model to onnx"
` model = models.mobilenet_v3_small(pretrained=True)
   input_np = np.random.uniform(0, 1, (1, 3, 224, 224))
   input_var = torch.FloatTensor(input_np)
   torch.onnx.export(model, args=(input_var), f="cnn.onnx", verbose=False, input_names=["input"], output_names=["output"])`

Error: RuntimeError: Exporting the operator hardsigmoid to ONNX opset version 9 is not supported. Please feel free to reque

[2021-02-26 15:55] datumbox commented on #3449
@oke-aditya Apologies for the delay. I'm currently OOO...

@fmassa Thoughts on how we could unblock Oke on his open PR or how to proceed?

[2021-02-26 16:05] datumbox commented on #3067
@vfdev-5 Yeah that works fine.

Could any of you send a PR that fixes this?

[2021-02-26 16:14] zhiqwang commented on #3463
Hi

It seems that the `nn.Hardswish` caused this problem, actually the nightly version of PyTorch has addressed this problem, so the unit-test is pass.

If you are using PyTorch 1.7.x, you can replace it to an export friendly version of `Hardswish` as below and set ONNX opset version to 11.

[code]

[2021-02-26 16:35] BynaryCobweb opened #3469 "Error when executing scripted FasterRCNN in training mode"
## 🐛 Bug

Error when executing scripted FasterRCNN in training mode. This is probably due to function `torch.randperm` having a different behavior when executed by torchscript.

## To Reproduce

[code]
Gives error:
[code]

If I print `perm1` here, it seems like it's a float tensor, but torch.randperm is supposed to return a LongTensor  (see [documentation](https://pytorch.org/docs/stable/generated

[2021-02-26 16:38] BynaryCobweb commented on #3469
It seems like specifying the type in `torch.randperm` solves the problem:
[code]

[2021-02-28 01:23] airsplay commented on #689
A possible solution is similar to the one for [HDF5](https://github.com/pytorch/pytorch/issues/11929#issuecomment-649760983):
1. Do not open lmdb inside `__init__`
2. Open the lmdb at the first data iteration.

Here is an illustration:
[code]

**Explanation**
The multi-processing actually happens when you create the data iterator (e.g., when calling `for datum in dataloader:`):
https://github.com/

[2021-02-28 03:43] lamhoangtung commented on #392
@Edwardmark. How did you unflatten the indices efficiently, without looping over each returned indices value and check if in range ... ?

[2021-02-28 03:57] timothybrooks commented on #3206
I am using version 0.8.2 and I still have this issue. To further clarify, I am able to apply the random erasing augmentation to a batched image tensor, however, the issue is that the erased region is the same for each image in the batch. We would like an option for the erased region to be random independently for each image in the batch (hence "batch-wise random").

[2021-02-28 04:28] voldemortX commented on #3206
@timothybrooks Hi! I'm just curious, what is your use case that need this feature?

[2021-03-01 01:38] ruiyuanlu commented on #3206
In my case, some statistical information I need (usually before batch-wise random erasing) requires a batched input rather than one single image.  Yet using a python-for-loop to apply image-wise random erasing for a batch is too slow (especially when batch size is large). That's why a batch-wise random erasing is necessary.

[2021-03-01 01:52] voldemortX commented on #3206
I see.  Thanks for the explanation!

[2021-03-01 09:25] NicolasHug commented on #3351
I agree with @datumbox comment.

@fmassa and I wrote the release notes last week and we spent the vast majority of the time labeling the PRs. As it's very time-consuming, so it'd be good to have a process that would make this faster for the next releases. There are 2 label levels:

- Which area is affected: `OPS` (operators), `TRANS` (tranforms), `MOD` (models), `REF` (references), `IO`, `DAT` (da

[2021-03-01 09:30] pmeier opened #3473 "Cannot be installed from source in debug mode if torch was built without CUDA"
## 🐛 Bug

Cannot be installed from source in `DEBUG=1` mode if `torch` was built without CUDA.

## To Reproduce

1. Install `torch` without CUDA, e.g. from nightly pre-builds with CPU only.
2. Run `DEBUG=1 python setup.py develop`

[code]

## Expected behavior

Install without error.

## Environment

[code]

## Additional context

This is happens because we don't check if `cxx` is in `extra_compil

[2021-03-01 10:18] #3273 closed

[2021-03-01 10:47] fmassa commented on #3469
Hum, interesting.

@BynaryCobweb we can fix this in torchvision by explicitly mentioning the type, but I think that it would be worth opening an issue in PyTorch with a minimum reproducible example (which only uses randperm if possible)

[2021-03-01 10:49] fmassa commented on #3473
The proposed fix sounds good to me, can you send a PR for it?

[2021-03-01 11:13] AdeelH commented on #3188
I ran into this today too. It should either
- be documented that the user should set `NO_FFMPEG=`
- or the absence of `NO_FFMPEG` should be taken to mean that ffmpeg should be used if found, which makes a lot more sense to me:

[code]

[2021-03-01 12:41] fmassa opened #3475 "`test_maskrcnn_resnet50_fpn_cuda` is failing with precision issues"
## 🐛 Bug

We have recently started seeing precision issues with the torchscripted version of `maskrcnn_resnet50_fpn` on CUDA. One example of log failure can be seen in https://app.circleci.com/pipelines/github/pytorch/vision/6584/workflows/2cd23214-006e-42fb-bc04-48c0070ebc23/jobs/436725

with an error like

[code]

This test wasn't flaky before, so maybe there were upstream changes that made the

[2021-03-01 13:21] #3473 closed

[2021-03-01 13:24] fmassa commented on #3475
Another case where the tolerance was exceeded by a larger amount https://app.circleci.com/pipelines/github/pytorch/vision/6587/workflows/77f8a20e-707f-4a9e-b7d9-3d2edf4844d3/jobs/437148

[2021-03-01 13:55] vadimkantorov opened #3476 "[docs] Outdated copyright 2017"
[code]

[2021-03-01 14:05] vadimkantorov opened #3478 "[feature request] Support batches for box_iou / generalized_box_iou"
Currently it supports only `(N4, M4) -> NM`. I propose to also support `(BN4, BM4) -> BNM`.

This is useful for computing a cost matrix between predicted boxes and ground truth boxes for a batch of frames. Probably it can be done by adjusting tensor indexing. Something like that:
[code]

[2021-03-01 14:56] BynaryCobweb commented on #3469
Done here https://github.com/pytorch/pytorch/issues/53015

[2021-03-01 15:13] #3475 closed

[2021-03-01 17:56] k-sobolev opened #3482 "Inconsistent image loading in torchvision before and after 0.8.0 version"
## 🐛 Bug

The standard ILSVRC2012 validation set dataloader returns different data depending on torchvision version. The problem starts from version 0.8.0. Images loaded by torchvision=<0.7.0 and torchvision>=0.8.0 are shifted by one pixel horizontally relative to each other. This makes model evaluations inconsistent. For example, this is the source of [issue](https://github.com/pytorch/vision/iss

[2021-03-02 06:42] tangjiuqi097 opened #3485 "add the pretrained resnext101_64x4d model"
## 🚀 Feature

add the pretrained resnext101_64x4d model

## Motivation

In object detection, the resnext101_64x4d is a widely used backbone.
But the torchvision model only provide the resnext101_32x8d pretrained models.
If we want to use the resnext101_64x4d in object detection, it cannot be smoothly to change.

[2021-03-02 09:30] fmassa commented on #3482
Thanks for opening this issue! There was one change made to `center_crop` I believe to allow for torchscript compatibility (there was a bug in torchscript), but since then we have fixed it in https://github.com/pytorch/vision/pull/3118

Can you check with a torchvision nightly to see if this problem persists?

[2021-03-02 09:57] bjuncek commented on #3188
Yes, this is fixed on the master. If all are ok I'll close this issue for now, and document installation process better.

[2021-03-02 09:57] #3188 closed

[2021-03-02 10:05] fmassa opened #3487 "Replace uses of `_is_tracing` with `torch.onnx.is_in_onnx_export()`"
Through the codebase we have special implementations for ONNX guarded by `torchvision._is_tracing()`. We should see if it would be possible to replace it with `torch.onnx.is_in_onnx_export()` so that the meaning of those code-blocks is simpler, and so that we don't depend on internal PyTorch APIs.

I would start by checking if replacing https://github.com/pytorch/vision/blob/5b663c8eb691d540d06419

[2021-03-02 10:41] bjuncek commented on #3340
@vadimkantorov yeah I get it. I hacked my way around it to use it with HowTo100M as well.
If it's not crucial, I'll get some time allocated to this after ICCV then :)

[2021-03-02 16:18] fmassa commented on #2903
@pmeier sure, makes sense to move this check to be inside `make_dataset`

[2021-03-02 18:06] k-sobolev commented on #3482
Thanks for the prompt reply! I have checked loaded images with a torchvision nightly and confirm that output pixels are the same as when I use torchvision<=0.7.0. Thus, the problem is solved.

I suppose that [#3152](https://github.com/pytorch/vision/issues/3152) is also fixed since now ILSVRC2012 evaluation metrics are consistent with documentation.

[2021-03-02 22:00] #3067 closed

[2021-03-02 22:01] timothybrooks commented on #3206
Hi @voldemortX,

My application is for differentiable data augmentation used on both real images and generated images during the training of GANs. (https://arxiv.org/abs/2006.10738, https://arxiv.org/abs/2006.06676). Public implementations for both of these papers use their own custom data augmentation implementations. It would be great to instead use the torchvision augmentations, which would eas

[2021-03-02 22:13] neillbyrne commented on #689
Thank you @airsplay . Excellent solution. You just saved me about a months work !!!

[2021-03-02 23:52] LucaMarconato commented on #9
Another possibility without having to change the seed it to save and load the state. In this example I transform both the origin and the target applying the same instance of a random transformation. For me the only seed making a change was the `torch` seed, not the `random` one or the `numpy` one.

[code]

[2021-03-03 03:12] voldemortX commented on #3206
@timothybrooks @ruiyuanlu Given these papers and use cases, batch-wise random do seem rather useful to support fast differentiable transforms & statistical information gathering.

If implemented more broadly (consider only tensor-supported ops), it should be possible for linear transforms (transforms represented by matrix multiplications, thus we can stack matrices), and it is also done with rando

[2021-03-03 04:38] timothybrooks commented on #3206
Thanks for the summary and ideas @voldemortX. One option for spatial transformations would be to leverage F.affine_grid() and F.grid_sample(). I have a resizing and translation augmentation implemented this way which I could share as an example.

Note that for common GAN regularization methods to work with F.grid_sample() will require implementation of second order derivatives (see issue #34704).

[2021-03-03 10:57] fmassa commented on #3482
Thanks for confirming that this has now been changed!

I believe we have fixed the behavior of center crop before @datumbox re-run the evaluations, so I believe the numbers should be compatible with what we should get now.

I'm closing this issue as I believe this has been fixed already, let us know if you find anything else

[2021-03-03 10:57] #3482 closed

[2021-03-03 12:52] mihai-db commented on #1938
still happens

[2021-03-03 13:09] vfdev-5 commented on #3476
Maybe, just add `2017-present` to
https://github.com/pytorch/vision/blob/eb00e2ad9da0df409d62033a1d7078572df67fb5/docs/source/conf.py#L86

[2021-03-03 13:56] pmeier opened #3495 "Improve error handling for empty directories in make_dataset"
## 🚀 Feature

Improve error handling for empty directories in `make_dataset()`.

## Motivation

`datasets.folder.make_dataset()` requires the `class_to_idx` attribute that is then used to collect the instances:

https://github.com/pytorch/vision/blob/945f3a8b744c9642169fd0897ae8994e72210302/torchvision/datasets/folder.py#L69-L74

Currently, we have four places where `make_dataset()` is used and in

[2021-03-03 15:32] mlelarge commented on #1938
Same on Colab:
[code]
I get: HTTPError: HTTP Error 403: Forbidden

`torchvision.__version__` -> 0.8.2+cu101

[2021-03-03 15:40] kesterlester commented on #1938
I also just got this problem.

[2021-03-03 15:49] m-elmi commented on #1938
Same here. It was working just fine this morning.

[2021-03-03 15:51] kesterlester commented on #1938
I think perhaps we should start a new issue (that links back to this one) as this one is closed and may get no attention. So far as I can see no one has made a new one yet, so I will try to create one now, referring back here.

[2021-03-03 15:57] mlelarge commented on #1938
Thanks @kesterlester
I did put MNIST on my webpage: `wget www.di.ens.fr/~lelarge/MNIST.tar.gz` if you need it!

[2021-03-03 15:59] kesterlester opened #3497 "MNIST dataset no longer downloads (repeat of old fixed March 2020 problem)"
## 🐛 Bug

This seems to be a recurrence of an issue spotted in #1938 which was fixed back in March 2020 and then closed, but has now reappeared.  There are a number of people in #1938 reporting that the issue appeared somewhere in the last 12 hours.

## To Reproduce

Steps to reproduce the behavior:

1. Open a fresh google colab
2. Try something like the following:

[code]

Results in:

[code]

##

[2021-03-03 18:03] kesterlester commented on #3497
Also posted  issue here:  https://github.com/googlecolab/colabtools/issues/1889

[2021-03-03 18:10] bensussman commented on #3497
Yes, I am seeing this issue as of today (it was not happening yesterday)

[2021-03-03 18:25] kaushikb11 commented on #3497
Commenting here, for an update! 👀

[2021-03-03 18:35] ForeverAT commented on #3497
I have faced this problem too.

[2021-03-03 18:38] kesterlester commented on #3497
The colab team at google closed my report https://github.com/googlecolab/colabtools/issues/1889 there with the following statement:

It's an interesting observation, if nothing else. Still, I think it's hard to pin things on yann.lecun ... since any solution that depends critically on the upness or downness of his website is probably fragile anyway, even if MNIST is "his".   Surely there is a bett

[2021-03-03 18:38] fmassa commented on #3497
Thanks for the heads up, we will be investigating this issue

[2021-03-03 19:07] andresgtn commented on #3497
copy this snippet at the top of your notebook, run it, and then just load your datasets as usual...

`from six.moves import urllib
opener = urllib.request.build_opener()
opener.addheaders = [('User-agent', 'Mozilla/5.0')]
urllib.request.install_opener(opener)`

[2021-03-03 19:08] pmeier commented on #3497
Yeah, I'm pretty sure they blacklisted the standard `urllib` user agent.

[2021-03-03 19:13] andresgtn commented on #1938
copy this snippet at the top of your notebook, run it, and then just load your datasets as usual...

from six.moves import urllib
opener = urllib.request.build_opener()
opener.addheaders = [('User-agent', 'Mozilla/5.0')]
urllib.request.install_opener(opener)

`from six.moves import urllib`

`opener = urllib.request.build_opener()`

[2021-03-03 19:28] pmeier commented on #3497
Can confirm that the default user agent is blacklisted. We will get in touch with the author and see if the change is intentional or not.

- If it is **unintentional** this should resolve itself in the next few days.
- If it is **intentional** we could simply change the default user agent.

Problem with the latter is that we are going to publish a new release tomorrow and any patch we provide will

[2021-03-03 21:26] pmeier commented on #3497
We have decided to do the user agent fix anyway. It will also make its way in the upcoming release.

[2021-03-03 21:43] #3497 closed

[2021-03-04 00:30] jiafatom commented on #3251
Yes, what I mean is to add `test_onnx.py` change into pytorch repo also. This time I added it here in `test/onnx/test_pytorch_onnx_onnxruntime.py` in pytorch:
https://github.com/jiafatom/pytorch/commit/ab7fef93ed80c2b286fbfe6fa62deb99acca3659#diff-6616e68665d29ba8ab30d14fc99a8459f974fb58368d71daf7bca89701e557dbR173

[2021-03-04 02:40] Exlsunshine opened #3500 "Download dataset return 403"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

[code]

## Expected behavior

Download dataset.

## Environment

Please copy and paste the output from our
[environment collection script](https://raw.githubusercontent.com/pytorch/pytorch/master/torch/utils/collect_env.py)
(or fill out the checklist below manually).

You can get the script and run it with:
[code]

PyTorch version: 1.5.1

[2021-03-04 04:27] oke-aditya commented on #3485
Hello. @tangjiuqi097 . The discussion for adding new models is in #2707. Feel free to comment there.
I will add this to the list.

[2021-03-04 04:28] ranman commented on #3500
I can confirm this behavior.

https://www.reddit.com/r/pytorch/comments/lxbwp3/getting_403_when_trying_to_download_mnist_from/

It looks like cloudflare may be blocking the python user agent?

[2021-03-04 04:41] ranman commented on #3500
This is fixed in #3499

[2021-03-04 08:07] zhiqwang commented on #3221
Is the newly released [d2go](https://github.com/facebookresearch/d2go) mentioned here?

[2021-03-04 08:46] YellowPig-zp opened #3501 "Places365 dataset redundant path.join under _check_integrity"
## 🐛 Bug

Redundant path.join at line 165 under _check_integrity in torchvision/datasets/places365.py

path.join is already called at line 116 and line 131 under load_categories and load_file_list

cc @pmeier

[2021-03-04 09:13] altruistcoder commented on #3500
Hello, I am still facing the exactly same issue, since yesterday's evening. It was working fine before that and I was able to download the datasets but from past couple of hours, I am unable to do it.

[2021-03-04 10:00] vfdev-5 commented on #3500
For those who can not install torchvision master with the fix, you can try the following workaround = download and preprocess the dataset manually:
- go to MNIST folder
- create 2 scripts there

<details>
<summary>
download.sh
</summary>

[code]

</details>

<details>
<summary>
process.py
</summary>

[code]

</details>

- make sure to have installed : wget, 7z, torchvision and torch
- run `sh down

[2021-03-04 12:49] fmassa commented on #3500
Thanks for the report.

We've fixed this yesterday and we will be issuing a new release of torchvision today with the fix.

For those who can't update torchvision, follow the instructions from @vfdev-5 above.

[2021-03-04 12:49] #3500 closed

[2021-03-04 12:49] martinResearch opened #3504 "HTTP Error 403 when downloading the MNIST dataset"
## 🐛 Bug
 Getting error

[code]
when trying to download the MNIST dataset using using pytorch 1.6.0 and torchvision 0.8.0.
Could not get torchvision 0.8.1 to run on my machine due to CUDA version incompatibility.

## To Reproduce

Steps to reproduce the behavior:
[code]

Error stack:
[code]

## Expected behavior

I would expect it not to crash and download the data.

## Environment

PyTorch versio

[2021-03-04 16:07] rodrsilv-stark commented on #1938
Very good!, worked fine.

[2021-03-04 21:46] seyeeet commented on #3429
any update on this @pmeier

[2021-03-05 01:03] madhavajay commented on #1938
![image](https://user-images.githubusercontent.com/2882739/110051907-62c23200-7da2-11eb-95c3-f92acb69425f.png)

[2021-03-05 04:00] jkparuchuri commented on #3463
@zhiqwang  I had tried on pytorch 1.8 and torchvision 0.9 released today; still I get the same error. Are you sure it got fixed already ?

`RuntimeError: Exporting the operator hardsigmoid to ONNX opset version 9 is not supported. Please feel free to request support or submit a pull request on PyTorch GitHub.`

[2021-03-05 06:19] ain-soph opened #3509 "simple API discussion about the AutoAugment"
## ❓ Questions and Help

question about the user interface API
[transforms/autoaugment.py](https://github.com/pytorch/vision/blob/7b9d30eb7c4d92490d9ac038a140398e0a690db6/torchvision/transforms/autoaugment.py)
The current usage would be `AutoAugment(AutoAugmentPolicy('cifar10'))`, but since the policy is just an `Enum`, I doubt whether it'll be more convenient to be `AutoAugment('cifar10')`. Is th

[2021-03-05 06:32] zhiqwang commented on #3463
Hi @jkparuchuri

You are right! I didn't test my proposal (Sorry, I only tested the method to solve the bug at `Hardswish` before). I've missed the `Hardsigmoid` in

https://github.com/pytorch/vision/blob/c991db82abba12e664eeac14c9b643d0f1f1a7df/torchvision/models/mobilenetv3.py#L35

As you mentioned, `torch.export` doesn't support this operator,

I replaced this operator with `F.hardtanh` to solv

[2021-03-05 08:51] jkparuchuri commented on #3463
Thank you @zhiqwang

[2021-03-05 09:47] csliuchang commented on #3044
hi bro, how do u fix this bug? D:\Projects\MachineLearning\fasterRCNN\train\venv\lib\site-packages\torch\onnx\symbolic_opset9.py:588: UserWarning: This model contains a squeeze operation on dimension 1 on an input with unknown shape. Note that if the size of dimensi
on 1 of the input is not 1, the ONNX model will return an error. Opset version 11 supports squeezing on non-singleton dimensions, it

[2021-03-05 11:45] mattip opened #3511 "Sphinx is pinned to 1.7.4, the other domain libraries use 2.4.4"
## 📚 Documentation

It would be nice to update sphinx, going all the way to the latest 3.5.1 would improve things like search.

See docs/requirements.txt

[2021-03-05 12:00] fmassa commented on #3504
Hi,

Thanks for opening this issue. This issue been fixed in https://github.com/pytorch/vision/pull/3499 and the fix is available in the latest release of torchvision (released yesterday)

[2021-03-05 12:00] #3504 closed

[2021-03-05 12:08] fmassa commented on #3429
Hi,

I believe all classification models in torchvision have the same expected output order (the order following the sorted imagenet synsets) https://github.com/pytorch/vision/blob/c991db82abba12e664eeac14c9b643d0f1f1a7df/torchvision/datasets/folder.py#L164-L165

We can verify that because we have recently re-computed all model accuracies in https://github.com/pytorch/vision/pull/3360, using the s

[2021-03-05 12:08] #3429 closed

[2021-03-05 12:11] fmassa commented on #1938
FYI we changed torchvision to try to fix this, and the fix should be present in the latest release (from yesterday), with a fix in https://github.com/pytorch/vision/pull/3499

[2021-03-05 12:19] pmeier commented on #3504
@martinResearch If you are unable to upgrade, have a look at https://github.com/pytorch/vision/issues/3497#issuecomment-789983415.

[2021-03-05 13:58] mthrok commented on #3511
Do you know if the lates sphinx work?
torchaudio did not pin the version previously and I think I used the latest Sphinx which caused rendering issue.

https://github.com/pytorch/audio/pull/972

[2021-03-05 15:14] fmassa commented on #3351
I like the simplicity of the approach proposed by @NicolasHug of tagging the commit message, but I think we might more often than not forget to manually change the commit title before committing to the repo. And once the PR has been merged, it is not possible to change it.

I would propose an intermediate approach which uses github labels to categorize the PRs.
We already add labels for issues, bu

[2021-03-05 19:40] scaomath commented on #1938
Works like a charm, saved my (insert whatever appropriate word) as I rely on fetching MNIST remotely to teach college kids...

[2021-03-05 22:39] mehdiborji commented on #2930
Thank you so much @pmeier for the code, this made my day!

I have one issue with  `**kwargs: Any`: when I use your snippet with other arguments:
`dataset = RegressionImageFolder(root, image_scores, transforms)`
It gives me this error:
`TypeError: __init__() takes 3 positional arguments but 4 were given`
So I had to change __init__ to:

`def __init__( self, root: str, image_scores: Dict[str, float]

[2021-03-06 09:20] github-actions[bot] opened #3515 "EMNIST download fails"
Oh no, something went wrong in the scheduled workflow tests/download.
Please look into it:

https://github.com/pytorch/vision/actions/runs/626923202

Feel free to close this if this was just a one-off error.

cc @pmeier

[2021-03-06 09:40] KumaTea commented on #3188
Just to mention: `apt install ffmpeg` is not enough for building with FFMPEG support, both PyTorch and Torchvision, it will fail with `Headers missing` errors.

You may want to manually install (`make`) [from source](http://ffmpeg.org/releases). Check [this post](https://stackoverflow.com/a/47024694/10714490) for instructions.

[2021-03-06 10:06] FengNiMa opened #3517 "Concatenate torchvision.datasets.FakeData with another dataset -> cannot load it"
## 🐛 Bug

If you concatenate a dataset such as CIFAR10 with FakeData, you get error
 - AttributeError: 'int' object has no attribute 'numel'

## To Reproduce

Steps to reproduce the behavior:

1. ```cifar_dataset = torchvision.datasets.CIFAR10(...)```
2. ```fake_dataset = torchvision.datasets.FakeData(...)```
3. ```train_data = Concat([cifar_dataset, fake_dataset])```
4. ```train_loader = DataLoad

[2021-03-06 11:07] datumbox commented on #3351
+1 on the overall approach and I agree on implementing this with label as GitHub titles can't be changed post merge.

[2021-03-06 14:41] datumbox commented on #3509
@ain-soph Thanks for the question.

The recommended way to use it is `AutoAugment(AutoAugmentPolicy.CIFAR10)` or `AutoAugment(AAP.CIFAR10)` if you shorten it during import (aka `from torchvision.transforms.autoaugment import AutoAugmentPolicy as AAP`).

But to address your main question of why we used an Enum instead of string, in the last release we made the decision to avoid using strings in fav

[2021-03-06 14:41] #3509 closed

[2021-03-06 21:38] Zethson commented on #3504
@fmassa would it be possible to backport this fix to 0.8.2?

[2021-03-06 22:43] timothybrooks opened #3518 "Second order derivatives for F.grid_sample()"
## 🚀 Feature

It would be great for F.grid_sample() to support high order derivatives. This is particularly useful for training setups that utilize F.grid_sample() for spatial transformations inside the network and (2) involve an optimization or regularization method which relies on second order derivatives. One such example is in GANs which involve spatial transformations as a form of differentia

[2021-03-06 22:44] timothybrooks commented on #3518
Meant to make in general PyTorch repo.

[2021-03-06 22:44] #3518 closed

[2021-03-06 23:23] BernardoOlisan commented on #1938
Dude this is insane you save my day, thank you a lot bro!!

[2021-03-07 00:44] ain-soph opened #3519 "[Feature Implement] ZipFolder (TarFolder)"
## 🚀 Feature
This issue is corresponding to my PR #3510 .

Implement a `ZipFolder` class, which is based on my previous PR #3215 .
The idea is very similar to the `TarDataset` issue on [pytorch/pytorch#49440](https://github.com/pytorch/pytorch/issues/49440).
It archives the ImageFolder to be a `zip` without any compression. The functions are almost the same as `ImageFolder`.

Advantage: it's bette

[2021-03-07 00:51] ain-soph commented on #3519
I think there is some current work in data pipes:
[zip](https://github.com/pytorch/pytorch/blob/master/torch/utils/data/datapipes/iter/readfilesfromzip.py)
[tar](https://github.com/pytorch/pytorch/blob/master/torch/utils/data/datapipes/iter/readfilesfromtar.py)

If that's the case, maybe they could be united into `ImageFolder`  with different pipe options.

[2021-03-07 01:13] ain-soph commented on #3509
Thanks for your quick response. Another small typo fix is about the `AutoAugment` introduction in the 1.8.0 release blog:
https://pytorch.org/blog/pytorch-1.8-new-library-releases/
![image](https://user-images.githubusercontent.com/13214530/110225955-49130e80-7eb8-11eb-98a1-7a1ce7ec7802.png)

where `from torchvision import transforms` should be replaced by `import torchvision.transforms as transfo

[2021-03-07 03:26] ain-soph opened #3520 "torchvision docs link expired on Get Started page."
## 📚 Documentation
As the new version 0.8.0 updates the doc link from https://pytorch.org/docs/stable/torchvision to https://pytorch.org/vision/stable/ .
But the link at the `get started` page is not modified. Please fix it.
(Actually the torchvision links in most tabs are wrong and still the old one. Only the links in Tutorial and Docs tabs are correct.)
(Especially, on a 404 page (say https://py

[2021-03-07 03:36] ain-soph commented on #3520
Actually it might be better to transfer issue to [pytorch/pytorch.github.io](https://github.com/pytorch/pytorch.github.io/issues)

[2021-03-07 09:18] github-actions[bot] opened #3521 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow tests/download.
Please look into it:

https://github.com/pytorch/vision/actions/runs/629160691

Feel free to close this if this was just a one-off error.

cc @pmeier

[2021-03-08 09:24] github-actions[bot] opened #3523 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow tests/download.
Please look into it:

https://github.com/pytorch/vision/actions/runs/631758995

Feel free to close this if this was just a one-off error.

cc @pmeier

[2021-03-08 09:25] pmeier commented on #3523
Duplicate of #3515.

[2021-03-08 09:25] #3523 closed

[2021-03-08 09:26] pmeier commented on #3521
Duplicate of #3515.

[2021-03-08 09:26] #3521 closed

[2021-03-08 10:14] fmassa commented on #3520
Thanks for opening this issue! We need to get this fixed.

cc @brianjo can you have a look?

[2021-03-08 12:26] BynaryCobweb opened #3525 "Traced Faster RCNN segfaults during forward in C++"
## 🐛 Bug

When calling `forward` on Faster RCNN model from C++ (libtorch), the first `forward` call works fine, and the second `forward` call triggers a segfault.

## To Reproduce

Steps to reproduce the behavior:
- First convert Faster RCNN model to JIT. I used this script
[code]
I had to change the input format because I could not find a way to create a List<c10::IValue> from C++ ([I asked on th

[2021-03-08 12:27] BynaryCobweb commented on #3525
Update: I reproduced the bug in python only
[code]

I think this bug only happens on cuda. At the second forward, the model is compiled to cuda kernel (?) and the segfault happens there.

[2021-03-08 12:58] brianjo commented on #3520
On it. This should fix the issue. https://github.com/pytorch/pytorch.github.io/pull/609

Thanks Ren!  @ain-soph

[2021-03-08 13:05] #1311 closed

[2021-03-08 13:10] rharish101 opened #3526 "io.write_png saves RGB image when given greyscale tensor"
## 🐛 Bug

When giving a 3D 1xHxW uint8 tensor to `torchvision.io.write_png`, it saves it as a coloured PNG instead of a greyscale PNG. `torchvision.io.write_jpeg` works correctly.

## To Reproduce

Steps to reproduce the behavior:

1. Create a 3D 1x64x64 uint8 tensor.
2. Give it to `torchvision.io.write_png`.
3. Check the saved PNG's attributes, e.g. using `identify` from ImageMagick. It should sa

[2021-03-08 13:17] fmassa commented on #3463
Another option could to register a custom ONNX op for `hardsigmoid` in https://github.com/pytorch/vision/blob/master/torchvision/ops/_register_onnx_ops.py , so that we can keep torchvision using the faster `hardsigmoid` while ONNX uses `hardtanh`.

@neginraoof what do you think it would be preferable? Are there plans on adding those missing operators to ONNX?

[2021-03-08 14:20] oke-aditya opened #3527 "Add Docs for AutoAugment methods."
## 📚 Documentation

Add documentation for AutoAugment,
[AutoAugmentation](https://pytorch.org/blog/pytorch-1.8-new-library-releases/#stable-autoaugment) was added as a stable feature in the latest 0.9 release.

I think we are missing the docs on transforms page for both [master](https://pytorch.org/vision/master/transforms.html) as well as [0.9 docs](https://pytorch.org/vision/0.9/transforms.html)

[2021-03-08 14:31] fmassa commented on #3520
Thanks @brianjo and @ain-soph !

[2021-03-08 14:31] #3520 closed

[2021-03-08 15:16] addisonklinke commented on #3250
Unfortunately I haven't yet. This project got pushed to the backburner, but I am hoping to get back to it in the next couple of months

[2021-03-08 16:17] datumbox commented on #3527
@oke-aditya Good catch!

I should have done this when I sent the original PR. Could you please send a PR to fix your points?

Note that `AutoAugmentPolicy` is also supposed to be public (I edited your issue in place to indicate this).

[2021-03-08 16:20] oke-aditya commented on #3527
Great. Let me send a PR for master.

[2021-03-08 17:26] #3519 closed

[2021-03-08 21:25] frgfm commented on #45
@kaoutar55 In your example, the transformations will be performed on CPU

The reason behind that is the following:
- when transformations are passed to a VisionDataset, the transforms will be applied to each sample in each worker run by the dataloader.
- here ImageFolder is inherited from VisionDataset and what I mentioned above is applicable

Since v0.8.0, you can use transforms on GPU (cf. examp

[2021-03-08 21:51] frgfm commented on #2025
From what I gathered, the current status is:
- [x] `utils.py` (#2034, #2070)
- [ ] `datasets` missing `coco.py`, `hmdb51.py`, `kinetics.py`, `ucf101.py`, `video_utils.py`
- [ ] `transforms`
    - [ ] `functional.py`
    - [ ] `transforms.py`
- [ ] `models` missing `detection`, `quantization`, 'segmentation` and `video`
- [ ] `io`: missing only `__init__.py` and `_video_opt.py`
- [x] `ops` (#2331)

[2021-03-09 05:44] bulatnv commented on #3044
@cskanani

Hello.
I didn't. Unfortinatelly I still don't understand what is wrong with exporting model to onnx. I mean exporting works, but I couldn't convert model further to tensorrt. My assumption is transformation layer.

[2021-03-09 07:18] pmeier opened #3531 "Port remaining dataset tests to new architecture"
## 🚀 Feature

Port remaining dataset tests to new architecture.

## Motivation

#3402 added new infrastructure for dataset tests. In a number of follow-up PRs tests for datasets were added that previously weren't tested. The following datasets still use the old test architecture:

- `ImageNet`
- `WIDERFace`
- `CityScapes`
- `SVHN`
- `Places365`
- `STL10`

## Pitch

Port the remaining dataset tests

[2021-03-09 09:24] github-actions[bot] opened #3532 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow tests/download.
Please look into it:

https://github.com/pytorch/vision/actions/runs/635224928

Feel free to close this if this was just a one-off error.

cc @pmeier

[2021-03-09 09:37] pmeier commented on #3532
Duplicate of #3515.

[2021-03-09 09:37] #3532 closed

[2021-03-09 11:08] bjuncek opened #3534 "Black band at certain videos"
## 🐛 Bug

There is an issue in memory alignment before SWS scale which causes an error in about 4% of the frames on my sample of random videos from various datasets and about 1% of them on the test videos in TV.

The issue most likely lies in memory alignment in our usage of `av_image_fill_arrays` as this works when hardcoded av_frame buffer is allocated. I'm investigating the fix in the meantime

[2021-03-09 11:10] fmassa commented on #3504
@Zethson I'm afraid we won't be building any more 0.8.x builds for torchvision I believe, but checking with @seemethere to double-check

[2021-03-09 11:12] fmassa commented on #3517
Yes, the target should be a `int`, and it was the case in the first version of torchvision, but with the introduction of `scalar` tensors in PyTorch that snippet became a `tensor`.

I'm happy to accept a PR adding a `.item()` call to the aforementioned line to fix the issue

[2021-03-09 11:16] fmassa commented on #3476
Fixed in #3513 by @AXE02

[2021-03-09 11:16] #3476 closed

[2021-03-09 11:25] 1enn0 commented on #3436
The Windows binaries started to be uploaded to PyPI as of [`torchvision` 0.9.0](https://pypi.org/project/torchvision/0.9.0/#files).

[2021-03-09 11:25] #3436 closed

[2021-03-09 12:19] fmassa commented on #3511
I would be ok changing the pinned version to a more recent one.

We pinned it in https://github.com/pytorch/vision/pull/1479 because of a bug sphinx 1.8, and it doesn't look like that issue has been fixed yet

[2021-03-09 12:41] mattip commented on #3511
Fwiw, only torchvision and torchtext try to use googleanalytics in the sphinx-generated documentation (pytorch and torchaudio do not use it). In torchtext they [require it](https://github.com/pytorch/text/blob/v0.9.0-rc5/docs/requirements.txt#L2) to be pip installed but do not [activate it in the conf.py](https://github.com/pytorch/text/blob/v0.9.0-rc5/docs/source/conf.py#L36). Are you sure you ne

[2021-03-09 14:46] oke-aditya opened #3535 "Missing Documentation for few datasets"
## 📚 Documentation

I think we are missing documentation for a few datasets.

I verified over [master](https://pytorch.org/vision/master/datasets.html#) as well as over the [latest release](https://pytorch.org/vision/0.9/datasets.html), but couldn't find these three. I think they were considered as a stable feature in the release so we can add docs for them?

- [ ] [WiderFace](https://github.com/p

[2021-03-09 19:13] NicolasHug commented on #3351
OK, I agree that using github labels instead of commit messages might be more flexible.

I just went and tagged all the merged PRs since the 0.9 release. Let's try to set them before merging ;) !

That's great! If we can't tell `gh` to only return the labels we can always do `gh pr view 3434 | grep labels | cut -f2- -d":"` then (until the output format changes)

[2021-03-09 19:17] vfdev-5 commented on #3351
There is also a way to auto label PRs (via GitHub Actions) depending on which folder is modified. If any interest I can provide more details.

[2021-03-09 20:27] vfdev-5 commented on #3351
Well, normally, we label usually submodules of the lib and other important parts. But I see what you mean and agree that some labels can be misleading.

It depends on what exactly means "PR is properly tagged"... Just fail a run on a PR that does not have any labels shouldn't be hard...

[2021-03-09 20:33] NicolasHug commented on #3351
I'm thinking of preventing a merge unless at least one of a set of labels is present (the set being the equivalent of the one in https://github.com/pytorch/vision/issues/3351#issuecomment-787799482).

But ideally, this would be done when we try to merge the PR at the very end, not as a CI job. It's better to tag (or re-tag) right before merging because the scope of a PR may change throughout its e

[2021-03-09 21:28] vadimkantorov commented on #1582
Stumbled on this as well. VideoClips is mentioned a few times on https://pytorch.org/vision/master/datasets.html?highlight=videoclips, but has no doc page of itself

[2021-03-09 22:22] tgalery commented on #2262
This dataset is near impossible to download. If for some reason we have the `img_align_celeba.zip` file locally, what would we need to do to instantiate the dataset ? Unpack it to a `dest` folder , extract all the images there and then just use `dataset = CelebA(dest, download=True, transform=transform)` ?

[2021-03-10 09:18] github-actions[bot] opened #3538 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow tests/download.
Please look into it:

https://github.com/pytorch/vision/actions/runs/638735943

Feel free to close this if this was just a one-off error.

[2021-03-10 10:39] fmassa commented on #3511
@mattip having more fine-grained statistics on what the users are most interested in the documentations is definitely helpful, although as of now our documentation pages are very large so we probably only get information like `datasets` / `transforms`, and not `datasets.Caltech101`.

@brianjo thoughts on enabling googleanalytics more broadly?

[2021-03-10 10:43] fmassa commented on #45
@kaoutar55 the comments from @frgfm are spot on.

I'm closing this as we have added GPU support for the transforms with the 0.8.0 release of torchvision https://github.com/pytorch/vision/releases/tag/v0.8.0

[2021-03-10 10:43] #45 closed

[2021-03-10 10:49] fmassa commented on #3526
Looks like a bug to me, thanks for spotting this @rharish101 !

I would have expected this to work normally given that we specify grayscale in https://github.com/pytorch/vision/blob/551193b49e48c42962c0ce176a2327d0deaedf52/torchvision/csrc/io/image/cpu/encode_png.cpp#L131 , so this might require further investigation

[2021-03-10 10:50] fmassa commented on #3526
@andfoy could you have a look?

[2021-03-10 12:47] #3525 closed

[2021-03-10 13:39] #3527 closed

[2021-03-10 15:01] #2440 closed

[2021-03-10 16:32] brianjo commented on #3511
Can we take GA code out of the conf.py and just add it to the template like this? https://www.ericholscher.com/blog/2009/apr/5/adding-google-analytics-sphinx-docs/
We could then unpin sphinx?

[2021-03-10 23:12] andfoy commented on #3526
Sure, I'll try to reproduce it and come up with a solution!

[2021-03-11 05:50] Flock1 commented on #1938
This worked. I am new to this, so can you tell me what does this piece of code does?

[2021-03-11 08:04] rharish101 commented on #3526
Sorry, I'm not that experienced in C++, but shouldn't it be:
[code]

[2021-03-11 08:41] pmeier commented on #3501
While I at first was under the impression that this is a serious bug, it turns out @YellowPig-zp was right and it is just redundant. The documentation of `os.path.join` [states](https://docs.python.org/3/library/os.path.html#os.path.join):

Example:

[code]

Since `file` is an absolute path after

https://github.com/pytorch/vision/blob/7992eb5da9c2e67469734e43f3d07e242d4f5273/torchvision/datasets/

[2021-03-11 09:08] pmeier commented on #3316
Hey @Jasonlee1995 thanks for reporting this.

While your code works for `datasets.VOCSegmentation` it is inefficient: We have good integrity checks for few files (say the downloaded archives). The same is not true for a large folder of images / annotations. Thus, normally, we raise an error in case we encounter an extracted folder with `download=True`. For example `datasets.Places365`

https://git

[2021-03-11 09:24] github-actions[bot] opened #3546 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow tests/download.
Please look into it:

https://github.com/pytorch/vision/actions/runs/642243147

Feel free to close this if this was just a one-off error.

cc @pmeier

[2021-03-11 09:35] jinfagang opened #3547 "How to train a classifier with custom class num while also want pretrain=True?"
It will gives an error:

[code]

[2021-03-11 10:14] fmassa commented on #3526
@rharish101 oh you are right, the ternary operator was not implemented correctly there and changing this will probably fix the issue

[2021-03-11 10:18] #3501 closed

[2021-03-11 10:48] pmeier commented on #3546
Apart from the recurring `EMNIST` failure from #3515, now `MNIST` fails again with an `503` error. For a discussion / fix see #3544.

[2021-03-11 10:51] YellowPig-zp commented on #3501
Thanks for fixing this! Just want to point out that I first encountered the issue when I used **relative path** rather than **absolute path**, and unfortunately it would cause an error if relative path is used.

For example if I want to download the dataset to the folder my_data/places365 under the current working directory I would call
`data = Places365(root='./my_data/places365', split='train-st

[2021-03-11 11:25] frgfm commented on #3547
@jinfagang Hey there :wave:

You need to re-instantiate the corresponding layer as you cannot map the pretrained weights between the two (you thus need to train it as well to get proper results). Here is a short example:

VGG16 is trained on ImageNet and thus has 1000 outputs classes by default:
[code]
As shown above, the last Linear layer was designed and trained with 1000 output nodes. So back t

[2021-03-11 11:40] Zethson commented on #3546
Are you going to release a minor version with the fix or should we hope that the 503 goes away?

[2021-03-11 13:44] ThomAub commented on #3463
I agree with @fmassa and I think there is no need for a custom op for `HardSigmoid`.
I saw https://github.com/onnx/onnx/blob/master/docs/Operators.md#HardSigmoid so I might be mistaken but it's maybe just adding and registering this operator on the pytorch side ?

[2021-03-11 14:27] HugoSchmutz commented on #1938
Didn't work for me on Colab today

[2021-03-11 14:47] mlelarge commented on #1938
You can download it from my webpage:
https://gist.github.com/mlelarge/60ddefa9e16bc06f7f4fc7bff769bdb1

[2021-03-11 15:06] omarfoq opened #3549 "Downloading MNIST dataset with torchvision gives HTTP Error 503"
## 🐛 Bug

I am getting a 503 error when  I try to download MNIST dataset with `torchvision` 0.9.0.
This is probably due to the fact that http://yann.lecun.com/exdb/mnist/ is unavailable, so apart from pproviding a new link to the dataset, I don't see how this problem can be solved

## To Reproduce
Steps to reproduce the behavior:

[code]

cc @pmeier

[2021-03-11 15:42] fmassa commented on #3546
I think we should release a minor release for torchvision together with PyTorch 1.8.1.

@pmeier can you cherry-pick the PR to the `release/0.9` branch with the fix?

cc @seemethere for visibility

[2021-03-11 17:08] bjuncek commented on #2842
Close via #2916

[2021-03-11 17:08] #2842 closed

[2021-03-11 17:31] seemethere commented on #3546
Is the 503 with the mirror or without the mirror?

If it’s with the mirror I can re-upload the dataset with expanded permissions

[2021-03-11 18:33] pmeier commented on #3546
Without the mirror. I'm just curious since the old links failed at the same time our mirror is up.

[2021-03-11 19:37] junpuf commented on #1938
Did anyone got `urllib.error.HTTPError: HTTP Error 503: Service Unavailable` last night?

[2021-03-11 19:43] baijumeswani commented on #3549
It appears that http://yann.lecun.com/exdb/mnist/ is unavailable at this time. A temporary solution before downloading MNIST:

old version of torchvision:
[code]

new version of torchvision:
[code]

[2021-03-11 21:34] ChengguiSun commented on #1938
Didn't work for me either

[2021-03-11 23:23] Wemmons831 opened #3554 "ValueError: Extraction of MNIST\raw\train-images-idx3-ubyte not supported"
Hey, so I am trying to use the MNIST dataset by doing
`train = datasets.MNIST("", train =True, download = True, transform = transforms.Compose([transforms.ToTensor()]))
test = datasets.MNIST("", train =False, download = True, transform = transforms.Compose([transforms.ToTensor()]))`
however, I got a 503 error because the link for the download is down. I know you guys have no control over this so I

[2021-03-12 01:22] CanIyu commented on #3554
You can solve this below command !
But It took to download in about 10 min.

`train_val = datasets.MNIST('./', train=True, download=True, transform=transform)
test = datasets.MNIST('./', train=False, download=True, transform=transform)`

[2021-03-12 01:25] crcrpar opened #3555 "Skip download of dataset if raw data exists"
## 🚀 Feature

Skip the download of raw dataset if exists and just extract and convert.

## Motivation

Reduce the download of datasets as possible.

## Pitch

This will not be a new feature nor a big change.
Currently, some torchvision datasets download the raw datasets (e.g. MNIST) before extract and convert them to appropriate formats, e.g. `(train/test).pt` for MNIST dataset if `download` argum

[2021-03-12 01:56] Wemmons831 commented on #3554
I still get the same error could it be that I got the wrong files cause I am just using the latest ones from the website with Wayback machine

[2021-03-12 02:01] Wemmons831 commented on #3554
I still get the same error could it be that I got the wrong files cause I am just using the latest ones from the website with Wayback machine

[2021-03-12 02:01] Wemmons831 commented on #3554
I still get the same error could it be that I got the wrong files cause I am just using the latest ones from the website with Wayback machine

[2021-03-12 02:07] madhavajay commented on #3549
![image](https://user-images.githubusercontent.com/2882739/110881112-839f0000-832b-11eb-83de-5d045e5ec5cc.png)

[2021-03-12 02:16] Wemmons831 commented on #3554
It is trying to extract a file that has already been extracted from the gzip

[2021-03-12 03:33] BernardoOlisan commented on #1938
Yep yesterday it was working for me but now is not, I dont know what happend, is there a solution for this?

[2021-03-12 06:23] pmeier commented on #3549
This should be fixed in #3544. [We will release `torchvision==0.9.1`](https://github.com/pytorch/vision/issues/3546#issuecomment-796829072) soon to get this in a release

[2021-03-12 06:23] #3549 closed

[2021-03-12 07:40] astromid commented on #3207
Have the same problem, can't install latest torchvision releases (which requires `jpeg <= 9b`) together with opencv (requires `jpeg >= 9d`) in conda environment.
My workaround for this is to install anything by conda (except torchvision) and at the end install corresponding torchvision build with `pip install --no-deps`
Are there any plans to support `jpeg >= 9d` in future torchvision releases?

[2021-03-12 07:43] ptrblck commented on #3554
Cross-posting:
It seems the MNIST server might be down (or is dying often):
https://discuss.pytorch.org/t/mnist-server-down/114433

http://yann.lecun.com/exdb/mnist/ shows `Service Unavailable` randomly.

[2021-03-12 08:35] alisterburt commented on #1938
@BernardoOlisan @ChengguiSun the solution from @mlelarge works great, the following worked for me in a notebook

[code]

[2021-03-12 08:54] HugoSchmutz commented on #1938
Thank you ! @mlelarge and @alisterburt

[2021-03-12 09:24] github-actions[bot] opened #3556 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow tests/download.
Please look into it:

https://github.com/pytorch/vision/actions/runs/645663334

Feel free to close this if this was just a one-off error.

cc @pmeier

[2021-03-12 09:46] pmeier commented on #3556
In addition to the recurring `EMNIST` failure, #3544 "broke" the download tests for `MNIST` and actually regressed the download for `(Fashion|K)MNIST`.

[2021-03-12 09:50] kamilrzechowski opened #3558 "[jit] torch.jit.script RuntimeError on MaskRCNN"
## 🐛 Bug

Hello,
The scripted mask-rcnn from detectron2, throws an error during inference in python.

The error only appears, when the inference is called standalone.
It doesn't appear if, before the inference, the detectron2 (maskrcnn) was scripted in the same script or if using ```with patch_instances(fields):``` before calling an inference.

## To Reproduce

Steps to reproduce the behavior:

[c

[2021-03-12 09:53] #3556 closed

[2021-03-12 09:56] pmeier commented on #3554
We got permission to host the dataset ourselves and provide the download in case the original server breaks again. See #3544 for details.

This happens, because right now we are using `datasets.utils.extract_archive` to also decompress files. Since you already have extracted the file it doesn't know what to do with it. I'm working on a proper fix for this in #3443 as we speak.

For a temporary wor

[2021-03-12 09:56] #3554 closed

[2021-03-12 10:05] pmeier commented on #3555
Hey @crcrpar, we are currently working on removing the caching in our custom binaries all together. See #3420 for details.

[2021-03-12 11:11] cattaneod commented on #3207
Same issue here, installing opencv using pip as @mrgransky said solved.

[2021-03-12 11:28] crcrpar commented on #3555
Oh, that is what exactly I want and +alpha. Thank you for sharing the information!

[2021-03-12 12:18] wittenator opened #3560 "STL10 does not download"
## 🐛 Bug

I am currently working on the STL10 dataset, but it seems that there is some problem downloading the data. It gets stuck while downloading judging from the stack trace. I hunted down the URL from the dataset (http://ai.stanford.edu/~acoates/stl10/stl10_binary.tar.gz) and there does not seem to be a problem from their side. Does somebody else have the same problem?

## To Reproduce

Steps

[2021-03-12 12:25] #3535 closed

[2021-03-12 12:31] #3526 closed

[2021-03-12 12:40] datumbox commented on #3351
Is it worth creating a short list here of the tags we are supposed to use for tagging the PRs? It might be worth defining what they mean. For example, what's the difference between `enhancement` and `improvement`? Are they the duplicates?

Finally I noticed that we have a tag called `fix`. I understand that this is intended to be used for issues marked as `bug`. How everyone feels about using the

[2021-03-12 12:54] NicolasHug commented on #3351
Yes although I'd suggest to do that later, once we've used the new system for a bit longer. It's likely  that some tags will be added / removed until then

Regarding your following points, I created `improvement` and `fix` as they better match the names used in the changelog. Using the same tags for issues and PR sounds fine to me

[2021-03-12 14:01] BernardoOlisan commented on #1938
nope still got the exact same error

[2021-03-12 14:05] alisterburt commented on #1938
@BernardoOlisan do you get the same error when trying to download from that link in a browser? Just tried again locally and all worked fine...

[2021-03-12 17:41] oke-aditya opened #3562 "[RFC] New datasets to torchvision"
## 🚀 Feature

This is a proposal to add more highly cited datasets. Thanks to [papers with code datasets](https://paperswithcode.com/datasets) which made this search easy.

## Motivation

These datasets are used quite frequently and would provide benefits to both researchers as well as people who work in computer vision. I'm not sure of the citation metric, but we can verify the count of papers on

[2021-03-12 19:18] scaomath commented on #1938
You have to have a folder called `MNIST/raw/` in the folder with your dataset script or notebook
[code]
If you have your code
[code]
then the folder has to be structured as

[code]

[2021-03-12 19:41] andrewssobral commented on #1938
The solution proposed by @mlelarge works fine for me, but in my case I have:
[code]
then, I do:
[code]
and everything works well.

[2021-03-12 21:09] fmassa commented on #3351
I would encourage us using the same tags as what we use for issues already, It's easier to rename an already existing tag than to merge two tags later on I believe.

[2021-03-12 21:11] fmassa commented on #1938
This should be fixed (again) in the next torchvision nightly, and the fix will be present in the next minor release of torchvision, which should be out soon.

See https://github.com/pytorch/vision/pull/3544 for more details

[2021-03-12 22:51] andrewssobral commented on #1938
Perfect, thank you @fmassa !

[2021-03-13 09:19] github-actions[bot] opened #3563 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow tests/download.
Please look into it:

https://github.com/pytorch/vision/actions/runs/648706682

Feel free to close this if this was just a one-off error.

cc @pmeier

[2021-03-13 14:46] ghazpar commented on #3549
So when can we expect the release of 0.9.1 ?

[2021-03-14 02:12] maheshsrinivas25 opened #3571 "VOCDetection year=‘2007’ Problem"
## 🐛 Bug
There seems to be a bug where:
torchvision.datasets.VOCDetection(’/content’, year=‘2007’, image_set=‘train’, download=True)
results in download and extraction of VOCtest_06-Nov-2007.tar instead of VOCtrainval_06-Nov-2007.tar. My guess is that this is due to recent changes made to voc.py [here](https://github.com/pytorch/vision/blob/c808d163f6c65ca851db59e9966807a9220fc493/torchvision/data

[2021-03-14 09:06] basicskywards commented on #3058
i got the same problem with cuda_11.1 & torch version 1.7.0 when doing inference on RetinaNet while training without any issue.

i spent lots of time finding a solution on the internet but failed.

eventually, my problem is solved by this
torch.from_numpy(boxes.detach().cpu().numpy()), and the same for scores

it's ugly, but works.

[2021-03-14 17:18] mfoglio commented on #2556
The function raises this error for me:
[code]
Input
[code]

[2021-03-14 17:47] oke-aditya commented on #2556
Hello @mfoglio I think there is a minor error in your image shape. It should probably be `(num_chanels, img_width, img_height)`

Here is a minimal example that works fine. Hope this helps.

[code]

[2021-03-15 06:23] pmeier commented on #3563
Duplicate of #3515

[2021-03-15 06:23] #3563 closed

[2021-03-15 09:24] github-actions[bot] opened #3565 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow tests/download.
Please look into it:

https://github.com/pytorch/vision/actions/runs/653598402

Feel free to close this if this was just a one-off error.

cc @pmeier

[2021-03-15 10:56] pmeier commented on #3565
Duplicate of #3515.

[2021-03-15 10:56] #3565 closed

[2021-03-15 10:56] pmeier commented on #3546
Closed in #3544.

[2021-03-15 10:56] #3546 closed

[2021-03-15 10:58] #3560 closed

[2021-03-15 11:24] wittenator commented on #3515
Does somebody possibly know when the fix will propagate to Pypi ?

[2021-03-15 11:27] pmeier commented on #3515
@wittenator There is currently no fix. We haven't decided yet what the way forward should look like. Either we add another mirror or disable the download for `EMNIST` all together.

[2021-03-15 12:01] fmassa commented on #3558
Hi,

This seems like a detectron2 related issue. You should ask your question in https://github.com/facebookresearch/detectron2

[2021-03-15 12:01] #3558 closed

[2021-03-15 12:09] wittenator commented on #3515
Ah my bad, I thought that this would be a duplicate of the redirection bug for STL10. Do you possibly know when this will available in Pypi?

[2021-03-15 14:17] pmeier opened #3569 "Update datasets URLs"
## 🚀 Feature

Update dataset URLs.

## Motivation

Our [download tests](https://github.com/pytorch/vision/runs/2111140426) have identified a number of dataset URLs that are no longer up to date. They are listed in the `warnings summary` section:

## Pitch

We should update them.

cc @pmeier

[2021-03-15 14:23] fmassa commented on #3562
Hi,

This is exactly our current idea, thanks for bringing it up.

I agree with all the aforementioned proposals. One thing to mention as well is that there is an ongoing effort to provide new dataset abstractions in PyTorch via DataPipes https://github.com/pytorch/pytorch/issues/49440.

While this doesn't block us providing new datasets, it is good to keep in mind that we might in the future revi

[2021-03-15 14:30] oke-aditya commented on #3569
Hi @pmeier I would be happy to send PR :smile:  (but would leave for any newer contributor)

[2021-03-15 14:30] fmassa commented on #3058
@basicskywards do you have a minimum reproducible example that we can try out?

[2021-03-15 14:32] #3515 closed

[2021-03-15 14:33] pmeier commented on #3569
That would be great, go ahead!

[2021-03-15 16:53] ydaiming opened #3573 "MNIST Dataset unavailable"
## 🐛 Bug

When I tried to run [pytorch/examples/mnist/](https://github.com/pytorch/examples/blob/master/mnist/main.py) as an integration test, I got the following HTTP error. I traced down and found the url in `torchvision` instead of `examples`, and when I tried to open the target `http://yann.lecun.com/exdb/mnist/train-images-idx3-ubyte.gz`, it also showed up service unavailable on my browser.

[2021-03-15 17:23] fmassa commented on #3549
The release of 0.9.1 is expected to be out in around 10 days

[2021-03-15 17:26] pmeier commented on #3515
[In about 10 days.](https://github.com/pytorch/vision/issues/3549#issuecomment-799600594)

[2021-03-15 17:27] pmeier commented on #3573
Duplicate of #3549.

[2021-03-15 17:27] #3573 closed

[2021-03-15 17:30] ydaiming commented on #3573
@pmeier is there a workaround right now, instead of waiting for 0.9.1?

[2021-03-15 22:18] ghazpar commented on #3549
Ok, good to know.

But given that the unavailability of the MNIST database will break existing codes, I would have expected an earlier release?

Just my 2c.

[2021-03-16 04:01] zhanghang1989 commented on #3313
Error still exists in v0.9.0

[2021-03-16 11:50] #3555 closed

[2021-03-16 23:36] import-antigravity commented on #2262
This is still an issue FYI

[2021-03-17 06:05] ChengguiSun commented on #1938
@alisterburt, thank you. I used that solution too. Sometimes it works, sometimes it doesn't. It works for me tonight. It's just very slow to download the dataset.

[2021-03-17 15:08] #3571 closed

[2021-03-17 15:17] fmassa commented on #3571
Thanks for flagging this issue, it should be fixed in #3572

[2021-03-17 15:27] NicolasHug commented on #2068
For ref, the following classifications model urls raise an `UnpicklingError`:

- [ ] resnet34-333f7ec4.pth
- [ ] alexnet-owt-4df8aa71.pth
- [ ] squeezenet1_0-a815701f.pth
- [ ] resnet152-b121ed2d.pth
- [ ] squeezenet1_1-f364aa15.pth
- [ ] resnet50-19c8e357.pth
- [ ] resnet101-5d3b4d8f.pth
- [ ] resnet18-5c106cde.pth

[2021-03-17 16:12] AndrewUlmer commented on #2262
I would just like to add that the authors also include a Baidu drive you can download the data from on [their website](http://mmlab.ie.cuhk.edu.hk/projects/CelebA.html). The dataset is also available on [Kaggle](https://www.kaggle.com/jessicali9530/celeba-dataset).

[2021-03-18 12:25] AmrKhalifa opened #3585 "Error in loading training set of VOCDataset of 2007"
## 🐛 Bug

Downloading training set of VOCDetection 2007 version using torchvision.datasets downloads the test set.

## To Reproduce

Steps to reproduce the behavior:
1 - Download the training set of VOCDetection 2007 version.

torchvision.datasets.VOCDetection(image_root, year='2007', image_set="train",
                                    download=True)

this is what's gets downloaded:
Downloading

[2021-03-18 13:46] qhaas commented on #1963
Getting this error in torchvision 0.5 in EL8 (CentOS/Red Hat):
[code]

But, clearly it is there:
[code]

Solved via a hack, guessing Debian-like distros don't place these folders in /usr/include/ffmpeg:
[code]

[2021-03-18 14:11] pmeier commented on #3585
Duplicate of #3571.

[2021-03-18 14:11] #3585 closed

[2021-03-18 17:19] avijit9 commented on #3517
Anybody working on this? I can send a PR otherwise.

[2021-03-18 17:44] pmeier commented on #3517
@avijit9 Go ahead!

[2021-03-18 21:17] pranav-prakash opened #3588 "Exported Mask-RCNN to ONNX produces wrong results"
## 🐛 Bug

I exported the pretrained rcnn model to onnx via
[code]

However, when I perform inference on that model:
[code]

The results are incorrect:

![image](https://user-images.githubusercontent.com/10335022/111698667-556e6400-87f4-11eb-9091-9248c37d03d1.png)

I assumed the labels are the standard Coco labels as provided e.g. [here](https://learnopencv.com/mask-r-cnn-instance-segmentation-with

[2021-03-19 14:19] Absolute-Sword opened #3590 "This may be has extra "as""
https://github.com/pytorch/vision/blob/631ff9123edeedf044c4355ef99dc42a396feb5b/torchvision/models/detection/transform.py#L87

[2021-03-19 18:02] pmeier commented on #3590
Thanks @Absolute-Sword for flagging!

[2021-03-19 18:06] pmeier commented on #3547
Hey @jinfagang, @frgfm answer is the way to go. As such, I'm closing this. If it does not solve your problem, feel free to reopen this.

[2021-03-19 18:06] #3547 closed

[2021-03-20 13:33] #3590 closed

[2021-03-20 14:05] zhiqwang commented on #3463
Hi @fmassa , @ThomAub - It seems that https://github.com/pytorch/pytorch/issues/49649 and https://github.com/pytorch/pytorch/pull/54193 are working on this issue now.

[2021-03-20 14:21] datumbox commented on #3066
Closing this as we need to rethink the plan to cover for cases such as object detection. See #3286

[2021-03-20 14:21] #3066 closed

[2021-03-20 20:56] bmanga opened #3593 "Torchvision ops registration still not fixed in C++"
It turns out the solution I implemented for automatic ops registration in C++ is not robust enough.
If falls apart when the actual torchvision code is enclosed in a static library, which is then meant to be consumed by an executable. This indirect hop through a library exposes the pruning problem all over again. Apologies for not realizing earlier and implementing it this way :/.

In the end, I th

[2021-03-21 02:40] liqing9399 commented on #3500
RuntimeError: shape '[60000, 28, 28]' is invalid for input of size 4482028

[2021-03-21 09:47] mohamed-180 commented on #1938
try this

[code]

[2021-03-22 03:50] avijit9 commented on #3517
@pmeier Shouldn't this issue be closed?

[2021-03-22 06:15] pmeier commented on #3517
Indeed it should. If the PR contains a certain [keyword](https://docs.github.com/en/github/managing-your-work-on-github/linking-a-pull-request-to-an-issue#linking-a-pull-request-to-an-issue-using-a-keyword) together with the issue number, GitHub will close the issue automatically when the PR is merged.

You used a keyword [in your PR](https://github.com/pytorch/vision/pull/3587#issue-595841388) th

[2021-03-22 06:15] #3517 closed

[2021-03-22 10:10] fmassa commented on #1963
@qhaas thanks for the report, we indeed need to improve the ffmpeg path finding scripts, which are for now not generic enough

[2021-03-22 10:39] #3272 closed

[2021-03-22 10:48] fmassa commented on #3593
I would say to go for option 1 -- we are doing this internally already, and once (if) pytorch changes the behavior to something a bit more optimal we can follow the same approach.

[2021-03-22 11:54] datumbox commented on #3593
What side-effects (if any) do we have if we go with option 1 for mobile devices where the size of the binary is important? Will this conflict with other initiatives that try to reduce the number of registered ops on mobile?

[2021-03-22 13:32] fmassa commented on #3593
@datumbox for now mobile has its own CMakeLists, so this change wouldn't affect mobile directly

[2021-03-22 21:08] vadimkantorov commented on #3224
It would be good if Resize* ops allowed to specify interpolation backend and supported native PyTorch interpolate function (that could execute on GPU)

[2021-03-23 00:54] voldemortX commented on #3224
@vadimkantorov Hi! Do you mean tensor&pil by interpolation backends? Currently I think Resize* on tensor is based on interpolation in pytorch, which has limited modes.

[2021-03-23 15:48] simaiden commented on #3068
hey @ThomsonW did you get any solution?

[2021-03-24 02:27] zhiqwang opened #3598 "Unable to install torchvision nightly version"
## 🐛 Bug

Use following script to install PyTorch and TorchVision version, but `pip` cannot collect torchvision nightly version correctly.

[code]

Finally, it directed to install the torch 1.8.0 and torchvision 0.9.0.

## To Reproduce

Steps to reproduce the behavior:

1. `pip install --pre torch torchvision -f https://download.pytorch.org/whl/nightly/cpu/torch_nightly.html`

It collect torchvisi

[2021-03-24 09:47] fmassa commented on #3598
Thanks for the report!

This should be fixed with https://github.com/pytorch/vision/pull/3599

[2021-03-24 09:50] fmassa opened #3600 "Centralize nightly version"
## 🚀 Feature

The current nightly version of torchvision is spread over many different locations, see https://github.com/pytorch/vision/pull/3599

It would be great if we could centralize it instead in a single place (like `version.txt`), so that we only need to change this file whenever we want to bump the nightly version

[2021-03-24 10:15] #3495 closed

[2021-03-24 10:15] #2903 closed

[2021-03-24 15:04] #3598 closed

[2021-03-24 15:32] maxfrei750 commented on #2229
@fmassa I think your proposed changes would already help a lot. Also, it might be helpful, if every branch had its own method, so that a customization would look something like this:

[code]

This would help to reduce the boilerplate code. What do you think?

[2021-03-24 18:17] maxfrei750 commented on #2229
Somewhat related:

It might be good to introduce static methods for the classes `MaskRCNN`, `FasterRCNN` and `KeypointRCNN`, so that their characteristic branches can more easily be added to custom RCNN architectures (e.g. if one wanted to combine Mask R-CNN and Keypoint R-CNN).

[code]

@fmassa Thoughts?

[2021-03-24 19:15] seyeeet opened #3602 "Imagenet dataloader error: RuntimeError: The archive ILSVRC2012_devkit_t12.tar.gz is not present in the root directory or is corrupted."
## 🐛 Bug

I am using pytorch 1.8.0 and torchvision 0.9.
I am trying to use the pretrained models from pytorch and evaluate them on imagenet val data. That should be fairly straightforward, but I am getting stuck on the dataloader.
I downloaded the imagenet and the folder structure that I have is like this:
[code]
I tried `datasets.ImageNet`, based on [pytorch](https://pytorch.org/vision/stable/dat

[2021-03-24 19:19] seyeeet commented on #3562
related to  this issue, it can also be useful if pytorch can store this datasets on their storage and provide link to download them.
e.g. there are a lot of issues with downloading imagenet and other large datasets, im not sure if licensing can be problematic, but it would be super useful

[2021-03-25 02:47] seyeeet commented on #3429
@fmassa thanks for your reply, but I am not sure if that is solved.
I still cannot achieve a reasonable accuracy via pretrained models.
To be specific, in the txt file for labels I have:

[code]
can you clarify how should I sort the labels? currently, I am sorting based on the first elements (i.e. I'm sorting based on n0... class numbers), but this result is very bad.

should I sort based on class

[2021-03-25 09:09] github-actions[bot] opened #3606 "EMNIST download requests time out (again)"
Oh no, something went wrong in the scheduled workflow tests/download.
Please look into it:

https://github.com/pytorch/vision/actions/runs/685942934

Feel free to close this if this was just a one-off error.

cc @pmeier

[2021-03-25 10:17] pmeier commented on #3606
This should have been fixed in #3567. When I sent that fix, the server-side redirection from http to https was timing out. Now it seems the request timed out when using https directly. Lets hope this is not recurring.

[2021-03-25 10:19] pmeier commented on #3562
@seyeeet

Yes, it is and thus

will never happen.

Also see this section in our README

[2021-03-25 10:51] pmeier commented on #3602
Hey @seyeeet, this data structure looks not familiar. How did you download the data? `ImageNet` expects an image folder structure. That means within the `train` and `val` should be class folders which contain the images.

If you have the archive, I suggest you prepare the like this:

[code]

Afterwards you can simply do `ImageNet(root, split=...)`.

Let me know if does not solve your problem.

[2021-03-25 10:51] #3602 closed

[2021-03-25 13:32] scaomath commented on #1938
Because `www.di.ens.fr/~lelarge` is apparently @mlelarge 's personal website's storage on a university's web host which probably cannot handle the bandwidth for all amateur data scientists relying on `torch.dataset`. We should download the original from LeCun's site manually by ourselves, upload to a personal cloud storage that supports http, then use `wget`.

[2021-03-25 14:46] EnricoMi opened #3607 "Installing nightly version picks up latest release"
## 🐛 Bug

I am trying to install latest torchvision nightly version but pip picks up latest release. The reason is that latest nightly packages have the same version as the latest release. You would expect the nightlies to have a higher major / minor / patch.

## To Reproduce

Steps to reproduce the behavior:

With `pip install --pre torchvision -f https://download.pytorch.org/whl/nightly/cu111/to

[2021-03-25 14:58] #3368 closed

[2021-03-25 15:37] pmeier commented on #3607
Can confirm this is happening. Cc @seemethere. This happens if you install `torchvision` from nightlies without including `torch` in the install command. It makes no difference if you have the torch nightly already installed. Problem vanishes if you use

[code]

(note the extra `torch`)

[2021-03-25 16:30] vadimkantorov opened #3608 "COCO dataset to also return image_id"
So that copies like https://github.com/facebookresearch/detr/blob/master/datasets/coco.py are not needed

In general, I found it useful to return origina data ids, in case the user wants to load some extra information. Part of the problem is the Tuple return type which means any changes are not BC.

Maybe `return_dict` constructor arg could be introduced which would be more extensible, just like D

[2021-03-25 16:41] EnricoMi commented on #3607
Including the extra `torch` does **not** fix it for me. It downloads the latest torch nightly, then picks up the torchvision release, which has the dependency of torch 1.8.0 so it then ends up installing torch 1.8.0.

[2021-03-25 17:01] seyeeet commented on #3602
I download it from the official imagenet website.
The structure was the main issue, I changed it to the following format and it is working fine. Thanks
[code]

[2021-03-25 20:02] pmeier commented on #3607
@EnricoMi You are right, not sure how I missed that, sorry.

[2021-03-25 20:06] seemethere commented on #3607
We believe this was an issue with our html index generation scripts for download.pytorch.org which should hopefully be resolved by https://github.com/pytorch/builder/pull/686

[2021-03-25 20:13] EnricoMi commented on #3607
When will the fix be deployed so it is worth retrying?

[2021-03-25 20:18] EnricoMi commented on #3607
Thanks for fixing!

[2021-03-26 05:29] oke-aditya commented on #2787
I'm closing this PR as we modfied Sphinx #3290 warnings, Now we generate no such warning (only error which are caught in CI)

[2021-03-26 05:29] #2787 closed

[2021-03-26 08:39] vadimkantorov commented on #3282
File lists became available: https://github.com/cvdfoundation/kinetics-dataset

So extensions could now be set properly

[2021-03-27 07:41] farleylai commented on #3207
As of `torchvision-0.9.1`, the dependency issue remains, blocking the installation of `opencv` through `conda`:

[code]

Thus the upgrade to `pytorch-1.8.1` is still unlikely.
Sticking to `pytorch-1.7.0` seems inevitable for no specific jpeg version requirement:

[code]

[2021-03-27 13:02] hassiahk commented on #3606
I am getting a `ConnectionError` with the following message:
[code]

[2021-03-28 09:09] github-actions[bot] opened #3612 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow tests/download.
Please look into it:

https://github.com/pytorch/vision/actions/runs/694725880

Feel free to close this if this was just a one-off error.

cc @pmeier

[2021-03-28 21:30] apisutilis opened #3613 "torchvision.io.read_image does not always fail gracefully"
## 🐛 Bug

`torchvision.io.read_image()` will sometimes segfault or abort in other uncatchable ways on malformed images, rather than failing gracefully (e.g. with a `RuntimeError`).

## To Reproduce

Steps to reproduce the behavior:

1. Download a problematic image file (one that I have found is [here](https://i.redd.it/283xnnabju4z.png))
2. Try to load the image with `torchvision.io.read_image`:
[

[2021-03-29 08:00] NicolasHug commented on #3612
I confirm I too get a timeout on the offending URL http://itl.nist.gov/iaui/vip/cs_links/EMNIST/gzip.zip

[2021-03-29 08:07] pmeier commented on #3612
Where did you get this URL? `EMNIST` uses

https://github.com/pytorch/vision/blob/5fe1449d22fee4d82709ae717620c17752d49a67/torchvision/datasets/mnist.py#L274

(`http://` != `https://www.`) In any case, the download server seems to unstable.

[2021-03-29 08:07] pmeier commented on #3612
Duplicate of #3606.

[2021-03-29 08:07] #3612 closed

[2021-03-29 08:09] pmeier commented on #3606
This came up again today. I'm inclined to disable the download tests for `EMNIST` since the server seems unstable. @fmassa?

[2021-03-29 08:24] NicolasHug commented on #3612
I just copy pasted from the logs: https://github.com/pytorch/vision/runs/2211837007?check_suite_focus=true#step:10:198 (which have a weird trailing `]` char) but I might have been redirected at some point

[2021-03-29 08:58] fmassa commented on #3613
Thanks for the report!

We will be looking into fixing this!

[2021-03-29 15:13] fmassa commented on #3549
We've released torchvision 0.9.1 a few days ago https://github.com/pytorch/vision/releases/tag/v0.9.1

[2021-03-29 16:45] NicolasHug commented on #2026
@xkszltl I believe that https://github.com/pytorch/vision/pull/3399 will close this issue, but I'm not sure I understand your use-case:

Isn't this expected? I actually get that error with or without the mentioned line.

[2021-03-29 18:23] andfoy commented on #3613
Thanks for the information @apisutilis, I'll take a detailed look into this one!

[2021-03-29 19:37] mrharicot commented on #2950
Resuscitating this thread: I just lost a few days chasing down a bug because we assumed the output of `TF.resize` would be identical whether the input was a tensor or a PIL image: It seems that pillow prefilters before downsampling unlike pytorch.
While the difference is minimal for upsampling, it is quite huge for downsampling (see under).

Could we add a note in the documentation specifying that

[2021-03-30 00:35] andfoy commented on #3613
It seems like the error happens when the png reading function is trying to destroy the png reading structure after catching the error, that means that torchvision is catching the error, but it causes a segfault when calling `png_destroy_read_struct` on

https://github.com/pytorch/vision/blob/978ba613518dd5b8d04c2a717e6e5ccf7fb172c3/torchvision/csrc/io/image/cpu/decode_png.cpp#L35

Which in turn ca

[2021-03-30 08:03] mheriyanto commented on #3058
@basicskywards It's nor works for me.

[2021-03-30 09:29] xkszltl commented on #2026
Since it is from too long ago, I don't remember all the details. Probably I mean force_cuda is to force build with it, not run with it, but some arch-detection code need to run with it to check? The ultimate goal is to make sure torchvision (with cuda support for running in production machine, not build machine) can build on a cpu-only machine upon a cuda-enabled pytorch

[2021-03-30 14:29] #3364 closed

[2021-03-30 14:29] #3449 closed

[2021-03-30 14:31] fmassa opened #3617 "`packaging/windows/cuda101.bat` not used anymore?"
Following https://github.com/pytorch/vision/pull/3399#discussion_r604090472 , looks like `packaging/windows/cuda101.bat` is not used anymore. If that's indeed the case, we should remove it.

cc @seemethere

[2021-03-30 14:33] #2026 closed

[2021-03-30 14:33] #2377 closed

[2021-03-30 14:55] peterjc123 commented on #3617
@fmassa Not just `packaging/windows/cuda101.bat`. More files could be deleted, including
- packaging/windows/
  - cpu.bat
  - cuda101.bat
  - cuda102.bat
  - cuda92.bat
  - templates
  - old
- packaging/conda/
- packaging/windows/internal
  - Most of them could be deleted, will list them later

[2021-03-30 16:30] fmassa commented on #2789
Done in https://github.com/pytorch/vision/pull/3259

[2021-03-30 16:30] #2789 closed

[2021-03-30 16:31] fmassa commented on #2581
iOS is supported as of https://github.com/pytorch/vision/pull/3582, and Android support has been added in the 0.9.0 release

[2021-03-30 16:31] #2581 closed

[2021-03-30 18:25] #3617 closed

[2021-03-31 06:56] haolsun commented on #2624
Comment the checking operation in  **site-packages/torch/utils/data/_utils/collate.py** (line 80 81)

[code]

That works for me with torch1.8 on Windows10.

[2021-03-31 08:46] fmassa commented on #3429
Hi,

Here is a mapping between the output idxs and the class names https://raw.githubusercontent.com/pytorch/hub/master/imagenet_classes.txt

You can see that the label names have been alphabetically ordered by synset in https://gist.github.com/fnielsen/4a5c94eaa6dcdf29b7a62d886f540372

[2021-04-01 09:05] rvorias commented on #2921
Hi, I came across this issue after installing python from source.
It seems that I installed python without `liblzma-dev`.
After installing `liblzma-dev` and installing python again, the import error was gone.

[2021-04-01 09:39] fmassa commented on #2950
Hi @mrharicot , @tcapelle

Very sorry about the situation. We are working on adding a support for anti-aliasing for Tensor Transforms, so that they more closely match PIL.

[2021-04-01 09:40] fmassa commented on #2950
cc @vfdev-5 who will be looking into addressing this

[2021-04-01 10:00] alemelis opened #3627 "Select subset of classes to sample from"
## 🚀 Feature

When loading a dataset with `ImageFolder` provide an optional argument to select a subset of classes.

## Motivation

I deal with large (1000+) multi-class datasets upon which I train image classifiers. However, I usually don't want to train for all the classes at the same time.
## Pitch

I'd like to change `find_classes` function
https://github.com/pytorch/vision/blob/20a771e5143c68

[2021-04-01 10:25] NicolasHug commented on #3627
Instead of adding a new `allowed_classes` parameter which is quite specific, would it be reasonable to instead allow overriding the `self._find_classes` method (by e.g. making it public, or accepting a `find_classes` callable parameter)?

Thoughts @pmeier ?

[2021-04-01 10:39] alemelis commented on #3627
@NicolasHug
like they do here? https://discuss.pytorch.org/t/how-to-sample-images-belonging-to-particular-classes/43776/9

[2021-04-01 10:58] NicolasHug commented on #3627
Yes, although they're overridding `ImageFolder._find_classes` which is private (leading underscore). Since it's private, you have no guarantee that this will work in the future - private APIs have no backward compatibility guarantees. What I'm suggesting is to "officially" support this as part of a public API - by either making `_find_classes` public or by allowing a new parameter

[2021-04-01 11:22] tcapelle commented on #2950
I wrote a summary of the issue here: https://tcapelle.github.io/pytorch/fastai/2021/02/26/image_resizing.html

[2021-04-01 11:27] pmeier commented on #3627
I think both proposals are reasonable. We only recently factored out `find_classes` (#3496) but I think having a public method is a good idea. We may also address https://github.com/pytorch/vision/pull/3496#pullrequestreview-619539316 in the process.

Still, the purpose of factoring out `find_classes` and earlier `make_dataset` (#3215) was to also be able to use this functionality elsewhere. I can

[2021-04-01 12:20] alemelis commented on #3627
I'd say `allowed_classes` makes sense when you need to use few out of many (say 10 classes from imagenet)

on the other hand I reckon `excluded_classes` is handy when using most of the classes in the dataset (e.g., all the digits except "5" in MNIST)

possibly it makes sense to have both?

[2021-04-01 12:25] NicolasHug commented on #3627
I would agree, hence my proposal about just allowing to override the callable - users can implement whatever strategy with just a little bit of code, and they can even adapt to any dataset structure

[2021-04-01 12:48] pmeier commented on #3627
After a bit more thought, IMO `allowed_classes` in the `find_classes` function makes little sense. If you already know which classes you want there is no point in calling this function. On the other hand an `exclude` parameter could make sense there. @alemelis since you seem to need to a known set of classes, I agree with @NicolasHug the best way to achieve it would be to overwrite `ImageFolder.fi

[2021-04-01 14:57] alemelis commented on #3627
would it make sense to add a public method while keeping also the private one?

[code]

so that when overriding `find_classes` I could still re-use the original implementation

[code]

or is there a better way of doing it?

[2021-04-01 14:59] pmeier commented on #3627
Since the default implementation only calls the `find_classes()` function

https://github.com/pytorch/vision/blob/37eb37a836fbc2c26197dfaf76d2a3f4f39f15df/torchvision/datasets/folder.py#L205-L207

IMO there is no need to keep the private one. We can simply make it public. Every change to the defaults should go into the function.

[2021-04-01 15:13] NicolasHug commented on #3627
I agree with @pmeier, that's not really an issue right now as `find_classes` is public. But if the method ever becomes more than that, you could always use `super()`

[2021-04-01 16:35] ollenordesjo opened #3630 "coco_eval and coco_utils necessary to import"
## 📚 Documentation

I am following the instructions here: https://pytorch.org/tutorials/intermediate/torchvision_tutorial.html
After running

I am getting this error:
[code]

It seems like the instructions to also copy over coco_utils and coco_eval to the working directory is missing:

Suggested change:

**Before:**
In references/detection/, we have a number of helper functions to simplify trainin

[2021-04-01 20:05] EnricoMi commented on #3607
@seemethere The issue persists for cu110 and cu112. Is this expected as snapshots are not released for those CUDA versions?

[2021-04-02 07:29] fmassa commented on #3607
@EnricoMi I believe we are not providing binaries for c110 nor cu112, so this would be expected, but I'll let @seemethere confirm

[2021-04-02 11:00] NicolasHug commented on #3630
Thanks for the report

The note about installing `pycocotools` could indeed be clearer, as for now they only provide instruction for Windows.

Regarding the imports: it might be safer to tell users to copy the entire directory content, instead of a subset of files (there aren't many files anyway). The reason is that the "No module named ..." issue will happen again if we refactor that code into su

[2021-04-03 10:53] Iteravse commented on #3219
i want to fix this problem,any proposal?i just fix the same question in numpy,but,because it dosn't using gpu,seems like inefficient using for pyqt animation.so i need more efficiency solution,like use pytorch, think it is are not big issues,just copy alpha channel to result, @datumbox any good idea?, forget me dosn't really skilled the grammar with torchvision,and [i ask a same questoin in here](

[2021-04-04 03:57] DB11051998 commented on #1714
i am still getting the error, cannot import the Compose. i need a help![
![Screenshot (131)](https://user-images.githubusercontent.com/43936231/113498139-e8630a00-9527-11eb-83bb-12b368e31b5e.png)
](url)

[2021-04-05 12:00] kk3dmax opened #3632 "class LastLevelMaxPool(ExtraFPNBlock) in feature_pyramid_network.py"
## ❓ Questions and Help
Why the pool kernel = 1? I think it should be 2 (my understanding is that kernel = 1 won't do max pooling correctly.
line 175:  x.append(F.max_pool2d(x[-1], **1**, 2, 0))

[2021-04-05 17:28] oke-aditya opened #3633 "Missing doc for `torchvision.get_video_backend`"
## 📚 Documentation

I think torchvision has a function which can [get_video_backend](https://github.com/pytorch/vision/blob/37eb37a836fbc2c26197dfaf76d2a3f4f39f15df/torchvision/__init__.py#L87).

But sadly it is not documented (perhaps intended ?)

But we do have docs for [get image backend ](https://pytorch.org/vision/master/#torchvision.get_image_backend)
and I think it might be useful to add fo

[2021-04-06 01:09] mstfbl opened #3637 "Unit test Tester.test_draw_boxes failing on Windows/Linux/MacOS test builds"
## 🐛 Bug

Unit test Tester.test_draw_boxes is failing on all test CircleCI builds. https://github.com/pytorch/vision/blob/37eb37a836fbc2c26197dfaf76d2a3f4f39f15df/test/test_utils.py#L110-L127

## To Reproduce

Steps to reproduce the behavior:

1. Make a PR that is not changing source code
1. View unit test CircleCI build results.
1.

Sample builds that is not modifying existing source code:

- PR

[2021-04-06 08:14] ollenordesjo commented on #3630
Thanks! Yes, I think it would make plenty of sense to just copy the entire directory as well. I'll submit a PR to that repo (thanks for pointing me to it!)

[2021-04-06 12:58] #3637 closed

[2021-04-06 15:40] YannDubs commented on #566
I agree that having the D_4 group augmentation as shown by @crypdick is very useful for many application ( biological, chemical and satellite data comes to mind).

It is very easy to get it though:
[code]

But a shorthand might be useful.

[2021-04-06 17:20] dbl001 commented on #2360
I'm getting the same error on Catalina after cloning the nightly build.
I set  'has_ffmpeg = False' in setup.py.
Any ideas?
[code]
[err.log](https://github.com/pytorch/vision/files/6266459/err.log)

[2021-04-06 21:57] indigoviolet commented on #1311
@NicolasHug did you consider making the `boxes.numel()` threshold (for switching to the for-loop version) a parameter of `batched_nms`? Seems like that would be useful in the case of having different numbers of classes than this was tuned for, or for GPU (per your comment about using a higher threshold for GPU).

Alternatively, if you expose `batched_nms_coordinate_trick`, users could call that di

[2021-04-07 08:38] NicolasHug commented on #1311
I think the reasoning behind using the same threshold for GPU is that we don't expect `batched_nms` to be used with much more than 4k boxes anyway (the current threshold). Do you have a use-case where you have more than 4k boxes?

That might be reasonable, although I'm not sure we usually expose that kind of implementation detail to users.  @fmassa WDYT?

[2021-04-07 08:42] #3627 closed

[2021-04-07 09:11] github-actions[bot] opened #3642 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow tests/download.
Please look into it:

https://github.com/pytorch/vision/actions/runs/725448880

Feel free to close this if this was just a one-off error.

cc @pmeier

[2021-04-07 10:34] fmassa commented on #1311
I would prefer to leave this threshold as an implementation detail. In the future we can come up with different implementations that might completely make this parameter not relevant anymore.

Additionally, I would prefer not to expose `batched_nms_coordinate_trick`, as again it's an implementation detail.

Do you have an use-case in which the new implementation (with a single threshold) is signif

[2021-04-07 11:43] #3569 closed

[2021-04-07 11:47] pmeier commented on #3642
Duplicate of #3606.

[2021-04-07 11:47] #3642 closed

[2021-04-07 12:16] fmassa commented on #3207
Pinging @seemethere and @andfoy as this looks like a conflict which would be good to address

[2021-04-07 13:32] NicolasHug commented on #3633
Addressed by https://github.com/pytorch/vision/pull/3643

[2021-04-07 13:32] #3633 closed

[2021-04-07 15:52] 17sarf commented on #986
@icesohelrana did you manage to find the issue that was causing the accuracy to go down to zero? I am currently having the same problem.

@fmassa I am trying to fine-tune a model on the CityPersons dataset. I have checked my data by viewing the images and drawing the bounding boxes on the relevant objects, and everything seems to be fine. To start off, I want to simply train the model on a single

[2021-04-07 17:13] seemethere commented on #3207
We can try without a pinned version of jpeg, the previous pinning was due to a dependency issue I was seeing back when we first added Python 3.9, perhaps the issue has resolved itself by this point

[2021-04-08 00:14] eldarkurtic opened #3648 "Pretrained inception_v3 without aux_logits"
## 🐛 Bug

        Unexpected key(s) in state_dict: "AuxLogits.conv0.conv.weight", "AuxLogits.conv0.bn.weight", "AuxLogits.conv0.bn.bias", "AuxLogits.conv0.bn.running_mean", "AuxLogits.conv0.bn.running_var", "AuxLogits.conv1.conv.weight", "AuxLogits.conv1.bn.weight", "AuxLogits.conv1.bn.bias", "AuxLogits.conv1.bn.running_mean", "AuxLogits.conv1.bn.running_var", "AuxLogits.fc.weight", "AuxLogits.fc.

[2021-04-08 05:31] KaiyuYue commented on #1757
Hi @fmassa,

I want to ask that which training type did you use for training ResNet on ImageNet - DP or DDP in [examples/imagenet/main.py](https://github.com/pytorch/examples/tree/master/imagenet) ?

Thanks.

[2021-04-08 05:41] NicolasHug commented on #3630
https://github.com/pytorch/tutorials/pull/1462 was merged so we can close this one

[2021-04-08 05:41] #3630 closed

[2021-04-08 09:11] github-actions[bot] opened #3649 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow tests/download.
Please look into it:

https://github.com/pytorch/vision/actions/runs/728941172

Feel free to close this if this was just a one-off error.

cc @pmeier

[2021-04-08 11:36] kk3dmax commented on #3632
No one can confirm this?

[2021-04-08 13:44] NicolasHug opened #3650 "Avoid pandas dependency for CelebA dataset"
The CelebA dataset has a runtime dependency on `pandas`. Since all we need is `pandas.read_csv`, it would be interesting to see if we can replace `pandas.read_csv` by just the builtin `csv` module. The mergability of the PR would depend on how ugly / complex the code becomes... :)

cc @pmeier

[2021-04-09 05:19] pmeier commented on #3650
Yes, that bothered me for a long time. Never enough to fix it though :innocent: The tests also manage without `pandas`. Go ahead @carolineechen.

[2021-04-09 06:53] YuqiHUO commented on #3264
channels:
  - https://mirrors.tuna.tsinghua.edu.cn/anaconda/cloud/pytorch
  - conda-forge
  - https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
show_channel_urls: true
custom_channels:
  conda-forge: https://mirrors.tuna.tsinghua.edu.cn/anaconda/cloud

By modifying .condarc to this, I solve the problem in a ugly way.

[2021-04-09 06:53] YuqiHUO commented on #3264
`channels:
  - https://mirrors.tuna.tsinghua.edu.cn/anaconda/cloud/pytorch
  - conda-forge
  - https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
show_channel_urls: true
custom_channels:
  conda-forge: https://mirrors.tuna.tsinghua.edu.cn/anaconda/cloud`

By modifying .condarc to this, I solve the problem in a ugly way.

[2021-04-09 09:23] sayantanauddy commented on #2262
Can a Dataset class (like [this](https://github.com/sayantanauddy/vae_lightning/blob/main/data.py)) that downloads the data from Kaggle (using the Kaggle API) be a possible solution?

[2021-04-09 12:36] NicolasHug opened #3655 "Allow batch_size > 1 in quantized RoIAlign"
https://github.com/pytorch/vision/pull/3624 was recently merged and we identified a potential issue: https://github.com/pytorch/vision/pull/3624#discussion_r608533402

In short, the rois tensor contains indices in the first column, but depending on the quantization, some indices cannot be properly represented. For example uneven numbers can't be represented if the tensor was quantized with `qscale

[2021-04-10 14:12] #3207 closed

[2021-04-10 16:40] krishnap25 opened #3657 "Error in mean and std computation in torchvision.models"
## 📚 Documentation

Hello all,

Thanks for the fantastic library. I would like to point out an error in the mean and std computation in the [torchvision.models page](https://pytorch.org/vision/stable/models.html). In particular, I'm referring to the code following the line
"The process for obtaining the values of *mean* and *std* is roughly equivalent to:"
[code]
There are two issues here:
- `torc

[2021-04-11 12:32] henrique opened #3658 "Failed to compile torchvision for ROCm as documented in pytorch.org"
## 🐛 Bug

Failed to compile torchvision for ROCm as documented in pytorch.org/get-started

## To Reproduce

Steps to reproduce the behavior:

as in: https://pytorch.org/get-started/locally/
1. python -m venv ptamd; source ptamd/bin/activate
1. pip install torch -f https://download.pytorch.org/whl/rocm4.0.1/torch_stable.html
1. pip install ninja && pip install 'git+https://github.com/pytorch/vision

[2021-04-11 13:20] henrique commented on #3658
actually, it seems to run fine with the regular vision wheel:
`pip install torch torchvision -f https://download.pytorch.org/whl/rocm4.0.1/torch_stable.html`
at least, it looks like I can train a CNN without any major issue, but I wonder why the instructions recommend the source build (?)

Thanks for the great work anyway
Cheers

[2021-04-11 15:31] pmeier commented on #3649
Duplicate of #3606.

[2021-04-11 15:31] #3649 closed

[2021-04-11 15:43] pmeier commented on #3657
Hey @krishnap25,

This is why I used the word "roughly" in the description. This is meant as pseudo-code on how this was computed. I'm okay with adding a `torch.stack` to make it executable.

True, but nothing we can do about it. Unless you have the resources and are willing to offer them for free, retraining all the models to change this is not an option. Believe me, I tried to argue the same thi

[2021-04-11 15:43] #3657 closed

[2021-04-11 17:53] krishnap25 commented on #3657
Hey Philip, thanks for your response! Your investigations are interesting.

I came across this issue because tried computing the mean/std for a different dataset. Would it help to include a comment in the documentation for future users?

[2021-04-11 22:07] prachigarg23 commented on #3410
Hi, I'd like to work on this feature. I have a good understanding of the ResNet code but this will be my first attempt at open source contribution. To clarify, the reset_parameter method should be able to reset/initialise parameters for any layer or block of layers passed right? Since that would serve the purpose of someone who has to customize the random init or freezing/pretraining of specific l

[2021-04-12 07:40] duynguyen51 commented on #3281
Thanks, I'll find out in the root concept.

[2021-04-12 07:40] #3281 closed

[2021-04-12 08:33] pmeier commented on #3657
Sure, do you want to send a PR?

[2021-04-12 10:14] #3650 closed

[2021-04-12 11:56] NicolasHug commented on #3511
@brianjo yes I think this should work (#3660) and in fact this could probably be included directly in the pytorch theme https://github.com/pytorch/pytorch_sphinx_theme/issues/109 so that all domains could benefit from this

[2021-04-12 13:05] mzkaramat commented on #2581
@fmassa, I've tested with compiling libtorch from source and with latest version from cocoapods, but still can't find torchvision::nms in iOS app. Am I missing some?

[2021-04-12 13:24] fmassa commented on #2581
@mzkaramat please check https://github.com/pytorch/vision/pull/3629 for an end to end example on how to build an iOS app which leverages `torchvision::nms` via Faster R-CNN

[2021-04-12 14:41] mzkaramat commented on #2581
Thanks!

[2021-04-13 05:44] chiminhle commented on #1899
Solution 2 worked for me. Thank you very much <3

[2021-04-13 09:38] fmassa opened #3664 "torchhub tests are failing on CI"
## 🐛 Bug

For a few days already, torchhub tests have been failing with the following error message (as can be seen from https://app.circleci.com/pipelines/github/pytorch/vision/7408/workflows/5e29e045-7878-489f-8ff7-8bfe18d47e2a/jobs/511637)
[code]

We should fix this, this probably happens due to https://github.com/pytorch/pytorch/pull/54451

cc @seemethere @ailzhang

[2021-04-13 16:04] rafi-cohen opened #3666 "UserWarning: Legacy tensor constructor is deprecated."
## 🐛 Bug

Using the `ToTensor` transform results in the following warning:
[code]

According to the message, the following line triggers the warning:
https://github.com/pytorch/vision/blob/eee424922e998dddcaabe927e823ec515aa2927b/torchvision/transforms/functional.py#L135

Note that there might be more places where the legacy constructor is used.

## To Reproduce

Steps to reproduce the behavior:

[2021-04-13 16:31] NicolasHug commented on #3666
It seems that the warning is raised in `pytorch` rather than in torchvision:

So possibly, there's nothing to do on torchvision's side and we can just wait for pytorch to sort this out?

I don't thing there are calls to `torch.ToTensor` or `torch.Tensor` in torchvision (apart in the tests)

[2021-04-13 17:07] rafi-cohen commented on #3666
Correct me if I'm wrong, but my understanding is that
https://github.com/pytorch/vision/blob/eee424922e998dddcaabe927e823ec515aa2927b/torchvision/transforms/functional.py#L135
is a legacy constructor call, which is to be deprecated.
The message indicates that this line, which is on torchvision's side, triggers the warning.

[2021-04-13 17:34] NicolasHug commented on #3666
It's possible, but then I don't understand why you mention `ToTensor`? Either `ToTensor` is called somewhere during `torch.ByteTensor(torch.ByteStorage.from_buffer(pic.tobytes())) ` and then this is a pytorch issue, or the call to `ByteStorage` or `ByteTensor` is indeed deprecated, but that's not directly related to `ToTensor` as far as torchvision is concerned.

[2021-04-13 19:13] ailzhang commented on #3664
Hmmm I can take a look later today, it's running fine in pytorch CI tho. Is it happening in vision CI?

[2021-04-13 19:59] rafi-cohen commented on #3666
The offending line `torch.ByteTensor(torch.ByteStorage.from_buffer(pic.tobytes()))` is part of the implementation of `torchvision.transforms.functional.to_tensor`, which is called by `ToTensor`. Therefore, using `ToTensor` triggers a warning.

[2021-04-13 20:26] NicolasHug commented on #3666
Sorry I misread, thanks

[2021-04-13 22:22] tyleryzhu commented on #1080
I also recently came across an inconsistency between datasets which is slightly annoying, and figured I'd mention it here instead of in a new issue (but happy to do so if it's easier). Currently, the targets of CIFAR-10 and CIFAR-100 are of type list, while the targets of MNIST are of type torch.Tensor (compare [the CIFAR code](https://github.com/pytorch/vision/blob/master/torchvision/datasets/cif

[2021-04-14 05:14] pmeier commented on #1080
@tyleryzhu You are right that this is inconsistent, but we never aimed for consistency at the attribute level. The `target` attribute is not documented anywhere so we simply failed to make this private. The return type of `__getitem__` should be `int` in both cases, i.e. `isinstance(dataset[idx][1], int)` should hold for both datasets.

[2021-04-14 11:41] datumbox opened #3667 "Caching disabled on AnchorGenerator"
## 🐛 Bug

Currently the caching mechanism of AnchorGenerator is completely disabled because the Cache dictionary is wiped every time at the end of forward:

https://github.com/pytorch/vision/blob/e61747438522e2d5a92b0b7836754be1a7eb9017/torchvision/models/detection/anchor_utils.py#L156-L157

The clear statement was introduced at #1657 to solve a memory leak reported at #1689.

Before providing a s

[2021-04-14 12:11] fmassa commented on #3666
I've re-opened https://github.com/pytorch/pytorch/issues/47112#issuecomment-819469390 to try to track this down, thanks for the discussion @rafi-cohen !

[2021-04-14 12:15] fmassa commented on #3666
If the PyTorch team doesn't plan on adding `torch.frombuffer`, then I propose that we replace the construct with `numpy.frombuffer` or just the `np.asarray(pic)`, as I believe this is going to share memory and thus be efficient

[2021-04-14 12:16] fmassa commented on #3664
Yes, this is happening on all torchvision CIs, see https://github.com/pytorch/vision/pull/3662 for a recent example

[2021-04-14 12:20] fmassa opened #3668 "`test_models.py` has deprecation warnings on floor_divide"
## 🐛 Bug

When running `test_models.py` with a recent PyTorch (in my case `1.9.0.dev20210322`), we now get the following deprecation warning

[code]

This indicates that either a model (or a test) should be updated to stop using the deprecated floor_divide function.

[2021-04-14 12:39] willclarktech commented on #3664
Looks like the GitHub API is limiting results per page to 30, so `master` doesn't show up [here](https://github.com/pytorch/pytorch/blob/6c450424a4004f8992d07839c0a4cdf05cb95b84/torch/hub.py#L117-L120). Compare
- https://api.github.com/repos/pytorch/vision/branches
- https://api.github.com/repos/pytorch/vision/branches?per_page=100

[2021-04-14 14:03] #3511 closed

[2021-04-14 14:11] mjq93 opened #3669 "Whether RoiAlign could add support for 3D data such as medical data?"

[2021-04-14 14:23] NicolasHug commented on #3669
I think this is a duplicate of https://github.com/pytorch/vision/issues/2402 so I'll close this issue. Feel free to reopen with more details @mjq93

[2021-04-14 14:23] #3669 closed

[2021-04-14 14:37] ukky17 opened #3670 "[Feature proposal] Apply adjust_contrast transformation for grayscale tensors"
## Motivation

Currently, `adjust_contrast` function in `torchvision.transformations.functional_tensor` only works for 3-channel (=RGB) tensors. However, I would like to change the contrast of a 1-channel (= grayscale) tensor.

## Pitch

Just like the 3-channel case, the desired function changes the image contrast. I.e., `contrast_factor = 0` gives a uniform gray image, 1 gives the original image

[2021-04-14 18:27] alfonsomhc commented on #1204
I find this issue when running the example: https://pytorch.org/tutorials/intermediate/torchvision_tutorial.html

I have installed cpu-only pytorch:
`pip3 install torch==1.8.1+cpu torchvision==0.9.1+cpu torchaudio==0.8.1 -f https://download.pytorch.org/whl/torch_stable.html`

The error message that I get:
[code]
As suggested by @marcusturewicz, I have replaced `torch.cuda.synchronize()` with:
[cod

[2021-04-14 18:48] ailzhang commented on #3664
@willclarktech @fmassa Yea my bad, was only testing the API on a small repo so didn't notice the number limit. I'll revert the PR first and work on a better fix! @willclarktech Good catch on missing tags on the original PR! I need to read github API more carefull to find a better fit :D
https://github.com/pytorch/pytorch/pull/56048

[2021-04-15 04:58] harishsdev commented on #3452
I will try to implement this feature

[2021-04-15 06:43] Zhaoyi-Yan opened #3673 "The document of torchvision.ops.deform_conv2d is not clear"
## 📚 Documentation
From the documentation, I cannot get the exact meaning of 18(ie, 2*3*3) channels of the offset in a deformable convolution?

I want to visualize the offset of the deformable convolution with kernel size 3*3.
So It’s essential for me to know what’s the exact meaning of these channels.

I write down something possible here:
[code]

[2021-04-16 07:20] liyy201912 opened #3678 "Deformable convolution best practice?"
## ❓ Questions and Help
Would appreciate it if anyone has some insight on how to use deformable convolution correctly.

Deformable convolution is tricky as even the official implementation is different from what's described in the paper. The paper claims to use 2N offset size instead of 2 x ks x ks.

Anyway, we're using the 2 x ks x ks offset here, but I always got poor performance. Accuracy drops

[2021-04-16 08:55] FrancescoSaverioZuppichini commented on #2262
same

[2021-04-16 13:50] #3668 closed

[2021-04-16 13:52] willclarktech commented on #3664
@ailzhang This preview API seems to do exactly the check you want for commit hashes (although I'm not sure why it's important to restrict commits to branch heads): https://docs.github.com/en/rest/reference/repos#list-branches-for-head-commit. It doesn't cover tags obviously, but those don't introduce the same danger as commits.

[2021-04-16 19:25] ailzhang commented on #3664
@willclarktech this API looks great! although it doesn't handle branch_name/tag_name where in those cases we don't have a commit_hash. Currently I'm just thinking about fixing it in the old way that fetching all the branches and tags and then check whether dst is listed in them. Wdyt?

[2021-04-17 09:45] datumbox commented on #3670
Thanks for the proposal.

I added it in the list of known limitations being tracked at https://github.com/pytorch/vision/issues/3224

As a temporary workaround, convert the image to RGB by copying the same colours in all channels, apply the transforms you want and then covert it back to grayscale using [rgb_to_grayscale()](https://github.com/pytorch/vision/blob/9778d2675ed33627c30fe2537911f5a41284

[2021-04-17 13:24] oke-aditya opened #3681 "Master Documentation is broken at places"
## 📚 Documentation

The master is built with latest sphinx so there are few places where docs aren't nice. E.g. [ops master](https://pytorch.org/vision/master/ops.html) vs [ops 0.9](https://pytorch.org/vision/0.9/ops.html)

What's broken.

- [ ] Almost everywhere Type hinting in functions, which for in built dtypes such as `str`, `int`, `float`
E.g. [EMNIST Docs](https://pytorch.org/vision/master/

[2021-04-17 15:52] NicolasHug commented on #3681
Thanks for the report, yeah I noticed that too. This seems related to the theme,
I'll reach out to the theme team on Monday and see what we can do

[2021-04-18 04:20] voldemortX commented on #3670
@datumbox I think this kind of relate to the same "Tensor images do not have meta-data" problem. Since we assume RGB inputs for all tensor transforms. #3219

The problem is I'm not sure if we can make a good guess about the image mode on dtype & channel numbers, or if we can add an input variable about image mode (that would introduce inconsistency between the two backends). On the other hand, add

[2021-04-18 06:57] datumbox commented on #3670
Yes it's related. I've added it on your list on the ticket just to be safe.

One workaround in this case would be to convert the image to RGB, apply the transforms of TorchVision and convert back to grayscale just before modeling. This should be solved more naturally once we support a better solution in the transforms for different image types.

[2021-04-18 22:38] willclarktech commented on #3664
@ailzhang Fetching all branches and tags seems like the most straightforward option if you want to restrict commit hashes to branch heads (which you can get from the branches request). It definitely prevents commit hashes from forked repos, which is good. The restriction to branch heads seems odd to me: if I specified a commit to load I'd be surprised eg if my scripts all broke because somebody in

[2021-04-19 09:53] NicolasHug commented on #3681
The paper links are unrelated to the sphinx version (but thanks for noticing!)

Another discrepancy that I noticed is that the "Parameters", "Returns" sections etc now have a different and more bulky rendering: [0.9](https://pytorch.org/vision/0.9/datasets.html#torchvision.datasets.CIFAR10) vs [master](https://pytorch.org/vision/master/datasets.html#torchvision.datasets.CIFAR10)

I tend to have a

[2021-04-19 13:18] MJoodaki commented on #2474
Hi, I have almost the same problem with `VideoClip`.
I used `VideoClip` to create clips (each incl. 15 frames ) from a reference video (without audio) and saved the clips in a directory using `torchvison.io.write_video` and then I realized that instead of 15 frames/clip it got 12 frames/clip which every 2 frames in a row are duplicated.
Is that also because of the `pts_unit= "pts" ` problem as you

[2021-04-19 13:53] v-iashin commented on #2474
Hi, I haven't figured out how to solve it yet. Also, let me know if you will find out anything.

[2021-04-19 14:05] #1409 closed

[2021-04-19 14:26] NicolasHug commented on #3681
I think we can close this now than #3652  / https://github.com/pytorch/vision/pull/3685 have been merged. Thanks @oke-aditya !

[2021-04-19 14:26] #3681 closed

[2021-04-19 14:51] NicolasHug opened #3688 "Add new illustrations of transforms"
With https://github.com/pytorch/vision/pull/3652 merged, we can now illustrate how each transforms affects an image via a `sphinx-gallery` example:

https://519065-73328905-gh.circle-artifacts.com/0/docs/auto_examples/plot_transforms.html#sphx-glr-auto-examples-plot-transforms-py

The goal of this issue is to add more transforms to this file: https://github.com/pytorch/vision/blob/master/gallery/p

[2021-04-19 15:48] vadimkantorov opened #3690 "[docs] Interpolation modes are not rendered"
Members are not listed/rendered, they are however present in the sources: https://pytorch.org/vision/master/_modules/torchvision/transforms/functional.html#InterpolationMode

![image](https://user-images.githubusercontent.com/1041752/115265337-6a158300-a137-11eb-9d30-c4e171119233.png)

[2021-04-19 17:08] oke-aditya commented on #3688
Hi @NicolasHug I can pick a few.
Here are all of them to keep track.

- [ ] CenterCrop
- [ ] ColorJitter
- [ ] FiveCrop
- [ ] Grayscale
- [ ] Pad
- [ ] RandomAffine
- [ ] RandomApply
- [ ] RandomCrop
- [ ] RandomGrayscale
- [ ] RandomHorizontalFlip
- [ ] RandomPerspective
- [ ] RandomResizedCrop
- [ ] RandomRotation
- [ ] RandomVerticalFlip
- [ ] Resize
- [ ] Scale
- [ ] GaussianBlur

[2021-04-19 23:46] erip opened #3692 "Cannot script `transforms.Resize` with `int` argument."
## 🐛 Bug

Scripting `transforms.Resize` with a single int argument fails while scripting with an iterable argument succeeds.

## To Reproduce

Steps to reproduce the behavior:

1. `$ python -c "import torch; from torchvision import transforms; torch.jit.script(transforms.Resize((256, 256)))"`
1. Observe OK.
1. `$ python -c "import torch; from torchvision import transforms; torch.jit.script(transfo

[2021-04-19 23:50] erip commented on #3692
Ugh. This is documented in the [docstring](https://github.com/pytorch/vision/blob/master/torchvision/transforms/transforms.py#L244).

[2021-04-19 23:50] #3692 closed

[2021-04-20 00:54] ailzhang commented on #3664
@willclarktech Re commit hash: we just feel that it's easier for repo owner to manage if only a smaller set of branches/tags are available to users. Actually branch_name/tag_name are used more frequently than commit hash in practice(which won't break if somebody pushed to the branch). We can totally relax that if there's a request in the future.

[2021-04-20 00:59] ailzhang commented on #3664
@willclarktech Another reason that we prefer branch/tag head is that:
if user load from a commit hash and the model doesn't work, we don't expect the repo owner to fix it unless the commit hash is a head for any branch/tag (in other words we only expect to head work well but not a random commit in the branch to give some room for repo owners to commit breakages if necessary).

[2021-04-20 04:23] voldemortX commented on #3688
@oke-aditya isn't `Scale` kind of deprecated?

[2021-04-20 05:34] oke-aditya commented on #3688
Yes it is. Let us not count it

[2021-04-20 06:10] voldemortX commented on #3688
I'd like to work on `RandomAffine`, `RandomPerspective` and `RandomRotation` , do I need to do something like fix random seeds?

[2021-04-20 07:25] NicolasHug commented on #3692
Perhaps we should make it more obvious with a `.. note:` or a `.. warning:` directive?

[2021-04-20 07:28] NicolasHug commented on #3688
I didn't set it for the ColorJitter, the idea being that if a user downloads the notebook they will see that a different transformation is performed each time the cell is executed, which is good because it illustrates that these transforms are random at each call.

We should try to set the parameters of the transforms such that it's always obvious that something happened, i.e. that the 2 images ar

[2021-04-20 10:46] willclarktech commented on #3664
@ailzhang I guess I find the reasoning confusing because in other contexts (eg installing a package via GitHub in poetry/npm/whatever) the use cases are typically something like this:
- tag: I'm a regular user and I want a stable version
- branch: I'm a developer working on the code or a power user accessing an unreleased/alternative feature set
- commit hash: I'm probably a user who has hit up ag

[2021-04-20 10:52] axeln31459 opened #3695 "Build fails with torch 1.8.1 and cuda 11.3"
Building from source with torch 1.8.1 compiled against cuda 11.3 and cuda 11.3 fails.

## To Reproduce

Steps to reproduce the behavior:

python setup.py install

Similar errors for /torchvision/csrc/ops/cuda/ps_roi_pool_kernel.cu,
/torchvision/csrc/ops/cuda/ps_roi_pool_kernel.cu,torchvision/csrc/ops/cuda/nms_kernel.cu

FAILED: /home/an/gits/vision/build/temp.linux-x86_64-3.9/home/an/gits/vision/t

[2021-04-20 11:57] hubutui commented on #3313
any solution yet? I also got similar issues when building for ArchLinux, check the complete build log [here](https://build.archlinuxcn.org/~imlonghao/log/python-torchvision/2021-04-20T12:17:01.html).

[2021-04-20 12:02] prabhat00155 opened #3696 "CircleCI on Mac is flaky"
I have seen a number of tests on Mac failing with this [error](https://app.circleci.com/pipelines/github/pytorch/vision/7547/workflows/ed3a21b4-852e-40a1-880b-41664b584277/jobs/524923):
[code]
This seems to be related to PyTorch.

cc @seemethere

[2021-04-20 12:26] nesterova-anna commented on #3291
Hi, @JeroenDelcour! Did you solve this problem? I have same situation and don't know way to fix(

[2021-04-20 12:28] harishsdev commented on #3688
Hi all,i would like to work on below transforms

 RandomApply
 RandomCrop
 RandomGrayscale
 RandomHorizontalFlip
 RandomResizedCrop
 RandomVerticalFlip
 GaussianBlur

[2021-04-20 13:08] fmassa commented on #3696
cc @seemethere this seems like an issue with the PyTorch OSX packages, and it has been failing for a few days already.

Do you have any ideas of what it might be?

[2021-04-20 13:54] fmassa commented on #1204
The evaluation not running on CPU has been fixed in #3674
For evaluating in different CUDA devices, the recommended approach is to run with `CUDA_VISIBLE_DEVICES` as follows
[code]
as described in https://github.com/pytorch/vision/issues/1204#issuecomment-518751095

As such, I'm closing this issue, but let us know if you have further questions

[2021-04-20 13:54] #1204 closed

[2021-04-20 18:11] JeroenDelcour commented on #3291
No, unfortunately. My current workaround is to use an image with lots of detectable objects as a dummy input image. That yields a working onnx model that outputs enough masks for my use case, though still fewer than it's supposed to.

[2021-04-21 06:57] NicolasHug opened #3702 "r2plus1d_18 segfault on linux gpu CI jobs"
`test_models.py` segfaults on `r2plus1d_18_cuda` on the `unittest_linux_gpu_py3.8 ` CI job. See e.g. failures in https://github.com/pytorch/vision/pull/3700 or https://github.com/pytorch/vision/pull/3699

cc @seemethere

[2021-04-21 07:54] fmassa commented on #3702
Interesting, worth investigating more closely, as this might be an issue with some of the pytorch kernels that are used to run this model on GPU (or the machine is running out of memory)

[2021-04-21 12:02] oke-aditya commented on #3688
Marking RandomGrayscale as done as it is very similar to Grayscale cc @NicolasHug

[2021-04-21 12:56] voldemortX commented on #3678
@liyy201912 A little insight here: a probable cause for deformable conv not working on CIFAR is low-resolution (32x32 is too small for deformable).

[2021-04-21 13:12] voldemortX commented on #3673
@Zhaoyi-Yan Perhaps [the CPU source code](https://github.com/pytorch/vision/blob/2f3b7ca971c3a980833c8318fc1f0c8fe83ef8d2/torchvision/csrc/ops/cpu/deform_conv2d_kernel.cpp#L168) can lend you some insights.

[2021-04-21 21:30] seyeeet opened #3707 "VOCSegmentation -- RuntimeError: Dataset not found or corrupted. You can use download=True to download it"
## 🐛 Bug

I have downloaded the VOC Pascal Segmentation dataset and have it as following format:

[code]
I am using the latest torch/torchvision version which is torch 1.7.1 and its corresponding torchvision.
when I want to use the VOCSegmentation dataloader I get the following error:

[code]
[code]

cc @pmeier

[2021-04-22 00:15] lucaslingle opened #3708 "Unable to load CelebA dataset: "File is not zip file" error."
## 🐛 Bug

I am unable to download the CelebFace Attributes (CelebA) dataset using TorchVision. The error I get when attempting to download is "File is not a zip file."

I have encountered this error every time I've tried to download the file, over the course of the last 24 hours.

## To Reproduce

Steps to reproduce the behavior:

1. Import torchvision
2. Call torchvision.datasets.CelebA(root='som

[2021-04-22 02:07] lucaslingle opened #3709 "A mirror of the CelebA dataset on S3, similar to the one for MNIST"
## 🚀 Feature
A mirror of the CelebA dataset on S3, to support reliable downloading of the dataset.

## Motivation

Downloading the CelebA dataset through TorchVision is currently an issue, due to a common quota exceeded error associated with Google Drive, where the dataset owners currently host the dataset. To resolve a similar issue with MNIST, [a mirror was set up on S3](https://pytorch.org/visi

[2021-04-22 07:22] NicolasHug commented on #3707
The line you report is different from the one in the error, in particular the `root` param:

`dataset = torchvision.datasets.VOCSegmentation(root='/path/VOCdevkit', year='2012', image_set='trainval', download=False)`

vs

`----> 3 dataset = torchvision.datasets.VOCSegmentation(root='/path/VOCdevkit/VOC2012/', year='2012', image_set='trainval', download=False)`

So there seem to be an inconsistency

[2021-04-22 09:32] datumbox commented on #3708
@lucaslingle Thanks for reporting.

@pmeier I'm able to reproduce using the provided snippet.

[2021-04-22 10:54] pmeier commented on #3709
Hey @lucaslingle I like the idea, but I wouldn't get my hopes up. We got permission from Yann LeCun, because he is a FB employee and PyTorch is a FB product. In general the following from our README holds:

`MNIST` is kind of an outlier, because it is still **the** most used dataset in tutorials. So if the download breaks we get multiple issues per hour asking to fix it. I don't want to say that `

[2021-04-22 10:55] pmeier commented on #3708
This is still in my backlog. It is just really hard to fix, because I need to wait for a day where the quota is exceeded to even work on it. Getting on it now.

[2021-04-22 10:56] pmeier commented on #3708
Upping to high priority due to user activity. Cc @fmassa

[2021-04-22 11:18] pmeier commented on #3707
Plus,

is not correct. `torch==1.8.1` / `torchvision==0.9.1` is the current stable release. We did some work on VOC for that release. Of course this might not be the root of the problem.

[2021-04-22 12:53] seyeeet commented on #3707
@pmeier correct I did not have the latest version. I updated my pytorch/torchvision and have the latest (1.8.1/0.9.1) version now. but still the error happens

@NicolasHug that was just a typo. I corrected it, I still get the error. I tried root as both `/path/VOCdevkit/VOC2012/` and `/path/VOCdevkit/` and both of the generate error.

[2021-04-22 12:57] NicolasHug commented on #3707
Did you try `/path` as suggested above?

[2021-04-22 13:00] seyeeet commented on #3707
nah, let me try that and get back to you :p

[2021-04-22 13:04] seyeeet commented on #3707
It actually solved the issue!! Thanks a lot for your help, the solution was to do it with just `path`...

[2021-04-22 13:04] #3707 closed

[2021-04-22 14:11] oke-aditya commented on #3688
@NicolasHug  should we make a new script perhaps `gallery/plot_autoaugment.py` to demonstrate AutoAugment transforms ?

Also we actually have a few examples and demonstrations for various functionalities in [examples/python](https://github.com/pytorch/vision/tree/master/examples/python).

Would it be nice to move these to examples gallery (so that they are nicely visible on website)

[2021-04-22 15:25] NicolasHug commented on #3688
Great point! I'm not sure we'd be able to visually tell the difference between the various autoaugment policies, so instead of creating a new dedicated example, I'd suggest to instead generate a bunch of AutoAugmented images in the existing `plot_transforms` example. Would you like to submit a PR? (I udpated your list above)

Absolutely! There are however a few things we need to be careful about w

[2021-04-23 03:37] lucaslingle commented on #3709
I am very sympathetic to this argument, and of course it is up to you guys.

It may provide some useful context to know that the dataset is still unavailable from the original source, for the same reason as when I originally posted: quota issues. If this persists for the remainder of the year, it seems likely that this dataset will die out, unless someone saves it for the sake of "open source scie

[2021-04-23 11:57] bradezard131 opened #3714 "Move GroupedBatchSampler into torchvision"
## 🚀 Feature
Move the [`GroupedBatchSampler`](https://github.com/pytorch/vision/blob/d7ad62ff83bb329b7e5f2725bfa84e1266febc55/references/detection/group_by_aspect_ratio.py#L23) into the core library

## Motivation

Grouping minibatch elements is often a useful feature for vision tasks, especially in object detection and segmentation problems where it is commonplace to use images with different sha

[2021-04-23 12:10] hubutui commented on #3695
Hello, we also failed to build torchvision 0.9.1 with cuda 11.3. check the complete build log [here](https://build.archlinuxcn.org/~imlonghao/log/python-torchvision/2021-04-23T04%3A17%3A01.html)

pytorch 1.8.1
cuda 11.3
gcc 10.2.0

[2021-04-23 12:55] datumbox commented on #3714
We'll need to have a further look on the API of the class to ensure we can commit to it but in general I see favourably providing necessary tools such as this within TorchVision.

[2021-04-23 13:13] ukky17 commented on #3670
Thank you for the comments!

Yes, temporarily converting the image to RGB is a workaround, but I believe that slightly changing `functional_tensor.py` (like the code snippet in my first comment) would be a natural solution. Let me know if it's OK to send a PR.

[2021-04-23 15:43] #3708 closed

[2021-04-23 17:09] prabhat00155 opened #3716 "OSError on linux builds"
The following error seen in linux builds:
[code]
[binary_linux_conda_py3.9_cpu](https://app.circleci.com/pipelines/github/pytorch/vision/7640/workflows/2c078a6b-a4d4-438f-b70f-40ff26046445/jobs/534190)
[binary_linux_conda_py3.9_cu102](https://app.circleci.com/pipelines/github/pytorch/vision/7640/workflows/2c078a6b-a4d4-438f-b70f-40ff26046445/jobs/534198)
[binary_linux_conda_py3.9_cu111](https://ap

[2021-04-24 04:36] lucaslingle commented on #3709
I finally got the dataset. Although I continue to support this ticket, I suppose we can close it if you're certain there's no chance it'll happen. You don't need to keep the issue open on my behalf.

Thanks for your consideration!

[2021-04-24 14:30] tejan-rgb opened #3722 "torchvision.models.mnasnet1_3(pretrained=True)"
## 🐛 Bug

When ran ``` torchvision.models.mnasnet1_3(pretrained=True) ```
got:
[code]

[2021-04-24 15:57] Aradhya-Tripathi opened #3723 "Optional Argument to the Image folder class's constructor to accept specific sub-dirs to load data from."
🚀  Feature
Torchvision's Imagefolder class Takes in root as an argument, I want to add an additional argument that takes in sub-directories within root to load data only from those folders.

Motivation
While working with large datasets and a messy folder structure I would prefer to mention the folder names in the base directory that I load my data from, this saves time and a don't have to constant

[2021-04-24 17:23] oke-aditya commented on #3722
Hi @tejan-rgb  this is known issue. MNasnet 0_75 and 1_3 weights are not available in torchvision yet. Hopefully soon #2707

[2021-04-25 01:46] tejan-rgb commented on #3722
okay.

[2021-04-25 01:46] #3722 closed

[2021-04-25 10:22] NicolasHug commented on #3723
In https://github.com/pytorch/vision/pull/3628/ we have recently made the `DatasetFolder.find_classes()` public so that users can customize how classes are discovered. Does that address your use-case already?

[2021-04-25 10:25] Zhylkaaa commented on #2263
I wonder if it's still interesting to someone, I can try to give it a try, should I open new PR or continue Custom transform support #2288?

[2021-04-25 11:05] Aradhya-Tripathi commented on #3723
in #3628 making the entire `find_classes()` would be a little extensive for the use-case I'm referring to, just finding sub-classes given my root dir, which could be as simple as an `if` condition passed to the constructor of `DatasetFolder`

[2021-04-25 11:40] NicolasHug commented on #3723
You could do something like (disclaimer: I haven't tested the code):

[code]

I agree it's a little bit of code but it's reasonably simple. We chose to go for that solution instead of adding a new parameter because overriding `find_classes` allows users to implement the strategy they want, not just to accept a subset of classes. Some may want to e.g. *ignore* a subset of classes instead. Some may

[2021-04-25 11:48] Aradhya-Tripathi commented on #3723
hey, that's exactly what I did for my use case,
ok agreed adding more and more arguments isn't really efficient,
Thanks! :)

[2021-04-25 11:48] #3723 closed

[2021-04-25 16:12] PoonKinWang commented on #3064
I use [Distributed-BatchNorm-PyTorch](https://github.com/PoonKinWang/Distributed-BatchNorm-PyTorch) to simulate multi-GPUs and achieve the accuracy provided by original paper.
Thanks for your reply.

[2021-04-25 19:48] oke-aditya commented on #3221
Thoughts about [FastAutoAugment ](https://github.com/kakaobrain/fast-autoaugment) maybe useful for faster transforms

[2021-04-26 08:45] NielsRogge opened #3728 "Ability to import CocoEvaluator"
## 🚀 Feature
It would be great if we could do the following:

[code]

Right now, `CocoEvaluator` cannot be imported as it's currently under the references directory in this repository, it's not part of the `torchvision` package.

## Motivation

I'm currently implementing [DETR](https://github.com/facebookresearch/detr) (end-to-end object detection), and right now I have to copy all of this code of

[2021-04-26 08:54] aliceinland opened #3729 "Evaluation Method does not work for detection"
## 🐛 Bug

After the training process, when running the evaluation function available here (https://github.com/pytorch/vision/blob/dc42f933f3343c76727dbfba6e4242f1bcb8e1a0/references/detection/engine.py), the process gets stuck without any error. I left the evaluation method running for two days but there are no error or any suggestion of what this problem could be when interrupting the process.

#

[2021-04-26 08:56] datumbox commented on #3728
Thanks for the proposal. We have a few requests of moving stuff out of the references and into the library, so this proposal is in the same direction.

As with similar requests, we need to review the APIs that we have on the references and decide whether they are mature enough so that we commit to them. Unfortunately this use-case has one concern; adding this class in TorchVision will require putt

[2021-04-26 09:18] pmeier commented on #3709
The problem I see with all of this is, that it shifts the maintenance burden not only to us but to every utility library that provides wrappers for datasets (for example tensorflow/datasets/issues/3150).

Of course this is bad for reproducibility, but if the authors do not want or cannot put in the effort maybe it is ok to let it die out.

If you are worried about that happening, I suggest you tak

[2021-04-26 09:18] #3709 closed

[2021-04-26 11:32] NielsRogge commented on #3728
Great, otherwise I would perhaps make a small PyPi package that allows this, but I don't even know if this is allowed, I don't want to take credit for things that are not made by me of course (I would of course cite the torchvision authors and include the license).

[2021-04-26 12:12] dketterer commented on #3695
I have the same issue with 1.8.1 and 0.9.1 on Ubuntu 20.04, with gcc 9.3.0. Previous builds against CUDA 11.2 were successful.

[2021-04-26 17:36] neginraoof opened #3737 "roi_align and roi_pool cannot be scripted due to type annotation issue"
## 🚀 Feature
roi_align anf roi_pool cannot be scripted due to type annotation issue

https://github.com/pytorch/vision/blob/7bc5bd855536c34a1759d125436f791dde4fb8b7/torchvision/ops/roi_pool.py#L13
https://github.com/pytorch/vision/blob/7bc5bd855536c34a1759d125436f791dde4fb8b7/torchvision/ops/roi_align.py#L13

The input "boxes" can be either a tensor or list, however the type annotation does not co

[2021-04-26 19:05] oke-aditya commented on #3690
Hey @vadimkantorov can you send a PR for this fix?

It should probably be a line stating

[code]

It should probably be a simple edit over [here](https://github.com/pytorch/vision/blob/master/torchvision/transforms/functional.py#L23)

[2021-04-26 19:30] datumbox commented on #3737
JIT does not support unions at the moment. That's why it's only defined as `Tensor`. See:  https://github.com/pytorch/pytorch/issues/41412

Why don't you pass a tensor instead?

[2021-04-26 21:44] neginraoof commented on #3737
We can modify the model code. But this issue has been escalated to the ONNX team a couple times by customers who are relying on the documentation. So we'd like to track this work and make sure this is fixed once Union is supported.

[2021-04-27 08:22] datumbox commented on #3737
@neginraoof Sounds good. There are numerous places where things will change once Union is supported and I think this use-case will be one of them. Perhaps if you rephrase the ticket as a feature request / enhancement dependent on JIT Union support, I can tag it differently and leave it open. The challenge right now is it states it's a bug which means if someone tries to "fix" it by putting Union i

[2021-04-27 08:58] fmassa commented on #3737
I think what we can do for now is to improve the documentation to mention that torchscript only supports `Tensor`, while eager mode supports both.

[2021-04-27 09:14] fmassa commented on #3729
Hi,

Can you share more information on how you launched the evaluation, and where it stopped when you interrupted the process?

[2021-04-27 09:15] pmeier commented on #3737
pytorch/pytorch#53180 for reference.

[2021-04-27 10:55] Zhaoyi-Yan commented on #3673
After reading the source code you refer to, it seems reasonable. However, it would be better to get a detailed note on the offset for the users.

[2021-04-27 12:02] voldemortX commented on #3673
Maybe some comments should be added for this. What do you think? @datumbox

[2021-04-27 12:07] NicolasHug commented on #3673
sure, any PR to improve the docs would be very welcome!

[2021-04-27 12:41] voldemortX commented on #3673
I'm not an expert on DCN right now... So maybe you'd like to send a PR for this? @Zhaoyi-Yan

[2021-04-27 13:03] Zhaoyi-Yan commented on #3673
I am not too...

[2021-04-27 13:28] prabhat00155 commented on #3667
I used the script shared in https://github.com/pytorch/vision/issues/1689 to verify the memory usage with and without caching and didn't see much difference:
[code]
Without caching(current version):
[code]
With caching(by commenting out clear()):
Try 1:
[code]
Try 2:
[code]

I also tried comparing the time to run AnchorGenerator forward() using this script(in Juypyter notebook):
[code]
[code]
With

[2021-04-27 15:39] datumbox commented on #3667
@prabhat00155 Thanks a lot for the detailed benchmarks! Since I spotted this bug, I was inclined to remove caching as it makes the code more complex. Can't say I changed my mind after reading your analysis... I propose to remove the caching mechanism completely.

@fmassa @NicolasHug thoughts?

[2021-04-27 15:44] datumbox commented on #3729
Is there any chance you changed any of the NMS related hyper-params of the model? I had a situation in the past where my training froze due to producing massive amount of predictions. I believe coco eval has a sorting component and very large values can kill it.

[2021-04-27 15:54] NicolasHug commented on #3667
[code]

I'm wondering if the above properly assesses the caching mechanism. From what I understand the cache is useful across calls to `forward` but the snippet above will only call `forward` once per `AnchorGenerator` instance.

Should this be instead, e.g.:

[code]

[2021-04-27 16:01] prabhat00155 commented on #3667
Doesn't timeit call the cell multiple times(1000 by default)?

[2021-04-27 16:03] NicolasHug commented on #3667
Yes but it will create 1000 `AnchorGenerator` instances and call forward once on each of them. There won't be any cache hit since the cache hits can only happen when forward is called (at least) twice on the same instance, as far as I understand