[2020-04-30 01:24] wk5ovc commented on #2147
Move all nvcc flags to Xcompiler like this `-Xcompiler="/EHsc -Ob2 /Z7 /EHa /wd4267 /wd4251 /wd4522 /wd4838 /wd4305 /wd4244 /wd4190 /wd4101 /wd4996 /wd4275 /bigobj /openmp"`, also change `-openmp ` to `/openmp `, no build error occured, didn't known why.

[2020-04-30 10:19] fmassa commented on #1712
The latest release of torchvision (with the fix for PILLOW == 7) has been released

[2020-04-30 10:36] fmassa opened #2166 "Make initialization of GoogleNet / Inception faster"
There have been several reports from users that GoogleNet and Inception are very slow to construct, see https://github.com/pytorch/vision/issues/1797 , https://github.com/pytorch/vision/issues/1977 and https://github.com/pytorch/vision/issues/2145 for example.

The underlying issue is that these models use `scipy.truncnorm`, for which the implementation was recently updated and became 100x slower

[2020-04-30 10:36] fmassa commented on #2145
Hi,

This is an issue with latest version of scipy, see related issues https://github.com/pytorch/vision/issues/1797 and https://github.com/pytorch/vision/issues/1977, and you can fix that with `init_weights=False` argument in inception.

I think given how recurrent this issue is now we should maybe consider changing the default weight initialization in `inception_v3`. I've opened an issue to trac

[2020-04-30 10:36] #2145 closed

[2020-04-30 10:57] fmassa commented on #2120
We don't currently provide the ResNet34 backbone for segmentation models, and it would need a few changes to BasicBlock in order for it to start to be possible, see https://github.com/pytorch/vision/issues/2121

[2020-04-30 11:02] fmassa commented on #2144
Yes, having degenerate boxes (i.e., boxes for which `xmin <= xmax` or `ymin <= ymax`) does yield NaN during training.

If you don't have any boxes in your image, you should do instead the following, as explained in the release notes https://github.com/pytorch/vision/releases/tag/v0.6.0
[code]
here is a more complete example https://github.com/pytorch/vision/blob/f9ef235c402f48a335293c626e17bd8504d

[2020-04-30 11:02] #2144 closed

[2020-04-30 11:43] bisakhmondal commented on #2145
Thanks for the response and the fix :+1: . Really appreciate it. :)

[2020-04-30 11:58] bisakhmondal commented on #2166
Thanks for openning an seperate issue for this. As you said i was looking into the Scipy issue and trying to understand the behaviour of https://github.com/pytorch/vision/blob/f9ef235c402f48a335293c626e17bd8504d3af87/torchvision/models/inception.py#L103-L116.
I think weight initialization with PyTorch `nn.init` module can significantly improve the scenario. I have tested with
[code]
for weight ini

[2020-04-30 12:43] fmassa commented on #2166
Hi,

Sure, please it would be great if you could work on it.

I think that we should still keep the old behavior if the user wants, and raise a warning to make users aware of it.

One option would be to change the default value of `init_weights` to be `None`, and raise a warning if it's None (forcing the users to be aware of it until they explicitly set the value to either True or False).

[2020-04-30 13:10] fmassa commented on #1861
Hi,

The issue is that you need to have a newer version of PyAV, as `.close` was added in PyAV 6.2.0, see https://github.com/mikeboers/PyAV/blob/develop/CHANGELOG.rst#v620

Just update pyav and you should be fine.

I'm closing the issue but let me know if you have further issues

[2020-04-30 13:10] #1861 closed

[2020-04-30 13:21] EMCP opened #2167 "engine.py error while following tutorial"
## 📚 Documentation

I have found this library via the examples at https://pytorch.org/tutorials/intermediate/torchvision_tutorial.html

I ran the google colab and that successfully finished.. however when I go to copy `master` from here and use it locally I am getting an error..

Engine.py line
![image](https://user-images.githubusercontent.com/3691722/80714967-f9c0bc80-8af5-11ea-8d17-1d8f1278a69d

[2020-04-30 13:25] fmassa commented on #2152
Copy-pasting models in torchvision is the most flexible way, and I wouldn't say that it is not recommended, as this allows us to keep the implementation simple.
This way users have full flexibility on how to modify the implementation for their own needs (which is generally needed for research), and the least amount of indirections / complexity the better.
Another example is that disallowing loadin

[2020-04-30 13:25] #2152 closed

[2020-04-30 13:28] smart022 commented on #2132
same problem and same env like ahead.

[2020-04-30 13:36] EMCP commented on #2167
When I look at my DataLoader it seems to be giving correct items

[code]

[2020-04-30 14:09] fmassa commented on #2167
@EMCP You need to feed a `torch.Tensor` to the model. Your Dataset is returning a PIL Image, that's why it's not working. We convert the PIL Image into a torch Tensor in the dataset (via the `transform`.

[2020-04-30 14:09] #2167 closed

[2020-04-30 14:29] EMCP commented on #2167
big thank you.. Feels like I'm almost there then with it

[2020-04-30 14:52] bisakhmondal commented on #2166
Hii,

Sure. That would be better.
Thanks.

[2020-04-30 15:20] fmassa commented on #2164
Hi,

Thanks for the PR, I've commented on it.

[2020-04-30 15:24] fmassa commented on #2161
Hi,

I recommend instead of tracing to use `torch.jit.script`, which is more generic as it supports control flow and more input types.
In torchvision, `torch.jit.script` is supported for all models, but not `torch.jit.trace`.

So here is what I would do:
[code]

As such, I'm closing this issue but let me know if you have further questions.

[2020-04-30 15:24] #2161 closed

[2020-04-30 15:29] fmassa commented on #2132
Hi,

My guess is that virtualenv is creating symlinks for the `.pyc` files, but not keeping the `.py` files.

Can you try creating an [environment with `python -m venv --copies` flag](https://docs.python.org/3/library/venv.html), to see if this fixes it?

[2020-04-30 15:48] EMCP commented on #2167
Should I open one more ticket if I have an issue... I had tried to use a different model in my local copy (resnet101) but this was basically not working.. so scrapped off that and went with the pretrained model from the demo...  Now seeing `Loss is nan, stopping training`

[code]

[2020-04-30 16:56] frgfm opened #2169 "[batchnorm] Add a eps on FrozenBatchNorm2d"
## 🚀 Feature

Introduce a `eps` attribute similar to the one of `BatchNorm2d` to enable erasing the difference in result between the two modules.

## Motivation

First, the inference does not match exactly `BatchNorm2d`:
[code]
yields `False` (average absolute difference around `2.5e-6` during my tests)

Second, in `torchvision`, the implementation of `FrozenBatchNorm2d` is used only [here](https:

[2020-04-30 17:46] fmassa commented on #2169
Hi,

Thanks for opening the issue, there is already a PR for it in https://github.com/pytorch/vision/pull/1947 , but tests fail for some models, so this should be done with care (i.e., the default value might need to be set to zero for it to keep backwards-compatibility)

[2020-04-30 18:11] fmassa commented on #2163
Hi,

Just to complement @mthrok questions, are you compiling torchvision in the same machine as the one you are using to run it? My impression is that you might have compiled using one system configuration, but are importing using another. Can you double-check?

[2020-04-30 18:35] ezyang commented on #2134
`whole-archive` is not the right flag. The real problem is because your executable isn't using any symbols from torchvision, the linker is pruning it away. You can verify that this is the case by running `ldd` on the resulting executable; you will see that there is a dependency on `libtorch.so` but not on torchvision. If you specify

[code]

This will force the linker to include.

@fmassa we shoul

[2020-04-30 18:53] jeffhu1 commented on #2132
Added the copies flag, still get the error

[2020-04-30 20:19] malhotraa opened #2171 "generate_anchors method in torchvision/models/detection/rpn.py is generating anchors with 1 / aspect_ratios instead of specified aspect_ratios"
## 🐛 Bug

[generate_anchors](https://github.com/pytorch/vision/blob/master/torchvision/models/detection/rpn.py#L77) method in rpn.py is generating anchors with 1 / aspect_ratios instead of specified aspect_ratios

## To Reproduce

Steps to reproduce the behavior:
* Call `generate_anchors` method with following input:
   scales: [32]
   aspect_ratios: [0.5]

* Output from above call is [-22, -11, 2

[2020-04-30 21:18] surisdi commented on #2163
Hi,

I installed Torch using the nightly build. I also re-installed all the libraries in the same machine. Now, the problem is slightly different, as it does not detect the "video_reader" package.

The folder structure under `[/path/to/environment]/lib/python3.8/site-packages/torchvision` contains `/csrc/cpu/video_reader/`. But this `video_reader` folder is not detected when checking for `_HAS_VID

[2020-05-01 06:23] pfrendl commented on #2132
Same issue here, Ubuntu 16.04, Python 3.5.2, PyTroch 1.5, torchvision 0.6. If I try to install torchvision 0.5, pip will try to also reinstall the previous torch version...

[2020-05-01 06:36] gingerboredman commented on #645
@fmassa I would like to add a SEnet implementation of MobileNetV2. Is that okay?

[2020-05-01 10:34] gingerboredman commented on #645
@fmassa I would like to add a implementation of MobileNetV3. Is that okay?

[2020-05-01 11:40] weirdseed commented on #2155
Thanks. I think I found the problem, and it's solved!

[2020-05-01 11:40] #2155 closed

[2020-05-01 12:22] pennarellor commented on #1712
Hi all, I upgraded to torchvision 0.5.0 and the pillow 7.0.0 issue is solved, but now I get this error

`ImportError: cannot import name '_HAS_OPS' from 'torchvision.extension'`

torch: 1.4.0
torchvision: 0.5.0
pillow: 7.0.0

[2020-05-01 17:33] saipreethamsata commented on #1712
Hi all,I am also getting this error after installing torchvision 0.5.0 and the pillow 7.1.2.
ImportError : cannot import name '_HAS_OPS'torch: 1.4.0
torchvision: 0.5.0
torch: 1.4.0
pillow: 7.1.2

Thanks in Advance!

[2020-05-01 20:12] soulslicer commented on #2132
Does downgrading to torch 1.4 work?

[2020-05-02 14:33] WaterKnight1998 opened #2172 "MaskRCNN model doesn't work with torch.cuda.amp.autocast RuntimeError: Unrecognized tensor type ID: Autocast"
## 🐛 Bug

I am converting the model into FP16.

Using `torch.cuda.amp.autocast`. But it throws me an error:

[code]

[2020-05-03 06:26] feiyangsuo commented on #1414
Say, may you tell which version of torchvision are you using? I'm with the same problem now.

[2020-05-03 06:51] feiyangsuo opened #2175 "ModuleNotFoundError: No module named 'torchvision.models.detection'"
I have pytorch1.1.0 and torchvision0.2.2 installed in my anaconda environment.
I can: 1. `import torch`; 2.`import torchvision` (following the toturial) Yet when `from torchvision.models.detection.faster_rcnn import FastRCNNPredictor`, error raised as:
[code]
I suspect that my version of torchvision is somewhat low. But my GPU driver only support cudatoolkit9.0, and version 0.2.2 is automatically

[2020-05-03 08:13] jydennis opened #2176 "EMNIST dataset class name error in torchvision"
## 🐛 Bug

The predefined letters List `_merged_classes` of EMNIST dataset (located at `vision/torchvision/datasets/mnist.py`) should be lower-case, according to EMNIST paper: https://arxiv.org/pdf/1702.05373.pdf

The above-mentioned list in repo:
`_merged_classes = set(['C', 'I', 'J', 'K', 'L', 'M', 'O', 'P', 'S', 'U', 'V', 'W', 'X', 'Y', 'Z'])`

The list it should be:
`_merged_classes = set(['c',

[2020-05-03 08:15] #2176 closed

[2020-05-03 12:32] bisakhmondal commented on #2175
Hi @feiyangsuo, in 0.2.2 release torchvision did not have a `detection` module as you can see [here](https://github.com/pytorch/vision/tree/v0.2.2_branch/torchvision/models).

If you are unable to update to the latest version of torchvison, I would suggest playing with the source code of the module available [here](https://github.com/pytorch/vision/blob/master/torchvision/models/detection/faster_r

[2020-05-03 18:07] pmeier commented on #2175
You need `torchvision>=0.3.0` to be able to use `torchvision.models.detection`.

[2020-05-04 09:49] #2157 closed

[2020-05-04 09:50] fmassa commented on #1708
Thanks for the investigation @mthrok !

[2020-05-04 10:08] fmassa commented on #2136
Fixed via https://github.com/pytorch/vision/pull/2174

[2020-05-04 10:08] #2136 closed

[2020-05-04 12:32] fmassa commented on #689
@4knahs if you think you could send a PR fixing the LSUN implementation it would be great!

[2020-05-04 12:33] fmassa commented on #2175
Closing following @bisakhmondal and @pmeier comments

[2020-05-04 12:33] #2175 closed

[2020-05-04 12:36] fmassa commented on #1712
Hi @pennarellor and @saipreethamsata

Those are different issues, and I would recommend opening a new issue for those.
It most probably means that you have a mismatch between the pytorch version and the torchvision versions

[2020-05-04 12:50] fmassa commented on #2163
@surisdi can you install torchvision using conda as well, instead of using pypi? It seems that you installed pytorch using conda while torchvision using pypi, which might have slightly different pytorch / torchvision nightlies.

[2020-05-04 13:40] fmassa commented on #2171
This all depends on what is the definition of aspect ratio that you are considering. If it's `width / height` or `height / width`. It looks like unfortunately we decided to use the "wrong" definition of aspect ratio.

Given that changing the implementation would be a BC-breaking change, I propose that we add a note in the documentation clarifying that aspect ratio that we consider is `height / wid

[2020-05-04 14:50] talcs opened #2179 "Implementing and training SE-ResNet and SE-ResNeXt and including them in "torchvision.models""
## 🚀 Feature
Inclusion of pretrained SE-ResNet and SE-ResNeXt models in torchvision.

## Motivation

SE-ResNet and SE-ResNeXt outperform ResNet and ResNeXt respectively and have been released around 2 years ago already.

## Pitch

Implementing SE blocks and creating ResNet and ResNeXt models that include them, which will be called SE-ResNet and SE-ResNeXt and will be available as a part of `torchv

[2020-05-04 15:09] surisdi commented on #2163
Hi @fmassa, I installed torchvision from source (following the instructions [here](https://github.com/pytorch/vision#installation)), as suggested in [this release](https://github.com/pytorch/vision/releases/tag/v0.4.2). Does installing torchvision using conda install `video_reader` properly? Thanks!

[2020-05-04 15:18] seyeeet commented on #1853
@mthrok can you tell me where i can find the pretrained models? right now I get an error when I want to load the pretrained version. I'm using the recent torch and torchvision.
![image](https://user-images.githubusercontent.com/62394093/80982156-eb75e780-8df8-11ea-81d6-655dc372ecc2.png)

[2020-05-04 15:21] fmassa commented on #1853
@seyeeet you need a nightly version of torchvision for that, it is not available in the 0.6.0 release

[2020-05-04 15:28] fmassa commented on #2163
@surisdi hi,

oh ok, I misread it from the `collect_env` results (which showed `pypi_0    pypi`).
The conda packages for torchvision do not contain the `video_reader` backend, and as such you indeed need to build from source.

Can you check if `video_reader.so` is present in `/path/to/environment]/lib/python3.8/site-packages/torchvision/`? And if yes, what is the error message when trying to do
[c

[2020-05-04 16:35] zhangguanheng66 commented on #2172
Please copy/paste code snippet for reproducing.

[2020-05-04 16:36] zhangguanheng66 commented on #2179
@fmassa  how do you think about those pretrained models?

[2020-05-04 17:04] surisdi commented on #2163
Hi, the `video_reader.so` file does not exist under `site-packages/torchvision/`, but it exists under `site-packages/torchvision-0.7.0a0+bd27e94-py3.8-linux-x86_64.egg/torchvision/`.

`site-packages/torchvision/` is a folder that is created when installing `torch`. After installing `torch`, I installed `torchvision` from source and it created the `site-packages/torchvision-0.7.0a0+bd27e94-py3.8-li

[2020-05-04 17:52] EMCP commented on #2021
Had this same error occur while attempting to perform the same tutorial.. but with ResNet101 .. perhaps the docs should be updated or a note added to reflect this ?

[2020-05-04 18:17] WaterKnight1998 commented on #2172
[code]

Where model is: torchvision.models.detection.mask_rcnn.maskrcnn_resnet50_fpn

[2020-05-04 20:44] zhangguanheng66 commented on #2172
@WaterKnight1998 Can you provide a more accessible code snippet? The above code seems part from your class object.

[2020-05-04 21:27] EMCP opened #2180 "Make ResNet max_resolution tuneable"
## 🚀 Feature
Perhaps this is my ignorance.. but I am attempting to avoid cropping or downsampling of my 4K sized images.. as they go into Faster R CNN with a ResNet 101 backbone.  Details can be found at https://discuss.pytorch.org/t/how-do-i-avoid-downsampling-with-faster-rcnn-resnet-backbone/79740

I found the `max_size=` parameter.. but it took only an integer.. which I couldn't not quite under

[2020-05-04 21:32] qhaas commented on #1841
Before reading this issue, had built pytorch from source with `TORCH_CUDA_ARCH_LIST=3.0` and this occurs when building torchvision with it, but editing the 'cpp_extension.py' file per above to add '3.0' for consumer grade kepler cards clears it.  Would be nice if said file picked up 'TORCH_CUDA_ARCH_LIST' when building torchvision.

[2020-05-04 22:35] WaterKnight1998 commented on #2172
[code]

[2020-05-04 23:09] seyeeet commented on #1853
@fmassa is there a way to install   torchvision_nightly in conda?

[2020-05-05 02:12] ababino commented on #993
@icesohelrana, I trained the faster_rcnn model with the resnet101 backbone on the COCO dataset. You can see the performance [here](https://github.com/ababino/pytorch_faster_rcnn_resnet101).

@fmassa, let me know if this is useful in any way.

[2020-05-05 11:48] RafayAK commented on #1841
@qhaas That would be nice!

[2020-05-05 13:20] fmassa commented on #2163
Hi,

Thanks again for the message, I managed to reproduce the issue. Looking into it

[2020-05-05 14:03] fmassa commented on #2163
@surisdi can you try https://github.com/pytorch/vision/pull/2183 and see if it fixes it for you?

We were missing a few files during compilation, and this fixed it for me locally.

[2020-05-05 14:07] zhangguanheng66 commented on #2172
I got URLError like this
[code]

[2020-05-05 14:08] zhangguanheng66 commented on #2180
@fmassa Do you think this's worth a PR?

[2020-05-05 14:16] fmassa commented on #2180
Hi,

Improving the docs would be great!

It is currently possible to define what is the max size of the image that will be fed to Faster R-CNN, as you said via the `max_size` and `min_size`.
Their use is the following: the resizing inside Faster R-CNN will be such that it keeps the aspect ratio of the image. So if your image is 4000x8000, and `min_size` is 200, the images will be rescaled to 200x4

[2020-05-05 14:16] #2180 closed

[2020-05-05 14:24] fmassa commented on #1853
@seyeeet installation instructions are in https://pytorch.org/get-started/locally/

[code]

[2020-05-05 14:24] surisdi commented on #2163
This works great, thanks!

[2020-05-05 14:25] fmassa commented on #2021
@EMCP could you please send a PR fixing the tutorial?

[2020-05-05 15:13] fmassa commented on #2163
Awesome, thanks for trying this out! I'll merge the PR

[2020-05-05 15:36] fmassa commented on #1841
@qhaas I agree it would be nice if PyTorch stored this information somehow, so that the user doesn't need to specify it themselves. Let me see if others think there is a way of doing this on PyTorch

[2020-05-05 15:39] peterjc123 commented on #1841
@fmassa Actually, it is not exactly the problem. It accepts the `TORCH_CUDA_ARCH_LIST` as the input, but it just rejects the old architectures like CC 3.0.

[2020-05-05 15:42] fmassa commented on #1841
@peterjc123 got it. but still, I've seen many times that the user need to manually specify `TORCH_CUDA_ARCH_LIST` if compiling on one machine and then executing the code on another one (with a different compute capability), while it could have been nicer if it was opt-out not to compile for all the architectures that your pytorch distribution supports.

[2020-05-05 15:46] cuongpxu commented on #1827
Hi,
I'm facing this issue on the lastest PyTorch version (1.5.0).

`Traceback (most recent call last):
  File "main.py", line 14, in <module>
    from torchvision import transforms
  File "/home/alan/anaconda3/envs/cuongpx/lib/python3.6/site-packages/torchvision/__init__.py", line 3, in <module>
    from torchvision import models
  File "/home/alan/anaconda3/envs/cuongpx/lib/python3.6/site-package

[2020-05-05 15:47] peterjc123 commented on #1841
@fmassa You mean a switch for compiling for all available architectures? Or we just do that by default?

[2020-05-05 15:54] qhaas commented on #1841
Thanks for the explanation @peterjc123 ; odd it would blacklist consumer Titan/Geforce keplers (3.0), but not enterprise Tesla keplers (3.5)...

[2020-05-05 16:02] surisdi opened #2184 "VideoClips with video_reader backend fails at loading clip with idx=0 if clip_length_in_frames=1"
## 🐛 Bug

The `VideoClips` class fails at loading the clip with `idx=0` when `clip_length_in_frames=1`, and the video backend is `video_reader`.

## To Reproduce

[code]

The output is the following:

[code]

## Expected behavior

It should load the first frame of the video (which is equivalent to the first clip of the video).

## Environment

[code]

## Additional context

The method `_read_video

[2020-05-05 16:23] EMCP commented on #2180
Sounds like a plan.  Then I need to verify the model I built using the min-max parameters because when I am overriding the backbone with ResNet... the min / max do not have any affect on memory footprint.. could it be I have tuned down the # of anchors in the RPN so that it is easier to fit within the measly 6GB ?

[2020-05-05 16:37] #2163 closed

[2020-05-05 17:15] fmassa commented on #2134
@bmanga could you look into adding `--no-as-needed` in the torchvision CMakeLists?

[2020-05-05 17:17] fmassa commented on #2180
@EMCP without further information it's hard to know what's going on. But the image resolution for Faster R-CNN can be tuned with the arguments I mentioned

[2020-05-05 17:19] #2166 closed

[2020-05-05 18:09] fmassa commented on #2171
Fixed with https://github.com/pytorch/vision/pull/2185

[2020-05-05 18:09] #2171 closed

[2020-05-05 18:36] bmanga commented on #2134
@fmassa May I suggest to use an inline variable to register the operators instead?
I can give that a try first, so we can avoid hacks in the cmake scripts.

[2020-05-05 18:46] EMCP commented on #1700
For those curious, I believe they have the issue at https://github.com/cocodataset/cocoapi/issues/356

[2020-05-05 18:49] fmassa commented on #2134
@ezyang what do you think?

I think it might be preferable to avoid having to ask users to `register_torchvision_ops()` in their C++ files.

[2020-05-05 20:16] EMCP commented on #2180
Once I get past the entire tutorial I will verify work and attempt a PR, meanwhile I am a bit stuck with an AssertionError within the CocoEvaluator area... will peak over at pycocotools to see whats up

https://discuss.pytorch.org/t/torchvision-cocoevaluator-data-set-assertionerror/79882

[2020-05-05 20:33] bmanga commented on #2134
@fmassa Inline variables should work just like the current approach. Officially they are C++17, but you can get essentially identical functionality using `__attribute__((weak))`.

I personally don't mind a RegisterOps function. I think there might be users of torchvision that don't need them, and for those who do it's just a function call.

Either approach is IMO  better than using linker hacks, o

[2020-05-06 00:22] thiagocrepaldi commented on #833
Should this issue be closed? Today users can install torch and torchvision through `conda install pytorch torchvision cudatoolkit=10.2 -c pytorch-nightly`

[2020-05-06 00:28] alsrgv commented on #833
Please continue supporting PyPI. Conda is not for everyone :-)

[2020-05-06 00:31] ezyang commented on #2134
@bmanga I don't think `__attribute__((constructor))` will work? It will put things in the `ctors` section of your library, which is the same thing that static initializers do, and the linker will prune it away if you literally don't depend on any symbols.

There's nothing wrong with having a register operators function. It doesn't do any harm, and it will save you from having to do `--no-as-needed

[2020-05-06 00:31] ezyang commented on #2134
cc'ing @malfet too

[2020-05-06 00:40] thiagocrepaldi commented on #833
`pip install --pre torch torchvision -f https://download.pytorch.org/whl/nightly/cu102/torch_nightly.html` is also available as described at https://pytorch.org/

[2020-05-06 01:45] Lucksong opened #2188 "Is there any version can support cuda9.0?"
## ❓ Questions and Help

### Please note that this issue tracker is not a help form and this issue will be closed.

We have a set of [listed resources available on the website](https://pytorch.org/resources). Our primary means of support is our discussion forum:

- [Discussion Forum](https://discuss.pytorch.org/)

[2020-05-06 03:55] soumith commented on #833
yes, we now have a good release engineer @seemethere , and graduated from arbitrary time donations. we have alarms and smoke tests and stuff in case nightlies stop working.

[2020-05-06 03:55] #833 closed

[2020-05-06 10:27] bmanga commented on #2134
@ezyang true, late night thoughts should be left for the morning 😅

I think it is a bit unreasonable to expect the operators to be registered just by linking the library without even including a single header. Is that really a common case?

What about the following?
* Have the user include any header from the library, even just `vision.h`
* Document in the README that if you are only planning to u

[2020-05-06 10:36] fmassa commented on #2188
You might be able to compile torchvision from source for CUDA 9.0, but it's been at least 9 months that we haven't released a package for CUDA 9.0, so you would be missing a number of new features

[2020-05-06 10:36] #2188 closed

[2020-05-06 10:38] fmassa commented on #2188
For completeness, torchvision 0.3.0 (released in April 2019) was the last one that was distributed with CUDA 9.0.
You can still install it via conda

[2020-05-06 16:17] fepegar commented on #1884
I'm having a similar problem:

[code]

I'm iterating over a `Dataset` built using `VideoClips`. The error happens while retrieving sample number 156 out of 174, so it's not the end of the video. For now, I just commented out the assertion, but this way I can't use a `DataLoader` because the samples will have different size.

[2020-05-06 16:18] fepegar commented on #1884
I haven't been able to try with `video_reader`:

[code]

[2020-05-06 17:28] fmassa commented on #2134
Hi @bmanga

Thanks for the discussion. After seeing the discussion here, I think it might be preferable to follow PyTorch's convention.

@bmanga can you clarify why we would need to copy the code from `caffe2_interface_library`, instead of just passing `--no-as-needed`?

[2020-05-06 17:30] qhaas commented on #1827
Seeing this error with Torchvision 0.6.0 (built from source) on ppc64le (CUDA 10.0) and x86-64 (CUDA 10.2) with PyTorch 1.4.0 (built from source), python 3.6.9 on Ubuntu 18.04.  I'll attempt to downgrade TorchVision to 0.5.0 since ppc64le is currently broken with PyTorch 1.5.0.

[2020-05-06 19:04] bmanga commented on #2134
@fmassa because if we really want this behavior
* it should be done for windows, mac and linux
* We want to limit it to torchvision only, so we need to add `"-Wl,--no-as-needed,libtorchvision.so,-Wl,--as-needed"`
* If we can, it would be good not to tie ourselves into requiring that torchvision be built as a shared library

`caffe2_interface_library` mostly solves these problems, although it is no

[2020-05-06 19:24] EMCP commented on #2180
I figured out what I was doing wrong... I have chosen to perform a freezing of the gradients within the backbone.. my mistake now makes the network run on the 6GB card.. but this is not what I want... I want what is now being called "fine-tuning"..

https://discuss.pytorch.org/t/how-do-i-avoid-downsampling-with-faster-rcnn-resnet-backbone/79740/2

When I tried to follow another post regarding fine

[2020-05-06 21:05] ezyang commented on #2134
I agree that writing the relevant cmake code portably is not so easy. I am a bit curious how the `#include` trick would work; since I feel like you still have to use the symbols somehow, just externing this isn't enough. (Maybe if the header sets some weak symbol)?

[2020-05-06 22:47] WaterKnight1998 commented on #2172
Why?

[2020-05-07 07:15] bmanga commented on #2134
@ezyang yes, that's what I had in mind when I mentioned inline variables.
In the `vision.h` header, we could have something like:
[code]
And that should be enough to ensure that the library is loaded (RegisterOps is defined in a cpp file), and that the code is run only once.

[2020-05-07 08:50] SlowMonk opened #2192 "IndexError: Dimension out of range (expected to be in range of [-1, 0], but got 1)"
When coco dataset has empty bbox annotation
following error occured.
How should I handle the empty bbox dataset in cocodataset

IndexError: Dimension out of range (expected to be in range of [-1, 0], but got 1)

[code]

[2020-05-07 09:28] bjuncek commented on #1884
@fmassa this seems like a problem similar to what I had on my devmachine which I have attributed to the overall messiness of my conda installation and such: namely, I've had several issues where a standard install would not build the `video_reader` and I'd have to
a) manually install the dependencies, and
b) build TV from source

_note_: often a few iterations of a) and b) before everything was wo

[2020-05-07 09:39] fepegar commented on #1884
I'm not sure exactly what you'd like me to confirm 😅

I'm on macOS, ran this:

[code]

And got the above message. I'll investigate further. But I feel like this is a different issue.

[2020-05-07 09:45] fepegar commented on #1884
My value of `ext_specs` is `None` here, in case it helps.
https://github.com/pytorch/vision/blob/7a36388cfa4cef309094f3d9aa4606055435f4b4/torchvision/io/_video_opt.py#L24

Would you like me to try building from source?

[2020-05-07 11:54] xkszltl opened #2193 "Duplicated function channel_shuffle()"
## 🐛 Bug

Get the following error when compiling today with pytorch master.
This should be a recent regression as I was able to do the same in Apr.

[code]

## Environment

 - PyTorch / torchvision Version (e.g., 1.0 / 0.4.0): master/master
 - OS (e.g., Linux): Ubuntu 18.04
 - How you installed PyTorch / torchvision (`conda`, `pip`, source): source
 - Build command you used (if compiling from sour

[2020-05-07 13:56] zhangguanheng66 commented on #2193
Could you add a code snippet to reproduce the error?

[2020-05-07 13:57] zhangguanheng66 commented on #1884
@fmassa do you have a idea about the issue?

[2020-05-07 14:00] zhangguanheng66 commented on #2192
@fmassa Could we add a check to avoid the out of range problem?

[2020-05-07 14:58] mjunyent commented on #1884
Hello,

We digged a bit more in this and found that setting `should_buffer` to True fixes the issue: https://github.com/pytorch/vision/blob/85b8fbfd31e9324e64e24ca25410284ef238bcb3/torchvision/io/video.py#L110

The problem is in this section that reads the frames:
https://github.com/pytorch/vision/blob/85b8fbfd31e9324e64e24ca25410284ef238bcb3/torchvision/io/video.py#L144-L150

PTS might not be rea

[2020-05-07 15:34] kotchwane commented on #2167
I'm having the exact same issue here... Could you be more precise about what needs to be changed? I checked 10 times, I did not miss one step from the tutorial.

[2020-05-07 16:10] kotchwane commented on #2167
Okay, I found it. While doing the tutorial, I had commented these lines, inside PennFudanDataSet, because the created problems for early testing :

`if self.transforms is not None:
            img, target = self.transforms(img, target)
`
Un-commenting these solved the issue (and, of course, led to a new one).

What I had not realized earlier in the tutorial, and led me to wrongly comment those two

[2020-05-07 17:46] xkszltl commented on #2193
@zhangguanheng66 I think it's unnecessary.
This is simply a compile error saying you have 2 definition of channel_shuffle():

- One is in pytorch (ATen) probably from this commit during last week: https://github.com/pytorch/pytorch/commit/df31ddbd98fa06ece235033438d13eb7c93c420e
- The other is the one in the `shufflenetv2.cpp`.

Since there're `using namespace at` everywhere, even in `.h`, within

[2020-05-07 18:54] lukasHoel opened #2194 "Float PILImage not converted as writeable"
## 🐛 Bug

When we have a float PIL-Image (e.g. mode='F'), e.g. for the purpose of applying transforms to it, and finally convert it with `ToTensor` then it will print the warning

The writeability of the numpy array got lost somewhere when converting a numpy array to PILImage with `Image.fromarray(numpy_array, mode='F')` and then after some transforms to a tensor with `ToTensor`.
This does not hap

[2020-05-07 20:08] Ed-Roodzant commented on #1899
Having this same problem.  Not 100% sure where to put that patch, but not having any success yet.

[2020-05-07 21:12] s1ddok commented on #2132
I can confirm that downgrading to 1.4 and 0.5.0  works

[2020-05-07 23:16] zhangguanheng66 commented on #2194
In your snippet code, `Image` is not defined.

[2020-05-08 01:45] ezyang commented on #2134
It feels a bit dirty doing this, but I'm willing to give it a try.

[2020-05-08 04:58] lukasHoel commented on #2194
Sorry, forgot that. Now added, it's the PIL image...

[2020-05-08 13:58] zhangguanheng66 commented on #2194
Yeap. I got the same warning as you.  @fmassa Do you thing if we need a fix for this?

[2020-05-08 18:29] pmeier commented on #2194
We started to split `to_tensor` in `pil_to_tensor` (#2092) and `convert_image_dtype` (#2078). Maybe this already covered by what we already have. If not, I think it would be good fit there.

[2020-05-08 19:07] lukasHoel commented on #2194
@pmeier had a quick look at both suggestions:

- `pil_to_tensor` has the same problem, as it uses `np.asarray` instead of `np.array` to convert from PIL to numpy. I mentioned this in the corresponding line of code, see #2092. If it is ok to swap the numpy method, this would solve the problem in a similar way as in my workaround above, but also integrate it nicely into t`ransforms.Compose`.

- `con

[2020-05-08 19:12] pmeier commented on #2194
It was meant as suggestion where we should fix this. If I understood @fmassa correctly `convert_image_dtype(pil_to_tensor(pil_image))` will replace `to_tensor(pil_image)` in the future.

[2020-05-10 10:16] BlackHC opened #2196 "WideResNet implementation doesn't use Dropout"
## 🐛 Bug

WideResNets as described in the original paper ("Wide Residual Networks" <https://arxiv.org/pdf/1605.07146.pdf>) use Dropout. The Torchvision implementation does not.

If this for performance reasons, or similar, please add a comment. It would be very helpful to point out that difference clearly. When it comes to reproducing baselines, confusion about what is a real WideResNet vs not cou

[2020-05-10 16:46] zhangguanheng66 commented on #2196
@fmassa  It seems a reasonable request.

[2020-05-11 03:25] wangjunfeng90214 commented on #2111
My system is ubuntu 16.04,
torch and torchvision version as below:
torch.__version__
Out[5]: '1.5.0+cu101'
torchvision.__version__
Out[6]: '0.6.0+cu101'

~$ nvidia-smi
Mon May 11 11:20:04 2020
+-----------------------------------------------------------------------------+
| NVIDIA-SMI 418.56       Driver Version: 418.56       CUDA Version: 10.1     |
|-------------------------------+--------------

[2020-05-11 10:07] fmassa commented on #2196
WideResNet was implemented in torchvision by @szagoruyko (who wrote WideResNet).

@szagoruyko any comments on that?

[2020-05-11 10:17] szagoruyko commented on #2196
Dropout is only used in CIFAR models, there is no dropout in ImageNet models which are exactly the same as ResNet in torchvision except for width, see the original implementation https://github.com/szagoruyko/wide-residual-networks/blob/master/pretrained/wide-resnet.lua

[2020-05-11 10:26] fmassa commented on #2193
Thanks for opening this issue!

Can you send a PR fixing the implementation in torchvision to use the `::vision` namespace?

[2020-05-11 10:27] fmassa commented on #2196
Closing following @szagoruyko comments

[2020-05-11 10:27] #2196 closed

[2020-05-11 10:45] fmassa commented on #1841
@peterjc123 I meant to take whatever flags have been used for compiling PyTorch and using them for torchvision. It doesn't make much sense from a user perspective to have to worry about `TORCH_CUDA_ARCH_LIST` except if they want to compile to only a single architecture to reduce binary size.

So my thinking was that we could have something like `torch.__config__.show()` to also display the `TORCH_

[2020-05-11 10:46] fmassa commented on #1827
Hi,

torchvision 0.6.0 is expected to work with PyTorch 1.5.0, and we don't guarantee that it will work with earlier versions of PyTorch

[2020-05-11 10:48] frgfm opened #2197 "[roi_pool/roi_align] Support dropped for tuple of Tensors"
## 🐛 Support of Sequence of Tensors was downgraded to list of Tensors

Hello there,

I used to have a `roi_align` applied to a Tuple of Tensors, which is not working anymore since I updated torchvision. I believe the change is due to this [commit](https://github.com/pytorch/vision/commit/505cd6957711af790211896d32b40291bea1bc21)

## To Reproduce

[code]
which yields
[code]

## Expected behavior

S

[2020-05-11 10:53] sarmientoj24 opened #2198 "Dimension out of range (expected to be in range of [-1, 0] on transforms.py boxes.unbind(1)"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1. Create Dataset object
[code]

2. Create DataLoader
[code]

2. Create a model of MobileNetV2 on top of Faster RCNN (below is my model instance)
[code]
3. Train the model with libraries/modules from pytorch such as transforms.py, utils.py, engine.py, coco_eval.py, etc.
[code]
4. Error comes out like this:

[code]
wget https://raw.github

[2020-05-11 10:55] fmassa commented on #2197
Yes, this is a bug and it would be great to be fixed. Could you send a PR fixing it?
Should just be a matter of replacing
https://github.com/pytorch/vision/blob/eb84e5d5ec2e5477bcffd7196c52dc7a98bfd5eb/torchvision/ops/_utils.py#L30
with
[code]

[2020-05-11 11:00] peterjc123 commented on #1841
LGTM. cc @ezyang

[2020-05-11 11:00] fmassa commented on #2192
Hi,

This is an issue with your dataset implementation.
When there are no boxes in it, the boxes are expected to be of shape `0 x 4`, but instead you have a tensor of shape `0`.

You can fix this by doing
[code]
in order to guarantee your boxes will always have two dimensions.

But I agree with @zhangguanheng66 and we could add another check in the model to validate that the inputs have the correc

[2020-05-11 11:01] fmassa commented on #2198
Hi,

This is a similar issue as https://github.com/pytorch/vision/issues/2192 and as such I'm closing this issue. Let me know if you have further issues.

Also, looks like the code is very similar to the one in that issue, does it come from a tutorial somewhere?

[2020-05-11 11:01] #2198 closed

[2020-05-11 11:05] fmassa commented on #2192
I propose to add a check in `generalized_rcnn.py` for now, as it is the main entrypoint for those functions.

[2020-05-11 11:08] fmassa commented on #1700
@EMCP that issue has been fixed in cocodataset/cocoapi#354

[2020-05-11 11:40] BlackHC commented on #2196
Cool, thank you @szagoruyko for sharing this!

So I suppose, it's best to ignore the dropout sections in your paper, as they are not part of the pretrained/sanctioned code for ImageNet and CIFAR10 (as one can tell from reading the lua and PyTorch code)?

(The only use of Dropout I found in https://github.com/szagoruyko/wide-residual-networks/blob/master/models/wide-resnet.lua)

[2020-05-11 11:59] frgfm commented on #2197
Yes, I intended to so, I was just checking it was not made on purpose in anticipation of future changes!
Here is the PR #2199 !

[2020-05-11 12:15] amajee11us commented on #1723
How can we locate the matching version. I have verified the installation of pytorch and torchvision using conda and still it does not seem to work

[2020-05-11 12:18] fmassa commented on #1723
@amajee11us latest torchvision stable requires latest PyTorch stable, and latest nightly requires latest nightlies

[2020-05-11 12:36] fmassa commented on #1414
@feiyangsuo detection models are available in the 0.3.0 version of torchvision, and last released version is 0.6.0.

Installation instructions can be found in https://pytorch.org/get-started/locally/

[2020-05-11 12:46] fmassa commented on #1884
Hi @mjunyent

Thanks for the investigation!

We could make `should_buffer` be `True` by default. This would have a small impact on runtime speed though, but might be better to do this in order to avoid those corner-case issues.

The issue I found with empty pts was due to packed b-frames in DivX, but that was the only case I found for this type of video. I agree that the handling for this is very

[2020-05-11 12:52] ljqcava opened #2200 "Support more flexible ways to instantiate models in `torchvision.models`, e.g., remove fc layers, support for `pretrained=True` and `num_classes！=1000`"
## 🚀 Feature
Support more flexible ways to instantiate models in `torchvision.models`,

e.g., instantiate ResNet-50 only for feature extraction without FC layer like [Keras style](https://keras.io/api/applications/resnet/#resnet50-function):
[code]
load pretrained weights when class number doesn't equals to 1000(imagenet):
[code]
## Motivation
In many situations, we need more flexiable ways to ins

[2020-05-11 13:03] fmassa commented on #2200
Hi,

Thanks for opening the issue to start the discussion!

I have a few worries about the current approach:
- `include_top`: what is a `top`? Is it the last FC layer? should it also include the last `layer4` block or not? what about models like VGG, which have 3 MLP for the final classifier, should top be the last MLP or the last 3? There is no single answer for that, and instead of providing a s

[2020-05-11 14:25] ezyang commented on #1841
Yes this seems fine. Maybe will require a little work to setup, but certainly seems like useful information to retain.

[2020-05-11 14:40] fmassa commented on #1841
Created an issue in PyTorch to track this down https://github.com/pytorch/pytorch/issues/38229

[2020-05-11 14:46] Ingwar commented on #2152
Yes, at the end of the day, copy-pasting is the most flexible way, but it also the most error-prone (and inelegant) one, so I would prefer to resort to it only when significant change is required. I understand that this is my personal view and can not speak for the community here, but I think that we have something to gain and nothing to lose from implementing this change. It is relatively non-inv

[2020-05-11 14:52] frgfm commented on #2197
Fixed by #2199

[2020-05-11 14:52] #2197 closed

[2020-05-11 14:52] frgfm commented on #2169
Fixed by #2190

[2020-05-11 14:52] #2169 closed

[2020-05-11 14:54] fmassa commented on #2152
Hi,

Thanks for proposing to work on this.

I think the issue is that, even though is is a reasonable thing to ask, there are many other options that are also reasonable but that do not work in combination.
This means that we would start having to handle a number of corner cases due to conflicting options.

The pre-trained option is one of those -- there has been requests of users to let us load a

[2020-05-11 14:56] fmassa commented on #2169
Thanks @frgfm !

[2020-05-11 14:56] fmassa commented on #2197
Thanks for the fix @frgfm !

[2020-05-11 18:02] crypdick commented on #1827
I resolved this with `pip install --upgrade torch torchvision`

[2020-05-11 21:58] mmcenta commented on #2192
Hello, I would like to work on this issue.

[2020-05-11 22:38] Ingwar commented on #2152
So, if I got it right, it essentially boils down to the interaction of this option with pre-trained models - at least, I am not able to come up with a scenario where it would lead to the confusing or ambiguous behavior for the non-pretrained case. Feel free to correct me if I got wrong or if you have such scenario in mind :)

Let me think about it, maybe I'll be able to come up with something reas

[2020-05-12 04:30] dhiyu opened #2205 "Some issues in conv_transpose2d."
Recently I met this problem bothering me.
In TensorFlow, there is a funciton:
`tf.nn.conv2d_transpose(
    input, filters, output_shape, strides, padding='SAME', data_format='NHWC',
    dilations=None, name=None
)`
But in PyTorch:
`torch.nn.functional.conv_transpose2d(input, weight, bias=None, stride=1, padding=0, output_padding=0, groups=1, dilation=1) → Tensor`
As you can see there is no paramet

[2020-05-12 06:55] xkszltl commented on #2193
@fmassa PR sent

[2020-05-12 08:17] pmeier commented on #2205
What does that mean? Could you give an example how you want the output size to be rectified?

---

In general, `conv_transpose2d` has no parameter `output_shape` since it is completely determined by the other parameters.

- The batch size, i. e. `output.size()[0]`, does not change
- The number of channels of the output, i. e. `output.size()[1]`, is determined by `weights.size()[1]`
- The size of s

[2020-05-12 11:27] ljqcava commented on #2200
Yes, I do understand your worries. But in my opinions:

1. In many CV tasks, we remove all fc layers (perhaps also pooling layer after last conv layer) from these classification models (resnet-50, vgg-16, etc). The remained full convolutional backbones serve as feature exactors. I think we can add two arguments like the following to control that:

- something like `include_fc={True, False}` to rem

[2020-05-12 13:21] fmassa commented on #2205
Hi,

We use the issues for tracking bugs and feature requests.

This question is unrelated to torchvision, and is better suited for the forums http://discuss.pytorch.org/

As such, I'm closing this issue.

[2020-05-12 13:21] #2205 closed

[2020-05-12 13:22] #2193 closed

[2020-05-12 13:29] fmassa commented on #2192
@mmcenta go for it!

[2020-05-12 13:31] fmassa commented on #2152
It also interacts with https://github.com/pytorch/vision/issues/2200 for example, as another reasonable request, but which might add too much complexity.

[2020-05-12 13:35] fmassa commented on #2200
Another issue that is related: #2152

I think that adding those extra arguments like `include_fc={True, False}` or `pooling={None, avg, adaptive}` makes it fairly complicated, but not generally more generic.

One could arguably say that they would want to control the number of fc layers (maybe adding more than the initial one?). I think that given the generality of the task (model surgery), I woul

[2020-05-13 01:20] nvnnghia commented on #2021
hi @EMCP Could you please share your fasterRCNN with resnet101 code? Thanks

[2020-05-13 09:01] vshampor commented on #2132
Still, downgrading to 1.4 is not a solution for some since 1.4 release has a bug that precludes using integer `nn.Parameter` layers with disabled gradients while utilising DistributedDataParallel:
https://github.com/pytorch/pytorch/issues/32018

Would be good to have Python 3.5 support restored in the upcoming torchvision versions.

[2020-05-13 09:35] ljqcava commented on #2200
@fmassa OK. I will fork and do modifications in my own repository.

[2020-05-13 12:29] leoshine opened #2209 "Resize argument (w,h) ->(h,w)"
## 📚 Documentation

https://github.com/pytorch/vision/blob/7aea80c9497ff78353fef1d9699490c5da6f41b6/torchvision/transforms/transforms.py#L178

Resize argument should be (w,h) instead of (h,w).

[2020-05-13 12:34] #2209 closed

[2020-05-13 12:44] qhaas commented on #1827
Given how intertwined torchvision is with PyTorch, might not be a bad idea to enforce the torch version via requirements.txt, have a version compatibility chart documented (if it isn't already, didn't spot one), or base the version number of torchvision on its compatible version of PyTorch (assuming they are released in lockstep).

[2020-05-13 18:36] seemethere commented on #2132
@vshampor Is it possible for you to upgrade to a more recent version of Python?

In my experience the transition I've found the transition from Python 3.5 to 3.6 to be relatively painless.

The number of users on Python 3.5 is relatively small so we've decided to drop support in hopes that our engineers can have a more focused view when it comes to debugging and solving issues.

[2020-05-14 06:53] vshampor commented on #2132
@seemethere, that's what we had to do, and it did not cause much pain indeed, but I suppose that the official PyTorch website should be updated accordingly to explicitly state that only Python >= 3.6 is supported for PyTorch >= 1.5. Currently the website rather reads as "Python >= 3.6 is recommended", at least for the pip-Linux part of the installation instructions.

[2020-05-14 06:57] SumitBamal opened #2212 "TypeError when using transforms in inbuilt datasets"
I made a `torchvision.datasets` dataloader for `torchvision.datasets.SBDataset` :
[code]
Here the `data_transforms['train']` is a `transforms.Compose` instance.
And to show a batch i used this function :
[code]
Now when i try to call this function as
[code]
I get the following error:

[code]

I read the [sbd.py][1] for `SBDataset` class which inherits from `VisionDataset` which clearly implements

[2020-05-14 08:05] free-soellingeraj commented on #1718
I am obtaining `torchvision` using the docker image `nvcr.io/nvidia/pytorch:19.11-py3`.  Is there a docker image that incorporates the change above?

[2020-05-14 08:31] pmeier commented on #2212
Which version of `torchvision` are you using?

[2020-05-14 10:39] maximlopin opened #2213 "Image augmentation with bounding boxes."
## 🚀 Feature

Image augmentation with bounding boxes.

## Motivation

Torchvision already has data augmentation for images, but I think it would be convinient to support images with bounding boxes as well.

Here is a jupyter notebook with an example: github.com/maximlopin/boxaug/blob/master/example.ipynb

## Implementation

One way to implement this is to add an optional argument `bboxes` to `__ca

[2020-05-14 11:52] qizhen816 opened #2214 "linux build error: error: calling a constexpr __host__ function("ceil_div") from a __global__ function("nms_kernel") is not allowed."
When I build the latest torchvision with cuda 9.2, errors occur:
[code]
I checked `cuda.cmake` in libtorch and there is `list(APPEND CUDA_NVCC_FLAGS "--expt-relaxed-constexpr")`, apparently it didn't work. Any clue how to fix this?
[CMakeLists.txt](https://github.com/pytorch/vision/files/4628070/CMakeLists.txt)

[2020-05-14 13:31] fmassa commented on #2214
This is related to https://github.com/pytorch/vision/pull/2127

@zasdfgbnm could you send a PR fixing this?

[2020-05-14 13:32] fmassa commented on #1718
@free-soellingeraj I don't know. I don't think we provide docker images with our libraries.

cc @seemethere

[2020-05-14 14:34] fepegar commented on #1884
Thanks!

Shall I create an issue about `video_reader` not being available or you think it's been fixed in #2183?

[2020-05-14 18:07] fmassa commented on #1884
@fepegar please open a new issue. I hope it was fixed with #2183 , so if you try that first it would be graet.

[2020-05-14 18:25] axakak commented on #1712
Hi @pennarellor and @saipreethamsata

I had the same issue after resolving the Pillow version issue. Restarting the Jupyter notebook kernel resolved it.

[2020-05-14 18:28] fepegar opened #2216 "UserWarning: video_reader video backend is not available"
## 🐛 Bug

I get a "`video_reader` video backend is not available" warning when trying to set it.

## To Reproduce

Steps to reproduce the behavior:

[code]

Output:

[code]

I'm using the nightly version because I hoped this would be fixed in #2183.

I get only the warning (i.e. last two lines) in the stable pip release.

## Expected behavior

No warning when I set the backend.

## Environment

Py

[2020-05-14 18:35] SumitBamal commented on #2212
Torchvision Version: 0.4.0a0+d31eafa
Python version : 3.6

[2020-05-14 19:17] pmeier commented on #2212
True.

Wrong. The `StandardTransform` is used if `transform` **or** `target_transform` is supplied:

https://github.com/pytorch/vision/blob/cc4c2af750c34289abc2919623837afcc3139d98/torchvision/datasets/vision.py#L15

https://github.com/pytorch/vision/blob/cc4c2af750c34289abc2919623837afcc3139d98/torchvision/datasets/vision.py#L24-L26

---

Nope. `StandardTransform` is just our default way to bundl

[2020-05-14 21:03] zasdfgbnm commented on #2214
It is strange that why it is not compiling with `--expt-relaxed-constexpr`, but we can just make this function `__host__ __device__` so that we no longer rely on `--expt-relaxed-constexpr`. See https://github.com/pytorch/vision/pull/2217

[2020-05-14 22:16] #2214 closed

[2020-05-15 07:17] SumitBamal commented on #2212
Thank you for your response @pmeier. I will use the `StandardTransform` class and wait for its documentation.

[2020-05-15 07:17] #2212 closed

[2020-05-15 12:21] raviv commented on #1706
Although exporting the model in GPU mode fails, exporting it in CPU mode and then loading it into GPU-enabled onnx runtime (using onnxruntime-gpu PyPi package) works just fine.
I'm using torch==1.5.0 and torchvision==0.6.0

[2020-05-15 12:37] fmassa commented on #2194
@pmeier is correct, and `convert_image_dtype(pil_to_tensor(pil_image))` will be a substitute for `to_tensor(pil_image)` for most of the cases.

About the `writeable` issue, I think this lies within PyTorch itself.
Making a copy in torchvision would add more overhead, which might not be necessary in most of the cases.

[2020-05-15 12:53] fmassa commented on #2216
Hi,

This is expected, as we don't ship `video_reader` backend in the pre-compiled binaries.
For enabling `video_reader`, you'll need to compile torchvision from source following the "From source" section in https://github.com/pytorch/vision#installation

Note that it will require `ffmpeg` installed in your system for the `video_reader` to be available. You can obtain it by installing pyav from co

[2020-05-15 12:53] #2216 closed

[2020-05-15 12:55] fmassa commented on #1827
@qhaas that is a good point.
This should be fairly easy to do for stable versions of PyTorch / torchvision, but for the nightlies it might be a bit more complicated.

cc @seemethere for thoughts on how to enforce that the dependencies for the nightlies of PyTorch and torchvision align.

[2020-05-15 12:55] Finniu commented on #1706
Thanks, I will try. Another question is have you tried to convert the onnx model to tensorrt?

[2020-05-15 13:16] fmassa commented on #2200
@ljqcava the way I would recommend doing it is to instead of forking torchvision (and having to install your forked version) to either:

## Subclass the model that you want to extend (preferred)
Here is an example:
[code]
## Copy-paste the whole `resnet.py` file
This is a solution for maximum flexibility. The benefits from copying the file instead of forking torchvision is that you can still use t

[2020-05-15 13:16] #2200 closed

[2020-05-15 13:20] fepegar commented on #2216
I'll try building.

Is this documented anywhere?

[2020-05-15 14:13] fepegar commented on #2216
Got this after building from source and running the command I mentioned above.

[code]

Here's my environment:
[code]

[2020-05-15 15:06] fmassa commented on #2216
@fepegar

it is explained in the release notes https://github.com/pytorch/vision/releases/tag/v0.4.2 but maybe we can make it more explicit in the error message

About the error you got, looks like the compilation didn't succeed properly (you might have had error messages showing up).
I would suggest first uninstalling torchvision and then re-compiling it from source.

[2020-05-15 15:38] SsnL opened #2218 "Loading 16bit png images"
ported here from https://github.com/pytorch/pytorch/issues/32971

Original description:

When I was trying  to load 16 bit .png grayscale image with torchvision.datasets.imagefolder ,it is loading every image as white only.
I solved this issue by doing transformation operations outside Compose function.

cc @wanifarooq @choidongyeon

[2020-05-15 15:41] raviv commented on #1706
@Finniu No, I don't use tensorrt.

BTW, if you want to export maskrcnn_resnet50_fpn so that it accepts any input size, do:
[code]

[2020-05-15 16:28] chkda opened #2219 "FasterRCNN Bounding box error"
## 🐛 Bug

I am using a model for Faster RCNN `torchvision.models.detection`.  The problem is the value of the target bounding boxes keeps getting altered  The operation being performed is just a simple forward pass where loss is being evaluated.

## To Reproduce

Steps to reproduce the behavior:

[code]
This is what my labels tensor looks like at the start of the iteration
[code]
By the end of the

[2020-05-15 16:43] fepegar commented on #2216
Let me know if there's anything I can do to help.

I compiled it from source in a fresh environment.

You're right. I'll see if there are issues about that and, if not, I'll create one.

[2020-05-15 16:58] fepegar opened #2220 "Error building from source on macOS"
## 🐛 Bug

I can't build `torchvision` from source. I get the following error in the log:
[code]

## To Reproduce

Steps to reproduce the behavior:

[code]

<details><summary>Output</summary>
<p>
Building wheel torchvision-0.7.0a0+348dd5a
running install
running bdist_egg
running egg_info
creating torchvision.egg-info
writing torchvision.egg-info/PKG-INFO
writing dependency_links to torchvision.egg

[2020-05-15 21:19] bjuncek commented on #2220
Interestingly, was trying to replicate your error and got something completely different:

<details><summary>error</summary><br>
[code]
</details>

---

Maybe we should document the build process a bit better?

[2020-05-15 23:07] fepegar commented on #2220
Thanks @bjuncek,

I just tried the following commands with the same luck:

[code]

[2020-05-16 07:07] rwightman opened #2221 "DenseNet memory_efficient mode appears subtly broken since torchscript changes"
## 🐛 Bug

I was working with DenseNet recently, I noticed memory_efficient training was faster than with the flag disabled (unexpected), and it wasn't training very well at all, also errors from checkpoint fn about args not having required_grad=True set.

I believe #1342 subtly broke the checkpointing by wraping inputs in an extra layer of container

densenet.py:53
[code]

should be

[code]
## To

[2020-05-16 07:38] rwightman commented on #2221
Note, I didn't test my fix with torchscript so I may have broken that, my fix results in the inputs pasted to bn_function being a tuple instead of the annotated list type

[2020-05-16 09:25] BlakeXiaochu commented on #2111
Same problem, is there any workaround?

[2020-05-16 10:21] gamesMum commented on #302
Thabk for this thread it really helped me but now I'm getting this error when unpacking the model output:
` output, aux1= model(data)`
`ValueError: too many values to unpack (expected 2)`

[2020-05-16 10:27] Okery opened #2222 "Make R-CNN models support Automatic Mixed Precision (AMP)"
## 🚀 Feature

Now PyTorch 1.6.0 has torch.cuda.amp.autocast, I think we can make R-CNN models support Automatic Mixed Precision (AMP).

## Motivation

When AMP is enabled, the training speed may increase ~20% on GPUs that support FP16.

## Alternatives

There are 2 modifications:
- In ```torchvision/ops/roi_align.py```, function ```roi_align```
rois' datatype should be the same as input's datatype

[2020-05-16 10:46] gamesMum commented on #302
I solved it by unpacking the output in seperate two lines:
`output = model(data).logits`
`aux1 = model(data).aux_logits`
It seems that there are extra outputs such as `counts` that I don't believe we need for training

[2020-05-16 10:54] danilopeixoto commented on #1706
Exporting Faster R-CNN model:

[code]

Error:

[code]
I exported successfully when moving everything to CPU. GPU is not supported?

[2020-05-16 11:16] TheCodez commented on #302
@gamesMum I would advise not to do that, as you are essentially running your model twice.
Instead just use this once:
`output = model(data)`

and then access using:
[code]

[2020-05-16 13:30] raviv commented on #1706
@danilopeixoto This error has been reported above.
My solution was to export using CPU.
On inference you can use CPU, GPU, TensorRT, etc. depending on onnx runtime you use.
I'm using this one https://microsoft.github.io/onnxruntime/ and very happy with it.

[2020-05-16 17:07] gamesMum commented on #302
@TheCodez  oh dear how did I kiss that!
Thanks for pointing this out

[2020-05-17 06:11] xkszltl opened #2223 "Messy function lists printed in recent version."
## 🐛 Bug

When using the latest master of torchvision, we got a lot of "lists of functions" printed out everywhere.
Another version we used, from days to weeks earlier, was just fine.

Here you can see a simple `import torchvision` will print out a lot of them.

[code]

When used with Detectron2 (which calls torchvision internally), it gets even worse:
<img width="1787" alt="image" src="https://us

[2020-05-17 19:17] pmeier commented on #2061
This is fixed by #1696 and #2195.

[2020-05-17 19:17] #2061 closed

[2020-05-18 05:30] cnd commented on #1958
Hello, I have it there from 1.4
[code]
(tho not fully sure what's p0)

[2020-05-18 12:27] fmassa commented on #2221
@rwightman can you send a PR fixing this? This should be fine with torchscript, because we skip torchscript for that function (it doesn't support `checkpoint`.

Also, would there be another test we could add that would catch this? IIRC we already have a test for the checkpoint behavior, but maybe it is missing some corner cases

[2020-05-18 12:53] fmassa commented on #2223
Hi,

Thanks for the report! This will be fixed when https://github.com/pytorch/vision/pull/2210 gets merged.

[2020-05-18 12:56] fmassa commented on #2216
@fepegar if you could send a PR modifying the error message with `video_reader` backend mentioning that you need to compile torchvision from source to get it, it would be great!

[2020-05-18 12:58] fepegar commented on #2216
Ok, I will! But should I wait until #2220 is resolved?

[2020-05-18 12:58] fmassa commented on #2216
I'm looking at #2220 now, and I think I reproduced the error

[2020-05-18 12:59] fmassa commented on #2216
@fepegar you can send the PR improving the error message right now as it's independent on #2220 being fixed or not

[2020-05-18 13:06] fmassa commented on #2220
@fepegar thanks for opening this issue.

This should be fixed with https://github.com/pytorch/vision/pull/2224, can you pull it and give it a try?

[2020-05-18 13:36] fepegar commented on #2220
Silly question, but how do I pull your branch?

[2020-05-18 13:45] #2220 closed

[2020-05-18 13:45] fmassa commented on #2220
It would be something like
[code]
but I've just merged this on master, so you can just pull from torchvision again.

The issue got auto-closed due to the merge, but let me know if it doesn't compile for you

[2020-05-18 14:14] fmassa commented on #2219
Thanks for the bug report and detailed description!
This should be fixed with https://github.com/pytorch/vision/pull/2227

[2020-05-18 14:20] fepegar commented on #2220
Thanks. I ran the lines form https://github.com/pytorch/vision/issues/2220#issuecomment-629542543. Build seems OK.

Then I ran `python -c "import torchvision; torchvision.set_video_backend('video_reader')"` and got the error I mentioned in https://github.com/pytorch/vision/issues/2216#issuecomment-629258828.

[2020-05-18 14:26] fmassa commented on #2220
@fepegar this is a different issue, and I have a couple of ideas of what the problem might be:
- you had some parts of the old torchvision that got compiled, and only recompiled the `video_reader` backend at a later attempt, where the pytorch version might have changed in between. If you could do `python setup.py clean` and then re-compile torchvision, this would let us know if that's indeed the c

[2020-05-18 14:37] fepegar commented on #2220
`clean` didn't help. Also, I clone the repo every time I retry, so it should be clean at the beginning anyway.

I'll open a new issue.

[2020-05-18 15:00] fepegar opened #2228 "Can't import torchvision after building from source"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

[code]

<details>
<p>

[code]
</p>
</details>

## Environment

[code]

## Additional context

Related to #2220.

[2020-05-18 15:03] fmassa commented on #2228
Hi,

This is unrelated to `video_reader`, right? I suppose just doing
[code]
would give the same error?

[2020-05-18 15:05] Nuno-Mota opened #2229 "Ability to add extra custom roi-heads to generalizedRCNN models"
## 🚀 Feature
This feature would allow adding custom RoI heads to any existing GeneralizedRCNN model.

## Motivation

While the current functionalities of existing GeneralizedRCNN models are great, one might want to make extra predictions (like, e.g. the number of sides of an object) per detection, without having to alter the underlying torchvision code.

## Pitch

The idea would be to be able to p

[2020-05-18 15:24] fepegar commented on #2228
That's correct, apologies. I'll edit the issue accordingly.

[2020-05-18 15:27] fepegar commented on #2228
The error I get when I run the command from a folder which is not the repo is different:

[code]

[2020-05-18 15:35] fmassa commented on #2228
Oh, I think I know what this is.
You need a newer version of PyTorch in order to be able to run latest torchvision.
I would recommend installing a nightly version, using `conda install -c pytorch-nightly pytorch`.

[2020-05-18 16:45] fepegar commented on #2228
That seems to have solved it!

I do still get the `RuntimeError: object has no attribute nms` when I import `torchvision` from the repo folder.

[2020-05-18 16:54] fmassa commented on #2228
Great, thanks for the confirmation!

cc @eellison as he was facing the same issues

[2020-05-18 17:04] fmassa commented on #2228
@fepegar after some more thought, I think that having the error you mentioned is expected if you install with
[code]
python setup.py build develop
[code]

[2020-05-18 17:32] fepegar commented on #2228
Let me know if I can help. Anyway, this issue seems to be solved.

[2020-05-18 17:33] fmassa commented on #2228
@fepegar could you open an issue explaining the "import from root" behavior, so that we can track it and maybe at some point in the future fix it like numpy did?

As such, I'm closing this issue, thanks a lot Fernando!

[2020-05-18 17:33] #2228 closed

[2020-05-18 17:44] seemethere commented on #1827
This is actually already a requirement, per the wheel `pkginfo`:
[code]

Same goes for conda packages as well:
[code]

[2020-05-18 18:08] mthrok commented on #1827
We should have something similar to torchtext's dependency matrix for all the domain libraries.
https://github.com/pytorch/text#installation

[2020-05-18 18:54] rwightman commented on #2221
@fmassa sure, I'll get a PR in for that, will take a look at the model in broken state again and see if any tests come to mind...

[2020-05-18 19:49] #2132 closed

[2020-05-18 22:22] fepegar commented on #2228
Should I open a new issue though? The commands and output would be exactly the same as the ones in this one.

[2020-05-18 23:20] anibali commented on #2148
@fmassa I've found that it is currently very difficult to determine which pairings of PyTorch and Torchvision are compatible. For example, a question that I've had a few times in the past is "given that I have some old version PyTorch #.#.# installed (that I can't upgrade), what is the newest Torchvision that I can install with it?". Currently this is actually not so easy to find out. This is part

[2020-05-19 01:22] rwightman commented on #2221
Below will fail when the checkpointing isn't working properly... (or equivalently some of the model parameter grad attr are None after backward)
[code]

[2020-05-19 02:23] laizewei opened #2233 "Error compiling torchvision for Windows"
win10 x64  SDK 10.0.18362.0  ,visual studio 2019 16.5.5,   torchvision 0.6.0 , cuda 10.2

-------------------------------------------------------------------------
严重性	代码	说明	项目	文件	行	禁止显示状态
错误	MSB3721	命令“"C:\Program Files\NVIDIA GPU Computing Toolkit\CUDA\v10.2\bin\nvcc.exe"  --use-local-env -ccbin "D:\vs2019\VC\Tools\MSVC\14.25.28610\bin\HostX64\x64" -x cu  -I"C:\Users\william\Downloads\libtorch-w

[2020-05-19 05:15] pmeier commented on #2148
I second this. Had to do this multiple times myself.

If I'm not mistaken there is a one-to-one relation for the stable releases. If that is the case couldn't we put simple table or something similar somewhere?

[2020-05-19 05:32] sarmientoj24 opened #2235 "NaN Loss for FasterRCNN on Multiclass Object Detection on Custom Dataset COCO"
## 🐛 Bug

## To Reproduce
Code
# Dataloader / DataLoading
[code]

# Training procedure and Model Instace for FasterRCNN
[code]

## Expected behavior

I am getting NaN as Loss after some few epochs

## Environment

CUDA used to build PyTorch: 10.2

OS: Ubuntu 16.04.6 LTS
GCC version: (Ubuntu 5.4.0-6ubuntu1~16.04.12) 5.4.0 20160609
CMake version: version 3.5.1

Python version: 3.6
Is CUDA available:

[2020-05-19 07:15] EMCP opened #2237 "fresh installation of pytorch 1.5 and torchvision .6 yields error with docs"
## 🐛 Bug

using the latest installations from the pytorch recommended conda line, along with the following required libraries

[code]

I was able to hit an error in the line given under https://github.com/pytorch/vision/blob/master/references/detection/README.md
for performing Faster R CNN

I would also wonder if I can improve the docs by mentioning the fact that, in order to run that example you

[2020-05-19 09:32] #2219 closed

[2020-05-19 09:38] esgnn opened #2238 "Is segmentation necessary for keypoint r-cnn custom data training"
I am trying to train with a custom dataset which has boxes, labels and keypoints. As far as I can tell from [keypoint_rcnn.py](https://github.com/pytorch/vision/blob/master/torchvision/models/detection/keypoint_rcnn.py) this is all I need.
[code]
However, when I try to train using [train.py](https://github.com/pytorch/vision/blob/master/references/detection/train.py) I receive the following error

[2020-05-19 10:01] fmassa opened #2239 "Import torchvision from root project folder fails"
## The problem
This issue concerns users who installed torchvision from source via `python setup.py install`.

After installation, the location of the `.so` are moved to the site-package folder of the python distribution.
This means that importing torchvision from the root of the project folder (`cd vision`) fails with an obscure error message
[code]
This error usually appears when the library was

[2020-05-19 10:02] fmassa commented on #2228
So, about opening a new issue for tracking this, it's because it would be easier for someone to look at it and understand what it is about and how to act on it.

We already know what the root cause of the issue is, and possible solutions (e.g., the solution from numpy that I posted above).

So my thinking about opening a new issue would be to make it explicit on what the problem is, and potential

[2020-05-19 10:09] fmassa commented on #2237
Hi,

The error you are getting is because you don't have 8 GPUs on your machine most probably, but you run the script asking for 8 GPUs (in `nproc_per_node=8`).

It would be great if you could improve the docs of `references/detection/README.md` with the extra required libraries. Can you send a PR?

[2020-05-19 10:23] fmassa opened #2240 "Raise error if target boxes are degenerate in Faster R-CNN"
We have had a number of reports with users saying that their training loss is nan after a few iterations.

Most of the time, this is due to degenerate boxes (i.e., boxes with negative sizes or zero area). We should improve the user experience in those situations.

I think that raising an error in `GeneralizedRCNN` if the target boxes are degenerate would be a good compromise.

Related issues: http

[2020-05-19 10:24] fmassa commented on #2235
Hi,

I think the error might be due to the fact that you can have some degenerate boxes in your dataset, which have 0 width or 0 height.
I see that you have the following asserts
[code]
I woud replace the `assert xmin <= xmax` with `assert xmin < xmax`, and similarly for `ymin`,  or maybe remove the boxes with 0 area altogether. This is how we do it in torchvision example https://github.com/pytorc

[2020-05-19 10:24] #2235 closed

[2020-05-19 13:46] EMCP commented on #2237
perfect, I had never used these distributed commands before.. shall I make a note of that as well in the .md ?  I think so...

Secondly, it is implied that we setup the coco dataset as well?  When I turn down the # of GPUS to 1 it gives me this

[code]

[2020-05-19 15:54] sarmientoj24 commented on #2235
Hi, what is classes there?

[2020-05-19 15:57] sarmientoj24 commented on #2235
I have 5 classes, I saw in one forum that I need to increase the num_classes=6 for the background or not included in class?

[2020-05-19 16:03] anurag25 commented on #1827
Facing this issue with:
[code]
Any suggestions?

[2020-05-19 16:04] sarmientoj24 commented on #2235
I am still getting nan.
Things I did:
### Changing label to label - 1
```labelings.append(coco_annotation[i]['category_id'])```
to
```labelings.append(coco_annotation[i]['category_id'] - 1)```
So that labels start by 0 to num_class-1.

Result: no nan **BUT** unstable LOSS with wrong results
![preds_01 (1)](https://user-images.githubusercontent.com/8830319/82349837-30bb2b80-9a2d-11ea-9725-284e2c94a

[2020-05-19 16:08] fmassa commented on #2235
@sarmientoj24 we use `label=0` to represent background, so your labels should start with 1, not 0. This could lead to issues as well.
You need to add 1 to `num_classes` to account for background as well.

[2020-05-19 16:10] fmassa commented on #2237
You need to pass the `--data-path` flag to the script with the location of your COCO dataset, see https://github.com/pytorch/vision/blob/e6b4078ec73c2cf4fd4432e19c782db58719fb99/references/detection/train.py#L152

Yes, you could mention that in the README as well.

[2020-05-19 16:11] fmassa commented on #1827
@anurag25 please add more details for the error you are getting, and your system as well

[2020-05-19 16:25] EMCP commented on #2237
https://github.com/pytorch/vision/pull/2241

I will continue to run through the code in references/detection until I can replicate the expected result.  Once I have it working with COCO2017 or whichever dataset coco needs.. then I will try to graft in my custom dataset tagged in coco style, my dataloader... and try to debug from there

https://github.com/JRGEMCP/bootstrap-pytorch-torchvision-faste

[2020-05-19 17:47] sarmientoj24 commented on #2235
Yes, I think this is where it goes to nan.
#### Adding 1 to num_classes.
No nan but training is a bit more stable. Still running. Currently on 120th epoch

I saw this in the torchvision model but this is rarely seen in any tutorial/sample
I am still getting this on my 120th epoch. Is this normal?
![preds_01 (2)](https://user-images.githubusercontent.com/8830319/82360309-c6f64e00-9a3b-11ea-8e13-23c

[2020-05-19 21:13] fmassa commented on #2148
I agree that having a compatibility table would be a good start. But it would also help to raise informative error messages at runtime if the versions are incompatible.
It could even be as simple as grepping for `symbol not found` in the error message when loading the `.so` library, as it would probably cover most of the cases I think

[2020-05-19 21:26] vincentqb commented on #2148
How about we throw a warning when importing torchvision with an incompatible version of pytorch?

[2020-05-20 10:03] 1e100 commented on #980
To be fair though, these difficulties mostly pertain to classifiers. I've been using EfficientNets as feature extractors for object detection quite successfully, even training from scratch. My datasets are not COCO, they're for the actual, practical problems I'm solving, so there are fewer classes, less occlusion, but also noisier labels, and fewer samples.

EfficientNets do take longer to train f

[2020-05-20 10:32] fmassa commented on #2237
Thanks for the PR, I merged it.

You can load any COCO-style dataset with the reference code without modifications. If you want to create your custom dataset, I would recommend checking https://pytorch.org/tutorials/intermediate/torchvision_tutorial.html (and the Colab notebook that is linked on the top of the tutorial).

FYI, if you change the number of GPUs that you are training, you need to mod

[2020-05-20 10:32] #2237 closed

[2020-05-20 10:35] fmassa commented on #2148
This is a good start, but things get a bit more complicated with nightlies and when compiling from master.
I think we should try loading the library first, and if it fails identify from the error message the the versions are incompatible, maybe redirecting the users to the torchvision README which should contain a compatibility matrix of PyTorch and torchvision versions, like torchtext does.

[2020-05-20 12:05] ntatsisk opened #2245 "[C++ Frontend] Simple example with VGG gives memory error"
## 🐛 Bug
Hello! I have compiled the master branch of torchvision and used the pre-built libtorch lib. I manage to run the simple HelloWorld example using the ResNet18 but I get "Unhandled exception at 0x00007FFDB7D2A799" error when using the VGG16 network. It fails both for Release and Debug configurations (while ResNet works for both of them). Any ideas? Thanks.

## To Reproduce

[code]

By the w

[2020-05-20 16:21] vincentqb commented on #2148
The official statement is fairly straightforward for releases, and we could make a table to keep track of which torchvision version was targeting which pytorch version.

For releases, as I suggested above, we could also explicitly throw a warning when a different version is detected.

For nightlies or master, I see those as "at your own risk" with minimal guarantees. I would not say more than what

[2020-05-20 17:13] nvs-abhilash commented on #2240
@fmassa which option would be better, to Raise an Exception or to print a warning and do something like you suggested here: [https://github.com/pytorch/vision/issues/2235#L82](https://github.com/pytorch/vision/issues/2235#L82) ?

[2020-05-20 23:49] anibali commented on #2148
Speaking for myself, I'm only really concerned with the release versions available via conda/pip. I don't foresee a situation in which I'd personally need to figure out the PyTorch version compatibilities for old Torchvision nightly builds.

[2020-05-21 09:37] Nuno-Mota commented on #2229
After messing around with the code a bit more, I have found a far simpler alternative, that requires only a minute amount of changes to roi_heads.py, while still preserving all previous behaviour.

The idea would be to add to the (GeneralizedRCNN) model, after it has been created, the extra heads, by setting the value of an internal variable of the RoIHeads class. This variable starts as None, by

[2020-05-21 16:52] fmassa commented on #2229
Hi,

Thanks a lot for the detailed proposal!

This was something that I was considering in the beginning, but one thing that stopped me from pursuing it was that, in principle, the `values_for_extra_head` is not a really well-defined concept.

For example, a head could also take intermediate activations from the other heads, our the output of the `masks` to compute a refinement, etc. Because of th

[2020-05-21 16:54] #2221 closed

[2020-05-21 17:04] fmassa commented on #2148
No, we will only enforce to be compatible with latest release, if it ends up working with older releases (if compiled from source) that's a bonus, not a requirement.

My thinking was: import should not error. Users might not want to use C++ extensions, and the code should still hopefully work fine in most cases. But if the user calls into a C++ extension, then they should ideally get a good error

[2020-05-21 17:13] feihuidiqiu opened #2250 "cuda10.0 support for torchvision6"
I try to install torchvision6-cu100 with pip but failed, I can only find  the cu92 and cu101 version,  is there no support for cuda10.0 ?

[2020-05-21 18:20] fmassa commented on #2250
Similarly to PyTorch, torchvision dropped support for CUDA 10.0, and only support CUDA 9.2 and CUDA 10.1 and 10.2 in latest releases.

You can still compile torchvision on CUDA 10.0 and it should work, but it is not officially supported anymore.

[2020-05-21 18:20] #2250 closed

[2020-05-21 18:21] fmassa commented on #2240
I'm leaning towards raising an error, so that it is explicit to the user that there is a problem with their data and they should fix it.

[2020-05-22 06:29] pmeier commented on #2148
I've went through the blog posts and release notes and compiled the following table:

| `torch`              | `torchvision`        | `python`                 |
| -------------------- | -------------------- | ------------------------ |
| `master` / `nightly` | `master` / `nightly` | `>=3.6`                  |
| `1.5.0`              | `0.6.0`              | `>=3.5`                  |
| `1.4.0`

[2020-05-22 13:11] zuzaanto opened #2251 "ONNX export of MaskRCNN: inference fails when no detections are present"
## 🐛 Bug
After exporting MaskRCNN to ONNX, inference works correctly on images on which there are detection. However, when trying to infer on a tensor that will have nothing detected on it, exception is thrown:
`[E:onnxruntime:, sequential_executor.cc:183 Execute] Non-zero status code returned while running ReduceMax node. Name:'' Status Message: /onnxruntime_src/onnxruntime/core/providers/cuda/re

[2020-05-22 15:32] fmassa commented on #2251
Hi,

Thanks for the report!
This has been fixed in https://github.com/pytorch/vision/pull/2126 and https://github.com/pytorch/vision/pull/2215, and now exporting Mask R-CNN to ONNX should work on the nightly version of PyTorch and TorchVision (and a recent enough version of onnxruntime).

As such, I'm closing this issue, but let us know if you still face this issue

[2020-05-22 15:32] #2251 closed

[2020-05-22 15:46] fmassa commented on #2148
Thanks a lot for compiling this list @pmeier !

For torchvision < 0.3.0, the compatibility matrix was much simpler, because we didn't have compiled C++ bits in torchvision. So I would say that for PyTorch <= 1.0.0, the corresponding version of torchvision doesn't really matter, but we could pin it to 0.2.2

Patch versions also are compatible with the latest PyTorch stable release at the time of th

[2020-05-22 18:01] pmeier commented on #2148
Are you sure about that? [This blog post](https://pytorch.org/blog/pytorch-1.2-and-domain-api-release/) suggests that `torch==1.2.0` was released together with `torchvision==0.4.0`. If you are also right this would break the rule that "the latest stable release of `torchvision` is only compatible with the latest stable release of `torch`.

---

With your comments the table now looks like this:

|

[2020-05-23 06:19] Sentient07 opened #2254 "Using `vision.references`"
Hi,

I was wondering if there was a way by which I can use the modules inside `vision.references`, especially `vision.references.detection.engine`'s `train_one_epoch` method. At the moment, I am unable to import and use it rather would have to copy-paste or download. Could this be simplified into an import? (by adding an `__init__.py`) ? Or, perhaps there is a way to do this more elegantly and I'm

[2020-05-23 07:28] ShawnZhong opened #2255 "Avoid `using namespace at` in the header file?"
## 🐛 Bug

Some header files have `using namespace at` at the top level, which contaminates the file that included it, increasing the chance of name collision.

https://github.com/pytorch/vision/blob/d88d8961ae51507d0cb680329d985b1488b1b76b/torchvision/csrc/empty_tensor_op.h#L8

https://github.com/pytorch/vision/blob/57c789f893950331daf2721d08a7367a261317e1/torchvision/csrc/PSROIPool.h#L71

https:/

[2020-05-25 09:29] bjuncek opened #2259 "VideoReader segmentation fault on long videos with timestamps"
## 🐛 Bug

VideoReader segmentation fault on long videos when using `video_reader` backend.
Notes:
1. doesn't seem to happen with pyav backend
2. reading in the entire video, without timestams seems to hang - not sure if this is the function of the video being to long or internal errors

## To Reproduce

Steps to reproduce the behavior:

1. select a video (in this case EPIC Kitchens videos
2. set t

[2020-05-25 11:16] mhsmith commented on #2148
Thanks for gathering this information. At the very least, the "or newer" should be removed from the README, as the released packages on PyPI all have a `==` dependency, not a `>=` one, and it sounds like that is deliberate.

[2020-05-25 12:51] java-abhinav07 commented on #2154
Facing the same issue with torchvision.models.detection.keypointrcnn_resnet50_fpn pretrained network. Processing speed is reduced greatly because of the changes in torch.nn.functional

[2020-05-25 18:16] ajayrfhp opened #2262 "Unable to load CelebA dataset. File is not zip file error."
## 🐛 Bug

Unable to download and load celeba dataset into a loader.

## To Reproduce

1. Try to load CeleBA dataset with download true returns error
[code]

Returns
[code]

## Environment

- PyTorch version: 1.5.0+cu101
- Is debug build: No
- CUDA used to build PyTorch: 10.1

- OS: Ubuntu 18.04.3 LTS
- GCC version: (Ubuntu 7.5.0-3ubuntu1~18.04) 7.5.0
- CMake version: version 3.12.0

Python version

[2020-05-26 11:06] fmassa commented on #2255
Thanks for the bug report and the fix!
Fixed in https://github.com/pytorch/vision/pull/2257

[2020-05-26 11:06] #2255 closed

[2020-05-26 13:06] tsaizhenling commented on #2111
same issue here

[2020-05-26 14:31] fmassa commented on #2254
Hi,

We have for now on purpose avoided adding it as part of torchvision library, because those are meant to be training scripts and the abstractions are specific to a particular task.

Plus, copy-pasting (or cloning locally) makes it easier to adapt / modify the training scripts for your own needs, by adding prints / breakpoints easily for debugging, and is the most flexible way without adding to

[2020-05-26 14:31] #2254 closed

[2020-05-26 14:33] mhsmith commented on #2148
A correction for the table: the torchvision 0.5.0 package on PyPI requires torch==1.4.0, and it looks like torch 1.4.1 and 1.4.2 don't exist.

[2020-05-26 14:39] fmassa commented on #2148
@pmeier

My bad, this is how I think the compatibility matrix should look like

| `torch`              | `torchvision`        | `python`                 |
| -------------------- | -------------------- | ------------------------ |
| `master` / `nightly` | `master` / `nightly` | `>=3.6`                  |
| `1.5.0`              | `0.6.0`              | `>=3.5`                  |
| `1.4.0`

[2020-05-26 21:34] Sentient07 commented on #2254
Hi, @fmassa thanks for your reply. I am wondering whether there is an alternative way that is as easy and elegant as using some of the functions like `train_one_epoch`? It makes my training extremely simple, just a few lines without having to explicitly handle batches, epoch, and iterations. Furthermore, if I understand correctly, this function is not exclusive to a single model but any detection

[2020-05-27 05:38] Sentient07 opened #2263 "Making `transformation` an optional parameter in FasterRCNN"
Hello,

## 🚀 Feature
I think it would be more generic to have `transform`(https://github.com/pytorch/vision/blob/3d65fc6723f1e0709916f24d819d6e17a925b394/torchvision/models/detection/faster_rcnn.py#L231) as a function that can be modified by users rather than a default one.

## Motivation

I am applying transformations separately as a part of data augmentation, which includes cropping and resizing

[2020-05-27 06:47] zuzaanto commented on #2251
Hi,
Thanks! Changing PyTorch and TorchVision versions enabled me to run inference correctly (finally!), but I noticed (as of today) it only works for onnxruntime version 1.2.0 and 1.3.0 - not on 1.1.2 I was previously using.
Cheers

[2020-05-27 06:47] Sentient07 commented on #2263
Furthermore, this transformation class does not handle cases when targets are empty, leading to this error.

[code]

[2020-05-27 08:27] AndreaCossu opened #2265 "UCF101 datasets with DataLoader returns error when stacking examples in mini-batches"
## 🐛 Bug

`UCF101` dataset returns a `RunTimeError` when combined with standard `DataLoader` class. It returns the error when trying to stack multiple tensors in batches.

## To Reproduce
[code]

[code]

## Expected behavior

The iteration over the dataloader should return a video tensor of size `(B, T, C, H, W)` where B is batch size, T is the number of frames, C are the image channels and H and

[2020-05-27 08:34] breezelj opened #2266 "resnet_fpn_backbone with resnext101_32x8d error"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:
**when I try to load resnet_fpn_backbone with resnext101_32x8d**

`from torchvision.models.detection.backbone_utils import resnet_fpn_backbone
backbone = resnet_fpn_backbone('resnext101_32x8d', pretrained_backbone=True)`

**it give a error like this, it seems the resnext101_32x8d is not  corresponding with the pretrained model structure**

[2020-05-27 09:13] pmeier commented on #2262
This has nothing to do with the loader. We can get the same result with

[code]

---

The underlying problem was reported in #1920: Google Drive has a daily maximum quota for any file, which seems to be exceeded for the CelebA files. You can see this in the response which is mindlessly written to every `.txt` and also `.zip` file.

[code]

@fmassa We should check the contents of the response first

[2020-05-27 13:11] zuzaanto commented on #2251
Actually, after more thorough testing I found out that after passing an image that has no detections on it, when passing a next image (no matter with or without detections) in the same inference session, an exception is thrown. Depending on the method of starting the session, the exceptions are different:
* If starting inference session with:
[code]
The exception thrown is:
[code]
* If starting in

[2020-05-27 13:21] alegonz commented on #191
Perhaps we could have a (say) `v1_downsampling=False` argument to choose the v1 implementation? This is particularly useful if you want to reproduce as closely as possible a paper which uses a v1 resnet backbone for something.

Of course, you could cook a script yourself to hack a resnet instance to move the downsampling to the 1x1 convolution, but I think it would be better if everyone could rely

[2020-05-27 13:24] ntatsisk commented on #2245
OK since I couldn't fix this bug, I simply exported the VGG16 directly from python using the official torchscript tutorial [https://pytorch.org/tutorials/advanced/cpp_export.html](url) . I followed the "tracing" method and the only thing I added was "model.eval()" in python before the tracing part.

Feel free to close the issue, thanks.

[2020-05-28 14:33] WaterKnight1998 commented on #1002
@fmassa How could I get a torchscript version of `torchvision.models.detection.` `maskrcnn_resnet50_fpn`?

torch.jit.script and torch.jit.tarce are not working with this model

With torch.jit.script
[code]

Output:
[code]

With torch.jit.trace
[code]
Output
[code]

[2020-05-28 16:55] SsnL opened #2269 "to_tensor and pil_to_tensor inconsistency"
`to_tensor` uses `from_numpy` which never copies and always returns a CPU tensor. But `pil_to_tensor` uses `as_tensor`, which would return a CUDA tensor if the default tensor type is changed by the user (e.g., https://github.com/pytorch/pytorch/issues/39088). I think a discussion on what the correct behavior is is needed, followed with a patch to make the two functions consistent.

[2020-05-28 19:11] xkszltl commented on #2223
Confirmed the PR works.

[2020-05-28 19:11] #2223 closed

[2020-05-29 02:33] laizewei opened #2270 "member "torch::jit::detail::AttributePolicy::all_slots" may not be initialized"
I tried to compile the psroiales.cu file to report an error.

member of "the torch: : jit: : detail: : AttributePolicy: : all_slots" may not be initialized
member "torch::jit::detail::BufferPolicy::all_slots" may not be initialized
member "torch::jit::detail::ModulePolicy::all_slots" may not be initialized
member "torch::jit::detail::ParameterPolicy::all_slots" may not be initialized
D:\deeplearni

[2020-05-29 07:52] sykimm commented on #2154
I runned collect_env.py and get printed output.

Now, what should I copy and where should I paste it?

[2020-05-29 09:11] ptrblck commented on #1002
@WaterKnight1998 's issue also tracked [here](https://discuss.pytorch.org/t/torch-jit-trace-is-not-working-with-mask-rcnn/83244/4?u=ptrblck) with potential solution.

[2020-05-29 09:40] KoreanJ opened #2276 "Support new transform for converting PIL images into other mappings (RGBA for example)"
## 🚀 Feature
When reading in data from a folder and using the ImageFolder class (for example), I'm requesting that an additional transform method be available for converting between color channel mappings. Namely, something of the form:
transforms.Convert('RGBA') - similar to what the PIL Image object uses to convert.

## Motivation
As found in the pil_loader function of folder.py, each image is r

[2020-05-29 10:05] fmassa commented on #1002
@WaterKnight1998 to complement @ptrblck comment, it seems that your input is a `TensorImage` (which is not something that we provide in torchvision I believe)
If you pass instead a list of 3d tensors, it should work.

[2020-05-29 10:07] fmassa commented on #2154
@sykimm copy and paste on github the output of `collect_env.py`, although I'm not sure if the slowdown is due to the `nonzero` warning or the `Upsample` warning

[2020-05-29 10:20] fmassa commented on #2270
Hi,

Can you run `PSRoIAlign` from within Python using `torchvision.ops.ps_roi_align`?

[2020-05-29 10:32] fmassa commented on #2254
@Sentient07 having some functions be importable would definitely lower the bar for people to use it.

`train_one_epoch` is a bit generic and could be a candidate, but as you mentioned it is specific to our API for detection models. While it could make sense to have it exposed specifically for detection under `torchvision.engine.detection.train_one_epoch`, we would need to make it a bit more compli

[2020-05-29 10:48] fmassa commented on #2269
Hi Simon,

That's a good question, and I had a quick look at the linked discussion to get some more context.

In principle, I think that the current design of the DataLoader with multiprocessing is not ideal to support tensors being passed on the GPU (but I might be wrong).

This makes me think that we might want to enforce in torchvision that `pil_to_tensor` always returns a CPU tensor, but that

[2020-05-29 12:29] WaterKnight1998 commented on #1002
`TensorImage` is just a normal Tensor obtained from fastai that just add show function.

The problem that we are finding is that after tracing the output gets changed!

You can find the concrete output [here](https://discuss.pytorch.org/t/torch-jit-trace-is-not-working-with-mask-rcnn/83244/5?u=waterknight)

[2020-05-29 12:43] fmassa commented on #1002
@WaterKnight1998 I would recommend converting the `TensorImage` into a Tensor before feeding the image, and making it be a list of tensors of 3 dimensions.

[2020-05-29 13:29] #2240 closed

[2020-05-29 13:29] fmassa commented on #2240
Fixed in https://github.com/pytorch/vision/pull/2258

[2020-05-29 13:32] fmassa commented on #2265
Thanks for the bug report!

I see that you are using torchvision 0.5.0, would it be possible to try seeing if you reproduce the error with the latest stable release (0.6.0)?

[2020-05-29 13:34] fmassa commented on #2266
Hi,

Thanks for the bug report!
This has been fixed in https://github.com/pytorch/vision/pull/1728 and the fix should be present in torchvision 0.6.0

[2020-05-29 13:34] #2266 closed

[2020-05-29 13:36] fmassa commented on #2262
@pmeier thanks for looking into this!

Is this something that could be done in the `download_from_url` function, or would it need to be done on a case-by-case basis?

[2020-05-29 13:51] fmassa commented on #2263
Hi,

Thanks for opening the PR!

Exposing a `transform` argument to `FasterRCNN` is a tempting idea, and I think it could be done.

But it means that it would be conflicting with the following arguments https://github.com/pytorch/vision/blob/3e69462ff5549b2f3a9347859f7c4aba1a8c34ac/torchvision/models/detection/faster_rcnn.py#L145-L146

I think it could be fine if we do proper error checking. This

[2020-05-29 14:01] fmassa commented on #2245
Hi,

Thanks for the report!

I'm not sure what the cause of the issue could be with the C++ API. Maybe @glaringlee has an idea?

[2020-05-29 15:04] glaringlee commented on #2245
@ntatsisk
What libtorch version you were using? Do you have an error log?
It seems the c++ code was trying to access an invalid memory address.

I will try reproduce this under linux first.

@peterjc123 Can you help reproduce this on windows? thx

[2020-05-29 15:21] SsnL commented on #2269
I agree what the DataLoader is best suited to load CPU tensors. However, loading CUDA tensor is one of the things we support too, and unfortunately it seems that the DataLoader is one of the easier ways in PyTorch to do so.

However, I am hesitant to say that these methods should respect `default_tensor_type`, for potential BC reasons as `to_tensor` has existed for a long time. One common case sho

[2020-05-29 18:01] pmeier commented on #2262
`CelebA` uses `download_file_from_google_drive` and I would put the fix it before L167:

https://github.com/pytorch/vision/blob/a85f21d2cc5c82416423922e37038520cdbe74cb/torchvision/datasets/utils.py#L160-L167

Maybe it is as easy as checking the `response.status_code`.

Problem I see is that we need wait until we have a day where the quota is exceeded and fix it instantly. Furthermore, I have no i

[2020-05-29 18:35] kirk86 opened #2271 "Adding new datasets"
## 🚀 Feature
Are there any plans to add additional datasets that have clear splits between train/valid/test

## Motivation
Easy development and testing of models.

## Pitch

I'd like to see the following [dataset](https://github.com/pytorch/vision/issues) in the torchvision datasets.

[2020-05-30 00:21] ain-soph commented on #2269
Personal opinion is to have a quick fix by forcing ``cpu`` tensors, which is a bug fix. And things will work without exceptions. Of course it might be specified in the documents.

The capability to load ``gpu`` tensors for multiprocessing could be discussed as new features, since it seems to require more efforts.

[2020-05-30 00:27] SsnL commented on #2269
Loading to GPU is and has always been supported. It’s not a new feature.

[2020-05-30 00:37] ain-soph commented on #2269
I'm not quite sure about that? Is their any way to use ``DataLoader`` to load data to GPU? Currently, when I set ``num_workers=0`` or ``spawn`` start method, I still get CPU tensors based on what you have illustrated.

If I use ``Dataloader``, I need to transform them to ``cuda`` manually. If I want to load data directly to gpu, I need to code the pipeline in ``dali`` by myself.
I might be not fam

[2020-05-30 04:56] SsnL commented on #2269
It’s been in pytorch since a long time ago. Probably before 1.0 if I remember correctly. As long as you return a CUDA tensor from your dataset code and use proper start method, the main process will receive a CUDA tensor, regardless of num_workers.

It is always not advertised nor recommended because it makes CUDA memory management difficulty, moving to GPU really fast and not usually the bottlene

[2020-05-30 09:16] AndreaCossu commented on #2265
Yes, of course:

- **PyTorch version:** 1.5.0
- **Torchvision version:** 0.6.0a0+82fd1c8

Same exact code as above returns:

[code]

I tried to set ` _video_min_dimension=3`  in the `UCF101` constructor in order to prevent clips with very few frames to be taken into consideration. However, when looping over the final dataloader I obtain the error: `pyav backend doesn't support _video_min_dimension

[2020-05-31 11:08] java-abhinav07 commented on #2154
@fmassa I'm new to this but I'm keen on contributing and perhaps being able to fix this issue. Having checked repository and the warning, would simply setting ` recompute_sclae_factor = True` in the forward function help?

[2020-05-31 16:06] Sentient07 commented on #2263
Hi Francisco,

Thank you for your response. Why would we need the `min_size`, `max_size`, `image_mean`, `image_std` param separately? Could this not be integrated with `GeneralizedRCNNTransform` ? My idea is the user passing something like,

```frcnn = FasterRCNN(backbone, transform=GeneralizedRCNNTransform(min_size, max_size, image_mean, image_std))```

[2020-05-31 17:15] ajayrfhp commented on #2262
I see. Thanks, I will download at a later point then.

[2020-05-31 19:26] PseudoCodeNerd opened #2275 "Additional param in `torchvision.ops.nms` to set max no. of bounding boxes to return."
## 🚀 Feature

#### `torchvision.ops.nms(boxes, scores, iou_threshold)` --> `torchvision.ops.nms(boxes, scores, max_output_size, iou_threshold)`
Where:

- `max_output_size:` A scalar integer `Tensor` representing the maximum number of boxes to be selected by non max suppression.
## Motivation
Often, we only like a certain number of bounding boxes even after non-max suppression. This parameter accom

[2020-06-01 01:05] laizewei commented on #2270
I changed 'constexpr' to 'const' for these lines of source code to run successfully

[2020-06-01 02:59] guangdongliang commented on #2111
same issue here, can anyone give some advice about "operator prim_Uninitialized" ?

[2020-06-01 09:52] FabianSchuetze commented on #885
Is there any work already done on including the `transform ops` in the cpp api?

I see that the python implementations `transform ops` often use the `PIL Image` object as arguments for function calls. How would images be passed in the cpp api?

[2020-06-01 10:16] fmassa commented on #2275
Hi,

I'm not sure it's necessary to add another argument to `nms` to specify the maximum number of boxes to return, as this can be accomplished very easily with indexing:
[code]
while being as efficient as if we added the parameter directly in C++. Indeed, this will return the `max_output_size` top scoring boxes after NMS, which is probably what one would want.

Given that this can be implemented

[2020-06-01 10:16] #2275 closed

[2020-06-01 10:17] fmassa commented on #2154
@java-abhinav07 yes, it would help, but one would need to verify that it doesn't change the behavior of the code so that old models still give the same result

[2020-06-01 10:18] fmassa commented on #2270
Hi,

Could you clarify which lines you changed to `const`?

[2020-06-01 10:20] fmassa commented on #2262
@pmeier your fix sounds good to me, but indeed, this might be difficult to test.

[2020-06-01 10:22] fmassa commented on #2263
@Sentient07 we already support passing `min_size` etc to the model. So what should we do if the user specifies the model as follows:
[code]
as you can see, now `min_size` is unused by the model, and this can lead to subtle errors on the user side because they will change `min_size` but won't see any difference in predictions (because the predictions are always rescaled back to the original image s

[2020-06-01 11:25] PseudoCodeNerd commented on #2275
Hey @fmassa ! Yes, I totally agree with you. In fact, I myself sliced, it that way in my code while doing object detection stuff.:smile: .I just thought that it'd be nice if there was similarity in modules of Tensorflow and PyTorch. If complexity is the case here then sure, this additional parameter can be avoided.

Thank You.

[2020-06-01 13:38] pmeier commented on #2262
@fmassa I suggest we wait for another issue raising this problem. At least I won't check daily if this quota is exceeded. If there is another issue for this and I miss it or you somehow find a day when we can fix this feel free to tag me in. I'll see what I can do.

[2020-06-01 14:07] java-abhinav07 commented on #2154
@fmassa I'll try it locally and get back

[2020-06-01 14:30] pmeier commented on #2276
Can't you slightly modify [`pil_loader`](https://github.com/pytorch/vision/blob/98aa805eb91e0378e118b654cf67c41ba2064e62/torchvision/datasets/folder.py#L152-L156) to fit your needs?

[code]

---

That being said, I'm fine with adding a `mode="RGB"` parameter to `pil_loader`:

[code]

@fmassa ?

[2020-06-01 16:18] fmassa commented on #2262
Sounds good, thanks a lot @pmeier !

[2020-06-01 16:55] qhaas commented on #45
Those of us on non-x86-64 systems would benefit from GPU accelerated transformations given the lack of optimizations for our architecture at times.  For example, we are seeing significant performance disparities between x86-64 and power9 systems that use the same GPU and profiling points the finger at the Power9 CPU taking longer to crunch torchvision/transforms and PIL.

[2020-06-01 17:25] fmassa commented on #45
@qhaas https://github.com/pytorch/vision/pull/2278 is a first step towards making the transforms run seamlessly on the CPU / GPU via torch tensors. For now it will be on a per-image basis so GPUs will probably be slow, but in the future with NestedTensor support we might be able to make it efficient for batches

[2020-06-02 01:11] laizewei commented on #2270
libtorch 1.5 release
libtorch\include\torch\csrc\jit\api\module.h
line 474 :static const bool all_slots = false;
line 487 :static const bool all_slots = false;
line 501:static const bool all_slots = false;
line 514:static const bool all_slots = true;
-------------------------------------------
https://developercommunity.visualstudio.com/content/problem/245425/intellisense-error-c11-static-constexp

[2020-06-02 06:40] Sentient07 commented on #2263
Hi @fmassa ,
I don't understand your question,

If they want to specify `min_size`, shouldn't it go inside `MyTransform()` which would take care of their expectations?. Since `min_size`, `max_size`, `image_mean`, `image_std` parameters aren't used outside of `GeneralizedRCNNTransform` , I think we can safely remove them. If the users want a custom  `min_size`, `max_size`, `image_mean`, `image_std`

[2020-06-02 09:24] fmassa commented on #2270
Thanks for the information, this looks like an issue in PyTorch C++ API, not sure that there is something we can do in here.

[2020-06-02 13:51] fmassa commented on #2111
cc @neginraoof @lara-hdr can you please have a look?

[2020-06-02 13:52] fmassa commented on #2251
cc @neginraoof for visibility

[2020-06-02 16:46] neginraoof commented on #2251
Thanks for reporting this.

ONNX Runtime 1.1.2 is a bit old. You can install nightly version using:
pip install -i https://test.pypi.org/simple/ ort-nightly

We have a similar test here
https://github.com/pytorch/vision/blob/34810c0c8e192caf29f05d7e4a02f36a9e9ebc02/test/test_onnx.py#L413

[2020-06-02 16:53] neginraoof commented on #2111
Thanks for reporting this.
I believe this issue is resolved as part of https://github.com/pytorch/vision/pull/2215

Torchvision nightly build should work now.
I just tested the repro code:

model_tv = torchvision.models.detection.maskrcnn_resnet50_fpn(pretrained=True)
model_tv.eval()
torch.onnx.export(model_tv, torch.rand(1,3,300,300), "mask_rcnn_r50_fpn.onnx",
                  do_constant_foldin

[2020-06-02 20:57] java-abhinav07 commented on #2154
Managed to remove recompute_scale_factor warning. However, the TAT is still high possibly because I'm still getting the overload of nonzero warning. Will create a PR once that's fixed, any suggestions for where the problem might be with this?

_

[code]

_

[2020-06-03 01:13] cjolivier01 commented on #2239
Also having this problem. Hours so far trying to figure a way to fix it.

[2020-06-03 01:14] cjolivier01 commented on #2239
^ fixes above do nothing

[2020-06-03 08:02] merisgong208 commented on #2074
Thank you very much.

[2020-06-03 08:54] fmassa commented on #2239
Hi @cjolivier01

If cding to a different folder isn't fixing your issue, then this is a different problem than what is described here (although they both have the same error message unfortunately).
I would suggest you open a new issue with your setup and how you installed PyTorch and torchvision.
The most common cause of having this issue is an incompatibility between the PyTorch and torchvision v

[2020-06-03 09:09] fmassa commented on #2154
So seems like the overhead is in `nonzero`, could you try to see if you could first send a PR changing the nonzero behavior to be the non-deprecated one?

[2020-06-03 11:51] java-abhinav07 commented on #2154
Yes, will fix it asap and send in a PR. Albeit, I did take a quick look and it seems like torch.nonzero has been used at multiple places, having changed the same at a couple of instances the time (for my application) was reduced by 0.5s.

[2020-06-03 15:16] zuzaanto commented on #2251
Hi,
Thanks!, actually I've been following closely that unit test you mention when writing my code, it was very helpful :)

Yes, I resigned some time ago from ONNX runtime 1.1.2, and I'm using version 1.3.0 - the exceptions I posted in the above comment appeared with ONNX runtime 1.3.0, and nightly builds of Torch and Torchvision.
Now, the nightly versions of ONNX runtime actually don't seem to wor

[2020-06-03 20:53] gaussiangit opened #2285 "Finetuning deeplab/FCN"
How do I fine tune deeplabv3 ?

[2020-06-04 02:01] KoreanJ commented on #2276
I did make this change for my project, but I assume I won't be the only one in the future who might want to read in images with an alpha channel.

With the `mode="RGB"` change implemented, would I still be able to configure this without needing to directly modify any of pytorch's library source code? My project may be distributed and for those that download all dependencies, I'd rather not need to

[2020-06-04 05:12] pmeier commented on #2276
@KoreanJ

My second snippet in the above comment showcases that. If implemented how I imagined it, your call to `datasets.ImageFolder` would look like this in your project:

[code]

[2020-06-04 06:22] nitin2212 opened #2286 "Architecture differences in Zoo Models ?"
Hi, I am comparing few zoo models implementation in DL4J with Pytorch zoo models and found
that the padding in Convolution layers does not match most of time ?

For **Resnet50 and SqueezeNet** :

In DL4J, they **do not** apply padding : [0, 0] ; while in PyTorch they have padding [1, 1].
This results in different output in layers

In DL4J, they apply **Bias** in Conv layers while in PyTorch, they

[2020-06-04 08:09] zuzaanto commented on #2251
@neginraoof or @fmassa could you please confirm that the test workflow passes for you with batch size > 1 ?

[2020-06-04 12:08] zuzaanto commented on #2251
Hi, I have fixed the exceptions by setting `min_size` and `max_size` parameters at construction of MaskRCNN (I noticed it only works if difference between `min_size` and `max_size` is sufficiently small).
Still, the output looks very much like in the above screenshot - so the dynamic axis seem to be broken - only the first image's output is being parsed correctly. But with these params set, at lea

[2020-06-04 21:55] WaterKnight1998 commented on #1002
I tried using a list of 3d tensors and I am getting the strange empty dict.

[code]

[2020-06-05 02:25] ResByte commented on #2111
Thanks @neginraoof @fmassa , It works now. you may close the issue.

[2020-06-05 08:58] fmassa commented on #1002
@WaterKnight1998 your output seems ok to me, MaskRCNN detected only a single object, with low confidence.

I would make sure that I'm feeding the inputs in the right forward (the images should be in the range 0-1)

[2020-06-05 09:07] fmassa opened #2289 "Add uint8 support for interpolate and grid-sample in PyTorch"
## 🚀 Feature

With the addition of torch tensor support for the transforms (following https://github.com/pytorch/vision/issues/1375), there are two operators that will require extra attention in order for them to be as efficient as the PIL implementations.

Indeed, while we can implement `resize` via `torch.nn.functional.interpolate` and `rotate` via `torch.nn.functional.grid_sample`, those operat

[2020-06-05 09:13] fmassa commented on #2265
Did you try rescaling the videos so that they have the same size?
In the video-classification reference examples, we have some example transforms (which will be soon merged to torchvision master) https://github.com/pytorch/vision/blob/master/references/video_classification/transforms.py that are used in https://github.com/pytorch/vision/blob/11a39aaab5b55a3c116c2e8d8001bad94a96f99d/references/vide

[2020-06-05 09:15] fmassa commented on #2259
Does this happen with any long video or only with this video in particular?

[2020-06-05 09:16] fmassa commented on #2285
You can use the training code in https://github.com/pytorch/vision/tree/master/references/segmentation, load the pre-trained model there and change the last classifier / dataset.

[2020-06-05 09:16] #2285 closed

[2020-06-05 09:18] fmassa commented on #2286
Hi,

ResNets use padded convolution, so that when having a kernel size of 3x3 the output size is the same. Maybe they didn't use `[0, 0]`, but passed something like `padding_type='SAME'`?

About the `bias` in convolutional layers, they are unnecessary because there is a BatchNormalization just after every convolution, making the bias in the convolution redundant.

[2020-06-05 09:18] #2286 closed

[2020-06-05 09:25] WaterKnight1998 commented on #1002
@fmassa mask-rcnn withotuh scripting just output the second element of the tuple. Is normal that after tracing it, it returns a tuple with first element of tuple being an empty dict?

[2020-06-05 09:32] fmassa commented on #143
Closing this as it's been a while, this change would be BC-breaking for a lot of users and subclassing ResNet is the approach we currently recommend.

[2020-06-05 09:32] #143 closed

[2020-06-05 09:34] fmassa commented on #365
While the naming is unfortunate, we have improved the documentation of the function, so I think this can be closed.

[2020-06-05 09:34] #365 closed

[2020-06-05 09:36] fmassa commented on #1002
@WaterKnight1998 yes, it is.
We raise a warning in https://github.com/pytorch/vision/blob/11a39aaab5b55a3c116c2e8d8001bad94a96f99d/torchvision/models/detection/generalized_rcnn.py#L108
explaining the differences. It's a limitation of torchscript that we can't have different return types depending on the `self.training`, so we always return both the losses and the detections, although only one of t

[2020-06-05 09:49] fmassa commented on #2263
@Sentient07 I've answered in the PR, let me know what you think

[2020-06-05 10:13] AndreaCossu commented on #2265
Thanks for the tip. I tried to resize the video, without success.
However, by looking more closely at the error message, the RunTimeError is raised on tensors of size `(2, 28800) vs. (1, 28800)`. This is exactly the size of audio sample returned by `UCF101` as second element of the 3-uple `video, audio, label`.
Maybe the problem is on audio, not on videos. Is there a way to make `UCF101` returning

[2020-06-05 10:37] kuyedie520 opened #2290 "search"
想问一下该工程是这篇论文Grafted Network for Person Re-Identification的复现吗？在论文中看到这个链接不确定是不是。

[2020-06-05 10:52] WaterKnight1998 commented on #1002
@fmassa Thank you very much for your explanation. It gave me the intuition that I needed!

[2020-06-05 12:41] fmassa commented on #2290
I don't speak chinese, but from Google translate, I got

We have not implemented Grafted Network for Person Re-Identification in torchvision

[2020-06-05 12:41] #2290 closed

[2020-06-05 13:05] fmassa opened #2291 "Package libjpeg and libpng within torchvision"
With the addition of image-reading functions enabled by default in torchvision #1632 #1881 #1909, we will need to properly package libjpeg and libpng (and other libraries will be used soon as well, like ffmpeg) so that users of {Windows, Linux, OSX} x {pip, conda, source} can use those new functionalities in torchvision without issues.

I believe the current recommended way that PyTorch deals with

[2020-06-05 13:11] fmassa commented on #2265
Oh, I see, yes, this is an issue with the audio signal.

I would propose that you write a custom collate_fn that you pass to your DataLoader which will remove the `audio` file, maybe something like
[code]

[2020-06-05 13:47] fmassa opened #2292 "Unify Tensor and PIL transforms"
Now that most of the tensor transforms have been implemented https://github.com/pytorch/vision/issues/1375, it is time to make unify the implementations for PIL and Tensor so that `torchvision.transforms` and `torchvision.transforms.functional` works seamlessly between both datatypes.

As such, we would like that the following work with the same interface:

[code]

Example PRs adding support for `

[2020-06-05 13:58] rgommers commented on #2291
It may right now I think, we really need to improve that situation. It would also force the users to mix channels. `libpng` is available in `defaults`. `libjpeg-turbo` is in `defaults` as well, but it looks outdated. Needs a more detailed look at what the best option is here.

[2020-06-05 14:08] AndreaCossu commented on #2265
Perfect, that's working! I just added `return` to your last line:

[code]

**Final working code**
[code]

Thank you very much!!

[2020-06-05 15:04] rgommers commented on #2291
@fmassa said that size of the wheels isn't critical, and just bundling in `libpng` and `libjpeg` should be fine for now. So using [auditwheel](https://github.com/pypa/auditwheel) (Linux) and [delocate](https://github.com/matthew-brett/delocate) (macOS) seems like the way to go. There's no such tool for Windows, so there the right libs need to be copied in by hand.

[2020-06-05 15:04] tazu786 commented on #993
Can I use `torchvision.models.detection.backbone_utils.resnet_fpn_backbone('resnet101',pretrained=True)` to load the pretrained resnet101 backbone? Following the same tutorial, should I also remove the last 2 layers with something like `modules = list(resnet_net.children())[:-2]?` Thanks

[2020-06-05 16:27] fmassa opened #2293 "Add empty batch support for DeformConv2d"
This is very similar to https://github.com/pytorch/pytorch/issues/12013, but for `DeformConv2d` which is implemented in torchvision.

This would allow detectron2 to potentially move to use the torchvision implementation of `DeformConv2d`, [instead of their own version](https://github.com/facebookresearch/detectron2/blob/master/detectron2/layers/deform_conv.py)

cc @ppwwyyxx

[2020-06-05 20:32] andfoy commented on #2291
@fmassa, is it possible to have assignment permissions on this repository?

[2020-06-06 06:11] collinmccarthy opened #2294 "ImageNet rogue PNG file"
Sorry if this has been addressed here and I can't find the discussion, but it's the same issue as here:
https://github.com/soumith/imagenet-multiGPU.torch/issues/43

The file `train/n02105855/n02105855_2933.JPEG` from ILSVRC 2012 is actually a PNG file. This is triggering a `UserWarning` from PIL, and I'm guessing it can't handle this type of error automatically (pillow==7.1.1, torchvision==0.5.0,

[2020-06-06 12:06] cyy0523xc commented on #1827
have the same problem,

[code]

Version:

[code]

[2020-06-06 12:30] pmeier commented on #2294
I've encountered this myself in the past. I simply let it pass since its only a single image that is corrupt and thus handling this was never necessary. I don't think handling this in the `ImageNet` class is dangerous, since that would mean we are messing with the original data.

[2020-06-06 12:41] fmassa commented on #2291
@andfoy I gave you and @rgommers triage permissions to torchvision

[2020-06-06 22:14] DAVEISHAN opened #2296 "Video models pretrained weights on Kinetics 700"
## 🚀 Feature
Please, add pre-trained weights for the Kinetics 700 dataset for video ResNet Models, Currently, only Kinetics 400 weights are available and it is a bit outdated now.

[2020-06-07 05:37] clemkoa commented on #2292
Hi! I would be glad to work on a PR for this issue. I can start with the color jitter if that's okay with you

[2020-06-07 05:45] clemkoa opened #2297 "Cannot import module after installation from source (not just from vision folder)"
## 🐛 Bug

I'm trying to build torchvision from source. Importing the module in python always fails.
The error is the same as described here: https://github.com/pytorch/vision/issues/2239 except it happens in all folders, not just vision.
I'm aware that this is usually due to a version mismatch between pytorch and torchvision. I installed the nightly pytorch using this command:
`pip install --user

[2020-06-08 07:37] lothlorien13 commented on #2050
Is it currently supported?

[2020-06-08 08:37] Sean16SYSU opened #2299 "Downloading pre-trained models to a custom path(which I prefer to), instead of a fixed one"
## 🚀 Feature

When using the pre-trained models with `pretrained=True`, I find no way to input my custom path for downloading or loading models.

I have read the source codes in my local version of `torchvision` and the latest code in github, and found no way to input the self-defined path for downloading or loading, both.

## Motivation

Well, there is no bug in the source codes(for the very desi

[2020-06-08 10:18] fmassa commented on #2299
Hi,

Thanks for opening this issue.

This has been requested in the past, see https://github.com/pytorch/vision/issues/616, and there is an open PR for it in https://github.com/pytorch/vision/pull/653

I still think that using `TORCH_HOME` (or `TORCH_MODEL_ZOO` which is deprecated) https://github.com/pytorch/vision/pull/624 is the preferred way to do it, as it makes your code be agnostic to paths,

[2020-06-08 10:18] #2299 closed

[2020-06-08 11:20] Sean16SYSU commented on #616
I am just coming from issue #2299 , and inclined to agree with adding an extra parameter for controlling the model-path of both downloading and loading.

As @fmassa explained in #2299 , using `TORCH_HOME` makes our code agnostic to the model-path . After thinking it over, I find it convenient for the novice, as it makes the users don't need to consider the model-path for both downloading and loadi

[2020-06-08 12:36] #2097 closed

[2020-06-08 13:06] bjuncek commented on #2259
So far I had it segfault on 3 different datasets, all of which inclueded loading longer video, although I can't find the culprit yet (It's not always the length, so I suspect it has to do something with memory it has to allocate for the decoding, but not sure).

[2020-06-08 13:08] bjuncek commented on #2259
Also, as I sidenote, this happened after I updated TV from 0.5a to 0.7. On 0.5 the same dataset seemed to work (but there is some length randomization, so that's not 100% reliable information.

[2020-06-08 16:26] laplaceson commented on #2139
Same issue. Can anyone help?  Win10 + VS2019
I solve the nms_cpu using method mentioned above. But still get error in ROIPool and all the function with cuda. I tried add __declspec(dllexport) in each function in vision_cpu.h and vision_cuda.h but seems only function nms_cpu and ROIAlign_cpu works and other fail.
`LNK2019	在函式 "class at::Tensor __cdecl nms_cuda(class at::Tensor const &,class at::Ten

[2020-06-08 23:15] andfoy commented on #2291
@jjhelmus is it possible to update libjpeg-turbo to the latest version on the default channel in Anaconda? It seems that the [current version](https://anaconda.org/anaconda/libjpeg-turbo-cos6-x86_64) (1.2.1) is older than the one found on [conda-forge](https://anaconda.org/conda-forge/libjpeg-turbo).

[2020-06-10 08:46] fmassa commented on #2297
Hi,

It's unfortunate that you had a hard time building torchvision. It would be great if we could improve documentation to make things clearer.

My setup is the following (on a conda environment):
- use pytorch from nightly
- clone torchvision and install it following the "From source" section in https://github.com/pytorch/vision#installation , but using `python setup.py build develop` instead, s

[2020-06-10 08:55] clemkoa commented on #2297
Thanks for the explanation! I removed torchvision with pip before opening the issue, but rebooting my computer and re-installing torchvision from source seem to have solved the issue.

It works now, thanks again!

[2020-06-10 08:55] #2297 closed

[2020-06-10 10:20] qizhen816 opened #2308 "exported MASKRCNN ONNX model cannot run: Op (Slice) [ShapeInferenceError] Input axes has invalid data"
## 🐛 Bug
I exported my mask-rcnn model with resnet-101 as backbone using the most recently built torch and torchvision,  but cannot run by onnxruntime 1.3.0.
[code]
Here is the export log:
[code]
The onnx model is generated after the above warnings, but onnxruntime throw an error:
`Node (Slice_1492) Op (Slice) [ShapeInferenceError] Input axes has invalid data`

[2020-06-10 12:28] zuzaanto opened #2309 "ONNX export of MaskRCNN: inference fails when batch size > 1 and no detections"
## 🐛 Bug

When running inference with MaskRCNN exported to ONNX with batch size bigger than one, an exception is thrown on images with no detections.
[code]

## To Reproduce

Steps to reproduce the behavior:
NOTE: `input_tensor` is of size (4,6,1024,1024) -> batch size is 4
1. Load and export a pretrained MaskRCNN model:
[code]
2. Infer on an image that has detections (image's values are in range

[2020-06-10 13:09] Korijn opened #2310 "CPU package depends on non-CPU torch package"
## 🐛 Bug

The torch-vision CPU wheel depends on the non-CPU torch wheel

Evidence: `torchvision-0.6.0+cpu-cp36-cp36m-linux_x86_64.whl\torchvision-0.6.0+cpu.dist-info\METADATA`:

[code]

## To Reproduce

I've run into this with the poetry package manager for version 1.4.0 and 0.5.0, but the issue is also present in newer versions as can be seen in the previous snippet.

[code]

Note that I also had

[2020-06-10 13:39] zuzaanto opened #2311 "ONNX export of MaskRCNN: dynamic axes seem broken (for batch size > 1)"
## 🐛 Bug

At export to ONNX, dynamic axes were set and the inputs and outputs named properly. However, the output of inferred images is incorrect and wrongly named. Depending on different batch sizes used at export and inference, the behaviour varies as follows:
Supposing that batch size at export time is `n`, and batch size at inference time is `m`:
1. if `n`==`m`:
Output has length of `n*4`, so

[2020-06-11 03:15] davelet commented on #1827
I met the issue too. And my version info as below:
[code]
The code is just some import:
[code]
Running it will get an error:
[code]

[2020-06-11 07:24] moured commented on #2123
I am using onnxruntime 1.3 (you can check the notebook on the previous comment).
This code automatelicy loads Faster R-CNN and passes random Numpy input. The thing is I trained faster R-CNN (the same one in the script) and i am having problems running it with ONNX. So I found this code which is already avaialble under pytorch vision but still it is not working.

[2020-06-11 07:30] Korijn commented on #2310
Created https://github.com/python-poetry/poetry/issues/2543, let's see what their thoughts are.

[2020-06-11 08:49] #2111 closed

[2020-06-11 09:57] fmassa commented on #1741
I'm closing following @neginraoof comment that this should be fixed in torchvision master, but please let us know if you still face issues

[2020-06-11 09:57] #1741 closed

[2020-06-11 10:16] qizhen816 commented on #2308
Error disappeared after adding
[code]
in `torch.onnx.export()` function, but new onnxruntime error occur:
`Non-zero status code returned while running Gather node. Name:'Gather_1542' Status Message: /mnt/onnxruntime/onnxruntime/core/providers/common.h:19 int64_t onnxruntime::HandleNegativeAxis(int64_t, int64_t) axis >= -tensor_rank && axis <= tensor_rank - 1 was false. axis 0 is not in valid range

[2020-06-11 18:52] fepegar commented on #1884
I'm still having this issue (on Linux). I'm using version 0.6.0 and I set `should_buffer = True`.

My video:

[code]

[2020-06-11 19:16] bmanga commented on #1783
This got fixed after I upgraded my cpu. The earlier cpu didn't support AVX, so I would assume the problem was with AVX support. I am not sure this is worth investigating further as it seems I was the only one hitting the issue, so I am going to close this.

[2020-06-11 19:16] #1783 closed

[2020-06-11 20:05] java-abhinav07 commented on #2154
https://github.com/pytorch/vision/pull/2314
@fmassa Kindly review the PR. This fixes the non-zero depreciation warning issue, thanks! and sorry about the delay

[2020-06-12 10:32] bionicles opened #2315 "Please add 'keep_channels' flag to make_grid"
## 🚀 Feature
For images with 1 channel, it would be useful to tell make_grid to not convert grayscale images to RGB

## Motivation

I just wanted to do a simple MNIST example but torchvision.utils.make_grid modified the data such that it became 3-dimensional RGB. That's cool for color images but I wish there were a simple way to keep the channels the same

## Pitch

if the user passes "keep_channe

[2020-06-12 10:38] bionicles commented on #2315
here's the code:
https://github.com/pytorch/vision/blob/c2e8a00885e68ae1200eb6440f540e181d9125de/torchvision/utils.py#L51
https://github.com/pytorch/vision/blob/c2e8a00885e68ae1200eb6440f540e181d9125de/torchvision/utils.py#L55

[2020-06-12 14:31] veer5551 commented on #1706
Hello Team,

I am trying to convert the FasterRCNN to ONNX. I was able to successfully export to ONNX, but I am not able to infer any image. I tried to export the model to have a dynamic input size for image as well. Still with no luck.

I am unable to get clear instructions on what should be image data input to the model.
I think I am messing up somewhere in the input to the model

Below is the c

[2020-06-12 15:52] danilopeixoto commented on #1706
Torchvision Faster R-CNN model does not support dynamic input shape according to [documentation](https://pytorch.org/docs/stable/torchvision/models.html#object-detection-instance-segmentation-and-person-keypoint-detection).

[2020-06-12 15:53] fmassa commented on #1706
@danilopeixoto Dynamic shape support should now work on ONNX if using a very recently torchvision nightly

[2020-06-12 17:00] veer5551 commented on #1706
Hey @danilopeixoto, @fmassa
Thank you for the suggestions.
But I am still not able to get any output either for a fix or dynamic input image.

Could you please have a look into the code let me know where am I going wrong?

Also, I tried to tun the test_faster_rcnn from the latest `test_onnx.py` ([here](https://github.com/pytorch/vision/blob/c2e8a00885e68ae1200eb6440f540e181d9125de/test/test_onnx.p

[2020-06-12 17:30] fmassa commented on #1706
cc @neginraoof if you could have a look

[2020-06-12 18:04] fmassa commented on #2315
Can you instead add an extra dimension to your input tensor?
Something like
[code]
I think this is simpler, and makes the function easier to understand, as the specifications of the functions are very straightforward.

[2020-06-12 18:44] matteodalessio opened #2317 "Failed to download CelebA in Colab"
## 🐛 Bug

It fails to download the following files **img_align_celeba.zip**

## To Reproduce

Steps to reproduce the behavior:

1. `from torchvision import datasets`
`trainset = datasets.CelebA(root='./data/', split='train', target_type="attr", transform=transform, download=True)`

Error:
[code]

## Expected behavior

## Environment

[code]

## Additional context

[2020-06-13 07:56] sarmientoj24 opened #2318 "ToTensor Changes C x H x W (5 x 600 x 900) to H x C x W (900 x 5 x 600)"
Here is my DataLoader. When I use ToTensor, it changes the dimensions of the image to H x C x W.
Not sure how to fix this

[code]

cc @vfdev-5

[2020-06-13 16:19] bmanga commented on #2318
The documentation of ToTensor says:

    [0, 255] to a torch.FloatTensor of shape (C x H x W) in the range [0.0, 1.0]

So it seems like your input numpy array has the wrong dimensions. Unless you have a particular reason not to, I would just use PIL:
[code]

[2020-06-15 00:35] ProGamerGov commented on #431
I've just come across a need for this feature to calculate CrossEntropyLoss loss weights.

[2020-06-15 05:14] pmeier commented on #2317
Duplicate of #1920. @fmassa I'm on it.

[2020-06-15 05:14] peterjc123 opened #2320 "test `test_fasterrcnn_resnet50_fpn` is failing"
## 🐛 Bug

Error text:
[code]

## To Reproduce

See binary jobs on CircleCI

## Expected behavior

Tests pass.

[2020-06-15 05:14] peterjc123 commented on #2320
cc @fmassa

[2020-06-15 06:27] windspirit95 commented on #1899
Solution 2 worked for me. Thanks.
A more detailed solution could be as:
- Adding above code to the beginning of your main program
- Adding the files/packages you need in a.datas in .spec file, as well as hidden_import (just for sure :)), for example:
datas=[(path.join(site_packages,"av"), "av"),
					(path.join(site_packages,"fvcore"), "fvcore"),
					(path.join(site_packages,"torch"), "torch"),

[2020-06-15 09:33] pmeier commented on #2318
@bmanga is correct, that `ToTensor` expects an image in the `HxWxC` format. I'm guessing OpenCV returns an image in the `CxHxW` format, which is than changed by `ToTensor` into `WxCxH`.

I suggest multiple changes that might make your life a little easier:

- Subclass your dataset from `torchvision.datasets.VisionDataset`. That enables a descriptive representation when you use `print(DPWHDataset()

[2020-06-15 15:37] kuzemchik opened #2322 "Function to_pil_image expects wrong dtype for 'I;16' mode."
## 🐛 Bug

Function to_pil_image expects wrong dtype for 'I;16' mode.
According to Pillow [documentation](https://pillow.readthedocs.io/en/latest/handbook/concepts.html#concept-modes) it should accept uint16 while torchvision expects int16 to set 'I;16' and don't support uint16 ndarray ([code](https://github.com/pytorch/vision/blob/c2e8a00885e68ae1200eb6440f540e181d9125de/torchvision/transforms/fun

[2020-06-15 17:09] fmassa commented on #2320
This has started failing a couple of days ago, and is probably due to an issue on upstream PyTorch.

cc @eellison

[2020-06-15 20:23] neginraoof commented on #2308
Thanks for reporting this. This is a known ONNX Runtime issue that I believe has been addressed very recently: https://github.com/microsoft/onnxruntime/pull/4185

I believe this fix will be released as part of ONNX Runtime nightly build (https://test.pypi.org/project/ort-nightly/) in a day or two. Will follow up.

[2020-06-15 20:49] neginraoof commented on #2309
Thanks for reporting this issue. I was able to repro this. Will take a look.

[2020-06-15 21:10] neginraoof commented on #2251
Will follow up this on the new github issue.

[2020-06-15 21:20] neginraoof commented on #2311
Thanks for reporting this issue. Looks like issue #2309 and #2311 are similar. Will take a look.

[2020-06-16 06:18] qizhen816 commented on #2308
@neginraoof Tried pulling and building the latest C++ version of ONNX Runtime, the `Op (Slice) ` error remains.

[2020-06-16 07:08] CaineGu commented on #1827
I updated my torch into 1.5.0 version and my torchvision is 0..6.0, which were not able to updated further. Can you help me with this problem

[2020-06-16 07:09] CaineGu commented on #1827
Have you ever fix this problem? I have same versions of torch and torchvision with you

[2020-06-16 07:14] CaineGu commented on #1827
I have already the torch 1.5.0 and torchvsion 0.6.0, but it appears same

pip install --upgrade torch torchvision
Requirement already up-to-date: torch in /home/caine/anaconda3/lib/python3.7/site-packages (1.5.0)
Requirement already up-to-date: torchvision in /home/caine/anaconda3/lib/python3.7/site-packages (0.6.0)
Requirement already satisfied, skipping upgrade: future in /home/caine/anaconda3/l

[2020-06-16 07:41] CaineGu commented on #1827
After several attempts to fix this problem, I find version of torch and torchvison should be matched. and the env cannot have other version of torch.

what i have done to fix this problem is uninstall torch and torchvision then use cmd
pip install --upgrade torch torchvision

bingo

[2020-06-16 20:24] aliamiri1380 opened #2325 "pytorch pre-trained models preprocessing results 9 images"
I am using vgg16 and for preprocessing I use transforms module (as used in the documentation)
and I don't know why, but when it takes my image as input, it outputs 9 small copy of the input image and combines them into one single image (nonetheless the output is correct)

is it a problem?

[2020-06-16 21:55] neginraoof commented on #2309
Actually looks like this is a known issue in export of models for batch size > 1, and current tests only cover batch size = 1.
We have a long term plan to address this limitation.

[2020-06-16 21:56] neginraoof commented on #2311
Actually looks like this is a known issue in export of models for batch size > 1, and current tests only cover batch size = 1.
We have a long term plan to address this limitation.

[2020-06-17 02:17] cl2227619761 opened #2326 "Feature Pyramid Network code bug"
https://github.com/pytorch/vision/blob/c2e8a00885e68ae1200eb6440f540e181d9125de/torchvision/ops/feature_pyramid_network.py#L60

this line does not work, I think it should be modified as self.modules() instead of self.children()

[2020-06-17 07:23] asberk commented on #1946
Unfortunately, the [labels](https://github.com/szagoruyko/imi-demos/blob/master/imagenet-classification/synset_words.txt) that I [can](https://gist.github.com/yrevar/942d3a0ac09ec9e5eb3a) find [online](https://s3.amazonaws.com/deep-learning-models/image-models/imagenet_class_index.json)  don't [seem](https://s3.amazonaws.com/mlpipes/pytorch-quick-start/labels.json) to correspond to the ordering us

[2020-06-17 07:58] pmeier commented on #2325
Hi @aliamiri1380, please post a minimal code example of what your are doing. Otherwise we can only give you general answers. In this case: I don't know if it is a problem within your workflow, but it is definitively unexpected.

[2020-06-17 08:00] pmeier commented on #2326
Hi @cl2227619761, what do you mean by

?

Please post a minimal example where you encounter an issue with this line.

[2020-06-17 09:36] fmassa commented on #2326
Hi @cl2227619761

That is a very good catch!

@pmeier the issue is that `self.children()` returns the immediate modules, so in this case it would be `inner_blocks` and `layer_blocks`, none of which are `nn.Conv2d`.
The fix is what @cl2227619761 mentioned: replace `self.children()` with `self.modules()`.
But this brings the question on the impact of the initialization. If I remember correctly, we n

[2020-06-17 10:15] pmeier commented on #2326
My bad, I misunderstood the comment above the loop:

https://github.com/pytorch/vision/blob/c2e8a00885e68ae1200eb6440f540e181d9125de/torchvision/ops/feature_pyramid_network.py#L59-L63

[2020-06-17 11:03] zuzaanto commented on #2309
Hi, thanks for your answer.
I was not aware of this limitation. Is there any way you could give me a time estimate (rough is ok) of this long term plan? I'm asking because this issue is making MaskRCNN export to ONNX quite unusable to me now.

[2020-06-17 13:36] aliamiri1380 commented on #2325
Hi, this is my code

[code]

and my input image and outputted image respectively
![image](https://user-images.githubusercontent.com/26299133/84904834-0c527d80-b0c5-11ea-8432-8704ad29468b.png)

![image](https://user-images.githubusercontent.com/26299133/84904451-8f270880-b0c4-11ea-807a-61a483317f42.png)

after preprocessing, the image becomes 9 copy of the input

[2020-06-17 14:05] pmeier commented on #2325
The problem lies in this line

[code]

and specifically in `.reshape(img_size)`. `torch` works with a channels-first paradigm whereas `pyplot` expects channels-last. The `.reshape` is not failing since the number of elements is correct, but you are mixing the channels with the spatial information. Thus, you are seeing the motif multiple times.

To overcome this, you can replace `.reshape(img_size)

[2020-06-17 14:52] finnickniu commented on #1706
Hi @fmassa, is there any tool that I can convert the faster rcnn onnx to tensorrt? I have tried with onnx-tensorrt, but failed in nms converting. Thanks

[2020-06-17 19:29] aliamiri1380 commented on #2325
thank you for the answer, I didn't realize this keynote

[2020-06-17 19:29] #2325 closed

[2020-06-18 06:26] ebrahim31 commented on #1916
Could you explain how do we can  Specifying CUDA compute capability such as TORCH_CUDA_ARCH_LIST="6.0;6.1;7.0" when building torchvision resolved this?

[2020-06-18 08:48] Lollipop9z opened #2329 "A problem of multiclassifier task with Squeezenet trained on VOC2012"
I got a problem when I dealed with a multiclassifier task with squeezenent on VOC2012. I just wrote a train code, and called the '''torchversion.models.squeezenet1_1''', changed num_classes. I used '''torch.nn.MultiLabelSoftMarginLoss()''' for my loss function. However, my loss never changed when I trained my network. If there is someone having same problem like me, and having some specific soluat

[2020-06-18 12:32] overclock98 opened #2330 "Error while compailing for raspberry pi "error: no matching function for call to ‘min(size_t&, long unsigned int)’""
**I'm trying to build torchvision on raspberry pi but getting thiss error. how can i fix?**

/home/pi/vision/torchvision/csrc/cpu/decoder/seekable_buffer.cpp:58:47: **error: no matching function for call to ‘min(size_t&, long unsigned int)’**
   buffer_.resize(std::min(maxBytes, 4 * 1024UL));
                                               ^
In file included from /usr/include/c++/8/bits/char_traits

[2020-06-18 16:23] benschreiber commented on #1706
Hi. I am also experiencing the original `RuntimeError: expected device cuda:0 but got device cpu` message when JIT tracing any rcnn model (on the same line as OP). Strangely, the first iteration through `for ob in objectness.split(num_anchors_per_level, 1)` succeeds, but the second one fails.

I am working on a JIT related project that requires the model to be traced on the gpu, so the export on c

[2020-06-18 17:11] overclock98 commented on #2330
issue solved.

[https://github.com/nmilosev/pytorch-arm-builds/blob/master/pytorch-armv7hl.sh](url)

I updated the packages and flags mentioned in the above file, that's it ¯\_(ツ)_/¯

[2020-06-18 17:11] #2330 closed

[2020-06-18 17:28] neginraoof commented on #2309
Do you see this issue only when batch size at export time is different from batch size at runtime (both >1)?
And do you use real images (with detections) at export time?

[2020-06-19 10:20] qizhen816 commented on #2308
@neginraoof It's working now, thanks

[2020-06-19 10:20] #2308 closed

[2020-06-20 13:07] Mayurji commented on #288
But this doesn't solve the issue, I am loading gray scale images with batch size of 16 with dim 150 * 150 and performing the transforms as shown in below images

![image](https://user-images.githubusercontent.com/10477789/85202559-c1cf3c00-b324-11ea-9a7f-a1a67e58a17f.png)
and i am getting the one instance of dataloader as (16, 3, 100, 100), 100 is because of the resize but channel as 3 ?

![image]

[2020-06-21 09:32] gan3sh500 commented on #2326
Can I help with this? If you point me to what model/scripts you used to train I can train with the correct init and the current one.

[2020-06-21 12:19] diechr commented on #288
I think the problem is that ImageFolder loads the images as colour images although they are grayscale.  You can simply add another transformation that makes them grayscale again: `transforms.Grayscale(1),`

[2020-06-21 12:22] Mayurji commented on #288
Yes, i have done that and it worked. But i just don't get, why it didn't worked in the first place.

[2020-06-21 13:42] pmeier commented on #2326
@gan3sh500 You can find the training scripts [here](https://github.com/pytorch/vision/tree/master/references/detection).

[2020-06-21 14:30] gan3sh500 commented on #2326
I’ll have to train on single 2080ti. I’ve seen smaller batch size create worse convergence but is it fine if I compare with both the kaiming init and otherwise trained with same conditions?

[2020-06-22 05:14] pmeier commented on #2329
Hi @Lollipop9z, please note that this issue tracker is not a help form and this issue will be closed. Our primary means of support is our [discussion forum](https://discuss.pytorch.org/).

[2020-06-22 05:49] marcusturewicz commented on #1204
I can into an `AssertionError` here when running this on a device with CPU only, so I changed it to:

[code]

[2020-06-22 12:19] vfdev-5 commented on #2292
@fmassa I can work on some of these listed transformation if it is OK.

[2020-06-22 12:58] JsPassion opened #2336 "from torchvision.transforms import ImageOps ImportError: cannot import name 'ImageOps'"
cuda version 10.1
torch version 1.5.1
torchvision version 0.6.0
PIL version 5.2.0

I have also tried installing Pillow version 6.1 and torchvision version 0.5.0 and torch 1.4.0 using both methods conda and pip. But the error persists.
Kindly help!

[2020-06-22 13:19] fmassa commented on #2336
Can you try doing `from PIL import ImageOps`?

Also, can you paste the full error message that you get? It is not recommended to import `ImageOps` from torchvision, as it's a module from PIL that happens to be in the torchvision namespace.

[2020-06-22 16:28] neginraoof commented on #2309
Sorry but we don't have an ETA for support of dynamic batch size > 1.
This feature would require changes to model code as well.
cc @fmassa FYI, thanks.

[2020-06-22 18:45] ChangweiXu opened #2338 "AttributeError: module 'torchvision.datasets' has no attribute 'USPS'"
## 🐛 Bug

When I was trying to use the USPS dataset with torchvision.datasets, the console gave me the error:

`AttributeError: module 'torchvision.datasets' has no attribute 'USPS'`

## To Reproduce

Steps to reproduce the behavior:

[code]

## Expected behavior

It should load the USPS dataset as shown in the documentation: [link](https://pytorch.org/docs/master/torchvision/datasets.html#usps).

[2020-06-22 19:04] pmeier commented on #2338
`pip` releases seem fine. Just checked for `torch==1.5.1+cpu` and `torchvision==0.6.1+cpu`.

[2020-06-22 19:55] seemethere commented on #1435
This should already be resolved, closing...

[2020-06-22 19:55] #1435 closed

[2020-06-22 20:00] seemethere opened #2339 "Nightlies are currently incompatible with upstream nightlies"
Originally reported by @pbelevich but I've observed that `torchvision` nightlies are currently incompatible with `torch` nightlies due to a tight version constraint.

See:
[code]

I think this is related to https://github.com/pytorch/pytorch/pull/40352 and subsequently https://github.com/pytorch/pytorch/pull/39669

Will close this after I see the issue resolve itself.

[2020-06-22 20:01] seemethere commented on #2339
Also perhaps it'd be a good idea to not lock the nightlies down so tightly, moving the requirement from:

* `torch==1.6.0.dev20200610+cpu` -> `torch==1.6.0`

WDYT @fmassa, @ezyang, @malfet?

[2020-06-23 06:43] JsPassion commented on #2336
Thank you. "from PIL import ImageOps" is working.
The full trace is:
Traceback (most recent call last):
  File "./main.py", line 7, in <module>
    from data import get_dataset, DATASET_CONFIGS
  File "/home/js/DGR/data.py", line 4, in <module>
    from torchvision.transforms import ImageOps
ImportError: cannot import name 'ImageOps'

[2020-06-23 08:53] fmassa commented on #2336
This seems to be an issue in a codebase somewhere else than in torchvision, which relied on `ImageOps` being part of the public API of torchvision, which it isn't.

You can probably get this code working by changing to
[code]
as the location of where we import `ImageOps` in torchvision has changed.

Given that this was relying on something which was not public, I'm closing this issue, but let us k

[2020-06-23 08:53] #2336 closed

[2020-06-23 09:17] fmassa commented on #2338
The 0.6.1 release of torchvision [does contain USPS](https://github.com/pytorch/vision/tree/fe36f0663e231b9c875ad727cd76bc0922c9437b/torchvision/datasets), so my guess is that you might be using a different python environment for installation and execution.

If you do
[code]
I suspect it will print a different version than 0.6.1?

[2020-06-23 09:35] fmassa commented on #2339
@seemethere I'm not sure that we can do much better about the locking of the nightlies -- see https://github.com/pytorch/vision/issues/2148 for more discussion, otherwise it will be very confusing I think.

[2020-06-23 10:01] xuezu29 commented on #2147
I met the same problem. Have you solved it? thanks！

[2020-06-23 10:51] xuezu29 commented on #2147
It works for me . Thanks.

[2020-06-23 12:55] dimimal commented on #2292
In the documentation of pytorch it is mentioned that functional module works with both tensors and pil objects. This is about torch version 1.5.1 and torchvision 0.6.1. However, when I try to use them with torch.tensor it throws an error that the object is not PIL. I checked the source code and the snippet shown in the docs is missing. I use the functional.hflip() function of the docs. I thought t

[2020-06-23 13:03] fmassa commented on #2292
@dimimal the unification is not yet complete

Can you point out where in the documentation you found the reference that all functions work with both tensors and PIL Images?

[2020-06-23 13:04] fmassa commented on #2292
@vfdev-5 sure go for it!

[2020-06-23 13:11] dimimal commented on #2292
@fmassa  check this [https://pytorch.org/docs/stable/_modules/torchvision/transforms/functional.html#hflip](url)

[2020-06-23 13:13] fmassa commented on #2292
@dimimal `hflip` supports both tensors and PIL Images since https://github.com/pytorch/vision/pull/2282 , but only on master and only a handful of functions support it for now

[2020-06-23 14:08] JsPassion opened #2344 "TypeError: len() of a 0-d tensor"
Hi,
Kindly help me to solve the error arising due to assert len(..) = len(..) stmt which was initially written using torch 0.2.0 torchvision 0.1.9 but is causing an issue in torch 1.5.1 torchvision 0.5.0 (for compatibility with cuda 10.1).

Traceback (most recent call last):
File "./main.py", line 186, in
cuda=cuda
File "/home/js/GR/train.py", line 102, in train
collate_fn=collate_fn,
File "/home/

[2020-06-23 15:25] ezyang commented on #2339
The big problem is that pip doesn't actually do dependency solving; it just greedily picks the latest versions and it turns out that sometimes they're just not compatible.

[2020-06-23 16:40] dimimal commented on #2292
@fmassa I wasn't using the master and the docs confused me with the noted version. Thank you. Is there anything I can do to help in contribution?

[2020-06-23 16:57] ChangweiXu commented on #2338
Bingo! That's where the problem is. Yes, the version of `torchvision` is `0.2.2`, because the default python used by the system is not the one installed by Conda. I removed the useless python and everything goes well.

Thank you all!

[2020-06-23 16:57] #2338 closed

[2020-06-23 18:52] seemethere commented on #2339
I don't think we should make any guarantees about compat between nightly versions which should make this problem a non-issue.

[2020-06-23 19:46] seemethere commented on #2339
Just checked and this issue should be resolved now, although it did require a manual kick of the html update job.

We should probably update that job to be a lambda that runs on s3 updates, but we can do that at a later point.

[2020-06-23 19:46] #2339 closed

[2020-06-24 02:50] peterjc123 opened #2348 "update_s3_htmls is not running after the nightly build"
## 🐛 Bug

Per title. The download link for those wheels won't be available until the next day.

cc @seemethere

[2020-06-24 09:52] ham952 commented on #978
Though the issue is closed ... there is a small editing required in @fmassa solution as provided above .. in line number 8 .. The correct way is as follow
[code]
@fmassa solutions generates redundant _cell_anchors_  i-e **5x** the same set of values, as shown here:
https://github.com/pytorch/vision/blob/e92b5155d7d78363826a822ccacf7c046d19245a/torchvision/models/detection/rpn.py#L100-107
This is n

[2020-06-24 12:05] fmassa commented on #2292
@dimimal sure, contributions are more than welcome! There are two steps here: finishing up https://github.com/pytorch/vision/issues/1375 , and then implementing the glue code, similarly to the example PRs #2282 #2283, or more recently #2345

Note that one of the biggest difficulties will be making the implementation work with torchscript, as not everything that we use is natively supported.

[2020-06-24 13:24] fmassa commented on #2339
I'm not sure I follow. If we don't make guarantees that the nightlies match each other, then the purpose of the nightlies for the domain libraries is close to void, as it will be close to impossible for people to be able to use them?

[2020-06-24 13:31] fmassa opened #2349 "[RFC] Use CMake to compile torchvision in setup.py"
TorchVision uses setuptools to compile its C++ / CUDA dependencies, which has been working ok for now.

But with the addition of FFmpeg and libpng / libjpeg-turbo as dependencies, and in the interest to simplify the path from using torchvision ops in C++, it might be worth considering unifying the compilation steps in torchvision to aways go through CMake.
This could potentially simplify / make mo

[2020-06-24 15:48] vfdev-5 opened #2350 "Support other modes of padding for torch Tensors"
## 🚀 Feature

Following https://github.com/pytorch/vision/pull/2345 we would like to improve the support for other types of `padding_mode` (other than "constant") for torch Tensors in `Pad` and `F.pad`

cc @fmassa

[2020-06-24 16:16] bmanga commented on #2349
I think it would be good to maintain a single build system for the c++ code. It happened to me a couple of times that code that was building fine with cmake  failed in the CI (which uses setup.py).

However, there is a problem at the moment building torchvision with cmake with pytorch 1.5+ because of some issues (see #2001).

Also setup.py use `extension`, `CppExtension` and `CUDAExtension`. Do th

[2020-06-24 16:54] fmassa commented on #2349
It does add some things to make it easier to find a few things, see https://github.com/pytorch/pytorch/blob/master/torch/utils/cpp_extension.py
Some examples:
- [Some compilation flags](https://github.com/pytorch/pytorch/blob/b4ccdef09040397443d4d82feb82dec502c66e76/torch/utils/cpp_extension.py#L139-L161)
- [parallel compilation](https://github.com/pytorch/pytorch/blob/b4ccdef09040397443d4d82feb82

[2020-06-24 21:35] ezyang commented on #2339
I'm not sure what @seemethere is referring to, but he might be saying that there should not be any requirement that torch from Jun 3 works with torchvision from Jun 1, which makes sense to me. However, for any given set of nightlies built on the same date (e.g., Jun 3), I feel we should guarantee that they are compatible with each other.

What actually happens right now is that if torch nightlies

[2020-06-25 09:00] fmassa commented on #2339
@ezyang

Agree

Agree

Oh I see. Yes, this makes sense and we probably want to avoid building / uploading a new torchvision nightly if the corresponding nightly for pytorch for that day failed building.

[2020-06-25 14:33] ezyang commented on #2339
That would certainly be one way to solve the problem, although you can also end up in the reverse situation, where torch for Jun 3 exists, but torchvision for Jun 3 doesn't exist. Because pip is le dumbe, that will also break all nightly installs.

What this suggests to me is we need two indexes: one index for pytorch that is updated whenever pytorch successfully builds a nightly, and a second ind

[2020-06-26 12:02] fmassa commented on #2344
Hi,

I might not be able to help you finding the issue because it might require digging into this codebase, but there has been a lot of changes to PyTorch and torchvision since releases 0.2.0 up to now (1.6.0)

The error in question arises because we have since then introduced scalar tensors in PyTorch. Before, indexing a 1d tensor would return a 1d tensor, now it returns a 0-d tensor.
This is pro

[2020-06-26 12:02] #2344 closed

[2020-06-26 20:52] eduardo4jesus commented on #215
It took me a while to understand this explanation. So, I just want to highlight a term that @Cadene mentioned that should be in kept in mind in order to understand it right away.

For classification problems, the `target` are labels. Thus, `target_transforms` wouldn't make sense.
However, for segmentation problems, in which we have **segmentation masks** as `targets`, it totally make sense.

[2020-06-27 02:28] SsnL opened #2354 "[transform_tensor] adjust_hue broken"
<img width="1130" alt="Screenshot 2020-06-26 22 28 03" src="https://user-images.githubusercontent.com/5674597/85912687-69081380-b7fc-11ea-9000-c0796980cb09.png">

[2020-06-28 02:25] helmut-vineland commented on #1601
was this ever answered?

[2020-06-28 05:07] SsnL opened #2357 "RandomResizedCrop aspect_ratio is wrong"
https://github.com/pytorch/vision/blob/1a04d3c265679e1a508e7cd627006aaa9ef1ccfb/torchvision/transforms/transforms.py#L699-L714

Doc says that `ratio` is the range of the ratio of the ***original aspect ratio***, yet the sampling code implies that the range is just directly the crop aspect ratio.

[2020-06-28 10:22] frankier opened #2359 "Source packages not published to PyPI"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1. Use Python 3.9
1. pip install torchvision==0.6.0

 ERROR: Could not find a version that satisfies the requirement torchvision==0.6.0 ... (from versions: 0.1.6, 0.1.7, 0.1.8, 0.1.9, 0.2.0, 0.2.1, 0.2.2, 0.2.2.post2, 0.2.2.post3)

## Expected behavior

It installs correctly.

## Additional context

Because source packages are not being

[2020-06-28 12:49] puraminy opened #2360 "'['ninja', '-v']' returned non-zero exit status 1"
## 🐛 Bug

When I tried to install the vision from source I got the following error:

`subprocess.CalledProcessError: Command '['ninja', '-v']' returned non-zero exit status 1.

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "setup.py", line 255, in <module>
    'clean': clean,
  File "/home/ahmad/miniconda3/lib/python3.7/site-packages

[2020-06-29 13:08] #2354 closed

[2020-06-29 13:28] fmassa commented on #2359
Thanks for the report!

@seemethere could you look into this?

[2020-06-29 19:34] fmassa opened #2365 "Make video_reader backend be available in the binaries"
We currently provide two backends for video-reading: `pyav` (which is based on PyAV python library) and `video_reader` (which uses a custom C++ implementation based on ffmpeg).
Due to complexities in the packaging of ffmpeg in the build process at the time of the `video_reader` release, for now if the user wants the faster `video_reader` backend they need to compile torchvision from source.

It wo

[2020-06-29 22:25] ezyang opened #2367 "torchvision doesn't recompile if torchvision/csrc/ROIAlign.h is edited"
Steps to reproduce:
1. Build torchvision `python setup.py develop`
2. Introduce error to torchvision/csrc/ROIAlign.h
3. Rebuild

[2020-06-30 03:10] drwaltman commented on #2251
Hi,

I am running into a similar issue, but I exported a pretrained FasterRCNN model to ONNX instead of a pretrained MaskRCNN model, and I also configured the output names and dynamic axes differently.  I updated my environment to use recent torch, torchvision, and onnxruntime versions as instructed, but I still hit an almost identical exception as the one @zuzaanto reported in the 3rd repro step:

[2020-06-30 12:14] muaz-urwa opened #2370 "focal loss for faster rcnn classification"
## 🚀 Feature
adds focal loss to faster rcnn classification loss

## Motivation

Though faster rcnn can cope with issue of class imbalance between foreground and background, using foreground background sampling and related hyper parameters. But imbalance between foreground classes is still a challenge.  Furthermore, hard negative mining is not incorporated in module yet.

Focal loss can help addres

[2020-06-30 13:26] fmassa commented on #2350
Re-opening as we still need to support `symmetric` case

[2020-06-30 15:40] ezyang opened #2372 "Fix clang-format version"
vision is clang-formatted via the default clang-format that is apt installed in CI. This is not friendly for users who are not using the exact distro in CI. We should fix a specific clang-format version and let people download clang format binaries on whatever platform they on.

This is implemented in pytorch/pytorch in tools/clang_format_all.py and related scripts. CC @suo @SplitInfinity

[2020-06-30 16:40] peterjc123 commented on #2348
Duplicate as https://github.com/pytorch/vision/issues/2348.

[2020-06-30 16:40] #2348 closed

[2020-06-30 17:23] #2291 closed

[2020-06-30 23:03] ezyang commented on #2367
I verified that ninja is tracking header dependencies correctly; what seems to be happening is setup.py is bypassing calling ninja entirely

[2020-06-30 23:11] ezyang commented on #2367
I guess this is the same root cause as what caused us to change how PyTorch setup works: https://github.com/pytorch/pytorch/pull/16162

[2020-06-30 23:15] ezyang commented on #2367
cc @zou3519

[2020-06-30 23:34] ezyang commented on #2367
Fix is in https://github.com/pytorch/pytorch/pull/40837

[2020-07-01 06:20] Huud opened #2376 "“transforms.functional” Broken When Using Images With Alpha"
🐛 Bug

Some “torchvision.transforms.functional” transformations such as “TF.rotate” and “TF.resize” break the image when the image is in RGBA format, as you can see here:

![](https://i.imgur.com/KNvaCc2.jpg)

The blue channel before the rotation is left, and after it in the right, everything in where the alpha channel is black was also made black in the other channels.

Steps to reproduce the beh

[2020-07-01 10:45] fmassa opened #2377 "NVCC_FLAGS not needed in pkg_helpers.bash anymore?"
In `pkg_helpers.bash` and in a number of packaging files for Windows, we hard-code `NVCC_FLAGS` for different compute capabilities
https://github.com/pytorch/vision/blob/fa6af6d1e6f050d0a930e6f59894b7dd40aa869c/packaging/pkg_helpers.bash#L61
As mentioned in a comment by @ezyang in
https://github.com/pytorch/vision/blob/fa6af6d1e6f050d0a930e6f59894b7dd40aa869c/packaging/pkg_helpers.bash#L59-L60
har

[2020-07-01 12:11] fmassa commented on #2376
Thanks for opening this issue!

As you noted, this is a problem with Pillow, which is a dependency for torchvision.

I would like to note that we are progressively adding support for the transforms to work directly on Tensors, see https://github.com/pytorch/vision/issues/1375 and https://github.com/pytorch/vision/issues/2292, so that in the near future you'll be able to directly call those transfo

[2020-07-01 12:14] fmassa commented on #2360
Hi,

I can't reproduce this issue locally.

Can you post the full log of the error? It should indicate which part of the C++ extensions is failing to compile.

Additionally, I would recommend using the nightly builds whenever possible.

[2020-07-01 12:45] fmassa commented on #2357
I agree the documentation can be improved to mention that the aspect ratio is associated with the aspect ratio of the crop before resizing.

PRs improving the documentation are welcome

[2020-07-01 13:27] puraminy commented on #2360
@fmassa
Hi, I pasted more log of the error in my question. Also I cloned the nightly branch and I got the same error.

[2020-07-01 13:33] fmassa commented on #2360
@puraminy from the extra line you added, the issue seems to be with the ffmpeg compilation, but the exact error that you have is not present, so it's hard to say what's going on. Can you paste more of the error ?

If you don't need the ffmpeg extensions for video reading, you can either disable them by making this `if False:` in https://github.com/pytorch/vision/blob/fa6af6d1e6f050d0a930e6f59894b7

[2020-07-01 14:11] puraminy commented on #2360
@fmassa I attached a log file of the error, I mean by redirecting `python setup.py install > er.log`
I will test what you said about ffmpeg

`
[er.log](https://github.com/pytorch/vision/files/4858359/er.log)
`

[2020-07-01 14:15] puraminy commented on #2360
@fmassa  I disabled the ffmpeg and it was installed

[2020-07-01 14:22] Huud commented on #2376
Glad to see tensors will be supported directly, PIL dependency added issues like performance and number of channels that I had to live with or write my own workarounds for them.

I don't think this is an issue for PIL since it is a library meant for images, and zeroing out pixels that won't be seen due to transparency makes sense for them.

Ah, looks like I mixed the "opencv_transforms" version wh

[2020-07-01 15:30] fmassa commented on #2360
@puraminy the log was very helpful, thanks a lot!

So it seems that we managed to find `ffmpeg` in your system, but `libavcodec/avcodec.h` was not in the location that it was expected to be found.

Can you share a bit more information about your system?
For example, what is the output of
[code]
and can you try to find in your system if `libavcodec/avcodec.h` is defined somewhere? From our current

[2020-07-01 15:37] fmassa commented on #2376
well, I'm not sure I agree. the alpha channel seems to be handled as a separate channel in their interpolation kernels, so this might be a bug?

[2020-07-01 16:00] puraminy commented on #2360
@fmassa

`which ffmpeg` returns

[code]
I also ran `locate avcodec.h` and it returned:

/home/ahmad/src/avidemux_2.7.4/avidemux_core/ffmpeg_package/patches```
/libavcodec_avcodec.h.patch
/home/ahmad/src/avidemux_2.7.4/avidemux_plugins/ADM_audioEncoders/lavcodec/audioencoder_lavcodec.h

[code]

[2020-07-01 16:24] AndoniC commented on #2245
I get a similar error with VGG19.

`VGG19 model;
model->eval();
auto in = torch::rand({ 10, 3, 224, 224 });
auto out = model_from_torchvision->forward(in);`

in debug mode, this snippet of code crashes in TensorBody.h :

`int64_t dim() const {
    return impl_->dim();
  }`
this function is reached from VGGImpl's forward method  when calling features->forward(x)

`torch::Tensor VGGImpl::forward(tor

[2020-07-01 16:34] peterjc123 commented on #2245
@AndoniC Could you please post the complete stacktrace?

[2020-07-01 16:38] fmassa commented on #2360
Ok, thanks for the information!

We will try to improve our ffmpeg finding and package the optimized `video_reader` together with torchvision, so that compiling from source will not be necessary except for developers.

cc @andfoy

[2020-07-01 20:27] ezyang commented on #2377
Yes, let's remove them and see if things still work.

[2020-07-01 22:51] drwaltman opened #2380 "ONNX export of FasterRCNN: inference fails when no detections are present"
## 🐛 Bug

I am running into a similar issue as the one reported in https://github.com/pytorch/vision/issues/2251 where my exported ONNX model fails to run inference when no detections are present, but for FasterRCNN instead of MaskRCNN.

Running inference on a random tensor that will not create detections results in a similar runtime exception:

`RuntimeException: [ONNXRuntimeError] : 6 : RUNTIME_

[2020-07-02 00:58] Huud commented on #2376
The underlying issue is that in PIL -in the transform function which is called by functions like rotate- they explicitly convert "RGBA" images to premultiplied alpha format "RGBa" which multiplies the RGB component by the alpha permanently zeroing out RGB data, then they work on the the image already premultiplied, then convert back to "RGBA".

So yeah, it's not a bug for them, it is pretty delibe

[2020-07-02 05:10] AndoniC commented on #2245
[code]

[2020-07-02 09:02] fmassa commented on #2380
cc @neginraoof can you have a look? He seems to have a very recent version of torchvision, which should have had this fixed already.

[2020-07-02 09:21] vfdev-5 opened #2381 "Uniformize negative padding values support between PIL and Tensor"
## 🚀 Feature

Currently, negative padding values for `functional.pad` are not supported for any kind of padding mode and data type

[code]

This is due to `np.pad` used internally for PIL input.

## Motivation

It would be better to provide uniform behaviour for `pad` with respect of input data type and negative padding values:
- raise an error
- support it in the cases

[2020-07-02 10:50] vfdev-5 commented on #2292
Complete list for ops to support:
- [x] adjust_brightness
- [x] adjust_contrast
- [x] adjust_saturation
- [x] crop
- [x] center_crop
- [x] five_crop
- [x] ten_crop
- [ ]
- [ ]
- [ ]
- [ ]
- [ ]

[2020-07-02 11:48] #2350 closed

[2020-07-02 16:13] jekriske-lilly commented on #2330
So your solution was to drop the version to 0.4.0?

For me, I had to explicitly cast to size_t or uint at:

https://github.com/pytorch/vision/blob/master/torchvision/csrc/cpu/decoder/seekable_buffer.cpp#L58
https://github.com/pytorch/vision/blob/master/torchvision/csrc/cpu/decoder/seekable_buffer.cpp#L75
and
https://github.com/pytorch/vision/blob/master/torchvision/csrc/cpu/decoder/util.cpp#L398-L

[2020-07-03 06:42] zhiqwang commented on #2380
The keys of `ort_inputs` in the second case is `data` ?

`ort_inputs = {"data": random_array}`

Maybe this repo cause the error?

[2020-07-03 09:00] fmassa commented on #2380
@drwaltman have a look at @zhiqwang explanation, it looks like it could be the cause of the issue you are facing.

[2020-07-03 09:18] fmassa commented on #2251
@drwaltman we replied on the other issue you created, let's keep the discussion there.

[2020-07-03 09:20] fmassa commented on #215
@eduardo4jesus I wouldn't say that `target_transforms` doesn't make sense for classification problems.
One could for example want to merge labels into common categories during training (say, via some sort of taxonomy), and the `target_transform` could be used for that.

[2020-07-03 09:32] fmassa commented on #1899
Hi,

We have now hopefully fix this issue by replacing instances of `@torch.jit.script` with `@torch.jit._script_if_tracing`, and this fix will be present in the next release of torchvision, which will be out in a few weeks.

As such, I'm closing this issue as I believe this should be fixed with the 0.7.0 release, but please let us know if this isn't fixed when the 0.7.0 release comes out

[2020-07-03 09:32] #1899 closed

[2020-07-03 09:34] fmassa commented on #2330
@jekriske-lilly can you send a PR with the casts that you mentioned?

[2020-07-03 12:15] Nilanshrajput opened #2387 "CelebA dataset error"
## 🐛 Bug

 CelebA Dataset download produce bad zip file

## To Reproduce

Steps to reproduce the behavior:

`from torchvision.datasets import CelebA
import os
os.mkdir('Data')
liader = CelebA(root = '/Data',download=True)`

## Environment
On google Colab
Please copy and paste the output from our
`Collecting environment information...
PyTorch version: 1.5.1+cu101
Is debug build: No
CUDA used to bui

[2020-07-03 12:26] fmassa commented on #2387
Hi,

Thanks for opening this issue! I believe this is a duplicate of https://github.com/pytorch/vision/issues/2317, and should be fixed with https://github.com/pytorch/vision/pull/2321 (which I'll be merging today after a rebase)

[2020-07-03 12:26] fmassa commented on #2387
Closing as a duplicate of  #2317

[2020-07-03 12:26] #2387 closed

[2020-07-03 12:28] Nilanshrajput commented on #2387
okay, but I was able to download 3 days ago :) on colab

[2020-07-03 12:33] fmassa commented on #2387
yeah, it is a problem with Google Drive exceeding quota. We will be raising a more meaningful error message with #2321

[2020-07-03 12:52] #2262 closed

[2020-07-03 12:52] #2317 closed

[2020-07-03 12:59] fmassa commented on #1601
Quantization for faster rcnn is not yet supported in torchvision

[2020-07-03 20:36] drwaltman commented on #2380
Hi @zhiqwang and @fmassa, thanks for the responses!

Running inference on the random tensor is now working after updating torch to [1.7.0.dev20200626](https://github.com/pytorch/pytorch/commit/28d1a1436bd51092843392025f184b1f428745b2) and torchvision to [0.8.0.dev20200629](https://github.com/pytorch/vision/commit/bd3b8f06e42856dc47664857b57054050b1aa319)!  @zhiqwang how did you determine to use th

[2020-07-03 20:36] #2380 closed

[2020-07-04 01:44] jekriske-lilly commented on #2330
@fmassa Created #2389

[2020-07-04 03:43] neginraoof commented on #2380
@drwaltman Can you please let us know if either of latest stable (1.5.1) or nightly builds are having this issue?
Thanks.

[2020-07-04 04:38] zhiqwang commented on #2380
@neginraoof I have tested it in torch 1.5.1 and torchvision 0.6.1 (aka 0.6.0a0+35d732a). The inference results of pytorch is equal with ort's.

@drwaltman In an early June nightly version, there is a bug in the [test_onnx.py unittest](https://github.com/pytorch/vision/blob/75f5b57e680549d012b3fc01b356b2fb92658ea7/test/test_onnx.py#L238). Have updated it to nightly version in June 30, it's resolved

[2020-07-04 06:46] Sentient07 opened #2390 "Excessive memory consumption while using DistributedDataParallel"
## 🐛 Bug

TL;DR : While using `DistributedDataParallel` and multiple GPU, memory consumption on each GPU seems to be more than twice as much as what is observed when without using `DistributedDataParallel` on a single GPU.

## To Reproduce

I have been using FasterRCNN from Torchvision’s models that uses DistributedDataParallel for training. However, I find that while using multiple GPU, the memor

[2020-07-04 09:52] mobassir94 opened #2391 "How to Change All BN layers to GN layers?"
i tried this :

[code]

and it gives this error :

[code]

[2020-07-04 12:41] maminus opened #2392 "build error in ubuntu with libpng"
## 🐛 Bug

I tried to build torchvision package.
I found build error at linking image.so.

## To Reproduce

Steps to reproduce the behavior:

[code]
And error message.

[code]

g++ option `-Llibpng-config: --libdir option is disabled in Debian/Ubuntu` is wrong.

## Expected behavior

`-L` option is correct libpng library path.

## Root Cause & Environment
Now, setup.py is using libpng-config comman

[2020-07-04 15:51] AndoniC commented on #2245
I have implemented VGG19 model from torchvision VGG code to try to find the error by debugging.

[code]

But there is no problem with this model when executing this code

[code]

So I still don't know why using torchvision model fails. I would say that the model is the same isn't it?

[2020-07-04 16:11] peterjc123 commented on #2245
@AndoniC What is the uncompressed size of the model?

[2020-07-04 19:39] ruotianluo commented on #689
I saw a solution somewhere else by adding  __getstate__ and __setstate__.
[code]
This also doens't save self.env but instead of saving the txn.

[2020-07-05 09:09] AndoniC commented on #2245
Hi @peterjc123,

I am not sure about what you mean with  'uncompressed size of the model'. Could  It be the size of the instance of VGG19Custom class (the object 'modelvggcustom') in memory? and if so, do you know how I could check that in visual studio? Or maybe the object 'model' which is an instance of torchvision VGG19 class?

thanks

[2020-07-05 09:21] FiReTiTi opened #2393 "Mask R-CNN: get all the parts and train specific ones"
Hi,
I would like to access all the different parts of Mask R-CNN in order to only train some of them.
I learnt in the discussion forum that I can use `requires_grad` to enable/disable training, but how can I access all the `trainable` parts?
Thanks,

[2020-07-05 11:11] AndoniC commented on #2245
Finally, I have used Debug / Windows / Show Diagnostic Tools to see the memory increment when I declare the object. I hope this can help. Memory usages increases in 561 MB.

[2020-07-05 15:08] pmeier commented on #2391
The problem you are facing stems from the fact that `getattr` and `setattr` only work on the direct children of an `nn.Module` while `nn.Module.named_modules()` recursively returns all sub-modules.

You can try something like this:

[code]

`get_layer` and `set_layer` have the same signature as `getattr` and `setattr` but will handle the sub-modules for you.

[2020-07-05 15:15] pmeier commented on #2393
HI @FiReTiTi, please note that this issue tracker is not a help form and this issue will be closed. Our primary means of support is our discussion forum.

---

You can access all parameters with `nn.Module.parameters()`. For the freezing part, have a look at [this question](https://discuss.pytorch.org/t/best-practice-for-freezing-layers/58156).

[2020-07-05 17:22] mobassir94 commented on #2391
@pmeier thank you a lot,i tried your code and it gave me no error!
can you pleace check if  my implementation has any bug for efficientnet-b0 bn to gn changing?
here  is my code :
[code]

when  i try this code i see all bn layers changed to gn layers but surprisingly i see train loss is not nan but validation loss is nan and also model outputting nan.i get this error : ValueError: Input contains N

[2020-07-05 18:17] pmeier commented on #2391
@mobassir94

Please note that this issue tracker is not a help form and this issue will be closed. Our primary means of support is our [discussion forum](https://discuss.pytorch.org).

This indicates that most likely one of the following is happening:

- You validation data is corrupt and has `NaN` values from the start or
- you are handling training and validation differently.

I can't be more pr

[2020-07-05 18:30] mobassir94 commented on #2391
thanks @pmeier
the two points you mentioned shouldn't be true in my case because same model works fine when i don't try to change bn with gn layers,i posted everywhere and got no  help,i will share my full model code here,if you can help me then i will be happy otherwise thank you a lot for providing your solution,here is my full code :

[code]

[2020-07-05 18:31] mobassir94 commented on #2391
that same model works fine when i don't try to change  bn with gn layers like i did in last comments code,thank you a lot anyway for your massive help

[2020-07-05 19:25] FiReTiTi commented on #2393
sorry.

[2020-07-05 19:26] pmeier commented on #2391
Don't see the following as rude, but rather as educational:

1. This is most likely not a bug, but a user error. There is no shame in that, but it simply does not belong in an issue tracker as stated above. Please ask you question in the discussion forum.
2. If you want others to help you, you need to provide a minimal example of the problem you are facing:
    1. It has to be self-contained. I ne

[2020-07-05 19:40] mobassir94 commented on #2391
@pmeier  sorry, this question was asked under "question and answer" section of github issues, so i think i have right to ask questions as it was not posted under "bug issues" section

sorry my dataset size is 400 GB,i don't know how to share the code that you can run in your machine without downloading that huge dataset,i just wanted you to check if any line of code from my solution is having bug

[2020-07-05 21:58] mattans commented on #1610
@fmassa , since you used a pretrained model, didn't you need to normalize your PIL image before?

[2020-07-06 09:31] cvcore opened #2395 "Supporting more target_type for Cityscapes"
Hi,

as the Cityscapes dataset also provides extra training data e.g. disparity upon request, I was wondering if they should be added also to the `target_type` argument for ease of use as well?

one straightforward extension could be:
[code]

[2020-07-06 10:44] fmassa commented on #2392
Thanks for opening this issue!

cc @andfoy can you have a look?

[2020-07-06 12:08] fmassa commented on #2330
Merged #2389, so this should hopefully fix the issues that @overclock98 was seeing.

[2020-07-06 14:38] pmeier opened #2397 "Normalization for object detection"
Migrated from [discuss.pytorch.org](https://discuss.pytorch.org/t/input-format-for-pretrained-torchvision-models/48759/9). Requests were made by @mattans.

## 📚 Documentation

The reference implementations for classification, segmentation, and video classification all use a normalization transform. In contrast, object detection does not use any normalization.

[2020-07-06 14:51] fmassa commented on #2397
Hey,

So, the issue is that we embed the normalization (and other transforms) inside the model itself, see https://github.com/pytorch/vision/blob/e212cc86b80baf1a46681442db1312ebce5a21bb/torchvision/models/detection/transform.py#L104-L105

This inconsistency is unfortunate, but was kind of necessary in order to make it easier for users to use the detection models. My thinking was that we might wan

[2020-07-06 17:19] andfoy commented on #2392
@maminus, could you please check if https://github.com/pytorch/vision/pull/2398 fixes this issue?

[2020-07-06 20:54] #2392 closed

[2020-07-07 03:17] jianjiandandande opened #2400 "DownSample"
https://github.com/pytorch/vision/blob/86b6c3e22e9d7d8b0fa25d08704e6a31a364973b/torchvision/models/resnet.py#L195

Why don't we need a downsample in this loop??

[2020-07-07 09:21] fmassa commented on #2400
Hi,

The original implementation of ResNet's only downsample at the first block of each layer. This way, the downsampling rate is a factor of the number of layers (always 4) instead of the number of blocks (which depends on the depth).
From the original paper https://arxiv.org/pdf/1512.03385.pdf
![image](https://user-images.githubusercontent.com/9110200/86758112-e9701500-c043-11ea-9489-1e0575bb3e0

[2020-07-07 09:21] #2400 closed

[2020-07-07 09:31] fmassa commented on #2391
Hi,

I believe the original question has been answered (converting BN to GN), and now the issue is with getting NaN's during training on a script that we do not fully have, nor on data that we know about.
Note that if your model get's NaNs, there can be a lot of potential causes, one of them being a too large learning rate.

As @pmeier mentioned, we use GitHub issues to track bug reports or featur

[2020-07-07 09:31] #2391 closed

[2020-07-07 09:32] fmassa commented on #2393
Closing following @pmeier answer.

[2020-07-07 09:32] #2393 closed

[2020-07-07 09:44] fmassa commented on #2390
Hi,

The discussion forums is generally the best place to ask those questions, but let me quickly try to give one piece of feedback.

I would say that it's not expected to get a much larger memory consumption when using 4 GPUs compared to 1 GPU.

One thing to notice is that you seem to be overriding a number of flags which are generally not needed to be set in a standard reference script, like `wo

[2020-07-07 09:44] #2390 closed

[2020-07-07 10:23] fmassa commented on #1678
@lukasfolle we are working on making the transforms in torchvision support Tensors of multiple dimensions, but it might not directly translate to 3d volumes because they assume a different structure, while we currently assume that we have 2d images which are possibly batched

[2020-07-07 14:33] fmassa commented on #1610
Hi @mattans

Normalization for the detection models happen inside the model, see https://github.com/pytorch/vision/blob/9b804659e1accdafc5cf3872ccbcdd1330844dbe/torchvision/models/detection/transform.py#L104

[2020-07-07 14:47] fmassa commented on #1916
@ebrahim31 just pass
[code]
when compiling torchvision.

[2020-07-07 14:57] fmassa commented on #288
@Mayurji with latest versions of torchvision, if you pass a single value for the `Normalize` function and feed a 3-channel RBG Image, `Normalize` will still work

[2020-07-07 14:58] mibaumgartner opened #2402 "3D NMS and RoiAlign for volumetric data"
## 🚀 Feature
3D data gains more and more popularity inside the deep learning community. As a consequence it would be great to have a unified 3D NMS and 3D ROI Align for future and current projects like MONAI .

## Motivation
[Information](https://github.com/pytorch/vision/pull/2337#issuecomment-654775782) added from @mjorgecardoso
Medical imaging is a huge field of research, with conferences such

[2020-07-07 15:07] fmassa commented on #2329
Closing the issue following @pmeier comment.

[2020-07-07 15:07] #2329 closed

[2020-07-07 15:14] Space-debug commented on #940
Did you sovle it? I met the same issue.

[2020-07-07 15:21] fmassa commented on #2322
Hi @kuzemchik

This is indeed a problem, and is accentuated given that PyTorch doesn't accept `uint16` types, only `int16`, so this would only partially be supported (via numpy). This would make `ToPILImage(ToTensor(pil_image))` not the identity, as we don't support `uint16` types. I'm not sure there is a good alternative here, but I'm open for feedback.

For context, support for `int16` was added

[2020-07-07 15:32] Space-debug commented on #904
I fixed this error. You could add _C.cpython-36m-aarch64-linux-gnu.so to the file 'torchvision'(it's just for jetson nano)

[2020-07-07 15:40] fmassa commented on #940
@Space-debug your versions of PyTorch and TorchVision are incompatible.

Please refer to the compatibility table in https://github.com/pytorch/vision#installation

[2020-07-07 16:27] Stannislav commented on #1439
Maybe the reason why the stds don't match is that it was originally called with `unbiased=False`?

[2020-07-07 17:01] pmeier commented on #1439
@Stannislav in #1965 I've managed to get pretty close the the original numbers.

[2020-07-07 20:08] #2367 closed

[2020-07-07 21:19] mattans commented on #2397
OK, thanks. I also think it's worth updating the docs.

[2020-07-07 21:21] mattans commented on #1610
Great, thanks.
Linking to https://github.com/pytorch/vision/issues/2397#issuecomment-655141156 as it's related.

[2020-07-08 05:03] pmeier commented on #2397
@mattans We are happy to accept a PR for that. Would you like to send one?

[2020-07-08 11:05] mattans commented on #2397
Yes, I will do it in the following days. Thank you very much.

[2020-07-08 17:44] #2370 closed

[2020-07-08 18:42] fmassa opened #2433 "test_rgb2hsv is flaky"
It looks like `test_rgb2hsv` is flaky and fails sometimes.

https://app.circleci.com/pipelines/github/pytorch/vision/3217/workflows/77e60582-2ddc-46db-933f-33c45c27387c/jobs/178179/tests

Example error that we get
[code]

[2020-07-09 09:10] bryandeng opened #2439 "[RFC] Hardware-accelerated video decoding"
## 🚀 Feature
Hardware-accelerated video decoding

## Motivation
Now that torchscriptable transforms natively supporting GPU have landed, hardware-accelerated video decoding may further help relieve the IO bottleneck commonly seen in large-scale video deep learning tasks.

## Pitch
This functionality is likely to be built upon FFmpeg's hardware acceleration APIs, since FFmpeg is already in use and

[2020-07-09 09:58] fmassa opened #2440 "Add testing for aligned flag in RoIAlign"
RoIAlign with `aligned=True` doesn't currently have tests.
We should extend the testing for RoIAlign to take into account a few different cases, including https://github.com/pytorch/vision/pull/2438

[2020-07-09 11:33] fmassa commented on #2439
Hi,

Thanks for opening the issue!

I agree that video decoding on the GPU would be a nice functionality to have, although it's not in the near-term plan for now (maybe in 6 months?).

About seeking on videos, we are preparing a revamp of the video reading abstractions which will be more generic and allow for more flexibility while performing video decoding. cc @bjuncek

For video transformations

[2020-07-09 11:39] fmassa commented on #2376
Ok, makes sense.

@vfdev-5 is currently working on making the remaining transforms in torchvision that depends on PIL to also work directly with torch Tensors by using torch operations, so this will be fixed (when using torch Tensors) in the next few weeks

[2020-07-09 20:53] astaff opened #2447 "Label tracking meta-issue (edit me to get automatically CC'ed on issues! cc bot)"
This issue is used by [pytorch-probot](https://github.com/pytorch/pytorch-probot) to manage subscriptions to labels.  To subscribe yourself to a label, add a line `* label @yourusername`, or add your username to an existing line (space separated) in the body of this issue. **DO NOT COMMENT, COMMENTS ARE NOT RESPECTED BY THE BOT.**

As a courtesy to others, please do not edit the subscriptions of u

[2020-07-09 22:24] mattans commented on #2397
Just to make sure: @fmassa , what will happen if I use the object detection models without pretraining? Will it still auto-normalize the inputs?
Also, does this auto-normalization apply for both training and inference?

[2020-07-10 04:47] sakshamjn opened #2449 "Custom Weights for Pytorch Hub for yolo v5"
Hello
Just wanted to know if there a way of import yolo v5 model using PyTorch Hub and then loading my custom weights on top of it.

[2020-07-10 05:31] pmeier commented on #2397
Yes. The normalization transform is "hard coded" into the models:

https://github.com/pytorch/vision/blob/131ba1320b8208f10eb58d5feb7416c90ed839bb/torchvision/models/detection/faster_rcnn.py#L227-L233

`KeypointRCNN` and `MaskRCNN` inherit from `FasterRCNN` (shown above) and thus also have this behavior.

---

Yes. The model is created the same for training and inference

https://github.com/pytorc

[2020-07-10 05:52] pmeier commented on #2449
Hi @sakshamjn

If didn't miss anything, we currently do not provide a pre-trained model for YOLOv5 or any other YOLO variant for that matter.

That begs the question why you would want to load a pre-trained variant first if you already have weights? How did you acquire them?

[2020-07-10 06:23] sakshamjn commented on #2449
The thing is I wanted to load the Yolo v5 model without using .yaml file during production. That's why I am looking for other options like PyTorch Hub.
And for the training part I took pre trained weights and on top of that I trained my custom model. But during deployment I want some better way to do so.

[2020-07-10 06:23] #2449 closed

[2020-07-10 06:48] pmeier commented on #2449
@sakshamjn

Its easy to create your own (possible untrained) model that is loadable with [`torch.hub`](https://pytorch.org/docs/stable/hub.html). In short you need a `hubconf.py` file where you define your model (say `yolo_v5`) in the top level of a GitHub repository. If you have that, you can simply do the following for production:

[code]

[2020-07-10 08:15] hakontonne commented on #2192
Hello, couldn't this be done more easily than with extensive tests?
I've encountered this issue myself and fixed it locally by changing
[code]
in `GeneralizedRCNNTransform` to

[code]

This is simple, fixes the issue and is consistent with the actual check for background image in `roi_heads.py`:
[code]
It's the `bbox.numel() == 0` that determines if a label is background or not, then as long as a

[2020-07-10 14:18] aviallon commented on #2001
I got the same issue too. Is there a PR yet ?

[2020-07-10 14:35] fmassa commented on #2192
@hakontonne the issue with this approach is that we are propagating "unexpected" tensor shapes, which might work in some cases but is prone to failure.

I think it's ok to ask users to format their dataset in a way which is uniform -- providing boxes which are of shape 0 sometimes is not as uniform as if they have always Nx4 shape (with N potentially being 0).

[2020-07-10 16:02] two-names commented on #2001
@aviallon Actually I don't know.
I just removed the flags -Wall -Wextra -Wno-unused-parameter -Wno-missing-field-initializers -Wno-write-strings -Wno-unknown-pragmas -Wno-missing-braces -fopenmp from flags.make

[2020-07-10 20:23] astaff opened #2458 "[do not delete] testing probot"
cc @astaff

[2020-07-11 03:14] JuanFMontesinos opened #2460 "[IO] Add warning in torchvision.io if seeking for a pts out of the video. Silent error otherwise"
## 🚀 Feature
Add a warning/error when reading a video using `torchvision.io.read_video` and seeking for a timestamp which points out of the video.

## Motivation
Example:
I have a video which is 30s duration.
I ask video reader to load from t= 35 to t=50.
reader will silently fail to do so and will return the last frame of the video stream.

## Pitch

I want to add a simple warning/error to preven

[2020-07-11 14:45] Lothakim opened #2461 "couldn't import models from torchvision"
I was using the textbook **Deep-Learning-with-PyTorch** to get familiar with the pytorch. Here I tried to
`from torchvision import models`
but failed, the error message is
`module 'torch.jit' has no attribute '_script_if_tracing'`
I have no idea what's wrong. Please help, thank you

[2020-07-11 16:53] pmeier commented on #2461
Hi @Lothakim, what version of `torch` and `torchvision` are you using? If you are unsure please run

[code]

[2020-07-11 23:53] Lothakim commented on #2461
Thank you!
My `pytorch` version is 1.5.0, but I even couldn't `import torchvision`, with the same error message `module 'torch.jit' has no attribute '_script_if_tracing'`
I just cloned this repository yesterday, so I guess the `torchvision` is supposed to be up to date.

[2020-07-12 00:13] #2461 closed

[2020-07-12 03:30] peterjc123 commented on #2245
I can reproduce this issue locally with the latest nightly of pytorch and a fresh clone of torchvision. It throws an error `dim() called on undefined Tensor` on exit. Any ideas, @fmassa?

[2020-07-12 05:17] ppwwyyxx commented on #2148
Another related issue: currently if the torchvision extension failed to load, due to whatever reasons (including incompatible pytorch version), it will just silently ignore the exception:
https://github.com/pytorch/vision/blob/cf534fdaee048a7edce90a5577508985c58c3602/torchvision/extension.py#L23-L27

and later, if a user attempts to use operators in the extension, uninfo9rmative error like `Runtim

[2020-07-12 05:55] peterjc123 commented on #2245
Actually, it works after I replace `torch::nn::Functional(modelsimpl::relu_)` and `torch::nn::Functional(modelsimpl::max_pool2d, 2, 2)` with `torch::nn::MaxPool2d(torch::nn::MaxPool2dOptions({2,2}))` and `torch::nn::ReLU()`, which implies there maybe sth problem with `torch::nn::Functional`.

[2020-07-12 06:19] peterjc123 commented on #2245
I opened an issue in https://github.com/pytorch/pytorch/issues/41316.

[2020-07-12 08:05] peterjc123 commented on #2245
The function signatures in  `modelsimpl.h` are wrong. I fixed them in https://github.com/pytorch/vision/pull/2463. @fmassa Could you please take a look?

[2020-07-12 08:55] AndoniC commented on #2245
I made the changes you proposed and it worked!
Thankyou very much peterjc123.

[2020-07-12 15:30] #2245 closed

[2020-07-12 15:32] fmassa commented on #2461
For posterity, this error happens if your PyTorch version is not new enough.

[2020-07-12 18:16] fmassa commented on #2148
@ppwwyyxx yes, that would be a good thing to do, but unfortunately IIRC torchscript doesn't support global values, so I'm not sure how we would be able to do it properly.

Actually, thinking about it a bit more, maybe here is one possible solution:
[code]
and then in the python implementations
[code]

That could work with torchscript I think.

[2020-07-13 01:47] jamestwebber commented on #1902
I'm having this issue again, when trying to create a Dockerfile with pytorch-nightly. In my case I'm trying to install the GPU version of pytorch but I am getting 1.3.1 and no GPUs detected :(

Is torchvision actually required for pytorch to work? I'm not using it for anything as far as I know. If I omit torchvision I get pytorch 1.5.0, which seems weird since it's behind the stable version? And I

[2020-07-13 05:12] aluds123 commented on #904
@Space-debug  Hi, how can I get  "_C.cpython-36m-aarch64-linux-gnu.so" ?
Thank you.

[2020-07-13 16:29] Space-debug commented on #904
Please give me your E-mail. I send to you.

[2020-07-13 16:29] Space-debug commented on #904
@aluds123

[2020-07-13 16:58] danilopeixoto commented on #1706
Hi,

I was able to export the model to ONNX and it was working fine, but now only empty detections are returned. I've tried to downgrade the package versions, change the opset, check the code for changes.

Model inference using PyTorch still works.

Has anyone experienced this issue exporting Faster RCNN model to ONNX?

[2020-07-13 17:07] frgfm commented on #1775
@fmassa let me know if you have some inputs on this
_If you think it's not worth it or irrelevant, we can close the issue_

[2020-07-13 21:51] eduardo4jesus commented on #215
@fmassa. (Wow) That is true! Thank you so much. I hadn't thought about that usage!

[2020-07-13 23:55] KushajveerSingh commented on #2433
Problems:
1. Precision lost when converting from pytorch -> numpy
2. Colorsys gets completely flipped out due to floating error as shown below (this is wonderful).

Inconsistency due to precision. Consider two-pixel values:
* val1 = [0.3749333, 0.0530237, 0.05302376]
* val2 = [0.3749333, 0.0530237, 0.0530237]

Only 6 is missing in the eight-decimal place. Colorsys fips on the **Hue** value.

[code

[2020-07-14 05:35] Jobanan opened #2469 "ImageNet pre-trained model code and hyper-parameters"
Hi,

Is the code used to trained the torchvision models (especially Resnet) on ImageNet available ? What are the hyper-parameters used  ? Did you use specific methods (dropout, weight decay, specific augmentation such as cutout...etc) during training ?

Thank you very much

[2020-07-14 06:58] pmeier commented on #2469
Hi @Jobanan, you can find the training scripts for all pre-trained models here:

https://github.com/pytorch/vision/tree/master/references

The hyper parameters are displaying in the [README](https://github.com/pytorch/vision/blob/master/references/classification/README.md), but for everything else you have to dig into the actual [training script](https://github.com/pytorch/vision/blob/master/refer

[2020-07-14 06:58] #2469 closed

[2020-07-14 12:20] KushajveerSingh commented on #2433
I tried some more things.
[code]
When I convert this to Numpy
[code]
The precision is lost. The interesting thing now is, if I convert this value back to tensor the precision comes back
[code]

I again tried the above. But I did it more explicitly. I define a numpy array with value as below
[code]
Now when I convert this to tensor, I get all those extra decimals.
[code]

There is something wrong w

[2020-07-14 12:25] KushajveerSingh commented on #2433
### It is pytorch float issue
Pytorch is acting weird. Nothing is wrong with numpy conversion as shown below.
[code]
The above works correctly in Numpy. I tested this on Pytorch master + Pytorch 1.5.1.

Is it a known pytorch thing?

[2020-07-14 14:01] danilopeixoto commented on #1706
I replace the dummy input:

[code]
with:

[code]

and it worked.

This issue may be related to [Export object detection model to ONNX:empty output by ONNX inference](https://discuss.pytorch.org/t/export-object-detection-model-to-onnx-empty-output-by-onnx-inference/74340).

[2020-07-14 14:39] weijian-sun opened #2470 "torchvision c++ api build from source, Build error about C++14 and C++11"
##  torchvision c++ api build from source, in master branch, Build error about C++14 and C++11

### Environment
PyTorch Version:  1.5.1 build from source
OS (e.g., Linux): Ubuntu 16
How you installed PyTorch (conda, pip, source): source
Build command you used (if compiling from source):
#!/bin/bash
WORKSPACE=$(cd $(dirname $0);pwd)
export PATH=/opt/protobuf/bin:$PATH
mkdir build
cd build
/opt/cmak

[2020-07-15 05:17] pmeier commented on #2470
Hi @weijian-sun,

I'm out of my depth for the build process, we'll have to wait for someone else. Still, I noticed one thing while skimming the output: In **Environment** you stated you have CUDA 10.2, but the build `-- Found CUDA: /usr/local/cuda (found version "10.0")`.