[2020-11-19 18:11] #3021 closed

[2020-11-19 19:00] datumbox opened #3034 "Clean up and Document the io.image enhancements"
PR #3024 introduced a few enhancements on the `io.image` methods used for reading JPEG and PNG images. The code changes were merged but there are a few nice-to-have improvements missing.

More specifically:
- [x] Provide better error messages for [JPEG](https://github.com/pytorch/vision/pull/3024#discussion_r527066925) and [PNG](https://github.com/pytorch/vision/pull/3024#discussion_r527093866) wh

[2020-11-19 20:20] jgbradley1 commented on #2992
@pmeier I can confirm I'm seeing the same behavior as @KhabarlakKonstantin for mini imagenet. At this time, the mini imagenet file has not exceeded the threshold.

The real issue here then is how we're checking for a quota exceeded error. A string search is just not going to cut it for large files (1+ GB). According to the Google Drive API [docs](https://developers.google.com/drive/api/v3/handle-e

[2020-11-19 21:53] jgbradley1 commented on #2992
The mini imagenet file has now exceeded the threshold for today when downloading programatically. Here are some observations of what I can see.

* `response.status_code = 200`

Output of `print(response.text)` is
[code]

I can still manually download the file from [here](https://drive.google.com/file/d/16V_ZlkW4SsnNDtnGmaBRq2OoPmUOc5mY/view) using a browser. Perhaps Google Drive allows more _brows

[2020-11-19 22:02] FiReTiTi commented on #1882
Hi @fmassa,
I tried to apply what you shared above, but it didn't work.

As a test:
 - I took `maskrcnn_loss`, changed the name, and added a `print`to make sure that everything was ok.
 - I tried to use `roi_heads.mask_rcnn_loss = My_Loss`
 - And I alsoI tried to use `mymodel.roi_heads.mask_rcnn_loss = My_Loss`

Unfortunately, in both case, `MyLoss` was never called (print never executed).

I use

[2020-11-20 02:43] feiyuhuahuo commented on #1405
Hey guys, I meet the same problem: `RuntimeError: No such operator torchvision::nms`  with torch1.6 with torchvision0.7, and torch1.7 with torchvision0.8.1.
Then I modifty the code to such a way and it works:
from
 `torch.ops.torchvision.nms(boxes, scores, iou_thres)`
to
` import torchvision`
 `torchvision.ops.nms(boxes, scores, iou_thres)`
Hope this is helpful.

[2020-11-20 06:06] TingsongYu commented on #3025
@albanD Thanks your idea. It can be solved this problem theoretically.
[code]

In addition, this line

change "range" to a local variable, so that it doesn't work.  It can be changed to
[code]

Moreover, it's better not to use "range" as a local variable. @fmassa

[2020-11-20 06:20] pmeier commented on #2992
@jgbradley1

True. I didn't think of this when I implemented the check. We should use `response.iter_content` to get the first chunk and only search in there. I'm not sure if this interferes with the saving of the file if the quota is not exceeded. I'm on it.

This was the first thing I checked and I always got 200 back. I only went for checking the response content after that.

True again, but si

[2020-11-20 06:38] EZ4NO1 opened #3036 "Faster R-CNN raise errors when input tensor has require_grad=True"
## 🐛 Bug

## To Reproduce

I am using the pretrained Faster R-CNN model in torchvision as a sub-model in my own image generating model. In fact,I need the Faster R-CNN to backward properly when training my whole model.
But I found that when i feed the  Faster R-CNN model in torchvision with the input having  require_grad=True,it will raise following errors.
[code]
OR
[code]
both code blocks will r

[2020-11-20 09:16] fmassa commented on #1405
@feiyuhuahuo can you share where in the codebase / tutorials the `torch.ops.torchvision.nms(boxes, scores, iou_thres` version is used? The only version that we encourage users to use is `torchvision.ops.nms(boxes, scores, iou_thres)`

[2020-11-20 09:17] fmassa commented on #3025
@TingsongYu I agree, we should not be using `range` as an argument here, this is a bad name for the function.

I would be happy merging a PR that fixes both issues (with proper deprecation warning that `range` is deprecated, via `**kwargs` unpacking).

[2020-11-20 09:32] fmassa commented on #3016
Thanks for the notebooks @SliMM !

I'm still a bit surprised that the 5s resampling example shows FFmpegVideoReader being much faster. Maybe what's going on is that for that video length and Hz, we can jump to keyframes and then do just a few frame decodings directly for faster reading? If that's the case, then this is for now not something that we support in the video reader in torchvision, but i

[2020-11-20 09:33] feiyuhuahuo commented on #1405
@fmassa  I get the code from the official yolov5 project.
https://github.com/ultralytics/yolov5/blob/199c9c787427ece5723d5309e1c7c524a99bc59d/utils/general.py#L326

[2020-11-20 09:37] fmassa commented on #3036
Hi,

In inference mode, Faster R-CNN is not differentiable end-to-end because NMS is non-differentiable.
As such, those types of errors are kind of expected, and even if we fix the particular example you showed, by definition the model won't be giving the type of results you'd want / expect.

If you are looking for an end-to-end differentiable model at inference time, I would maybe recommend you h

[2020-11-20 09:37] #3036 closed

[2020-11-20 09:39] fmassa commented on #1405
@feiyuhuahuo they should change their code, as this is not supported.

For `torch.ops.torchvision` to be available, we first need to `import torchvision`

[2020-11-20 09:41] fmassa commented on #1405
@feiyuhuahuo I've commented in https://github.com/ultralytics/yolov5/issues/1272#issuecomment-731060257

[2020-11-20 09:46] fmassa commented on #2959
Ok, I'm convinced with @datumbox and @vfdev-5 comments, so I think in order to get users to try this out we should instead replace examples / tutorials with the new code.

As such, I'll be closing this issue, but thanks again for the discussion and let us know if you have any more thoughts / comments.

[2020-11-20 09:46] #2959 closed

[2020-11-20 09:52] fmassa commented on #1904
@filoliufei are you using the image normalization as expected by the model? Also, do you get expected accuracies with ResNet50?

[2020-11-20 13:19] bjuncek commented on #3016
Hi @SliMM - thanks a lot for the notebooks, and sorry for the late reply - I've been OOF for the last few days.
I'll take a look at this first thing next week.

My initial thoughts are:

1. resizing time difference makes sense, as fmassa mentioned, we are converting each frame to fp32, which is suboptimal. Our decoder actually supports ffmpeg based resizing, so adding that would be fairly straight

[2020-11-20 13:34] #3028 closed

[2020-11-20 15:45] Riretta opened #3040 "I am not able to obtain results with custom backbone"
_I am following the tutorial about FasterRCNN and I would like to test my network as backbone of the net:

UCapsNet return 512 features maps
I am training on VocPascal 2007_

FRCN_model = FasterRCNN(backbone_model.Ucapsnet, 21, rpn_anchor_generator=backbone_model.anchor_generator, box_roi_pool=backbone_model.roi_pooler)
FRCN_model = FRCN_model.to(device)

params = [p for p in FRCN_model.parameters

[2020-11-20 15:47] mthrok commented on #2783
Recently, in torchaudio we realized that compiling against GNU with `-fopenmp` flag causes segmentation fault. We would love to learn the correct way to link against the version of OpenMP that PyTorch uses.

[2020-11-20 17:38] xkszltl commented on #2783
I don't know.
It's also easy to have an accidental mix of intel iomp/gomp when mkl is there.

Technically cmake dependency should handle that properly.

[2020-11-21 08:03] peterjc123 commented on #2779
@fmassa @vfdev-5 Is this issue fixed?

[2020-11-22 09:09] filoliufei commented on #1904
Yes. The problem has been solved. Thank you.

[2020-11-23 15:42] terU3760 opened #3043 "python setup.py install caused the error: ModuleNotFoundError: No module named 'torch'"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1. install pytorch-nightly
2. git clone https://github.com/pytorch/vision.git
3. in the vision folder, type: python setup.py install

## Expected behavior

Successfully installed torch vision

## Environment

 - Ubuntu 16.04:
 - try to install torch vision from source
 - python setup.py install
 - CUDA 9.0/cuDNN versionv7.4
 - GTX 1080

[2020-11-24 07:25] chenbohua3 commented on #2581
Same issue in pytorch1.6.0 / torchvision 0.7.0. Since nms is a widely used op in detection, this may be a urgent problem:)

[2020-11-24 08:08] StefanRadonjic995 commented on #3040
I've got the same problem as well.  I'll try to provide more information/context to maybe help us solve it.

1. Here I load my dataset:

[code]

2. Here I load pretrained DenseNet121 model:

[code]
3. Here I create FasterRCNN Network:

[code]

Here is how my final model looks like:
a
[code]

4. Here is training loop:

# let's train it for 10 epochs
[code]

As a result I am getting following output

[2020-11-24 11:18] bulatnv opened #3044 "Faster/Mask RCNN (fasterrcnn_mobilenet_v2_fpn) model export to ONNX. Warnings."
Hello,

I have a lot of 'UserWarnings' during exporting model to ONNX. Can someone clarify meanings of this warnings and help to eliminate then. I am creating model from [this finetuning tutorial](https://pytorch.org/tutorials/intermediate/torchvision_tutorial.html) and have no problem during training/torch evaluation.
However encounter one 'RuntimeWarning' and about 7 'UserWarning' while exportin

[2020-11-24 11:59] zhiqwang commented on #3044
This warning will also appear in model `fasterrcnn_resnet50_fpn`.

[2020-11-25 04:14] mattbwilmes commented on #2619
@fmassa I just ran into this issue as well while roughly following https://pytorch.org/tutorials/intermediate/torchvision_tutorial.html. The issue I am seeing is using `torch.utils.data.Subset`. For example, I have the following code:
[code]
This is triggering https://github.com/pytorch/vision/blob/13b35ffaa5167f3713ea7a53c43395d90b3a7cbc/references/detection/coco_utils.py#L202-L203 and therefore

[2020-11-25 07:58] pkuppens commented on #2912
Has this problem reappeared??

It worked for me in the past, but today, no luck.

Context:
Working on Windows with Visual Studio Code, Jupyter Notebook, on a Python 3.9.0 based virtualenv.
I import numpy 1.19.3 first (because of fmod bug in Windows), and then try both versions you mention:

[code]

Results in:

[code]

I also tried from a terminal inside the virtualenv.

(Related question, I'm on

[2020-11-25 16:14] ihmc3jn09hk opened #3046 "Cannot pip install torchvision==0.8.1+cu110 (python 3.9)"
## 🐛 Bug

Install Pytorch stable failed

[code]
## To Reproduce

Steps to reproduce the behavior:
Use the following command
[code]
After browsing through https://download.pytorch.org/whl/torch_stable.html, I wonder the issue is related to Python 3.9.
The tested environment is:
Python : 3.9
Cuda 11.1
Ubuntu 20.04.

[2020-11-25 16:37] vfdev-5 commented on #3046
@ihmc3jn09hk yes, it is related to Python 3.9. The binaries for Pytorch, Torchvision and others are only available for Python 3.6, 3.7 and 3.8.

[2020-11-25 17:23] vfdev-5 commented on #3043
@terU3760 couldn't reproduce your issue in docker ubuntu 16.04 with python 3.8.5 installed using conda. Please, provide more details.

[2020-11-25 19:29] oke-aditya opened #3047 "Detection Datasets in Torchvision"
## 🚀 Feature

Can we have Pen Fudan Dataset in `torchvision.datasets` ?

## Motivation

We use this dataset so often and commonly in tutorials !
It is much easier to prototype if we have

[code]
then we could easily load this dataset in VOC Format

## Pitch

Very commonly used and first one to think when it comes to detection and segmentation tasks.
Pen Fudan is a simple dataset to prototype with

[2020-11-25 20:26] mrartemev commented on #834
Hi!
Any updates about U-net and/or HRNet?

[2020-11-26 05:10] ihmc3jn09hk commented on #3046
Thank you. Will there be a release day of support for Python 3.9?

[2020-11-26 05:10] #3046 closed

[2020-11-26 05:15] jinfagang commented on #1999
@fmassa Hi, I want ask if I want extract certain layers usign `_IntermediateLayerGetter` should I using only index of that layer or using a [:n] ?

for example:

in mobilenetv2, take the 4th layer, should be `features[4]` or `features[:4]`?
what's the difference? Or if I want take 7th layer, should it be `features[4:7]` or features[7]`?

[2020-11-26 08:09] jinfagang opened #3048 "IntermediateLayerGetter get layer result not desired"
## 🐛 Bug

[code]

the output p3 p4 p5 w and h not desired:

[code]

If I forward mobilenet, the layer I extracted from should w, h all be half:

[code]

[code]

As you can see, p4 layer, which is index with 1, should with size of `2, 64, 32, 64` but  I got it size `[1, 64, 64, 92]`

To be clear, this layer w, and h should be half then last layer, but it is same.

What the mistake I got here or it'

[2020-11-26 09:52] datumbox commented on #3046
Thanks for reporting @ihmc3jn09hk.

Yes we are looking into it. There is already a PR #3041 that adds Python 3.9 on the CI. I don't have a concrete date yet, but it's something we will support on the future. You can be notified if you subscribe to the aforementioned PR.

[2020-11-26 10:34] wj1017090777 opened #3049 "In function `ROIPool_forward(at::Tensor const&, at::Tensor const&, double, long, long)':"
https://github.com/pytorch/vision/issues/1849, i try this,but it cannot work. Please help me . Thanks a lot.

In function `ROIPool_forward(at::Tensor const&, at::Tensor const&, double, long, long)':
undefined reference to `ROIPool_forward_cuda(at::Tensor const&, at::Tensor const&, float, int, int)'

[2020-11-26 10:37] wj1017090777 commented on #3049
I installed the C + + version of vison from the source code, but I didn't see the CUDA related things linked. Did I have any mistakes

### [  3%] Building CXX object CMakeFiles/torchvision.dir/torchvision/csrc/models/alexnet.cpp.o
[  7%] Building CXX object CMakeFiles/torchvision.dir/torchvision/csrc/models/densenet.cpp.o
[ 11%] Building CXX object CMakeFiles/torchvision.dir/torchvision/csrc/model

[2020-11-26 10:45] wj1017090777 commented on #3049
i use this to install.

cmake -DCMAKE_PREFIX_PATH=/usr/local/libtorch -DCMAKE_INSTALL_PREFIX=/usr/local -DCMAKE_BUILD_TYPE=Release [-DWITH_CUDA=ON] ..

[2020-11-26 10:52] #3049 closed

[2020-11-26 10:52] #2510 closed

[2020-11-26 12:09] vfdev-5 commented on #3048
Hi @jinfagang , I could not reproduce your issue. Here is my code
[code]
and
[code]

Am I missing something ?

[2020-11-26 14:18] datumbox opened #3050 "Add Auto-augment input transformation"
## 🚀 Feature
Provide an Implementation of the [AutoAugment](https://arxiv.org/pdf/1805.09501.pdf) policies for ImageNet, CIFA10 and SVHN on TorchVision.

## Motivation

AutoAugment is a common Data Augmentation technique that when applied, typically increases the accuracy of the models on specific datasets. On the original paper, the authors used RL to search for better data augmentation policies

[2020-11-27 09:41] BynaryCobweb opened #3052 "Multi GPU support for vision model training in C++ with libtorch"
## 🚀 Feature

Multi GPU support for vision model training in C++ with libtorch.

## Motivation

More and more systems rely only on C++ for deep learning, including ours. But at the moment the C++ version of vision models are quite unpractical to use, and it is not possible to train them on multiple GPU when using large amount of data.

## Pitch

Make C++ models support multi GPU. This can be done

[2020-11-27 09:49] fmassa commented on #3049
I suppose you have fixed your issue. Let us know if you have further problems

[2020-11-27 10:11] fmassa commented on #3047
Hi,

Thanks for the suggestion!

I think one of the key requests from users when trying to fine-tune a model is how they should bring their own datasets for finetuning. As such, one of the main ingredients of the object detection finetuning tutorial is how to write a Dataset class that is compatible with the rest of the training abstractions that we provide.
If the tutorial only contained `torchvi

[2020-11-27 10:21] fmassa commented on #2912
Actually, @pkuppens this is a duplicate of https://github.com/pytorch/vision/issues/3046

From @vfdev-5 comment there:

As such, I'm closing as a duplicate. We will be adding Python 3.9 binaries for PyTorch / torchvision soon, and https://github.com/pytorch/vision/pull/3041 is a step towards this direction.

[2020-11-27 10:21] #2912 closed

[2020-11-27 12:35] terU3760 commented on #3043
I just followed an instruction,
I have already changed python3.8 to python3,6.7
First run ...... and
conda install pytorch-nightly cudatoolkit=9.0 -c pytorch
and then
git clone https://github.com/pytorch/vision.git
and then
in the vision folder, type: python setup.py install
then reported the error:
ModuleNotFoundError: No module named 'torch'

Factually when I have finshed run the following insta

[2020-11-27 12:40] terU3760 commented on #3043
Sorry, I have found the cause!
I have misused the environment!
Sorry to have bothered you all and wasted your time!

[2020-11-27 13:41] fmassa commented on #1882
Hi,

For what I proposed, you would need to do instead

[code]
i.e., directly modify what torchvision is using.
Is that what you tried doing?

[2020-11-27 13:46] vfdev-5 commented on #3043
@terU3760 great that you could find the issue. Let me close the issue as resolved.

Please, note that installing pytorch-nightly is done like
[code]

[2020-11-27 13:46] #3043 closed

[2020-11-27 14:10] #2556 closed

[2020-11-27 14:31] fmassa commented on #2619
Yes, this is a known simplification, and we could make it truly consider the subset of the code.

IIRC the reason why I did this simplification was that if we had a subset of a COCO dataset, we didn't need to iterate over the sub dataset to create the index, as it was already done, saving some time during early development.
But this code is fundamentally wrong and we should fix it.

[2020-11-27 14:36] fmassa commented on #2581
FYI we are actively working on getting this working on mobile for the next major release.

[2020-11-27 18:13] #2800 closed

[2020-11-28 10:19] FiReTiTi commented on #1882
Yes, it's exactly what I did.
I forgot to precise that I used first `from torchvision.models.detection import roi_heads`, and then I did `roi_heads.mask_rcnn_loss = My_Loss`, which I think is comparable to what you proposed.

Of course, I do that before creating my model.

[2020-11-28 12:16] CheonJiEun opened #3056 "torchvision.roi_align does not support TPU"
Hello.
We are using TPU in GCP.

We are currently modifying the code to allow the TPU to return to Detectron2.
However, there is an error that roi_align in Torchvision is not supported by TPU.
Please check the bottom. Can you solve it for me?

`File "/anaconda3/envs/torch-xla-1.7/lib/python3.6/site-packages/torchvision/ops/roi_align.py", line 51, in roi_align
    return torch.ops.torchvision.roi_a

[2020-11-29 10:47] jinfagang commented on #3048
Oh，sorry, it's my fault.

[2020-11-29 10:47] #3048 closed

[2020-11-29 18:05] rgommers commented on #2941
It's usually a good idea to keep the API reference docs separate from more narrative documentation. Currently there is no other documentation than API reference docs.

Another issue is that benchmark results typically depend on build options used and on installed dependencies (see e.g. the Pillow vs. Pillow-SIMD note in the README). Due to that it's not common for projects to put benchmark results

[2020-11-30 07:18] shibefore commented on #1999
self.layer1= nn.Sequential(*features[0:4])
        self.layer2 = nn.Sequential(*features[4:7])
        self.layer3 = nn.Sequential(*features[7:11])
        self.layer4 = nn.Sequential(*features[11:19])

[2020-11-30 07:22] shibefore commented on #1999
self.layer1= nn.Sequential(*features[0:4])
        self.layer2 = nn.Sequential(*features[4:7])
        self.layer3 = nn.Sequential(*features[7:11])
        self.layer4 = nn.Sequential(*features[11:19])

		or :

        self.layer1= nn.Sequential(*features[0:4])
        self.layer2 = nn.Sequential(*features[4:7])
        self.layer3 = nn.Sequential(*features[7:14])
        self.layer4 = nn.Sequenti

[2020-11-30 08:17] manmani3 opened #3058 "How to solve this error? RuntimeError: Could not run 'torchvision::nms' with arguments from the 'CUDA' backend"
## ❓ Questions and Help
### Please note that this issue tracker is not a help form and this issue will be closed.

I'm beginner of ML and trying to use some solution based on pytorch (called detectron2)
When the solution inferred the image, I always got the below error.

RuntimeError: Could not run 'torchvision::nms' with arguments from the 'CUDA' backend. 'torchvision::nms' is only available for

[2020-11-30 09:08] #3002 closed

[2020-11-30 09:39] vfdev-5 commented on #3058
Could you please test your code with the latest torchvision v0.8.1.
Also, could you please provide a code snippet to reproduce the issue you have. Thanks.

[2020-11-30 10:06] vfdev-5 commented on #3056
@CheonJiEun currently torchvision do not provide any support for TPU. Certain ops (like transforms) could work out-of-the-box, but others not.
cc @fmassa for more details.

[2020-11-30 10:07] vfdev-5 commented on #3007
@neginraoof could you please take a look this issue ?

[2020-11-30 11:02] datumbox opened #3060 "Fix DeformConv2d's autocast test flakiness"
A series of recent unrelated PRs exposed the fact that `DeformConv2d`'s autocast unit-test is flaky and it can fail if we hit a bad seed. To resolve the problem, PR #3032 introduced a temporary workaround that fixes the random_seed:
https://github.com/pytorch/vision/blob/06ebee1a9f10c76d8ac5768fd578362dd5ace6e9/test/test_ops.py#L657-L659

The above is not a great solution. We should investigate an

[2020-11-30 14:03] oke-aditya commented on #3047
Hello. Let me add a few thoughts.

I agree that the tutorial should contain how to create a dataset which is correct input format for torchvision models. I think this is integral part of tutorial and let's not change that.

Now, we again come back to question of datasets and standard. Let me make this Issue a bit generic. Currently torchvision supports lot of classification datasets (MNIST, LSUN,

[2020-11-30 14:41] fmassa commented on #422
This has been implemented in torchvision 0.8.0

[2020-11-30 14:41] #422 closed

[2020-11-30 19:53] PoonKinWang opened #3064 "I cannot reach the ori accuracy by training the ResNeXt-50 on the ImageNet."
I use the ['PyTorch ImageNet Training' example](https://github.com/pytorch/examples/tree/master/imagenet) and the ['models'](https://github.com/pytorch/vision/tree/master/torchvision/models) of TorchVision 0.4.2 to train ResNeXt-50 twice but got 23.52% and 23.57% (Top-1) on ImageNet Val set, which do not reach the ori Err. (22.2%). Besides, I find that the hyper parameters setting of ['PyTorch Ima

[2020-11-30 20:01] vfdev-5 commented on #3064
@PoonKinWang it is difficult to say for me where is the issue. Please, check reference script here for the classification task:
https://github.com/pytorch/vision/tree/master/references/classification
Maybe, using them you can obtain desired accuracy.

[2020-11-30 20:17] PoonKinWang commented on #3064
Thanks for your reply.
The setting of ['PyTorch ImageNet Training' example](https://github.com/pytorch/examples/tree/master/imagenet) is same to what you mentioned, and both of them were the official code of TorchVision. Thus, I think the code you mentioned cannot work as well. Could you offer any training logs of ResNeXt-50?

[2020-11-30 20:26] vfdev-5 commented on #3064
Unfortunately, I do not have these logs, maybe, @fmassa still has them.

[2020-11-30 20:40] PoonKinWang commented on #3064
![image](https://user-images.githubusercontent.com/55362783/100661988-42dc3600-338f-11eb-989c-e31829c9e226.png)

[2020-11-30 20:40] PoonKinWang commented on #3064
![Uploading image.png…]()

[2020-11-30 20:42] datumbox opened #3066 "Avoid calling torch.rand in Transformation.forward()"
The preferred way to structure the [Transformation](https://github.com/pytorch/vision/blob/9e71fdafd871e3de9e72a6022291b49100945e29/torchvision/transforms/transforms.py) classes is to put the initialization of random weights/params in a static `get_params()` method. The method should receive any hyper parameter necessary for the sampling and it should return all the necessary random variables. Thi

[2020-11-30 20:53] vfdev-5 commented on #3064
@PoonKinWang if your total batch size is not 256 (=8 * 32) as for 8 GPUs, then you have to rescale the learning rate like
[code]
(as ref: https://arxiv.org/abs/1706.02677)

[2020-11-30 20:58] PoonKinWang commented on #3064
On that two training, I used total batch size of 256 on two GPUs.

[2020-11-30 21:01] datumbox opened #3067 "Investigate inconsistent casting inside functional_tensor.py"
The operators in [functional_tensor.py](https://github.com/pytorch/vision/blob/9e71fdafd871e3de9e72a6022291b49100945e29/torchvision/transforms/functional_tensor.py) perform casting in two ways:

- Using the `tensor.to(dtype=dtype)` PyTorch method
- Using the `convert_image_dtype()` Transformation method

The first method does direct casting from one type to the other. The latter method has more co

[2020-11-30 21:13] vfdev-5 commented on #3067
@datumbox it is bad merge of two PRs I made :) We can remove the line 405 `result = result.to(dtype)`

https://github.com/pytorch/vision/pull/2485/files#diff-497b983ae7c82237c4a0722bc6f6637525e0cdf8369dbd78ee19cf986bffe258R404

Thanks for catching !

I'd say to approaches could exist depending on if we'd like to rescale or not when changing the dtype. For example, for color adjustments seems like

[2020-11-30 21:24] vfdev-5 commented on #3064
@PoonKinWang do you DistributedDataParallel (not DataParalle) right ?  (https://pytorch.org/tutorials/intermediate/ddp_tutorial.html#comparison-between-dataparallel-and-distributeddataparallel)

[2020-12-01 03:32] GraceKafuu commented on #1405
Thanks!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

[2020-12-01 07:43] PoonKinWang commented on #3064
I mean DataParalle.

[2020-12-01 07:44] ThomsonW opened #3068 "torchvison.ops.nms uses too much gpu memory"
hi there, i have a quesetion nms operator.
If i use torchvision.ops.nms to filter bbox, about 900MB GPU memory is used, where the input box and score are put into GPU. But there is no problem if the box and score in cpu.  meanwhile the time cost of gpu is 0.0007s, 0.0018s in cpu.
i do not know actually why this operator uses such much GPU mem. or is there any configuration about nms to save gpu me

[2020-12-01 09:20] datumbox commented on #3067
@vfdev-5 Thanks for the reply.

I agree with you that some cases can be handled only by one or the other. As you said, the main focus of this ticket is to investigate the current uses and simplify the code where necessary. :)

[2020-12-01 11:29] datumbox opened #3070 "CI fails on MacOS with Python3.7"
## 🐛 Bug

CycleCI [fails](https://app.circleci.com/pipelines/github/pytorch/vision/5184/workflows/2d696237-aa2b-4fee-8dcd-29a6cc92cbf4/jobs/323189) on MacOS and Python3.7. Other MacOS python versions work fine.

[code]

## To Reproduce

Steps to reproduce the behavior:

1. Make PR and run CI

## Expected behavior

Passing tests.

cc @seemethere

[2020-12-01 11:32] datumbox commented on #3070
The problem is now fixed on master

[2020-12-01 11:32] #3070 closed

[2020-12-01 12:15] datumbox opened #3071 "Clean up the documentation of transforms"
## 📚 Documentation

The methods in `functional_pil.py` and `functional_tensor.py` are private but contain a lot of duplicate documentation that is not currently used. It's worth cleaning this up and updating the documentation on `functional.py` to highlight potential differences or limitations between the two backends.

Here is an example of how we typically highlight backend differences in TorchV

[2020-12-01 12:59] datumbox opened #3072 "Improve the bounding boxes implementation"
PR #2785 introduced a new utility to draw bounding boxes on images. The code changes were merged but there are a few nice-to-have improvements missing.

More specifically:
- [x] The unit-test `test_draw_boxes()` [uses PIL instead](https://github.com/pytorch/vision/pull/2785/files/1568b54b69cd274f1a02fc740054c9310dd77dd3#r531621316) of `write_image()` to save the image. We should use TorchVision's

[2020-12-01 14:30] oke-aditya commented on #3072
Looks really minor fixes @datumbox can I take this up?

[2020-12-01 14:47] datumbox commented on #3072
@oke-aditya that would be great, looking forward to your PR. :)

[2020-12-01 15:05] AdityaKhursale commented on #3072
Hi @oke-aditya and @datumbox

Sorry I did not read that you guys have concluded assignee on this one already.
I am starting new on open source contributions. This one looked really good for the "good first issue". So, I have created PR for this one.

You guys can decide which one to MR. @datumbox really thanks for accurate labels. This really helped me to understand the flow. Also, please have a l

[2020-12-01 15:11] oke-aditya commented on #3072
No worries @AdityaKhursale this is open source and all are welcome to do pr. You can go ahead.

[2020-12-01 15:21] AdityaKhursale commented on #3072
Thank you @oke-aditya. Really appreciate.

[2020-12-01 16:47] #3072 closed

[2020-12-01 17:12] fmassa opened #3078 "test_write_video_with_audio is disabled on Windows"
With https://github.com/pytorch/vision/pull/2304, I had to disable Windows tests `test_write_video_with_audio`.
This is a workaround in order to move forward with fbcode sync.

We should re-enable those tests and fix what was wrong with Windows testing.

[2020-12-01 18:06] ErfanMN commented on #1882
Hi,
I found the solution, You should change
`roi_heads.mask_rcnn_loss = my_new_loss`

to

`roi_heads.maskrcnn_loss = my_new_loss`

@FiReTiTi

[2020-12-01 22:29] lazySperm opened #3083 "Getting an error when modifying the faster_rcnn model to add inception_v3 backbone model"
I was following this tutorial  [Modifying the model to add a different backbone](https://pytorch.org/tutorials/intermediate/torchvision_tutorial.html#modifying-the-model-to-add-a-different-backbone). When I replace the mobilenet_v2 model with inception_v3, the code does not work and  gives the following error:
[code]
I am using the following environment:

* Ubuntu 18.04.4 LTS
* CUDA Version: 10.2

[2020-12-01 22:35] Mrgove10 commented on #2198
@fmassa the code apears to be comming from this tutorial :
https://medium.com/fullstackai/how-to-train-an-object-detector-with-your-own-coco-dataset-in-pytorch-319e7090da5

I am also having a similar issue

[2020-12-01 22:45] Mrgove10 commented on #2192
Facing the same issue.
I am folowing the code from this tutorial btw : https://medium.com/fullstackai/how-to-train-an-object-detector-with-your-own-coco-dataset-in-pytorch-319e7090da5

Applying the

fix does lead to better results but makes a second error popup :
[code]

[2020-12-01 22:56] FiReTiTi commented on #1882
@ErfanMN Thanks a lot, it works. Good catch!!!
Why didn't I get any error when using `roi_heads.mask_rcnn_loss = My_Loss`?

[2020-12-01 23:26] ErfanMN commented on #1882
@FiReTiTi because you set a variable that never used.

[2020-12-02 00:18] willyd opened #3086 "Windows C++ library build issues"
## 🐛 Bug

Thanks for your work in putting up this great software. PyTorch and TorchVision are two amazing tools.

I encountered two different issues when trying to build the C++ library on Windows:

1. The debug build tries to link to the debug python library which most people do not have.
2. The operators registration code was not included in consuming projects.

## To Reproduce

Steps to reprodu

[2020-12-02 02:35] WZMIAOMIAO opened #3090 "about retrain shufflenetv2 question"
First all, thanks for your perfect projects.

## Environments
pyhton: 3.7
pytorch: 1.7+cpu
torchvison: 0.8.1+cpu
system-os: ubuntu18.04

## Hyperparameters
lr: 0.001
momentum: 0.9
weights_decay: 0.0001
batch_size: 16

## Question introduction
Recently, I was learning the source code you provided in torchvision about shufflenetv2.
But when I was training the network(only training fc layer), I had a

[2020-12-02 08:30] linjiapro commented on #3052
Thanks Louis!

[2020-12-02 10:16] sirtris opened #3093 "VOCSegmentation transforms.ToTensor() not working"
Hi,
I want to use the VOCSegmentation dataset but I always get this error:

[code]
This is a code snippet to recreate the error
[code]

When I use the MNIST or CIFAR10 data set the code works as expected.
Is there something special about the `VOCSegmentation` data set?
Thanks

cc @vfdev-5

[2020-12-02 11:59] datumbox commented on #2192
@Mrgove10 This is probably fixed by #3031. Could you try on the latest master and let me know if you still get the problem?

[2020-12-02 12:16] vfdev-5 commented on #3093
@sirtris yes, `VOCSegmentation` is a dataset for semantic segmentation where the target is an image vs scalar for a classification task. Please, see reference example for segmentation: https://github.com/pytorch/vision/tree/master/references/segmentation and also note that torchvision transforms like `transforms.Resize` do not transform targets. For segmentation we provide only functional ops like

[2020-12-02 12:28] vfdev-5 commented on #3068
@ThomsonW it may depend on how do you measure GPU memory. For example, with `nvidia-smi` you can also see allocated cuda context which not related to the requested memory size.
Please, provide more details (code snippet, pytorch/torcvision/cuda versions, how do you measure the memory) if you'd like to more support on that.
You can also take a look at pytorch forum a similar question: https://discu

[2020-12-02 17:35] #2956 closed

[2020-12-03 07:48] ThomsonW commented on #3068
hi @vfdev-5 ~ thanks for your quick reply very much.

indeed, that is postprocess of retinaface.

[code]

the CPU version is :

[code]
and the GPU version is :

[code]
that is all difference between two versions.

The version info：
python 3.6.8
torch 1.2.0
torchvision 0.4.0
cuda 10.2.89
GPU RTX2080 Ti

How do i measure the GPU mem:
nvidia-smi is used, and i look at the process GPU mem usage by PID

[2020-12-03 08:59] sirtris commented on #3093
Thanks using the different trnasorm functions solved it.

[2020-12-03 09:00] #3093 closed

[2020-12-03 09:17] vfdev-5 commented on #3068
If you'd like to trace memory allocated by pytorch only, please try `torch.cuda.memory_allocated()`. Maybe, updating to the latest version could reduce memory consumption. Here my reproduction of what you say with torch 1.7.0 and torchvision 0.8.1
[code]

[2020-12-03 11:01] pmeier opened #3101 "Additional video libraries needed to build from source"
## 🐛 Bug

When building the current master from source as development version, the following additional libraries are needed:

- `libavcodec`
- `libavformat`
- `libswscale`

This not documented anywhere.

## To Reproduce

Make sure the libraries above are **not** installed on your system.

[code]

## Expected behavior

If the libraries are not optional, this should be documented somewhere.

Cc @fm

[2020-12-03 11:02] fmassa commented on #3101
They are meant to be optional, and we have some guards to avoid having to compile them in the library.

[2020-12-03 19:21] pmeier commented on #3101
Correction: the error only happens if you build the development version, i. e. use the `-e` flag. You can find the log dump [here](https://gist.github.com/pmeier/0f0fb5506607eb57726702c4280d39d4).

[2020-12-03 19:39] behxyz opened #3110 "_rgb2hsv has an unmentioned requirement of non-negative inputs"
## 🐛 Bug

The way RGB to HSV transformation function [_rgb2hsv](https://github.com/pytorch/vision/blob/dab475720f116c42fc80e437b25496dfc94d2a8a/torchvision/transforms/functional_tensor.py#L577) handles NaN values only works if the input RGB image is non-zero. It is a reasonable (yet not documented) assumption since RGB image values are intensities and they are positive by definition. However, sinc

[2020-12-03 20:50] andfoy commented on #3101
@pmeier, could you please post here the apt instructions used to install FFmpeg without any of its dependencies?

[2020-12-03 21:20] andfoy commented on #3101
I think the problem is related to the development version of FFmpeg not being available, i.e., not installing libavcodec-dev, libavutil-dev, libswresample-dev

[2020-12-03 21:28] andfoy commented on #3101
Also, it seems that we should be checking for headers on `/usr/lib/*-linux-gnu` to verify that the headers are available on some Debian and Ubuntu vendors

[2020-12-03 21:36] lutzroeder opened #3111 "pip install torchvision fails on macOS Python 3.9"
## 🐛 Bug

Installing `torchvision` on macOS with Python 3.9 installs an outdated package.

[code]

## To Reproduce

* `pip install torchvision` -or-
* `pip install --upgrade --pre torchvision -f https://download.pytorch.org/whl/nightly/cpu/torch_nightly.html`

## Environment

Collecting environment information...
PyTorch version: 1.8.0.dev20201203
Is debug build: False
CUDA used to build PyTorch:

[2020-12-03 22:11] malfet commented on #3111
This is a known problem, torchvision nightly builds has not been fully setup yet.

[2020-12-03 22:12] malfet commented on #3111
@seemethere, please close this one nightly pipelines have been setup.

[2020-12-03 22:13] lutzroeder commented on #3111
@malfet

once?

[2020-12-04 01:39] ThomsonW commented on #3068
i traced the usage of pytorch during nms, which is ~6000 bytes. But the GPU mem usage changed a lot as i said.
it is so confused.   what i only changed is puting the data into CUDA memory.
this is  not torchvision's problem at least
thank you very much~~

[2020-12-04 02:52] mthrok commented on #2980
@oke-aditya
The domain team had a brief discussion on this;

* we agree that domain specific loss functions are coming up.
* But we would like to hold off on creating a dedicated module untill we actually have a good number of functions that fall into the category. It's easy to add such a module, but once added we can not remove it.
* meanwhile we can update the documentation and add a new categor

[2020-12-04 06:04] pmeier commented on #3101
Unfortunately, I can't. `ffmpeg` was installed by another package. I've looked at a list of `apt` packages that depend on `ffmpeg`. Some are packages I manually installed, but some seem to be native to Ubuntu 18.04.

Thus, I think `ffmpeg` is installed by default on a fresh Ubuntu installation, but I'm not sure.

[2020-12-04 09:13] BCMoo opened #3115 "Why get_num_threads() and set_num_threads(1) in engine.py? Is it essential?"
Hi there,

I'm wondering what's the function of these code? Can i remove them?

Thanks!

https://github.com/pytorch/vision/blob/dab475720f116c42fc80e437b25496dfc94d2a8a/references/detection/engine.py#L72:L74

https://github.com/pytorch/vision/blob/dab475720f116c42fc80e437b25496dfc94d2a8a/references/detection/engine.py#L108

[2020-12-04 09:18] Mrgove10 commented on #2192
@datumbox In the end i switched and went with Detectron2, not planing to retest anytime soon sorry 😞

[2020-12-04 09:23] datumbox commented on #3110
@behxyz Thanks for reporting.

All these colour adjustment transformations should be done before normalization. Though many of the transformations support it if RGB images are floats scaled from 0-1, there are others what don't. For example I'm currently working on brining AutoAugment in TorchVision and one of its operations, posterize, is applicable only when the image is uint8.

My advice is to

[2020-12-04 10:20] fmassa commented on #3115
Hi,

They used to be important specially in multi-gpu setup because the `paste_mask_in_image` was multi-threaded and would run on the CPU, where each thread would try to maximize the number of CPUs used, leading to significant slowdown.
As of today, it seems that this part of the codebase is run on the GPU, so maybe this is not needed anymore, but it would need to be benchmarked.

[2020-12-04 10:26] #3101 closed

[2020-12-04 12:41] oke-aditya commented on #2980
I agree with your thoughts @mthrok . It can be too early to call for such API.
Yes it will be nice to update documentation.

[2020-12-04 12:45] vfdev-5 commented on #3068
@ThomsonW could you, please, provide fully executable code snippet such that I could reproduce it from my side with the latest pytorch/torchvision with the measurements and values you get in order to compare. Thanks

[2020-12-04 14:33] vfdev-5 commented on #2651
TODO for this issue:
- [ ] complete section about how to add a new model
- [ ] complete section about how to add a new dataset

[2020-12-04 16:49] behxyz commented on #3110
@datumbox I agree with you but the problem is that if someone reorders the transformations and first normalizes the image (for instance to [-1, 1]), there is no check and warning. The HSV-based transformation will be applied incorrectly and unless it hits a corner case (as described above), the bug remained hidden.

What I suggest is to add a simple check for any non-zero value in the input image

[2020-12-04 18:09] datumbox commented on #3110
@behxyz Thanks for the input.

I can see how someone can hit the issue but I'm not sure adding warnings everywhere is the right way to go. If we add this on HSV we probably need to add this everywhere. Perhaps a better approach would be to update the documentation to make it clear that such transformations should happen before standardization. Thoughts?

[2020-12-04 18:13] datumbox commented on #2651
@vfdev-5 Just a suggestion. Perhaps add in the list that the CONTRIBUTING.md v1 was added and there are 2 more pendings. I would also put this on the top of the ticket instead of the comments so that it's visible and it's tracked by Github checklists.

[2020-12-04 18:26] behxyz commented on #3110
@datumbox, thanks for the insight.

 I hear what you are saying but it's only about this specific function (_rgb2hsv) that are being used under the hood in many other transformations. For instance consider `ColorJitter` transformation that is combination of four transformation (adjusting brightness, contrast, saturation, and hue). There is nothing wrong to use this transformation after normalizati

[2020-12-04 19:13] andwurl opened #3122 "torch.cuda.amp issue with torchvision densenet121 when memory_efficient=True"
## 🐛 Bug

I have been using a torchvision densenet121 with PT1.4+ APEX/AMP for mixed precision training. Today, I tried to migrate my code to PT1.7 and to native mixed precision (amp).

In short, when using a densenet121 with memory_efficient=True, I get an amp related error message: 'Input type (torch.cuda.HalfTensor) and weight type (torch.cuda.FloatTensor) should be the same'

When using the de

[2020-12-04 19:38] vfdev-5 commented on #2651
Thanks, I agree !

[2020-12-04 20:20] datumbox commented on #3110
Other transformations (under dev `invert`, `solarize` etc) will fail if someone passes negative values. I'm not convinced the solution is to put assertions everywhere.

It's important to keep in mind that we need to maintain a consistent API for all transformations. Even if one specific method does not have a problem others do and we need to factor this in.

The bug is not on the implementation bu

[2020-12-05 07:52] vfdev-5 commented on #3122
Related to pytorch issue https://github.com/pytorch/pytorch/issues/47183 , here is some (unrecommended) workaround: https://github.com/pytorch/pytorch/issues/37730#issuecomment-623296247

[2020-12-05 14:47] augustoolucas commented on #1568
Is there a definitive solution for this problem? It's happening for me when using FasterRCNN too.

[2020-12-07 00:05] baldassarreFe opened #3129 "Ability to set canonical scale and level in MultiScaleRoIAlign"
## 🚀 Feature
A user should be able to set the parameters `canonical_scale` and `canonical_level` in the [torchvision.ops.poolers.LevelMapper](https://github.com/pytorch/vision/blob/d3d393672b877f80fedd2d11de6b84fb19599c2e/torchvision/ops/poolers.py#L47) class when they instantiate a [torchvision.ops.poolers.MultiScaleRoIAlign](https://github.com/pytorch/vision/blob/d3d393672b877f80fedd2d11de6b84fb

[2020-12-07 03:14] PoonKinWang commented on #3064
I use the train.py as you mentioned to train again but still fail to reach the Acc. as the ori paper provide (22.2%). I get 22.52%, 22.67% and 22.81% as three independent training results.

[2020-12-07 03:15] PoonKinWang commented on #3064
I use the train.py as you mentioned to train again but still fail to reach the Acc. as the ori paper provide (22.2%). I get 22.52%, 22.67% and 22.81% as three independent training results.

[2020-12-07 03:15] PoonKinWang commented on #3064
@vfdev-5 I use the train.py as you mentioned to train again but still fail to reach the Acc. as the ori paper provide (22.2%). I get 22.52%, 22.67% and 22.81% as three independent training results.

[2020-12-07 03:32] ThomsonW commented on #3068
@vfdev-5  sorry to reply late.
the issue is located at  RetinafaceTRT.post_process
the libdecodeplugin.so and retina_mnet.engine is generated from Tensorrt C++ API.
The whole code is modifed from https://github.com/wang-xinyu/tensorrtx
the code is here:

[code]

[2020-12-07 10:33] rjbruin opened #3130 "DatasetFolder incorrectly specifies required folder structure"
## 📚 Documentation

The documentation for [DatasetFolder](https://pytorch.org/docs/stable/torchvision/datasets.html#datasetfolder) specifies the following required folder organization:

[code]

However, the [source code for DatasetFolder](https://pytorch.org/docs/stable/_modules/torchvision/datasets/folder.html#DatasetFolder) shows that `make_dataset()` uses `os.walk()` to discover the files in ea

[2020-12-07 10:59] vfdev-5 commented on #3068
@ThomsonW OK I understand better what you are doing. However, I think that pycuda and torch instantiate 2 different cuda contexts and thus you see that while you pass torch tensor to cuda. I checked that quickly locally and it seems like that:
[code]

I'm not sure if we can reuse cuda context for torch cuda. @ptrblck any thoughts ?

Anyway, let me close this issue as unrelated to torchvision libra

[2020-12-07 10:59] #3068 closed

[2020-12-07 11:38] pmeier commented on #3130
Hi @rjbruin. Indeed you are correct. I think the easiest way is to adjust the documentation as you proposed. Do you want to submit a PR? If so ping me within that, so I can review.

[2020-12-07 11:51] rjbruin commented on #3130
Sure, I can make the PR. See #3131.

[2020-12-07 11:57] andwurl commented on #3122
Thanks a lot!
Running scaler.scale(loss).backward() inside the autocast block helps, as well as the changes suggested in #37730 to checkpoint.py. However, I have observed in both cases that memory consumption was higher compared to PT1.4+APEX/AMP.

[2020-12-07 12:40] #3130 closed

[2020-12-08 12:52] fmassa opened #3138 "Re-enable codecov to run with CircleCI"
codecov was enabled with TravisCI jobs, but with #3137 we have disabled it for torchvision for now.

It would be good to enable it again, but this time using CircleCI

cc @seemethere

[2020-12-08 13:15] fmassa commented on #3007
FYI I'm removing TravisCI and temporarily removing ONNX tests in https://github.com/pytorch/vision/pull/3137.

They should be re-enabled in CircleCI

[2020-12-08 18:30] spandantiwari commented on #3007
@fmassa - just curious, is there a reason why ONNX tests cannot be ported along with other tests to CircleCI as part of your PR. https://github.com/pytorch/vision/pull/3137

[2020-12-08 21:29] fmassa commented on #2950
Cross-linking some discussion in https://twitter.com/ajlavin/status/1336131931314954240

Maybe it might be worth considering adding a new interpolation mode, akin to `INTER_AREA` from OpenCV?

[2020-12-09 10:03] fmassa commented on #3007
@spandantiwari they can be ported to CircleCI, I just didn't do it before because our reference for the ONNX CI up to now (which was TravisCI) has been failing with segfaults, and the failure was probably related to the ORT version being used.

[2020-12-09 10:05] KumaTea opened #3145 "Failed to build for ARM64 / aarch64: caffe2 cmake error in CPUType.cpp.o"
Mistakenly created this issue that should be in the `pytorch` repo.

[2020-12-09 10:19] #3145 closed

[2020-12-09 14:57] frgfm commented on #2599
Just FYI @datumbox @fmassa, this is all the more beneficial when you're trying to use RCNN models in `torch.float16`.
I just tried on my end, and when the running_var of some BN gets converted to half, it drops to zero by underflow. With an `eps=0`, the model will yield many NaNs, while with this change, it yields a valid output :)

[2020-12-10 07:58] stu1130 commented on #2692
@fmassa @mthrok is there any update? Thanks

[2020-12-10 09:19] fmassa commented on #2599
@frgfm would you say that we should make it a BC-breaking change and revert the back-compatibility fix in #2940 , if the benefits of having a non-zero eps outweights the downsides of BC-breakage?

[2020-12-10 09:21] huwei1024 opened #3149 "How can I install torchvision on Apple M1?"
How can I install torchvision on Apple M1?

[2020-12-10 10:05] frgfm commented on #2599
@fmassa I would consider the following points:
- Prevents underflow & thus NaNs upon forward in FrozenBN in float16
- Training a RCNN model with a pretrained backbone will start with closer reproduction of the backbone's state for its image classification training
- Now a downturn: pretrained RCNN models will have slightly different (expectedly worse) perf in float32

Seeing the results of  #2933,

[2020-12-10 11:27] fmassa commented on #3129
Hi,

Thanks for such a detailed issue description, very comprehensive!

While I agree we haven't exposed `canonical_scale` and `canonical_level` to the user (and that it could be handy to expose them at some point), I'm not 100% sure I see their roles the same way you do (and I might be wrong here, so please correct me if I'm wrong).

From my understanding from the description in the paper, the `c

[2020-12-10 11:28] vfdev-5 commented on #3149
@huwei1024 could you install / build pytorch on this chip ?

[2020-12-10 14:51] mahtabbigverdi opened #3150 "evaluate function in engine.py"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:
the evaluate function changes my data_loader_test.dataset.targets (boxes)
it changes boxes from (xmin, ymin, xmax, ymax) to (xmin, ymin, W, H)

## Expected behavior
Not changing the dataset

## Environment

Please copy and paste the output from our
[environment collection script](https://raw.githubusercontent.com/pytorch/pytorch/master/to

[2020-12-10 14:51] baldassarreFe commented on #3129
Thanks for the answer, I've had some more time to reason about the issue on my own. I realized that the use case for exposing those parameters is not exactly the one I described. Here are my thoughts:

### Scenario 1: typical backbone, higher res
We have a high-res backbone, let's say a typical ResNet that takes in images with a side of 2048 pixels. This backbone, despite the higher resolution, st

[2020-12-10 15:07] datumbox commented on #2692
@stu1130 This is still currently in progress. There are a few PRs that try to minimize the use of `torch/script.h` see https://github.com/pytorch/vision/pull/3087#discussion_r539307310 and #3146.

[2020-12-10 15:15] huwei1024 commented on #3149
I solved this problem.  I got torch and torchvision and numpy now.

PyTorch version: 1.8.0a0+d7e8384
Is debug build: False
CUDA used to build PyTorch: None
ROCM used to build PyTorch: N/A

OS: Mac OSX 11.0.1 (arm64)
GCC version: Could not collect
Clang version: 12.0.0 (clang-1200.0.32.27)
CMake version: Could not collect

Python version: 3.8 (64-bit runtime)
Is CUDA available: False
CUDA runtime v

[2020-12-10 15:15] #3149 closed

[2020-12-10 17:59] yoshitomo-matsubara opened #3152 "Small discrepancy in accuracy & Some results of pretrained classifiers are missing in doc"
## 📚 Documentation

With torch==1.7.0 and torchvision==0.8.1, I found
1. small discrepancy in accuracy (doc vs. code)
2. pretrained ShuffleNet V2 (x0.5) and MNASNet 0.5 are available, but the numbers are missing in doc

Environment
- Ubuntu 18.04 LTS
- Python 3.6.9
- torch: 1.7.0
- torchvision: 0.8.1

I used `pipenv run python train.py --test-only --pretrained --model ${model} --data-path /home/yo

[2020-12-10 21:34] datumbox opened #3155 "Restructure and clean up the video/video_reader C++ implementations"
## 🐛 Bug

The C++ implementations of `video` and `video_reader` need to be refactored and cleaned up similar to #2998, #3051, #3094, #3097, #3135, #3163:
- [x] Rename C++ files, methods & variables according to [recommended naming conventions](https://google.github.io/styleguide/cppguide.html#General_Naming_Rules).
- [x] Move C++ code away from header files and into cpp files.
- [x] Ensure each cp

[2020-12-11 07:14] carlocab opened #3157 "Library not loaded error when running hello_world example"
## 🐛 Bug

I am unable to run `examples/cpp/hello_world/main.cpp` after compilation using torchvision 0.8.2 with libtorch 1.7.1.

I encountered this in a CI run when trying to update libtorch and torchvision on Homebrew: https://github.com/Homebrew/homebrew-core/pull/66688

The test attempts to compile and run the example mentioned above. It produced this error:
[code]

This was the same test used

[2020-12-11 08:35] carlocab commented on #3157
Ok, things finally finished compiling. I'm unable to reproduce the error locally. Apologies for cluttering your issue tracker.

[2020-12-11 08:35] #3157 closed

[2020-12-11 09:29] fmassa commented on #3007
Fixed with https://github.com/pytorch/vision/pull/3144

[2020-12-11 09:29] #3007 closed

[2020-12-11 10:39] fmassa commented on #3155
For the `decoder` folder, I recommend leaving it unchanged and not performing any changes to its code.

My thinking was that we should instead make things a bit more organized in the sense that it now seems to be 3 different projects, but instead `decoder` is a generic abstraction around ffmpeg and the other two leverages `decoder` to expose ffmpeg functionality to Python.

My thinking was to re-s

[2020-12-11 11:34] datumbox opened #3159 "Simplify dimension checks on functional_tensor.py"
## 🚀 Feature
The functional_tensor.py file makes use of the private method `_is_tensor_a_torch_image` in every public operator to check its dimensions:
https://github.com/pytorch/vision/blob/dab475720f116c42fc80e437b25496dfc94d2a8a/torchvision/transforms/functional_tensor.py#L10-L11

Examples:
https://github.com/pytorch/vision/blob/dab475720f116c42fc80e437b25496dfc94d2a8a/torchvision/transforms/fu

[2020-12-11 12:02] datumbox commented on #3155
@fmassa Sounds good. I've updated the issue description to reflect that.

[2020-12-11 12:56] voldemortX commented on #2887
Said feature is now supported.

[2020-12-11 12:56] #2887 closed

[2020-12-11 13:07] datumbox commented on #3152
@yoshitomo-matsubara Thanks a lot for reporting!

Given that the discrepancies are very small, it's unclear whether this is the result of changes in the code or differences on our setup (GPU count, ImageNet copy etc) between our infra and yours. I'll leave the ticket open, so that we can reproduce the numbers on our side and confirm.

[2020-12-11 13:20] vfdev-5 commented on #3150
@mahtabbigverdi thanks for reporting. Could you please give a minimal code snippet to understand the issue you experience and reproduce the issue.

[2020-12-11 13:21] fmassa commented on #3064
Hi,

Here is the training log for ResNeXt50 32x4d for the model that we uploaded for torchvision https://gist.github.com/fmassa/aa7f0b0890317cddceeec6fa29fd221a

It reaches best accuracies of
[code]
in epoch 97.

We used the training scripts present in `references`, without sync-batchnorm, on 8 GPUs each with batch size of 32, trained for 100 epochs (as described in https://github.com/pytorch/visi

[2020-12-11 13:21] #3064 closed

[2020-12-11 13:29] fmassa commented on #3159
FYI I'm not sure decorators are supported in torchscript

[2020-12-11 13:41] vfdev-5 commented on #3159
The following works
[code]

[2020-12-11 15:15] fmassa commented on #3159
Great!

[2020-12-11 16:50] yoshitomo-matsubara commented on #3152
Sure. Just FYI, I used only one GPU and ILSVRC 2012 (validation dataset) to get the above numbers.
Hope this helps.

[2020-12-11 19:00] carlocab commented on #3157
In case anyone was following along, pytorch and torchvision are now at their latest versions on Homebrew. As a bonus, Homebrew torchvision comes with torchvision's C++ front-end.

Thanks for the great work you've put into this project.

[2020-12-12 03:18] avijit9 commented on #3159
Somebody working on this feature?

[2020-12-12 11:24] datumbox commented on #3159
@avijit9 Not at the moment. If you are interested in sending a PR that would be awesome!

[2020-12-12 13:21] datumbox opened #3162 "Review naming conventions in io.image *_cpu methods"
## 🐛 Bug

The [io.image](https://github.com/pytorch/vision/tree/master/torchvision/csrc/io/image/cpu) namespace in C++ uses the old *_cpu postfix on the methods and files. This naming convention has been removed from `ops` in favour of [*_kernel](https://github.com/pytorch/vision/tree/master/torchvision/csrc/ops/cpu). Given that it's very likely soon we will have CUDA implementations for io.images

[2020-12-12 16:55] avijit9 commented on #3159
How to deal with multiple arguments? For example, the crop () function has multiple arguments. But if we use a decorator with `*args, **kwargs` I'm getting the following error -

`FAILED test/test_decorator.py::Tester::test_crop - torch.jit.frontend.NotSupportedError: Compiled functions can't take variable number of arguments or use keyword-only arguments with defaults:`

The unit test is as follo

[2020-12-12 16:59] mahtabbigverdi commented on #3150
I coded just like this link: https://pytorch.org/tutorials/intermediate/torchvision_tutorial.html
 and I wrote my custom dataset exactly like the one in the link with a little difference and I read all targets in init function and my get_item function is this:

def __getitem__(self, idx):
        item = self.X[idx]
        target = self.targets[idx]
        return (item, targets)

But when I call

[2020-12-13 07:06] peterjc123 opened #3166 "The upload jobs on CircleCI are unauthorized"
## 🐛 Bug

As you can see from https://app.circleci.com/pipelines/github/pytorch/vision?branch=nightly, the build jobs are successful but the generated packages just can't be uploaded. What's more, it also appears in other pytorch-related repos like PyTorch, TorchAudio and TorchText. cc @seemethere

[2020-12-13 15:33] manojrustagi79 opened #3168 "Getting Error: NotADirectoryError: [WinError 267] The directory name is invalid. File and folder both are valid"
## 🐛 Bug

I am getting the following error
Getting Error: NotADirectoryError: [WinError 267] The directory name is invalid. File and folder both are valid
I am using the following code:

# Load all image data
data_dir = os.getcwd()
folder_name = "train"
image_folders = os.path.join(data_dir, folder_name)
transform = transforms.Compose([transforms.Resize((512,512)), transforms.ToTensor()])
images =

[2020-12-14 04:58] avijit9 commented on #3159
Minimal code to reproduce this -
[code]

[2020-12-14 08:54] JamesMcCullochDickens opened #3169 "Width Calculation For Bounding Boxes in torchvision\models\detection\_utils.py"
In the function encode_boxes (line 79 of torchvision\models\detection\_utils.py), it seems that the width of the ground truth proposals matched is being computed as

ex_widths = proposals_x2 - proposals_x1
ex_heights = proposals_y2 - proposals_y1

But for a bounding box from ms coco [368, 413, 368, 417]. I guess this is just a matter of opinion if this is a "valid" bounding box, but it seems to me

[2020-12-14 09:10] datumbox commented on #3159
@avijit9 Thank you for the detailed analysis!

@vfdev-5 Do you have any suggestion to work around the limitation? I suppose it's possible to implement a couple of versions of the decorator since most of the methods in functional_tensor.py have limited number of arguments but I think that would lead to more messy code which defeats the purpose of your original recommendation. Thoughts?

[2020-12-14 09:12] github-actions[bot] opened #3170 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow tests/download.
Please look into it:

https://github.com/pytorch/vision/actions/runs/420364458

Feel free to close this if this was just a one-off error.

cc @pmeier

[2020-12-14 10:06] vfdev-5 commented on #3159
@datumbox yes, seems like it is a blocker for decorator usage. On the other hand, to goal of this issue is to refactor a bit the current code base by removing explicit type checking like
[code]
Using decorator we remove 2 lines and add 1. I propose to just create a simple helper methods and reuse them with the similar number of lines gain:
[code]

What do you think ?

[2020-12-14 11:00] datumbox commented on #3159
@vfdev-5 agreed, that's still an improvement.

@avijit9 would you be still interested to send a PR based on the above proposal?

[2020-12-14 11:08] avijit9 commented on #3159
@datumbox  Sure! I'll send a PR soon.

[2020-12-14 14:56] fmassa commented on #3169
Hi,

Thanks for opening this issue. We have discussed about the decision of dropping the `+1` in https://github.com/pytorch/vision/issues/1872, and more specifically in https://github.com/pytorch/vision/pull/826#issuecomment-481714113

I'm closing this issue as a duplicate, but let us know if you have further questions

[2020-12-14 14:56] #3169 closed

[2020-12-14 17:34] #3050 closed

[2020-12-14 17:40] datumbox opened #3172 "Replace all torch.jit.annotations with typing annotations"
## 🚀 Feature
The use of `torch.jit.annotations` was necessary to be compatible with Python 2, nevertheless now we only support Python 3. Thus we should replace all `torch.jit.annotations` with `typing` annotations.

Examples:
https://github.com/pytorch/vision/blob/83171d6ac95e6bf633bcba3fdd1606f1c8c6bf8b/torchvision/transforms/autoaugment.py#L6

https://github.com/pytorch/vision/blob/83171d6ac95e6

[2020-12-14 18:50] datumbox opened #3173 "Vectorize the equalize transformation"
## 🚀 Feature
The current implementation of the [equalize](https://github.com/pytorch/vision/blob/83171d6ac95e6bf633bcba3fdd1606f1c8c6bf8b/torchvision/transforms/functional_tensor.py#L1299-L1313) transformation is not vectorized. It processes each channel of each image of the batch using a for loop. This is done because the method uses internally the `torch.histc` which currently can't produce a hi

[2020-12-14 19:53] seemethere commented on #3166
This is currently being reviewed by the CircleCI team, will update when I get an update

[2020-12-15 01:36] #3111 closed

[2020-12-15 03:07] avijit9 commented on #3173
@datumbox Can I try to solve this one, if no one is working on it?

[2020-12-15 03:10] zhiqwang commented on #3172
Hi @datumbox , I had submit a PR to fix this issue.

[2020-12-15 10:16] #3172 closed

[2020-12-15 11:23] datumbox commented on #3173
Go for it @avijit9 !

[2020-12-15 12:25] #3159 closed

[2020-12-15 18:26] pmeier commented on #3170
`CIFAR10` is [back up and running](https://www.cs.toronto.edu/~kriz/cifar-10-python.tar.gz).

[2020-12-15 18:26] #3170 closed

[2020-12-16 01:53] kirawi commented on #2359
Same thing for me from 3.8.3 -> 3.9. I've just given up at this point.

[2020-12-16 05:18] xiaose26 opened #3175 "error: ‘constexpr’ call flows off the end of the function"
### envs
libtorch==1.7.1
vision == 0.8.2

### install
[code]
### errors
libtorch-cxx11-abi-shared-with-deps-1.7.1/libtorch/include/ATen/core/op_registration/infer_schema.h:120:16: error: ‘constexpr’ call flows off the end of the function
  constexpr auto returns = createReturns<ReturnType>::call();
                ^~~~~~~
make[2]: *** [CMakeFiles/torchvision.dir/build.make:518: CMakeFiles/torchvis

[2020-12-16 08:47] Tylersuard opened #3176 "Colab model demo notebooks output is not human-readable, just a numeric tensor"
## 🐛 Bug

When I run the PyTorch computer vision demo notebooks, the model outputs a tensor rather than a human-readable result.  These demos would be a lot more effective at showing the capability of each model if the code would output labels or a labeled image.  I can fix it, I would just need a guarantee that someone with access would review my PR promptly so my changes can get accepted.

## To

[2020-12-16 10:39] datumbox commented on #3176
Thanks for your feedback.

I assume you refer to the following snippet of the [notebook](https://colab.research.google.com/github/pytorch/pytorch.github.io/blob/master/assets/hub/pytorch_vision_resnext.ipynb):
![image](https://user-images.githubusercontent.com/5347466/102335251-8fc32d80-3f87-11eb-8739-151f405c08a9.png)

The intention of this is to keep things focused on how one uses the pre-traine

[2020-12-16 10:52] datumbox commented on #3175
Thanks for reporting.

Could you provide a few more details on what you are trying to do?

If your target is to install the library from source, try doing:
`python setup.py install`

The above will compile the C++/CUDA files and install the library on your system. You might need additional libraries for specific parts (JPEG, PNG, etc). If that's the case, have a look at this [guide](https://github

[2020-12-16 16:30] nightheronry commented on #1405
Hey guys, I meet the similar problem when trying to export torchscript with nightly build version.
`
RuntimeError:
object has no attribute nms:
  File "/usr/local/lib/python3.6/dist-packages/torchvision/ops/boxes.py", line 42
    """
    _assert_has_ops()
    return torch.ops.torchvision.nms(boxes, scores, iou_threshold)
[code]

[2020-12-16 19:12] Tylersuard commented on #3176
Thank you for the quick and detailed response.
My concern is that I use the notebooks to evaluate different models, to decide which ones I want to include in my project.  If I can't get the classes and their probabilities, I can't tell whether the model was successful in predicting my image.

Idea for a solution:
1. Specifically for ImageNet in the issue #484 link you sent, it looks like there are

[2020-12-16 22:11] seemethere commented on #3166
This should be resolved now, ended up being an issue with `pytorchbot` being removed from the `pytorch` organization

[2020-12-16 22:11] #3166 closed

[2020-12-17 08:12] xiaose26 commented on #3175
i only want use torchvision C++ API,not python,have installed torch and torchvison with pip
set libtorch path in CmakeLists.txt as follow:
[code]
then make as above,details error:
[code]

[2020-12-17 12:45] datumbox opened #3183 "CI Conda builds broken on Linux"
## 🐛 Bug

CI conda builds on linux started failing today. Examples:
- [binary_linux_conda_py3.6_cu110](https://app.circleci.com/pipelines/github/pytorch/vision/5544/workflows/93ded592-a181-484d-aa55-4480cb0d069e/jobs/350305)
- [binary_linux_conda_py3.7_cu110](https://app.circleci.com/pipelines/github/pytorch/vision/5544/workflows/8cf59bce-1a05-4349-a198-97157af33797/jobs/350309)
- [binary_linux_co

[2020-12-17 13:19] vfdev-5 commented on #3175
@xiaose26 It's a pytorch cuda related bug. I could also repro your issue. It is related to https://github.com/pytorch/pytorch/issues/47493 which was already fixed on the master and probably not yet selected into v1.7.1 stable release.

Possible, workaround is to
1) build without CUDA support: `-DWITH_CUDA=off`
2) patch manually the fix to the header: libtorch/include/ATen/core/op_registration/infe

[2020-12-17 14:38] datumbox commented on #3176
@Tylersuard thanks for drafting this. Looks like a reasonable approach and I think this will be useful to the users. :)

Could you please send a PR for one of the notebooks so that we can discuss any details and then consider porting this to the rest of the notebooks?

[2020-12-17 15:16] vfdev-5 commented on #3175
I close the issue as answered, @xiaose26 feel free to reopen if needed.

[2020-12-17 15:16] #3175 closed

[2020-12-17 16:40] jc-hou opened #3184 "Are these 2 lines of code necessary?"
Hi,
https://github.com/pytorch/vision/blob/master/references/video_classification/train.py#L134
https://github.com/pytorch/vision/blob/master/references/video_classification/train.py#L169

I wonder if these two lines are necessary.
Why do we need to assign transforms to dataset after loading them from cache, whose transforms have been declared when being saved.
I remove them and code seems still w

[2020-12-17 17:19] datumbox commented on #3184
@jc-hou Good question. I think you are right. As far as I can tell it's not needed and here is a snippet to prove it:
[code]

@fmassa I git blamed it and I see that this was introduced at #1180 but I don't see any comments on why it's there. Maybe it was there to address a limitation in an earlier version of PyTorch. Could you confirm that this is no longer necessary?

[2020-12-17 17:32] seemethere commented on #3183
Looks to be related again to https://github.com/conda/conda-package-handling/issues/71

[2020-12-17 21:35] mthrok commented on #3183
I am also seeing this in torchtext https://github.com/pytorch/text/pull/1104

[2020-12-17 22:25] Tylersuard commented on #3176
Absolutely! I just created this PR: https://github.com/pytorch/hub/pull/175
Thank you for the opportunity to contribute.

Sent with [ProtonMail](https://protonmail.com) Secure Email.

‐‐‐‐‐‐‐ Original Message ‐‐‐‐‐‐‐
On Thursday, December 17, 2020 6:38 AM, Vasilis Vryniotis <notifications@github.com> wrote:

[2020-12-18 13:12] Sid2697 commented on #3034
Hey! I was wondering if I could contribute to this issue, is there anyone already working on it?

[2020-12-18 13:34] gorjanradevski commented on #1477
@manoja328 did you figure out how to the scale the bounding boxes from your custom RPN, before feeding them to the `RoIHeads` module?

[2020-12-18 14:05] manoja328 commented on #1477
Ya i did. You can find the code in my repo.

On Fri, Dec 18, 2020, 8:35 AM Gorjan <notifications@github.com> wrote:

[2020-12-18 14:08] manoja328 commented on #1477
Here is the link:
https://github.com/manoja328/voc_detection/blob/master/train.py

On Fri, Dec 18, 2020, 9:05 AM Manoj Acharya <manoja328@gmail.com> wrote:

[2020-12-18 14:10] gorjanradevski commented on #1477
Thanks for the help, I appreciate it!

[2020-12-18 14:11] datumbox commented on #3034
Hey @Sid2697, welcome!

Go for it. Looking forward to your PR.

[2020-12-18 15:41] KumaTea opened #3188 "Cannot Build With FFmpeg Support"
## ❓ Questions and Help

### Cannot Build With FFmpeg Support

Hi.

While trying to build `torchvision` from source, I've seen this output:

[code]

It showed that **`FFmpeg found: False`**. I tried `apt install ffmpeg` and built again, it still showed FFmpeg not found.

Then I tried:

[code]

But it showed `FFmpeg found: False` once again.

I could not find any instructions in [README](../blob/ma

[2020-12-18 23:42] gorjanradevski commented on #1001
Hey @fmassa, I need one clarification. Based on your code, does this mean that the outputs (region proposals) from the `RegionProposalNetwork` are in the original image sizes? Because in your code snippet, you provide the `proposals` in the original image size, i.e., the predicted and postprocessed ones, to the `box_roi_pool` module. Finally, I also had a look at the docstring of the forward metho

[2020-12-19 03:28] voldemortX commented on #3071
Hi! In the cleanup process, if you guys find functional limitations of tensor transforms (i.e. something PIL can do that tensors can't), maybe I could work on them?

[2020-12-19 07:09] AnirudhDagar opened #3194 "Support for non-rgb images in io.read_image & io.decode_image"
## 🚀 Feature
The current `torchvision.io.read_image` function reads a `JPEG` or `PNG` image into a 3 dimensional RGB Tensor. When the image has a single channel, this function throws a runtime error saying "RuntimeError: Non-RGB images are not supported.".
It would be nice to add support for non-RGB images.

## Motivation

This can be extremely helpful for example when reading in the segmentation

[2020-12-19 07:16] AnirudhDagar commented on #3194
nvm i think this should be fixed in #3024

[2020-12-19 07:16] #3194 closed

[2020-12-19 15:57] datumbox commented on #3071
Hi @voldemortX, you are very welcome to do so! I think we already mention these limitations on the transforms.py pydoc linked above, if you want to have a go. :)

[2020-12-19 16:29] voldemortX commented on #3071
Cool! I'll investigate and summarize what can be done soon.

[2020-12-20 23:51] #3034 closed

[2020-12-21 03:45] voldemortX commented on #3071
@datumbox I checked the current documentation in transforms.py and found the following tensor limitations:
1. Symmetric padding mode support: Pad, RandomCrop (seems already supported in #2749, #2373 but forget to update the doc).
2. JIT unsupported for Lambda, RandomOrder, RandomChoice (seems not addressable yet).
3. Tensor interpolation mode only support nearest, bilinear, bicubic: Resize, Random

[2020-12-21 10:10] bulatnv commented on #3044
Confirm, that faster_resnet50_fpn also have these exporting warnings.

Additionally, there are other warnings with onnxruntime model evaluation:

[code]

## Environment
1. onnx: 1.7.0
2. onnxruntime: 1.5.2

[2020-12-21 12:48] bulatnv commented on #3044
Update:
I have tried to remove initializers with onnx optimizer. [Removing initializer warning.](https://github.com/microsoft/onnxruntime/issues/1899)

Optimization attemt raises IndexError.
[code]

[2020-12-21 14:03] datumbox commented on #3071
@voldemortX Thanks for the deep dive!

Great work flagging the issue on point 1, I'll update this ticket's description to include it. Unfortunately JIT still does not support Lambdas. Given that points 3 & 4 are quite big and not related to this very specific issue, I would recommend opening a RFC issue where you can outline the potential solutions and request feedback.

Finally, if you are intere

[2020-12-21 14:13] voldemortX commented on #3071
At the moment I don't have a elegant workaround for interpolations modes, I think maybe if me or somebody want to do this, maybe it's better done in pytorch than in torchvision.

You mean clean-up the docs? I could do that in a bit.

[2020-12-21 19:43] vfdev-5 commented on #3150
@mahtabbigverdi yes the following code:
https://github.com/pytorch/vision/blob/2f1399e86309fa3c286771176c017fdfaf3ce00e/references/detection/engine.py#L80

adapts input dataset to MSCoco format to evaluate the model with pycocotools etc. Function `get_coco_api_from_dataset` does not alter the input dataset and for example for MSCoco val dataset input, datapoints remain the same:
[code]
gives
[code

[2020-12-21 19:43] #3150 closed

[2020-12-21 22:53] masahi opened #3198 "Boxes with negative scores in NMS input?"
Hi, I found that the use of NMS in `RegionProposalNetwork` can take on boxes with negative scores as inputs. I found this when running MaskRCNN in v0.8 release.

https://github.com/pytorch/vision/blob/90645ccd0e774ad76200245e32222a23d09f2312/torchvision/models/detection/rpn.py#L261

In other use of NMS in `ROIHeads`, scores are thresholded to keep only boxes with positive scores:
https://github.co

[2020-12-22 00:37] nickponline opened #3199 "Is paste_masks_in_image fixed?"
I see this comment in the code and wondering if it's fixed:
https://github.com/pytorch/vision/blob/master/references/detection/engine.py#L73

If it isn't could I please get some information on how to fix it and I can submit a PR.

[2020-12-22 09:52] joakimjohnander opened #3201 "torchvision.io.read_video mirrors videos of BDD100k and sometimes rotates them 180 degrees"
## 🐛 Bug

The function `torchvision.io.read_video(path, start_pt, end_pt, pts_unit='sec')` flips videos horizontally and for around half of the videos, also rotates them 180 degrees. The videos in question are from the dataset BDD100k. I believe they have been collected with an iPhone, and are in .mov format.

## To Reproduce

Steps to reproduce the behavior:

[code]

Figures:
<img width="638" alt

[2020-12-22 11:02] datumbox commented on #3198
I believe that the original intention of the following snippet was to speed up the execution of the NMS op rather than filtering explicitly any non positive value:
https://github.com/pytorch/vision/blob/90645ccd0e774ad76200245e32222a23d09f2312/torchvision/models/detection/roi_heads.py#L702-L704

Could you provide a snippet that reproduces negative scores so that we can investigate?

[2020-12-22 11:04] datumbox commented on #3199
Please check #3115. Closing this as it's a duplicate, let's continue the discussion there to keep it in one place. :)

[2020-12-22 11:04] #3199 closed

[2020-12-22 11:26] masahi commented on #3198
Sure this is the script https://gist.github.com/masahi/ea002c85e7d665d40eeb5c6422490e63

I dumped the inputs to `batched_nms` and I can see many negative boxes. My dumps are available at https://github.com/masahi/torchscript-to-tvm/tree/master/nms-perf-issue

I think thresholding scores at 0 make sense because the scores in `ROIHeads` are outputs from softmax that are supposed to be probability-li

[2020-12-22 11:39] bjuncek commented on #3201
Hi @joakimjohnander , thank you very much for reporting this - this indeed does look like a weird bug.
Would it be possible for you to upload the two videos somehow for me to check out more thoroughly?

I suspect it's an issue with FFMPEG filter parameters somehow getting mixed up in the decoder, but haven't observed on our videos. Understanding this would be very helpful.

Best,
Bruno

[2020-12-22 11:54] joakimjohnander commented on #3201
Hey, thanks for swift reply. Does this link work for you?
https://liuonline-my.sharepoint.com/:f:/g/personal/joajo88_ad_liu_se/EheEo5wWNLlGsN9GSCnfRUgBo6u-q0SjezmZwR7kKd_YUg?e=XeyfG9

[2020-12-22 14:43] datumbox commented on #3198
Thanks a lot for providing additional info.

NMS does not require the scores to be positive. The kernel uses the scores to rank the boxes from highest to lowest. Thus they can be virtually any well-behaved score and the method will still work:
https://github.com/pytorch/vision/blob/7d831a2f9b3ebab9eb8e5c899cf70b103ad6908a/torchvision/csrc/ops/cpu/nms_kernel.cpp#L30

As you said, in the case of `RO

[2020-12-22 15:59] bjuncek commented on #3201
Yup, perfect. I'll take a look at this tonight :)

Cheers,
Bruno

[2020-12-22 17:16] nickponline commented on #3115
I would be happy to test it - would this be the corrected vision that runs on the GPU?

[code]

[2020-12-22 18:26] masahi commented on #3198
ok I understand that negative boxes are considered valid inputs to NMS. But then there are some deep questions I have like the ones below. I don't expect all of them to be answered, since some of them might not have a clear answer.

* What do boxes with negative objectness mean?
* What makes one box positive while others negative?
* Can a totally reasonable box have a negative objectness? Some peo

[2020-12-22 18:47] zhiqwang commented on #3198
I'm not sure the negative box will cause this problem as described in #1705 ?

[2020-12-22 18:52] masahi commented on #3198
@zhiqwang No. If negative boxes are considered valid, we cannot reduce the number of boxes.

[2020-12-23 08:27] bulatnv commented on #1002
Hello @fmassa,

Is there any updates on this issue?

torch==1.7.1
torchaudio==0.7.2
torchvision==0.8.2
[code]

[2020-12-23 08:36] ruiyuanlu opened #3206 "Add batch-wise random erasing support?"
## 🚀 Feature

## Motivation

The random erasing supported in torchvision now is implemented as image-wise. I need to use it after data loader collecting batches. But the current design cannot be used for a large batch because it is too slow to preprocess on CPU.

I use a for loop to process per-image in a batch, as shown below, but it is too slow:
[code]

## Pitch

If a batch-wise random erasing o

[2020-12-23 09:24] datumbox commented on #3206
This is supported already for Tensors:
[code]

Perhaps you are passing PIL images and that's why it's slow?

[2020-12-23 09:30] voldemortX commented on #3206
I think he want to input a whole batch but cut out different areas for each image.

[2020-12-23 09:39] ruiyuanlu commented on #3206
Yes, that's exactly what I want.

Interestingly, I find that on my Ubuntu 18.04 python3.7.6, your code does not work.
![image](https://user-images.githubusercontent.com/16774189/102982559-b19f5000-4545-11eb-8916-13ec9a046eb7.png)

Maybe I need to update my pytorch and torchvision?

[2020-12-23 09:42] vfdev-5 commented on #3206
@ruiyuanlu yes, tensor support was added since 0.8.X for torchvision.

[2020-12-23 15:19] datumbox commented on #3198
@masahi I'm going to give a lengthier answer before jumping to your questions because it will give you a better understanding on how the implementation works:

In both RPN and RoIHeads we have parts of the network that do classification and estimate class [logits](https://en.wikipedia.org/wiki/Logit) instead of class probabilities (one for whether there is anything inside the anchor and the other

[2020-12-23 15:24] datumbox commented on #3183
@seemethere Is there anything we can do to temporarily fix this on our side?

[2020-12-23 18:57] masahi commented on #3198
Wow that's a great answer! Thank you very much, it makes a lot of sense now :)

Indeed, since I'm only interested in testing / model compiling, I haven't paid attention to loss functions. But it is a great insight that I can look at the losses to understand what objectness network is trying to calculate.

:+1: Great now I understand where the negatives come from and that they do matter.

I'm now d

[2020-12-23 19:40] datumbox commented on #3198
@masahi Awesome! I'll close the ticket but please feel free to open it again if there are more concerns.

Concerning the NMS indeed it's one of the most costly parts of inference so we try to optimize it as much as possible. My understanding is that the current implementation tries to make use of PyTorch specific features to make it very fast, nevertheless if you think there is a better option ple

[2020-12-23 19:40] #3198 closed

[2020-12-24 08:10] nexplor opened #3207 "Conda install incompatible with opencv for python 3.9"
## 🐛 Bug
Cannot install any version of torchvision newer than 0.2.2 with opencv for python 3.9

## To Reproduce
Contents of `~/.condarc`:
[code]

On the command line:
[code]
This installs torchvision version 0.2.2.

Replacing the last line with
[code]
produces the error
[code]

## Expected behavior
Torchvision version 0.8.2 should be selected for installation.
If version is explicitly specified, p

[2020-12-24 08:58] wj1017090777 commented on #3049
Thank you for your concern.I successfully built C++ torchvison with cuda and successfully run mask_rcnn.

[2020-12-24 18:56] farleylai commented on #3207
`jpeg` now requires <= 9b unlike previous releases.
Any specific reason for that?

[2020-12-25 05:21] Kinyugo opened #3208 "Loading CelebA dataset in Google Colab causes runtime to run out of memory."
## Loading the CelebA dataset using `torchvision.datasets.CelebA` uses up all the memory of a Google Colab runtime causing a crash.

Am loading the CelebA dataset in Google Colab. During the process, the memory consumption rises till it reaches the maximum memory allocated i.e: 12GB. This leads to the colab runtime crashing.

## To Reproduce

[code]
The notebook can be found [here](https://colab.r

[2020-12-25 16:14] ManifoldFR commented on #3207
There are similar problems for Python 3.8.

I also saw that installing a working opencv and PyTorch GPU (from the `pytorch` channel) with conda is impossible - conda will install `pytorch::ffmpeg` 4.3.0 which leads to errors when doing `import cv2`. Also installing torchvision leads to even more problems.

[2020-12-25 22:31] AymericFerreira commented on #3058
I have the same problem, I'm using server node so some functionalities are not available (as access to internet).
I'm using torch 1.7.1 and torchvision 0.8.1
I was thinking that maybe the fact that I create the environnement on a system without GPU can cause the error so in doubt I reinstall both torch and torchvision on the node.

My task is a basic yolov5 training, I'm using this tutorial and st

[2020-12-25 22:41] Droid021 commented on #2216
Hi, just an addition to this, Compiling torchvision requires a nightly version of PyTorch, this should be in the readme (took me a few to figure out why the compilation was failing).

[2020-12-27 16:56] helloyan opened #3210 "TORCH_LIBRARY_FRAGMENT build error"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1.sudo python3 setup.py install
2. vision/torchvision/csrc/vision.cpp:31:23: error: expected constructor, destructor, or type conversion before ‘(’ token

## Expected behavior

## Environment

Please copy and paste the output from our
[environment collection script](https://raw.githubusercontent.com/pytorch/pytorch/master/torch/utils/col

[2020-12-27 19:44] minouei-kl opened #3211 "SyncBatchNorm in detection train script"
## 🚀 Feature

I noticed that in the classification and segmentation train scripts SyncBatchNorm option is available but not in the detection train script. is it intentional?
## Motivation

## Pitch

adding --sync-bn option to detection train script
## Alternatives

## Additional context

[2020-12-28 04:11] davidnvq opened #3213 "More ResNet backbones for Faster R-CNN and Mask R-CNN"
## 🚀 Feature
More ResNet backbones (e.g., resnet18, resnet34, and resnet101) for Object Detection and Instance Segmentation.

## Motivation

Detectron2 provides a curated list of pre-trained detectors with having different backbones. However, I believe that the implementation of object detectors in `torchvision` is intriguingly easy to play around and plug into users' systems to solve their proble

[2020-12-28 08:37] qyb commented on #3210
checkout a specific version first
git checkout v0.8.2

[2020-12-28 12:18] kureta commented on #3210
switching to v0.8.2 did not help. here is my build environment:
[code]

[2020-12-28 23:10] helloyan commented on #3210
I use pytorch 1.7.0, so it should be torchvision 0.8.1,i back to 0.8.0, it compiled successful

[2020-12-28 23:12] helloyan commented on #3210
maybe you could try this  https://github.com/yqlbu/jetson-packages-family "Set CUDA Path"

[2020-12-29 18:50] oke-aditya commented on #3213
Hello, @davidnvq Resnet 18, 34, 101, 151, as well as ResNext backbones, can be used with FPNs for Object detection from torchvision.
Torchvision does not provide pre-trained weights over COCO dataset for these but you can use these with ImageNet Weights.

For Segmentation models it is possible to use ResNet50 and Resnet101 whose weights are provided as well.
For other Resnet18, Resnet34, etc I thi

[2020-12-30 02:54] davidnvq commented on #3213
Thanks for your reply.

Do you mean the pre-trained weights on the COCO dataset? If so, where can I find those weights for ResNet101? So far, I have found the torchvision version of Mask R-CNN with backbone ResNet50 that was pretrained on the COCO dataset.

[2020-12-30 04:54] oke-aditya commented on #3213
You can have a read [here](https://pytorch.org/docs/stable/torchvision/models.html#semantic-segmentation) in docs.
ResNet 101 is pretrained using COCO 2017 for Semantic Segmentation model.s

[2020-12-30 05:05] davidnvq commented on #3213
Thank you for your pointer. Indeed, I'm looking for Instance Segmentation Models like Mask R-CNN rather than Semantic Segmentation. I'm still not sure the reason why they haven't provided the pre-trained Mask R-CNN models with ResNet101 backbone.

[2020-12-30 06:53] oke-aditya commented on #3213
I'm not sure why they haven't provided or they have plans to extend with Resnet101 backbone (for detection and instance segmentation models).
You can train on COCO2017 using ImageNet weights. Also, torchvision provides [reference scripts](https://github.com/pytorch/vision/tree/master/references) which were used to obtain these weights. You can use them to train for Resnet101 over COCO.

[2020-12-30 07:53] ain-soph commented on #3152
Hi, I also suffer this problem recently.
I can reproduce your result with [train.py](https://github.com/pytorch/vision/blob/master/references/classification/train.py) and exactly the same numbers you posted.

However, when I check the validation results by myself, things are different for a third time.
Here's a sample code:

[code]
The result for ResNet18 is `31.066`, ResNet101 is `22.876`.
Even a

[2020-12-30 08:23] yoshitomo-matsubara commented on #3152
Hi @ain-soph ,

My best guess from your sample code is that the small accuracy difference between yours and mine is caused by ‘Resize(256, 256)‘ as long as you're using ILSVRC 2012 dataset.

‘Resize(256)‘ in example code should not be equal to ‘Resize(256, 256)‘ in your sample code according to https://pytorch.org/docs/stable/torchvision/transforms.html#torchvision.transforms.Resize

[2020-12-30 17:22] ain-soph commented on #3152
You are certainly correct! I just validate that. Thanks a lot and happy new year!
My numbers are now exactly the same as yours.

I think the docs may be already out-of-date? Even though I don't know what things have changed.

[2021-01-01 15:54] vasyllyashkevych commented on #1405
I did like was noticed [here]( https://github.com/pytorch/vision/issues/1405#issuecomment-730809458) but the new issues appeared later:
if expr.id == "True":
RecursionError: maximum recursion depth exceeded in comparison

Also, tried to downgrade version like:
pip3 install torch==1.3.0 torchvision==0.4.1 -f https://download.pytorch.org/whl/torch_stable.html -i https://pypi.tuna.tsinghua.edu.cn/sim

[2021-01-01 19:32] wodend opened #3216 "v0.8.X Build failure due to binding type error"
## 🐛 Bug

Build fails due to a binding type error on v0.8.X.

## To Reproduce

Steps to reproduce the behavior:

1. Clone the repo.
[code]

2. Checkout any 0.8.X version.

[code]

3. Build and install from source (my setup requires a home directory installation).

[code]

Build failure error message:

[code]

## Expected behavior

Build success

## Environment

PyTorch version: 1.6.0a0+b31f58d
Is

[2021-01-03 13:51] datumbox commented on #2980
I have a use-case that requires LabelSmoothing. Unfortunately `CrossEntropyLoss` does not support it in PyTorch (https://github.com/pytorch/pytorch/issues/7455). This is a highly requested feature but unfortunately it's been blocked for more than 2 years. Thus I'm tempted to add it on TorchVision side until the above is resolved, but as @oke-aditya pointed out there is no great place to put it.

@

[2021-01-03 14:28] oke-aditya commented on #2980
Great point @datumbox
Sure :smile:  I will update the Issue description.
Let's keep this issue for tracking purpose. Feel free to modify it if I miss something.

[2021-01-04 14:02] pmeier commented on #3208
Duplicate of #2992. This was temporarily fixed in #3035.

@Kinyugo I'm working on a fix. For now the only workaround is to download the dataset manually and set `download=False`.

[2021-01-04 14:02] #3208 closed

[2021-01-04 17:16] andfoy commented on #3188
Hi @KumaTea, could you please check if the `ffmpeg` command is available?

[2021-01-04 18:36] KumaTea commented on #3188
Hi, I just checked and it is available.

**Install deps**

[code]

**Check ffmpeg**

[code]

**Build**

[code]

---

I don't know if the architecture `aarch64` or the virtualization env `docker` has any effect on this...

[2021-01-04 21:32] jamespltan opened #3219 "torchvision.transforms.functional.adjust_hue does not respect alpha channel"
## 🐛 Bug

when working with RGBA images, the adjust_hue function does not seem to respect the alpha channel and imposes a max_value of 255 after the transform. Taking a quick look at the source code, it seems that the image is immediately converted to HSV without retaining the alpha channel. It should be a quick fix to retain the alpha channel and include it when merging back into RGBA.

## To Rep

[2021-01-04 22:38] datumbox commented on #3219
@jamespltan Thanks for reporting this.

You are right to say that the `adjust_hue()` method does not currently support transparency (neither on the PIL nor on the Tensor backend). The same applies for other transformations and unfortunately the documentation does not mention those limitations (cc @voldemortX).

Extending support and providing a proper and consistent solution across both backends i

[2021-01-05 01:04] voldemortX commented on #3219
Yeah I forgot to mention that in the doc...

[2021-01-05 10:41] datumbox opened #3221 "TorchVision Roadmap - 2021 H1"
This issue is be used to keep track of the roadmap of TorchVision and get feedback from our users.

For the 2021-H2 roadmap, please see https://github.com/pytorch/vision/issues/4187

- Streamlined data pipelines:
	- [x] Improved io.image with new supported types and conversions (#2984, #2988, #3024, #3069)
	- [x] Add Auto-augment input transformation (#3123)
	- [x] Add preset preprocessing transfo

[2021-01-05 11:01] datumbox commented on #3219
That would be awesome @voldemortX, thank you. There might be more limitations on the adjust_* methods that we don't clearly mention.

[2021-01-05 13:57] fmassa commented on #3198
Hi,

Thanks for the very comprehensive discussion @datumbox, I totally agree with your answers.

@masahi about your comment

yes, you are right. The current implementation is tailored mostly for GPUs, in order to be able to re-use the current kernels we have and avoid for loops in Python (which would be costly).
It would be preferable to have an optimized C++ / CUDA implementation that could do th

[2021-01-05 16:42] jamespltan commented on #3219
Many thanks my dudes 🙏

[2021-01-05 19:41] bjuncek commented on #3201
Hi @joakimjohnander

sorry for the long response, in addition to the holidays, this one is in particular a PAIN to debug, and I still don't have a clear idea on what is happening. In short it seems like these videos are somehow encoded in a different height/width order and FFMPEG (what's behind VideoReader and libraries with similar functionalities) seems to be misinterpreting it.
pyAV and "pure"

[2021-01-05 21:42] masahi commented on #3198
@fmassa @datumbox

About `batched_nms` performance, one thing I found is that all usage of `batched_nms` are followed by post NMS topk, like this:

https://github.com/pytorch/vision/blob/3d60f498e71ba63b428edb184c9ac38fa3737fa6/torchvision/models/detection/rpn.py#L261-L263

So if we pass this topk parameter to NMS, we can make NMS faster by returning from the sequential loop below as soon as `num_

[2021-01-05 21:52] masahi commented on #3221
Can we revisit various workarounds for tracing Faster RCNN / MaskRCNN ? There are many such special code-path for tracing mode, to support ONNX export. These code were added one year ago when PyTorch ONNX had many limitation. Especially the one below does repeated concat in a loop so it is not efficient.

https://github.com/pytorch/vision/blob/3d60f498e71ba63b428edb184c9ac38fa3737fa6/torchvision/m

[2021-01-06 01:25] andfoy commented on #3188
It seems that setup.py is unable to find ffmpeg in the PATH, is it possible that the PATH is being modified in some way?

[2021-01-06 10:09] KumaTea commented on #3188
Probably not.

I ran **`echo $PATH`** right after the initialization of docker container, and after installing dependencies, and the output are both **`/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin`**.

`which ffmpeg` outputs `/usr/bin/ffmpeg`.

---

I also tried to install `ffmpeg` and other dependencies, like `jpeg` and `libpng`, using [miniforge](https://github.com/conda-forge/mi

[2021-01-06 13:20] voldemortX opened #3224 "Current limitation on transforms"
The torchvision transforms now have 2 backends (PIL and Tensor), here are some functional mismatch between them and some may-be-useful features that neither of them support. Details are listed in [transforms.py](https://github.com/pytorch/vision/blob/7b9d30eb7c4d92490d9ac038a140398e0a690db6/torchvision/transforms/transforms.py) and [functional.py](https://github.com/pytorch/vision/blob/7b9d30eb7c4

[2021-01-06 13:57] fmassa commented on #3198
Yes, that is true, and it's the approach that some kernels follow (like the one from Caffe2 and ONNX).
I'm not necessarily super excited about this change though, as this gives precedence for other micro-optimizations that could be applied to NMS (like the one discussed in https://github.com/pytorch/vision/issues/2552)

But I would like to see some performance numbers on representative use-cases t

[2021-01-06 14:04] fmassa commented on #3221
@masahi I would be happy to accept a PR to improve the ONNX export path, and removing as many workarounds as possible would be awesome. cc @neginraoof for thoughts.

[2021-01-06 15:32] fmassa opened #3225 "Revisit ONNX-specific workarounds"
## 🚀 Feature

As pointed out by @masahi in https://github.com/pytorch/vision/issues/3221#issuecomment-754924562, torchvision currently contain a few workarounds in order to support ONNX, many of which have been fixed upstream and could be cleaned up.

This issue is to track those potential improvements, so that we can have as little ONNX-specific codepaths as possible.

cc @neginraoof

[2021-01-06 17:33] datumbox commented on #386
This issue appears to be stale, so I'm closing it. If you think it should remain open, feel free to reopen it.

[2021-01-06 17:33] #386 closed

[2021-01-06 17:35] datumbox commented on #390
This issue appears to be stale, so I'm closing it. If you think it should remain open, feel free to reopen it.

[2021-01-06 17:35] #390 closed

[2021-01-06 17:35] datumbox commented on #426
This issue appears to be stale, so I'm closing it. If you think it should remain open, feel free to reopen it.

[2021-01-06 17:35] #426 closed

[2021-01-06 17:35] datumbox commented on #458
This issue appears to be stale, so I'm closing it. If you think it should remain open, feel free to reopen it.

[2021-01-06 17:35] #458 closed

[2021-01-06 17:35] datumbox commented on #580
This issue appears to be stale, so I'm closing it. If you think it should remain open, feel free to reopen it.

[2021-01-06 17:35] #580 closed

[2021-01-06 17:35] datumbox commented on #610
This issue appears to be stale, so I'm closing it. If you think it should remain open, feel free to reopen it.

[2021-01-06 17:35] #610 closed

[2021-01-06 17:35] datumbox commented on #647
This issue appears to be stale, so I'm closing it. If you think it should remain open, feel free to reopen it.

[2021-01-06 17:35] #647 closed

[2021-01-06 17:36] datumbox commented on #759
This issue appears to be stale, so I'm closing it. If you think it should remain open, feel free to reopen it.

[2021-01-06 17:36] #759 closed

[2021-01-06 17:36] datumbox commented on #830
This issue appears to be stale, so I'm closing it. If you think it should remain open, feel free to reopen it.

[2021-01-06 17:36] #830 closed

[2021-01-06 17:36] datumbox commented on #901
This issue appears to be stale, so I'm closing it. If you think it should remain open, feel free to reopen it.

[2021-01-06 17:36] #901 closed

[2021-01-06 17:36] datumbox commented on #970
This issue appears to be stale, so I'm closing it. If you think it should remain open, feel free to reopen it.

[2021-01-06 17:36] #970 closed

[2021-01-06 17:36] datumbox commented on #1137
This issue appears to be stale, so I'm closing it. If you think it should remain open, feel free to reopen it.

[2021-01-06 17:36] #1137 closed

[2021-01-06 17:36] datumbox commented on #1389
This issue appears to be stale, so I'm closing it. If you think it should remain open, feel free to reopen it.

[2021-01-06 17:36] #1389 closed

[2021-01-06 17:36] datumbox commented on #1390
This issue appears to be stale, so I'm closing it. If you think it should remain open, feel free to reopen it.

[2021-01-06 17:36] #1390 closed

[2021-01-06 17:37] datumbox commented on #1473
This issue appears to be stale, so I'm closing it. If you think it should remain open, feel free to reopen it.

[2021-01-06 17:37] #1473 closed

[2021-01-06 17:37] datumbox commented on #1540
This issue appears to be stale, so I'm closing it. If you think it should remain open, feel free to reopen it.

[2021-01-06 17:37] #1540 closed

[2021-01-06 17:37] datumbox commented on #1631
This issue appears to be stale, so I'm closing it. If you think it should remain open, feel free to reopen it.

[2021-01-06 17:37] #1631 closed

[2021-01-06 17:37] datumbox commented on #1645
This issue appears to be stale, so I'm closing it. If you think it should remain open, feel free to reopen it.

[2021-01-06 17:37] #1645 closed

[2021-01-06 17:37] datumbox commented on #1719
This issue appears to be stale, so I'm closing it. If you think it should remain open, feel free to reopen it.

[2021-01-06 17:37] #1719 closed

[2021-01-06 17:37] datumbox commented on #1740
This issue appears to be stale, so I'm closing it. If you think it should remain open, feel free to reopen it.

[2021-01-06 17:37] #1740 closed

[2021-01-06 17:38] datumbox commented on #1771
This issue appears to be stale, so I'm closing it. If you think it should remain open, feel free to reopen it.

[2021-01-06 17:38] #1771 closed

[2021-01-06 17:38] datumbox commented on #1835
This issue appears to be stale, so I'm closing it. If you think it should remain open, feel free to reopen it.

[2021-01-06 17:38] #1835 closed

[2021-01-06 17:40] datumbox commented on #1836
Yes we do, check here: https://code.facebook.com/cla

[2021-01-06 17:40] #1836 closed

[2021-01-06 17:42] datumbox commented on #1867
This issue appears to be stale, so I'm closing it. If you think it should remain open, feel free to reopen it.

[2021-01-06 17:42] #1867 closed

[2021-01-06 17:42] datumbox commented on #1897
This issue appears to be stale, so I'm closing it. If you think it should remain open, feel free to reopen it.

[2021-01-06 17:42] #1897 closed

[2021-01-06 17:42] datumbox commented on #1904
This issue appears to be stale, so I'm closing it. If you think it should remain open, feel free to reopen it.

[2021-01-06 17:42] #1904 closed

[2021-01-06 17:42] datumbox commented on #1963
This issue appears to be stale, so I'm closing it. If you think it should remain open, feel free to reopen it.

[2021-01-06 17:42] #1963 closed

[2021-01-06 17:42] datumbox commented on #2147
This issue appears to be stale, so I'm closing it. If you think it should remain open, feel free to reopen it.

[2021-01-06 17:42] #2147 closed

[2021-01-06 17:43] datumbox commented on #2233
This issue appears to be stale, so I'm closing it. If you think it should remain open, feel free to reopen it.

[2021-01-06 17:43] #2233 closed

[2021-01-06 17:43] datumbox commented on #2320
This issue appears to be stale, so I'm closing it. If you think it should remain open, feel free to reopen it.

[2021-01-06 17:43] datumbox commented on #2509
This issue appears to be stale, so I'm closing it. If you think it should remain open, feel free to reopen it.

[2021-01-06 17:43] #2509 closed

[2021-01-06 17:45] datumbox commented on #2762
The new_empty_tensor operator has been removed by #3156

[2021-01-06 17:45] #2762 closed

[2021-01-06 17:46] datumbox commented on #2822
This issue appears to be stale, so I'm closing it. If you think it should remain open, feel free to reopen it.

[2021-01-06 17:46] #2822 closed

[2021-01-06 19:00] andfoy commented on #3188
Could you please check in a Python interpreter the output of `distutils.spawn.find_executable('ffmpeg')`?

[2021-01-06 23:28] mthrok commented on #3216
Hi @wodend

To build 0.8.0, you need torch 1.7.0. Please check out the compatibility matrix https://github.com/pytorch/vision#installation

[2021-01-07 07:32] KumaTea commented on #3188
Hi, here's the output:

[code]

Looks like that `distutils` can also find `ffmpeg`.

---

I just ran the exact same commands on a `x86_64` docker container. The results are also same.

[code]

[2021-01-07 08:04] sagadre opened #3227 "transforms.Pad returns error with tuple fill for tensors"
## 🐛 Bug

Passing a 3-tuple, i.e. `Pad(5, fill=(117, 250, 87))` will return an error when when called on a tensor.

## To Reproduce

Issue seems to be here:
https://github.com/pytorch/vision/blob/master/torchvision/transforms/functional_tensor.py#L408

tuple fills and Tensors don't seem to be supported; however the docs suggest that that they should be:
https://pytorch.org/docs/stable/torchvision/

[2021-01-07 08:24] voldemortX commented on #3227
Yes, tensors do not support pad with sequence fills as mentioned in the current doc [here](https://github.com/pytorch/vision/blob/6315358dd06e3a2bcbe9c1e8cdaa10898ac2b308/torchvision/transforms/transforms.py#L330).

#3224 listed some other things also.

[2021-01-07 09:31] Wadaboa opened #3228 "GeneralizedRCNN returns NaNs with torch.uint8 inputs"
## 🐛 Bug

The  `FasterRCNN` model (and, more generally, the `GeneralizedRCNN` class) expects as input images a list of float PyTorch tensors, but if you try to pass it a list of tensors with dtype `torch.uint8`, the model returns `NaN` values in the normalization step and, as a consequence, in the losses computation.

## To Reproduce

Steps to reproduce the behavior:

1. Load an image as a PyTorch

[2021-01-07 11:31] datumbox commented on #3228
@Wadaboa Thanks for reporting.

I think the current implementation expects that you have already coverted the image to 0-1 scale, using one of the other transforms:
https://github.com/pytorch/vision/blob/3d60f498e71ba63b428edb184c9ac38fa3737fa6/references/detection/train.py#L51-L53

Concerning the code on normalize, I think the idea of casting the mean/std to the dtype of the image is not correct:

[2021-01-07 12:38] peterjc123 commented on #2320
@datumbox It seems that you reopened it.

[2021-01-07 16:20] datumbox commented on #2320
@peterjc123 Doh!!!!

[2021-01-07 16:20] #2320 closed

[2021-01-07 18:04] Wadaboa commented on #3228
Great, thank you for the clarification! Tomorrow I'll work on the PR and send it right away!

[2021-01-07 21:03] datumbox opened #3231 "Update trainable_backbone_layers when both pretrained args are False on RetinaNet ResNet50"
## 🐛 Bug

The following call is missing from `retinanet_resnet50_fpn()`. It should be added and the same logic should be produced for mobilenetv3 retina on the branch:
[code]

[2021-01-08 01:17] andfoy commented on #3188
It seems that `distutils.spawn.find_executable` is not finding ffmpeg

[2021-01-08 01:22] andfoy commented on #3188
Could you please check if `shutil.which('ffmpeg')` works?

[2021-01-08 06:06] KumaTea commented on #3188
Actually it did... the command was executed twice, once before installing dependencies and once after.

[code]

It doesn't work:

[code]

[2021-01-08 09:17] songyuc opened #3233 "Which paper is torchvision.ops.deform_conv2d from?"
## 📚 Documentation

I want to know which paper [torchvision.ops.deform_conv2d](https://pytorch.org/docs/stable/torchvision/ops.html#torchvision.ops.deform_conv2d) is from, is it DCNv1 or DCNv2?

[2021-01-08 09:37] datumbox commented on #3233
@songyuc On latest master both! Check out this one:
https://github.com/pytorch/vision/blob/3d60f498e71ba63b428edb184c9ac38fa3737fa6/torchvision/ops/deform_conv.py#L23-L28

The v2 version was added recently.

[2021-01-08 09:38] #3233 closed

[2021-01-08 09:47] songyuc commented on #3233
@datumbox , is there a implementation of DCNv2 using this op?

[2021-01-08 10:00] datumbox commented on #3233
Unfortunately we don't have an implementation of the DCNv2 network at TorchVision at the moment.

BTW feel free to reopen the ticket if you feel I closed it prematurely. :)

[2021-01-08 10:03] songyuc commented on #3233
@datumbox , do you have a plan to add it in torchvision?

[2021-01-08 10:11] datumbox commented on #3233
We don't have immediate plans but it's worth adding it to this ticket #2707 where we keep track requests. Or you can raise a separate issue to propose its addition. :)

[2021-01-08 10:28] #3231 closed

[2021-01-08 14:43] slipnitskaya opened #3235 "Incorrect processing of redirects using download_url()"
## 🐛 Bug

torchvision.datasets.utils.download_url() processes redirects incorrectly.
An attempt to download via URL that returns redirect headers fails and results in an empty file.

## To Reproduce

The behavior can be reproduced using link to the [CUB-200-2011](http://www.vision.caltech.edu/visipedia-data/CUB-200-2011/CUB_200_2011.tgz) dataset. Here's the example execution:

[code]

## Expected

[2021-01-08 15:17] datumbox commented on #3235
@slipnitskaya Thanks for reporting. I don't think simply allowing redirects will do it because the website now hosts the dataset on google drive.

@pmeier Thoughts?

[2021-01-08 15:36] pmeier commented on #3235
I never had to deal with redirects so take what I say with a grain of salt.

---

@slipnitskaya I agree, handling redirects is a good addition and I will review your PR later on. That being said I think @datumbox is right that redirecting won't help you with your problem since `download_url` does not work for files on Google Drive.

In order achieve what you want, we could include a simple regular

[2021-01-08 22:51] slipnitskaya commented on #3235
Thanks for reviewing!

@pmeier Would be great indeed to add support for dispatching of download requests to Google Drive inside `download_url`.
I could implement this feature, so it could be merged into the upstream sooner.

[2021-01-09 02:15] marcusturewicz commented on #980
@rwightman how many GPUs, and what spec of GPU, do you think would be required to train all models B0 through to B7 to the required accuracy? We could use [AWS Deep Learning AMI](https://docs.aws.amazon.com/dlami/latest/devguide/gpu.html) with the required GPUs to train these models. The question then becomes about cost/funding for those instances. I would be willing to cough up some cash and I'm

[2021-01-09 07:52] rwightman commented on #980
@marcusturewicz  ... from b3 to b8 the scaling is roughly about 1/2 the throughput and batch size for each model step. For the B3 hparams I've trained from scratch with (that were an improvement on both the official RandAugment and AdvProp weights) it took almost 4 weeks (26 days) on 2 Titan RTX cards. Doing some rough calcs and translating that (ballpark) to V100s I'd estimate about $45-55K in P3

[2021-01-09 08:15] 1e100 commented on #980
Alternatively, someone with that $100K free AWS "startup" quota could take this on, especially if it's soon going to expire anyway, since it's only offered for a year. One of my clients had their quota expire last week, with tens of thousands of dollars worth of it unused, so I thought I'd mention that here as a possibility. I think Google offers something similar, but they're stingier with it.

[2021-01-09 09:26] voldemortX commented on #3227
@datumbox I think the issue here is [pad() use torch.nn.functional.pad()](https://github.com/pytorch/vision/blob/3ee34eb1559f049dfe96581353bef29af17d95f3/torchvision/transforms/functional_tensor.py#L464) which only supports single value fill. A obvious workaround would be to call that function C (number of channels) times, but that may be, how do I put this, _not very elegant._
Maybe we could just

[2021-01-09 13:03] datumbox commented on #3227
@voldemortX This could be a good workaround for someone who really wants to support the transformation on their codebase, but don't think this is something that we should add in TorchVision because it would be slow. A more elegant and fast approach would be to examine extending the upstream pad.

[2021-01-09 13:32] voldemortX commented on #3227
I just quickly checked out the workaround and I agree with you. This should be supported at pytorch instead of torchvision.

[2021-01-09 19:35] rwightman commented on #980
@1e100 agreed, that would be a good way to do it but need to make the connections to a startup that's not going to burn through their credits, and at the right time..

Somene recently handed me the keys to an 8xV100 GCP machine that was funded by expiring startup credits... I trained some large ResNets and a medium sized EfficientDet. Tackling something like the B7 would have been too risky to hav

[2021-01-10 01:44] #3071 closed

[2021-01-10 06:18] Interesting6 commented on #1759
`
class randomRotate(nn.Module):
    def __init__(self, degrees=[0, 90, 180, 270]):
        super(randomRotate, self).__init__()
        self.degrees = degrees

    def __call__(self, x):
        degree = random.choice(self.degrees)
        return transforms.functional.rotate(x, degree)

# mydataset
__init__:
self.data_cube = segyio.cube(self.data_path)
self.data_cube = torch.from_numpy(self.data_

[2021-01-11 01:59] maxfrei750 commented on #2154
@java-abhinav07 Thanks for helping to improve the code. Did you already fix the `recompute_scale_factor` warning?

[2021-01-11 08:08] pmeier commented on #3235
Sounds good @slipnitskaya! I think we should split this into two separate PRs. You can simply ping me when it is ready for review.

[2021-01-11 08:11] songyuc commented on #2707
I hope to add Mish activation function.

[2021-01-11 16:51] viggi1000 opened #3240 "Request to port Torch-Signal to Pytorch"
Hi @soumith, As discussed today researchers dealing with 1-D signals (Biomedical mainly) would find it immensely helpful if we can get something similar to the Torch-Signal for applying cuda optimized transforms like Wavelet/FFT to 1D signals. Presently we have to apply transforms on scipy or numpy or use libraries like [PytorchWavelet](https://github.com/tomrunia/PyTorchWavelets) which too rely o

[2021-01-11 17:41] datumbox opened #3241 "Python 3.9 support on our CI"
## 🐛 Bug

Currently no tests run on Python 3.9 on our CI. As we get closer and closer to the next release, we should turn them on and fix any possible issues.

cc @seemethere

[2021-01-11 18:08] seemethere commented on #3241
For reference this is the WIP PR for that, https://github.com/pytorch/vision/pull/3041

I haven't really had the bandwidth to actually do this all the way though, perhaps this should be handed off to someone with more bandwidth?

PR for `v0.8.X`: https://github.com/pytorch/vision/pull/3063

[2021-01-11 18:14] datumbox commented on #3241
@seemethere Thanks for the quick reply. Can we just cherrypick the commits in PR #3063 on master? Is there any known problem?

[2021-01-12 05:49] xysong1201 commented on #1916
I also encounter the same issue. In my case, nvidia-smi: CUDA 11.0 and I installed pytorch using torchtoolkit 10.1.
So in order to solve, use this command:
`conda install pytorch torchvision torchaudio cudatoolkit=11.0 -c pytorch`
Hope this helps

[2021-01-12 16:34] slipnitskaya commented on #3235
@pmeier Dispatching of requests to Google Drive has been added to `download_url()` (PR [#3245](https://github.com/pytorch/vision/pull/3245))

[2021-01-12 21:41] thesyntaxinator commented on #1876
Still doesn't work for me

[2021-01-12 22:21] izdeby commented on #1876
Reopening as its [reported](https://github.com/pytorch/pytorch/issues/50447) again.

[2021-01-13 03:30] alpha-gradient opened #3246 "assert error len(grid_sizes) == len(strides) == len(cell_anchors)"
It looks like a bug. When I do not set the AnchorGenerator() in FasterRCNN, the default anchor_sizes in ### **detection/faster_rcnn.py** line**182** shows that 'anchor_sizes = ((32,), (64,), (128,), (512,))' which cause len(cell_anchors) == 5. And  I found that in the **detection/faster_rcnn.py** line**120** the anchor_size set '((32, 64, 128, 256, 512), )' and len(cell_anchors) == 1

[2021-01-13 08:48] MALLI7622 commented on #2740
I am also getting the same error, but I had passed [xmin, ymin, xmax, ymax] to the model. Can someone help me out.

[2021-01-13 09:01] oke-aditya commented on #2740
Can you post details so that we can reproduce the issue ?

[2021-01-13 09:06] MALLI7622 commented on #2740
@oke-aditya what I have share code or abstract details.

[2021-01-13 09:07] oke-aditya commented on #2740
Any code sample that can help people to reprdouce error you get.

[2021-01-13 09:09] MALLI7622 commented on #2740
boxes.append([xmin, ymin, xmax, ymax])
 boxes = torch.as_tensor(boxes, dtype=torch.float32)
These are box cordinates. I'm passing.

[2021-01-13 09:14] oke-aditya commented on #3246
Hi !

I think this error is fixed on master. #2971 #2960  #2983  #2947.

This would be error message on master / next release

[code]

In short, you need to pass a `Tuple[Typle[int]]` instead of a `Tuple[int]` to Anchor Generator.
This was done to avoid potentially bad results.

Also, I think we should change [Line 121](https://github.com/pytorch/vision/blob/master/torchvision/models/detection/fas

[2021-01-13 10:48] ValerianGonnot opened #3247 "Exception using optimize_for_mobile on retinanet"
## 🐛 Bug

When using torch.utils.mobile_optimizer.optimize_for_mobile on retinanet_resnet50_fpn, I get the following exception :
[code]
## To Reproduce

Code to reproduce the behavior:

[code]

## Expected behavior

As there is an issue opened on the pytorch repo since the November 3rd but it hasn't got any attention and changing the model could be easier than fixing directly Pytorch, maybe it is

[2021-01-13 11:00] FraPochetti commented on #2311
@neginraoof

We have a long term plan to address this limitation.
Has this been addressed, by any chance?
I am trying to play around with `dynamic_axes` with torchvision models (`faster_rcnn`, `mask_rcnn`, etc) and I cannot seem to get it to work.
I [asked](https://discuss.pytorch.org/t/dynamic-axes-not-working-as-expected-in-torch-oxxn-export-torchvision/106460) on the forums too, with no luck.

[2021-01-13 11:35] FraPochetti commented on #2251
@zuzaanto were you ever able to get this to work?
I asked in the [forums](https://discuss.pytorch.org/t/dynamic-axes-not-working-as-expected-in-torch-oxxn-export-torchvision/106460) (and [here](https://github.com/pytorch/vision/issues/2311) too), but no luck yet.

[2021-01-13 12:46] BlakeXiaochu commented on #2311
Same problem. Is there any plan to support batch inference now?

[2021-01-13 13:22] zuzaanto commented on #2251
Hi, it was quite some time ago, but I believe I did not get this to work. Eventually, I ended up giving up ONNX entirely and using TorchScript for my purpose.

[2021-01-13 13:23] FraPochetti commented on #2251
I see. thanks a lot man!

[2021-01-13 22:46] addisonklinke opened #3250 "Multi-class focal loss"
## 🚀 Feature

Define an official multi-class focal loss function

## Motivation

Most object detectors handle more than 1 class, so a multi-class focal loss function would cover more use-cases than the existing [binary focal loss](https://github.com/pytorch/vision/blob/v0.8.0/torchvision/ops/focal_loss.py) released in v0.8.0

Additionally, there are many different implementations of multi-class fo

[2021-01-14 10:42] datumbox opened #3251 "ONNX tests failing on master"
## 🐛 Bug

I seems that the ONNX tests are failing today on the latest master and the problem is probably related to changes upstream.

This was originally spotted on an unrelated [PR](https://github.com/pytorch/vision/pull/3239) but to confirm we reran the tests on previously day's passing master and it [failed](https://app.circleci.com/pipelines/github/pytorch/vision/5741/workflows/5c6087df-4f7f-

[2021-01-14 11:46] oke-aditya commented on #3250
Hi, The discussion for adding loss functions to torchvision is here #2980 .
I think this also sounds like a very particular use case to Computer vision and not a very general loss function like `nn.CrossEntropy`

[2021-01-14 12:06] #1676 closed

[2021-01-14 15:15] addisonklinke commented on #3250
@oke-aditya Thank you for adding my request to your task list. Is there an estimated timeline for completing #2980?

Also in the meantime, do you have any feedback on the proposed code snippet here - is the implementation correct?

[2021-01-14 16:52] oke-aditya commented on #3250
I don't have any estimated timeline for Loss functions. Since, Loss functions not currently in Torchvision Roadmap #3221 .
So maybe we might have to wait for such API.
I will have a look at the above snippet and post a version which seems fine to me here.

[2021-01-14 17:02] addisonklinke commented on #3250
Okay understood. Excellent, I look forward to your feedback on the implementation and I'm sure others looking for a reference will find it helpful as well!

[2021-01-14 18:12] eellison commented on #3247
I think this is fixed on master

[2021-01-14 18:15] ValerianGonnot commented on #3247
Yes, indeed

[2021-01-14 18:15] #3247 closed

[2021-01-15 12:34] Nuno-Mota commented on #3250
I have been using pretty much the same approach for computing a multi-class focal loss, but I was encountering some numerical instabilities.
I did not have as much time to investigate the issue as I would have liked, but it **seems** to happen when the model is highly confident (estimated probability is approx 1) and `0 < gamma < 1`.
As a quick fix, I ended up clamping `1-pt` (let's name it `clamp

[2021-01-15 14:23] jiafatom commented on #3251
The torch_onnx_test on master branch fails at around 1/14/2021 2:00 am
https://app.circleci.com/pipelines/github/pytorch/vision/5741/workflows/5c6087df-4f7f-458d-b3a7-34061cff1a82/jobs/370853
this test is successful 4 days ago on 1/10/2021.
https://app.circleci.com/pipelines/github/pytorch/vision/5741/workflows/5c6087df-4f7f-458d-b3a7-34061cff1a82https://app.circleci.com/pipelines/github/pytorch/v

[2021-01-15 16:21] hgaiser commented on #3250
I think the use of `cross_entropy` is wrong, or at the very least not what the authors had intended. "[cross_entropy](https://pytorch.org/docs/stable/nn.functional.html#cross-entropy) combines log_softmax and nll_loss in a single function.", but the RetinaNet paper clearly says they used sigmoid in the loss function.

![image](https://user-images.githubusercontent.com/716138/104751157-4831ec00-575

[2021-01-15 17:02] datumbox commented on #3251
@jiafatom Thanks for the great analysis/investigation.

I see you were involved on the review of the PR pytorch/pytorch#49410. What would you recommend it the right course of action? Do you plan to raise a ticket and let the author of the original PR about the issue or you plan to send a PR upstream?

Let me know if you need anything from my side. Thanks!

[2021-01-15 17:25] addisonklinke commented on #3250
@hgaiser I think softmax (provided by `nn.CrossEntropyLoss`) is correct since it's the equivalent of sigmoid for multiple classes. I believe the paper mentions sigmoid because they only "introduce the focal loss starting from the cross entropy (CE) loss for binary classification" (section 3).

A dataset like COCO would be my intended use-case, but I don't see how the existing torchvision implement

[2021-01-15 17:27] datumbox commented on #3246
@alpha-gradient As @oke-aditya mentioned, the error message has been updated to make the situation less confusing.

Here is a simplified version of the code that you are quoting:
[code]

The above snippet uses `sizes=((32, 64, 128, 256, 512),)`, or in other words defines 1 level/group of 5 anchor-sizes. Why 1 level/group? Because the backbone provides only 1 ouput.

On the other hand the default a

[2021-01-15 17:32] jiafatom commented on #3251
@datumbox I have a PR to fix this issue on upstream: https://github.com/pytorch/pytorch/pull/50582
I imported the above three torch vision test into pytorch test, and it passed locally, and torchvision test looks good "mostly" (see detail [A] below)

It need some time for this PR get merged. For current policy with Facebook, we merge to pytorch branch when we have ~10 PRs in a batch. So we estimat

[2021-01-15 17:45] oke-aditya commented on #3250
I think the focal loss in torchvision is Binary focal loss, it is used to train multi-class models as follows.
We assume each class of given label to be a foreground while every other class foreground while training. As @addisonklinke mentioned, we repeatedly do it for each class.

[Here](https://github.com/pytorch/vision/blob/master/torchvision/models/detection/retinanet.py#L99) is the code that

[2021-01-15 18:00] addisonklinke commented on #3250
@oke-aditya Interesting, perhaps my definition of multi-class focal loss is off then since it seems like we're talking about the same goal (training an object detector with multiple foreground classes).

In that case, looping through each foreground class seems rather inefficient if we could just compute them all at once with a single softmax + cross entropy as Thomas and @Nuno-Mota suggest. The R

[2021-01-15 19:16] hgaiser commented on #3250
Ah okay, I think I see some misunderstandings. I'll try to explain some things, hopefully that clears things up a bit. By the way I am the author of the RetinaNet PR for torchvision and I have largely implemented [keras-retinanet](https://github.com/fizyr/keras-retinanet) as well.

1. Whether you're using softmax or sigmoid, object detection networks (as far as I've seen them) output a vector for

[2021-01-15 20:15] jiafatom commented on #3251
@datumbox I just brought this issue at group meeting, please feel free to disable onnx test for now. Thanks.

[2021-01-15 22:52] addisonklinke commented on #3250
@hgaiser Thank you for taking time to clarify in a longer explanation - that helps a lot! Previously, I thought softmax + dedicated background class was the accepted approach in object detection, so I didn't realize there was an option to use sigmoid + one-hot encodings.

Would this be an appropriate use of the existing loss function according to your instructions?

[code]

[2021-01-15 23:02] hgaiser commented on #3250
@addisonklinke yes I would think that is correct.

[2021-01-16 19:44] gallardorafael opened #3257 "Pre-trained shufflenetv2_x1.5 and shufflenetv2_x2.0 raise "...not supported as of now"."
## 🐛 Bug

Pre-trained models of shufflenetv2_x1.5 and shufflenetv2_x2.0 raise the following `NotImplementedError: pretrained {} is not supported as of now`. Important: pre-trained models of shufflenet_v2_x0_5 and shufflenet_v2_x1_0 are working perfectly.

## To Reproduce

Steps to reproduce the behavior:

1. from torchvision import models
2. model = models.shufflenet_v2_x1_5(pretrained=pretrained)

[2021-01-16 19:54] gallardorafael commented on #3257
I found that models are unavailable. Model URLs are `None` in lines 13-18 of [shufflenetv2.py](https://github.com/pytorch/vision/blob/master/torchvision/models/shufflenetv2.py):

[code]
so it raises the following:
[code]

at lines 169 and 170 of the same file.

I don't know if this is a bug or it's all ok, so I'll leave it open.

[2021-01-17 06:08] JoeyBallentine opened #3258 "Add parameter for Deformable Convolution offset group scalar value"
## 🚀 Feature

Currently, the scalar used to calculate the number of deformable groups is hardcoded at 2. I would like for a parameter to be added that allows this number to be anything in order to have compatibility with repositories such as EDVR which use 3 for this value.

[I have already added it myself](https://github.com/JoeyBallentine/vision/commit/8a4a97aca8debc1bb482be61458a5ce9bd4895a1) a

[2021-01-17 11:54] oke-aditya commented on #3257
Hi It is not a bug :sweat_smile: PyTorch is yet to provide Pre Trained weights, for these. Marking for #2707 .

[2021-01-17 11:57] oke-aditya commented on #3221
Just linking a few trackers here #2707 , #2980

[2021-01-17 14:49] gallardorafael commented on #3257
Thank you, I was a little bit confused. So I'll close this.

[2021-01-17 17:08] IISCAditayTripathi opened #3261 "ImportError: libcudart.so.10.1: cannot open shared object file: No such file or directory"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1. from torchvision import _C

## Environment

python collect_env.py
[code]
## Additional context

I was using fasterRCNN Object detector in torchvision while doing keep = nms(boxes_for_nms, scores, iou_threshold) it is giving this error. Easy way to reproduce this error is to run

Please help.

cc @fmassa @vfdev-5

[2021-01-18 08:34] IISCAditayTripathi opened #3260 "ImportError: libcudart.so.10.1: cannot open shared object file: No such file or directory"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1.from torchvision import _C

[code]
## Environment

python collect_env.py
[code]

## Additional context
I was using fasterRCNN Object detector in torchvision while doing keep = nms(boxes_for_nms, scores, iou_threshold) it is giving this error. Easy way to reproduce this error is to run

[code]
Please help.

[2021-01-18 09:09] vfdev-5 commented on #3260
Close this one as duplicate of #3261

[2021-01-18 09:09] #3260 closed

[2021-01-18 09:16] vfdev-5 commented on #3261
@IISCAditayTripathi I think you installed environment can be buggy:
- you have 2 versions of torchvision installed: 0.3.0 and 0.4.2

Currently, the latest version of torchvision is 0.8.2. If you would like the latest version, please, follow on how to install the latest stable version of torchvision with conda (https://pytorch.org/get-started/locally/):
[code]
(make sure to use a clean environment

[2021-01-18 10:03] datumbox commented on #3258
@JoeyBallentine thanks for the detailed write up.

@fmassa Any thoughts on the differences in the two formulas and on whether it's worth making it parameterizable?

[2021-01-18 11:12] JoeyBallentine commented on #3258
After thinking about it more, I think it may be more reasonable to pass in the number of offset groups as an optional parameter instead of the scalar value. If it is not included it gets calculated the way it is now automatically, but if it is included then it alleviates this issue. Thoughts?

[2021-01-18 13:08] datumbox commented on #3251
@jiafatom Thanks for looking into it.

We are currently completing the work of including FasterRCNN with MobileNetV3 backbone (#3253). Given that this bug affects the tests of *rcnn models, it makes it hard to confirm that the new model will be ONNX compatible. I wonder if your team could bring the PR faster as an exception for this use-case?

[2021-01-18 15:52] jiafatom commented on #3251
cc @neginraoof, @spandantiwari
Can we expedite the PR to unblock this issue? Thanks.

[2021-01-19 01:14] zalza opened #3264 "Cannot install torchvision 0.8.2 with conda-forge without defaults channel"
## 🐛 Bug

I'm using only `conda-forge` channel by installing [Miniforge/Mambaforge](https://github.com/conda-forge/miniforge), because of the recent change of [Anaconda TOS](https://www.anaconda.com/terms-of-service), which prohibits commercial use of `defaults` channel for a big company with employees >= 200.
With `conda-forge` only, installing `torchvision=0.8.2` fails because it requires `jpeg<

[2021-01-19 04:26] digantamisra98 commented on #2707
@songyuc There is a closed feature request on PyTorch for adding Mish. You can comment over there for increased visibility so that Mish can be considered to be added in the future. Link to the issue - https://github.com/pytorch/pytorch/issues/25584

[2021-01-19 04:54] MALLI7622 commented on #1952
Hi @FrancescoSaverioZuppichini .  I am also getting no predictions for faster-rcnn model. How did you resolve that problem, It was just changing by label index from 1 instead of 0.

[2021-01-19 06:47] FraPochetti commented on #1706
Hi @danilopeixoto, do I get this right that your only change was from `rand` to `randn`?

[2021-01-19 06:56] danilopeixoto commented on #1706
@FraPochetti Yes, that was the only change in the code.

[2021-01-19 07:00] FraPochetti commented on #1706
@danilopeixoto Thanks! Do you happen to have the code snippet you used by any chance?
(as you probably did yourself) I tried a ton of things and nothing is really working, yours included, unfortunately.

[2021-01-19 08:44] IISCAditayTripathi commented on #3261
@vfdev-5 It is working now. The problem was there were two installations of torchvision one was compiled for CUDA 10.1 . After removing that version, it seems to be working. Thanks.

[2021-01-19 08:44] #3261 closed

[2021-01-19 13:42] pmeier commented on #3235
Closed in #3236.

[2021-01-19 13:42] #3235 closed

[2021-01-20 07:58] helloyan commented on #3210
doesn't resolve it,  any update?

[2021-01-20 09:52] helloyan opened #3267 "get v0.8.1 branch compile out torchvision==0.9.0a0+7b9d30e"
I clone the v0.8.1 branch and compiled it with pytorch 1.7.0,  but at last the compiled version is 0.9.0, does anything wrong?

[2021-01-20 10:05] bjuncek commented on #3201
Hi - so I've done a bit more research on the subject and it seems that the autorotate flag is built into the FFMPEG binary as a filter graph ([source](https://github.com/PyAV-Org/PyAV/issues/570)]. This is confirmed by the fact that when I read in the file with openCV that is linked to the the same installation of FFMPEG used in pyAV and torchvision, the file is still rotated as well.

@fmassa we

[2021-01-20 10:21] fmassa commented on #3210
Hi,

If you want to compile torchvision from master, you need to have a recent enough nightly version of PyTorch installed in your system.

Let us know if with the latest PyTorch nightly you are not able to compile torchvision from source.

[2021-01-20 10:21] #3210 closed

[2021-01-20 10:29] fmassa commented on #3267
Hi,

If you checked out the commit corresponding to the 0.8.1 release (which should correspond to https://github.com/pytorch/vision/commit/45f960c5b18679ea42d7e5b4212f17483cdfd8af), you should have a version printed out corresponding to 0.8.0a+45f960c5 , see https://github.com/pytorch/vision/blob/45f960c5b18679ea42d7e5b4212f17483cdfd8af/setup.py#L32-L47

You are picking commit https://github.com/p

[2021-01-20 10:29] #3267 closed

[2021-01-20 10:31] fmassa commented on #3264
If I understand this correctly, the issue is with `jpeg`

@andfoy can you have a look?

[2021-01-20 10:32] HGamalElDin commented on #2912
please how to append this to the requirments.txt file? as it always raises (ERROR: Invalid requirement: 'torch==1.7.1+cu101 torchvision==0.8.2+cu101 torchaudio===0.7.2' (from line 12 of E:\requirements.txt)

[2021-01-20 10:34] vfdev-5 commented on #2912
@HGamalElDin try something like
[code]

[2021-01-20 10:45] HGamalElDin commented on #2912
thank you, this works for me:
Adding in the file,
--find-links https://download.pytorch.org/whl/torch_stable.html
torch==1.7.1+cu101
torchvision==0.8.2+cu101
torchaudio===0.7.2

[2021-01-20 11:06] fmassa commented on #3246
Closing following @oke-aditya and @datumbox great answers.

[2021-01-20 11:06] #3246 closed

[2021-01-20 11:09] fmassa commented on #1759
@Interesting6 I believe your image doesn't have the right number of channels, but without further information it's hard to say more

[2021-01-20 12:22] Interesting6 commented on #1759
data_cube is a numpy ndarray with dimensions [c=4, h=906, w=463] read from segyio.

[2021-01-20 12:58] helloyan commented on #3210
it‘s my fault, i check the error version

[2021-01-20 13:25] fmassa commented on #1759
@Interesting6 could you please open a new issue with the torchvision version that you are using, and a self-contained example reproducing the issue?

[2021-01-20 14:12] fmassa commented on #2740
@MALLI7622 make sure that `xmin < xmax` and that `ymin < ymax` for all boxes

[2021-01-20 14:26] fmassa commented on #3115
@nickponline the test would be to remove the `set_num_threads(1)` and compare the difference in evaluation speed when running evaluation on 8 GPUs using distributed evaluation

[2021-01-20 15:16] bdthombre commented on #1876
Downloading: "https://download.pytorch.org/models/resnet18-5c106cde.pth" to C:\Users\bdtho/.cache\torch\hub\checkpoints\resnet18-5c106cde.pth
---------------------------------------------------------------------------
SSLCertVerificationError                  Traceback (most recent call last)
~\.conda\envs\tensorflow_g\lib\urllib\request.py in do_open(self, http_class, req, **http_conn_args)
   13

[2021-01-20 15:50] hgaiser commented on #3250
@addisonklinke just curious to see if you had tested this?

[2021-01-20 16:03] fmassa commented on #1002
@bulatnv torchscript should be supported for MaskRCNN models, but they only support the `List[Tensor]` interface, and not the `Tensor`.

So instead of doing
[code]
do instead
[code]

[2021-01-20 18:25] Wadaboa commented on #3228
Solved in PR #3266.

[2021-01-20 18:25] #3228 closed

[2021-01-20 18:40] aweits commented on #3188
The latest commit on 0.8.2 in setup.py looks to have disabled ffmpeg?
[code]
If there some strange way to set no_ffmpeg to False, I'm missing what that is...

[2021-01-20 18:55] jiafatom commented on #3251
The above mentioned [PR](https://github.com/pytorch/pytorch/pull/50582) got merged to our dev branch. After our dev branch merge into master, torch.vision onnx test should be fine.

[2021-01-20 18:57] datumbox commented on #3251
@jiafatom Much appreciated, thanks for the flexibility!

[2021-01-21 04:24] MALLI7622 commented on #2740
@fmassa I had resolved the issue 4 days back, Thanks for your help. I was getting another error in Faster-RCNN. My model was resulting in these values. I don't know how to resolve this. I had changed the class index starting from 1 instead of 0 and increased output classes+1 because of starting with 1. Can you help me how to resolve this issue?
Average Precision  (AP) @[ IoU=0.50:0.95 | area=   al

[2021-01-21 10:10] datumbox commented on #3251
@jiafatom You mean update the tests on `test_onnx.py` to ensure we are not breaking anything for onnx? I think that the quoted PR does that. Do you suggest doing something more? Thanks!

[2021-01-21 12:48] fmassa commented on #2740
@MALLI7622 this might be due to many things. I would encourage you to start with the finetuning tutorial in https://pytorch.org/tutorials/intermediate/torchvision_tutorial.html , as maybe you are not training for long enough.

[2021-01-21 12:57] datumbox commented on #1876
This might be related to S3 issues in different regions. This could explain why the models can be accessed from some regions while not from others. I tried both URLs and I can download the files just fine...

[2021-01-21 13:03] fmassa commented on #3184
Hi,

So those two lines are actually needed if we save with the cache, as the cache also stores the transforms. The problem is if we modify the `image_size` or add new transforms to the script, the cache will still pick the old ones, potentially leading to subtle bugs.

This is also something that we should fix in the classification scripts, as we have some models (inception / googlenet) that uses

[2021-01-21 13:10] jc-hou commented on #3184
get it, thank you for the reply.

[2021-01-21 13:10] #3184 closed

[2021-01-21 16:21] oke-aditya opened #3272 "Utility to draw Semantic Segmentation Masks"
## 🚀 Feature

We recently added utility to draw bounding boxes, which works really well with detection models. #2785 #2556
It might be nice to draw segmentation masks which we obtain from instance segmentation models.

## Motivation

Same as bounding box utils. It is very useful to have these. It reduces the dependence of users over other plotting libraries.

## Pitch

Our API should be compatible

[2021-01-21 16:37] datumbox commented on #3272
@oke-aditya +1 on the proposal. I like the fact of providing a similar API as for `draw_bounding_boxes()`.

[2021-01-21 16:59] oke-aditya commented on #3025
Feel free to habe a go once again, it is fixed on master.

[2021-01-21 17:01] oke-aditya commented on #3272
I would also suggest adding an example notebook/script / tutorial where we can show how both the utils work.
I will give a try at this using PIL and post a sample result here, let's see if it is satisfactory.

[2021-01-22 01:02] vadimkantorov opened #3273 "What is expected Kinetics400 dataset directory structure?"
Given that the dataset does not come with official downloader scripts and that most roll their own or hack some third-party scripts, it would be much clearer if https://pytorch.org/docs/stable/torchvision/datasets.html#kinetics-400 explained what directory structure is expected by `torchvision.datasets.Kinetics400`

What is the expected dataset size? and the video file extensions?

Thanks!

cc @pm

[2021-01-22 10:36] HasnainRaz commented on #2581
@fmassa Any updates regarding this? Scripting a model nms using pytorch 1.7.1 and torchvision 0.8.2 and running on iOS with Libtorch 1.7.1 still produces the same result.

Is there any update or relevant PR/ticket we can look at to keep track of the progress?

[2021-01-22 11:52] zhiqwang commented on #2581
I think that #2897 is aimed to resolve this problem.

[2021-01-22 11:54] HasnainRaz commented on #2581
#2897 appears to track the torchvision ops for android. Is there one that tracks something similar for iOS as well?

[2021-01-22 11:56] zhiqwang commented on #2581
Ops... I don't know either.

[2021-01-22 12:05] SliMM opened #3274 "Different ENODATA code on macOS"
## 🐛 Bug
It seems macOS ENODATA code (96) is different than the Linux one (61). The Linux code is currently hard-coded in `Video.cpp`, which results in an (unnecessary?) error being shown when using the video decoder on macOS:

https://github.com/pytorch/vision/blob/7d831a2f9b3ebab9eb8e5c899cf70b103ad6908a/torchvision/csrc/io/video/Video.cpp#L314-L318

cc @bjuncek

[2021-01-22 17:29] #3274 closed

[2021-01-22 17:31] NicolasHug commented on #3003
I've been investigating this a bit and here's what I'm thinking. We want to:

1. make sure that the `Args:` format is used (i.e. google style)
2. make sure that a function's signature is in sync with its documented parameters (i.e. that all parameters are properly documented)

1) can be done by adding

[code]

in `docs/conf.py`. I made some experiments in https://github.com/pytorch/vision/pull/327

[2021-01-22 18:15] datumbox commented on #3003
@NicolasHug Great analysis and proposals, thanks for looking into it.

@mattip Any thoughts on the above?

[2021-01-22 19:04] datumbox commented on #3272
Perfect! I think using PIL should be fine given that's how the bounding box version works. Looking forward to it.

[2021-01-22 19:46] #3183 closed

[2021-01-23 08:23] JoeyBallentine commented on #3258
Upon further inspection, I now realize I can actually call `torch.ops.torchvision.deform_conv2d` directly in order to pass in the correct values. While I still think the option of passing the number of offset groups in would be nice, it is good to know that it actually is not necessary to get the functionality I need.

[2021-01-23 13:50] oke-aditya opened #3280 "Add fill parameter to utils.draw_bounding_boxes."
## 🚀 Feature

Fill parameter allows creating a semi-transparent box. This is particularly useful for Mask RCNN Model.
This would complete utils for Object detection and Instance Segmentation (least with rectangular boxes)

## Motivation

In Instance segmentation models, we also care about masks, not just the bounding box. Fill parameter allows us to fill in a semi-transparent way. Also, this param

[2021-01-23 14:20] oke-aditya commented on #3272
Hey @datumbox. For Instance segmentation model we can do something like #3280.

I'm looking into semantic segmentation models, But the output of model seems to be the probability of each pixel in the image into 1 / 21 (pretrained classes, if it is COCO of course)

I guess then the predicted label is `argmax()` of the n / 21 class on each pixel. So we won't need labels param ?

I think colors remai

[2021-01-23 18:36] mattip commented on #3003
+1 for changing the conf.py and fixing the sphinx errors, then tun on the nitpicky mode. What is  the overlap between the warnings from sphinx and the warnings from pydocstyle? If sphinx makes the pydocstyle tool redundant, then maybe it is not needed?

[2021-01-24 01:32] duynguyen51 opened #3281 "Can we use DeeplabV3 in Salient Object Detection ?"
Recently, I start doing more in Deep Learning in Semantic Segmentation. I can't figure DeepLabV3 is possible to apply in Salient Object Detection ?

[2021-01-24 03:01] vadimkantorov opened #3282 "Add verbose mode for dataset constructors to print directory scan stats + add a warning when video loading fails"
I'm trying to create VideoClips object with my custom folder with a video. It returns zero results, because it can't `read_video_timestamps` (under PyAV backend) with an error `av.error.InvalidDataError: [Errno 1094995529] Invalid data found when processing input: 'data/pseudo-kinetics/train_256/class0/P01_01.MP4'; last error log: [mov,mp4,m4a,3gp,3g2,mj2] moov atom not found`

Maybe it's well an

[2021-01-24 03:09] vadimkantorov opened #3283 "How to install torchvision to use video_reader backend?"
I simply installed torchvision from conda (as advertised on pytorch.org). But `torchvision.set_video_backend('video_reader')` prints `video_reader video backend is not available. Please compile torchvision from source and try again`. This should be mentioned in https://pytorch.org/docs/stable/torchvision/index.html#torchvision.set_video_backend and in torchvision README (including if the `video_re

[2021-01-24 10:13] jaintj95 opened #3284 "torchvision data downloader aborts if ipywidgets are not available"
## 🐛 Bug

I am testing some PyTorch code in [Deepnote](https://deepnote.com/project/0b12c588-a1de-4d66-bb0f-fa6b8f9b1b87) and the following call to torchvision aborts since the environment doesn't support ipywidgets

`test_data = torchvision.datasets.MNIST('../data', train=False, download=True, transform=local_transforms)`

## To Reproduce

Check the following notebook - https://deepnote.com/proje

[2021-01-24 11:43] NicolasHug commented on #3003
There are some redundancy (like checking for unexpected indentation), but as far as I can tell sphinx doesn't issue a warning when a parameter is missing from a function's docstring (item 2 above), which is what `pydocstyle` can be useful for

[2021-01-24 15:30] ydcjeff opened #3286 "[feature request] transforms for object detection"
## 🚀 Feature
I would like to start adding/supporting transforms (both functional and class) for object detection, I know I can take some of them from `references` folder. But, it would nice to have OOTB. Here are a few basic transforms I would like to add first -
- `RandomHorizontalFlipWithBBox`
- `RandomVerticalFlipWithBBox`
- `LetterBox`

## Pitch
All of the above transforms will accept 2 argume

[2021-01-24 16:46] FrancescoSaverioZuppichini commented on #1952
By reading the above messages

[2021-01-25 00:54] WZMIAOMIAO commented on #3090
Could someone answer my question?

[2021-01-25 09:59] datumbox commented on #3272
Agreed.

Yes they should remain the same. We currently support both tuples of RGB ints and strings. See an example we have on the tests:
https://github.com/pytorch/vision/blob/a0e5bbeab4b39ed1078384d10f742f757f74df00/test/test_utils.py#L88

Worth investigating a couple of options and measure them. If you send a PR and tag me, I'm happy to share feedback.

[2021-01-25 10:32] datumbox commented on #3280
I like the idea of filling the box with colour but do you think it's necessary to use the a different colour than the border? Perhas that can be reused and instead turn fill to a boolean? What do you think?

[2021-01-25 10:45] datumbox commented on #3282
Thanks for reporting.

I think it would be good to add a warning there instead of silently catching the exception. If you are interested, please send a PR that introduces a warning.

[2021-01-25 11:26] fmassa commented on #3286
Hi,

Thanks for opening this issue.

This has been in our radar for a while already, but we never really managed to find out the right balance between simplicity and generality about the API.
For example, about the API you proposed, it wouldn't be enough if we wanted to work on image + boxes + keypoints, or even image +segmentation map, so we would need a number of repeated implementations to cove

[2021-01-25 14:32] JeroenDelcour opened #3291 "ONNX export of Mask-RCNN doesn't output masks"
## 🐛 Bug

I trained a Mask-RCNN model, exported it to ONNX, and tried to run it using onnxruntime. Sometimes, the model outputs boxes, labels, and scores as expected, but outputs 0 masks. I'm not entirely sure when or why this happens, but it's reproducible.

## To Reproduce

I used the default Mask-RCNN model from the model zoo and tested it on this image from the COCO database:

[code]
![](https

[2021-01-25 19:26] oke-aditya commented on #3280
It could be fine with boolean too.
Just wondering if user would like dark black (distinct color for outline) and fill with semi-transparent color.

I'm not sure if the above is really valid use case.

Let me know I can send PR for either.

Only caveat is since we are drawing semi transparent color mask using Alpha channel (4 channel image)
Users need to save returned tensor as PNG format not jpg.

[2021-01-25 19:28] oke-aditya commented on #3272
Great ! I will send a PR let's investigate few options 😀

[2021-01-25 21:20] vfdev-5 commented on #3284
@jaintj95 which version of tqdm deepnote provides ?

[2021-01-25 21:28] vfdev-5 opened #3292 "Add iNaturalist dataset"
## 🚀 Feature

A feature request to discuss about about adding iNaturalist dataset wrapper of ImageFolder (maybe, even without downloading tools).

## Motivation

We can see in the research code custom dataset implementation which can be also in torchvision. For example, here:

https://github.com/facebookresearch/deit/blob/ab5715372db8c6cad5740714b2216d55aeae052e/datasets.py#L13

Being also aware o

[2021-01-25 22:32] fmassa commented on #2581
@HasnainRaz we will also be looking into iOS for next release. We currently don't have an open PR for it yet though.

[2021-01-26 04:04] jaintj95 commented on #3284
@vfdev-5 From my environment it seems tqdm version 4.55.1

[2021-01-26 04:04] jaintj95 commented on #3284
CC @jakubzity

[2021-01-26 07:14] varung opened #3293 "Affine Transform: why is translate a list[int] when the code suggests it could be floating point?"
https://github.com/pytorch/vision/blob/f16322b596c7dc9e9d67d3b40907694f29e16357/torchvision/transforms/functional.py#L956

[2021-01-26 07:15] varung commented on #3293
https://github.com/pytorch/vision/blob/f16322b596c7dc9e9d67d3b40907694f29e16357/torchvision/transforms/functional.py#L1055

This line converts the translation into floating point...it seems like we should be able to pass in floating point list

[2021-01-26 07:23] natangold85 opened #3294 "Using torchvision roi_align in libtorch c++ jit modules"
## 🐛 Bug

Hi, I’m trying to use libtorch 1.7.1 to load a jit model that is created with pytorch 1.5.1 and torchvision 0.6.1.
This model is using torchvision::roi_align operator.
When running the model I get this error:

**Could not find any similar ops to torchvision::roi_align. This op may not exist or may not be currently supported in TorchScript.**

loading the model in pytorch is working fine.

[2021-01-26 08:37] voldemortX commented on #3293
I think I can give you some preliminary insight on this matter before someone knows more about this comes in later.

Translation is just defined as integer for this transform:
https://github.com/pytorch/vision/blob/f16322b596c7dc9e9d67d3b40907694f29e16357/torchvision/transforms/functional.py#L967

But the matrix getter takes float inputs: https://github.com/pytorch/vision/blob/f16322b596c7dc9e9d67

[2021-01-26 10:27] bjuncek commented on #3283
Hi Vadim - thanks for raising this - I'll add this to the docs.

As for how to do it, you need to have FFMPEG installed and build torchvision from source.
If you're using the latest master, I believe you need to add `NO_FFMPEG=False` flag as well (pls check[ this issue](https://github.com/pytorch/vision/issues/3188) for clarification).

[2021-01-26 10:45] datumbox commented on #3280
@oke-aditya Awesome, let's continue the discussion on the PR.

[2021-01-26 10:47] datumbox commented on #3272
@oke-aditya Awesome, looking forward to it.

I'm actually doing work around segmentation, so I'm definitely going to use your prototypes to validate the models. :)

[2021-01-26 10:53] saurabheights opened #3297 "Inconsistent API for tensor and PIL image for CenterCrop"
## 🐛 Bug

CenterCrop transform crops image center. However, when crop size is smaller than image size(in any dimension), the results are different for PIL.Image input and tensor input.

For PIL.Image, it does padding, while for tensor, the results are completely wrong, due to incorrect crop location computation(negative position values computed).

## To Reproduce

Steps to reproduce the behavior:

[2021-01-26 11:09] voldemortX commented on #3297
Just when I though I missed one spot... #3295

[2021-01-26 11:11] saurabheights commented on #3297
P.S. A lot of the functionality needed is similar to RandomCrop, which provides flexibility of padding, so would be a good idea to consider integration of those options to CenterCrop, since beside the offset computation, rest cropping part would be same.

Applying RandomCrop on both PIL image and tensor image shows same content(but with different offset).

[code]

[2021-01-26 11:29] jamt9000 commented on #3283
This should work as a couple-liner to install 0.8.1 with video (if the right compiler versions are installed)

[code]

[2021-01-26 11:29] saurabheights commented on #3297
One last thing: I can work on its PR. Let me know if its alright by you.

[2021-01-26 11:34] voldemortX commented on #3297
That sounds great! Let's wait for the green light from a member.

[2021-01-26 11:47] datumbox commented on #3294
@natangold85 Could you install the torch nightly and retry using the latest master of TorchVision?

[2021-01-26 11:54] natangold85 commented on #3294
Install libtorch nightly or pytorch nightly?

[2021-01-26 11:59] datumbox commented on #3297
@saurabheights Thanks for reporting and for making the issue reproducible. That's definitely a bug. We are happy to accept a PR that solves the problem.

Concerning the proposal of extending the functionality and adjusting the API, I think this should be discussed on a separate issue because we need to assess the backward compatibility.

@vfdev-5 Any thoughts on this?

[2021-01-26 12:13] vadimkantorov commented on #3283
+ I think this instruction should not just be in the docs, but some link to this instruction should be in the exception message about video_reader not available

[2021-01-26 14:41] vfdev-5 commented on #3297
Fun bug with PIL and Tensors. I think it would make sense to raise an issue saying that we can not crop to a larger size.
[code]

[2021-01-26 15:40] saurabheights commented on #3297
@vfdev-5 You mentioned:-

Did you mean 150x150 here?

PIL seems to give correct output so far, so raising error will cause backward incompatibility. Will that be fine?

[2021-01-26 15:41] vfdev-5 commented on #3293
@voldemortX thanks for explaining tech things!

@varung in addition to what @voldemortX said about type consistency, yes, we may also think about having translate API as float to support subpixel translations...

[2021-01-26 15:44] pmeier commented on #3292
It seems to be cited [159 times](https://scholar.google.com/scholar?cites=8277973545413149328). Given that this is not a general purpose classification dataset, I think it is reasonable popular. @vfdev-5 do you have insights if this is still used in contemporary publications or i seven picking up in popularity?

[2021-01-26 15:44] vfdev-5 commented on #3297
I mean, something like
[code]

No, PIL is incorrect also as data is still 100x100.

[2021-01-26 15:49] pmeier commented on #3003
`flake8` (which we are already using) has an [`max-doc-length`](https://flake8.pycqa.org/en/latest/user/options.html?highlight=max-doc-length#cmdoption-flake8-max-doc-length) option, which works similar as `max-line-length` but for docstrings.

[2021-01-26 15:51] vfdev-5 commented on #3292
According to scholar, there are already 9 papers citing the dataset in 2021. Code cited above is for Deit (12/2020) paper.
Looks like a popular dataset. Let's see other opinions here before going further.

[2021-01-26 16:27] saurabheights commented on #3297
@vfdev-5 First, I am _really sorry_ if I am mistaken/confused and would really appreciate for your time and explaination here.

There is padding happening to output and not to the input to CenterCrop method, which is expected, the input should not be changed. I say should after glossing over various transform, and I didnt see any inplace ops to modify input.

The first image **I1** shows a sample

[2021-01-26 16:31] vfdev-5 commented on #3297
@saurabheights No worries, I also appreciate your time spending on this issue and checking things ! Thanks a lot !

It is very interesting example and this is not what I got in my tests. Let me recheck. Meanwhile, what is the version of PIL you have ?

[2021-01-26 16:52] vfdev-5 commented on #1862
Hi @AdilZouitine, very sorry for the delay about your FR, haven't seen it before.
I agree that this can be achieved in 2 steps like : 1) CenterCrop to define the boundaries and 2) RandomCrop
WIth a single op solution, we can make data processing faster which seems very reasonable.
Could you please give a bit more context in which case you'd like to apply such border parameter ?

@datumbox any thou

[2021-01-26 16:54] bjuncek commented on #3283
Adding a specific instruction that relies on versions is a slippery slope as version change, and we are hoping to at some point even include correct ffmpeg packaged in neatly at some point. I think that for now, the comment that FFMPEG needs to be installed and that it needs to be built from source should be enough?

[2021-01-26 16:57] saurabheights commented on #3297
No worries and thank you for pad_symmetric, it would work fine here.

Tested on PIL version '6.2.1'(found this is too old, so retested on newer versions :D) and '7.2.0'. And yep, there was padding in both.

Regarding ETA - I will hopefully make changes in 3/4 days(its only few hour work but working first time on vision lib, so might get delayed in setup by a little).

[2021-01-26 17:00] vfdev-5 commented on #3297
Sounds good! Please, take a look at our [contributing guide](https://github.com/pytorch/vision/blob/master/CONTRIBUTING.md) which may help you with the dev setup etc. A draft PR is also good such that we can iterate over the implementation if needed and do not hesitate to ask questions here for details.

[2021-01-26 17:04] vadimkantorov commented on #3283
The important is to have a short URL to _some_ instruction. If it says it should be built from sources, it should be clear if only dynamic libraries are needed or includes as well. If they must be available from pkg-config; is it enough for libraries to be in LD_LIBRARY_PATH, or presence in LIBRARY_PATH is needed as well.

It could well be a conda install command, as long as ffmpeg in conda is kep

[2021-01-26 18:03] bjuncek commented on #3283
The instructions for installing from source are in the main README and
I will add the FFMPEG binary requirement to the docs (it requires ffmpeg <4.3 which is not indicated well I think)."

That could work if we get the good ffmpeg recipe - I think we were planning to do something like this as packaging the binaries is a pain but I'm a bit lost on the details. I'm not sure who is maintaining the on

[2021-01-26 18:20] vadimkantorov commented on #3283
"Make sure that it is available on the standard library locations," would be nice if it were a bit more verbose. Is pkg-config registration mandatory? Is only LD_LIBRARY_PATH sufficient? Is CPATH presence mandatory? etc

[2021-01-27 02:17] bogun00 opened #3304 "torchvision.dataset.STL10.__load_folds() loads image indices using uint8."
## 🐛 Bug

There seems a bug to load STL-10 dataset using torchvision.dataset.STL10.
I think the bug causes from "uint8" used on _load_folds() function. The maximum range of uint8 is 0 to 255.
However, the range of STL-10 images for the training is 0 to 4999. So overflow happened when loading data.
It would be better to change "uint8" to "int" used on _load_folds() function.

## To Reproduce

Steps

[2021-01-27 09:02] ydcjeff opened #3305 "[docs] use `versionadded`, `versionchanged` and `deprecated` directive"
## 🚀 Feature
Use `.. versionadded::`, `.. versionchanged::` and `.. deprecated::` directive, so that user knows which features are added / changed / deprecated in which version and they can navigate the docs easily without changing the docs from version to version.

Ref: https://www.sphinx-doc.org/en/master/usage/restructuredtext/directives.html#directive-versionadded

[2021-01-27 09:15] github-actions[bot] opened #3306 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow tests/download.
Please look into it:

https://github.com/pytorch/vision/actions/runs/514612822

Feel free to close this if this was just a one-off error.

cc @pmeier

[2021-01-27 12:03] tonystratum opened #3309 "transforms.RandomRotation with Tensors leads to an error"
## 🐛 Bug

Originally (vision/nightly), when `torchvision.transforms.RandomRotation` is used with a Tensor of shape `(C, H, W)`, without a `fill` argument, we get a following error:

<details>
  <summary>Error</summary>

[code]

</details>

## To Reproduce

Steps to reproduce the behavior:

[code]

or

[code]

## Expected behavior

[code]

## Environment

<details>
  <summary>Environment</summary>

[2021-01-27 12:43] fmassa commented on #3258
Hi,

I'm not sure I understand correctly. We do allow to specify the operator to have an arbitrary number of offset groups, by just padding a properly shaped `offset` and `mask` tensors.
The 2 which is hard-coded in https://github.com/pytorch/vision/blob/0985533eccf4adf583b4c9164d492d70a8226422/torchvision/ops/deform_conv.py#L82 stands for `x, y`, which from my understanding is always present.

[2021-01-27 12:54] vfdev-5 commented on #3309
Thanks for the report @tonystratum ! Looks like it is a bug introduced recently as stable version works.

cc @voldemortX maybe it could be related to your PR : https://github.com/pytorch/vision/pull/2904
could you please take a look ?

[2021-01-27 12:56] voldemortX commented on #3309
@vfdev-5 Yes, I think I'm to blame for this bug #2904 . @tonystratum Can you check if the same bug exists for other affine transformations, `RandomAffine` and `RandomPerspective` also?

[2021-01-27 13:01] vfdev-5 commented on #3309
@voldemortX yes, same for `RandomAffine`:
[code]

[2021-01-27 13:05] tonystratum commented on #3309
[code]

[2021-01-27 13:05] voldemortX commented on #3309
I'd recommend the same fix applied for all 3 affine transform classes since we indeed support fill as an Optional arg. Also add some tests for None at `test/test_transforms_tensor.py`, for instance here:
https://github.com/pytorch/vision/blob/d732562f30b8a83af9ab074592af3dd01fe708ee/test/test_transforms_tensor.py#L371

Sorry for creating this bug... And thanks for catching it @tonystratum

[2021-01-27 13:09] tonystratum commented on #3309
@voldemortX test for a case when fill is passed with None? (`RandomPerspective(fill=None)`)

[2021-01-27 13:13] voldemortX commented on #3309
On second thought,
if set default to 0, then maybe other than this only the documentation needs changing? @vfdev-5

[2021-01-27 13:17] vfdev-5 commented on #3309
And ensure that fill is not optional anymore and is not None. As default becomes 0, it is a sort of breaking change as there may be some folks who set it exlicitly as None.

As for `fillcolor`, it is a deprecated arg and should remain None.

[2021-01-27 13:18] vfdev-5 commented on #3273
@vadimkantorov maybe notes from ref example could help: https://github.com/pytorch/vision/tree/master/references/video_classification#data-preparation

cc @bjuncek

[2021-01-27 13:25] vadimkantorov commented on #3273
This is not very helpful, since it does not mention explicitly the class-label directory organisation. It is also not clear if root_dir should contain the splits or if the root_dir is the path to a chosen split.

[2021-01-27 13:29] tonystratum commented on #3309
The type check is present

https://github.com/pytorch/vision/blob/cae5400db5d51fc30beea6285e609fcf65f43bd3/torchvision/transforms/transforms.py#L1314

Also, I have just noticed that `interpolation` in `RandomRotation` has a default value
https://github.com/pytorch/vision/blob/cae5400db5d51fc30beea6285e609fcf65f43bd3/torchvision/transforms/transforms.py#L1189

But the docs say that is isn't
https:/

[2021-01-27 13:55] vfdev-5 commented on #3273
Unfortunately, I removed the dataset from my storage where I tried a minimal training of the ref example.
Maybe, Bruno could share more info about that...

[2021-01-27 14:03] fmassa commented on #3003
This all sounds great to me

[2021-01-27 14:09] fmassa commented on #3025
Fixed in #3269, let us know if you still face this issue

[2021-01-27 14:09] #3025 closed

[2021-01-27 14:11] fmassa commented on #3305
This is a great proposal, and I think we should start adding this, together with beta / prototype tags as well.

cc @datumbox @NicolasHug

[2021-01-27 14:12] #3283 closed

[2021-01-27 14:20] fmassa commented on #3294
libtorch nightly for building the C++, pytorch nightly together with torchvision nightly.

Also, please have a look at https://github.com/pytorch/vision/blob/master/test/tracing/frcnn/test_frcnn_tracing.cpp which shows how to get a torchscripted faster rcnn (with custom C++ ops like roi_align) to run in C++

[2021-01-27 14:26] fmassa commented on #3284
We normally have a fall-back from PyTorch that if `import tqdm` fails [we use the PyTorch fallback](https://github.com/pytorch/pytorch/blob/19358808604129573dba354558ca4019acf2503f/torch/hub.py#L15-L52).

The problem here is that `tqdm` is available in the system. I'm not yet sure what would be the type of check we would need to add to handle this case, as this looks like a problem with the tqdm i

[2021-01-27 14:29] vadimkantorov commented on #3273
The problem is that the dataset does not have official download or dataset stats scripts or recommended directory structure. From what I found, the root_dir should be the path to the split, the split directory should contain directories for every class labels with videos inside them. But this should better be mentioned explicitly in the docs

[2021-01-27 14:30] vadimkantorov commented on #3283
@fmassa this note is not very helpful and does not fix `But torchvision.set_video_backend('video_reader') prints video_reader video backend is not available. Please compile torchvision from source and try again. `

[2021-01-27 14:31] vadimkantorov commented on #3283
There are two issues IMO:
1. it should be clear what exactly are the the requirements for ffmpeg to be discovered by torchvision build scripts
2. this requirements / instructions should be directly pointed by the docs and by the exception message included

[2021-01-27 15:22] datumbox commented on #1862
@vfdev-5 I agree that it can be done faster in one step. What I'm not sure of is whether that's a scenario so common that is worth adding it to TorchVision. It seems to me it's probably something that can be achieved easily using the 1st approach submitted by @AdilZouitine.

[2021-01-27 15:54] #3162 closed

[2021-01-27 17:33] mthrok commented on #3294
Also IIRC PyTorch does not guarantee the binary compatibility across PyTorch versions.
What happens if you re-create the JIT object with PyTorch 1.7.1 and TorchVision 0.8.1 and load it with libtorch 1.71 ?

[2021-01-27 17:55] natangold85 commented on #3294
torchvision 0.8.1 is not supporting torch 1.7.1 as far as i understand.
I installed updated torch which is torch 1.7.1 and torchvision 0.8.2 and i'm seeing the same crash.
will take look at link attached above and report the results.

[2021-01-27 18:58] JoeyBallentine commented on #3258
@fmassa The issue I was having was due to offsets and masks that were *not* properly shaped. I don't know why exactly since it's not my code, but the offset size was being created using a different value, which made the auto-calculated offsets groups incorrect.

The solution I found works better anyway, as the original implementation allowed the user to specify any number of offset groups in a con

[2021-01-27 22:52] vfdev-5 commented on #3273
I agree. I had a similar question in my case... If you'd like to improve the docs, feel free to send a PR.

[2021-01-28 00:19] zhanghang1989 opened #3313 "Error Compiling from Source with GPU on MacOS"
## 🐛 Bug

Got the following error when build from source with GPU on MacOS
`torchvision/csrc/ops/cuda/deform_conv2d_kernel.cu(1210): error: expression must have a constant value`

## To Reproduce

Steps to reproduce the behavior:

1. Use Mac GPU machine
1. Build the latest PyTorch from source
1. Follow the instruction to build torchvision from source

`MACOSX_DEPLOYMENT_TARGET=10.9 CC=clang CXX=cl

[2021-01-28 07:54] natangold85 commented on #3294
Hi @datumbox
in your example you are including torchvision/vision.h and torchvision/ops/nms.h.
I don't have those files in my libtorch installation.
this is the only difference between us.
Is torchvision is not a part of the standard libtorch installation?
Do I need to install it separately if I want to use torchvision symbols in jit models?

[2021-01-28 08:51] jakubzitny commented on #3284
Actually, let me clarify it. `tqdm` itself, or the version is not a problem. The problem is that `ipywidgets` are not supported in the environment (and there might be many notebook environments without "trusted" flag on, etc.). So disabling tqdm load explicitly from application code, not just if the import fails, would be the solution here.

There are already some ideas in this thread: https://git

[2021-01-28 08:55] vfdev-5 commented on #3284
@jakubzitny If I understand correctly, tqdm does not work with deepnote no matter the package using it, right ? I think disabling/uninstalling tqdm in the environment may be a better solution...

[2021-01-28 09:12] datumbox commented on #3294
These files are part of TorchVision and it has to be installed separately. As Francisco explained you need to install libtorch, pytorch and torchvision nightly.

[2021-01-28 09:20] natangold85 commented on #3294
Ok.
From his message i understood he meant python torchvision.
That's what I asked in the initial post.
Will install torchvision and report
Thanks

[2021-01-28 09:25] #3110 closed

[2021-01-28 09:30] github-actions[bot] opened #3314 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow tests/download.
Please look into it:

https://github.com/pytorch/vision/actions/runs/517526504

Feel free to close this if this was just a one-off error.

cc @pmeier

[2021-01-28 09:40] github-actions[bot] opened #3315 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow tests/download.
Please look into it:

https://github.com/pytorch/vision/actions/runs/517526504

Feel free to close this if this was just a one-off error.

cc @pmeier

[2021-01-28 09:41] datumbox commented on #3314
Based on what I see the server that hosts CIFAR returns 500 error, so that's not on our side.

[2021-01-28 09:53] pmeier commented on #3314
Duplicate of #3314.

[2021-01-28 09:55] pmeier commented on #3315
The download server for CIFAR10 and CIFAR100 return error code 500, i. e. "Internal Server Error". Lets wait for a few days if they can fix this. If not, we need to find a mirror or disable the download functionality.

[2021-01-28 09:56] pmeier commented on #3315
Duplicate of #3315.

[2021-01-28 09:56] #3315 closed

[2021-01-28 10:07] #3155 closed

[2021-01-28 10:09] fmassa commented on #3258
@JoeyBallentine ok, so from my understanding then this was a user error as the shapes of offsets and masks were not correct, so we couldn't properly infer the number of offset groups.

BTW, I would not recommend calling directly through the `torch.ops.torchvision.deform_conv2d` as it is an implementation detail and can change at any time without notice. So it might be preferable to fix the code up

[2021-01-28 10:31] JoeyBallentine commented on #3258
@fmassa if you look at the implementation of Deformable convolution that was used to make the mmdetection one, you can see in their ModulatedDeformConvPack they use the same value of 3 https://github.com/chengdazhi/Deformable-Convolution-V2-PyTorch/blob/7e69911acfca4183172b829c50b174af721310e8/modules/modulated_dcn.py#L56

Maybe this really is an implementation error on their part, but I feel like

[2021-01-28 10:56] Jasonlee1995 opened #3316 "'download=True' condition for more than 1 SBD dataset stops code cause of shutil"
'download=True' condition for more than 1 dataset stops code cause of shutil

I always code dataset and dataloader as below

![image](https://user-images.githubusercontent.com/49643709/106124243-38c39180-619e-11eb-8fbf-708cbb24952e.png)

But at this time, dealing with SBD dataset, I get stucked as below

![image](https://user-images.githubusercontent.com/49643709/106122572-36603800-619c-11eb-8dc3-

[2021-01-28 11:29] natangold85 commented on #3294
Hi @datumbox
I installed torchvision and it didn't solved my problem.
I narrowed my model to standalone roi_align model.
This is my python code to create the model:

from torchvision.ops import roi_align
import torch
from typing import Dict
class RoIAlign(torch.nn.Module):
  def __init__(self, aligned_height, aligned_width, spatial_scale):
    super(RoIAlign, self).__init__()

    self.aligned_wid

[2021-01-28 11:29] natangold85 commented on #3294
sorry for the indentation problem in the attached code

[2021-01-28 13:37] surendrallam commented on #988
How to import Faster RCNN model on torchvision 0.2.2.

[2021-01-28 13:58] pmeier commented on #988
@surendrallam It is not possible. You need to have `torchvision>=0.3.0`.

[2021-01-28 14:00] surendrallam commented on #988
Thanks for your quick reply, but is there a way to load the pytorch models.

Thanks and Regards,
Surendra Allam.

Sent from my iPhone

On 28-Jan-2021, at 7:28 PM, Philip Meier <notifications@github.com> wrote:

﻿

@surendrallam<https://github.com/surendrallam> It is not possible. You need to have torchvision>=0.3.0.

—
You are receiving this because you were mentioned.
Reply to this email directly

[2021-01-28 14:18] pmeier commented on #3306
This seems to be the first report, but the discussion is in #3314.

[2021-01-28 14:18] #3306 closed

[2021-01-28 14:25] pmeier commented on #3284
If this is possible, I agree that this should be the way forward. Otherwise we might need to add some way (for example an environment variable) to disable the use of `tqdm` in `torchvision`. IMO the fallback defined in `torch` is probably not a good idea in notebooks, since it would clutter the output.

[2021-01-28 14:26] pmeier commented on #3292
Just to be clear: I'm in favor of adding this.

[2021-01-28 14:27] jaintj95 commented on #3284
Based on my limited knowledge I tried most of the solutions listed on the linked thread but they don't seem to work.

[2021-01-28 14:58] pmeier commented on #988
@surendrallam You have to be more specific: what do you actually want to do?

[2021-01-28 15:15] NicolasHug commented on #3060
I can't really tell *why* the test is failing for some seeds but I made some experiments:

- It only fails for half precision; the float32 dtype sections are fine
- increasing the `tol` from 1e-3 to 1.5e-3, seeds in [0, 79] pass (and seed 80 fails)
- increasing `tol` further to 2e-3 makes all seeds in [0, 100] succeed

Considering that all checks for float32 pass without change, perhaps the simple

[2021-01-28 16:00] datumbox commented on #3060
Thanks for the analysis @NicolasHug. Perhaps it's just an issue of using too small tolerance. I think `2e-3` is reasonable if it resolves the issue. I'm happy to review it if you want to send a PR.

[2021-01-28 16:27] #3251 closed

[2021-01-28 16:41] vfdev-5 commented on #3221
How about adding [RandAugment](https://arxiv.org/abs/1909.13719v2), in addition to already implemented AutoAugment ?

[2021-01-28 16:48] #3060 closed

[2021-01-28 16:56] fmassa commented on #988
@surendrallam you'll need to update your PyTorch and torchvision installation to use Mask R-CNN, as it relies on custom C++ operators which were not available before the 0.3.0 release.

[2021-01-29 00:15] jerryzh168 opened #3321 "guard AuxLogits with torch.jit.is_scripting()?"
Should we guard the check:
https://github.com/pytorch/vision/blob/master/torchvision/models/inception.py#L174
with `torch.jit.is_scripting()`? since if `self.AuxLogits` is None we'll be compiling `aux = self.AuxLogits(x)` and jit will complain that None is used as a function.

I changed it to
[code]
and it worked.

[2021-01-29 03:19] njzyxiong opened #3322 "a question about segmentation model loading"
## ❓ Questions and Help
Why they are different？
### Please note that this issue tracker is not a help form and this issue will be closed.
![image](https://user-images.githubusercontent.com/32593161/106227085-8d5d2000-6223-11eb-9c66-fcb037faac92.png)

We have a set of [listed resources available on the website](https://pytorch.org/resources). Our primary means of support is our discussion forum:

-

[2021-01-29 03:21] njzyxiong commented on #3322
I want to load fcn_resnet101, why it downloads resnet101?

[2021-01-29 04:53] surendrallam commented on #988
I wanted to load pretrained Faster RCNN model and use it, I am working RISC-V arch Unleashed board, where it has availability of Torchvision 0.2.2.

Thanks and Regards,
Surendra Allam.

Sent from my iPhone

On 28-Jan-2021, at 8:28 PM, Philip Meier <notifications@github.com> wrote:

﻿

@surendrallam<https://github.com/surendrallam> You have to be more specific: what do you actually want to do?

—
Y

[2021-01-29 09:22] fmassa commented on #3321
Hi @jerryzh168

I'm in principle ok with adding this check, but could you give us an example where you faced torchscript errors with `inception_v3`? We have CI running on it and I've just tried it as well on a simple case and it works fine on torchscript

[2021-01-29 11:03] h-vetinari commented on #3264
Hey all

The conda-forge support for torchvision is determined by the state of the so-called [feedstock](https://github.com/conda-forge/torchvision-feedstock), where the packages are built.

It hasn't been updated in a long time, and I actually started an attempt a few days ago to do so: https://github.com/conda-forge/torchvision-feedstock/pull/12

I actually came to the issue tracker here to figu

[2021-01-29 11:08] h-vetinari commented on #3264
PS. I realize that the pytorch channel has its own recipe. However, there are other packages in conda-forge that want to depend on torchvision (e.g. allennlp 2.0.0), and conda-forge effectively only allows depending on packages within conda-forge.

In that way, fixing the problems in the current conda-forge recipe could then also help the pytorch channel break the dependency on main.

[2021-01-29 12:15] vfdev-5 commented on #3322
@njzyxiong by default, segmentation model setup ImageNet pretrained backbone, resnet101 in your case. If you would like to disable this, please set `pretrained_backbone=False`, but I agree that if `pretrained=True` we could automatically disable it.

[2021-01-29 13:45] #3322 closed

[2021-01-29 21:47] dc986 opened #3327 "Windows build failed"
- OS: Microsoft Windows 7 Professional
- CMake version: version 3.17.1
- Python version: 3.7 (64-bit runtime)
- Is CUDA available: N/A
- [pip3] numpy==1.18.5
- [pip3] torch==1.7.1+cpu
- [pip3] torchaudio==0.7.2
- [pip3] torchvision==0.8.2+cpu

I am trying to build torch vision 0.8.2 from source using CMake but build fails.

I used the command:
`cmake -DCMAKE_PREFIX_PATH="E:/Dev/ext/libs/libtorch-w

[2021-01-30 00:14] vfdev-5 commented on #3309
Close as fixed in #3303

[2021-01-30 00:14] #3309 closed

[2021-01-30 09:15] github-actions[bot] opened #3328 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow tests/download.
Please look into it:

https://github.com/pytorch/vision/actions/runs/523061674

Feel free to close this if this was just a one-off error.

cc @pmeier

[2021-01-30 13:05] mehwhatever0 commented on #3111
I have encountered the same behavior on Windows 10 Python 3.9.1
[code]

[2021-01-30 14:13] Ratansairohith commented on #1706
Thanks @danilopeixoto it worked! Pushing model and dummy input into cpu and converting it into onnx solved my problem. Later was able to do inference on gpu with onnxruntime 'CUDAExecutionProvider'. 👍

[2021-01-30 17:41] FraPochetti commented on #1706
Hi @Ratansairohith great you found a way!
Would you be so kind to share the entire code snippet you used to get to work?
Reading your comment, I just retried on my own but I don't seem to get it right.
[This](https://colab.research.google.com/drive/1BcUXta84gTV7TTqJrSm4-c4H5MACdZ_3?usp=sharing) is the Colab notebook I have put together for reference.

[2021-01-30 19:38] Cknex commented on #1058
@fmassa  Hi, would it be possible to perform backward operation multiple times, and calculate the average? I think the average gradient might be more stable.

[2021-01-30 19:44] oke-aditya commented on #3272
I did have a go at this :smiley:  Here is code to reproduce a simple mask using `draw.point`. It is not that slow

[code]

![temp](https://user-images.githubusercontent.com/47158509/106366403-aec42600-6361-11eb-8897-07d65a6dd1b0.png)

[2021-01-30 19:54] oke-aditya commented on #3272
Some points, I'm unclear.
1. Is the user interested in plotting any text here ? If yes, then where and how ?
If not, then we can forgo labels, font, font size all parameters.

2. This is not very slow, it takes under 1 second for a decent sized image.

3. How do we assign default colors ? Otherwise everything will be colored with one color !

[2021-01-30 22:10] pmeier commented on #3328
Duplicate of #3314.

[2021-01-30 22:10] #3328 closed

[2021-01-30 22:11] pmeier commented on #3314
Server seems up again https://www.cs.toronto.edu/~kriz/cifar-10-python.tar.gz. Lets see if this persists until the next run.

[2021-01-31 00:43] saurabheights commented on #3297
I have finished the changes here:- https://github.com/pytorch/vision/compare/master...saurabheights:bugfix/center-cropsize-greater-imgsize

I have conda env, with pytorch-nightly installed. I built torchvision from source code.
Now, I have tested transforms, but when running full test suite, I face quite a few errors, some related to C++ ops, etc. Pytest summary(added pic as it will be much easily

[2021-01-31 04:36] Ratansairohith commented on #1706
Hey @FraPochetti! Yeah my code was pretty straight forward. I trained my own faster rcnn with custom dataset just llike official pytorch tutorial [https://pytorch.org/tutorials/intermediate/torchvision_tutorial.html](link). Then i used the following code snippet to convert my torch model to onnx.

[code]

[2021-01-31 07:17] natangold85 commented on #3294
Hi @datumbox , i'm attaching .py file and .cpp file.
the .py file is producing jit model and saving it to /tmp the .cpp is trying to load it.
can you please check it on your env? it will help a lot for our team to understand what is wrong in the torchvision operators in our env.

Thanks.

[test_torch_cpp.txt](https://github.com/pytorch/vision/files/5899320/test_torch_cpp.txt)
[roi_align_py.txt](ht

[2021-01-31 08:28] FraPochetti commented on #1706
Thanks a lot. I am doing the same (I think) but for whatever reason, my masks are still empty.
Quite frustrating.
Let me start with a blank notebook again. I am sure I am making some really stupid mistakes.

[2021-01-31 09:24] zsef123 commented on #3327
Same Issue on
- Win 10 / torch 1.7.1 / cuda 11
- WITH_CUDA=on
- MSVC 2019 16.8.4

[2021-01-31 09:50] vadimkantorov opened #3331 "[proposal] Use self.flatten instead of torch.flatten and when becomes possible derive ResNet from nn.Sequential (scripting+quantization is blocker), would simplify model surgery in the most frequent cases"
Currently In https://github.com/pytorch/vision/blob/master/torchvision/models/resnet.py#L243:
[code]

If it instead used `x = self.flatten(x)`, then it would simplify model surgery: `del model.avgpool, model.flatten, model.fc`. Also in this case the class can just derive from Sequential and use OrderedDict to pass submodules (like in https://discuss.pytorch.org/t/ux-mix-of-nn-sequential-and-nn-mod

[2021-02-01 05:00] kairos03 opened #3332 "torchvision.io.read_image return tensor shape is different."
## 🐛 Bug

torchvision.io.read_image return tensor shape is different with [3, width, height] on the document when reading the grayscale or RGBA image. It returns [1, width, height] or [4, width, height].

https://pytorch.org/docs/stable/torchvision/io.html#torchvision.io.read_image

## To Reproduce

Steps to reproduce the behavior:
[code]

## Expected behavior

[code]

## Environment

PyTorch vers

[2021-02-01 09:52] kairos03 commented on #3332
It seems that the documentation and development are not syncing.
https://github.com/pytorch/vision/pull/2988

[2021-02-01 09:53] datumbox commented on #3332
@kairos03 The latest master of TorchVision has been updated to support reading grayscale images, transparency etc. So what you report is not a bug but an expected behaviour. See #2984, #2988 and #3024 for details on the feature.

This feature is not included at version 0.8.2 but it's only available on latest master. On version 0.8.2 you should be getting an exception:
https://github.com/pytorch/vi

[2021-02-01 09:54] kairos03 commented on #3332
@datumbox I'm using v0.8.2

[2021-02-01 10:00] datumbox commented on #3297
@saurabheights The errors you get on the screenshot seem to be related to your development environment, not to your changes. You can try fixing these so that you can contribute easier on the future but if you don't have the time to fix this locally you just confirm that unit-tests that are relevant to your changes pass and send a PR. Our CI will run all the tests anyway, so we will be able to see

[2021-02-01 10:05] datumbox commented on #3332
Could you please confirm by checking the outputs of:
[code]

[2021-02-01 10:07] kairos03 commented on #3332
[code]

[2021-02-01 10:07] datumbox commented on #3294
@natangold85 I would suggest to have a look on the example provided at TorchVision repo:
https://github.com/pytorch/vision/tree/master/test/tracing/frcnn

Start using this setup and then try to adapt it to be closer to your script. This is going to help you debug whether the issue you face is related to your development env or something else.

[2021-02-01 10:18] datumbox commented on #3327
@dc986 Building TorchVision from source should be done by running:
`python setup.py install`

For details on how to compile from source check our [contributing page](https://github.com/pytorch/vision/blob/master/CONTRIBUTING.md). Just replace nightly with the latest stable version of PyTorch since you want to build v0.8.2.

Using cmake is something we plan to support on the future. See #2349

@zse

[2021-02-01 10:20] fmassa commented on #3284
@jaintj95 a solution like https://github.com/tqdm/tqdm/issues/619#issuecomment-619639324 should help , as it disables the tqdm bar IIUC.

[2021-02-01 10:32] jaintj95 commented on #3284
Thanks. I've already tried the solution you linked. It doesn't work. Let me see if I can figure out the patch.

[2021-02-01 10:42] datumbox commented on #3331
Thanks for the proposal. Replacing torch.flatten with nn.Flatten seems it won't break anything but could you describe a bit more your use-case and how it will help you achieve what you want?

Concerning doing a major refactoring and inheriting from Sequential, this might have side-effects on all the other models that depend on resnet (segmentation, object detection etc), so I'm not sure if it can

[2021-02-01 11:18] datumbox commented on #3272
@oke-aditya Thanks for providing the prototype implementation. This is really helpful because it raises lots of interesting questions about the proposed API.

From the above, I understand that you create a new image after making the prediction and before start drawing. Do you intentionally propose to create a new picture that contains only the masks OR you plan to apply the mask on top of the orig

[2021-02-01 11:27] #3280 closed

[2021-02-01 11:38] fmassa commented on #3331
I would be fine replacing `torch.flatten` with `nn.Flatten`, although it would only simplify model surgery if we were to make further modifications to the ResNet model as you suggested (making it inherit from `nn.Sequential`). Without this, only `del model.fc` etc wouldn't be enough.

So from this perspective, there is limited value in replacing `torch.flatten` with `nn.Flatten`, it being only syn

[2021-02-01 11:42] datumbox commented on #3332
@kairos03 I can't reproduce what you see:

Reading a grayscale or transparent image using 0.8.2 throws an exception for me:
[code]

I suspect that you might have installed a different torchvision version on a virtual environment, possibly the latest master or a nightly. Version 0.8.2 did not have support for non-RGB images and this was added later on latest master.

At any case, what you report is

[2021-02-01 11:42] #3332 closed

[2021-02-01 12:05] vadimkantorov commented on #3331
Oh, I didn't realize:
[code]

If this becomes fixed, I guess inheriting from nn.Sequential should be fine.

[2021-02-01 12:21] oke-aditya commented on #3272
I think `make_grid` avoids in-place modification, and we should avoid in-place operations for all plotting utils.

Maybe people want to have a look at the predictions, and do further post-processing to the image, then redraw the predictions. I guess we should just do `new_image = image.clone()` and avoid in place plotting for all utils.

I am not sure mask on the original image with transparency w

[2021-02-01 12:56] saurabheights commented on #3297
Thanks.
had to install cuda lib and provide CUDA_HOME variable to setup.py. Still had 6 errors, but they were related to GPU going out of mem on bigger networks. I will go ahead and submit PR.

[code]

[2021-02-01 13:52] datumbox commented on #3272
A couple clarifications and additional notes on my side:

I agree we should not modify the image in place. My question was whether you planned to put transparency on top of the original image or if you wanted to create a new non-transparent image using only the classifications. If you intend to do the latter, then providing the image tensor is unnecessary because we only use the output predictions

[2021-02-01 14:53] pmeier commented on #963
## Tests for datasets and extraction logic with mocked archives

- [x] CIFAR10
- [x] CIFAR100
- [ ] Caltech101
- [ ] Caltech256
- [ ] CelebA
- [x] Cityscapes
- [ ] CocoCaptions
- [ ] CocoDetection
- [ ] DatasetFolder
- [ ] EMNIST
- [ ] FakeData
- [x] FashionMNIST
- [ ] Flickr30k
- [ ] Flickr8k
- [ ] HMDB51
- [x] ImageFolder
- [x] ImageNet
- [x] KMNIST
- [ ] Kinetics400
- [ ] LSUN
- [ ] LSUNClass
-

[2021-02-01 18:27] oke-aditya commented on #3272
I had a brief thought about all points.

1. Yes, providing the image tensor is unnecessary. But let's go for consistency in utils, it doesn't hurt much.
It would be surprising for a user to remember that we don't pass image only in this util.

We can just do `new_image = image.clone()` and continue plotting in `new_image`.
Also, probably we should do this for bounding boxes too and avoid in-place

[2021-02-01 18:53] pmeier commented on #3314
I think they resolved the issue as the server seems to be stable again for the past few days. As such, I'm closing this.

[2021-02-01 18:53] #3314 closed

[2021-02-01 18:55] datumbox commented on #3272
Looks very reasonable proposal to me. Thanks for looking into it. :)

One last question. What do you think will happen if you take the image produced by the masks using the process you describe above and do a weighted linear combination with the original image? I think if the background of the palette is set to be transparent instead of black, this operation might project the colour of the masks i

[2021-02-01 23:23] ain-soph commented on #2992
Still suffering from this problem when downloading CUB_200_2011 datasets from https://drive.google.com/file/d/1hbzc_P1FuxMkcabkgn9ZKinBwW683j45

[2021-02-01 23:55] jgbradley1 commented on #2992
@ain-soph Have you tried the nightly version? The problematic code was temporarily disabled here

https://github.com/pytorch/vision/pull/3035

Those changes have not made into a release yet.

[2021-02-01 23:57] ain-soph commented on #2992
@jgbradley1 I see, thanks for your notice!

[2021-02-02 09:38] ydcjeff commented on #3305
I posted an example of usage in https://github.com/pytorch/pytorch/issues/51197#issuecomment-771501656
Thank you

[2021-02-02 10:32] #3297 closed

[2021-02-02 13:16] mrgransky commented on #3207
Do you also get the same error downloading it via `pip` in your conda `env`?

`$ pip install opencv-contrib-python`

I had the same problem with python `3.9.1`, but I installed `opencv` with `pip` and it works with

`$ python -c "import cv2; print(cv2.__version__)"`
`4.5.1`

[2021-02-02 13:56] fmassa commented on #3331
@vadimkantorov model surgery in PyTorch generally requires re-writing forward or other parts of the model, except for `nn.Sequential`, so I would say it's a valid requirement to ask the users to be a bit more verbose

[2021-02-02 14:07] oke-aditya commented on #3272
I too think so, if we set the background with transparency channel we might be able to project it into the image.
And additionally have a fill parameter (like we did for boxes). Let me have run with this and post the outputs :smiley:

[2021-02-02 14:07] vadimkantorov commented on #3331
Of course. I understand that in general it's the case, but if it can be made simpler, I think it should be made simpler even if in general case full re-writing is required. In this particular case, it seems that because of quantization scripting limitations deriving from nn.Sequential is a no-go, but when that's solved it could be nice to derive ResNet from nn.Sequential.

I'll rename thie issue a

[2021-02-02 14:13] pmeier opened #3339 "Downloads for Caltech datasets are broken"
## 🐛 Bug

Download for `Caltech101` and `Caltech256` is broken.

## To Reproduce

[code]

[code]

As you can see from the output, the download from http://www.vision.caltech.edu/Image_Datasets/Caltech101/101_ObjectCategories.tar.gz is redirected to Google Drive. `download_url` is not able to handle this.

This could be resolved by #3245 which dispatches the call to `download_file_from_google_drive

[2021-02-02 17:10] vadimkantorov opened #3340 "VideoClips.get_clip to provide to users some clipId and a way to get meta information about clip pts/time in video"
It would be nice for debugging to have VideoClips provide not only `video_idx` but also `clip_idx`. With that index one should have a way to get the temporal location corresponding to the sampled clip.

This allows to correlate the sampled clip with subtitles or just scroll into the video for debugging. Currently the returned `info` object just has `video_fps` property, `clip_idx` is not there.

[2021-02-02 17:31] AlexTS1980 commented on #1018
Git this problem with pytorch 1.7.1 and torchvision 0.4.1 and 0.3.0.

[2021-02-02 17:53] oke-aditya commented on #3272
Hi, @datumbox I opened PR #3330 since we are quite ok with the API now.

Here is the output. I think I'm missing something really small, a transparent background instead of black.
Here is code.

[code]

![draw_masks_util](https://user-images.githubusercontent.com/47158509/106641547-56816400-65ad-11eb-8113-8e7260a095b4.png)

Feel free to comment on PR. I think I'm missing just a small trick to make

[2021-02-02 18:28] AlexTS1980 commented on #1489
I get this error now only on Windows10. I have torchvision 0.6.1 and pytorch 1.7.1 installed. Also

`from torchvision import _C
`
returns

`ImportError: DLL load failed: The specified module could not be found.`

[2021-02-02 20:56] cemicel commented on #1706
Hi
when I try to load converted model (faster_rcnn_9.onnx) with onnx runtime I'm getting:
`
import onnxruntime as rt
sess = rt.InferenceSession("faster_rcnn_9.onnx")

`
    self._sess.load_model(providers)
onnxruntime.capi.onnxruntime_pybind11_state.NotImplemented: [ONNXRuntimeError] : 9 : NOT_IMPLEMENTED : Could not find an implementation for the node Greater_1812:Greater(9)

Any suggestions ?

[2021-02-02 21:02] seemethere opened #3342 "Conda build jobs failing for Python 3.6"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

[code]

## Expected behavior

This is happening because `cpuonly` is getting included when it shouldn't be included.

Looking for a fix right now.

cc @seemethere

[2021-02-03 02:15] kg512 opened #3343 "CMake error while including torchvision"
I am using the libtorch nightly/torchvision master builds. On including Torchvision to a c++ project CMakelists.txt, I get the following error:

-- The C compiler identification is GNU 5.4.0
-- The CXX compiler identification is GNU 5.4.0
-- Detecting C compiler ABI info
-- Detecting C compiler ABI info - done
-- Check for working C compiler: /usr/bin/cc - skipped
-- Detecting C compile features
-

[2021-02-03 03:25] #3343 closed

[2021-02-03 13:53] casperbh96 commented on #1952
There is still an error in the documentation. If you have 3 classes in your dataset, and you have no background class in your dataset, you have to specify that `num_classes=4` instead of `num_classes=3`. So, your labels would only contain 1, 2, and 3. However, you need to indicate that there is a non-existent class 0 by specifying the number of classes is equal to four.

If you don't, you will tri

[2021-02-03 17:20] pmeier commented on #3339
Fixed in #3245.

[2021-02-03 17:20] #3339 closed

[2021-02-03 17:29] tgyhhh commented on #3149
hei，bro，can you install torchvision now?

[2021-02-04 05:39] huwei1024 commented on #3149
@tgyhhh yes

[2021-02-04 05:48] tgyhhh commented on #3149
请问在哪儿可以下载torchvision==0.9.0a0+4d3a309这个版本的torchvision呀0.0，您是不是下载的.whl文件进行本地安装的0.0

[2021-02-04 06:01] huwei1024 commented on #3149
@tgyhhh  源码编译

[2021-02-04 11:36] dc986 commented on #3327
Thank you @datumbox.

I was building the C++ API using Cmake and following instruction in [https://github.com/pytorch/vision](url).

I finally solved it with cmake using the workaround in [https://github.com/pytorch/vision/issues/3210](url)

[2021-02-04 11:47] datumbox commented on #3327
@dc986 Good to hear! Could you clarify which workaround? Installing the PyTorch nightly?

Could you link to the exact comment so that others can benefit from it on the future? Thanks!

[2021-02-04 11:47] #3327 closed

[2021-02-04 11:49] dc986 opened #3349 "libtorch C++, fasterrcnn_resnet50_fpn module.forward() Assert"
## 🐛 Bug

module.forward() launches Debug assert

File: minkernel\crts\ucrt\src\appcrt\heap\debug_heap.cpp
Line: 966

Expression: __acrt_first_block == header

## To Reproduce

Loaded scripted model with
[code]

Loaded image into tensor with
[code]

Both model and tensor seem to be loaded correctly anyway

[code]

does not work.

call stack is:
![image](https://user-images.githubusercontent.com/78

[2021-02-04 11:53] dc986 commented on #3327
@datumbox
No, I am using
libtorch1.7.1+cpu
torchvision0.8.2

Installing libtorch nightly did not solve the problem either.

I had to modify the macro
`TORCH_LIBRARY_FRAGMENT`
with
`TORCH_LIBRARY_FRAGMENT_THIS_API_IS_FOR_PER_OP_REGISTRATION_ONLY`
in torchvision src files.

Not sure this is a good solution but the build finishes with no errors.

[2021-02-04 11:55] frgfm commented on #1775
Hey there :wave:

I've seen that RCNN modifications are on the current roadmap of the library. Just checking whether you think the issue is still relevant @fmassa?

Happy to try coming up with a PR or close the issue, but let's keep the number of open issues here rather low :)