[2019-06-17 11:19] fmassa commented on #1030
I believe this problem is only present in Python2, and has been fixed in master in https://github.com/pytorch/vision/pull/960

Can you try applying this patch in your version?

[2019-06-17 11:20] fmassa commented on #1030
This indeed looks like a duplicate of https://github.com/pytorch/vision/issues/959, and has been fixed in #959

[2019-06-17 18:03] buoyancy99 commented on #1030
This presents in python3 as well

[2019-06-17 21:24] fmassa commented on #1030
@buoyancy99 @RiSaMa I've just tried on my install of torchvision, using Python3 and latest master, and everything works fine for the aforementined example

![image](https://user-images.githubusercontent.com/9110200/59637800-97193900-914e-11e9-8c79-91783913ee71.png)

(including my missing `import torch` line :-) )

[2019-06-17 22:38] Jianpeng-Xu opened #1033 "download_url function does not accept proxy"
https://github.com/pytorch/vision/blob/fefe118ca89480c35b233d931a969fc92f568c4b/torchvision/datasets/utils.py#L57

In Corp network, the gpu servers are usually behind the firewall, which requires the the server to access outside of the world via the corp proxy. It will be great if this function can provide an option to download the data via proxy.

I tried to use the following but it did not work.

[2019-06-18 08:41] fmassa commented on #1033
Isn't that something that the user can do in their script, before (or even after) importing `torchvision`?

For example, from https://stackoverflow.com/questions/22967084/urllib-request-urlretrieve-with-proxy we could maybe do something like

[code]

[2019-06-18 09:55] pmeier commented on #1033
I'm also sitting behind a proxy and its working fine for me. I also have `HTTP_PROXY` and `HTTPS_PROXY` set, since some services only check for one notation. I don't know if that is the case for `six.moves.urllib`.

If that doesn't help, I agree with @fmassa.

[2019-06-19 03:58] temerick commented on #539
Has there been any progress on this? I'm noticing this same problem on the current version (0.3.0).

[2019-06-19 09:22] fmassa commented on #1033
I believe this can be addressed by the user, either following @pmeier comment or my previous comment.

As such, I'm closing this issue, but let me know if this doesn't work for your cases (but I think it should)

[2019-06-19 09:22] #1033 closed

[2019-06-19 09:23] fmassa commented on #1030
I believe this has been fixed in the current torchvision master.

Please let me know if this is not the case, but I couldn't reproduce it with my install.

[2019-06-19 09:23] #1030 closed

[2019-06-20 01:18] bermanmaxim commented on #980
@rwightman Thanks for the details on training `efficientnet_b0`. May I ask what parameters you used for your training script (i.e. did you use defaults or Google's RMSprop / etc...) Thank you!

[2019-06-20 17:53] bermanmaxim commented on #980
@rwightman I noticed your comment on this in https://github.com/rwightman/pytorch-image-models/issues/11. Thanks for the great work.

[2019-06-20 21:43] SsnL commented on #862
fixed via #875

[2019-06-20 21:43] #862 closed

[2019-06-23 02:24] zemelLeong commented on #1018
![image](https://user-images.githubusercontent.com/26835087/59970785-fb018e80-95a0-11e9-982e-07a91972a12c.png)

I fixed by this.
https://pytorch.org/get-started/locally/

[2019-06-23 03:10] peterjc123 commented on #1018
@zemelLeong Yes, installing stable version is also a workground if you don't use `pytorch-nightly`.

[2019-06-23 14:49] mattans opened #1040 "Cannot specify custom num_classes for pretrained SuhffleNetV2"
Code:

`from torchvision.models import shufflenet_v2_x1_0
model = shufflenet_v2_x1_0(pretrained=True, progress=True, num_classes=1)`

Error:
`RuntimeError: Error(s) in loading state_dict for ShuffleNetV2:
	size mismatch for fc.weight: copying a param with shape torch.Size([1000, 1024]) from checkpoint, the shape in current model is torch.Size([1, 1024]).
	size mismatch for fc.bias: copying a param

[2019-06-24 02:23] surgan12 commented on #1040
@mattans ,In your case since pretrained is true . I think, this should load the orignal model only and making such a change would not be a desired one.

[2019-06-24 06:46] dakshjotwani opened #1042 "Triplet Image Dataset"
Hi,

I am currently working with semi-supervised learning to implement face recognition. I required a dataset that could load triplets (three images, where the first two belong to the same class, and the last image belongs to a different class. The [facenet paper](https://arxiv.org/pdf/1503.03832.pdf) has more details on this.) for training. Currently, I have implemented this dataset for my own us

[2019-06-24 09:45] fmassa commented on #1042
Hi,

I believe `triplet` (or `n`-uple) datasets could potentially be handled generically, with the pairwise/triplet/etc combinations generated on the fly, and making the dataset `n ** 3` in size (with some potential pruning on the undesired cases).

Thoughts?

[2019-06-24 09:49] fmassa commented on #1040
@mattans this is an explicit choice, because the way we replace the `classifier` is arbitrary, for example:
- just the last layer?
- re-use the weights from the common classes in the last layer?
- should we change the initialization for the random weights to something else?

Note that this is the same behavior for all other models in `torchvision`.
Your workaround is actually one of the recommende

[2019-06-24 09:49] #1040 closed

[2019-06-24 11:27] juanmed commented on #329
@fmassa

Thanks for clarifying the location of the reference transformations. I was wondering if there is any reference script we can look at for using them. I looked at the [colab notebook](https://colab.research.google.com/github/pytorch/vision/blob/temp-tutorial/tutorials/torchvision_finetuning_instance_segmentation.ipynb#scrollTo=UYDb7PBw55b-) posted with the release of 0.3 and the reference [

[2019-06-24 11:47] fmassa commented on #329
@juanmed just follow the implementation in https://github.com/pytorch/vision/blob/master/references/detection/transforms.py and adapt it to your needs.

Note that `Resize` is part of the detection models now, and is currently present in https://github.com/pytorch/vision/blob/master/torchvision/models/detection/transform.py

[2019-06-24 12:08] dakshjotwani commented on #1042
That sounds like a good idea!

We will, however, need to come up with some sort of strategy to select valid `k`-tuples. The triplet I described has a specific format: the first two entries belong to the same class, while the last entry belongs to a different class. One of the ways we can solve this problem is by allowing the user to pass in a filter function as an argument, which we can then use t

[2019-06-24 12:59] fmassa commented on #1042
@dakshjotwani I'd probably want to have the dataset triplets to be deterministic, at least for torchvision.

So randomly sampling the triplets on a given `idx` is not something I was expecting to do, because it breaks the property that `dataset[idx]` gives you always the same thing

[2019-06-24 13:00] fmassa commented on #1042
Another option would be to make it an `IterableDataset`, instead of a standard dataset.
In this case, I would be ok having the `__getitem__` implement what you proposed.

[2019-06-24 16:29] facug91 opened #1046 "CMake config file to link target"
There is no TorchvisionConfig.cmake file generated, or FindTorchvision.cmake, so that we can link the target from CMake. Should there be some, or the library is supposed to be linked in some other way?
If there should be one, I could work on a PR to add it.

[2019-06-24 16:43] fmassa commented on #1046
cc @ShahriarSS

[2019-06-24 17:25] dakshjotwani commented on #1042
In my current implementation, `dataset[idx] == samples[idx]`, so it will be deterministic for each object instance. However, two instances of the triplet dataset acting on the same directory will most likely not be equal at the same index (`dataset1[idx] != dataset2[idx]`). Would this be fine for a `VisionDataset` or would this still be an `IterableDataset`?

I'm not sure if it's practical to go t

[2019-06-24 23:13] Adityav2410 opened #1047 "MaskRCNN: Inconsistency between documentation and output"
As per mask RCNN documentation,  the predicted masks have the shape:
masks (Tensor[N, H, W]):

however as per the tutorial, https://colab.research.google.com/github/pytorch/vision/blob/temp-tutorial/tutorials/torchvision_finetuning_instance_segmentation.ipynb#scrollTo=M58J3O9OtT1G,
and the results/output i see from the model, the masks have the shape: [N, 1, H, W]

The masks are predicted as [N, 1

[2019-06-25 00:41] QizhongYao opened #1048 "inception_v3 of vision 0.3.0 does not fit in DataParallel of torch 1.1.0"
Environment:
Python 3.5
torch 1.1.0
torchvision 0.3.0

Reproducible example:
`import torch`
`import torchvision`
`model = torchvision.models.inception_v3().cuda()`
`model = torch.nn.DataParallel(model, [0, 1])`
`x = torch.rand((8, 3, 299, 299)).cuda()`
`model.forward(x)`

Error:

I guess the error occurs because the output of inception_v3 was changed from tuple to namedtuple.

[2019-06-25 07:22] ShahriarSS commented on #1046
Hi @facug91 I'm looking into this.

[2019-06-25 15:02] dakshjotwani opened #1049 "Histogram Equalization"
I have been using `cv2` to histogram equalize my images. I recently found that `PIL` has a function called `ImageOps.equalize(image, mask=None)` which does the same thing. This transform has been really useful to me. Since this transform is implemented in `PIL`, which is a supported backend, I was wondering if it would be a good addition to `torchvision.transforms`.

[2019-06-25 16:30] fmassa commented on #1048
Yes, that's probably the reason.

I believe we have three options:
1. remove `namedtuple` and use `tuple`, as before, so basically reverting some of the changes in https://github.com/pytorch/vision/pull/828
2. fix PyTorch `DataParallel` to suppose `namedtuple` https://github.com/pytorch/pytorch/blob/c8b5f1d2f8f31781e664917f132af31a9abf9cbd/torch/nn/parallel/scatter_gather.py#L5-L31
3. encourage th

[2019-06-25 16:32] fmassa commented on #1047
Yes, this is a problem with the documentation.

Could you send a PR fixing it?

[2019-06-25 16:45] fmassa commented on #1042
@dakshjotwani that's what I mentioned wrt it not being deterministic: two different runs will have different values, and are indeed different datasets.

About the second point:
If we pass a `groups` list to the constructor of `TripletDataset(dataset, groups)`, which contains either False or True, and each element is sampled such that there is `True, True, False`, then all we need to do is to go ov

[2019-06-25 17:18] dakshjotwani commented on #1042
Alright, I agree that this dataset should be an `IterableDataset`, and that it would make implementing it much easier as well. I have some final questions regarding implementation before I get to implementing it:

1. Should I start with `TripletDataset` or implement `KTupleDataset`?
2. If `KTupleDataset`, what kind of args should I ask for to specify the format? Currently I was thinking of somethi

[2019-06-25 17:45] fmassa commented on #1042
@dakshjotwani I think that it might make sense to start with `TripletDataset`. I'm not clear on what the semantics of a more general dataset should be, while the `TripletDataset` is more standardized I'd say

3 - I think it might be good to specify a `num_samples` in the constructor, so that we know when to raise a `StopIteration` in `__iter__`.
4 - There is a PR in https://github.com/pytorch/pyto

[2019-06-25 18:39] ShahriarSS commented on #1046
@facug91 This is a minimal example of usage:

CMakeLists.txt:
[code]

main.cpp:
[code]

But having a cmake config file would be a good thing. Can you work on a PR adding it?

[2019-06-25 18:47] dakshjotwani commented on #1042
Sounds good. I look forward to what @SsnL has to say about our `TripletDataset` outline.

[2019-06-25 18:51] TheCodez commented on #1048
@fmassa I agree option 2 would be the best to avoid problems in the future

[2019-06-25 19:29] Separius commented on #1048
@fmassa yeah second option makes the most sense

[2019-06-25 23:56] buoyancy99 opened #1053 "Fix bug of headers at building"
Hi, in the file torchvision/csrc/nms.h
#include "cuda/vision_cpu.h" should be #include "cuda/vision_cuda.h"
This lead to build error

I created a PR in #1052.

[2019-06-26 02:14] rbrigden opened #1054 "MaskRCNN Unable to pass a batch and slow inference"
The new torchvision maskRCNN model does not take in a tensor of form (B,C,H,W) where B is Batch Size but instead it takes a list of tensors.

Furthermore, inference on a list with 5 tensors on the maskRCNN model takes about 0.5 seconds on a 1080Ti which is a lot slower than what is published on the pytorch blog 0.0903. The inference also seems to scale up linearly as the list of tensors passed in

[2019-06-26 02:52] soumith commented on #1053
PR merged now

[2019-06-26 02:52] #1053 closed

[2019-06-26 04:23] surgan12 commented on #1049
@fmassa , I can would like to take this up if we want to add this.

[2019-06-26 06:15] JZhaoCH opened #1055 "whether the transforms in torchvision 0.3.0 can only handle cpu tensor"
* I test this code in python 3.5.4 , torch 1.0.0 and torchvision 0.2.1, it work well. Whether the code will crash when it normalizes gpu tensor in torch 1.1.0 and torchvision 0.3.0 (python 3.6)

* I mean the transforms in torchvision 0.2.1 can handle cpu tensor and gpu tensor, but the transforms in torchvision 0.3.0 can only handle cpu tensor, or is the problem of torchvision 0.3.0 in python 3.6

[2019-06-26 08:02] xXBasti opened #1058 "Deterministic behavior of Faster RCNN"
Hi I am trying to run the FasterRCNN in a deterministic manner.
I am using a fixed seed and also set deterministic to True, basiclly followed the instructions on pytorch.org and the forum.

def setup_random(seed=42):
    np.random.seed(seed)
    random.seed(seed)
    torch.manual_seed(seed)
    torch.cuda.manual_seed(seed)
    torch.cuda.manual_seed_all(seed)

    #torch.backends.cudnn.enabled = F

[2019-06-26 08:50] fmassa commented on #1058
Hi,

The model is not deterministic. Even if all the seeds are fixed, `RoIAlign` uses `atomicAdd` on the GPU, which breaks determinism, see https://github.com/pytorch/vision/blob/15e24bdfe0ba04d728afcff005ff2e01f1da9b33/torchvision/csrc/cuda/ROIAlign_cuda.cu#L286-L293

But the general question of wether we should have deterministic guarantees is a valid one, and there is some discussion in https:/

[2019-06-26 08:50] #1058 closed

[2019-06-26 08:53] fmassa commented on #1055
Hi,

Thanks for the report. This has been fixed in https://github.com/pytorch/vision/pull/787 and is currently present the latest version of torchvision (master), which needs to be compiled from source.

It will be available in the next release as well.

[2019-06-26 08:53] #1055 closed

[2019-06-26 09:11] fmassa commented on #1054
Hi @rbrigden,

Those are great questions. Let me address them separately:

The model takes a list of images because it's strictly more general than passing a batch, as it support images of different sizes.
Internally, all images are padded to be the same size and are batched, see https://github.com/pytorch/vision/blob/15e24bdfe0ba04d728afcff005ff2e01f1da9b33/torchvision/models/detection/transform.

[2019-06-26 09:11] #1054 closed

[2019-06-26 09:13] fmassa commented on #1053
Thanks for fixing it @buoyancy99 !

[2019-06-26 09:14] moskomule commented on #885
Do you plan to use PyTorch ops for all operations, including random crop and random color operations as well?

[2019-06-26 09:16] fmassa commented on #885
@moskomule for all ops that are currently supported, including random crop and random color operations, yes.

[2019-06-26 12:42] xXBasti commented on #1058
Hi fmassa,
thanks for your reply and the useful information.

Its seems that the discussion, points to an opinion against the feature :/

Would a solution be to force the calculation of RoIAlign to the CPU an use the CPU version of RoIAlign. Or is it possible the change the GPU execution to the CPU version or does the cause race conditions without a scheduling etc.?:
[https://github.com/pytorch/vi

[2019-06-26 13:12] fmassa commented on #1058
@xXBasti the problem lies not only in MaskRCNN per se, but many functions in PyTorch are also not deterministic.

I'm sorry, I just realized that I missed a **not** in the sentence, I meant

and I've updated my comment above.

For RoIAlign in particular, if you move the computation to the CPU that part would be deterministic I believe, but the slowdown would probably be severe.

Making `RoIAlign`

[2019-06-26 14:10] facug91 commented on #1046
Is that CMake script working for you? Because torchvision target shouldn't exist, Torch doesn't create it.

What I could do is work on a PR to add a cmake config file, so that with a new line `find_package(TorchVision REQUIRED)`, the `target_link_libraries(${PROJECT_NAME} torchvision)` should work.

[2019-06-26 19:24] SsnL commented on #1042
This is a bit of an interesting use of `IterableDataset`. This would make the dataset unusable with any sampler, but it probably won't be too big of an issue. There is a lot of subtlety with using an `IterableDataset` with `num_workers > 0`, but if you only want to sample with replacement, then only taking acre of the `num_samples` should be enough. That said, if this is going to be put in a gener

[2019-06-26 19:38] ShahriarSS commented on #1046
Yes it is working because ```libtorchvision.so``` is  just another shared library and you cal link to it with ```target_link_libraries```. I think it would be better if a config and a version file would exist.

[2019-06-26 22:09] rbrigden commented on #1054
Thanks a lot for the detailed response! Is there a reason why the images are padded to 800 minimum size?

[2019-06-27 08:04] fmassa commented on #1054
@rbrigden the images are resized to a minimum of 800 pixels in size so that it can detect smaller objects better. It is how it has been originally done in the Mask R-CNN paper.

The zero padding is added afterwards to make the images be of the same size.

[2019-06-27 13:08] Melika-Ayoughi commented on #546
I found the same bug while loading the moving mnist data. The input is not float but the same bug still exists that the ToTensor() function does not transform the values from 0 to 255 to 0 to 1, it also does not give an any warning, so I found it while debugging my own neural net.
Is there any clean solution for that?

[2019-06-27 21:05] duskybomb commented on #707
pytorch=1.0.1
torchvision=0.2.2
ubuntu=18.04
python=3.7.2

I am getting the same error and I have verified that there are 15000 jpg images.
[code]

[2019-06-28 00:31] newmluser opened #1062 "Import DLL Error when using import torchvision.transforms"
when I am using
import torchvision.transforms

I am getting the following error:
[code]

I am doing this first time and have the latest packages

torch -1.16.2
(base) PS C:\Users\ssk\Desktop\MachineLearning\Pytorch> pip install torchvision
Requirement already satisfied: torchvision in c:\users\ssk\anaconda3\lib\site-packages (0.3.0)
Requirement already satisfied: six in c:\users\ssk\anaconda3\lib\

[2019-06-28 09:07] fmassa commented on #1062
This looks like a duplicate of https://github.com/pytorch/vision/issues/1018

@peterjc123 is this the same issue?

[2019-06-28 10:04] peterjc123 commented on #1062
@fmassa Yes, I think so. If you use torch-nightly, then you'll need to build torchvision by yourself.

[2019-06-28 11:42] fmassa commented on #1062
Closing via @peterjc123 comment, let's keep the discussion centralized in #1018 if it's the same then.

[2019-06-28 11:42] #1062 closed

[2019-06-28 12:54] prabhuteja12 opened #1064 "Accounting for class_id in cityscapes dataset"
Hi,

In the dataset class for `Cityscapes`, the classes with their meta-data is mentioned as a namedtuple. However, this information is not used anywhere. Especially for semantic segmenation, the train_id should be used to convert the pixel value (of the label image) to the training label.

Is this planned to be added anytime soon?

[2019-06-28 19:28] fmassa commented on #1064
For now, I'd recommend adding a `transform` that modifies the label to the desired format.

Before merging something like the PR you mentioned, we need to have a more structured way of addressing this.

[2019-06-28 19:28] fmassa commented on #1064
also cc @TheCodez , as you have sent the original PRs

[2019-06-28 20:31] TheCodez commented on #1064
I would also recommend using a transform even when having some helper methods available.
For example like here: https://github.com/TheCodez/pytorch-GoogLeNet-FCN/blob/master/googlenet_fcn/datasets/transforms/transforms.py#L32-L37

[2019-06-29 03:20] newmluser commented on #1018
can you please suggest me what is the stable version

[2019-06-29 03:24] zemelLeong commented on #1018
![image](https://user-images.githubusercontent.com/26835087/60379161-77441800-9a60-11e9-8ac7-1123619f437a.png)
pip3 install https://download.pytorch.org/whl/cu100/torch-1.1.0-cp36-cp36m-win_amd64.whl
pip3 install https://download.pytorch.org/whl/cu100/torchvision-0.3.0-cp36-cp36m-win_amd64.whl
https://pytorch.org/get-started/locally/

[2019-06-29 03:41] newmluser commented on #1018
Thank you. I used conda ..

[2019-06-29 03:57] zemelLeong commented on #1018
cuda10：conda install pytorch torchvision cudatoolkit=10.0 -c pytorch
cuda9：conda install pytorch torchvision cudatoolkit=9.0 -c pytorch
none cuda：conda install pytorch-cpu torchvision-cpu -c pytorch

[2019-06-29 05:22] juanmed opened #1065 "Area resizing in GeneralizedRCNNTransform"
Hello,

While working with the detection models released in 0.3, I noticed that in [GeneralizedRCNNTransform.py](https://github.com/pytorch/vision/blob/master/torchvision/models/detection/transform.py), while the image, bounding box coordinates, mask and keypoints are resized accordingly, the ```area``` field of the target dictionary is not resized. Is there any reason for not doing it?

As far as

[2019-06-29 13:03] prabhuteja12 commented on #1064
@TheCodez Thanks for the link! Thats looks great for my use!

@fmassa What do mean by **structured way**  that you mentioned?

[2019-06-29 14:17] RJT1990 commented on #1064
Seconding @TheCodez approach.

I've been doing something similar-ish (but keeping the ID logic within the transform) - also using dual transforms logic.

[code]

[2019-06-29 14:41] RJT1990 opened #1067 "Standardisation of Dataset API split argument name"
I've noticed some naming inconsistencies across the torchvision datasets when it comes to specifying how to split the dataset (train/val/test). We currently have:

- Team `classes`: [LSUN](https://github.com/pytorch/vision/blob/master/torchvision/datasets/lsun.py)
- Team `image_set`: [SBD](https://github.com/pytorch/vision/blob/master/torchvision/datasets/sbd.py), [VOC](https://github.com/pytorch/

[2019-06-29 18:50] rwightman commented on #1042
Use cases for generic tuple datasets likely exist, but re motivation for the original task, I've never used an n-tuple dataset (n**k is not pleasant) with siamese or triplet loss fn. I've always used hard or semi-hard mining and more typical dataset that returns one element at a time but has a custom sampler to make sure each batch has the desired examples per identity.

I think most methods for i

[2019-07-01 09:30] fmassa commented on #1065
@juanmed great question!

The COCO evaluation takes the area into account in order to perform the `small` / `medium` / `large` separation. If you scale the area, this will affect the results of the metrics in an unwanted way (you want to evaluate on the original image size).

But this doesn't have any effect I believe, because we do not use the `area` inside the model, and we rescale the images to

[2019-07-01 09:43] fmassa commented on #1042
@rwightman yes, I agree that hard-negative mining is something that we should add support for.

But performing hard negative mining on a large dataset on-the-fly is very expensive computation-wise.
So what is generally done is that the features are computed once every few epochs, and the hard-mining is done on those features.

This means that we can re-create the dataset once every few epochs or s

[2019-07-01 15:57] rwightman commented on #1042
@fmassa basing hard negative mining on features calculated every few epochs is still 'offline' ... by online I mean you select the pairings that you sum for your loss after you run the examples through the network on each batch and have a set of embeddings. It's less expensive than offline hard example mining. This is often called 'batch hard' or 'batch-semi hard' if you don't just pick the hardes

[2019-07-01 16:05] dakshjotwani commented on #1042
Wouldn't this be something that would be dealt within the training loop, after the forward pass has been taken care of? Maybe we could have a method that selects only the hard/semi-hard triplets to pass through the loss function?

[2019-07-01 16:23] rwightman commented on #1042
@dakshjotwani yeah, you need a non-trivial loss fn like that TF one I linked above. But not that it only takes a list of embeddings and a list of labels, it does not build any triplets.

I went through this exercise myself some time ago, was about to set out building a triplet dataset and then realized they are not needed and spent the time working on the loss fn/mining strategies and sampler.

So

[2019-07-01 17:03] dakshjotwani commented on #1042
Interesting. I want to make sure I'm understanding this correctly, and listing some potential contributions we can make:

1. Instead of building a dataset that returns triplets, we should build valid triplets after going through a forward pass.
2. To make sure we get a sufficient/good amount of valid triplets in a batch, each batch will need to have a balanced number of identities/groups. For exam

[2019-07-01 18:23] rwightman commented on #1042
@dakshjotwani
Here is a gist of some bits and pieces I've used successfully in the past, it's certainly not at a level suitable for inclusion in torchvision though, but feel free to use for some ideas... https://gist.github.com/rwightman/fff86a015efddcba8b3c8008167ea705

The sampler there assumes the dataset has a map with a specific name in it. There would be better ways of making this interface

[2019-07-02 01:53] juanmed commented on #1065
@fmassa Thanks for your explanation :) I understand then that resizing the ```area``` field is unnecessary, and adding would otherwise require to resize during postprocessing as well which seems unnecessary overhead.

I will close this issue. Thanks!

[2019-07-02 01:53] #1065 closed

[2019-07-02 03:17] spatiallysaying opened #1071 "fasterrcnn_resnet50_fpn errors"
## 🐛 Bug

Retraining  the 'fasterrcnn_resnet50_fpn  ' model for custom dataset is failing

## To Reproduce

Steps to reproduce the behavior:

1. Successfully ran the  [sample ](https://pytorch.org/tutorials/beginner/transfer_learning_tutorial.html
)  with custom data  .  The classification is working as expected.
1. Wanted to work on object detection with custom data  [Faster R-CNN Object Detectio

[2019-07-02 07:01] dakshjotwani commented on #1042
Thanks for the gist! It'll surely help me understand this approach better.

The `TripletDataset` approach (Loading data as triplets and removing easy triplets after a forward pass) is what I used to train ResNet50 for face recognition. I used VGGFace2 as my dataset, and was getting 91% accuracy on my validation set (VGGFace2 validation, which has different identities), which is why I felt that it

[2019-07-02 09:16] fmassa commented on #1071
Finetuning an object detection model requires a slightly different training code, and the classification code that you used is not adapted.

Check the tutorial in https://colab.research.google.com/github/pytorch/vision/blob/temp-tutorial/tutorials/torchvision_finetuning_instance_segmentation.ipynb
for learning how to finetune an instance segmentation model. An object detection model is very simila

[2019-07-02 09:16] #1071 closed

[2019-07-02 09:24] fmassa commented on #1028
Hi,

[Omniglot is already in torchvision](https://github.com/pytorch/vision/blob/master/torchvision/datasets/omniglot.py).

Having mini-imagenet and tiered imagenet could be nice additions, contributions welcome!

About uploading them to Google Drive, this is unfortunately not something we could do, as we do not own the license for each one of those datasets.

[2019-07-02 09:27] fmassa commented on #1042
@dakshjotwani I've asked around and it seems that the online within-batch approach for triplet loss might be better. So I'll hold on on merging the `TripletDataset` for now, and wait until you get back with the results from your experimentation.

[2019-07-02 09:32] fmassa commented on #1067
Hi,

Great question!

Those inconsistencies are mostly because we didn't impose any particular structure to the datasets that were added to torchvision.

While this makes it very simple to understand what is going on, it also leads to those inconsistencies.
The `split` argument is only one of them, but we also have datasets that store a `classes` attribute, etc.

I think it might be worth think ab

[2019-07-02 09:44] fmassa commented on #1064
Yes, the way @RJT1990 is how I do it myself as well.

@prabhuteja12 by structured way, I meant a similar comment as in https://github.com/pytorch/vision/issues/1067#issuecomment-507599030

[2019-07-02 10:04] fmassa commented on #855
@ekagra-ranjan

Next release with video is planned for end of July.

First PR adding video reading is already merged in https://github.com/pytorch/vision/pull/1039

[2019-07-02 10:04] #973 closed

[2019-07-02 12:46] lartpang opened #1072 "Has these models already implemented support for group normalization?"
https://github.com/pytorch/vision/blob/8350645b680b5dc0ef347de82deea5ae3f8ca3dc/torchvision/models/resnet.py#L85

When I see these code, I thought the model had implemented the support about 'Group Normalization`...

https://github.com/pytorch/vision/blob/8350645b680b5dc0ef347de82deea5ae3f8ca3dc/torchvision/models/resnet.py#L156-L158

[2019-07-02 14:06] lpuglia opened #1073 "Can't train MASK-RCNN in distributed enviroment"
I would like to use the train script at: [references/detection](https://github.com/pytorch/vision/tree/master/references/detection) location. The single-GPU training works good (both in `master` and `v0.3.0` tag). Now, on my server i have 4 GPUs and i really would like to use them, as per my understanding i have to set up the `torch.distributed` package (which i'm not familiar with). First i tried

[2019-07-02 15:40] fmassa commented on #1073
Here is the command you should use:

[code]

Let me know if this doesn't work.

[2019-07-02 15:40] #1073 closed

[2019-07-02 16:03] fmassa commented on #1072
Yes, the model support Group Norm, but there are no pre-trained models for those.

Group Norm generally doesn't improve classification accuracy, but is better when training on small-batch regime like for object detection

[2019-07-02 16:03] #1072 closed

[2019-07-02 19:08] himat commented on #230
@fmassa I would like to point out that this would seem to make more sense if it wasn't specifically limited to `source` and `target`, but rather for an arbitrary number of images.

[code]

A better way for this with many-channel images is if you could just pass in a list of images to be transformed in the same way to the `transform` call.

An even more ideal way would be if the transforms supporte

[2019-07-03 02:30] lartpang commented on #1072
OK, thanks for your reply. Group Norm is suitable for me, :smiley: .

[2019-07-03 03:27] Charlie4zc opened #1074 "Reverse normalize on batches of images?(tensor type not PIL image)"
I have batches of images with size of `(B,C,H,W)` (torch.tensor) i want to unnormalized it with mean/std tensor (e.g.:[0.4,0.3,0.2]) with size of`(C,H,W)`

My question is is there any operations in Pytorch can do this like` dataset.map` or  `tf.expand_dims` in Tensorflow ?

Be careful ,it not PIL image format

[2019-07-03 07:04] pmeier commented on #1074
You can achieve that by adding a batch dimension and let the [broadcasting mechanics](https://pytorch.org/docs/stable/notes/broadcasting.html) handle it for you:

[code]

---

Why do your normalisation tensors (`mean` and `std`) have spatial dimensions (`H` and `W`)? This would indicate that the `mean` and `std` change depending on the position in the image, which is quite unusual. I'm guessing yo

[2019-07-03 07:17] pmeier commented on #1067
@fmassa Why would this be specific to a `ClassificationDataset`? Assuming that it is, I can further think of the `classes` and `class_to_idx` parameters that should be included. If we want a `ClassificationDataset` I would like to take that up.

[2019-07-03 08:40] fmassa commented on #230
@himat check https://github.com/pytorch/vision/blob/master/references/segmentation/transforms.py for how I currently do it. It's simple, and the most generic way I could find to solve those problems.

[2019-07-03 08:41] Jonas1312 opened #1075 "Build error on windows (error C2491)"
## 🐛 Bug

`Error C2491: definition of dllimport function not allowed` when trying to build torchvision

[code]

## To Reproduce

Steps to reproduce the behavior:

1. `"C:\Program Files (x86)\Microsoft Visual Studio\2019\Community\VC\Auxiliary\Build\vcvarsall.bat" x64`
1. `set NVCC_FLAGS=-D__CUDA_NO_HALF_OPERATORS__ --expt-relaxed-constexpr -gencode=arch=compute_35,code=sm_35 -gencode=arch=compute_

[2019-07-03 08:48] fmassa commented on #1072
We currently have no plans to add pre-trained models with group norm for classification, at least for the next release of torchvision.

[2019-07-03 08:49] Charlie4zc commented on #1074
Thank you so much!

[2019-07-03 08:49] #1074 closed

[2019-07-03 08:53] fmassa commented on #1067
This is not specific to a `ClassificationDataset`, but enters in the same bucket of standardization that I mentioned wrt `ClassificationDataset`.

@pmeier can you open an issue describing a proposed design for the `ClassificationDataset`, and we can iterate over it? No need to implement anything, just describe what would be inside it, and what datasets would fit into this abstraction.

[2019-07-03 08:58] fmassa commented on #1075
Can you comment out
https://github.com/pytorch/vision/blob/55088157c09c9368fdffaaaaacf5f7f3db641aac/setup.py#L92-L99
and https://github.com/pytorch/vision/blob/55088157c09c9368fdffaaaaacf5f7f3db641aac/setup.py#L131-L138
and let me know if this works?

Also, cc @ShahriarSS as this seems to be a problem with the C++ models

[2019-07-03 09:06] plammens commented on #1018
So we have to build the latest `torchvision` from source, as in `python setup.py install` from master?

[2019-07-03 09:09] Jonas1312 commented on #1075
@fmassa it's working, thanks!

BTW I had to comment out line 121 also https://github.com/pytorch/vision/blob/55088157c09c9368fdffaaaaacf5f7f3db641aac/setup.py#L121

[2019-07-03 09:13] fmassa commented on #1018
@plammens yes, that seems to be the case. But we might need to make some modifications in torchvision so that this works, see https://github.com/pytorch/vision/issues/1075

[2019-07-03 09:24] plammens opened #1076 "Failed to build from source (nvcc compilation errors)"
On Windows 10, trying to build `torchvision` from latest `master` source (5508815 at time of writing) to solve #1018 .

Using a `conda` environment with the following packages:

[code]

<details>

[code]

</details>

## Steps to reproduce

[code]

## Result

At one of the executions of `nvcc.exe`,

<details>

[code]
</details>

 I get the following compilation errors:

<details>

[code]

</details

[2019-07-03 09:40] peterjc123 commented on #1076
Duplicate of https://github.com/pytorch/vision/issues/1029.

[2019-07-03 09:46] #1076 closed

[2019-07-03 10:03] fmassa commented on #1076
@peterjc123 is there something we can do in torchvision to improve the experience?

Like, do we need to improve the documentation or the build scripts?

[2019-07-03 10:32] peterjc123 commented on #1076
@fmassa Looks like we should fix the build steps for CUDA builds. That is to add `export NVCC_FLAGS=-D__CUDA_NO_HALF_OPERATORS__` into the `Build from source` section.

[2019-07-03 10:43] peterjc123 commented on #1075
Hey, would you please try adding the defined macro 'torchvision_EXPORTS', that is to add the following code block before this line https://github.com/pytorch/vision/blob/55088157c09c9368fdffaaaaacf5f7f3db641aac/setup.py#L123:
[code]
If that works, I'll file a new PR.

[2019-07-03 10:46] plammens commented on #1076
That section is what I followed since it was the most visible; I agree that specifying the complete instructions there is a good idea. Sorry for the duplicate.

[2019-07-03 11:17] fmassa commented on #1075
@peterjc123 if this fixes the problem, it's great!

My previous post disabled the `C++` models build in torchvision, which is only used for testing it on CI and is not used in the torchvision code. So the functionality should be the same I believe

[2019-07-03 11:32] Jonas1312 commented on #1075
@peterjc123 your fix works 🙂

[2019-07-03 11:58] ShahriarSS commented on #1075
@fmassa I don't have a set up windows environment and this is related to [this PR](https://github.com/pytorch/vision/pull/1035). It seems that @peterjc123  has the solution.

[2019-07-03 12:30] pmeier opened #1080 "Standardization of the datasets"
This is a discussion issue which was kicked of by #1067. Some PRs that contain ideas are #1015 and #1025. I will update this comment regularly with the achieved consensus during the discussion.

Disclaimer: I have never worked with segmentation or detection datasets. If I make same wrong assumption regarding them, feel free to correct me. Furthermore, please help me to fill in the gaps.

---
### P

[2019-07-03 12:39] vainaijr commented on #1028
if the license owner allows a dataset to be downloaded through torchvision, then why would they have any issue with the dataset being uploaded to google drive, if they did not allow others to use the dataset, then wouldn't license be already violated if we use torchvision to download the dataset?

[2019-07-03 12:57] Ericargus opened #1082 "why in model.train() can calculate loss, model.eval() can not in mask rcnn torchvision_finetuning_instance_segmentation.ipynb"

[2019-07-03 13:39] spatiallysaying commented on #1071
@fmassa , example is really helpful . I have ignored masks and got the bounding boxes for the 'PennFudanDataset' dataset given in the example. This example detects a single class 'person'.
 I want to extend this for multiple classes (custom dataset). Appreciate pointers in that direction.

Notice that I have accomplished this in Tensorflow using TF Record, model config file and .pbtxt albeit in a

[2019-07-03 13:42] spatiallysaying commented on #962
@cowry5 . Were you successful in fine tuning  the fasterrcnn_resnet50_fpn model for your own dataset ?
If so ,could you outline the steps necessary?
You may want to answer my query https://github.com/pytorch/vision/issues/1071

[2019-07-03 14:42] fmassa commented on #1071
Extending it to multiple classes should be a matter of changing the `labels` in the dataset to represent the multiple classes you want (as numbers from 1 to the number of classes), and adding a larger `num_classes` in the model.

This should be straightforward, but without further information it is hard to understand where you got blocked

[2019-07-03 14:43] #1075 closed

[2019-07-03 15:12] rsomani95 commented on #532
Am I correct in assuming that the `if` conditional mentioned by OP is only meant for `ResNet {50, 101, 152}` and _doesn't_ apply to `ResNet {18, 34}` since `kernel_size=1` (highlighted in light red) is only implemented in the larger ResNets as per this figure from the paper:

<img width="1231" alt="Screenshot 2019-07-03 at 8 40 38 PM" src="https://user-images.githubusercontent.com/17111474/6060318

[2019-07-03 16:28] himat commented on #230
Right, but I'm just saying that it's not that generic if it's fixed to two objects. Why not just be able to pass in a list of arbitrarily many images.

[code]

vs

[code]

[2019-07-04 08:21] stigma0617 commented on #645
@fmassa Hi,

Can I upload PR about [VoVNet](https://github.com/stigma0617/VoVNet.pytorch)?

The VoVNet was trained in same manners with [pytorch/vision](https://github.com/pytorch/examples/tree/master/imagenet) style.

[2019-07-04 09:17] fmassa commented on #645
Hi @stigma0617

I think for now it might be better to look into [publishing it to torchhub](https://pytorch.org/blog/towards-reproducible-research-with-pytorch-hub/)?

[2019-07-04 09:24] fmassa commented on #230
@himat it's generic in the sense that there is no magic happening inside, and it's straightforward for the user to write their own modified implementation.

(Recall that you might want to apply different types of interpolation depending on the input type, if it's an image or a segmentation mask)

[2019-07-04 09:25] fmassa commented on #1082
This is how the model was implemented, in order to keep the API simple.

[2019-07-04 09:25] #1082 closed

[2019-07-04 09:27] fmassa commented on #1028
I'm not a lawyer, but there are differences between putting the links to the images in the dataset online (with potential disclaimers saying that use at your own risk), and us uploading the data to a different location.

[2019-07-04 09:28] nnop commented on #466
The codes of [`imaug` ](https://github.com/aleju/imgaug) is somehow far more complicated.

[2019-07-04 10:07] dakshjotwani commented on #1042
@rwightman This approach did work better than my previous approach. On VGGFace2's test set, using `TripletDataset` + semi hard mining resulted in 90.42% accuracy. The `PKSampler` + semi hard mining approach resulted in 93.05% accuracy (I'm currently still training it to see if it can do better). This is result is definitely outside margin of error. It also converged much faster as compared to my p

[2019-07-04 12:55] fmassa commented on #1042
@dakshjotwani very interesting results! Thanks @rwightman for the heads up!

The dataset that you mention can be built on-the-fly, without materializing anything, right? Just compute on-the-fly the label for the tuple, and compute the index of `s0` and `s1` via `idx // len(ds_orig)` and `idx % len(ds_orig)`.

I agree, and I think I'd start with the triplet mining and PKSampler. I think this deserv

[2019-07-04 12:58] fmassa commented on #466
@nnop yes, I saw `imaug` and agree that it is very complex. I would rather have a simpler API, even if it requires having to write a bit more code.

[2019-07-04 14:21] #1047 closed

[2019-07-04 14:31] dakshjotwani commented on #1042
Yes it can. Currently, instead of doing that, I'm using `itertools.combinations(range(n), k)` to avoid swapped tuples (`(a, b)` and `(b, a)` are the same) and tuples with repeated entries (`(a, a)` for example).

I could, but this would be quite complicated. Unlike the other datasets, the VGGFace2 download cannot be automated using `wget` for example, since you need to [create an account](http://w

[2019-07-04 16:06] rwightman commented on #1042
@dakshjotwani awesome, glad you got it working

I seen fixed Triplets used for validation as you said. I think at least one of the canonical datasets has validation triplets predefined by some common impl but I forget which.

Another common validation technique you'll see when the task is retrieval or reid is calculation of mAP and cmc metrics on a seperate or holdout set of index + query images.

[2019-07-04 17:24] dakshjotwani commented on #1042
Interesting. I'm actually working on another problem which is quite similar to the problems solved in the repos you mentioned. Thanks for the links! I'll delve deeper into them right away.

Currently my validation approach is to compute the distances between all tuples (`k=2`) in the test dataset and find a distance threshold that classifies (same or different face) the tuples correctly with the h

[2019-07-04 21:20] joaqo opened #1093 "Question regarding the detection example project under references/detection."
Hi, have been using the great detection example project created by @fmassa and had an issue when I created some tensorboard visualization code. I am doing only object detection and the bounding boxes in the targets looked completely wrong. After some debugging I pinned down the issue to the following line:

https://github.com/pytorch/vision/blame/eb7a0f40ca7a7e269e893c1a8ab5845085c8b219/references

[2019-07-05 02:28] Zhaoyi-Yan opened #1094 "RandomErasing is buggy"
@zhunzhong07 @fmassa
https://github.com/pytorch/vision/blob/master/torchvision/transforms/transforms.py#L1256-L1263

Here, you assume that `img_h < img_w` implictly, which is true for most images. However, for some images `img_h > img_w`.
[code]
This line of code equals to:
[code]
where the right falls in the range of (ratio0/scale1,  ratio1/scale0), here is (0.9, 16.7). Then when `h` is more than

[2019-07-05 03:20] zhunzhong07 commented on #1094
Thanks for your question. I think your inference is not correct.

`h/w <(ratio0~ratio1)/(scale0~scale1)` is not correct.

[code]
Thus. h/w is unrelated to the scale.

[2019-07-05 03:25] Zhaoyi-Yan commented on #1094
@zhunzhong07  Hi, please try `img_h = 300, img_w = 5`, then you know the loop will run all the time.

[2019-07-05 03:40] zhunzhong07 commented on #1094
@Zhaoyi-Yan Thanks for your pointing out. In such strict image size (img_h/img_w=60), I think you should set ratio[1] to a large value. You could set ratio according to the size of your own image dataset.

[2019-07-05 03:44] zhunzhong07 commented on #1094
@Zhaoyi-Yan I think it would be better if we change
`while True:` to `for attempt in range(100):` and return the original image?

[2019-07-05 04:13] Zhaoyi-Yan commented on #1094
Give a warning if it satisfies `if h < img_h and w < img_w:`  with low probablity(less than a threshold).   Give an error and correponding instruction if  `if h < img_h and w < img_w:`  never happens.

[2019-07-05 10:29] fmassa commented on #1094
@zhunzhong07

while True: to for attempt in range(100): and return the original image if there are no sufficient h and w selected?

This sounds good to me, but I think we can try for a few (say 10) iterations only, to keep things reasonably fast.

[2019-07-05 11:27] zhunzhong07 commented on #1094
@fmassa Thanks for your suggestion. I will modify the code and create a PR.

[2019-07-05 12:01] fmassa commented on #1093
The COCO evaluation utils uses bounding boxes as `(x1, y1, w, h)`, while the detection model uses `(x1, y1, x2, y2)`, so this line is performing the conversion from one representation to the other.

Let me know if you have further questions

[2019-07-05 12:01] #1093 closed

[2019-07-05 14:33] mkport1 commented on #986
Hello,

I'm trying as well to implement Faster RCNN on my own dataset and I'm facing the same issue. Can you please provide your code for the model @xXBasti (the replacement for  MLPHead and the box predictor  part especially)

[2019-07-05 15:07] fmassa commented on #986
@mkport1 check https://colab.research.google.com/github/pytorch/vision/blob/temp-tutorial/tutorials/torchvision_finetuning_instance_segmentation.ipynb , it has a section on how to build a Faster R-CNN model

[2019-07-05 15:58] zhunzhong07 commented on #1094
#1095 Fixed here.

[2019-07-06 03:30] buoyancy99 opened #1096 "Error import dynamic module"
I am compiling torchvision from source today. The installation seems fine but the following code gives me error. I am compiling in virtual env with python 3.6. The error is replicated across all of my devices. Also is there an estimation when torchvision_nightly will be back?

`import torch
from torchvision.models.detection import maskrcnn_resnet50_fpn

model = maskrcnn_resnet50_fpn(pretrained=Tru

[2019-07-06 09:12] BIGJUN777 opened #1097 "Failed to train Faster-rcnn on VOC2007 dataset"
Hello,

These days, I try to train Faster-rcnn on VOC2007 dataset by transferring learning. The following code is what I used to construct the model:
![Screenshot from 2019-07-06 17-10-03](https://user-images.githubusercontent.com/35102882/60754243-eb5a5f00-a010-11e9-8892-f32dab216f14.png)

And the main training code:
![Screenshot from 2019-07-06 17-08-55](https://user-images.githubusercontent.com

[2019-07-06 11:10] fmassa commented on #1097
Hi,

You need to specify `num_classes + 1`, as the background class is not added automatically.

You should also check the learning rate and other hyperparameters, making sure that everything is setup properly.

Here is an example Pascal VOC class that I think worked fine
[code]

I'm closing this issue as there is not much more information available so that I can give more advices.

[2019-07-06 11:10] #1097 closed

[2019-07-06 11:12] fmassa commented on #1094
Fixed via https://github.com/pytorch/vision/pull/1095

[2019-07-06 11:12] #1094 closed

[2019-07-06 11:19] fmassa commented on #1096
What version of PyTorch are you using?
Also, did you do `python setup.py clean` before rebuilding torchvision?

[2019-07-06 12:24] BIGJUN777 commented on #1097
Thanks. I will have a try.

[2019-07-06 20:56] joaqo commented on #1093
Oh my bad, don't know why I was positive that coco was x1,y1,x2,y2. Thanks a lot for the answer and for the great reference project!

[2019-07-06 23:48] buoyancy99 commented on #1096
I am using pytorch 1.1 on the official website with cuda10. I tried setup.py clean and it did not work.

[2019-07-07 14:41] lzp0916 commented on #1002
@fmassa dear fmassa, what time does the detection models support support JIT? thank you

[2019-07-07 15:08] liangsizhuang opened #1099 "torchvision.transforms.functional.to_pil_image"
The function, torchvision.transforms.functional.to_pil_image, transforms FloatTensor to uint8 internally. Hence, it is impossible to use mode = 'F'. This can be frustrating when dealing with high bit-depth images.

I was working with spectrograms and the spectrograms had high resolution (more than 8 bits per channel).

# Problem Demonstration 1
Here is a demonstration of what was happening.

impor

[2019-07-08 02:38] hktxt commented on #1097
Hi, @BIGJUN777 ~
I have the same problem you post.
Have you tried the suggestions and have a faithful result?

[2019-07-08 05:09] BIGJUN777 commented on #1097
Hi, @hktxt

I haven't tried the method above. Because I downloaded the dataset before and wrote a script to process the data from the original database. I just tried to modify some hyper-parameters to train. However, It turned out the same result. Maybe there is something wrong with my scripts. I still try to debug. If you get a good result with the above method. Please tell me.

Thanks!

[2019-07-08 05:58] hktxt commented on #1097
Okay~ @BIGJUN777
The data processing script is not the point. more over, I use different backbones as posted here: https://pytorch.org/tutorials/intermediate/torchvision_tutorial.html#modifying-the-model-to-add-a-different-backbone and here https://github.com/hktxt/Faster-RCNN/blob/master/model/faster_rcnn.py#L86

`backbone = torchvision.models.mobilenet_v2(pretrained=True).features`

`backbone.ou

[2019-07-08 06:43] BIGJUN777 commented on #1097
Hi, @hktxt

The result I got is the same as yours. When testing, sometime it would show the wrong detection with a high score as the image you posted. Most of the time, however, it detected nothing. But as you can see the image of losses I posted above, The loss I got has converged. That's a little bit strange. BTW, how many epochs did you train the model to get the image above? Because you just u

[2019-07-08 08:31] fmassa commented on #1002
@lzp0916 A first PyTorch PR that would enable us to start making the model TorchScript friendly has just been sent to PyTorch https://github.com/pytorch/pytorch/pull/22582

But I'd say it will still take a few months to get the detection models to support TorchScript.

cc @fbbradheintz

[2019-07-08 08:33] fmassa commented on #1096
@buoyancy99 can you try switching to the `v0.3` branch and compiling to see if it works for you?

[2019-07-09 00:18] buoyancy99 commented on #1096
I tested the branch and it worked on the same piece of code

[2019-07-09 02:26] BIGJUN777 commented on #1097
Hi, @fmassa

Sorry to bother you again.

Yesterday, I tried your code posted above. But it gave me the same result. The following are the main codes:

**model constructor:**

[code]

**The dataset class is the same as you suggested. I just added some transformer into the *get_voc* function and used the 2007 version dataset(I have downloaded) instead of the 2012 version:**

[code]

**Main training

[2019-07-09 02:42] hktxt commented on #1097
@BIGJUN777
I think it trainable using pretrained fasterrcnn_resnet50_fpn on coco. I use this pretrained model and trained on voc dataset for only 3 epochs with lr=1e-4. And I got a map 0.75.
`100%|??????????| 4952/4952 [06:00<00:00, 13.73it/s]
0.7480373006085486`
but it gives too many predictions:
![000000000081](https://user-images.githubusercontent.com/16555750/60855037-d3fbbb80-a234-11e9-87db-f

[2019-07-09 05:53] SeongJinAhn opened #1102 "Hi, is transforms do not implemented yet?"
there are not codes implementing defining self.transforms

[2019-07-09 06:15] pmeier commented on #1102
I have no idea where you getting at. Can you elaborate on what you mean?

[2019-07-09 08:37] SeongJinAhn commented on #1102
Hmm... I have two questions
1.
there are not the code line such that
self.transforms = transforms.
Then how can it work?
2.
I'm curious that why only in sbd.py code only use transforms and not use transform, target_transform?

there are no parameters self.transform, self.target_transform
only this code is.

is there any reason?

[2019-07-09 08:40] fmassa commented on #1102
@SeongJinAhn `self.transforms` replace `self.transform` and `self.transform_target`, and is implemented in the base class https://github.com/pytorch/vision/blob/487c9bf4b7750e779fac31c35d930381baa60a4a/torchvision/datasets/vision.py#L14-L26

If you are looking for joint transforms implementation, they are not in torchvision library, but in the reference scripts for now, see https://github.com/pyto

[2019-07-09 08:40] #1102 closed

[2019-07-09 08:42] fmassa commented on #1096
Ok, I think TorchVision master is not compatible with PyTorch 1.1 anymore, and you'd need a nightly version of PyTorch so that it works.

[2019-07-09 08:43] #1096 closed

[2019-07-09 08:49] fmassa commented on #1097
@BIGJUN777 you changed the Anchor Generator of the faster rcnn model. This means that you also need to change the RPN Classifier, because they have been trained with FPN.

This is probably the issue.

Note that we only make available FPN models. If you want non-FPN models, you might need to adapt the heads so that they are more adapted (see the C4 resnet style for example)

[2019-07-09 09:13] #1099 closed

[2019-07-09 09:15] fmassa commented on #546
@Melika-Ayoughi I'm not sure there is a clean solution if we keep the current approach.
We can do workarounds as the one @ekagra-ranjan mentioned, but this will not be a complete fix.

This is something that I believe should be completely redesigned in my opinion.

[2019-07-09 11:37] fmassa commented on #1080
Thanks a lot @pmeier for starting this discussion!

Here are my general thoughts:
- if we do not yet have enough datasets that fit in `Segmentation` / `Detection` dataset, then it might make sense to postpone implementing such abstractions, as they will lack flexibility as they will be tailored to 1 / 2 datasets.
- *split as positional argument:* this would be a breaking change for `CocoDetection`

[2019-07-09 12:19] pmeier commented on #1080
Agreed.

Question(s):

What is the _standard way_ of working with `COCODetection`? Does everyone simply define their own `split`s? How can you compare models between users?

Or is this still in _challenge mode_? In that case we need to decide if we want to have datasets with a single `split` or potentially a split without `target`s (see #900).

Can you think of a dataset besides `ImageFolder` and

[2019-07-09 14:01] zhangguanheng66 commented on #1080
I would like to be very careful about adding some functions in VisionDataset, though TorchText has split/download/splits functions in the abstract dataset (https://github.com/pytorch/text/blob/master/torchtext/data/dataset.py#L16). IMO, a simple abstract dataset will give you more flexibility.

We are now testing a new pattern for TorchText. Instead of using abstract dataset (mentioned above), I m

[2019-07-09 14:28] fmassa commented on #1080
@pmeier

Each COCO has a different annotation file for `train` / `val`, and that is the second argument that we pass, and not `split`. So the `ann_file` plays the role of `split`

Some datasets do not define a train / test split. So it's up to the user to decide how to split it, for example using `torch.utils.data.random_split`. Thus, having a `split` argument to the dataset doesn't apply there.

[2019-07-10 02:51] DrMechanica commented on #977
I'd like to chime in and say I'm having the same issue here in July. Fixed it by editing the relevant lines in [cpp_extension.py](https://github.com/pytorch/pytorch/blob/0223d3744ad6d2f5c5b7ba8a1a687c94ae25e56d/torch/utils/cpp_extension.py#L525-L549) as mentioned by @fmassa.

[2019-07-10 06:59] tejasri19 commented on #302
@all Do we have to set  auxiliary classifiers in test mode? I get very poor test accuracy when I retrieve trained model ( auxiliary classifiers are set here). I'm using inception v3 model for my task!

[2019-07-10 07:37] pmeier commented on #1080
IMO, in the end it comes down to two philosophies since there are so many different datasets that we cannot foresee every possible option:
1. We have a rudimentary abstract dataset that allows a high degree of flexibility. Downside of that flexibility is that contributions need to be manually maintained to keep some standardisation.
2.  We have a more complex abstract dataset that bundles function

[2019-07-10 08:37] fmassa commented on #302
@tejasri19 for inference, don't forget to set your model to `eval()` mode.

You don't need to use the aux classifiers for inference, only for training

[2019-07-10 08:40] fmassa commented on #1027
Fixed via https://github.com/pytorch/vision/pull/1091. Thanks @ekagra-ranjan !

[2019-07-10 08:40] #1027 closed

[2019-07-10 09:01] fmassa commented on #977
@DrMechanica I was about to open an issue in PyTorch when I realized that there was already one open in https://github.com/pytorch/pytorch/issues/16955 .

[2019-07-10 09:29] fmassa commented on #1080
@pmeier one core principle of torchvision (and PyTorch as well) is that most things should be easily understandable. So if a user wants to create / modify a new dataset, it is very easy for them to do so by reading the source code, without having to jump over a lot of abstractions.

I do think that having the right level of abstractions is a desirable thing, but we should carefully design it so th

[2019-07-10 13:53] zhangguanheng66 commented on #1080
@fmassa IMO, the abstract dataset could include at least data and transforms (field for torchtext) and full implementation of __getitem__, __len__. Those components are highly repetitive across most dataset (if my understanding is correct). something like this:

`

    class TextDataset(torch.utils.data.Dataset):

        def __init__(data, fields):
            self.data = data
            self.fi

[2019-07-10 14:58] pmeier commented on #1080
@zhangguanheng66 `transform`s as well as the `root` of the dataset are already part of the abstract dataset class called [`VisionDataset`](https://github.com/pytorch/vision/blob/6693b2c6890a46734bbbfef9a3910db0d6b11c87/torchvision/datasets/vision.py#L9). I agree on the other part. We could do something like this:

[code]

[2019-07-10 15:05] zhangguanheng66 commented on #1080
@pmeier Sure, I agree. I'm just wondering the pros and cons to include data (e.g. images, targets) in the abstract dataset class. I guess it won't hurt us, right?

[2019-07-10 15:29] aadcock commented on #1080
I'm late to the party here and have comments on a few different pieces of this thread. Here are a few thoughts I've collected about things that I see commonly requested:

1) I also agree that @zhangguanheng's suggestion is a good place to start since almost every dataset has these options.
2) Already mentioned, a get_metadata call of some sort on the dataset is one of the most requested items I ge

[2019-07-10 15:34] alono88 opened #1103 "Normalizing images by default"
I was wondering why image normalization is done in the model itself and not using the transforms in the dataloader. Wouldn't this behavior cause an issue of normalizing twice if the user assumes the normalization transform needs to be explicitly defined? many official tutorials, such as this tutorial on [finetuning models](https://pytorch.org/tutorials/beginner/finetuning_torchvision_models_tutori

[2019-07-10 16:25] gaussiangit opened #1105 "References: Segmentation train.py throws error"
Hi,
When I try to train deeplabv3 using train script given under references/Segmentation. I encountered following error. Can anyone help ?

  File "train.py", line 227, in <module>
    main(args)
  File "train.py", line 164, in main
    train_one_epoch(model, criterion, optimizer, data_loader, lr_scheduler, device, epoch, args.print_freq)
  File "train.py", line 81, in train_one_epoch
    for imag

[2019-07-10 16:27] fmassa commented on #1105
Did you change the code to adapt the transforms?

[2019-07-10 17:26] fmassa commented on #1103
This is a great question.

I'm thinking about moving part of the transforms away of the dataset, and into the model.

Indeed, different models might have different normalizations for the same dataset.
Also, if we want the transforms to be traceable (so that they work on C++), they need to leverage torch tensors, so putting it in the model is a logical thing to do.

I agree the current trends are t

[2019-07-10 17:26] #1103 closed

[2019-07-10 20:55] gaussiangit commented on #1105
Thank you for quick reply. I am working with the coco. I have been using given default transforms. Thought it should work. I will look into transforms to adapt accordingly.

[2019-07-11 03:26] aohan237 opened #1106 "object detected sementation , masks location offset"
follows the `https://pytorch.org/tutorials/intermediate/torchvision_tutorial.html#wrapping-up` tutorial

i use a celeb mask dataset to detect lips segmentation.

besides the dataset,i totally follow the tutorial.

but the result of the mask's localtion is weird, compare to the original image.  and it it not a flip over or something .

can you show me why is this? or what will be influenced this re

[2019-07-11 04:00] hktxt commented on #1097
@fmassa  Hi~
I found that it's hard to train faster rcnn from scratch not using pretrained model.
I follow this [tutorial](https://pytorch.org/tutorials/intermediate/torchvision_tutorial.html#modifying-the-model-to-add-a-different-backbone), use different backbone to train, but always failed.
Does it need special treatment to train faster rcnn from scratch?
one more weird thing is that the [min_si

[2019-07-11 08:11] #1106 closed

[2019-07-11 08:35] fmassa commented on #1097
@hktxt training detection models from scratch takes a lot of time and data, that's probably why you are not able to get it to work.

What error do you get?

[2019-07-11 08:40] fmassa commented on #1105
@gaussiangit if you didn't change anything, then this error is unexpected.

It looks like you are using different transforms from the ones implemented in https://github.com/pytorch/vision/blob/master/references/segmentation/transforms.py

Can you double-check?

[2019-07-11 09:49] gaussiangit commented on #1105
Yes you were right. Apologies. I oversight the transform in one of the files. Thank you.

[2019-07-11 09:49] #1105 closed

[2019-07-11 12:40] kerry-Cho commented on #936
Hi.
Check mail later .sorry reply answer.
This issue is a commlie error.
​
That cuda half  operation command.
i don't know do why.
Just that code not usage torchvision
​
if you want compile. That code do  ignore
​
​
-----Original Message-----
From: "philipNoonan"<notifications@github.com>
To: "pytorch/vision"<vision@noreply.github.com>;
Cc: "Kerry-Cho"<cdh0012@naver.com>; "Mention"<mention@noreply

[2019-07-11 16:20] gaussiangit commented on #958
@fmassa How do I train on multi gpu with references/segmentation/train.py script ?

[2019-07-11 18:54] neighthan commented on #392
FYI, this is located at `torchvision.ops.nms`.

[2019-07-11 19:14] neighthan commented on #392
It would be nice to mention the format for the boxes in the docstring, though. Is it `[y1, x1, y2, x2]` for some diagonal corners, as in TensorFlow? Or perhaps just top-left and bottom-right corners?

[2019-07-11 20:16] varunagrawal commented on #392
It should be `[x1, y1, x2, y2]` but adding this to the docstring makes a lot of sense.

[2019-07-11 20:40] varunagrawal commented on #392
@fmassa @neighthan I've made the changes in #1110. It should be quick to review since it is mostly doc changes.

[2019-07-12 08:48] fmassa commented on #958
@gaussiangit just run the command I mentioned before
[code]
it should also work with the segmentation examples

[2019-07-12 08:56] fmassa opened #1113 "Add drop_last option to VideoClips"
See comments from @LowikC in https://github.com/pytorch/vision/pull/1077/files#r302533135

[2019-07-13 03:31] youkaichao opened #1114 "Incorrect accuracy for ImageNet pretrain model"
In the [documentation](https://pytorch.org/docs/stable/torchvision/models.html#classification), it says resnet50 has the error rate of `23.85`, that is, the accuracy of `76.15`. However, after running the test script [here](https://github.com/pytorch/examples/blob/master/imagenet/main.py), I get the accuracy of `76.13`.

Other models are not tested. But obviously, there are inconsistencies here.

[2019-07-13 09:18] lpuglia opened #1116 "Problems training Faster-RCNN from pretrained backbone"
Is there any recommendation to train Faster-RCNN starting from the pretrained backbone? I'm using VOC 2007 dataset and I'm able to do transfer learning starting from:
[code]
Using COCO pretrained 'fasterrcnn_resnet50_fpn' i'm able to obtain an mAP of 79% on VOC 2007 test set. Problems arise when i try to train from scratch using only the pretrained backbone:
[code]
I have been trying to train this

[2019-07-14 12:57] gheaeckkseqrz commented on #598
Hey 😃

I was browsing throught the vison issues and found that one, turns out I actually did some work on histogram specification some time ago.
Something like that :

![D89b8U6XsAEVk4n](https://user-images.githubusercontent.com/1224932/61183844-17dc2f80-a63e-11e9-86b7-49706780da8c.jpg)

I wrote it as a cuda module as I was running the transform in an optimisation loop and needed it to be fast. Th

[2019-07-14 15:05] SDNAFIO commented on #9
@lpuglia It just should be noted that this will give you the same random seed in each worker
if you use num_workes > 1 in your DataLoader.

See also here:
https://discuss.pytorch.org/t/does-getitem-of-dataloader-reset-random-seed/8097/19

[2019-07-14 19:19] tyrian411 commented on #949
I ran into this issue over the weekend.  It does have some consequences, as it causes some of the example PyTorch models (like the fast style transfer code sample) to fail to train.  Unfortunately, I don't have the exact error message at hand, but it was a runtime error related to the CUBLAS library.  It triggers on the features.bmm call in the gram_matrix function of the utils.py file (line 25).

[2019-07-15 02:19] andravin opened #1119 "torchvision classification train.py script fails with DistributedDataParallel and --apex"
**Environment:**

torch 1.1, CUDA 10.0, cuDNN 7.5, torchvision 0.3, apex built from master (commit 574fe2449cbe6ae4c8af53c6ecb1b5fc13877234)

**Summary:**

The torchvision references train.py script fails when used with DistributedDataParallel and --apex. The error indicates that "the parallel wrappers should only be applied to the model(s) AFTER the model(s) have been returned from amp.initialize

[2019-07-15 02:24] andravin commented on #1119
Here is the relevant section of the train.py script: https://github.com/pytorch/vision/blob/2b73a4846773a670632b29fb2fc2ac57df7bce5d/references/classification/train.py#L174-L188

[2019-07-15 09:16] fmassa commented on #1119
@vinhngx given that you have originally added support for APEX with mixed precision, can you have a look?

I have no experience with APEX and I'm busy with other things now, so I wouldn't have a chance to look at this.

[2019-07-15 09:30] prajjwal1 opened #1120 "Loss (loss_rpn_box_reg) is nan from RPN"
My RPN is defined as:
`
rpn = rpn.RegionProposalNetwork(rpn_anchor_generator, rpn_head,rpn_fg_iou_thresh, rpn_bg_iou_thresh,
rpn_batch_size_per_image, rpn_positive_fraction,rpn_pre_nms_top_n, rpn_post_nms_top_n, rpn_nms_thresh,training)
rpn.cuda()
`

Here's my loss:
proposals, proposal_losses = rpn(src_images,src_features,src_targets)

proposal_losses gives:
`{'loss_objectness': tensor(0.6926, dev

[2019-07-15 12:12] fmassa commented on #1116
I haven't tried training on Pascal from scratch.

But here is a tip: in Detectron, we generally train for a fixed number of iterations (in this case, 90000).
This corresponds to roughly 13 epochs for COCO, but for Pascal it represents many more epochs given that the training set size is smaller.
You might want to take that into account.

Given that this doesn't seem to be an issue with the current

[2019-07-15 12:13] pmeier commented on #1080
Since there has been no more input for some days, can I regard the proposal of [@zhangguanheng66](https://github.com/pytorch/vision/issues/1080#issuecomment-510070799) as consensus and thus add it to the top post?

[2019-07-15 12:28] fmassa commented on #1120
@prajjwal1 in my case (and I think it might be the same in your case), the problem for NaN in the RPN was due to degenerate boxes.

For example, I would have a box where the width would be 0 or negative (i.e., x0 > x1). So I remove all degenerate boxes from COCO in https://github.com/pytorch/vision/blob/d84fee6d2a64b1a253de89f40e0d3995e6b83578/references/detection/coco_utils.py#L82

This seems to

[2019-07-15 12:28] #1120 closed

[2019-07-15 12:30] fmassa commented on #1080
@pmeier we are still discussing about this internally, and we still seem to have no consensus on how to structure it yet.

[2019-07-15 12:52] fmassa commented on #598
@gheaeckkseqrz Thanks for the proposal! I think it could be a nice addition to have efficient GPU-accelerated transforms, but first we need to have a reference implementation and I have to find the time to review the PR in #796

[2019-07-15 13:07] koenvandesande commented on #1080
How does this approach scale to different tasks/datasets with multiple tasks? On Coco, you can do detection, human keypoint detection and segmentation (of either objects, stuff with CocoStuff or everything toghether with panoptic segmentation).

Another part of "the Python way" is duck typing: "If it looks like a duck, swims like a duck, and quacks like a duck, then it probably is a duck". No need

[2019-07-15 13:22] lpuglia commented on #1116
The problem is that i already tried that, using 60 epochs the loss goes lower (0.04) compared to just 12 epochs (0.08) but the mAP never goes beyond 63% (neither for test nor for validation). I'm starting to think that there is something macroscopic that i'm missing, some augmentation maybe? mean subtraction?

[2019-07-15 14:47] zhiqwang commented on #1080
For multiple tasks, may us choose the implementation of [fairseq](https://github.com/pytorch/fairseq), where have a `Standardization` of the [tasks](https://github.com/pytorch/fairseq/blob/c38b1f9135189cdcc9c0b0fd0d6a65b38770efb5/fairseq/tasks/fairseq_task.py#L14) ?

[2019-07-15 16:38] ShahriarSS opened #1122 "Having pre-built binaries for c++ side"
Hi @soumith is it a good idea to have pre-built binaries for torchvision's c++ side?

[2019-07-15 21:33] jih332 opened #1123 "Reversed order of ReLU and BatchNorm during backward propagation"
### Environment:
GoogleColab default env
torch: 1.1.0
torchvision: 0.3.0
Python: 3.6.8 (default, Jan 14 2019, 11:02:34)
[GCC 8.0.1 20180414 (experimental) [trunk revision 259383]]
GPU: True

### Description:
Order of ReLU and its preceding layer is reversed during backward propagation.
#### Code:
the function `is_supported_instance()` below checks whether a module is one of linear/conv/pooling/bat

[2019-07-16 01:57] Holmeyoung commented on #302
Hi, i have a question. In the https://github.com/pytorch/vision/blob/master/torchvision/models/googlenet.py
it's
[code]
[code]
so, should it be
`output, aux1, aux2 = model(inputs)`
but not
`aux1, aux2, output = model(inputs)`

Is it right? Thanks.

[2019-07-16 02:02] vinhngx commented on #1119
Glad someone spotted this :)
I can confirm that this is a right step towards the correct solution. According to https://github.com/NVIDIA/apex/tree/master/examples/imagenet

[code]

In addition:
[code]
Therefore, we also need to add `torch.cuda.set_device(args.gpu)` to apex initialization, and move apex initialization code to after `utils.init_distributed_mode(args)`.

[code]
I've created a PR her

[2019-07-16 03:22] andravin commented on #1119
@vinhngx `torch.cuda.set_device(args.gpu)` appears to be already called in `init_distributed_mode`.

[2019-07-16 08:27] fmassa commented on #1123
This might be due to the fact that the `ReLU` is in-place, and the operation just before the `ReLU` is also in-place (`+=`), and autograd does some extra checks to see if it is safe to compute the gradients or not. Also note that the order of operations during backward is not necessarily the same as during forward, and the autograd engine can reorder the operations.

As such, I'm closing this issu

[2019-07-16 08:27] #1123 closed

[2019-07-16 08:28] fmassa commented on #302
It should be `output, aux2, aux1`.

[2019-07-16 08:36] lpuglia commented on #1116
I tried to train over 200 epochs, the loss keep decreasing (down to 0.01) but the mAP over Test and validation decreases over the time from 63% at the 20th epoch to 56% at the 200th. It just overfits the training set. I'm out of idea, it is like it is missing something really important (e.g augmentation).

[2019-07-16 09:04] fmassa commented on #1116
@lpuglia have you tried using `maskrcnn-benchmark`, and if yes, how much accuracy did you get?
A word of caution, the evaluation code for `Pascal 2007` in `maskrcnn-benchmark` is not necessarily 100% accurate, and might give higher numbers than the original VOCdevkit

[2019-07-16 09:20] mbsariyildiz commented on #549
Hello,

I just realized that in the AlexNet (paper)[https://papers.nips.cc/paper/4824-imagenet-classification-with-deep-convolutional-neural-networks.pdf] the number of filters in the first conv layer is 96 (the last paragraph of page 4). But here in this repository, we have 64 filters. I am wondering if it is implemented like this on purpose?

Thanks

[2019-07-16 09:33] pmeier opened #1127 "Use ImageNet dataset for classification reference?"
Right now we use `ImageFolder` dataset for the classification reference

https://github.com/pytorch/vision/blob/8837e0efbe16dc07ccdd4f1d06460643c7b41c50/references/classification/train.py#L117-L124

although we have an implementation for `ImageNet`. Is this intended?

[2019-07-16 09:38] 17sarf opened #1128 "loss_rpn_box_reg is nan"
I keep getting the issue where the loss_rpn_box_reg is nan if x0 > x1 (in the [xmin, ymin, xmax, yamx] format).

For my dataset, xmax and ymax represent the top left corner and xmin and ymin represent width and height of the box. The training works fine when xmax > xmin, however, in the case where there is an object in the bottom left-hand corner the xmax < xmin. For example, one of the objects in

[2019-07-16 11:14] lpuglia commented on #1116
@fmassa I have been using the python eval from a clone of Girshick repository:
https://github.com/jwyang/faster-rcnn.pytorch/blob/master/lib/datasets/voc_eval.py
which apparently is the same as:
https://github.com/facebookresearch/Detectron/blob/master/detectron/datasets/voc_eval.py

I know that it is not zero-diff accurate compared to original matlab implementation but 63% is much lower than 79%,

[2019-07-16 13:36] BIGJUN777 commented on #1097
@hktxt  @fmassa Thank you for your help.

[2019-07-16 13:50] pmeier opened #1129 "Questions about transform in classification reference"
These question refer to the transform of the validation dataset in the classification reference:

https://github.com/pytorch/vision/blob/8837e0efbe16dc07ccdd4f1d06460643c7b41c50/references/classification/train.py#L138-L145

- Are we resizing the images in order for the motifs to be roughly the same size?
- How was the number `256` chosen? Is this simply the next of power of 2 greater than `224`?

[2019-07-16 18:03] gheaeckkseqrz opened #1131 "Keypoint transform"
Hi Pytorch community 😄

I started working on keypoint transformation (as was requested in #523).
I worked on it in the context of data augmentation for object detection tasks.

I submitted a proposal in PR #1118, but as @fmassa pointed out, that's not something we can merge without reviewing the design choices.

I've implemented the functionality by changing the signature of the transform.__call()

[2019-07-17 03:04] vinhngx commented on #1119
indeed it is. Thanks for pointing this out. So we don't need to do it in the Apex initialization code.

[2019-07-17 11:54] fmassa commented on #1128
This is expected, see https://github.com/pytorch/vision/issues/1120

Your boxes can't be degenerate. You should convert the `x0, y0, w, h` representation from your dataset into `x0, y0, x1, y1` before returning the boxes.

[2019-07-17 11:54] #1128 closed

[2019-07-17 12:03] 17sarf commented on #1128
Thank you for your reply. I'm sorry, but I don't quite understand how to convert the format of the boxes. For example, the bounding box I have above [ 53., 89., 7., 226.],  how would that look in the [x0, y0, x1, y1]?

[2019-07-17 12:05] fmassa commented on #1116
@lpuglia some more questions:

- Did you train your model (using the other codebase) using FPN or not?
- There are some hyperparameters that have been simplified in this implementation because they didn't have any noticeable effect on COCO. Maybe it is more sensitive for Pascal dataset, which is smaller.
- `maskrcnn-benchmark` has exactly the same implementation as Detectron, including the backbon

[2019-07-17 12:06] fmassa commented on #1128
It looks that the coordinates are `[x0, y0, w, h]`. To convert it to `[x0, y0, x1, y1]`, you can do something like
[code]

[2019-07-17 12:08] fmassa commented on #1128
Oh, actually, there might just be a problem with your annotations that the x0 and x1 are flipped in some cases.

If that's the case, then just always make `x0_new = min(x0, x1)` and `x1_new = max(x0, x1)` and the same for y

[2019-07-17 12:10] 17sarf commented on #1128
Thank you very much. I will make the adjustments based on your suggestions.

[2019-07-17 12:16] 17sarf commented on #1128
Sorry, I just had one other question. How would I use negative sample (images with not annotations)? After running through the dataloader, I get empty tensors for the bounding box.

[2019-07-17 12:18] fmassa commented on #1129
@pmeier those parameters have been around since AlexNet, and are the same ones that have been used for training. Check section 4.1 in https://papers.nips.cc/paper/4824-imagenet-classification-with-deep-convolutional-neural-networks.pdf

Even though here we do not do the 5 crop validation, and we just take the center crop. Another valid approach would have been to rescale the image to be 224x224, b

[2019-07-17 12:18] #1129 closed

[2019-07-17 12:21] fmassa commented on #1128
This is currently not supported. If you think this is something that would be helpful, please create a new task for tracking this feature request.

[2019-07-17 12:44] fmassa commented on #1127
By the time I originally wrote this reference script, `ImageNet` dataset class was not around and I never got into changing this.

I think that many users would like to use the reference code to train it on their own datasets, in which case changing it to `ImageNet` would just be less practical for many users.

Also, one slight annoyance with `ImageNet` is that if the users have `ImageNet` data al

[2019-07-17 12:59] pmeier commented on #1127
I was under the impression that the reference scripts are for "internal" validation of the models only. If that is not the case I agree to leave it as it is.

This only applies to users that also use a `ImageFolder` datasets, which is split into `train` and `val` folders, right?

Is this a common use case? If that is the case, it could be maybe smart to make the `meta` file optional for the `Image

[2019-07-18 08:10] jphdotam commented on #882
I would love for this to be a focus. Not only is it a problem for multi-channel data, but also it causes issue for target transformations for semantic segmentation where a channel is needed for each target.

[2019-07-18 08:52] lpuglia commented on #1116
@fmassa

* Using the other code base I'm able to obtain 69% mAP using VGG16 without FPN, with pytorch i use the following code to obtain a Faster RCNN with VGG16 (no FPN) as a backbone:

[code]

This model trained from scratch using PASCAL 07 never reaches 60% accuracy.

* Can you tell me which one in particular?

* I'm gonna train `maskrcnn-benchmark` and see what accuracy I get

[2019-07-18 08:54] fmassa commented on #1127
The reference scripts are a starting point for everyone wanting to reproduce the models in torchvision, and can serve as a basis for training their own models. So it's not only for internal validation, but reference training / evaluation scripts

Yes, but the code is simple enough so that they know what / where to change if they need something else. This would still be the case with the `ImageNet`

[2019-07-18 09:04] fmassa commented on #1116
Oh, if you are not using FPN and are training on Pascal, then I might know (one of) the issues.

In the RPN, we used to discard anchors that go out of the boundaries of the image.
This was apparently important for Pascal dataset, when the model doesn't have FPN. But for COCO with models having FPN, this was totally unnecessary and in the sake of simplifying things, I just removed it.

Can you try

[2019-07-18 09:08] fmassa commented on #882
By the way, in https://github.com/pytorch/vision/pull/1104 we are slowly going to be starting to support PyTorch Tensors for some of the transforms natively in torchvision, so that this won't be an issue anymore

[2019-07-18 09:12] fmassa commented on #549
@mbsariyildiz the difference you are mentioning is due to the fact that in the original implementation is different depending on the number of GPUs used, see https://github.com/pytorch/vision/pull/463#issuecomment-379214941 for more details

[2019-07-18 09:19] pmeier commented on #1127
In that case I will try to get around that by not relying on the meta file. I might re-open this issue for further discussions afterwards. Anyway, thanks for the clarifications.

[2019-07-18 09:19] #1127 closed

[2019-07-18 09:23] fmassa commented on #425
We have added detection models (Faster R-CNN, Mask R-CNN, Keypoint R-CNN), segmentation models (FCN and DeepLabV3) and reference training / evaluation scripts in TorchVision 0.3, see https://github.com/pytorch/vision/pull/898 and https://github.com/pytorch/vision/pull/820

[2019-07-18 09:23] #425 closed

[2019-07-18 09:31] fmassa commented on #1131
Thanks for opening this issue and the proposal!

I have a question about your proposal: what if we want to have bounding boxes and keypoints as the target for our model, for example in Keypoint R-CNN as in https://github.com/pytorch/vision/blob/bbd363ca2713fb68e1e190206578e600a87baf90/torchvision/models/detection/keypoint_rcnn.py#L20-L100

I believe we would need to extend the function call to tak

[2019-07-18 09:47] pmeier opened #1132 "Verification of string arguments in datasets?"
In the spirit of standardizing the datasets (#1080), I think it would be a good idea to have something like a `verify_str_arg()` function that checks whether if a given argument is a `str` (or a valid subclass) and if hat has a valid value. Right now we have a multitude of slightly different variants:

https://github.com/pytorch/vision/blob/bbd363ca2713fb68e1e190206578e600a87baf90/torchvision/data

[2019-07-18 10:41] soumith commented on #1122
not at this time. we need to wait to see who will use it.

[2019-07-18 10:41] #1122 closed

[2019-07-18 10:42] soumith commented on #1122
basically, release engineering is expensive, so we should commit to binaries only when we see significant value to offset the expense (here expense != money, we have only 1.5 people who know release engineering and they only commit < 10% of their time towards it)

[2019-07-18 12:46] apache2046 opened #1133 "The onnx of resnet failed parsed by TensorRT5.0"
when using tensorRT 5.0 to load the onnx file exported by pytorch, it will report a error like this:

[code]

resnet, squeezenet, vgg, inception, googlenet, densenet, alexnet of the torchvision all have this problem

[2019-07-18 13:24] apache2046 commented on #1133
A fix method is #1134

[2019-07-18 13:39] lizhen2017 opened #1135 "nms_cuda RuntimeError"
torchvision 0.3.0
pytorch 1.1
  auto order_t = std::get<1>(scores.sort(0, /* descending=*/true));
  auto dets_sorted = dets.index_select(0, order_t);
index_select break down.

RuntimeError: invalid argument 3: Index is supposed to be an empty tensor or a vector at /pytorch/aten/src/THC/generic/THCTensorIndex.cu:536

Thanks for your help!

[2019-07-18 13:43] lpuglia commented on #1116
@fmassa how do i get the `image_size` there? I was checking the history of the file but that function doesn't seem to be ever used (except in the `box_list` form).

[2019-07-18 14:28] fmassa commented on #1116
@lpuglia the image sizes can be obtained from `image`, as it carries this information https://github.com/pytorch/vision/blob/bbd363ca2713fb68e1e190206578e600a87baf90/torchvision/models/detection/rpn.py#L411

[code]

[2019-07-18 15:07] fmassa commented on #1135
when does this error happen? Can you share an example script that reproduces the problem?

[2019-07-18 15:24] gaussiangit opened #1136 "Reference detection script help"
Any quick way to write mask rcnn detection results from reference detection scripts in coco json format ?

[2019-07-18 15:58] mkport1 opened #1137 "Converging AP and AR on Faster RCNN faster_rcnn_resnet50_fpn"
Hello,

I'm trying to implement the torchvision official tutorial for finetuning object detection.
I have 8 classes, and about 4000 images that are labeled.
The metrics at the end of each epoch, seems to be converging at a certain point to values lower that 0.5 (between 0.4 and 0.45 for recall and 0.2 to 0.3 for recall).
On tensorboard my results look like this :
<img width="327" alt="res2" src="h

[2019-07-18 16:12] gheaeckkseqrz commented on #1131
This shouldn’t be a problem, bounding boxes are usually encoded as key points (top-left & bottom right). You can pass those keypoints to the transforms in order to get the corresponding corner for the boxes. This is easily done using a wrapper like the one in the first message.

As I see it, the role of a transform is really just to map a point to another point (single responsibility principle), i

[2019-07-18 18:13] fmassa commented on #1137
From your training losses, it seems that you might want to change the `step_size` from the `lr_scheduler` to a higher value, as you could potentially get better training values.

Try training for more epochs (like 100) and decrease the learning rate every 30 epochs, and see if it increases the performance.

[2019-07-18 18:27] lpuglia commented on #1116
@fmassa Just to be clear I passed that argument to the function `assign_targets_to_anchors` and then i used it in the loop like:
[code]
But the accuracy doesn't increase, no better than 60%.

[2019-07-18 18:45] fmassa commented on #1116
@lpuglia so you added the following lines in the code and it didn't help?

[code]

[2019-07-18 19:22] fmassa commented on #1136
You can concatenate the individual results from https://github.com/pytorch/vision/blob/bbd363ca2713fb68e1e190206578e600a87baf90/references/detection/coco_eval.py#L38 (which are for only batch of images) over all images, and then save it in json.

[2019-07-19 08:49] lpuglia commented on #1116
@fmassa indeed, i can't see any difference, since I'm already writing I can add that I tried with other backbones (like mobilenet_v2) with no success.

[2019-07-19 08:49] hktxt commented on #1097
@fmassa
It's ok now.
@BIGJUN777
have you reproduced the result which is post in the paper?
This is a generalized framework, which has some differences compared with original faster-rcnn.
I made some modifications to make sure it's exactly the same as the paper said.
I got mAP 61.1%, lower than reported 69.9%.
I think there are some differences that I neglected.
If you are doing the same work, plz

[2019-07-19 09:05] fmassa commented on #1097
@hktxt might we worth checking out the discussion in https://github.com/pytorch/vision/issues/1116 as well

[2019-07-19 09:21] lpuglia commented on #1116
I will, Do you think that with `maskrcnn-benchmark` i will get the 69%?

[2019-07-19 09:44] fmassa commented on #1116
@lpuglia `maskrcnn-benchmark` follows exactly all the implementation details of Detectron, so it should reproduce whatever they have in Detectron.

[2019-07-19 10:02] fmassa commented on #1133
Fixed via https://github.com/pytorch/vision/pull/1134

[2019-07-19 10:02] #1133 closed

[2019-07-19 10:06] fmassa commented on #1116
Oh, wait a bit.

I've just realized something.

If you are not using FPN, the resnet and the heads that should be completely different (the heads are much bigger than what the FPN-based model do).

There is most probably an issue with your backbone / head model definitions that are the root cause of the problem.

See for example https://github.com/facebookresearch/maskrcnn-benchmark/blob/24c8c90ef

[2019-07-19 11:35] fmassa commented on #1131
This means that you need to wrap your `box` + `keypoint` in another data structure, and perform the unwrapping inside the transform wrapper. This requires almost as much code as the current functional interface I believe.

The problem with the current set of transformations is that you always flip the image as well, even if all what you want is to flip the keypoints (which should be much cheaper t

[2019-07-19 11:41] Naruto-Sasuke opened #1138 "Similarity learning reference code is not documented"
@dakshjotwani @fmassa

[2019-07-19 11:43] fmassa commented on #1138
It's not documented yet indeed, but there are still some more things that should be done to improve it.

I'm thinking for example of having a larger-scale dataset for similarity learning, like faces, and modify the example to use this dataset instead.

Then, I will look into putting it in the website.

[2019-07-19 12:01] gaussiangit commented on #1136
Perfect. Thank you :

[2019-07-19 12:01] #1136 closed

[2019-07-19 12:06] dakshjotwani commented on #1138
I agree that it would be better to have a large scale face dataset like VGGFace2 to demonstrate the use of the reference code. I was planning on working on it next week.

I shall open an issue to discuss the inclusion of VGGface2 and keep you posted @Naruto-Sasuke. In the meantime, maybe I can help you with any issues that you might be facing?

[2019-07-19 12:11] fmassa commented on #1114
I've just re-run this model using the reference scripts and I indeed got the same results as you, `76.13`. I've tried running with and without `benchmark` mode in cudnn, as well as without cudnn, and all gave the same result.

The question now is if this was a small typo when @colesbury added the numbers in https://github.com/pytorch/vision/pull/94, or if there are some small numerical differences

[2019-07-19 12:29] fmassa commented on #1119
@vinhngx One question, is this a change in behavior in APEX, or was it a bug since the beginning?

[2019-07-19 13:01] dakshjotwani opened #1139 "VGGFace2 dataset"
@fmassa how would you like to go about this?

Currently, I preprocess VGGFace2 by cropping out the face from each image using the provided bounding box csv. After doing that, I load it as an ImageFolder dataset.

VGGFace2 also has a bunch of other CSVs that annotate gender, age group, and facial landmarks.

I propose we allow users to specify the targets they want (such as ID, gender, age, boundin

[2019-07-19 13:04] gheaeckkseqrz commented on #1131
That's right, the idea was to ship the wrapper along with the dataloader, so that for the end user, it just results in a couple of lines.

I'm curently trying to re-implement the YOLO paper for learning purpose, and that's what my dataloading/data augmentation setup looks like:
[code]

I strongly agree with the fact that the keypoints and images transforms should be decoupled. But that means we ne

[2019-07-19 13:17] lpuglia commented on #1116
@fmassa I'm not sure what you mean, but this does not explain why transfer learning works much better than training from scratch even if i live it to train for 200 epoch (which was the original question of the topic)

[2019-07-19 13:20] dakshjotwani commented on #1042
Closing this for now. We can reopen this if we want to implement `TripletDataset` in the future for validation purposes.

[2019-07-19 13:20] #1042 closed

[2019-07-19 13:27] fmassa commented on #1139
@dakshjotwani I think we should keep the original data that we have downloaded from the website.

Any cropping or other options should be done on the fly on the dataset, and can be selected via arguments in the constructor.

Thoughts?

[2019-07-19 13:29] fmassa commented on #1116
@lpuglia yes, it explains it.

In fact, the head for the standard Faster R-CNN is the whole `layer4` from resnet, or all the `classifier` from VGG16, which are pre-trained for classification already.

While the head from FPN-based models are initialized from scratch, and have only two MLPs

[2019-07-19 13:34] dakshjotwani commented on #1139
Yeah I agree. That would be more consistent with the format of the other datasets.

I was also preprocessing the dataset to make it more manageable in size (8 GB cropped vs 36 GB original). Maybe we could have a preprocess helper function for users that might want to use it.

I shall send a PR for VGGFace2 soon.

[2019-07-19 13:44] ahmed-shariff commented on #1080
Adding to the conversation, I also have been trying to come up with a solution such that I can use a similar interface to load different types of data. The structure that I have for now is https://gist.github.com/ahmed-shariff/dbf3bee6fa2bf4924f95ac2b65620386 which I am trying to include in my pipeline.  The idea is I am going a step higher. Based on the dataset and how it's used, I'd implement th

[2019-07-19 13:56] fmassa commented on #1139
Let's just leave the unprocessed file as is, I think it's fine.

[2019-07-19 14:08] lizhen2017 commented on #1135
@fmassa
The dim of the score tensor in python is (N, ), C++ API get a (N, 1) score tensor, and then the sort function got the order_t (N, 1), so, index_select function broke down. I just use it normally. And I change the code like this, it worked.
  auto order_t = std::get<1>(scores.sort(0, /* descending=*/true));
  order_t = order_t.squeeze(-1);
  auto dets_sorted = dets.index_select(0, order_t);

[2019-07-19 14:16] fmassa commented on #1135
How are you using the code? Is it entirely in the C++ API of torch? I don't yet understand, could you explain a bit more?

[2019-07-19 14:19] lizhen2017 commented on #1135
Just using python. I debug it in the cuda code, and I found that score's dim change from [N] to [N, 1]
box [N, 4], score[N]
keep = nms(boxes=bbox, scores=score, iou_threshold=self.nms_thresh)

[2019-07-19 14:34] lpuglia commented on #1116
@fmassa maybe you are missing a thing:
[code]
this model **HAS** FPN, the only thing missing is the weight initialization given by `pretrained=True`. How is it possible that training from scratch on PASCAL gives worst result compared to transfer learning?

We are mixing to things here:
* _When the backbone stay the same:_ training from scratch and transfer learning give very different accuracy (63

[2019-07-19 14:41] lizhen2017 commented on #1135
Sorry, I make a big mistake. I checked my score tensor in RPN, it's [N, 1], before, I just checked score tensor in rcnn, sorry about that.
Thanks for your help. Maybe I could close this issue.

[2019-07-19 14:49] #1135 closed

[2019-07-19 15:30] a-maci opened #1140 "MRCNN accuracy"
I ran `maskrcnn` on `coco` dataset with the following command line:
`python -m torch.distributed.launch --nproc_per_node=4 --use_env ../references/detection/train.py --data-path=/coco`

(everything else are default parameters) and I get the following output:
[code]

Seems that the numbers are lower than what the torchvision page reports (`37.9 (bbox) | 34.6 (mAP)`). What am I doing wrong?

[2019-07-19 18:01] juanmed commented on #946
I did not find the instructions mentioned by @soumith, but looking at the .travis dependency mentioned by @neerajprad, I solved this issue by uninstalling the current torchvision and reinstalling with:

[code]

[2019-07-19 18:03] gaussiangit commented on #1136
@fmassa I am using pretrained mask rcnn model and writing results on coco val2017. Under segm iou_type counts section seem to give incorrect results for all the batches. I get strange strings someo thing like this for counts.
__gRY43W=3L2O2N001O001O0O2O2N1N3N1O1O1O1O00000000001O01O00001O010O0000000O101O000O100O1O2N1O101N1O1O1O1O100O1O101NZfZ3'

 Can you tell me what could be wrong ?

[2019-07-19 21:30] rschwieterman opened #1141 "fasterrcnn_resnet50_fpn COCO incorrect num_classes default"
the default parameter, as well as the COCO pretrained .pth that it pulls from use num_classes=91.  while COCO does indeed have 91 classes, other issue tickets as well as the code demand that num_classes = classes+1 to account for the index 0 being used as background class within the code.

If the .pth file has only 91 classes is it confusing COCO's first class of 'human' with background?

[2019-07-19 21:40] fmassa commented on #1140
I trained for more epochs (roughtly the 2x schedule).

Here is the command I used

[code]

[2019-07-19 21:40] #1140 closed

[2019-07-20 01:11] synxlin opened #1142 "A small bug in ImageNet Dataset Implementation"
Currently, all values (i.e., index) in the `class_to_idx` and `wnid_to_idx` of `ImageNet` are 0.
The current code is as follows where `idcs` is wrong since it will fetch the indices of images instead of classes.
[code]
A simple fix will be,
[code]

[2019-07-21 02:59] zhiqwang opened #1143 "Is there a plan to add a registration mechanism to torchvision.models?"
Hi,
As mentioned in the test scripts:

https://github.com/pytorch/vision/blob/c187c2b12d86c3909e59a40dbe49555d85b98703/test/test_models.py#L9

I want to know whether the registration mechanism is adding to `./torchvision/models/resnet.py` or somewhere like this?

[2019-07-21 19:19] truskovskiyk opened #1146 "Resnet fpn backbone does not work for resnet18 and resnet34"
Hello, I have a bug with
`torchvision==0.3.0`

This code works fine
[code]

But
[code]

fails with

[code]

The reason is that this line
https://github.com/pytorch/vision/blob/master/torchvision/models/detection/backbone_utils.py#L54
produces `in_channels_list` as list `[256, 512, 1024, 2048]`
but for `resnet18` and `resnet34` `in_channels_list` should be `[64, 128, 256, 512]`.
I have fixed this i

[2019-07-21 20:49] gaussiangit opened #1148 "Segmentation reference train script"
I am training deeplabv3 model from torchvision for 91 classes of coco. I am using training script from references. I use following command to train the model.
`python -m torch.distributed.launch --nproc_per_node=4 --use_env train.py --dataset coco --model deeplabv3_resnet101 --output-dir output/ -b 2 -j 4 `

However the training gets stuck at
_Epoch: [6]  [ 8160/14525]  eta: 2:14:49  lr: 0.0080079

[2019-07-22 07:07] pmeier commented on #1142
Good catch. I only recently became aware that `zip` silently ignores iterables of unequal length.

[2019-07-22 09:12] jtlee90 opened #1150 "Inquiry about memory usage compare to maskrcnn_benchmark repository."
I cross checked that FasterRCNN in torchvision and in https://github.com/facebookresearch/maskrcnn-benchmark/ are almost identical.

I tried both repository and compared memory usage. What I found is that maskrcnn_benchmark repository use less GPU. I am using Titan xp pascal 1 GPU, and I could run it with 5 batch images for maskrcnn repo, but for torchvision, 3 batch was maximum.
Can I know why?

[2019-07-22 10:53] gaussiangit commented on #1136
@fmassa Mask rcnn has RLE encoded segmentation results and coco eval script only supports RLE as of now, can not directly write RLE based results to json ? Is there better way than converting the segm results ?

[2019-07-22 12:19] JohannesBrx opened #1151 "[Feature request] RetinaNet with TorchVision 0.3.0"
I have seen that Faster-RCNN and Mask-RCNN have recently been integrated into TorchVision, including a lot of code to support other networks like RetinaNet as well. Are there any plans to integrate RetinaNet into TorchVision?

Although some other repositories implementing RetinaNet, they contain algorithms which are now available in TorchVision. In my opinion it would be preferable to have a Retin

[2019-07-22 13:38] ItTakesALotToKnow opened #1152 "obtain rotation angle after using RandomRotation"
How can I obtain image rotation angle when I use RandomRotation to augment data?

[2019-07-22 21:01] #1142 closed

[2019-07-23 04:03] vinhngx commented on #1119
@fmassa I suppose it is a bug in the beginning

[2019-07-23 08:31] fmassa commented on #1119
Fixed in https://github.com/pytorch/vision/pull/1124

[2019-07-23 08:31] #1119 closed

[2019-07-23 08:34] fmassa commented on #1136
The RLE masks are encoded in https://github.com/pytorch/vision/blob/bbd363ca2713fb68e1e190206578e600a87baf90/references/detection/coco_eval.py#L111-L116

I suppose this is what you meant?

[2019-07-23 08:37] fmassa commented on #1143
This is not yet 100% clear to me that it should be done.
But by registration mechanism I meant adding a way of retrieving all possible models from a particular category (say detection, or video). We currently have some hacks that yields everything under `torchvision.models` that are functions and do not start with an underscore, but this is fragile and might be better to consider a more robust way

[2019-07-23 08:40] fmassa commented on #1116
@lpuglia ok, got it.

Training from scratch giving worse performances is expected.
Indeed, the pre-trained models were trained on COCO, which have many more images than Pascal VOC, and the classes in Pascal are a subset of the classes in COCO.

BTW, most of the top performing methods in Pascal first pre-train in COCO and then fine-tune on Pascal.

[2019-07-23 08:41] fmassa commented on #1135
@lizhen2017 note that we also have faster r-cnn models directly available in torchvision now.

[2019-07-23 08:46] fmassa commented on #1146
Fixed via #1147

[2019-07-23 08:46] #1146 closed

[2019-07-23 08:49] fmassa commented on #1141
Could you explain a bit more the problems you are having?

Is the issue that the documentation might be confusing? The pre-trained weights have 91 "classes" because it also knows how to separate between background and the other classes.

[2019-07-23 08:50] fmassa commented on #1152
You should write a functional transform, and call `get_params` from `RandomRotation` in https://github.com/pytorch/vision/blob/fecd138504354010133f4503027d2506df8aa967/torchvision/transforms/transforms.py#L969-L977

[2019-07-23 08:50] #1152 closed

[2019-07-23 08:54] fmassa commented on #1150
Hi,

Indeed, the implementation of object detection started off as a fork of `maskrcnn-benchmark`.

One possibility that makes that your model uses more memory in torchvision is that we have a naive implementation of `batched_nms`, which creates a much bigger matrix for the IoU, see https://github.com/pytorch/vision/blob/fecd138504354010133f4503027d2506df8aa967/torchvision/ops/boxes.py#L30-L61

I

[2019-07-23 08:57] fmassa commented on #1151
@JohannesBrx we might add support for RetinaNet in future releases. As you have mentioned, most of the necessary building blocks are already in torchvision, so it wouldn't be that much more work.

For the next release of torchvision beginning on August, we are focusing on adding support for video models (including video readers). We might look into adding RetinaNet support on later versions (but c

[2019-07-23 09:00] fmassa commented on #1148
You might be facing a NCCL / CUDNN deadlock, and this is unfortunately very hard to debug/reproduce.

@pietern maybe it would be a good thing to add some more utility functions / checks in PyTorch to simplify the identification of those problems?

[2019-07-23 09:06] icesohelrana commented on #986
Hi @fmassa ,
I have a similar problem. I have used approximately 5000 images to train with a pre-trained backbone of fasterrcnn_resnet50_fpn. In the first epoch, it's showing some good result like this.
 Average Precision  (AP) @[ IoU=0.50:0.95 | area=   all | maxDets=100 ] = 0.293
 Average Precision  (AP) @[ IoU=0.50      | area=   all | maxDets=100 ] = 0.639
 Average Precision  (AP) @[ IoU=0.75

[2019-07-23 09:17] gaussiangit commented on #1136
Yes exactly. When I start writing with encoded counts in JSON, it throws error. I tried with ascii
 _rle["counts"] = rle["counts"].decode("ascii")_  , but did not work. I am not sure how can I write RLE encoded segmentation results.

[2019-07-23 09:22] fmassa commented on #1136
@gaussiangit just call with `rle["counts"].decode('utf-8')`, does that not work?

What is the error you are getting?

[2019-07-23 09:23] fmassa commented on #986
Without further information it is very hard to identify what might be the issue.
Maybe your training data has a problem somewhere?

[2019-07-23 09:27] gaussiangit commented on #1136
@fmassa TypeError: Object of type 'uint32' is not JSON serializable

[2019-07-23 09:55] gaussiangit commented on #1148
@fmassa My only concern is it stopped at the same batch and epoch twice i.e Epoch 6 and 8160. Also when I resume with the resume arg with last checkpoint, the current script starts with that checkpoint and from epoch 0.

[2019-07-23 12:24] fmassa commented on #1136
you are probably missing one conversion step. Try converting the numpy arrays into a list via `rle.tolist()` or something like that.

The code as it currently stands work fine on Python3, so just try debugging a bit further, it's probably a simple fix on your side.

[2019-07-23 12:27] fmassa commented on #1148
This is probably something that has to do with the particular type of data you are feeding in epoch 6, iteration 8160. Try seeing if there is anything special wrt that. To make things faster, you can probably try switching off the model and just run through the data.

[2019-07-23 13:55] fmassa commented on #1132
I think the split names depend on the dataset. For example, `train` / `val` / `valminusminival` for some version of COCO.

Some consistency might be good, but not at the expense of generality.

[2019-07-23 15:28] pmeier commented on #1132
My mistake for choosing these examples with varying argument names, but that is not what I meant. I don't want to generalize the values of the `split` or similar arguments. What I propose is a function (probably in `datasets.utils`) that handles the verification:

[code]

With that all error messages would be the same across datasets.

[2019-07-23 15:31] rschwieterman commented on #1141
The Issue is the model will never output a detection for class 91 "hair brush".
My question is why doesn't the pretrained model have 92 classes?
roi_heads.py:[493,495] removes the first column of detentions corresponding to the 'background' class, yielding 91-1=90 possible classes, whereas COCO has 91 possible classes.

[2019-07-23 16:20] fmassa commented on #1141
COCO has 80 classes. They are numbered from 1 to 90, but there are only 80 different classes, see the `'categories'` attribute of the loaded JSON file, which I paste below
[code]

For simplicity, I do not remap the non-contiguous categories from 1-90 to 1-80, and thus some of the elements there are not used.

But note that the indices start at 1, which is convenient, because we enforce that the ba

[2019-07-23 16:20] #1141 closed

[2019-07-24 07:17] pietern commented on #1148
@fmassa In https://github.com/pytorch/pytorch/pull/22907 @pritamdamania87 is working on NCCL failure detection. On top of it, we can also honor the timeouts set on the process group, and we'd raise a timeout error in a case like this. Then when someone sees that error, and none of the processes have crashed, they can use whatever will be built in https://github.com/pytorch/pytorch/issues/22071 to

[2019-07-24 15:28] a-maci opened #1158 "Faster R-CNN with Res50 backbone"
Is there a trainer script for faster rcnn (like there is for mask-rcnn in references/detection/)?
Will it be quite different from mrcnn or is it just a matter of importing the model and specifying --model to be fastrcnn?

Also, what is the command line to train the frcnn model from scratch to get 37.0% AP?

[2019-07-24 16:03] fmassa commented on #1158
the training script in `references/detection` works for all detection-based models, i.e., Faster R-CNN, Mask R-CNN and Keypoint R-CNN.

Here is the command I used
[code]

[2019-07-24 16:03] #1158 closed

[2019-07-24 16:41] soumith opened #1159 "cuda extension build shouldn't link against cudart.so.9.0"
right now it links against something like ".9.0", it should either not link against cudart.so or link against a generic name

[2019-07-24 16:55] ksivaman opened #1160 "torchvision.transforms.ToTensor does not produce a 3D tensor from an RGB image"
When an RGB PIL image (3, x, y) is converted to Tensor, resulting shape should be:

However, it is:

[2019-07-24 19:16] ailzhang opened #1162 "Make `to_pil_image` do an implicit type conversion"
Related to https://github.com/pytorch/pytorch/issues/21044. As suggested by @ppwwyyxx , we probably should add a type conversion in https://github.com/pytorch/vision/blob/master/torchvision/transforms/functional.py#L104 when the mode is variant of `int8`.
Right now if there're negative values in tensor, we'll just keep it as negative, which doesn't align with int8 range, and cause visual overshoot

[2019-07-24 19:23] fmassa commented on #1162
The type conversion is done in https://github.com/pytorch/vision/blob/d9830d8688bc2f2fc8070a4688d590c7c0686b27/torchvision/transforms/functional.py#L139
which makes everything be between 0-255.

I suppose you mean that we should clamp the values between 0-255 (or 0-1) before casting to bool?

This is could be a solution.

But the logic in `to_pil_image` (and `to_tensor`) is already complicated / c

[2019-07-24 19:36] ailzhang commented on #1162
Yep what we need is indeed a clamp and we already do the type conversion correctly. Also agree on the logic in `to_pil_image` is already confusing, let's leave this proposal here for some time and see if this gets popular or not before we implement it.  ;)

[2019-07-24 21:31] soumith commented on #833
One of the big blockers for this was https://github.com/pytorch/pytorch/issues/19990 which @ezyang has started working on, and that's awesome.

I'm setting the ETA to be October 10th, for no other reason than one of me or @ezyang have bandwidth somewhere after August 8th and before October 10th to work on it.

Out of scope if Windows nightlies.

The work involved is to commit a set .circleci files

[2019-07-25 00:41] a-maci opened #1163 "mnasnet training schedule"
What is the training schedule for MNASNet 1.0 that gives 73.5 top-1? I tried the mobilenet schedule but it not giving the same accuracy as mentioned in torchvision page.

On a side note, mnasnet paper reports 74% top1 but torchvision model is 73.5% top-1.

[2019-07-25 08:05] pmeier commented on #1160
Your title states

but your comment reads

Which one is correct? Could you please post some code of what you are doing? Please try this in the root folder of the `torchvision` repository.

[code]

Do you see the same output as below?

[code]

[2019-07-25 08:26] iqDF commented on #456
Has this feature merged yet? Would be awesome if I can append transformations

[2019-07-25 08:45] cdancette opened #1164 "Simple way to extract features from faster r-cnn"
Currently it is complicated to extract the object features from the faster r-cnn model. It would be nice to have a simple function like `model.features(batch)`, that would give the features in addition to the boxes and labels.

[2019-07-25 09:24] fmassa commented on #1164
The question is always: which features do you want to extract? Just after `RoIAlign`? The one before the last classifier? Something in between?

I don't think we should be extending the API of particular models for extracting intermediate activations. This can be very quickly complicated, and will not be generic enough.

One possible (and easy to do) solution is to just attach a forward hook in th

[2019-07-25 09:24] #1164 closed

[2019-07-25 09:28] fmassa commented on #1163
All the discussion regarding MNasNet training can be found in https://github.com/pytorch/vision/pull/829, and has been contributed by @1e100

Dmitry can you give some more details on what was the final set of hyperparameters that you used to train MNasNet?

[2019-07-25 09:32] fmassa commented on #1132
Oh, that's definitely something that we would want to have! I completely misunderstood your point.

[2019-07-25 09:48] 0phoff commented on #456
I created and use my own version of a Compose class in my library.
I wouldn't mind creating a PR for this, but nobody from the core team answered how they see this class evolving...

In the meantime, you could probably just copy my code (note that I dont have the coerce functionality I talked about, but that is only necessary if you want to preprend transformations: `[...] + preprocess`.

[code]

[2019-07-25 09:49] jhagege opened #1165 "RandomCrop determinsm between torchvision versions"
Hi, since I moved to torchvision==0.3.0 from 0.2.2, I cannot reproduce the same results in my experiments.
I noticed the implementation of RandomCrop has changed.
Is it possible to somehow use the previous implementation, still being in 0.3.0 version, to keep deterministic results ?
Thanks.

[2019-07-25 09:57] zerolxf opened #1166 "How to train resnet18 to the best accuracy?"
I recently did a simple experiment, training cifar10 with resnet18( torchvision.models), but I can't  achieve the desired accuracy(93%).

I found a GitHub repository where the example can be trained to 93% accuracy, [pytorch-cifar](https://github.com/kuangliu/pytorch-cifar). But his implementation is different from torchvision.models.resnet18, The difference may be [here](https://github.com/kuangl

[2019-07-25 10:35] iqDF commented on #456
Hi @0phoff  this LGTM. 👍 . I like it simple. Thanks man.

@fmassa Should we consider adding `__add__()`, `__append()`, or  `__extend__()`  to pytorch?

Imo, it suits with application of action recognition model or any model that has many preprocessing options for their compatible dataset. We have a lot of modalities which preprocessings and transforms can be basic but different for model-modality

[2019-07-25 10:39] 1e100 commented on #1163
Something along the lines of https://github.com/1e100/mnasnet_trainer/blob/master/train.py. To sustain this batch size you will need a quad-GPU machine. This training code was extracted from my own private experimental training pipeline. There's a validator there as well, you can run the model against imagenet and see what accuracy you get. It won't be exactly as quoted, but it should be close.

N

[2019-07-25 13:11] ksivaman commented on #1160
Yes I do. I know what mistake I made. Thanks.

[2019-07-25 13:11] #1160 closed

[2019-07-25 14:32] Noiredd opened #1169 "[Feature proposal] Allow processing multiple images with transforms.Compose"
### Proposal
Following discussions started in #230, then #240, and most recently in #610, I would like to propose a following change to `transforms.Compose` (and the transform classes) that would allow easy processing of multiple images using existing infrastructure. I think this would be very useful for segmentation tasks, where both the image and label need to be processed exactly the same way.

[2019-07-25 15:17] fmassa opened #1170 "test_randomresized_params is flaky"
See https://travis-ci.org/pytorch/vision/jobs/563558702

[code]

[2019-07-25 15:19] mattiaguerri opened #1171 "Inception class in GoogLeNet,wrong kernel size?"
In the GoogLeNet implementatoin, the inception class, in branch3 the kernel size of the second convolution is 3. Shouldn’t that be 5?

[2019-07-25 15:43] fmassa opened #1172 "Accuracy regression on MobileNetV2"
Reported by @andravin in https://github.com/pytorch/vision/pull/818#issuecomment-509337263

With PyTorch 1.1 and torchvision 0.3, we are able to reach 71.878 top1 accuracy on ImageNet for MobileNetV2.
The training command is the following:

[code]
with best accuracy at epoch 285.

@andravin tried running the same code with a more recent version of PyTorch and torchvision, and got 71.536 (@andravin

[2019-07-25 15:46] rwightman commented on #1163
@1e100 where did the idea that there is no relu after first conv come from? It's right here: https://github.com/tensorflow/tpu/blob/master/models/official/mnasnet/mnasnet_model.py#L433

The stem and first depthwise separable are supposed to scale with multiplier as you say though.

[2019-07-25 15:57] ezyang opened #1173 "Ton of DEPRECATE_MESSAGE warnings"
Sample:

[code]

[2019-07-25 16:07] andravin commented on #1172
Here are the software versions used: https://github.com/pytorch/vision/pull/818#issuecomment-508428115
[code]

I would think it enough to reproduce the error in HEAD. If it works now, then either the error was fixed, or I did something wrong.

[2019-07-25 18:56] fmassa commented on #1173
cc @ShahriarSS as this seems to be in the C++ models codepath

[2019-07-25 18:59] TheCodez commented on #1171
https://github.com/pytorch/vision/issues/906#issuecomment-493748030

[2019-07-25 19:05] TheCodez commented on #1171
@fmassa we should probably add a comment to the affected line as it seems to often lead to confusion.

[2019-07-25 19:08] 1e100 commented on #1163
They must have noted the same thing I did and added it. If you look at their official checkpoints at https://www.tensorflow.org/lite/guide/hosted_models, they don't have a ReLU there. They look like this:

![no_relu](https://user-images.githubusercontent.com/38598618/61901476-b84f1100-aed4-11e9-9479-6a3019ca6b57.png)

which tripped me up because I'm used to seeing activation after all batchnorms.

[2019-07-25 21:40] rwightman commented on #1163
I think the graph optimization going to exported tflite models usually involves folding batch norm and activation together with the conv/bias. So it's likely in there...

I haven't looked at the original mnasnet checkpoints in a while, but when I did my original impl I verified I could load the TPU Tensorflow checkpoints in my PyTorch A1 & B1 models with reasonable accuracy.

[2019-07-25 21:42] 1e100 commented on #1163
This is an unoptimized TF graph though.

________________________________
From: Ross Wightman <notifications@github.com>
Sent: Thursday, July 25, 2019 14:41
To: pytorch/vision
Cc: Dmitry Belenko; Mention
Subject: Re: [pytorch/vision] mnasnet training schedule (#1163)

I think the graph optimization going to exported tflite models usually involves folding batch norm and activation together with the

[2019-07-26 08:04] ShahriarSS commented on #1173
I think that I have seen the messages. I'll look into this @fmassa

[2019-07-26 08:43] fmassa commented on #963
We are going for an approach that generates random dataset files on-the-fly, so that they can be tested more easily.

Here is an example: https://github.com/pytorch/vision/blob/master/test/test_datasets.py

We have context-managers that generate datasets on the fly for the testing, and helps us catch bugs https://github.com/pytorch/vision/blob/4886ccc84b3ce5b9595abb993747e99801521bea/test/fakedata

[2019-07-26 08:45] fmassa commented on #1171
@TheCodez could you send a PR adding the comment?

[2019-07-26 08:46] fmassa commented on #1171
Closing as a duplicate of https://github.com/pytorch/vision/issues/906#issuecomment-493748030
Let's keep the discussion there

[2019-07-26 08:46] #1171 closed

[2019-07-26 08:46] fmassa commented on #906
@TheCodez can you send a PR adding a comment for this discrepancy?

[2019-07-26 08:52] fmassa commented on #1165
As with PyTorch, we do not guarantee that the random transforms (and seeds) are the same between versions.

That being said, the randomness component in `RandomCrop` hasn't changed in 2 years, but we added a `pad_if_needed` argument (which is `False` by default) that could change the results.
If nothing in your code has changed, and only the torchvision version, then I'd say that the difference is

[2019-07-26 08:52] #1165 closed

[2019-07-26 09:05] fmassa commented on #1166
The models in `torchvision` are tailored for ImageNet-sized images (224x224).
We do not provide smaller versions of the models for 32x32 sized images.

Here is an example on how to train wide residual networks (a variant of resnet) on Cifar, reaching top performances https://github.com/szagoruyko/wide-residual-networks/tree/master/pytorch

[2019-07-26 09:05] #1166 closed

[2019-07-26 09:09] lpuglia commented on #1116
@fmassa I found out what my main problem was, I was using the `val` set for validation only.  However, to get good result on PASCAL VOC 2007 you are supposed to use `trainval` all together. Also, thanks to @hktxt comment I got 66% accuracy training from scratch (just 3% less than the expected). If anyone is intereseted here the highlights:

# Backbone
[code]
# Model
[code]
# Dataset
[code]
The onl

[2019-07-26 09:09] #1116 closed

[2019-07-26 09:32] fmassa commented on #1116
@lpuglia awesome, thanks for letting me know!

Also, did you add the visibility checks for the anchors in the RPN, as I mentioned in https://github.com/pytorch/vision/issues/1116#issuecomment-512731349 ?

This could maybe give the few remaining points left

[2019-07-26 09:36] lpuglia commented on #1116
@fmassa It was enabled the whole time, I don't know how much did it influenced the training, I'm gonna repeat the test commenting it out and let you know (my guess is that it doesn't change much)

[2019-07-26 10:16] hktxt commented on #1116
oh, that's a good news.
I'll try your training strategy. seems like most parts are the same, except the AnchorGenerator and dropout in vgg backbone.

[2019-07-26 10:24] lpuglia commented on #1116
@hktxt what dropout are you referring to in particular? (by the way i'm using a batch size of 4)

[2019-07-26 10:54] pmeier commented on #1132
Closed by #1167

[2019-07-26 10:54] #1132 closed

[2019-07-26 16:33] lpuglia commented on #1116
@fmassa removing the visibility check decrease the accuracy from 66 to 64%

[2019-07-26 17:09] fmassa commented on #1116
@lpuglia thanks for the info! Very helpful! I might include the visibility check again, as this gives a few more points on Pascal without FPN

[2019-07-27 15:05] JanBrauner opened #1175 "transforms.to_pil_image mishandles float type tensors that are not in range [0,1]"
transforms.to_pil_image() internally multiplies single-channel float tensors with 255 and then converts them to byte type. That leads to unexpected results when the value range of the float tensor is not between 0 and 1.

The doc doesn't state that values should be in [0,1], and indeed states that the correct mode for transferring to PIL image will be chosen automatically by dtype.  PIL does have

[2019-07-28 09:30] AA12321 opened #1176 "Loss is nan"
I'm trying to fine tuning the _fasterrcnn_resnet50_fpn_ model using the scripts in _vision/references/detection/_.

As sanity check first of all i have trained the model with `train.py` script with all default parameters on COCO2017, except for --pretrained -b 1 -j 4 and --device cuda (on Gtx 1070).

Getting the follow error:
`{'loss_classifier': tensor(nan, device='cuda:0', grad_fn=<NllLossBackwa

[2019-07-28 16:25] JanBrauner commented on #1175
I just realised that this issue was fixed by the latest commit 19 days ago (0c75d99d59bbc8e22e9dc40469c5b4ec1d742f03).

[2019-07-28 16:25] #1175 closed

[2019-07-29 01:09] hktxt commented on #1116
The BoxHead, if you print the net you'll see the dropout layer, however, it was droped in mine.
bs=4? I use bs=1 for trianing, got ~60%... no improvements....
I'll try later.

[2019-07-29 05:27] anmol039w opened #1177 "Architecture"
Hi , Why is the architecture of Resnet 18 differs from that available in Keras

[2019-07-29 08:33] lpuglia commented on #1116
@hktxt did you tried to add the visibility checks? how many images do you feed during the training?

@fmassa I'm still working on it and i can see that using caffe pretrained model gives another 1% on the final accuracy. I will try to close the gap more, did you removed anything else beside the visibility check?

[2019-07-29 09:07] fmassa commented on #1116
@lpuglia there are some other minor changes. Here is what I remember now.

## RPN loss

This can affect the results negatively for AP@50, but improves results for higher thresholds.
We are in here using `l1_loss` in the RPN https://github.com/pytorch/vision/blob/2287c8f2dc9dcad955318cc022cabe4d53051f65/torchvision/models/detection/rpn.py#L368-L372
while in [Detectron we use `smooth_l1_loss` with b

[2019-07-29 09:19] fmassa commented on #1177
We use stride in the 3x3 convolution because of historical reasons.
See the discussion in https://github.com/pytorch/vision/issues/457 (and linked issues), for more context.
I'm closing this issue in favor of https://github.com/pytorch/vision/issues/191

[2019-07-29 09:19] #1177 closed

[2019-07-29 09:24] fmassa commented on #1176
This looks a lot like duplicate from https://github.com/pytorch/vision/issues/1128 https://github.com/pytorch/vision/issues/1120 and https://github.com/pytorch/vision/issues/997

Could you try seeing if the solutions in those issues apply to your problem? I.e., seeing if you don't have a box with a zero width / height somewhere?

[2019-07-29 14:18] ShahriarSS opened #1179 "Implementing image reading functions"
# Proposal

We must have a function that reads images and converts it to a tensor in order to implement C++ datasets. I have written the said function [here](https://github.com/pytorch/vision/pull/1121) with ```OpenCV```. But using ```OpenCV``` just to read images is an overkill.

I suggest that we implement functions that read a specific format (for example a function that reads ```png``` images

[2019-07-29 15:11] #977 closed

[2019-07-30 00:52] jtlee90 commented on #1150
Thank you for notice! I will try it. I will check time and memory usage for that and let you know.

[2019-07-30 02:36] hktxt commented on #1116
I use trainval set which contains 5011 images for training, and test set contains 4952 images.
I also used RandomHorizontalFlip(0.5) for data augmentation.

1. In my expriment, trian from scratch is impracticable.  However, @lpuglia made it,  got 66%.
2. Use caffe pretrianed model I got 60% map, @lpuglia got one more gain. even use your params, got no improvements.
It's weird.

[2019-07-30 08:39] XushengLee commented on #1002
@soumith , @fmassa I change the the code to `torch.tensor(approx_scale, dtype=torch.float32)` in `torchvision/ops/poolers.py` as soumith said.
It worked for that error. But there came another error. I think it's about the `TorchScript` is not supporting maskrcnn's output format
here are the logging:
`
RuntimeError: Only tensors or tuples of tensors can be output from traced functions (getNestedOut

[2019-07-30 09:58] fmassa commented on #1002
@XushengLee adding support for TorchScript for all models in torchvision is in the plans, but it will still take a few months before we are there.

[2019-07-30 10:00] fmassa commented on #1150
Also, there is one more thing that is worth noticing: we use a different flavour of ResNet in torchvision, where the stride goes in the 3x3 convolution, instead of in the 1x1 convolution.
This makes memory usage for ResNet slightly larger as well.

[2019-07-30 12:17] fmassa commented on #1179
I think this goes in the right direction.

A few things we should also discuss:
- what should be the format that we will return from the image loading?
    - Should it be `CxHxW` or `HxWxC`?
        - The images are natively stored in `HxWxC`, but the default format we use in PyTorch is `CxHxW`
    - Should it be `uint8` in 0-255 or `float` in 0-1?
        - we had plenty of complaints about weird

[2019-07-30 16:19] remzr7 commented on #1002
@XushengLee you can fix the second error if you change how the outputs of the inference are put into a dictionary but rather just pass the tensors directly

[2019-07-30 18:04] ShahriarSS commented on #1179
Here is what I think:
+ Input image: I think that it's better if we use 0-1 ```float``` values in our tensors because they are eventually turned into float when training and such. This way other data types like ```int16``` and ```float``` can be turned into ```float```. Also I have currently implemented ```CxHxW```.  What is the point of keeping ```HxWxC```?
+ Separating reading and decoding: I ha

[2019-07-31 06:39] XushengLee commented on #1002
@remzr7 thank you for your help and I tried that, and it solved the problem of output.
But there is another error, and the logging is not as clear as before.
However, I think it regards the input format. I find out the maskrcnn in `torchvision.models.detection` takes in a list of channel-first image tensors at least during the evaluation, not a typical 4-D tensor.
[code]

[2019-07-31 11:36] jerofad opened #1182 "error: command 'gcc' failed with exit status 1"
So I am trying to install from source so as to use the torchvision models. But when installing, I ran into the following errors. I searched through the issues but none seems to be related to mine. Here is the error log
`Building wheel torchvision-0.3.0a0+2287c8f
running install
running bdist_egg
running egg_info
writing torchvision.egg-info/PKG-INFO
writing dependency_links to torchvision.egg-info

[2019-07-31 14:06] jacobhinkle opened #1185 "Shear parametrized improperly"
I believe the affine transforms in torchvision are parametrized improperly, due to handling shearing incorrectly.

PR #1070 contains a related discussion about the new two-axis "shear" parametrization. In this issue I'd like to focus on why even for a single axis the parametrization is slightly incorrect, then give a possible solution and a suggestion for enabling two axis shearing.

Typically we

[2019-07-31 15:34] remzr7 commented on #1002
Oh yes, I think you can also disable the GeneralizedRCNN Transforms that
the underlying GeneralizedRCNN Class applies, but instead perform the
transformations (i.e resize/to_tensor) before you do model.forward()

On Tue, Jul 30, 2019 at 11:39 PM XushengLee <notifications@github.com>
wrote:

[2019-07-31 18:45] fmassa commented on #1185
Thanks a lot for the detailed analysis!

I think your reasoning makes a lot of sense, and I'd be willing to change the behavior of the transform in torchvision to match what you described (but I haven't double-checked the computations though)

I'm ccing @vfdev-5 and @ptrblck , who have worked on this feature in the past and might have further insights.

Also, @jacobhinkle would you be willing to s

[2019-08-01 02:16] mark0620 commented on #1182
same issue
python 2.7
gcc 5.4.0
linux

[2019-08-01 06:33] vfdev-5 commented on #1185
@jacobhinkle thanks for hinting on that !
Just a small comment on that, maybe we would like to parametrize both shears in degrees between -89,99 and 89,99. And we probably should take care of the case when `1/cos(shear)` goes very high...

[2019-08-01 06:48] erichhhhho commented on #645
@fmassa Hi, may I ask if the resnet101 group norm pretrained on Pytorch is available now?

[2019-08-01 09:31] lpuglia commented on #1116
@fmassa I tried them both, the first actually decrease the accuracy for some reasons, the second makes no difference. I will train from scratch using COCO and then use transfer learning to see if i can get 70% on Pascal, thanks for the help!

@hktxt my advice is to make sure to have the visibility checks enabled and use the following class for conversion:
[code]
Also (I don't know if this is usefu

[2019-08-01 11:47] fmassa commented on #1179
I gave it a second thought, and I'm leaning towards the following:

## Image format

### float 0-1 vs original format

There have been a lot of feature requests from users about extending support for `to_tensor` and `to_pil_image` to handle particular edge cases. Those edge cases exist because of the implicit assumption that float should be in 0-1. But this breaks some things when people want to u

[2019-08-01 12:21] t-vi commented on #1179
I'm far from an expert but balancing the desire
- to have something that is "standard" (no dependency on file format, backend library, ...) as output by default,
- to be efficient (i.e. have something that is ideally "zero copy" after returning from the reading library), not lose information in preprocessing.

The cleanest way perhaps would be having a "one size fits all" recommended image reading

[2019-08-01 13:09] jacobhinkle commented on #1185
@vfdev-5 I agree shear needs to be bounded, unlike the other params. The case of shear=+-90 degrees is undefined. A ValueError could be thrown if the requested shear_x or shear_y ranges are >= 90. Shears anywhere near that bound are pretty pathological anyway and I would imagine most people using this option use shears of <10 degrees. @fmassa, happy to contribute a PR when I get a chance which wil

[2019-08-01 14:01] fmassa opened #1191 "[C++ Frontend] Most tests fail on OSX"
I've just tried running the tests for the C++ frontend on an OSX, with PyTorch nightly from today and torchvision from master, and most tests fail with an error similar to the following:

[code]

cc @ShahriarSS

[2019-08-01 14:20] ShahriarSS commented on #1173
Warnings:

[code]
This goes for most of the basic types here: ```with T = unsigned char```.

[code]

[code]

The first one is every where but the second one is in ```/home/shahriar/Music/vision/torchvision/csrc/cpu/ROIAlign_cpu.cpp``` and ```/home/shahriar/Music/vision/torchvision/csrc/cpu/nms_cpu.cpp```.

[2019-08-01 14:31] ShahriarSS commented on #1191
The problem is most likely in tests bindings and not in the models themselves. I'll look into it.

[2019-08-01 15:28] ezyang commented on #1173
I think you literally just have to change what header you import. The warning is bad because someone is trying to interpolate a string but that doesn't work in pragmas. The real error is:

[code]

[2019-08-01 20:18] ShahriarSS commented on #1179
So adding it all together:
+ Supporting the image formats of our datasets.
+ Having a simple function that reads files into memory.
+ Having a function that reads raw image from memory and keeps type and size and HWC. Also having a function that reads all the formats desired and returns a fixed type and size but actually using the raw functions to read the datasets.

@fmassa @t-vi does this make s

[2019-08-01 21:34] dashesy commented on #392
@neighthan `torchvision.ops.nms` seems to also support CUDA? the only issue is that it does not support batch numbers, that would be another dimension to benefit from CUDA parallelisation.
I have [this](https://github.com/microsoft/pytorch_od/blob/master/mictorch/nmsfilter.py) nms implementation that does.

[2019-08-02 07:58] jerofad commented on #1182
Hi @mark0620  so what I did is I decided not to build from source anymore. So I just updated my torchvision model to the latest version. 0.3.0. If you finally find a solution to building from source, do comment.

[2019-08-02 10:00] fmassa commented on #1182
@jerofad what is your PyTorch version?

Note that torchvision requires a very recent version of PyTorch

[2019-08-02 11:33] lpuglia commented on #1116
@hktxt FYI i can get easily 72% mAP using the example provided in [FasterRCNN](https://github.com/pytorch/vision/blob/master/torchvision/models/detection/faster_rcnn.py) source code using `mobilenet_v2` as backbone:
[code]
no need to modify the `BoxHead`.

[2019-08-02 16:58] jerofad commented on #1182
@fmassa  Pytorch version is 1.1.0

[2019-08-03 05:04] IgorDavidyuk opened #1195 "coco mask converting"
https://github.com/pytorch/vision/blob/4ec38d496db69833eb0a6f144ebbd6f751cd3912/references/detection/coco_utils.py#L170
Docs for MASK R-CNN claims that target should contain 'masks (``UInt8Tensor[N, 1, H, W]``)'
But the line of code above treats it like tensor with 3 dimensions. Catching errors.

[2019-08-03 16:16] Yaozuwu commented on #946
I also meet the same problem(issue 946). Do you fix it?

[2019-08-04 01:06] Lyken17 opened #1196 "Add ProxylessNAS models"
ProxylessNAS is a method proposed in https://arxiv.org/abs/1812.00332, which aims to _directly_ and _efficiently_ search CNN on **target task (CIFAR/ImageNet)** and **hardware (CPU/GPU/Mobile)**.

Because the direct specialization, ProxylessNAS is 1.8x times faster than MobilenetV2 (at ResNet50 level accuracy) and also has better accuracy / speed trade-off on different hardware

<img src="https://

[2019-08-04 20:04] ShahriarSS commented on #1173
@ezyang Apparenty including extension.h where you bind the functions is not enough. It needs to be included in all of the headers (I may be wrong here. I'll need to test this out). But apparently the other messages are not because of the code. I wrote a simple code here but when I build [this simple PR](https://github.com/pytorch/text/pull/582) I get a lot of similar messages.

[2019-08-05 00:16] fmassa commented on #946
@Yaozuwu we are currently working on a fix for it, see https://github.com/pytorch/pytorch/issues/23656

[2019-08-05 13:35] ezyang commented on #1173
Yes, I could believe that we need to avoid including `torch/torch.h` in all cases, to fix this.

[2019-08-05 14:18] GuangshengShi commented on #946
I meet the same problem. I solve it by downgrade torch(python=3.7 ----> 3.6)

[2019-08-05 14:41] Yaozuwu commented on #946
Thank you for your replay. Finally I fixed it by using pip.

[2019-08-05 14:49] zou3519 commented on #1172
@andravin @fmassa I dug into this a little by running some training jobs from scratch on 8 V100's and using different combinations of pytorch and torchvision versions.

The results were as follows:

| pytorch | torchvision | Best top1 acc | Epoch |
|---------|-------------|--------|-------|
| master  | master      | 71.806 | 292   |
| master  | 0.3         | 71.638 | 279   |
| 1.1     | master

[2019-08-05 15:01] soumith commented on #1172
closing based on @zou3519 's conclusion. It seems to be more around variance (+-0.2%) than any other factors. Also, he verified that master actually converges if you are on good initialization

[2019-08-05 15:01] #1172 closed

[2019-08-05 15:54] fmassa commented on #1172
Thanks a lot for the investigation @zou3519 !

[2019-08-05 16:02] fmassa commented on #1195
Good catch! This is indeed a bug in the documentation, and was introduced in https://github.com/pytorch/vision/pull/1089

I'm sending a PR fixing this

[2019-08-05 16:08] #1195 closed

[2019-08-05 16:10] fmassa commented on #1182
@jerofad this is not expected. TorchVision master works with 1.1.
I think your system might be picking a wrong python while compiling torchvision, which has an older version of PyTorch.

Anyway, we are working on having nightlies for torchvision, which should fix the issue for you as you'll be able to just install from the nightly

[2019-08-05 16:41] ShahriarSS commented on #1173
@ezyang I'll send a PR fixing this but the naming doesn't seem right. The models or datasets are not an extension to the Python API.

[2019-08-05 17:27] andravin commented on #1172
It might be a good idea to document the expected accuracy. @zou3519 's 7 experiments on pytorch 1.1 and torchvision 0.3 have a mean and standard deviation of **71.691 +/- 0.127**.

[2019-08-05 20:17] fmassa commented on #1172
@andravin this is a very good point. We unfortunately only have point metrics instead of distributions for the numbers. This is the case for most papers as well up to date, but there are some work proposing different ways of reporting metrics for evaluating families of models, e.g., https://arxiv.org/abs/1905.13214

[2019-08-05 20:52] fmassa commented on #1196
Hi,

Thanks for raising this issue.

More recently, there has been MobileNetV3 that has been implemented. Do you think there are advantages of ProxylessNAS over MobileNetV3?

[2019-08-05 20:59] fmassa commented on #645
@erichhhhho not in torchvision, as IIRC it doesn't bring performance improvements over the batch norm version.

[2019-08-05 21:08] andravin commented on #1172
@fmassa yah I think it is good that you currently report the ImageNet accuracy for the pretrained weights here https://pytorch.org/docs/stable/torchvision/models.html

I was making the point that the user does not know what accuracy to expect if they train the model from scratch.

But apparently there is no documentation about how any of the models were trained. So the user really has no way to re

[2019-08-05 21:12] fmassa commented on #1172
@andravin

Totally, you know what, I'll be putting a README now with the hyperparameters that I used to train the the models that we have in the modelzoo. Thanks!

[2019-08-05 21:19] Lyken17 commented on #1196
1. **Performance:** Compared with MobilenetV3, proxylessnas's accuracy is still competitive when tricks like      SE / Swish / special training schedule are not used.
      MobilnetV3 (75.2) / Proxyless-CPU  (**75.3**) / Proxyless-GPU (75.1) / Proxyless-Mobile (74.6)
2. **Hardware Specialization**: MobilnetV3 does not consider underlie hardware, but it is known that each platform has different pre

[2019-08-05 21:23] ezyang opened #1199 "Test suite doesn't skip tests when scipy is not available"
Example:

[code]

It shouldn't error in this case, just skip.

[2019-08-05 21:27] ezyang opened #1200 "Add a requirements.txt for testing dependency"
There are bunch of non-required deps which are needed to get full test coverage. It would be helpful if they were all collected somewhere, e.g., in a requirements.txt

[2019-08-05 21:28] andravin commented on #1172
Would also be good to know the training time and hardware spec (eg 8xV100).

[2019-08-05 22:18] manoja328 opened #1202 "VOC 2007 training help"
I am getting error where it cannot find the field masks for voc detection . Can somebody help me please. Thanks.
----------------------
assert all("masks" in t for t in targets)
AssertionError
-----------------------------

[code]

[2019-08-05 22:31] fmassa commented on #1202
Pascal VOC doesn't have the segmentation masks field. Try using `fasterrcnn_resnet50_fpn` instead, which is for object detection.

[2019-08-05 22:31] #1202 closed

[2019-08-06 07:01] IgorDavidyuk opened #1204 "evaluation script runs wrong cuda devise"
https://github.com/pytorch/vision/blob/7253e816355984ec804e9a55bf5e997bfb8a6581/references/detection/engine.py#L86
torch.cuda.synchronize(device=None) takes the cuda device name as a parameter, if nothing is given it uses current_ cuda device which is not always the one intended for use.

Moreover, the evaluation script implies that the model is loaded on the same device that passed as an argument

[2019-08-06 14:49] ezyang commented on #1173
Hmm, maybe hold off.

Are you saying that these includes occur from C++ only headers? In that case, it definitely is wrong to switch them to `extension.h`. So perhaps the chain of problem is that these headers are transitively included from a Python extension, and then we trigger the warning. Hmm... I'm not so sure what to do; maybe the warning is wrong in the first place.

[2019-08-06 16:46] fmassa commented on #1204
Hi,

Good questions!

If running on a single device, the current recommended way of choosing a different device is to use `CUDA_VISIBLE_DEVICES` environment variable.
[code]
Plus, the model can potentially be on multiple devices as well, so care should be taken when using it. We generally use a single GPU per process, so this is fine in most cases.

Yes, but as there is no reliable way of getting

[2019-08-06 17:02] #1199 closed

[2019-08-06 19:35] manoja328 opened #1206 "torch.utills.save_image modifying the original tensor"
I think it makes sense to just save the tensor as image without modifying it. But looks like it modifies it.

[2019-08-06 19:56] ShahriarSS commented on #1173
@ezyang The problem is that these headers (models headers) are both the public C++ API and included in ```test/test_models.cpp``` (to be able to compare them to python API). So they are directly included in extension code. I just think that public C++ API headers should include ```torch/torch.h``` and not ```torch/extension.h```.

[2019-08-06 20:28] fmassa commented on #1206
Thanks for opening the issue!

This seems like a corner case in `make_grid` which doesn't return a copy, but a view.
I think a solution would be to make a clone in https://github.com/pytorch/vision/blob/6c7189fcada6f95ab615e08838b1d7fdb148c268/torchvision/utils.py#L69-L70
or, more simply, replace the first `mul_` in
https://github.com/pytorch/vision/blob/6c7189fcada6f95ab615e08838b1d7fdb148c268/to

[2019-08-06 20:51] ezyang commented on #1173
Yes, I'd agree with you.

[2019-08-07 00:14] fmassa commented on #1185
@jacobhinkle a PR would be great!

[2019-08-07 05:32] ShahriarSS commented on #1173
So @ezyang what should we do here?

[2019-08-07 06:26] IgorDavidyuk commented on #1204
I guess there is no easy solution

[2019-08-07 14:23] ezyang commented on #1173
I'm thinking we should remove the deprecation warning from PyTorch itself. I'm halfway about whether or not we should force c++ extension writers to include `torch/extension.h` to get pybind bits. Do you want to submit this patch?

[2019-08-07 16:40] manoja328 commented on #1116
Hey guys @fmassa @lpuglia  thanks for the great discussion. I followed and modified some of your code to train for Object detectoin in pascal VOC 2007 . I also followed and borrowed code from the pytorch tutorial for 'transfer learning for object detection for Penn Fudan dataset' especially to evaluate the model.  However I didnot get any good mAP results. I will attach the code below. Could you c

[2019-08-07 16:43] fmassa commented on #1116
@lpuglia I think we should add one example with Pascal VOC somewhere. If you could send an initial PR, I could look into improving it and merging it in torchvision.

[2019-08-07 17:04] manoja328 commented on #1116
Great I think that would be good.

[2019-08-07 17:09] bonlime commented on #1049
As far as I understand the new Efficient Net from Google uses Histogram Equalization during inference. So it would be nice to have such augmentation in `torchvision.transforms`

[2019-08-07 17:40] ShahriarSS commented on #1173
The patch only removes the deprecated warning message? If so then I'll open a PR for it in PyTorch.

[2019-08-07 19:13] zakajd commented on #1049
Looks like this histogram matching feature has already been requested before in #598 and was implemented in #796 but hasn't been merged.
I've implemented a much simplier version identical to the one in `PIL.ImageOps.equalize`.
[code]

[2019-08-07 19:23] ezyang commented on #1173
sure

[2019-08-07 22:45] manoja328 opened #1213 "There is also another lr_scheduler inside the train_one_epoch function ? any reason? Thanks"
https://github.com/pytorch/vision/blob/64ccfe34044e020b2120a4fcfa2651bd8d802a40/references/detection/train.py#L117

[2019-08-08 07:20] lpuglia commented on #1116
@fmassa this is a good idea, very often beginners do not have the power to crunch all the data in coco, VOC is much easier to start with.

[2019-08-08 12:51] EmilioOldenziel commented on #1213
@manoja328 its only used in the first epoch to warmup the lr from 0 to the set lr. Check lines 19 to 24 in engine.py on how it is initialized.

[2019-08-08 13:21] lpuglia commented on #1116
@fmassa here is the pull request:
https://github.com/pytorch/vision/pull/1216
it should work out of the box.

[2019-08-08 15:49] #1213 closed

[2019-08-08 21:45] CCareaga opened #1220 "Add stream flag to io.read_video"
The `torchvision.io.read_video` function does not have an option to exclude reading certain streams.

I would like to be able to load the frames of a video without loading audio.  In order to do this I had to use internal functions like so:
[code]

Obviously this exposes the PyAV backend, therefore I envision two options:
- functions for video only, audio only, and both.
- optional parameters adde

[2019-08-09 10:12] bjuncek opened #1221 "Audio-video synchronization conceptual issue"
It seems that `_read_from_stream` [function](https://github.com/pytorch/vision/blob/8635be94d1216f10fb8302da89233bd86445e449/torchvision/io/video.py#L77)  assumes `pts` to be globally consistent across the streams when that might not necessarily be the case.

Specifically the [pyav docs](https://docs.mikeboers.com/pyav/develop/api/frame.html) state that `pts` is  _The presentation timestamp in tim

[2019-08-09 10:27] bjuncek commented on #1220
I feel like this would be a really useful feature to have. From my perspective, it seems like the easiest option would be to have `read_video` take an extra parameter that is set to `av` by default.

Then, if one want to hack on top of that, one simply needs to add a `get_clip_video` function to `VideoClips`.

@CCareaga are you interested in taking a stab at this?

[2019-08-09 14:43] iyah4888 commented on #1221
Thank you, @bjuncek, for moving this issue to the official repository.

Another option could be to use absolute time scale (second) as a unified unit.
Since each stream has their own time base, by multiplying PTS and its time base, `(PTS for a stream)*(TIME_BASE corresponding to the stream)`, we can unify the semantic meaning of time stamp into the absolute time, seconds.
Would it be more intuitiv

[2019-08-09 16:37] CCareaga commented on #1220
Yeah, I will take a first shot at implementing it.

[2019-08-09 19:59] bityangke opened #1223 "No ImageNet pretrained model of deeplabv3_resnet101"
Thanks very much for the amazing repo.
Why not provide ImageNet pretrained model of deeplabv3_resnet？
I believe it is very important for researchers who want to use torchvision seg models.
A pretrained model on 20 classes subset of coco is of very limited significance.

[2019-08-10 10:57] 1e100 commented on #1163
#1224 contains the fix for MNASNet models other than 1.0. 1.0 remains the same, so the old checkpoint still works. I'm currently working on a better checkpoint for 1.0. The PR contains a slightly better checkpoint for 0.5 though. Pity it was late for 0.4 release train, but better late than never.

[2019-08-10 11:20] ShahriarSS commented on #1179
OK. So these are the results and I have started implementing. Closing this.

[2019-08-10 11:26] ShahriarSS opened #1226 "[Don't Close] Replacing PIL and OpenCV"
Here is a TODO list of the replacing process.
+ [ ] Reading image files into memory
+ [ ] Reading PNG images from memory
+ [ ] Reading JPG images from memory
+ [ ] Having a single function that reads the implemented image types.
+ [ ] Having a function that reads the implemented image types and returns a fixed type and format and ```CHW```.
+ [ ] Replacing ```PIL```

[2019-08-10 11:43] Jonas1312 commented on #1169
Image segmentation is a fairly common application nowadays.

For now I'm using this https://github.com/Jonas1312/pytorch-segmentation-dataset but it would be nice if torchvision could support data/mask augmentation natively.

[2019-08-10 14:04] MrinalJain17 opened #1227 "Consistent argument names for video datasets and VideoClips class"
First of all, the new support for Video data is amazing. Really useful. 😃

Just when I was going through the code of the video datasets and utilities, I found this a bit confusing.

Sample Dataset:
https://github.com/pytorch/vision/blob/8635be94d1216f10fb8302da89233bd86445e449/torchvision/datasets/ucf101.py#L27-L36

`VideoClips` class:
https://github.com/pytorch/vision/blob/8635be94d1216f10fb8302d

[2019-08-10 20:33] FilipAndersson245 opened #1228 "Latest version nonexisting on windows"
TorchVison is broken on Windows as the current version available is v0.3
This is using the new PyTorch v1.2.

[2019-08-10 22:04] anemes commented on #1018
I am encountering the same issue with `conda install pytorch torchvision cudatoolkit=10.0 -c pytorch`

[code]

[2019-08-11 00:42] peterjc123 commented on #1018
@anemes Yes, that's because we didn't upload torchvision 0.4.0 for Windows. I'll tell you when it's ready.

[2019-08-11 06:18] peterjc123 commented on #1228
There's no need to post these everywhere. I'll handle this.

[2019-08-11 06:18] peterjc123 opened #1229 "Several tests fail on Windows with 0.4.0"
Test log:
[code]

[2019-08-11 06:24] peterjc123 commented on #1229
After checking the test code, I'm a bit uncertain about the tests in `test_cpp_models.py`, but other test failures should be safe to ignore.

[2019-08-11 06:40] wangg12 opened #1230 "[question] About batch_size and learning rate in references/detection/train.py?"
Hi @fmassa ,
In `references/detection/train.py`, does the `batch_size` refer to `images_per_gpu`?
And is `lr`  corresponding to the total batch size `images_per_gpu x $NGPU`?

Accordingly, if I want to use the linear scaling method for setting the learning rate for single GPU, should I set `args.lr = lr / $NGPU` and keep `args.batch_size = images_per_gpu`?

[2019-08-11 06:40] peterjc123 commented on #1229
It seems the cpp extension tests are disabled on OSX, so I believe they may be similar issues. I'll skip them during release.

[2019-08-11 19:00] timonbimon opened #1231 "Densenet throws Output size too small error on 0.4.0"
Hi there,

When trying to update torchvision from 0.3 to 0.4 one of my integration tests that tries to train a DenseNet121 now throws the following error:

[code]

We are using very small images (28x28x3), so I assume this is the cause, but everything was working fine with torchvision 0.3.0

I also already found this commit (https://github.com/pytorch/vision/commit/2cae9509932120553578bf41a93c9309

[2019-08-12 01:56] peterjc123 commented on #1228
They should be available now.

[2019-08-12 08:18] lyp-deeplearning commented on #1133
@fmassa @apache2046 when i use the  x = torch.flatten(x, 1) to generate my new resnet model,there is a new problem happended when i export my model to onnx format:
`Traceback (most recent call last):
  File "export_onnx.py", line 53, in <module>
    main()
  File "export_onnx.py", line 47, in main
    torch.onnx.export(car.model,input,"gender_thin2.onnx",verbose=True)
  File "/home/yusheng.zeng/so

[2019-08-12 08:31] lyp-deeplearning opened #1232 "ONNX export failed: Couldn't export operator aten::flatten"
@ezyang @smartkiwi when i use the x = torch.flatten(x, 1) to generate my new resnet model,there is a new problem happended when i export my model to onnx format:
Traceback (most recent call last): File "export_onnx.py", line 53, in <module> main() File "export_onnx.py", line 47, in main torch.onnx.export(car.model,input,"gender_thin2.onnx",verbose=True) File "/home/yusheng.zeng/softmare/Anaconda2.

[2019-08-12 09:01] fmassa commented on #1213
@EmilioOldenziel is right, this is for warmup.

I also considered if we should follow a similar approach as in the `video_classification` training script, where we pass a combined `lr_scheduler` instead, so that we don't need to have two schedulers, but there are no significant gains from now, but requires having to write a new scheduler.

[2019-08-12 09:18] fmassa commented on #1223
Hi,

`deeplabv3_resnet101` is a semantic segmentation model. ImageNet is a dataset for image classification, so we do not have exactly the same setup there to be able to provide models for `deeplabv3_resnet101` trained end-to-end in ImageNet.

We do however accept a `pretrained_backbone` flag in the segmentation models https://github.com/pytorch/vision/blob/8635be94d1216f10fb8302da89233bd86445e449

[2019-08-12 09:18] #1223 closed

[2019-08-12 09:22] fmassa commented on #1227
Good catch, having different names is indeed not great and we should strive to have a single name.

I should have unified those naming differences before the release, but I didn't know which one to pick and I ended up forgetting.

I'm yet unsure about which names are better though. @bjuncek do you have any opinions here?

[2019-08-12 09:24] fmassa commented on #1229
@peterjc123 the `test_cpp_models.py` can be safely ignored. We should skip it on Windows as well.

cc @ShahriarSS

[2019-08-12 09:30] fmassa commented on #1230
And is lr corresponding to the total batch size images_per_gpu x $NGPU?

@wangg12 `batch_size` is indeed `images_per_gpu`.
The `lr` is the final `lr` that should be used, which corresponds to the `lr` for the `images_per_gpu x n_gpu` batches indeed.

Yes, if you want to use a single GPU for training, you should modify the `lr` to be `lr / 8`, as the default learning rate value assumes 8 GPUs.

It

[2019-08-12 09:30] #1230 closed

[2019-08-12 09:36] peterjc123 commented on #1229
@fmassa Do you want to add CI tests or nightly builds for this project? For CI tests, we may need to create a new pipeline in https://dev.azure.com/pytorch/PyTorch. @ezyang

[2019-08-12 09:41] fmassa commented on #1231
@timonbimon can you provide a minimum script reproducing the problem?

I've tried locally with a very recent PyTorch and TorchVision, and it works fine for me

[code]

[2019-08-12 09:42] fmassa commented on #1228
@peterjc123 can we close this?

[2019-08-12 09:43] fmassa commented on #1018
@peterjc123 now that the new Windows binaries are available, can we close this?

[2019-08-12 09:49] wangg12 commented on #1230
Thanks, I can send a PR to explain them better in the code.

[2019-08-12 09:50] timonbimon commented on #1231
here it is:

[code]

[2019-08-12 09:51] peterjc123 commented on #1228
Yes

[2019-08-12 09:52] peterjc123 commented on #1018
Yes, please.

[2019-08-12 09:53] fmassa commented on #1231
Ok, thanks for the repro, I'm having a closer look.

[2019-08-12 09:54] timonbimon commented on #1231
weirdly enough:

[code]

size (29,29) seems to work just fine...

[2019-08-12 10:01] fmassa commented on #1231
Ok, I managed to reproduce the problem.

This is a change in behavior that was introduced in PyTorch. I'm chasing the offending commit.

[2019-08-12 10:40] #1018 closed

[2019-08-12 11:30] fmassa commented on #1231
So, it seems that there was a change with the shape checks in the `AvgPool2d`.

For now, a possible workaround is to do
[code]
and the results should work for you.

Now, the question is if it was a problem with the previous shape check or not, and this I should still investigate.

[2019-08-12 11:43] fmassa opened #1234 "Improve testing for models"
We currently have very limited testing for the models in `torchvision`.

In most cases, we only test for the output shape to be correct, see
https://github.com/pytorch/vision/blob/8635be94d1216f10fb8302da89233bd86445e449/test/test_models.py#L29-L59
While this allows to catch bugs such as Py2-Py3 differences, it is not enough to ensure that refactorings of the models keep the behavior the same (and

[2019-08-12 11:45] bjuncek commented on #1227
I think `clip_length_in_frames` and `frames_between_clips` make more sense, but I'm open for discussion :)

[2019-08-12 11:58] #1228 closed

[2019-08-12 11:58] fmassa commented on #1228
Thanks @peterjc123 for all your help!

[2019-08-12 12:00] fmassa commented on #1229
@peterjc123 we have CI for `torchvision`, but it currently only run for Linux (and that's why OSX and Windows are broken for C++ models).

It would be great to extend the support in CI for OSX, Windows and CUDA though.

[2019-08-12 12:06] fmassa commented on #1227
So, from the current discussion, @bjuncek prefers the names that are currently used in `VideoClips`. I like them because they are very explicit, but they are a bit too long maybe.

One action point would then be to modify the 3 datasets (UCF101, Kinetics400 and HMDB51) to take the same names as `VideoClips`, while keeping proper deprecation warning for the old names.

Thoughts?

[2019-08-12 12:55] peterjc123 commented on #1229
@fmassa Yes, I'm talking about windows ci.

[2019-08-12 14:58] as754770178 opened #1235 "undefined symbol: THPVariable_Wrap"
I install `vision` from source. when I exec `vision/test/test_models.py`, the program report error.

[code]

[2019-08-12 15:29] ezyang commented on #1229
@peterjc123 If we have a azure-pipeline yaml file I can turn it on for the repository (for some reason, Azure seems to require the yaml exist somewhere before you can actually turn it on)

[2019-08-12 16:10] bjuncek commented on #1227
Sounds good to me.

[2019-08-12 16:51] fmassa commented on #1231
We need to further investigate if you were hitting a particular corner case (which was not expected to work, but just did), or if this is a regression in `AvgPool2d`.
I won't have the time to look more closely before a couple of weeks, so if anyone can have a look at this, it would be great.

cc @ezyang TL;DR: something in the behavior of `AvgPool2d` has changed between `'1.2.0.dev20190704'` and `

[2019-08-12 16:53] fmassa commented on #1235
@as754770178 are you using PyTorch 1.2 that was released, or a nightly build?

Note that `torchvision` 0.4 *requires* PyTorch 1.2, and not the nightly

[2019-08-12 18:36] fmassa opened #1236 "[Announcement] On holidays until August 23rd"
For information, I'll be on holidays for a couple of weeks starting of today.
I'll have limited to no connectivity during this time.

I'll be back on August 23rd, and will be addressing all issues / PRs that appears after I'm back.

[2019-08-12 18:53] ezyang commented on #1231
We landed this emergency fix e6f9422acae251cf1e6a2680b98aef217b40d8f0 in 1.2.0; if it's not showing up on master this is the most likely culprit. I'm reinspecting the diff right now.

[2019-08-12 18:58] ezyang commented on #1231
Actually, it's probably https://github.com/pytorch/pytorch/pull/22304

I haven't checked closely enough to tell if this is intended behavior or not

[2019-08-12 19:11] fmassa commented on #1231
Note: I've just tested with PyTorch nightly from today, and the difference in behavior persists.

[2019-08-12 19:16] fmassa commented on #1221
This sounds like a sensible thing to do, and we should probably convert to a global reference (for example, seconds or a converted pts wrt video).

I'd be glad to accept a PR fixing this. But it would be great as well to have proper tests for this, so that we make sure we don't break this in the future.

[2019-08-12 19:24] fmassa commented on #1116
Thanks @lpuglia for the PR!

I'll have a closer look to the PR (and get it merged) once I'm back from holidays

[2019-08-12 23:25] as754770178 commented on #1235
my vision is `torchvision-0.5.0a0+8635be9-py3.7-linux-x86_64.egg`

[2019-08-13 02:24] Lyken17 commented on #1196
@fmassa Any suggestions for making a PR?

[2019-08-13 08:52] lpuglia opened #1237 "[BUG] VOC PASCAL is missing one image_set"
I was just trying out the new pytorch (1.2) and torchvision (0.4) when I encountered a problem in loading VOC `test` set, as you can see in the following locations:
https://github.com/pytorch/vision/blob/v0.4.0/torchvision/datasets/voc.py#L87
https://github.com/pytorch/vision/blob/v0.4.0/torchvision/datasets/voc.py#L164

the `verify_str_arg` is missing one valid dataset (the `test` one), adding `t

[2019-08-13 10:22] pmeier commented on #1237
According to the docstring

https://github.com/pytorch/vision/blob/a1ed206ff422f7e9a49c63d4b507ec3aa5fb770d/torchvision/datasets/voc.py#L61

`"test"` is not a valid argument for `image_set`. I'm not familiar with `VOC`, but in general we don't include the `test` split, since we have no labels for it.

[2019-08-13 11:48] lpuglia commented on #1237
The fact is that for VOC the labels for `test` are available alongside with the other `image_set`, they all have the same format and there is no point in not allowing them

[2019-08-13 12:20] pmeier commented on #1237
In that case, we should indeed include it. Could you open a PR?

[2019-08-13 12:50] lpuglia commented on #1237
here you are:
https://github.com/pytorch/vision/pull/1238

[2019-08-13 12:50] #1237 closed

[2019-08-13 13:04] lpuglia commented on #1237
there are some little changes to make, i will make another PR

[2019-08-13 13:21] Toulik1729231 commented on #1062
Use torchvision 0.2.2

[2019-08-13 13:42] ezyang commented on #1231
The call to F.avg_pool2d which fails has inputs `(torch.Size([2, 512, 1, 1]), 2, 2, 0, False, True, None)`

[2019-08-13 13:46] ezyang commented on #1231
By the documentation: `H_out = floor((1 + 2*0 - 2) / 2 + 1)`, which should result in `H_out = 0`. So this behavior is expected per the documentation. Use of `ceil_mode` here seems like the appropriate resolution.

[2019-08-13 13:46] #1231 closed

[2019-08-13 13:58] timonbimon commented on #1231
thanks for investigating! :)

I ended up just re-sizing the images in our integration test to 29 instead of 28 (which feels a little arbitrary but so be it), since we anyways only use images that small in our tests and not during training or inference.

[2019-08-14 17:50] willprice commented on #855
@JuanFMontesinos you might also be interested in https://torchvideo.readthedocs.io/en/latest/

[2019-08-14 18:36] fbbradheintz commented on #1234
I'm on it, @fmassa - I'll post a comment here here with a plan.

[2019-08-16 19:12] lara-hdr commented on #1232
What version of Pytorch are you using?
torch.flatten should be supported since https://github.com/pytorch/pytorch/pull/16240.

[2019-08-16 20:18] 17sarf opened #1245 "Using 2 or more images for training"
I am working on a multispectral problem where i want to use the Faster R-CNN for pedestrian detection. I have been working with deep learning models now for a few months in PyTorch so I have a basic understanding of the architecture of deep learning models. What I would like to do is feed 2 images (e.g. RGB and thermal) with their annotations. So the output of my dataset class is visual_image, the

[2019-08-16 23:32] JMistele opened #1246 "HMDB51 Dataset mislabeling nearly all videos"
HMDB51 torchvision utility is mislabeling the gross majority of videos in the dataset. The following snippet should be sufficient to reproduce clear symptoms of the bug. Replacing `HMDB_videos` and `HMDB_annotations` with the appropriate directory, this snippet should run for about a minute on ~8 CPUs.

[code]
We would expect the `class_counts` dictionary to contain even counts for each of the 51

[2019-08-16 23:35] JMistele commented on #1246
I've pushed a succinct code change to hmdb51.py that resolves the issue cleanly.

see: https://github.com/pytorch/vision/pull/1240

[2019-08-17 09:07] fmassa commented on #1246
@bjuncek could you have a look at this issue? I'll check it more closely once I'm back from holidays on Aug 26th

[2019-08-17 09:13] fmassa commented on #1246
I had a look and it indeed seems to be a problem. But this problem should also exist for UCF101

[2019-08-17 09:59] bjuncek commented on #1246
@fmassa I'll take a look at the PR, and leave the review but you'll have to approve it :)

[2019-08-17 17:59] rkruegs123 opened #1247 "fasterrcnn_resnet50_fpn silent error"
When you pass in bounding boxes for training that are beyond the dimensions of the images, no error is thrown.

[2019-08-18 03:45] JuanFMontesinos commented on #855
@willprice thanks! It looks really nice

[2019-08-19 09:31] colin-byrneireland commented on #1018
conda install pytorch torchvision cudatoolkit=10.0 -c pytorch worked for me.
I'm using latest version on anconda for windows, thks for th workaround.

[2019-08-19 12:42] bjuncek commented on #1221
Added a simple PR to fix it - lets maybe discuss ways to test sych (and audio in general) offline?

[2019-08-20 06:23] jtlee90 commented on #1150
Hello again. I was on looooong vacation so that I couldn't focus on this much.
Anyway, I analyze the w/ batched_nms and w/o. It turns out that it use more memory but a little.
On 2 batch size, less than 500mb... so... I don't think this is a main problem.

I pull out all preprocess step from a model to be same as `maskrcnn-benchmark` except data_loader.  I removed aspect_ratio group loading part o

[2019-08-20 07:53] jtlee90 commented on #1150
More detailed information about what I am using configuration
1. For `torchvision`, same as  torchvision detection tutorial(colab)[https://colab.research.google.com/github/pytorch/vision/blob/temp-tutorial/tutorials/torchvision_finetuning_instance_segmentation.ipynb]
2. For `maskrcnn-benchmark`, I am using this config file: https://github.com/facebookresearch/maskrcnn-benchmark/blob/master/configs

[2019-08-20 09:41] as754770178 commented on #1235
Thanks

[2019-08-20 15:20] as754770178 opened #1250 "where to download dataset"
when I run `vision/references/classification/train.py`, where to download `datasets01/imagenet_full_size/061417`?

[2019-08-20 18:35] erobic opened #1252 "Confusion about generating anchors"
Hi,
The `grid_anchors` function inside `AnchorGenerator` class of `rpn.py` has the following loop:
[code]

Wouldn't we instead want something like this, so that every combination of size, stride and anchor size is taken care of?

[code]

I am trying a network without FPN. There was only one element in `grid_sizes` and `strides`, so the original logic was only outputting the very first anchor size

[2019-08-20 19:38] erobic commented on #1252
Similar confusion with `num_anchors_per_location` function in rpn.py

[code]
Doesn't this assume that `self.sizes` and `self.aspect_ratios` have same number of elements?

[2019-08-20 19:56] erobic commented on #1252
Never mind, I realized that the correct way specifying anchor sizes without FPN would be having a tuple which has single tuple as its element e.g.,: `anchor_sizes=((3, 6, 9, 12),)`

[2019-08-20 19:56] #1252 closed

[2019-08-20 20:06] fbbradheintz commented on #1234
My current plan:

* Introduce fixed seeds for all pseudo-random processes.
* Provide known inputs to pseudo-randomly initialized models. (With the fixed seeds, this should have the same effect as using a set of fixed weights.)
* Pass input to the model.
* Check a sampling of output values from the output tensor - enough to provide high statistical confidence that the whole output is correct withou

[2019-08-20 21:52] muna-cs opened #1253 "Human silhouette extraction by DeepLab & FCN"
Can we use the DeepLabV3 and FCN for human silhouette extraction?
if yes, Are they good selection for this task?

[2019-08-21 06:29] baiyongrui opened #1254 "Question about Faster R-CNN ResNet_FPN backbone"
I was wondering the function resnet_fpn_backbone defined in [https://github.com/pytorch/vision/blob/master/torchvision/models/detection/backbone_utils.py](url), why freeze layers except layer2,layer3 and layer4? Why the first conv7x7 and layer1 also need to freeze?
Thanks!

[2019-08-21 06:55] mkielak opened #1255 "AnchorGenerator not working in parallel"
There is problem with AnchorGenerator when using it parallel. The cause of the problem is in     `def cached_grid_anchors(self, grid_sizes, strides):`
cache key should contain device id. In existing implementation you can get tensor from forward() on completely different gpu than image_list and feature maps.
cached_grid_anchors can be implemented as:
[code]
and call inside forward method:
```ancho

[2019-08-21 16:07] YradenRavid opened #1256 "loss_box_reg graph is increasing"
Hi,

I'm training faster rcnn with torchvision and loss_box_reg graph from loss_dict['loss_box_reg'] is slowly increasing. Everything else seems normal. Why is that?
https://github.com/pytorch/vision/blob/v0.3.0/references/detection/engine.py#L30

![Screenshot 2019-08-21_19-03-07-896](https://user-images.githubusercontent.com/39432202/63448365-6dc6a300-c446-11e9-8f21-528602517a06.png)

Thanks,

Ya

[2019-08-21 17:42] dashesy commented on #720
It is fairly straightforward to add the simple module (many people do), I have this and plug it before FC layer.

[code]

but unless it is part of the official PyTorch many people will not use it.
As also requested [here](https://discuss.pytorch.org/t/add-reshape-nn-module/53881)

Looking at the `torchvision.models.resnet34` this is forward:

[code]

This means `resnet34` could have been

[code]
N

[2019-08-22 10:40] RomainSabathe opened #1257 "Hard requirement of torch==1.2.0?"
Hello, I'm revisiting the dependencies for my project and I haven't done that in a long time. I have been using torch 1.1.0 for quite a while; I am confident my code works with it. However it seems like torchvision now requires torch 1.2.0. Here's the output from poetry (pipenv gave a more verbose but essentially same output):

[code]

Is this intended or is this a 'bug'? Am I missing something? T

[2019-08-22 11:58] EmilioOldenziel commented on #1254
Not a complete answer, but I would say it is because the conv7x7 takes a lot of time to compute (and so even more to backpropagate) and is very unlikely to change since it is pre-trained on ImageNet. This is probably the same for the first layer.

[2019-08-22 15:27] gaussiangit opened #1258 "Maskrcnn with different backbone"
@fmassa How can we add more resnet backbones to existing mask rcnn model ? Currently it supports only resnet50.

[2019-08-23 01:17] soumith commented on #1257
this is not intended to be a bug. you can use torchvision 0.3.0 to use with pytorch 1.1.0

[2019-08-23 01:54] Multihuntr commented on #1257
The Pypi description for 0.4.0 still says:

But if you have PyTorch 1.1 installed, then installing `pip install torchvision==0.4.0` with miniconda will remove PyTorch 1.1 and install PyTorch 1.2

[2019-08-23 03:23] soumith commented on #1257
whoops, the pypi description needs to be fixed.

[2019-08-23 03:53] jtlee90 commented on #1258
When you call this function to define your model `torchvision.models.detection.__dict__['FasterRCNN']`
you can set your backbone like this:
`torchvision.models.detection.__dict__['FasterRCNN'](backbone, num_classes = 2, anchor_generator)` of course you can set your own anchor_generator as well.

The most simple way to put other backbone is
using torchvision supported model. Ex) `backbone = torchvi

[2019-08-23 06:24] jtlee90 commented on #1150
@fmassa Finally, I figured out what is the problem.
First, It is not a problem of the optimization. I compared # of parameters in FRCNN in torchvision and maskedrcnn-benchmark and turns out that difference is less than 1%.
So, I conclude that usage difference comes from the computation!

Finally, I found that the configuration that I was used actually employed fixed batch normalization so that the

[2019-08-23 06:34] AFutureD commented on #1116
@lpuglia
Hello friends, I have spent two weeks on torchvision.fasterrcnn_resnet, unfortunately, I still have not been able to complete the training. Can you provide me some training network code for me? thank you very much! My email is afuture0@outlook.com.

[2019-08-23 12:37] lpuglia commented on #1116
@AFutureD Here is the pull request code:

https://github.com/lpuglia/torchvision_voc

it uses resnet as default backbone

[2019-08-24 18:41] vincentqb opened #1261 "Scheduler called at each step, instead of epoch."
I noticed in the [tutorial](https://pytorch.org/tutorials/intermediate/torchvision_tutorial.html) that the scheduler is called at the end of each epoch, as expected. However, I noticed that `train_one_epoch` also calls the scheduler after each image: see [here](https://github.com/pytorch/vision/blob/master/references/detection/engine.py#L49). Do I understand engine correctly?

[2019-08-25 11:04] prajjwal1 commented on #1261
Yes, it's a batch of image tensors (not just one image if bs>1). `lr_scheduler` is being called twice.

[2019-08-26 09:40] KeyForce opened #1263 "VOCSegmentation"
[code]

* ERROR:
**DIR**     /torchvision/datasets/voc.py
img, target = self.transforms(img, target)
TypeError: __call__() takes 2 positional arguments but 3 were given
* Chnage:
separation the img transforms and target transforms ?

[2019-08-26 10:21] pmeier commented on #1263
You are passing a image transform `ToTensor` as joint transform for images and targets:

https://github.com/pytorch/vision/blob/0bd7080c6fa4d8a07f34aa66caf10683824e5b82/torchvision/datasets/voc.py#L69-L70

If you don't need a transform for your target, simply change the instantiation call to

[code]

Note the change from `transforms` to `transform`.

[2019-08-26 11:30] KeyForce commented on #1263
@pmeier Thank you!!!!
`train_data = VOCSegmentation(root='/home/hanwei-1/', year='2007', image_set='train',
                                  transform= transforms.ToTensor(),
                                 download=False)`
this did not work
`TypeError: batch must contain tensors, numbers, dicts or lists; found <class 'PIL.PngImagePlugin.PngImageFile'>`

I think need to transform img and target

[2019-08-26 12:05] pmeier commented on #1263
Could you please post the actual code where this error occurred? Simply doing this works fine

[code]

and prints:

[code]

---

No, it is not. It is intended as joint transform and thus **cannot** be used with a single image transfomr such as `ToTensor()`. If you use the parameters `transform` and `target_transform` they are internally converted into a joint transform:

https://github.com/pytorch

[2019-08-26 12:26] KeyForce commented on #1263
I want to use one argument `transforms` to complete transform img and target
But this argument cannot work

[2019-08-26 12:31] pmeier commented on #1263
You still haven't shown us any code. Please do that.

---

Do you want to have the same transformation applied to both the image and target? If yes, you could simply do

[code]

[2019-08-26 12:35] KeyForce commented on #1263
Yes
I use the same transformation
[code]

[2019-08-26 12:53] pmeier commented on #1263
I'm still lost: this does not throw an error. Do you still have a problem or is everything working as expected?

---

On a site note:

- If you want to use the same transform for both image and target, its better to create it upfront and pass it twice instead of creating it twice within the call.

[code]

- Do you really want to resize your images to `(100, 100)`? Since this ignores the aspect rat

[2019-08-26 13:07] #1258 closed

[2019-08-26 14:21] fmassa commented on #1234
@fbbradheintz This sounds good to me!

The PRNGs are going to be different between CPU/GPU for sure, but I'm not sure if it will be different depending on the platform -- to be tested.

This will at least be a good starting point, and if we make the model initialization it's own method in a tester class, then we can change the initialization of all models in a single function change.

[2019-08-27 01:12] KeyForce commented on #1263
@pmeier Thank you so much！
Use `transforms` argument will throw an error.

[2019-08-27 03:06] skanderbug commented on #1255
Same problem solved by deleting

    if key in self._cache:
        return self._cache[key]
and

When training images having different scales over batches, maybe it's better not to cache anchors.

[2019-08-27 08:48] SebastienEske commented on #1234
Just an idea but if you could select the RNG in torch.random and maybe have a basic one for testing purposes that would solve the problem, no? Since it's for testing it doesn't even need to be super random.

[2019-08-27 08:54] SebastienEske commented on #1226
Do you mean replacing PIL _by_ OpenCV ? Because as far as I know there is no opencv in pytorch (yet).
You should also keep an option to be able to install pytorch without opencv. Installing pytorch takes about 1-2 minutes while opencv takes about 1-2 hours (if done properly, recompiled and all). Also opencv takes a lot of disk space and usually requires non-python tools to be installed.

[2019-08-27 09:02] EmilioOldenziel commented on #1261
Hi @vincentqb and @prajjwal1 .
See issue #1213 for the answer to your question.

[2019-08-27 11:06] ShahriarSS commented on #1226
I said replacing PIL and OpenCV. I'm working on replacing both of them with format-specific code. There was a discussion about this earlier.

[2019-08-27 11:15] bjuncek opened #1265 "[FYI] Bottleneck-based video models mismatch"
I found that there is a mismatch between conceptual idea (i.e. description in the paper) and official code implementation for models utilizing BottleNeck layers in VMZ, which makes it impossible to transfer weights from large pretrained models in C2 to the models implemented in torchvision.

For background info see the [question in their repo](https://github.com/facebookresearch/VMZ/issues/82).

T

[2019-08-27 11:29] mingxiaoh opened #1266 "resnet50 defined in torchvision/models/resnet.py is v1.5?"
hello, we checked the code, it seems that the resnet50 model defined in torchvision/models/resnet.py is actually v1.5? Would you please help confirm this issue?

==================================
The difference between v1 and v1.5 is that, in the bottleneck blocks which requires downsampling, v1 has stride = 2 in the first 1x1 convolution, whereas v1.5 has stride = 2 in the 3x3 convolution.
=====

[2019-08-28 09:29] fmassa commented on #720
We have since then added a `nn.Flatten` module, which does the job of `nn.Reshape` for the particular case of converting from a convolution to a fc layer.

there are cases where having the explicit forward written is better. For example, what if you want to return intermediate features as well?

[2019-08-28 09:34] fmassa commented on #1232
Closing as `flatten` is supported in a newer version of ONNX

[2019-08-28 09:34] #1232 closed

[2019-08-28 09:40] fmassa commented on #1245
One basic approach would be to concatenate the thermal image and the RGB image together, yielding an image with 4 channels, and change the first layer of resnet to take 4 channels instead of 3.
Other solutions are possible, but would require more changes.

Given that this is a modeling problem, it might be better suited for the discussion forums at http://discuss.pytorch.org

[2019-08-28 09:40] #1245 closed

[2019-08-28 09:49] fmassa commented on #1236
I'm back from holidays.

[2019-08-28 09:49] #1236 closed

[2019-08-28 09:52] fmassa opened #1268 "Certificate issues with github in Python 2"
Tests in Python2 are now failing with error
[code]
see e.g., https://travis-ci.org/pytorch/vision/jobs/573261632

This is due to a change in github it seems, and has been worked around in PyTorch in https://github.com/pytorch/pytorch/pull/25042

A few possible solutions:
- change the download link in the test to use a different domain than github
- skip the test for Python2 for now
- use the unver

[2019-08-28 09:54] fmassa commented on #1235
Did you fix your problem? (Sorry for the delay in replying, I was on holidays)

[2019-08-28 10:43] ekosman commented on #1246
I know it's not related to this issue, but I'm trying to use the HMDB51 class and get errors:
      0%|                                                                                                                                                                                                                            | 0/423 [00:00<?, ?it/s]
Traceback (most recent call last):
  File "<stdin>",

[2019-08-28 10:52] as754770178 commented on #1235
I don't resolve. And I want to know correspondence between torch and vision.
toch:1.2.0 -> vision 0.4.0
toch:1.1.0 -> vision 0.3.0
Is this right?

[2019-08-28 11:16] fmassa commented on #1263
We need special transforms for joint image and target transform, see https://github.com/pytorch/vision/blob/master/references/segmentation/transforms.py for an example.

This will be particularly important for randomized transforms, such as random flip.

Closing as it is standard behavior for now

[2019-08-28 11:16] #1263 closed

[2019-08-28 11:27] fmassa commented on #1235
Yes, this is right and should work.

Can you start from a clean conda environment, and install pytorch and torchvision from conda?

[2019-08-28 11:29] fmassa commented on #1246
@ekosman you probably have an older version of PyAV.

Version 6.2.0 has the `close` method, see https://github.com/mikeboers/PyAV/pull/513.

We should probably mention that we require 6.2.0, and not older versions

[2019-08-28 11:32] fmassa commented on #1250
You can download it from http://image-net.org/download

[2019-08-28 11:32] #1250 closed

[2019-08-28 11:34] fmassa commented on #1265
This is related to the discussion in https://github.com/pytorch/vision/pull/1224 and we should follow-up accordingly.

[2019-08-28 11:40] as754770178 commented on #1235
I successful install, but I want to compile from torch:master and vision:master. I just want to try it.

[2019-08-28 12:51] fmassa commented on #1235
please clean your previously installed libraries and try compiling from master. The error is indicating that you are using a different version of pytorch to compile torchvision and to run it.

[2019-08-28 12:51] #1235 closed

[2019-08-28 12:53] fmassa commented on #1255
@mkielak how are you using it in "parallel"? The current code assumes that you are using 1 GPU per process, with `DistributedDataParallel`.

[2019-08-28 12:54] fmassa commented on #1261
Exactly as @EmilioOldenziel mentioned, thanks for the reply!

[2019-08-28 13:02] fmassa commented on #1256
This is normal, and it is because the box regression loss is only applied to the positive boxes.
Given that the amount of positive boxes is very small in the beginning of training (due to the objectness classifier not being very good), the box regression loss is smaller. But as training goes on, we have better objectness, and thus more boxes to be regressed, and the regression loss increases a bit

[2019-08-28 13:02] #1256 closed

[2019-08-28 14:05] fmassa commented on #1246
Fixed via https://github.com/pytorch/vision/pull/1240

[2019-08-28 14:05] #1246 closed

[2019-08-28 15:05] #1268 closed

[2019-08-28 15:12] fmassa commented on #1206
Fixed via https://github.com/pytorch/vision/pull/1244

[2019-08-28 15:12] #1206 closed

[2019-08-28 15:14] fmassa commented on #1253
You can use them for silhouette extraction, but if there are several people overlapping in the same image, the silhouette will not be good. In this case, I'd recommend using Mask R-CNN

[2019-08-28 15:14] #1253 closed

[2019-08-28 15:25] fmassa commented on #1196
Hi @Lyken17

Sorry for the delay in replying, I was on holidays for the last couple of weeks.

I think it might be better for now to add those models to TorchHub https://pytorch.org/hub .
TorchHub has been built exactly for that, and I think would be a great fit for now for ProxylessNAS.

The training code for Proxyless seem to be different than what we have in `torchvision/references`, which we t

[2019-08-28 15:26] fmassa commented on #855
TorchVision 0.4 with support for video has been released, see https://github.com/pytorch/vision/releases/tag/v0.4.0

We still need to adapt the default transforms to support video data, but that might be a breaking change so we currently have them in the `references/video_classification` folder

[2019-08-29 06:57] ekosman opened #1271 "Support for large video datasets that contain a few corrupted files"
Hello,
I've been trying to load the Kinetics-400 dataset using the following code (the videos are in mp4 format):

[code]

Apparently, it prints "moov atom not found" and stops. I assume there's a corrupted file but I can't download it again. Is there a solution for skipping these corrupted files?

[2019-08-29 07:11] KeyForce commented on #1263
@fmassa @pmeier Thank you so much！

[2019-08-29 09:40] fmassa commented on #1271
@ekosman can you try isolating the problematic file and share with us?

We do handle corrupted files in torchvision, see https://github.com/pytorch/vision/blob/93bceaf250fe659f4baa9a1ecf79ece70d14b356/torchvision/io/video.py#L112-L115 for an example. So it would be great to understand what corner case you might be facing.

[2019-08-29 10:09] fmassa commented on #1002
@cted18 yes, OrderedDict support in torchscript is something that should be added.

And we are starting to work on adding support for `maskrcnn_resnet50_fpn` to work on torchscript / traceable, a first PR in this series has been sent in https://github.com/pytorch/vision/pull/1267

cc @eellison for OrderedDict support in torchscript

[2019-08-29 13:12] fmassa commented on #720
@dashesy I'm not sure we want to modify the implementations to all leverage `nn.Flatten` and make everything a single `nn.Sequential`.

From my view, as soon as we want to do something slightly less custom having the model being a `nn.Sequential` will just be an annoyance, and we start by removing the `nn.Sequential` so that we have full control of what the model executes.

Having a `nn.Sequential

[2019-08-29 13:21] fmassa opened #1273 "GoogleNet and Inception return different types depending on train / eval mode"
Googlenet and Inception have two different return types, depending on train / eval mode.

This is necessary only during training, because the original models have auxiliary classifiers, which are not used for inference.

The current structure of the models might be seen as an artifact on how they were trained.
One other way of seeing it would be that, if we could return arbitrary intermediate outp

[2019-08-29 13:22] #1257 closed

[2019-08-29 14:05] fmassa commented on #1254
This is what the original Fast R-CNN paper did, see section 4.5 in [the paper](https://arxiv.org/pdf/1504.08083.pdf) for more details, which I copy in part here.

[2019-08-29 14:05] #1254 closed

[2019-08-29 14:51] cted18 commented on #1046
@ShahriarSS I don't see `libtorchvision.so` generated.
How are you able to link it? Am I missing something?

[2019-08-29 15:23] eellison commented on #1002
@cted18 Yes i'll be working on adding OrderedDict to support `fcn_resnet101`. I think together with op support added in https://github.com/pytorch/vision/pull/1267 it shouldn't be too hard to support in script.

[2019-08-29 19:06] ekosman commented on #1227
I find it hard to understand what frame_rate means. At first I thought it means fps, however in the init function of VideoClips, frame_rate is passed to "compute_clips" and the documentations for this function names the 3rd parameter "dilation":
[code]

If I want to sample every second frame, i.e. 32 frames in the original video become 1 clip of 16 frames, what should frame_rate be?

[2019-08-29 19:24] ekosman commented on #1271
This file raises the exception:
https://drive.google.com/file/d/1oRi88WRDnmgCblIQrPCTU9ZOGCBfZNIn/view?usp=sharing

[code]

[2019-08-29 20:06] ekosman commented on #1271
By the way, is it true that if:
[code]
then I'll have the video sliced into non-overlapping clips of 16 frames for each clip?

[2019-08-29 21:23] eellison commented on #1273
+ 1 from a Torchscript perspective.

The only way to enable scripting currently it would be to introduce a divergence in behavior from eager & scripted model, which isn't ideal.

Maybe we could add a separate `train_with_logits` method to return the tuple? or something along those lines.

[2019-08-30 04:09] ginacode opened #1277 "Torchvision functional rotate should have a fill option"
torchvision.transforms.functional.rotate should have a fill option, or something to let us choose black or white. Padding and random crop all have a fill option,

[2019-08-30 05:56] jinfagang opened #1278 "Master build error"
[code]

[2019-08-30 06:02] LukasBommes commented on #477
Is anyone working on position sensitive ROI pooling similar to this one: https://github.com/tensorflow/models/blob/f9fe0fe97aee7964ac344ce38bafb20e977586dc/research/object_detection/utils/ops.py#L652?

[2019-08-30 06:20] LukasBommes commented on #1278
Same here. Python 3.7.1, Ubuntu 18.04, gcc version 7.4.0.

[2019-08-30 07:40] jinfagang commented on #1278
This should not happen I think..... we have everything needed flags enable C++11..... except..... syntax error...

[2019-08-30 07:42] fmassa commented on #1278
Since yesterday, torchvision master now requires a torchvision nightly, see https://github.com/pytorch/vision/pull/1262

[2019-08-30 07:42] #1278 closed

[2019-08-30 07:46] fmassa commented on #477
@LukasBommes there is an open PR adding it to torchvision, see https://github.com/pytorch/vision/pull/1259

[2019-08-30 09:58] fmassa commented on #1234
@SebastienEske yes, that's an idea that could work. It might be a bit more complicated to make it work for detection models (which have lots of conditional and dynamic blocks) though, as we would want to have a non-trivial solution to be output (like a solution with some non-empty boxes).

[2019-08-30 10:01] fmassa commented on #1266
yes, torchvision implements resnet with the downsampling in the 3x3 convolution, so it is the 1.5v that you mention (although this is the first time I see this mentioned this way).

[2019-08-30 10:01] #1266 closed

[2019-08-30 11:50] code-monk08 commented on #1200
@ezyang please review #1275, Thanks :)

[2019-08-30 12:02] ginacode commented on #1277
Thank you! Although it is not necessary for my application, perhaps there should be a fill option on transforms.RandomRotation as well.

[2019-08-30 13:33] #1170 closed

[2019-08-30 15:28] tgaddair opened #1285 "Cannot compile from source after changing .data to Tensor.data_ptr"
Hey @ppwwyyxx, as part of Horovod's CI process, we build torchvision from source, but since #1262 was introduced we're seeing build failures of the form:

[code]

See [this](https://buildkite.com/horovod/horovod/builds/1090#96b91131-0b3f-49be-98e7-6bc63844ecf4/6-4003) run in BuiltKite for more details.

Any idea as to what might be causing these build failures?

Thanks.

[2019-08-30 16:06] ppwwyyxx commented on #1285
torchvision master now has to be built with pytorch master, rather than pytorch stable.

[2019-08-30 17:56] tgaddair commented on #1285
I see.  Thanks for the response @ppwwyyxx.  Using `pip` with https://download.pytorch.org/whl/nightly/cpu/torch_nightly.html, it looks like their nightly build is still pointing to `v1.2.0` (last built with Python 2.7 on August 5).  Using conda, are you working off of `v1.3.0`?

[2019-08-30 18:02] soumith commented on #1285
hey @tgaddair . Have you use `--pre`? Our command for nightlies has changed, please look at pytorch.org

Now it is listed as:

[code]

[2019-08-30 18:40] tgaddair commented on #1285
Thanks @soumith, just tried it out and seems to be working.  I'll close this.

[2019-08-30 18:40] #1285 closed

[2019-08-30 23:29] jguerin-fb commented on #1179
what should be the format that we will return from the image loading?
Should it be CxHxW or HxWxC? - match image library format by default (e.g. PIL) with option to specify the format

Should it be uint8 in 0-255 or float in 0-1?  This should be uint8.  Eventually we'll support quantized/low precision training that won't be float.  Also, type conversions are ideally abstracted away / automatically

[2019-08-31 12:36] pmeier commented on #1277
The change for `transforms.RandomRotation` is already included in the PR.

[2019-08-31 13:47] 17sarf commented on #1245
Thank you very much for your advice. I was actually looking into using halfway fusion, but I believe I may have come up with a solution.

[2019-08-31 17:45] vainaijr opened #1287 "numpy.ndarray color jitter"
current behavior -
ColorJitter transform gives error on numpy.ndarray input

expected behavior -
ColorJitter transform converts numpy.ndarray to PIL image and applies transform, or applies transform to ndarray itself but does not give error

[2019-08-31 19:55] #1287 closed

[2019-08-31 20:12] 17sarf commented on #1245
I have managed to get it working using AlexNet. I have added a model (nn.Module) to concatenate the features from particular convoultional layers of AlexNet. However, I am having issues doing something similar for BackboneWithFPN for fasterrcnn_resnet50_fpn. This is what I did for AlexNet:

`class FusionModel(nn.Module):
    def __init__(self, net):
        super(FusionModel, self).__init__()

[2019-09-01 05:32] MohamedAliRashad opened #1288 "Add DetNet as a backbone for object detection"
**DetNet** currently is the state of the art backbone for object detection .... is there any hope for adding it to the detection models in `torchvision`.

https://github.com/guoruoqian/DetNet_pytorch

[2019-09-01 08:24] XiaolingLuo commented on #480
You should not modify the "model = models.inception_v3(pretrained=True)", because if you change the code here, it will have errors in  "load_state_dict".
Try:
               "model  = models.inception_v3(pretrained=True)
                model.aux_logits = False
                num_ftrs = model.fc.in_features
                model.fc = nn.Linear(num_ftrs, nclasses) "

[2019-09-02 11:16] fmassa commented on #1179
I'm reopening this issue until we have the PRs merged in torchvision.

And I agree with @jguerin-fb comments, thanks for the feedback!

[2019-09-02 11:18] fmassa commented on #1245
@17sarf if you want to implement FPN, I'd recommend you modify the forward of your model to return an `OrderedDict` with the different activations for your model, and then use the `FeaturePyramidNetwork` module on top of that.

[2019-09-02 11:33] 17sarf commented on #1245
Thank you so much for your reply. I have attempted to adjust the forward function of ResNet in torchvision.models.resnet file. But it doesn't seem to be using that forward function. I'll continue to have a play around with it, but if you have any other suggestions, then that would be great.  I am still relatively new to implementing deep learning on pytorch, so perhaps I may be overlooking somethi

[2019-09-03 07:46] jinfagang commented on #1278
I don't understand..... my pytorch is build from source which based on master.... shouldn't be nightly? Just pulled it yesterday.

[2019-09-03 08:21] ShoufaChen opened #1291 "ResNet only initialize the first"
As the `resnet.py` code here:
https://github.com/pytorch/vision/blob/master/torchvision/models/resnet.py#L155-L160
[code]
I think it will initialize the first `Conv` layer.  because most of the following `conv` layers are defined in `BasicBlock` or `Bottleneck`.
So the instance isn't `nn.Conv2d` and the ` if isinstance(m, nn.Conv2d)` will be `False`.

Is there something I'm wrong?

[2019-09-03 08:33] jinyuan30 opened #1292 "can not open '_mask.pyx'"
I'm doing Mask RCNN detection task, and run the case of trochvison.
I've installed pycocotool, I don't konw the detail, so could any one help me solve this bug?

[2019-09-03 08:33] #1291 closed

[2019-09-03 08:38] jinyuan30 commented on #1292
'''
Epoch: [0] Total time: 0:00:27 (0.4521 s / it)
creating index...
index created!
'''

when the Epoch[0] training done, there is the error: can not open '_mask.pyx'