[2022-04-06 13:29] datumbox opened #5768 "Remove problematic fields from weight meta-data"
### 🚀 The feature

Currently the meta-data of weights contain a few problematic fields that should be removed.

The first one is `publication_year` field which originally meant to store the year an architecture is published. Unfortunately the current approach, doesn't account for cases where a technique is a combination of 2 or more papers (which is especially the case for post-paper optimizations

[2022-04-06 14:10] hhaAndroid commented on #5088
@datumbox OK. Thank you for your patient reply.

[2022-04-06 14:18] hhaAndroid commented on #5088
Yes. Really need a document like `Model Zoo` , otherwise the user has to open each model to understand.

[2022-04-06 14:19] xiaohu2015 commented on #5088
you are right, it should be get the same mAP use 1x (12 epoch) training.

[2022-04-06 14:20] hhaAndroid commented on #5088
So why is the 26 epoch accuracy not improved?

[2022-04-06 14:34] pmeier commented on #5342
Closed in #5584.

[2022-04-06 15:06] pmeier commented on #5341
@zhiqwang please be aware of #5775.

[2022-04-06 15:11] datumbox commented on #5088
Agreed. Any thoughts on whether this should be on the documentation page for the specific model builder (for example `resnet50`) or whether indeed you recommend a single Model Zoo doc? I believe @NicolasHug is investigating putting it on the dedicated model builder page but I could be wrong.

The retinanet model you refer to is very old and wasn't trained by any current member of our team. Unfortu

[2022-04-06 17:54] addisonklinke commented on #1847
Why not have `save_image` accept both `float[0.0, 1.0]` and `uint8[0, 255]` and check the tensor's `.dtype` attribute to determine which one applies?

[2022-04-06 21:50] mostafarohani commented on #5702
Thanks for the responses everyone, and I agree with @LinxiFan that this is a very serious bug.

In my use case, I can't afford to just fetch all the frames (there are thousands); only a subset of 15-30 are annotated, and the annotations are not spaced evenly apart; thus I need to do the seeking like described above. On the other hand, the CPU version is so slow that it blocks my model training. Ou

[2022-04-06 21:53] mostafarohani commented on #5702
@LinxiFan , to install, what i did was in my dockerfile

[code]
i also add `-e NVIDIA_DRIVER_CAPABILITIES=compute,utility,video \` in my docker run script

[2022-04-07 06:20] pmeier commented on #5673
The fix #5674 was quick way to get CI green again. In the long run, I agree, we should move to sphinx >= 4. But that is already tracked in the issue you mentioned.

[2022-04-07 06:22] #5766 closed

[2022-04-07 06:22] YEthYuan commented on #5766
您好，您发给我的邮件已经收到，我将尽快查看，谢谢支持。This is an automatic reply, confirming that your e-mail was received.Thank you

[2022-04-07 09:16] github-actions[bot] opened #5779 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow tests/download.
Please look into it:

https://github.com/pytorch/vision/actions/runs/2107831432

Feel free to close this if this was just a one-off error.

cc @pmeier @YosuaMichael

[2022-04-07 09:31] pmeier opened #5780 "Port transforms from the classification references"
- [x] [`RandomMixUp`](https://github.com/pytorch/vision/blob/5f74f0317e21f53a7ee5f61210e406c27f06a667/references/classification/transforms.py#L9) #5421
- [x] [`RandomCutMix`](https://github.com/pytorch/vision/blob/5f74f0317e21f53a7ee5f61210e406c27f06a667/references/classification/transforms.py#L92) #5421

cc @vfdev-5 @datumbox @bjuncek @pmeier

[2022-04-07 09:31] #5780 closed

[2022-04-07 10:06] vfdev-5 opened #5782 "[RFC] Implement transforms primitives for Segmentation Masks"
Related tracker issue: #5754

## Functional transforms for segmentation masks

The idea is to implement the following low-level functional transforms for segmentation masks:
https://github.com/pytorch/vision/blob/main/torchvision/prototype/transforms/functional/_geometry.py

- [x] affine_segmentation_mask (@vfdev-5) #5613
- [x] rotate_segmentation_mask (@vfdev-5) #5692
- [x] perspective_segmentati

[2022-04-07 13:12] oke-aditya commented on #5725
feel free to have a go

[2022-04-07 16:10] LifeGains commented on #2962
+1 support for this please

[2022-04-07 17:37] datumbox opened #5787 "Using Kinetics400 from references raises a deprecation warning"
### 🐛 Describe the bug

Using Kinetics400 from references leads to a deprecation warning. The fastest way to reproduce:
[code]

It seems this is due to the following line:
https://github.com/pytorch/vision/blob/b7c59a086f4e45b8e5e799084e97cca775977a3b/torchvision/datasets/video_utils.py#L327

Which calls the method with the default parameter for `pts_unit="pts"` which is deprecated:
https://github

[2022-04-07 17:57] #4839 closed

[2022-04-08 06:33] lezwon commented on #5414
hey @datumbox, can I take up SoftNMS implementation?

[2022-04-08 06:45] pmeier commented on #5787
Plus, The `Kinetics400` class is also deprecated:

https://github.com/pytorch/vision/blob/1ac6e8b91b980b052324f77828a5ef4a6715dd66/torchvision/datasets/kinetics.py#L308-L311

[2022-04-08 08:20] datumbox commented on #5787
@pmeier Good point. It does. I just missed this because the other warning is spammed 100s of times at the beginning:
[code]

So we should does this mean that we need to update the reference scripts not to use Kinetics400 then?

[2022-04-08 08:32] datumbox commented on #5414
@lezwon Thanks for offering help!

The SoftNMS would have to be implemented in [C++](https://github.com/pytorch/vision/blob/main/torchvision/csrc/ops/cpu/nms_kernel.cpp) and [CUDA](https://github.com/pytorch/vision/blob/main/torchvision/csrc/ops/cuda/nms_kernel.cu) because this is where we implement the standard NMS. Some additional discussion would be required to see exactly how this will be impl

[2022-04-08 09:12] github-actions[bot] opened #5788 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow tests/download.
Please look into it:

https://github.com/pytorch/vision/actions/runs/2114176509

Feel free to close this if this was just a one-off error.

cc @pmeier @YosuaMichael

[2022-04-08 09:44] lezwon commented on #5414
@datumbox Sure thing :)
I'll pick up something from #5410

[2022-04-08 09:54] #4188 closed

[2022-04-08 09:55] pmeier commented on #5779
Duplicate of #5737.

[2022-04-08 09:55] pmeier commented on #5788
Duplicate of #5737.

[2022-04-08 09:55] #5788 closed

[2022-04-08 09:58] #5779 closed

[2022-04-08 11:20] Nuno-Mota opened #5790 "MaskRCNN from TorchScript to ONNX - Unknown Type BoxCoder"
### 🐛 Describe the bug

While attempting to create an ONNX version of Maskrcnn, starting from a ``ScriptModule``, an error occurs, indicating that ``__torch__.torchvision.models.detection._utils.BoxCoder`` is an unknown type.

MWE:
[code]

Error traceback:
[code]

Unfortunately, I cannot test with a more recent version. Is this something that has been fixed recently?

### Versions

[code]

[2022-04-08 13:40] datumbox commented on #5790
@Nuno-Mota I'm not too familiar with ONNX but is there a reason you are JIT-scripting the model prior to exporting it?

The intended way is to do something like:
[code]

This works fine in the latest version.

[2022-04-08 13:54] Nuno-Mota commented on #5790
@datumbox, the idea is to try to preserve dynamic control flow, as [mentioned in the docs](https://pytorch.org/docs/master/onnx.html#tracing-vs-scripting).

[2022-04-08 14:03] datumbox commented on #5790
@Nuno-Mota thanks for clarifying. As I said, I'm not too familiar with ONNX and I'm trying to understand the status of the support from the existing [tests](https://github.com/pytorch/vision/blob/main/test/test_onnx.py#L22). Upon investigating, I saw that we don't test against the jit-scripted versions which means according to the [quoted doc](https://pytorch.org/docs/master/onnx.html#tracing-vs-s

[2022-04-08 14:50] hyperfraise opened #5791 "Write text on images as an augmentation"

[2022-04-09 09:11] github-actions[bot] opened #5794 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow tests/download.
Please look into it:

https://github.com/pytorch/vision/actions/runs/2140099627

Feel free to close this if this was just a one-off error.

cc @pmeier @YosuaMichael

[2022-04-09 11:52] YEthYuan opened #5795 "Support loading image in color in vision/torchvision/datasets/caltech.py"
### 🚀 The feature

Currently, the function in this class could only load the greyscale pictures (please check lines 86 and 199). However, people would always use them in color. Could you please consider adding an option to let the function return images in color? Maybe you could consider adding .convert("RGB") to the current Image.open() function.

### Motivation, pitch

I'm currently using this d

[2022-04-09 15:58] m-Just commented on #2831
I also encountered this issue but in my case the .ipynb_checkpoints folders were inside some of the class folders, and images inside these .ipynb_checkpoints folders were treated as new images of the affected classes. This behavior is much harder to notice than using hidden folders as dataclasses (mentioned by @cynthia-rempel) and can affect model training/testing silently for a long period of tim

[2022-04-10 06:10] tstandley commented on #5650
Thanks, @datumbox!
BTW, do you plan to have 22k weights available for any of the models? I don't believe they are available currently. I've noticed that features from networks trained on imagenet22/21k are far superior. But I bet they'd be even better if they had been trained using your new training recipe.

[2022-04-10 08:00] datumbox commented on #5791
@hyperfraise Thanks for the suggestion.

You are right to say that writing text on images is not currently supported. Though you make a good point about this augmentation being useful for videos with timestamp data, we don't currently support a task that could benefit significantly for by the specific augmentation. One key concern for me is that such an augmentation is very problem specific and th

[2022-04-10 08:07] datumbox commented on #5650
@tstandley We can certainly look into it now that we have a mechanism to load them. Note that we've already started adding weights from larger datasets (see #5793). I recommend starting a new issue because this one was more about making it possible to load other weights; this way we can check how much interest there is from the community and act accordingly.

[2022-04-10 08:22] vfdev-5 commented on #5791
I think this request can be split into 2:
1. draw random text on image as augmentation
2. support this augmentation on GPU

For 1) one can use pillow: https://pillow.readthedocs.io/en/stable/reference/ImageDraw.html#example-draw-multiline-text
and we have to figure out an appropriate API for the augmentation

For 2), we can think of how to efficiently blend image and text:

[code]

[2022-04-10 09:12] github-actions[bot] opened #5798 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow tests/download.
Please look into it:

https://github.com/pytorch/vision/actions/runs/2143411388

Feel free to close this if this was just a one-off error.

cc @pmeier @YosuaMichael

[2022-04-10 20:56] kmtm commented on #5516
Is there an updated release date for 0.12.0? Also looking for optical flow functionality.

[2022-04-10 21:26] benbo opened #5800 "PCAM dataset download fails"
### 🐛 Describe the bug

PCAM download fails for both the train and test splits due to a gzip error. I deleted all files that were created and tried it again from scratch but the same error persists.

[code]

### Versions

Collecting environment information...
PyTorch version: 1.11.0
Is debug build: False
CUDA used to build PyTorch: 11.3
ROCM used to build PyTorch: N/A

OS: Springdale Linux release

[2022-04-11 06:21] pmeier commented on #5798
Duplicate of #5737.

[2022-04-11 06:21] #5798 closed

[2022-04-11 06:21] pmeier commented on #5794
Duplicate of #5737.

[2022-04-11 06:21] #5794 closed

[2022-04-11 06:26] pmeier commented on #5800
GDrive added a new check so you now have to manually confirm that you don't want a virus check even if you use a direct download link. See #5615. This was fixed #5645 and will be part of the next release.

[2022-04-11 06:26] #5800 closed

[2022-04-11 06:40] pmeier commented on #5795
That is not true:

[code]

However, you are right that these datasets do not convert to RGB before returning the image. Unfortunately, that would be BC breaking change. Thus, IMO the easiest way for you is to add a custom transform:

[code]

You can use it like `dataset = Caltech101(..., transform=ToRGB())`. If you already have a transform, you can chain them with a `torchvision.transforms.Compose

[2022-04-11 06:42] pmeier commented on #5791
I don't think we can blend in the traditional sense here. The text has to be in the foreground while everything else should be ignored.

[2022-04-11 06:54] YEthYuan commented on #5795
Thank you for your suggestion, I will correct my code!

[2022-04-11 06:54] #5795 closed

[2022-04-11 07:16] pmeier commented on #5516
Yeah that is kinda unfortunate. We only updated the README in #5612, which was only merged after the release. We should probably update the table on the release branch. cc @malfet

We recently revamped our model weight loading. This shouldn't affect the training result though. cc @datumbox @NicolasHug to be sure.

[2022-04-11 07:32] datumbox commented on #5516
Could you provide more information about this? Does it mean that we have issues with 0.12 for specific platform/python/cuda conbinations?

Since Friday I've been investigating an anomaly on our downloads stats. We observe a signifiant number of downloads for v0.11.3 still, which is very abnormal because usually these go down immediately after the release. This could be the reason we observe this.

[2022-04-11 07:40] vfdev-5 commented on #5791
@pmeier think of the image with text as mask

[2022-04-11 07:48] datumbox commented on #5791
@pmeier @vfdev-5 I think on the low level kernel the transform is doable; we will effectively need an API similar to CV2/PIL. Where I think is getting messy is on the Transform class side. How do we parameterize such a class and how do we provide information about:
- The text generation process
- The process that determines the location of text
- The text styles (colours, fonts, sizes etc)

It's g

[2022-04-11 07:48] pmeier commented on #5516
I think the comment refers to the compatibility table in the README. In the `0.12.0` release that is shown on PyPI, `0.11.3` is listed as latest release. But, yeah, worth checking.

[2022-04-11 08:24] NicolasHug commented on #2831
Since this seems to be a common mistake, it might be worth adding a `.. note::` in our docs indicating that all folders will be browsed, hidden or not.

[2022-04-11 08:38] #5737 closed

[2022-04-11 14:23] benbo commented on #5800
Thanks @pmeier, apologies for the duplicate issue.

[2022-04-11 15:26] #5708 closed

[2022-04-11 17:41] malfet commented on #4260
We need to resolve this one before 1.12-rc1

[2022-04-12 03:10] mbanani opened #5804 "Zero-initialized head weights in VisualTransformer"
I noticed that the weights of the head linear layer seem to be zero initialized by default [here](https://github.com/pytorch/vision/blob/3fa2414866f69a5ba541bb27a94963df01d9bd06/torchvision/models/vision_transformer.py#L236). I wasn't sure if this was a mistake or if there's a reason why it's zero initialized. Other implementations I saw used normal or truncated normal initialization.

cc @datumbo

[2022-04-12 15:44] LukasMut commented on #5748
I get the same error. Seems to be an issue with either `torch` version 1.11.0 or `torchvision` version 0.12.0. If you install `torch` 1.10.0 and `torchvision` 0.11.0 this error is not thrown. Please fix.

[2022-04-12 16:38] detkov opened #5809 "Number of classes in FGVCAircraft differs from documentation"
### 🐛 Describe the bug

In the [torchvision.datasets.FGVCAircraft](https://pytorch.org/vision/0.12/generated/torchvision.datasets.FGVCAircraft.html?highlight=fgvcaircraft#torchvision.datasets.FGVCAircraft) dataset there are 100 classes — not 102, as it said in the documentation and on the [official dataset's page](https://www.robots.ox.ac.uk/~vgg/data/fgvc-aircraft/).

How to reproduce:
[code]

##

[2022-04-12 16:54] wqh17101 opened #5810 "Provide full stack of video pipeline by FFMPEG-GPU to accelerate."
### 🚀 The feature

 1. Provide the API for reading video by ffmpeg-gpu (or pyav) from not only the file but the video stream.
 2. Provide the API for encoding frames by ffmpeg-gpu (or pyav) from not only the file but the video stream.
 3. Provide the API for writing video by ffmpeg-gpu (or pyav) from not only the file but the video stream.

### Motivation, pitch

As a video worker, output and enco

[2022-04-13 04:58] jmwolf82 opened #5813 "Torch Hub download fails due to Torchvision dependency?"
### 🐛 Describe the bug

Running the following code returns the error seen below. It seems like there is some type of dependency or call to torchvision. Torchvision, however, doesn't list the new efficientnet models.

![Screenshot 2022-04-13 004546](https://user-images.githubusercontent.com/72167800/163102125-ebedc6ec-18bf-4f4d-9d9f-a09f99ac6a16.png)

import torch
from torch import hub
#import torc

[2022-04-13 07:34] pmeier commented on #5748
I can't reproduce. @fonnesbeck @LukasMut does https://github.com/pytorch/vision/issues/5748#issuecomment-1089855905 work for you or does it also fail? Did you install `torch` / `torchvision` through `pip` or through `conda`?

The only "special" thing in the env is that you are using WSL. That shouldn't be a problem though. @LukasMut could you also post your env? You can do `python -m torch.utils.c

[2022-04-13 08:31] pmeier commented on #5813
I cannot reproduce. The only difference in my env is that I'm not on Windows.

My guess to what is happening: `torch.hub` commands add the downloaded repository to the Python path and afterwards import the package. Somehow this goes wrong and actually the version installed in your environment is loaded. The error than happens, because the `hubconf.py` from `main` contains entries

https://github.c

[2022-04-13 08:43] pmeier commented on #5809
Huh, thanks for the report. I guess we never bothered to check. Note that the documentation for `annotation_level="manufacturer"`'s is also wrong:

https://github.com/pytorch/vision/blob/467b841ac2650c962952bbee5a542edb835c98bc/torchvision/datasets/fgvc_aircraft.py#L20-L23

It should be `30`.

Do you want to send a PR?

[2022-04-13 09:35] detkov commented on #5809
@pmeier sure, did it: #5814

[2022-04-13 12:17] jmwolf82 commented on #5813
@pmeier what OS are you using?

[2022-04-13 12:20] fmassa opened #5815 "Replace usages of atomicAdd with gpuAtomicAdd"
Looks like PyTorch might have changed the recommended way of doing atomic operations, see [this comment](https://github.com/pytorch/pytorch/blob/b47ae9810c1a645f4942737ab4a58b2b1407e7bd/aten/src/ATen/cuda/Atomic.cuh#L247-L252).

It might be worth going over our instances of `atomicAdd` and perform the required changes.

[2022-04-13 12:25] pmeier commented on #5813
Linux

[2022-04-13 22:26] YosuaMichael commented on #5688
This issue is done with #5783 and #5792

[2022-04-13 22:26] #5688 closed

[2022-04-14 06:10] lezwon commented on #5410
Hey @datumbox, I'd like to take a shot at Simple CopyPaste augmentation, if it's available. Although I would definitely require some initial guidance on it :)

[2022-04-14 06:42] pmeier commented on #5354
Please also be aware of #5814.

[2022-04-14 07:03] datumbox commented on #5410
@lezwon Yes it's available and very high on our candidate list. :) Note that the API of this transform is tricky because it combines transforms across images in the batch (similar to MixUp and CutMix located at Classification references, not the ones on prototype).

How about the following? If you write a functional implementation I can help you review, adapt it to the necessary API and test it on

[2022-04-14 07:17] lezwon commented on #5410
@datumbox sounds good 👍 I'll get started on it and ping you once i have a POC ready.

[2022-04-14 07:44] pmeier opened #5817 "INaturalist download is broken for version="2021_train""
*Originally reported in https://discuss.pytorch.org/t/inaturalist-download-crashes-towards-the-end/149006*

---

The error points to

https://github.com/pytorch/vision/blob/05eae32f9663bbecad10a8d367ccbec50130e2f5/torchvision/datasets/utils.py#L151-L152

So my guess is that the MD5 checksum that we have on record is wrong:

https://github.com/pytorch/vision/blob/05eae32f9663bbecad10a8d367ccbec5013

[2022-04-14 07:49] NicolasHug commented on #5813
@jmwolf82 Could you try loading from 0.12.0 instead?

[code]

Note that since torchvision is already installed on your machine, you don't really need to use torchhub, you could just import `resnet18` from `torchvision.models` directly.

[2022-04-14 07:51] #5809 closed

[2022-04-14 08:28] oxabz opened #5818 "``draw_segmentation_masks`` throws IndexError when given [0, H, W] in mask"
### 🐛 Describe the bug

``draw_segmentation_masks`` throws an ``IndexError`` when it recieves an empty mask tensor as it tries to check preconditions on colors.

It'd be good to fix the bug to allow to draw empty mask tensors or to add the precondition in the doc and a clear assert.

As an asside it looks like ``draw_bounding_boxes`` has the same probleme.

[code]

[code]

### Versions

PyTorch ve

[2022-04-14 10:41] oke-aditya commented on #5818
Can you try
[code]

instead? or
`masks = torch.rand((100,100)).bool()`

[2022-04-14 10:45] NicolasHug commented on #5818
@oxabz in which scenario did you end up with a `masks` tensor with a zero first dimension? As @oke-aditya mentioned, the semantic of that means that there are *no* masks to plot.

I guess we could `assert num_masks > 0`, but I wonder if there is some misunderstanding in how to use this function. Also, could you please clarify what you mean by

[2022-04-14 11:15] bjuncek commented on #4112
Yup, it's now resolved on the latest main.

[2022-04-14 11:15] #4112 closed

[2022-04-14 11:21] bjuncek commented on #4357
I've just tried this on several videos with several python versions and it seems resolved.
I'll close it, but feel free to re-open if you run into any issues?

[2022-04-14 11:21] #4357 closed

[2022-04-14 11:31] bjuncek commented on #2184
This seems fixed on the latest main now.
Please re-open if you experience any additional issues.

[2022-04-14 11:31] #2184 closed

[2022-04-14 12:14] jmwolf82 commented on #5813
@NicolasHug that worked when I specifically referenced the branch in the command, I was able to use torch hub. It is interesting that I do not have the same issue on my Linux VM. Thanks for your help.

![Screenshot 2022-04-14 080838](https://user-images.githubusercontent.com/72167800/163387691-449c63cd-23bd-447d-be02-a1ee922f6038.png)

[2022-04-14 17:11] pmeier commented on #5813
So `torch.hub` is indeed broken on Windows? We should look into that.

[2022-04-14 17:30] pmeier commented on #5817
The checksum that I have computed after download

[code]

differs from the one we have on record. I'll confirm with the user in the forum.

[2022-04-15 02:22] chris-tkinter opened #5822 "num_classes in segmentation examle"
Hi, I have some questions about `num_classes` in the [segmentation example](https://github.com/pytorch/vision/tree/main/references/segmentation).

Since the pretraining classes is 21, should the target mask be integers from 0 to 21, where 0 is the background?

If so, my next question is do we need to compute loss over 0 (background)? I think generally background pixels is the majority, will it hur

[2022-04-16 13:23] jfb54 opened #5824 "Flowers102 dataset uses incorrect label indexing (uses 1-based indexing should be 0-based indexing)"
### 🐛 Describe the bug

The bug is simple. The Flowers102 dataset uses incorrect label indexing. It uses 1-based indexing and it should use 0-based indexing.

If you stop a debugger at this [line](https://github.com/pytorch/vision/blob/10bb5b18831ed1cc7396b599829c41954551f018/torchvision/datasets/flowers102.py#L67), you will see that ```labels['labels']``` contains the labels from 1 to 102. The la

[2022-04-18 09:28] kzkadc opened #5826 "RecursionError is raised when calling a GraphModule created with create_feature_extractor"
### 🐛 Describe the bug

RecursionError is raised when calling a GraphModule created with create_feature_extractor.

I created an feature extractor with `create_feature_extractor` from resnet.
When calling it with training and eval mode alternatively in a training loop, RecursionError is raised in the middle of the loop.

Here is an example code reproducing the error:

[code]

And here is the trace

[2022-04-18 16:42] NicolasHug commented on #5824
Thanks for the report @jfb54 , you're are right. This has already been reported in https://github.com/pytorch/vision/issues/5766, and the fix will be available in the next version of torchvision.

[2022-04-18 16:42] #5824 closed

[2022-04-18 16:45] NicolasHug commented on #5813
I would suspect this is due to a different environment rather than a platform issue.

[2022-04-18 18:23] odehui opened #5828 "111"
I think this would probably be resolved if we were building these in CI rather than on a local laptop. Maybe related to https://github.com/pytorch/vision/issues/5171 ?

_Originally posted by @seemethere in https://github.com/pytorch/vision/issues/5413#issuecomment-1059435289_

[2022-04-18 18:24] #5828 closed

[2022-04-18 20:27] naga-karthik commented on #2402
Hello, I am wondering what's the status of this issue? Are 3D NMS and 3D ROI Align going to be implemented in future version of torchvision anytime soon? As the OP mentioned, having access to 3D versions of the above ops would make it convenient to train models on volumetric (medical) data. Thanks!

[2022-04-19 00:08] slerman12 commented on #5817
Any update on this?

[2022-04-19 06:32] pmeier commented on #5817
@slerman12 Could you run

[code]

for the file you downloaded and compare the output to https://github.com/pytorch/vision/issues/5817#issuecomment-1099448162?

If you don't have `md5sum` available, you can also use this Python snippet:

[code]

If you get the same checksum as I do, I'll update the one on record.

---

In any case, this will not help you until the next release (unless you are worki

[2022-04-19 07:25] datumbox commented on #5804
Thanks for reporting @mbanani. This looks like a mistake indeed.

@mannatsingh @sallysyw Do you have any thoughts on whether this is a bug? Is the initial intention to zero only the bias and leave the weights on the default initialisation scheme?

[2022-04-19 07:28] #5537 closed

[2022-04-19 07:38] BeFranke opened #5829 "Pad to target size"
### 🚀 The feature

A Transform similar to torchvision.transforms.Pad that pads to a target size (i.e. height and width).

### Motivation, pitch

Many datasets provided by torchvision have images with different resolutions. In order to create a batch, the images need to have the same size, therefore this transform would come in handy and increase the user-friendlyness of torchvision.

### Alternati

[2022-04-19 08:20] pmeier commented on #5829
`CenterCrop` is already doing that:

[code]

[code]

Its behavior has two branches:
1. If the image is larger than the target size, we take the middle segment
2. If the image is smaller than the target size, we pad it

[2022-04-19 08:44] #5815 closed

[2022-04-19 08:47] datumbox commented on #2402
@naga-karthik Thanks for the interest. Right now we don't have the bandwidth to investigate and implement the proposed features. We are a small team and we are currently tackling other more high-priority issues (new Datasets API, new Transforms API etc). Rest assured we will definitely review this on the next planning session.

[2022-04-19 09:02] datumbox commented on #5826
@kzkadc Thanks for the report. I'm able to reproduce the issue.

Here is a faster version based on your script:
[code]

@jamesr66a I had a quick look and I suspect this is on the FX side. Is this a known issue?

[2022-04-19 09:50] BeFranke commented on #5829
Thank you very much, I didn't know about this!

[2022-04-19 09:50] #5829 closed

[2022-04-19 09:52] datumbox opened #5830 "error: can't copy 'build\lib.win-amd64-3.7\pyd': doesn't exist or not a regular file"
### 🐛 Describe the bug

The CI jobs [unittest_windows_gpu_py3.7](https://app.circleci.com/pipelines/github/pytorch/vision/16740/workflows/20601594-11bc-41b8-b409-a5e65518d60a/jobs/1356410) and [unittest_windows_cpu_py3.7](https://app.circleci.com/pipelines/github/pytorch/vision/16740/workflows/20601594-11bc-41b8-b409-a5e65518d60a/jobs/1356437) fail with:
[code]

### Versions

Main branch has been

[2022-04-19 11:41] #5725 closed

[2022-04-19 11:43] Debdut0122 commented on #5800
As of now, is there any way to download the dataset?

[2022-04-19 11:47] pmeier commented on #5800
1. Install a nightly build or from source. The fix will be included and it should work out of the box.
2. Download the files [manually](https://github.com/basveeling/pcam#download) and place them in the root folder. If the file is already downloaded, the dataset will pick up on it.

[2022-04-19 14:09] NicolasHug opened #5833 "Revamping our classification models docs"
We're re-writing our models docs to make them clearer, simpler, and to properly document the [upcoming multi-weight API](https://pytorch.org/blog/introducing-torchvision-new-multi-weight-support-api/). This issue is about **adding docs for the classification models.**

Perhaps this is something @oke-aditya @YosuaMichael @lezwon @zhiqwang  would be interested in :) ?

Our latest new docs are curren

[2022-04-19 14:50] YosuaMichael commented on #5833
This is great @NicolasHug !
I would like to try adding doc for `RegNet` and `VisionTransformer`.

[2022-04-19 16:20] d4l3k opened #5835 "torchvision models no longer respect `strict=False` when loading"
### 🐛 Describe the bug

After the recent changes to model loading in #5444 it's impossible to specify `strict=False` when loading a preexisting checkpoint. This is important since often when I'm trying a new submodel I'll replace just one piece and load the others from a checkpoint but the new piece from scratch.

[code]

[code]

### Versions

PyTorch version: 1.12.0.dev20220419+cu113
Is debug bui

[2022-04-19 16:29] d4l3k opened #5836 "new model weights loading breaks backwards compatibility for existing models"
### 🐛 Describe the bug

The new model loading format breaks numerous models that depend on custom loading logic via `model_urls`. This is used a lot for various academic repos and will make many of them no longer run on PT 1.12.

[code]

Examples from notable papers/partners:
* monodepth2 https://github.com/NianticLabs/monodepth2/blob/master/networks/resnet_encoder.py#L55
* packnet-sfm https://git

[2022-04-19 18:07] mannatsingh commented on #5804
The zero initialization follows Classy. I had followed the original paper which also zero inits the kernel - https://github.com/google-research/vision_transformer/blob/main/vit_jax/models_vit.py#L297.

So Torchvision isn't alone in doing the zero weight init - there's classy (https://github.com/facebookresearch/ClassyVision/blob/main/classy_vision/heads/vision_transformer_head.py#L75) and pycls (h

[2022-04-19 18:16] jamesr66a commented on #5826
Hi folks,

This is a weird interaction between torchvision's custom `GraphModule` subclass [DualGraphModule](https://github.com/pytorch/vision/blob/main/torchvision/models/feature_extraction.py) and the fact that `GraphModule` is actually a metaclass/class template that instantiates a new type for each compiled graph.

Concretely, the root cause is:
1. `fe.train()` (or `fe.eval()`) is called, whic

[2022-04-19 20:06] mbanani commented on #5804
Thanks for following up. I am very curious, do you have any intuition to why zero-initialization makes sense here?

[2022-04-19 20:22] mannatsingh commented on #5804
I don't have a good intuition for this - I don't think it is needed though, you can init the weights for the linear layer with non-zero initialization and it should work okay!

[2022-04-19 23:28] jamesr66a commented on #5826
Put the fix in a PR https://github.com/pytorch/pytorch/pull/76068

[2022-04-20 00:41] shehan360 commented on #4112
@bjuncek How can I get these changes to my environment? By installing the nightly build?

ex -

```pip3 install --pre torch torchvision torchaudio --extra-index-url https://download.pytorch.org/whl/nightly/cpu```

[2022-04-20 01:23] EricPHassey commented on #4508
Oddly enough I'm still getting the warning message when calling this. What version was this added to?

[2022-04-20 02:09] hubutui opened #5837 "distutils.spawn.find_executable not working to find ffmpeg"
### 🐛 Describe the bug

distutils.spawn.find_executable not working to find ffmpeg

### Versions

https://github.com/pytorch/vision/blob/e8cb0bacd86c49e67a7e1a5f83c6da866bc451cf/setup.py#L343
for python 3.10,
[code]
outputs:
[code]
so `ffmpeg_exe = distutils.spawn.find_executable("ffmpeg")` leads to `ffmpeg_exe = None`
use this instead:
[code]
also,
[code]

[2022-04-20 04:32] WZMIAOMIAO opened #5838 "return_layers problem about fasterrcnn_mobilenet_v3_large_fpn"
### 🐛 Describe the bug

There may be a problem with the setting of return_layers in fasterrcnn_mobilenet_v3_large_fpn.  If the default setting is used, the resolution  of collected feature map is the same. As a result, the effect of detecting small targets will become worse.
https://github.com/pytorch/vision/blob/e8cb0bacd86c49e67a7e1a5f83c6da866bc451cf/torchvision/models/detection/backbone_utils.

[2022-04-20 07:26] wqh17101 opened #5839 "License Problem of vision"
### 🚀 The feature

As the video related API added in, please care about the license of video component.

For example, if you use ffmpeg( with x264(GPL license) ) or pyav (with (ffmpeg with x264)) without process isolation, you will meet the license problem for change vision's license to GPL .

### Motivation, pitch

Watch out that the GPL is contagious. Which will cause big problem to a BSD projec

[2022-04-20 09:33] datumbox commented on #5836
Thanks for reporting.

For the benefit of the community, let me provide a summary on why we decided to remove the `model_urls` parameter. The specific "mechanism" was an internal implementation detail and since it wasn't declared in `__all__`, it wasn't properly unit-tested or kept consistent across the code-base. As a result, it was neither available for all models (for example [1](https://github

[2022-04-20 09:52] datumbox commented on #5839
Thanks for reporting. My understanding is that ffmpeg's licensing is the reason why we don't offer precompiled binaries with video support. I'm not too knowledgeable on the topic, so let me cc a few people who know more on the topic than I do.

@fmassa @prabhat00155 @bjuncek Could you provide a summary of the licensing situation?

[2022-04-20 10:36] datumbox commented on #5833
Great initiative to split into bite-sized chunks. :)

Tagging a few more regulars in case they are interested in helping: @xiaohu2015 @abhi-glitchhg @frgfm @yassineAlouini

[2022-04-20 10:41] lezwon commented on #5833
Hey @NicolasHug, I'd like to start off with densenet.

[2022-04-20 10:46] oke-aditya commented on #5833
I will take MobileNets :) v2 v3

[2022-04-20 10:50] wqh17101 commented on #5839
For pyav you can use ` python -m av --version` to see the real runtime license
like
[code]
As you can see it is GPL.

The root reason of the license is what FFMPEG built with. The same situation for Pyav.
Something you can check for this. [link](http://ffmpeg.org/legal.html)

So for pyav , the solution is to build pyav by source that you can chose what component of ffmpeg to build with,then pyav w

[2022-04-20 11:03] abhi-glitchhg commented on #5833
I would like to take `ResNext`.

[2022-04-20 11:11] zhiqwang commented on #5833
I would like to take `ShuffleNet v2`

[2022-04-20 11:44] #5835 closed

[2022-04-20 11:59] datumbox commented on #5804
@mannatsingh thanks a lot for all the references!

@mbanani given the above, I would say that it's just an implementation detail. Given its location, this shouldn't cause issues on the training (we've trained multiple variants of this and we always managed to get much higher accuracies than those on the original paper). If this is a problem for your use-case, you can just overwrite the initializat

[2022-04-20 11:59] #5804 closed

[2022-04-20 12:14] xiaohu2015 commented on #5833
I would like to take `VisionTransformer`.

[2022-04-20 12:15] abhi-glitchhg commented on #5833
@xiaohu2015 I think @YosuaMichael  has already picked `VisionTransformer`.

[2022-04-20 12:18] xiaohu2015 commented on #5833
Ok, I choose another model ConvNeXt

[2022-04-20 12:19] datumbox commented on #5838
@WZMIAOMIAO Thanks for reporting.

I agree with you that the 2 stages provide the same resolution size. We should note that the specific variant is not described on the MobileNetV3 paper but rather was created to boost TorchVision's efforts for better mobile support for detection tasks. Back when we were doing the experiments, we found using the specific two returned layers beneficial, hence why i

[2022-04-20 13:21] jdsgomes commented on #4508
It should be included from v0.11.0 (https://github.com/pytorch/vision/commits/v0.11.0)

[2022-04-20 15:40] wqh17101 commented on #5839
I have an idea that you can use `h264_cuvid and nvenc_h264` to replace `libx264` and `hevc_cuvid and nvenc_hevc` to replace `libx265` on GPU vision.

[2022-04-20 16:40] datumbox commented on #5833
@yassineAlouini It's yours! :)

Note that EfficientNet V1 and V2 are implemented on the same class (EfficientNet). On the documentation we want to document them separately because they are 2 different papers.

[2022-04-20 16:42] frgfm commented on #5833
Hi @NicolasHug @datumbox, thanks for the tag 🙂
I'm on holidays until next Monday, I'll take a look at what's left then! Great idea to improve the doc by the way 🙌

[2022-04-20 17:26] netw0rkf10w commented on #5088
Hi @datumbox,

I am updating my personal vision library to take into account the new API and I find that it is a bit inconvenient to work with, mostly because it requires users to **manually** specify the weights for different models.

Suppose that for some application we always use pre-trained weights, then in the old API the user only needs to provide a single argument that is the model name:

[

[2022-04-20 17:55] bjuncek commented on #5839
@andfoy was toying with the idea of providing LGPL compatible version of ffmpeg to pytorch channel. Maybe we should pick this up again?

[2022-04-20 17:57] andfoy commented on #5839
We used to provide an LGPL version of FFmpeg that linked against OpenH264, but it was only for 4.2

[2022-04-20 19:16] datumbox commented on #5088
@netw0rkf10w Thanks a lot for the feedback.

If I understand you correctly, you would like to be able to initialize the weights using strings instead of providing the whole Enum. Is that right? If that's what you mean, this is already supported.

Examples:
[code]

Currently the values must be all capital (match their enum values). Unfortunately we can't make them shorter (aka "v1", "v2") because o

[2022-04-20 19:57] netw0rkf10w commented on #5088
@datumbox Thanks a lot for the detailed reply!

But this is exactly what I was looking for!! I didn't know that this is already supported, there's no documentation other than your blog post, which didn't mention this feature (perhaps it was not yet implemented at that time).

Thanks. I'll join the discussion in #5833 later (though I feel that general/common documentation for the new weight API wou

[2022-04-20 20:48] slerman12 commented on #5817
Yes, the output is `e0526d53c7f7b2e3167b2b43bb2690ed`.

[2022-04-20 20:58] federicopozzi33 commented on #5782
Hi @vfdev-5,

I would like to work on _vertical_flip_segmentation_mask_ primitive.

[2022-04-20 21:05] vfdev-5 commented on #5782
@federicopozzi33 sure, go ahead!

[2022-04-20 23:22] wqh17101 commented on #5839
Never mind, the latest minor updating version is 4.4.2,just update and recompile. @andfoy @bjuncek

[2022-04-21 00:55] WZMIAOMIAO commented on #5838
Wow, It's amazing. Have you published relevant papers? I want to learn.

[2022-04-21 03:53] kzkadc commented on #5826
Thank you for your prompt action!

[2022-04-21 03:54] #5826 closed

[2022-04-21 07:10] datumbox commented on #5838
I don't think the specific work is publishable (aka has enough substance to make it worth while). From memory and my notes, the specific layers were selected by experimentally checking various configurations and selecting the one that yielded the best result for the speed we had in mind. On the other hand, the work on SSDlite is fully aligned with the paper, see MobileNetV3 [section 6.3](https://a

[2022-04-21 07:47] WZMIAOMIAO commented on #5838
thank you!

[2022-04-21 07:47] #5838 closed

[2022-04-21 08:13] #5817 closed, assigned to nobody

[2022-04-21 08:49] oxabz commented on #5818
The scenario in which the bug appeared is the following
[code]
The model gives us several mask for each detected object. When the model diverge it might gives us a N\*W\*H tensor full of zeroes wich can be squeezed down to 0\*W\*H.

In that case the bug doesnt cause that big of a problem since the training is already useless in that scenario. But putting a clear assert could save future head scrat

[2022-04-21 08:52] WZMIAOMIAO opened #5845 "about paste_mask_in_image question in mask rcnn"
First of all, thanks for your great work.
Recently, I was studying Mask R-CNN code in this repo. I have some questions, and I hope you could answer it when you are free.

First question, Why do I need to expand the mask and box when mapping mask back to the original scale. I read the original paper of Mask R-CNN, which only said "The m×m floating-number mask output is then resized to the RoI size,

[2022-04-21 09:00] NicolasHug commented on #5818
Thanks for the details @oxabz , that makes sense. We'd be happy to review a PR that raises a clean `ValueError` when `num_masks == 0`. Would you like to submit a PR, or should we ask for other contributors?

[2022-04-21 09:15] github-actions[bot] opened #5846 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow tests/download.
Please look into it:

https://github.com/pytorch/vision/actions/runs/2200811533

Feel free to close this if this was just a one-off error.

cc @pmeier @YosuaMichael

[2022-04-21 09:18] mattip commented on #5582
This is from [the versions.html file on the gh-pages branch](https://github.com/pytorch/vision/blob/31ddd9b3b75e39052cb3fe695343dd7f5d9fd52a/versions.html#L24) which is manually maintained. Would adding a `0` be sufficient?
[code]

[2022-04-21 10:23] bjuncek commented on #5837
@datumbox thanks for flagging, I'll take the liberty to replace this with `shutil.which` as it's recommended in [PEP632 migration advice](https://peps.python.org/pep-0632/#id11)

[2022-04-21 10:27] bjuncek commented on #4112
Hi @shehan360

Nightly build should work provided that you have `pyav` installed as well.
Otherwise, I'd suggest building from source (and having `pyav` and `ffmpeg` installed if you want the full video-reader support.

[2022-04-21 10:45] datumbox opened #5850 "CI `cmake_macos_cpu` fails with UnsatisfiableError"
### 🐛 Describe the bug

Our CI started failing [cmake_macos_cpu](https://app.circleci.com/pipelines/github/pytorch/vision/16819/workflows/053414c1-2e39-49d2-9ad2-f7de6fbbfc4e/jobs/1362984) due to dependency conflicts cause by core:
[code]

cc @seemethere

[2022-04-21 11:06] datumbox commented on #5845
Fair question @WZMIAOMIAO. I've seen this previously on various other repos and I believe it was done to avoid issues caused by zero width/length boxes. Of course in this case, the followup max statement does the same thing.

@fmassa Do you have context around this? Else I can try to get some input directly from the research teams that published the work.

[2022-04-21 11:49] #5768 closed

[2022-04-21 12:25] vadimkantorov commented on #5782
Related: https://github.com/pytorch/vision/issues/4415

[2022-04-21 12:27] vadimkantorov commented on #5726
Related discussion: https://github.com/pytorch/vision/issues/4415

[2022-04-21 12:30] vadimkantorov commented on #5818
could it just do no-op if num_masks == 0 and exit early (without throwing)?

[2022-04-21 12:32] Ilyabasharov commented on #5726
@datumbox [oke-aditya](https://github.com/oke-aditya)
Here is my the answer [def mask_iou(mask1: torch.Tensor, mask2: torch.Tensor, ) -> torch.Tensor:](https://github.com/Ilyabasharov/instance_tracker/blob/92b2b5f602955df6acbc9fc282d2e4909bd47386/scripts/utils.py#L82)

[2022-04-21 12:48] NicolasHug commented on #5818
From @oxabz 's comment:

`num_masks` is 0 in situations where something went wrong in the training, or in setting the threshold. It's probably best to raise a proper error in these situations rather than silently passing, to let the user know that there is a problem somewhere else.

But I don't feel too strongly about it, it's just a util. We can also raise a warning and return early. But we shoul

[2022-04-21 13:02] vadimkantorov commented on #5818
Not necessarily - sometimes in datasets there are examples with no ground truth masks (e.g. only boxes or only crowd/difficult instances). And it's sometimes better to not throw rather than having to roll dataset filtering immediately.

Not failing with empty-sized dim tensors is a general theme of regular pytorch ops. So having it break in the vis utility is often a nuisance.

[2022-04-21 13:09] datumbox commented on #5850
Seems the problem is resolved on its own.

[2022-04-21 13:09] #5850 closed

[2022-04-21 13:21] oxabz commented on #5818
I can handle the pull request if everything is settled

[2022-04-21 13:22] yassineAlouini commented on #5833
Thanks. Should I work on both documentations then? Or at least start with EfficientNet? :thinking:

[2022-04-21 13:24] oke-aditya commented on #5818
Feel free to take this @oxabz

[2022-04-21 13:33] NicolasHug commented on #5833
@yassineAlouini sure, feel free to do both!

[2022-04-21 14:13] NicolasHug commented on #5833
You can just reference this one!

[2022-04-21 14:26] datumbox commented on #5088
Not immediate plans but it's something we can consider for future models. Up until recently that was not an option purely because we couldn't deploy multiple weights. Now that it's possible, we can assess it. I think that merits its own issue and would require some discussion for which models we should support.

[2022-04-21 14:58] seemethere commented on #5830
This one doesn't look related to upstream changes since the file it's trying to copy comes from torchvision itself and not upstream torch

[2022-04-21 17:12] aurelien-m opened #5858 "Unable to generate a TensorRT GeneralizedRCNNTransform model with a dynamic batch"
### 🐛 Describe the bug

I'm trying to generate a TensorRT engine of `RetinaNet` that uses `GeneralizedRCNNTransform`. By bypassing a couple of layers, it works fine for a static batch size. However, when using a dynamic batch size, I get an issue that I don't know how to fix.

In `class GeneralizedRCNNTransform(nn.Module)`, there is this part in the `forward` method:

[code]

When converting my mo

[2022-04-21 17:29] datumbox commented on #5088
Potentially, but this requires discussion to understand exactly the proposal and plan. We have a new [Model Contribution Guide](https://github.com/pytorch/vision/blob/main/CONTRIBUTING_MODELS.md), so adding weights to TorchVision is definitely a possibility. The devil is in the details though so I recommend you to start a new issue and tag us there to discuss the details. :)

[2022-04-22 08:06] oxabz commented on #5818
Okay so I've added the warning and made sure that the function wouldn't throw, but I'm having trouble with the automated test. The build for the unit test is giving me really a cryptic error on part of the code I havent changed. I might need a bit of help on that.

[2022-04-22 09:48] #5015 closed

[2022-04-22 09:51] Michelvl92 commented on #4395
Is there any info on the improvement of the inference time/latency with exported TensorRT in comparison with ONNX or PyTorch?

[2022-04-22 10:11] datumbox commented on #5858
@aurelien-m Thanks for reporting.

This is not currently a use-case we support. It's hard to guide you to the best option because I don't have deep expertise on TensorRT and ONNX. We could potentially look into this on the future, but currently it's hard due to our limited resources. Apologies I can't provide better assistance at this point.

[2022-04-22 13:46] federicopozzi33 commented on #5782
@vfdev-5,

I'd like to go on with _pad_segmentation_mask_ primitive.

[2022-04-22 13:47] vfdev-5 commented on #5782
Thanks @federicopozzi33 , sure go ahead !

[2022-04-22 14:06] BrettRyland opened #5863 "Python dependency added to TorchVisionConfig.cmake despite building with -DUSE_PYTHON=off"
### 🐛 Describe the bug

Despite building `libtorchvision.so` with the flag `-DUSE_PYTHON=off`, when building a program that depends on it (`infer-masts`), `cmake` throws an error due to a missing Python dependency:
[code]
Changing line 61 of TorchVisionConfig.cmake from
[code]
to
[code]
allows my program to build without issues.

### Versions

[code]
Note: This is on a Jetson Nano device. Python3.

[2022-04-22 14:13] BrettRyland commented on #5863
I forgot to add, this is the CMakeLists.txt file:
[code]

[2022-04-22 16:47] msaroufim commented on #608
Hi @datumbox it's been a while since this PR had any discussions, I'm curious if there are any plans to make this happen?

[2022-04-22 18:24] vdutell opened #5865 "Error Downloading Kinetics 400 dataset"
### 🐛 Describe the bug

Error in downloading Kinetics 400 dataset. Download stops at training set tar file 121 (full k400 dataset is 200+ tar files).

I know this isn't a problem with the disk being out of write space. This has happened twice with different users and environments.

Not seeing this exact error raised as an issue anywhere else. Seems something is wrong with one of the downloaded fil

[2022-04-22 21:29] atalman commented on #5830
Looks like the error happended in nightly between April 16 and 17. It happens during the linking:

Good linker string:
/OUT:build\lib.win-amd64-3.7\torchvision\_C.pyd /IMPLIB:C:\Users\circleci\project\build\temp.win-amd64-3.7\Release\Users\circleci\project\torchvision\csrc\ops\autograd\_C.lib

Linker string with error:
/OUT:build\lib.win-amd64-3.7\torchvision\pyd /IMPLIB:C:\Users\circleci\project\

[2022-04-23 00:06] malfet commented on #5830
I suspect it's caused by https://github.com/pypa/setuptools/issues/3219
Which is easily verifiable by pinning `setuptools` to say 58.0.4, which I'm doing in https://github.com/pytorch/vision/pull/5868

[2022-04-23 00:19] atalman commented on #5830
Yes looks like you are correct setuptools is the problem

[2022-04-23 00:21] danialdunson commented on #3207
surprisingly matplot lib requires much lower version of keras-gpu and opencv to be blessed by anaconda.
create a new conda envirornment listing the packages you want....conda found something it liked for me at least:

conda create -n myenv keras-gpu matplotlib opencv pandas...
____________
python 3.8.13
yaml 0.2.5
----------
opencv 4.0.1
keras-gpu 2.4.3
tensorflow-gpu 2.3.0
matplotlib 3.5.1
pandas

[2022-04-24 17:13] #5830 closed

[2022-04-24 21:44] mbadal1996 opened #5872 "Keypoint RCNN visibility flag for keypoints"
### 🚀 The feature

Hello All,

This is only my first day posting a request here so I apologize for any errors on my part. Also, sorry for the long post below.

The purpose of this post is to request an improvement/correction for the visibility flag behavior of Keypoint RCNN. Based on my results and those of other users I have encountered on different forums and sites, Keypoint RCNN always predicts

[2022-04-25 08:28] datumbox opened #5873 "CI jobs broken due to upstream changes on padding"
### 🐛 Describe the bug

The latest main seems broken potentially due to upstream changes on PyTorch's core. I believe the problem was introduced due to the changes on pad at https://github.com/pytorch/pytorch/pull/73433.

Here are different [failures](https://app.circleci.com/pipelines/github/pytorch/vision/16939/workflows/22a1367b-29f9-494c-880a-ee2c9c3c2fd4/jobs/1373186) we get:
[code]

[code]

[2022-04-25 09:10] datumbox commented on #608
@msaroufim we are currently working to improve the Data loading process using [PyTorch Data](https://github.com/pytorch/data). We do not have immediate plans for integrating DALI directly at the moment but we can review this on the future. As we have very little resources, I think it's more realistic that such an investigation can happen after the release of the new Datasets API.

ccing @NicolasHu

[2022-04-25 12:27] datumbox commented on #5872
@mbadal1996 Thanks for raising this. Welcome to our community!

I haven't worked a lot on the specific model but I confirm that your assessment is correct. The KeypointRCNN model doesn't produce predictions for the visibility flag and during inference it's always [set to 1](https://github.com/pytorch/vision/blob/11bd2eaa6d6976129836b329b01d1300babddcc9/torchvision/models/detection/roi_heads.py#L29

[2022-04-25 14:59] NicolasHug commented on #5822
@datumbox will be able to correct me if I'm wrong here:

Yes.

I believe so - the ability to detect background over other classes is a required feature of the models, so it has to be explicitly encoded in some way.

I believe it comes from here: https://github.com/pytorch/vision/blob/6d85d74be6ac72b2ac3057d85d8ae0004fa0de3f/references/segmentation/coco_utils.py#L55-L56

[2022-04-25 18:04] msaroufim commented on #608
Oh interesting so the way you'd integrate new backends in the future is to integrate them within `torch.data`? Also where can I learn more about the new Datasets API?

[2022-04-25 19:12] mbadal1996 commented on #5872
Hi @datumbox and @fmassa,

Thanks very much for the friendly welcome. I appreciate that you are getting back to me on this question. Thanks also for confirming the behavior and providing some more insight. Yes, my experiments appear to confirm the comment that keypoints with v=0 are excluded from training (so excluded from the loss calculation). After training, the model goes on to predict on thos

[2022-04-25 21:29] LJ-00 opened #5887 "Sudden error with torchvision"
### 🐛 Describe the bug

Hello I have problem with pytorch
!pip install torch==1.9  #I NEED TO USE THIS VERSION and the following code has been working so far until now.
I don't know why I get this error just now

from torchvision import transforms

ModuleNotFoundError: No module named 'torch.ao.quantization'

Full code:
###############################
!pip install torch==1.9
import numpy as np
fro

[2022-04-25 23:43] rikkudo commented on #2720
Hi, so I have this problem too, can you manage to transforming the target? how you do that?

[2022-04-26 01:44] sheromon commented on #2720
Hi, @rikkudo, this was a while ago, so I can't guarantee this code, but I ended up doing something like this.
[code]

[2022-04-26 01:44] #2720 closed

[2022-04-26 06:06] pmeier commented on #608
Not sure what you mean by "backends" here. In general you are right though. [`torchdata`](https://github.com/pytorch/data) is the way to go for the new datasets.

There is no public document yet. However, we already have quite a large collection of datasets ported to the new structure. You can access them with `torchvision.prototype.datasets.load(name)`, where `name` is the name of the dataset you

[2022-04-26 06:07] #5846 closed

[2022-04-26 07:02] abhi-glitchhg commented on #608
Adding to @pmeier's comment, [this](https://wandb.ai/capecape/torchdata/reports/How-the-TorchData-API-Works-a-Tutorial-with-Code--VmlldzoxNjkwNjIz) tutorial might help you.

[2022-04-26 07:49] pmeier commented on #5865
Reproduction

[code]

It seems the archive was not compressed, but we are trying to decompress it.

[2022-04-26 07:52] pmeier commented on #5865
This was reported in https://github.com/cvdfoundation/kinetics-dataset/issues/21 almost 5 months ago.

[2022-04-26 08:43] pmeier commented on #5865
Here is a patch that fixes the extraction for the offending archive:

[code]

@vdutell Given that you seem to use a stable release, it will be quite some time until you will have access to this patch through an official binary.

The Kinetics team has been reasonably responsive to our requests in the past. Let's give them some time to fix the archive before I send this patch as PR.

[2022-04-26 12:17] datumbox opened #5881 "cmake jobs fail with `The following operation failed in the TorchScript interpreter`"
### 🐛 Describe the bug

The latest main branch [fails](https://app.circleci.com/pipelines/github/pytorch/vision/16983/workflows/d1839dd6-4cef-4db5-a9a7-dfdc43d07d03/jobs/1376924) with the following error:
[code]

It looks like this is due to an upstream change on PyTorch Core.

### Versions

The breakage on the `cmake_*` jobs started appearing on the 20220426 nightly, see 66ed6937a8325b26a7dea4bf8

[2022-04-26 13:22] NicolasHug opened #5882 "Special-case KeypointRCNN in the new detection models docs"
Following up on https://github.com/pytorch/vision/pull/5876#discussion_r857726932

The "Detection" section of the new models doc contains `KeypointRCNN`, but it should be treated separately as it has an additional keypoint_MAP metric.

[2022-04-26 13:49] yassineAlouini commented on #5833
Since previous MRs have been merged, I can work on `GoogLeNet` doc if it is available. :ok_hand:

[2022-04-26 13:49] NicolasHug commented on #5833
Please pick as many as you'd like @yassineAlouini :)

[2022-04-26 13:51] NicolasHug opened #5883 "Deeplabv3 model builders accept unused **kwargs parameter."
Not sure if this is by design or a minor bug, but the deeplabV3 model builders accept a `**kwargs`  parameter and do not use it.

https://github.com/pytorch/vision/blob/d425f007782051ab08e9c0fbfe06b072313f4649/torchvision/models/segmentation/deeplabv3.py#L222:L222

@datumbox should we remove these?

[2022-04-26 14:37] yassineAlouini commented on #5833
Next: `Alexnet`.

[2022-04-26 14:42] abhi-glitchhg commented on #5833
I would take `Wide Resnet`

[2022-04-26 15:31] datumbox commented on #5883
I believe this is done across all model builders and kept there for consistency (all other builders do it). For example `lraspp_mobilenet_v3_large` makes use of it to handle extra params coming from our reference scripts [pass parameters](https://github.com/pytorch/vision/blob/main/references/segmentation/train.py#L135).

[2022-04-26 15:40] datumbox commented on #5881
The https://github.com/pytorch/pytorch/pull/75983 PR was reverted https://github.com/pytorch/pytorch/commit/bfb39e577c98a4e137c1e38029ac042358a3609f since it's likely to be causing the failure at `unittest_linux_gpu_py3.8`.

Also @vfdev-5 confirmed that the https://github.com/pytorch/pytorch/pull/75913 PR causes the issue on the `cmake_*` jobs.

[2022-04-26 15:41] vdutell commented on #5865
OK that sounds good, thank you @pmeier !!!

[2022-04-26 16:03] rikkudo commented on #2720
thank you for the help, really apreciate!

[2022-04-26 16:26] datumbox commented on #5883
Good question. Obviously here the only argument for keeping it is to be consistent with the other model builders.

Every other model builder supports is because it redirects the params to the model class. In segmentation we dont do it because the model classes don't receive too many extra parameters.

I see 2 options:
1. Go for consistency. Leave the kwargs be but also pass them on the segmentatio

[2022-04-26 16:49] venabled commented on #5863
Copy, I'm trying to run the detectron2 deployment example and seeing the same thing. Same fix as above (removing the Python3::Python target from the `set_target_properties` example works.

[2022-04-26 17:25] YosuaMichael commented on #5887
Hi @LJ-00 , seems like the problem is incompatible version between torch and torchvision.
You can see the compatible pair on the table here: https://github.com/pytorch/vision#installation.
Specifically, I think if you want to use `torch==1.9.0`, you should use `torchvision==0.10.0`.

[2022-04-26 20:37] msaroufim commented on #608
@pmeier to clarify by backend I mean one of these https://github.com/pytorch/vision#image-backend - i.e: pillow, accimage, pillow simd etc..

Overall the new interface for adding datasets looks good but I'm more curious about adding new backends like DALI. In particular DALI has some accelerated image processing kernels, accelerated image decoding which I think would be very useful to integrate in

[2022-04-26 20:40] ejguan commented on #608
Thanks @msaroufim, I had the same feeling about making it as a separate DataPipe because it requires different behavior compared with `datapipe.map` like making sure this DataPipe only run on single process to prevent cuda context being copied around. It definitely needs more deeper look on DALI itself.

[2022-04-26 20:53] msaroufim commented on #608
Seems like there's a good workaround too https://github.com/NVIDIA/DALI/issues/3081#issuecomment-866239816 - I'll take a more thorough look

[2022-04-26 21:20] aurelien-m commented on #4395
On my side, I was able to achieve a x2 to x3 in speeds depending on the hardware, from Pytorch to TensorRT (I don't have the exact numbers anymore, sorry!)

[2022-04-26 23:15] frgfm commented on #5833
Alright I'm back 😁
Anyone wants to lend me one of those models? @oke-aditya mind if I take MobileNetV3 while you handle MobileNetV2 for instance? 🙏

[2022-04-27 02:36] oke-aditya commented on #5833
Sure Take v1. I'm back too.  Was sick :(

[2022-04-27 06:37] pmeier commented on #608
@msaroufim

The new datasets will return a `features.EncodedImage`, which is a 1D uint8 tensor just storing the raw bytes. You can decode it however you want. Right now, `transforms.DecodeImage()` uses PIL as backend

https://github.com/pytorch/vision/blob/a8f563dbf8520020054aa01f5ae169999775fd19/torchvision/prototype/transforms/_type_conversion.py#L11-L17

https://github.com/pytorch/vision/blob/a

[2022-04-27 07:02] pmeier commented on #5883
Cross linking https://github.com/pytorch/vision/pull/5001#discussion_r763326832 since we had this discussion before.

[2022-04-27 07:13] pmeier commented on #5887
To complement @YosuaMichael's answer: The usage of `torch.ao.quantization` was introduced in #4554 and was first published in the `0.12.0` release. The fact that it worked before was pure luck, because presumably the `torch` and `torchvision` were already not in sync.

Your env is also broken in a another way: your `torch` version was built against CUDA 10.2, whereas `torchaudio` and `torchvision`

[2022-04-27 07:13] #5887 closed

[2022-04-27 08:23] datumbox opened #5890 "MobileNetV3 quantization bug"
### 🐛 Describe the bug

This issue documents an bug discovered on February 2021 while quantizing the MobileNetV3. We worked around the issue but it probably remains unresolved on the eager quantization API. Here I'm gathering all the information exchanged with the quantization team so that we can investigate on the future.

-----------

TLDR: During the QAT training of MobileNetV3 the accuracies a

[2022-04-27 09:42] t-vi opened #5892 "Imagenet 10 or Imagenette"
### 🚀 The feature

I think it would be cool to have a readily-downloading dataset of 10 categories and imagenet shape (i.e. to be fed into 224x224). Currently the closes is likely STL10, but I think one of Imagenet-10 ( https://paperswithcode.com/sota/image-clustering-on-imagenet-10 ) or Imagenette ( https://github.com/fastai/imagenette ) might be worthwhile to add.

### Motivation, pitch

With vi

[2022-04-27 09:50] axmav opened #5893 "Mac M1 pro segmentation fault on import"
### 🐛 Describe the bug

Hello! Can not import torchvision on my mac. Get an error:
`libc++abi: terminating with uncaught exception of type std::length_error: vector`
as well as segmentation fault.

code:
[code]

it also fails just with `from torchvision.utils import save_image`

Similar issue: https://github.com/pyg-team/pytorch_geometric/issues/4419
But not a single proposed solution works...

##

[2022-04-27 09:57] GeneralJing commented on #1029
the link page is gone. can you reply it again？

[2022-04-27 09:59] datumbox commented on #5893
TorchVision doesn't properly provide support for this at the moment. We have a todo to investigate at #5171 but we don't currently have the bandwidth to resolve.

We'll definitely need to fix once when we investigate. Also by briefly checking the linked issue but I'm not sure what exactly it's invoking the `libc++abi` when you simply import `from torchvision.utils import save_image`. I wonder if t

[2022-04-27 10:02] datumbox commented on #5892
@t-vi Thanks for the suggestion.

I think that's reasonable. Another option could be [Tiny Imagenet](https://paperswithcode.com/dataset/tiny-imagenet). Worth exploring as an addition on the new Datasets API.

[2022-04-27 10:03] axmav commented on #5893
@datumbox could you provide me with a code? Idk what is decorator.
But I solved this problem by downgrading to `pip install "torchvision==0.11.3"`

[2022-04-27 10:04] t-vi commented on #5892
Note that tiny imagenet is 64x64 , I was hoping to have a smallish dataset with usual imagenet sizes.

[2022-04-27 10:05] datumbox commented on #5893
@axmav I was wonder what would happen if you try to import a dummy method like this:
[code]

[2022-04-27 10:17] axmav commented on #5893
yes, this works on 0.12.0

[2022-04-27 10:47] NicolasHug opened #5897 "Revamping our semantic segmentation and object detection models docs #5833"
Sister issue (for classification models): https://github.com/pytorch/vision/issues/5833

We're re-writing our models docs to make them clearer, simpler, and to properly document the [upcoming multi-weight API](https://pytorch.org/blog/introducing-torchvision-new-multi-weight-support-api/). This issue is about adding docs for the detection and segmentation models.

Our latest new docs are currently

[2022-04-27 10:48] NicolasHug commented on #5833
Thank you so much everyone who participated so far, your help is greatly appreciated!

For those who would like to pick more models, I just opened this new issue to document the rest of the models (semantic segmantation and object detection) https://github.com/pytorch/vision/issues/5897

[2022-04-27 11:08] abhi-glitchhg commented on #5897
I can work on `FasterRCNN`

[2022-04-27 11:50] frgfm commented on #5833
Sad to hear this @oke-aditya :/ Happy to take care of V3 as well while I'm at it if you want!

[2022-04-27 11:51] frgfm commented on #5897
Happy to take care of `MaskRCNN` 👍

[2022-04-27 11:55] pmeier commented on #5892
Is "ImageNet10" available as independent dataset? paperswithcode.com has it listed in the clustering benchmark as you listed, but it is not listed in their dataset section. Is it just a subset of the original ImageNet dataset?

As for "imagenette" we could easily provide that. I'll add it to my backlog when the new dataset API is final.

[2022-04-27 11:55] oke-aditya commented on #5833
I Will take care of v3, slowly getting back to work. :)

[2022-04-27 11:55] xiaohu2015 commented on #5897
I can work on FCOS

[2022-04-27 12:09] t-vi commented on #5892
I think it is a subset of imagenet. I don't remember which was the first paper that I saw used it, but e.g. here is the list of classes:
https://github.com/Yunfan-Li/Contrastive-Clustering/tree/main/datasets

[2022-04-27 12:22] peterjc123 commented on #1029
https://github.com/pytorch/vision/blob/v0.4.0/packaging/windows/cuda100.bat#L39

[2022-04-27 12:33] pmeier commented on #5892
Is that the same for imagenette? From looking at the file structure that seems to be the case. If so I'm a little confused how they can provide public download links whereas the regular imagenet doesn't do that due to licensing issues.

In case they are actually subsets, I wouldn't put much priority on adding them to our API for now. With the new datasets (available under `torchvision.prototype.da

[2022-04-27 13:52] datumbox commented on #5881
The problems are fixed on the latest nightly 20220427.

[2022-04-27 14:51] pmeier commented on #5892
I don't think it has any implications for us if we provide a wrapper around a publicly available URL. In case the usage was not authorized, the people that published it will be at fault. Since the repository is licensed under [Apache License 2.0](https://github.com/fastai/imagenette/blob/master/LICENSE), I think it is fair to assume for us and our users that the data is fine to use under this lice

[2022-04-27 15:25] datumbox commented on #5892
I am not too sure about this. I'm not an expert to copyrighting so before starting any work on this we would have to ask advice of people within Meta who have this expertise. It's OK to record this as a request from the community, just make sure to ping me prior kicking off work on it so that I can try to clarify these points. This will help us avoid throwaway work.

[2022-04-27 22:06] joseluisrt commented on #2921
In Ubuntu 20.04, I had to install lzma lzma-dev and liblzma-dev

and compile again Python 3.7 using:

./configure --enable-shared --enable-optimizations
sudo make altinstall

[2022-04-27 22:07] ohhhYang commented on #2921
我已经收到您的邮件，谢谢！

[2022-04-28 03:40] GeneralJing commented on #1029
thank you for your reply. i met the error of this type when i compile another project.
components/spconv_cpp/src/maxpool.cu(238): error: more than one operator "==" matches these operands:
            built-in operator "arithmetic == arithmetic"
            function "operator==(const __half &, const __half &)"
            operand types are: c10::Half == c10::Half
          detected during:

[2022-04-28 07:16] pmeier commented on #2921
@joseluisrt This is most likely due to the fact that you seem to compile Python yourself. Trying with docker, it seems `liblzma` is already installed on a fresh image and nothing more is needed to `import lzma` if you install Python from the official sources.

[code]

[2022-04-28 08:10] GeneralJing commented on #1029
solved. thanks.

[2022-04-28 09:11] oke-aditya commented on #5897
I will take LRASPP

[2022-04-28 09:45] pmeier commented on #5550
Another error not picked up by our CI: https://github.com/pytorch/vision/pull/5801#issuecomment-1111125791.

[2022-04-28 09:53] datumbox commented on #5550
As discussed offline with @pmeier, this is the 4th time that platform specific issues creep in on datasets and need to be tested on each platform. Given that the prototype execution time is only 5 minutes, adding 2 jobs for Windows and macOS sounds like a reasonable tradeoff.

@seemethere @bigfootjon Just highlighting this case as another example of why often we need to run tests across different

[2022-04-28 09:56] rvandeghen opened #5913 "`F.pad` in `FixedSizeCrop` needs `int` not `float`"
### 🐛 Describe the bug

The augment `FixedSizeCrop` in the detection recipe is filled with `mean=(123.0, 117.0, 104.0)` but when we call the padding function:
https://github.com/pytorch/vision/blob/292117405af46e1cdbf2f9ec6eb4752d276bbbb6/references/detection/transforms.py#L356
we should use `int` not `float` as it produces the following error:
[code]

We can either cast the `tuple` of `float` to

[2022-04-28 10:03] datumbox commented on #5913
Thanks for reporting.

PIL only supports ints. This is why you get this error.

@vfdev-5 Do you think we should do this casting within the low-level kernel of PIL? What are your thoughts?

[2022-04-28 10:07] rvandeghen commented on #5913
@datumbox I did the change from my side but I guess it should also be done in the detection recipe.

[2022-04-28 10:12] datumbox commented on #5913
@rvandeghen Let's get Victor's input on where is the best place to put this. Then we can see if a PR is needed and what to modify. :) I assume if that's the direction we will go, you would be OK to send a PR?

[2022-04-28 10:15] vfdev-5 commented on #5913
Looks like detection recipe is passing float values here :
https://github.com/pytorch/vision/blob/292117405af46e1cdbf2f9ec6eb4752d276bbbb6/references/detection/presets.py#L6

but `F.pad` (stable API) requires ints :
https://github.com/pytorch/vision/blob/292117405af46e1cdbf2f9ec6eb4752d276bbbb6/torchvision/transforms/functional.py#L434

https://github.com/pytorch/vision/blob/292117405af46e1cdbf2f9

[2022-04-28 10:37] frgfm commented on #5897
I'll take FCN & SSDLite to finish this then :)

[2022-04-28 10:57] zhiqwang commented on #5833
Hi @NicolasHug , Sorry for delay, I will finish `ShuffleNetV2` by tomorrow.

[2022-04-28 10:58] NicolasHug commented on #5833
No rush @zhiqwang :)

[2022-04-28 11:29] xiaohu2015 commented on #2707
I want to add another object detection model: ATSS.

[2022-04-28 11:38] rvandeghen commented on #5913
From my point of view, I would also change in the the recipe with `mean=(123, 117, 104)` because the other reference of `mean` is used with the `ssd` augmentation which also recasts the values in `int`
https://github.com/pytorch/vision/blob/292117405af46e1cdbf2f9ec6eb4752d276bbbb6/references/detection/transforms.py#L169-L172

I tried the change and it works for both augmentations.

If it's ok for

[2022-04-28 12:09] datumbox commented on #2707
@xiaohu2015 You are on fire this quarter! 🔥 🚀

Just to confirm you refer to [ATSS](https://arxiv.org/pdf/1912.02424.pdf) which builds upon FCOS? If yes, We've used some of the tricks of this paper on #5444 to improve RetinaNet. Let's chat offline to discuss the details (just want to make sure we have the bandwidth to support on the reviews and avoid lengthy waits). Out of curiosity, originally we

[2022-04-28 15:24] #5550 closed

[2022-04-28 15:38] #3257 closed

[2022-04-28 16:21] jdsgomes commented on #5833
I will work on the MNASNet - seems to be the last one

[2022-04-28 19:25] programmeddeath1 opened #5919 "Failed to load image python extension/Segmentation fault in Raspberry pi 4B with python 3.9/10"
On installing the raspberry pi (aarch64) hosted wheels on both the raspbian os(bullseye) with python 3.9, and ubuntu 22.04 with python 3.10. on loading torch vision I get a user warning :

python3.10/site-packages/torchvision/io/image.py:11 UserWarning: Failed to load Image Python extension:
 warn("Failed to load image python extension: {e}")

On running the yolov5 detection, after loading the mod

[2022-04-29 04:58] santhoshnumberone commented on #2740
I have a similar issue

Following this tutorial [Building Your Own Object Detector Pytorch Vs Tensorflow And How To Even Get Started](https://towardsdatascience.com/building-your-own-object-detector-pytorch-vs-tensorflow-and-how-to-even-get-started-1d314691d4ae) to use transfer learning to train a custom data set

Running on `Google Colab` using CPU
Pytorch version: `1.11.0+cu113`
Python version:

[2022-04-29 06:40] abhi-glitchhg commented on #2740
Hey @santhoshnumberone ,
refer to @oke-aditya's comment here-  https://github.com/pytorch/vision/issues/2740#issuecomment-702575254. The bounding boxes should be in form of (xmin, ymin, xmax, ymax).

In your bounding box data, there are few datapoints which do not fit the above format,  some of them are -

    tensor([[201., 838., 611., 621.]])
    tensor([[488., 669., 774., 541.]])
    tensor([[1

[2022-04-29 06:47] oke-aditya commented on #2740
Also note that if you are trying to train an object detection model you should use
[code]

since mask_rcnn is an instance segmentation model which will expect segmentation mask during training.

[2022-04-29 06:55] oke-aditya commented on #2707
Hey @xiaohu2015 can I be bit of help? I have had worked on DeTR a bit before and it would be great learning for me to implement a model to torchvision. Will appreciate much if we could collaborate. Thanks :smiley:

[2022-04-29 10:52] xiaohu2015 commented on #2707
@oke-aditya OK, but I think I should split the implementation into different parts, I will update this in the PR https://github.com/pytorch/vision/pull/5922

[2022-04-29 12:24] yassineAlouini commented on #5833
@NicolasHug Shouldn't the `GoogLeNet` be checked in the list? :thinking: Asking so that no one does the job again. :smile:

[2022-04-29 18:45] santhoshnumberone commented on #2740
Thank you for highlighting the issue, will look into it blindly trusted a popular online image labelling tool

[2022-04-29 18:54] santhoshnumberone commented on #2740
![MarkRCNNSl](https://user-images.githubusercontent.com/43645867/166007274-4ab81650-3fae-41d2-bf16-295497f74a86.png)

Can't I `freeze` everything apart from `object detection` block and train it?

[2022-04-30 05:25] SmallSquare opened #5925 "HTTP 500 when using torchvision.OxfordIIITPet(download=True)"
### 🐛 Describe the bug

Got HTTP 500 when using `torchvision.OxfordIIITPet(download=True)`
It also happened in another Oxford dataset `torchvision.Flowers102`

I tested it on different networks but it does not work now.

[code]

Other datasets work fine.

### Versions

PyTorch version: 1.11.0+cu113
Is debug build: False
CUDA used to build PyTorch: 11.3
ROCM used to build PyTorch: N/A

OS: Ubuntu 1

[2022-04-30 15:50] ellisbrown commented on #5925
+1

[2022-04-30 18:06] anand97 commented on #4476
Hello! I am facing the same error on my Jetson Nano, I already have precompiled binaries for Libtorch which I've tested to be working with a sample program I made to run yolov5 using the libtorch. Unfortunaly while trying to build the torchvision library I get a linking error that says:

`/home/user/pytorch/torch/lib/libtorch.so: error adding symbols: File in wrong format`

What I understand is th

[2022-05-01 17:23] BassamAliBhatti opened #5927 "AttributeError: module 'torchvision.transforms' has no attribute 'Scale'"
### 🐛 Describe the bug

AttributeError: module 'torchvision.transforms' has no attribute 'Scale'

I am using torch version and this scale error is coming in my code in line as
transform_list.append(transforms.Scale(osize, method)) #Code line
AttributeError: module 'torchvision.transforms' has no attribute 'Scale'

### Versions

transform_list.append(transforms.Scale(osize, method))
AttributeError:

[2022-05-02 07:52] pmeier commented on #5927
The `Scale` transform has been deprecated since `0.2.0` (> 4 years) and was finally removed in `0.12.0` (#5386). Please follow the warning it emitted in the mean time and use `transforms.Resize`.

https://github.com/pytorch/vision/blob/c9b8914528f70fc8444a913a0934a0e44bff67c1/torchvision/transforms/transforms.py#L150-L157

[2022-05-02 07:52] #5927 closed

[2022-05-02 08:00] pmeier commented on #5925
Given that they are all hosted on https://www.robots.ox.ac.uk and you got an `Internal Server Error` it is likely that their server just failed for some time. As of now, everything is operational for me again. @SmallSquare @ellisbrown could you check if the same is true on your end?

[2022-05-02 08:42] ray-twelve opened #5928 "A problem related to FFmpeg when building from source."
### 🐛 Describe the bug

Hello
I am trying to build torchvision from source in order to use video_reader with gpus enabled.

I started a fresh instance on ec2 with ubuntu deep learning AMI.

First, I created a conda environment and installed pytorch and etc. with
conda install pytorch==1.10.1 cudatoolkit=11.3 -c pytorch -c conda-forge

And then I cloned the torchvision from github and checked out t

[2022-05-02 08:44] federicopozzi33 commented on #5782
I'd like to complete this issue doing _center_crop_segmentation_mask_.

[2022-05-02 09:23] yassineAlouini commented on #3562
This is a new dataset request and will be added to the new dataset API once it is stable enough. In the meantime, we will close the current PR (don't worry, the code will be reused at some point in the new dataset design to integrate it). @pmeier

[2022-05-02 12:28] pmeier commented on #5928
What version of `ffmpeg` are you building against? cc @bjuncek

[2022-05-02 13:06] ray-twelve commented on #5928
when I type ffmpeg -version it says 9c33b2f. It doesn't seem a valid version. I installed via conda
(conda install -c conda-forge ffmpeg)

 ffmpeg -version
ffmpeg version 9c33b2f Copyright (c) 2000-2021 the FFmpeg developers
built with gcc 9.3.0 (crosstool-NG 1.24.0.133_b0863d8_dirty)

[2022-05-02 13:15] pmeier commented on #5928
According to the [feedstock](https://github.com/conda-forge/ffmpeg-feedstock) the current version is `5.0.1`. We only added compatibility for `ffmpeg>5` in #5644, which hasn't made its way into a tagged release yet. To be able to build `torchvision==0.11.0`, you probably need to `conda install -c conda-forge 'ffmpeg<5'`. Could you try and report back?

As a side note, you should `git checkout v0.1

[2022-05-02 13:39] SmallSquare commented on #5925
Thank you for your reply. It works for me now. 😊

[2022-05-02 13:39] #5925 closed

[2022-05-02 14:54] vadimkantorov commented on #4260
another instance of non-existent tested recipe for building from source with ffmpeg:
https://github.com/pytorch/vision/issues/5928

[2022-05-03 02:34] santhoshnumberone opened #5932 "Transfer learning using pre trained objective detection model FCOS: Fully Convolutional One-Stage Object Detection architecture"
### 🚀 The feature

FCOS architecture
![FCOSs](https://user-images.githubusercontent.com/43645867/166395436-c8771862-c295-42e8-86e3-5c3c8ea7c439.png)

I used **`requires_grad`** to freeze all the layers in the network and decided to train only the classification which used to predict **`90 classes`** to train only **`one class`**

Used the **code below** to replace the entire classification block a

[2022-05-03 03:47] ray-twelve commented on #5928
Thanks,

I have tried conda install -c conda-forge 'ffmpeg<5' and also checked out v0.11.2.

When I tried python setup.py install, It seems okay and the compilation process was successfully done.

At the first try, I faced CUDA version mismatch between torch and torchvision. So I exported CUDA_PATH and CUDA_HOME in order to specify the right version and it seems to be working!

Thank you!

[2022-05-03 06:25] #5928 closed

[2022-05-03 09:53] NicolasHug commented on #5897
Thanks a lot everyone! `SSD300` is still up for grabs if anyone would like to do it

[2022-05-03 09:55] puhuk commented on #5897
@NicolasHug Hi I am doing with SSD. Could you wail till today:)

[2022-05-03 09:56] NicolasHug commented on #5897
Oops sorry @puhuk I missed your comment above! Please take your time, no rush :)

[2022-05-03 14:04] #4730 closed

[2022-05-03 15:18] #5897 closed

[2022-05-04 09:56] bjuncek commented on #5837
Closed via #5849

[2022-05-04 09:56] #5837 closed

[2022-05-04 12:43] Flova opened #5940 "Torchvision import leads to OpenCV imshow freeze"
### 🐛 Describe the bug

Showing an image using OpenCV leads to the program getting stuck (100% CPU) without showing the image if torchvision is imported.

[code]

Expected result: The image is displayed and the program finishes.

### Versions

PyTorch version: 1.11.0+cu102
Is debug build: False
CUDA used to build PyTorch: 10.2
ROCM used to build PyTorch: N/A

OS: Ubuntu 20.04.4 LTS (x86_64)
GCC ve

[2022-05-04 12:48] Flova commented on #5940
I don#t know why it is not listed there, but OpenCV is also installed in the venv. I checked the path and the version is not from the system.

Version:
[code]

[2022-05-04 13:03] Flova commented on #5940
Displaying an image before the import leads to them being displayed also after the import.

[2022-05-04 13:56] hubutui opened #5942 "typing_extensions is only needed for python < 3.8"
### 🚀 The feature

specify the dep typing_extensions is only needed for python < 3.8

### Motivation, pitch

specify the dep typing_extensions is only needed for python < 3.8

### Alternatives

_No response_

### Additional context

According to https://github.com/pytorch/vision/search?q=typing_extensions, torchvision only uses `typing_extensions.Literal`, which is available since python 3.8, see

[2022-05-04 14:00] pmeier commented on #5940
Thanks for the report. I can't reproduce in a clean `conda` environment. Could you try the following where `main.py` contains the snippet you posted above?

[code]

Does the error persist?

[2022-05-04 15:12] pmeier commented on #5942
In case the syntax is unknown, this conditional dependency is a [environment marker specified in PEP508](https://peps.python.org/pep-0508/#environment-markers).

[2022-05-04 15:20] pmeier commented on #5942
Within our code we need to do something like

[code]

[2022-05-04 15:28] NicolasHug commented on #5942
Any chance we can avoid that? This is going to be a headache.

I'm not sure I completely understand the original issue here. We test torchvision on 3.7-3.10 and we're not hitting any of these related issues.

Also the original post suggests

But the condition is the other-way around?

[2022-05-04 15:35] juhan commented on #5940
I did come across the `cv2.imshow` freeze as well, but it seems to be kind of interaction between `torchvision` and `pytorchvideo`. The way to reproduce in Ubuntu 20.04 / Python 3.8:

[code]
In this environment the above script reported by @Flova runs fine. Now when installing pytorchvideo

[code]
The same script gets stuck by hogging a single core of the CPU 100% and not even accepting `SIGINT` s

[2022-05-04 15:39] NicolasHug commented on #5942
Thanks Philip, that's were I'm confused: if there is no harm in using the backport, what is the actual cause of the original issue? Perhaps @hubutui can help me understand :) ?

[2022-05-04 15:41] #5882 closed

[2022-05-04 15:41] pmeier commented on #5940
Thanks for the extra information @juhan! I can reproduce the error now by also installing `pytorchvideo`:

[code]

[2022-05-04 15:50] NicolasHug commented on #5940
Can you try to `import torch` before importing torchvision:

[code]

?

IIRC `import torch` does some magic symbol resolution which might be needed here?

[2022-05-04 15:51] pmeier commented on #5940
Can narrow it down to [`PyAV`](https://github.com/PyAV-Org/PyAV):

[code]

The error goes away for `av<9`. Since [`pytorchvideo` does not require a specific version](https://github.com/facebookresearch/pytorchvideo/blob/9368f308d4a4619a76554cbef15b6b85ca6d0f88/setup.py#L55) you can use this as a quick workaround.

[2022-05-04 16:16] pmeier commented on #5940
The problem is unrelated to `torchvision`:

[code]

[code]

The reason you are seeing this is that as a side effect of `import torchvision` also `import av` happens:

https://github.com/pytorch/vision/blob/62740807c18e68bb0acd85895dca527f9a655bd5/torchvision/__init__.py#L6

https://github.com/pytorch/vision/blob/62740807c18e68bb0acd85895dca527f9a655bd5/torchvision/io/__init__.py#L35

https://githu

[2022-05-04 16:16] #5940 closed

[2022-05-04 17:41] hukkai opened #5944 "function get_dimensions is only available in the nightly version"
### 🐛 Describe the bug

**Describe the bug**
In the reference codes for training ImageNet classification, function `torchvision.transforms.functional.get_dimensions` is used here:
https://github.com/pytorch/vision/blob/62740807c18e68bb0acd85895dca527f9a655bd5/references/classification/transforms.py#L152

However, as I update my torch vision version to the latest one `0.12.0`, I cannot find this fu

[2022-05-04 18:02] pmeier commented on #5944
cc @datumbox

[2022-05-04 18:09] Flova commented on #5940
So you suggest that I should open an issue for the repo of `av` and `pytorchvideo`?

[2022-05-04 18:15] pmeier commented on #5940
`pytorchvideo` has also nothing to do with this other than pulling in the `av` dependency. As you can see in https://github.com/pytorch/vision/issues/5940#issuecomment-1117546474 you need neither `torchvision` nor `pytorchvideo` to reproduce the behavior.

I would start by reporting to `av` and probably also to `opencv-python`. My best guess is that this is related to a mismatch of the `ffmpeg` ve

[2022-05-04 18:17] Flova commented on #5940
Okay. I thought, about `pytorchvideo` so they maybe pin the dependency to `av` <9 but `av` itself seems definitely the most important to me.

[2022-05-04 18:23] pmeier commented on #5940
You can of course also report to them so they can decide for themselves. The don't hard-depend on `opencv-python` and I'm guessing this is why they (presumably) haven't seen this issue. Still, they have it in their dev requirements so it still might be of interest.

[2022-05-04 21:07] briancheung opened #5945 "Training recipe for these weights"
https://github.com/pytorch/vision/blob/62740807c18e68bb0acd85895dca527f9a655bd5/torchvision/models/vision_transformer.py#L377

Does anyone know how these weights were generated. Where they training from scratch only on ImageNet 1k or was it pre-trained on ImageNet 21k? Looking at the original Vision transformer paper: https://arxiv.org/abs/2010.11929 I'm not quite sure where the accuracy numbers i

[2022-05-05 00:08] xiaoyu-work opened #5947 "CU115 nightly torchvision 0.13.0 for Linux stopped updating since 20220422"
### 🐛 Describe the bug

CU115 nightly torchvision 0.13.0 for Linux stopped updating since 20220422

Can we have an update for torchvision 0.13.0 for Linux cu115? https://download.pytorch.org/whl/nightly/cu115/torch_nightly.html

Thanks

### Versions

cuda==11.5
torchvision==0.13.0.dev

[2022-05-05 01:54] hubutui commented on #5942
Hmm, it seems there is no need to fix this issue. I think I could simply update the dep when I create pkg for ArchLinux.

[2022-05-05 06:33] pmeier commented on #5947
They stopped after #5862. We now only provide binaries compiled against

https://github.com/pytorch/vision/blob/62740807c18e68bb0acd85895dca527f9a655bd5/.circleci/regenerate.py#L35-L37

The same is true for [PyTorch core](https://github.com/pytorch/pytorch/blob/ad8386c1320c3abddaf6cbdd580866de1720a735/.github/scripts/generate_binary_build_matrix.py#L16-L19). The latest nightly release build agains

[2022-05-05 06:33] #5947 closed

[2022-05-05 06:45] MahmudolHasan commented on #5919
Did you solve this issue? I am facing the same problem.

[2022-05-05 08:56] pmeier commented on #5865
This was fixed upstream in cvdfoundation/kinetics-dataset#21, so we should be good. @vdutell could you see if it also works for you?

[2022-05-05 10:41] bjuncek commented on #5787
So this entails of two things:

- [ ] fix dataset creation

- [ ] adapt videoclips object to avoid warning

Now, since we've had to revert the change because of which we introduced 2nd (see #5489), I'll simply remove the warning for now, and document this in #5720 for further action

[2022-05-05 11:02] bjuncek commented on #5865
This should be solved on Kinetics' side I think.

[2022-05-05 11:19] bjuncek commented on #5810
Hi @wqh17101 thanks for the interest.
Unfortunately, we're not really looking to add new functionality to our video-IO until the solid roadmap for it is established (and there exists a scenario where we abandon it altogether, in favour of adopting pyAV or similar solution).

Having said that, I had two questions to better understand the feature request:
1. Our current "read_video" API should be ab

[2022-05-05 12:25] tiwari93 opened #5953 "Kernal died while importing torchvision"
### 🐛 Describe the bug

Unable to import torchvision. Kernal appears to have died

Code used in jupyter notebook

Import torch
import torchvision

I tested creating python script and running from command prompt same issue.

python version - 3.9.12
toch version - 1.11.0
torchvision - 0.12.0
 windows 10

I tried the same on other version of python 3.7 with compatible version of torch same issue.
Ear

[2022-05-05 12:26] NicolasHug commented on #5953
Hi @tiwari93 , do you mind reproducing the code outside of a notebook so that we can see the actual error message?
Also please run and report

[code]

[2022-05-05 16:43] msaroufim opened #5954 "ffcv integration"
### 🚀 The feature

Integrate https://github.com/libffcv/ffcv for accelerated image decoding, preprocessing and loading

### Motivation, pitch

I maintain [torchserve](https://github.com/pytorch/serve), we've recently had customers complain about slow image preprocessing decoding https://github.com/pytorch/serve/issues/1546 - the performance implications are large. It's possible for me to solve the

[2022-05-05 16:49] briancheung commented on #5945
Thank you, that clarifies things!

[2022-05-05 16:49] #5945 closed

[2022-05-05 16:56] NicolasHug commented on #5954
Thanks Mark for opening the issue.

From my very brief review of FFCV, there are a few main components:

- custom transforms
- custom dataset format
- custom decoder
- custom DataLoader

I have no idea about how the underlying implementation works.

Some of these components might be in scope for torchvision, but typically a custom DataLoader would not. This might require involving other teams like

[2022-05-05 17:00] msaroufim commented on #5954
Agreed I think I'll tackle them them in this order
1. Custom decoder
2. Custom transform
3. Maybe custom dataset format (needs more investigation)
4. Custom dataloader - probably not unless we implement it as a reading service in torch.data

[2022-05-05 17:38] wangqiim opened #5955 "mobilenet_v2 module forward panic when batch is one"
### 🐛 Describe the bug

mobilenet_v2 module forward panic when batch is one.
`test_panic.py`
[code]

`backtrace`
[code]

### Versions

Collecting environment information...
PyTorch version: 1.2.0
Is debug build: False
CUDA used to build PyTorch: 10.0.130
ROCM used to build PyTorch: N/A

OS: Ubuntu 18.04.6 LTS (x86_64)
GCC version: (Ubuntu 7.5.0-3ubuntu1~18.04) 7.5.0
Clang version: Could not collec

[2022-05-06 02:52] tiwari93 commented on #5953
Hi @NicolasHug,
I tried running the same code on command prompt but it simply came out of python mode:

![image](https://user-images.githubusercontent.com/49356997/167058940-74a18a6d-9673-41d0-9117-e4aa572eb475.png)

Also pls find the env.py file report:

Collecting environment information...
PyTorch version: 1.11.0+cpu
Is debug build: False
CUDA used to build PyTorch: None
ROCM used to build PyTo

[2022-05-06 07:26] pmeier commented on #5955
The error message

refers to the fact that the model reduced to input image to a single "pixel" and has nothing to do with the batch size. 32 pixels is simply to small to work with `mobilenet_v2`. If you increase the image by a single pixel everything works fine:

[code]

In case you need to work with images that are 32 pixels, I would suggest you use `torchvision.transforms.Pad(1)` in your data p

[2022-05-06 07:26] #5955 closed

[2022-05-06 07:55] wangqiim commented on #5955
Make sense, But if I set batch is two, it work well. I don't think inconsistent results should be produced when changed batch.
[code]

[2022-05-06 08:19] pmeier commented on #5955
[`nn.BatchNorm2d`](https://pytorch.org/docs/stable/generated/torch.nn.BatchNorm2d.html) computes the normalization across all dimensions except the channel dimension, i.e 0, 2, and 3. If we look at the error message again

You see that the total number of elements in all three dimensions combined is still 1. Thus, anything that increases the number of elements in any of these dimensions will get r

[2022-05-06 08:26] pmeier commented on #5953
Something seems off with your env. The script found PyTorch, but didn't find `torchvision`. How did you install it?

[2022-05-06 08:30] pmeier commented on #5954
When the news about FFCV first broke, I did a quick [benchmark](https://gist.github.com/pmeier/96aeb959947bd0fb7ccf25fc61754b19) against our new datasets. TL;DR: Their custom dataset format seems to be simply saving the original data in an encoded state. This way you don't have to do the decoding at runtime and get a massive performance boost. Of course this comes with the cost of massively increa

[2022-05-06 08:53] tiwari93 commented on #5953
I used pip install torchvision
Not sure what is the issue earlier it was working perfectly.

[2022-05-06 08:55] wangqiim commented on #5955
Make sense!  Thank you!

[2022-05-06 09:31] pmeier commented on #5953
What does `pip show torchvision` give you?

[2022-05-06 10:32] NicolasHug opened #5957 "Mypy job failing"
The latest, freshest mypy time waster

https://app.circleci.com/pipelines/github/pytorch/vision/17366/workflows/a475b8b1-1463-4159-bf00-be2d82030c0b/jobs/1405650

I think we just need to wait for https://github.com/pytorch/pytorch/pull/76895 to be in the nightlies

[code]

[2022-05-06 12:47] pmeier commented on #5953
While we are at it, please also post the output of

[code]

[2022-05-06 19:34] xiaoyu-work commented on #5658
Closed as torchvision nightly added rocm 5.0 Linux support now.

[2022-05-06 19:34] #5658 closed

[2022-05-06 20:15] yqihao opened #5958 "EfficientNet B1 to B7 and InceptionV3 Pre-Trained Models Accuracy Discrepancies"
### 🐛 Describe the bug

I am performing accuracy validations for several pre-trained models with all 50k images in the ImageNet LSVRC-2012 Validation dataset. And I find that in some results the validation accuracy has a significant difference from the accuracy claimed by the documentation. Here are the data I collect and the plots.

|                 | Pytorch TOP-1 | Pytorch TOP-1 Validation | P

[2022-05-07 02:54] kmtm opened #5960 "Single channel support for optical flow"
### 🚀 The feature

Would love to be able to run black and white images through the new RAFT optical flow model! (Same goes for ResNet)

### Motivation, pitch

I have a B+W dataset. Duplicating channels feels wasteful.

### Alternatives

_No response_

### Additional context

_No response_

[2022-05-07 04:30] thakral-kartik commented on #4157
This is probably because the version of torchvision installed is older as compared to the version of vision you are passing in torch.hub(). Match them by passing the same version in torch.hub() and it should work like a charm.

[2022-05-07 09:14] NicolasHug commented on #5960
Hi @kmtm

For now our models only support 3 channels as input. Supporting both 3 and 1 channels would mean that we need to pass that as input to the model's constructor, which is something we'd like to avoid. We would also need to provide different sets of pre-trained weights.
I'm afraid your best course of action here is to duplicate the grey channel, as you already suggested.

[2022-05-07 11:20] wqh17101 commented on #5810
I see it. And i will try. Another question:
1. pyav does not support output and input from pipe,ffmpeg supports that. But its impl may be different from the normal one,please check it . I hope you can support it.

[2022-05-08 10:43] NicolasHug opened #5964 "Document ResNet architecture tweak"
Since we're revamping our docs, we might want to point out that our ResNet implementation slightly differs from the original one:

https://github.com/pytorch/vision/blob/970ba3555794d163daca0ab95240d21e3035c304/torchvision/models/resnet.py#L107:L111

We have this as a comment  in the code but it's worth documenting in the docs as well as `.. note::` IMHO

[2022-05-08 12:25] v-iashin commented on #5419
@prabhat00155 do you still have this error?

Could you share the version of `ffmpeg` in your environment

[2022-05-08 14:20] NicolasHug opened #5965 "Allow weight tables to be sorted"
It'd be nice if [weight tables](https://pytorch.org/vision/main/models_new.html#table-of-all-available-classification-weights) could be sorted by number of params or accuracies.

This post might be a good start: https://stackoverflow.com/questions/64443832/sorting-table-with-rst-and-python-sphinx-in-html-output

[2022-05-08 16:39] oke-aditya commented on #5965
I will have a go at this. On a high level it seems feasible.

[2022-05-08 18:54] ezyang opened #5969 "Use OpInfos for operator tests"
### 🐛 Describe the bug

Defining OpInfos for torchvision's operators would make it possible to run stock PyTorch correctness tests (that are generic over operators) in torchvision. For example, I want to add meta function support to torchvision operators but my preference is to reuse the testing infrastructure in PyTorch.

cc @mruberry I don't know if it is actually supported to run tests in PyTor

[2022-05-08 21:26] mruberry commented on #5969
We don't support this today but I don't think we're far off. We could just extend `op_db` with torchvision OpInfos when torchvision is available, for example, or we could require tests opt into `ops_and_torchvision_ops` like we do with Python Reference implementations currently.

[2022-05-09 05:04] tiwari93 commented on #5953
absl-py==1.0.0
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asttokens==2.0.5
astunparse==1.6.3
attrs==21.4.0
backcall==0.2.0
beautifulsoup4==4.11.1
bleach==5.0.0
cachetools==5.0.0
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
colorama==0.4.4
cycler==0.11.0
debugpy==1.6.0
decorator==5.1.1
defusedxml==0.7.1
entrypoints==0.4
executing==0.8.3
fastjsonschema==2.15.3
flatbuffers==2.0
fo

[2022-05-09 05:06] tiwari93 commented on #5953
response of pip -v
pip 22.0.4 from C:\Program Files\Python39\lib\site-packages\pip (python 3.9)

response of python -m pip -V
pip 22.0.4 from C:\Program Files\Python39\lib\site-packages\pip (python 3.9)

[2022-05-09 06:28] pmeier commented on #5953
Hm, nothing obvious stands out in the env. Still, it is quite heavy. As a last step, could you try to reproduce this in a clean env?

[code]

[2022-05-09 06:50] pmeier commented on #5558
It was confirmed in pytorch/pytorch#76534 that our way of defining methods is the way to go. The difference we see compared to PyTorch core is that the methods are bound to C++ operators.

Including the `__repr__` of the instance into the `__repr__` of an instance method is regular Python behavior. Thus, all objects with extensive `__repr__`'s suffer the same fate. For example

[code]

[2022-05-09 07:09] pmeier commented on #5960
It is, but not by much. Only the very first layer needs to do three times the work, which, due to parallelism, does not translate to 3x the runtime.

That is a very naive solution and likely will give you sub-par results. Although duplicating grayscale for three channels looks "normal" to the human eye, this is a completely different representation for models that were trained on RBG images. You w

[2022-05-09 07:52] NicolasHug commented on #5960
I don't know for other datasets but IIRC Kitti contains mostly grayscale images which we converted to RGB during training, so I'm not so sure about your last point.

[2022-05-09 07:55] #5957 closed

[2022-05-09 07:59] pmeier commented on #5960
Yeah, my comment is maybe not as clear as I thought it was. My point is: if the model was trained on RGB images, you will get sub-par results if you have grayscale images and "convert" them to RGB during inference. If you train on this pseudo-RGB representation, using the same during inference is fine.

If we already do that, my point above can be ignored.

[2022-05-09 08:00] NicolasHug commented on #5558
Sorry but I think it's worth re-opening this issue. That it is the "normal" behaviour is one thing, but it's definitely not user-friendly and largely unexpected.

[2022-05-09 08:18] pmeier commented on #5558
Could you describe a use case where it is useful to look at the `__repr__` of an instance method?

What do you propose as way forward? The only two solutions I see are

1. Get CPython to change the `__repr__` of an instance method.
2. Change the way we bind methods to the tensor subclasses.

Option 1. will be quite an endeavor and most likely fail unless we have a very strong case. Similar, we nee

[2022-05-09 08:28] NicolasHug commented on #5558
I do it often in an interpreter session where I look at the different attributes of an object, sometimes through auto-completion

[2022-05-09 08:48] pmeier commented on #5558
Do you feel this is a strong enough reason to go after one of the ways I described above? I personally never do this, which is why I needed to look up that this standard behavior.

I've checked other libraries with large `__repr__`'s:

- `numpy` binds the methods to C++ ops and thus behaves just like the plain tensors do
- `pandas` dataframes just behave like our subclasses

[code]

[2022-05-09 08:51] datumbox commented on #5839
I've checked with our Open-source and legal teams and they confirmed that:

I will therefore close the issue as there is no licensing problem in TorchVision.

[2022-05-09 08:51] #5839 closed

[2022-05-09 09:32] pmeier opened #5971 "ONNX CI workflow is broken"
Since the 5th of May our CI workflow for ONNX is broken (commit 970ba3555794d163daca0ab95240d21e3035c304). Looking at the warnings emitted by the [failing](https://app.circleci.com/pipelines/github/pytorch/vision/17339/workflows/fdf2c383-0c1e-4d52-b8e4-878948ed9763/jobs/1403424) tests

[code]

Two models are affected `faster_rcnn` and `mask_rcnn`. To reproduce run:
[code]

I believe a recent patch

[2022-05-09 09:44] datumbox commented on #5958
@yqihao Thanks for reporting.

The minor differences on the second decimal is the result for batch padding done by the scripts on a multi-GPU setup. Basically when the total-batch size doesn't divide the dataset size exactly, it is padded with additional repeated values and this can lead to minor deviations (you can read more here #4559). This is why when we estimate the statistics of the models,

[2022-05-09 09:44] #5958 closed

[2022-05-09 09:54] datumbox commented on #5964
Another good example of a post-paper optimization adopted in the code-base. I agree we should document this clearly on our new documentation. I was thinking that perhaps the best place to put the note is at the [ResNet doc](https://github.com/pytorch/vision/blob/main/docs/source/models/resnet.rst). What do you think @NicolasHug?

[2022-05-09 10:34] NicolasHug commented on #5964
I agree we should add it to the main resnet page. But because some users might land directly on one of the [builder's page](https://pytorch.org/vision/main/models/generated/torchvision.models.resnet18.html#torchvision.models.resnet18) without going from the main Resnet one, I feel like we should also document this in the docstrings. Either by duplicating the same text, or perhaps by just adding a

[2022-05-09 10:37] #3485 closed

[2022-05-09 11:12] datumbox commented on #5964
Sounds good to me.

[2022-05-09 11:28] jlaine commented on #5940
I'm not sure this issue is going anywhere, OpenCV and AV both vendor a bunch of libraries, notably FFmpeg and some X11 libraries. I suspect there is a conflict somewhere, and I don't really see how two unrelated projects are going to coordinate.

[2022-05-09 12:07] datumbox commented on #5932
@santhoshnumberone The `FCOSClassificationHead` receives the `num_classes` as parameter and it uses it to estimate the dimensions of `cls_logits` and manipulate the output during forward. See:
https://github.com/pytorch/vision/blob/2214acbe1bf7fe0c02d7c2a795c89aa4736599c5/torchvision/models/detection/fcos.py#L162

Though it's possible to modify the entire network to replace all references of `num_

[2022-05-09 12:07] #5932 closed

[2022-05-09 12:18] pmeier commented on #5940
@jlaine I'm fine with that result. We established that this is not on us and since we don't officially depend or support `cv2` this shouldn't be that common anyway. I just wanted to make sure the "offending" projects are aware of this issue. Whether or not they fix it (or if it is fixable at all) is their decision.

If someone wants both libraries at the same time, they should probably use a `cond

[2022-05-09 12:36] NicolasHug commented on #5833
Looks like we're all done! Thank you so much everyone for your help <3 !

[2022-05-09 12:36] #5833 closed

[2022-05-09 12:38] NicolasHug commented on #5897
Thank you very much for your help everyone !!

[2022-05-09 12:49] NicolasHug opened #5973 "RFC on schema for the `metrics` field of weights meta-data"
### Problem

We currently store the metrics as a simple dictionary `metric` -> `value`. For classification weights this looks like this:

https://github.com/pytorch/vision/blob/7d0d7fd7a940df94a12e9c1853eec7e42ab6ee80/torchvision/models/resnet.py#L320-L323

and the underlying assumption is that the dataset is ImageNet.

But in the future, we might want to provide metrics for more than one dataset,

[2022-05-09 12:53] yassineAlouini commented on #5833
Next is object detection/segmentation I guess? :thinking: @NicolasHug

[2022-05-09 12:58] NicolasHug commented on #5833
@yassineAlouini  I think we took care of that in https://github.com/pytorch/vision/issues/5897

The only remaining docs are the ones for the classification Quantized models. https://github.com/pytorch/vision/tree/main/torchvision/models/quantization. I think I'll create another issue for these ones soon, let me know if you'd be interested!

[2022-05-09 13:05] jlaine commented on #5940
Sure, let's at least try to understand which library is clashing, we may be able to work around this with some SONAME mangling.

[2022-05-09 13:27] yassineAlouini commented on #5833
@NicolasHug I see, that's great. I am interested in helping. :ok_hand:

[2022-05-09 13:47] mruberry commented on #5971
It does seem like primTorch would be to blame because we also use the "prim" or "prims" prefix, but we don't have a prim::Constant or any C++ code

[2022-05-09 13:55] datumbox opened #5976 "Clean up Ops Box and Losses implementations"
### 🚀 The feature

Currently losses such as cIoU, dIoU and gIoU reimplement functions that exist already on [boxes ops](https://github.com/pytorch/vision/blob/main/torchvision/ops/boxes.py). In addition they contain a lot of duplicate code that can be shared. Finally the testing strategy can be improved.

This ticket is about:
- Investigating ways to re-use code on Losses from boxes. This should h

[2022-05-09 13:59] pmeier commented on #5971
Looking through the commit history again, pytorch/pytorch#76622 might be the offender.

[2022-05-09 14:24] puhuk commented on #5964
Can I send PR with this?
If so, should I send another PR for docstring? (`https://pytorch.org/vision/main/models/generated/torchvision.models.resnet18.html#torchvision.models.resnet18`)

[2022-05-09 14:31] NicolasHug commented on #5964
@puhuk sure, thanks! I think we should be able to tackle all this in a single PR

[2022-05-09 14:48] ivan-gorin commented on #5461
I also think `save_image` should be deprecated, it assumes the input is in `[0, 1]` range and doesn't provide any indication that `[0, 255]` integer representation is not supported. This is also not explained in the documentation.

[2022-05-09 15:00] datumbox commented on #5973
@NicolasHug Thanks for the write up. I think your proposal is reasonable.

An alternative discussed earlier (see https://github.com/pytorch/vision/pull/5859#discussion_r856143326) was to provide both a main `acc@1` metric which will serve as the "Default" reported accuracy and a breakdown of accuracies on other datasets if available. Using your current lingo this would look like:
[code]

There are

[2022-05-09 15:01] datumbox commented on #5973
@NicolasHug Could you provide an example of how you plan to structure under your proposal the epe metrics for `sintel_[train|test]_[clean|final]pass`?

[2022-05-09 15:13] NicolasHug commented on #5973
Regarding the "default" metric discussion: I'm probably missing something, but right now I don't see what use-case this would address. I have concerns that this might lead to incorrect comparisons (typically on the optical flow datasets where most of the weights aren't comparable with one-another), but perhaps there are good reasons to have these. Unfortunately for now the advantage isn't clear to

[2022-05-10 02:38] ZDLLLL opened #5980 "install torchvision on jetson nano"
When I want to install torchvision on jetson nano, it keeps stuck at writing top-level names to torchvision.egg-info/top_level.txt, nothing else changes, what can I do to make it install faster?
![image](https://user-images.githubusercontent.com/44689801/167531629-bbcd3053-1603-4d35-8276-f288de309688.png)

[2022-05-10 06:48] programmeddeath1 commented on #5919
For now I just reverted to buster OS with the latest torch 1.11.0. Since i urgently needed to get it to work.

[2022-05-10 07:06] v-iashin commented on #5419
@bjuncek

I could reproduce the problem as follows:
1. Install `pytorch` using the conda line from the website
2. Updated `ffmpeg` with `conda install -c conda-forge ffmpeg`.

Pytorch installs ffmpeg==4.2, while `conda-forge` updated it to `4.3.1`.

[2022-05-10 08:14] oke-aditya commented on #5980
Hmm you are installing from the source. Can you have a look at pytorch blog for

https://pytorch.org/blog/running-pytorch-models-on-jetson-nano/

[2022-05-10 10:37] NicolasHug opened #5982 "Document other weight meta-data fields"
We currently document the number of parameters in the `Weight`s meta-data and we display these on our [summary tables](https://pytorch.org/vision/main/models_new.html#table-of-all-available-classification-weights). Other values might be of interest for users:

- FLOPs. @Chillee 's [FLOP counter](https://dev-discuss.pytorch.org/t/the-ideal-pytorch-flop-counter-with-torch-dispatch/505) might be usef

[2022-05-10 11:33] tiwari93 commented on #5953
Even on virtual environment facing the same issue:

![image](https://user-images.githubusercontent.com/49356997/167619179-5c5dc95c-7a06-48d1-9a8b-2bd87743d295.png)

[2022-05-10 13:13] datumbox commented on #5913
I suspect this has already been fixed by #5596. See my comment at https://github.com/pytorch/vision/pull/5981#issuecomment-1122371445

[2022-05-10 14:11] #5913 closed

[2022-05-10 14:12] abhi-glitchhg opened #5983 "Add option to choose the loss function in `compute_loss` function."
### 🚀 The feature

In the [compute loss](https://github.com/pytorch/vision/blob/main/torchvision/models/detection/fcos.py#L54) function,  `giou_loss`  is used to calculate the loss by default [see here](https://github.com/pytorch/vision/blob/main/torchvision/models/detection/fcos.py#L96), but now as `CIOU` and `DIOU` loss functions are added to torchvision, maybe we could let the user choose in be

[2022-05-10 14:16] #5953 closed, assigned to nobody

[2022-05-10 14:32] datumbox commented on #5983
@abhi-glitchhg It seems you've uncovered my evil plan... 😄

The reason why I've asked you to add ciou/diou was to test them on RetinaNet. This functionality was already added on the specific model (see #5756) but it's private because we don't want to commit to the API yet. I've kicked off a PR to experiment with it at #5984 and see if it brings improvements. It doesn't do exactly what you want cau

[2022-05-10 19:29] vade commented on #5720
Hello. Apologies if this is 'the wrong place' to post feedback on video functions.

One thing important for professional use cases (read - working with master video files) is PTS timing that maintains the rational integer representation of sample based timing. Ie libAV provides access to the streams time base, as well as the presentation time stamp as a numerator.

Another important aspect is the

[2022-05-10 21:06] vade commented on #5720
FWIW, With a properly set up FFMPEG install (I used jrottenberg/ffmpeg 4.4.2-nvidia2004 base container, install python, and did `pip install av --no-binary av`). I was able to see a 6x performance increase when choosing `h264_cuvid` vs `h264`

h264: Took 0:00:18.961413
h264_cuvid: 0:00:02.938973

in this code:

[code]

Media Info on the file:

[code]

On a 3090 `NVIDIA-SMI 510.60.02    Driver Vers

[2022-05-11 06:26] pmeier commented on #5953
Good thing that worked for you. I couldn't reproduce in a fresh Windows VM so this would have gotten really hard to pinpoint.

[2022-05-11 06:39] WZMIAOMIAO commented on #5845
@datumbox Hi, have you replied?

[2022-05-11 07:13] tiwari93 commented on #5953
Thank you all for your support on this

[2022-05-11 08:40] datumbox commented on #5845
@WZMIAOMIAO thanks for following up. Sorry for the delay, I've been OOO the previous weeks.

I've pinged Francisco internally to see if he has the details. If he doesn't, I'll chase up the original author of the paper who is at Meta to see if he can fill in the gaps.

[2022-05-11 09:17] github-actions[bot] opened #5986 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow tests/download.
Please look into it:

https://github.com/pytorch/vision/actions/runs/2305979904

Feel free to close this if this was just a one-off error.

cc @pmeier @YosuaMichael

[2022-05-11 09:41] sanchitintel commented on #5971
Hi @pmeier,

Could you please elaborate on how PyTorch PR #76622 could be causing this issue?

Thanks!

[2022-05-11 09:57] santhoshnumberone commented on #5932
I have an interesting finding to disprove your thinking of `accuracy remaining same` no matter training head from `scratch` or with `pre trained weight`.

I did the same with **Faster R-CNN ResNet-50 FPN**

Replacing prediction head with label `77 Cell Phone` weight which is what my custom object was detected as when inferred with the original pre trained object detection network
[code]

I trained

[2022-05-11 10:09] NicolasHug opened #5987 "Revamping our Quantized models docs"
We're re-writing our models docs to make them clearer, simpler, and to properly document the [upcoming multi-weight API](https://pytorch.org/blog/introducing-torchvision-new-multi-weight-support-api/). This issue is about **adding docs for the Quantized classification models.**

Our latest new docs are currently [here](https://output.circle-artifacts.com/output/job/8ce072c6-4b16-4aa9-9055-b6f19635

[2022-05-11 10:09] NicolasHug commented on #5987
CC @yassineAlouini as you were intersted!

[2022-05-11 10:19] datumbox commented on #5932
@santhoshnumberone You are using optimizer configuration that I haven't tested but the 0.0 accuracies on the from scratch might indicate an issue of LR or initialisation. Note that 2 epochs are not nearly enough to get good results. Our recent refresh of the models used 400 epochs to get near SOTA results (see #5763 for details to copy the recipe and try it out).

So far, I don't see any evidence

[2022-05-11 10:24] datumbox commented on #5987
@NicolasHug good call, let's get those final models done and add any remaining info. :)

Since our next release is not too far away and we got lots of work to do still on the documentation, I'll be cheeky and tag some of our good usual suspects in case they can give us a hand and get this done faster: @oke-aditya @lezwon @zhiqwang @abhi-glitchhg @xiaohu2015 @frgfm. Don't feel obliged, just a ping

[2022-05-11 10:27] zhiqwang commented on #5987
Hi @NicolasHug and @datumbox ,

I would like to take `ShuffleNet v2`.

[2022-05-11 10:36] xiaohu2015 commented on #5987
I can take `ResNet`

[2022-05-11 10:40] santhoshnumberone commented on #5932
I agree, I don't have resources(GPU or `18Mins/epoch` on google colab with GPU) to justify my claims that for this particular case of transfer learning for custom object detection(I can't disclose the data as well).

I could have achieved `better mAP` and `lower losses` while training loading head with `pre trained weights` rather than from `scratch` with far less epochs

Could you please guide me

[2022-05-11 10:42] pmeier commented on #5971
My bad, I linked the wrong PR :facepalm: Sorry for the noise. It should have been pytorch/pytorch#76875

[2022-05-11 10:53] WZMIAOMIAO commented on #5845
@datumbox Thank you very much, We look forward to your reply.

[2022-05-11 11:06] datumbox commented on #5932
Understood but it's very hard to provide much help if I can't reproduce the problem. I can only tell you what I believe is not but due to the lack of info I'm forced to guess.

As mentioned earlier, the `91` here is the number of classes + background. You would need to modify `num_classes` everywhere to avoid this (set it to `2` in your case). You can try to trace all the usages of `num_classes` t

[2022-05-11 11:15] santhoshnumberone commented on #5932
Since `91`(0:background+90:Classes) is hard coded it would be required to be changed manually whenever I get the error.

Let me try it and get back with result.

I wonder how come this is not the issue with the code of `Faster R-CNN ResNet-50 FPN`

[2022-05-11 11:38] datumbox commented on #5973
@jdsgomes @YosuaMichael Let's hear your thoughts on the proposal and finalize/implement this by mid next week. We are getting closer to the release so this needs to be decided soon. :)

[2022-05-11 11:43] abhi-glitchhg commented on #5987
I can work on `MobileNetV3`.

[2022-05-11 12:20] Cypher30 opened #5989 "DeformConv2d offset and mask backprop"
### 🚀 The feature

I notice that the current vision of DeformConv2d module doesn’t treat offset and mask as parameters, so it seems that the standard backward routine cannot update the offset.  Is there any possibility that you could add this feature in the future?

### Motivation, pitch

I’m trying to build DNNs with above module, so it is not that convenient if I need to rewrite the backward pro

[2022-05-11 12:36] YosuaMichael commented on #5973
I think the proposal to specify datasets for the metric looks good.

For the default value, I have no strong opinion on this, the value that I can think of is to be BC. However if we add default value, I think it should be clear which dataset that is used for the default value (either documented somewhere else, or we can specify with `"default_dataset": "ImageNet"`.

I am in support of making metr

[2022-05-11 12:42] datumbox commented on #5989
Thanks for the feature request. We can look into doing this work on the future. It's not something we can pick up immediately because of lack of bandwidth, so note that you might need to find your own workarounds until we pick this up.

[2022-05-11 13:03] Cypher30 commented on #5989
Thanks a lot for your reply!

[2022-05-11 14:01] datumbox commented on #2707
@santhoshnumberone Thanks for the proposal. I've added it in the list of potential models.

[2022-05-11 14:02] oke-aditya commented on #2707
Hi! We are currently working to add DETR. See #5922
While Dino is SSL model and this is a task torchvision currently does not support. Not sure about future. You can have a look at [VisSSL](https://github.com/facebookresearch/vissl)

[2022-05-11 14:36] santhoshnumberone commented on #2707
Are you sure?
Looking at `paperswithcode` website
[DINO: DETR with Improved DeNoising Anchor Boxes for End-to-End Object Detection](https://paperswithcode.com/paper/dino-detr-with-improved-denoising-anchor-1)
[Published paper](https://arxiv.org/pdf/2203.03605v3.pdf)
Authors are [Hao Zhang](https://paperswithcode.com/author/hao-zhang), [Feng Li](https://paperswithcode.com/author/feng-li), [Shilong

[2022-05-11 21:26] pmeier commented on #5971
After some painful bisection, I finally found the real offender: pytorch/pytorch#73284. After seeing that the PR title contains the phrase ONNX and our ONNX tests are failing, I have no idea how I missed that when looking at the PRs :facepalm:

[2022-05-12 02:17] xiaohu2015 commented on #2707
@santhoshnumberone  I think DINO is more practical, since user can train less epochs to get good mAP.

[2022-05-12 03:58] Zhaoyi-Yan commented on #5989
@Cypher30 Maybe this work https://arxiv.org/abs/2107.03665 can help.

[2022-05-12 04:01] Cypher30 commented on #5989
Thanks a lot!

[2022-05-12 07:53] yassineAlouini commented on #5987
`Inception` if it is still available. :ok_hand:

[2022-05-12 08:41] lezwon commented on #5987
I'll take up `MobileNetV2`

[2022-05-12 09:09] rvandeghen opened #5999 "Change number of coco classes in detection recipe"
### 🚀 The feature

Infer the number of classes from the dataset without hard-coding it, for example with
[code]
This means that we need to remap the classes with continuous indexes, for example with
[code]

Lastly, the number of classes for the model could be `num_classes+1`
[code]

### Motivation, pitch

The number of classes to train `coco` is hard coded and is 90+1.
https://github.com/pytorch/v

[2022-05-12 09:15] datumbox commented on #5999
@rvandeghen Thanks for the proposal.

I agree it's annoying the fact that all of TorchVision's models keep the 10 unused categories. This has been like this for years and unfortunately "fixing" it now means breaking some models. There might be a mechanism that could allow us to keep the old models as is and fix it for new ones, but I suspect it will introduce quite a lot of extra code.

So my OCD

[2022-05-12 09:33] rvandeghen commented on #5999
@datumbox I fully agree that there is a feeling of “it's too late now“. However I thought that it would have been the good timing since we have done #2707 and #5307.
There are currently 8 detection models so I think retraining them should not be a huge effort but it could be worth to use that strategy for the upcoming ones.

I can retrain some of them if necessary and provide the weights.

Let me

[2022-05-12 09:43] datumbox commented on #5999
The challenge is that we will need 2 versions of meta-data for the labels, then custom mechanisms on the reference scripts so that one can validate/do-inference with the old models while train the new ones with reduced classes. Then we would need to update our documentation and code examples to indicate that some models are on a reduced category list etc. Perhaps there are more things we need to c

[2022-05-12 10:31] INF800 commented on #2921
Thus issue occurs in 3.10 but not in 3.8 for me.

[2022-05-12 10:31] ohhhYang commented on #2921
我已经收到您的邮件，谢谢！

[2022-05-12 10:36] datumbox opened #6001 "TorchVision Main branch fails with `slow_conv2d: grad_weight must be contiguous`"
### 🐛 Describe the bug

It looks like a breakage caused by the 20220512 PyTorch Core Nightly.

Several CI jobs [fail](https://app.circleci.com/pipelines/github/pytorch/vision/17513/workflows/17907a0c-5758-4f80-a599-83dce6aecba9/jobs/1418004) with:
[code]

So far I've identified the following PRs as potential causes:
- https://github.com/pytorch/pytorch/pull/68101
- https://github.com/pytorch/pytor

[2022-05-12 11:05] mingfeima commented on #6001
@datumbox  is there any method to run the a single failed test case, for example, `test_classification_model`? That would be easier to debug the issue.

[2022-05-12 11:37] datumbox commented on #6001
@mingfeima Thanks fore coming back to me.

You can run something like:
[code]

2 out of the 4 variants of convnext fail.

[2022-05-12 11:48] mingfeima commented on #6001
#77347 is submitted to fix this failure @datumbox

My local run with -k "convnext" passed:
[code]

[2022-05-12 11:52] datumbox commented on #6001
@mingfeima Thanks for the ultra prompt fix.

Could you confirm that the test fails on your local without the patch? I ask because for some reason, the failure seems OS specific. It fails on Linux and Windows on CPU but not on Mac.

[2022-05-12 11:55] mingfeima commented on #6001
yes, they used to fail without the patch, the following is the old log (i add some log for debugging purpose):
[code]

[2022-05-12 11:55] datumbox commented on #6001
Awesome, thanks for confirming.

[2022-05-12 11:57] mingfeima commented on #6001
i will check if i need to add more test case in pytorch (the old test cases failed to find out the code flaw)

[2022-05-12 12:43] #5836 closed

[2022-05-12 13:24] datumbox commented on #5971
@BowenBao Philip confirmed above that one of the PRs submitted last week broke TorchVision and @atalman helped us revert it at https://github.com/pytorch/pytorch/pull/77349. Please review and let us know what you think.

Since the PR is 1 week old already, other PRs might depend on it. So if you believe that a separate forward fix is needed, please feel free to close the PR and issue a new fix. We

[2022-05-12 15:09] pmeier commented on #5986
Everything is up and running again.

[2022-05-12 15:09] #5986 closed

[2022-05-12 17:09] datumbox commented on #5971
Thanks. I replied at https://github.com/pytorch/pytorch/pull/73284#issuecomment-1125231189

[2022-05-12 17:18] AIVenture0 opened #6007 "Can not download CIFAR10 data because [SSL: CERTIFICATE_VERIFY_FAILED] -SSL certificate has expired"
### 🐛 Describe the bug

2022/5/12 around 10 pm.

I am trying to download the __CIFAR10__ using torch vision. __Certificate expired__.

trainset = torchvision.datasets.CIFAR10(root='./data', train=True,download=True, transform=transform)

The Error Raise: :disappointed:

'''
raise URLError(err)
urllib.error.URLError: <urlopen error __[SSL: CERTIFICATE_VERIFY_FAILED]__ :pout: certificate verif certi

[2022-05-12 18:37] garymm commented on #5971
I've got this failure locally with torch and torchvision built from master / head.

[2022-05-12 19:47] asy51 opened #6008 ""arbitrary number of leading dimensions" only supports up to 4 dimensions"
### 📚 The doc issue

[code]

[2022-05-12 20:09] BowenBao commented on #5971
@datumbox @garymm We have identified the root cause. Will put out a fix PR in PyTorch shortly.

[2022-05-12 23:01] frgfm commented on #5987
Shoot I arrived to late this time 😅
Let me know if one of you cannot do his part in the end!

[2022-05-13 00:14] BowenBao commented on #5971
Fix has been merged in pytorch master. @datumbox please let us know if this fixes torchvision CI.

[2022-05-13 02:37] xiaohu2015 commented on #2707
can we add swinv2 model? I think maybe I can do that.

[2022-05-13 06:16] pmeier commented on #5971
We'll know when the fresh `torch` nightly drops, which is around UTC+0 10:00. I'll report back.

[2022-05-13 07:03] santhoshnumberone commented on #2707
What I meant was, if anyone of you could check if [facebookresearch/dino](https://github.com/facebookresearch/dino) and the [DINO: DETR with Improved DeNoising Anchor Boxes for End-to-End Object Detection](https://paperswithcode.com/paper/dino-detr-with-improved-denoising-anchor-1) are not the same.

I feel both are different

[2022-05-13 07:08] oke-aditya commented on #2707
There are many variants of DETR. E.g. deformable DETR, modulated DETR, A simple search would give these results.

https://github.com/search?q=DETR

Let's start of by including vanilla DETR :)

[2022-05-13 07:11] pmeier commented on #6008
@vfdev-5 IIRC, you also wanted to fix this on the prototype transforms, right? Right now, we only test 3 and 4 dimensions presumably because the others don't work:

https://github.com/pytorch/vision/blob/c67a58396d894c48897b96fce4eae0bcb3fd2755/test/test_prototype_transforms_functional.py#L231-L233

[2022-05-13 07:13] pmeier commented on #6007
Sounds like a server error. I just tested https://www.cs.toronto.edu/~kriz/cifar-10-python.tar.gz and works fine. Could you retry to see if they already fixed it?

[2022-05-13 07:58] datumbox commented on #5987
@frgfm This the open-source version of music chairs: Ping more contributors than tickets and see what happens. 😄 😆

In all seriousness thanks for responding and no worries. We are very lucky to have you all supporting us like this. We got many more improvements on the pipeline coming up that we could use your help. Thanks for the support!

[2022-05-13 08:05] datumbox commented on #6008
We should investigate fixes for this. The new kernels of new transforms should support Videos/Image-sequences.

[2022-05-13 10:02] pmeier commented on #5971
@BowenBao With [today's nightly](https://app.circleci.com/pipelines/github/pytorch/vision/17556/workflows/651cf322-207e-4998-9d9a-51995f9cd4cf/jobs/1421697/steps?invite=true#step-102-9) the [tests are still failing](https://app.circleci.com/pipelines/github/pytorch/vision/17556/workflows/651cf322-207e-4998-9d9a-51995f9cd4cf/jobs/1421697).

[2022-05-13 10:56] vfdev-5 commented on #6008
@asy51 I think a quick workaround using `torchvision.transforms.functional.affine` is to reshape input tensor to 3D or 4D as
[code]

I agree that we could provide a support for that in stable and prototype APIs

yes, related issue is https://github.com/pytorch/vision/issues/5664

[2022-05-13 11:24] tudorcebere opened #6011 "Imagenet Version not documented?"
### 📚 The doc issue

Hello torchvision team,

First, thanks for the epic work you are all putting into this tool! I would like to know the exact version of imagenet used at pertaining different models in torchvision, for research purposes regarding model inversion. All of them use the 2012 Imagenet Dataset version or maybe some newer version?

Thank you,
Tudor

### Suggest a potential alternative/

[2022-05-13 11:39] datumbox commented on #6011
@tudorcebere Thanks for reaching out and for your kind words.

This is a good question. I'm 95% certain we are using the 2012 version but I haven't personally deployed the datasets on the servers (was done much before I join the team). I do have access to review all files though, so if there is a specific check we can do to confirm (perhaps a specific correction happened on a revision) let me know

[2022-05-13 11:46] tudorcebere commented on #6011
There is a version of Imagenet 1k that has blurred faces as well due to privacy reasons or there is Imagenet-21k (which as far as I know should be a superset of Imagenet-1k but never actually checked it). My main question is if the dataset used is the one that is public on the kaggle competition as well: https://www.kaggle.com/competitions/imagenet-object-localization-challenge/data

[2022-05-13 11:51] datumbox commented on #6011
This is ImageNet-1K for sure. We plan to release models with ImageNet-22k on the future.

I am not aware which version kaggle is using but if you have specific images in mind that were corrected across versions, let me know and I can look it up. For example I can try to find out a specific image with face (if you let me know which one it is) to see if it's blurred or look for the existence of a mi

[2022-05-13 12:03] pmeier commented on #6008
That is what do for the prototype resize kernel:

https://github.com/pytorch/vision/blob/ee26e9c260a255e2afb5e691e713349529170c8b/torchvision/prototype/transforms/functional/_geometry.py#L38-L54

[2022-05-13 12:13] datumbox commented on #6008
@pmeier that's an option indeed. We do this for videos on inference:
https://github.com/pytorch/vision/blob/ee26e9c260a255e2afb5e691e713349529170c8b/torchvision/transforms/_presets.py#L102-L111

But I think we should try when possible to offer a more native support of it. I suspect (could be wrong) that the above approach might be slower.

[2022-05-13 12:15] vfdev-5 commented on #6008
@datumbox you mean inside `_FT.resize` or inside `torch.nn.functional.interpolate` ?

[2022-05-13 12:20] pmeier commented on #6008
Both [`grid_sample`](https://pytorch.org/docs/master/generated/torch.nn.functional.grid_sample.html) (affine, rotate) and [`interpolate`](https://pytorch.org/docs/master/generated/torch.nn.functional.interpolate.html) (resize) support at maximum 5 dimensions. After that we need reshape anyway. Before start special casing tensors with 5 dimensions, which don't need to be reshaped, we should benchma

[2022-05-13 12:25] datumbox commented on #6008
@vfdev-5 I meant on `_FT.resize` or however the video kernel will be named for resize. This is for the new prototype API btw.

[2022-05-13 12:25] vfdev-5 commented on #6008
Just a note. Interpolate / grid_sample , when input is 5D, then 5D tensors are transformed on 3 dimensions and not 2 dims (H, W) as we want here.

[2022-05-13 13:56] datumbox opened #6014 "Improve documentation for Multi-weight support"
### 📚 The doc issue

Previously we have restructured the documentation for models (#5833, #5987, #5897 etc), so that we can add necessary information about how the models were trained and integrate with the new Multi-weight support API.

This ticket is a tracker for all remaining tasks related to model documentation + Multi-weight support API:
- [x] Clean up the documentation pages #6003 #6002
- [

[2022-05-13 15:52] AIVenture0 commented on #6007
My Code to fetch the data

"""
# Download and load the MNIST training data
trainset = datasets.MNIST("MNIST_data/",download = True,
                            train = True,transform=transform)

trainset = datasets.CIFAR100("cifar_data",download=True,
                            train= True,transform = transform)

""

Worked with MNIST but not with  __CIFAR10__ and __CIFAR100__. Previously I have

[2022-05-13 16:37] AIVenture0 commented on #6007
### Issue Got resolved :  turning off SSL verification

Code

import ssl
ssl._create_default_https_context = ssl._create_unverified_context

Found the Similar issue #5039

[2022-05-13 16:37] #6007 closed

[2022-05-13 16:42] BowenBao commented on #5971
Hi @pmeier, if my understanding is correct, it appears my fix has not been included in yesterday's nightly yet.

5-13 nightly https://github.com/pytorch/pytorch/commit/44bf440b53cc9641086ca9462f8cab52d7dbfaa3, head is https://github.com/pytorch/pytorch/commit/65f71c0cbeb080c13e927d37b0d23d39bac6f092, the fix commit is https://github.com/pytorch/pytorch/commit/a812c4cd96d94d51627d2af290ae87de34169e

[2022-05-13 16:55] datumbox commented on #5971
@atalman I wonder if you confirm the cutpoint of yesterday's nightly?

[2022-05-13 17:07] davidberard98 opened #6015 "test_detection_model[cuda-fasterrcnn_mobilenet_v3_large_320_fpn] failing due to NVFuser"
### 🐛 Describe the bug

convolution decomposition has a bug in nvfuser - currently looking into it with @jjsjann123

### Versions

CI, windows gpu + linux 3.10 gpu

[2022-05-13 17:20] jjsjann123 commented on #6015
Just for my own record. Failing log:
https://circleci.com/api/v1.1/project/github/pytorch/vision/1423677/output/109/0?file=true&allocation-id=627e7d34dec82e3918d717ca-0-build%2F1OQ0W9PF
[code]

https://circleci.com/api/v1.1/project/github/pytorch/vision/1422234/output/110/0?file=true&allocation-id=627e3bd4750ee26ac7a677b5-0-build%2F550F08F9
[code]

[2022-05-13 18:09] NicolasHug commented on #5987
@frgfm actually I forgot Resnext and it' still up for grabs!  Would you like to take it?

[2022-05-13 19:16] jjsjann123 commented on #6015
Looking at the output value (comparing jit & eager), I'm suspecting there's some indexing issue...
Kevin pointed out a while ago that something was mysteriously fixed in devel but not in upstream: https://github.com/pytorch/pytorch/pull/76790#issuecomment-1119222995

I'm waiting on my build of devel merged into upstream to try my luck there.

FYI, @eellison suggested dropout. I went through the TS

[2022-05-13 19:25] khalidcawl commented on #1574
Any updates on this? I looked around the code and couldn't find what to do if I want to get losses both during training and evaluation? Any help would be appreciated.

[2022-05-13 19:32] pmeier commented on #5971
Can confirm @BowenBao's assessment. YOu can verify yourself, by looking at the [`nightly` branch](https://github.com/pytorch/pytorch/commits/nightly). The cutoff for today was pytorch/pytorch@65f71c0cbeb080c13e927d37b0d23d39bac6f092. Taking that knowledge to the [`master` branch](https://github.com/pytorch/pytorch/commits/master), we can verify that pytorch/pytorch@a812c4cd96d94d51627d2af290ae87de

[2022-05-13 19:43] jjsjann123 commented on #6015
Hmmmm. I think there's a combination of indexing + permutation support.

devel branch does get rid of the mismatched output. So the mysterious indexing fixes are real. (though we never really pin down which PR actually fixed that).
I'm trying to figure out where exactly we are seeing a permutation from profiling information.

[2022-05-13 22:24] jjsjann123 commented on #6015
errrr.... the index issue is not related to permutation... I patched that anyway in #77460
But the test is still failing with wrong result on upstream/master.

[2022-05-14 08:58] abhi-glitchhg commented on #5247
Can I try this?

[2022-05-14 11:24] datumbox commented on #5247
@abhi-glitchhg absolutely! Thanks for offering to help.

[2022-05-14 18:29] XudongLinthu commented on #5748
Same problem here. My env is
PyTorch version: 1.11.0                                                            Is debug build: False                                                              CUDA used to build PyTorch: 10.2                                                   ROCM used to build PyTorch: N/A

[2022-05-14 20:33] datumbox commented on #6015
I confirm that TorchVision's latest main branch is failing still. See https://github.com/pytorch/vision/pull/6017

[2022-05-14 20:43] datumbox commented on #6001
Fixed on latest nightly

[2022-05-14 20:43] #6001 closed

[2022-05-14 20:43] datumbox commented on #5971
Fixed on latest nightly

[2022-05-14 20:43] #5971 closed

[2022-05-16 06:57] pmeier commented on #5748
@XudongLinthu Your environment is broken:

[code]

My guess is that the functionality that we use from `torch.fx` is not available in `torch==1.9.0`. Please fix the environment and report back if the error persists.

[2022-05-16 07:11] pmeier commented on #5039
Internally, we do something like

[code]

This works for me without modifying SSL in any form:

[code]

The only thing that stands out from the envs posted here and in #6007 is that they are Windows builds. I'll try to reproduce in a VM.

[2022-05-16 08:11] pmeier opened #6018 "Port `RASampler` functionality to iterable datasets"
Our current classification references use the "Repeated Augment Sampler" (`RASampler`) from #5051:

https://github.com/pytorch/vision/blob/d585f86d94f07a3bc083e48c6534d93a409cbcb2/references/classification/sampler.py#L7

Since after the revamp we will have iterable- rather than map-style datasets, samplers are no longer supported.

Given that the `RASampler` increases accuracy, we need to support

[2022-05-16 08:35] NicolasHug commented on #6018
The RASampler is currently implemented by dispatching all copies of the same samples to different GPUs.
Different GPUs use different RNGs, so the different copies are all transformed differently, which is the end goal.

It's fairly hacky: it relies on the existence of DDP, and on the assumption that different GPUs use different RNGs. This is usually True, but there is no general guarantee for arbi

[2022-05-16 08:49] datumbox commented on #6018
@NicolasHug Agreed that the previous implementation is hacky and can be simplified/improved. I've asked Philip to create a separate ticket so that I can remove the feature from the Batteries Included 2 project. Feel free to edit the description to outline potential changes on the implementation. As long as the new class provides the same result as the previous, we should be OK to make changes to i

[2022-05-16 10:16] oke-aditya opened #6020 "Restructuring our tests"
# Motivation

Our tests are getting a bit lengthy and considering we are adding new features, we are actually placing multiple tests in single file.
This leads to problems as the tests become  harder to refactor and harder to read, manage. Standalone files for tests or grouped according to purpose are easier to anaylse and debug as well.

Our longest test files

Copy paste-able command
[code]

[co

[2022-05-16 10:26] NicolasHug commented on #6020
Thanks for opening this issue @oke-aditya

There are a few more things to consider, as `loc`s don't give a full picture of a file's complexity.

Some of our tests files are divided into test classes, so long files are less of a problem in these ones. It's also worth noting that having all ops-related tests in a single `test_ops.py` file makes (human) test discovery very, very easy. Splitting tests

[2022-05-16 10:32] oke-aditya commented on #6020
Yes the idea is to get a proper sub folder structure in tests. Also the tests for now can be placed in sub folders but under a single file.  We could have ops folder with single test file `test_ops.py` (Eventually when time arises splitting it becomes easy)

tests
---- datasets
---- ops
------- test_ops.py

[2022-05-16 11:28] datumbox commented on #5987
@zhiqwang @frgfm We are aiming to finalize the models by mid week to start preparing for the release. Let us know if you need any help with the PRs for ShuffleNetV2 and ResNeXt. If you are busy no worries, just let us know and we will pick it up or finish any incomplete PRs you might got. Thanks!

[2022-05-16 11:32] zhiqwang commented on #5987
Hi @datumbox , I can work for `ShuffleNetV2` tomorrow .

[2022-05-16 11:44] abhi-glitchhg commented on #5987
Also  i believe resnext was partially done in #6012 , I can finish the remaining part.

[2022-05-16 12:09] pmeier commented on #6018
One thing that came to mind thinking about this is that we will be wasting quite some I/O resources when using this functionality. The prototype datasets will read the raw bytes and store them in a tensor for later decoding. Since we will throw away the majority of the samples using this technique, we wasted all these reads. I don't know if that is significant since we only read and not decode, bu

[2022-05-16 12:12] 23pointsNorth commented on #5200
Is there a need for any support on this?

[2022-05-16 12:13] NicolasHug commented on #6018
Another sub-optimal thing is that we would be reading and decoding the same sample multiple times instead of once. That's already a problem with our current implementation though.

[2022-05-16 12:19] pmeier commented on #5200
@23pointsNorth We are currently halting further contributions to the prototype datasets, since there are some details that need to be figured out. If that is resolved, I'm guessing @NicolasHug can assign it to you given that he already did quite a few ports and no longer needs to be on-boarded.

[2022-05-16 14:55] datumbox commented on #6018
@NicolasHug Are you sure it's a problem on the current implementation? Doesn't the decoding happen after the indexing op? My understanding is that it's not but I could be wrong.

[2022-05-16 15:04] NicolasHug commented on #6018
The decoding happens after the indexing, but the indexes are the same across GPUs - at least according to the docstring. So multiple GPUs will receive the same index, hence decoding the same sample (and then transforming it differently)

[2022-05-16 16:02] datumbox commented on #6018
I see what you mean. You mean that we decode the same thing over and over. That's expected and I agree it was happening on the previous implementation.

For a moment I thought you meant that the new API would require us decoding the part of the dataset that we throw-away, which would obviously be a problem. Sorry for the confusion.

[2022-05-16 16:33] NicolasHug commented on #6020
Another problem of moving tests is breaking git blame

[2022-05-16 16:38] oke-aditya commented on #6020
You actually had solved it :smile:  https://github.com/pytorch/vision/blob/main/.git-blame-ignore-revs to the rescue?

[2022-05-16 16:55] NicolasHug commented on #6020
I don't know if ignore-revs can be used for this? Git will have to know somehow that line a on file F corresponds to line b on file G. It can do that with entire file renamings/moving but I doubt it's  possible for arbitrary content?

[2022-05-16 16:55] jjsjann123 commented on #6015
Sorry for the inconvenience and confusion.
main branch is still failing because our fix would need us to push our devel branch in: https://github.com/pytorch/pytorch/pull/77471.
That PR is taking a bit longer to wrap up, we are still fighting some build issue on ROCm system.

I verified the fix on my local machine last Friday.

[2022-05-16 17:21] oke-aditya commented on #6020
Maybe, this is experimental. My suggestion is let's actually try. Maybe on experimenting we will realise if this is really beneficial. Otherwise we would have a strong point to not go for this. As always there are advantages and disadvantages with anything we try :)

[2022-05-16 21:56] frgfm commented on #5987
Happy how the musical chairs ended up haha
I'll take ResNext gladly :)

[2022-05-17 06:34] pmeier commented on #6020
I agree with at @NicolasHug here. I don't think `git blame` will pick up on this.

Give it a try in your fork let us know here so we can have a look.

[2022-05-17 07:59] WZMIAOMIAO opened #6034 "Question about center-ness branch in FCOS"
Hi, thank you for your great work. I'm learning FCOS these days. I find some differences about position of center-ness between code and paper. In paper(https://arxiv.org/abs/1904.01355), the center-ness branch is put together with the classification branch.
![image](https://user-images.githubusercontent.com/31005897/168759441-07ea8b54-3fe8-43aa-bd0e-8c05067b1547.png)

But in the code, the center-n

[2022-05-17 08:08] datumbox commented on #6034
@zhiqwang @xiaohu2015 @jdsgomes Could you give a reply on this since you know the technique inside-out?

[2022-05-17 08:22] xiaohu2015 commented on #6034
@WZMIAOMIAO Hi, you can read the updated paper (https://arxiv.org/pdf/2006.09214.pdf). The center-ness branch added on regression branch can get better result.

[2022-05-17 08:28] datumbox commented on #5987
Wow I think we are done! Thanks a lot for the help!

[2022-05-17 08:28] #5987 closed

[2022-05-17 08:31] WZMIAOMIAO commented on #6034
Wow, that is great, Thank you.

![image](https://user-images.githubusercontent.com/31005897/168766887-1409082a-fa46-4861-bb07-a7c3d8b4f5bc.png)

[2022-05-17 08:50] WZMIAOMIAO commented on #6034
It is suggested to update the paper link in the description document.
https://github.com/pytorch/vision/blob/a1232c212d7cf84806189910ba83bc36bcea916c/torchvision/models/detection/fcos.py#L682

[2022-05-17 08:54] datumbox commented on #6034
Yes that might be a good idea, thanks for flagging. We should probably highlight both papers. You want to bring a PR?

[2022-05-17 08:58] WZMIAOMIAO commented on #6034
This is my honor.

[2022-05-17 09:08] datumbox commented on #6034
@WZMIAOMIAO No, definitely ours for helping us improve the documentation.

Reopening the ticket until the PR lands. Feel free to tag me on the PR for reviews. Thanks a lot for the help!

[2022-05-17 09:29] NicolasHug commented on #5987
<3 Thank you!

[2022-05-17 10:49] vfdev-5 commented on #5514
@pmeier can you provide tests for `pad_bounding_box` such that we could close this tracker ? Thanks

[2022-05-17 11:32] pmeier opened #6037 "Add support for VOC on detection references"
The segmentation references already support VOC and COCO

https://github.com/pytorch/vision/blob/08c8f0e0b68195a4a5a21cdd3f86106f59c2e854/references/segmentation/train.py#L20-L24

Unfortunately, the detection references only support COCO

https://github.com/pytorch/vision/blob/a1232c212d7cf84806189910ba83bc36bcea916c/references/detection/train.py#L37

There was a first push for this in #1216 by @l

[2022-05-17 11:37] pmeier commented on #5514
Thanks for reminding me!

[2022-05-17 13:12] jdsgomes commented on #5973
IMO the cleanest option is the initially proposed by @NicolasHug. In that case the changes won't be BC, so I would take the opportunity to make them "private" at the same time.

[2022-05-17 13:22] datumbox commented on #6015
@davidberard98 @jjsjann123 Thanks a lot for helping us fix the breakage. I confirm that the issue now is resolved on TorchVision's latest main branch d9a69506109cb970c7568c27cbeda1f9ffb7ad70.

[2022-05-17 13:22] #6015 closed

[2022-05-17 14:23] fmassa commented on #5845
Hi @WZMIAOMIAO ,

The expansion is a trick to improve the quality of the masks when performing bilinear / bicubic interpolation, specially in the boundaries. This gave a few mAP points for segmentation.

The `TO_REMOVE` is because the box width is computed in different coordinates (with the +1 computation, as if the coordinates were integers and not floats, i.e., `x2 - x1 + 1`), while the rest of

[2022-05-17 15:48] datumbox commented on #5973
I'm OK adopting @NicolasHug proposal. I don't think it's necessary to specify a default dataset or a default value. I would be more inclined to keep the metrics public thought as it would be useful for downstream projects (Papers with code repo, D2go Zoo, etc) to programmatically read the values but I'm OK if we want to release it first as private until we are certain about the schema.

@NicolasHu

[2022-05-17 17:04] fmassa commented on #5845
For more information about the expansion, see this comment in the [original Detectron implementation (in Caffe2)](https://github.com/facebookresearch/Detectron/blob/1809dd41c1ffc881c0d6b1c16ea38d08894f8b6d/detectron/core/test.py#L816-L820)
[code]

I wouldn't say this a bug in `cv2.resize`, but instead how the interpolation is defined to work in this case. So adding the zero-pad solves this issue.

[2022-05-18 00:45] davidberard98 opened #6040 "Test failures on A100 / tf32"
### 🐛 Describe the bug

The following tests are failing on A100:
[code]

By disabling tf32 the failures go away for all except `cuda-fasterrcnn_resnet50_fpn`
[code]

`cuda-fasterrcnn_resnet50_fpn` failures remain even after disabling tf32.

### Versions

[code]

[2022-05-18 00:47] #6034 closed

[2022-05-18 00:51] WZMIAOMIAO commented on #5845
@datumbox @fmassa Thank you for your reply. :+1:

[2022-05-18 04:57] lartpang commented on #3673
Maybe this demo will help us understand the role of offset.

[code]

[2022-05-18 09:29] pmeier commented on #5626
*This comment only applies in case we decide to reinstate the high-level dispatchers. Leaving this here so it doesn't get lost.*

---

Since torchscript is statically compiled we need special handling whenever we rely on duck typing. The most notable example are sequences, which mostly means `tuple`'s and `list`'s.

I propose to use "correct" annotations for the low-level kernels:

- If the argume

[2022-05-18 10:48] datumbox opened #6045 "`unittest_*_py3.10` job failing due to numpy issues"
### 🐛 Describe the bug

TorchVision's `unittest_linux_cpu_py3.10` started [failing](https://app.circleci.com/pipelines/github/pytorch/vision/17706/workflows/0f05c7e0-988b-4ddb-af32-608cb4da03a2/jobs/1434070/steps) with numpy issues:
[code]

Edit: Originally it seemed that only linux CPU was failing but later as more nightlies become available other py3.10 jobs failed such as [unittest_linux_gpu_py

[2022-05-18 10:54] #6014 closed

[2022-05-18 15:50] atalman commented on #6045
This could be related to this PR https://github.com/pytorch/pytorch/pull/77476 changes introduced during May 17 nightly
https://github.com/pytorch/pytorch/commit/bd39de2c81914193d2248dc6c756dda46934b6ec

[2022-05-18 18:55] atalman commented on #6045
This issue should be fixed by: https://github.com/pytorch/builder/pull/1036 will confirm that this is resolved before closing

[2022-05-18 18:55] ivaquero opened #6050 "Provide an arm64 build for torchvision on pytorch-nightly channel"
### 🚀 The feature

an arm64 build for torchvision on pytorch-nightly channel

### Motivation, pitch

PyTorch has already provided arm64-build on pytorch-nightly channel and support M1 GPU acceleration, however, M1 users like me still cannot benefit from this, because of the lack of an arm64 torchvision.

Pls provide with an arm64 build for torchvision on pytorch-nightly channel.

Thanks.

### Alte

[2022-05-19 00:27] atalman commented on #6045
Closing this test succeded:
https://app.circleci.com/pipelines/github/pytorch/vision/17720/workflows/f765b0a2-0a0d-40a4-a1ac-cf46c9c6bed0/jobs/1437092

[2022-05-19 00:27] #6045 closed

[2022-05-19 08:28] datumbox commented on #5973
QQ:
Partially "thanks" to my comment at https://github.com/pytorch/vision/pull/6047#discussion_r875990880, we've ended up adopting capitalized dataset names with `-` and `_`. Those look nicer in the docs but, after a good night's sleep, I'm starting questioning that proposal because literally every other key in this dictionary is lower-cased and with `_`.

Given that Nicolas has turned the `_metri

[2022-05-19 08:29] glenn-jocher commented on #6050
Linked to mps issue in https://github.com/pytorch/pytorch/issues/77748#issuecomment-1130554011

[2022-05-19 08:32] datumbox commented on #6050
@ivaquero Thanks for raising this.

You are right this is an important missing features. Your request is already recorded at #5171, so I will close this issue to avoid duplicates. Note that @atalman is investigating this at #6051, so hopefully it will come soon. :)

[2022-05-19 08:32] #6050 closed

[2022-05-19 08:34] ivaquero commented on #6050
Thank you all for your hard work.

[2022-05-19 08:40] pmeier commented on #5705
It seems something on the GDrive side has changed. The link above now gives a 403 (forbidden) instead a 404 page when you are logged. When you are not logged in you will be prompted to do so and afterwards see the same 403 page.

Exporting the link manually gives https://drive.google.com/file/d/0B7EVK8r0v71pZjFTYXZWM3FlRnM/view. While logged in you get transferred to the download page. If you are

[2022-05-19 08:47] NicolasHug commented on #5973
I don't have a strong opinion.

At this point my preferred solution would actually to not use `-` or `_`, but instead write purely human-readable dataset names like `ImageNet 1K` or `Sintel (test), clean pass`. It would make it a bit more awkward to access programmatically by users, which IMHO is a good thing.

But again, no strong opinion. Using `-` vs `_` feels the same to me, so if you submit a

[2022-05-19 08:50] NicolasHug commented on #5705
Thanks for reminding me and for your investigations @pmeier !

What do you mean by "being logged in"? Is it logged in from a browser?

[2022-05-19 08:59] pmeier commented on #5705
Yes. In particular, we need the session cookies. As possible way is to ask users to export the cookies to a file from the browser that we can read in. But this far from an "automated approach".

AFAIK, there is no way to login from the command line or through env vars or the like.

[2022-05-19 09:12] NicolasHug commented on #5705
Thanks for the deets. I agree we should deactivate it.

[2022-05-19 20:52] datumbox commented on #5511
The majority of work around the documentation is now complete. We'll leave the issue open to get the input of the community for further improvements.

[2022-05-20 09:09] YosuaMichael commented on #5973
No strong opinion on the dataset naming for the docs as well. I think @NicolasHug idea on having human-readable dataset also make sense for docs :)

[2022-05-20 10:17] #5964 closed

[2022-05-20 10:54] datumbox opened #6057 "fatal error C1083: Cannot open include file: 'c10/cuda/impl/cuda_cmake_macros.h': No such file or directory"
### 🐛 Describe the bug

The CI job `cmake_windows_gpu` [fails](https://app.circleci.com/pipelines/github/pytorch/vision/17785/workflows/ae709ba7-3280-40b4-aa61-792a4e172ead/jobs/1440198) with:
[code]

The issue started appearing immediately after the core nightly 20220520 became available, so it might be linked to a change on Core. But it's worth noting that the CircleCI's service degraded earlier

[2022-05-20 11:15] pmeier commented on #5705
Closed in #6052.

[2022-05-20 11:17] NicolasHug commented on #5705
Should we keep it open? Ultimately we'll want to put back the download feature, if the Gdrive becomes available again?

[2022-05-20 11:35] datumbox commented on #5705
That's reasonable. Should we also ping the owner (send an email or something) to let them know and ask them if they can open-up or rehost the dataset?

[2022-05-20 11:35] pmeier commented on #5705
I don't think it will come back. This is not a limitation by GDrive, but as explained in https://github.com/pytorch/vision/issues/5705#issuecomment-1082778379 a conscious decision by the author to limit access. I've contacted them twice and asked to revert it, but got no response.

If we want to keep it open, we should have some kind scheduled test or the like if the download is publicly accessibl

[2022-05-20 11:45] datumbox commented on #5705
Thanks for clarifying Philip. Let me close again then.

[2022-05-20 11:45] #5705 closed

[2022-05-20 12:15] datumbox commented on #6057
The problem [disappeared](https://app.circleci.com/pipelines/github/pytorch/vision/17791/workflows/06c85e20-1988-4794-8db0-b425d6f32ddf/jobs/1440643) on latest commit ac56f52e6d6788c31726ee2d3a55afa442c6c3ec. It could have been related to the CircleCI issues (?). Closing the issue.

[2022-05-20 12:15] #6057 closed

[2022-05-20 12:21] NicolasHug commented on #5705
If we're not expecting to put it back, then we might want to deprecate the `download` parameter instead of keeping it around

[2022-05-21 20:12] soid commented on #5748
I had the same problem after just installing torch from pip. There was no pytorch listed in the output (see below).
And I was getting exactly the same error "ImportError: cannot import name 'OpOverloadPacket' from 'torch._ops'"

I resolved it by going to https://pytorch.org/ and picking the "Compute Platform" CUDA since this machine had CUDA installed and reinstalling it.

[code]

[2022-05-22 11:52] m-parchami opened #6066 "Cannot obtain the accuracy stated in the doc for inception_v3 pretrained on Imagenet"

[2022-05-22 12:32] pmeier opened #6062 "Inversion of prototype transforms"
When debugging vision models, it is often useful to be able to map predicted bounding boxes, segmentation masks, or keypoints back onto the original image. To do this conveniently, each transformation should know how to invert itself. A discussion about this can be found in [this thread](https://github.com/pmeier/torchvision-datasets-rework/pull/1#issuecomment-911210196). While useful, it was deem

[2022-05-22 14:31] pmeier commented on #5748
Hm, it might be related to the CPU only binaries on Windows? @soid can you confirm that https://github.com/pytorch/vision/issues/5748#issuecomment-1089855905 is the true source of the error? If yes, could you try the following three scenarios for me and report back?

1. PyPI
[code]
2. CPU (same as PyPI, but to make sure)
[code]
3. CUDA
[code]

Either do that in a clean env every time or at least r

[2022-05-22 16:20] vfdev-5 commented on #6062
Following the linked thread and Yuxin's comment, transform inversion makes a lot of sense for test-time augmentations (TTA) where we want to reduce prediction variance by combining multiple predictions produced by a single model on transformed input data:
[code]

If we want to have a better effect of TTA, we may not want to use non-invertible transforms (like crop) as we wont be able to restore pr

[2022-05-23 01:01] finnatsea commented on #5893
I also had this issue on m1. Fixed by using `pip install "torchvision==0.11.3"`

[2022-05-23 08:08] yassineAlouini commented on #3562
@oke-aditya can we add the `SmallNORB` dataset to the list as introduced in this PR: https://github.com/pytorch/vision/pull/492. Thanks in advance. :)

[2022-05-23 08:22] tms2003 opened #6063 "pyinstaller for pytorch error:File "torch/_utils_internal.py", line 49, in get_source_lines_and_file !"
### 🐛 Describe the bug

I use pyinstaller to package pytorch, and I got this error:
[code]

the error reason is from this code:
[code]
if I use @torch.jit.script, the error is appear.

I also got the post:https://github.com/pytorch/vision/issues/1899,it told me that :

### Versions

orch                     1.7.1
torchaudio                0.7.2
torchvision               0.8.2

[2022-05-23 09:15] pmeier commented on #6063
From the other issue you linked, it seems `pyinstaller` and `torch.jit.script` don't work well together. Have you tried https://github.com/pytorch/vision/issues/1899#issuecomment-598200938?

[2022-05-23 09:27] tcapelle opened #6067 "`read_image` does not work on Apple M1 (from torchvision.io)"
### 🐛 Describe the bug

It fails to load the image.
<img width="1088" alt="image" src="https://user-images.githubusercontent.com/18441985/169788643-8a8c4fb3-e4d9-447d-ba33-b798863a6d5f.png">

The input is a string.

### Versions

Collecting environment information...
PyTorch version: 1.13.0.dev20220522
Is debug build: False
CUDA used to build PyTorch: None
ROCM used to build PyTorch: N/A

OS: macO

[2022-05-23 09:37] pmeier opened #6069 "ONNX CI worflow is broken"
Failure is visible since this morning: https://app.circleci.com/pipelines/github/pytorch/vision/17824/workflows/63ed118f-e479-47e5-91c1-2f0805ce2e5a/jobs/1443424

[code]

The last commit before the weekend b969cca783cfe6c1009b7bf60609e28d83c973a6 did not have this failure. Thus, I'm guessing we only have look for the nightlies of the 21th and 22th for possible offenders.

cc @neginraoof @seemether

[2022-05-23 09:52] pmeier commented on #6069
The offender should be between pytorch/pytorch@d1bb420fb1087d680b7ad526536e14acbc2f18bf and pytorch/pytorch@fbc417b67d9fd51354512643d9f335bd inclusive.

The only PR that references ONNX is pytorch/pytorch#77423, but that seems unrelated.

[2022-05-23 09:57] NicolasHug opened #6070 "MacOS unittest and binary jobs failing"
Both with a segfault in torchvision's `setup.py`:

- https://app.circleci.com/pipelines/github/pytorch/vision/17824/workflows/63ed118f-e479-47e5-91c1-2f0805ce2e5a/jobs/1443411

- https://app.circleci.com/pipelines/github/pytorch/vision/17824/workflows/97a4d0cf-ecd8-402f-bb8d-301cd68c2ea3/jobs/1443375

[2022-05-23 10:07] NicolasHug opened #6071 "Keeping track of PRs and issues for upcoming 0.13 release"
Just opening this to keep track of issues and PRs that need to be in / fixed before the release (and hopefully before our cut)

Current CI issues

- [x] https://github.com/pytorch/vision/issues/6070
- [x] https://github.com/pytorch/vision/issues/6069

From us

- [ ] https://github.com/pytorch/vision/pull/5993 - nice to have, not mandatory
- [x] https://github.com/pytorch/vision/pull/5857 - no brai

[2022-05-23 10:11] #5818 closed

[2022-05-23 10:15] tms2003 commented on #6063
@pmeier I try this:

it's work for me,other trick is not ok .but I thank this is not so good.

[2022-05-23 12:11] pmeier commented on #6069
I bisected and it turns out pytorch/pytorch#77423 is the culprit after all @justinchuby @BowenBao

[2022-05-23 12:19] pmeier commented on #6063
Sorry, I'm not sure I understand. What is your goal here? Do you want to use `torch.jit.script` or not?

- If no, the patch in https://github.com/pytorch/vision/issues/1899#issuecomment-598200938 should suffice.
- If yes, you are probably out of luck. It seems that `pyinstaller` is not compatible with `torch.jit`. `torch.jit` needs to use [`inspect.getsourcefile`](https://docs.python.org/3/library

[2022-05-23 12:40] pmeier commented on #6069
pytorch/pytorch@0d76299ff782224810b997d99f8af490cd96eede made it into the [branch cut](https://github.com/pytorch/pytorch/tree/v1.12.0-rc1) and thus we need to resolve before the release.

[2022-05-23 12:45] pmeier commented on #6070
Probably related to https://github.com/pytorch/pytorch/pull/77662#issuecomment-1129970086.

[2022-05-23 13:40] albanD commented on #6070
This is not an expected change. We will revert this change in core.

[2022-05-23 15:24] justinchuby commented on #6069
Updated:

- https://github.com/pytorch/pytorch/pull/78085

[2022-05-23 15:31] justinchuby commented on #6069
pytorch/pytorch#77423 was reverted and relanded as pytorch/pytorch#77448. Just for reference

[2022-05-23 15:33] FloCF opened #6074 "ResNet with InstanceNorm and zero_init_residual"
### 🐛 Describe the bug

Since `nn.InstanceNorm2d` has `affine=False` as default, `ResNet` can not be used with `zero_init_residual=True` and `norm_layer = nn.InstanceNorm2d`.

[code]
Two possible solutions:
1. Throw out an error, as the combination of `norm_layer = nn.InstanceNorm2d` and `zero_init_residual=True` simply should not be used (not sure if that is the case).
2. Call `norm_layer` with `

[2022-05-23 17:07] m-parchami commented on #6066
Thanks @NicolasHug for moving it to the right place and not just closing it :) Sorry for the incovenience.

Regarding your comment, I assumed that by running `model.eval()` the batch normalization and drop outs can no longer affect the output. Also, I run the code only on a single GPU to avoid any duplication/drops in the samples. Also, because the model is fully pretrained, I assumed that the CUD

[2022-05-23 20:11] cliberatore commented on #5413
FYI, I believe this problem can be solved by installing libpng and libjpeg via Homebrew, as it now works for me after doing so. Credit to https://discuss.pytorch.org/t/failed-to-load-image-python-extension-could-not-find-module/140278/26

[2022-05-24 04:06] tms2003 commented on #6063
@pmeier
thanks your reply,I got this point.

[2022-05-24 06:04] #6063 closed

[2022-05-24 09:23] github-actions[bot] opened #6075 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow tests/download.
Please look into it:

https://github.com/pytorch/vision/actions/runs/2376697010

Feel free to close this if this was just a one-off error.

cc @pmeier @YosuaMichael

[2022-05-24 12:04] pmeier commented on #6069
Fix worked! https://app.circleci.com/pipelines/github/pytorch/vision/17866/workflows/49b2a6cf-c54e-4c21-8a0d-a477e70c884f/jobs/1446667

Thanks @justinchuby!

[2022-05-24 12:04] #6069 closed

[2022-05-24 12:06] pmeier commented on #6070
Was fixed in pytorch/pytorch#78136! Thanks @malfet

- https://github.com/pytorch/vision/runs/6572753695
- https://app.circleci.com/pipelines/github/pytorch/vision/17866/workflows/15a8ff89-782a-40a9-8f14-34cc9cb0072b/jobs/1446630
- https://app.circleci.com/pipelines/github/pytorch/vision/17866/workflows/49b2a6cf-c54e-4c21-8a0d-a477e70c884f/jobs/1446653

[2022-05-24 12:06] #6070 closed

[2022-05-24 12:37] datumbox commented on #6066
Actually, I think the documentation on TorchHub needs to change to use the new Multi-weight support API. Instead of manually preprocessing the weights and getting into problems, this should be done using the transforms attached to the weights. Here is an [example](https://pytorch.org/vision/main/models.html#classification) on the docs.

Probably we want to merge such a PR after the upcoming releas

[2022-05-24 16:27] NicolasHug opened #6081 "[v0.13] Release Tracker"
We cut a [release branch](https://github.com/pytorch/vision/tree/release/0.13) for the 0.13 release. (common commit  with main is 69ce452)

This issue is for tracking cherry-picks to the release branch.
The POCs for the TorchVision team is @nicolashug  and @YosuaMichael

## Cherry-Pick Criteria

**Phase 1 (until 06/06/22):**

Only low-risk changes may be cherry-picked from master:

1. Fixes to reg

[2022-05-24 19:13] YosuaMichael commented on #6074
Thanks for the report @FloCF !
I have confirmed the problem, and I notice the problem is during weight initialization of the norm_layer: https://github.com/pytorch/vision/blob/main/torchvision/models/resnet.py#L223
[code]
In this case, if `m.bn2` is `nn.InstanceNorm2d` then it will not have any weight, or in other word `m.bn2.weight` is None and hence it cause error.

I tried to create a bugfix he

[2022-05-24 21:16] atalman opened #6083 "[v.0.13] Release Tracker"
### 🐛 Describe the bug

We cut a [release branch](https://github.com/pytorch/vision/tree/release/0.13) for the 0.13 release.

Our plan from this point from this point is roughly:

* Phase 1 (until 06/13): work on finalizing the release branch
* Phase 2 (after 06/13): perform extended integration/stability/performance testing based on Release Candidate builds.

This issue is for tracking cherry-pic

[2022-05-25 06:26] federicopozzi33 commented on #5343
Hi @pmeier,

I'd like to work on this.

[2022-05-25 07:59] datumbox commented on #6083
This is duplicate of #6081. Let's use the issue created originally by @NicolasHug.

[2022-05-25 08:10] #6074 closed

[2022-05-25 08:43] YosuaMichael commented on #6081
PR for `main`: https://github.com/pytorch/vision/pull/6082
PR for `release/0.13`: https://github.com/pytorch/vision/pull/6084
category: bugfix

[2022-05-25 11:02] datumbox opened #6087 "Initializing libiomp5.dylib, but found libomp.dylib already initialized."
### 🐛 Describe the bug

On MacOS, it started after updating to the latest nightly `1.13.0.dev20220525-py3.8_0` from core (previously I was at `1.12.0.dev20220309-py3.8_0`, so the issue could have been introduced earlier than May 25th). I'm receiving the following after importing torchvision:
[code]

The error is goes away after defining `KMP_DUPLICATE_LIB_OK=TRUE` as env var.

### Versions

Latest

[2022-05-25 13:00] datumbox commented on #6087
I've ended "fixing" the issue by wiping my conda setup, moving to py3.10 and reinstalling dependencies. The issue was definitely not related to TorchVision as I managed to reproduce it only using Core. It could be related to some weird dependency on my system though.

As discussed with @atalman I'll leave the issue open just in case this is something suspicious that needs to be investigated on the

[2022-05-25 15:49] malfet commented on #6087
@datumbox you should have run `python3 -mtorch.utils.collect_env` and posted results here. What I suspect has happened: in your env you've installed PyTorch from wheels, but numpy from conda-forge

[2022-05-25 15:56] atalman commented on #6087
Here they are

[code]

[2022-05-25 16:22] datumbox commented on #6087
@malfet I've updated the issue with the requested output. In my case your suspicion seems correct which is different from what @atalman reports. Hope it helps. Feel free to move this issue on PyTorch core if you want, as this is not related to TorchVision.

[2022-05-25 17:01] frgfm commented on #5088
Sorry everyone, I have had some time off since feedback was requested on that topic. But I'm quite happy with the proposed design. As a user & a contributor, I'd argue :
- possibility to not load anything
- when asking for pretrained, default params are (somehow) the best / most generalizable ones available
- advanced users, can select different weights

Now to me, that leads to a few things:
- wh

[2022-05-25 18:47] YosuaMichael commented on #6081
Handling edge cases on test_backbone_utils when the tracer sample nodes that is buffer with integer dtype, in this case the function `Tensor.mean()` will raise error since it does not accept integer. We add `.float()` before `.mean()` with this PR.

PR for `main`: https://github.com/pytorch/vision/pull/6090
PR for `release/0.13`: https://github.com/pytorch/vision/pull/6091
category: bugfix

[2022-05-26 06:54] pmeier commented on #5710
@janeyx99 That should be doable with a similar approach as core uses for the bot. Basically, we could have configuration file somewhere that specifies the files and the flag (upcoming revamp / deprecation / ...). Now we can write a small workflow that runs every time someone pushes to a PR and cross ref the changed files in the PR with the configuration and post a message if there is overlap. Of c

[2022-05-26 08:09] #6075 closed

[2022-05-26 08:22] pmeier commented on #5343
Hey @federicopozzi33 and thanks for the interest. Unfortunately, we are currently not looking for contributions on porting more datasets. We need to make sure that the new architecture works well in an end-to-end setting. For that we are still running benchmarks.

Furthermore, `torchdata` is in the process of introducing a new data loader: https://github.com/pytorch/data/tree/main/torchdata/datalo

[2022-05-26 09:11] github-actions[bot] opened #6093 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow tests/download.
Please look into it:

https://github.com/pytorch/vision/actions/runs/2389724333

Feel free to close this if this was just a one-off error.

cc @pmeier @YosuaMichael

[2022-05-26 09:27] stepupdy commented on #4894
I have the same problem, and I figure it out by checking the system environment path, there should be a ';' between path and other paths

[2022-05-26 09:28] HaiyanJiang commented on #4829
1. Running this on colab seems to succeed without issues.

https://colab.research.google.com/github/pytorch/tutorials/blob/gh-pages/_downloads/c30c1dcf2bc20119bcda7e734ce0eb42/quickstart_tutorial.ipynb

2. Then create and download the .zip file from the colab.
[code]

[2022-05-26 10:26] vfdev-5 commented on #5782
@pmeier in order to close this tracker as done we have to add more correctness tests for padding with other padding modes (https://github.com/pytorch/vision/pull/5866/files#r859158083)

`pad_segmentation_mask` uses `pad_image_tensor` and right now we does not have any tests for `pad_image_tensor`. I suggest to check correctness with one of suggested ways (from the link above). Later these tests co

[2022-05-26 10:41] pmeier opened #6094 "`Tensor.to` does not work with feature as reference"
`torch.Tensor.to` accepts a tensor reference object as input in which case it converts to the reference dtype and device:

[code]

This also works for our custom features:

[code]

However, it doesn't work if we want to convert a plain tensor and use a custom feature as reference:

[code]

cc @bjuncek @pmeier

[2022-05-26 10:48] vfdev-5 commented on #5514
I'm closing this tracker as done

[2022-05-26 11:16] pmeier commented on #5782
Nope, sounds like a good plan.

[2022-05-26 12:33] YosuaMichael opened #6099 "The Release 0.13 is not using the correct torch core version"
### 🐛 Describe the bug

Currently the CI on branch `release/0.13` is failing (I create dummy PR https://github.com/pytorch/vision/pull/6092 to track this).
We fail on type_check  and this does not happen on main branch.
After looking at the error: https://app.circleci.com/pipelines/github/pytorch/vision/17906/workflows/8f008f5a-13b2-4207-a378-51ae705b99b7/jobs/1450718
especially on the installatio

[2022-05-26 12:45] pmeier commented on #6099
Maybe I'm missing something here, but there are quite a afew `1.12.0` binaries in the list:

[torch-1.12.0%2Bcpu-cp310-cp310-linux_x86_64.whl](https://download.pytorch.org/whl/test/cpu/torch-1.12.0%2Bcpu-cp310-cp310-linux_x86_64.whl)
[torch-1.12.0%2Bcpu-cp310-cp310-win_amd64.whl](https://download.pytorch.org/whl/test/cpu/torch-1.12.0%2Bcpu-cp310-cp310-win_amd64.whl)
[torch-1.12.0%2Bcpu-cp37-cp37m-

[2022-05-26 12:49] pmeier commented on #6099
The installation command is wrong. It should be either

[code]

or

[code]

The former only works if we install PyTorch binaries exclusively, while the second can also pull stuff from PyPI if it doesn't find anything in the extra index.

[2022-05-26 12:55] pmeier commented on #6099
This was introduced in #6080. The only change that is needed is

[code]

@atalman Do you want me to send a PR?

[2022-05-26 13:00] YosuaMichael commented on #6099
Ah you are right @pmeier , seems like I missed it because I searched for `/torch-` instead

[2022-05-26 13:31] YosuaMichael commented on #6081
Refactor swin_transformer so it can be compatible with the 3d version (hence we dont introduce BC changes in the future release)

PR for `main`:  https://github.com/pytorch/vision/pull/6088
PR for `release/0.13`: https://github.com/pytorch/vision/pull/6100 (waiting the CI to be green before merging)
category: backward compatibility

[2022-05-26 13:38] malfet commented on #6087
Ok, can we please clarify the following: what conda package provides libiomp5.dylib? If it's provided by MKL base, that we do not need to bundle it with the package, but rather take it from conda, i.e. following function should not be called when building conda packages for MacOS https://github.com/pytorch/pytorch/blob/18d46ea9fd5071820cdbe7595b99396a9153f716/setup.py#L432

[2022-05-26 14:46] atalman commented on #6081
Link to landed master PR (if applicable):
*  NA

Link to release branch PR:
* https://github.com/pytorch/vision/pull/6101

Criteria Category:
*  Critical CI fixes

[2022-05-27 09:10] github-actions[bot] opened #6102 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow tests/download.
Please look into it:

https://github.com/pytorch/vision/actions/runs/2395583002

Feel free to close this if this was just a one-off error.

cc @pmeier @YosuaMichael

[2022-05-27 09:51] pmeier opened #6103 "torchvision CPU nightly wheels are stored in the wrong index"
The nightlies are in https://download.pytorch.org/whl/nightly/cpu/torchvision/torchvision rather than https://download.pytorch.org/whl/nightly/cpu/torchvision/.

Installing with

[code]

will pull the stable wheel from PyPI.

cc @malfet @seemethere

[2022-05-28 03:25] tgaddair commented on #6103
Is this related to https://github.com/pytorch/vision/issues/6099?

Some time today we were no longer able to install nightly `torch` with `torchvision`. `torchvision` will instead force downloading the stable torch package:

[code]

For now our workaround is to pin to a specific torchvision wheel by its URL, but this obviously won't be sustainable as we would need to keep manually updating it for

[2022-05-30 01:41] pytholic commented on #3250
Thank you for the explanation @hgaiser.

I am using `UNet` pytorch implementation for 3D segmentation by following this [example](https://colab.research.google.com/github/fepegar/torchio-notebooks/blob/main/notebooks/TorchIO_tutorial.ipynb).

I was wondering if I need to input raw `logits` to the `sigmoid_focal_loss` or should I input `probabilities` after applying `softmax/sigmoid` activation? He

[2022-05-30 07:40] vfdev-5 commented on #5754
I'm closing this tracker as done

[2022-05-30 07:41] vfdev-5 commented on #5782
I'm closing this tracker as done

[2022-05-30 07:41] #5782 closed

[2022-05-30 07:41] #5514 closed

[2022-05-30 09:10] pmeier commented on #6103
Nope. The cause of #6099 is a wrong installation command. Your command is fine, but our index is broken.

In the mean time, you can also install with

[code]

This is fine for your use case, but be aware that you can only install PyTorch wheels with this, whereas the `--extra-index-url` can also pull from PyPI if you require anything else.

[2022-05-30 12:27] YosuaMichael commented on #6081
Fix the CI error `unsafe repo`
PR for `main`: https://github.com/pytorch/vision/pull/6106
PR for `release/0.13`: https://github.com/pytorch/vision/pull/6109 (MERGED)

category: CI bugfix

[2022-05-30 14:16] TechnikEmpire commented on #2597
If the world ever gets so stupid as to classify the 2D coordinates of objects in space as copyrightable material, or that learning the generic representation of a dog is prohibited, I'm gonna quit my job and write a script to draw boxes on every image on the internet and also flood google images with pictures of dogs.

All jokes aside, if you speak to anyone, lawyer or otherwise, who ever indicate

[2022-05-30 15:24] malfet commented on #6103
Fixed it by deleting spurious /whl/cpu/torchvision/ packages, but I'm still not sure why it caused this weird nesting problem

[2022-05-30 16:56] tgaddair commented on #6103
Thanks for the workaround @pmeier.

@malfet, thanks for looking into this, though I am still unable to use `--extra-index-url` at this time.

[2022-05-30 18:19] datumbox commented on #6103
I also can confirm it worked on my systems. Perhaps it takes a bit of time until the change propagates in all regions?

[2022-05-30 19:38] tgaddair commented on #6103
Thanks @malfet @datumbox, looks like it's actually coming from `torchtext` now (we install it together with `torch` and `torchvision`). I'll follow-up with them, likely it's a similar issue as the one here.  Thanks for the quick fix!

[2022-05-30 19:45] malfet commented on #5171
Closing, as we can compile natively

[2022-05-30 19:45] #5171 closed

[2022-05-30 19:46] malfet commented on #6103
@tgaddair hmm, can you please elaborate, what problem are you seeing with torchtext? (As I were able to install the full pack of vision, audio and text on my linux devbox)

[2022-05-30 20:23] tgaddair commented on #6103
Hey @malfet, I spoke too soon, that turned out to be my issue (already had torchtext in the env). I haven't put together a good repo for what I'm seeing in CI locally yet, but you can see the problem here when trying to install torchvision nightly with python 3.9:

https://github.com/ludwig-ai/ludwig/runs/6657822665?check_suite_focus=true#step:7:79

I'll also try re-running to see if it was a repl

[2022-05-30 20:50] tgaddair commented on #6103
Okay, seems to be working again, so I'm guessing it was as @datumbox suggested. Thanks everyone! Apologies for the back and forth.

[2022-05-31 07:32] datumbox commented on #6103
@tgaddair  Thanks for confirming.

@malfet Thanks for the help fixing the issue.

[2022-05-31 09:01] NicolasHug commented on #6099
@atalman @malfet @pmeier

In https://github.com/pytorch/vision/pull/5672/files, we switched from `-f` to `--extra-index-url`. See in particular this discussion between @pmeier  and I https://github.com/pytorch/vision/pull/5672/files#r834412238.

It's clear that at least for the release branch, we should be using `-f`. It seems to me that we should also revert to `-f` in main, as it would at least

[2022-05-31 09:08] YosuaMichael commented on #6081
Add M1 CI Build setup
PR for `main`: https://github.com/pytorch/vision/pull/5948 and https://github.com/pytorch/vision/pull/6110
PR for `release/0.13`: #6112 (Wait until CI is green)

[2022-05-31 10:19] datumbox commented on #6081
Add missing `_version` to the MLPBlock
PR for main: https://github.com/pytorch/vision/pull/6113
PR for release/0.13: https://github.com/pytorch/vision/pull/6114

category: bugfix

[2022-05-31 16:26] hamedty commented on #5919
it started on torchvision==0.11.0.
0.10.0 looks good.

`pip install torchvision==0.10.0 -f https://download.pytorch.org/whl/torchvision/`

[2022-06-01 00:21] cooperflourens commented on #1920
I'm trying to do this currently to no avail. Do you know if this is still a functional workaround?

[2022-06-01 04:36] abhi-glitchhg commented on #1920
Hey @cooperflourens ,

Try downloading from [this](https://drive.google.com/uc?id=137RyRjvTBkBiIfeYBNZBtViDHQ6_Ewsp&export=download) link, you need to login into Google for this. For more information please see the discussions in #5704 and #6052

[2022-06-01 17:35] pengwenyu opened #6118 "Error with training Faster R-CNN"
### 🐛 Describe the bug

Hi, I am using faster r-cnn to train our own COCO datasets. However, when I pass the arguments to the train.py, it shows me the error. I checked the source code of faster rcnn and there is no weights argument. Could you please help me fix this issue?

Loading data
loading annotations into memory...
Done (t=0.09s)
creating index...
index created!
loading annotations into mem

[2022-06-01 17:45] #6118 closed

[2022-06-01 18:07] pengwenyu commented on #6118
Could you tell me how to install the nightly version?  I use pip and I can just get 0.11.3.

[2022-06-01 19:27] pengwenyu opened #6119 "Error with training Faster R-CNN with new torchvision=0.12"
### 🐛 Describe the bug

Hi, I am using faster r-cnn to train our own COCO datasets. However, when I pass the arguments to the train.py, it shows me the error. I checked the source code of faster rcnn and there is no weights argument. Could you please help me fix this issue?
Creating data loaders
Using [0, 0.5, 0.6299605249474366, 0.7937005259840997, 1.0, 1.2599210498948732, 1.5874010519681994, 2.0

[2022-06-02 01:40] apivovarov opened #6121 "Scripted inception_v3 has wrong output format"
### 🐛 Describe the bug

Scripted `inception_v3` model has wrong output format - Instead of `Tensor` it returns `InceptionOutputs`.
I checked other models - resnet50, mobilenet_v2 - After scripting they return `tensor`.
Inference tools such as torch_tensorrt expects models to return `Tensor` or `[Tensor]`.

To reproduce the issue with inception_v3:
[code]
It prints `<class 'torch._jit_internal.Ince

[2022-06-02 10:47] oke-aditya commented on #6119
Hi @pengwenyu
The reference scripts are tested on latest main branch. The feature to use weights is available in nightlies and is under prototype and not released into stable yet.

To train models from reference scripts, please use nightlies or build torchvision from source.

[2022-06-02 11:55] husterdjx opened #6124 "How to timing 'model.to(device)' correctly?"
I am using pytorch's api in my python code to measure time for different layers of resnet152 to device(GPU, V-100).However, I cannot get a stable result.
Here is my code:
[code]
When I use the code to test at different time, I can always get different answers, some of them are ridiculous, even to `200ms`.
Also, there are 4 GPU(Tesla V100) in my lab, I don't know whether other extra GPUs will affec

[2022-06-02 12:36] mjack3 opened #6125 "draw_segmentation_instances"
### 🚀 The feature

Development a function torchvision.utils.draw_segmentation_instances to draw just the external contour instead.

### Motivation, pitch

For torchvision.utils we have draw_bounding_boxes, draw, draw_segmentation_masks, draw_keypoints but still need to do some extra preprocess for getting the instance segmentation. Would be great to have a function draw_segmentation_instances to g

[2022-06-02 12:38] oke-aditya commented on #6125
Can you post an example of what the output is expected? And how only contours will help?

[2022-06-02 13:07] mjack3 commented on #6125
Hello!

This is what we have with the current util function

![Screenshot from 2022-06-02 15-02-54](https://user-images.githubusercontent.com/37028633/171635328-518f4956-0ea6-4334-95f2-7fc488e42b9e.png)

With this request we would have as result just the width orange border of the mask.

This can help in order to have better visualization of what we are selecting. Similar as to have filled boundin

[2022-06-02 13:28] abhi-glitchhg opened #6126 "Add title to the tables in the `Models and Pretrained Weights` section of torchvision documentation."
### 🚀 The feature

Currently, there is no title to the tables in the `Models and Pretrained Weights` section.

[click here](https://output.circle-artifacts.com/output/job/a621d2f7-44c0-4929-af91-e82b10c81671/artifacts/0/docs/generated/detection_table.html?highlight=fcos_resnet50) to open docs .

![image](https://user-images.githubusercontent.com/72816663/171637097-380e04fc-0845-498d-b039-31957b086

[2022-06-02 14:46] pmeier commented on #6099
AFAIK, we no longer advertise the `-f` syntax. It is probably only still working for BC.

Is your reason here to avoid pulling any binary other than the test binaries? If that is the case, we can simply switch to `--index-url` instead of `--extra-index-url`. This allows us to keep the documented index syntax, while also being sure not to pull anything that is not hosted by us.

[2022-06-02 16:43] iamhatesz commented on #5393
Hey! Any update on this? Seems like a simple thing to fix, but produces a lot of issues with CPU-only wheels on CI pipelines.

[2022-06-02 16:50] towzeur opened #6127 "Adding dataset Tiny-Imagenet"
### 🚀 The feature

Hello,

I would like to contribute to torchvision by providing a implementation of Tiny-Imagenet dataset.

home : https://www.kaggle.com/c/tiny-imagenet
paper : http://vision.stanford.edu/teaching/cs231n/reports/2015/pdfs/yle_project.pdf
zip : http://cs231n.stanford.edu/tiny-imagenet-200.zip

This challenge is part of Stanford Class CS 231N.
Label Classes and Bounding Boxes are

[2022-06-03 13:22] Kubci commented on #4378
Hi,

I am using:
pytorch 1.11.0+cu113
ubuntu 20.04 LTS
python 3.9

I did replace libnvjpeg.90286a3c.so.11 with .so from cuda 11.6. However the memory keeps growing indefinitely.
![image](https://user-images.githubusercontent.com/6727717/171862684-d1d5a2e8-d507-4078-98cc-1ad5ca5e4d2d.png)

[2022-06-03 13:37] Kubci commented on #4378
It does not work with cuda 11.7 libnvjpeg either. But same behavior is observed when using numpy.frombuffer.

[2022-06-03 21:44] k-bandi commented on #5932
Hi, I have a question regarding this. I'm trying to do transfer learning using FCOS but with a completely different set of classes compared to the pre-trained case. I couldn't find any tutorial on how to modify the layers to accommodate for the custom classes. I still want to leverage the pre-trained weights. Could you please help @datumbox ?

[2022-06-04 08:22] dreamflasher commented on #3714
Is this now supported by https://github.com/pytorch/pytorch/blob/master/torch/utils/data/datapipes/iter/grouping.py#L170 and how would you group by aspect ratio with DataPipes?

[2022-06-05 08:04] Tenglon commented on #3460
VideoReader building documentation is needed.

I am building from the source in the following order (Nvdia-driver, CUDA 11.4, build pytorch from source, build ffmpeg with GPU support from source and build torchvision from source), but it still says that I need to build from source to use VideoReader.

[2022-06-05 10:44] BadrYoubiIdrissi commented on #5826
Hi ! This issue has been closed but it seems the [PR](https://github.com/pytorch/pytorch/pull/76068) that addresses this issue hasn't been merged in the end ?

[2022-06-06 07:29] stweil commented on #5413
I could avoid the issue by adding symbolic links in `/usr/local/lib` which point to the dylib files from Homebrew:
[code]

[2022-06-06 07:39] jamesr66a commented on #5826
That PR was indeed merged in the following commit: https://github.com/pytorch/pytorch/commit/bf730e5039e8bf1614de6ad08ac6a24a1622dcbe

On Jun 5, 2022, at 3:44 AM, Badr YOUBI IDRISSI ***@***.***> wrote:

﻿

Hi ! This issue has been closed but it seems the PR<https://github.com/pytorch/pytorch/pull/76068> that addresses this issue hasn't been merged in the end ?

—
Reply to this email directly, view

[2022-06-06 08:31] vfdev-5 commented on #6124
@husterdjx please check https://pytorch.org/tutorials/recipes/recipes/benchmark.html
If you want to get stable times, you may need to run measures multiple times. Another point, the first time you call any cuda op, it will create a context and allocate some memory on GPU, you may want to remove this time from measurements...

[2022-06-06 08:34] NicolasHug commented on #6124
Hi @husterdjx ,
For  user questions that are not directly related to torchvision, please prefer this channel: https://discuss.pytorch.org/

Other than that your benchmark looks reasonable to me, like @vfdev-5 you might want to compute averages over multiple executions

[2022-06-06 08:34] #6124 closed

[2022-06-06 09:01] NicolasHug commented on #6119
Alternatively you can:

- use the training references of the previous version - but that might not give you the latest improvements
- wait a few days for the upcoming 0.13 version of torchvision  :)

I think @oke-aditya properly explained the reason for the error, so I'll close the issue. Feel free to re-open if you have further questions

[2022-06-06 09:01] #6119 closed

[2022-06-06 11:14] datumbox commented on #6121
@apivovarov Thanks for reporting. First of all let me say that I agree with you that this is rather confusing/problematic.

InceptionV3 is a rather old implementation that uses a bunch of idioms which we no longer use in classification models. In this case, the model returns different output format conditionally on the training flag. The original idea of the author of this implementation was that

[2022-06-06 11:20] datumbox commented on #6125
I agree that this might be useful for people who want more advanced viz options, but is TorchVision's util the right solution for them? Historically the focus of TorchVision was to offer basic utilities for people to check the results of the models. For more complex use-cases, there are better options out there. My worry is that offering such a functionality will lead to rather complex signature m

[2022-06-06 11:27] mjack3 commented on #6125
I think is  straightforward as adding a fill attribute that by default is filled.

In this way you are improving to developer don't using other libraries.

[2022-06-06 12:44] NicolasHug commented on #6081
https://github.com/pytorch/vision/pull/6117 might need to be cherry-picked as well. Waiting for @malfet 's input.

[2022-06-06 21:17] k-bandi commented on #5932
@santhoshnumberone and @datumbox - I figured out how to do this. Here's a way you can modify the FCOS to custom number of classes.

[code]

[2022-06-06 21:31] seemethere commented on #5393
This appears to be what you're looking for: https://github.com/pytorch/pytorch/issues/26340#issuecomment-1121566590

We introduced pep503 compliant indices to `download.pytorch.org` and they are now the recommended way to install pytorch. I believe that these can also be used with poetry as well.

[2022-06-07 07:37] datumbox commented on #6127
@towzeur Thanks for offering to help!

Let's get back to you on this. We are in the process of migrating to a new API, so it's unclear if at this point we will add more datasets on the old one. I've recorded your proposal on the RFC at #3562 so that we won't forget it. BTW note that putting the standard `torchvision.datasets.ImageFolder`on top of a folder that contains the extract data should work

[2022-06-07 07:59] phucpha commented on #3058
i solved this issue. Install cuda suitable for pytorch and pytorch version. then uninstall pytorch and torchvision , after that install pytorch and torchvision again. Sorry because my english not good. good luck

[2022-06-07 08:41] NicolasHug commented on #6099
The original issue is resolved, but if you don't mind I'd love your thoughts on https://github.com/pytorch/vision/issues/6099#issuecomment-1141867661 before closing

[2022-06-07 17:22] oke-aditya commented on #6125
Hi @mjack3 can you share the code that enabled you to do the same? Maybe someone looking for similar solution might open this issue and it may help them.

[2022-06-07 20:35] seemethere commented on #5393
Going to close this since pep503 compliant indices should resolve

Feel free to reopen if you feel like your issue has not been resolved

[2022-06-07 20:35] #5393 closed

[2022-06-08 07:27] datumbox commented on #6081
#6135 might also need to be cherrypicked. Pretty much all M1 related commits + the BE work that Nicolas highlighted above need to be cherrypicked. I think we should do it once @malfet gives us the OK that all M1 related work is completed.

[2022-06-08 09:07] github-actions[bot] opened #6136 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow tests/download.
Please look into it:

https://github.com/pytorch/vision/actions/runs/2460351075

Feel free to close this if this was just a one-off error.

cc @pmeier @YosuaMichael

[2022-06-08 09:15] Xonxt commented on #4106
Sorry to reopen the issue, but the other question was not answered:
how should the labels be numbered during training (for custom datasets) - starting from 0 or from 1?
And then during inference, does the model return the labels starting from 0 or from 1?

[2022-06-08 09:37] github-actions[bot] opened #6137 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow tests/download.
Please look into it:

https://github.com/pytorch/vision/actions/runs/2460351075

Feel free to close this if this was just a one-off error.

cc @pmeier @YosuaMichael

[2022-06-08 09:49] NicolasHug commented on #6137
Compilation error will be fixed with https://github.com/pytorch/vision/pull/6133

[2022-06-08 09:49] NicolasHug commented on #6136
Compilation error will be fixed with https://github.com/pytorch/vision/pull/6133

[2022-06-08 10:11] NicolasHug opened #6138 "CI is toasted"
From [bf1914c](https://github.com/pytorch/vision/pull/5009/commits/bf1914c61622cd6f0aa9ec7f38552f350507ec53) on main branch:

[code]

Because torch core renamed `affine_quantizer.h` into `AffineQuantizer.h`.

This will eventually be fixed by https://github.com/pytorch/vision/pull/6133. The irony is that some jobs are relying on the nightly from today while some other jobs are still relying on nigh

[2022-06-08 14:29] tgaddair commented on #6103
Hey @datumbox @malfet, looks like this issue has resurfaced again today:

https://github.com/ludwig-ai/ludwig/runs/6794939594?check_suite_focus=true#step:7:78

[2022-06-08 17:56] malfet commented on #6138
We can add a script to create a symlink from one to another, if header is not available (Or `#include` one from another), but this is bad. Wonder if change on core were marked as BC breaking?