[2018-11-06 09:46] fmassa commented on #650
You need to change the loss that you use in your models.
This is not really related to torchvision, closing it.

[2018-11-06 09:46] #650 closed

[2018-11-06 09:48] fmassa commented on #645
@gokriznastic ideally we would want to have not only the model implementation, but also the weights and the training code that was used (if different from `pytorch/examples/imagenet`).

This way, we have a reproducible way of obtaining the models.

I believe @tonylins will be adding support for MobileNetV2. All the others are open, so if you decide to take one, just let us know :-)

[2018-11-06 09:54] fmassa commented on #652
The arguments in the `ColorJitter` correspond to the ranges in which the values will be sampled, see https://github.com/pytorch/vision/blob/master/torchvision/transforms/transforms.py#L781-L811

If you want more fine-grained control over the color transformations, you can use the [functional interface as in here](https://github.com/pytorch/vision/blob/master/torchvision/transforms/transforms.py#L7

[2018-11-06 09:54] #652 closed

[2018-11-06 09:56] fmassa commented on #651
The error was due to the fact that ResNet used to expect a fixed-size input of `224x224`.
With https://github.com/pytorch/vision/pull/643, we now support arbitrary input-sizes for ResNet, so your error will disappear if you update torchvision by installing it from source.

[2018-11-06 09:56] #651 closed

[2018-11-06 10:01] fmassa commented on #648
Can you expand on why those values are not right? For InceptionV3, we converted the weights straight from TensorFlow, and they gave expected, see https://github.com/pytorch/vision/pull/101.

[2018-11-06 10:02] fmassa commented on #647
Can't you use matplotlib or something like that for generating the colors following a colorspace?

[2018-11-06 10:05] fmassa commented on #580
I just tried it and it works fine for me.

Could you try deleting the cache from `~/.torch/models`, update PyTorch and torchvision and try again?

[2018-11-06 10:08] fmassa commented on #638
@danielhauagge I mean that we can set the random seed in our datasets `__getitem__`, or via a custom transform.
For example
[code]

Does this solve your issue?

[2018-11-06 10:08] ypw-cortex commented on #648
I am doing some int8 fixed-point work. When I quantize other models, they kept the accuracy very good, but InceptionV3 could not give the expected results, because some running var is too small to calculate.

The range of  int8 is -128~127, but `model.Conv2d_2a_3x3.bn.running_var[11]` is 1.8647e-14, which means the equivalent weight of bn is very big. So the other values of 0 to 2 will be squeezed

[2018-11-06 13:41] jinfagang commented on #647
It can. but not such convenient whenever comes to the circumstances of visualize something such as detection box or tracking id box or segmentation mask etc.

[2018-11-06 14:44] fmassa commented on #647
I'll think about adding something like that in torchvision.
In the meantime, you could [use something like this](https://github.com/facebookresearch/maskrcnn-benchmark/blob/master/demo/predictor.py#L239-L245) to get the color for each class id.

[2018-11-07 04:50] praateekmahajan commented on #408
Similarly have this

[2018-11-07 21:34] hendrycks commented on #645
It might be worth adding DenseNet-BC to that list.

[2018-11-08 11:19] jinfagang commented on #392
@fmassa  Sorry for reopen this issue, if adding fast nms code into torchvision is not suitable for now. Then how to build a cpp extension though?

I just got some nms C and Cuda codes (I thought most people are sharing the same), question is how to adding it into python and integrate with torch? Here is what I got now:

[code]

Seems the ways is not correct beacuse it says:

[code]

[2018-11-08 23:43] danielhauagge commented on #638
If I understand correctly, in your example `FixSeed` is a generic transform class. Then what would happen is that, for every call, I'd get the same output. Shouldn't the call to `manual_seed` be in the constructor? If so, then I think this could work. I'm not sure how random number generation works in torch, but wouldn't you also need to hold a reference to a random number generator, to avoid havi

[2018-11-12 20:08] sotte commented on #615
Can we do anything to help out and speed up the process?

[2018-11-14 16:12] devforfu opened #660 "Unsupervised Images Dataset?"
How do you think, would it be reasonable to have an "unsupervised" mode for [`DatasetFolder`](https://github.com/pytorch/vision/blob/master/torchvision/datasets/folder.py#L54) class? Now it expects each image to sit in its own folder but sometimes I would like to just load a bunch of images from the unlabelled test set, like:
[code]

[2018-11-16 17:02] fmassa commented on #660
Hi,

I believe we can always create a folder with a single folder in it (for example via symlinks if we don't want to copy the data), which makes it possible to use `DatasetFolder` straight away.

Would that be a solution? It would return `(image, 0)`, which you can discard

[2018-11-18 19:14] isalirezag opened #662 "entropy of a tensor"
can we have feature enhancement that we can compute the entropy of a tensor, the similar way that we can do it for mean, std, etc?

[2018-11-19 08:17] jansenicus commented on #580
It is reproducible by running the examples 'FINETUNING TORCHVISION MODELS' provided  in the [pytorch tutorials](https://pytorch.org/tutorials/beginner/finetuning_torchvision_models_tutorial.html)
with the following version:
torch==0.4.1
torch.vision==0.2.1
the following warnings occured:
[code]

[2018-11-19 12:20] qiulesun commented on #631
Hi, the mainstream segmentation models, like EncNet (CVPR2018), PSPNet (CVPR2017) and Deeplab series will be added?

[2018-11-21 10:00] sebgao opened #666 "Details about how pretrained models are trained?"
Hi, would there be some details about how pretrained models are trained, especially for ResNet? Are they trained according to the original paper or not?

[2018-11-21 20:21] jctaillandier opened #667 "Transform.normalize with 1 channel inverts tensor shape"
I'm using DatasetFolder and I can train a model to recognize single channel, 100x100 images with no problem (black and white image). However if I add a transform.Normalize:

[code]
 Then the shape of the input tensor changes from [batch, 1, 100, 100] to [batch, 100, 1, 100] and I have no idea why.

[code]
returns
`  torch.Size([150, 100, 1, 100])`

Whereas without the transform.normalize, it outpu

[2018-11-23 08:20] gokriznastic opened #668 "[Error] transforms.Compose() throws peculiar AttributeError."
For the given code if I run the `2nd TRANSFORMATION PIPELINE` first in Jupyter Notebook I get no error but if I run the `1st TRANSFORMATION PIPELINE` and then go on to the second it throws an error `AttributeError: 'Compose' object has no attribute 'Compose'`

[code]
I have looked for the possible causes for this on Stack Overflow but there are no answers to this particular error; some similar err

[2018-11-23 09:44] fmassa commented on #668
The problem is that you are overwriting `transforms` in the 1st TRANSFORMATION PIPELINE.
You have
[code]
and that's where the problem is happening.

[2018-11-23 09:44] #668 closed

[2018-11-23 09:46] fmassa commented on #667
The size of your input tensor to `normalize` should be `CxHxW`, and it looks like you have an extra `batch` dimension, that shouldn't be there for the normalize transform.
Plus, none of the transforms that we have will work with batch images, they operate on single images, and the batching happens in the `DataLoader`.

[2018-11-23 09:46] #667 closed

[2018-11-23 09:48] fmassa commented on #666
Hey,

We are looking into adding more information (including the training scripts) for how the models were trained.

For resnets (and almost all other models in torchvision), they have been trained with the [`examples/imagenet`](https://github.com/pytorch/examples/tree/master/imagenet) implementation.

[2018-11-23 09:48] #666 closed

[2018-11-23 09:51] fmassa commented on #662
So you want a feature that normalizes the tensor by its entropy, is that right?
Or do you want a function that computes the entropy of a tensor?

[2018-11-23 10:04] fmassa commented on #660
Or a very basic implementation:
[code]

I think that the proposed solutions are simple enough, so that it might not be necessary to add one more level of complexity.

[2018-11-23 10:04] #660 closed

[2018-11-23 10:21] fmassa commented on #615
Hi @sotte

Sorry for the delay in replying, I was pretty busy with other projects.

Yes, having some help would be awesome!

I discussed with @soumith about this some time ago, and he mentioned that the best would be to have, for each model:
- the training file that was used (if different from examples/imagenet)
- the command-line arguments that were used to train

For most models, it all boils do

[2018-11-23 10:22] fmassa commented on #205
Another PR with pre-activation: https://github.com/pytorch/vision/pull/661

[2018-11-23 14:04] weisurya opened #669 "ImageFolder throws false error by loading from nested PATH"
**Environment**
OS: Windows 10 64-bit
torch: 0.4.1
torchvision: 0.2.1

**Code_1**
`
import torch
from torchvision import datasets, transforms

data_dir = "PetImages/Dog"

transform = transforms.Compose([transforms.Resize(255), transforms.CenterCrop(224), transforms.ToTensor()])

dataset = datasets.ImageFolder(root=data_dir, transform=transform)

dataloader = torch.utils.data.DataLoader(dataset, ba

[2018-11-23 15:39] fmassa commented on #669
You should put as a path to `data_dir` `PetImages`.

If you only want to have a single class even though `PetImages` have many folders, you can create a symlink pointing to the single folder you want.

[2018-11-23 15:39] #669 closed

[2018-11-26 13:45] isalirezag commented on #662
I would like  a tensor that compute the entropy of tensor. well, saying that, it is good if that function can compute the entropy in different ways, meaning that we can define a dimension and compute the entropy based on that, e.g. channel wise, etc
I think as soon as we can compute the entropy, normalizing it should not be too difficult, right?

[2018-11-26 17:33] soulslicer opened #670 "How to disable NCCL when compiling"
How does one actually do this.

Doing USE_NCCL=0 python setup.py install

does not work.

[2018-11-27 10:18] fmassa commented on #670
You don't need to compile anything in torchvision as of today, the codebase is purely in Python for now.

[2018-11-27 10:18] #670 closed

[2018-11-27 10:44] fmassa commented on #667
I just tried the following snippet and everything worked out as expected
[code]

[2018-11-27 12:10] fmassa commented on #662
I believe this would be more suited to maybe `pytorch/contrib`, as it is not really vision-specific. Can you maybe open an issue there?

[2018-11-27 12:10] #662 closed

[2018-11-27 12:12] fmassa commented on #392
@jinfagang the easiest to do for now is to ask the users to install `maskrcnn-benchmark`, and then you can just do
[code]

[2018-11-27 12:14] fmassa commented on #638
I'm not sure I follow: when do you want to fix the seed, once for the whole training?
In this case, can't you do that in the main script, and pass the `init_fn` to your dataloader?

[2018-11-27 12:17] fmassa commented on #81
@PantherYan this happens because of the way data loading is done.
Your pre-processing / loading is very slow, so I see two possibilities:
- make it faster by identifying the bottleneck in loading / processing
- increase the number of loader threads

[2018-11-27 14:39] isalirezag commented on #662
sure :)

[2018-12-04 15:51] mattans commented on #440
Hi @fmassa, was it released?

[2018-12-04 17:41] varunagrawal commented on #409
Fixed by #673

[2018-12-04 17:57] #409 closed

[2018-12-05 06:07] AdeelH opened #676 "Redundant code in to_tensor()"
The following code (lines 84-87) in the definition of `to_tensor()` ([link](https://github.com/pytorch/vision/blob/master/torchvision/transforms/functional.py#L84)) seems to first convert to HWC format and then immediately to CHW and that too using 2 calls to `transpose()` instead of calling `view()` or `reshape()`. Is there any reason for this?

[code]

[2018-12-05 15:14] JuanFMontesinos commented on #645
Hi there, I was wondering if you would be interested in a U-Net model. I've developed a very flexible version which allows variable depth, BN etcetera... I consider it's a very important model nowadays in audio and computer vision

[2018-12-05 20:11] fmassa commented on #645
Hi @JuanFMontesinos
Definitely! Is this a segmentation model or a classification model?

Because for now, all of the models are for classification tasks, but we would like to extend it to other tasks as well (but it will require some thought so that we have the proper training / evaluation scripts)

[2018-12-05 20:39] JuanFMontesinos commented on #645
@fmassa it was originally proposed as a segmentation architecture for biomedical applications.  It is basically an encoder decoder architecture with skip connections widely used  in blind sound source separation  when working with spectrograms of the sound. It is also the core of GANs like pix2pix which is an imagr-to-image translation network and many others. That's why I suggested to include it.

[2018-12-06 12:35] fmassa commented on #645
Hi @JuanFMontesinos ,

I see. We currently require all models in torchvision to have pre-trained weights, and ideally a code-base where we can train / evaluate on it.
This becomes specially important for some complex models, like detection, where the model alone is generally not enough to be able to use it, and requires a number of helper functions.

[2018-12-06 12:40] fmassa commented on #676
Hi,

There is a difference between doing `view().permute()` and `view()` alone, and that boils down to how the memory is represented.

Here is a simple example illustrating why the current way of doing can't be replaced by a single `view`

[code]
which gives (as expected) different results
[code]

[2018-12-06 12:40] #676 closed

[2018-12-06 12:48] fmassa commented on #440
@mattans yes, check it out in https://github.com/facebookresearch/maskrcnn-benchmark/

[2018-12-06 14:20] fmassa commented on #2
Fixed via https://github.com/pytorch/vision/pull/663

[2018-12-06 14:20] #2 closed

[2018-12-06 21:11] lemairecarl commented on #440
I'm closing this for now, since I have moved on to other projects. I might come back to it later.

[2018-12-07 14:58] hubutui opened #677 "Pad PIL.Image with P mode is broken."
It seems that torchvision don't consider PIL.Image mode 'P', see https://pillow.readthedocs.io/en/3.0.x/handbook/concepts.html#concept-modes. `torchvision.transforms.Pad` simply create numpy array from PIL.Image object and pad, and convert back to PIL.Image. And only RGB & grayscale image mode could be transformed properly.
`torchvision.transforms.Pad` on palette PIL.Image object give me wrong res

[2018-12-10 09:50] JuanFMontesinos commented on #645
@fmassa Hi, sorry for the late reply. Which task/dataset would you be interested in training U-Net for?

[2018-12-10 10:34] jatentaki opened #680 "ToTensor aliases input data and operations like Normalize work in-place"
`ToTensor` aliases input data and operations like `Normalize` work in-place, which leads to a nasty footgun when implementing one's own data loaders with the data residing in RAM - as training progresses, the dataset becomes more and more "normalized" which is difficult to debug. Also, the fact that the current implementation of `datasets.MNIST` doesn't display this behavior seems to depend on an

[2018-12-11 04:34] soumith commented on #680
we should make Normalize out of place by default

[2018-12-11 10:59] fmassa commented on #645
U-Net are usually used for segmentation, so I'd say maybe Pascal VOC segmentation task or Cityscapes? But there might be newer benchmarks out there that I'm not aware of

[2018-12-11 12:15] fmassa commented on #680
After `TensorIterator` was merged in PyTorch, an approach like https://github.com/pytorch/vision/pull/519 now is as efficient as the multiple for loops

[2018-12-11 13:56] guanfuchen commented on #645
@fmassa VOC and Cityscapes dataset is large, there is a smaller dataset CamVid consisting 701 labeled images, and if you use U-Net for better performance, I think using the original medical dataset is better. Here is a good project named [pytorch-semseg](https://github.com/meetshah1995/pytorch-semseg) for semantic segmentation reimplementing U-Net.

[2018-12-11 14:17] fmassa commented on #645
VOC and Cityscapes might be large, but there have been a number of publications using them, and they are widely used in the scientific literature. That's why I think providing pre-trained models for one of those tasks might be relevant.

[2018-12-13 08:44] JuanFMontesinos commented on #645
Sooo let me evaluate it after christmas to see which dataset would be better

[2018-12-13 10:37] fmassa commented on #677
Fixed via https://github.com/pytorch/vision/pull/683

[2018-12-13 10:37] #677 closed

[2018-12-13 11:04] themightyoarfish opened #684 "LinearTransformation doc in the wrong place"
`LinearTransformation` expects a Tensor and returns one, so it should be moved to the section with Tensor transforms and out of the one for PIL transforms.

[2018-12-13 11:06] themightyoarfish commented on #684
For some reason I cannot edit the issue; I now see it actually works on PIL images instead of tensors, so its just the documentation that's wrong.

[2018-12-13 17:47] soumith commented on #684
closed via #685

[2018-12-13 17:47] #684 closed

[2018-12-15 14:57] Kulikovpavel commented on #321
Can you add NASNet medium?
According to this, it is best accuracy/complexity network

![image3](https://user-images.githubusercontent.com/1457767/50044311-e0e77080-0092-11e9-826a-76d3cebcaf2c.jpg)

[2018-12-17 15:13] ArtjomUEA opened #689 "TypeError: can't pickle Environment objects when num_workers > 0 for LSUN"
The program fails to create an iterator for a DataLoader object when the used dataset is LSUN and the amount of workers is greater than zero. I do not have such an error when work with other datasets. Something tells me that the issue might be caused by lmdb. I run on Windows 10, CUDA 10.

Code:
[code]
Error:
[code]

[2018-12-17 16:33] fmassa commented on #689
This seems to be a Windows-specific issue.
But note that even if we address this particular issue (I have no idea how to do it though), you would probably hit another issue further on, which is https://github.com/pytorch/vision/issues/619

[2018-12-17 19:13] fmassa commented on #321
Sure, NasNet (medium) sounds like a good addition as well

[2018-12-17 22:05] lara-hdr opened #690 "Squeezenet model ONNX export"
Hi,
I have some questions regarding the squeeznet model.

I failed at exporting the model to ONNX with the following error "ONNX export failed : Couldn't export operator aten:max_pool2d_with_indices".
I noticed that in /torch/onnx/symbolic.py , the use of "ceil_mode" is not supported in max_pool2d_with_indices.
After setting "ceil_mode" to False for all occurrences of "MaxPool2d", the export succe

[2018-12-18 00:50] Cadene commented on #321
@Kulikovpavel Hi, did you see any available pretrained model for NASNet medium somewhere? Did not find any in [tensorflow/slim directory](https://github.com/tensorflow/models/tree/master/research/slim/nets/nasnet) :/

[2018-12-18 09:28] mlinxiang opened #691 "does the densenet support gpu memory effecient implement?"
the densenet team give a efficent implement <https://github.com/gpleiss/efficient_densenet_pytorch/blob/master/models/densenet.py>
does torchvision merge that and offer pretrained model ?

[2018-12-18 12:16] fmassa commented on #691
The efficient implementation from the repo you pointed out should not be difficult to implement: from what I understand, it basically [uses `torch.utils.checkpoint`](https://github.com/gpleiss/efficient_densenet_pytorch/blob/master/models/densenet.py#L38) in the `DenseLayer`. This means that it could probably be added as an extra option, while keeping everything backwards-compatible I'd believe.

[2018-12-18 21:09] sanweiliti opened #694 "different training loss between torchvision model loaded directly and downloaded model loaded"
Hi, I want to use pretrained resnet50 weights provided by torchvision (pytorch 0.4.1) for my model (called `fcrn`) which consists of a resnet50 (except the average pooling and fc layer) and an additional up-sampling decoder. I tried two different ways to load the pretrained resnet50 weights, and set the random seed to the same value, but got different training loss, anyone know why? (Since the ran

[2018-12-19 02:17] fermat97 commented on #372
I have modified the resnet18 for binary classification as:
`model = torchvision.models.resnet18()
 model.conv1 = nn.Conv2d(num_input_channel, 64, kernel_size=7, stride=2, padding=3,bias=False)
 model.avgpool = nn.AdaptiveAvgPool2d(1)
 model.fc = nn.Linear(512 * torchvision.models.resnet.BasicBlock.expansion,2)`

and I have tried this with `nn.CrossEntropyLoss()`. I think there is a problem with th

[2018-12-19 23:08] lsqshr opened #696 "AdaptiveAvgPool2d in resnet not working with small images eg.64x64"
When I try to forward a tensor of size Bx3x64x64 through `resnet.ResNet(...)`,
at `x = self.avgpool(x)`
it complains
[code]
which does not make sense.

I found that the errors were gone if the AdaptivePool2d is intialized as
`self.avgpool = nn.AdaptiveAvgPool2d(1)` instead of `self.avgpool = nn.AdaptiveAvgPool2d((1, 1))`

It might be a bug in `nn.AdaptiveAvgPool2d`

[2018-12-21 12:00] fmassa commented on #696
This is very weird, because the error message that you have is from `AvgPool2d`. Maybe you have an older version of torchvision that doesn't have the `nn.AdaptiveAvgPool2d` improvement?

[2018-12-21 12:36] fmassa commented on #694
The difference in training loss is expected.

Even if you set the same random seed everywhere (including in the dataloader workers), some of the algorithms that we use are non-deterministic.

You could try setting `torch.backends.cudnn.deterministic = True`, but it will make the code slower, and other parts of the codebase can also have non-deterministic implementations.

[2018-12-21 12:36] #694 closed

[2018-12-21 12:43] fmassa commented on #690
Hi,

About your questions:

1 - I believe SqueezeNet was originally developed in Caffe, for which the implementation of `MaxPool2d` only supports `ceil_mode=True`. If we change it to `True`, it would most certainly crash if we were not using `AdaptiveAvgPool2d` in the end, and now that we are using it, we might still obtain different results (but I'm not sure by how much).
2 - Dropout behaves diff

[2018-12-21 12:46] fmassa commented on #580
The user-warning is normal and has been fixed in torchvision master, but did you encounter the error again?

[2018-12-23 05:19] githubssd commented on #696
I think you should update the torchvision version and see if the issue is solved.

[2018-12-25 08:06] yaodonggggggg opened #701 "how can the code 'for _ in range(1, blocks)' work?"
i'm new to CNN
in the vision/torchvision/models/resnet.py, line 144.
but the blocks' type is class,can you explain how can this code work?thank you

[2018-12-25 13:33] fmassa commented on #701
Note that `blocks` in
https://github.com/facebookresearch/maskrcnn-benchmark/pull/69/files#diff-994ea1c02fd7e675924e1add66561d27
is actually a number, the result of `layers[0]` etc in
https://github.com/pytorch/vision/blob/71182bc1ea27652f9952f6d60d8b27e408fc940e/torchvision/models/resnet.py#L109
So the range works as expected.

[2018-12-25 13:33] #701 closed

[2018-12-31 03:13] vishwakftw commented on #680
This can be closed now, since #699 has been merged.

[2018-12-31 03:48] #680 closed

[2019-01-02 04:06] surgan12 commented on #618
@fmassa what do u think about the proposed solution ?

[2019-01-03 17:01] lsqshr commented on #696
Just confirmed the bug on a clean conda environment with Python 3.6.8, Ubuntu18.04, cuda9.1

outputs of `pip freeze | grep torch`
[code]

To reproduce,
[code]

Output log on my side:
[code]

It is should be caused by a bug in `SpatialAveragePooling.cu`. But the simple fix in https://github.com/pytorch/vision/pull/697 should work it around for torchvision.

[2019-01-03 21:01] shaibagon opened #705 "functional to_tensor - permute instead of two tranposes"
in the function [`to_tensor(pic)`][1], the loaded pic is transposed from H-W-C to C-H-W, which takes most of the running time.

My question:
Wouldn't it be a bit more efficient to call `img.permute(0, 1, 2)` instead of calling `transpose` twice?

 [1]: https://github.com/pytorch/vision/blob/master/torchvision/transforms/functional.py#L90

[2019-01-03 21:08] dakjin opened #706 "a small bug in resnet model _make_layer() implementation"
Hi guys,

I think there is a small bug in the "_make_layer(self, block, planes, blocks, stride=1)" function (in charge of generating residual blocks at certain resolution) in the ResNet model.  This function will just simply discard the odd number of rows and columns in the feature maps in the identity path of a residual block when the stride=2 (the case where feature maps get downsampled by 2).

[2019-01-04 05:34] IlSLY opened #707 "torchvision.datasets.ImageFolder"
**Environment:**
 macOS Mojave
torchvision 0.2.1
pytorch 1.0.0
python  3.6.7

my problem shows as following:

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/anaconda3/lib/python3.6/site-packages/torchvision/datasets/folder.py", line 178, in __init__
    target_transform=target_transform)
  File "/anaconda3/lib/python3.6/site-packages/torchvision/datasets/folder.p

[2019-01-04 13:42] surgan12 commented on #705
@shaibagon thanks for pointing that out ,
But I ran some tests with

npimg = np.transpose(pic.numpy(), (1, 2, 0))
and
npimg = pic.permute(1, 2, 0).numpy()

and found out that the current implementation is faster .

[2019-01-05 11:07] timonbimon opened #708 "New release?"
Hi there, thanks for the awesome work, I use torchvision a lot :)

Was just wondering if there are any plans to make a new release and push it to PyPi soon?
It's been 8 months since the last one and I feel like there have been quite a few improvements on the master branch.

Cheers!

[2019-01-05 11:12] timonbimon commented on #696
i think torchvision==0.2.1 does not have the AdaptiveAvgPool2d layer yet...

[2019-01-05 12:40] hubutui commented on #708
Yeah, and there are a lot of new models, any plan pretrained models?

[2019-01-05 12:42] hubutui commented on #707
check file extension, and https://discuss.pytorch.org/ is a better place for discussion.

[2019-01-07 16:50] lara-hdr commented on #690
Hey @fmassa,

1- To check if I understood well, now that AdaptiveAvgPool2d is used, it would be ok to set ceil_mode=False.

If the above statement is correct, here is the PR with modifications from 1- and 2- that will allow exporting the model in ONNX : https://github.com/pytorch/vision/pull/709

[2019-01-08 12:09] fmassa commented on #696
@timonbimon is right, the latest torchvision version available doesn't have `AdaptiveAvgPool2d`.

We will be cutting a new release soon, which will have this fix.

[2019-01-08 12:09] #696 closed

[2019-01-08 12:10] fmassa commented on #708
Hi,

Yes, we will be cutting a new release soon, it's been a while!

@varunagrawal I'm thinking about making the `layers` be part of `0.3`, which would be the next release of torchvision.

[2019-01-08 12:12] fmassa commented on #705
Hi,

Given that `transpose` is just changing metadata (sizes and strides), it is very fast and should not affect performance significantly.
But I wouldn't mind merging a PR that uses `permute` instead of transpose.

[2019-01-08 12:12] #705 closed

[2019-01-08 12:15] shaibagon commented on #705
@surgan12  Thank you for your response and check!

@fmassa in terms of "code readability" I think a single `permute` is better than two `transpose`. However, if as @surgan12 reported `transpose` is faster, then I don't feel a change is justified.

Thank you for reviewing my question.

[2019-01-08 12:23] fmassa commented on #706
Hi,

Can you expand on what you think the problem is, and what would be a solution? I'm not sure I completely followed your question.

[2019-01-08 12:43] surgan12 opened #710 "to_pil_image gives error for PIL image"
Is this intended or a bug
CC: @fmassa

[2019-01-08 13:30] Oktai15 commented on #708
@fmassa oh, it means that `layers` branch will be merged into master in nearest release?

It would be really great for any object detection task! Will wait :)

[2019-01-08 13:49] fmassa commented on #708
Yes, we plan on having other domains as well outside of image classification for 0.3.

[2019-01-08 15:07] TheCodez commented on #708
It would be nice if the GPU version of `NMS` from [maskrcnn-benchmark](https://github.com/facebookresearch/maskrcnn-benchmark/blob/master/maskrcnn_benchmark/csrc/cuda/nms.cu) gets added as well.

[2019-01-08 19:51] Oktai15 commented on #708
@TheCodez `nms` is already in `layers', isn't it?

[2019-01-08 19:54] TheCodez commented on #708
@Oktai15 only the CPU version is, the GPU version is not implemented yet.

[2019-01-09 07:23] surgan12 opened #712 "[feature proposal] Adding Gaussian Noise Augmentation to Transforms"
cc: @fmassa

[2019-01-09 11:35] githubssd commented on #691
I haven't tested it out on pytorch 1.0, but if you want to implement then I think @fmassa told everything.

[2019-01-09 12:57] fmassa commented on #708
There is a CUDA implementation of `nms` in `maskrcnn-benchmark` that I plan to add to torchvision as well.

[2019-01-09 12:58] fmassa commented on #712
Hi,

Does this mean adding a gaussian noise to the image, like `x + torch.randn_like(x)`?

[2019-01-09 12:59] surgan12 commented on #712
yep !! @fmassa

[2019-01-09 13:11] fmassa commented on #712
Let me think a bit more about this, as this can be achieved in a one-lines with `LambdaTransform`.

[2019-01-09 13:15] surgan12 commented on #712
Yeah this can be done using lambda transforms, like
``i = torch.zeros(bs,channels, dim1, dim2).data.normal_(mean, std)
But to make things more easy for users , i thought it is good to add this as a part of primitive transforms.

[2019-01-09 14:26] avinassh opened #713 "[Request] Provide class names for imagenet models"
I want to send a PR, with class labels for ImageNet models.

### Why

Currently we get the class index output as the prediction, but a human readable string would be nice. Keras provides a [method](https://github.com/keras-team/keras-applications/blob/master/keras_applications/imagenet_utils.py#L198) called `decode_predictions` which provides the string value. Internally this method uses [this fil

[2019-01-10 07:07] JieAI opened #714 "wrong label order when reading images from folders using 'ImageFolder' and can't get correct labels"
When I try to load images from folders using datasets.ImagesFolder(), i find the lables' order is not correct as shown in the folder. For example, I have different kinds of images in folders named from 1 to 100, if I use above function to read images and get corresponding labels, of course I will get the images and labels, but the labels for images will become 1, 10, 100, 11, 12, 13 which is not r

[2019-01-11 12:55] fmassa commented on #714
The label names are sorted as strings.
This means that `['1', '10', '2']` is the correct sorting order according to Python.
You should instead use `class_to_idx` and `classes` to go back and forth between the two representations.

[2019-01-11 12:55] #714 closed

[2019-01-14 13:16] surgan12 commented on #712
@fmassa what's your take should we do this ?

[2019-01-17 02:11] cuixing158 commented on #48
as @alykhantejani said ,another way to get the same effect is using numpy to convert,
assume your image is opencv format,
`img_tensor = cv_img[:,:,::-1].transpose((2,0,1)).copy()`  # c*h*w, RGB order,[0,255]
`img_tensor = torch.from_numpy(img_tensor).float().div(255) ` # c*h*w , FloatTensor type,[0,1]
`img_tensor = img_tensor.unsqueeze(0) ` # n*c*h*w

[2019-01-17 05:39] zengxianyu opened #716 "network will not be initialized as expected"
``for m in self.modules()" will not loop over basic layers such as Linear or convolution layers, therefore, the networks (e.g., vgg, resnet, densenet) will never be intialized as expected.

For example, in L116-L118 of resnet.py, the ``nn.init.kaiming_normal_(m.weight, mode='fan_out', nonlinearity='relu')" will never be excuted since m is not an instance of nn.Conv2d

[2019-01-17 11:01] vjayd opened #717 "Torchvision appears to be corrupted while uninstalling."
**File "/home/vijay/anaconda3/lib/python3.7/site-packages/torchvision/transforms/transforms.py", line 1
    cfrom __future__ import division
                   ^
SyntaxError: invalid syntax**

Getting syntax error while running the file and when i try to uninstall the torchvision and reinstall i  get the error  as
**SafetyError: The package for torchvision located at /home/vijay/anaconda3/pkgs/tor

[2019-01-17 11:06] fmassa commented on #717
I have just installed torchvision in a clean environment, and it worked fine.

Can you paste the commands that you executed?

[2019-01-18 19:22] seanremy commented on #477
It would be wonderful if the (working) ROI Pooling code in the layers branch could be updated and merged into torchvision. I think I speak for myself and many other vision researchers in that this is an essential functionality, and having it supported in the current torchvision is far less of a hassle than continuing to build this repo from source using an outdated branch.

[2019-01-18 19:30] varunagrawal commented on #713
This seems too specific given that it is only applicable to ImageNet. Something that works across datasets would be nice.

More importantly, this should be inside `torchvision.datasets`, ideally in a file `imagenet.py` that also has the dataloader for ImageNet.

[2019-01-18 19:37] varunagrawal commented on #477
Check out #708
@fmassa plans to merge `layers` for v3. Let's hope the next release is pushed out soon.

[2019-01-18 19:38] varunagrawal commented on #708
@fmassa I can add the GPU `nms` over the weekend. In the meantime, can we work out a plan for the new release? Right now, the timelines seem kind of vague and that seems to be rustling feathers.

[2019-01-19 02:56] avinassh commented on #713
Indeed. But how? We can add to those datasets which are provided by the torchvision

but torchvision doesn't ship with an imagenet dataset. we only have pretrained models.

[2019-01-20 17:01] pkdogcom opened #720 "Reshape/View as a module?"
I was wondering if there is module which performs reshape/view so that it can be added to nn.Sequential just as other modules like Conv2d or Linear. The reason I want this feature rather than simply performing torch.reshape or tensor.view is that I can make the reshape/view a configurable plugin (especially when combined with global pooling which can be switched on and off) in my model.

[2019-01-20 18:40] fmassa commented on #713
I think it would be valuable to have the imagenet synsets/ class names available somewhere, but I'm not yet sure where to put it.

One option is to have the information available with the pre-trained weights, but I'd need to see how that would fit the overall story

[2019-01-21 04:20] avinassh commented on #713
@fmassa how about we put them under [`models`](https://github.com/pytorch/vision/tree/master/torchvision/models)? and can be imported like:

[code]

PS: your DP is awesome!

[2019-01-21 04:35] varunagrawal commented on #713
That wouldn't be a good idea since Imagenet labels are not a model. It wouldn't make semantic sense.

To elaborate on my earlier suggestion, we should have a dataloader for Imagenet specifically which should have this information in it. We can also provide a function that maps from id to synset/label.

Since we already have a loader based on ImageFolder, this should serve as syntactic sugar.

[2019-01-21 23:44] varunagrawal commented on #720
You can easily define your own module:

[code]

Just plug that into sequential now.

[2019-01-21 23:48] varunagrawal commented on #713
@avinassh similar to how we have `torchvision.datasets.cifar`, we need a `torchvision.datasets.imagenet`. The `Dataset` class in that file should load up ImageNet similar to how it is done in the Pytorch tutorials, but it can also have a class variable `challenge_labels` which is a list of the 1000 category labels used in the ILSVRC. The index of the list would give us the class name.

I believe t

[2019-01-21 23:50] varunagrawal commented on #707
Your error is here: `RuntimeError: Found 0 files in subfolders of: /Users/administer/Desktop/D-HAZY_DATASET1/Middlebury_Hazy`

That directory seems to be empty. Can you double check to make sure? This seems to be a valid bug.

[2019-01-22 06:46] avinassh commented on #713
This is quite elegant, I like this too. But I have some questions:

1. How common it is to provide imagenet dataset? I saw that other lib's don't do this at all. Imagenet is about 140GB of download and 300GB disk space when unzipped. If people rarely download, would it be still valuable to adding to torchvision?

2. Imagenet requires login and user credentials for downloading the dataset. There is

[2019-01-22 14:13] devTeaa opened #722 "Modifying densenet weight during transfer learning"
The code on densenet model is copying all weight instead of just the required one when someone tries to do transfer learning and intending to adjust how many layers to freeze, I've found the solution which looks a bit hacks and it ran after loading the model, I've submitted a PR #721  that just allow future work to just modify it however they want without searching or debugging it, it's also throw

[2019-01-22 14:59] varunagrawal commented on #713
You misunderstood. The user would already have the dataset downloaded and would point the Dataset class to the location on disk to read from. This is exactly like the ImageFolder implementation except with some extra convenience built on top.

[2019-01-22 15:45] varunagrawal commented on #713
Take a look at the example for training on CIFAR10. We define 2 dataset objects, one pointing to train and the other one pointing to val. Thus having a train flag is unnecessary.

For the case of not interested in training, the user would provide a path to an empty folder. The ImageFolder class would then return 0 images. This is built into the ImageFolder dataset. Again, I highly recommend going

[2019-01-22 15:49] avinassh commented on #713
Thank you, I shall do that and send you a PR.

[2019-01-22 16:13] fmassa commented on #713
I think having an `ImageNet` dataset is a good approach.

I also think that the current way we ship models only assumes that they are from ImageNet (for the pre-trained weights). Once we add new tasks (detection, segmentation), this will not hold anymore, so a better way of making it explicit is required.
That's why I thought to add it to the pre-trained weights itself, but there might be other wa

[2019-01-22 16:19] fmassa commented on #720
I believe we won't be adding support in `nn` for `View`, see https://github.com/pytorch/pytorch/issues/2486
But it's fairly straightforward to create your own module for it.

[2019-01-22 16:19] #720 closed

[2019-01-22 16:23] fmassa commented on #707
As the others have said, your dataset is empty and the error is raised in
https://github.com/pytorch/vision/blob/98ca260bc834ec94a8143e4b5cfe9516b0b951a2/torchvision/datasets/folder.py#L86-L87

I'd say that it's better to raise an error in this case than to silently pass (and have unexpected behavior), thus I'm closing this issue but let me know if you disagree

[2019-01-22 16:23] #707 closed

[2019-01-22 22:07] varunagrawal commented on #713
This would be a good time to use [python enums](https://docs.python.org/3.5/library/enum.html)!

[2019-01-23 20:46] ShahriarSS opened #723 "Inconsistency in inception"
## 🐛 Bug

Hi
I was going through the torchvision code to implement c++ API and I noticed an inconsistency.

In line 298 of inception.py stddev of a class of type BasicConv2d is set to 0.01:

[code]

But in line 60 it checks if it's conv2d or linear which a BasicConv2d is none:

[code]

I put this code inside the previous if statement:

[code]

and it only printed:

[code]

so convs inside conv1 Ba

[2019-01-25 23:21] varunagrawal commented on #708
@fmassa @TheCodez GPU version of NMS has been added to layers via #727

[2019-01-29 03:16] Jouy commented on #385
try this .
https://github.com/python-pillow/Pillow/issues/3438

[2019-01-29 06:40] abdur4373 commented on #307
Hi @alykhantejani

I am using `save_image(out_norm_img.data, "output_image.jpg", padding=0)` but i am getting this error:
grid.narrow(1, y*height+1+padding//2,height-padding)\
RuntimeError: start (1) + length (128) exceeds dimension size (128).
Any help please.

[2019-01-29 21:50] Spandan-Madan opened #729 "Incorrect naming in layers of resnet"
In the resnet block, the downsample conv layer is not really the one doing downsampling. It's the conv1 doing the downsampling. Not sure if it can be corrected, but at least a comment can be added maybe?

[2019-01-30 11:13] fmassa commented on #729
Hi,

Thanks for the heads up. Yes, that's true that it does not always perform a downsample, but only in the first group of a block. That's why we have renamed it `identity` instead of `residual` in https://github.com/pytorch/vision/pull/679

I'm afraid renaming `downsampling` would be a too big breaking change, but a comment explaining it would be great!

[2019-01-31 00:31] hmaarrfk opened #731 "is tqdm a true dependency?"
https://github.com/pytorch/vision/blob/1f8f7ea71c8807408a7860b8ae9ca63177975b64/setup.py#L49

Your conda package doesn't seem to list it in the meta file. Is it absolutely necessary for tqdm to be installed to run the desired functionaly we need from torchvision?

I ask because python 2.7 has a strange pinning.

[2019-01-31 00:44] Spandan-Madan commented on #729
@fmassa Agreed, renaming would break a lot of code. Adding comment makes a lot of sense. Should I add a comment and create a PR? Or would this be handled by the pytorch team internally?

Best,
Spandan

[2019-02-04 02:31] setuc opened #732 "Pre-trained models"
As part of my book, I will also be training various networks on imagenet data set. Is there a specific priority on which networks are needed? With limited resources at my disposal, I want to make sure that I am able to contribute to the pytorch framework as well. Here is my list:
1. MobileNet
2. Squeezenet
3. Inception v4.

[2019-02-04 06:00] IgorKasianenko commented on #645
@setuc I would really appreciate training ShuffleNet. This is small model so I assume it will take least time to start with it.
Sincerely yours
Igor

[2019-02-04 17:36] Oktai15 commented on #595
Can we close this issue, @fmassa?

[2019-02-04 21:07] #595 closed

[2019-02-05 14:33] hmaarrfk commented on #731
cool, ok. I've been packaging pytorch-cpu for conda-forge and I wanted to double check on this dependency.

[2019-02-05 14:33] #731 closed

[2019-02-06 13:34] harshsha5 opened #733 "Error when loading pretrained VGG16"
I'm running the following lines as of now:

import pretrainedmodels

model_name = 'vgg16'
model = pretrainedmodels._dict_[model_name](num_classes=1000, pretrained='imagenet')
model.eval()

Getting the following error:

Traceback (most recent call last):
  File "custom.py", line 7, in <module>
    model = pretrainedmodels._dict_[model_name](num_classes=1000, pretrained='imagenet')
AttributeError: m

[2019-02-06 13:49] #733 closed

[2019-02-06 19:19] YotamNitzan opened #734 "setup.py install failing for layers branch"
Hi,
Trying to install the layers branch from source, in order to use the ROI* features, but installation fails.
(Working on Windows 10 without GPU)

The install script can't find the cuda installation path which I guess is fair since it's not installed. However, I understand torchvision is available for CPU machines and the installing master branch from source does succeed.

Any help will be appre

[2019-02-07 11:19] rcourivaud opened #735 "Make Dataset Folder compatible with WEBP images"

[2019-02-07 15:42] Froskekongen commented on #615
@fmassa: If you can provide the actual scripts used, it would be easier to refactor into components/scripts suitable for the torchvision repo.

[2019-02-08 20:27] bjuncek commented on #735
It seems like webp is [supported in PIL ](https://pillow.readthedocs.io/en/5.1.x/handbook/image-file-formats.html#webp), does the PIL loader not work with it?

[2019-02-10 16:40] isalirezag opened #737 "deformable convolution?"
Does pytorch have any plan to add deformable convolution to its library? so researchers who use pytorch can compete with state of the art methods that use deformable convolution as their baseline?

[2019-02-10 16:43] #737 closed

[2019-02-11 10:25] fmassa commented on #723
Hi,

Sorry for the delay in replying.

I believe this is an error.

Also, the way of initializing the weights in `inception` is pretty weird, and I believe it would be better to initialize everything in the corresponding modules.

[2019-02-11 13:44] fmassa commented on #735
@bjuncek we just needed to add it to the list of supported formats.
This has been fixed via #736

[2019-02-11 13:44] #735 closed

[2019-02-11 13:45] fmassa commented on #734
Hi,

I'd recommend for now [installing `maskrcnn-benchmark`](https://github.com/facebookresearch/maskrcnn-benchmark/), which contains all the layers in the `layers` branch here, but are a bit more maintained.

We will be making C++ layers a first-class citizen in torchvision with its next major release.

[2019-02-11 13:45] #734 closed

[2019-02-11 13:50] fmassa commented on #615
@Froskekongen for now, most of the trainings have been done with a variant of https://github.com/pytorch/examples/blob/master/imagenet/main.py

[2019-02-11 13:58] fmassa commented on #645
Hi @setuc
Sorry for the delay in replying.

I'd say that you can pick whichever you'd prefer, but maybe ShuffleNet would be indeed easier because it's a small model.

I think Inception V4 might be quite hard to get to the reported accuracies, so maybe just ShuffletNet would be a great start already!

[2019-02-11 13:59] fmassa commented on #729
@Spandan-Madan sure, you can send a PR adding the comments, it would be great, thanks!

[2019-02-13 04:21] LIMr1209 opened #740 "core dump"
``python
from io import BytesIO
from torchvision import transforms as T
import requests
from PIL import Image
import numpy as np

normalize = T.Normalize(mean=[0.485, 0.456, 0.406],
                        std=[0.229, 0.224, 0.225])

def data_handle():
    transforms = T.Compose([
        T.Resize(224),
        T.CenterCrop(224),
    ])
    return transforms

def image_loader(url=None, image=None)

[2019-02-13 04:21] LIMr1209 commented on #740
执行到 normalize(img1_tensor) 或者 normalize(img_tensor)  coredump

[2019-02-13 05:14] dimrecon opened #741 "for RGBA images"
what modifications are to be done in the code for training with RGBA (4 channel ) images. Does the inchannels to be changed from 3 to 4 and the number of classes? Kindly help

[2019-02-13 11:06] surgan12 commented on #741
Can you be more specific in the problem you are facing .

[2019-02-13 11:21] dimrecon commented on #741
ya... my input images are of RGBA format and want to classify this using resnet50 . if i try with pretrained resnet50, wont it consider only the first 3 channels as it was previously trained with RGB images only. so i trained with resnet50 from scratch and changed the no of filters to 4 from 3 and no of classes according to my data. But how can i make this changes when i call resnet from torchvisi

[2019-02-13 11:30] surgan12 commented on #741
https://github.com/pytorch/vision/blob/ee5b4e82fe25bd4a0f0ab22ccdbcfc3de1b3b265/torchvision/models/resnet.py#L104
Refer to this line .
You can copy the architecture and put num_channels as 4 .

[2019-02-13 11:43] dimrecon commented on #741
ya.. i did that and started training a few hrs back but my doubt is if i
want to use a pretrained version , where i have to change?

On Wed, Feb 13, 2019 at 3:30 AM surgan12 <notifications@github.com> wrote:

[2019-02-13 12:41] fmassa commented on #740
Hi,

We don't have any C++ code in torchvision at the moment, so the coredump should come frmo a different library. Debugging with GPU or identifying precisely which line gives the core dump would be very helpful in debugging.

I'm closing this for now, but if you have a precise line where the dump happens (and it is inside torchvision) please feel free to re-open the issue.

Thanks!

[2019-02-13 12:41] #740 closed

[2019-02-13 12:51] fmassa commented on #741
If you want to use a pre-trained version, you'll need to do some model surgery.
For example, by doing something like
[code]

and you should choose the way you'd fill the extra lines of the code.

I'm closing the issue, but let me know if you have further questions

[2019-02-13 12:51] #741 closed

[2019-02-13 13:28] fmassa commented on #713
Python enums is a good idea, but we need a separate package to support python2 I believe, so I'd rather not use it for now

[2019-02-13 13:35] fmassa commented on #722
Hi,

As I discussed in #721, I think that it's best to keep it like that for now, and let the users write their own function if they want only parts of the model to be loaded.

I'm closing this issue, but let me know if you disagree

[2019-02-13 13:35] #722 closed

[2019-02-13 15:44] avinassh commented on #713
I just wanted to post an update that I am still on this issue and I will do this over the weekend. Had really crazy work days 😰

[2019-02-13 16:04] fmassa commented on #544
This has been fixed since version 4.29.0 of tqdm https://github.com/tqdm/tqdm/releases

[2019-02-13 16:04] #544 closed

[2019-02-15 12:39] MrPositron commented on #2
hey! @fmassa ,
I am using pascal voc 2007 det dataset.
and there is an error occuring when i am using to load them in batches.
i found that error occurs when i am trying to merge dicts of annotations of different size.

do you know how to handle it?
for dataset i am using official implementation (from ver 1.0.1)
and i am using usual dataloader

[2019-02-15 13:27] fmassa commented on #2
@MrPositron you need to have a custom `collate_fn` in the DataLoader that pads the image before merging, so that the images have the same size. Check how it's done in `maskrcnn-benchmark`: here [is the `collate_fn`](https://github.com/facebookresearch/maskrcnn-benchmark/blob/master/maskrcnn_benchmark/data/collate_batch.py), and the padding happens in [here](https://github.com/facebookresearch/mask

[2019-02-15 15:28] MrPositron commented on #2
the problem is that all images by default are resized to 224*224, and the problem is that it (dataloader from torch.utils) merges dictionaries from targets in a batch. so i don't know exactly how to avoid that

[2019-02-16 09:32] setuc commented on #645
One more question @fmassa There are supposedly different version of Imagenet. I am currently using the one from Kaggle. I hope that should be sufficient. I have downloaded the images and plan to start the runs over the weekend.

[2019-02-16 20:08] hendrycks commented on #645
Nearly everyone else is using ImageNet 2012 data, and most papers use that for comparisons.

[2019-02-17 00:19] stas00 commented on #708
Another vote for new release, currently getting:
[code]
which is fixed in master. Please and thank you!

[2019-02-17 10:37] setuc commented on #645
@hendrycks i guess i was mistaken...the 2015 dataset is the same as that of 2012. I have started the runs and will do some validations before i share the results. I guess another 24 - 48 hours to completion.

[2019-02-18 08:47] dimrecon commented on #741
hi,

i changed the no of channels in init function of resnet and trained with pretrained = false and the model got saved. Training and validation works here. But when it comes to testing am facing errors here:

RuntimeError: Error(s) in loading state_dict for ResNet:
	size mismatch for conv1.weight: copying a param with shape torch.Size([64, 3, 7, 7]) from checkpoint, the shape in current model is

[2019-02-18 08:48] dimrecon commented on #741
for phase in ['test']:
    print("model")
    model = models.resnet50(pretrained=False)
    model.load_state_dict(torch.load('resnet50_4c.pt'))
    model.eval()

[2019-02-18 10:00] dimrecon commented on #741
Cud u pls help urgently

[2019-02-18 10:02] dimrecon opened #751 "this is with reference to the closed session 741#"
hi,

i changed the no of channels in init function of resnet and trained with pretrained = false and the model got saved. Training and validation works here. But when it comes to testing am facing errors here:

RuntimeError: Error(s) in loading state_dict for ResNet:
size mismatch for conv1.weight: copying a param with shape torch.Size([64, 3, 7, 7]) from checkpoint, the shape in current model is

[2019-02-18 10:22] fmassa commented on #708
@stas00 sure! I'm writing the release notes for the new release, sorry for the delay!

[2019-02-18 10:33] fmassa commented on #645
@setuc cool! Let me know how it goes, and which training script / hyperparameters you used to train it

[2019-02-18 13:54] setuc commented on #645
@fmassa I have used the training script from here https://github.com/pytorch/examples/tree/master/imagenet) as it was mentioned in the requirements in the top post. Unless we are free to play around with the learning rates (Cyclical learning rate etc).

I am unable to reproduce the results for the network (Error 34.5% vs mine 39.811%) from the paper for 3 groups and no shuffle.
My results are Acc@

[2019-02-18 16:00] fmassa commented on #645
@setuc thanks for getting back to me with the results.

I believe we might need to adapt the learning rate / etc in order to reproduce the results for many of those papers.

If you change those, let me know which changes you did, so that we can keep track of all of it and so that I can summarize it afterwards

[2019-02-18 16:03] #618 closed

[2019-02-18 16:18] fmassa commented on #751
Your checkpoint is not aligned with the model.

Without knowing exactly what were all the changes you did, difficult to say where the problem is. Did you use `nn.Parameter`?

[2019-02-18 16:19] fmassa commented on #741
@dimrecon I replied in #751

Also, in those cases, you might be better asking in the forums

[2019-02-18 16:20] fmassa commented on #751
If you trained your model with `pretrained=False`, then you might be loading the wrong checkpoint, as from the error message it has 3 channels instead of 4.

[2019-02-19 12:45] zhiyong1997 opened #752 "A small question about the default value of RandomResizedCrop"
The default value of the "scale" parameter ranges from (0.08, 1.0). Should it be (0.8, 1.0)? I can hardly imagine 8% of an image can be used for training.

[2019-02-19 12:55] TheCodez commented on #752
From the paper [Going deeper with convolutions](https://arxiv.org/pdf/1409.4842.pdf):

So this is correct :)

[2019-02-19 12:57] fmassa commented on #752
Closing according to @TheCodez comment. Thanks!

[2019-02-19 12:57] #752 closed

[2019-02-19 13:44] dsd009 commented on #751
is there any help as resources for training with RBA images, cudnot findout

[2019-02-19 18:25] Giaco90 opened #753 "DatasetFolder class and external functions"
Hi there,
i noticed that _make_dataset_ and _find_classes_ are not _DatasetFolder_ methods. Is there a particular reason behind this choice? I need to extend DatasetFolder class to manage classes differently and i need to modify them.
(I know that I can assign to _datasets.folder.make_dataset_ and _datasets.folder._find_classes_ new functions but I don't like the solution a lot.)
Thanks.

[2019-02-20 11:36] surgan12 commented on #753
@Giaco90 As far as I can see the method make_dataset takes a root dir , class to idx, extensions and returns a  list .
This is something very generic and need not be in the class mentioned above.

[2019-02-21 07:49] surgan12 opened #755 "F.to_pil_image broken for CUDA tensors"
Since to_pil_image converts tensors to numpy array first, therefore it cannot directly convert cuda tensors to Image .

@fmassa is this something intended ?

### To Reproduce
`import torchvision.transforms.functional as F`
`import torch`
 `p = torch.randn((3,2,3)`
`F.to_pil_image(p.cuda())`

### Resulting Behaviour

`TypeError: can't convert CUDA tensor to numpy. Use Tensor.cpu() to copy the tenso

[2019-02-21 10:49] Giaco90 commented on #753
@surgan12 Yes, but it is strictly related to DatasetFolder class and class_to_idx has been generated by _find_classes that is a DatasetFolder method (furthermore _find_classes behave like make_dataset so the same consideration should be done for it).
However i agree that it is generic, but at the same time it is related do DatasetFolder (since i can't find other useful occurrences), so maybe it co

[2019-02-22 18:29] redhermes opened #756 "[documentation] FakeData class of torchvision.datasets is not documented"
The FakeData class of torchvision.datasets is missing from the documentation.

[2019-02-23 02:38] vishwakftw commented on #755
I feel this is more of a documentation issue. Converting data on backend `x` to another form on backend `y` is not correct.

[2019-02-23 05:40] surgan12 commented on #755
@vishwakftw , since this function is giving an image .
I feel cuda tensors should be allowed to be directly converted to images .
We can also do by using a copy of the tensor instead of the other option.
What do you say ?

[2019-02-23 16:04] #756 closed

[2019-02-23 16:30] setuc commented on #645
Restarting the training. Rewrote the Shufflenet v1 and V2 together with the cyclical learning rate. I think I have it right this time around. Started the training expecting another 72-80 hours to report back.

[2019-02-24 14:28] pmeier opened #758 "ImageNet dataset"
1. Is there an official source for the ILSVRC-2012 dataset, which is used for the training process of the models contained in `torchvision`? [The documentation](https://pytorch.org/docs/stable/torchvision/datasets.html#imagenet-12) points to the [official ImageNet homepage](http://image-net.org/download-images), but this seems to be unmaintained. I requested access via the form as well as standard

[2019-02-24 18:45] J-Mourad opened #759 "Passing images + Statistical measures about each image"
I'm working on a project where I would like to reinforce the robustness of a classification CNN by adding some statistical measures about the images.

[2019-02-25 06:52] surgan12 commented on #759
@J-Mourad can you elaborate what exactly do you want to be added ?

[2019-02-25 07:32] surgan12 opened #760 "to_pil_image mutates a 2-d tensor"
@fmassa  is this intended ?
I feel this might create a problem if we have a batch of images as 2d tensor and we just want to generate the images by keeping the tensor as it is.

The Problem is here :

 https://github.com/pytorch/vision/blob/22bc44ed76ec314e8c27df1575757d82f2eda0a3/torchvision/transforms/functional.py#L120

Proposed Fix:
Adding inplace option in the args.

[2019-02-25 07:41] surgan12 commented on #755
@vishwakftw  should something like this be done :
`pic = pic.clone().cpu()`

[2019-02-25 14:55] soumith commented on #755
I dont think we need a clone. `pic.cpu()` should be sufficient. However, as Vishwak said, I am not sure if we should auto-convert a CUDA Tensor to numpy / PIL image, because it might start hiding bugs, especially wrt performance

[2019-02-25 14:59] surgan12 commented on #755
@soumith , I agree
Bug hiding can be a issue
Thanks !!

[2019-02-25 14:59] #755 closed

[2019-02-25 15:41] soumith commented on #758
1. A google search would take you to https://simon32.github.io/2018/01/09/image-net/ who posted the private links. It's not an official source for sure, but the links posted are all from the official website.

3. @fmassa was thinking about doing this, as we need to add class names to some Dataset class. If you send a PR subclassing ImageFolder, and then adding self.class_names, that seems worth it

[2019-02-25 16:33] RicCu commented on #758
Implementing an ImageNet Dataset is related to the discussion at #713. Someone took up that issue, you might want to check in with him about his progress.

[2019-02-25 17:27] pmeier commented on #713
@avinassh Do you have a new update on this? I need to work on the ImageNet dataset as well. Maybe we can share some work.

[2019-02-25 17:31] pmeier commented on #758
@soumith Thanks for the link. I'm curious: what is your search request that leads to this link? I spent quite some time looking for it before I posted this issue, but came out empty-handed.

[2019-02-25 17:35] soumith commented on #758
@pmeier I searched for `Download links to ILSVRC2012 `

[2019-02-25 17:37] #758 closed

[2019-02-26 03:15] avinassh commented on #713
@pmeier sure, how do we do it?

I haven't made much progress on this one :(

[2019-02-26 07:18] pmeier commented on #713
@avinassh I'm not sure. I think for example I fork from this repository and give you permission to push to it. Afterwards I can open a PR based on my fork and we both can add our changes. Mind, I never done this before. Can someone with more experience weigh in to confirm this or show us better way?

[2019-02-26 09:09] vastech73 opened #761 "pip install torchvision not pulling in the latest code"
We noticed an issue with torchvision wheel distribution not reflecting some of the latest changes.

The required (below) code is missing with the wheel distribution when we do “ pip install torchvision”

https://github.com/pytorch/vision/commit/6434deadb3566999abe97bab963fbdc092d9028c#diff-d882c698812f057dfd09020d4a0610a2

vvisvana@vvisvana-linux:~/.local/lib/python2.7/site-packages/torchvision/mo

[2019-02-26 10:25] fmassa commented on #761
Yes, we will be cutting a new release of torchvision this week, and it's being tracked in https://github.com/pytorch/vision/issues/708 so I'm closing this as a duplicate

[2019-02-26 10:25] #761 closed

[2019-02-26 11:08] fmassa commented on #760
@surgan12 this mutation in particular is not expected I'd say. But note that in some cases we might share the storage of the tensor with the PIL image, which could potentially lead to mutation in the original tensor.
Can you just send a PR doing
[code]
?

[2019-02-26 11:10] fmassa commented on #751
@dsd009 no references that I know of for RGBA, but you could have a look at http://saurabhg.web.illinois.edu/pdfs/gupta2014learning.pdf for RGBD images.

[2019-02-26 11:10] #751 closed

[2019-02-26 11:43] surgan12 commented on #760
@fmassa  sure !!

[2019-02-26 13:09] radhikachavan opened #763 "MNIST Dataset gets downloaded but FashionMNIST throws AttributeError"
Below code throws Attribute Error for FashionMNIST Dataset.
import torch
import torchvision
#import torchvision.datasets as dset
import torchvision.transforms as transforms

train_set = torchvision.datasets.FashionMNIST(
        root='./data/FM'
        ,train=True
        ,download=True
        ,transform=transforms.Compose([transforms.ToTensor()
        ])
)

train_loader=torch.utils.data.DataLo

[2019-02-26 14:12] fmassa commented on #763
Hi,

I believe the version of torchvision that you have is old and doesn't contain `FashionMNIST`.

We will be releasing a new version of torchvision today, so you'll be able to update your install.

Alternatively, you can also install from source, which would enable you to use it right away

[2019-02-26 14:12] #763 closed

[2019-02-26 14:15] #760 closed

[2019-02-26 18:17] radhikachavan commented on #763
Thank you so much.

[2019-02-26 23:15] setuc commented on #645
@fmassa I have completed about 400 epochs with a Top-1 error of 39.85 compared to 39.70 from the paper. Should this be sufficient?

[2019-02-26 23:26] ppwwyyxx commented on #645
For your reference, I've reproduced shufflenet v1 & v2 at https://github.com/tensorpack/tensorpack/tree/master/examples/ImageNetModels.
It follows the paper's schedule (240 epochs without cylic LR trick) and gets the same accuracy.

[2019-02-27 07:32] surgan12 commented on #753
@fmassa What do you think on this ?

[2019-02-28 02:42] mitar opened #766 "0.2.2 wheel is forcing tqdm==4.19.9"
So while `setup.py` has code which forces `tqdm==4.19.9` version only on Python 2 and leaves version unforced on Python 3, 0.2.2 package was published with a wheel which is the same for both Python 2 and Python 3 and have `tqdm==4.19.9` version hard-coded. It seems when wheel was made Python 2 was used.

I think that if you have such condition in `setup.py` you have to publish a different wheel fo

[2019-02-28 06:17] surgan12 commented on #766
@soumith , just a quick question !
Why are we forcing tqdm==4.19.9 in setup.py for python2 .
Simply adding 'tqdm' is using tqdm==4.28.1 for python3 and tqdm==4.31.1 for python2.

I think we can remove that line .

[2019-02-28 06:21] mitar commented on #766
See: https://github.com/pytorch/vision/pull/542

[2019-02-28 07:13] surgan12 commented on #766
@mitar  I Tried using the  versions mentioned above by me  and no error is showing for me.

[2019-02-28 07:19] mitar commented on #766
There is no error. It is just that it forces `tqdm==4.19.9` on Python 3. Which is not what it should be doing. You cannot install any newer version then. So if you have another package which requires a newer version you have a problem (which is what happens in my case).

[2019-02-28 08:13] surgan12 commented on #766
With error i meant , mentioned in #541 .
And yes you are right the old version will cause some issues.

[2019-02-28 08:23] mitar commented on #766
But https://github.com/tqdm/tqdm/issues/548 is not closed?

[2019-02-28 09:47] surgan12 commented on #766
@mitar , i tested with tqdm==4.31.1 and everything mentioned in #541 was working fine.

[2019-02-28 10:48] tsing90 commented on #126
the same issue, my reason is the input image size is not the same as the model required!

[2019-02-28 12:06] jgbustos commented on #766
I'd suggest using platform specific dependencies (see https://setuptools.readthedocs.io/en/latest/setuptools.html#declaring-platform-specific-dependencies and https://www.python.org/dev/peps/pep-0508/) so the downgrade is only forced for Python 2.

[2019-02-28 12:15] tsing90 commented on #126
I have the same issue, but my reason is that the dataloader stuck in a loop which is my fault. so that the model cannot have input feeded.

[2019-02-28 17:00] soumith commented on #766
we'll fix it today.

[2019-02-28 17:03] fmassa commented on #766
I think I'll just remove the dependency on tqdm, and use instead the version from pytorch in https://github.com/pytorch/pytorch/blob/13e6326c07cd44ad52db32ac3918eeb79f8230bc/torch/utils/model_zoo.py#L126-L151

[2019-02-28 20:41] #766 closed

[2019-03-01 08:57] rednithin opened #769 "Bug in the new version 0.2.2 while loading datasets"
Downloading http://yann.lecun.com/exdb/mnist/train-images-idx3-ubyte.gz to /home/nithin/Git/Datasets/MNIST/raw/train-images-idx3-ubyte.gz

---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
<ipython-input-4-481efeb3c63f> in <module>
      2                      train=True,
      3

[2019-03-01 12:59] fmassa commented on #769
Hi,

Thanks for the bug report. This can be solved for now by installing `tqdm`.
I'll get this fixed, sorry for the trouble!

[2019-03-01 14:15] fmassa commented on #645
@setuc awesome! Could you check what @ppwwyyxx has sent to see if there is something else that you could do to get to the last few % so that we match the accuracies?

[2019-03-01 15:24] #769 closed

[2019-03-02 02:39] setuc commented on #645
@fmassa I going over the code line by line and carrying out my comparisons.

[2019-03-02 20:17] YunchuZhang opened #774 "Download error with CIFAR10/Mnist based on torchvision.datasets"
I use Macos and Pytorch 1.0

My code is here:
import torch
import torchvision
import torchvision.transforms as transforms
transform = transforms.Compose(
[transforms.ToTensor(),
transforms.Normalize((0.5, 0.5, 0.5), (0.5, 0.5, 0.5))])

trainset = torchvision.datasets.CIFAR10(root='./data', train=True,
download=True, transform=transform)
trainloader = torch.utils.data.DataLoader(trainset, batch_siz

[2019-03-02 23:47] soumith commented on #774
please uninstall and reinstall torchvision, this is fixed if you do that

[2019-03-02 23:47] #774 closed

[2019-03-02 23:51] YunchuZhang commented on #774
Thank you so much

[2019-03-04 23:10] JupiLogy commented on #408
Making the ndarray a 3d array allows it to be transformed, and then we can turn that back to a 2d tensor after the transform. A suggestion:
[code]

[2019-03-05 06:15] surgan12 commented on #753
@vishwakftw, i think this can be closed .

[2019-03-05 06:16] vishwakftw commented on #753
@Giaco90 if you think that the issue is resolved, please close it. Thank you.

[2019-03-05 11:24] mzient commented on #618
The solution you implemented prevents obviously invalid crops from being generated, but the distribution is uneven. Actually, the best way to deal with it is to use a uniform distribution _on a logarithmic scale_.
This automatically handles symmetry (logarithm of a reciprocal is a negative) and provides nice, smooth distributions and a sound mathematical basis.
Also, the mean of the distribution i

[2019-03-06 19:40] fmassa commented on #618
@mzient would you be able to send a PR improving this?

[2019-03-06 19:45] mzient commented on #618
I'll have to clear it with the company, but otherwise I would be glad to do so.

[2019-03-06 19:55] #753 closed

[2019-03-06 20:05] fmassa commented on #618
Let me know if it would be complicated, and I can make a PR myself

[2019-03-06 22:35] fmassa commented on #645
@setuc thanks! Did you figure out where the difference was?

[2019-03-07 12:25] maria8899 opened #777 "Loading MNIST or FashionMNIST inconsistent with current documentation"
Using the last version of torchvision (0.2.2), it is unclear what you should pass to the `root` argument of some `torchvision.datasets` functions. On the documentation it says "root (string) – Root directory of dataset where processed/training.pt and processed/test.pt exist.", however it looks like you have to pass the directory itself containing the folder "MNIST" or "FashionMNIST":

[code]

[2019-03-07 12:55] surgan12 commented on #777
@maria8899 i think the
"root directory of the dataset"
Does the job.

Or do you prefer something like:
Root directory of FashionMNIST/ where processed/training.pt and processed/test.pt exist.

[2019-03-07 13:30] maria8899 commented on #777
The problem is not that it breaks from the previous version:

[code]

[2019-03-07 13:41] surgan12 commented on #777
@maria8899
in the current version 0.2.3 the behaviour is similiar to 0.2.2 and i think the documentation makes sense.

[2019-03-07 16:06] surgan12 commented on #777
@maria8899  i think this issue can be closed now.

[2019-03-07 20:09] fmassa commented on #777
@maria8899 do you want to send a PR improving the documentation?
This was a necessary change to avoid unexpected issues such as https://github.com/pytorch/vision/issues/599, so this inconsistency is necessary.

[2019-03-07 20:09] #777 closed

[2019-03-08 01:05] fmassa opened #779 "[Feature request] Add perspective transform"
Requested by @resistor

[Pillow already supports it](https://pillow.readthedocs.io/en/stable/reference/Image.html#PIL.Image.Image.transform), just need to wrap it up in torchvision.

[2019-03-08 06:45] surgan12 commented on #779
@fmassa , i would like to take this.

[2019-03-09 04:46] surgan12 commented on #708
@timonbimon this can be closed with the release of 0.2.3.

[2019-03-09 11:57] #708 closed

[2019-03-09 12:18] varunagrawal commented on #426
@Nachwa it seems like you wish for Keras like behavior in PyTorch rather than doing things the PyTorch way. I agree with @fmassa of just subclassing the model to achieve your desired behavior.

I vote to close this.

[2019-03-09 12:22] varunagrawal commented on #392
@fmassa I added the GPU based NMS as a PR a while ago. :)

Apparently, NMS is also used in Keypoint detection such as in the OpenPose paper.

[2019-03-09 16:52] fmassa commented on #426
@varunagrawal I'm actually thinking about ways of making finetuning / getting arbitrary elements of the models possible. Not sure if I'll come up with a good solution for this, but one possibility is by tracing the model. This gives us a full computation graph (which is static), on which we could potentially query arbitrary activations.

[2019-03-09 16:54] fmassa commented on #392
Hey @varunagrawal

Now that we've released torchvision 0.2.2, I'll be (slowly) integrating all the changes that I've been discussing for a while, including merging NMS (and other layers) in torchvision.

[2019-03-10 19:33] ekagra-ranjan commented on #546
@fmassa This issue really confused me as a beginner in pytorch. What if we change line [57-62](https://github.com/pytorch/vision/blob/138b5c259578e2d4e2e2c4f538beac7a1652a551/torchvision/transforms/functional.py#L57-L62) with:

[code]

[2019-03-10 20:25] ekagra-ranjan commented on #560
@fmassa I think this can be closed :)

[2019-03-10 20:29] sauercrowd commented on #560
I'll close it 👍

[2019-03-10 20:29] #560 closed

[2019-03-10 20:42] ekagra-ranjan commented on #644
I guess this can be closed due to #744.

[2019-03-10 20:55] ekagra-ranjan commented on #537
@fmassa This can be closed with reference to #678.

[2019-03-10 21:41] soumith commented on #537
closed via #678

[2019-03-10 21:41] #537 closed

[2019-03-11 09:28] #644 closed

[2019-03-11 10:26] fmassa commented on #546
@ekagra-ranjan we could try doing something like that, but the cost of `torch.max(img)` is negligible and would slowdown many things that rely on `ToTensor` with floating point data.

I think the underlying issue is that `ToTensor` tries to do way too many things internally, and it can't suit all needs.

[2019-03-11 15:08] ekagra-ranjan commented on #706
@dakjin I think I got your issue.  Correct me if I got it wrong.

The 1x1 conv block with stride = 2 skips rows and columns which make the computing of the skipped rows and columns useless as they are never used in computing the values for the next layer because the spatial coverage is only 1x1 (unlike 3x3 or 5x5 where the neighbouring values participate in the computation of the next layer). You

[2019-03-11 15:10] ekagra-ranjan commented on #729
Can be closed via #794

[2019-03-11 15:19] soumith commented on #729
closed via #794

[2019-03-11 15:19] #729 closed

[2019-03-11 15:36] ekagra-ranjan commented on #691
@fmassa Can I take this up?

[2019-03-11 15:38] soumith commented on #691
@ekagra-ranjan sure. Make sure everything is backwards-compatible.

[2019-03-11 15:46] ekagra-ranjan commented on #691
@soumith I haven't seen any code which takes care of backward-compatibility. Can you please guide me with this?

[2019-03-11 15:55] ekagra-ranjan commented on #562
Can be closed via #791.

[2019-03-11 16:05] soumith commented on #562
closed via #791

[2019-03-11 16:05] #562 closed

[2019-03-11 17:10] xvdp commented on #392
@fmassa thats great thank you, I was just extracting NMS out of maksrcnn_benchmark for my use (https://github.com/xvdp/nms_pytorch)  As soon as you put it in Ill use torchvision instead.

[2019-03-11 17:24] varunagrawal commented on #477
@fmassa do you want to reopen this issue until we can get all the related PRs merged? I'll update the original Issue comments with the PR numbers to help keep track.

[2019-03-11 17:42] varunagrawal commented on #392
@fmassa sounds good. Let me know if you need me to do anything else. I can do all the rebases etc., whenever you're ready.

[2019-03-12 07:22] Miladiouss commented on #598
I have made a pull request [here](https://github.com/pytorch/vision/pull/796). Also, see this [gist](https://gist.github.com/Miladiouss/86bed5c53595116dfe18ee0a5c84f838) for tests and proof of concept.

[2019-03-12 08:40] soumith commented on #691
you basically have to make sure API calls to the class constructor and forward function work (so if you add any new arguments to a function, they have to come at the end), and old pre-trained models / state_dicts are loadable after the PR.

[2019-03-12 10:13] theoptips commented on #484
+1 would appreciate a model.class_ method or model.labels_ kind of like sklearn. Developers can easily see the mapping between output labels and index. May be this feature already exists? Would love to know how to do it. Thanks!

[2019-03-12 20:51] varunagrawal commented on #713
@pmeier you should go ahead with your changes and @avinassh should rebase off your branch.

At this point, @pmeier's PR seems to fix this issue so that's good.

[2019-03-14 00:00] ywang370 commented on #690
@lara-hdr  Hi  how you convert it?  Can you give an instruction?  I meet the error that

[2019-03-14 03:58] lijunzh opened #798 "Possible mistake in Inception_v3 model"
https://github.com/pytorch/vision/blob/71322cba652b4ba7bcaa7ae5ee86f539d1ae3a2b/torchvision/models/inception.py#L143-L144

This is inconsistent with Figure 5 of the Inception V3 [paper](https://www.cv-foundation.org/openaccess/content_cvpr_2016/papers/Szegedy_Rethinking_the_Inception_CVPR_2016_paper.pdf).

The correct implementation IMHO should be
[code]

[2019-03-14 19:20] lara-hdr commented on #690
@ywang370, what version of pytorch are you using?
Exporting adaptive_avg_pool2d is supported with the params (1,1) since https://github.com/pytorch/pytorch/pull/9711.
Also the issue with the ceil pooling discussed above should be fixed with https://github.com/pytorch/pytorch/pull/16769.

[2019-03-14 21:57] Ivamcoder commented on #173
Hi@ahirner,
 to freeze some of weights using the keys `layers name `in state_dict, what should I do?

[2019-03-15 01:46] ywang370 commented on #690
@lara-hdr  Thanks for the link, very helpful!

[2019-03-15 09:02] mzient commented on #618
See: #799

[2019-03-15 12:00] mzient opened #800 "Skewed aspect ratio distribution for non-symmetrical aspect ratios in RandomResizedCrop."
The fix for RandomResizedCrop protects against producing crop windows with incorrect aspect ratio (unless 1:1 ratio is not in range - in which case it may fail in fallback code).

To illustrate I'll use an extreme examples that never swap width and height, as it would make the example harder to interpret.

Ratio range 0.1 to 1 has a mean of 0.55.
Ratio range 1 to 10 has a mean of 5.5.
The expected

[2019-03-15 14:03] TheCodez commented on #798
The model was converted from [TensorFlow](https://github.com/tensorflow/models/blob/master/research/slim/nets/inception_v3.py), so it follows their implementation of the network.

Suprisingly most of the Inception models from TensorFlow seem to differ from the paper definition, see GoogLeNet for another example.

[2019-03-16 02:25] hendrycks commented on #645
(I think it is unlikely the community outside FAIR is going to train various ImageNet models in a timely manner, especially big models such as ResNeXt.)

[2019-03-16 06:31] Ashu-jun opened #801 "import _portaudio as pa ImportError: DLL load failed: The specified module could not be found."
please help me to resolve this issue.
import speech_recognition as sr
import pyaudio

# obtain audio from the microphone
r = sr.Recognizer()
with sr.Microphone() as source:
    print("Say something!")
    audio = r.listen(source)
    print("Time is over, THANKS")
try:

    print("Google Speech Recognition thinks you said " + r.recognize_google(audio))
except:
    pass

[2019-03-18 18:10] fmassa commented on #645
@hendrycks I was planning on getting ResNeXt models trained in-house

[2019-03-18 20:58] lijunzh commented on #798
That's good to know. Thanks.

[2019-03-18 20:58] #798 closed

[2019-03-19 00:56] weihua04 opened #802 "how to optimize the parameters of model and loss at the same time?"
I use the code below to optimize the parameters both in the model and loss.
     "trainable = [{'params': loss.parameters(), 'lr': args.lr},
     {'params': model.parameters(), 'lr': args.lr}] "
and I found a strange phenomenon , if i use  the above optimizing method , for training several epoches, the loss descend from 11.7 to 10.8  and just stay there .
     but if I put all the parameters in th

[2019-03-19 10:50] fmassa commented on #802
I think those questions are better suited to https://discuss.pytorch.org/

Also, you might need to give some more context on why your loss has parameters.

[2019-03-19 10:50] #802 closed

[2019-03-19 10:51] fmassa commented on #801
I believe you are in the wrong repo, this is for computer vision.

[2019-03-19 10:51] #801 closed

[2019-03-19 11:48] nbrosson opened #803 "CIFRAR 10- How to load only the first 100 samples"

[2019-03-19 11:58] #803 closed

[2019-03-19 17:05] StrausMG opened #804 "`UserWarning` when applying `Normalize`"
Hi!
pytorch's version: 1.0.1.post2
torchvision's version: 0.2.2.post3

Sorry for the formatting, but you need to scroll the snippet to the right in order to see the warning.

[code]

[2019-03-19 17:24] ekagra-ranjan commented on #804
It should be in the dimension of a valid image ie: CxHxW. See the below snippet:
[code]

[2019-03-19 17:51] StrausMG commented on #804
Sorry, that's exactly what I meant in the issue above. I fixed my snippet, now it is correct and still causes the warning.

[2019-03-19 22:01] 1e100 commented on #645
I have an implementation of MNASNet that I could contribute. Any interest from maintainers? It performs pretty well, and I was able to get close to paper numbers with it, at 1.0 depth multiplier, training with SGD+Nesterov. I think it's currently the best "efficient" model out there.

https://arxiv.org/abs/1807.11626

[2019-03-20 02:47] seungwonpark opened #807 "Why in-place operation for ReLU is used in models/examples?"
Lots of model shown here, e.g. [AlexNet](https://github.com/pytorch/vision/blob/693829121bdc3e26714691f70241c6c01a089457/torchvision/models/alexnet.py), uses in-place operations for `nn.ReLU()` activation.

Howerver, usage of in-place operations are usually discouraged, according to [PyTorch docs.](https://pytorch.org/docs/master/notes/autograd.html#in-place-operations-with-autograd). Is there any

[2019-03-20 18:56] fmassa commented on #800
Fixed by https://github.com/pytorch/vision/pull/799

[2019-03-20 18:56] #800 closed

[2019-03-20 19:08] fmassa commented on #807
It saves memory.

In-place operations should in general be used with care. The places where we use in-place `ReLU` are safe though.

[2019-03-20 19:08] #807 closed

[2019-03-21 02:12] seungwonpark commented on #807
Thank you for responding!

[2019-03-22 01:46] nish-97v opened #809 "KeyError: 'module name can\'t contain "."'"
I'm getting the following error using pytorch (1.0.1) and torchvision (0.2.2) on Windows 10.

[code]

Can someone help solve this?

[2019-03-22 12:49] fmassa commented on #809
Check the discussion in https://github.com/pytorch/vision/pull/474

The solution is to rename the names of the modules that have a `.` in it

[2019-03-22 12:49] #809 closed

[2019-03-22 21:25] fmassa commented on #645
Hi @1e100

Sure, it would be awesome to have it! Could you send a PR with it, and also pointing to the training code and hyperparameters that you used to obtain the results?

[2019-03-22 21:29] fmassa commented on #804
Hi,

Thanks for opening the issue.

The fix is to replace `torch.tensor` with `torch.as_tensor` in https://github.com/pytorch/vision/blob/6eac421ca2ea1ca52f49e10d7ac191c0d6900df1/torchvision/transforms/functional.py#L206-L207

Could you send a PR fixing this?

[2019-03-23 01:27] depthwise commented on #645
Will do. My own training pipeline is far too complicated to be suitable for something like this, so I'll just implement a single-file fast.ai trainer instead, train with it to something close to paper numbers, and then send a PR. In the interest of expediency, I plan to only verify reachable accuracy for depth multiplier 1.0 under this experimental setup.

Let me know if you see any flaws in this

[2019-03-23 01:28] 1e100 commented on #645
Will do. My own training pipeline is far too complicated to be suitable for something like this, so I'll just implement a single-file fast.ai trainer instead, train with it to something close to paper numbers, and then send a PR. In the interest of expediency, I plan to only verify reachable accuracy for depth multiplier 1.0 under this experimental setup.

Let me know if you see any flaws in this

[2019-03-23 01:38] 1e100 commented on #645
In the interest of not duplicating code, though, it'd be good to know how far along #625 is. MNASNet is basically just a hyperparameter tweak over MobileNetV2 wrt kernel sizes, layer depths, and block depths. In fact I implemented both using the exact same module.

[2019-03-23 17:24] rajasekharponakala commented on #302
@alykhantejani:Hi, why we have to disable the `aux_logits`?, what are these `aux_logits`? does they effect the training/validation?

I'm trying to reproduce the accuracy from a model training using the bvlc_googlenet (without pretrained weights). So when I do aux branch off with pytorch(googlenet) it works and reports val_acc with 50% which is very low when compared to the caffe.  any other method

[2019-03-24 17:49] fmassa commented on #302
@rajasekharponakala the `aux_logits` is a separate classifier that is added to help during training, but it is not used during inference.

Both googlenet and inception_v3 use pre-trained weights from TensorFlow, and as far as I know we didn't manage to reproduce accuracies from the paper when training from scratch.

[2019-03-24 17:49] #804 closed

[2019-03-25 15:48] rajasekharponakala commented on #302
Hi @fmassa, thanks. I followed (pytorch discourse) to add  below lines in imagenet example.
[code]
but ended with error:

[code]

any idea?

[2019-03-25 18:30] fmassa commented on #302
you need to set your model to `train()` mode, it's probably in `eval` mode

[2019-03-25 18:49] rajasekharponakala commented on #302
Thanks. Yes, I'm following the example/imagenet/main.py script:
[code]
I found some other method in [dicourse](https://discuss.pytorch.org/t/not-able-to-train-on-imagenet-using-the-inception-architecture/11245/7?u=rajasekhar)
[code]
This times it throws different error:

[code]

[2019-03-25 18:54] fmassa commented on #302
The issue is that both `googlenet` and `inception` can return auxiliary classifiers in training mode.
Your code is not taking that into account, or you didn't set `aux` classifiers. Double-check that and you'll be able to find the issue.

[2019-03-25 19:01] rajasekharponakala commented on #302
Yeah. `def main_worker()` set to

[code]
and also vision/models/googlenet.py has
[code]

[2019-03-25 19:58] TheCodez commented on #302
@rajasekharponakala one thing to note here is that GoogLeNet has two aux branches where as inception v3 only has one.

So for GoogLeNet you have to use:
`aux1, aux2, output = model(inputs)`

[2019-03-25 20:25] rajasekharponakala commented on #302
@TheCodez: Thanks, its working now!
format:
[code]

[2019-03-25 20:30] TheCodez commented on #302
@rajasekharponakala the correct weighting scheme for GoogLeNet is using 0.3:

[code]

[2019-03-25 20:31] rajasekharponakala commented on #302
Yeah, thanks.

[2019-03-28 17:30] ruppphil commented on #720
I implemented this, and it works fine when I add it to my nn.sequential. Unfortunately, when it comes starting the training it gives me the following error:  'View' object has no attribute '_modules' . It seems like something with the inheritance goes wrong?

[2019-03-28 17:37] TheCodez commented on #720
@ruppphil try calling the super constructor:

[code]

[2019-03-28 18:03] fmassa commented on #720
Exactly what @TheCodez mentioned!

[2019-03-29 07:32] ruppphil commented on #720
okay thank you both!
So I have a 30*40 layer and I would like to convert it to a 1200*1 layer, convolve it with a 1200*1 vector, and resize it back to 30*40.
The super constructor helped me get rid of Attribute error, but I have no problems with the sizes it self.
Why is the given argument x different in every training epoch?

[2019-03-29 11:11] fmassa commented on #625
Fixed via #818

[2019-03-29 11:11] #625 closed

[2019-03-29 18:48] zplizzi opened #825 "LSUN caching is ugly"
The cache for the LSUN dataset (136MB just for bedrooms) gets dumped into the same directory as the script you're running, with a filename that's a function of the path to the dataset itself. Generating the cache can take several hours, eg on a standard EC2 server with EBS disk. If you want to run a script in a different folder, you have to regenerate the cache (hours) or copy the cache file to th

[2019-03-29 22:21] fmassa commented on #825
Yes, I agree, this should be improved.
One other possibility is to write the cache to `~/.torch/torchvision/datasets` and give the user the possibility to configure the paths where to search for caches. For example, now all torchvision models get saved to `~/torch/models`, and the path can be overridden via an env var `TORCH_MODEL_ZOO`.

It would be better indeed to clean this up

[2019-03-29 22:37] soumith commented on #825
the cache has to also be made path-agnostic, which is an additional fix need. That way, even if the cache moves, or the dataset moves, the cache wont be regenerated.

Writing the cache to ~/.torch is definitely not a great idea, as the cache is large.

@zplizzi the reason for the cache taking so long to generate is because LMDB's suckiness. LMDB doesn't allow listing of entries without slow-iterat

[2019-03-31 14:19] fmassa commented on #477
@varunagrawal I'm going to be merging the `layers` branch this weekend. Thanks a lot for the awesome help improving it!

[2019-04-02 03:44] 1e100 commented on #645
OK, after some experimentation I got it to train to the following accuracy numbers: loss=1.076, prec@1=73.512, prec@5=91.544. Still not quite paper numbers, but paper numbers seem achievable with more epochs. I'll be putting together a PR later tonight.

[2019-04-02 03:46] 1e100 commented on #645
FYI: paper number is 74.0% top1.

[2019-04-02 08:05] 1e100 commented on #645
MNASNet: https://github.com/pytorch/vision/pull/829
Trainer: https://github.com/1e100/mnasnet_trainer/tree/master

[2019-04-02 09:11] fmassa commented on #645
Awesome, thanks @1e100 !

I'll check your code and integrate it into `references/classification` later this week

[2019-04-02 13:23] rahul99 opened #830 "[JIT] Trace not consistent for torchvision models (specifically `inception_v3()`)"
For `inception_v3()` and `inception_v3(pretrained=True)`, JIt returns different trace. However this behavior is not observed with other torchvision models (`vgg16()`, `vgg19()`, `resnet18()`, `densenet121()` etc.)

This makes it harder to write a generic parser. Would really help if `inception_v3(pretrained=True)` is consistent with other torchvision models.

Here is the code snippet to observe th

[2019-04-02 15:28] fmassa commented on #830
This happens because we make the input tensors for all models to be consistent, i.e., all pre-processing that should be applied is the same (mean / std normalization).

Because the weights of the inception_v3 model were not trained by us and taken from their original implementation, they are inconsistent with the mean / std normalization of the other models.

Thus, we need to adapt it in the begin

[2019-04-04 00:04] alsrgv opened #833 "torchvision-nightly disappeared from PyPI"
[code]

https://pypi.org/project/torchvision-nightly/ shows 404.

[2019-04-04 00:04] alsrgv commented on #833
cc @soumith

[2019-04-04 00:39] soumith commented on #833
I dont know who was maintaining that package, it was definitely not us.

[2019-04-04 00:58] alsrgv commented on #833
Oh, that's interesting. What's the recommended way to install `torch-nightly` + `torchvision`?

[2019-04-04 01:09] soumith commented on #833
torch-nightly the usual way, torchvision stable works with torch-nightly. `pip install torchvision --no-deps`.

We dont have torchvision-nightly yet, but torchvision-master can also be `pip install https://github.com/pytorch/vision/archive/master.zip` but it got complicated since 2 days ago, when we merged C++ ops, and we're still figuring out details

[2019-04-04 08:57] fmassa commented on #833
Also, note @alsrgv that torchvision master is currently under heavy development, so expect some breaking changes on top of the PRs that have been already merged since the 0.2.2 release.

[2019-04-04 09:18] mkisantal opened #834 "[feature proposal] U-Nets with pretrained torchvision backbones"
I was thinking about extending torchvision models with an U-Net builder for segmentation, that takes pre-trained torchvision classification models as backbone architectures in the encoder path of the U-Net, and builds a decoder on top of it, using features from specified layers of the backbone model.

I already implemented this for ResNet, DenseNet and VGG models in a separate module:
https://gith

[2019-04-04 15:19] fmassa commented on #834
Hi,

I'm currently working on adding segmentation and detection models into torchvision, so this is a very timely feature proposal.

Here is an open PR for segmentation models, including FCN and DeepLabV3 https://github.com/pytorch/vision/pull/820

I still need to do quite some cleanup work there, but those models work and give expected accuracies within 2-3%.

I'll have a closer look at your impl

[2019-04-05 00:39] alsrgv commented on #833
@fmassa, thanks for the heads up!

[2019-04-05 08:51] ezavarygin commented on #160
I am also interested to know under what license the weights were released. I ported the VGG model weights from PyTorch to Keras and now wonder which license I should use.
Is it just BSD as for the ```torchvision``` package?

[2019-04-05 11:48] xialeizhou opened #835 "IMG_EXTENSIONS lost "." for webp"
[code]
 `webp` =>`.webp`

[2019-04-05 12:31] surgan12 commented on #835
@xialeizhou Thanks for reporting.
Could you send a PR fixing this.

[2019-04-05 14:27] Ashok93 commented on #835
Can I take this up and send a PR?

[2019-04-05 14:28] surgan12 commented on #835
@Ashok93 Sure Why not !

[2019-04-05 14:38] Ashok93 commented on #835
@surgan12 Thanks! Pull request ref https://github.com/pytorch/vision/pull/836

[2019-04-05 14:45] fmassa commented on #835
Fixed via #836
Thanks @Ashok93

[2019-04-05 14:45] #835 closed

[2019-04-05 14:51] surgan12 commented on #835
@Ashok93  it also has some lint errors .
Can you try and fix them too. ?

[2019-04-05 15:08] Ashok93 commented on #835
@surgan12 Can you specify the linting issue? I cannot find it and it seems okay.

[2019-04-05 16:23] fmassa commented on #835
@surgan12 the linting issues are on my side, no need to fix them now

[2019-04-05 16:26] fmassa commented on #835
I'll be fixing the linting issues now

[2019-04-05 16:44] fmassa commented on #160
@ezavarygin probably yes

[2019-04-06 01:16] setuc commented on #645
@fmassa I tried doing comparison and ran it a couple of more times. Unfortunately, I dont quite have the paper numbers.  The best Top-1 error for ShuffleNet v2 is 39.89 compared to 39.70 from the paper. Will that be sufficient for the pull request?

[2019-04-06 02:13] soumith commented on #645
@setuc 39.89 vs 39.70 sounds close enough. that would be sufficient for sure.

[2019-04-06 09:43] pmeier commented on #713
My PR #764 was merged so this can probably be closed.

[2019-04-06 15:04] #713 closed

[2019-04-08 11:32] lig commented on #833
@soumith btw, this package is mentioned here
https://pytorch.org/get-started/locally/

i.e. choose: Preview (Nightly) / Linux / Pip / Python 3.7 / 10.0
you will get
[code]

- [ ] Is it ok to use `torchvision` instead of `torchvision_nightly`?
- [ ] Should the instructions be updated?
- [ ] Is it possible to revert `torchvision_nightly` removal from PyPI?

[2019-04-08 11:42] Ashok93 opened #839 "Normalize image functionality - Expected behaviour"
Hi,
The normalization of images as I read in https://en.wikipedia.org/wiki/Normalization_(image_processing), is to changes the range of pixel intensity values. But the normalize image as a part of `torchvision/utils.py` does not seem to do so. The output range is not the expected range provided.
In the code,
[code]
Is this formulation something intentional or is it an issue?  If I go with what is

[2019-04-08 12:45] fatemeakbari commented on #707
hello
you have to create a sub directory in your images directory,
e.g if images directory is:
./VOC2007/JPEGImages
dataset=torchvision.datasets.ImageFolder('./VOC2007')

[2019-04-08 13:28] pmeier commented on #839
The `norm_ip` function maps an image linearly from the interval `[min, max]` to `[0, 1]` as stated in the documentation of [`make_grid`](https://github.com/pytorch/vision/blob/master/torchvision/utils.py#L16-L17). This means if you go with the default values it maximises the contrast of the image.

Your modification is just the more general case if you want to map the image to another interval. Si

[2019-04-08 13:43] Ashok93 commented on #839
Thanks for the response. I guess my confusion started with the `range` parameter https://github.com/pytorch/vision/blob/master/torchvision/utils.py#L18L19 of the `make_grid` function. I am not sure if the case I suggested might be required for some cases. If not, I can close this issue.

[2019-04-08 15:55] pmeier commented on #839
With the `range` parameter you can change the interval you start from. So by supplying `range=(a, b)`, `make_grid` now maps `[a, b]` to `[0, 1]`. This is helpful if you know the value range apriori and suspect some outliers.

Your case maps `[max, min]` to `[c, d]`. As I said, I can't think of a application for this (which is not to say  some application like this does not exist).

[2019-04-08 15:59] Ashok93 commented on #839
Yes. Thanks for your inputs. Based on the discussion, I am closing this issue.

[2019-04-08 15:59] #839 closed

[2019-04-08 21:19] soumith commented on #833
I went and looked at some history. `torchvision_nightly` was created and maintained by @stas00
Stas, what happened, why did you delete it?
Do you want us to take over maintainership of it?

[2019-04-08 21:19] soumith commented on #833
Stas, others and I discussed it on slack, but I forgot about it until I did a slack search for `torchvision_nightly`

[2019-04-08 21:20] soumith commented on #833
also, the slack chat mentions that I was supposed to make it automated, so it's on me and I totally bailed (sorry).

Okay, yea we'll figure out how to auto-push a `torchvision_nightly`

[2019-04-08 21:44] stas00 commented on #833
Oh, terribly sorry, I had no idea it was still used. I thought I was just cleaning up old files that no longer were used :( I forgot that pypi has that exclusiveness as compared to conda, so I was sure mine was just an old copy.

Yes, please take over it. And if I can be of any help to speed up the recovery please let me know.

Apologies again.

[2019-04-09 19:42] rasbt opened #845 "Renaming ColorJitter to RandomColorShift or RandomColorJitter"
Given the current naming schemes, I find the naming of ColorJitter a bit confusing as it does apply the changes randomly. It would probably be more intuitive to refer to it as RandomColorShift or RandomColorJitter and would suggest renaming it in upcoming PyTorch versions.

[2019-04-11 05:32] surgan12 commented on #845
@rasbt  , i think ColorJitter  itself signifies the random changes in the brightness, hue of the image.

[2019-04-11 05:58] rasbt commented on #845
Hm, yeah, I agree. However, for consistency, I think the "Random" prefix (RandomXXX) like RandomColorShift would be nicer :).

(Please feel free to close if you like.)

[2019-04-11 13:07] mkisantal commented on #834
@fmassa

As I see our implementations are fairly similar. I didn't change the backbone architecture (e.g. adding dilation like you did), so I was able to avoid having to subclass the backbone model. Therefore it works with DenseNet and VGG backbones too, not just ResNet.

Compared to FCN and DeepLabV3, U-Net is slightly different at a few parts (more upsampling steps, more backbone features are be

[2019-04-11 14:31] SamSweere opened #848 "Denormalize option in torchvision.utils.save_image()"
## 🚀 Feature

A function to denormalize an image based on mean and standard deviation.

## Motivation

When working with images on NN's trained on a specific dataset (for example ImageNet), an image is first normalized to the mean and standard deviation of that dataset. When we want to save such an image later in the process we can use the function *torchvision.utils.save_image()*. However the ima

[2019-04-12 11:57] pmeier commented on #848
1. Why would you lose information just by normalising and subsequently denormalising? If you do not alter the image before denormalising, you should be able to reconstruct the image perfectly. There might be some numerical errors near 0 or 1, but this hardly counts as 'loss of information'.

2. We could add something like `transforms.Denormalize`:

[code]

With this you could do:

[code]

[2019-04-12 16:00] fmassa commented on #848
I think another solution, which has been proposed recently, is to make normalization part of the model.
This way, the normalization parameters are built-in inside the model parameters, and we can just visualize the images without any "denormalization"

[2019-04-12 16:22] fmassa commented on #845
I'm not a native English speaker, but I thought that jitter already gave the impression of "random change"?

[2019-04-12 17:34] rasbt commented on #845
Yeah, but since all other classes that involve a random modification are starting with Random, I thought it would be better for consistency. This way, you can easily see all Random* ops in the torchvision module. Like

- "RandomApply", "RandomChoice", "RandomOrder", "RandomCrop", "RandomHorizontalFlip",
           "RandomVerticalFlip", "RandomResizedCrop", "RandomSizedCrop", "RandomRotation", "Ran

[2019-04-12 18:09] surgan12 commented on #845
@rasbt , i think this we wouldnt mind doing that.

[2019-04-12 20:47] alejo9719 commented on #690
Hi, I cloned and built the latest PyTorch master from GitHub and I exported the pretrained SqueezeNet model to ONNX with it. I didn't have any trouble doing that. I then exported the model with Caffe 2 mobile exporter to an init_net.pb and a predict_net.pb file, in order to use it with the AI Camera example :https://github.com/cedrickchee/pytorch-android. I executed the exported files using "predi

[2019-04-13 18:10] stas00 commented on #833
@soumith, please let's not drop the ball on this again - please take over this package. Thank you!

[2019-04-14 09:52] barrh opened #853 "ResNeXt model type(s)"
ResNeXt has been recently introduced in the code. Current implementation takes advantage of the similarities with Resnet, by enhancing the Resnet class to support ResNeXt topology as well.
While the similarities between the models exist, they are not the same.
The result of current implementation is: `type(resnext50_32x4d()) == type(resnet50())`, which is misleading imo.

1. ResNeXt models should

[2019-04-15 05:04] HaleTom commented on #490
This may be partially addressed by Add inceptionv4 pretrained model https://github.com/pytorch/vision/pull/43/

[2019-04-15 06:58] pmeier commented on #848
@SamSweere See #782 for the discussion @fmassa mentioned.

[2019-04-15 11:07] madiltalay opened #854 "Torchvision Models"
I have pip installed torchvision, but the mobilenet and googlenet models do not get downloaded.
Do I download them by myself?

[2019-04-15 11:44] fmassa commented on #854
@madiltalay googlenet and mobilenet have been added after the last release (0.2.2). They will be present in the next release of torchvision, so for now you need to install from source.

[2019-04-15 11:44] #854 closed

[2019-04-15 11:48] madiltalay commented on #854
ok thanks

[2019-04-15 16:27] fmassa commented on #853
More than just the type being the same, there was actually a bug in the resnext implementation that has been fixed in https://github.com/pytorch/vision/pull/852

About your points:
1 - I agree about ResNeXt having its own class. I'm actually thinking about another refactor of it
2 - I'm less sure about the need of this. Should all possible variations of a model, which can be arbitrarily parametriz

[2019-04-15 17:28] NizarTarabay commented on #484
How did you manage to make it work, even with these two text files there still a discrepancy between the output predicted labels and the imagenet validation dataset.
I am using Squeezenet to predict the validation classes on ILSVRC2012. The pretrained model seems working well, however, the accuracy is 0!

[2019-04-15 19:28] barrh commented on #853
2 - In principle - yes. type(A) == type(B) only when it makes sense to call the "copy constructor" (i.e. load_state_dict()) of A on B (AND, B on A).

[2019-04-15 22:39] rwightman commented on #853
So, not going to step into the debate how things 'should' be, but this issue is not specific to ResNet vs ResNext or even PyTorch is it? For models with numerous variants that are parameterized at construction, this is pretty much the norm across the standard model repos associated with most frameworks, with the exception of maybe Keras?

Is a ResNeXt-50 not closer to a ResNet-50 than a ResNet-50

[2019-04-16 07:48] JuanFMontesinos opened #855 "To extend torchvision for video"
# Motivation
I've realized that is the way torchvision is coded it's not possible to store a transformation to be applied several times. Video requires the same transformation to be applied to the whole sequence.
# Proposed changes
I propose to restructure the code with minor changes such that:

A base transformation  class (template) were created, providing get_params and reset_params method:

[c

[2019-04-16 08:42] fmassa commented on #855
Thanks for opening the issue!

Adding support for video data is in the plans, and will be integrated in the next major release of torchvision. This also involves the transforms.

[2019-04-16 08:49] JuanFMontesinos commented on #855
Hi!
Could you tell me which branch contains those changes? pretty sure it will be better than what I'm suggesting.

[2019-04-16 08:56] fmassa commented on #853
@barrh one can rephrase your point by saying that we would need a `ResNet50_1000classes` and a `ResNet50_21classes`, because loading a state_dict for a different number of classes will fail.

In general, I agree with the core idea. But instead of parametrizing on the instance, we should instead parametrize on the class. So if anyone wants to save their model, in order to retrieve the model we need

[2019-04-16 08:57] fmassa commented on #855
It's currently in a private branch, I'm working on some other things now and I'll get back to video once I've finished those next tasks, hopefully by the end of the week

[2019-04-16 12:44] AlessandroCortex opened #856 "functional : to_tensor() doesn't accommodate for PIL image mode 'I:16B'."
I am trying to convert a TIFF image, read in through PIL, to Pytorch tensor. I get the following error:

`RuntimeError: shape '[1460, 1936, 5]' is invalid for input of size 5653120`

The reason for the error is that the function is mistakenly extracting the number of channels as `5`.

 The `TiffImage.mode` is ` "I;16B" `. Since `to_tensor` hasn't got a hard coded rule for `"I;16B"` mode, it gets t

[2019-04-19 18:27] rasbt opened #860 "GoogLeNet cannot be loaded -- seems broken"
Hi,

it seems like the GoogLeNet cannot be loaded on version 0.2.2.

E.g.,

[code]

works fine. However,

[code]

raises a

[code]

[2019-04-19 18:54] TheCodez commented on #860
@rasbt GoogLeNet is not included in the current release. If you still like to use it you have to install torchvision from source:
`python setup.py install`

Related issue: https://github.com/pytorch/vision/issues/854

[2019-04-19 19:00] rasbt commented on #860
Oh nice, thanks! I will close this issue then!

[2019-04-19 19:00] #860 closed

[2019-04-20 14:31] JC-S commented on #483
I'm very curious about how python 2 could help preprocessing on GPU. Could you elaborate on that please?

[2019-04-23 06:02] SsnL opened #862 "allow passing in progress=False for model_zoo.load_url call"
it eats up more than 40% lines of pytorch CI log
![image](https://user-images.githubusercontent.com/5674597/56558961-4b8f4800-656e-11e9-92bd-54042253856a.png)

[2019-04-23 10:29] bhack commented on #834
What about HRNet? They are applied in different tasks and have already pytorch impl.
See https://jingdongwang2017.github.io/Projects/HRNet/

[2019-04-23 14:41] zhang-zhenyu opened #863 "utils.make_grid changes the number of the channel"
import torch
import torchvision
import matplotlib.pyplot as plt
from torch.autograd import Variable
from torchvision import datasets, transforms

transform=transforms.Compose([transforms.ToTensor(),
                              transforms.Normalize(mean=[0.5,0.5,0.5],std=[0.5,0.5,0.5])])

data_train=datasets.MNIST(root='./data/',
                          transform=transform,

[2019-04-23 14:44] zhang-zhenyu commented on #863
In the code above, images is a [64, 1, 28, 28] tensor. After executing,  it should return a [1, 242, 242] tensor. But it return a [3, 242, 242] tensor.

[2019-04-23 15:26] fmassa commented on #863
This is done on purpose in https://github.com/pytorch/vision/blob/ccbb3221b7f0637f1706df29d2c2995e9d5171bf/torchvision/utils.py#L44-L45
so that all the images returned by `make_grid` follow the same format.

You can always get the original image back by slicing over the first dimension though, so I don't see any harm in it.

[2019-04-23 15:30] fmassa commented on #834
@mkisantal We will be adding native support for dilation in resnet, so that we don't need to subclass it.

And indeed the reference scripts are meant to be used so that one can retrain (and reproduce) the models in the modelzoo, which will include segmentation models as well. They will be trained on coco / pascal for now.

About `outplanes`, that was a quick addition that I did to `ResNet` to make

[2019-04-23 15:31] fmassa commented on #862
We should do this!

[2019-04-23 16:37] zhang-zhenyu commented on #863
I got the idea, but in my opinion, the consistency of the channel may be better. Thank you anyway.

[2019-04-23 16:37] #863 closed

[2019-04-23 18:09] pmeier commented on #862
I would like to take that up in order to get to know the CI process better. I might need some guidance on where to start.

[2019-04-23 20:10] fmassa commented on #862
@pmeier we would need to pass the `progress` argument of [`load_state_dict_from_url`](https://github.com/pytorch/pytorch/blob/5f82d59c0ae7d017bdb19a28b23fa1c19a0d6a9e/torch/hub.py#L385) into all the call sites of `model_zoo.load_url` https://github.com/pytorch/vision/blob/ccbb3221b7f0637f1706df29d2c2995e9d5171bf/torchvision/models/resnet.py#L196

I'm not yet clear on what is the best way to addres

[2019-04-23 20:16] pmeier commented on #862
1. That part is clear. What I meant is: how do I set `progress=False` for the CI? Or did I misunderstand the problem?
2. Did you choose `resnet` as an example for all models here or is only applicable to it?

[2019-04-23 20:28] SsnL commented on #862
@fmassa  do we use master torchvision in pytorch ci?

@pmeier if the answer to the above question is yes, then after you make the change to torchvision, submit a pr to pytorch/pytorch and fix https://github.com/pytorch/pytorch/blob/5f82d59c0ae7d017bdb19a28b23fa1c19a0d6a9e/test/test_utils.py#L496-L515

[2019-04-23 20:29] SsnL commented on #862
yes, `progress=True, **kwargs` should work.

[2019-04-24 11:07] dhananjayraut opened #864 "corrupt file handling in ImageFolder"
Its frustrating to see entire training stops because of one corrupt file in the dataset folder and This should be a easy fix using PIL's  [Image.verify()](https://pillow.readthedocs.io/en/3.1.x/reference/Image.html#PIL.Image.Image.verify) This method attempts to determine if the file is broken, without actually decoding the image data. I did some checks to see if this can be added
but after readin

[2019-04-24 12:43] surgan12 commented on #864
@dhananjayraut , i see here

https://github.com/pytorch/vision/blob/ccbb3221b7f0637f1706df29d2c2995e9d5171bf/torchvision/datasets/folder.py#L86

redirects to

https://github.com/pytorch/vision/blob/ccbb3221b7f0637f1706df29d2c2995e9d5171bf/torchvision/datasets/folder.py#L45

where  **has_file_allowed_extension(fname, extensions)** is called which is working similiar to the is_image_file .

Here add

[2019-04-24 12:47] dhananjayraut commented on #864
@surgan12 This code **is for parent class** DatasetFolder which is more general class than ImageFolder and adding verify there will not be correct as this class can be used at some other place.

[2019-04-24 13:38] fmassa commented on #864
@dhananjayraut how much slowdown would it bring to add such check into main torchvision? Parsing the file tree is already fairly slow in some filesystems.

Another solution is to inherit from `ImageFolder`, and perform an extra pre-processing step that removes invalid images.
[code]
or something like that

[2019-04-24 13:53] dhananjayraut commented on #864
I know time can be constrain a quick script shows me average time of **3.08e-05** per image with check then normal **3.68e-07** . This will be one time thing when we are creating a Dataset. The problem with your solution is we need to modify self.samples with list of tuples (path, class_to_idx[target] ) and update bunch of things like self.targets etc this basically means the user has to implement

[2019-04-24 14:14] fmassa commented on #864
@dhananjayraut the user only need to implement the aforementioned 4 lines, and use it instead.

I would be willing to accept a PR that adds greater flexibility in `DatasetFolder` to specify the if a file is valid or not.

This would probably mean letting the user pass a callable to `DatasetFolder` which returns True if the file is valid.

So the user would be able to customize as he wants the load

[2019-04-24 14:21] dhananjayraut commented on #864
@fmassa That would be a nice addition as a ImageFolder class needs to do more than just checking extension. Would like to work on that. Any points about design will be great to discuss before actually writing
code.

[2019-04-24 14:25] fmassa commented on #864
Some points:
- `extensions` become an optional argument in https://github.com/pytorch/vision/blob/ccbb3221b7f0637f1706df29d2c2995e9d5171bf/torchvision/datasets/folder.py#L81
- add a `is_valid_file` or something like that in the constructor
- assert that either `extensions` or `is_valid_file` is passed
- replace https://github.com/pytorch/vision/blob/ccbb3221b7f0637f1706df29d2c2995e9d5171bf/torchvi

[2019-04-24 14:43] dhananjayraut commented on #864
which one will be better
- keep extensions compulsory and add a optional is_valid_file which will only be called for valid extension files or
- making extensions optional and one of is_valid_file or extension compulsory.

first one will be more natural  plus will not make user handle extensions if he decide to pass optional callable.
second will be more standard for a library .
both will be backwa

[2019-04-24 14:55] fmassa commented on #864
I think we should make both optional, requiring that one and only one is passed and non-None

This is how it's done for `batch_sampler` / `sampler` / `batch_size` and `drop_last` in DataLoader

[2019-04-24 15:05] fmassa commented on #862
@SsnL not yet, but we will once https://github.com/pytorch/vision/pull/826 get's merged

[2019-04-25 07:45] cormoran opened #869 "Invalid hash error on ImageNet dataset"
In my environment, md5 value of `meta.bin` used in ImageNet dataset is different from the value defined in `imagenet.py`.

`meta.bin` is generated by `torch.save` in the code. I found python2 and3 generate different files.

md5sum hashes are as follows.

- (defined) `7e0d3cf156177e4fc47011cdd30ce706`
- (Python 2.7.16, Ubuntu) `a36fd93cf3900286d99e24ad0a73ce04`
- (Python 3.7.3, Ubuntu) `ca981e8aac1

[2019-04-25 09:05] fmassa commented on #869
cc @pmeier

This might be due to the fact that the information in `meta` is a python dict, which doesn't guarantee any order of how the keys are stored.
So I think we should not have just different hashes per python version, because it could also be system-dependent.

Maybe the simplest is to remove the `md5` checking from `meta.bin`?

[2019-04-25 09:25] pmeier commented on #869
Agreed.

I will try if we get different hashes if we use an `OrderedDict`. If that is still the case:

[2019-04-25 10:37] pmeier commented on #869
Using `OrderedDict`s does *not* fix this. I'll send a fix soon.

[2019-04-25 10:49] pmeier commented on #869
@fmassa Is the logic in `check_integrity` correct?

https://github.com/pytorch/vision/blob/6716fc514c9524abed4f8ca00e4424553990e315/torchvision/datasets/utils.py#L20-L24

Shouldn't we check if the `fpath` exist regardless of the `md5` check? Otherwise this function does no checking at all if `md5=None`.

[2019-04-25 11:22] fmassa commented on #869
@pmeier yes, it seems that this logic it flawed in `check_integrity`. Can you send a PR fixing the order of the checks?

[2019-04-25 11:22] #869 closed

[2019-04-25 11:45] #864 closed

[2019-04-25 14:03] #779 closed

[2019-04-26 07:05] surgan12 commented on #845
@fmassa should this be closed now ?

[2019-04-26 16:23] kateiyas commented on #855
@fmassa Are there news on this already? Using these transforms in video clips would be very useful for us right now.

[2019-04-26 16:33] JuanFMontesinos commented on #855
@kateiyas You can download a pip package called flerken (under development), which contains a framework for pytorch but also torchvision adapted for video
You can import these submodules and they act as a drop-in wrt torchvision transforms
if you input a list of frames instead of a single frame it will apply the same transformation to all of them and then reset with new random parameters
from fler

[2019-04-27 06:18] Kachakhiladi commented on #480
I have the same error as the original poster.

The error is not due to the num_classes. It is due to aux_logits=False instead of the default aux_logits=True.
Any leads ?

[2019-04-27 09:10] sebastienlange opened #877 "[feature proposal] TwentyCrop"
Hi,

I decided to implement TwentyCrop for one of my project. Compared to TenCrop, it flips image BOTH vertically AND horizontally. 💥
The implementation is very easy starting from TenCrop's code! You can see it [here (Google Colab)](https://colab.research.google.com/github/sebastienlange/dermatologist-ai/blob/master/dermatologist_ai.ipynb#scrollTo=a2Tv1HWfOJSt) or [here (GitHub)](https://github.co

[2019-04-29 02:43] #490 closed

[2019-04-30 13:45] kateiyas commented on #855
@JuanFMontesinos Thanks, but a few small adaptations to this package fulfilled my needs: https://github.com/hassony2/torch_videovision
Good luck with your project though!

I hope all of this will be integrated into pytorch soon.

[2019-04-30 14:26] fmassa commented on #855
We got a bit late with the work on video. It won't be present in the 0.3 release, but in the next one.

[2019-04-30 14:53] fmassa commented on #845
Let's close this for now, but if there are more requests to change it to `RandomColorShift`, then why not

[2019-04-30 14:53] #845 closed

[2019-05-01 04:07] dhananjayraut commented on #864
@fmassa the official documentation for dataset folder ([link](https://pytorch.org/docs/stable/torchvision/datasets.html#datasetfolder)) should say that is_valid_file is a callable I don't know why it is not there(the python file has it). also please remove the Image word it's not correct.

[2019-05-02 11:44] D-X-Y opened #880 "Incorrect ResNext Model"
In the original resnext model paper (https://arxiv.org/pdf/1611.05431.pdf), the expansion of their bottleneck block is 2 instead of 4.

[2019-05-02 16:50] fmassa commented on #880
@szagoruyko could you have a look at this? You've mentioned the expansion 2 in the past for WRN

[2019-05-02 18:11] adamjstewart opened #882 "No support for multi-channel images"
Multi-channel images are common in the fields of satellite remote sensing (GIS) and in medical imaging. Many of the multispectral satellites I work with in my research have 8+ spectral bands, not just RGB. Some hyperspectral satellites have as many as 136 spectral bands. Microscopy often involves 4+ channel images as well.

Currently, torchvision relies on the Python Imaging Library (PIL) for all

[2019-05-02 19:05] sibowsb commented on #882
I agree that is indeed a common problem in remote sensing, especially hyperspectral imaging.

[2019-05-02 19:25] szagoruyko commented on #880
in ResNeXt it is 4 from their code https://github.com/facebookresearch/ResNeXt/blob/master/models/resnext.lua#L86
in ImageNet WRN expansion is 2

[2019-05-02 19:49] D-X-Y commented on #880
Yes, but from the paper (Table 1), the expansion of ResNeXt-50 (32×4d) is 2?

[2019-05-03 06:14] pmeier commented on #882
This is an ongoing discussion (although for some other reasons), which leans to option 2. Recently @fmassa [stated](https://github.com/pytorch/vision/pull/861#issuecomment-487136003):

Thus, if I were you, I would go with option 3. for now, but check back regularly for official support.

[2019-05-03 09:00] szagoruyko commented on #880
@D-X-Y torchvision.models.resnext50_32x4d() gives exactly the same model as in table 1. afaik @fmassa implemented it in a such way that the outer bottleneck size is fixed and only the inner can increase / decrease. but the code is a bit confusing yeah.

[2019-05-03 09:16] D-X-Y commented on #880
I see, the model is indeed the same. Sorry for my mistake.

[2019-05-03 09:16] #880 closed

[2019-05-03 09:51] fmassa commented on #880
@szagoruyko if you see ways of making the implementation less confusing, please let me know!

[2019-05-03 18:16] ShahriarSS opened #885 "Transforms for C++ API"
# 🚀 Feature
Hi.
I want to implement transforms using OpenCV for the C++ API after finishing the [C++ models](https://github.com/pytorch/vision/pull/728).

[2019-05-04 08:15] D-X-Y commented on #286
@fmassa  Would you mind providing some detailed hyper-parameters such as number of GPUs, LR, weight decay? Because the parameters for MobileNet and ShuffleNet are quite different from the family of ResNets.

[2019-05-04 19:03] ekagra-ranjan commented on #855
@fmassa What is the rough timeline that you have in mind for releasing the major changes in the `torchvision.transform`?

[2019-05-05 08:29] D-X-Y commented on #645
@setuc Would you mind to share your training scripts for ShuffleNet-V2?  I tried to use the ResNet training scripts but get a very low accuracy.

[2019-05-05 15:09] Usongkam opened #888 "Ask for elastic transform support"
Elastic transform do well on MNIST and some other image datasets.

However, it is not supported in torchvision.transforms , which make it difficult for me to compose an ideal transformation.

Could u please add this to torchvision.transforms in next verision ?

[2019-05-05 18:54] ekagra-ranjan commented on #888
@fmassa If this is to be added then can I take this up?

[2019-05-06 09:43] fmassa commented on #286
Yes, they will all be present in https://github.com/pytorch/vision/tree/master/references/classification

[2019-05-07 07:07] D-X-Y commented on #286
Thanks. Look forward to the future references

[2019-05-07 11:44] fmassa commented on #888
@ekagra-ranjan yes, this is on the plans to be added, a PR adding it would be awesome!

[2019-05-07 13:03] fmassa commented on #885
While using OpenCV is the natural choice, I'm considering modifying the transforms in torchvision to use PyTorch ops. It would thus be natural to also use PyTorch ops in C++.

Thoughts?

[2019-05-07 15:12] soumith commented on #885
i'm more looking forward to using pytorch ops, like grid_sample, F.interpolate, etc.

[2019-05-07 15:39] ShahriarSS commented on #885
Well I guess PyTorch ops would be a better choice. I'll implement the new transforms when they are done. I can help with the new implementation as well if you'd like.

[2019-05-07 18:14] fmassa commented on #392
https://github.com/pytorch/vision/pull/826 has been merged and adds support for NMS on both CPU and GPU

[2019-05-07 18:14] #392 closed

[2019-05-09 22:51] HanbumKo opened #896 "Densenet for CIFAR"
Hi all,
I added Densenet model for CIFAR dataset(Densenet_100_12, Densenet_190_40, Densenet_250_24) in my Densenet code. But I don't know how to upload pretrained model file(.pth). How can I deal with this?

[2019-05-12 03:00] xuzhongyou opened #901 "About training the squeezenet on mnist"
i try to train squeezenet on mnist dataset, but the loss has not changed. Can u show me the strategy about training.

[2019-05-12 08:40] pmeier commented on #901
We  have not much to go on from the information you have given us. You could start with this [basic tutorial](https://pytorch.org/tutorials/beginner/blitz/cifar10_tutorial.html#sphx-glr-beginner-blitz-cifar10-tutorial-py) and successively change the dataset, the classifier, etc. to fit your needs. Otherwise see this [example](https://github.com/pytorch/examples/tree/master/mnist) for MNIST trainin

[2019-05-12 09:02] xuzhongyou commented on #901
i meant that i train the mnist dataset with the official squeezenet, but the loss almost unchanges, i do not know whether the learning strategy, i use sgd(lr = 0.02,mon=0.9). However when i use the batchnormal, the loss can reduce for training. so what's the problem of the official squeezenet, can u show the squeezenet training code not the squeezenet network.

------------------ 原始邮件 ------------

[2019-05-12 09:23] pmeier commented on #901
The weights for `SqueezeNet` provided in the `torchvision` package are trained with [this script](https://github.com/pytorch/examples/tree/master/imagenet). In the future they will be trained [by this](https://github.com/pytorch/vision/blob/master/references/classification/train.py).

Please note that `SqueezeNet` is supposed to be fed by `224x224x3` images while MNIST provides `28x28x1` images. T

[2019-05-12 13:13] xuzhongyou commented on #901
Thank u very much for u answer, i think i have known the problem.

------------------ 原始邮件 ------------------
发件人: "Philip Meier"<notifications@github.com>;
发送时间: 2019年5月12日(星期天) 下午5:23
收件人: "pytorch/vision"<vision@noreply.github.com>;
抄送: "徐忠友"<936214756@qq.com>; "Author"<author@noreply.github.com>;
主题: Re: [pytorch/vision] About training the squeezenet on mnist (#901)

The weights for SqueezeNet

[2019-05-12 16:19] michael-iuzzolino opened #902 "Potential Resnet Inefficiency"
Hi,
I noticed a potential inefficiency with the Resnet implementation in the ordering of maxpool / ReLU operations:
https://github.com/pytorch/vision/blob/50d54a82d1479ffb6dd7469ed05fccdf290a1d84/torchvision/models/resnet.py#L189-L193

This is my thinking:
Consider a 2x2 pooling kernel. If you activate first then maxpool, you're activating 4 values then pooling for a total of 5 operations per kern

[2019-05-13 00:15] virajmavani opened #903 "[Feature_Request] Class based Sampler for Class Incremental/Continual Learning research"
For class incremental learning regime, splitting datasets on the basis of classes is a requirement and currently there isn't any class based sampler which returns a subset of the dataset with specific classes in it be it randomized samples or not for those specific classes. I would like to add a new sampler which randomizes the samples from specific classes and returns the subset. Kindly provide s

[2019-05-13 00:18] virajmavani commented on #903
Oops! I was supposed to open this issue in the torch repository. Closing this. I apologize!

[2019-05-13 00:18] #903 closed

[2019-05-13 01:49] zacurr opened #904 "ImportError: cannot import name '_C'"
After adding C++ API, I tried to install torchvision both way.

pip install -v .
python setup.py install

Installation is successful.

However, when I import torchvision, I got following error.

(Server Spec: Ubuntu 16.04 , Cuda 10 + cudnn 7 , NVIDIA V100 GPU, PyTorch Nightly (13 May, 2019))

root@1ce2a317b759:/home/etri/Desktop/workspace_zacurr/vision_190513# python -c "import torchvision"
Traceb

[2019-05-13 12:11] mdfirman opened #905 "ColorJitter's get_params doesn't have same arguments as __init__"
According to [the docstring](https://github.com/pytorch/vision/blob/master/torchvision/transforms/transforms.py#L876), `ColorJitter.get_params` has arguments `same as that of __init__`.

However, while `ColorJitter.__init__` can accept tuples *or* floats as parameters, `get_params` only accepts tuples:

[code]

This bug means that [workarounds](https://github.com/nianticlabs/monodepth2/blob/master

[2019-05-13 12:55] foreverfc1994 opened #906 "I find some error in googlenet.py ?"
the kernel size should be 5 in  branch3,but there is 3
`self.branch3 = nn.Sequential(
            BasicConv2d(in_channels, ch5x5red, kernel_size=1),
            BasicConv2d(ch5x5red, ch5x5, kernel_size=3, padding=1)
        )`
Why?

[2019-05-13 13:56] TheCodez commented on #906
The model was ported from tensorflow. For some reason they used 3x3 instead of the 5x5.

[2019-05-14 05:47] HobbitLong opened #907 "lower accuracy of pretrained models?"
I evaluated the pretrained models on ImageNet validation set. But somehow I could not get the number reported here:
https://pytorch.org/docs/stable/torchvision/models.html

Using error rates of ResNet18 and ResNet34 as examples:
mine  / reported
31.628 / 30.24 (resnet18)
27.688 / 26.70 (resnet34)

maybe 3 possibilities
(1) the official reported number is from testing set so that my comparison is a

[2019-05-14 16:10] fmassa commented on #907
Hi,

I just run the reference classification script from https://github.com/pytorch/vision/blob/master/references/classification/train.py, changing the line where we define the model to instead use a pre-trained resnet18 model, and I obtained exactly the reported results
[code]

I'd try running the aforementioned script, and if the results don't match, maybe re-download the dataset / model?

[2019-05-14 16:11] fmassa commented on #907
Given that I managed to match results for resnet18, I'm closing this issue, but feel free to reopen it if it still doesn't work.

Note that I'm using a recent PyTorch nightly, and torchvision from master.

[2019-05-14 16:11] #907 closed

[2019-05-14 16:12] fmassa commented on #904
There has probably a problem with your install. Can you try uninstalling torchvision, and reinstall it again?
[code]

[2019-05-14 16:18] fmassa commented on #902
Your analysis seems correct.
But I'm less sure that there will be noticeable perf benefits from inverting both operations when running the full model, given how cheap a single ReLU is compared to the rest of the operations.
Did you profile the execution on the full network, while running on the GPU?

And for mobile devices, we generally fuse conv-bn-relu into a single operation, which makes the or

[2019-05-14 16:34] HobbitLong commented on #907
Thanks!

My friend has helped me identify this problem. The data is corrupted!

[2019-05-14 16:41] fmassa commented on #907
Sure, I'm evaluating it now, I'll get back to you once it's done.

[2019-05-14 17:25] fmassa commented on #907
Here it is the result of evaluating on the training set
[code]

[2019-05-14 17:29] HobbitLong commented on #907
Oh, wait, it's way bad than what I get. It's even slightly worse than what you get on the validation set? Acc@1 69.758 Acc@5 89.078

[2019-05-14 18:15] HobbitLong commented on #907
Seems your results on the training set is not that reasonable. But it might be too much to ask you to help check this back and forth. Thanks a lot for being helpful!

[2019-05-15 04:30] zacurr commented on #904
sorry, i already installed vision (v0.2.2) and started training model.
Next time, I will try this and leave comment. Thank you.

[2019-05-15 21:26] skurzhanskyi opened #908 "Resize the image to have fixed height(width)"
Not sure if I should create an issue but I really didn't find the answer to this question.
In `Resize` we have the possibility either to have both height and width fixed or to get smaller edge fixed. In my task, I need to resize the image to have a fixed height. Is there any way to do this?

[2019-05-16 00:59] zacurr commented on #904
I tried it on the other server, but I got the same error.

Installation was successful.
Using /opt/conda/lib/python3.6/site-packages
Finished processing dependencies for torchvision==0.2.3a0+9077164

python -c "import torch; print(torch.__version__)"

but still i got the error 'cannot import name '_C'
I tried python setup.py clean and install again, but the result is the same

python -c "import to

[2019-05-16 01:32] zacurr commented on #904
under the 'vision' directory,
python -c "impor torchvision" produced import error.
However, under the other directory. it doesn't
Thank you.

[2019-05-16 01:32] #904 closed

[2019-05-16 07:38] pmeier commented on #908
If your images are always oriented as portrait (`height > width`) or landscape (`height < width`) you could wait how #897 plays out. If it is accepted, you can set the `bigger` flag for your purpose and be done with it.

Otherwise you could simply calculate the size yourself:
[code]

[2019-05-16 10:36] iArunava commented on #110
Hi! I went through [test_transforms.py](https://github.com/pytorch/vision/blob/master/test/test_transforms.py) and it seemed to me that tests for all the transforms were implemented except the following:
`CenterCrop`, `RandomResizedCrop`, `RandomSizedCrop`, and `RandomPerspective`
Am I correct? It should be good to close this issue after these 4 are implemented, right?

[2019-05-16 10:49] skurzhanskyi commented on #908
Thanks a lot for your swift answer.
I just thought it is an obvious desire to have this possibility like `Resize(224, None)` or something like this.
If calculate simply for every image in dataset, do you suggest to do it in `collate_fn`?

[2019-05-16 11:02] iArunava commented on #712
`t = T.Compose([T.Lambda(lambda x : x + torch.randn_like(x))])`
this works as expected. I think its safe to close this for now and later revisit if requested. Right?

[2019-05-16 11:11] pmeier commented on #908
Depends if you want to fiddle with it. If you have a non-default `collate_fn`, go for it. Otherwise I think its easier to simply create a custom `Resize` transform:
[code]

[2019-05-16 11:20] skurzhanskyi commented on #908
Looks great, thanks a lot for your help.

[2019-05-16 11:20] #908 closed

[2019-05-16 11:28] #712 closed

[2019-05-19 08:29] zhiqwang opened #913 "[Feature Request] models structure for CIFAR10 datasets"
The image size of ImageNets dataset is 224x224, which is different from the size of CIFAR10 datasets (32x32). I didn't know is there a plan to modify the networks (ResNet, DenseNet, MobileNet) of ImageNet to adapt the CIFAR10, like this [one](https://github.com/kuangliu/pytorch-cifar)?

[2019-05-19 10:04] oknuutti commented on #906
Maybe a bug in the tensorflow model? I think it should be 5x5. Maybe it's missing a second 3x3 convolutional layer? That would also result in an overall 5x5 convolution. I noticed that batch normalization is used, so based on e.g. [this post](https://towardsdatascience.com/a-simple-guide-to-the-versions-of-the-inception-network-7fc52b863202), the model here seems to be inception-v2 instead of the

[2019-05-19 11:14] TheCodez commented on #906
It’s most likely a bug, but it’s something that can’t easily be changed without retraining the model. If someone can change the 3x3 convolution to 5x5 and retrains the PyTorch model and gets the same or even a better accuracy that would be great, but that’s most likely not going to happen.

The Inception v2 model or also referred to as BN-Inception has more changes than just replacing one 5x5 with

[2019-05-19 14:05] D-X-Y opened #915 "[Feature Request] LMDB Dataset for ImageNet"
Is it possible to support LMDB for ImageNet as this one `https://github.com/pytorch/vision/blob/master/torchvision/datasets/lsun.py#L22`. One benefit is that we do not need to save 1.28 M small images on the disk, instead, we can save the whole ImageNet into one single file (maybe several files).

[2019-05-20 07:09] kuangliu opened #923 "[BUG] ops.RoIPool produces different result when spatial_scale=0.5"
minimal script:
[code]
which produces:
[code]

I looked further, the difference is because of the different behavior between numpy/pytorch round, and c++ round:
[code]
I add a small eps to torch.round:
[code]
the outputs are same now.

[2019-05-20 07:14] #923 closed

[2019-05-20 14:53] AtlantixJJ opened #926 "Inceptionv3 weight is not consistent with tensorflow"
I am trying to reproduce the Frechet Inception Distance with Pytorch. The original code uses InceptionV3 trained with Tensorflow. But using the pretrained weight provided by Pytorch, the behavior is much different with Tensorflow version.

After some research I found that the weight is totally different. For example, the first convolution kernel data of Pytorch is:

[code]

While tensorflow is

[c

[2019-05-21 01:57] mathpopo opened #931 "c10/cuda/CUDAGuard.h need CUDA10?"
torchvision/csrc/cuda/vision.h   no c10/cuda/CUDAGuard.h?

i use cuda9.0

[2019-05-21 02:44] mathpopo commented on #931
c10/cuda/CUDAGuard.h belong to torch,but i install torch 1.0.0,do not include it ?

[2019-05-21 08:36] fmassa commented on #931
torchvision master (and the upcoming 0.3 release) now requires PyTorch 1.1, and doesn't work with PyTorch 1.0

[2019-05-21 08:36] #931 closed

[2019-05-21 13:09] kerry-Cho opened #936 "Windows build error [THC/THCNumerics.cuh(190): error: more than one operator ]"
**Hi**
**If clone the source and run setuppy, get the following error:**
**What is the problem?**

**Look forward to release 0.2.3 version.**
**Thanks!!!! ^^**

c:/local/Anaconda3-4.1.1-Windows-x86_64/lib/site-packages/torch/include\THC/THCNumerics.cuh(190): error: more than one operator "<" matches these operands:
            built-in operator "arithmetic < arithmetic"
            function "opera

[2019-05-21 13:37] kerry-Cho commented on #936
**Add Build Flag -D__CUDA_NO_HALF_OPERATORS__ get the following error:**

D:/Git/vision/torchvision/csrc/cuda/ROIAlign_cuda.cu(329): error: no instance of function template "at::cuda::ATenCeilDiv" matches the argument list
            argument types are: (long long, long)
D:/Git/vision/torchvision/csrc/cuda/ROIAlign_cuda.cu(329): error: no instance of overloaded function "std::min" matches the arg

[2019-05-21 14:10] kerry-Cho commented on #936
*If build without using CUDA, it will be build without any problem.*

[2019-05-21 15:59] fmassa commented on #936
Hi,

You need PyTorch 1.1 or a recent enough nightly.
Torchvision is not compatible with 1.0 or 1.0.1

[2019-05-21 15:59] #936 closed

[2019-05-21 19:54] ekagra-ranjan commented on #926
The model was converted from Tensorflow as mentioned in the [comment](https://github.com/pytorch/vision/issues/798#issuecomment-473298108) and in the original [PR](https://github.com/pytorch/vision/pull/101). @colesbury Can you please help here?

[2019-05-21 23:52] colesbury commented on #926
It's been over two years so I don't remember all the details. But:

1) Convolution weights are permuted because PyTorch uses a different native ordering (in_channels, out_channels, kh, kw) vs. (kh, kw, out_channels, in_channels)
2) The first convolution weights ares scaled by [0.458, 0.448, 0.450] in the input RGB channels. This looks like an attempt to transform from PyTorch input scaling (from p

[2019-05-21 23:55] colesbury commented on #926
Note that none of these things seem to make a significant difference on ImageNet validation accuracy. Top-5 accuracy doesn't change by more than 0.1% points.

[2019-05-22 00:57] noNameForMe1994 opened #940 "Failed to build from source with 'ImportError: cannot import name '_C'"
I'm trying to install the torchvision from source with command
`python setup.py install`
It was succeed, but when I try to import it with
`import torchvision`
There is an error with 'ImportError: cannot import name '_C'

[code]
I'm using Ubuntu 16.04, python 3.6.7 , GCC7.3.0, CUDA 9.0, NVIDIA K80 GPU and Pytorch 1.1

[2019-05-22 00:58] noNameForMe1994 commented on #940
After trying to reinstall with command
`python setup.py clean`
`python setup.py install`

The error still exists

[2019-05-22 01:17] tribbloid commented on #329
why it is closed if you haven't found a solution to it?

[2019-05-22 02:20] AtlantixJJ commented on #926
Thank you for your response!
But in my experiment, the Pytorch InceptionV3 diverge significantly with Tensorflow InceptionV3.
To help you reproduce, I uploaded my code: https://github.com/AtlantixJJ/PytorchInceptionV3.
The output of `python test_inception.py` is :
[code]
The feature of pool3 differs with large margin.

[2019-05-22 04:30] zacurr commented on #940
#904
Under the vision directory, it produced import error.
try import torchvision under the other directory.

[2019-05-22 06:09] fmassa commented on #940
@noNameForMe1994 can you try changing directories, as pointed out by @zacurr ?

[2019-05-22 10:18] karanchahal opened #942 "Numpy NMS is as fast as C++ CPU NMS"
Hello,

I was going through the recent object detection code contributed by @fmassa and saw custom c++ extensions of NMS in the codebase.

 I tried benchmarking how much faster the c++ cpu ops are compared to numpy nms ops.

I discovered that the speed difference is almost negligible in the case of the cpu version. That is the speed of nms of the c++ version is 0.001 ms whereas the speed of the nu

[2019-05-22 10:55] fmassa commented on #942
Hi,

We don't have numpy as a hard-dependency of torchvision, so at least we would need to have it be written with PyTorch ops.

Also, could you try benchmarking with more anchors, like 2000 or 6000? I'd expect that the difference would grow bigger.

Given that we already have the ops implemented in C++, and that we will be adding support for the jit mode in the future, and we will be providing pr

[2019-05-22 11:09] karanchahal commented on #942
Alright, makes sense

[2019-05-22 11:09] #942 closed

[2019-05-22 14:10] kerry-Cho opened #944 "MSBuild casting error"
Hi.
casting error when compiling with MSBuild.
occurs in the code below.
I can not push and attach the code.

Also #936  It has not been resolved.
This is not a problem with version 1.1.0.

if ignore that part The build will be.
Thanks

*ROIAlign_cuda.cu*

<code>
line 329
 dim3 grid(std::min(at::cuda::ATenCeilDiv(output_size, 512L), 4096L));

line 382
 dim3 grid(std::min(at::cuda::ATenCeilDiv(grad

[2019-05-22 14:40] fmassa commented on #944
I see. I might need to add a `int64_t` casting just before `4096L`. Can you try it out and report back if it works for you? If yes, I can update the code with the new casting.

[2019-05-22 21:41] barrh opened #946 "v0.3: Import error [CUDA10]"
I pip-installed torchvision==0.3 and while trying to load a model, I'm consistently getting import error on a cuda file: libcudart.so.9.0: cannot open shared object file.
When building from source, it works fine.

I'm running Ubuntu 16.04 with CUDA10, and python3.6.8.
Is there a special build for cuda10 a la https://download.pytorch.org/whl/cu100/torch ?

[...trying to load a model...]
File "/env/

[2019-05-22 22:35] rwightman commented on #926
Almost 2 years ago now, while working on an adversarial challenge, I noticed that the PyTorch pretrained weights differed from the Tensorflow slim weights (http://download.tensorflow.org/models/inception_v3_2016_08_28.tar.gz)

I ported the weights myself back then to maxmize transfer of attacks to the default TF inception_v3 model. I still have the weights, perhaps they are close enough for the OP

[2019-05-22 23:50] neerajprad commented on #946
We are also facing the same issue with CPU wheels on linux with torchvision==0.3.0

[2019-05-22 23:58] kerry-Cho commented on #944
The code below works.
Thanks ! ^^

<code>
dim3 grid(std::min(at::cuda::ATenCeilDiv(static_cast<int64_t>(output_size), static_cast<int64_t>(512)), static_cast<int64_t>(4096)));

[2019-05-23 01:23] soumith commented on #946
the website pytorch.org has updated commands that provide wheels specific to each cuda version or cpu-inly version for torchvision

[2019-05-23 02:02] soumith commented on #946
hopefully my comment addresses the issue. If not, please reopen or comment.

[2019-05-23 02:02] #946 closed

[2019-05-23 05:37] neerajprad commented on #946
Thanks, @soumith. Tested this, and it works great.

[2019-05-23 08:01] koenvandesande opened #947 "Read COCO dataset from ZIP file?"
For large datasets on e.g. university clusters, where your data storage is an NFS mount, reading individual files can be slow. It also doesn't support reading ahead. In the cloud, you typically have SSD storage, but unzipping the dataset still takes time.

Would you be open to receiving a pull request that reads the COCO dataset from its zipped version? It adds around 10 lines in the COCO Detectio

[2019-05-23 08:03] peterjc123 opened #948 "test_folder is failing on Windows"
Using `assert_equal` on file paths is not robust enough. We have `\\` instead of `/` as the separator in paths on Windows.

[2019-05-23 08:36] barrh opened #949 "torchvision[cuda10] installs default pytorch build, instead of cuda10 build"
torchvision and pytorch are required to be built in similar environment.
Currently, when calling pip-install on cuda10 build of torchvision, (if torch is not already installed) it implicitly installs the default Pytorch build, which - as of today - is built against cuda9, resulting in raising an error during run-time.

e.g.
`pip install torchvision[cuda10_package] torch[cuda10_package]` - will wor

[2019-05-23 08:53] barrh commented on #946
thanks @soumith
now it works.
However, during reinstalling the package, I have encountered a secondary issue: https://github.com/pytorch/vision/issues/949

[2019-05-23 09:39] fmassa commented on #949
Good question. I think that with conda everything should work out fine, given that we have separated out the CUDA version into a different package.

I don't know how to solve the `pip` issue though. @soumith do you have an idea?

[2019-05-23 09:40] fmassa commented on #944
@kerry-Cho can you send a PR that works for your system?
Thanks!

[2019-05-23 09:44] fmassa commented on #947
You mean that all the images are in a `zip` file?
And how would the structure of the reading be? Does it unzip it all locally, or read the zipped file without uncompressing it all?

In general, I don't see why this would be something specific to the COCO dataset. But finding a generic way of supporting this for all datasets is something that would be great to have.

[2019-05-23 09:55] koenvandesande commented on #947
Yes, all the images are in a zip file and they are read without unzipping. With the constraint (added by me) that the ZIP file shouldn't use compression (which is the case for COCO).
Note that ZIP files are suited for this because they have an index. For tar files, it isn't very efficient because you need to walk over the entire file first to build an index.
I'll first create something just for CO

[2019-05-23 10:00] mayaghaei commented on #514
I just discovered a way to do this, I am not sure it can be solution to your problem, but I'll share it in case it can be useful to others.
In my case I had multi-channel Tiff images, and I wanted to classify them using CNNs in Pytorch. I honestly gave up on data augmentation using Transforms in Pytorch, and I performed data augmentation offline (let's say in my input folders I have original data

[2019-05-23 10:30] koenvandesande commented on #947
This could easily apply to the following datasets as well (because they are stored as ZIP files):
- celeba
- omniglot
- phototour (though not really, because it does postprocessing on the files after extraction)

[2019-05-23 11:24] kerry-Cho commented on #944
Build Tool : Python 3.5.6 :: Anaconda 4.1.1 (64-bit , VSCode)
OS :            Windows 10 Pro Build Version 17134
Compiler :  Microsoft Visual Studio  2017  Version 15.9.11
CUDA :      Cuda compilation tools, release 10.0, V10.0.130
Cudnn:      cudnn-10.0-v7.3.1

tell me if  more have the information you need.
Thanks

[2019-05-23 11:38] fmassa commented on #944
@kerry-Cho sending a PR with the fix would be great! :-)

[2019-05-23 11:41] fmassa commented on #948
@peterjc123 I suppose the error comes from https://github.com/pytorch/vision/blob/249cfbf5fef41ee30f380d895ad451b0d16d2947/test/test_folder.py#L28 ?
Would a fix be to replace
https://github.com/pytorch/vision/blob/249cfbf5fef41ee30f380d895ad451b0d16d2947/test/test_folder.py#L19
with
[code]
and similarly in the line below?

[2019-05-23 12:25] kerry-Cho commented on #944
I am INVENIA Corporation. Senior Researcher. Is this the answer Right? ^^....

[2019-05-23 12:40] soumith commented on #949
@barrh can you say what EXACT commands you are using in each case. It's not clear to me what you have tried, so getting clarity on that will help me understand what's going on.

[2019-05-23 12:50] kerry-Cho commented on #944
sent. PR! Thanks

[2019-05-23 13:12] #948 closed

[2019-05-23 13:37] barrh commented on #949
@soumith The following installation scenarios will fail to run on cuda10 system:
1.
``pip install https://download.pytorch.org/whl/cu100/torchvision-0.3.0-cp36-cp36m-linux_x86_64.whl;
pip install https://download.pytorch.org/whl/cu100/torch-1.1.0-cp36-cp36m-linux_x86_64.whl``
2.
``pip install https://download.pytorch.org/whl/cu100/torch-1.1.0-cp36-cp36m-linux_x86_64.whl torchvision; pip install --

[2019-05-23 14:13] fmassa commented on #944
Fixed by https://github.com/pytorch/vision/issues/944 with fixes from @kerry-Cho , thanks a lot!

[2019-05-23 14:13] #944 closed

[2019-05-24 02:44] AtlantixJJ commented on #926
You are right. For Frechet Inception DIstance task, the original weight actually does better than the weight that I ported myself. Although the feature absolute difference is large, the result is closer than just copying tensorflow model's weight.

[2019-05-24 09:12] fmassa commented on #615
We now provide reference training scripts for classification, detection and segmentation under the `references/` folder in torchvision.
I will be adding the command-line arguments used for training those models in a follow-up PR

[2019-05-24 09:12] #615 closed

[2019-05-24 09:15] fmassa commented on #329
@tribbloid in 0.3, we provide reference training scripts for classification, detection and segmentation.
It includes inside helper functions to perform data transformation on segmentation masks / bounding boxes / keypoints.

They are currently under the `references/` folder in the torchvision repo, and once we are more clear on the API it will be moved to the torchvision package

[2019-05-24 11:47] 1771203081 opened #958 "multi-gpu on detection and segmentation"
would you add a function that enable we to train detection model and segmentation model on multi-gpu

[2019-05-24 13:30] koenvandesande commented on #958
Why not have a look here: https://github.com/facebookresearch/maskrcnn-benchmark

[2019-05-24 13:39] 1771203081 commented on #958
thank you ,but the  maskrcnn-benchmark is complex for me ,..

[2019-05-24 14:26] fmassa commented on #958
@1771203081 there is multi-gpu detection and segmentation scripts available in `references/` folder here, see https://github.com/pytorch/vision/tree/master/references

[2019-05-24 14:26] #958 closed

[2019-05-24 14:28] fmassa commented on #958
In particular, here is the training script for multi-gpu detection https://github.com/pytorch/vision/blob/master/references/detection/train.py

You can run it with
[code]

[2019-05-25 08:28] uestc7d opened #959 "Got Error when an input image with specific size was feed to the detection module."
### Environments
[code]

### How to reproduce
Upgrade torchvision version to 0.3.0, run the following code with `python 2.7`:
[code]

Got Error message:
[code]

[2019-05-25 09:06] kerry-Cho commented on #959
The model has a minimum maximum input range. Check it out. This can be set when training the model.

[2019-05-25 11:09] fmassa commented on #959
Fixed via https://github.com/pytorch/vision/pull/960

[2019-05-25 11:09] #959 closed

[2019-05-25 13:21] D201830280253 commented on #940
@noNameForMe1994  have you solved the error? I meet with the same error in google colab and my own computer.

[2019-05-25 14:41] fmassa commented on #940
Did you try compiling the library again? There might have been an issue compiling / installing torchvision

[2019-05-26 16:31] soumith commented on #949
hmmm, yea there isn't a easy pip fix to it, but there **is** a way to fix this. I opened an issue on PyTorch to address it, but it will take a bit of effort from my side https://github.com/pytorch/pytorch/issues/19990

[2019-05-27 13:52] cowry5 opened #962 "Memory size occupied by fasterrcnn_resnet50_fpn?"
I am doing a object detection task and I fine-tune the fasterrcnn_resnet50_fpn model on my own dataset。
[code]
But when I train, I have to set the batchsize to 1 because the model occupies 11g of gpu memory.
![image](https://user-images.githubusercontent.com/32674827/58424349-d1e8fd80-80c9-11e9-9bbd-e5c93490cd25.png)

Is this model so big?

[2019-05-27 14:30] fmassa commented on #962
You should use `torch.cuda.max_memory_allocated()` to log the memory used, as just checking `nvidia-smi` is not reliable because we have a caching allocator.

Using the default configurations, `fasterrcnn_resnet50_fpn` should use 5.2GB, as you can see in https://pytorch.org/docs/stable/torchvision/models.html#runtime-characteristics

Also, if you want to save even more memory during training, you

[2019-05-27 14:30] #962 closed

[2019-05-27 15:11] fmassa commented on #915
I think that if you have already worked on getting a LMDB out of ImageNet individual files, then writing a custom `dataset` for it should be straightforward, right?

[2019-05-27 15:15] fmassa commented on #913
There is no current plan to provide Cifar-style models in torchvision.

The models in torchvision have all been implemented following the description in their original papers. But many of those models do not have equivalent descriptions for cifar / mnist.

I believe we will just stick with imagenet-size for now in torchvision, as it covers more cases.

[2019-05-27 15:15] #913 closed

[2019-05-27 15:18] fmassa commented on #853
While this is a valid point, I don't quite agree that each class should provide a unique type of `state_dict`.

I'm closing this issue then, but feel free to reopen it if you disagree.

[2019-05-27 15:18] #853 closed

[2019-05-27 15:29] fmassa commented on #896
Hi,

We are currently not planning on adding support for cifar-style models in torchvision, because they generally do not transfer as well as ImageNet-style models for other tasks.

Thanks anyway!

[2019-05-27 15:29] #896 closed

[2019-05-27 15:31] fmassa commented on #110
@iArunava yes, this should be right.

I'm about to open an issue about writing unit tests for datasets, so we can close this issue once those remaining tests have been implemented.

[2019-05-27 17:11] fmassa opened #963 "Add tests for datasets"
We should add unit tests for datasets. This will enable the codebase to be more reliable, and I expect that adding new datasets to torchvision will be a more straightforward procedure for the reviewer, as he will be able to rely on CI for a lot of the code checking.

We need to define how we will structure the tests for the datasets in order to avoid having to download the full datasets in memory,

[2019-05-27 17:24] soumith commented on #963
you can do things like mocking, where a fake OS / fake filesystem / fake files are read and processed, and we assert that the right things happened when interacting with this fake OS.

See https://www.toptal.com/python/an-introduction-to-mocking-in-python for example and look for `rm` and how the test for file removal

[2019-05-27 17:28] soumith commented on #963
alternatively,

1. for small datasets, full download and test
2. for large datasets, tiny fake dataset

i think that's reasonable compromise

[2019-05-28 05:21] D-X-Y commented on #915
If we already have an LMDB file, yes. Is that possible to integrate building LMDB in the initial function of `ImageNet-LMDB dataset class`?

[2019-05-28 15:02] fmassa commented on #963
I'm currently implementing the "small" dataset downloading locally, and for MNIST / EMNIST / KMNIST / FashionMNIST, it takes 3 min to run a trivial test on my laptop.

I think that the small-dataset size might need to be smaller than EMNIST for tests to run reasonably fast.

I'll soon push a PR to test how long it takes CI to download it.

[2019-05-29 00:20] xzhu1900 opened #967 "torchvision 0.3.0 is not compatible with latest pytorch"
It seems torchvision 0.3.0 is not compatible with latest pytorch. I installed pytorch from source and installed torchvision from pip package (version 0.3.0). And I get an ImportError when trying to import torchvision:

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/opt/miniconda/lib/python3.7/site-packages/torchvision/__init__.py", line 1, in <module>
    from to

[2019-05-29 04:14] dungmn commented on #477
@fmassa When is the model Roi pooling  available on the master branch ?

[2019-05-29 04:18] wadimkehl commented on #477
It already is with [0.3](https://github.com/pytorch/vision/releases)

[2019-05-29 04:21] soumith commented on #967
unfortunately, installing torchvision from package with a source build of pytorch will not work for the near future (i think it might never work)

[2019-05-29 11:54] leconteur opened #968 "Printing the STL10 dataset raises an attribute error"
The __repr__ method uses the attribute `transforms` of the dataset object. However, only `transform` is defined.

[code]

[2019-05-29 12:01] fmassa commented on #968
Good catch, I'm working on a fix right now

[2019-05-29 12:11] fmassa commented on #968
@leconteur can you try applying https://github.com/pytorch/vision/pull/969 ?
This should fix your error

[2019-05-29 12:25] leconteur commented on #968
I think it broke the downloading logic. I cleaned the folder where the dataset was downloaded and run this.

[code]

[2019-05-29 12:38] fmassa commented on #968
Ok, thanks for letting me know, I'll get it fixed properly :-D

[2019-05-29 12:43] rcourivaud opened #970 "Add S3 Bucket Dataset"
Download data from S3 and handle categories like ImageFolder Dataset

[2019-05-29 12:47] dlmacedo commented on #712
I believe randn_like generates uniform distribution... Not Guassian distribution...

[2019-05-29 13:00] fmassa commented on #970
I suppose the data format in S3 could be arbitrary? Like a zip with images, or a binary file, etc?

So there is no single S3 bucket dataset that would apply, right?

Instead, having a functionality that easily downloads from S3 might be the most generic approach, and I believe there are already libraries that do that.

[2019-05-29 13:19] fmassa commented on #968
Should be fixed now

[2019-05-29 13:44] #968 closed

[2019-05-29 16:20] #167 closed

[2019-05-29 17:29] xzhu1900 commented on #967
Hmm... It was working fine for me till last Friday, so I thought there might be a regression. Maybe I was just lucky and this is never officially supported?

Currently I am working around this by also building torchvision from source. But this could be a bit less stable. Is there a nightly torchvision build or something that is more up-to-date but also compatible with a source build of pytorch?

T

[2019-05-29 17:59] fmassa commented on #967
@xzhu1900 you can always build `torchvision` from the `v0.3.0` branch, should should address the stability concerns that you have

[2019-05-29 18:21] xzhu1900 commented on #967
@fmassa Just verified that v0.3.0 works. Thanks!

[2019-05-29 18:21] #967 closed

[2019-05-30 16:51] HanbumKo commented on #896
Thanks!

[2019-05-30 16:56] yaysummeriscoming opened #973 "Mobilenet v2 width multiplier incorrect"
There seems to be a small issue with the width multiplier in mobilenet v2.  The official implementation rounds filter channels to a multiple of 8.

For example, mobilenet v2 width 1.4.  The first conv layer has 44 channels as opposed to 48 in the official implementation:
model = torchvision.models.mobilenet_v2(width_mult=1.4)

for module in model.modules():
    if isinstance(module, nn.Conv2d):

[2019-05-30 23:48] wangjinjie722 commented on #696
Still cannot solve this problem in the latest or 0.2.1 version torchvision.

[2019-05-31 15:51] jordandraper opened #977 "Build from Source Error '/usr/local/cuda/lib64' is not a directory"
OS: macOS High Sierra 10.13.6 (17G2307)
Xcode: 10.1 (10B61)
Apple LLVM: 10.0.0
CUDA Toolkit: 10.1 with cuDNN for CUDA 10.1

I successfully built/installed PyTorch from source. Then went to build/install Torch Vision but kept running into this error:

[code]
Something about the build is pointing to `'/usr/local/cuda/lib64'` even though the newest CUDA 10.1 installation uses `'/usr/local/cuda/lib'`.

[2019-05-31 16:45] fmassa commented on #973
Thanks for spotting this difference!

Yes, sending a PR would be great!

One question: does it change the behavior of the model for `width_multiplier=1`?

[2019-05-31 17:20] fmassa commented on #977
What command did you use to install `torchvision`?

This might be a problem with our cpp extension picking the wrong directory.

cc @yf225 [this part of the code](https://github.com/pytorch/pytorch/blob/0223d3744ad6d2f5c5b7ba8a1a687c94ae25e56d/torch/utils/cpp_extension.py#L525-L549) might have a limitation that could potentially be fixed

[2019-05-31 17:23] jordandraper commented on #977
@fmassa I used `MACOSX_DEPLOYMENT_TARGET=10.9 CC=clang CXX=clang++ python setup.py install`

[2019-05-31 17:36] fmassa commented on #977
Ok, thanks!

This looks like something that we should fix in PyTorch.

[2019-05-31 19:25] fboylu opened #978 "Load pre-trained fasterrcnn with AnchorGenerator()"
Hi I am trying to run the following:
[code]

and getting the following error:

---------------------------------------------------------------------------
RuntimeError                              Traceback (most recent call last)
<ipython-input-1-a4a1cbb45eff> in <module>
      5                                    aspect_ratios=((0.25, 0.5, 1.0, 2.0),))
      6
----> 7 model = torchvision.models.

[2019-06-01 19:38] varunagrawal commented on #940
I may have some input to help debug this. The correspoding `_C.so` file is only created when you run `pip install -e .` so the import works only then.
However that being said, I don't see this issue anymore so it may have been fixed by some update to `setup.py`.

@noNameForMe1994 can you please run `pip install -e .` and try again? Or try again with the latest master?

[2019-06-02 15:11] timonbimon opened #980 "[Feature Request] Add EfficientNet"
https://ai.googleblog.com/2019/05/efficientnet-improving-accuracy-and.html

It seems like EfficientNet is faster and better than most the other nets out there currently. Would be awesome to see it torchvision soon! :)

[2019-06-02 15:43] soumith commented on #980
fyi it's available in https://github.com/rwightman/pytorch-image-models/blob/master/models/gen_efficientnet.py already

[2019-06-02 15:57] yepw opened #981 "'fillcolor' accepts tuple"
According to [here](https://discuss.pytorch.org/t/why-must-fillcolor-be-an-int-torchvision-transforms-randomaffine/46775), we can pass an RGB color (a tuple) or a greyscale color (an int) to `transforms.RandomAffine`. But the [documentation](https://pytorch.org/docs/stable/torchvision/transforms.html#torchvision.transforms.RandomAffine) says the `fillcolor` argument can only be an int. This might

[2019-06-03 01:53] cdluminate commented on #980
Would be awesome if it's available in torchvision.

[2019-06-03 04:22] frizk123 opened #982 "MobileNetV2 export to ONNX fails"
#https://github.com/pytorch/pytorch/issues/20516

[2019-06-03 04:38] frizk123 commented on #982
#983

[2019-06-03 09:36] fmassa commented on #978
Hi,

The number / type of anchors will affect how the layout of the weights are setup in the `rpn_head`, so you'll also need to reset from scratch the `rpn_head`.

I'd recommend first loading the pre-trained model without modifications, and then change the `anchor_generator` and the `rpn_head` accordingly, because the number of anchors will affect the number of input channels to the `rpn_head`.

A

[2019-06-03 09:45] fmassa commented on #980
It would also be great to have a training script that reproduces `EfficientNet`, from what I saw in the paper they also use some different training hyperparameters / tricks to improve the trained models, so it might take some effort to have reproducible training scripts for those.

[2019-06-03 13:08] buus2 opened #984 "problem with RAM allocating in FasterRCNN"
Hello. First of all I'd like to thank for adding object detection models to torchvision, it's a great help for the community.

However, I encountered a problem while trying to use them. I just copied the example code from https://github.com/pytorch/vision/blob/3d5610391eaef38ae802ffe8b693ac17b13bd5d1/torchvision/models/detection/faster_rcnn.py#L102-L140
to a jupyter notebook and realized that duri

[2019-06-03 13:23] fmassa commented on #984
The example model that is present in the documentation is not optimized at all for faster runtime, and indeed uses a lot of memory in the `rpn_head` because it has a huge convolution there (using 1280 input channels, and with 1280 output channels, for a large input!). You need to use a different `rpn_head` for it to be more memory efficient (for example, by having a conv going from 1280 channels t

[2019-06-03 13:42] fboylu commented on #978
@fmassa thank you. I actually do want to use FPN. I initially tried

model = torchvision.models.detection.fasterrcnn_resnet50_fpn(pretrained=True)
anchor_generator = AnchorGenerator(sizes=((16, 32, 64, 128, 256, 512),),
                                   aspect_ratios=((0.25, 0.5, 1.0, 2.0),))

model.rpn.anchor_generator = anchor_generator

but then I get the following:
---------------------------

[2019-06-03 13:44] buus2 commented on #984
Sorry for being unclear, I will try to explain my problem in a clearer way.

The huge size of the model is not a problem.
The problem is that each execution of `model(x)` takes a lot of RAM and does not release it afterwards. Therefore, RAM becomes clogged after several forwardpropagations.

[2019-06-03 14:23] buus2 commented on #984
The simplest example: notebook consisting of two cells:
[code]
and
[code]
After running the first cell the process takes 408 MB of RAM. Then after running `model(x)` several times it takes 2.9 GB, 5.1 GB, 7.2 GB, 9.5 GB and so on and it does not drop after 10 minutes. The outputs consist of empty tensors only (there are no bboxes predicted).

[2019-06-03 14:36] fmassa commented on #984
@buus2 can you try
[code]
and report back? There might be a reference that's kept in the forward that I might need to be fixed somewhere

[2019-06-03 14:41] buus2 commented on #984
@fmassa you are right, with `no_grad` RAM does not clog.
Could you please suggest a workaround for forwardpropagation during training?

[2019-06-03 14:49] fmassa commented on #978
If you want to use the FPN, then you should specify as many tuples as the number of feature maps that you want to extract the RoIs from.
So I'd change the code to be

[code]

Let me know if this works for you

[2019-06-03 14:50] fmassa commented on #984
there should be no problem during training if you do `backward` afterwards.

What's your use-case? Computing the loss without updating the model parameters?

[2019-06-03 14:54] fmassa commented on #984
Also, I couldn't reproduce the leak that you are mentioning.

The memory gets stabilized after the second forward, so there seems to be no references that are kept.

[2019-06-03 14:54] buus2 commented on #984
I am just trying to do an ordinary transfer learning. OK, so I will add `with torch.no_grad():` in the forwardpropagation in the training loop as well, thanks a lot!

[2019-06-03 14:58] fmassa commented on #984
@buus2 as I mentioned before, just forwarding the model a number of times didn't show any leak for me, even without `torch.no_grad()`, so maybe you are holding references in your code to the output?
Note that if you do

[code]
this will hold the full computational graph in memory, and will look like a memory leak.

I'm closing this as this is doesn't seem to be an issue with the model itself, but

[2019-06-03 14:58] #984 closed

[2019-06-03 15:05] buus2 commented on #984
I experience the described issue in the notebook consisting of exactly the 6 lines of code that I wrote above.

I use:
- Python 3.6.7 (default, Oct 22 2018, 11:32:17) \n[GCC 8.2.0]
- Jupyter Lab 0.34.8
- PyTorch 1.1.0
- TorchVision 0.3.0

I will experiment with other Python and Jupyter Notebook/Lab versions. If I find something interesting, I will report it here. Thanks for help!

[2019-06-03 15:41] xXBasti opened #986 "Faster RCNN on Own Dataset"
Hi all,

I am trying to train a modification of the Faster RCNN with a changed Head on my own dataset.
I followed the tutorial on https://pytorch.org/tutorials/intermediate/torchvision_tutorial.html.

As I want to use the Faster RCNN for detection only, I changed to part for the data loader:
So that __getitems__ returns:
        target["boxes"] = #coordinates of the bounding box between 0 and H or

[2019-06-03 16:05] fboylu commented on #978
This works, Thank you!   I was originally planning to use maskrcnns but my custom dataset does not have masks. If I used the following instead of the fasterrcnn_resnet50_fpn above, how can I turn the masks off?

[code]

[2019-06-03 16:14] fmassa commented on #978
I suppose you are using `maskrcnn_resnet50_fpn` instead of `fasterrcnn_resnet50_fpn` because it gives better results for detection?

Anyway, here is the check that sees if masks are available
https://github.com/pytorch/vision/blob/04188377c54aa9073e4c2496ddd9996da9fda629/torchvision/models/detection/roi_heads.py#L375-L382

So if you do
[code]
it should stop computing the head branch.

[2019-06-03 16:16] fmassa commented on #984
@buus2 maybe when you do `model(x)` in a jupyter notebook it holds the data internally?

Could you try doing
[code]
instead and see if it still leaks?

[2019-06-03 16:18] fmassa commented on #986
Note that if you changed the backbone, it will take some time (and a lot of data) before it actually starts to learn something.

So that's probably the reason why it's not working at all for you.
Using transfer learning (with the same backbone) trains much faster

[2019-06-03 18:18] fboylu commented on #978
Yes, that's correct using maskrcnn for better predictions.  I have seen that check before while I was debugging the error I was getting but using that you still get an error with coco_eval.py, how can I fix that? Thank you...

--------------------------------------------------------------------------
KeyError                                  Traceback (most recent call last)
<ipython-input-19-46b5

[2019-06-03 18:40] fboylu commented on #978
I think this check below is doing that:

https://github.com/pytorch/vision/blob/04188377c54aa9073e4c2496ddd9996da9fda629/references/detection/engine.py#L56-L65

[2019-06-04 00:07] bhack commented on #980
https://github.com/lukemelas/EfficientNet-PyTorch/blob/master/README.md /cc @lukemelas

[2019-06-04 00:18] bhack opened #987 "HRNet models"
HRNet family for different tasks.

PyTorch reference impl:
https://github.com/HRNet

[2019-06-04 01:44] lukemelas commented on #980
Thanks for looping me in, @bhack. Yes, it would be great to merge EfficientNet into torchvision!

I don't think we're quite ready yet, though -- as @fmassa mentioned, we have to first have reliable training scripts. I would also like to rewrite EfficientNet in a more PyTorchic style -- my implementation and others generally mirror the TensorFlow implementation, which is great for quickly reproduci

[2019-06-04 04:14] goyalsaransh97 opened #988 "Importing Mask RCNN in Torchvision 0.2.2"
On running "model = torchvision.models.detection.maskrcnn_resnet50_fpn(pretrained=True)", I get the error
"AttributeError: module 'torchvision.models' has no attribute 'detection' ". How can I solve this?
I'm using Torchvision 0.2.2 with Pytorch 1.0.2. If needed, how can I upgrade torchvision without changing Pytorch version?

[2019-06-04 06:16] pmeier commented on #988
You can't. `torchvision.models.detection` is part of `torchvision` only since version `0.3.0` and this in turn depends on `torch >= 1.1.0`.

[2019-06-04 07:20] kerry-Cho opened #989 "C ++ nn :: conv2d Can you take a look at the problem?"
Hi @fmassa

I think there is an error in the NN module. Can you confirm it?

C ++ nn :: conv2d Can you take a look at the problem?

https://github.com/pytorch/pytorch/issues/21332

[2019-06-04 07:52] apyskir commented on #984
Hi, I observe similiar behaviour as @buus2 observes. Each time I do:

[code]

my free RAM decreases by around 0.2 GB and each time I do:
[code]
my free RAM decreases by around 2 GB. Looping:
[code]
quickly leads to memory error.

Python 2.7.15
jupyter 4.4.0
pytorch 1.1.0
torchvision 0.3.0

[2019-06-04 09:00] buus2 commented on #984
I switched to a bare python script and used [memory_profiler](https://pypi.org/project/memory-profiler/). This is what I got:
[code]
I tried several times, the results were consistent.
Well, I have no idea, I will just put `with torch.no_grad()` everywhere.

[2019-06-04 09:03] fmassa commented on #984
@buus2 @apyskir I digged a bit in this, and it's a known behavior of jupyter.
See this comment for example https://github.com/pyviz/holoviews/issues/1821#issuecomment-324941357

Which means that jupyter is actually keeping in memory **all** the intermediate outputs from your cells.
When you do `with torch.no_grad()`, you are just saving memory because you don't keep the full computation graph in m

[2019-06-04 09:04] buus2 commented on #984
@fmassa Please take a look at my comment above.

[2019-06-04 09:19] fmassa commented on #984
@buus2 hum, that's interesting. There is definitely a "leak" due to jupyter, but there also seems to be something weird happening with our CPU backend when not set to `no_grad()` mode.

I've just tried the exact same snippet with `resnet50` instead of `fasterrcnn_resnet50_fpn`, and I also experienced this memory increase on the CPU (everything stays constant on the GPU), so this is not a problem s

[2019-06-04 09:26] fmassa commented on #984
For completeness, here is my script

[code]
 and the result of using `memory_profile`
[code]

[2019-06-04 09:39] buus2 commented on #984
For
[code]
I obtain
[code]
So probably you are right, there is a problem with resnet. Please also note the usage drop in line 25 (and the analogous one in line 23 for FasterRCNN above).

[2019-06-04 09:50] fmassa commented on #984
Ok, I think I've found the problem (and the solution).

Funnily, it has already happened to me 4 years ago in https://github.com/torch/torch7/issues/229, and the solution in that thread https://github.com/torch/torch7/issues/229#issuecomment-102870888 applies here.

So, if we use jemalloc instead of the default malloc, things should work fine.

Here is an example with malloc:

[code]

and we see t

[2019-06-04 09:52] apyskir commented on #984
Hi, I obtained very same results as @buus2 but while running the script on GCP VM instance. After looking at your last post @fmassa it's not surprising that the problem arises everywhere. Thanks

[2019-06-04 10:02] fmassa commented on #989
Hi,

I replied in the original issue. This seems to be unrelated to torchvision, so I'm closing this issue

[2019-06-04 10:02] #989 closed

[2019-06-04 10:03] fmassa commented on #978
For now this is the best way as a workaround.

I'm closing this issue as it seems that you have fixed your issues, let me know if you have further questions

[2019-06-04 10:03] #978 closed

[2019-06-04 10:04] fmassa commented on #988
What @pmeier mentioned is correct.

torchvision 0.3 requires PyTorch 1.1.0 or newer.

[2019-06-04 10:04] #988 closed

[2019-06-04 10:04] buus2 commented on #984
@fmassa I am glad you finally found it. Could you please tell us what we should do now? Do we have to remember about indicating the right memory allocator in C each time we want to run inference on CPU?

[2019-06-04 10:05] fmassa commented on #984
@buus2 this is not a leak, and you shouldn't face OOM errors because of that.

As workarounds, use `torch.no_grad()`, and maybe use `jemalloc` when running your programs.

[2019-06-04 12:38] xXBasti commented on #986
Thanks for your help.

Yeah true, changing the backbone requires more training time and data. But I am still using a pretrained backbone. And sometimes it gives some reasonable region proposals.
But it is even impossible to overfit the model on the trainings data. The evaluation score on the trainings set is still 0 in all categories and the model does not detect a single object.

Now a also tried

[2019-06-04 12:43] fmassa commented on #986
Using a pre-trained backbone (trained on classification) and one which has been trained for detection is not the same thing.

If I understand your points correctly, then yes. But having a good RPN is already very helpful in the beginning of training, which might indicate why you start with better results in the beginning.

I believe you have fixed your issue now, so I'm closing it. Let me know if

[2019-06-04 12:43] #986 closed

[2019-06-04 13:38] bhack commented on #980
/cc @rwightman @zsef123

[2019-06-04 15:04] rwightman commented on #980
@bhack thanks for the vote, definitely think a variant of it should be here, but it should be 100% PyTorch trained. The TF ported weights with the necessary padding are not suitable as it's an unacceptable overhead.

Given the nature of these models, it takes a long time to train, and is fiddly to find the right params. I finally just got some MobileNet-V3 weights that match/slightly exceed the pa

[2019-06-04 15:11] fmassa commented on #980
@rwightman do you have the scripts for training `MobileNet-V3` from scratch in PyTorch?

The MobileNetV2 pre-trained weights that I made available also had to be trained on a lot of epochs, and it indeed seems to take longer to train than a ResNet.

[2019-06-04 15:20] fmassa commented on #987
Maybe this should initially go into the PyTorch Hub? https://pytorch.org/hub

[2019-06-04 15:22] rwightman commented on #980
@fmassa TLDR 'sort of' :)

My train script can handle most of the training right now, basically using RMSprop with Google's crazy high epsilons for opt and batch norm and different BN momentum for 350-450+ epochs. That gets you most of the way, but the final necessary bit is EMA decay of the model weights, which PyTorch doesn't have a built-in default for. I have a hack for that working right now,

[2019-06-04 15:27] bhack commented on #987
Yes

[2019-06-04 15:32] rwightman commented on #980
I also suspect that odd optimizer/bn params could be relaxed back to PyTorch defaults, and that the EMA weight decay is more significant, as it alone adds a solid 1.5-2% top-1 bump once the model is getting close to converged.

[2019-06-04 18:46] lukemelas commented on #980
Agreed on all counts with @rwightman. It's important to have a fully PyTorchic model and training procedure before merging into torchvision. I'm also finding the training hyperparameters to be very sensitive, but we should get them right before officially releasing.

I have not done extensive experimentation yet, but from early impressions, it seems to me as well that weight EMA could make quite a

[2019-06-05 04:24] hirune924 opened #990 "The list of COCO_INSTANCE_CATEGORY_NAMES is wrong"
In this page,
https://pytorch.org/docs/stable/torchvision/models.html#object-detection-instance-segmentation-and-person-keypoint-detection

The list of COCO_INSTANCE_CATEGORY_NAMES is wrong.
Category name include space is treated as two categories.

I think the correct category is
COCO_INSTANCE_CATEGORY_NAMES = [
    '__background__', 'person', 'bicycle', 'car', 'motorcycle', 'airplane', 'bus',

[2019-06-05 08:54] fmassa commented on #990
Thanks for catching this!

Fixed by @hirune924 in https://github.com/pytorch/vision/pull/991

[2019-06-05 08:54] #990 closed

[2019-06-05 08:56] fmassa commented on #981
We would gladly accept PRs fixing this!

[2019-06-05 12:13] icesohelrana opened #993 "Train pretrained faster RCNN with resnet101 FPN as backbone"
I want to use pretrain faster rcnn of resnet101 FPN to train with my own dataset.
But, it fails to download pretrain faster-rcnn model of resnet101 FPN.
This is my code of model part:
backbone =torchvision.models.detection.backbone_utils.resnet_fpn_backbone('resnet101','False')
model_urls ={'resnet101_fpn':'https://download.pytorch.org/models/fasterrcnn_resnet101_fpn_coco-258fb6c6.pth'}
state_dict

[2019-06-05 13:19] fmassa commented on #993
We don't yet provide pre-trained detection models with `resnet101` as a backbone, so this error is expected.

[2019-06-05 17:34] #981 closed

[2019-06-06 01:14] XiaoLaoDi opened #997 "Training own dataset with official torchvision0.3 OBJECT DETECTION FINETUNING example for multi-instances segmentation， get "nan loss_box_reg" ?"

[2019-06-06 01:17] XiaoLaoDi commented on #997
Here is the training log I have got:

Epoch: [0]  [  0/231]  eta: 0:10:13  lr: 0.000021  loss: 7.4132 (7.4132)  loss_classifier: 2.0382 (2.0382)  loss_box_reg: 0.0140 (0.0140)  loss_mask: 1.4018 (1.4018)  loss_objectness: 3.4656 (3.4656)  loss_rpn_box_reg: 0.4934 (0.4934)  time: 2.6561  data: 1.6422  max mem: 4248
Epoch: [0]  [ 10/231]  eta: 0:03:01  lr: 0.000195  loss: 6.0985 (5.9091)  loss_class

[2019-06-06 01:22] XiaoLaoDi commented on #997
I only change the official code tv-training-code.py in main function.
Change num_classes from 2 to 5 for my own dataset, and change training batchsize from 2 to 3 (if leave unchanged, just got the same nan error).

[2019-06-06 01:24] XiaoLaoDi commented on #997
So how can I solve this error ?

[2019-06-06 09:54] fmassa commented on #997
Hi,

The first thing I'd check is that your bounding boxes can't be degenerated. For example, if one bounding box has `xmax <= xmin`, or `ymax <= ymin`, then you might have problems with the box encoding. Also, make sure that your boxes are within the image `xmax <= image_width` and `ymax <= image_height`).

Here is how I did it for COCO dataset: without it, training gets to nan in the box_reg los

[2019-06-06 12:26] xXBasti commented on #986
Ok, I thought they were also trained on classification.

Yes, everything clear, thanks for the help!

[2019-06-06 16:45] philipNoonan commented on #936
@kerry-Cho

I had the same error as you with Win10 Cuda10 PyTorch 1.2.0 from source etc. The error was fixed by using
`set NVCC_FLAGS="-D__CUDA_NO_HALF_OPERATORS__"`
in the terminal before the call to
`python setup.py install`

[2019-06-06 18:26] nithinraok opened #1001 "Error using sequential on faster-rcnn to get regional proposal network object features"
I’m trying to use pretrained FasterRCNN network provided in torchvision.
``` model=torchvision.models.detection.fasterrcnn_resnet50_fpn(pretrained=True)```
```model.eval()```
```model([image_tensor]) ```
working perfectly fine but when I use sequential to stop at intermediate layers like this
```model2=nn.Sequential(*list(model.children())[:-2])```
to use until RPN network I’m getting error when p

[2019-06-06 18:48] rbrigden opened #1002 "[JIT] Not supported for maskrcnn_resnet50_fpn"
I am trying to accelerate the `maskrcnn_resnet50_fpn` pretrained model using JIT tracing provided by pytorch. It appears that some operations present in this model are not supported by pytorch JIT.

Are these models supposed to have JIT support officially? If not, would you be able to provide advice for a workaround?

To replicate, running:
[code]

produces

``RuntimeError: log2_vml_cpu not implem

[2019-06-06 18:57] soumith commented on #1002
this actually looks like a bug in `scale = 2 ** torch.tensor(approx_scale).log2().round().item()` in `torchvision/ops/poolers.py`.

If `approx_scale` here is an exact integer, the tensor will be a LongTensor, which is unexpected.

That should be changed to `torch.tensor(approx_scale, dtype=torch.float32)`

[2019-06-06 19:11] fmassa commented on #1002
@rbrigden as mentioned in the [release notes](https://github.com/pytorch/vision/releases/tag/v0.3.0), the detection models do not yet support JIT, in particular because we use custom ops which are not registered with the TorchScript ops.

We plan to add full JIT support for the detection models in follow-up releases.

[2019-06-06 19:14] fmassa commented on #1002
And @soumith good catch about the location of the error.
But this looks like a problem with `tracing`, because in https://github.com/pytorch/vision/blob/aa32c9376c46eb284f2b091f3eb98aec4fd64b03/torchvision/ops/poolers.py#L100
we force `approx_scale` to be a float, so the JIT should take that into account.
But a workaround solution could be to explicitly force a dtype in `torch.tensor`, as you ment

[2019-06-06 19:20] fmassa commented on #1001
The trick `model2=nn.Sequential(*list(model.children())[:-2])` doesn't work for all types of models, and in particular won't work for `faster-rcnn`.

The output of the RPN returns a list of proposals, which are in the format `[N, 4]`, as you obtained.
What are you looking to obtain instead? The activation maps?

[2019-06-06 19:30] Nithin-Koluguri-Bose commented on #1001
I'm looking to obtain object-centric image features (output of region proposal network) whose size is 2048xK which functions as pretrained features for VQA. Reference to paper [bottom-up](https://arxiv.org/pdf/1708.02711.pdf)

[2019-06-06 19:32] nithinraok commented on #1001
I'm sorry if my understanding of network is wrong but I'm looking to obtain object-centric image features (output of region proposal network) whose size is 2048xK which functions as pre-trained features for VQA. Reference to paper [bottom-up](https://arxiv.org/pdf/1708.02711.pdf)

[2019-06-06 19:36] fmassa commented on #1001
You might want to get the output of the `roi_pool` from the `roi_heads`, which gives you, for each proposal, the cropped feature maps at the locations specified by the proposals. Then, you can  apply your network to those cropped features to obtain your encodings

[2019-06-06 19:58] nithinraok commented on #1001
Thanks @fmassa . It worked now I am able to get all top features and subselect on them. One last piece advice, As I see I followed different approach to build model, I am guessing loading state dict would be different than usual. If its that case, is there any resource I can follow to load the model later from state dict. Thanks

[2019-06-06 20:13] fmassa commented on #1001
One easy option is to load the full pre-trained model, and pass to your class the attributes of this model. Might be the simplest approach

[2019-06-06 20:15] nithinraok commented on #1001
Sure. Thanks so much 👍 💯

[2019-06-06 20:15] #1001 closed

[2019-06-06 20:16] fmassa commented on #1001
No worries! Let us know if you have any other comment / feedback

[2019-06-07 07:10] monghimng commented on #532
For anyone who is still confused, OP is correct that starting at the transition between conv2 and conv3 (for naming scheme, see page 5 of the original Resnet paper) , the condition

`stride != 1`

is enough to detect a dimension change (halving width and height while doubling channel). However, at the beginning of conv2, there is a 3x3 max pooling, which made the input channel count to be some wei

[2019-06-07 11:16] fmassa commented on #696
@wangjinjie722 if you want to use a very small image size, you need to modify the network architecture, as we don't provide models for cifar-sized images, only for imagenet-sized

[2019-06-07 11:17] fmassa commented on #712
@dlmacedo `randn_like` is supposed to generate a gaussian distribution, as it calls `randn`. If that's not the case, it's a bug in PyTorch

[2019-06-07 11:34] fmassa commented on #915
We could.

But LMDB also has some downsides, like https://github.com/pytorch/vision/issues/619.
I'm not sure if we would like to encourage its use, at least not as of now.

[2019-06-07 13:03] D-X-Y commented on #915
@fmassa Thanks for your reply. Do you have some recommendations for database for ImageNet?

[2019-06-07 13:04] fmassa commented on #915
doesn't the current `ImageNet` format (unzipped images) work for you?

[2019-06-07 13:15] D-X-Y commented on #915
I'm using some systems, which can not handle many small files. Therefore, I can not use raw ImageNet images.

[2019-06-07 17:10] D-X-Y commented on #619
@soumith Hi, do you have any recommended database for PyTorch?

[2019-06-07 18:14] RicCu commented on #915
Something that kind of helped me with Imagenet data loading was using TensorFlow Dataset's [from_numpy](https://www.tensorflow.org/datasets/api_docs/python/tfds/as_numpy) method, along with TFDS prepackaged [ImageNet dataset](https://www.tensorflow.org/datasets/datasets#imagenet2012) in TFRecords format. It wasn't ideal and there was room for further optimization for PyTorch ingestion, but it did

[2019-06-08 07:50] sbsky commented on #973
Great, no width multiplier 1 is fine.  The base values are already multiples of 8.

[2019-06-08 08:05] yaysummeriscoming commented on #973
Ok cool, as the base network widths are already multiples of 8, width multiplier 1 is fine.

[2019-06-09 09:25] mattans opened #1007 "Upgrading to 0.3.0 from pip doesn't work"
Hi, I am getting this error:

[code]
pip is up to date:
[code]

But according to the pip website the package is online.

[2019-06-09 09:31] mattans commented on #1007
I installed with the wheel file hosted on pyotrch.org, which resolved the problem for me:

[code]

[2019-06-09 22:12] soumith commented on #1007
fixed now (i.e. directly calling `pip install torchvision==0.3.0` should work on windows -- however you have to have pytorch already installed on windows as pytorch is not shipped on `pip` on windows

[2019-06-09 22:12] #1007 closed

[2019-06-10 01:34] XiaoLaoDi commented on #997
@fmassa thank you very much, that works for my case. I just add the following code piece into the PennFudanDataset generation, then the nan loss disappear.

        keep = (boxes[:, 3]>boxes[:, 1]) & (boxes[:, 2]>boxes[:, 0])
        boxes = boxes[keep]
        labels = labels[keep]
        masks = masks[keep]
        area = area[keep]
        iscrowd = iscrowd[keep]

[2019-06-10 01:35] #997 closed

[2019-06-10 10:06] stared commented on #484
I think that class names (i.e.  a map `idx -> class name`) are an integral part of any pre-trained classifier.  Would a PR with class names be welcome?

[2019-06-10 17:28] stas00 commented on #833
2 months later with no response - I guess the only way for this to be resolved is for me to remove the package from pypi. Therefore I removed this package from pypi and I'm no longer an owner, so you guys can take over.

[2019-06-10 20:45] rwightman commented on #980
It's not torchvision, but it's pretty convenient with the spiffy new hub feature...
[code]

That model is native PyTorch, no TF padding hacks, tested to be fully exportable to ONNX/Caffe2. 76.9% top1, 93.2% top5. It's going be awhile before any of the larger ones are satisfactory. Heh.

If anyone wants to take a crack at B1-B3, the model weight EMA smoothing impl I've been using to train, on a dev

[2019-06-10 21:04] bhack commented on #980
Thanks for the update @rwightman

[2019-06-11 01:48] soumith commented on #833
I pushed the first set of packaging scripts 5 days ago here: https://github.com/pytorch/vision/pull/996
My next step is to hook it up to CircleCI and have auto-push nightlies. I haven't gotten to that step yet.
The whole process was significantly simpler and easier before we introduced C++ ops into torchvision, but after we decided to do so (which was before Apr 13th), it made the whole packaging

[2019-06-11 04:15] stas00 commented on #833
I totally understand, @soumith. The issue for me was a lack of communication - specifically 2 months in waiting and zero followup.  If you were to give me a timeline that were to suite your needs better, I'd have happily waited longer.

And meanwhile, my pypi account was providing a stale package, claiming to be -nightly (which was fine in the fall 2018 when it wasn't changing much), so w/o knowin

[2019-06-11 04:22] stas00 commented on #833
If you're a user that may have stumbled upon this thread before a new `vision-nightly` package gets released and you need a pip install of vision master, do:

`pip install git+https://github.com/pytorch/vision.git`

It'll have the same effect.

[2019-06-11 12:45] fmassa commented on #997
@XiaoLaoDi Do you think it might be useful to add this information somewhere in the tutorial? If yes, could you send a PR?

[2019-06-11 21:36] soumith commented on #833
yes, it was my fault. I didn't think anyone was expecting a response (i misread the situation).

I'll give an ETA this week, and get it to closure by the ETA time.

[2019-06-13 13:51] XiaoLaoDi commented on #997
@fmassa This information maybe useful, but I can find no where to add this attention part. Hoping you can add some description of this information to the PennFudanDataset generation in the tutorial at https://pytorch.org/tutorials/intermediate/torchvision_tutorial.html#torchvision-0-3-object-detection-finetuning-tutorial when changing the instance segmentation from 2 classes to multi-classes case.

[2019-06-13 13:56] fmassa commented on #997
@XiaoLaoDi here is the notebook where you can send PRs to it. Note that it's not in the master branch https://github.com/pytorch/vision/tree/temp-tutorial/tutorials

[2019-06-14 11:05] Jonas1312 opened #1018 "ImportError: DLL load failed on Windows"
I have a `dll load failed the specified module could not be found` error when importing torchvision

PyTorch stable 1.1:
[code]
Nightly:
[code]

[2019-06-14 11:06] Jonas1312 commented on #1018
Any idea @peterjc123 ?

[2019-06-14 15:44] LXYTSOS opened #1022 "[BUG] can't work with cpu"
In `references/detection/utils.py` line 212: `memory=torch.cuda.max_memory_allocated() / MB))`. It works fine under the GPU environment, then I train a model with pytorch-cpu, exception occurs: `AssertionError: Torch not compiled with CUDA enabled`. When I trace the error I found the code in `references/detection/utils.py`: `memory=torch.cuda.max_memory_allocated() / MB))`, when you run `torch.cud

[2019-06-14 16:12] peterjc123 commented on #1018
How did you try to install torchvision?

[2019-06-14 16:14] Jonas1312 commented on #1018
`pip3 install https://download.pytorch.org/whl/cu100/torchvision-0.3.0-cp37-cp37m-win_amd64.whl`

[2019-06-14 17:05] peterjc123 commented on #1018
It's nothing special. I'll need to update that in the `pytorch/builder` repo.

Would you please use something like `lucasg/Dependencies` to find the missing DLLs?

[2019-06-15 00:40] Adityav2410 opened #1027 "tochvision: Mask RCNN, Anchors generated are float, which fails training"
I was trying to train maskRCNN in '1.1.0', python Python 3.5.2
I tried to dig a bit, and found that the anchor generated for images are type`float`, but they should be int/long.

In file: torchvision/models/detection/rpn.py",
anchors = self.anchor_generator(images, features), anchors were float.

[code]

[2019-06-15 01:48] Adityav2410 commented on #1027
I guess i need to provide bounding boxes as float and this error will be avoided. If actually you need the coordinates as float instead of int, can you write it in documentation.
I blindly assumed that bbox coordinates will be int32.

[2019-06-15 06:08] zemelLeong commented on #1018
I have same problem

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "G:\Python36\lib\site-packages\torchvision\__init__.py", line 1, in <module>
    from torchvision import models
  File "G:\Python36\lib\site-packages\torchvision\models\__init__.py", line 11, in <module>
    from . import detection
  File "G:\Python36\lib\site-packages\torchvision\models\detection\

[2019-06-15 09:06] pmeier commented on #1022
Fixed by @LXYTSOS in #1023.

[2019-06-15 10:20] fmassa commented on #1022
Thanks for the fix @LXYTSOS

[2019-06-15 10:20] #1022 closed

[2019-06-15 10:23] fmassa commented on #1027
`bbox` coordinates should be `float32`, check the tutorial in https://colab.research.google.com/github/pytorch/vision/blob/temp-tutorial/tutorials/torchvision_finetuning_instance_segmentation.ipynb , which creates a custom dataset from scratch. It uses `float32` for the boxes.

But it would be great to improve somewhere the documentation with this information, or maybe add a check in `roi_heads.py

[2019-06-15 10:24] fmassa commented on #1027
Re-opening until we add a check or better documentation that boxes should be floating point

[2019-06-15 14:21] peterjc123 commented on #1018
I think I know the reason. It's because caffe2 and torch get merged now, so one DLL could not be found anymore. You'll have to rebuild torchvision to fix this.

[2019-06-15 15:02] Jonas1312 commented on #1018
@peterjc123
I'm not sure if it's exactly what you wanted: ![Capture](https://user-images.githubusercontent.com/15847892/59553005-40b1cc00-8f8f-11e9-9860-266203a69a74.PNG)

[2019-06-15 15:05] peterjc123 commented on #1018
@Jonas1312 Not needed anymore. See what I said in the last post.

[2019-06-16 05:33] vainaijr opened #1028 "Mini imagenet, tiered imagenet"
Hello,

Is it possible to add omniglot, mini imagenet and tiered imagenet datasets to torchvision.

And is it possible to upload these datasets to google drive, and share that link, so that people using google colab do not need to download these datasets. they access them directly by adding the dataset to their drives.

This would reduce the time taken to download datasets, as they would be direct

[2019-06-16 11:45] Jonas1312 opened #1029 "Build error on Windows10"
[code]
Compiler version: `Microsoft Visual Studio\2019\Community\VC\Tools\MSVC\14.21.27702\`

[2019-06-16 14:44] fmassa commented on #1029
What's your PyTorch version?
Can you try using a very recent nightly?

also, cc @peterjc123

[2019-06-16 14:49] Jonas1312 commented on #1029
[code]

[2019-06-16 15:41] peterjc123 commented on #1029
Use the packaging scripts here: https://github.com/pytorch/vision/tree/master/packaging#windows-1.

[2019-06-16 15:43] peterjc123 commented on #1029
Or you can set the env var `NVCC_FLAGS`. https://github.com/pytorch/vision/blob/master/packaging/windows/cuda100.bat#L39

[2019-06-16 15:58] Jonas1312 commented on #1029
Thanks!

[2019-06-16 15:58] #1029 closed

[2019-06-17 09:12] RiSaMa opened #1030 "Torchvision MaskRCNN only accepts squared inputs"
The documentation clearly shows that the input to the detection models (e.g. MaskRCNN) can be of any size following CxHxW.

The example in the documentation is as follows:
[code]

However, I obtain this error:

However, if the inputs are square:
`x = [torch.rand(3, 300, 300), torch.rand(3, 400, 400)]`

Everything works smoothly. **Am I missing something or is this a bug?**

Thanks

[2019-06-17 09:29] fmassa commented on #1030
This is not expected, and the model is supposed to work on any input size.

Can you paste the full stack trace?
Also, can your give the result of
[code]
and paste it here?

[2019-06-17 10:50] RiSaMa commented on #1030
Thank you for your prompt answer.

**Code:**
[code]

**Output:**
1.1.0
0.3.0
ERROR:root:Error!