[2022-06-08 18:01] seemethere commented on #6138
Doesn't appear so, https://github.com/pytorch/pytorch/pull/77037

[2022-06-08 19:26] malfet commented on #6138
To copy-paste a comment from https://github.com/pytorch/vision/pull/6133 : jobs that are broken depend on torchdata, which nightly build failed yesterday, so it forces torch nightly installation prior to that change.

[2022-06-08 19:36] dzdang commented on #6138
@malfet Sorry, just saw this. yeah, I think in retrospect, I should've marked the PR as bc-breaking. sorry about that (wasn't aware of existent projects that depended on the header file that wasn't part of the pytorch and fbcode codebase). do we need to revert the PR, or proceed with the solution above?

[2022-06-08 19:42] malfet commented on #6138
Also, looks like M1 CI is somehow affected by this as well:
[code]

[2022-06-08 19:43] malfet commented on #6138
@dzdang I guess it's a question of whether we have any public facing tutorials/docs talking about AffineQuantizer, etc

[2022-06-08 20:23] towzeur commented on #6127
Thanks for your response !

Yes we can use torchvision.datasets.ImageFolder but only for the "train" split
which have the required structure (same semantic images grouped in the same dir,
[code]

Problem:
ImageFolder would provide a unique class for all the images in the val and test set
because images are grouped in a single "image" folder regardless of their semantic label
[code]

So one have to

[2022-06-08 20:34] dzdang commented on #6138
@malfet  We don't. I took a look at `qnms_kernel.cpp`, and I don't think I saw any dependencies in it that would require #include that header file. maybe we can just remove the #include?

[2022-06-08 20:47] vfdev-5 commented on #6138
Removed the include and can confirm that torchvision compiles and test_ops.py::test_qnms are passing.

[2022-06-08 21:11] pengwenyu commented on #6119
I am using the new nightly version but still fail. This is my new version:
1.13.0.dev20220608+cu113
And the error message is the same:

model = FasterRCNN(backbone, num_classes, **kwargs)
TypeError: __init__() got an unexpected keyword argument 'weights'

[2022-06-09 08:13] datumbox opened #6142 "M1 unit-test fail with `not yet supported with named tensors`"
### 🐛 Describe the bug

The M1 unit-tests [fail](https://github.com/pytorch/vision/runs/6806004576?check_suite_focus=true) with the following error:
[code]

The last time the tests run successfully was on the 6th of June at commit d4a03fc02d0566ec97341046de58160370a35bd2. Unfortunately the days after that our CI broke for unrelated issues, so I guess it could be a commit commits from Core between

[2022-06-09 08:27] NicolasHug commented on #6138
https://github.com/pytorch/vision/pull/6141 merged, closing. Thanks everyone.

[2022-06-09 08:27] #6138 closed

[2022-06-09 08:27] #6137 closed

[2022-06-09 08:28] NicolasHug commented on #6136
https://github.com/pytorch/vision/pull/6133 merged, closing

[2022-06-09 08:28] #6136 closed

[2022-06-09 08:30] mjack3 commented on #6125
I haven't the code. I need to develop it

[2022-06-09 08:36] NicolasHug opened #6143 "Prototype tests broken"
https://github.com/pytorch/vision/runs/6808601561?check_suite_focus=true

[code]

We'll just have to wait for https://github.com/pytorch/pytorch/pull/79124 to be in the nightlies

[2022-06-09 09:18] datumbox commented on #6127
@towzeur I agree that adding the Tiny ImageNet is worth it. We need to see if this can be done on the current dataset API or on the new one. If it's the latter, it might take a bit more time so I would advice to parse the val annotations as you described to make it usable with `ImageFolder`. Concerning your point on the lack of annotations on test images, I believe that's something that was consid

[2022-06-09 10:25] NicolasHug commented on #6081
https://github.com/pytorch/vision/pull/6140 as well

[2022-06-09 11:20] oke-aditya commented on #6125
Yeah that's my doubt. How feasible and easy would it be to support this by adding `fill` param to `draw_segmentation_masks`.

Each feature comes with a cost. The cost is maintainability and ease of use.

[2022-06-09 14:19] fabiofumarola commented on #5413
commands for mac
"""
brew install libpng libjpeg
sudo ln -s /opt/homebrew/lib/* /usr/local/lib
"""

[2022-06-09 14:51] NicolasHug commented on #6081
Also https://github.com/pytorch/vision/pull/6147

[2022-06-09 15:08] vfdev-5 commented on #6142
I bit more coherent info on failing/passing tests according to the latest job from #6145 :

https://github.com/pytorch/vision/runs/6815037410?check_suite_focus=true

TestRoiPool::test_forward is passing until dev20220520 and since May 20 the error is
[code]
and since dev20220601 it started failing with
[code]

[2022-06-09 18:54] albanD commented on #6142
@vfdev-5 could you set `TORCH_SHOW_CPP_STACKTRACES=1` for each of these to get the full c++ stacktrace?

[2022-06-09 19:31] malfet commented on #6142
Looks like something is wrong with how we setup cross-compilation: if both PyTorch and TorchVision are build on MacOS-12.4 machine, they work fine together, but downloading cross-compiled nightly package and building vision locally reproduces the error

[2022-06-09 19:34] malfet commented on #6142
[code]

[2022-06-09 19:38] malfet commented on #6142
Interestingly enough, debug build of TorchVision does not exhibit the problem...

[2022-06-10 01:14] malfet commented on #6142
Ok, so what happened on May13th, is we've added MPS and started building M1 binaries on MacOS-12 (vs 10.15), see https://github.com/pytorch/pytorch/commit/44bf440b53cc9641086ca9462f8cab52d7dbfaa3#diff-a239f908c685d3e971663ebd1464a4904431139240f8403664183c5bcd26e47b

I.e. when the build were upgraded from [clang-12](https://github.com/pytorch/pytorch/runs/6401217923?check_suite_focus=true#step:10:7

[2022-06-10 10:57] NicolasHug commented on #6081
Fix ViT and Resnext docs

PR on main: https://github.com/pytorch/vision/pull/6150
PR on release branch: https://github.com/pytorch/vision/pull/6150

Category: docs

[2022-06-10 11:15] datumbox commented on #6142
@malfet Sounds like this is not a trivial issue that might require extra work to solve. Would you like me to transfer the issue to PyTorch core, or you are happy leaving it here?

[2022-06-10 13:47] Venkat-Rajgopal commented on #5413
same problem here with `torchvision`

[2022-06-10 14:11] malfet commented on #6142
@datumbox it's up to you, although torchvision issues are IMO more discoverable, and so far I'm not sure where fix should be applied: i.e. whether it should be done to vision build script or to pytorch one

[2022-06-10 14:14] vfdev-5 commented on #6142
@malfet I wonder what could be done on vision's side as we are building c++ ops as cpp/cuda extensions. Some specific M1 flag to specify ?

[2022-06-10 14:19] malfet commented on #6142
@vfdev-5 I suspect so. I.e. my only explanation to what is happening: some sort of compilation flag is applied when M1 PyTorch nightly packages are build, which are not applied to torchvision. Because if I build both packages on the same machine they work fine.

[2022-06-10 14:25] malfet commented on #6142
Trying to debug how dispatch key is computed by adding following change to ps_roi_pool.cpp:
[code]
Which results in the following output:
[code]
where according to the debugger `dispatchKeyExtractor().nonFallTrhoughKeys.repr_` is `0x001fbaf7fbffffff`
[code]

[2022-06-10 14:41] fabiofumarola commented on #5413
@Venkat-Rajgopal if you run the commands above the problem will be fixed (it is a work around)

[2022-06-10 14:43] malfet commented on #6142
One more clue that it has something to do with ABI changes: same torchvision binary can be used for May 12th and May 13th  binaries and exhibit the issue:
[code]

[2022-06-10 15:03] Venkat-Rajgopal commented on #5413
Yes the workaround works.

[2022-06-10 16:31] vfdev-5 commented on #6142
@malfet seems like a month after clang 13.0.1 release they did 14.X (https://releases.llvm.org/), maybe it worth go to 14.X hoping that it could be less buggy ?

[2022-06-10 19:07] agunapal commented on #5511
There is a lot of good documentation on model weights and model usage details. One suggestion would be to provide a link to https://pytorch.org/vision/main/models.html#table-of-all-available-classification-weights here https://pytorch.org/vision/main/models.html#initializing-pre-trained-models . I tried figuring out weight names for various models from the code . I found the link to the weights la

[2022-06-10 21:46] rwightman opened #6153 "PIL version check for enum change appears to break SIMD versions"
### 🐛 Describe the bug

This change appears to break current Pillow-SIMD version #5898

[code]

Amusingly enough, I warned against this approach in a users PR in `timm` https://github.com/rwightman/pytorch-image-models/pull/1256

Would be nice to have it fixed before 1.12 is finalized, I just hit this trying out the RC

### Versions

PT 1.12 RC, TV 0.13.0

[2022-06-10 21:50] rwightman commented on #6153
The version string for Pillow-SIMD
[code]

[2022-06-10 21:55] vfdev-5 commented on #6153
We should definitely use `from packaging.version import Version` instead of manual parsing:
[code]

However, the main drawback with `packaging` is that it is not a built-in package :(

[2022-06-10 22:02] rwightman commented on #6153
@vfdev-5 I suggested for the PR in timm that the user checks existence of the type
[code]

and False for 9.0.0

[2022-06-10 22:04] vfdev-5 commented on #6153
Thanks for the suggestion. I hope Pillow guys wont move it elsewhere in 10.X :)

[2022-06-10 22:12] adamjstewart commented on #6153
PyTorch Lightning also uses `packaging.version.Version`: https://github.com/PyTorchLightning/pytorch-lightning/blob/master/pytorch_lightning/utilities/imports.py

@rwightman checking for the existence of the value (in try-except or with `dir`) will work, but we'll still see the warning message. I think it's better to add `packaging` to `install_requires`, it's a pretty light dependency to add.

[2022-06-10 22:15] rwightman commented on #6153
@adamjstewart it's an extra dep though as it's not builtin, why would the warning message still exist? if the type exists you'd use the new ones and never the old... how could it warn?

[2022-06-10 22:16] adamjstewart commented on #6153
Oh true, if you use the newer one first that should be fine. Disregard what I said, both are valid approaches.

[2022-06-10 22:27] vfdev-5 commented on #6153
@adamjstewart If pytorch was bringing `packaging` as dep then we could use it, otherwise adding it into torchvision's requirements should be carefully validated. Solution with `dir` works without warnings.

[2022-06-10 22:30] vfdev-5 commented on #6153
@rwightman by the way any particular reasons for using Pillow-SIMD instead of tensor images and tensor data aug pipelines ?

[2022-06-10 22:40] rwightman commented on #6153
@vfdev-5 Pillow-SIMD was still significantly faster last time I checked (last fall I think). I'm often CPU bound in dataloader pre-processing so it has a big impact. Doing it on GPU eats precious GPU memory.

[2022-06-10 22:43] rwightman commented on #6153
it's often underrated how fast Pillow-SIMD actually is, when you add the proper filtering to OpenCV (to prevent aliasing on downsample), Pillow-SIMD is usually faster than cv2 as well for typical pre-proc / aug pipelines.

[2022-06-10 22:44] vfdev-5 commented on #6153
@rwightman what kind of ops you typically do in the data aug pipeline ? Resizing, padding, cropping, maybe some radiometric transforms (e.g. color jitter) ?

[2022-06-10 22:47] rwightman commented on #6153
@vfdev-5 yes, those basic ones for inference, but a wider array for train aug, solarize, posterize, other luts, rotate, skew, other geometric ... but even just the resize is a big one, Pillow-SIMD is heavily optimized to do many / most? of the ops in int8, last I looked I think many of the tensor ops necessitated using float which is a big hit.

[2022-06-10 22:49] vfdev-5 commented on #6153
Yeah, doing a resize on uint8 would be great.

Right now, here are few numbers PIL (without SIMD) vs torch interpolate CPU (multithreaded) vs torch interpolate CUDA:
https://github.com/pytorch/pytorch/pull/70930

[2022-06-10 22:53] rwightman commented on #6153
cool thanks for the numbers, I measured Pillow-SIMD to be 8x faster than Pillow (I think that was bicubic) so would maybe put it ~ 3x faster than the CPU tensor numbers

[2022-06-10 22:54] vfdev-5 commented on #6153
Well, there's a room for improvements for pytorch :)

[2022-06-10 22:56] rwightman commented on #6153
yup! you've been making great progress, I just need ALL the CPU munch munch :)

[2022-06-10 23:00] malfet commented on #6142
Updated all our runners to Xcode_13.4 CLI tools by using following script:
[code]

[2022-06-10 23:09] rwightman commented on #6153
@vfdev-5 one last thing to keep in mind re the gap and future performance characterization, the Pillow-SIMD numbers are single threaded, I don't believe it uses any thread parallelization, so if 8 threads are pinned for those tensor numbers, that is significant... esp when you're often pinning 16-48 cores with pre-processing....

[2022-06-10 23:12] vfdev-5 commented on #6153
Yes, you are right, PIL is single threaded.

Numbers for single thread are bit different. Torch interpolate with AA on CPU (float32) vs PIL RGB (uint8) are almost similar, torch is a bit slower: https://github.com/pytorch/pytorch/pull/68819. So, x8 slower than PIL-SIMD according to your estimations.

[2022-06-10 23:44] datumbox commented on #6153
@rwightman Thanks for reporting. Is there any specific reason you propose checking in `dir()` instead of doing `hasattr(Image, "Resampling")`?

@vfdev-5 Thanks for the ultra fast fix. I left this comment on the PR. I've tested with SIMD, PIL 9.0 and 9.1 and it works. Let me know what you think, thanks!

[2022-06-10 23:59] rwightman commented on #6153
@datumbox no strong reason, hasattr works, I think in this case there wouldn't be any dir gotchas as it's a enum in a module, hasattr does have strong guarantees re attrib resolution in all cases though

[2022-06-11 04:06] t-vi commented on #6153
hasattr also seems to conceptually be a better fit for checking for a single thing, as dir creates an inventory of all symbols just to check for one...

[2022-06-11 04:49] rwightman commented on #6153
@t-vi yeah, true, forgot that dir is list and was vars thats a dict too, so the lookup is meh. hasattr should be faster.

[2022-06-11 09:38] #6153 closed

[2022-06-11 09:42] vfdev-5 opened #6155 "Fix warnings in the tests"
Currently, there are following warnings when running tests:
[code]

Source: https://app.circleci.com/pipelines/github/pytorch/vision/18272/workflows/46f9c352-ff53-4d87-a894-b124e49d0773/jobs/1478749

Let's fix these tests such that warnings are not shown anymore.

cc @pmeier

[2022-06-11 10:23] datumbox commented on #6081
Update _pil_constants.py to fix PIL SIMD

PR on main: https://github.com/pytorch/vision/pull/6154
PR on release branch: https://github.com/pytorch/vision/pull/6156

Category: bug fix

[2022-06-11 12:14] puhuk commented on #6155
Can I take this issue

[2022-06-11 12:47] datumbox commented on #6155
@puhuk absolutely, thanks for offering to help. Looking forward to your PR.

[2022-06-13 04:05] TD-GC opened #6157 "build from source error"
### 🐛 Describe the bug

background:
I want to use the new function, which need to build torchvison from source.
"""
import torchvision
reader = torchvision.io.VideoReader(file_name, device='cuda:0')
for frame in reader:
    print(frame)
"""

information about my computer:
“”“
System: Ubuntu 18.04
Cuda: 10.2 (I also try 11.1)
GPU: RTX3090
”“”

when I run the operation：
python setup.py install

I me

[2022-06-13 06:56] oke-aditya commented on #6157
Hi @TD-GC

Since you ran
[code]

You should already have torchvision installed.

If you are trying to install from source, plz remove  torchvision from above. and then clone and try.
i.e do

[code]

then for ffmpeg.

[code]

Then build from source.
[code]

[2022-06-13 07:05] TD-GC commented on #6157
@oke-aditya Thank you for your suggestion
I reinstalled as you suggested, but the problem still exists.

[2022-06-13 07:26] TD-GC commented on #6157
@oke-aditya Thank you for your suggestion
In a brand new conda environment, I reinstalled, but the above compilation problem still exists.
I ran the collect_env.py program and the output is as follows:
”“”
(torch) root@255eadfc66b7:/civi/Torchvision_Decoding_Note/pytorch/torch/utils# python collect_env.py
Collecting environment information...
PyTorch version: 1.13.0.dev20220612
Is debug build: Fal

[2022-06-13 07:34] TD-GC commented on #6157
I figured out a solution, upgrade cuda to 11.3, then install the latest version of pytorch (cudatoolkit=11.3), and then compile torchvision. This method can avoid the above error, but also conflict between torchvison and torch. Since my cuda driver version is 11.1, to install cuda11.3 means I have to uninstall the old dirver version and install a new one that match cuda11.3.

[2022-06-13 14:35] jdsgomes commented on #5463
Closing this ticket because the classyvision implementation is not canonical and because we are focusing our efforts now on adding newer architectures such has MViT.

[2022-06-13 18:54] JLrumberger commented on #888
A PR adding elastic transform got merged today, so this issue and the other PR can be closed I guess.

[2022-06-13 19:39] yaadhavraajagility opened #6160 "Unable to build CUDA version in a docker environment without nvidia GPU"
### 🐛 Describe the bug

I am currently trying to build torchvision with CUDA on a docker container without nvidia drivers running, but the cuda runtime installed.

However, when i try to run the setup script via:
[code]

I get the warning that no CUDA runtime is found `No CUDA runtime is found, using CUDA_HOME='/usr/local/cuda'`

Is the only way to build torchvision inside a docker container to ha

[2022-06-13 20:55] #888 closed

[2022-06-14 03:47] TD-GC opened #6161 "RuntimeError: Not compiled with GPU decoder support."
### 🐛 Describe the bug

When I use the following command, I get an error:
“”“
import torchvision
reader = torchvision.io.VideoReader('/home/ljf/vision/test4.mp4', device='cuda:0')
”“”
“”“
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/home/ljf/vision/torchvision/io/video_reader.py", line 97, in __init__
    raise RuntimeError("Not compiled with GPU decoder suppor

[2022-06-14 08:28] NicolasHug commented on #6160
The error is raised here in torch core:

https://github.com/pytorch/pytorch/blob/44764f131b040a41a6dcf1304bb635c574bf5a3b/torch/utils/cpp_extension.py#L106-L107

Given

I would assume that your installation of pytorch core doesn't support CUDA, and thus this is probably not related to torchvision directly.

[2022-06-14 09:15] NicolasHug commented on #6081
[Fix minor typo in optical flow gallery example](https://github.com/pytorch/vision/pull/6163#)

Category: docs

main: https://github.com/pytorch/vision/pull/6163
release branch: https://github.com/pytorch/vision/pull/6164

[2022-06-14 13:02] NicolasHug commented on #6081
Add new .. betastatus:: directive to document Beta APIs

Category: docs

main: https://github.com/pytorch/vision/pull/6115
release branch: https://github.com/pytorch/vision/pull/6165

[2022-06-14 16:10] NicolasHug opened #6166 "CI broken due to FX issue"
Our unittest jobs [started failing](https://app.circleci.com/pipelines/github/pytorch/vision/18338/workflows/d017b4cb-39c8-45bd-8a82-758219affff7/jobs/1483664) with the latest nightly from core (from the 14th)  with

[code]

I'm unable to pin-point a specific PR in torch core though. Perhaps this is something  @jamesr66a  could help with? Thanks!

[2022-06-14 17:03] datumbox commented on #6166
Adding some details that @vfdev-5 found on his investigation:
[code]

Output:
[code]

[2022-06-14 17:29] YosuaMichael commented on #6166
@datumbox I think that problem is not related to the broken CI.
My laptop use: `torch==1.13.0.dev20220531` and when I do both `pytest test_backbone_utils.py -k swin_t` and `pytest test_models.py -k swin_t` both passes the test. However I still get the same error `TypeError: int() argument must be a string, a bytes-like object or a number, not 'Proxy'` when I run the script.

[2022-06-14 17:49] YosuaMichael commented on #6166
I can't really point out which pytorch core PR that cause this problem, however I think this issue can be fixed by wrapping around the padding function with `torch.fx.wrap`. Here is a simple example to trigger the error (must use the latest nightly):
[code]

and here is the quick fix (although it feels hacky...)

[code]

[2022-06-14 18:00] YosuaMichael commented on #6166
@datumbox yeah, actually after trying to fix on the model file itself, it kinda harder to fix (the simple fix doesn't work).
Lets wait if anyone from the core team can help us on this.

[2022-06-14 18:37] datumbox commented on #6166
Given that there were no recent updates on the FX area, the problem can be on the dispatcher or modifications affecting `nn.functional.pad` which is called in this case.

@vfdev-5 Could you please help us with a bisection to find the suspicious commit?

[2022-06-14 22:03] snowMan108 commented on #6160
Did you check cuda version corresponding with pytorch?

[2022-06-14 22:04] #6160 closed

[2022-06-14 23:43] tgaddair commented on #6103
This issue is still popping up from time to time. We tried working around it using @pmeier's suggestion to change:

[code]

to:

[code]

However, this results in installing a ROCM enabled version of torch that fails at runtime and is incompatible with some of our other dependencies.

[code]

[2022-06-15 06:56] TD-GC commented on #6161
I compile and install in a docker image.
[pytorch docker image](https://hub.docker.com/r/pytorch/pytorch/tags)

My installation process log:
'''
# docker pull pytorch/pytorch:1.11.0-cuda11.3-cudnn8-devel

# conda create -n torch python=3.8
# conda activate torch

# conda install pytorch torchaudio cudatoolkit=11.3 -c pytorch

# export TORCHVISION_INCLUDE=/home/ljf/Video_Codec_SDK_11.1.5/Interface/

[2022-06-15 11:05] vfdev-5 commented on #6166
Doing git bisect, it tells me that:
[code]

This commit breaks the snippet from @YosuaMichael , https://github.com/pytorch/vision/issues/6166#issuecomment-1155511441

[2022-06-15 14:44] ezyang commented on #6166
How much do you trust this repro test to capture all the breakage

[2022-06-15 14:51] datumbox commented on #6166
@ezyang it's a very new test in a very new model. So perhaps if you want to add a smoke test on your side, you can take the Yosua's snippet above. It's an issue that we haven't seen before so it's hard to tell how many other issues it can capture.

[2022-06-15 14:53] mrinath123 opened #6172 "Using any torchvision pretrained model as backbone for FasterRcnn"
### 🚀 The feature

Adding only the name of the backbone network, loads the pretrained model in the FasterRcnn model as backbone.

### Motivation, pitch

Its possible to use any backbone, but we have to specify many things like feature size, feature_name etc., wont be it easy for the user to just give the name of the backbone and we internally do everything.

### Alternatives

_No response_

### Ad

[2022-06-15 14:54] mrinath123 commented on #6172
Need reviews for this, and thanks for listening to my idea
CC @datumbox

[2022-06-15 15:06] vfdev-5 commented on #6166
If we replace in the [model defintion](https://github.com/pytorch/vision/blob/d1b2f4a18e0cae06b0a2288763c67b8371e65d9e/torchvision/models/swin_transformer.py#L49) offending place `x = F.pad(x, (0, 0, 0, W % 2, 0, H % 2))` with pure integers : `x = F.pad(x, (0, 0, 0, 0, 0, 0))`, FX related tests are now passing with nightly pytorch:
[code]
So, I think this is the only place that breaks the CI

[2022-06-15 15:18] datumbox commented on #6172
Thanks for the recommendation. If I understand you correctly, you would like to make seamless the combination of different backbones with different detection heads, is that right?

The current API, allows you to provide a `backbone` on the constructor of the Detection models. This is the first argument that all Object Detection classes receive. Using it is a rather advanced API because one has to

[2022-06-15 16:16] mrinath123 commented on #6172
Yes, exactly I was talking about the same thing. Like you said its not easy to like know some internal config. I think if we can solve this issue, it will be really helpful for the users.
If any work related to this comes I would definitely want to contribute.
Thanks for making it know why its a complex process and giving the link of the papers, I will try to study them.

[2022-06-15 18:35] mrinath123 commented on #6172
Nice repo!
I too made something similar https://github.com/mrinath123/timmFasterRcnn I used timm backbone models rather than pytorch vision, but as you can see in the model config, there is a lot of manual work to do.
I hope there will be a easier solution to do this.

[2022-06-15 22:40] vadimkantorov commented on #5461
Also, batched/parallelized read_image api could save some simple cases where otherwise a full dataset/dataloader would be needed (if practical enough to implement it).

[2022-06-16 12:02] datumbox commented on #6081
Adding missing _log_api_usage_once to Swin's reusable components

Category: minor bugfix

main: #6174
release branch: #6175

@atalman this cherrypick comes after the final RC cut and it's not a critical bugfix, rather an omission on the logging side. I'll leave it up to you if it can be merged and included in the release.

[2022-06-17 02:29] henry-zwart commented on #4378
Also seeing this issue on CUDA 11.6 (running in a docker container):

[2022-06-17 14:03] tgaddair commented on #6103
Quick update on this, we managed to find a workaround by removing `torch` and `torchvision` from the project requirements after installing the nightlies. For whatever reason having those packages in the requirements resulted in the nightly version being overwritten and reverting back to stable. So we are unblocked on this for now.

[2022-06-17 14:57] NicolasHug commented on #6143
[Fixed](https://giphy.com/gifs/tipsyelves-rainbow-magic-3o84U6421OOWegpQhq/fullscreen)!

[2022-06-17 14:57] #6143 closed, assigned to nobody

[2022-06-19 03:46] rsokl commented on #5039
Any status update on this? My students are hitting this frequently.

[2022-06-19 11:24] ahmednofal commented on #5863
Hello all, any progress regarding this issue ?

[2022-06-20 13:16] Ahmed-Fayed opened #6183 "Replicate PyTorch transforms like transforms.ToTensor() and transforms.Normalize() in opencv c++"
## Issue description

In my development code, I have pytorch transforms on my test dataset (torchvision.transforms), I have exported the model into ONNX and I want to replicate these transforms with OpenCV c++. but, when i make predictions using pytorch (with the exported ONNX model), I get different result than when making predictions with OpenCV c++

## PyTorch transforms

[code]

- Output of In

[2022-06-20 17:59] malfet commented on #6103
@tgaddair do you mind opening a separate issue on problems you continue to experience, as it does not seem to be related to the original issue reported here.

Removed torchvision/torchvision/index.html from s3, so the the folder should no longer exist:
[code]

[2022-06-20 17:59] #6103 closed

[2022-06-20 18:57] pmeier commented on #5039
So far I'm unable to reproduce this with this [VM](https://developer.microsoft.com/en-us/windows/downloads/virtual-machines/). @rsokl if you or your students are

would you be able to either debug this or compile a minimal example / setup I can use to reproduce?

[2022-06-21 16:01] datumbox commented on #3817
@lezwon Thanks a lot for offering to help!

ReMixMatch focuses on learning augmentations and on using unlabelled data. One challenge with that is that the majority of the changes will have to land on references which are outside of TorchVision. Currently the reference scripts are in need of some rework to reduce the amount of duplicate code and improve the overall quality. It's on the top of our t

[2022-06-21 16:21] lezwon commented on #3817
@datumbox AutoAugment sounds good. I'll start looking into it. :) Also, I noticed your comment on SimpleCopyPaste PR. Lemme know if I can help in any way :)

[2022-06-21 16:32] datumbox commented on #3817
@lezwon Fantastic! Just note that I'm talking about this version designed for detection: [AutoAugment Detection](https://arxiv.org/pdf/1906.11172.pdf). This is different from the already supported algorithm for classification. :)

[2022-06-21 17:39] datumbox opened #6185 "UnsatisfiableError due to numpy"
### 🐛 Describe the bug

The latest core nightly (20220621) seems to [conflict](https://app.circleci.com/pipelines/github/pytorch/vision/18497/workflows/5dd4013a-c1e8-4f0d-bbbb-205aa2a38fb9/jobs/1496577) with numpy on the latest main branch:
[code]

### Versions

Latest TorchVision main, core nightly 20220621

[2022-06-22 03:41] zhiqwang commented on #2707
Hi , MobileOne introduced by Apple is interesting, is there any plan to support it ? And mobile-vision team implement it at https://github.com/facebookresearch/mobile-vision/pull/91 .

[2022-06-22 07:01] vfdev-5 commented on #3817
Without talking about transforms implementation in the prototype (how input type dispatch would happen etc), the only thing I think we could miss to implement AA Detection is `bbox_only_*` color aug. I do not think that it is something complicated to implement.

[2022-06-22 07:39] datumbox commented on #2707
@zhiqwang MobileOne wan't in our shotlist but we can certainly keep an eye on it if it builds momentum.

[2022-06-22 09:28] github-actions[bot] opened #6186 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow tests/download.
Please look into it:

https://github.com/pytorch/vision/actions/runs/2541119862

Feel free to close this if this was just a one-off error.

cc @pmeier @YosuaMichael

[2022-06-22 09:32] NicolasHug commented on #6186
Looks like the entire http://ufldl.stanford.edu domain times out. Hopefully it is just temporary

[2022-06-22 10:45] vfdev-5 opened #6189 "CI fails on windows: ci/circleci: unittest_windows_cpu_pyX.Y"
Tests on windows are started failing:

- https://app.circleci.com/pipelines/github/pytorch/vision/18503/workflows/3c477207-67b9-45c8-8960-ab3efb40b8b1/jobs/1497031
- https://app.circleci.com/pipelines/github/pytorch/vision/18503/workflows/3c477207-67b9-45c8-8960-ab3efb40b8b1/jobs/1496973

[code]

It started appearing on PyTorch core nightly 20220622

cc @pmeier @seemethere

[2022-06-22 11:29] datumbox commented on #6185
fixed after @atalman updated the nightly. Thanks for the help.

[2022-06-22 11:29] #6185 closed

[2022-06-22 11:52] YosuaMichael commented on #6189
cc @atalman

[2022-06-22 12:20] GuanlinLee opened #6190 "A FATAL BUG IN torchvision.transforms WHEN USING ADVERSARIAL TRAINING. Transformations applied to tensors will decrease the performance compared with Transformations applied to PIL images then ToTensor."
### 🐛 Describe the bug

For Data Augmentation applied on PIL Images and then using ToTensor, the training code is like this:
[code]

For First using ToTensor to covert PIL Images to tensors firstly and the applying Data Augmentation on tensors, the training code is like this:
[code]

Clearly, these two versions of training codes are expected to have similar results on the train set. However, I fin

[2022-06-22 13:06] #4611 closed, assigned to datumbox

[2022-06-22 15:47] YosuaMichael commented on #6189
Seems like it is green now https://github.com/pytorch/vision/pull/5009
should we close this issues?
@vfdev-5

[2022-06-22 15:49] vfdev-5 commented on #6189
Thanks for the update! Let's close this issue if everything is OK now

[2022-06-22 16:14] vfdev-5 commented on #6189
@YosuaMichael actually, tests are still failing on https://github.com/pytorch/vision/pull/5009. I reopen

[2022-06-22 19:01] pyjhzwh commented on #1489
I get the similar error. And fixed it by removing the torchvision that I install by pip. I think it should be the version mismatch (I build torch from source)

[2022-06-22 19:21] YosuaMichael commented on #6190
Hi @GuanlinLee from the provided script I notice that the transform operations are not exactly the same. To be specific, I think on the second script you have additional `torchvision.transforms.Resize((32,32))` in the beginning for the training compared to the first script.
Could you try again with the second script updated to something like:
[code]

[2022-06-22 19:22] YosuaMichael commented on #6189
Ah yeah, previously I just rerun the test and it seems green. But it get the error after I update the branch. Sorry for the false negative @vfdev-5 !

[2022-06-22 21:27] mjack3 opened #6192 "Add Gaussian noise transformation"
### 🚀 The feature

Add gaussian noise transformation in the functionalities of torchvision.transforms.

### Motivation, pitch

Using Normalizing Flows, is good to add some light noise in the inputs. Right now I am using albumentation for this but, would be great to use it in the torchvision library

### Alternatives

[Albumentation has a gaussian noise implementation](https://albumentations.ai/doc

[2022-06-22 22:23] zhanwenchen commented on #2950
Has this bug been fixed in 0.11 or 0.12?

[2022-06-22 22:41] vfdev-5 commented on #2950
It will be impossible to get exactly the same result for torch interpolate and PIL resize for all interpolation modes and scales. Results are compatible and almost equal. For example, here is a test that checks outputs: https://github.com/pytorch/vision/blob/59c4de9123eb1d39bb700f7ae7780fb9c7217910/test/test_functional_tensor.py#L548
We set tolerance to 8.0 while computing mean abs error, data is

[2022-06-22 22:41] #2950 closed

[2022-06-23 02:38] GuanlinLee commented on #6190
Hi, I think the reason causing this phenomenon is that the data augmentation in ```data_aug()```, all inputs are applied the same transformation inside the batch. When using the dataloader, the transformation is individually applied to each instance. So, I think the transformation for tensors with batch_size should have a constant behavior, i.e., for each instance the transformation should be rand

[2022-06-23 06:00] hjinlee88 commented on #2950
@vfdev-5 I re-read this issue and found out that I accidentally put two bugs (anti-alias and bicubic overshoot) in one issue.
Do I need to open a new issue to fix the bicubic overshoot or is it ok because there is a note in the docs?

[2022-06-23 07:18] vfdev-5 commented on #2950
@hjinlee88 I think with the newest and recommended way to do things there is no more both issues:
- `ToTensor()` is going to be deprecated. We advice to use `PILToTensor()` instead. WIth `PILToTensor()` there is no range rescale as with `ToTensor()`
- use `antialias=True` with `Resize`

So, your intial example would look like:
[code]
![image](https://user-images.githubusercontent.com/2459423/17523

[2022-06-23 08:54] oke-aditya commented on #6192
Hi @mjack3 thanks for the request.

We do have `GaussianBlur` https://github.com/pytorch/vision/blob/main/torchvision/transforms/transforms.py#L1765

May I know what's the difference between gaussian blur and gaussian Noise? In case they are same feel free to use `T.GaussianBlur`

[2022-06-23 08:59] datumbox commented on #6189
@vfdev-5 the failure is suspicious because it's on a very large model. Can you try skipping the specific test to see if this is related to issues on CircleCI side rather than on core? Another thing we can do to confirm that the core is not the issue, is to fix the nightly the the one before and rerun the job. If it fails we will know it's the CircleCI.

[2022-06-23 09:07] vfdev-5 commented on #6192
@oke-aditya maybe the correct link is https://albumentations.ai/docs/api_reference/augmentations/transforms/#albumentations.augmentations.transforms.GaussNoise

[2022-06-23 09:08] oke-aditya commented on #6192
What do you think @vfdev-5 ? Is this useful to add to `torchvision.transforms` ?

[2022-06-23 09:12] mjack3 commented on #6192
Gaussian noise and Gaussian blur are different think as I am showing below. As i said, Gaussian noose is used in several unsupervised learning methods

![image](https://user-images.githubusercontent.com/37028633/175263048-a14cb4f3-7388-4cf0-b98c-1ff14728b090.jpeg)

[2022-06-23 09:14] datumbox commented on #6192
I think Salt and Pepper and Gaussian Noise are valid transforms to offer. I would probably be in favour to create them on the new API which is in progress. Wdyt?

[2022-06-23 09:15] oke-aditya commented on #6192
Seems great, salt pepper noise and gaussian Noise and probably textBook transforms. Seems nice addition to new API.

[2022-06-23 09:29] github-actions[bot] opened #6194 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow tests/download.
Please look into it:

https://github.com/pytorch/vision/actions/runs/2547990057

Feel free to close this if this was just a one-off error.

cc @pmeier @YosuaMichael

[2022-06-23 09:31] vfdev-5 commented on #6192
A minimal workaround today could be the following (keeping in mind all limitations it could have):
[code]

![image](https://user-images.githubusercontent.com/2459423/175266878-52a13965-8ec4-420f-a93d-10ec748441ce.png)

I agree that we could implement it and its variant in the transforms.

[2022-06-23 09:37] mjack3 commented on #6192
That will do the job for now

[2022-06-23 10:42] YosuaMichael commented on #6189
I have confirmed that skipping the big models indeed make the CI green again. Now with the same PR #6195  I use the older nightly version (torch==1.13.0.dev20220621) to check if this issue is caused by core or circle CI.

[2022-06-23 11:13] YosuaMichael commented on #6189
@vfdev-5 @datumbox Using the older nightly version seems to encounter same error as before (see https://app.circleci.com/pipelines/github/pytorch/vision/18534/workflows/54804215-e148-4523-af21-c0ce30837484/jobs/1499610).
I think this means the problem is not from core.
Looking at torchvision PR on the last 7 days, there seems no change on models or test. Hence I think it might be because of Circle

[2022-06-23 11:21] vfdev-5 commented on #6189
@YosuaMichael you can also be able to ssh to the circle CI failing job and check directly which nightly is passing (if any)

[2022-06-23 11:36] YosuaMichael commented on #6190
Hi @GuanlinLee , I think they are not exactly the same transformation.
The first script do the following:
[code]
The transforms applied to train image: `RandomCrop -> RandomHorizontalFlip -> ToTensor`

While on the second script:
[code]
The transform applied to train image: `Resize -> ToTensor -> RandomCrop -> RandomHorizontalFlip`.

To summarize, the transform applied on the train image are:

- [

[2022-06-23 11:42] GuanlinLee commented on #6190
Hi @YosuaMichael, I know what you mean. However, I have tested it already. Even if I only use ToTensor and then RandomCrop and RandomHorizontalFlip, the results are the same as the 2nd script.

[2022-06-23 11:53] YosuaMichael commented on #6189
@vfdev-5 I never ssh to circle CI before, do you have any pointer on how to do it?

@datumbox @vfdev-5 I identify the installation of pytorch on windows seems to happened here: https://github.com/pytorch/vision/blob/main/.circleci/unittest/windows/scripts/install.sh#L37. Do you have any idea how to modify to install the older nightly version?
Note that this is the command it used to install in the

[2022-06-23 12:47] vfdev-5 commented on #6189
@YosuaMichael there was a wiki page on pytorch about that. There is link on circle ci docs: https://circleci.com/docs/2.0/ssh-access-jobs

Basically, once you logged in on circle CI you can have options like : restart failed job, restart failed job with ssh. I think we should have write rights on the repo to be able to run with ssh.
Ssh on Windows can be tricky due to sometime missing tty and we j

[2022-06-23 12:53] YosuaMichael commented on #6189
@vfdev-5 thanks for the suggestion! Currently I hardcode and replace the conda install with pip, it seems to successfully install the torch version that we want (see https://app.circleci.com/pipelines/github/pytorch/vision/18540/workflows/3765b5f9-445c-4d89-895b-b100f2f99834/jobs/1500134).
Now we just need to wait whether it reproduce the error

[2022-06-23 13:05] YosuaMichael commented on #6189
Now I have confirmed that the problem is not from core.
I have make sure it use the nightly version 20220621 (see Install Torchvision section on https://app.circleci.com/pipelines/github/pytorch/vision/18540/workflows/3765b5f9-445c-4d89-895b-b100f2f99834/jobs/1500134) and it still got the error (probably OOM).

@vfdev-5 @datumbox any idea what to do next ?

[2022-06-23 13:17] datumbox commented on #6189
That's the problem with very large models like that. They often cause random memory issues. If you send a PR that adds a list of such models and skips them (similar to what you have for the GPU), I'll be happy to review it. Basically we should turn off the specific test and recover our CI.

[2022-06-23 13:38] vfdev-5 commented on #6189
@YosuaMichael just to confirm if we run everything locally it does not fail right, only Circle CI is failing everytime ?

[2022-06-23 14:34] YosuaMichael commented on #6189
For my macbook it does not fail, but I think this is expected (in the circle ci, only windows one failing and probably because of resource problem like memory)

[2022-06-23 16:24] ntakouris opened #6200 "Torch-TensorRT Integration"
### 🚀 The feature

[pytorch-tensorrt](https://github.com/pytorch/TensorRT) hit release 1.0 (is actually 1.1 right now), but most of the models available are not out of the box convertable to it.

### Motivation, pitch

Read feature description

### Alternatives

Alternatives would be to convert to onnx, and then convert to tensorrt, which is exactly what torch-trt tries to avoid; This would also r

[2022-06-23 16:35] zhanwenchen commented on #2950
@vfdev-5 Thank you for the update. Has the performance issue with antialias=True with Resize been resolved?

[2022-06-23 18:12] JLrumberger commented on #6062
[I have invertible transformations up and running](https://github.com/Kainmueller-Lab/lizard_challenge/blob/main/src/spatial_augmenter.py) for the following transformations: mirror, translate, zoom, scale, rotate, shear and elastic transformations and I'd be happy to contribute if you want :)

[2022-06-23 18:56] datumbox commented on #6189
Fixed by #6197

[2022-06-23 18:56] #6189 closed

[2022-06-23 19:05] abhi-glitchhg commented on #2707
[MobileViT](https://arxiv.org/abs/2206.02680) is another lightweight vision transformer-based model. The code is available [here](https://github.com/apple/ml-cvnets) . Might be good to keep an eye on this one too.

[2022-06-24 09:17] yassineAlouini commented on #3562
@oke-aditya Should we add the [FGVC-Aircraft ](https://github.com/pytorch/vision/pull/467) dataset (as implemented in this PR)?

[2022-06-24 11:18] datumbox commented on #6062
@JLrumberger thanks, this is very interesting! We definitely want to consider this after finalizing the main API of the transforms. We want to avoid making it more complex right now, but if you are happy to wait we can kick this off once the prototype is complete. What you think? In the meantime, other contributions from you is very welcome!

[2022-06-24 11:29] datumbox commented on #6200
@ntakouris Thanks a lot for the feedback.

I would be happy if we can make the models TensortRT compatible as long as it doesn't involve adding extra hacks and workarounds. An example of such workaround is at https://github.com/pytorch/vision/pull/6120

TorchVision's codebase often has to apply numerous workarounds (most of the nusty) to ensure our models are JIT-scriptable and FX-traceable. Add O

[2022-06-24 13:12] YosuaMichael commented on #6190
I see, so even if you remove resize from second script, the resulting accuracy stay the same as before? In that case I am not too sure what is the root problem and may need further investigation. I will try to reproduce your result first and let you know if I got something.

[2022-06-24 13:19] YosuaMichael opened #6202 "CI Failed on test_prototype_builtin_datasets.py"
Test are starting to fail on test_prototype_builtin_datasets.py on 24 June 2022
Here are an example:
https://github.com/pytorch/vision/runs/7041792653?check_suite_focus=true

I open up this issue for documentations, will check more on root cause on the issue.

cc @NicolasHug since this is about prototype dataset, can you also take a look on this?

[2022-06-24 13:24] datumbox commented on #6202
It's possible that https://github.com/pytorch/pytorch/pull/79344 made the change.

@ejguan @nivekt Would you be able to check?

[2022-06-24 14:06] NivekT commented on #6202
There should be a fix in this PR, it should be part of the next nightly build.
https://github.com/pytorch/pytorch/pull/80140/files#diff-3c24d6216b32a33b711fb755d5b9a14f21a9ace7167749cd4c3ef02c5baa4912

cc: @ejguan

[2022-06-24 17:22] ejguan commented on #6202
I have reverted the culprit PR https://github.com/pytorch/pytorch/pull/79344 since I found more issues with it. The Ci should be back to green in the next nightly release.
Thank you for reporting it.

[2022-06-26 12:59] datumbox opened #6204 "`video_reader` core dumps on specific video"
### 🐛 Describe the bug

[code]
Output:
[code]

The video file is part of Kinetics400. You can download it from [here](https://user-images.githubusercontent.com/5347466/175815132-86c9cb95-4d0c-4c10-ad3c-aa32e31026c1.mp4). Other videos pass.

Dump from gdb:
[code]

### Versions

Latest main branch.

[code]

[2022-06-27 08:02] pmeier commented on #3562
@yassineAlouini We already have FGVC-Aircraft in the current API

https://github.com/pytorch/vision/blob/fb7f9a16628cb0813ac958da4525247e325cc3d2/torchvision/datasets/fgvc_aircraft.py#L12

as well as #5354 to track progress for porting it to the prototype one.

[2022-06-27 08:44] wwwsent opened #6206 "Wrong for pytorch-nightly version"
### 🐛 Describe the bug

The wrong is below:
Traceback (most recent call last):
  File "/home/hxj/PycharmProjects/ImageNetTrain/main.py", line 9, in <module>
    weights = P.models.ResNet50_Weights.IMAGENET1K_V1
AttributeError: module 'torchvision.prototype.models' has no attribute 'ResNet50_Weights'

### Versions

pytorch-nightly 1.13

[2022-06-27 08:55] datumbox commented on #6206
@wwwsent Thanks for reporting.

I'm going to guess here. The `P` might be a shortcut for `prototype` and looks like something you took from the [blogpost](https://pytorch.org/blog/introducing-torchvision-new-multi-weight-support-api/). If that's true, then note that the new API has graduated from prototype and now is part of the main TorchVision (will be released tomorrow). So you basically don't

[2022-06-27 13:29] YosuaMichael commented on #6202
I have confirmed that now the CI is green again. Thanks @ejguan for the fix!

[2022-06-27 15:43] YosuaMichael opened #6207 "Error on functional_pil.resize with accimage"
### 🐛 Describe the bug

I think the PR https://github.com/pytorch/vision/pull/6191 broke the test_transforms.py test_accimage_resize. (detected on internal CI)

To reproduce, we should install accimage (see https://github.com/pytorch/accimage) and do the test using the following command:
[code]

This will fail and produce stacktrace:
[code]
But strangely our current CI is green, does this mean we

[2022-06-28 08:48] NicolasHug commented on #6207
Yeah, we don't test against accimage on GH, just internally.

This kind of issue pop up rarely, but regularly. For example https://github.com/pytorch/vision/issues/5541#issuecomment-1058234058:

IIRC, the conclusion was to do nothing. Before completely removing accimage support we'd have to figure out whether people actually rely on it internally or not.

[2022-06-28 14:32] vfdev-5 opened #6210 "CI Xcode image deprecation and EOL"
Xcode 11.4.1
    Xcode 11.5.0
    Xcode 11.6.0
    Xcode 12.0.1
    Xcode 12.1.1
    Xcode 12.2.0
    Xcode 12.3.0
    Xcode 12.4.0

https://github.com/pytorch/vision/blob/f75272fa704452a1d9405126c3a09e2d7432d489/.circleci/config.yml.in#L461

Supported Xcode versions: https://circleci.com/docs/2.0/testing-ios#supported-xcode-versions
- For example: XCode 13.4.1

cc @seemethere

[2022-06-29 02:14] grimoire opened #6212 "typo in 0.13.0 release note"
### 🐛 Describe the bug

https://github.com/pytorch/vision/releases/tag/v0.13.0

The `shufflenet_v2_x1_5 (quantized) acc@5` in  the table is 0.700, guess it is a typo?

### Versions

PyTorch version: 1.10.1+cu113
Is debug build: False
CUDA used to build PyTorch: 11.3
ROCM used to build PyTorch: N/A

OS: Ubuntu 18.04.6 LTS (x86_64)
GCC version: (Ubuntu 7.5.0-3ubuntu1~18.04) 7.5.0
Clang version: 6.0.

[2022-06-29 07:54] lpq97lpq opened #6213 "GeneralizedRCNNTransform output different shapes of images and targets"
### 🐛 Describe the bug

I would expect the shape of images and targets consistent with each other (that is, have the same width and height).

However, since torchvision.models.detection.transform.GeneralizedRCNNTransform call self.batch_images at the end of its forward function only on images, the output images and targets usually don't have the same shapes.

Example:
[code]

output:

torch.Size([

[2022-06-29 08:51] artest08 opened #6214 "Swin_V2 addition with ImageNet22K pre-training"
### 🚀 The feature

Thanks for the addition of Swin backbone to the repository. I think the added version is the V1 version of swin transformer. Is it possible to add also Swin-V2 with ImageNet22k pretraining?

### Motivation, pitch

The motivation behind this request is that Swin-V2 with imagenet22k pre-trainings are utilized for recent SOTA performances. If this addition is completed, torchvision

[2022-06-29 09:12] suyashhchougule opened #6216 "EfficientNet_v2 models not loading through torchvision"
### 🐛 Describe the bug

I am trying to train efficient_v2 classification models on custom dataset  using
[this script](https://github.com/pytorch/vision/tree/f75272fa704452a1d9405126c3a09e2d7432d489/references/classification)
I used following command
[code]

I get following error
[code]

### Versions

Collecting environment information...
PyTorch version: 1.10.0+cu102
Is debug build: False
CUDA us

[2022-06-29 09:29] YosuaMichael commented on #6216
Hi @suyashhchougule , the model API that you use:
[code]
is introduced on the new release of torchvision (version 0.13.0) that have just been released yesterday.
Could you try install new `torchvision` and `torch` library in your computer?
The new version should be `torchvision==0.13.0` and `torch==1.12.0`

[2022-06-29 09:33] YosuaMichael commented on #6212
Thanks a lot for noticing this @grimoire ! Indeed it is a typo and I have fixed it now.

[2022-06-29 09:34] YosuaMichael commented on #6207
https://github.com/pytorch/vision/pull/6208 fix this issue

[2022-06-29 09:34] #6207 closed

[2022-06-29 10:01] datumbox commented on #6216
In addition to what @YosuaMichael said, there is no `efficientnet_v2` model. There is `efficientnet_v2_s`, `efficientnet_v2_m` and `efficientnet_v2_l`. If you install the above versions and change your invocation to pass one of the above variants, it should work fine. I'll close the issue as I believe we answered the question but feel free to reopen if you continue facing issues!

[2022-06-29 10:16] datumbox commented on #6214
Thanks for the recommendation @artest08. All credit for the addition of Swin architecture goes to @xiaohu2015 who wrote the architecture and @jdsgomes who trained it. :)

I agree Swin-V2 is a worthwhile addition. Back when @xiaohu2015 implemented, the official V2 code was not public yet so we would have to guess some of the internal details. I think that now that it's out, it's worth doing. I woul

[2022-06-29 10:30] suyashhchougule commented on #6216
Yes, That worked , Thanks

[2022-06-29 10:32] suyashhchougule commented on #6216
Yes, I meant any of the efficientnet_v2 models. but thanks

[2022-06-29 11:07] datumbox commented on #6213
@lpq97lpq Thanks for raising this. I agree, this is very confusing.

The `GeneralizedRCNNTransform` is not meant to be used directly by users (though that's not really obvious). In the current Detection API (which is still Beta), the models include the transforms internally. This was done so that they can undo internal resizing ops such as the ones you point out. Here is the intended usage:

[code

[2022-06-29 11:26] #6210 closed

[2022-06-30 09:40] paullixo opened #6221 "Customize FasterRCNN"
Hi,

I've been trying, unsuccessfully to customize a bit the implementation of FasterRCNN proposed by torchvision. For example, one thing I would like to do, would be to write a customized [postprocess_detections ](https://github.com/pytorch/vision/blob/87cde716b7f108f3db7b86047596ebfad1b88380/torchvision/models/detection/roi_heads.py#L668) function that return confidence for all labels and not on

[2022-06-30 12:39] artest08 opened #6223 "Post Paper Architectural Optimization ReadMe update"
### 📚 The doc issue

The announcement about the V2 improvements of RetinaNet, FasterRCNN and MaskRCNN has been made (Post Paper Architectural Optimization). Thanks for the amazing work.

However, if the references/detection/Readme is updated conveniently with the new configuration, it would be amazing to reproduce the results and utilize the new training scheme in other datasets.

Thanks in advanc

[2022-06-30 12:44] datumbox commented on #6223
@artest08 Thanks for the issue.

We've added all this information on the [docs](https://pytorch.org/vision/stable/models/generated/torchvision.models.detection.fasterrcnn_resnet50_fpn_v2.html#torchvision.models.detection.fasterrcnn_resnet50_fpn_v2). Every model comes with a recipe link that points to how it was trained so that it's fully reproducible.

The fact that you were obliged to open an iss

[2022-06-30 13:25] datumbox commented on #6223
@artest08 Sounds reasonable. Once issue with this is that we now have a bunch of versions, so adding the commands in the readme in an unstructured manner can be quite a lot of text. On the other hand, I agree that having some of the models in the reference readmes is also very misleading...

@NicolasHug What you think? Shall we add all commands back to the readmes? Or perhaps remove the readmes an

[2022-06-30 13:33] lezwon opened #6224 "Implement AutoAugment for Detection"
### 🚀 The feature

Implement [Learning Data Augmentation Strategies for Object Detection](https://arxiv.org/abs/1906.11172)
Refers to: #3817

### Motivation, pitch

Good to have augmentation in Torchvision

### Alternatives

_No response_

### Additional context

_No response_

[2022-06-30 13:35] lezwon commented on #6224
@datumbox @vfdev-5 Based on our last conversation I suppose it would be best to start with the `bbox_only_*` augmentations for AA right? I could get started with implementing these in `torchvision.prototype`. Do let me know if that's alright.

1. Rotate_Only_BBoxes
2. ShearX_Only_BBoxes
3. ShearY_Only_BBoxes
4. TranslateX_Only_BBoxes
5. TranslateY_Only_BBoxes
6. Flip_Only_BBoxes
7. Solarize_Only_B

[2022-06-30 14:02] jpsimen opened #6225 "Mask R-CNN Patent Use"
Hello,

Can you confirm that the Mask R-CNN implementation in Torchvision was authorized by Facebook? Maybe @fmassa? This would give us at ZEISS and possibly many other users of your code some peace of mind.

I'm asking because the Mask R-CNN model is patented by Facebook Inc., but Facebook/Meta is not officially mentioned as contributor or copyright owner in the pytorch/vision repository.

Thank

[2022-06-30 14:44] alexnwang commented on #5419
@v-iashin
Does this error still occur if you use ffmpeg==4.2?

[2022-06-30 14:58] datumbox commented on #6225
@jpsimen This repo (PyTorch/TorchVision) is indeed maintained by Meta/Facebook and the code is released under the permissive MIT license. Does this address your concern?

[2022-06-30 15:01] datumbox commented on #6224
@lezwon thanks a lot! It's worth coordinating with @vfdev-5 because he is literally landing changes at the same API.

Victor, how do you propose to do this? Would you prefer to do an implementation on References (similar to what we did with CopyPaste) and move it later on the new API?

[2022-06-30 15:15] vfdev-5 commented on #6224
@datumbox @lezwon if we see AA detection code similar to classification one <=> single transformation class calling functional ops inside, then `<op>_Only_BBoxes` could be implemented as a special function that produces a list of image crops and we can apply `<op>_image_tensor` to them. I think we can go directly with new API.

[2022-06-30 15:29] lezwon commented on #6224
@vfdev-5 Yep. Cutout does refer to erasing patches of data from the target box.

[2022-06-30 16:54] datumbox commented on #6221
@paullixo Thanks for the question. @YosuaMichael is spot on, this is how you could currently extend the existing detection models. We understand that potentially this is not the most convenient way to swap out losses and postprocessing. We plan on the near future to invest time revamping the Object Detection API. I think we can leave the issue open to keep an eye on the kind of work that the users

[2022-06-30 17:11] ain-soph commented on #5511
And another thought to improve docs from the aspect of sphinx theme.

In my case, I find it extremely helpful to put methods of classes into the right sidebar.
https://ain-soph.github.io/trojanzoo/trojanzoo/models.html

<img width="1178" alt="image" src="https://user-images.githubusercontent.com/13214530/176737079-ab2d0191-e110-4cd6-a657-c936017d024e.png">

But it seems currently torchvision doesn

[2022-06-30 17:17] HolgerStreidl commented on #6225
Thanks @datumbox for your feedback. The thing is:

- Meta/Facebook seems to own a patent for the Mask R-CNN model
- PyTorch/TorchVision includes an implementation of the Mask R-CNN model
- PyTorch/TorchVision is licensed under the [BSD-3-Clause](https://github.com/pytorch/vision/blob/main/LICENSE) which does not include an explicit patent grant though one may interpret its wording as to be an impl

[2022-06-30 20:16] v-iashin commented on #5419
I think torch has changed the ffmpeg version that it installs with torchvision (4.2 -> 4.3).

When I try to install call `VideoReader`, it throws: `RuntimeError: Not compiled with video_reader support, to enable video_reader support, please install ffmpeg (version 4.2 is currently supported) and build torchvision from source`.

I tried to install `ffmpeg=4.2` from `conda-forge` or just with `conda

[2022-06-30 21:28] vadimkantorov opened #6227 "Swin in this repo + dynamic resolution"
### 📚 The doc issue

Does Swin impl in this repo support arbitrary dynamic execution-time-defined input resolution (same as other backbones)?

Initially Swin was trained to support only one resolution, but then hacks can be done to support arbitrary resolution. Two repos with such hacks:
* https://github.com/SwinTransformer/Swin-Transformer-Object-Detection/blob/master/mmdet/models/backbones/swin_

[2022-06-30 21:53] vadimkantorov commented on #5720
It also seems that there's overlap with torchaudio: https://pytorch.org/audio/0.12.0/io.html#streamreader, this StreamReader boasts even GPU-based video decoding

[2022-06-30 23:37] ain-soph commented on #6224
@vfdev-5
Here is a sample Cutout Implementation for image classification.
https://github.com/ain-soph/trojanzoo/blob/85730f629eddc17dcbc48218274b74c31daf5f99/trojanvision/utils/transform.py#L198-L226

torchvision doesn’t implement this because there is already a nearly equivalence [RandomErasing](https://pytorch.org/vision/stable/generated/torchvision.transforms.RandomErasing.html). The only diffe

[2022-07-01 08:11] paullixo commented on #6221
Thank you for your answer, however I do get the error mentioned above when doing so.
Here is the full code:

from typing import Optional, List, Dict, Tuple

import torch
import torchvision

[code]

Which results to the error:
[code]

[2022-07-01 14:24] MrShevan opened #6229 "Add pos_weight in Focal Loss to trade off recall and precision"
### 🚀 The feature

I suggest adding the `pos_weight` (extra weights to positive examples) in Focal Loss implementation [here](https://github.com/pytorch/vision/blob/main/torchvision/ops/focal_loss.py#L38).
[F.binary_cross_entropy_with_logits](https://pytorch.org/docs/stable/generated/torch.nn.functional.binary_cross_entropy_with_logits.html#torch.nn.functional.binary_cross_entropy_with_logits) alr

[2022-07-01 22:27] TianjieZhang1993 opened #6232 "torchvision.models.convnext_base can not be imported"
### 🐛 Describe the bug

[code]

[code]

### Versions

PyTorch version: 1.11.0
Is debug build: False
CUDA used to build PyTorch: 11.3
ROCM used to build PyTorch: N/A

OS: Microsoft Windows 10 Enterprise LTSC
GCC version: Could not collect
Clang version: Could not collect
CMake version: Could not collect
Libc version: N/A

Python version: 3.9.12 (main, Apr  4 2022, 05:22:27) [MSC v.1916 64 bit (AMD6

[2022-07-02 17:11] 4davo opened #6231 "Nvidia Jetson Xavier - fails to load image Python extension and Couldn't load custom C++ ops when drawing bounding boxes"
### 🐛 Describe the bug

Note: This was posted to the PyTorch repo as issue # 80576

Errors when running approved combinations of:
A) Pytorch 11.0 and Torchvision 0.12.0
and
B) Pytorch 12.0 and Torchvision 0.13.0

Case A environment and run results:
________________________________________
davo@ubuntu:~$ python3 collect_env.py
Collecting environment information...
PyTorch version: 1.11.0
Is debug b

[2022-07-02 19:00] oke-aditya commented on #5414
I want to try [DropConnect Layer](http://yann.lecun.com/exdb/publis/pdf/wan-icml-13.pdf). Any other info / implementation I could look to will be great :smiley:

[2022-07-04 08:29] zhaowenyi7 commented on #4271
Have you solved this problem? I also exported successfully with `torch.jit.script` but the c++ lib fails to load it.
[code]

[2022-07-04 13:30] datumbox commented on #6229
@MrShevan Thanks for the proposal.

Isn't this already factored in by the alpha parameter of the focal_loss? Our code implements it exactly as introduced at the RetinaNet [paper](https://arxiv.org/abs/1708.02002) and I'm not sure this proposal aligns with the original usage.

@fmassa if you have thoughts here I would love to hear them. Thanks!

[2022-07-04 13:59] datumbox commented on #5414
@oke-aditya There are a few reasons we haven't added DropConnect. According to the paper, here is Dropout:
`r = m * a(W v)` and here is DropConnect: `r = a ((M * W) u)`.

a: activation
u: input
M: bernoulli mask
W: weights

As you see the M on the latter case is applied on the W, which means it makes for an awkward design of a layer. I believe you will have to implement different versions of it fo

[2022-07-04 16:38] oke-aditya commented on #3026
We have implemented this in release 0.13 Hope you find it useful @senarvi  @HamsterHuey

cc @datumbox

[2022-07-04 16:42] datumbox commented on #3026
Ooops, yes thanks for the ping. It's available on v0.13. I'll close the issue.

[2022-07-04 17:01] YosuaMichael commented on #6227
Hi @vadimkantorov , from my understanding the answer is yes.

The swin_transformer implementation in TorchVision dont restrict the input_resolution. However take note that the accuracy may changes depending on your input resolution (or transform).

For example, the original accuracy of swin_transformer using `resize_size=232` and `crop_size=224` achieve `Acc@1 81.472 Acc@5 95.780` in imagenet1k. I

[2022-07-04 17:15] vadimkantorov commented on #6227
well, `resize_size` makes think that it's resizing the input instead and always gives a fixed output resolution

from what I understand, the two impl I mentioned above allow for scaling output resolution depending on input resolution

[2022-07-04 17:16] vadimkantorov commented on #6227
at the very least, the actual behavior should be clearly explained in the docs...

[2022-07-04 17:24] YosuaMichael commented on #6221
Hi @paullixo , strangely enough your code work on my laptop. However I think @datumbox suggestion to initiate the roi_heads module is a better way to do it. Here is the full code using @datumbox suggestion:
[code]
basically need to copy the parameter from original roi_heads and pass it to the RoiHeadsCustom constructor. Hope this will work for you!

[2022-07-04 17:36] YosuaMichael commented on #6227
Hi @vadimkantorov , just to clarify, the `resize_size` that I mentioned is the `transform` before we do the classification task. It is not part of the `swin_transformer` parameters (sorry for the confusion!)).

For `output resolution` can you explain more what do you mean by it?
From what I understand now the swin transformer model on TorchVision is a meant for classification model, so it will def

[2022-07-04 18:04] #6232 closed

[2022-07-04 19:08] vadimkantorov commented on #6227
I think for all models in torchvision, being able to serve as backbone is top-1 or top-2 usage anyway. People usually figure out how to remove the classifier, and just use the features of some layer. So this is important to clarify in docs and important scenario in general. Those two repos above achieve this by hacking the architecture a bit

[2022-07-05 04:27] yakhyo opened #6235 "Creating a `cache-dataset` for Video classification."
Hello, now I am trying to test the video classification model R(2+1)D on Kinetics400. However the speed of loading data is so slow. I believe the loading speed can be improved by caching the data but I am not sure how to cache video files. In the code also, it is mentioned. I want to know to cache video files? is cache dataset creating feature also included in future updates?
Thank you !

[2022-07-05 06:58] oekosheri opened #6236 "resize with pad transformation"
### 🚀 The feature

In tensorflow tf.image has a method, tf.image.resize_with_pad, that pads and resizes if the aspect ratio of input and output images are different to avoid distortion. I couldn't find an equivalent in torch transformations and had to write it myself. I think it would be a useful feature to have.

### Motivation, pitch

When moving to pytoch from Tensorflow, one does not want to l

[2022-07-05 07:21] zhiqwang commented on #6236
Hi @oekosheri , you can check following function, it will do bottom-right padding mode

https://github.com/pytorch/vision/blob/d6e39ff76c82c7510f68a7aa637f015e7a86f217/torchvision/models/detection/transform.py#L25-L71

And I wrote a similar wrap-around letterboxing mode at belows:

https://github.com/zhiqwang/yolov5-rt-stack/blob/main/yolort/models/transform.py#L65-L109

[2022-07-05 08:02] oekosheri commented on #6236
Hi @zhiqwang, Thanks! you mean I can use "TORCH.NN.FUNCTIONAL.INTERPOLATE" ? I tried it on a an image tensor now and it constantly gives value error of input/output size not matching.
Also, this is pretty hidden. Why not add a simple wrapper to resize that does padding when aspect ratio can't be preserved?

[2022-07-05 08:22] zhiqwang commented on #6236
Let's invite @datumbox to this disscusion, and hear his viewpoint on this problem.

[2022-07-05 08:28] datumbox commented on #6235
@yakhyo Thanks for the issue.

You can produce a cache by passing the `--cache-dataset`. It's a boolean flag that will tell the script to create or read from the cache if available. The cache is automatically produced for you the first time you parse the dataset, so it does require to wait through the process once.

A few tips to speed it up:
- The `Kinetics` class supports a `num_workers` set to

[2022-07-05 08:28] #6235 closed

[2022-07-05 13:59] xiaoyuan0203 commented on #4128
Can this issue be closed because of #5154 ?

[2022-07-05 14:44] #5247 closed, assigned to nobody

[2022-07-05 14:45] #4128 closed

[2022-07-05 15:24] paullixo commented on #6221
Thank you, it does work!

[2022-07-05 15:31] #6227 closed

[2022-07-05 15:36] xiaoyuan0203 commented on #3911
Will Mixup and CutMix be added to `torchvision.transform` and when?  #4379

[2022-07-05 16:16] vadimkantorov commented on #6227
Probably this repo/detectron2 also has swin adapted as a backbone: https://github.com/facebookresearch/detectron2/tree/main/projects/ViTDet

[2022-07-05 16:21] datumbox commented on #3911
@xiaoyuan0203 that's the plan. We have untested implementations on [prototype](https://github.com/pytorch/vision/blob/main/torchvision/prototype/transforms/_augment.py#L104-L177). We are working to finalize the API, document them and start testing them. I don't recommend them yet for production use-cases, but we will make sure to post an update when our confidence in them is increased.

[2022-07-05 17:47] jrsykes opened #6239 "n classes in ConvNeXt model"
### 🐛 Describe the bug

HI,

I'm trying to train a ConvNeXt tiny model as a binary classifier by loading the model architecture and pretrained weights from torchvision.models.

I use the following two lines of code to load the model and change the number of output nodes:

model_ft = models.convnext_tiny(weights=ConvNeXt_Tiny_Weights.DEFAULT)
model_ft.classifier[2].out_features = num_classes

And w

[2022-07-05 17:49] ain-soph commented on #3817
May I ask what's the current plan for the Fast AutoAugment?

I have the implementation of another paper called [Faster Autoaugment](https://arxiv.org/abs/1911.06987):
https://github.com/ain-soph/trojanzoo/tree/main/trojanvision/utils/autoaugment.
It's the reimplementation based on [autoalbument](https://github.com/albumentations-team/autoalbument).

Are maintainers interested in embedding this tec

[2022-07-06 05:49] zhiqwang commented on #6236
Just FYI, a previous issue #3286 also has some relevance to the discussion here.

[2022-07-06 08:13] datumbox commented on #6239
@jrsykes Thanks for the question.

I'm afraid you are trying to modify the wrong parameter:
[code]

This doesn't change the number of classes, just the informational attribute in the node. The recommended way to do this would be to replace the `model_ft.classifier[2]` layer with a new Linear layer that matches your number of classes.

I'm going to close the issue as I believe I've answered your qu

[2022-07-06 08:13] #6239 closed

[2022-07-06 09:29] 21Ansh opened #6240 "Compilation error with cuda"
### 🐛 Describe the bug

When compiling vision with cuda enabled I am getting following error
CMake Error at /usr/local/share/cmake-3.22/Modules/CMakeTestCUDACompiler.cmake:56 (message):
   The CUDA compiler
     "/usr/bin/nvcc"
is not able to compile a simple test program.

I was able to compile the library after adding following in CMakeLists.txt after if(WITH_CUDA)
set(CMAKE_CUDA_COMPILER "/usr/

[2022-07-06 12:09] chenfengshijie commented on #215
Very useful answer!

[2022-07-06 12:52] oekosheri commented on #6236
@datumbox They are padded to ensure images that have different original aspect ratio to the final one, don't get distorted. Distorted images may not work well with CNNs. I updated a mistake in the code above. As it is now, it produces the exact output that tf.image.resize_with_pad does.

[2022-07-06 14:15] #6221 closed

[2022-07-06 16:42] datumbox opened #6242 "Add SwinV2 in TorchVision"
### 🚀 The feature

Swin Transforms were added to TorchVision on #5491 thanks to the work of @xiaohu2015 and @jdsgomes. At that point, the official code of [SwinV2](https://arxiv.org/abs/2111.09883) was not released so we decided to postpone its addition. Later @YosuaMichael has refactored the class to make it compatible with 3d use-cases at #6088. With the code of V2 now [available](https://github

[2022-07-06 16:56] datumbox commented on #6236
@oekosheri Thanks for the references and context. I'll sync with @vfdev-5 offline to see if we can add this on the new API and how. I'll leave the issue open to ensure it stays on our radar.

[2022-07-06 18:42] YosuaMichael commented on #6190
Hi @GuanlinLee , I tried to reproduce the problem using your code. However seems like the script you provide can't be run.

I encounter several errors like variable not defined, import error, etc.

Could you help me by providing a minimal sample script that can be run without error? For instance I think the PGD function can be removed for the minimal example.

[2022-07-06 22:26] oke-aditya commented on #2980
Seems variety of IoU and it's losses keep evolving. Now after g d and c IoU we have sIoU

https://arxiv.org/abs/2205.12740

(How many alphabets will IoU get 4/26 currently 😁😁)

[2022-07-07 03:01] GuanlinLee commented on #6190
Hi @YosuaMichael, I have uploaded my code to github. You can find it in [https://github.com/GuanlinLee/PGD_Demo](url). If you meet any problem when running it, please let me know. Thanks!

[2022-07-07 05:05] ankitmaurya001 commented on #5461
I agree here for deprecating save_image.
Any ideas on how to save a uint64 tensor in the range[0,255] as an image?

[2022-07-07 06:53] datumbox commented on #6190
@GuanlinLee Your repo is several hundreds lines which is far to long for us to investigate. This is why Yosua asked you to provide a minimal example that reproduces the problem. Ideally this should be only a few lines of code that clearly reproduces the issue. Without this, we won't be able to help I'm afraid.

[2022-07-07 07:01] GuanlinLee commented on #6190
@datumbox The bug happened during the training process. So, I need to provide the full training and evaluation code for you to check and repeat. And, I find the bug only happens when using adversarial training, as the issue said.

[2022-07-07 08:12] datumbox commented on #6190
@GuanlinLee I understand. The problem is if the code that reproduces the issue is 800 lines long, it's going to be very hard for us to review and debug. I appreciate that the problem is complex because it involves training models but to make your issue more actionable it will help if you further debug further and provide a minimal example.

[2022-07-07 08:30] GuanlinLee commented on #6190
Hi @datumbox, I have just modified my repo. Now, the code only has about 100+ lines. The model resnet is the official one but for cifar10, so the kernel size of the first covn layer is 3 instead of 7. Hope the current version can help you debug.

[2022-07-07 08:33] cdeepali commented on #6240
Do you have `CUDA_HOME`set?

[2022-07-07 09:59] rvandeghen opened #6244 "GroupedBatchSampler in detection reference"
### 🐛 Describe the bug

Since we have `multiscale` and `lsj` augmentations which use fix sizes, we no longer resize the images in the transforms of `GeneralizedRCNNTransform`. However, we still use the `GroupedBatchSampler` but for me the grouping by aspect ratio is no longer mandatory. Am I right ?

Even though I don't think it is very useful (if the statement above is true), we can easily patch

[2022-07-07 12:16] 21Ansh commented on #6240
No, I haven't set CUDA_HOME

[2022-07-07 12:20] cdeepali commented on #6240
Please set CUDA_HOME and try the build without your local change.
`export CUDA_HOME=/usr/local/cuda-11.1`

[2022-07-07 12:44] datumbox commented on #6244
@rvandeghen Thanks for your feedback! You are technically right; let me elaborate on some of the nuances.

The introduction of `multiscale` and `lsj` augmentations was done to boost the accuracy of existing Detection models and close the gap from SOTA. There are still augmentation strategies that don't do fixed sizes and thus still require the `GroupedBatchSampler` (which is why it's maintained).

[2022-07-07 13:24] 21Ansh commented on #6240
Tried it and I am having same error. I need to set CMAKE_CUDA_COMPILER in CMakeLists.txt

[2022-07-07 15:57] cdeepali commented on #6240
Do you have multiple installations of CUDA?

[2022-07-08 08:21] artest08 opened #6247 "Probable missing argument for swin transformer"
Hello,

When I inspect the swin transformer codes in the original swin repo, mmdetection or detectron2, I have noticed that there is a parameter called `drop_path_rate` which I cannot see in the in the torchvision repo. Maybe, I am overlooking. Is there a similar parameter and is it an important parameter?

Thanks in advance

cc @datumbox

[2022-07-08 09:17] datumbox commented on #6247
@artest08 Thanks for the question. We support the `stochastic_depth_prob` which is exactly the parameter you are looking for.

I'll close the issue because I believe I answered the question. If you have more or face issues please feel free to reopen it.

[2022-07-08 09:28] githwd2016 opened #6249 "Error when create_feature_extractor in AlexNet"
### 🐛 Describe the bug

When I try to obtain the feature of layer "classifier.4" in AlexNet, the program has reported an error. The code is as follows:
[code]

**Error message**
[code]

I guess it is because that the shape of output from "flatten" of AlexNet is 256x36 rather than 9216.

### Versions

[code]

cc @datumbox

[2022-07-08 09:52] datumbox commented on #6249
@githwd2016 Thans for reporting.

The problem is you are throwing in a single image while the model expects a batch. Replace what you have with the following and it will work:
[code]

[2022-07-08 09:52] #6249 closed, assigned to nobody

[2022-07-08 10:49] datumbox commented on #6242
@ain-soph thanks for the PR! Please comment on this ticket to be able to assign it to you. Github won't let me do it. :(

[2022-07-08 11:25] vfdev-5 opened #6250 "Convert `padding_mode` into Enum"
Currently `padding_mode` is a string: "constant", "edge", "reflect", "symmetric" and in the codebase we already have enums like InterpolationMode and others in prototype space.

Let's create an enum for padding mode and convert the type into it while keeping BC and going a deprecation cycles etc.

[2022-07-08 14:03] vadimkantorov commented on #4029
rgb2gray has been implemented as https://pytorch.org/vision/stable/generated/torchvision.transforms.functional.rgb_to_grayscale.html#torchvision.transforms.functional.rgb_to_grayscale

other transforms existing in opencv / kornia / colorsys / skimage would still be nice to have (rgb<->hsv etc)

[2022-07-08 14:05] vadimkantorov commented on #6250
This would also introduce inconsistency with core PyTorch F.pad, F.conv2d padding argument (which has string values of same/valid)

[2022-07-08 14:09] rvandeghen commented on #6244
@datumbox First, I rather use what I call an InfiniteSampler, defined as
[code]
which was for me at the time the simplest way to see my data as an infinite data stream.

Second, I build on top of the `InfiniteSampler` a sampler with other constraints (not based on the aspect ratio), which could break the aspect ratio.

For the first remark, most of the other frameworks (d2, mmcv, ...) propose samp

[2022-07-08 14:15] vfdev-5 commented on #6250
@vadimkantorov there is already such difference for interpolation mode

[2022-07-08 14:19] vadimkantorov commented on #6250
yes, and the question stays the same: is introducing more inconsistencies the way forward? is pytorch core going to adopt enums? what're core teams thoughts on this? why does core pytorch not adopt enums? and if not, what are their arguments and are they valid for torchvision.

i mean, it's just interesting to know what was the outcome of these internal discussions

[2022-07-08 14:56] oke-aditya commented on #4903
@datumbox @NicolasHug @YosuaMichael let's take this down. I'm up for a PR. It's been 2 releases since we have the keypoints API which isn't  super good yet.

[2022-07-08 16:29] ain-soph commented on #6242
Sure!

[2022-07-09 09:11] github-actions[bot] opened #6253 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow tests/download.
Please look into it:

https://github.com/pytorch/vision/actions/runs/2640553478

Feel free to close this if this was just a one-off error.

cc @pmeier @YosuaMichael

[2022-07-09 16:38] Inkorak commented on #6236
Yes, I also think that such a transformation would be very useful. I also had cases when images of different resolutions and aspect ratios, but when cropping images, I could lose pieces important for classification (this was a classification of defects and they could be on the edge of the image) and I would like to maintain the aspect ratio in order to avoid strong distortions. So I had to use a c

[2022-07-10 04:29] oke-aditya commented on #2707
Any small list for Semantic Segmentation models?

Maybe a tentative one

- [ ] U2Net
- [ ] HRNet
- [ ] SegNet (Too old?)
- [ ] DeepLabV3+

[2022-07-10 04:33] talregev commented on #2707
Please add BiFPN

https://paperswithcode.com/method/bifpn#:~:text=A%20BiFPN%2C%20or%20Weighted%20Bi,fast%20multi%2Dscale%20feature%20fusion.

[2022-07-10 04:38] oke-aditya commented on #2707
Yesss BiFPN is very popular. Maybe once we initiate EfficientDet it would get added.

[2022-07-10 04:40] talregev commented on #2707
Will you try to add EfficientDet?

[2022-07-10 05:26] oke-aditya commented on #2707
I'm pretty noob when it comes to implementing models. But maybe I will give it a shot after I add a few easy models.

[2022-07-10 09:11] github-actions[bot] opened #6254 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow tests/download.
Please look into it:

https://github.com/pytorch/vision/actions/runs/2644077138

Feel free to close this if this was just a one-off error.

cc @pmeier @YosuaMichael

[2022-07-10 15:07] vadimkantorov commented on #4029
btw, TensorFlow's tf.image package does contain rgb_to_hsv, rgb_to_yuv and a few others: https://www.tensorflow.org/api_docs/python/tf/image/rgb_to_hsv

[2022-07-10 16:17] ain-soph commented on #6214
I'm currently working on it at #6246

[2022-07-10 16:52] oke-aditya commented on #4029
It might be feasible with new transforms API (which I haven't explored yet) cc @vfdev-5

[2022-07-10 18:03] talregev commented on #2707
@datumbox Please Pin this issue.

[2022-07-11 01:31] meghbhalerao opened #6255 "Issue in save_image utility in torch vision.utils"
### 🐛 Describe the bug

The `make_grid` utility here - https://github.com/pytorch/vision/blob/main/torchvision/utils.py#L24 -
1. The normalize option here - https://github.com/pytorch/vision/blob/main/torchvision/utils.py#L43 - shifts the image to 0 and 1 only if `normalize = True`, which by default is `False`.
2. Then in the `save_image` function here - https://github.com/pytorch/vision/blob/main

[2022-07-11 09:22] github-actions[bot] opened #6256 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow tests/download.
Please look into it:

https://github.com/pytorch/vision/actions/runs/2648449604

Feel free to close this if this was just a one-off error.

cc @pmeier @YosuaMichael

[2022-07-11 10:24] NicolasHug commented on #6250
I tend to agree that consistency with core is valuable here.

Using enums has the added inconvenience that it requires an extra import from users. @vfdev-5 what would be the key reason for us to start adopting enums for `padding_mode` here?

[2022-07-11 12:18] fmassa commented on #6213
Hi,

Thanks for raising this question. There is a slight misunderstanding in one point in here though.

`batch_images` adds padding on the bottom-right side of the images (if needed). Note that the bounding boxes are referenced starting from the top-left corner of the image, in absolute coordinates.

This means that indeed performing the batching as it was implemented doesn't affect the coordinate

[2022-07-11 12:22] NicolasHug opened #6257 "Remove deprecated APIs for 0.14"
In 0.12 we marked some APIs as deprecated, and to be removed in 0.14. Since 0.14 is the upcoming version, now is the time to remove them.

I'll send a PR soon.

[2022-07-11 13:13] YosuaMichael commented on #6190
Hi @GuanlinLee, I think the differences of accuracy in the training is caused by randomness. When I run using `--aug=0` and `--aug=1` indeed they produce different result, but the differences is not big (roughly similar with running same aug twice).

Then I make sure that both method of transform produce same output by using the following script:
[code]
And indeed this script will print `All data

[2022-07-11 13:17] #6247 closed

[2022-07-11 13:42] NicolasHug commented on #6223
I guess we should start thinking about documenting the "recipes" in a more centralized place, to make all this more obvious. In our docs or in the READMEs, I don't really have an opinion yet.

But as an easy patch, perhaps we could start by clearly stating at the top of all the README something like:

[2022-07-11 13:51] TeodorPoncu opened #6259 "[RFC] Stereo Matching Datasets API"
### 🚀 The feature

The proposed feature aims to **extend the current datasets API** with datasets that are geared towards `the task of Stereo Matching`. It's main use case is that of providing  **a unified way for consuming classic Stereo Matching datasets** such as:

- [Middlebury2014](https://vision.middlebury.edu/stereo/data/scenes2014/)
- [Kitti](http://www.cvlibs.net/datasets/kitti/eval_scene

[2022-07-11 16:45] claushofmann opened #6260 "MaskRCNN: Make return values more configurable"
### 🚀 The feature

Make MaskRCNN outputs configurable and independent of whether the model is in `train` or `eval` mode.

How it is currently done (according to the documentation):

    containing:
        - boxes (FloatTensor[N, 4]): the ground-truth boxes in [x1, y1, x2, y2] format, with values of x
          between 0 and W and values of y between 0 and H
        - labels (Int64Tensor[N]): the

[2022-07-11 17:14] TeodorPoncu commented on #6259
An approach similar to the one in the optical flow dataset would indeed lead to tuples with only one element @NicolasHug and require to user to make checks on the sizes / shapes of the batch elements. Optical Flow generally tracks pixel shifts through time from one view, whilst Stereo Matching tracks pixel shifts between two views coming from two separate cameras captured at the same time.

Some f

[2022-07-12 03:17] GuanlinLee commented on #6190
@YosuaMichael Thanks for your verification. Have you tried to run more number of training epochs? And if possible, please let me see the training accuracy on both adversarial examples and clean data. The differences between aug_1 and aug_2 will be much bigger with the training epochs increasing. However, I do not know the reason. And I run my experiments under the same random seed.

[2022-07-12 04:57] oke-aditya commented on #6255
Nice points @meghbhalerao Even I think that `make_grid` and `save_image` have valid use cases. I can also see Keras-Cv team deciding to add the same https://github.com/keras-team/keras-cv/pull/451

What are your thoughts Nicolas, I think we should start a rewrite of these two?

[2022-07-12 08:48] NicolasHug commented on #6260
Thanks for opining this issue @claushofmann

This has been a requested feature for a while e.g. in https://github.com/pytorch/vision/issues/1574 or https://github.com/pytorch/vision/issues/4749

There are 2 main difficulties for us here:
- Torchscript used to not support `Union`, which made any change almost impossible. Now that it supports `Union`, things might get easier
- it's hard to make any

[2022-07-12 08:48] #6260 closed

[2022-07-12 09:19] github-actions[bot] opened #6261 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow tests/download.
Please look into it:

https://github.com/pytorch/vision/actions/runs/2655359066

Feel free to close this if this was just a one-off error.

cc @pmeier @YosuaMichael

[2022-07-12 16:29] meghbhalerao commented on #6255
Thanks @oke-aditya  - let me know if any help is needed.

[2022-07-12 16:42] claushofmann commented on #1574
+ 1 for this issue. IMHO the most user-friendly solution (although I don't exactly know what would be the implications) would be to always return detections and losses if the user provides `(images, targets)` and to only return detections if the user provides `(images)`, disregarding whether the current mode is `training` or `eval`.

[2022-07-13 09:13] github-actions[bot] opened #6264 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow tests/download.
Please look into it:

https://github.com/pytorch/vision/actions/runs/2662263510

Feel free to close this if this was just a one-off error.

cc @pmeier @YosuaMichael

[2022-07-13 10:50] steven8274 opened #6265 "Windows runtime error"
### 🐛 Describe the bug

Torchvision.dll makes crash when the embedding 'hello world'example executable runs.The stack is like:
 	torch_cpu.dll!std::_Container_base12::_Swap_proxy_and_iterators(std::_Container_base12 & _Right) 行 1228	C++
 	torch_cpu.dll!std::string::_Swap_proxy_and_iterators(std::string & _Right) 行 4406	C++
 	torch_cpu.dll!std::string::_Take_contents(std::string & _Right, std::inte

[2022-07-13 20:27] YosuaMichael commented on #6190
Hi @GuanlinLee , I have experimented by running multiple times for each variant and try to make it as deterministic as possible (setting seed on multiple place), and indeed the the second method consistently having around 2-4% more accuracy after 100 epoch.

After more investigation and thinking, I think I know why it is difference.
On the second method you apply the augmentation (RandomCrop + Hor

[2022-07-13 20:29] #6190 closed

[2022-07-14 01:24] abhi-glitchhg commented on #2980
I think SSIM also good candidate here.

And there exists a issue in the pytorch repo. - https://github.com/pytorch/pytorch/issues/6934

Any thoughts?
@datumbox @oke-aditya

[2022-07-14 04:29] EijiNAKATSUGAWA opened #6267 "bug: Random Erasing transform get_params return (y, x, h, w, v)"
### 🐛 Describe the bug

Just typo of `RandomErasing` transform function `get_params` return in forward https://github.com/pytorch/vision/blob/main/torchvision/transforms/transforms.py#L1732-L1760. `x` and `y` are opposite as shown below:

[code]

### Versions

https://github.com/pytorch/vision/releases/tag/v0.13.0

[2022-07-14 07:58] NicolasHug commented on #6267
@EijiNAKATSUGAWA I'm not sure I understand the issue.

Are you concerned mostly about the naming of these variables? In torchvision (x, i) denote vertical coordinates while (y, j) denote horizontal coordinates.

[2022-07-14 09:11] github-actions[bot] opened #6268 "Places365 download failing"
Oh no, something went wrong in the scheduled workflow tests/download.
Please look into it:

https://github.com/pytorch/vision/actions/runs/2669191752

Feel free to close this if this was just a one-off error.

cc @pmeier @YosuaMichael

[2022-07-14 11:34] EijiNAKATSUGAWA commented on #6267
@NicolasHug thanks for the reply and terribly sorry that I didn’t know the definition of `x` and `y` stands for. I thought `x` was horizontal, and `y` was vertical coordinates.

Really sorry for my misunderstanding, and let me close this issue. Thank you so much!!

[2022-07-14 11:34] #6267 closed

[2022-07-14 11:39] talregev commented on #2707
@oke-aditya Can you add Unet?

[2022-07-14 11:46] oke-aditya commented on #2707
Will need to discuss with the maintainers, and I think U2-Net will be more helpful. U-Net I'm not sure.

[2022-07-14 11:54] talregev commented on #2707
The maintainers are not responsive to issues. Ones you open a PR, they will talk with you.

[2022-07-14 12:46] NicolasHug commented on #2707
Hi @talregev ,

It's nice to see that you're excited about torchvision models. I'm going to ask you to be a little more patient here. @datumbox is on well deserved holidays and I'm sure he'll get back to you as soon as he can.

Rest assured that we **are** responsive to issues. Furthermore, like in most projects, we don't encourage opening PRs prior to opening issues in order to leave time and spa

[2022-07-14 12:50] talregev commented on #2707
@NicolasHug Thank you for your nice suggestion. Can you pin this issue?

[2022-07-14 15:09] #6253 closed

[2022-07-14 15:09] #6254 closed

[2022-07-14 15:09] #6256 closed

[2022-07-14 15:09] #6261 closed

[2022-07-14 15:09] #6264 closed

[2022-07-14 16:18] oke-aditya commented on #2980
Yes but we don't have any task or usage in torchvision for SSIM.

[2022-07-15 02:09] Anyon123 commented on #4271
Agree. Version incompatible is the reason.
I met this problem too. A .pt model generated by Python3.8.8 and pytorch1.11.0 will meet this error when load by libtorch1.5.0 with Python3.6.1 header.
When I changed the Python header from 3.6.1 to 3.8.8, it works!

[2022-07-15 09:12] github-actions[bot] opened #6274 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow tests/download.
Please look into it:

https://github.com/pytorch/vision/actions/runs/2675802797

Feel free to close this if this was just a one-off error.

cc @pmeier @YosuaMichael

[2022-07-15 14:16] nitsanh commented on #6161
Hi, I'm facing the exact same issue, any updates on this?

[2022-07-15 15:30] #6274 closed

[2022-07-16 09:13] github-actions[bot] opened #6279 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow tests/download.
Please look into it:

https://github.com/pytorch/vision/actions/runs/2681323716

Feel free to close this if this was just a one-off error.

cc @pmeier @YosuaMichael

[2022-07-16 15:53] AmitRozner opened #6280 "Need to change to new PIL API"
https://github.com/pytorch/vision/blob/3db30442a52e250c569ba131485fc432c8300f16/torchvision/transforms/functional_pil.py#L58
Change `return img.transpose(_pil_constants.FLIP_LEFT_RIGHT)` to
`return img.transpose(_pil_constants.Transpose.FLIP_LEFT_RIGHT)`

Same for (add `.Trasnpose`): FLIP_TOP_BOTTOM
https://github.com/pytorch/vision/blob/3db30442a52e250c569ba131485fc432c8300f16/torchvision/transfo

[2022-07-16 21:18] pmeier commented on #6280
`torchvision.transforms._pil_constants.Transpose` is not a thing. Plus, we are correctly mapping `PIL.Transpose`:

https://github.com/pytorch/vision/blob/3db30442a52e250c569ba131485fc432c8300f16/torchvision/transforms/_pil_constants.py#L13-L14

Did you face any issues?

[2022-07-17 02:29] AmitRozner commented on #6280
I got this for every image:
FLIP_LEFT_RIGHT is deprecated and will be removed in Pillow 10 (2023-07-01). Use Transpose.FLIP_LEFT_RIGHT instead.
WARNING:BrAD:FLIP_LEFT_RIGHT is deprecated and will be removed in Pillow 10 (2023-07-01). Use Transpose.FLIP_LEFT_RIGHT instead.

Looks like it is fixed in the current version. I am using torchvision==0.9.0+cu111 this is why I had this issue which needed f

[2022-07-17 06:04] pmeier commented on #6280
You could also downgrade to `Pillow<9.1` to get rid of the warnings if you are unable to change the torchvision version.

[2022-07-17 06:04] #6280 closed

[2022-07-17 09:11] github-actions[bot] opened #6281 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow tests/download.
Please look into it:

https://github.com/pytorch/vision/actions/runs/2684922095

Feel free to close this if this was just a one-off error.

[2022-07-18 09:13] github-actions[bot] opened #6283 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow tests/download.
Please look into it:

https://github.com/pytorch/vision/actions/runs/2689344167

Feel free to close this if this was just a one-off error.

cc @pmeier @YosuaMichael

[2022-07-18 09:23] #6279 closed

[2022-07-18 09:23] #6283 closed

[2022-07-18 09:26] NicolasHug commented on #6268
The new URLs seem to be http://places2.csail.mit.edu/download.html and the dataset is marked as "Under Maintenance".

Let's wait a bit for the authors' response on https://github.com/CSAILVision/places365/issues/90 before we decide what to do with it

[2022-07-19 06:30] ntakouris commented on #6200
@NicolasHug any input on this?

As far as I understand, the next few major releases of Torch-TRT plan on catching up to the latest pytorch features. They keep adding ops and more support for everything torchscript basically. In practise, it should be easier to start converting models without "specific object detection operations" and "complex inference logic", like DETR.

In the near future, this

[2022-07-19 07:57] NicolasHug commented on #6200
Not much to add to @datumbox's answer, with which I fully agree. My main concern is maintenance cost: supporting the cross-product of torchscript, FX and ONNX induces a very high maintenance cost for us, and adding support to RT would complicate this even further. This is something we might need to discuss a bit more, for us to be certain that the benefits are worth the additional cost.

[2022-07-19 09:13] github-actions[bot] opened #6286 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow tests/download.
Please look into it:

https://github.com/pytorch/vision/actions/runs/2696440081

Feel free to close this if this was just a one-off error.

cc @pmeier @YosuaMichael

[2022-07-19 09:21] NicolasHug commented on #6286
https://github.com/pytorch/vision/issues/6268

[2022-07-19 09:21] #6286 closed

[2022-07-19 12:38] hmaarrfk commented on #4665
Im just browsing around and stumbled onto this.

It would be great to have somebody from the pttorch team helping maintain the packages at conda forge.

We can patch up old packages to give the the appropriate constraints to ensure a new package is pulled

[2022-07-19 13:43] Changlin-Lee opened #6287 "error: ‘AutoDispatchBelowADInplaceOrView’ is not a member of ‘at’"
### 🐛 Describe the bug

When I tried to compile torchvision on the server, after I run "**make"**, it reported "error: ‘AutoDispatchBelowADInplaceOrView’ is not a member of ‘at'

I use libtorch 1.8.0 with cuda 10.2.

### Versions

[root@kml-dtmachine-7222-prod vision]# python3 collect_env.py
Collecting environment information...
PyTorch version: N/A
Is debug build: N/A
CUDA used to build PyTorch:

[2022-07-19 16:48] ntakouris commented on #6200
There should be a `fx2trt` package coming soon as well. This could make it possible directly exporting a big part of the models in torchvision straight away. It's also supposed to support int8 quantization for trt when it gets open sourced. I think the wise thing to do would be to wait a bit until the aforementioned technologies support a bigger subset of torchscript.

I keep track of those change

[2022-07-19 17:26] hmaarrfk commented on #4665
That is an opinion. But people are moving toward making science more reproducible, and "pulling" packages is somewhat counter to that.

We have guidelines on how to deal with broken packages, and generally conda-forge has solutions, for this, outlined
https://conda-forge.org/docs/orga/guidelines.html?highlight=broken#fixing-broken-packages

I guess ultimately, conda-forge and pytorch are two diffe

[2022-07-19 17:28] vadimkantorov commented on #4665
I have no affiliation with torchvision / FAIR etc so I'm not speaking for pytorch/torchvision maintainers or the team :) So my messages are no more than just an opinion, as you correctly guessed :)

[2022-07-19 18:12] h-vetinari commented on #4665
A less severe form of fixing that (rather than marking it as broken) is to write a repodata-patch that "corrects" the metadata of this package in a way that it does not get considered for contemporary environments anymore. For that, it would be important to have an example where such a wrong solver result occurs.

[2022-07-19 18:18] vadimkantorov commented on #4665
At the point of creating this issue, the example in OP was repro (and in issues there were other cases like this, but I don't have them at hand). But I think, 0.2.2 is truly antique to the point that deleting it completely will not do any harm and just prevent unnoticed conflicted installations.

[2022-07-20 03:34] zhuyy1168 commented on #4899
@wduo
I had the same problem when I was using DB++ and doing the same replaced(L55 and L126 with from torchvision.ops import DeformConv2d as ModulatedDeformConv)
ubuntu 20.04
pytorch 1.8.2
cuda 11.1

to solve, I modified L58 aand L129 (add stride=stride for self.conv2_offset=nn.Conv2d(...))
self.conv2_offset = nn.Conv2d(planes, deformable_groups * offset_channels, kernel_size=3, padding=1)
to
self

[2022-07-20 03:58] loaiibnka3b6 commented on #3213
Thanks @SriniMaiya for your comment. Any one here added resnet18 with maskrcnn?

[2022-07-20 09:04] hkzhang91 opened #6288 "Position aware circular convolution"
### 🚀 The feature

Recently, we propose a new basic operation position aware global circular convolution (ParC). Differing from previous convolution operations, the proposed ParC has global receptive field. Experimental results show that ParC uniformly
improves performance of various typical models.

This work has been accpted by ECCV 2022, we hope the proposed ParC can be used by other researcher

[2022-07-20 09:14] github-actions[bot] opened #6289 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow tests/download.
Please look into it:

https://github.com/pytorch/vision/actions/runs/2703531641

Feel free to close this if this was just a one-off error.

cc @pmeier @YosuaMichael

[2022-07-20 09:40] #6289 closed

[2022-07-20 09:44] RobinGRAPIN commented on #4386
Hello, any news about how to save a jitted RCNN model using _save_for_lite_interpreter() ? I would like to use it for mobile on iOS  so this format is required, but as mentionned many classes such as ImageList aren't supported in lite interpreter. I tried to make them inherit of torch.nn.Module() but it still lead to problems

[2022-07-21 03:01] hkzhang91 commented on #6288
class ParC(nn.Module):
    def __init__(self, dim, type, global_kernel_size, use_pe=True):
        super().__init__()
        self.type = type  # H or W
        self.dim = dim
        self.use_pe = use_pe
        self.global_kernel_size = global_kernel_size
        self.kernel_size = (global_kernel_size, 1) if self.type == 'H' else (1, global_kernel_size)
        self.gcc_conv = nn.Conv2d(dim, dim

[2022-07-21 09:11] TriLoo commented on #2994
Do you remember how to solve this problem finally.
I meet same error but cannot figure out how to solve it.

thanks.

[2022-07-21 09:13] github-actions[bot] opened #6296 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow tests/download.
Please look into it:

https://github.com/pytorch/vision/actions/runs/2710602346

Feel free to close this if this was just a one-off error.

cc @pmeier @YosuaMichael

[2022-07-21 09:25] NicolasHug commented on #6296
https://github.com/pytorch/vision/issues/6268

[2022-07-21 09:25] #6296 closed

[2022-07-21 11:31] NicolasHug opened #6299 "Binary MacOS wheels relocations are silently failing?"
I don't know if this is an actual issue or not, but it looks like the dylib relocation step of the macos wheel jobs are failing. For example  [this recent job](https://app.circleci.com/pipelines/github/pytorch/vision/18916/workflows/94506257-fb22-49a2-b6bc-d483aab97e13/jobs/1530556) below.  @atalman @malfet  would you know if this is a problem, or if this can be ignored?

[code]

[2022-07-21 11:31] Karthik-S-EC commented on #2562
Hi @alex96295
One Alternative Way to load the Quantized Model in PyTorch is

1. `model_fp32 = #Load and store the state dict of the Original Model (Unquantized)`
2. `model_quant_state_dict = torch.load(quant_model_path) # Load Quant Model which you have converted`
3. `quant_model = torch.quantization.convert(model_fp32) # Convert to Quant`
4. `quant_model.load_state_dict(model_quant_state_dict)`

[2022-07-21 11:37] NicolasHug commented on #6081
I think we're done with this one, thanks everyone for your help! Closing now.

[2022-07-21 11:38] NicolasHug opened #6300 "[v0.13.1] Bugfix Release Tracker"
Same as https://github.com/pytorch/vision/issues/6081 but for 0.13.1.

[2022-07-21 11:39] NicolasHug commented on #6300
Category: binary fix

main PR: https://github.com/pytorch/vision/pull/6298
release branch PR: TODO

[2022-07-21 11:40] NicolasHug commented on #6300
Category: FX fix

main PR: https://github.com/pytorch/pytorch/issues/81118
release branch PR: TODO

Ref: https://github.com/pytorch/pytorch/issues/81118

[2022-07-21 17:19] alexnwang commented on #5419
It seems the error occurs at `torchvision.io._read_video_from_memory` and is affected by the decoded resolution.
Larger the target resolutions -> more malloc errors. I've managed to avoid them altogether by setting the argument `video_min_dimension=224`.

Suppose this makes sense as it is some sort of memory error.

[2022-07-21 21:21] zhanwenchen commented on #1256
@fmassa A related question: is loss_box_reg also supposed to be bad (in my case, increasing) at first?

[2022-07-22 04:29] v-iashin commented on #5419
It is not consistent with my findings. Previously, when I compared ffmpeg=4.2 and 4.3.2, torch could load the same video into the memory and was failing with another version.

I think the same errors were caused by a lack of RAM (your case) and a version mismatch (at least in my case).

[2022-07-22 09:12] github-actions[bot] opened #6302 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow tests/download.
Please look into it:

https://github.com/pytorch/vision/actions/runs/2717510409

Feel free to close this if this was just a one-off error.

cc @pmeier @YosuaMichael

[2022-07-22 09:17] NicolasHug commented on #6302
https://github.com/pytorch/vision/issues/6268

[2022-07-22 09:17] #6302 closed

[2022-07-22 13:09] bjuncek commented on #5419
Hi all,
So I've dug quite a bit into this for the past two weeks (and am continuing to do so), and there are a few confusing factors.
The error, to the best of my tracebacks is coming the fact that returned data from FFMPEG is larger than the allocated tensor (which should be guaranteed based on the headers), but there is some sort of a mismatch.

what I can't seem to figure out is _why_ that is h

[2022-07-22 13:09] bjuncek commented on #6204
Hi all,
So I've dug quite a bit into this for the past two weeks (and am continuing to do so), and there are a few confusing factors.
The error, to the best of my tracebacks is coming the fact that returned data from FFMPEG is larger than the allocated tensor (which should be guaranteed based on the headers), but there is some sort of a mismatch.

what I can't seem to figure out is _why_ that is h

[2022-07-23 09:11] github-actions[bot] opened #6306 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow tests/download.
Please look into it:

https://github.com/pytorch/vision/actions/runs/2723133356

Feel free to close this if this was just a one-off error.

cc @pmeier @YosuaMichael

[2022-07-23 22:04] YueFei0403 commented on #807
Hi @fmassa,

I currently encountered this issue when I was trying to build a ResNet bottleneck block. Can I ask how to  solve it? Thanks!

[2022-07-24 09:11] github-actions[bot] opened #6307 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow tests/download.
Please look into it:

https://github.com/pytorch/vision/actions/runs/2726680376

Feel free to close this if this was just a one-off error.

cc @pmeier @YosuaMichael

[2022-07-24 18:53] Maritimo commented on #9
I think I have a simple solution:
If the images are concatenated, the transformations are applied to all of them identically:

[code]

[2022-07-25 02:22] hmaarrfk commented on #5419
We've had to disable ffmpeg support at conda-forge.

We can reliably recreate the a segfault that seems to occur during the video read tests.

Curiously, it doesn't occur on python 3.9.

This occurs for CPU builds too, not just GPU.

Build logs can be followed https://github.com/conda-forge/torchvision-feedstock/pull/60

[2022-07-25 08:11] NicolasHug commented on #6307
https://github.com/pytorch/vision/issues/6268

[2022-07-25 08:11] #6307 closed

[2022-07-25 08:11] NicolasHug commented on #6306
https://github.com/pytorch/vision/issues/6268

[2022-07-25 08:11] #6306 closed

[2022-07-25 09:11] github-actions[bot] opened #6308 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow tests/download.
Please look into it:

https://github.com/pytorch/vision/actions/runs/2731137956

Feel free to close this if this was just a one-off error.

cc @pmeier @YosuaMichael

[2022-07-25 09:15] NicolasHug commented on #6308
https://github.com/pytorch/vision/issues/6268

[2022-07-25 09:15] #6308 closed

[2022-07-25 14:09] datumbox commented on #6223
@NicolasHug agreed that adding a quick patch can clarify things.

@artest08 would you be interested in sending a PR that adds it?

[2022-07-25 15:59] datumbox commented on #2707
@talregev Apologies for the delayed response. I was on my annual leave.

As others pointed out, U-net is a bit old now (released in 2015) and there are quite a few good community implementations already. If we were to add more models, we would probably prioritizing transformer approaches that yield better results. We don't have immediate plans for this though as our focus this half would be Videos

[2022-07-25 16:23] datumbox commented on #6288
@hkzhang91 Thanks a lot for pinging us. We definitely welcome contributions from research teams; it's something we would like to get more on the future.

I had a quick look on the paper and the works looks interesting. As @vfdev-5 said, in order to add a new operator in TorchVision it has to have strong adoption in research (this is to avoid bloating the library). Given this was just released, I r

[2022-07-25 16:55] datumbox commented on #5088
@vahvero Thanks for the feedback.

I agree that the idiom `resnet50.weigths["DEFAULT"]` could have been a viable option. The reason we decided to go with strings was that the community preferred them.

Currently strings are a convenient shortcut which allow you to create a model with a single import. What I find a bit worrying is the fact that it took you a while to find out about the fact that th

[2022-07-25 17:32] divideconcept commented on #5088
I second that, I wasn't aware that I could use shortcut strings at all.
The reason is that I didn't read the intro about pre-trained weights and went straight to the models I was interested in (ie: ResNet50). The `weights` parameter there is purely described as of type `ResNet50_Weights` so it didn't occur to me it could be of type `str` at all.

I think the intro about how to use weights is fine

[2022-07-25 17:47] NicolasHug commented on #5088
@datumbox  we can easily add a small sentence here which would say. "Weights can be specified as strings as well e.g. 'DEFAULT' or '<some relevant weight>'".

https://github.com/pytorch/vision/blob/91176e80cf611ce7d60e52bc94e81adf51aa2931/docs/source/conf.py#L327-L330

I'll send a PR tomorrow

[2022-07-26 07:18] vahvero commented on #5088
I routinely just read the source code, because most of the keyword arguments are left undocumented in torch docs. Our use cases always require some changes and I have found it easier to find the relevant information this way, in the case above, the FPN changes with different anchor sizes. I would not suggest basing the goodness of the documentation to my experience.

That said, these keywords have

[2022-07-26 08:10] abhi-glitchhg commented on #5511
@ain-soph I really liked your sphinx theme, especially dynamically changing right sidebar.

[2022-07-26 09:11] github-actions[bot] opened #6313 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow tests/download.
Please look into it:

https://github.com/pytorch/vision/actions/runs/2738293254

Feel free to close this if this was just a one-off error.

cc @pmeier @YosuaMichael

[2022-07-26 10:08] NicolasHug commented on #6313
https://github.com/pytorch/vision/issues/6268

[2022-07-26 10:08] #6313 closed

[2022-07-26 12:33] senarvi opened #6317 "distance_box_iou() and complete_box_iou() don't work if both sets don't have the same number of boxes"
### 🐛 Describe the bug

`*box_iou()` functions should return a matrix of results for every possible pair (box1, box2), where box1 is a box from `boxes1` and box2 is a box from `boxes2`. `box_iou()` and `generalized_box_iou()` work this way, i.e. if `boxes1` is an Nx4 matrix and `boxes2` is an Mx4 matrix, the result is an NxM matrix. The recently added `distance_box_iou()` and `complete_box_iou()`

[2022-07-26 12:58] senarvi commented on #6317
I would think that the fix is:

[code]

[2022-07-26 14:15] NicolasHug commented on #6300
Category: minor doc improvement

main PR: https://github.com/pytorch/vision/pull/6314
release branch PR: https://github.com/pytorch/vision/pull/6318

[2022-07-26 14:38] senarvi commented on #6317
There's also another point in [`complete_box_iou()`](https://github.com/pytorch/vision/blob/main/torchvision/ops/boxes.py#L334) with a similar bug. I think it can be fixed like this:

[code]

[2022-07-26 17:27] oke-aditya commented on #6317
Hi @senarvi nice to see you here.
Hmm agreed, it might have been overlooked with implementing and testing. cc @datumbox should we fix this up? I can go ahead with it.

The reason why these are implemented to work as is because most detection operators need to calculate for all set of boxes. And  this is what other repos used (E.g. DETR, etc)

The case where we need only the diagonal elements is fo

[2022-07-26 17:29] abhi-glitchhg commented on #6317
Thanks for reporting this.
You are correct.

As you mentioned, the implementation was not tested on Boxes of different shapes. [there was some discussion on adding tests ] https://github.com/pytorch/vision/pull/5786#discussion_r858670266

I think my implementation of CIOU was incorrect.  We checked implementation with boxes of size (1,4)  only https://github.com/pytorch/vision/pull/5776#pullreques

[2022-07-26 17:29] oke-aditya commented on #5290
I'm tempted to fix this. I really don't like

![image](https://user-images.githubusercontent.com/47158509/181072223-1bde4cad-57a4-4541-8934-9e22fc16b817.png)

Lot at my plate in the office and at stuff. Will tackle this next. Especially I felt, sad that these issues annoyed phillip during his well deserved break.

[2022-07-26 17:30] datumbox commented on #5088
@vahvero @divideconcept Thanks for the input.

The honest truth is that originally I was not too eager to offer this shortcut but I was compelled by the community feedback to make it available. Originally one key limitation of using strings was that you couldn't get the meta-data and preprocessing info associated with them. We later fixed this by providing the `get_weight()` method.

I think addin

[2022-07-26 18:02] oke-aditya commented on #6317
I think we are off somewhere in cIoU calculation. The loss seems to be correct.

Minimal code to reproduce. cc @datumbox @abhi-glitchhg

[code]

Samething I think for dIoU.

[code]

[2022-07-27 09:05] datumbox commented on #6317
@senarvi Thanks for pointing this out. This is a bug.

To ensure BC and alignment with previous `*_box_iou()` methods, we needed to maintain the NxM feature. Note that the equivalent loss methods should be doing element-wise calculations to be efficient, so any bug fix shouldn't be making the losses to estimate extra unnecessary info. This is something that was discussed on the original PRs.

@oke

[2022-07-27 09:11] github-actions[bot] opened #6321 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow tests/download.
Please look into it:

https://github.com/pytorch/vision/actions/runs/2745453715

Feel free to close this if this was just a one-off error.

cc @pmeier @YosuaMichael

[2022-07-27 09:12] oke-aditya commented on #6317
I will patch this :smile:

[2022-07-27 09:14] NicolasHug commented on #6321
https://github.com/pytorch/vision/issues/6268

[2022-07-27 09:14] #6321 closed

[2022-07-27 09:24] datumbox commented on #6317
@oke-aditya Thanks! Please send a PR and update the tests accordingly to capture these issues going forwards.

[2022-07-27 11:22] senarvi commented on #6317
Exactly. Thanks @oke-aditya , I hadn't noticed the loss functions.

I'm curious if there are other differences, apart from the fact that `_loss_inter_union()` produces element-wise results. I can see two differences:

* `_box_inter_union()` upcasts the box coordinates before calculating the box and intersection areas. `_loss_inter_union()` does not. Is this intentional?
* `_box_inter_union()` uses

[2022-07-27 13:11] oke-aditya commented on #6317
We do upcast in losses. But we upcast non float as we don't currently support int dtype for losses. This is intentional.

See https://github.com/pytorch/vision/blob/main/torchvision/ops/ciou_loss.py#L48
and https://github.com/pytorch/vision/blob/ec0e9e127ab1d6f2c91eb07ad638fa359063d546/torchvision/ops/diou_loss.py#L48

Both are `_` functions and aren't exposed as such for use, so we don't guarante

[2022-07-27 14:14] senarvi commented on #6317
Got it. You upcast them already earlier.

I was just curious if there were any functional differences, because there are many differences in how the code is written, but apparently not. (I did spot one additional `eps` in [`_diou_iou_loss()`](https://github.com/pytorch/vision/blob/main/torchvision/ops/diou_loss.py#L67)).

Thanks for the clarification!

[2022-07-27 14:43] datumbox opened #6323 "[RFC] Batteries Included - Phase 3"
### 🚀 The feature

TBD

### Motivation, pitch

TBD

### Alternatives

_No response_

### Additional context

_No response_

[2022-07-27 14:53] oke-aditya commented on #6317
Yeah for all the losses we support the eps parameter of course to avoid zero division error.

[2022-07-27 15:25] yassineAlouini commented on #6317
@oke-aditya happy to review once the code is ready. 👌
Thanks in adavance for the fix.

[2022-07-27 16:22] #5410 closed

[2022-07-27 17:18] datumbox commented on #6323
Tagging a few of the regular contributors in case they are interested in specific items:
@abhi-glitchhg @federicopozzi33 @frgfm @lezwon @oke-aditya @xiaohu2015 @yassineAlouini @zhiqwang

Feel free to propose additional candidates.

[2022-07-27 18:54] oke-aditya commented on #6323
I will be happy to take losses :) dice loss first.

[2022-07-27 21:19] frgfm commented on #6323
Like Christmas in july hehe :grin:

I have a few questions though:
- for losses, I already have implemented the poly loss on my end. Do you want us to do the Python implementation or also the C++ / CUDA binding? (I saw that there are some in PyTorch core, so I'm not sure what's the target here)
- about optimizers, I also have implementations for LARS & LAMB, should we open PR directly on core? or

[2022-07-28 00:51] hkzhang91 commented on #6288
@datumbox  Thanks for your reply. It sounds reasonable.

[2022-07-28 04:08] federicopozzi33 commented on #6323
I'd like to take the Polynomial LR scheduler!

[2022-07-28 09:02] datumbox commented on #6323
Thanks for offering to help! We are lucky to have you guys! :)

@frgfm excellent questions. Let me try to provide some more context here:
- Losses are going to be added for now in TorchVision with a Python only implementation. Ideally we should reuse as much as possible Core's existing methods that have C++/CUDA bindings. That's particularly true for the PolyLoss where we want to reuse Core's `cro

[2022-07-28 09:11] github-actions[bot] opened #6325 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow tests/download.
Please look into it:

https://github.com/pytorch/vision/actions/runs/2752600300

Feel free to close this if this was just a one-off error.

cc @pmeier @YosuaMichael

[2022-07-28 09:20] NicolasHug commented on #6325
https://github.com/pytorch/vision/issues/6268

[2022-07-28 09:20] #6325 closed

[2022-07-29 09:12] github-actions[bot] opened #6332 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow tests/download.
Please look into it:

https://github.com/pytorch/vision/actions/runs/2759547238

Feel free to close this if this was just a one-off error.

cc @pmeier @YosuaMichael

[2022-07-29 09:24] NicolasHug commented on #6332
https://github.com/pytorch/vision/issues/6268

[2022-07-29 09:24] #6332 closed

[2022-07-29 10:15] jdsgomes commented on #6204
Just for reference I can decode the video successfully on a different environment than @datumbox
[code]

[2022-07-29 11:10] datumbox commented on #5511
Another proposal that came originally from @NicolasHug was to keep permanently on the docs a reference of which weights mapped to the `pretrained=True`. This can be useful for when one tries to find which weights were used in old code, long after the `pretrained` parameter is deprecated.

One potential solution was tried at #5993 but there were few limitations that we could't address. So either we

[2022-07-29 22:15] federicopozzi33 commented on #4438
Hi guys,

I'm working on this issue as reported [here](https://github.com/pytorch/vision/issues/6323). However, I think I need to know some extra information about the expected behavior of the scheduler.

So far, I have considered the following resources:

1. [The current implementation in torchvision's train script.](https://github.com/pytorch/vision/blob/9275cc61fb3c26ce15ced0199ad8b7540d48676c/

[2022-07-30 09:13] github-actions[bot] opened #6336 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow tests/download.
Please look into it:

https://github.com/pytorch/vision/actions/runs/2765268298

Feel free to close this if this was just a one-off error.

cc @pmeier @YosuaMichael

[2022-07-31 09:14] github-actions[bot] opened #6337 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow tests/download.
Please look into it:

https://github.com/pytorch/vision/actions/runs/2768909275

Feel free to close this if this was just a one-off error.

cc @pmeier @YosuaMichael

[2022-07-31 11:59] vadimkantorov commented on #6317
Or could alternatively set that in this case iou is assumed 0 (which in practice makes sense for 0-area boxes)

[2022-07-31 15:17] NicolasHug commented on #6337
https://github.com/pytorch/vision/issues/6268

[2022-07-31 15:17] #6337 closed

[2022-07-31 15:17] NicolasHug commented on #6336
https://github.com/pytorch/vision/issues/6268

[2022-07-31 15:17] #6336 closed

[2022-08-01 04:41] oke-aditya commented on #6300
@datumbox @NicolasHug should we include #6338 in this?

[2022-08-01 08:29] carandraug opened #6363 "download datasets using bittorrent"

[2022-08-01 09:13] github-actions[bot] opened #6339 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow tests/download.
Please look into it:

https://github.com/pytorch/vision/actions/runs/2773594010

Feel free to close this if this was just a one-off error.

cc @pmeier @YosuaMichael

[2022-08-01 09:15] #6339 closed

[2022-08-01 10:09] #1143 closed

[2022-08-01 12:28] abhiagwl4262 commented on #2817
I got this error whille running the code mentioned in the isssue.

`NotImplementedError: Could not run 'torchvision::deform_conv2d' with arguments from the 'CUDA' backend. This could be because the operator doesn't exist for this backend, or was omitted during the selective/custom build process (if using custom build). If you are a Facebook employee using PyTorch on mobile, please visit https://fb

[2022-08-01 13:59] zhiqwang opened #6341 "[RFC] Support DarkNet and YOLO series models"
### 🚀 The feature

YOLO aka. You Only Look Once, which is a vibrant series of object detection models since the release of Joseph Redmon [You Only Look Once: Unified, Real-Time Object Detection](https://arxiv.org/abs/1506.02640).

So far a couple of more notable implementations are as follows (all PyTorch):

- [ ] [YOLOv3](https://arxiv.org/abs/1804.02767) 2018. Cited by 14369 [^yolov3-ultralytics

[2022-08-01 14:40] datumbox commented on #6341
@zhiqwang Thank you very much for the comprehensive proposal. :)

Your implementation at [YOLO5-RT-stack](https://github.com/zhiqwang/yolov5-rt-stack) is indeed of very high quality. Having a modern implementation of YOLO was on our bucket list but I just want to be mindful and not cannibalise your project. After all PyTorch's unique value proposition is its rich ecosystem. Having said that, if yo

[2022-08-01 15:17] datumbox commented on #6300
Good call @oke-aditya. Thanks for raising this. It would be great to fix this as this is a bug. The problem is it's not yet merged (ping Francisco to have also a look cause I made a modification on the PR). The cherrypick will be slightly tricky because we can't get the improvements on tests.

@NicolasHug do you know when is the absolute last moment that the Release Engineering team would allow us

[2022-08-01 15:40] NicolasHug commented on #6300
The bugfix release is planned for today or tomorrow, so it might be too late. But I'll let Andrey confirm.

[2022-08-01 16:34] zhiqwang commented on #6341
Hi @datumbox

I have only verified on a few images with the ported weights, because there are some differences in our preprocessing part compared to the original yolov5 version, I have not been able to do a complete verification on the coco dataset, and I can add some more detailed comparison data in the next few days.

I don't have a server in my hand. We can divide the task into smaller parts an

[2022-08-01 16:53] zhiqwang commented on #6341
YOLO{v5/v7} train their detection models from scratch, YOLO{v5/v7/X} they now have backbone that is not the DarkNet presented in the original paper. It would be nice to have a pre-trained model on the ImageNet to help accelerate our training, but it is up for debate whether it is necessary to implement the original version of CSPDarknet.

The code currently in this folder <https://github.com/zhiqw

[2022-08-02 06:32] java-abhinav07 commented on #5735
Facing the same issue, upon removing this I am unable to converge the model.

[2022-08-02 09:00] datumbox commented on #6300
Category: bugfix

main PR: #6338
release branch PR: #6343

[2022-08-02 09:05] oke-aditya commented on #6300
Race against time won by @datumbox

[2022-08-02 09:12] github-actions[bot] opened #6344 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow tests/download.
Please look into it:

https://github.com/pytorch/vision/actions/runs/2780935754

Feel free to close this if this was just a one-off error.

cc @pmeier @YosuaMichael

[2022-08-02 09:13] #6344 closed

[2022-08-02 09:38] #6317 closed

[2022-08-02 11:18] datumbox commented on #6341
@zhiqwang I had the chance to investigate a bit the references further. The biggest concern about YOLOv5 is that there is still no paper to accompany the architecture (see https://github.com/ultralytics/yolov5/issues/1333); I remember that it first came out as a repo and the owners said that the paper will be coming out shortly but I don't think there is currently one. Though it's a very popular a

[2022-08-02 11:54] oke-aditya commented on #6341
Agreed but as such we will need DarkNet to implement YOLOX. So it might just be better to provide it too. Although it's old it's still being used and relevant. It's quite a fundamental model like AlexNet. So somehow I feel it might be good to add.

[2022-08-02 11:58] zhiqwang commented on #6341
Hi @datumbox , agree on this one, It is a good choice to add YOLOX to the list first.

[2022-08-02 12:14] datumbox commented on #6341
@zhiqwang Sounds good. I'll need to dig a bit on the YOLOX paper and familiarize myself. I'll try to do this by EOW. In meantime, if you have in your mind a clear plan on intermediary milestones for adding YOLOX please add it here (aka addition of X arch, Y transforms, Z operators etc). This will hopefully let us to coordinate among contributors.

[2022-08-02 14:42] datumbox commented on #4438
@federicopozzi33 These are all very good questions. Unfortunately I wasn't too familiar with the API of Schedulers so in order to answer them I had to implement it and experiment.

Here is the proposed implementation:
[code]

Here are some answers to your questions:
1. Yes indeed. The safest approach is to inherit step from `_LRScheduler` and get around the problem all together.
2. It seemed that

[2022-08-02 17:58] ys-zong opened #6352 "Deep copy models with create_feature_extractor produces different parameters"
### 🐛 Describe the bug

When I define a model using the new feature create_feature_extractor and then deep copy the model, the parameters of the original model and the new models are different.

Here is an example:

[code]

The output is `62 124`.

If printing out the named_parameters, the differences are from the defined self.body.
[code]
I'm wondering why there is a difference after using deepco

[2022-08-03 00:23] NicolasNierenbergPersyst opened #6355 "ConvTranspose1d doesn't work correctly on ARM"
### 🐛 Describe the bug

ConvTranspose1d produces a different result when run on the ARM GPU using 'mps' than on the CPU.  The following code illustrates.

import torch
from torch import nn
import copy

y = torch.ones(1, 1, 2)
deconv = nn.ConvTranspose1d(in_channels=1, out_channels=1, kernel_size=1, stride=2, bias=False)
deconv.weight.data = torch.ones(1,1,2)
gpudeconv = copy.deepcopy(deconv).to(de

[2022-08-03 08:07] abhi-glitchhg commented on #6323
Hello all 👋
Bit late to the party!

Is mosaic still available? If not I would like to try it.

[2022-08-03 08:21] lezwon commented on #6224
@vfdev-5 I'm sorry for the delay. I have been a bit occupied with other tasks and haven't been able to give any time to the implementation. I don't think I can pick this issue up anytime soon either. It would be best to assign someone else to it.

[2022-08-03 09:11] github-actions[bot] opened #6356 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow tests/download.
Please look into it:

https://github.com/pytorch/vision/actions/runs/2788191814

Feel free to close this if this was just a one-off error.

cc @pmeier @YosuaMichael

[2022-08-03 09:15] #6356 closed

[2022-08-03 10:17] datumbox commented on #6323
@abhi-glitchhg Mosaic is available. It's a bit unclear how it will be implemented at the moment as there are multiple approaches seen online. I would prefer it if we can implement it as a Transform (rather than a Dataset or preloader etc), potentially similar to what we do for [MixUp](https://github.com/pytorch/vision/blob/main/references/classification/transforms.py#L9) or [SimpleCopyPaste](https

[2022-08-03 10:19] java-abhinav07 commented on #5735
Having done some experiments, it turns out that the training performance is not impacted by the `add_gt_proposals` method and everything works fine if one doesn't use it during inference. Performance was largely impacted by the use of pretrained RPN, FPN.

[2022-08-03 10:20] datumbox commented on #6323
BTW @lezwon just let us know he is busy and thus AutoAugment for Detection is also up for grabs if someone wants it. See #6224

[2022-08-03 12:54] datumbox commented on #6352
@ys-zong Thanks for reporting.

I believe this is due to the way FX works. Instead of posting my answer here and then inviting the PyTorch Core engineers to have a look, I will post on your original issue. This is only to simplify back and forth. :)

[2022-08-03 12:54] #6352 closed

[2022-08-03 14:42] datumbox opened #6365 "[FEEDBACK] Model Registration beta API"
### 🚀 The feature

-

### Motivation, pitch

-

### Alternatives

_No response_

### Additional context

_No response_

[2022-08-03 15:42] alexandre-dang commented on #6317
Also I don't know if it's intended but distance_box_iou can return negative numbers, in the case where 2 boxes doesn't touch at all. I know it's in the formula but at the same time it breaks a lot of things and I wonder if it should be caped at 0

[2022-08-03 15:50] datumbox commented on #6317
@alexandre-dang Given it's on the formula our implementation needs to produce the right values. For specific use-cases where the user needs it strictly positive, they can do it outside of the method.

[2022-08-03 16:12] oke-aditya commented on #6317
AFAIK it's intended. That's the rationale behind generalized iou and other other iou methods such as distance and complete.

Giving negative values gives a better feedback to neural network (when used as loss) and as a metric is more relevant.

That's the advantage over vanilla box iou.

[2022-08-03 16:36] vadimkantorov commented on #6363
@albanD Please also note the more shared issue https://github.com/pytorch/pytorch/issues/68320, and also given that download utilities are used across libraries, it may make sense to develop them in Core. Another related issue on supporting other download backends is https://github.com/pytorch/pytorch/issues/73466

[2022-08-03 19:32] federicopozzi33 commented on #4438
Hi @datumbox,

thank you for your help.

I have some doubts about the meaning of `min_lr`. If I correctly understood, it has two meanings:
1. It is the lower bound on the learning rate, i.e. it will never be lower than `min_lr`.
2. LR is set to `min_lr` if `last_epoch` > `total_iters`.

I didn't find any references for some parts of the formula you used for the decayed LR. Although it seems correc

[2022-08-03 19:40] datumbox commented on #4438
Correct the `min_lr` is the minimum permitted value for LR. I'm not 100% we have to support this TBH. Let's see what the Core team says and if there are any weird interactions we should keep in mind.

The API of Schedulers is a bit weird. The changes on the `get_lr()` happen in place so you need to undo the update of the previous epoch and apply the new one.

Sounds good, make sure you tag me on t

[2022-08-04 06:44] vballoli commented on #6231
Are torch and torchvision installed via pip or building from source ? I believe the latter shouldn't give these issues, but it takes quite a lot of time. I've written [a small guide](https://vballoli.com/a-modern-guide-to-setting-up-jetson/) about this, hope it helps.

[2022-08-04 09:11] github-actions[bot] opened #6367 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow tests/download.
Please look into it:

https://github.com/pytorch/vision/actions/runs/2795453623

Feel free to close this if this was just a one-off error.

cc @pmeier @YosuaMichael

[2022-08-04 09:12] #6367 closed

[2022-08-04 09:50] NicolasHug opened #6368 "`Label.from_category` is O(num_classes) complexity, for every single sample"
This function is called when loading every single sample, but its complexity is `O(num_classes)` because of the `.index()` call, which is probably overkill. A simple dict lookup should be enough and much faster here.

https://github.com/pytorch/vision/blob/96aa3d928c6faaf39defd846966421679244412d/torchvision/prototype/features/_label.py#L35-L43

CC @pmeier

[2022-08-04 13:00] arch-raven commented on #5140
When can we expect this functionality for `VideoReader` with `device="cuda"` otherwise users can't extract frames between two timestamps?
[code]

[2022-08-04 13:35] bjuncek commented on #6204
^ This is likely due to the 3.9 python; for some reason that works.

[2022-08-04 16:27] datumbox opened #6370 "`cmake_macos_cpu` fails on main branch"
### 🐛 Describe the bug

The latest nightly Core nightly (20220804) causes makes the `cmake_macos_cpu` job [fail](https://app.circleci.com/pipelines/github/pytorch/vision/19225/workflows/2be4490f-7afb-4a74-914a-3d5c78c09feb/jobs/1556000) with:
[code]

### Versions

Latest main branch TorchVision, 20220804 Core nightly

[2022-08-04 16:36] #6225 closed

[2022-08-04 16:45] datumbox commented on #6155
I'm putting the issue as "up for grabs" as the initial PR hasn't been completed.

@puhuk If you have availability and want to complete it let me know. Thanks!

[2022-08-05 08:46] xaozo opened #6374 "Unable to read PNG image into tensor"
### 🐛 Describe the bug

Hi, I'm trying to read a PNG image into a PyTorch tensor using `torchvision.io.read_image`. Simplified code as follows:

`import os`
`from torchvision.io import read_image, ImageReadMode`
`img_path = os.path.join("sample-images", "test.png")`
`img = read_image(img_path, ImageReadMode.RGB)`

I observe the following error:

[code]

The error occurs regardless of the value of

[2022-08-05 09:11] github-actions[bot] opened #6372 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow tests/download.
Please look into it:

https://github.com/pytorch/vision/actions/runs/2802501222

Feel free to close this if this was just a one-off error.

cc @pmeier @YosuaMichael

[2022-08-05 09:12] #6372 closed

[2022-08-05 15:26] datumbox commented on #6370
The problem is [resolved](https://app.circleci.com/pipelines/github/pytorch/vision/19225/workflows/05cacad4-2455-4138-8366-05b6934950ea/jobs/1557201) on the nightly 20220805.

[2022-08-05 15:26] #6370 closed

[2022-08-05 23:13] malfet commented on #6374
I think this is the source of your problem: torchvision==0.12.0 corresponds to torch=1.11.0, you should have use torchvision=0.13.0 instead.

I can not reproduce the issue when compatible version of pytorch and torchvision are installed.
Though I wonder if we should probably tighten version requirements for pytorch and torchvision (on both x86 and M1)

[2022-08-06 07:38] xaozo commented on #6374
Thanks for the help, updating to torchvision==0.13.0 fixed the issue.

[2022-08-06 07:38] #6374 closed

[2022-08-06 09:13] github-actions[bot] opened #6375 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow tests/download.
Please look into it:

https://github.com/pytorch/vision/actions/runs/2808366979

Feel free to close this if this was just a one-off error.

cc @pmeier @YosuaMichael

[2022-08-06 16:42] yassineAlouini commented on #6323
@datumbox I can work on MobileViT. 👌

[2022-08-06 20:45] kswain98 opened #6381 "Adding ADE20K to TorchVision built-in dataset"
### 🚀 The feature, motivation and pitch

Hi! Is it possible to add the ADE20K dataset to the TorchVision built-in dataset? Since the Sun and Places dataset is already available it would be great to have ADE20K which has annotated images that cover the scene categories from the SUN and Places database.

### Alternatives

_No response_

### Additional context

_No response_

[2022-08-07 07:40] H-Sorkatti commented on #6236
I Strongly second this feature. It is very a important transformation to have.
I almost always have to use hacks to resolve this when working with images.

[2022-08-07 09:11] github-actions[bot] opened #6377 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow tests/download.
Please look into it:

https://github.com/pytorch/vision/actions/runs/2812047781

Feel free to close this if this was just a one-off error.

cc @pmeier @YosuaMichael

[2022-08-08 07:22] #6375 closed

[2022-08-08 07:22] #6377 closed

[2022-08-08 09:12] github-actions[bot] opened #6379 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow tests/download.
Please look into it:

https://github.com/pytorch/vision/actions/runs/2816697438

Feel free to close this if this was just a one-off error.

cc @pmeier @YosuaMichael

[2022-08-08 09:15] #6379 closed

[2022-08-08 16:01] isaak-willett commented on #5635
Hej @malfet I'm facing the same issue with my build system, error below
[code]
To clarify I build my own pytorch and vision distros using our internal cuda == 11.0, lately when upgrading from torch 1.9 -> 1.12 and vision 1.10 -> 1.13 this same error has been coming up. Do you know if there has been any torch/vision internal change to the linking between those two versions that would effect this?

[2022-08-08 17:08] malfet commented on #6381
Moved from pytorch to torchvision

[2022-08-08 17:37] datumbox commented on #6381
I agree this dataset is important to be added. We have a separate tracker for this issue at #5200. Closing this as it's a duplicate but let's continue our discussion there.

[2022-08-08 17:37] #6381 closed

[2022-08-09 07:05] federicopozzi33 commented on #6323
I wanted to know how helpful it is to implement network architectures without training them, validating the implementations just by using/adapting/porting weights released by the authors.

I can provide some specific examples if needed.

[2022-08-09 07:35] datumbox commented on #6323
@federicopozzi33 Though the final training (especially of the large variants) is done by our team, we typically request to train at least one variant of the architecture to prove it works. The hardest part of such contributions is often to reproduce the accuracies of the paper and that's why we request this. We've been known to be flexible though, especially if a contributor has experience in impl

[2022-08-09 09:12] github-actions[bot] opened #6384 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow tests/download.
Please look into it:

https://github.com/pytorch/vision/actions/runs/2824050446

Feel free to close this if this was just a one-off error.

cc @pmeier @YosuaMichael

[2022-08-09 09:12] #6384 closed

[2022-08-09 13:59] SorourMo commented on #5439
@rgkannan676
I've got the same problem as you on windows with torch 1.8.1, torchvision 0.9.1, CUDA 10.2, and libtorch 1.10.1. I too made sure `cmake -DWITH_CUDA=on` is used. https://github.com/pytorch/vision/blob/release/0.12/test/tracing/frcnn/test_frcnn_tracing.cpp example throws an exception when CUDA is used (screenshot attached below), but works fine with CPU.
Were you able to solve the probl

[2022-08-10 09:12] github-actions[bot] opened #6388 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow tests/download.
Please look into it:

https://github.com/pytorch/vision/actions/runs/2831387723

Feel free to close this if this was just a one-off error.

cc @pmeier @YosuaMichael

[2022-08-10 09:14] #6388 closed

[2022-08-10 09:55] pmeier commented on #6368
I agree that there is a theoretical benefit, but does this an impact on a practical case? Benchmarking it on my machine gives me roughly 30 ns per category in `categories`. Meaning even for ImageNet (the dataset with the most categories we currently have on record) it takes roughly 30 µs for this call:

[code]

Your proposal means we should switch `catgories` attribute to a dictionary with the cat

[2022-08-10 09:59] NicolasHug commented on #6368
Categories are strings, not integers. String comparison will take much longer. I did observe a significant last time I benchmarked this

[2022-08-10 10:09] pmeier commented on #6368
Makes no significant difference for me:

[code]

With string of 20 characters lookup is now linear with 4 ns, i.e. 4 µs for ImageNet.

[2022-08-10 10:31] NicolasHug commented on #6368
[code]

[code]

[code]

A few ms per batch is always good to take, especially considering how simple the solution is, and when we're trying to exhibit benefits of using datapipes over our current datasets. Data-loading speed will be the main factor for adoption.

Sorry, not sure what you mean here?

[2022-08-10 11:07] pmeier commented on #6368
Right now we create the `Label` with a sequence of categories:

https://github.com/pytorch/vision/blob/2e70ee1af3bb3c5ba0f9a8bcf16cd1611831690f/torchvision/prototype/features/_label.py#L18

https://github.com/pytorch/vision/blob/2e70ee1af3bb3c5ba0f9a8bcf16cd1611831690f/torchvision/prototype/features/_label.py#L40

Do we want to keep this and only internally use dictionaries or should we switch to

[2022-08-10 11:14] NicolasHug commented on #6368
I don't know yet, honestly. But I'm open to removing this `categories` logic altogether. We're still in prototype stage and our main focus is loading speed right now.

[2022-08-10 11:19] pmeier commented on #5290
I think if we determine a server to be down there are two ways forward:

1. Disable the download test like I did in #6389.
2. Remove the download functionality from the dataset, which in turn also stops the issues.

My goto strategy is to do 1. first and wait for 2. until the next release. If the server comes back up, we simply reactivate the test. Otherwise we want to disable the download option

[2022-08-10 11:34] pmeier opened #6390 "SBU download is failing"
This is happening since roughly a month (first detection in #6274), but was masked by #6268.

http://www.cs.virginia.edu/~vicente/sbucaptions/

The server is still up, but the path is no longer valid. I'll reach out to the author to see if this can be fixed. In the meantime we should probably disable the test.

cc @pmeier @YosuaMichael

[2022-08-10 11:44] Kosta404 commented on #1598
Hi, @carsumptive
Did you manage to fix the problem somehow?

[2022-08-10 12:05] Kosta404 commented on #1598
Hello, @fmassa
If I provide [0.0, 0.0, 0.0, 0.0] boxes I get the error `ValueError: All bounding boxes should have positive height and width. Found invalid box [0.0, 0.0, 0.0, 0.0] for target at index 1.`
So the problem doesn't seem to be solved. Would you kindly re-open an issue again?

[2022-08-10 13:14] datumbox commented on #5581
I think it's a good time to resolve this issue.

I read again what was discussed and my initial feeling is that Ideally I would like to align the two low-level kernels to behave the same (do the no-op) rather than outsourcing this handling to the RandomGrayscale transform. I could be wrong though and the other solution might be preferable for reasons I don't see currently.

@pmeier and @vfdev-5 co

[2022-08-10 13:28] #6242 closed

[2022-08-10 13:44] kswain98 commented on #5200
Hi! Are you planning to add it?

[2022-08-10 14:19] datumbox commented on #6323
@yassineAlouini I realized that my fat finger gave you a thumbs down instead of thumbs up on your comment to work on MobileViT. Sorry about that. Are you still interested in it?

[2022-08-10 14:51] yassineAlouini commented on #6323
@datumbox Yes I am and I understood that you meant :+1: instead so all is good. I should start on Friday. :ok_hand:

[2022-08-10 16:05] vfdev-5 opened #6393 "[proto] Port detection transforms from reference"
Transforms to port from [detection references](https://github.com/pytorch/vision/blob/main/references/detection/transforms.py) :

- [ ] RandomIoUCrop (@vfdev-5)
- [ ] ScaleJitter
- [ ] FixedSizeCrop
- [ ] RandomShortestSize
- [ ] SimpleCopyPaste

cc @vfdev-5 @datumbox @bjuncek @pmeier

[2022-08-10 17:58] FiReTiTi commented on #1598
@Kosta404 This issue was open to be able to submit empty images, not bounding boxes of null dimensions.
Can you filter out such boxes?

[2022-08-10 18:20] dario-loi opened #6394 "String parameter cannot be passed to `torchvision.ops.deform_conv2d`"
### 🐛 Describe the bug

## Bug Explanation
The current implementation of `torchvision.ops.deform_conv2d` implicitly assumes that padding is passed as a tuple or an integer, this means that if the padding is passed as either "same" or "valid" then torchvision is going to parse it as `padding = ("same")`.

## Sample Code
[code]
## Stacktrace
[code]

### Versions

[code]

[2022-08-10 20:20] Kosta404 commented on #1598
I don't need to filter them, I create them on purpose on empty images, to create "Negative samples".

[2022-08-10 22:04] kazhang opened #6395 "Inconsistency between RoIPool's forward and roi_pool"
### 🚀 The feature

Currently the functional `roi_pool` method supports both `Tensor` and `List[Tensor]` for boxes, but the module forward function of `RoIPool` expects boxes(rois) to be `Tensor` only. Can we change the function signature to support both?

The inconsistency can cause issue during torchscripting, for example:
[code]
Raise the following error:

### Motivation, pitch

Make sure the mo

[2022-08-11 02:39] rgkannan676 commented on #5439
@SorourMo Sorry, I haven't solved the issue.

[2022-08-11 07:46] datumbox commented on #6394
Hi @dario-loi, thanks for raising this.

I don't want to argue semantics but TorchVision quite explicitly declares that expected inputs for paddings is either an integer or a Tuple of ints:
https://github.com/pytorch/vision/blob/93c85bbcc31f8d5a052daf06f2f91f39697af1a4/torchvision/ops/deform_conv.py#L14-L23

Currently it doesn't support strings (`{'same', 'valid'}`). Perhaps that's a worth expansi

[2022-08-11 08:30] pmeier commented on #6393
Duplicate of #5542.

[2022-08-11 08:30] #6393 closed

[2022-08-11 08:31] federicopozzi33 commented on #6323
I'd like to try with the LARS optimizer, but I have a question: to test the correctness of the optimizer, is it required to reproduce the experiments of the paper?

[2022-08-11 08:40] datumbox commented on #6395
Hey @kazhang! Thanks for reporting. You are right, there was a bug on our side. I sent a PR to fix at #6397 and added a test for it.

[2022-08-11 08:47] datumbox commented on #6323
@federicopozzi33 I don't think it's required to reproduce experiments but we would need to be very careful to ensure the optimizer works the same as a reference implementation. If reproducing experiments is necessary, I can run them for you.

@frgfm you said you had already implementations, are you still interested and have the time to contribute? Perhaps you could work with Federico.

Let me know

[2022-08-11 09:11] github-actions[bot] opened #6399 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow tests/download.
Please look into it:

https://github.com/pytorch/vision/actions/runs/2838636270

Feel free to close this if this was just a one-off error.

cc @pmeier @YosuaMichael

[2022-08-11 09:17] federicopozzi33 commented on #6323
Oh sorry, I looked at the main thread, without paying attention to the other messages.

@frgfm let me know if you're still interested to contribute, I can choose other issues without any problem :)

[2022-08-11 10:20] datumbox commented on #6323
@federicopozzi33 @frgfm @yassineAlouini @abhi-glitchhg @oke-aditya It would be great if you can either open issues with the items you plan to work on, or open dummy (empty) initial PRs with them so that we can link from the ticket and know which work is assigned to whom.

This would allow other community members to pick up work. I would also recommend to assign one task to each so that we can prog

[2022-08-11 10:51] pmeier commented on #6399
See #6268 and #6390.

[2022-08-11 10:51] #6399 closed

[2022-08-11 12:10] #6395 closed

[2022-08-11 12:41] yassineAlouini commented on #6323
Will do @datumbox :ok_hand:

[2022-08-11 14:31] #5863 closed

[2022-08-11 14:34] dario-loi commented on #6394
Thank you for the response,
I've began working on a possible PR, however, after dissecting the code it seems that there is no possibility, from the python library all the way down to the CUDA kernel, to have a padding with an uneven number of pixels, for example: `left_pad = 1, right_pad = 2`.

Would the implementation of this enhancement require the rewriting of both CPU & CUDA kernels to take in

[2022-08-11 14:40] federicopozzi33 commented on #4438
I think this issue can be closed (see https://github.com/pytorch/pytorch/pull/82769).

It remains only to update the [segmentation training script](https://github.com/pytorch/vision/blob/9275cc61fb3c26ce15ced0199ad8b7540d48676c/references/segmentation/train.py#L136-L138) using the newly implemented scheduler as soon as a new version of PyTorch is released.

[2022-08-11 14:42] datumbox commented on #6394
@dario-loi This is a great question. Unfortunately I don't know the answer and we would probably need to dig deep on how the specific kernel is designed. I will need to find the bandwidth for such a thing as I'm a bit swamped at the moment. So if you continue work on this feature, keep in mind I might not be able to review or merge it.

Unfortunately this is not true. We did a major refactoring of

[2022-08-11 14:44] datumbox commented on #4438
That's correct. In fact once the Scheduler makes it to the nightly, we can make the change. Not sure if it made it to the one today or if it will appear tomorrow, but you can start a PR and I'll review/test/merge soon. Would that work for you?

[2022-08-11 16:30] kazhang commented on #6395
Thank you for the fix @datumbox !

[2022-08-11 18:32] ain-soph commented on #6224
Any help needed? I’m interested to implement this.

[2022-08-11 18:59] sophiazhi opened #6402 "S3D feature request"
### 🚀 The feature

S3D model for video classification ([paper](https://arxiv.org/abs/1712.04851), [paperswithcode](https://paperswithcode.com/paper/rethinking-spatiotemporal-feature-learning), [implementation](https://github.com/facebookresearch/multimodal/blob/main/examples/mugen/retrieval/s3d.py) in torchmultimodal).

### Motivation, pitch

I've onboarded a [model](https://github.com/facebookres

[2022-08-11 19:40] datumbox commented on #6224
@ain-soph I think it would be awesome if you implement it.

Just checking again with @vfdev-5 and @pmeier that they don't have any concern.

[2022-08-11 19:44] datumbox commented on #6402
@sophiazhi Happy to sync with you on how we can unblock this. Since you are an intern with Meta, ping me internally to speed this up.

[2022-08-11 20:02] vfdev-5 commented on #6224
No problems from my side

[2022-08-12 00:09] FindHao opened #6403 "Performance Issue in nmk_kernel"
### 🚀 The feature

Hi, when analyzing the profiling results of [detectron2_fasterrcnn_r_101_fpn](https://github.com/pytorch/benchmark) in inference mode,  I found some inefficiencies. More details described in the following box.

### Motivation, pitch

The batch size is 4, so there will be 4 calls for `batched_nms`. Deep to the bottom of the calling context tree, there are some long calls for`cuda

[2022-08-12 05:35] yassineAlouini opened #6404 "[FEAT] Add MobileViT v1 & v2"
### 🚀 The feature

As described in the [RFC ](https://github.com/pytorch/vision/issues/6323)"Betteries includes, phase 3", I am working on adding MobileViT v1 and v2 inspired by the following code repos:

- https://github.com/chinhsuanwu/mobilevit-pytorch
- https://github.com/apple/ml-cvnets/blob/main/cvnets/models/classification/mobilevit_v2.py

### Motivation, pitch

This has been decided in the

[2022-08-12 05:37] yassineAlouini commented on #6323
https://github.com/pytorch/vision/issues/6404 @datumbox not sure if it is the proper way to do it (since it is the first time for me), please comment/enhance if you have some time. Will start exploring the code soon.

[2022-08-12 07:07] datumbox commented on #6403
@FindHao thanks for documenting this.

To ensure I understand you right, you are saying that the copy from CPU to GPU of line 136 seemed to you suspicious on the profiler but once you tried to move it to avoid it (by keeping the mask on GPU) you get a 1.4x slowdown. Is this an accurate depiction of the situation?

I am not the author of NMS either. I believe @fmassa wrote it. He could potentially

[2022-08-12 07:15] datumbox commented on #6404
Looks great @yassineAlouini. It would be great if we get this implementation.

Please have a read at https://github.com/pytorch/vision/issues/5319 where we document some best practices for model authoring. Also to avoid licensing problems, let's do a from scratch implementation.

[2022-08-12 08:10] yassineAlouini commented on #6404
Perfect, I will work on this today but mostly next week and the week after. Will let you know how my progress go. 👌

[2022-08-12 09:12] github-actions[bot] opened #6406 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow tests/download.
Please look into it:

https://github.com/pytorch/vision/actions/runs/2845660775

Feel free to close this if this was just a one-off error.

cc @pmeier @YosuaMichael

[2022-08-12 09:28] #4438 closed

[2022-08-12 11:38] datumbox commented on #6341
@zhiqwang I'm late by 1 week. Sorry I got caught up on other pieces of work.

I've gone through the bibliography around YOLOX and here are some thoughts:
- As noted earlier we will need to implement Mosaic Transform.
- Extend Mixup for Object Detection ([ref](https://arxiv.org/pdf/1902.04103v1.pdf) - section 3.1) cc @pmeier @vfdev-5
- Implement DarkNet53 and/or Modified CSPNet. This depends on whi

[2022-08-12 12:36] zhiqwang commented on #6341
Hi @datumbox ,

I agree with you here. It is a very good balance in terms of copyright and code quality. It's enough to have a YOLOX implementation from the community's perspective.

Sorry for not having enough bandwidth to work here recently ( But I can help to review the codes and support for deployment if there is also a need for this.

[2022-08-12 12:47] datumbox commented on #6341
@zhiqwang Thanks for getting back to me. I completely understand. Unfortunately we are very constrained in terms of headcount and bandwidth at the moment. I don't think any of the maintainers can pick this up. Originally the idea of you picking up and leading this initiative was very promising as you have extensive experience with the YOLO architecture due to your earlier work. But I understand th

[2022-08-12 17:25] FindHao commented on #6403
@datumbox yes. you are correct. To avoid it, not only keeping the mask on GPU, but also moving the following for loop to GPU. But there are some data dependencies between iterations in the for loop and my implementation is quite naive, so there are 1.4X slowdown(when the input is smaller, it could be 2-10X slowdown for this part).

[2022-08-13 07:51] Kavan72 commented on #5393
hey @seemethere thanks for the update,

I guess the problem is still there while installing CPU wheels, check this

![image](https://user-images.githubusercontent.com/19048640/184474540-c2657db4-7d54-4cdf-8af9-59ddd54e30ff.png)

I've added the PyTorch site to the extra source, and getting the same error
here is my `pyproject.toml`

[code]

[2022-08-13 09:11] github-actions[bot] opened #6414 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow tests/download.
Please look into it:

https://github.com/pytorch/vision/actions/runs/2851423988

Feel free to close this if this was just a one-off error.

cc @pmeier @YosuaMichael

[2022-08-14 01:05] FateScript commented on #6341
Thanks @zhiqwang for your proposal and @datumbox for inviting me. I would like to contribute a implemenentation  of YOLOX to torchvision and I wonder what should I do in order to complete this goal ?

[2022-08-14 09:11] github-actions[bot] opened #6415 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow tests/download.
Please look into it:

https://github.com/pytorch/vision/actions/runs/2855170624

Feel free to close this if this was just a one-off error.

cc @pmeier @YosuaMichael

[2022-08-15 01:24] #6406 closed

[2022-08-15 01:24] #6414 closed

[2022-08-15 01:24] #6415 closed

[2022-08-15 03:13] JeremyCJM opened #6416 "Resume with torchrun: The CPU memory consumption keeps increasing when using the train code of image classification with "--resume" in references."
### 🐛 Describe the bug

I am training the ViT-B16 using the reference code provided by PyTorch:
[https://github.com/pytorch/vision/blob/a61e6ef6ff5af041661ecc70b1a7e3dacb2240b6/references/classification/train.py](url).

However, when I resume the training using this code with the distributed mode (using torchrun), I observed increasing CPU memory consumption epoch by epoch, which lead to program t

[2022-08-15 10:50] datumbox commented on #6341
@FateScript thanks for responding. We would love to have a modern YOLO iteration in TorchVision. Currently we don't offer any variant of this architecture which means that researchers can't do off-the-shelf comparisons.

I don't know how familiar you are with the TorchVision code-base. As with every library it has its own idioms and quirks, so this is an exercise of porting your [original](https:/

[2022-08-15 18:49] ain-soph commented on #6224
@vfdev-5 @datumbox Anyone gives me some guidance to start?

Should I refer to [tensorflow implementation](https://github.com/tensorflow/tpu/blob/b24729de804fdb751b06467d3dce0637fa652060/models/official/detection/utils/autoaugment_utils.py#L38)?

I see previously @lezwon claimed that the plan is to implement them in `torchvision.prototype` with:
- [ ] Rotate_Only_BBoxes
- [ ] ShearX_Only_BBoxes
- [

[2022-08-15 19:51] vfdev-5 commented on #6224
@ain-soph please check AA classes for classification task implemented with prototype API:
https://github.com/pytorch/vision/blob/main/torchvision/prototype/transforms/_auto_augment.py
The idea is to create something similar for detection. As most of prototype functional ops already support bboxes, you can easily write basic ops. As Only_BBoxes ops please check my previous comment: https://github.c

[2022-08-16 10:20] vedantroy opened #6426 "Cannot install from git using pip"
### 🐛 Describe the bug

I'm trying to install torchvision from source following this thread: https://github.com/pytorch/vision/issues/3283.
I tried doing `pip install 'git+https://github.com/pytorch/vision.git@v0.13.0'`, but it gives me the error:

[code]

### Versions

Collecting environment information...
PyTorch version: 1.12.1+cu116
Is debug build: False
CUDA used to build PyTorch: 11.6
ROCM u

[2022-08-16 10:32] NicolasHug commented on #6426
Hi @vedantroy , does it work with `pip install --no-build-isolation` ?

[2022-08-16 10:46] vedantroy commented on #6426
@NicolasHug That seems to do the trick! For some reason, torchvision is not detecting my FFMPEG and I don't know why though. I did `conda install 'conda-forge::ffmpeg<4.3'`, which should give me ffmpeg 4.2

[2022-08-16 10:54] NicolasHug commented on #6426
On the ffmpeg side, perhaps @bjuncek @jdsgomes  will have some input?

[2022-08-16 11:03] vedantroy commented on #6426
Sounds good! I have also tried compiling ffmpeg from source, but that didn't help. Maybe there's a way to tell `torchvision` to use a local ffmpeg directory?

[2022-08-16 11:09] NicolasHug commented on #6426
Looks like we have a hard-coded logic for that:

https://github.com/pytorch/vision/blob/c0ba3ec86aff2f19044cf710b0d1a2364dad8f75/setup.py#L394-L397

So maybe you can try to tweak that (you'll have to download the repo locally though, not install it from `git+...`. Or perhaps also play with `LD_PRELOAD` or `LD_LIBRARY_PATH` to point to the ffmpeg `.so` files that you have build locally?

[2022-08-16 14:18] NicolasHug opened #6428 "Infenrece pre-processing transforms when not using pre-trained weights?"
This is somewhat of a niche use-case. What would be a good way to run the pre-processing transforms when we don't need pre-trained weights? This happens in my case because I'm just benchmarking for speed, but it could also be the case of a user not having easy access to the internet.

[code]

fails with

[code]

because the `image_size` parameter wasn't overridden since `weights is None`:

https:/

[2022-08-16 17:01] vadimkantorov commented on #4665
cc @atalman

[2022-08-16 17:07] interactivetech opened #6429 "Question of why FCOS uses AnchorGenerator"
@xiaohu2015  @zhiqwang Thanks for the amazing work! I was wondering why was FCOS implemented using AnchorGenerator when it's an anchor free detector? I looked at other implementations [AdelaiDet](https://github.com/aim-uofa/AdelaiDet), [Original FCOS implementation](https://github.com/tianzhi0549/FCOS), and these implementations dont use anchors. Any intuition or benefits  for using anchors would

[2022-08-16 19:06] frgfm commented on #6323
Sorry everyone, I was away from computers for a few days :sweat_smile:

Sure!

That's a good idea, do you prefer issues that you can add as "tasks" in this very issue?

[2022-08-16 20:03] datumbox commented on #6429
Thanks for the question @interactivetech.

As @jdsgomes explained previously, FCOS is indeed anchor-free. The anchor generator is only used as an implementation trick to compute in each (x, y) position the centerness score. There are many other ways to generate those boxes but one was to just reuse the existing anchor-generator utility. This was purely to avoid creating another utility to do the j

[2022-08-16 20:03] #6429 closed

[2022-08-16 20:05] datumbox commented on #6323
Sure. I just want to make sure to have an owner for each algorithm and know which ones are available. Please create issues for those that you would like to tackle and assign yourself. If something changes and you can't pick them up, please let me know if try to find a different owner :)

[2022-08-16 20:49] vedantroy commented on #6426
If I use a local ffmpeg installation, will torchvision be dynamically or statically linked. Basically, can I remove the local installation afterwards or do I need to keep it?

[2022-08-16 20:51] vedantroy commented on #6426
Ohhh, I see the issue is that using python 3.9 is bad with torchvision. I would suggest a error message / hard exit instead of setting `has_ffmpeg = False`.

[2022-08-16 21:04] vedantroy opened #6430 "Cannot compile torchvision from source with ffmpeg support due to C++ compilation error"
### 🐛 Describe the bug

When trying to compile torchvision from source with ffmpeg support, I get the following error: https://pastebin.com/F4SCr57j

Here's a short version of the trace:

[code]

My torchvision commit is: c0ba3ec86aff2f19044cf710b0d1a2364dad8f75
My ffmpeg version is:
[code]

I installed ffmpeg with `conda install 'conda-forge::ffmpeg<4.3'`

### Versions

Collecting environment inf

[2022-08-16 21:05] vedantroy commented on #6426
Nevermind, still having compilation errors for the video stuff, see: https://github.com/pytorch/vision/issues/6430

[2022-08-16 21:08] datumbox commented on #6430
@vedantroy Thanks for reporting.

The latest main of TorchVision isn't compatible with PyTorch `1.12.1+cu116`. You need to install the latest nightly of PyTorch instead. I'm going to close the issue as I think that solves your problem, but if you continue facing problems feel free to reopen it.

[2022-08-16 21:08] #6430 closed

[2022-08-16 21:08] #6426 closed

[2022-08-16 21:26] yil8 opened #6431 "ImportError: cannot import name 'get_model_weights' from 'torchvision.models'"
### 🐛 Describe the bug

Can't use `torch.hub.load` from torchvision==0.13.0, since `hubconf.py` from main branch is doing
[code]
which is different from torchvision==0.13.0 `hubconf.py`.

Error:
[code]

Relevant PR https://github.com/pytorch/vision/pull/6364

### Versions

Collecting environment information...
PyTorch version: 1.12.1+cu102
Is debug build: False
CUDA used to build PyTorch: 10.2
ROC

[2022-08-16 23:10] datumbox commented on #6431
@yil8 This new API is not available on TorchVision v0.13. You are trying to access something that just became available on the nightly version from an older version. Could you try uninstalling the old version of TorchVision and letting TorchHub do the import it on the fly or installing the latest nightly? That should work. Let me know if your issue persists. The feature was just added so it might

[2022-08-17 05:01] yil8 commented on #6431
@datumbox Yeah, thanks for following up. I actually didn't run into this issue within my local virtual environment. It was triggered by test cases through github ci action. Unfortunately, I'm not sure if I'm allowed to copy the full ci error message, but below is part of it:
[code]
I also started to notice somehow the github ci action was using `.cache/torch/hub/pytorch_vision_main/hubconf.py`, wh

[2022-08-17 05:15] zhiqwang commented on #6429
In other words, anchor free doesn't mean it doesn't use anchors at all, it just has more flexibility when doing boxes encoding and decoding.

[2022-08-17 07:30] datumbox commented on #6431
@yil8 I'm trying to understand your setup. If you are already installing torchvision 0.13, is there are specific reason you are using TorchHub to import the models instead of importing them directly? From your logs, I would guess that somehow TorchHub downloads the latest available TorchVision main and this conflicts with the other installed version, leading to issues. I can't be sure because I'm

[2022-08-17 07:46] QiangZiBro commented on #1048
I used APEX.amp with inceptionv3, got the same problem:
- APEX 0.1
- torch 1.13
- torchvision 0.13
[code]
To solve this problem, I replaced namedtuple to function returning tuple, and it works:
[code]

[2022-08-17 08:22] LukasM937 commented on #6268
Are there any updates regarding this issue?

[2022-08-17 08:27] pmeier commented on #6268
From the [website](http://places2.csail.mit.edu/download.html):

[2022-08-17 09:22] NicolasHug commented on #6431
My assumption is that `torchvision` was already imported before the call to `torch.hub.load()`? In which case:

- the `torchvision` module is already present in `sys.modules`
- torchhub properly downloads the `main` branch of the repo according to the stderr (but to make sure, maybe use `force_reload=True`)
- torchhub tries to load that folder's `hubconf.py` file, where this line is found `from to

[2022-08-17 09:25] NicolasHug commented on #6431
You can try something nasty like:

[code]

before calling `hub.load()` - but you'll likely need to re-load the 0.13 `torchvision` package programmatically if you still need it later in the script.

This is related to https://github.com/pytorch/hub/issues/243#issuecomment-942403391 and unfortunately there is no easy way to "fix" this limitation of torchhub. I gave it a go in the past but this is a

[2022-08-17 10:47] oke-aditya opened #6435 "New Feature: Dice Loss"
### 🚀 The feature

Followup to #6323

Addition of Dice Loss to torchvision.

### Motivation, pitch

Mainly Dice loss is used for semantic segmentation.

I want to understand the technical aspects of adding it to torchvision. Are we going to support boolean tensors or outputs from the semantic segmentation models?

Few references.

https://github.com/pytorch/pytorch/issues/1249#issuecomment-3050883

[2022-08-17 11:33] GLivshits opened #6437 "Memory leak on GaussianBlur"
### 🐛 Describe the bug

Hello. When using num_workers > 0 for dataloader and GaussianBlur BEFORE the resize function in transforms (images in dataset are of different size) a memory leak appears. The larger num_workers used, the more the leak is (I ran out of 128 GB RAM in 300 iterations with batch_size of 32 and num_workers of 16).
To reproduce (you should initialize images with array of filepath

[2022-08-17 11:48] datumbox commented on #6437
@GLivshits thanks fore reporting this.

What's special about `GaussianBlur` is that it doesn't handle natively PIL images and does a conversion from PIL to Tensor and back. We'll have to check if there is a leak somewhere during that conversion but this is hard and might not be an issue on our side. It would help a lot if you can help us narrow this down a bit. Can you replace the PIL read with so

[2022-08-17 12:03] GLivshits commented on #6437
Replaced PIL.Image.open with torchvision.io.read_image (it outputs uint8 tensor), still leaks.

"""
import torch
import torchvision
from torchvision import transforms

class TestDataset(torch.utils.data.Dataset):

    def __init__(self, images):
        self.images = images
        self.init_base_transform()

    def __len__(self):
        return len(self.images)

    def init_base_transform(self)

[2022-08-17 12:08] vfdev-5 commented on #6437
@GLivshits I tried to reproduce the issue by measuring the memory with your script + psutil:
[code]

I did 2 experiments:
1) with `GaussianBlur` as in the code above

<details>
<summary>
Output
</summary>

[code]
</details>

2) without `GaussianBlur` as
[code]

<details>
<summary>
Output
</summary>

[code]
</details>

My pytorch, vision versions: '1.13.0.dev20220704+cpu', '0.14.0a0'

I see that in

[2022-08-17 12:11] GLivshits commented on #6437
@vfdef-5 I'm just watching htop.
The thing is that if your images are of the same size everything works ok (I also tried loading dataset of one image and there is no memory leak). But if there are multiple sizes of images - leak appears.

[2022-08-17 12:34] GLivshits commented on #6437
If a single image of different sizes is used there is still a 4 GB RAM overhead.

[2022-08-17 12:41] GLivshits commented on #6437
@vfdev-5 I've excluded every other augmentation and swapped the order of blur and resize and found matching leaky configuration. The code provided is already a localized version of a problem.

[2022-08-17 14:37] adv010 opened #6438 "Syntax error setting up torchvision"
Setting up torchvision for nvidia jetson.  Run into the following error when executing
`$ git clone https://github.com/pytorch/vision<br/>
$ cd vision<br/>
$ sudo python setup.py install`

Error :
`  File "setup.py", line 49<br/>
    f.write(f"__version__ = '{version}'\n")<br/>
                                         ^
`

[2022-08-17 14:40] datumbox commented on #6438
@adv010 Can you confirm that this is indeed the command you are using? It seems there are HTML tags in it.

[2022-08-17 14:45] adv010 commented on #6438
Hey, i added the markdown tags to emphasize the line breaks.

Please ignore them

[2022-08-17 15:09] amirhesamyazdi commented on #1598
There are both a **proper** (section 3.4.1) and a **hacky** (sections 3.4.2) solution for this proposed in this paper: https://www.mdpi.com/1779590

 To feed negative samples during Faster R-CNN training if the version does not support  samples with no objects.

[2022-08-17 17:31] frgfm commented on #6323
Alright, I'll start with polyloss then & open an issue for this. One question then: should I create a "nn" module on torchvision for this? Or will losses go into "ops"? Or another submodule for experimental features that will move later on to upstream core?

Then I'll go for the LARS & LAMB optimizers if they aren't taken care of by then :+1:

And hopefully, there will still be some models left to

[2022-08-17 17:41] frgfm opened #6439 "Add support for PolyLoss in torchvision"
### 🚀 The feature

The goal would be to add a `PolyLoss` PyTorch module behaving exactly the same way as any PyTorch core loss module. And the implementation would follow the following paper: https://arxiv.org/abs/2204.12511

One question still pending though: where should this be located in torchvision?

### Motivation, pitch

As discussed in #6323, some losses have popped up over the last year.

[2022-08-17 17:42] frgfm opened #6440 "Add support for PolyLoss in torchvision"
### 🚀 The feature

The goal would be to add a `PolyLoss` PyTorch module behaving exactly the same way as any PyTorch core loss module. And the implementation would follow the following paper: https://arxiv.org/abs/2204.12511

One question still pending though: where should this be located in torchvision?

### Motivation, pitch

As discussed in #6323, some losses have popped up over the last year.

[2022-08-17 17:43] frgfm commented on #6440
My bad, GH created a duplicate as I refreshed the page after connection issue :sweat_smile:

[2022-08-17 17:43] #6440 closed

[2022-08-17 17:56] yil8 commented on #6431
@NicolasHug @datumbox I found where was my bug, previously I was doing:
[code]
Which did not specify torchvision version number. The issue was resolved after I changed the code to:
[code]

[2022-08-17 17:56] #6431 closed

[2022-08-18 03:40] FateScript commented on #6341
@datumbox Sorry for my late reply — I'm on my vacation these days.

I check the references you mentioned above and I think implemented a YOLOX model in torchvision is not too hard. The main effort here are data transform and model arch.  I decide to share one day per week to complete this.

BTW, Is there any DDL for me ?

[2022-08-18 08:59] datumbox commented on #6341
@FateScript  That's awesome, thanks a lot for doing this!

Sorry what do you mean by DDL?

@zhiqwang Just wanted to check if you still want to be involved on supporting Feng during the PRs or if I should find a POC on our side for this. Totally depends on your bandwidth.

[2022-08-18 09:05] FateScript commented on #6341
I mean, deadline

[2022-08-18 09:26] datumbox commented on #6341
@FateScript No deadlines from our side. We appreciate you are dedicating your time to an open-source project and we are thankful. :)

Just a date to keep in mind in case we aim to release the model available for v0.14. All PRs for that release need to be merged by beginning of October. Anything merged after that, will be released with v0.15.

[2022-08-18 09:56] zhiqwang commented on #6341
Hi @datumbox and @FateScript , I believe Feng will implement a very superior version of YOLOX here, and I will contact him offline to see if there is anything I can do to help :)

[2022-08-18 12:39] yassineAlouini commented on #5319
Thanks for this great guide @jdsgomes. There is a small typo here: [ConvNormActication](https://github.com/pytorch/vision/blob/47bd962069ba03f753e7ba711cb825317be0b00a/torchvision/ops/misc.py#L104)
(should be Activation)

[2022-08-18 14:38] yassineAlouini commented on #6404
I have started the implementation. Seems like a big chunk but excited to do it. :ok_hand:

I have found this huggingface implementation, could be useful as another inspiration: https://huggingface.co/docs/transformers/main/model_doc/mobilevit.

[2022-08-18 15:56] pmeier commented on #6390
I've contacted the author of the paper and the new link is

https://www.cs.rice.edu/~vo9/sbucaptions/

Will send a PR to update our sources.

[2022-08-18 22:01] yokosyun commented on #2707
I also want to have BiFPN neck

[2022-08-19 00:11] dataplayer12 commented on #6365
It would be great if list_models could list only specific models matching a regex, or at least wildcard searches like list_models("resnet*")
timm has this functionality and it really boosts productivity.

[2022-08-19 05:11] Zephyr69 opened #6452 "Installing the correct torchvision for Jetson Xavier NX"
Platform: Jetson Xavier NX w/ Jetpack 4.6.1
Python: 3.6.9
------------------------------------------------------
I was following [this](https://docs.nvidia.com/deeplearning/frameworks/install-pytorch-jetson-platform/index.html) to install pytorch on NX but ran into a weird situation. The guide points to the only pytorch version available for Jetpack 4.6.1, [1.11 cp36](https://developer.download.nv

[2022-08-19 09:07] fmassa opened #6453 "`image` extension can't be loaded in fresh conda env with torchvision 0.13.1"
### 🐛 Describe the bug

Hi,

Quick FYI that I'm getting this warning when installing torch and torchvision from a fresh conda env
[code]

This can be reproduced by doing
[code]
with the follwoing `conda.yaml`
[code]

### Versions

Python 3.9
PyTorch 1.12.1
TorchVision 0.13.1
CUDA 11.3

[2022-08-19 09:51] NicolasHug commented on #6453
FYI @atalman , it looks like installing `torchvision` with `apex` leads to problems discovering `libtorch_cuda_cu`. Not sure if this is a problem with us or with apex though?

[2022-08-19 10:24] TeodorPoncu commented on #6365
I agree with @dataplayer12. Whilst going through some tests in `prototype` the fetch all like behaviour might raise issues when dealing with constructors for future models we might plan on adding which do not follow the same initialisation scheme  https://github.com/pytorch/vision/blob/9c3e2bf46bc49997679785d76b7d0a9fea0223c7/test/test_prototype_models.py#L8-L19

Furthermore this can get quite tri

[2022-08-19 13:05] vfdev-5 commented on #5522
Done in https://github.com/pytorch/vision/pull/6305

[2022-08-19 13:05] #5522 closed

[2022-08-19 13:06] vfdev-5 commented on #5530
Done in https://github.com/pytorch/vision/pull/6305

[2022-08-19 13:06] #5530 closed

[2022-08-19 13:07] #5236 closed

[2022-08-19 13:08] #5533 closed

[2022-08-19 13:08] #5534 closed

[2022-08-19 13:09] #5525 closed

[2022-08-19 13:12] #5536 closed

[2022-08-19 13:12] #5535 closed

[2022-08-19 13:12] #5532 closed

[2022-08-19 13:15] #5529 closed

[2022-08-19 13:27] datumbox opened #6455 "The prototype `FiveCrop`/`TenCrop`/`BatchMultiCrop` produce unexpected results"
### 🐛 Describe the bug

The current implementation of the transforms produce unexpected results for Classification.

- If a single image comes in (no batch&collated), a batched result comes out with a single label
- if a batch of images comes in, we get a new image batch with 5x the original size and a label vector with length equal to the original size

In both cases, the `X` and the `Y` lengths

[2022-08-19 14:23] #6402 closed

[2022-08-19 14:32] datumbox commented on #6323
@oke-aditya  @frgfm Sorry I missed your messages.

We should add the losses flat on the ops, similar to what we do with every other loss. The `nn` module was too controversial and wasn't adopted.

Working on LARS/LAMB would also be awesome. We would need to coordinate with Core, but I think we can do it. Looking forward to your PRs!

[2022-08-19 17:20] vadimkantorov commented on #5236
Is there now a nn.Sequential/nn.ModuleList-derived TupleSequential? Or what is the format of instances in proto? Are they now all dicts? Is there now also a nn.Module-derived T.Lambda wrapper?

[2022-08-19 18:24] teslyuk commented on #6240
@21Ansh Have you managed to resolve the issue?

[2022-08-20 10:42] frgfm commented on #6323
Alright, but so far the other losses don't provide the module interface (only the functional API). I'll start with functional, and let me know in the PR if it's worth adding the module version as well :+1:

Fortunately, I have already followed the same syntax & folder organization as core. So the integration should be rather smooth :ok_hand:

[2022-08-21 04:36] chuanma commented on #5393
@Kavan72  I also have the same issue. Before they find a proper way to fix this, I just add torchvision because torch will be added as a dependency. Note in the screenshot below that the CPU version of torch is correctly found.  BTW, I use Poetry 1.2.0b3

[code]
![Image 2022-08-21 at 12 25 AM](https://user-images.githubusercontent.com/325845/185775481-4e5c8eaa-78e2-46fb-bcf7-f203c32a1d55.jpg)

[2022-08-21 10:51] adamsau commented on #4595
@datumbox is there any plan on adding this new model?

[2022-08-22 07:13] pmeier commented on #6455
I'm ok with the removal of `BatchMultiCrop` for the reasons given above. In that case we need to have at least a minimal example in the documentation how batching can be done. I came up with this for a simple classification example with `features.Image`'s and `features.Label`'s:

[code]

This is already quite long for an minimal example, but I don't think we can get it much shorter. There are a fe

[2022-08-22 08:26] pmeier commented on #6390
The author provided me a link to the actual image archive rather than just an URL list. The website reads

I'm checking back if it is ok for us to publish that link. That would simplify the download by quite a bit and would mean the discussion in #5706 is moot for now.

[2022-08-22 08:35] datumbox commented on #4595
@adamsau Thanks for checking.

Our intention is to prioritize the model on the future but not yet. The main issue at the moment is that we don't want to add more Keypoint detection models (I'm aware CenterNet supports normal bboxes too) until we have completed the [Transforms v2 API](https://github.com/pytorch/vision/tree/main/torchvision/prototype/transforms). This is because in order to train th

[2022-08-22 08:52] datumbox commented on #6455
I'm OK with the example you provide. I don't mind that the example is on the long side (I wouldn't try to make it more dense) but I do agree about the `tree_flatten` remark. Perhaps what we can do in this API is avoid writing a generic `BatchMultiCrop` class and instead provide a more specialised implementation for classification which expects specific input types on `forward(img: Image, lbl: Labe

[2022-08-22 09:12] pmeier commented on #6455
My only concern with having `forward(img: Image, lbl: Label)` is that it won't work with our datasets whereas `FiveCrop` / `TenCrop` do out of the box.

[2022-08-22 09:14] datumbox commented on #6455
Yes, it's not a generic solution I agree. But because currently we can't offer a generic solution, I think it's worth being as specific and clear as possible on our example. On the future we could revise this and try to offer a truly generic class that handles all tasks.

@vfdev-5 Thoughts?

[2022-08-22 09:22] pmeier commented on #6455
The other option to avoid the `tree_flatten` call is to take the `batch_size` as parameter:

[code]

That way arbitrary input structures are allowed and we don't need to showcase an example where our API is not sufficient and one needs to overwrite `forward`.

[2022-08-22 09:28] datumbox commented on #6455
Passing the batch-size is very weird as it's not something we do anywhere else. IMO given that we don't offer a proper implementation of `BatchMultiCrop` out of the box, we should aim for simplicity. This means show to the user the simplest most specific way to handle the use-case and let them build on top of it.

[2022-08-22 09:42] pmeier commented on #6455
That would look like

[code]

Note that we cannot have a `forward(self, images: transforms.MultiCropResult, labels: features.Label)` signature, because even if you use `transform = transforms.Compose([transforms.FiveCrop(), BatchMultiCrop()])` with `transform(image, label)`, the output of `FiveCrop` will always be a tuple. The only way to avoid this would be to remove the `FiveCrop` from the examp

[2022-08-22 09:46] datumbox commented on #6455
Looks OK to me.

Another thing I would avoid if you agree the use of `transforms.MultiCropResult`. Why can't we put everything a simple List that clearly shows to the signature what is the expected input (`List[features.Image`). I understand that on the future, if we want to provide such a transform, we would need to be able to identify that this is a special type of list. But if this list is not

[2022-08-22 09:58] #5538 closed

[2022-08-22 10:01] vfdev-5 commented on #5520
Everything is done here, closing this tracker. Please reopen if something is still missing.

[2022-08-22 10:01] #5520 closed

[2022-08-22 11:56] pmeier commented on #6452
Starting with `torch==1.11` / `torchvision==0.12` we phased out support for Python 3.6. The exact version you linked is `torch-1.11.0a0+17540c5`. That is a development build which points to pytorch/pytorch@17540c5c80f5c6cd4e0fee42ec47d881e46f47f9. It was cut somewhere between `torch==1.10` and `torch==1.11`. There is no corresponding `torchvision` version for that.

The only option I currently see

[2022-08-22 13:08] #6455 closed

[2022-08-22 15:06] NicolasHug opened #6465 "decode_jpeg() creates tensors with different stride from PIL.Image.open()"
Opening a file with `torchvision.io.decode_jpeg()` will create a tensor with different strides than opening with PIL and converting to a tensor (see snippet below).

This can be the cause of a very significant difference in training time because of https://github.com/pytorch/pytorch/issues/83840. Let's see if https://github.com/pytorch/pytorch/issues/83840 deserves a "fix" or not but regardless, t

[2022-08-22 15:11] datumbox opened #6466 "Windows CI jobs failing on main"
### 🐛 Describe the bug

The CI is [failing](https://app.circleci.com/pipelines/github/pytorch/vision/19615/workflows/469aca17-ed45-412b-a8f9-d37fab17091e/jobs/1588913) across all Windows jobs with the following error:
[code]

It looks like an anaconda issue.

### Versions

latest main branch

cc @peterjc123 @nbcsm @guyang3532 @maxluk @gunandrose4u @mszhanyi @seemethere

[2022-08-22 15:15] vfdev-5 commented on #6465
@NicolasHug I wonder if this is also related to https://github.com/pytorch/vision/issues/4880 ?

[2022-08-22 15:21] cemde opened #6467 "Jupyter Kernel dies on Import"
### 🐛 Describe the bug

Importing torchvision in a Jupyter Notebook makes the kernel crash.
For example, a simple Jupyter notebook such as:
[code]
works until line 3, but when importing from `torchvision`, the kernel crashes. The jupyter logs in VSCode show:

[code]

I am aware of  #5953 but reinstalling the environment didnt help.

### Versions

MacOS: 12.5 (Intel)

Conda:
[code]

[2022-08-22 15:23] NicolasHug commented on #4880
Perhaps the state of the code-base was different at the time this was written, but I think https://github.com/pytorch/vision/issues/6465 explains why `Resize()` is much slower on tensors that come from `read_image()` than on PIL images (or on tensors that come from `ToTensor()(pil_img)`).

[2022-08-22 15:26] NicolasHug commented on #6467
Hi @cemde  , do you mind reproducing the code outside of a notebook to see if it still fails?

The error seems to come from `traitlets` - try uninstalling it maybe?

[2022-08-22 15:30] NicolasHug commented on #6465
I guess "fixing https://github.com/pytorch/pytorch/issues/83840" seems to go in @fmassa 's suggested direction:

[2022-08-22 16:08] malfet commented on #6466
Looks like a CircleCI configuration issue, let me try to re-run and if it fails will file a support ticket against them

[2022-08-22 16:17] malfet commented on #6466
And looks like re-run moves it a bit further, see https://app.circleci.com/pipelines/github/pytorch/vision/19615/workflows/469aca17-ed45-412b-a8f9-d37fab17091e/jobs/1590017

[2022-08-22 16:32] datumbox commented on #6466
@malfet might have also been temporary. It was failing the last 5 hours or so but the last commit on main seems green. I think we can close the issue?

[2022-08-22 16:36] malfet commented on #6466
Kicked re-runs, closing the issue, but will open a followup against pytorch/pytorch

[2022-08-22 16:36] #6466 closed

[2022-08-22 19:11] AngledLuffa commented on #2980
Rather than opening a new issue about focal loss, I figured it might be simplest to comment here.  Is there a timeline for reorganizing `sigmoid_focal_loss` and/or upgrading it to multiclass?  It would also be useful to have it as a subclass of `_WeightedLoss` from `torch.nn.modules`.  Thanks!

[2022-08-22 19:57] vedantroy opened #6469 "Cannot compile against FFMPEG from source"
### 🐛 Describe the bug

I get the following compiler error when trying to compile against FFMPEG built from source:

[code]

Here is the dockerfile:

[code]

### Versions

Collecting environment information...
PyTorch version: N/A
Is debug build: N/A
CUDA used to build PyTorch: N/A
ROCM used to build PyTorch: N/A

OS: Ubuntu 20.04.4 LTS (x86_64)
GCC version: (Ubuntu 9.4.0-1ubuntu1~20.04.1) 9.4.0
C

[2022-08-22 20:34] #6469 closed

[2022-08-22 23:50] take5v opened #6470 "Building torchvision for 3.0 cuda compute capability"
### 🐛 Describe the bug

I have successfully built PyTorch from source for my legacy hardware on Windows 10. I'm building torchvision for cuda 10.2, sm30 having the following env variables USE_CUDA=1 USE_CUDNN=1 USE_MKLDNN=1 TORCH_CUDA_ARCH_LIST="3.0" NVCC_FLAGS="-D__CUDA_NO_HALF_OPERATORS__ --expt-relaxed-constexpr -gencode=arch=compute_30,code=sm_30" TORCH_NVCC_FLAGS="-Xfatbin -compress-all".

Wh

[2022-08-23 01:52] #6452 closed

[2022-08-23 07:24] take5v commented on #6470
Detectron2 GeneralizedRCNN model was trained and exported on another machine:
[code]

[2022-08-23 08:17] adamsau commented on #4595
@datumbox thanks for the update, definitely need some fast model to detect keypoints since the keypoint rcnn is too slow for real world applications. Hope there will be new models coming soon!

[2022-08-23 09:16] datumbox commented on #4595
Makes sense. Can certainly ping you once we are ready in case you are willing to contribute it. :)

[2022-08-23 09:43] vfdev-5 commented on #5542
Closing this tracker as done

[2022-08-23 09:43] #5542 closed

[2022-08-23 10:10] pmeier commented on #5581
Both `F.to_grayscale` and `F.rgb_to_grayscale` will be deprecated in favor of `F.convert_color_space`. The implementation is roughly

[code]

This will align the behavior for PIL and tensor images to be a no-op in case the input is already a grayscale image. That is in line with what `F.convert_color_space` does:

https://github.com/pytorch/vision/blob/c6a715c7b967086d105fe8de5d50fe0c82ea3b5a/torc

[2022-08-23 11:23] datumbox commented on #5581
I think the misalignment between the PIL and Tensor kernel is a bug. We always aimed to ensure that Tensor kernels behave the same as PIL kernels and we have a bunch of unit-tests to ensure that this was the case. I think this fell through the cracks.

I agree we should fix the bug by aligning the kernels. I think the plan is the same but I would phrase it differently and connect it less with the

[2022-08-23 14:11] pmeier commented on #6467
You can do this by running the following in your VSCode terminal

[code]

If that fails, post the message here. If not, try

[code]

If that also does not fail, the problem is most likely not related to `torchvision`.

[2022-08-23 14:58] cemde commented on #6467
@pmeier I tied that. The issue is indeed a little different than I thought it was.

In Jupyter notebook and command line:

[code]
works fine while

[code]
results in an error (copied from command line):
[code]

I was not precise enough in my previous testing. This seems to be an issue of the `MKL` library, which is not needed on MacOS. But it is odd that the order of import matters in generating t

[2022-08-23 15:08] NicolasHug commented on #6467
I suspect this is the same as https://github.com/pytorch/pytorch/issues/78490 CC @atalman

[2022-08-23 17:17] datumbox opened #6477 "CI `cmake_windows_gpu` job failing due to dependencies"
### 🐛 Describe the bug

The job `cmake_windows_gpu` started [failing](https://app.circleci.com/pipelines/github/pytorch/vision/19679/workflows/17bca33f-d856-494c-96a4-27eb129e1590/jobs/1594594) with:
[code]

The issue first appeared on 20220823.

### Versions

Latest main TorchVision.

cc @seemethere

[2022-08-23 17:24] atalman commented on #6477
I am looking into this issue now, this looks like cudatoolkit=11.3 is pulled for some reason where it should not be pulled. It happens also with cuda 11.7 installs

[2022-08-23 21:57] malfet commented on #6477
Looking at todays pytorch-nightly channel, it doesn't look like we have cuda-11.3 python-3.7 build on Aug 22nd:
<img width="974" alt="image" src="https://user-images.githubusercontent.com/2453524/186273666-673a0b75-a189-4e7c-a871-812521b18964.png">
But we have all the builds for Aug 23rd...

[2022-08-23 22:31] malfet commented on #6477
And re-run indeed helped: https://app.circleci.com/pipelines/github/pytorch/vision/19679/workflows/17bca33f-d856-494c-96a4-27eb129e1590/jobs/1594624

[2022-08-24 07:41] pmeier opened #6478 "prototype features cannot be deepcopied"
[code]

[code]

The error message is giving us two options:

1. Override [`new_empty`](https://pytorch.org/docs/stable/generated/torch.Tensor.new_empty.html): according to the error message, this is preferred since we want to return an instance of the same type. Some of our features have internal guards for the shape like

    https://github.com/pytorch/vision/blob/b4b246a52ebbe29bff9099c6fbabff0b

[2022-08-24 08:50] datumbox commented on #6478
I don't know the details of why they chose to have such a default implementation of `__deepcopy__` in option 1 but I think your argument against it makes sense to me. Option 2 does look more appealing and I agree that intuitively I would expect a clone() to be used + a deep copy of the meta-data.

@vfdev-5 thoughts?

[2022-08-24 09:12] github-actions[bot] opened #6479 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow tests/download.
Please look into it:

https://github.com/pytorch/vision/actions/runs/2917819854

Feel free to close this if this was just a one-off error.

cc @pmeier @YosuaMichael

[2022-08-24 09:38] #5581 closed

[2022-08-24 11:17] lipond commented on #3058
I came across the same problem and found that was becasue the TorchVision I installed is of CPU version. And after I solved it by "pip install torchvision==0.8.0 --force-reinstall".

[2022-08-24 13:32] atalman commented on #6477
Checked the root cause of this issue. Looks like there is an issue on conda side during the package upload.

We have similar issue with Linux today.  When we do:
[code]
Conda installs the CPU version:
[code]

The Linux jobs upload have failed:
<img width="1058" alt="Screen Shot 2022-08-24 at 9 15 41 AM" src="https://user-images.githubusercontent.com/7563158/186431127-c16e5dab-d1dc-4e33-a32c-cbaf6b

[2022-08-24 13:32] atalman commented on #6477
Yesterday windows root cause is:
[code]

[2022-08-24 13:41] atalman commented on #6477
We have similar issue with Linux today, the root cause is different.  When we do:
[code]
Conda installs the CPU version:
[code]

The Linux jobs upload have failed:
<img width="1058" alt="Screen Shot 2022-08-24 at 9 15 41 AM" src="https://user-images.githubusercontent.com/7563158/186431127-c16e5dab-d1dc-4e33-a32c-cbaf6bbc5bb7.png">

Github upload failed:
https://github.com/pytorch/pytorch/runs/7989

[2022-08-24 16:15] YosuaMichael commented on #6323
I have talked with @oke-aditya in slack and he seems interested to add swin3d and I will help to support him on this. cc @datumbox

[2022-08-24 16:18] oke-aditya commented on #6323
Yes. Fortunately I'm well and having good health. So will take dice loss and this. : 😊

[2022-08-24 17:02] YosuaMichael commented on #6323
Thanks a lot @oke-aditya for the help!

[2022-08-25 02:29] giangdip2410 opened #6489 "Issue to load vit_h_14 model with pretrained weights (DEFAULT or IMAGENET1K_SWAG_E2E_V1)"
### 🐛 Describe the bug

I faced the below issue after training vit_h_14 model with pretrained weights. If I do not load pretrained weights, everything is fine.
# how to reproduce this bug
import torchvision
model = torchvision.models.get_model('vit_h_14', weights='DEFAULT')
#or
#model = torchvision.models.get_model('vit_h_14', weights='IMAGENET1K_SWAG_E2E_V1')

Traceback (most recent call last):

[2022-08-25 08:12] datumbox commented on #6489
@giangdip2410 I can't reproduce the problem. The following works fine with me:

[code]

Judging from your error message:
[code]

It seems that the local weights were not downloaded properly or in the right location locally. They typically get stored at your `~/.cache/torch/hub/checkpoints`. Try deleting the existing vit_h_14_* from there to force their redownloading and ensure that the path is acc

[2022-08-25 10:07] pmeier opened #6491 "query image size from bounding boxes or segmentation masks"
Our current implementation of `query_chw` requires an image somewhere in the sample, since that is the only way to extract the number of channels.

https://github.com/pytorch/vision/blob/f9966d228c5b809b0b68671ef168004f1e06d3fe/torchvision/prototype/transforms/_utils.py#L39

However, there are quite a few transformations that only require the image size, i.e. height and width:

https://github.com/

[2022-08-25 10:55] datumbox commented on #6477
@atalman The problem seems to persist. I'm also worried because `cmake_windows_cpu` is also [failing](https://app.circleci.com/pipelines/github/pytorch/vision/19733/workflows/f8f5ad3f-a0e4-49a3-aef4-f2bc758121e8/jobs/1599260) but with a non-zero status and I don't know if that could be related or there is a breaking change on Core that affects it. Any thoughts on how we can fix it?

[2022-08-25 12:40] YosuaMichael opened #6495 "Stereo Depth Perception Transforms"
Currently we are in progress of revamping transforms API for torchvision library. During this revamp, we are considering the components and behavior for new use cases such as detection, segmentation, and video classification. In this document, we just want to raise awareness on several transforms in depth perception that might behave differently from the other use cases.

## Stereo Depth Perceptio

[2022-08-25 13:59] datumbox commented on #6495
Thanks for the overview @YosuaMichael.

It's worth noting that this is a somewhat abstract view of the Stereo Depth Perception case. There are more nuances (float vs integer maps, signed maps etc) but these give a very good picture.

I think this would be a great food for thought and discussion to see how the new Transforms API can adjust to new use-cases that wasn't designed for. @pmeier and @vfd

[2022-08-25 16:09] datumbox opened #6496 "CI job `cmake_windows_cpu` failing"
### 🐛 Describe the bug

Using PyTorch Core 20220824, the job started [failing](https://app.circleci.com/pipelines/github/pytorch/vision/19701/workflows/000c72d7-8b75-4200-90c7-0b1c26c204fa/jobs/1596447) with:
[code]

This is likely due to a change on Core, possibly on the jit side. It was originally masked by another similar issue at #6477 but this one seems unrelated.

### Versions

Latest TorchV