[2022-08-25 17:45] janeyx99 commented on #6496
I'm having trouble figuring out where in the logs the CI fails. Could you give me a pointer? It looks like the build succeeds but something exits with error code 127.

[2022-08-25 18:26] ain-soph commented on #6224
@vfdev-5
Sorry for asking some beginner's questions about object detection... I wonder where shall we use the bbox transformation for object detection.

I thought the image transformation is the same things as image classification task. For example,
https://github.com/pytorch/vision/blob/becaba0e0546f434be64de4e9603ab66e4b160b2/references/detection/presets.py#L7-L57

And for each augmentation on i

[2022-08-25 19:22] oke-aditya opened #6499 "Port SwinTransformer3d from torchmultimodal"
### 🚀 The feature

The main Idea is to port the SwinTransformer3d model from torchmulitmodal to torchvision.

Need to keep in mind the nuances and code structure of torchvision

https://github.com/facebookresearch/multimodal/blob/main/torchmultimodal/modules/encoders/swin_transformer_3d_encoder.py

https://github.com/facebookresearch/multimodal/blob/main/examples/omnivore/LoadOriginalPretrainedWei

[2022-08-26 08:41] datumbox commented on #6496
@janeyx99 here is the relevant part from the build scripts:
https://github.com/pytorch/vision/blob/59ef2ab0ef357d9c4d7d6e72c363901d3cf05382/packaging/build_cmake.sh#L86-L106

We first build the [test_frcnn_tracing](https://github.com/pytorch/vision/blob/59ef2ab0ef357d9c4d7d6e72c363901d3cf05382/test/tracing/frcnn/test_frcnn_tracing.cpp) example project that loads a jit-scripted model and tries to r

[2022-08-26 08:45] datumbox commented on #6224
@ain-soph that's exactly what we need to do. We should have already all the ops excluding perhaps the `*_Only_BBoxes`. Here are examples of the codebase for these implementations:
https://github.com/pytorch/vision/blob/becaba0e0546f434be64de4e9603ab66e4b160b2/torchvision/prototype/transforms/functional/_geometry.py#L259-L268

[2022-08-26 11:33] NicolasHug opened #6506 "Evaluate models accuracy when using inference transforms on Tensors (instead of PIL images)"
The accuracy of our trained models that we currently report come from evaluations run on PIL images. However, our [inference-time transforms](https://github.com/pytorch/vision/blob/main/torchvision/transforms/_presets.py#L38) also support Tensors.

In the wild, our users might be passing Tensors to the pre-trained models (instead of PIL images), so it's worth figuring out whether the accuracy is c

[2022-08-26 11:37] datumbox commented on #6506
@pmeier that's an important point that we need to include in the #6433 PR

[2022-08-26 15:17] NicolasHug commented on #6506
Some partial results below using https://github.com/pytorch/vision/pull/6508. `efficientnet` seems like an outlier but for all the rest, transforming on Tensors led to significantly worse accuracy, unless `antialias=True` is used. Perhaps this warrants a more in-depth analysis, but I wonder if we should change these presets to use `antialias=True` by default? This might even qualify as a bugfix?

[2022-08-26 16:46] datumbox commented on #6506
@NicolasHug thanks for publishing the results this looks very interesting. It's obvious that antialiasing will have a massive effect to users when they start using more the Tensor backend.

@pmeier @vfdev-5 These are the numbers I quoted on our offline chat today. It's worth noting that if we wanted to ensure that the user has control over the antialiasing option on Transforms, we would have to ex

[2022-08-28 18:37] oke-aditya commented on #6499
Just a quick update. I have started working on this, (sadly my technical knowledge needed a bit of refresher (thnx to Java and other tech work)). I have read through the paper of ViT, SwinTransformer. Will go through the video variant over next 2 days, verify the implementation and open a PR.

[2022-08-28 18:37] oke-aditya commented on #6469
May I know the reason for closing this? (it will be good as other people will too benefit if they face the same issue)

[2022-08-29 14:46] atalman commented on #6496
Error code 127 means file or program not found. The error seems to be related with wrong PATH config:
[code]
vs correct one:
[code]

[2022-08-29 16:11] #6496 closed, assigned to atalman

[2022-08-30 10:05] pmeier opened #6515 "prototype datasets tests are failing"
CI failures are unrelated:

[code]

Given that the failures are only happening for imagenet and cub200, my gut says this has something to do with #6076. cc @YosuaMichael @bjuncek @NicolasHug @ejguan @NivekT

_Originally posted by @pmeier in https://github.com/pytorch/vision/issues/6514#issuecomment-1231440002_

[2022-08-30 12:30] vfdev-5 opened #6517 "Fill arg and _apply_grid_transform improvements"
Few years ago we introduced non-const fill value handling in `_apply_grid_transform` using mask approach:

https://github.com/pytorch/vision/blob/0d69e35c4e951109dbaa8b42b0a8416d199aee0b/torchvision/transforms/functional_tensor.py#L550-L568

There are few minor problems with this approach:

1) if we pass `fill = [0.0, ]`, we would expect to have a similar result as `fill=None`. This is not exactly

[2022-08-30 12:45] pmeier commented on #6515
As expected, the problem is resolved with [today's nightly](https://github.com/pytorch/vision/runs/8091700701?check_suite_focus=true#step:5:28): https://github.com/pytorch/vision/runs/8091700701

[2022-08-30 12:45] #6515 closed

[2022-08-30 14:41] NivekT commented on #6515
Thanks @pmeier  for looking into and tracking this!

[2022-08-31 04:33] Art-MC opened #6524 "Vmap causing TypeError when applied to Rotate"
I'm running into an issue trying to vmap over the torchvision rotate function. Rotate() requires an int or float input and does not accept single valued tensors. However vmap requires all batched inputs come as tensors. Additionally, one can't create a helper function that calls rotate(im, angle.item()), as item calls are not allowed in vmap.

There might be a simple solution to this I'm not seein

[2022-08-31 09:49] ashBabu commented on #1046
having exactly the same problem as above

[2022-09-01 08:26] pmeier opened #6529 "Classification references does not work without distributed setup"
If you don't set the respective env vars

https://github.com/pytorch/vision/blob/d5bd8b728f14c33b339fc45c90ca39be339bce3f/references/classification/utils.py#L255-L258

training will not be distributed and in turn the backend will not be initialized. However, during evaluation we check

https://github.com/pytorch/vision/blob/d5bd8b728f14c33b339fc45c90ca39be339bce3f/references/classification/train.p

[2022-09-01 13:33] #6479 closed

[2022-09-01 18:57] silvasean commented on #1712
I still need to use `pillow<7` workaround with:
[code]

Is this supposed to be fixed? I see this issue is closed.

[2022-09-01 20:22] Vargol opened #6533 "make_grid broken with mps device Tensors, whole grid is the 'first' image"
### 🐛 Describe the bug

When calling make_grid on Tensor and List of Tensors where the device in 'mps'  it returns a grid where all the Tensors are the same.

Simple example
create a venv and activate
cd into the venv directory
install the nightlies
pip3 install --pre torch torchvision torchaudio --extra-index-url https://download.pytorch.org/whl/nightly/cpu

unzip the attached zip file, it contai

[2022-09-02 06:29] ain-soph commented on #6224
I've got a helper function to deal with this. Any comment?

[code]

[2022-09-02 16:54] datumbox commented on #6224
@ain-soph So far the kernels process each input independently. Aka they don't receive together `img` and `bounding_box` as inputs, but instead usually contain one of them along with configuration that helps the operation. In this specific example you provide, the bbox seems to operate as configuration rather than input. This is an interesting approach. A few other things to keep in mind about the

[2022-09-02 16:55] thiagocrepaldi commented on #3058
How do you check whether it was the cpu or cuda version? I got this problem specifically for `torchvision.nms` on a docker image (with `FORCE_CUDA=1` env var) with forced cuda support. However, when I tried another torchvision example that also used cuda device but it wasnt using torchviion.nms, it suceedded.

[2022-09-02 16:55] thiagocrepaldi commented on #3058
shouldn't `FORCE_CUDA=1 python setup.py install` suffice?

[2022-09-02 17:34] univanxx commented on #2262
Hello everyone! Based on [this discussion](https://stackoverflow.com/questions/70896841/error-downloading-celeba-dataset-using-torchvision#:~:text=In%20the%20meanwhile%20you%20can%20do%20the%20following%3A), this steps can help you (for me they perfectly worked):

1. Create directory named ```celeba``` and download to it all files from [CelebA google Drive](https://drive.google.com/drive/folders/0

[2022-09-03 09:14] github-actions[bot] opened #6535 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow tests/download.
Please look into it:

https://github.com/pytorch/vision/actions/runs/2983836241

Feel free to close this if this was just a one-off error.

cc @pmeier @YosuaMichael

[2022-09-04 08:21] datumbox commented on #6533
@Vargol Thanks for reporting.

There might be an issue on one of the mps kernels that `make_grid()` uses. Looking at the [code](https://github.com/pytorch/vision/blob/main/torchvision/utils.py#L24) of the method I see the following PyTorch core methods being invoked:
- torch.stack()
- tensor.unsqueeze()
- tensor.new_full()
- tensor.narrow() followed by a tensor.copy_()

Unfortunately I don't have

[2022-09-04 08:39] #6477 closed

[2022-09-04 09:10] Vargol commented on #6533
I've edited the code, but it will be a while before I can test the edit is right, looks like a reference to the zip file split a line in half.

[2022-09-04 09:14] datumbox commented on #6533
@Vargol Could you also clarify if the issue appears with any image or there seems to be something specific about those you picked up from the zip?

[2022-09-04 09:22] Vargol commented on #6533
I'll have to do more testing, but it should be a generic issue, I can't see why those images would be special, apart from being square.
I came across the bug in the mps forks of the stable diffsion scripts that are really popular at the moment, it occurs for every grid image created in those, although some forks have merged a work around of moving the tensors holding the images images to the CPU b

[2022-09-04 09:59] Vargol commented on #6533
Apologies is this comment is a dupe but I'm sure I sent it, but a revisit to the page shows no sign of it.

I've snuck on the M1 Mac Mini I've run a quick test with a couple of non-square random images and the same issue occurs.
Checked with and without alpha  and a mix or png and jpeg and all do the same

[2022-09-04 10:16] vfdev-5 commented on #6524
@Art-MC I think this wont work even if `rotate` could accept a tensor. `rotate` applied on 4d input images (N, C, H, W) would rotate images by the same angle. Currently, it is not possible to rotate them by different angles as we construct a single affine matrix. In theory we could extend the code to make this possible and create N affine matrices.

[2022-09-04 10:39] Vargol commented on #6533
Updated code with an assert

[code]

[2022-09-04 10:40] Vargol commented on #6533
raised
https://github.com/pytorch/pytorch/issues/84523

[2022-09-04 13:25] datumbox commented on #6533
Thanks for raising it at PyTorch Core. I believe the issue is there so I'll close this issue to avoid duplicates. I'll keep an eye on the other issue but if it turns out the problem is on TorchVision's end, feel free to reopen.

[2022-09-04 13:25] #6533 closed

[2022-09-04 17:16] Art-MC commented on #6524
@vfdev-5 I see what you mean. From what I can tell, it looks like it would be possible to enable vmapping once only, as at the end of the day `torch.nn.functional.grid_sample` takes up to a 5D input. This is something that would certainly be useful to me, but I'm not sure how much to others. I think the main item would be expanding `transforms.functional._get_inverse_affine_matrix` which, as you s

[2022-09-04 21:22] vfdev-5 commented on #6524
@Art-MC basically, you would like to "vectorize" the following code:
[code]
![image](https://user-images.githubusercontent.com/2459423/188333909-c3709a19-e6dc-4e43-a3e3-6ca7c47e97a1.png)

With functorch and using vmap approach, there are two issues currently,
1) it is tricky to create a rotation matrix of size (2, 3) using batched angle and without doing inplace ops
2) there is appropriate no batc

[2022-09-05 07:33] #6535 closed

[2022-09-05 13:35] NicolasHug opened #6538 "Add support for CMYK -> RGB in `decode_jpeg()`"
Asking for a CYMK jpeg file to be converted to RGB by `decode_jpeg()` currently results in the following error:

[code]

[code]

This is an important feature to support because the ImageNet dataset has ~20 CMYK images, which means we currently cannot decode ImageNet files with `decode_jpeg()`: we have to rely on PIL.

According to this comment in our code there should be a way to support this:
htt

[2022-09-06 10:42] abhi-glitchhg commented on #608
Similar issue on torchdata repo - https://github.com/pytorch/data/issues/761
Might be good to keep eye on this :)

[2022-09-07 08:16] MoPl90 opened #6543 "Inconsistent use of FrozenBatchNorm in Faster-RCNN?"
Hi,
while customizing and training a Faster-RCNN object detection model based on `torchvision.models.detection.faster_rcnn`, I've noticed that the pre-trained model of type `fasterrcnn_resnet50_fpn_v2` always use `nn.BatchNorm2d` normalization layers, while `fasterrcnn_resnet50_fpn` uses `torchvision.models.ops.misc.FrozenBatchNorm2d` when pretrained weights are loaded. I've noticed deteriorating

[2022-09-07 12:24] datumbox commented on #6543
@MoPl90  Thanks for the question.

The change was intentional. The specific heuristic was previously used to assist with small batch size training. Unfortunately there was a bug on the logic on when the BN should be replaced, see #5443 for details. On V2, we got better results without freezing the BN and using syncBN instead, so we removed the heuristic.

[2022-09-07 12:48] MoPl90 commented on #6543
Thanks for the quick reply. That's interesting, I'll have a closer look then.

[2022-09-07 12:48] #6543 closed

[2022-09-08 09:34] WZMIAOMIAO opened #6545 "add quantized vision transformer model"
### 🚀 The feature

hi, thanks for your great work. I hope to be able to add quantized vit model (for ptq or qat).

### Motivation, pitch

In 'torchvision/models/quantization', there are several quantized model (Eager Mode Quantization) that is very useful for me to learn quantization. In recent years, Transformer model is very popular. I want to learn how to quantized Transformer model, e.g Vision

[2022-09-08 11:18] datumbox commented on #6545
@WZMIAOMIAO Quantizing models used to be a more involved process as Eager Mode Quantization often requires overwriting the class to introduce additional Quant/DeQuant stubs and structuring your code in a way that elements can be easily replaced (using nn modules instead of functional etc). The PyTorch Core team is working on a series of APIs that would make the quantization of models an easier pro

[2022-09-08 13:00] fenneishi opened #6547 "bug in transforms.py"
### 🐛 Describe the bug

### location:
https://github.com/pytorch/vision/blob/112accf95631660d55fc3761e8133f1c4bc6ae89/torchvision/transforms/transforms.py#L631
### fix:

`if h + 1 < th or w + 1 < tw:`  ==>`if h < th or w < tw:`

cc @vfdev-5 @datumbox

[2022-09-08 13:53] datumbox commented on #6547
@fenneishi thanks for reporting.

@vfdev-5 I see this was introduced at #2816. For `h=100, th=101` this will lead to `101<101` which seems wrong. Do you remember if there was a specific reason for adding the +1s or you think it's a bug?

[2022-09-08 14:33] vfdev-5 commented on #6547
Yes, it is a bug. The condition `if h + 1 < th or w + 1 < tw:` was derived wrongly from`torch.randint(0, h - th + 1, size=(1,))` as we need to generate a random int value. `h - th + 1` is the upper non-inclusive boundary.

It should be `h - th + 1 >= 2` -> `h + 1 >= th + 2` -> `h >= th + 1` or `h > th`. We also need to take into account that `h == th`. Thus, obviously correct condition is `if h <

[2022-09-08 16:33] #6547 closed

[2022-09-08 17:39] adv010 commented on #6438
Hi , I figured out the reason why this error came.  I did 2 things wrong :

1. While cloning, i did not specify the branch as I thought just using main would be enough. But upon cloning with branch and then using export Build_version, it works fine.

@MariamAlz Can you try the same and see if it works?

$ git clone --branch v0.13.0 https://github.com/pytorch/vision torchvision
$ cd torchvision/
$

[2022-09-09 00:20] andrewor14 commented on #6545
Hi @datumbox, the FX graph mode quantization API should more or less be finalized at this point, cc'ing @jerryzh168 just to confirm. However, due to recent priority shifts I no longer have the bandwidth to continue this work. I do think it's close to being done and it would be worth it to finish the remaining work. If it is high priority I can check with the team to see if we can prioritize this.

[2022-09-09 01:02] datumbox commented on #6545
@andrewor14 We would definitely like to complete the work, expose the new API to users and build trust on the solution. I appreciate though that your might be limited by the bandwidth. Please do check out with your team and let me know if that's something we could tackle in Q4.

[2022-09-09 04:09] WZMIAOMIAO commented on #6545
@datumbox  well, FX Graph Mode Quantization tool is so convenient. But I find a bug for quantize mobilenetv2.

If set `torch.backends.quantized.engine='qnnpack'`, the acc of quantized mobilenetv2 reduced to 0 after convert_fx model, and evaluation is too slow whether ptq or qat.  Some codes are as follows:
[code]

But if I delete `torch.backends.quantized.engine='qnnpack'`, acc of quantized mobile

[2022-09-09 08:08] fenneishi commented on #6547
thanks

[2022-09-09 08:43] nlgranger opened #6550 "Swapped width and height in DefaultBoxGenerator"
In the DefaultBoxGenerator module, the image sizes in the image_size argument are given as (height, width) by SSD model but the code assumes (width, height).

https://github.com/pytorch/vision/blob/15a9a93b9e0e6173b936691a2cddced0ecfd271f/torchvision/models/detection/anchor_utils.py#L216-L217

I think this has gone unnoticed because the images are usually resized into squares.

cc @datumbox

[2022-09-09 11:14] #6550 closed

[2022-09-09 11:17] datumbox commented on #6545
@andrewor14 Any thoughts on @WZMIAOMIAO above bug report? Should he open an issue on Core to review?

[2022-09-09 14:42] datumbox opened #6553 "RFC: Make prototype `F` jit-scriptable again?"
### 🚀 The feature

The mid-layer kernels `F` of the [new Transforms API](https://github.com/pytorch/vision/blob/main/torchvision/prototype/transforms/functional/__init__.py) are currently not JIT-scriptable because JIT doesn't support Tensor subclassing. This is a major BC-breaking change that potentially could be avoided by refactoring our mid-level kernels.

Here is one way of how this could be

[2022-09-09 14:55] datumbox commented on #6553
I would love the expert opinion from @gmagogsfm, @suo or @eellison who know JIT inside-out to ensure this approach will work and won't lead to some weird behaviour.

[2022-09-09 15:40] vfdev-5 commented on #6224
As it is about auto augment, we may not need to put such op into low-level ops and just code a transform:
[code]
Usage:
[code]

![image](https://user-images.githubusercontent.com/2459423/189388691-3c7609bf-9f33-4665-ba44-e594d8aeed19.png)

[2022-09-09 23:52] datumbox opened #6556 "Jobs `cmake_macos_cpu` and `cmake_windows_gpu` fail on latest main"
### 🐛 Describe the bug

The jobs [`cmake_macos_cpu`](https://app.circleci.com/pipelines/github/pytorch/vision/20024/workflows/9452bd47-707c-4e7f-9017-ce964ad935b9/jobs/1626653) and [`cmake_windows_gpu`](https://app.circleci.com/pipelines/github/pytorch/vision/20024/workflows/9452bd47-707c-4e7f-9017-ce964ad935b9/jobs/1626672) fail on latest main due to dependency issues:
[code]

### Versions

The i

[2022-09-10 06:56] NUS-Tim opened #6557 "Cannot import the latest swin transformer"
### 🐛 Describe the bug

I'm trying to import swin transformer v2 as described below:

[code]

However, the import failed with an error:

[code]

It is weird as I can successfully do this for the swin transformer v1:

[code]

Should anyone has any suggestions, pls let me know. Thanks all in advance!

### Versions

[code]

[2022-09-10 10:23] abhi-glitchhg commented on #6557
Hey @NUS-Tim  , I think to use swin transformer v2, you will have to install a nightly build.

I am pretty sure that 0.13.0 does not have Swin V2 models available, and I also can't find it in the [release](https://github.com/pytorch/vision/releases/tag/v0.13.1) notes for the 0.13.1 version.

To install the nightly version, you can follow the PyTorch [website](https://pytorch.org/), I recommend doi

[2022-09-10 17:29] oke-aditya opened #6558 "Allow Activation Layet of MLP In SwinTransformer to be customizable"
### 🚀 The feature

Currently we do

[code]

But according to original implementation it is

https://github.com/microsoft/Swin-Transformer/blob/afeb877fba1139dfbc186276983af2abb02c2196/models/swin_transformer.py#L197

[code]

### Motivation, pitch

I think it might be better to align with the original implementation by creating extra init param activation_layer and allowing the flexibility.

### Al

[2022-09-11 09:12] github-actions[bot] opened #6559 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow tests/download.
Please look into it:

https://github.com/pytorch/vision/actions/runs/3031219400

Feel free to close this if this was just a one-off error.

cc @pmeier

[2022-09-12 07:48] NUS-Tim commented on #6557
Hi @abhi-glitchhg, sorry for the late reply, I just go back to my lab. I just checked your solution and it works, thanks for your useful and fast reply!

[2022-09-12 07:48] #6557 closed

[2022-09-12 07:59] datumbox commented on #6558
@oke-aditya Thanks for the report. I believe this simplification is intentional.

Research repositories often contain lots of extra configurations used in the ablation experiments. Before adding them to TorchVision, we typically simplify them by keeping those configurations that are relevant for the canonical variants. On the original paper at section 3.1 we can see that the MLP is supposed to hav

[2022-09-12 11:57] pmeier opened #6563 "Build against `libjpeg-turbo` instead of `libjpeg`"
`torchvision` is currently building

https://github.com/pytorch/vision/blob/cac4e228c9ca9e7564cb34406e7ebccfdd736976/setup.py#L321

https://github.com/pytorch/vision/blob/cac4e228c9ca9e7564cb34406e7ebccfdd736976/packaging/torchvision/meta.yaml#L13

and testing against `libjpeg`

https://github.com/pytorch/vision/blob/cac4e228c9ca9e7564cb34406e7ebccfdd736976/.circleci/unittest/linux/scripts/environ

[2022-09-12 12:49] datumbox opened #6564 "Inconsistent use of `handle_legacy_interface()` across model builders"
### 🐛 Describe the bug

We got feedback from some of our downstream frameworks (MMLabs, MobileCV, FastAI, Lightning, etc) that they are not yet ready to pin TorchVision to v0.13 or higher. This means that for compatibility reasons, they are forced to continue using the `pretrained=True` idiom. For the majority of the models, that's OK because we use the `handle_legacy_interface()` decorator to set

[2022-09-12 15:14] #6559 closed

[2022-09-12 15:32] pmeier commented on #6529
Same for segmentation:

https://github.com/pytorch/vision/blob/cac4e228c9ca9e7564cb34406e7ebccfdd736976/references/segmentation/train.py#L84

[2022-09-12 16:43] datumbox commented on #6564
Correct, this would align our approach not only within v0.13 but across all versions. This will also ensure that the downstream libraries can use TorchVision without breakages. I saw you already commented on the PR #6565 that does this.

Correct. The feedback both by internal and external stakeholders was that they didn't want to pin PyTorch (and as a result TorchVision) to the latest version as o

[2022-09-12 17:08] #6564 closed

[2022-09-12 17:45] datumbox commented on #6556
The windows job is fixed on 20220912 but the macos one still [fails](https://app.circleci.com/pipelines/github/pytorch/vision/20058/workflows/ec26e09d-9567-48c8-9bdc-cfb94e151721/jobs/1629705).

[2022-09-12 18:28] datumbox opened #6568 "[prototype] The new Transforms API should support different `fill` values for Segmentation masks than Images"
### 🚀 The feature

While migrating the reference scripts for Segmentation to the latest API, @pmeier noticed that one of the transforms uses a different fill value for Images vs Segmentation masks:
https://github.com/pytorch/vision/blob/d367a01a18a3ae6bee13d8be3b63fd6a581ea46f/references/segmentation/transforms.py#L59-L60

The `255` value is used to encode values that the loss should ignore:
https

[2022-09-12 20:20] MichaelMonashev opened #6570 "Support RGBA for torchvision.io.encode_png()"
### 🚀 The feature

Right now torchvision.io.encode_png() can only encode RGB and GRAYSCALE images. It would be very useful to add alpha channel support for PNG images.

### Motivation, pitch

It is useful for segmentation masks to be displayed, for example, in a web browser.

### Alternatives

Opencv

### Additional context

_No response_

[2022-09-13 09:31] datumbox commented on #6556
[Fixed](https://app.circleci.com/pipelines/github/pytorch/vision/20062/workflows/7e3681ed-08b9-4430-9d00-53dbfbcefd7f/jobs/1631379) on the `1.13.0.dev20220912`. Thanks for the help Andrey!

[2022-09-13 09:31] #6556 closed

[2022-09-13 15:47] datumbox opened #6577 "Job `cmake_*` broken due to dependecy issue"
### 🐛 Describe the bug

The `cmake_windows_cpu` job started [failing](https://app.circleci.com/pipelines/github/pytorch/vision/20092/workflows/3667f674-cf71-4f04-ab6a-044000cacbaa/jobs/1632954) on 20220912 with:
[code]

### Versions

Latest main for TorchVision, PyTorch Core 20220912

cc @seemethere

[2022-09-14 11:26] datumbox commented on #6577
It was fixed by @atalman yesterday but it broke again today. See latest [failure](https://app.circleci.com/pipelines/github/pytorch/vision/20138/workflows/80c9ccb1-2974-485f-a462-eb3ba97b2820/jobs/1637213).

[2022-09-14 14:44] datumbox commented on #6435
@oke-aditya Just wanted to follow up on this. Is this a feature you still intend to build? Thanks!

[2022-09-14 14:45] datumbox commented on #6224
@ain-soph I was hoping you could confirm that Victor's reply unblocked you and you are able to continue the feature. Please let me know if there are more outstanding questions. Thank you!

[2022-09-14 14:45] datumbox commented on #6404
Hi @yassineAlouini. Just wanted to touch base on the implementation. Any blockers or need help?

[2022-09-14 14:50] datumbox commented on #6341
@FateScript I just wanted to follow up and see if you faced any blockers with the implementation. Let me know if we can help or if there is a change of plans. Thanks! :)

[2022-09-14 14:55] oke-aditya commented on #6435
yes once I finish swin transformer 3d over the weekend. Next would be this.

[2022-09-14 15:01] datumbox commented on #6435
That's awesome! I didn't know you were prioritizing Swin 3d. Sounds awesome! No rush!

[2022-09-14 16:10] YosuaMichael commented on #6529
I think this case is implicitly guarded on
https://github.com/pytorch/vision/blob/d5bd8b728f14c33b339fc45c90ca39be339bce3f/references/classification/train.py#L87

since `len(data_loader.dataset) != num_processed_samples` shouldn't be true on non-distributed setting.

Do you get the error during non-distributed training @pmeier ?

[2022-09-14 17:07] YosuaMichael commented on #6428
I think in this particular case, we can do:
[code]

And for the assert message, I think this is a good feedback! I create a PR to patch this: #6583

[2022-09-15 06:29] ain-soph commented on #6224
Yes, I'll open a draft PR this weekend using Victor's format.

Just one question about the hyper-parameters. For example, for the rotate, where shall we set the `degree` parameter? argument in class `__init__` or as forward argument?

[2022-09-15 07:15] vfdev-5 commented on #6224
I think it can same as AA for classification: https://github.com/pytorch/vision/blob/main/torchvision/prototype/transforms/_auto_augment.py

[2022-09-15 08:00] yassineAlouini commented on #6404
Hello @datumbox, thanks for checking. So far, so good. It is taking a bit longer since I only had one day of working on it and it is paused for now but might work during the weekends and nights.

[2022-09-15 08:50] FateScript commented on #6341
Hi @datumbox , I haven't faced any blockers here with the implementation. The only bad news for us is that I transferd to a new work group and my new leader only allow me to share only a half day per week to complete this job. So it might takes me more time than expected.

[2022-09-15 09:18] datumbox commented on #6404
hey @yassineAlouini, sounds good. Thanks for the work. There are absolutely no deadlines on our side; just checking that everything goes smoothly and that you don't have a blocker. Let me know if you need anything :)

[2022-09-15 09:21] datumbox commented on #6341
@FateScript Thanks for the heads up. No worries at all. You are donating your time and we are grateful for this. Just checking that you are not blocked by something or have abandoned it due to circumstances. Slow and steady wins the race; let me know if you need anything.

[2022-09-15 10:41] datumbox opened #6589 "`fasterrcnn_resnet50_fpn` Windows GPU tests failing on CUDA 11.6"
### 🐛 Describe the bug

After the removal of CUDA 11.3 and the setting of 11.6 as default the tests at `fasterrcnn_resnet50_fpn` started [failing](https://app.circleci.com/pipelines/github/pytorch/vision/20144/workflows/7dc88095-fe04-43a7-8c3f-64193a9f2661/jobs/1637810) across all python versions:
[code]

The failure occurs only on Windows. The Linux tests pass fine.

### Versions

TorchVision lat

[2022-09-15 15:50] malfet commented on #6589
Hmm, can it be that nvjpeg from 11.6 returns garbage?

[2022-09-15 16:33] datumbox commented on #6589
@malfet I don't think it is related to nvjpeg. The data loaded to the model are random tensors with fixed seed so there is no IO op in this test. I wonder if something in CUDA 11.6 could be affecting one of the kernels of Core?

[2022-09-15 17:44] ngimel commented on #6589
Can you get a kineto trace of the kernels run during the test with 11.3 and 11.6? Then we can compare them and see what changes. @malfet  the cudnn version is the same for 11.3 and 11.6 builds?

[2022-09-15 19:58] malfet commented on #6589
@ngimel they should be the same, lets see if I can reproduce this failure using nightly builds of torch and vision

[2022-09-15 22:36] malfet commented on #6589
Ok, I did a little bit of digging:
- Same CuDNN version is used between 11.3 and 11.6
[code]

But the test itself is skipped, when running on CUDA-11.3 windows

[2022-09-16 00:05] ngimel commented on #6589
Interesting, so not a regression then?

[2022-09-16 09:16] datumbox commented on #6589
OK, I know this can be confusing but the tests are marked as skipped because we couldn't fully validate their output. If we are able to partially validate the results (due to the unstable sort on postprocessing) instead of marking the test as "SUCCESS" we mark it as "SKIPPED" because part of it couldn't be executed. If any of the less strict tests fail, then we mark is as "FAIL". So the execution

[2022-09-16 10:58] datumbox commented on #5626
This might no longer be relevant if #6584 is successful. Keeping open in case it fails. We can close later.

[2022-09-16 11:24] pmeier commented on #5626
Regardless of #6584, the transforms will not be JIT scriptable. Thus, cleaning them up is still relevant.

[2022-09-16 12:04] datumbox commented on #5626
Good point, it's not about the functional, it's also about the `Transform` classes.

[2022-09-16 14:00] datumbox commented on #6553
@pmeier FYI I tried moving the lengthy if statement in a utility method but JIT doesn't like it. As far as I recall this is the reason we couldn't put the logging into a utility method either and instead we have this ugly method call. It doesn't even like it if I move `torch.jit.is_scripting() or torch.jit.is_tracing()` to a separate `_is_jit()` method.

Perhaps we can find a way to simplify but f

[2022-09-16 15:54] vfdev-5 commented on #6155
@ambujpawar if you check warning summary I think there are still related warnings to be fixed: https://app.circleci.com/pipelines/github/pytorch/vision/20240/workflows/ee5560a9-deb4-4e7b-9af7-9d0488d3e761/jobs/1646058?invite=true#step-108-3024

[2022-09-16 16:17] w238liu opened #6600 "VideoReader could not decode video frames correctly if the video width is not divisible by 8"
### 🐛 Describe the bug

VideoReader could not decode video frames correctly if the video width is not divisible by 8. Specifically, the pixels in the last columns of each frame could not be decoded correctly. Please use the code below and the data available [here](https://drive.google.com/file/d/1WmRmFBo9-c8Y7Ssjo4InzwjsQs5RMxXW/view?usp=sharing) to reproduce the bug.

[code]

Expected behavior:

[2022-09-16 16:23] datumbox commented on #6553
As @vfdev-5 noticed, we probably shouldn't support tracing as many of our transforms are not made to support it. I will thus remove it from the check.

[2022-09-16 16:25] ambujpawar commented on #6155
@vfdev-5 did you mean these?

[code]

I didn't solve those because they were not mentioned in the description of the issue. Shall they be solved in this issue itself? Or shall we create new issue for those?
I'm fine with either as long as I know what to do :)

[2022-09-16 16:42] vfdev-5 commented on #6155
Yes, try to fix them in this PR. Thanks

[2022-09-16 18:18] malfet commented on #6589
Ok, did a bit more digging: 11.3 and 11.6 on Windows produce identical results for regular inference, but slightly different when autocast is enabled:
https://github.com/pytorch/vision/blob/2f32fe82f21017c56ac8c09aa7388d0d87dca574/test/test_models.py#L799-L803

And for CUDA-11.3 `(output[0]["scores"]-expected[0]["scores"]).abs().max() ` is `0.0104`, while for 11.6 it's `0.0195`, i.e. it feels like

[2022-09-17 09:55] datumbox commented on #6589
@malfet Thanks Nikita for checking the output on Windows hardware. Increasing tolerance is a reasonable remedy. I wonder if we should escalate this to the Nvidia colleagues to investigate the underlying issue on the kernels that causes this. There could be an underlying bug affecting mixed precision ops. cc @ptrblck

[2022-09-17 18:05] oke-aditya commented on #6558
Hi @datumbox I went over the SwinTransformer Paper. And I could not find any other place where MLP needs activation other than `nn.GELU`. But I suppose we can allow this flexiblity still.

If you look at the original implementation, it does. Also the huggingface implementation has it has flexiblity too
https://github.com/huggingface/transformers/blob/main/src/transformers/models/swin/modeling_swin

[2022-09-17 18:17] oke-aditya opened #6602 "Add other swin architectures."
### 🚀 The feature

The original paper describes a few more configurations based on swin Transformer.

1. Swin Large: Simply a large model of swin transformer, needs a few config tweaks and we can port weights probably?
3. SwinMLP: MLP Mixer Based SwinTransformer. Described in the original paper.
4. SwinMoe: Mixture of experts for Swin  https://arxiv.org/pdf/2204.09636.pdf

### Motivation, pitch

I

[2022-09-17 23:40] chledowski commented on #191
Just FYI, training a Resnet34 model on CIFAR10 gives much worse performance when done with torchvision's version:
- with torchvision's ResNet34 I am getting up to 89% accuracy on CIFAR10 (trained as in https://github.com/kuangliu/pytorch-cifar)
- by using Kuangliu's version, I am easily getting 93% accuracy.

![image](https://user-images.githubusercontent.com/24462884/190879734-d475f253-6626-4844-

[2022-09-18 01:28] zhiqwang commented on #191
The input image size of CIFAR10 is much smaller than ImageNet, you can prune off one layer of TorchVision's model for CIFAR10 to get similar results of Kuang Liu's results, and seems that's tricks behind Liu's repo.

[2022-09-18 06:12] vedantroy opened #6603 "Read videos from memory"
### 🚀 The feature

I have a lot of small videos (3 million video files), in an attempt to reduce disk bottleneck, I store all the videos in LMDB using: https://lmdb.readthedocs.io/en/release/. I would love the ability to read videos from memory.

### Motivation, pitch

My training (8xA100 GPUs) process is data starved. I'm pretty sure the issue is disk throughput, hence my usage of LMDB. Allowing

[2022-09-18 07:36] chledowski commented on #191
Thanks for the info! You're right, I just read that the first CNN layer in torchvision has kernel of size 7, stride 2, and padding 3, while Kuang Liu uses kernel 3, stride 1 & no padding I think.

[2022-09-18 20:04] oke-aditya opened #6604 "Throw ValueError for wrong reduction in losses"
As discussed in #6457

## The current problem

We do not restrict the reduction mode in losses. There are only three cases possible, ["none", "mean", "sum"]. If the user passes something like "xyz" we are not throwing any error or warning.

## The solution

If users aren't passing one of the valid cases and using a random string instead. It's better to throw a ValueError suggesting them to use one

[2022-09-19 05:42] pmeier commented on #6603
Could you clarify what you mean by "read videos from memory"? Do you want to a dataset that allows you to read data from a LMDB?

If yes, you can have a look at the [LSUN dataset](https://github.com/pytorch/vision/blob/main/torchvision/datasets/lsun.py) that stores images inside multiple LMDBs. There is probably room for optimization, but this should get you started.

[2022-09-19 15:15] mohrez86 opened #6607 "Possible bug in function `decode_jpeg` in module `torchvision/io/image.py`"
### 🐛 Describe the bug

The second argument to the function [decode_jpeg](https://github.com/pytorch/vision/blob/main/torchvision/io/image.py#L127) in the package torchvision.io is of the type [ImageReadMode](https://github.com/pytorch/vision/blob/dbbc5c8e93fbd3b301c7f76d3798d3041ca4bdaa/torchvision/io/image.py#L16), which is an enum.

However, passing `ImageReadMode.GRAY_ALPHA` or `ImageReadMode.

[2022-09-19 23:36] TeodorPoncu opened #6610 "[RFC] U-Net framework"
### 🚀 The feature

A module-based approach of building **U-Nets** inside torchvision, similar to torchmultimodals sub-network approach. Mostly a food for though experiment given the similar nature of other popular vision Architectural Frameworks (namely [DETR](https://arxiv.org/abs/2005.12872), [Deformable-DETR](https://arxiv.org/abs/2010.04159), [Mask2Former](https://arxiv.org/abs/2112.01527) or

[2022-09-20 08:40] NicolasHug commented on #6607
Thanks for the report @mohrez86 . That's not a bug - we don't support transparancy for jpeg encoding/decoding (TIL it can theorically be supported, but I'm not sure this is quite common in general). You might want to switch to PNGs for that.

I agree the doc could be a little clearer on the possible values though - would you like to open a PR for this?

[2022-09-20 08:48] NicolasHug commented on #6604
Looking at https://github.com/pytorch/vision/pull/6457/files, it looks like this is taken care of in the original PR already? Or were you referring to other losses @oke-aditya ?

[2022-09-20 09:41] datumbox commented on #6558
@oke-aditya Thanks for the references.

What are the specific use-cases we are trying to address? In which cases, why do we want different versions of the activation function? I'm asking because quite often, reference implementations make the decision to have a specific part of the model configurable to make it possible to run ablation experiments. While porting models, we usually clip all configu

[2022-09-20 09:50] datumbox commented on #6604
I think @oke-aditya refers to all the other losses. I believe that's a good idea but if the ticket is intended for a new contributor, it's worth listing explicitly all the places were the change needs to happen and a potential idiom we want to adopt. This will help people who are not familiar with our code-base to pick it up.

[2022-09-20 10:44] datumbox commented on #6610
@TeodorPoncu thanks a lot for the comprehensive feature proposal.

Though [previously](https://github.com/pytorch/vision/issues/2707#issuecomment-1194280013) I've expressed some concerns over adding U-Net due to its age, I think some of your arguments for including it are compelling. Let's talk more about this after the work on #6342 is completed. I'm being conscious that our headcount is pretty t

[2022-09-20 10:44] oke-aditya commented on #6604
Yeah I'm referring to all the other losses. I will add further details to help new contributors :smiley:

[2022-09-20 10:47] TeodorPoncu commented on #6610
@datumbox no need to rush it to finish it by the time the internship is done. Happy to keep contributing even afterwards, since I want to add a proposal for Mask2Former as well.

[2022-09-20 10:54] #6155 closed

[2022-09-20 11:02] datumbox commented on #6602
@oke-aditya Thanks for the proposal. Here are some thoughts:

Concerning Large, we would have to reproduce the training of the model. We didn't do it because it would take time and resources but we can definitely do it on the future when we get a bit more bandwidth.

Concerning SwinMLP, I'm a bit unsure how popular this variant is. @YosuaMichael @jdsgomes I was hoping to get your input on whether

[2022-09-20 11:08] datumbox commented on #6577
The `cmake_windows_cpu` was fixed on the 20220919 but unfortunately the `cmake_macos_cpu` [broke](https://app.circleci.com/pipelines/github/pytorch/vision/20345/workflows/389434e1-0159-48ff-a89b-71852044202f/jobs/1654766) now.

@atalman @malfet @seemethere I understand that this issue pops up when the Core nightly releases break. Can we do anything to avoid breaking our CI (perhaps keep the older

[2022-09-20 11:29] #6553 closed

[2022-09-20 12:36] pmeier opened #6613 "`F.crop` behavior diverges between tensor and PIL images"
[code]

[code]

cc @vfdev-5 @datumbox @bjuncek

[2022-09-20 12:37] pmeier commented on #6613
Actually, this is not a prototype issue:

[code]

[code]

[2022-09-20 13:38] Monk5088 opened #6614 "Ability to change the retinanet model to be modified after training"
### 🚀 The feature

After training the retinanet model, we are not able to change the number of classes for the next training session. For example, if the retinanet model is trained on 56 classes, the classifier subnet of Retinanet outputs 56 hot encoded vector, how can we use the same model weights for the next dataset which only has 40 classes of the previous problem?
My issue is similar I traine

[2022-09-20 13:38] vfdev-5 commented on #6613
Seems like a bug in `padding_ltrb`, it may have to be something like :
[code]

[2022-09-20 16:46] datumbox commented on #6614
@Monk5088 there is a similar discussion for FCOS at #5932. You might want to adjust this solution of this comment in your case: https://github.com/pytorch/vision/issues/5932#issuecomment-1147940944

[2022-09-20 17:22] oke-aditya commented on #6558
While this was just an inconsistency I spotted with other implementations, it has opened a lot more questions than expected.

I think ablation study, or ease of modification. This is just a small inconsistency, nothing special as such.

So yes, they do these for model to be configurable and extendable. It maybe because the authors were too trying to figure out things. And I agree that so many bloc

[2022-09-20 17:40] oke-aditya commented on #6604
Well I hope I have edited the issue and explained it in bit more detail. I haven't given away the code of what needs to be done intentionally (as I believe some new contributor should try to figure out and interact with people while fixing)

cc @datumbox

[2022-09-20 18:00] datumbox commented on #6604
@oke-aditya Looks great to me! Thanks for helping us attract more contributors :)

[2022-09-21 01:51] atalman commented on #6577
@datumbox @malfet looks like this issue is related to: https://github.com/pytorch/pytorch/issues/85085
Which related to our nightly failures, here an example:
https://github.com/pytorch/pytorch/actions/runs/3088067813/jobs/4995149208

error during conda upload:
[code]
Hence missing binary makes conda find wrong package or not find package at all as in this case.
I think to mitigate this issue we s

[2022-09-21 01:52] atalman commented on #6577
Bumping priority on this issue, since it required for nightly and CI/CD stability

[2022-09-21 02:47] Monk5088 commented on #6614
Yeah that solution in #5932 looks like it would work but in my case it's a classic Retinanet architecture with Resnet 34 backbone, so i need to remove the normal and constant line in the code, also is there any other modification that i need to to @datumbox.
Here is the link for my implementation of retinanet:
https://github.com/ChristianMarzahl/ObjectDetection/blob/master/object_detection_fastai/

[2022-09-21 04:56] mingfeima opened #6619 "[RFC] torchvision performance optimization on CPU"
### 🚀 The feature

This RFC is targeting at improving performance of operators from torchvision on CPU.

### Motivation, pitch

Generally performance improvements can be made in 3 ways:
* **channels last memory format support**: in torch 1.12, majority of commonly used operators in CV are enabled with channels last support. Enabling channels last support for native kernels in torchvision such as `

[2022-09-21 08:35] NicolasHug commented on #6619
Thanks a lot @mingfeima for this very well-put proposal. The benchmarks look promising!

Looking at the targeted operators, we typically use these in the model training stage on GPUs. Thus I assume that the main use-case for optimizing them on CPU would be for CPU inference? Would you have concrete examples where this is applicable?

As a side note, since we're talking about vectorization: I might

[2022-09-21 08:43] #6613 closed

[2022-09-21 12:33] datumbox opened #6623 "[BC-breaking] Aligning `fill = None` with `fill = 0` on Transforms"
### 🚀 The feature

As discussed at https://github.com/pytorch/vision/issues/6517, passing `None` on `fill` for some transforms doesn't isn't the same as passing `0`. The difference applies on some cases but not others, it was potentially done to avoid JIT issues and has unforeseen effects on the behaviour of the `Transforms`.

Currently on the prototype area:
- All functionals have `fill=None` as

[2022-09-21 13:39] NicolasHug commented on #6623
Trying to understand this more, is the problem that:

- `fill` has different defaults across APIs?
- `fill=0` is different from `fill=None`?
- both?

If we were to have `fill` with the same default across APIs, would we still have a problem?

[2022-09-21 15:50] vfdev-5 commented on #6623
-> answer is both

3rd alternative is: to try to put fill=0 in functional ops and make fill=0 behave as fill=None.

Checking the codebase history, I have an impression is that default fill 0 or None has its root from PIL API:

Fill argument exists for pad, affine, rotate and others affine-like functional ops.

1) For PIL input pad invokes ImageOps.expand with fill which can't have None value -> th

[2022-09-21 16:42] datumbox commented on #6623
@vfdev-5 Thanks for the comprehensive reply. Do you think I should add the alternative as a 3rd option? Or perhaps I could just edit the "proposal" to suggest that we should be using `0` as defaults and just handle `None` similarly? My understanding is that the 2 proposals are similar and it's a matter of which default value we choose to expose (I agree that `0` is probably better).

[2022-09-22 08:51] NicolasHug commented on #6623
Thanks for the details @vfdev-5 .

I'm looking at https://github.com/pytorch/vision/issues/6517 but I can't pin-point exactly what the difference is. Would you have more details? Is it that the "filling" simply doesn't happen when `fill=None`, or is it something more subtle than that?

[2022-09-22 09:18] vfdev-5 commented on #6623
Yeah, this issue description may be unclear. The problem arises when we call `_apply_grid_transform` with mode="bilinear" + 1) fill=None and 2) fill=0. Two outputs wont match. I assume that outputs should match because for me fill=None and fill=0 is the same configuration. Also, by the way outputs are matching if mode="nearest" + similar configs for fill.

Why results are not matching for bilinear

[2022-09-22 11:05] datumbox opened #6628 "CI jobs `binary_linux_wheel_*_cu117` broken due to libcublas.so.11 dependency"
### 🐛 Describe the bug

Multiple CI jobs of TorchVision are currently [failing](https://app.circleci.com/pipelines/github/pytorch/vision/20449/workflows/e62f0f9c-8ffb-48f0-bdd5-84d2881bb4a4/jobs/1663603) with:
[code]

The issue seems to be mainly with CUDA 11.7

### Versions

Latest torchvision main, PyTorch Core `20220922`

cc @seemethere

[2022-09-22 11:57] datumbox commented on #6577
The problem was fixed again yesterday by @atalman but broke again today. See:
- https://app.circleci.com/pipelines/github/pytorch/vision/20449/workflows/af45d07b-293f-4d16-83c8-9ebbc8998d60/jobs/1663608
- https://app.circleci.com/pipelines/github/pytorch/vision/20449/workflows/af45d07b-293f-4d16-83c8-9ebbc8998d60/jobs/1663584

[2022-09-22 20:25] vfdev-5 commented on #6619
@NicolasHug FYI, interpolation is already vectorized for 2d case by mingfeima : https://github.com/pytorch/pytorch/blob/bd854588fb927371c319d24d31b659731eddc3bc/aten/src/ATen/native/cpu/UpSampleKernel.cpp#L442-L602

However, we can benefit from the vectorization (according to the current implementation) only for inputs with >=4 channels (@mingfeima please correct me if I'm wrong):

https://github.

[2022-09-23 03:25] mingfeima commented on #6619
@NicolasHug First of all, yes our priority is inference. And the most requested model from our customers are `MaskedRCNN` and its variants. So from this point of view, the key bottleneck operator would be `RoiAlign` forward path.

Anyway we would centainly like to hear more inputs from you guys, what other models/operators might be interested, so as to sort out the priorities among the TODOs.

Mea

[2022-09-23 08:16] vfdev-5 commented on #6619
@mingfeima thanks for your answer about resize. Maybe we can continue discussion in another issue related to interpolation. There are few of them, e.g. https://github.com/pytorch/vision/issues/6465 (image is read in 3d HWC format but once unsqueezed it was not recognized as 1HWC channel last and thus resize is going as channels first fallback, very slow)

As for NCHW, I agree with what you say. In

[2022-09-23 15:00] #6607 closed

[2022-09-23 16:30] datumbox commented on #6577
Today the following is failing: https://app.circleci.com/pipelines/github/pytorch/vision/20545/workflows/59f0125b-d7f1-4e30-962b-c2fbbd59086a/jobs/1671677

[2022-09-23 16:36] datumbox opened #6639 "`binary_macos_conda_py3.7_cpu` and `binary_macos_conda_py3.8_cpu` fail with `install_name_tool` errors"
### 🐛 Describe the bug

The CI jobs [binary_macos_conda_py3.7_cpu](https://app.circleci.com/pipelines/github/pytorch/vision/20545/workflows/6aa25106-add8-44aa-be2a-c33e04939dcb/jobs/1671662) and [binary_macos_conda_py3.8_cpu](https://app.circleci.com/pipelines/github/pytorch/vision/20545/workflows/6aa25106-add8-44aa-be2a-c33e04939dcb/jobs/1671685) fail on latest main branch:
[code]

### Versions

[2022-09-23 18:04] oke-aditya commented on #6602
Can we add the `swin_l` model configs and model without the weights? Or is it now a convention to first fully reproduce the model and then add it?

[2022-09-23 19:06] datumbox commented on #6602
For a very long time, we allowed models without weights. In the last release @YosuaMichael trained the last remaining variants. Models with no weights used to create issues to various CI jobs or users who tried to initialize them by name, so often we would find snippets of code where users were trying to exclude them from the lists. That was more true back when the `pretrained=True` idiom was used

[2022-09-25 18:47] chrisyxue opened #6643 "Cannot Download PCAM dataset for val split"
### 🐛 Describe the bug

[code]

The error is like:

`RuntimeError: The MD5 checksum of the download file /localscratch2/xuezhiyu/datasets/pcam/camelyonpatch_level_2_split_valid_x.h5.gz does not match the one on record.Please delete the file and try again. If the issue persists, please report this to torchvision at https://github.com/pytorch/vision/issues.
`
### Versions

Collecting environment inf

[2022-09-26 07:19] pmeier commented on #6643
The checksums for the `"val"` and `"test"` split are swapped:

[code]

https://github.com/pytorch/vision/blob/7046e56fe4370e94339b3e8b6fd011e285294a3a/torchvision/datasets/pcam.py#L43-L66

The same is true for the checksums provided by the author.

[2022-09-26 07:24] pmeier commented on #6643
See basveeling/pcam#4.

[2022-09-26 07:56] pmeier opened #6645 "Allow "nearest-exact" interpolation mode?"
Currently the following interpolation modes are allowed

https://github.com/pytorch/vision/blob/7046e56fe4370e94339b3e8b6fd011e285294a3a/torchvision/transforms/functional.py#L21-L32

Since `torch==1.11.0` (pytorch/pytorch#64501 of @vfdev-5 to be exact), `torch.nn.functional` also supports `mode="nearest-exact"`:

Given that we are aligning more with PIL and `"nearest"` is described as "bugger", ca

[2022-09-26 09:05] #6643 closed

[2022-09-26 13:24] YosuaMichael commented on #6603
cc @jdsgomes

[2022-09-26 14:48] ambujpawar commented on #6428
It seems like the issue is resolved. Shall we close this then?

[2022-09-26 15:12] vfdev-5 commented on #6568
Done in https://github.com/pytorch/vision/pull/6599 and https://github.com/pytorch/vision/pull/6586

[2022-09-26 15:12] #6568 closed

[2022-09-26 15:53] malfet commented on #6577
I think one simple solution is to relax the requirement on TorchVision side to always have nightly corresponding to the day CI is running, but use older ones if necessary (But say throw an error if nightly is older than 2 weeks)

[2022-09-26 16:21] datumbox commented on #6577
@malfet It's a tricky tradeoff. I think we might need the expertise of RelEng and Core devs on this choice.

99% of problems recorded in these series of issues is because some web request fails and can't download dependencies. It typically happens to 1 or 2 binaries at the time, with the rest working fine. So on our current situation, only a fraction of binaries from core are expected to fail. So,

[2022-09-26 17:27] syed-ahmed commented on #6628
@atalman I believe this is now fixed.

[2022-09-26 18:15] malfet commented on #6628
Indeed fixed by https://github.com/pytorch/pytorch/commit/e227e3ec4897d2ce04de705423afefa028d82b34, closing

[2022-09-26 18:15] #6628 closed

[2022-09-26 19:15] datumbox commented on #4903
Thanks for the ping! Apologies for the lack of responses.

I want to be transparent on what's holding back the decisions around this. We are currently a bit swamped with the release, on going projects etc and we haven't had the opportunity to look into the Keypoint side of things. For example, though Transforms V2 is built to support Detection and Segmentation models, there are no current plans to

[2022-09-26 19:54] oke-aditya commented on #4903
Yeah it's a bit tight. And please don't say sorry 😐

Multiple projects like, transforms, datasets with datapipes, newer models, batteries included phase 1/2/3, multi weight support, newer Operators, adding new tasks like optical flow, stereo.

The torchvision team is really working so hard. Just that this is a bit lower on priority but will get back to it soon!

[2022-09-26 20:38] atalman commented on #6577
@datumbox The regression regarding the job retry should be fixed by https://github.com/pytorch/pytorch/pull/85545

[2022-09-26 21:43] datumbox commented on #6577
@atalman indeed it looks like it. Thanks a lot for the patch. Shall we close this issue and if it reoccurs reopen?

[2022-09-26 23:41] shivaang12 commented on #4903
Thank you for the response. I completely understand. I would happy to help in future if you work on it. Also want to appreciate all the good work you folks are putting in the repository.

Thanks again!!

[2022-09-27 12:16] zjykzj commented on #3995
Hi @tbennun , follow your recipe, i tried to reappear the result. Download the latest pytorch/vision code and do it like below:

[code]

The only modified is the way to loading resnet50

[code]

[code]

The result is not very ideal, even worse than the original training.

[code]

I'm not sure if I need to load the trained resnet50. This result is a reference for everyone.

[code]

[2022-09-27 12:58] #6390 closed

[2022-09-27 13:26] jdsgomes commented on #6603
Hi @vedantroy thank you for the feature request. I am actually planning to add this functionality to our VideoReader. I will keep you posted with progress but the ETA is about 2 weeks.

[2022-09-27 15:46] adityagandhamal commented on #6604
I can work on this. Would you please assign me the task?

[2022-09-27 15:50] oke-aditya commented on #6604
@adityagandhamal
 feel free to send PR and ping me as a reviewer. I can review.

[2022-09-27 16:43] atalman opened #6655 "fasterrcnn_resnet50_fpn Linux GPU tests failing on CUDA 11.6"
### 🐛 Describe the bug

Similar to: https://github.com/pytorch/vision/issues/6589

After the removal of CUDA 10.2 and the setting of 11.6 as default the tests at `fasterrcnn_resnet50_fpn` started [failing](https://app.circleci.com/pipelines/github/pytorch/vision/20644/workflows/95f54863-15d6-43ac-8c12-306c9c7ecd7d/jobs/1679689/steps) for python 3.8:

[code]

This failure occurs on Linux

### Versi

[2022-09-27 16:47] malfet commented on #6655
Does applying the same tolerance increase fixes the issue?

[2022-09-27 16:53] adityagandhamal commented on #6604
I recently started using PyTorch and was browsing about, looking for anything to contribute to, and fortunately, I came upon this!

[2022-09-27 17:02] atalman commented on #6655
No looks like it does not I added this commit to my PR: https://github.com/pytorch/vision/pull/6649/commits/4aaee0b56376440bb56ecd3efe25b60595a241a5

[2022-09-27 17:26] oke-aditya commented on #6602
So I gave little bit thought of how we should handle when we can't add pretrained weights. Below are few points.

1. The model size will keep growing

Well if you see how far we have come from alexNet in 10 years. Probably models are gonna grow in GBs than in MBs.
So, someday or the other we are gonna hit the zenith, when we actually need to add big models, either with weights or without.

2. Swin

[2022-09-27 17:56] nikky4D opened #6656 "link system ffmpeg to torchvision. Don't install ffmpeg that comes with torchvision"
### 🐛 Describe the bug

I want to install (via conda) torchvision without installing the ffmpeg that comes with it. I already have a hardware accelerated ffmpeg build on my computer and would like to keep using it. can you give me some idea on how I can do this with torchvision?

What I tried:
I tried to build from source but that requires pytorch nightly which clashes with other libraries that de

[2022-09-27 22:33] brando90 commented on #215
what is an example of what the target transform should be for a classification problem?

[2022-09-28 05:47] pmeier commented on #6656
I'll leave the FFMPEG issue up to our video folks, but you could simply

[code]

and build that from source. That is the version compatible with `torch==1.12.1`.

[2022-09-28 10:22] yossibiton opened #6659 "ImportError: cannot import name 'PILLOW_VERSION' from 'PIL'"
### 🐛 Describe the bug

Importing torchvision fails. I used the following install command :
`conda install pytorch torchvision torchaudio cudatoolkit=10.2 -c pytorch
`

My Pillow version is 9.2.0.

### Versions

Collecting environment information...
PyTorch version: 1.12.1
Is debug build: False
CUDA used to build PyTorch: 10.2
ROCM used to build PyTorch: N/A

OS: Ubuntu 20.04.4 LTS (x86_64)
GCC ve

[2022-09-28 10:28] yossibiton commented on #6659
This is solved when installing torchvision==0.13.0, but i don't know why this version wasn't chosen automatically

[2022-09-28 10:28] #6659 closed

[2022-09-28 10:32] datumbox commented on #6655
Sometimes it's OK to increase tolerance if we know the source of the variance. In other times when the differences are massive, they can be indication that there is a bug upstream. It would be great to get input from our Nvidia partners on whether they can pin point the change that causes this and then decide what's the course of action (fixing the upstream issue? turning off the flaky test? re-es

[2022-09-28 10:53] datumbox commented on #6604
@adityagandhamal Welcome! I've assigned the ticket to you, looking forward to your PR!

[2022-09-28 13:12] #6257 closed

[2022-09-28 14:35] adityagandhamal commented on #6604
Yes. I've finished making the necessary changes to the code and am now working on the tests. Will send the PR soon.

[2022-09-28 15:22] pmeier opened #6662 "compatibility layer between stable datasets and prototype transforms?"
The original plan was to roll out the datasets and transforms revamp at the same time since they somewhat depend on each other. However, it is becoming more and more likely that the prototype transforms will be finished sooner. Thus, we need some compatibility layer in the meantime. This issue explains how transforms are currently used with the datasets, what will or will not work without a compat

[2022-09-28 15:53] NicolasHug commented on #6662
Thanks for the issue Philip. What is the timeline here? Do we we expect the V2 transforms to be out of prototype by 0.14? Because if not, there's a chance that (at least some) new datasets will be ready by 0.15. If we're sure we'll move the transforms away from `prototype` before the datasets, then we should also be thinking about

a) what will users need to do when the new datasets become availab

[2022-09-28 16:28] bjuncek commented on #6656
Hi @nikky4D and thanks for your question.
First and foremost, I'm not sure why there would be FFMPEG built when you build your `torchvision` from conda (on official channels; `conda-forge` version may include FFMPEG).

If you want to have the code build against your own FFMPEG, you'd have to compile TV from source, and make sure your FFMPEG installation is discoverable by TV (see `setup.py`, usual

[2022-09-28 19:23] Quintulius opened #6664 "Add a function to remove degenerate boxes"
### 🚀 The feature

This function would filter boxes where x2 <= x1 or y2 <= y1

### Motivation, pitch

Degenerate boxes are filtered in at least two places in the current torchvision code:

* https://github.com/pytorch/vision/blob/f725901dde5bc996fe3d4e163f4d4e7d53720146/torchvision/prototype/transforms/_augment.py
* https://github.com/pytorch/vision/blob/96dbada4d588cabbd24ab1eee57cd261c9b93d20/r

[2022-09-28 20:00] adityagandhamal commented on #6604
While running a test on `test_giou_loss` specifically, I am running into an error `AttributeError: module 'torchvision.ops' has no attribute 'generalized_box_iou_loss'`

Quite strange to have encountered such an error given the loss function exists in the module

[2022-09-28 21:19] datumbox commented on #6604
This sounds weird. It seems like if TorchVision is not properly installed. I would start by a fresh conda environment and follow this [guide](https://github.com/pytorch/vision/blob/main/CONTRIBUTING.md#development-installation). Let me know if you continue facing problems.

[2022-09-28 21:54] datumbox commented on #6664
@Quintulius We are currently working on our Transforms V2 API and have two transforms you can use are: [ClampBoundingBoxes](https://github.com/pytorch/vision/blob/main/torchvision/prototype/transforms/_meta.py#L63) and [RemoveSmallBoundingBoxes](https://github.com/pytorch/vision/blob/main/torchvision/prototype/transforms/_misc.py#L152). The first ensures that x1<=x2, y1<=y2 and the other one can r

[2022-09-28 21:54] #6664 closed

[2022-09-29 05:12] adityagandhamal commented on #6604
Yes, I've been following the same guide but nonetheless, I'll go for it again.
But before I give another run at this, I'd like you to know that I did come across an error after running `python setup.py develop`. It was regarding Microsoft Visual C++ Build Tools. It kept on returning the same error even after installing the necessary package.

And pardon me if this sounds naive but one has to clone

[2022-09-29 07:19] oke-aditya commented on #6604
Can you send detailed log of the same? Sorry I can't help much as I use linux only.

Yeah you need to clone the fork. The guide might be written to build from source and not to contribute.

[2022-09-29 07:21] pmeier commented on #6662
I think 0.14 is unlikely given that it is right around the corner, so my guess is 0.15. But I'll let @datumbox comment on that. And indeed, if we roll out together, this discussion is moot.

_My points below assume that the users actually want to use the features of transforms V2. As explained in my top comment, they are BC and so users don't have to use the proposed compatibility layer if they ju

[2022-09-29 08:09] datumbox commented on #6662
I can confirm that there is no plan releasing Transforms V2 in 4 weeks. We are pretty much in active development and benchmarking. The API will remain in prototype and we can explore a path to release in Q1. Some parts of the API such as the functional could be released first as they are now fully-BC & JIT-scriptable but the classes aren't, so we need to be very careful on how we roll them out.

[2022-09-29 08:41] datumbox commented on #6662
I think the option that @pmeier mentions is viable. Whether or not we will implement it will require a lot of discussion because ideally we would like the new Datasets and Transforms to be rolled out together. So any move that doesn't do that, will hinter the adoption of the solutions and in my eyes is more of a nuclear option.

One alternative workaround for unleashing the power of Transforms if

[2022-09-29 09:05] pmeier commented on #6662
This was my first thought as well but thinking about it more this was more complicated than wrapping the dataset:

1. To be able to convenient interface for the users, they need to be able to get the right wrapper transform without manually specifying how the sample needs to be wrapped. Without this, more complicated datasets like COCO will be a pain for users to configure. Have a look at #6663 an

[2022-09-29 09:06] adityagandhamal commented on #6604
Okay, after spending some time on StackOverflow and rebooting the system, now it seems everything is good to go.
`Finished processing dependencies for torchvision==0.14.0a0+30b879f`

@oke-aditya @datumbox
I'll make the edits, run the tests, and ping you if needed.
Thank you

[2022-09-29 11:17] ambujpawar commented on #6037
This seems to be in interesting.
Is this still valid? Can I pick this up?
cc @pmeier

[2022-09-29 11:24] pmeier commented on #6037
Thanks for the interest in this @ambujpawar. Quoting myself from above:

Unfortunately, we haven't reached a stable design yet. Transforms are about 80-90% done and there is #6433 to integrate them into our references. However, for datasets we are not yet ready to put them into an end-to-end tests like our references. Thus, going for this now is probably wasted time.

If you are still interested,

[2022-09-29 11:26] adityagandhamal commented on #6604
Just to test whether torchvision is installed properly, I tried importing it only to get a windows popup error
![Screenshot (854)](https://user-images.githubusercontent.com/61016383/193019425-a79d7556-0d4e-4b77-aecc-afb29ceab3f4.png)

I can't figure this out

[2022-09-29 13:28] oke-aditya commented on #6604
Actually you are doing quite a difficult thing. Building on windows. Much harder. WSL2 can help you though to make it easier.

Have you run

`python setup.py develop` ?

[2022-09-29 13:30] oke-aditya commented on #6604
Also I believe we should have a step by step guide for windows @datumbox most of us don't probably use windows and it's a pain point for new developers to setup.

For Linux it's very very straightforward and hardly takes an hour.

[2022-09-29 18:33] adityagandhamal commented on #6604
Yes, I have. It ran without giving any error and returned `Finished processing dependencies for torchvision==0.14.0a0+30b879f`

[2022-09-29 18:40] adityagandhamal commented on #6604
Yes, I agree that developing on WSL is always a better option.

On WSL as well, should the same steps be followed (according to the guide) as before?

[2022-09-29 18:53] pmeier opened #6668 "Use correct annotations for prototype kernels?"
Currently, we have a lot of functionals that annotate a parameter with `List[int]`

https://github.com/pytorch/vision/blob/ae83c9fdb6e8e0dc92facc0a763a3dd424df78de/torchvision/prototype/transforms/functional/_geometry.py#L106-L108

This annotation is wrong and the function actually handles `Union[int, Tuple[int], Tuple[int, int], List[int]]`, i.e. integers as well as tuples and lists of one or two

[2022-09-30 04:33] oke-aditya commented on #6604
Yeah WSL you can just install Ubuntu and follow the steps mentioned for Linux.
It will have gcc compiler and hence your half job will be done.

On WSL I believe you will need

1. Install miniconda
2. Create env and install Python
3. Install pytorch nightly. For now cpuonly would suffice.
4. clone torchvision. Follow the contribution guide

Basically 4 is

[code]

[2022-09-30 08:32] #6094 closed

[2022-09-30 09:57] jdsgomes commented on #6602
sorry I missed this earlier. I Haven't heard of internal use cases for the SwinMLP.

[2022-09-30 11:52] pmeier opened #6669 "inplace operations on `features._Feature`'s keeps the wrapping in tact"
Going by the logic of

https://github.com/pytorch/vision/blob/7f4c55b1dac2418c594267c314afa5353b35608f/torchvision/prototype/features/_feature.py#L74-L81

that should not be happening.

[code]

cc @bjuncek

[2022-09-30 12:03] pmeier opened #6670 "Not all prototype kernels support arbitrary batch sizes"
There are currently five image kernels that don't support arbitrary batch sizes:

- perspective
  https://github.com/pytorch/vision/blob/7f4c55b1dac2418c594267c314afa5353b35608f/test/prototype_transforms_kernel_infos.py#L906-L907
  https://github.com/pytorch/vision/blob/7f4c55b1dac2418c594267c314afa5353b35608f/test/prototype_transforms_kernel_infos.py#L930-L931
- elastic
  https://github.com/pytor

[2022-09-30 15:05] #6669 closed

[2022-09-30 19:49] adityagandhamal commented on #6604
WSL2 is great @oke-aditya! torchvision has successfully set up. No absurd errors so far.
Thank you

[2022-10-01 17:49] oke-aditya opened #6673 "Request For New Gallery Examples"
### 📚 The doc issue

This is an issue where end users can request for new gallery examples and tutorials.

New Examples needed.

- [ ] Add example for Video Action Recognition using 3d models such as mvit.

Note that this would involve community contributions and contributions from OSS community are welcome. The core maintainers might be busy and unable to add as per their workload.

### Suggest a

[2022-10-01 18:09] oke-aditya commented on #6604
One of the nice things about good first issues is that it helps to understand what the difficulty a new contributor may face.

It's quite ok and in fact expected that a new contributor will need help in getting started and setting up. So nothing wrong about seeking help.

Keep going @adityagandhamal (btw our first name is the same :smiley:)

[2022-10-01 20:56] arturandre opened #6674 "The name folder in the compacted file '2021_train.tar.tgz' (inaturalist 2021 train) is 'train'"
### 🐛 Describe the bug

When trying to use the iNaturalist 2021_train version the program crashes (after downloading) with the message:

`Unable to find downloaded files at ...`

The md5sum from the downloaded file **2021_train.tar.tgz** is correct, but the name of the extracted folder is **train**.

Checking the code at [this](https://github.com/pytorch/vision/blob/d7d90f56117ce0955332846a5f90b8d

[2022-10-01 21:33] medric49 commented on #5790
@Nuno-Mota
I have the same issue, but this time with FasterRCNN.
Have you found a solution, please?

[2022-10-01 21:47] adityagandhamal commented on #6604
@oke-aditya @datumbox
I have sent the PR, open to suggestions

[2022-10-02 20:56] jiannanWang opened #6676 "torchvision.transforms.Normalize has large absolute difference"
### 🐛 Describe the bug

By definition, `torchvision.transforms.Normalize` should produce the same results if all input, std, and mean are divided or multiplied by the same number. When I test the API with the following input, I get the absolute difference up to 24978131.5 and the relative difference up to 3.5765e-08 for the float64 data type. Is this kind of difference expected? What's the thresho

[2022-10-02 22:00] Mrrrat opened #6677 "Initializing nn.Linear weight with zeros. 🤨"
https://github.com/pytorch/vision/blob/d7d90f56117ce0955332846a5f90b8d1346c4c09/torchvision/models/vision_transformer.py#L265

[2022-10-02 23:21] #6677 closed

[2022-10-03 09:30] NicolasHug opened #6679 "Example gallery renderring issue"
@oke-aditya shared this issue with me offline (Thanks!!)

 Our example gallery currently renders like this on [`stable`/`0.13`](https://pytorch.org/vision/stable/auto_examples/index.html) and `main` :

![image](https://user-images.githubusercontent.com/1190450/193544441-82fb9cae-5b53-493d-8882-25fa3bc3fd88.png)

------

It should render like this, as in [`0.12`](https://pytorch.org/vision/0.12/aut

[2022-10-03 09:31] pmeier commented on #6676
Your values for `mean` are well past the point where `float64` can even differentiate between consecutive integers. My guess is that you are simply running into the limits what the `dtype` can represent, which in turn results in these subtle changes.

What is your use case for using these larges values for `mean`?

[2022-10-03 15:13] jiannanWang commented on #6676
Thanks for the response! We are doing fuzzing testing for extreme cases. Since this subtle difference is kind of expected, I would like to close this issue.

[2022-10-03 15:13] #6676 closed

[2022-10-03 17:19] themurtazanazir opened #6683 ""reflect" padding used in Gaussian Blur Transform throws error on smaller images"
### 🐛 Describe the bug

Because of the set `reflect` mode in `torch_pad`, the `GaussianBlur` throws exception for smaller images.

[code]

We should either have a parameter to set the padding mode or 'reflect' should not be used when image size is smaller than kernel size.

Thanks.

### Versions

PyTorch version: 1.12.1+cu102
Is debug build: False
CUDA used to build PyTorch: 10.2
ROCM used to buil

[2022-10-04 01:26] YosuaMichael opened #6686 "[v0.14] Release Tracker"
We cut a [release branch](https://github.com/pytorch/vision/tree/release/0.14) for the 0.14 release. (common commit with main is https://github.com/pytorch/vision/commit/07ae61bf9c21ddd1d5f65d326aa9636849b383ca)

This issue is for tracking cherry-picks to the release branch.
The POCs for the TorchVision team are @YosuaMichael and @datumbox

Cherry-Pick Criteria
Phase 1 (until 12/10/22):

Only low-

[2022-10-04 03:41] Sophia-66666 opened #6688 "please create swin-block in torchvision"
### 🚀 The feature

Now there is a swin transformer(b,s,t) in torchvision, but I hope to have a swin-block to help me quickly build a network such as swinUnet.

### Motivation, pitch

I'm working on swin transformer, and noticed the excellent performance of swin transformer, now there is a swin transformer in torchvision, but I hope to have a swin-block to help me quickly build a network.

### Alte

[2022-10-04 07:45] #6688 closed

[2022-10-04 08:42] pmeier opened #6689 "Documentation of 0.13.1 is shown as development version"
- `main`
  ![main](https://user-images.githubusercontent.com/6849766/193773988-e5fc6cbe-b355-4c64-9592-cd71e321781c.png)
- `v0.13`
  ![v0 13](https://user-images.githubusercontent.com/6849766/193774085-8f51a0f9-5cbd-456d-9b27-61044b335f42.png)
- `v0.12`
![v0 12](https://user-images.githubusercontent.com/6849766/193774094-7280af19-484f-456e-9d2e-74ff3852eaf8.png)

However, the commit shown is corre

[2022-10-04 08:53] NicolasHug commented on #6689
Thanks Philip for the report. I did it for 0.13 (https://github.com/pytorch/vision/pull/6211) but I didn't realize we also needed for every single version.

It's just a quick `sed`, but we can also just allow it considering 0.14 is coming soon

[2022-10-04 08:55] pmeier commented on #6689
Do you mean to wait for 0.14 and fix them at the same time or just not fix this issue at all?

[2022-10-04 09:26] pmeier commented on #6679
This regression was introduced by `sphinx-gallery=0.11.0`. @mthrok beat us to report it in sphinx-gallery/sphinx-gallery#990. Following the advice there, it seems that we have to fix some CSS styling on our side and install `sphinx-gallery=0.11.1`. The latter part we do automatically since we have an open ended pin

https://github.com/pytorch/vision/blob/344ccc05b2ebf643af319b6f648128e18807c892/do

[2022-10-04 09:50] NicolasHug commented on #6689
I was thinking of just not fixing it (I'm lazy). But I'll review and approve a fix PR, if one comes up :)

[2022-10-04 09:54] NicolasHug commented on #6679
Thanks a lot for investigating @pmeier

This seems to be the fix on audio side: https://github.com/pytorch/audio/pull/2629/files
Some of it was removed later in https://github.com/pytorch/audio/pull/2638/files

I guess we can just use this:

https://github.com/mthrok/audio/blob/8a0d7b36f7821fe55175f0d4e3ca6299b3817a6c/docs/source/_static/css/custom.css#L18-L25

And also pin to 11.1?

[2022-10-04 09:58] YosuaMichael commented on #6689
Thanks @pmeier for raising this up!
I will take a look at this and see what I can do. Probably I will do something similar to @NicolasHug PR: https://github.com/pytorch/vision/pull/6211.

[2022-10-04 10:00] pmeier commented on #6679
I'll send a PR

[2022-10-04 10:04] NicolasHug commented on #6679
The previous link I wrote was from Moto's fork. Looks like there's another css rule on the actual pytorch/audio repo (I updated the link above).

[2022-10-04 10:16] YosuaMichael opened #6692 "Keeping track of possible issues and PR for release v0.14"
## Release Process

- [ ] Create release branch `release/0.14`
- [ ] Create release tracker issue: https://github.com/pytorch/vision/issues/6686
- [ ] Remove prototypes from release branch: https://github.com/pytorch/vision/pull/6687
- [ ] Clean up live documentations
- [ ] Bump the versions on the main branch
- [ ] Provide release branch to the release engineer and make sure to change dependency

[2022-10-04 10:24] ElHouas commented on #2556
Hi @oke-aditya ,

Regarding the last PR about draw_bounding_boxes, I noticed that you don't enforce the same color per class.
Currently, I am trying to plot bboxes with multiple classes and I am not able to achieve one color per class with the current function.
Is something I am missing and you are already enforcing this condition?

Thanks for your time

[2022-10-04 10:36] datumbox commented on #2556
@ElHouas Thanks for the question. I replied here https://github.com/pytorch/vision/pull/5127#issuecomment-1266746345

[2022-10-04 10:57] datumbox opened #6693 "RuntimeError: No such operator image::read_file"
### 🐛 Describe the bug

The CI job `unittest_windows_gpu_py3.8 ` stared [failing](https://app.circleci.com/pipelines/github/pytorch/vision/20801/workflows/4d1e30ae-114c-4ead-8c6a-5c3ab14311c3/jobs/1691931/steps) with:
[code]

It seems like the kernel is not registered properly. Might be related to a change on Core.

### Versions

The issue started appearing on `torch-1.13.0.dev20221004 py3.8_cuda1

[2022-10-04 11:23] #6655 closed

[2022-10-04 13:04] Simcs opened #6696 "VideoClips.subset() does not reflect output_format of the original VideoClips"
### 🐛 Describe the bug

When new ```VideoClips``` is created using ```VideoClips.subset()``` function, ```output_format``` of the original ```VideoClips``` is not taken into account.

Because of this, passing ```output_format="TCHW"``` argument to ```torchvision.datasets.hmdb51.HMDB51``` does not work.
It seems that ```HMDB51``` creates ```full_video_clips``` and ```video_clips``` for each ```fold

[2022-10-04 13:11] Simcs commented on #6696
Currently, I am bypassing this issue by hardcoding ```video_clips.output_format = "TCHW"```.

For example,
[code]
Output:
[code]

[2022-10-04 13:46] pmeier opened #6697 "add support for multiple dtypes in prototype ToDtype"
Right now, the transform takes a single dtype and one or multiple types to apply the dtype to:

https://github.com/pytorch/vision/blob/b482d896f448cc44fdadb030391ac12723a81546/torchvision/prototype/transforms/_misc.py#L143-L144

In case one needs multiple different dtypes, you need to use multiple transforms, e.g.

[code]

Not only has this runtime implications since we need to recurse three times

[2022-10-04 14:34] carandraug opened #6698 "New datasets for human pose estimation"
### 🚀 The feature

We propose to add the following datasets for human pose estimation to torchvision:

* https://www.robots.ox.ac.uk/~vgg/data/pose/
* https://www.robots.ox.ac.uk/~vgg/data/pose_evaluation/
* https://www.robots.ox.ac.uk/~vgg/data/tv_human_interactions/

### Motivation, pitch

These are some of our most downloaded datasets and we're trying to make them more useful by providing DataL

[2022-10-04 15:44] javierbg opened #6699 "Implement ability to toggle inplace activation operations in the implemented architectures"
### 🚀 The feature

A lot of the available architectures like AlexNet, EfficientNet, ResNet, DenseNet, etc. are implemented with inplace activation operations, e.g.:
[code]
This is done in the name of saving memory (#807)

This could be toggled using a parameter for the model-building functions.

### Motivation, pitch

Often, this presents a problem when trying to register register full backward ho

[2022-10-04 16:07] YosuaMichael commented on #6696
Thanks for the report @Simcs , I confirm that this is indeed a bug. I will create a PR to fix this.

[2022-10-04 16:50] atalman commented on #6693
This issue is caused by inclusion of cudart dll in windows torch/lib folder. The builder change #1157 is in place to resolve this issue

[2022-10-04 17:44] carandraug commented on #6698
To make it clear, I'm proposing to do this work (and I've actually already started). The question here is if there's interested on the torchvision side to include it (and if that comes with any conditions).

[2022-10-04 18:05] #6679 closed

[2022-10-04 18:11] pmeier commented on #6686
Link to landed master PR (if applicable): #6694

Link to release branch PR: #6701

Criteria Category: Documentation improvements

[2022-10-04 18:42] weiwangmeta commented on #6693
https://github.com/pytorch/builder/pull/1157 :)

[2022-10-04 20:12] jdsgomes commented on #6686
Link to landed master PR: https://github.com/pytorch/vision/pull/6672

Link to release branch PR: https://github.com/pytorch/vision/pull/6703

Criteria Category: Bugfix

[2022-10-05 08:26] datumbox commented on #6699
@javierbg Thanks for the feedback. We plan to review how configurable are our model constructors on the future (cc @YosuaMichael), so this is good feedback.

As you correctly said, in-place operators might be a bit faster but can lead to weird results when combined with Eager Quantization or shortcut connections. We have been avoiding adding in-place ops in newer models, except in positions where

[2022-10-05 11:38] javierbg commented on #6699
@datumbox Thank you very much for your reply. For sure, what you suggested works flawlessly in my testing, so that's a way better solution than mine. I'm kinda embarrassed that it didn't occur to me before, sometimes I forget about the flexibility of PyTorch!

I'm glad to be of help, so just let me know if you need some work on this once you decide on how to approach model configuration.

[2022-10-05 13:02] YosuaMichael commented on #6686
Link to landed master PR: #6700

Link to release branch PR: #6706

Criteria Category: Bugfix

[2022-10-05 13:41] nidjan opened #6707 "I cannot build vision from source because problem with ninja"
i cannot build aur python-torchvision-rocm in manjaro because

Emitting ninja build file /var/tmp/pamac-build-chameleon/python-torchvision-rocm/src/vision-0.13.1/build/temp.linux-x86_64-3.10/build.ninja...
Compiling objects...
Allowing ninja to set a default number of workers... (overridable by setting the environment variable MAX_JOBS=N)
...
[2/32] **bin/hipcc**  -DWITH_HIP ...
/bin/sh: строка 1:

[2022-10-05 16:24] datumbox opened #6711 "[POC] Potential ways for making Transforms V2 classes JIT-scriptable"
### 🚀 The feature

**Note: This is an exploratory proof-of-concept to discuss potential workarounds for offering limited support of JIT in our Transforms V2 Classes. I am NOT advocating for following this approach. I'm hoping we can kick off the discussion for other alternative and simpler approaches.**

Currently the Transforms V2 classes are not JIT-scriptable. This breaks BC and will make the r

[2022-10-05 19:12] #6604 closed

[2022-10-05 20:12] #6639 closed

[2022-10-05 20:13] #6577 closed

[2022-10-06 08:14] YosuaMichael commented on #6696
I believe I have fixed for this issue with #6700 (will be in torchvision v0.14) and I will close the issue for now.

[2022-10-06 08:14] #6696 closed

[2022-10-06 09:07] nidjan commented on #6707
YEHOO!
ROCM_HOME is lost

[code]

[2022-10-06 09:08] datumbox commented on #6699
@javierbg No worries at all. PyTorch is massive and has lots of ways to do the same thing. I'll leave this issue open to ensure we review the feedback when we revise the configuration. We'll definitely ping you to provide some help if you are up for it when we kick off the work. In the mean time, have a look on the [issues](https://github.com/pytorch/vision/labels/help%20wanted) to see if there is

[2022-10-06 16:48] atalman commented on #6686
Link to landed master PR (if applicable):
* https://github.com/pytorch/vision/pull/6715

Link to release branch PR:
* https://github.com/pytorch/vision/pull/6716

Criteria Category:
* CI fix

[2022-10-06 22:27] pmeier commented on #6670
The situation is a little more nuanced:

- All kernel from above except `adjust_sharpness` don't support 5d+ inputs or a 4d inputs with a degenerate batch dimension, i.e. `(0, C, H, W)`
- `adjust_sharpness` also doesn't support 5d+ inputs, but does support 4d inputs with a degenerate batch dimension iff the input only has a single channel, i.e. `(0, 1, H, W)`. In addition, if the shortcut

  https

[2022-10-06 22:32] pmeier commented on #6670
#6667 adds xfails for these cases.

[2022-10-07 08:25] ambujpawar commented on #6323
I see that [Mixup for Detection](https://arxiv.org/pdf/1902.04103v1.pdf) [[1](https://github.com/Megvii-BaseDetection/YOLOX/blob/a5f629a6d28fcc3742ce9483698b3376ce457533/yolox/data/datasets/mosaicdetection.py#L162-L234), [2](https://github.com/open-mmlab/mmdetection/blob/1376e77e6ecbaad609f6003725158de24ed42e84/mmdet/datasets/pipelines/transforms.py#L2347)] is still available.
Can I pick it up?

[2022-10-07 09:26] datumbox commented on #6323
@ambujpawar It is! Would you be happy to give a try of the new Transforms API (it's at `torchvision.prototype.transforms`) or you prefer to stick with hacking together an implementation based on what we have on the references of classification?

[2022-10-07 10:34] ambujpawar commented on #6323
I dont have a preference for now. But I think the new transforms API would be nicer right?
So, I think I would go with that one

[2022-10-07 10:36] datumbox commented on #6323
Sounds great! Could you create an issue or a dummy PR so that we can assign it to you and keep track of this item easier?

[2022-10-07 12:18] ambujpawar opened #6720 "New Feature: Mixup Transform for Object Detection"
### 🚀 The feature

Follow up to #6323

Add a new transform: Mixup to the transforms in torchvision
For reference: [Mixup for Detection](https://arxiv.org/pdf/1902.04103v1.pdf) [[1](https://github.com/Megvii-BaseDetection/YOLOX/blob/a5f629a6d28fcc3742ce9483698b3376ce457533/yolox/data/datasets/mosaicdetection.py#L162-L234), [2](https://github.com/open-mmlab/mmdetection/blob/1376e77e6ecbaad609f600372

[2022-10-07 16:02] dquadro commented on #1699
Hi, i'm using a COCO Dataset and have the same problem.

[2022-10-09 10:05] XiandongWang opened #6725 "torchvision.ops.nms doesn't work on npu"
### 🐛 Describe the bug

[code]
[code]

### Versions

[code]

[2022-10-10 06:52] vsuryamurthy commented on #6257
Hello Nicolas, Is there a release date planned for 0.14 already?

[2022-10-10 07:39] #6725 closed

[2022-10-10 07:58] pmeier opened #6727 "Unify datasets cache path from references with regular PyTorch cache?"
In the `classification` and `video_classification` references, we cache here:

- https://github.com/pytorch/vision/blob/6e203b44098c3371689f56abc17b7c02bd51a261/references/classification/train.py#L108
- https://github.com/pytorch/vision/blob/6e203b44098c3371689f56abc17b7c02bd51a261/references/video_classification/train.py#L124

However, this directory is not used by PyTorch core. Instead, `~/.cach

[2022-10-10 08:08] pmeier opened #6728 "not all prototype transforms are serializable"
This is important for two reasons:

1. If we stick to `torchdata` for datasets v2, every object on the datapipe graph has to be serializable for multiprocessing. IIRC, this is only a requirement if forking from the main process is not possible, but that is the case on Windows.
2. Our classification references have the ability to cache the dataset which includes the transformations:

https://github

[2022-10-10 08:28] pmeier commented on #6727
@YosuaMichael if we won't support caching in the future, feel free to close this issue.

[2022-10-10 09:17] #6670 closed

[2022-10-10 09:46] datumbox opened #6731 "Add support for Video on MixUp and CutMix"
### 🚀 The feature

MixUp and CutMix don't currently support Videos. We might want to rethink how we combine the batch to avoid mixing frames from the same video. [Here](https://github.com/facebookresearch/pytorchvideo/blob/a5cc0c8a3e1c3f8c963b75e0bd5409650ad7616a/pytorchvideo/transforms/mix.py#L78) is a potential workaround.

cc @vfdev-5 @bjuncek @pmeier

[2022-10-10 10:17] lijoe123 opened #6732 "I want to use the pip install -e . to install the torchvision v0.13.0, but it fil"
### 🐛 Describe the bug

My torch is 1.12.0, I want to install the torchvision v0.13.0 in jetpack 5.0.2, following the code

[code]
but it occur this problem
[code]
Could you please tell me how to fix it?
Thank you!!!!

### Versions

[code]

[2022-10-10 10:22] NicolasHug commented on #6732
Hi @lijoe123 , for pip you'll need to use the  `--no-build-isolation` flag

[2022-10-10 10:22] #6732 closed

[2022-10-10 13:09] datumbox opened #6734 "Failed to find `nvToolsExt` on Windows CMake"
### 🐛 Describe the bug

The CI job `cmake_windows_gpu` [fails](https://app.circleci.com/pipelines/github/pytorch/vision/20997/workflows/e172d38e-b4a3-4a97-a22c-36cf091a5edf/jobs/1706647) with:
[code]

### Versions

latest main

cc @seemethere

[2022-10-10 13:56] #6731 closed

[2022-10-10 15:48] YosuaMichael commented on #6727
@datumbox In the case of VideoClipping, we indeed cache the dataset because we pre-compute all the non-sampled clips start and end. However, seems like this cache concept is not just for video dataset but rather for general dataset (for classification too).

[2022-10-11 04:49] Javacr commented on #5439
@rgkannan676, @SorourMo The main reason is that you used find_package(CUDA) instead of enable_language(CUDA). They are different, [enable_language command](https://cmake.org/cmake/help/latest/command/enable_language.html). If you get error by using `enable_language`, you can refer to [stackoverflow](https://stackoverflow.com/questions/56636714/cuda-compile-problems-on-windows-cmake-error-no-cuda-t

[2022-10-11 08:37] datumbox opened #6737 "[prototype] Should we make `prototype.transforms._utilis.py` public?"
### 🚀 The feature

A large number of utility methods such as `query_bounding_box`, `has_any`, `has_all` etc are being used regularly by our new Transform Classes but are not exposed publicly to the users. We should discuss which of them we want to expose publicly, to assist Transform authoring on the new API.

### Motivation, pitch

While users start developing transforms using the new API, they w

[2022-10-11 11:52] datumbox opened #6740 "M1 unit-tests fail on main branch"
### 🐛 Describe the bug

The M1 unit-tests are [failing](https://github.com/pytorch/vision/actions/runs/3226180661/jobs/5279391082) on latest main branch. It looks like dependency issues:
[code]

### Versions

Latest main branch

cc @seemethere

[2022-10-11 15:50] datumbox commented on #6740
Fixed by @atalman by rerunning the nightly for M1. Closing.

[2022-10-11 15:50] #6740 closed

[2022-10-11 15:53] bjuncek commented on #6698
Hi @pmeier , do you have input on these?

Usually, the requirements for datasets are number of citations and papers used, combined with the most recent usage (vaguely).
Having said this, I believe we might be pausing the implementation until we get the prototype datasets are ready to replace the current implementations?

Some of these (namely VOC) are a staple, but they are also quite old...

[2022-10-11 16:48] atalman commented on #6686
Link to landed master PR (if applicable):
* https://github.com/pytorch/vision/pull/6742

Link to release branch PR:
* https://github.com/pytorch/vision/pull/6743

Criteria Category:
*  Critical CI fix

[2022-10-12 06:07] pmeier commented on #6698
Correct. Unfortunately, datasets v2 takes longer than we anticipated. It makes little sense to implement wrappers for these datasets now just to supersede them in the near future.

Still, our original plan was to support quite a few more datasets than we had before. Since we currently don't have any datasets for human pose estimation, we could start with these. cc @NicolasHug

@carandraug is it ok

[2022-10-12 08:26] pmeier commented on #6737
Maybe I haven't expressed it before, but I was always in favor of having these public just for the reason you described: without them, we are making it harder for users to write custom transforms. That will hinder adoption and that is the last thing I want.

[2022-10-12 09:25] pmeier opened #6750 "allow `closeness_kwargs` to be set more specifically"
In our prototype transforms tests, we have the ability to set `closeness_kwargs`

https://github.com/pytorch/vision/blob/11a2eeda8fb127a7ad72b4c98ca918b93055c1e7/test/prototype_common_utils.py#L637-L638

that will be passed to `assert_close` in addition to the values to be compared:

https://github.com/pytorch/vision/blob/11a2eeda8fb127a7ad72b4c98ca918b93055c1e7/test/test_prototype_transforms_func

[2022-10-12 09:35] datumbox commented on #6662
Good call out for the `bounding_box_wrapper` use-case. Thanks for raising this. Isn't this counter example a deal breaker? I mean, one can definitely provide a `sample_wrapper` and individual `*_wrapper` for each type but what's the benefit of doing this versus just writing their own transform? The whole idea was to provide something fast and easy for them to reduce the amount of code they have to

[2022-10-12 09:41] datumbox commented on #6737
@pmeier I agree with your points. There are numerous methods we use for our standard transform authoring that start with `_` while others dont. I think some of them are marked with `_` incorrectly.

Can you bring a PR that removes the `_` from the methods you favour to make public? We won't make them public now (they are in a private module and not exposed) but it will become clearer what's the pr

[2022-10-12 09:44] pmeier commented on #6737
Just to understand you correctly: an prefixed `_` should mean "this should not be exposed" while everything else will be either exposed or is a candidate for which we need to decide later?

[2022-10-12 09:51] datumbox commented on #6737
Correct. One example I had in mind is the `_isinstance` utility method that is probably extremely useful to expose. I'm sure the `_` here was put to avoid the conflict with the builtin method (so we need a better name), but looking at the `_utilis.py` I don't see a clear proposal to what could be public and what is definitely private. This is probably low-priority now as we first want to get feedb

[2022-10-12 11:31] carandraug commented on #6698
Yes, that is fine. I

*  TV Human Interactions Dataset
  * [dataset webpage](https://www.robots.ox.ac.uk/~vgg/data/tv_human_interactions/)
  * [paper introducing dataset](http://www.bmva.org/bmvc/2010/conference/paper50/index.html)
  * Number of citations (according to Google Scholar): 215

* Human Pose Evaluator dataset (this is actually two datasets in one):
  * [dataset webpage](https://www.rob

[2022-10-12 11:43] datumbox commented on #6698
One additional thing to keep in mind while discussing Pose estimation is that our Transforms V2 don't currently offer support for Keypoints. This is something we should factor in while prioritizing work.

[2022-10-12 11:59] DaBihy opened #6752 "There is a problem in torchvision.datasets.Kinetics"
### 🐛 Describe the bug

I’m trying to use [torchvision.datasets.Kinetics](https://pytorch.org/vision/main/generated/torchvision.datasets.Kinetics.html) but I’m getting this Assertion Error.

This is the initialization of the dataset
[code]
This is error I get:
[code]
Thank you.

### Versions

pytorch                   1.11.0
torchvision               0.12.0
python                    3.10.4

cc @pm

[2022-10-12 12:05] pmeier commented on #6698
There is #5326 that I could revisit. https://github.com/pytorch/vision/pull/5326#issuecomment-1031596468 states

We do have support for this now, but I think priorities have changed in the mean time.

[2022-10-12 12:08] datumbox opened #6753 "[FEEDBACK] Transforms V2 API"
### 🚀 The feature

This issue is dedicated for collecting community feedback on the Transforms V2 API. Please review the dedicated [blogpost](https://pytorch.org/blog/extending-torchvisions-transforms-to-object-detection-segmentation-and-video-tasks/)  where we describe the API in detail and provide an overview of its features.

We would love to get your thoughts, comments and input in order to im

[2022-10-12 12:20] pmeier commented on #6752
That seems more related to the

https://github.com/pytorch/vision/blob/7d36d263a8356fac0bb363617b0c57c3bac6f89f/torchvision/datasets/video_utils.py#L73

object than the dataset itself. @YosuaMichael / @jdsgomes / @bjuncek could one of you have a look?

[2022-10-12 21:44] yupbank commented on #4378
same ^

[2022-10-13 08:10] pmeier opened #6760 "Avoid multiple pytree flattenings inside the prototype transforms"
By design, our transforms v2 can handle arbitrary input structures. Internally, we are using `torch.utils._pytree` for it.

## Status quo

The simplest transforms flatten / unflatten only once:

https://github.com/pytorch/vision/blob/54a2d4e8f7a4568823532d4342f6ba13e7339dce/torchvision/prototype/transforms/_transform.py#L37-L42

However, albeit hidden, most transforms flatten at least twice if not

[2022-10-13 08:33] satpalsr opened #6761 "AttributeError: module 'torchvision.models' has no attribute 'get_model'"
### 🐛 Describe the bug

[Reproduce with Colab](https://colab.research.google.com/drive/1pgLynchGmyuRkW1ru5cnixgWoU_gFVNE?usp=sharing)

I am trying to execute [RetinaNet training](https://github.com/pytorch/vision/tree/main/references/detection#retinanet) with
[code]
 but get's an `AttributeError: module 'torchvision.models' has no attribute 'get_model'`

Complete trace:
[code]

### Versions

[code

[2022-10-13 08:43] pmeier commented on #6563
#6746 increased the inactivity timeout for the CI from 10 to 30 minutes. If that is acceptable in general now, we might get away with 2. above.

[2022-10-13 08:45] NicolasHug commented on #6761
Hi @satpalsr
`get_model()` is only available in the dev branch (`main`) and in the nightly release of torchvision. It will be released in the upcoming release in a few week. Mind you though, it's still marked as Beta right now, so backward compatibility isn't guaranteed.

[2022-10-13 08:52] satpalsr commented on #6761
I cloned the repo and did `python setup.py install` for installation.

[2022-10-13 08:54] NicolasHug commented on #6761
Yes, installing from source should make `get_model()` available

[2022-10-13 08:59] NicolasHug commented on #6761
Looking at your logs, the source build is failing. You'll also need to install the nightly version of torch core (check out our instructions in the readme). But your best bet is to install the nightly version of torchvision instead of building from source

[2022-10-13 09:13] datumbox commented on #6760
I'm agree with the proposal. Note that I have previously advocated against introducing more "protected" methods in the API, especially because it was actively developed. But given the simplicity of the refactoring and the fact it eliminates unnecessary calls, I'm OK to proceed with this. IMO anything that will eliminate unnecessary CPU cycles and doesn't change the public interface, is worth consi

[2022-10-13 09:20] pmeier commented on #6760
I've run some benchmarks:

[code]

[code]

- If the estimation is correct, adopting this can shave roughly 40 minutes from the classification training
- The reduction for objection detection is less significant. However, due to the more complex sample structure, flattening the sample once is roughly 3x slower than an classification sample. Since the datasets v2 will in general return more rather t

[2022-10-13 11:45] #6697 closed

[2022-10-13 12:20] pmeier commented on #6760
We can achieve even less overhead if we find a protocol for a container transform to properly communicate to its children whether the input is already flattened or not. For example, a `transforms.Compose` could flatten initially, let all children do their magic on the flattened sample without trying to flatten again, and only unflatten after all children had their turn.

This can work if the sampl

[2022-10-13 12:55] pmeier commented on #6760
I think the most convenient would be to communicate this through the type:

[code]

[2022-10-13 13:00] vfdev-5 commented on #6760
Maybe, we can also see `FlatInputs` as a placeholder for flat_inputs and spec as attributes. This way FlatInputs wont be just a dummy class with a name to distinguish.

[2022-10-13 13:05] pmeier commented on #6760
You mean like

[code]

?

[2022-10-13 13:12] vfdev-5 commented on #6760
[code]

[2022-10-13 14:49] HaithemH opened #6764 "AttributeError: module 'torchvision.transforms' has no attribute 'AugMix'"
### 🐛 Describe the bug

AttributeError: module 'torchvision.transforms' has no attribute 'AugMix'

### Versions

AttributeError: module 'torchvision.transforms' has no attribute 'AugMix'

[2022-10-13 15:45] pmeier commented on #6760
Found an issue with the `Compose` proposal: we can only do this if every single child is able to handle flattened inputs. This works for all our builtin transforms, but what if someone uses children like

https://github.com/pytorch/vision/blob/dc5fd831ed9f4a0c58a194853ffa9cce6c240026/test/test_prototype_transforms.py#L1199

Passing a flattened input to the `lambda` will fail.

In general, I don't

[2022-10-13 15:59] datumbox commented on #6764
Please check the version of TorchVision that you are using. Chances are you are using an older version. I'm closing this issue as it doesn't contain sufficient information for us to investigate the problem. I recommend if the issue persists to open a new one with all the required info. Thanks!

[2022-10-13 15:59] #6764 closed

[2022-10-13 19:02] Mohit-robo opened #6766 "Local Grayscale Patch Replacement for Data Augmentation"
### 🚀 The feature

Motivation: https://arxiv.org/ftp/arxiv/papers/2101/2101.08783.pdf

As proposed in the above-linked paper, this PR is for `Local Grayscale Patch Replacement`.
This transformation technique was initially proposed for `person reidentification`.
This transformation technique creates a `grayscale patch of size: mentioned area and aspect ratio`, as shown in the image below.

This tec

[2022-10-13 19:06] Lodour commented on #5088
Hi @datumbox, I want to kindly bring your attention to an inconvenient use case in the adversarial ML community.

A common use case there (as far as I know) is to compute the gradient wrt the input with two expectations:
1. The input has the model's desired input shape, e.g., 224*224.
2. The input is normalized to [0, 1].

For example, with the old API, I can do the following:

[code]

In the exam

[2022-10-13 21:38] YosuaMichael commented on #6752
@DaBihy I tried to build the same kinetics test dataset and iterate some samples, but I can't reproduce the error.

Do you know which exact video that cause the problem? This would help us to check more detail and try to reproduce the error.

[2022-10-14 06:36] mauvilsa commented on #2025
Hello. I would like to add type annotations to file torchvision/transforms/transforms.py. The reason is not just for static type checking. The goal is to make `torchvision.transforms.Compose` work with [pytorch-lightning's LightningCLI](https://pytorch-lightning.readthedocs.io/en/1.6.0/common/lightning_cli.html) which makes classes automatically configurable by inspecting its signature at run time

[2022-10-14 07:27] pmeier commented on #2025
`List` no, `Callable` yes. Unfortunately, `torchscript` only supports a [very limited subset of types](https://pytorch.org/docs/stable/jit_language_reference.html#supported-type).

We are currently in the process of revamping the transforms. With this, we are likely to drop JIT scriptability for the transform classes (although there are options to retain it #6711). Thus, there is no reason to keep

[2022-10-14 07:49] datumbox opened #6768 "[prototype] Add temporal Jittering and Permute transforms and kernels"
### 🚀 The feature

Though the sampling of the temporal dimension can be handled efficiently on the VideoClipper (work done by @YosuaMichael), some users still want to perform jittering on the temporal dimension as part of the transforms. This can be achieved by uniformly sampling the indeces of the available samples and selecting the appropriate frames.

Similarly we need an easy transform for per

[2022-10-14 08:01] #6760 closed

[2022-10-14 08:06] datumbox commented on #6766
Thanks @Mohit-robo for the proposal.

We are always on the look out for implementing new promising techniques. I had a look on the paper and though the implementation of the Transform seems straight forward (thanks for the references, I agree that it would share commonalities with RandomErasing), the paper has only 1 citation (perhaps it's too new). I would recommend to give it a bit more time to

[2022-10-14 08:19] pmeier opened #6769 "Only flatten a pytree once per container transform"
_This issue is ablation from #6760. https://github.com/pytorch/vision/issues/6760#issuecomment-1277522535 was deemed good at first, but there were unexpected issues https://github.com/pytorch/vision/issues/6760#issuecomment-1277822471 that made this proposal more controversial._

---

When implementing augmentation pipelines, the individual transformations are usually wrapped in a container transf

[2022-10-14 09:06] DaBihy commented on #6752
@YosuaMichael This is some of the videos that cause the error. they work just fine when I play them on a media player.
yaoNwz99xM_000062_000072.mp4
3caPS4FHFF8_000036_000046.mp4
0wR5jVB-WPk_000417_000427.mp4
3yaoNwz99xM_000062_000072.mp4
0wR5jVB-WPk_000417_000427.mp4
Thank you.

[2022-10-14 12:24] YosuaMichael commented on #6752
Thanks for sharing the video @DaBihy , I confirm I can reproduce the same error on those video with torchvision 0.12.0.
When I run the same script on latest torchvision 0.13.0, the error gone, so I guess this probably has been fixed.

@DaBihy I suggest you to update the torchvision version and see if that fix the issue.
I think this should fix the issue so I will close this, but if you still get t

[2022-10-14 12:24] #6752 closed

[2022-10-14 14:04] Mohit-robo commented on #6766
Thanks for the PR review, makes sense to me what you think, this works completely for me. Will surely have a look at Transforms API.

[2022-10-15 08:38] datumbox commented on #5088
@Lodour thanks a lot for the feedback, I appreciate the time you took to report it. This is an interesting use-case. I would like to explore with you if the new API is the right solution for you or if we need a different solution.

The new API aims to address the followings:
- Provide an easy way to communicate which inference transforms where used with each set of weights.
- The transforms are me

[2022-10-15 14:57] frgfm commented on #2025
On this topic, should we add / update the TODO list in the issue description? Or open another perhaps? I can easily this GH issue sticking around forever otherwise :)

[2022-10-15 15:08] DaBihy commented on #6752
@YosuaMichael  Thank you for the rapid answer. the latest version does not have the bug.
On the other hand ```torchvision.datasets.Kinetics``` doesn't have a function to resize audio which causes the following error ```RuntimeError: stack expects each tensor to be equal size, but got [2, 31744] at entry 0 and [2, 32149] at entry 1```. It's normal to have such an error because ```default_collate```

[2022-10-15 17:25] Javacr commented on #5439
@SorourMo Congratulations！

[2022-10-16 02:28] Lodour commented on #5088
@datumbox Thanks for your response!

I agree with you that hacking into this private API is not the right option. Although I really like the new API because of the benefits you have listed; previously I had to figure out those numbers from the docs and hardcode them in every project, especially the mean and std for normalization.

Then I guess this leads to where I am itching for -- I want to impl

[2022-10-16 23:36] MotorCityCobra opened #6779 "How do you put a LibTorch (C++) torch::nn::Module on the CUDA device?"
### 🐛 Describe the bug

I get an error when I try to put a `torch::nn::Module` on the CUDA device. How do I put the model on the CUDA device?

[code]

I have tried putting it on the CUDA device like so
`auto critic = Critic_Net();`
`critic->to(device);`

This causes `/home/iii/tor/m_gym/multiv_normal.cpp:190:1: error: ‘critic’ does not name a type
  190 | critic->to(device);
      | ^~~~~~`

I hav

[2022-10-17 02:22] mingfeima commented on #6619
@NicolasHug @vfdev-5 Oh sorry for the late response, super busy recently, just got time to take a look at this last weekend ...

I opened https://github.com/pytorch/pytorch/pull/87053 to address `mode=bilinear (3, H, W) on float`, shall we move the discussion ?

[2022-10-17 05:43] pmeier commented on #6752
We won't given that this is out of scope for a vision library that we are. If you need the audio for something, you should have a look at [`torchaudio`](https://github.com/pytorch/audio) that specializes in these things.

That is what we also do:

https://github.com/pytorch/vision/blob/f467349ce0d41c23695538add22f6fec5a30ece4/references/video_classification/train.py#L129-L132

(`d[1]` is the audio

[2022-10-17 05:51] pmeier commented on #2025
@frgfm Yes, it would be a good idea to get a better summary of what needs to be done and what is already finished. Core team is swamped at the moment so we won't be making progress on that soon. If you are willing, could you post a comment like I did in https://github.com/pytorch/vision/issues/2025#issuecomment-606421677 (probably finer grained) and link open PRs. I freely admit that I have no ide

[2022-10-17 08:06] NicolasHug commented on #6619
Thanks @mingfeima , I'll take a look

I just want to note that this part has been addressed in https://github.com/pytorch/pytorch/pull/86361, so there's no need to focus on it anymore

[2022-10-17 08:30] zhiqwang commented on #6619
Hopefully there will be support for uint8 type input and an accelerated version of it for `interpolate()` as mentioned in https://github.com/pytorch/pytorch/pull/86361#issuecomment-1269822386 and https://github.com/pytorch/pytorch/issues/5580 .

[2022-10-17 09:17] mingfeima commented on #6619
sum up the status a little bit:
* `mode=nearest` support unit8 and @NicolasHug has fixed a performance bug when C=1 with #86361 (previously it will go to the channels last kernel, ant that kernel will do vectorization on C but C=1 can't be vectorized so it is rather slow).
* `mode=bilinear/bicubic` unit8 support will be added.
* `mode=bilinear, antialias=True` float32 on memory format NCHW optimiz

[2022-10-17 10:34] SalmanHabeeb opened #6780 "Implement tensor handling for ToTensor()"
### 🚀 The feature

The ToTensor() function of torchvision.transforms must be able to handle torch Tensors. If it gets a tensor, it must return the same tensor without modification

### Motivation, pitch

The function ToTensor can take a NumPy array as input. But if a torch tensor is passed to it, the function raises an error. It will be better if the function can take PyTorch tensors too without r

[2022-10-17 10:41] oke-aditya commented on #2761
@pmeier I guess with the new Features API this may be possible in near future?

[2022-10-17 11:02] pmeier commented on #2761
Yes, in theory we could have `features.RotatedBoundingBox` with shape `(*, 5)` where 4 items represent the coordinates and one represents the angle. For now, we already implemented `rotate_bounding_box`:

https://github.com/pytorch/vision/blob/149edda463b54b3eabe989e260a839727c89d099/torchvision/prototype/transforms/functional/_geometry.py#L573

This actually rotates the coordinates and thus the r

[2022-10-17 12:29] oke-aditya commented on #2761
@pmeier
We might need to look into Detectron2 for some Inspiration. As I know operations such as NMS and IoUs etc differ for Rotated boxes.

[2022-10-17 12:35] pmeier commented on #2761
Maybe I misunderstood the context here: are we talking about rotated bounding boxes at the transforms or at the model stage?

[2022-10-17 14:26] oke-aditya commented on #2761
Since I had created the issue, my initial idea was that it isn't exactly to do with transforms  but we would need a few small transforms like say horizontal flip etc that need both image and the box.

But other than that mostly it's on the ops side.

[2022-10-17 14:36] pmeier opened #6781 "Remove remaining __torch_function__ calls from regular transform pipeline"
On our journey to micro-optimize transforms v2, we recently merged #6681. This significantly reduced the number of `__torch_function__` calls inside the augmentation pipeline. However, we still have some unnecessary calls to it that originate from this idiom that we have on the feature methods:

https://github.com/pytorch/vision/blob/149edda463b54b3eabe989e260a839727c89d099/torchvision/prototype/f

[2022-10-17 14:47] pmeier commented on #6780
Hey @SalmanHabeeb. That is a good proposal and we actually already implemented this in our prototype namespace:

https://github.com/pytorch/vision/blob/149edda463b54b3eabe989e260a839727c89d099/torchvision/prototype/transforms/functional/_type_conversion.py#L33-L34

However, `ToTensor` is soft-deprecated for a while now and we will actually deprecate it with the new API:

https://github.com/pytorch

[2022-10-17 14:52] pmeier commented on #6779
I'm far from an expert on our C++ interface, but from what I can tell this seems like a usage question rather than bug report or the like. You will be better of asking this in our [user forums](https://discuss.pytorch.org/).

Plus, it also seems that this is not related to `torchvision` and rather to core `torch`.

I'm closing this, but let me know if I misinterpreted your issue.

[2022-10-17 15:10] andreimargeloiu commented on #2043
Thumbs up, this would be useful. As of now, FiveCrop requires making changes inside the model to handle one more dimension in the input.

[2022-10-17 19:09] federicopozzi33 commented on #6323
Since LARS optimizer is still available, I would like to pick it. @datumbox, is it ok for you?

[2022-10-17 22:28] Leon5x opened #6782 "Performance difference between the conda and pip version in io.read_image"
### 🐛 Describe the bug

There is a big performance difference in reading jpg images using the conda or pip version of torchvision using the function torchvision.io.read_image.
When benchmarking reading 1000 images from a folder the pip version is more than 2x faster than the version installed from conda!
For the test I created 2 new conda environments using
`conda create --name tvpip python=3.10`

[2022-10-18 06:18] SalmanHabeeb commented on #6780
@pmeier I have implemented your suggestions in a fork at
https://github.com/SalmanHabeeb/vision/blob/16dd5d5e48e2ed9ad7fc9589a66a5540eb6d8c52/torchvision/transforms/transforms.py#L163

Yet to make pull request for the same.  Do I need to make any new unit tests? Or is this enough?

[2022-10-18 06:57] datumbox commented on #6780
@SalmanHabeeb as Philip said, at this point we don't want to update the ToTensor any further. This is because the implementation does too many things, for example rescaling the input as opposed to just converting them tl tensors. This is why it's an idiom we try to phase out on the new API.

I am going to close the issue as the proposal doesn't align with our plans for the new Transforms API. If y

[2022-10-18 06:57] #6780 closed

[2022-10-18 07:35] pmeier commented on #6780
@datumbox As suggested by me, the patch was made to `PILToTensor`, which will not be deprecated:

https://github.com/pytorch/vision/blob/0610b13ac4af3717f538454a9c6b1f441cb386f3/torchvision/prototype/transforms/_type_conversion.py#L40

Given that we have the same tensor no-op behavior in the new `ToImageTensor` transform, I would be ok to also have it here.

I acknowledge that going by the name, p

[2022-10-18 12:43] vfdev-5 commented on #6782
@Leon5x can you provide your exact numbers when running repro code. Thanks!

[2022-10-18 13:01] vfdev-5 commented on #6782
Seeing exactly your repro code, you labelled as "Torchvision PIL" and "Torchvision accimage" the time taken by `torchvision.io.read_image` which is not using neither PIL, nor accimage:

https://github.com/pytorch/vision/blob/0610b13ac4af3717f538454a9c6b1f441cb386f3/torchvision/io/image.py#L235-L254

`torchvision.io.read_image` loads and decodes data using torch io ops: https://github.com/pytorch/v

[2022-10-18 13:12] jangop opened #6787 "`GeneralizedRCNN` raises an exception when encountering a bad bounding box during `forward`"
https://github.com/pytorch/vision/blob/0610b13ac4af3717f538454a9c6b1f441cb386f3/torchvision/models/detection/generalized_rcnn.py#L95

The current implementation of `GeneralizedRCNN` checks for degenerate bounding boxes during its forward pass. While -- in principle -- that is great, it can make training brittle, especially when randomized data augmentation is involved, because an exception is rais

[2022-10-18 13:14] miltonllera commented on #1884
I am running into a similar issue, where the VideoClips instance is returns exactly one more frame than expected (tested with several values).

I am using PyAV as a backend on `torch=1.12.1` and `torchvision=0.12.0`. Dataset is Kinetics downloaded form the S3 bucket referenced in the Kinetics dataset class.

I have no idea of how to solve this, or if it's even a problem. I could just drop the last

[2022-10-18 13:15] Leon5x commented on #6782
Alright, thanks for the explanation. Then I guess I understood the backend wrong. For what is the accimage/PIL backend used then?
Where my misunderstanding comes from is the [pytorch documentation](https://pytorch.org/vision/stable/index.html#torchvision.get_image_backend):
`torchvision.set_image_backend(backend) - Specifies the package used to load images.`
So probably that should also be changed

[2022-10-18 13:21] NicolasHug commented on #6782
I would guess that torchvision and PIL are linked against libjpeg-turbo when installed with `pip`. You can check by using `ldd` on their respective .so files e.g.

[code]

As for Accimage, I don't think it's supported anymore (our README probably needs an update)

[2022-10-18 13:30] vfdev-5 commented on #6782
@Leon5x this selects a way to load images for datasets:
https://github.com/pytorch/vision/blob/0610b13ac4af3717f538454a9c6b1f441cb386f3/torchvision/datasets/folder.py#L262-L268

[2022-10-18 15:30] pmeier opened #6790 "`av==10.0.0` breaks CI"
The recent release of `av==10.0.0` breaks at least two tests: https://app.circleci.com/pipelines/github/pytorch/vision/21245/workflows/ecbc81ff-f864-4227-a35d-b4ed5e9f57ee/jobs/1724114?invite=true#step-108-3075

[code]

I'm going to pin to `< 10`.

cc @seemethere

[2022-10-18 16:49] joacorapela opened #6792 "Problem using torch in sphinx gallery"
### 🐛 Describe the bug

I am failing trying to run a simple Python script, using PyTorch code, with sphinx-gallery. After having tried multiple versions of this script, I always get nonsense errors related to PyTorch tensors. However, the different versions of this script I have tried worked well when invoked from the command line.

Initially I thought it was a sphinx-gallery problem, and I opened

[2022-10-18 17:45] #6766 closed

[2022-10-18 19:31] pmeier commented on #6792
Could you be more specific? What code are you running? What are the errors?

[2022-10-18 20:24] pmeier opened #6794 "cmake workflows fail on Windows"
Since yesterday or more specifically since `pytorch=1.14.0.dev20221017` the CMake workflows are failing on Windows. For example: https://app.circleci.com/pipelines/github/pytorch/vision/21251/workflows/cb54fe99-650c-4084-9717-639ee6b20032/jobs/1724374

The command that is failing is the [installation of PyTorch core](https://app.circleci.com/pipelines/github/pytorch/vision/21217/workflows/6248dffe

[2022-10-18 21:46] rsokl commented on #6753
Could you post the link to the blog post in this thread when it becomes available? I am not sure where else to look to find it.

[2022-10-19 03:53] Inkorak commented on #4378
Yes, there are still leaks, even on cuda 11.6

[2022-10-19 10:19] Leon5x commented on #6782
In one conda environment the .so is linked into a different environment, which is super weird. On this pc I have tried installing pil-simd from source, so this seems to have broken something. In the pip environment it is linked against libjpeg in the Pillow.libs folder. Not libjpeg-turbo in sight. But i guess it doesn't matter.

[2022-10-19 10:22] Leon5x commented on #6782
Okay. Then I find it just weird that the function is not put into the datasets module if it only sets the backend for the datasets. And then it is also misleading that the documentation shows the functions on the first torchvision doc page and doesn't mention that they only set the backend for the datasets. It might help to change the function description to include that information.
Anyways thank

[2022-10-19 13:11] YosuaMichael commented on #6794
@pmeier I just ran CI Test on https://github.com/pytorch/vision/pull/5009 and it seems to pass the cmake for windows now.

[2022-10-19 13:21] pmeier commented on #6794
Let's wait for the first PR to be merged into `main` that also passes. If that is the case, we can close.

[2022-10-19 19:39] joacorapela commented on #6792
Thanks for your reply @pmeier. I have just solved this problem. It was unrelated to PyTorch.

The problem was that my sphinx configuration file ``conf.py`` contained a line ``autodoc_mock_imports = ["torch"]`` that at one point I added to avoid import errors. I removed this line and everything works fine now.

[2022-10-19 19:39] #6792 closed

[2022-10-19 21:00] faberno opened #6796 "‘Hide-and-Seek’ Random Masking Transform"
### 🚀 The feature

**Source**
Hide-and-Seek: Forcing a Network to be Meticulous for Weakly-supervised Object and Action Localization ([Scholar](https://scholar.google.com/scholar?hl=en&as_sdt=0%2C5&q=Hide-and-Seek%3A+Forcing+a+Network+to+be+Meticulous+for+Weakly-supervised+Object+and+Action+Localization&btnG=), [Arxiv](https://arxiv.org/abs/1704.04232))
Number of citations: 542

**Method**
The ima

[2022-10-19 21:36] karthikprasad commented on #2289
Curious to know if this issue is still high priority? I am especially interested in `uint8` support for `interpolate` in bilinear mode.

[2022-10-20 03:14] zhiqwang commented on #2289
Hi @karthikprasad , You can see the progression on this https://github.com/pytorch/vision/issues/6619#issuecomment-1280544226

[2022-10-20 03:41] Tianyu9748 opened #6798 "Fail to build from source on Linux"
### 🐛 Describe the bug

NAME="CentOS Linux"
VERSION="7 (Core)"
CUDA=11.4
cuDNN=8.4.1
cmake=3.23.4
g++=9.3.0
torch=1.14.0a0+git4dc5798

Command I used is:
`python setup.py install`

Errors returned:

<code>/bin/ld: /usr/local/contrib/lib/libswscale.a(scale.o): relocation R_X86_64_32 against `.rodata' can not be used when making a shared object; recompile with -fPIC</code>

<code>/bin/ld: /usr/local

[2022-10-20 08:08] pmeier commented on #6794
All good on 7a62a545ce76f43ccc5cfe0009131f7db14ae7b5.

[2022-10-20 08:08] #6794 closed

[2022-10-20 08:39] pmeier opened #6799 "`convert_image_dtype` overflows with low precision floating point dtypes"
While working on improving performance of `convert_image_dtype` in #XXX, I found several cases where `convert_image_dtype` is silently failing for low precision floating point dtypes `torch.float16` and `torch.bfloat16`:

[code]

[code]

1. Converting an valid (b)float16 image in the value range `[0.0, 1.0]` to any integer dtype overflows the computation. This stems from the fact that `eps` is fix

[2022-10-20 08:56] pmeier commented on #6781
On second thought, I would prefer the `unwrap` method over using the context manager for two reasons:

1. https://github.com/pytorch/vision/pull/6681#issuecomment-1270249528 proposed to add functionality to the `__torch_function__` protocol to ignore certain functions. If that is implemented in core, we no longer need the properties for the attributes since we could simply ignore `__torch_function

[2022-10-20 09:02] datumbox commented on #6799
I agree with the proposal for guarding against types that are likely to overflow. I suspect that `float16` is also very likely to be problematic with many of our `F` kernels. Perhaps it's worth adding an error for that as well.

[2022-10-20 09:10] datumbox commented on #6796
@faberno Thanks a lot for the proposal. The augmentation seems a bit old but definitely has sufficient number of citations and it's worth considering.

I'll need to check the paper in more detail but I was hoping if you could provide some clarifications concerning its operation:
- During training, do we actually pass an image that has dark patches to the model? If yes, I wonder how this interacts

[2022-10-20 09:20] datumbox commented on #2761
This is a bigger piece of work that we should consider after H2. Philip is right to say that our roadmap is currently full and this is quite a sizeable piece of work to squeeze in. As Aditya said, this is not just about adding support for transforms but also for operators. I would be in favour of reviewing the support of this as a whole as we would need to provide Transforms, Ops and Models that a

[2022-10-20 10:00] datumbox commented on #6787
Degenerate BBoxes can mess up the training phase of the models and this will lead to a very hard to debug situation. This is why I believe originally this assertion was added. We typically avoid such assertions when possible to improve performance but in cases where the debugging can become extremely difficult we maintain them.

I think the best way to avoid the issue is to filter out degenerate b

[2022-10-20 10:20] datumbox commented on #6780
@pmeier Thanks for the comments.

This is quite nuanced. I'll write my concerns here in more detail (mentioning things you already know) so that my position is clearer. The `PILToTensor`'s behaviour to be a no-op for Tensors is the result of `_transformed_types = (PIL.Image.Image,)`.  This is where every new Transform Class has the ability to define dispatchable types. On the other hand, kernels s

[2022-10-20 10:23] vfdev-5 commented on #6781
I have an impression that this proposal looks like "remove tensor subclassing". I also agree that `unwrap` method is exposing implementation details. Finally, I think it is unnecessary to add new public API method to gain ~10us.

Docs should explain that all features are subclasing tensors -> behave like tensors and there is no particular need to get underlying tensor.

[2022-10-20 10:26] datumbox commented on #6781
For every new public method we introduce on the subclassed tensors, we run the risk on the future to get name collisions with core methods. Core already offers a way to "unwrap" a tensor and that's the `as_subclass(torch.Tensor)` idiom. We should use that.

The optimizations we do right now, should be implementation details to circumvent speed issues. As Core improves the work on the Tensor Subcla

[2022-10-20 15:11] YosuaMichael commented on #6711
@datumbox I think this wrapper approach is quite similar with how `detectron2` did it. They have this [torchscript_patch.py](https://github.com/facebookresearch/detectron2/blob/e091a07ef573915056f8c2191b774aad0e38d09c/detectron2/export/torchscript_patch.py) which I found from this [article about torchscript](https://ppwwyyxx.com/blog/2022/TorchScript-Tracing-vs-Scripting/#Impact-on-Detectron2).

[2022-10-20 15:38] jdsgomes opened #6802 "Video reader segfaults on certain videos. Here's a partial-reproduction script"
Follow up on the following observation by @vedantro :

This segfaults on certain videos. Here's a partial-reproduction script (the videos are stored in a pandas dataframe):

[code]

I'm working to get approval of the public copy of the data.

In the meantime, the error is:
[code]

_Originally posted by @vedantroy in https://github.com/pytorch/vision/issues/6771#issuecomment-1283644752_

[2022-10-20 17:25] faberno commented on #6796
Hey @datumbox, thanks for your answer. Regarding your questions:
- Yes, we pass an image with different coloured patches to the model. But the paper recommends, that they should not be just black, but rather the mean RGB value over all images in the train dataset, to avoid a mismatch in distributions between the activations of train and test.
- This method does not account for hidden targets and a

[2022-10-20 17:52] goigle commented on #5371
Still fails on 0.13.1 and 0.13.0, with a new error about the license:

[code]

[2022-10-20 21:28] tobaiMS opened #6806 "torchvision Resize export doesn't support antialias=True, ::_upsample_bicubic2d_aa to ONNX opset version 16 is not supported"
### 🐛 Describe the bug

'''python

    resize = torchvision.transforms.Resize(size=(224, 224), interpolation=torchvision.transforms.InterpolationMode.BICUBIC, max_size=None, antialias=True)

    dummy_input = torch.randn(1,3,2000,2000)
    torch.onnx.export(resize, dummy_input, preprocess_model_path, input_names=['image'], output_names=['processed_image'], dynamic_axes={
                      # di

[2022-10-20 21:35] vedantroy commented on #6802
I'll try to get a public copy of the data soon, as I know this script is pretty useless without it.
The video file is valid (I think), since the VsCode MP4 previewer can play the MP4 file.

I suspect that it's some FFMPEG-torchvision edgecase. Specifically, the video file is a short clip from a longer video, and I did the clipping using FFMPEG.

[2022-10-21 08:49] bjuncek opened #6808 "videos in the assets might not be representable"
### 🐛 Describe the bug

As noted in #6771 videos in the `test/assets/videos` might not be representative and/or have issues with decoding.
To alleviate this, I propose going through some of the more used datasets and gathering a few videos from there.

### Versions

not relevant for this issue

[2022-10-21 11:34] #6781 closed

[2022-10-21 12:21] jangop commented on #6787
Agreed, “the best way” surely is filtering out degenerate bounding boxes. But the issue of bad data and how to deal with it is old and it will likely stick around. See, for example, [nonechucks](https://github.com/msamogh/nonechucks). Its latest release is from 2019, but I find the concept interesting, and in its README, a few points are outlined for why one might want to deal with bad data on the

[2022-10-21 12:29] jangop opened #6810 "Name `remove_small_boxes` does not fit return value"
[`remove_small_boxes`](https://github.com/pytorch/vision/blob/5421f12a3d62286b7935c9b8d24a0841019e3449/torchvision/ops/boxes.py#L115) returns “indices of the boxes that have both sides larger than min_size”. In that case, I would expect the function to be called something like `find_big_boxes` instead.

[2022-10-21 12:32] jangop commented on #6753
Can you provide a good starting point for getting an overview of the current state of Transforms V2?

Or is reading through https://github.com/pytorch/vision/tree/main/torchvision/prototype/transforms and https://github.com/pytorch/vision/projects/5 the best approach for now?

[2022-10-22 03:44] nateraw opened #6814 "Latest PyAV version breaks torchvision.io.write_video when writing video with audio"
### 🐛 Describe the bug

#### Description

It seems the [latest PyPi release](https://pypi.org/project/av/#history) of PyAV (`av==10.0.0`) breaks `torchvision.io.write_video` when writing a video containing audio. If you call `write_video` without audio array, it still seems to work fine - it's just when an audio array is provided that it breaks.

#### Reproducible Example

Here is a colab notebook

[2022-10-22 13:26] EddieAy commented on #215
@fmassa  Thank you for your informational answer

[2022-10-22 14:17] YinZhang98 opened #6815 "Jetson torch1.9.0 torchvison0.10.0 python setup.py install error"
### 🐛 Describe the bug

virtual AVCodec* findCodec(AVCodecParameters* params)

### Versions

![image](https://user-images.githubusercontent.com/33601373/197343935-1e2c998c-2d8d-42bd-a81d-fa6476e9ef28.png)
toch1.8,1.7 has the same error

[2022-10-22 16:29] ntakouris commented on #6200
Tuples, Dicts and Lists are now supported.

- There's still the 2 issues mentioned in the original post, but those are easy to solve, or can be annotated semi-automatically to be ignored

- There's also this issue I mentioned above

Getting there!

[2022-10-23 07:27] x4Cx58x54 opened #6816 "Specify channel dim for transforms.Normalize"
### 🚀 The feature

Specify channel dim for `transforms.Normalize`, `transforms.functional.normalize`, `transforms.functional_tensor.normalize`, To enable `transforms.Normalize` to normalize according mean and std by specified channel.

A solution is adding a new argument `dim_channel` to the classes and functions above and

[code]

### Motivation, pitch

Recent torchvision deprecated `transforms._

[2022-10-23 19:30] adityagandhamal commented on #6673
This is a much-needed example. I'd love to contribute!

[2022-10-23 19:31] adityagandhamal commented on #6673
Should the new example be inferencing on a new video clip as [here](https://pytorch.org/vision/stable/models.html#video-classification) or fine-tuning on a custom dataset?

[2022-10-24 03:46] Tal-Golan opened #6817 "create_feature_extractor and get_graph_node_names should have a concrete_args argument"
### 🚀 The feature

Add a concrete_args argument to `tv.models.feature_extraction.create_feature_extractor` and `.get_graph_node_names`. The argument would be passed to torch.fx's trace().

### Motivation, pitch

Currently, one cannot use the torchvision feature extractor on modules whose forward method receives control-flow-affecting arguments. This limitation can be removed by passing the `concre

[2022-10-24 05:34] pmeier commented on #6815
What version of `ffmpeg` / `av` / ... are you compiling against?

[2022-10-24 05:36] pmeier commented on #6814
Duplicate of #6790. Keeping this open for now, because it includes reproduction.

[2022-10-24 05:39] pmeier commented on #6790
#6814 includes reproduction

[2022-10-24 06:31] YinZhang98 commented on #6815
Thanks. I solved this problem because of ninja and ffmpeg

[2022-10-24 06:32] #6815 closed

[2022-10-24 08:50] #6768 closed

[2022-10-24 09:47] pmeier opened #6818 "Performance improvements for transforms v2 vs. v1"
In addition to a lot of other goodies that transforms v2 will bring, we are also actively working on improving the performance. This is a tracker / overview issue of our progress.

Performance was measured with this [benchmark script](https://gist.github.com/pmeier/e0f1ea77c9cf75b682d7f30366a89bf8). Unless noted otherwise, the performance improvements reported above were computed on uint8, RGB ima

[2022-10-24 13:22] RKHashmani opened #6822 "Opening a PR to Add Support for Images with Non-standard Number of Channels for the ResNet models."
### 🚀 The feature

I would like to open a pull request to add a simple feature I added.

It is simply replacing the hard-coded "3" in [torchvision/models/resnet.py](https://github.com/pytorch/vision/blob/main/torchvision/models/resnet.py)'s ResNet Class with an argument variable titled "in_channels".

This will allow users to immediately create a ResNet models that supports a variety of initial in

[2022-10-24 14:37] pmeier opened #6825 "Don't hardcode 255 unless uint8 is enforced"
Across our transformations we sometimes hardcode the value `255`. This is justified if we make sure that point only `torch.uint8` images are allowed, like

https://github.com/pytorch/vision/blob/788ad12e5dcec1dffc7d6311e59a2be2792799b8/torchvision/transforms/functional_tensor.py#L471-L472

However, there are a few instances where uint8 is implied but never enforced:

https://github.com/pytorch/vis

[2022-10-24 14:48] datumbox commented on #6818
Concerning all the methods that use affine, there are some very limited opportunities for optimization. Perhaps a couple of in-place ops in `_perspective_grid` and a few optimizations in `_apply_grid_transform` (split of mask and img, bilinear fill estimation etc). @vfdev-5 would you be OK to assess on your side whether it make sense to do these or leave the methods on `_FT` to avoid copy-pasting?

[2022-10-24 14:54] datumbox commented on #6825
Good spot. It's also worth noting that the current stable uses incorrect bounds across methods. The ones that you highlighted use 255 for all integers. On the other hand, `convert_image_dtype` uses different bound depending on their integer type:
https://github.com/pytorch/vision/blob/9f024a6e52e1f9a7a588d743f3f383870ce97fbf/torchvision/transforms/functional_tensor.py#L47-L57

These two need to al

[2022-10-24 15:00] Tianyu9748 commented on #6798
No idea.
Create a new environment with higher version of Python (3.9) solved the problem.

[2022-10-24 15:00] #6798 closed

[2022-10-24 15:02] #6734 closed

[2022-10-24 15:58] YosuaMichael commented on #6814
Thanks for the report and the reproduction @nateraw!
Looking at the problem, I debug a bit and I could fix this particular problem by replacing [this line](https://github.com/pytorch/vision/blob/main/torchvision/io/video.py#L116) to:
[code]

And after inspecting the resulting container, I notice that seems like there is a problem for the stream type during add stream since all the streams go to `o

[2022-10-24 17:36] pmeier commented on #6825
I prefer the behavior of `convert_image_dtype` for two reasons:

1. If we would go for enforcing `[0, 255]` for image dtypes, it makes no sense to use to allow integer dtypes other than `uint8` in the first place. While `float16` or `float64` share the same value range with the default `float32`, their precision varies and thus it makes sense for them to have the same range. However, there is no s

[2022-10-25 02:23] x4Cx58x54 commented on #6816
@datumbox  Thanks for your reply. I would be greatly obliged if you give me a ping!

[2022-10-25 02:27] necromuralist commented on #949
I just ran into (mostly) the same problem, although the versions are different since it's been three years . When I used the command given in [pytorch's instructions](https://pytorch.org/get-started/locally/) for Linux (Ubuntu 22.10), Stable (1.12.1), and CUDA 11.6:

`pip3 install torch torchvision torchaudio --extra-index-url https://download.pytorch.org/whl/cu116`

it installed the right version

[2022-10-25 09:10] RKHashmani commented on #6822
Oh I see. That makes sense, since this seems to be a simple addition. As such, would it be possible for me to help contribute to this when the time comes for the planned revamp?

[2022-10-25 10:32] datumbox commented on #6822
Sounds good. I think the plan is to create a design document with the proposal as a whole. We want to avoid just adding things one by one without reviewing the API as a whole. It would be great to ping you once the proposal is ready to a) give your feedback and b) provide some help in terms of contributions. :)

[2022-10-25 13:35] datumbox opened #6836 "Compiler not supported: "nvcc fatal : Failed to preprocess host compiler properties.""
### 🐛 Describe the bug

The CI job `cmake_linux_gpu` started [failing](https://app.circleci.com/pipelines/github/pytorch/vision/21460/workflows/b5ba108b-c3aa-4b38-9f56-60a1f7d3502c/jobs/1739958) with:
[code]

### Versions

Latest main, PyTorch Core 20221025

[2022-10-25 14:04] RKHashmani commented on #6822
That sounds great, I'd be happy to help/contribute in any way. Please feel free to ping me whenever the time comes. I'll go ahead and close this thread now. Take care. :)

[2022-10-25 14:51] datumbox commented on #6836
The issue [disappeared](https://app.circleci.com/pipelines/github/pytorch/vision/21465/workflows/64faaa00-74f2-4394-a9ec-7efbc36edd47/jobs/1740394) 1 hour ago. It seems that now CI is passing on PRs.

[2022-10-25 16:03] atalman commented on #6836
Resolving this issue have caused by docker build being corrupted. This should be resolved now.

[2022-10-25 22:46] tobaiMS commented on #6806
seems it's available since opset 18: [onnx/Operators.md at main · onnx/onnx (github.com)](https://github.com/onnx/onnx/blob/main/docs/Operators.md#Resize) , can we support it?

[2022-10-26 09:27] datumbox commented on #6806
@BowenBao could you offer your thoughts here?

[2022-10-26 10:54] pmeier opened #6839 "Enforce contiguous outputs on the transforms v2 kernels?"
All the performance benchmarks that did so far for transforms v1 vs. v2 were on contiguous inputs. However, we have a few kernels that leave the output in a noncontiguous state:

- `affine_image_tensor` in case `fill is not None`
- `convert_color_space` in case we only strip the alpha channel, i.e. `RGB_ALPHA -> RGB` and `GRAY_ALPHA -> ALPHA`
- `rotate_image_tensor` in case `fill is not None`
- `c

[2022-10-26 10:59] NicolasHug commented on #6839
IIRC `Normalize()`'s perf is fairly sensitive to contiguity.

Same for `Resize()`, and depending on what was used for decoding (PIL vs `decode_jpeg()`), you'll end up with different contiguity

[2022-10-26 13:28] pmeier commented on #6818
I did another deep dive into the ops in the second paragraph of https://github.com/pytorch/vision/issues/6818#issuecomment-1289154456 and I'm fairly confident that there is little we can do to improve on our side. The only two things I found are

- For padding modes `"edge"` and `"reflect"` we cast to `float32` and back:

  https://github.com/pytorch/vision/blob/c84dbfad97251271a789b252a2a1a52c73f

[2022-10-26 13:31] NicolasHug commented on #6839
Do you mean it should be up to the kernel to convert its input if it makes it run faster?

I don't know if this is something worth doing; same for the global enforcement of contiguity BTW. Because, while this may speed up that one particular kernel, it can still make all the other kernels slower in the rest of the pipeline.

[2022-10-26 13:37] pmeier commented on #6839
Yes.

Agreed. I need to benchmark if this has an impact or not. Otherwise there is no need to enforce one or the other.

[2022-10-26 13:50] pmeier opened #6840 "Support all integer and floating point dtypes in prototype transform kernels?"
The standard rule for dtype support for images and videos is:

- All floating point and integer tensors are supported.
- Floating point tensors are valid in the range `[0.0, 1.0]` and integer tensors in `[0, torch.iinfo(dtype).max]` (this is currently under review since there were a few cases, where this was not true or simply not handled. See #6825)

However we have currently two kernels that onl

[2022-10-26 14:38] datumbox commented on #6840
I'm in favour of doing this. It will allow users to cast to float32 first which might be beneficial for cases where the uint8 kernels are slower.

[2022-10-26 21:58] frgfm commented on #2025
Sure! Here is where we are at:

- [ ] datasets
    - [x] samplers
        - [x] `clip_sampler.py` (#2667)
    - [ ] `_optical_flow.py`
    - [ ] `dtd.py`
    - [ ] `fgvc_aircraft.py`
    - [ ] `flowers102.py`
    - [ ] `food101.py`
    - [ ] `lfw.py`
    - [x] ...
- [x] io
    - [x] `__init__.py` (#4224)
    - [x] `_video_opt.py` (#4173)
    - [x] `image.py` (#2543)
    - [x] `video.py` (#2543)

[2022-10-27 05:00] oke-aditya commented on #2025
A bunch of PRs actually that kind of be useful
https://github.com/pytorch/vision/pull/4630
https://github.com/pytorch/vision/pull/4612
https://github.com/pytorch/vision/pull/4599
https://github.com/pytorch/vision/pull/4323

[2022-10-27 08:25] wwhio opened #6842 "I got torchvision=0.2.2.post3 when I install it with pip and python3.11"
### 🐛 Describe the bug

I got torchvision=0.2.2.post3 when I install it with pip and python3.11

[code]

### Versions

PyTorch version: 1.13.0+cu116
Is debug build: False
CUDA used to build PyTorch: 11.6
ROCM used to build PyTorch: N/A

OS: Ubuntu 18.04.5 LTS (x86_64)
GCC version: (Ubuntu 7.5.0-3ubuntu1~18.04) 7.5.0
Clang version: Could not collect
CMake version: Could not collect
Libc version: gl

[2022-10-27 08:37] datumbox commented on #6842
Thanks for reporting.

There are currently no 3.11 binaries. The reason you get such an old version is because that's the last available TorchVision release that is pure Python and doesn't have custom C++/CUDA ops. Addition of Python 3.11 will happen a bit later because we need to coordinate it with PyTorch Core. I'll close this issue to keep things tidy but if you have more questions feel free to

[2022-10-27 08:37] #6842 closed

[2022-10-27 12:47] YosuaMichael commented on #6686
Link to landed master PR: #6789 (MERGED)

Link to release branch PR: #6849

Criteria: Test/CI Fixes

[2022-10-27 14:40] datumbox commented on #6840
Before closing this ticket, we should make the following proposed optimization on AugMix:
https://github.com/pytorch/vision/blob/e1f464bded7781be85fdf1762c01a7869d3aec97/torchvision/prototype/transforms/_auto_augment.py#L509-L513

[2022-10-27 15:16] NicolasHug commented on #2289
I started working on this in https://github.com/pytorch/pytorch/pull/87863

[2022-10-27 15:50] deepwilson commented on #2135
@fmassa  Are you'll looking for someone to help here?
I am currently working on anchor boxes and would like to help if that is the case

[2022-10-27 16:01] deepwilson commented on #1574
What's the update on this issue?

[2022-10-28 11:41] pmeier commented on #6825
One more thing came to mind: although an edge case at best, by hardcoding `255` we we not only ignore large portions of the range for larger dtypes, we also don't handle the fact that `torch.int8` images can only store `[0, 127]`. For example, with the current implementation `F.posterize(image_int8, bits=4)` is a no-op.

[2022-10-28 13:17] vadimkantorov commented on #6782
IMO global settings like backend are most often confusing... (especially in multithreading context)

[2022-10-28 13:18] ambujpawar commented on #6674
I just checked the issue, the line number you linked doesnt seem to be the issue.
The issue lies on line: [234](https://github.com/pytorch/vision/blob/d7d90f56117ce0955332846a5f90b8d1346c4c09/torchvision/datasets/inaturalist.py#L234)

[234](https://github.com/pytorch/vision/blob/d7d90f56117ce0955332846a5f90b8d1346c4c09/torchvision/datasets/inaturalist.py#L234) downloads the file as `train_2021`

b

[2022-10-28 15:16] vfdev-5 commented on #6818
Checking various options with `affine`, there is no obvious way to improve runtime perfs. Yes, we can make some inplace "split of mask and img, bilinear fill estimation etc". There is also an open issue about incorrect behaviour of bilinear mode with provided not-None fill (https://github.com/pytorch/vision/issues/6517). Given that I think we can keep this implementation.

[2022-10-28 15:48] vadimkantorov commented on #6839
Preserving memory_format (contig or channel_last) can be quite important. If there're perf implications of preserving memory format by default (that could avoid some copies later on), some ops may accept additional memory_format arg?

[2022-10-28 15:52] vadimkantorov commented on #6818
About not vectorized bitwise shifts, is there an issue in core?

[2022-10-28 19:50] kyleliang919 opened #6862 "torchvision.datasets.Kinetics broken"
### 🐛 Describe the bug

[code]

error:
[code]

### Versions

PyTorch version: 1.12.1+cu102
Is debug build: False
CUDA used to build PyTorch: 10.2
ROCM used to build PyTorch: N/A

OS: Ubuntu 20.04.2 LTS (x86_64)
GCC version: (Ubuntu 9.3.0-17ubuntu1~20.04) 9.3.0
Clang version: Could not collect
CMake version: version 3.16.3
Libc version: glibc-2.2.5

Python version: 3.7.6 (default, Feb 18 2020, 21:2

[2022-10-28 20:00] kyleliang919 commented on #6862
I believe this is due to something like a simlink not being setup properly automatically or folders not being renamed correctly.

[2022-10-28 21:31] jcowles opened #6925 "PyTorch 1.13 release breaks torchvision 0.14.0 - bad python import from maxvit"
### 🐛 Describe the bug

Bad import in TorchVision > Models > maxvit.py

[code]

[code]

### Versions

Collecting environment information...
PyTorch version: 1.13.0+cu116
Is debug build: False
CUDA used to build PyTorch: 11.6
ROCM used to build PyTorch: N/A

OS: Microsoft Windows 10 Pro
GCC version: Could not collect
Clang version: Could not collect
CMake version: Could not collect
Libc version: N/

[2022-10-28 23:55] Atharva-Phatak commented on #6323
@datumbox I would like to take LAMB optimizer.

[2022-10-28 23:59] Atharva-Phatak opened #6868 "Implementation of LAMB optimizer"
### 🚀 The feature

#6323  Mentions that torchvision is looking to implement [LAMB optimizer](https://arxiv.org/abs/1904.00962). I would very much like to take this issue and create a PR.

### Motivation, pitch

LAMB optimizer was created because LARS optimizer performed poorly on model with attention mechanism (mainly). LAMB has shown to achieve very good performance gains across various tasks and

[2022-10-29 08:59] yassineAlouini commented on #6404
Some update @datumbox: I will have some free time for the upcoming few days and should make some progress. Will let you know how it goes. 👌

[2022-10-29 21:00] ndvbd commented on #863
It's unneeded duplication of data. Plus getting 3 channels is weird when dealing with grayscale /1-channel. And not intuitive.

[2022-10-30 10:45] yassineAlouini commented on #6404
By the way, what is the PyTorch and TorchVision policies for the usage of einops? 🤔

[2022-10-30 15:25] mark1ng123 commented on #1046
+1 on the problems as above

[2022-10-30 23:01] groodt commented on #5371
This error also exists with `0.14.0`

[2022-10-30 23:27] groodt opened #6869 "0.14.0 Regression in wheel metadata"
### 🐛 Describe the bug

The wheel metadata for the 0.14.0 release seems corrupt. It is not installable through `installer`, which means that it probably isn't installable using Hatch or PDM either.

The error is:
[code]

Full reproduction and traceback here:
[code]

### Versions

0.14.0

[2022-10-31 01:03] groodt commented on #6869
I've discovered that the following steps corrects the issue.

[code]

[2022-10-31 09:20] datumbox commented on #6404
@yassineAlouini So far we don't have a model using this. Is there a specific use-case in MobileViT that can't be done otherwise?

[2022-10-31 09:24] datumbox commented on #6323
@federicopozzi33 I think your message fell through the cracks... I apologise, would you like to pick it up?

@Atharva-Phatak sounds great, I assigned the issue you started to you. Note that this is meant to be upstreamed to PyTorch Core. Ping me when you have an early version, to do an early check before we involve PyTorch Core engineers. :)

[2022-10-31 09:55] yassineAlouini commented on #6404
I don't think it is irreplaceable, just wanted to check what is the best practice in torchvision. 👌
I will code everything using PyTorch and existing TorchVision code.

[2022-10-31 10:01] yassineAlouini commented on #6404
One additional question regarding the `TransformerEncoder`: should I reimplement it or should I re-use the one from `vision_transformer.py` (i.e. `EncoderBlock`)? I was planning to copy-paste the code first, adapt it and then maybe later refactor. What do you think @datumbox?

[2022-10-31 10:11] datumbox commented on #6404
@yassineAlouini Makes sense. Let's start by copy-pasting and modifying and see what changes are needed. Then we can decide whether sharing components is worth it. :)

[2022-10-31 10:12] datumbox commented on #6323
@federicopozzi33 Yes that sounds great! Feel free to ping me like the previous time to go through checks together and when we are mostly ready, I'll ping the Core engineers to get their input. :)

[2022-10-31 10:36] rohitgr7 opened #6871 "deepcopying retinanet fails"
### 🐛 Describe the bug

Deepcoping retinanet fails

[code]

Error:
[code]

In short this fails:
[code]

### Versions

[code]

[2022-10-31 10:45] datumbox commented on #6871
@rohitgr7 Thanks for raising this. I think what happens is deepcopy is trying to initialize the `ResNet50_Weights` enum by passing its value instead of its name. Is there a reason you are saving `weights_backbone` into the object? You won't be able to change its value after initialization. If it's for informational purposes, you could store its string value.

@pmeier Any idea if we can patch the o

[2022-10-31 10:53] rohitgr7 commented on #6871
hey @datumbox, thank you for your reply.

this wasn't the actual use case where we got this issue. I just added a simple example to showcase the error.
In Lightning, we use `LightningModule`, which handles hyper-parameters, so as a user, I can save this as a hparam, but it's not possible right now. Of course, a string is a workaround.

[2022-10-31 11:04] datumbox commented on #6871
That makes sense. Could you clarify if you are interested in storing the name or the value of the param in your real use-case? Both of the following work but I'm not sure if that's what you want:
[code]

[2022-10-31 11:55] rohitgr7 commented on #6871
so, we use jsonargparse for our cli and it tries to parse the defaults of the retinanet function, which we reported in https://github.com/omni-us/jsonargparse/issues/187 and got fixed on their side, but then I thought to get the end issue fixed on torchvision side.

The default here is: `ResNet50_Weights.IMAGENET1K_V1`, which is an enum .

so if deepcoping these enums is not possible, maybe change

[2022-10-31 11:59] datumbox commented on #6840
@pmeier I think the last thing to consider before closing the ticket is how `AA` can send the right threshold values to posterize when the Image is a float. Aka:
https://github.com/pytorch/vision/blob/e1f464bded7781be85fdf1762c01a7869d3aec97/torchvision/prototype/transforms/_auto_augment.py#L172

Thoughts on this?

[2022-10-31 12:06] datumbox commented on #6871
@rohitgr7 Thanks for the clarifications. Let me sync with @pmeier when he is back to see what's the best option here.

[2022-10-31 15:04] Atharva-Phatak commented on #6323
@datumbox Are you recommending I make a draft PR, and we can go over the changes? Then we can file a main PR for pytorch-core right?

[2022-10-31 16:44] datumbox opened #6875 "`build_docs` fails with `[Makefile:42: html] Hangup`"
### 🐛 Describe the bug

The `build_docs` CI job [fails](https://app.circleci.com/pipelines/github/pytorch/vision/21604/workflows/cab24b60-c4de-4680-ac60-6d89ef6988c4/jobs/1750608) on the latest main with:
[code]

The job later times out on the CI once the 10-minute time limit is exhausted.

### Versions

Started appearing on 20221031

cc @seemethere

[2022-11-01 06:31] anjali-chadha opened #6878 "JIT compatible way to convert base64 encoded image string to a Tensor"
Hello -
I have an image which is encoded as a base64 string. I want to take this string as an input and convert it to a Tensor.

How can I achieve this in a way which is torchscriptable?

So far, I have tried the two step process: 1) Convert base64 encoded image to Pillow Image using pillow library, 2) convert PIL Image to Tensor using transformations provided in torchvision
However, this approach

[2022-11-01 08:36] #6840 closed

[2022-11-01 12:12] biphasic commented on #6869
thanks for clarifying this. The PDM install indeed fails with that error

[2022-11-01 14:37] frgfm commented on #6323
Oops I realized I hadn't opened the PR for LARS & LAMB on core :sweat_smile:
Sorry about that :upside_down_face: Do you prefer to keep working on this? Or should I open the PRs?

[2022-11-01 14:39] Atharva-Phatak commented on #6323
@frgfm I thought no one was working on LAMB and hence I took it up. If it's okay I would like to work on it. 😃

[2022-11-01 17:31] datumbox opened #6882 "Optimize `_FT.pad()` on Transforms V2"
### 🚀 The feature

The `pad()` implementation for Tensors on stable contains excessive assertions and workarounds to circumvent past limitations of torch pad (unsqueezing for 3d input, float casting for certain modes etc). It's worth reviewing it's implementation and cleaning it up on V2.

Improving its speed might give performance improvements on several key Transforms such as Pad, RandomCrop, et

[2022-11-01 17:44] federicopozzi33 commented on #6323
Same as @ambujpawar. Moreover, I've already start working on that.

[2022-11-01 22:12] frgfm commented on #6323
Roger that! In case one of you encounters trouble, let me know as I've implemented those already a while back :+1: (cf. https://github.com/frgfm/Holocron/tree/main/holocron/optim)

[2022-11-01 22:15] ofek commented on #6869
tried Hatch?

[2022-11-01 23:56] pmeier commented on #6875
#6598 is the offender @bjuncek @jdsgomes. I'm not sure yet why, but after that commit, building with multiple processes hangs. We do that by default with the `-j` flag:

https://github.com/pytorch/vision/blob/d95fbaf1efd5346a4afcf5b9953df75696432265/docs/Makefile#L9

Removing the multiprocessing like I did in #6884, [resolves the issue](https://app.circleci.com/pipelines/github/pytorch/vision/2164

[2022-11-02 08:44] NicolasHug commented on #6875
There might be something fishy going on in the `VideoReader` then. Could we try to use it in a multi-processing setting, e.g. with `DataLoader(num_workers>1)`, and see if the lock happens?

[2022-11-02 09:59] mengpenghui opened #6885 "The backward calculation results of DCN in some cases are inconsistent with the DCN of mmcv."
### 🐛 Describe the bug

When I used torchvision.ops.deform_conv2d to build DCNv2, I found that the calculation result of backward was inconsistent with mmcv's DCNv2.
As far as I know, DCNv2 can be constructed through torchvision's deform_conv2d interface as follows:
(refer to https://github.com/open-mmlab/mmcv/blob/master/mmcv/ops/modulated_deform_conv.py)
[code]
Next, I tested it in mmcv's test c

[2022-11-02 11:22] developer0hye opened #6886 "[FR] multi-scale feature extraction of torchvision's models"
### 🚀 The feature

Using multi-scale features of backbone model is a commonly used method in object detection area. But torchvision's models are not supported with this function.

### Motivation, pitch

I am working on object detection and would like multi-scale feature extraction to be possible with torchvision's models, especially swin.

### Alternatives

_No response_

### Additional context

_

[2022-11-02 11:33] #6871 closed

[2022-11-02 16:27] 17sarf opened #6889 "Anchor-free Faster R-CNN with custom backbone"
Is it possible to use the Faster R-CNN architecture with no anchor sizes?

[code]

When I set `anchor sizes` to `None`, I get the following error:

`TypeError: 'NoneType' object is not subscriptable`

Thanks in advance.

[2022-11-02 17:57] datumbox commented on #6889
Thanks for the question.

No the sizes are a necessary part of the configuration of the `AnchorGenerator` class.

[2022-11-02 17:57] #6889 closed

[2022-11-03 15:54] #6882 closed

[2022-11-03 17:11] #6825 closed

[2022-11-04 10:42] NicolasHug opened #6910 "ONNX test failing"
https://app.circleci.com/pipelines/github/pytorch/vision/21749/workflows/ff05601d-99c5-4c70-99a1-aa73f648b497/jobs/1762058

`torch.testing.assert_allclose` should just be replaced by `torch.testing.assert_close`

[2022-11-04 10:46] #6875 closed

[2022-11-04 12:59] #6910 closed

[2022-11-04 16:12] XuehaiPan commented on #6842
PyTorch 1.13 is released with Python 3.11 support.

[2022-11-04 21:25] datumbox commented on #6753
@rsokl @jangop we published the [blogpost](https://pytorch.org/blog/extending-torchvisions-transforms-to-object-detection-segmentation-and-video-tasks/). Looking forward to your input.

[2022-11-04 22:06] rsokl commented on #6753
Hi all,

I just [read the blog post](https://pytorch.org/blog/extending-torchvisions-transforms-to-object-detection-segmentation-and-video-tasks/) and have been exploring the prototype's internals for the last few of days: `torchvision.transforms` v2 looks great! I'd like to share my thoughts with you all.

First, let me summarize some of the primary features offered that are offered by v2. This w

[2022-11-04 23:50] pmeier commented on #6753
Thanks a ton for the kind words @rsokl! I think your summary is on point. Let me share my thoughts on your proposals.

### Allow `torch.Generator`

+1 from me on basically everything you proposed. I think the design is simple enough that this can be done quickly in case we decide to adopt it. pytorch/pytorch#79018 is unfortunate here, but if we as `torchvision` need that, we might be able to speed

[2022-11-05 07:04] mengpenghui commented on #6885
Recently, I read the cpu kernel of deform_conv2d, and compared it with the implementation of the original author's DCN
 hub (torchvision's implementation modified from this), specifically these two files:

torchvision:
https://github.com/pytorch/vision/blob/main/torchvision/csrc/ops/cpu/deform_conv2d_kernel.cpp
The original author's implementation:
https://github.com/chengdazhi/Deformable-Convolut

[2022-11-05 19:14] jangop commented on #6753
@rsokl Would you perhaps share a few words on why / how / in which regard Transforms V2 is “the simplest, most capable, and the easiest to extend”? Reading through the blog post, the one section I missed was _related work_ for context. Personally, I only have experience with _albumentations_. Coming from that, I am inclined to agree with your assessment.

[2022-11-06 19:32] nicobrb commented on #2934
Is there a tutorial on how to compile from source? I'm using Windows, I can't find anything online.

[2022-11-07 04:21] haosome6 commented on #6862
Did you solve this issue or find a way to avoid the error?

[2022-11-07 09:14] github-actions[bot] opened #6918 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow tests/download.
Please look into it:

https://github.com/pytorch/vision/actions/runs/3408923284

Feel free to close this if this was just a one-off error.

cc @pmeier

[2022-11-07 09:20] pmeier commented on #6918
Only CIFAR10 seems to be affected. CIFAR100 seems fine. The website is also still up: https://www.cs.toronto.edu/~kriz/cifar.html Let's give this a few days before we act.

[2022-11-07 13:01] ambujpawar commented on #6323
I am (almost) finished with the Mixup for Detection. Would like to pickup [Deformable DeTR](https://arxiv.org/abs/2010.04159) next, since its not taken up yet.
Shall I create a issue and a draft PR for this issue like done previously?

[2022-11-07 13:07] datumbox commented on #6323
@ambujpawar I was wondering if you could perhaps support on normal DeTR first. The work has previously started at #5922 but was not completed. Let me know if that's of interest.

[2022-11-07 14:18] ambujpawar commented on #6323
Sure, it seems interesting. I thought other contirbutors were already working on it. Therefore, chose the different one.
I will pickup the normal DeTR then :)

[2022-11-07 14:29] datumbox commented on #6323
Yes good idea, create an issue and perhaps ping the devs who are on the PR to see if there are opportunities for collaboration. We've done previously shared PRs (for FCOS, see #4961) so this might also work here. Otherwise we can find another ticket for you. I just wanted to make sure we add DeTR soon as it would be the first Transformer-based detection model, something missing in TorchVision at t

[2022-11-07 14:42] ambujpawar opened #6922 "NEW Feature: DeTR Model to torchvision"
### 🚀 The feature

Adding the first Transformer-based detection model to Torchvision. A draft PR was submitted regarding the model: #5922
but a Github Issue regarding it did not exist. Therefore creating it now.

Paper: [here](https://arxiv.org/abs/2005.12872)
Official implementation: [here](https://github.com/facebookresearch/detr)

Pinging @xiaohu2015 and @deepwilson if you guys would like to co

[2022-11-07 15:56] #6750 closed

[2022-11-07 17:35] oke-aditya commented on #6922
One problem I do see is that DETR at one step uses scipy.linear_assigment.

How are we going to do that in torchvision? Scipy is not a hard dependency for us

[2022-11-07 19:07] haosome6 commented on #6862
In my case, under the main data directory, each class in the error message has two directories, one contains videos, and another is empty. After I delete empty directories, the error is solved. But I got a new issue that loading the dataset will fail at the same point because of DataLoader worker fails.

[2022-11-07 20:59] bencevans commented on #1775
There's been further discussion more recently on #1574. Similar ideas have been drawn in terms of 2 arguments determining the return mode for each of loss and output, with #1574 introducing a 3rd overarching `return_tuples` with checks based on the return modes and targets availability given the values of the arguments.

[2022-11-07 21:19] bencevans commented on #1574
I've just started trying to implement @NicolasHug's design specced out in  https://github.com/pytorch/vision/issues/1574#issuecomment-779360258.

https://github.com/pytorch/vision/compare/main...bencevans:vision:detection-output+loss

As @frgfm mentions in https://github.com/pytorch/vision/issues/1775 (duplicate issue), `RoiHeads` and `RegionProposalNetwork` will require changes, too, to force the

[2022-11-07 22:04] ambujpawar commented on #6922
Thanks, I did not know that.
Perhaps, linear_sum_assignment from scipy.optimize has to be ported to torch?

[2022-11-07 23:37] mthrok commented on #6878
The best I can think of is to use the underlying implementation of torchaudio's StreamReader.
It is not public API, and, base64 data has to be decoded separately.

[code]

[2022-11-08 02:47] FlorinAndrei commented on #6753
What is the minimum version of torchvision that has the transforms V2 prototype?

[2022-11-08 03:24] FlorinAndrei commented on #6753
Is there an estimate in terms of either time, or version number, or both, for when the v2 transforms will be included in pytorch-stable?

[2022-11-08 04:35] jcowles commented on #6925
As noted above, the PyTorch install page says Python 3.7 is still supported.

Its fine to change that, but the official install page should reflect the accurate minimum supported python version.

[2022-11-08 04:42] FlorinAndrei commented on #6753
test case: image segmentation with SegFormer. My dataset has images and masks organized in tuples. I am following this example:

https://huggingface.co/blog/fine-tune-segformer

I need to make sure that geometric transforms (horizontal flip, rotation, affine, perspective) are applied randomly, but are applied the exact same way to each image and its corresponding mask. I am testing with horizontal

[2022-11-08 05:17] oke-aditya commented on #6922
Officially I don't think so. But we can try to port the scipy code

https://github.com/scipy/scipy/blob/v0.18.1/scipy/optimize/_hungarian.py

I can help you with DETR I have some experience on using it.

[2022-11-08 05:18] oke-aditya commented on #6922
My other concern is the background class choice

In current torchvision models 0 label is considered as background. But I guess for DETR label 0 is not background.
I don't remember exactly. I need to see a bit.

[2022-11-08 07:18] pmeier commented on #6753
Hey @FlorinAndrei

We are aiming to publish it with the next release, i.e. `torchvision==0.15.0`. The exact date is not yet available. We operate on a 3-4 months release cycle and the last release just happened on the 28th of October. So you can expect this to be released in February or March 2023.

No. Apart from JIT, the transforms are BC and thus there should be no complications. You can have a

[2022-11-08 08:59] GuWei007 commented on #6885
https://github.com/open-mmlab/mmcv/blob/master/mmcv/ops/modulated_deform_conv.py
The logic of  mmcv version  seems more reasonable

[2022-11-08 09:19] datumbox commented on #6925
@jcowles I think the best solution would be probably to update to the latest Python 3.7.x minor. Perhaps it's worth changing the documentation to indicate that 3.7.2 and above is supported.

[2022-11-08 09:33] datumbox commented on #6922
I think given that the original repo uses `scipy.optimize.linear_sum_assignment` only for training, it's OK to keep it as optional dependency. This means that we can still make the model work without it during inference and thus be jit-scriptable. Currently there are no plans to adding it on core, and give that Scipy's [implementation](https://github.com/scipy/scipy/blob/f48e1d2532aca1bcdb67b38d11

[2022-11-08 10:38] NicolasHug commented on #6925
@malfet the current lower bound is set to `3.7`

https://github.com/pytorch/vision/blob/bf58902b2fd881c760cd2eeacfae2d7c468ebf1f/setup.py#L549

so depending on the users environment, it's seems possible to install torchvision with `3.7.0` (even from a clean env) and observe the original failure here.

Do you know if we're planning on a bugfix release soon? If we are, we might want to either:
- a)

[2022-11-08 11:13] henryleemr opened #6928 "Resize not working during inference"
Hi, I've trained a model that uses the Resize function, and it trains fine on my M1 laptop. However, when I modify the model from `pt` to `ptl` file and do inference

I get the following error on the side:
<img width="941" alt="Screenshot 2022-11-08 at 6 59 43 PM" src="https://user-images.githubusercontent.com/9785146/200547580-f1796675-00e0-4d98-9d9e-4836e0455884.png">

To give some context:
The

[2022-11-08 11:32] datumbox commented on #6928
@henryleemr thanks for raising this.

I'm having issues reproducing your problem. Perhaps it's because I had to modify your code to make it run without local files.

Here is what I did:
[code]

prints out:
[code]

Did I misunderstand the issue?

[2022-11-08 11:38] henryleemr commented on #6928
Ah thank you for making a working version, yes inference seems to work fine on python, but not on the Objective C script. I'll include the Objective C inferencing code here, one moment...

[2022-11-08 11:42] datumbox commented on #6928
Hmmm. It might be an issue on the JIT side. Let's loop in a couple of people from the compiler side to get their opinion @gmagogsfm, @eellison, @suo

[2022-11-08 11:44] henryleemr commented on #6928
The inference script I use is similar to this: https://github.com/pytorch/ios-demo-app/blob/master/ViT4MNIST/ViT4MNIST/InferenceModule.mm

So I load the `.ptl` file path into the Objective C inference code to do predictions

in this line:
[code]

And the error occurs within the model itself (meaning it never gets past this line of code.

[2022-11-08 15:26] vsuryamurthy opened #6931 "Backbone with FPN on top of Swin Transformers"
### 🚀 The feature

Adding a backbone with FPN on top of swin transformers similar to the already available resnet_fpn and mobilenet_fpn backbones (https://github.com/pytorch/vision/blob/main/torchvision/models/detection/backbone_utils.py). I do have a working version (need to be confirmed by the authors  if it is what was used in the paper for comparisons) in a separate branch. However, as per pro

[2022-11-08 16:05] datumbox commented on #6931
Thanks for offering to help @vsuryamurthy. There are certainly lots of interesting newer backbones that can be combined with FasterRCNN/MaskRCNN. Because the number of such combinations can be easily explode, we currently offer variants that were included on the original paper. This is because the effort of configuring and training new variants is non trivial and can quickly add up. Nevertheless w

[2022-11-08 18:50] tobaiMS commented on #6806
Hi, @datumbox  @BowenBao , want to follow up on this thread :)

[2022-11-08 21:43] jcowles commented on #6925
@datumbox oh, I have no problem upgrading, I'm already unblocked, my concern is (as @NicolasHug points out) that the minimum version of Python declared does not agree with the actual minimum version required.

[2022-11-08 22:52] Perry45 commented on #1574
Ok I came up with this idea for roi_heads.py:

`        if targets is not None:
            if self.training:
                proposals, matched_idxs, labels, regression_targets = self.select_training_samples(proposals, targets)
            else:
                proposalsV, matched_idxs, labels, regression_targets = self.select_training_samples(proposals, targets)
                box_featuresV = s

[2022-11-09 01:44] henryleemr commented on #6928
A more detailed inferencing script:
[code]

For your convenience cc @gmagogsfm, @eellison, @suo

[2022-11-09 02:00] maxoppelt commented on #6753
I understand the need of wrapping the torch.Tensor class to mimic the behavior of "matching"  transformations for a specific input type using ``_transformed_types`` class variable.  However, as far as I can understand the user directly handles / sets these types. This might lead to  inconsistent behavior with functionalities commonly used and provided by inheritance of the th.Tensor class. I have

[2022-11-09 06:56] pmeier commented on #6753
@maxoppelt

Not sure I understand. `Transform._transformed_types` is a way to specify which types you want to transform or on the flip side for which you want no-op behavior. Most transformations use the default

https://github.com/pytorch/vision/blob/7a7ab7e7c1f0b6b062627b8151848aa86c86e2d2/torchvision/prototype/transforms/_transform.py#L16

meaning all tensors and PIL images will be transformed.

[2022-11-09 08:06] vsuryamurthy commented on #6931
Yes understood and I completely agree with you. My only motivation was the fact that swin transformer is quite popular and has high score with MaskRCNN but I can imagine that being surpassed in a short duration and we are left with another state of the art. Lets do according to what you proposed. Thank you :)

[2022-11-09 09:29] datumbox commented on #6925
@jcowles Thanks for confirming. You are right. We have retroactively updated our docs to indicate this. Based on @malfet feedback (see https://github.com/pytorch/vision/pull/6926#pullrequestreview-1173048018), the expectation is that we should be supporting newest patch revision of Python. But I agree with you that this need to be indicated clearer on our docs on the future.

[2022-11-09 09:55] NicolasHug commented on #6925
Just to be clear this isn't a doc issue, this is a packaging issue: `pip` or `conda` won't read the docs, they care about what's in `setup.py`

[2022-11-09 10:41] indrajeetapache commented on #6925
I think that's right .

They don't care what's mentioned in the document.

On Wed, 9 Nov, 2022, 15:26 Nicolas Hug, ***@***.***> wrote:

[2022-11-09 11:04] maxoppelt commented on #6753
@pmeier: Yes I agree and I think it's great that you can define Transformations with op or no-op depending on the specified ``feature``. Thanks for laying out the implementation again, but my concern is more about the user interface and the way of specifying these types. Let me give you a small example, a user would assume (without reading our last two comments in this feedback ticket) would work:

[2022-11-09 11:46] vfdev-5 commented on #6753
@maxoppelt thanks for your feedback and discussion! Concerning your point about

and your examples:

[code]
and
[code]

What do you think would be a consistent/expected behaviour ? Should they raise an error instead ?

[2022-11-09 11:56] pmeier commented on #6753
@maxoppelt

You are right that the communication of this needs to be clear. Right now documentation is scarce, but this will change before the release. Basically the rule is: "if you perform any operation on tensor subclasses outside of our builtin transforms, you need to wrap again". We will have detailed documentation about how to write a custom transform that will cover this.

We thought about

[2022-11-09 15:25] malfet commented on #6925
For the reference, see https://github.com/pytorch/pytorch/issues/74087 and https://github.com/pytorch/pytorch/issues/74203

[2022-11-09 16:10] pmeier opened #6937 "Check tolerances for prototype transforms kernel reference tests"
Restoring the tolerances to

https://github.com/pytorch/vision/blob/f32600b66d9c03682ccd975e442e67c609fd7f0a/test/prototype_transforms_kernel_infos.py#L64-L67

that will be cranked up by #6934 surfaces failures on the following kernels in the reference test:

- [x] `adjust_brightness_image_tensor`
- [x] `adjust_contrast_image_tensor`
- [x] `adjust_gamma_image_tensor`
- [ ] `adjust_hue_image_tensor

[2022-11-09 18:09] BowenBao commented on #6806
Hi @tobaiMS thanks for reporting. we are blocked on https://github.com/pytorch/pytorch/pull/83201 moving ONNX to opset18 inside PyTorch. Once that is merged, this issue can be attempted by using the opset18 Resize. Tracking this issue in our project board.

[2022-11-09 19:16] maxoppelt commented on #6753
@vfdev-5

Depends, I could image something like

[code]

would be self-explanatory and result in something like this:

![masked](https://user-images.githubusercontent.com/2183311/200884111-53988ef5-d2fb-44ab-afa7-08b4f5d26203.png)

Raising an error is probably too much, as it might be a valid operation... It is just not clear that any operation using a `feature` class will result a **non**-`featur

[2022-11-10 02:51] dstkibbrom commented on #5039
I

I have been getting similar error but fixed it with the recommendation from @pmeier, but instead of adding the ssl script like he suggested, editing the Pytorch library url has worked for me. In the library the url has a value of "https://www.cs.toronto.edu/~kriz/cifar-10-python.tar.gz". To bypass the error we just have to change the url to one with out the ssl, http://www.cs.toronto.edu/~kriz/

[2022-11-10 03:08] FlorinAndrei commented on #6753
@pmeier In the example above, I actually use `train_transforms2()` which is applied to both images and masks. However, that is not why my code was failing to apply the transforms in a coordinated fashion. I've tried Albumentations instead, and I got the same bad result.

The reason is that I was invoking the dataset twice: once to get the image, and again to get the mask. Those were two separate a

[2022-11-10 09:15] datumbox commented on #6753
@maxoppelt

You are absolutely right. This is very confusing. This is a placeholder name until we find something better. We need a concept for the base tensor class that can be reused for Images, Videos, BoundingBoxes, Labels, Masks etc. Naming is NP-hard, any help on that front would be highly appreciated...

[2022-11-10 11:34] datumbox commented on #6818
@pmeier I'm keeping the list up-to-date with all linked PRs. I'm marking as `[NEEDS RETEST]` any kernel that I touch to run further benchmarks and update the numbers.

[2022-11-10 12:20] vadimkantorov commented on #6818
An interesting question is whether a sequence of these transformations can be fused with Inductor/Dynamo and produce a fused low-memory-access CPU kernel

[2022-11-10 12:30] vadimkantorov commented on #6799
Related: https://github.com/pytorch/pytorch/issues/35666 https://github.com/pytorch/pytorch/issues/41527 https://github.com/pytorch/pytorch/issues/66707

[2022-11-10 15:25] pmeier commented on #6937
It seems `adjust_hue` also has quite the difference on v1:

[code]

[code]

[2022-11-10 19:16] kilicsedat commented on #4218
Hi;

I am having the same problem, when trying to work on some videos.This is what I get:

RuntimeError: Not compiled with video_reader support, to enable video_reader support, please install ffmpeg (version 4.2 is currently supported) and build torchvision from source.

I tried to install torchvision  and latest version of ffmpeg from the source. I am still getting the same error.

[2022-11-11 00:14] jgoo9410 opened #6946 "Compatable versions of PyTorch and torch vision reporting mismatch"
My install:

[code]

Error:
RuntimeError: Couldn't load custom C++ ops. This can happen if your PyTorch and torchvision versions are incompatible, or if you had errors while compiling torchvision from source. For further information on the compatible versions, check https://github.com/pytorch/vision#installation for the compatibility matrix. Please check your PyTorch version with torch.__version__

[2022-11-11 03:05] rsokl commented on #6753
Perhaps `DataTensor`? It risks being a bit vague, but it does convey "these are things are all forms of training/testing data".

[2022-11-11 05:17] 1e100 commented on #5371
Ran into this under Bazel when using `rules_python`

[2022-11-11 06:29] 1e100 commented on #6869
Bazel also fails with the same error when using `pip_parse` rule from `rules_python`.

[2022-11-11 08:10] pmeier commented on #6753
The naming issue is not new. See for example the thread in #5045. We used "feature" in the beginning since that is what [`tensorflow-datasets`](https://github.com/tensorflow/datasets/tree/master/tensorflow_datasets/core/features) used. X-posting some of the comments / suggestions from the other thread here

- https://github.com/pytorch/vision/issues/5045#issuecomment-988603265

- https://github.co

[2022-11-11 08:11] pmeier commented on #6491
@datumbox I think we have that now, right?

[2022-11-11 10:50] #6491 closed

[2022-11-11 20:15] taherpoonawala commented on #6643
is the issue fixed? I'm getting below error:
[/usr/local/lib/python3.7/dist-packages/torchvision/datasets/utils.py](https://localhost:8080/#) in download_file_from_google_drive(file_id, root, filename, md5)
    279     if md5 and not check_md5(fpath, md5):
    280         raise RuntimeError(
--> 281             f"The MD5 checksum of the download file {fpath} does not match the one on record."

[2022-11-12 08:24] kuangxiaoye commented on #3332
it works！ Thanks~

[2022-11-12 09:46] datumbox commented on #6946
Pytorch nightly (1.14) should be paired with TorchVision nightly (0.15).

[2022-11-12 11:23] jgoo9410 commented on #6946
[code]

Sill getting an incompatibility error.

The nightly torch vision repo seems to be providing me with 0.14, and if @datumbox is right, then that's why I'm getting the error. Could it be be because I'm using the arm version of python?

[2022-11-12 12:09] szigetif commented on #3058
I had the same problem with torch==1.7, torchvision==0.8, and torchaudio==0.7 on CUDA 10.2. Removing them and reinstalling torch==1.7.1, torchvision==0.8.2, and torchaudio==0.7.2 instead with pip solved it for me. For picking the right versions the following link was useful: https://pytorch.org/get-started/previous-versions/
Hope it helps, God bless!

[2022-11-12 12:49] oke-aditya commented on #6946
Some small mistake in the command you --pre for torchvision to take nightly. Try this

[code]

[2022-11-12 22:14] pmeier commented on #6946
For a better UX, you can also use [`light-the-torch`](https://github.com/pmeier/light-the-torch):

[code]

(Disclaimer: I'm the author of `light-the-torch` so take my opinion on this with a grain of salt.)

[2022-11-13 10:55] henryleemr commented on #6928
Resolved this! It was a tensor size error! thanks everyone!

[2022-11-13 10:55] #6928 closed

[2022-11-14 00:01] vadimkantorov commented on #5461
One in-the-wild usecase for a simple batch image reading function: https://github.com/pytorch/pytorch/issues/88978

[2022-11-14 17:38] weiwangmeta commented on #6869
Looks like the fix would be using @groodt 's command and re-upload the binaries?

[2022-11-14 19:20] malfet commented on #6869
Do we know what have caused the regression?
Also, imo we should produce correct binaries and publish the fix for 1.13.1 (if we are doing it).
Likely affects other wheels that we publish

[2022-11-14 21:33] groodt commented on #6869
I don’t think my fix would work exactly. It changes the wheel name. I’ve not looked too much into it, but something has changed that prevents this line from executing.

https://github.com/pytorch/vision/blob/b1f6c9e271368cd84837522af39e68dd4b5768a7/packaging/wheel/relocate.py#L301

[2022-11-14 21:50] weiwangmeta commented on #6869
Confirmed 0.13.1 works "python3 -m installer --destdir . torchvision-0.13.1-cp39-cp39-manylinux1_x86_64.whl", so indeed a regression.
We will compare the difference between 0.13.1 and 0.14.0 cc @atalman

[2022-11-15 09:31] rgkannan676 commented on #5439
@Javacr  @SorourMo Thank you for the update. I was able to run the model in CUDA mode.

Some notes:  If using 'LibTorch Project extension' for visual studio, add the touch vision .dll files to 'Properties -> Linker -> Input -> Additional Dependencies'.  Adding the lib folder to 'Properties -> Linker -> Additional Library Directories'  didn't work for me.
-> The version worked for me - CUDA- 11.6 ,

[2022-11-15 12:55] CedricPicron commented on #6753
Hi. As a PhD student working on object detection and instance segmentation, I'm very happy to see this added to torchvision. I'm eager to use this new transforms API in my own code base.

### Possible inconsistencies between boxes and masks
When doing (box-based) instance segmentation, both target boxes and target masks need to be provided to the model. As written in the blog post, one would use

[2022-11-16 09:41] pmeier commented on #6753
Hey @CedricPicron and thanks for your feedback. I agree that we need to touch on this in the documentation to explain what is happening.

There is already an operator for it: [`torchvision.ops.masks_to_boxes`](https://github.com/pytorch/vision/blob/ad128b753c7e8cc0c600dfddac22ff48fc73c9d9/torchvision/ops/boxes.py#L386). We haven't wrapped it inside a transform or a method on `Mask` yet. This is st

[2022-11-16 12:18] CedricPicron commented on #6753
Hi @pmeier. Thanks a lot for your detailed response!

I like the proposed solution based on the `TightenBoundingBoxes` transform. I think it's a flexible solution, similar to the existing `ClampBoundingBoxes` and `RemoveSmallBoundingBoxes` transforms. It would be nice to see `TightenBoundingBoxes` added to  Transforms V2.

Some additional comments:

1. I think it's important that users can easily

[2022-11-16 14:16] vfdev-5 opened #6957 "Fix GHA Linux GPU Job not running tests on CUDA"
Currently "[Unit-tests on Linux GPU](https://github.com/pytorch/vision/actions/workflows/test-linux-gpu.yml)" is not running cuda tests but supposed to.

For example, on main:
- https://github.com/pytorch/vision/actions/runs/3471795920/jobs/5801756501#step:8:17508
[code]

Context: https://github.com/pytorch/vision/pull/6804#issuecomment-1305493672

cc @seemethere

[2022-11-16 14:50] CedricPicron commented on #6753
Yes, using `NoBoundingBoxesContainer` is a nice solution.

I guess the key for users will be to have good documentation and examples regarding the implementation of custom `container`-like and `transform`-like transforms, but I'm sure you guys already have things planned.

Thanks @pmeier for the quick responses and good luck finalizing this project. I hope the feedback was (somewhat) useful.

[2022-11-16 15:44] #6925 closed

[2022-11-16 22:37] jgoo9410 commented on #6946
Sorry, haven't had a chance until tonight. Id like to utilise the GPU. As far as I understand it, I need to target the "mps" as the device. Should I not be downloading the GPU version of torch vision to achieve that?

[2022-11-17 09:42] #6499 closed

[2022-11-17 10:52] YosuaMichael commented on #6878
Similar to @mthrok , we can do this with `torchvision.io.image` API for decoding image. However need to decode base64 separately (I can't find a torchscript-able way to decode `base64`).

[code]

[2022-11-17 12:59] BUGUANLAN commented on #6761
i meet the same problem ,my torchvision's version :0.2.2 ,i know the version is too low ,so the torchvision hasnot 'get_model'.have you resolve it? my GPU is very old ,so i cannot update my torchvision ,i donot know how to make it .can you share your ideal?

[2022-11-17 14:37] bingoct commented on #6869
version 0.13.1 is  still installed fail by pdm.
Python version 3.8.10
Pdm version 2.2.1
[code]

[2022-11-17 14:42] datumbox commented on #6761
@BUGUANLAN The `get_model()` method was added at v0.14. If you can't upgrade to the latest version due to hardware constrains, then I think the best option for you would be to fetch the models by using the legacy idiom:
[code]

Given there is nothing to resolve, I'll be closing this issue.

[2022-11-17 14:42] #6761 closed

[2022-11-17 15:30] pri1311 commented on #6435
Could I give it a try? Seems like a good issue to start with.

[2022-11-17 15:39] oke-aditya commented on #6435
Sure. I can help you with this.

@datumbox this was the next one on my plate and I will help @pri1311 on this

[2022-11-17 15:46] oke-aditya commented on #6946
Yes. GPU on MacOS I think. (If mps is Mac M1)

[2022-11-17 21:20] yassineAlouini commented on #6404
Some more progress @datumbox: I finally made the V1 work (I think), I am cleaning the code a bit and then will push it for a first round of reviews (to make sure I am on the right track).
I will then focus on training the model to get the weights.
Will let you know once it is pushed. Thanks in advance for your help!

[2022-11-18 01:00] brando90 opened #6967 "Padding for RandomCrop does not match description in documentation"
### 🐛 Describe the bug

RandomCrop does not behave as expected. It should add padding to all sides according to the docs but only puts it at the bottom:

I discovered & confirmed that by doing it on cifar. But note this NOT what [the docs say for RandomCrop](https://pytorch.org/vision/stable/generated/torchvision.transforms.RandomCrop.html):

it says something very similar [to pad](https://pytorch

[2022-11-18 07:03] pri1311 commented on #6435
Thank you @oke-aditya!
A question - we are looking to implement multiclass dice loss, correct?

[2022-11-18 07:24] oke-aditya commented on #6435
Well I was originally thinking dice loss is binary classification for semantic segmentation models. Where you want to separate background and the object.

I think our semantic segmentation models output is a logit score for each pixel belong to a class.  In a sense semantic segmentation models are not multi class. They distinguish object vs background.
Refer
https://pytorch.org/vision/stable/auto_

[2022-11-18 07:52] pri1311 commented on #6435
Ahh alright, shouldn't be too hard to add binary dice loss.

In the discussion here - https://github.com/pytorch/pytorch/issues/1249#issuecomment-305088398 there were mentions of multiclass dice loss, also I think Kornia supports multiclass dice loss. So just wanted to confirm once.

[2022-11-19 05:55] pri1311 commented on #2707
Hey, I was currently working with [SegFormer](https://arxiv.org/abs/2105.15203), [TransUnet](https://arxiv.org/abs/2102.04306), [UNETR](https://arxiv.org/abs/2103.10504) (although I am working with medical imaging datasets solely now).

Both of them are relatively new models (early 2021) but they have shown good results and also have a fair amount of citations.
Any thoughts from the maintainers, o

[2022-11-19 09:17] oke-aditya opened #6961 "Update reference scripts to fully reproduce Video Swin Transformer results"
### 🚀 The feature

We currently ported the weights for swinTransformer3D. It would be nice to have references that can fully reproduce the results of paper.

### Motivation, pitch

So this is a 3 step plan as discussed offline

- [ ] As described in the paper, Use Swin2D weights weights and inflate them to make it compatible with swin3d. cc @oke-aditya
- [ ] Modify the reference script a bit so it

[2022-11-19 09:25] github-actions[bot] opened #6962 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow tests/download.
Please look into it:

https://github.com/pytorch/vision/actions/runs/3502863934

Feel free to close this if this was just a one-off error.

cc @pmeier

[2022-11-20 14:59] adizhol opened #6964 "Add multihreaded build with setup.py"
### 🚀 The feature
multiple jobs when using setup.py

### Motivation, pitch

using cmake, it is straight forward to build with multiple jobs (i.e. make -j16), but using setup.py build with only a single cpu.

### Alternatives

_No response_

### Additional context

_No response_

[2022-11-20 16:54] yassineAlouini commented on #6404
Alright, `MobileVit `(the v1 version) runs finally 🎉 and I have pushed the code, if you have some time @datumbox I would love to get few first comments. Thanks. 🙏

I am starting the training step now and next will move to V2.

[2022-11-20 19:28] oke-aditya commented on #2707
Hi. While these models are new. These look to be specialized in medical image segmentation.

Are these also valid on general datasets such as Pascal VOC or COCO? Or is there any valid performance measurement over these standard datasets?

[2022-11-20 19:41] pri1311 commented on #2707
UNETR and TransUnet yes.

SegFormer, MaskFormer and DPT support Cityscapes, ADE2Ok coco, etc

[2022-11-20 20:00] Mindtrip-Inno commented on #1899
@Sstrap  How can i patch like in second example couldn't understand it. Can you please eleborate ? Like to which file torch.jit._script ? of which line

[2022-11-20 21:25] yassineAlouini commented on #6404
Alright, I have tried running:` torchrun --nproc_per_node=8 train.py --model mobile_vit_xxs` to train a model on my Windows laptop but it seems not promising. I will try this on a cloud instance or on colab. @datumbox is there some available torchvision infra to do this or should I do it on my own? Thanks. :)

[2022-11-21 06:07] JANGSOONMYUN commented on #3294
Hi, could I look at your full code in c++?

My case does not use only roi_align, but also other 2 more different models (detection and recognition).
Between 2 models, I used roi_align but I met the problem similar to your case.

But I don't understand how to use RegisterOperators in your solution. So if you don't mind, please let me know how to use it or just let me see the code.

[2022-11-21 07:06] pmeier commented on #6962
`PhotoTour` had some issues, but it seems to be fixed now.

[2022-11-21 07:06] #6962 closed

[2022-11-21 09:14] github-actions[bot] opened #6966 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow tests/download.
Please look into it:

https://github.com/pytorch/vision/actions/runs/3512922656

Feel free to close this if this was just a one-off error.

cc @pmeier

[2022-11-21 12:20] #6964 closed

[2022-11-21 22:05] ptrblck commented on #6967
I don't think you've explained the confusion, but posted this statement:

which is wrong.
As shown in my figure and seen in the corresponding code, padding is added to all borders.
You can rerun this code snippet to see that the crop will be randomly applied and different borders will be padded:
[code]

[2022-11-21 22:49] mikeklm commented on #6931
I'm interested in this @vsuryamurthy, if you wouldn't mind sharing. I wrote an fpn neck on top of swin-t backbone in the manner outlined above as well. Things run fine, but when I create a MaskRCNN model using my swin-t backbone with FPN neck, I get some index out of range error when I try to run.

[2022-11-22 06:25] kouyoumin opened #6969 "giga floating-point operations "per sec""
### 📚 The doc issue

Operations "per sec(ond)" should not be used here since there is no definitive input speed (fps),
[https://github.com/pytorch/vision/blob/deba056203d009fec6b58afb9fa211f6ee3328c8/docs/source/conf.py#L367](https://github.com/pytorch/vision/blob/deba056203d009fec6b58afb9fa211f6ee3328c8/docs/source/conf.py#L367)
[https://github.com/pytorch/vision/blob/deba056203d009fec6b58afb9fa2

[2022-11-22 07:16] pmeier commented on #6967
If all the confusion stems from the sentence

feel free to send a PR that changes it to something along the lines

This is in line with the documentation of `pad_if_needed`:

[2022-11-22 14:17] pmeier commented on #6957
The issue is twofold.

1. CUDA setup seems to be wrong. At least `torch.cuda.is_available()` is `False`. I've looked into it and it seems the Nvidia driver is either not installed or not setup correctly. See https://github.com/pytorch/vision/pull/6970#issuecomment-1323742503. @osalpekar could you have a look. My suggestion is to include an `python -c "import torch; exit(not torch.cuda.is_available

[2022-11-22 18:13] mizoru commented on #2929
This never materialized, right?

[2022-11-22 20:08] brando90 commented on #6967
Happy to re explain again. The post I made is long I must admit. But it was done with the intention to help.

I think what is confusing is that it's unclear what the order of operations.

I sincerely expect (for `RandomCrop`) that first the crop was done then the padding would be added. Thus not seeing pads at all was really confusing. Eventually I noticed a crop on one side which I took some time

[2022-11-23 09:17] github-actions[bot] opened #6973 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow tests/download.
Please look into it:

https://github.com/pytorch/vision/actions/runs/3530606654

Feel free to close this if this was just a one-off error.

cc @pmeier

[2022-11-24 07:59] Isalia20 commented on #5266
Not sure I understand why do we use anchors if FCOS doesn't need anchors. Can you explain a bit more?

[2022-11-24 10:15] pmeier commented on #6937
All the remaining kernels that exhibit these large tolerances, internally use interpolation. Unfortunately for us, the PyTorch ops don't match the interpolation behavior of PIL. Consider the following setup:

[code]

This gives this input

![object_input](https://user-images.githubusercontent.com/6849766/203754799-3d91b851-1022-434c-b5c4-6956335ec24d.png)

and the following outputs:

![object_outp