[2021-04-27 16:06] prabhat00155 commented on #3667
Yeah, that's true. I should move instantiating AnchorGenerator out of this cell.

[2021-04-27 16:10] NicolasHug commented on #3667
I'm not sure this is still what we want: this will give you an average over 1000 runs where the cache will be hit 999 times except for the first time.

In fact if the caching is super effective %timeit  will actually detect that the first run took much longer than the rest and give you a warning.

[2021-04-27 16:11] prabhat00155 commented on #3667
I do see an improvement with caching(after removing self._cache.clear()).
With caching:
[code]
Without caching:
[code]

[2021-04-27 16:16] NicolasHug commented on #3667
I get a similar 2X speed up with caching:

[code]

`357 ms ± 21.8 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)`

vs

`658 ms ± 54.1 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)`

[2021-04-27 16:16] prabhat00155 commented on #3667
Similar results with the script @NicolasHug suggested:
With caching:
[code]
Without caching:
[code]

[2021-04-27 16:34] voldemortX commented on #3673
@NicolasHug @Zhaoyi-Yan I'll try send a PR to clarify the doc after some paper re-reading.

[2021-04-27 16:34] datumbox commented on #3667
Thanks both.

Good spot for finding the benchmark issue @NicolasHug.

It would be useful to finally measure how much the performance changes during inference for end-to-end predictions. In other words, assume we are making predictions on a mobile device (cpu). How much time does it take on average to produce one prediction with and without the caching (after some burn in period)?

The reason I'm p

[2021-04-27 16:55] NicolasHug commented on #3667
+1 to assess how impactful the caching is in real-world scenarios.

If caching is proven useful, the safest solution might be to change the cache to an LRU cache as suggested in https://github.com/pytorch/vision/pull/1657#discussion_r356555134. The max_size of the cache could be configurable as a constructor argument?

[2021-04-27 17:40] neginraoof commented on #3737
Thanks @fmassa, we're okay with waiting for Union to go in.

@datumbox I updated the description.

[2021-04-27 20:23] #3690 closed

[2021-04-27 22:26] prabhat00155 commented on #3667
I don't see any difference in the numbers with `fasterrcnn_mobilenet_v3_large_320_fpn`. Here is what I did:
[code]
1. Capture using timeit:
[code]
With caching:
[code]
Without caching:
[code]
2. Loop
[code]
With caching:
[code]
Without caching:
[code]

[2021-04-28 07:56] datumbox commented on #3667
Thanks for providing the new benchmarks. So overall, the caching seems to reduce the Anchor generation time by almost half, nevertheless this step is short and does not have a material effect on the execution time of predictions.

There are two options here:
1. Replace the dictionary with an LRU cache so that there are no memory leaks or awkward calls to clear it.
2. Remove the caching completely

[2021-04-28 09:11] github-actions[bot] opened #3743 "Places365 server is not reachable"
Oh no, something went wrong in the scheduled workflow tests/download.
Please look into it:

https://github.com/pytorch/vision/actions/runs/792055330

Feel free to close this if this was just a one-off error.

cc @pmeier

[2021-04-28 09:34] prabhat00155 commented on #3667
Makes sense, thanks. I'll create a PR for this(option 2).

[2021-04-28 09:45] prabhat00155 commented on #3531
All the aforementioned tests have been ported to the new test framework.

[2021-04-28 09:45] #3531 closed

[2021-04-28 11:01] fmassa commented on #3667
Hi,

Thanks for the benchmarks @prabhat00155 !
Back when I added caching I remember seeing improvements for training / evaluation, but it is indeed good to re-evaluate the improvements with latest PyTorch.

One thing that I see was missing in the benchmarks is to perform the benchmarking using CUDA, which would give a different perception of how the caching improves things.

Another thing which ca

[2021-04-28 11:13] spurra opened #3746 "Details on pre-training of torchvision models"
I realize there is a closed issue on this topic here: https://github.com/pytorch/vision/issues/666

The issue has been opened in 2018. I have not found any documentation on how the models of torchvision are pre-trained, therefore I am opening another issue. Is the above answer still valid? Are the models still trained according to https://github.com/pytorch/examples/tree/master/imagenet ?
Specific

[2021-04-28 11:18] datumbox commented on #3746
Have a look on the [documentation](https://github.com/pytorch/vision/blob/master/docs/source/models.rst) and on the [readme](https://github.com/pytorch/vision/tree/master/references/classification). You will find hyper-params and script references along with detailed accuracies etc.

I'll close the issue to keep things neat but if you have more questions feel free to reopen.

[2021-04-28 11:18] #3746 closed

[2021-04-28 11:36] spurra commented on #3746
Thanks for the rapid response @datumbox
I found the image size to be 224 and that standardization with imagenet statistics was used (according to [the doc](https://github.com/pytorch/vision/blob/master/docs/source/models.rst). The [readme](https://github.com/pytorch/vision/tree/master/references/classification) you've sent contains ResNext, but unfortunately does not mention ResNet which I'm inter

[2021-04-28 11:43] datumbox commented on #3746
We use the same standardization and size in all models unless explicitly specified otherwise. As far as I recall the only model that deviates is InceptionV3 that uses a different input size (299x299). See:

https://github.com/pytorch/vision/blob/8317295c1d272e0ba7b2ce31e3fd2c048235fc73/references/classification/train.py#L85

[2021-04-28 11:44] spurra commented on #3746
Great, that's all the info I need. Thanks again @datumbox !

[2021-04-28 11:47] quasimik opened #3747 "MultiScaleRoIAlign.infer_scales fails on very oblong images"
## 🐛 Bug

If the first given image is very tall or very wide, `MultiScaleRoIAlign.infer_scales` throws an AssertionError.

## To Reproduce

Steps to reproduce the behavior:

in `test.py`:

[code]

execute:

[code]

## Expected behavior

Very oblong images should not cause this failure. At the very least, there should be a way to manually set up the pooling scales without relying on heuristics from

[2021-04-28 11:57] quasimik commented on #3747
An easy workaround is to make sure that the initial image is square-ish, because `infer_scales` only triggers once per instance.

[2021-04-28 12:28] prabhat00155 commented on #3667
@fmassa Do you have the benchmarking scripts that you used?

[2021-04-28 15:46] prabhat00155 commented on #3667
I re-ran the script on devgpu with similar observation.
[code]
Measure time for the following cell:
[code]
With caching:
[code]
Without caching:
[code]
In comparison, here are the CPU results(on the same machine):
With caching:
[code]
Without caching:
[code]

[2021-04-28 16:23] fmassa commented on #3667
@prabhat00155 note that performing benchmarking on the GPU requires adding synchronization points, otherwise the results might not be reliable.

This can be done via `torch.cuda.synchronize()` after the function call.

That's why the `Timer` from `torch.utils.benchmark` is handy because it takes care of this for you

[2021-04-28 17:38] oke-aditya commented on #3365
I think the time has come to work on this. I will illustrate what I have in my mind. I think that boxes can be plotted with `utils.draw_bounding_boxes` so we won't plot boxes with this utility.

Taken from [here](https://debuggercafe.com/human-pose-detection-using-pytorch-keypoint-rcnn/)

What do you think of this output @datumbox?

![image](https://user-images.githubusercontent.com/47158509/11644

[2021-04-28 17:57] datumbox commented on #3365
@oke-aditya I have not worked much with the keypoint models but it surely looks nice. :)

@fmassa thoughts?

[2021-04-28 21:17] eyolfson commented on #3695
The error is in `/usr/include/ATen/core/op_registration/op_whitelist.h` (which is part of PyTorch itself, it seems). If you remove the assert at the start of the function it'll compile. I'm assuming whatever is in the assert doesn't evaluate to a constant anymore, but I wasn't able to deep dive it.

[2021-04-29 09:25] xkszltl opened #3751 "Failed to build on latest pytorch master."
## 🐛 Bug

[code]

## Environment

 - PyTorch / torchvision Version (e.g., 1.0 / 0.4.0): master
 - OS (e.g., Linux): Ubuntu 18.04
 - How you installed PyTorch / torchvision (`conda`, `pip`, source): source
 - Build command you used (if compiling from source): pip install from git repo
 - Python version: 3.6
 - CUDA/cuDNN version: 11.3

[2021-04-29 10:54] prabhat00155 commented on #3667
I used `torch.utils.benchmark` to measure the time and it seems to be similar to the previously measured time.
[code]
With caching: 21.29 s
Without caching: 20.16 s

[2021-04-29 11:03] datumbox opened #3752 "Remove _has_warned attribute from detection models"
## 🚀 Feature
Several detection models make use of an attribute `_has_warned` which was originally used by JIT to avoid throwing the same warning multiple times:

https://github.com/pytorch/vision/blob/9778d2675ed33627c30fe2537911f5a4128433bd/torchvision/models/detection/retinanet.py#L373-L374

https://github.com/pytorch/vision/blob/9778d2675ed33627c30fe2537911f5a4128433bd/torchvision/models/detect

[2021-04-29 13:09] trougnouf commented on #3751
Likely the same as #3695

[2021-04-29 13:11] trougnouf commented on #3695
This makes it impossible to build on Arch Linux which already ships the latest versions of pytorch/cuda.

[2021-04-29 13:25] datumbox commented on #3667
@prabhat00155 Thanks for all the thorough checks.

I think the measurements so far are aligned with our knowledge that the majority of the time is being spent on convolutions and post-processing. Thus the optimizations in this class, though they do have measurable effect when studied in isolation, they don't practically affect the execution time during inference. I don't believe we have measured t

[2021-04-29 15:13] mattdeak opened #3753 "Refactor the `forward` method of the RoiHeads into separate methods for easier customization"
## 🚀 Feature
Break up the code in the `forward` method into several sub-methods and allow custom loss and inference functions.

## Motivation
I have a use case that requires implementing a different loss function for masks during training a Mask-RCNN, but designing this is somewhat messy right now. Ideally, I'd like to be able to inherit RoiHeads and then make a small change to a method like `proc

[2021-04-29 15:38] hubutui commented on #3695
@trougnouf what did you mean? The latest pytorch in Archlinux is 1.8.1 updated at 2021-04-16, but I still fail to build torchvison at 2021-04-28 which uses the latest pytorch and cuda 11.3, check the latest build log [here](https://build.archlinuxcn.org/~imlonghao/log/python-torchvision/2021-04-28T04%3A17%3A02.html)

[2021-04-29 15:45] trougnouf commented on #3695
Right, this bug prevents building torchvision on Arch Linux because it ships with the latest pytorch and cuda.

<details>
<summary>
Build failure log
</summary>
==> Starting build()...
No ROCm runtime is found, using ROCM_HOME='/usr'
Building wheel torchvision-0.9.0a0+af4ef99
PNG found: True
libpng version: 1.6.37
Building torchvision with PNG image support
libpng include path: /usr/include/libpng

[2021-04-29 15:47] hubutui commented on #3695
So we need to wait for the next release of pytorch?

[2021-04-29 15:48] dketterer commented on #3695
The root cause seems to be in [string_view.h](https://github.com/pytorch/pytorch/blob/v1.8.1/c10/util/string_view.h#L585) in PyTorch.

The error is in the comparison: `constexpr memory comparison is only supported for top-level integer or array-of-integer objects`.

I don't understand why pytorch compiles and torchvision doesn't. It looks like different compiler (nvcc) behavior between 11.2 and 11

[2021-04-29 16:01] trougnouf commented on #3695
Per @dketterer it seems to be the case.

In the meantime @eyolfson 's fix of commenting out `//assert(op_name.find("::") != string_view::npos);` in `/usr/include/ATen/core/op_registration/op_whitelist.h` appears to be working.

[2021-04-29 16:39] fmassa commented on #3667
Thanks for the checks @prabhat00155 !

I second @datumbox , let's get the caching removed.

[2021-04-29 17:22] datumbox commented on #3667
@prabhat00155 Do you want to keep this ticket open for also removing [this](https://github.com/pytorch/vision/pull/3745/files#r622030928) or you would like to raise a new issue? Whichever you prefer. :)

[2021-04-30 00:05] chudur-budur opened #3756 "An extremely simple cv2 based transform gives black/blank image"
## 🐛 Bug

I need to write a transform module to be used with `transforms.Compose` that corrects fish-eye distortion. However the code deosn't work and returns a black (all dark) image.

## To Reproduce

The class for distortion correction.
[code]

Use the above class in `Compose` as below:
[code]

The output image is a blank image. However, the if you copy and paste the contents in `__call__` func

[2021-04-30 00:57] hubutui commented on #3695
@trougnouf Is this fix merged to pytorch src? It's not a good idea to modify `/usr/include/ATen/core/op_registration/op_whitelist.h` during building torchvision. Hey, @svenstaro, would you mind adding this patch when building pytorch?

[2021-04-30 00:59] svenstaro commented on #3695
@hubutui sure, mail me a patch to the PKGBUILD.

[2021-04-30 01:02] hubutui commented on #3695
@svenstaro let me check if it works as expected first.

[2021-04-30 05:49] voldemortX commented on #3756
@chudur-budur Could you try use composed classes as a squence?

For example:

[code]

[2021-04-30 11:39] #3667 closed

[2021-04-30 12:44] pmeier commented on #3756
@chudur-budur I cannot reproduce your issue. The behavioral change from calling it individually or within a `transforms.Compose` makes little sense, since internally it is also simply called:

https://github.com/pytorch/vision/blob/78ed10cc51067f1a6bac9352831ef37a3f842784/torchvision/transforms/transforms.py#L59-L62

Could you recheck if the inputs are actually the same in both situations? If the

[2021-04-30 12:44] pmeier commented on #3743
Seems to be reachable again.

[2021-04-30 12:44] #3743 closed

[2021-04-30 14:46] fmassa commented on #3751
Is this issue still happening today? Our CI seems to be working fine.

[2021-04-30 16:30] #440 closed

[2021-04-30 18:41] harishsdev commented on #3562
as per observation from "torchvision/datasets/" below datasets need to be added,please update the pitch

LFW Labeled Faces in Wild
Market-1501 492 papers
MPII Human Pose
VGGFace2 Earlier requested in #1193 #2910 Here is tar.gz file. Hopefully we can add it
MovingMNIST Perviously approved in #2676 #2690.
iNaturalist #3292
LVIS

[2021-04-30 21:40] prabhat00155 commented on #3752
If I remove the `if` check from line [554](https://github.com/pytorch/vision/blob/9778d2675ed33627c30fe2537911f5a4128433bd/torchvision/models/detection/retinanet.py#L554-L556), I see the warning appear every time forward() is invoked. Here is what I did:
[code]
This prints the warning 10 times

[2021-04-30 21:41] prabhat00155 commented on #3752
If I remove the `if` check from line 554, I see the warning appear every time forward() is invoked. Here is what I did:
[code]
This prints the warning 10 times

[2021-05-01 08:54] xkszltl commented on #3751
The last log in our side for pytorch+torchvision (Fri Apr 30 02:27:17 UTC 2021) still shows the issue, checking again...

[2021-05-01 10:34] datumbox commented on #3752
Thanks for the investigation @prabhat00155!

Sounds like it's not fixed yet on the TorchScript side and can't remove it. I'll be closing the issue and we can revisit on the future once it's patched.

[2021-05-01 10:34] #3752 closed

[2021-05-01 12:35] voldemortX commented on #3673
@Zhaoyi-Yan I've sent a PR for this. I now believe your initial guess is correct, if you consider the height direction as x, width direction as y.

[2021-05-02 12:46] xkszltl commented on #3751
@fmassa I don't think it's fixed.

[2021-05-02 12:47] xkszltl commented on #3751
Also I noticed our pure cmake build of torchvision works fine, but pip build from git repo doesn't work.

[2021-05-02 13:26] xkszltl commented on #3751
Let me grab some log for you about the same file `nms_kernel.cu`:

CMake build:
[code]

pip build:
[code]

A clear difference is the simple `-isystem=/usr/local/include/torch/csrc/api/include` vs many `-I` for pytorch.
Wondering if there's any include with the same file name that can lead to the difference.

[2021-05-02 18:03] simonm3 commented on #2486
This would be useful not just for training but also inference on google coral tpu.
There is an xla version of nms but how does it work with torchvision? I have tried to adapt a forked version of torchvision but was unable to get it to work - it just hangs.

[2021-05-03 09:45] pmeier commented on #3562
Hey @harishsdev, not sure what you mean. From the original pitch only KITTI was added, which is correctly marked. In your list you left out CUB-200-2011, which is not supported yet. We do feature the `Caltech(101|256)` datasets, but they are not related other than coming from the same university.

[2021-05-03 13:14] tkietzma opened #3762 "Ecoset - a large-scale vision dataset"
## 🚀 Feature
We (original authors) would like to suggest the inclusion of ecoset, a new large-scale image dataset, to be included in torchvision.datasets.

## Motivation
Ecoset consists of 1.5m images originating from 565 basic-level categories that are of importance to humans. Categories were chosen to be (a) basic level (think "dog" instead of "cocker spaniel"), (b) most common in English langua

[2021-05-03 14:04] vadimkantorov opened #3763 "[docs] RandomResizeCrop signature quirks"
1. Why do we need to have so much precision: `1.333333333333`? `1.3` would suffice and be more readable
2. `<InterpolationMode.BILINEAR: 'bilinear'>`. It's not clear from this if the enum should be preferred or the constant. It's also not clear which type is used for InterpolationMode, especially given that for a long time only PIL.Image.InterpolationMode was supported, hence even new codebases ar

[2021-05-03 14:51] vadimkantorov commented on #3763
Also, string constant (despite ths string constant in the signature may be suggestive) does not work. Maybe it should work? That's the interface supported by the underlying `F.interpolate`?

[2021-05-03 16:57] vfdev-5 commented on #3716
@datumbox I think this issue can be closed as it was fixed by https://github.com/pytorch/builder/pull/750

[2021-05-03 17:01] vfdev-5 opened #3765 "[CircleCI] test_video_model is failing with segm fault"
## 🐛 Bug

Currently, linux gpu tests are failing with segm fault:

[code]
- https://app.circleci.com/pipelines/github/pytorch/vision/7810/workflows/cf6e0187-8a29-49d3-95ed-167531fb6ed0

This probably hides more failures seeing locally:
[code]

cc @seemethere @bjuncek

[2021-05-03 21:33] HamidShojanazeri opened #3767 "Failing to load the pre-trained weights on multi-gpus."
## 🐛 Bug

Downloading the pre-trained weights for following models, Alexnet, Resnet_152, Resnet -18, SqueezeNet, VGG11 and trying to load them on any gpu other than cuda:0, it throw error.

## To Reproduce

wget https://download.pytorch.org/models/alexnet-owt-4df8aa71.pth

[code]

## Error
_File "test_device.py", line 16, in
state_dict = torch.load("alexnet-owt-4df8aa71.pth", map_location=device2)

[2021-05-04 08:14] NicolasHug commented on #3763
@vadimkantorov thanks for the report, please feel free to open a PR to fix these (except for 3 maybe, which should be discussed in a different issue / PR since it's not related to the docs)

[2021-05-04 08:17] NicolasHug commented on #3702
Another report of the same issue: https://github.com/pytorch/vision/issues/3765

[2021-05-04 08:18] NicolasHug commented on #3765
@vfdev-5 if that's OK I'll close in favor of https://github.com/pytorch/vision/issues/3702 which was reported before

[2021-05-04 08:18] #3765 closed

[2021-05-04 08:21] vfdev-5 commented on #3765
@NicolasHug OK for me, sorry, I haven't seen your issue when searched for "CI" label.

[2021-05-04 08:23] vfdev-5 commented on #3702
@NicolasHug I tried that locally and could not reproduce it on 2-3 executions. I also think it should hide other failures with few other tests that are broken locally on my infra. Maybe, it worth also disable it before suggesting a fix.

[2021-05-04 08:26] vadimkantorov commented on #3763
I think (1) and (2) actually are about configuration of Sphinx / rendering ...

[2021-05-04 08:38] vfdev-5 commented on #3767
@HamidShojanazeri how about loading on cpu and then moving it to device2:
[code]
By the way, the model is on cpu as well.

[2021-05-04 08:38] NicolasHug commented on #3763
Yes, and they are still doc-related. My point is that 3) is about the API, and will require more discussions than the rest of the items: we can't move stuff around easily when they're public. So it's best not to address all of your points together in the same PR

[2021-05-04 10:01] fmassa commented on #3767
Hi,

This is probably related to #2068 -- some of the oldest model checkpoints in torchvision have been serialized with an old version of the serialization script, which could be the culprit here.

Note that we have re-uploaded the checkpoints and updated the model links recently. This fix is present in the torchvision nigthlies and will be available in the next release.

Can you double-check that

[2021-05-04 10:11] datumbox commented on #3716
Thanks!

[2021-05-04 10:11] #3716 closed

[2021-05-04 10:22] fmassa commented on #3702
I think the segfaults might be due to memory issues, but to be safe let's disable it for now

[2021-05-04 10:29] NicolasHug commented on #3767
I can't reproduce the issue using the latest AlexNet weights https://download.pytorch.org/models/alexnet-owt-7be5be79.pth

[2021-05-04 10:34] NicolasHug commented on #2473
This now fails with

[code]

which is similar to https://github.com/pytorch/vision/issues/3767

I'll try to update the weights of VGG as done for the other models in https://github.com/pytorch/vision/pull/3620, since it seems to have solved the other issue https://github.com/pytorch/vision/issues/3767#issuecomment-831841164

[2021-05-04 11:14] NicolasHug commented on #2473
BTW I can only reproduce the issue for `inception_v3_google-9aff3935.pth,  vgg11-7de3a66a.pth,  vgg13-b20e5c87.pth`
The rest of the VGG weights seem fine.

[2021-05-04 11:55] pmeier commented on #3762
Hey @tkietzma and thanks for the request. Our current guide line for adding new datasets is that they have to be well established before we consider them. For a list of candidates see #3562.

Although `ecoset` looks promising, it only was published this year (2021) and thus does not fulfill this requirement. For now it would be best, if you could release a small package yourself that wraps `ecoset

[2021-05-04 12:14] fmassa commented on #3747
The underlying problem in the example is that the image after downsampling by the network has a size of 1 in one of the dimensions (it would have been 0 if it wasn't for padding).

I think we can extend the checks to make sure that having `1` in the scaled size is a dummy value which can be bypassed in the check.

Although I would say that this is a corner case which is in principle bond not to wo

[2021-05-04 12:19] fmassa commented on #3767
FYI we still need to update some weights, see https://github.com/pytorch/vision/issues/2473 for more info.

We will be doing this shortly

[2021-05-05 07:42] fmassa opened #3771 "Replace `AutoNonVariableTypeMode` with `AutoDispatchBelowADInplaceOrView`"
`AutoNonVariableTypeMode`, which is used in our C++ backward kernels as in https://github.com/pytorch/vision/blob/9e6bdbabcf2a39563d69dad81d8fddef5800ae3f/torchvision/csrc/ops/autograd/roi_align_kernel.cpp#L88, is being deprecated and will be removed in the 1.10 release of PyTorch, see https://github.com/pytorch/pytorch/blob/master/docs/cpp/source/notes/inference_mode.rst#migration-guide-from-auto

[2021-05-05 08:31] shubhamkotal opened #3772 "Unable to get segmented mask output image"
.

[2021-05-05 09:16] github-actions[bot] opened #3773 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow tests/download.
Please look into it:

https://github.com/pytorch/vision/actions/runs/812861854

Feel free to close this if this was just a one-off error.

cc @pmeier

[2021-05-05 11:06] fmassa opened #3775 "Windows JPEG builds are failing on CI"
## 🐛 Bug

CI today has been failing with the following error
[code]

See https://app.circleci.com/pipelines/github/pytorch/vision/7858/workflows/3f6aa4f8-ba63-48d6-b939-4f97af2e3573/jobs/555947 for one example

[2021-05-05 11:12] fmassa commented on #3751
This seems to be an issue with PyTorch registration mechanism.

@ezyang is this a known issue in PyTorch?

[2021-05-05 12:09] datumbox commented on #3751
I noticed that you set `-D_GLIBCXX_USE_CXX11_ABI=1`. Could you try adding `-D_GLIBCXX_USE_CXX11_ABI=0` in your build flags?

[2021-05-05 12:10] NicolasHug opened #3776 "[RFC] A common dataset root"
Currently, all datasets have a mandatory `root` parameter, indicating where the dataset will be or has been downloaded.

It would be more convenient if users didn't need to pass the root, and just rely on some predefined default behaviour. Also, having a default for all datasets will allow places with no internet access (looking at you fbcode 👀) to dump all datasets once and for all at the root, a

[2021-05-05 15:38] parmeet commented on #3776
torchtext also have similar issues w.r.t datasets and currently try to solve them mostly through decorators.

1. **Regarding default root**: torchtext datasets also have mandatory root argument. [@_wrap_split_argument](https://github.com/pytorch/text/blob/master/torchtext/data/datasets_utils.py#L234) (among other things) adds a default './root' value to root argument by changing the function spec.

[2021-05-05 15:52] pmeier commented on #3776
I think the common dataset root is a really good idea and we should go for it. I know the current state makes it harder to maintain, but there are no urgent issues solved by this. Thus, I suggest we wait with the change until the new datapipe functionality, which will break `torchvision.datasets` on multiple other parts. One more BC breaking change won't make a difference.

[2021-05-05 16:03] prabhat00155 opened #3779 "Missing audio after calling read_video() with `sec` as unit"
## 🐛 Bug

Calling read_video() on a video file returns audio tensor with shape[1] as 0, when `start_pts` and `end_pts` is passed with `sec` as unit.

## To Reproduce

With `pts` as unit:
[code]
Output:
[code]
With `sec` as unit:
[code]
Output:
[code]

## Expected behavior

Similar audio output as returned with `pts` unit.

## Environment

[code]

## Additional context

cc @bjuncek

[2021-05-05 17:52] ezyang commented on #3751
I attempted to build a minimal repro for this but failed:

[code]

I'm OK with commenting out the assert (or ifdefing it so it doesn't run on nvcc) in pytorch core. Can someone send the patch?

[2021-05-05 17:54] ezyang commented on #3751
This was on nvidia/cuda:11.3.0-cudnn8-devel-ubuntu20.04 Docker image.

[2021-05-05 17:54] ezyang commented on #3695
re https://github.com/pytorch/vision/issues/3751#issuecomment-832889639 I'm OK with taking this patch (better if we only ifdef it out for nvcc). Send us a patch?

[2021-05-05 20:49] ibadamimarz commented on #2920
Any update on this feature please?

[2021-05-06 00:36] shubhamsidhwa commented on #2218
What was the solution for this issue ?

[2021-05-06 00:53] hubutui commented on #3695
`PKGBUILD` file for creating python-pytorch pkg is updated [here](https://github.com/archlinux/svntogit-community/tree/packages/python-pytorch/trunk), and the [patch](https://github.com/archlinux/svntogit-community/blob/d55f4d65ea01b6afb8f54e9eb3aa42ccfa769f55/trunk/fix-building-for-torchvision.patch). ArchLinux users could install python-torchvision from [ArchLinuxCN repo](https://github.com/arch

[2021-05-06 01:09] vadimkantorov commented on #3763
I propose to also have strings supported as interpolation mode (as Kornia does)...

[2021-05-06 06:00] hemasunder commented on #2019
could you solve this issue? I'm facing similar issues with masks

[2021-05-06 07:20] pmeier commented on #2218
@shubhamsidhwa If you don't set a `loader` for `datasets.ImageFolder`, internally

https://github.com/pytorch/vision/blob/90a6206c5ca2ab26190cb89c2e42d95e0ece8c90/torchvision/datasets/folder.py#L264-L269

is used. Since `accimage` is an extra installation and activation step, I'm guessing it is falling back to `Pillow` in your case:

https://github.com/pytorch/vision/blob/90a6206c5ca2ab26190cb89c2

[2021-05-06 09:51] pmeier commented on #3773
Seemed to be a one of error.

[2021-05-06 09:51] #3773 closed

[2021-05-06 10:17] MohamedAliRashad opened #3782 "ToTensor confuse me with the way it takes input"
So the `ToTensor` class of `to_tensor` function takes input in the dimension of (H, W) while PIL has it's images dimension be (W, H).
Why is this transpose ?

cc @vfdev-5

[2021-05-06 11:35] datumbox commented on #3763
@vadimkantorov The use of "enum-style" modes was a deliberate choice in order to make the code easier to read/navigate/refactor.

[2021-05-06 11:52] vadimkantorov opened #3783 "[docs] Unclear if to_pil_image / to_tensor copy or zero-copy"
It currently uses a vague language "convert". It's not sure if "conversion" incurs a copy or not

[2021-05-06 12:22] vadimkantorov opened #3784 "Could T.Lambda be nn.Module?"
It would allow it to be placed in nn.ModuleList for passing to RandomApply (for scriptability)

https://pytorch.org/vision/stable/transforms.html#torchvision.transforms.RandomApply

[2021-05-06 13:12] fmassa commented on #3784
Hi,

@vfdev-5 has more context on this and please correct me if I'm missing something.

We tried doing it, but it wouldn't be possible to make it scriptable IIRC, and there were some other things that could be misleading to users.

There is some more discussion in https://github.com/pytorch/vision/pull/2645, but I'll let @vfdev-5 give more details

[2021-05-06 13:26] fmassa commented on #2019
Hi,

We added a new function `draw_segmentation_masks` in https://github.com/pytorch/vision/blob/c2ab0c59f42babf9ad01aa616cd8a901daac86dd/torchvision/utils.py#L228-L252 which can be used to plot the segmentation masks of segmentation models (including Mask R-CNN).

I believe I've answered your question, and as such I'm closing this issue, but let us know if you have further questions

[2021-05-06 13:26] #2019 closed

[2021-05-06 13:30] fmassa commented on #3756
Hi,

I think the issue might be that you are comparing the output of an OpenCV read image (which is between 0-255 in BGR format) while torchvision uses images between 0-1 in RGB format.

Once you fix this, it should work fine.

I believe I've answered the question and as such I'm closing this issue, but let us know if you still face problems

[2021-05-06 13:30] #3756 closed

[2021-05-06 13:39] vadimkantorov commented on #3784
Real-life usecase: https://github.com/facebookresearch/dino/issues/28 (also partly because Solarization does not exist as a module)

[2021-05-06 15:45] vfdev-5 commented on #3782
PIL.Image.size reports (W, H) and not (H, W), see https://pillow.readthedocs.io/en/stable/handbook/concepts.html?highlight=size#size

As tensor we need to have B, C, H, W format thus it may seem that there is a transpose.

[2021-05-06 17:09] datumbox commented on #3783
I believe these two methods copy. This is because they go from one backend to a completely different one (say from PIL to PyTorch Tensor stored on GPU or vice-versa).

[2021-05-06 17:11] datumbox commented on #3782
+1 on @vfdev-5 answer, this is the reason.

I'll close the issue to keep things neat but please feel free to reopen if you still have issues.

[2021-05-06 17:11] #3782 closed

[2021-05-06 20:20] NicolasHug commented on #3783
This is worth double-checking but in theory a no-copy should be possible, and I agree it would be valuable info to explicitly document this. PIL images implement `__array_interface__` (https://numpy.org/doc/stable/reference/arrays.interface.html) so one can make no-copy conversions PIL <-> numpy, and there are ongoing efforts regarding tensor <-> numpy too: https://github.com/pytorch/pytorch/issue

[2021-05-06 20:35] vadimkantorov commented on #3783
I'm meaning CPU<-> CPU conversions of course, where zero-copy conversion theoretically is possible, e.g. identically to NumPy <-> PyTorch conversion

If PIL implements `__array_interface__`, could the conversion be in essence `torch.as_tensor` and a `permute`?

[2021-05-07 00:33] sanketahegde commented on #1350
I am facing the same issue. I am new to PyTorch and it would be really helpful if anyone can help to let me know what exact changes in the implementation are needed to be done to get both losses and detection for training and validation sets.

Thanks!

[2021-05-07 03:32] mthrok commented on #3776
This does not look consistent to me. Considering the possibility to place model parameter files in a similar fashion,  `$TORCH_HOME/vision/datasets|models/` will be cleaner.

[2021-05-07 04:28] MohamedAliRashad commented on #3782
@vfdev-5
That's exactly what i am asking, PIL grayscale image has its shape to be [W, H] … the `F.to_tensor` function takes input image with shape [H, W, C] and outputs tensor with shape [C, H, W].

if i entered the image without change it will see the Width as the Height and the Height as the Width, This is what confuses me

[2021-05-07 05:33] pmeier commented on #3776
Maybe we can get all domain libraries on board with this change? In that case `$TORCH_HOME/datasets` would be the best choice IMO. If every dataset always creates a folder in there, we could have all datasets side by side.

[2021-05-07 06:36] NicolasHug commented on #3776
There's a small risk that the same dataset exists in audio and vision. Same with models, where it might be more likely?

[2021-05-07 06:49] NicolasHug commented on #3782
I think that what @vfdev-5 is saying is that while PIL.Image.size reports (W, H), PIL images are still represented as `H, W` arrays or `H, W, C`. For the shape, we just put the `C` in the beginning instead of at the end when converting to tensor.

[code]

[2021-05-07 06:51] pmeier commented on #3776
Really? I can imagine two scenarios:

1. A dataset provides vision and audio data at the same time. If `torchaudio` also switches to the datapipe way of doing things (@mthrok is there a discussion / plan to do that?) this shouldn't be a problem. Both libraries can simply work with the same raw data.
2. There exist two separate datasets with the same name in different domains. That would be a serio

[2021-05-07 07:02] NicolasHug commented on #3776
So we'd need a way (i.e. a new private API) for each dataset class to say "this is my name"? And same for models?
It's much easier to consistently rely on `TheClass.__name__` IMO

What benefit to you see to having all datasets in `$TORCH_HOME/datasets` instead of `$TORCH_HOME/[vision audio text]/datasets`?

[2021-05-07 07:15] pmeier commented on #3776
True, but since I imagine the probability is fairly low for something like this, we could simply go with the simple logic at first and only add some more complicated logic if something pops up.

All libraries could point to the same directory. Imagine you have shared drive with datasets. You wouldn't need to tell your users to append the domain identifier to it, but could simply do `datasets.setdi

[2021-05-07 07:16] pmeier commented on #3776
Plus, if there is a dataset that is used in `torchvision` and `torchaudio` we would need to duplicate it, which will probably frustrate users in case they want to use both.

[2021-05-07 07:55] NicolasHug commented on #3776
I'm not sure this is a feature that the  `$TORCH_HOME/[vision audio text]/datasets` layout doesn't have: one can set `$TORCH_HOME` and still have seamless access to each subfolders.

[2021-05-07 08:00] pmeier commented on #3776
True, I forgot that is also possible to change `$TORCH_HOME` directly.

[2021-05-07 11:05] #3003 closed

[2021-05-07 12:33] mthrok commented on #3776
That way, as a user and as a developer, I will always have to worry about the possible collision of dataset directory names among the different libraries, but I do not see a benefit of doing that.

I think this is a typical YAGNI situation. There is no specification for cross-domain data sharing, so we should not include it in this discussion. The matter proposed here should only concern vision an

[2021-05-07 12:38] fmassa commented on #3666
Self-assigning to me as someone in the team will be working on fixing this

[2021-05-07 13:37] fmassa commented on #3784
@datumbox what do you think about adding a `nn.Module` interface for `Solarize`?

[2021-05-07 13:43] datumbox commented on #3784
We already support this, unless you mean something else?
https://github.com/pytorch/vision/blob/2f3b7ca971c3a980833c8318fc1f0c8fe83ef8d2/torchvision/transforms/transforms.py#L1828-L1837

[2021-05-07 13:46] vadimkantorov commented on #3784
Unfortunately, it's missing from the docs: http://pytorch.org/vision/master/search.html?q=RandomSolarize&check_keywords=yes&area=default <- no results

[2021-05-07 14:13] datumbox commented on #3784
@vadimkantorov Thanks for flagging. We really appreciate taking the time to do so. Keep them coming. :)

I just sent a PR to fix this. Should be added shortly.

[2021-05-07 15:38] NicolasHug opened #3795 "Remove libjpeg version pinning"
We temporarily pinned the libjpeg version to `<=9b` in #3787 to fix some windows CI jobs. It would be good to remove the pinning. Chances are, the issue will magically resolve in the future?

[2021-05-07 16:41] malfet commented on #3751
This should have been fixed by https://github.com/pytorch/pytorch/pull/57322, @xkszltl can you please try the build that includes this PR?

[2021-05-07 22:20] prabhat00155 opened #3797 "Unit test failure"
[code]
https://app.circleci.com/pipelines/github/pytorch/vision/7915/workflows/82c134ae-52a5-4b83-8dbe-22d3f30ce3e5/jobs/561557

cc @bjuncek

[2021-05-08 07:57] veeara282 opened #3798 "ToTensor should support conversion to tensors of any dtype and device"
## 🚀 Feature

[`torchvision.transforms.ToTensor`][totensor] should support parameters to specify the dtype and target device of the tensors produced.

## Motivation

Currently, `ToTensor` always converts images to FP32 tensors in the range [0, 1] if they have 8-bit values. This behavior is inefficient for use cases where the images need to be converted to another data type (such as FP16 or bfloat1

[2021-05-08 08:49] datumbox commented on #3798
@aidan-fitz Thanks for the proposal and the documenting this thoroughly.

On one hand, I find that ToTensor is somehow overloaded and does too many things. Adding more functionality to it can lead to even more complex behaviour and corner-case handling. On the other hand, ignoring completely the complexity factor, I agree that it might be convenient and efficient for the user to have some control

[2021-05-08 16:55] xkszltl commented on #3751
Confirmed the fix, thanks!

[2021-05-08 18:05] fmassa commented on #3695
I'm closing this following @malfet comment, please let us know if you still face this issue with latest PyTorch

[2021-05-08 18:05] #3695 closed

[2021-05-09 09:14] github-actions[bot] opened #3800 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow tests/download.
Please look into it:

https://github.com/pytorch/vision/actions/runs/824911580

Feel free to close this if this was just a one-off error.

cc @pmeier

[2021-05-09 16:28] d1nz-g33k opened #3801 "Unable to train the keypointrcnn_resnet50_fpn model"
## ❓ The Predictions after training the model are empty.

### I'm trying to train the model for keypoints detection, & bounding boxes, using the script in the references section, while training the loss_keypoint is always 0.0000. Using those weights for prediction is giving no predictions at all.

I'm running this on a Windows 2016 server (EC2 instance on AWS), with a single GPU (Instance Type: p2

[2021-05-09 16:35] frgfm opened #3802 "[models] IntermediateLayerGetter doesn't handle well architectures with modules referenced multiple times"
## 🐛 Minor trouble with IntermediateLayerGetter

Since `IntermediateLayerGetter` is using the `.named_children` method of `torch.nn.Module`, the accepted layers cannot be a layer that is referenced multiple times in the architecture. Using the private `._modules.items()` method of the same object would fix it though. Happy to open a PR if you think it's a good idea

## To Reproduce

[code]
raises

[2021-05-09 17:32] #3607 closed

[2021-05-10 03:50] super233 commented on #1899
It's useful, save my days, thanks!

[2021-05-10 09:14] github-actions[bot] opened #3803 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow tests/download.
Please look into it:

https://github.com/pytorch/vision/actions/runs/827425868

Feel free to close this if this was just a one-off error.

cc @pmeier

[2021-05-10 10:23] fmassa commented on #3802
Hi,

Thanks for opening this issue!

Indeed, this is a current limitation with `IntermediateLayerGetter`. `IntermediateLayerGetter` is very fragile and only supports a very limited set of use-cases, but we are actively looking into improving it, with the next iteration of it present in https://github.com/pytorch/vision/pull/3597

Also, a note of warning: `IntermediateLayerGetter` is a private API

[2021-05-10 11:27] fmassa opened #3804 "Replace uses of custom all_gather with PyTorch's all_gather_object"
## 🚀 Feature

In the `references/detection` in torchvision, we have a primitive called `all_gather` that allows to distribute arbitrary picklable objects among different processes, see https://github.com/pytorch/vision/blob/d6fee5a4c4518ddb11f3dc1b52c102a7bdad5b49/references/detection/utils.py#L75-L115

Since https://github.com/pytorch/pytorch/pull/42189, PyTorch now natively supports this primiti

[2021-05-10 13:02] fmassa commented on #1899
@super233 are you still facing those issues even with latest torchvision?

[2021-05-10 13:20] #3801 closed

[2021-05-10 13:22] super233 commented on #1899
No, my torchvision version is 0.5.

[2021-05-10 13:24] fmassa commented on #3783
Those functions could be zero-copy, except that we perform multiplication / division by 255, which means there will be overhead involved.

If you want zero-overhead, I would recommend using `pil_to_tensor`

[2021-05-10 14:16] fmassa commented on #3772
Hi,

There is not enough information in the issue for us to be able to help.

Can you post an example image showing what you are getting? Also, do you get correct predictions on some of the training images?

[2021-05-10 14:30] fmassa commented on #3763
@vadimkantorov about points 3 and 4:
The enum is visible from `transforms.py` in  https://github.com/pytorch/vision/blob/00ea88c0a7ba94bf019730540a51c2577e740f07/torchvision/transforms/transforms.py#L17 and is needed to be in `functional.py` because `transforms.py` import `functional.py`, otherwise we would have cyclic dependencies (except if we extract it to its own file, which I would be fine wi

[2021-05-10 14:43] vadimkantorov commented on #3763
Probably also to just be supporting exactly the same interface as F.interpolate does, to not force users have different interoplate mode typing in different parts of pytorch

[2021-05-10 15:23] fmassa commented on #3763
Well, each of those libraries have different names / conventions for each method, but both PIL and OpenCV use some sort of enums (and not strings) for representing the mode.
From this perspective, using a proper Python enum seems adapted to me. But I would be ok making it support a string as well (which is what [TF does for `tf.image.resize`](https://www.tensorflow.org/api_docs/python/tf/image/res

[2021-05-10 16:38] prabhat00155 opened #3805 "Build failure with latest ffmpeg master caused by deprecated/removed attributes"
Building torchvision from source with latest ffmpeg(installed from source) throws a number of errors:

- [x] [pict attribute](https://github.com/FFmpeg/FFmpeg/blob/75c39692923a203b04efe7ee46d767f0057eac3b/libavcodec/avcodec.h#L2696)
[code]
The reason is that ffmpeg's AVSubtitleRect's [pict attribute](https://github.com/FFmpeg/FFmpeg/blob/75c39692923a203b04efe7ee46d767f0057eac3b/libavcodec/avcodec.

[2021-05-10 16:49] HamidShojanazeri commented on #3767
Thanks @fmassa for the updates and comments, I wonder what version of serialization / PT has been used for these models, this will help the community/ Torchserve users in case there are any older checkpoints.

[2021-05-11 05:45] Avs163 commented on #3554
Thanks man, this is working fine :)

[2021-05-11 12:09] hemasunder opened #3811 "Mask-rcnn training - all AP and Recall scores in “IoU Metric: segm” remain 0"
With torchvision’s pre-trained mask-rcnn model, trying to train on a custom dataset prepared in COCO format.

Using torch/vision/detection/engine’s train_one_epoch and evaluate methods for training and evaluation, respectively.

The loss_mask metric is reducing as can be seen here:
[code]
But the evaluate output shows absolutely no improvement from zero for IoU segm metric:

IoU metric: bbox
[code

[2021-05-11 12:18] datumbox commented on #3811
@hemasunder It's very hard to help you debug a problem just by looking at a log. I think we can provide you with some hints on what to potentially check for. First of all it seems that have very little data at your disposal. You should be able to overfit it, provided you train the whole network end to end. The fact that you don't probably means that parts of your custom dataset is not in the forma

[2021-05-11 14:04] bjuncek commented on #3797
This is probably something on my end, possibly related to your change on videoAPI.
I'll take a look at this tomorrow if that's ok?

[2021-05-11 15:24] fmassa commented on #1422
Hi,

We've added SSD and SSDlite in torchvision, and we will be continue adding more detectors over time.

Thanks for opening the issue!

[2021-05-11 16:15] jamt9000 commented on #3221
Implemented in https://github.com/pytorch/vision/pull/3792

[2021-05-11 20:03] oke-aditya commented on #3221
Rotated Boxes RFC #2761.

[2021-05-12 06:52] wangshihuang opened #3815 "segmentation activation"
您好，请问语义分割模型的最后一层的激活函数应该如何考虑，我看到vision/references/segmentation/train.py，并没有用到激活函数softmax，为什么？

[2021-05-12 08:10] nothingwithyou opened #3816 "torch.randperm() in cuda that have a wrong values when the n(int) have a big value(n > 2^12)"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1. When I use the tutorials in TORCHVISION OBJECT DETECTION FINETUNING TUTORIAL, I use the same code in the tutorials
2. In the first time, I use the cpu, it is just ok, but in the evaluate, the net still use the GPU to evaluate, it is the first matter
3. Then I use the GPU with Cuda to train, I just have one GPU, in the train, the model

[2021-05-12 08:34] datumbox commented on #3816
Hi @nothingwithyou,

I would recommend to open a new ticket on PyTorch and provide a set of the minimum commands to reproduce it. From what you describe something like `torch.randperm(265826, device='cuda').max()` should be enough to show-case any potential issue.

Unfortunately when I run the above command, I don't get any values larger than `n`. See below:
[code]

I would also advise to use the

[2021-05-12 08:39] datumbox commented on #3797
@bjuncek It seems to me that if you trigger the unit-tests to rerun on your original PR the `test_videoapi.py` tests will [pass](https://app.circleci.com/pipelines/github/pytorch/vision/6780/workflows/ab63f398-137c-4732-9490-dec9d95a3852/jobs/573528). This makes me thing it's not a dependency issue as I originally thought, but I could be wrong. Note that the test passes on my macOS on the latest m

[2021-05-12 10:48] fmassa commented on #3221
@nSircombe

can you please open a new issue so that we can track this?

@zhiqwang

yes, exactly

@oke-aditya

Can you open a new issue so that we can track it down and discuss it there?

[2021-05-12 10:54] nSircombe commented on #3221
Hi @fmassa,

I currently have https://github.com/pytorch/vision/issues/3362 open (I should have added this in my original comment, sorry), will that suffice?

[2021-05-12 11:16] voldemortX commented on #3815
First, please try use English more...

Translation to English:
Hi, could I ask what is the consideration for the last activation layer in semantic segmentation models, I see `vision/references/segmentation/train.py` does not use softmax activation fucntion, why is that?

Answer:
在PyTorch中，logsoftmax是包含在[nn.CrossEntropyLoss](https://pytorch.org/docs/stable/generated/torch.nn.CrossEntropyLoss.html?h

[2021-05-12 11:53] datumbox commented on #3783
Some relevant discussion about copying or not here: https://github.com/pytorch/vision/pull/3813#pullrequestreview-657743067

[2021-05-12 11:55] oke-aditya opened #3817 "[RFC] New Augmentation techniques in Torchvison"
## 🚀 Feature

Inclusion of new Augmentation techniques in `torchvision.transforms`.

## Motivation

Transforms are important for data augmentation :sweat_smile:

## Proposals

- [x] [RandAugment](https://arxiv.org/abs/1909.13719v2) Citations 306 #4348
- [x] ~~[Cutout](https://arxiv.org/abs/1708.04552) Citations 964~~ Superseded by [RandomErasing](https://pytorch.org/vision/stable/transforms.html#t

[2021-05-12 16:35] datumbox opened #3819 "Adapt the input size of SSDlite pre-trained model and assess its inference accuracy"
## 🚀 Feature
The pre-trained `ssdlite320_mobilenet_v3_large()` model expects a fixed size input image of 320x320 and if a user tries to pass a size parameter to the method it's going to be ignored:
https://github.com/pytorch/vision/blob/e35793a1a4000db1f9f99673437c514e24e65451/torchvision/models/detection/ssdlite.py#L202

https://github.com/pytorch/vision/blob/e35793a1a4000db1f9f99673437c514e24e65

[2021-05-12 17:01] seyeeet opened #3821 "Add title to the make_grid"
## 🚀 Feature
Can we have an option to add title to each grid in the make_grid? or it would be so difficult/slow?
## Motivation
basically it will helps to identify the grids by a name

cc @fmassa @vfdev-5

[2021-05-13 00:05] seyeeet commented on #3821
@vfdev-5 Thanks for following up on this.
hmmm is the dictionary of grids already possible? is there any place I can look into it more?

So they way that I was thinking was like this:
so the user can define a list of titles where the length of the list the same as number of batches in the tensor, for example if have a tensor `BxCxHxW`, then I can have `['T-1','T-2'...,'T-N']` where `T-i` is the i_

[2021-05-13 03:28] shubhamkotal commented on #3772
Corrected, Thanks

[2021-05-13 05:15] nothingwithyou commented on #3816
yes, if I just run the command only, it will return a right values.
![屏幕截图 2021-05-13 125118](https://user-images.githubusercontent.com/43906970/118079287-7e713680-b3ea-11eb-8bb7-562b9d92644f.png)
But it really happened when I debug the tutorials code.I add a Add a breakpoint in the torchvision/models/detection/_utils.py, then I run the main(), and use in the same command, it failed. And than it g

[2021-05-13 05:46] #3815 closed

[2021-05-13 06:45] gioipv commented on #2132
It is worked for me, thank you

[2021-05-13 06:56] NicolasHug commented on #3821
I think we should stop adding features to `make_grid`.

In terms of plotting it does nothing more than what matplotlib or other well-established plotting libraries can do, and we should encourage users to rely on them. It also has an unconventional API: `nrow` isn't the number of rows but the number of images per row... In other words it's the number of columns.

If we keep on adding new features

[2021-05-13 06:59] NicolasHug commented on #3772
@shubhamkotal I think something went wrong during the editing, your original message now doesn't show anything (it's a single dot)

[2021-05-13 09:00] datumbox commented on #3816
@nothingwithyou I think it would be helpful if you construct a self-contained small example that reproduces the problem, so that the PyTorch code developers can investigate. If you manage to reproduce the issue in a few lines of code it will assist the investigation. Without it is, impossible to debug just by looking at screenshots. Another thing you could do is to provide the input that leads to

[2021-05-13 09:46] fmassa commented on #3816
@nothingwithyou I think the most common cases you can have for `CUDA error: device-side assert triggered` is because your number of classes in the dataset doesn't match the number of classes in your model, which leaves the code in an invalid state.

Due to the asynchronous nature of CUDA, the error will only show up later, so it is probably misleading you to think the issue is in `randperm`.

I wo

[2021-05-13 09:46] #3816 closed

[2021-05-13 10:29] swordnosword opened #3822 "torchvision C++ compiling"
1. quesion:

When I trying to compile torchvision from source in c++ language,  the terminal thow erros:
In file included from /home/pc/anaconda3/include/python3.8/pytime.h:6:0,
                 from /home/pc/anaconda3/include/python3.8/Python.h:85,
                 from /media/pc/data/software/vision-0.9.0/torchvision/csrc/vision.cpp:4:
/media/pc/data/software/libtorch/include/ATen/core/ivalue_in

[2021-05-13 10:40] datumbox commented on #3822
@swordnosword It looks like this might be an issue caused by the encoding of characters (see [[1]](https://askubuntu.com/questions/272741/how-to-fix-compilation-errors-that-mention-stray-342-and-stray-200) and [[2]](https://stackoverflow.com/questions/43268151/error-stray-342-stray-200-stray-234-in-c-compiling)).

[2021-05-13 10:48] swordnosword commented on #3822
@datumbox I just doownloaded the source code and chaged nothing.

[2021-05-13 11:43] jxu opened #3825 "Why does RandomErasing transform aspect ratio use log scale"
See from https://github.com/pytorch/vision/commit/06a5858b3b73d62351456886f0a9f725fddbb3fe the aspect ratio is chosen randomly from a log scale

I didn't see this in the original paper? And in the reference implementation.

https://github.com/zhunzhong07/Random-Erasing/blob/c699ae481219334755de93e9c870151f256013e4/transforms.py#L38

[2021-05-13 11:46] nothingwithyou commented on #3816
if I don't use `CUDA_LAUNCH_BLOCKING=1`,it  will return me the other code.I locate to this line of wrong code with line by line debug. And I use the CUDA_LAUNCH_BLOCKING=1. It give me the same error report.

And my dataset and code are all from your page:https://pytorch.org/tutorials/intermediate/torchvision_tutorial.html,   number of classes in the dataset doesn't match the number of classes in t

[2021-05-13 11:49] jxu commented on #3825
Mathematically it does make more sense for a log scale. Maybe this implementation difference should be noted

[2021-05-13 11:55] datumbox commented on #3825
@jxu Hi! Checkout the discussion that happens on PR https://github.com/pytorch/vision/pull/3344 where this was introduced. We ended up updating it after doing experiments and discussing it with one of the original authors.

I'm going to close the issue to keep things clean but please feel free to reopen if you have more questions.

[2021-05-13 11:55] #3825 closed

[2021-05-13 11:59] nothingwithyou commented on #3816
just because the randperm return a wrong value, so the negative[perm2] cause `CUDA error: device-side assert triggered`. But I can not find out what make it wrong in the cuda.

[2021-05-13 12:02] swordnosword commented on #3822
@datumbox I have compiled successfully in docker image with python 3.6.9, it seems like we can solve this problem by lower the python version.
Thanks any way!

[2021-05-13 12:02] #3822 closed

[2021-05-13 12:05] jxu commented on #3825
Yes I see now, thanks for the response.

[2021-05-13 18:58] datumbox opened #3829 "Speed regression on keypointrcnn_resnet50_fpn unit-test"
There seems to be a significant slowdown on the `keypointrcnn_resnet50_fpn` unit-test on macOS. Currently it's our [slowest test](https://app.circleci.com/pipelines/github/pytorch/vision/8076/workflows/88c81b16-a831-40bc-9ae2-75aa8b2f8fe5/jobs/576520):
[code]

At the time of raising this ticket, our CI is toasted on macOS so, it's worth confirming the issue after it returns back to greener pasture

[2021-05-14 01:52] Seonghoon-Yu opened #3830 "VOCDetection load error: No route to host"
I used torch.utils.datasets.VOCDetection, but there was error message
how can i address this error?

There was no error when I used it a month ago.

train_ds = VOCDetection(path2data, year='2007', image_set='train', download=True)

![image](https://user-images.githubusercontent.com/75726938/118208621-0fefaf80-b4a2-11eb-8ce9-99875d02383d.png)

cc @pmeier

[2021-05-14 03:01] uniyushu opened #3831 "torch export to ONNX with unwanted layers in AdaptiveAvgPool!"
## 🐛 Bug

![image](https://user-images.githubusercontent.com/20262193/118214299-10884600-b4a2-11eb-82a5-888ddc21fa98.png)
I use torchvision.mobilenetV2 export to ONNX, but these are undefine layers add to ONNX, I think these bug exits in nn.AdaptiveAvgPool2d, the fourms discuss in https://discuss.pytorch.org/t/cast-operation-in-onnx/53666.  how can I fix this?

## Environment
Name: torch
Version:

[2021-05-14 03:52] wytcsuch opened #3832 "Error converting to onnx: forward function contains for loop"
Hello, there is a for loop in my forward function. When I turned to onnx, the following error occurred:

`[ONNXRuntimeError] : 1 : FAIL : Non-zero status code returned while running Split node. Name:'Split_ 1277' Status Message: Cannot split using values in 'split' attribute. Axis=0 Input shape={59} NumOutputs=17 Num entries in 'split' (must equal number of outputs) was 17 Sum of sizes in 'split'

[2021-05-14 04:22] swordnosword opened #3833 "torchvision operators registered issue"
### In order to get the torchvision operators registered with torch (eg. for the JIT), I "#include <torchvision/vision.h>", but I got nothing after I run my project:
#include <iostream>
#include <torchvision/vision.h>
#include <torch/torch.h>
#include <torch/script.h>
#include <ops.h>

int main() {
    auto& ops = torch::jit::getAllOperators();
    std::cout << "torch jit operators\n";
    for (au

[2021-05-14 05:02] nothingwithyou commented on #3816
@fmassa It is not the mismatch of number of classes.just because the randperm return a wrong value, so the negative[perm2] cause CUDA error: device-side assert triggered. But I can not find out what make it wrong in the cuda.

[2021-05-14 07:48] uniyushu commented on #3831
I fix this by saving the simplified model.
change
[code]
to
[code]

[2021-05-14 07:54] #3831 closed

[2021-05-14 08:18] datumbox commented on #3830
It seems that the [server](http://host.robots.ox.ac.uk/pascal/VOC/voc2012/VOCtrainval_11-May-2012.tar) that hosts the dataset is unreachable.

[2021-05-14 08:21] pmeier commented on #3830
The VOC server is pretty unstable and we refrained from testing the download due to regular breakages. @Seonghoon-Yu You will have to try later, since there is nothing we can do about it.

[2021-05-14 08:30] datumbox commented on #3833
Could you please try including `#include <torchvision/ops/nms.h>` and let me know whether you still get an issue?

[2021-05-14 08:31] Seonghoon-Yu commented on #3830
Thanks datumbox, pmeier!
Now, there is nothing to do.

[2021-05-14 09:04] swordnosword commented on #3833
Yes, I still get the same issue after including `#include <torchvision/ops/nms.h>`. Actually, I run your [test project](https://github.com/pytorch/vision/tree/master/test/tracing/frcnn) which has already  including `#include <torchvision/ops/nms.h>`.

[2021-05-14 09:16] datumbox commented on #3833
We have faced similar ops registration issues in the past but that was on Windows (see #3380). Could you also add the following right after the includes and let me know if it fixes the problem?

`static auto _nms = &vision::ops::nms;`

@bmanga Any thoughts about this?

[2021-05-14 09:24] swordnosword commented on #3833
Yes, I add the code. But I still get the same issue. By the way, my operating system is Ubuntu 18.04.

[2021-05-14 09:39] swordnosword commented on #3833
I see. I just change `set(CMAKE_CXX_STANDARD 17)` into`set(CMAKE_CXX_STANDARD 14)`, and run the test project successfully. Once I finish my custom project, I will close this issue. Thank you! @datumbox

[2021-05-14 09:52] #3833 closed

[2021-05-14 09:54] prabhat00155 commented on #3832
The error you have pasted is in `onnxruntime`, which suggests you were able to convert your model into `onnx` and got the error when running your `onnx` models with `onnxruntime`, is the correct? Could you share your `onnx` model, in that case?

[2021-05-14 10:29] fmassa commented on #3816
@nothingwithyou I've tried running the example colab notebook from https://colab.research.google.com/github/pytorch/vision/blob/temp-tutorial/tutorials/torchvision_finetuning_instance_segmentation.ipynb without modifications and everything worked without issues.

I've tried downloading the `subit.zip` and the `1.log` files, but the zip has just the whole torchvision inside so it's not possible to

[2021-05-14 10:38] #3830 closed

[2021-05-14 10:41] prabhat00155 commented on #3832
@wytcsuch Could you also share the detailed repro steps? Thanks!

[2021-05-14 21:56] adamjstewart opened #3841 "Bug in mAP/mAR calculation for reference object detection tutorial"
## 🐛 Bug

I believe I've found a bug in the mAP/mAR evaluation code for the [TorchVision Object Detection Finetuning Tutorial](https://pytorch.org/tutorials/intermediate/torchvision_tutorial.html).

## To Reproduce

If you run the Jupyter Notebook version of the tutorial on Colab and make any of the following modifications, you can reproduce this bug.

1. In the training loop, add `evaluate(model,

[2021-05-14 23:02] adamjstewart commented on #3841
For anyone else who runs into this problem, my current workaround is to use the following:
[code]
This allows me to disable `RandomHorizontalFlip` during evaluation and re-enable it afterwards.

[2021-05-15 09:40] fmassa opened #3843 "Replace torch.lstsq with torch.linalg.lstsq in `perspective` transform"
## 🚀 Feature

We recently started getting the following types of warnings:

[code]

which gets even more visible in [the newly added galleries](https://579199-73328905-gh.circle-artifacts.com/0/docs/auto_examples/plot_transforms.html#sphx-glr-auto-examples-plot-transforms-py)

We should replace
https://github.com/pytorch/vision/blob/b56f17ae1ae8a5d08067c7f7444af21fb3b59ca6/torchvision/transforms/f

[2021-05-15 12:26] fmassa commented on #3829
Hum, interesting.

My first guess would be that maybe this is due to torchscript now performing fusion on CPU, which was previously disabled by default for CPU and only happened on CUDA

[2021-05-15 13:49] datumbox commented on #3829
Should not we see the same significant deterioration on the other versions of fasterrcnn?

[2021-05-15 21:19] developershutt commented on #1943
Make sure both Python version and Android version of PyTorch is the same.

[2021-05-16 04:19] nothingwithyou commented on #3816
@fmassa I am so sorry that I subit the wrong old file. In those days I'm busy revising my graduation thesis and other errands.Here is the true log.
[1.log](https://github.com/pytorch/vision/files/6488692/1.log)
And the whole torchvision are which I install by pip, I don't have any change.The colab notebook use the torchvision=0.3, but I just used the latest. I think the bug may not recur on all de

[2021-05-16 08:34] zhai-EE opened #3844 "io.read_image returns different tensors for the same image"
## 🐛 Bug

torchvision.io.read_image return different tensors for the same greyscale image.

## To Reproduce
### The image which causes the error
The greyscale image which causes the error is as following :

![class01](https://user-images.githubusercontent.com/41221813/118388959-fe510800-b659-11eb-8f90-9e45f4ded26b.png)
(Saving this image from here can also reproduce the bug, although It's original

[2021-05-16 16:54] prabhat00155 commented on #3844
@zhai-EE Thanks for reporting this, I was able to reproduce this on my setup. I'll try to debug it tomorrow.

[2021-05-17 00:34] qornifmlx commented on #2263
I believe yes, FASTER-RCNN's job should only be learning and inference, while resizing and others should be other object's responsibilit, I'm having a hard time training and inferencing since with the current implementation everything feels so flimsy and what if I want to inference diference sized images?  https://discuss.pytorch.org/t/faster-rcnn-image-size-and-weird-transform-behaviour/121414

[2021-05-17 08:12] chengjuzhou opened #3846 "The description of returned tensor's size in ps_roi_pool.py and ps_roi_align.py are wrong"
## 📚 Documentation

The size of  returned tensor should be

 [K, C/(output_size[0]*output_size[1]), output_sizep[0], output_size[1]]

in
https://github.com/pytorch/vision/blob/master/torchvision/ops/ps_roi_align.py#L42
and
https://github.com/pytorch/vision/blob/master/torchvision/ops/ps_roi_pool.py#L36

This can be verified from
https://github.com/pytorch/vision/blob/master/test/test_ops.py#L186
a

[2021-05-17 08:34] fmassa commented on #3829
In principle yes, although there are some different codepaths in keypoint rcnn for the evaluation which might be the culprit there.

But we should check if it's a slowdown due to execution speed (in which case it's pretty bad) or in the torchscript compilation (which is less of an issue I would say)

[2021-05-17 08:50] datumbox commented on #3846
@chengjuzhou Good spot, thanks for flagging it!

Would you like to send us a PR that fixes this?

[2021-05-17 10:24] Zhylkaaa commented on #2263
ok, so I will try to fix it. For now I am using messy but working workaround (@qornifmlx, maybe this will help you):
[code]

[2021-05-17 11:28] fmassa commented on #3816
@nothingwithyou I'm not clear what issue you might be facing here. I still suspect this error you are facing is a red herring and the issue is in the data / labels, but without a small reproduction it is hard for us to pinpoint where the (potential) issue might be,

[2021-05-17 11:39] NicolasHug opened #3848 "Potential improvements to jpeg decoding on GPU"
A minimal version of jpeg decoding on GPUs was implemented in https://github.com/pytorch/vision/pull/3792. Here's a list of potential future improvements:

- Support for A100 devices
- Support for batch decoding (I didn't see any speed improvement in my experiments in https://github.com/pytorch/vision/pull/2786#issuecomment-832148710, but perhaps I missed something)
- Use a finer-grained API for t

[2021-05-17 12:26] fmassa commented on #3767
Those were very old versions of PyTorch, prior to PyTorch 0.2 I believe.

[2021-05-17 12:51] fmassa commented on #3844
cc @andfoy who has worked on the PNG reading support, and @datumbox who enhanced it with support for different modes.

This seems like a high-priority issue to get fixed

[2021-05-17 15:31] #2473 closed

[2021-05-17 15:31] #3767 closed

[2021-05-17 16:44] andfoy commented on #3844
I'll take a look at it!

[2021-05-17 17:02] fmassa commented on #3844
@andfoy I believe @prabhat00155 is also looking at it, can you sync with him on Slack?

[2021-05-17 17:32] datumbox commented on #3829
There is no regression issue on the method. See https://github.com/pytorch/vision/pull/3847#issuecomment-842504468 for detailed findings.

[2021-05-17 17:32] #3829 closed

[2021-05-17 18:35] fmassa commented on #3846
Fixed in https://github.com/pytorch/vision/pull/3849, thanks @chengjuzhou !

[2021-05-17 18:35] #3846 closed

[2021-05-18 08:16] bmanga commented on #3833
@datumbox It seems strange that changing to c++14 fixes things, but I will have a look this week. We should probably just do the linker vodoo in cmake like pytorch currently does.

[2021-05-18 11:55] prabhat00155 commented on #3797
@bjuncek I can't reproduce this locally, could be flaky.
[code]

[2021-05-18 12:11] fmassa commented on #3797
Another thing to look is if there are difference with PyAV / ffmpeg on those environments

[2021-05-18 12:15] sejongpyo opened #3854 "video datasets (UCF101, Kinetics400) download error (downloading nothing)"
I'm trying to get some video datasets. I followed the documentation but  keep getting an error.

`from torchvision.datasets import UCF101
from torchvision.datasets import Kinetics400
ucf_data_dir = "./data"
ucf_label_dir = "./ucfTrainTestlist"

ucf = UCF101(root = ucf_data_dir, annotation_path = ucf_label_dir, frames_per_clip = frames_per_clip,
           step_between_clips = step_between_clips)
k

[2021-05-18 12:29] datumbox commented on #3797
@prabhat00155 This can be partially checked by restarting old runs of the test and see if it passes now. [Example here](https://app.circleci.com/pipelines/github/pytorch/vision/6780/workflows/ab63f398-137c-4732-9490-dec9d95a3852/jobs/584670). If it used to pass but now does not, it's probably due to external changes on dependencies. If it does pass, then that's the route to trace changes between t

[2021-05-18 12:36] pmeier commented on #3854
Hey @sejongpyo. What exactly do you mean by

? It seems your iteration does nothing which might be a result of no data available in `ucf_data_dir` and `ucf_label_dir`. How are these directories structured?

[2021-05-18 13:20] sejongpyo commented on #3854
`ucf_data_dir` is just a empty folder. Isn't the root path meaning that i'm going to save the dataset? And, `ucf_label_dir` has ucfTrainTestlist which consist of .txt files of UCF101 dataset.

[2021-05-18 13:34] pmeier commented on #3854
Nope. `torchvision.datasets` provides wrappers around datasets so they can be easily used from PyTorch. Most datasets have `download=True` flag in case you don't already have the files locally. Unfortunately neither `UCF101` nor `Kinetics400` support download as of now. For `Kinectis` #3680 will probably land soon and add exactly this.

You can download the `UCF101` dataset [here](https://www.crcv

[2021-05-18 13:57] prabhat00155 commented on #3797
In the test, I see:
[code]
Locally, I have ffmpeg==4.2 and av==8.0.1.
[code]
Can't install 8.0.3 with ffmpeg==4.2:
[code]

[2021-05-18 14:17] datumbox commented on #3797
You can try to force it outside of conda by installing it with pip.

I don't want to steer you towards the wrong direction, but given that the [rerun](https://app.circleci.com/pipelines/github/pytorch/vision/6780/workflows/ab63f398-137c-4732-9490-dec9d95a3852/jobs/584670/steps) worked, it might be worth checking for code changes between PR #2916 and master that affect the test.

[2021-05-18 14:24] fmassa commented on #3797
@datumbox

This is partially true. If we have changed in the CircleCI config the pinning or particular versions of PyAV, then re-running old CI jobs can still pass even though it's related to a change of dependency, see https://github.com/pytorch/vision/pull/3341 for example

[2021-05-18 14:29] datumbox commented on #3797
@fmassa I am aware. These are some directions that one can check here given that we can't reproduce it on our local setup.

[2021-05-18 18:29] JuanFMontesinos commented on #2439
Hi,
I wrote this small library which wraps ffmeg and does exactly that.
https://github.com/JuanFMontesinos/PyNVIdeoReader/tree/main
For those who need it, it can work in the meanwhile.

[2021-05-18 20:08] Whiax opened #3856 "Torchvision import breaks OpenCV code"
## 🐛 Bug

When I import torchvisions in an opencv python code, the code crashes with "Segmentation Fault" (in console) or "Restarting kernel" in Spyder / iPython.

## To Reproduce

Steps to reproduce the behavior:

1. Execute the code, the execution ends
2. Execute the code and uncomment the torchvision import, the execution gives "Segmentation fault"
3. Changing the order of import (torchvision t

[2021-05-19 04:18] sejongpyo commented on #3854
Thank you for your help!

[2021-05-19 04:18] #3854 closed

[2021-05-19 10:01] bjuncek commented on #3805
In addition to above here are few other things to consider changing (this list will be updated)

# Low (warnings and incorrect usage)
[av_register_all](https://ffmpeg.org/doxygen/3.4/allformats_8c_source.html#l00390)

[2021-05-19 10:38] fmassa commented on #3856
Thanks a lot for the report!

I believe this might be due to version mismatches between either libjpeg / libpng or ffmpeg.

If you are on a linux machine, can do you run your script on gdb to get the rest of the stack trace? Something like
[code]
and then inside gdb
[code]
and when it crashes run
[code]
and paste the output here?

cc @andfoy as this is probably related to version mismatches of one

[2021-05-19 12:13] Whiax commented on #3856
Yep I can do that. The output gives:

It seems that the problem is linked to the X Window System maybe? I'm using Ubuntu + XFCE (Xubuntu). I guess cv2 calls X when it wants to create a window on my computer and somehow torchvision interfers with that maybe...

[2021-05-19 12:41] fmassa commented on #3856
the segfault happens in `from /home/x/anaconda3/lib/python3.7/site-packages/av/../av.libs/libxcb-77222338.so.1.1.0`, so I would suspect this is related to pyav and not torchvision per se.

Can you try running your demo code with importing av instead of torchvision and see if you still face the segfault? Something like
[code]

This will help us know where the issue is

[2021-05-19 13:22] bjuncek commented on #3797
Unless I'm looking at something incorrectly, this seems like it should fail to me no?
AV installed version is 8.0.3 whilst FFMPEG is installed with 4.2?

I'm surprised it's not skipped.

[2021-05-19 13:31] datumbox commented on #3797
@bjuncek It's quite odd. I've also tried to reproduce this locally using the exact versions on a mac but the tests pass normally.
Given that the release date is coming closer, we would like to have this fixed as soon as possible. Would you be able to have a look as you are experienced with the video part of the code-base?

[2021-05-19 13:38] bjuncek commented on #3797
Yeah I'm looking at it rn; still wasn't able to reproduce it in any way; hopefully is something small.

[2021-05-19 14:09] Whiax commented on #3856
The code works with "import av" in place of "import torchvision". I can try other imports if you have a list.

[2021-05-19 15:16] fmassa commented on #3856
Thanks for the info. I'll let @andfoy follow-up on this with you

[2021-05-19 15:53] andfoy commented on #3856
Have you tried executing your code outside IPython in Spyder? We've recieved similar issues related to segfaults with cv2 in Spyder

[2021-05-19 15:59] fmassa commented on #3797
One solution (which is what we have been doing up to now) is not to ship the ffmpeg part of torchvision in our binaries, and only let it be available if users compile torchvision from source.

[2021-05-19 16:00] #3804 closed

[2021-05-19 16:02] Whiax commented on #3856
Hi, yes it's not specific to iPython. The segmentation fault is when I directly use python in the usual console.
It's quite hard for me to understand this issue. In another more complex code where there are imports of cv2 and torchvision, it crashes at a line where I call plt.plot(x) in command line (same gdb trace to pyav file). In spyder, it doesn't crash. And if I change the matplotlib backend

[2021-05-19 16:12] Whiax commented on #3856
The difference between the two environments:

[code]

[2021-05-19 16:47] andfoy commented on #3856
Have you tried creating a clean environment that uses just conda-forge/defaults and not pip packages? That combination is always guaranteed to generate segfaults

[2021-05-19 16:48] andfoy commented on #3856
Also, you have multiple versions of torchvision and pytorch installed

[2021-05-19 16:56] andfoy commented on #3856
(This is completely out of scope) Next time, when you use Spyder alongside binary libraries, we recommend you to set a separate environment for running Spyder and other to install your libraries, by using Spyder-kernels:  https://docs.spyder-ide.org/5/faq.html?highlight=environment#using-existing-environment

[2021-05-19 17:22] Whiax commented on #3856
Yeah I saw the multiple versions, not sure if that could be the issue.
I'm recreating a new clean environment to check that.

If I do that, pytorch goes from 1.8.1 to 1.8.0 and torchvision also from 0.9.1 to 0.9.0. It installs opencv 4.5.2.
And yeah ok, doing that **solves the issue**, so I guess it was on my side.
Sorry for the trouble, it's hard to get from where the bugs come from with these we

[2021-05-19 17:22] #3856 closed

[2021-05-20 08:57] deema1999 commented on #3058
Hi , I am facing the same error , did anybody solve it?

[2021-05-20 09:01] #3047 closed

[2021-05-20 09:02] oke-aditya commented on #3047
Closing this in favour of #3562.

[2021-05-20 15:34] heyitsguay commented on #3058
I'm also facing the same issue, using torch==1.8.1 and torchvision==0.9.1. I guess I'll play around with different, older versions of each to see if that helps.

[2021-05-20 15:59] prabhat00155 commented on #3058
The problem is related to cuda version mismatch. Check your cuda version and see if you installed the correct pytorch version(https://pytorch.org/get-started/locally/).

[2021-05-20 17:55] oke-aditya commented on #3478
Hi. Sorry for the delay.

I think this can be done with `torch.vmap`. Have a look [here](https://pytorch.org/docs/master/generated/torch.vmap.html)

Have a look at [pytorch/issue/42368](https://github.com/pytorch/pytorch/issues/42368)

[code]
I don't have much experience with `vmap` but I think this would be extensible.
Can you give a run @vadimkantorov ?

[2021-05-21 08:15] datumbox commented on #3797
It seems to me, that the magic elves fixed the issue during the night on the latest master...

[2021-05-21 08:15] #3797 closed

[2021-05-21 11:48] prabhat00155 opened #3889 "Incorrect source path not handled in video_reader"
Passing incorrect source path to video_reader, doesn't throw any error with `pyav` backend, silently returning empty tensors.
[code]
With `video_reader`, it throws unrelated error.

cc @bjuncek

[2021-05-21 12:21] prabhat00155 opened #3890 "Audio missing when using read_video() with video_reader backend"
- Read entire video
[code]
- Read video from `start_pts`
[code]
- Read video from `start_pts` to `end_pts`
[code]

cc @bjuncek

[2021-05-21 14:06] #3771 closed

[2021-05-21 14:17] datumbox opened #3891 "Improve unit-test parameterization for models"
## 🚀 Feature

We are currently doing hacks like the following to parameterize the tests:
https://github.com/pytorch/vision/blob/43d772067fe77965ec8fc49c799de5cea44b8aa2/test/test_models.py#L149-L157

Instead we should use parameterize to pass (model, params) combinations:
https://github.com/pytorch/vision/blob/43d772067fe77965ec8fc49c799de5cea44b8aa2/test/test_models.py#L449-L452

[2021-05-21 14:21] datumbox opened #3892 "Reduce the memory footprint and speed up the RetinaNet and Keypoint unit-tests"
## 🐛 Bug

The unit-tests of keypoint and Retinanet models use too high-resolution and thus the tests take too much memory and time. After resolving #3891, we should reconfigure these tests to take less resources. We should also undo the Linux CI instance increase that we did on https://github.com/pytorch/vision/pull/3870#issuecomment-845924572 to reduce costs.

[2021-05-23 02:37] ustczwq commented on #848
Another elegant solution:

[code]

[2021-05-23 07:09] tejan-rgb opened #3898 "EfficientNet"
## 🚀 Feature

A feature request for EfficientNet model.

Thank You.

[2021-05-23 07:27] tejan-rgb opened #3899 "Inception-ResNet"
## 🚀 Feature

A feature request for Inception-ResNet model.

Thanks.

[2021-05-23 12:07] datumbox commented on #3898
Hi, thanks for the feature request. There is a duplicate issue for the same model, see #980. I'll close this one to keep things clean but feel free to comment on the other issue if you need anything.

[2021-05-23 12:07] #3898 closed

[2021-05-23 12:13] datumbox commented on #3899
Hello @tejan-rgb. I've added your request to our list. See the discussion at #2707. Feel free to comment there.

[2021-05-23 12:13] #3899 closed

[2021-05-23 16:17] tejan-rgb commented on #3898
Ok. Thanks.

[2021-05-23 16:22] tejan-rgb commented on #3899
Thanks.

[2021-05-23 21:43] g3holliday opened #3901 "ModuleNotFoundError: No module named 'torch.utils.hipify'"
## ❓ Questions and Help

### Please note that this issue tracker is not a help form and this issue will be closed.

We have a set of [listed resources available on the website](https://pytorch.org/resources). Our primary means of support is our discussion forum:

- [Discussion Forum](https://discuss.pytorch.org/)

How do I install this module?
I've installed all dependencies (I think) and still no

[2021-05-24 05:37] oke-aditya commented on #3901
I guess for Raspberry Pi4 which is an ARM based processor, you would need ARM wheels instead of x86-64 wheels which are provided by default on pytorch.

Here is link for installing PyTorch on arm based devices.
https://mathinf.eu/pytorch/arm64/
https://mathinf.eu/pytorch/arm64/2021-01/

Also, I think the wheels are available on PyTorch nightly.

[code]

This might just work out of box. But best to

[2021-05-24 10:50] IgorSusmelj opened #3902 "Faster dataset indexing using ImageFolder and DatasetFolder"
## 🚀 Feature

We can speed up the indexing of larger datasets by two lines in the `make_dataset` method within https://github.com/pytorch/vision/blob/master/torchvision/datasets/folder.py.

This is the original code: `4.78 s ± 51.1 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)`
[code]

Suggestion (this is pretty straightforward): `4.7 s ± 39.6 ms per loop (mean ± std. dev. of 7 runs, 1 loo

[2021-05-24 18:42] ekorman-strive opened #3905 "`mobilenet_backbone` behavior when `trainable_layers = 0`"
## 🐛 Bug

When `torchvision.models.detection.backbone_utils.mobilenet_backbone` is called with `trainable_layers=0`, more parameters
are trainable than I would have expected.

## To Reproduce

The following script:
[code]

outputs
[code]

However I would expect the first list to be increasing (like the second one). This line https://github.com/pytorch/vision/blob/9c31d1d5af5877514ebdf12c15d6511071

[2021-05-24 19:06] datumbox commented on #3905
@ekorman-strive Thanks for reporting, you are absolutely right. This is a bug. I'll follow up with a PR shortly.

[2021-05-25 03:35] g3holliday commented on #3901
Thanks. I figured it out with your help!

[2021-05-25 03:35] #3901 closed

[2021-05-25 06:27] hassiahk commented on #3817
Would be nice to have these Augmentations in ``torchvision.transforms``. 😄

Also found this official [code](https://github.com/uoguelph-mlrg/Cutout/blob/master/util/cutout.py) implementation for ``Cutout``.

[2021-05-25 07:17] pmeier commented on #3902
Hey @IgorSusmelj, thanks for the analysis. As long as the proposal makes the code faster without making it less maintainable, patches are always appreciated. This is the case here! Would you like to send a PR?

[2021-05-25 08:20] datumbox commented on #3817
@oke-aditya Do we need the cutout given we have Random Erasing which can be configured to have the same more or less effect?

[2021-05-25 10:37] NicolasHug opened #3909 "Port test/test_utils.py to pytest"
Currently, most tests in [test/test_utils.py](https://github.com/pytorch/vision/blob/master/test/test_utils.py) rely on `unittest.TestCase`. Now that we support `pytest`, we want to remove the use of the `unittest` module.

Similar issues: https://github.com/pytorch/vision/issues/3915, https://github.com/pytorch/vision/issues/3914

### Instructions

If you're interested in working on this issue, p

[2021-05-25 10:38] IgorSusmelj commented on #3902
Hi @pmeier, I can add a PR this week. I'll just do the small change. I guess the larger one (replacing `os.walk` with `os.listdir`) might have some unwanted implications when working with sub-sub directories.

[2021-05-25 11:06] #3905 closed

[2021-05-25 11:28] datumbox opened #3911 "[RFC] TorchVision with Batteries included - Phase 1"
## 🚀 Feature

_Note: To track the progress of the project check out [this board](https://github.com/pytorch/vision/projects/1)._

Add popular primitives (Losses, Schedulers, Data Augmentations, Operators etc) which are often used to reproduce SOTA references and new popular highly accurate models with pre-trained weights to TorchVision.

## Motivation

Though TorchVision currently includes many co

[2021-05-25 12:01] oke-aditya commented on #3817
I think the same. I compared both the implementations. RandomErasing is newer than Cutout, also both the augmentations produce almost similar results.

Also, As per [docs](https://pytorch.org/vision/stable/transforms.html#transforms-on-torch-tensor-only) RandomErasing does not work for for PIL Images. It works only for `torch.Tensor`. I am not sure if that is intentional or needs some work.

[2021-05-25 12:01] CarlosLopezES commented on #2921
Worked for me! Thanks!

[2021-05-25 12:22] pmeier commented on #3902
We need the multi-level support for BC so vanilla `os.listdir` is not going to cut it.

[2021-05-25 12:26] NicolasHug opened #3912 "Roundtrip test for encoding and decoding images"
This goal of this issue is to add tests for both jpeg and png implementation on all platforms, to test that:

`decode(encode(image)) ~= image`.

This test will require an image-comparison util that is robust to minor changes. One possible approach is to compare histograms as done in PIL: https://github.com/python-pillow/Pillow/blob/affa059e959280bf7826ec1a023a64cb8f111b6d/Tests/helper.py#L110-L134

[2021-05-25 12:26] NicolasHug opened #3913 "Fix jpeg encoding tests on windows"
In https://github.com/pytorch/vision/pull/3908 we fixed the test logic of the tests for `encode_jpeg`. Unfortunately, the new "correct" tests don't work on windows.

This issue is about a) making those new correct test work on windows and b) remove the old incorrect tests

For b), having a roundtrip test as proposed in #3912 might be enough to remove the old tests.

CC @fmassa @datumbox

[2021-05-25 12:29] pmeier commented on #3912
What I asked myself a few times for these kinds of issues: does the jpeg / png standard define a test for encoding / decoding?

[2021-05-25 14:05] NicolasHug opened #3914 "Port test/test_image.py to pytest"
Currently, most tests in  [test/test_image.py](https://github.com/pytorch/vision/blob/master/test/test_image.py) rely on `unittest.TestCase`. Now that we support `pytest`, we want to remove the use of the `unittest` module.

Similar issues: https://github.com/pytorch/vision/issues/3915, https://github.com/pytorch/vision/issues/3909

### Instructions

If you're interested in working on this issue,

[2021-05-25 14:10] NicolasHug opened #3915 "Port test/test_io.py to pytest"
Currently, most tests in [test/test_io.py](https://github.com/pytorch/vision/blob/master/test/test_io.py) rely on `unittest.TestCase`. Now that we support `pytest`, we want to remove the use of the `unittest` module.

Similar issues: https://github.com/pytorch/vision/issues/3914, https://github.com/pytorch/vision/issues/3909

### Instructions

If you're interested in working on this issue, please

[2021-05-25 16:21] zhiqwang commented on #3909
Hi @NicolasHug

I'm working on porting all the tests in [test/test_utils.py](https://github.com/pytorch/vision/blob/master/test/test_utils.py).

[2021-05-25 16:43] prabhat00155 commented on #3819
Here is the result table of my experiments:

IoU metric: bbox | &nbsp; | &nbsp; | &nbsp; | &nbsp; | &nbsp; | &nbsp; | &nbsp; | &nbsp;
-- | -- | -- | -- | -- | -- | -- | -- | --
min_ratio | 0.2 | 0.42 | 0.2 | 0.1 | 0.04 | 0.04 | 0.04 | 0.2
max_ratio | 0.95 | 0.95 | 0.95 | 0.95 | 0.95 | 0.74 | 1.06 | 0.95
size | 320x320 | 512x512 | 640x640
Average Precision (AP) @[ IoU=0.50:0.95 \| area= all \| maxD

[2021-05-25 17:24] datumbox commented on #3819
Awesome work @prabhat00155, thanks for the investigation!

I think as we expected, SSD is very sensitive to the DefaultBox configuration. I don't think it's possible to reuse it with variable sizes. I'll close the issue because I think the work is complete here.

[2021-05-25 17:24] #3819 closed

[2021-05-25 20:47] ShrillShrestha commented on #3915
Hi @NicolasHug, I am a beginner and searching for some issues to learn and contribute in open source. I am not fully knowledgeable about the project, but this seems a good issue to work on and learn. I will try to work on porting all the tests in
[test/test_io.py](https://github.com/pytorch/vision/blob/master/test/test_io.py).
If I have any queries, I will let you know. 😄

[2021-05-25 20:50] #3909 closed

[2021-05-25 21:54] datumbox commented on #3664
Closing the issue as this is now resolved on master.

[2021-05-25 21:54] #3664 closed

[2021-05-25 22:42] datumbox commented on #3843
It seems that the two methods have differences:
[code]

This causes failures to test [test_perspective_batch[None-dims_and_points0-cpu]](https://app.circleci.com/pipelines/github/pytorch/vision/8430/workflows/01cf0fab-4171-48fc-9623-330930d881d1/jobs/607295). See #3918 for details:
[code]

The difference appears on:
[code]

[2021-05-26 02:18] ganler opened #3921 "Documentation enhancement: Specifying detailed shape requirements for pretrained models"
## 📚 Documentation

In the documentation of [PyTorch Model Zoo](https://pytorch.org/vision/stable/models.html), it is suggested that:

Technically, for H/W < 224 it is also workable, but there might be some lower bound.

For example, the AlexNet model is able to consume a tensor of [3, 200, 200] but not applicable for that of [3, 62, 62].

Similar cases also apply to vgg* and densenet*. Therefore,

[2021-05-26 08:23] datumbox commented on #3921
This information could be useful for those who want to train from scratch or do transfer learning on models with smaller input size. This is because from one point on, the architecture will break if you try to feed it too little data.

When it comes to pretrained models, though it is technically true that some models will work with lower sizes, their accuracies can deteriorate fast. How much worse

[2021-05-26 08:59] #3702 closed

[2021-05-26 10:16] GDkids commented on #3332
set the Args 'mode=ImageReadMode.RGB' can change output to [3, width, height]
class ImageReadMode directly controls it
more infomation can be see in 'https://github.com/pytorch/vision/blob/master/torchvision/io/image.py#L234-L248'
I meet this question today and find this link in the first place
I think comment here maybe useful for later viewers

[2021-05-26 12:03] ganler commented on #3921
Totally agreed.

I have tested all vision models from on the model zoo and would like to contribute to better documentation by recording the minimum input size of some models (i.e., alexnet, vgg_*, densenet*). If it sounds good to you, where do you think we should place it?

1. behind the class signature of models with a minimal input shape
2. add another paragraph to describe the shape things (in

[2021-05-26 12:55] datumbox commented on #3921
@ganler Thanks for the clarifications and for offering to help. :)

Sounds good. Improving our documentation is always a worth-while thing to do. Let's do some investigation first to ensure you won't start doing the PR and stumble upon blockers. I propose to focus first on the classification models which are easier and commonly reused in other tasks.

I think a good first step is to confirm that a

[2021-05-26 14:22] fmassa commented on #3843
Yes, I've faced those issues when I tried it locally, and it's why I mentioned that

This to me is flakiness in the test, so I would be fine changing it so that tests pass again

[2021-05-26 16:35] #3891 closed

[2021-05-26 17:29] zhiqwang commented on #3914
Hi @NicolasHug ,

I'm working on porting all the tests in [test/test_image.py](https://github.com/pytorch/vision/blob/master/test/test_image.py).

[2021-05-26 17:30] fmassa commented on #3613
@andfoy did you have the chance to look at this again?

[2021-05-26 17:32] fmassa commented on #3469
This has been fixed with https://github.com/pytorch/pytorch/pull/57105 thanks for the report!

[2021-05-26 18:18] datumbox opened #3931 "Speed up the test_audio_video_sync unit-test"
## 🐛 Bug

The [test_audio_video_sync](https://github.com/pytorch/vision/blob/f5843099d895e72c27ffa9d29cc91dd8df7f3832/test/test_video_reader.py#L1241) test is quite slow and some times take up to [2.5 minutes to complete](https://app.circleci.com/pipelines/github/pytorch/vision/8456/workflows/7c4e4fbd-a353-41d1-923d-4bcd4bead708/jobs/609615).

Profiling shows that the majority of time is spent wit

[2021-05-26 22:09] canertol commented on #1563
Hi,
So which data set does "ILSVRC2012_devkit_t12.tar.gz" file correspond to?

[2021-05-27 09:32] thecml commented on #689
Hi airsplay,

This solution works fine, however I'm struggling to find a way to set the self.size property on the Dataset without loading it in the `__init__` function beforehand. I cannot instantiate the torch.utils.data.DataLoader without making sure that `__len__` returns a valid value. Right now I save the number of samples in a meta data file and load that manually, but is there a smarter way

[2021-05-27 11:31] #3892 closed

[2021-05-27 12:13] #3914 closed

[2021-05-27 12:37] #3889 closed

[2021-05-27 13:10] neillbyrne commented on #689
@thecml you **can** open an LMDB environment in `__init__` just be sure to close it within `__init__`

[2021-05-27 13:21] datumbox opened #3935 "Speed up unit-tests"
Ticket to keep track of the unit-test speed improvements:
- [x] Detection models #3929: (4.5mins CPU, 0.5mins GPU)
- [x] DeformConv #3933 (1.5mins CPU, 3mins GPU)
- [x] Transformations #3936 (0.75mins CPU, 1.25mins GPU)

Total improvement: 6.75 minutes on CPU and 4.75 on GPU

[2021-05-27 15:55] #3915 closed

[2021-05-27 16:27] oke-aditya commented on #3911
Adding one little bit. There have been such approaches to create batteries loaded libraries on top of torchvision.
We might as well take inspirations, motivations and add features that can be useful.

1. [Lightning bolts](https://github.com/PyTorchLightning/lightning-bolts): -

This uses PyTorch Lightning.
One can easily train and fine-tune models on distributed machines by simply inheriting class

[2021-05-27 21:11] andfoy commented on #3613
@fmassa I haven't tried to compile Zlib locally, I'll give it a go tomorrow!

[2021-05-28 12:16] thecml commented on #689
Excellent, thanks!

[2021-05-29 20:38] carlosgmartin commented on #330
I think there should be a flag for this.

[2021-05-29 21:43] andrew-miao commented on #215
@fmassa Cool! Thank you for your informational answer!

[2021-05-30 11:43] Pnikam commented on #1046
@ShahriarSS How can I get libtorchvision.so ?
I am configuring cmake for torchvision. cmake generated TorchVisionTargets.cmake and TorchVisiontargets-release.cmake files in which libtorchvision.so is been referred. Its not provided by the torchvision package that I installed. I am getting the following error:
CMake Error at /path/libtorch/share/cmake/TorchVision/vision/build/TorchVisionTargets.cma

[2021-05-30 11:53] Pnikam opened #3937 "libtorchvision.so does not exist"
I am installing C++ API for torchvision.
I got the following error:
set_target_properties Can not find target to add properties to:
  TorchVision::TorchVision

So, I coppied TorchVisionTargets.cmake and TorchVisionTargets-release.cmake from CMakeFiles/Export/Share/cmake/TorchVision to the build folder containing TorchVisionConfig.cmake.

Now I am getting the following error:
CMake Error at /path/l

[2021-05-30 13:16] talcs opened #3938 "Batch size of the training recipes on multiple GPUs"
## ❓ Questions and Help

In the README file that describes the recipes of training the classification models, under the references directory, it is stated that the models are trained with batch-size=32 on 8 GPUs.

Does it mean that:
- the whole batch-size is 32 and each GPU gets only 4 images to process at a time?
- OR each GPU gets 32 images to process at a time, meaning that the global batch-siz

[2021-05-30 14:08] prabhat00155 commented on #3938
I would think it's images per gpu. Looking at the [detection example](https://github.com/pytorch/vision/blob/882e11db8138236ce375ea0dc8a53fd91f715a90/references/detection/train.py#L62), it says total batch size is n_gpu x batch_size.
Also, the data loader created in the [classification example](https://github.com/pytorch/vision/blob/882e11db8138236ce375ea0dc8a53fd91f715a90/references/classificatio

[2021-05-30 14:21] datumbox commented on #3938
As @prabhat00155 correctly said, we define the batch size per GPU to be 32 and since we use 8 GPUs our total batch size is 256. Closing the issue to keep things tidy but feel free ro reopen if you have more questions.

[2021-05-30 14:27] #3938 closed

[2021-05-30 14:35] prabhat00155 commented on #3937
I assume you were following the steps from [here](https://github.com/pytorch/vision#c-api). Which step is failing? Are you using the latest master?

[2021-05-31 04:59] Pnikam commented on #3937
I am able to configure torchvision for cake. Actually, i am trying to deploy detectron2 models using torchscript. At that time, while configuring the dependencies, I am getting the above errors for torchvision.

[2021-05-31 05:56] ShahriarSS commented on #1046
Hi @Pnikam
You can build and install torchvision's C++ API from source. The instructions are in the README file.

[2021-05-31 06:40] Pnikam commented on #1046
I have followed all the steps given. I was able to configure it successfully. But when I try to configure it for detectron2 models, I am getting the error:
`CMake Error at /home/admin1/Vision2/vision/build/TorchVisionConfig.cmake:50 (include):
  include could not find load file:

    /home/admin1/Vision2/vision/build/TorchVisionTargets.cmake
Call Stack (most recent call first):
  CMakeLists.txt:9

[2021-05-31 11:11] ganler commented on #3921
Hi @datumbox ,

All classification models take variable input shapes. Please check this colab link: https://colab.research.google.com/drive/1T3_M55A75-b2FHaOWs8wYrmlM8gd3lgp?usp=sharing

First I checked all the minimum viable shapes in the [colab link](https://colab.research.google.com/drive/1T3_M55A75-b2FHaOWs8wYrmlM8gd3lgp?usp=sharing).

And I have classified those model creator functions' base

[2021-05-31 14:14] xsacha commented on #3058
Getting the same issue here, with self-built pytorch + torchvision. On CUDA 11.3. Any workarounds?

[2021-05-31 16:29] EdHeredia opened #3940 "Cannot download pretrained models"
## 🐛 Bug

I am trying to download pre-trained models from torchvision using both conventional PyTorch code and also manually using wget. In both cases the download procedure stalls and fails to finish.

## To Reproduce
Using conventional code:
  from torchvision import models
  model = models.resnet50(pretrained=True)

Using wget:
  wget -c https://download.pytorch.org/models/resnet50-0676ba61.pth

[2021-05-31 16:36] EdHeredia commented on #3940
One more observation. If I click on the link to invoke a browser-based download, I can get the pth file in seconds. I can manually move this file to the cache and make it work. The problem is that this operation should work using standard PyTorch code.

[2021-05-31 16:45] oke-aditya commented on #3940
Hi !
I tried reproducing the issue. But unfortunately I couldn't.

`wget -c https://download.pytorch.org/models/resnet50-0676ba61.pth` worked fine for me.

Also I'm able to download using torchvision.
My environment tested is also similar, I'm using Ubuntu 20.04.2 LTS, Python 3.6
I think it should work fine

[code]

A rare chance is that the server might be unavailable for a slight while and you f

[2021-05-31 17:23] EdHeredia commented on #3940
Hi @oke-aditya
Thanks for the quick response. I did some additional tests:
1) Tested on a second Ubuntu 18.04 machine in the same network and I see the same issue
2) Tested on a Mac (same network) and it works fine. The models get downloaded in seconds

Also, I downloaded models before to the Ubuntu machines, so the problem could be related to recent OS or module updates?

[2021-05-31 17:32] oke-aditya commented on #3940
As such I cannot confirm any OS related issues :sweat_smile: If possible you can try switching network for ubuntu machine and try again. Perhaps that might work.

But overall I don't see this to be really an issue pertaining to torchvision.
I can suggest an alternative if you really don't have network.

On Ubuntu

You can also manually download the weights and place in
[code]

E.g. in my case assu

[2021-05-31 17:36] oke-aditya commented on #3772
Somehow I ended up here and could reach back original message

@shubhamkotal

[code]

You can have a look at at gallery examples in the master documentation. It provides a nice way to plot segmentation outputs.
Also note that the utility `utils.draw_segmentation_masks()` might be available from next release!

[2021-05-31 17:37] EdHeredia commented on #3940
Thanks @oke-aditya. Yes, I agree it doesn't seem to be a torchvision problem. For now I can manually download the pretrained models and move them to the cache.

I will continue investigating and reopen if appropriate.

[2021-05-31 17:37] #3940 closed

[2021-05-31 18:46] kirk86 opened #3941 "Rename some transforms using appropriate wide adopted naming conventions"
## 🚀 Feature

Rename confusing transformation names such as `transforms.Normalize()` to `transforms.Standardize()` and decouple combined operations `transforms.ToTensor()` into `transforms.Normalize()/transforms.Rescale()` and `transforms.ToTensor()` for clarity.

## Motivation

I'm always frustrated when trying to communicate the above operations (i.e. `transforms.Normalize()`, `transforms.ToTens

[2021-06-01 06:16] NicolasHug commented on #3772
Specifically please see https://pytorch.org/vision/master/auto_examples/plot_visualization_utils.html#sphx-glr-auto-examples-plot-visualization-utils-py

Without further we're unable to help more (the original message is still a single dot), so I'll close this issue. Feel free to re-open with more background information.

[2021-06-01 06:16] #3772 closed

[2021-06-01 06:32] #3902 closed

[2021-06-01 08:19] #3935 closed

[2021-06-01 08:28] datumbox commented on #3941
@kirk86 Thanks for the feedback.

The implicit scaling done by ToTensor is something has been raised by a few people in the past. Key problem with renaming them is that it's a massive breaking change that will likely affect all the pipelines that people wrote on top of TorchVision. I think your criticism is valid and worth taking on board when we refactor the transforms.

[2021-06-01 11:01] datumbox commented on #3921
Thanks a lot for the detailed analysis.

I agree it's worth adding the dimension info in all models that have a minimum dim size > 1.

Let's avoid differentiating between fixed and non-fixed sizes on the Class level and add this info directly on the model building methods (for example `torchvision.models.googlenet()`).

Could you send a PR that adds this info to the aforementioned classification m

[2021-06-01 11:02] prabhat00155 commented on #3937
@Pnikam Were you able to build(`make install`) torchvision successfully with the steps I pointed above? Could you list down the steps you are using to deploy detectron2 models using torchscript so that I can reproduce the error?
cc @bmanga

[2021-06-01 13:44] NicolasHug commented on #3258
I agree with @fmassa  that the `2` in torchvision's implementation refers to the h and w dimensions.

From section 3.2 of the DeformConv v2 paper https://arxiv.org/abs/1811.11168:

where K is `self.kernel_size[0] * self.kernel_size[1]`. So the difference between 2 and 3 seems to come from the modulation scalars.

I could be wrong as I'm not super familiar with the paper nor the implementation, but

[2021-06-01 13:44] #3258 closed

[2021-06-01 14:23] Pnikam commented on #3937
@prabhat00155 Yes, I have built torchvision successfully. Then I tried to configure cmake for detectron2 from cmake-gui and added all the required paths therein. And I got stuck at the above errors.

[2021-06-01 15:53] MohanadOdema commented on #1920
Can I just point out a workaround that worked for me rather trying my luck every 24 hours.

The needed files for celeba dataset, as defined in the filelist in torchvision's CelebA class, are as follows:

_img_align_celeba.zip, list_attr_celeba.txt, identity_CelebA.txt, list_bbox_celeba.txt, list_landmarks_align_celeba.txt, list_eval_partition.txt_

I downloaded them directly from the authors' goog

[2021-06-01 18:21] MohamedAliRashad commented on #1920
@MohanadOdema
I think your link can be added as second step solution in the download class, it will be nice if you made a PR with this

[2021-06-02 05:36] pmeier commented on #1920
@MohanadOdema we should be doing exactly the same thing within the download functionality albeit automatically. I can confirm that I get different links when doing this manually. I'll investigate.

[2021-06-02 09:11] bmanga commented on #3937
@Pnikam  can you report the cmake invocation that you use to build detectron2? You need to append the location of your installed torchvision to the CMAKE_PREFIX_PATH variable or set the TORCHVISION_DIR one.

[2021-06-02 10:04] datumbox commented on #2881
@NicolasHug @vfdev-5 It seems to me that some of the changes described on this ticket are now on master. To what degree do you think we covered this ticket?

[2021-06-02 10:04] NicolasHug commented on #3941
Regarding Normalize -> Standardize: I agree.

For ref, in scikit-learn the "zero mean and unit variance" transformer is the `StandardScaler`, and the `Normalizer` just divides each input vector by its norm.

[2021-06-02 10:17] vfdev-5 commented on #2881
@datumbox if we can go with pytest what was not the case on the moment of creating this RFC so we can close this issue.

[2021-06-02 10:19] NicolasHug commented on #2881
I started opening issues about porting the tests to pytest https://github.com/pytorch/vision/issues/3915 https://github.com/pytorch/vision/issues/3914 https://github.com/pytorch/vision/issues/3909.

I'm doing it on a per-file basis because they're all quite different. I'll get to the transforms test soon(ish?).

[2021-06-02 10:19] #2881 closed

[2021-06-02 10:23] Pnikam commented on #3937
@bmanga I used the following command for cmake invocation:
cmake -DCMAKE_PREFIX_PATH=/path/libtorch ..
Then I was suggested to add TorchVisionConfig.cmake path, so I entered the following command:
cmake -DTorchVision_DIR=/path/TorchVision/build

[2021-06-02 10:34] bmanga commented on #3937
Can you try the following steps and report back?
* Configure torchvision also specifying an install directory : `cmake -DCMAKE_INSTALL_PREFIX=/path/to/torchvision/ [...]`
* `make install`
* When configuring detectron2, use: `cmake -DCMAKE_PREFIX_PATH=/path/to/libtorch;/path/to/torchvision [...]`

[2021-06-02 10:39] dariofuoli commented on #3673
It would be very important to also know the order of the elements in (from docs):

(Tensor[batch_size, **2 * offset_groups * kernel_height * kernel_width**, (offset) – out_height, out_width]): offsets to be applied for each position in the convolution kernel.

I.e., what is the arrangement of 2 * offset_groups * kernel_height * kernel_width, is it in this particular order? Considering the comments

[2021-06-02 10:52] voldemortX commented on #3673
It is very confusing indeed. You could checkout [this ongoing PR](https://github.com/pytorch/vision/pull/3758) for some clarification (I tried but, the explanation there is still not very clear...)

I think that could introduce a BC-Break of some sort? Personally, I think maybe if deformable conv could be implemented as a pytorch layer, things would be much easier...

[2021-06-02 11:21] Pnikam commented on #3937
- After running : `cmake -DCMAKE_INSTALL_PREFIX=/path/to/torchvision/` , I got following warning:

[code]
But generating was done successfully.

- After running `make install `: Built target torchvision successfully

- After running `cmake -DCMAKE_PREFIX_PATH=/path/to/libtorch;/path/to/torchvision` , got following error again:
[code]

[2021-06-02 13:17] bmanga commented on #3937
I think the problem could be related to the fact that you seem be using the build directory and not the install directory.

[2021-06-02 13:18] NicolasHug opened #3945 "Port test/test_transforms.py to pytest"
Currently, most tests in [test/test_transforms.py](https://github.com/pytorch/vision/blob/master/test/test_transforms.py) rely on `unittest.TestCase`. Now that we support `pytest`, we want to remove the use of the `unittest` module.

For a similar issue see https://github.com/pytorch/vision/issues/3956

### Instructions

There are many tests in this file, so I bundled them in multiple related grou

[2021-06-02 13:24] dariofuoli commented on #3673
I am not a developer, but I think this might be handled with a fixed internal flatten operation, which can handle both inputs?

Personally, I think stating the exact order of elements encoded in the dimension "2 * offset_groups * kernel_height * kernel_width" in the docs would be sufficient, I like the functional approach of the current version.

Assuming the order: **T in groups x kernel_height x

[2021-06-03 00:59] Pnikam commented on #3937
@bmanga Yes. I was giving wrong path. Solved issue. Thank You.

[2021-06-03 02:57] saswatpp commented on #3945
I am working on group P.
I'll try to send PR soon. :)

[2021-06-03 03:15] #3937 closed

[2021-06-03 03:49] ShrillShrestha commented on #3945
Thanks for mentioning @NicolasHug. I will try working on Group O.

[2021-06-03 03:50] zhiqwang commented on #3945
Thanks for mentioning @NicolasHug :) I will try working on Group A.

[2021-06-03 04:24] AnirudhDagar commented on #3945
Hi @NicolasHug, I'd like to work on Group I and J.
I'll try to send a PR soon!

[2021-06-03 04:38] teang1995 opened #3949 "Meaning of Assertion of infer_scale function in torchvision/ops/poolers.py"
## ❓ Questions and Help

### Please note that this issue tracker is not a help form and this issue will be closed.

We have a set of [listed resources available on the website](https://pytorch.org/resources). Our primary means of support is our discussion forum:

- [Discussion Forum](https://discuss.pytorch.org/)
I want to know the meaning of the assert at infer_scale function in  torchvision/ops/

[2021-06-03 05:06] pmeier commented on #3945
@NicolasHug I can help review. Just ping me.

[2021-06-03 09:05] datumbox commented on #3949
Good question. I'm not the author of this method, but my understanding is that the `infer_scale()` uses the heuristic approach described on the [FPN paper at section 4.2](https://arxiv.org/pdf/1612.03144.pdf) to find to which level `Pk` of the pyramid we should assign the RoI. The implementation seems to use a different but equivalent formulation comparing to the equation used on the paper which i

[2021-06-03 10:09] NicolasHug opened #3951 "Port test/test_models.py to pytest"
Currently, most tests in [test/test_models.py](https://github.com/pytorch/vision/blob/master/test/test_models.py) rely on `unittest.TestCase`. Now that we support `pytest`, we want to remove the use of the `unittest` module.

For a similar issue: see https://github.com/pytorch/vision/issues/3945 and #3956

### Instructions

There are many tests in this file, but it should be possible to port all o

[2021-06-03 10:41] elb3k commented on #2581
Thank you for a solution. But binaries from amazon is not available for x86_64 or even arm64.

[2021-06-03 10:53] Dbhasin1 commented on #3945
hi @NicolasHug, I'll try working on Group N

[2021-06-03 11:11] DevPranjal commented on #3945
Hey @NicolasHug, I will try working on Group F.

[2021-06-03 11:51] sahilg06 commented on #3945
Hi @NicolasHug, I will try working on Group K.

[2021-06-03 11:53] artifiitr commented on #3945
Hi @NicolasHug, I will try working on Group E.

[2021-06-03 12:16] harishsdev commented on #3945
For b,c,d,g groups i will raise PR

[2021-06-03 12:18] NicolasHug commented on #3945
Thanks @harishsdev! please make sure to submit at most 2 groups per PR to keep the review  manageable :)

[2021-06-03 13:19] Ishan-Kumar2 commented on #3945
Hi @NicolasHug, I will try working on Group M.

[2021-06-03 13:21] AnirudhDagar commented on #3951
Hi @NicolasHug,
I'll start working on a PR if no one has claimed it yet.

[2021-06-03 15:03] sahilg06 commented on #3945
@NicolasHug  in function **test_rotate_fill** Do I need to parameterize any variable as there are 2 for loops but 1 is dependent on the other. Please guide.

[2021-06-03 15:04] saswatpp commented on #3951
Hi @AnirudhDagar , i'd like to work on this issue. Let me know if you want me to help you.

[2021-06-03 15:10] NicolasHug commented on #3945
Ah, I wish we could have covariant parametrization! This is a common struggle.
In the case of `test_rotate_fill` parametrizing only over `modes` should be good enough!

[2021-06-03 15:11] NicolasHug commented on #3951
I'll soon open another similar issue @saswatpp , I'll ping you there

[2021-06-03 15:13] saswatpp commented on #3951
@NicolasHug Okay sure! Thank you 👍

[2021-06-03 15:33] NicolasHug opened #3956 "Port test/test_functional_tensor.py to pytest"
Currently, most tests in [test/test_functional_tensor.py](https://github.com/pytorch/vision/blob/master/test/test_functional_tensor.py) rely on `unittest.TestCase`. Now that we support `pytest`, we want to remove the use of the `unittest` module.

### Instructions

There are many tests in this file, so I bundled them in multiple related groups below. If you're interested in working on this issue,

[2021-06-03 15:34] NicolasHug commented on #3945
Seems like most groups have been taken already, thanks everyone for your interest! I've created another similar issue for those who are interested: https://github.com/pytorch/vision/issues/3956

[2021-06-03 15:34] sahilg06 commented on #3945
@NicolasHug but 2nd for loop requires list of nums_bands which depends upon modes list. So we have to define modes list inside the function even if we do parametrization. So is that okay?

[2021-06-03 15:39] bmanga commented on #3911
+1 from me.
Maybe there should be an experimental namespace where we can refine the API over time before promoting features to stable.

[2021-06-03 15:44] NicolasHug commented on #3945
Ah I missed that.

If I understand the logic correctly here, we should be able to remove this last for loop and just hardcode `wrong_num_bands` to `num_bands + 1`.

Basically, `set(nums_bands) - {num_bands}` is always 1 when num_bands is 3 and always 3 when num_bands is 1.
What's important is that `wrong_num_bands` is different from `num_bands`, I don't think we really care about the **exact** val

[2021-06-03 15:46] saswatpp commented on #3956
Thank you @NicolasHug ! I will try to add a PR for Group B and C.

[2021-06-03 17:58] harishsdev commented on #3945
PR Raised for

Group B

test_accimage_crop
test_accimage_pil_to_tensor
test_accimage_resize
test_accimage_to_tensor
 Group C

test_affine
test_random_affine

[2021-06-03 18:46] oke-aditya opened #3960 "Ops to convert `masks` to `boxes`"
## 🚀 Feature
A simple `torchvision.ops` to convert Segmentation masks to bounding boxes.

## Motivation

This has a few use-cases.

1. This makes it easier to use semantic segmentation datasets for object detection.
The pipeline can be easier. Also the bounding boxes are represented as `xyxy `in `torchvision.ops` as a convention.
So probably convert masks to `xyxy` format.

2. The other use case i

[2021-06-03 19:40] sahilg06 commented on #3956
@NicolasHug, I will try working on group  A and E

[2021-06-04 03:10] vivekkumar7089 commented on #3945
Hi, @NicolasHug  I'd like to work on Group H.
I'll try to send a PR soon!!

[2021-06-04 08:06] zhiqwang commented on #3956
@NicolasHug, I will try working on Group D.

[2021-06-04 08:52] NicolasHug commented on #3960
I think this could be useful, at least as a plotting utils. I'm not sure I fully understand the use of such util within a model though?

Yes the input should be boolean: models have different representations for floating masks as illustrated in the new example, so we can't have a unified approach for floating masks.

[2021-06-04 09:15] oke-aditya commented on #3960
I think it should under be `ops` and not `utils` as utils contain utilities which do not do any manipulation of any masks / boxes.

They return the passed image tensors back

This is a operation (of course is non-differentiable) hece suits better to `torchvision.ops`.

The only models which have different representation are instance segmentation models. Is this utility essential for instance segme

[2021-06-04 09:23] fmassa commented on #2581
@elb3k we will be uploading the stable binaries in the next release.

In the mean time, you can get the nightlies from
[code]

[2021-06-04 09:42] datumbox commented on #3960
Thanks for bringing this up @oke-aditya.

This is a text-book example of utility we want to upstream from DeTR to TorchVision. I think it should be OK placing it in [torchvision.ops.boxes](https://github.com/pytorch/vision/blob/master/torchvision/ops/boxes.py) along with the other box utilities ported already.

Yes please, good call. We need to be careful for numeric overflows. See #3383 for addre

[2021-06-04 09:43] bjuncek commented on #3805
Since most of these have been closed I'm closing the issue.

[2021-06-04 10:05] bjuncek commented on #3282
@vadimkantorov with #3680 we introduce a new kinetics dataset class (`Kinetics(num_classes=400)`) that should solve the issue with different extension (and you can also supply your own list of extensions btw). #3932 raises an error for invalid files; #3961 raises the warning for the possibly corrupt files.

As for the dataset verbose dataset statistics, that is something that we can perhaps keep i

[2021-06-04 10:28] oke-aditya commented on #3960
What do you think @datumbox about the segmentation masks? Should they be kept float as `(num_masks, H, W)` or should we change to adopt bool masks?

I would prefer to keep float masks.

[2021-06-04 11:38] AnirudhDagar opened #3963 "Building from source OSX: import torchvision crash (with ffmpeg version 4.4)"
## ❓ Questions and Help
Hi,
I'm trying to build torchvision from source on OSX and have followed the [contributing](https://github.com/pytorch/vision/blob/master/CONTRIBUTING.md) guidelines. I run the following

[code]

While building I can see the following clang error.
[code]

The setup completes, but on importing the module in python, I run into the issue below.
[code]

Complete build log avail

[2021-06-04 12:02] elb3k commented on #2581
Thank you. I ended up compiling torchvision with `LibTorch` cocoapads package. Will make pull request with cocoapads build package script.

[2021-06-04 12:12] sahilg06 commented on #3956
Hi @NicolasHug, in the function **test_gaussian_blur** in group E, tensor depends upon **small image tensor** and **large** **image tensor** and the depend upon the **device**. So How to parameterize tensor because I have to parameterize device also? please guide!

and 1 more question
which is the better way to parameterize
1)`test_configs = [
            (1, 2, 4, 5),   # crop inside top-left cor

[2021-06-04 12:19] NicolasHug commented on #3956
We can probably parametrize over a new `image_size` parameter, like so:

[code]

I prefer the second way, unless `test_configs` can/should be re-used somewhere else.

[2021-06-04 12:36] datumbox commented on #3960
I think as per your original point, you would have to support `(num_masks, H, W)` if you were to convert a the masks of a specific dataset to boxes for object detection. See how DeTR uses the method on the [CocoPanoptic](https://github.com/facebookresearch/detr/blob/a54b77800eb8e64e3ad0d8237789fcbf2f8350c5/datasets/coco_panoptic.py#L57) dataset.

I also see value to support for bool masks, as this

[2021-06-04 12:57] fmassa commented on #2581
Hi,

We have some information on how to compile manually in https://github.com/pytorch/vision/blob/master/.circleci/unittest/ios/scripts/binary_ios_build.sh and https://github.com/pytorch/vision/blob/master/ios/build_ios.sh, let us know if further information is required

[2021-06-04 13:02] fmassa commented on #3935
Thanks a lot for the speedups @datumbox ! That is awesome!

[2021-06-04 13:05] saswatpp commented on #3956
@NicolasHug in Group C you mentioned that we should 'split' the sub-method into a 'single' function. I couldn't understand what you meant by that. And Since you have Split B into B1 and B2, let me take only B2 and someone in the community can take over B1.

[2021-06-04 13:13] NicolasHug commented on #3956
Sorry if that's not clear, basically I mean that instead of having a single function `test_affine` as is the case right now, we should have multiple test functions like `test_affine_all_ops`, `test_affine_rect_rotations`, etc.

[2021-06-04 13:15] fmassa commented on #330
@carlosgmartin that's a good point, and we will keep it in mind for the future.

cc @pmeier @datumbox @NicolasHug @prabhat00155 We should think if we want to use `logging` for this in the future or not

[2021-06-04 13:16] fmassa commented on #3909
@zhiqwang thanks for your help!

[2021-06-04 13:27] fmassa opened #3965 "Remove need of include `Python.h` in `vision.cpp`"
## 🚀 Feature

Related to https://github.com/pytorch/vision/issues/2349

We currently need to `#include <Python.h>` in https://github.com/pytorch/vision/blob/96ad7f0c80538e06323ab2a4d2d4fb513022f59a/torchvision/csrc/vision.cpp#L4
as well as we need to define `PyInit__C` for Windows https://github.com/pytorch/vision/blob/96ad7f0c80538e06323ab2a4d2d4fb513022f59a/torchvision/csrc/vision.cpp#L15-L22

T

[2021-06-04 13:48] #3844 closed

[2021-06-04 14:00] fmassa commented on #3058
Hi,

I think the issue might be that PyTorch has dropped support some versions of CUDA, and there might have been a conflict there and you are not updating to the right torchvision build.

I'd recommend double-checking that you don't have multiple versions of PyTorch / torchvision installed in your environment, and that you are indeed getting the right versions.

If possible, I would recommend cre

[2021-06-04 14:50] vivekkumar7089 commented on #3945
Hi, @NicolasHug  I'd like to work on Group L.
I'll try to send a PR soon!!

[2021-06-04 16:32] xsacha commented on #3058
I only have a single libtorch and torchvision API I have compiled myself from master using same CUDA version.

[2021-06-04 16:54] #3282 closed

[2021-06-04 17:18] NicolasHug commented on #3913
Update on this: From https://github.com/pytorch/vision/pull/3968 it is clear that:

- On the linux CI (and very likely on macOS), both torchvision and PIL rely on libjpeg 9.0
- On the Windows CI, torchvision relies on libjpeg 9.0 but PIL relies on libjpegturbo 8.

This is consistent with https://github.com/python-pillow/Pillow/issues/3833#issuecomment-585211263

This can explain why the new correc

[2021-06-04 18:08] prabhat00155 commented on #3963
I do see this error:
[code]
But I don't get any error when importing torchvision.
The error seems to be related to the video reader. Does this crash your python terminal? Which ffmpeg version are you running?

[2021-06-04 18:50] AnirudhDagar commented on #3963
Hi @prabhat00155,

Thank you for replying. Yes, it does crash my python terminal.

`ffmpeg -version` returns the following:

[code]

[2021-06-04 20:17] datumbox commented on #3913
@NicolasHug awesome investigation skills. I think we might be in a situation where every solution stinks...

If we do option 1, aka use libjpeg-turbo for our windows build and libjpeg 9.0 for our linux one, don't we run the risk of having different results between platforms on our TorchVision methods? Also if we do change our dependency, should we consider it a breaking change? Another thing to co

[2021-06-04 21:11] NicolasHug commented on #3913
I think that if we want to support libjpeg-turbo, we would support it across all OSs, not just windows. There *is* an incentive to support libjpeg-turbo because it's really fast (even faster than our nvjpeg decoding at the moment). And it could probably be an opt-in not necessarily a hard dependency change.

In theory it should just be a matter of linking against libjpeg-turbo instead of libjpeg a

[2021-06-04 22:21] prabhat00155 commented on #3963
Hi @AnirudhDagar, I think the issue is related to the ffmpeg version. I originally had ffmpeg==4.2 and it was working fine. After I upgraded it to 4.4, I see this issue. I know there are some known issues with ffmpeg==4.3. If you are not using the video api, you can just uninstall ffmpeg(`brew uninstall ffmpeg`) and it should work fine.

[2021-06-04 23:01] AnirudhDagar commented on #3963
Thanks a tonne @prabhat00155! It was indeed an ffmpeg version issue. For now, I'm not working with the video API, so removing ffmpeg (` brew uninstall --ignore-dependencies ffmpeg`) completely worked for me.

If you don't mind I'll leave this open in case someone else stumbles upon the same issue. I'll change the name of this issue for more context. I'm also linking #3188 and #3283 since they seem

[2021-06-05 06:42] zhiqwang commented on #3909
Hi @fmassa , This is my honor and I also have learned a lot from your guidance here.

[2021-06-05 11:44] NicolasHug commented on #3912
Yes, according to https://en.wikipedia.org/wiki/JPEG#Required_precision the tests requirements seem to be in the DCT domain though, not pixel domain. I don't think we'll want to go as far as testing the DCT domain (I'm not even sure we can anyway, since we just use libjpeg)

[2021-06-05 11:52] NicolasHug commented on #3912
Actually looking at an older version of this: https://en.wikipedia.org/w/index.php?title=JPEG&oldid=814219419#Required_precision there seem to be pixel-level checks (for the decoding phase though, not the encoding obviously):

[2021-06-05 15:37] sahilg06 commented on #3956
@NicolasHug this code is giving me error
[code]
[
<img width="862" alt="Screenshot 2021-06-05 at 21 03 02" src="https://user-images.githubusercontent.com/59660566/120896961-85821200-c641-11eb-8a6b-f5a08da33a07.png">
](URL)

also I tried to write str(context) instead of str(context.exception) it followed with other errors

<img width="1439" alt="Screenshot 2021-06-05 at 21 06 21" src="https://user-

[2021-06-05 15:40] NicolasHug commented on #3956
I think you can just convert this into

[code]

[2021-06-05 16:08] sahilg06 commented on #3956
it is still giving the last 2 error for function five_crop() and center_crop(). actually some exception of positional arguments is occurring in these two functions which is not matching to "Tensor is not a torch image"
<img width="1233" alt="Screenshot 2021-06-05 at 21 38 15" src="https://user-images.githubusercontent.com/59660566/120897954-65a11d00-c646-11eb-8a5c-2b85e8592a0d.png">

[2021-06-05 16:16] NicolasHug commented on #3956
Could you please submit a PR? It will be easier to see what's going on

[2021-06-06 03:09] harishsdev commented on #3956
@NicolasHug  I am working on B1

[2021-06-06 05:59] LeoLiu1220 commented on #3149
怎么编译源码呢请问 刚装了miniforge用whl安装包装了torch 装torchvision怎么装呢

[2021-06-06 08:42] NicolasHug commented on #3956
Thanks a lot for your interest @harishsdev but before working on B1, I would kindly ask that we first finish your work in https://github.com/pytorch/vision/pull/3975 as you're already working on 4 different groups. The CI is still failing there as the tests seem to loop indefinitely. As I already asked, please a) split the PR into 2 PRs and b) run the tests locally to avoid such issues. Don't hesi

[2021-06-06 17:01] harishsdev commented on #3945
Hi all,I am working only on Group G,Group D

please take initiate to raise PR for Group B,Group C

[2021-06-06 17:05] AnirudhDagar commented on #3945
@harishsdev no worries, I can send in a PR if you are not working on them anymore.

[2021-06-06 17:55] Ishan-Kumar2 commented on #3945
Hi @AnirudhDagar are you working on both B and C? I can help with one.

[2021-06-06 18:07] AnirudhDagar commented on #3945
Sure @Ishan-Kumar2! I was about to start with B, but let me know the one you prefer. I'll take the other. :))

[2021-06-06 18:24] Ishan-Kumar2 commented on #3945
Okay @AnirudhDagar you can continue with B, I'll try C.

[2021-06-06 21:36] vadimkantorov commented on #3331
@fmassa Even if we just replace torch.flatten by self.flatten, it simplifies model surgery by `model.avgpool = model.flatten = model.fc = nn.Identity()` (instead of `del model.avgpool, model.flatten, model.fc`)

[2021-06-07 03:37] vivekkumar7089 commented on #3956
@NicolasHug , I wanted to work on the port for group B1. @harishsdev ,  if it is fine with you :)

[2021-06-07 06:08] harishsdev commented on #3956
@vivekkumar7089 please continue with B1

[2021-06-07 08:14] teang1995 commented on #3949
@datumbox
Thank you for answering my question.

I have one more question.  What kind of problem do you expect to occur without this assertion?
I have some pictures make assertion error there, but i cannot find common feature of them.

[2021-06-07 09:35] NicolasHug commented on #3913
I forgot that we still need to account for fbcode here... which might be using yet another different libjpeg version. I changed my mind 😅, it's not even worth trying.

[2021-06-07 09:46] NicolasHug commented on #3951
done in #3978, thanks again @AnirudhDagar

[2021-06-07 09:46] #3951 closed

[2021-06-07 10:03] prabhat00155 opened #3986 "Mismatch in audio frames returned by pyav and video reader"
[audio-video sync test](https://github.com/pytorch/vision/blob/964ce1e95cba640768c5a39dbc018531c49d476c/test/test_video_reader.py#L1238) was failing in https://github.com/pytorch/vision/pull/3934. However, it turns out that the audio frames returned by our video reader doesn't match with pyav results(both output shapes and values are different).
Here is the [notebook](https://colab.research.google

[2021-06-07 10:42] NicolasHug opened #3987 "Port test/test_transforms_tensor.py to pytest"
Currently, most tests in [test/test_transforms_tensor.py](https://github.com/pytorch/vision/blob/master/test/test_transforms_tensor.py) rely on `unittest.TestCase`. Now that we support `pytest`, we want to remove the use of the `unittest` module.

### Instructions

There are many tests in this file, so I bundled them in multiple related groups below. If you're interested in working on this issue,

[2021-06-07 11:33] tanvimoharir commented on #3987
Hello,
I would like to work on group A and F.
Thanks

[2021-06-07 11:40] fmassa commented on #3331
@vadimkantorov I think we should revisit how one does model surgery. In #3597 I have a prototype feature (which I'll be updating soon) that has as a much more robust and generic way of providing feature extraction

[2021-06-07 11:54] vadimkantorov commented on #3331
I think deleting some upper layers is only tangentially related to intermediate feature extraction, as with `model.avgpool = model.flatten = model.fc = nn.Identity()` is a very simple and understandable way removing some layers (and not involving a recent new technology).

I propose to still do `self.flatten`, even if you merge your new FX-based feature

[2021-06-07 11:58] fmassa commented on #3331
@vadimkantorov the magic with the FX-based approach is that [if you specify any part of the model](https://github.com/pytorch/vision/pull/3597/files#diff-a80d36f59515b8c9978aa3b8a837c24340c81fbd8da2f52d95c4bcfbf4409d50R191), you can actually delete (by removing the compute and the parameters) of the end of the model. So it is actually a generalization of what you are proposing

[2021-06-07 11:59] vadimkantorov commented on #3331
I understand that it also solves this case :) But `self.flatten` is so simple and doesn't break any back-compat and doesn't require learning the new compiling functionality just for this simple goal :)

[2021-06-07 12:23] NicolasHug commented on #3956
Looks like we're done with this file, thank you so much everyone for your help!!
I'll close this issue, for those who are interested I opened a similar issue in https://github.com/pytorch/vision/issues/3987

[2021-06-07 12:23] #3956 closed

[2021-06-07 12:29] datumbox commented on #3963
@AnirudhDagar We need to close the issue to keep things tidy. I think users can still find the issue even if it's closed. To help them further you can edit your description and link to the reply that helped you solve it or summarize it in a few words.

If you face any additional issues, don't hesitate to reopen it. Thanks!

[2021-06-07 12:29] #3963 closed

[2021-06-07 12:38] datumbox commented on #3949
The scaling parameter that is being estimated there is being used in a few places, for example here:
https://github.com/pytorch/vision/blob/c8f7d772e844d707e152e2a1fa1aad26cf1b7530/torchvision/ops/poolers.py#L186-L192

and here:
https://github.com/pytorch/vision/blob/c8f7d772e844d707e152e2a1fa1aad26cf1b7530/torchvision/ops/poolers.py#L226-L231

So it affects the structure of your network and the w

[2021-06-07 13:11] mthrok commented on #3986
**Off-topic, yet remotely related** Does the video reader handle stereo sound as well?
When testing something with audio, I recommend to use stereo audio just to be sure.

[2021-06-07 13:25] NicolasHug opened #3992 "Re-enable or remove test_cpp_models.py?"
Currently, all the tests in `test_cpp_models.py` are unconditionally skipped:

[code]

(note the `or True`).

I tried running them on my laptop and they all passed except for a few of the `mnasnet` tests that failed with `RuntimeError: Given groups=32, expected weight to be divisible by 32 at dimension 0, but got weight of size [[40, 1, 3, 3]] instead` , which is probably fairly easy to fix. BTW,

[2021-06-07 14:07] AnirudhDagar commented on #3987
I'll start working on group B and C.

[2021-06-07 14:11] vivekkumar7089 commented on #3987
I would like to work on D and E.

[2021-06-07 14:41] #3821 closed

[2021-06-07 14:57] prabhat00155 commented on #3986
[read_video](https://github.com/pytorch/vision/blob/0013d9314cf1bd83eaf38c3ac6e0e9342fa99683/torchvision/io/video.py#L256) and [write_video](https://github.com/pytorch/vision/blob/0013d9314cf1bd83eaf38c3ac6e0e9342fa99683/torchvision/io/video.py#L111) support audio frames with multiple channels, so I would think yes. @bjuncek can confirm this.

[2021-06-07 17:42] datumbox opened #3995 "Improve the accuracy of Classification models by using SOTA recipes and primitives"
## 🚀 Feature
Update the weights of all pre-trained models to improve their accuracy.

## Motivation

<h4 id="new-recipe-with-fixres">New Recipe + FixRes mitigations</h4>

[code]

Using a recipe which includes Warmup, Cosine Annealing, Label Smoothing, Mixup, Cutmix, Random Erasing, TrivialAugment, No BN weight decay, EMA and long training cycles and optional FixRes mitigations we are able to impro

[2021-06-07 20:11] mattip opened #3997 "Documentation is not being built for tags"
## 🐛 Bug

The circleci build workflow for tags should be building and pushing a version of the documentation, but is not. Compare this [nightly build](https://app.circleci.com/pipelines/github/pytorch/vision/8598/workflows/3778280a-74a5-457a-b355-794095e70cf4) which has build_docs and upload_docs steps, to this [tag build]( https://app.circleci.com/pipelines/github/pytorch/vision/8532/workflows/c8

[2021-06-07 20:39] mthrok commented on #3997
Hi @mattip

Thanks for raising this. BTW, after the fix, do we still need to manually update the version selector?

[2021-06-07 21:14] mattip commented on #3997
Yes.

[2021-06-08 01:01] teang1995 commented on #3949
Thank you for answering my question.
Have a good day!

[2021-06-08 05:51] elb3k commented on #2581
Hi, these were useful to create `LibTorch_vision_ops` package on cocoapods. I currently published from fork, once [PR](https://github.com/pytorch/vision/pull/3999) is accepted, main repo can publish on cocoapods.

[2021-06-08 08:43] #3949 closed

[2021-06-08 09:48] thesigmaguy opened #4001 "Unable to build torchvision on Windows (installed torch from source and it is running)"
## ❓ Questions and Help

I have installed torch successfully in my PC via source, but I am facing this issue while installing the torchvison. I don't think I can install torchvision via pip as it is re-downloading the torch.

Please help me to install it

TIA
i used `python setup.py install`
[code]

[2021-06-08 10:43] datumbox commented on #4001
@thesigmaguy This is the error that you get if the gcc compiler is not found in the following line:
https://github.com/pytorch/vision/blob/f87ce881e84388daf30905732f8286b8f49e9001/setup.py#L365

I would recommend confirming that the gcc compiler is installed on your system. If not you could install it via conda. For more info on how to install TorchVision from source have a look on our [guide](htt

[2021-06-08 10:43] #4001 closed

[2021-06-08 13:16] thesigmaguy commented on #4001
But gcc is for Linux based systems. I am using MSVC Windows system. How can I solve that?

[2021-06-08 14:15] datumbox commented on #4001
@andfoy Do you happen to know if the project can be compiled with ffmpeg support on Windows using a gcc setup [like this](https://stackoverflow.com/a/52879565)? Our CI does not currently supports it but I wonder if you have tried it.

@thesigmaguy Is it crucial for you to have ffmpeg support? If not you can try disabling it by overwriting the following var to false:
https://github.com/pytorch/visi

[2021-06-08 14:34] thesigmaguy commented on #4001
I installed mingw (I don't have Ninja installed, I don't see it as requirement). Still there is a strange error I see without much detail.
[code]

I checked the commit log and found that size_t can be fixed via `git checkout 851b623` Also my conda env already had the jpeg installed strangely. I uninstalled it. then ran a clean setup and install.

It worked.

Though the checkout was to may 7th, tor

[2021-06-08 15:04] datumbox commented on #4001
Awesome, thanks for confirming.

The `size_t` is an unrelated headache as you said. You can read more about it here https://github.com/pytorch/vision/pull/3777#issuecomment-832656199. The fix that you quoted is a workaround and we still look for a better fix.

The version should not be an issue. Just make sure you pull the latest master and install the pytorch from nightly as described in our cont

[2021-06-08 15:17] prabhat00155 commented on #3805
Reopening as some changes had to be reverted.

[2021-06-08 16:22] NicolasHug opened #4006 "Our CUDA tests don't run on CircleCI Windows"
The Windows GPU unittest workflows don't support cuda.

This can be seen in https://github.com/pytorch/vision/pull/4005 where the `unittest_windows_gpu_py3.8` workflow indicates that `torch.cuda.is_available()` returns False: https://app.circleci.com/pipelines/github/pytorch/vision/8793/workflows/0d3c21ce-7657-4388-b637-7361f318c441/jobs/638628

SSH-ing into one of those machines shows that the dr

[2021-06-08 18:28] andfoy commented on #4001
I don't know if we should setup a CI that runs a build using MinGW and not MSVC?

[2021-06-08 20:22] AnirudhDagar opened #4009 "python_type_check CI is broken: missing stubs for requests module"
## 🐛 Bug

The `python_type_check` CI is failing since mypy can't find library stubs for requests module used [here](https://github.com/pytorch/vision/blob/befbe1b372e7c028a7b4cb2155110fbae708038e/torchvision/datasets/utils.py#L204) .
This can be seen in the [failed tests](https://app.circleci.com/pipelines/github/pytorch/vision/8800/workflows/971b988a-2245-4aa7-acdf-97af0a38afe2/jobs/639205) for t

[2021-06-08 20:40] AnirudhDagar commented on #4009
After digging up a bit more, I found that this sudden appearance due to the [mypy 0.900](https://github.com/python/mypy/releases/tag/v0.900) release today.

According to the docs:

cc @NicolasHug @pmeier

[2021-06-09 00:44] #2779 closed

[2021-06-09 03:13] harishsdev commented on #3987
@vivekkumar7089  Can I work on E,if you are not started yet👍

[2021-06-09 04:41] vivekkumar7089 commented on #3987
@harishsdev I have already started working on it :)

[2021-06-09 08:10] NicolasHug commented on #4009
reopening as #4011 is just a quick band aid

[2021-06-09 08:11] AnirudhDagar commented on #4009
Should I go ahead with a PR for this one @NicolasHug?

[2021-06-09 08:11] NicolasHug commented on #4009
yes @AnirudhDagar , thanks!

[2021-06-09 08:35] fmassa commented on #3992
Those tests test the C++ API of the models in torchvision. The current way we did to test them is not ideal, as we expose the C++ models to Python to compare the results of the baseline implementation in Python.

In principle we should enable the C++ tests back, but given that the C++ API of torchvision is in a state which it is not maintained (we don't enforce adding C++-equivalent models to the

[2021-06-09 08:39] fmassa commented on #3963
@prabhat00155 what do you think if we skip compiling ffmpeg in torchvision is the version is not compatible, printing a message saying that that version of ffmpeg is not compatible?

[2021-06-09 08:46] AndreasHNielsen opened #4069 "Bug report: changing .utils to .hub"
Hi
I was looking at the code from the pretrained models of Resnets.
https://pytorch.org/vision/stable/_modules/torchvision/models/resnet.html
I came across the package loading, importing the load_state_dict_from_url from **.utils**. I believe this should be **.hub**

Documentation below:
https://pytorch.org/docs/stable/_modules/torch/hub.html#load_state_dict_from_url

This might just be a simple c

[2021-06-09 11:25] AnirudhDagar commented on #4009
Closing this now, fixed with #4014.

[2021-06-09 11:25] #4009 closed

[2021-06-09 11:47] prabhat00155 commented on #3963
Yeah, I think we should do that.

[2021-06-09 11:59] fmassa commented on #3949
Hi,

I think this type of error could happen if for some reason one of the sizes of the image get squashed to 0 when doing the division of `img_size // scale`, maybe in a case of a very wide or narrow image maybe?

[2021-06-09 12:05] prabhat00155 opened #4022 "Display warning message when building torchvision with incompatible ffmpeg version"
Currently, torchvision doesn't work with ffmpeg versions 4.3 or 4.4, see [this](https://github.com/pytorch/vision/issues/3963). We should throw a warning message when we get incompatible ffmpeg versions and continue building torchvision without ffmpeg.

[2021-06-09 16:36] #3945 closed

[2021-06-09 16:37] NicolasHug commented on #3945
All done! Thank you so much everyone for your help!!

[2021-06-09 18:36] vadimkantorov opened #4029 "[feature request] rgb2lab and other color space conversions"
It would be nice to have them available in the standard library (both on CPU/GPU) rather than rolling your own. Kornia seems to have implemented it: https://kornia.readthedocs.io/en/latest/color.html, but I think it's basic enough to merit inclusion of similar functions in core.

(my usecase: SLIC superpixel extraction which requires rgb2lab)

[2021-06-09 20:45] Haichao-Zhang commented on #3816
Hi, we encountered a similar issue recently (torch==1.8.1+cu111): https://github.com/HorizonRobotics/alf/pull/896

Description:
cuda version of torch.randperm(n) seems to have a bug when n is a large number, sometimes generating negative or very large values that cause out of bound kernel error, when running together with other codes, similar to the issue described by @nothingwithyou

- However, w

[2021-06-10 09:09] datumbox commented on #4029
Thanks @vadimkantorov. This is useful feedback as we are currently in discussions to improve our transforms.

[2021-06-10 11:00] NicolasHug opened #4033 "Port more tests files to pytest"
Now that we support `pytest`, we want to remove the use of the `unittest` module for different test files. We've already ported a lot of tests in previous issues (https://github.com/pytorch/vision/issues/3987, https://github.com/pytorch/vision/issues/3945, https://github.com/pytorch/vision/issues/3956, https://github.com/pytorch/vision/issues/3951), and we want to extend this to more files now.

#

[2021-06-10 11:08] AnirudhDagar commented on #4033
I'm working on `test_datasets_video_utils.py` and `test_hub.py`.

[2021-06-10 11:09] DevPranjal commented on #4033
Hey @NicolasHug, I will try working on `test_transforms_video.py`.

[2021-06-10 11:20] vivekkumar7089 commented on #4033
Hi @NicolasHug !! I will work on `test_datasets_samplers.py` and `test_models_detection_anchor_utils.py`.

[2021-06-10 11:24] vadimkantorov commented on #4029
Maybe this is not even related to transforms per se, since useful also in non-augmentation contexts as well.

For transforms, I really hope, there is more native batched transforms, clear separation between function and random-sampling its parameters, and also that there is an easy way to do inverse transforms (where possible). Also getting padding-masks for direct and inverse transforms is useful

[2021-06-10 11:35] zhiqwang commented on #4033
Hey @NicolasHug, I will try working on `test_onnx.py ` and `test_models_detection_negative_samples.py`.

[2021-06-10 11:40] AnirudhDagar commented on #4033
I'll also pickup the only one left `test_models_detection_utils.py`. Should be quite easy too.

[2021-06-10 11:45] datumbox commented on #4029
@vadimkantorov The tag transforms includes to anything under the transform module, including augmentations, functional and class transforms. Similar requests have been raised in the past (see #3224 for summary), so that's something we are looking into.

[2021-06-10 12:01] datumbox commented on #1857
This should be fixed by #3196.

[2021-06-10 12:01] #1857 closed

[2021-06-10 12:18] fmassa commented on #3816
@Haichao-Zhang can you provide a minimum working example that allows us to pinpoint the issue?
Something in the lines of
[code]

Without such examples, it might be very hard to debug. If this doesn't happen on isolated examples, this can become tricky to fix.

Also, would it be possible to try using a nightly version of PyTorch? There have been some improvements that happened on randperm since the

[2021-06-10 15:53] NicolasHug commented on #3987
All done,  thanks a lot everyone!

[2021-06-10 15:53] #3987 closed

[2021-06-10 16:50] Haichao-Zhang commented on #3816
Hi @Haichao-Zhang ,  I have provided a detailed reproducible example with more details here:
https://github.com/pytorch/pytorch/issues/59756
Hope it helps.

[2021-06-10 17:25] mathmanu commented on #2655
ResNets are heavy in terms of compute. MobileNets have less compute, but heavy in terms of memory access (Depthwise layers). RegNets provide a good balance between these extremes - especially RegNetX. Highly recommend them. Whish to see them as part of torchvision.

[2021-06-10 17:52] sugatoray opened #4042 "torchvision.utils.draw_bounding_boxes specifies image as a tensor of shape (C x H x W), but throws error for C = 1"
## 🐛 Bug

The utility function, `torchvision.utils.draw_bounding_boxes()` specifies the input parameter `image` as a tensor of shape `(C, H, W)`, but does not allow for `C = 1`. Currently it only supports `C = 3`. However the documentation does not say anything about only supporting `C = 3` (3-channel images).

- docs: [`torchvision.utils.draw_bounding_boxes`](https://pytorch.org/vision/stable/uti

[2021-06-10 19:55] abedidev opened #4044 "Using torchvision on AMD GPU"
Hi,

I have installed and used [the AMD version of PyTorch](https://pytorch.org/blog/pytorch-for-amd-rocm-platform-now-available-as-python-package/) without any problem. I have also installed the AMD version of torchvision. However, I can not use torchvision with AMD GPU. Is there a solution to use torchvision on AMD GPU?

Thanks

[2021-06-11 08:24] NicolasHug commented on #4044
Hi @abedicodes , couldyou please describe what you tried and what error message you're getting?

[2021-06-11 08:32] datumbox commented on #4042
Thanks for reporting and for sending a bug fix.

[2021-06-11 08:32] #4042 closed

[2021-06-11 08:56] niladridutt opened #4048 "Mask R-CNN with MobileNet v3 backbone"
## 🚀 Feature
Add Mask R-CNN with MobileNet v3 backbone

## Motivation

In the recent release torchvision added support for mobilenet v3 and extended it to work with instance segmentation models.
`torchvision.models.detection.fasterrcnn_mobilenet_v3_large_fpn`
However, support for Mask R-CNN with MobileNet v3 backbone is still missing and would be a worthy addition.

## Pitch

- Similar module like

[2021-06-11 09:17] datumbox commented on #4048
@niladridutt Thanks, makes sense. We can have a look at it.

[2021-06-11 10:25] NicolasHug commented on #4033
All done! Thank you so much everyone for the blazing fast PRs!!

[2021-06-11 10:25] #4033 closed

[2021-06-11 11:45] niladridutt commented on #4048
Thanks!

[2021-06-11 14:36] bjuncek commented on #3986
Yes, we _do_ handle it in normal circumstances. I've learned over the course of debugging this one that there might be more than one way of encoding stereo audio, so I have to double check if we're good for all the edge cases.

[2021-06-11 15:23] prabhat00155 commented on #3696
This has been fixed.

[2021-06-11 15:23] #3696 closed

[2021-06-11 16:24] #3931 closed

[2021-06-11 17:53] ahamedt opened #4057 "Error with hashlibmd5() on FIPS Compliant Systems"
If you have a question or would like help and support, please ask at our
[forums](https://discuss.pytorch.org/).

If you are submitting a feature request, please preface the title with [feature request].
If you are submitting a bug report, please fill in the following details.

## Issue description

I am working with the CIFAR10 dataset and when I try to utilize torchvision.datasets.CIFAR10 to dow

[2021-06-11 19:26] ckyleda commented on #3332
What can we do if we are stuck with torchvision 0.8.2?

Is there no solution?

[2021-06-11 23:18] #4022 closed

[2021-06-13 00:36] sugatoray commented on #2761
## Displaying bounding boxes for rotated rectangles.

Given the rotated blue rectangular region, how to show the label?

If the labels are rotated as well, it will be quite challenging to rotate your head everytime to read the labels. On the other hand, if the label is shown withing the non-rotated bounding box (green), which also contains the target rotated rectangle (blue), then it is clear wher

[2021-06-14 09:12] github-actions[bot] opened #4052 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow tests/download.
Please look into it:

https://github.com/pytorch/vision/actions/runs/935215530

Feel free to close this if this was just a one-off error.

cc @pmeier

[2021-06-14 11:01] fmassa commented on #4001
@andfoy PyTorch only builds CI with MSVC, so we should probably keep MSVC as well.

I think we might have some parts in our setup.py for video which might not work well on Windows, we should double-check that

[2021-06-14 11:08] fmassa commented on #3332
@ckyleda if you can't update torchvision to latest version, you'll have to add some extra logic in your code to handle it.

Something like
[code]

[2021-06-14 11:08] fisakhan commented on #3261
I have cuda 11 and get the following error. What should I do?
[code]
[code]

[2021-06-14 11:11] fmassa commented on #2655
@mathmanu we are going to be adding RegNets in torchvision in the coming months

[2021-06-14 11:30] fmassa commented on #4044
Hi @abedicodes ,

We have ROCm CI in torchvision, and we provide nightlies for Linux with pip (see https://download.pytorch.org/whl/nightly/rocm4.0.1/torch_nightly.html)

Installation instructions can be found in https://pytorch.org/get-started/locally/
![image](https://user-images.githubusercontent.com/9110200/121885475-7de2fd00-cd14-11eb-8b20-51fdb3806a0d.png)

What issues are you having when tr

[2021-06-14 11:46] fmassa commented on #4006
cc @malfet @seemethere could anyone in your team recommend the best way forward with re-enabling those Windows CUDA tests?

[2021-06-14 13:58] oke-aditya commented on #4048
Let's add this to  #2707 as well :)

[2021-06-14 14:06] fmassa commented on #3261
@fisakhan the error seems to be within PyTorch3d, it would be better to report this error in https://github.com/facebookresearch/pytorch3d

[2021-06-14 15:19] malfet commented on #4006
@fmassa, you simply need to install latest driver before running the tests, by calling something similar to
https://github.com/pytorch/pytorch/blob/master/.circleci/scripts/windows_cuda_install.sh
Since CUDA drivers are backward compatible it's OK to download say 11.3 and only install `Display.Driver` component of it

[2021-06-14 15:29] mathmanu commented on #2655
Thank you.

Note that RegNetY models are memory intensive due to the Squeeze-and-Exctication layers. Some of the advantage that RegNet provides will be removed by those layers.

Hence I am also looking forward to torchvision having models without Squeeze-and-Exctication, say RegNetX. If possible lite versions on MobileNetV3 as well  - as a reference tensorflow/models provide such models  - they ca

[2021-06-15 01:56] lyw615 opened #4056 "Why not replacing fully connected operation with 1*1 convolution in faster-rcnn implementation?"
The   1x1 convolution used in RPN head. But the head of  faster-rcnn  implemented with  nn.Linear(). Why not replacing nn.Linear()  with  1x1 convolution?   The faster-rcnn implementation  refers to torchvision.models.detection.faster_rcnn module.   And i'm also curious about the reason why  conv3x3 for backbone stage  is set to 'bias=False' ?

[2021-06-15 06:33] pmeier commented on #4057
Hey @ahamedt, unfortunately there is no official way around this. If the resource has a checksum attached

https://github.com/pytorch/vision/blob/5d93a87f5799e720240a5eab7f3b2424dbabad11/torchvision/datasets/cifar.py#L32

we will always check it after the download for security reasons

https://github.com/pytorch/vision/blob/5d93a87f5799e720240a5eab7f3b2424dbabad11/torchvision/datasets/cifar.py#L14

[2021-06-15 10:32] #3890 closed

[2021-06-15 12:26] ckyleda commented on #3332
This works for images that are grayscale; but I have RGB images where the actual channels are important and replicating the information across all channels is not desired behavior.

It blows the mind that defaulting to single-channel image reading was ever implemented in the first place. I suspect this probably means I cannot use torch for my use case.

[2021-06-15 15:01] NicolasHug opened #4063 "Port test/test_datasets_utils.py to pytest"
Currently, most tests in [test/test_datasets_utils.py](https://github.com/pytorch/vision/blob/master/test/test_datasets_utils.py) rely on `unittest.TestCase`. Now that we support `pytest`, we want to remove the use of the `unittest` module.

### Instructions

Please comment below if you're interested to work on this and submit a PR for all the tests in this file.

Here are a few instructions speci

[2021-06-15 16:06] AnirudhDagar commented on #4063
I'd love to work on this, will send a PR soon.

[2021-06-15 18:55] cceyda commented on #3848
I have just tested the new v0.10.0 release with beta support for nvjpeg. But I found it to be **slower** x2.
[code]
Using:
 - Titan RTX
 - Cuda 10.2
 - python 3.6.9

benchmarking code: https://github.com/cceyda/image-checker/blob/master/examples/benchmark_jpeg_decode_extended.ipynb

Also kept getting below error with cuda 11.1

[code]

[2021-06-16 07:19] NicolasHug commented on #3848
hi @cceyda , the GPU benchmarks you're reporting should be using something like `torch.cuda.synchronize` between each run, to get accurate results. For more comparable reasults, would you mind using something like the code in https://github.com/pytorch/vision/pull/2786#issuecomment-832148710 ? You can find it by clicking on the "Benchmark code for ref" part.

Also please note that this issue is fo

[2021-06-16 07:41] immanuelweber opened #4071 "torchvision.ops.batched_nms() crashes with pytorch 1.9.0 and torchvision 0.10.0"
## 🐛 Bug

with the just released pytorch 1.9.0 and torchvision 0.10.0 `torchvision.ops.batched_nms()` crashes on my machine with the following error:
[code]

Since both are of the current version, I guess they should be compatible (they are not yet listed in the compatibility matrix).

## To Reproduce

Steps to reproduce the behavior:

this example code shows the behavior on my machine:
[code]

##

[2021-06-16 07:53] NicolasHug commented on #4069
Thanks for the report @AndreasHNielsen . From https://github.com/pytorch/vision/pull/4070#pullrequestreview-684837690:

Since we can't really import from `hub` directly, I'll close the issue

[2021-06-16 07:53] #4069 closed

[2021-06-16 08:23] fmassa commented on #3332
@ckyleda I'm sorry, I don't understand your last comment.

The default behavior for `torchvision.io.read_image` in torchvision 0.8.2 was to only support RGB images for PNG, returning 3 channels.

[2021-06-16 09:28] KhabarlakKonstantin commented on #4071
Can also report REGRESSION.
A similar issue has occurred to me when running `torch.jit.script`
Code that worked with pytorch 1.8.0 and torchvision 0.9.1 after update to pytorch 1.9.0 and torchvision 0.10.0 now fails with:

RuntimeError:
object has no attribute nms:
  File "C:\tools\Anaconda3\lib\site-packages\torchvision\ops\boxes.py", line 35
    """
    _assert_has_ops()
    return torch.ops.tor

[2021-06-16 09:35] cceyda commented on #3848
Even with the benchmark code I adapted from `nvjpeg_bench.py` used in [#2786 (comment)](https://github.com/pytorch/vision/pull/2786#issuecomment-832148710) I always get slower results with cuda decoding. I have tried many many different versions of benchmarking.

nvjpeg_bench.py below:
[code]
Server 1 ENV:
[code]
Server 1 results: (cuda x2 slower)
[code]

cuda 11.1 bug disappeared mysteriously, ip

[2021-06-16 09:41] NicolasHug commented on #4071
For ref I'm unable to reproduce on OSX with `conda create -n new pytorch torchvision -c pytorch`, the tests pass just fine.

<details env>

[code]
</details>

[2021-06-16 09:45] NicolasHug commented on #3848
Thanks for the details, we will keep that in mind

Sounds good!

Just note that wile the code runs on A100, we haven't implemented the full A100 support yet so we can't take advantage of the dedicated hardware instructions that the A100 has. We'll look into it in the future, and this is one of the items of this issue, but I don't have access to an A100 ATM.

[2021-06-16 09:47] fmassa commented on #4071
FYI I've also tried with `pip` by doing
[code]
on a GPU machine and it worked fine.

[code]

I'm now trying on conda with the same environment

[2021-06-16 09:51] cceyda commented on #3848
Just ran on collab and cuda is slightly faster... don't know what is wrong with my local setup :/

![image](https://user-images.githubusercontent.com/15624271/122198082-cb599880-ced3-11eb-94a0-d34449f78bf8.png)

[2021-06-16 10:16] dodobyte commented on #4071
Have the same issue, installed with conda, also a GPU machine.

[2021-06-16 10:20] NicolasHug commented on #4071
On a Linux GPU machine it looks like torchvision 0.2.2 gets installed. I tried both with cuda 10.2 and 11.1 and both fail with `AttributeError: module 'torchvision' has no attribute 'ops'`.

`conda create -n new python=3.9 pytorch torchvision cudatoolkit=10.2 -c pytorch`

<details>

[code]

</details>

`conda create -n new python=3.9 pytorch torchvision cudatoolkit=11.1 -c pytorch -c nvidia`

<det

[2021-06-16 11:10] egonuel commented on #4071
@NicolasHug regarding, 0.2.2, yesterday I also observed that sometimes conda only found this version, when uninstalling torchvision 0.10.0 and it, but I am unable to recreate this at this moment.
the installation line you posted results in 0.10.0 being installed on my machine.

[2021-06-16 13:16] fmassa commented on #4071
Looking at https://anaconda.org/pytorch/torchvision/files, it seems that the py39_cu102 and py39_cu111 are available, so I'm not sure why it's not being found.

@malfet @seemethere there are problems with torchvision CUDA binaries on Linux for Python 3.9 (details in https://github.com/pytorch/vision/issues/4071#issuecomment-862238275).

And I've just tried with Python 3.8, and even though I'm able

[2021-06-16 14:51] egonuel commented on #4071
@malfet you are right, should have mentioned that I just created these tensors to satisfy the inputs without caring for actual correct input. it stills fails with the above-mentioned error on my machine. I updated the sample code above however accordingly.

[2021-06-16 15:06] egonuel commented on #4071
Since @fmassa pointed to [](https://anaconda.org/pytorch-test/torchvision/files ), I just installed from there and the sample works.

[2021-06-16 15:07] malfet commented on #4071
torchvision in https://anaconda.org/pytorch channel was build against https://github.com/pytorch/vision/commit/9d5561b1f1224426a34ac13391f9c62f03c75b2f whereas one in https://anaconda.org/pytorch was build against https://github.com/pytorch/vision/commit/ae9963fd077619c7d2a134813e35551943e87458
I guess promoting package from one channel to another should resolve the issue

[2021-06-16 15:08] fisakhan commented on #3261
Thanks @fmassa

[2021-06-16 17:19] Queuecumber commented on #2934
Is the API still in beta? I dont see it marked as such on the documentation but I still get this error on torchvision 0.10.0

[2021-06-17 01:55] nexplor opened #4076 "Cannot install any version of torchvision newer than 0.2.2 with opencv for python 3.9 and pytorch 1.9.0"
## 🐛 Bug
Issue #3207 has cropped up again for pytorch 1.9.0
Cannot install any version of torchvision newer than 0.2.2 with opencv for python 3.9

## To Reproduce
Contents of `~/.condarc`:
[code]

On the command line:
[code]
This installs torchvision version 0.2.2.

Replacing the last line with
[code]
produces the error
[code]

## Expected behavior
Torchvision version 0.10.0 should be selected for

[2021-06-17 04:03] nexplor commented on #4076
cc @fmassa @seemethere

[2021-06-17 06:57] xiaohu97 commented on #4076
GOD I HAVE the same BUG in linux_cuda10.2 Pytorch 1.8. When I pip install the torchvision,the highest version is 0.22,I also use pip3 -i to change the orgin ,fail too.

[2021-06-17 07:16] xiaohu97 commented on #4076
`pip3 -install torchversion==0.9.0`
**`Could not find a version that satisfies the requirement torchvision==0.9.0(from versions:0.1.6,0.1.7have ,0.1.8,0.1.9,0.2.0,0.2.1,0.2.2,0.2.2,0.2.post2,0.2.2.post3`**

I have met the BUG 24hours ago,I am building some environments for new machines, and it bothers me a lot.

[2021-06-17 07:21] xiaohu97 commented on #4076
btw I did not in conda.

[2021-06-17 07:37] NicolasHug commented on #4076
Thanks for the report, we're working on it.

It doesn't seem to be related to opencv though, or at least it also happens without opencv on conda: https://github.com/pytorch/vision/issues/4071#issuecomment-862238275

[2021-06-17 08:41] fmassa commented on #4076
For information, you can get unblocked by doing
[code]
if you are working with conda.

we will be fixing the issue soon.

[2021-06-17 08:44] farleylai commented on #4076
It's still the same old issue with `jpeg<=9b` such that an older version is selected.

[2021-06-17 08:48] xiaohu97 commented on #4076
TKU any way，but i am not working with conda, just python-pip in linux python3.6. And I've noticed when I upgrade pip, the version information added 0.9.1 and 0.10.0, still did not 0.9.0 or the others.

[2021-06-17 08:51] xiaohu97 commented on #4076
My os is completely new. I just installed torch. However , I am using jetson nano which contains opencv4.1.1（not python-opencv).I did not have jpeg in my pip list.

[2021-06-17 08:52] xiaohu97 commented on #4076
TKU any way，but i am not working with conda, just python-pip in linux python3.6. And I've noticed when I upgrade pip, the version information added **0.9.1 and 0.10.0**, still did not 0.9.0 or the others.

[2021-06-17 12:21] BrettRyland opened #4078 "TorchScript fails for deformable convolutions due to incorrect static typing."
## 🐛 Bug

The static typing of the `mask` parameter to the `forward` method of `DeformConv2d` should be `Optional[Tensor]`, not `Tensor`.
https://github.com/pytorch/vision/blob/master/torchvision/ops/deform_conv.py#L152

## To Reproduce
Run
[code]
This gives a stack trace followed by
[code]

## Expected behavior
Adjusting the typing to `Optional[Tensor]` gives the expected behaviour of the module

[2021-06-17 12:29] fmassa commented on #4078
@BrettRyland thanks for catching this up!

Can you send a PR fixing this, with a test so that this doesn't regress in the future?

[2021-06-17 12:45] BrettRyland commented on #4078
Looking at the tests in https://github.com/pytorch/vision/blob/master/test/test_ops.py#L663, I would think that a test at around this point in the code would be appropriate, but I'm not sure how to write a suitable test function for this. This seems like something that an internal developer should be able to fix fairly quickly though.

[2021-06-17 14:12] #4078 closed

[2021-06-17 14:13] NicolasHug commented on #4078
Thanks for the report @BrettRyland , this will be fixed in the next release

[2021-06-17 20:21] seemethere commented on #4076
Hello! We don't currently provide official packages for Jetson Nano's, if you'd like to install `torchvision` on your platform I'd suggest building directly from source!

[2021-06-18 06:11] SungmanHong opened #4083 "r3d_18(3D_resnet) do not work!! (When I import it in my torch.nn.Module)"
Hi, I just loaded pre-trained 3D-resnets
(https://pytorch.org/vision/stable/models.html#video-classification)
What I loaded is ResNet 3D 18(r3d_18) and my input shape is [1 x 3 x 192 x 112 x 112]
where 1 is batch size, 3 is [R,G,B] and 192 is video_length and 112 and 112 is W and H.

I got this error, at forward()
[code]

Why this error come out?? I just read that resnet3D requries the above shape

[2021-06-18 06:32] SungmanHong opened #4084 "VideoResNet object is not iterable"
[code]

How can I resolve this??

[2021-06-18 07:25] martinezhermes commented on #4044
@abedicodes might be referring to the error I've been experienced while trying to install the latest stable, 1.9.0, torch works without any issue, but torchvision fails, error falls back to `RuntimeError: Error compiling objects for extension. ERROR: Failed building wheel for torchvision`, Preview Nightly does install and seems to work correctly though.

[2021-06-18 08:20] NicolasHug commented on #4084
Hi @SungmanHong , I'm wondering, did you encounter that issue with some code within torchvision? I cannot find a similar entry in our code.

Regardless, the code should be `nn.Sequential(*[torchvision.models.video.r3d_18(pretrained=False)])` or since there's only one argument, it can also be simplified to `nn.Sequential(torchvision.models.video.r3d_18(pretrained=False))`

[2021-06-18 08:20] #4084 closed

[2021-06-18 08:26] NicolasHug commented on #4083
Hi @SungmanHong , I cannot reproduce your issue with:

[code]

which  runs fine.

Could you please provide a minimal reproducible example showing the error, as well as the output of

[code]

as requested in the issue template? Thanks

[2021-06-18 09:17] #4057 closed

[2021-06-18 09:25] NicolasHug commented on #4044
@martinezhermes the issue experienced here is likely unrelated to the latest release, since it was submitted prior to the release.

Are you experiencing an issue with AMD on the latest release as well? If so, could you please provide the commands that you ran, with the error messages, etc. ?

[2021-06-18 09:33] martinezhermes commented on #4044
Sure thing,
currently running ROCm 4.2 with this device:
`Platform Name:                                 AMD Accelerated Parallel Processing
Number of devices:                               1
  Device Type:                                   CL_DEVICE_TYPE_GPU
  Vendor ID:                                     1002h
  Board name:                                    Vega 10 XL/XT [Radeon RX Vega 56/64]

[2021-06-18 10:44] #3843 closed

[2021-06-18 10:47] NicolasHug commented on #3843
Just for ref the failures weren't due the test being flaky, nor to a difference between `torch.linalg.lstsq` and `torch.lstsq`: the failures were due to the instability of `torch.linalg.lstsq` instead. Details in https://github.com/pytorch/vision/pull/3918#issuecomment-863930409 :)

[2021-06-18 11:38] NicolasHug commented on #3404
Thanks for the report @developer0hye ! This issue is very similar to https://github.com/pytorch/vision/issues/2582 and since solving https://github.com/pytorch/vision/issues/2582 will also solve this one (by introducing an assert statement), I'll close this one to keep things tidy. Cheers!

[2021-06-18 11:38] #3404 closed

[2021-06-18 11:51] NicolasHug commented on #2972
Thanks for the report @Licht-T , it looks like this issue has been fixed since then: https://app.circleci.com/pipelines/github/pytorch/vision/9150/workflows/5e911ca3-f0ef-409e-8437-d7b8649398c1/jobs/669225 is properly using 3.8.

I'll close the issue, thanks!

[2021-06-18 11:51] #2972 closed

[2021-06-20 07:25] tadejsv opened #4085 "Conda installation: incompatibility with openvc"
## 🐛 Bug

Trying to install torchvision together with opencv (from conda-forge channel) fails due to compatibility issues.

Here's the `env.yaml` file to reproduce:

[code]

Try and install this with
[code]

Remove either torchvision or opencv from the list, and the installation succeeds. This is on Ubuntu 20.04.

The compatibility errors I get seem a bit puzzling, I would guess that the real reas

[2021-06-20 12:59] PkuDavidGuan opened #4086 "The reference training scripts in training vgg16_bn"
## 🐛 Bug

## To Reproduce

When I run `train.py` to train `vgg16_bn` in https://github.com/pytorch/vision/tree/master/references/classification, I follow the `README.md` to use the following script:
[code]

However, I get nan loss in the training:
[code]

## Environment

[code]

## Additional Context
I guess the learning rate is too high for `vgg16_bn`, since I decrease the `lr=0.01` and the nan l

[2021-06-20 14:54] egonuel commented on #4071
I just checked the packages on PyTorch channel, and they are up-to-date now and the code is working. Am I allowed to close this issue then?

[2021-06-20 20:07] tileb1 opened #4087 "Release binaries of torchvision for ppc64le"
## 🚀 Feature

Make binaries of torchvision for ppc64le available to download e.g. via anaconda.
## Motivation
I'm trying to use pytorch and torchvision on ppc64le. Installing from source is really non trivial and I rely on https://github.com/open-ce/open-ce for downloading some releases of torchvision. Since this is an open-source software, the latest versions of torchvision (and pytorch) are alwa

[2021-06-21 04:17] SungmanHong commented on #4083
Thanks for your support!
Yes, the above code run fine!

But I found that, If I import the r3d_18 model in the custom "torch.nn" class,
the error occurs.
Here is example(I tried in colab but the cuda memory error occurs)

[code]

You can reduce the video_length or may width or height if you get CUDA memory error.
I got this error when I run the above code

`RuntimeError: size mismatch, m1: [512 x 1

[2021-06-21 06:47] sahilg06 opened #4088 "FasterRCNN with resnet backbone"
## 🚀 Feature
Adding a Function for directly using FasterRCNN with resnet backbone here
https://github.com/pytorch/vision/blob/master/torchvision/models/detection/faster_rcnn.py

## Motivation
We can directly import FasterRCNN with resnet backbone

## Additional context
The function can be something like this:
[code]
If something like this is needed, would love to submit a PR. Thanks!

[2021-06-21 06:49] SungmanHong commented on #4083
Hello, I just made simple error reconstruction as follows...

[code]

come out...
[code]

[2021-06-21 06:57] oke-aditya commented on #4088
[Here](https://github.com/oke-aditya/quickvision/blob/master/quickvision/models/components/torchvision_backbones.py) is more generic file, this would work out of box for many backbones.

Note that the way you are doing above does not add FPN on top of backbones.

[2021-06-21 07:04] sahilg06 commented on #4088
Thanks, @oke-aditya! Got it! Also, I want a suggestion that should we use the adaptiveAVGpooling layer of resnet in the backbone or not?

[2021-06-21 07:09] oke-aditya commented on #4088
I'm not very sure to answer that.
I would suggest to keep Adaptive pooling layer as it allows flexible image shape.

[2021-06-21 07:11] sahilg06 commented on #4088
Okay, Thanks again!

[2021-06-21 07:11] #4088 closed

[2021-06-21 08:30] NicolasHug commented on #4085
Thanks for the report @tadejsv , we're currently facing other similar issue such as https://github.com/pytorch/vision/issues/4076 and we're working on fixing them. Hopefully fixing https://github.com/pytorch/vision/issues/4076 will solve this one as well, but if not we'll get back in touch

[2021-06-21 09:11] fmassa commented on #3843
@NicolasHug thanks for investigating this @NicolasHug !

[2021-06-21 10:23] NicolasHug commented on #4086
Hi @PkuDavidGuan , thanks for the report.

The issue here is probably that `python train.py` doesn't actually run on multiple GPUs, it just uses 1. This has an effect of the batch size, as `-b` refers to the batch size *per GPU*, and thus also has an effect on the ideal learning rate.

A more correct command would be to use e.g.
[code]

where `--nproc_per_node=4` indicates the number of GPUs. Here

[2021-06-21 10:53] NicolasHug commented on #4083
Thanks for sharing the reproducible example. A small piece of code like that is way better than sharing a notebook :)

Regarding the issue: it seems that the core problem is that

[code]

fails, which is a bit unexpected. Looking at the  `forward()` pass of `r3d_18`, there's a call to `flatten` which is not present when calling `children()`, which causes the dimension mismatch issue:

https://gith

[2021-06-21 11:46] fmassa commented on #4083
This doesn't always hold, and only works for a very limited subset of models.

A more robust way of doing this would be to rely on FX for the intermediate feature extraction https://github.com/pytorch/vision/pull/3597, but I still need to get that PR to completion.

[2021-06-21 11:55] SungmanHong commented on #4083
Thank you for helping me. I didn't know that the flatten layer was missing because I lacked detailed debugging skills, so I asked foolishly, but thank you for your kind reply.

I think, PyTorch was good because we are able to selectively import the layers by `nn.Sequential(*list(model.children())`. For example, When we are doing transfer learning on images or videos, choosing to import the selecti

[2021-06-21 12:00] #4086 closed

[2021-06-21 12:38] tflahaul commented on #3817
Not a transform idea but what about adding an optional 'target_transforms' argument in `transforms.RandomApply`? That way random imgs transforms and their targets equivalents could be applied at the same time.
The current way of doing so (from what I know) is by writing your own class and using functional transforms. For example :

[code]

Also having a lot more keypoints/bbox transforms would be

[2021-06-21 12:48] NicolasHug commented on #4071
@egonuel Could you please detail the command that you run and that's now working?

When I run  `conda create -n test python=3.9 pytorch torchvision cudatoolkit=11.1 -c pytorch -c nvidia`, I still get torchvision 0.2.2, so it seems that not everything is fixed yet

[2021-06-21 12:52] NicolasHug commented on #4083
Thanks for the feedback @SungmanHong , you're right that ideally model ablation / tweaking could be a bit easier. As @fmassa  mentioned, hopefully  #3597 will make this easier and will be available in the next release. We'll make sure to write good docs to explain how to perform that.

Since the original problem is resolved here, I'll close the issue if you don't mind

[2021-06-21 12:52] #4083 closed

[2021-06-21 14:24] fmassa commented on #4056
Hi,

Note that replacing the `nn.Linear()` with a 1x1 convolution wouldn't yield the same result. You would need a convolution kernel of size `[resolution, resolution]` size, see https://github.com/pytorch/vision/blob/11480973385719f0eaba6247e65e149867a0b66a/torchvision/models/detection/faster_rcnn.py#L213
But at this point there is really no need of a convolution, and it's just clearer to use a L

[2021-06-21 14:24] #4056 closed

[2021-06-21 14:25] egonuel commented on #4071
@NicolasHug mmhh, this seems to be a different issue. When I run the line you posted on my machine, everything is fine and 0.10.0 is being installed

[2021-06-21 14:27] #4052 closed

[2021-06-21 14:29] fmassa commented on #4029
@vadimkantorov I think adding a `rgb2lab` would be nice in principle, but the current issue I see with it is that there is no way for the library to know if the input tensor that you are passing is indeed in `rgb` colorspace. So you can silently get wrong results if you are not careful.
As of now, torchvision assumes that the tensor is either in RGB or grayscale space, and don't try to make any fu

[2021-06-21 14:29] malfet commented on #4071
I think difference can be explained by presence/absence of `conda-forge` in ones `.condarc`. I got the repro after removing conda-forge dependency, but than fixed it by enabling it in the install command as follows:
[code]

[2021-06-21 15:01] fmassa commented on #3666
Fixed in #3813

[2021-06-21 15:01] #3666 closed

[2021-06-21 16:42] vadimkantorov commented on #4029
I think it's not a problem per se, as we almost do not encode semantics into the tensor type system in PyTorch, in the goal of being flexible and letting users quickly build on things. Same for NumPy.

This problem persists with OpenCV returning BGR images, but it's up to users to remember to convert if this is needed.

In my own practice, I use suffix notation to bring extra attention to semantic

[2021-06-22 02:03] developer0hye opened #4091 "Unnecessary call .clone() in box_convert function"
https://github.com/pytorch/vision/blob/d391a0e992a35d7fb01e11110e2ccf8e445ad8a0/torchvision/ops/boxes.py#L183-L184

We can just return boxes without .clone().

What's this purpose?

[2021-06-22 02:48] KouWeiBin opened #4093 "failed to call model.forward() of faster rcnn"
## 🐛 Bug
[code]

## To Reproduce

Steps to reproduce the behavior:

1. train model using faster rcnn
2. convert the model to script model
3. load he model in qt successfully
4. it occurs a error when call function model.forward(inputs)

[code]

## Expected behavior

can work well

## Environment

Please copy and paste the output from our
[environment collection script](https://raw.githubuserconten

[2021-06-22 07:24] abedicodes commented on #4044
Unfortunately, It doesn't work. I tried stable and nightly, I installed it using pip3. The stable version (of the torchvision) can not see GPU. The nightly version (of the torchvision) can see GPU. But, during training, I get different errors. I can not use any pre-trained model, and other errors like this:

MIOpen Error: /MIOpen/src/sqlite_db.cpp:107: open memvfs: unable to open database file
Tra

[2021-06-22 07:59] tflahaul commented on #4091
Pretty sure it's a choice of design as `box_convert` (and many other functions) are not meant to be inplace and should therefore always return a new tensor. Worth checking though.

[2021-06-22 08:16] NicolasHug commented on #4076
@nexplor would you mind trying again to check if the error persists? Hopefully #4082 (now merged) will have fixed the issue

[2021-06-22 08:21] NicolasHug commented on #4091
Thanks for the report @developer0hye . Indeed this is by design, as noted by @tflahaul and in the PR, we always copy the boxes to avoid surprises and to have a consistent interface.

[2021-06-22 08:21] #4091 closed

[2021-06-22 09:10] developer0hye commented on #4091
@tflahaul  @NicolasHug

Thanks for your review!

[2021-06-22 09:19] fmassa commented on #4093
Hi,

I think you might have installed the CPU version of torchvision when running it in C++, can you double-check?

[2021-06-22 09:44] KouWeiBin commented on #4093
actually I have checked it and its .so list can be checked as follow:
(script) kevin@wbkou:/usr/local/torchvision/lib$ ldd libtorchvision.so
	linux-vdso.so.1 (0x00007ffdfb5c3000)
	libtorch.so => /usr/local/libtorch/lib/libtorch.so (0x00007f31f2b79000)
	libc10.so => /usr/local/libtorch/lib/libc10.so (0x00007f31f2901000)
	libcuda.so.1 => /lib/x86_64-linux-gnu/libcuda.so.1 (0x00007f31f11fe000)
	libnv

[2021-06-22 17:18] nisheethlahoti commented on #4076
I checked again, and the issue still persists. I can install torchvision 0.9.0 with pytorch 1.8.0, but no newer combination of versions (torchvision 0.10.0 with pytorch 1.9.0 still throws an error)

[2021-06-22 17:20] nexplor commented on #4076
I checked again, and the issue still persists. I can install torchvision 0.9.0 with pytorch 1.8.0, but no newer combination of versions (torchvision 0.10.0 with pytorch 1.9.0 still throws an error)

[2021-06-22 17:23] nexplor commented on #4076
To clarify, these aren't possible to install together with opencv. Without opencv, these two versions can be installed together.

[2021-06-22 17:47] farleylai commented on #4076
The dependency of `jpeg <= 9b` remains to conflict with `opencv>=4` which requires `jpeg>=9d` through `libopencv`.

[2021-06-23 16:19] bryant1410 opened #4103 "Conda package should support pillow-simd"
## 🐛 Bug

`torchvision` Conda package, at least with v0.10.0, depends on `pillow`, which complicates using pillow-SIMD.

## To Reproduce

Steps to reproduce the behavior:

1. Install torchvision with Conda.
2. Try to uninstall pillow, but would try to uninstall torchvision. Alternatively, you can do `conda remove --force pillow` to only remove it, but the environment will be in an inconsistent sta

[2021-06-23 18:33] bryant1410 commented on #4103
Another workaround: https://github.com/uploadcare/pillow-simd/issues/44#issuecomment-447416039 (creating a conda package of pillow-SIMD from the source called `pillow`). Though it didn't work fine for me. Seems to require more configuration changes.

[2021-06-24 06:37] jaffe-fly opened #4104 "whats diff in this code ```try....except```"
https://github.com/pytorch/vision/blob/d1ab583d0d2df73208e2fc9c4d3a84e969c69b70/torchvision/_internally_replaced_utils.py#L13

![image](https://user-images.githubusercontent.com/49515380/123214308-a24f8e00-d4f9-11eb-90fc-6deddf8e3926.png)

except code also use torch.hub,its same as try code!!!

why do like this?

[2021-06-24 06:50] oke-aditya commented on #4104
I think this because of internal FB usage of torchvision.
Have a look at #4072

[code]

Note that this file is `_` file so it is for internal use and not exposed as API.

[2021-06-24 07:02] jaffe-fly commented on #4104
thanks

[2021-06-24 07:02] #4104 closed

[2021-06-24 07:04] flystarhe opened #4105 "Hi, why rate is two times with paper"
https://github.com/pytorch/vision/blob/d1ab583d0d2df73208e2fc9c4d3a84e969c69b70/torchvision/models/segmentation/deeplabv3.py#L32

[code]

[2021-06-24 09:52] NicolasHug commented on #3613
Closing, since with #4101 torchvision will now fail gracefully.

@fmassa should we open another issue to keep track of the progress on support for pngs with more than 8 bits ?

[2021-06-24 09:52] #3613 closed

[2021-06-24 10:15] douglasrizzo opened #4106 "Documentation confusing on whether SSD and RetinaNet count background as class object"
The documentation for the `SSD` class mentions that we should not count the background as an object class when passing the number of classes as a parameter to instantiate an SSD object.

https://github.com/pytorch/vision/blob/959666891589c35e6d225943253f523cffbae4cc/torchvision/models/detection/ssd.py#L144

However, further down in the same file, an SSD object is instantiated in a function that ex

[2021-06-24 11:13] fmassa commented on #3613
@NicolasHug yes, it would be good to have an issue to track supporting pngs with more than 8 bits.

[2021-06-24 11:18] NicolasHug opened #4107 "Support pngs with more than 8 bits"
We support 1-bit pngs and 8-bits pngs, but we explicitly don't support 16-bits or 32-bits pngs (see https://github.com/pytorch/vision/issues/3613). It would be good to add support for those images.

[2021-06-24 12:28] ORippler opened #4108 "Downloads from Google Drive return empty files / are still broken"
## 🐛 Bug

All downloaded files are empty when downloading from google Drive via `torchvision.utils.download_file_from_google_drive` (or methods that resolve to this function, e.g. `download_url`)

## To Reproduce

Steps to reproduce the behavior:

1. install torchvision (tested with `master` branch at 959666891589c35e6d225943253f523cffbae4cc)
2. Run code below
[code]
3. Afterwards, both `101_Objec

[2021-06-24 14:56] wztdream opened #4111 "torchvision.ImageFolder type hint need update to include Path type"
The type hint of `root` in ImageFolder in torchvion is `str`, but it also support `pathlib.Path` type, this will result in [pyright warning,](https://github.com/microsoft/pyright/issues/2028#issuecomment-867341879) so seems we should update the type hint to `root: str | Path`?
[code]

[2021-06-24 15:27] YanCote opened #4112 "UCF101: Dataloader Fail on assertion"
## 🐛 Bug

When loading UCF101 with different value of frames_per_clip and step_between_clips, it often yield frames_per_clip + 1 images which results in the following assertion to fail:

[code]

## Code To Reproduce

[code]

### Steps to reproduce the behavior:

1. Download [UCF101](https://www.crcv.ucf.edu/data/UCF101.php)
2. Modify ucf_loc and run the code included above

### stack trace

Origin

[2021-06-24 15:48] fmassa commented on #4112
This is probably related to https://github.com/pytorch/vision/pull/3791, as now when using `sec` to index into the video, there are rounding errors which leads to the error.

cc @prabhat00155 @bjuncek I've brought this potential problem during our call a few weeks ago, we should fix it

[2021-06-24 16:44] #4108 closed

[2021-06-24 16:55] ORippler commented on #2992
@pmeier want to close this since #4109 was merged? Or leave it open to track and properly fix gdrive download longterm via making use of `response.status_code`

[2021-06-24 19:05] pmeier commented on #2992
@ORippler, this was fixed in #4109 so it should be closed. Thanks for the ping!

[2021-06-24 19:05] #2992 closed

[2021-06-25 02:08] YYangZiXin commented on #1757
I meet same problem as @KaiyuYue ,  for ResNet-50 I only got 75.806% with default settings , how to reproduce the torchvision.models performances ? @fmassa

[2021-06-25 05:51] YYangZiXin opened #4115 "Again details about how pretrained models are trained?"
1. I use [v0.5.0/references](https://github.com/pytorch/vision/blob/build/v0.5.0/references/classification/train.py) to train a resnet50 wirth defalut config. But, I got Best_val Top1=75.806%, which has a gap of 0.3% about the pretrained model. How can I to repreduce your accuracy ?
2. I notice you said you use you recompute the batch norm statistics after training, can you show more details?

[2021-06-25 07:42] Borda opened #4117 "publish nightly v0.11 to Conda channel `pytorch-nightly`"
## 🚀 Feature

I would kindly request if you can update the latest nightly to Conda

## Motivation

We are going to test some against future Pytorch v1.10 but we also need to have a TV for these test and as TV is fixed to a particular PT version with the latest TV revert PT to v1.9

## Pitch

simple testing against future versions

## Alternatives

mixing conda and pypi sources

## Additional conte

[2021-06-25 09:09] YYangZiXin commented on #4115
The lr_scheduler in your scripts decay lr at 30,60,90epoch ,but you have 90epochs totally.

[2021-06-25 11:17] #4063 closed

[2021-06-25 12:14] NicolasHug commented on #4117
Hi @Borda ,

we do update torchvision to the nightly channel.

Running `conda create -n new pytorch torchvision -c pytorch-nightly --verbose` on my machine will install the latest torchvision: ` torchvision        pytorch-nightly/osx-64::torchvision-0.11.0.dev20210625-py39_cpu`.

Could you please paste the output of that command, and also that of

[code]

[2021-06-25 12:15] NicolasHug commented on #4111
Hi @wztdream , thanks for the report, would you like to submit a PR to fix this?

[2021-06-25 12:47] Borda commented on #4117
ok, found it, thank you :]

[2021-06-25 12:47] #4117 closed

[2021-06-25 13:54] NicolasHug opened #4120 "CI failures everywhere"
CI is failing everywhere: https://app.circleci.com/pipelines/github/pytorch/vision/9296/workflows/74321800-c74f-4bf8-b3f9-02490fbae508/jobs/681799

This is due to torch.testing which used to raise a `pytest.UsageError` when pytest was installed (which was our case) but now uses a custom exception. I'll fix it and follow-up with them on that, hopefully they'll make it public / change it into the bu

[2021-06-25 14:51] #4120 closed

[2021-06-25 16:49] voldemortX commented on #4105
@flystarhe FYI, this could have something to do with stride.  The torchvision deeplab (if I remember correct) has output stride 8.

[2021-06-25 21:23] #3800 closed

[2021-06-25 21:23] #3606 closed

[2021-06-25 21:23] #3803 closed

[2021-06-26 10:06] ikamensh opened #4127 "Torchvision - can't extract Caltech256"
## 🐛 Bug

When I try to download Caltech256 dataset via `torchvision`, an empty file is downloaded.

`-rw-r--r--  1 ikkamens  staff     0B Jun 26 12:05 256_ObjectCategories.tar`

I get following error:

[code]

## To Reproduce

Run:
[code]

## Expected behavior

No exception, some images in the dataset in usable format.

## Environment

Collecting environment information...
PyTorch version: 1.9.0

[2021-06-26 21:49] joaqo opened #4124 "Is there a way to use images with no bounding boxes to train a FasterRCNN?"
Hi, I am currently using version 1.7.1 of pytorch with the corresponding version of torchvision. Everything is going perfect while training a FasterRCNN FPN 50 using your reference training project. That is until I added images with no bounding boxes to the training data, then the whole thing  broke down.

I need background images with no bounding boxes because the model needs to learn that certai

[2021-06-27 02:03] shakeebmurtaza opened #4128 "Add support for Caltech-UCSD Birds-200-2011 dataset"
## 🚀 Feature
I want to add support for [**Caltech-UCSD Birds-200-2011**](http://www.vision.caltech.edu/visipedia/CUB-200-2011.html) dataset  in **torchvision.datasets**.

## Motivation and Pitch

A lot of people are using **Caltech-UCSD Birds-200-2011** dataset for the evaluation of their proposed models. According to [**paperswithcode.com**](https://www.paperswithcode.com/dataset/cub-200-2011) 78

[2021-06-27 09:31] oke-aditya commented on #4124
Hi @joaqo !

Yes it is possible to use images with no bounding boxes in training data with torchvision.
This feature was implemented from release 0.6
[Here](https://github.com/pytorch/vision/releases/tag/v0.6.0) is a note on how to use it.

If you have background image with No bounding boxes at all. The boxes are assumed to be a [0, 0, 0, 0], hence the area is 0. Also the label is assumed as backg

[2021-06-27 15:27] chinglamchoi opened #4125 "Problems building Torchvision from source"
Hello, I have compiled ffmpeg version 4.2.4 from source and am trying to do `python setup.py install` after git-cloning to build Torchvision from source (Python 3.8.8, GNU/Linux 5.4.0-58-generic x86_64). However, I'm getting the following error:
[code]
How do I resolve this issue? Thanks!

[2021-06-27 15:27] joaqo commented on #4124
Hi @oke-aditya thanks for your prompt reply!

I've followed your instructions, and they work great when training on a simple gpu, but fail when using `torch.distributed.launch` for multi gpu training. I get the following error message:

[code]

Not sure what could be the issue.

[2021-06-27 15:36] oke-aditya commented on #4124
Well I don't have any experience in multi-gpu training environments. Also, I don't have resources to reproduce this.

Here are few links which might help you.
I searched for error `chunk expects at least a 1-dimensional tensor`

https://discuss.pytorch.org/t/dataparallel-multi-gpu-runtimeerror-chunk-expects-at-least-a-1-dimensional-tensor/45340
https://stackoverflow.com/questions/56177305/datapara

[2021-06-27 15:51] joaqo commented on #4124
I seem  to have fixed by inserting all the zeros in the example you linked to into arrays.

So from this:

[code]

to this:

[code]

Thanks!

[2021-06-28 05:06] oke-aditya commented on #4029
If I understand the problem correctly. In torchvision it is assumed that the colorspace is `RGB` .
I think if we provide conversions from `RGB` to other colorspaces and vice versa it would work.

We need to add documentation saying that all the transforms work on RGB Colorspace only and we do not support any other.

This is something we faced earlier in bbox conversions, and we followed `xyxy` ass

[2021-06-28 05:11] pmeier commented on #4127
Duplicate of #4108, which was fixed in #4109.

[2021-06-28 05:11] #4127 closed

[2021-06-28 07:31] vadimkantorov commented on #4029
I think many transforms actually don't care about the input color space and support everything.

Yes, it would be good to add notes to the docs about supported color spaces. But even if it's said somewhere in the docs that the transforms were designed for RGB. And then there're manual color space conversion utils on the side, it would be sufficient and not cause confusion, as long as the image loa

[2021-06-28 07:59] sharjeelanjum opened #4129 "Attempted relative import with no known parent package"
Hello, I have cloned the repository on my system to run the resnet.py file to check the results on CIFAR10 dataset (by default) that is used in the ADDITIVE POWERS-OF-TWO QUANTIZATION: AN EFFICIENT NON-UNIFORM DISCRETIZATION FOR NEURAL NETWORKS published paper but it shows an "error internally_replaced_utils import load_state_dict_from_url
ImportError: attempted relative import with no known paren

[2021-06-28 08:16] NicolasHug commented on #4129
Hi @sharjeelanjum , could you please provide a minimal reproducible example with the full stack trace please?

[2021-06-28 08:23] sharjeelanjum commented on #4129
Thanks for your quick response, actually I am, following this published paper https://arxiv.org/abs/1909.13144 , and the professor ordered me to run this model to compare the results with the results of the authors mentioned in this paper. According to the read file of the github repository, set all the requirements but getting an error which can be seen in the following screenshot when try to run

[2021-06-28 08:24] NicolasHug commented on #4029
I'm curious about the use-case for this, @vadimkantorov could you describe a bit more why this would be useful to you?

I assume that passing a LAB color into a pretrained model would lead to invalid predictions, so I guess this would only be for  new training experiments?

[2021-06-28 08:28] vadimkantorov commented on #4029
You are right. Of course it would be invalid to put in LAB image into a RGB-trained model.

My usecase is this: reimplement SLIC superpixels extraction in PyTorch, this requires rgb2lab

[2021-06-28 08:32] NicolasHug commented on #4124
@joaqo could you provide a minimal reproducing example that works on GPU but fails on distributed? This could be a bug

[2021-06-28 08:33] NicolasHug commented on #4125
I'm not too familiar with this but it seems that the culprit is:

```/home/user/anaconda3/compiler_compat/ld: /usr/local/lib/libavcodec.a(vc1dsp_mmx.o): relocation R_X86_64_PC32 against symbol `ff_pw_9' can not be used when making a shared object; recompile with -fPIC```

Have you tried to recompile with `-fPIC`?

[2021-06-28 08:36] NicolasHug commented on #4129
it looks like you copy/pasted the resnet.py file out of the torchvision package into another folder?

[2021-06-28 08:42] sharjeelanjum commented on #4129
yes it looks likes that, but actually, I did not change anything just cloned the GitHub repository, run the setup.py file after installing torch and then went in the model's folder and run the file. sorry for the silly explanation. (New student)

[2021-06-28 08:44] chinglamchoi commented on #4125
I'm having trouble finding the line of code where `libavcodec.a` is compiled. I dug through the files in the torchvision source but couldn't find it. Do you know where I can add the `-fPIC` option?

[2021-06-28 08:48] NicolasHug commented on #4125
I believe that this is a flag to pass when you complied ffmpeg from source

[2021-06-28 08:51] NicolasHug commented on #4129
oh, I see.

what are you trying to achieve exactlty?

Because https://github.com/pytorch/vision/blob/master/torchvision/models/resnet.py is just a file that defines classes and function, but it doesn't run anything.

If you want to use stuff from this file, you should create a completely separate file, outside of the torchvision directory, install torhvision, and then you can import stuff e.g.

[c

[2021-06-28 08:56] sharjeelanjum commented on #4129
oh, I got it, you mean I have to create another python file and load this model and perform inference. right?
Here is the main task I want to perform:

Assignment:
1.	Please read the attached paper “Additive Powers-of-Two Quantization: An Efficient Non-uniform Discretization for Neural Networks” in detail. Understand the idea behind this quantization method and study the code provided by the autho

[2021-06-28 09:00] NicolasHug commented on #4129
Yes

Since this isn't a torchvision-related issue, I'll close this one if you don't mind.

As a good starting point regarding creating the files etc, you can look e.g. at https://github.com/pytorch/vision/blob/master/references/classification/train.py

[2021-06-28 09:00] #4129 closed

[2021-06-28 09:05] sharjeelanjum commented on #4129
Thanks for your cooperation

[2021-06-28 09:54] NicolasHug commented on #4029
Thanks for the feedback!

If we consider that interpolation works the same in RGB and in Lab, it's true that most transforms don't make a strong assumption w.r.t. the color space, except maybe stuff like ColorJitter or ToGrayScale.

But as noted above, there aren't just transforms: there are also operators and models, and at the moment literally everything in torchvision is built with RGB/Grayscal

[2021-06-28 09:54] chinglamchoi commented on #4125
Ah I see, thanks a lot. I used `./configure --enable-shared` while compiling ffmpeg from source (due to the static library). However, I still could not compile torchvision from source with ffmpeg support (although ffmpeg was found) and got the error `RuntimeError: Not compiled with video_reader support, to enable video_reader support, please install ffmpeg (version 4.2 is currently supported) andb

[2021-06-28 09:58] NicolasHug commented on #4125
The way torchvision decides whether it should build with  ffmpeg  support is:

https://github.com/pytorch/vision/blob/d9633fc940faabdd73eb61232011a22de9095ca0/setup.py#L348-L349

After you compiled ffmpeg from source, make sure the executable is discoverable in your $PATH. Perhaps do
`export PATH=<path of the ffmpeg binary>:$PATH`
and try compiling torchvision again?

[2021-06-28 10:45] vadimkantorov commented on #4029
Well, one also does not have explicit need for drawing bounding boxes within the library (and yet it is was merged in). I think this argument is not very valid. At the end, torchvision is supposed to help users with standardized ways of doing very frequent chores in comptuer vision tasks. Reference implementation of color space transformation is one of these (and it's available in OpenCV since its